Resources/canonical_library/wsdl/API.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://example.com/wsdl" xmlns="http://schemas.xmlsoap.org/wsdl/">
	<types>
		<xs:schema xmlns:tns="http://example.com/schemas" targetNamespace="http://example.com/schemas" xmlns:xs="http://www.w3.org/2001/XMLSchema">
			<xs:element name="Configuration">
				<xs:complexType>
					<xs:sequence>
						<xs:element minOccurs="0" name="kbId">
							<xs:simpleType>
								<xs:restriction base="xs:integer" />
							</xs:simpleType>
						</xs:element>
						<xs:element minOccurs="0" name="kbBuild">
							<xs:simpleType>
								<xs:restriction base="xs:integer" />
							</xs:simpleType>
						</xs:element>
						<xs:element minOccurs="0" name="consistent" type="xs:boolean" />
						<xs:element minOccurs="0" name="complete" type="xs:boolean" />
						<xs:element minOccurs="0" name="rootItem" type="tns:RootItem" />
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:complexType name="RootItem">
				<xs:sequence>
					<xs:element minOccurs="0" name="bomPosition">
						<xs:simpleType>
							<xs:restriction base="xs:string" />
						</xs:simpleType>
					</xs:element>
					<xs:element minOccurs="0" name="bomPositionAuthor">
						<xs:simpleType>
							<xs:restriction base="xs:string" />
						</xs:simpleType>
					</xs:element>
					<xs:element minOccurs="0" name="bomPositionObjectKey" type="tns:BomPositionObjectKey" />
					<xs:element minOccurs="0" maxOccurs="unbounded" name="characteristics" type="tns:Characteristic" />
					<xs:element minOccurs="0" name="complete" type="xs:boolean" />
					<xs:element minOccurs="0" name="consistent" type="xs:boolean" />
					<xs:element minOccurs="0" name="id">
						<xs:simpleType>
							<xs:restriction base="xs:string" />
						</xs:simpleType>
					</xs:element>
					<xs:element minOccurs="0" name="objectKey" type="tns:ObjectKey" />
					<xs:element minOccurs="0" name="objectKeyAuthor">
						<xs:simpleType>
							<xs:restriction base="xs:string" />
						</xs:simpleType>
					</xs:element>
					<xs:element minOccurs="0" name="productKey">
						<xs:simpleType>
							<xs:restriction base="xs:string" />
						</xs:simpleType>
					</xs:element>
					<xs:element minOccurs="0" name="productType">
						<xs:simpleType>
							<xs:restriction base="xs:string" />
						</xs:simpleType>
					</xs:element>
					<xs:element minOccurs="0" name="quantity" type="tns:Quantity" />
					<xs:element minOccurs="0" name="salesRelevant" type="xs:boolean" />
					<xs:element minOccurs="0" maxOccurs="unbounded" name="subItems" type="tns:SubItem" />
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="BomPositionObjectKey">
				<xs:sequence>
					<xs:element minOccurs="0" name="id">
						<xs:simpleType>
							<xs:restriction base="xs:string" />
						</xs:simpleType>
					</xs:element>
					<xs:element minOccurs="0" name="type">
						<xs:simpleType>
							<xs:restriction base="xs:string" />
						</xs:simpleType>
					</xs:element>
					<xs:element minOccurs="0" name="classType">
						<xs:simpleType>
							<xs:restriction base="xs:string" />
						</xs:simpleType>
					</xs:element>
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="Characteristic">
				<xs:sequence>
					<xs:element minOccurs="0" name="id">
						<xs:simpleType>
							<xs:restriction base="xs:string" />
						</xs:simpleType>
					</xs:element>
					<xs:element minOccurs="0" maxOccurs="unbounded" name="values" type="tns:Value" />
					<xs:element minOccurs="0" name="name">
						<xs:simpleType>
							<xs:restriction base="xs:string" />
						</xs:simpleType>
					</xs:element>
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="Value">
				<xs:sequence>
					<xs:element minOccurs="0" name="value">
						<xs:simpleType>
							<xs:restriction base="xs:string" />
						</xs:simpleType>
					</xs:element>
					<xs:element minOccurs="0" name="author">
						<xs:simpleType>
							<xs:restriction base="xs:string" />
						</xs:simpleType>
					</xs:element>
					<xs:element minOccurs="0" name="name">
						<xs:simpleType>
							<xs:restriction base="xs:string" />
						</xs:simpleType>
					</xs:element>
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="ObjectKey">
				<xs:sequence>
					<xs:element minOccurs="0" name="id">
						<xs:simpleType>
							<xs:restriction base="xs:string" />
						</xs:simpleType>
					</xs:element>
					<xs:element minOccurs="0" name="type">
						<xs:simpleType>
							<xs:restriction base="xs:string" />
						</xs:simpleType>
					</xs:element>
					<xs:element minOccurs="0" name="classType">
						<xs:simpleType>
							<xs:restriction base="xs:string" />
						</xs:simpleType>
					</xs:element>
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="Quantity">
				<xs:sequence>
					<xs:element minOccurs="0" name="value">
						<xs:simpleType>
							<xs:restriction base="xs:double" />
						</xs:simpleType>
					</xs:element>
					<xs:element minOccurs="0" name="unit">
						<xs:simpleType>
							<xs:restriction base="xs:string" />
						</xs:simpleType>
					</xs:element>
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="SubItem">
				<xs:sequence>
					<xs:element minOccurs="0" name="bomPosition">
						<xs:simpleType>
							<xs:restriction base="xs:string" />
						</xs:simpleType>
					</xs:element>
					<xs:element minOccurs="0" name="bomPositionAuthor">
						<xs:simpleType>
							<xs:restriction base="xs:string" />
						</xs:simpleType>
					</xs:element>
					<xs:element minOccurs="0" name="bomPositionObjectKey" type="tns:BomPositionObjectKey" />
					<xs:element minOccurs="0" maxOccurs="unbounded" name="characteristics" type="tns:Characteristic" />
					<xs:element minOccurs="0" name="complete" type="xs:boolean" />
					<xs:element minOccurs="0" name="consistent" type="xs:boolean" />
					<xs:element minOccurs="0" name="id">
						<xs:simpleType>
							<xs:restriction base="xs:string" />
						</xs:simpleType>
					</xs:element>
					<xs:element minOccurs="0" name="objectKey" type="tns:ObjectKey" />
					<xs:element minOccurs="0" name="objectKeyAuthor">
						<xs:simpleType>
							<xs:restriction base="xs:string" />
						</xs:simpleType>
					</xs:element>
					<xs:element minOccurs="0" name="productKey">
						<xs:simpleType>
							<xs:restriction base="xs:string" />
						</xs:simpleType>
					</xs:element>
					<xs:element minOccurs="0" name="productType">
						<xs:simpleType>
							<xs:restriction base="xs:string" />
						</xs:simpleType>
					</xs:element>
					<xs:element minOccurs="0" name="quantity" type="tns:Quantity" />
					<xs:element minOccurs="0" name="salesRelevant" type="xs:boolean" />
					<xs:element minOccurs="0" maxOccurs="unbounded" name="subItems" type="tns:SubItem1" />
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="SubItem1">
				<xs:sequence>
					<xs:element minOccurs="0" name="bomPosition">
						<xs:simpleType>
							<xs:restriction base="xs:string" />
						</xs:simpleType>
					</xs:element>
					<xs:element minOccurs="0" name="bomPositionAuthor">
						<xs:simpleType>
							<xs:restriction base="xs:string" />
						</xs:simpleType>
					</xs:element>
					<xs:element minOccurs="0" name="bomPositionObjectKey" type="tns:BomPositionObjectKey" />
					<xs:element minOccurs="0" maxOccurs="unbounded" name="characteristics" type="tns:Characteristic" />
					<xs:element minOccurs="0" name="complete" type="xs:boolean" />
					<xs:element minOccurs="0" name="consistent" type="xs:boolean" />
					<xs:element minOccurs="0" name="id">
						<xs:simpleType>
							<xs:restriction base="xs:string" />
						</xs:simpleType>
					</xs:element>
					<xs:element minOccurs="0" name="objectKey" type="tns:ObjectKey" />
					<xs:element minOccurs="0" name="objectKeyAuthor">
						<xs:simpleType>
							<xs:restriction base="xs:string" />
						</xs:simpleType>
					</xs:element>
					<xs:element minOccurs="0" name="productKey">
						<xs:simpleType>
							<xs:restriction base="xs:string" />
						</xs:simpleType>
					</xs:element>
					<xs:element minOccurs="0" name="productType">
						<xs:simpleType>
							<xs:restriction base="xs:string" />
						</xs:simpleType>
					</xs:element>
					<xs:element minOccurs="0" name="quantity" type="tns:Quantity" />
					<xs:element minOccurs="0" name="salesRelevant" type="xs:boolean" />
					<xs:element minOccurs="0" maxOccurs="unbounded" name="subItems" type="tns:SubItem2" />
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="SubItem2">
				<xs:sequence>
					<xs:element minOccurs="0" name="bomPosition">
						<xs:simpleType>
							<xs:restriction base="xs:string" />
						</xs:simpleType>
					</xs:element>
					<xs:element minOccurs="0" name="bomPositionAuthor">
						<xs:simpleType>
							<xs:restriction base="xs:string" />
						</xs:simpleType>
					</xs:element>
					<xs:element minOccurs="0" name="bomPositionObjectKey" type="tns:BomPositionObjectKey" />
					<xs:element minOccurs="0" maxOccurs="unbounded" name="characteristics" type="tns:Characteristic" />
					<xs:element minOccurs="0" name="complete" type="xs:boolean" />
					<xs:element minOccurs="0" name="consistent" type="xs:boolean" />
					<xs:element minOccurs="0" name="id">
						<xs:simpleType>
							<xs:restriction base="xs:string" />
						</xs:simpleType>
					</xs:element>
					<xs:element minOccurs="0" name="objectKey" type="tns:ObjectKey" />
					<xs:element minOccurs="0" name="objectKeyAuthor">
						<xs:simpleType>
							<xs:restriction base="xs:string" />
						</xs:simpleType>
					</xs:element>
					<xs:element minOccurs="0" name="productKey">
						<xs:simpleType>
							<xs:restriction base="xs:string" />
						</xs:simpleType>
					</xs:element>
					<xs:element minOccurs="0" name="productType">
						<xs:simpleType>
							<xs:restriction base="xs:string" />
						</xs:simpleType>
					</xs:element>
					<xs:element minOccurs="0" name="quantity" type="tns:Quantity" />
					<xs:element minOccurs="0" name="salesRelevant" type="xs:boolean" />
					<xs:element minOccurs="0" maxOccurs="unbounded" name="subItems" type="tns:SubItem3" />
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="SubItem3">
				<xs:sequence>
					<xs:element minOccurs="0" name="bomPosition">
						<xs:simpleType>
							<xs:restriction base="xs:string" />
						</xs:simpleType>
					</xs:element>
					<xs:element minOccurs="0" name="bomPositionAuthor">
						<xs:simpleType>
							<xs:restriction base="xs:string" />
						</xs:simpleType>
					</xs:element>
					<xs:element minOccurs="0" name="bomPositionObjectKey" type="tns:BomPositionObjectKey" />
					<xs:element minOccurs="0" maxOccurs="unbounded" name="characteristics" type="tns:Characteristic" />
					<xs:element minOccurs="0" name="complete" type="xs:boolean" />
					<xs:element minOccurs="0" name="consistent" type="xs:boolean" />
					<xs:element minOccurs="0" name="id">
						<xs:simpleType>
							<xs:restriction base="xs:string" />
						</xs:simpleType>
					</xs:element>
					<xs:element minOccurs="0" name="objectKey" type="tns:ObjectKey" />
					<xs:element minOccurs="0" name="objectKeyAuthor">
						<xs:simpleType>
							<xs:restriction base="xs:string" />
						</xs:simpleType>
					</xs:element>
					<xs:element minOccurs="0" name="productKey">
						<xs:simpleType>
							<xs:restriction base="xs:string" />
						</xs:simpleType>
					</xs:element>
					<xs:element minOccurs="0" name="productType">
						<xs:simpleType>
							<xs:restriction base="xs:string" />
						</xs:simpleType>
					</xs:element>
					<xs:element minOccurs="0" name="quantity" type="tns:Quantity" />
					<xs:element minOccurs="0" name="salesRelevant" type="xs:boolean" />
					<xs:element minOccurs="0" maxOccurs="unbounded" name="subItems">
						<xs:simpleType>
							<xs:restriction base="xs:string" />
						</xs:simpleType>
					</xs:element>
				</xs:sequence>
			</xs:complexType>
		</xs:schema>
	</types>
	<message name="Configuration">
		<part name="Configuration" element="xsd:Configuration" />
	</message>
	<portType name="API_PortType" />
	<binding name="API_Binding" xmlns:q1="http://example.com/wsdl" type="q1:API_PortType">
		<soap:binding transport="http://schemas.xmlsoap.org/soap/http" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" />
	</binding>
	<service name="API">
		<documentation />
		<port name="default_Port" xmlns:q2="http://example.com/wsdl" binding="q2:API_Binding">
			<soap:address location="http://example.com" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" />
		</port>
	</service>
</definitions>