Resources/canonical_library/wsdl/AreaID_21.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="ERP_COD_Utilities_Tech_Objects_Repl_MT_OB" targetNamespace="http://sap.com/xi/CODERINT" xmlns:p1="http://sap.com/xi/CODERINT" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
	<wsdl:documentation/>
	<wsdl:types>
		<xsd:schema targetNamespace="http://sap.com/xi/CODERINT" xmlns="http://sap.com/xi/CODERINT" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:p4="http://sap.com/xi/SAPGlobal/GDT">
			<xsd:import namespace="http://sap.com/xi/SAPGlobal/GDT"/>
			<xsd:element name="ERP_COD_Utilities_Tech_Objects_Repl_MT_OB" type="Utilities_Techincal_Objects_Repl_DT_OB"/>
			<xsd:simpleType name="ActionCode">
				<xsd:annotation>
					<xsd:appinfo source="http://sap.com/xi/VersionID">82484b33aabc11e4aa18000033b6d7f2</xsd:appinfo>
					<xsd:appinfo source="http://sap.com/esi/RepresentationTerm">Code</xsd:appinfo>
					<xsd:appinfo source="http://sap.com/esi/FixedValues">true</xsd:appinfo>
				</xsd:annotation>
				<xsd:restriction base="xsd:token">
					<xsd:length value="2"/>
					<xsd:enumeration value="01"/>
					<xsd:enumeration value="02"/>
					<xsd:enumeration value="03"/>
					<xsd:enumeration value="04"/>
					<xsd:enumeration value="05"/>
					<xsd:enumeration value="06"/>
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:complexType name="Utilities_POD_Extension_DT">
				<xsd:annotation>
					<xsd:documentation xml:lang="EN">Utilities Generic Extension Structure</xsd:documentation>
					<xsd:appinfo source="http://sap.com/xi/VersionID">30049f4e5feb11e89f30000033b6d7f2</xsd:appinfo>
				</xsd:annotation>
				<xsd:sequence>
					<xsd:element name="Field_Name" type="xsd:string" minOccurs="0">
						<xsd:annotation>
							<xsd:appinfo source="http://sap.com/xi/TextID">0a153a0454fb11e89c07507b9defe936</xsd:appinfo>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="Field_Value" type="xsd:string" minOccurs="0">
						<xsd:annotation>
							<xsd:appinfo source="http://sap.com/xi/TextID">0a153a0554fb11e8a5f9507b9defe936</xsd:appinfo>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="Utilities_Conn_Obj_Extension_DT">
				<xsd:annotation>
					<xsd:documentation xml:lang="EN">Utilities Generic Extension Structure</xsd:documentation>
					<xsd:appinfo source="http://sap.com/xi/VersionID">e408a0ce5fea11e88137000033b6d7f2</xsd:appinfo>
				</xsd:annotation>
				<xsd:sequence>
					<xsd:element name="Field_Name" type="xsd:string" minOccurs="0">
						<xsd:annotation>
							<xsd:appinfo source="http://sap.com/xi/TextID">0a153a0454fb11e89c07507b9defe936</xsd:appinfo>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="Field_Value" type="xsd:string" minOccurs="0">
						<xsd:annotation>
							<xsd:appinfo source="http://sap.com/xi/TextID">0a153a0554fb11e8a5f9507b9defe936</xsd:appinfo>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="Utilities_Premise_Extension_DT">
				<xsd:annotation>
					<xsd:documentation xml:lang="EN">Utilities Generic Extension Structure</xsd:documentation>
					<xsd:appinfo source="http://sap.com/xi/VersionID">06b1ef475feb11e8c198000033b6d7f2</xsd:appinfo>
				</xsd:annotation>
				<xsd:sequence>
					<xsd:element name="Field_Name" type="xsd:string" minOccurs="0">
						<xsd:annotation>
							<xsd:appinfo source="http://sap.com/xi/TextID">0a153a0454fb11e89c07507b9defe936</xsd:appinfo>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="Field_Value" type="xsd:string" minOccurs="0">
						<xsd:annotation>
							<xsd:appinfo source="http://sap.com/xi/TextID">0a153a0554fb11e8a5f9507b9defe936</xsd:appinfo>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="Utilities_Techincal_Objects_Repl_DT_OB">
				<xsd:annotation>
					<xsd:documentation xml:lang="EN">Utilities Techincal Master Data Replication</xsd:documentation>
					<xsd:appinfo source="http://sap.com/xi/VersionID">a5556887c2a911eb846c000033b6d7f2</xsd:appinfo>
				</xsd:annotation>
				<xsd:sequence>
					<xsd:element name="MessageHeader" minOccurs="0">
						<xsd:annotation>
							<xsd:appinfo source="http://sap.com/xi/TextID">464f748ae79211ea97de020100000587</xsd:appinfo>
						</xsd:annotation>
						<xsd:complexType>
							<xsd:sequence>
								<xsd:element name="ID" minOccurs="0">
									<xsd:annotation>
										<xsd:appinfo source="http://sap.com/xi/TextID">464f7489e79211eac467020100000587</xsd:appinfo>
									</xsd:annotation>
									<xsd:complexType>
										<xsd:simpleContent>
											<xsd:extension base="xsd:string">
												<xsd:attribute name="schemeID" type="xsd:token">
													<xsd:annotation>
														<xsd:appinfo source="http://sap.com/xi/TextID">464f7486e79211eaaa29020100000587</xsd:appinfo>
													</xsd:annotation>
												</xsd:attribute>
												<xsd:attribute name="schemeAgencyID" type="xsd:token">
													<xsd:annotation>
														<xsd:appinfo source="http://sap.com/xi/TextID">464f7487e79211ea8d8a020100000587</xsd:appinfo>
													</xsd:annotation>
												</xsd:attribute>
												<xsd:attribute name="schemeAgencySchemeAgencyID" type="xsd:token">
													<xsd:annotation>
														<xsd:appinfo source="http://sap.com/xi/TextID">464f7488e79211eab975020100000587</xsd:appinfo>
													</xsd:annotation>
												</xsd:attribute>
											</xsd:extension>
										</xsd:simpleContent>
									</xsd:complexType>
								</xsd:element>
								<xsd:element name="UUID" minOccurs="0">
									<xsd:annotation>
										<xsd:appinfo source="http://sap.com/xi/TextID">00d19647e79611ea8f82020100000587</xsd:appinfo>
									</xsd:annotation>
									<xsd:complexType>
										<xsd:simpleContent>
											<xsd:extension base="xsd:string">
												<xsd:attribute name="schemeID" type="xsd:token">
													<xsd:annotation>
														<xsd:appinfo source="http://sap.com/xi/TextID">b28941a0e79a11eab13e020100000587</xsd:appinfo>
													</xsd:annotation>
												</xsd:attribute>
												<xsd:attribute name="schemeAgencyID" type="xsd:token">
													<xsd:annotation>
														<xsd:appinfo source="http://sap.com/xi/TextID">b28941a1e79a11eac5a6020100000587</xsd:appinfo>
													</xsd:annotation>
												</xsd:attribute>
											</xsd:extension>
										</xsd:simpleContent>
									</xsd:complexType>
								</xsd:element>
								<xsd:element name="ReferenceID" minOccurs="0">
									<xsd:annotation>
										<xsd:appinfo source="http://sap.com/xi/TextID">d7ccb232e85711ea889f020100000454</xsd:appinfo>
									</xsd:annotation>
									<xsd:complexType>
										<xsd:simpleContent>
											<xsd:extension base="xsd:string">
												<xsd:attribute name="schemeID" type="xsd:token">
													<xsd:annotation>
														<xsd:appinfo source="http://sap.com/xi/TextID">85ceedfae85611eace28020100000454</xsd:appinfo>
													</xsd:annotation>
												</xsd:attribute>
												<xsd:attribute name="schemeAgencyID" type="xsd:token">
													<xsd:annotation>
														<xsd:appinfo source="http://sap.com/xi/TextID">85ceedfbe85611ea9235020100000454</xsd:appinfo>
													</xsd:annotation>
												</xsd:attribute>
												<xsd:attribute name="schemeAgencySchemeAgencyID" type="xsd:token">
													<xsd:annotation>
														<xsd:appinfo source="http://sap.com/xi/TextID">85ceedfce85611eac29f020100000454</xsd:appinfo>
													</xsd:annotation>
												</xsd:attribute>
											</xsd:extension>
										</xsd:simpleContent>
									</xsd:complexType>
								</xsd:element>
								<xsd:element name="ReferenceUUID" minOccurs="0">
									<xsd:annotation>
										<xsd:appinfo source="http://sap.com/xi/TextID">85ceedffe85611eaaa92020100000454</xsd:appinfo>
									</xsd:annotation>
									<xsd:complexType>
										<xsd:simpleContent>
											<xsd:extension base="xsd:string">
												<xsd:attribute name="schemeID" type="xsd:token">
													<xsd:annotation>
														<xsd:appinfo source="http://sap.com/xi/TextID">85ceedfde85611ea850b020100000454</xsd:appinfo>
													</xsd:annotation>
												</xsd:attribute>
												<xsd:attribute name="schemeAgencyID" type="xsd:token">
													<xsd:annotation>
														<xsd:appinfo source="http://sap.com/xi/TextID">85ceedfee85611ea8345020100000454</xsd:appinfo>
													</xsd:annotation>
												</xsd:attribute>
											</xsd:extension>
										</xsd:simpleContent>
									</xsd:complexType>
								</xsd:element>
								<xsd:element name="CreationDateTime" minOccurs="0">
									<xsd:annotation>
										<xsd:appinfo source="http://sap.com/xi/TextID">066b3ae5e85811eaa375020100000454</xsd:appinfo>
									</xsd:annotation>
									<xsd:simpleType>
										<xsd:restriction base="xsd:dateTime">
											<xsd:pattern value="[0-9]{4}-[0-9]{2}-[0-9]{2}T[0-9]{2}:[0-9]{2}:[0-9]{2}(.[0-9]{1,7})?Z"/>
										</xsd:restriction>
									</xsd:simpleType>
								</xsd:element>
								<xsd:element name="TestDataIndicator" type="xsd:string" minOccurs="0">
									<xsd:annotation>
										<xsd:appinfo source="http://sap.com/xi/TextID">066b3ae6e85811eac96c020100000454</xsd:appinfo>
									</xsd:annotation>
								</xsd:element>
								<xsd:element name="ReconciliationIndicator" type="xsd:string" minOccurs="0">
									<xsd:annotation>
										<xsd:appinfo source="http://sap.com/xi/TextID">066b3ae7e85811ea9bee020100000454</xsd:appinfo>
									</xsd:annotation>
								</xsd:element>
								<xsd:element name="SenderBusinessSystemID" type="xsd:string" minOccurs="0">
									<xsd:annotation>
										<xsd:appinfo source="http://sap.com/xi/TextID">066b3ae8e85811eacdf0020100000454</xsd:appinfo>
									</xsd:annotation>
								</xsd:element>
								<xsd:element name="RecipientBusinessSystemID" type="xsd:string" minOccurs="0">
									<xsd:annotation>
										<xsd:appinfo source="http://sap.com/xi/TextID">066b3ae9e85811ea94e3020100000454</xsd:appinfo>
									</xsd:annotation>
								</xsd:element>
								<xsd:element name="SenderParty" minOccurs="0">
									<xsd:annotation>
										<xsd:appinfo source="http://sap.com/xi/TextID">066b3aeae85811ea860f020100000454</xsd:appinfo>
									</xsd:annotation>
									<xsd:complexType>
										<xsd:sequence>
											<xsd:element name="InternalID" minOccurs="0">
												<xsd:annotation>
													<xsd:appinfo source="http://sap.com/xi/TextID">1ec3a889e85e11eaab79020100000454</xsd:appinfo>
												</xsd:annotation>
												<xsd:complexType>
													<xsd:simpleContent>
														<xsd:extension base="xsd:string">
															<xsd:attribute name="schemeID" type="xsd:token">
																<xsd:annotation>
																	<xsd:appinfo source="http://sap.com/xi/TextID">284dc994e85f11eac88f020100000454</xsd:appinfo>
																</xsd:annotation>
															</xsd:attribute>
															<xsd:attribute name="schemeAgencyID" type="xsd:token">
																<xsd:annotation>
																	<xsd:appinfo source="http://sap.com/xi/TextID">284dfcf7e85f11ea8b5f020100000454</xsd:appinfo>
																</xsd:annotation>
															</xsd:attribute>
														</xsd:extension>
													</xsd:simpleContent>
												</xsd:complexType>
											</xsd:element>
											<xsd:element name="StandardID" minOccurs="0" maxOccurs="unbounded">
												<xsd:annotation>
													<xsd:appinfo source="http://sap.com/xi/TextID">70523a1ee85f11ea973b020100000454</xsd:appinfo>
												</xsd:annotation>
												<xsd:complexType>
													<xsd:simpleContent>
														<xsd:extension base="xsd:string">
															<xsd:attribute name="schemeAgencyID" type="xsd:token">
																<xsd:annotation>
																	<xsd:appinfo source="http://sap.com/xi/TextID">70523a1de85f11eacccc020100000454</xsd:appinfo>
																</xsd:annotation>
															</xsd:attribute>
														</xsd:extension>
													</xsd:simpleContent>
												</xsd:complexType>
											</xsd:element>
											<xsd:element name="ContactPerson" minOccurs="0">
												<xsd:annotation>
													<xsd:appinfo source="http://sap.com/xi/TextID">70523a22e85f11ea8dfd020100000454</xsd:appinfo>
												</xsd:annotation>
												<xsd:complexType>
													<xsd:sequence>
														<xsd:element name="InternalID" minOccurs="0">
															<xsd:annotation>
																<xsd:appinfo source="http://sap.com/xi/TextID">70523a21e85f11eac322020100000454</xsd:appinfo>
															</xsd:annotation>
															<xsd:complexType>
																<xsd:simpleContent>
																	<xsd:extension base="xsd:string">
																		<xsd:attribute name="schemeID" type="xsd:token">
																			<xsd:annotation>
																				<xsd:appinfo source="http://sap.com/xi/TextID">70523a1fe85f11ea9645020100000454</xsd:appinfo>
																			</xsd:annotation>
																		</xsd:attribute>
																		<xsd:attribute name="schemeAgencyID" type="xsd:token">
																			<xsd:annotation>
																				<xsd:appinfo source="http://sap.com/xi/TextID">70523a20e85f11ea9d48020100000454</xsd:appinfo>
																			</xsd:annotation>
																		</xsd:attribute>
																	</xsd:extension>
																</xsd:simpleContent>
															</xsd:complexType>
														</xsd:element>
														<xsd:element name="OrganisationFormattedName" type="xsd:string" minOccurs="0">
															<xsd:annotation>
																<xsd:appinfo source="http://sap.com/xi/TextID">0caffc96e86311eaba31020100000454</xsd:appinfo>
															</xsd:annotation>
														</xsd:element>
														<xsd:element name="PersonFormattedName" type="xsd:string" minOccurs="0">
															<xsd:annotation>
																<xsd:appinfo source="http://sap.com/xi/TextID">0caffc97e86311ea9d34020100000454</xsd:appinfo>
															</xsd:annotation>
														</xsd:element>
														<xsd:element name="PhoneNumber" minOccurs="0">
															<xsd:annotation>
																<xsd:appinfo source="http://sap.com/xi/TextID">742d3cade86c11eace2e020100000454</xsd:appinfo>
															</xsd:annotation>
															<xsd:complexType>
																<xsd:sequence>
																	<xsd:element name="AreaID" type="xsd:string" minOccurs="0">
																		<xsd:annotation>
																			<xsd:appinfo source="http://sap.com/xi/TextID">742d3ca7e86c11ea993c020100000454</xsd:appinfo>
																		</xsd:annotation>
																	</xsd:element>
																	<xsd:element name="SubscriberID" type="xsd:string" minOccurs="0">
																		<xsd:annotation>
																			<xsd:appinfo source="http://sap.com/xi/TextID">742d3ca8e86c11ea9401020100000454</xsd:appinfo>
																		</xsd:annotation>
																	</xsd:element>
																	<xsd:element name="ExtensionID" type="xsd:string" minOccurs="0">
																		<xsd:annotation>
																			<xsd:appinfo source="http://sap.com/xi/TextID">742d3ca9e86c11eac901020100000454</xsd:appinfo>
																		</xsd:annotation>
																	</xsd:element>
																	<xsd:element name="CountryCode" type="xsd:string" minOccurs="0">
																		<xsd:annotation>
																			<xsd:appinfo source="http://sap.com/xi/TextID">742d3caae86c11eab27c020100000454</xsd:appinfo>
																		</xsd:annotation>
																	</xsd:element>
																	<xsd:element name="CountryDiallingCode" type="xsd:string" minOccurs="0">
																		<xsd:annotation>
																			<xsd:appinfo source="http://sap.com/xi/TextID">742d3cabe86c11eaa273020100000454</xsd:appinfo>
																		</xsd:annotation>
																	</xsd:element>
																	<xsd:element name="CountryName" minOccurs="0">
																		<xsd:annotation>
																			<xsd:appinfo source="http://sap.com/xi/TextID">492e7023e86f11eaa777020100000454</xsd:appinfo>
																		</xsd:annotation>
																		<xsd:complexType>
																			<xsd:sequence>
																				<xsd:element name="languageCode" type="xsd:string" minOccurs="0">
																					<xsd:annotation>
																						<xsd:appinfo source="http://sap.com/xi/TextID">492e7022e86f11ea9092020100000454</xsd:appinfo>
																					</xsd:annotation>
																				</xsd:element>
																			</xsd:sequence>
																		</xsd:complexType>
																	</xsd:element>
																</xsd:sequence>
															</xsd:complexType>
														</xsd:element>
														<xsd:element name="FaxNumber" minOccurs="0">
															<xsd:annotation>
																<xsd:appinfo source="http://sap.com/xi/TextID">5d116fdfe86e11ea96ff020100000454</xsd:appinfo>
															</xsd:annotation>
															<xsd:complexType>
																<xsd:sequence>
																	<xsd:element name="AreaID" type="xsd:string" minOccurs="0">
																		<xsd:annotation>
																			<xsd:appinfo source="http://sap.com/xi/TextID">5d116fdae86e11ea9623020100000454</xsd:appinfo>
																		</xsd:annotation>
																	</xsd:element>
																	<xsd:element name="SubscriberID" type="xsd:string" minOccurs="0">
																		<xsd:annotation>
																			<xsd:appinfo source="http://sap.com/xi/TextID">5d116fdbe86e11eacd4a020100000454</xsd:appinfo>
																		</xsd:annotation>
																	</xsd:element>
																	<xsd:element name="ExtensionID" type="xsd:string" minOccurs="0">
																		<xsd:annotation>
																			<xsd:appinfo source="http://sap.com/xi/TextID">5d116fdce86e11eac8bd020100000454</xsd:appinfo>
																		</xsd:annotation>
																	</xsd:element>
																	<xsd:element name="CountryCode" type="xsd:string" minOccurs="0">
																		<xsd:annotation>
																			<xsd:appinfo source="http://sap.com/xi/TextID">5d116fdde86e11ea81ac020100000454</xsd:appinfo>
																		</xsd:annotation>
																	</xsd:element>
																	<xsd:element name="CountryDiallingCode" type="xsd:string" minOccurs="0">
																		<xsd:annotation>
																			<xsd:appinfo source="http://sap.com/xi/TextID">5d116fdee86e11eac0ac020100000454</xsd:appinfo>
																		</xsd:annotation>
																	</xsd:element>
																	<xsd:element name="CountryName" minOccurs="0">
																		<xsd:annotation>
																			<xsd:appinfo source="http://sap.com/xi/TextID">492e7025e86f11ea8de8020100000454</xsd:appinfo>
																		</xsd:annotation>
																		<xsd:complexType>
																			<xsd:sequence>
																				<xsd:element name="languageCode" type="xsd:string" minOccurs="0">
																					<xsd:annotation>
																						<xsd:appinfo source="http://sap.com/xi/TextID">492e7024e86f11eaa669020100000454</xsd:appinfo>
																					</xsd:annotation>
																				</xsd:element>
																			</xsd:sequence>
																		</xsd:complexType>
																	</xsd:element>
																</xsd:sequence>
															</xsd:complexType>
														</xsd:element>
														<xsd:element name="EmailURI" minOccurs="0">
															<xsd:annotation>
																<xsd:appinfo source="http://sap.com/xi/TextID">742d50c2e86c11eac9dd020100000454</xsd:appinfo>
															</xsd:annotation>
															<xsd:complexType>
																<xsd:attribute name="schemeID" type="xsd:token">
																	<xsd:annotation>
																		<xsd:appinfo source="http://sap.com/xi/TextID">492e7026e86f11eacaf8020100000454</xsd:appinfo>
																	</xsd:annotation>
																</xsd:attribute>
															</xsd:complexType>
														</xsd:element>
													</xsd:sequence>
												</xsd:complexType>
											</xsd:element>
										</xsd:sequence>
									</xsd:complexType>
								</xsd:element>
								<xsd:element name="RecipientParty" minOccurs="0" maxOccurs="unbounded">
									<xsd:annotation>
										<xsd:appinfo source="http://sap.com/xi/TextID">5d11f35de86e11ea9143020100000454</xsd:appinfo>
									</xsd:annotation>
									<xsd:complexType>
										<xsd:sequence>
											<xsd:element name="InternalID" minOccurs="0">
												<xsd:annotation>
													<xsd:appinfo source="http://sap.com/xi/TextID">5d119026e86e11ea9264020100000454</xsd:appinfo>
												</xsd:annotation>
												<xsd:complexType>
													<xsd:simpleContent>
														<xsd:extension base="xsd:string">
															<xsd:attribute name="schemeID" type="xsd:token">
																<xsd:annotation>
																	<xsd:appinfo source="http://sap.com/xi/TextID">5d119024e86e11eac342020100000454</xsd:appinfo>
																</xsd:annotation>
															</xsd:attribute>
															<xsd:attribute name="schemeAgencyID" type="xsd:token">
																<xsd:annotation>
																	<xsd:appinfo source="http://sap.com/xi/TextID">5d119025e86e11eacd37020100000454</xsd:appinfo>
																</xsd:annotation>
															</xsd:attribute>
														</xsd:extension>
													</xsd:simpleContent>
												</xsd:complexType>
											</xsd:element>
											<xsd:element name="StandardID" minOccurs="0" maxOccurs="unbounded">
												<xsd:annotation>
													<xsd:appinfo source="http://sap.com/xi/TextID">5d11d0fce86e11eabdc1020100000454</xsd:appinfo>
												</xsd:annotation>
												<xsd:complexType>
													<xsd:simpleContent>
														<xsd:extension base="xsd:string">
															<xsd:attribute name="schemeAgencyID" type="xsd:token">
																<xsd:annotation>
																	<xsd:appinfo source="http://sap.com/xi/TextID">5d11d0fbe86e11eab278020100000454</xsd:appinfo>
																</xsd:annotation>
															</xsd:attribute>
														</xsd:extension>
													</xsd:simpleContent>
												</xsd:complexType>
											</xsd:element>
											<xsd:element name="ContactPerson" minOccurs="0">
												<xsd:annotation>
													<xsd:appinfo source="http://sap.com/xi/TextID">5d11f35ce86e11ea92c9020100000454</xsd:appinfo>
												</xsd:annotation>
												<xsd:complexType>
													<xsd:sequence>
														<xsd:element name="InternalID" minOccurs="0">
															<xsd:annotation>
																<xsd:appinfo source="http://sap.com/xi/TextID">5d11d0ffe86e11eac4d6020100000454</xsd:appinfo>
															</xsd:annotation>
															<xsd:complexType>
																<xsd:simpleContent>
																	<xsd:extension base="xsd:string">
																		<xsd:attribute name="schemeID">
																			<xsd:annotation>
																				<xsd:appinfo source="http://sap.com/xi/TextID">5d11d0fde86e11eac610020100000454</xsd:appinfo>
																			</xsd:annotation>
																			<xsd:simpleType>
																				<xsd:restriction base="xsd:token">
																					<xsd:minLength value="1"/>
																					<xsd:maxLength value="60"/>
																				</xsd:restriction>
																			</xsd:simpleType>
																		</xsd:attribute>
																		<xsd:attribute name="schemeAgencyID">
																			<xsd:annotation>
																				<xsd:appinfo source="http://sap.com/xi/TextID">5d11d0fee86e11eaaa9d020100000454</xsd:appinfo>
																			</xsd:annotation>
																			<xsd:simpleType>
																				<xsd:restriction base="xsd:token">
																					<xsd:minLength value="1"/>
																					<xsd:maxLength value="60"/>
																				</xsd:restriction>
																			</xsd:simpleType>
																		</xsd:attribute>
																	</xsd:extension>
																</xsd:simpleContent>
															</xsd:complexType>
														</xsd:element>
														<xsd:element name="OrganisationFormattedName" type="xsd:string" minOccurs="0">
															<xsd:annotation>
																<xsd:appinfo source="http://sap.com/xi/TextID">5d11d100e86e11eacd63020100000454</xsd:appinfo>
															</xsd:annotation>
														</xsd:element>
														<xsd:element name="PersonFormattedName" type="xsd:string" minOccurs="0">
															<xsd:annotation>
																<xsd:appinfo source="http://sap.com/xi/TextID">5d11d101e86e11ea98cc020100000454</xsd:appinfo>
															</xsd:annotation>
														</xsd:element>
														<xsd:element name="PhoneNumber" minOccurs="0">
															<xsd:annotation>
																<xsd:appinfo source="http://sap.com/xi/TextID">5d11d107e86e11ea9db2020100000454</xsd:appinfo>
															</xsd:annotation>
															<xsd:complexType>
																<xsd:sequence>
																	<xsd:element name="AreaID" type="xsd:string" minOccurs="0">
																		<xsd:annotation>
																			<xsd:appinfo source="http://sap.com/xi/TextID">5d11d102e86e11eac99a020100000454</xsd:appinfo>
																		</xsd:annotation>
																	</xsd:element>
																	<xsd:element name="SubscriberID" type="xsd:string" minOccurs="0">
																		<xsd:annotation>
																			<xsd:appinfo source="http://sap.com/xi/TextID">5d11d103e86e11ea890c020100000454</xsd:appinfo>
																		</xsd:annotation>
																	</xsd:element>
																	<xsd:element name="ExtensionID" type="xsd:string" minOccurs="0">
																		<xsd:annotation>
																			<xsd:appinfo source="http://sap.com/xi/TextID">5d11d104e86e11eacc6a020100000454</xsd:appinfo>
																		</xsd:annotation>
																	</xsd:element>
																	<xsd:element name="CountryCode" type="xsd:string" minOccurs="0">
																		<xsd:annotation>
																			<xsd:appinfo source="http://sap.com/xi/TextID">5d11d105e86e11eac12c020100000454</xsd:appinfo>
																		</xsd:annotation>
																	</xsd:element>
																	<xsd:element name="CountryDiallingCode" type="xsd:string" minOccurs="0">
																		<xsd:annotation>
																			<xsd:appinfo source="http://sap.com/xi/TextID">5d11d106e86e11ea9e93020100000454</xsd:appinfo>
																		</xsd:annotation>
																	</xsd:element>
																	<xsd:element name="CountryName" minOccurs="0">
																		<xsd:annotation>
																			<xsd:appinfo source="http://sap.com/xi/TextID">492efa06e86f11eacf11020100000454</xsd:appinfo>
																		</xsd:annotation>
																		<xsd:complexType>
																			<xsd:sequence>
																				<xsd:element name="languageCode" type="xsd:string" minOccurs="0">
																					<xsd:annotation>
																						<xsd:appinfo source="http://sap.com/xi/TextID">492ee12fe86f11ea9402020100000454</xsd:appinfo>
																					</xsd:annotation>
																				</xsd:element>
																			</xsd:sequence>
																		</xsd:complexType>
																	</xsd:element>
																</xsd:sequence>
															</xsd:complexType>
														</xsd:element>
														<xsd:element name="FaxNumber" minOccurs="0">
															<xsd:annotation>
																<xsd:appinfo source="http://sap.com/xi/TextID">5d11f35ae86e11eab037020100000454</xsd:appinfo>
															</xsd:annotation>
															<xsd:complexType>
																<xsd:sequence>
																	<xsd:element name="AreaID" type="xsd:string" minOccurs="0">
																		<xsd:annotation>
																			<xsd:appinfo source="http://sap.com/xi/TextID">5d11f355e86e11ea85bc020100000454</xsd:appinfo>
																		</xsd:annotation>
																	</xsd:element>
																	<xsd:element name="SubscriberID" type="xsd:string" minOccurs="0">
																		<xsd:annotation>
																			<xsd:appinfo source="http://sap.com/xi/TextID">5d11f356e86e11ea976c020100000454</xsd:appinfo>
																		</xsd:annotation>
																	</xsd:element>
																	<xsd:element name="ExtensionID" type="xsd:string" minOccurs="0">
																		<xsd:annotation>
																			<xsd:appinfo source="http://sap.com/xi/TextID">5d11f357e86e11eab33c020100000454</xsd:appinfo>
																		</xsd:annotation>
																	</xsd:element>
																	<xsd:element name="CountryCode" type="xsd:string" minOccurs="0">
																		<xsd:annotation>
																			<xsd:appinfo source="http://sap.com/xi/TextID">5d11f358e86e11eaa2f1020100000454</xsd:appinfo>
																		</xsd:annotation>
																	</xsd:element>
																	<xsd:element name="CountryDiallingCode" type="xsd:string" minOccurs="0">
																		<xsd:annotation>
																			<xsd:appinfo source="http://sap.com/xi/TextID">5d11f359e86e11eaac18020100000454</xsd:appinfo>
																		</xsd:annotation>
																	</xsd:element>
																	<xsd:element name="CountryName" minOccurs="0">
																		<xsd:annotation>
																			<xsd:appinfo source="http://sap.com/xi/TextID">492f29e8e86f11eab8de020100000454</xsd:appinfo>
																		</xsd:annotation>
																		<xsd:complexType>
																			<xsd:sequence>
																				<xsd:element name="languageCode" type="xsd:string" minOccurs="0">
																					<xsd:annotation>
																						<xsd:appinfo source="http://sap.com/xi/TextID">492f29e7e86f11ea86c0020100000454</xsd:appinfo>
																					</xsd:annotation>
																				</xsd:element>
																			</xsd:sequence>
																		</xsd:complexType>
																	</xsd:element>
																</xsd:sequence>
															</xsd:complexType>
														</xsd:element>
														<xsd:element name="EmailURI" minOccurs="0">
															<xsd:annotation>
																<xsd:appinfo source="http://sap.com/xi/TextID">5d11f35be86e11ea9c26020100000454</xsd:appinfo>
															</xsd:annotation>
															<xsd:complexType>
																<xsd:attribute name="schemeID" type="xsd:token">
																	<xsd:annotation>
																		<xsd:appinfo source="http://sap.com/xi/TextID">492f29e9e86f11eabc11020100000454</xsd:appinfo>
																	</xsd:annotation>
																</xsd:attribute>
															</xsd:complexType>
														</xsd:element>
													</xsd:sequence>
												</xsd:complexType>
											</xsd:element>
										</xsd:sequence>
									</xsd:complexType>
								</xsd:element>
								<xsd:element name="BusinessScope" minOccurs="0" maxOccurs="unbounded">
									<xsd:annotation>
										<xsd:appinfo source="http://sap.com/xi/TextID">492f58c1e86f11eaa98f020100000454</xsd:appinfo>
									</xsd:annotation>
									<xsd:complexType>
										<xsd:sequence>
											<xsd:element name="TypeCode" minOccurs="0">
												<xsd:annotation>
													<xsd:appinfo source="http://sap.com/xi/TextID">492f58c0e86f11eac65c020100000454</xsd:appinfo>
												</xsd:annotation>
												<xsd:complexType>
													<xsd:simpleContent>
														<xsd:extension base="xsd:string">
															<xsd:attribute name="listID" type="xsd:token">
																<xsd:annotation>
																	<xsd:appinfo source="http://sap.com/xi/TextID">492f58bce86f11eab1d6020100000454</xsd:appinfo>
																</xsd:annotation>
															</xsd:attribute>
															<xsd:attribute name="listVersionID" type="xsd:token">
																<xsd:annotation>
																	<xsd:appinfo source="http://sap.com/xi/TextID">492f58bde86f11ea8afa020100000454</xsd:appinfo>
																</xsd:annotation>
															</xsd:attribute>
															<xsd:attribute name="listAgencySchemeID" type="xsd:token">
																<xsd:annotation>
																	<xsd:appinfo source="http://sap.com/xi/TextID">492f58bee86f11ea9eb2020100000454</xsd:appinfo>
																</xsd:annotation>
															</xsd:attribute>
															<xsd:attribute name="listAgencySchemeAgencyID" type="xsd:token">
																<xsd:annotation>
																	<xsd:appinfo source="http://sap.com/xi/TextID">492f58bfe86f11eabc4e020100000454</xsd:appinfo>
																</xsd:annotation>
															</xsd:attribute>
														</xsd:extension>
													</xsd:simpleContent>
												</xsd:complexType>
											</xsd:element>
											<xsd:element name="InstanceID" minOccurs="0">
												<xsd:annotation>
													<xsd:appinfo source="http://sap.com/xi/TextID">5d120b18e86e11ea83c3020100000454</xsd:appinfo>
												</xsd:annotation>
												<xsd:complexType>
													<xsd:simpleContent>
														<xsd:extension base="xsd:string">
															<xsd:attribute name="schemeID" type="xsd:token">
																<xsd:annotation>
																	<xsd:appinfo source="http://sap.com/xi/TextID">5d120b16e86e11ea96f9020100000454</xsd:appinfo>
																</xsd:annotation>
															</xsd:attribute>
															<xsd:attribute name="schemeAgencyID" type="xsd:token">
																<xsd:annotation>
																	<xsd:appinfo source="http://sap.com/xi/TextID">5d120b17e86e11eaa772020100000454</xsd:appinfo>
																</xsd:annotation>
															</xsd:attribute>
														</xsd:extension>
													</xsd:simpleContent>
												</xsd:complexType>
											</xsd:element>
											<xsd:element name="ID" minOccurs="0">
												<xsd:annotation>
													<xsd:appinfo source="http://sap.com/xi/TextID">5d120b1be86e11ea8267020100000454</xsd:appinfo>
												</xsd:annotation>
												<xsd:complexType>
													<xsd:simpleContent>
														<xsd:extension base="xsd:string">
															<xsd:attribute name="schemeID" type="xsd:token">
																<xsd:annotation>
																	<xsd:appinfo source="http://sap.com/xi/TextID">5d120b19e86e11eac85c020100000454</xsd:appinfo>
																</xsd:annotation>
															</xsd:attribute>
															<xsd:attribute name="schemeAgencyID" type="xsd:token">
																<xsd:annotation>
																	<xsd:appinfo source="http://sap.com/xi/TextID">5d120b1ae86e11ea9ce2020100000454</xsd:appinfo>
																</xsd:annotation>
															</xsd:attribute>
														</xsd:extension>
													</xsd:simpleContent>
												</xsd:complexType>
											</xsd:element>
										</xsd:sequence>
									</xsd:complexType>
								</xsd:element>
							</xsd:sequence>
						</xsd:complexType>
					</xsd:element>
					<xsd:element name="ConnectionObject" minOccurs="0" maxOccurs="unbounded">
						<xsd:annotation>
							<xsd:appinfo source="http://sap.com/xi/TextID">3f6c16759f2011e5cd417e7a91b519d1</xsd:appinfo>
							<xsd:documentation>Connection Object</xsd:documentation>
						</xsd:annotation>
						<xsd:complexType>
							<xsd:sequence>
								<xsd:element name="SenderSequenceNumberValue" type="xsd:string" minOccurs="0">
									<xsd:annotation>
										<xsd:appinfo source="http://sap.com/xi/TextID">a503a499c2a911ebc251b4b68689abbb</xsd:appinfo>
										<xsd:documentation>SenderSequenceNumberValue</xsd:documentation>
									</xsd:annotation>
								</xsd:element>
								<xsd:element name="ReceiverSequenceNumberValue" type="xsd:string" minOccurs="0">
									<xsd:annotation>
										<xsd:appinfo source="http://sap.com/xi/TextID">a503a49ac2a911eb85b1b4b68689abbb</xsd:appinfo>
										<xsd:documentation>ReceiverSequenceNumberValue</xsd:documentation>
									</xsd:annotation>
								</xsd:element>
								<xsd:element name="HAUS" type="xsd:string" minOccurs="0">
									<xsd:annotation>
										<xsd:appinfo source="http://sap.com/xi/TextID">69186c009f2011e5aad97e7a91b519d1</xsd:appinfo>
										<xsd:documentation>Connection Object</xsd:documentation>
									</xsd:annotation>
								</xsd:element>
								<xsd:element name="SPRAS" type="xsd:string" minOccurs="0">
									<xsd:annotation>
										<xsd:appinfo source="http://sap.com/xi/TextID">69186c019f2011e5b93a7e7a91b519d1</xsd:appinfo>
										<xsd:documentation>Language Key</xsd:documentation>
									</xsd:annotation>
								</xsd:element>
								<xsd:element name="PLTXT" type="xsd:string" minOccurs="0">
									<xsd:annotation>
										<xsd:appinfo source="http://sap.com/xi/TextID">69186c029f2011e582f07e7a91b519d1</xsd:appinfo>
										<xsd:documentation>Description of functional location</xsd:documentation>
									</xsd:annotation>
								</xsd:element>
								<xsd:element name="FLTYP" type="xsd:string" minOccurs="0">
									<xsd:annotation>
										<xsd:appinfo source="http://sap.com/xi/TextID">69186c039f2011e5ab867e7a91b519d1</xsd:appinfo>
										<xsd:documentation>Functional location category</xsd:documentation>
									</xsd:annotation>
								</xsd:element>
								<xsd:element name="TPLMA" type="xsd:string" minOccurs="0">
									<xsd:annotation>
										<xsd:appinfo source="http://sap.com/xi/TextID">69186c049f2011e58e697e7a91b519d1</xsd:appinfo>
										<xsd:documentation>Superior functional location</xsd:documentation>
									</xsd:annotation>
								</xsd:element>
								<xsd:element name="IWERK" type="xsd:string" minOccurs="0">
									<xsd:annotation>
										<xsd:appinfo source="http://sap.com/xi/TextID">69186c069f2011e59cb37e7a91b519d1</xsd:appinfo>
										<xsd:documentation>Maintenance Planning Plant</xsd:documentation>
									</xsd:annotation>
								</xsd:element>
								<xsd:element name="POSNR" type="xsd:string" minOccurs="0">
									<xsd:annotation>
										<xsd:appinfo source="http://sap.com/xi/TextID">69186c089f2011e5c3f97e7a91b519d1</xsd:appinfo>
										<xsd:documentation>Position in superior technical object</xsd:documentation>
									</xsd:annotation>
								</xsd:element>
								<xsd:element name="ISTYP" minOccurs="0" nillable="true">
									<xsd:annotation>
										<xsd:appinfo source="http://sap.com/xi/TextID">69186c099f2011e5b80c7e7a91b519d1</xsd:appinfo>
										<xsd:documentation>Object category for Industry Solutions (IS)</xsd:documentation>
									</xsd:annotation>
									<xsd:complexType>
										<xsd:simpleContent>
											<xsd:extension base="xsd:string">
												<xsd:attribute ref="p4:DeletionIndicator"/>
											</xsd:extension>
										</xsd:simpleContent>
									</xsd:complexType>
								</xsd:element>
								<xsd:element name="PREMS" type="xsd:string" minOccurs="0">
									<xsd:annotation>
										<xsd:appinfo source="http://sap.com/xi/TextID">69186c0a9f2011e5afc27e7a91b519d1</xsd:appinfo>
										<xsd:documentation>Premise</xsd:documentation>
									</xsd:annotation>
								</xsd:element>
								<xsd:element name="SWERK" type="xsd:string" minOccurs="0">
									<xsd:annotation>
										<xsd:appinfo source="http://sap.com/xi/TextID">69186c0c9f2011e5b1d37e7a91b519d1</xsd:appinfo>
										<xsd:documentation>Maintenance plant</xsd:documentation>
									</xsd:annotation>
								</xsd:element>
								<xsd:element name="BUKRS" type="xsd:string" minOccurs="0">
									<xsd:annotation>
										<xsd:appinfo source="http://sap.com/xi/TextID">69186c0d9f2011e58b657e7a91b519d1</xsd:appinfo>
										<xsd:documentation>Company Code</xsd:documentation>
									</xsd:annotation>
								</xsd:element>
								<xsd:element name="ADDRNUMBER" type="xsd:string" minOccurs="0">
									<xsd:annotation>
										<xsd:appinfo source="http://sap.com/xi/TextID">69186c0e9f2011e5b5507e7a91b519d1</xsd:appinfo>
										<xsd:documentation>Address number</xsd:documentation>
									</xsd:annotation>
								</xsd:element>
								<xsd:element name="COUNC" type="xsd:string" minOccurs="0">
									<xsd:annotation>
										<xsd:appinfo source="http://sap.com/xi/TextID">69186c0f9f2011e5bc457e7a91b519d1</xsd:appinfo>
										<xsd:documentation>County Code</xsd:documentation>
									</xsd:annotation>
								</xsd:element>
								<xsd:element name="POST_CODE1" type="xsd:string" minOccurs="0">
									<xsd:annotation>
										<xsd:appinfo source="http://sap.com/xi/TextID">6c1158eba89211e5b70f7e7a91b519d1</xsd:appinfo>
										<xsd:documentation>City postal code</xsd:documentation>
									</xsd:annotation>
								</xsd:element>
								<xsd:element name="CITY1" type="xsd:string" minOccurs="0">
									<xsd:annotation>
										<xsd:appinfo source="http://sap.com/xi/TextID">6c1158eca89211e598a37e7a91b519d1</xsd:appinfo>
										<xsd:documentation>City</xsd:documentation>
									</xsd:annotation>
								</xsd:element>
								<xsd:element name="CITY2" type="xsd:string" minOccurs="0">
									<xsd:annotation>
										<xsd:appinfo source="http://sap.com/xi/TextID">6c1158eda89211e58c757e7a91b519d1</xsd:appinfo>
										<xsd:documentation>District</xsd:documentation>
									</xsd:annotation>
								</xsd:element>
								<xsd:element name="PO_BOX" type="xsd:string" minOccurs="0">
									<xsd:annotation>
										<xsd:appinfo source="http://sap.com/xi/TextID">6c1158eea89211e5b7d37e7a91b519d1</xsd:appinfo>
										<xsd:documentation>PO Box</xsd:documentation>
									</xsd:annotation>
								</xsd:element>
								<xsd:element name="PO_BOX_NUM" type="xsd:string" minOccurs="0">
									<xsd:annotation>
										<xsd:appinfo source="http://sap.com/xi/TextID">6c1158efa89211e5a7b37e7a91b519d1</xsd:appinfo>
										<xsd:documentation>Flag:Post Box without Number</xsd:documentation>
									</xsd:annotation>
								</xsd:element>
								<xsd:element name="STREET" type="xsd:string" minOccurs="0">
									<xsd:annotation>
										<xsd:appinfo source="http://sap.com/xi/TextID">6c117983a89211e5a6057e7a91b519d1</xsd:appinfo>
										<xsd:documentation>Street</xsd:documentation>
									</xsd:annotation>
								</xsd:element>
								<xsd:element name="HOUSE_NUM1" type="xsd:string" minOccurs="0">
									<xsd:annotation>
										<xsd:appinfo source="http://sap.com/xi/TextID">6c117984a89211e5b85c7e7a91b519d1</xsd:appinfo>
										<xsd:documentation>House Number</xsd:documentation>
									</xsd:annotation>
								</xsd:element>
								<xsd:element name="STR_SUPPL1" type="xsd:string" minOccurs="0">
									<xsd:annotation>
										<xsd:appinfo source="http://sap.com/xi/TextID">6c117985a89211e5b9317e7a91b519d1</xsd:appinfo>
										<xsd:documentation>Street2</xsd:documentation>
									</xsd:annotation>
								</xsd:element>
								<xsd:element name="BUILDING" type="xsd:string" minOccurs="0">
									<xsd:annotation>
										<xsd:appinfo source="http://sap.com/xi/TextID">6c117986a89211e599837e7a91b519d1</xsd:appinfo>
										<xsd:documentation>Building</xsd:documentation>
									</xsd:annotation>
								</xsd:element>
								<xsd:element name="COUNTRY" type="xsd:string" minOccurs="0">
									<xsd:annotation>
										<xsd:appinfo source="http://sap.com/xi/TextID">6c117987a89211e5a3de7e7a91b519d1</xsd:appinfo>
										<xsd:documentation>Country Key</xsd:documentation>
									</xsd:annotation>
								</xsd:element>
								<xsd:element name="REGION" type="xsd:string" minOccurs="0">
									<xsd:annotation>
										<xsd:appinfo source="http://sap.com/xi/TextID">6c117988a89211e594967e7a91b519d1</xsd:appinfo>
										<xsd:documentation>Region</xsd:documentation>
									</xsd:annotation>
								</xsd:element>
								<xsd:element name="TIME_ZONE" type="xsd:string" minOccurs="0">
									<xsd:annotation>
										<xsd:appinfo source="http://sap.com/xi/TextID">6c117989a89211e594327e7a91b519d1</xsd:appinfo>
										<xsd:documentation>Adress time zone</xsd:documentation>
									</xsd:annotation>
								</xsd:element>
								<xsd:element name="TAXJURCODE" type="xsd:string" minOccurs="0">
									<xsd:annotation>
										<xsd:appinfo source="http://sap.com/xi/TextID">a7bb9aa2a89311e5b7167e7a91b519d1</xsd:appinfo>
										<xsd:documentation>Tax Jurisdiction</xsd:documentation>
									</xsd:annotation>
								</xsd:element>
								<xsd:element name="OBJNR" type="xsd:string" minOccurs="0">
									<xsd:annotation>
										<xsd:appinfo source="http://sap.com/xi/TextID">69186c109f2011e5c25f7e7a91b519d1</xsd:appinfo>
										<xsd:documentation>Object number</xsd:documentation>
									</xsd:annotation>
								</xsd:element>
								<xsd:element name="STR_ERG2VBS" type="xsd:string" minOccurs="0">
									<xsd:annotation>
										<xsd:appinfo source="http://sap.com/xi/TextID">43a040f8a89311e5a42c7e7a91b519d1</xsd:appinfo>
										<xsd:documentation>Street 3</xsd:documentation>
									</xsd:annotation>
								</xsd:element>
								<xsd:element name="STR_ERG4VBS" type="xsd:string" minOccurs="0">
									<xsd:annotation>
										<xsd:appinfo source="http://sap.com/xi/TextID">43a040f9a89311e59bda7e7a91b519d1</xsd:appinfo>
										<xsd:documentation>Street 5</xsd:documentation>
									</xsd:annotation>
								</xsd:element>
								<xsd:element name="TXTLANGU_VBS" type="xsd:string" minOccurs="0">
									<xsd:annotation>
										<xsd:appinfo source="http://sap.com/xi/TextID">43a040faa89311e5c0e77e7a91b519d1</xsd:appinfo>
										<xsd:documentation>Language Key</xsd:documentation>
									</xsd:annotation>
								</xsd:element>
								<xsd:element name="LAGEVBSZUS" type="xsd:string" minOccurs="0">
									<xsd:annotation>
										<xsd:appinfo source="http://sap.com/xi/TextID">43a040fba89311e5b2517e7a91b519d1</xsd:appinfo>
										<xsd:documentation>Additional Information on Location</xsd:documentation>
									</xsd:annotation>
								</xsd:element>
								<xsd:element name="HAUS_NUM2VBS" type="xsd:string" minOccurs="0">
									<xsd:annotation>
										<xsd:appinfo source="http://sap.com/xi/TextID">43a040fca89311e5af727e7a91b519d1</xsd:appinfo>
										<xsd:documentation>House number supplement</xsd:documentation>
									</xsd:annotation>
								</xsd:element>
								<xsd:element name="ADDRESS_LINE" type="xsd:string" minOccurs="0">
									<xsd:annotation>
										<xsd:appinfo source="http://sap.com/xi/TextID">43a040fda89311e5c25c7e7a91b519d1</xsd:appinfo>
										<xsd:documentation>Address Line1</xsd:documentation>
									</xsd:annotation>
								</xsd:element>
								<xsd:element name="STRNO" type="xsd:string" minOccurs="0">
									<xsd:annotation>
										<xsd:appinfo source="http://sap.com/xi/TextID">6918a2a49f2011e5814b7e7a91b519d1</xsd:appinfo>
										<xsd:documentation>Connection Object Identification</xsd:documentation>
									</xsd:annotation>
								</xsd:element>
								<xsd:element name="STR_SUPPL2" type="xsd:string" minOccurs="0">
									<xsd:annotation>
										<xsd:appinfo source="http://sap.com/xi/TextID">938e8263fad311e9a243b4b68689abbb</xsd:appinfo>
										<xsd:documentation>Street 3</xsd:documentation>
									</xsd:annotation>
								</xsd:element>
								<xsd:element name="STR_SUPPL3" type="xsd:string" minOccurs="0">
									<xsd:annotation>
										<xsd:appinfo source="http://sap.com/xi/TextID">938e8264fad311e9ab2fb4b68689abbb</xsd:appinfo>
										<xsd:documentation>Street 4</xsd:documentation>
									</xsd:annotation>
								</xsd:element>
								<xsd:element name="LOCATION" type="xsd:string" minOccurs="0">
									<xsd:annotation>
										<xsd:appinfo source="http://sap.com/xi/TextID">938e8265fad311e987e8b4b68689abbb</xsd:appinfo>
										<xsd:documentation>Street 5</xsd:documentation>
									</xsd:annotation>
								</xsd:element>
								<xsd:element name="FORMATTED_ADDR" type="xsd:string" minOccurs="0">
									<xsd:annotation>
										<xsd:appinfo source="http://sap.com/xi/TextID">d993f238ccd911efc3e7025041000001</xsd:appinfo>
										<xsd:documentation>Formatted Address</xsd:documentation>
									</xsd:annotation>
								</xsd:element>
								<xsd:element name="Connection_Obj_Extension" type="Utilities_Conn_Obj_Extension_DT" minOccurs="0" maxOccurs="unbounded">
									<xsd:annotation>
										<xsd:appinfo source="http://sap.com/xi/TextID">c50a5ebe54fb11e8a3c9507b9defe936</xsd:appinfo>
										<xsd:documentation>Connection Object Extension</xsd:documentation>
									</xsd:annotation>
								</xsd:element>
							</xsd:sequence>
							<xsd:attribute name="ActionCode" type="ActionCode">
								<xsd:annotation>
									<xsd:appinfo source="http://sap.com/xi/TextID">ed41ee2dc2a911ebbd74b4b68689abbb</xsd:appinfo>
								</xsd:annotation>
							</xsd:attribute>
						</xsd:complexType>
					</xsd:element>
					<xsd:element name="Premise" minOccurs="0" maxOccurs="unbounded">
						<xsd:annotation>
							<xsd:appinfo source="http://sap.com/xi/TextID">f99384d2a23911e5911e7e7a91b519d1</xsd:appinfo>
							<xsd:documentation>Premise</xsd:documentation>
						</xsd:annotation>
						<xsd:complexType>
							<xsd:sequence>
								<xsd:element name="SenderSequenceNumberValue" type="xsd:string" minOccurs="0">
									<xsd:annotation>
										<xsd:appinfo source="http://sap.com/xi/TextID">a503ff9fc2a911eb8564b4b68689abbb</xsd:appinfo>
										<xsd:documentation>SenderSequenceNumberValue</xsd:documentation>
									</xsd:annotation>
								</xsd:element>
								<xsd:element name="ReceiverSequenceNumberValue" type="xsd:string" minOccurs="0">
									<xsd:annotation>
										<xsd:appinfo source="http://sap.com/xi/TextID">a503ffa0c2a911ebcfbbb4b68689abbb</xsd:appinfo>
										<xsd:documentation>ReceiverSequenceNumberValue</xsd:documentation>
									</xsd:annotation>
								</xsd:element>
								<xsd:element name="PREMISE_ID" type="xsd:string" minOccurs="0">
									<xsd:annotation>
										<xsd:appinfo source="http://sap.com/xi/TextID">f99384b0a23911e595997e7a91b519d1</xsd:appinfo>
										<xsd:documentation>Premise ID</xsd:documentation>
									</xsd:annotation>
								</xsd:element>
								<xsd:element name="PREMISE_TYPE" type="xsd:string" minOccurs="0">
									<xsd:annotation>
										<xsd:appinfo source="http://sap.com/xi/TextID">553c36c211c511e698557c7a91b519d2</xsd:appinfo>
										<xsd:documentation>Premise Type</xsd:documentation>
									</xsd:annotation>
								</xsd:element>
								<xsd:element name="ADDRNUMBER" type="xsd:string" minOccurs="0">
									<xsd:annotation>
										<xsd:appinfo source="http://sap.com/xi/TextID">164627c9a3e811e5886f020100000569</xsd:appinfo>
										<xsd:documentation>Address number</xsd:documentation>
									</xsd:annotation>
								</xsd:element>
								<xsd:element name="CONN_OBJ_ID" type="xsd:string">
									<xsd:annotation>
										<xsd:appinfo source="http://sap.com/xi/TextID">1458bca8ae4e11e5b511020100000550</xsd:appinfo>
										<xsd:documentation>Connection Object ID</xsd:documentation>
									</xsd:annotation>
								</xsd:element>
								<xsd:element name="POST_CODE1" type="xsd:string" minOccurs="0">
									<xsd:annotation>
										<xsd:appinfo source="http://sap.com/xi/TextID">164627caa3e811e5be00020100000569</xsd:appinfo>
										<xsd:documentation>City postal code</xsd:documentation>
									</xsd:annotation>
								</xsd:element>
								<xsd:element name="CITY1" type="xsd:string" minOccurs="0">
									<xsd:annotation>
										<xsd:appinfo source="http://sap.com/xi/TextID">1646549da3e811e5c9d9020100000569</xsd:appinfo>
										<xsd:documentation>City</xsd:documentation>
									</xsd:annotation>
								</xsd:element>
								<xsd:element name="CITY2" type="xsd:string" minOccurs="0">
									<xsd:annotation>
										<xsd:appinfo source="http://sap.com/xi/TextID">1646549ea3e811e5915d020100000569</xsd:appinfo>
										<xsd:documentation>District</xsd:documentation>
									</xsd:annotation>
								</xsd:element>
								<xsd:element name="PO_BOX" type="xsd:string" minOccurs="0">
									<xsd:annotation>
										<xsd:appinfo source="http://sap.com/xi/TextID">1646549fa3e811e58044020100000569</xsd:appinfo>
										<xsd:documentation>PO Box</xsd:documentation>
									</xsd:annotation>
								</xsd:element>
								<xsd:element name="PO_BOX_NUM" type="xsd:string" minOccurs="0">
									<xsd:annotation>
										<xsd:appinfo source="http://sap.com/xi/TextID">164654a0a3e811e58527020100000569</xsd:appinfo>
										<xsd:documentation>Flag: PO Box without number</xsd:documentation>
									</xsd:annotation>
								</xsd:element>
								<xsd:element name="STREET" type="xsd:string" minOccurs="0">
									<xsd:annotation>
										<xsd:appinfo source="http://sap.com/xi/TextID">164654a1a3e811e5a77c020100000569</xsd:appinfo>
										<xsd:documentation>Street</xsd:documentation>
									</xsd:annotation>
								</xsd:element>
								<xsd:element name="HOUSE_NUM1" type="xsd:string" minOccurs="0">
									<xsd:annotation>
										<xsd:appinfo source="http://sap.com/xi/TextID">164654a2a3e811e594fb020100000569</xsd:appinfo>
										<xsd:documentation>House Number</xsd:documentation>
									</xsd:annotation>
								</xsd:element>
								<xsd:element name="STR_SUPPL1" type="xsd:string" minOccurs="0">
									<xsd:annotation>
										<xsd:appinfo source="http://sap.com/xi/TextID">164654a3a3e811e59732020100000569</xsd:appinfo>
										<xsd:documentation>Street 2</xsd:documentation>
									</xsd:annotation>
								</xsd:element>
								<xsd:element name="BUILDING" type="xsd:string" minOccurs="0">
									<xsd:annotation>
										<xsd:appinfo source="http://sap.com/xi/TextID">164654a4a3e811e5adc9020100000569</xsd:appinfo>
										<xsd:documentation>Building (Number or Code)</xsd:documentation>
									</xsd:annotation>
								</xsd:element>
								<xsd:element name="COUNTRY" type="xsd:string" minOccurs="0">
									<xsd:annotation>
										<xsd:appinfo source="http://sap.com/xi/TextID">164654a5a3e811e5c9b1020100000569</xsd:appinfo>
										<xsd:documentation>Country Key</xsd:documentation>
									</xsd:annotation>
								</xsd:element>
								<xsd:element name="REGION" type="xsd:string" minOccurs="0">
									<xsd:annotation>
										<xsd:appinfo source="http://sap.com/xi/TextID">164654a6a3e811e5ac3d020100000569</xsd:appinfo>
										<xsd:documentation>Region (State, Province, County)</xsd:documentation>
									</xsd:annotation>
								</xsd:element>
								<xsd:element name="TIME_ZONE" type="xsd:string" minOccurs="0">
									<xsd:annotation>
										<xsd:appinfo source="http://sap.com/xi/TextID">164654a7a3e811e58e59020100000569</xsd:appinfo>
										<xsd:documentation>Address time zone</xsd:documentation>
									</xsd:annotation>
								</xsd:element>
								<xsd:element name="STR_ERG2VBS" type="xsd:string" minOccurs="0">
									<xsd:annotation>
										<xsd:appinfo source="http://sap.com/xi/TextID">164654a8a3e811e5c30d020100000569</xsd:appinfo>
										<xsd:documentation>Street 3</xsd:documentation>
									</xsd:annotation>
								</xsd:element>
								<xsd:element name="STR_ERG4VBS" type="xsd:string" minOccurs="0">
									<xsd:annotation>
										<xsd:appinfo source="http://sap.com/xi/TextID">164654a9a3e811e5a13c020100000569</xsd:appinfo>
										<xsd:documentation>Street 5</xsd:documentation>
									</xsd:annotation>
								</xsd:element>
								<xsd:element name="TXTLANGU_VBS" type="xsd:string" minOccurs="0">
									<xsd:annotation>
										<xsd:appinfo source="http://sap.com/xi/TextID">9adc1ba6a3eb11e5951f020100000569</xsd:appinfo>
										<xsd:documentation>Language Key</xsd:documentation>
									</xsd:annotation>
								</xsd:element>
								<xsd:element name="LAGEVBSZUS" type="xsd:string" minOccurs="0">
									<xsd:annotation>
										<xsd:appinfo source="http://sap.com/xi/TextID">9adc1ba7a3eb11e5b8fc020100000569</xsd:appinfo>
										<xsd:documentation>Additional Information on Location</xsd:documentation>
									</xsd:annotation>
								</xsd:element>
								<xsd:element name="HAUS_NUM2VBS" type="xsd:string" minOccurs="0">
									<xsd:annotation>
										<xsd:appinfo source="http://sap.com/xi/TextID">164654aaa3e811e5b72e020100000569</xsd:appinfo>
										<xsd:documentation>House number supplement</xsd:documentation>
									</xsd:annotation>
								</xsd:element>
								<xsd:element name="FLOOR_VBS" type="xsd:string" minOccurs="0">
									<xsd:annotation>
										<xsd:appinfo source="http://sap.com/xi/TextID">164654aba3e811e58141020100000569</xsd:appinfo>
										<xsd:documentation>Floor in building</xsd:documentation>
									</xsd:annotation>
								</xsd:element>
								<xsd:element name="ROOMNUMBER_VBS" type="xsd:string" minOccurs="0">
									<xsd:annotation>
										<xsd:appinfo source="http://sap.com/xi/TextID">164654aca3e811e5bc1d020100000569</xsd:appinfo>
										<xsd:documentation>Room or Appartment Number</xsd:documentation>
									</xsd:annotation>
								</xsd:element>
								<xsd:element name="ADDRESS_LINE" type="xsd:string" minOccurs="0">
									<xsd:annotation>
										<xsd:appinfo source="http://sap.com/xi/TextID">6b971d82a3e911e5aa7d020100000569</xsd:appinfo>
										<xsd:documentation>Address Line1</xsd:documentation>
									</xsd:annotation>
								</xsd:element>
								<xsd:element name="OWNER" type="xsd:string" minOccurs="0">
									<xsd:annotation>
										<xsd:appinfo source="http://sap.com/xi/TextID">5fe8d9fd673d11e9b54d020100000560</xsd:appinfo>
										<xsd:documentation>Owner</xsd:documentation>
									</xsd:annotation>
								</xsd:element>
								<xsd:element name="FORMATTED_ADDR" type="xsd:string" minOccurs="0">
									<xsd:annotation>
										<xsd:appinfo source="http://sap.com/xi/TextID">d993f239ccd911efc508025041000001</xsd:appinfo>
										<xsd:documentation>Formatted Address</xsd:documentation>
									</xsd:annotation>
								</xsd:element>
								<xsd:element name="Premise_Extension" type="Utilities_Premise_Extension_DT" minOccurs="0" maxOccurs="unbounded">
									<xsd:annotation>
										<xsd:appinfo source="http://sap.com/xi/TextID">c50a8eb554fb11e885ed507b9defe936</xsd:appinfo>
										<xsd:documentation>Premise Extension</xsd:documentation>
									</xsd:annotation>
								</xsd:element>
							</xsd:sequence>
							<xsd:attribute name="ActionCode" type="ActionCode">
								<xsd:annotation>
									<xsd:appinfo source="http://sap.com/xi/TextID">ed420adac2a911eba71fb4b68689abbb</xsd:appinfo>
								</xsd:annotation>
							</xsd:attribute>
						</xsd:complexType>
					</xsd:element>
					<xsd:element name="Point_Of_Delivery" minOccurs="0" maxOccurs="unbounded">
						<xsd:annotation>
							<xsd:appinfo source="http://sap.com/xi/TextID">0f90f186a23f11e5ce2d7e7a91b519d1</xsd:appinfo>
							<xsd:documentation>Point Of Delivery</xsd:documentation>
						</xsd:annotation>
						<xsd:complexType>
							<xsd:sequence>
								<xsd:element name="SenderSequenceNumberValue" type="xsd:string" minOccurs="0">
									<xsd:annotation>
										<xsd:appinfo source="http://sap.com/xi/TextID">a503ffa1c2a911ebb503b4b68689abbb</xsd:appinfo>
										<xsd:documentation>SenderSequenceNumberValue</xsd:documentation>
									</xsd:annotation>
								</xsd:element>
								<xsd:element name="ReceiverSequenceNumberValue" type="xsd:string" minOccurs="0">
									<xsd:annotation>
										<xsd:appinfo source="http://sap.com/xi/TextID">a503ffa2c2a911eb8819b4b68689abbb</xsd:appinfo>
										<xsd:documentation>ReceiverSequenceNumberValue</xsd:documentation>
									</xsd:annotation>
								</xsd:element>
								<xsd:element name="POD_ID" type="xsd:string" minOccurs="0">
									<xsd:annotation>
										<xsd:appinfo source="http://sap.com/xi/TextID">0f90f177a23f11e59e1a7e7a91b519d1</xsd:appinfo>
										<xsd:documentation>Point Of Delivery ID</xsd:documentation>
									</xsd:annotation>
								</xsd:element>
								<xsd:element name="SPRAS" type="xsd:string" minOccurs="0">
									<xsd:annotation>
										<xsd:appinfo source="http://sap.com/xi/TextID">64198550a32c11e5ac997e7a91b519d1</xsd:appinfo>
										<xsd:documentation>Language Key</xsd:documentation>
									</xsd:annotation>
								</xsd:element>
								<xsd:element name="DESCRIPTION" type="xsd:string" minOccurs="0">
									<xsd:annotation>
										<xsd:appinfo source="http://sap.com/xi/TextID">0f90f178a23f11e58d667e7a91b519d1</xsd:appinfo>
										<xsd:documentation>Description</xsd:documentation>
									</xsd:annotation>
								</xsd:element>
								<xsd:element name="INTERNAL_KEY" type="xsd:string" minOccurs="0">
									<xsd:annotation>
										<xsd:appinfo source="http://sap.com/xi/TextID">37e35925a3eb11e5bdf5020100000569</xsd:appinfo>
										<xsd:documentation>Internal Key</xsd:documentation>
									</xsd:annotation>
								</xsd:element>
								<xsd:element name="DIVISION" type="xsd:string" minOccurs="0">
									<xsd:annotation>
										<xsd:appinfo source="http://sap.com/xi/TextID">0f90f179a23f11e5943a7e7a91b519d1</xsd:appinfo>
										<xsd:documentation>Division</xsd:documentation>
									</xsd:annotation>
								</xsd:element>
								<xsd:element name="POD_TYPE" type="xsd:string" minOccurs="0">
									<xsd:annotation>
										<xsd:appinfo source="http://sap.com/xi/TextID">0f90f17ba23f11e593847e7a91b519d1</xsd:appinfo>
										<xsd:documentation>Point Of Delivery Type</xsd:documentation>
									</xsd:annotation>
								</xsd:element>
								<xsd:element name="SOURCE" type="xsd:string" minOccurs="0">
									<xsd:annotation>
										<xsd:appinfo source="http://sap.com/xi/TextID">9cbdfe5ba32511e5c7907e7a91b519d1</xsd:appinfo>
										<xsd:documentation>Source</xsd:documentation>
									</xsd:annotation>
								</xsd:element>
								<xsd:element name="TECH_POD_INDICATOR" type="xsd:string" minOccurs="0">
									<xsd:annotation>
										<xsd:appinfo source="http://sap.com/xi/TextID">0f90f17ca23f11e58f287e7a91b519d1</xsd:appinfo>
										<xsd:documentation>Techinical POD Indicator</xsd:documentation>
									</xsd:annotation>
								</xsd:element>
								<xsd:element name="DEREG_POD_INDICATOR" type="xsd:string" minOccurs="0">
									<xsd:annotation>
										<xsd:appinfo source="http://sap.com/xi/TextID">0f90f17da23f11e5a2737e7a91b519d1</xsd:appinfo>
										<xsd:documentation>Deregulation POD Indicator</xsd:documentation>
									</xsd:annotation>
								</xsd:element>
								<xsd:element name="DELETION_INDICATOR" type="xsd:string" minOccurs="0">
									<xsd:annotation>
										<xsd:appinfo source="http://sap.com/xi/TextID">0f90f17ea23f11e5c0d37e7a91b519d1</xsd:appinfo>
										<xsd:documentation>Deletion Indicator</xsd:documentation>
									</xsd:annotation>
								</xsd:element>
								<xsd:element name="PREMISE_ID" type="xsd:string" minOccurs="0">
									<xsd:annotation>
										<xsd:appinfo source="http://sap.com/xi/TextID">0f90f17fa23f11e586e07e7a91b519d1</xsd:appinfo>
										<xsd:documentation>Premise</xsd:documentation>
									</xsd:annotation>
								</xsd:element>
								<xsd:element name="OUTLINE_CONTRACT" type="xsd:string" minOccurs="0">
									<xsd:annotation>
										<xsd:appinfo source="http://sap.com/xi/TextID">0f90f180a23f11e594437e7a91b519d1</xsd:appinfo>
										<xsd:documentation>Outline Contract</xsd:documentation>
									</xsd:annotation>
								</xsd:element>
								<xsd:element name="GRID_ID" type="xsd:string" minOccurs="0">
									<xsd:annotation>
										<xsd:appinfo source="http://sap.com/xi/TextID">6419df56a32c11e5cf1c7e7a91b519d1</xsd:appinfo>
										<xsd:documentation>Grid id</xsd:documentation>
									</xsd:annotation>
								</xsd:element>
								<xsd:element name="INSTALLATION_ID" type="xsd:string" minOccurs="0">
									<xsd:annotation>
										<xsd:appinfo source="http://sap.com/xi/TextID">6b971d83a3e911e596f2020100000569</xsd:appinfo>
										<xsd:documentation>Installation ID</xsd:documentation>
									</xsd:annotation>
								</xsd:element>
								<xsd:element name="DISTRIBUTOR_ID" type="xsd:string" minOccurs="0">
									<xsd:annotation>
										<xsd:appinfo source="http://sap.com/xi/TextID">6b971d84a3e911e59d79020100000569</xsd:appinfo>
										<xsd:documentation>Distributor ID</xsd:documentation>
									</xsd:annotation>
								</xsd:element>
								<xsd:element name="SALES_POD_ID" type="xsd:string" minOccurs="0">
									<xsd:annotation>
										<xsd:appinfo source="http://sap.com/xi/TextID">2a74a30155a611e7ac0d28d2447266a2</xsd:appinfo>
										<xsd:documentation>Sales POD ID</xsd:documentation>
									</xsd:annotation>
								</xsd:element>
								<xsd:element name="ESERVICE" minOccurs="0" maxOccurs="unbounded">
									<xsd:annotation>
										<xsd:appinfo source="http://sap.com/xi/TextID">553cacb711c511e68d3b7c7a91b519d2</xsd:appinfo>
									</xsd:annotation>
									<xsd:complexType>
										<xsd:sequence>
											<xsd:element name="SERVICE_TYPE" type="xsd:string" minOccurs="0">
												<xsd:annotation>
													<xsd:appinfo source="http://sap.com/xi/TextID">011ca9d6ccd611e5b09e020100000598</xsd:appinfo>
													<xsd:documentation>Service Type</xsd:documentation>
												</xsd:annotation>
											</xsd:element>
											<xsd:element name="SERVICE_PROVIDER" type="xsd:string" minOccurs="0">
												<xsd:annotation>
													<xsd:appinfo source="http://sap.com/xi/TextID">011cd1f8ccd611e58c81020100000598</xsd:appinfo>
													<xsd:documentation>Service Provider</xsd:documentation>
												</xsd:annotation>
											</xsd:element>
											<xsd:element name="SERVICE_START" type="xsd:string" minOccurs="0">
												<xsd:annotation>
													<xsd:appinfo source="http://sap.com/xi/TextID">011cd1f9ccd611e5cdb3020100000598</xsd:appinfo>
													<xsd:documentation>Service Start Date</xsd:documentation>
												</xsd:annotation>
											</xsd:element>
											<xsd:element name="SERVICE_END" type="xsd:string" minOccurs="0">
												<xsd:annotation>
													<xsd:appinfo source="http://sap.com/xi/TextID">011cd1faccd611e5a76a020100000598</xsd:appinfo>
													<xsd:documentation>Service End Date</xsd:documentation>
												</xsd:annotation>
											</xsd:element>
											<xsd:element name="DIVISION" type="xsd:string" minOccurs="0">
												<xsd:annotation>
													<xsd:appinfo source="http://sap.com/xi/TextID">011cd1fbccd611e593ad020100000598</xsd:appinfo>
													<xsd:documentation>Division</xsd:documentation>
												</xsd:annotation>
											</xsd:element>
										</xsd:sequence>
									</xsd:complexType>
								</xsd:element>
								<xsd:element name="POD_Extension" type="Utilities_POD_Extension_DT" minOccurs="0" maxOccurs="unbounded">
									<xsd:annotation>
										<xsd:appinfo source="http://sap.com/xi/TextID">866544f25feb11e8889b507b9defe936</xsd:appinfo>
									</xsd:annotation>
								</xsd:element>
							</xsd:sequence>
							<xsd:attribute name="ActionCode" type="ActionCode">
								<xsd:annotation>
									<xsd:appinfo source="http://sap.com/xi/TextID">ed420adbc2a911eb8a84b4b68689abbb</xsd:appinfo>
								</xsd:annotation>
							</xsd:attribute>
						</xsd:complexType>
					</xsd:element>
				</xsd:sequence>
			</xsd:complexType>
		</xsd:schema>
		<xsd:schema targetNamespace="http://sap.com/xi/SAPGlobal/GDT" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://sap.com/xi/SAPGlobal/GDT">
			<xsd:attribute name="DeletionIndicator" type="Indicator"/>
			<xsd:simpleType name="Indicator">
				<xsd:restriction base="xsd:boolean"/>
			</xsd:simpleType>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="ERP_COD_Utilities_Tech_Objects_Repl_MT_OB">
		<wsdl:documentation/>
		<wsdl:part name="ERP_COD_Utilities_Tech_Objects_Repl_MT_OB" element="p1:ERP_COD_Utilities_Tech_Objects_Repl_MT_OB"/>
	</wsdl:message>
</wsdl:definitions>