Resources/canonical_library/wsdl/BAPI_USER_LOCKPortType.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:s0="urn:sap-com:document:sap:rfc:functions" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="urn:sap-com:document:sap:rfc:functions">
	<types>
		<xsd:schema targetNamespace="urn:sap-com:document:sap:rfc:functions">
			<xsd:element name="BAPI_USER_LOCK">
				<xsd:complexType>
					<xsd:all>
						<xsd:element name="RETURN">
							<xsd:complexType>
								<xsd:sequence>
									<xsd:element name="item" minOccurs="0" maxOccurs="unbounded" type="s0:BAPIRET2"/>
								</xsd:sequence>
							</xsd:complexType>
						</xsd:element>
						<xsd:element name="USERNAME">
							<xsd:simpleType>
								<xsd:restriction base="xsd:string">
									<xsd:maxLength value="12"/>
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:element>
					</xsd:all>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="BAPI_USER_LOCK.Response">
				<xsd:complexType>
					<xsd:all>
						<xsd:element name="RETURN">
							<xsd:complexType>
								<xsd:sequence>
									<xsd:element name="item" minOccurs="0" maxOccurs="unbounded" type="s0:BAPIRET2"/>
								</xsd:sequence>
							</xsd:complexType>
						</xsd:element>
					</xsd:all>
				</xsd:complexType>
			</xsd:element>
			<xsd:complexType name="BAPIRET2">
				<xsd:sequence>
					<xsd:element name="TYPE" minOccurs="0">
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="1"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="ID" minOccurs="0">
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="20"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="NUMBER" minOccurs="0">
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="3"/>
								<xsd:pattern value="\d*"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="MESSAGE" minOccurs="0">
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="220"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="LOG_NO" minOccurs="0">
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="20"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="LOG_MSG_NO" minOccurs="0">
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="6"/>
								<xsd:pattern value="\d*"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="MESSAGE_V1" minOccurs="0">
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="50"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="MESSAGE_V2" minOccurs="0">
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="50"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="MESSAGE_V3" minOccurs="0">
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="50"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="MESSAGE_V4" minOccurs="0">
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="50"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="PARAMETER" minOccurs="0">
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="32"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="ROW" minOccurs="0" type="xsd:int"/>
					<xsd:element name="FIELD" minOccurs="0">
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="30"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="SYSTEM" minOccurs="0">
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="10"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
				</xsd:sequence>
			</xsd:complexType>
		</xsd:schema>
	</types>
	<message name="BAPI_USER_LOCKInput">
		<part name="parameters" element="s0:BAPI_USER_LOCK"/>
	</message>
	<message name="BAPI_USER_LOCKOutput">
		<part name="parameters" element="s0:BAPI_USER_LOCK.Response"/>
	</message>
	<portType name="BAPI_USER_LOCKPortType">
		<operation name="BAPI_USER_LOCK">
			<input message="s0:BAPI_USER_LOCKInput"/>
			<output message="s0:BAPI_USER_LOCKOutput"/>
		</operation>
	</portType>
	<binding name="BAPI_USER_LOCKBinding" type="s0:BAPI_USER_LOCKPortType">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<operation name="BAPI_USER_LOCK">
			<soap:operation soapAction="http://www.sap.com/BAPI_USER_LOCK"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
	</binding>
	<service name="BAPI_USER_LOCKService">
		<documentation>SAP Service BAPI_USER_LOCK via SOAP</documentation>
		<port name="BAPI_USER_LOCKPortType" binding="s0:BAPI_USER_LOCKBinding">
			<soap:address location="https://vhyalyedci.sap.yancoal.com.au:44300/sap/bc/soap/rfc"/>
		</port>
	</service>
</definitions>
