Resources/canonical_library/wsdl/BAPI_PROFITCENTER_GETLIST.PortType.wsdl


<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:ns0="urn:sap-com:document:sap:rfc:functions" name="BAPI_PROFITCENTER_GETLIST" targetNamespace="urn:sap-com:document:sap:rfc:functions">
   <wsdl:types>
      <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="urn:sap-com:document:sap:rfc:functions" targetNamespace="urn:sap-com:document:sap:rfc:functions">
         <xsd:element name="BAPI_PROFITCENTER_GETLIST.Response">
            <xsd:complexType>
               <xsd:all>
                  <xsd:element name="RETURN" type="BAPIRETURN" minOccurs="0">
                     <xsd:annotation>
                        <xsd:documentation>
                        Return code
                        </xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
                  <xsd:element name="PROFITCENTER_LIST">
                     <xsd:annotation>
                        <xsd:documentation>
                        List of Profit Centers
                        </xsd:documentation>
                     </xsd:annotation>
                     <xsd:complexType>
                        <xsd:sequence>
                           <xsd:element name="item" type="BAPI0015_1" minOccurs="0" maxOccurs="unbounded" />
                        </xsd:sequence>
                     </xsd:complexType>
                  </xsd:element>
               </xsd:all>
            </xsd:complexType>
         </xsd:element>
         <xsd:element name="BAPI_PROFITCENTER_GETLIST">
            <xsd:complexType>
               <xsd:all>
                  <xsd:element name="CONTROLLINGAREA">
                     <xsd:annotation>
                        <xsd:documentation>
                        Controlling Area
                        </xsd:documentation>
                     </xsd:annotation>
                     <xsd:simpleType>
                        <xsd:restriction base="xsd:string">
                           <xsd:maxLength value="4" />
                        </xsd:restriction>
                     </xsd:simpleType>
                  </xsd:element>
                  <xsd:element name="DATE" type="date" minOccurs="0">
                     <xsd:annotation>
                        <xsd:documentation>
                        Date
                        </xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
                  <xsd:element name="IN_CHARGE_USER" minOccurs="0">
                     <xsd:annotation>
                        <xsd:documentation>
                        User Responsible for the Profit Center
                        </xsd:documentation>
                     </xsd:annotation>
                     <xsd:simpleType>
                        <xsd:restriction base="xsd:string">
                           <xsd:maxLength value="12" />
                        </xsd:restriction>
                     </xsd:simpleType>
                  </xsd:element>
                  <xsd:element name="PERSONINCHARGE" minOccurs="0">
                     <xsd:annotation>
                        <xsd:documentation>
                        Person in Charge of Profit Center
                        </xsd:documentation>
                     </xsd:annotation>
                     <xsd:simpleType>
                        <xsd:restriction base="xsd:string">
                           <xsd:maxLength value="20" />
                        </xsd:restriction>
                     </xsd:simpleType>
                  </xsd:element>
                  <xsd:element name="PROFITCENTER_LIST">
                     <xsd:annotation>
                        <xsd:documentation>
                        List of Profit Centers
                        </xsd:documentation>
                     </xsd:annotation>
                     <xsd:complexType>
                        <xsd:sequence>
                           <xsd:element name="item" type="BAPI0015_1" minOccurs="0" maxOccurs="unbounded" />
                        </xsd:sequence>
                     </xsd:complexType>
                  </xsd:element>
               </xsd:all>
            </xsd:complexType>
         </xsd:element>
         <xsd:simpleType name="date">
            <xsd:union xmlns="urn:sap-com:document:sap:rfc:functions" memberTypes="xsd:date genericDate" />
         </xsd:simpleType>
         <xsd:simpleType name="genericDate">
            <xsd:restriction base="xsd:string">
               <xsd:pattern value="....-..-.." />
            </xsd:restriction>
         </xsd:simpleType>
         <xsd:complexType name="BAPI0015_1">
            <xsd:annotation>
               <xsd:documentation>
               EC-PCA: BAPI Transfer Structure Get List
               </xsd:documentation>
            </xsd:annotation>
            <xsd:sequence>
               <xsd:element name="CO_AREA" minOccurs="0">
                  <xsd:annotation>
                     <xsd:documentation>
                     Controlling Area
                     </xsd:documentation>
                  </xsd:annotation>
                  <xsd:simpleType>
                     <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="4" />
                     </xsd:restriction>
                  </xsd:simpleType>
               </xsd:element>
               <xsd:element name="PROFIT_CTR" minOccurs="0">
                  <xsd:annotation>
                     <xsd:documentation>
                     Profit Center
                     </xsd:documentation>
                  </xsd:annotation>
                  <xsd:simpleType>
                     <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="10" />
                     </xsd:restriction>
                  </xsd:simpleType>
               </xsd:element>
               <xsd:element name="VALID_TO" type="date" minOccurs="0">
                  <xsd:annotation>
                     <xsd:documentation>
                     Valid To Date
                     </xsd:documentation>
                  </xsd:annotation>
               </xsd:element>
               <xsd:element name="PCTR_NAME" minOccurs="0">
                  <xsd:annotation>
                     <xsd:documentation>
                     General Name
                     </xsd:documentation>
                  </xsd:annotation>
                  <xsd:simpleType>
                     <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="20" />
                     </xsd:restriction>
                  </xsd:simpleType>
               </xsd:element>
               <xsd:element name="IN_CHARGE" minOccurs="0">
                  <xsd:annotation>
                     <xsd:documentation>
                     Person Responsible for Profit Center
                     </xsd:documentation>
                  </xsd:annotation>
                  <xsd:simpleType>
                     <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="20" />
                     </xsd:restriction>
                  </xsd:simpleType>
               </xsd:element>
               <xsd:element name="IN_CHARGE_USER" minOccurs="0">
                  <xsd:annotation>
                     <xsd:documentation>
                     User Responsible for the Profit Center
                     </xsd:documentation>
                  </xsd:annotation>
                  <xsd:simpleType>
                     <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="12" />
                     </xsd:restriction>
                  </xsd:simpleType>
               </xsd:element>
            </xsd:sequence>
         </xsd:complexType>
         <xsd:complexType name="BAPIRETURN">
            <xsd:annotation>
               <xsd:documentation>
               Return Parameter
               </xsd:documentation>
            </xsd:annotation>
            <xsd:sequence>
               <xsd:element name="TYPE" minOccurs="0">
                  <xsd:annotation>
                     <xsd:documentation>
                     Message type: S Success, E Error, W Warning, I Info, A Abort
                     </xsd:documentation>
                  </xsd:annotation>
                  <xsd:simpleType>
                     <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="1" />
                     </xsd:restriction>
                  </xsd:simpleType>
               </xsd:element>
               <xsd:element name="CODE" minOccurs="0">
                  <xsd:annotation>
                     <xsd:documentation>
                     Message code
                     </xsd:documentation>
                  </xsd:annotation>
                  <xsd:simpleType>
                     <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="5" />
                     </xsd:restriction>
                  </xsd:simpleType>
               </xsd:element>
               <xsd:element name="MESSAGE" minOccurs="0">
                  <xsd:annotation>
                     <xsd:documentation>
                     Message Text
                     </xsd:documentation>
                  </xsd:annotation>
                  <xsd:simpleType>
                     <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="220" />
                     </xsd:restriction>
                  </xsd:simpleType>
               </xsd:element>
               <xsd:element name="LOG_NO" minOccurs="0">
                  <xsd:annotation>
                     <xsd:documentation>
                     Application log: log number
                     </xsd:documentation>
                  </xsd:annotation>
                  <xsd:simpleType>
                     <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="20" />
                     </xsd:restriction>
                  </xsd:simpleType>
               </xsd:element>
               <xsd:element name="LOG_MSG_NO" minOccurs="0">
                  <xsd:annotation>
                     <xsd:documentation>
                     Application log: Internal message serial number
                     </xsd:documentation>
                  </xsd:annotation>
                  <xsd:simpleType>
                     <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="6" />
                        <xsd:pattern value="\d+" />
                     </xsd:restriction>
                  </xsd:simpleType>
               </xsd:element>
               <xsd:element name="MESSAGE_V1" minOccurs="0">
                  <xsd:annotation>
                     <xsd:documentation>
                     Message Variable
                     </xsd:documentation>
                  </xsd:annotation>
                  <xsd:simpleType>
                     <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="50" />
                     </xsd:restriction>
                  </xsd:simpleType>
               </xsd:element>
               <xsd:element name="MESSAGE_V2" minOccurs="0">
                  <xsd:annotation>
                     <xsd:documentation>
                     Message Variable
                     </xsd:documentation>
                  </xsd:annotation>
                  <xsd:simpleType>
                     <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="50" />
                     </xsd:restriction>
                  </xsd:simpleType>
               </xsd:element>
               <xsd:element name="MESSAGE_V3" minOccurs="0">
                  <xsd:annotation>
                     <xsd:documentation>
                     Message Variable
                     </xsd:documentation>
                  </xsd:annotation>
                  <xsd:simpleType>
                     <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="50" />
                     </xsd:restriction>
                  </xsd:simpleType>
               </xsd:element>
               <xsd:element name="MESSAGE_V4" minOccurs="0">
                  <xsd:annotation>
                     <xsd:documentation>
                     Message Variable
                     </xsd:documentation>
                  </xsd:annotation>
                  <xsd:simpleType>
                     <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="50" />
                     </xsd:restriction>
                  </xsd:simpleType>
               </xsd:element>
            </xsd:sequence>
         </xsd:complexType>
      </xsd:schema>
   </wsdl:types>
   <wsdl:message name="BAPI_PROFITCENTER_GETLIST.Input">
      <wsdl:part name="parameters" element="ns0:BAPI_PROFITCENTER_GETLIST" />
   </wsdl:message>
   <wsdl:message name="BAPI_PROFITCENTER_GETLIST.Output">
      <wsdl:part name="parameters" element="ns0:BAPI_PROFITCENTER_GETLIST.Response" />
   </wsdl:message>
   <wsdl:portType name="BAPI_PROFITCENTER_GETLIST.PortType">
      <wsdl:operation name="BAPI_PROFITCENTER_GETLIST">
         <wsdl:input message="ns0:BAPI_PROFITCENTER_GETLIST.Input" />
         <wsdl:output message="ns0:BAPI_PROFITCENTER_GETLIST.Output" />
      </wsdl:operation>
   </wsdl:portType>
   <wsdl:binding name="BAPI_PROFITCENTER_GETLIST.SAPBinding" type="ns0:BAPI_PROFITCENTER_GETLIST.PortType">
      <ns0:binding style="rfc" />
      <ns0:type name="BAPI0015_1">
         <ifr:container xmlns:ifr="urn:sap-com:ifr:v2:metamodel" xmlns:xlink="http://www.w3.org/1999/xlink">
            <ifr:descriptor>
               <ifr:description language="EN">
               EC-PCA: BAPI Transfer Structure Get List
               </ifr:description>
            </ifr:descriptor>
            <ifr:properties>
               <ifr:sourceSystem />
               <ifr:sourceClient>
               400
               </ifr:sourceClient>
               <ifr:release>
               740
               </ifr:release>
               <ifr:category>
               structure
               </ifr:category>
               <ifr:unicode1>
               true
               </ifr:unicode1>
               <ifr:unicode2>
               true
               </ifr:unicode2>
               <ifr:isFlatStructure>
               true
               </ifr:isFlatStructure>
            </ifr:properties>
            <ifr:definition>
               <ifr:internalLength1>
               74
               </ifr:internalLength1>
               <ifr:internalLength2>
               148
               </ifr:internalLength2>
               <ifr:fields>
                  <ifr:field name="CO_AREA" category="simple">
                     <ifr:descriptor>
                        <ifr:description language="EN">
                        Controlling Area
                        </ifr:description>
                        <ifr:documentation xlink:role="docu" xlink:href="/Content?TYPE=docu&amp;NAME=DE.KOKRS" />
                     </ifr:descriptor>
                     <ifr:properties>
                        <ifr:helpValuesSupported>
                        true
                        </ifr:helpValuesSupported>
                        <ifr:checkTable>
                        TKA01
                        </ifr:checkTable>
                        <ifr:offset1>
                        0
                        </ifr:offset1>
                        <ifr:offset2>
                        0
                        </ifr:offset2>
                     </ifr:properties>
                     <ifr:definition>
                        <ifr:scalarType name="KOKRS">
                           <ifr:properties>
                              <ifr:helpValuesSupported>
                              true
                              </ifr:helpValuesSupported>
                              <ifr:fixedValuesListDefined>
                              false
                              </ifr:fixedValuesListDefined>
                              <ifr:mixedCaseSupported>
                              false
                              </ifr:mixedCaseSupported>
                              <ifr:signedNumber>
                              false
                              </ifr:signedNumber>
                           </ifr:properties>
                           <ifr:definition>
                              <ifr:type>
                              CHAR
                              </ifr:type>
                              <ifr:abapType>
                              C
                              </ifr:abapType>
                              <ifr:length>
                              4
                              </ifr:length>
                              <ifr:internalLength1>
                              4
                              </ifr:internalLength1>
                              <ifr:internalLength2>
                              8
                              </ifr:internalLength2>
                              <ifr:decimals>
                              0
                              </ifr:decimals>
                              <ifr:outputLength>
                              4
                              </ifr:outputLength>
                           </ifr:definition>
                        </ifr:scalarType>
                     </ifr:definition>
                  </ifr:field>
                  <ifr:field name="PROFIT_CTR" category="simple">
                     <ifr:descriptor>
                        <ifr:description language="EN">
                        Profit Center
                        </ifr:description>
                        <ifr:documentation xlink:role="docu" xlink:href="/Content?TYPE=docu&amp;NAME=DE.PRCTR" />
                     </ifr:descriptor>
                     <ifr:properties>
                        <ifr:helpValuesSupported>
                        true
                        </ifr:helpValuesSupported>
                        <ifr:checkTable>
                        CEPC
                        </ifr:checkTable>
                        <ifr:offset1>
                        4
                        </ifr:offset1>
                        <ifr:offset2>
                        8
                        </ifr:offset2>
                     </ifr:properties>
                     <ifr:definition>
                        <ifr:scalarType name="PRCTR">
                           <ifr:properties>
                              <ifr:helpValuesSupported>
                              true
                              </ifr:helpValuesSupported>
                              <ifr:fixedValuesListDefined>
                              false
                              </ifr:fixedValuesListDefined>
                              <ifr:mixedCaseSupported>
                              false
                              </ifr:mixedCaseSupported>
                              <ifr:signedNumber>
                              false
                              </ifr:signedNumber>
                           </ifr:properties>
                           <ifr:definition>
                              <ifr:type>
                              CHAR
                              </ifr:type>
                              <ifr:abapType>
                              C
                              </ifr:abapType>
                              <ifr:length>
                              10
                              </ifr:length>
                              <ifr:internalLength1>
                              10
                              </ifr:internalLength1>
                              <ifr:internalLength2>
                              20
                              </ifr:internalLength2>
                              <ifr:decimals>
                              0
                              </ifr:decimals>
                              <ifr:outputLength>
                              10
                              </ifr:outputLength>
                              <ifr:conversionExit>
                              ALPHA
                              </ifr:conversionExit>
                           </ifr:definition>
                        </ifr:scalarType>
                     </ifr:definition>
                  </ifr:field>
                  <ifr:field name="VALID_TO" category="simple">
                     <ifr:descriptor>
                        <ifr:description language="EN">
                        Valid To Date
                        </ifr:description>
                        <ifr:documentation xlink:role="docu" xlink:href="/Content?TYPE=docu&amp;NAME=DE.DATBI" />
                     </ifr:descriptor>
                     <ifr:properties>
                        <ifr:helpValuesSupported>
                        true
                        </ifr:helpValuesSupported>
                        <ifr:offset1>
                        14
                        </ifr:offset1>
                        <ifr:offset2>
                        28
                        </ifr:offset2>
                     </ifr:properties>
                     <ifr:definition>
                        <ifr:scalarType name="DATBI">
                           <ifr:properties>
                              <ifr:helpValuesSupported>
                              true
                              </ifr:helpValuesSupported>
                              <ifr:fixedValuesListDefined>
                              false
                              </ifr:fixedValuesListDefined>
                              <ifr:mixedCaseSupported>
                              false
                              </ifr:mixedCaseSupported>
                              <ifr:signedNumber>
                              false
                              </ifr:signedNumber>
                           </ifr:properties>
                           <ifr:definition>
                              <ifr:type>
                              DATS
                              </ifr:type>
                              <ifr:abapType>
                              D
                              </ifr:abapType>
                              <ifr:length>
                              8
                              </ifr:length>
                              <ifr:internalLength1>
                              8
                              </ifr:internalLength1>
                              <ifr:internalLength2>
                              16
                              </ifr:internalLength2>
                              <ifr:decimals>
                              0
                              </ifr:decimals>
                              <ifr:outputLength>
                              10
                              </ifr:outputLength>
                           </ifr:definition>
                        </ifr:scalarType>
                     </ifr:definition>
                  </ifr:field>
                  <ifr:field name="PCTR_NAME" category="simple">
                     <ifr:descriptor>
                        <ifr:description language="EN">
                        General Name
                        </ifr:description>
                        <ifr:documentation xlink:role="docu" xlink:href="/Content?TYPE=docu&amp;NAME=DE.PCTR_NAME" />
                     </ifr:descriptor>
                     <ifr:properties>
                        <ifr:helpValuesSupported>
                        false
                        </ifr:helpValuesSupported>
                        <ifr:offset1>
                        22
                        </ifr:offset1>
                        <ifr:offset2>
                        44
                        </ifr:offset2>
                     </ifr:properties>
                     <ifr:definition>
                        <ifr:scalarType name="PCTR_NAME">
                           <ifr:properties>
                              <ifr:helpValuesSupported>
                              false
                              </ifr:helpValuesSupported>
                              <ifr:fixedValuesListDefined>
                              false
                              </ifr:fixedValuesListDefined>
                              <ifr:mixedCaseSupported>
                              true
                              </ifr:mixedCaseSupported>
                              <ifr:signedNumber>
                              false
                              </ifr:signedNumber>
                           </ifr:properties>
                           <ifr:definition>
                              <ifr:type>
                              CHAR
                              </ifr:type>
                              <ifr:abapType>
                              C
                              </ifr:abapType>
                              <ifr:length>
                              20
                              </ifr:length>
                              <ifr:internalLength1>
                              20
                              </ifr:internalLength1>
                              <ifr:internalLength2>
                              40
                              </ifr:internalLength2>
                              <ifr:decimals>
                              0
                              </ifr:decimals>
                              <ifr:outputLength>
                              20
                              </ifr:outputLength>
                           </ifr:definition>
                        </ifr:scalarType>
                     </ifr:definition>
                  </ifr:field>
                  <ifr:field name="IN_CHARGE" category="simple">
                     <ifr:descriptor>
                        <ifr:description language="EN">
                        Person Responsible for Profit Center
                        </ifr:description>
                        <ifr:documentation xlink:role="docu" xlink:href="/Content?TYPE=docu&amp;NAME=DE.VERAPC" />
                     </ifr:descriptor>
                     <ifr:properties>
                        <ifr:helpValuesSupported>
                        false
                        </ifr:helpValuesSupported>
                        <ifr:offset1>
                        42
                        </ifr:offset1>
                        <ifr:offset2>
                        84
                        </ifr:offset2>
                     </ifr:properties>
                     <ifr:definition>
                        <ifr:scalarType name="VERAPC">
                           <ifr:properties>
                              <ifr:helpValuesSupported>
                              false
                              </ifr:helpValuesSupported>
                              <ifr:fixedValuesListDefined>
                              false
                              </ifr:fixedValuesListDefined>
                              <ifr:mixedCaseSupported>
                              true
                              </ifr:mixedCaseSupported>
                              <ifr:signedNumber>
                              false
                              </ifr:signedNumber>
                           </ifr:properties>
                           <ifr:definition>
                              <ifr:type>
                              CHAR
                              </ifr:type>
                              <ifr:abapType>
                              C
                              </ifr:abapType>
                              <ifr:length>
                              20
                              </ifr:length>
                              <ifr:internalLength1>
                              20
                              </ifr:internalLength1>
                              <ifr:internalLength2>
                              40
                              </ifr:internalLength2>
                              <ifr:decimals>
                              0
                              </ifr:decimals>
                              <ifr:outputLength>
                              20
                              </ifr:outputLength>
                           </ifr:definition>
                        </ifr:scalarType>
                     </ifr:definition>
                  </ifr:field>
                  <ifr:field name="IN_CHARGE_USER" category="simple">
                     <ifr:descriptor>
                        <ifr:description language="EN">
                        User Responsible for the Profit Center
                        </ifr:description>
                        <ifr:documentation xlink:role="docu" xlink:href="/Content?TYPE=docu&amp;NAME=DE.VERAPC_USER" />
                     </ifr:descriptor>
                     <ifr:properties>
                        <ifr:helpValuesSupported>
                        true
                        </ifr:helpValuesSupported>
                        <ifr:checkTable>
                        USR02
                        </ifr:checkTable>
                        <ifr:offset1>
                        62
                        </ifr:offset1>
                        <ifr:offset2>
                        124
                        </ifr:offset2>
                     </ifr:properties>
                     <ifr:definition>
                        <ifr:scalarType name="VERAPC_USER">
                           <ifr:properties>
                              <ifr:helpValuesSupported>
                              true
                              </ifr:helpValuesSupported>
                              <ifr:fixedValuesListDefined>
                              false
                              </ifr:fixedValuesListDefined>
                              <ifr:mixedCaseSupported>
                              false
                              </ifr:mixedCaseSupported>
                              <ifr:signedNumber>
                              false
                              </ifr:signedNumber>
                           </ifr:properties>
                           <ifr:definition>
                              <ifr:type>
                              CHAR
                              </ifr:type>
                              <ifr:abapType>
                              C
                              </ifr:abapType>
                              <ifr:length>
                              12
                              </ifr:length>
                              <ifr:internalLength1>
                              12
                              </ifr:internalLength1>
                              <ifr:internalLength2>
                              24
                              </ifr:internalLength2>
                              <ifr:decimals>
                              0
                              </ifr:decimals>
                              <ifr:outputLength>
                              12
                              </ifr:outputLength>
                           </ifr:definition>
                        </ifr:scalarType>
                     </ifr:definition>
                  </ifr:field>
               </ifr:fields>
            </ifr:definition>
         </ifr:container>
      </ns0:type>
      <ns0:type name="BAPIRETURN">
         <ifr:container xmlns:ifr="urn:sap-com:ifr:v2:metamodel" xmlns:xlink="http://www.w3.org/1999/xlink">
            <ifr:descriptor>
               <ifr:description language="EN">
               Return Parameter
               </ifr:description>
               <ifr:documentation xlink:role="docu" xlink:href="/Content?TYPE=docu&amp;NAME=TB.BAPIRETURN" />
            </ifr:descriptor>
            <ifr:properties>
               <ifr:sourceSystem />
               <ifr:sourceClient>
               400
               </ifr:sourceClient>
               <ifr:release>
               740
               </ifr:release>
               <ifr:category>
               structure
               </ifr:category>
               <ifr:unicode1>
               true
               </ifr:unicode1>
               <ifr:unicode2>
               true
               </ifr:unicode2>
               <ifr:isFlatStructure>
               true
               </ifr:isFlatStructure>
            </ifr:properties>
            <ifr:definition>
               <ifr:internalLength1>
               452
               </ifr:internalLength1>
               <ifr:internalLength2>
               904
               </ifr:internalLength2>
               <ifr:fields>
                  <ifr:field name="TYPE" category="simple">
                     <ifr:descriptor>
                        <ifr:description language="EN">
                        Message type: S Success, E Error, W Warning, I Info, A Abort
                        </ifr:description>
                        <ifr:documentation xlink:role="docu" xlink:href="/Content?TYPE=docu&amp;NAME=DE.BAPI_MTYPE" />
                     </ifr:descriptor>
                     <ifr:properties>
                        <ifr:helpValuesSupported>
                        false
                        </ifr:helpValuesSupported>
                        <ifr:offset1>
                        0
                        </ifr:offset1>
                        <ifr:offset2>
                        0
                        </ifr:offset2>
                     </ifr:properties>
                     <ifr:definition>
                        <ifr:scalarType name="BAPI_MTYPE">
                           <ifr:properties>
                              <ifr:helpValuesSupported>
                              false
                              </ifr:helpValuesSupported>
                              <ifr:fixedValuesListDefined>
                              false
                              </ifr:fixedValuesListDefined>
                              <ifr:mixedCaseSupported>
                              false
                              </ifr:mixedCaseSupported>
                              <ifr:signedNumber>
                              false
                              </ifr:signedNumber>
                           </ifr:properties>
                           <ifr:definition>
                              <ifr:type>
                              CHAR
                              </ifr:type>
                              <ifr:abapType>
                              C
                              </ifr:abapType>
                              <ifr:length>
                              1
                              </ifr:length>
                              <ifr:internalLength1>
                              1
                              </ifr:internalLength1>
                              <ifr:internalLength2>
                              2
                              </ifr:internalLength2>
                              <ifr:decimals>
                              0
                              </ifr:decimals>
                              <ifr:outputLength>
                              1
                              </ifr:outputLength>
                           </ifr:definition>
                        </ifr:scalarType>
                     </ifr:definition>
                  </ifr:field>
                  <ifr:field name="CODE" category="simple">
                     <ifr:descriptor>
                        <ifr:description language="EN">
                        Message code
                        </ifr:description>
                        <ifr:documentation xlink:role="docu" xlink:href="/Content?TYPE=docu&amp;NAME=DE.BAPI_RCODE" />
                     </ifr:descriptor>
                     <ifr:properties>
                        <ifr:helpValuesSupported>
                        false
                        </ifr:helpValuesSupported>
                        <ifr:offset1>
                        1
                        </ifr:offset1>
                        <ifr:offset2>
                        2
                        </ifr:offset2>
                     </ifr:properties>
                     <ifr:definition>
                        <ifr:scalarType name="BAPI_RCODE">
                           <ifr:properties>
                              <ifr:helpValuesSupported>
                              false
                              </ifr:helpValuesSupported>
                              <ifr:fixedValuesListDefined>
                              false
                              </ifr:fixedValuesListDefined>
                              <ifr:mixedCaseSupported>
                              false
                              </ifr:mixedCaseSupported>
                              <ifr:signedNumber>
                              false
                              </ifr:signedNumber>
                           </ifr:properties>
                           <ifr:definition>
                              <ifr:type>
                              CHAR
                              </ifr:type>
                              <ifr:abapType>
                              C
                              </ifr:abapType>
                              <ifr:length>
                              5
                              </ifr:length>
                              <ifr:internalLength1>
                              5
                              </ifr:internalLength1>
                              <ifr:internalLength2>
                              10
                              </ifr:internalLength2>
                              <ifr:decimals>
                              0
                              </ifr:decimals>
                              <ifr:outputLength>
                              5
                              </ifr:outputLength>
                           </ifr:definition>
                        </ifr:scalarType>
                     </ifr:definition>
                  </ifr:field>
                  <ifr:field name="MESSAGE" category="simple">
                     <ifr:descriptor>
                        <ifr:description language="EN">
                        Message Text
                        </ifr:description>
                        <ifr:documentation xlink:role="docu" xlink:href="/Content?TYPE=docu&amp;NAME=DE.BAPI_MSG" />
                     </ifr:descriptor>
                     <ifr:properties>
                        <ifr:helpValuesSupported>
                        false
                        </ifr:helpValuesSupported>
                        <ifr:offset1>
                        6
                        </ifr:offset1>
                        <ifr:offset2>
                        12
                        </ifr:offset2>
                     </ifr:properties>
                     <ifr:definition>
                        <ifr:scalarType name="BAPI_MSG">
                           <ifr:properties>
                              <ifr:helpValuesSupported>
                              false
                              </ifr:helpValuesSupported>
                              <ifr:fixedValuesListDefined>
                              false
                              </ifr:fixedValuesListDefined>
                              <ifr:mixedCaseSupported>
                              false
                              </ifr:mixedCaseSupported>
                              <ifr:signedNumber>
                              false
                              </ifr:signedNumber>
                           </ifr:properties>
                           <ifr:definition>
                              <ifr:type>
                              CHAR
                              </ifr:type>
                              <ifr:abapType>
                              C
                              </ifr:abapType>
                              <ifr:length>
                              220
                              </ifr:length>
                              <ifr:internalLength1>
                              220
                              </ifr:internalLength1>
                              <ifr:internalLength2>
                              440
                              </ifr:internalLength2>
                              <ifr:decimals>
                              0
                              </ifr:decimals>
                              <ifr:outputLength>
                              220
                              </ifr:outputLength>
                           </ifr:definition>
                        </ifr:scalarType>
                     </ifr:definition>
                  </ifr:field>
                  <ifr:field name="LOG_NO" category="simple">
                     <ifr:descriptor>
                        <ifr:description language="EN">
                        Application log: log number
                        </ifr:description>
                        <ifr:documentation xlink:role="docu" xlink:href="/Content?TYPE=docu&amp;NAME=DE.BALOGNR" />
                     </ifr:descriptor>
                     <ifr:properties>
                        <ifr:helpValuesSupported>
                        true
                        </ifr:helpValuesSupported>
                        <ifr:checkTable>
                        BALHDR
                        </ifr:checkTable>
                        <ifr:offset1>
                        226
                        </ifr:offset1>
                        <ifr:offset2>
                        452
                        </ifr:offset2>
                     </ifr:properties>
                     <ifr:definition>
                        <ifr:scalarType name="BALOGNR">
                           <ifr:properties>
                              <ifr:helpValuesSupported>
                              true
                              </ifr:helpValuesSupported>
                              <ifr:fixedValuesListDefined>
                              false
                              </ifr:fixedValuesListDefined>
                              <ifr:mixedCaseSupported>
                              false
                              </ifr:mixedCaseSupported>
                              <ifr:signedNumber>
                              false
                              </ifr:signedNumber>
                           </ifr:properties>
                           <ifr:definition>
                              <ifr:type>
                              CHAR
                              </ifr:type>
                              <ifr:abapType>
                              C
                              </ifr:abapType>
                              <ifr:length>
                              20
                              </ifr:length>
                              <ifr:internalLength1>
                              20
                              </ifr:internalLength1>
                              <ifr:internalLength2>
                              40
                              </ifr:internalLength2>
                              <ifr:decimals>
                              0
                              </ifr:decimals>
                              <ifr:outputLength>
                              20
                              </ifr:outputLength>
                           </ifr:definition>
                        </ifr:scalarType>
                     </ifr:definition>
                  </ifr:field>
                  <ifr:field name="LOG_MSG_NO" category="simple">
                     <ifr:descriptor>
                        <ifr:description language="EN">
                        Application log: Internal message serial number
                        </ifr:description>
                        <ifr:documentation xlink:role="docu" xlink:href="/Content?TYPE=docu&amp;NAME=DE.BALMNR" />
                     </ifr:descriptor>
                     <ifr:properties>
                        <ifr:helpValuesSupported>
                        true
                        </ifr:helpValuesSupported>
                        <ifr:checkTable>
                        BALM
                        </ifr:checkTable>
                        <ifr:offset1>
                        246
                        </ifr:offset1>
                        <ifr:offset2>
                        492
                        </ifr:offset2>
                     </ifr:properties>
                     <ifr:definition>
                        <ifr:scalarType name="BALMNR">
                           <ifr:properties>
                              <ifr:helpValuesSupported>
                              true
                              </ifr:helpValuesSupported>
                              <ifr:fixedValuesListDefined>
                              false
                              </ifr:fixedValuesListDefined>
                              <ifr:mixedCaseSupported>
                              false
                              </ifr:mixedCaseSupported>
                              <ifr:signedNumber>
                              false
                              </ifr:signedNumber>
                           </ifr:properties>
                           <ifr:definition>
                              <ifr:type>
                              NUMC
                              </ifr:type>
                              <ifr:abapType>
                              N
                              </ifr:abapType>
                              <ifr:length>
                              6
                              </ifr:length>
                              <ifr:internalLength1>
                              6
                              </ifr:internalLength1>
                              <ifr:internalLength2>
                              12
                              </ifr:internalLength2>
                              <ifr:decimals>
                              0
                              </ifr:decimals>
                              <ifr:outputLength>
                              6
                              </ifr:outputLength>
                           </ifr:definition>
                        </ifr:scalarType>
                     </ifr:definition>
                  </ifr:field>
                  <ifr:field name="MESSAGE_V1" category="simple">
                     <ifr:descriptor>
                        <ifr:description language="EN">
                        Message Variable
                        </ifr:description>
                        <ifr:documentation xlink:role="docu" xlink:href="/Content?TYPE=docu&amp;NAME=DE.SYMSGV" />
                     </ifr:descriptor>
                     <ifr:properties>
                        <ifr:helpValuesSupported>
                        false
                        </ifr:helpValuesSupported>
                        <ifr:offset1>
                        252
                        </ifr:offset1>
                        <ifr:offset2>
                        504
                        </ifr:offset2>
                     </ifr:properties>
                     <ifr:definition>
                        <ifr:scalarType name="SYMSGV">
                           <ifr:properties>
                              <ifr:helpValuesSupported>
                              false
                              </ifr:helpValuesSupported>
                              <ifr:fixedValuesListDefined>
                              false
                              </ifr:fixedValuesListDefined>
                              <ifr:mixedCaseSupported>
                              false
                              </ifr:mixedCaseSupported>
                              <ifr:signedNumber>
                              false
                              </ifr:signedNumber>
                           </ifr:properties>
                           <ifr:definition>
                              <ifr:type>
                              CHAR
                              </ifr:type>
                              <ifr:abapType>
                              C
                              </ifr:abapType>
                              <ifr:length>
                              50
                              </ifr:length>
                              <ifr:internalLength1>
                              50
                              </ifr:internalLength1>
                              <ifr:internalLength2>
                              100
                              </ifr:internalLength2>
                              <ifr:decimals>
                              0
                              </ifr:decimals>
                              <ifr:outputLength>
                              50
                              </ifr:outputLength>
                           </ifr:definition>
                        </ifr:scalarType>
                     </ifr:definition>
                  </ifr:field>
                  <ifr:field name="MESSAGE_V2" category="simple">
                     <ifr:descriptor>
                        <ifr:description language="EN">
                        Message Variable
                        </ifr:description>
                        <ifr:documentation xlink:role="docu" xlink:href="/Content?TYPE=docu&amp;NAME=DE.SYMSGV" />
                     </ifr:descriptor>
                     <ifr:properties>
                        <ifr:helpValuesSupported>
                        false
                        </ifr:helpValuesSupported>
                        <ifr:offset1>
                        302
                        </ifr:offset1>
                        <ifr:offset2>
                        604
                        </ifr:offset2>
                     </ifr:properties>
                     <ifr:definition>
                        <ifr:scalarType name="SYMSGV">
                           <ifr:properties>
                              <ifr:helpValuesSupported>
                              false
                              </ifr:helpValuesSupported>
                              <ifr:fixedValuesListDefined>
                              false
                              </ifr:fixedValuesListDefined>
                              <ifr:mixedCaseSupported>
                              false
                              </ifr:mixedCaseSupported>
                              <ifr:signedNumber>
                              false
                              </ifr:signedNumber>
                           </ifr:properties>
                           <ifr:definition>
                              <ifr:type>
                              CHAR
                              </ifr:type>
                              <ifr:abapType>
                              C
                              </ifr:abapType>
                              <ifr:length>
                              50
                              </ifr:length>
                              <ifr:internalLength1>
                              50
                              </ifr:internalLength1>
                              <ifr:internalLength2>
                              100
                              </ifr:internalLength2>
                              <ifr:decimals>
                              0
                              </ifr:decimals>
                              <ifr:outputLength>
                              50
                              </ifr:outputLength>
                           </ifr:definition>
                        </ifr:scalarType>
                     </ifr:definition>
                  </ifr:field>
                  <ifr:field name="MESSAGE_V3" category="simple">
                     <ifr:descriptor>
                        <ifr:description language="EN">
                        Message Variable
                        </ifr:description>
                        <ifr:documentation xlink:role="docu" xlink:href="/Content?TYPE=docu&amp;NAME=DE.SYMSGV" />
                     </ifr:descriptor>
                     <ifr:properties>
                        <ifr:helpValuesSupported>
                        false
                        </ifr:helpValuesSupported>
                        <ifr:offset1>
                        352
                        </ifr:offset1>
                        <ifr:offset2>
                        704
                        </ifr:offset2>
                     </ifr:properties>
                     <ifr:definition>
                        <ifr:scalarType name="SYMSGV">
                           <ifr:properties>
                              <ifr:helpValuesSupported>
                              false
                              </ifr:helpValuesSupported>
                              <ifr:fixedValuesListDefined>
                              false
                              </ifr:fixedValuesListDefined>
                              <ifr:mixedCaseSupported>
                              false
                              </ifr:mixedCaseSupported>
                              <ifr:signedNumber>
                              false
                              </ifr:signedNumber>
                           </ifr:properties>
                           <ifr:definition>
                              <ifr:type>
                              CHAR
                              </ifr:type>
                              <ifr:abapType>
                              C
                              </ifr:abapType>
                              <ifr:length>
                              50
                              </ifr:length>
                              <ifr:internalLength1>
                              50
                              </ifr:internalLength1>
                              <ifr:internalLength2>
                              100
                              </ifr:internalLength2>
                              <ifr:decimals>
                              0
                              </ifr:decimals>
                              <ifr:outputLength>
                              50
                              </ifr:outputLength>
                           </ifr:definition>
                        </ifr:scalarType>
                     </ifr:definition>
                  </ifr:field>
                  <ifr:field name="MESSAGE_V4" category="simple">
                     <ifr:descriptor>
                        <ifr:description language="EN">
                        Message Variable
                        </ifr:description>
                        <ifr:documentation xlink:role="docu" xlink:href="/Content?TYPE=docu&amp;NAME=DE.SYMSGV" />
                     </ifr:descriptor>
                     <ifr:properties>
                        <ifr:helpValuesSupported>
                        false
                        </ifr:helpValuesSupported>
                        <ifr:offset1>
                        402
                        </ifr:offset1>
                        <ifr:offset2>
                        804
                        </ifr:offset2>
                     </ifr:properties>
                     <ifr:definition>
                        <ifr:scalarType name="SYMSGV">
                           <ifr:properties>
                              <ifr:helpValuesSupported>
                              false
                              </ifr:helpValuesSupported>
                              <ifr:fixedValuesListDefined>
                              false
                              </ifr:fixedValuesListDefined>
                              <ifr:mixedCaseSupported>
                              false
                              </ifr:mixedCaseSupported>
                              <ifr:signedNumber>
                              false
                              </ifr:signedNumber>
                           </ifr:properties>
                           <ifr:definition>
                              <ifr:type>
                              CHAR
                              </ifr:type>
                              <ifr:abapType>
                              C
                              </ifr:abapType>
                              <ifr:length>
                              50
                              </ifr:length>
                              <ifr:internalLength1>
                              50
                              </ifr:internalLength1>
                              <ifr:internalLength2>
                              100
                              </ifr:internalLength2>
                              <ifr:decimals>
                              0
                              </ifr:decimals>
                              <ifr:outputLength>
                              50
                              </ifr:outputLength>
                           </ifr:definition>
                        </ifr:scalarType>
                     </ifr:definition>
                  </ifr:field>
               </ifr:fields>
            </ifr:definition>
         </ifr:container>
      </ns0:type>
      <wsdl:operation name="BAPI_PROFITCENTER_GETLIST">
         <ifr:container xmlns:ifr="urn:sap-com:ifr:v2:metamodel" xmlns:xlink="http://www.w3.org/1999/xlink">
            <ifr:descriptor>
               <ifr:description language="EN">
               Display list of profit centers
               </ifr:description>
               <ifr:documentation xlink:role="docu" xlink:href="/Content?TYPE=docu&amp;NAME=FU.BAPI_PROFITCENTER_GETLIST" />
            </ifr:descriptor>
            <ifr:properties>
               <ifr:sourceSystem />
               <ifr:sourceClient>
               400
               </ifr:sourceClient>
               <ifr:release>
               740
               </ifr:release>
               <ifr:package>
               KE1A
               </ifr:package>
               <ifr:akhNode>
               ALR0002222
               </ifr:akhNode>
               <ifr:released>
               external
               </ifr:released>
               <ifr:outbound>
               false
               </ifr:outbound>
               <ifr:synchronous>
               true
               </ifr:synchronous>
               <ifr:asynchronous>
               false
               </ifr:asynchronous>
               <ifr:unicode1>
               true
               </ifr:unicode1>
               <ifr:unicode2>
               true
               </ifr:unicode2>
            </ifr:properties>
            <ifr:definition>
               <ifr:parameters>
                  <ifr:parameter name="RETURN">
                     <ifr:descriptor>
                        <ifr:description language="EN">
                        Return code
                        </ifr:description>
                        <ifr:documentation xlink:role="docu" xlink:href="/Content?TYPE=docu&amp;NAME=FU.BAPI_PROFITCENTER_GETLIST     RETURN" />
                     </ifr:descriptor>
                     <ifr:definition>
                     <!--  Structure  -->
                        <ifr:complexType name="BAPIRETURN" type="structure" xlink:role="type" xlink:href="/Content?TYPE=type&amp;NAME=BAPIRETURN" />
                     </ifr:definition>
                     <ifr:properties>
                        <ifr:direction>
                        out
                        </ifr:direction>
                        <ifr:class>
                        export
                        </ifr:class>
                        <ifr:type>
                        structure
                        </ifr:type>
                        <ifr:optional>
                        true
                        </ifr:optional>
                        <ifr:basedOnDictionaryReference>
                        true
                        </ifr:basedOnDictionaryReference>
                     </ifr:properties>
                  </ifr:parameter>
                  <ifr:parameter name="CONTROLLINGAREA">
                     <ifr:descriptor>
                        <ifr:description language="EN">
                        Controlling Area
                        </ifr:description>
                        <ifr:documentation xlink:role="docu" xlink:href="/Content?TYPE=docu&amp;NAME=FU.BAPI_PROFITCENTER_GETLIST     CONTROLLINGAREA" />
                     </ifr:descriptor>
                     <ifr:definition>
                     <!--  Reference to Field  -->
                        <ifr:field name="BAPI0015ID.KOKRS">
                           <ifr:properties>
                              <ifr:helpValuesSupported>
                              true
                              </ifr:helpValuesSupported>
                              <ifr:checkTable>
                              TKA01
                              </ifr:checkTable>
                              <ifr:offset1>
                              0
                              </ifr:offset1>
                              <ifr:offset2>
                              0
                              </ifr:offset2>
                           </ifr:properties>
                        </ifr:field>
                     <!--  Scalar  -->
                        <ifr:scalarType name="KOKRS">
                           <ifr:properties>
                              <ifr:helpValuesSupported>
                              true
                              </ifr:helpValuesSupported>
                              <ifr:fixedValuesListDefined>
                              false
                              </ifr:fixedValuesListDefined>
                              <ifr:mixedCaseSupported>
                              false
                              </ifr:mixedCaseSupported>
                              <ifr:signedNumber>
                              false
                              </ifr:signedNumber>
                           </ifr:properties>
                           <ifr:definition>
                              <ifr:type>
                              CHAR
                              </ifr:type>
                              <ifr:abapType>
                              C
                              </ifr:abapType>
                              <ifr:length>
                              4
                              </ifr:length>
                              <ifr:internalLength1>
                              4
                              </ifr:internalLength1>
                              <ifr:internalLength2>
                              8
                              </ifr:internalLength2>
                              <ifr:decimals>
                              0
                              </ifr:decimals>
                              <ifr:outputLength>
                              4
                              </ifr:outputLength>
                           </ifr:definition>
                        </ifr:scalarType>
                     </ifr:definition>
                     <ifr:properties>
                        <ifr:direction>
                        in
                        </ifr:direction>
                        <ifr:class>
                        import
                        </ifr:class>
                        <ifr:type>
                        scalar
                        </ifr:type>
                        <ifr:optional>
                        false
                        </ifr:optional>
                        <ifr:basedOnDictionaryReference>
                        true
                        </ifr:basedOnDictionaryReference>
                     </ifr:properties>
                  </ifr:parameter>
                  <ifr:parameter name="DATE">
                     <ifr:descriptor>
                        <ifr:description language="EN">
                        Date
                        </ifr:description>
                        <ifr:documentation xlink:role="docu" xlink:href="/Content?TYPE=docu&amp;NAME=FU.BAPI_PROFITCENTER_GETLIST     DATE" />
                     </ifr:descriptor>
                     <ifr:definition>
                     <!--  Reference to Field  -->
                        <ifr:field name="BAPI0015_3.DATE">
                           <ifr:properties>
                              <ifr:helpValuesSupported>
                              true
                              </ifr:helpValuesSupported>
                              <ifr:offset1>
                              0
                              </ifr:offset1>
                              <ifr:offset2>
                              0
                              </ifr:offset2>
                           </ifr:properties>
                        </ifr:field>
                     <!--  Scalar  -->
                        <ifr:scalarType name="SYDATUM">
                           <ifr:properties>
                              <ifr:helpValuesSupported>
                              true
                              </ifr:helpValuesSupported>
                              <ifr:fixedValuesListDefined>
                              false
                              </ifr:fixedValuesListDefined>
                              <ifr:mixedCaseSupported>
                              false
                              </ifr:mixedCaseSupported>
                              <ifr:signedNumber>
                              false
                              </ifr:signedNumber>
                           </ifr:properties>
                           <ifr:definition>
                              <ifr:type>
                              DATS
                              </ifr:type>
                              <ifr:abapType>
                              D
                              </ifr:abapType>
                              <ifr:length>
                              8
                              </ifr:length>
                              <ifr:internalLength1>
                              8
                              </ifr:internalLength1>
                              <ifr:internalLength2>
                              16
                              </ifr:internalLength2>
                              <ifr:decimals>
                              0
                              </ifr:decimals>
                              <ifr:outputLength>
                              10
                              </ifr:outputLength>
                           </ifr:definition>
                        </ifr:scalarType>
                        <ifr:defaultDefinition>
                        &apos; &apos;
                        </ifr:defaultDefinition>
                     </ifr:definition>
                     <ifr:properties>
                        <ifr:direction>
                        in
                        </ifr:direction>
                        <ifr:class>
                        import
                        </ifr:class>
                        <ifr:type>
                        scalar
                        </ifr:type>
                        <ifr:optional>
                        true
                        </ifr:optional>
                        <ifr:basedOnDictionaryReference>
                        true
                        </ifr:basedOnDictionaryReference>
                     </ifr:properties>
                  </ifr:parameter>
                  <ifr:parameter name="IN_CHARGE_USER">
                     <ifr:descriptor>
                        <ifr:description language="EN">
                        User Responsible for the Profit Center
                        </ifr:description>
                        <ifr:documentation xlink:role="docu" xlink:href="/Content?TYPE=docu&amp;NAME=FU.BAPI_PROFITCENTER_GETLIST     IN_CHARGE_USER" />
                     </ifr:descriptor>
                     <ifr:definition>
                     <!--  Reference to Field  -->
                        <ifr:field name="BAPI0015_2.IN_CHARGE_USER">
                           <ifr:properties>
                              <ifr:helpValuesSupported>
                              true
                              </ifr:helpValuesSupported>
                              <ifr:offset1>
                              114
                              </ifr:offset1>
                              <ifr:offset2>
                              228
                              </ifr:offset2>
                           </ifr:properties>
                        </ifr:field>
                     <!--  Scalar  -->
                        <ifr:scalarType name="VERAPC_USER">
                           <ifr:properties>
                              <ifr:helpValuesSupported>
                              true
                              </ifr:helpValuesSupported>
                              <ifr:fixedValuesListDefined>
                              false
                              </ifr:fixedValuesListDefined>
                              <ifr:mixedCaseSupported>
                              false
                              </ifr:mixedCaseSupported>
                              <ifr:signedNumber>
                              false
                              </ifr:signedNumber>
                           </ifr:properties>
                           <ifr:definition>
                              <ifr:type>
                              CHAR
                              </ifr:type>
                              <ifr:abapType>
                              C
                              </ifr:abapType>
                              <ifr:length>
                              12
                              </ifr:length>
                              <ifr:internalLength1>
                              12
                              </ifr:internalLength1>
                              <ifr:internalLength2>
                              24
                              </ifr:internalLength2>
                              <ifr:decimals>
                              0
                              </ifr:decimals>
                              <ifr:outputLength>
                              12
                              </ifr:outputLength>
                           </ifr:definition>
                        </ifr:scalarType>
                        <ifr:defaultDefinition>
                        &apos;%&apos;
                        </ifr:defaultDefinition>
                     </ifr:definition>
                     <ifr:properties>
                        <ifr:direction>
                        in
                        </ifr:direction>
                        <ifr:class>
                        import
                        </ifr:class>
                        <ifr:type>
                        scalar
                        </ifr:type>
                        <ifr:optional>
                        true
                        </ifr:optional>
                        <ifr:basedOnDictionaryReference>
                        true
                        </ifr:basedOnDictionaryReference>
                     </ifr:properties>
                  </ifr:parameter>
                  <ifr:parameter name="PERSONINCHARGE">
                     <ifr:descriptor>
                        <ifr:description language="EN">
                        Person in Charge of Profit Center
                        </ifr:description>
                        <ifr:documentation xlink:role="docu" xlink:href="/Content?TYPE=docu&amp;NAME=FU.BAPI_PROFITCENTER_GETLIST     PERSONINCHARGE" />
                     </ifr:descriptor>
                     <ifr:definition>
                     <!--  Reference to Field  -->
                        <ifr:field name="BAPI0015_2.IN_CHARGE">
                           <ifr:properties>
                              <ifr:helpValuesSupported>
                              false
                              </ifr:helpValuesSupported>
                              <ifr:offset1>
                              34
                              </ifr:offset1>
                              <ifr:offset2>
                              68
                              </ifr:offset2>
                           </ifr:properties>
                        </ifr:field>
                     <!--  Scalar  -->
                        <ifr:scalarType name="VERAPC">
                           <ifr:properties>
                              <ifr:helpValuesSupported>
                              false
                              </ifr:helpValuesSupported>
                              <ifr:fixedValuesListDefined>
                              false
                              </ifr:fixedValuesListDefined>
                              <ifr:mixedCaseSupported>
                              true
                              </ifr:mixedCaseSupported>
                              <ifr:signedNumber>
                              false
                              </ifr:signedNumber>
                           </ifr:properties>
                           <ifr:definition>
                              <ifr:type>
                              CHAR
                              </ifr:type>
                              <ifr:abapType>
                              C
                              </ifr:abapType>
                              <ifr:length>
                              20
                              </ifr:length>
                              <ifr:internalLength1>
                              20
                              </ifr:internalLength1>
                              <ifr:internalLength2>
                              40
                              </ifr:internalLength2>
                              <ifr:decimals>
                              0
                              </ifr:decimals>
                              <ifr:outputLength>
                              20
                              </ifr:outputLength>
                           </ifr:definition>
                        </ifr:scalarType>
                        <ifr:defaultDefinition>
                        &apos;%&apos;
                        </ifr:defaultDefinition>
                     </ifr:definition>
                     <ifr:properties>
                        <ifr:direction>
                        in
                        </ifr:direction>
                        <ifr:class>
                        import
                        </ifr:class>
                        <ifr:type>
                        scalar
                        </ifr:type>
                        <ifr:optional>
                        true
                        </ifr:optional>
                        <ifr:basedOnDictionaryReference>
                        true
                        </ifr:basedOnDictionaryReference>
                     </ifr:properties>
                  </ifr:parameter>
                  <ifr:parameter name="PROFITCENTER_LIST">
                     <ifr:descriptor>
                        <ifr:description language="EN">
                        List of Profit Centers
                        </ifr:description>
                        <ifr:documentation xlink:role="docu" xlink:href="/Content?TYPE=docu&amp;NAME=FU.BAPI_PROFITCENTER_GETLIST     PROFITCENTER_LIST" />
                     </ifr:descriptor>
                     <ifr:definition>
                     <!--  Structure  -->
                        <ifr:complexType name="BAPI0015_1" type="structure" xlink:role="type" xlink:href="/Content?TYPE=type&amp;NAME=BAPI0015_1" />
                     </ifr:definition>
                     <ifr:properties>
                        <ifr:direction>
                        inout
                        </ifr:direction>
                        <ifr:class>
                        tables
                        </ifr:class>
                        <ifr:type>
                        structure
                        </ifr:type>
                        <ifr:optional>
                        false
                        </ifr:optional>
                        <ifr:basedOnDictionaryReference>
                        true
                        </ifr:basedOnDictionaryReference>
                     </ifr:properties>
                  </ifr:parameter>
               </ifr:parameters>
            </ifr:definition>
         </ifr:container>
      </wsdl:operation>
   </wsdl:binding>
</wsdl:definitions>