Resources/canonical_library/wsdl/BAPI_CONTROLLINGAREA_FIND.PortType.wsdl


<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:ns0="urn:sap-com:document:sap:rfc:functions" name="BAPI_CONTROLLINGAREA_FIND" targetNamespace="urn:sap-com:document:sap:rfc:functions">
   <wsdl:types>
      <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="urn:sap-com:document:sap:rfc:functions" targetNamespace="urn:sap-com:document:sap:rfc:functions">
         <xsd:element name="BAPI_CONTROLLINGAREA_FIND.Response">
            <xsd:complexType>
               <xsd:all>
                  <xsd:element name="CONTROLLINGAREAID" minOccurs="0">
                     <xsd:annotation>
                        <xsd:documentation>
                        Controlling Area
                        </xsd:documentation>
                     </xsd:annotation>
                     <xsd:simpleType>
                        <xsd:restriction base="xsd:string">
                           <xsd:maxLength value="4" />
                        </xsd:restriction>
                     </xsd:simpleType>
                  </xsd:element>
                  <xsd:element name="RETURN" type="BAPIRETURN" minOccurs="0">
                     <xsd:annotation>
                        <xsd:documentation>
                        Return Code
                        </xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
               </xsd:all>
            </xsd:complexType>
         </xsd:element>
         <xsd:element name="BAPI_CONTROLLINGAREA_FIND">
            <xsd:complexType>
               <xsd:all>
                  <xsd:element name="COMPANYCODEID">
                     <xsd:annotation>
                        <xsd:documentation>
                        Company Code
                        </xsd:documentation>
                     </xsd:annotation>
                     <xsd:simpleType>
                        <xsd:restriction base="xsd:string">
                           <xsd:maxLength value="4" />
                        </xsd:restriction>
                     </xsd:simpleType>
                  </xsd:element>
               </xsd:all>
            </xsd:complexType>
         </xsd:element>
         <xsd:complexType name="BAPIRETURN">
            <xsd:annotation>
               <xsd:documentation>
               Return Parameter
               </xsd:documentation>
            </xsd:annotation>
            <xsd:sequence>
               <xsd:element name="TYPE" minOccurs="0">
                  <xsd:annotation>
                     <xsd:documentation>
                     Message type: S Success, E Error, W Warning, I Info, A Abort
                     </xsd:documentation>
                  </xsd:annotation>
                  <xsd:simpleType>
                     <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="1" />
                     </xsd:restriction>
                  </xsd:simpleType>
               </xsd:element>
               <xsd:element name="CODE" minOccurs="0">
                  <xsd:annotation>
                     <xsd:documentation>
                     Message code
                     </xsd:documentation>
                  </xsd:annotation>
                  <xsd:simpleType>
                     <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="5" />
                     </xsd:restriction>
                  </xsd:simpleType>
               </xsd:element>
               <xsd:element name="MESSAGE" minOccurs="0">
                  <xsd:annotation>
                     <xsd:documentation>
                     Message Text
                     </xsd:documentation>
                  </xsd:annotation>
                  <xsd:simpleType>
                     <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="220" />
                     </xsd:restriction>
                  </xsd:simpleType>
               </xsd:element>
               <xsd:element name="LOG_NO" minOccurs="0">
                  <xsd:annotation>
                     <xsd:documentation>
                     Application log: log number
                     </xsd:documentation>
                  </xsd:annotation>
                  <xsd:simpleType>
                     <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="20" />
                     </xsd:restriction>
                  </xsd:simpleType>
               </xsd:element>
               <xsd:element name="LOG_MSG_NO" minOccurs="0">
                  <xsd:annotation>
                     <xsd:documentation>
                     Application log: Internal message serial number
                     </xsd:documentation>
                  </xsd:annotation>
                  <xsd:simpleType>
                     <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="6" />
                        <xsd:pattern value="\d+" />
                     </xsd:restriction>
                  </xsd:simpleType>
               </xsd:element>
               <xsd:element name="MESSAGE_V1" minOccurs="0">
                  <xsd:annotation>
                     <xsd:documentation>
                     Message Variable
                     </xsd:documentation>
                  </xsd:annotation>
                  <xsd:simpleType>
                     <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="50" />
                     </xsd:restriction>
                  </xsd:simpleType>
               </xsd:element>
               <xsd:element name="MESSAGE_V2" minOccurs="0">
                  <xsd:annotation>
                     <xsd:documentation>
                     Message Variable
                     </xsd:documentation>
                  </xsd:annotation>
                  <xsd:simpleType>
                     <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="50" />
                     </xsd:restriction>
                  </xsd:simpleType>
               </xsd:element>
               <xsd:element name="MESSAGE_V3" minOccurs="0">
                  <xsd:annotation>
                     <xsd:documentation>
                     Message Variable
                     </xsd:documentation>
                  </xsd:annotation>
                  <xsd:simpleType>
                     <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="50" />
                     </xsd:restriction>
                  </xsd:simpleType>
               </xsd:element>
               <xsd:element name="MESSAGE_V4" minOccurs="0">
                  <xsd:annotation>
                     <xsd:documentation>
                     Message Variable
                     </xsd:documentation>
                  </xsd:annotation>
                  <xsd:simpleType>
                     <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="50" />
                     </xsd:restriction>
                  </xsd:simpleType>
               </xsd:element>
            </xsd:sequence>
         </xsd:complexType>
      </xsd:schema>
   </wsdl:types>
   <wsdl:message name="BAPI_CONTROLLINGAREA_FIND.Input">
      <wsdl:part name="parameters" element="ns0:BAPI_CONTROLLINGAREA_FIND" />
   </wsdl:message>
   <wsdl:message name="BAPI_CONTROLLINGAREA_FIND.Output">
      <wsdl:part name="parameters" element="ns0:BAPI_CONTROLLINGAREA_FIND.Response" />
   </wsdl:message>
   <wsdl:portType name="BAPI_CONTROLLINGAREA_FIND.PortType">
      <wsdl:operation name="BAPI_CONTROLLINGAREA_FIND">
         <wsdl:input message="ns0:BAPI_CONTROLLINGAREA_FIND.Input" />
         <wsdl:output message="ns0:BAPI_CONTROLLINGAREA_FIND.Output" />
      </wsdl:operation>
   </wsdl:portType>
   <wsdl:binding name="BAPI_CONTROLLINGAREA_FIND.SAPBinding" type="ns0:BAPI_CONTROLLINGAREA_FIND.PortType">
      <ns0:binding style="rfc" />
      <ns0:type name="BAPIRETURN">
         <ifr:container xmlns:ifr="urn:sap-com:ifr:v2:metamodel" xmlns:xlink="http://www.w3.org/1999/xlink">
            <ifr:descriptor>
               <ifr:description language="EN">
               Return Parameter
               </ifr:description>
               <ifr:documentation xlink:role="docu" xlink:href="/Content?TYPE=docu&amp;NAME=TB.BAPIRETURN" />
            </ifr:descriptor>
            <ifr:properties>
               <ifr:sourceSystem />
               <ifr:sourceClient>
               400
               </ifr:sourceClient>
               <ifr:release>
               740
               </ifr:release>
               <ifr:category>
               structure
               </ifr:category>
               <ifr:unicode1>
               true
               </ifr:unicode1>
               <ifr:unicode2>
               true
               </ifr:unicode2>
               <ifr:isFlatStructure>
               true
               </ifr:isFlatStructure>
            </ifr:properties>
            <ifr:definition>
               <ifr:internalLength1>
               452
               </ifr:internalLength1>
               <ifr:internalLength2>
               904
               </ifr:internalLength2>
               <ifr:fields>
                  <ifr:field name="TYPE" category="simple">
                     <ifr:descriptor>
                        <ifr:description language="EN">
                        Message type: S Success, E Error, W Warning, I Info, A Abort
                        </ifr:description>
                        <ifr:documentation xlink:role="docu" xlink:href="/Content?TYPE=docu&amp;NAME=DE.BAPI_MTYPE" />
                     </ifr:descriptor>
                     <ifr:properties>
                        <ifr:helpValuesSupported>
                        false
                        </ifr:helpValuesSupported>
                        <ifr:offset1>
                        0
                        </ifr:offset1>
                        <ifr:offset2>
                        0
                        </ifr:offset2>
                     </ifr:properties>
                     <ifr:definition>
                        <ifr:scalarType name="BAPI_MTYPE">
                           <ifr:properties>
                              <ifr:helpValuesSupported>
                              false
                              </ifr:helpValuesSupported>
                              <ifr:fixedValuesListDefined>
                              false
                              </ifr:fixedValuesListDefined>
                              <ifr:mixedCaseSupported>
                              false
                              </ifr:mixedCaseSupported>
                              <ifr:signedNumber>
                              false
                              </ifr:signedNumber>
                           </ifr:properties>
                           <ifr:definition>
                              <ifr:type>
                              CHAR
                              </ifr:type>
                              <ifr:abapType>
                              C
                              </ifr:abapType>
                              <ifr:length>
                              1
                              </ifr:length>
                              <ifr:internalLength1>
                              1
                              </ifr:internalLength1>
                              <ifr:internalLength2>
                              2
                              </ifr:internalLength2>
                              <ifr:decimals>
                              0
                              </ifr:decimals>
                              <ifr:outputLength>
                              1
                              </ifr:outputLength>
                           </ifr:definition>
                        </ifr:scalarType>
                     </ifr:definition>
                  </ifr:field>
                  <ifr:field name="CODE" category="simple">
                     <ifr:descriptor>
                        <ifr:description language="EN">
                        Message code
                        </ifr:description>
                        <ifr:documentation xlink:role="docu" xlink:href="/Content?TYPE=docu&amp;NAME=DE.BAPI_RCODE" />
                     </ifr:descriptor>
                     <ifr:properties>
                        <ifr:helpValuesSupported>
                        false
                        </ifr:helpValuesSupported>
                        <ifr:offset1>
                        1
                        </ifr:offset1>
                        <ifr:offset2>
                        2
                        </ifr:offset2>
                     </ifr:properties>
                     <ifr:definition>
                        <ifr:scalarType name="BAPI_RCODE">
                           <ifr:properties>
                              <ifr:helpValuesSupported>
                              false
                              </ifr:helpValuesSupported>
                              <ifr:fixedValuesListDefined>
                              false
                              </ifr:fixedValuesListDefined>
                              <ifr:mixedCaseSupported>
                              false
                              </ifr:mixedCaseSupported>
                              <ifr:signedNumber>
                              false
                              </ifr:signedNumber>
                           </ifr:properties>
                           <ifr:definition>
                              <ifr:type>
                              CHAR
                              </ifr:type>
                              <ifr:abapType>
                              C
                              </ifr:abapType>
                              <ifr:length>
                              5
                              </ifr:length>
                              <ifr:internalLength1>
                              5
                              </ifr:internalLength1>
                              <ifr:internalLength2>
                              10
                              </ifr:internalLength2>
                              <ifr:decimals>
                              0
                              </ifr:decimals>
                              <ifr:outputLength>
                              5
                              </ifr:outputLength>
                           </ifr:definition>
                        </ifr:scalarType>
                     </ifr:definition>
                  </ifr:field>
                  <ifr:field name="MESSAGE" category="simple">
                     <ifr:descriptor>
                        <ifr:description language="EN">
                        Message Text
                        </ifr:description>
                        <ifr:documentation xlink:role="docu" xlink:href="/Content?TYPE=docu&amp;NAME=DE.BAPI_MSG" />
                     </ifr:descriptor>
                     <ifr:properties>
                        <ifr:helpValuesSupported>
                        false
                        </ifr:helpValuesSupported>
                        <ifr:offset1>
                        6
                        </ifr:offset1>
                        <ifr:offset2>
                        12
                        </ifr:offset2>
                     </ifr:properties>
                     <ifr:definition>
                        <ifr:scalarType name="BAPI_MSG">
                           <ifr:properties>
                              <ifr:helpValuesSupported>
                              false
                              </ifr:helpValuesSupported>
                              <ifr:fixedValuesListDefined>
                              false
                              </ifr:fixedValuesListDefined>
                              <ifr:mixedCaseSupported>
                              false
                              </ifr:mixedCaseSupported>
                              <ifr:signedNumber>
                              false
                              </ifr:signedNumber>
                           </ifr:properties>
                           <ifr:definition>
                              <ifr:type>
                              CHAR
                              </ifr:type>
                              <ifr:abapType>
                              C
                              </ifr:abapType>
                              <ifr:length>
                              220
                              </ifr:length>
                              <ifr:internalLength1>
                              220
                              </ifr:internalLength1>
                              <ifr:internalLength2>
                              440
                              </ifr:internalLength2>
                              <ifr:decimals>
                              0
                              </ifr:decimals>
                              <ifr:outputLength>
                              220
                              </ifr:outputLength>
                           </ifr:definition>
                        </ifr:scalarType>
                     </ifr:definition>
                  </ifr:field>
                  <ifr:field name="LOG_NO" category="simple">
                     <ifr:descriptor>
                        <ifr:description language="EN">
                        Application log: log number
                        </ifr:description>
                        <ifr:documentation xlink:role="docu" xlink:href="/Content?TYPE=docu&amp;NAME=DE.BALOGNR" />
                     </ifr:descriptor>
                     <ifr:properties>
                        <ifr:helpValuesSupported>
                        true
                        </ifr:helpValuesSupported>
                        <ifr:checkTable>
                        BALHDR
                        </ifr:checkTable>
                        <ifr:offset1>
                        226
                        </ifr:offset1>
                        <ifr:offset2>
                        452
                        </ifr:offset2>
                     </ifr:properties>
                     <ifr:definition>
                        <ifr:scalarType name="BALOGNR">
                           <ifr:properties>
                              <ifr:helpValuesSupported>
                              true
                              </ifr:helpValuesSupported>
                              <ifr:fixedValuesListDefined>
                              false
                              </ifr:fixedValuesListDefined>
                              <ifr:mixedCaseSupported>
                              false
                              </ifr:mixedCaseSupported>
                              <ifr:signedNumber>
                              false
                              </ifr:signedNumber>
                           </ifr:properties>
                           <ifr:definition>
                              <ifr:type>
                              CHAR
                              </ifr:type>
                              <ifr:abapType>
                              C
                              </ifr:abapType>
                              <ifr:length>
                              20
                              </ifr:length>
                              <ifr:internalLength1>
                              20
                              </ifr:internalLength1>
                              <ifr:internalLength2>
                              40
                              </ifr:internalLength2>
                              <ifr:decimals>
                              0
                              </ifr:decimals>
                              <ifr:outputLength>
                              20
                              </ifr:outputLength>
                           </ifr:definition>
                        </ifr:scalarType>
                     </ifr:definition>
                  </ifr:field>
                  <ifr:field name="LOG_MSG_NO" category="simple">
                     <ifr:descriptor>
                        <ifr:description language="EN">
                        Application log: Internal message serial number
                        </ifr:description>
                        <ifr:documentation xlink:role="docu" xlink:href="/Content?TYPE=docu&amp;NAME=DE.BALMNR" />
                     </ifr:descriptor>
                     <ifr:properties>
                        <ifr:helpValuesSupported>
                        true
                        </ifr:helpValuesSupported>
                        <ifr:checkTable>
                        BALM
                        </ifr:checkTable>
                        <ifr:offset1>
                        246
                        </ifr:offset1>
                        <ifr:offset2>
                        492
                        </ifr:offset2>
                     </ifr:properties>
                     <ifr:definition>
                        <ifr:scalarType name="BALMNR">
                           <ifr:properties>
                              <ifr:helpValuesSupported>
                              true
                              </ifr:helpValuesSupported>
                              <ifr:fixedValuesListDefined>
                              false
                              </ifr:fixedValuesListDefined>
                              <ifr:mixedCaseSupported>
                              false
                              </ifr:mixedCaseSupported>
                              <ifr:signedNumber>
                              false
                              </ifr:signedNumber>
                           </ifr:properties>
                           <ifr:definition>
                              <ifr:type>
                              NUMC
                              </ifr:type>
                              <ifr:abapType>
                              N
                              </ifr:abapType>
                              <ifr:length>
                              6
                              </ifr:length>
                              <ifr:internalLength1>
                              6
                              </ifr:internalLength1>
                              <ifr:internalLength2>
                              12
                              </ifr:internalLength2>
                              <ifr:decimals>
                              0
                              </ifr:decimals>
                              <ifr:outputLength>
                              6
                              </ifr:outputLength>
                           </ifr:definition>
                        </ifr:scalarType>
                     </ifr:definition>
                  </ifr:field>
                  <ifr:field name="MESSAGE_V1" category="simple">
                     <ifr:descriptor>
                        <ifr:description language="EN">
                        Message Variable
                        </ifr:description>
                        <ifr:documentation xlink:role="docu" xlink:href="/Content?TYPE=docu&amp;NAME=DE.SYMSGV" />
                     </ifr:descriptor>
                     <ifr:properties>
                        <ifr:helpValuesSupported>
                        false
                        </ifr:helpValuesSupported>
                        <ifr:offset1>
                        252
                        </ifr:offset1>
                        <ifr:offset2>
                        504
                        </ifr:offset2>
                     </ifr:properties>
                     <ifr:definition>
                        <ifr:scalarType name="SYMSGV">
                           <ifr:properties>
                              <ifr:helpValuesSupported>
                              false
                              </ifr:helpValuesSupported>
                              <ifr:fixedValuesListDefined>
                              false
                              </ifr:fixedValuesListDefined>
                              <ifr:mixedCaseSupported>
                              false
                              </ifr:mixedCaseSupported>
                              <ifr:signedNumber>
                              false
                              </ifr:signedNumber>
                           </ifr:properties>
                           <ifr:definition>
                              <ifr:type>
                              CHAR
                              </ifr:type>
                              <ifr:abapType>
                              C
                              </ifr:abapType>
                              <ifr:length>
                              50
                              </ifr:length>
                              <ifr:internalLength1>
                              50
                              </ifr:internalLength1>
                              <ifr:internalLength2>
                              100
                              </ifr:internalLength2>
                              <ifr:decimals>
                              0
                              </ifr:decimals>
                              <ifr:outputLength>
                              50
                              </ifr:outputLength>
                           </ifr:definition>
                        </ifr:scalarType>
                     </ifr:definition>
                  </ifr:field>
                  <ifr:field name="MESSAGE_V2" category="simple">
                     <ifr:descriptor>
                        <ifr:description language="EN">
                        Message Variable
                        </ifr:description>
                        <ifr:documentation xlink:role="docu" xlink:href="/Content?TYPE=docu&amp;NAME=DE.SYMSGV" />
                     </ifr:descriptor>
                     <ifr:properties>
                        <ifr:helpValuesSupported>
                        false
                        </ifr:helpValuesSupported>
                        <ifr:offset1>
                        302
                        </ifr:offset1>
                        <ifr:offset2>
                        604
                        </ifr:offset2>
                     </ifr:properties>
                     <ifr:definition>
                        <ifr:scalarType name="SYMSGV">
                           <ifr:properties>
                              <ifr:helpValuesSupported>
                              false
                              </ifr:helpValuesSupported>
                              <ifr:fixedValuesListDefined>
                              false
                              </ifr:fixedValuesListDefined>
                              <ifr:mixedCaseSupported>
                              false
                              </ifr:mixedCaseSupported>
                              <ifr:signedNumber>
                              false
                              </ifr:signedNumber>
                           </ifr:properties>
                           <ifr:definition>
                              <ifr:type>
                              CHAR
                              </ifr:type>
                              <ifr:abapType>
                              C
                              </ifr:abapType>
                              <ifr:length>
                              50
                              </ifr:length>
                              <ifr:internalLength1>
                              50
                              </ifr:internalLength1>
                              <ifr:internalLength2>
                              100
                              </ifr:internalLength2>
                              <ifr:decimals>
                              0
                              </ifr:decimals>
                              <ifr:outputLength>
                              50
                              </ifr:outputLength>
                           </ifr:definition>
                        </ifr:scalarType>
                     </ifr:definition>
                  </ifr:field>
                  <ifr:field name="MESSAGE_V3" category="simple">
                     <ifr:descriptor>
                        <ifr:description language="EN">
                        Message Variable
                        </ifr:description>
                        <ifr:documentation xlink:role="docu" xlink:href="/Content?TYPE=docu&amp;NAME=DE.SYMSGV" />
                     </ifr:descriptor>
                     <ifr:properties>
                        <ifr:helpValuesSupported>
                        false
                        </ifr:helpValuesSupported>
                        <ifr:offset1>
                        352
                        </ifr:offset1>
                        <ifr:offset2>
                        704
                        </ifr:offset2>
                     </ifr:properties>
                     <ifr:definition>
                        <ifr:scalarType name="SYMSGV">
                           <ifr:properties>
                              <ifr:helpValuesSupported>
                              false
                              </ifr:helpValuesSupported>
                              <ifr:fixedValuesListDefined>
                              false
                              </ifr:fixedValuesListDefined>
                              <ifr:mixedCaseSupported>
                              false
                              </ifr:mixedCaseSupported>
                              <ifr:signedNumber>
                              false
                              </ifr:signedNumber>
                           </ifr:properties>
                           <ifr:definition>
                              <ifr:type>
                              CHAR
                              </ifr:type>
                              <ifr:abapType>
                              C
                              </ifr:abapType>
                              <ifr:length>
                              50
                              </ifr:length>
                              <ifr:internalLength1>
                              50
                              </ifr:internalLength1>
                              <ifr:internalLength2>
                              100
                              </ifr:internalLength2>
                              <ifr:decimals>
                              0
                              </ifr:decimals>
                              <ifr:outputLength>
                              50
                              </ifr:outputLength>
                           </ifr:definition>
                        </ifr:scalarType>
                     </ifr:definition>
                  </ifr:field>
                  <ifr:field name="MESSAGE_V4" category="simple">
                     <ifr:descriptor>
                        <ifr:description language="EN">
                        Message Variable
                        </ifr:description>
                        <ifr:documentation xlink:role="docu" xlink:href="/Content?TYPE=docu&amp;NAME=DE.SYMSGV" />
                     </ifr:descriptor>
                     <ifr:properties>
                        <ifr:helpValuesSupported>
                        false
                        </ifr:helpValuesSupported>
                        <ifr:offset1>
                        402
                        </ifr:offset1>
                        <ifr:offset2>
                        804
                        </ifr:offset2>
                     </ifr:properties>
                     <ifr:definition>
                        <ifr:scalarType name="SYMSGV">
                           <ifr:properties>
                              <ifr:helpValuesSupported>
                              false
                              </ifr:helpValuesSupported>
                              <ifr:fixedValuesListDefined>
                              false
                              </ifr:fixedValuesListDefined>
                              <ifr:mixedCaseSupported>
                              false
                              </ifr:mixedCaseSupported>
                              <ifr:signedNumber>
                              false
                              </ifr:signedNumber>
                           </ifr:properties>
                           <ifr:definition>
                              <ifr:type>
                              CHAR
                              </ifr:type>
                              <ifr:abapType>
                              C
                              </ifr:abapType>
                              <ifr:length>
                              50
                              </ifr:length>
                              <ifr:internalLength1>
                              50
                              </ifr:internalLength1>
                              <ifr:internalLength2>
                              100
                              </ifr:internalLength2>
                              <ifr:decimals>
                              0
                              </ifr:decimals>
                              <ifr:outputLength>
                              50
                              </ifr:outputLength>
                           </ifr:definition>
                        </ifr:scalarType>
                     </ifr:definition>
                  </ifr:field>
               </ifr:fields>
            </ifr:definition>
         </ifr:container>
      </ns0:type>
      <wsdl:operation name="BAPI_CONTROLLINGAREA_FIND">
         <ifr:container xmlns:ifr="urn:sap-com:ifr:v2:metamodel" xmlns:xlink="http://www.w3.org/1999/xlink">
            <ifr:descriptor>
               <ifr:description language="EN">
               Derive Controlling Area from Company Code
               </ifr:description>
               <ifr:documentation xlink:role="docu" xlink:href="/Content?TYPE=docu&amp;NAME=FU.BAPI_CONTROLLINGAREA_FIND" />
            </ifr:descriptor>
            <ifr:properties>
               <ifr:sourceSystem />
               <ifr:sourceClient>
               400
               </ifr:sourceClient>
               <ifr:release>
               740
               </ifr:release>
               <ifr:package>
               KBASCORE
               </ifr:package>
               <ifr:akhNode>
               HLA0009400
               </ifr:akhNode>
               <ifr:released>
               external
               </ifr:released>
               <ifr:outbound>
               false
               </ifr:outbound>
               <ifr:synchronous>
               true
               </ifr:synchronous>
               <ifr:asynchronous>
               false
               </ifr:asynchronous>
               <ifr:unicode1>
               true
               </ifr:unicode1>
               <ifr:unicode2>
               true
               </ifr:unicode2>
            </ifr:properties>
            <ifr:definition>
               <ifr:parameters>
                  <ifr:parameter name="CONTROLLINGAREAID">
                     <ifr:descriptor>
                        <ifr:description language="EN">
                        Controlling Area
                        </ifr:description>
                        <ifr:documentation xlink:role="docu" xlink:href="/Content?TYPE=docu&amp;NAME=FU.BAPI_CONTROLLINGAREA_FIND     CONTROLLINGAREAID" />
                     </ifr:descriptor>
                     <ifr:definition>
                     <!--  Reference to Field  -->
                        <ifr:field name="BAPI0004_2.CO_AREA">
                           <ifr:properties>
                              <ifr:helpValuesSupported>
                              true
                              </ifr:helpValuesSupported>
                              <ifr:checkTable>
                              TKA01
                              </ifr:checkTable>
                              <ifr:offset1>
                              0
                              </ifr:offset1>
                              <ifr:offset2>
                              0
                              </ifr:offset2>
                           </ifr:properties>
                        </ifr:field>
                     <!--  Scalar  -->
                        <ifr:scalarType name="KOKRS">
                           <ifr:properties>
                              <ifr:helpValuesSupported>
                              true
                              </ifr:helpValuesSupported>
                              <ifr:fixedValuesListDefined>
                              false
                              </ifr:fixedValuesListDefined>
                              <ifr:mixedCaseSupported>
                              false
                              </ifr:mixedCaseSupported>
                              <ifr:signedNumber>
                              false
                              </ifr:signedNumber>
                           </ifr:properties>
                           <ifr:definition>
                              <ifr:type>
                              CHAR
                              </ifr:type>
                              <ifr:abapType>
                              C
                              </ifr:abapType>
                              <ifr:length>
                              4
                              </ifr:length>
                              <ifr:internalLength1>
                              4
                              </ifr:internalLength1>
                              <ifr:internalLength2>
                              8
                              </ifr:internalLength2>
                              <ifr:decimals>
                              0
                              </ifr:decimals>
                              <ifr:outputLength>
                              4
                              </ifr:outputLength>
                           </ifr:definition>
                        </ifr:scalarType>
                     </ifr:definition>
                     <ifr:properties>
                        <ifr:direction>
                        out
                        </ifr:direction>
                        <ifr:class>
                        export
                        </ifr:class>
                        <ifr:type>
                        scalar
                        </ifr:type>
                        <ifr:optional>
                        true
                        </ifr:optional>
                        <ifr:basedOnDictionaryReference>
                        true
                        </ifr:basedOnDictionaryReference>
                     </ifr:properties>
                  </ifr:parameter>
                  <ifr:parameter name="RETURN">
                     <ifr:descriptor>
                        <ifr:description language="EN">
                        Return Code
                        </ifr:description>
                        <ifr:documentation xlink:role="docu" xlink:href="/Content?TYPE=docu&amp;NAME=FU.BAPI_CONTROLLINGAREA_FIND     RETURN" />
                     </ifr:descriptor>
                     <ifr:definition>
                     <!--  Structure  -->
                        <ifr:complexType name="BAPIRETURN" type="structure" xlink:role="type" xlink:href="/Content?TYPE=type&amp;NAME=BAPIRETURN" />
                     </ifr:definition>
                     <ifr:properties>
                        <ifr:direction>
                        out
                        </ifr:direction>
                        <ifr:class>
                        export
                        </ifr:class>
                        <ifr:type>
                        structure
                        </ifr:type>
                        <ifr:optional>
                        true
                        </ifr:optional>
                        <ifr:basedOnDictionaryReference>
                        true
                        </ifr:basedOnDictionaryReference>
                     </ifr:properties>
                  </ifr:parameter>
                  <ifr:parameter name="COMPANYCODEID">
                     <ifr:descriptor>
                        <ifr:description language="EN">
                        Company Code
                        </ifr:description>
                        <ifr:documentation xlink:role="docu" xlink:href="/Content?TYPE=docu&amp;NAME=FU.BAPI_CONTROLLINGAREA_FIND     COMPANYCODEID" />
                     </ifr:descriptor>
                     <ifr:definition>
                     <!--  Reference to Field  -->
                        <ifr:field name="BAPI0002_2.COMP_CODE">
                           <ifr:properties>
                              <ifr:helpValuesSupported>
                              true
                              </ifr:helpValuesSupported>
                              <ifr:checkTable>
                              T001
                              </ifr:checkTable>
                              <ifr:offset1>
                              0
                              </ifr:offset1>
                              <ifr:offset2>
                              0
                              </ifr:offset2>
                           </ifr:properties>
                        </ifr:field>
                     <!--  Scalar  -->
                        <ifr:scalarType name="BUKRS">
                           <ifr:properties>
                              <ifr:helpValuesSupported>
                              true
                              </ifr:helpValuesSupported>
                              <ifr:fixedValuesListDefined>
                              false
                              </ifr:fixedValuesListDefined>
                              <ifr:mixedCaseSupported>
                              false
                              </ifr:mixedCaseSupported>
                              <ifr:signedNumber>
                              false
                              </ifr:signedNumber>
                           </ifr:properties>
                           <ifr:definition>
                              <ifr:type>
                              CHAR
                              </ifr:type>
                              <ifr:abapType>
                              C
                              </ifr:abapType>
                              <ifr:length>
                              4
                              </ifr:length>
                              <ifr:internalLength1>
                              4
                              </ifr:internalLength1>
                              <ifr:internalLength2>
                              8
                              </ifr:internalLength2>
                              <ifr:decimals>
                              0
                              </ifr:decimals>
                              <ifr:outputLength>
                              4
                              </ifr:outputLength>
                           </ifr:definition>
                        </ifr:scalarType>
                     </ifr:definition>
                     <ifr:properties>
                        <ifr:direction>
                        in
                        </ifr:direction>
                        <ifr:class>
                        import
                        </ifr:class>
                        <ifr:type>
                        scalar
                        </ifr:type>
                        <ifr:optional>
                        false
                        </ifr:optional>
                        <ifr:basedOnDictionaryReference>
                        true
                        </ifr:basedOnDictionaryReference>
                     </ifr:properties>
                  </ifr:parameter>
               </ifr:parameters>
            </ifr:definition>
         </ifr:container>
      </wsdl:operation>
   </wsdl:binding>
</wsdl:definitions>