Resources/canonical_library/wsdl/BusinessPartnerSUITEBulkReplicateConfirmation_Out_2.wsdl

<wsdl:definitions targetNamespace="http://sap.com/xi/SAP_BS_FND/MDG/Global2" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsoap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://sap.com/xi/SAP_BS_FND/MDG/Global2" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:n1="http://sap.com/xi/SAPGlobal20/Global" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/">
   <wsdl:types>
      <xsd:schema targetNamespace="http://sap.com/xi/SAP_BS_FND/MDG/Global2" xmlns:xi0="http://sap.com/xi/SAPGlobal20/Global" xmlns:ccts="urn:un:unece:uncefact:documentation:standard:CoreComponentsTechnicalSpecification:3.0" xmlns="http://sap.com/xi/SAP_BS_FND/MDG/Global2">
         <xsd:simpleType name="AgencyIdentificationCode">
            <xsd:annotation>
               <xsd:documentation xml:lang="EN">
                  <ccts:RepresentationTerm>Code</ccts:RepresentationTerm>
               </xsd:documentation>
            </xsd:annotation>
            <xsd:restriction base="xsd:token">
               <xsd:maxLength value="3"/>
               <xsd:minLength value="1"/>
            </xsd:restriction>
         </xsd:simpleType>
         <xsd:complexType name="BPSUITEBulkRplctConfMsg">
            <xsd:sequence>
               <xsd:element name="MessageHeader" type="BusinessDocumentMessageHeader"/>
               <xsd:element maxOccurs="unbounded" name="BusinessPartnerSUITEReplicateConfirmationMessage" type="BPSUITERplctConfMsg"/>
            </xsd:sequence>
         </xsd:complexType>
         <xsd:complexType name="BPSUITERplctConfBP">
            <xsd:sequence>
               <xsd:element minOccurs="0" name="UUID" type="UUID"/>
               <xsd:element minOccurs="0" name="InternalID" type="BusinessPartnerInternalID"/>
               <xsd:element minOccurs="0" name="ReceiverUUID" type="UUID"/>
               <xsd:element minOccurs="0" name="ReceiverInternalID" type="BusinessPartnerInternalID"/>
               <xsd:element minOccurs="0" name="ExternalID" type="NOCONVERSION_ObjectID"/>
               <xsd:element minOccurs="0" name="Customer" type="BPSUITERplctConfCust"/>
               <xsd:element minOccurs="0" name="Supplier" type="BPSUITERplctConfSuplr"/>
               <xsd:element maxOccurs="unbounded" minOccurs="0" name="MultipleAssignment" type="BPSUITERplctConfMltpAs"/>
            </xsd:sequence>
            <xsd:attribute name="multipleAssignmentListCompleteTransmissionIndicator" type="OPTIONAL_Indicator"/>
         </xsd:complexType>
         <xsd:complexType name="BPSUITERplctConfCust">
            <xsd:sequence>
               <xsd:element minOccurs="0" name="InternalID" type="BusinessPartnerInternalID"/>
               <xsd:element minOccurs="0" name="ReceiverInternalID" type="BusinessPartnerInternalID"/>
               <xsd:element minOccurs="0" name="OldReceiverInternalID" type="BusinessPartnerInternalID"/>
            </xsd:sequence>
         </xsd:complexType>
         <xsd:complexType name="BPSUITERplctConfMltpAs">
            <xsd:sequence>
               <xsd:element minOccurs="0" name="Customer" type="BPSUITERplctConfCust"/>
               <xsd:element minOccurs="0" name="Supplier" type="BPSUITERplctConfSuplr"/>
            </xsd:sequence>
         </xsd:complexType>
         <xsd:complexType name="BPSUITERplctConfMsg">
            <xsd:sequence>
               <xsd:element name="MessageHeader" type="BusinessDocumentMessageHeader"/>
               <xsd:element name="BusinessPartner" type="BPSUITERplctConfBP"/>
               <xsd:element minOccurs="0" name="Log" type="Log"/>
            </xsd:sequence>
         </xsd:complexType>
         <xsd:complexType name="BPSUITERplctConfSuplr">
            <xsd:sequence>
               <xsd:element minOccurs="0" name="InternalID" type="BusinessPartnerInternalID"/>
               <xsd:element minOccurs="0" name="ReceiverInternalID" type="BusinessPartnerInternalID"/>
               <xsd:element minOccurs="0" name="OldReceiverInternalID" type="BusinessPartnerInternalID"/>
            </xsd:sequence>
         </xsd:complexType>
         <xsd:complexType name="BusinessDocumentMessageHeader">
            <xsd:sequence>
               <xsd:element minOccurs="0" name="ID" type="BusinessDocumentMessageID"/>
               <xsd:element minOccurs="0" name="UUID" type="UUID"/>
               <xsd:element minOccurs="0" name="ReferenceID" type="BusinessDocumentMessageID"/>
               <xsd:element minOccurs="0" name="ReferenceUUID" type="UUID"/>
               <xsd:element minOccurs="0" name="CreationDateTime" type="GLOBAL_DateTime"/>
               <xsd:element minOccurs="0" name="TestDataIndicator" type="Indicator"/>
               <xsd:element minOccurs="0" name="ReconciliationIndicator" type="Indicator"/>
               <xsd:element minOccurs="0" name="SenderBusinessSystemID" type="BusinessSystemID"/>
               <xsd:element minOccurs="0" name="RecipientBusinessSystemID" type="BusinessSystemID"/>
               <xsd:element minOccurs="0" name="SenderParty" type="BusinessDocumentMessageHeaderParty"/>
               <xsd:element minOccurs="0" name="RecipientParty" type="BusinessDocumentMessageHeaderParty"/>
               <xsd:element minOccurs="0" name="BusinessScope" type="BusinessScope"/>
            </xsd:sequence>
            <xsd:attribute name="BusinessDocumentObjectListCompleteTransmissionIndicator" type="OPTIONAL_Indicator"/>
         </xsd:complexType>
         <xsd:complexType name="BusinessDocumentMessageHeaderParty">
            <xsd:sequence>
               <xsd:element minOccurs="0" name="InternalID" type="PartyInternalID"/>
               <xsd:element maxOccurs="unbounded" minOccurs="0" name="StandardID" type="PartyStandardID"/>
               <xsd:element minOccurs="0" name="ContactPerson" type="BusinessDocumentMessageHeaderPartyContactPerson"/>
            </xsd:sequence>
         </xsd:complexType>
         <xsd:complexType name="BusinessDocumentMessageHeaderPartyContactPerson">
            <xsd:sequence>
               <xsd:element minOccurs="0" name="InternalID" type="ContactPersonInternalID"/>
               <xsd:element maxOccurs="4" minOccurs="0" name="OrganisationFormattedName" type="LANGUAGEINDEPENDENT_MEDIUM_Name"/>
               <xsd:element maxOccurs="4" minOccurs="0" name="PersonFormattedName" type="LANGUAGEINDEPENDENT_LONG_Name"/>
               <xsd:element maxOccurs="unbounded" minOccurs="0" name="PhoneNumber" type="PhoneNumber"/>
               <xsd:element maxOccurs="unbounded" minOccurs="0" name="FaxNumber" type="PhoneNumber"/>
               <xsd:element maxOccurs="unbounded" minOccurs="0" name="EmailURI" type="EmailURI"/>
            </xsd:sequence>
         </xsd:complexType>
         <xsd:complexType name="BusinessDocumentMessageID">
            <xsd:annotation>
               <xsd:documentation xml:lang="EN">
                  <ccts:RepresentationTerm>Identifier</ccts:RepresentationTerm>
               </xsd:documentation>
            </xsd:annotation>
            <xsd:simpleContent>
               <xsd:extension base="BusinessDocumentMessageID.Content">
                  <xsd:attribute name="schemeID">
                     <xsd:simpleType>
                        <xsd:restriction base="xsd:token">
                           <xsd:maxLength value="60"/>
                           <xsd:minLength value="1"/>
                        </xsd:restriction>
                     </xsd:simpleType>
                  </xsd:attribute>
                  <xsd:attribute name="schemeAgencyID">
                     <xsd:simpleType>
                        <xsd:restriction base="xsd:token">
                           <xsd:maxLength value="60"/>
                           <xsd:minLength value="1"/>
                        </xsd:restriction>
                     </xsd:simpleType>
                  </xsd:attribute>
                  <xsd:attribute name="schemeAgencySchemeAgencyID" type="AgencyIdentificationCode"/>
               </xsd:extension>
            </xsd:simpleContent>
         </xsd:complexType>
         <xsd:simpleType name="BusinessDocumentMessageID.Content">
            <xsd:restriction base="xsd:token">
               <xsd:maxLength value="35"/>
               <xsd:minLength value="1"/>
            </xsd:restriction>
         </xsd:simpleType>
         <xsd:simpleType name="BusinessPartnerInternalID">
            <xsd:annotation>
               <xsd:documentation xml:lang="EN">
                  <ccts:RepresentationTerm>Identifier</ccts:RepresentationTerm>
               </xsd:documentation>
            </xsd:annotation>
            <xsd:restriction base="xsd:token">
               <xsd:maxLength value="10"/>
               <xsd:minLength value="1"/>
            </xsd:restriction>
         </xsd:simpleType>
         <xsd:complexType name="BusinessScope">
            <xsd:sequence>
               <xsd:element name="TypeCode" type="BusinessScopeTypeCode"/>
               <xsd:element minOccurs="0" name="InstanceID" type="BusinessScopeInstanceID"/>
               <xsd:element minOccurs="0" name="ID" type="BusinessScopeID"/>
            </xsd:sequence>
         </xsd:complexType>
         <xsd:complexType name="BusinessScopeID">
            <xsd:annotation>
               <xsd:documentation xml:lang="EN">
                  <ccts:RepresentationTerm>Identifier</ccts:RepresentationTerm>
               </xsd:documentation>
            </xsd:annotation>
            <xsd:simpleContent>
               <xsd:extension base="BusinessScopeID.Content">
                  <xsd:attribute name="schemeID">
                     <xsd:simpleType>
                        <xsd:restriction base="xsd:token">
                           <xsd:maxLength value="60"/>
                           <xsd:minLength value="1"/>
                        </xsd:restriction>
                     </xsd:simpleType>
                  </xsd:attribute>
                  <xsd:attribute name="schemeAgencyID">
                     <xsd:simpleType>
                        <xsd:restriction base="xsd:token">
                           <xsd:maxLength value="60"/>
                           <xsd:minLength value="1"/>
                        </xsd:restriction>
                     </xsd:simpleType>
                  </xsd:attribute>
               </xsd:extension>
            </xsd:simpleContent>
         </xsd:complexType>
         <xsd:simpleType name="BusinessScopeID.Content">
            <xsd:restriction base="xsd:token">
               <xsd:maxLength value="36"/>
               <xsd:minLength value="1"/>
            </xsd:restriction>
         </xsd:simpleType>
         <xsd:complexType name="BusinessScopeInstanceID">
            <xsd:annotation>
               <xsd:documentation xml:lang="EN">
                  <ccts:RepresentationTerm>Identifier</ccts:RepresentationTerm>
               </xsd:documentation>
            </xsd:annotation>
            <xsd:simpleContent>
               <xsd:extension base="BusinessScopeInstanceID.Content">
                  <xsd:attribute name="schemeID">
                     <xsd:simpleType>
                        <xsd:restriction base="xsd:token">
                           <xsd:maxLength value="60"/>
                           <xsd:minLength value="1"/>
                        </xsd:restriction>
                     </xsd:simpleType>
                  </xsd:attribute>
                  <xsd:attribute name="schemeAgencyID">
                     <xsd:simpleType>
                        <xsd:restriction base="xsd:token">
                           <xsd:maxLength value="60"/>
                           <xsd:minLength value="1"/>
                        </xsd:restriction>
                     </xsd:simpleType>
                  </xsd:attribute>
               </xsd:extension>
            </xsd:simpleContent>
         </xsd:complexType>
         <xsd:simpleType name="BusinessScopeInstanceID.Content">
            <xsd:restriction base="xsd:token">
               <xsd:maxLength value="36"/>
               <xsd:minLength value="1"/>
            </xsd:restriction>
         </xsd:simpleType>
         <xsd:complexType name="BusinessScopeTypeCode">
            <xsd:annotation>
               <xsd:documentation xml:lang="EN">
                  <ccts:RepresentationTerm>Code</ccts:RepresentationTerm>
               </xsd:documentation>
            </xsd:annotation>
            <xsd:simpleContent>
               <xsd:extension base="BusinessScopeTypeCode.Content">
                  <xsd:attribute name="listID">
                     <xsd:simpleType>
                        <xsd:restriction base="xsd:token">
                           <xsd:maxLength value="60"/>
                           <xsd:minLength value="1"/>
                        </xsd:restriction>
                     </xsd:simpleType>
                  </xsd:attribute>
                  <xsd:attribute name="listVersionID">
                     <xsd:simpleType>
                        <xsd:restriction base="xsd:token">
                           <xsd:maxLength value="15"/>
                           <xsd:minLength value="1"/>
                        </xsd:restriction>
                     </xsd:simpleType>
                  </xsd:attribute>
                  <xsd:attribute name="listAgencyID">
                     <xsd:simpleType>
                        <xsd:restriction base="xsd:token">
                           <xsd:maxLength value="60"/>
                           <xsd:minLength value="1"/>
                        </xsd:restriction>
                     </xsd:simpleType>
                  </xsd:attribute>
                  <xsd:attribute name="listAgencySchemeID">
                     <xsd:simpleType>
                        <xsd:restriction base="xsd:token">
                           <xsd:maxLength value="60"/>
                           <xsd:minLength value="1"/>
                        </xsd:restriction>
                     </xsd:simpleType>
                  </xsd:attribute>
                  <xsd:attribute name="listAgencySchemeAgencyID" type="AgencyIdentificationCode"/>
               </xsd:extension>
            </xsd:simpleContent>
         </xsd:complexType>
         <xsd:simpleType name="BusinessScopeTypeCode.Content">
            <xsd:restriction base="xsd:token">
               <xsd:maxLength value="4"/>
               <xsd:minLength value="1"/>
            </xsd:restriction>
         </xsd:simpleType>
         <xsd:simpleType name="BusinessSystemID">
            <xsd:annotation>
               <xsd:documentation xml:lang="EN">
                  <ccts:RepresentationTerm>Identifier</ccts:RepresentationTerm>
               </xsd:documentation>
            </xsd:annotation>
            <xsd:restriction base="xsd:token">
               <xsd:maxLength value="60"/>
               <xsd:minLength value="1"/>
            </xsd:restriction>
         </xsd:simpleType>
         <xsd:complexType name="ContactPersonInternalID">
            <xsd:annotation>
               <xsd:documentation xml:lang="EN">
                  <ccts:RepresentationTerm>Identifier</ccts:RepresentationTerm>
               </xsd:documentation>
            </xsd:annotation>
            <xsd:simpleContent>
               <xsd:extension base="ContactPersonInternalID.Content">
                  <xsd:attribute name="schemeID">
                     <xsd:simpleType>
                        <xsd:restriction base="xsd:token">
                           <xsd:maxLength value="60"/>
                           <xsd:minLength value="1"/>
                        </xsd:restriction>
                     </xsd:simpleType>
                  </xsd:attribute>
                  <xsd:attribute name="schemeAgencyID">
                     <xsd:simpleType>
                        <xsd:restriction base="xsd:token">
                           <xsd:maxLength value="60"/>
                           <xsd:minLength value="1"/>
                        </xsd:restriction>
                     </xsd:simpleType>
                  </xsd:attribute>
               </xsd:extension>
            </xsd:simpleContent>
         </xsd:complexType>
         <xsd:simpleType name="ContactPersonInternalID.Content">
            <xsd:restriction base="xsd:token">
               <xsd:maxLength value="32"/>
               <xsd:minLength value="1"/>
            </xsd:restriction>
         </xsd:simpleType>
         <xsd:simpleType name="CountryCode">
            <xsd:annotation>
               <xsd:documentation xml:lang="EN">
                  <ccts:RepresentationTerm>Code</ccts:RepresentationTerm>
               </xsd:documentation>
            </xsd:annotation>
            <xsd:restriction base="xsd:token">
               <xsd:maxLength value="3"/>
               <xsd:minLength value="2"/>
            </xsd:restriction>
         </xsd:simpleType>
         <xsd:simpleType name="CountryDiallingCode">
            <xsd:annotation>
               <xsd:documentation xml:lang="EN">
                  <ccts:RepresentationTerm>Code</ccts:RepresentationTerm>
               </xsd:documentation>
            </xsd:annotation>
            <xsd:restriction base="xsd:token">
               <xsd:maxLength value="10"/>
               <xsd:minLength value="1"/>
            </xsd:restriction>
         </xsd:simpleType>
         <xsd:complexType name="EmailURI">
            <xsd:annotation>
               <xsd:documentation xml:lang="EN">
                  <ccts:RepresentationTerm>URI</ccts:RepresentationTerm>
               </xsd:documentation>
            </xsd:annotation>
            <xsd:simpleContent>
               <xsd:extension base="xsd:anyURI">
                  <xsd:attribute name="schemeID">
                     <xsd:simpleType>
                        <xsd:restriction base="xsd:token">
                           <xsd:maxLength value="60"/>
                           <xsd:minLength value="1"/>
                        </xsd:restriction>
                     </xsd:simpleType>
                  </xsd:attribute>
               </xsd:extension>
            </xsd:simpleContent>
         </xsd:complexType>
         <xsd:simpleType name="GLOBAL_DateTime">
            <xsd:annotation>
               <xsd:documentation xml:lang="EN">
                  <ccts:RepresentationTerm>DateTime</ccts:RepresentationTerm>
               </xsd:documentation>
            </xsd:annotation>
            <xsd:restriction base="xsd:dateTime">
               <xsd:pattern value="[0-9]{4}-[0-9]{2}-[0-9]{2}T[0-9]{2}:[0-9]{2}:[0-9]{2}(.[0-9]{1,7})?Z"/>
            </xsd:restriction>
         </xsd:simpleType>
         <xsd:simpleType name="Indicator">
            <xsd:annotation>
               <xsd:documentation xml:lang="EN">
                  <ccts:RepresentationTerm>Indicator</ccts:RepresentationTerm>
               </xsd:documentation>
            </xsd:annotation>
            <xsd:restriction base="xsd:boolean"/>
         </xsd:simpleType>
         <xsd:simpleType name="LANGUAGEINDEPENDENT_LONG_Name">
            <xsd:annotation>
               <xsd:documentation xml:lang="EN">
                  <ccts:RepresentationTerm>Name</ccts:RepresentationTerm>
               </xsd:documentation>
            </xsd:annotation>
            <xsd:restriction base="xsd:string">
               <xsd:maxLength value="80"/>
            </xsd:restriction>
         </xsd:simpleType>
         <xsd:simpleType name="LANGUAGEINDEPENDENT_MEDIUM_Name">
            <xsd:annotation>
               <xsd:documentation xml:lang="EN">
                  <ccts:RepresentationTerm>Name</ccts:RepresentationTerm>
               </xsd:documentation>
            </xsd:annotation>
            <xsd:restriction base="xsd:string">
               <xsd:maxLength value="40"/>
            </xsd:restriction>
         </xsd:simpleType>
         <xsd:simpleType name="LANGUAGEINDEPENDENT_Name">
            <xsd:annotation>
               <xsd:documentation xml:lang="EN">
                  <ccts:RepresentationTerm>Name</ccts:RepresentationTerm>
               </xsd:documentation>
            </xsd:annotation>
            <xsd:restriction base="xsd:string"/>
         </xsd:simpleType>
         <xsd:simpleType name="LanguageCode">
            <xsd:annotation>
               <xsd:documentation xml:lang="EN">
                  <ccts:RepresentationTerm>Code</ccts:RepresentationTerm>
               </xsd:documentation>
            </xsd:annotation>
            <xsd:restriction base="xsd:language">
               <xsd:maxLength value="9"/>
               <xsd:minLength value="2"/>
            </xsd:restriction>
         </xsd:simpleType>
         <xsd:complexType name="Log">
            <xsd:sequence>
               <xsd:element minOccurs="0" name="BusinessDocumentProcessingResultCode" type="ProcessingResultCode"/>
               <xsd:element minOccurs="0" name="MaximumLogItemSeverityCode" type="LogItemSeverityCode"/>
               <xsd:element maxOccurs="unbounded" minOccurs="0" name="Item" type="LogItem"/>
            </xsd:sequence>
         </xsd:complexType>
         <xsd:complexType name="LogItem">
            <xsd:sequence>
               <xsd:element minOccurs="0" name="TypeID" type="LogItemTypeID"/>
               <xsd:element minOccurs="0" name="CategoryCode" type="LogItemCategoryCode"/>
               <xsd:element minOccurs="0" name="SeverityCode" type="LogItemSeverityCode"/>
               <xsd:element minOccurs="0" name="ReferenceObjectNodeSenderTechnicalID" type="ObjectNodePartyTechnicalID"/>
               <xsd:element minOccurs="0" name="ReferenceMessageElementName" type="LANGUAGEINDEPENDENT_Name"/>
               <xsd:element name="Note" type="LogItemNote"/>
               <xsd:element minOccurs="0" name="NoteTemplateText" type="LogItemNoteTemplateText"/>
               <xsd:element minOccurs="0" name="LogItemNotePlaceholderSubstitutionList" type="LogItemNotePlaceholderSubstitutionList"/>
               <xsd:element minOccurs="0" name="WebURI" type="WebURI"/>
            </xsd:sequence>
         </xsd:complexType>
         <xsd:complexType name="LogItemCategoryCode">
            <xsd:annotation>
               <xsd:documentation xml:lang="EN">
                  <ccts:RepresentationTerm>Code</ccts:RepresentationTerm>
               </xsd:documentation>
            </xsd:annotation>
            <xsd:simpleContent>
               <xsd:extension base="LogItemCategoryCode.Content">
                  <xsd:attribute name="listID">
                     <xsd:simpleType>
                        <xsd:restriction base="xsd:token">
                           <xsd:maxLength value="60"/>
                           <xsd:minLength value="1"/>
                        </xsd:restriction>
                     </xsd:simpleType>
                  </xsd:attribute>
                  <xsd:attribute name="listVersionID">
                     <xsd:simpleType>
                        <xsd:restriction base="xsd:token">
                           <xsd:maxLength value="15"/>
                           <xsd:minLength value="1"/>
                        </xsd:restriction>
                     </xsd:simpleType>
                  </xsd:attribute>
                  <xsd:attribute name="listAgencyID">
                     <xsd:simpleType>
                        <xsd:restriction base="xsd:token">
                           <xsd:maxLength value="60"/>
                           <xsd:minLength value="1"/>
                        </xsd:restriction>
                     </xsd:simpleType>
                  </xsd:attribute>
                  <xsd:attribute name="listAgencySchemeID">
                     <xsd:simpleType>
                        <xsd:restriction base="xsd:token">
                           <xsd:maxLength value="60"/>
                           <xsd:minLength value="1"/>
                        </xsd:restriction>
                     </xsd:simpleType>
                  </xsd:attribute>
                  <xsd:attribute name="listAgencySchemeAgencyID" type="AgencyIdentificationCode"/>
               </xsd:extension>
            </xsd:simpleContent>
         </xsd:complexType>
         <xsd:simpleType name="LogItemCategoryCode.Content">
            <xsd:restriction base="xsd:token">
               <xsd:maxLength value="15"/>
               <xsd:minLength value="1"/>
            </xsd:restriction>
         </xsd:simpleType>
         <xsd:simpleType name="LogItemNote">
            <xsd:annotation>
               <xsd:documentation xml:lang="EN">
                  <ccts:RepresentationTerm>Note</ccts:RepresentationTerm>
               </xsd:documentation>
            </xsd:annotation>
            <xsd:restriction base="xsd:string">
               <xsd:maxLength value="200"/>
            </xsd:restriction>
         </xsd:simpleType>
         <xsd:complexType name="LogItemNotePlaceholderSubstitutionList">
            <xsd:sequence>
               <xsd:element name="FirstPlaceholderID" type="LogItemTemplatePlaceholderID"/>
               <xsd:element minOccurs="0" name="SecondPlaceholderID" type="LogItemTemplatePlaceholderID"/>
               <xsd:element minOccurs="0" name="ThirdPlaceholderID" type="LogItemTemplatePlaceholderID"/>
               <xsd:element minOccurs="0" name="FourthPlaceholderID" type="LogItemTemplatePlaceholderID"/>
               <xsd:element name="FirstPlaceholderSubstitutionText" type="LogItemPlaceholderSubstitutionText"/>
               <xsd:element minOccurs="0" name="SecondPlaceholderSubstitutionText" type="LogItemPlaceholderSubstitutionText"/>
               <xsd:element minOccurs="0" name="ThirdPlaceholderSubstitutionText" type="LogItemPlaceholderSubstitutionText"/>
               <xsd:element minOccurs="0" name="FourthPlaceholderSubstitutionText" type="LogItemPlaceholderSubstitutionText"/>
            </xsd:sequence>
         </xsd:complexType>
         <xsd:simpleType name="LogItemNoteTemplateText">
            <xsd:annotation>
               <xsd:documentation xml:lang="EN">
                  <ccts:RepresentationTerm>Text</ccts:RepresentationTerm>
               </xsd:documentation>
            </xsd:annotation>
            <xsd:restriction base="xsd:string">
               <xsd:maxLength value="73"/>
               <xsd:minLength value="1"/>
            </xsd:restriction>
         </xsd:simpleType>
         <xsd:simpleType name="LogItemPlaceholderSubstitutionText">
            <xsd:annotation>
               <xsd:documentation xml:lang="EN">
                  <ccts:RepresentationTerm>Text</ccts:RepresentationTerm>
               </xsd:documentation>
            </xsd:annotation>
            <xsd:restriction base="xsd:string">
               <xsd:maxLength value="50"/>
               <xsd:minLength value="1"/>
            </xsd:restriction>
         </xsd:simpleType>
         <xsd:simpleType name="LogItemSeverityCode">
            <xsd:annotation>
               <xsd:documentation xml:lang="EN">
                  <ccts:RepresentationTerm>Code</ccts:RepresentationTerm>
               </xsd:documentation>
            </xsd:annotation>
            <xsd:restriction base="xsd:token">
               <xsd:length value="1"/>
            </xsd:restriction>
         </xsd:simpleType>
         <xsd:simpleType name="LogItemTemplatePlaceholderID">
            <xsd:annotation>
               <xsd:documentation xml:lang="EN">
                  <ccts:RepresentationTerm>Identifier</ccts:RepresentationTerm>
               </xsd:documentation>
            </xsd:annotation>
            <xsd:restriction base="xsd:token">
               <xsd:length value="1"/>
            </xsd:restriction>
         </xsd:simpleType>
         <xsd:simpleType name="LogItemTypeID">
            <xsd:annotation>
               <xsd:documentation xml:lang="EN">
                  <ccts:RepresentationTerm>Identifier</ccts:RepresentationTerm>
               </xsd:documentation>
            </xsd:annotation>
            <xsd:restriction base="xsd:token">
               <xsd:maxLength value="40"/>
               <xsd:minLength value="1"/>
            </xsd:restriction>
         </xsd:simpleType>
         <xsd:complexType name="MEDIUM_Name">
            <xsd:annotation>
               <xsd:documentation xml:lang="EN">
                  <ccts:RepresentationTerm>Name</ccts:RepresentationTerm>
               </xsd:documentation>
            </xsd:annotation>
            <xsd:simpleContent>
               <xsd:extension base="MEDIUM_Name.Content">
                  <xsd:attribute name="languageCode" type="LanguageCode"/>
               </xsd:extension>
            </xsd:simpleContent>
         </xsd:complexType>
         <xsd:simpleType name="MEDIUM_Name.Content">
            <xsd:restriction base="xsd:string">
               <xsd:maxLength value="40"/>
               <xsd:minLength value="1"/>
            </xsd:restriction>
         </xsd:simpleType>
         <xsd:complexType name="NOCONVERSION_ObjectID">
            <xsd:annotation>
               <xsd:documentation xml:lang="EN">
                  <ccts:RepresentationTerm>Identifier</ccts:RepresentationTerm>
               </xsd:documentation>
            </xsd:annotation>
            <xsd:simpleContent>
               <xsd:extension base="NOCONVERSION_ObjectID.Content">
                  <xsd:attribute name="schemeID">
                     <xsd:simpleType>
                        <xsd:restriction base="xsd:token">
                           <xsd:maxLength value="60"/>
                           <xsd:minLength value="1"/>
                        </xsd:restriction>
                     </xsd:simpleType>
                  </xsd:attribute>
                  <xsd:attribute name="schemeVersionID">
                     <xsd:simpleType>
                        <xsd:restriction base="xsd:token">
                           <xsd:maxLength value="15"/>
                           <xsd:minLength value="1"/>
                        </xsd:restriction>
                     </xsd:simpleType>
                  </xsd:attribute>
                  <xsd:attribute name="schemeAgencyID">
                     <xsd:simpleType>
                        <xsd:restriction base="xsd:token">
                           <xsd:maxLength value="60"/>
                           <xsd:minLength value="1"/>
                        </xsd:restriction>
                     </xsd:simpleType>
                  </xsd:attribute>
               </xsd:extension>
            </xsd:simpleContent>
         </xsd:complexType>
         <xsd:simpleType name="NOCONVERSION_ObjectID.Content">
            <xsd:restriction base="xsd:token">
               <xsd:maxLength value="100"/>
               <xsd:minLength value="1"/>
            </xsd:restriction>
         </xsd:simpleType>
         <xsd:simpleType name="OPTIONAL_Indicator">
            <xsd:annotation>
               <xsd:documentation xml:lang="EN">
                  <ccts:RepresentationTerm>Indicator</ccts:RepresentationTerm>
               </xsd:documentation>
            </xsd:annotation>
            <xsd:restriction base="xsd:boolean"/>
         </xsd:simpleType>
         <xsd:simpleType name="ObjectNodePartyTechnicalID">
            <xsd:annotation>
               <xsd:documentation xml:lang="EN">
                  <ccts:RepresentationTerm>Identifier</ccts:RepresentationTerm>
               </xsd:documentation>
            </xsd:annotation>
            <xsd:restriction base="xsd:token">
               <xsd:maxLength value="70"/>
               <xsd:minLength value="1"/>
            </xsd:restriction>
         </xsd:simpleType>
         <xsd:complexType name="PartyInternalID">
            <xsd:annotation>
               <xsd:documentation xml:lang="EN">
                  <ccts:RepresentationTerm>Identifier</ccts:RepresentationTerm>
               </xsd:documentation>
            </xsd:annotation>
            <xsd:simpleContent>
               <xsd:extension base="PartyInternalID.Content">
                  <xsd:attribute name="schemeID">
                     <xsd:simpleType>
                        <xsd:restriction base="xsd:token">
                           <xsd:maxLength value="60"/>
                           <xsd:minLength value="1"/>
                        </xsd:restriction>
                     </xsd:simpleType>
                  </xsd:attribute>
                  <xsd:attribute name="schemeAgencyID">
                     <xsd:simpleType>
                        <xsd:restriction base="xsd:token">
                           <xsd:maxLength value="60"/>
                           <xsd:minLength value="1"/>
                        </xsd:restriction>
                     </xsd:simpleType>
                  </xsd:attribute>
               </xsd:extension>
            </xsd:simpleContent>
         </xsd:complexType>
         <xsd:simpleType name="PartyInternalID.Content">
            <xsd:restriction base="xsd:token">
               <xsd:maxLength value="32"/>
               <xsd:minLength value="1"/>
            </xsd:restriction>
         </xsd:simpleType>
         <xsd:complexType name="PartyStandardID">
            <xsd:annotation>
               <xsd:documentation xml:lang="EN">
                  <ccts:RepresentationTerm>Identifier</ccts:RepresentationTerm>
               </xsd:documentation>
            </xsd:annotation>
            <xsd:simpleContent>
               <xsd:extension base="PartyStandardID.Content">
                  <xsd:attribute name="schemeAgencyID" use="required">
                     <xsd:simpleType>
                        <xsd:restriction base="xsd:token">
                           <xsd:maxLength value="3"/>
                           <xsd:minLength value="1"/>
                        </xsd:restriction>
                     </xsd:simpleType>
                  </xsd:attribute>
               </xsd:extension>
            </xsd:simpleContent>
         </xsd:complexType>
         <xsd:simpleType name="PartyStandardID.Content">
            <xsd:restriction base="xsd:token">
               <xsd:maxLength value="13"/>
               <xsd:minLength value="1"/>
            </xsd:restriction>
         </xsd:simpleType>
         <xsd:complexType name="PhoneNumber">
            <xsd:sequence>
               <xsd:element minOccurs="0" name="AreaID" type="PhoneNumberAreaID"/>
               <xsd:element minOccurs="0" name="SubscriberID" type="PhoneNumberSubscriberID"/>
               <xsd:element minOccurs="0" name="ExtensionID" type="PhoneNumberExtensionID"/>
               <xsd:element minOccurs="0" name="CountryCode" type="CountryCode"/>
               <xsd:element minOccurs="0" name="CountryDiallingCode" type="CountryDiallingCode"/>
               <xsd:element minOccurs="0" name="CountryName" type="MEDIUM_Name"/>
            </xsd:sequence>
         </xsd:complexType>
         <xsd:simpleType name="PhoneNumberAreaID">
            <xsd:annotation>
               <xsd:documentation xml:lang="EN">
                  <ccts:RepresentationTerm>Identifier</ccts:RepresentationTerm>
               </xsd:documentation>
            </xsd:annotation>
            <xsd:restriction base="xsd:token">
               <xsd:maxLength value="10"/>
               <xsd:minLength value="1"/>
            </xsd:restriction>
         </xsd:simpleType>
         <xsd:simpleType name="PhoneNumberExtensionID">
            <xsd:annotation>
               <xsd:documentation xml:lang="EN">
                  <ccts:RepresentationTerm>Identifier</ccts:RepresentationTerm>
               </xsd:documentation>
            </xsd:annotation>
            <xsd:restriction base="xsd:token">
               <xsd:maxLength value="10"/>
               <xsd:minLength value="1"/>
            </xsd:restriction>
         </xsd:simpleType>
         <xsd:simpleType name="PhoneNumberSubscriberID">
            <xsd:annotation>
               <xsd:documentation xml:lang="EN">
                  <ccts:RepresentationTerm>Identifier</ccts:RepresentationTerm>
               </xsd:documentation>
            </xsd:annotation>
            <xsd:restriction base="xsd:token">
               <xsd:maxLength value="30"/>
               <xsd:minLength value="1"/>
            </xsd:restriction>
         </xsd:simpleType>
         <xsd:simpleType name="ProcessingResultCode">
            <xsd:annotation>
               <xsd:documentation xml:lang="EN">
                  <ccts:RepresentationTerm>Code</ccts:RepresentationTerm>
               </xsd:documentation>
            </xsd:annotation>
            <xsd:restriction base="xsd:token">
               <xsd:maxLength value="2"/>
               <xsd:minLength value="1"/>
            </xsd:restriction>
         </xsd:simpleType>
         <xsd:complexType name="UUID">
            <xsd:annotation>
               <xsd:documentation xml:lang="EN">
                  <ccts:RepresentationTerm>Identifier</ccts:RepresentationTerm>
               </xsd:documentation>
            </xsd:annotation>
            <xsd:simpleContent>
               <xsd:extension base="UUID.Content">
                  <xsd:attribute name="schemeID">
                     <xsd:simpleType>
                        <xsd:restriction base="xsd:token">
                           <xsd:maxLength value="60"/>
                           <xsd:minLength value="1"/>
                        </xsd:restriction>
                     </xsd:simpleType>
                  </xsd:attribute>
                  <xsd:attribute name="schemeAgencyID">
                     <xsd:simpleType>
                        <xsd:restriction base="xsd:token">
                           <xsd:maxLength value="60"/>
                           <xsd:minLength value="1"/>
                        </xsd:restriction>
                     </xsd:simpleType>
                  </xsd:attribute>
               </xsd:extension>
            </xsd:simpleContent>
         </xsd:complexType>
         <xsd:simpleType name="UUID.Content">
            <xsd:restriction base="xsd:token">
               <xsd:length value="36"/>
               <xsd:pattern value="[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}"/>
            </xsd:restriction>
         </xsd:simpleType>
         <xsd:simpleType name="WebURI">
            <xsd:annotation>
               <xsd:documentation xml:lang="EN">
                  <ccts:RepresentationTerm>URI</ccts:RepresentationTerm>
               </xsd:documentation>
            </xsd:annotation>
            <xsd:restriction base="xsd:anyURI"/>
         </xsd:simpleType>
      </xsd:schema>
      <xsd:schema targetNamespace="http://sap.com/xi/SAPGlobal20/Global" xmlns:xi0="http://sap.com/xi/SAPGlobal20/Global" xmlns:ccts="urn:un:unece:uncefact:documentation:standard:CoreComponentsTechnicalSpecification:3.0" xmlns="http://sap.com/xi/SAPGlobal20/Global">
         <xsd:import namespace="http://sap.com/xi/SAP_BS_FND/MDG/Global2"/>
         <xsd:element name="BusinessPartnerSUITEBulkReplicateConfirmation" type="tns:BPSUITEBulkRplctConfMsg"/>
      </xsd:schema>
   </wsdl:types>
   <wsdl:message name="BusinessPartnerSUITEBulkReplicateConfirmation">
      <wsdl:part element="n1:BusinessPartnerSUITEBulkReplicateConfirmation" name="BusinessPartnerSUITEBulkReplicateConfirmation"/>
   </wsdl:message>
   <wsdl:portType name="BusinessPartnerSUITEBulkReplicateConfirmation_Out">
      <wsdl:documentation>
         <sapdoc:sapdoc xmlns:sapdoc="urn:sap:esi:documentation">
            <sapdoc:docitem applicationComponent="CA-MDG-APP-BP"/>
         </sapdoc:sapdoc>
      </wsdl:documentation>
      <wsdl:operation name="BusinessPartnerSUITEBulkReplicateConfirmation_Out">
         <wsdl:input message="tns:BusinessPartnerSUITEBulkReplicateConfirmation"/>
      </wsdl:operation>
   </wsdl:portType>
   <wsdl:binding name="NewBinding" type="tns:BusinessPartnerSUITEBulkReplicateConfirmation_Out">
      <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" required="false"/>
      <wsp:Policy>
         <wsp:PolicyReference URI="#BN__binding"/>
      </wsp:Policy>
      <wsdl:operation name="BusinessPartnerSUITEBulkReplicateConfirmation_Out">
         <soap:operation soapAction="BusinessPartnerSUITEBulkReplicateConfirmation_Out" required="false" style="document"/>
         <wsdl:input>
            <soap:body use="literal"/>
         </wsdl:input>
      </wsdl:operation>
   </wsdl:binding>
   <wsdl:service name="NewService">
      <wsdl:port binding="tns:NewBinding" name="NewPort1">
         <soap:address location="https://hcit3n02-iflmap.hcisb.int.sap.hana.ondemand.com/cxf/s4/rc/bp/confirm"/>
      </wsdl:port>
   </wsdl:service>
   <wsp:UsingPolicy required="true"/>
   <wsp:Policy wsu:Id="BN__binding">
      <wsp:ExactlyOne>
         <wsp:All>
            <sp:TransportBinding xmlns:sp="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702">
               <wsp:Policy>
                  <sp:TransportToken>
                     <wsp:Policy>
                        <sp:HttpsToken>
                           <wsp:Policy>
                              <wsp:ExactlyOne>
                                 <sp:HttpBasicAuthentication/>
                                 <sp:RequireClientCertificate/>
                              </wsp:ExactlyOne>
                           </wsp:Policy>
                        </sp:HttpsToken>
                     </wsp:Policy>
                  </sp:TransportToken>
                  <sp:AlgorithmSuite>
                     <wsp:Policy>
                        <wsp:ExactlyOne>
                           <sp:Basic256/>
                           <sp:Basic192/>
                           <sp:Basic128/>
                           <sp:TripleDes/>
                           <sp:Basic256Rsa15/>
                           <sp:Basic192Rsa15/>
                           <sp:Basic128Rsa15/>
                           <sp:TripleDesRsa15/>
                           <sp:Basic256Sha256/>
                           <sp:Basic192Sha256/>
                           <sp:Basic128Sha256/>
                           <sp:TripleDesSha256/>
                           <sp:Basic256Sha256Rsa15/>
                           <sp:Basic192Sha256Rsa15/>
                           <sp:Basic128Sha256Rsa15/>
                           <sp:TripleDesSha256Rsa15/>
                        </wsp:ExactlyOne>
                     </wsp:Policy>
                  </sp:AlgorithmSuite>
                  <sp:Layout>
                     <wsp:Policy>
                        <sp:Strict/>
                     </wsp:Policy>
                  </sp:Layout>
               </wsp:Policy>
            </sp:TransportBinding>
         </wsp:All>
      </wsp:ExactlyOne>
   </wsp:Policy>
</wsdl:definitions>