Resources/canonical_library/wsdl/BusinessPartnerContactPersonCreateRequestConfirmation_In_2.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions targetNamespace="http://sap.com/xi/CRM/Global" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsoap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://sap.com/xi/CRM/Global" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd">
 <wsdl:documentation>
  <sidl:sidl xmlns:sidl="http://www.sap.com/2007/03/sidl"/>
 </wsdl:documentation>
 <wsp:UsingPolicy wsdl:required="true"/>
 <wsp:Policy wsu:Id="OP_IF_OP_BusinessPartnerContactPersonCreateRequestConfirmation_In">
  <sapcomhnd:enableCommit xmlns:sapcomhnd="http://www.sap.com/NW05/soap/features/commit/">false</sapcomhnd:enableCommit>
  <sapblock:enableBlocking xmlns:sapblock="http://www.sap.com/NW05/soap/features/blocking/">true</sapblock:enableBlocking>
  <saptrhnw05:required xmlns:saptrhnw05="http://www.sap.com/NW05/soap/features/transaction/">no</saptrhnw05:required>
  <saprmnw05:enableWSRM xmlns:saprmnw05="http://www.sap.com/NW05/soap/features/wsrm/">false</saprmnw05:enableWSRM>
 </wsp:Policy>
 <wsdl:types>
  <xsd:schema targetNamespace="http://sap.com/xi/CRM/Global" xmlns="http://sap.com/xi/CRM/Global" xmlns:ccts="urn:un:unece:uncefact:documentation:standard:CoreComponentsTechnicalSpecification:3.0" xmlns:sprx="urn:sap.com:abap:proxy">
   <xsd:annotation>
    <xsd:documentation>
     <sprx:documentation version="1" baseURL="http://ldciqdt.wdf.sap.corp:50018/sap/bc/esdt/docu/xsd_type?sap-client=504"/>
    </xsd:documentation>
   </xsd:annotation>
   <xsd:element name="BusinessPartnerContactPersonCreateConfirmation" type="BusinessPartnerContactPersonCreateConfirmationMessage"/>
   <xsd:element name="BusinessPartnerContactPersonCreateRequest" type="BusinessPartnerContactPersonCreateRequestMessage"/>
   <xsd:element name="StandardMessageFault">
    <xsd:complexType>
     <xsd:sequence>
      <xsd:element name="standard" type="ExchangeFaultData"/>
     </xsd:sequence>
    </xsd:complexType>
   </xsd:element>
   <xsd:complexType name="AcademicTitleCode">
    <xsd:annotation>
     <xsd:documentation xml:lang="EN">
      <ccts:RepresentationTerm>Code</ccts:RepresentationTerm>
     </xsd:documentation>
    </xsd:annotation>
    <xsd:simpleContent>
     <xsd:extension base="AcademicTitleCode.Content">
      <xsd:attribute name="listID">
       <xsd:simpleType>
        <xsd:restriction base="xsd:token">
         <xsd:maxLength value="60"/>
         <xsd:minLength value="1"/>
        </xsd:restriction>
       </xsd:simpleType>
      </xsd:attribute>
      <xsd:attribute name="listVersionID">
       <xsd:simpleType>
        <xsd:restriction base="xsd:token">
         <xsd:maxLength value="15"/>
         <xsd:minLength value="1"/>
        </xsd:restriction>
       </xsd:simpleType>
      </xsd:attribute>
      <xsd:attribute name="listAgencyID">
       <xsd:simpleType>
        <xsd:restriction base="xsd:token">
         <xsd:maxLength value="60"/>
         <xsd:minLength value="1"/>
        </xsd:restriction>
       </xsd:simpleType>
      </xsd:attribute>
      <xsd:attribute name="listAgencySchemeID">
       <xsd:simpleType>
        <xsd:restriction base="xsd:token">
         <xsd:maxLength value="60"/>
         <xsd:minLength value="1"/>
        </xsd:restriction>
       </xsd:simpleType>
      </xsd:attribute>
      <xsd:attribute name="listAgencySchemeAgencyID" type="AgencyIdentificationCode"/>
     </xsd:extension>
    </xsd:simpleContent>
   </xsd:complexType>
   <xsd:simpleType name="AcademicTitleCode.Content">
    <xsd:restriction base="xsd:token">
     <xsd:maxLength value="4"/>
     <xsd:minLength value="1"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="AddressID">
    <xsd:annotation>
     <xsd:documentation xml:lang="EN">
      <ccts:RepresentationTerm>Identifier</ccts:RepresentationTerm>
     </xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:token">
     <xsd:maxLength value="40"/>
     <xsd:minLength value="1"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:complexType name="AddressRepresentationCode">
    <xsd:annotation>
     <xsd:documentation xml:lang="EN">
      <ccts:RepresentationTerm>Code</ccts:RepresentationTerm>
     </xsd:documentation>
    </xsd:annotation>
    <xsd:simpleContent>
     <xsd:extension base="AddressRepresentationCode.Content">
      <xsd:attribute name="listVersionID">
       <xsd:simpleType>
        <xsd:restriction base="xsd:token">
         <xsd:maxLength value="15"/>
         <xsd:minLength value="1"/>
        </xsd:restriction>
       </xsd:simpleType>
      </xsd:attribute>
      <xsd:attribute name="listAgencyID">
       <xsd:simpleType>
        <xsd:restriction base="xsd:token">
         <xsd:maxLength value="60"/>
         <xsd:minLength value="1"/>
        </xsd:restriction>
       </xsd:simpleType>
      </xsd:attribute>
      <xsd:attribute name="listAgencySchemeID">
       <xsd:simpleType>
        <xsd:restriction base="xsd:token">
         <xsd:maxLength value="60"/>
         <xsd:minLength value="1"/>
        </xsd:restriction>
       </xsd:simpleType>
      </xsd:attribute>
      <xsd:attribute name="listAgencySchemeAgencyID" type="AgencyIdentificationCode"/>
     </xsd:extension>
    </xsd:simpleContent>
   </xsd:complexType>
   <xsd:simpleType name="AddressRepresentationCode.Content">
    <xsd:restriction base="xsd:token">
     <xsd:length value="1"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="AgencyIdentificationCode">
    <xsd:annotation>
     <xsd:documentation xml:lang="EN">
      <ccts:RepresentationTerm>Code</ccts:RepresentationTerm>
     </xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:token">
     <xsd:maxLength value="3"/>
     <xsd:minLength value="1"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="BuildingID">
    <xsd:restriction base="xsd:token">
     <xsd:maxLength value="10"/>
     <xsd:minLength value="1"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:complexType name="BusinessPartnerContactPersonCreateConfirmationMessage">
    <xsd:sequence>
     <xsd:element name="ContactPerson" minOccurs="0">
      <xsd:complexType>
       <xsd:sequence>
        <xsd:element name="RelationshipBusinessPartnerID" type="PartyID"/>
        <xsd:element name="RelationshipPersonID" minOccurs="0" type="PartyID"/>
        <xsd:element name="BusinessPartner" minOccurs="0">
         <xsd:complexType>
          <xsd:sequence>
           <xsd:element name="ID" minOccurs="0" type="PartyID"/>
          </xsd:sequence>
         </xsd:complexType>
        </xsd:element>
       </xsd:sequence>
      </xsd:complexType>
     </xsd:element>
     <xsd:element name="Log" type="Log"/>
    </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="BusinessPartnerContactPersonCreateRequestMessage">
    <xsd:sequence>
     <xsd:element name="ContactPerson">
      <xsd:complexType>
       <xsd:sequence>
        <xsd:element name="RelationshipBusinessPartnerID" type="PartyID"/>
        <xsd:element name="RelationshipPersonID" minOccurs="0" type="PartyID"/>
        <xsd:element name="ValidityPeriod" minOccurs="0" type="DatePeriod"/>
        <xsd:element name="DefaultIndicator" minOccurs="0" type="Indicator"/>
        <xsd:element name="FunctionalTitleName" minOccurs="0" type="MEDIUM_Name"/>
        <xsd:element name="ContactPersonFunctionTypeCode" minOccurs="0" type="ContactPersonFunctionTypeCode"/>
        <xsd:element name="DepartmentName" minOccurs="0" type="MEDIUM_Name"/>
        <xsd:element name="ContactPersonFunctionalAreaCode" minOccurs="0" type="ContactPersonFunctionalAreaCode"/>
        <xsd:element name="PowerOfAttorneyTypeCode" minOccurs="0" type="PowerOfAttorneyTypeCode"/>
        <xsd:element name="VIPReasonCode" minOccurs="0" type="VIPReasonCode"/>
        <xsd:element name="ContactPersonNote" minOccurs="0" type="Note"/>
        <xsd:element name="WorkplaceAddressInformation" minOccurs="0">
         <xsd:complexType>
          <xsd:sequence>
           <xsd:element name="AddressID" minOccurs="0" type="AddressID"/>
           <xsd:element name="DefaultIndicator" minOccurs="0" type="Indicator"/>
           <xsd:element name="WorkplacePostalAddress" minOccurs="0" maxOccurs="unbounded">
            <xsd:complexType>
             <xsd:sequence>
              <xsd:element name="AddressRepresentationCode" minOccurs="0" type="AddressRepresentationCode"/>
              <xsd:element name="FunctionalTitleName" minOccurs="0" type="LANGUAGEINDEPENDENT_MEDIUM_Name"/>
              <xsd:element name="DepartmentName" minOccurs="0" type="LANGUAGEINDEPENDENT_MEDIUM_Name"/>
              <xsd:element name="BuildingID" minOccurs="0" type="BuildingID"/>
              <xsd:element name="FloorID" minOccurs="0" type="FloorID"/>
              <xsd:element name="RoomID" minOccurs="0" type="RoomID"/>
              <xsd:element name="InhouseMailID" minOccurs="0" type="InhouseMailID"/>
              <xsd:element name="CorrespondenceShortName" minOccurs="0" type="LANGUAGEINDEPENDENT_SHORT_Name"/>
             </xsd:sequence>
            </xsd:complexType>
           </xsd:element>
           <xsd:element name="PersonName" minOccurs="0" maxOccurs="unbounded">
            <xsd:complexType>
             <xsd:sequence>
              <xsd:element name="AddressRepresentationCode" minOccurs="0" type="AddressRepresentationCode"/>
              <xsd:element name="Name">
               <xsd:complexType>
                <xsd:sequence>
                 <xsd:element name="FormOfAddressCode" minOccurs="0" type="FormOfAddressCode"/>
                 <xsd:element name="GivenName" minOccurs="0" type="LANGUAGEINDEPENDENT_MEDIUM_Name"/>
                 <xsd:element name="MiddleName" minOccurs="0" type="LANGUAGEINDEPENDENT_MEDIUM_Name"/>
                 <xsd:element name="FamilyName" minOccurs="0" type="LANGUAGEINDEPENDENT_MEDIUM_Name"/>
                 <xsd:element name="AdditionalFamilyName" minOccurs="0" type="LANGUAGEINDEPENDENT_MEDIUM_Name"/>
                 <xsd:element name="BirthName" minOccurs="0" type="LANGUAGEINDEPENDENT_MEDIUM_Name"/>
                 <xsd:element name="NickName" minOccurs="0" type="LANGUAGEINDEPENDENT_MEDIUM_Name"/>
                 <xsd:element name="InitialsName" minOccurs="0" type="LANGUAGEINDEPENDENT_SHORT_Name"/>
                 <xsd:element name="AcademicTitleCode" minOccurs="0" type="AcademicTitleCode"/>
                 <xsd:element name="AdditionalAcademicTitleCode" minOccurs="0" type="AcademicTitleCode"/>
                 <xsd:element name="NamePrefixCode" minOccurs="0" type="FamilyNamePrefixCode"/>
                 <xsd:element name="AdditionalNamePrefixCode" minOccurs="0" type="FamilyNamePrefixCode"/>
                 <xsd:element name="NameSupplementCode" minOccurs="0" type="PersonNameSupplementCode"/>
                 <xsd:element name="DeviatingFullName" minOccurs="0" type="LANGUAGEINDEPENDENT_LONG_Name"/>
                 <xsd:element name="NameFormatCountryCode" minOccurs="0" type="CountryCode"/>
                 <xsd:element name="NameFormatCode" minOccurs="0" type="PersonNameFormatCode"/>
                </xsd:sequence>
               </xsd:complexType>
              </xsd:element>
              <xsd:element name="KeyWordsText" minOccurs="0" type="KeyWordsText"/>
              <xsd:element name="AdditionalKeyWordsText" minOccurs="0" type="KeyWordsText"/>
             </xsd:sequence>
            </xsd:complexType>
           </xsd:element>
           <xsd:element name="Telephone" minOccurs="0" maxOccurs="2">
            <xsd:complexType>
             <xsd:sequence>
              <xsd:element name="Number" type="PhoneNumber"/>
              <xsd:element name="UsageDeniedIndicator" minOccurs="0" type="Indicator"/>
              <xsd:element name="MobilePhoneNumberIndicator" minOccurs="0" type="Indicator"/>
              <xsd:element name="SMSEnabledIndicator" minOccurs="0" type="Indicator"/>
             </xsd:sequence>
            </xsd:complexType>
           </xsd:element>
           <xsd:element name="Facsimile" minOccurs="0">
            <xsd:complexType>
             <xsd:sequence>
              <xsd:element name="Number" type="PhoneNumber"/>
              <xsd:element name="UsageDeniedIndicator" minOccurs="0" type="Indicator"/>
             </xsd:sequence>
            </xsd:complexType>
           </xsd:element>
           <xsd:element name="EMail" minOccurs="0">
            <xsd:complexType>
             <xsd:sequence>
              <xsd:element name="Address" type="EmailAddress"/>
              <xsd:element name="UsageDeniedIndicator" minOccurs="0" type="Indicator"/>
             </xsd:sequence>
            </xsd:complexType>
           </xsd:element>
          </xsd:sequence>
         </xsd:complexType>
        </xsd:element>
        <xsd:element name="BusinessPartner" minOccurs="0">
         <xsd:complexType>
          <xsd:sequence>
           <xsd:element name="ID" minOccurs="0" type="PartyID"/>
           <xsd:element name="Common" minOccurs="0">
            <xsd:complexType>
             <xsd:sequence>
              <xsd:element name="KeyWordsText" minOccurs="0" type="KeyWordsText"/>
              <xsd:element name="AdditionalKeyWordsText" minOccurs="0" type="KeyWordsText"/>
              <xsd:element name="VerbalCommunicationLanguageCode" minOccurs="0" type="LanguageCode"/>
              <xsd:element name="DataOriginTypeCode" minOccurs="0" type="DataOriginTypeCode"/>
              <xsd:element name="SalutationText" minOccurs="0" type="SalutationText"/>
              <xsd:element name="CorrespondenceBrailleRequiredIndicator" minOccurs="0" type="Indicator"/>
              <xsd:element name="CorrespondenceUpperCaseRequiredIndicator" minOccurs="0" type="Indicator"/>
              <xsd:element name="NaturalPersonIndicator" minOccurs="0" type="Indicator"/>
              <xsd:element name="UsageControl" minOccurs="0">
               <xsd:complexType>
                <xsd:sequence>
                 <xsd:element name="BlockedIndicator" minOccurs="0" type="Indicator"/>
                 <xsd:element name="ContactAllowedCode" minOccurs="0" type="ContactAllowedCode"/>
                 <xsd:element name="ReleasedIndicator" minOccurs="0" type="Indicator"/>
                </xsd:sequence>
               </xsd:complexType>
              </xsd:element>
              <xsd:element name="Person" minOccurs="0">
               <xsd:complexType>
                <xsd:sequence>
                 <xsd:element name="Name" minOccurs="0">
                  <xsd:complexType>
                   <xsd:sequence>
                    <xsd:element name="FormOfAddressCode" minOccurs="0" type="FormOfAddressCode"/>
                    <xsd:element name="GivenName" minOccurs="0" type="LANGUAGEINDEPENDENT_MEDIUM_Name"/>
                    <xsd:element name="MiddleName" minOccurs="0" type="LANGUAGEINDEPENDENT_MEDIUM_Name"/>
                    <xsd:element name="FamilyName" minOccurs="0" type="LANGUAGEINDEPENDENT_MEDIUM_Name"/>
                    <xsd:element name="AdditionalFamilyName" minOccurs="0" type="LANGUAGEINDEPENDENT_MEDIUM_Name"/>
                    <xsd:element name="BirthName" minOccurs="0" type="LANGUAGEINDEPENDENT_MEDIUM_Name"/>
                    <xsd:element name="NickName" minOccurs="0" type="LANGUAGEINDEPENDENT_MEDIUM_Name"/>
                    <xsd:element name="InitialsName" minOccurs="0" type="LANGUAGEINDEPENDENT_SHORT_Name"/>
                    <xsd:element name="AcademicTitleCode" minOccurs="0" type="AcademicTitleCode"/>
                    <xsd:element name="AdditionalAcademicTitleCode" minOccurs="0" type="AcademicTitleCode"/>
                    <xsd:element name="NamePrefixCode" minOccurs="0" type="FamilyNamePrefixCode"/>
                    <xsd:element name="AdditionalNamePrefixCode" minOccurs="0" type="FamilyNamePrefixCode"/>
                    <xsd:element name="NameSupplementCode" minOccurs="0" type="PersonNameSupplementCode"/>
                    <xsd:element name="DeviatingFullName" minOccurs="0" type="LANGUAGEINDEPENDENT_LONG_Name"/>
                    <xsd:element name="NameFormatCountryCode" minOccurs="0" type="CountryCode"/>
                    <xsd:element name="NameFormatCode" minOccurs="0" type="PersonNameFormatCode"/>
                   </xsd:sequence>
                  </xsd:complexType>
                 </xsd:element>
                 <xsd:element name="GenderCode" minOccurs="0" type="GenderCode"/>
                 <xsd:element name="BirthPlaceName" minOccurs="0" type="MEDIUM_Name"/>
                 <xsd:element name="BirthDate" minOccurs="0" type="Date"/>
                 <xsd:element name="DeathDate" minOccurs="0" type="Date"/>
                 <xsd:element name="MaritalStatusCode" minOccurs="0" type="MaritalStatusCode"/>
                 <xsd:element name="NonVerbalCommunicationLanguageCode" minOccurs="0" type="LanguageCode"/>
                 <xsd:element name="OccupationCode" minOccurs="0" type="OccupationCode"/>
                 <xsd:element name="NationalityCountryCode" minOccurs="0" type="CountryCode"/>
                 <xsd:element name="OriginCountryCode" minOccurs="0" type="CountryCode"/>
                </xsd:sequence>
               </xsd:complexType>
              </xsd:element>
             </xsd:sequence>
            </xsd:complexType>
           </xsd:element>
           <xsd:element name="AddressInformation" minOccurs="0">
            <xsd:complexType>
             <xsd:sequence>
              <xsd:element name="AddressID" minOccurs="0" type="AddressID"/>
              <xsd:element name="PrivatePostalAddress">
               <xsd:complexType>
                <xsd:sequence>
                 <xsd:element name="AddressRepresentationCode" minOccurs="0" type="AddressRepresentationCode"/>
                 <xsd:element name="CountryCode" type="CountryCode"/>
                 <xsd:element name="RegionCode" minOccurs="0" type="RegionCode"/>
                 <xsd:element name="CityName" minOccurs="0" type="LANGUAGEINDEPENDENT_MEDIUM_Name"/>
                 <xsd:element name="RegionalStructureCityCode" minOccurs="0" type="RegionalStructureCityCode"/>
                 <xsd:element name="AdditionalCityName" minOccurs="0" type="LANGUAGEINDEPENDENT_MEDIUM_Name"/>
                 <xsd:element name="RegionalStructureAdditionalCityCode" minOccurs="0" type="RegionalStructureCityCode"/>
                 <xsd:element name="DistrictName" minOccurs="0" type="LANGUAGEINDEPENDENT_MEDIUM_Name"/>
                 <xsd:element name="RegionalStructureDistrictCode" minOccurs="0" type="RegionalStructureDistrictCode"/>
                 <xsd:element name="StreetPostalCode" minOccurs="0" type="PostalCode"/>
                 <xsd:element name="POBoxPostalCode" minOccurs="0" type="PostalCode"/>
                 <xsd:element name="CompanyPostalCode" minOccurs="0" type="PostalCode"/>
                 <xsd:element name="StreetPrefixName" minOccurs="0" type="LANGUAGEINDEPENDENT_MEDIUM_Name"/>
                 <xsd:element name="AdditionalStreetPrefixName" minOccurs="0" type="LANGUAGEINDEPENDENT_MEDIUM_Name"/>
                 <xsd:element name="StreetName" minOccurs="0" type="StreetName"/>
                 <xsd:element name="RegionalStructureStreetCode" minOccurs="0" type="RegionalStructureStreetCode"/>
                 <xsd:element name="StreetSuffixName" minOccurs="0" type="LANGUAGEINDEPENDENT_MEDIUM_Name"/>
                 <xsd:element name="AdditionalStreetSuffixName" minOccurs="0" type="LANGUAGEINDEPENDENT_MEDIUM_Name"/>
                 <xsd:element name="HouseID" minOccurs="0" type="HouseID"/>
                 <xsd:element name="AdditionalHouseID" minOccurs="0" type="HouseID"/>
                 <xsd:element name="BuildingID" minOccurs="0" type="BuildingID"/>
                 <xsd:element name="RoomID" minOccurs="0" type="RoomID"/>
                 <xsd:element name="CareOfName" minOccurs="0" type="LANGUAGEINDEPENDENT_MEDIUM_Name"/>
                 <xsd:element name="StreetAddressMailNonDeliveryReasonCode" minOccurs="0" type="MailNonDeliveryReasonCode"/>
                 <xsd:element name="RegionalStructureElementGroupCode" minOccurs="0" type="RegionalStructureElementGroupCode"/>
                 <xsd:element name="POBoxDeviatingCountryCode" minOccurs="0" type="CountryCode"/>
                 <xsd:element name="POBoxDeviatingRegionCode" minOccurs="0" type="RegionCode"/>
                 <xsd:element name="POBoxDeviatingCityName" minOccurs="0" type="LANGUAGEINDEPENDENT_MEDIUM_Name"/>
                 <xsd:element name="RegionalStructurePOBoxDeviatingCityCode" minOccurs="0" type="RegionalStructureCityCode"/>
                 <xsd:element name="POBoxID" minOccurs="0" type="POBoxID"/>
                 <xsd:element name="POBoxIndicator" minOccurs="0" type="Indicator"/>
                 <xsd:element name="POBoxAddressMailNonDeliveryReasonCodeTaxJurisdictionCode" minOccurs="0" type="MailNonDeliveryReasonCode"/>
                 <xsd:element name="TaxJurisdictionCode" minOccurs="0" type="TaxJurisdictionCode"/>
                 <xsd:element name="TimeZoneCode" minOccurs="0" type="TimeZoneCode"/>
                 <xsd:element name="RegionalStructureAddressConsistencyStatusCode" minOccurs="0" type="ConsistencyStatusCode"/>
                </xsd:sequence>
               </xsd:complexType>
              </xsd:element>
             </xsd:sequence>
            </xsd:complexType>
           </xsd:element>
          </xsd:sequence>
         </xsd:complexType>
        </xsd:element>
       </xsd:sequence>
      </xsd:complexType>
     </xsd:element>
    </xsd:sequence>
   </xsd:complexType>
   <xsd:simpleType name="ConsistencyStatusCode">
    <xsd:restriction base="xsd:token">
     <xsd:enumeration value="1"/>
     <xsd:enumeration value="2"/>
     <xsd:enumeration value="3"/>
     <xsd:maxLength value="2"/>
     <xsd:minLength value="1"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="ContactAllowedCode">
    <xsd:restriction base="xsd:token">
     <xsd:length value="1"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:complexType name="ContactPersonFunctionTypeCode">
    <xsd:annotation>
     <xsd:documentation xml:lang="EN">
      <ccts:RepresentationTerm>Code</ccts:RepresentationTerm>
     </xsd:documentation>
    </xsd:annotation>
    <xsd:simpleContent>
     <xsd:extension base="ContactPersonFunctionTypeCode.Content">
      <xsd:attribute name="listID">
       <xsd:simpleType>
        <xsd:restriction base="xsd:token">
         <xsd:maxLength value="60"/>
         <xsd:minLength value="1"/>
        </xsd:restriction>
       </xsd:simpleType>
      </xsd:attribute>
      <xsd:attribute name="listVersionID">
       <xsd:simpleType>
        <xsd:restriction base="xsd:token">
         <xsd:maxLength value="15"/>
         <xsd:minLength value="1"/>
        </xsd:restriction>
       </xsd:simpleType>
      </xsd:attribute>
      <xsd:attribute name="listAgencyID">
       <xsd:simpleType>
        <xsd:restriction base="xsd:token">
         <xsd:maxLength value="60"/>
         <xsd:minLength value="1"/>
        </xsd:restriction>
       </xsd:simpleType>
      </xsd:attribute>
      <xsd:attribute name="listAgencySchemeID">
       <xsd:simpleType>
        <xsd:restriction base="xsd:token">
         <xsd:maxLength value="60"/>
         <xsd:minLength value="1"/>
        </xsd:restriction>
       </xsd:simpleType>
      </xsd:attribute>
      <xsd:attribute name="listAgencySchemeAgencyID" type="AgencyIdentificationCode"/>
     </xsd:extension>
    </xsd:simpleContent>
   </xsd:complexType>
   <xsd:simpleType name="ContactPersonFunctionTypeCode.Content">
    <xsd:restriction base="xsd:token">
     <xsd:maxLength value="4"/>
     <xsd:minLength value="1"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:complexType name="ContactPersonFunctionalAreaCode">
    <xsd:annotation>
     <xsd:documentation xml:lang="EN">
      <ccts:RepresentationTerm>Code</ccts:RepresentationTerm>
     </xsd:documentation>
    </xsd:annotation>
    <xsd:simpleContent>
     <xsd:extension base="ContactPersonFunctionalAreaCode.Content">
      <xsd:attribute name="listVersionID">
       <xsd:simpleType>
        <xsd:restriction base="xsd:token">
         <xsd:maxLength value="15"/>
         <xsd:minLength value="1"/>
        </xsd:restriction>
       </xsd:simpleType>
      </xsd:attribute>
      <xsd:attribute name="listAgencyID">
       <xsd:simpleType>
        <xsd:restriction base="xsd:token">
         <xsd:maxLength value="60"/>
         <xsd:minLength value="1"/>
        </xsd:restriction>
       </xsd:simpleType>
      </xsd:attribute>
      <xsd:attribute name="listAgencySchemeID">
       <xsd:simpleType>
        <xsd:restriction base="xsd:token">
         <xsd:maxLength value="60"/>
         <xsd:minLength value="1"/>
        </xsd:restriction>
       </xsd:simpleType>
      </xsd:attribute>
      <xsd:attribute name="listAgencySchemeAgencyID" type="AgencyIdentificationCode"/>
     </xsd:extension>
    </xsd:simpleContent>
   </xsd:complexType>
   <xsd:simpleType name="ContactPersonFunctionalAreaCode.Content">
    <xsd:restriction base="xsd:token">
     <xsd:minLength value="1"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="CountryCode">
    <xsd:annotation>
     <xsd:documentation xml:lang="EN">
      <ccts:RepresentationTerm>Code</ccts:RepresentationTerm>
     </xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:token">
     <xsd:maxLength value="3"/>
     <xsd:minLength value="2"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:complexType name="DataOriginTypeCode">
    <xsd:simpleContent>
     <xsd:extension base="DataOriginTypeCodeContent">
      <xsd:attribute name="listID">
       <xsd:simpleType>
        <xsd:restriction base="xsd:token">
         <xsd:maxLength value="60"/>
         <xsd:minLength value="1"/>
        </xsd:restriction>
       </xsd:simpleType>
      </xsd:attribute>
      <xsd:attribute name="listAgencyID">
       <xsd:simpleType>
        <xsd:restriction base="xsd:token">
         <xsd:maxLength value="60"/>
         <xsd:minLength value="1"/>
        </xsd:restriction>
       </xsd:simpleType>
      </xsd:attribute>
      <xsd:attribute name="listVersionID">
       <xsd:simpleType>
        <xsd:restriction base="xsd:token">
         <xsd:maxLength value="15"/>
         <xsd:minLength value="1"/>
        </xsd:restriction>
       </xsd:simpleType>
      </xsd:attribute>
      <xsd:attribute name="listAgencySchemeID">
       <xsd:simpleType>
        <xsd:restriction base="xsd:token">
         <xsd:maxLength value="60"/>
         <xsd:minLength value="1"/>
        </xsd:restriction>
       </xsd:simpleType>
      </xsd:attribute>
      <xsd:attribute name="listAgencySchemeAgencyID" type="AgencyIdentificationCode"/>
     </xsd:extension>
    </xsd:simpleContent>
   </xsd:complexType>
   <xsd:simpleType name="DataOriginTypeCodeContent">
    <xsd:restriction base="xsd:token">
     <xsd:maxLength value="4"/>
     <xsd:minLength value="1"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="Date">
    <xsd:annotation>
     <xsd:documentation xml:lang="EN">
      <ccts:RepresentationTerm>Date</ccts:RepresentationTerm>
     </xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:date">
     <xsd:pattern value="[0-9]{4}-[0-9]{2}-[0-9]{2}"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:complexType name="DatePeriod">
    <xsd:sequence>
     <xsd:element name="StartDate" minOccurs="0" type="Date"/>
     <xsd:element name="EndDate" minOccurs="0" type="Date"/>
     <xsd:element name="Duration" minOccurs="0" type="Duration"/>
    </xsd:sequence>
   </xsd:complexType>
   <xsd:simpleType name="Duration">
    <xsd:annotation>
     <xsd:documentation xml:lang="EN">
      <ccts:RepresentationTerm>Duration</ccts:RepresentationTerm>
     </xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:duration">
     <xsd:pattern value=".{1,20}"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:complexType name="EmailAddress">
    <xsd:simpleContent>
     <xsd:extension base="xsd:anyURI">
      <xsd:attribute name="protocolCode">
       <xsd:simpleType>
        <xsd:restriction base="xsd:token">
         <xsd:length value="2"/>
        </xsd:restriction>
       </xsd:simpleType>
      </xsd:attribute>
     </xsd:extension>
    </xsd:simpleContent>
   </xsd:complexType>
   <xsd:complexType name="ExchangeFaultData">
    <xsd:sequence>
     <xsd:element name="faultText" type="xsd:string"/>
     <xsd:element name="faultUrl" minOccurs="0" type="xsd:string"/>
     <xsd:element name="faultDetail" minOccurs="0" maxOccurs="unbounded" type="ExchangeLogData"/>
    </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="ExchangeLogData">
    <xsd:sequence>
     <xsd:element name="severity" minOccurs="0" type="xsd:string"/>
     <xsd:element name="text" type="xsd:string"/>
     <xsd:element name="url" minOccurs="0" type="xsd:string"/>
     <xsd:element name="id" minOccurs="0" type="xsd:string"/>
    </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="FamilyNamePrefixCode">
    <xsd:annotation>
     <xsd:documentation xml:lang="EN">
      <ccts:RepresentationTerm>Code</ccts:RepresentationTerm>
     </xsd:documentation>
    </xsd:annotation>
    <xsd:simpleContent>
     <xsd:extension base="FamilyNamePrefixCode.Content">
      <xsd:attribute name="listID">
       <xsd:simpleType>
        <xsd:restriction base="xsd:token">
         <xsd:maxLength value="60"/>
         <xsd:minLength value="1"/>
        </xsd:restriction>
       </xsd:simpleType>
      </xsd:attribute>
      <xsd:attribute name="listVersionID">
       <xsd:simpleType>
        <xsd:restriction base="xsd:token">
         <xsd:maxLength value="15"/>
         <xsd:minLength value="1"/>
        </xsd:restriction>
       </xsd:simpleType>
      </xsd:attribute>
      <xsd:attribute name="listAgencyID">
       <xsd:simpleType>
        <xsd:restriction base="xsd:token">
         <xsd:maxLength value="60"/>
         <xsd:minLength value="1"/>
        </xsd:restriction>
       </xsd:simpleType>
      </xsd:attribute>
      <xsd:attribute name="listAgencySchemeID">
       <xsd:simpleType>
        <xsd:restriction base="xsd:token">
         <xsd:maxLength value="60"/>
         <xsd:minLength value="1"/>
        </xsd:restriction>
       </xsd:simpleType>
      </xsd:attribute>
      <xsd:attribute name="listAgencySchemeAgencyID" type="AgencyIdentificationCode"/>
     </xsd:extension>
    </xsd:simpleContent>
   </xsd:complexType>
   <xsd:simpleType name="FamilyNamePrefixCode.Content">
    <xsd:restriction base="xsd:token">
     <xsd:maxLength value="4"/>
     <xsd:minLength value="1"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="FloorID">
    <xsd:annotation>
     <xsd:documentation xml:lang="EN">
      <ccts:RepresentationTerm>Identifier</ccts:RepresentationTerm>
     </xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:token">
     <xsd:maxLength value="10"/>
     <xsd:minLength value="1"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:complexType name="FormOfAddressCode">
    <xsd:annotation>
     <xsd:documentation xml:lang="EN">
      <ccts:RepresentationTerm>Code</ccts:RepresentationTerm>
     </xsd:documentation>
    </xsd:annotation>
    <xsd:simpleContent>
     <xsd:extension base="FormOfAddressCode.Content">
      <xsd:attribute name="listID">
       <xsd:simpleType>
        <xsd:restriction base="xsd:token">
         <xsd:maxLength value="60"/>
         <xsd:minLength value="1"/>
        </xsd:restriction>
       </xsd:simpleType>
      </xsd:attribute>
      <xsd:attribute name="listVersionID">
       <xsd:simpleType>
        <xsd:restriction base="xsd:token">
         <xsd:maxLength value="15"/>
         <xsd:minLength value="1"/>
        </xsd:restriction>
       </xsd:simpleType>
      </xsd:attribute>
      <xsd:attribute name="listAgencyID">
       <xsd:simpleType>
        <xsd:restriction base="xsd:token">
         <xsd:maxLength value="60"/>
         <xsd:minLength value="1"/>
        </xsd:restriction>
       </xsd:simpleType>
      </xsd:attribute>
      <xsd:attribute name="listAgencySchemeID">
       <xsd:simpleType>
        <xsd:restriction base="xsd:token">
         <xsd:maxLength value="60"/>
         <xsd:minLength value="1"/>
        </xsd:restriction>
       </xsd:simpleType>
      </xsd:attribute>
      <xsd:attribute name="listAgencySchemeAgencyID" type="AgencyIdentificationCode"/>
     </xsd:extension>
    </xsd:simpleContent>
   </xsd:complexType>
   <xsd:simpleType name="FormOfAddressCode.Content">
    <xsd:restriction base="xsd:token">
     <xsd:maxLength value="4"/>
     <xsd:minLength value="1"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="GenderCode">
    <xsd:restriction base="xsd:token">
     <xsd:length value="1"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="HouseID">
    <xsd:restriction base="xsd:token">
     <xsd:maxLength value="10"/>
     <xsd:minLength value="1"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="Indicator">
    <xsd:annotation>
     <xsd:documentation xml:lang="EN">
      <ccts:RepresentationTerm>Indicator</ccts:RepresentationTerm>
     </xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:boolean"/>
   </xsd:simpleType>
   <xsd:simpleType name="InhouseMailID">
    <xsd:annotation>
     <xsd:documentation xml:lang="EN">
      <ccts:RepresentationTerm>Identifier</ccts:RepresentationTerm>
     </xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:token">
     <xsd:maxLength value="10"/>
     <xsd:minLength value="1"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="KeyWordsText">
    <xsd:restriction base="xsd:string">
     <xsd:maxLength value="20"/>
     <xsd:minLength value="1"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="LANGUAGEINDEPENDENT_LONG_Name">
    <xsd:annotation>
     <xsd:documentation xml:lang="EN">
      <ccts:RepresentationTerm>Name</ccts:RepresentationTerm>
     </xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:string">
     <xsd:maxLength value="80"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="LANGUAGEINDEPENDENT_MEDIUM_Name">
    <xsd:annotation>
     <xsd:documentation xml:lang="EN">
      <ccts:RepresentationTerm>Name</ccts:RepresentationTerm>
     </xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:string">
     <xsd:maxLength value="40"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="LANGUAGEINDEPENDENT_SHORT_Name">
    <xsd:annotation>
     <xsd:documentation xml:lang="EN">
      <ccts:RepresentationTerm>Name</ccts:RepresentationTerm>
     </xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:string">
     <xsd:maxLength value="10"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="LanguageCode">
    <xsd:annotation>
     <xsd:documentation xml:lang="EN">
      <ccts:RepresentationTerm>Code</ccts:RepresentationTerm>
     </xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:language">
     <xsd:maxLength value="9"/>
     <xsd:minLength value="2"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:complexType name="Log">
    <xsd:sequence>
     <xsd:element name="MaximumLogItemSeverityCode" minOccurs="0" type="LogItemSeverityCode"/>
     <xsd:element name="Item" maxOccurs="unbounded" type="LogItem"/>
    </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="LogItem">
    <xsd:sequence>
     <xsd:element name="TypeID" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:token">
        <xsd:maxLength value="40"/>
        <xsd:minLength value="1"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="SeverityCode" minOccurs="0" type="LogItemSeverityCode"/>
     <xsd:element name="Note">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="200"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="WebAddress" minOccurs="0" type="WebAddress"/>
    </xsd:sequence>
   </xsd:complexType>
   <xsd:simpleType name="LogItemSeverityCode">
    <xsd:annotation>
     <xsd:documentation xml:lang="EN">
      <ccts:RepresentationTerm>Code</ccts:RepresentationTerm>
     </xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:token">
     <xsd:enumeration value="1"/>
     <xsd:enumeration value="2"/>
     <xsd:enumeration value="3"/>
     <xsd:enumeration value="4"/>
     <xsd:length value="1"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:complexType name="MEDIUM_Name">
    <xsd:annotation>
     <xsd:documentation xml:lang="EN">
      <ccts:RepresentationTerm>Name</ccts:RepresentationTerm>
     </xsd:documentation>
    </xsd:annotation>
    <xsd:simpleContent>
     <xsd:extension base="xsd:string">
      <xsd:attribute name="languageCode" type="LanguageCode"/>
     </xsd:extension>
    </xsd:simpleContent>
   </xsd:complexType>
   <xsd:complexType name="MailNonDeliveryReasonCode">
    <xsd:simpleContent>
     <xsd:extension base="MailNonDeliveryReasonCodeContent">
      <xsd:attribute name="listID">
       <xsd:simpleType>
        <xsd:restriction base="xsd:token">
         <xsd:maxLength value="60"/>
         <xsd:minLength value="1"/>
        </xsd:restriction>
       </xsd:simpleType>
      </xsd:attribute>
      <xsd:attribute name="listVersionID">
       <xsd:simpleType>
        <xsd:restriction base="xsd:token">
         <xsd:maxLength value="15"/>
         <xsd:minLength value="1"/>
        </xsd:restriction>
       </xsd:simpleType>
      </xsd:attribute>
      <xsd:attribute name="listAgencyID">
       <xsd:simpleType>
        <xsd:restriction base="xsd:token">
         <xsd:maxLength value="60"/>
         <xsd:minLength value="1"/>
        </xsd:restriction>
       </xsd:simpleType>
      </xsd:attribute>
      <xsd:attribute name="listAgencySchemeID">
       <xsd:simpleType>
        <xsd:restriction base="xsd:token">
         <xsd:maxLength value="60"/>
         <xsd:minLength value="1"/>
        </xsd:restriction>
       </xsd:simpleType>
      </xsd:attribute>
      <xsd:attribute name="listAgencySchemeAgencyID">
       <xsd:simpleType>
        <xsd:restriction base="xsd:token">
         <xsd:maxLength value="3"/>
         <xsd:minLength value="1"/>
        </xsd:restriction>
       </xsd:simpleType>
      </xsd:attribute>
     </xsd:extension>
    </xsd:simpleContent>
   </xsd:complexType>
   <xsd:simpleType name="MailNonDeliveryReasonCodeContent">
    <xsd:restriction base="xsd:token">
     <xsd:maxLength value="4"/>
     <xsd:minLength value="1"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:complexType name="MaritalStatusCode">
    <xsd:simpleContent>
     <xsd:extension base="MaritalStatusCodeContent">
      <xsd:attribute name="listID">
       <xsd:simpleType>
        <xsd:restriction base="xsd:token">
         <xsd:maxLength value="60"/>
         <xsd:minLength value="1"/>
        </xsd:restriction>
       </xsd:simpleType>
      </xsd:attribute>
      <xsd:attribute name="listVersionID">
       <xsd:simpleType>
        <xsd:restriction base="xsd:token">
         <xsd:maxLength value="15"/>
         <xsd:minLength value="1"/>
        </xsd:restriction>
       </xsd:simpleType>
      </xsd:attribute>
      <xsd:attribute name="listAgencyID">
       <xsd:simpleType>
        <xsd:restriction base="xsd:token">
         <xsd:maxLength value="60"/>
         <xsd:minLength value="1"/>
        </xsd:restriction>
       </xsd:simpleType>
      </xsd:attribute>
      <xsd:attribute name="listAgencySchemeID">
       <xsd:simpleType>
        <xsd:restriction base="xsd:token">
         <xsd:maxLength value="60"/>
         <xsd:minLength value="1"/>
        </xsd:restriction>
       </xsd:simpleType>
      </xsd:attribute>
      <xsd:attribute name="listAgencySchemeAgencyID">
       <xsd:simpleType>
        <xsd:restriction base="xsd:token">
         <xsd:maxLength value="3"/>
         <xsd:minLength value="1"/>
        </xsd:restriction>
       </xsd:simpleType>
      </xsd:attribute>
     </xsd:extension>
    </xsd:simpleContent>
   </xsd:complexType>
   <xsd:simpleType name="MaritalStatusCodeContent">
    <xsd:restriction base="xsd:token">
     <xsd:length value="1"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:complexType name="Note">
    <xsd:annotation>
     <xsd:documentation xml:lang="EN">
      <ccts:RepresentationTerm>Note</ccts:RepresentationTerm>
     </xsd:documentation>
    </xsd:annotation>
    <xsd:simpleContent>
     <xsd:extension base="xsd:string">
      <xsd:attribute name="languageCode" type="LanguageCode"/>
     </xsd:extension>
    </xsd:simpleContent>
   </xsd:complexType>
   <xsd:complexType name="OccupationCode">
    <xsd:simpleContent>
     <xsd:extension base="OccupationCodeContent">
      <xsd:attribute name="listID">
       <xsd:simpleType>
        <xsd:restriction base="xsd:token">
         <xsd:maxLength value="60"/>
         <xsd:minLength value="1"/>
        </xsd:restriction>
       </xsd:simpleType>
      </xsd:attribute>
      <xsd:attribute name="listVersionID">
       <xsd:simpleType>
        <xsd:restriction base="xsd:token">
         <xsd:maxLength value="15"/>
         <xsd:minLength value="1"/>
        </xsd:restriction>
       </xsd:simpleType>
      </xsd:attribute>
      <xsd:attribute name="listAgencyID">
       <xsd:simpleType>
        <xsd:restriction base="xsd:token">
         <xsd:maxLength value="60"/>
         <xsd:minLength value="1"/>
        </xsd:restriction>
       </xsd:simpleType>
      </xsd:attribute>
      <xsd:attribute name="listAgencySchemeID">
       <xsd:simpleType>
        <xsd:restriction base="xsd:token">
         <xsd:maxLength value="60"/>
         <xsd:minLength value="1"/>
        </xsd:restriction>
       </xsd:simpleType>
      </xsd:attribute>
      <xsd:attribute name="listAgencySchemeAgencyID">
       <xsd:simpleType>
        <xsd:restriction base="xsd:token">
         <xsd:maxLength value="3"/>
         <xsd:minLength value="1"/>
        </xsd:restriction>
       </xsd:simpleType>
      </xsd:attribute>
     </xsd:extension>
    </xsd:simpleContent>
   </xsd:complexType>
   <xsd:simpleType name="OccupationCodeContent">
    <xsd:restriction base="xsd:token">
     <xsd:maxLength value="4"/>
     <xsd:minLength value="1"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="POBoxID">
    <xsd:restriction base="xsd:token">
     <xsd:maxLength value="10"/>
     <xsd:minLength value="1"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:complexType name="PartyID">
    <xsd:simpleContent>
     <xsd:extension base="PartyIDContent">
      <xsd:attribute name="schemeID">
       <xsd:simpleType>
        <xsd:restriction base="xsd:token">
         <xsd:maxLength value="60"/>
         <xsd:minLength value="1"/>
        </xsd:restriction>
       </xsd:simpleType>
      </xsd:attribute>
      <xsd:attribute name="schemeAgencyID">
       <xsd:simpleType>
        <xsd:restriction base="xsd:token">
         <xsd:maxLength value="60"/>
         <xsd:minLength value="1"/>
        </xsd:restriction>
       </xsd:simpleType>
      </xsd:attribute>
      <xsd:attribute name="schemeAgencySchemeID">
       <xsd:simpleType>
        <xsd:restriction base="xsd:token">
         <xsd:maxLength value="60"/>
         <xsd:minLength value="1"/>
        </xsd:restriction>
       </xsd:simpleType>
      </xsd:attribute>
      <xsd:attribute name="schemeAgencySchemeAgencyID" type="AgencyIdentificationCode"/>
     </xsd:extension>
    </xsd:simpleContent>
   </xsd:complexType>
   <xsd:simpleType name="PartyIDContent">
    <xsd:restriction base="xsd:string">
     <xsd:maxLength value="60"/>
     <xsd:minLength value="1"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:complexType name="PersonNameFormatCode">
    <xsd:annotation>
     <xsd:documentation xml:lang="EN">
      <ccts:RepresentationTerm>Code</ccts:RepresentationTerm>
     </xsd:documentation>
    </xsd:annotation>
    <xsd:simpleContent>
     <xsd:extension base="PersonNameFormatCode.Content">
      <xsd:attribute name="listID">
       <xsd:simpleType>
        <xsd:restriction base="xsd:token">
         <xsd:maxLength value="60"/>
         <xsd:minLength value="1"/>
        </xsd:restriction>
       </xsd:simpleType>
      </xsd:attribute>
      <xsd:attribute name="listVersionID">
       <xsd:simpleType>
        <xsd:restriction base="xsd:token">
         <xsd:maxLength value="15"/>
         <xsd:minLength value="1"/>
        </xsd:restriction>
       </xsd:simpleType>
      </xsd:attribute>
      <xsd:attribute name="listAgencyID">
       <xsd:simpleType>
        <xsd:restriction base="xsd:token">
         <xsd:maxLength value="60"/>
         <xsd:minLength value="1"/>
        </xsd:restriction>
       </xsd:simpleType>
      </xsd:attribute>
      <xsd:attribute name="listAgencySchemeID">
       <xsd:simpleType>
        <xsd:restriction base="xsd:token">
         <xsd:maxLength value="60"/>
         <xsd:minLength value="1"/>
        </xsd:restriction>
       </xsd:simpleType>
      </xsd:attribute>
      <xsd:attribute name="listAgencySchemeAgencyID" type="AgencyIdentificationCode"/>
     </xsd:extension>
    </xsd:simpleContent>
   </xsd:complexType>
   <xsd:simpleType name="PersonNameFormatCode.Content">
    <xsd:restriction base="xsd:token">
     <xsd:maxLength value="2"/>
     <xsd:minLength value="1"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:complexType name="PersonNameSupplementCode">
    <xsd:annotation>
     <xsd:documentation xml:lang="EN">
      <ccts:RepresentationTerm>Code</ccts:RepresentationTerm>
     </xsd:documentation>
    </xsd:annotation>
    <xsd:simpleContent>
     <xsd:extension base="PersonNameSupplementCode.Content">
      <xsd:attribute name="listID">
       <xsd:simpleType>
        <xsd:restriction base="xsd:token">
         <xsd:maxLength value="60"/>
         <xsd:minLength value="1"/>
        </xsd:restriction>
       </xsd:simpleType>
      </xsd:attribute>
      <xsd:attribute name="listVersionID">
       <xsd:simpleType>
        <xsd:restriction base="xsd:token">
         <xsd:maxLength value="15"/>
         <xsd:minLength value="1"/>
        </xsd:restriction>
       </xsd:simpleType>
      </xsd:attribute>
      <xsd:attribute name="listAgencyID">
       <xsd:simpleType>
        <xsd:restriction base="xsd:token">
         <xsd:maxLength value="60"/>
         <xsd:minLength value="1"/>
        </xsd:restriction>
       </xsd:simpleType>
      </xsd:attribute>
      <xsd:attribute name="listAgencySchemeID">
       <xsd:simpleType>
        <xsd:restriction base="xsd:token">
         <xsd:maxLength value="60"/>
         <xsd:minLength value="1"/>
        </xsd:restriction>
       </xsd:simpleType>
      </xsd:attribute>
      <xsd:attribute name="listAgencySchemeAgencyID" type="AgencyIdentificationCode"/>
     </xsd:extension>
    </xsd:simpleContent>
   </xsd:complexType>
   <xsd:simpleType name="PersonNameSupplementCode.Content">
    <xsd:restriction base="xsd:token">
     <xsd:maxLength value="4"/>
     <xsd:minLength value="1"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:complexType name="PhoneNumber">
    <xsd:sequence>
     <xsd:element name="AreaID" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="10"/>
        <xsd:minLength value="1"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="SubscriberID" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="30"/>
        <xsd:minLength value="1"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="ExtensionID" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="10"/>
        <xsd:minLength value="1"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="CountryCode" minOccurs="0" type="CountryCode"/>
    </xsd:sequence>
   </xsd:complexType>
   <xsd:simpleType name="PostalCode">
    <xsd:restriction base="xsd:token">
     <xsd:maxLength value="10"/>
     <xsd:minLength value="1"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:complexType name="PowerOfAttorneyTypeCode">
    <xsd:annotation>
     <xsd:documentation xml:lang="EN">
      <ccts:RepresentationTerm>Code</ccts:RepresentationTerm>
     </xsd:documentation>
    </xsd:annotation>
    <xsd:simpleContent>
     <xsd:extension base="PowerOfAttorneyTypeCode.Content">
      <xsd:attribute name="listID">
       <xsd:simpleType>
        <xsd:restriction base="xsd:token">
         <xsd:maxLength value="60"/>
         <xsd:minLength value="1"/>
        </xsd:restriction>
       </xsd:simpleType>
      </xsd:attribute>
      <xsd:attribute name="listVersionID">
       <xsd:simpleType>
        <xsd:restriction base="xsd:token">
         <xsd:maxLength value="15"/>
         <xsd:minLength value="1"/>
        </xsd:restriction>
       </xsd:simpleType>
      </xsd:attribute>
      <xsd:attribute name="listAgencyID">
       <xsd:simpleType>
        <xsd:restriction base="xsd:token">
         <xsd:maxLength value="60"/>
         <xsd:minLength value="1"/>
        </xsd:restriction>
       </xsd:simpleType>
      </xsd:attribute>
      <xsd:attribute name="listAgencySchemeID">
       <xsd:simpleType>
        <xsd:restriction base="xsd:token">
         <xsd:maxLength value="60"/>
         <xsd:minLength value="1"/>
        </xsd:restriction>
       </xsd:simpleType>
      </xsd:attribute>
      <xsd:attribute name="listAgencySchemeAgencyID" type="AgencyIdentificationCode"/>
     </xsd:extension>
    </xsd:simpleContent>
   </xsd:complexType>
   <xsd:simpleType name="PowerOfAttorneyTypeCode.Content">
    <xsd:restriction base="xsd:token">
     <xsd:length value="1"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:complexType name="RegionCode">
    <xsd:annotation>
     <xsd:documentation xml:lang="EN">
      <ccts:RepresentationTerm>Code</ccts:RepresentationTerm>
     </xsd:documentation>
    </xsd:annotation>
    <xsd:simpleContent>
     <xsd:extension base="xsd:token">
      <xsd:attribute name="listID">
       <xsd:simpleType>
        <xsd:restriction base="xsd:token">
         <xsd:maxLength value="60"/>
         <xsd:minLength value="1"/>
        </xsd:restriction>
       </xsd:simpleType>
      </xsd:attribute>
      <xsd:attribute name="listVersionID">
       <xsd:simpleType>
        <xsd:restriction base="xsd:token">
         <xsd:maxLength value="15"/>
         <xsd:minLength value="1"/>
        </xsd:restriction>
       </xsd:simpleType>
      </xsd:attribute>
      <xsd:attribute name="listAgencyID">
       <xsd:simpleType>
        <xsd:restriction base="xsd:token">
         <xsd:maxLength value="60"/>
         <xsd:minLength value="1"/>
        </xsd:restriction>
       </xsd:simpleType>
      </xsd:attribute>
      <xsd:attribute name="listAgencySchemeID">
       <xsd:simpleType>
        <xsd:restriction base="xsd:token">
         <xsd:maxLength value="60"/>
         <xsd:minLength value="1"/>
        </xsd:restriction>
       </xsd:simpleType>
      </xsd:attribute>
      <xsd:attribute name="listAgencySchemeAgencyID" type="AgencyIdentificationCode"/>
     </xsd:extension>
    </xsd:simpleContent>
   </xsd:complexType>
   <xsd:complexType name="RegionalStructureCityCode">
    <xsd:simpleContent>
     <xsd:extension base="RegionalStructureCityCodeContent">
      <xsd:attribute name="listID">
       <xsd:simpleType>
        <xsd:restriction base="xsd:token">
         <xsd:maxLength value="60"/>
         <xsd:minLength value="1"/>
        </xsd:restriction>
       </xsd:simpleType>
      </xsd:attribute>
      <xsd:attribute name="listVersionID">
       <xsd:simpleType>
        <xsd:restriction base="xsd:token">
         <xsd:maxLength value="15"/>
         <xsd:minLength value="1"/>
        </xsd:restriction>
       </xsd:simpleType>
      </xsd:attribute>
      <xsd:attribute name="listAgencyID">
       <xsd:simpleType>
        <xsd:restriction base="xsd:token">
         <xsd:maxLength value="60"/>
         <xsd:minLength value="1"/>
        </xsd:restriction>
       </xsd:simpleType>
      </xsd:attribute>
      <xsd:attribute name="listAgencySchemeID">
       <xsd:simpleType>
        <xsd:restriction base="xsd:token">
         <xsd:maxLength value="60"/>
         <xsd:minLength value="1"/>
        </xsd:restriction>
       </xsd:simpleType>
      </xsd:attribute>
      <xsd:attribute name="listAgencySchemeAgencyID">
       <xsd:simpleType>
        <xsd:restriction base="xsd:token">
         <xsd:maxLength value="3"/>
         <xsd:minLength value="1"/>
        </xsd:restriction>
       </xsd:simpleType>
      </xsd:attribute>
     </xsd:extension>
    </xsd:simpleContent>
   </xsd:complexType>
   <xsd:simpleType name="RegionalStructureCityCodeContent">
    <xsd:restriction base="xsd:token">
     <xsd:maxLength value="12"/>
     <xsd:minLength value="1"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:complexType name="RegionalStructureDistrictCode">
    <xsd:simpleContent>
     <xsd:extension base="RegionalStructureDistrictCodeContent">
      <xsd:attribute name="listID">
       <xsd:simpleType>
        <xsd:restriction base="xsd:token">
         <xsd:maxLength value="60"/>
         <xsd:minLength value="1"/>
        </xsd:restriction>
       </xsd:simpleType>
      </xsd:attribute>
      <xsd:attribute name="listVersionID">
       <xsd:simpleType>
        <xsd:restriction base="xsd:token">
         <xsd:maxLength value="15"/>
         <xsd:minLength value="1"/>
        </xsd:restriction>
       </xsd:simpleType>
      </xsd:attribute>
      <xsd:attribute name="listAgencyID">
       <xsd:simpleType>
        <xsd:restriction base="xsd:token">
         <xsd:maxLength value="60"/>
         <xsd:minLength value="1"/>
        </xsd:restriction>
       </xsd:simpleType>
      </xsd:attribute>
      <xsd:attribute name="listAgencySchemeID">
       <xsd:simpleType>
        <xsd:restriction base="xsd:token">
         <xsd:maxLength value="60"/>
         <xsd:minLength value="1"/>
        </xsd:restriction>
       </xsd:simpleType>
      </xsd:attribute>
      <xsd:attribute name="listAgencySchemeAgencyID">
       <xsd:simpleType>
        <xsd:restriction base="xsd:token">
         <xsd:maxLength value="3"/>
         <xsd:minLength value="1"/>
        </xsd:restriction>
       </xsd:simpleType>
      </xsd:attribute>
     </xsd:extension>
    </xsd:simpleContent>
   </xsd:complexType>
   <xsd:simpleType name="RegionalStructureDistrictCodeContent">
    <xsd:restriction base="xsd:token">
     <xsd:maxLength value="8"/>
     <xsd:minLength value="1"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:complexType name="RegionalStructureElementGroupCode">
    <xsd:simpleContent>
     <xsd:extension base="RegionalStructureElementGroupCodeContent">
      <xsd:attribute name="listID">
       <xsd:simpleType>
        <xsd:restriction base="xsd:token">
         <xsd:maxLength value="60"/>
         <xsd:minLength value="1"/>
        </xsd:restriction>
       </xsd:simpleType>
      </xsd:attribute>
      <xsd:attribute name="listVersionID">
       <xsd:simpleType>
        <xsd:restriction base="xsd:token">
         <xsd:maxLength value="15"/>
         <xsd:minLength value="1"/>
        </xsd:restriction>
       </xsd:simpleType>
      </xsd:attribute>
      <xsd:attribute name="listAgencyID">
       <xsd:simpleType>
        <xsd:restriction base="xsd:token">
         <xsd:maxLength value="60"/>
         <xsd:minLength value="1"/>
        </xsd:restriction>
       </xsd:simpleType>
      </xsd:attribute>
      <xsd:attribute name="listAgencySchemeID">
       <xsd:simpleType>
        <xsd:restriction base="xsd:token">
         <xsd:maxLength value="60"/>
         <xsd:minLength value="1"/>
        </xsd:restriction>
       </xsd:simpleType>
      </xsd:attribute>
      <xsd:attribute name="listAgencySchemeAgencyID" type="AgencyIdentificationCode"/>
     </xsd:extension>
    </xsd:simpleContent>
   </xsd:complexType>
   <xsd:simpleType name="RegionalStructureElementGroupCodeContent">
    <xsd:restriction base="xsd:token">
     <xsd:maxLength value="8"/>
     <xsd:minLength value="1"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:complexType name="RegionalStructureStreetCode">
    <xsd:simpleContent>
     <xsd:extension base="RegionalStructureStreetCodeContent">
      <xsd:attribute name="listID">
       <xsd:simpleType>
        <xsd:restriction base="xsd:token">
         <xsd:maxLength value="60"/>
         <xsd:minLength value="1"/>
        </xsd:restriction>
       </xsd:simpleType>
      </xsd:attribute>
      <xsd:attribute name="listVersionID">
       <xsd:simpleType>
        <xsd:restriction base="xsd:token">
         <xsd:maxLength value="15"/>
         <xsd:minLength value="1"/>
        </xsd:restriction>
       </xsd:simpleType>
      </xsd:attribute>
      <xsd:attribute name="listAgencyID">
       <xsd:simpleType>
        <xsd:restriction base="xsd:token">
         <xsd:maxLength value="60"/>
         <xsd:minLength value="1"/>
        </xsd:restriction>
       </xsd:simpleType>
      </xsd:attribute>
      <xsd:attribute name="listAgencySchemeID">
       <xsd:simpleType>
        <xsd:restriction base="xsd:token">
         <xsd:maxLength value="60"/>
         <xsd:minLength value="1"/>
        </xsd:restriction>
       </xsd:simpleType>
      </xsd:attribute>
      <xsd:attribute name="listAgencySchemeAgencyID">
       <xsd:simpleType>
        <xsd:restriction base="xsd:token">
         <xsd:maxLength value="3"/>
         <xsd:minLength value="1"/>
        </xsd:restriction>
       </xsd:simpleType>
      </xsd:attribute>
     </xsd:extension>
    </xsd:simpleContent>
   </xsd:complexType>
   <xsd:simpleType name="RegionalStructureStreetCodeContent">
    <xsd:restriction base="xsd:token">
     <xsd:maxLength value="12"/>
     <xsd:minLength value="1"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="RoomID">
    <xsd:restriction base="xsd:token">
     <xsd:maxLength value="10"/>
     <xsd:minLength value="1"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:complexType name="SalutationText">
    <xsd:simpleContent>
     <xsd:extension base="SalutationTextContent">
      <xsd:attribute name="languageCode" type="LanguageCode"/>
     </xsd:extension>
    </xsd:simpleContent>
   </xsd:complexType>
   <xsd:simpleType name="SalutationTextContent">
    <xsd:restriction base="xsd:token">
     <xsd:maxLength value="50"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="StreetName">
    <xsd:restriction base="xsd:string">
     <xsd:maxLength value="60"/>
     <xsd:minLength value="1"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:complexType name="TaxJurisdictionCode">
    <xsd:annotation>
     <xsd:documentation xml:lang="EN">
      <ccts:RepresentationTerm>Code</ccts:RepresentationTerm>
     </xsd:documentation>
    </xsd:annotation>
    <xsd:simpleContent>
     <xsd:extension base="TaxJurisdictionCode.Content">
      <xsd:attribute name="listID">
       <xsd:simpleType>
        <xsd:restriction base="xsd:token">
         <xsd:maxLength value="60"/>
         <xsd:minLength value="1"/>
        </xsd:restriction>
       </xsd:simpleType>
      </xsd:attribute>
      <xsd:attribute name="listVersionID">
       <xsd:simpleType>
        <xsd:restriction base="xsd:token">
         <xsd:maxLength value="15"/>
         <xsd:minLength value="1"/>
        </xsd:restriction>
       </xsd:simpleType>
      </xsd:attribute>
      <xsd:attribute name="listAgencyID">
       <xsd:simpleType>
        <xsd:restriction base="xsd:token">
         <xsd:maxLength value="60"/>
         <xsd:minLength value="1"/>
        </xsd:restriction>
       </xsd:simpleType>
      </xsd:attribute>
      <xsd:attribute name="listAgencySchemeID">
       <xsd:simpleType>
        <xsd:restriction base="xsd:token">
         <xsd:maxLength value="60"/>
         <xsd:minLength value="1"/>
        </xsd:restriction>
       </xsd:simpleType>
      </xsd:attribute>
      <xsd:attribute name="listAgencySchemeAgencyID" type="AgencyIdentificationCode"/>
     </xsd:extension>
    </xsd:simpleContent>
   </xsd:complexType>
   <xsd:simpleType name="TaxJurisdictionCode.Content">
    <xsd:restriction base="xsd:token">
     <xsd:maxLength value="15"/>
     <xsd:minLength value="1"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="TimeZoneCode">
    <xsd:restriction base="xsd:token">
     <xsd:maxLength value="10"/>
     <xsd:minLength value="1"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:complexType name="VIPReasonCode">
    <xsd:annotation>
     <xsd:documentation xml:lang="EN">
      <ccts:RepresentationTerm>Code</ccts:RepresentationTerm>
     </xsd:documentation>
    </xsd:annotation>
    <xsd:simpleContent>
     <xsd:extension base="VIPReasonCode.Content">
      <xsd:attribute name="listID">
       <xsd:simpleType>
        <xsd:restriction base="xsd:token">
         <xsd:maxLength value="60"/>
         <xsd:minLength value="1"/>
        </xsd:restriction>
       </xsd:simpleType>
      </xsd:attribute>
      <xsd:attribute name="listVersionID">
       <xsd:simpleType>
        <xsd:restriction base="xsd:token">
         <xsd:maxLength value="15"/>
         <xsd:minLength value="1"/>
        </xsd:restriction>
       </xsd:simpleType>
      </xsd:attribute>
      <xsd:attribute name="listAgencyID">
       <xsd:simpleType>
        <xsd:restriction base="xsd:token">
         <xsd:maxLength value="60"/>
         <xsd:minLength value="1"/>
        </xsd:restriction>
       </xsd:simpleType>
      </xsd:attribute>
      <xsd:attribute name="listAgencySchemeID">
       <xsd:simpleType>
        <xsd:restriction base="xsd:token">
         <xsd:maxLength value="60"/>
         <xsd:minLength value="1"/>
        </xsd:restriction>
       </xsd:simpleType>
      </xsd:attribute>
      <xsd:attribute name="listAgencySchemeAgencyID" type="AgencyIdentificationCode"/>
     </xsd:extension>
    </xsd:simpleContent>
   </xsd:complexType>
   <xsd:simpleType name="VIPReasonCode.Content">
    <xsd:restriction base="xsd:token">
     <xsd:length value="1"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="WebAddress">
    <xsd:annotation>
     <xsd:documentation xml:lang="EN">
      <ccts:RepresentationTerm>URI</ccts:RepresentationTerm>
     </xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:anyURI"/>
   </xsd:simpleType>
  </xsd:schema>
 </wsdl:types>
 <wsdl:message name="BusinessPartnerContactPersonCreateRequest">
  <wsdl:part name="BusinessPartnerContactPersonCreateRequest" element="tns:BusinessPartnerContactPersonCreateRequest"/>
 </wsdl:message>
 <wsdl:message name="BusinessPartnerContactPersonCreateConfirmation">
  <wsdl:part name="BusinessPartnerContactPersonCreateConfirmation" element="tns:BusinessPartnerContactPersonCreateConfirmation"/>
 </wsdl:message>
 <wsdl:message name="StandardMessageFault">
  <wsdl:part name="StandardMessageFault" element="tns:StandardMessageFault"/>
 </wsdl:message>
 <wsdl:portType name="BusinessPartnerContactPersonCreateRequestConfirmation_In">
  <wsdl:documentation>
   <sapdoc:sapdoc xmlns:sapdoc="urn:sap:esi:documentation">
    <sapdoc:docitem applicationComponent="CRM-MD-ESA"/>
   </sapdoc:sapdoc>
  </wsdl:documentation>
  <wsdl:operation name="BusinessPartnerContactPersonCreateRequestConfirmation_In">
   <wsp:Policy>
    <wsp:PolicyReference URI="#OP_IF_OP_BusinessPartnerContactPersonCreateRequestConfirmation_In"/>
   </wsp:Policy>
   <wsdl:input message="tns:BusinessPartnerContactPersonCreateRequest"/>
   <wsdl:output message="tns:BusinessPartnerContactPersonCreateConfirmation"/>
   <wsdl:fault name="StandardMessageFault" message="tns:StandardMessageFault"/>
  </wsdl:operation>
 </wsdl:portType>
</wsdl:definitions>
