Resources/canonical_library/wsdl/CO_WPOS_POS_SALES_TRANSACTION_service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions targetNamespace="http://sap.com/xi/EA-RETAIL/Global2"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:wsoap12="http://schemas.xmlsoap.org/wsdl/soap12/"
                  xmlns:http="http://schemas.xmlsoap.org/wsdl/http/"
                  xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/"
                  xmlns:tns="http://sap.com/xi/EA-RETAIL/Global2"
                  xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy"
                  xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd">
    <wsdl:documentation>
        <sidl:sidl
                xmlns:sidl="http://www.sap.com/2007/03/sidl"/>
    </wsdl:documentation>
    <wsp:UsingPolicy wsdl:required="true"/>
    <wsp:Policy wsu:Id="IF_IF_PosSalesTransactionConfirmation_Out">
        <sapsession:Session
                xmlns:sapsession="http://www.sap.com/webas/630/soap/features/session/">
            <sapsession:enableSession>false</sapsession:enableSession>
        </sapsession:Session>
    </wsp:Policy>
    <wsp:Policy wsu:Id="OP_IF_OP_PosSalesTransactionConfirmation_Out">
        <sapcomhnd:enableCommit
                xmlns:sapcomhnd="http://www.sap.com/NW05/soap/features/commit/">true
        </sapcomhnd:enableCommit>
        <sapblock:enableBlocking
                xmlns:sapblock="http://www.sap.com/NW05/soap/features/blocking/">false
        </sapblock:enableBlocking>
        <saptrhnw05:required
                xmlns:saptrhnw05="http://www.sap.com/NW05/soap/features/transaction/">yes
        </saptrhnw05:required>
        <saprmnw05:enableWSRM
                xmlns:saprmnw05="http://www.sap.com/NW05/soap/features/wsrm/">true
        </saprmnw05:enableWSRM>
    </wsp:Policy>
    <wsdl:types>
        <xsd:schema targetNamespace="http://sap.com/xi/EA-RETAIL/Global2"
                    xmlns="http://sap.com/xi/EA-RETAIL/Global2"
                    xmlns:ccts="urn:un:unece:uncefact:documentation:standard:CoreComponentsTechnicalSpecification:3.0">
            <xsd:element name="PosSalesTransactionConfirmation" type="PosSlsTrxConfirmationMessage"/>
            <xsd:simpleType name="AgencyIdentificationCode">
                <xsd:annotation>
                    <xsd:documentation xml:lang="EN">
                        <ccts:RepresentationTerm>Code</ccts:RepresentationTerm>
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:restriction base="xsd:token">
                    <xsd:maxLength value="3"/>
                    <xsd:minLength value="1"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:complexType name="BusinessDocumentMessageHeader">
                <xsd:sequence>
                    <xsd:element name="ID" minOccurs="0" type="BusinessDocumentMessageID"/>
                    <xsd:element name="ReferenceID" minOccurs="0" type="BusinessDocumentMessageID"/>
                    <xsd:element name="CreationDateTime" type="GLOBAL_DateTime"/>
                    <xsd:element name="TestDataIndicator" minOccurs="0" type="Indicator"/>
                    <xsd:element name="ReconciliationIndicator" minOccurs="0" type="Indicator"/>
                    <xsd:element name="SenderBusinessSystemID" minOccurs="0" type="BusinessSystemID"/>
                    <xsd:element name="RecipientBusinessSystemID" minOccurs="0" type="BusinessSystemID"/>
                    <xsd:element name="SenderParty" minOccurs="0" type="BusinessDocumentMessageHeaderParty"/>
                    <xsd:element name="RecipientParty" minOccurs="0" maxOccurs="unbounded" type="BusinessDocumentMessageHeaderParty"/>
                    <xsd:element name="BusinessScope" minOccurs="0" maxOccurs="unbounded" type="BusinessScope"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="BusinessDocumentMessageHeaderParty">
                <xsd:sequence>
                    <xsd:element name="InternalID" minOccurs="0" type="PartyInternalID"/>
                    <xsd:element name="StandardID" minOccurs="0" maxOccurs="unbounded" type="PartyStandardID"/>
                    <xsd:element name="ContactPerson" minOccurs="0" type="BusinessDocumentMessageHeaderPartyContactPerson"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="BusinessDocumentMessageHeaderPartyContactPerson">
                <xsd:sequence>
                    <xsd:element name="InternalID" minOccurs="0" type="ContactPersonInternalID"/>
                    <xsd:element name="OrganisationFormattedName" minOccurs="0" maxOccurs="4" type="LANGUAGEINDEPENDENT_MEDIUM_Name"/>
                    <xsd:element name="PersonFormattedName" minOccurs="0" maxOccurs="4" type="LANGUAGEINDEPENDENT_LONG_Name"/>
                    <xsd:element name="PhoneNumber" minOccurs="0" maxOccurs="unbounded" type="PhoneNumber"/>
                    <xsd:element name="FaxNumber" minOccurs="0" maxOccurs="unbounded" type="PhoneNumber"/>
                    <xsd:element name="EmailURI" minOccurs="0" maxOccurs="unbounded" type="EmailURI"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="BusinessDocumentMessageID">
                <xsd:annotation>
                    <xsd:documentation xml:lang="EN">
                        <ccts:RepresentationTerm>Identifier</ccts:RepresentationTerm>
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:simpleContent>
                    <xsd:extension base="BusinessDocumentMessageID.Content">
                        <xsd:attribute name="schemeID">
                            <xsd:simpleType>
                                <xsd:restriction base="xsd:token">
                                    <xsd:maxLength value="60"/>
                                    <xsd:minLength value="1"/>
                                </xsd:restriction>
                            </xsd:simpleType>
                        </xsd:attribute>
                        <xsd:attribute name="schemeAgencyID">
                            <xsd:simpleType>
                                <xsd:restriction base="xsd:token">
                                    <xsd:maxLength value="60"/>
                                    <xsd:minLength value="1"/>
                                </xsd:restriction>
                            </xsd:simpleType>
                        </xsd:attribute>
                        <xsd:attribute name="schemeAgencySchemeAgencyID" type="AgencyIdentificationCode"/>
                    </xsd:extension>
                </xsd:simpleContent>
            </xsd:complexType>
            <xsd:simpleType name="BusinessDocumentMessageID.Content">
                <xsd:restriction base="xsd:token">
                    <xsd:maxLength value="35"/>
                    <xsd:minLength value="1"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:complexType name="BusinessScope">
                <xsd:sequence>
                    <xsd:element name="TypeCode" type="BusinessScopeTypeCode"/>
                    <xsd:element name="InstanceID" minOccurs="0" type="BusinessScopeInstanceID"/>
                    <xsd:element name="ID" minOccurs="0" type="BusinessScopeID"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="BusinessScopeID">
                <xsd:annotation>
                    <xsd:documentation xml:lang="EN">
                        <ccts:RepresentationTerm>Identifier</ccts:RepresentationTerm>
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:simpleContent>
                    <xsd:extension base="BusinessScopeID.Content">
                        <xsd:attribute name="schemeID">
                            <xsd:simpleType>
                                <xsd:restriction base="xsd:token">
                                    <xsd:maxLength value="60"/>
                                    <xsd:minLength value="1"/>
                                </xsd:restriction>
                            </xsd:simpleType>
                        </xsd:attribute>
                        <xsd:attribute name="schemeAgencyID">
                            <xsd:simpleType>
                                <xsd:restriction base="xsd:token">
                                    <xsd:maxLength value="60"/>
                                    <xsd:minLength value="1"/>
                                </xsd:restriction>
                            </xsd:simpleType>
                        </xsd:attribute>
                    </xsd:extension>
                </xsd:simpleContent>
            </xsd:complexType>
            <xsd:simpleType name="BusinessScopeID.Content">
                <xsd:restriction base="xsd:token">
                    <xsd:maxLength value="36"/>
                    <xsd:minLength value="1"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:complexType name="BusinessScopeInstanceID">
                <xsd:annotation>
                    <xsd:documentation xml:lang="EN">
                        <ccts:RepresentationTerm>Identifier</ccts:RepresentationTerm>
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:simpleContent>
                    <xsd:extension base="BusinessScopeInstanceID.Content">
                        <xsd:attribute name="schemeID">
                            <xsd:simpleType>
                                <xsd:restriction base="xsd:token">
                                    <xsd:maxLength value="60"/>
                                    <xsd:minLength value="1"/>
                                </xsd:restriction>
                            </xsd:simpleType>
                        </xsd:attribute>
                        <xsd:attribute name="schemeAgencyID">
                            <xsd:simpleType>
                                <xsd:restriction base="xsd:token">
                                    <xsd:maxLength value="60"/>
                                    <xsd:minLength value="1"/>
                                </xsd:restriction>
                            </xsd:simpleType>
                        </xsd:attribute>
                    </xsd:extension>
                </xsd:simpleContent>
            </xsd:complexType>
            <xsd:simpleType name="BusinessScopeInstanceID.Content">
                <xsd:restriction base="xsd:token">
                    <xsd:maxLength value="36"/>
                    <xsd:minLength value="1"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:complexType name="BusinessScopeTypeCode">
                <xsd:annotation>
                    <xsd:documentation xml:lang="EN">
                        <ccts:RepresentationTerm>Code</ccts:RepresentationTerm>
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:simpleContent>
                    <xsd:extension base="BusinessScopeTypeCode.Content">
                        <xsd:attribute name="listID">
                            <xsd:simpleType>
                                <xsd:restriction base="xsd:token">
                                    <xsd:maxLength value="60"/>
                                    <xsd:minLength value="1"/>
                                </xsd:restriction>
                            </xsd:simpleType>
                        </xsd:attribute>
                        <xsd:attribute name="listVersionID">
                            <xsd:simpleType>
                                <xsd:restriction base="xsd:token">
                                    <xsd:maxLength value="15"/>
                                    <xsd:minLength value="1"/>
                                </xsd:restriction>
                            </xsd:simpleType>
                        </xsd:attribute>
                        <xsd:attribute name="listAgencyID">
                            <xsd:simpleType>
                                <xsd:restriction base="xsd:token">
                                    <xsd:maxLength value="60"/>
                                    <xsd:minLength value="1"/>
                                </xsd:restriction>
                            </xsd:simpleType>
                        </xsd:attribute>
                        <xsd:attribute name="listAgencySchemeID">
                            <xsd:simpleType>
                                <xsd:restriction base="xsd:token">
                                    <xsd:maxLength value="60"/>
                                    <xsd:minLength value="1"/>
                                </xsd:restriction>
                            </xsd:simpleType>
                        </xsd:attribute>
                        <xsd:attribute name="listAgencySchemeAgencyID" type="AgencyIdentificationCode"/>
                    </xsd:extension>
                </xsd:simpleContent>
            </xsd:complexType>
            <xsd:simpleType name="BusinessScopeTypeCode.Content">
                <xsd:restriction base="xsd:token">
                    <xsd:maxLength value="4"/>
                    <xsd:minLength value="1"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="BusinessSystemID">
                <xsd:annotation>
                    <xsd:documentation xml:lang="EN">
                        <ccts:RepresentationTerm>Identifier</ccts:RepresentationTerm>
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:restriction base="xsd:token">
                    <xsd:maxLength value="60"/>
                    <xsd:minLength value="1"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:complexType name="BusinessTransactionDocumentID">
                <xsd:annotation>
                    <xsd:documentation xml:lang="EN">
                        <ccts:RepresentationTerm>Identifier</ccts:RepresentationTerm>
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:simpleContent>
                    <xsd:extension base="BusinessTransactionDocumentID.Content">
                        <xsd:attribute name="schemeID">
                            <xsd:simpleType>
                                <xsd:restriction base="xsd:token">
                                    <xsd:maxLength value="60"/>
                                    <xsd:minLength value="1"/>
                                </xsd:restriction>
                            </xsd:simpleType>
                        </xsd:attribute>
                        <xsd:attribute name="schemeAgencyID">
                            <xsd:simpleType>
                                <xsd:restriction base="xsd:token">
                                    <xsd:maxLength value="60"/>
                                    <xsd:minLength value="1"/>
                                </xsd:restriction>
                            </xsd:simpleType>
                        </xsd:attribute>
                        <xsd:attribute name="schemeAgencySchemeAgencyID" type="AgencyIdentificationCode"/>
                    </xsd:extension>
                </xsd:simpleContent>
            </xsd:complexType>
            <xsd:simpleType name="BusinessTransactionDocumentID.Content">
                <xsd:restriction base="xsd:token">
                    <xsd:maxLength value="35"/>
                    <xsd:minLength value="1"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="CompanyCode_GFN">
                <xsd:annotation>
                    <xsd:documentation xml:lang="EN">
                        <ccts:RepresentationTerm>Identifier</ccts:RepresentationTerm>
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:restriction base="xsd:token">
                    <xsd:maxLength value="4"/>
                    <xsd:minLength value="1"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:complexType name="ContactPersonInternalID">
                <xsd:annotation>
                    <xsd:documentation xml:lang="EN">
                        <ccts:RepresentationTerm>Identifier</ccts:RepresentationTerm>
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:simpleContent>
                    <xsd:extension base="ContactPersonInternalID.Content">
                        <xsd:attribute name="schemeID">
                            <xsd:simpleType>
                                <xsd:restriction base="xsd:token">
                                    <xsd:maxLength value="60"/>
                                    <xsd:minLength value="1"/>
                                </xsd:restriction>
                            </xsd:simpleType>
                        </xsd:attribute>
                        <xsd:attribute name="schemeAgencyID">
                            <xsd:simpleType>
                                <xsd:restriction base="xsd:token">
                                    <xsd:maxLength value="60"/>
                                    <xsd:minLength value="1"/>
                                </xsd:restriction>
                            </xsd:simpleType>
                        </xsd:attribute>
                    </xsd:extension>
                </xsd:simpleContent>
            </xsd:complexType>
            <xsd:simpleType name="ContactPersonInternalID.Content">
                <xsd:restriction base="xsd:token">
                    <xsd:maxLength value="32"/>
                    <xsd:minLength value="1"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="CountryCode">
                <xsd:annotation>
                    <xsd:documentation xml:lang="EN">
                        <ccts:RepresentationTerm>Code</ccts:RepresentationTerm>
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:restriction base="xsd:token">
                    <xsd:maxLength value="3"/>
                    <xsd:minLength value="2"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="CountryDiallingCode">
                <xsd:annotation>
                    <xsd:documentation xml:lang="EN">
                        <ccts:RepresentationTerm>Code</ccts:RepresentationTerm>
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:restriction base="xsd:token">
                    <xsd:maxLength value="10"/>
                    <xsd:minLength value="1"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:complexType name="EmailURI">
                <xsd:annotation>
                    <xsd:documentation xml:lang="EN">
                        <ccts:RepresentationTerm>URI</ccts:RepresentationTerm>
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:simpleContent>
                    <xsd:extension base="xsd:anyURI">
                        <xsd:attribute name="schemeID">
                            <xsd:simpleType>
                                <xsd:restriction base="xsd:token">
                                    <xsd:maxLength value="60"/>
                                    <xsd:minLength value="1"/>
                                </xsd:restriction>
                            </xsd:simpleType>
                        </xsd:attribute>
                    </xsd:extension>
                </xsd:simpleContent>
            </xsd:complexType>
            <xsd:simpleType name="GLOBAL_DateTime">
                <xsd:annotation>
                    <xsd:documentation xml:lang="EN">
                        <ccts:RepresentationTerm>DateTime</ccts:RepresentationTerm>
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:restriction base="xsd:dateTime">
                    <xsd:pattern value="[0-9]{4}-[0-9]{2}-[0-9]{2}T[0-9]{2}:[0-9]{2}:[0-9]{2}(.[0-9]{1,7})?Z"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:complexType name="GoodsMovementID">
                <xsd:annotation>
                    <xsd:documentation xml:lang="EN">
                        <ccts:RepresentationTerm>Identifier</ccts:RepresentationTerm>
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:simpleContent>
                    <xsd:extension base="GoodsMovementID.Content">
                        <xsd:attribute name="schemeAgencyID">
                            <xsd:simpleType>
                                <xsd:restriction base="xsd:token">
                                    <xsd:maxLength value="60"/>
                                    <xsd:minLength value="1"/>
                                </xsd:restriction>
                            </xsd:simpleType>
                        </xsd:attribute>
                    </xsd:extension>
                </xsd:simpleContent>
            </xsd:complexType>
            <xsd:simpleType name="GoodsMovementID.Content">
                <xsd:restriction base="xsd:token">
                    <xsd:maxLength value="10"/>
                    <xsd:minLength value="1"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="Indicator">
                <xsd:annotation>
                    <xsd:documentation xml:lang="EN">
                        <ccts:RepresentationTerm>Indicator</ccts:RepresentationTerm>
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:restriction base="xsd:boolean"/>
            </xsd:simpleType>
            <xsd:simpleType name="LANGUAGEINDEPENDENT_LONG_Name">
                <xsd:annotation>
                    <xsd:documentation xml:lang="EN">
                        <ccts:RepresentationTerm>Name</ccts:RepresentationTerm>
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="80"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="LANGUAGEINDEPENDENT_MEDIUM_Name">
                <xsd:annotation>
                    <xsd:documentation xml:lang="EN">
                        <ccts:RepresentationTerm>Name</ccts:RepresentationTerm>
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="40"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="LanguageCode">
                <xsd:annotation>
                    <xsd:documentation xml:lang="EN">
                        <ccts:RepresentationTerm>Code</ccts:RepresentationTerm>
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:restriction base="xsd:language">
                    <xsd:maxLength value="9"/>
                    <xsd:minLength value="2"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:complexType name="Log">
                <xsd:sequence>
                    <xsd:element name="BusinessDocumentProcessingResultCode" minOccurs="0" type="ProcessingResultCode"/>
                    <xsd:element name="MaximumLogItemSeverityCode" minOccurs="0" type="LogItemSeverityCode"/>
                    <xsd:element name="Item" minOccurs="0" maxOccurs="unbounded" type="LogItem"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="LogItem">
                <xsd:sequence>
                    <xsd:element name="TypeID" minOccurs="0" type="LogItemTypeID"/>
                    <xsd:element name="CategoryCode" minOccurs="0" type="LogItemCategoryCode"/>
                    <xsd:element name="SeverityCode" minOccurs="0" type="LogItemSeverityCode"/>
                    <xsd:element name="ReferenceObjectNodeSenderTechnicalID" minOccurs="0" type="ObjectNodePartyTechnicalID"/>
                    <xsd:element name="Note" type="LogItemNote"/>
                    <xsd:element name="WebURI" minOccurs="0" type="WebURI"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="LogItemCategoryCode">
                <xsd:annotation>
                    <xsd:documentation xml:lang="EN">
                        <ccts:RepresentationTerm>Code</ccts:RepresentationTerm>
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:simpleContent>
                    <xsd:extension base="LogItemCategoryCode.Content">
                        <xsd:attribute name="listID">
                            <xsd:simpleType>
                                <xsd:restriction base="xsd:token">
                                    <xsd:maxLength value="60"/>
                                    <xsd:minLength value="1"/>
                                </xsd:restriction>
                            </xsd:simpleType>
                        </xsd:attribute>
                        <xsd:attribute name="listVersionID">
                            <xsd:simpleType>
                                <xsd:restriction base="xsd:token">
                                    <xsd:maxLength value="15"/>
                                    <xsd:minLength value="1"/>
                                </xsd:restriction>
                            </xsd:simpleType>
                        </xsd:attribute>
                        <xsd:attribute name="listAgencyID">
                            <xsd:simpleType>
                                <xsd:restriction base="xsd:token">
                                    <xsd:maxLength value="60"/>
                                    <xsd:minLength value="1"/>
                                </xsd:restriction>
                            </xsd:simpleType>
                        </xsd:attribute>
                        <xsd:attribute name="listAgencySchemeID">
                            <xsd:simpleType>
                                <xsd:restriction base="xsd:token">
                                    <xsd:maxLength value="60"/>
                                    <xsd:minLength value="1"/>
                                </xsd:restriction>
                            </xsd:simpleType>
                        </xsd:attribute>
                        <xsd:attribute name="listAgencySchemeAgencyID" type="AgencyIdentificationCode"/>
                    </xsd:extension>
                </xsd:simpleContent>
            </xsd:complexType>
            <xsd:simpleType name="LogItemCategoryCode.Content">
                <xsd:restriction base="xsd:token">
                    <xsd:maxLength value="15"/>
                    <xsd:minLength value="1"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="LogItemNote">
                <xsd:annotation>
                    <xsd:documentation xml:lang="EN">
                        <ccts:RepresentationTerm>Note</ccts:RepresentationTerm>
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="200"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="LogItemSeverityCode">
                <xsd:annotation>
                    <xsd:documentation xml:lang="EN">
                        <ccts:RepresentationTerm>Code</ccts:RepresentationTerm>
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:restriction base="xsd:token">
                    <xsd:length value="1"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="LogItemTypeID">
                <xsd:annotation>
                    <xsd:documentation xml:lang="EN">
                        <ccts:RepresentationTerm>Identifier</ccts:RepresentationTerm>
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:restriction base="xsd:token">
                    <xsd:maxLength value="40"/>
                    <xsd:minLength value="1"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:complexType name="MEDIUM_Name">
                <xsd:annotation>
                    <xsd:documentation xml:lang="EN">
                        <ccts:RepresentationTerm>Name</ccts:RepresentationTerm>
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:simpleContent>
                    <xsd:extension base="MEDIUM_Name.Content">
                        <xsd:attribute name="languageCode" type="LanguageCode"/>
                    </xsd:extension>
                </xsd:simpleContent>
            </xsd:complexType>
            <xsd:simpleType name="MEDIUM_Name.Content">
                <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="40"/>
                    <xsd:minLength value="1"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="ObjectNodePartyTechnicalID">
                <xsd:annotation>
                    <xsd:documentation xml:lang="EN">
                        <ccts:RepresentationTerm>Identifier</ccts:RepresentationTerm>
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:restriction base="xsd:token">
                    <xsd:maxLength value="70"/>
                    <xsd:minLength value="1"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="OrdinalNumberValue">
                <xsd:annotation>
                    <xsd:documentation xml:lang="EN">
                        <ccts:RepresentationTerm>Value</ccts:RepresentationTerm>
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:restriction base="xsd:int">
                    <xsd:maxInclusive value="999999999"/>
                    <xsd:minInclusive value="1"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:complexType name="PartyInternalID">
                <xsd:annotation>
                    <xsd:documentation xml:lang="EN">
                        <ccts:RepresentationTerm>Identifier</ccts:RepresentationTerm>
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:simpleContent>
                    <xsd:extension base="PartyInternalID.Content">
                        <xsd:attribute name="schemeID">
                            <xsd:simpleType>
                                <xsd:restriction base="xsd:token">
                                    <xsd:maxLength value="60"/>
                                    <xsd:minLength value="1"/>
                                </xsd:restriction>
                            </xsd:simpleType>
                        </xsd:attribute>
                        <xsd:attribute name="schemeAgencyID">
                            <xsd:simpleType>
                                <xsd:restriction base="xsd:token">
                                    <xsd:maxLength value="60"/>
                                    <xsd:minLength value="1"/>
                                </xsd:restriction>
                            </xsd:simpleType>
                        </xsd:attribute>
                    </xsd:extension>
                </xsd:simpleContent>
            </xsd:complexType>
            <xsd:simpleType name="PartyInternalID.Content">
                <xsd:restriction base="xsd:token">
                    <xsd:maxLength value="32"/>
                    <xsd:minLength value="1"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:complexType name="PartyStandardID">
                <xsd:annotation>
                    <xsd:documentation xml:lang="EN">
                        <ccts:RepresentationTerm>Identifier</ccts:RepresentationTerm>
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:simpleContent>
                    <xsd:extension base="PartyStandardID.Content">
                        <xsd:attribute name="schemeAgencyID" use="required">
                            <xsd:simpleType>
                                <xsd:restriction base="xsd:token">
                                    <xsd:maxLength value="3"/>
                                    <xsd:minLength value="1"/>
                                </xsd:restriction>
                            </xsd:simpleType>
                        </xsd:attribute>
                    </xsd:extension>
                </xsd:simpleContent>
            </xsd:complexType>
            <xsd:simpleType name="PartyStandardID.Content">
                <xsd:restriction base="xsd:token">
                    <xsd:maxLength value="13"/>
                    <xsd:minLength value="1"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:complexType name="PhoneNumber">
                <xsd:sequence>
                    <xsd:element name="AreaID" minOccurs="0" type="PhoneNumberAreaID"/>
                    <xsd:element name="SubscriberID" minOccurs="0" type="PhoneNumberSubscriberID"/>
                    <xsd:element name="ExtensionID" minOccurs="0" type="PhoneNumberExtensionID"/>
                    <xsd:element name="CountryCode" minOccurs="0" type="CountryCode"/>
                    <xsd:element name="CountryDiallingCode" minOccurs="0" type="CountryDiallingCode"/>
                    <xsd:element name="CountryName" minOccurs="0" type="MEDIUM_Name"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:simpleType name="PhoneNumberAreaID">
                <xsd:annotation>
                    <xsd:documentation xml:lang="EN">
                        <ccts:RepresentationTerm>Identifier</ccts:RepresentationTerm>
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:restriction base="xsd:token">
                    <xsd:maxLength value="10"/>
                    <xsd:minLength value="1"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="PhoneNumberExtensionID">
                <xsd:annotation>
                    <xsd:documentation xml:lang="EN">
                        <ccts:RepresentationTerm>Identifier</ccts:RepresentationTerm>
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:restriction base="xsd:token">
                    <xsd:maxLength value="10"/>
                    <xsd:minLength value="1"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="PhoneNumberSubscriberID">
                <xsd:annotation>
                    <xsd:documentation xml:lang="EN">
                        <ccts:RepresentationTerm>Identifier</ccts:RepresentationTerm>
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:restriction base="xsd:token">
                    <xsd:maxLength value="30"/>
                    <xsd:minLength value="1"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="PosReferenceDocumentID">
                <xsd:annotation>
                    <xsd:documentation xml:lang="EN">
                        <ccts:RepresentationTerm>Identifier</ccts:RepresentationTerm>
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:restriction base="xsd:token">
                    <xsd:maxLength value="16"/>
                    <xsd:minLength value="1"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="PosServiceCallReferenceID">
                <xsd:annotation>
                    <xsd:documentation xml:lang="EN">
                        <ccts:RepresentationTerm>Identifier</ccts:RepresentationTerm>
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:restriction base="xsd:token">
                    <xsd:maxLength value="16"/>
                    <xsd:minLength value="1"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:complexType name="PosSlsTrxConfAggPaytList">
                <xsd:sequence>
                    <xsd:element name="BillingDocumentID" minOccurs="0" type="BusinessTransactionDocumentID"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="PosSlsTrxConfAggSlsByPrd">
                <xsd:sequence>
                    <xsd:element name="SequenceNumberFrom" minOccurs="0" type="OrdinalNumberValue"/>
                    <xsd:element name="SequenceNumberTo" minOccurs="0" type="OrdinalNumberValue"/>
                    <xsd:element name="BillingDocumentID" minOccurs="0" maxOccurs="unbounded" type="BusinessTransactionDocumentID"/>
                    <xsd:element name="MaterialDocument" minOccurs="0" maxOccurs="unbounded" type="PosSlsTrxConfAggSlsByPrdMaterialDocument"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="PosSlsTrxConfAggSlsByPrdMaterialDocument">
                <xsd:sequence>
                    <xsd:element name="MaterialDocumentID" type="GoodsMovementID"/>
                    <xsd:element name="MaterialDocumentYear" type="Year"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="PosSlsTrxConfCustOrdPaytList">
                <xsd:sequence>
                    <xsd:element name="ExternalReferenceDocumentID" type="PosReferenceDocumentID"/>
                    <xsd:element name="BillingDocumentID" minOccurs="0" type="BusinessTransactionDocumentID"/>
                    <xsd:element name="AccountingDocument" minOccurs="0" type="PosSlsTrxConfCustOrdPaytListAccountingDocument"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="PosSlsTrxConfCustOrdPaytListAccountingDocument">
                <xsd:sequence>
                    <xsd:element name="AccountingDocumentID" type="BusinessTransactionDocumentID"/>
                    <xsd:element name="AccountingDocumentCompanyCode" type="CompanyCode_GFN"/>
                    <xsd:element name="AccountingDocumentYear" type="Year"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="PosSlsTrxConfSlsPerReceipt">
                <xsd:sequence>
                    <xsd:element name="ExternalReferenceDocumentID" type="PosReferenceDocumentID"/>
                    <xsd:element name="BillingDocumentID" minOccurs="0" type="BusinessTransactionDocumentID"/>
                    <xsd:element name="MaterialDocument" minOccurs="0" type="PosSlsTrxConfSlsPerReceiptMaterialDocument"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="PosSlsTrxConfSlsPerReceiptMaterialDocument">
                <xsd:sequence>
                    <xsd:element name="MaterialDocumentID" type="GoodsMovementID"/>
                    <xsd:element name="MaterialDocumentYear" type="Year"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="PosSlsTrxConfirmation">
                <xsd:sequence>
                    <xsd:element name="ServiceCallReferenceID" type="PosServiceCallReferenceID"/>
                    <xsd:element name="AggregatedSalesByProduct" minOccurs="0" type="PosSlsTrxConfAggSlsByPrd"/>
                    <xsd:element name="AggregatedPaymentList" minOccurs="0" type="PosSlsTrxConfAggPaytList"/>
                    <xsd:element name="SalesPerReceipt" minOccurs="0" type="PosSlsTrxConfSlsPerReceipt"/>
                    <xsd:element name="CustomerOrderPaymentList" minOccurs="0" type="PosSlsTrxConfCustOrdPaytList"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="PosSlsTrxConfirmationMessage">
                <xsd:sequence>
                    <xsd:element name="MessageHeader" type="BusinessDocumentMessageHeader"/>
                    <xsd:element name="PosSlsTrxConfirmation" type="PosSlsTrxConfirmation"/>
                    <xsd:element name="Log" type="Log"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:simpleType name="ProcessingResultCode">
                <xsd:annotation>
                    <xsd:documentation xml:lang="EN">
                        <ccts:RepresentationTerm>Code</ccts:RepresentationTerm>
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:restriction base="xsd:token">
                    <xsd:maxLength value="2"/>
                    <xsd:minLength value="1"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="WebURI">
                <xsd:annotation>
                    <xsd:documentation xml:lang="EN">
                        <ccts:RepresentationTerm>URI</ccts:RepresentationTerm>
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:restriction base="xsd:anyURI"/>
            </xsd:simpleType>
            <xsd:simpleType name="Year">
                <xsd:annotation>
                    <xsd:documentation xml:lang="EN">
                        <ccts:RepresentationTerm>Text</ccts:RepresentationTerm>
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:restriction base="xsd:string">
                    <xsd:length value="4"/>
                </xsd:restriction>
            </xsd:simpleType>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="PosSalesTransactionConfirmation">
        <wsdl:part name="PosSalesTransactionConfirmation" element="tns:PosSalesTransactionConfirmation"/>
    </wsdl:message>
    <wsdl:portType name="PosSalesTransactionConfirmation_Out">
        <wsdl:documentation>
            <sapdoc:sapdoc
                    xmlns:sapdoc="urn:sap:esi:documentation">
                <sapdoc:docitem applicationComponent="LO-RFM-IFC-IN-SRV"/>
            </sapdoc:sapdoc>
        </wsdl:documentation>
        <wsp:Policy>
            <wsp:PolicyReference URI="#IF_IF_PosSalesTransactionConfirmation_Out"/>
        </wsp:Policy>
        <wsdl:operation name="PosSalesTransactionConfirmation_Out">
            <wsp:Policy>
                <wsp:PolicyReference URI="#OP_IF_OP_PosSalesTransactionConfirmation_Out"/>
            </wsp:Policy>
            <wsdl:input message="tns:PosSalesTransactionConfirmation"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding type="tns:PosSalesTransactionConfirmation_Out" name="CO_WPOS_POS_SALES_TRANSACTION">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="PosSalesTransactionConfirmation_Out">
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding type="tns:PosSalesTransactionConfirmation_Out" name="CO_WPOS_POS_SALES_TRANSACTION_S12">
        <wsoap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="PosSalesTransactionConfirmation_Out">
            <wsdl:input>
                <wsoap12:body use="literal"/>
            </wsdl:input>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="CO_WPOS_POS_SALES_TRANSACTION_service">
        <wsdl:port name="CO_WPOS_POS_SALES_TRANSACTION_port_soap11" binding="tns:CO_WPOS_POS_SALES_TRANSACTION">
            <soap:address location="https://host:port/"/>
        </wsdl:port>
        <wsdl:port name="CO_WPOS_POS_SALES_TRANSACTION_port_soap12" binding="tns:CO_WPOS_POS_SALES_TRANSACTION_S12">
            <wsoap12:address location="https://host:port/"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>