Resources/canonical_library/wsdl/CreditManagementAccountByIDQuery_In.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions targetNamespace="http://sap.com/xi/FSCM/Global" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsoap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://sap.com/xi/FSCM/Global" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:n1="http://sap.com/xi/SAPGlobal/Global">
 <wsdl:documentation>
  <sidl:sidl xmlns:sidl="http://www.sap.com/2007/03/sidl"/>
 </wsdl:documentation>
 <wsp:UsingPolicy wsdl:required="true"/>
 <wsp:Policy wsu:Id="BN__binding">
  <wsp:ExactlyOne>
   <wsp:All>
    <saptrnbnd:OptimizedMimeSerialization xmlns:saptrnbnd="http://schemas.xmlsoap.org/ws/2004/09/policy/optimizedmimeserialization" wsp:Optional="true"/>
    <wsaw:UsingAddressing xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" wsp:Optional="true"/>
    <wsp:All xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy">
     <sp:TransportBinding xmlns:sp="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702" xmlns:sapsp="http://www.sap.com/webas/630/soap/features/security/policy" xmlns:wsa="http://www.w3.org/2005/08/addressing" xmlns:wst="http://docs.oasis-open.org/ws-sx/ws-trust/200512" xmlns:wsu="http://schemas.xmlsoap.org/ws/2002/07/utility" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex">
      <wsp:Policy>
       <sp:TransportToken>
        <wsp:Policy>
         <sp:HttpsToken>
          <wsp:Policy>
           <sp:HttpBasicAuthentication/>
          </wsp:Policy>
         </sp:HttpsToken>
        </wsp:Policy>
       </sp:TransportToken>
       <sp:AlgorithmSuite>
        <wsp:Policy>
         <sp:Basic128Rsa15/>
        </wsp:Policy>
       </sp:AlgorithmSuite>
       <sp:Layout>
        <wsp:Policy>
         <sp:Strict/>
        </wsp:Policy>
       </sp:Layout>
      </wsp:Policy>
     </sp:TransportBinding>
    </wsp:All>
   </wsp:All>
   <wsp:All>
    <saptrnbnd:OptimizedMimeSerialization xmlns:saptrnbnd="http://schemas.xmlsoap.org/ws/2004/09/policy/optimizedmimeserialization" wsp:Optional="true"/>
    <wsaw:UsingAddressing xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" wsp:Optional="true"/>
    <wsp:All xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy">
     <sp:TransportBinding xmlns:sp="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702" xmlns:sapsp="http://www.sap.com/webas/630/soap/features/security/policy" xmlns:wsa="http://www.w3.org/2005/08/addressing" xmlns:wst="http://docs.oasis-open.org/ws-sx/ws-trust/200512" xmlns:wsu="http://schemas.xmlsoap.org/ws/2002/07/utility" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex">
      <wsp:Policy>
       <sp:TransportToken>
        <wsp:Policy>
         <sp:HttpsToken>
          <wsp:Policy>
           <sp:RequireClientCertificate/>
          </wsp:Policy>
         </sp:HttpsToken>
        </wsp:Policy>
       </sp:TransportToken>
       <sp:AlgorithmSuite>
        <wsp:Policy>
         <sp:Basic128Rsa15/>
        </wsp:Policy>
       </sp:AlgorithmSuite>
       <sp:Layout>
        <wsp:Policy>
         <sp:Strict/>
        </wsp:Policy>
       </sp:Layout>
      </wsp:Policy>
     </sp:TransportBinding>
    </wsp:All>
   </wsp:All>
   <wsp:All>
    <saptrnbnd:OptimizedXMLTransfer uri="http://xml.sap.com/2006/11/esi/esp/binxml" xmlns:saptrnbnd="http://www.sap.com/webas/710/soap/features/transportbinding/" wsp:Optional="true"/>
    <wsaw:UsingAddressing xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" wsp:Optional="true"/>
    <wsp:All xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy">
     <sp:TransportBinding xmlns:sp="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702" xmlns:sapsp="http://www.sap.com/webas/630/soap/features/security/policy" xmlns:wsa="http://www.w3.org/2005/08/addressing" xmlns:wst="http://docs.oasis-open.org/ws-sx/ws-trust/200512" xmlns:wsu="http://schemas.xmlsoap.org/ws/2002/07/utility" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex">
      <wsp:Policy>
       <sp:TransportToken>
        <wsp:Policy>
         <sp:HttpsToken>
          <wsp:Policy>
           <sp:HttpBasicAuthentication/>
          </wsp:Policy>
         </sp:HttpsToken>
        </wsp:Policy>
       </sp:TransportToken>
       <sp:AlgorithmSuite>
        <wsp:Policy>
         <sp:Basic128Rsa15/>
        </wsp:Policy>
       </sp:AlgorithmSuite>
       <sp:Layout>
        <wsp:Policy>
         <sp:Strict/>
        </wsp:Policy>
       </sp:Layout>
      </wsp:Policy>
     </sp:TransportBinding>
    </wsp:All>
   </wsp:All>
   <wsp:All>
    <saptrnbnd:OptimizedXMLTransfer uri="http://xml.sap.com/2006/11/esi/esp/binxml" xmlns:saptrnbnd="http://www.sap.com/webas/710/soap/features/transportbinding/" wsp:Optional="true"/>
    <wsaw:UsingAddressing xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" wsp:Optional="true"/>
    <wsp:All xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy">
     <sp:TransportBinding xmlns:sp="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702" xmlns:sapsp="http://www.sap.com/webas/630/soap/features/security/policy" xmlns:wsa="http://www.w3.org/2005/08/addressing" xmlns:wst="http://docs.oasis-open.org/ws-sx/ws-trust/200512" xmlns:wsu="http://schemas.xmlsoap.org/ws/2002/07/utility" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex">
      <wsp:Policy>
       <sp:TransportToken>
        <wsp:Policy>
         <sp:HttpsToken>
          <wsp:Policy>
           <sp:RequireClientCertificate/>
          </wsp:Policy>
         </sp:HttpsToken>
        </wsp:Policy>
       </sp:TransportToken>
       <sp:AlgorithmSuite>
        <wsp:Policy>
         <sp:Basic128Rsa15/>
        </wsp:Policy>
       </sp:AlgorithmSuite>
       <sp:Layout>
        <wsp:Policy>
         <sp:Strict/>
        </wsp:Policy>
       </sp:Layout>
      </wsp:Policy>
     </sp:TransportBinding>
    </wsp:All>
   </wsp:All>
  </wsp:ExactlyOne>
 </wsp:Policy>
 <wsp:Policy wsu:Id="BN__binding_soap12">
  <wsp:ExactlyOne>
   <wsp:All>
    <saptrnbnd:OptimizedMimeSerialization xmlns:saptrnbnd="http://schemas.xmlsoap.org/ws/2004/09/policy/optimizedmimeserialization" wsp:Optional="true"/>
    <wsaw:UsingAddressing xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" wsp:Optional="true"/>
    <wsp:All xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy">
     <sp:TransportBinding xmlns:sp="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702" xmlns:sapsp="http://www.sap.com/webas/630/soap/features/security/policy" xmlns:wsa="http://www.w3.org/2005/08/addressing" xmlns:wst="http://docs.oasis-open.org/ws-sx/ws-trust/200512" xmlns:wsu="http://schemas.xmlsoap.org/ws/2002/07/utility" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex">
      <wsp:Policy>
       <sp:TransportToken>
        <wsp:Policy>
         <sp:HttpsToken>
          <wsp:Policy>
           <sp:HttpBasicAuthentication/>
          </wsp:Policy>
         </sp:HttpsToken>
        </wsp:Policy>
       </sp:TransportToken>
       <sp:AlgorithmSuite>
        <wsp:Policy>
         <sp:Basic128Rsa15/>
        </wsp:Policy>
       </sp:AlgorithmSuite>
       <sp:Layout>
        <wsp:Policy>
         <sp:Strict/>
        </wsp:Policy>
       </sp:Layout>
      </wsp:Policy>
     </sp:TransportBinding>
    </wsp:All>
   </wsp:All>
   <wsp:All>
    <saptrnbnd:OptimizedMimeSerialization xmlns:saptrnbnd="http://schemas.xmlsoap.org/ws/2004/09/policy/optimizedmimeserialization" wsp:Optional="true"/>
    <wsaw:UsingAddressing xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" wsp:Optional="true"/>
    <wsp:All xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy">
     <sp:TransportBinding xmlns:sp="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702" xmlns:sapsp="http://www.sap.com/webas/630/soap/features/security/policy" xmlns:wsa="http://www.w3.org/2005/08/addressing" xmlns:wst="http://docs.oasis-open.org/ws-sx/ws-trust/200512" xmlns:wsu="http://schemas.xmlsoap.org/ws/2002/07/utility" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex">
      <wsp:Policy>
       <sp:TransportToken>
        <wsp:Policy>
         <sp:HttpsToken>
          <wsp:Policy>
           <sp:RequireClientCertificate/>
          </wsp:Policy>
         </sp:HttpsToken>
        </wsp:Policy>
       </sp:TransportToken>
       <sp:AlgorithmSuite>
        <wsp:Policy>
         <sp:Basic128Rsa15/>
        </wsp:Policy>
       </sp:AlgorithmSuite>
       <sp:Layout>
        <wsp:Policy>
         <sp:Strict/>
        </wsp:Policy>
       </sp:Layout>
      </wsp:Policy>
     </sp:TransportBinding>
    </wsp:All>
   </wsp:All>
   <wsp:All>
    <saptrnbnd:OptimizedXMLTransfer uri="http://xml.sap.com/2006/11/esi/esp/binxml" xmlns:saptrnbnd="http://www.sap.com/webas/710/soap/features/transportbinding/" wsp:Optional="true"/>
    <wsaw:UsingAddressing xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" wsp:Optional="true"/>
    <wsp:All xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy">
     <sp:TransportBinding xmlns:sp="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702" xmlns:sapsp="http://www.sap.com/webas/630/soap/features/security/policy" xmlns:wsa="http://www.w3.org/2005/08/addressing" xmlns:wst="http://docs.oasis-open.org/ws-sx/ws-trust/200512" xmlns:wsu="http://schemas.xmlsoap.org/ws/2002/07/utility" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex">
      <wsp:Policy>
       <sp:TransportToken>
        <wsp:Policy>
         <sp:HttpsToken>
          <wsp:Policy>
           <sp:HttpBasicAuthentication/>
          </wsp:Policy>
         </sp:HttpsToken>
        </wsp:Policy>
       </sp:TransportToken>
       <sp:AlgorithmSuite>
        <wsp:Policy>
         <sp:Basic128Rsa15/>
        </wsp:Policy>
       </sp:AlgorithmSuite>
       <sp:Layout>
        <wsp:Policy>
         <sp:Strict/>
        </wsp:Policy>
       </sp:Layout>
      </wsp:Policy>
     </sp:TransportBinding>
    </wsp:All>
   </wsp:All>
   <wsp:All>
    <saptrnbnd:OptimizedXMLTransfer uri="http://xml.sap.com/2006/11/esi/esp/binxml" xmlns:saptrnbnd="http://www.sap.com/webas/710/soap/features/transportbinding/" wsp:Optional="true"/>
    <wsaw:UsingAddressing xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" wsp:Optional="true"/>
    <wsp:All xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy">
     <sp:TransportBinding xmlns:sp="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702" xmlns:sapsp="http://www.sap.com/webas/630/soap/features/security/policy" xmlns:wsa="http://www.w3.org/2005/08/addressing" xmlns:wst="http://docs.oasis-open.org/ws-sx/ws-trust/200512" xmlns:wsu="http://schemas.xmlsoap.org/ws/2002/07/utility" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex">
      <wsp:Policy>
       <sp:TransportToken>
        <wsp:Policy>
         <sp:HttpsToken>
          <wsp:Policy>
           <sp:RequireClientCertificate/>
          </wsp:Policy>
         </sp:HttpsToken>
        </wsp:Policy>
       </sp:TransportToken>
       <sp:AlgorithmSuite>
        <wsp:Policy>
         <sp:Basic128Rsa15/>
        </wsp:Policy>
       </sp:AlgorithmSuite>
       <sp:Layout>
        <wsp:Policy>
         <sp:Strict/>
        </wsp:Policy>
       </sp:Layout>
      </wsp:Policy>
     </sp:TransportBinding>
    </wsp:All>
   </wsp:All>
  </wsp:ExactlyOne>
 </wsp:Policy>
 <wsp:Policy wsu:Id="IF__CreditManagementAccountByIDQuery_In">
  <wsp:ExactlyOne>
   <wsp:All>
    <sapcentraladmin:CentralAdministration xmlns:sapcentraladmin="http://www.sap.com/webas/700/soap/features/CentralAdministration/" wsp:Optional="true">
     <sapcentraladmin:InterfaceCheckSum>B1C7C9E58443D96D4803AAB48662A04F78D242FC</sapcentraladmin:InterfaceCheckSum>
    </sapcentraladmin:CentralAdministration>
    <sapcentraladmin:CentralAdministration xmlns:sapcentraladmin="http://www.sap.com/webas/700/soap/features/CentralAdministration/" wsp:Optional="true">
     <sapcentraladmin:BusinessApplicationID>941882831C7D1ED9A7A414069DA24E3E</sapcentraladmin:BusinessApplicationID>
    </sapcentraladmin:CentralAdministration>
   </wsp:All>
  </wsp:ExactlyOne>
 </wsp:Policy>
 <wsp:Policy wsu:Id="OP__CreditManagementAccountByIDQuery_In">
  <wsp:ExactlyOne>
   <wsp:All>
    <saptrhnw05:required xmlns:saptrhnw05="http://www.sap.com/NW05/soap/features/transaction/">no</saptrhnw05:required>
    <sapcomhnd:enableCommit xmlns:sapcomhnd="http://www.sap.com/NW05/soap/features/commit/">false</sapcomhnd:enableCommit>
    <sapblock:enableBlocking xmlns:sapblock="http://www.sap.com/NW05/soap/features/blocking/">true</sapblock:enableBlocking>
    <saprmnw05:enableWSRM xmlns:saprmnw05="http://www.sap.com/NW05/soap/features/wsrm/">false</saprmnw05:enableWSRM>
   </wsp:All>
  </wsp:ExactlyOne>
 </wsp:Policy>
 <wsdl:types>
  <xsd:schema targetNamespace="http://sap.com/xi/FSCM/Global" xmlns="http://sap.com/xi/FSCM/Global" xmlns:ccts="urn:un:unece:uncefact:documentation:standard:CoreComponentsTechnicalSpecification:3.0" xmlns:xi0="http://sap.com/xi/SAPGlobal/Global">
   <xsd:simpleType name="AgencyIdentificationCode">
    <xsd:annotation>
     <xsd:documentation xml:lang="EN">
      <ccts:RepresentationTerm>Code</ccts:RepresentationTerm>
     </xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:token">
     <xsd:maxLength value="3"/>
     <xsd:minLength value="1"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:complexType name="Amount">
    <xsd:simpleContent>
     <xsd:extension base="AmountContent">
      <xsd:attribute name="currencyCode" use="required">
       <xsd:simpleType>
        <xsd:restriction base="xsd:token">
         <xsd:length value="3"/>
        </xsd:restriction>
       </xsd:simpleType>
      </xsd:attribute>
     </xsd:extension>
    </xsd:simpleContent>
   </xsd:complexType>
   <xsd:simpleType name="AmountContent">
    <xsd:restriction base="xsd:decimal">
     <xsd:totalDigits value="28"/>
     <xsd:fractionDigits value="6"/>
     <xsd:maxInclusive value="9999999999999999999999.999999"/>
     <xsd:minInclusive value="-9999999999999999999999.999999"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:complexType name="BusinessDocumentMessageHeader">
    <xsd:sequence>
     <xsd:element name="ID" type="BusinessDocumentMessageID"/>
     <xsd:element name="ReferenceID" minOccurs="0" type="BusinessDocumentMessageID"/>
     <xsd:element name="CreationDateTime" type="DateTime"/>
     <xsd:element name="SenderParty" minOccurs="0" type="BusinessDocumentMessageHeaderParty"/>
     <xsd:element name="RecipientParty" minOccurs="0" maxOccurs="unbounded" type="BusinessDocumentMessageHeaderParty"/>
    </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="BusinessDocumentMessageHeaderParty">
    <xsd:sequence>
     <xsd:element name="InternalID" type="PartyInternalID"/>
    </xsd:sequence>
   </xsd:complexType>
   <xsd:simpleType name="BusinessDocumentMessageID">
    <xsd:restriction base="xsd:string">
     <xsd:maxLength value="35"/>
     <xsd:minLength value="1"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:complexType name="BusinessTransactionDocumentID">
    <xsd:simpleContent>
     <xsd:extension base="BusinessTransactionDocumentIDContent">
      <xsd:attribute name="schemeID">
       <xsd:simpleType>
        <xsd:restriction base="xsd:token">
         <xsd:maxLength value="60"/>
         <xsd:minLength value="1"/>
        </xsd:restriction>
       </xsd:simpleType>
      </xsd:attribute>
      <xsd:attribute name="schemeAgencyID">
       <xsd:simpleType>
        <xsd:restriction base="xsd:token">
         <xsd:maxLength value="60"/>
         <xsd:minLength value="1"/>
        </xsd:restriction>
       </xsd:simpleType>
      </xsd:attribute>
      <xsd:attribute name="schemeAgencySchemeID">
       <xsd:simpleType>
        <xsd:restriction base="xsd:token">
         <xsd:maxLength value="60"/>
         <xsd:minLength value="1"/>
        </xsd:restriction>
       </xsd:simpleType>
      </xsd:attribute>
      <xsd:attribute name="schemeAgencySchemeAgencyID">
       <xsd:simpleType>
        <xsd:restriction base="xsd:token">
         <xsd:length value="3"/>
        </xsd:restriction>
       </xsd:simpleType>
      </xsd:attribute>
     </xsd:extension>
    </xsd:simpleContent>
   </xsd:complexType>
   <xsd:simpleType name="BusinessTransactionDocumentIDContent">
    <xsd:restriction base="xsd:token">
     <xsd:maxLength value="35"/>
     <xsd:minLength value="1"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="BusinessTransactionDocumentItemID">
    <xsd:restriction base="xsd:token">
     <xsd:maxLength value="10"/>
     <xsd:minLength value="1"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:complexType name="CrdtMgmtAcctByIDRspCmtmtTot">
    <xsd:sequence>
     <xsd:element name="CreditCommitmentTypeCode" type="CreditCommitmentTypeCode"/>
     <xsd:element name="CreditCommitmentTotalAmount" type="Amount"/>
     <xsd:element name="RelatedAccountsCommitmentTotalAmount" minOccurs="0" type="Amount"/>
    </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="CreditBlockingReasonCode">
    <xsd:simpleContent>
     <xsd:extension base="CreditBlockingReasonCode.Content">
      <xsd:attribute name="listID">
       <xsd:simpleType>
        <xsd:restriction base="xsd:token">
         <xsd:maxLength value="60"/>
         <xsd:minLength value="1"/>
        </xsd:restriction>
       </xsd:simpleType>
      </xsd:attribute>
      <xsd:attribute name="listAgencyID">
       <xsd:simpleType>
        <xsd:restriction base="xsd:token">
         <xsd:maxLength value="60"/>
         <xsd:minLength value="1"/>
        </xsd:restriction>
       </xsd:simpleType>
      </xsd:attribute>
      <xsd:attribute name="listVersionID">
       <xsd:simpleType>
        <xsd:restriction base="xsd:token">
         <xsd:maxLength value="15"/>
         <xsd:minLength value="1"/>
        </xsd:restriction>
       </xsd:simpleType>
      </xsd:attribute>
      <xsd:attribute name="listAgencySchemeID">
       <xsd:simpleType>
        <xsd:restriction base="xsd:token">
         <xsd:maxLength value="60"/>
         <xsd:minLength value="1"/>
        </xsd:restriction>
       </xsd:simpleType>
      </xsd:attribute>
      <xsd:attribute name="listAgencySchemeAgencyID" type="AgencyIdentificationCode"/>
     </xsd:extension>
    </xsd:simpleContent>
   </xsd:complexType>
   <xsd:simpleType name="CreditBlockingReasonCode.Content">
    <xsd:restriction base="xsd:token">
     <xsd:maxLength value="2"/>
     <xsd:minLength value="1"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="CreditCommitmentTypeCode">
    <xsd:restriction base="xsd:token">
     <xsd:enumeration value="001"/>
     <xsd:enumeration value="002"/>
     <xsd:enumeration value="003"/>
     <xsd:enumeration value="004"/>
     <xsd:enumeration value="005"/>
     <xsd:length value="3"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:complexType name="CreditManagementAccountByIDQuery">
    <xsd:sequence>
     <xsd:element name="DebtorPartyInternalID" type="PartyInternalID"/>
     <xsd:element name="CreditsegmentInternalID" minOccurs="0" type="CreditSegmentInternalID"/>
    </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="CreditManagementAccountByIDQueryMessage">
    <xsd:sequence>
     <xsd:element name="MessageHeader" minOccurs="0" type="BusinessDocumentMessageHeader"/>
     <xsd:element name="Selection" type="CreditManagementAccountByIDQuery"/>
     <xsd:element name="LanguageCode" type="LanguageCode"/>
    </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="CreditManagementAccountByIDResponse">
    <xsd:sequence>
     <xsd:element name="DebtorPartyInternalID" type="PartyInternalID"/>
     <xsd:element name="CreditsegmentInternalID" minOccurs="0" type="CreditSegmentInternalID"/>
     <xsd:element name="CreditSegmentDescription" minOccurs="0" type="MEDIUM_Description"/>
     <xsd:element name="CreditWorthinessCheckingRuleCode" minOccurs="0" type="CreditWorthinessCheckingRuleCode"/>
     <xsd:element name="CreditWorthinessCheckingSchemeCode" minOccurs="0" type="CreditWorthinessCheckingSchemeCode"/>
     <xsd:element name="SpecialAttentionRequiredIndicator" minOccurs="0" type="Indicator"/>
     <xsd:element name="BlockedIndicator" minOccurs="0" type="Indicator"/>
     <xsd:element name="BlockingReasonCode" minOccurs="0" type="CreditBlockingReasonCode"/>
     <xsd:element name="BlockingReasonCodeDescription" minOccurs="0" type="MEDIUM_Description"/>
     <xsd:element name="CreditLimitAmount" minOccurs="0" type="Amount"/>
     <xsd:element name="CreditLimitValidityPeriod" minOccurs="0" type="DatePeriod"/>
     <xsd:element name="CreditExposure" minOccurs="0">
      <xsd:complexType>
       <xsd:sequence>
        <xsd:element name="Amount" minOccurs="0" type="Amount"/>
        <xsd:element name="Percent" minOccurs="0" type="Percent"/>
        <xsd:element name="DynamicCheckCreditHorizonEndDate" minOccurs="0" type="Date"/>
       </xsd:sequence>
      </xsd:complexType>
     </xsd:element>
     <xsd:element name="CreditRating" minOccurs="0">
      <xsd:complexType>
       <xsd:sequence>
        <xsd:element name="Code" type="CreditRatingCode"/>
        <xsd:element name="ValidityPeriod" minOccurs="0" type="DatePeriod"/>
       </xsd:sequence>
      </xsd:complexType>
     </xsd:element>
     <xsd:element name="CreditRiskClass" minOccurs="0">
      <xsd:complexType>
       <xsd:sequence>
        <xsd:element name="Code" type="CreditRiskClassCode"/>
        <xsd:element name="ValidityPeriod" minOccurs="0" type="DatePeriod"/>
        <xsd:element name="Description" minOccurs="0" type="MEDIUM_Description"/>
       </xsd:sequence>
      </xsd:complexType>
     </xsd:element>
     <xsd:element name="PaymentBehaviourSummary" minOccurs="0">
      <xsd:complexType>
       <xsd:sequence>
        <xsd:element name="LastPayment" minOccurs="0" type="CreditPaymentBehaviourSummaryLastPayment"/>
        <xsd:element name="OldestOpenItem" minOccurs="0" type="CreditPaymentBehaviourSummaryOldestOpenItem"/>
        <xsd:element name="MaximumLevelDunningDate" minOccurs="0" type="CreditPaymentBehaviourSummaryMaximumLevelDunnedOpenItem"/>
        <xsd:element name="DunningCounterValue" minOccurs="0" type="DunningCounterValue"/>
        <xsd:element name="ReceivablesTotalAmount" minOccurs="0" type="Amount"/>
        <xsd:element name="DaysOfSalesOutstandingAverageDuration" minOccurs="0" type="Duration"/>
        <xsd:element name="OverdueOpenItemsPercent" minOccurs="0" type="Percent"/>
        <xsd:element name="LastTwelfeMonthsCreditExposureMaximumAmount" minOccurs="0" type="Amount"/>
        <xsd:element name="LastTwelfeMonthsSalesVolumeAmount" minOccurs="0" type="Amount"/>
        <xsd:element name="WithoutDiscountPaymentsAverageArrearsDuration" minOccurs="0" type="CreditPaymentBehaviourSummaryPayments"/>
        <xsd:element name="WithDiscountPaymentsAverageArrearsDuration" minOccurs="0" type="CreditPaymentBehaviourSummaryPayments"/>
        <xsd:element name="CollectionAgencySubmittedAmount" minOccurs="0" type="Amount"/>
        <xsd:element name="CollectionAgencyTransferredPercent" minOccurs="0" type="Percent"/>
        <xsd:element name="PropertyValuation" minOccurs="0" maxOccurs="unbounded" type="CreditPaymentBehaviourSummaryPrptyValn"/>
       </xsd:sequence>
      </xsd:complexType>
     </xsd:element>
     <xsd:element name="CommitmentTotal" minOccurs="0" maxOccurs="unbounded" type="CrdtMgmtAcctByIDRspCmtmtTot"/>
    </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="CreditManagementAccountByIDResponseMessage">
    <xsd:sequence>
     <xsd:element name="MessageHeader" minOccurs="0" type="BusinessDocumentMessageHeader"/>
     <xsd:element name="CreditManagementAccount" minOccurs="0" type="CreditManagementAccountByIDResponse"/>
     <xsd:element name="Log" minOccurs="0" type="Log"/>
    </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="CreditPaymentBehaviourSummaryLastPayment">
    <xsd:sequence>
     <xsd:element name="ID" type="BusinessTransactionDocumentID"/>
     <xsd:element name="Amount" type="Amount"/>
     <xsd:element name="Date" type="Date"/>
    </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="CreditPaymentBehaviourSummaryMaximumLevelDunnedOpenItem">
    <xsd:sequence>
     <xsd:element name="AccountingDocumentID" type="BusinessTransactionDocumentID"/>
     <xsd:element name="AccountingDocumentItemID" type="BusinessTransactionDocumentItemID"/>
     <xsd:element name="Amount" type="Amount"/>
     <xsd:element name="MaximumLevelDunningDate" type="Date"/>
     <xsd:element name="DunningLevelValue" type="DunningLevelValue"/>
    </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="CreditPaymentBehaviourSummaryOldestOpenItem">
    <xsd:sequence>
     <xsd:element name="AccountingDocumentID" type="BusinessTransactionDocumentID"/>
     <xsd:element name="AccountingDocumentItemID" type="BusinessTransactionDocumentItemID"/>
     <xsd:element name="Amount" type="Amount"/>
     <xsd:element name="OverdueNetDate" type="Date"/>
    </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="CreditPaymentBehaviourSummaryPayments">
    <xsd:sequence>
     <xsd:element name="AverageArrearsDuration" type="Duration"/>
     <xsd:element name="CurrentYearTotalAmount" type="Amount"/>
    </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="CreditPaymentBehaviourSummaryPrptyValn">
    <xsd:sequence>
     <xsd:element name="PropertyID" type="PropertyID"/>
     <xsd:element name="PropertyValue" type="CreditPaymentBehaviourSummaryPrptyValnPrptyVal"/>
    </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="CreditPaymentBehaviourSummaryPrptyValnPrptyVal">
    <xsd:sequence>
     <xsd:element name="Amount" minOccurs="0" type="Amount"/>
     <xsd:element name="DecimalValue" minOccurs="0" type="DecimalValue"/>
     <xsd:element name="IntegerValue" minOccurs="0" type="IntegerValue"/>
     <xsd:element name="Date" minOccurs="0" type="Date"/>
     <xsd:element name="Indicator" minOccurs="0" type="Indicator"/>
     <xsd:element name="Text" minOccurs="0" type="REGIONDEPENDENTLANGUAGE_Text"/>
    </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="CreditRatingCode">
    <xsd:simpleContent>
     <xsd:extension base="CreditRatingCodeContent">
      <xsd:attribute name="listAgencyID">
       <xsd:simpleType>
        <xsd:restriction base="xsd:token">
         <xsd:maxLength value="60"/>
         <xsd:minLength value="1"/>
        </xsd:restriction>
       </xsd:simpleType>
      </xsd:attribute>
      <xsd:attribute name="listAgencySchemeAgencyID">
       <xsd:simpleType>
        <xsd:restriction base="xsd:token">
         <xsd:length value="3"/>
        </xsd:restriction>
       </xsd:simpleType>
      </xsd:attribute>
     </xsd:extension>
    </xsd:simpleContent>
   </xsd:complexType>
   <xsd:simpleType name="CreditRatingCodeContent">
    <xsd:restriction base="xsd:token">
     <xsd:maxLength value="10"/>
     <xsd:minLength value="1"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:complexType name="CreditRiskClassCode">
    <xsd:simpleContent>
     <xsd:extension base="CreditRiskClassCodeContent">
      <xsd:attribute name="listAgencyID">
       <xsd:simpleType>
        <xsd:restriction base="xsd:token">
         <xsd:maxLength value="60"/>
         <xsd:minLength value="1"/>
        </xsd:restriction>
       </xsd:simpleType>
      </xsd:attribute>
      <xsd:attribute name="listAgencySchemeAgencyID">
       <xsd:simpleType>
        <xsd:restriction base="xsd:token">
         <xsd:length value="3"/>
        </xsd:restriction>
       </xsd:simpleType>
      </xsd:attribute>
     </xsd:extension>
    </xsd:simpleContent>
   </xsd:complexType>
   <xsd:simpleType name="CreditRiskClassCodeContent">
    <xsd:restriction base="xsd:token">
     <xsd:maxLength value="10"/>
     <xsd:minLength value="1"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="CreditSegmentInternalID">
    <xsd:restriction base="xsd:token">
     <xsd:maxLength value="10"/>
     <xsd:minLength value="1"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="CreditWorthinessCheckingRuleCode">
    <xsd:restriction base="xsd:token">
     <xsd:enumeration value="01"/>
     <xsd:enumeration value="02"/>
     <xsd:enumeration value="03"/>
     <xsd:enumeration value="04"/>
     <xsd:length value="2"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:complexType name="CreditWorthinessCheckingSchemeCode">
    <xsd:simpleContent>
     <xsd:extension base="CreditWorthinessCheckingSchemeCode.Content">
      <xsd:attribute name="listID">
       <xsd:simpleType>
        <xsd:restriction base="xsd:token">
         <xsd:maxLength value="60"/>
         <xsd:minLength value="1"/>
        </xsd:restriction>
       </xsd:simpleType>
      </xsd:attribute>
      <xsd:attribute name="listVersionID">
       <xsd:simpleType>
        <xsd:restriction base="xsd:token">
         <xsd:maxLength value="15"/>
         <xsd:minLength value="1"/>
        </xsd:restriction>
       </xsd:simpleType>
      </xsd:attribute>
      <xsd:attribute name="listAgencyID">
       <xsd:simpleType>
        <xsd:restriction base="xsd:token">
         <xsd:maxLength value="60"/>
         <xsd:minLength value="1"/>
        </xsd:restriction>
       </xsd:simpleType>
      </xsd:attribute>
      <xsd:attribute name="listAgencySchemeID">
       <xsd:simpleType>
        <xsd:restriction base="xsd:token">
         <xsd:maxLength value="60"/>
         <xsd:minLength value="1"/>
        </xsd:restriction>
       </xsd:simpleType>
      </xsd:attribute>
      <xsd:attribute name="listAgencySchemeAgencyID" type="AgencyIdentificationCode"/>
     </xsd:extension>
    </xsd:simpleContent>
   </xsd:complexType>
   <xsd:simpleType name="CreditWorthinessCheckingSchemeCode.Content">
    <xsd:restriction base="xsd:token">
     <xsd:maxLength value="10"/>
     <xsd:minLength value="1"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="Date">
    <xsd:restriction base="xsd:date">
     <xsd:pattern value="[0-9]{4}-[0-9]{2}-[0-9]{2}"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:complexType name="DatePeriod">
    <xsd:sequence>
     <xsd:element name="StartDate" minOccurs="0" type="Date"/>
     <xsd:element name="EndDate" minOccurs="0" type="Date"/>
    </xsd:sequence>
   </xsd:complexType>
   <xsd:simpleType name="DateTime">
    <xsd:restriction base="xsd:dateTime"/>
   </xsd:simpleType>
   <xsd:simpleType name="DecimalValue">
    <xsd:annotation>
     <xsd:documentation xml:lang="EN">
      <ccts:RepresentationTerm>Value</ccts:RepresentationTerm>
     </xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:decimal">
     <xsd:totalDigits value="31"/>
     <xsd:fractionDigits value="14"/>
     <xsd:maxInclusive value="99999999999999999.99999999999999"/>
     <xsd:minInclusive value="-99999999999999999.99999999999999"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="DunningCounterValue">
    <xsd:restriction base="xsd:integer"/>
   </xsd:simpleType>
   <xsd:simpleType name="DunningLevelValue">
    <xsd:restriction base="xsd:integer">
     <xsd:maxInclusive value="9"/>
     <xsd:minInclusive value="0"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="Duration">
    <xsd:restriction base="xsd:duration"/>
   </xsd:simpleType>
   <xsd:complexType name="ExchangeFaultData">
    <xsd:sequence>
     <xsd:element name="faultText" type="xsd:string"/>
     <xsd:element name="faultUrl" minOccurs="0" type="xsd:string"/>
     <xsd:element name="faultDetail" minOccurs="0" maxOccurs="unbounded" type="ExchangeLogData"/>
    </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="ExchangeLogData">
    <xsd:sequence>
     <xsd:element name="severity" minOccurs="0" type="xsd:string"/>
     <xsd:element name="text" type="xsd:string"/>
     <xsd:element name="url" minOccurs="0" type="xsd:string"/>
     <xsd:element name="id" minOccurs="0" type="xsd:string"/>
    </xsd:sequence>
   </xsd:complexType>
   <xsd:simpleType name="Indicator">
    <xsd:restriction base="xsd:boolean">
     <xsd:pattern value="true|false"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="IntegerValue">
    <xsd:annotation>
     <xsd:documentation xml:lang="EN">
      <ccts:RepresentationTerm>Value</ccts:RepresentationTerm>
     </xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:int"/>
   </xsd:simpleType>
   <xsd:simpleType name="LanguageCode">
    <xsd:restriction base="xsd:language">
     <xsd:maxLength value="9"/>
     <xsd:minLength value="2"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:complexType name="Log">
    <xsd:sequence>
     <xsd:element name="MaximumLogItemSeverityCode" minOccurs="0" type="LogItemSeverityCode"/>
     <xsd:element name="Item" maxOccurs="unbounded" type="LogItem"/>
    </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="LogItem">
    <xsd:sequence>
     <xsd:element name="TypeID" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:token">
        <xsd:maxLength value="40"/>
        <xsd:minLength value="1"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="SeverityCode" minOccurs="0" type="LogItemSeverityCode"/>
     <xsd:element name="Note" type="Note"/>
    </xsd:sequence>
   </xsd:complexType>
   <xsd:simpleType name="LogItemSeverityCode">
    <xsd:restriction base="xsd:token">
     <xsd:enumeration value="1"/>
     <xsd:enumeration value="2"/>
     <xsd:enumeration value="3"/>
     <xsd:enumeration value="4"/>
     <xsd:length value="1"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:complexType name="MEDIUM_Description">
    <xsd:simpleContent>
     <xsd:extension base="MEDIUM_DescriptionContent">
      <xsd:attribute name="languageCode">
       <xsd:simpleType>
        <xsd:restriction base="xsd:language">
         <xsd:maxLength value="5"/>
         <xsd:minLength value="2"/>
        </xsd:restriction>
       </xsd:simpleType>
      </xsd:attribute>
     </xsd:extension>
    </xsd:simpleContent>
   </xsd:complexType>
   <xsd:simpleType name="MEDIUM_DescriptionContent">
    <xsd:restriction base="xsd:string">
     <xsd:maxLength value="80"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="Note">
    <xsd:restriction base="xsd:string"/>
   </xsd:simpleType>
   <xsd:complexType name="PartyInternalID">
    <xsd:simpleContent>
     <xsd:extension base="PartyInternalIDContent">
      <xsd:attribute name="schemeID">
       <xsd:simpleType>
        <xsd:restriction base="xsd:token">
         <xsd:maxLength value="60"/>
         <xsd:minLength value="1"/>
        </xsd:restriction>
       </xsd:simpleType>
      </xsd:attribute>
      <xsd:attribute name="schemeAgencyID">
       <xsd:simpleType>
        <xsd:restriction base="xsd:token">
         <xsd:maxLength value="60"/>
         <xsd:minLength value="1"/>
        </xsd:restriction>
       </xsd:simpleType>
      </xsd:attribute>
     </xsd:extension>
    </xsd:simpleContent>
   </xsd:complexType>
   <xsd:simpleType name="PartyInternalIDContent">
    <xsd:restriction base="xsd:string">
     <xsd:maxLength value="32"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="Percent">
    <xsd:restriction base="xsd:decimal">
     <xsd:totalDigits value="17"/>
     <xsd:fractionDigits value="6"/>
     <xsd:maxInclusive value="99999999999.999999"/>
     <xsd:minInclusive value="-99999999999.999999"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:complexType name="PropertyID">
    <xsd:annotation>
     <xsd:documentation xml:lang="EN">
      <ccts:RepresentationTerm>Identifier</ccts:RepresentationTerm>
     </xsd:documentation>
    </xsd:annotation>
    <xsd:simpleContent>
     <xsd:extension base="PropertyID.Content">
      <xsd:attribute name="schemeAgencyID">
       <xsd:simpleType>
        <xsd:restriction base="xsd:token">
         <xsd:maxLength value="60"/>
         <xsd:minLength value="1"/>
        </xsd:restriction>
       </xsd:simpleType>
      </xsd:attribute>
      <xsd:attribute name="schemeAgencySchemeID">
       <xsd:simpleType>
        <xsd:restriction base="xsd:token">
         <xsd:maxLength value="60"/>
         <xsd:minLength value="1"/>
        </xsd:restriction>
       </xsd:simpleType>
      </xsd:attribute>
      <xsd:attribute name="schemeAgencySchemeAgencyID" type="AgencyIdentificationCode"/>
     </xsd:extension>
    </xsd:simpleContent>
   </xsd:complexType>
   <xsd:simpleType name="PropertyID.Content">
    <xsd:restriction base="xsd:token">
     <xsd:maxLength value="50"/>
     <xsd:minLength value="1"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:complexType name="REGIONDEPENDENTLANGUAGE_Text">
    <xsd:annotation>
     <xsd:documentation xml:lang="EN">
      <ccts:RepresentationTerm>Text</ccts:RepresentationTerm>
     </xsd:documentation>
    </xsd:annotation>
    <xsd:simpleContent>
     <xsd:extension base="xsd:string">
      <xsd:attribute name="languageCode" type="REGIONDEPENDENT_LanguageCode"/>
     </xsd:extension>
    </xsd:simpleContent>
   </xsd:complexType>
   <xsd:simpleType name="REGIONDEPENDENT_LanguageCode">
    <xsd:annotation>
     <xsd:documentation xml:lang="EN">
      <ccts:RepresentationTerm>Code</ccts:RepresentationTerm>
     </xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:language">
     <xsd:maxLength value="9"/>
     <xsd:minLength value="2"/>
    </xsd:restriction>
   </xsd:simpleType>
  </xsd:schema>
  <xsd:schema targetNamespace="http://sap.com/xi/SAPGlobal/Global" xmlns="http://sap.com/xi/SAPGlobal/Global" xmlns:ccts="urn:un:unece:uncefact:documentation:standard:CoreComponentsTechnicalSpecification:3.0" xmlns:xi0="http://sap.com/xi/SAPGlobal/Global">
   <xsd:import namespace="http://sap.com/xi/FSCM/Global"/>
   <xsd:element name="CreditManagementAccountByIDFault">
    <xsd:complexType>
     <xsd:sequence>
      <xsd:element name="standard" type="tns:ExchangeFaultData"/>
     </xsd:sequence>
    </xsd:complexType>
   </xsd:element>
   <xsd:element name="CreditManagementAccountByIDQuery" type="tns:CreditManagementAccountByIDQueryMessage"/>
   <xsd:element name="CreditManagementAccountByIDResponse" type="tns:CreditManagementAccountByIDResponseMessage"/>
  </xsd:schema>
 </wsdl:types>
 <wsdl:message name="CreditManagementAccountByIDQuery">
  <wsdl:part name="CreditManagementAccountByIDQuery" element="n1:CreditManagementAccountByIDQuery"/>
 </wsdl:message>
 <wsdl:message name="CreditManagementAccountByIDResponse">
  <wsdl:part name="CreditManagementAccountByIDResponse" element="n1:CreditManagementAccountByIDResponse"/>
 </wsdl:message>
 <wsdl:message name="CreditManagementAccountByIDFault">
  <wsdl:part name="CreditManagementAccountByIDFault" element="n1:CreditManagementAccountByIDFault"/>
 </wsdl:message>
 <wsdl:portType name="CreditManagementAccountByIDQuery_In">
  <wsdl:documentation>
   <sapdoc:sapdoc xmlns:sapdoc="urn:sap:esi:documentation">
    <sapdoc:docitem applicationComponent="FIN-FSCM-CR-CR"/>
   </sapdoc:sapdoc>
  </wsdl:documentation>
  <wsp:Policy>
   <wsp:PolicyReference URI="#IF__CreditManagementAccountByIDQuery_In"/>
  </wsp:Policy>
  <wsdl:operation name="CreditManagementAccountByIDQuery_In">
   <wsp:Policy>
    <wsp:PolicyReference URI="#OP__CreditManagementAccountByIDQuery_In"/>
   </wsp:Policy>
   <wsdl:input message="tns:CreditManagementAccountByIDQuery"/>
   <wsdl:output message="tns:CreditManagementAccountByIDResponse"/>
   <wsdl:fault name="CreditManagementAccountByIDFault" message="tns:CreditManagementAccountByIDFault"/>
  </wsdl:operation>
 </wsdl:portType>
 <wsdl:binding name="binding" type="tns:CreditManagementAccountByIDQuery_In">
  <wsp:Policy>
   <wsp:PolicyReference URI="#BN__binding"/>
  </wsp:Policy>
  <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
  <wsdl:operation name="CreditManagementAccountByIDQuery_In">
   <soap:operation soapAction="http://sap.com/xi/FSCM/Global/CreditManagementAccountByIDQuery_In/CreditManagementAccountByIDQuery_InRequest" style="document"/>
   <wsdl:input>
    <soap:body use="literal"/>
   </wsdl:input>
   <wsdl:output>
    <soap:body use="literal"/>
   </wsdl:output>
   <wsdl:fault name="CreditManagementAccountByIDFault">
    <soap:fault name="CreditManagementAccountByIDFault" use="literal"/>
   </wsdl:fault>
  </wsdl:operation>
 </wsdl:binding>
 <wsdl:binding name="binding_soap12" type="tns:CreditManagementAccountByIDQuery_In">
  <wsp:Policy>
   <wsp:PolicyReference URI="#BN__binding_soap12"/>
  </wsp:Policy>
  <wsoap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
  <wsdl:operation name="CreditManagementAccountByIDQuery_In">
   <wsoap12:operation soapAction="http://sap.com/xi/FSCM/Global/CreditManagementAccountByIDQuery_In/CreditManagementAccountByIDQuery_InRequest" style="document"/>
   <wsdl:input>
    <wsoap12:body use="literal"/>
   </wsdl:input>
   <wsdl:output>
    <wsoap12:body use="literal"/>
   </wsdl:output>
   <wsdl:fault name="CreditManagementAccountByIDFault">
    <wsoap12:fault name="CreditManagementAccountByIDFault" use="literal"/>
   </wsdl:fault>
  </wsdl:operation>
 </wsdl:binding>
 <wsdl:service name="service">
  <wsdl:port name="binding" binding="tns:binding">
   <soap:address location="https://host:port/sap/bc/srt/scs_ext/sap/creditmanagementaccountbyidqu1?sap-client=client-number"/>
  </wsdl:port>
  <wsdl:port name="binding_soap12" binding="tns:binding_soap12">
   <wsoap12:address location="https://host:port/sap/bc/srt/scs_ext/sap/creditmanagementaccountbyidqu1?sap-client=client-number"/>
  </wsdl:port>
 </wsdl:service>
</wsdl:definitions>
