Resources/canonical_library/wsdl/ECMLink.wsdl

<!--
 Published by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.10 svn-revision#919b322c92f13ad085a933e8dd6dd35d4947364b. 
-->
<!--
 Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.10 svn-revision#919b322c92f13ad085a933e8dd6dd35d4947364b. 
-->
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:tns="urn:ECMLink.service.livelink.opentext.com" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" targetNamespace="urn:ECMLink.service.livelink.opentext.com" name="ECMLink">
	<message name="AuthenticationMessageHeader">
		<part xmlns:ns1="urn:api.ecm.opentext.com" name="AuthenticationHeader" element="ns1:OTAuthentication"/>
	</message>
	<types>
		<xsd:schema xmlns:ecs="urn:api.ecm.opentext.com" elementFormDefault="qualified" targetNamespace="urn:api.ecm.opentext.com">
			<xsd:element name="getWorkspaceNodeIds" type="ecs:getWorkspaceNodeIds"/>
			<xsd:complexType name="getWorkspaceNodeIds">
				<xsd:sequence>
					<xsd:element name="externalSystemId" minOccurs="0" type="xsd:string"/>
					<xsd:element name="businessObjects" minOccurs="0" type="ecs:businessObjects"/>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="businessObjects">
				<xsd:sequence>
					<xsd:element name="externalSystemId" minOccurs="0" type="xsd:string"/>
					<xsd:element name="ObjectId" minOccurs="0" type="xsd:string"/>
					<xsd:element name="ObjectType" minOccurs="0" type="xsd:string"/>
				</xsd:sequence>
			</xsd:complexType>
		</xsd:schema>
		<xsd:schema>
			<xsd:import namespace="urn:ECMLink.service.livelink.opentext.com" schemaLocation="https://vhfradototwslb.hec.fraunhofer.de:8090/otsapxecm/services/ECMLink?xsd=1"/>
		</xsd:schema>
		<xsd:schema>
			<xsd:import namespace="urn:Core.service.livelink.opentext.com" schemaLocation="https://vhfradototwslb.hec.fraunhofer.de:8090/otsapxecm/services/ECMLink?xsd=2"/>
		</xsd:schema>
	</types>
	<message name="createOrUpdateBusinessAttachments">
		<part name="parameters" element="tns:createOrUpdateBusinessAttachments"/>
	</message>
	<message name="createOrUpdateBusinessAttachmentsResponse">
		<part name="parameters" element="tns:createOrUpdateBusinessAttachmentsResponse"/>
	</message>
	<message name="copyItem">
		<part name="parameters" element="tns:copyItem"/>
	</message>
	<message name="copyItemResponse">
		<part name="parameters" element="tns:copyItemResponse"/>
	</message>
	<message name="createBusRef">
		<part name="parameters" element="tns:createBusRef"/>
	</message>
	<message name="createBusRefResponse">
		<part name="parameters" element="tns:createBusRefResponse"/>
	</message>
	<message name="updateBusRefs">
		<part name="parameters" element="tns:updateBusRefs"/>
	</message>
	<message name="updateBusRefsResponse">
		<part name="parameters" element="tns:updateBusRefsResponse"/>
	</message>
	<message name="getOriginalId">
		<part name="parameters" element="tns:getOriginalId"/>
	</message>
	<message name="getOriginalIdResponse">
		<part name="parameters" element="tns:getOriginalIdResponse"/>
	</message>
	<message name="denyAllPolicies">
		<part name="parameters" element="tns:denyAllPolicies"/>
	</message>
	<message name="denyAllPoliciesResponse">
		<part name="parameters" element="tns:denyAllPoliciesResponse"/>
	</message>
	<message name="moveItem">
		<part name="parameters" element="tns:moveItem"/>
	</message>
	<message name="moveItemResponse">
		<part name="parameters" element="tns:moveItemResponse"/>
	</message>
	<message name="createUniqueName">
		<part name="parameters" element="tns:createUniqueName"/>
	</message>
	<message name="createUniqueNameResponse">
		<part name="parameters" element="tns:createUniqueNameResponse"/>
	</message>
	<message name="setWorkspaces">
		<part name="parameters" element="tns:setWorkspaces"/>
	</message>
	<message name="setWorkspacesResponse">
		<part name="parameters" element="tns:setWorkspacesResponse"/>
	</message>
	<message name="setPolicies">
		<part name="parameters" element="tns:setPolicies"/>
	</message>
	<message name="setPoliciesResponse">
		<part name="parameters" element="tns:setPoliciesResponse"/>
	</message>
	<message name="deleteUniqueName">
		<part name="parameters" element="tns:deleteUniqueName"/>
	</message>
	<message name="deleteUniqueNameResponse">
		<part name="parameters" element="tns:deleteUniqueNameResponse"/>
	</message>
	<message name="grantPolicies">
		<part name="parameters" element="tns:grantPolicies"/>
	</message>
	<message name="grantPoliciesResponse">
		<part name="parameters" element="tns:grantPoliciesResponse"/>
	</message>
	<message name="getUniqueNames">
		<part name="parameters" element="tns:getUniqueNames"/>
	</message>
	<message name="getUniqueNamesResponse">
		<part name="parameters" element="tns:getUniqueNamesResponse"/>
	</message>
	<message name="getWidgets">
		<part name="parameters" element="tns:getWidgets"/>
	</message>
	<message name="getWidgetsResponse">
		<part name="parameters" element="tns:getWidgetsResponse"/>
	</message>
	<message name="deleteBusRefs">
		<part name="parameters" element="tns:deleteBusRefs"/>
	</message>
	<message name="deleteBusRefsResponse">
		<part name="parameters" element="tns:deleteBusRefsResponse"/>
	</message>
	<message name="getBusinessReferences">
		<part name="parameters" element="tns:getBusinessReferences"/>
	</message>
	<message name="getBusinessReferencesResponse">
		<part name="parameters" element="tns:getBusinessReferencesResponse"/>
	</message>
	<message name="createSimpleWorkspace">
		<part name="parameters" element="tns:createSimpleWorkspace"/>
	</message>
	<message name="createSimpleWorkspaceResponse">
		<part name="parameters" element="tns:createSimpleWorkspaceResponse"/>
	</message>
	<message name="getNodeIdsOfUniqueNames">
		<part name="parameters" element="tns:getNodeIdsOfUniqueNames"/>
	</message>
	<message name="getNodeIdsOfUniqueNamesResponse">
		<part name="parameters" element="tns:getNodeIdsOfUniqueNamesResponse"/>
	</message>
	<message name="getWorkspaceNodeIds">
		<part name="parameters" element="tns:getWorkspaceNodeIds"/>
	</message>
	<message name="getWorkspaceNodeIdsResponse">
		<part name="parameters" element="tns:getWorkspaceNodeIdsResponse"/>
	</message>
	<message name="checkBusRefRestrictions">
		<part name="parameters" element="tns:checkBusRefRestrictions"/>
	</message>
	<message name="checkBusRefRestrictionsResponse">
		<part name="parameters" element="tns:checkBusRefRestrictionsResponse"/>
	</message>
	<message name="deleteAllPolicies">
		<part name="parameters" element="tns:deleteAllPolicies"/>
	</message>
	<message name="deleteAllPoliciesResponse">
		<part name="parameters" element="tns:deleteAllPoliciesResponse"/>
	</message>
	<message name="getBusRefSubtypeNames">
		<part name="parameters" element="tns:getBusRefSubtypeNames"/>
	</message>
	<message name="getBusRefSubtypeNamesResponse">
		<part name="parameters" element="tns:getBusRefSubtypeNamesResponse"/>
	</message>
	<message name="getContextMenuItems">
		<part name="parameters" element="tns:getContextMenuItems"/>
	</message>
	<message name="getContextMenuItemsResponse">
		<part name="parameters" element="tns:getContextMenuItemsResponse"/>
	</message>
	<message name="migrateToUniqueNames">
		<part name="parameters" element="tns:migrateToUniqueNames"/>
	</message>
	<message name="migrateToUniqueNamesResponse">
		<part name="parameters" element="tns:migrateToUniqueNamesResponse"/>
	</message>
	<message name="deleteBusinessAttachments">
		<part name="parameters" element="tns:deleteBusinessAttachments"/>
	</message>
	<message name="deleteBusinessAttachmentsResponse">
		<part name="parameters" element="tns:deleteBusinessAttachmentsResponse"/>
	</message>
	<message name="createOrUpdateWorkspaces">
		<part name="parameters" element="tns:createOrUpdateWorkspaces"/>
	</message>
	<message name="createOrUpdateWorkspacesResponse">
		<part name="parameters" element="tns:createOrUpdateWorkspacesResponse"/>
	</message>
	<portType name="ECMLink">
		<operation name="createOrUpdateBusinessAttachments">
			<input wsam:Action="urn:ECMLink.service.livelink.opentext.com:ECMLink:createOrUpdateBusinessAttachmentsRequest" message="tns:createOrUpdateBusinessAttachments"/>
			<output wsam:Action="urn:ECMLink.service.livelink.opentext.com:ECMLink:createOrUpdateBusinessAttachmentsResponse" message="tns:createOrUpdateBusinessAttachmentsResponse"/>
		</operation>
		<operation name="copyItem">
			<input wsam:Action="urn:ECMLink.service.livelink.opentext.com:ECMLink:copyItemRequest" message="tns:copyItem"/>
			<output wsam:Action="urn:ECMLink.service.livelink.opentext.com:ECMLink:copyItemResponse" message="tns:copyItemResponse"/>
		</operation>
		<operation name="createBusRef">
			<input wsam:Action="urn:ECMLink.service.livelink.opentext.com:ECMLink:createBusRefRequest" message="tns:createBusRef"/>
			<output wsam:Action="urn:ECMLink.service.livelink.opentext.com:ECMLink:createBusRefResponse" message="tns:createBusRefResponse"/>
		</operation>
		<operation name="updateBusRefs">
			<input wsam:Action="urn:ECMLink.service.livelink.opentext.com:ECMLink:updateBusRefsRequest" message="tns:updateBusRefs"/>
			<output wsam:Action="urn:ECMLink.service.livelink.opentext.com:ECMLink:updateBusRefsResponse" message="tns:updateBusRefsResponse"/>
		</operation>
		<operation name="getOriginalId">
			<input wsam:Action="urn:ECMLink.service.livelink.opentext.com:ECMLink:getOriginalIdRequest" message="tns:getOriginalId"/>
			<output wsam:Action="urn:ECMLink.service.livelink.opentext.com:ECMLink:getOriginalIdResponse" message="tns:getOriginalIdResponse"/>
		</operation>
		<operation name="denyAllPolicies">
			<input wsam:Action="urn:ECMLink.service.livelink.opentext.com:ECMLink:denyAllPoliciesRequest" message="tns:denyAllPolicies"/>
			<output wsam:Action="urn:ECMLink.service.livelink.opentext.com:ECMLink:denyAllPoliciesResponse" message="tns:denyAllPoliciesResponse"/>
		</operation>
		<operation name="moveItem">
			<input wsam:Action="urn:ECMLink.service.livelink.opentext.com:ECMLink:moveItemRequest" message="tns:moveItem"/>
			<output wsam:Action="urn:ECMLink.service.livelink.opentext.com:ECMLink:moveItemResponse" message="tns:moveItemResponse"/>
		</operation>
		<operation name="createUniqueName">
			<input wsam:Action="urn:ECMLink.service.livelink.opentext.com:ECMLink:createUniqueNameRequest" message="tns:createUniqueName"/>
			<output wsam:Action="urn:ECMLink.service.livelink.opentext.com:ECMLink:createUniqueNameResponse" message="tns:createUniqueNameResponse"/>
		</operation>
		<operation name="setWorkspaces">
			<input wsam:Action="urn:ECMLink.service.livelink.opentext.com:ECMLink:setWorkspacesRequest" message="tns:setWorkspaces"/>
			<output wsam:Action="urn:ECMLink.service.livelink.opentext.com:ECMLink:setWorkspacesResponse" message="tns:setWorkspacesResponse"/>
		</operation>
		<operation name="setPolicies">
			<input wsam:Action="urn:ECMLink.service.livelink.opentext.com:ECMLink:setPoliciesRequest" message="tns:setPolicies"/>
			<output wsam:Action="urn:ECMLink.service.livelink.opentext.com:ECMLink:setPoliciesResponse" message="tns:setPoliciesResponse"/>
		</operation>
		<operation name="deleteUniqueName">
			<input wsam:Action="urn:ECMLink.service.livelink.opentext.com:ECMLink:deleteUniqueNameRequest" message="tns:deleteUniqueName"/>
			<output wsam:Action="urn:ECMLink.service.livelink.opentext.com:ECMLink:deleteUniqueNameResponse" message="tns:deleteUniqueNameResponse"/>
		</operation>
		<operation name="grantPolicies">
			<input wsam:Action="urn:ECMLink.service.livelink.opentext.com:ECMLink:grantPoliciesRequest" message="tns:grantPolicies"/>
			<output wsam:Action="urn:ECMLink.service.livelink.opentext.com:ECMLink:grantPoliciesResponse" message="tns:grantPoliciesResponse"/>
		</operation>
		<operation name="getUniqueNames">
			<input wsam:Action="urn:ECMLink.service.livelink.opentext.com:ECMLink:getUniqueNamesRequest" message="tns:getUniqueNames"/>
			<output wsam:Action="urn:ECMLink.service.livelink.opentext.com:ECMLink:getUniqueNamesResponse" message="tns:getUniqueNamesResponse"/>
		</operation>
		<operation name="getWidgets">
			<input wsam:Action="urn:ECMLink.service.livelink.opentext.com:ECMLink:getWidgetsRequest" message="tns:getWidgets"/>
			<output wsam:Action="urn:ECMLink.service.livelink.opentext.com:ECMLink:getWidgetsResponse" message="tns:getWidgetsResponse"/>
		</operation>
		<operation name="deleteBusRefs">
			<input wsam:Action="urn:ECMLink.service.livelink.opentext.com:ECMLink:deleteBusRefsRequest" message="tns:deleteBusRefs"/>
			<output wsam:Action="urn:ECMLink.service.livelink.opentext.com:ECMLink:deleteBusRefsResponse" message="tns:deleteBusRefsResponse"/>
		</operation>
		<operation name="getBusinessReferences">
			<input wsam:Action="urn:ECMLink.service.livelink.opentext.com:ECMLink:getBusinessReferencesRequest" message="tns:getBusinessReferences"/>
			<output wsam:Action="urn:ECMLink.service.livelink.opentext.com:ECMLink:getBusinessReferencesResponse" message="tns:getBusinessReferencesResponse"/>
		</operation>
		<operation name="createSimpleWorkspace">
			<input wsam:Action="urn:ECMLink.service.livelink.opentext.com:ECMLink:createSimpleWorkspaceRequest" message="tns:createSimpleWorkspace"/>
			<output wsam:Action="urn:ECMLink.service.livelink.opentext.com:ECMLink:createSimpleWorkspaceResponse" message="tns:createSimpleWorkspaceResponse"/>
		</operation>
		<operation name="getNodeIdsOfUniqueNames">
			<input wsam:Action="urn:ECMLink.service.livelink.opentext.com:ECMLink:getNodeIdsOfUniqueNamesRequest" message="tns:getNodeIdsOfUniqueNames"/>
			<output wsam:Action="urn:ECMLink.service.livelink.opentext.com:ECMLink:getNodeIdsOfUniqueNamesResponse" message="tns:getNodeIdsOfUniqueNamesResponse"/>
		</operation>
		<operation name="getWorkspaceNodeIds">
			<input wsam:Action="urn:ECMLink.service.livelink.opentext.com:ECMLink:getWorkspaceNodeIdsRequest" message="tns:getWorkspaceNodeIds"/>
			<output wsam:Action="urn:ECMLink.service.livelink.opentext.com:ECMLink:getWorkspaceNodeIdsResponse" message="tns:getWorkspaceNodeIdsResponse"/>
		</operation>
		<operation name="checkBusRefRestrictions">
			<input wsam:Action="urn:ECMLink.service.livelink.opentext.com:ECMLink:checkBusRefRestrictionsRequest" message="tns:checkBusRefRestrictions"/>
			<output wsam:Action="urn:ECMLink.service.livelink.opentext.com:ECMLink:checkBusRefRestrictionsResponse" message="tns:checkBusRefRestrictionsResponse"/>
		</operation>
		<operation name="deleteAllPolicies">
			<input wsam:Action="urn:ECMLink.service.livelink.opentext.com:ECMLink:deleteAllPoliciesRequest" message="tns:deleteAllPolicies"/>
			<output wsam:Action="urn:ECMLink.service.livelink.opentext.com:ECMLink:deleteAllPoliciesResponse" message="tns:deleteAllPoliciesResponse"/>
		</operation>
		<operation name="getBusRefSubtypeNames">
			<input wsam:Action="urn:ECMLink.service.livelink.opentext.com:ECMLink:getBusRefSubtypeNamesRequest" message="tns:getBusRefSubtypeNames"/>
			<output wsam:Action="urn:ECMLink.service.livelink.opentext.com:ECMLink:getBusRefSubtypeNamesResponse" message="tns:getBusRefSubtypeNamesResponse"/>
		</operation>
		<operation name="getContextMenuItems">
			<input wsam:Action="urn:ECMLink.service.livelink.opentext.com:ECMLink:getContextMenuItemsRequest" message="tns:getContextMenuItems"/>
			<output wsam:Action="urn:ECMLink.service.livelink.opentext.com:ECMLink:getContextMenuItemsResponse" message="tns:getContextMenuItemsResponse"/>
		</operation>
		<operation name="migrateToUniqueNames">
			<input wsam:Action="urn:ECMLink.service.livelink.opentext.com:ECMLink:migrateToUniqueNamesRequest" message="tns:migrateToUniqueNames"/>
			<output wsam:Action="urn:ECMLink.service.livelink.opentext.com:ECMLink:migrateToUniqueNamesResponse" message="tns:migrateToUniqueNamesResponse"/>
		</operation>
		<operation name="deleteBusinessAttachments">
			<input wsam:Action="urn:ECMLink.service.livelink.opentext.com:ECMLink:deleteBusinessAttachmentsRequest" message="tns:deleteBusinessAttachments"/>
			<output wsam:Action="urn:ECMLink.service.livelink.opentext.com:ECMLink:deleteBusinessAttachmentsResponse" message="tns:deleteBusinessAttachmentsResponse"/>
		</operation>
		<operation name="createOrUpdateWorkspaces">
			<input wsam:Action="urn:ECMLink.service.livelink.opentext.com:ECMLink:createOrUpdateWorkspacesRequest" message="tns:createOrUpdateWorkspaces"/>
			<output wsam:Action="urn:ECMLink.service.livelink.opentext.com:ECMLink:createOrUpdateWorkspacesResponse" message="tns:createOrUpdateWorkspacesResponse"/>
		</operation>
	</portType>
	<binding name="BasicHttpBinding_ECMLinkBinding" type="tns:ECMLink">
		<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
		<operation name="createOrUpdateBusinessAttachments">
			<soap:operation soapAction=""/>
			<input>
				<soap:header message="tns:AuthenticationMessageHeader" part="AuthenticationHeader" use="literal"/>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:header message="tns:AuthenticationMessageHeader" part="AuthenticationHeader" use="literal"/>
				<soap:body use="literal"/>
			</output>
		</operation>
		<operation name="copyItem">
			<soap:operation soapAction=""/>
			<input>
				<soap:header message="tns:AuthenticationMessageHeader" part="AuthenticationHeader" use="literal"/>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:header message="tns:AuthenticationMessageHeader" part="AuthenticationHeader" use="literal"/>
				<soap:body use="literal"/>
			</output>
		</operation>
		<operation name="createBusRef">
			<soap:operation soapAction=""/>
			<input>
				<soap:header message="tns:AuthenticationMessageHeader" part="AuthenticationHeader" use="literal"/>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:header message="tns:AuthenticationMessageHeader" part="AuthenticationHeader" use="literal"/>
				<soap:body use="literal"/>
			</output>
		</operation>
		<operation name="updateBusRefs">
			<soap:operation soapAction=""/>
			<input>
				<soap:header message="tns:AuthenticationMessageHeader" part="AuthenticationHeader" use="literal"/>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:header message="tns:AuthenticationMessageHeader" part="AuthenticationHeader" use="literal"/>
				<soap:body use="literal"/>
			</output>
		</operation>
		<operation name="getOriginalId">
			<soap:operation soapAction=""/>
			<input>
				<soap:header message="tns:AuthenticationMessageHeader" part="AuthenticationHeader" use="literal"/>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:header message="tns:AuthenticationMessageHeader" part="AuthenticationHeader" use="literal"/>
				<soap:body use="literal"/>
			</output>
		</operation>
		<operation name="denyAllPolicies">
			<soap:operation soapAction=""/>
			<input>
				<soap:header message="tns:AuthenticationMessageHeader" part="AuthenticationHeader" use="literal"/>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:header message="tns:AuthenticationMessageHeader" part="AuthenticationHeader" use="literal"/>
				<soap:body use="literal"/>
			</output>
		</operation>
		<operation name="moveItem">
			<soap:operation soapAction=""/>
			<input>
				<soap:header message="tns:AuthenticationMessageHeader" part="AuthenticationHeader" use="literal"/>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:header message="tns:AuthenticationMessageHeader" part="AuthenticationHeader" use="literal"/>
				<soap:body use="literal"/>
			</output>
		</operation>
		<operation name="createUniqueName">
			<soap:operation soapAction=""/>
			<input>
				<soap:header message="tns:AuthenticationMessageHeader" part="AuthenticationHeader" use="literal"/>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:header message="tns:AuthenticationMessageHeader" part="AuthenticationHeader" use="literal"/>
				<soap:body use="literal"/>
			</output>
		</operation>
		<operation name="setWorkspaces">
			<soap:operation soapAction=""/>
			<input>
				<soap:header message="tns:AuthenticationMessageHeader" part="AuthenticationHeader" use="literal"/>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:header message="tns:AuthenticationMessageHeader" part="AuthenticationHeader" use="literal"/>
				<soap:body use="literal"/>
			</output>
		</operation>
		<operation name="setPolicies">
			<soap:operation soapAction=""/>
			<input>
				<soap:header message="tns:AuthenticationMessageHeader" part="AuthenticationHeader" use="literal"/>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:header message="tns:AuthenticationMessageHeader" part="AuthenticationHeader" use="literal"/>
				<soap:body use="literal"/>
			</output>
		</operation>
		<operation name="deleteUniqueName">
			<soap:operation soapAction=""/>
			<input>
				<soap:header message="tns:AuthenticationMessageHeader" part="AuthenticationHeader" use="literal"/>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:header message="tns:AuthenticationMessageHeader" part="AuthenticationHeader" use="literal"/>
				<soap:body use="literal"/>
			</output>
		</operation>
		<operation name="grantPolicies">
			<soap:operation soapAction=""/>
			<input>
				<soap:header message="tns:AuthenticationMessageHeader" part="AuthenticationHeader" use="literal"/>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:header message="tns:AuthenticationMessageHeader" part="AuthenticationHeader" use="literal"/>
				<soap:body use="literal"/>
			</output>
		</operation>
		<operation name="getUniqueNames">
			<soap:operation soapAction=""/>
			<input>
				<soap:header message="tns:AuthenticationMessageHeader" part="AuthenticationHeader" use="literal"/>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:header message="tns:AuthenticationMessageHeader" part="AuthenticationHeader" use="literal"/>
				<soap:body use="literal"/>
			</output>
		</operation>
		<operation name="getWidgets">
			<soap:operation soapAction=""/>
			<input>
				<soap:header message="tns:AuthenticationMessageHeader" part="AuthenticationHeader" use="literal"/>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:header message="tns:AuthenticationMessageHeader" part="AuthenticationHeader" use="literal"/>
				<soap:body use="literal"/>
			</output>
		</operation>
		<operation name="deleteBusRefs">
			<soap:operation soapAction=""/>
			<input>
				<soap:header message="tns:AuthenticationMessageHeader" part="AuthenticationHeader" use="literal"/>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:header message="tns:AuthenticationMessageHeader" part="AuthenticationHeader" use="literal"/>
				<soap:body use="literal"/>
			</output>
		</operation>
		<operation name="getBusinessReferences">
			<soap:operation soapAction=""/>
			<input>
				<soap:header message="tns:AuthenticationMessageHeader" part="AuthenticationHeader" use="literal"/>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:header message="tns:AuthenticationMessageHeader" part="AuthenticationHeader" use="literal"/>
				<soap:body use="literal"/>
			</output>
		</operation>
		<operation name="createSimpleWorkspace">
			<soap:operation soapAction=""/>
			<input>
				<soap:header message="tns:AuthenticationMessageHeader" part="AuthenticationHeader" use="literal"/>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:header message="tns:AuthenticationMessageHeader" part="AuthenticationHeader" use="literal"/>
				<soap:body use="literal"/>
			</output>
		</operation>
		<operation name="getNodeIdsOfUniqueNames">
			<soap:operation soapAction=""/>
			<input>
				<soap:header message="tns:AuthenticationMessageHeader" part="AuthenticationHeader" use="literal"/>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:header message="tns:AuthenticationMessageHeader" part="AuthenticationHeader" use="literal"/>
				<soap:body use="literal"/>
			</output>
		</operation>
		<operation name="getWorkspaceNodeIds">
			<soap:operation soapAction=""/>
			<input>
				<soap:header message="tns:AuthenticationMessageHeader" part="AuthenticationHeader" use="literal"/>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:header message="tns:AuthenticationMessageHeader" part="AuthenticationHeader" use="literal"/>
				<soap:body use="literal"/>
			</output>
		</operation>
		<operation name="checkBusRefRestrictions">
			<soap:operation soapAction=""/>
			<input>
				<soap:header message="tns:AuthenticationMessageHeader" part="AuthenticationHeader" use="literal"/>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:header message="tns:AuthenticationMessageHeader" part="AuthenticationHeader" use="literal"/>
				<soap:body use="literal"/>
			</output>
		</operation>
		<operation name="deleteAllPolicies">
			<soap:operation soapAction=""/>
			<input>
				<soap:header message="tns:AuthenticationMessageHeader" part="AuthenticationHeader" use="literal"/>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:header message="tns:AuthenticationMessageHeader" part="AuthenticationHeader" use="literal"/>
				<soap:body use="literal"/>
			</output>
		</operation>
		<operation name="getBusRefSubtypeNames">
			<soap:operation soapAction=""/>
			<input>
				<soap:header message="tns:AuthenticationMessageHeader" part="AuthenticationHeader" use="literal"/>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:header message="tns:AuthenticationMessageHeader" part="AuthenticationHeader" use="literal"/>
				<soap:body use="literal"/>
			</output>
		</operation>
		<operation name="getContextMenuItems">
			<soap:operation soapAction=""/>
			<input>
				<soap:header message="tns:AuthenticationMessageHeader" part="AuthenticationHeader" use="literal"/>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:header message="tns:AuthenticationMessageHeader" part="AuthenticationHeader" use="literal"/>
				<soap:body use="literal"/>
			</output>
		</operation>
		<operation name="migrateToUniqueNames">
			<soap:operation soapAction=""/>
			<input>
				<soap:header message="tns:AuthenticationMessageHeader" part="AuthenticationHeader" use="literal"/>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:header message="tns:AuthenticationMessageHeader" part="AuthenticationHeader" use="literal"/>
				<soap:body use="literal"/>
			</output>
		</operation>
		<operation name="deleteBusinessAttachments">
			<soap:operation soapAction=""/>
			<input>
				<soap:header message="tns:AuthenticationMessageHeader" part="AuthenticationHeader" use="literal"/>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:header message="tns:AuthenticationMessageHeader" part="AuthenticationHeader" use="literal"/>
				<soap:body use="literal"/>
			</output>
		</operation>
		<operation name="createOrUpdateWorkspaces">
			<soap:operation soapAction=""/>
			<input>
				<soap:header message="tns:AuthenticationMessageHeader" part="AuthenticationHeader" use="literal"/>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:header message="tns:AuthenticationMessageHeader" part="AuthenticationHeader" use="literal"/>
				<soap:body use="literal"/>
			</output>
		</operation>
	</binding>
	<service name="ECMLink">
		<port name="BasicHttpBinding_ECMLink" binding="tns:BasicHttpBinding_ECMLinkBinding">
			<soap:address location="https://vhfradototwslb.hec.fraunhofer.de:8090/otsapxecm/services/ECMLink"/>
		</port>
	</service>
</definitions>