Resources/canonical_library/wsdl/eDocSpainGetStatus.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:tns="http://www.sap.com/eDocument/Spain/GetStatus/v1.0"
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	name="eDocSpainGetStatus" targetNamespace="http://www.sap.com/eDocument/Spain/GetStatus/v1.0">
	<wsdl:types>
		<xsd:schema targetNamespace="http://www.sap.com/eDocument/Spain/GetStatus/v1.0">
			<xsd:element name="GetStatus">
				<xsd:annotation>
					<xsd:documentation>This element MUST be conveyed as the root
						element in any instance document based on this Schema expression
					</xsd:documentation>
				</xsd:annotation>
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="numeroRegistro" type="xsd:string" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:complexType name="GetStatusResponseType">
				<xsd:sequence>
					<xsd:element name="SSPPResultadoConsultarFactura" type="tns:SSPPResultadoConsultarFactura"></xsd:element>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:element name="GetStatusResponse" type="tns:GetStatusResponseType">

				<!-- <xsd:element name="GetStatusResponseType" type="tns:GetStatusResponseType"
					minOccurs="0" maxOccurs="1" /> -->

			</xsd:element>
			<xsd:complexType name="SSPPResultadoConsultarFactura">
				<xsd:all>
					<xsd:element name="numero_registro" type="xsd:string"
						nillable="true" />
					<xsd:element name="tramitacion"
						type="tns:SSPPResultadoConsultarFacturaEstado" nillable="true" />
					<xsd:element name="anulacion"
						type="tns:SSPPResultadoConsultarFacturaEstado" nillable="true" />
				</xsd:all>
			</xsd:complexType>
			<xsd:complexType name="SSPPResultadoConsultarFacturaEstado">
				<xsd:all>
					<xsd:element name="codigo_estado" type="xsd:string"
						nillable="true" />
					<xsd:element name="descripcion_estado" type="xsd:string"
						nillable="true" />
					<xsd:element name="motivo_estado" type="xsd:string"
						nillable="true" />
				</xsd:all>
			</xsd:complexType>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="GetStatusRequest">
		<wsdl:part element="tns:GetStatus" name="GetStatusRequestParameters" />
	</wsdl:message>
	<wsdl:message name="GetStatusResponse">
		<wsdl:part element="tns:GetStatusResponse" name="GetStatusResponseParameters" />
	</wsdl:message>
	<wsdl:portType name="eDocSpainGetStatus">
		<wsdl:operation name="GetStatus">
			<wsdl:input message="tns:GetStatusRequest" />
			<wsdl:output message="tns:GetStatusResponse" />
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="eDocSpainGetStatus" type="tns:eDocSpainGetStatus">
		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="GetStatus">
			<soap:operation
				soapAction="http://www.sap.com/eDocument/Spain/GetStatus/v1.0/GetStatus" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="eDocSpainGetStatus">
		<wsdl:port binding="tns:eDocSpainGetStatus" name="eDocSpainGetStatus">
			<soap:address location="http://endpointaddress" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
