Resources/canonical_library/wsdl/eDocSpainCancelInvoice_2.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:tns="http://www.sap.com/eDocument/Spain/CancelInvoice/v1.1"
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	name="eDocSpainCancelInvoice"
	targetNamespace="http://www.sap.com/eDocument/Spain/CancelInvoice/v1.1">
	<wsdl:types>
		<xsd:schema
			targetNamespace="http://www.sap.com/eDocument/Spain/CancelInvoice/v1.1">

			<xsd:element name="CancelInvoice" type="tns:CancelInvoiceType">
				<xsd:annotation>
					<xsd:documentation>This element MUST be conveyed as the root
						element in any instance document based on this Schema expression
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:complexType name="CancelInvoiceType">
				<xsd:annotation>
					<xsd:documentation>The document used to send cancel invoice data
					</xsd:documentation>
				</xsd:annotation>
				<xsd:sequence>
					<xsd:element name="RegistrationCode" type="xsd:string" />
					<xsd:element name="VoidingReason" type="xsd:string" />
				</xsd:sequence>
			</xsd:complexType>

			<xsd:element name="CancelInvoiceResponse" type="tns:CancelInvoiceResponseType" />

			<xsd:complexType name="CancelInvoiceResponseType">
				<xsd:sequence>
					<xsd:element name="VoidingResponse" type="tns:VoidingResponseType" minOccurs="0" maxOccurs="1" />
					<xsd:element name="Error" type="tns:ErrorType" minOccurs="0" maxOccurs="1" />
				</xsd:sequence>
			</xsd:complexType>
			
			<xsd:complexType name="VoidingResponseType">
				<xsd:all>
					<xsd:element name="RegistrationCode" type="xsd:string" nillable="true"/>
					<xsd:element name="Message" type="xsd:string" nillable="true"/>
				</xsd:all>
			</xsd:complexType>
			
			<xsd:complexType name="ErrorType">
				<xsd:sequence>
					<xsd:element name="ErrorCode" type="xsd:string"></xsd:element>
					<xsd:element name="ErrorText" type="xsd:string"></xsd:element>
					<xsd:element name="TrackingCode" type="xsd:string" minOccurs="0" maxOccurs="1"></xsd:element>
				</xsd:sequence>
			</xsd:complexType>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="CancelInvoiceRequest">
		<wsdl:part element="tns:CancelInvoice" name="CancelInvoiceRequestParameter" />
	</wsdl:message>
	<wsdl:message name="CancelInvoiceResponse">
		<wsdl:part element="tns:CancelInvoiceResponse" name="CancelInvoiceResponseParameters" />
	</wsdl:message>
	<wsdl:portType name="eDocSpainCancelInvoice">
		<wsdl:operation name="CancelInvoice">
			<wsdl:input message="tns:CancelInvoiceRequest" />
			<wsdl:output message="tns:CancelInvoiceResponse" />
		</wsdl:operation>
	</wsdl:portType>	<wsdl:binding name="eDocSpainCancelInvoice" type="tns:eDocSpainCancelInvoice">
		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="CancelInvoice">
			<soap:operation
				soapAction="http://www.sap.com/eDocument/Spain/CancelInvoice/v1.1/CancelInvoice" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="eDocSpainCancelInvoice">
		<wsdl:port binding="tns:eDocSpainCancelInvoice" name="eDocSpainCancelInvoice">
			<soap:address location="http://endpointaddress" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
