Resources/canonical_library/wsdl/eDocMexicoCFDI.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:tns="http://www.sap.com/eDocument/Mexico/CFDI/v4.1"
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="eDocMexicoCFDI"
	targetNamespace="http://www.sap.com/eDocument/Mexico/CFDI/v4.1">
	<wsdl:types>
		<xsd:schema
			targetNamespace="http://www.sap.com/eDocument/Mexico/CFDI/v4.1"
			xmlns:tns="http://www.sap.com/eDocument/Mexico/CFDI/v4.1">
			<xsd:element name="SubmitEdoc">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="in" type="xsd:string" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>

			<xsd:element name="GetStatusEdoc">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="in" type="xsd:string"></xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>

			<xsd:element name="CancelEdoc">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="in" type="xsd:string"></xsd:element>
						<xsd:element name="in1" type="xsd:string"></xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>

			<xsd:element name="NewOperation">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="in" type="xsd:string"></xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="NewOperationResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="out" type="xsd:string"></xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
		</xsd:schema>
		<xsd:schema
			targetNamespace="http://www.sap.com/eDocument/Mexico/CFDI/v4.1"
			xmlns:xsd="http://www.w3.org/2001/XMLSchema"
			xmlns:xi0="http://www.sat.gob.mx/TimbreFiscalDigital">
            <xsd:include schemaLocation="CFDIService.xsd"></xsd:include>
            <xsd:import schemaLocation="CFDIService.xsd" namespace="http://www.sap.com/eDocument/Mexico/CFDI/v4.1"></xsd:import>
            <xsd:include schemaLocation="CFDIService.xsd"></xsd:include>
			<xsd:import
				namespace="http://www.sat.gob.mx/TimbreFiscalDigital"></xsd:import>
				<xsd:element name="eDocFolioResponse">
    <xsd:complexType>
     <xsd:sequence>
      <xsd:element name="eDocFolioResult" minOccurs="0" form="qualified">
       <xsd:complexType>
        <xsd:sequence>
         <xsd:element name="Folios" minOccurs="0" form="qualified" maxOccurs="unbounded">
          <xsd:complexType>
           <xsd:sequence>
            <xsd:element name="UUID" form="qualified" type="xsd:string"/>
            <xsd:element name="ResultStatus" form="qualified" type="xsd:double"/>
            <xsd:element name="ErrorCode" minOccurs="0" form="qualified" type="xsd:double"/>
            <xsd:element name="ErrorDescription" minOccurs="0" form="qualified" type="xsd:string"/>
            <xsd:element name="DocData" minOccurs="0" form="qualified" type="xsd:base64Binary"/>
           </xsd:sequence>
          </xsd:complexType>
         </xsd:element>
        </xsd:sequence>
        <xsd:attribute name="CodEstatus" type="xsd:string"/>
        <xsd:attribute name="Fecha" use="required">
         <xsd:simpleType>
          <xsd:restriction base="xsd:dateTime">
           <xsd:pattern value="[0-9]{4}-[0-9]{2}-[0-9]{2}T[0-9]{2}:[0-9]{2}:[0-9]{2}(.[0-9]{1,7})?Z"/>
          </xsd:restriction>
         </xsd:simpleType>
        </xsd:attribute>
        <xsd:attribute name="RfcEmisor" type="xsd:string"/>
       </xsd:complexType>
      </xsd:element>
     </xsd:sequence>
    </xsd:complexType>
   </xsd:element>
			<xsd:element name="SubmitEdocRequest"
				type="tns:OperationRequestType">
			</xsd:element>
			<xsd:element name="SubmitEdocResponse"
				type="tns:OperationResponse">
			</xsd:element>
			<xsd:complexType name="OperationResponse">
				<xsd:sequence>
					<xsd:element name="SignedDocument"
						type="xsd:base64Binary" maxOccurs="1" minOccurs="0">
					</xsd:element>
					<xsd:element ref="xi0:TimbreFiscalDigital" maxOccurs="1"
						minOccurs="0"></xsd:element>
					<xsd:element name="ResultStatus" type="xsd:double"
						maxOccurs="1" minOccurs="1">
					</xsd:element>
					<xsd:element name="Error" type="tns:ErrorType"
						maxOccurs="1" minOccurs="0">
					</xsd:element>

				</xsd:sequence>
			</xsd:complexType>

			<xsd:complexType name="ErrorType">
				<xsd:sequence>
					<xsd:element name="errorCode" type="xsd:double"></xsd:element>
					<xsd:element name="errorDescription" type="xsd:string">
					</xsd:element>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="OperationRequestType">
				<xsd:sequence>
					<xsd:element name="DocData" type="xsd:base64Binary">
					</xsd:element>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:element name="GetStatusEdocRequest"
				type="tns:OperationRequestType">
			</xsd:element>
			<xsd:element name="GetViewEdocRequest"
				type="tns:OperationRequestType">
			</xsd:element>
			<xsd:element name="CancelEdocRequest">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="DocData" type="xsd:base64Binary">
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="GetStatusEdocResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element ref="tns:eDocFolioResponse"></xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="CancelEdocResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element ref="tns:eDocFolioResponse"></xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="GetViewEdocResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="Document" type="xsd:base64Binary">
						</xsd:element>
						<xsd:element name="Error" type="tns:ErrorType">
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>

			<xsd:element name="Error" type="xsd:string"></xsd:element>
		</xsd:schema>
		<xsd:schema targetNamespace="http://www.sat.gob.mx/TimbreFiscalDigital" xmlns="http://www.sat.gob.mx/TimbreFiscalDigital" xmlns:xi0="http://www.sat.gob.mx/TimbreFiscalDigital" xmlns:xi1="http://www.sat.gob.mx/sitio_internet/cfd/tipoDatos/tdCFDI">
   <xsd:import namespace="http://www.sat.gob.mx/sitio_internet/cfd/tipoDatos/tdCFDI"/>
   <xsd:element name="TimbreFiscalDigital">
    <xsd:complexType>
     <xsd:attribute name="Version" use="required" type="xsd:anySimpleType"/>
     <xsd:attribute name="UUID" use="required">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:length value="36"/>
        <xsd:pattern value="[a-f0-9A-F]{8}-[a-f0-9A-F]{4}-[a-f0-9A-F]{4}-[a-f0-9A-F]{4}-[a-f0-9A-F]{12}"/>
        <xsd:whiteSpace value="collapse"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:attribute>
     <xsd:attribute name="FechaTimbrado" use="required" type="xi1:t_FechaH"/>
     <xsd:attribute name="RfcProvCertif" use="required" type="xi1:t_RFC_PM"/>
     <xsd:attribute name="Leyenda">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="150"/>
        <xsd:minLength value="12"/>
        <xsd:pattern value="([A-Z]|[a-z]|[0-9]| |Ñ|ñ|!|&quot;|%|&amp;|&apos;|´|-|:|;|&gt;|=|&lt;|@|_|,|\{|\}|`|~|á|é|í|ó|ú|Á|É|Í|Ó|Ú|ü|Ü){1,150}"/>
        <xsd:whiteSpace value="collapse"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:attribute>
     <xsd:attribute name="SelloCFD" use="required">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:whiteSpace value="collapse"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:attribute>
     <xsd:attribute name="NoCertificadoSAT" use="required">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:length value="20"/>
        <xsd:pattern value="[0-9]{20}"/>
        <xsd:whiteSpace value="collapse"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:attribute>
     <xsd:attribute name="SelloSAT" use="required">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:whiteSpace value="collapse"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:attribute>
    </xsd:complexType>
   </xsd:element>
  </xsd:schema>
  <xsd:schema targetNamespace="http://www.sat.gob.mx/sitio_internet/cfd/tipoDatos/tdCFDI" xmlns="http://www.sat.gob.mx/sitio_internet/cfd/tipoDatos/tdCFDI" xmlns:xi0="http://www.sat.gob.mx/TimbreFiscalDigital" xmlns:xi1="http://www.sat.gob.mx/sitio_internet/cfd/tipoDatos/tdCFDI">
   <xsd:simpleType name="t_FechaH">
    <xsd:restriction base="xsd:dateTime">
     <xsd:pattern value="(20[1-9][0-9])-(0[1-9]|1[0-2])-(0[1-9]|[12][0-9]|3[01])T(([01][0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9])"/>
     <xsd:whiteSpace value="collapse"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="t_RFC_PM">
    <xsd:restriction base="xsd:string">
     <xsd:minLength value="12"/>
     <xsd:pattern value="[A-Z&amp;Ñ]{3}[0-9]{2}(0[1-9]|1[012])(0[1-9]|[12][0-9]|3[01])[A-Z0-9]{2}[0-9A]"/>
     <xsd:whiteSpace value="collapse"/>
    </xsd:restriction>
   </xsd:simpleType>
  </xsd:schema>
	</wsdl:types>
	<wsdl:message name="SubmitEdocRequest">
		<wsdl:part element="tns:SubmitEdocRequest" name="parameters" />
	</wsdl:message>
	<wsdl:message name="SubmitEdocResponse">
		<wsdl:part element="tns:SubmitEdocResponse"
			name="parameters" />
	</wsdl:message>
	<wsdl:message name="GetStatusEdocRequest">
		<wsdl:part name="GetStatusEdocRequest"
			element="tns:GetStatusEdocRequest"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="GetStatusEdocResponse">
		<wsdl:part name="GetStatusEdocResponse"
			element="tns:GetStatusEdocResponse"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="GetViewEdocRequest">
		<wsdl:part name="GetViewEdocRequest"
			element="tns:GetViewEdocRequest"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="GetViewEdocResponse">
		<wsdl:part name="GetViewEdocResponse"
			element="tns:GetViewEdocResponse"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="CancelEdocRequest">
		<wsdl:part name="CancelEdocRequest"
			element="tns:CancelEdocRequest"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="CancelEdocResponse">
		<wsdl:part name="CancelEdocResponse"
			element="tns:CancelEdocResponse"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="NewMessage">
		<wsdl:part name="parameters" type="xsd:string"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="NewOperationRequest">
		<wsdl:part name="parameters" element="tns:NewOperation"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="NewOperationResponse">
		<wsdl:part name="parameters"
			element="tns:NewOperationResponse"></wsdl:part>
	</wsdl:message>
	<wsdl:portType name="eDocMexicoCFDI">
		<wsdl:operation name="SubmitEdoc">
			<wsdl:input message="tns:SubmitEdocRequest"></wsdl:input>
			<wsdl:output message="tns:SubmitEdocResponse"></wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="GetStatusEdoc">
			<wsdl:input message="tns:GetStatusEdocRequest"></wsdl:input>
			<wsdl:output message="tns:GetStatusEdocResponse"></wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="GetViewEdoc">
			<wsdl:input message="tns:GetViewEdocRequest"></wsdl:input>
			<wsdl:output message="tns:GetViewEdocResponse"></wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="CancelEdoc">
			<wsdl:input message="tns:CancelEdocRequest"></wsdl:input>
			<wsdl:output message="tns:CancelEdocResponse"></wsdl:output>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="eDocMexicoCFDISOAP"
		type="tns:eDocMexicoCFDI">
		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="SubmitEdoc">
			<soap:operation
				soapAction="http://www.sap.com/eDocument/Mexico/CFDI/v4.1/SubmitEdoc" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="GetStatusEdoc">
			<soap:operation
				soapAction="http://www.sap.com/eDocument/Mexico/CFDI/v4.0/GetStatusEdoc" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="GetViewEdoc">
			<soap:operation
				soapAction="http://www.sap.com/eDocument/Mexico/CFDI/v4.0/GetViewEdoc" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="CancelEdoc">
			<soap:operation
				soapAction="http://www.sap.com/eDocument/Mexico/CFDI/v4.0/CancelEdoc" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="eDocMexicoCFDI">
		<wsdl:port binding="tns:eDocMexicoCFDISOAP"
			name="eDocMexicoCFDISOAP">
			<soap:address
				location="http://www.sap.com/eDocument/Mexico/CFDI/v4.1" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
