Resources/canonical_library/wsdl/eDocDTEGetStatusChile.wsdl

<?xml version="1.0" encoding="ISO-8859-1" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:tns="http://www.sap.com/eDocument/Chile/DTEGetStatus/v1.0"
	xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" 
	xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	name="eDocDTEGetStatusChile" 
	targetNamespace="http://www.sap.com/eDocument/Chile/DTEGetStatus/v1.0">
	
	<wsdl:types>
		<xsd:schema targetNamespace="http://www.sap.com/eDocument/Chile/DTEGetStatus/v1.0"
			elementFormDefault="qualified" 
			attributeFormDefault="unqualified">
			
			<xsd:element name="getEstDte" type="tns:getEstDte"/>

			<xsd:element name="getEstDteResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="getEstDteReturn" type="xsd:string" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>

			<xsd:complexType name="getEstDte">
				<xsd:sequence>
					<xsd:element name="RutConsultante" type="xsd:string" />
					<xsd:element name="DvConsultante" type="xsd:string" />
					<xsd:element name="RutCompania" type="xsd:string" />
					<xsd:element name="DvCompania" type="xsd:string" />
					<xsd:element name="RutReceptor" type="xsd:string" />
					<xsd:element name="DvReceptor" type="xsd:string" />
					<xsd:element name="TipoDte" type="xsd:string" />
					<xsd:element name="FolioDte" type="xsd:string" />
					<xsd:element name="FechaEmisionDte" type="xsd:string" />
					<xsd:element name="MontoDte" type="xsd:string" />
					<xsd:element name="Token" type="xsd:string" />
				</xsd:sequence>
			</xsd:complexType>

		</xsd:schema>
	</wsdl:types>

	<wsdl:message name="getEstDteRequest">
		<wsdl:part name="getEstDte" element="tns:getEstDte" />
	</wsdl:message>
	<wsdl:message name="getEstDteResponse">
		<wsdl:part name="getEstDteReturn" element="tns:getEstDteResponse"/>
	</wsdl:message>
	<wsdl:portType name="eDocDTEGetStatusChile">
		<wsdl:operation name="getEstDte">
			<wsdl:input message="tns:getEstDteRequest" name="GetDTEStatusIn"/>
			<wsdl:output message="tns:getEstDteResponse" name="GetDTEStatusOut" />
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="eDocDTEGetStatusChileSOAP" type="tns:eDocDTEGetStatusChile">
		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="getEstDte">
			<soap:operation
				soapAction="http://www.sap.com/eDocument/Chile/DTEGetStatus/v1.0/NewOperation" />
			<wsdl:input name="GetDTEStatusIn">
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="GetDTEStatusOut">
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="eDocDTEGetStatusChile">
		<wsdl:port binding="tns:eDocDTEGetStatusChileSOAP" name="eDocDTEGetStatusChileSOAP">
			<soap:address location="http://endpointaddress" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>