Resources/canonical_library/wsdl/empId.wsdl

<?xml version="1.0" encoding="UTF-8"?><wsdl:definitions targetNamespace="" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"><wsdl:types><xsd:schema elementFormDefault="qualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema"><xsd:element name="queryUserResponse"><xsd:complexType><xsd:sequence><xsd:element name="User" minOccurs="0" maxOccurs="unbounded"><xsd:complexType><xsd:sequence><xsd:element name="empId" minOccurs="0" nillable="true"><xsd:simpleType><xsd:restriction base="xsd:string"><xsd:maxLength value="255"/></xsd:restriction></xsd:simpleType></xsd:element><xsd:element name="externalId"><xsd:simpleType><xsd:restriction base="xsd:string"><xsd:maxLength value="100"/></xsd:restriction></xsd:simpleType></xsd:element><xsd:element name="hrExternalId" minOccurs="0" nillable="true"><xsd:simpleType><xsd:restriction base="xsd:string"><xsd:maxLength value="100"/></xsd:restriction></xsd:simpleType></xsd:element><xsd:element name="id" minOccurs="0" nillable="true"><xsd:simpleType><xsd:restriction base="xsd:string"><xsd:maxLength value="42"/></xsd:restriction></xsd:simpleType></xsd:element><xsd:element name="username" minOccurs="0" nillable="true"><xsd:simpleType><xsd:restriction base="xsd:string"><xsd:maxLength value="100"/></xsd:restriction></xsd:simpleType></xsd:element></xsd:sequence></xsd:complexType></xsd:element></xsd:sequence></xsd:complexType></xsd:element></xsd:schema></wsdl:types><wsdl:message name="queryUserResponse"><wsdl:part name="queryUserResponse" element="queryUserResponse"/></wsdl:message></wsdl:definitions>
