Resources/canonical_library/wsdl/ISU_C4C_V2_DUNNING.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions targetNamespace="urn:sap-com:document:sap:soap:functions:mc-style" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsoap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="urn:sap-com:document:sap:soap:functions:mc-style" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:n1="urn:sap-com:document:sap:rfc:functions">
 <wsdl:documentation>
  <sidl:sidl xmlns:sidl="http://www.sap.com/2007/03/sidl"/>
 </wsdl:documentation>
 <wsp:UsingPolicy wsdl:required="true"/>
 <wsp:Policy wsu:Id="IF_IF_ISU_C4C_V2_DUNNING">
  <sapsession:Session xmlns:sapsession="http://www.sap.com/webas/630/soap/features/session/">
   <sapsession:enableSession>false</sapsession:enableSession>
  </sapsession:Session>
 </wsp:Policy>
 <wsp:Policy wsu:Id="OP_IF_OP_IsuC4cV2DunningSimulate">
  <sapblock:enableBlocking xmlns:sapblock="http://www.sap.com/NW05/soap/features/blocking/">true</sapblock:enableBlocking>
  <sapcomhnd:enableCommit xmlns:sapcomhnd="http://www.sap.com/NW05/soap/features/commit/">false</sapcomhnd:enableCommit>
  <saptrhnw05:required xmlns:saptrhnw05="http://www.sap.com/NW05/soap/features/transaction/">no</saptrhnw05:required>
  <saprmnw05:enableWSRM xmlns:saprmnw05="http://www.sap.com/NW05/soap/features/wsrm/">false</saprmnw05:enableWSRM>
 </wsp:Policy>
 <wsp:Policy wsu:Id="OP_IF_OP_IsuC4cV2DunningGet">
  <sapblock:enableBlocking xmlns:sapblock="http://www.sap.com/NW05/soap/features/blocking/">true</sapblock:enableBlocking>
  <sapcomhnd:enableCommit xmlns:sapcomhnd="http://www.sap.com/NW05/soap/features/commit/">false</sapcomhnd:enableCommit>
  <saptrhnw05:required xmlns:saptrhnw05="http://www.sap.com/NW05/soap/features/transaction/">no</saptrhnw05:required>
  <saprmnw05:enableWSRM xmlns:saprmnw05="http://www.sap.com/NW05/soap/features/wsrm/">false</saprmnw05:enableWSRM>
 </wsp:Policy>
 <wsdl:types>
  <xsd:schema attributeFormDefault="qualified" targetNamespace="urn:sap-com:document:sap:rfc:functions" xmlns:tns="urn:sap-com:document:sap:rfc:functions">
   <xsd:simpleType name="char1">
    <xsd:restriction base="xsd:string">
     <xsd:maxLength value="1"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="char10">
    <xsd:restriction base="xsd:string">
     <xsd:maxLength value="10"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="char1000">
    <xsd:restriction base="xsd:string">
     <xsd:maxLength value="1000"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="char12">
    <xsd:restriction base="xsd:string">
     <xsd:maxLength value="12"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="char132">
    <xsd:restriction base="xsd:string">
     <xsd:maxLength value="132"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="char2">
    <xsd:restriction base="xsd:string">
     <xsd:maxLength value="2"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="char20">
    <xsd:restriction base="xsd:string">
     <xsd:maxLength value="20"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="char220">
    <xsd:restriction base="xsd:string">
     <xsd:maxLength value="220"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="char30">
    <xsd:restriction base="xsd:string">
     <xsd:maxLength value="30"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="char32">
    <xsd:restriction base="xsd:string">
     <xsd:maxLength value="32"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="char4">
    <xsd:restriction base="xsd:string">
     <xsd:maxLength value="4"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="char50">
    <xsd:restriction base="xsd:string">
     <xsd:maxLength value="50"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="cuky5">
    <xsd:restriction base="xsd:string">
     <xsd:maxLength value="5"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="curr13.2">
    <xsd:restriction base="xsd:decimal">
     <xsd:totalDigits value="13"/>
     <xsd:fractionDigits value="2"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="numeric2">
    <xsd:restriction base="xsd:string">
     <xsd:maxLength value="2"/>
     <xsd:pattern value="\d*"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="numeric3">
    <xsd:restriction base="xsd:string">
     <xsd:maxLength value="3"/>
     <xsd:pattern value="\d*"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="numeric6">
    <xsd:restriction base="xsd:string">
     <xsd:maxLength value="6"/>
     <xsd:pattern value="\d*"/>
    </xsd:restriction>
   </xsd:simpleType>
  </xsd:schema>
  <xsd:schema attributeFormDefault="qualified" targetNamespace="urn:sap-com:document:sap:soap:functions:mc-style" xmlns:n0="urn:sap-com:document:sap:rfc:functions">
   <xsd:import namespace="urn:sap-com:document:sap:rfc:functions"/>
   <xsd:simpleType name="char1">
    <xsd:restriction base="xsd:string">
     <xsd:maxLength value="1"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="char30">
    <xsd:restriction base="xsd:string">
     <xsd:maxLength value="30"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="char4">
    <xsd:restriction base="xsd:string">
     <xsd:maxLength value="4"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:complexType name="Bapiret2">
    <xsd:sequence>
     <xsd:element name="Type" type="n0:char1" minOccurs="0"/>
     <xsd:element name="Id" type="n0:char20" minOccurs="0"/>
     <xsd:element name="Number" type="n0:numeric3" minOccurs="0"/>
     <xsd:element name="Message" type="n0:char220" minOccurs="0"/>
     <xsd:element name="LogNo" type="n0:char20" minOccurs="0"/>
     <xsd:element name="LogMsgNo" type="n0:numeric6" minOccurs="0"/>
     <xsd:element name="MessageV1" type="n0:char50" minOccurs="0"/>
     <xsd:element name="MessageV2" type="n0:char50" minOccurs="0"/>
     <xsd:element name="MessageV3" type="n0:char50" minOccurs="0"/>
     <xsd:element name="MessageV4" type="n0:char50" minOccurs="0"/>
     <xsd:element name="Parameter" type="n0:char32" minOccurs="0"/>
     <xsd:element name="Row" type="xsd:int" minOccurs="0"/>
     <xsd:element name="Field" type="n0:char30" minOccurs="0"/>
     <xsd:element name="System" type="n0:char10" minOccurs="0"/>
    </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="IsuC4cV2SDunning">
    <xsd:sequence>
     <xsd:element name="ContractAccount" type="n0:char12" minOccurs="0"/>
     <xsd:element name="IssueDate" type="n0:char10" minOccurs="0"/>
     <xsd:element name="DunningBalance" type="tns:IsuC4cUtilAmount" minOccurs="0"/>
     <xsd:element name="PrintDate" type="n0:char10" minOccurs="0"/>
     <xsd:element name="DunningProcedure" type="n0:char2" minOccurs="0"/>
     <xsd:element name="DunningProcedureText" type="n0:char50" minOccurs="0"/>
     <xsd:element name="CollectionStrategy" type="n0:char2" minOccurs="0"/>
     <xsd:element name="CollectionStrategyText" type="n0:char50" minOccurs="0"/>
     <xsd:element name="DunningLevel" type="n0:numeric2" minOccurs="0"/>
     <xsd:element name="DunningLevelText" type="n0:char50" minOccurs="0"/>
     <xsd:element name="CollectionStep" type="n0:char4" minOccurs="0"/>
     <xsd:element name="CollectionStepText" type="n0:char50" minOccurs="0"/>
     <xsd:element name="StatusCode" type="n0:char1" minOccurs="0"/>
     <xsd:element name="StatusText" type="n0:char50" minOccurs="0"/>
     <xsd:element name="NextDunningDate" type="n0:char10" minOccurs="0"/>
     <xsd:element name="PaymentTargetDate" type="n0:char10" minOccurs="0"/>
     <xsd:element name="CancelledDunningFlag" type="tns:char1" minOccurs="0"/>
    </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="IsuC4cUtilAmount">
    <xsd:sequence>
     <xsd:element name="Amount" type="n0:curr13.2" minOccurs="0"/>
     <xsd:element name="Currency" type="n0:cuky5" minOccurs="0"/>
    </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="IsuC4cV2SFilter">
    <xsd:sequence>
     <xsd:element name="FieldName" type="n0:char30" minOccurs="0"/>
     <xsd:element name="FieldValue" type="n0:char1000" minOccurs="0"/>
     <xsd:element name="Sign" type="n0:char1" minOccurs="0"/>
     <xsd:element name="Option" type="n0:char2" minOccurs="0"/>
     <xsd:element name="Low" type="n0:char132" minOccurs="0"/>
     <xsd:element name="High" type="n0:char132" minOccurs="0"/>
    </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="Bapiret2T">
    <xsd:sequence>
     <xsd:element name="item" type="tns:Bapiret2" minOccurs="0" maxOccurs="unbounded"/>
    </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="IsuC4cV2TFilter">
    <xsd:sequence>
     <xsd:element name="item" type="tns:IsuC4cV2SFilter" minOccurs="0" maxOccurs="unbounded"/>
    </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="IsuC4cV2TDunning">
    <xsd:sequence>
     <xsd:element name="item" type="tns:IsuC4cV2SDunning" minOccurs="0" maxOccurs="unbounded"/>
    </xsd:sequence>
   </xsd:complexType>
   <xsd:element name="IsuC4cV2DunningSimulate">
    <xsd:complexType>
     <xsd:sequence>
      <xsd:element name="IvBusinessPartner" type="n0:char10" minOccurs="0"/>
      <xsd:element name="IvContractAccount" type="n0:char12" minOccurs="0"/>
      <xsd:element name="IvLanguage" type="n0:char2" minOccurs="0"/>
     </xsd:sequence>
    </xsd:complexType>
   </xsd:element>
   <xsd:element name="IsuC4cV2DunningSimulateResponse">
    <xsd:complexType>
     <xsd:sequence>
      <xsd:element name="EsDunningSimulation" type="tns:IsuC4cV2SDunning" minOccurs="0"/>
      <xsd:element name="EtMessages" type="tns:Bapiret2T" minOccurs="0"/>
     </xsd:sequence>
    </xsd:complexType>
   </xsd:element>
   <xsd:element name="IsuC4cV2DunningGet">
    <xsd:complexType>
     <xsd:sequence>
      <xsd:element name="ItAdditionalFilter" type="tns:IsuC4cV2TFilter" minOccurs="0"/>
      <xsd:element name="IvBusinessPartner" type="n0:char10" minOccurs="0"/>
      <xsd:element name="IvCancelledDunning" type="n0:char1" minOccurs="0"/>
      <xsd:element name="IvCollectionStep" type="n0:char4" minOccurs="0"/>
      <xsd:element name="IvContractAccount" type="n0:char12" minOccurs="0"/>
      <xsd:element name="IvDunningLevel" type="n0:numeric2" minOccurs="0"/>
      <xsd:element name="IvDunningProcedure" type="n0:char2" minOccurs="0"/>
      <xsd:element name="IvIssueDateFrom" type="n0:char10" minOccurs="0"/>
      <xsd:element name="IvIssueDateTo" type="n0:char10" minOccurs="0"/>
      <xsd:element name="IvLanguage" type="n0:char2" minOccurs="0"/>
      <xsd:element name="IvSkip" type="xsd:int" minOccurs="0"/>
      <xsd:element name="IvSortField" type="tns:char30" minOccurs="0"/>
      <xsd:element name="IvSortType" type="tns:char4" minOccurs="0"/>
      <xsd:element name="IvTop" type="xsd:int" minOccurs="0"/>
     </xsd:sequence>
    </xsd:complexType>
   </xsd:element>
   <xsd:element name="IsuC4cV2DunningGetResponse">
    <xsd:complexType>
     <xsd:sequence>
      <xsd:element name="EtDunning" type="tns:IsuC4cV2TDunning" minOccurs="0"/>
      <xsd:element name="EtMessages" type="tns:Bapiret2T" minOccurs="0"/>
      <xsd:element name="EvTotalRecords" type="xsd:int" minOccurs="0"/>
     </xsd:sequence>
    </xsd:complexType>
   </xsd:element>
  </xsd:schema>
 </wsdl:types>
 <wsdl:message name="IsuC4cV2DunningSimulate">
  <wsdl:part name="parameters" element="tns:IsuC4cV2DunningSimulate"/>
 </wsdl:message>
 <wsdl:message name="IsuC4cV2DunningSimulateResponse">
  <wsdl:part name="parameter" element="tns:IsuC4cV2DunningSimulateResponse"/>
 </wsdl:message>
 <wsdl:message name="IsuC4cV2DunningGet">
  <wsdl:part name="parameters" element="tns:IsuC4cV2DunningGet"/>
 </wsdl:message>
 <wsdl:message name="IsuC4cV2DunningGetResponse">
  <wsdl:part name="parameter" element="tns:IsuC4cV2DunningGetResponse"/>
 </wsdl:message>
 <wsdl:portType name="ISU_C4C_V2_DUNNING">
  <wsdl:documentation>
   <sapdoc:sapdoc xmlns:sapdoc="urn:sap:esi:documentation">
    <sapdoc:docitem docURL="http://ldciemo.wdf.sap.corp:50000/sap/bc/esdt/docu/sd_text?sap-client=300&amp;sd_name=ISU_C4C_V2_DUNNING"/>
    <sapdoc:docitem applicationComponent="IS-U-CS-C4C"/>
   </sapdoc:sapdoc>
  </wsdl:documentation>
  <wsp:Policy>
   <wsp:PolicyReference URI="#IF_IF_ISU_C4C_V2_DUNNING"/>
  </wsp:Policy>
  <wsdl:operation name="IsuC4cV2DunningSimulate">
   <wsp:Policy>
    <wsp:PolicyReference URI="#OP_IF_OP_IsuC4cV2DunningSimulate"/>
   </wsp:Policy>
   <wsdl:input message="tns:IsuC4cV2DunningSimulate"/>
   <wsdl:output message="tns:IsuC4cV2DunningSimulateResponse"/>
  </wsdl:operation>
  <wsdl:operation name="IsuC4cV2DunningGet">
   <wsp:Policy>
    <wsp:PolicyReference URI="#OP_IF_OP_IsuC4cV2DunningGet"/>
   </wsp:Policy>
   <wsdl:input message="tns:IsuC4cV2DunningGet"/>
   <wsdl:output message="tns:IsuC4cV2DunningGetResponse"/>
  </wsdl:operation>
 </wsdl:portType>
</wsdl:definitions>
