Resources/canonical_library/wsdl/ISU_C4C_V2_CA_PAYMENT_DATA.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions targetNamespace="urn:sap-com:document:sap:soap:functions:mc-style" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsoap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="urn:sap-com:document:sap:soap:functions:mc-style" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:n1="urn:sap-com:document:sap:rfc:functions">
 <wsdl:documentation>
  <sidl:sidl xmlns:sidl="http://www.sap.com/2007/03/sidl"/>
 </wsdl:documentation>
 <wsp:UsingPolicy wsdl:required="true"/>
 <wsp:Policy wsu:Id="IF_IF_ISU_C4C_V2_CA_PAYMENT_DATA">
  <sapsession:Session xmlns:sapsession="http://www.sap.com/webas/630/soap/features/session/">
   <sapsession:enableSession>false</sapsession:enableSession>
  </sapsession:Session>
 </wsp:Policy>
 <wsp:Policy wsu:Id="OP_IF_OP_IsuC4cV2CaPaymentData">
  <sapblock:enableBlocking xmlns:sapblock="http://www.sap.com/NW05/soap/features/blocking/">true</sapblock:enableBlocking>
  <sapcomhnd:enableCommit xmlns:sapcomhnd="http://www.sap.com/NW05/soap/features/commit/">false</sapcomhnd:enableCommit>
  <saptrhnw05:required xmlns:saptrhnw05="http://www.sap.com/NW05/soap/features/transaction/">no</saptrhnw05:required>
  <saprmnw05:enableWSRM xmlns:saprmnw05="http://www.sap.com/NW05/soap/features/wsrm/">false</saprmnw05:enableWSRM>
 </wsp:Policy>
 <wsp:Policy wsu:Id="OP_IF_OP_IsuC4cV2CaPaymthdUpdate">
  <sapblock:enableBlocking xmlns:sapblock="http://www.sap.com/NW05/soap/features/blocking/">true</sapblock:enableBlocking>
  <sapcomhnd:enableCommit xmlns:sapcomhnd="http://www.sap.com/NW05/soap/features/commit/">false</sapcomhnd:enableCommit>
  <saptrhnw05:required xmlns:saptrhnw05="http://www.sap.com/NW05/soap/features/transaction/">no</saptrhnw05:required>
  <saprmnw05:enableWSRM xmlns:saprmnw05="http://www.sap.com/NW05/soap/features/wsrm/">false</saprmnw05:enableWSRM>
 </wsp:Policy>
 <wsdl:types>
  <xsd:schema attributeFormDefault="qualified" targetNamespace="urn:sap-com:document:sap:soap:functions:mc-style" xmlns:n0="urn:sap-com:document:sap:rfc:functions">
   <xsd:import namespace="urn:sap-com:document:sap:rfc:functions"/>
   <xsd:simpleType name="char11">
    <xsd:restriction base="xsd:string">
     <xsd:maxLength value="11"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="char3">
    <xsd:restriction base="xsd:string">
     <xsd:maxLength value="3"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="char30">
    <xsd:restriction base="xsd:string">
     <xsd:maxLength value="30"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="char4">
    <xsd:restriction base="xsd:string">
     <xsd:maxLength value="4"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="string">
    <xsd:restriction base="xsd:string"/>
   </xsd:simpleType>
   <xsd:complexType name="Bapiret2">
    <xsd:sequence>
     <xsd:element name="Type" type="n0:char1" minOccurs="0"/>
     <xsd:element name="Id" type="n0:char20" minOccurs="0"/>
     <xsd:element name="Number" type="n0:numeric3" minOccurs="0"/>
     <xsd:element name="Message" type="n0:char220" minOccurs="0"/>
     <xsd:element name="LogNo" type="n0:char20" minOccurs="0"/>
     <xsd:element name="LogMsgNo" type="n0:numeric6" minOccurs="0"/>
     <xsd:element name="MessageV1" type="n0:char50" minOccurs="0"/>
     <xsd:element name="MessageV2" type="n0:char50" minOccurs="0"/>
     <xsd:element name="MessageV3" type="n0:char50" minOccurs="0"/>
     <xsd:element name="MessageV4" type="n0:char50" minOccurs="0"/>
     <xsd:element name="Parameter" type="n0:char32" minOccurs="0"/>
     <xsd:element name="Row" type="xsd:int" minOccurs="0"/>
     <xsd:element name="Field" type="n0:char30" minOccurs="0"/>
     <xsd:element name="System" type="n0:char10" minOccurs="0"/>
    </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="IsuC4cV2SCapaymentData">
    <xsd:sequence>
     <xsd:element name="NumberOfRecords" type="n0:char6" minOccurs="0"/>
     <xsd:element name="CaBankPaymentData" type="tns:IsuC4cV2TCaBnkPmtData" minOccurs="0"/>
    </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="IsuC4cV2SCaBnkPmtData">
    <xsd:sequence>
     <xsd:element name="BusinessPartner" type="n0:char10" minOccurs="0"/>
     <xsd:element name="Bankdetailid" type="n0:char4" minOccurs="0"/>
     <xsd:element name="BankCountry" type="n0:char3" minOccurs="0"/>
     <xsd:element name="BankKey" type="n0:char15" minOccurs="0"/>
     <xsd:element name="BankName" type="n0:char60" minOccurs="0"/>
     <xsd:element name="Region" type="n0:char3" minOccurs="0"/>
     <xsd:element name="BankAccount" type="n0:char18" minOccurs="0"/>
     <xsd:element name="AccountHolder" type="n0:char60" minOccurs="0"/>
     <xsd:element name="Bankaccountname" type="n0:char40" minOccurs="0"/>
     <xsd:element name="Iban" type="n0:char34" minOccurs="0"/>
     <xsd:element name="SwiftKey" type="tns:char11" minOccurs="0"/>
     <xsd:element name="Bankdetailvalidfrom" type="n0:char10" minOccurs="0"/>
     <xsd:element name="Bankdetailvalidto" type="n0:char10" minOccurs="0"/>
     <xsd:element name="PaymentMethodAction" type="n0:char1" minOccurs="0"/>
     <xsd:element name="BankIdAssignment" type="n0:char2" minOccurs="0"/>
     <xsd:element name="ContractAccountDetails" type="tns:IsuC4cV2TCaPaymentData" minOccurs="0"/>
    </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="IsuC4cV2SCaPaymentData">
    <xsd:sequence>
     <xsd:element name="ContractAccount" type="n0:char12" minOccurs="0"/>
     <xsd:element name="ContractAccountName" type="n0:char35" minOccurs="0"/>
     <xsd:element name="PaymMethodIn" type="n0:char1" minOccurs="0"/>
     <xsd:element name="PaymMethodInText" type="n0:char30" minOccurs="0"/>
     <xsd:element name="PaymMethodOut" type="n0:char5" minOccurs="0"/>
     <xsd:element name="PaymMethodOutText" type="n0:char30" minOccurs="0"/>
     <xsd:element name="IncomingBankId" type="n0:char4" minOccurs="0"/>
     <xsd:element name="IncomingBankIdText" type="n0:char140" minOccurs="0"/>
     <xsd:element name="IncomingBankAssigment" type="n0:char1" minOccurs="0"/>
     <xsd:element name="OutgoingBankId" type="n0:char4" minOccurs="0"/>
     <xsd:element name="OutgoingBankIdText" type="n0:char140" minOccurs="0"/>
     <xsd:element name="OutgoingBankAssignment" type="n0:char1" minOccurs="0"/>
     <xsd:element name="AlternativePayer" type="n0:char10" minOccurs="0"/>
     <xsd:element name="AlternativePayee" type="n0:char10" minOccurs="0"/>
     <xsd:element name="IncomingLockStatus" type="n0:char1" minOccurs="0"/>
     <xsd:element name="OutgoingLockStatus" type="n0:char1" minOccurs="0"/>
     <xsd:element name="IncomingLockReasonText" type="n0:char40" minOccurs="0"/>
     <xsd:element name="OutgoingLockReasonText" type="n0:char40" minOccurs="0"/>
     <xsd:element name="CompanyCodeGroup" type="n0:char4" minOccurs="0"/>
     <xsd:element name="StandardCompanyCode" type="n0:char4" minOccurs="0"/>
     <xsd:element name="CountryCode" type="tns:char3" minOccurs="0"/>
    </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="IsuC4cV2SAuditLog">
    <xsd:sequence>
     <xsd:element name="UserName" type="n0:char40" minOccurs="0"/>
     <xsd:element name="SystemId" type="n0:char50" minOccurs="0"/>
    </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="Bapiret2T">
    <xsd:sequence>
     <xsd:element name="item" type="tns:Bapiret2" minOccurs="0" maxOccurs="unbounded"/>
    </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="IsuC4cV2TCaBnkPmtData">
    <xsd:sequence>
     <xsd:element name="item" type="tns:IsuC4cV2SCaBnkPmtData" minOccurs="0" maxOccurs="unbounded"/>
    </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="IsuC4cV2TCaPaymentData">
    <xsd:sequence>
     <xsd:element name="item" type="tns:IsuC4cV2SCaPaymentData" minOccurs="0" maxOccurs="unbounded"/>
    </xsd:sequence>
   </xsd:complexType>
   <xsd:element name="IsuC4cV2CaPaymentData">
    <xsd:complexType>
     <xsd:sequence>
      <xsd:element name="IvBusinessPartner" type="n0:char10" minOccurs="0"/>
      <xsd:element name="IvSearchValue" type="tns:string" minOccurs="0"/>
      <xsd:element name="IvSelect" type="tns:string" minOccurs="0"/>
      <xsd:element name="IvSkip" type="xsd:int" minOccurs="0"/>
      <xsd:element name="IvSortField" type="tns:char30" minOccurs="0"/>
      <xsd:element name="IvSortType" type="tns:char4" minOccurs="0"/>
      <xsd:element name="IvTop" type="xsd:int" minOccurs="0"/>
     </xsd:sequence>
    </xsd:complexType>
   </xsd:element>
   <xsd:element name="IsuC4cV2CaPaymentDataResponse">
    <xsd:complexType>
     <xsd:sequence>
      <xsd:element name="EsCaPaymentData" type="tns:IsuC4cV2SCapaymentData" minOccurs="0"/>
      <xsd:element name="EtMessages" type="tns:Bapiret2T" minOccurs="0"/>
     </xsd:sequence>
    </xsd:complexType>
   </xsd:element>
   <xsd:element name="IsuC4cV2CaPaymthdUpdate">
    <xsd:complexType>
     <xsd:sequence>
      <xsd:element name="IsAudit" type="tns:IsuC4cV2SAuditLog" minOccurs="0"/>
      <xsd:element name="IsBankIdCaPaymentData" type="tns:IsuC4cV2SCaBnkPmtData" minOccurs="0"/>
     </xsd:sequence>
    </xsd:complexType>
   </xsd:element>
   <xsd:element name="IsuC4cV2CaPaymthdUpdateResponse">
    <xsd:complexType>
     <xsd:sequence>
      <xsd:element name="EtMessages" type="tns:Bapiret2T" minOccurs="0"/>
     </xsd:sequence>
    </xsd:complexType>
   </xsd:element>
  </xsd:schema>
  <xsd:schema attributeFormDefault="qualified" targetNamespace="urn:sap-com:document:sap:rfc:functions" xmlns:tns="urn:sap-com:document:sap:rfc:functions">
   <xsd:simpleType name="char1">
    <xsd:restriction base="xsd:string">
     <xsd:maxLength value="1"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="char10">
    <xsd:restriction base="xsd:string">
     <xsd:maxLength value="10"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="char12">
    <xsd:restriction base="xsd:string">
     <xsd:maxLength value="12"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="char140">
    <xsd:restriction base="xsd:string">
     <xsd:maxLength value="140"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="char15">
    <xsd:restriction base="xsd:string">
     <xsd:maxLength value="15"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="char18">
    <xsd:restriction base="xsd:string">
     <xsd:maxLength value="18"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="char2">
    <xsd:restriction base="xsd:string">
     <xsd:maxLength value="2"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="char20">
    <xsd:restriction base="xsd:string">
     <xsd:maxLength value="20"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="char220">
    <xsd:restriction base="xsd:string">
     <xsd:maxLength value="220"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="char3">
    <xsd:restriction base="xsd:string">
     <xsd:maxLength value="3"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="char30">
    <xsd:restriction base="xsd:string">
     <xsd:maxLength value="30"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="char32">
    <xsd:restriction base="xsd:string">
     <xsd:maxLength value="32"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="char34">
    <xsd:restriction base="xsd:string">
     <xsd:maxLength value="34"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="char35">
    <xsd:restriction base="xsd:string">
     <xsd:maxLength value="35"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="char4">
    <xsd:restriction base="xsd:string">
     <xsd:maxLength value="4"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="char40">
    <xsd:restriction base="xsd:string">
     <xsd:maxLength value="40"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="char5">
    <xsd:restriction base="xsd:string">
     <xsd:maxLength value="5"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="char50">
    <xsd:restriction base="xsd:string">
     <xsd:maxLength value="50"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="char6">
    <xsd:restriction base="xsd:string">
     <xsd:maxLength value="6"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="char60">
    <xsd:restriction base="xsd:string">
     <xsd:maxLength value="60"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="numeric3">
    <xsd:restriction base="xsd:string">
     <xsd:maxLength value="3"/>
     <xsd:pattern value="\d*"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="numeric6">
    <xsd:restriction base="xsd:string">
     <xsd:maxLength value="6"/>
     <xsd:pattern value="\d*"/>
    </xsd:restriction>
   </xsd:simpleType>
  </xsd:schema>
 </wsdl:types>
 <wsdl:message name="IsuC4cV2CaPaymentData">
  <wsdl:part name="parameters" element="tns:IsuC4cV2CaPaymentData"/>
 </wsdl:message>
 <wsdl:message name="IsuC4cV2CaPaymentDataResponse">
  <wsdl:part name="parameter" element="tns:IsuC4cV2CaPaymentDataResponse"/>
 </wsdl:message>
 <wsdl:message name="IsuC4cV2CaPaymthdUpdate">
  <wsdl:part name="parameters" element="tns:IsuC4cV2CaPaymthdUpdate"/>
 </wsdl:message>
 <wsdl:message name="IsuC4cV2CaPaymthdUpdateResponse">
  <wsdl:part name="parameter" element="tns:IsuC4cV2CaPaymthdUpdateResponse"/>
 </wsdl:message>
 <wsdl:portType name="ISU_C4C_V2_CA_PAYMENT_DATA">
  <wsdl:documentation>
   <sapdoc:sapdoc xmlns:sapdoc="urn:sap:esi:documentation">
    <sapdoc:docitem docURL="http://ldciemt.wdf.sap.corp:50022/sap/bc/esdt/docu/sd_text?sap-client=350&amp;sd_name=ISU_C4C_V2_CA_PAYMENT_DATA"/>
    <sapdoc:docitem applicationComponent="IS-U-CS-C4C"/>
   </sapdoc:sapdoc>
  </wsdl:documentation>
  <wsp:Policy>
   <wsp:PolicyReference URI="#IF_IF_ISU_C4C_V2_CA_PAYMENT_DATA"/>
  </wsp:Policy>
  <wsdl:operation name="IsuC4cV2CaPaymentData">
   <wsp:Policy>
    <wsp:PolicyReference URI="#OP_IF_OP_IsuC4cV2CaPaymentData"/>
   </wsp:Policy>
   <wsdl:input message="tns:IsuC4cV2CaPaymentData"/>
   <wsdl:output message="tns:IsuC4cV2CaPaymentDataResponse"/>
  </wsdl:operation>
  <wsdl:operation name="IsuC4cV2CaPaymthdUpdate">
   <wsp:Policy>
    <wsp:PolicyReference URI="#OP_IF_OP_IsuC4cV2CaPaymthdUpdate"/>
   </wsp:Policy>
   <wsdl:input message="tns:IsuC4cV2CaPaymthdUpdate"/>
   <wsdl:output message="tns:IsuC4cV2CaPaymthdUpdateResponse"/>
  </wsdl:operation>
 </wsdl:portType>
</wsdl:definitions>
