Resources/canonical_library/wsdl/ISU_C4C_V2_MOVE_IN.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions targetNamespace="urn:sap-com:document:sap:soap:functions:mc-style" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsoap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="urn:sap-com:document:sap:soap:functions:mc-style" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:n1="urn:sap-com:document:sap:rfc:functions">
 <wsdl:documentation>
  <sidl:sidl xmlns:sidl="http://www.sap.com/2007/03/sidl"/>
 </wsdl:documentation>
 <wsp:UsingPolicy wsdl:required="true"/>
 <wsp:Policy wsu:Id="IF_IF_ISU_C4C_V2_MOVE_IN">
  <sapsession:Session xmlns:sapsession="http://www.sap.com/webas/630/soap/features/session/">
   <sapsession:enableSession>false</sapsession:enableSession>
  </sapsession:Session>
 </wsp:Policy>
 <wsp:Policy wsu:Id="OP_IF_OP_IsuC4cV2MoveInCreate">
  <sapblock:enableBlocking xmlns:sapblock="http://www.sap.com/NW05/soap/features/blocking/">true</sapblock:enableBlocking>
  <sapcomhnd:enableCommit xmlns:sapcomhnd="http://www.sap.com/NW05/soap/features/commit/">false</sapcomhnd:enableCommit>
  <saptrhnw05:required xmlns:saptrhnw05="http://www.sap.com/NW05/soap/features/transaction/">no</saptrhnw05:required>
  <saprmnw05:enableWSRM xmlns:saprmnw05="http://www.sap.com/NW05/soap/features/wsrm/">false</saprmnw05:enableWSRM>
 </wsp:Policy>
 <wsp:Policy wsu:Id="OP_IF_OP_IsuC4cV2MoveInEdit">
  <sapblock:enableBlocking xmlns:sapblock="http://www.sap.com/NW05/soap/features/blocking/">true</sapblock:enableBlocking>
  <sapcomhnd:enableCommit xmlns:sapcomhnd="http://www.sap.com/NW05/soap/features/commit/">false</sapcomhnd:enableCommit>
  <saptrhnw05:required xmlns:saptrhnw05="http://www.sap.com/NW05/soap/features/transaction/">no</saptrhnw05:required>
  <saprmnw05:enableWSRM xmlns:saprmnw05="http://www.sap.com/NW05/soap/features/wsrm/">false</saprmnw05:enableWSRM>
 </wsp:Policy>
 <wsdl:types>
  <xsd:schema attributeFormDefault="qualified" targetNamespace="urn:sap-com:document:sap:rfc:functions" xmlns:tns="urn:sap-com:document:sap:rfc:functions">
   <xsd:simpleType name="char1">
    <xsd:restriction base="xsd:string">
     <xsd:maxLength value="1"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="char10">
    <xsd:restriction base="xsd:string">
     <xsd:maxLength value="10"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="char12">
    <xsd:restriction base="xsd:string">
     <xsd:maxLength value="12"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="char132">
    <xsd:restriction base="xsd:string">
     <xsd:maxLength value="132"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="char18">
    <xsd:restriction base="xsd:string">
     <xsd:maxLength value="18"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="char2">
    <xsd:restriction base="xsd:string">
     <xsd:maxLength value="2"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="char20">
    <xsd:restriction base="xsd:string">
     <xsd:maxLength value="20"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="char220">
    <xsd:restriction base="xsd:string">
     <xsd:maxLength value="220"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="char241">
    <xsd:restriction base="xsd:string">
     <xsd:maxLength value="241"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="char3">
    <xsd:restriction base="xsd:string">
     <xsd:maxLength value="3"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="char30">
    <xsd:restriction base="xsd:string">
     <xsd:maxLength value="30"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="char32">
    <xsd:restriction base="xsd:string">
     <xsd:maxLength value="32"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="char35">
    <xsd:restriction base="xsd:string">
     <xsd:maxLength value="35"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="char4">
    <xsd:restriction base="xsd:string">
     <xsd:maxLength value="4"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="char40">
    <xsd:restriction base="xsd:string">
     <xsd:maxLength value="40"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="char50">
    <xsd:restriction base="xsd:string">
     <xsd:maxLength value="50"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="char60">
    <xsd:restriction base="xsd:string">
     <xsd:maxLength value="60"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="char8">
    <xsd:restriction base="xsd:string">
     <xsd:maxLength value="8"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="cuky5">
    <xsd:restriction base="xsd:string">
     <xsd:maxLength value="5"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="curr13.2">
    <xsd:restriction base="xsd:decimal">
     <xsd:totalDigits value="13"/>
     <xsd:fractionDigits value="2"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="lang">
    <xsd:restriction base="xsd:string">
     <xsd:maxLength value="1"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="numeric2">
    <xsd:restriction base="xsd:string">
     <xsd:maxLength value="2"/>
     <xsd:pattern value="\d*"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="numeric3">
    <xsd:restriction base="xsd:string">
     <xsd:maxLength value="3"/>
     <xsd:pattern value="\d*"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="numeric6">
    <xsd:restriction base="xsd:string">
     <xsd:maxLength value="6"/>
     <xsd:pattern value="\d*"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="time">
    <xsd:restriction base="xsd:time">
     <xsd:pattern value="[0-9]{2}:[0-9]{2}:[0-9]{2}"/>
    </xsd:restriction>
   </xsd:simpleType>
  </xsd:schema>
  <xsd:schema attributeFormDefault="qualified" targetNamespace="urn:sap-com:document:sap:soap:functions:mc-style" xmlns:n0="urn:sap-com:document:sap:rfc:functions">
   <xsd:import namespace="urn:sap-com:document:sap:rfc:functions"/>
   <xsd:complexType name="IsuC4cV2SAuditLog">
    <xsd:sequence>
     <xsd:element name="UserName" type="n0:char40" minOccurs="0"/>
     <xsd:element name="SystemId" type="n0:char50" minOccurs="0"/>
    </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="IsuC4cV2STextlines">
    <xsd:sequence>
     <xsd:element name="TagColumn" type="n0:char2" minOccurs="0"/>
     <xsd:element name="TextLine" type="n0:char132" minOccurs="0"/>
    </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="IsuC4cV2SMeterRead">
    <xsd:sequence>
     <xsd:element name="MeterReadDocumentId" type="n0:char20" minOccurs="0"/>
     <xsd:element name="MeterReadingReason" type="n0:char2" minOccurs="0"/>
     <xsd:element name="EquipmentNumber" type="n0:char18" minOccurs="0"/>
     <xsd:element name="Material" type="n0:char40" minOccurs="0"/>
     <xsd:element name="SerialNumber" type="n0:char18" minOccurs="0"/>
     <xsd:element name="Register" type="n0:numeric3" minOccurs="0"/>
     <xsd:element name="ScheduledMeterReadingDate" type="n0:char10" minOccurs="0"/>
     <xsd:element name="MeterReadingDateForBilling" type="n0:char10" minOccurs="0"/>
     <xsd:element name="MeterReadingTimeForBilling" type="n0:time" minOccurs="0"/>
     <xsd:element name="MeterReadingRecorded" type="n0:char32" minOccurs="0"/>
     <xsd:element name="PreviousMeterReading" type="n0:char32" minOccurs="0"/>
     <xsd:element name="Consumption" type="n0:char32" minOccurs="0"/>
     <xsd:element name="ExpectedConsumption" type="n0:char32" minOccurs="0"/>
     <xsd:element name="UnitOfMeasure" type="n0:char3" minOccurs="0"/>
     <xsd:element name="MeterReadingType" type="n0:char2" minOccurs="0"/>
     <xsd:element name="MeterReadingStatus" type="n0:char1" minOccurs="0"/>
     <xsd:element name="MeterReadingActive" type="n0:char1" minOccurs="0"/>
     <xsd:element name="Installation" type="n0:char10" minOccurs="0"/>
     <xsd:element name="MultipleRegisters" type="n0:char1" minOccurs="0"/>
     <xsd:element name="Division" type="n0:char2" minOccurs="0"/>
     <xsd:element name="DivisionCategory" type="n0:numeric2" minOccurs="0"/>
     <xsd:element name="AmiMeter" type="n0:char1" minOccurs="0"/>
     <xsd:element name="Contract" type="n0:char10" minOccurs="0"/>
     <xsd:element name="MoveinDocnumber" type="n0:char12" minOccurs="0"/>
     <xsd:element name="MoveoutDocnumber" type="n0:char12" minOccurs="0"/>
     <xsd:element name="MeterReaderNote" type="n0:char4" minOccurs="0"/>
    </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="IsuC4cV2SContractDetails">
    <xsd:sequence>
     <xsd:element name="ContractAccount" type="n0:char12" minOccurs="0"/>
     <xsd:element name="ContractAccountName" type="n0:char35" minOccurs="0"/>
     <xsd:element name="Contract" type="n0:char10" minOccurs="0"/>
     <xsd:element name="Installation" type="n0:char10" minOccurs="0"/>
     <xsd:element name="Premise" type="n0:char10" minOccurs="0"/>
     <xsd:element name="Division" type="n0:char2" minOccurs="0"/>
     <xsd:element name="DivisionCategory" type="n0:numeric2" minOccurs="0"/>
     <xsd:element name="AccountDeterminationId" type="n0:char2" minOccurs="0"/>
     <xsd:element name="JointInvoice" type="n0:char1" minOccurs="0"/>
     <xsd:element name="SecurityNumber" type="n0:char12" minOccurs="0"/>
     <xsd:element name="RequestedAmount" type="tns:IsuC4cUtilAmount" minOccurs="0"/>
     <xsd:element name="RequestedReason" type="n0:char4" minOccurs="0"/>
     <xsd:element name="WaiverReason" type="n0:char4" minOccurs="0"/>
     <xsd:element name="StartDate" type="n0:char10" minOccurs="0"/>
     <xsd:element name="EndDate" type="n0:char10" minOccurs="0"/>
     <xsd:element name="CreateServiceOrder" type="n0:char1" minOccurs="0"/>
     <xsd:element name="ServiceOrderDescription" type="n0:char132" minOccurs="0"/>
     <xsd:element name="RateCategory" type="n0:char10" minOccurs="0"/>
    </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="IsuC4cUtilAmount">
    <xsd:sequence>
     <xsd:element name="Amount" type="n0:curr13.2" minOccurs="0"/>
     <xsd:element name="Currency" type="n0:cuky5" minOccurs="0"/>
    </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="IsuC4cV2SAddressDetails">
    <xsd:sequence>
     <xsd:element name="AddressNumber" type="n0:char10" minOccurs="0"/>
     <xsd:element name="StandardAddressIndicator" type="n0:char1" minOccurs="0"/>
     <xsd:element name="City" type="n0:char40" minOccurs="0"/>
     <xsd:element name="District" type="n0:char40" minOccurs="0"/>
     <xsd:element name="CityCode" type="n0:char12" minOccurs="0"/>
     <xsd:element name="DistrictCode" type="n0:char8" minOccurs="0"/>
     <xsd:element name="CityPostalCode" type="n0:char10" minOccurs="0"/>
     <xsd:element name="PoBoxPostalCode" type="n0:char10" minOccurs="0"/>
     <xsd:element name="CompanyPostalCode" type="n0:char10" minOccurs="0"/>
     <xsd:element name="PoBox" type="n0:char10" minOccurs="0"/>
     <xsd:element name="PoBoxNumber" type="n0:char1" minOccurs="0"/>
     <xsd:element name="PoBoxLocation" type="n0:char40" minOccurs="0"/>
     <xsd:element name="CityPoBoxCode" type="n0:char12" minOccurs="0"/>
     <xsd:element name="PoBoxRegion" type="n0:char3" minOccurs="0"/>
     <xsd:element name="PoBoxCity" type="n0:char3" minOccurs="0"/>
     <xsd:element name="Street" type="n0:char60" minOccurs="0"/>
     <xsd:element name="StreetCode" type="n0:char12" minOccurs="0"/>
     <xsd:element name="HouseNumber" type="n0:char10" minOccurs="0"/>
     <xsd:element name="HouseNumberSupplement" type="n0:char10" minOccurs="0"/>
     <xsd:element name="StreetSupplement1" type="n0:char40" minOccurs="0"/>
     <xsd:element name="StreetSupplement2" type="n0:char40" minOccurs="0"/>
     <xsd:element name="StreetSupplement3" type="n0:char40" minOccurs="0"/>
     <xsd:element name="Location" type="n0:char40" minOccurs="0"/>
     <xsd:element name="Building" type="n0:char20" minOccurs="0"/>
     <xsd:element name="Floor" type="n0:char10" minOccurs="0"/>
     <xsd:element name="RoomNumber" type="n0:char10" minOccurs="0"/>
     <xsd:element name="Country" type="n0:char3" minOccurs="0"/>
     <xsd:element name="Region" type="n0:char3" minOccurs="0"/>
     <xsd:element name="DefaultCommunication" type="n0:char3" minOccurs="0"/>
     <xsd:element name="TelephoneNumber" type="n0:char30" minOccurs="0"/>
     <xsd:element name="TelephoneExtension" type="n0:char10" minOccurs="0"/>
     <xsd:element name="FaxNumber" type="n0:char30" minOccurs="0"/>
     <xsd:element name="FaxExtension" type="n0:char10" minOccurs="0"/>
     <xsd:element name="RegionialGroup" type="n0:char8" minOccurs="0"/>
     <xsd:element name="EMail" type="n0:char241" minOccurs="0"/>
     <xsd:element name="MobileNumber" type="n0:char30" minOccurs="0"/>
     <xsd:element name="ValidFromDate" type="n0:char10" minOccurs="0"/>
     <xsd:element name="ValidToDate" type="n0:char10" minOccurs="0"/>
     <xsd:element name="SkipMailingAddress" type="n0:char1" minOccurs="0"/>
    </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="Bapiret2">
    <xsd:sequence>
     <xsd:element name="Type" type="n0:char1" minOccurs="0"/>
     <xsd:element name="Id" type="n0:char20" minOccurs="0"/>
     <xsd:element name="Number" type="n0:numeric3" minOccurs="0"/>
     <xsd:element name="Message" type="n0:char220" minOccurs="0"/>
     <xsd:element name="LogNo" type="n0:char20" minOccurs="0"/>
     <xsd:element name="LogMsgNo" type="n0:numeric6" minOccurs="0"/>
     <xsd:element name="MessageV1" type="n0:char50" minOccurs="0"/>
     <xsd:element name="MessageV2" type="n0:char50" minOccurs="0"/>
     <xsd:element name="MessageV3" type="n0:char50" minOccurs="0"/>
     <xsd:element name="MessageV4" type="n0:char50" minOccurs="0"/>
     <xsd:element name="Parameter" type="n0:char32" minOccurs="0"/>
     <xsd:element name="Row" type="xsd:int" minOccurs="0"/>
     <xsd:element name="Field" type="n0:char30" minOccurs="0"/>
     <xsd:element name="System" type="n0:char10" minOccurs="0"/>
    </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="IsuC4cV2TTextlines">
    <xsd:sequence>
     <xsd:element name="item" type="tns:IsuC4cV2STextlines" minOccurs="0" maxOccurs="unbounded"/>
    </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="IsuC4cV2TMeterRead">
    <xsd:sequence>
     <xsd:element name="item" type="tns:IsuC4cV2SMeterRead" minOccurs="0" maxOccurs="unbounded"/>
    </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="IsuC4cV2TContractDetails">
    <xsd:sequence>
     <xsd:element name="item" type="tns:IsuC4cV2SContractDetails" minOccurs="0" maxOccurs="unbounded"/>
    </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="IsuC4cV2TAddressDetails">
    <xsd:sequence>
     <xsd:element name="item" type="tns:IsuC4cV2SAddressDetails" minOccurs="0" maxOccurs="unbounded"/>
    </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="Bapirettab">
    <xsd:sequence>
     <xsd:element name="item" type="tns:Bapiret2" minOccurs="0" maxOccurs="unbounded"/>
    </xsd:sequence>
   </xsd:complexType>
   <xsd:element name="IsuC4cV2MoveInCreate">
    <xsd:complexType>
     <xsd:sequence>
      <xsd:element name="IsAudit" type="tns:IsuC4cV2SAuditLog" minOccurs="0"/>
      <xsd:element name="ItAddress" type="tns:IsuC4cV2TAddressDetails" minOccurs="0"/>
      <xsd:element name="ItContract" type="tns:IsuC4cV2TContractDetails" minOccurs="0"/>
      <xsd:element name="ItMeterReading" type="tns:IsuC4cV2TMeterRead" minOccurs="0"/>
      <xsd:element name="ItNote" type="tns:IsuC4cV2TTextlines" minOccurs="0"/>
      <xsd:element name="IvBusinessPartner" type="n0:char10" minOccurs="0"/>
      <xsd:element name="IvContractAccount" type="n0:char12" minOccurs="0"/>
      <xsd:element name="IvLanguage" type="n0:lang" minOccurs="0"/>
      <xsd:element name="IvMoveInDate" type="n0:char10" minOccurs="0"/>
      <xsd:element name="IvPartnerReference" type="n0:char10" minOccurs="0"/>
     </xsd:sequence>
    </xsd:complexType>
   </xsd:element>
   <xsd:element name="IsuC4cV2MoveInCreateResponse">
    <xsd:complexType>
     <xsd:sequence>
      <xsd:element name="EtAddress" type="tns:IsuC4cV2TAddressDetails" minOccurs="0"/>
      <xsd:element name="EtContract" type="tns:IsuC4cV2TContractDetails" minOccurs="0"/>
      <xsd:element name="EtMessages" type="tns:Bapirettab" minOccurs="0"/>
      <xsd:element name="EtMeterReading" type="tns:IsuC4cV2TMeterRead" minOccurs="0"/>
      <xsd:element name="EvMoveInDocument" type="n0:char12" minOccurs="0"/>
     </xsd:sequence>
    </xsd:complexType>
   </xsd:element>
   <xsd:element name="IsuC4cV2MoveInEdit">
    <xsd:complexType>
     <xsd:sequence>
      <xsd:element name="IsAudit" type="tns:IsuC4cV2SAuditLog" minOccurs="0"/>
      <xsd:element name="ItContract" type="tns:IsuC4cV2TContractDetails" minOccurs="0"/>
      <xsd:element name="ItMeterReading" type="tns:IsuC4cV2TMeterRead" minOccurs="0"/>
      <xsd:element name="IvCancelMovein" type="n0:char1" minOccurs="0"/>
      <xsd:element name="IvContractAccount" type="n0:char12" minOccurs="0"/>
      <xsd:element name="IvLanguage" type="n0:lang" minOccurs="0"/>
      <xsd:element name="IvMoveInDate" type="n0:char10" minOccurs="0"/>
      <xsd:element name="IvMoveInDocument" type="n0:char12" minOccurs="0"/>
      <xsd:element name="IvPartnerReference" type="n0:char10" minOccurs="0"/>
     </xsd:sequence>
    </xsd:complexType>
   </xsd:element>
   <xsd:element name="IsuC4cV2MoveInEditResponse">
    <xsd:complexType>
     <xsd:sequence>
      <xsd:element name="EtContract" type="tns:IsuC4cV2TContractDetails" minOccurs="0"/>
      <xsd:element name="EtMessages" type="tns:Bapirettab" minOccurs="0"/>
      <xsd:element name="EtMeterReading" type="tns:IsuC4cV2TMeterRead" minOccurs="0"/>
     </xsd:sequence>
    </xsd:complexType>
   </xsd:element>
  </xsd:schema>
 </wsdl:types>
 <wsdl:message name="IsuC4cV2MoveInCreate">
  <wsdl:part name="parameters" element="tns:IsuC4cV2MoveInCreate"/>
 </wsdl:message>
 <wsdl:message name="IsuC4cV2MoveInCreateResponse">
  <wsdl:part name="parameter" element="tns:IsuC4cV2MoveInCreateResponse"/>
 </wsdl:message>
 <wsdl:message name="IsuC4cV2MoveInEdit">
  <wsdl:part name="parameters" element="tns:IsuC4cV2MoveInEdit"/>
 </wsdl:message>
 <wsdl:message name="IsuC4cV2MoveInEditResponse">
  <wsdl:part name="parameter" element="tns:IsuC4cV2MoveInEditResponse"/>
 </wsdl:message>
 <wsdl:portType name="ISU_C4C_V2_MOVE_IN">
  <wsdl:documentation>
   <sapdoc:sapdoc xmlns:sapdoc="urn:sap:esi:documentation">
    <sapdoc:docitem docURL="http://ldciemt.wdf.sap.corp:50022/sap/bc/esdt/docu/sd_text?sap-client=350&amp;sd_name=ISU_C4C_V2_MOVE_IN"/>
    <sapdoc:docitem applicationComponent="IS-U-CS-C4C"/>
   </sapdoc:sapdoc>
  </wsdl:documentation>
  <wsp:Policy>
   <wsp:PolicyReference URI="#IF_IF_ISU_C4C_V2_MOVE_IN"/>
  </wsp:Policy>
  <wsdl:operation name="IsuC4cV2MoveInCreate">
   <wsp:Policy>
    <wsp:PolicyReference URI="#OP_IF_OP_IsuC4cV2MoveInCreate"/>
   </wsp:Policy>
   <wsdl:input message="tns:IsuC4cV2MoveInCreate"/>
   <wsdl:output message="tns:IsuC4cV2MoveInCreateResponse"/>
  </wsdl:operation>
  <wsdl:operation name="IsuC4cV2MoveInEdit">
   <wsp:Policy>
    <wsp:PolicyReference URI="#OP_IF_OP_IsuC4cV2MoveInEdit"/>
   </wsp:Policy>
   <wsdl:input message="tns:IsuC4cV2MoveInEdit"/>
   <wsdl:output message="tns:IsuC4cV2MoveInEditResponse"/>
  </wsdl:operation>
 </wsdl:portType>
</wsdl:definitions>
