Resources/canonical_library/wsdl/ISU_C4C_SRV_ORD_GET.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions targetNamespace="urn:sap-com:document:sap:soap:functions:mc-style" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsoap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="urn:sap-com:document:sap:soap:functions:mc-style" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:n1="urn:sap-com:document:sap:rfc:functions">
 <wsdl:documentation>
  <sidl:sidl xmlns:sidl="http://www.sap.com/2007/03/sidl"/>
 </wsdl:documentation>
 <wsp:UsingPolicy wsdl:required="true"/>
 <wsp:Policy wsu:Id="IF_IF_ISU_C4C_SRV_ORD_GET">
  <sapsession:Session xmlns:sapsession="http://www.sap.com/webas/630/soap/features/session/">
   <sapsession:enableSession>false</sapsession:enableSession>
  </sapsession:Session>
 </wsp:Policy>
 <wsp:Policy wsu:Id="OP_IF_OP_IsuC4cSrvOrdGet">
  <sapblock:enableBlocking xmlns:sapblock="http://www.sap.com/NW05/soap/features/blocking/">true</sapblock:enableBlocking>
  <sapcomhnd:enableCommit xmlns:sapcomhnd="http://www.sap.com/NW05/soap/features/commit/">false</sapcomhnd:enableCommit>
  <saptrhnw05:required xmlns:saptrhnw05="http://www.sap.com/NW05/soap/features/transaction/">no</saptrhnw05:required>
  <saprmnw05:enableWSRM xmlns:saprmnw05="http://www.sap.com/NW05/soap/features/wsrm/">false</saprmnw05:enableWSRM>
 </wsp:Policy>
 <wsdl:types>
  <xsd:schema attributeFormDefault="qualified" targetNamespace="urn:sap-com:document:sap:rfc:functions">
   <xsd:simpleType name="char1">
    <xsd:restriction base="xsd:string">
     <xsd:maxLength value="1"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="char10">
    <xsd:restriction base="xsd:string">
     <xsd:maxLength value="10"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="char12">
    <xsd:restriction base="xsd:string">
     <xsd:maxLength value="12"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="char2">
    <xsd:restriction base="xsd:string">
     <xsd:maxLength value="2"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="char20">
    <xsd:restriction base="xsd:string">
     <xsd:maxLength value="20"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="char220">
    <xsd:restriction base="xsd:string">
     <xsd:maxLength value="220"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="char3">
    <xsd:restriction base="xsd:string">
     <xsd:maxLength value="3"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="char30">
    <xsd:restriction base="xsd:string">
     <xsd:maxLength value="30"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="char32">
    <xsd:restriction base="xsd:string">
     <xsd:maxLength value="32"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="char35">
    <xsd:restriction base="xsd:string">
     <xsd:maxLength value="35"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="char4">
    <xsd:restriction base="xsd:string">
     <xsd:maxLength value="4"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="char40">
    <xsd:restriction base="xsd:string">
     <xsd:maxLength value="40"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="char50">
    <xsd:restriction base="xsd:string">
     <xsd:maxLength value="50"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="char6">
    <xsd:restriction base="xsd:string">
     <xsd:maxLength value="6"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="char60">
    <xsd:restriction base="xsd:string">
     <xsd:maxLength value="60"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="char8">
    <xsd:restriction base="xsd:string">
     <xsd:maxLength value="8"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="date10">
    <xsd:restriction base="xsd:string">
     <xsd:maxLength value="10"/>
     <xsd:pattern value="\d\d\d\d-\d\d-\d\d"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="lang">
    <xsd:restriction base="xsd:string">
     <xsd:maxLength value="1"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="numeric2">
    <xsd:restriction base="xsd:string">
     <xsd:maxLength value="2"/>
     <xsd:pattern value="\d*"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="numeric3">
    <xsd:restriction base="xsd:string">
     <xsd:maxLength value="3"/>
     <xsd:pattern value="\d*"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="numeric6">
    <xsd:restriction base="xsd:string">
     <xsd:maxLength value="6"/>
     <xsd:pattern value="\d*"/>
    </xsd:restriction>
   </xsd:simpleType>
  </xsd:schema>
  <xsd:schema attributeFormDefault="qualified" targetNamespace="urn:sap-com:document:sap:soap:functions:mc-style" xmlns:n0="urn:sap-com:document:sap:rfc:functions">
   <xsd:import namespace="urn:sap-com:document:sap:rfc:functions"/>
   <xsd:simpleType name="char1">
    <xsd:restriction base="xsd:string">
     <xsd:maxLength value="1"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="char10">
    <xsd:restriction base="xsd:string">
     <xsd:maxLength value="10"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="char12">
    <xsd:restriction base="xsd:string">
     <xsd:maxLength value="12"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="char132">
    <xsd:restriction base="xsd:string">
     <xsd:maxLength value="132"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="char2">
    <xsd:restriction base="xsd:string">
     <xsd:maxLength value="2"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="char250">
    <xsd:restriction base="xsd:string">
     <xsd:maxLength value="250"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="char255">
    <xsd:restriction base="xsd:string">
     <xsd:maxLength value="255"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="char30">
    <xsd:restriction base="xsd:string">
     <xsd:maxLength value="30"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="char40">
    <xsd:restriction base="xsd:string">
     <xsd:maxLength value="40"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="char45">
    <xsd:restriction base="xsd:string">
     <xsd:maxLength value="45"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="numeric5">
    <xsd:restriction base="xsd:string">
     <xsd:maxLength value="5"/>
     <xsd:pattern value="\d*"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:complexType name="IsuSUtilSoSearch">
    <xsd:sequence>
     <xsd:element name="ServiceOrderId" type="tns:IsuUtilTSoSelParameters" minOccurs="0"/>
     <xsd:element name="UserStatus" type="tns:IsuUtilTSoSelParameters" minOccurs="0"/>
     <xsd:element name="SystemStatus" type="tns:IsuUtilTSoSelParameters" minOccurs="0"/>
     <xsd:element name="ConnObjId" type="tns:char30" minOccurs="0"/>
     <xsd:element name="OrderDate" type="tns:IsuUtilTSoSelParameters" minOccurs="0"/>
     <xsd:element name="OrderType" type="tns:IsuUtilTSoSelParameters" minOccurs="0"/>
    </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="IsuUtilSSoSelParameters">
    <xsd:sequence>
     <xsd:element name="FieldName" type="tns:char30" minOccurs="0"/>
     <xsd:element name="Sign" type="tns:char1" minOccurs="0"/>
     <xsd:element name="Option" type="tns:char2" minOccurs="0"/>
     <xsd:element name="LowValue" type="tns:char45" minOccurs="0"/>
     <xsd:element name="HighValue" type="tns:char45" minOccurs="0"/>
    </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="CodUtilitiesSrvOrdS">
    <xsd:sequence>
     <xsd:element name="ServiceOrderId" type="n0:char12"/>
     <xsd:element name="ServiceOrderType" type="n0:char4"/>
     <xsd:element name="TypeText" type="n0:char40"/>
     <xsd:element name="ServiceOrderCat" type="n0:numeric2"/>
     <xsd:element name="CategoryText" type="n0:char40"/>
     <xsd:element name="Description" type="n0:char40"/>
     <xsd:element name="Status" type="n0:numeric2"/>
     <xsd:element name="StatusText" type="n0:char40"/>
     <xsd:element name="StartDate" type="n0:char8"/>
     <xsd:element name="StartTime" type="n0:char6"/>
     <xsd:element name="EndDate" type="n0:char8"/>
     <xsd:element name="EndTime" type="n0:char6"/>
     <xsd:element name="Equidescr" type="n0:char40"/>
     <xsd:element name="Funcldescr" type="n0:char40"/>
     <xsd:element name="NameList" type="n0:char35"/>
     <xsd:element name="Tel1Numbr" type="n0:char30"/>
     <xsd:element name="PostlCod1" type="n0:char10"/>
     <xsd:element name="City" type="n0:char40"/>
     <xsd:element name="District" type="n0:char40"/>
     <xsd:element name="Country" type="n0:char3"/>
     <xsd:element name="Countryiso" type="n0:char2"/>
     <xsd:element name="Region" type="n0:char3"/>
     <xsd:element name="Street" type="n0:char60"/>
     <xsd:element name="Contract" type="n0:char10"/>
     <xsd:element name="ContAcct" type="n0:char12"/>
     <xsd:element name="Division" type="n0:char2"/>
     <xsd:element name="DivisionText" type="n0:char20"/>
     <xsd:element name="PremiseId" type="n0:char10" minOccurs="0"/>
     <xsd:element name="ConnectionObjId" type="tns:char30" minOccurs="0"/>
     <xsd:element name="UserStatus" type="tns:char40" minOccurs="0"/>
     <xsd:element name="CustomerId" type="n0:char10" minOccurs="0"/>
     <xsd:element name="NotificationNo" type="tns:char12" minOccurs="0"/>
     <xsd:element name="CreatedOn" type="tns:char10" minOccurs="0"/>
     <xsd:element name="SystemStatus" type="tns:char40" minOccurs="0"/>
     <xsd:element name="Longtext" type="tns:TLINE_TAB" minOccurs="0"/>
     <xsd:element name="UserStatusTab" type="tns:ISU_C4C_T_USER_STATUS" minOccurs="0"/>
     <xsd:element name="SystemStatusTab" type="tns:ISU_C4C_T_SYSTEM_STATUS" minOccurs="0"/>
    </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="TLINE">
    <xsd:sequence>
     <xsd:element name="TDFORMAT" type="tns:char2"/>
     <xsd:element name="TDLINE" type="tns:char132"/>
    </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="ISU_C4C_USER_STATUS">
    <xsd:sequence>
     <xsd:element name="USER_STATUS" type="tns:char40" minOccurs="0"/>
     <xsd:element name="USER_STATUS_DESC" type="tns:char250" minOccurs="0"/>
    </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="ISU_C4C_SYSTEM_STATUS">
    <xsd:sequence>
     <xsd:element name="SYSTEM_STATUS" type="tns:char40" minOccurs="0"/>
     <xsd:element name="SYST_STATUS_DES" type="tns:char250" minOccurs="0"/>
    </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="IsuC4cUtilExtensionS">
    <xsd:sequence>
     <xsd:element name="RefObject" type="tns:char30" minOccurs="0"/>
     <xsd:element name="RefFieldName" type="tns:char30" minOccurs="0"/>
     <xsd:element name="RefFieldValue" type="tns:char255" minOccurs="0"/>
     <xsd:element name="ExtensionData" type="tns:IsuC4cUtilExtensionResT" minOccurs="0"/>
    </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="IsuC4cUtilExtensionResS">
    <xsd:sequence>
     <xsd:element name="FieldName" type="tns:char30" minOccurs="0"/>
     <xsd:element name="FieldValue" type="tns:char255" minOccurs="0"/>
    </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="Bapiret2">
    <xsd:sequence>
     <xsd:element name="Type" type="n0:char1"/>
     <xsd:element name="Id" type="n0:char20"/>
     <xsd:element name="Number" type="n0:numeric3"/>
     <xsd:element name="Message" type="n0:char220"/>
     <xsd:element name="LogNo" type="n0:char20"/>
     <xsd:element name="LogMsgNo" type="n0:numeric6"/>
     <xsd:element name="MessageV1" type="n0:char50"/>
     <xsd:element name="MessageV2" type="n0:char50"/>
     <xsd:element name="MessageV3" type="n0:char50"/>
     <xsd:element name="MessageV4" type="n0:char50"/>
     <xsd:element name="Parameter" type="n0:char32"/>
     <xsd:element name="Row" type="xsd:int"/>
     <xsd:element name="Field" type="n0:char30"/>
     <xsd:element name="System" type="n0:char10"/>
    </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="IsuUtilTSoSelParameters">
    <xsd:sequence>
     <xsd:element name="item" type="tns:IsuUtilSSoSelParameters" minOccurs="0" maxOccurs="unbounded"/>
    </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="CodUtilitiesSrvOrdT">
    <xsd:sequence>
     <xsd:element name="item" type="tns:CodUtilitiesSrvOrdS" minOccurs="0" maxOccurs="unbounded"/>
    </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="TLINE_TAB">
    <xsd:sequence>
     <xsd:element name="item" type="tns:TLINE" minOccurs="0" maxOccurs="unbounded"/>
    </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="ISU_C4C_T_USER_STATUS">
    <xsd:sequence>
     <xsd:element name="item" type="tns:ISU_C4C_USER_STATUS" minOccurs="0" maxOccurs="unbounded"/>
    </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="ISU_C4C_T_SYSTEM_STATUS">
    <xsd:sequence>
     <xsd:element name="item" type="tns:ISU_C4C_SYSTEM_STATUS" minOccurs="0" maxOccurs="unbounded"/>
    </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="IsuC4cUtilExtensionT">
    <xsd:sequence>
     <xsd:element name="item" type="tns:IsuC4cUtilExtensionS" minOccurs="0" maxOccurs="unbounded"/>
    </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="IsuC4cUtilExtensionResT">
    <xsd:sequence>
     <xsd:element name="item" type="tns:IsuC4cUtilExtensionResS" minOccurs="0" maxOccurs="unbounded"/>
    </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="Bapiret2T">
    <xsd:sequence>
     <xsd:element name="item" type="tns:Bapiret2" minOccurs="0" maxOccurs="unbounded"/>
    </xsd:sequence>
   </xsd:complexType>
   <xsd:element name="IsuC4cSrvOrdGet">
    <xsd:complexType>
     <xsd:sequence>
      <xsd:element name="IsSoSearchParameters" type="tns:IsuSUtilSoSearch" minOccurs="0"/>
      <xsd:element name="IvBp" type="n0:char10" minOccurs="0"/>
      <xsd:element name="IvDatefrom" type="n0:date10" minOccurs="0"/>
      <xsd:element name="IvDateto" type="n0:date10" minOccurs="0"/>
      <xsd:element name="IvFilterContractByBp" type="n0:char1" minOccurs="0"/>
      <xsd:element name="IvHits" type="tns:numeric5" minOccurs="0"/>
      <xsd:element name="IvLangu" type="n0:lang" minOccurs="0"/>
      <xsd:element name="IvPod" type="n0:char50" minOccurs="0"/>
      <xsd:element name="IvPremise" type="n0:char10" minOccurs="0"/>
     </xsd:sequence>
    </xsd:complexType>
   </xsd:element>
   <xsd:element name="IsuC4cSrvOrdGetResponse">
    <xsd:complexType>
     <xsd:sequence>
      <xsd:element name="EtExtensionData" type="tns:IsuC4cUtilExtensionT" minOccurs="0"/>
      <xsd:element name="EtMessages" type="tns:Bapiret2T"/>
      <xsd:element name="EtServiceOrders" type="tns:CodUtilitiesSrvOrdT"/>
     </xsd:sequence>
    </xsd:complexType>
   </xsd:element>
  </xsd:schema>
 </wsdl:types>
 <wsdl:message name="IsuC4cSrvOrdGet">
  <wsdl:part name="parameters" element="tns:IsuC4cSrvOrdGet"/>
 </wsdl:message>
 <wsdl:message name="IsuC4cSrvOrdGetResponse">
  <wsdl:part name="parameter" element="tns:IsuC4cSrvOrdGetResponse"/>
 </wsdl:message>
 <wsdl:portType name="ISU_C4C_SRV_ORD_GET">
  <wsdl:documentation>
   <sapdoc:sapdoc xmlns:sapdoc="urn:sap:esi:documentation">
    <sapdoc:docitem docURL="http://ldciemo.wdf.sap.corp:50000/sap/bc/esdt/docu/sd_text?sap-client=300&amp;sd_name=ISU_C4C_SRV_ORD_GET"/>
    <sapdoc:docitem applicationComponent="IS-U-CS-C4C"/>
   </sapdoc:sapdoc>
  </wsdl:documentation>

  <wsdl:operation name="IsuC4cSrvOrdGet">

   <wsdl:input message="tns:IsuC4cSrvOrdGet"/>
   <wsdl:output message="tns:IsuC4cSrvOrdGetResponse"/>
  </wsdl:operation>
 </wsdl:portType>
</wsdl:definitions>
