Resources/canonical_library/wsdl/ISU_C4C_V2_OTP_CREATE.wsdl

<?xml version="1.0" encoding="UTF-8"?><wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:n1="urn:sap-com:document:sap:rfc:functions" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="urn:sap-com:document:sap:soap:functions:mc-style" xmlns:wsoap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:sap-com:document:sap:soap:functions:mc-style">
 <wsdl:documentation>
  <sidl:sidl xmlns:sidl="http://www.sap.com/2007/03/sidl"/>
 </wsdl:documentation>
 <wsp:UsingPolicy wsdl:required="true"/>
 <wsp:Policy wsu:Id="IF_IF_ISU_C4C_V2_OTP_CREATE">
  <sapsession:Session xmlns:sapsession="http://www.sap.com/webas/630/soap/features/session/">
   <sapsession:enableSession>false</sapsession:enableSession>
  </sapsession:Session>
 </wsp:Policy>
 <wsp:Policy wsu:Id="OP_IF_OP_IsuC4cV2OneTimePayCreate">
  <sapblock:enableBlocking xmlns:sapblock="http://www.sap.com/NW05/soap/features/blocking/">true</sapblock:enableBlocking>
  <sapcomhnd:enableCommit xmlns:sapcomhnd="http://www.sap.com/NW05/soap/features/commit/">false</sapcomhnd:enableCommit>
  <saptrhnw05:required xmlns:saptrhnw05="http://www.sap.com/NW05/soap/features/transaction/">no</saptrhnw05:required>
  <saprmnw05:enableWSRM xmlns:saprmnw05="http://www.sap.com/NW05/soap/features/wsrm/">false</saprmnw05:enableWSRM>
 </wsp:Policy>
 <wsdl:types>
  <xsd:schema xmlns:tns="urn:sap-com:document:sap:rfc:functions" attributeFormDefault="qualified" targetNamespace="urn:sap-com:document:sap:rfc:functions">
   <xsd:simpleType name="char1">
    <xsd:restriction base="xsd:string">
     <xsd:maxLength value="1"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="char10">
    <xsd:restriction base="xsd:string">
     <xsd:maxLength value="10"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="char12">
    <xsd:restriction base="xsd:string">
     <xsd:maxLength value="12"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="char20">
    <xsd:restriction base="xsd:string">
     <xsd:maxLength value="20"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="char220">
    <xsd:restriction base="xsd:string">
     <xsd:maxLength value="220"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="char3">
    <xsd:restriction base="xsd:string">
     <xsd:maxLength value="3"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="char30">
    <xsd:restriction base="xsd:string">
     <xsd:maxLength value="30"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="char32">
    <xsd:restriction base="xsd:string">
     <xsd:maxLength value="32"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="char4">
    <xsd:restriction base="xsd:string">
     <xsd:maxLength value="4"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="char40">
    <xsd:restriction base="xsd:string">
     <xsd:maxLength value="40"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="char50">
    <xsd:restriction base="xsd:string">
     <xsd:maxLength value="50"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="cuky5">
    <xsd:restriction base="xsd:string">
     <xsd:maxLength value="5"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="numeric3">
    <xsd:restriction base="xsd:string">
     <xsd:maxLength value="3"/>
     <xsd:pattern value="\d*"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="numeric6">
    <xsd:restriction base="xsd:string">
     <xsd:maxLength value="6"/>
     <xsd:pattern value="\d*"/>
    </xsd:restriction>
   </xsd:simpleType>
  </xsd:schema>
  <xsd:schema xmlns:n0="urn:sap-com:document:sap:rfc:functions" attributeFormDefault="qualified" targetNamespace="urn:sap-com:document:sap:soap:functions:mc-style">
   <xsd:import namespace="urn:sap-com:document:sap:rfc:functions"/>
   <xsd:simpleType name="curr13.2">
    <xsd:restriction base="xsd:decimal">
     <xsd:totalDigits value="13"/>
     <xsd:fractionDigits value="2"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:complexType name="IsuC4cV2GenebppPaydata">
    <xsd:sequence>
     <xsd:element minOccurs="0" name="Bankid" type="n0:char4"/>
     <xsd:element minOccurs="0" name="PayAmount" type="tns:IsuC4cUtilAmount"/>
     <xsd:element minOccurs="0" name="CalledByService" type="n0:char3"/>
     <xsd:element minOccurs="0" name="ContractAccount" type="n0:char12"/>
     <xsd:element minOccurs="0" name="Partnerkey" type="n0:char12"/>
    </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="IsuC4cUtilAmount">
    <xsd:sequence>
     <xsd:element minOccurs="0" name="Amount" type="tns:curr13.2"/>
     <xsd:element minOccurs="0" name="Currency" type="n0:cuky5"/>
    </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="IsuC4cV2SAuditLog">
    <xsd:sequence>
     <xsd:element minOccurs="0" name="UserName" type="n0:char40"/>
     <xsd:element minOccurs="0" name="SystemId" type="n0:char50"/>
    </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="Bapiret2">
    <xsd:sequence>
     <xsd:element minOccurs="0" name="Type" type="n0:char1"/>
     <xsd:element minOccurs="0" name="Id" type="n0:char20"/>
     <xsd:element minOccurs="0" name="Number" type="n0:numeric3"/>
     <xsd:element minOccurs="0" name="Message" type="n0:char220"/>
     <xsd:element minOccurs="0" name="LogNo" type="n0:char20"/>
     <xsd:element minOccurs="0" name="LogMsgNo" type="n0:numeric6"/>
     <xsd:element minOccurs="0" name="MessageV1" type="n0:char50"/>
     <xsd:element minOccurs="0" name="MessageV2" type="n0:char50"/>
     <xsd:element minOccurs="0" name="MessageV3" type="n0:char50"/>
     <xsd:element minOccurs="0" name="MessageV4" type="n0:char50"/>
     <xsd:element minOccurs="0" name="Parameter" type="n0:char32"/>
     <xsd:element minOccurs="0" name="Row" type="xsd:int"/>
     <xsd:element minOccurs="0" name="Field" type="n0:char30"/>
     <xsd:element minOccurs="0" name="System" type="n0:char10"/>
    </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="Bapirettab">
    <xsd:sequence>
     <xsd:element maxOccurs="unbounded" minOccurs="0" name="item" type="tns:Bapiret2"/>
    </xsd:sequence>
   </xsd:complexType>
   <xsd:element name="IsuC4cV2OneTimePayCreate">
    <xsd:complexType>
     <xsd:sequence>
      <xsd:element minOccurs="0" name="IsAudit" type="tns:IsuC4cV2SAuditLog"/>
      <xsd:element minOccurs="0" name="IsPaydata" type="tns:IsuC4cV2GenebppPaydata"/>
      <xsd:element minOccurs="0" name="IvPaymentDate" type="n0:char10"/>
     </xsd:sequence>
    </xsd:complexType>
   </xsd:element>
   <xsd:element name="IsuC4cV2OneTimePayCreateResponse">
    <xsd:complexType>
     <xsd:sequence>
      <xsd:element minOccurs="0" name="EtMessages" type="tns:Bapirettab"/>
     </xsd:sequence>
    </xsd:complexType>
   </xsd:element>
  </xsd:schema>
 </wsdl:types>
 <wsdl:message name="IsuC4cV2OneTimePayCreate">
  <wsdl:part element="tns:IsuC4cV2OneTimePayCreate" name="parameters"/>
 </wsdl:message>
 <wsdl:message name="IsuC4cV2OneTimePayCreateResponse">
  <wsdl:part element="tns:IsuC4cV2OneTimePayCreateResponse" name="parameter"/>
 </wsdl:message>
 <wsdl:portType name="ISU_C4C_V2_OTP_CREATE">
  <wsdl:documentation>
   <sapdoc:sapdoc xmlns:sapdoc="urn:sap:esi:documentation">
    <sapdoc:docitem docURL="http://ldciemt.wdf.sap.corp:50022/sap/bc/esdt/docu/sd_text?sap-client=350&amp;sd_name=ISU_C4C_V2_OTP_CREATE"/>
    <sapdoc:docitem applicationComponent="IS-U-CS-C4C"/>
   </sapdoc:sapdoc>
  </wsdl:documentation>

  <wsdl:operation name="IsuC4cV2OneTimePayCreate">

   <wsdl:input message="tns:IsuC4cV2OneTimePayCreate"/>
   <wsdl:output message="tns:IsuC4cV2OneTimePayCreateResponse"/>
  </wsdl:operation>
 </wsdl:portType>
</wsdl:definitions>