Resources/canonical_library/wsdl/SFSFUserUpsertRequestConfirmation_Out.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="SFSFUserUpsertRequestConfirmation_Out"
	targetNamespace="http://sap.com/xi/SFIHCM01" xmlns:p1="http://sap.com/xi/SFIHCM01"
	xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy"
	xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd"
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
	<wsdl:documentation />
	<wsp:UsingPolicy wsdl:required="true" />
	<wsp:Policy wsu:Id="OP_SFSFUserUpsertRequestConfirmation_Out" />
	<wsdl:types>
		<xsd:schema targetNamespace="http://sap.com/xi/SFIHCM01"
			xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://sap.com/xi/SFIHCM01">
			<xsd:element name="SFWebServiceFaultException">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="standard" type="ExchangeFaultData" />
						<xsd:element name="addition" type="SFWebServiceFaultException" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="upsertResponse" type="upsertResponse" />
			<xsd:element name="upsertRequest" type="upsertRequest" />
			<xsd:complexType name="ExchangeFaultData">
				<xsd:annotation>
					<xsd:appinfo source="http://sap.com/xi/VersionID">dee96dd6da3e11e1bcd100001de63cf6
					</xsd:appinfo>
				</xsd:annotation>
				<xsd:sequence>
					<xsd:element name="faultText" type="xsd:string" />
					<xsd:element name="faultUrl" type="xsd:string"
						minOccurs="0" />
					<xsd:element name="faultDetail" type="ExchangeLogData"
						minOccurs="0" maxOccurs="unbounded" />
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="SFWebServiceFaultException">
				<xsd:annotation>
					<xsd:appinfo source="http://sap.com/xi/TextID">cb977b0c298411e28be8000018b99fca
					</xsd:appinfo>
					<xsd:documentation xml:lang="EN">SF Exception
					</xsd:documentation>
					<xsd:appinfo source="http://sap.com/xi/VersionID">8b5ab860da4211e1b7f000001de63cf6
					</xsd:appinfo>
				</xsd:annotation>
				<xsd:sequence>
					<xsd:element name="errorCode" type="xsd:string" />
					<xsd:element name="errorMessage" type="xsd:string" />
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="ObjectEditResult">
				<xsd:annotation>
					<xsd:appinfo source="http://sap.com/xi/TextID">cb7e4f0f298411e2ce93000018b99fca
					</xsd:appinfo>
					<xsd:documentation xml:lang="EN">Object Edit Result
					</xsd:documentation>
					<xsd:appinfo source="http://sap.com/xi/VersionID">39f4b0cddfd511e1af8600001de63cf7
					</xsd:appinfo>
				</xsd:annotation>
				<xsd:sequence>
					<xsd:element name="id" type="xsd:string" minOccurs="0" />
					<xsd:element name="errorStatus" type="xsd:string" />
					<xsd:element name="editStatus" type="xsd:string" />
					<xsd:element name="index" type="xsd:integer" />
					<xsd:element name="message" type="xsd:string" />
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="upsertResponse">
				<xsd:annotation>
					<xsd:appinfo source="http://sap.com/xi/TextID">cb962aaa298411e287c9000018b99fca
					</xsd:appinfo>
					<xsd:documentation xml:lang="EN">Upsert Response
					</xsd:documentation>
					<xsd:appinfo source="http://sap.com/xi/VersionID">6d94205fdfd611e1aa7600001de63cf7
					</xsd:appinfo>
				</xsd:annotation>
				<xsd:sequence>
					<xsd:element name="result" type="UpsertResult" />
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="SFObject">
				<xsd:annotation>
					<xsd:appinfo source="http://sap.com/xi/TextID">c9066ec7298411e28b16000018b99fca
					</xsd:appinfo>
					<xsd:documentation xml:lang="EN">SF Object
					</xsd:documentation>
					<xsd:appinfo source="http://sap.com/xi/VersionID">b3aa2ad7e13811e1c08d00001e2b30eb
					</xsd:appinfo>
				</xsd:annotation>
				<xsd:sequence>
					<xsd:element name="id" type="xsd:string" minOccurs="0">
						<xsd:annotation>
							<xsd:appinfo source="http://sap.com/xi/TextID">845298abdd7a11e1a1b5002314a3f0b9
							</xsd:appinfo>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="businessKeys" type="xsd:string"
						minOccurs="0">
						<xsd:annotation>
							<xsd:appinfo source="http://sap.com/xi/TextID">845298acdd7a11e1a0dd002314a3f0b9
							</xsd:appinfo>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="type" type="xsd:string">
						<xsd:annotation>
							<xsd:appinfo source="http://sap.com/xi/TextID">845298addd7a11e18211002314a3f0b9
							</xsd:appinfo>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="status" type="xsd:string">
						<xsd:annotation>
							<xsd:appinfo source="http://sap.com/xi/TextID">a0ac23d0dd7911e1ce6f002314a3f0b9
							</xsd:appinfo>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="externalId" type="xsd:string">
						<xsd:annotation>
							<xsd:appinfo source="http://sap.com/xi/TextID">a0ac23d1dd7911e192fe002314a3f0b9
							</xsd:appinfo>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="username" type="xsd:string">
						<xsd:annotation>
							<xsd:appinfo source="http://sap.com/xi/TextID">a0ac23d2dd7911e19212002314a3f0b9
							</xsd:appinfo>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="firstName" type="xsd:string">
						<xsd:annotation>
							<xsd:appinfo source="http://sap.com/xi/TextID">a0ac23d3dd7911e1978c002314a3f0b9
							</xsd:appinfo>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="lastName" type="xsd:string">
						<xsd:annotation>
							<xsd:appinfo source="http://sap.com/xi/TextID">a0ac23d4dd7911e1916d002314a3f0b9
							</xsd:appinfo>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="mi" type="xsd:string" minOccurs="0">
						<xsd:annotation>
							<xsd:appinfo source="http://sap.com/xi/TextID">a0ac23d5dd7911e1808a002314a3f0b9
							</xsd:appinfo>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="gender" type="xsd:string" minOccurs="0">
						<xsd:annotation>
							<xsd:appinfo source="http://sap.com/xi/TextID">a0ac23d6dd7911e18b5c002314a3f0b9
							</xsd:appinfo>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="email" type="xsd:string">
						<xsd:annotation>
							<xsd:appinfo source="http://sap.com/xi/TextID">a0ac23d7dd7911e1c7c1002314a3f0b9
							</xsd:appinfo>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="managerExternalId" type="xsd:string">
						<xsd:annotation>
							<xsd:appinfo source="http://sap.com/xi/TextID">a0ac23d8dd7911e1a58a002314a3f0b9
							</xsd:appinfo>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="hrExternalId" type="xsd:string">
						<xsd:annotation>
							<xsd:appinfo source="http://sap.com/xi/TextID">a0ac23d9dd7911e1b353002314a3f0b9
							</xsd:appinfo>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="department" type="xsd:string"
						minOccurs="0">
						<xsd:annotation>
							<xsd:appinfo source="http://sap.com/xi/TextID">a0ac23dadd7911e1af7e002314a3f0b9
							</xsd:appinfo>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="jobCode" type="xsd:string"
						minOccurs="0">
						<xsd:annotation>
							<xsd:appinfo source="http://sap.com/xi/TextID">a0ac23dbdd7911e1b9c7002314a3f0b9
							</xsd:appinfo>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="division" type="xsd:string"
						minOccurs="0">
						<xsd:annotation>
							<xsd:appinfo source="http://sap.com/xi/TextID">a0ac23dcdd7911e18d1b002314a3f0b9
							</xsd:appinfo>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="location" type="xsd:string"
						minOccurs="0">
						<xsd:annotation>
							<xsd:appinfo source="http://sap.com/xi/TextID">a0ac23dddd7911e1b463002314a3f0b9
							</xsd:appinfo>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="timeZone" type="xsd:string">
						<xsd:annotation>
							<xsd:appinfo source="http://sap.com/xi/TextID">a0ac23dedd7911e19942002314a3f0b9
							</xsd:appinfo>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="hireDate" type="xsd:string"
						minOccurs="0">
						<xsd:annotation>
							<xsd:appinfo source="http://sap.com/xi/TextID">a0ac23dfdd7911e1b215002314a3f0b9
							</xsd:appinfo>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="empId" type="xsd:string" minOccurs="0">
						<xsd:annotation>
							<xsd:appinfo source="http://sap.com/xi/TextID">a0ac23e0dd7911e187ae002314a3f0b9
							</xsd:appinfo>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="title" type="xsd:string" minOccurs="0">
						<xsd:annotation>
							<xsd:appinfo source="http://sap.com/xi/TextID">a0ac62fedd7911e18a7c002314a3f0b9
							</xsd:appinfo>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="businessPhone" type="xsd:string"
						minOccurs="0">
						<xsd:annotation>
							<xsd:appinfo source="http://sap.com/xi/TextID">a0ac62ffdd7911e1a280002314a3f0b9
							</xsd:appinfo>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="fax" type="xsd:string" minOccurs="0">
						<xsd:annotation>
							<xsd:appinfo source="http://sap.com/xi/TextID">a0ac6300dd7911e1a4a5002314a3f0b9
							</xsd:appinfo>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="addressLine1" type="xsd:string"
						minOccurs="0">
						<xsd:annotation>
							<xsd:appinfo source="http://sap.com/xi/TextID">a0ac6301dd7911e1a465002314a3f0b9
							</xsd:appinfo>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="addressLine2" type="xsd:string"
						minOccurs="0">
						<xsd:annotation>
							<xsd:appinfo source="http://sap.com/xi/TextID">a0ac6302dd7911e1bae5002314a3f0b9
							</xsd:appinfo>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="city" type="xsd:string" minOccurs="0">
						<xsd:annotation>
							<xsd:appinfo source="http://sap.com/xi/TextID">a0ac6303dd7911e194e7002314a3f0b9
							</xsd:appinfo>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="state" type="xsd:string" minOccurs="0">
						<xsd:annotation>
							<xsd:appinfo source="http://sap.com/xi/TextID">a0ac6304dd7911e1cef9002314a3f0b9
							</xsd:appinfo>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="country" type="xsd:string"
						minOccurs="0">
						<xsd:annotation>
							<xsd:appinfo source="http://sap.com/xi/TextID">a0ac6305dd7911e1b101002314a3f0b9
							</xsd:appinfo>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="zipCode" type="xsd:string"
						minOccurs="0">
						<xsd:annotation>
							<xsd:appinfo source="http://sap.com/xi/TextID">a0ac6306dd7911e1b5fb002314a3f0b9
							</xsd:appinfo>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="reviewFreq" type="xsd:string"
						minOccurs="0">
						<xsd:annotation>
							<xsd:appinfo source="http://sap.com/xi/TextID">a0ac6307dd7911e1c153002314a3f0b9
							</xsd:appinfo>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="lastReviewDate" type="xsd:string"
						minOccurs="0">
						<xsd:annotation>
							<xsd:appinfo source="http://sap.com/xi/TextID">a0ac6308dd7911e190a8002314a3f0b9
							</xsd:appinfo>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="matrixManagerExternalIds" type="xsd:string"
						minOccurs="0">
						<xsd:annotation>
							<xsd:appinfo source="http://sap.com/xi/TextID">a0ac6309dd7911e1b985002314a3f0b9
							</xsd:appinfo>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="defaultLocale" type="xsd:string"
						minOccurs="0">
						<xsd:annotation>
							<xsd:appinfo source="http://sap.com/xi/TextID">a0ac630add7911e19042002314a3f0b9
							</xsd:appinfo>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="customManagerExternalIds" type="xsd:string"
						minOccurs="0">
						<xsd:annotation>
							<xsd:appinfo source="http://sap.com/xi/TextID">a0ac630bdd7911e184fa002314a3f0b9
							</xsd:appinfo>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="secondManagerExternalId" type="xsd:string"
						minOccurs="0">
						<xsd:annotation>
							<xsd:appinfo source="http://sap.com/xi/TextID">a0ac630cdd7911e199d5002314a3f0b9
							</xsd:appinfo>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="loginMethod" type="xsd:string"
						minOccurs="0" />
					<xsd:element name="proxy" type="xsd:string" minOccurs="0" />
					<xsd:element name="custom01" type="xsd:string"
						minOccurs="0">
						<xsd:annotation>
							<xsd:appinfo source="http://sap.com/xi/TextID">a0ac630ddd7911e1bd89002314a3f0b9
							</xsd:appinfo>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="custom02" type="xsd:string"
						minOccurs="0">
						<xsd:annotation>
							<xsd:appinfo source="http://sap.com/xi/TextID">a0ac630edd7911e1a9b7002314a3f0b9
							</xsd:appinfo>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="custom03" type="xsd:string"
						minOccurs="0">
						<xsd:annotation>
							<xsd:appinfo source="http://sap.com/xi/TextID">a0ac630fdd7911e1cb12002314a3f0b9
							</xsd:appinfo>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="custom04" type="xsd:string"
						minOccurs="0">
						<xsd:annotation>
							<xsd:appinfo source="http://sap.com/xi/TextID">a0ac6310dd7911e18d08002314a3f0b9
							</xsd:appinfo>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="custom05" type="xsd:string"
						minOccurs="0">
						<xsd:annotation>
							<xsd:appinfo source="http://sap.com/xi/TextID">a0ac6311dd7911e1c9d1002314a3f0b9
							</xsd:appinfo>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="custom06" type="xsd:string"
						minOccurs="0">
						<xsd:annotation>
							<xsd:appinfo source="http://sap.com/xi/TextID">a0ac81e9dd7911e1a4f3002314a3f0b9
							</xsd:appinfo>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="custom07" type="xsd:string"
						minOccurs="0">
						<xsd:annotation>
							<xsd:appinfo source="http://sap.com/xi/TextID">a0ac81eadd7911e18334002314a3f0b9
							</xsd:appinfo>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="custom08" type="xsd:string"
						minOccurs="0">
						<xsd:annotation>
							<xsd:appinfo source="http://sap.com/xi/TextID">a0ac81ebdd7911e1bdbe002314a3f0b9
							</xsd:appinfo>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="custom09" type="xsd:string"
						minOccurs="0">
						<xsd:annotation>
							<xsd:appinfo source="http://sap.com/xi/TextID">ddd1bbcbdfc711e1ba51002314a3f0b9
							</xsd:appinfo>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="custom10" type="xsd:string"
						minOccurs="0">
						<xsd:annotation>
							<xsd:appinfo source="http://sap.com/xi/TextID">ddd1bbccdfc711e1bda1002314a3f0b9
							</xsd:appinfo>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="custom11" type="xsd:string"
						minOccurs="0">
						<xsd:annotation>
							<xsd:appinfo source="http://sap.com/xi/TextID">ddd1bbcddfc711e19fea002314a3f0b9
							</xsd:appinfo>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="custom12" type="xsd:string"
						minOccurs="0">
						<xsd:annotation>
							<xsd:appinfo source="http://sap.com/xi/TextID">ddd1f9d7dfc711e1b8d8002314a3f0b9
							</xsd:appinfo>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="custom13" type="xsd:string"
						minOccurs="0">
						<xsd:annotation>
							<xsd:appinfo source="http://sap.com/xi/TextID">ddd1f9d8dfc711e18a4a002314a3f0b9
							</xsd:appinfo>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="custom14" type="xsd:string"
						minOccurs="0">
						<xsd:annotation>
							<xsd:appinfo source="http://sap.com/xi/TextID">ddd1f9d9dfc711e1c152002314a3f0b9
							</xsd:appinfo>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="custom15" type="xsd:string"
						minOccurs="0">
						<xsd:annotation>
							<xsd:appinfo source="http://sap.com/xi/TextID">ddd1f9dadfc711e18595002314a3f0b9
							</xsd:appinfo>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="SFParameter">
				<xsd:annotation>
					<xsd:appinfo source="http://sap.com/xi/TextID">cc980d0f298411e2b38d000018b99fca
					</xsd:appinfo>
					<xsd:documentation xml:lang="EN">SF Parameter
					</xsd:documentation>
					<xsd:appinfo source="http://sap.com/xi/VersionID">33c10e8fda3a11e1beba00001de63cf6
					</xsd:appinfo>
				</xsd:annotation>
				<xsd:sequence>
					<xsd:element name="name" type="xsd:string">
						<xsd:annotation>
							<xsd:appinfo source="http://sap.com/xi/TextID">86d041d4da3b11e18c86002314a3f0b9
							</xsd:appinfo>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="value" type="xsd:string">
						<xsd:annotation>
							<xsd:appinfo source="http://sap.com/xi/TextID">86d041d5da3b11e1b897002314a3f0b9
							</xsd:appinfo>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="upsertRequest">
				<xsd:annotation>
					<xsd:appinfo source="http://sap.com/xi/TextID">cc8da160298411e2b321000018b99fca
					</xsd:appinfo>
					<xsd:documentation xml:lang="EN">Upsert Request
					</xsd:documentation>
					<xsd:appinfo source="http://sap.com/xi/VersionID">89ddddb6dfd711e1af3d00001de63cf7
					</xsd:appinfo>
				</xsd:annotation>
				<xsd:sequence>
					<xsd:element name="sessionId" type="xsd:string" />
					<xsd:element name="upsert">
						<xsd:annotation>
							<xsd:appinfo source="http://sap.com/xi/TextID">2f1270cfdd7911e19e6d002314a3f0b9
							</xsd:appinfo>
						</xsd:annotation>
						<xsd:complexType>
							<xsd:sequence>
								<xsd:element name="type" type="xsd:string">
									<xsd:annotation>
										<xsd:appinfo source="http://sap.com/xi/TextID">1c9839fcdd7b11e1b2c9002314a3f0b9
										</xsd:appinfo>
									</xsd:annotation>
								</xsd:element>
								<xsd:element name="sfobject" type="SFObject"
									maxOccurs="unbounded">
									<xsd:annotation>
										<xsd:appinfo source="http://sap.com/xi/TextID">2f1270cddd7911e1900c002314a3f0b9
										</xsd:appinfo>
									</xsd:annotation>
								</xsd:element>
								<xsd:element name="processingParam" type="SFParameter"
									minOccurs="0" maxOccurs="unbounded">
									<xsd:annotation>
										<xsd:appinfo source="http://sap.com/xi/TextID">2f1270cedd7911e189c5002314a3f0b9
										</xsd:appinfo>
									</xsd:annotation>
								</xsd:element>
							</xsd:sequence>
						</xsd:complexType>
					</xsd:element>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="UpsertResult">
				<xsd:annotation>
					<xsd:appinfo source="http://sap.com/xi/TextID">c9b63aae298411e2c640000018b99fca
					</xsd:appinfo>
					<xsd:documentation xml:lang="EN">Upsert Result
					</xsd:documentation>
					<xsd:appinfo source="http://sap.com/xi/VersionID">17efebfcdfd611e1cd6300001de63cf7
					</xsd:appinfo>
				</xsd:annotation>
				<xsd:sequence>
					<xsd:element name="jobStatus" type="xsd:string" />
					<xsd:element name="message" type="xsd:string" />
					<xsd:element name="objectEditResult" type="ObjectEditResult"
						minOccurs="0" maxOccurs="unbounded" />
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="ExchangeLogData">
				<xsd:annotation>
					<xsd:appinfo source="http://sap.com/xi/VersionID">df1fad87da3e11e1a1bf00001de63cf6
					</xsd:appinfo>
				</xsd:annotation>
				<xsd:sequence>
					<xsd:element name="severity" type="xsd:string"
						minOccurs="0" />
					<xsd:element name="text" type="xsd:string" />
					<xsd:element name="url" type="xsd:string" minOccurs="0" />
					<xsd:element name="id" type="xsd:string" minOccurs="0" />
				</xsd:sequence>
			</xsd:complexType>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="upsertRequest">
		<wsdl:documentation />
		<wsdl:part name="upsertRequest" element="p1:upsertRequest" />
	</wsdl:message>
	<wsdl:message name="upsertResponse">
		<wsdl:documentation />
		<wsdl:part name="upsertResponse" element="p1:upsertResponse" />
	</wsdl:message>
	<wsdl:message name="SFWebServiceFaultException">
		<wsdl:documentation />
		<wsdl:part name="SFWebServiceFaultException" element="p1:SFWebServiceFaultException" />
	</wsdl:message>
	<wsdl:portType name="SFSFUserUpsertRequestConfirmation_Out">
		<wsdl:documentation />
		<wsdl:operation name="SFSFUserUpsertRequestConfirmation_Out">
			<wsdl:documentation />
			<wsp:Policy>
				<wsp:PolicyReference URI="#OP_SFSFUserUpsertRequestConfirmation_Out" />
			</wsp:Policy>
			<wsdl:input message="p1:upsertRequest" />
			<wsdl:output message="p1:upsertResponse" />
			<wsdl:fault name="SFWebServiceFaultException" message="p1:SFWebServiceFaultException" />
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="SFSFUserUpsertRequestConfirmation_OutBinding"
		type="p1:SFSFUserUpsertRequestConfirmation_Out">
		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" />
		<wsdl:operation name="SFSFUserUpsertRequestConfirmation_Out">
			<soap:operation soapAction="http://sap.com/xi/WebService/soap1.1"
				xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" />
			<wsdl:input>
				<soap:body use="literal" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" />
			</wsdl:output>
			<wsdl:fault name="SFWebServiceFaultException">
				<soap:fault use="literal" name="SFWebServiceFaultException"
					xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" />
			</wsdl:fault>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="SFSFUserUpsertRequestConfirmation_Out">
		<wsdl:port name="SFSFUserUpsertRequestConfirmation_Out"
			binding="p1:SFSFUserUpsertRequestConfirmation_OutBinding">
			<soap:address location="http://www.example.org/"
				xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>