Resources/canonical_library/wsdl/UIEWebServices.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:s0="http://HSteindotnet.restrac.com/UIEWebServices/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" targetNamespace="http://HSteindotnet.restrac.com/UIEWebServices/" xmlns="http://schemas.xmlsoap.org/wsdl/">
    <types>
        <s:schema elementFormDefault="qualified" targetNamespace="http://HSteindotnet.restrac.com/UIEWebServices/">
            <s:element name="AddRecord">
                <s:complexType>
                    <s:sequence>
                        <s:element minOccurs="0" maxOccurs="1" name="sXmlAuth" type="s:string"/>
                        <s:element minOccurs="0" maxOccurs="1" name="sXmlIn" type="s:string"/>
                    </s:sequence>
                </s:complexType>
            </s:element>
            <s:element name="AddRecordResponse">
                <s:complexType>
                    <s:sequence>
                        <s:element minOccurs="0" maxOccurs="1" name="AddRecordResult" type="s:string"/>
                    </s:sequence>
                </s:complexType>
            </s:element>
        </s:schema>
    </types>
    <message name="AddRecordSoapIn">
        <part name="parameters" element="s0:AddRecord"/>
    </message>
    <message name="AddRecordSoapOut">
        <part name="parameters" element="s0:AddRecordResponse"/>
    </message>
    <portType name="UIEWebServicesSoap">
        <operation name="AddRecord">
            <documentation>This method provides an API to the UIE import service by allow caller to insert a single record.</documentation>
            <input message="s0:AddRecordSoapIn"/>
            <output message="s0:AddRecordSoapOut"/>
        </operation>
    </portType>
    <binding name="UIEWebServicesSoap" type="s0:UIEWebServicesSoap">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <operation name="AddRecord">
            <soap:operation soapAction="http://HSteindotnet.restrac.com/UIEWebServices/AddRecord" style="document"/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
    </binding>
    <service name="UIEWebServices">
        <documentation>Univeral Integration Engine XML Web Service.</documentation>
        <port name="UIEWebServicesSoap" binding="s0:UIEWebServicesSoap">
            <soap:address location="http://www.select2perform.com/integration/services/uiewebservices"/>
        </port>
    </service>
</definitions>
