Resources/canonical_library/wsdl/WTCeDocuments.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions targetNamespace="http://www.sap.com/eDocument/Mexico/WTC/v1.0" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsoap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://www.sap.com/eDocument/Mexico/WTC/v1.0" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:n1="http://www.sat.gob.mx/esquemas/retencionpago/1" xmlns:n2="http://cancelacfd.sat.gob.mx" xmlns:n3="http://www.sat.gob.mx/esquemas/retencionpago/1/pagosaextranjeros" xmlns:n4="http://www.w3.org/2000/09/xmldsig#" xmlns:n5="http://www.sat.gob.mx/TimbreFiscalDigital" xmlns:n6="http://www.sat.gob.mx/esquemas/retencionpago/1/catalogos" xmlns:n7="http://www.sat.gob.mx/sitio_internet/cfd/tipoDatos/tdCFDI">
 <wsdl:documentation>
  <sidl:sidl xmlns:sidl="http://www.sap.com/2007/03/sidl"/>
 </wsdl:documentation>
 <wsp:UsingPolicy wsdl:required="true"/>
 <wsp:Policy wsu:Id="IF_IF_WTCeDocuments">
  <sapsession:Session xmlns:sapsession="http://www.sap.com/webas/630/soap/features/session/">
   <sapsession:enableSession>false</sapsession:enableSession>
  </sapsession:Session>
 </wsp:Policy>
 <wsp:Policy wsu:Id="OP_IF_OP_SubmitWTC">
  <sapcomhnd:enableCommit xmlns:sapcomhnd="http://www.sap.com/NW05/soap/features/commit/">false</sapcomhnd:enableCommit>
  <sapblock:enableBlocking xmlns:sapblock="http://www.sap.com/NW05/soap/features/blocking/">true</sapblock:enableBlocking>
  <saptrhnw05:required xmlns:saptrhnw05="http://www.sap.com/NW05/soap/features/transaction/">no</saptrhnw05:required>
  <saprmnw05:enableWSRM xmlns:saprmnw05="http://www.sap.com/NW05/soap/features/wsrm/">false</saprmnw05:enableWSRM>
 </wsp:Policy>
 <wsp:Policy wsu:Id="OP_IF_OP_CancelWTC">
  <sapcomhnd:enableCommit xmlns:sapcomhnd="http://www.sap.com/NW05/soap/features/commit/">false</sapcomhnd:enableCommit>
  <sapblock:enableBlocking xmlns:sapblock="http://www.sap.com/NW05/soap/features/blocking/">true</sapblock:enableBlocking>
  <saptrhnw05:required xmlns:saptrhnw05="http://www.sap.com/NW05/soap/features/transaction/">no</saptrhnw05:required>
  <saprmnw05:enableWSRM xmlns:saprmnw05="http://www.sap.com/NW05/soap/features/wsrm/">false</saprmnw05:enableWSRM>
 </wsp:Policy>
 <wsp:Policy wsu:Id="OP_IF_OP_GetStatusWTC">
  <sapcomhnd:enableCommit xmlns:sapcomhnd="http://www.sap.com/NW05/soap/features/commit/">false</sapcomhnd:enableCommit>
  <sapblock:enableBlocking xmlns:sapblock="http://www.sap.com/NW05/soap/features/blocking/">true</sapblock:enableBlocking>
  <saptrhnw05:required xmlns:saptrhnw05="http://www.sap.com/NW05/soap/features/transaction/">no</saptrhnw05:required>
  <saprmnw05:enableWSRM xmlns:saprmnw05="http://www.sap.com/NW05/soap/features/wsrm/">false</saprmnw05:enableWSRM>
 </wsp:Policy>
 <wsdl:types>
  <xsd:schema targetNamespace="http://www.sap.com/eDocument/Mexico/WTC/v1.0" xmlns="http://www.sap.com/eDocument/Mexico/WTC/v1.0" xmlns:xi0="http://www.sat.gob.mx/esquemas/retencionpago/1" xmlns:xi1="http://cancelacfd.sat.gob.mx" xmlns:xi2="http://www.sat.gob.mx/esquemas/retencionpago/1/pagosaextranjeros" xmlns:xi3="http://www.w3.org/2000/09/xmldsig#" xmlns:xi4="http://www.sat.gob.mx/TimbreFiscalDigital" xmlns:xi5="http://www.sat.gob.mx/esquemas/retencionpago/1/catalogos" xmlns:xi6="http://www.sat.gob.mx/sitio_internet/cfd/tipoDatos/tdCFDI">
   <xsd:import namespace="http://www.sat.gob.mx/esquemas/retencionpago/1"/>
   <xsd:import namespace="http://www.sat.gob.mx/TimbreFiscalDigital"/>
   <xsd:import namespace="http://cancelacfd.sat.gob.mx"/>
   <xsd:element name="WTCCancelRequest">
    <xsd:complexType>
     <xsd:sequence>
      <xsd:element ref="xi1:Cancelacion"/>
      <xsd:element name="ServiceProvider" form="qualified" type="xsd:string"/>
      <xsd:element name="DocType" minOccurs="0" form="qualified" type="xsd:string"/>
     </xsd:sequence>
     <xsd:attribute name="version" use="required">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:whiteSpace value="collapse"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:attribute>
    </xsd:complexType>
   </xsd:element>
   <xsd:element name="PACResponse">
    <xsd:complexType>
     <xsd:sequence>
      <xsd:element name="EncodedZippedResponse" minOccurs="0" form="qualified" type="xsd:base64Binary"/>
      <xsd:element name="SignedDocument" minOccurs="0" form="qualified" type="xsd:base64Binary"/>
      <xsd:element minOccurs="0" ref="xi4:TimbreFiscalDigital"/>
      <xsd:element name="Error" minOccurs="0" form="qualified" maxOccurs="unbounded">
       <xsd:complexType>
        <xsd:attribute name="noIdentificacion" use="required">
         <xsd:simpleType>
          <xsd:restriction base="xsd:string">
           <xsd:minLength value="1"/>
           <xsd:whiteSpace value="collapse"/>
          </xsd:restriction>
         </xsd:simpleType>
        </xsd:attribute>
        <xsd:attribute name="descripcion" use="required">
         <xsd:simpleType>
          <xsd:restriction base="xsd:string">
           <xsd:minLength value="1"/>
           <xsd:whiteSpace value="collapse"/>
          </xsd:restriction>
         </xsd:simpleType>
        </xsd:attribute>
       </xsd:complexType>
      </xsd:element>
      <xsd:element name="StatusCode" minOccurs="0" form="qualified" type="xsd:double"/>
      <xsd:element name="CFDResponseMulti" minOccurs="0" form="qualified">
       <xsd:complexType>
        <xsd:sequence>
         <xsd:element name="Folios" minOccurs="0" form="qualified" maxOccurs="unbounded">
          <xsd:complexType>
           <xsd:sequence>
            <xsd:element name="UUID" minOccurs="0" form="qualified" type="xsd:string"/>
            <xsd:element name="StatusCode" minOccurs="0" form="qualified" type="xsd:double"/>
            <xsd:element name="Error" minOccurs="0" form="qualified">
             <xsd:complexType>
              <xsd:attribute name="noIdentificacion" type="xsd:string"/>
              <xsd:attribute name="decripcion" type="xsd:string"/>
             </xsd:complexType>
            </xsd:element>
           </xsd:sequence>
          </xsd:complexType>
         </xsd:element>
        </xsd:sequence>
       </xsd:complexType>
      </xsd:element>
     </xsd:sequence>
    </xsd:complexType>
   </xsd:element>
   <xsd:element name="WTCGetStatusRequest">
    <xsd:complexType>
     <xsd:sequence>
      <xsd:element name="Folio" minOccurs="0" form="qualified" maxOccurs="unbounded">
       <xsd:complexType>
        <xsd:sequence>
         <xsd:element name="UUID" form="qualified" type="xsd:string"/>
         <xsd:element name="Total" form="qualified" type="xsd:string"/>
        </xsd:sequence>
        <xsd:attribute name="RfcReceptor" type="xsd:string"/>
       </xsd:complexType>
      </xsd:element>
      <xsd:element name="ServiceProvider" form="qualified" type="xsd:string"/>
      <xsd:element name="DocType" minOccurs="0" form="qualified" type="xsd:string"/>
     </xsd:sequence>
     <xsd:attribute name="version" use="required">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:whiteSpace value="collapse"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:attribute>
     <xsd:attribute name="RfcEmisor" type="xsd:string"/>
    </xsd:complexType>
   </xsd:element>
   <xsd:element name="WTCSubmitRequest" type="WTCSubmitRequestType"/>
   <xsd:complexType name="WTCSubmitRequestType">
    <xsd:sequence>
     <xsd:element ref="xi0:Retenciones"/>
     <xsd:element name="ServiceProvider" form="qualified" type="xsd:string"/>
     <xsd:element name="DocType" minOccurs="0" form="qualified" type="xsd:string"/>
    </xsd:sequence>
   </xsd:complexType>
  </xsd:schema>
  <xsd:schema targetNamespace="http://www.sat.gob.mx/esquemas/retencionpago/1" xmlns="http://www.sat.gob.mx/esquemas/retencionpago/1" xmlns:xi0="http://www.sat.gob.mx/esquemas/retencionpago/1" xmlns:xi1="http://cancelacfd.sat.gob.mx" xmlns:xi2="http://www.sat.gob.mx/esquemas/retencionpago/1/pagosaextranjeros" xmlns:xi3="http://www.w3.org/2000/09/xmldsig#" xmlns:xi4="http://www.sat.gob.mx/TimbreFiscalDigital" xmlns:xi5="http://www.sat.gob.mx/esquemas/retencionpago/1/catalogos" xmlns:xi6="http://www.sat.gob.mx/sitio_internet/cfd/tipoDatos/tdCFDI">
   <xsd:import namespace="http://www.sat.gob.mx/esquemas/retencionpago/1/catalogos"/>
   <xsd:import namespace="http://www.sat.gob.mx/TimbreFiscalDigital"/>
   <xsd:import namespace="http://www.sat.gob.mx/esquemas/retencionpago/1/pagosaextranjeros"/>
   <xsd:element name="Retenciones">
    <xsd:complexType>
     <xsd:sequence>
      <xsd:element name="Emisor" form="qualified">
       <xsd:complexType>
        <xsd:attribute name="RFCEmisor" use="required" type="t_RFC"/>
        <xsd:attribute name="NomDenRazSocE">
         <xsd:simpleType>
          <xsd:restriction base="xsd:string">
           <xsd:maxLength value="300"/>
           <xsd:minLength value="1"/>
           <xsd:whiteSpace value="collapse"/>
          </xsd:restriction>
         </xsd:simpleType>
        </xsd:attribute>
        <xsd:attribute name="CURPE" type="t_CURP"/>
       </xsd:complexType>
      </xsd:element>
      <xsd:element name="Receptor" form="qualified">
       <xsd:complexType>
        <xsd:sequence>
         <xsd:choice>
          <xsd:element name="Nacional" form="qualified">
           <xsd:complexType>
            <xsd:attribute name="RFCRecep" use="required" type="RFCRecep"/>
            <xsd:attribute name="NomDenRazSocR">
             <xsd:simpleType>
              <xsd:restriction base="xsd:string">
               <xsd:maxLength value="300"/>
               <xsd:minLength value="1"/>
               <xsd:whiteSpace value="collapse"/>
              </xsd:restriction>
             </xsd:simpleType>
            </xsd:attribute>
            <xsd:attribute name="CURPR" type="t_CURP"/>
           </xsd:complexType>
          </xsd:element>
          <xsd:element name="Extranjero" form="qualified">
           <xsd:complexType>
            <xsd:attribute name="NumRegIdTrib">
             <xsd:simpleType>
              <xsd:restriction base="xsd:string">
               <xsd:maxLength value="20"/>
               <xsd:minLength value="1"/>
               <xsd:whiteSpace value="collapse"/>
              </xsd:restriction>
             </xsd:simpleType>
            </xsd:attribute>
            <xsd:attribute name="NomDenRazSocR" use="required">
             <xsd:simpleType>
              <xsd:restriction base="xsd:string">
               <xsd:maxLength value="300"/>
               <xsd:minLength value="1"/>
               <xsd:whiteSpace value="collapse"/>
              </xsd:restriction>
             </xsd:simpleType>
            </xsd:attribute>
           </xsd:complexType>
          </xsd:element>
         </xsd:choice>
        </xsd:sequence>
        <xsd:attribute name="Nacionalidad" use="required">
         <xsd:simpleType>
          <xsd:restriction base="xsd:string">
           <xsd:enumeration value="Nacional"/>
           <xsd:enumeration value="Extranjero"/>
           <xsd:whiteSpace value="collapse"/>
          </xsd:restriction>
         </xsd:simpleType>
        </xsd:attribute>
       </xsd:complexType>
      </xsd:element>
      <xsd:element name="Periodo" form="qualified">
       <xsd:complexType>
        <xsd:attribute name="MesIni" use="required">
         <xsd:simpleType>
          <xsd:restriction base="xsd:int">
           <xsd:maxInclusive value="12"/>
           <xsd:minInclusive value="1"/>
          </xsd:restriction>
         </xsd:simpleType>
        </xsd:attribute>
        <xsd:attribute name="MesFin" use="required">
         <xsd:simpleType>
          <xsd:restriction base="xsd:int">
           <xsd:maxInclusive value="12"/>
           <xsd:minInclusive value="1"/>
          </xsd:restriction>
         </xsd:simpleType>
        </xsd:attribute>
        <xsd:attribute name="Ejerc" use="required">
         <xsd:simpleType>
          <xsd:restriction base="xsd:int">
           <xsd:maxInclusive value="2024"/>
           <xsd:minInclusive value="2004"/>
          </xsd:restriction>
         </xsd:simpleType>
        </xsd:attribute>
       </xsd:complexType>
      </xsd:element>
      <xsd:element name="Totales" form="qualified">
       <xsd:complexType>
        <xsd:sequence>
         <xsd:element name="ImpRetenidos" minOccurs="0" form="qualified" maxOccurs="unbounded">
          <xsd:complexType>
           <xsd:attribute name="BaseRet" type="t_Importe"/>
           <xsd:attribute name="Impuesto" type="Impuesto"/>
           <xsd:attribute name="montoRet" use="required" type="t_Importe"/>
           <xsd:attribute name="TipoPagoRet" use="required">
            <xsd:simpleType>
             <xsd:restriction base="xsd:string">
              <xsd:enumeration value="Pago definitivo"/>
              <xsd:enumeration value="Pago provisional"/>
              <xsd:whiteSpace value="collapse"/>
             </xsd:restriction>
            </xsd:simpleType>
           </xsd:attribute>
          </xsd:complexType>
         </xsd:element>
        </xsd:sequence>
        <xsd:attribute name="montoTotOperacion" use="required" type="t_Importe"/>
        <xsd:attribute name="montoTotGrav" use="required" type="t_Importe"/>
        <xsd:attribute name="montoTotExent" use="required" type="t_Importe"/>
        <xsd:attribute name="montoTotRet" use="required" type="t_Importe"/>
       </xsd:complexType>
      </xsd:element>
      <xsd:element name="Complemento" minOccurs="0" form="qualified">
       <xsd:complexType>
        <xsd:sequence>
         <xsd:element ref="xi2:Pagosaextranjeros"/>
         <xsd:element ref="xi4:TimbreFiscalDigital"/>
        </xsd:sequence>
       </xsd:complexType>
      </xsd:element>
      <xsd:element name="Addenda" minOccurs="0" form="qualified">
       <xsd:complexType>
        <xsd:sequence>
         <xsd:any minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
       </xsd:complexType>
      </xsd:element>
     </xsd:sequence>
     <xsd:attribute name="Version" use="required">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:whiteSpace value="collapse"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:attribute>
     <xsd:attribute name="FolioInt">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="20"/>
        <xsd:minLength value="1"/>
        <xsd:whiteSpace value="collapse"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:attribute>
     <xsd:attribute name="Sello">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:whiteSpace value="collapse"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:attribute>
     <xsd:attribute name="NumCert">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:length value="20"/>
        <xsd:whiteSpace value="collapse"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:attribute>
     <xsd:attribute name="Cert">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:whiteSpace value="collapse"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:attribute>
     <xsd:attribute name="FechaExp" use="required">
      <xsd:simpleType>
       <xsd:restriction base="xsd:dateTime">
        <xsd:pattern value="-?([1-9][0-9]{3,}|0[0-9]{3})-(0[1-9]|1[0-2])-(0[1-9]|[12][0-9]|3[01])T(([01][0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9](\+|-)((0[0-9]|1[0-3]):[0-5][0-9]|14:00))"/>
        <xsd:minInclusive value="2014-01-01T00:00:00-06:00"/>
        <xsd:whiteSpace value="collapse"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:attribute>
     <xsd:attribute name="CveRetenc" use="required" type="xi5:c_Retenciones"/>
     <xsd:attribute name="DescRetenc">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="100"/>
        <xsd:minLength value="1"/>
        <xsd:whiteSpace value="collapse"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:attribute>
    </xsd:complexType>
   </xsd:element>
   <xsd:simpleType name="t_CURP">
    <xsd:restriction base="xsd:string">
     <xsd:length value="18"/>
     <xsd:pattern value="[A-Z][A,E,I,O,U,X][A-Z]{2}[0-9]{2}[0-1][0-9][0-3][0-9][M,H][A-Z]{2}[B,C,D,F,G,H,J,K,L,M,N,Ñ,P,Q,R,S,T,V,W,X,Y,Z]{3}[0-9,A-Z][0-9]"/>
     <xsd:whiteSpace value="collapse"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="t_Importe">
    <xsd:restriction base="xsd:decimal">
     <xsd:fractionDigits value="6"/>
     <xsd:whiteSpace value="collapse"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="t_RFC">
    <xsd:restriction base="xsd:string">
     <xsd:maxLength value="13"/>
     <xsd:minLength value="12"/>
     <xsd:pattern value="[A-Z,Ñ,&amp;]{3,4}[0-9]{2}[0-1][0-9][0-3][0-9][A-Z,0-9][A-Z,0-9][0-9,A-Z]"/>
     <xsd:whiteSpace value="collapse"/>
    </xsd:restriction>
   </xsd:simpleType>
  </xsd:schema>
  <xsd:schema targetNamespace="http://cancelacfd.sat.gob.mx" xmlns="http://cancelacfd.sat.gob.mx" xmlns:xi0="http://www.sat.gob.mx/esquemas/retencionpago/1" xmlns:xi1="http://cancelacfd.sat.gob.mx" xmlns:xi2="http://www.sat.gob.mx/esquemas/retencionpago/1/pagosaextranjeros" xmlns:xi3="http://www.w3.org/2000/09/xmldsig#" xmlns:xi4="http://www.sat.gob.mx/TimbreFiscalDigital" xmlns:xi5="http://www.sat.gob.mx/esquemas/retencionpago/1/catalogos" xmlns:xi6="http://www.sat.gob.mx/sitio_internet/cfd/tipoDatos/tdCFDI">
   <xsd:import namespace="http://www.w3.org/2000/09/xmldsig#"/>
   <xsd:element name="Cancelacion">
    <xsd:complexType>
     <xsd:sequence>
      <xsd:element name="Folios" minOccurs="0" form="qualified" maxOccurs="unbounded">
       <xsd:complexType>
        <xsd:sequence>
         <xsd:element name="UUID" minOccurs="0" form="qualified" type="xsd:string"/>
         <xsd:element name="Total" form="qualified" type="xsd:string"/>
        </xsd:sequence>
        <xsd:attribute name="RfcReceptor" type="xsd:string"/>
       </xsd:complexType>
      </xsd:element>
      <xsd:element minOccurs="0" ref="xi3:Signature"/>
     </xsd:sequence>
     <xsd:attribute name="RfcEmisor" type="xsd:string"/>
     <xsd:attribute name="Fecha" use="required" type="xsd:dateTime"/>
    </xsd:complexType>
   </xsd:element>
  </xsd:schema>
  <xsd:schema targetNamespace="http://www.sat.gob.mx/esquemas/retencionpago/1/pagosaextranjeros" xmlns="http://www.sat.gob.mx/esquemas/retencionpago/1/pagosaextranjeros" xmlns:xi0="http://www.sat.gob.mx/esquemas/retencionpago/1" xmlns:xi1="http://cancelacfd.sat.gob.mx" xmlns:xi2="http://www.sat.gob.mx/esquemas/retencionpago/1/pagosaextranjeros" xmlns:xi3="http://www.w3.org/2000/09/xmldsig#" xmlns:xi4="http://www.sat.gob.mx/TimbreFiscalDigital" xmlns:xi5="http://www.sat.gob.mx/esquemas/retencionpago/1/catalogos" xmlns:xi6="http://www.sat.gob.mx/sitio_internet/cfd/tipoDatos/tdCFDI">
   <xsd:import namespace="http://www.sat.gob.mx/esquemas/retencionpago/1/catalogos"/>
   <xsd:element name="Pagosaextranjeros">
    <xsd:complexType>
     <xsd:sequence>
      <xsd:element name="NoBeneficiario" minOccurs="0" form="qualified">
       <xsd:complexType>
        <xsd:attribute name="PaisDeResidParaEfecFisc" use="required" type="xi5:c_Pais"/>
        <xsd:attribute name="ConceptoPago" use="required" type="xi5:c_TipoContribuyenteSujetoRetencion"/>
        <xsd:attribute name="DescripcionConcepto" use="required">
         <xsd:simpleType>
          <xsd:restriction base="xsd:string">
           <xsd:maxLength value="255"/>
           <xsd:minLength value="1"/>
           <xsd:whiteSpace value="collapse"/>
          </xsd:restriction>
         </xsd:simpleType>
        </xsd:attribute>
       </xsd:complexType>
      </xsd:element>
      <xsd:element name="Beneficiario" minOccurs="0" form="qualified">
       <xsd:complexType>
        <xsd:attribute name="RFC" use="required" type="t_RFC"/>
        <xsd:attribute name="CURP" use="required" type="t_CURP"/>
        <xsd:attribute name="NomDenRazSocB" use="required">
         <xsd:simpleType>
          <xsd:restriction base="xsd:string">
           <xsd:maxLength value="300"/>
           <xsd:minLength value="1"/>
           <xsd:whiteSpace value="collapse"/>
          </xsd:restriction>
         </xsd:simpleType>
        </xsd:attribute>
        <xsd:attribute name="ConceptoPago" use="required" type="xi5:c_TipoContribuyenteSujetoRetencion"/>
        <xsd:attribute name="DescripcionConcepto" use="required">
         <xsd:simpleType>
          <xsd:restriction base="xsd:string">
           <xsd:maxLength value="255"/>
           <xsd:minLength value="1"/>
           <xsd:whiteSpace value="collapse"/>
          </xsd:restriction>
         </xsd:simpleType>
        </xsd:attribute>
       </xsd:complexType>
      </xsd:element>
     </xsd:sequence>
     <xsd:attribute name="Version" use="required" type="xsd:anySimpleType"/>
     <xsd:attribute name="EsBenefEfectDelCobro" use="required">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:enumeration value="SI"/>
        <xsd:enumeration value="NO"/>
        <xsd:whiteSpace value="collapse"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:attribute>
    </xsd:complexType>
   </xsd:element>
   <xsd:simpleType name="t_CURP">
    <xsd:restriction base="xsd:string">
     <xsd:length value="18"/>
     <xsd:pattern value="[A-Z][A,E,I,O,U,X][A-Z]{2}[0-9]{2}[0-1][0-9][0-3][0-9][M,H][A-Z]{2}[B,C,D,F,G,H,J,K,L,M,N,Ñ,P,Q,R,S,T,V,W,X,Y,Z]{3}[0-9,A-Z][0-9]"/>
     <xsd:whiteSpace value="collapse"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="t_RFC">
    <xsd:restriction base="xsd:string">
     <xsd:maxLength value="13"/>
     <xsd:minLength value="12"/>
     <xsd:pattern value="[A-Z,Ñ,&amp;]{3,4}[0-9]{2}[0-1][0-9][0-3][0-9][A-Z,0-9][A-Z,0-9][0-9,A-Z]"/>
     <xsd:whiteSpace value="collapse"/>
    </xsd:restriction>
   </xsd:simpleType>
  </xsd:schema>
  <xsd:schema targetNamespace="http://www.w3.org/2000/09/xmldsig#" xmlns="http://www.w3.org/2000/09/xmldsig#" xmlns:xi0="http://www.sat.gob.mx/esquemas/retencionpago/1" xmlns:xi1="http://cancelacfd.sat.gob.mx" xmlns:xi2="http://www.sat.gob.mx/esquemas/retencionpago/1/pagosaextranjeros" xmlns:xi3="http://www.w3.org/2000/09/xmldsig#" xmlns:xi4="http://www.sat.gob.mx/TimbreFiscalDigital" xmlns:xi5="http://www.sat.gob.mx/esquemas/retencionpago/1/catalogos" xmlns:xi6="http://www.sat.gob.mx/sitio_internet/cfd/tipoDatos/tdCFDI">
   <xsd:element name="Signature" type="SignatureType"/>
   <xsd:complexType name="ArrayOfTransformType">
    <xsd:sequence>
     <xsd:element name="Transform" minOccurs="0" form="qualified" maxOccurs="unbounded" type="TransformType"/>
    </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType mixed="true" name="CanonicalizationMethodType">
    <xsd:sequence>
     <xsd:any minOccurs="0" maxOccurs="unbounded"/>
    </xsd:sequence>
    <xsd:attribute name="Algorithm" type="xsd:anyURI"/>
   </xsd:complexType>
   <xsd:complexType mixed="true" name="DigestMethodType">
    <xsd:sequence>
     <xsd:any minOccurs="0" maxOccurs="unbounded"/>
    </xsd:sequence>
    <xsd:attribute name="Algorithm" type="xsd:anyURI"/>
   </xsd:complexType>
   <xsd:complexType mixed="true" name="KeyInfoType">
    <xsd:sequence>
     <xsd:element name="X509Data" minOccurs="0" form="qualified" type="X509DataType"/>
     <xsd:element name="KeyName" minOccurs="0" form="qualified" type="xsd:string"/>
     <xsd:element name="KeyValue" minOccurs="0" form="qualified" type="KeyValueType"/>
    </xsd:sequence>
    <xsd:attribute name="Id" type="xsd:ID"/>
   </xsd:complexType>
   <xsd:complexType mixed="true" name="KeyValueType">
    <xsd:sequence>
     <xsd:element name="RSAKeyValue" minOccurs="0" form="qualified" type="RSAKeyValueType"/>
    </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType mixed="true" name="ObjectType">
    <xsd:sequence>
     <xsd:any minOccurs="0" maxOccurs="unbounded"/>
    </xsd:sequence>
    <xsd:attribute name="Id" type="xsd:ID"/>
    <xsd:attribute name="MimeType" type="xsd:string"/>
    <xsd:attribute name="Encoding" type="xsd:anyURI"/>
   </xsd:complexType>
   <xsd:complexType name="RSAKeyValueType">
    <xsd:sequence>
     <xsd:element name="Modulus" minOccurs="0" form="qualified" type="xsd:base64Binary"/>
     <xsd:element name="Exponent" minOccurs="0" form="qualified" type="xsd:base64Binary"/>
    </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="ReferenceType">
    <xsd:sequence>
     <xsd:element name="Transforms" minOccurs="0" form="qualified" type="ArrayOfTransformType"/>
     <xsd:element name="DigestMethod" minOccurs="0" form="qualified" type="DigestMethodType"/>
     <xsd:element name="DigestValue" minOccurs="0" form="qualified" type="xsd:base64Binary"/>
    </xsd:sequence>
    <xsd:attribute name="Id" type="xsd:ID"/>
    <xsd:attribute name="URI" type="xsd:anyURI"/>
    <xsd:attribute name="Type" type="xsd:anyURI"/>
   </xsd:complexType>
   <xsd:complexType mixed="true" name="SignatureMethodType">
    <xsd:sequence>
     <xsd:element name="HMACOutputLength" minOccurs="0" form="qualified" type="xsd:integer"/>
    </xsd:sequence>
    <xsd:attribute name="Algorithm" type="xsd:anyURI"/>
   </xsd:complexType>
   <xsd:complexType name="SignatureType">
    <xsd:sequence>
     <xsd:element name="SignedInfo" minOccurs="0" form="qualified" type="SignedInfoType"/>
     <xsd:element name="SignatureValue" minOccurs="0" form="qualified" type="xsd:base64Binary"/>
     <xsd:element name="KeyInfo" minOccurs="0" form="qualified" type="KeyInfoType"/>
     <xsd:element name="Object" minOccurs="0" form="qualified" maxOccurs="unbounded" type="ObjectType"/>
    </xsd:sequence>
    <xsd:attribute name="Id" type="xsd:ID"/>
   </xsd:complexType>
   <xsd:complexType name="SignedInfoType">
    <xsd:sequence>
     <xsd:element name="CanonicalizationMethod" minOccurs="0" form="qualified" type="CanonicalizationMethodType"/>
     <xsd:element name="SignatureMethod" minOccurs="0" form="qualified" type="SignatureMethodType"/>
     <xsd:element name="Reference" minOccurs="0" form="qualified" type="ReferenceType"/>
    </xsd:sequence>
    <xsd:attribute name="Id" type="xsd:ID"/>
   </xsd:complexType>
   <xsd:complexType mixed="true" name="TransformType">
    <xsd:sequence>
     <xsd:element name="XPath" minOccurs="0" form="qualified" type="xsd:string"/>
    </xsd:sequence>
    <xsd:attribute name="Algorithm" type="xsd:anyURI"/>
   </xsd:complexType>
   <xsd:complexType name="X509DataType">
    <xsd:sequence>
     <xsd:element name="X509IssuerSerial" minOccurs="0" form="qualified" type="X509IssuerSerialType"/>
     <xsd:element name="X509Certificate" minOccurs="0" form="qualified" type="xsd:base64Binary"/>
    </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="X509IssuerSerialType">
    <xsd:sequence>
     <xsd:element name="X509IssuerName" minOccurs="0" form="qualified" type="xsd:string"/>
     <xsd:element name="X509SerialNumber" minOccurs="0" form="qualified" type="xsd:integer"/>
    </xsd:sequence>
   </xsd:complexType>
  </xsd:schema>
  <xsd:schema targetNamespace="http://www.sat.gob.mx/TimbreFiscalDigital" xmlns="http://www.sat.gob.mx/TimbreFiscalDigital" xmlns:xi0="http://www.sat.gob.mx/esquemas/retencionpago/1" xmlns:xi1="http://cancelacfd.sat.gob.mx" xmlns:xi2="http://www.sat.gob.mx/esquemas/retencionpago/1/pagosaextranjeros" xmlns:xi3="http://www.w3.org/2000/09/xmldsig#" xmlns:xi4="http://www.sat.gob.mx/TimbreFiscalDigital" xmlns:xi5="http://www.sat.gob.mx/esquemas/retencionpago/1/catalogos" xmlns:xi6="http://www.sat.gob.mx/sitio_internet/cfd/tipoDatos/tdCFDI">
   <xsd:import namespace="http://www.sat.gob.mx/sitio_internet/cfd/tipoDatos/tdCFDI"/>
   <xsd:element name="TimbreFiscalDigital">
    <xsd:complexType>
     <xsd:attribute name="Version" use="required" type="xsd:anySimpleType"/>
     <xsd:attribute name="UUID" use="required">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:length value="36"/>
        <xsd:pattern value="[a-f0-9A-F]{8}-[a-f0-9A-F]{4}-[a-f0-9A-F]{4}-[a-f0-9A-F]{4}-[a-f0-9A-F]{12}"/>
        <xsd:whiteSpace value="collapse"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:attribute>
     <xsd:attribute name="FechaTimbrado" use="required" type="xi6:t_FechaH"/>
     <xsd:attribute name="RfcProvCertif" use="required" type="xi6:t_RFC_PM"/>
     <xsd:attribute name="Leyenda">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="150"/>
        <xsd:minLength value="12"/>
        <xsd:pattern value="([A-Z]|[a-z]|[0-9]| |Ñ|ñ|!|&quot;|%|&amp;|&apos;|´|-|:|;|&gt;|=|&lt;|@|_|,|\{|\}|`|~|á|é|í|ó|ú|Á|É|Í|Ó|Ú|ü|Ü){1,150}"/>
        <xsd:whiteSpace value="collapse"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:attribute>
     <xsd:attribute name="SelloCFD" use="required">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:whiteSpace value="collapse"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:attribute>
     <xsd:attribute name="NoCertificadoSAT" use="required">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:length value="20"/>
        <xsd:pattern value="[0-9]{20}"/>
        <xsd:whiteSpace value="collapse"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:attribute>
     <xsd:attribute name="SelloSAT" use="required">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:whiteSpace value="collapse"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:attribute>
    </xsd:complexType>
   </xsd:element>
  </xsd:schema>
  <xsd:schema targetNamespace="http://www.sat.gob.mx/esquemas/retencionpago/1/catalogos" xmlns="http://www.sat.gob.mx/esquemas/retencionpago/1/catalogos" xmlns:xi0="http://www.sat.gob.mx/esquemas/retencionpago/1" xmlns:xi1="http://cancelacfd.sat.gob.mx" xmlns:xi2="http://www.sat.gob.mx/esquemas/retencionpago/1/pagosaextranjeros" xmlns:xi3="http://www.w3.org/2000/09/xmldsig#" xmlns:xi4="http://www.sat.gob.mx/TimbreFiscalDigital" xmlns:xi5="http://www.sat.gob.mx/esquemas/retencionpago/1/catalogos" xmlns:xi6="http://www.sat.gob.mx/sitio_internet/cfd/tipoDatos/tdCFDI">
   <xsd:simpleType name="c_Pais">
    <xsd:restriction base="xsd:string">
     <xsd:enumeration value="AF"/>
     <xsd:enumeration value="AL"/>
     <xsd:enumeration value="DE"/>
     <xsd:enumeration value="AD"/>
     <xsd:enumeration value="AO"/>
     <xsd:enumeration value="AI"/>
     <xsd:enumeration value="AQ"/>
     <xsd:enumeration value="AG"/>
     <xsd:enumeration value="AN"/>
     <xsd:enumeration value="SA"/>
     <xsd:enumeration value="DZ"/>
     <xsd:enumeration value="AR"/>
     <xsd:enumeration value="AM"/>
     <xsd:enumeration value="AW"/>
     <xsd:enumeration value="AU"/>
     <xsd:enumeration value="AT"/>
     <xsd:enumeration value="AZ"/>
     <xsd:enumeration value="BS"/>
     <xsd:enumeration value="BH"/>
     <xsd:enumeration value="BD"/>
     <xsd:enumeration value="BB"/>
     <xsd:enumeration value="BE"/>
     <xsd:enumeration value="BZ"/>
     <xsd:enumeration value="BJ"/>
     <xsd:enumeration value="BM"/>
     <xsd:enumeration value="BY"/>
     <xsd:enumeration value="BO"/>
     <xsd:enumeration value="BA"/>
     <xsd:enumeration value="BW"/>
     <xsd:enumeration value="BR"/>
     <xsd:enumeration value="BN"/>
     <xsd:enumeration value="BG"/>
     <xsd:enumeration value="BF"/>
     <xsd:enumeration value="BI"/>
     <xsd:enumeration value="BT"/>
     <xsd:enumeration value="CV"/>
     <xsd:enumeration value="TD"/>
     <xsd:enumeration value="KY"/>
     <xsd:enumeration value="KH"/>
     <xsd:enumeration value="CM"/>
     <xsd:enumeration value="CA"/>
     <xsd:enumeration value="CL"/>
     <xsd:enumeration value="CN"/>
     <xsd:enumeration value="CY"/>
     <xsd:enumeration value="VA"/>
     <xsd:enumeration value="CC"/>
     <xsd:enumeration value="CO"/>
     <xsd:enumeration value="KM"/>
     <xsd:enumeration value="CG"/>
     <xsd:enumeration value="CK"/>
     <xsd:enumeration value="KP"/>
     <xsd:enumeration value="KR"/>
     <xsd:enumeration value="CI"/>
     <xsd:enumeration value="CR"/>
     <xsd:enumeration value="HR"/>
     <xsd:enumeration value="CU"/>
     <xsd:enumeration value="DK"/>
     <xsd:enumeration value="DJ"/>
     <xsd:enumeration value="DM"/>
     <xsd:enumeration value="EC"/>
     <xsd:enumeration value="EG"/>
     <xsd:enumeration value="SV"/>
     <xsd:enumeration value="AE"/>
     <xsd:enumeration value="ER"/>
     <xsd:enumeration value="SI"/>
     <xsd:enumeration value="ES"/>
     <xsd:enumeration value="FM"/>
     <xsd:enumeration value="US"/>
     <xsd:enumeration value="EE"/>
     <xsd:enumeration value="ET"/>
     <xsd:enumeration value="FJ"/>
     <xsd:enumeration value="PH"/>
     <xsd:enumeration value="FI"/>
     <xsd:enumeration value="FR"/>
     <xsd:enumeration value="GA"/>
     <xsd:enumeration value="GM"/>
     <xsd:enumeration value="GE"/>
     <xsd:enumeration value="GH"/>
     <xsd:enumeration value="GI"/>
     <xsd:enumeration value="GD"/>
     <xsd:enumeration value="GR"/>
     <xsd:enumeration value="GL"/>
     <xsd:enumeration value="GP"/>
     <xsd:enumeration value="GU"/>
     <xsd:enumeration value="GT"/>
     <xsd:enumeration value="GG"/>
     <xsd:enumeration value="GW"/>
     <xsd:enumeration value="GQ"/>
     <xsd:enumeration value="GN"/>
     <xsd:enumeration value="GF"/>
     <xsd:enumeration value="GY"/>
     <xsd:enumeration value="HT"/>
     <xsd:enumeration value="HN"/>
     <xsd:enumeration value="HK"/>
     <xsd:enumeration value="HU"/>
     <xsd:enumeration value="IN"/>
     <xsd:enumeration value="ID"/>
     <xsd:enumeration value="IQ"/>
     <xsd:enumeration value="IR"/>
     <xsd:enumeration value="IE"/>
     <xsd:enumeration value="IS"/>
     <xsd:enumeration value="BV"/>
     <xsd:enumeration value="IM"/>
     <xsd:enumeration value="AX"/>
     <xsd:enumeration value="FO"/>
     <xsd:enumeration value="GS"/>
     <xsd:enumeration value="HM"/>
     <xsd:enumeration value="FK"/>
     <xsd:enumeration value="MP"/>
     <xsd:enumeration value="MH"/>
     <xsd:enumeration value="UM"/>
     <xsd:enumeration value="SB"/>
     <xsd:enumeration value="SJ"/>
     <xsd:enumeration value="TK"/>
     <xsd:enumeration value="WF"/>
     <xsd:enumeration value="IL"/>
     <xsd:enumeration value="IT"/>
     <xsd:enumeration value="JM"/>
     <xsd:enumeration value="JP"/>
     <xsd:enumeration value="JE"/>
     <xsd:enumeration value="JO"/>
     <xsd:enumeration value="KZ"/>
     <xsd:enumeration value="KE"/>
     <xsd:enumeration value="KI"/>
     <xsd:enumeration value="KW"/>
     <xsd:enumeration value="KG"/>
     <xsd:enumeration value="LS"/>
     <xsd:enumeration value="LV"/>
     <xsd:enumeration value="LB"/>
     <xsd:enumeration value="LR"/>
     <xsd:enumeration value="LY"/>
     <xsd:enumeration value="LI"/>
     <xsd:enumeration value="LT"/>
     <xsd:enumeration value="LU"/>
     <xsd:enumeration value="MO"/>
     <xsd:enumeration value="MK"/>
     <xsd:enumeration value="MG"/>
     <xsd:enumeration value="MY"/>
     <xsd:enumeration value="MW"/>
     <xsd:enumeration value="MV"/>
     <xsd:enumeration value="ML"/>
     <xsd:enumeration value="MT"/>
     <xsd:enumeration value="MA"/>
     <xsd:enumeration value="MQ"/>
     <xsd:enumeration value="MU"/>
     <xsd:enumeration value="MR"/>
     <xsd:enumeration value="YT"/>
     <xsd:enumeration value="MX"/>
     <xsd:enumeration value="MD"/>
     <xsd:enumeration value="MC"/>
     <xsd:enumeration value="MN"/>
     <xsd:enumeration value="MS"/>
     <xsd:enumeration value="ME"/>
     <xsd:enumeration value="MZ"/>
     <xsd:enumeration value="MM"/>
     <xsd:enumeration value="NA"/>
     <xsd:enumeration value="NR"/>
     <xsd:enumeration value="CX"/>
     <xsd:enumeration value="NP"/>
     <xsd:enumeration value="NI"/>
     <xsd:enumeration value="NE"/>
     <xsd:enumeration value="NG"/>
     <xsd:enumeration value="NU"/>
     <xsd:enumeration value="NF"/>
     <xsd:enumeration value="NO"/>
     <xsd:enumeration value="NC"/>
     <xsd:enumeration value="NZ"/>
     <xsd:enumeration value="OM"/>
     <xsd:enumeration value="PIK"/>
     <xsd:enumeration value="NL"/>
     <xsd:enumeration value="PK"/>
     <xsd:enumeration value="PW"/>
     <xsd:enumeration value="PS"/>
     <xsd:enumeration value="PA"/>
     <xsd:enumeration value="PG"/>
     <xsd:enumeration value="PY"/>
     <xsd:enumeration value="PE"/>
     <xsd:enumeration value="PN"/>
     <xsd:enumeration value="PF"/>
     <xsd:enumeration value="PL"/>
     <xsd:enumeration value="PT"/>
     <xsd:enumeration value="PR"/>
     <xsd:enumeration value="QA"/>
     <xsd:enumeration value="GB"/>
     <xsd:enumeration value="CZ"/>
     <xsd:enumeration value="CF"/>
     <xsd:enumeration value="LA"/>
     <xsd:enumeration value="RS"/>
     <xsd:enumeration value="DO"/>
     <xsd:enumeration value="SK"/>
     <xsd:enumeration value="CD"/>
     <xsd:enumeration value="RW"/>
     <xsd:enumeration value="RE"/>
     <xsd:enumeration value="RO"/>
     <xsd:enumeration value="RU"/>
     <xsd:enumeration value="EH"/>
     <xsd:enumeration value="WS"/>
     <xsd:enumeration value="AS"/>
     <xsd:enumeration value="BL"/>
     <xsd:enumeration value="KN"/>
     <xsd:enumeration value="SM"/>
     <xsd:enumeration value="MF"/>
     <xsd:enumeration value="PM"/>
     <xsd:enumeration value="VC"/>
     <xsd:enumeration value="SH"/>
     <xsd:enumeration value="LC"/>
     <xsd:enumeration value="ST"/>
     <xsd:enumeration value="SN"/>
     <xsd:enumeration value="SC"/>
     <xsd:enumeration value="SL"/>
     <xsd:enumeration value="SG"/>
     <xsd:enumeration value="SY"/>
     <xsd:enumeration value="SO"/>
     <xsd:enumeration value="LK"/>
     <xsd:enumeration value="ZA"/>
     <xsd:enumeration value="SD"/>
     <xsd:enumeration value="SE"/>
     <xsd:enumeration value="CH"/>
     <xsd:enumeration value="SR"/>
     <xsd:enumeration value="SZ"/>
     <xsd:enumeration value="TJ"/>
     <xsd:enumeration value="TH"/>
     <xsd:enumeration value="TW"/>
     <xsd:enumeration value="TZ"/>
     <xsd:enumeration value="IO"/>
     <xsd:enumeration value="TF"/>
     <xsd:enumeration value="TL"/>
     <xsd:enumeration value="TG"/>
     <xsd:enumeration value="TO"/>
     <xsd:enumeration value="TT"/>
     <xsd:enumeration value="TN"/>
     <xsd:enumeration value="TC"/>
     <xsd:enumeration value="TM"/>
     <xsd:enumeration value="TR"/>
     <xsd:enumeration value="TV"/>
     <xsd:enumeration value="UA"/>
     <xsd:enumeration value="UG"/>
     <xsd:enumeration value="UY"/>
     <xsd:enumeration value="UZ"/>
     <xsd:enumeration value="VU"/>
     <xsd:enumeration value="VE"/>
     <xsd:enumeration value="VN"/>
     <xsd:enumeration value="VG"/>
     <xsd:enumeration value="VI"/>
     <xsd:enumeration value="YE"/>
     <xsd:enumeration value="ZM"/>
     <xsd:enumeration value="ZW"/>
     <xsd:whiteSpace value="collapse"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="c_Retenciones">
    <xsd:restriction base="xsd:string">
     <xsd:enumeration value="01"/>
     <xsd:enumeration value="02"/>
     <xsd:enumeration value="03"/>
     <xsd:enumeration value="04"/>
     <xsd:enumeration value="05"/>
     <xsd:enumeration value="06"/>
     <xsd:enumeration value="07"/>
     <xsd:enumeration value="08"/>
     <xsd:enumeration value="09"/>
     <xsd:enumeration value="10"/>
     <xsd:enumeration value="11"/>
     <xsd:enumeration value="12"/>
     <xsd:enumeration value="13"/>
     <xsd:enumeration value="14"/>
     <xsd:enumeration value="15"/>
     <xsd:enumeration value="16"/>
     <xsd:enumeration value="17"/>
     <xsd:enumeration value="18"/>
     <xsd:enumeration value="19"/>
     <xsd:enumeration value="20"/>
     <xsd:enumeration value="21"/>
     <xsd:enumeration value="22"/>
     <xsd:enumeration value="23"/>
     <xsd:enumeration value="24"/>
     <xsd:enumeration value="25"/>
     <xsd:enumeration value="26"/>
     <xsd:whiteSpace value="collapse"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="c_TipoContribuyenteSujetoRetencion">
    <xsd:restriction base="xsd:string">
     <xsd:enumeration value="1"/>
     <xsd:enumeration value="2"/>
     <xsd:enumeration value="3"/>
     <xsd:enumeration value="4"/>
     <xsd:enumeration value="5"/>
     <xsd:enumeration value="6"/>
     <xsd:enumeration value="7"/>
     <xsd:enumeration value="8"/>
     <xsd:enumeration value="9"/>
     <xsd:whiteSpace value="collapse"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="c_TipoImpuesto">
    <xsd:restriction base="xsd:string">
     <xsd:enumeration value="01"/>
     <xsd:enumeration value="02"/>
     <xsd:enumeration value="03"/>
     <xsd:whiteSpace value="collapse"/>
    </xsd:restriction>
   </xsd:simpleType>
  </xsd:schema>
  <xsd:schema targetNamespace="http://www.sat.gob.mx/sitio_internet/cfd/tipoDatos/tdCFDI" xmlns="http://www.sat.gob.mx/sitio_internet/cfd/tipoDatos/tdCFDI" xmlns:xi0="http://www.sat.gob.mx/esquemas/retencionpago/1" xmlns:xi1="http://cancelacfd.sat.gob.mx" xmlns:xi2="http://www.sat.gob.mx/esquemas/retencionpago/1/pagosaextranjeros" xmlns:xi3="http://www.w3.org/2000/09/xmldsig#" xmlns:xi4="http://www.sat.gob.mx/TimbreFiscalDigital" xmlns:xi5="http://www.sat.gob.mx/esquemas/retencionpago/1/catalogos" xmlns:xi6="http://www.sat.gob.mx/sitio_internet/cfd/tipoDatos/tdCFDI">
   <xsd:simpleType name="t_FechaH">
    <xsd:restriction base="xsd:dateTime">
     <xsd:pattern value="(20[1-9][0-9])-(0[1-9]|1[0-2])-(0[1-9]|[12][0-9]|3[01])T(([01][0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9])"/>
     <xsd:whiteSpace value="collapse"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="t_RFC_PM">
    <xsd:restriction base="xsd:string">
     <xsd:minLength value="12"/>
     <xsd:pattern value="[A-Z&amp;Ñ]{3}[0-9]{2}(0[1-9]|1[012])(0[1-9]|[12][0-9]|3[01])[A-Z0-9]{2}[0-9A]"/>
     <xsd:whiteSpace value="collapse"/>
    </xsd:restriction>
   </xsd:simpleType>
  </xsd:schema>
 </wsdl:types>
 <wsdl:message name="WTCSubmitRequest">
  <wsdl:part name="WTCSubmitRequest" element="tns:WTCSubmitRequest"/>
 </wsdl:message>
 <wsdl:message name="PACResponse">
  <wsdl:part name="PACResponse" element="tns:PACResponse"/>
 </wsdl:message>
 <wsdl:message name="WTCCancelRequest">
  <wsdl:part name="WTCCancelRequest" element="tns:WTCCancelRequest"/>
 </wsdl:message>
 <wsdl:message name="WTCGetStatusRequest">
  <wsdl:part name="WTCGetStatusRequest" element="tns:WTCGetStatusRequest"/>
 </wsdl:message>
 <wsdl:portType name="WTCeDocuments">
  <wsdl:documentation>
   <sapdoc:sapdoc xmlns:sapdoc="urn:sap:esi:documentation">
    <sapdoc:docitem applicationComponent="CA-GTF-CSC-EDO-MX"/>
   </sapdoc:sapdoc>
  </wsdl:documentation>
  <wsp:Policy>
   <wsp:PolicyReference URI="#IF_IF_WTCeDocuments"/>
  </wsp:Policy>
  <wsdl:operation name="SubmitWTC">
   <wsp:Policy>
    <wsp:PolicyReference URI="#OP_IF_OP_SubmitWTC"/>
   </wsp:Policy>
   <wsdl:input message="tns:WTCSubmitRequest"/>
   <wsdl:output message="tns:PACResponse"/>
  </wsdl:operation>
  <wsdl:operation name="CancelWTC">
   <wsp:Policy>
    <wsp:PolicyReference URI="#OP_IF_OP_CancelWTC"/>
   </wsp:Policy>
   <wsdl:input message="tns:WTCCancelRequest"/>
   <wsdl:output message="tns:PACResponse"/>
  </wsdl:operation>
  <wsdl:operation name="GetStatusWTC">
   <wsp:Policy>
    <wsp:PolicyReference URI="#OP_IF_OP_GetStatusWTC"/>
   </wsp:Policy>
   <wsdl:input message="tns:WTCGetStatusRequest"/>
   <wsdl:output message="tns:PACResponse"/>
  </wsdl:operation>
 </wsdl:portType>
</wsdl:definitions>
