Resources/canonical_library/wsdl/ZBAPI_BUPA_ADDRESS_ADD.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions targetNamespace="urn:sap-com:document:sap:rfc:functions" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsoap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="urn:sap-com:document:sap:rfc:functions" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd">
 <wsdl:documentation>
  <sidl:sidl xmlns:sidl="http://www.sap.com/2007/03/sidl"/>
 </wsdl:documentation>
 <wsp:UsingPolicy wsdl:required="true"/>
 <wsp:Policy wsu:Id="IF_IF_ZBAPI_BUPA_ADDRESS_ADD">
  <sapsession:Session xmlns:sapsession="http://www.sap.com/webas/630/soap/features/session/">
   <sapsession:enableSession>false</sapsession:enableSession>
  </sapsession:Session>
 </wsp:Policy>
 <wsp:Policy wsu:Id="OP_IF_OP_BAPI_BUPA_ADDRESS_ADD">
  <sapcomhnd:enableCommit xmlns:sapcomhnd="http://www.sap.com/NW05/soap/features/commit/">false</sapcomhnd:enableCommit>
  <sapblock:enableBlocking xmlns:sapblock="http://www.sap.com/NW05/soap/features/blocking/">true</sapblock:enableBlocking>
  <saptrhnw05:required xmlns:saptrhnw05="http://www.sap.com/NW05/soap/features/transaction/">no</saptrhnw05:required>
  <saprmnw05:enableWSRM xmlns:saprmnw05="http://www.sap.com/NW05/soap/features/wsrm/">false</saprmnw05:enableWSRM>
 </wsp:Policy>
 <wsdl:types>
  <xsd:schema attributeFormDefault="qualified" targetNamespace="urn:sap-com:document:sap:rfc:functions">
   <xsd:simpleType name="char1">
    <xsd:restriction base="xsd:string">
     <xsd:maxLength value="1"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="char10">
    <xsd:restriction base="xsd:string">
     <xsd:maxLength value="10"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="char12">
    <xsd:restriction base="xsd:string">
     <xsd:maxLength value="12"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="char128">
    <xsd:restriction base="xsd:string">
     <xsd:maxLength value="128"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="char132">
    <xsd:restriction base="xsd:string">
     <xsd:maxLength value="132"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="char14">
    <xsd:restriction base="xsd:string">
     <xsd:maxLength value="14"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="char15">
    <xsd:restriction base="xsd:string">
     <xsd:maxLength value="15"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="char16">
    <xsd:restriction base="xsd:string">
     <xsd:maxLength value="16"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="char2">
    <xsd:restriction base="xsd:string">
     <xsd:maxLength value="2"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="char20">
    <xsd:restriction base="xsd:string">
     <xsd:maxLength value="20"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="char220">
    <xsd:restriction base="xsd:string">
     <xsd:maxLength value="220"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="char24">
    <xsd:restriction base="xsd:string">
     <xsd:maxLength value="24"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="char241">
    <xsd:restriction base="xsd:string">
     <xsd:maxLength value="241"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="char250">
    <xsd:restriction base="xsd:string">
     <xsd:maxLength value="250"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="char3">
    <xsd:restriction base="xsd:string">
     <xsd:maxLength value="3"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="char30">
    <xsd:restriction base="xsd:string">
     <xsd:maxLength value="30"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="char32">
    <xsd:restriction base="xsd:string">
     <xsd:maxLength value="32"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="char4">
    <xsd:restriction base="xsd:string">
     <xsd:maxLength value="4"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="char40">
    <xsd:restriction base="xsd:string">
     <xsd:maxLength value="40"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="char48">
    <xsd:restriction base="xsd:string">
     <xsd:maxLength value="48"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="char5">
    <xsd:restriction base="xsd:string">
     <xsd:maxLength value="5"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="char50">
    <xsd:restriction base="xsd:string">
     <xsd:maxLength value="50"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="char6">
    <xsd:restriction base="xsd:string">
     <xsd:maxLength value="6"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="char60">
    <xsd:restriction base="xsd:string">
     <xsd:maxLength value="60"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="char64">
    <xsd:restriction base="xsd:string">
     <xsd:maxLength value="64"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="char8">
    <xsd:restriction base="xsd:string">
     <xsd:maxLength value="8"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="date10">
    <xsd:restriction base="xsd:string">
     <xsd:maxLength value="10"/>
     <xsd:pattern value="\d\d\d\d-\d\d-\d\d"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="decimal3.1">
    <xsd:restriction base="xsd:decimal">
     <xsd:totalDigits value="3"/>
     <xsd:fractionDigits value="1"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="decimal4.1">
    <xsd:restriction base="xsd:decimal">
     <xsd:totalDigits value="4"/>
     <xsd:fractionDigits value="1"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="lang">
    <xsd:restriction base="xsd:string">
     <xsd:maxLength value="1"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="numeric3">
    <xsd:restriction base="xsd:string">
     <xsd:maxLength value="3"/>
     <xsd:pattern value="\d*"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="numeric6">
    <xsd:restriction base="xsd:string">
     <xsd:maxLength value="6"/>
     <xsd:pattern value="\d*"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:complexType name="BAPIBUS1006_ADDRESS">
    <xsd:sequence>
     <xsd:element name="STANDARDADDRESS" type="tns:char1"/>
     <xsd:element name="C_O_NAME" type="tns:char40"/>
     <xsd:element name="CITY" type="tns:char40"/>
     <xsd:element name="DISTRICT" type="tns:char40"/>
     <xsd:element name="REGIOGROUP" type="tns:char8"/>
     <xsd:element name="POSTL_COD1" type="tns:char10"/>
     <xsd:element name="POSTL_COD2" type="tns:char10"/>
     <xsd:element name="POSTL_COD3" type="tns:char10"/>
     <xsd:element name="PCODE1_EXT" type="tns:char10"/>
     <xsd:element name="PCODE2_EXT" type="tns:char10"/>
     <xsd:element name="PCODE3_EXT" type="tns:char10"/>
     <xsd:element name="PO_BOX" type="tns:char10"/>
     <xsd:element name="PO_W_O_NO" type="tns:char1"/>
     <xsd:element name="PO_BOX_CIT" type="tns:char40"/>
     <xsd:element name="PO_BOX_REG" type="tns:char3"/>
     <xsd:element name="POBOX_CTRY" type="tns:char3"/>
     <xsd:element name="PO_CTRYISO" type="tns:char2"/>
     <xsd:element name="STREET" type="tns:char60"/>
     <xsd:element name="STR_ABBR" type="tns:char2"/>
     <xsd:element name="HOUSE_NO" type="tns:char10"/>
     <xsd:element name="HOUSE_NO2" type="tns:char10"/>
     <xsd:element name="HOUSE_NO3" type="tns:char10"/>
     <xsd:element name="STR_SUPPL1" type="tns:char40"/>
     <xsd:element name="STR_SUPPL2" type="tns:char40"/>
     <xsd:element name="STR_SUPPL3" type="tns:char40"/>
     <xsd:element name="LOCATION" type="tns:char40"/>
     <xsd:element name="BUILDING" type="tns:char20"/>
     <xsd:element name="FLOOR" type="tns:char10"/>
     <xsd:element name="ROOM_NO" type="tns:char10"/>
     <xsd:element name="COUNTRY" type="tns:char3"/>
     <xsd:element name="COUNTRYISO" type="tns:char2"/>
     <xsd:element name="REGION" type="tns:char3"/>
     <xsd:element name="TIME_ZONE" type="tns:char6"/>
     <xsd:element name="TAXJURCODE" type="tns:char15"/>
     <xsd:element name="HOME_CITY" type="tns:char40"/>
     <xsd:element name="TRANSPZONE" type="tns:char10"/>
     <xsd:element name="LANGU" type="tns:lang"/>
     <xsd:element name="LANGUISO" type="tns:char2"/>
     <xsd:element name="COMM_TYPE" type="tns:char3"/>
     <xsd:element name="EXTADDRESSNUMBER" type="tns:char20"/>
     <xsd:element name="DONT_USE_P" type="tns:char4"/>
     <xsd:element name="DONT_USE_S" type="tns:char4"/>
     <xsd:element name="MOVE_DATE" type="tns:date10"/>
     <xsd:element name="MOVE_ADDRESS" type="tns:char10"/>
     <xsd:element name="VALIDFROMDATE" type="tns:date10"/>
     <xsd:element name="VALIDTODATE" type="tns:date10"/>
     <xsd:element name="MOVE_ADDR_GUID" type="tns:char32"/>
     <xsd:element name="CITY_NO" type="tns:char12"/>
     <xsd:element name="DISTRCT_NO" type="tns:char8"/>
     <xsd:element name="CHCKSTATUS" type="tns:char1"/>
     <xsd:element name="PBOXCIT_NO" type="tns:char12"/>
     <xsd:element name="STREET_NO" type="tns:char12"/>
     <xsd:element name="HOMECITYNO" type="tns:char12"/>
     <xsd:element name="PO_BOX_LOBBY" type="tns:char40"/>
     <xsd:element name="DELI_SERV_TYPE" type="tns:char4"/>
     <xsd:element name="DELI_SERV_NUMBER" type="tns:char10"/>
     <xsd:element name="COUNTY" type="tns:char40"/>
     <xsd:element name="COUNTY_NO" type="tns:char8"/>
     <xsd:element name="TOWNSHIP" type="tns:char40"/>
     <xsd:element name="TOWNSHIP_NO" type="tns:char8"/>
    </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="BAPIBUS1006_ADDRESS_DUPLICATES">
    <xsd:sequence>
     <xsd:element name="ADDRNUMBER" type="tns:char10"/>
     <xsd:element name="PERSNUMBER" type="tns:char10"/>
     <xsd:element name="PERCENTAGE" type="tns:decimal3.1"/>
     <xsd:element name="BUSINESSPARTNER" type="tns:char10"/>
     <xsd:element name="ADDRESSGUID" type="tns:char32"/>
     <xsd:element name="PERCENT_COMPL" type="tns:decimal4.1"/>
    </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="BAPIBUS1006_ADDRESSUSAGE">
    <xsd:sequence>
     <xsd:element name="ADDRESSTYPE" type="tns:char10"/>
     <xsd:element name="STANDARDADDRESSUSAGE" type="tns:char1"/>
     <xsd:element name="USAGEVALIDFROM" type="tns:date10"/>
     <xsd:element name="USAGEVALIDTO" type="tns:date10"/>
     <xsd:element name="VALIDTOREADFORCHANGE" type="tns:date10"/>
    </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="BAPIADFAX">
    <xsd:sequence>
     <xsd:element name="COUNTRY" type="tns:char3"/>
     <xsd:element name="COUNTRYISO" type="tns:char2"/>
     <xsd:element name="STD_NO" type="tns:char1"/>
     <xsd:element name="FAX" type="tns:char30"/>
     <xsd:element name="EXTENSION" type="tns:char10"/>
     <xsd:element name="FAX_NO" type="tns:char30"/>
     <xsd:element name="SENDER_NO" type="tns:char30"/>
     <xsd:element name="FAX_GROUP" type="tns:char1"/>
     <xsd:element name="STD_RECIP" type="tns:char1"/>
     <xsd:element name="R_3_USER" type="tns:char1"/>
     <xsd:element name="HOME_FLAG" type="tns:char1"/>
     <xsd:element name="CONSNUMBER" type="tns:numeric3"/>
     <xsd:element name="ERRORFLAG" type="tns:char1"/>
     <xsd:element name="FLG_NOUSE" type="tns:char1"/>
     <xsd:element name="VALID_FROM" type="tns:char14"/>
     <xsd:element name="VALID_TO" type="tns:char14"/>
    </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="BAPIADPAG">
    <xsd:sequence>
     <xsd:element name="COUNTRY" type="tns:char3"/>
     <xsd:element name="COUNTRYISO" type="tns:char2"/>
     <xsd:element name="STD_NO" type="tns:char1"/>
     <xsd:element name="PAGER_TYPE" type="tns:char4"/>
     <xsd:element name="PAGER" type="tns:char30"/>
     <xsd:element name="PAGER_NO" type="tns:char30"/>
     <xsd:element name="CALLER_NO" type="tns:char30"/>
     <xsd:element name="STD_RECIP" type="tns:char1"/>
     <xsd:element name="R_3_USER" type="tns:char1"/>
     <xsd:element name="HOME_FLAG" type="tns:char1"/>
     <xsd:element name="CONSNUMBER" type="tns:numeric3"/>
     <xsd:element name="ERRORFLAG" type="tns:char1"/>
     <xsd:element name="FLG_NOUSE" type="tns:char1"/>
     <xsd:element name="VALID_FROM" type="tns:char14"/>
     <xsd:element name="VALID_TO" type="tns:char14"/>
    </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="BAPIADPRT">
    <xsd:sequence>
     <xsd:element name="STD_NO" type="tns:char1"/>
     <xsd:element name="PRINT_DEST" type="tns:char4"/>
     <xsd:element name="STD_RECIP" type="tns:char1"/>
     <xsd:element name="HOME_FLAG" type="tns:char1"/>
     <xsd:element name="CONSNUMBER" type="tns:numeric3"/>
     <xsd:element name="ERRORFLAG" type="tns:char1"/>
     <xsd:element name="FLG_NOUSE" type="tns:char1"/>
     <xsd:element name="VALID_FROM" type="tns:char14"/>
     <xsd:element name="VALID_TO" type="tns:char14"/>
    </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="BAPIADRFC">
    <xsd:sequence>
     <xsd:element name="STD_NO" type="tns:char1"/>
     <xsd:element name="LOG_DEST" type="tns:char32"/>
     <xsd:element name="STD_RECIP" type="tns:char1"/>
     <xsd:element name="R_3_USER" type="tns:char1"/>
     <xsd:element name="HOME_FLAG" type="tns:char1"/>
     <xsd:element name="CONSNUMBER" type="tns:numeric3"/>
     <xsd:element name="ERRORFLAG" type="tns:char1"/>
     <xsd:element name="FLG_NOUSE" type="tns:char1"/>
     <xsd:element name="VALID_FROM" type="tns:char14"/>
     <xsd:element name="VALID_TO" type="tns:char14"/>
    </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="BAPIADRML">
    <xsd:sequence>
     <xsd:element name="STD_NO" type="tns:char1"/>
     <xsd:element name="SYMB_DEST" type="tns:char10"/>
     <xsd:element name="REC_TYPE" type="tns:char1"/>
     <xsd:element name="R_MAIL_CLT" type="tns:char3"/>
     <xsd:element name="R_MAIL" type="tns:char12"/>
     <xsd:element name="STD_RECIP" type="tns:char1"/>
     <xsd:element name="R_3_USER" type="tns:char1"/>
     <xsd:element name="HOME_FLAG" type="tns:char1"/>
     <xsd:element name="CONSNUMBER" type="tns:numeric3"/>
     <xsd:element name="ERRORFLAG" type="tns:char1"/>
     <xsd:element name="FLG_NOUSE" type="tns:char1"/>
     <xsd:element name="VALID_FROM" type="tns:char14"/>
     <xsd:element name="VALID_TO" type="tns:char14"/>
    </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="BAPIADSMTP">
    <xsd:sequence>
     <xsd:element name="STD_NO" type="tns:char1"/>
     <xsd:element name="E_MAIL" type="tns:char241"/>
     <xsd:element name="EMAIL_SRCH" type="tns:char20"/>
     <xsd:element name="STD_RECIP" type="tns:char1"/>
     <xsd:element name="R_3_USER" type="tns:char1"/>
     <xsd:element name="ENCODE" type="tns:char1"/>
     <xsd:element name="TNEF" type="tns:char1"/>
     <xsd:element name="HOME_FLAG" type="tns:char1"/>
     <xsd:element name="CONSNUMBER" type="tns:numeric3"/>
     <xsd:element name="ERRORFLAG" type="tns:char1"/>
     <xsd:element name="FLG_NOUSE" type="tns:char1"/>
     <xsd:element name="VALID_FROM" type="tns:char14"/>
     <xsd:element name="VALID_TO" type="tns:char14"/>
    </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="BAPIADSSF">
    <xsd:sequence>
     <xsd:element name="STD_NO" type="tns:char1"/>
     <xsd:element name="DUMMY" type="tns:char1"/>
     <xsd:element name="STD_RECIP" type="tns:char1"/>
     <xsd:element name="HOME_FLAG" type="tns:char1"/>
     <xsd:element name="CONSNUMBER" type="tns:numeric3"/>
     <xsd:element name="RFCDEST" type="tns:char32"/>
     <xsd:element name="SSFIDSHORT" type="tns:char132"/>
     <xsd:element name="SSF_NS" type="tns:char10"/>
     <xsd:element name="SSF_PROF" type="tns:char132"/>
     <xsd:element name="SSFIDPART1" type="tns:char250"/>
     <xsd:element name="SSFIDPART2" type="tns:char250"/>
     <xsd:element name="SSFIDPART3" type="tns:char250"/>
     <xsd:element name="SSFIDPART4" type="tns:char250"/>
     <xsd:element name="SSFIDPART5" type="tns:char250"/>
     <xsd:element name="SSFIDPART6" type="tns:char250"/>
     <xsd:element name="SSFIDPART7" type="tns:char250"/>
     <xsd:element name="SSFIDPART8" type="tns:char250"/>
     <xsd:element name="SSFIDPART9" type="tns:char48"/>
     <xsd:element name="ERRORFLAG" type="tns:char1"/>
     <xsd:element name="FLG_NOUSE" type="tns:char1"/>
     <xsd:element name="VALID_FROM" type="tns:char14"/>
     <xsd:element name="VALID_TO" type="tns:char14"/>
    </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="BAPIADTEL">
    <xsd:sequence>
     <xsd:element name="COUNTRY" type="tns:char3"/>
     <xsd:element name="COUNTRYISO" type="tns:char2"/>
     <xsd:element name="STD_NO" type="tns:char1"/>
     <xsd:element name="TELEPHONE" type="tns:char30"/>
     <xsd:element name="EXTENSION" type="tns:char10"/>
     <xsd:element name="TEL_NO" type="tns:char30"/>
     <xsd:element name="CALLER_NO" type="tns:char30"/>
     <xsd:element name="STD_RECIP" type="tns:char1"/>
     <xsd:element name="R_3_USER" type="tns:char1"/>
     <xsd:element name="HOME_FLAG" type="tns:char1"/>
     <xsd:element name="CONSNUMBER" type="tns:numeric3"/>
     <xsd:element name="ERRORFLAG" type="tns:char1"/>
     <xsd:element name="FLG_NOUSE" type="tns:char1"/>
     <xsd:element name="VALID_FROM" type="tns:char14"/>
     <xsd:element name="VALID_TO" type="tns:char14"/>
    </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="BAPIADTLX">
    <xsd:sequence>
     <xsd:element name="COUNTRY" type="tns:char3"/>
     <xsd:element name="COUNTRYISO" type="tns:char2"/>
     <xsd:element name="STD_NO" type="tns:char1"/>
     <xsd:element name="TELEX_NO" type="tns:char30"/>
     <xsd:element name="STD_RECIP" type="tns:char1"/>
     <xsd:element name="R_3_USER" type="tns:char1"/>
     <xsd:element name="HOME_FLAG" type="tns:char1"/>
     <xsd:element name="CONSNUMBER" type="tns:numeric3"/>
     <xsd:element name="ERRORFLAG" type="tns:char1"/>
     <xsd:element name="FLG_NOUSE" type="tns:char1"/>
     <xsd:element name="VALID_FROM" type="tns:char14"/>
     <xsd:element name="VALID_TO" type="tns:char14"/>
    </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="BAPIADTTX">
    <xsd:sequence>
     <xsd:element name="COUNTRY" type="tns:char3"/>
     <xsd:element name="COUNTRYISO" type="tns:char2"/>
     <xsd:element name="STD_NO" type="tns:char1"/>
     <xsd:element name="TELETEX" type="tns:char30"/>
     <xsd:element name="STD_RECIP" type="tns:char1"/>
     <xsd:element name="R_3_USER" type="tns:char1"/>
     <xsd:element name="HOME_FLAG" type="tns:char1"/>
     <xsd:element name="CONSNUMBER" type="tns:numeric3"/>
     <xsd:element name="ERRORFLAG" type="tns:char1"/>
     <xsd:element name="FLG_NOUSE" type="tns:char1"/>
     <xsd:element name="VALID_FROM" type="tns:char14"/>
     <xsd:element name="VALID_TO" type="tns:char14"/>
    </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="BAPIADURI">
    <xsd:sequence>
     <xsd:element name="STD_NO" type="tns:char1"/>
     <xsd:element name="URI_TYPE" type="tns:char3"/>
     <xsd:element name="URI" type="tns:char132"/>
     <xsd:element name="STD_RECIP" type="tns:char1"/>
     <xsd:element name="HOME_FLAG" type="tns:char1"/>
     <xsd:element name="CONSNUMBER" type="tns:numeric3"/>
     <xsd:element name="URI_PART1" type="tns:char250"/>
     <xsd:element name="URI_PART2" type="tns:char250"/>
     <xsd:element name="URI_PART3" type="tns:char250"/>
     <xsd:element name="URI_PART4" type="tns:char250"/>
     <xsd:element name="URI_PART5" type="tns:char250"/>
     <xsd:element name="URI_PART6" type="tns:char250"/>
     <xsd:element name="URI_PART7" type="tns:char250"/>
     <xsd:element name="URI_PART8" type="tns:char250"/>
     <xsd:element name="URI_PART9" type="tns:char48"/>
     <xsd:element name="ERRORFLAG" type="tns:char1"/>
     <xsd:element name="FLG_NOUSE" type="tns:char1"/>
     <xsd:element name="VALID_FROM" type="tns:char14"/>
     <xsd:element name="VALID_TO" type="tns:char14"/>
    </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="BAPIADUSE">
    <xsd:sequence>
     <xsd:element name="COMM_TYPE" type="tns:char3"/>
     <xsd:element name="CONSNUMBER" type="tns:numeric3"/>
     <xsd:element name="COMM_USAGE" type="tns:char10"/>
     <xsd:element name="VALID_TO" type="tns:char14"/>
     <xsd:element name="VALID_FROM" type="tns:char14"/>
     <xsd:element name="DEF_USAGE" type="tns:char1"/>
     <xsd:element name="ERRORFLAG" type="tns:char1"/>
    </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="BAPIADX400">
    <xsd:sequence>
     <xsd:element name="STD_NO" type="tns:char1"/>
     <xsd:element name="COUNTRY" type="tns:char3"/>
     <xsd:element name="COUNTRYISO" type="tns:char2"/>
     <xsd:element name="ADM_DOM" type="tns:char16"/>
     <xsd:element name="PRIV_DOM" type="tns:char16"/>
     <xsd:element name="ORGANIZATN" type="tns:char64"/>
     <xsd:element name="ORG_UNIT_1" type="tns:char32"/>
     <xsd:element name="ORG_UNIT_2" type="tns:char32"/>
     <xsd:element name="ORG_UNIT_3" type="tns:char32"/>
     <xsd:element name="ORG_UNIT_4" type="tns:char32"/>
     <xsd:element name="LASTNAME" type="tns:char40"/>
     <xsd:element name="FIRSTNAME" type="tns:char16"/>
     <xsd:element name="INITIALS" type="tns:char5"/>
     <xsd:element name="GENERATION" type="tns:char3"/>
     <xsd:element name="X_121_ADDR" type="tns:char15"/>
     <xsd:element name="TERM_ID" type="tns:char24"/>
     <xsd:element name="TERM_TYPE" type="tns:char1"/>
     <xsd:element name="UANID" type="tns:char32"/>
     <xsd:element name="DDA_TYPE1" type="tns:char8"/>
     <xsd:element name="DDA_VALUE1" type="tns:char128"/>
     <xsd:element name="DDA_TYPE2" type="tns:char8"/>
     <xsd:element name="DDA_VALUE2" type="tns:char128"/>
     <xsd:element name="DDA_TYPE3" type="tns:char8"/>
     <xsd:element name="DDA_VALUE3" type="tns:char128"/>
     <xsd:element name="DDA_TYPE4" type="tns:char8"/>
     <xsd:element name="DDA_VALUE4" type="tns:char128"/>
     <xsd:element name="STD_RECIP" type="tns:char1"/>
     <xsd:element name="R_3_USER" type="tns:char1"/>
     <xsd:element name="TXT_ENCODE" type="tns:char1"/>
     <xsd:element name="TNEF" type="tns:char1"/>
     <xsd:element name="HOME_FLAG" type="tns:char1"/>
     <xsd:element name="CONSNUMBER" type="tns:numeric3"/>
     <xsd:element name="ERRORFLAG" type="tns:char1"/>
     <xsd:element name="FLG_NOUSE" type="tns:char1"/>
     <xsd:element name="VALID_FROM" type="tns:char14"/>
     <xsd:element name="VALID_TO" type="tns:char14"/>
    </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="BAPIAD_REM">
    <xsd:sequence>
     <xsd:element name="ADDR_VERS" type="tns:char1"/>
     <xsd:element name="LANGU" type="tns:lang"/>
     <xsd:element name="LANGU_ISO" type="tns:char2"/>
     <xsd:element name="ADR_NOTES" type="tns:char50"/>
     <xsd:element name="ERRORFLAG" type="tns:char1"/>
    </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="BAPICOMREM">
    <xsd:sequence>
     <xsd:element name="COMM_TYPE" type="tns:char3"/>
     <xsd:element name="LANGU" type="tns:lang"/>
     <xsd:element name="LANGU_ISO" type="tns:char2"/>
     <xsd:element name="COMM_NOTES" type="tns:char50"/>
     <xsd:element name="CONSNUMBER" type="tns:numeric3"/>
     <xsd:element name="ERRORFLAG" type="tns:char1"/>
    </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="BAPIRET2">
    <xsd:sequence>
     <xsd:element name="TYPE" type="tns:char1"/>
     <xsd:element name="ID" type="tns:char20"/>
     <xsd:element name="NUMBER" type="tns:numeric3"/>
     <xsd:element name="MESSAGE" type="tns:char220"/>
     <xsd:element name="LOG_NO" type="tns:char20"/>
     <xsd:element name="LOG_MSG_NO" type="tns:numeric6"/>
     <xsd:element name="MESSAGE_V1" type="tns:char50"/>
     <xsd:element name="MESSAGE_V2" type="tns:char50"/>
     <xsd:element name="MESSAGE_V3" type="tns:char50"/>
     <xsd:element name="MESSAGE_V4" type="tns:char50"/>
     <xsd:element name="PARAMETER" type="tns:char32"/>
     <xsd:element name="ROW" type="xsd:int"/>
     <xsd:element name="FIELD" type="tns:char30"/>
     <xsd:element name="SYSTEM" type="tns:char10"/>
    </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="TABLE_OF_BAPIBUS1006_ADDRESS_DUPLICATES">
    <xsd:sequence>
     <xsd:element name="item" type="tns:BAPIBUS1006_ADDRESS_DUPLICATES" minOccurs="0" maxOccurs="unbounded"/>
    </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="TABLE_OF_BAPIBUS1006_ADDRESSUSAGE">
    <xsd:sequence>
     <xsd:element name="item" type="tns:BAPIBUS1006_ADDRESSUSAGE" minOccurs="0" maxOccurs="unbounded"/>
    </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="TABLE_OF_BAPIADFAX">
    <xsd:sequence>
     <xsd:element name="item" type="tns:BAPIADFAX" minOccurs="0" maxOccurs="unbounded"/>
    </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="TABLE_OF_BAPIADPAG">
    <xsd:sequence>
     <xsd:element name="item" type="tns:BAPIADPAG" minOccurs="0" maxOccurs="unbounded"/>
    </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="TABLE_OF_BAPIADPRT">
    <xsd:sequence>
     <xsd:element name="item" type="tns:BAPIADPRT" minOccurs="0" maxOccurs="unbounded"/>
    </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="TABLE_OF_BAPIADRFC">
    <xsd:sequence>
     <xsd:element name="item" type="tns:BAPIADRFC" minOccurs="0" maxOccurs="unbounded"/>
    </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="TABLE_OF_BAPIADRML">
    <xsd:sequence>
     <xsd:element name="item" type="tns:BAPIADRML" minOccurs="0" maxOccurs="unbounded"/>
    </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="TABLE_OF_BAPIADSMTP">
    <xsd:sequence>
     <xsd:element name="item" type="tns:BAPIADSMTP" minOccurs="0" maxOccurs="unbounded"/>
    </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="TABLE_OF_BAPIADSSF">
    <xsd:sequence>
     <xsd:element name="item" type="tns:BAPIADSSF" minOccurs="0" maxOccurs="unbounded"/>
    </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="TABLE_OF_BAPIADTEL">
    <xsd:sequence>
     <xsd:element name="item" type="tns:BAPIADTEL" minOccurs="0" maxOccurs="unbounded"/>
    </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="TABLE_OF_BAPIADTLX">
    <xsd:sequence>
     <xsd:element name="item" type="tns:BAPIADTLX" minOccurs="0" maxOccurs="unbounded"/>
    </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="TABLE_OF_BAPIADTTX">
    <xsd:sequence>
     <xsd:element name="item" type="tns:BAPIADTTX" minOccurs="0" maxOccurs="unbounded"/>
    </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="TABLE_OF_BAPIADURI">
    <xsd:sequence>
     <xsd:element name="item" type="tns:BAPIADURI" minOccurs="0" maxOccurs="unbounded"/>
    </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="TABLE_OF_BAPIADUSE">
    <xsd:sequence>
     <xsd:element name="item" type="tns:BAPIADUSE" minOccurs="0" maxOccurs="unbounded"/>
    </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="TABLE_OF_BAPIADX400">
    <xsd:sequence>
     <xsd:element name="item" type="tns:BAPIADX400" minOccurs="0" maxOccurs="unbounded"/>
    </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="TABLE_OF_BAPIAD_REM">
    <xsd:sequence>
     <xsd:element name="item" type="tns:BAPIAD_REM" minOccurs="0" maxOccurs="unbounded"/>
    </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="TABLE_OF_BAPICOMREM">
    <xsd:sequence>
     <xsd:element name="item" type="tns:BAPICOMREM" minOccurs="0" maxOccurs="unbounded"/>
    </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="TABLE_OF_BAPIRET2">
    <xsd:sequence>
     <xsd:element name="item" type="tns:BAPIRET2" minOccurs="0" maxOccurs="unbounded"/>
    </xsd:sequence>
   </xsd:complexType>
   <xsd:element name="BAPI_BUPA_ADDRESS_ADD">
    <xsd:complexType>
     <xsd:sequence>
      <xsd:element name="ACCEPT_ERROR" type="tns:char1" minOccurs="0"/>
      <xsd:element name="ADDRESSDATA" type="tns:BAPIBUS1006_ADDRESS"/>
      <xsd:element name="ADDRESSDUPLICATES" type="tns:TABLE_OF_BAPIBUS1006_ADDRESS_DUPLICATES" minOccurs="0"/>
      <xsd:element name="ADDRESSUSAGE" type="tns:TABLE_OF_BAPIBUS1006_ADDRESSUSAGE" minOccurs="0"/>
      <xsd:element name="BAPIADFAX" type="tns:TABLE_OF_BAPIADFAX" minOccurs="0"/>
      <xsd:element name="BAPIADPAG" type="tns:TABLE_OF_BAPIADPAG" minOccurs="0"/>
      <xsd:element name="BAPIADPRT" type="tns:TABLE_OF_BAPIADPRT" minOccurs="0"/>
      <xsd:element name="BAPIADRFC" type="tns:TABLE_OF_BAPIADRFC" minOccurs="0"/>
      <xsd:element name="BAPIADRML" type="tns:TABLE_OF_BAPIADRML" minOccurs="0"/>
      <xsd:element name="BAPIADSMTP" type="tns:TABLE_OF_BAPIADSMTP" minOccurs="0"/>
      <xsd:element name="BAPIADSSF" type="tns:TABLE_OF_BAPIADSSF" minOccurs="0"/>
      <xsd:element name="BAPIADTEL" type="tns:TABLE_OF_BAPIADTEL" minOccurs="0"/>
      <xsd:element name="BAPIADTLX" type="tns:TABLE_OF_BAPIADTLX" minOccurs="0"/>
      <xsd:element name="BAPIADTTX" type="tns:TABLE_OF_BAPIADTTX" minOccurs="0"/>
      <xsd:element name="BAPIADURI" type="tns:TABLE_OF_BAPIADURI" minOccurs="0"/>
      <xsd:element name="BAPIADUSE" type="tns:TABLE_OF_BAPIADUSE" minOccurs="0"/>
      <xsd:element name="BAPIADX400" type="tns:TABLE_OF_BAPIADX400" minOccurs="0"/>
      <xsd:element name="BAPIAD_REM" type="tns:TABLE_OF_BAPIAD_REM" minOccurs="0"/>
      <xsd:element name="BAPICOMREM" type="tns:TABLE_OF_BAPICOMREM" minOccurs="0"/>
      <xsd:element name="BUSINESSPARTNER" type="tns:char10"/>
      <xsd:element name="DUPLICATE_MESSAGE_TYPE" type="tns:char1" minOccurs="0"/>
      <xsd:element name="RETURN" type="tns:TABLE_OF_BAPIRET2" minOccurs="0"/>
     </xsd:sequence>
    </xsd:complexType>
   </xsd:element>
   <xsd:element name="BAPI_BUPA_ADDRESS_ADDResponse">
    <xsd:complexType>
     <xsd:sequence>
      <xsd:element name="ADDRESSDUPLICATES" type="tns:TABLE_OF_BAPIBUS1006_ADDRESS_DUPLICATES" minOccurs="0"/>
      <xsd:element name="ADDRESSGUID" type="tns:char32"/>
      <xsd:element name="ADDRESSUSAGE" type="tns:TABLE_OF_BAPIBUS1006_ADDRESSUSAGE" minOccurs="0"/>
      <xsd:element name="BAPIADFAX" type="tns:TABLE_OF_BAPIADFAX" minOccurs="0"/>
      <xsd:element name="BAPIADPAG" type="tns:TABLE_OF_BAPIADPAG" minOccurs="0"/>
      <xsd:element name="BAPIADPRT" type="tns:TABLE_OF_BAPIADPRT" minOccurs="0"/>
      <xsd:element name="BAPIADRFC" type="tns:TABLE_OF_BAPIADRFC" minOccurs="0"/>
      <xsd:element name="BAPIADRML" type="tns:TABLE_OF_BAPIADRML" minOccurs="0"/>
      <xsd:element name="BAPIADSMTP" type="tns:TABLE_OF_BAPIADSMTP" minOccurs="0"/>
      <xsd:element name="BAPIADSSF" type="tns:TABLE_OF_BAPIADSSF" minOccurs="0"/>
      <xsd:element name="BAPIADTEL" type="tns:TABLE_OF_BAPIADTEL" minOccurs="0"/>
      <xsd:element name="BAPIADTLX" type="tns:TABLE_OF_BAPIADTLX" minOccurs="0"/>
      <xsd:element name="BAPIADTTX" type="tns:TABLE_OF_BAPIADTTX" minOccurs="0"/>
      <xsd:element name="BAPIADURI" type="tns:TABLE_OF_BAPIADURI" minOccurs="0"/>
      <xsd:element name="BAPIADUSE" type="tns:TABLE_OF_BAPIADUSE" minOccurs="0"/>
      <xsd:element name="BAPIADX400" type="tns:TABLE_OF_BAPIADX400" minOccurs="0"/>
      <xsd:element name="BAPIAD_REM" type="tns:TABLE_OF_BAPIAD_REM" minOccurs="0"/>
      <xsd:element name="BAPICOMREM" type="tns:TABLE_OF_BAPICOMREM" minOccurs="0"/>
      <xsd:element name="RETURN" type="tns:TABLE_OF_BAPIRET2" minOccurs="0"/>
     </xsd:sequence>
    </xsd:complexType>
   </xsd:element>
  </xsd:schema>
 </wsdl:types>
 <wsdl:message name="BAPI_BUPA_ADDRESS_ADD">
  <wsdl:part name="parameters" element="tns:BAPI_BUPA_ADDRESS_ADD"/>
 </wsdl:message>
 <wsdl:message name="BAPI_BUPA_ADDRESS_ADDResponse">
  <wsdl:part name="parameter" element="tns:BAPI_BUPA_ADDRESS_ADDResponse"/>
 </wsdl:message>
 <wsdl:portType name="ZBAPI_BUPA_ADDRESS_ADD">
  <wsdl:documentation>
   <sapdoc:sapdoc xmlns:sapdoc="urn:sap:esi:documentation">
    <sapdoc:docitem docURL="http://ldai1emo.wdf.sap.corp:50000/sap/bc/esdt/docu/sd_text?sap-client=700&amp;sd_name=ZBAPI_BUPA_ADDRESS_ADD"/>
   </sapdoc:sapdoc>
  </wsdl:documentation>
  <wsp:Policy>
   <wsp:PolicyReference URI="#IF_IF_ZBAPI_BUPA_ADDRESS_ADD"/>
  </wsp:Policy>
  <wsdl:operation name="BAPI_BUPA_ADDRESS_ADD">
   <wsp:Policy>
    <wsp:PolicyReference URI="#OP_IF_OP_BAPI_BUPA_ADDRESS_ADD"/>
   </wsp:Policy>
   <wsdl:input message="tns:BAPI_BUPA_ADDRESS_ADD"/>
   <wsdl:output message="tns:BAPI_BUPA_ADDRESS_ADDResponse"/>
  </wsdl:operation>
 </wsdl:portType>
</wsdl:definitions>
