cpi_migrator/output/iflows/RCI093SuccessFactorstoOpenTextSuccessFactors__meta/src/main/resources/xsd/outputStructure.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="JobRequisition">
        <xs:complexType>
            <xs:sequence>
                <xs:element maxOccurs="unbounded" name="JobRequisition">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="jobReqId" type="xs:string"/>
                            <xs:element name="lastModifiedDateTime" type="xs:dateTime"/>
                            <xs:element name="jobStartDate" type="xs:dateTime"/>
                            <xs:element name="jobCode" type="xs:string"/>
                            <xs:element name="FOJobCode">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="externalCode" type="xs:string"/>
                                        <xs:element name="cust_employmentAgreementNav">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name="PickListValueV2">
                                                        <xs:complexType>
                                                            <xs:sequence>
                                                                <xs:element name="label_en_US" type="xs:string"/>
                                                                <xs:element name="externalCode" type="xs:string"/>
                                                                <xs:element name="optionId" type="xs:string"/>
                                                            </xs:sequence>
                                                        </xs:complexType>
                                                    </xs:element>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="positionNumber" type="xs:string"/>
                            <xs:element minOccurs="0" name="Position">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element minOccurs="0" name="parentPosition">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element minOccurs="0" name="Position">
                                                        <xs:complexType>
                                                            <xs:sequence>
                                                                <xs:element minOccurs="0" name="code" type="xs:string"/>
                                                            </xs:sequence>
                                                        </xs:complexType>
                                                    </xs:element>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element minOccurs="0" name="code" type="xs:string"/>
                                        <xs:element minOccurs="0" name="EmpJob">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element minOccurs="0" name="customString10Nav">
                                                        <xs:complexType>
                                                            <xs:sequence>
                                                                <xs:element minOccurs="0" name="PicklistOption">
                                                                    <xs:complexType>
                                                                        <xs:sequence>
                                                                            <xs:element minOccurs="0" name="localeLabel" type="xs:string"/>
                                                                        </xs:sequence>
                                                                    </xs:complexType>
                                                                </xs:element>
                                                            </xs:sequence>
                                                        </xs:complexType>
                                                    </xs:element>
                                                    <xs:element minOccurs="0" name="jobCode" type="xs:string"/>
                                                    <xs:element minOccurs="0" name="managerId" type="xs:string"/>
                                                    <xs:element minOccurs="0" name="position" type="xs:string"/>
                                                    <xs:element minOccurs="0" name="userId" type="xs:string"/>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element minOccurs="0" name="locationNav">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name="FOLocation">
                                                        <xs:complexType>
                                                            <xs:sequence>
                                                                <xs:element name="customString4" type="xs:string"/>
                                                            </xs:sequence>
                                                        </xs:complexType>
                                                    </xs:element>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="status">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="PicklistOption">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name="id" type="xs:string"/>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>
