cpi_migrator/output/iflows/RCI093SuccessFactorstoOpenTextSuccessFactors__meta/src/main/resources/xsd/Output First parent Position.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="JobRequisition">
        <xs:complexType>
            <xs:sequence>
                <xs:element maxOccurs="unbounded" name="JobRequisition">
                    <xs:complexType>
                        <xs:sequence>
                            <!-- New Element Added -->
                            <xs:element name="division" type="xs:string" minOccurs="0"/>
                            <xs:element name="jobReqId" type="xs:int"/>
                            <xs:element name="lastModifiedDateTime" type="xs:dateTime"/>
                            <xs:element name="jobStartDate" type="xs:dateTime"/>
                            <xs:element name="jobCode" type="xs:string"/>
                            <xs:element name="FOJobCode">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="externalCode" type="xs:string"/>
                                        <!-- New Element Added -->
                                        <xs:element name="startDate" type="xs:dateTime" minOccurs="0"/>
                                        <xs:element name="cust_employmentAgreementNav">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name="PickListValueV2">
                                                        <xs:complexType>
                                                            <xs:sequence>
                                                                <xs:element name="label_en_US" type="xs:string"/>
                                                                <xs:element name="externalCode" type="xs:string"/>
                                                                <xs:element name="optionId" type="xs:int"/>
                                                            </xs:sequence>
                                                        </xs:complexType>
                                                    </xs:element>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="positionNumber" type="xs:int"/>
                            <xs:element name="Position">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="parentPosition" minOccurs="0">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name="Position" minOccurs="0" maxOccurs="unbounded">
                                                        <xs:complexType>
                                                            <xs:sequence>
                                                                <xs:element name="code" type="xs:int" minOccurs="0"/>
                                                                
                                                            </xs:sequence>
                                                        </xs:complexType>
                                                    </xs:element>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element name="code" type="xs:int" minOccurs="0"/>
										<xs:element name="EmpJob" minOccurs="0" maxOccurs="unbounded">
                                                                    <xs:complexType>
                                                                        <xs:sequence>
                                                                            <!-- New Element Added -->
                                                                            <xs:element name="endDate" type="xs:dateTime" minOccurs="0"/>
                                                                            <xs:element name="customString10Nav" minOccurs="0">
                                                                                <xs:complexType>
                                                                                    <xs:sequence>
                                                                                        <xs:element name="PicklistOption" minOccurs="0">
                                                                                            <xs:complexType>
                                                                                                <xs:sequence>
                                                                                                    <xs:element name="localeLabel" type="xs:string" minOccurs="0"/>
                                                                                                </xs:sequence>
                                                                                            </xs:complexType>
                                                                                        </xs:element>
                                                                                    </xs:sequence>
                                                                                </xs:complexType>
                                                                            </xs:element>
                                                                            <xs:element name="jobCode" type="xs:string" minOccurs="0"/>
                                                                            <xs:element name="managerId" type="xs:int" minOccurs="0"/>
                                                                            <xs:element name="position" type="xs:int" minOccurs="0"/>
                                                                            <xs:element name="userId" type="xs:int" minOccurs="0"/>
                                                                        </xs:sequence>
                                                                    </xs:complexType>
                                                                </xs:element>
                                        <!-- New Element Added -->
                                        <xs:element name="locationNav">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name="FOLocation">
                                                        <xs:complexType>
                                                            <xs:sequence>
                                                                <xs:element name="customString4" type="xs:string"/>
                                                            </xs:sequence>
                                                        </xs:complexType>
                                                    </xs:element>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="status">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="PicklistOption">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name="id" type="xs:int"/>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>
