Resources/canonical_library/xsd/A_CreditMemoRequestItemType.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
<xs:element nillable="false"  name="A_CreditMemoRequestItemType">
    
                <xs:complexType>
                    <xs:sequence>
                        <xs:element nillable="false" minOccurs="0" name="CreditMemoRequest">
                            <xs:simpleType>
                                <xs:restriction base="xs:string" xmlns="">
                                    <xs:maxLength value="10"/>
                                </xs:restriction>
                            </xs:simpleType>
                        </xs:element>
                        <xs:element nillable="true" minOccurs="0" maxOccurs="unbounded" name="to_Text">
                            <xs:complexType>
                                <xs:sequence>
                                    <xs:element nillable="false" maxOccurs="1" name="Language">
                                                    <xs:simpleType>
                                                        <xs:restriction base="xs:string" xmlns="">
                                                            <xs:maxLength value="2"/>
                                                        </xs:restriction>
                                                    </xs:simpleType>
                                                </xs:element>
                                                <xs:element type="xs:string" nillable="true" minOccurs="0" maxOccurs="1" name="LongText" xmlns=""/>
                                                <xs:element nillable="false" maxOccurs="1" name="LongTextID">
                                                    <xs:simpleType>
                                                        <xs:restriction base="xs:string" xmlns="">
                                                            <xs:maxLength value="4"/>
                                                        </xs:restriction>
                                                    </xs:simpleType>
                                                </xs:element>
                                    
                                </xs:sequence>
                            </xs:complexType>
                        </xs:element>
                        <xs:element nillable="true" minOccurs="0" maxOccurs="unbounded" name="to_PricingElement">
                            <xs:complexType>
                                <xs:sequence>
                                    <xs:element nillable="true" minOccurs="0" maxOccurs="1" name="TransactionCurrency">
                                                    <xs:simpleType>
                                                        <xs:restriction base="xs:string" xmlns="">
                                                            <xs:maxLength value="5"/>
                                                        </xs:restriction>
                                                    </xs:simpleType>
                                                </xs:element>
                                                <xs:element nillable="true" minOccurs="0" maxOccurs="1" name="ConditionType">
                                                    <xs:simpleType>
                                                        <xs:restriction base="xs:string" xmlns="">
                                                            <xs:maxLength value="4"/>
                                                        </xs:restriction>
                                                    </xs:simpleType>
                                                </xs:element>
                                                <xs:element type="xs:decimal" nillable="true" minOccurs="0" maxOccurs="1" name="ConditionRateValue" xmlns=""/>
                                    
                                </xs:sequence>
                            </xs:complexType>
                        </xs:element>
                        <xs:element nillable="true" minOccurs="0" maxOccurs="1" name="Material">
                            <xs:simpleType>
                                <xs:restriction base="xs:string" xmlns="">
                                    <xs:maxLength value="40"/>
                                </xs:restriction>
                            </xs:simpleType>
                        </xs:element>
                        <xs:element type="xs:decimal" nillable="true" minOccurs="0" maxOccurs="1" name="RequestedQuantity" xmlns=""/>
                        <xs:element type="xs:dateTime" nillable="true" minOccurs="0" maxOccurs="1" name="PricingDate" xmlns=""/>
                        <xs:element nillable="true" minOccurs="0" maxOccurs="1" name="TransactionCurrency">
                                                    <xs:simpleType>
                                                        <xs:restriction base="xs:string" xmlns="">
                                                            <xs:maxLength value="5"/>
                                                        </xs:restriction>
                                                    </xs:simpleType>
                                                </xs:element>
                        
                        
                    </xs:sequence>
                </xs:complexType>

</xs:element>
</xs:schema>
