Resources/canonical_library/xsd/A_CustomerReturnItem.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="A_CustomerReturnItem">
    <xs:complexType>
        <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="1" name="A_CustomerReturnItemType">
                <xs:complexType>
                    <xs:sequence>
                      <xs:element name="CustomerReturn" type="xs:unsignedInt" />
                      <xs:element name="CustomerReturnItem" type="xs:unsignedByte" />
                      <xs:element name="HigherLevelItem" type="xs:unsignedByte" />
                      <xs:element name="CustomerReturnItemCategory" type="xs:string" />
                      <xs:element name="CustomerReturnItemText" type="xs:string" />
                      <xs:element name="PurchaseOrderByCustomer" />
                      <xs:element name="Material" type="xs:string" />
                      <xs:element name="MaterialByCustomer" />
                      <xs:element name="RequestedQuantity" type="xs:unsignedByte" />
                      <xs:element name="RequestedQuantityUnit" type="xs:string" />
                      <xs:element name="ItemGrossWeight" type="xs:decimal" />
                      <xs:element name="ItemNetWeight" type="xs:decimal" />
                      <xs:element name="ItemWeightUnit" type="xs:string" />
                      <xs:element name="ItemVolume" type="xs:decimal" />
                      <xs:element name="ItemVolumeUnit" type="xs:string" />
                      <xs:element name="TransactionCurrency" type="xs:string" />
                      <xs:element name="NetAmount" type="xs:decimal" />
                      <xs:element name="MaterialGroup" type="xs:unsignedByte" />
                      <xs:element name="Batch" />
                      <xs:element name="ProductionPlant" type="xs:unsignedByte" />
                      <xs:element name="StorageLocation" />
                      <xs:element name="ShippingPoint" type="xs:unsignedByte" />
                      <xs:element name="ShippingType" />
                      <xs:element name="DeliveryPriority" type="xs:unsignedByte" />
                      <xs:element name="IncotermsClassification" type="xs:string" />
                      <xs:element name="IncotermsTransferLocation" type="xs:string" />
                      <xs:element name="IncotermsLocation1" type="xs:string" />
                      <xs:element name="IncotermsLocation2" />
                      <xs:element name="CustomerPaymentTerms" type="xs:unsignedByte" />
                      <xs:element name="ProductTaxClassification1" type="xs:unsignedByte" />
                      <xs:element name="ProductTaxClassification2" type="xs:unsignedByte" />
                      <xs:element name="ProductTaxClassification3" />
                      <xs:element name="ProductTaxClassification4" />
                      <xs:element name="ProductTaxClassification5" />
                      <xs:element name="ProductTaxClassification6" />
                      <xs:element name="ProductTaxClassification7" />
                      <xs:element name="ProductTaxClassification8" />
                      <xs:element name="ProductTaxClassification9" />
                      <xs:element name="SalesDocumentRjcnReason" />
                      <xs:element name="ItemBillingBlockReason" />
                      <xs:element name="ProfitCenter" type="xs:string" />
                      <xs:element name="RetsMgmtProcess" type="xs:unsignedLong" />
                      <xs:element name="RetsMgmtProcessItem" type="xs:unsignedByte" />
                      <xs:element name="ReturnReason" />
                      <xs:element name="RetsMgmtProcessingBlock" />
                      <xs:element name="CustRetItmFollowUpActivity" />
                      <xs:element name="ReturnsMaterialHasBeenReceived" />
                      <xs:element name="ReturnsRefundType" />
                      <xs:element name="ReturnsRefundProcgMode" type="xs:string" />
                      <xs:element name="RetsProdValnIsSuspended" />
                      <xs:element name="ReturnsRefundExtent" />
                      <xs:element name="PrelimRefundIsDetermined" />
                      <xs:element name="ReturnsRefundRjcnReason" />
                      <xs:element name="ReplacementMaterial" />
                      <xs:element name="ReplacementMaterialQuantity" type="xs:decimal" />
                      <xs:element name="ReplacementMaterialQtyUnit" />
                      <xs:element name="ReplacementMaterialIsRequested" />
                      <xs:element name="ReplacementMatlSupplyingPlant" />
                      <xs:element name="NextPlantForFollowUpActivity" />
                      <xs:element name="ReturnsTransshipmentPlant" />
                      <xs:element name="Supplier" />
                      <xs:element name="SupplierRetMatlAuthzn" />
                      <xs:element name="SuplrRetMatlAuthznIsRequired" />
                      <xs:element name="CustomerRetMatlInspResultCode" />
                      <xs:element name="NextFllwUpActivityForMatlInsp" />
                      <xs:element name="RetMatlInspResultCode" />
                      <xs:element name="ProductIsInspectedAtCustSite" />
                      <xs:element name="CustRetMatlAuthzn" type="xs:string" />
                      <xs:element name="CRMLogicalSystem" />
                      <xs:element name="CRMObjectUUID" />
                      <xs:element name="CRMObjectID" />
                      <xs:element name="CRMObjectType" />
                      <xs:element name="RetsMgmtItmLogProcgStatus" type="xs:unsignedByte" />
                      <xs:element name="RetsMgmtItmCompnProcgStatus" />
                      <xs:element name="RetsMgmtItmProcgStatus" type="xs:unsignedByte" />
                      <xs:element name="ReturnsDocumentStatus" />
                      <xs:element name="ReturnsDocumentApprovalStatus" />
                      <xs:element name="SDProcessStatus" type="xs:string" />
                      <xs:element name="ReferenceSDDocument" />
                      <xs:element name="ReferenceSDDocumentItem" type="xs:unsignedByte" />
                      <xs:element name="ReferenceSDDocumentCategory" />
                      <xs:element name="SDDocumentRejectionStatus" type="xs:string" />
                      <xs:element name="ProductSeasonYear" />
                      <xs:element name="ProductSeason" />
                      <xs:element name="ProductCollection" />
                      <xs:element name="ProductTheme" />
                      <xs:element name="SeasonCompletenessStatus" />
                      <xs:element name="FashionCancelDate"/>
                      <xs:element name="ProductCharacteristic1" />
                      <xs:element name="ProductCharacteristic2" />
                      <xs:element name="ProductCharacteristic3" />
                      <xs:element name="ShippingGroupNumber" />
                      <xs:element name="ShippingGroupRule" />
                      <xs:element name="CrossPlantConfigurableProduct" />
                      <xs:element name="ProductCategory" />
                      <xs:element name="RequirementSegment" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>