Resources/canonical_library/xsd/A_DebitMemoRequestSimulation.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="A_DebitMemoRequestSimulation">
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="1" maxOccurs="unbounded" name="A_DebitMemoRequestSimulationType">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element nillable="false" maxOccurs="1" name="DebitMemoRequest">
                                <xs:simpleType>
                                    <xs:restriction base="xs:string" xmlns="">
                                        <xs:maxLength value="10"/>
                                    </xs:restriction>
                                </xs:simpleType>
                            </xs:element>
                            <xs:element nillable="true" minOccurs="0" maxOccurs="1" name="DistributionChannel">
                                <xs:simpleType>
                                    <xs:restriction base="xs:string" xmlns="">
                                        <xs:maxLength value="2"/>
                                    </xs:restriction>
                                </xs:simpleType>
                            </xs:element>
                            <xs:element nillable="true" minOccurs="0" maxOccurs="1" name="SalesOrganization">
                                <xs:simpleType>
                                    <xs:restriction base="xs:string" xmlns="">
                                        <xs:maxLength value="4"/>
                                    </xs:restriction>
                                </xs:simpleType>
                            </xs:element>
                            <xs:element nillable="true" minOccurs="0" maxOccurs="1" name="OrganizationDivision">
                                <xs:simpleType>
                                    <xs:restriction base="xs:string" xmlns="">
                                        <xs:maxLength value="2"/>
                                    </xs:restriction>
                                </xs:simpleType>
                            </xs:element>
                            <xs:element nillable="true" minOccurs="0" maxOccurs="1" name="SoldToParty">
                                <xs:simpleType>
                                    <xs:restriction base="xs:string" xmlns="">
                                        <xs:maxLength value="10"/>
                                    </xs:restriction>
                                </xs:simpleType>
                            </xs:element>
                            <xs:element nillable="true" minOccurs="0" maxOccurs="1" name="TotalNetAmount"/>
                            <xs:element nillable="true" minOccurs="0" maxOccurs="1" name="SDPricingProcedure"/>
                            <xs:element nillable="true" minOccurs="0" maxOccurs="1" name="TransactionCurrency">
                                <xs:simpleType>
                                    <xs:restriction base="xs:string" xmlns="">
                                        <xs:maxLength value="5"/>
                                    </xs:restriction>
                                </xs:simpleType>
                            </xs:element>
                            <xs:element nillable="true" minOccurs="0" maxOccurs="1" name="ReferenceSDDocument">
                                <xs:simpleType>
                                    <xs:restriction base="xs:string" xmlns="">
                                        <xs:maxLength value="10"/>
                                    </xs:restriction>
                                </xs:simpleType>
                            </xs:element>
                            <xs:element nillable="true" minOccurs="0" maxOccurs="unbounded" name="to_Item">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element minOccurs="0" maxOccurs="unbounded" name="A_DebitMemoReqItemSimulationType">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element nillable="false" maxOccurs="1" name="DebitMemoRequest">
                                                        <xs:simpleType>
                                                            <xs:restriction base="xs:string" xmlns="">
                                                                <xs:maxLength value="10"/>
                                                            </xs:restriction>
                                                        </xs:simpleType>
                                                    </xs:element>
                                                    <xs:element nillable="false" maxOccurs="1" name="DebitMemoRequestItem">
                                                        <xs:simpleType>
                                                            <xs:restriction base="xs:string" xmlns="">
                                                                <xs:maxLength value="6"/>
                                                            </xs:restriction>
                                                        </xs:simpleType>
                                                    </xs:element>
                                                    <xs:element nillable="true" minOccurs="0" maxOccurs="1" name="HigherLevelItem">
                                                        <xs:simpleType>
                                                            <xs:restriction base="xs:string" xmlns="">
                                                                <xs:maxLength value="6"/>
                                                            </xs:restriction>
                                                        </xs:simpleType>
                                                    </xs:element>
                                                    <xs:element nillable="true" minOccurs="0" maxOccurs="1" name="DebitMemoRequestItemCategory">
                                                        <xs:simpleType>
                                                            <xs:restriction base="xs:string" xmlns="">
                                                                <xs:maxLength value="4"/>
                                                            </xs:restriction>
                                                        </xs:simpleType>
                                                    </xs:element>
                                                    <xs:element nillable="true" minOccurs="0" maxOccurs="1" name="DebitMemoRequestItemText">
                                                        <xs:simpleType>
                                                            <xs:restriction base="xs:string" xmlns="">
                                                                <xs:maxLength value="40"/>
                                                            </xs:restriction>
                                                        </xs:simpleType>
                                                    </xs:element>
                                                    <xs:element nillable="true" minOccurs="0" maxOccurs="1" name="PurchaseOrderByCustomer">
                                                        <xs:simpleType>
                                                            <xs:restriction base="xs:string" xmlns="">
                                                                <xs:maxLength value="35"/>
                                                            </xs:restriction>
                                                        </xs:simpleType>
                                                    </xs:element>
                                                    <xs:element nillable="true" minOccurs="0" maxOccurs="1" name="Material">
                                                        <xs:simpleType>
                                                            <xs:restriction base="xs:string" xmlns="">
                                                                <xs:maxLength value="40"/>
                                                            </xs:restriction>
                                                        </xs:simpleType>
                                                    </xs:element>
                                                    <xs:element nillable="true" minOccurs="0" maxOccurs="1" name="MaterialByCustomer">
                                                        <xs:simpleType>
                                                            <xs:restriction base="xs:string" xmlns="">
                                                                <xs:maxLength value="35"/>
                                                            </xs:restriction>
                                                        </xs:simpleType>
                                                    </xs:element>
                                                    <xs:element type="xs:dateTime" nillable="true" minOccurs="0" maxOccurs="1" name="PricingDate" xmlns=""/>
                                                    <xs:element type="xs:decimal" nillable="true" minOccurs="0" maxOccurs="1" name="RequestedQuantity" xmlns=""/>
                                                    <xs:element nillable="true" minOccurs="0" maxOccurs="1" name="RequestedQuantityUnit">
                                                        <xs:simpleType>
                                                            <xs:restriction base="xs:string" xmlns="">
                                                                <xs:maxLength value="3"/>
                                                            </xs:restriction>
                                                        </xs:simpleType>
                                                    </xs:element>
                                                    <xs:element nillable="true" minOccurs="0" maxOccurs="1" name="RequestedQuantitySAPUnit">
                                                        <xs:simpleType>
                                                            <xs:restriction base="xs:string" xmlns="">
                                                                <xs:maxLength value="3"/>
                                                            </xs:restriction>
                                                        </xs:simpleType>
                                                    </xs:element>
                                                    <xs:element nillable="true" minOccurs="0" maxOccurs="1" name="RequestedQuantityISOUnit">
                                                        <xs:simpleType>
                                                            <xs:restriction base="xs:string" xmlns="">
                                                                <xs:maxLength value="3"/>
                                                            </xs:restriction>
                                                        </xs:simpleType>
                                                    </xs:element>
                                                    <xs:element type="xs:decimal" nillable="true" minOccurs="0" maxOccurs="1" name="ItemGrossWeight" xmlns=""/>
                                                    <xs:element type="xs:decimal" nillable="true" minOccurs="0" maxOccurs="1" name="ItemNetWeight" xmlns=""/>
                                                    <xs:element nillable="true" minOccurs="0" maxOccurs="1" name="ItemWeightUnit">
                                                        <xs:simpleType>
                                                            <xs:restriction base="xs:string" xmlns="">
                                                                <xs:maxLength value="3"/>
                                                            </xs:restriction>
                                                        </xs:simpleType>
                                                    </xs:element>
                                                    <xs:element nillable="true" minOccurs="0" maxOccurs="1" name="ItemWeightSAPUnit">
                                                        <xs:simpleType>
                                                            <xs:restriction base="xs:string" xmlns="">
                                                                <xs:maxLength value="3"/>
                                                            </xs:restriction>
                                                        </xs:simpleType>
                                                    </xs:element>
                                                    <xs:element nillable="true" minOccurs="0" maxOccurs="1" name="ItemWeightISOUnit">
                                                        <xs:simpleType>
                                                            <xs:restriction base="xs:string" xmlns="">
                                                                <xs:maxLength value="3"/>
                                                            </xs:restriction>
                                                        </xs:simpleType>
                                                    </xs:element>
                                                    <xs:element type="xs:decimal" nillable="true" minOccurs="0" maxOccurs="1" name="ItemVolume" xmlns=""/>
                                                    <xs:element nillable="true" minOccurs="0" maxOccurs="1" name="ItemVolumeUnit">
                                                        <xs:simpleType>
                                                            <xs:restriction base="xs:string" xmlns="">
                                                                <xs:maxLength value="3"/>
                                                            </xs:restriction>
                                                        </xs:simpleType>
                                                    </xs:element>
                                                    <xs:element nillable="true" minOccurs="0" maxOccurs="1" name="ItemVolumeSAPUnit">
                                                        <xs:simpleType>
                                                            <xs:restriction base="xs:string" xmlns="">
                                                                <xs:maxLength value="3"/>
                                                            </xs:restriction>
                                                        </xs:simpleType>
                                                    </xs:element>
                                                    <xs:element nillable="true" minOccurs="0" maxOccurs="1" name="ItemVolumeISOUnit">
                                                        <xs:simpleType>
                                                            <xs:restriction base="xs:string" xmlns="">
                                                                <xs:maxLength value="3"/>
                                                            </xs:restriction>
                                                        </xs:simpleType>
                                                    </xs:element>
                                                    <xs:element nillable="true" minOccurs="0" maxOccurs="1" name="TransactionCurrency">
                                                        <xs:simpleType>
                                                            <xs:restriction base="xs:string" xmlns="">
                                                                <xs:maxLength value="5"/>
                                                            </xs:restriction>
                                                        </xs:simpleType>
                                                    </xs:element>
                                                    <xs:element type="xs:decimal" nillable="true" minOccurs="0" maxOccurs="1" name="NetAmount" xmlns=""/>
                                                    <xs:element nillable="true" minOccurs="0" maxOccurs="1" name="MaterialGroup">
                                                        <xs:simpleType>
                                                            <xs:restriction base="xs:string" xmlns="">
                                                                <xs:maxLength value="9"/>
                                                            </xs:restriction>
                                                        </xs:simpleType>
                                                    </xs:element>
                                                    <xs:element nillable="true" minOccurs="0" maxOccurs="1" name="AdditionalMaterialGroup1">
                                                        <xs:simpleType>
                                                            <xs:restriction base="xs:string" xmlns="">
                                                                <xs:maxLength value="3"/>
                                                            </xs:restriction>
                                                        </xs:simpleType>
                                                    </xs:element>
                                                    <xs:element nillable="true" minOccurs="0" maxOccurs="1" name="AdditionalMaterialGroup2">
                                                        <xs:simpleType>
                                                            <xs:restriction base="xs:string" xmlns="">
                                                                <xs:maxLength value="3"/>
                                                            </xs:restriction>
                                                        </xs:simpleType>
                                                    </xs:element>
                                                    <xs:element nillable="true" minOccurs="0" maxOccurs="1" name="AdditionalMaterialGroup3">
                                                        <xs:simpleType>
                                                            <xs:restriction base="xs:string" xmlns="">
                                                                <xs:maxLength value="3"/>
                                                            </xs:restriction>
                                                        </xs:simpleType>
                                                    </xs:element>
                                                    <xs:element nillable="true" minOccurs="0" maxOccurs="1" name="AdditionalMaterialGroup4">
                                                        <xs:simpleType>
                                                            <xs:restriction base="xs:string" xmlns="">
                                                                <xs:maxLength value="3"/>
                                                            </xs:restriction>
                                                        </xs:simpleType>
                                                    </xs:element>
                                                    <xs:element nillable="true" minOccurs="0" maxOccurs="1" name="AdditionalMaterialGroup5">
                                                        <xs:simpleType>
                                                            <xs:restriction base="xs:string" xmlns="">
                                                                <xs:maxLength value="3"/>
                                                            </xs:restriction>
                                                        </xs:simpleType>
                                                    </xs:element>
                                                    <xs:element nillable="true" minOccurs="0" maxOccurs="1" name="MaterialPricingGroup">
                                                        <xs:simpleType>
                                                            <xs:restriction base="xs:string" xmlns="">
                                                                <xs:maxLength value="2"/>
                                                            </xs:restriction>
                                                        </xs:simpleType>
                                                    </xs:element>
                                                    <xs:element nillable="true" minOccurs="0" maxOccurs="1" name="ProductTaxClassification1">
                                                        <xs:simpleType>
                                                            <xs:restriction base="xs:string" xmlns="">
                                                                <xs:maxLength value="1"/>
                                                            </xs:restriction>
                                                        </xs:simpleType>
                                                    </xs:element>
                                                    <xs:element nillable="true" minOccurs="0" maxOccurs="1" name="ProductTaxClassification2">
                                                        <xs:simpleType>
                                                            <xs:restriction base="xs:string" xmlns="">
                                                                <xs:maxLength value="1"/>
                                                            </xs:restriction>
                                                        </xs:simpleType>
                                                    </xs:element>
                                                    <xs:element nillable="true" minOccurs="0" maxOccurs="1" name="ProductTaxClassification3">
                                                        <xs:simpleType>
                                                            <xs:restriction base="xs:string" xmlns="">
                                                                <xs:maxLength value="1"/>
                                                            </xs:restriction>
                                                        </xs:simpleType>
                                                    </xs:element>
                                                    <xs:element nillable="true" minOccurs="0" maxOccurs="1" name="ProductTaxClassification4">
                                                        <xs:simpleType>
                                                            <xs:restriction base="xs:string" xmlns="">
                                                                <xs:maxLength value="1"/>
                                                            </xs:restriction>
                                                        </xs:simpleType>
                                                    </xs:element>
                                                    <xs:element nillable="true" minOccurs="0" maxOccurs="1" name="ProductTaxClassification5">
                                                        <xs:simpleType>
                                                            <xs:restriction base="xs:string" xmlns="">
                                                                <xs:maxLength value="1"/>
                                                            </xs:restriction>
                                                        </xs:simpleType>
                                                    </xs:element>
                                                    <xs:element nillable="true" minOccurs="0" maxOccurs="1" name="ProductTaxClassification6">
                                                        <xs:simpleType>
                                                            <xs:restriction base="xs:string" xmlns="">
                                                                <xs:maxLength value="1"/>
                                                            </xs:restriction>
                                                        </xs:simpleType>
                                                    </xs:element>
                                                    <xs:element nillable="true" minOccurs="0" maxOccurs="1" name="ProductTaxClassification7">
                                                        <xs:simpleType>
                                                            <xs:restriction base="xs:string" xmlns="">
                                                                <xs:maxLength value="1"/>
                                                            </xs:restriction>
                                                        </xs:simpleType>
                                                    </xs:element>
                                                    <xs:element nillable="true" minOccurs="0" maxOccurs="1" name="ProductTaxClassification8">
                                                        <xs:simpleType>
                                                            <xs:restriction base="xs:string" xmlns="">
                                                                <xs:maxLength value="1"/>
                                                            </xs:restriction>
                                                        </xs:simpleType>
                                                    </xs:element>
                                                    <xs:element nillable="true" minOccurs="0" maxOccurs="1" name="ProductTaxClassification9">
                                                        <xs:simpleType>
                                                            <xs:restriction base="xs:string" xmlns="">
                                                                <xs:maxLength value="1"/>
                                                            </xs:restriction>
                                                        </xs:simpleType>
                                                    </xs:element>
                                                    <xs:element nillable="true" minOccurs="0" maxOccurs="1" name="Batch">
                                                        <xs:simpleType>
                                                            <xs:restriction base="xs:string" xmlns="">
                                                                <xs:maxLength value="10"/>
                                                            </xs:restriction>
                                                        </xs:simpleType>
                                                    </xs:element>
                                                    <xs:element nillable="true" minOccurs="0" maxOccurs="1" name="Plant">
                                                        <xs:simpleType>
                                                            <xs:restriction base="xs:string" xmlns="">
                                                                <xs:maxLength value="4"/>
                                                            </xs:restriction>
                                                        </xs:simpleType>
                                                    </xs:element>
                                                    <xs:element nillable="true" minOccurs="0" maxOccurs="1" name="IncotermsClassification">
                                                        <xs:simpleType>
                                                            <xs:restriction base="xs:string" xmlns="">
                                                                <xs:maxLength value="3"/>
                                                            </xs:restriction>
                                                        </xs:simpleType>
                                                    </xs:element>
                                                    <xs:element nillable="true" minOccurs="0" maxOccurs="1" name="IncotermsTransferLocation">
                                                        <xs:simpleType>
                                                            <xs:restriction base="xs:string" xmlns="">
                                                                <xs:maxLength value="28"/>
                                                            </xs:restriction>
                                                        </xs:simpleType>
                                                    </xs:element>
                                                    <xs:element nillable="true" minOccurs="0" maxOccurs="1" name="IncotermsLocation1">
                                                        <xs:simpleType>
                                                            <xs:restriction base="xs:string" xmlns="">
                                                                <xs:maxLength value="70"/>
                                                            </xs:restriction>
                                                        </xs:simpleType>
                                                    </xs:element>
                                                    <xs:element nillable="true" minOccurs="0" maxOccurs="1" name="IncotermsLocation2">
                                                        <xs:simpleType>
                                                            <xs:restriction base="xs:string" xmlns="">
                                                                <xs:maxLength value="70"/>
                                                            </xs:restriction>
                                                        </xs:simpleType>
                                                    </xs:element>
                                                    <xs:element nillable="true" minOccurs="0" maxOccurs="1" name="CustomerPaymentTerms">
                                                        <xs:simpleType>
                                                            <xs:restriction base="xs:string" xmlns="">
                                                                <xs:maxLength value="4"/>
                                                            </xs:restriction>
                                                        </xs:simpleType>
                                                    </xs:element>
                                                    <xs:element nillable="true" minOccurs="0" maxOccurs="1" name="ItemBillingBlockReason">
                                                        <xs:simpleType>
                                                            <xs:restriction base="xs:string" xmlns="">
                                                                <xs:maxLength value="2"/>
                                                            </xs:restriction>
                                                        </xs:simpleType>
                                                    </xs:element>
                                                    <xs:element nillable="true" minOccurs="0" maxOccurs="1" name="SalesDocumentRjcnReason">
                                                        <xs:simpleType>
                                                            <xs:restriction base="xs:string" xmlns="">
                                                                <xs:maxLength value="2"/>
                                                            </xs:restriction>
                                                        </xs:simpleType>
                                                    </xs:element>
                                                    <xs:element nillable="true" minOccurs="0" maxOccurs="1" name="ProfitCenter">
                                                        <xs:simpleType>
                                                            <xs:restriction base="xs:string" xmlns="">
                                                                <xs:maxLength value="10"/>
                                                            </xs:restriction>
                                                        </xs:simpleType>
                                                    </xs:element>
                                                    <xs:element nillable="true" minOccurs="0" maxOccurs="1" name="ReferenceSDDocument">
                                                        <xs:simpleType>
                                                            <xs:restriction base="xs:string" xmlns="">
                                                                <xs:maxLength value="10"/>
                                                            </xs:restriction>
                                                        </xs:simpleType>
                                                    </xs:element>
                                                    <xs:element nillable="true" minOccurs="0" maxOccurs="1" name="ReferenceSDDocumentItem">
                                                        <xs:simpleType>
                                                            <xs:restriction base="xs:string" xmlns="">
                                                                <xs:maxLength value="6"/>
                                                            </xs:restriction>
                                                        </xs:simpleType>
                                                    </xs:element>
                                                    <xs:element type="xs:decimal" nillable="true" minOccurs="0" maxOccurs="1" name="Subtotal1Amount" xmlns=""/>
                                                    <xs:element type="xs:decimal" nillable="true" minOccurs="0" maxOccurs="1" name="Subtotal2Amount" xmlns=""/>
                                                    <xs:element type="xs:decimal" nillable="true" minOccurs="0" maxOccurs="1" name="Subtotal3Amount" xmlns=""/>
                                                    <xs:element type="xs:decimal" nillable="true" minOccurs="0" maxOccurs="1" name="Subtotal4Amount" xmlns=""/>
                                                    <xs:element type="xs:decimal" nillable="true" minOccurs="0" maxOccurs="1" name="Subtotal5Amount" xmlns=""/>
                                                    <xs:element type="xs:decimal" nillable="true" minOccurs="0" maxOccurs="1" name="Subtotal6Amount" xmlns=""/>
                                                    <xs:element type="xs:decimal" nillable="true" minOccurs="0" maxOccurs="1" name="TaxAmount" xmlns=""/>
                                                    <xs:element nillable="true" minOccurs="0" maxOccurs="unbounded" name="to_PricingElement">
                                                        <xs:complexType>
                                                            <xs:sequence>
                                                                <xs:element minOccurs="0" maxOccurs="unbounded" name="A_DebitMemoReqItemPrgElmSimlnType">
                                                                    <xs:complexType>
                                                                        <xs:sequence>
                                                                            <xs:element nillable="false" maxOccurs="1" name="DebitMemoRequest">
                                                                                <xs:simpleType>
                                                                                    <xs:restriction base="xs:string" xmlns="">
                                                                                        <xs:maxLength value="10"/>
                                                                                    </xs:restriction>
                                                                                </xs:simpleType>
                                                                            </xs:element>
                                                                            <xs:element nillable="false" maxOccurs="1" name="DebitMemoRequestItem">
                                                                                <xs:simpleType>
                                                                                    <xs:restriction base="xs:string" xmlns="">
                                                                                        <xs:maxLength value="6"/>
                                                                                    </xs:restriction>
                                                                                </xs:simpleType>
                                                                            </xs:element>
                                                                            <xs:element nillable="false" maxOccurs="1" name="PricingProcedureStep">
                                                                                <xs:simpleType>
                                                                                    <xs:restriction base="xs:string" xmlns="">
                                                                                        <xs:maxLength value="3"/>
                                                                                    </xs:restriction>
                                                                                </xs:simpleType>
                                                                            </xs:element>
                                                                            <xs:element nillable="false" maxOccurs="1" name="PricingProcedureCounter">
                                                                                <xs:simpleType>
                                                                                    <xs:restriction base="xs:string" xmlns="">
                                                                                        <xs:maxLength value="3"/>
                                                                                    </xs:restriction>
                                                                                </xs:simpleType>
                                                                            </xs:element>
                                                                            <xs:element nillable="true" minOccurs="0" maxOccurs="1" name="ConditionApplication">
                                                                                <xs:simpleType>
                                                                                    <xs:restriction base="xs:string" xmlns="">
                                                                                        <xs:maxLength value="2"/>
                                                                                    </xs:restriction>
                                                                                </xs:simpleType>
                                                                            </xs:element>
                                                                            <xs:element nillable="true" minOccurs="0" maxOccurs="1" name="ConditionType">
                                                                                <xs:simpleType>
                                                                                    <xs:restriction base="xs:string" xmlns="">
                                                                                        <xs:maxLength value="4"/>
                                                                                    </xs:restriction>
                                                                                </xs:simpleType>
                                                                            </xs:element>
                                                                            <xs:element type="xs:dateTime" nillable="true" minOccurs="0" maxOccurs="1" name="PriceConditionDeterminationDte" xmlns=""/>
                                                                            <xs:element nillable="true" minOccurs="0" maxOccurs="1" name="ConditionCalculationType">
                                                                                <xs:simpleType>
                                                                                    <xs:restriction base="xs:string" xmlns="">
                                                                                        <xs:maxLength value="3"/>
                                                                                    </xs:restriction>
                                                                                </xs:simpleType>
                                                                            </xs:element>
                                                                            <xs:element type="xs:decimal" nillable="true" minOccurs="0" maxOccurs="1" name="ConditionBaseValue" xmlns=""/>
                                                                            <xs:element type="xs:decimal" nillable="true" minOccurs="0" maxOccurs="1" name="ConditionRateValue" xmlns=""/>
                                                                            <xs:element nillable="true" minOccurs="0" maxOccurs="1" name="ConditionCurrency">
                                                                                <xs:simpleType>
                                                                                    <xs:restriction base="xs:string" xmlns="">
                                                                                        <xs:maxLength value="5"/>
                                                                                    </xs:restriction>
                                                                                </xs:simpleType>
                                                                            </xs:element>
                                                                            <xs:element type="xs:decimal" nillable="true" minOccurs="0" maxOccurs="1" name="ConditionQuantity" xmlns=""/>
                                                                            <xs:element nillable="true" minOccurs="0" maxOccurs="1" name="ConditionQuantityUnit">
                                                                                <xs:simpleType>
                                                                                    <xs:restriction base="xs:string" xmlns="">
                                                                                        <xs:maxLength value="3"/>
                                                                                    </xs:restriction>
                                                                                </xs:simpleType>
                                                                            </xs:element>
                                                                            <xs:element nillable="true" minOccurs="0" maxOccurs="1" name="ConditionQuantitySAPUnit">
                                                                                <xs:simpleType>
                                                                                    <xs:restriction base="xs:string" xmlns="">
                                                                                        <xs:maxLength value="3"/>
                                                                                    </xs:restriction>
                                                                                </xs:simpleType>
                                                                            </xs:element>
                                                                            <xs:element nillable="true" minOccurs="0" maxOccurs="1" name="ConditionQuantityISOUnit">
                                                                                <xs:simpleType>
                                                                                    <xs:restriction base="xs:string" xmlns="">
                                                                                        <xs:maxLength value="3"/>
                                                                                    </xs:restriction>
                                                                                </xs:simpleType>
                                                                            </xs:element>
                                                                            <xs:element type="xs:decimal" nillable="true" minOccurs="0" maxOccurs="1" name="ConditionToBaseQtyNmrtr" xmlns=""/>
                                                                            <xs:element type="xs:decimal" nillable="true" minOccurs="0" maxOccurs="1" name="ConditionToBaseQtyDnmntr" xmlns=""/>
                                                                            <xs:element nillable="true" minOccurs="0" maxOccurs="1" name="ConditionCategory">
                                                                                <xs:simpleType>
                                                                                    <xs:restriction base="xs:string" xmlns="">
                                                                                        <xs:maxLength value="1"/>
                                                                                    </xs:restriction>
                                                                                </xs:simpleType>
                                                                            </xs:element>
                                                                            <xs:element type="xs:boolean" nillable="true" minOccurs="0" maxOccurs="1" name="ConditionIsForStatistics" xmlns=""/>
                                                                            <xs:element nillable="true" minOccurs="0" maxOccurs="1" name="PricingScaleType">
                                                                                <xs:simpleType>
                                                                                    <xs:restriction base="xs:string" xmlns="">
                                                                                        <xs:maxLength value="1"/>
                                                                                    </xs:restriction>
                                                                                </xs:simpleType>
                                                                            </xs:element>
                                                                            <xs:element type="xs:boolean" nillable="true" minOccurs="0" maxOccurs="1" name="IsRelevantForAccrual" xmlns=""/>
                                                                            <xs:element nillable="true" minOccurs="0" maxOccurs="1" name="CndnIsRelevantForInvoiceList">
                                                                                <xs:simpleType>
                                                                                    <xs:restriction base="xs:string" xmlns="">
                                                                                        <xs:maxLength value="1"/>
                                                                                    </xs:restriction>
                                                                                </xs:simpleType>
                                                                            </xs:element>
                                                                            <xs:element nillable="true" minOccurs="0" maxOccurs="1" name="ConditionOrigin">
                                                                                <xs:simpleType>
                                                                                    <xs:restriction base="xs:string" xmlns="">
                                                                                        <xs:maxLength value="1"/>
                                                                                    </xs:restriction>
                                                                                </xs:simpleType>
                                                                            </xs:element>
                                                                            <xs:element nillable="true" minOccurs="0" maxOccurs="1" name="IsGroupCondition">
                                                                                <xs:simpleType>
                                                                                    <xs:restriction base="xs:string" xmlns="">
                                                                                        <xs:maxLength value="1"/>
                                                                                    </xs:restriction>
                                                                                </xs:simpleType>
                                                                            </xs:element>
                                                                            <xs:element nillable="true" minOccurs="0" maxOccurs="1" name="AccessNumberOfAccessSequence">
                                                                                <xs:simpleType>
                                                                                    <xs:restriction base="xs:string" xmlns="">
                                                                                        <xs:maxLength value="3"/>
                                                                                    </xs:restriction>
                                                                                </xs:simpleType>
                                                                            </xs:element>
                                                                            <xs:element nillable="true" minOccurs="0" maxOccurs="1" name="ConditionRecord">
                                                                                <xs:simpleType>
                                                                                    <xs:restriction base="xs:string" xmlns="">
                                                                                        <xs:maxLength value="10"/>
                                                                                    </xs:restriction>
                                                                                </xs:simpleType>
                                                                            </xs:element>
                                                                            <xs:element nillable="true" minOccurs="0" maxOccurs="1" name="ConditionSequentialNumber">
                                                                                <xs:simpleType>
                                                                                    <xs:restriction base="xs:string" xmlns="">
                                                                                        <xs:maxLength value="3"/>
                                                                                    </xs:restriction>
                                                                                </xs:simpleType>
                                                                            </xs:element>
                                                                            <xs:element nillable="true" minOccurs="0" maxOccurs="1" name="TaxCode">
                                                                                <xs:simpleType>
                                                                                    <xs:restriction base="xs:string" xmlns="">
                                                                                        <xs:maxLength value="2"/>
                                                                                    </xs:restriction>
                                                                                </xs:simpleType>
                                                                            </xs:element>
                                                                            <xs:element nillable="true" minOccurs="0" maxOccurs="1" name="WithholdingTaxCode">
                                                                                <xs:simpleType>
                                                                                    <xs:restriction base="xs:string" xmlns="">
                                                                                        <xs:maxLength value="2"/>
                                                                                    </xs:restriction>
                                                                                </xs:simpleType>
                                                                            </xs:element>
                                                                            <xs:element type="xs:decimal" nillable="true" minOccurs="0" maxOccurs="1" name="CndnRoundingOffDiffAmount" xmlns=""/>
                                                                            <xs:element type="xs:decimal" nillable="true" minOccurs="0" maxOccurs="1" name="ConditionAmount" xmlns=""/>
                                                                            <xs:element nillable="true" minOccurs="0" maxOccurs="1" name="TransactionCurrency">
                                                                                <xs:simpleType>
                                                                                    <xs:restriction base="xs:string" xmlns="">
                                                                                        <xs:maxLength value="5"/>
                                                                                    </xs:restriction>
                                                                                </xs:simpleType>
                                                                            </xs:element>
                                                                            <xs:element nillable="true" minOccurs="0" maxOccurs="1" name="ConditionControl">
                                                                                <xs:simpleType>
                                                                                    <xs:restriction base="xs:string" xmlns="">
                                                                                        <xs:maxLength value="1"/>
                                                                                    </xs:restriction>
                                                                                </xs:simpleType>
                                                                            </xs:element>
                                                                            <xs:element nillable="true" minOccurs="0" maxOccurs="1" name="ConditionInactiveReason">
                                                                                <xs:simpleType>
                                                                                    <xs:restriction base="xs:string" xmlns="">
                                                                                        <xs:maxLength value="1"/>
                                                                                    </xs:restriction>
                                                                                </xs:simpleType>
                                                                            </xs:element>
                                                                            <xs:element nillable="true" minOccurs="0" maxOccurs="1" name="ConditionClass">
                                                                                <xs:simpleType>
                                                                                    <xs:restriction base="xs:string" xmlns="">
                                                                                        <xs:maxLength value="1"/>
                                                                                    </xs:restriction>
                                                                                </xs:simpleType>
                                                                            </xs:element>
                                                                            <xs:element nillable="true" minOccurs="0" maxOccurs="1" name="PrcgProcedureCounterForHeader">
                                                                                <xs:simpleType>
                                                                                    <xs:restriction base="xs:string" xmlns="">
                                                                                        <xs:maxLength value="3"/>
                                                                                    </xs:restriction>
                                                                                </xs:simpleType>
                                                                            </xs:element>
                                                                            <xs:element type="xs:double" nillable="true" minOccurs="0" maxOccurs="1" name="FactorForConditionBasisValue" xmlns=""/>
                                                                            <xs:element nillable="true" minOccurs="0" maxOccurs="1" name="StructureCondition">
                                                                                <xs:simpleType>
                                                                                    <xs:restriction base="xs:string" xmlns="">
                                                                                        <xs:maxLength value="1"/>
                                                                                    </xs:restriction>
                                                                                </xs:simpleType>
                                                                            </xs:element>
                                                                            <xs:element type="xs:double" nillable="true" minOccurs="0" maxOccurs="1" name="PeriodFactorForCndnBasisValue" xmlns=""/>
                                                                            <xs:element nillable="true" minOccurs="0" maxOccurs="1" name="PricingScaleBasis">
                                                                                <xs:simpleType>
                                                                                    <xs:restriction base="xs:string" xmlns="">
                                                                                        <xs:maxLength value="3"/>
                                                                                    </xs:restriction>
                                                                                </xs:simpleType>
                                                                            </xs:element>
                                                                            <xs:element type="xs:decimal" nillable="true" minOccurs="0" maxOccurs="1" name="ConditionScaleBasisValue" xmlns=""/>
                                                                            <xs:element nillable="true" minOccurs="0" maxOccurs="1" name="ConditionScaleBasisUnit">
                                                                                <xs:simpleType>
                                                                                    <xs:restriction base="xs:string" xmlns="">
                                                                                        <xs:maxLength value="3"/>
                                                                                    </xs:restriction>
                                                                                </xs:simpleType>
                                                                            </xs:element>
                                                                            <xs:element nillable="true" minOccurs="0" maxOccurs="1" name="ConditionScaleBasisCurrency">
                                                                                <xs:simpleType>
                                                                                    <xs:restriction base="xs:string" xmlns="">
                                                                                        <xs:maxLength value="5"/>
                                                                                    </xs:restriction>
                                                                                </xs:simpleType>
                                                                            </xs:element>
                                                                            <xs:element nillable="true" minOccurs="0" maxOccurs="1" name="ConditionAlternativeCurrency">
                                                                                <xs:simpleType>
                                                                                    <xs:restriction base="xs:string" xmlns="">
                                                                                        <xs:maxLength value="5"/>
                                                                                    </xs:restriction>
                                                                                </xs:simpleType>
                                                                            </xs:element>
                                                                            <xs:element type="xs:decimal" nillable="true" minOccurs="0" maxOccurs="1" name="ConditionAmountInLocalCrcy" xmlns=""/>
                                                                            <xs:element type="xs:boolean" nillable="true" minOccurs="0" maxOccurs="1" name="CndnIsRelevantForIntcoBilling" xmlns=""/>
                                                                            <xs:element type="xs:boolean" nillable="true" minOccurs="0" maxOccurs="1" name="ConditionIsManuallyChanged" xmlns=""/>
                                                                            <xs:element type="xs:decimal" nillable="true" minOccurs="0" maxOccurs="1" name="CumulatedConditionBasisValue" xmlns=""/>
                                                                            <xs:element type="xs:boolean" nillable="true" minOccurs="0" maxOccurs="1" name="ConditionIsForConfiguration" xmlns=""/>
                                                                            <xs:element nillable="true" minOccurs="0" maxOccurs="1" name="VariantCondition">
                                                                                <xs:simpleType>
                                                                                    <xs:restriction base="xs:string" xmlns="">
                                                                                        <xs:maxLength value="26"/>
                                                                                    </xs:restriction>
                                                                                </xs:simpleType>
                                                                            </xs:element>
                                                                        </xs:sequence>
                                                                    </xs:complexType>
                                                                </xs:element>
                                                            </xs:sequence>
                                                        </xs:complexType>
                                                    </xs:element>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element nillable="true" minOccurs="0" maxOccurs="unbounded" name="to_Partner">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element minOccurs="0" maxOccurs="unbounded" name="A_DebitMemoReqPartnerSimlnType">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element nillable="false" maxOccurs="1" name="DebitMemoRequest">
                                                        <xs:simpleType>
                                                            <xs:restriction base="xs:string" xmlns="">
                                                                <xs:maxLength value="10"/>
                                                            </xs:restriction>
                                                        </xs:simpleType>
                                                    </xs:element>
                                                    <xs:element nillable="false" maxOccurs="1" name="PartnerFunction">
                                                        <xs:simpleType>
                                                            <xs:restriction base="xs:string" xmlns="">
                                                                <xs:maxLength value="2"/>
                                                            </xs:restriction>
                                                        </xs:simpleType>
                                                    </xs:element>
                                                    <xs:element nillable="true" minOccurs="0" maxOccurs="1" name="Customer">
                                                        <xs:simpleType>
                                                            <xs:restriction base="xs:string" xmlns="">
                                                                <xs:maxLength value="10"/>
                                                            </xs:restriction>
                                                        </xs:simpleType>
                                                    </xs:element>
                                                    <xs:element nillable="true" minOccurs="0" maxOccurs="1" name="Supplier">
                                                        <xs:simpleType>
                                                            <xs:restriction base="xs:string" xmlns="">
                                                                <xs:maxLength value="10"/>
                                                            </xs:restriction>
                                                        </xs:simpleType>
                                                    </xs:element>
                                                    <xs:element nillable="true" minOccurs="0" maxOccurs="1" name="Personnel">
                                                        <xs:simpleType>
                                                            <xs:restriction base="xs:string" xmlns="">
                                                                <xs:maxLength value="8"/>
                                                            </xs:restriction>
                                                        </xs:simpleType>
                                                    </xs:element>
                                                    <xs:element nillable="true" minOccurs="0" maxOccurs="1" name="ContactPerson">
                                                        <xs:simpleType>
                                                            <xs:restriction base="xs:string" xmlns="">
                                                                <xs:maxLength value="10"/>
                                                            </xs:restriction>
                                                        </xs:simpleType>
                                                    </xs:element>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element nillable="true" minOccurs="0" maxOccurs="unbounded" name="to_PricingElement">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element minOccurs="0" maxOccurs="unbounded" name="A_DebitMemoReqPrcgElmntSimlnType">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element nillable="false" maxOccurs="1" name="DebitMemoRequest">
                                                        <xs:simpleType>
                                                            <xs:restriction base="xs:string" xmlns="">
                                                                <xs:maxLength value="10"/>
                                                            </xs:restriction>
                                                        </xs:simpleType>
                                                    </xs:element>
                                                    <xs:element nillable="false" maxOccurs="1" name="PricingProcedureStep">
                                                        <xs:simpleType>
                                                            <xs:restriction base="xs:string" xmlns="">
                                                                <xs:maxLength value="3"/>
                                                            </xs:restriction>
                                                        </xs:simpleType>
                                                    </xs:element>
                                                    <xs:element nillable="false" maxOccurs="1" name="PricingProcedureCounter">
                                                        <xs:simpleType>
                                                            <xs:restriction base="xs:string" xmlns="">
                                                                <xs:maxLength value="3"/>
                                                            </xs:restriction>
                                                        </xs:simpleType>
                                                    </xs:element>
                                                    <xs:element nillable="true" minOccurs="0" maxOccurs="1" name="ConditionApplication">
                                                        <xs:simpleType>
                                                            <xs:restriction base="xs:string" xmlns="">
                                                                <xs:maxLength value="2"/>
                                                            </xs:restriction>
                                                        </xs:simpleType>
                                                    </xs:element>
                                                    <xs:element nillable="true" minOccurs="0" maxOccurs="1" name="ConditionType">
                                                        <xs:simpleType>
                                                            <xs:restriction base="xs:string" xmlns="">
                                                                <xs:maxLength value="4"/>
                                                            </xs:restriction>
                                                        </xs:simpleType>
                                                    </xs:element>
                                                    <xs:element type="xs:dateTime" nillable="true" minOccurs="0" maxOccurs="1" name="PriceConditionDeterminationDte" xmlns=""/>
                                                    <xs:element nillable="true" minOccurs="0" maxOccurs="1" name="ConditionCalculationType">
                                                        <xs:simpleType>
                                                            <xs:restriction base="xs:string" xmlns="">
                                                                <xs:maxLength value="3"/>
                                                            </xs:restriction>
                                                        </xs:simpleType>
                                                    </xs:element>
                                                    <xs:element type="xs:decimal" nillable="true" minOccurs="0" maxOccurs="1" name="ConditionBaseValue" xmlns=""/>
                                                    <xs:element type="xs:decimal" nillable="true" minOccurs="0" maxOccurs="1" name="ConditionRateValue" xmlns=""/>
                                                    <xs:element nillable="true" minOccurs="0" maxOccurs="1" name="ConditionCurrency">
                                                        <xs:simpleType>
                                                            <xs:restriction base="xs:string" xmlns="">
                                                                <xs:maxLength value="5"/>
                                                            </xs:restriction>
                                                        </xs:simpleType>
                                                    </xs:element>
                                                    <xs:element type="xs:decimal" nillable="true" minOccurs="0" maxOccurs="1" name="ConditionQuantity" xmlns=""/>
                                                    <xs:element nillable="true" minOccurs="0" maxOccurs="1" name="ConditionQuantityUnit">
                                                        <xs:simpleType>
                                                            <xs:restriction base="xs:string" xmlns="">
                                                                <xs:maxLength value="3"/>
                                                            </xs:restriction>
                                                        </xs:simpleType>
                                                    </xs:element>
                                                    <xs:element type="xs:decimal" nillable="true" minOccurs="0" maxOccurs="1" name="ConditionToBaseQtyNmrtr" xmlns=""/>
                                                    <xs:element type="xs:decimal" nillable="true" minOccurs="0" maxOccurs="1" name="ConditionToBaseQtyDnmntr" xmlns=""/>
                                                    <xs:element nillable="true" minOccurs="0" maxOccurs="1" name="ConditionCategory">
                                                        <xs:simpleType>
                                                            <xs:restriction base="xs:string" xmlns="">
                                                                <xs:maxLength value="1"/>
                                                            </xs:restriction>
                                                        </xs:simpleType>
                                                    </xs:element>
                                                    <xs:element type="xs:boolean" nillable="true" minOccurs="0" maxOccurs="1" name="ConditionIsForStatistics" xmlns=""/>
                                                    <xs:element nillable="true" minOccurs="0" maxOccurs="1" name="PricingScaleType">
                                                        <xs:simpleType>
                                                            <xs:restriction base="xs:string" xmlns="">
                                                                <xs:maxLength value="1"/>
                                                            </xs:restriction>
                                                        </xs:simpleType>
                                                    </xs:element>
                                                    <xs:element nillable="true" minOccurs="0" maxOccurs="1" name="ConditionOrigin">
                                                        <xs:simpleType>
                                                            <xs:restriction base="xs:string" xmlns="">
                                                                <xs:maxLength value="1"/>
                                                            </xs:restriction>
                                                        </xs:simpleType>
                                                    </xs:element>
                                                    <xs:element nillable="true" minOccurs="0" maxOccurs="1" name="IsGroupCondition">
                                                        <xs:simpleType>
                                                            <xs:restriction base="xs:string" xmlns="">
                                                                <xs:maxLength value="1"/>
                                                            </xs:restriction>
                                                        </xs:simpleType>
                                                    </xs:element>
                                                    <xs:element nillable="true" minOccurs="0" maxOccurs="1" name="AccessNumberOfAccessSequence">
                                                        <xs:simpleType>
                                                            <xs:restriction base="xs:string" xmlns="">
                                                                <xs:maxLength value="3"/>
                                                            </xs:restriction>
                                                        </xs:simpleType>
                                                    </xs:element>
                                                    <xs:element nillable="true" minOccurs="0" maxOccurs="1" name="ConditionRecord">
                                                        <xs:simpleType>
                                                            <xs:restriction base="xs:string" xmlns="">
                                                                <xs:maxLength value="10"/>
                                                            </xs:restriction>
                                                        </xs:simpleType>
                                                    </xs:element>
                                                    <xs:element nillable="true" minOccurs="0" maxOccurs="1" name="ConditionSequentialNumber">
                                                        <xs:simpleType>
                                                            <xs:restriction base="xs:string" xmlns="">
                                                                <xs:maxLength value="3"/>
                                                            </xs:restriction>
                                                        </xs:simpleType>
                                                    </xs:element>
                                                    <xs:element nillable="true" minOccurs="0" maxOccurs="1" name="TaxCode">
                                                        <xs:simpleType>
                                                            <xs:restriction base="xs:string" xmlns="">
                                                                <xs:maxLength value="2"/>
                                                            </xs:restriction>
                                                        </xs:simpleType>
                                                    </xs:element>
                                                    <xs:element nillable="true" minOccurs="0" maxOccurs="1" name="WithholdingTaxCode">
                                                        <xs:simpleType>
                                                            <xs:restriction base="xs:string" xmlns="">
                                                                <xs:maxLength value="2"/>
                                                            </xs:restriction>
                                                        </xs:simpleType>
                                                    </xs:element>
                                                    <xs:element type="xs:decimal" nillable="true" minOccurs="0" maxOccurs="1" name="CndnRoundingOffDiffAmount" xmlns=""/>
                                                    <xs:element type="xs:decimal" nillable="true" minOccurs="0" maxOccurs="1" name="ConditionAmount" xmlns=""/>
                                                    <xs:element nillable="true" minOccurs="0" maxOccurs="1" name="TransactionCurrency">
                                                        <xs:simpleType>
                                                            <xs:restriction base="xs:string" xmlns="">
                                                                <xs:maxLength value="5"/>
                                                            </xs:restriction>
                                                        </xs:simpleType>
                                                    </xs:element>
                                                    <xs:element nillable="true" minOccurs="0" maxOccurs="1" name="ConditionControl">
                                                        <xs:simpleType>
                                                            <xs:restriction base="xs:string" xmlns="">
                                                                <xs:maxLength value="1"/>
                                                            </xs:restriction>
                                                        </xs:simpleType>
                                                    </xs:element>
                                                    <xs:element nillable="true" minOccurs="0" maxOccurs="1" name="ConditionInactiveReason">
                                                        <xs:simpleType>
                                                            <xs:restriction base="xs:string" xmlns="">
                                                                <xs:maxLength value="1"/>
                                                            </xs:restriction>
                                                        </xs:simpleType>
                                                    </xs:element>
                                                    <xs:element nillable="true" minOccurs="0" maxOccurs="1" name="ConditionClass">
                                                        <xs:simpleType>
                                                            <xs:restriction base="xs:string" xmlns="">
                                                                <xs:maxLength value="1"/>
                                                            </xs:restriction>
                                                        </xs:simpleType>
                                                    </xs:element>
                                                    <xs:element nillable="true" minOccurs="0" maxOccurs="1" name="PrcgProcedureCounterForHeader">
                                                        <xs:simpleType>
                                                            <xs:restriction base="xs:string" xmlns="">
                                                                <xs:maxLength value="3"/>
                                                            </xs:restriction>
                                                        </xs:simpleType>
                                                    </xs:element>
                                                    <xs:element type="xs:double" nillable="true" minOccurs="0" maxOccurs="1" name="FactorForConditionBasisValue" xmlns=""/>
                                                    <xs:element nillable="true" minOccurs="0" maxOccurs="1" name="StructureCondition">
                                                        <xs:simpleType>
                                                            <xs:restriction base="xs:string" xmlns="">
                                                                <xs:maxLength value="1"/>
                                                            </xs:restriction>
                                                        </xs:simpleType>
                                                    </xs:element>
                                                    <xs:element type="xs:double" nillable="true" minOccurs="0" maxOccurs="1" name="PeriodFactorForCndnBasisValue" xmlns=""/>
                                                    <xs:element nillable="true" minOccurs="0" maxOccurs="1" name="PricingScaleBasis">
                                                        <xs:simpleType>
                                                            <xs:restriction base="xs:string" xmlns="">
                                                                <xs:maxLength value="3"/>
                                                            </xs:restriction>
                                                        </xs:simpleType>
                                                    </xs:element>
                                                    <xs:element type="xs:decimal" nillable="true" minOccurs="0" maxOccurs="1" name="ConditionScaleBasisValue" xmlns=""/>
                                                    <xs:element nillable="true" minOccurs="0" maxOccurs="1" name="ConditionScaleBasisUnit">
                                                        <xs:simpleType>
                                                            <xs:restriction base="xs:string" xmlns="">
                                                                <xs:maxLength value="3"/>
                                                            </xs:restriction>
                                                        </xs:simpleType>
                                                    </xs:element>
                                                    <xs:element nillable="true" minOccurs="0" maxOccurs="1" name="ConditionScaleBasisCurrency">
                                                        <xs:simpleType>
                                                            <xs:restriction base="xs:string" xmlns="">
                                                                <xs:maxLength value="5"/>
                                                            </xs:restriction>
                                                        </xs:simpleType>
                                                    </xs:element>
                                                    <xs:element nillable="true" minOccurs="0" maxOccurs="1" name="ConditionAlternativeCurrency">
                                                        <xs:simpleType>
                                                            <xs:restriction base="xs:string" xmlns="">
                                                                <xs:maxLength value="5"/>
                                                            </xs:restriction>
                                                        </xs:simpleType>
                                                    </xs:element>
                                                    <xs:element type="xs:decimal" nillable="true" minOccurs="0" maxOccurs="1" name="ConditionAmountInLocalCrcy" xmlns=""/>
                                                    <xs:element type="xs:boolean" nillable="true" minOccurs="0" maxOccurs="1" name="CndnIsRelevantForIntcoBilling" xmlns=""/>
                                                    <xs:element type="xs:boolean" nillable="true" minOccurs="0" maxOccurs="1" name="ConditionIsManuallyChanged" xmlns=""/>
                                                    <xs:element type="xs:decimal" nillable="true" minOccurs="0" maxOccurs="1" name="CumulatedConditionBasisValue" xmlns=""/>
                                                    <xs:element type="xs:boolean" nillable="true" minOccurs="0" maxOccurs="1" name="ConditionIsForConfiguration" xmlns=""/>
                                                    <xs:element nillable="true" minOccurs="0" maxOccurs="1" name="VariantCondition">
                                                        <xs:simpleType>
                                                            <xs:restriction base="xs:string" xmlns="">
                                                                <xs:maxLength value="26"/>
                                                            </xs:restriction>
                                                        </xs:simpleType>
                                                    </xs:element>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element nillable="true" minOccurs="0" maxOccurs="1" name="DebitMemoRequestType">
                                <xs:simpleType>
                                    <xs:restriction base="xs:string" xmlns="">
                                        <xs:maxLength value="4"/>
                                    </xs:restriction>
                                </xs:simpleType>
                            </xs:element>
                            <xs:element type="xs:dateTime" nillable="true" minOccurs="0" maxOccurs="1" name="PricingDate" xmlns=""/>
                            <xs:element minOccurs="0" maxOccurs="1" name="link">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element nillable="true" minOccurs="0" maxOccurs="unbounded" name="to_Item">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element minOccurs="0" maxOccurs="unbounded" name="A_DebitMemoReqItemSimulationType">
                                                        <xs:complexType>
                                                            <xs:sequence>
                                                                <xs:element type="xs:string" minOccurs="1" maxOccurs="1" name="DebitMemoRequest" xmlns=""/>
                                                                <xs:element type="xs:string" minOccurs="1" maxOccurs="1" name="DebitMemoRequestItem" xmlns=""/>
                                                            </xs:sequence>
                                                        </xs:complexType>
                                                    </xs:element>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element nillable="true" minOccurs="0" maxOccurs="unbounded" name="to_Partner">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element minOccurs="0" maxOccurs="unbounded" name="A_DebitMemoReqPartnerSimlnType">
                                                        <xs:complexType>
                                                            <xs:sequence>
                                                                <xs:element type="xs:string" minOccurs="1" maxOccurs="1" name="DebitMemoRequest" xmlns=""/>
                                                                <xs:element type="xs:string" minOccurs="1" maxOccurs="1" name="PartnerFunction" xmlns=""/>
                                                            </xs:sequence>
                                                        </xs:complexType>
                                                    </xs:element>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element nillable="true" minOccurs="0" maxOccurs="unbounded" name="to_PricingElement">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element minOccurs="0" maxOccurs="unbounded" name="A_DebitMemoReqPrcgElmntSimlnType">
                                                        <xs:complexType>
                                                            <xs:sequence>
                                                                <xs:element type="xs:string" minOccurs="1" maxOccurs="1" name="DebitMemoRequest" xmlns=""/>
                                                                <xs:element type="xs:string" minOccurs="1" maxOccurs="1" name="PricingProcedureStep" xmlns=""/>
                                                                <xs:element type="xs:string" minOccurs="1" maxOccurs="1" name="PricingProcedureCounter" xmlns=""/>
                                                            </xs:sequence>
                                                        </xs:complexType>
                                                    </xs:element>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>
