Resources/canonical_library/xsd/A_SalesOrderItem.xsd

<?xml version="1.0" encoding="UTF-8"?><xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="qualified">
    <xs:element name="A_SalesOrderItem">
        <xs:complexType>
            <xs:sequence>
                <xs:element maxOccurs="unbounded" minOccurs="1" name="A_SalesOrderItemType">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element maxOccurs="1" name="SalesOrder" nillable="false">
                                <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                        <xs:maxLength value="10"/>
                                    </xs:restriction>
                                </xs:simpleType>
                            </xs:element>
                            <xs:element maxOccurs="1" name="SalesOrderItem" nillable="false">
                                <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                        <xs:maxLength value="6"/>
                                    </xs:restriction>
                                </xs:simpleType>
                            </xs:element>
                            <xs:element maxOccurs="1" minOccurs="0" name="HigherLevelItem" nillable="true">
                                <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                        <xs:maxLength value="6"/>
                                    </xs:restriction>
                                </xs:simpleType>
                            </xs:element>
                            <xs:element maxOccurs="1" minOccurs="0" name="SalesOrderItemCategory" nillable="true">
                                <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                        <xs:maxLength value="4"/>
                                    </xs:restriction>
                                </xs:simpleType>
                            </xs:element>
                            <xs:element maxOccurs="1" minOccurs="0" name="SalesOrderItemText" nillable="true">
                                <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                        <xs:maxLength value="40"/>
                                    </xs:restriction>
                                </xs:simpleType>
                            </xs:element>
                            <xs:element maxOccurs="1" minOccurs="0" name="PurchaseOrderByCustomer" nillable="true">
                                <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                        <xs:maxLength value="35"/>
                                    </xs:restriction>
                                </xs:simpleType>
                            </xs:element>
                            <xs:element maxOccurs="1" minOccurs="0" name="Material" nillable="true">
                                <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                        <xs:maxLength value="40"/>
                                    </xs:restriction>
                                </xs:simpleType>
                            </xs:element>
                            <xs:element maxOccurs="1" minOccurs="0" name="RequestedQuantity" nillable="true" type="xs:decimal"/>
                            <xs:element maxOccurs="1" minOccurs="0" name="RequestedQuantityUnit" nillable="true">
                                <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                        <xs:maxLength value="3"/>
                                    </xs:restriction>
                                </xs:simpleType>
                            </xs:element>
                            <xs:element maxOccurs="1" minOccurs="0" name="TransactionCurrency" nillable="true">
                                <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                        <xs:maxLength value="5"/>
                                    </xs:restriction>
                                </xs:simpleType>
                            </xs:element>
                            <xs:element maxOccurs="1" minOccurs="0" name="NetAmount" nillable="true" type="xs:decimal"/>
                            <xs:element maxOccurs="1" minOccurs="0" name="MaterialGroup" nillable="true">
                                <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                        <xs:maxLength value="9"/>
                                    </xs:restriction>
                                </xs:simpleType>
                            </xs:element>
                            <xs:element maxOccurs="1" minOccurs="0" name="CustomerPaymentTerms" nillable="true">
                                <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                        <xs:maxLength value="4"/>
                                    </xs:restriction>
                                </xs:simpleType>
                            </xs:element>
                            <xs:element maxOccurs="1" minOccurs="0" name="CustomerGroup" nillable="true">
                                <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                        <xs:maxLength value="2"/>
                                    </xs:restriction>
                                </xs:simpleType>
                            </xs:element>
                            <xs:element maxOccurs="1" minOccurs="0" name="SalesDocumentRjcnReason" nillable="true">
                                <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                        <xs:maxLength value="2"/>
                                    </xs:restriction>
                                </xs:simpleType>
                            </xs:element>
                            <xs:element maxOccurs="unbounded" minOccurs="0" name="to_PricingElement" nillable="true">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element maxOccurs="unbounded" minOccurs="0" name="A_SalesOrderItemPrElementType">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element maxOccurs="1" minOccurs="0" name="ConditionType" nillable="true">
                                                        <xs:simpleType>
                                                            <xs:restriction base="xs:string">
                                                                <xs:maxLength value="4"/>
                                                            </xs:restriction>
                                                        </xs:simpleType>
                                                    </xs:element>
                                                    <xs:element maxOccurs="1" minOccurs="0" name="ConditionRateValue" nillable="true" type="xs:decimal"/>
                                                    <xs:element maxOccurs="1" minOccurs="0" name="ConditionAmount" nillable="true" type="xs:decimal"/>
                                                    <xs:element maxOccurs="1" minOccurs="0" name="ConditionInactiveReason" nillable="true">
                                                        <xs:simpleType>
                                                            <xs:restriction base="xs:string">
                                                                <xs:maxLength value="1"/>
                                                            </xs:restriction>
                                                        </xs:simpleType>
                                                    </xs:element>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element maxOccurs="unbounded" minOccurs="0" name="to_SalesOrder" nillable="true">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element maxOccurs="1" minOccurs="0" name="A_SalesOrderType">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element maxOccurs="1" minOccurs="0" name="SalesOrderType" nillable="true">
                                                        <xs:simpleType>
                                                            <xs:restriction base="xs:string">
                                                                <xs:maxLength value="4"/>
                                                            </xs:restriction>
                                                        </xs:simpleType>
                                                    </xs:element>
                                                    <xs:element maxOccurs="1" minOccurs="0" name="SalesOrganization" nillable="true">
                                                        <xs:simpleType>
                                                            <xs:restriction base="xs:string">
                                                                <xs:maxLength value="4"/>
                                                            </xs:restriction>
                                                        </xs:simpleType>
                                                    </xs:element>
                                                    <xs:element maxOccurs="1" minOccurs="0" name="DistributionChannel" nillable="true">
                                                        <xs:simpleType>
                                                            <xs:restriction base="xs:string">
                                                                <xs:maxLength value="2"/>
                                                            </xs:restriction>
                                                        </xs:simpleType>
                                                    </xs:element>
                                                    <xs:element maxOccurs="1" minOccurs="0" name="OrganizationDivision" nillable="true">
                                                        <xs:simpleType>
                                                            <xs:restriction base="xs:string">
                                                                <xs:maxLength value="2"/>
                                                            </xs:restriction>
                                                        </xs:simpleType>
                                                    </xs:element>
                                                    <xs:element maxOccurs="1" minOccurs="0" name="SalesDistrict" nillable="true">
                                                        <xs:simpleType>
                                                            <xs:restriction base="xs:string">
                                                                <xs:maxLength value="6"/>
                                                            </xs:restriction>
                                                        </xs:simpleType>
                                                    </xs:element>
                                                    <xs:element maxOccurs="1" minOccurs="0" name="CreationDate" nillable="true" type="xs:dateTime"/>
                                                    <xs:element maxOccurs="1" minOccurs="0" name="LastChangeDate" nillable="true" type="xs:dateTime"/>
                                                    <xs:element maxOccurs="1" minOccurs="0" name="LastChangeDateTime" nillable="true" type="xs:dateTime"/>
                                                    <xs:element maxOccurs="1" minOccurs="0" name="PurchaseOrderByCustomer" nillable="true">
                                                        <xs:simpleType>
                                                            <xs:restriction base="xs:string">
                                                                <xs:maxLength value="35"/>
                                                            </xs:restriction>
                                                        </xs:simpleType>
                                                    </xs:element>
                                                    <xs:element maxOccurs="1" minOccurs="0" name="TotalBlockStatus" nillable="true">
                                                        <xs:simpleType>
                                                            <xs:restriction base="xs:string">
                                                                <xs:maxLength value="1"/>
                                                            </xs:restriction>
                                                        </xs:simpleType>
                                                    </xs:element>
                                                    <xs:element maxOccurs="1" minOccurs="0" name="TransactionCurrency" nillable="true">
                                                        <xs:simpleType>
                                                            <xs:restriction base="xs:string">
                                                                <xs:maxLength value="5"/>
                                                            </xs:restriction>
                                                        </xs:simpleType>
                                                    </xs:element>
                                                    <xs:element maxOccurs="1" minOccurs="0" name="HeaderBillingBlockReason" nillable="true">
                                                        <xs:simpleType>
                                                            <xs:restriction base="xs:string">
                                                                <xs:maxLength value="2"/>
                                                            </xs:restriction>
                                                        </xs:simpleType>
                                                    </xs:element>
                                                    <xs:element maxOccurs="1" minOccurs="0" name="DeliveryBlockReason" nillable="true">
                                                        <xs:simpleType>
                                                            <xs:restriction base="xs:string">
                                                                <xs:maxLength value="2"/>
                                                            </xs:restriction>
                                                        </xs:simpleType>
                                                    </xs:element>
                                                    <xs:element maxOccurs="1" minOccurs="0" name="CustomerPaymentTerms" nillable="true">
                                                        <xs:simpleType>
                                                            <xs:restriction base="xs:string">
                                                                <xs:maxLength value="4"/>
                                                            </xs:restriction>
                                                        </xs:simpleType>
                                                    </xs:element>
                                                    <xs:element maxOccurs="1" minOccurs="0" name="AdditionalCustomerGroup1" nillable="true">
                                                        <xs:simpleType>
                                                            <xs:restriction base="xs:string">
                                                                <xs:maxLength value="3"/>
                                                            </xs:restriction>
                                                        </xs:simpleType>
                                                    </xs:element>
                                                    <xs:element maxOccurs="unbounded" minOccurs="0" name="to_Partner" nillable="true">
                                                        <xs:complexType>
                                                            <xs:sequence>
                                                                <xs:element maxOccurs="unbounded" minOccurs="0" name="A_SalesOrderHeaderPartnerType">
                                                                    <xs:complexType>
                                                                        <xs:sequence>
                                                                            <xs:element maxOccurs="1" name="PartnerFunction" nillable="false">
                                                                                <xs:simpleType>
                                                                                    <xs:restriction base="xs:string">
                                                                                        <xs:maxLength value="2"/>
                                                                                    </xs:restriction>
                                                                                </xs:simpleType>
                                                                            </xs:element>
                                                                            <xs:element maxOccurs="1" minOccurs="0" name="Customer" nillable="true">
                                                                                <xs:simpleType>
                                                                                    <xs:restriction base="xs:string">
                                                                                        <xs:maxLength value="10"/>
                                                                                    </xs:restriction>
                                                                                </xs:simpleType>
                                                                            </xs:element>
                                                                            <xs:element maxOccurs="1" minOccurs="0" name="Personnel" nillable="true">
                                                                                <xs:simpleType>
                                                                                    <xs:restriction base="xs:string">
                                                                                        <xs:maxLength value="8"/>
                                                                                    </xs:restriction>
                                                                                </xs:simpleType>
                                                                            </xs:element>
                                                                            <xs:element maxOccurs="unbounded" minOccurs="0" name="to_Address" nillable="true">
                                                                                <xs:complexType>
                                                                                    <xs:sequence>
                                                                                        <xs:element maxOccurs="unbounded" minOccurs="0" name="A_SalesOrderPartnerAddressType">
                                                                                            <xs:complexType>
                                                                                                <xs:sequence>
                                                                                                    <xs:element maxOccurs="1" minOccurs="0" name="AddresseeFullName" nillable="true">
                                                                                                        <xs:simpleType>
                                                                                                            <xs:restriction base="xs:string">
                                                                                                                <xs:maxLength value="80"/>
                                                                                                            </xs:restriction>
                                                                                                        </xs:simpleType>
                                                                                                    </xs:element>
                                                                                                    <xs:element maxOccurs="1" minOccurs="0" name="CityName" nillable="true">
                                                                                                        <xs:simpleType>
                                                                                                            <xs:restriction base="xs:string">
                                                                                                                <xs:maxLength value="40"/>
                                                                                                            </xs:restriction>
                                                                                                        </xs:simpleType>
                                                                                                    </xs:element>
                                                                                                    <xs:element maxOccurs="1" minOccurs="0" name="DistrictName" nillable="true">
                                                                                                        <xs:simpleType>
                                                                                                            <xs:restriction base="xs:string">
                                                                                                                <xs:maxLength value="40"/>
                                                                                                            </xs:restriction>
                                                                                                        </xs:simpleType>
                                                                                                    </xs:element>
                                                                                                    <xs:element maxOccurs="1" minOccurs="0" name="PostalCode" nillable="true">
                                                                                                        <xs:simpleType>
                                                                                                            <xs:restriction base="xs:string">
                                                                                                                <xs:maxLength value="10"/>
                                                                                                            </xs:restriction>
                                                                                                        </xs:simpleType>
                                                                                                    </xs:element>
                                                                                                    <xs:element maxOccurs="1" minOccurs="0" name="StreetName" nillable="true">
                                                                                                        <xs:simpleType>
                                                                                                            <xs:restriction base="xs:string">
                                                                                                                <xs:maxLength value="60"/>
                                                                                                            </xs:restriction>
                                                                                                        </xs:simpleType>
                                                                                                    </xs:element>
                                                                                                    <xs:element maxOccurs="1" minOccurs="0" name="HouseNumber" nillable="true">
                                                                                                        <xs:simpleType>
                                                                                                            <xs:restriction base="xs:string">
                                                                                                                <xs:maxLength value="10"/>
                                                                                                            </xs:restriction>
                                                                                                        </xs:simpleType>
                                                                                                    </xs:element>
                                                                                                    <xs:element maxOccurs="1" minOccurs="0" name="Country" nillable="true">
                                                                                                        <xs:simpleType>
                                                                                                            <xs:restriction base="xs:string">
                                                                                                                <xs:maxLength value="3"/>
                                                                                                            </xs:restriction>
                                                                                                        </xs:simpleType>
                                                                                                    </xs:element>
                                                                                                    <xs:element maxOccurs="1" minOccurs="0" name="Region" nillable="true">
                                                                                                        <xs:simpleType>
                                                                                                            <xs:restriction base="xs:string">
                                                                                                                <xs:maxLength value="3"/>
                                                                                                            </xs:restriction>
                                                                                                        </xs:simpleType>
                                                                                                    </xs:element>
                                                                                                </xs:sequence>
                                                                                            </xs:complexType>
                                                                                        </xs:element>
                                                                                    </xs:sequence>
                                                                                </xs:complexType>
                                                                            </xs:element>
                                                                        </xs:sequence>
                                                                    </xs:complexType>
                                                                </xs:element>
                                                            </xs:sequence>
                                                        </xs:complexType>
                                                    </xs:element>
                                                    <xs:element maxOccurs="1" minOccurs="0" name="AdditionalCustomerGroup2" nillable="true">
                                                        <xs:simpleType>
                                                            <xs:restriction base="xs:string">
                                                                <xs:maxLength value="3"/>
                                                            </xs:restriction>
                                                        </xs:simpleType>
                                                    </xs:element>
                                                    <xs:element maxOccurs="1" minOccurs="0" name="AdditionalCustomerGroup3" nillable="true">
                                                        <xs:simpleType>
                                                            <xs:restriction base="xs:string">
                                                                <xs:maxLength value="3"/>
                                                            </xs:restriction>
                                                        </xs:simpleType>
                                                    </xs:element>
                                                    <xs:element maxOccurs="1" minOccurs="0" name="AdditionalCustomerGroup4" nillable="true">
                                                        <xs:simpleType>
                                                            <xs:restriction base="xs:string">
                                                                <xs:maxLength value="3"/>
                                                            </xs:restriction>
                                                        </xs:simpleType>
                                                    </xs:element>
                                                    <xs:element maxOccurs="1" minOccurs="0" name="AdditionalCustomerGroup5" nillable="true">
                                                        <xs:simpleType>
                                                            <xs:restriction base="xs:string">
                                                                <xs:maxLength value="3"/>
                                                            </xs:restriction>
                                                        </xs:simpleType>
                                                    </xs:element>
                                                    <xs:element maxOccurs="1" minOccurs="0" name="SalesOrderDate" nillable="true" type="xs:dateTime"/>
                                                    <xs:element maxOccurs="1" minOccurs="0" name="SalesGroup" nillable="true">
                                                        <xs:simpleType>
                                                            <xs:restriction base="xs:string">
                                                                <xs:maxLength value="3"/>
                                                            </xs:restriction>
                                                        </xs:simpleType>
                                                    </xs:element>
                                                    <xs:element maxOccurs="1" minOccurs="0" name="SalesOffice" nillable="true">
                                                        <xs:simpleType>
                                                            <xs:restriction base="xs:string">
                                                                <xs:maxLength value="4"/>
                                                            </xs:restriction>
                                                        </xs:simpleType>
                                                    </xs:element>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element maxOccurs="unbounded" minOccurs="0" name="to_Text" nillable="true">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element maxOccurs="unbounded" minOccurs="0" name="A_SalesOrderItemTextType">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element maxOccurs="1" name="LongTextID" nillable="false">
                                                        <xs:simpleType>
                                                            <xs:restriction base="xs:string">
                                                                <xs:maxLength value="4"/>
                                                            </xs:restriction>
                                                        </xs:simpleType>
                                                    </xs:element>
                                                    <xs:element maxOccurs="1" minOccurs="0" name="LongText" nillable="true" type="xs:string"/>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element maxOccurs="unbounded" minOccurs="0" name="to_Partner" nillable="true">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element maxOccurs="unbounded" minOccurs="0" name="A_SalesOrderItemPartnerType">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element maxOccurs="1" name="PartnerFunction" nillable="false">
                                                        <xs:simpleType>
                                                            <xs:restriction base="xs:string">
                                                                <xs:maxLength value="2"/>
                                                            </xs:restriction>
                                                        </xs:simpleType>
                                                    </xs:element>
                                                    <xs:element maxOccurs="1" minOccurs="0" name="Customer" nillable="true">
                                                        <xs:simpleType>
                                                            <xs:restriction base="xs:string">
                                                                <xs:maxLength value="10"/>
                                                            </xs:restriction>
                                                        </xs:simpleType>
                                                    </xs:element>
                                                    <xs:element maxOccurs="1" minOccurs="0" name="Personnel" nillable="true">
                                                        <xs:simpleType>
                                                            <xs:restriction base="xs:string">
                                                                <xs:maxLength value="8"/>
                                                            </xs:restriction>
                                                        </xs:simpleType>
                                                    </xs:element>
                                                    <xs:element maxOccurs="unbounded" minOccurs="0" name="to_Address" nillable="true">
                                                        <xs:complexType>
                                                            <xs:sequence>
                                                                <xs:element maxOccurs="unbounded" minOccurs="0" name="A_SalesOrderItemPartnerAddressType">
                                                                    <xs:complexType>
                                                                        <xs:sequence>
                                                                            <xs:element maxOccurs="1" minOccurs="0" name="CorrespondenceLanguage" nillable="true">
                                                                                <xs:simpleType>
                                                                                    <xs:restriction base="xs:string">
                                                                                        <xs:maxLength value="2"/>
                                                                                    </xs:restriction>
                                                                                </xs:simpleType>
                                                                            </xs:element>
                                                                            <xs:element maxOccurs="1" minOccurs="0" name="AddresseeFullName" nillable="true">
                                                                                <xs:simpleType>
                                                                                    <xs:restriction base="xs:string">
                                                                                        <xs:maxLength value="80"/>
                                                                                    </xs:restriction>
                                                                                </xs:simpleType>
                                                                            </xs:element>
                                                                            <xs:element maxOccurs="1" minOccurs="0" name="CityName" nillable="true">
                                                                                <xs:simpleType>
                                                                                    <xs:restriction base="xs:string">
                                                                                        <xs:maxLength value="40"/>
                                                                                    </xs:restriction>
                                                                                </xs:simpleType>
                                                                            </xs:element>
                                                                            <xs:element maxOccurs="1" minOccurs="0" name="StreetName" nillable="true">
                                                                                <xs:simpleType>
                                                                                    <xs:restriction base="xs:string">
                                                                                        <xs:maxLength value="60"/>
                                                                                    </xs:restriction>
                                                                                </xs:simpleType>
                                                                            </xs:element>
                                                                            <xs:element maxOccurs="1" minOccurs="0" name="PostalCode" nillable="true">
                                                                                <xs:simpleType>
                                                                                    <xs:restriction base="xs:string">
                                                                                        <xs:maxLength value="10"/>
                                                                                    </xs:restriction>
                                                                                </xs:simpleType>
                                                                            </xs:element>
                                                                            <xs:element maxOccurs="1" minOccurs="0" name="DistrictName" nillable="true">
                                                                                <xs:simpleType>
                                                                                    <xs:restriction base="xs:string">
                                                                                        <xs:maxLength value="40"/>
                                                                                    </xs:restriction>
                                                                                </xs:simpleType>
                                                                            </xs:element>
                                                                            <xs:element maxOccurs="1" minOccurs="0" name="Country" nillable="true">
                                                                                <xs:simpleType>
                                                                                    <xs:restriction base="xs:string">
                                                                                        <xs:maxLength value="3"/>
                                                                                    </xs:restriction>
                                                                                </xs:simpleType>
                                                                            </xs:element>
                                                                            <xs:element maxOccurs="1" minOccurs="0" name="Region" nillable="true">
                                                                                <xs:simpleType>
                                                                                    <xs:restriction base="xs:string">
                                                                                        <xs:maxLength value="3"/>
                                                                                    </xs:restriction>
                                                                                </xs:simpleType>
                                                                            </xs:element>
                                                                            <xs:element maxOccurs="1" minOccurs="0" name="HouseNumber" nillable="true">
                                                                                <xs:simpleType>
                                                                                    <xs:restriction base="xs:string">
                                                                                        <xs:maxLength value="10"/>
                                                                                    </xs:restriction>
                                                                                </xs:simpleType>
                                                                            </xs:element>
                                                                        </xs:sequence>
                                                                    </xs:complexType>
                                                                </xs:element>
                                                            </xs:sequence>
                                                        </xs:complexType>
                                                    </xs:element>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element maxOccurs="1" minOccurs="0" name="ProductionPlant" nillable="true">
                                <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                        <xs:maxLength value="4"/>
                                    </xs:restriction>
                                </xs:simpleType>
                            </xs:element>
                            <xs:element maxOccurs="1" minOccurs="0" name="TaxAmount" nillable="true" type="xs:decimal"/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>