Resources/canonical_library/xsd/A_SalesQuotation.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="A_SalesQuotation">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="A_SalesQuotationType" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:dateTime" name="SalesOrderDate"/>
              <xs:element type="xs:short" name="SalesOrder"/>
              <xs:element type="xs:string" name="PurchaseOrderByCustomer"/>
              <xs:element type="xs:int" name="SalesQuotation"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>