Resources/canonical_library/xsd/A_ServiceOrder.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="qualified">
   <xs:element name="A_ServiceOrder">
      <xs:complexType>
         <xs:sequence>
            <xs:element minOccurs="1" maxOccurs="unbounded" name="A_ServiceOrderType">
               <xs:complexType>
                  <xs:sequence>
                     <xs:element nillable="false" maxOccurs="unbounded" name="ServiceOrder">
                        <xs:simpleType>
                           <xs:restriction base="xs:string">
                              <xs:maxLength value="10" />
                           </xs:restriction>
                        </xs:simpleType>
                     </xs:element>
                     <xs:element nillable="true" minOccurs="0" maxOccurs="unbounded" name="ServiceOrderType">
                        <xs:simpleType>
                           <xs:restriction base="xs:string">
                              <xs:maxLength value="4" />
                           </xs:restriction>
                        </xs:simpleType>
                     </xs:element>
                     <xs:element type="xs:string" nillable="true" minOccurs="0" maxOccurs="unbounded" name="ServiceOrderUUID" />
                     <xs:element nillable="true" minOccurs="0" maxOccurs="unbounded" name="ServiceOrderDescription">
                        <xs:simpleType>
                           <xs:restriction base="xs:string">
                              <xs:maxLength value="40" />
                           </xs:restriction>
                        </xs:simpleType>
                     </xs:element>
                     <xs:element nillable="true" minOccurs="0" maxOccurs="unbounded" name="Language">
                        <xs:simpleType>
                           <xs:restriction base="xs:string">
                              <xs:maxLength value="2" />
                           </xs:restriction>
                        </xs:simpleType>
                     </xs:element>
                     <xs:element nillable="true" minOccurs="0" maxOccurs="unbounded" name="ServiceDocumentPriority">
                        <xs:simpleType>
                           <xs:restriction base="xs:string">
                              <xs:maxLength value="1" />
                           </xs:restriction>
                        </xs:simpleType>
                     </xs:element>
                     <xs:element type="xs:dateTime" nillable="true" minOccurs="0" maxOccurs="unbounded" name="RequestedServiceStartDateTime" />
                     <xs:element type="xs:dateTime" nillable="true" minOccurs="0" maxOccurs="unbounded" name="RequestedServiceEndDateTime" />
                     <xs:element nillable="true" minOccurs="0" maxOccurs="unbounded" name="PurchaseOrderByCustomer">
                        <xs:simpleType>
                           <xs:restriction base="xs:string">
                              <xs:maxLength value="35" />
                           </xs:restriction>
                        </xs:simpleType>
                     </xs:element>
                     <xs:element type="xs:dateTime" nillable="true" minOccurs="0" maxOccurs="unbounded" name="CustomerPurchaseOrderDate" />
                     <xs:element nillable="true" minOccurs="0" maxOccurs="unbounded" name="ServiceOrderIsReleased">
                        <xs:simpleType>
                           <xs:restriction base="xs:string">
                              <xs:maxLength value="1" />
                           </xs:restriction>
                        </xs:simpleType>
                     </xs:element>
                     <xs:element nillable="true" minOccurs="0" maxOccurs="unbounded" name="ServiceOrderIsCompleted">
                        <xs:simpleType>
                           <xs:restriction base="xs:string">
                              <xs:maxLength value="1" />
                           </xs:restriction>
                        </xs:simpleType>
                     </xs:element>
                     <xs:element nillable="true" minOccurs="0" maxOccurs="unbounded" name="ServiceOrderIsRejected">
                        <xs:simpleType>
                           <xs:restriction base="xs:string">
                              <xs:maxLength value="1" />
                           </xs:restriction>
                        </xs:simpleType>
                     </xs:element>
                     <xs:element nillable="true" minOccurs="0" maxOccurs="unbounded" name="SalesOrganization">
                        <xs:simpleType>
                           <xs:restriction base="xs:string">
                              <xs:maxLength value="4" />
                           </xs:restriction>
                        </xs:simpleType>
                     </xs:element>
                     <xs:element nillable="true" minOccurs="0" maxOccurs="unbounded" name="DistributionChannel">
                        <xs:simpleType>
                           <xs:restriction base="xs:string">
                              <xs:maxLength value="2" />
                           </xs:restriction>
                        </xs:simpleType>
                     </xs:element>
                     <xs:element nillable="true" minOccurs="0" maxOccurs="unbounded" name="Division">
                        <xs:simpleType>
                           <xs:restriction base="xs:string">
                              <xs:maxLength value="2" />
                           </xs:restriction>
                        </xs:simpleType>
                     </xs:element>
                     <xs:element nillable="true" minOccurs="0" maxOccurs="unbounded" name="SalesOffice">
                        <xs:simpleType>
                           <xs:restriction base="xs:string">
                              <xs:maxLength value="4" />
                           </xs:restriction>
                        </xs:simpleType>
                     </xs:element>
                     <xs:element nillable="true" minOccurs="0" maxOccurs="unbounded" name="SalesGroup">
                        <xs:simpleType>
                           <xs:restriction base="xs:string">
                              <xs:maxLength value="3" />
                           </xs:restriction>
                        </xs:simpleType>
                     </xs:element>
                     <xs:element nillable="true" minOccurs="0" maxOccurs="unbounded" name="SoldToParty">
                        <xs:simpleType>
                           <xs:restriction base="xs:string">
                              <xs:maxLength value="10" />
                           </xs:restriction>
                        </xs:simpleType>
                     </xs:element>
                     <xs:element nillable="true" minOccurs="0" maxOccurs="unbounded" name="ShipToParty">
                        <xs:simpleType>
                           <xs:restriction base="xs:string">
                              <xs:maxLength value="10" />
                           </xs:restriction>
                        </xs:simpleType>
                     </xs:element>
                     <xs:element nillable="true" minOccurs="0" maxOccurs="unbounded" name="BillToParty">
                        <xs:simpleType>
                           <xs:restriction base="xs:string">
                              <xs:maxLength value="10" />
                           </xs:restriction>
                        </xs:simpleType>
                     </xs:element>
                     <xs:element nillable="true" minOccurs="0" maxOccurs="unbounded" name="PayerParty">
                        <xs:simpleType>
                           <xs:restriction base="xs:string">
                              <xs:maxLength value="10" />
                           </xs:restriction>
                        </xs:simpleType>
                     </xs:element>
                     <xs:element nillable="true" minOccurs="0" maxOccurs="unbounded" name="ContactPerson">
                        <xs:simpleType>
                           <xs:restriction base="xs:string">
                              <xs:maxLength value="10" />
                           </xs:restriction>
                        </xs:simpleType>
                     </xs:element>
                     <xs:element type="xs:decimal" nillable="true" minOccurs="0" maxOccurs="unbounded" name="ServiceDocGrossAmount" />
                     <xs:element type="xs:decimal" nillable="true" minOccurs="0" maxOccurs="unbounded" name="ServiceDocNetAmount" />
                     <xs:element type="xs:decimal" nillable="true" minOccurs="0" maxOccurs="unbounded" name="ServiceDocTaxAmount" />
                     <xs:element nillable="true" minOccurs="0" maxOccurs="unbounded" name="TransactionCurrency">
                        <xs:simpleType>
                           <xs:restriction base="xs:string">
                              <xs:maxLength value="5" />
                           </xs:restriction>
                        </xs:simpleType>
                     </xs:element>
                     <xs:element nillable="true" minOccurs="0" maxOccurs="unbounded" name="ReferenceServiceRequest">
                        <xs:simpleType>
                           <xs:restriction base="xs:string">
                              <xs:maxLength value="10" />
                           </xs:restriction>
                        </xs:simpleType>
                     </xs:element>
                     <xs:element nillable="true" minOccurs="0" maxOccurs="unbounded" name="ReferenceServiceContract">
                        <xs:simpleType>
                           <xs:restriction base="xs:string">
                              <xs:maxLength value="10" />
                           </xs:restriction>
                        </xs:simpleType>
                     </xs:element>
                     <xs:element nillable="true" minOccurs="0" maxOccurs="unbounded" name="FSMServiceCall">
                        <xs:simpleType>
                           <xs:restriction base="xs:string">
                              <xs:maxLength value="70" />
                           </xs:restriction>
                        </xs:simpleType>
                     </xs:element>
                     <xs:element nillable="true" minOccurs="0" maxOccurs="unbounded" name="to_Confirmation">
                        <xs:complexType>
                           <xs:sequence>
                              <xs:element minOccurs="0" maxOccurs="unbounded" name="A_ServiceOrderConfirmationType">
                                 <xs:complexType>
                                    <xs:sequence>
                                       <xs:element nillable="false" maxOccurs="unbounded" name="ServiceOrder">
                                          <xs:simpleType>
                                             <xs:restriction base="xs:string">
                                                <xs:maxLength value="10" />
                                             </xs:restriction>
                                          </xs:simpleType>
                                       </xs:element>
                                       <xs:element nillable="false" maxOccurs="unbounded" name="ServiceConfirmation">
                                          <xs:simpleType>
                                             <xs:restriction base="xs:string">
                                                <xs:maxLength value="10" />
                                             </xs:restriction>
                                          </xs:simpleType>
                                       </xs:element>
                                    </xs:sequence>
                                 </xs:complexType>
                              </xs:element>
                           </xs:sequence>
                        </xs:complexType>
                     </xs:element>
                     <xs:element nillable="true" minOccurs="0" maxOccurs="unbounded" name="to_Defect">
                        <xs:complexType>
                           <xs:sequence>
                              <xs:element minOccurs="0" maxOccurs="unbounded" name="A_ServiceOrderDefectType">
                                 <xs:complexType>
                                    <xs:sequence>
                                       <xs:element nillable="false" maxOccurs="unbounded" name="ServiceOrder">
                                          <xs:simpleType>
                                             <xs:restriction base="xs:string">
                                                <xs:maxLength value="10" />
                                             </xs:restriction>
                                          </xs:simpleType>
                                       </xs:element>
                                       <xs:element nillable="false" maxOccurs="unbounded" name="SrvcDocTypeDefectCodeProfType">
                                          <xs:simpleType>
                                             <xs:restriction base="xs:string">
                                                <xs:maxLength value="2" />
                                             </xs:restriction>
                                          </xs:simpleType>
                                       </xs:element>
                                       <xs:element type="xs:short" nillable="false" maxOccurs="unbounded" name="ServiceDefectSequence" />
                                       <xs:element nillable="true" minOccurs="0" maxOccurs="unbounded" name="SrvcDocTypeDefectCodeProfile">
                                          <xs:simpleType>
                                             <xs:restriction base="xs:string">
                                                <xs:maxLength value="9" />
                                             </xs:restriction>
                                          </xs:simpleType>
                                       </xs:element>
                                       <xs:element nillable="true" minOccurs="0" maxOccurs="unbounded" name="ServiceDefectCodeCatalog">
                                          <xs:simpleType>
                                             <xs:restriction base="xs:string">
                                                <xs:maxLength value="2" />
                                             </xs:restriction>
                                          </xs:simpleType>
                                       </xs:element>
                                       <xs:element nillable="true" minOccurs="0" maxOccurs="unbounded" name="ServiceDefectCodeGroup">
                                          <xs:simpleType>
                                             <xs:restriction base="xs:string">
                                                <xs:maxLength value="8" />
                                             </xs:restriction>
                                          </xs:simpleType>
                                       </xs:element>
                                       <xs:element nillable="true" minOccurs="0" maxOccurs="unbounded" name="ServiceDefectCode">
                                          <xs:simpleType>
                                             <xs:restriction base="xs:string">
                                                <xs:maxLength value="4" />
                                             </xs:restriction>
                                          </xs:simpleType>
                                       </xs:element>
                                       <xs:element nillable="true" minOccurs="0" maxOccurs="unbounded" name="ServiceDefectSchema">
                                          <xs:simpleType>
                                             <xs:restriction base="xs:string">
                                                <xs:maxLength value="40" />
                                             </xs:restriction>
                                          </xs:simpleType>
                                       </xs:element>
                                       <xs:element nillable="true" minOccurs="0" maxOccurs="unbounded" name="ServiceDefectCategory">
                                          <xs:simpleType>
                                             <xs:restriction base="xs:string">
                                                <xs:maxLength value="40" />
                                             </xs:restriction>
                                          </xs:simpleType>
                                       </xs:element>
                                    </xs:sequence>
                                 </xs:complexType>
                              </xs:element>
                           </xs:sequence>
                        </xs:complexType>
                     </xs:element>
                     <xs:element nillable="true" minOccurs="0" maxOccurs="unbounded" name="to_Item">
                        <xs:complexType>
                           <xs:sequence>
                              <xs:element minOccurs="0" maxOccurs="unbounded" name="A_ServiceOrderItemType">
                                 <xs:complexType>
                                    <xs:sequence>
                                        <xs:element nillable="true" minOccurs="0" maxOccurs="unbounded" name="RespyMgmtGlobalTeamID">
                                            <xs:simpleType>
                                                <xs:restriction base="xs:string" xmlns="">
                                                    <xs:maxLength value="40"/>
                                                </xs:restriction>
                                            </xs:simpleType>
                                        </xs:element>
                                        <xs:element nillable="true" minOccurs="0" maxOccurs="unbounded" name="RespyMgmtServiceTeamName">
                                            <xs:simpleType>
                                                <xs:restriction base="xs:string" xmlns="">
                                                    <xs:maxLength value="40"/>
                                                </xs:restriction>
                                            </xs:simpleType>
                                        </xs:element>
                                        <xs:element nillable="true" minOccurs="0" maxOccurs="unbounded" name="RespyMgmtServiceTeam">
                                            <xs:simpleType>
                                                <xs:restriction base="xs:string" xmlns="">
                                                    <xs:maxLength value="8"/>
                                                </xs:restriction>
                                            </xs:simpleType>
                                        </xs:element>
                                       <xs:element nillable="false" maxOccurs="unbounded" name="ServiceOrder">
                                          <xs:simpleType>
                                             <xs:restriction base="xs:string">
                                                <xs:maxLength value="10" />
                                             </xs:restriction>
                                          </xs:simpleType>
                                       </xs:element>
                                       <xs:element nillable="false" maxOccurs="unbounded" name="ServiceOrderItem">
                                          <xs:simpleType>
                                             <xs:restriction base="xs:string">
                                                <xs:maxLength value="6" />
                                             </xs:restriction>
                                          </xs:simpleType>
                                       </xs:element>
                                       <xs:element nillable="true" minOccurs="0" maxOccurs="unbounded" name="FSMServiceActivity">
                                          <xs:simpleType>
                                             <xs:restriction base="xs:string">
                                                <xs:maxLength value="32" />
                                             </xs:restriction>
                                          </xs:simpleType>
                                       </xs:element>
                                       <xs:element type="xs:string" nillable="true" minOccurs="0" maxOccurs="unbounded" name="ServiceOrderItemUUID" />
                                       <xs:element nillable="true" minOccurs="0" maxOccurs="unbounded" name="ServiceOrderItemDescription">
                                          <xs:simpleType>
                                             <xs:restriction base="xs:string">
                                                <xs:maxLength value="40" />
                                             </xs:restriction>
                                          </xs:simpleType>
                                       </xs:element>
                                       <xs:element nillable="true" minOccurs="0" maxOccurs="unbounded" name="Language">
                                          <xs:simpleType>
                                             <xs:restriction base="xs:string">
                                                <xs:maxLength value="2" />
                                             </xs:restriction>
                                          </xs:simpleType>
                                       </xs:element>
                                       <xs:element nillable="true" minOccurs="0" maxOccurs="unbounded" name="Product">
                                          <xs:simpleType>
                                             <xs:restriction base="xs:string">
                                                <xs:maxLength value="54" />
                                             </xs:restriction>
                                          </xs:simpleType>
                                       </xs:element>
                                       <xs:element type="xs:decimal" nillable="true" minOccurs="0" maxOccurs="unbounded" name="Quantity" />
                                       <xs:element nillable="true" minOccurs="0" maxOccurs="unbounded" name="QuantityUnit">
                                          <xs:simpleType>
                                             <xs:restriction base="xs:string">
                                                <xs:maxLength value="3" />
                                             </xs:restriction>
                                          </xs:simpleType>
                                       </xs:element>
                                       <xs:element type="xs:decimal" nillable="true" minOccurs="0" maxOccurs="unbounded" name="ServiceDuration" />
                                       <xs:element nillable="true" minOccurs="0" maxOccurs="unbounded" name="ServiceDurationUnit">
                                          <xs:simpleType>
                                             <xs:restriction base="xs:string">
                                                <xs:maxLength value="3" />
                                             </xs:restriction>
                                          </xs:simpleType>
                                       </xs:element>
                                       <xs:element nillable="true" minOccurs="0" maxOccurs="unbounded" name="ServiceOrderItemCategory">
                                          <xs:simpleType>
                                             <xs:restriction base="xs:string">
                                                <xs:maxLength value="4" />
                                             </xs:restriction>
                                          </xs:simpleType>
                                       </xs:element>
                                       <xs:element nillable="true" minOccurs="0" maxOccurs="unbounded" name="ServiceOrdItemRejectionReason">
                                          <xs:simpleType>
                                             <xs:restriction base="xs:string">
                                                <xs:maxLength value="2" />
                                             </xs:restriction>
                                          </xs:simpleType>
                                       </xs:element>
                                       <xs:element nillable="true" minOccurs="0" maxOccurs="unbounded" name="BillableControl">
                                          <xs:simpleType>
                                             <xs:restriction base="xs:string">
                                                <xs:maxLength value="2" />
                                             </xs:restriction>
                                          </xs:simpleType>
                                       </xs:element>
                                       <xs:element nillable="true" minOccurs="0" maxOccurs="unbounded" name="SoldToParty">
                                          <xs:simpleType>
                                             <xs:restriction base="xs:string">
                                                <xs:maxLength value="10" />
                                             </xs:restriction>
                                          </xs:simpleType>
                                       </xs:element>
                                       <xs:element nillable="true" minOccurs="0" maxOccurs="unbounded" name="ShipToParty">
                                          <xs:simpleType>
                                             <xs:restriction base="xs:string">
                                                <xs:maxLength value="10" />
                                             </xs:restriction>
                                          </xs:simpleType>
                                       </xs:element>
                                       <xs:element nillable="true" minOccurs="0" maxOccurs="unbounded" name="BillToParty">
                                          <xs:simpleType>
                                             <xs:restriction base="xs:string">
                                                <xs:maxLength value="10" />
                                             </xs:restriction>
                                          </xs:simpleType>
                                       </xs:element>
                                       <xs:element nillable="true" minOccurs="0" maxOccurs="unbounded" name="PayerParty">
                                          <xs:simpleType>
                                             <xs:restriction base="xs:string">
                                                <xs:maxLength value="10" />
                                             </xs:restriction>
                                          </xs:simpleType>
                                       </xs:element>
                                       <xs:element nillable="true" minOccurs="0" maxOccurs="unbounded" name="PersonResponsible">
                                          <xs:simpleType>
                                             <xs:restriction base="xs:string">
                                                <xs:maxLength value="10" />
                                             </xs:restriction>
                                          </xs:simpleType>
                                       </xs:element>
                                       <xs:element nillable="true" minOccurs="0" maxOccurs="unbounded" name="ExecutingServiceEmployee">
                                          <xs:simpleType>
                                             <xs:restriction base="xs:string">
                                                <xs:maxLength value="10" />
                                             </xs:restriction>
                                          </xs:simpleType>
                                       </xs:element>
                                       <xs:element nillable="true" minOccurs="0" maxOccurs="unbounded" name="ServiceOrderItemIsReleased">
                                          <xs:simpleType>
                                             <xs:restriction base="xs:string">
                                                <xs:maxLength value="1" />
                                             </xs:restriction>
                                          </xs:simpleType>
                                       </xs:element>
                                       <xs:element nillable="true" minOccurs="0" maxOccurs="unbounded" name="ServiceOrderItemIsCompleted">
                                          <xs:simpleType>
                                             <xs:restriction base="xs:string">
                                                <xs:maxLength value="1" />
                                             </xs:restriction>
                                          </xs:simpleType>
                                       </xs:element>
                                       <xs:element nillable="true" minOccurs="0" maxOccurs="unbounded" name="ServiceOrderItemIsRejected">
                                          <xs:simpleType>
                                             <xs:restriction base="xs:string">
                                                <xs:maxLength value="1" />
                                             </xs:restriction>
                                          </xs:simpleType>
                                       </xs:element>
                                       <xs:element nillable="true" minOccurs="0" maxOccurs="unbounded" name="ReferenceServiceContract">
                                          <xs:simpleType>
                                             <xs:restriction base="xs:string">
                                                <xs:maxLength value="10" />
                                             </xs:restriction>
                                          </xs:simpleType>
                                       </xs:element>
                                       <xs:element nillable="true" minOccurs="0" maxOccurs="unbounded" name="ReferenceServiceContractItem">
                                          <xs:simpleType>
                                             <xs:restriction base="xs:string">
                                                <xs:maxLength value="6" />
                                             </xs:restriction>
                                          </xs:simpleType>
                                       </xs:element>
                                       <xs:element nillable="true" minOccurs="0" maxOccurs="unbounded" name="ReferenceServiceRequest">
                                          <xs:simpleType>
                                             <xs:restriction base="xs:string">
                                                <xs:maxLength value="10" />
                                             </xs:restriction>
                                          </xs:simpleType>
                                       </xs:element>
                                       <xs:element nillable="true" minOccurs="0" maxOccurs="unbounded" name="ReferenceServiceRequestItem">
                                          <xs:simpleType>
                                             <xs:restriction base="xs:string">
                                                <xs:maxLength value="6" />
                                             </xs:restriction>
                                          </xs:simpleType>
                                       </xs:element>
                                       <xs:element nillable="true" minOccurs="0" maxOccurs="unbounded" name="TimeSheetOvertimeCategory">
                                          <xs:simpleType>
                                             <xs:restriction base="xs:string">
                                                <xs:maxLength value="4" />
                                             </xs:restriction>
                                          </xs:simpleType>
                                       </xs:element>
                                       <xs:element nillable="true" minOccurs="0" maxOccurs="1" name="ParentServiceOrderItem">
                                          <xs:simpleType>
                                             <xs:restriction base="xs:string">
                                                <xs:maxLength value="6" />
                                             </xs:restriction>
                                          </xs:simpleType>
                                       </xs:element>
                     		           <xs:element type="xs:dateTime" nillable="true" minOccurs="0" maxOccurs="unbounded" name="PlannedServiceStartDateTime" />
                     	               <xs:element type="xs:dateTime" nillable="true" minOccurs="0" maxOccurs="unbounded" name="PlannedServiceEndDateTime" />
                     	               <xs:element type="xs:dateTime" nillable="true" minOccurs="0" maxOccurs="unbounded" name="RequestedServiceStartDateTime" />
                     	               <xs:element type="xs:dateTime" nillable="true" minOccurs="0" maxOccurs="unbounded" name="RequestedServiceEndDateTime" />
                     	               <xs:element type="xs:dateTime" nillable="true" minOccurs="0" maxOccurs="unbounded" name="SrvcDocItemSLADueByDateTime" />
                     	               <xs:element nillable="true" minOccurs="0" maxOccurs="1" name="ContactPersonBusinessPartnerId ">
                                          <xs:simpleType>
                                             <xs:restriction base="xs:string">
                                                <xs:maxLength value="10" />
                                             </xs:restriction>
                                          </xs:simpleType>
                                       </xs:element>

                                       <xs:element nillable="true" minOccurs="0" maxOccurs="unbounded" name="to_Confirmation">
                                          <xs:complexType>
                                             <xs:sequence>
                                                <xs:element minOccurs="0" maxOccurs="unbounded" name="A_ServiceOrderItemConfirmationType">
                                                   <xs:complexType>
                                                      <xs:sequence>
                                                         <xs:element nillable="false" maxOccurs="unbounded" name="ServiceOrder">
                                                            <xs:simpleType>
                                                               <xs:restriction base="xs:string">
                                                                  <xs:maxLength value="10" />
                                                               </xs:restriction>
                                                            </xs:simpleType>
                                                         </xs:element>
                                                         <xs:element nillable="false" maxOccurs="unbounded" name="ServiceOrderItem">
                                                            <xs:simpleType>
                                                               <xs:restriction base="xs:string">
                                                                  <xs:maxLength value="6" />
                                                               </xs:restriction>
                                                            </xs:simpleType>
                                                         </xs:element>
                                                         <xs:element nillable="false" maxOccurs="unbounded" name="ServiceConfirmation">
                                                            <xs:simpleType>
                                                               <xs:restriction base="xs:string">
                                                                  <xs:maxLength value="10" />
                                                               </xs:restriction>
                                                            </xs:simpleType>
                                                         </xs:element>
                                                         <xs:element nillable="false" maxOccurs="unbounded" name="ServiceConfirmationItem">
                                                            <xs:simpleType>
                                                               <xs:restriction base="xs:string">
                                                                  <xs:maxLength value="6" />
                                                               </xs:restriction>
                                                            </xs:simpleType>
                                                         </xs:element>
                                                      </xs:sequence>
                                                   </xs:complexType>
                                                </xs:element>
                                             </xs:sequence>
                                          </xs:complexType>
                                       </xs:element>
                                       <xs:element nillable="true" minOccurs="0" maxOccurs="unbounded" name="to_ReferenceObject">
                                          <xs:complexType>
                                             <xs:sequence>
                                                <xs:element minOccurs="0" maxOccurs="unbounded" name="A_ServiceOrderItemRefObjectType">
                                                   <xs:complexType>
                                                      <xs:sequence>
                                                         <xs:element nillable="false" minOccurs="0" maxOccurs="unbounded" name="ServiceOrder">
                                                            <xs:simpleType>
                                                               <xs:restriction base="xs:string">
                                                                  <xs:maxLength value="10" />
                                                               </xs:restriction>
                                                            </xs:simpleType>
                                                         </xs:element>
                                                         <xs:element nillable="false" minOccurs="0" maxOccurs="unbounded" name="ServiceOrderItem">
                                                            <xs:simpleType>
                                                               <xs:restriction base="xs:string">
                                                                  <xs:maxLength value="6" />
                                                               </xs:restriction>
                                                            </xs:simpleType>
                                                         </xs:element>
                                                         <xs:element nillable="false" minOccurs="0" maxOccurs="unbounded" name="ServiceReferenceEquipment">
                                                            <xs:simpleType>
                                                               <xs:restriction base="xs:string">
                                                                  <xs:maxLength value="18" />
                                                               </xs:restriction>
                                                            </xs:simpleType>
                                                         </xs:element>
                                                         <xs:element nillable="false" minOccurs="0" maxOccurs="unbounded" name="ServiceRefFunctionalLocation">
                                                            <xs:simpleType>
                                                               <xs:restriction base="xs:string">
                                                                  <xs:maxLength value="40" />
                                                               </xs:restriction>
                                                            </xs:simpleType>
                                                         </xs:element>
                                                         <xs:element type="xs:boolean" nillable="true" minOccurs="0" maxOccurs="unbounded" name="SrvcRefObjIsMainObject" />
                                                      </xs:sequence>
                                                   </xs:complexType>
                                                </xs:element>
                                             </xs:sequence>
                                          </xs:complexType>
                                       </xs:element>
                                       <xs:element nillable="true" minOccurs="0" maxOccurs="unbounded" name="to_Text">
                                          <xs:complexType>
                                             <xs:sequence>
                                                <xs:element minOccurs="0" maxOccurs="unbounded" name="A_ServiceOrderItemTextType">
                                                   <xs:complexType>
                                                      <xs:sequence>
                                                         <xs:element nillable="false" maxOccurs="unbounded" name="ServiceOrder">
                                                            <xs:simpleType>
                                                               <xs:restriction base="xs:string">
                                                                  <xs:maxLength value="10" />
                                                               </xs:restriction>
                                                            </xs:simpleType>
                                                         </xs:element>
                                                         <xs:element nillable="false" maxOccurs="unbounded" name="ServiceOrderItem">
                                                            <xs:simpleType>
                                                               <xs:restriction base="xs:string">
                                                                  <xs:maxLength value="6" />
                                                               </xs:restriction>
                                                            </xs:simpleType>
                                                         </xs:element>
                                                         <xs:element nillable="false" maxOccurs="unbounded" name="Language">
                                                            <xs:simpleType>
                                                               <xs:restriction base="xs:string">
                                                                  <xs:maxLength value="2" />
                                                               </xs:restriction>
                                                            </xs:simpleType>
                                                         </xs:element>
                                                         <xs:element nillable="false" maxOccurs="unbounded" name="LongTextID">
                                                            <xs:simpleType>
                                                               <xs:restriction base="xs:string">
                                                                  <xs:maxLength value="4" />
                                                               </xs:restriction>
                                                            </xs:simpleType>
                                                         </xs:element>
                                                         <xs:element type="xs:string" nillable="true" minOccurs="0" maxOccurs="unbounded" name="LongText" />
                                                      </xs:sequence>
                                                   </xs:complexType>
                                                </xs:element>
                                             </xs:sequence>
                                          </xs:complexType>
                                       </xs:element>
                                    </xs:sequence>
                                 </xs:complexType>
                              </xs:element>
                           </xs:sequence>
                        </xs:complexType>
                     </xs:element>
                     <xs:element nillable="true" minOccurs="0" maxOccurs="unbounded" name="to_PersonResponsible">
                        <xs:complexType>
                           <xs:sequence>
                              <xs:element minOccurs="0" maxOccurs="unbounded" name="A_ServiceOrderPersonRespType">
                                 <xs:complexType>
                                    <xs:sequence>
                                       <xs:element nillable="false" maxOccurs="unbounded" name="ServiceOrder">
                                          <xs:simpleType>
                                             <xs:restriction base="xs:string">
                                                <xs:maxLength value="10" />
                                             </xs:restriction>
                                          </xs:simpleType>
                                       </xs:element>
                                       <xs:element nillable="false" maxOccurs="unbounded" name="PersonResponsible">
                                          <xs:simpleType>
                                             <xs:restriction base="xs:string">
                                                <xs:maxLength value="10" />
                                             </xs:restriction>
                                          </xs:simpleType>
                                       </xs:element>
                                    </xs:sequence>
                                 </xs:complexType>
                              </xs:element>
                           </xs:sequence>
                        </xs:complexType>
                     </xs:element>
                     <xs:element nillable="true" minOccurs="0" maxOccurs="unbounded" name="to_ReferenceObject">
                        <xs:complexType>
                           <xs:sequence>
                              <xs:element minOccurs="0" maxOccurs="unbounded" name="A_ServiceOrderRefObjectType">
                                 <xs:complexType>
                                    <xs:sequence>
                                       <xs:element nillable="false" minOccurs="0" maxOccurs="unbounded" name="ServiceOrder">
                                          <xs:simpleType>
                                             <xs:restriction base="xs:string">
                                                <xs:maxLength value="10" />
                                             </xs:restriction>
                                          </xs:simpleType>
                                       </xs:element>
                                       <xs:element nillable="false" minOccurs="0" maxOccurs="unbounded" name="ServiceReferenceEquipment">
                                          <xs:simpleType>
                                             <xs:restriction base="xs:string">
                                                <xs:maxLength value="18" />
                                             </xs:restriction>
                                          </xs:simpleType>
                                       </xs:element>
                                       <xs:element nillable="false" minOccurs="0" maxOccurs="unbounded" name="ServiceRefFunctionalLocation">
                                          <xs:simpleType>
                                             <xs:restriction base="xs:string">
                                                <xs:maxLength value="40" />
                                             </xs:restriction>
                                          </xs:simpleType>
                                       </xs:element>
                                       <xs:element type="xs:boolean" nillable="true" minOccurs="0" maxOccurs="unbounded" name="SrvcRefObjIsMainObject" />
                                    </xs:sequence>
                                 </xs:complexType>
                              </xs:element>
                           </xs:sequence>
                        </xs:complexType>
                     </xs:element>
                     <xs:element nillable="true" minOccurs="0" maxOccurs="unbounded" name="to_Text">
                        <xs:complexType>
                           <xs:sequence>
                              <xs:element minOccurs="0" maxOccurs="unbounded" name="A_ServiceOrderTextType">
                                 <xs:complexType>
                                    <xs:sequence>
                                       <xs:element nillable="false" maxOccurs="unbounded" name="ServiceOrder">
                                          <xs:simpleType>
                                             <xs:restriction base="xs:string">
                                                <xs:maxLength value="10" />
                                             </xs:restriction>
                                          </xs:simpleType>
                                       </xs:element>
                                       <xs:element nillable="false" maxOccurs="unbounded" name="Language">
                                          <xs:simpleType>
                                             <xs:restriction base="xs:string">
                                                <xs:maxLength value="2" />
                                             </xs:restriction>
                                          </xs:simpleType>
                                       </xs:element>
                                       <xs:element nillable="false" maxOccurs="unbounded" name="LongTextID">
                                          <xs:simpleType>
                                             <xs:restriction base="xs:string">
                                                <xs:maxLength value="4" />
                                             </xs:restriction>
                                          </xs:simpleType>
                                       </xs:element>
                                       <xs:element type="xs:string" nillable="true" minOccurs="0" maxOccurs="unbounded" name="LongText" />
                                    </xs:sequence>
                                 </xs:complexType>
                              </xs:element>
                           </xs:sequence>
                        </xs:complexType>
                     </xs:element>
                     <xs:element nillable="true" minOccurs="0" maxOccurs="unbounded" name="to_ReservedMaterial">
                        <xs:complexType>
                           <xs:sequence>

                                       <xs:element nillable="false" maxOccurs="unbounded" name="ServiceOrder">
                                          <xs:simpleType>
                                             <xs:restriction base="xs:string">
                                                <xs:maxLength value="10" />
                                             </xs:restriction>
                                          </xs:simpleType>
                                       </xs:element>
                                       <xs:element nillable="false" maxOccurs="unbounded" name="ServiceOrderItem">
                                          <xs:simpleType>
                                             <xs:restriction base="xs:string">
                                                <xs:maxLength value="6" />
                                             </xs:restriction>
                                          </xs:simpleType>
                                       </xs:element>
                                       <xs:element type="xs:string" nillable="true" minOccurs="0" maxOccurs="unbounded" name="ServiceOrderItemUUID" />
                                       <xs:element nillable="true" minOccurs="0" maxOccurs="unbounded" name="ServiceOrderItemDescription">
                                          <xs:simpleType>
                                             <xs:restriction base="xs:string">
                                                <xs:maxLength value="40" />
                                             </xs:restriction>
                                          </xs:simpleType>
                                       </xs:element>
                                       <xs:element nillable="true" minOccurs="0" maxOccurs="unbounded" name="Language">
                                          <xs:simpleType>
                                             <xs:restriction base="xs:string">
                                                <xs:maxLength value="2" />
                                             </xs:restriction>
                                          </xs:simpleType>
                                       </xs:element>
                                       <xs:element nillable="true" minOccurs="0" maxOccurs="unbounded" name="Product">
                                          <xs:simpleType>
                                             <xs:restriction base="xs:string">
                                                <xs:maxLength value="54" />
                                             </xs:restriction>
                                          </xs:simpleType>
                                       </xs:element>
                                       <xs:element type="xs:decimal" nillable="true" minOccurs="0" maxOccurs="unbounded" name="Quantity" />
                                       <xs:element type="xs:decimal" nillable="true" minOccurs="0" maxOccurs="unbounded" name="SrvcOrdItemReservedQuantity" />
									   <xs:element type="xs:boolean" nillable="true" minOccurs="0" maxOccurs="unbounded" name="SrvcOrdItmResvnIsExisting" />
                                       <xs:element nillable="true" minOccurs="0" maxOccurs="unbounded" name="QuantityUnit">
                                          <xs:simpleType>
                                             <xs:restriction base="xs:string">
                                                <xs:maxLength value="3" />
                                             </xs:restriction>
                                          </xs:simpleType>
                                       </xs:element>
                                       <xs:element type="xs:decimal" nillable="true" minOccurs="0" maxOccurs="unbounded" name="ServiceDuration" />
                                       <xs:element nillable="true" minOccurs="0" maxOccurs="unbounded" name="ServiceDurationUnit">
                                          <xs:simpleType>
                                             <xs:restriction base="xs:string">
                                                <xs:maxLength value="3" />
                                             </xs:restriction>
                                          </xs:simpleType>
                                       </xs:element>
                                       <xs:element nillable="true" minOccurs="0" maxOccurs="unbounded" name="ServiceOrderItemCategory">
                                          <xs:simpleType>
                                             <xs:restriction base="xs:string">
                                                <xs:maxLength value="4" />
                                             </xs:restriction>
                                          </xs:simpleType>
                                       </xs:element>
                                       <xs:element nillable="true" minOccurs="0" maxOccurs="unbounded" name="ServiceOrdItemRejectionReason">
                                          <xs:simpleType>
                                             <xs:restriction base="xs:string">
                                                <xs:maxLength value="2" />
                                             </xs:restriction>
                                          </xs:simpleType>
                                       </xs:element>
                                       <xs:element nillable="true" minOccurs="0" maxOccurs="unbounded" name="BillableControl">
                                          <xs:simpleType>
                                             <xs:restriction base="xs:string">
                                                <xs:maxLength value="2" />
                                             </xs:restriction>
                                          </xs:simpleType>
                                       </xs:element>
                                       <xs:element nillable="true" minOccurs="0" maxOccurs="unbounded" name="SoldToParty">
                                          <xs:simpleType>
                                             <xs:restriction base="xs:string">
                                                <xs:maxLength value="10" />
                                             </xs:restriction>
                                          </xs:simpleType>
                                       </xs:element>
                                       <xs:element nillable="true" minOccurs="0" maxOccurs="unbounded" name="ShipToParty">
                                          <xs:simpleType>
                                             <xs:restriction base="xs:string">
                                                <xs:maxLength value="10" />
                                             </xs:restriction>
                                          </xs:simpleType>
                                       </xs:element>
                                       <xs:element nillable="true" minOccurs="0" maxOccurs="unbounded" name="BillToParty">
                                          <xs:simpleType>
                                             <xs:restriction base="xs:string">
                                                <xs:maxLength value="10" />
                                             </xs:restriction>
                                          </xs:simpleType>
                                       </xs:element>
                                       <xs:element nillable="true" minOccurs="0" maxOccurs="unbounded" name="PayerParty">
                                          <xs:simpleType>
                                             <xs:restriction base="xs:string">
                                                <xs:maxLength value="10" />
                                             </xs:restriction>
                                          </xs:simpleType>
                                       </xs:element>
                                       <xs:element nillable="true" minOccurs="0" maxOccurs="unbounded" name="PersonResponsible">
                                          <xs:simpleType>
                                             <xs:restriction base="xs:string">
                                                <xs:maxLength value="10" />
                                             </xs:restriction>
                                          </xs:simpleType>
                                       </xs:element>
                                       <xs:element nillable="true" minOccurs="0" maxOccurs="unbounded" name="ExecutingServiceEmployee">
                                          <xs:simpleType>
                                             <xs:restriction base="xs:string">
                                                <xs:maxLength value="10" />
                                             </xs:restriction>
                                          </xs:simpleType>
                                       </xs:element>
                                       <xs:element nillable="true" minOccurs="0" maxOccurs="unbounded" name="ServiceOrderItemIsReleased">
                                          <xs:simpleType>
                                             <xs:restriction base="xs:string">
                                                <xs:maxLength value="1" />
                                             </xs:restriction>
                                          </xs:simpleType>
                                       </xs:element>
                                       <xs:element nillable="true" minOccurs="0" maxOccurs="unbounded" name="ServiceOrderItemIsCompleted">
                                          <xs:simpleType>
                                             <xs:restriction base="xs:string">
                                                <xs:maxLength value="1" />
                                             </xs:restriction>
                                          </xs:simpleType>
                                       </xs:element>
                                       <xs:element nillable="true" minOccurs="0" maxOccurs="unbounded" name="ServiceOrderItemIsRejected">
                                          <xs:simpleType>
                                             <xs:restriction base="xs:string">
                                                <xs:maxLength value="1" />
                                             </xs:restriction>
                                          </xs:simpleType>
                                       </xs:element>
                                       <xs:element nillable="true" minOccurs="0" maxOccurs="unbounded" name="ReferenceServiceContract">
                                          <xs:simpleType>
                                             <xs:restriction base="xs:string">
                                                <xs:maxLength value="10" />
                                             </xs:restriction>
                                          </xs:simpleType>
                                       </xs:element>
                                       <xs:element nillable="true" minOccurs="0" maxOccurs="unbounded" name="ReferenceServiceContractItem">
                                          <xs:simpleType>
                                             <xs:restriction base="xs:string">
                                                <xs:maxLength value="6" />
                                             </xs:restriction>
                                          </xs:simpleType>
                                       </xs:element>
                                       <xs:element nillable="true" minOccurs="0" maxOccurs="unbounded" name="ReferenceServiceRequest">
                                          <xs:simpleType>
                                             <xs:restriction base="xs:string">
                                                <xs:maxLength value="10" />
                                             </xs:restriction>
                                          </xs:simpleType>
                                       </xs:element>
                                       <xs:element nillable="true" minOccurs="0" maxOccurs="unbounded" name="ReferenceServiceRequestItem">
                                          <xs:simpleType>
                                             <xs:restriction base="xs:string">
                                                <xs:maxLength value="6" />
                                             </xs:restriction>
                                          </xs:simpleType>
                                       </xs:element>
                                       <xs:element nillable="true" minOccurs="0" maxOccurs="unbounded" name="TimeSheetOvertimeCategory">
                                          <xs:simpleType>
                                             <xs:restriction base="xs:string">
                                                <xs:maxLength value="4" />
                                             </xs:restriction>
                                          </xs:simpleType>
                                       </xs:element>
                                       <xs:element nillable="true" minOccurs="0" maxOccurs="1" name="ParentServiceOrderItem">
                                          <xs:simpleType>
                                             <xs:restriction base="xs:string">
                                                <xs:maxLength value="6" />
                                             </xs:restriction>
                                          </xs:simpleType>
                                       </xs:element>
                                       <xs:element nillable="true" minOccurs="0" maxOccurs="unbounded" name="to_Confirmation">
                                          <xs:complexType>
                                             <xs:sequence>
                                                <xs:element minOccurs="0" maxOccurs="unbounded" name="A_ServiceOrderItemConfirmationType">
                                                   <xs:complexType>
                                                      <xs:sequence>
                                                         <xs:element nillable="false" maxOccurs="unbounded" name="ServiceOrder">
                                                            <xs:simpleType>
                                                               <xs:restriction base="xs:string">
                                                                  <xs:maxLength value="10" />
                                                               </xs:restriction>
                                                            </xs:simpleType>
                                                         </xs:element>
                                                         <xs:element nillable="false" maxOccurs="unbounded" name="ServiceOrderItem">
                                                            <xs:simpleType>
                                                               <xs:restriction base="xs:string">
                                                                  <xs:maxLength value="6" />
                                                               </xs:restriction>
                                                            </xs:simpleType>
                                                         </xs:element>
                                                         <xs:element nillable="false" maxOccurs="unbounded" name="ServiceConfirmation">
                                                            <xs:simpleType>
                                                               <xs:restriction base="xs:string">
                                                                  <xs:maxLength value="10" />
                                                               </xs:restriction>
                                                            </xs:simpleType>
                                                         </xs:element>
                                                         <xs:element nillable="false" maxOccurs="unbounded" name="ServiceConfirmationItem">
                                                            <xs:simpleType>
                                                               <xs:restriction base="xs:string">
                                                                  <xs:maxLength value="6" />
                                                               </xs:restriction>
                                                            </xs:simpleType>
                                                         </xs:element>
                                                      </xs:sequence>
                                                   </xs:complexType>
                                                </xs:element>
                                             </xs:sequence>
                                          </xs:complexType>
                                       </xs:element>
                                       <xs:element nillable="true" minOccurs="0" maxOccurs="unbounded" name="to_ReferenceObject">
                                          <xs:complexType>
                                             <xs:sequence>
                                                <xs:element minOccurs="0" maxOccurs="unbounded" name="A_ServiceOrderItemRefObjectType">
                                                   <xs:complexType>
                                                      <xs:sequence>
                                                         <xs:element nillable="false" minOccurs="0" maxOccurs="unbounded" name="ServiceOrder">
                                                            <xs:simpleType>
                                                               <xs:restriction base="xs:string">
                                                                  <xs:maxLength value="10" />
                                                               </xs:restriction>
                                                            </xs:simpleType>
                                                         </xs:element>
                                                         <xs:element nillable="false" minOccurs="0" maxOccurs="unbounded" name="ServiceOrderItem">
                                                            <xs:simpleType>
                                                               <xs:restriction base="xs:string">
                                                                  <xs:maxLength value="6" />
                                                               </xs:restriction>
                                                            </xs:simpleType>
                                                         </xs:element>
                                                         <xs:element nillable="false" minOccurs="0" maxOccurs="unbounded" name="ServiceReferenceEquipment">
                                                            <xs:simpleType>
                                                               <xs:restriction base="xs:string">
                                                                  <xs:maxLength value="18" />
                                                               </xs:restriction>
                                                            </xs:simpleType>
                                                         </xs:element>
                                                         <xs:element nillable="false" minOccurs="0" maxOccurs="unbounded" name="ServiceRefFunctionalLocation">
                                                            <xs:simpleType>
                                                               <xs:restriction base="xs:string">
                                                                  <xs:maxLength value="40" />
                                                               </xs:restriction>
                                                            </xs:simpleType>
                                                         </xs:element>
                                                         <xs:element type="xs:boolean" nillable="true" minOccurs="0" maxOccurs="unbounded" name="SrvcRefObjIsMainObject" />
                                                      </xs:sequence>
                                                   </xs:complexType>
                                                </xs:element>
                                             </xs:sequence>
                                          </xs:complexType>
                                       </xs:element>
                                       <xs:element nillable="true" minOccurs="0" maxOccurs="unbounded" name="to_Text">
                                          <xs:complexType>
                                             <xs:sequence>
                                                <xs:element minOccurs="0" maxOccurs="unbounded" name="A_ServiceOrderItemTextType">
                                                   <xs:complexType>
                                                      <xs:sequence>
                                                         <xs:element nillable="false" maxOccurs="unbounded" name="ServiceOrder">
                                                            <xs:simpleType>
                                                               <xs:restriction base="xs:string">
                                                                  <xs:maxLength value="10" />
                                                               </xs:restriction>
                                                            </xs:simpleType>
                                                         </xs:element>
                                                         <xs:element nillable="false" maxOccurs="unbounded" name="ServiceOrderItem">
                                                            <xs:simpleType>
                                                               <xs:restriction base="xs:string">
                                                                  <xs:maxLength value="6" />
                                                               </xs:restriction>
                                                            </xs:simpleType>
                                                         </xs:element>
                                                         <xs:element nillable="false" maxOccurs="unbounded" name="Language">
                                                            <xs:simpleType>
                                                               <xs:restriction base="xs:string">
                                                                  <xs:maxLength value="2" />
                                                               </xs:restriction>
                                                            </xs:simpleType>
                                                         </xs:element>
                                                         <xs:element nillable="false" maxOccurs="unbounded" name="LongTextID">
                                                            <xs:simpleType>
                                                               <xs:restriction base="xs:string">
                                                                  <xs:maxLength value="4" />
                                                               </xs:restriction>
                                                            </xs:simpleType>
                                                         </xs:element>
                                                         <xs:element type="xs:string" nillable="true" minOccurs="0" maxOccurs="unbounded" name="LongText" />
                                                      </xs:sequence>
                                                   </xs:complexType>
                                                </xs:element>
                                             </xs:sequence>
                                          </xs:complexType>
                                       </xs:element>

                           </xs:sequence>
                        </xs:complexType>
                     </xs:element>
                  </xs:sequence>
               </xs:complexType>
            </xs:element>
         </xs:sequence>
      </xs:complexType>
   </xs:element>
</xs:schema>