Resources/canonical_library/xsd/ACTION.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="ACTION">
    <xs:complexType>
      <xs:sequence>
        <xs:element type="xs:string" name="NAME" maxOccurs="1" minOccurs="0"/>
        <xs:element type="xs:int" name="ORDER_ID" maxOccurs="1" minOccurs="0"/>
        <xs:element type="xs:string" name="EXTERNAL_QUOTE_STATUS" maxOccurs="1" minOccurs="0"/>
        <xs:element name="COMMENTS" maxOccurs="1" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
			  <xs:element type="xs:string" name="CommentSource" maxOccurs="1" minOccurs="1"/>
              <xs:element name="CartComments" maxOccurs="1" minOccurs="0">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="CartComment" maxOccurs="unbounded" minOccurs="0">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element type="xs:string" name="UserFullName"/>
                          <xs:element type="xs:string" name="UserEmail"/>
                          <xs:element type="xs:string" name="UserCompany"/>
                          <xs:element type="xs:string" name="Comment"/>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="ItemComments" maxOccurs="1" minOccurs="0">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="ItemComment" maxOccurs="unbounded" minOccurs="0">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element type="xs:byte" name="ItemId"/>
                          <xs:element type="xs:string" name="UserFullName"/>
                          <xs:element type="xs:string" name="UserEmail"/>
                          <xs:element type="xs:string" name="UserCompany"/>
                          <xs:element type="xs:string" name="Comment"/>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>