Resources/canonical_library/xsd/activity.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="qualified">
   <xs:element name="activity">
      <xs:complexType>
         <xs:sequence>
            <xs:element name="reservedMaterials" minOccurs="0" maxOccurs="unbounded">
               <xs:complexType>
                  <xs:sequence>
                     <xs:element type="xs:string" name="externalId" minOccurs="0" />
                     <xs:element type="xs:string" name="id" minOccurs="0" />
                     <xs:element name="item" minOccurs="0">
                        <xs:complexType>
                           <xs:sequence>
                              <xs:element type="xs:byte" name="code" minOccurs="0" />
                              <xs:element type="xs:string" name="externalId" minOccurs="0" />
                              <xs:element type="xs:string" name="id" minOccurs="0" />
                           </xs:sequence>
                        </xs:complexType>
                     </xs:element>
                     <xs:element type="xs:byte" name="moved" minOccurs="0" />
                     <xs:element type="xs:byte" name="quantity" minOccurs="0" />
                     <xs:element name="serialNumber" minOccurs="0">
                        <xs:complexType>
                           <xs:simpleContent>
                              <xs:extension base="xs:string">
                                 <xs:attribute type="xs:string" name="null" />
                              </xs:extension>
                           </xs:simpleContent>
                        </xs:complexType>
                     </xs:element>
                     <xs:element type="xs:byte" name="used" minOccurs="0" />
                     <xs:element name="warehouse" minOccurs="0">
                        <xs:complexType>
                           <xs:sequence>
                              <xs:element type="xs:short" name="code" minOccurs="0" />
                              <xs:element type="xs:string" name="id" minOccurs="0" />
                              <xs:element type="xs:string" name="externalId" minOccurs="0" />
                           </xs:sequence>
                        </xs:complexType>
                     </xs:element>
                  </xs:sequence>
               </xs:complexType>
            </xs:element>
            <xs:element name="expenses" minOccurs="0" maxOccurs="unbounded">
               <xs:complexType>
                  <xs:sequence>
                     <xs:element type="xs:string" name="approvalStatus" minOccurs="0" />
                     <xs:element type="xs:string" name="chargeOption" minOccurs="0" />
                     <xs:element type="xs:dateTime" name="createDateTime" minOccurs="0" />
                     <xs:element name="createPerson" minOccurs="0" >
                         <xs:complexType>
                            <xs:sequence>
                                <xs:element type="xs:byte" name="code" minOccurs="0" />
                                <xs:element type="xs:byte" name="externalId" minOccurs="0" />
                                <xs:element type="xs:string" name="id" minOccurs="0" />
                            </xs:sequence>
                         </xs:complexType>
                     </xs:element>
                     <xs:element type="xs:string" name="externalId" minOccurs="0" />
                     <xs:element type="xs:string" name="tempReferenceItemId" minOccurs="0" />
                     <xs:element type="xs:boolean" name="tempItemIsUnplanned" nillable="true" minOccurs="0" maxOccurs="1"/>
                     <xs:element type="xs:string" name="tempProductId" minOccurs="0" />
                     <xs:element type="xs:date" name="date" minOccurs="0" />
                     <xs:element name="type1" minOccurs="0" >
					  <xs:complexType>
						<xs:sequence>
						  <xs:element type="xs:byte" name="code" minOccurs="0" />
						  <xs:element type="xs:string" name="externalId" minOccurs="0" />
						  <xs:element type="xs:string" name="id" minOccurs="0" />
						</xs:sequence>
					  </xs:complexType>
					 </xs:element>
					 <xs:element name="externalAmount" minOccurs="0">
                        <xs:complexType>
                           <xs:sequence>
                              <xs:element type="xs:short" name="amount" minOccurs="0" />
                              <xs:element type="xs:string" name="currency" minOccurs="0" />
                           </xs:sequence>
                        </xs:complexType>
                     </xs:element>
                     <xs:element type="xs:string" name="id" minOccurs="0" />
                     <xs:element type="xs:string" name="inactive" minOccurs="0" />
                     <xs:element name="internalAmount" minOccurs="0">
                        <xs:complexType>
                           <xs:sequence>
                              <xs:element type="xs:byte" name="amount" minOccurs="0" />
                              <xs:element type="xs:string" name="currency" minOccurs="0" />
                           </xs:sequence>
                        </xs:complexType>
                     </xs:element>
                     <xs:element type="xs:long" name="lastChanged" minOccurs="0" />
                     <xs:element type="xs:string" name="lastChangedBy" minOccurs="0" />
                     <xs:element name="object" minOccurs="0">
                        <xs:complexType>
                           <xs:sequence>
                              <xs:element type="xs:string" name="objectId" minOccurs="0" />
                              <xs:element type="xs:string" name="objectType" minOccurs="0" />
                           </xs:sequence>
                        </xs:complexType>
                     </xs:element>
                     <xs:element type="xs:string" name="remarks" minOccurs="0" />
                     <xs:element type="xs:string" name="syncStatus" minOccurs="0" />
                     <xs:element type="xs:string" name="type" minOccurs="0" />
                  </xs:sequence>
               </xs:complexType>
            </xs:element>
            <xs:element name="materials" minOccurs="0" maxOccurs="unbounded">
               <xs:complexType>
                  <xs:sequence>
                     <xs:element type="xs:string" name="approvalStatus" minOccurs="0" />
                     <xs:element type="xs:string" name="tempReferenceItemId" minOccurs="0" />
                     <xs:element type="xs:string" name="tempProductId" minOccurs="0" />
                     <xs:element type="xs:boolean" name="tempItemIsUnplanned" nillable="true" minOccurs="0" maxOccurs="1"/>
                     <xs:element type="xs:string" name="chargeOption" minOccurs="0" />
                     <xs:element type="xs:dateTime" name="createDateTime" minOccurs="0" />
                     <xs:element name="createPerson" minOccurs="0" >
                         <xs:complexType>
                            <xs:sequence>
                                <xs:element type="xs:byte" name="code" minOccurs="0" />
                                <xs:element type="xs:byte" name="externalId" minOccurs="0" />
                                <xs:element type="xs:string" name="id" minOccurs="0" />
                            </xs:sequence>
                         </xs:complexType>
                     </xs:element>
                     <xs:element type="xs:date" name="date" minOccurs="0" />
                     <xs:element type="xs:string" name="equipment" minOccurs="0" />
                     <xs:element type="xs:string" name="id" minOccurs="0" />
                     <xs:element type="xs:string" name="inactive" minOccurs="0" />
                     <xs:element type="xs:string" name="item" minOccurs="0" />
                     <xs:element type="xs:long" name="lastChanged" minOccurs="0" />
                     <xs:element type="xs:string" name="lastChangedBy" minOccurs="0" />
                     <xs:element type="xs:string" name="managedByBatchItems" minOccurs="0" />
                     <xs:element name="reservedMaterials" minOccurs="0">
                        <xs:complexType>
                           <xs:sequence>
                              <xs:element name="code" minOccurs="0">
                                 <xs:complexType>
                                    <xs:simpleContent>
                                       <xs:extension base="xs:string">
                                          <xs:attribute type="xs:string" name="null" />
                                       </xs:extension>
                                    </xs:simpleContent>
                                 </xs:complexType>
                              </xs:element>
                              <xs:element type="xs:byte" name="externalId" minOccurs="0" />
                              <xs:element type="xs:string" name="id" minOccurs="0" />
                           </xs:sequence>
                        </xs:complexType>
                     </xs:element>
                     <xs:element name="object" minOccurs="0">
                        <xs:complexType>
                           <xs:sequence>
                              <xs:element type="xs:string" name="objectId" minOccurs="0" />
                              <xs:element type="xs:string" name="objectType" minOccurs="0" />
                           </xs:sequence>
                        </xs:complexType>
                     </xs:element>
                     <xs:element type="xs:byte" name="quantity" minOccurs="0" />
                     <xs:element type="xs:string" name="remarks" minOccurs="0" />
                     <xs:element type="xs:string" name="serialNumbers" minOccurs="0" />
                     <xs:element type="xs:string" name="syncStatus" minOccurs="0" />
                     <xs:element name="unitPrice" minOccurs="0">
                        <xs:complexType>
                           <xs:sequence>
                              <xs:element type="xs:byte" name="amount" minOccurs="0" />
                              <xs:element type="xs:string" name="currency" minOccurs="0" />
                           </xs:sequence>
                        </xs:complexType>
                     </xs:element>
                     <xs:element type="xs:string" name="warehouse" minOccurs="0" />
                  </xs:sequence>
               </xs:complexType>
            </xs:element>
            <xs:element name="mileages" minOccurs="0" maxOccurs="unbounded">
               <xs:complexType>
                  <xs:sequence>
                     <xs:element type="xs:string" name="approvalStatus" minOccurs="0" />
                     <xs:element type="xs:string" name="chargeOption" minOccurs="0" />
                     <xs:element type="xs:dateTime" name="createDateTime" minOccurs="0" />
                     <xs:element type="xs:string" name="date" minOccurs="0" />
                     <xs:element name="createPerson" minOccurs="0" >
                         <xs:complexType>
                            <xs:sequence>
                                <xs:element type="xs:byte" name="code" minOccurs="0" />
                                <xs:element type="xs:byte" name="externalId" minOccurs="0" />
                                <xs:element type="xs:string" name="id" minOccurs="0" />
                            </xs:sequence>
                         </xs:complexType>
                     </xs:element>
                     <xs:element type="xs:string" name="driver" minOccurs="0" />
                     <xs:element type="xs:string" name="distance" minOccurs="0" />
                     <xs:element type="xs:string" name="id" minOccurs="0" />
                     <xs:element type="xs:string" name="inactive" minOccurs="0" />
                     <xs:element type="xs:long" name="lastChanged" minOccurs="0" />
                     <xs:element type="xs:string" name="lastChangedBy" minOccurs="0" />
                     <xs:element name="object" minOccurs="0">
                        <xs:complexType>
                           <xs:sequence>
                              <xs:element type="xs:string" name="objectId" minOccurs="0" />
                              <xs:element type="xs:string" name="objectType" minOccurs="0" />
                           </xs:sequence>
                        </xs:complexType>
                     </xs:element>
                     <xs:element type="xs:string" name="privateCar" minOccurs="0" />
                     <xs:element type="xs:string" name="remarks" minOccurs="0" />
                     <xs:element type="xs:string" name="syncStatus" minOccurs="0" />
                     <xs:element type="xs:dateTime" name="travelEndDateTime" minOccurs="0" />
                     <xs:element type="xs:string" name="travelEndDateTimeTimeZoneId" minOccurs="0" />
                     <xs:element type="xs:dateTime" name="travelStartDateTime" minOccurs="0" />
                     <xs:element type="xs:string" name="travelStartDateTimeTimeZoneId" minOccurs="0" />
                     <xs:element type="xs:string" name="tempReferenceItemId" minOccurs="0" />
                     <xs:element type="xs:string" name="tempProductId" minOccurs="0" />
                     <xs:element type="xs:boolean" name="tempItemIsUnplanned" nillable="true" minOccurs="0" maxOccurs="1"/>
                  </xs:sequence>
               </xs:complexType>
            </xs:element>
            <xs:element name="timeEfforts" minOccurs="0" maxOccurs="unbounded">
               <xs:complexType>
                  <xs:sequence>
                     <xs:element type="xs:string" name="approvalStatus" minOccurs="0" />
                     <xs:element type="xs:byte" name="breakInMinutes" minOccurs="0" />
                     <xs:element type="xs:string" name="chargeOption" minOccurs="0" />
                     <xs:element type="xs:dateTime" name="createDateTime" minOccurs="0" />
                     <xs:element name="createPerson" minOccurs="0" >
                         <xs:complexType>
                            <xs:sequence>
                                <xs:element type="xs:byte" name="code" minOccurs="0" />
                                <xs:element type="xs:byte" name="externalId" minOccurs="0" />
                                <xs:element type="xs:string" name="id" minOccurs="0" />
                            </xs:sequence>
                         </xs:complexType>
                     </xs:element>
                     <xs:element type="xs:dateTime" name="endDateTime" minOccurs="0" />
                     <xs:element type="xs:string" name="endDateTimeTimeZoneId" minOccurs="0" />
                     <xs:element type="xs:string" name="id" minOccurs="0" />
                     <xs:element type="xs:string" name="inactive" minOccurs="0" />
                     <xs:element type="xs:long" name="lastChanged" minOccurs="0" />
                     <xs:element type="xs:string" name="lastChangedBy" minOccurs="0" />
                     <xs:element name="object" minOccurs="0">
                        <xs:complexType>
                           <xs:sequence>
                              <xs:element type="xs:string" name="objectId" minOccurs="0" />
                              <xs:element type="xs:string" name="objectType" minOccurs="0" />
                           </xs:sequence>
                        </xs:complexType>
                     </xs:element>
                     <xs:element type="xs:dateTime" name="startDateTime" minOccurs="0" />
                     <xs:element type="xs:string" name="startDateTimeTimeZoneId" minOccurs="0" />
                     <xs:element type="xs:string" name="remarks" minOccurs="0" />                     
                     <xs:element type="xs:string" name="syncStatus" minOccurs="0" />
                     <xs:element type="xs:string" name="timeZoneId" minOccurs="0" />
                  </xs:sequence>
               </xs:complexType>
            </xs:element>
            <xs:element name="unifiedIdentifier" minOccurs="0">
               <xs:complexType>
                  <xs:sequence>
                     <xs:element type="xs:byte" name="code" minOccurs="0" />
                     <xs:element type="xs:byte" name="externalId" minOccurs="0" />
                     <xs:element type="xs:string" name="id" minOccurs="0" />
                  </xs:sequence>
               </xs:complexType>
            </xs:element>
            <xs:element name="activityData" minOccurs="0">
                 <xs:complexType>
                  <xs:sequence>
                    <xs:element name="responsibles" minOccurs="0">
                        <xs:complexType>
                        <xs:sequence>
                            <xs:element type="xs:byte" name="code" minOccurs="0" />
                            <xs:element type="xs:byte" name="externalId" minOccurs="0" />
                            <xs:element type="xs:string" name="id" minOccurs="0" />
                        </xs:sequence>
                        </xs:complexType>
                    </xs:element>
                  </xs:sequence>
               </xs:complexType>
            </xs:element>
         </xs:sequence>
      </xs:complexType>
   </xs:element>
</xs:schema>