Resources/canonical_library/xsd/address_2.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="qualified">
   <xs:element name="address">
      <xs:complexType>
         <xs:sequence>
            <xs:element maxOccurs="unbounded" name="row">
               <xs:complexType>
                  <xs:sequence>
                     <xs:element name="address">
                        <xs:simpleType>
                           <xs:restriction base="xs:string">
                           </xs:restriction>
                        </xs:simpleType>
                     </xs:element>
                     <xs:element name="street">
                        <xs:simpleType>
                           <xs:restriction base="xs:string">
                           </xs:restriction>
                        </xs:simpleType>
                     </xs:element>
                     <xs:element name="houseNumber">
                        <xs:simpleType>
                           <xs:restriction base="xs:string">
                           </xs:restriction>
                        </xs:simpleType>
                     </xs:element>
                     <xs:element name="addressLine1">
                        <xs:simpleType>
                           <xs:restriction base="xs:string">
                           </xs:restriction>
                        </xs:simpleType>
                     </xs:element>
                     <xs:element name="addressLine2">
                        <xs:simpleType>
                           <xs:restriction base="xs:string">
                           </xs:restriction>
                        </xs:simpleType>
                     </xs:element>
                     <xs:element name="addressLine3">
                        <xs:simpleType>
                           <xs:restriction base="xs:string">
                           </xs:restriction>
                        </xs:simpleType>
                     </xs:element>
                     <xs:element name="postalCode">
                        <xs:simpleType>
                           <xs:restriction base="xs:string">
                           </xs:restriction>
                        </xs:simpleType>
                     </xs:element>
                     <xs:element name="city">
                        <xs:simpleType>
                           <xs:restriction base="xs:string">
                           </xs:restriction>
                        </xs:simpleType>
                     </xs:element>
                     <xs:element name="countryKey_code">
                        <xs:simpleType>
                           <xs:restriction base="xs:string">
                            
                           </xs:restriction>
                        </xs:simpleType>
                     </xs:element>
                     <xs:element name="country">
                        <xs:simpleType>
                           <xs:restriction base="xs:string">
                           </xs:restriction>
                        </xs:simpleType>
                     </xs:element>
                     <xs:element name="poBox">
                        <xs:simpleType>
                           <xs:restriction base="xs:string">
                          
                           </xs:restriction>
                        </xs:simpleType>
                     </xs:element>
                     <xs:element name="mobile">
                        <xs:simpleType>
                           <xs:restriction base="xs:string">
                           </xs:restriction>
                        </xs:simpleType>
                     </xs:element>
                     <xs:element name="telephone">
                        <xs:simpleType>
                           <xs:restriction base="xs:string">
                           </xs:restriction>
                        </xs:simpleType>
                     </xs:element>
                     <xs:element name="extension">
                        <xs:simpleType>
                           <xs:restriction base="xs:string">
                           </xs:restriction>
                        </xs:simpleType>
                     </xs:element>
                     <xs:element name="faxNumber">
                        <xs:simpleType>
                           <xs:restriction base="xs:string">
                           </xs:restriction>
                        </xs:simpleType>
                     </xs:element>
                     <xs:element name="email">
                        <xs:simpleType>
                           <xs:restriction base="xs:string">
                           </xs:restriction>
                        </xs:simpleType>
                     </xs:element>
                     <xs:element name="contactPerson">
                        <xs:simpleType>
                           <xs:restriction base="xs:string">
                           </xs:restriction>
                        </xs:simpleType>
                     </xs:element>
                     <xs:element name="region">
                        <xs:simpleType>
                           <xs:restriction base="xs:string">
                           </xs:restriction>
                        </xs:simpleType>
                     </xs:element>
                  </xs:sequence>
               </xs:complexType>
            </xs:element>
         </xs:sequence>
      </xs:complexType>
   </xs:element>
</xs:schema>