Resources/canonical_library/xsd/AssetCreationBulkRequest.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- Created with Liquid Technologies Online Tools 1.0 (https://www.liquid-technologies.com) -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="qualified">
  <xs:element name="AssetCreationBulkRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="MessageHeader">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="ID" minOccurs="0" type="xs:string" />
              <xs:element name="UUID" minOccurs="0" type="xs:string" />
              <xs:element name="ReferenceID" minOccurs="0" type="xs:string" />
              <xs:element name="ReferenceUUID" minOccurs="0" type="xs:string" />
              <xs:element name="CreationDateTime" type="xs:dateTime" />
              <xs:element name="TestDataIndicator" minOccurs="0" type="xs:string" />
              <xs:element name="ReconciliationIndicator" minOccurs="0" type="xs:string" />
              <xs:element name="SenderBusinessSystemID" minOccurs="0" type="xs:string" />
              <xs:element name="RecipientBusinessSystemID" minOccurs="0" type="xs:string" />
              <xs:element name="SenderParty" minOccurs="0">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="InternalID" minOccurs="0" type="xs:string" />
                    <xs:element name="StandardID" minOccurs="0" maxOccurs="unbounded" type="xs:string" />
                    <xs:element name="ContactPerson" minOccurs="0">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="InternalID" minOccurs="0" type="xs:string" />
                          <xs:element name="OrganisationFormattedName" minOccurs="0" maxOccurs="4" type="xs:string" />
                          <xs:element name="PersonFormattedName" minOccurs="0" maxOccurs="4" type="xs:string" />
                          <xs:element name="PhoneNumber" minOccurs="0" maxOccurs="unbounded">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="AreaID" minOccurs="0" type="xs:string" />
                                <xs:element name="SubscriberID" minOccurs="0" type="xs:string" />
                                <xs:element name="ExtensionID" minOccurs="0" type="xs:string" />
                                <xs:element name="CountryCode" minOccurs="0" type="xs:string" />
                                <xs:element name="CountryDiallingCode" minOccurs="0" type="xs:string" />
                                <xs:element name="CountryName" minOccurs="0" type="xs:string" />
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                          <xs:element name="FaxNumber" minOccurs="0" maxOccurs="unbounded">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="AreaID" minOccurs="0" type="xs:string" />
                                <xs:element name="SubscriberID" minOccurs="0" type="xs:string" />
                                <xs:element name="ExtensionID" minOccurs="0" type="xs:string" />
                                <xs:element name="CountryCode" minOccurs="0" type="xs:string" />
                                <xs:element name="CountryDiallingCode" minOccurs="0" type="xs:string" />
                                <xs:element name="CountryName" minOccurs="0" type="xs:string" />
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                          <xs:element name="EmailURI" minOccurs="0" maxOccurs="unbounded" type="xs:string" />
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="RecipientParty" minOccurs="0" maxOccurs="unbounded">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="InternalID" minOccurs="0" type="xs:string" />
                    <xs:element name="StandardID" minOccurs="0" maxOccurs="unbounded" type="xs:string" />
                    <xs:element name="ContactPerson" minOccurs="0">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="InternalID" minOccurs="0" type="xs:string" />
                          <xs:element name="OrganisationFormattedName" minOccurs="0" maxOccurs="4" type="xs:string" />
                          <xs:element name="PersonFormattedName" minOccurs="0" maxOccurs="4" type="xs:string" />
                          <xs:element name="PhoneNumber" minOccurs="0" maxOccurs="unbounded">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="AreaID" minOccurs="0" type="xs:string" />
                                <xs:element name="SubscriberID" minOccurs="0" type="xs:string" />
                                <xs:element name="ExtensionID" minOccurs="0" type="xs:string" />
                                <xs:element name="CountryCode" minOccurs="0" type="xs:string" />
                                <xs:element name="CountryDiallingCode" minOccurs="0" type="xs:string" />
                                <xs:element name="CountryName" minOccurs="0" type="xs:string" />
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                          <xs:element name="FaxNumber" minOccurs="0" maxOccurs="unbounded">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="AreaID" minOccurs="0" type="xs:string" />
                                <xs:element name="SubscriberID" minOccurs="0" type="xs:string" />
                                <xs:element name="ExtensionID" minOccurs="0" type="xs:string" />
                                <xs:element name="CountryCode" minOccurs="0" type="xs:string" />
                                <xs:element name="CountryDiallingCode" minOccurs="0" type="xs:string" />
                                <xs:element name="CountryName" minOccurs="0" type="xs:string" />
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                          <xs:element name="EmailURI" minOccurs="0" maxOccurs="unbounded" type="xs:string" />
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="BusinessScope">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="TypeCode" type="xs:string" />
                    <xs:element name="InstanceID" minOccurs="0" type="xs:string" />
                    <xs:element name="ID" minOccurs="0" type="xs:string" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="FixedAssetMainRequest">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="MessageHeader">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="ID" minOccurs="0" type="xs:string" />
                    <xs:element name="UUID" minOccurs="0" type="xs:string" />
                    <xs:element name="ReferenceID" minOccurs="0" type="xs:string" />
                    <xs:element name="ReferenceUUID" minOccurs="0" type="xs:string" />
                    <xs:element name="CreationDateTime" type="xs:dateTime" />
                    <xs:element name="TestDataIndicator" minOccurs="0" type="xs:string" />
                    <xs:element name="ReconciliationIndicator" minOccurs="0" type="xs:string" />
                    <xs:element name="SenderBusinessSystemID" minOccurs="0" type="xs:string" />
                    <xs:element name="RecipientBusinessSystemID" minOccurs="0" type="xs:string" />
                    <xs:element name="SenderParty" minOccurs="0">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="InternalID" minOccurs="0" type="xs:string" />
                          <xs:element name="StandardID" minOccurs="0" maxOccurs="unbounded" type="xs:string" />
                          <xs:element name="ContactPerson" minOccurs="0">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="InternalID" minOccurs="0" type="xs:string" />
                                <xs:element name="OrganisationFormattedName" minOccurs="0" maxOccurs="4" type="xs:string" />
                                <xs:element name="PersonFormattedName" minOccurs="0" maxOccurs="4" type="xs:string" />
                                <xs:element name="PhoneNumber" minOccurs="0" maxOccurs="unbounded">
                                  <xs:complexType>
                                    <xs:sequence>
                                      <xs:element name="AreaID" minOccurs="0" type="xs:string" />
                                      <xs:element name="SubscriberID" minOccurs="0" type="xs:string" />
                                      <xs:element name="ExtensionID" minOccurs="0" type="xs:string" />
                                      <xs:element name="CountryCode" minOccurs="0" type="xs:string" />
                                      <xs:element name="CountryDiallingCode" minOccurs="0" type="xs:string" />
                                      <xs:element name="CountryName" minOccurs="0" type="xs:string" />
                                    </xs:sequence>
                                  </xs:complexType>
                                </xs:element>
                                <xs:element name="FaxNumber" minOccurs="0" maxOccurs="unbounded">
                                  <xs:complexType>
                                    <xs:sequence>
                                      <xs:element name="AreaID" minOccurs="0" type="xs:string" />
                                      <xs:element name="SubscriberID" minOccurs="0" type="xs:string" />
                                      <xs:element name="ExtensionID" minOccurs="0" type="xs:string" />
                                      <xs:element name="CountryCode" minOccurs="0" type="xs:string" />
                                      <xs:element name="CountryDiallingCode" minOccurs="0" type="xs:string" />
                                      <xs:element name="CountryName" minOccurs="0" type="xs:string" />
                                    </xs:sequence>
                                  </xs:complexType>
                                </xs:element>
                                <xs:element name="EmailURI" minOccurs="0" maxOccurs="unbounded" type="xs:string" />
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="RecipientParty" minOccurs="0" maxOccurs="unbounded">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="InternalID" minOccurs="0" type="xs:string" />
                          <xs:element name="StandardID" minOccurs="0" maxOccurs="unbounded" type="xs:string" />
                          <xs:element name="ContactPerson" minOccurs="0">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="InternalID" minOccurs="0" type="xs:string" />
                                <xs:element name="OrganisationFormattedName" minOccurs="0" maxOccurs="4" type="xs:string" />
                                <xs:element name="PersonFormattedName" minOccurs="0" maxOccurs="4" type="xs:string" />
                                <xs:element name="PhoneNumber" minOccurs="0" maxOccurs="unbounded">
                                  <xs:complexType>
                                    <xs:sequence>
                                      <xs:element name="AreaID" minOccurs="0" type="xs:string" />
                                      <xs:element name="SubscriberID" minOccurs="0" type="xs:string" />
                                      <xs:element name="ExtensionID" minOccurs="0" type="xs:string" />
                                      <xs:element name="CountryCode" minOccurs="0" type="xs:string" />
                                      <xs:element name="CountryDiallingCode" minOccurs="0" type="xs:string" />
                                      <xs:element name="CountryName" minOccurs="0" type="xs:string" />
                                    </xs:sequence>
                                  </xs:complexType>
                                </xs:element>
                                <xs:element name="FaxNumber" minOccurs="0" maxOccurs="unbounded">
                                  <xs:complexType>
                                    <xs:sequence>
                                      <xs:element name="AreaID" minOccurs="0" type="xs:string" />
                                      <xs:element name="SubscriberID" minOccurs="0" type="xs:string" />
                                      <xs:element name="ExtensionID" minOccurs="0" type="xs:string" />
                                      <xs:element name="CountryCode" minOccurs="0" type="xs:string" />
                                      <xs:element name="CountryDiallingCode" minOccurs="0" type="xs:string" />
                                      <xs:element name="CountryName" minOccurs="0" type="xs:string" />
                                    </xs:sequence>
                                  </xs:complexType>
                                </xs:element>
                                <xs:element name="EmailURI" minOccurs="0" maxOccurs="unbounded" type="xs:string" />
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="BusinessScope">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="TypeCode" type="xs:string" />
                          <xs:element name="InstanceID" minOccurs="0" type="xs:string" />
                          <xs:element name="ID" minOccurs="0" type="xs:string" />
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="FixedAsset">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="CompanyCode" type="xs:string" />
                    <xs:element name="AssetClass" type="xs:string" />
                    <xs:element name="AssetIsForPostCapitalization" minOccurs="0" type="xs:string" />
                    <xs:element name="Reference" minOccurs="0">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="MasterFixedAsset" type="xs:string" />
                          <xs:element name="FixedAsset" type="xs:string" />
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="General" minOccurs="0">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="FixedAssetDescription" minOccurs="0" type="xs:string" />
                          <xs:element name="AssetAdditionalDescription" minOccurs="0" type="xs:string" />
                          <xs:element name="AssetSerialNumber" minOccurs="0" type="xs:string" />
                          <xs:element name="FixedAssetOrderDate" minOccurs="0" type="xs:string" />
                          <xs:element name="BaseUnit" minOccurs="0" type="xs:string" />
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="Origin" minOccurs="0">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="Supplier" minOccurs="0" type="xs:string" />
                          <xs:element name="AssetCountryOfOrigin" minOccurs="0" type="xs:string" />
                          <xs:element name="AssetManufacturerName" minOccurs="0" type="xs:string" />
                          <xs:element name="OriginalMasterFixedAsset" minOccurs="0" type="xs:string" />
                          <xs:element name="OriginalFixedAsset" minOccurs="0" type="xs:string" />
                          <xs:element name="OriginalFixedAssetValueDate" minOccurs="0" type="xs:string" />
                          <xs:element name="OriginalAcquisitionFiscalYear" minOccurs="0" type="xs:string" />
                          <xs:element name="OriginalAcquisitionAmount" minOccurs="0" type="xs:string" />
                          <xs:element name="InHouseProdnPercent" minOccurs="0" type="xs:string" />
                          <xs:element name="AssetTypeName" minOccurs="0" type="xs:string" />
                          <xs:element name="PartnerCompany" minOccurs="0" type="xs:string" />
                          <xs:element name="AssetIsAcquiredUsed" minOccurs="0" type="xs:string" />
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="Inventory" minOccurs="0">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="InventoryNumber" minOccurs="0" type="xs:string" />
                          <xs:element name="LastInventoryDate" minOccurs="0" type="xs:string" />
                          <xs:element name="InventoryNote" minOccurs="0" type="xs:string" />
                          <xs:element name="InventoryIsCounted" minOccurs="0" type="xs:string" />
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="Allocation" minOccurs="0">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="InvestmentReason" minOccurs="0" type="xs:string" />
                          <xs:element name="EnvrnmtlInvestmentReason" minOccurs="0" type="xs:string" />
                          <xs:element name="FixedAssetGroup" minOccurs="0" type="xs:string" />
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="RealEstate" minOccurs="0">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="LocalTaxOffice" minOccurs="0" type="xs:string" />
                          <xs:element name="NoticeOfAssessmentTaxID" minOccurs="0" type="xs:string" />
                          <xs:element name="LastAssessmentNoticeDate" minOccurs="0" type="xs:string" />
                          <xs:element name="Municipality" minOccurs="0" type="xs:string" />
                          <xs:element name="LandRegisterDate" minOccurs="0" type="xs:string" />
                          <xs:element name="LandRegisterEntrySequence" minOccurs="0" type="xs:string" />
                          <xs:element name="LandRegisterEntryDate" minOccurs="0" type="xs:string" />
                          <xs:element name="LandRegisterVolume" minOccurs="0" type="xs:string" />
                          <xs:element name="LandRegisterPage" minOccurs="0" type="xs:string" />
                          <xs:element name="LandRegisterMap" minOccurs="0" type="xs:string" />
                          <xs:element name="LandPlot" minOccurs="0" type="xs:string" />
                          <xs:element name="ConveyanceDate" minOccurs="0" type="xs:string" />
                          <xs:element name="AreaSize" minOccurs="0" type="xs:string" />
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="Leasing" minOccurs="0">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="LeaseSupplier" minOccurs="0" type="xs:string" />
                          <xs:element name="LeaseAgreement" minOccurs="0" type="xs:string" />
                          <xs:element name="LeaseAgreementDate" minOccurs="0" type="xs:string" />
                          <xs:element name="LeaseTermEndDate" minOccurs="0" type="xs:string" />
                          <xs:element name="LeaseTermStartDate" minOccurs="0" type="xs:string" />
                          <xs:element name="LeaseDurationInFiscalYears" minOccurs="0" type="xs:string" />
                          <xs:element name="LeaseDurationInFiscalPeriods" minOccurs="0" type="xs:string" />
                          <xs:element name="LeaseType" minOccurs="0" type="xs:string" />
                          <xs:element name="LeasedAssetNote" minOccurs="0" type="xs:string" />
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="Property" minOccurs="0">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="PropertyClass" minOccurs="0" type="xs:string" />
                          <xs:element name="FixedAssetPropertyType" minOccurs="0" type="xs:string" />
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="AccountAssignment">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="CostCenter" minOccurs="0" type="xs:string" />
                          <xs:element name="CostCtrActivityType" minOccurs="0" type="xs:string" />
                          <xs:element name="Fund" minOccurs="0" type="xs:string" />
                          <xs:element name="GrantID" minOccurs="0" type="xs:string" />
                          <xs:element name="FunctionalArea" minOccurs="0" type="xs:string" />
                          <xs:element name="FundsCenter" minOccurs="0" type="xs:string" />
                          <xs:element name="WBSElementExternalID" minOccurs="0" type="xs:string" />
                          <xs:element name="TaxJurisdiction" minOccurs="0" type="xs:string" />
                          <xs:element name="RealEstateObjectExternalID" minOccurs="0" type="xs:string" />
                          <xs:element name="Segment" minOccurs="0" type="xs:string" />
                          <xs:element name="ProfitCenter" minOccurs="0" type="xs:string" />
                          <xs:element name="BudgetPeriod" minOccurs="0" type="xs:string" />
                          <xs:element name="ResponsibleCostCenter" minOccurs="0" type="xs:string" />
                          <xs:element name="Room" minOccurs="0" type="xs:string" />
                          <xs:element name="Plant" minOccurs="0" type="xs:string" />
                          <xs:element name="AssetLocation" minOccurs="0" type="xs:string" />
                          <xs:element name="VehicleLicensePlateNumber" minOccurs="0" type="xs:string" />
                          <xs:element name="BusinessPlace" minOccurs="0" type="xs:string" />
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="LedgerInformation" minOccurs="0" maxOccurs="unbounded">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="Ledger" minOccurs="0" type="xs:string" />
                          <xs:element name="AssetCapitalizationDate" minOccurs="0" type="xs:string" />
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="Valuation" minOccurs="0" maxOccurs="unbounded">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="AssetDepreciationArea" minOccurs="0" type="xs:string" />
                          <xs:element name="NegativeAmountIsAllowed" minOccurs="0" type="xs:string" />
                          <xs:element name="DepreciationStartDate" minOccurs="0" type="xs:string" />
                          <xs:element name="SpecialDeprStartDate" minOccurs="0" type="xs:string" />
                          <xs:element name="AssetOpgReadinessDate" minOccurs="0" type="xs:string" />
                          <xs:element name="DeprKeyChangeoverYear" minOccurs="0" type="xs:string" />
                          <xs:element name="DeprKeyChangeoverPeriod" minOccurs="0" type="xs:string" />
                          <xs:element name="ReplacementValueIndexSers" minOccurs="0" type="xs:string" />
                          <xs:element name="RplcmtValueAgingIndexSers" minOccurs="0" type="xs:string" />
                          <xs:element name="ExpiredUsefulLifeInYrs" minOccurs="0" type="xs:string" />
                          <xs:element name="ExpiredUsefulLifeInPerds" minOccurs="0" type="xs:string" />
                          <xs:element name="SpclExpiredUsefulLifeInYrs" minOccurs="0" type="xs:string" />
                          <xs:element name="SpclExpiredUsefulLifeInPerds" minOccurs="0" type="xs:string" />
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="TimeBasedValuation" minOccurs="0" maxOccurs="unbounded">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="AssetDepreciationArea" minOccurs="0" type="xs:string" />
                          <xs:element name="ValidityStartDate" minOccurs="0" type="xs:string" />
                          <xs:element name="DepreciationKey" minOccurs="0" type="xs:string" />
                          <xs:element name="PlannedUsefulLifeInYears" minOccurs="0" type="xs:string" />
                          <xs:element name="PlannedUsefulLifeInPeriods" minOccurs="0" type="xs:string" />
                          <xs:element name="VariableDeprPercent" minOccurs="0" type="xs:string" />
                          <xs:element name="DeprCalcBaseValuePercent" minOccurs="0" type="xs:string" />
                          <xs:element name="ShiftOperationFactor" minOccurs="0" type="xs:string" />
                          <xs:element name="IsShutDown" minOccurs="0" type="xs:string" />
                          <xs:element name="ScrapAmountInCoCodeCrcy" minOccurs="0" type="xs:string" />
                          <xs:element name="ScrapAmountInGlobCrcy" minOccurs="0" type="xs:string" />
                          <xs:element name="ScrapAmountInFreeDefinedCrcy1" minOccurs="0" type="xs:string" />
                          <xs:element name="ScrapAmountInFreeDefinedCrcy2" minOccurs="0" type="xs:string" />
                          <xs:element name="ScrapAmountInFreeDefinedCrcy3" minOccurs="0" type="xs:string" />
                          <xs:element name="ScrapAmountInFreeDefinedCrcy4" minOccurs="0" type="xs:string" />
                          <xs:element name="ScrapAmountInFreeDefinedCrcy5" minOccurs="0" type="xs:string" />
                          <xs:element name="ScrapAmountInFreeDefinedCrcy6" minOccurs="0" type="xs:string" />
                          <xs:element name="ScrapAmountInFreeDefinedCrcy7" minOccurs="0" type="xs:string" />
                          <xs:element name="ScrapAmountInFreeDefinedCrcy8" minOccurs="0" type="xs:string" />
                          <xs:element name="AcqnProdnCostScrapPercent" minOccurs="0" type="xs:string" />
                          <xs:element name="FixedAssetUsageObject" minOccurs="0" type="xs:string" />
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="GLO_TimeBasedValuation" minOccurs="0" maxOccurs="unbounded">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="AssetDepreciationArea" minOccurs="0" type="xs:string" />
                          <xs:element name="ValidityStartDate" minOccurs="0" type="xs:string" />
                          <xs:element name="JP_ImpairmentPosting" minOccurs="0">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="JP_ImpairmentPostingDate" type="xs:string" />
                                <xs:element name="JP_ImpAcqnProdCostAmtInCCCrcy" minOccurs="0" type="xs:string" />
                                <xs:element name="JP_ImpAcqnProdCostAmtInGCrcy" minOccurs="0" type="xs:string" />
                                <xs:element name="JP_AftImprmtBookAmtInCCCrcy" minOccurs="0" type="xs:string" />
                                <xs:element name="JP_AftImprmtBookAmtInGlobCrcy" minOccurs="0" type="xs:string" />
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                          <xs:element name="SK_TaxDepreciation" minOccurs="0">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="SK_CapitalImprovementYear" minOccurs="0" type="xs:string" />
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>