Resources/canonical_library/xsd/AssessmentReport.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<xsd:element name="AssessmentReport">
	<xsd:complexType>
		<xsd:sequence>
			<xsd:element name="orderId" type="xsd:string" minOccurs="0"/>
			<xsd:element name="status" type="xsd:string" minOccurs="0"/>
			<xsd:element name="statusDetails" type="xsd:string" minOccurs="0"/>
			<xsd:element name="statusDate" type="xsd:string" minOccurs="0"/>
			<xsd:element name="reportUrl" type="xsd:string" minOccurs="0"/>
			<xsd:element name="errorCode" type="xsd:string" minOccurs="0"/>
			<xsd:element name="field1Key" type="xsd:string" minOccurs="0"/>
			<xsd:element name="field1Value" type="xsd:string" minOccurs="0"/>
			<xsd:element name="field2Key" type="xsd:string" minOccurs="0"/>
			<xsd:element name="field2Value" type="xsd:string" minOccurs="0"/>
			<xsd:element name="field3Key" type="xsd:string" minOccurs="0"/>
			<xsd:element name="field3Value" type="xsd:string" minOccurs="0"/>
			<xsd:element name="field4Key" type="xsd:string" minOccurs="0"/>
			<xsd:element name="field4Value" type="xsd:string" minOccurs="0"/>
			<xsd:element name="field5Key" type="xsd:string" minOccurs="0"/>
			<xsd:element name="field5Value" type="xsd:string" minOccurs="0"/>
			<xsd:element name="field6Key" type="xsd:string" minOccurs="0"/>
			<xsd:element name="field6Value" type="xsd:string" minOccurs="0"/>
			<xsd:element name="field7Key" type="xsd:string" minOccurs="0"/>
			<xsd:element name="field7Value" type="xsd:string" minOccurs="0"/>
			<xsd:element name="field8Key" type="xsd:string" minOccurs="0"/>
			<xsd:element name="field8Value" type="xsd:string" minOccurs="0"/>
			<xsd:element name="field9Key" type="xsd:string" minOccurs="0"/>
			<xsd:element name="field9Value" type="xsd:string" minOccurs="0"/>
			<xsd:element name="field10Key" type="xsd:string" minOccurs="0"/>
			<xsd:element name="field10Value" type="xsd:string" minOccurs="0"/>
			<xsd:element name="field11Key" type="xsd:string" minOccurs="0"/>
			<xsd:element name="field11Value" type="xsd:string" minOccurs="0"/>
			<xsd:element name="field12Key" type="xsd:string" minOccurs="0"/>
			<xsd:element name="field12Value" type="xsd:string" minOccurs="0"/>
			<xsd:element name="field13Key" type="xsd:string" minOccurs="0"/>
			<xsd:element name="field13Value" type="xsd:string" minOccurs="0"/>
			<xsd:element name="field14Key" type="xsd:string" minOccurs="0"/>
			<xsd:element name="field14Value" type="xsd:string" minOccurs="0"/>
			<xsd:element name="field15Key" type="xsd:string" minOccurs="0"/>
			<xsd:element name="field15Value" type="xsd:string" minOccurs="0"/>
			<xsd:element name="field16Key" type="xsd:string" minOccurs="0"/>
			<xsd:element name="field16Value" type="xsd:string" minOccurs="0"/>
			<xsd:element name="field17Key" type="xsd:string" minOccurs="0"/>
			<xsd:element name="field17Value" type="xsd:string" minOccurs="0"/>
			<xsd:element name="field18Key" type="xsd:string" minOccurs="0"/>
			<xsd:element name="field18Value" type="xsd:string" minOccurs="0"/>
			<xsd:element name="field19Key" type="xsd:string" minOccurs="0"/>
			<xsd:element name="field19Value" type="xsd:string" minOccurs="0"/>
			<xsd:element name="field20Key" type="xsd:string" minOccurs="0"/>
			<xsd:element name="field20Value" type="xsd:string" minOccurs="0"/>

		</xsd:sequence>
	</xsd:complexType>
	</xsd:element>
</xsd:schema>