Resources/canonical_library/xsd/AssessmentResult.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:element name="AssessmentResult">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="ClientId" type="xs:string"></xs:element>
				<xs:element name="ClientOrderId" type="xs:int"></xs:element>
				<xs:element name="AssessmentStatus">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="Status" type="xs:string"></xs:element>
							<xs:element name="Details" type="xs:string"></xs:element>
							<xs:element name="StatusDate" type="xs:dateTime"></xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="Results">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="OverallResult">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="Comments" type="xs:string"></xs:element>
										<xs:element name="Score" maxOccurs="unbounded">
											<xs:complexType>
												<xs:attribute name="type" type="xs:string"></xs:attribute>
											</xs:complexType>
										</xs:element>
										<xs:element name="Band" type="xs:string"></xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="FullReportURL" type="xs:string"></xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>