Resources/canonical_library/xsd/Background_VarPayEmpHistData.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="Background_VarPayEmpHistData">
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="1" maxOccurs="unbounded" name="Background_VarPayEmpHistData">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element type="xs:dateTime" nillable="false" maxOccurs="unbounded" name="endDate" xmlns=""/>
                            <xs:element type="xs:string" nillable="false" maxOccurs="unbounded" name="varPayProgramName" xmlns=""/>
                            <xs:element type="xs:string" nillable="false" maxOccurs="unbounded" name="backgroundElementId" xmlns=""/>
                            <xs:element type="xs:double" nillable="true" minOccurs="0" maxOccurs="unbounded" name="basis" xmlns=""/>
                            <xs:element type="xs:string" nillable="false" maxOccurs="unbounded" name="userId" xmlns=""/>
                            <xs:element type="xs:dateTime" nillable="false" maxOccurs="unbounded" name="startDate" xmlns=""/>
                            <xs:element type="xs:long" nillable="false" maxOccurs="unbounded" name="statusText" xmlns=""/>
                            <xs:element type="xs:long" nillable="false" maxOccurs="unbounded" name="statusCode" xmlns=""/>                           
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>