Resources/canonical_library/xsd/BAPI_ACC_DOCUMENT_POST.Response.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="BAPI_ACC_DOCUMENT_POST.Response">
    <xs:complexType>
      <xs:sequence>
  <xs:element name="OBJ_KEY" minOccurs="0" maxOccurs="1"  type="xs:unsignedLong" />
  <xs:element name="OBJ_SYS" minOccurs="0" maxOccurs="1"  type="xs:string" />
  <xs:element name="OBJ_TYPE" minOccurs="0" maxOccurs="1"  type="xs:string" />
  <xs:element name="ACCOUNTGL" minOccurs="0" maxOccurs="1" >
    <xs:complexType>
      <xs:sequence>
        <xs:element name="item" minOccurs="0" maxOccurs="1" >
          <xs:complexType>
            <xs:sequence>
              <xs:element name="ITEMNO_ACC"  minOccurs="0" maxOccurs="1" type="xs:unsignedByte" />
              <xs:element name="GL_ACCOUNT"  minOccurs="0" maxOccurs="1" type="xs:unsignedInt" />
              <xs:element name="ITEM_TEXT" minOccurs="0" maxOccurs="1"  />
              <xs:element name="STAT_CON" minOccurs="0" maxOccurs="1"  />
              <xs:element name="LOG_PROC" minOccurs="0" maxOccurs="1"  />
              <xs:element name="AC_DOC_NO" minOccurs="0" maxOccurs="1"  />
              <xs:element name="REF_KEY_1" minOccurs="0" maxOccurs="1"  />
              <xs:element name="REF_KEY_2" minOccurs="0" maxOccurs="1"  />
              <xs:element name="REF_KEY_3" minOccurs="0" maxOccurs="1"/>
              <xs:element name="ACCT_KEY" minOccurs="0" maxOccurs="1"  />
              <xs:element name="ACCT_TYPE" minOccurs="0" maxOccurs="1"  />
              <xs:element name="DOC_TYPE" minOccurs="0" maxOccurs="1"  />
              <xs:element name="COMP_CODE" minOccurs="0" maxOccurs="1"  />
              <xs:element name="BUS_AREA" minOccurs="0" maxOccurs="1"  />
              <xs:element name="FUNC_AREA" minOccurs="0" maxOccurs="1"  />
              <xs:element name="PLANT" minOccurs="0" maxOccurs="1"  />
              <xs:element name="FIS_PERIOD" minOccurs="0" maxOccurs="1"  type="xs:unsignedByte" />
              <xs:element name="FISC_YEAR" minOccurs="0" maxOccurs="1"  type="xs:unsignedByte" />
              <xs:element name="PSTNG_DATE" minOccurs="0" maxOccurs="1"  type="xs:string" />
              <xs:element name="VALUE_DATE" minOccurs="0" maxOccurs="1"  type="xs:string" />
              <xs:element name="FM_AREA" minOccurs="0" maxOccurs="1"  />
              <xs:element name="CUSTOMER" minOccurs="0" maxOccurs="1"  />
              <xs:element name="CSHDIS_IND" minOccurs="0" maxOccurs="1"  />
              <xs:element name="VENDOR_NO" minOccurs="0" maxOccurs="1"  />
              <xs:element name="ALLOC_NMBR" minOccurs="0" maxOccurs="1"  />
              <xs:element name="TAX_CODE" minOccurs="0" maxOccurs="1"  />
              <xs:element name="TAXJURCODE" minOccurs="0" maxOccurs="1"  />
              <xs:element name="EXT_OBJECT_ID" minOccurs="0" maxOccurs="1"  />
              <xs:element name="BUS_SCENARIO" minOccurs="0" maxOccurs="1"  />
              <xs:element name="COSTOBJECT" minOccurs="0" maxOccurs="1"  />
              <xs:element name="COSTCENTER" minOccurs="0" maxOccurs="1"  type="xs:unsignedInt" />
              <xs:element name="ACTTYPE" minOccurs="0" maxOccurs="1"  />
              <xs:element name="PROFIT_CTR" minOccurs="0" maxOccurs="1"  />
              <xs:element name="PART_PRCTR" minOccurs="0" maxOccurs="1"  />
              <xs:element name="NETWORK" minOccurs="0" maxOccurs="1"  />
              <xs:element name="WBS_ELEMENT" minOccurs="0" maxOccurs="1" />
              <xs:element name="ORDERID" minOccurs="0" maxOccurs="1"  />
              <xs:element name="ORDER_ITNO"  minOccurs="0" maxOccurs="1" type="xs:unsignedByte" />
              <xs:element name="ROUTING_NO"  minOccurs="0" maxOccurs="1" type="xs:unsignedByte" />
              <xs:element name="ACTIVITY"  minOccurs="0" maxOccurs="1" />
              <xs:element name="COND_TYPE"  minOccurs="0" maxOccurs="1" />
              <xs:element name="COND_COUNT" minOccurs="0" maxOccurs="1"  type="xs:unsignedByte" />
              <xs:element name="COND_ST_NO" minOccurs="0" maxOccurs="1"  type="xs:unsignedByte" />
              <xs:element name="FUND" minOccurs="0" maxOccurs="1"  />
              <xs:element name="FUNDS_CTR" minOccurs="0" maxOccurs="1"  />
              <xs:element name="CMMT_ITEM" minOccurs="0" maxOccurs="1"  />
              <xs:element name="CO_BUSPROC" minOccurs="0" maxOccurs="1"  />
              <xs:element name="ASSET_NO"  minOccurs="0" maxOccurs="1" />
              <xs:element name="SUB_NUMBER"  minOccurs="0" maxOccurs="1" />
              <xs:element name="BILL_TYPE"  minOccurs="0" maxOccurs="1" />
              <xs:element name="SALES_ORD"  minOccurs="0" maxOccurs="1" />
              <xs:element name="S_ORD_ITEM" minOccurs="0" maxOccurs="1"  type="xs:unsignedByte" />
              <xs:element name="DISTR_CHAN" minOccurs="0" maxOccurs="1"  />
              <xs:element name="DIVISION" minOccurs="0" maxOccurs="1"  />
              <xs:element name="SALESORG" minOccurs="0" maxOccurs="1"  />
              <xs:element name="SALES_GRP"  minOccurs="0" maxOccurs="1" />
              <xs:element name="SALES_OFF"  minOccurs="0" maxOccurs="1" />
              <xs:element name="SOLD_TO"  minOccurs="0" maxOccurs="1" />
              <xs:element name="DE_CRE_IND" minOccurs="0" maxOccurs="1"  />
              <xs:element name="P_EL_PRCTR" minOccurs="0" maxOccurs="1"  />
              <xs:element name="XMFRW" />
              <xs:element name="QUANTITY" type="xs:decimal" />
              <xs:element name="BASE_UOM" />
              <xs:element name="BASE_UOM_ISO" />
              <xs:element name="INV_QTY" type="xs:decimal" />
              <xs:element name="INV_QTY_SU" type="xs:decimal" />
              <xs:element name="SALES_UNIT" />
              <xs:element name="SALES_UNIT_ISO" />
              <xs:element name="PO_PR_QNT" type="xs:decimal" />
              <xs:element name="PO_PR_UOM" />
              <xs:element name="PO_PR_UOM_ISO" />
              <xs:element name="ENTRY_QNT" type="xs:decimal" />
              <xs:element name="ENTRY_UOM" />
              <xs:element name="ENTRY_UOM_ISO" />
              <xs:element name="VOLUME" type="xs:decimal" />
              <xs:element name="VOLUMEUNIT" />
              <xs:element name="VOLUMEUNIT_ISO" />
              <xs:element name="GROSS_WT" type="xs:decimal" />
              <xs:element name="NET_WEIGHT" type="xs:decimal" />
              <xs:element name="UNIT_OF_WT" />
              <xs:element name="UNIT_OF_WT_ISO" />
              <xs:element name="ITEM_CAT" />
              <xs:element name="MATERIAL" />
              <xs:element name="MATL_TYPE" />
              <xs:element name="MVT_IND" />
              <xs:element name="REVAL_IND" />
              <xs:element name="ORIG_GROUP" />
              <xs:element name="ORIG_MAT" />
              <xs:element name="SERIAL_NO" type="xs:unsignedByte" />
              <xs:element name="PART_ACCT" />
              <xs:element name="TR_PART_BA" />
              <xs:element name="TRADE_ID" />
              <xs:element name="VAL_AREA" />
              <xs:element name="VAL_TYPE" />
              <xs:element name="ASVAL_DATE" type="xs:string" />
              <xs:element name="PO_NUMBER" />
              <xs:element name="PO_ITEM" type="xs:unsignedByte" />
              <xs:element name="ITM_NUMBER" type="xs:unsignedByte" />
              <xs:element name="COND_CATEGORY" />
              <xs:element name="FUNC_AREA_LONG" />
              <xs:element name="CMMT_ITEM_LONG" />
              <xs:element name="GRANT_NBR" />
              <xs:element name="CS_TRANS_T" />
              <xs:element name="MEASURE" />
              <xs:element name="SEGMENT" />
              <xs:element name="PARTNER_SEGMENT" />
              <xs:element name="RES_DOC" />
              <xs:element name="RES_ITEM" type="xs:unsignedByte" />
              <xs:element name="BILLING_PERIOD_START_DATE" type="xs:string" />
              <xs:element name="BILLING_PERIOD_END_DATE" type="xs:string" />
              <xs:element name="PPA_EX_IND" />
              <xs:element name="FASTPAY" />
              <xs:element name="PARTNER_GRANT_NBR" />
              <xs:element name="BUDGET_PERIOD" />
              <xs:element name="PARTNER_BUDGET_PERIOD" />
              <xs:element name="PARTNER_FUND" />
              <xs:element name="ITEMNO_TAX" type="xs:unsignedByte" />
              <xs:element name="PAYMENT_TYPE" />
              <xs:element name="EXPENSE_TYPE" />
              <xs:element name="PROGRAM_PROFILE" />
              <xs:element name="MATERIAL_LONG" />
              <xs:element name="HOUSEBANKID" />
              <xs:element name="HOUSEBANKACCTID" />
              <xs:element name="PERSON_NO" type="xs:unsignedByte" />
              <xs:element name="ACROBJ_TYPE" />
              <xs:element name="ACROBJ_ID" />
              <xs:element name="ACRSUBOBJ_ID" />
              <xs:element name="ACRITEM_TYPE" />
              <xs:element name="VALOBJTYPE" />
              <xs:element name="VALOBJ_ID" />
              <xs:element name="VALSUBOBJ_ID" />
              <xs:element name="TAX_CALC_DATE" type="xs:string" />
              <xs:element name="TAX_CALC_DT_FROM" type="xs:string" />
              <xs:element name="SERVICE_DOC_TYPE" />
              <xs:element name="SERVICE_DOC_ID" />
              <xs:element name="SERVICE_DOC_ITEM_ID" type="xs:unsignedByte" />
              <xs:element name="BDGT_ACCOUNT" />
              <xs:element name="TAX_COUNTRY" />
              <xs:element name="GLO_REF1" />
              <xs:element name="ACRLOGSYS" />
              <xs:element name="ACRVALDAT" type="xs:string" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ACCOUNTPAYABLE" minOccurs="0" maxOccurs="1" >
    <xs:complexType>
      <xs:sequence>
        <xs:element name="item" minOccurs="0" maxOccurs="1" >
          <xs:complexType>
            <xs:sequence>
              <xs:element name="ITEMNO_ACC" type="xs:unsignedByte" />
              <xs:element name="VENDOR_NO" type="xs:unsignedShort" />
              <xs:element name="GL_ACCOUNT" />
              <xs:element name="REF_KEY_1" />
              <xs:element name="REF_KEY_2" />
              <xs:element name="REF_KEY_3" />
              <xs:element name="COMP_CODE" />
              <xs:element name="BUS_AREA" />
              <xs:element name="PMNTTRMS" />
              <xs:element name="BLINE_DATE" type="xs:string" />
              <xs:element name="DSCT_DAYS1" type="xs:unsignedByte" />
              <xs:element name="DSCT_DAYS2" type="xs:unsignedByte" />
              <xs:element name="NETTERMS" type="xs:unsignedByte" />
              <xs:element name="DSCT_PCT1" type="xs:decimal" />
              <xs:element name="DSCT_PCT2" type="xs:decimal" />
              <xs:element name="PYMT_METH" />
              <xs:element name="PMTMTHSUPL" />
              <xs:element name="PMNT_BLOCK" />
              <xs:element name="SCBANK_IND" />
              <xs:element name="SUPCOUNTRY" />
              <xs:element name="SUPCOUNTRY_ISO" />
              <xs:element name="BLLSRV_IND" />
              <xs:element name="ALLOC_NMBR" />
              <xs:element name="ITEM_TEXT" />
              <xs:element name="PO_SUB_NO" />
              <xs:element name="PO_CHECKDG" />
              <xs:element name="PO_REF_NO" />
              <xs:element name="W_TAX_CODE" />
              <xs:element name="BUSINESSPLACE" />
              <xs:element name="SECTIONCODE" />
              <xs:element name="INSTR1" type="xs:unsignedByte" />
              <xs:element name="INSTR2" type="xs:unsignedByte" />
              <xs:element name="INSTR3" type="xs:unsignedByte" />
              <xs:element name="INSTR4" type="xs:unsignedByte" />
              <xs:element name="BRANCH" />
              <xs:element name="PYMT_CUR" />
              <xs:element name="PYMT_AMT" type="xs:decimal" />
              <xs:element name="PYMT_CUR_ISO" />
              <xs:element name="SP_GL_IND" />
              <xs:element name="TAX_CODE" />
              <xs:element name="TAX_DATE" type="xs:string" />
              <xs:element name="TAXJURCODE" />
              <xs:element name="ALT_PAYEE" />
              <xs:element name="ALT_PAYEE_BANK" />
              <xs:element name="PARTNER_BK" />
              <xs:element name="BANK_ID" />
              <xs:element name="PARTNER_GUID" />
              <xs:element name="PROFIT_CTR" />
              <xs:element name="FUND" />
              <xs:element name="GRANT_NBR" />
              <xs:element name="MEASURE" />
              <xs:element name="HOUSEBANKACCTID" />
              <xs:element name="BUDGET_PERIOD" />
              <xs:element name="PPA_EX_IND" />
              <xs:element name="PART_BUSINESSPLACE" />
              <xs:element name="PAYMT_REF" />
              <xs:element name="PYMT_AMT_LONG" type="xs:decimal" />
              <xs:element name="BDGT_ACCOUNT" />
              <xs:element name="GLO_REF1" />
              <xs:element name="TAX_COUNTRY" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ACCOUNTRECEIVABLE"  minOccurs="0" maxOccurs="1" />
  <xs:element name="ACCOUNTTAX"  minOccurs="0" maxOccurs="1" />
  <xs:element name="ACCOUNTWT" minOccurs="0" maxOccurs="1"  />
  <xs:element name="CONTRACTITEM"  minOccurs="0" maxOccurs="1" />
  <xs:element name="CRITERIA"  minOccurs="0" maxOccurs="1" />
  <xs:element name="CURRENCYAMOUNT" minOccurs="0" maxOccurs="1" >
    <xs:complexType>
      <xs:sequence>
        <xs:element  minOccurs="0" maxOccurs="unbounded" name="item">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="ITEMNO_ACC" type="xs:unsignedByte" />
              <xs:element name="CURR_TYPE" />
              <xs:element name="CURRENCY" />
              <xs:element name="CURRENCY_ISO" type="xs:string" />
              <xs:element name="AMT_DOCCUR" type="xs:decimal" />
              <xs:element name="EXCH_RATE" type="xs:decimal" />
              <xs:element name="EXCH_RATE_V" type="xs:decimal" />
              <xs:element name="AMT_BASE" type="xs:decimal" />
              <xs:element name="DISC_BASE" type="xs:decimal" />
              <xs:element name="DISC_AMT" type="xs:decimal" />
              <xs:element name="TAX_AMT" type="xs:decimal" />
              <xs:element name="AMT_DOCCUR_LONG" type="xs:decimal" />
              <xs:element name="AMT_BASE_LONG" type="xs:decimal" />
              <xs:element name="DISC_BASE_LONG" type="xs:decimal" />
              <xs:element name="DISC_AMT_LONG" type="xs:decimal" />
              <xs:element name="TAX_AMT_LONG" type="xs:decimal" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EXTENSION1" minOccurs="0" maxOccurs="1"  />
  <xs:element name="EXTENSION2" minOccurs="0" maxOccurs="1"  />
  <xs:element name="PAYMENTCARD" minOccurs="0" maxOccurs="1"  />
  <xs:element name="REALESTATE" minOccurs="0" maxOccurs="1"  />
  <xs:element name="RETURN">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="unbounded" name="item">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="TYPE" type="xs:string" />
              <xs:element name="ID" type="xs:string" />
              <xs:element name="NUMBER" type="xs:unsignedShort" />
              <xs:element name="MESSAGE" type="xs:string" />
              <xs:element name="LOG_NO" />
              <xs:element name="LOG_MSG_NO" type="xs:unsignedByte" />
              <xs:element name="MESSAGE_V1" type="xs:string" />
              <xs:element name="MESSAGE_V2" type="xs:string" />
              <xs:element name="MESSAGE_V3" type="xs:string" />
              <xs:element name="MESSAGE_V4" />
              <xs:element name="PARAMETER" />
              <xs:element name="ROW" type="xs:unsignedByte" />
              <xs:element name="FIELD" />
              <xs:element name="SYSTEM" type="xs:string" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="VALUEFIELD" />
 </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
