Resources/canonical_library/xsd/BAPI_ASSET_ACQUISITION_POST.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="unqualified" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:sap-com:document:sap:rfc:functions">
	<xs:element name="BAPI_ASSET_ACQUISITION_POST">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="GENERALPOSTINGDATA">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="USERNAME" type="xs:string" minOccurs="0" maxOccurs="1"/>
							<xs:element name="DOC_TYPE" type="xs:string" />
							<xs:element name="DOC_DATE" type="xs:date" minOccurs="0" maxOccurs="1"/>
							<xs:element name="PSTNG_DATE" type="xs:date" minOccurs="0" maxOccurs="1"/>
							<xs:element name="FIS_PERIOD" type="xs:string" />
							<xs:element name="TRANS_DATE" type="xs:date" />
							<xs:element name="COMP_CODE" type="xs:string" minOccurs="0" maxOccurs="1"/>
							<xs:element name="ASSETMAINO" type="xs:string" minOccurs="0" maxOccurs="1"/>
							<xs:element name="ASSETSUBNO" type="xs:string" minOccurs="0" maxOccurs="1" />
							<xs:element name="ASSETTRTYP" type="xs:string"  minOccurs="0" maxOccurs="1"/>
							<xs:element name="DEPR_AREA" type="xs:string" minOccurs="0" maxOccurs="1" />
							<xs:element name="LEDGER_GROUP" type="xs:string" minOccurs="0" maxOccurs="1"/>
							<xs:element name="ACC_PRINCIPLE" type="xs:string" minOccurs="0" maxOccurs="1"/>


						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="ACQUISITIONDATA">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="AMOUNT" type="xs:string" minOccurs="0" maxOccurs="1" />
							<xs:element name="CURRENCY" type="xs:string" />
							<xs:element name="CURRENCY_ISO" type="xs:string" minOccurs="0" maxOccurs="1" />
							<xs:element name="QUANTITY" type="xs:string" minOccurs="0" maxOccurs="1" />
							<xs:element name="BASE_UOM" type="xs:string" minOccurs="0" maxOccurs="1" />
							<xs:element name="BASE_UOM_ISO" type="xs:string" minOccurs="0" maxOccurs="1" />
							<xs:element name="VALUEDATE" type="xs:string" minOccurs="0" maxOccurs="1" />
							<xs:element name="TRADE_ID" type="xs:string" minOccurs="0" maxOccurs="1" />
							<xs:element name="TR_PART_BA" type="xs:string" minOccurs="0" maxOccurs="1" />
							<xs:element name="OFFSET_ACCOUNT" type="xs:string" minOccurs="0" maxOccurs="1" />
							<xs:element name="ASSETCLASS" type="xs:string" minOccurs="0" maxOccurs="1" />
							<xs:element name="COSTCENTER" type="xs:string" minOccurs="0" maxOccurs="1" />
							<xs:element name="BUS_AREA" type="xs:string" minOccurs="0" maxOccurs="1" />
							<xs:element name="DESCRIPT" type="xs:string" minOccurs="0" maxOccurs="1"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>

				<xs:element name="FURTHERPOSTINGDATA">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="ALLOC_NMBR" type="xs:string" minOccurs="0" maxOccurs="1" />
							<xs:element name="REF_DOC_NO" type="xs:string" minOccurs="0" maxOccurs="1" />
						</xs:sequence>
					</xs:complexType>
				</xs:element>


			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>