Resources/canonical_library/xsd/BAPI_FIXEDASSET_GETLIST.Response.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="unqualified" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:sap-com:document:sap:rfc:functions">
	<xs:element name="BAPI_FIXEDASSET_GETLIST.Response">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="RETURN">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="TYPE" />
							<xs:element name="ID" />
							<xs:element name="NUMBER" type="xs:unsignedByte" />
							<xs:element name="MESSAGE" />
							<xs:element name="LOG_NO" />
							<xs:element name="LOG_MSG_NO" type="xs:unsignedByte" />
							<xs:element name="MESSAGE_V1" />
							<xs:element name="MESSAGE_V2" />
							<xs:element name="MESSAGE_V3" />
							<xs:element name="MESSAGE_V4" />
							<xs:element name="PARAMETER" />
							<xs:element name="ROW" type="xs:unsignedByte" />
							<xs:element name="FIELD" />
							<xs:element name="SYSTEM" />
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="ALLOCATIONS" />
				<xs:element name="DEPRECIATIONAREAS">
					<xs:complexType>
						<xs:sequence>
							<xs:element maxOccurs="unbounded" name="item">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="ASSET" type="xs:unsignedLong" />
										<xs:element name="SUBNUMBER" type="xs:unsignedByte" />
										<xs:element name="AREA" type="xs:unsignedByte" />
										<xs:element name="DESCRIPT" />
										<xs:element name="DEACTIVATE" />
										<xs:element name="DEP_KEY" type="xs:string" />
										<xs:element name="ULIFE_YRS" type="xs:unsignedByte" />
										<xs:element name="ULIFE_PRDS" type="xs:unsignedByte" />
										<xs:element name="EXP_ULIFE_YRS" type="xs:unsignedByte" />
										<xs:element name="EXP_ULIFE_PRDS" type="xs:unsignedByte" />
										<xs:element name="EXP_ULIFE_SDEP_YRS" type="xs:unsignedByte" />
										<xs:element name="EXP_ULIFE_SDEP_PRDS" type="xs:unsignedByte" />
										<xs:element name="ORIG_ULIFE_YRS" type="xs:unsignedByte" />
										<xs:element name="ORIG_ULIFE_PRDS" type="xs:unsignedByte" />
										<xs:element name="CHANGE_YR" type="xs:unsignedByte" />
										<xs:element name="DEP_UNITS" type="xs:unsignedByte" />
										<xs:element name="ODEP_START_DATE" type="xs:date" />
										<xs:element name="SDEP_START_DATE" type="xs:string" />
										<xs:element name="INTEREST_START_DATE" type="xs:string" />
										<xs:element name="READINESS" type="xs:date" />
										<xs:element name="INDEX" />
										<xs:element name="AGE_INDEX" />
										<xs:element name="VAR_DEP_PORTION" type="xs:decimal" />
										<xs:element name="SCRAPVALUE" type="xs:decimal" />
										<xs:element name="CURRENCY" type="xs:string" />
										<xs:element name="CURRENCY_ISO" type="xs:string" />
										<xs:element name="NEG_VALUES" />
										<xs:element name="GRP_ASSET" />
										<xs:element name="GRP_ASSET_SUBNO" />
										<xs:element name="ACQ_YR" type="xs:unsignedShort" />
										<xs:element name="ACQ_PRD" type="xs:unsignedByte" />
										<xs:element name="SCRAPVALUE_PRCTG" type="xs:decimal" />
										<xs:element name="FROM_DATE" type="xs:string" />
										<xs:element name="TO_DATE" type="xs:string" />
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="DEPRECIATIONAREAVALS">
					<xs:complexType>
						<xs:sequence>
							<xs:element maxOccurs="unbounded" name="item">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="ASSET" type="xs:unsignedLong" />
										<xs:element name="SUBNUMBER" type="xs:unsignedByte" />
										<xs:element name="AREA" type="xs:unsignedByte" />
										<xs:element name="FISC_YEAR" type="xs:unsignedShort" />
										<xs:element name="CURRENCY" type="xs:string" />
										<xs:element name="CURRENCY_ISO" type="xs:string" />
										<xs:element name="CURRENT_APC" type="xs:decimal" />
										<xs:element name="CURR_INVSUPP" type="xs:decimal" />
										<xs:element name="CURR_REVAL" type="xs:decimal" />
										<xs:element name="ACCUM_DEPR" type="xs:decimal" />
										<xs:element name="ACCUM_REVAL_DEPR" type="xs:decimal" />
										<xs:element name="DEPR_CURR_YEAR" type="xs:decimal" />
										<xs:element name="INTEREST_CURR_YEAR" type="xs:decimal" />
										<xs:element name="CURRENT_NBV" type="xs:decimal" />
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="EXTENSIONOUT" />
				<xs:element name="GENERALDATA">
					<xs:complexType>
						<xs:sequence>
							<xs:element maxOccurs="unbounded" name="item">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="ASSET" type="xs:unsignedLong" />
										<xs:element name="SUBNUMBER" type="xs:unsignedByte" />
										<xs:element name="ASSETCLASS" type="xs:unsignedShort" />
										<xs:element name="DESCRIPT" type="xs:string" />
										<xs:element name="DESCRIPT2" />
										<xs:element name="ACCT_DETRM" type="xs:string" />
										<xs:element name="SERIAL_NO" />
										<xs:element name="INVENT_NO" />
										<xs:element name="QUANTITY" type="xs:decimal" />
										<xs:element name="BASE_UOM" />
										<xs:element name="BASE_UOM_ISO" />
										<xs:element name="HISTORY" type="xs:string" />
										<xs:element name="MAIN_DESCRIPT" type="xs:string" />
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="INSURANCE" />
				<xs:element name="INVENTORY" />
				<xs:element name="INVESTACCTASSIGNMNT" />
				<xs:element name="INVESTMENT_SUPPORT" />
				<xs:element name="LEASING" />
				<xs:element name="NETWORTHVALUATION" />
				<xs:element name="ORIGIN" />
				<xs:element name="POSTINGINFORMATION">
					<xs:complexType>
						<xs:sequence>
							<xs:element maxOccurs="unbounded" name="item">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="ASSET" type="xs:unsignedLong" />
										<xs:element name="SUBNUMBER" type="xs:unsignedByte" />
										<xs:element name="CAP_DATE" type="xs:date" />
										<xs:element name="DEACT_DATE" type="xs:string" />
										<xs:element name="INITIAL_ACQ" type="xs:date" />
										<xs:element name="INITIAL_ACQ_YR" type="xs:unsignedShort" />
										<xs:element name="INITIAL_ACQ_PRD" type="xs:unsignedByte" />
										<xs:element name="PLRET_DATE" type="xs:string" />
										<xs:element name="PO_DATE" type="xs:string" />
										<xs:element name="CAP_KEY" />
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="REALESTATE" />
				<xs:element name="SELECTIONCRITERIA">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="item">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="PARAMETER" type="xs:string" />
										<xs:element name="FIELD" type="xs:string" />
										<xs:element name="SIGN" type="xs:string" />
										<xs:element name="OPTION" type="xs:string" />
										<xs:element name="LOW" type="xs:unsignedLong" />
										<xs:element name="HIGH" />
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="TIMEDEPENDENTDATA">
					<xs:complexType>
						<xs:sequence>
							<xs:element maxOccurs="unbounded" name="item">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="ASSET" type="xs:unsignedLong" />
										<xs:element name="SUBNUMBER" type="xs:unsignedByte" />
										<xs:element name="FROM_DATE" type="xs:date" />
										<xs:element name="TO_DATE" type="xs:date" />
										<xs:element name="BUS_AREA" />
										<xs:element name="COSTCENTER" type="xs:unsignedInt" />
										<xs:element name="RESP_CCTR" />
										<xs:element name="ACTTYPE" />
										<xs:element name="INTERN_ORD" />
										<xs:element name="MAINT_ORD" />
										<xs:element name="PLANT" />
										<xs:element name="LOCATION" />
										<xs:element name="ROOM" />
										<xs:element name="PLATE_NO" />
										<xs:element name="PERSON_NO" type="xs:unsignedByte" />
										<xs:element name="SHIFT_FACT" type="xs:decimal" />
										<xs:element name="SHUTDOWN" />
										<xs:element name="FUND" />
										<xs:element name="FUNC_AREA" />
										<xs:element name="GRANT_NBR" />
										<xs:element name="FUNC_AREA_LONG" />
										<xs:element name="FUNDS_CTR" />
										<xs:element name="FUND_APC" />
										<xs:element name="FUNC_AREA_APC" />
										<xs:element name="GRANT_NBR_APC" />
										<xs:element name="FUNDS_CTR_APC" />
										<xs:element name="WBS_ELEMENT_COST" />
										<xs:element name="TAXJURCODE" />
										<xs:element name="RL_EST_KEY" />
										<xs:element name="RL_EST_KEY_EXT" />
										<xs:element name="BUDGET_PERIOD" />
										<xs:element name="BUDGET_PERIOD_APC" />
										<xs:element name="SEGMENT" />
										<xs:element name="PROFIT_CTR" />
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>