Resources/canonical_library/xsd/BAPI_PO_CREATE1_2.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:complexType name="BAPIPOITEM">
        <xs:sequence>
            <xs:element name="PO_ITEM" type="xs:string"/>
            <xs:element name="PLANT" type="xs:string"/>
            <xs:element name="MATERIAL" type="xs:string"/>
            <xs:element name="QUANTITY" type="xs:string"/>
            <xs:element name="PO_UNIT" type="xs:string"/>
            <xs:element name="NO_ROUNDING" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="BAPIPOSCHEDULE">
        <xs:sequence>
            <xs:element name="PO_ITEM" type="xs:string"/>
            <xs:element name="SCHED_LINE" type="xs:string"/>
            <xs:element name="DELIVERY_DATE" type="xs:dateTime"/>
            <xs:element name="DELIV_TIME" type="xs:dateTime"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="BAPIPOITEMX">
        <xs:sequence>
            <xs:element name="PO_ITEM" type="xs:string"/>
            <xs:element name="PO_ITEMX" type="xs:string"/>
            <xs:element name="PLANT" type="xs:string"/>
            <xs:element name="MATERIAL" type="xs:string"/>
            <xs:element name="QUANTITY" type="xs:string"/>
            <xs:element name="PO_UNIT" type="xs:string"/>
            <xs:element name="NO_ROUNDING" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="BAPIPOSCHEDULEX">
        <xs:sequence>
            <xs:element name="PO_ITEM" type="xs:string"/>
            <xs:element name="SCHED_LINE" type="xs:string"/>
            <xs:element name="PO_ITEMX" type="xs:string"/>
            <xs:element name="SCHED_LINEX" type="xs:string"/>
            <xs:element name="DELIVERY_DATE" type="xs:dateTime"/>
            <xs:element name="DELIV_TIME" type="xs:dateTime"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="BAPI_PO_CREATE1">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="POHEADER"  minOccurs="1" maxOccurs="1">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="DOC_TYPE" type="xs:dateTime"/>
                            <xs:element name="COMP_CODE" type="xs:string"/>
                            <xs:element name="VENDOR" type="xs:string"/>
                            <xs:element name="PURCH_ORG" type="xs:string"/>
                            <xs:element name="PUR_GROUP" type="xs:string"/>
                            <xs:element name="CREAT_DATE" type="xs:dateTime"/>
                            <xs:element name="EXT_SYS" type="xs:string"/>
                            <xs:element name="COLLECT_NO" type="xs:string"/>
                            <xs:element name="EXT_REF" type="xs:string"/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="POHEADERX"  minOccurs="1" maxOccurs="1">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="DOC_TYPE" type="xs:dateTime"/>
                            <xs:element name="COMP_CODE" type="xs:string"/>
                            <xs:element name="VENDOR" type="xs:string"/>
                            <xs:element name="PURCH_ORG" type="xs:string"/>
                            <xs:element name="PUR_GROUP" type="xs:string"/>
                            <xs:element name="CREAT_DATE" type="xs:dateTime"/>
                            <xs:element name="EXT_SYS" type="xs:string"/>
                            <xs:element name="COLLECT_NO" type="xs:string"/>
                            <xs:element name="EXT_REF" type="xs:string"/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="POITEM" minOccurs="1">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="item" type="BAPIPOITEM" minOccurs="1" maxOccurs="unbounded"/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="POITEMX" minOccurs="1">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="item" type="BAPIPOITEMX" minOccurs="1" maxOccurs="unbounded"/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="POSCHEDULE" minOccurs="1">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="item" type="BAPIPOSCHEDULE" minOccurs="1" maxOccurs="unbounded"/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="POSCHEDULEX" minOccurs="1">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="item" type="BAPIPOSCHEDULEX" minOccurs="1" maxOccurs="unbounded"/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>