Resources/canonical_library/xsd/BAPI_ASSET_ACQUISITION_POST.Exception.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
          
       <xs:element name="BAPI_ASSET_ACQUISITION_POST.Exception">
              <xs:complexType>
                     <xs:sequence>
                            <xs:element name="Name" type="xs:string" minOccurs="0" maxOccurs="1"></xs:element>
                            <xs:element name="Text" type="xs:string" minOccurs="0" maxOccurs="1"></xs:element>
                            <xs:element name="Message" minOccurs="0" maxOccurs="1">
                                   <xs:complexType>
                                          <xs:sequence>
                                                 <xs:element name="ID" type="xs:string" minOccurs="0" maxOccurs="1"></xs:element>
                                                 <xs:element name="Number" type="xs:int" minOccurs="0" maxOccurs="1"></xs:element>
                                             </xs:sequence>
                                      </xs:complexType>
                               </xs:element>
                            <xs:element name="Attributes" minOccurs="0" maxOccurs="1">
                                   <xs:complexType>
                                          <xs:sequence>
                                                 <xs:element name="V1" type="xs:int" minOccurs="0" maxOccurs="1"></xs:element>
                                             </xs:sequence>
                                      </xs:complexType>
                               </xs:element>
                        
                     
					 </xs:sequence>
                 </xs:complexType>
          </xs:element>
   </xs:schema>