Resources/canonical_library/xsd/biometrics.xsd

<?xml version="1.0" encoding="UTF-8"?>
   <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
         <!-- XML Schema Generated from XML Document on Fri Aug 05 2016 16:13:55 GMT+0530 (India Standard Time) -->
         <!-- with XmlGrid.net Free Online Service http://xmlgrid.net -->
         <xs:element name="biometrics">
               <xs:complexType>
                     <xs:sequence>
                           <xs:element name="_id" type="xs:string"></xs:element>
                           <xs:element name="blood_calcium"></xs:element>
                           <xs:element name="blood_chromium"></xs:element>
                           <xs:element name="blood_folic_acid"></xs:element>
                           <xs:element name="blood_magnesium"></xs:element>
                           <xs:element name="blood_potassium"></xs:element>
                           <xs:element name="blood_sodium"></xs:element>
                           <xs:element name="blood_vitamin_b12"></xs:element>
                           <xs:element name="blood_zinc"></xs:element>
                           <xs:element name="creatine_kinase"></xs:element>
                           <xs:element name="crp"></xs:element>
                           <xs:element name="diastolic" type="xs:int"></xs:element>
                           <xs:element name="ferritin"></xs:element>
                           <xs:element name="hdl"></xs:element>
                           <xs:element name="hscrp"></xs:element>
                           <xs:element name="il6"></xs:element>
                           <xs:element name="last_updated" type="xs:dateTime"></xs:element>
                           <xs:element name="ldl"></xs:element>
                           <xs:element name="resting_heartrate" type="xs:int"></xs:element>
                           <xs:element name="source" type="xs:string"></xs:element>
                           <xs:element name="source_name" type="xs:string"></xs:element>
                           <xs:element name="spo2"></xs:element>
                           <xs:element name="systolic" type="xs:int"></xs:element>
                           <xs:element name="temperature"></xs:element>
                           <xs:element name="testosterone"></xs:element>
                           <xs:element name="timestamp" type="xs:dateTime"></xs:element>
                           <xs:element name="total_cholesterol"></xs:element>
                           <xs:element name="tsh"></xs:element>
                           <xs:element name="uric_acid"></xs:element>
                           <xs:element name="user_id" type="xs:string"></xs:element>
                           <xs:element name="utc_offset" type="xs:string"></xs:element>
                           <xs:element name="validated" type="xs:string"></xs:element>
                           <xs:element name="vitamin_d"></xs:element>
                           <xs:element name="white_cell_count"></xs:element>
                     </xs:sequence>
               </xs:complexType>
         </xs:element>
   </xs:schema>
