Resources/canonical_library/xsd/BloodGlucose.xsd

<?xml version="1.0" encoding="UTF-8"?>
   <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
         <!-- XML Schema Generated from XML Document on Fri Nov 04 2016 16:34:30 GMT+0530 (India Standard Time) -->
         <!-- with XmlGrid.net Free Online Service http://xmlgrid.net -->
         <xs:element name="BloodGlucose">
               <xs:complexType>
                     <xs:sequence>
                           <xs:element name="Id" type="xs:string"></xs:element>
                           <xs:element name="SingleBloodGlucoseValue" type="xs:int"></xs:element>
                           <xs:element name="Patient" type="xs:string"></xs:element>
                           <xs:element name="Note" type="xs:string"></xs:element>
                           <xs:element name="MoodDetails">
                                 <xs:complexType>
                                       <xs:sequence>
                                             <xs:element name="__metadata">
                                                   <xs:complexType>
                                                         <xs:sequence>
                                                               <xs:element name="uri" type="xs:string"></xs:element>
                                                         </xs:sequence>
                                                   </xs:complexType>
                                             </xs:element>
                                       </xs:sequence>
                                 </xs:complexType>
                           </xs:element>
                           <xs:element name="InsulinDosesValue" type="xs:int"></xs:element>
                           <xs:element name="CarbsValue" type="xs:int"></xs:element>
                           <xs:element name="SapTestTypeCategoryMeasurementTypeId1Details">
                                 <xs:complexType>
                                       <xs:sequence>
                                             <xs:element name="__metadata">
                                                   <xs:complexType>
                                                         <xs:sequence>
                                                               <xs:element name="uri" type="xs:string"></xs:element>
                                                         </xs:sequence>
                                                   </xs:complexType>
                                             </xs:element>
                                       </xs:sequence>
                                 </xs:complexType>
                           </xs:element>
                           <xs:element name="SapHealthConditionCategoryMeasurementTypeId1Details">
                                 <xs:complexType>
                                       <xs:sequence>
                                             <xs:element name="__metadata">
                                                   <xs:complexType>
                                                         <xs:sequence>
                                                               <xs:element name="uri" type="xs:string"></xs:element>
                                                         </xs:sequence>
                                                   </xs:complexType>
                                             </xs:element>
                                       </xs:sequence>
                                 </xs:complexType>
                           </xs:element>
                           <xs:element name="Timestamp">
                                 <xs:complexType>
                                       <xs:sequence>
                                             <xs:element name="TimezoneUtcOffsetInSeconds" type="xs:int"></xs:element>
                                             <xs:element name="UtcTimestamp" type="xs:string"></xs:element>
                                       </xs:sequence>
                                 </xs:complexType>
                           </xs:element>
                           <xs:element name="SingleBloodGlucoseUnitDetails">
                                 <xs:complexType>
                                       <xs:sequence>
                                             <xs:element name="__metadata">
                                                   <xs:complexType>
                                                         <xs:sequence>
                                                               <xs:element name="uri" type="xs:string"></xs:element>
                                                         </xs:sequence>
                                                   </xs:complexType>
                                             </xs:element>
                                       </xs:sequence>
                                 </xs:complexType>
                           </xs:element>
                           <xs:element name="CarbsUnitDetails">
                                 <xs:complexType>
                                       <xs:sequence>
                                             <xs:element name="__metadata">
                                                   <xs:complexType>
                                                         <xs:sequence>
                                                               <xs:element name="uri" type="xs:string"></xs:element>
                                                         </xs:sequence>
                                                   </xs:complexType>
                                             </xs:element>
                                       </xs:sequence>
                                 </xs:complexType>
                           </xs:element>
                           <xs:element name="InsulinDosesUnitDetails">
                                 <xs:complexType>
                                       <xs:sequence>
                                             <xs:element name="__metadata">
                                                   <xs:complexType>
                                                         <xs:sequence>
                                                               <xs:element name="uri" type="xs:string"></xs:element>
                                                         </xs:sequence>
                                                   </xs:complexType>
                                             </xs:element>
                                       </xs:sequence>
                                 </xs:complexType>
                           </xs:element>
                           <xs:element name="SapBloodGlucoseTargetDetails">
                                 <xs:complexType>
                                       <xs:sequence>
                                             <xs:element name="__metadata">
                                                   <xs:complexType>
                                                         <xs:sequence>
                                                               <xs:element name="uri" type="xs:string"></xs:element>
                                                         </xs:sequence>
                                                   </xs:complexType>
                                             </xs:element>
                                       </xs:sequence>
                                 </xs:complexType>
                           </xs:element>
                     </xs:sequence>
               </xs:complexType>
         </xs:element>
   </xs:schema>