Resources/canonical_library/xsd/BusinessPartnerSUITEBulkReplicateRequest.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="BusinessPartnerSUITEBulkReplicateRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="MessageHeader">
          <xs:complexType>
            <xs:sequence>
              <xs:element minOccurs="0" name="ID" type="xs:string" />
              <xs:element minOccurs="0" name="UUID" type="xs:string" />
              <xs:element minOccurs="0" name="CreationDateTime" type="xs:dateTime" />
              <xs:element minOccurs="0" name="SenderBusinessSystemID" type="xs:string" />
              <xs:element minOccurs="0" name="RecipientBusinessSystemID" type="xs:string" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element  maxOccurs="unbounded" name="BusinessPartnerSUITEReplicateRequestMessage">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="MessageHeader">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element minOccurs="0" name="ID" type="xs:string" />
                    <xs:element minOccurs="0" name="UUID" type="xs:string" />
                    <xs:element minOccurs="0" name="CreationDateTime" type="xs:dateTime" />
                    <xs:element minOccurs="0" name="SenderBusinessSystemID" type="xs:string" />
                    <xs:element minOccurs="0" name="RecipientBusinessSystemID" type="xs:string" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="BusinessPartner">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element minOccurs="0" name="UUID" type="xs:string" />
                    <xs:element minOccurs="0" name="InternalID" type="xs:unsignedShort" />
                    <xs:element minOccurs="0" name="CategoryCode" type="xs:unsignedByte" />
                    <xs:element minOccurs="0" name="NumberRangeIntervalBusinessPartnerGroupCode" type="xs:unsignedByte" />
                    <xs:element minOccurs="0" name="Customer">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element minOccurs="0" name="InternalID" type="xs:string" />
                          <xs:element minOccurs="0" name="MaintenanceProfileCode" type="xs:string" />
                          <xs:element minOccurs="0" name="AuthorisationGroupCode"  />
                          <xs:element minOccurs="0" name="ExpressTrainStationLocationName"  />
                          <xs:element minOccurs="0" name="TrainStationLocationName"  />
                          <xs:element minOccurs="0" name="CustomerPartyWithFiscalAddressInternalID"  />
                          <xs:element minOccurs="0" name="ReceiverCustomerPartyWithFiscalAddressInternalID"  />
                          <xs:element minOccurs="0" name="AlternativePayeePartyInternalID"  />
                          <xs:element minOccurs="0" name="ReceiverAlternativePayeePartyInternalID"  />
                          <xs:element minOccurs="0" name="AlternativePayeeAllowedIndicator" type="xs:boolean" />
                          <xs:element minOccurs="0" name="CorporateGroupName"  />
                          <xs:element minOccurs="0" name="StandardPointLocationCode"  />
                          <xs:element minOccurs="0" name="DeletionBlockedIndicator" type="xs:boolean" />
                          <xs:element minOccurs="0" name="DeletedIndicator" type="xs:boolean" />
                          <xs:element minOccurs="0" name="CountyCode"  />
                          <xs:element minOccurs="0" name="CityCode"  />
                          <xs:element minOccurs="0" name="PostingBlockedIndicator" type="xs:boolean" />
                          <xs:element minOccurs="0" name="EqualizationTaxRelevanceIndicator" type="xs:boolean" />
                          <xs:element minOccurs="0" name="ValueAddedTaxRelevanceIndicator" type="xs:boolean" />
                          <xs:element minOccurs="0" name="TradingPartnerCompanyID"  />
                          <xs:element minOccurs="0" name="TaxGroupCode"  />
                          <xs:element minOccurs="0" name="ICMSExemptionIndicator" type="xs:boolean" />
                          <xs:element minOccurs="0" name="IPIExemptionIndicator" type="xs:boolean" />
                          <xs:element minOccurs="0" name="TaxSubstitutionGroupCode"  />
                          <xs:element minOccurs="0" name="CFOPCategoryCode"  />
                          <xs:element minOccurs="0" name="SaleSalesAndDistributionBlocks">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element minOccurs="0" name="OrderBlockingReasonCode" type="xs:unsignedByte" />
                                <xs:element minOccurs="0" name="BillingBlockingReasonCode" type="xs:unsignedByte" />
                                <xs:element minOccurs="0" name="DeliveryBlockingReasonCode" type="xs:unsignedByte" />
                                <xs:element minOccurs="0" name="SalesSupportBlockedIndicator" type="xs:boolean" />
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                          <xs:element minOccurs="0" name="IndustrySector">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element minOccurs="0" name="IndustrialSectorCode"  />
                                <xs:element minOccurs="0" name="FirstAdditionalIndustrialSectorCode"  />
                                <xs:element minOccurs="0" name="SecondAdditionalIndustrialSectorCode"  />
                                <xs:element minOccurs="0" name="ThirdAdditionalIndustrialSectorCode"  />
                                <xs:element minOccurs="0" name="FourthAdditionalIndustrialSectorCode"  />
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                          <xs:element minOccurs="0" name="MarketingAttributes">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element minOccurs="0" name="CustomerGroupCode"  />
                                <xs:element minOccurs="0" name="CustomerNielsenRegionCode"  />
                                <xs:element minOccurs="0" name="FiscalYearVariantCode"  />
                                <xs:element minOccurs="0" name="AnnualSalesVolumeAmount" >
                                  <xs:complexType>
                                    <xs:attribute name="currencyCode" type="xs:string" use="required" />
                                  </xs:complexType>
                                </xs:element>
                                <xs:element minOccurs="0" name="AnnualSalesVolumeAmountReportedYear" type="xs:string" />
                                <xs:element minOccurs="0" name="EmployeeNumberValue"  />
                                <xs:element  minOccurs="0" name="EmployeeNumberValueReportedYear" type="xs:string" />
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                          <xs:element minOccurs="0" name="CustomerExtensionCode" type="xs:string" />
                          <xs:element minOccurs="0" name="FirstAdditionalCustomerExtensionCode" type="xs:string" />
                          <xs:element minOccurs="0" name="SecondAdditionalCustomerExtensionCode" type="xs:string" />
                          <xs:element minOccurs="0" name="ThirdAdditionalCustomerExtensionCode" type="xs:string" />
                          <xs:element minOccurs="0" name="FourthAdditionalCustomerExtensionCode" type="xs:string" />
                          <xs:element minOccurs="0" name="FifthAdditionalCustomerExtensionCode" type="xs:string" />
                          <xs:element minOccurs="0" name="SixthAdditionalCustomerExtensionCode" type="xs:string" />
                          <xs:element minOccurs="0" name="SeventhAdditionalCustomerExtensionCode" type="xs:string" />
                          <xs:element minOccurs="0" name="EighthAdditionalCustomerExtensionCode" type="xs:string" />
                          <xs:element minOccurs="0" name="NinthAdditionalCustomerExtensionCode" type="xs:string" />
                          <xs:element minOccurs="0" name="DataMediumExchangeReportCode"  />
                          <xs:element minOccurs="0" name="DataMediumExchangeInstructionCode"  />
                          <xs:element minOccurs="0" name="CivilUseIndicator" type="xs:boolean" />
                          <xs:element minOccurs="0" name="MilitaryUseIndicator" type="xs:boolean" />
                          <xs:element minOccurs="0" name="LegalControlIndicators">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element minOccurs="0" name="BiochemicalWarfareIndicator" type="xs:boolean" />
                                <xs:element minOccurs="0" name="NuclearNonproliferationIndicator" type="xs:boolean" />
                                <xs:element minOccurs="0" name="NationalSecurityIndicator" type="xs:boolean" />
                                <xs:element minOccurs="0" name="MissileTechnologyIndicator" type="xs:boolean" />
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                          <xs:element minOccurs="0" name="PriceSpecifications">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element minOccurs="0" name="CustomerConditionGroupCode"  />
                                <xs:element minOccurs="0" name="FirstAdditionalCustomerConditionGroupCode"  />
                                <xs:element minOccurs="0" name="SecondAdditionalCustomerConditionGroupCode"  />
                                <xs:element minOccurs="0" name="ThirdAdditionalCustomerConditionGroupCode"  />
                                <xs:element minOccurs="0" name="FourthAdditionalCustomerConditionGroupCode" />
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                          <xs:element minOccurs="0" maxOccurs="unbounded" name="AccountingInformation">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element minOccurs="0" name="CompanyID"  />
                                <xs:element minOccurs="0" name="EmployeeID"  />
                                <xs:element minOccurs="0" name="BlockedIndicator"  />
                                <xs:element minOccurs="0" name="DeletedIndicator"  />
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                          <xs:element minOccurs="0" name="RepresentativeName"  />
                          <xs:element minOccurs="0" name="BusinessTypeName"  />
                          <xs:element minOccurs="0" name="IndustryTypeName"  />
                          <xs:element minOccurs="0" name="RelatedSupplierInternalID"  />
                          <xs:element minOccurs="0" maxOccurs="unbounded" name="SalesArrangement">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element minOccurs="0" name="SalesOrganisationID" type="xs:unsignedByte" />
                                <xs:element minOccurs="0" name="DistributionChannelCode" type="xs:unsignedByte" />
                                <xs:element minOccurs="0" name="DivisionCode" type="xs:unsignedByte" />
                                <xs:element minOccurs="0" name="AuthorisationGroupCode"  />
                                <xs:element minOccurs="0" name="DeletedIndicator" type="xs:boolean" />
                                <xs:element minOccurs="0" name="StatisticsGroupCode"  />
                                <xs:element minOccurs="0" name="OrderBlockingReasonCode" type="xs:unsignedByte" />
                                <xs:element minOccurs="0" name="PricingProcedureDeterminationCode" type="xs:unsignedByte" />
                                <xs:element minOccurs="0" name="PricingProcedureDeterminationCodeLong" type="xs:unsignedByte" />
                                <xs:element minOccurs="0" name="GroupCode" type="xs:unsignedByte" />
                                <xs:element minOccurs="0" name="SalesDistrictCode" type="xs:unsignedByte" />
                                <xs:element minOccurs="0" name="PriceGroupCode" type="xs:unsignedByte" />
                                <xs:element minOccurs="0" name="PriceListTypeCode" type="xs:unsignedByte" />
                                <xs:element minOccurs="0" name="ItemOrderProbabilityNumberValue" type="xs:unsignedByte" />
                                <xs:element minOccurs="0" name="DeliveryBlockingReasonCode" type="xs:unsignedByte" />
                                <xs:element minOccurs="0" name="BatchSplitAllowedIndicator" type="xs:boolean" />
                                <xs:element minOccurs="0" name="SellerPartyBuyerID" type="xs:unsignedShort" />
                                <xs:element minOccurs="0" name="TransportServiceLevelCode" type="xs:unsignedByte" />
                                <xs:element minOccurs="0" name="BillingBlockingReasonCode" type="xs:unsignedByte" />
                                <xs:element minOccurs="0" name="ManualInvoiceMaintenanceIndicator" type="xs:boolean" />
                                <xs:element minOccurs="0" name="InvoiceDatesCalendarCode"  />
                                <xs:element minOccurs="0" name="IncoiceListScheduleCalendarCode"  />
                                <xs:element minOccurs="0" name="CurrencyCode" type="xs:string" />
                                <xs:element minOccurs="0" name="ABCClassificationCode" type="xs:unsignedByte" />
                                <xs:element minOccurs="0" name="AccountAssignmentGroupCode"  />
                                <xs:element minOccurs="0" name="CashDiscountTermsCode"  />
                                <xs:element minOccurs="0" name="DeliveringPlantID" type="xs:unsignedByte" />
                                <xs:element minOccurs="0" name="SalesGroupCode" type="xs:unsignedByte" />
                                <xs:element minOccurs="0" name="SalesOfficeCode" type="xs:unsignedByte" />
                                <xs:element minOccurs="0" name="ProductProposalID"  />
                                <xs:element minOccurs="0" name="CustomerDefinedGroupCode"  />
                                <xs:element minOccurs="0" name="FirstAdditionalCustomerDefinedGroupCode"  />
                                <xs:element minOccurs="0" name="SecondAdditionalCustomerDefinedGroupCode"  />
                                <xs:element minOccurs="0" name="ThirdAdditionalCustomerDefinedGroupCode"  />
                                <xs:element minOccurs="0" name="FourthAdditionalCustomerDefinedGroupCode"  />
                                <xs:element minOccurs="0" name="RebateRelevantIndicator" type="xs:boolean" />
                                <xs:element minOccurs="0" name="ExchangeRateTypeCode"  />
                                <xs:element minOccurs="0" name="PricingRelevanceIndicator" type="xs:boolean" />
                                <xs:element minOccurs="0" name="PaymentGuaranteeProcedureCode"  />
                                <xs:element minOccurs="0" name="CreditControlAreaCode"  />
                                <xs:element minOccurs="0" name="SalesSupportBlockedIndicator" type="xs:boolean" />
                                <xs:element minOccurs="0" name="RoundingSwitchOffIndicator" type="xs:boolean" />
                                <xs:element minOccurs="0" name="AgencyBusinessRelevanceIndicator" type="xs:boolean" />
                                <xs:element minOccurs="0" name="MeasureUnitGroupCode"  />
                                <xs:element minOccurs="0" name="ProductProposalCustomerProcedureCode" type="xs:string" />
                                <xs:element minOccurs="0" name="PODRelevanceIndicator" type="xs:boolean" />
                                <xs:element minOccurs="0" name="PODConfirmationTimeframeDuration" type="xs:unsignedByte" />
                                <xs:element minOccurs="0" name="DocumentIndexAllowedIndicator" type="xs:boolean" />
                                <xs:element minOccurs="0" name="FifthAdditionalCustomerDefinedGroupCode"  />
                                <xs:element minOccurs="0" name="SixthAdditionalCustomerDefinedGroupCode"  />
                                <xs:element minOccurs="0" name="SeventhAdditionalCustomerDefinedGroupCode"  />
                                <xs:element minOccurs="0" name="EighthAdditionalCustomerDefinedGroupCode"  />
                                <xs:element minOccurs="0" name="NinthAdditionalCustomerDefinedGroupCode"  />
                                <xs:element minOccurs="0" name="ValueAddedServiceDeterminationModeCode"  />
                                <xs:element minOccurs="0" name="ValueAddedServiceCustomerGroupCode"  />
                                <xs:element minOccurs="0" name="CharacteristicValueConversionCode"  />
                                <xs:element minOccurs="0" name="OrderSchedulingStrategyCode"  />
                                <xs:element minOccurs="0" name="OrderSchedulingStrategyFillRatePercent"  />
                                <xs:element minOccurs="0" name="OrderSchedulingStratgeyAggregationLevelCode"  />
                                <xs:element minOccurs="0" name="MultiShiptoOrderCustomerDistributionCenterID"  />
                                <xs:element minOccurs="0" name="MultiShiptoOrderCustomerName"  />
                                <xs:element minOccurs="0" name="PSSTGroupingRuleCode"  />
                                <xs:element minOccurs="0" name="PSSTGroupingRuleExcludeIndicator"  />
                                <xs:element minOccurs="0" name="DeliveryTerms">
                                  <xs:complexType>
                                    <xs:sequence>
                                      <xs:element minOccurs="0" name="DeliveryPriorityCode" type="xs:unsignedByte" />
                                      <xs:element minOccurs="0" name="Incoterms">
                                        <xs:complexType>
                                          <xs:sequence>
                                            <xs:element name="ClassificationCode"  />
                                            <xs:element minOccurs="0" name="TransferLocationName" />
                                            <xs:element minOccurs="0" name="TransferLocationNameLong"  />
                                            <xs:element minOccurs="0" name="DestinationLocationName" />
                                            <xs:element minOccurs="0" name="Version"  />
                                          </xs:sequence>
                                        </xs:complexType>
                                      </xs:element>
                                      <xs:element name="SalesOrderCompleteDeliveryIndicator" type="xs:boolean" />
                                      <xs:element name="OrderCombinationAllowedIndicator" type="xs:boolean" />
                                      <xs:element name="PartialDeliveryControlCode" type="xs:string" />
                                      <xs:element name="PartialDeliveryMaximumNumberValue" type="xs:unsignedByte" />
                                      <xs:element minOccurs="0" name="QuantityTolerance">
                                        <xs:complexType>
                                          <xs:sequence>
                                            <xs:element minOccurs="0" name="OverPercent"  />
                                            <xs:element minOccurs="0" name="OverPercentUnlimitedIndicator" type="xs:boolean" />
                                            <xs:element minOccurs="0" name="UnderPercent"  />
                                          </xs:sequence>
                                        </xs:complexType>
                                      </xs:element>
                                    </xs:sequence>
                                  </xs:complexType>
                                </xs:element>
                                <xs:element minOccurs="0" maxOccurs="unbounded"  name="PartnerFunctions">
                                  <xs:complexType>
                                    <xs:sequence>
                                      <xs:element minOccurs="0" name="PartyRoleCode" type="xs:string" />
                                      <xs:element minOccurs="0" name="PartyInternalID" type="xs:unsignedShort" />
                                      <xs:element  minOccurs="0" name="ReceiverPartyInternalID"  />
                                      <xs:element  minOccurs="0" name="DefaultIndicator" type="xs:boolean" />
                                    </xs:sequence>
                                    <xs:attribute name="actionCode" type="xs:unsignedByte"  />
                                  </xs:complexType>
                                </xs:element>
                              </xs:sequence>
                              <xs:attribute name="actionCode" type="xs:unsignedByte" />
                              <xs:attribute name="partnerFunctionsListCompleteTransmissionIndicator" type="xs:boolean" />
                              <xs:attribute name="salesArrangementTextListCompleteTransmissionIndicator" type="xs:boolean"  />
                            </xs:complexType>
                          </xs:element>
                          <xs:element minOccurs="0" maxOccurs="unbounded" name="TaxClassification">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="TaxCountryCode" type="xs:string" />
                                <xs:element name="TaxTypeCode" minOccurs="0" type="xs:string" />
                                <xs:element name="TaxGroupCode" minOccurs="0" type="xs:unsignedByte" />
                              </xs:sequence>
                              <xs:attribute name="actionCode" type="xs:unsignedByte"  />
                            </xs:complexType>
                          </xs:element>
                          <xs:element minOccurs="0" maxOccurs="unbounded" name="CustomerText">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="TextTypeCode" type="xs:unsignedByte" />
                                <xs:element name="LanguageCode" type="xs:string" />
                                <xs:element maxOccurs="unbounded" name="TextSAPScriptLine">
                                  <xs:complexType>
                                    <xs:sequence>
                                      <xs:element name="OrdinalNumberValue" type="xs:unsignedByte" />
                                      <xs:element name="SAPScriptLineFormatCode" minOccurs="0"  type="xs:string" />
                                      <xs:element name="SAPScriptLineText"  type="xs:string" />
                                    </xs:sequence>
                                  </xs:complexType>
                                </xs:element>
                              </xs:sequence>
                              <xs:attribute name="actionCode" type="xs:unsignedByte"  />
                              <xs:attribute name="textSAPScriptLineListCompleteTransmissionIndicator" type="xs:boolean"  />
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                        <xs:attribute name="accountingInformationListCompleteTransmissionIndicator" type="xs:boolean" />
                        <xs:attribute name="salesArrangementListCompleteTransmissionIndicator" type="xs:boolean"/>
                        <xs:attribute name="unloadingPointsListCompleteTransmissionIndicator" type="xs:boolean"/>
                        <xs:attribute name="taxClassificationListCompleteTransmissionIndicator" type="xs:boolean"/>
                        <xs:attribute name="customerTextListCompleteTransmissionIndicator" type="xs:boolean"/>
                        <xs:attribute name="customerDocumentListCompleteTransmissionIndicator" type="xs:boolean"/>
                        <xs:attribute name="propertyListCompleteTransmissionIndicator" type="xs:boolean"/>
                        <xs:attribute name="propertyValuationCompleteTransmissionIndicator" type="xs:boolean"/>
                      </xs:complexType>
                    </xs:element>
<!--DRF payload for supplier-->
                    <xs:element minOccurs="0" name="Supplier">
                        <xs:complexType>
                          <xs:sequence>
                            <xs:element minOccurs="0" name="InternalID" type="xs:string"/>
                            <xs:element minOccurs="0" name="CreditorInformationNumber" />
                            <xs:element minOccurs="0" name="MaintenanceProfileCode" type="xs:string"/>
                            <xs:element minOccurs="0" name="ProcurementTransactionBlockingCode" />
                            <xs:element minOccurs="0" name="DeletionBlockedIndicator" type="xs:boolean"/>
                            <xs:element minOccurs="0" name="DeletedIndicator" type="xs:boolean"/>
                            <xs:element minOccurs="0" name="PostingBlockedIndicator" type="xs:boolean"/>
                            <xs:element minOccurs="0" name="PurchasingBlockedIndicator" type="xs:boolean"/>
                            <xs:element minOccurs="0" name="TradingPartnerCompanyID" />
                            <xs:element minOccurs="0" name="ManufacturerPartyID" />
                            <xs:element minOccurs="0" name="AuthorisationGroupCode" />
                            <xs:element minOccurs="0" name="CorporateGroupName" />
                            <xs:element minOccurs="0" name="ProofOfDeliveryRequirementCode" />
                            <xs:element minOccurs="0" name="CreditDataLastCheckDate" />
                            <xs:element minOccurs="0" name="TrainStationLocationName" />
                            <xs:element minOccurs="0" name="DataMediumExchangeReportCode" />
                            <xs:element minOccurs="0" name="DataMediumExchangeInstructionCode" />
                            <xs:element minOccurs="0" name="InpaymentSlipWithReferenceNumberSubscriberID" />
                            <xs:element minOccurs="0" name="AlternativePayeePartyInternalID" />
                            <xs:element minOccurs="0" name="AlternativePayeeAllowedIndicator" type="xs:boolean"/>
                            <xs:element minOccurs="0" name="EqualizationTaxRelevanceIndicator" type="xs:boolean"/>
                            <xs:element minOccurs="0" name="ValueAddedTaxRelevanceIndicator" type="xs:boolean"/>
                            <xs:element minOccurs="0" name="FiscalAddressPartyInternalID" />
                            <xs:element minOccurs="0" name="SupplyingPlantID" />
                            <xs:element minOccurs="0" name="SellerAssortmentProductGroupLevelRelevanceIndicator" type="xs:boolean"/>
                            <xs:element minOccurs="0" name="PlantLevelRelevanceIndicator" type="xs:boolean"/>
                            <xs:element minOccurs="0" name="WorkingDayCalendarCode" />
                            <xs:element minOccurs="0" name="CarrierPartyStandardID" nillable="true">
                              <xs:complexType>
                                <xs:attribute minOccurs="0" name="schemeAgencyID" type="xs:string" use="required"/>
                              </xs:complexType>
                            </xs:element>
                            <xs:element minOccurs="0" name="CarrierPartyFreightGroupCode" nillable="true"/>
                            <xs:element minOccurs="0" name="ServicePerformerPartyGroupCode" nillable="true"/>
                            <xs:element minOccurs="0" name="StatisticsGroupCode" nillable="true"/>
                            <xs:element minOccurs="0" name="TaxAuthorityPartyID" nillable="true"/>
                            <xs:element minOccurs="0" name="TaxGroupCode" nillable="true"/>
                            <xs:element minOccurs="0" name="SocialInsuranceActivityCode" nillable="true"/>
                            <xs:element minOccurs="0" name="ForSocialInsuranceRegisteredIndicator" type="xs:boolean"/>
                            <xs:element minOccurs="0" name="TaxSplitIndicator" type="xs:boolean"/>
                            <xs:element minOccurs="0" name="TaxBasePercentageCode" type="xs:unsignedByte"/>
                            <xs:element minOccurs="0" name="ResponsibleTaxOfficePartyInternalID" nillable="true"/>
                            <xs:element minOccurs="0" name="RepresentativeName" nillable="true"/>
                            <xs:element minOccurs="0" name="BusinessTypeName" nillable="true"/>
                            <xs:element minOccurs="0" name="IndustryTypeName" nillable="true"/>
                            <xs:element minOccurs="0" name="RelatedCustomerInternalID" nillable="true"/>
                            <xs:element minOccurs="0" name="CollectiveNumberingRelevancyIndicator" type="xs:boolean"/>
                            <xs:element minOccurs="0" name="StagingDuration" type="xs:unsignedByte"/>
                            <xs:element minOccurs="0" name="SchedulingProcedureCode" nillable="true"/>
                            <xs:element minOccurs="0" name="TransportationChainCode" nillable="true"/>
                            <xs:element minOccurs="0" maxOccurs="unbounded" name="AccountingInformation">
                              <xs:complexType>
                                <xs:sequence>
                                  <xs:element minOccurs="0" name="CompanyID" type="xs:unsignedByte"/>
                                  <xs:element minOccurs="0" name="BlockedIndicator" type="xs:boolean"/>
                                  <xs:element minOccurs="0" name="DeletedIndicator" type="xs:boolean"/>
                                  <xs:element minOccurs="0" name="SortCode" nillable="true"/>
                                  <xs:element minOccurs="0" name="GeneralLedgerAccountReference">
                                    <xs:complexType>
                                      <xs:sequence>
                                        <xs:element minOccurs="0" name="ID" type="xs:unsignedInt"/>
                                      </xs:sequence>
                                    </xs:complexType>
                                  </xs:element>
                                  <xs:element minOccurs="0" name="AuthorisationGroupCode" nillable="true"/>
                                  <xs:element minOccurs="0" name="InterestCalculationInclusionCode" nillable="true"/>
                                  <xs:element minOccurs="0" name="InterestCalculationFrequencyCode" type="xs:unsignedByte"/>
                                  <xs:element minOccurs="0" name="LastInterestCalculationKeyDate" nillable="true"/>
                                  <xs:element minOccurs="0" name="LastInterestCalculationRunDate" nillable="true"/>
                                  <xs:element minOccurs="0" name="PaymentMethodsCode" nillable="true"/>
                                  <xs:element minOccurs="0" name="PaymentBlockCode" nillable="true"/>
                                  <xs:element minOccurs="0" name="CashDiscountTermsCode" nillable="true"/>
                                  <xs:element minOccurs="0" name="LocalProcessingIndicator" type="xs:boolean"/>
                                  <xs:element minOccurs="0" name="AccountingClerkInitialsCode" nillable="true"/>
                                  <xs:element minOccurs="0" name="DebtorPartyCreditorID" nillable="true"/>
                                  <xs:element minOccurs="0" name="EmployeeResponsiblePartyName" nillable="true"/>
                                  <xs:element minOccurs="0" name="EmployeeResponsiblePartyFaxFormattedNumberDescription" nillable="true"/>
                                  <xs:element minOccurs="0" name="EmployeeResponsiblePartyTelephoneFormattedNumberDescription" nillable="true"/>
                                  <xs:element minOccurs="0" name="EmployeeResponsiblePartyWebAddress" nillable="true"/>
                                  <xs:element minOccurs="0" name="Note" nillable="true"/>
                                  <xs:element minOccurs="0" name="PlanningGroupCode" nillable="true"/>
                                  <xs:element minOccurs="0" name="HeadOfficeAccountInternalID" nillable="true"/>
                                  <xs:element minOccurs="0" name="AlternativePayeePartyInternalID" nillable="true"/>
                                  <xs:element minOccurs="0" name="BillOfExchangeLimitAmount" nillable="true">
                                    <xs:complexType>
                                      <xs:attribute minOccurs="0" name="currencyCode" type="xs:string" use="required"/>
                                    </xs:complexType>
                                  </xs:element>
                                  <xs:element minOccurs="0" name="ProbableCheckPaidDuration" type="xs:unsignedByte"/>
                                  <xs:element minOccurs="0" name="DoubleEntriesCheckIndicator" type="xs:boolean"/>
                                  <xs:element minOccurs="0" name="BusinessPartnerToleranceGroupCode" nillable="true"/>
                                  <xs:element minOccurs="0" name="HouseBankInternalID" nillable="true"/>
                                  <xs:element minOccurs="0" name="PayItemsSeparatelyIndicator" type="xs:boolean"/>
                                  <xs:element minOccurs="0" name="WithholdingTaxExemptionCertificateID" nillable="true"/>
                                  <xs:element minOccurs="0" name="WithholdingTaxExemptionCertificateValidityDate" nillable="true"/>
                                  <xs:element minOccurs="0" name="WithholdingTaxTypeCode" nillable="true">
                                    <xs:complexType>
                                      <xs:attribute minOccurs="0" name="listID" type="xs:string" use="required"/>
                                    </xs:complexType>
                                  </xs:element>
                                  <xs:element minOccurs="0" name="WithholdingTaxExemptionReasonCode" nillable="true">
                                    <xs:complexType>
                                      <xs:attribute minOccurs="0" name="listID" type="xs:string" use="required"/>
                                    </xs:complexType>
                                  </xs:element>
                                  <xs:element minOccurs="0" name="WithholdingTaxCountryCode" nillable="true"/>
                                  <xs:element minOccurs="0" name="VendorRecipientTypeCode" nillable="true"/>
                                  <xs:element minOccurs="0" name="ReductionRatesDeterminationCode" nillable="true"/>
                                  <xs:element minOccurs="0" name="MinorityIndicatorsCode" nillable="true"/>
                                  <xs:element minOccurs="0" name="PreviousSupplierInternalID" nillable="true"/>
                                  <xs:element minOccurs="0" name="EmployeeID" type="xs:unsignedByte"/>
                                  <xs:element minOccurs="0" name="PaymentGroupingCode" nillable="true"/>
                                  <xs:element minOccurs="0" name="PaymentMethodSupplementCode" nillable="true"/>
                                  <xs:element minOccurs="0" name="PaymentAdvicesByEDIIndicator" type="xs:boolean"/>
                                  <xs:element minOccurs="0" name="ReleaseApprovalGroupCode" nillable="true"/>
                                  <xs:element minOccurs="0" name="InvoiceVerificationToleranceGroupCode" nillable="true"/>
                                  <xs:element minOccurs="0" name="CreditMemosPaymentTermsCode" nillable="true"/>
                                  <xs:element minOccurs="0" name="PeriodicAccountStatementsCode" nillable="true"/>
                                  <xs:element minOccurs="0" name="CertificationDate" nillable="true"/>
                                  <xs:element minOccurs="0" name="DeletionBlockedIndicator" type="xs:boolean"/>
                                  <xs:element minOccurs="0" name="CustomerSupplierClearingIndicator" type="xs:boolean"/>
                                  <xs:element minOccurs="0" name="DunningNoticeGroupingCode" nillable="true"/>
                                  <xs:element minOccurs="0" name="AssignmentTestGroupCode" nillable="true"/>
                                  <xs:element minOccurs="0" name="PrePaymentRelevancyCode" nillable="true"/>
                                  <xs:element minOccurs="0" name="DunningInformation">
                                    <xs:complexType>
                                      <xs:sequence>
                                        <xs:element minOccurs="0" name="DunningAreaID" nillable="true"/>
                                        <xs:element minOccurs="0" name="DunningProcedureCode" type="xs:string"/>
                                        <xs:element minOccurs="0" name="DunningBlockCode" nillable="true"/>
                                        <xs:element minOccurs="0" name="LastDunningNoticeDate" nillable="true"/>
                                        <xs:element minOccurs="0" name="DunningLevelCode" type="xs:unsignedByte"/>
                                        <xs:element minOccurs="0" name="DunningRecipientID" nillable="true"/>
                                        <xs:element minOccurs="0" name="LegalDunningProceedingsDate" nillable="true"/>
                                        <xs:element minOccurs="0" name="DunningClerkInitialsCode" nillable="true"/>
                                      </xs:sequence>
                                    </xs:complexType>
                                  </xs:element>
                                </xs:sequence>
                                <xs:attribute minOccurs="0" name="accountingTextListCompleteTransmissionIndicator" type="xs:boolean" use="required"/>
                                <xs:attribute minOccurs="0" name="actionCode" type="xs:unsignedByte" use="required"/>
                                <xs:attribute minOccurs="0" name="dunningInformationListCompleteTransmissionIndicator" type="xs:boolean" use="required"/>
                                <xs:attribute minOccurs="0" name="withholdingTaxListCompleteTransmissionIndicator" type="xs:boolean" use="required"/>
                              </xs:complexType>
                            </xs:element>
                            <xs:element minOccurs="0" maxOccurs="unbounded" name="ProcurementArrangement">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element minOccurs="0" name="PurchasingOrganisationID"/>
                                        <xs:element minOccurs="0" name="PurchasingGroupID"/>
                                        <xs:element minOccurs="0" name="DeletedIndicator" type="xs:boolean"/>
                                    </xs:sequence>
                                        <xs:attribute minOccurs="0" name="actionCode" type="xs:unsignedByte" use="required"/>
                                        <xs:attribute minOccurs="0" name="partnerFunctionsListCompleteTransmissionIndicator" type="xs:boolean" use="required"/>
                                        <xs:attribute minOccurs="0" name="purchasingTextListCompleteTransmissionIndicator" type="xs:boolean" use="required"/>
                                </xs:complexType>
                            </xs:element>
                          </xs:sequence>
                          <xs:attribute minOccurs="0" name="accountingInformationListCompleteTransmissionIndicator" type="xs:boolean" use="required"/>
                          <xs:attribute minOccurs="0" name="procurementArrangementListCompleteTransmissionIndicator" type="xs:boolean" use="required"/>
                          <xs:attribute minOccurs="0" name="procurementCardIssuingInstitutesListCompleteTransmissionIndicator" type="xs:boolean" use="required"/>
                          <xs:attribute minOccurs="0" name="propertyListCompleteTransmissionIndicator" type="xs:boolean" use="required"/>
                          <xs:attribute minOccurs="0" name="propertyValuationCompleteTransmissionIndicator" type="xs:boolean" use="required"/>
                          <xs:attribute minOccurs="0" name="qualitiyManagementListCompleteTransmissionIndicator" type="xs:boolean" use="required"/>
                          <xs:attribute minOccurs="0" name="subRangeListCompleteTransmissionIndicator" type="xs:boolean" use="required"/>
                          <xs:attribute minOccurs="0" name="supplierDocumentListCompleteTransmissionIndicator" type="xs:boolean" use="required"/>
                          <xs:attribute minOccurs="0" name="supplierTextListCompleteTransmissionIndicator" type="xs:boolean" use="required"/>
                        </xs:complexType>
                    </xs:element>
                    <xs:element minOccurs="0" maxOccurs="unbounded" name="AddressInformation">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element minOccurs="0" name="UUID" type="xs:string" />
                          <xs:element minOccurs="0" name="MoveDestinationAddressUUID" type="xs:string" />
                          <xs:element minOccurs="0" name="MoveDate" type="xs:date" />
                          <xs:element minOccurs="0" name="ValidityPeriod">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="StartDate" type="xs:date" />
                                <xs:element name="EndDate" type="xs:date" />
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                          <xs:element minOccurs="0" maxOccurs="unbounded" name="AddressUsage">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="AddressUsageCode" type="xs:string" />
                                <xs:element minOccurs="0" name="ValidityPeriod">
                                  <xs:complexType>
                                    <xs:sequence>
                                      <xs:element name="StartDate" type="xs:date" />
                                      <xs:element name="EndDate" type="xs:date" />
                                    </xs:sequence>
                                  </xs:complexType>
                                </xs:element>
                                <xs:element name="DefaultIndicator" minOccurs="0" type="xs:boolean" />
                              </xs:sequence>
                              <xs:attribute name="actionCode" type="xs:unsignedByte"/>
                            </xs:complexType>
                          </xs:element>
                          <xs:element name="Address">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element minOccurs="0" name="CommunicationPreference">
                                  <xs:complexType>
                                    <xs:sequence>
                                      <xs:element minOccurs="0" name="CorrespondenceLanguageCode" type="xs:string" />
                                      <xs:element minOccurs="0" name="PreferredCommunicationMediumTypeCode" nillable="true" />
                                    </xs:sequence>
                                    <xs:attribute name="actionCode" type="xs:unsignedByte" />
                                  </xs:complexType>
                                </xs:element>
                                <xs:element minOccurs="0" maxOccurs="unbounded" name="Email">
                                    <xs:complexType>
                                      <xs:sequence>
                                        <xs:element minOccurs="0" name="URI" type="xs:string" />
                                        <xs:element minOccurs="0" name="UsageDeniedIndicator" type="xs:boolean" />
                                        <xs:element minOccurs="0" name="ValidityPeriod">
                                          <xs:complexType>
                                            <xs:sequence>
                                              <xs:element minOccurs="0" name="StartDate" type="xs:date" />
                                              <xs:element minOccurs="0" name="EndDate" type="xs:date" />
                                            </xs:sequence>
                                          </xs:complexType>
                                        </xs:element>
                                        <xs:element minOccurs="0" name="TransportNeutralEncapsulationFormatEnabledIndicator" type="xs:boolean" />
                                        <xs:element minOccurs="0" maxOccurs="unbounded" name="EmailUsage">
                                          <xs:complexType>
                                            <xs:sequence>
                                              <xs:element name="Usage">
                                                <xs:complexType>
                                                  <xs:sequence>
                                                    <xs:element name="Code" type="xs:string" />
                                                    <xs:element name="ValidityPeriod">
                                                      <xs:complexType>
                                                        <xs:sequence>
                                                          <xs:element name="StartDate" type="xs:date" />
                                                          <xs:element name="EndDate" type="xs:date" />
                                                        </xs:sequence>
                                                      </xs:complexType>
                                                    </xs:element>
                                                  </xs:sequence>
                                                </xs:complexType>
                                              </xs:element>
                                              <xs:element name="DefaultIndicator" type="xs:boolean" />
                                            </xs:sequence>
                                            <xs:attribute name="actionCode" type="xs:unsignedByte" use="required" />
                                          </xs:complexType>
                                        </xs:element>
                                      </xs:sequence>
                                      <xs:attribute name="actionCode" type="xs:unsignedByte" use="required" />
                                      <xs:attribute name="eMailNoteListCompleteTransmissionIndicator" type="xs:boolean" use="required" />
                                      <xs:attribute name="eMailUsageListCompleteTransmissionIndicator" type="xs:boolean" use="required" />
                                    </xs:complexType>
                                </xs:element>
                                <xs:element minOccurs="0" maxOccurs="unbounded" name="Telephone">
                                    <xs:complexType>
                                      <xs:sequence>
                                        <xs:element name="Number">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element minOccurs="0" name="SubscriberID" type="xs:string" />
                                                    <xs:element minOccurs="0" name="ExtensionID" type="xs:string" />
                                                    <xs:element minOccurs="0" name="CountryCode" type="xs:string" />
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>    
                                        <xs:element minOccurs="0" name="UsageDeniedIndicator" type="xs:boolean" />
                                        <xs:element minOccurs="0" name="MobilePhoneNumberIndicator" type="xs:boolean" />
                                        <xs:element minOccurs="0" name="ValidityPeriod">
                                          <xs:complexType>
                                            <xs:sequence>
                                              <xs:element minOccurs="0" name="StartDate" type="xs:date" />
                                              <xs:element minOccurs="0" name="EndDate" type="xs:date" />
                                            </xs:sequence>
                                          </xs:complexType>
                                        </xs:element>
                                        <xs:element minOccurs="0" maxOccurs="unbounded" name="TelephoneUsage">
                                          <xs:complexType>
                                            <xs:sequence>
                                              <xs:element name="Usage">
                                                <xs:complexType>
                                                  <xs:sequence>
                                                    <xs:element name="Code" type="xs:string" />
                                                    <xs:element name="ValidityPeriod">
                                                      <xs:complexType>
                                                        <xs:sequence>
                                                          <xs:element name="StartDate" type="xs:date" />
                                                          <xs:element name="EndDate" type="xs:date" />
                                                        </xs:sequence>
                                                      </xs:complexType>
                                                    </xs:element>
                                                  </xs:sequence>
                                                </xs:complexType>
                                              </xs:element>
                                              <xs:element name="DefaultIndicator" type="xs:boolean" />
                                            </xs:sequence>
                                            <xs:attribute name="actionCode" type="xs:unsignedByte" use="required" />
                                          </xs:complexType>
                                        </xs:element>
                                      </xs:sequence>
                                      <xs:attribute name="actionCode" type="xs:unsignedByte" use="required" />
                                      <xs:attribute name="telephoneNoteListCompleteTransmissionIndicator" type="xs:boolean" use="required" />
                                      <xs:attribute name="telephoneUsageListCompleteTransmissionIndicator" type="xs:boolean" use="required" />
                                    </xs:complexType>
                                </xs:element>
                                <xs:element minOccurs="0" maxOccurs="unbounded" name="PostalAddress">
                                  <xs:complexType>
                                    <xs:sequence>
                                      <xs:element minOccurs="0" name="CountryCode" type="xs:string" />
                                      <xs:element minOccurs="0" name="RegionCode" type="xs:unsignedByte" />
                                      <xs:element minOccurs="0" name="CityName" type="xs:string" />
                                      <xs:element minOccurs="0" name="AdditionalCityName"/>
                                      <xs:element minOccurs="0" name="DistrictName" />
                                      <xs:element minOccurs="0" name="StreetPostalCode" type="xs:unsignedInt" />
                                      <xs:element minOccurs="0" name="POBoxPostalCode" />
                                      <xs:element minOccurs="0" name="CompanyPostalCode" />
                                      <xs:element minOccurs="0" name="StreetPrefixName" />
                                      <xs:element minOccurs="0" name="AdditionalStreetPrefixName" />
                                      <xs:element minOccurs="0" name="StreetName" type="xs:string"/>
                                      <xs:element minOccurs="0" name="StreetSuffixName" />
                                      <xs:element minOccurs="0" name="AdditionalStreetSuffixName" />
                                      <xs:element minOccurs="0" name="HouseID" />
                                      <xs:element minOccurs="0" name="AdditionalHouseID" />
                                      <xs:element minOccurs="0" name="BuildingID" />
                                      <xs:element minOccurs="0" name="RoomID" />
                                      <xs:element minOccurs="0" name="FloorID" />
                                      <xs:element minOccurs="0" name="CareOfName" />
                                      <xs:element minOccurs="0" name="StreetAddressMailNonDeliveryReasonCode" />
                                      <xs:element minOccurs="0" name="POBoxDeviatingCountryCode" />
                                      <xs:element minOccurs="0" name="POBoxDeviatingRegionCode" />
                                      <xs:element minOccurs="0" name="POBoxDeviatingCityName" />
                                      <xs:element minOccurs="0" name="POBoxLobbyName" />
                                      <xs:element minOccurs="0" name="POBoxID" />
                                      <xs:element minOccurs="0" name="POBoxAddressMailNonDeliveryReasonCode" />
                                      <xs:element minOccurs="0" name="POBoxIDVisibleIndicator" type="xs:boolean" />
                                      <xs:element minOccurs="0" name="POBoxDeliveryServiceID" />
                                      <xs:element minOccurs="0" name="POBoxDeliveryServiceTypeCode" />
                                      <xs:element minOccurs="0" name="TaxJurisdictionCode" />
                                      <xs:element minOccurs="0" name="TimeZoneCode" type="xs:string" />
                                      <xs:element minOccurs="0" name="TransportationZoneID" />
                                      <xs:element minOccurs="0" name="RegionalStructureElementGroupCode" />
                                      <xs:element minOccurs="0" name="RegionalStructureAddressConsistencyStatusCode" />
                                      <xs:element minOccurs="0" name="RegionalStructureCityCode" />
                                      <xs:element minOccurs="0" name="AdditionalRegionalStructureCityCode" />
                                      <xs:element minOccurs="0" name="POBoxDeviatingRegionalStructureCityCode" />
                                      <xs:element minOccurs="0" name="RegionalStructureDistrictCode" />
                                      <xs:element minOccurs="0" name="RegionalStructureStreetCode" />
                                      <xs:element minOccurs="0" name="ExtendedBuildingID" />
                                      <xs:element minOccurs="0" name="LegacyAddressID" />
                                      <xs:element minOccurs="0" name="CountyName" />
                                      <xs:element minOccurs="0" name="RegionalStructureCountyCode" />
                                      <xs:element minOccurs="0" name="TownshipName" />
                                      <xs:element minOccurs="0" name="RegionalStructureTownshipCode" />
                                    </xs:sequence>
                                    <xs:attribute name="actionCode" type="xs:unsignedByte" />
                                  </xs:complexType>
                                </xs:element>
                              </xs:sequence>
                              <xs:attribute name="addressNoteListCompleteTransmissionIndicator" type="xs:boolean"  />
                              <xs:attribute name="emailListCompleteTransmissionIndicator" type="xs:boolean" />
                              <xs:attribute name="facsimileListCompleteTransmissionIndicator" type="xs:boolean"  />
                              <xs:attribute name="organisationNameListCompleteTransmissionIndicator" type="xs:boolean" />
                              <xs:attribute name="personNameListCompleteTransmissionIndicator" type="xs:boolean"/>
                              <xs:attribute name="postalAddressListCompleteTransmissionIndicator" type="xs:boolean"  />
                              <xs:attribute name="telephoneListCompleteTransmissionIndicator" type="xs:boolean" />
                              <xs:attribute name="webListCompleteTransmissionIndicator" type="xs:boolean" />
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                        <xs:attribute name="actionCode" type="xs:unsignedByte"  />
                        <xs:attribute name="addressUsageListCompleteTransmissionIndicator" type="xs:boolean" />
                      </xs:complexType>
                    </xs:element>
                    <xs:element minOccurs="0" name="AddressIndependentCommInfo">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element minOccurs="0" name="CommunicationPreference" />
                        </xs:sequence>
                        <xs:attribute   name="actionCode" type="xs:unsignedByte" />
                        <xs:attribute  name="emailListCompleteTransmissionIndicator" type="xs:boolean" />
                        <xs:attribute   name="facsimileListCompleteTransmissionIndicator" type="xs:boolean"  />
                        <xs:attribute name="telephoneListCompleteTransmissionIndicator" type="xs:boolean"  />
                        <xs:attribute  name="webListCompleteTransmissionIndicator" type="xs:boolean" />
                      </xs:complexType>
                    </xs:element>
                    <xs:element minOccurs="0" name="Common">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element minOccurs="0" name="BusinessPartnerGroupCode" type="xs:unsignedByte" />
                          <xs:element minOccurs="0" name="DeletedIndicator" type="xs:boolean" />
                          <xs:element minOccurs="0" name="ReleasedIndicator" type="xs:boolean" />
                          <xs:element minOccurs="0" name="BlockedIndicator" type="xs:boolean" />
                          <xs:element minOccurs="0" name="BusinessPartnerAuthorisationGroupCode" type="xs:string"/>
                          <xs:element minOccurs="0" name="KeyWordsText" type="xs:string" />
                          <xs:element minOccurs="0" name="AdditionalKeyWordsText" type="xs:string" />
                          <xs:element minOccurs="0" name="VerbalCommunicationLanguageCode" type="xs:string"/>
                          <xs:element minOccurs="0" name="SalutationText" type="xs:string" />
                          <xs:element minOccurs="0" name="CorrespondenceBrailleRequiredIndicator" type="xs:boolean" />
                          <xs:element minOccurs="0" name="CorrespondenceLargePrintRequiredIndicator" type="xs:boolean" />
                          <xs:element minOccurs="0" name="NaturalPersonIndicator" type="xs:boolean" />
                          <xs:element minOccurs="0" name="ContactAllowedCode" type="xs:string" />
                          <xs:element minOccurs="0" name="LegacyBusinessPartnerID" type="xs:string" />
                          <xs:element minOccurs="0" name="DataOriginTypeCode" type="xs:string" />
                          <xs:element minOccurs="0" name="Person">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element minOccurs="0" name="Name">
                                  <xs:complexType>
                                    <xs:sequence>
                                      <xs:element minOccurs="0" name="FormOfAddressCode" type="xs:string" />
                                      <xs:element minOccurs="0" name="GivenName" type="xs:string" />
                                      <xs:element minOccurs="0" name="MiddleName" type="xs:string"  />
                                      <xs:element minOccurs="0" name="FamilyName" type="xs:string" />
                                      <xs:element minOccurs="0" name="AdditionalFamilyName" type="xs:string"  />
                                      <xs:element minOccurs="0" name="BirthName" type="xs:string" />
                                      <xs:element minOccurs="0" name="NickName" type="xs:string"  />
                                      <xs:element minOccurs="0" name="InitialsName" type="xs:string" />
                                      <xs:element minOccurs="0" name="AcademicTitleCode" type="xs:string"  />
                                      <xs:element minOccurs="0" name="AdditionalAcademicTitleCode" type="xs:string"  />
                                      <xs:element minOccurs="0" name="NamePrefixCode" type="xs:string"  />
                                      <xs:element minOccurs="0" name="AdditionalNamePrefixCode" type="xs:string"  />
                                      <xs:element minOccurs="0" name="NameSupplementCode" type="xs:string"  />
                                      <xs:element minOccurs="0" name="DeviatingFullName" type="xs:string"  />
                                      <xs:element minOccurs="0" name="NameFormatCountryCode" type="xs:string"  />
                                      <xs:element minOccurs="0" name="NameFormatCode" type="xs:string" />
                                    </xs:sequence>
                                  </xs:complexType>
                                </xs:element>
                                <xs:element minOccurs="0" name="GenderCode" type="xs:unsignedByte" />
                                <xs:element minOccurs="0" name="GenderValueCode" type="xs:unsignedByte" />
                                <xs:element minOccurs="0" name="BirthPlaceName"  />
                                <xs:element minOccurs="0" name="BirthDate"  />
                                <xs:element minOccurs="0" name="BirthdateStatusCode"  />
                                <xs:element minOccurs="0" name="DeathDate"  />
                                <xs:element minOccurs="0" name="MaritalStatusCode" />
                                <xs:element minOccurs="0" name="NonVerbalCommunicationLanguageCode" type="xs:string" />
                                <xs:element minOccurs="0" name="OccupationCode"  />
                                <xs:element minOccurs="0" name="Employer"  />
                                <xs:element minOccurs="0" name="NationalityCountryCode"  />
                                <xs:element minOccurs="0" name="OriginCountryCode"  />
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                          <xs:element minOccurs="0" name="Organisation">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element minOccurs="0" name="Name">
                                  <xs:complexType>
                                    <xs:sequence>
                                      <xs:element name="FormOfAddressCode" minOccurs="0"  />
                                      <xs:element name="FirstLineName" minOccurs="0" />
                                      <xs:element name="SecondLineName" minOccurs="0" />
                                      <xs:element name="ThirdLineName" minOccurs="0" />
                                      <xs:element name="FourthLineName" minOccurs="0"/>
                                    </xs:sequence>
                                  </xs:complexType>
                                </xs:element>
                                <xs:element name="CompanyLegalFormCode" minOccurs="0" />
                                <xs:element name="LegalEntityTypeCode" minOccurs="0" />
                                <xs:element name="FoundationDate" minOccurs="0" />
                                <xs:element name="LiquidationDate" minOccurs="0" />
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                          <xs:element minOccurs="0" name="Group">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="FormOfAddressCode" minOccurs="0" />
                                <xs:element name="Name" minOccurs="0" />
                                <xs:element name="AdditionalName" minOccurs="0" />
                                <xs:element name="PartnerGroupTypeCode" minOccurs="0" />
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                        <xs:attribute  name="actionCode" type="xs:unsignedByte"  />
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="Role" minOccurs="0" maxOccurs="unbounded">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="RoleCode" type="xs:string" />
                          <xs:element  minOccurs="0" name="ValidityPeriod">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="StartDate" type="xs:date" />
                                <xs:element name="EndDate" type="xs:date" />
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                        <xs:attribute name="actionCode" type="xs:unsignedByte" use="required" />
                      </xs:complexType>
                    </xs:element>
                    <xs:element minOccurs="0" name="CreditManagementCreditWorthiness">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="AffidavitForAssetsMadeIndicator" minOccurs="0" type="xs:boolean" />
                          <xs:element name="AffidavitForAssetsMadeDate" minOccurs="0" type="xs:date" />
                          <xs:element name="BankruptcyProceedingsInitiatedIndicator" minOccurs="0" type="xs:boolean" />
                          <xs:element name="BankruptcyProceedingsInitiatedDate" minOccurs="0" type="xs:date" />
                          <xs:element name="ForeclosureProceedingsInitiatedIndicator" minOccurs="0" type="xs:boolean" />
                          <xs:element name="ForeclosureProceedingsInitiatedDate"  minOccurs="0" type="xs:date"/>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                  <xs:attribute  name="changeOrdinalNumberValue" type="xs:unsignedByte"  />
                  <xs:attribute name="reconciliationPeriodCounterValue" type="xs:unsignedByte"  />
                  <xs:attribute name="multipleAssignmentListCompleteTransmissionIndicator" type="xs:boolean"  />
                  <xs:attribute name="addressInformationListCompleteTransmissionIndicator" type="xs:boolean"  />
                  <xs:attribute name="addressIndependentInfoCompleteTransmissionIndicator" type="xs:boolean"  />
                  <xs:attribute name="bankDetailsListCompleteTransmissionIndicator" type="xs:boolean"  />
                  <xs:attribute name="paymentCardDetailsCompleteTransmissionIndicator" type="xs:boolean"  />
                  <xs:attribute name="commonListCompleteTransmissionIndicator" type="xs:boolean"  />
                  <xs:attribute name="roleListCompleteTransmissionIndicator" type="xs:boolean"  />
                  <xs:attribute name="identificationListCompleteTransmissionIndicator" type="xs:boolean"  />
                  <xs:attribute name="industrySectorListCompleteTransmissionIndicator" type="xs:boolean"  />
                  <xs:attribute name="taxNumberListCompleteTransmissionIndicator" type="xs:boolean"  />
                  <xs:attribute name="financialServicesCompanyCodeInformationCompleteTransmissionIndicator" type="xs:boolean"  />
                  <xs:attribute name="creditManagementCustomInformationListCompleteTransmissionIndicator" type="xs:boolean"  />
                  <xs:attribute name="creditManagementExternalCreditInformationListCompleteTransmissionIndicator" type="xs:boolean"  />
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>