Resources/canonical_library/xsd/BusinessPartnersRelationships.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="BusinessPartnersRelationships" >
        <xs:complexType>
            <xs:sequence>
                <xs:element name="BusinessPartnersRelationship" maxOccurs="unbounded" minOccurs="0">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="BusinessPartnerPartnerId" type="xs:integer" minOccurs="0" maxOccurs="1" nillable="true"/>
                            <xs:element name="RelatedBusinessPartnerPartnerId" type="xs:integer" minOccurs="0" maxOccurs="1" nillable="true"/>
                            <xs:element name="RelationshipCategoryCode" type="xs:string" minOccurs="0" maxOccurs="1" nillable="true"/>
							<xs:element name="IsDefault" type="xs:boolean" minOccurs="0" maxOccurs="1" nillable="true"/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>
