Resources/canonical_library/xsd/Candidate.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="Candidate">
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="1" maxOccurs="unbounded" name="Candidate">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element type="xs:long" nillable="false" maxOccurs="1" name="candidateId" xmlns=""/>
                            <xs:element type="xs:string" nillable="false" maxOccurs="1" name="lastName" xmlns=""/>
                            <xs:element type="xs:string" nillable="false" maxOccurs="1" name="middleName" xmlns=""/>
                            <xs:element type="xs:string" nillable="false" maxOccurs="1" name="ThirdName" xmlns=""/>
                            <xs:element type="xs:string" nillable="false" maxOccurs="1" name="firstName" xmlns=""/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>
