Resources/canonical_library/xsd/cart.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="cart">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="coverages">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="product">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="features">
											<xs:complexType>
												<xs:sequence>
													<xs:element type="xs:float" name="amount"/>
													<xs:element type="xs:float" name="percentage"/>
													<xs:element type="xs:string" name="code"/>
													<xs:element type="xs:string" name="couponCode"/>
													<xs:element type="xs:string" name="type"/>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
										<xs:element type="xs:string" name="code"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element type="xs:byte" name="entryNumber"/>
							<xs:element name="root">
								<xs:complexType>
									<xs:sequence>
										<xs:element type="xs:byte" name="entryNumber"/>
										<xs:element name="Limit" maxOccurs="unbounded" minOccurs="0">
											<xs:complexType>
												<xs:sequence>
													<xs:element type="xs:float" name="amount"/>
													<xs:element type="xs:string" name="type"/>
													<xs:element type="xs:string" name="productCode"/>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
										<xs:element name="Deductible" maxOccurs="unbounded" minOccurs="0">
											<xs:complexType>
												<xs:sequence>
													<xs:element type="xs:float" name="amount"/>
													<xs:element type="xs:string" name="type"/>
													<xs:element type="xs:string" name="productCode"/>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
										<xs:element name="Discount" maxOccurs="unbounded" minOccurs="0">
											<xs:complexType>
												<xs:sequence>
													<xs:element type="xs:float" name="amount"/>
													<xs:element type="xs:float" name="percentage"/>
													<xs:element type="xs:string" name="couponcode"/>
													<xs:element type="xs:string" name="type"/>
													<xs:element type="xs:string" name="productCode"/>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="insuredObject">
								<xs:complexType>
									<xs:sequence>
										<xs:element type="xs:short" name="insuredObjectId"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element type="xs:byte" name="cartId"/>
				<xs:element name="policyHolder">
					<xs:complexType>
						<xs:sequence>
							<xs:element type="xs:string" name="customerId"/>
							<xs:element name="root">
								<xs:complexType>
									<xs:sequence>
										<xs:element type="xs:string" name="customerId"/>
										<xs:element type="xs:short" name="bpId"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element type="xs:string" name="email"/>
							<xs:element type="xs:date" name="dateOfBirth"/>
							<xs:element type="xs:string" name="firstName"/>
							<xs:element type="xs:string" name="lastName"/>
							<xs:element name="address">
								<xs:complexType>
									<xs:sequence>
										<xs:element type="xs:string" name="street"/>
										<xs:element type="xs:byte" name="housenumber"/>
										<xs:element type="xs:int" name="postalcode"/>
										<xs:element type="xs:string" name="city"/>
										<xs:element type="xs:string" name="country"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element type="xs:string" name="selectedQuoteVariant"/>
				<xs:element type="xs:string" name="mainProduct"/>
				<xs:element name="root">
					<xs:complexType>
						<xs:sequence>
        					<xs:element name="Discount" maxOccurs="unbounded" minOccurs="0">
        						<xs:complexType>
        							<xs:sequence>
        								<xs:element type="xs:float" name="amount"/>
        								<xs:element type="xs:float" name="percentage"/>
        								<xs:element type="xs:string" name="couponcode"/>
        								<xs:element type="xs:string" name="type"/>
        							</xs:sequence>
        						</xs:complexType>
        					</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="quoteInformation">
					<xs:complexType>
						<xs:sequence>
							<xs:element type="xs:string" name="startDate"/>
							<xs:element name="paymentFrequency">
								<xs:complexType>
									<xs:sequence>
										<xs:element type="xs:string" name="code"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="insuredObjects">
								<xs:complexType>
									<xs:sequence>
										<xs:element type="xs:short" name="insuredObjectId"/>
										<xs:element name="childInsuredObjects">
											<xs:complexType>
												<xs:sequence>
													<xs:element type="xs:short" name="insuredObjectId"/>
													<xs:element name="NamedDriver">
														<xs:complexType>
															<xs:sequence>
																<xs:element type="xs:short" name="insuredObjectId"/>
																<xs:element type="xs:string" name="customerId"/>
																<xs:element type="xs:short" name="bpId"/>
															</xs:sequence>
														</xs:complexType>
													</xs:element>
													<xs:element type="xs:string" name="customerId"/>
													<xs:element type="xs:date" name="driverDob"/>
													<xs:element type="xs:string" name="insuredObjectType"/>
													<xs:element type="xs:string" name="driverCategory"/>
													<xs:element type="xs:string" name="driverMaritalStatus"/>
													<xs:element type="xs:string" name="driverGender"/>
													<xs:element type="xs:date" name="driverLicenceDate"/>
													<xs:element type="xs:string" name="driverLicenceNumber"/>
													<xs:element type="xs:string" name="firstName"/>
													<xs:element type="xs:string" name="lastName"/>
													<xs:element name="address">
														<xs:complexType>
															<xs:sequence>
																<xs:element type="xs:string" name="street"/>
																<xs:element type="xs:byte" name="housenumber"/>
																<xs:element type="xs:int" name="postalcode"/>
																<xs:element type="xs:string" name="city"/>
																<xs:element type="xs:string" name="country"/>
															</xs:sequence>
														</xs:complexType>
													</xs:element>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
										<xs:element type="xs:string" name="vehicleMake"/>
										<xs:element type="xs:string" name="insuredObjectType"/>
										<xs:element type="xs:string" name="vehicleModel"/>
										<xs:element type="xs:short" name="vehicleYear"/>
										<xs:element type="xs:short" name="vehicleAnnualMileage"/>
										<xs:element type="xs:date" name="vehiclePurchaseDate"/>
										<xs:element type="xs:string" name="vehicleType"/>
										<xs:element type="xs:string" name="vehicleOwnerPostalCode"/>
										<xs:element type="xs:string" name="vehicleUsage"/>
										<xs:element type="xs:int" name="vehicleValue"/>
										<xs:element type="xs:string" name="vehicleLicenseNumber"/>
										<xs:element type="xs:long" name="vehicleIdentificationNumber"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="premiumPayer">
								<xs:complexType>
									<xs:sequence>
										<xs:element type="xs:string" name="customerId"/>
										<xs:element name="root">
											<xs:complexType>
												<xs:sequence>
													<xs:element type="xs:string" name="customerId"/>
													<xs:element type="xs:short" name="bpId"/>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
										<xs:element type="xs:date" name="dateOfBirth"/>
										<xs:element type="xs:string" name="firstName"/>
										<xs:element type="xs:string" name="lastName"/>
										<xs:element name="address">
											<xs:complexType>
												<xs:sequence>
													<xs:element type="xs:string" name="street"/>
													<xs:element type="xs:byte" name="housenumber"/>
													<xs:element type="xs:int" name="postalcode"/>
													<xs:element type="xs:string" name="city"/>
													<xs:element type="xs:string" name="country"/>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="currency">
					<xs:complexType>
						<xs:sequence>
							<xs:element type="xs:string" name="isocode"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>