Resources/canonical_library/xsd/Cart.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="Cart">
    <xs:complexType>	  
      <xs:sequence>
		<xs:element name="ExternalId" type="xs:string" maxOccurs="1" minOccurs="1"/>
		<xs:element name="DistributionChain" type="xs:string" maxOccurs="1" minOccurs="1"/>
	    <xs:element name="PricingProcedureName" type="xs:string" maxOccurs="1" minOccurs="0"/>
		<xs:element name="PromotionsSummary" type="xs:string" maxOccurs="1" minOccurs="0"/>
		<xs:element name="Currency" type="xs:string" maxOccurs="1" minOccurs="1"/>
		<xs:element name="CartComments" minOccurs="0" maxOccurs="1">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="CartComment" minOccurs="0" maxOccurs="unbounded">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="UserFullName" type="xs:string" minOccurs="0" maxOccurs="1"/>
                    <xs:element name="UserEmail" type="xs:string" minOccurs="0" maxOccurs="1"/>
                    <xs:element name="UserCompany" type="xs:string" minOccurs="0" maxOccurs="1"/>
                    <xs:element name="Comment" type="xs:string" minOccurs="0" maxOccurs="1"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="Items" minOccurs="0" maxOccurs="1">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="Item" minOccurs="0" maxOccurs="unbounded">
                <xs:complexType>
                  <xs:sequence>
					<xs:element name="ExternalCartItem" type="xs:string" minOccurs="0" maxOccurs="1"/>
					<xs:element name="ConfigurationId" type="xs:string" minOccurs="0" maxOccurs="1"/>
					<xs:element name="CatalogueCode" type="xs:string" maxOccurs="1" minOccurs="1" />
                    <xs:element name="Quantity" type="xs:decimal" maxOccurs="1" minOccurs="1" />
					<xs:element name="ItemComments" minOccurs="0" maxOccurs="1">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="ItemComment" minOccurs="0" maxOccurs="unbounded">
                            <xs:complexType>
                              <xs:sequence>
								<xs:element name="UserFullName" type="xs:string" minOccurs="0" maxOccurs="1"/>
								<xs:element name="UserEmail" type="xs:string" minOccurs="0" maxOccurs="1"/>
								<xs:element name="UserCompany" type="xs:string" minOccurs="0" maxOccurs="1"/>
								<xs:element name="Comment" type="xs:string" minOccurs="0" maxOccurs="1"/>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="Attributes" minOccurs="0" maxOccurs="1">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="Attribute" minOccurs="0" maxOccurs="unbounded">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="Name" type="xs:string" maxOccurs="1" minOccurs="1" />
                                <xs:element name="Value" type="xs:string" minOccurs="1" maxOccurs="unbounded" />
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="Properties" minOccurs="0" maxOccurs="1">
          <xs:complexType>
            <xs:sequence>
              <xs:element maxOccurs="unbounded" name="Property" minOccurs="0">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="Name" type="xs:string" maxOccurs="1" minOccurs="1" />
                    <xs:element name="Value" type="xs:string" maxOccurs="1" minOccurs="1" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="Customers" minOccurs="0" maxOccurs="1">
          <xs:complexType>
            <xs:sequence>
              <xs:element maxOccurs="3" name="Customer" minOccurs="0">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="Id" type="xs:unsignedInt" minOccurs="0" maxOccurs="1" />
                    <xs:element name="ExternalId" type="xs:string" minOccurs="0" maxOccurs="1" />
                    <xs:element name="FirstName" type="xs:string" minOccurs="0" maxOccurs="1" />
                    <xs:element name="LastName" type="xs:string" minOccurs="0" maxOccurs="1" />
                    <xs:element name="Company" type="xs:string" minOccurs="0" maxOccurs="1" />
                    <xs:element name="Address1" type="xs:string" minOccurs="0" maxOccurs="1" />
                    <xs:element name="Address2" type="xs:string" minOccurs="0" maxOccurs="1" />
                    <xs:element name="City" type="xs:string" minOccurs="0" maxOccurs="1" />
                    <xs:element name="StateAbbrev" type="xs:string" minOccurs="0" maxOccurs="1" />
                    <xs:element name="ZipCode" type="xs:string" minOccurs="0" maxOccurs="1" />
                    <xs:element name="CountryAbbrev" type="xs:string" minOccurs="0" maxOccurs="1" />
                    <xs:element name="TerritoryName" type="xs:string" minOccurs="0" maxOccurs="1" />
                    <xs:element name="BusinessPhone" type="xs:string" minOccurs="0" maxOccurs="1" />
                    <xs:element name="BusinessFax" type="xs:string" minOccurs="0" maxOccurs="1" />
                    <xs:element name="EMail" type="xs:string" minOccurs="0" maxOccurs="1" />
                  </xs:sequence>
                  <xs:attribute name="CustomerRoleType" type="customerRole" use="required" />
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
	  <xs:attribute name="PREVENT_EMPTY_QUOTE" type="xs:integer" use="optional"/>
    </xs:complexType>
  </xs:element>
  <xs:simpleType name="yesno">
    <xs:restriction base="xs:string">
      <xs:enumeration value="0" />
      <xs:enumeration value="1" />
      <xs:enumeration value="true" />
      <xs:enumeration value="false" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="customerRole">
    <xs:restriction base="xs:string">
      <xs:enumeration value="1" />
      <xs:enumeration value="2" />
      <xs:enumeration value="3" />
    </xs:restriction>
  </xs:simpleType>
  
</xs:schema>