Resources/canonical_library/xsd/cashCallDetails.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="cashCallDetails">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="docInformation">
         <xs:complexType>
            <xs:sequence>
                <xs:element name="companyCode" type="xs:string" minOccurs="0"/>
                <xs:element name="partner" type="xs:string" minOccurs="0"/>
                <xs:element name="batchNumber" type="xs:string" minOccurs="0"/>
                <xs:element name="effectiveDate" type="xs:string" minOccurs="0"/>
                <xs:element name="postingDate" type="xs:string" minOccurs="0"/>
                <xs:element name="postingPeriod" type="xs:string" minOccurs="0"/>
                <xs:element name="operationalMonth" type="xs:string" minOccurs="0"/>
                <xs:element name="jointVenture" type="xs:string" minOccurs="0"/>
                <xs:element name="fundCurrency" type="xs:string" minOccurs="0"/>
                <xs:element name="invoiceType" type="xs:string" minOccurs="0"/>
                <xs:element name="processType" type="xs:string" minOccurs="0"/>
            </xs:sequence>
         </xs:complexType>
        </xs:element>
        <xs:element minOccurs="0" maxOccurs="unbounded" name="cashCallInformation">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="jointVenture" type="xs:string" minOccurs="0"/>
              <xs:element name="jointVentureDescription" type="xs:string" minOccurs="0"/>
              <xs:element name="equityGroup" type="xs:string" minOccurs="0"/>
              <xs:element name="equityName" type="xs:string" minOccurs="0"/>
              <xs:element name="partner" type="xs:string" minOccurs="0"/>
              <xs:element name="costCenter" type="xs:string" minOccurs="0"/>
              <xs:element name="wbs" type="xs:string" minOccurs="0"/>
              <xs:element name="order" type="xs:string" minOccurs="0"/>
              <xs:element name="fundCurrency" type="xs:string" minOccurs="0"/>
              <xs:element name="fundAmount" type="xs:string" minOccurs="0"/>
              <xs:element name="jvFunction" type="xs:string" minOccurs="0"/>
              <xs:element name="opMonth" type="xs:string" minOccurs="0"/>
              <xs:element name="status" type="xs:string" minOccurs="0"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>