Resources/canonical_library/xsd/CompanyCodeVHSet.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="CompanyCodeVHSet">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" name="CompanyCodeVH">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="CompanyCodeName" type="xs:string" />
			  <xs:element name="CompanyCode" type="xs:string" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>