Resources/canonical_library/xsd/companyCodeData.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="companyCodeData">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="companyCodeReplicationRequest" minOccurs="0" maxOccurs="1" >
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element minOccurs="0" maxOccurs="unbounded" name="companyCode">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element minOccurs="0" maxOccurs="1" name="companyCode" type="xs:string"/>
                                        <xs:element minOccurs="0" maxOccurs="1" name="companyCodeName" type="xs:string"/>
                                        <xs:element minOccurs="0" maxOccurs="1" name="countryKey" type="xs:string"/>
                                        <xs:element minOccurs="0" maxOccurs="1" name="currencyKey" type="xs:string"/>
                                        <xs:element minOccurs="0" maxOccurs="1" name="addressData">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element minOccurs="0" maxOccurs="1" name="addressLine1" type="xs:string"/>
                                                    <xs:element minOccurs="0" maxOccurs="1" name="addressLine2" type="xs:string"/>
                                                    <xs:element minOccurs="0" maxOccurs="1" name="addressLine3" type="xs:string"/>
                                                    <xs:element minOccurs="0" maxOccurs="1" name="city" type="xs:string"/>
                                                    <xs:element minOccurs="0" maxOccurs="1" name="countryKey_code" type="xs:string"/>
                                                    <xs:element minOccurs="0" maxOccurs="1" name="email" type="xs:string"/>
                                                    <xs:element minOccurs="0" maxOccurs="1" name="extension" type="xs:string"/>
                                                    <xs:element minOccurs="0" maxOccurs="1" name="faxNumber" type="xs:string"/>
                                                    <xs:element minOccurs="0" maxOccurs="1" name="houseNumber" type="xs:string"/>
                                                    <xs:element minOccurs="0" maxOccurs="1" name="mobile" type="xs:string"/>
                                                    <xs:element minOccurs="0" maxOccurs="1" name="poBox" type="xs:string"/>
                                                    <xs:element minOccurs="0" maxOccurs="1" name="postalCode" type="xs:string"/>
                                                    <xs:element minOccurs="0" maxOccurs="1" name="street" type="xs:string"/>
                                                    <xs:element minOccurs="0" maxOccurs="1" name="telephone" type="xs:string"/>
                                                    <xs:element minOccurs="0" maxOccurs="2" name="addressLines"/>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element type="xs:string" minOccurs="0" maxOccurs="1" name="messageID"/>
                <xs:element type="xs:string" minOccurs="0" maxOccurs="1" name="senderID"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>