Resources/canonical_library/xsd/Configuration.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Configuration">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" minOccurs="0" name="Config">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="POSEX" type="xs:unsignedByte" />
              <xs:element name="LINE_NO" type="xs:unsignedByte" />
              <xs:element name="CONTENT" type="xs:string" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
