Resources/canonical_library/xsd/Contact_2.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:element name="Contact" type="Contact"/>

  <xs:element name="ContactAttachment" type="ContactAttachment"/>

  <xs:element name="ContactBusinessAddress" type="ContactBusinessAddress"/>

  <xs:element name="ContactCommunicationData" type="ContactCommunicationData"/>

  <xs:element name="ContactNotes" type="ContactNotes"/>

  <xs:element name="ContactPersonalAddress" type="ContactPersonalAddress"/>

  <xs:complexType name="Contact">
    <xs:sequence>
      <xs:element name="AcademicTitleCode" type="xs:string" minOccurs="0"/>
      <xs:element name="AcademicTitleCodeText" type="xs:string" minOccurs="0"/>
      <xs:element name="AccountID" type="xs:string" minOccurs="0"/>
      <xs:element name="AccountName" type="xs:string" minOccurs="0"/>
      <xs:element name="AccountUUID" type="xs:string" minOccurs="0"/>
      <xs:element name="AdditionalAcademicTitleCode" type="xs:string" minOccurs="0"/>
      <xs:element name="AdditionalAcademicTitleCodeText" type="xs:string" minOccurs="0"/>
      <xs:element name="BestReachedByCode" type="xs:string" minOccurs="0"/>
      <xs:element name="BestReachedByCodeText" type="xs:string" minOccurs="0"/>
      <xs:element name="Building" type="xs:string" minOccurs="0"/>
      <xs:element name="BusinessAddressCity" type="xs:string" minOccurs="0"/>
      <xs:element name="BusinessAddressCountryCode" type="xs:string" minOccurs="0"/>
      <xs:element name="BusinessAddressCountryCodeText" type="xs:string" minOccurs="0"/>
      <xs:element name="BusinessAddressHouseID" type="xs:string" minOccurs="0"/>
      <xs:element name="BusinessAddressStateCode" type="xs:string" minOccurs="0"/>
      <xs:element name="BusinessAddressStateCodeText" type="xs:string" minOccurs="0"/>
      <xs:element name="BusinessAddressStreet" type="xs:string" minOccurs="0"/>
      <xs:element name="BusinessAddressStreetPostalCode" type="xs:string" minOccurs="0"/>
      <xs:element name="BusinessAddressStreetPostalCodeText" type="xs:string" minOccurs="0"/>
      <xs:element name="CategoryCode" type="xs:string" minOccurs="0"/>
      <xs:element name="CategoryCodeText" type="xs:string" minOccurs="0"/>
      <xs:element name="ChangedBy" type="xs:string" minOccurs="0"/>
      <xs:element name="ChangedOn" type="xs:string" minOccurs="0"/>
      <xs:element name="ContactAttachment" type="ContactAttachment" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="ContactBusinessAddress" type="ContactBusinessAddress" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element ref="ContactCommunicationData" minOccurs="0"/>
      <xs:element name="ContactID" type="xs:string" minOccurs="0"/>
      <xs:element name="ContactName" type="xs:string" minOccurs="0"/>
      <xs:element name="ContactNotes" type="ContactNotes" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="ContactOwnerUUID" type="xs:string" minOccurs="0"/>
      <xs:element name="ContactPermissionCode" type="xs:string" minOccurs="0"/>
      <xs:element name="ContactPermissionCodeText" type="xs:string" minOccurs="0"/>
      <xs:element name="ContactPersonalAddress" type="ContactPersonalAddress" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="CreatedBy" type="xs:string" minOccurs="0"/>
      <xs:element name="CreationOn" type="xs:string" minOccurs="0"/>
      <xs:element name="Department" type="xs:string" minOccurs="0"/>
      <xs:element name="DepartmentCode" type="xs:string" minOccurs="0"/>
      <xs:element name="DepartmentCodeText" type="xs:string" minOccurs="0"/>
      <xs:element name="ETag" type="xs:string" minOccurs="0"/>
      <xs:element name="Email" type="xs:string" minOccurs="0"/>
      <xs:element name="EmailInvalidIndicator" type="xs:boolean" minOccurs="0"/>
      <xs:element name="EndDate" type="xs:string" minOccurs="0"/>
      <xs:element name="ExtensionFields" type="xs:string" minOccurs="0"/>
      <xs:element name="Fax" type="xs:string" minOccurs="0"/>
      <xs:element name="FirstName" type="xs:string" minOccurs="0"/>
      <xs:element name="Floor" type="xs:string" minOccurs="0"/>
      <xs:element name="FunctionCode" type="xs:string" minOccurs="0"/>
      <xs:element name="FunctionCodeText" type="xs:string" minOccurs="0"/>
      <xs:element name="GenderCode" type="xs:string" minOccurs="0"/>
      <xs:element name="GenderCodeText" type="xs:string" minOccurs="0"/>
      <xs:element name="JobTitle" type="xs:string" minOccurs="0"/>
      <xs:element name="LanguageCode" type="xs:string" minOccurs="0"/>
      <xs:element name="LanguageCodeText" type="xs:string" minOccurs="0"/>
      <xs:element name="LastName" type="xs:string" minOccurs="0"/>
      <xs:element name="MaritalStatusCode" type="xs:string" minOccurs="0"/>
      <xs:element name="MaritalStatusCodeText" type="xs:string" minOccurs="0"/>
      <xs:element name="MarketingLeadIndicator" type="xs:boolean" minOccurs="0"/>
      <xs:element name="MiddleName" type="xs:string" minOccurs="0"/>
      <xs:element name="Mobile" type="xs:string" minOccurs="0"/>
      <xs:element name="NickName" type="xs:string" minOccurs="0"/>
      <xs:element name="ObjectID" type="xs:string" minOccurs="0"/>
      <xs:element name="PerceptionOfCompanyCode" type="xs:string" minOccurs="0"/>
      <xs:element name="PerceptionOfCompanyCodeText" type="xs:string" minOccurs="0"/>
      <xs:element name="Phone" type="xs:string" minOccurs="0"/>
      <xs:element name="RoleCode" type="xs:string" minOccurs="0"/>
      <xs:element name="RoleCodeText" type="xs:string" minOccurs="0"/>
      <xs:element name="Room" type="xs:string" minOccurs="0"/>
      <xs:element name="StartDate" type="xs:string" minOccurs="0"/>
      <xs:element name="StatusCode" type="xs:string" minOccurs="0"/>
      <xs:element name="StatusCodeText" type="xs:string" minOccurs="0"/>
      <xs:element name="TitleCode" type="xs:string" minOccurs="0"/>
      <xs:element name="TitleCodeText" type="xs:string" minOccurs="0"/>
      <xs:element name="UUID" type="xs:string" minOccurs="0"/>
      <xs:element name="VIPContactCode" type="xs:string" minOccurs="0"/>
      <xs:element name="VIPContactCodeText" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="ContactAttachment">
    <xs:sequence>
      <xs:element name="Binary" type="xs:anyType" minOccurs="0"/>
      <xs:element name="CategoryCode" type="xs:string" minOccurs="0"/>
      <xs:element name="CategoryCodeText" type="xs:string" minOccurs="0"/>
      <xs:element name="CreatedBy" type="xs:string" minOccurs="0"/>
      <xs:element name="CreatedOn" type="xs:string" minOccurs="0"/>
      <xs:element name="DocumentLink" type="xs:string" minOccurs="0"/>
      <xs:element name="ETag" type="xs:string" minOccurs="0"/>
      <xs:element name="ExtensionFields" type="xs:string" minOccurs="0"/>
      <xs:element name="LastUpdatedBy" type="xs:string" minOccurs="0"/>
      <xs:element name="LastUpdatedOn" type="xs:string" minOccurs="0"/>
      <xs:element name="LinkWebURI" type="xs:string" minOccurs="0"/>
      <xs:element name="MimeType" type="xs:string" minOccurs="0"/>
      <xs:element name="Name" type="xs:string" minOccurs="0"/>
      <xs:element name="ObjectID" type="xs:string" minOccurs="0"/>
      <xs:element name="ParentObjectID" type="xs:string" minOccurs="0"/>
      <xs:element name="SizeInkB" type="xs:double" minOccurs="0"/>
      <xs:element name="TypeCode" type="xs:string" minOccurs="0"/>
      <xs:element name="TypeCodeText" type="xs:string" minOccurs="0"/>
      <xs:element name="UUID" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="ContactBusinessAddress">
    <xs:sequence>
      <xs:element name="ETag" type="xs:string" minOccurs="0"/>
      <xs:element name="ExtensionFields" type="xs:string" minOccurs="0"/>
      <xs:element name="firstLineDescription" type="xs:string" minOccurs="0"/>
      <xs:element name="ObjectID" type="xs:string" minOccurs="0"/>
      <xs:element name="PostalAddress" type="xs:string" minOccurs="0"/>
      <xs:element name="PreferredCommunicationMediumTypeCode" type="xs:string" minOccurs="0"/>
      <xs:element name="PreferredCommunicationMediumTypeCodeText" type="xs:string" minOccurs="0"/>
      <xs:element name="SecondLineDescription" type="xs:string" minOccurs="0"/>
      <xs:element name="UUID" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="ContactCommunicationData">
    <xs:sequence>
      <xs:element name="BuildingID" type="xs:string" minOccurs="0"/>
      <xs:element name="DepartmentFromBusinessCard" type="xs:string" minOccurs="0"/>
      <xs:element name="Email" type="xs:string" minOccurs="0"/>
      <xs:element name="EmailInvalid" type="xs:boolean" minOccurs="0"/>
      <xs:element name="ETag" type="xs:string" minOccurs="0"/>
      <xs:element name="ExtensionFields" type="xs:string" minOccurs="0"/>
      <xs:element name="Fax" type="xs:string" minOccurs="0"/>
      <xs:element name="FloorID" type="xs:string" minOccurs="0"/>
      <xs:element name="JobTitle" type="xs:string" minOccurs="0"/>
      <xs:element name="Mobile" type="xs:string" minOccurs="0"/>
      <xs:element name="ObjectID" type="xs:string" minOccurs="0"/>
      <xs:element name="Phone" type="xs:string" minOccurs="0"/>
      <xs:element name="RoomID" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="ContactNotes">
    <xs:sequence>
      <xs:element name="AuthorName" type="xs:string" minOccurs="0"/>
      <xs:element name="AuthorUUID" type="xs:string" minOccurs="0"/>
      <xs:element name="CreatedBy" type="xs:string" minOccurs="0"/>
      <xs:element name="CreatedOn" type="xs:string" minOccurs="0"/>
      <xs:element name="ETag" type="xs:string" minOccurs="0"/>
      <xs:element name="ExtensionFields" type="xs:string" minOccurs="0"/>
      <xs:element name="LanguageCode" type="xs:string" minOccurs="0"/>
      <xs:element name="LanguageCodeText" type="xs:string" minOccurs="0"/>
      <xs:element name="LastUpdatedBy" type="xs:string" minOccurs="0"/>
      <xs:element name="ObjectID" type="xs:string" minOccurs="0"/>
      <xs:element name="ParentObjectID" type="xs:string" minOccurs="0"/>
      <xs:element name="Text" type="xs:string" minOccurs="0"/>
      <xs:element name="TypeCode" type="xs:string" minOccurs="0"/>
      <xs:element name="TypeCodeText" type="xs:string" minOccurs="0"/>
      <xs:element name="updatedOn" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="ContactPersonalAddress">
    <xs:sequence>
      <xs:element name="AdditionalStreetPrefixName" type="xs:string" minOccurs="0"/>
      <xs:element name="AdditionalStreetSuffixName" type="xs:string" minOccurs="0"/>
      <xs:element name="Address" type="xs:string" minOccurs="0"/>
      <xs:element name="City" type="xs:string" minOccurs="0"/>
      <xs:element name="CountryCode" type="xs:string" minOccurs="0"/>
      <xs:element name="CountryCodeText" type="xs:string" minOccurs="0"/>
      <xs:element name="Email" type="xs:string" minOccurs="0"/>
      <xs:element name="ETag" type="xs:string" minOccurs="0"/>
      <xs:element name="ExtensionFields" type="xs:string" minOccurs="0"/>
      <xs:element name="Fax" type="xs:string" minOccurs="0"/>
      <xs:element name="HouseNumber" type="xs:string" minOccurs="0"/>
      <xs:element name="MainPersonalAddress" type="xs:boolean" minOccurs="0"/>
      <xs:element name="Mobile" type="xs:string" minOccurs="0"/>
      <xs:element name="ObjectID" type="xs:string" minOccurs="0"/>
      <xs:element name="POBox" type="xs:string" minOccurs="0"/>
      <xs:element name="POBoxPostalCode" type="xs:string" minOccurs="0"/>
      <xs:element name="POBoxPostalCodeText" type="xs:string" minOccurs="0"/>
      <xs:element name="ParentObjectID" type="xs:string" minOccurs="0"/>
      <xs:element name="Phone" type="xs:string" minOccurs="0"/>
      <xs:element name="PostalCode" type="xs:string" minOccurs="0"/>
      <xs:element name="PostalCodeText" type="xs:string" minOccurs="0"/>
      <xs:element name="State" type="xs:string" minOccurs="0"/>
      <xs:element name="StateText" type="xs:string" minOccurs="0"/>
      <xs:element name="Street" type="xs:string" minOccurs="0"/>
      <xs:element name="StreetPrefixName" type="xs:string" minOccurs="0"/>
      <xs:element name="StreetSuffixName" type="xs:string" minOccurs="0"/>
      <xs:element name="UUID" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>

