Resources/canonical_library/xsd/CreatePayloadGetCatalog.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="CreatePayloadGetCatalog">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="atcontext">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="atvocab" type="xs:anyURI"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="attype" type="xs:string"/>
        <xs:element name="counterPartyAddress" type="xs:anyURI"/>
		<xs:element name="counterPartyId" type="xs:string"/>
        <xs:element name="protocol" type="xs:string"/>
        <xs:element name="querySpec">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="offset" type="xs:integer"/>
              <xs:element name="limit" type="xs:integer"/>
              <xs:element name="sortOrder" type="xs:string" minOccurs="0"/>
              <xs:element name="sortField" type="xs:string" minOccurs="0"/>
              <xs:element name="filterExpression" maxOccurs="unbounded" minOccurs="0">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="operandLeft" type="xs:string" minOccurs="0"/>
							<xs:element name="operator" type="xs:string" minOccurs="0"/>
							<xs:element name="operandRight" type="xs:string" minOccurs="0"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>                
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
