Resources/canonical_library/xsd/CreateAssessmentOrderRequestResponse.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="CreateAssessmentOrderRequestResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="CreateAssessmentOrderRequestResponse">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="AssessmentAcknowledgement" minOccurs="0">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:string" name="receiptId" minOccurs="0"/>
                    <xs:element type="xs:string" name="orderIdentifier" minOccurs="0"/>
                    <xs:element type="xs:string" name="candidateHandoffURL" minOccurs="0"/>
                    <xs:element type="xs:string" name="status" minOccurs="0"/>
                    <xs:element type="xs:string" name="details" minOccurs="0"/>
                    <xs:element type="xs:string" name="errorCode" minOccurs="0"/>
                    <xs:element type="xs:string" name="needToTakeAssessment" minOccurs="0"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>