Resources/canonical_library/xsd/CRMXIF_PARTNER_REL_SAVE01.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="CRMXIF_PARTNER_REL_SAVE01">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="IDOC">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="EDI_DC40">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:string" name="TABNAM"/>
                    <xs:element type="xs:short" name="MANDT"/>
                    <xs:element type="xs:int" name="DOCNUM"/>
                    <xs:element type="xs:short" name="DOCREL"/>
                    <xs:element type="xs:byte" name="STATUS"/>
                    <xs:element type="xs:byte" name="DIRECT"/>
                    <xs:element type="xs:byte" name="OUTMOD"/>
                    <xs:element type="xs:string" name="IDOCTYP"/>
                    <xs:element type="xs:string" name="MESTYP"/>
                    <xs:element type="xs:string" name="SNDPOR"/>
                    <xs:element type="xs:string" name="SNDPRT"/>
                    <xs:element type="xs:string" name="SNDPRN"/>
                    <xs:element type="xs:string" name="RCVPOR"/>
                    <xs:element type="xs:string" name="RCVPRT"/>
                    <xs:element type="xs:string" name="RCVPRN"/>
                    <xs:element type="xs:int" name="CREDAT"/>
                    <xs:element type="xs:int" name="CRETIM"/>
                    <xs:element type="xs:long" name="SERIAL"/>
                  </xs:sequence>
                  <xs:attribute type="xs:byte" name="SEGMENT"/>
                </xs:complexType>
              </xs:element>
              <xs:element name="E1010821150212">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:string" name="APPL_SNAME"/>
                    <xs:element name="E1010821150213">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element type="xs:string" name="APPL_SNAME"/>
                          <xs:element type="xs:string" name="OBJECT"/>
                          <xs:element type="xs:string" name="OBJECT_TASK"/>
                          <xs:element name="E1010821150214">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element type="xs:string" name="APPL_SNAME"/>
                                <xs:element type="xs:string" name="RELAT_CATEGORY"/>
                                <xs:element type="xs:int" name="DATE_TO"/>
                                <xs:element name="E1010821140030">
                                  <xs:complexType>
                                    <xs:sequence>
                                      <xs:element type="xs:string" name="APPL_SNAME"/>
                                      <xs:element type="xs:int" name="PARTNER_NO"/>
                                      <xs:element type="xs:string" name="PARTNER_GUID"/>
                                      <xs:element name="E1010820143604">
                                        <xs:complexType>
                                          <xs:sequence>
                                            <xs:element type="xs:string" name="APPL_SNAME"/>
                                            <xs:element type="xs:string" name="IDENTIFICATIONCATEGORY"/>
                                            <xs:element type="xs:int" name="IDENTIFICATIONNUMBER"/>
                                          </xs:sequence>
                                          <xs:attribute type="xs:byte" name="SEGMENT"/>
                                        </xs:complexType>
                                      </xs:element>
                                    </xs:sequence>
                                    <xs:attribute type="xs:byte" name="SEGMENT"/>
                                  </xs:complexType>
                                </xs:element>
                                <xs:element name="E1010821150215">
                                  <xs:complexType>
                                    <xs:sequence>
                                      <xs:element type="xs:string" name="APPL_SNAME"/>
                                      <xs:element type="xs:int" name="PARTNER_NO"/>
                                      <xs:element type="xs:string" name="PARTNER_GUID"/>
                                    </xs:sequence>
                                    <xs:attribute type="xs:byte" name="SEGMENT"/>
                                  </xs:complexType>
                                </xs:element>
                              </xs:sequence>
                              <xs:attribute type="xs:byte" name="SEGMENT"/>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                        <xs:attribute type="xs:byte" name="SEGMENT"/>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="E1010419123754">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element type="xs:string" name="APPL_SNAME"/>
                          <xs:element name="E1010419123755">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element type="xs:string" name="APPL_SNAME"/>
                                <xs:element type="xs:string" name="TASK"/>
                                <xs:element name="E1010419123756">
                                  <xs:complexType>
                                    <xs:sequence>
                                      <xs:element type="xs:string" name="APPL_SNAME"/>
                                      <xs:element type="xs:int" name="DATE_FROM"/>
                                    </xs:sequence>
                                    <xs:attribute type="xs:byte" name="SEGMENT"/>
                                  </xs:complexType>
                                </xs:element>
                                <xs:element name="E1010419123757">
                                  <xs:complexType>
                                    <xs:sequence>
                                      <xs:element type="xs:string" name="APPL_SNAME"/>
                                      <xs:element type="xs:string" name="DATE_FROM"/>
                                      <xs:element type="xs:string" name="RELATION_KIND"/>
                                    </xs:sequence>
                                    <xs:attribute type="xs:byte" name="SEGMENT"/>
                                  </xs:complexType>
                                </xs:element>
                              </xs:sequence>
                              <xs:attribute type="xs:byte" name="SEGMENT"/>
                            </xs:complexType>
                          </xs:element>
                          <xs:element name="E1010419123758">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element type="xs:string" name="APPL_SNAME"/>
                                <xs:element type="xs:string" name="CURRENT_STATE"/>
                                <xs:element name="E1010419123759">
                                  <xs:complexType>
                                    <xs:sequence>
                                      <xs:element type="xs:string" name="APPL_SNAME"/>
                                      <xs:element type="xs:string" name="TASK"/>
                                      <xs:element name="E1010419123800">
                                        <xs:complexType>
                                          <xs:sequence>
                                            <xs:element type="xs:string" name="APPL_SNAME"/>
                                            <xs:element type="xs:string" name="GUID"/>
                                          </xs:sequence>
                                          <xs:attribute type="xs:byte" name="SEGMENT"/>
                                        </xs:complexType>
                                      </xs:element>
                                      <xs:element name="E1010419123801">
                                        <xs:complexType>
                                          <xs:sequence>
                                            <xs:element type="xs:string" name="APPL_SNAME"/>
                                            <xs:element name="E1010419123802">
                                              <xs:complexType>
                                                <xs:sequence>
                                                  <xs:element type="xs:string" name="APPL_SNAME"/>
                                                  <xs:element name="E1010419123803">
                                                    <xs:complexType>
                                                      <xs:sequence>
                                                        <xs:element type="xs:string" name="APPL_SNAME"/>
                                                        <xs:element type="xs:string" name="STANDARDADDRESS"/>
                                                        <xs:element type="xs:string" name="COMM_TYPE"/>
                                                        <xs:element type="xs:string" name="DEPARTMENT"/>
                                                        <xs:element type="xs:string" name="FUNCTION"/>
                                                      </xs:sequence>
                                                      <xs:attribute type="xs:byte" name="SEGMENT"/>
                                                    </xs:complexType>
                                                  </xs:element>
                                                  <xs:element name="E1010419123804">
                                                    <xs:complexType>
                                                      <xs:sequence>
                                                        <xs:element type="xs:string" name="APPL_SNAME"/>
                                                        <xs:element type="xs:string" name="STANDARDADDRESS"/>
                                                        <xs:element type="xs:string" name="BUILDING_P"/>
                                                        <xs:element type="xs:string" name="FLOOR"/>
                                                        <xs:element type="xs:string" name="ROOM_NO"/>
                                                        <xs:element type="xs:string" name="INITS_SIG"/>
                                                        <xs:element type="xs:string" name="INHOUSE_ML"/>
                                                        <xs:element type="xs:string" name="COMM_TYPE"/>
                                                        <xs:element type="xs:string" name="DEPARTMENT"/>
                                                        <xs:element type="xs:string" name="FUNCTION"/>
                                                      </xs:sequence>
                                                      <xs:attribute type="xs:byte" name="SEGMENT"/>
                                                    </xs:complexType>
                                                  </xs:element>
                                                </xs:sequence>
                                                <xs:attribute type="xs:byte" name="SEGMENT"/>
                                              </xs:complexType>
                                            </xs:element>
                                            <xs:element name="E1010328105801">
                                              <xs:complexType>
                                                <xs:sequence>
                                                  <xs:element type="xs:string" name="APPL_SNAME"/>
                                                  <xs:element name="E1010328105802">
                                                    <xs:complexType>
                                                      <xs:sequence>
                                                        <xs:element type="xs:string" name="APPL_SNAME"/>
                                                        <xs:element type="xs:string" name="CURRENT_STATE"/>
                                                        <xs:element name="E1010328105803" maxOccurs="unbounded" minOccurs="0">
                                                          <xs:complexType>
                                                            <xs:sequence>
                                                              <xs:element type="xs:string" name="APPL_SNAME"/>
                                                              <xs:element name="E1010328105804">
                                                                <xs:complexType>
                                                                  <xs:sequence>
                                                                    <xs:element type="xs:string" name="APPL_SNAME"/>
                                                                    <xs:element name="E1010328105805">
                                                                      <xs:complexType>
                                                                        <xs:sequence>
                                                                          <xs:element type="xs:string" name="APPL_SNAME"/>
                                                                          <xs:element type="xs:string" name="COUNTRY"/>
                                                                          <xs:element type="xs:string" name="COUNTRYISO"/>
                                                                          <xs:element type="xs:string" name="STD_NO" minOccurs="0"/>
                                                                          <xs:element type="xs:long" name="TELEPHONE"/>
                                                                          <xs:element type="xs:byte" name="EXTENSION" minOccurs="0"/>
                                                                          <xs:element type="xs:long" name="TEL_NO"/>
                                                                          <xs:element type="xs:long" name="CALLER_NO"/>
                                                                          <xs:element type="xs:byte" name="R_3_USER"/>
                                                                          <xs:element type="xs:string" name="HOME_FLAG" minOccurs="0"/>
                                                                          <xs:element type="xs:byte" name="CONSNUMBER"/>
                                                                        </xs:sequence>
                                                                        <xs:attribute type="xs:byte" name="SEGMENT" use="optional"/>
                                                                      </xs:complexType>
                                                                    </xs:element>
                                                                    <xs:element name="E1010328105806">
                                                                      <xs:complexType>
                                                                        <xs:sequence>
                                                                          <xs:element type="xs:string" name="APPL_SNAME"/>
                                                                        </xs:sequence>
                                                                        <xs:attribute type="xs:byte" name="SEGMENT" use="optional"/>
                                                                      </xs:complexType>
                                                                    </xs:element>
                                                                  </xs:sequence>
                                                                  <xs:attribute type="xs:byte" name="SEGMENT" use="optional"/>
                                                                </xs:complexType>
                                                              </xs:element>
                                                              <xs:element name="E1010328105807">
                                                                <xs:complexType>
                                                                  <xs:sequence>
                                                                    <xs:element type="xs:string" name="APPL_SNAME"/>
                                                                    <xs:element type="xs:string" name="CURRENT_STATE"/>
                                                                  </xs:sequence>
                                                                  <xs:attribute type="xs:byte" name="SEGMENT" use="optional"/>
                                                                </xs:complexType>
                                                              </xs:element>
                                                            </xs:sequence>
                                                            <xs:attribute type="xs:byte" name="SEGMENT" use="optional"/>
                                                          </xs:complexType>
                                                        </xs:element>
                                                      </xs:sequence>
                                                      <xs:attribute type="xs:byte" name="SEGMENT"/>
                                                    </xs:complexType>
                                                  </xs:element>
                                                  <xs:element name="E1010328105811">
                                                    <xs:complexType>
                                                      <xs:sequence>
                                                        <xs:element type="xs:string" name="APPL_SNAME"/>
                                                        <xs:element type="xs:string" name="CURRENT_STATE"/>
                                                      </xs:sequence>
                                                      <xs:attribute type="xs:byte" name="SEGMENT"/>
                                                    </xs:complexType>
                                                  </xs:element>
                                                  <xs:element name="E1010328105820">
                                                    <xs:complexType>
                                                      <xs:sequence>
                                                        <xs:element type="xs:string" name="APPL_SNAME"/>
                                                        <xs:element type="xs:string" name="CURRENT_STATE"/>
                                                      </xs:sequence>
                                                      <xs:attribute type="xs:byte" name="SEGMENT"/>
                                                    </xs:complexType>
                                                  </xs:element>
                                                  <xs:element name="E1010328105829">
                                                    <xs:complexType>
                                                      <xs:sequence>
                                                        <xs:element type="xs:string" name="APPL_SNAME"/>
                                                        <xs:element type="xs:string" name="CURRENT_STATE"/>
                                                      </xs:sequence>
                                                      <xs:attribute type="xs:byte" name="SEGMENT"/>
                                                    </xs:complexType>
                                                  </xs:element>
                                                  <xs:element name="E1010328105838">
                                                    <xs:complexType>
                                                      <xs:sequence>
                                                        <xs:element type="xs:string" name="APPL_SNAME"/>
                                                        <xs:element type="xs:string" name="CURRENT_STATE"/>
                                                        <xs:element name="E1010328105839">
                                                          <xs:complexType>
                                                            <xs:sequence>
                                                              <xs:element type="xs:string" name="APPL_SNAME"/>
                                                              <xs:element name="E1010328105840">
                                                                <xs:complexType>
                                                                  <xs:sequence>
                                                                    <xs:element type="xs:string" name="APPL_SNAME"/>
                                                                    <xs:element name="E1010328105841">
                                                                      <xs:complexType>
                                                                        <xs:sequence>
                                                                          <xs:element type="xs:string" name="APPL_SNAME"/>
                                                                          <xs:element type="xs:string" name="STD_NO"/>
                                                                          <xs:element type="xs:string" name="E_MAIL"/>
                                                                          <xs:element type="xs:string" name="EMAIL_SRCH"/>
                                                                          <xs:element type="xs:string" name="HOME_FLAG"/>
                                                                          <xs:element type="xs:byte" name="CONSNUMBER"/>
                                                                        </xs:sequence>
                                                                        <xs:attribute type="xs:byte" name="SEGMENT"/>
                                                                      </xs:complexType>
                                                                    </xs:element>
                                                                    <xs:element name="E1010328105842">
                                                                      <xs:complexType>
                                                                        <xs:sequence>
                                                                          <xs:element type="xs:string" name="APPL_SNAME"/>
                                                                        </xs:sequence>
                                                                        <xs:attribute type="xs:byte" name="SEGMENT"/>
                                                                      </xs:complexType>
                                                                    </xs:element>
                                                                  </xs:sequence>
                                                                  <xs:attribute type="xs:byte" name="SEGMENT"/>
                                                                </xs:complexType>
                                                              </xs:element>
                                                              <xs:element name="E1010328105843">
                                                                <xs:complexType>
                                                                  <xs:sequence>
                                                                    <xs:element type="xs:string" name="APPL_SNAME"/>
                                                                    <xs:element type="xs:string" name="CURRENT_STATE"/>
                                                                  </xs:sequence>
                                                                  <xs:attribute type="xs:byte" name="SEGMENT"/>
                                                                </xs:complexType>
                                                              </xs:element>
                                                            </xs:sequence>
                                                            <xs:attribute type="xs:byte" name="SEGMENT"/>
                                                          </xs:complexType>
                                                        </xs:element>
                                                      </xs:sequence>
                                                      <xs:attribute type="xs:byte" name="SEGMENT"/>
                                                    </xs:complexType>
                                                  </xs:element>
                                                  <xs:element name="E1010328105847">
                                                    <xs:complexType>
                                                      <xs:sequence>
                                                        <xs:element type="xs:string" name="APPL_SNAME"/>
                                                        <xs:element type="xs:string" name="CURRENT_STATE"/>
                                                      </xs:sequence>
                                                      <xs:attribute type="xs:byte" name="SEGMENT"/>
                                                    </xs:complexType>
                                                  </xs:element>
                                                  <xs:element name="E1010328105856">
                                                    <xs:complexType>
                                                      <xs:sequence>
                                                        <xs:element type="xs:string" name="APPL_SNAME"/>
                                                        <xs:element type="xs:string" name="CURRENT_STATE"/>
                                                      </xs:sequence>
                                                      <xs:attribute type="xs:byte" name="SEGMENT"/>
                                                    </xs:complexType>
                                                  </xs:element>
                                                  <xs:element name="E1010328105905">
                                                    <xs:complexType>
                                                      <xs:sequence>
                                                        <xs:element type="xs:string" name="APPL_SNAME"/>
                                                        <xs:element type="xs:string" name="CURRENT_STATE"/>
                                                      </xs:sequence>
                                                      <xs:attribute type="xs:byte" name="SEGMENT"/>
                                                    </xs:complexType>
                                                  </xs:element>
                                                  <xs:element name="E1010328105914">
                                                    <xs:complexType>
                                                      <xs:sequence>
                                                        <xs:element type="xs:string" name="APPL_SNAME"/>
                                                        <xs:element type="xs:string" name="CURRENT_STATE"/>
                                                      </xs:sequence>
                                                      <xs:attribute type="xs:byte" name="SEGMENT"/>
                                                    </xs:complexType>
                                                  </xs:element>
                                                  <xs:element name="E1010328105923">
                                                    <xs:complexType>
                                                      <xs:sequence>
                                                        <xs:element type="xs:string" name="APPL_SNAME"/>
                                                        <xs:element type="xs:string" name="CURRENT_STATE"/>
                                                      </xs:sequence>
                                                      <xs:attribute type="xs:byte" name="SEGMENT"/>
                                                    </xs:complexType>
                                                  </xs:element>
                                                  <xs:element name="E1010328105932">
                                                    <xs:complexType>
                                                      <xs:sequence>
                                                        <xs:element type="xs:string" name="APPL_SNAME"/>
                                                        <xs:element type="xs:string" name="CURRENT_STATE"/>
                                                      </xs:sequence>
                                                      <xs:attribute type="xs:byte" name="SEGMENT"/>
                                                    </xs:complexType>
                                                  </xs:element>
                                                  <xs:element name="E1010328105941">
                                                    <xs:complexType>
                                                      <xs:sequence>
                                                        <xs:element type="xs:string" name="APPL_SNAME"/>
                                                        <xs:element type="xs:string" name="CURRENT_STATE"/>
                                                      </xs:sequence>
                                                      <xs:attribute type="xs:byte" name="SEGMENT"/>
                                                    </xs:complexType>
                                                  </xs:element>
                                                </xs:sequence>
                                                <xs:attribute type="xs:byte" name="SEGMENT"/>
                                              </xs:complexType>
                                            </xs:element>
                                          </xs:sequence>
                                          <xs:attribute type="xs:byte" name="SEGMENT"/>
                                        </xs:complexType>
                                      </xs:element>
                                    </xs:sequence>
                                    <xs:attribute type="xs:byte" name="SEGMENT"/>
                                  </xs:complexType>
                                </xs:element>
                              </xs:sequence>
                              <xs:attribute type="xs:byte" name="SEGMENT"/>
                            </xs:complexType>
                          </xs:element>
                          <xs:element name="E1010419123805">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element type="xs:string" name="APPL_SNAME"/>
                                <xs:element name="E1010419123806">
                                  <xs:complexType>
                                    <xs:sequence>
                                      <xs:element type="xs:string" name="APPL_SNAME"/>
                                      <xs:element name="E1010419123807">
                                        <xs:complexType>
                                          <xs:sequence>
                                            <xs:element type="xs:string" name="APPL_SNAME"/>
                                            <xs:element type="xs:string" name="FUNCTIONNAME"/>
                                            <xs:element type="xs:byte" name="FUNCTION"/>
                                            <xs:element type="xs:string" name="DEPARTMENTNAME"/>
                                            <xs:element type="xs:byte" name="DEPARTMENT"/>
                                            <xs:element type="xs:byte" name="VIP"/>
                                            <xs:element type="xs:string" name="COMMENTS"/>
                                            <xs:element type="xs:short" name="TEL1_NUMBR"/>
                                            <xs:element type="xs:byte" name="TEL1_EXT"/>
                                            <xs:element type="xs:string" name="E_MAIL"/>
                                          </xs:sequence>
                                          <xs:attribute type="xs:byte" name="SEGMENT"/>
                                        </xs:complexType>
                                      </xs:element>
                                      <xs:element name="E1010419123808">
                                        <xs:complexType>
                                          <xs:sequence>
                                            <xs:element type="xs:string" name="APPL_SNAME"/>
                                            <xs:element type="xs:string" name="FUNCTIONNAME"/>
                                            <xs:element type="xs:string" name="FUNCTION"/>
                                            <xs:element type="xs:string" name="DEPARTMENTNAME"/>
                                            <xs:element type="xs:string" name="DEPARTMENT"/>
                                            <xs:element type="xs:string" name="AUTHORITY"/>
                                            <xs:element type="xs:string" name="VIP"/>
                                            <xs:element type="xs:string" name="COMMENTS"/>
                                            <xs:element type="xs:string" name="TEL1_NUMBR"/>
                                            <xs:element type="xs:string" name="TEL1_EXT"/>
                                            <xs:element type="xs:string" name="FAX_NUMBER"/>
                                            <xs:element type="xs:string" name="FAX_EXTENS"/>
                                            <xs:element type="xs:string" name="E_MAIL"/>
                                          </xs:sequence>
                                          <xs:attribute type="xs:byte" name="SEGMENT"/>
                                        </xs:complexType>
                                      </xs:element>
                                    </xs:sequence>
                                    <xs:attribute type="xs:byte" name="SEGMENT"/>
                                  </xs:complexType>
                                </xs:element>
                                <xs:element name="E1010419123809">
                                  <xs:complexType>
                                    <xs:sequence>
                                      <xs:element type="xs:string" name="APPL_SNAME"/>
                                      <xs:element name="E1010419123810">
                                        <xs:complexType>
                                          <xs:sequence>
                                            <xs:element type="xs:string" name="APPL_SNAME"/>
                                            <xs:element name="E1010419123811">
                                              <xs:complexType>
                                                <xs:sequence>
                                                  <xs:element type="xs:string" name="APPL_SNAME"/>
                                                </xs:sequence>
                                                <xs:attribute type="xs:byte" name="SEGMENT"/>
                                              </xs:complexType>
                                            </xs:element>
                                            <xs:element name="E1010419123812">
                                              <xs:complexType>
                                                <xs:sequence>
                                                  <xs:element type="xs:string" name="APPL_SNAME"/>
                                                </xs:sequence>
                                                <xs:attribute type="xs:byte" name="SEGMENT"/>
                                              </xs:complexType>
                                            </xs:element>
                                          </xs:sequence>
                                          <xs:attribute type="xs:byte" name="SEGMENT"/>
                                        </xs:complexType>
                                      </xs:element>
                                    </xs:sequence>
                                    <xs:attribute type="xs:byte" name="SEGMENT"/>
                                  </xs:complexType>
                                </xs:element>
                              </xs:sequence>
                              <xs:attribute type="xs:byte" name="SEGMENT"/>
                            </xs:complexType>
                          </xs:element>
                          <xs:element name="E1010419123813">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element type="xs:string" name="APPL_SNAME"/>
                                <xs:element name="E1010419123814">
                                  <xs:complexType>
                                    <xs:sequence>
                                      <xs:element type="xs:string" name="APPL_SNAME"/>
                                      <xs:element type="xs:float" name="PERCNTOFPARTICIPATION"/>
                                      <xs:element type="xs:float" name="AMOUNTOFPARTICIPATION"/>
                                    </xs:sequence>
                                    <xs:attribute type="xs:byte" name="SEGMENT"/>
                                  </xs:complexType>
                                </xs:element>
                                <xs:element name="E1010419123815">
                                  <xs:complexType>
                                    <xs:sequence>
                                      <xs:element type="xs:string" name="APPL_SNAME"/>
                                    </xs:sequence>
                                    <xs:attribute type="xs:byte" name="SEGMENT"/>
                                  </xs:complexType>
                                </xs:element>
                              </xs:sequence>
                              <xs:attribute type="xs:byte" name="SEGMENT"/>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                        <xs:attribute type="xs:byte" name="SEGMENT"/>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="E1010423171023">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element type="xs:string" name="APPL_SNAME"/>
                        </xs:sequence>
                        <xs:attribute type="xs:byte" name="SEGMENT"/>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                  <xs:attribute type="xs:byte" name="SEGMENT"/>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
            <xs:attribute type="xs:byte" name="BEGIN"/>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>