Resources/canonical_library/xsd/CustomerOrderConfirmation.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="CustomerOrderConfirmation">
    <xs:complexType>
      <xs:sequence>
        <xs:element type="xs:short" name="InternalID"/>
        <xs:element type="xs:int" name="RecepientInternalID"/>
        <xs:element type="xs:byte" name="TypeCode"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>