Resources/canonical_library/xsd/CustomerList.xsd

<xs:schema attributeFormDefault="unqualified"
	elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="CustomerList">
		<xs:complexType>
			<xs:sequence>
				<xs:element maxOccurs="unbounded" minOccurs="1"
					name="BusinessPartners">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="s4BusinessPartnerSpec" maxOccurs="1"
								minOccurs="0">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="roleCode" type="xs:string"
											minOccurs="0" maxOccurs="unbounded">
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
                            <xs:element name="rcCustomerData" minOccurs="0" maxOccurs="1">
										<xs:complexType>
											<xs:sequence>
											    <xs:element name="customerNumber" type="xs:string" minOccurs="0"/>
												<xs:element maxOccurs="1" minOccurs="0" name="personalInfo">
													<xs:complexType>
														<xs:sequence>
															<xs:element maxOccurs="1" minOccurs="0" name="firstName" type="xs:string" />
															<xs:element maxOccurs="1" minOccurs="0" name="lastName" type="xs:string" />
														</xs:sequence>
													</xs:complexType>
												</xs:element>
												<xs:element maxOccurs="1" minOccurs="0" name="corporateInfo">
													<xs:complexType>
														<xs:sequence>
															<xs:element maxOccurs="1" minOccurs="0" name="company" type="xs:string" />
														</xs:sequence>
													</xs:complexType>
												</xs:element>
												<xs:element maxOccurs="1" minOccurs="0" name="customerType">
													<xs:simpleType>
														<xs:restriction base="xs:string">
															<xs:enumeration value="INDIVIDUAL" />
															<xs:enumeration value="CORPORATE" />
														</xs:restriction>
													</xs:simpleType>
												</xs:element>
												<xs:element maxOccurs="1" minOccurs="0" name="externalObjectReferenceListCompleteIndicator" type="xs:boolean" />
												<xs:element maxOccurs="unbounded" minOccurs="0" name="externalObjectReferences" type="externalObjectReferencesType">
												</xs:element>
												<xs:element maxOccurs="1" minOccurs="0" name="createdBy" type="xs:string" />
												<xs:element maxOccurs="1" minOccurs="0" name="changedBy" type="xs:string" />
												<xs:element maxOccurs="1" minOccurs="0" name="createdAt" type="xs:long" />
												<xs:element maxOccurs="1" minOccurs="0" name="changedAt" type="xs:long" />
												<xs:element maxOccurs="unbounded" minOccurs="0" name="addresses">
													<xs:complexType>
														<xs:sequence>
															<xs:element
																maxOccurs="1" minOccurs="0" name="contactName"
																type="xs:string" />
															<xs:element
																maxOccurs="1" minOccurs="0" name="email"
																type="xs:string" />
															<xs:element
																maxOccurs="1" minOccurs="0" name="phone"
																type="xs:string" />
															<xs:element
																maxOccurs="1" minOccurs="0" name="street"
																type="xs:string" />
															<xs:element
																name="additionalAddressInfo" type="xs:string" minOccurs="0" maxOccurs="1">
															</xs:element>
															<xs:element
																maxOccurs="1" minOccurs="0" name="houseNumber"
																type="xs:string" />
															<xs:element
																maxOccurs="1" minOccurs="0" name="city"
																type="xs:string" />
															<xs:element
																maxOccurs="1" minOccurs="0" name="state"
																type="xs:string" />
															<xs:element
																maxOccurs="1" minOccurs="0" name="postalCode"
																type="xs:string" />
															<xs:element
																maxOccurs="1" minOccurs="0" name="country"
																type="xs:string" />
															<xs:element
																maxOccurs="1" minOccurs="0" name="isDefault"
																type="xs:boolean" />
															<xs:element
																name="addressUUID" type="xs:string" minOccurs="0"
																maxOccurs="1">
															</xs:element>
														</xs:sequence>
													</xs:complexType>
												</xs:element>
												<xs:element maxOccurs="unbounded" minOccurs="0" name="markets">
													<xs:complexType>
														<xs:sequence>
															<xs:element maxOccurs="1" minOccurs="0" name="salesArea">
																<xs:complexType>
																	<xs:sequence>
																		<xs:element maxOccurs="1" minOccurs="0" name="salesOrganization" type="xs:string" />
																		<xs:element maxOccurs="1" minOccurs="0" name="distributionChannel" type="xs:string" />
																		<xs:element maxOccurs="1" minOccurs="0" name="division" type="xs:string" />
																	</xs:sequence>
																</xs:complexType>
															</xs:element>
															<xs:element maxOccurs="1" minOccurs="0" name="active" type="xs:boolean" />
															<xs:element name="priceInfo" minOccurs="0" maxOccurs="1">
																<xs:complexType>
																	<xs:sequence>
																		<xs:element name="priceGroup" type="xs:string" maxOccurs="1" minOccurs="0">
																		</xs:element>
																		<xs:element name="priceListType" type="xs:string" minOccurs="0" maxOccurs="1">
																		</xs:element>
																		<xs:element name="incoterms" type="xs:string" minOccurs="0" maxOccurs="1">
																		</xs:element>
																		<xs:element name="incotermsLocation" type="xs:string" minOccurs="0" maxOccurs="1">
																		</xs:element>
																	</xs:sequence>
																</xs:complexType>
															</xs:element>
														</xs:sequence>
													</xs:complexType>
												</xs:element>
											</xs:sequence>
										</xs:complexType>
									</xs:element>
                            <xs:element name="rcContactData" maxOccurs="1" minOccurs="0">
										<xs:complexType>
											<xs:sequence>
											    <xs:element name="contactNumber" type="xs:string" minOccurs="0"/>
												<xs:element maxOccurs="1" minOccurs="1" name="personalInfo">
													<xs:complexType>
														<xs:sequence>
															<xs:element maxOccurs="1" minOccurs="1" name="firstName" type="xs:string" />
															<xs:element maxOccurs="1" minOccurs="1" name="lastName" type="xs:string" />
														</xs:sequence>
													</xs:complexType>
												</xs:element>
												<xs:element maxOccurs="1" minOccurs="0" name="externalObjectReferenceListCompleteIndicator" type="xs:boolean" />
												<xs:element maxOccurs="unbounded" minOccurs="0" name="externalObjectReferences" type="externalObjectReferencesType">
												</xs:element>
												<xs:element maxOccurs="1" minOccurs="0" name="createdBy" type="xs:string" />
												<xs:element maxOccurs="1" minOccurs="0" name="changedBy" type="xs:string" />
												<xs:element maxOccurs="1" minOccurs="0" name="createdAt" type="xs:long" />
												<xs:element maxOccurs="1" minOccurs="0" name="changedAt" type="xs:long" />
											</xs:sequence>
										</xs:complexType>
									</xs:element>
                            <xs:element maxOccurs="1" minOccurs="0" name="customerNumber" type="xs:string" />
                            <xs:element name="contactNumber" type="xs:string" maxOccurs="1" minOccurs="0">
									</xs:element>
                        </xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:complexType name="externalObjectReferencesType">
		<xs:sequence>
			<xs:element name="externalSystemId" type="xs:string"
				minOccurs="1" maxOccurs="1">
			</xs:element>
			<xs:element name="externalId" type="xs:string" minOccurs="1"
				maxOccurs="1">
			</xs:element>
			<xs:element name="externalIdTypeCode" type="xs:string" minOccurs="1" maxOccurs="1"></xs:element>
		</xs:sequence>
	</xs:complexType>
</xs:schema>