Resources/canonical_library/xsd/customers.xsd

<?xml version="1.0" encoding="UTF-8"?><!-- Created with Liquid Technologies Online Tools 1.0 (https://www.liquid-technologies.com) --><xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="qualified">
	<xs:element name="customers">
		<xs:complexType>
			<xs:sequence>
				<xs:element maxOccurs="unbounded" minOccurs="0" name="customer">
					<xs:complexType>
						<xs:sequence>
							<xs:element maxOccurs="1" minOccurs="1" name="CUSTOMERID" type="xs:string"/>
							<xs:element maxOccurs="1" minOccurs="1" name="EFFECTIVESTARTDATE" type="xs:string"/>
							<xs:element maxOccurs="1" minOccurs="1" name="EFFECTIVEENDDATE" type="xs:string"/>
							<xs:element maxOccurs="1" minOccurs="1" name="NAME" type="xs:string"/>
							<xs:element maxOccurs="1" minOccurs="1" name="CONTRACT" type="xs:string"/>
							<xs:element maxOccurs="1" minOccurs="1" name="AREACODE" type="xs:string"/>
							<xs:element maxOccurs="1" minOccurs="1" name="PHONE" type="xs:string"/>
							<xs:element maxOccurs="1" minOccurs="1" name="FAX" type="xs:string"/>
							<xs:element maxOccurs="1" minOccurs="1" name="ADDRESS1" type="xs:string"/>
							<xs:element maxOccurs="1" minOccurs="1" name="ADDRESS2" type="xs:string"/>
							<xs:element maxOccurs="1" minOccurs="1" name="ADDRESS3" type="xs:string"/>
							<xs:element maxOccurs="1" minOccurs="1" name="CITY" type="xs:string"/>
							<xs:element maxOccurs="1" minOccurs="1" name="STATE" type="xs:string"/>
							<xs:element maxOccurs="1" minOccurs="1" name="COUNTRY" type="xs:string"/>
							<xs:element maxOccurs="1" minOccurs="1" name="POSTALCODE" type="xs:string"/>
							<xs:element maxOccurs="1" minOccurs="1" name="EMAIL" type="xs:string"/>
							<xs:element maxOccurs="1" minOccurs="1" name="INDUSTRY" type="xs:string"/>
							<xs:element maxOccurs="1" minOccurs="1" name="GEOGRAPHY" type="xs:string"/>
							<xs:element maxOccurs="1" minOccurs="1" name="CATEGORYTREENAME" type="xs:string"/>
							<xs:element maxOccurs="1" minOccurs="1" name="CATEGORYNAME" type="xs:string"/>
							<xs:element maxOccurs="1" minOccurs="1" name="BUSINESSUNITNAME" type="xs:string"/>
							<xs:element maxOccurs="1" minOccurs="1" name="DESCRIPTION" type="xs:string"/>
							<xs:element maxOccurs="1" minOccurs="1" name="GENERICATTRIBUTE1" type="xs:string"/>
							<xs:element maxOccurs="1" minOccurs="1" name="GENERICATTRIBUTE2" type="xs:string"/>
							<xs:element maxOccurs="1" minOccurs="1" name="GENERICATTRIBUTE3" type="xs:string"/>
							<xs:element maxOccurs="1" minOccurs="1" name="GENERICATTRIBUTE4" type="xs:string"/>
							<xs:element maxOccurs="1" minOccurs="1" name="GENERICATTRIBUTE5" type="xs:string"/>
							<xs:element maxOccurs="1" minOccurs="1" name="GENERICATTRIBUTE6" type="xs:string"/>
							<xs:element maxOccurs="1" minOccurs="1" name="GENERICATTRIBUTE7" type="xs:string"/>
							<xs:element maxOccurs="1" minOccurs="1" name="GENERICATTRIBUTE8" type="xs:string"/>
							<xs:element maxOccurs="1" minOccurs="1" name="GENERICATTRIBUTE9" type="xs:string"/>
							<xs:element maxOccurs="1" minOccurs="1" name="GENERICATTRIBUTE10" type="xs:string"/>
							<xs:element maxOccurs="1" minOccurs="1" name="GENERICATTRIBUTE11" type="xs:string"/>
							<xs:element maxOccurs="1" minOccurs="1" name="GENERICATTRIBUTE12" type="xs:string"/>
							<xs:element maxOccurs="1" minOccurs="1" name="GENERICATTRIBUTE13" type="xs:string"/>
							<xs:element maxOccurs="1" minOccurs="1" name="GENERICATTRIBUTE14" type="xs:string"/>
							<xs:element maxOccurs="1" minOccurs="1" name="GENERICATTRIBUTE15" type="xs:string"/>
							<xs:element maxOccurs="1" minOccurs="1" name="GENERICATTRIBUTE16" type="xs:string"/>
							<xs:element maxOccurs="1" minOccurs="1" name="GENERICNUMBER1" type="xs:string"/>
							<xs:element maxOccurs="1" minOccurs="1" name="UNITTYPEFORGENERICNUMBER1" type="xs:string"/>
							<xs:element maxOccurs="1" minOccurs="1" name="GENERICNUMBER2" type="xs:string"/>
							<xs:element maxOccurs="1" minOccurs="1" name="UNITTYPEFORGENERICNUMBER2" type="xs:string"/>
							<xs:element maxOccurs="1" minOccurs="1" name="GENERICNUMBER3" type="xs:string"/>
							<xs:element maxOccurs="1" minOccurs="1" name="UNITTYPEFORGENERICNUMBER3" type="xs:string"/>
							<xs:element maxOccurs="1" minOccurs="1" name="GENERICNUMBER4" type="xs:string"/>
							<xs:element maxOccurs="1" minOccurs="1" name="UNITTYPEFORGENERICNUMBER4" type="xs:string"/>
							<xs:element maxOccurs="1" minOccurs="1" name="GENERICNUMBER5" type="xs:string"/>
							<xs:element maxOccurs="1" minOccurs="1" name="UNITTYPEFORGENERICNUMBER5" type="xs:string"/>
							<xs:element maxOccurs="1" minOccurs="1" name="GENERICNUMBER6" type="xs:string"/>
							<xs:element maxOccurs="1" minOccurs="1" name="UNITTYPEFORGENERICNUMBER6" type="xs:string"/>
							<xs:element maxOccurs="1" minOccurs="1" name="GENERICDATE1" type="xs:string"/>
							<xs:element maxOccurs="1" minOccurs="1" name="GENERICDATE2" type="xs:string"/>
							<xs:element maxOccurs="1" minOccurs="1" name="GENERICDATE3" type="xs:string"/>
							<xs:element maxOccurs="1" minOccurs="1" name="GENERICDATE4" type="xs:string"/>
							<xs:element maxOccurs="1" minOccurs="1" name="GENERICDATE5" type="xs:string"/>
							<xs:element maxOccurs="1" minOccurs="1" name="GENERICDATE6" type="xs:string"/>
							<xs:element maxOccurs="1" minOccurs="1" name="GENERICBOOLEAN1" type="xs:string"/>
							<xs:element maxOccurs="1" minOccurs="1" name="GENERICBOOLEAN2" type="xs:string"/>
							<xs:element maxOccurs="1" minOccurs="1" name="GENERICBOOLEAN3" type="xs:string"/>
							<xs:element maxOccurs="1" minOccurs="1" name="GENERICBOOLEAN4" type="xs:string"/>
							<xs:element maxOccurs="1" minOccurs="1" name="GENERICBOOLEAN5" type="xs:string"/>
							<xs:element maxOccurs="1" minOccurs="1" name="GENERICBOOLEAN6" type="xs:string"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>