Resources/canonical_library/xsd/data.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="data">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="order" minOccurs="0" maxOccurs="1">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="id" minOccurs="0" maxOccurs="1" type="xs:string"/>
              <xs:element name="aliases" minOccurs="0" maxOccurs="1">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="aliasId" minOccurs="0" maxOccurs="1" type="xs:string"/>
                    <xs:element name="aliasType" minOccurs="0" maxOccurs="1" type="xs:string"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="returns" minOccurs="0" maxOccurs="1">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="details" minOccurs="0" maxOccurs="unbounded">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="id" minOccurs="0" maxOccurs="1" type="xs:string"/>
                          <xs:element name="createdAt" minOccurs="0" maxOccurs="1" type="xs:dateTime"/>
                          <xs:element name="updatedAt" minOccurs="0" maxOccurs="1" type="xs:dateTime"/>
                          <xs:element name="expiresAt" minOccurs="0" maxOccurs="1" type="xs:string"/>
                          <xs:element name="aliases" minOccurs="0" maxOccurs="1">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="aliasId" minOccurs="0" maxOccurs="1" type="xs:string"/>
                                <xs:element name="aliasType" minOccurs="0" maxOccurs="1" type="xs:string"/>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                          <xs:element name="state" minOccurs="0" maxOccurs="1" type="xs:string"/>
                          <xs:element name="returnLineItems" minOccurs="0" maxOccurs="unbounded">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="id" minOccurs="0" maxOccurs="1" type="xs:string"/>
                                <xs:element name="returnReason" minOccurs="0" maxOccurs="1">
																	<xs:complexType>
																		<xs:sequence>
																			<xs:element name="reasonCode" minOccurs="0" maxOccurs="1" type="xs:string"/>
																		</xs:sequence>
																	</xs:complexType>
																</xs:element>
                                <xs:element name="returnFor" minOccurs="0" maxOccurs="1">
                                  <xs:complexType>
                                    <xs:sequence>
                                      <xs:element name="orderLineItemAmounts" minOccurs="0" maxOccurs="1">
                                        <xs:complexType>
                                          <xs:sequence>
                                            <xs:element name="amount" minOccurs="0" maxOccurs="1">
                                              <xs:complexType>
                                                <xs:sequence>
                                                  <xs:element name="value" minOccurs="0" maxOccurs="1" type="xs:integer"/>
                                                </xs:sequence>
                                              </xs:complexType>
                                            </xs:element>
                                            <xs:element name="lineItem" minOccurs="0" maxOccurs="1">
                                              <xs:complexType>
                                                <xs:sequence>
                                                  <xs:element name="id" minOccurs="0" maxOccurs="1" type="xs:string"/>
                                                  <xs:element name="aliases" minOccurs="0" maxOccurs="1">
                                                    <xs:complexType>
                                                      <xs:sequence>
                                                        <xs:element name="aliasId" minOccurs="0" maxOccurs="1" type="xs:string"/>
                                                        <xs:element name="aliasType" minOccurs="0" maxOccurs="1" type="xs:string"/>
                                                      </xs:sequence>
                                                    </xs:complexType>
                                                  </xs:element>
                                                  <xs:element name="amount" minOccurs="0" maxOccurs="1">
                                                    <xs:complexType>
                                                      <xs:sequence>
                                                        <xs:element name="value" minOccurs="0" maxOccurs="1" type="xs:integer"/>
                                                      </xs:sequence>
                                                    </xs:complexType>
                                                  </xs:element>
                                                </xs:sequence>
                                              </xs:complexType>
                                            </xs:element>
                                          </xs:sequence>
                                        </xs:complexType>
                                      </xs:element>
                                    </xs:sequence>
                                  </xs:complexType>
                                </xs:element>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                          <xs:element name="returnPackageDetails" minOccurs="0" maxOccurs="unbounded">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="id" minOccurs="0" maxOccurs="1" type="xs:string"/>
                                <xs:element name="state" minOccurs="0" maxOccurs="1" type="xs:string"/>
                                <xs:element name="reason" minOccurs="0" maxOccurs="1" type="xs:string"/>
                                <xs:element name="returnPackageFor" minOccurs="0" maxOccurs="1">
                                  <xs:complexType>
                                    <xs:sequence>
                                      <xs:element name="orderLineItemAmounts" minOccurs="0" maxOccurs="1">
                                        <xs:complexType>
                                          <xs:sequence>
                                            <xs:element name="lineItem" minOccurs="0" maxOccurs="1">
                                              <xs:complexType>
                                                <xs:sequence>
                                                  <xs:element name="id" minOccurs="0" maxOccurs="1" type="xs:string"/>
                                                  <xs:element name="aliases" minOccurs="0" maxOccurs="1">
                                                    <xs:complexType>
                                                      <xs:sequence>
                                                        <xs:element name="aliasId" minOccurs="0" maxOccurs="1" type="xs:string"/>
                                                        <xs:element name="aliasType" minOccurs="0" maxOccurs="1" type="xs:string"/>
                                                      </xs:sequence>
                                                    </xs:complexType>
                                                  </xs:element>
                                                </xs:sequence>
                                              </xs:complexType>
                                            </xs:element>
                                            <xs:element name="amount" minOccurs="0" maxOccurs="1">
                                              <xs:complexType>
                                                <xs:sequence>
                                                  <xs:element name="value" minOccurs="0" maxOccurs="1" type="xs:integer"/>
                                                </xs:sequence>
                                              </xs:complexType>
                                            </xs:element>
                                          </xs:sequence>
                                        </xs:complexType>
                                      </xs:element>
                                    </xs:sequence>
                                  </xs:complexType>
                                </xs:element>
                                <xs:element name="packageTracker" minOccurs="0" maxOccurs="1" type="xs:string"/>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>