Resources/canonical_library/xsd/DiscountRow.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	
	<xs:complexType name="simpleHybrisField">
		<xs:simpleContent>
			<xs:extension base="xs:string" >
				<xs:attribute name="header" type="xs:string"/>				
			</xs:extension>						
		</xs:simpleContent>	
	</xs:complexType>	

	<xs:complexType name="localizedHybrisField">
      <xs:sequence>
        <xs:element name="value" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:simpleContent>
              <xs:extension base="xs:string">
                <xs:attribute type="xs:string" name="locale"/>
              </xs:extension>
            </xs:simpleContent>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
      <xs:attribute type="xs:string" name="header"/>
    </xs:complexType>

	<xs:element name="PriceRow">
		<xs:complexType>			
			<xs:sequence>
				<xs:element name="integrationKey" />
				<xs:element name="productId" type="simpleHybrisField" />
				<xs:element name="net" type="simpleHybrisField" />
				<xs:element name="catalogVersion" type="simpleHybrisField" />
				<xs:element name="userGroup" type="simpleHybrisField" />
				<xs:element name="productGroup" type="simpleHybrisField" />				
				<xs:element name="conditionId" type="simpleHybrisField" />
				<xs:element name="startDate" type="simpleHybrisField" />
				<xs:element name="endDate" type="simpleHybrisField" />
				<xs:element name="amount" type="simpleHybrisField" />					
				<xs:element name="currency" type="simpleHybrisField" />
				<xs:element name="unitFactor" type="simpleHybrisField" />
				<xs:element name="unit" type="simpleHybrisField" />
				<xs:element name="scaleQuantity" type="simpleHybrisField" />					
			</xs:sequence>	
			<xs:attribute name="header" />
		</xs:complexType>
	</xs:element>

	<xs:element name="DiscountRow">
		<xs:complexType>			
			<xs:sequence>
				<xs:element name="integrationKey" />
				<xs:element name="productId" type="simpleHybrisField" />
				<xs:element name="amount" type="simpleHybrisField" />
				<xs:element name="conditionType" type="simpleHybrisField" />
				<xs:element name="catalogVersion" type="simpleHybrisField" />
				<xs:element name="userGroup" type="simpleHybrisField" />
				<xs:element name="productGroup" type="simpleHybrisField" />				
				<xs:element name="conditionId" type="simpleHybrisField" />
				<xs:element name="startDate" type="simpleHybrisField" />
				<xs:element name="endDate" type="simpleHybrisField" />					
				<xs:element name="currency" type="simpleHybrisField" />					
			</xs:sequence>	
			<xs:attribute name="header" />
		</xs:complexType>
	</xs:element>
</xs:schema>
