Resources/canonical_library/xsd/DocumentTypeVHSet.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="DocumentTypeVHSet">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" name="DocumentTypeVH">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="PurchasingDocumentCategory" type="xs:string" />
              <xs:element name="PurchasingDocumentTypeName" type="xs:string" />
              <xs:element name="PurchasingDocumentType" type="xs:string" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>