Resources/canonical_library/xsd/eDocFoiloResponse.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- edited with XMLSpy v2011 rel. 3 sp1 (x64) (http://www.altova.com) by XMLSpy 2011 Professional Ed. Release 2, Installed for 10 users (with SMP from 2011-03-30 to 2012-03-30) (Intercambio Electrónico de Datos y Comunicaciones S.L.) -->
<xs:schema targetNamespace="https://www.sap.com/eDocMexico/CFDI/v1.0" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ns1="https://www.sap.com/eDocMexico/CFDI/v1.0">
	<xs:import namespace="http://www.w3.org/2000/09/xmldsig#" schemaLocation="xmldsig.xsd" />
				<xs:element name="eDocFolioRequest">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="Folios" minOccurs="0" maxOccurs="unbounded">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="UUID" type="xs:string" minOccurs="1" maxOccurs="1" />
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
						<xs:attribute name="RfcEmisor" type="xs:string" />
						<xs:attribute name="Fecha" type="xs:dateTime" use="required" />
					</xs:complexType>
				</xs:element>

	<xs:element name="eDocFoiloResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="eDocFolioResult" minOccurs="0" maxOccurs="1">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="Folios" minOccurs="0" maxOccurs="unbounded">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="UUID" type="xs:string" minOccurs="1" maxOccurs="1" />
										<xs:element name="ResultStatus" type="xs:double" minOccurs="1" maxOccurs="1" />

										<xs:element name="ErrorCode" type="xs:double" maxOccurs="1" minOccurs="0">

										</xs:element>
										<xs:element name="ErrorDescription" type="xs:string" maxOccurs="1" minOccurs="0">
										</xs:element>
										<xs:element name="DocData" type="xs:base64Binary" maxOccurs="1" minOccurs="0">
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>

						</xs:sequence>
						<xs:attribute name="CodEstatus" type="xs:string" />
						<xs:attribute name="Fecha" type="xs:dateTime" use="required" />
						<xs:attribute name="RfcEmisor" type="xs:string" />
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
