Resources/canonical_library/xsd/emissionReportDetails.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="emissionReportDetails">
    <xs:complexType>
      <xs:sequence>
              <xs:element name="dataID" type="xs:string" />
              <xs:element name="year" type="xs:string" />
              <xs:element name="month_quarter" type="xs:string" />
              <xs:element name="chemical" type="xs:string" />
              <xs:element name="dataCollectionID" type="xs:string" />
              <xs:element name="complianceScenario" type="xs:string" />
              <xs:element name="location" type="xs:string" />
              <xs:element name="period" type="xs:string" />
              <xs:element name="subject" type="xs:string" />
              <xs:element name="value" type="xs:string" />
              <xs:element name="unit" type="xs:string" />
              <xs:element name="locationID" type="xs:string" />
              <xs:element name="status" type="xs:string" />
              <xs:element name="statusDescription" type="xs:string" />
              <xs:element name="requesterID" type="xs:string" />
              <xs:element name="requesterEmailID" type="xs:string" />
              <xs:element name="dataDate" type="xs:string" />
              <xs:element name="previousValue" type="xs:string" />
              <xs:element name="environmentLimitName" minOccurs="0" maxOccurs="1" type="xs:string" />
              <xs:element name="environmentLimitType" minOccurs="0" maxOccurs="1" type="xs:string"/>
              <xs:element name="environmentLimitValue" minOccurs="0" maxOccurs="1" type="xs:string" />
              <xs:element name="environmentLimitUpperValue" minOccurs="0" maxOccurs="1" type="xs:string" />
              <xs:element name="environmentLimitWarnValue" minOccurs="0" maxOccurs="1" type="xs:string" />
              <xs:element name="environmentLimitWarnUpValue" minOccurs="0" maxOccurs="1" type="xs:string" />
              <xs:element name="dataMonth" minOccurs="0" maxOccurs="1" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>