Resources/canonical_library/xsd/EmployeeMasterDataRS.xsd

<?xml version="1.0" encoding="UTF-8"?><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://ey.webservices.ae/wsrv/hr/employeemasterdata/v1.0" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:tns="http://ey.webservices.ae/wsrv/hr/employeemasterdata/v1.0" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd2="http://ey.webservices.ae/wsrv/common/types">
            <xsd:complexType name="EmployeeMasterDataRSType">
            	<xsd:sequence>
            		<xsd:element name="ResponseStatus" type="tns:ResponseStatusType"/>
            	</xsd:sequence>
            </xsd:complexType>
    
            <xsd:complexType name="ResponseStatusType">
            	<xsd:sequence>
            		<xsd:element name="StatusCode" type="xsd:int"/>
            		<xsd:element name="StatusDescription" type="xsd:string"/>
            	</xsd:sequence>
            </xsd:complexType>
    
    <xsd:element name="EmployeeMasterDataRS" type="tns:EmployeeMasterDataRSType"></xsd:element>
</xsd:schema>