Resources/canonical_library/xsd/EntitlementGeneration.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="EntitlementGeneration">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Inbound_Interface_Entitlement_Generation">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="Inbound_Interface_Entitlement_Generation">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:int" name="CustomerID"/>
                    <xs:element type="xs:short" name="DocumentNumber"/>
                    <xs:element type="xs:string" name="DocumentType"/>
                    <xs:element type="xs:string" name="SourceSystem"/>
                    <xs:element name="Item" minOccurs="0" maxOccurs="unbounded">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element type="xs:byte" name="ItemNumber"/>
                                <xs:element type="xs:string" name="OfferingID"/>
                                <xs:element type="xs:byte" name="Quantity"/>
                                <xs:element type="xs:string" name="UoM"/>
                              </xs:sequence>
                            </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>