Resources/canonical_library/xsd/ET_RETURN.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="ET_RETURN">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="item" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="TYPE"/>
              <xs:element type="xs:string" name="ID"/>
              <xs:element type="xs:byte" name="NUMBER"/>
              <xs:element type="xs:string" name="MESSAGE"/>
              <xs:element type="xs:string" name="LOG_NO"/>
              <xs:element type="xs:byte" name="LOG_MSG_NO"/>
              <xs:element type="xs:string" name="MESSAGE_V1"/>
              <xs:element type="xs:string" name="MESSAGE_V2"/>
              <xs:element type="xs:string" name="MESSAGE_V3"/>
              <xs:element type="xs:string" name="MESSAGE_V4"/>
              <xs:element type="xs:string" name="PARAMETER"/>
              <xs:element type="xs:byte" name="ROW"/>
              <xs:element type="xs:string" name="FIELD"/>
              <xs:element type="xs:string" name="SYSTEM"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ET_WBS_ELEMENT">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="item" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="WBS_ELEMENT"/>
              <xs:element type="xs:string" name="DESCRIPTION"/>
              <xs:element type="xs:byte" name="RESPONSIBLE_NO"/>
              <xs:element type="xs:byte" name="APPLICANT_NO"/>
              <xs:element type="xs:short" name="COMPANY_CODE"/>
              <xs:element type="xs:string" name="BUSINESS_AREA"/>
              <xs:element type="xs:string" name="CONTROLLING_AREA"/>
              <xs:element type="xs:string" name="PROFIT_CTR"/>
              <xs:element type="xs:string" name="PROJ_TYPE"/>
              <xs:element type="xs:string" name="WBS_PLANNING_ELEMENT"/>
              <xs:element type="xs:string" name="WBS_ACCOUNT_ASSIGNMENT_ELEMENT"/>
              <xs:element type="xs:string" name="WBS_BILLING_ELEMENT"/>
              <xs:element type="xs:string" name="CSTG_SHEET"/>
              <xs:element type="xs:string" name="OVERHEAD_KEY"/>
              <xs:element type="xs:string" name="RES_ANAL_KEY"/>
              <xs:element type="xs:string" name="REQUEST_CCTR_CONTROLLING_AREA"/>
              <xs:element type="xs:string" name="REQUEST_CCTR"/>
              <xs:element type="xs:string" name="RESPSBL_CCTR_CONTROLLING_AREA"/>
              <xs:element type="xs:string" name="RESPSBL_CCTR"/>
              <xs:element type="xs:string" name="CALENDAR"/>
              <xs:element type="xs:string" name="PRIORITY"/>
              <xs:element type="xs:string" name="EQUIPMENT"/>
              <xs:element type="xs:string" name="FUNCT_LOC"/>
              <xs:element type="xs:string" name="CURRENCY"/>
              <xs:element type="xs:string" name="CURRENCY_ISO"/>
              <xs:element type="xs:short" name="PLANT"/>
              <xs:element type="xs:string" name="USER_FIELD_KEY"/>
              <xs:element type="xs:string" name="USER_FIELD_CHAR20_1"/>
              <xs:element type="xs:string" name="USER_FIELD_CHAR20_2"/>
              <xs:element type="xs:string" name="USER_FIELD_CHAR10_1"/>
              <xs:element type="xs:string" name="USER_FIELD_CHAR10_2"/>
              <xs:element type="xs:float" name="USER_FIELD_QUAN1"/>
              <xs:element type="xs:string" name="USER_FIELD_UNIT1"/>
              <xs:element type="xs:string" name="USER_FIELD_UNIT1_ISO"/>
              <xs:element type="xs:float" name="USER_FIELD_QUAN2"/>
              <xs:element type="xs:string" name="USER_FIELD_UNIT2"/>
              <xs:element type="xs:string" name="USER_FIELD_UNIT2_ISO"/>
              <xs:element type="xs:float" name="USER_FIELD_CURR1"/>
              <xs:element type="xs:string" name="USER_FIELD_CUKY1"/>
              <xs:element type="xs:string" name="USER_FIELD_CUKY1_ISO"/>
              <xs:element type="xs:float" name="USER_FIELD_CURR2"/>
              <xs:element type="xs:string" name="USER_FIELD_CUKY2"/>
              <xs:element type="xs:string" name="USER_FIELD_CUKY2_ISO"/>
              <xs:element type="xs:string" name="USER_FIELD_DATE1"/>
              <xs:element type="xs:string" name="USER_FIELD_DATE2"/>
              <xs:element type="xs:string" name="USER_FIELD_FLAG1"/>
              <xs:element type="xs:string" name="USER_FIELD_FLAG2"/>
              <xs:element type="xs:string" name="WBS_CCTR_POSTED_ACTUAL"/>
              <xs:element type="xs:string" name="WBS_SUMMARIZATION"/>
              <xs:element type="xs:string" name="OBJECTCLASS"/>
              <xs:element type="xs:string" name="STATISTICAL"/>
              <xs:element type="xs:string" name="TAXJURCODE"/>
              <xs:element type="xs:string" name="INTEREST_PROF"/>
              <xs:element type="xs:string" name="INVEST_PROFILE"/>
              <xs:element type="xs:byte" name="EVGEW"/>
              <xs:element type="xs:string" name="CHANGE_NO"/>
              <xs:element type="xs:string" name="SUBPROJECT"/>
              <xs:element type="xs:string" name="PLANINTEGRATED"/>
              <xs:element type="xs:string" name="INV_REASON"/>
              <xs:element type="xs:string" name="SCALE"/>
              <xs:element type="xs:string" name="ENVIR_INVEST"/>
              <xs:element type="xs:string" name="REQUEST_COMP_CODE"/>
              <xs:element type="xs:string" name="WBS_MRP_ELEMENT"/>
              <xs:element type="xs:string" name="LOCATION"/>
              <xs:element type="xs:string" name="VENTURE"/>
              <xs:element type="xs:string" name="REC_IND"/>
              <xs:element type="xs:string" name="EQUITY_TYP"/>
              <xs:element type="xs:string" name="JV_OTYPE"/>
              <xs:element type="xs:string" name="JV_JIBCL"/>
              <xs:element type="xs:string" name="JV_JIBSA"/>
              <xs:element type="xs:string" name="WBS_BASIC_START_DATE"/>
              <xs:element type="xs:string" name="WBS_BASIC_FINISH_DATE"/>
              <xs:element type="xs:string" name="WBS_FORECAST_START_DATE"/>
              <xs:element type="xs:string" name="WBS_FORECAST_FINISH_DATE"/>
              <xs:element type="xs:string" name="WBS_ACTUAL_START_DATE"/>
              <xs:element type="xs:string" name="WBS_ACTUAL_FINISH_DATE"/>
              <xs:element type="xs:float" name="WBS_BASIC_DURATION"/>
              <xs:element type="xs:string" name="WBS_BASIC_DUR_UNIT"/>
              <xs:element type="xs:string" name="WBS_BASIC_DUR_UNIT_ISO"/>
              <xs:element type="xs:float" name="WBS_FORECAST_DURATION"/>
              <xs:element type="xs:string" name="WBS_FORCAST_DUR_UNIT"/>
              <xs:element type="xs:string" name="WBS_FORECAST_DUR_UNIT_ISO"/>
              <xs:element type="xs:float" name="WBS_ACTUAL_DURATION"/>
              <xs:element type="xs:string" name="WBS_ACTUAL_DUR_UNIT"/>
              <xs:element type="xs:string" name="WBS_ACTUAL_DUR_UNIT_ISO"/>
              <xs:element type="xs:string" name="WBS_SCD_BASIC_START_DATE"/>
              <xs:element type="xs:string" name="WBS_SCD_BASIC_FINISH_DATE"/>
              <xs:element type="xs:string" name="WBS_SCD_FORECAST_START_DATE"/>
              <xs:element type="xs:string" name="WBS_SCD_FORECAST_FINISH_DATE"/>
              <xs:element type="xs:string" name="WBS_SCD_ACTUAL_START_DATE"/>
              <xs:element type="xs:string" name="WBS_SCD_ACTUAL_FINISH_DATE"/>
              <xs:element type="xs:string" name="WBS_UP"/>
              <xs:element type="xs:string" name="WBS_DOWN"/>
              <xs:element type="xs:string" name="WBS_LEFT"/>
              <xs:element type="xs:string" name="WBS_RIGHT"/>
              <xs:element type="xs:string" name="FUNC_AREA"/>
              <xs:element type="xs:string" name="LANGU"/>
              <xs:element type="xs:string" name="LANGU_ISO"/>
              <xs:element type="xs:string" name="SYSTEM_STATUS"/>
              <xs:element type="xs:string" name="SHORT_ID"/>
              <xs:element type="xs:byte" name="NETWORK_ASSIGNMENT"/>
              <xs:element type="xs:string" name="PROJECT_DEFINITION"/>
              <xs:element type="xs:string" name="STAT_PROF"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EXTENSIONIN" type="xs:string"/>
  <xs:element name="EXTENSIONOUT" type="xs:string"/>
  <xs:element name="IT_WBS_ELEMENT" type="xs:string"/>
</xs:schema>