Resources/canonical_library/xsd/Exception.xsd

<?xml version="1.0" encoding="UTF-8"?>
   <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
         
         <xs:element name="Exception">
               <xs:complexType>
                     <xs:sequence>
                           <xs:element name="inputMessage">
                                 <xs:complexType>
                                       <xs:sequence>
                                             <xs:element name="createRcmAssessmentRequest">
                                                   <xs:complexType>
                                                         <xs:sequence>
                                                               <xs:element name="rcmAssessmentRequest">
                                                                     <xs:complexType>
                                                                           <xs:sequence>
                                                                                 <xs:element name="entityName" type="xs:string"></xs:element>
                                                                                 <xs:element name="entityId" type="xs:int"></xs:element>
                                                                           </xs:sequence>
                                                                           
                                                                     </xs:complexType>
                                                               </xs:element>
                                                         </xs:sequence>
                                                         
                                                   </xs:complexType>
                                             </xs:element>
                                       </xs:sequence>
                                 </xs:complexType>
                           </xs:element>
                           <xs:element name="errorMessage" type="xs:string"></xs:element>
                     </xs:sequence>
               </xs:complexType>
         </xs:element>
   </xs:schema>