Resources/canonical_library/xsd/ExternalIds.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="ExternalIds">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="ExternalId" maxOccurs="unbounded" minOccurs="1">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="versionId"/>
              <xs:element name="code">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="Product">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="catalogVersion">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="CatalogVersion">
                                  <xs:complexType>
                                    <xs:sequence>
                                      <xs:element type="xs:string" name="version"/>
                                      <xs:element type="xs:string" name="integrationKey"/>
                                    </xs:sequence>
                                  </xs:complexType>
                                </xs:element>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                          <xs:element type="xs:string" name="code"/>
                          <xs:element type="xs:string" name="integrationKey"/>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element type="xs:string" name="application"/>
              <xs:element type="xs:string" name="tenantId"/>
              <xs:element type="xs:string" name="externalId"/>
              <xs:element type="xs:string" name="integrationKey"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>