Resources/canonical_library/xsd/ExternalEvent.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://notification.event.successfactors.com" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:element name="ExternalEvent">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="externalEventMeta">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="externalEventId" type="xs:string"/>
							<xs:element name="type" type="xs:string"/>
							<xs:element name="publishedAt" type="xs:int"/>
							<xs:element name="publishedBy" type="xs:string"/>
							<xs:element name="effective" type="xs:string"/>
							<xs:element name="repost" type="xs:string"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="events">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="event" maxOccurs="unbounded">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="eventId" type="xs:string"/>
										<xs:element name="entityType" type="xs:string"/>
										<xs:element name="effectiveStartDate" type="xs:date"/>
										<xs:element name="publishedAt" type="xs:int"/>
										<xs:element name="publishedBy" type="xs:string"/>
										<xs:element name="repost" type="xs:string"/>
										<xs:element name="entityKeys">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="entityKey" maxOccurs="unbounded">
														<xs:complexType>
															<xs:sequence>
																<xs:element name="name" type="xs:string" form="unqualified"/>
																<xs:element name="value" type="xs:string" form="unqualified"/>
															</xs:sequence>
														</xs:complexType>
													</xs:element>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
										<xs:element name="params">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="param" maxOccurs="unbounded">
														<xs:complexType>
															<xs:sequence>
																<xs:element name="name" type="xs:string" form="unqualified"/>
																<xs:element name="value" type="xs:string" form="unqualified"/>
															</xs:sequence>
														</xs:complexType>
													</xs:element>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
