Resources/canonical_library/xsd/Fidelity_Demographic.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Fidelity_Demographic">
    <xs:complexType>
      <xs:sequence>
          <xs:element name="Header">
            <xs:complexType>
                <xs:sequence>
                    <xs:element name="PlanNumber" type="xs:string" minOccurs="0"/>
                    <xs:element name="HeaderRec" type="xs:string" minOccurs="0"/>
                    <xs:element name="Plan" type="xs:string" minOccurs="0"/>
                    <xs:element name="Filler" type="xs:string" minOccurs="0"/>
                    <xs:element name="CompanyName" type="xs:string" minOccurs="0"/>
                </xs:sequence>
          </xs:complexType>
        </xs:element>   
          <xs:element name="Records" minOccurs="0" maxOccurs="unbounded" >
            <xs:complexType>
                <xs:sequence>
        <xs:element name="Record1" minOccurs="0">
          <xs:complexType>
            <xs:sequence>              
                <xs:element name="PlanNumber" type="xs:string" minOccurs="0"/>
                <xs:element name="BatchGroupId" type="xs:string" minOccurs="0"/>
                <xs:element name="Filler1" type="xs:string" minOccurs="0"/>
                <xs:element name="SocialSecurityNumber" type="xs:string" minOccurs="0"/>
                <xs:element name="Filler2" type="xs:string" minOccurs="0"/>
                <xs:element name="RecordIdentifier" type="xs:string" minOccurs="0"/>
                <xs:element name="LastName" type="xs:string" minOccurs="0"/>
                <xs:element name="FirstName" type="xs:string" minOccurs="0"/>
                <xs:element name="Zeros" type="xs:string" minOccurs="0"/>
                <xs:element name="MaritalStatus" type="xs:string" minOccurs="0"/>
                <xs:element name="Gender" type="xs:string" minOccurs="0"/>
                <xs:element name="SpecialTaxTypeId" type="xs:string" minOccurs="0"/>
                <xs:element name="Reserved" type="xs:string" minOccurs="0"/>
                <xs:element name="Payee" type="xs:string" minOccurs="0"/>              
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="Record02D" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
                 <xs:element name="PlanNumber" type="xs:string" minOccurs="0"/>
                <xs:element name="BatchGroupId" type="xs:string" minOccurs="0"/>
                <xs:element name="Filler1" type="xs:string" minOccurs="0"/>              
                <xs:element name="SocialSecurityNumber" type="xs:string" minOccurs="0"/>
                 <xs:element name="Filler2" type="xs:string" minOccurs="0"/>
                <xs:element name="RecordIdentifier" type="xs:string" minOccurs="0"/>
                <xs:element name="FieldType" type="xs:string" minOccurs="0"/>
                <xs:element name="Filler3" type="xs:string" minOccurs="0"/>
                <xs:element name="HireDate" type="xs:string" minOccurs="0"/>
                <xs:element name="ParticipationDate" type="xs:string" minOccurs="0"/>
                <xs:element name="VestingDate" type="xs:string" minOccurs="0"/>
                <xs:element name="DateOfBirth" type="xs:string" minOccurs="0"/>
                <xs:element name="TerminationDate" type="xs:string" minOccurs="0"/>
                <xs:element name="DateSwitch" type="xs:string" minOccurs="0"/>
                <xs:element name="Filler4" type="xs:string" minOccurs="0"/>
                <xs:element name="Filler5" type="xs:string" minOccurs="0"/>
                <xs:element name="AssociationIndicator" type="xs:string" minOccurs="0"/>              
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="Record02E" minOccurs="0">
          <xs:complexType>
            <xs:sequence>              
                <xs:element name="PlanNumber" type="xs:string" minOccurs="0"/>
                <xs:element name="BatchGroupId" type="xs:string" minOccurs="0"/>
                <xs:element name="Filler1" type="xs:string" minOccurs="0"/>
                <xs:element name="SocialSecurityNumber" type="xs:string" minOccurs="0"/>
                <xs:element name="Filler2" type="xs:string" minOccurs="0"/>
                <xs:element name="RecordIdentifier" type="xs:string" minOccurs="0"/>
                <xs:element name="FieldType" type="xs:string" minOccurs="0"/>
                <xs:element name="EmployeeNumber" type="xs:string" minOccurs="0"/>
                <xs:element name="Filler3" type="xs:string" minOccurs="0"/>
                <xs:element name="EmployeeStatus" type="xs:string" minOccurs="0"/>
                <xs:element name="ClientId" type="xs:string" minOccurs="0"/>
                <xs:element name="Filler4" type="xs:string" minOccurs="0"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="Record301" minOccurs="0">
          <xs:complexType>
            <xs:sequence>              
                <xs:element name="PlanNumber" type="xs:string" minOccurs="0"/>
                <xs:element name="BatchGroupId" type="xs:string" minOccurs="0"/>
                <xs:element name="Filler1" type="xs:string" minOccurs="0"/>
                <xs:element name="SocialSecurityNumber" type="xs:string" minOccurs="0"/>
                <xs:element name="Filler2" type="xs:string" minOccurs="0"/>
                <xs:element name="RecordIdentifier" type="xs:string" minOccurs="0"/>
                <xs:element name="FieldType" type="xs:string" minOccurs="0"/>
                <xs:element name="AddressLineNumber" type="xs:string" minOccurs="0"/>
                <xs:element name="Address" type="xs:string" minOccurs="0"/>
                <xs:element name="Filler3" type="xs:string" minOccurs="0"/>
                <xs:element name="DataSearchIndicator" type="xs:string" minOccurs="0"/>
                <xs:element name="OmitStmtIndicator" type="xs:string" minOccurs="0"/>
                <xs:element name="AssociationIndicator" type="xs:string" minOccurs="0"/>              
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="Record302" minOccurs="0">
          <xs:complexType>
            <xs:sequence>              
                <xs:element name="PlanNumber" type="xs:string" minOccurs="0"/>
                <xs:element name="BatchGroupId" type="xs:string" minOccurs="0"/>
                <xs:element name="Filler1" type="xs:string" minOccurs="0"/>
                <xs:element name="SocialSecurityNumber" type="xs:string" minOccurs="0"/>
                <xs:element name="Filler2" type="xs:string" minOccurs="0"/>
                <xs:element name="RecordIdentifier" type="xs:string" minOccurs="0"/>
                <xs:element name="FieldType" type="xs:string" minOccurs="0"/>
                <xs:element name="AddressLineNumber" type="xs:string" minOccurs="0"/>
                <xs:element name="Address" type="xs:string" minOccurs="0"/>
                <xs:element name="Filler3" type="xs:string" minOccurs="0"/>
                <xs:element name="DataSearchIndicator" type="xs:string" minOccurs="0"/>
                <xs:element name="OmitStmtIndicator" type="xs:string" minOccurs="0"/>
                <xs:element name="AssociationIndicator" type="xs:string" minOccurs="0"/>              
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="Record4" minOccurs="0">
          <xs:complexType>
            <xs:sequence>              
                <xs:element name="PlanNumber" type="xs:string" minOccurs="0"/>
                <xs:element name="BatchGroupId" type="xs:string" minOccurs="0"/>
                <xs:element name="Filler1" type="xs:string" minOccurs="0"/>
                <xs:element name="SocialSecurityNumber" type="xs:string" minOccurs="0"/>
                 <xs:element name="Filler2" type="xs:string" minOccurs="0"/>
                <xs:element name="RecordIdentifier" type="xs:string" minOccurs="0"/>
                <xs:element name="FieldType" type="xs:string" minOccurs="0"/>
                <xs:element name="City" type="xs:string" minOccurs="0"/>
                <xs:element name="State" type="xs:string" minOccurs="0"/>
                 <xs:element name="Filler3" type="xs:string" minOccurs="0"/>
                <xs:element name="ZipCode" type="xs:string" minOccurs="0"/>
                <xs:element name="Zip4code" type="xs:string" minOccurs="0"/>
                 <xs:element name="Filler4" type="xs:string" minOccurs="0"/>
                <xs:element name="DataSearchIndicator" type="xs:string" minOccurs="0"/>
                <xs:element name="OmitStatementIndicator" type="xs:string" minOccurs="0"/>
                <xs:element name="AssociationIndicator" type="xs:string" minOccurs="0"/>              
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="Record6" minOccurs="0">
          <xs:complexType>
            <xs:sequence>              
                <xs:element name="PlanNumber" type="xs:string" minOccurs="0"/>
                <xs:element name="BatchGroupId" type="xs:string" minOccurs="0"/>
                <xs:element name="Filler1" type="xs:string" minOccurs="0"/>
                <xs:element name="SocialSecurityNumber" type="xs:string" minOccurs="0"/>
                 <xs:element name="Filler2" type="xs:string" minOccurs="0"/>
                <xs:element name="RecordIdentifier" type="xs:string" minOccurs="0"/>
                <xs:element name="DivisionName" type="xs:string" minOccurs="0"/>
                <xs:element name="RegionName" type="xs:string" minOccurs="0"/>
                <xs:element name="SiteSecurityCode" type="xs:string" minOccurs="0"/>
                <xs:element name="Reserved" type="xs:string" minOccurs="0"/>
                 <xs:element name="Filler3" type="xs:string" minOccurs="0"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="Record11" minOccurs="0">
          <xs:complexType>
            <xs:sequence>              
                <xs:element name="PlanNumber" type="xs:string" minOccurs="0"/>
                <xs:element name="BatchGroupId" type="xs:string" minOccurs="0"/>
                <xs:element name="Filler1" type="xs:string" minOccurs="0"/>
                <xs:element name="SocialSecurityNumber" type="xs:string" minOccurs="0"/>
                 <xs:element name="Filler2" type="xs:string" minOccurs="0"/>
                <xs:element name="RecordIdentifier" type="xs:string" minOccurs="0"/>
                <xs:element name="StatusCode" type="xs:string" minOccurs="0"/>
                <xs:element name="Reserved1" type="xs:string" minOccurs="0"/>
                <xs:element name="StatusChangeDate" type="xs:string" minOccurs="0"/>
                <xs:element name="LiteratureKitIndicator" type="xs:string" minOccurs="0"/>
                 <xs:element name="Filler3" type="xs:string" minOccurs="0"/>
                 <xs:element name="Reserved2" type="xs:string" minOccurs="0"/>
                 <xs:element name="Reserved3" type="xs:string" minOccurs="0"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="Record60" minOccurs="0">
          <xs:complexType>
            <xs:sequence>              
                <xs:element name="PLanNumber" type="xs:string" minOccurs="0"/>
                <xs:element name="BatchGroupId" type="xs:string" minOccurs="0"/>
                <xs:element name="Filler1" type="xs:string" minOccurs="0"/>
                <xs:element name="SocialSecurityNumber" type="xs:string" minOccurs="0"/>
                <xs:element name="Filler2" type="xs:string" minOccurs="0"/>
                <xs:element name="RecordIdentifier" type="xs:string" minOccurs="0"/>
                <xs:element name="ParticipantClass" type="xs:string" minOccurs="0"/>
                <xs:element name="ParticipantDistrict" type="xs:string" minOccurs="0"/>
                <xs:element name="ParticipantDepartment" type="xs:string" minOccurs="0"/>
                <xs:element name="ParticipantLocation" type="xs:string" minOccurs="0"/>
                <xs:element name="ParticipantUnionCode" type="xs:string" minOccurs="0"/>
                <xs:element name="ParticipantPaymentFrequency" type="xs:string" minOccurs="0"/>
                <xs:element name="MiscellaneousCode" type="xs:string" minOccurs="0"/>
                <xs:element name="HighlyCompensatedFlag" type="xs:string" minOccurs="0"/>
                <xs:element name="OfficerFlag" type="xs:string" minOccurs="0"/>
                <xs:element name="DeminimusEligIndicator" type="xs:string" minOccurs="0"/>
                <xs:element name="AgePayoutEligIndicator" type="xs:string" minOccurs="0"/>
                <xs:element name="ParticipantRestrictionCode" type="xs:string" minOccurs="0"/>
                <xs:element name="ParticipantRestrictionReason" type="xs:string" minOccurs="0"/>              
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        </xs:sequence>
    </xs:complexType>
  </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>