Resources/canonical_library/xsd/FilteredSubscriptionProductSpecData.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="FilteredSubscriptionProductSpecData" minOccurs="1" maxOccurs="unbounded">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="SubscriptionProductSpecData" minOccurs="0" maxOccurs="unbounded" nillable="true">
					<xs:complexType>
						<xs:sequence>
							<xs:element type="xs:string" name="ProductSystemId" minOccurs="0" maxOccurs="1"/>
							<xs:element name="CrossCatalogMappings" minOccurs="0" maxOccurs="unbounded" nillable="true">
								<xs:complexType>
									<xs:sequence>
										<xs:element type="xs:integer" name="VersionNumber" minOccurs="0" maxOccurs="1"/>
										<xs:element type="xs:string" name="VersionStatus" minOccurs="0" maxOccurs="1"/>
										<xs:element type="xs:string" name="ValidFrom" minOccurs="0" maxOccurs="1"/>
										<xs:element name="ChargePlans" minOccurs="0" maxOccurs="unbounded" nillable="true">
											<xs:complexType>
												<xs:sequence>
													<xs:element type="xs:string" name="ChargePlanID" minOccurs="0" maxOccurs="1"/>
													<xs:element name="TableMappings" minOccurs="0" maxOccurs="unbounded" nillable="true">
														<xs:complexType>
															<xs:sequence>
																<xs:element type="xs:string" name="ChargePlanTableId"  minOccurs="0" maxOccurs="1"/>
																<xs:element type="xs:string" name="TableId" minOccurs="0" maxOccurs="1"/>
																<xs:element type="xs:string" name="TableDefinitionId" minOccurs="0" maxOccurs="1"/>
																<xs:element type="xs:string" name="Type" minOccurs="0" maxOccurs="1"/>
															</xs:sequence>
														</xs:complexType>
													</xs:element>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>