Resources/canonical_library/xsd/Fixed_Asset_Master.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Fixed_Asset_Master">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="General" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="BUKRS"/>
              <xs:element type="xs:string" name="ANLN1"/>
              <xs:element type="xs:string" name="ANLN2"/>
              <xs:element type="xs:string" name="ANLKL"/>
              <xs:element type="xs:string" name="FIXEDASSETDESCRIPTION"/>
              <xs:element type="xs:string" name="ASSETADDITIONALDESCRIPTION"/>
              <xs:element type="xs:string" name="ASSETSERIALNUMBER"/>
              <xs:element type="xs:string" name="INVENTORY"/>
              <xs:element type="xs:string" name="FIXEDASSETORDERDATE"/>
              <xs:element type="xs:string" name="HASHISTORY"/>
              <xs:element type="xs:string" name="BASEUNIT"/>
              <xs:element type="xs:string" name="ASSETCAPITALIZATIONDATE"/>
              <xs:element type="xs:string" name="ASSETDEACTIVATIONDATE"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="Origin" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="BUKRS"/>
              <xs:element type="xs:string" name="ANLN1"/>
              <xs:element type="xs:string" name="ANLN2"/>
              <xs:element type="xs:string" name="SUPPLIER"/>
              <xs:element type="xs:string" name="ASSETCOUNTRYOFORIGIN"/>
              <xs:element type="xs:string" name="ASSETMANUFACTURERNAME"/>
              <xs:element type="xs:string" name="ORIGINALFIXEDASSETVALUEDATE"/>
              <xs:element type="xs:string" name="ORIGINALACQUISITIONFISCALYEAR"/>
              <xs:element type="xs:string" name="ORIGLACQNAMTINCOCODECRCY"/>
              <xs:element type="xs:string" name="ORIGINALACQUISITIONCURRENCY"/>
              <xs:element type="xs:string" name="INHOUSEPRODNPERCENT"/>
              <xs:element type="xs:string" name="ASSETTYPENAME"/>
              <xs:element type="xs:string" name="PARTNERCOMPANY"/>
              <xs:element type="xs:string" name="ASSETISACQUIREDUSED"/>
              <xs:element type="xs:string" name="INVESTMENTPROJECTWBSELEMENTEXT"/>
              <xs:element type="xs:string" name="INVESTMENTORDER"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="Inventory" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="BUKRS"/>
              <xs:element type="xs:string" name="ANLN1"/>
              <xs:element type="xs:string" name="ANLN2"/>
              <xs:element type="xs:string" name="LASTINVENTORYDATE"/>
              <xs:element type="xs:string" name="INVENTORYNOTE"/>
              <xs:element type="xs:string" name="INVENTORYISCOUNTED"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="Allocations" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="BUKRS"/>
              <xs:element type="xs:string" name="ANLN1"/>
              <xs:element type="xs:string" name="ANLN2"/>
              <xs:element type="xs:string" name="INVESTMENTREASON"/>
              <xs:element type="xs:string" name="ENVRNMTLINVESTMENTREASON"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="AccountAssignment" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="BUKRS"/>
              <xs:element type="xs:string" name="ANLN1"/>
              <xs:element type="xs:string" name="ANLN2"/>
              <xs:element type="xs:string" name="COSTCENTER"/>
              <xs:element type="xs:string" name="FUND"/>
              <xs:element type="xs:string" name="GRANTID"/>
              <xs:element type="xs:string" name="FUNCTIONALAREA"/>
              <xs:element type="xs:string" name="WBSELEMENTEXTERNALID"/>
              <xs:element type="xs:string" name="TAXJURISDICTION"/>
              <xs:element type="xs:string" name="SEGMENT"/>
              <xs:element type="xs:string" name="PROFITCENTER"/>
              <xs:element type="xs:string" name="ROOM"/>
              <xs:element type="xs:string" name="PLANT"/>
              <xs:element type="xs:string" name="ASSETLOCATION"/>
              <xs:element type="xs:string" name="VEHICLELICENSEPLATENUMBER"/>
              <xs:element type="xs:string" name="BUSINESSPLACE"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="Ledger" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="BUKRS"/>
              <xs:element type="xs:string" name="ANLN1"/>
              <xs:element type="xs:string" name="ANLN2"/>
              <xs:element type="xs:string" name="LEDGER"/>
              <xs:element type="xs:string" name="DEACTIVATE"/>
              <xs:element type="xs:string" name="ASSETCAPITALIZATIONDATE"/>
              <xs:element type="xs:string" name="ASSETDEACTIVATIONDATE"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="Valuation" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="BUKRS"/>
              <xs:element type="xs:string" name="ANLN1"/>
              <xs:element type="xs:string" name="ANLN2"/>
              <xs:element type="xs:string" name="ASSETDEPRECIATIONAREA"/>
              <xs:element type="xs:string" name="DEACTIVATE"/>
              <xs:element type="xs:string" name="NEGATIVEAMOUNTISALLOWED"/>
              <xs:element type="xs:string" name="DEPRECIATIONSTARTDATE"/>
              <xs:element type="xs:string" name="SPECIALDEPRSTARTDATE"/>
              <xs:element type="xs:string" name="INTERESTCALCSTARTDATE"/>
              <xs:element type="xs:string" name="ASSETOPGREADINESSDATE"/>
              <xs:element type="xs:string" name="DEPRKEYCHANGEOVERYEAR"/>
              <xs:element type="xs:string" name="DEPRKEYCHANGEOVERPERIOD"/>
              <xs:element type="xs:string" name="REPLACEMENTVALUEINDEXSERS"/>
              <xs:element type="xs:string" name="RPLCMTVALUEAGINGINDEXSERS"/>
              <xs:element type="xs:string" name="EXPIREDUSEFULLIFEINYRS"/>
              <xs:element type="xs:string" name="EXPIREDUSEFULLIFEINPERDS"/>
              <xs:element type="xs:string" name="SPCLEXPIREDUSEFULLIFEINYRS"/>
              <xs:element type="xs:string" name="SPCLEXPIREDUSEFULLIFEINPERDS"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="TimeBasedValuation" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="BUKRS"/>
              <xs:element type="xs:string" name="ANLN1"/>
              <xs:element type="xs:string" name="ANLN2"/>
              <xs:element type="xs:string" name="ASSETDEPRECIATIONAREA"/>
              <xs:element type="xs:string" name="DEPRECIATIONKEY"/>
              <xs:element type="xs:string" name="PLANNEDUSEFULLIFEINYEARS"/>
              <xs:element type="xs:string" name="PLANNEDUSEFULLIFEINPERIODS"/>
              <xs:element type="xs:string" name="VARIABLEDEPRPERCENT"/>
              <xs:element type="xs:string" name="DEPRCALCBASEVALUEPERCENT"/>
              <xs:element type="xs:string" name="SHIFTOPERATIONFACTOR"/>
              <xs:element type="xs:string" name="ISSHUTDOWN"/>
              <xs:element type="xs:string" name="FIXEDASSETUSAGEOBJECT"/>
              <xs:element type="xs:string" name="ASSETREVALUATIONINDEX"/>
              <xs:element type="xs:string" name="SCRAPAMOUNTINCOCODECRCY"/>
              <xs:element type="xs:string" name="SCRAPAMOUNTINGLOBCRCY"/>
              <xs:element type="xs:string" name="SCRAPAMOUNTINFREEDEFINEDCRCY1"/>
              <xs:element type="xs:string" name="ACQNPRODNCOSTSCRAPPERCENT"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="LocalTimeIndependent" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="BUKRS"/>
              <xs:element type="xs:string" name="ANLN1"/>
              <xs:element type="xs:string" name="ANLN2"/>
              <xs:element type="xs:string" name="RU_LONGSERIALNUMBER"/>
              <xs:element type="xs:string" name="RU_WORKWEARMATERIAL"/>
              <xs:element type="xs:string" name="RU_RETIREDMASTERFIXEDASSET"/>
              <xs:element type="xs:string" name="RU_RETIREDFIXEDASSET"/>
              <xs:element type="xs:string" name="RU_PRODTRACEABILITYSTARTDATE"/>
              <xs:element type="xs:string" name="RU_PRODTRACEABILITYENDDATE"/>
              <xs:element type="xs:string" name="RU_ASSETTNVED"/>
              <xs:element type="xs:string" name="RU_ASSETTRANSPORTTYPE"/>
              <xs:element type="xs:string" name="RU_VEHICLEIDNUMBER"/>
              <xs:element type="xs:string" name="RU_MANUFACTURINGDATE"/>
              <xs:element type="xs:string" name="RU_VEHICLEECOLOGICALCLASS"/>
              <xs:element type="xs:string" name="RU_PROPERTYADDRESS"/>
              <xs:element type="xs:string" name="RU_PROPERTYOWNERSHIPREGNDATE"/>
              <xs:element type="xs:string" name="RU_PROPERTYOWNERSHIPTERMNDATE"/>
              <xs:element type="xs:string" name="JP_ANNEX16ASSETSTRUCTURE"/>
              <xs:element type="xs:string" name="JP_ANNEX16ASSETITEM"/>
              <xs:element type="xs:string" name="JP_ANNEX16LEASINGAGRMTDATE"/>
              <xs:element type="xs:string" name="JP_PRPTYTXRPTCITY"/>
              <xs:element type="xs:string" name="JP_PRPTYTXRPTCLASSFCTNKEY"/>
              <xs:element type="xs:string" name="JP_PRPTYTXRPTSPCLDEPR"/>
              <xs:element type="xs:string" name="JP_PRPTYTXRPTADDLDEPR"/>
              <xs:element type="xs:string" name="IN_ASSETBLOCK"/>
              <xs:element type="xs:string" name="IN_ASSETPUTTOUSEDATE"/>
              <xs:element type="xs:string" name="IN_ADDITIONALASSETBLOCK"/>
              <xs:element type="xs:string" name="IN_ASSETISRESEARCHANDDEV"/>
              <xs:element type="xs:string" name="IN_ASSETISPRIORYEAR"/>
              <xs:element type="xs:string" name="PT_VEHICLETYPEBYENERGY"/>
              <xs:element type="xs:string" name="PT_VEHICLEISWITHOUTLIMIT"/>
              <xs:element type="xs:string" name="PT_BIGREPAIRASSETLINK"/>
              <xs:element type="xs:string" name="PT_LANDASSETLINK"/>
              <xs:element type="xs:string" name="PT_ASSETREPORTFORMCATEGORY"/>
              <xs:element type="xs:string" name="PT_AMORTIZEDASSETISREEVALUATED"/>
              <xs:element type="xs:string" name="RS_GROUPDEPREXCLUSIONYEAR"/>
              <xs:element type="xs:string" name="RS_ASSETLASTINVOICEDATE"/>
              <xs:element type="xs:string" name="NATIONALCLASSIFICATION"/>
              <xs:element type="xs:string" name="TAXDEPRECIATIONGROUP"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="LocalTimeDependent" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="BUKRS"/>
              <xs:element type="xs:string" name="ANLN1"/>
              <xs:element type="xs:string" name="ANLN2"/>
              <xs:element type="xs:string" name="VALIDITYSTARTDATE"/>
              <xs:element type="xs:string" name="RU_ASSETOKOF"/>
              <xs:element type="xs:string" name="RU_ASSETDEPRECIATIONGROUP"/>
              <xs:element type="xs:string" name="RU_ASSETTAXOFFICECODE"/>
              <xs:element type="xs:string" name="RU_ASSETSZPKISAPPLIED"/>
              <xs:element type="xs:string" name="RU_ASSETPROPERTYTYPE"/>
              <xs:element type="xs:string" name="RU_PROPERTYTAXOKTMO"/>
              <xs:element type="xs:string" name="RU_PROPERTYTAXSPECIALCATEGORY"/>
              <xs:element type="xs:string" name="RU_PROPERTYTAXRATEREDUCTION"/>
              <xs:element type="xs:string" name="RU_PROPERTYTAXAMTREDUCTION"/>
              <xs:element type="xs:string" name="RU_PROPERTYTAXEXEMPTION"/>
              <xs:element type="xs:string" name="RU_PROPERTYTAXOBJECTNUMBER"/>
              <xs:element type="xs:string" name="RU_PROPERTYTAXOBJECTNUMBERTYPE"/>
              <xs:element type="xs:string" name="RU_PRPTYCADASTRAMTINLOCLCRCY"/>
              <xs:element type="xs:string" name="RU_ASSETCOMMONPROPERTYSHARE"/>
              <xs:element type="xs:string" name="RU_ROOMFLOORAREAINSQUAREMETER"/>
              <xs:element type="xs:string" name="RU_ROOMBUILDFLOORAREAINSQMTR"/>
              <xs:element type="xs:string" name="RU_ASSETISREALESTATE"/>
              <xs:element type="xs:string" name="RU_TRANSPORTTAXPOWERUNIT"/>
              <xs:element type="xs:string" name="RU_TRANSPTAXBASEQTYINBASEUNIT"/>
              <xs:element type="xs:string" name="RU_TRANSPORTTAXEXEMPTION"/>
              <xs:element type="xs:string" name="RU_TRANSPORTTAXREDUCTION"/>
              <xs:element type="xs:string" name="RU_VEHICLESTOLENDATE"/>
              <xs:element type="xs:string" name="RU_VEHICLERETURNDATE"/>
              <xs:element type="xs:string" name="RU_VEHICLEREGISTRATIONDATE"/>
              <xs:element type="xs:string" name="RU_VEHICLECANCELLATIONDATE"/>
              <xs:element type="xs:string" name="RU_TRANSPORTTAXOKTMO"/>
              <xs:element type="xs:string" name="RU_VEHICLELICENSEPLATENUMBER"/>
              <xs:element type="xs:string" name="RU_TRANSPTXAMTREDUCTION"/>
              <xs:element type="xs:string" name="RU_VEHTRANSPTXPRICECATEGORY"/>
              <xs:element type="xs:string" name="RU_TRANSPTCOMMONOWNERSHIPSHARE"/>
              <xs:element type="xs:string" name="CN_CADEFIXEDASSETUSAGE"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="LocalTimeDependentfValidtn" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="BUKRS"/>
              <xs:element type="xs:string" name="ANLN1"/>
              <xs:element type="xs:string" name="ANLN2"/>
              <xs:element type="xs:string" name="ASSETDEPRECIATIONAREA"/>
              <xs:element type="xs:string" name="VALIDITYSTARTDATE"/>
              <xs:element type="xs:string" name="JP_IMPAIRMENTPOSTINGDATE"/>
              <xs:element type="xs:string" name="JP_IMPACQNPRODCOSTAMTINCCCRCY"/>
              <xs:element type="xs:string" name="JP_IMPACQNPRODCOSTAMTINGCRCY"/>
              <xs:element type="xs:string" name="JP_IMPACQNPRODCOSTAMTINFDCRCY1"/>
              <xs:element type="xs:string" name="JP_AFTIMPRMTBOOKAMTINCCCRCY"/>
              <xs:element type="xs:string" name="JP_AFTIMPRMTBOOKAMTINGLOBCRCY"/>
              <xs:element type="xs:string" name="JP_AFTIMPRMTBOOKAMTINFDCRCY1"/>
              <xs:element type="xs:string" name="SK_CAPITALIMPROVEMENTYEAR"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>