Resources/canonical_library/xsd/FKK_INV_INVOICE_CREATE_API.xsd


<xsd:schema targetNamespace="urn:sap-com:document:sap:rfc:functions" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:s0="urn:sap-com:document:sap:rfc:functions">
	<xsd:element name="FKK_INV_INVOICE_CREATE_API">
		<xsd:complexType>
			<xsd:all>
				<xsd:element name="ET_BAPIRET">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="item" minOccurs="0" maxOccurs="unbounded" type="s0:BAPIRET2"/>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="IT_BIT2KEY">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="item" minOccurs="0" maxOccurs="unbounded" type="s0:FKKBIX_BIT2KEY_IT"/>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="IT_SRCDOC">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="item" minOccurs="0" maxOccurs="unbounded" type="s0:FKKINV_SRCDOC"/>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="IT_SRCTA">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="item" minOccurs="0" maxOccurs="unbounded" type="s0:FKKBIX_SRCTA"/>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="I_BILLING_DATE" minOccurs="0" type="s0:date"/>
				<xsd:element name="I_BILLING_PROCESS" minOccurs="0">
					<xsd:simpleType>
						<xsd:restriction base="xsd:string">
							<xsd:maxLength value="4"/>
						</xsd:restriction>
					</xsd:simpleType>
				</xsd:element>
				<xsd:element name="I_BILLING_SIMURUN" minOccurs="0">
					<xsd:simpleType>
						<xsd:restriction base="xsd:string">
							<xsd:maxLength value="1"/>
						</xsd:restriction>
					</xsd:simpleType>
				</xsd:element>
				<xsd:element name="I_GPART">
					<xsd:simpleType>
						<xsd:restriction base="xsd:string">
							<xsd:maxLength value="10"/>
						</xsd:restriction>
					</xsd:simpleType>
				</xsd:element>
				<xsd:element name="I_INVOICE_BLDAT" minOccurs="0" type="s0:date"/>
				<xsd:element name="I_INVOICE_BUDAT" minOccurs="0" type="s0:date"/>
				<xsd:element name="I_INVOICE_DATE" minOccurs="0" type="s0:date"/>
				<xsd:element name="I_INVOICE_FIKEY" minOccurs="0">
					<xsd:simpleType>
						<xsd:restriction base="xsd:string">
							<xsd:maxLength value="12"/>
						</xsd:restriction>
					</xsd:simpleType>
				</xsd:element>
				<xsd:element name="I_INVOICE_PROCESS">
					<xsd:simpleType>
						<xsd:restriction base="xsd:string">
							<xsd:maxLength value="2"/>
						</xsd:restriction>
					</xsd:simpleType>
				</xsd:element>
				<xsd:element name="I_INVOICE_SIMURUN" minOccurs="0">
					<xsd:simpleType>
						<xsd:restriction base="xsd:string">
							<xsd:maxLength value="1"/>
						</xsd:restriction>
					</xsd:simpleType>
				</xsd:element>
				<xsd:element name="I_MAX_PROBCL">
					<xsd:simpleType>
						<xsd:restriction base="xsd:string">
							<xsd:maxLength value="1"/>
						</xsd:restriction>
					</xsd:simpleType>
				</xsd:element>
				<xsd:element name="I_PROCESS" minOccurs="0">
					<xsd:simpleType>
						<xsd:restriction base="xsd:string">
							<xsd:maxLength value="1"/>
						</xsd:restriction>
					</xsd:simpleType>
				</xsd:element>
				<xsd:element name="I_VKONT">
					<xsd:simpleType>
						<xsd:restriction base="xsd:string">
							<xsd:maxLength value="12"/>
						</xsd:restriction>
					</xsd:simpleType>
				</xsd:element>
			</xsd:all>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="FKK_INV_INVOICE_CREATE_API.Response">
		<xsd:complexType>
			<xsd:all>
				<xsd:element name="ET_BAPIRET">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="item" minOccurs="0" maxOccurs="unbounded" type="s0:BAPIRET2"/>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="ET_BILLCFCNO">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="item" minOccurs="0" maxOccurs="unbounded">
								<xsd:simpleType>
									<xsd:restriction base="xsd:string">
										<xsd:maxLength value="12"/>
										<xsd:pattern value="\d*"/>
									</xsd:restriction>
								</xsd:simpleType>
							</xsd:element>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="ET_BILLDOCNO">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="item" minOccurs="0" maxOccurs="unbounded">
								<xsd:simpleType>
									<xsd:restriction base="xsd:string">
										<xsd:maxLength value="12"/>
										<xsd:pattern value="\d*"/>
									</xsd:restriction>
								</xsd:simpleType>
							</xsd:element>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="ET_INVCFCNO">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="item" minOccurs="0" maxOccurs="unbounded">
								<xsd:simpleType>
									<xsd:restriction base="xsd:string">
										<xsd:maxLength value="12"/>
										<xsd:pattern value="\d*"/>
									</xsd:restriction>
								</xsd:simpleType>
							</xsd:element>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="ET_INVCFCNO_CLOSED">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="item" minOccurs="0" maxOccurs="unbounded">
								<xsd:simpleType>
									<xsd:restriction base="xsd:string">
										<xsd:maxLength value="12"/>
										<xsd:pattern value="\d*"/>
									</xsd:restriction>
								</xsd:simpleType>
							</xsd:element>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="ET_INVDOCNO">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="item" minOccurs="0" maxOccurs="unbounded">
								<xsd:simpleType>
									<xsd:restriction base="xsd:string">
										<xsd:maxLength value="12"/>
										<xsd:pattern value="\d*"/>
									</xsd:restriction>
								</xsd:simpleType>
							</xsd:element>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="IT_BIT2KEY">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="item" minOccurs="0" maxOccurs="unbounded" type="s0:FKKBIX_BIT2KEY_IT"/>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="IT_SRCDOC">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="item" minOccurs="0" maxOccurs="unbounded" type="s0:FKKINV_SRCDOC"/>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="IT_SRCTA">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="item" minOccurs="0" maxOccurs="unbounded" type="s0:FKKBIX_SRCTA"/>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
			</xsd:all>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="BAPIRET2">
		<xsd:sequence>
			<xsd:element name="TYPE" minOccurs="0">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="1"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="ID" minOccurs="0">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="20"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="NUMBER" minOccurs="0">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="3"/>
						<xsd:pattern value="\d*"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="MESSAGE" minOccurs="0">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="220"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="LOG_NO" minOccurs="0">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="20"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="LOG_MSG_NO" minOccurs="0">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="6"/>
						<xsd:pattern value="\d*"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="MESSAGE_V1" minOccurs="0">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="50"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="MESSAGE_V2" minOccurs="0">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="50"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="MESSAGE_V3" minOccurs="0">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="50"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="MESSAGE_V4" minOccurs="0">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="50"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="PARAMETER" minOccurs="0">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="32"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="ROW" minOccurs="0" type="xsd:int"/>
			<xsd:element name="FIELD" minOccurs="0">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="30"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="SYSTEM" minOccurs="0">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="10"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="FKKBIX_BIT2KEY_IT">
		<xsd:sequence>
			<xsd:element name="VKONT" minOccurs="0">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="12"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="SRCTATYPE" minOccurs="0">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="5"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="SRCTAID" minOccurs="0">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="22"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="BITPACKUUID" minOccurs="0">
				<xsd:simpleType>
					<xsd:restriction base="xsd:base64Binary">
						<xsd:maxLength value="16"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="BITPACKCNO" minOccurs="0">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="8"/>
						<xsd:pattern value="\d*"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="BITCAT" minOccurs="0">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="4"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="SUBPROCESS" minOccurs="0">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="4"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="KEYPP" minOccurs="0">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="3"/>
						<xsd:pattern value="\d*"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="GPART" minOccurs="0">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="10"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="MDCAT" minOccurs="0">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="1"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="BIT2_DBTAB" minOccurs="0">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="16"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="FKKBIX_SRCTA">
		<xsd:sequence>
			<xsd:element name="SRCTATYPE" minOccurs="0">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="5"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="SRCTAID" minOccurs="0">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="22"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="FKKINV_SRCDOC">
		<xsd:sequence>
			<xsd:element name="SRCDOCCAT" minOccurs="0">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="5"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="SRCDOCNO" minOccurs="0">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="20"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:simpleType name="date">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="10"/>
			<xsd:pattern value="....-..-.."/>
		</xsd:restriction>
	</xsd:simpleType>
</xsd:schema>