Resources/canonical_library/xsd/GeneralVendor.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="GeneralVendor">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="context">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="sVendorType" maxOccurs="1" minOccurs="0"/>
              <xs:element type="xs:byte" name="sAccountGroup"/>
			  <xs:element type="xs:string" name="sActualQMSys" maxOccurs="1" minOccurs="0"/>
              <xs:element type="xs:string" name="sVendorName"/>
              <xs:element type="xs:string" name="sVendorName2" maxOccurs="1" minOccurs="0"/>
              <xs:element type="xs:string" name="sVendorName3" maxOccurs="1" minOccurs="0"/>
              <xs:element type="xs:string" name="sVendorName4" maxOccurs="1" minOccurs="0"/>
              <xs:element type="xs:string" name="sSearchTerms" maxOccurs="1" minOccurs="0"/>
              <xs:element type="xs:int" name="sPartnerNumber" maxOccurs="1" minOccurs="0"/>
              <xs:element type="xs:string" name="sLanguage"/>
              <xs:element type="xs:string" name="sStandardCommMethod" maxOccurs="1" minOccurs="0"/>
              <xs:element type="xs:string" name="sStreet1" maxOccurs="1" minOccurs="0"/>
			  <xs:element type="xs:string" name="sHouseNumber" maxOccurs="1" minOccurs="0"/>
              <xs:element type="xs:int" name="sZipCode" maxOccurs="1" minOccurs="0"/>
              <xs:element type="xs:string" name="sCity"/>
              <xs:element type="xs:string" name="sCountry"/>
              <xs:element type="xs:byte" name="sRegion" maxOccurs="1" minOccurs="0"/>
              <xs:element type="xs:string" name="sSuppl" maxOccurs="1" minOccurs="0"/>
              <xs:element type="xs:string" name="sDistrict" maxOccurs="1" minOccurs="0"/>
              <xs:element type="xs:string" name="sPOBox" maxOccurs="1" minOccurs="0"/>
              <xs:element type="xs:int" name="sPostalCode" maxOccurs="1" minOccurs="0"/>
              <xs:element type="xs:string" name="sOtherCountry" maxOccurs="1" minOccurs="0"/>
              <xs:element type="xs:string" name="sOtherCity" maxOccurs="1" minOccurs="0"/>
              <xs:element type="xs:string" name="sVendorEmail" maxOccurs="1" minOccurs="0"/>
              <xs:element type="xs:int" name="sVendorContact" maxOccurs="1" minOccurs="0"/>
              <xs:element type="xs:int" name="sSubsidiary" maxOccurs="1" minOccurs="0"/>
              <xs:element type="xs:byte" name="sFax" maxOccurs="1" minOccurs="0"/>
			  <xs:element type="xs:string" name="sFiscalAddress" maxOccurs="1" minOccurs="0"/>
			  <xs:element type="xs:string" name="sGender" maxOccurs="1" minOccurs="0"/>
              <xs:element type="xs:short" name="sAlternativePayee" maxOccurs="1" minOccurs="0"/>
              <xs:element type="xs:string" name="sDMEIndicator" maxOccurs="1" minOccurs="0"/>
              <xs:element type="xs:string" name="sInstructionKey" maxOccurs="1" minOccurs="0"/>
              <xs:element type="xs:string" name="sISRNumber" maxOccurs="1" minOccurs="0"/>
			  <xs:element type="xs:string" name="sIndustry" maxOccurs="1" minOccurs="0"/>
              <xs:element type="xs:string" name="sCustomer" maxOccurs="1" minOccurs="0"/>
              <xs:element type="xs:string" name="sAuthorization" maxOccurs="1" minOccurs="0"/>
              <xs:element type="xs:string" name="sCorporateGroup" maxOccurs="1" minOccurs="0"/>
			  <xs:element type="xs:string" name="sQMSystemTo" maxOccurs="1" minOccurs="0"/>
			  <xs:element type="xs:string" name="sServAgntProcGrp" maxOccurs="1" minOccurs="0"/>
			  <xs:element type="xs:string" name="sSocInsCode" maxOccurs="1" minOccurs="0"/>
              <xs:element type="xs:string" name="sStatGrService" maxOccurs="1" minOccurs="0"/>
			  <xs:element type="xs:string" name="sTaxBase" maxOccurs="1" minOccurs="0"/>
              <xs:element type="xs:string" name="sTaxJur" maxOccurs="1" minOccurs="0"/>
              <xs:element type="xs:string" name="sRepName" maxOccurs="1" minOccurs="0"/>
              <xs:element type="xs:string" name="sVATRegNo" maxOccurs="1" minOccurs="0"/>
              <xs:element type="xs:string" name="sTaxNumber" maxOccurs="1" minOccurs="0"/>
              <xs:element type="xs:string" name="sTaxNumber1" maxOccurs="1" minOccurs="0"/>
              <xs:element type="xs:string" name="sTaxNumber2" maxOccurs="1" minOccurs="0"/>
			  <xs:element type="xs:string" name="sTaxNumberType" maxOccurs="1" minOccurs="0"/>
			  <xs:element type="xs:string" name="sTaxOffice" maxOccurs="1" minOccurs="0"/>
              <xs:element type="xs:string" name="sTaxType" maxOccurs="1" minOccurs="0"/>
              <xs:element type="xs:string" name="sTaxNumber5" maxOccurs="1" minOccurs="0"/>
			  <xs:element type="xs:string" name="sTitle" maxOccurs="1" minOccurs="0"/>
              <xs:element type="xs:string" name="sTradingPartner" maxOccurs="1" minOccurs="0"/>
              <xs:element type="xs:string" name="sTrainStation" maxOccurs="1" minOccurs="0"/>
              <xs:element type="xs:string" name="sTransportZone" maxOccurs="1" minOccurs="0"/>
              <xs:element type="xs:string" name="sTypeOfBusiness" maxOccurs="1" minOccurs="0"/>
              <xs:element type="xs:string" name="sTypeOfIndustry" maxOccurs="1" minOccurs="0"/>
			  <xs:element type="xs:string" name="sLastExtReview" maxOccurs="1" minOccurs="0"/>
              <xs:element type="xs:short" name="sLocationNumber" maxOccurs="1" minOccurs="0"/>
              <xs:element type="xs:short" name="sLocationNumber2" maxOccurs="1" minOccurs="0"/>
              <xs:element type="xs:string" name="sCheckDigit" maxOccurs="1" minOccurs="0"/>
			  <xs:element type="xs:string" name="sCarFreightGroup" maxOccurs="1" minOccurs="0"/>
              <xs:element type="xs:short" name="sCredInfoNo" maxOccurs="1" minOccurs="0"/>
              <xs:element type="xs:string" name="sSCAC" maxOccurs="1" minOccurs="0"/>
              <xs:element type="xs:int" name="sDateOfBirth" maxOccurs="1" minOccurs="0"/>
			  <xs:element type="xs:string" name="sPODRelevant" maxOccurs="1" minOccurs="0"/>
              <xs:element type="xs:string" name="sPlaceOfBirth" maxOccurs="1" minOccurs="0"/>
              <xs:element type="xs:string" name="sProfession" maxOccurs="1" minOccurs="0"/>
              <xs:element name="aAddContactPersons" maxOccurs="unbounded" minOccurs="0">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:string" name="sFormOfAddress" maxOccurs="1" minOccurs="0"/>
                    <xs:element type="xs:string" name="sFirstName" maxOccurs="1" minOccurs="0"/>
                    <xs:element type="xs:string" name="sContactName" maxOccurs="1" minOccurs="0"/>
                    <xs:element type="xs:string" name="sDepartment" maxOccurs="1" minOccurs="0"/>
                    <xs:element type="xs:string" name="sDescription" maxOccurs="1" minOccurs="0"/>
                    <xs:element type="xs:int" name="sContactPhone" maxOccurs="1" minOccurs="0"/>
                    <xs:element type="xs:string" name="sFunction" maxOccurs="1" minOccurs="0"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="aAddBankDetails" maxOccurs="unbounded" minOccurs="0">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:string" name="sCountryKey" maxOccurs="1" minOccurs="0"/>
					<xs:element type="xs:string" name="sBankKeyTable" maxOccurs="1" minOccurs="0"/>
                    <xs:element type="xs:int" name="sBankKey" maxOccurs="1" minOccurs="0"/>
                    <xs:element type="xs:string" name="sBankAcctNo" maxOccurs="1" minOccurs="0"/>
                    <xs:element type="xs:string" name="sBankHolder" maxOccurs="1" minOccurs="0"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
		<xs:element type="xs:string" name="definitionId" maxOccurs="1" minOccurs="0"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>