Resources/canonical_library/xsd/Get_Job_Family_Groups_Response.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:nyw="urn:com.netyourwork/aod" xmlns:wd="urn:com.workday/bsvc" xmlns:wd-wsdl="urn:com.workday/bsvc/Human_Resources" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="urn:com.workday/bsvc">
    <xsd:element name="Get_Job_Family_Groups_Response" type="wd:Get_Job_Family_Groups_ResponseType"/>
    <xsd:simpleType name="Job_CategoryReferenceEnumeration">
        <xsd:restriction base="xsd:string">
            <xsd:annotation>
                <xsd:appinfo>
                    <wd:enumeration value="WID"/>
                    <wd:enumeration value="Job_Category_ID"/>
                </xsd:appinfo>
            </xsd:annotation>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:complexType name="Job_Profile_Summary_DataType">
        <xsd:annotation>
            <xsd:documentation>Contains the details of a Job Profile.</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element minOccurs="0" name="Job_Profile_Reference" type="wd:Job_ProfileObjectType">
                <xsd:annotation>
                    <xsd:documentation>A unique identifier for the job profile.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element maxOccurs="1" minOccurs="0" name="Job_Profile_Name" type="xsd:string">
                <xsd:annotation>
                    <xsd:documentation>The name of the job profile.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element minOccurs="0" name="Management_Level_Reference" type="wd:Management_LevelObjectType">
                <xsd:annotation>
                    <xsd:documentation>A unique identifier for the management level.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element minOccurs="0" name="Job_Category_Reference" type="wd:Job_CategoryObjectType">
                <xsd:annotation>
                    <xsd:documentation>A unique identifier for the job category.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element maxOccurs="unbounded" minOccurs="0" name="Job_Family_Reference" type="wd:Job_Family_BaseObjectType">
                <xsd:annotation>
                    <xsd:documentation>A unique identifier for the job family.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element maxOccurs="1" minOccurs="0" name="Work_Shift_Required" type="xsd:boolean">
                <xsd:annotation>
                    <xsd:documentation>A boolean attribute that returns true if a work shift is required on the position where this job profile is used.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element maxOccurs="unbounded" minOccurs="0" name="Job_Profile_Exempt_Data" type="wd:Job_Profile_Exempt_DataType"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="Critical_Job" type="xsd:boolean">
                <xsd:annotation>
                    <xsd:documentation>Boolean attribute indicating whether the job profile is considered a critical job.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element minOccurs="0" name="Difficulty_to_Fill_Reference" type="wd:Difficulty_to_FillObjectType">
                <xsd:annotation>
                    <xsd:documentation>A unique identifier for the difficulty to fill.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="Job_Family_Group_DataType">
        <xsd:annotation>
            <xsd:documentation>Encapsulating element containing all Job Family Group data</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="0" name="ID" type="xsd:string">
                <xsd:annotation>
                    <xsd:documentation>This is the reference id of the Job Family Group (Job_Family_Group_ID).</xsd:documentation>
                    <xsd:appinfo>
                        <wd:Validation>
                            <wd:Validation_Message>Job Family, '[job family]' specified where Job Family Group expected.</wd:Validation_Message>
                        </wd:Validation>
                    </xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
            <xsd:element maxOccurs="1" minOccurs="0" name="Effective_Date" type="xsd:date">
                <xsd:annotation>
                    <xsd:documentation>Effective date of Job Family Group</xsd:documentation>
                    <xsd:appinfo>
                        <wd:Validation>
                            <wd:Validation_Message>The effective date of the change [date] cannot be earlier than the earliest effective date [early].</wd:Validation_Message>
                        </wd:Validation>
                    </xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
            <xsd:element maxOccurs="1" minOccurs="0" name="Name" type="xsd:string">
                <xsd:annotation>
                    <xsd:documentation>Text attribute identifying Job Family Group Name.  This can be used for compensation and benefits eligibility rules.</xsd:documentation>
                    <xsd:appinfo>
                        <wd:Validation>
                            <wd:Validation_Message>Name is required.</wd:Validation_Message>
                        </wd:Validation>
                        <wd:Validation>
                            <wd:Validation_Message>Another Job Family or Job Family Group is already using this name.</wd:Validation_Message>
                        </wd:Validation>
                    </xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
            <xsd:element maxOccurs="1" minOccurs="0" name="Summary" type="xsd:string">
                <xsd:annotation>
                    <xsd:documentation>Text attribute identifying Job Family Group Summary.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element maxOccurs="1" minOccurs="0" name="Inactive" type="xsd:boolean">
                <xsd:annotation>
                    <xsd:documentation>Boolean attribute indicating if a Job Family/Job Family Group is Inactive or not.  Inactive Job Families/Groups will not appear in prompts.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element maxOccurs="unbounded" minOccurs="0" name="Job_Family_Data" type="wd:Job_Family_Group_Job_FamilyType">
                <xsd:annotation>
                    <xsd:documentation>Job Family Data.  Contains the references to Job Families contained in the group.  Optionally contains other data about the contained families, however this extra data is for information only and cannot be updated here.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="Get_Job_Family_Groups_ResponseType">
        <xsd:annotation>
            <xsd:documentation>Response element for the Get Job Family Group request</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element minOccurs="0" name="Request_References" type="wd:Job_Family_Group_Request_ReferencesType">
                <xsd:annotation>
                    <xsd:documentation>Utilize the Request References element to retrieve a specific instance(s) of Job Family Group and its associated data.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element minOccurs="0" name="Response_Filter" type="wd:Response_FilterType"/>
            <xsd:element minOccurs="0" name="Response_Group" type="wd:Job_Family_Group_Response_GroupType">
                <xsd:annotation>
                    <xsd:documentation>Contains settings to control the type and amount of data returned by the request.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element minOccurs="0" name="Response_Results" type="wd:Response_ResultsType"/>
            <xsd:element minOccurs="0" name="Response_Data" type="wd:Job_Family_Group_Response_DataType"/>
        </xsd:sequence>
        <xsd:attribute ref="wd:version"/>
    </xsd:complexType>
    <xsd:simpleType name="Job_Family_BaseReferenceEnumeration">
        <xsd:restriction base="xsd:string">
            <xsd:annotation>
                <xsd:appinfo>
                    <wd:enumeration value="WID"/>
                    <wd:enumeration value="Job_Family_Group_ID"/>
                    <wd:enumeration value="Job_Family_ID"/>
                </xsd:appinfo>
            </xsd:annotation>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:complexType name="Job_Family_Group_Job_Family_DataType">
        <xsd:annotation>
            <xsd:documentation>Info only data about a Job Family</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="0" name="Job_Family_Name" type="xsd:string">
                <xsd:annotation>
                    <xsd:documentation>The name of the Job Family.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element maxOccurs="1" minOccurs="0" name="Job_Family_Summary" type="xsd:string">
                <xsd:annotation>
                    <xsd:documentation>A summary description of the Job Family.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element maxOccurs="1" minOccurs="0" name="Inactive" type="xsd:boolean">
                <xsd:annotation>
                    <xsd:documentation>Boolean attribute indicating if a Job Family/Job Family Group is Inactive or not.  Inactive Job Families/Groups will not appear in prompts.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element maxOccurs="unbounded" minOccurs="0" name="Job_Profile_Info_Data" type="wd:Job_Profile_Summary_DataType">
                <xsd:annotation>
                    <xsd:documentation>Optional, Information only, Job Profile data.  This data is optionally included here and cannot be updated.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="Job_Family_Group_Request_ReferencesType">
        <xsd:annotation>
            <xsd:documentation>Utilize the Request References element to retrieve a specific instance(s) of Job Family Group and its associated data.</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element maxOccurs="unbounded" name="Job_Family_Group_Reference" type="wd:Job_FamilyObjectType">
                <xsd:annotation>
                    <xsd:documentation>A unique identifier used to reference a Job Family Group.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
        <xsd:attribute name="Skip_Non_Existing_Instances" type="xsd:boolean"/>
    </xsd:complexType>
    <xsd:complexType name="Job_CategoryObjectIDType">
        <xsd:annotation>
            <xsd:documentation>Contains a unique identifier for an instance of an object.</xsd:documentation>
        </xsd:annotation>
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute name="type" type="wd:Job_CategoryReferenceEnumeration" use="required">
                    <xsd:annotation>
                        <xsd:documentation>The unique identifier type. Each "ID" for an instance of an object contains a type and a value. A single instance of an object can have multiple "ID" but only a single "ID" per "type".</xsd:documentation>
                    </xsd:annotation>
                </xsd:attribute>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:simpleType name="Management_LevelReferenceEnumeration">
        <xsd:restriction base="xsd:string">
            <xsd:annotation>
                <xsd:appinfo>
                    <wd:enumeration value="WID"/>
                    <wd:enumeration value="Management_Level_ID"/>
                </xsd:appinfo>
            </xsd:annotation>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:complexType name="Difficulty_to_FillObjectType">
        <xsd:annotation wd:Is_Reference_ID="1"/>
        <xsd:sequence>
            <xsd:element maxOccurs="unbounded" minOccurs="0" name="ID" type="wd:Difficulty_to_FillObjectIDType"/>
        </xsd:sequence>
        <xsd:attribute name="Descriptor" type="xsd:string">
            <xsd:annotation>
                <xsd:documentation>Display information used to describe an instance of an object. This 'optional' information is for outbound descriptive purposes only and is not processed on inbound Workday Web Services requests.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
    <xsd:complexType name="Response_FilterType">
        <xsd:annotation>
            <xsd:documentation>Parameters that let you filter the data returned in the response. You can filter returned data by dates and page attributes.</xsd:documentation>
            <xsd:appinfo>
                <wd:Validation>
                    <xsd:documentation>Page number cannot be zero.</xsd:documentation>
                    <wd:Validation_Message>Page Number cannot be zero.</wd:Validation_Message>
                </wd:Validation>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="0" name="As_Of_Effective_Date" type="xsd:date">
                <xsd:annotation>
                    <xsd:documentation>Indicates the date when application data, such as benefits and compensation, become effective (Also referred to as the Effective Moment). If you don't specify a date, this date defaults to today.{+4}</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element maxOccurs="1" minOccurs="0" name="As_Of_Entry_DateTime" type="xsd:dateTime">
                <xsd:annotation>
                    <xsd:documentation>The date and time the data was entered into the system. (This field is also referred to as the Entry Moment). If the date isn't specified, the default date is the current date and time.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element maxOccurs="1" minOccurs="0" name="Page">
                <xsd:annotation>
                    <xsd:documentation>The numbered page of data Workday returns in the response. The default page is the first page(Page = 1). For responses that contain more than one page of data, use this parameter to retrieve the additional pages of data. For example, set Page = 2 to retrieve the second page of data.

Note: If you set the page parameter, you must also specify the "As_Of_Entry_Date" to ensure that the result set remains the same between your requests.</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:restriction base="xsd:decimal">
                        <xsd:totalDigits value="12"/>
                        <xsd:minInclusive value="0"/>
                        <xsd:fractionDigits value="0"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element maxOccurs="1" minOccurs="0" name="Count">
                <xsd:annotation>
                    <xsd:documentation>Sets the number of objects to return within each response page. Set a value between 1 and 999. The default value is 100.</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:restriction base="xsd:decimal">
                        <xsd:totalDigits value="3"/>
                        <xsd:minInclusive value="0"/>
                        <xsd:fractionDigits value="0"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="Job_Family_Group_NewType">
        <xsd:annotation>
            <xsd:documentation>Encapsulating element containing all Job Family Group data.</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element minOccurs="0" name="Job_Family_Group_Reference" type="wd:Job_FamilyObjectType">
                <xsd:annotation>
                    <xsd:documentation>A unique identifier used to reference a Job Family Group.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element minOccurs="0" name="Job_Family_Group_Data" type="wd:Job_Family_Group_DataType">
                <xsd:annotation>
                    <xsd:documentation>Contains the detailed information about an Job Family Group.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
        <xsd:attribute name="As_Of_Date" type="xsd:date">
            <xsd:annotation>
                <xsd:documentation>Defines the As Of Date to be used for any application effective dated data within the Workday system.  For "Request" elements, the "As Of Date" determines what data is to be used within search logic or returned in a response.  For "Response" elements, this element will echo "As Of Date" entered in the "Request" element or the default "As Of Date" if omitted..</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="As_Of_Moment" type="xsd:dateTime">
            <xsd:annotation>
                <xsd:documentation>Defines the latest moment (e.g. datetime) data was entered into the Workday system.  For "Request" elements, the "As Of Moment" determines what data is to be used within search logic or returned in a response.  For "Response" elements, this element will echo "As Of Moment" entered in the "Request" element or the default "As Of Moment" if omitted.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
    <xsd:complexType name="Job_Family_Group_Job_FamilyType">
        <xsd:annotation>
            <xsd:documentation>Job Family Data.  Contains the references to Job Families contained in the group.  Optionally contains other data about the contained families, however this extra data is for information only and cannot be updated here.</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="Job_Family_Reference" type="wd:Job_FamilyObjectType">
                <xsd:annotation>
                    <xsd:documentation>Reference element representing a unique instance of Job Family.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element minOccurs="0" name="Job_Family_Info_Data" type="wd:Job_Family_Group_Job_Family_DataType">
                <xsd:annotation>
                    <xsd:documentation>Optional, read-only, data about the job family.  This extra information is optionally provided on the Get operation.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
        <xsd:attribute name="Delete" type="xsd:boolean">
            <xsd:annotation>
                <xsd:documentation>Flag indicating that the association of the given Job Family should be removed from the group.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
    <xsd:complexType name="Job_FamilyObjectIDType">
        <xsd:annotation>
            <xsd:documentation>Contains a unique identifier for an instance of an object.</xsd:documentation>
        </xsd:annotation>
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute name="type" type="wd:Job_FamilyReferenceEnumeration" use="required">
                    <xsd:annotation>
                        <xsd:documentation>The unique identifier type. Each "ID" for an instance of an object contains a type and a value. A single instance of an object can have multiple "ID" but only a single "ID" per "type".</xsd:documentation>
                    </xsd:annotation>
                </xsd:attribute>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:simpleType name="Difficulty_to_FillReferenceEnumeration">
        <xsd:restriction base="xsd:string">
            <xsd:annotation>
                <xsd:appinfo>
                    <wd:enumeration value="WID"/>
                    <wd:enumeration value="Difficulty_to_Fill_Code"/>
                </xsd:appinfo>
            </xsd:annotation>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:complexType name="Job_Profile_Exempt_DataType">
        <xsd:annotation>
            <xsd:documentation>Element containing the Job Profile Exempt data for a Job Profile.</xsd:documentation>
            <xsd:appinfo>
                <wd:Validation>
                    <wd:Validation_Message>Only one Job Exempt entry for a Country/Country Region is allowed. This Country/Country Region is entered more than once: [Location Context].</wd:Validation_Message>
                </wd:Validation>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="Location_Context_Reference" type="wd:Location_ContextObjectType">
                <xsd:annotation>
                    <xsd:documentation>Contains the reference to the Country Reference or Country Region Reference for this Job Exempt value. Leave ISO 3166 1 Alpha 2 Code blank when there’s a value on Location Context.</xsd:documentation>
                    <xsd:appinfo>
                        <wd:Common_Reference_ID_Type>ISO_3166-1_Alpha-2_Code</wd:Common_Reference_ID_Type>
                    </xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
            <xsd:element maxOccurs="1" minOccurs="0" name="Job_Exempt" type="xsd:boolean">
                <xsd:annotation>
                    <xsd:documentation>Returns True if the Job Profile is Exempt for the given Country or Country Region.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
        <xsd:attribute name="Delete" type="xsd:boolean">
            <xsd:annotation>
                <xsd:documentation>If True is entered, the Job Exempt for the supplied Country/Country Region reference will be deleted.</xsd:documentation>
                <xsd:appinfo>
                    <wd:Validation>
                        <wd:Validation_Message>Delete is selected but the Job Profile does not have a Job Exempt entry for this Country/Country Region as of the effective date.
Job Profile: [profile] 
Country/Country Region: [location]
Effective Date: [date]</wd:Validation_Message>
                    </wd:Validation>
                </xsd:appinfo>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
    <xsd:complexType name="Location_ContextObjectIDType">
        <xsd:annotation>
            <xsd:documentation>Contains a unique identifier for an instance of an object.</xsd:documentation>
        </xsd:annotation>
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute name="type" type="wd:Location_ContextReferenceEnumeration" use="required">
                    <xsd:annotation>
                        <xsd:documentation>The unique identifier type. Each "ID" for an instance of an object contains a type and a value. A single instance of an object can have multiple "ID" but only a single "ID" per "type".</xsd:documentation>
                    </xsd:annotation>
                </xsd:attribute>
                <xsd:attribute name="parent_id" type="xsd:string">
                    <xsd:annotation>
                        <xsd:documentation>Contains a unique identifier for an instance of a parent object</xsd:documentation>
                    </xsd:annotation>
                </xsd:attribute>
                <xsd:attribute name="parent_type">
                    <xsd:annotation>
                        <xsd:documentation>The unique identifier type of a parent object</xsd:documentation>
                    </xsd:annotation>
                    <xsd:simpleType>
                        <xsd:restriction base="xsd:string">
                            <xsd:annotation>
                                <xsd:appinfo>
                                    <wd:enumeration value="WID"/>
                                    <wd:enumeration value="ISO_3166-1_Alpha-2_Code"/>
                                    <wd:enumeration value="ISO_3166-1_Alpha-3_Code"/>
                                    <wd:enumeration value="ISO_3166-1_Numeric-3_Code"/>
                                </xsd:appinfo>
                            </xsd:annotation>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:attribute>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:simpleType name="Job_FamilyReferenceEnumeration">
        <xsd:restriction base="xsd:string">
            <xsd:annotation>
                <xsd:appinfo>
                    <wd:enumeration value="WID"/>
                    <wd:enumeration value="Job_Family_ID"/>
                </xsd:appinfo>
            </xsd:annotation>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="Location_ContextReferenceEnumeration">
        <xsd:restriction base="xsd:string">
            <xsd:annotation>
                <xsd:appinfo>
                    <wd:enumeration value="WID"/>
                    <wd:enumeration value="Country_Region_ID"/>
                    <wd:enumeration value="Country_Subregion_Code_In_Country"/>
                    <wd:enumeration value="Country_Subregion_Internal_ID"/>
                    <wd:enumeration value="ISO_3166-1_Alpha-2_Code"/>
                    <wd:enumeration value="ISO_3166-1_Alpha-3_Code"/>
                    <wd:enumeration value="ISO_3166-1_Numeric-3_Code"/>
                    <wd:enumeration value="ISO_3166-2_Code"/>
                </xsd:appinfo>
            </xsd:annotation>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="Job_ProfileReferenceEnumeration">
        <xsd:restriction base="xsd:string">
            <xsd:annotation>
                <xsd:appinfo>
                    <wd:enumeration value="WID"/>
                    <wd:enumeration value="Job_Profile_ID"/>
                </xsd:appinfo>
            </xsd:annotation>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:complexType name="Job_ProfileObjectIDType">
        <xsd:annotation>
            <xsd:documentation>Contains a unique identifier for an instance of an object.</xsd:documentation>
        </xsd:annotation>
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute name="type" type="wd:Job_ProfileReferenceEnumeration" use="required">
                    <xsd:annotation>
                        <xsd:documentation>The unique identifier type. Each "ID" for an instance of an object contains a type and a value. A single instance of an object can have multiple "ID" but only a single "ID" per "type".</xsd:documentation>
                    </xsd:annotation>
                </xsd:attribute>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="Difficulty_to_FillObjectIDType">
        <xsd:annotation>
            <xsd:documentation>Contains a unique identifier for an instance of an object.</xsd:documentation>
        </xsd:annotation>
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute name="type" type="wd:Difficulty_to_FillReferenceEnumeration" use="required">
                    <xsd:annotation>
                        <xsd:documentation>The unique identifier type. Each "ID" for an instance of an object contains a type and a value. A single instance of an object can have multiple "ID" but only a single "ID" per "type".</xsd:documentation>
                    </xsd:annotation>
                </xsd:attribute>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:attribute name="version" type="xsd:string" wd:fixed="v34.2"/>
    <xsd:complexType name="Job_Family_Group_Response_GroupType">
        <xsd:annotation>
            <xsd:documentation>Get Job Family Group Response Group</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="0" name="Include_Reference" type="xsd:boolean">
                <xsd:annotation>
                    <xsd:documentation>Flag indicating if the reference to the Job Family Group should be included.  If omitted, the default is to return the references.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element maxOccurs="1" minOccurs="0" name="Include_Job_Profile_Info_Data" type="xsd:boolean">
                <xsd:annotation>
                    <xsd:documentation>Flag indicating whether or not to include the basic data about Job Profiles that are used by the Job Families associated with the group.  Default is to not return this additional information.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="Location_ContextObjectType">
        <xsd:annotation wd:Is_Reference_ID="1"/>
        <xsd:sequence>
            <xsd:element maxOccurs="unbounded" minOccurs="0" name="ID" type="wd:Location_ContextObjectIDType"/>
        </xsd:sequence>
        <xsd:attribute name="Descriptor" type="xsd:string">
            <xsd:annotation>
                <xsd:documentation>Display information used to describe an instance of an object. This 'optional' information is for outbound descriptive purposes only and is not processed on inbound Workday Web Services requests.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
    <xsd:complexType name="Job_Family_Group_Response_DataType">
        <xsd:annotation>
            <xsd:documentation>Response element for the Get Job Family request</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element maxOccurs="unbounded" minOccurs="0" name="Job_Family_Group" type="wd:Job_Family_Group_NewType"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="Job_FamilyObjectType">
        <xsd:annotation wd:Is_Reference_ID="1"/>
        <xsd:sequence>
            <xsd:element maxOccurs="unbounded" minOccurs="0" name="ID" type="wd:Job_FamilyObjectIDType"/>
        </xsd:sequence>
        <xsd:attribute name="Descriptor" type="xsd:string">
            <xsd:annotation>
                <xsd:documentation>Display information used to describe an instance of an object. This 'optional' information is for outbound descriptive purposes only and is not processed on inbound Workday Web Services requests.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
    <xsd:complexType name="Job_Family_BaseObjectIDType">
        <xsd:annotation>
            <xsd:documentation>Contains a unique identifier for an instance of an object.</xsd:documentation>
        </xsd:annotation>
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute name="type" type="wd:Job_Family_BaseReferenceEnumeration" use="required">
                    <xsd:annotation>
                        <xsd:documentation>The unique identifier type. Each "ID" for an instance of an object contains a type and a value. A single instance of an object can have multiple "ID" but only a single "ID" per "type".</xsd:documentation>
                    </xsd:annotation>
                </xsd:attribute>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="Job_Family_BaseObjectType">
        <xsd:annotation wd:Is_Reference_ID="1"/>
        <xsd:sequence>
            <xsd:element maxOccurs="unbounded" minOccurs="0" name="ID" type="wd:Job_Family_BaseObjectIDType"/>
        </xsd:sequence>
        <xsd:attribute name="Descriptor" type="xsd:string">
            <xsd:annotation>
                <xsd:documentation>Display information used to describe an instance of an object. This 'optional' information is for outbound descriptive purposes only and is not processed on inbound Workday Web Services requests.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
    <xsd:complexType name="Management_LevelObjectIDType">
        <xsd:annotation>
            <xsd:documentation>Contains a unique identifier for an instance of an object.</xsd:documentation>
        </xsd:annotation>
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute name="type" type="wd:Management_LevelReferenceEnumeration" use="required">
                    <xsd:annotation>
                        <xsd:documentation>The unique identifier type. Each "ID" for an instance of an object contains a type and a value. A single instance of an object can have multiple "ID" but only a single "ID" per "type".</xsd:documentation>
                    </xsd:annotation>
                </xsd:attribute>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="Response_ResultsType">
        <xsd:annotation>
            <xsd:documentation>The "Response_Results" element contains summary information about the data that has been returned from your request including "Total_Results", "Total_Pages", and the current "Page" returned.</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="0" name="Total_Results">
                <xsd:annotation>
                    <xsd:documentation>The total number of results that your request returned.</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:restriction base="xsd:decimal">
                        <xsd:totalDigits value="12"/>
                        <xsd:minInclusive value="0"/>
                        <xsd:fractionDigits value="0"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element maxOccurs="1" minOccurs="0" name="Total_Pages">
                <xsd:annotation>
                    <xsd:documentation>The total number of pages requested. A page of data in a WWS has a 100 entry maximum.</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:restriction base="xsd:decimal">
                        <xsd:totalDigits value="12"/>
                        <xsd:minInclusive value="0"/>
                        <xsd:fractionDigits value="0"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element maxOccurs="1" minOccurs="0" name="Page_Results">
                <xsd:annotation>
                    <xsd:documentation>The number of results in the current page.</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:restriction base="xsd:decimal">
                        <xsd:totalDigits value="12"/>
                        <xsd:minInclusive value="0"/>
                        <xsd:fractionDigits value="0"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element maxOccurs="1" minOccurs="0" name="Page">
                <xsd:annotation>
                    <xsd:documentation>The page number of the data the WWS returned for your request.</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:restriction base="xsd:decimal">
                        <xsd:totalDigits value="12"/>
                        <xsd:minInclusive value="0"/>
                        <xsd:fractionDigits value="0"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="Management_LevelObjectType">
        <xsd:annotation wd:Is_Reference_ID="1"/>
        <xsd:sequence>
            <xsd:element maxOccurs="unbounded" minOccurs="0" name="ID" type="wd:Management_LevelObjectIDType"/>
        </xsd:sequence>
        <xsd:attribute name="Descriptor" type="xsd:string">
            <xsd:annotation>
                <xsd:documentation>Display information used to describe an instance of an object. This 'optional' information is for outbound descriptive purposes only and is not processed on inbound Workday Web Services requests.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
    <xsd:complexType name="Job_ProfileObjectType">
        <xsd:annotation wd:Is_Reference_ID="1"/>
        <xsd:sequence>
            <xsd:element maxOccurs="unbounded" minOccurs="0" name="ID" type="wd:Job_ProfileObjectIDType"/>
        </xsd:sequence>
        <xsd:attribute name="Descriptor" type="xsd:string">
            <xsd:annotation>
                <xsd:documentation>Display information used to describe an instance of an object. This 'optional' information is for outbound descriptive purposes only and is not processed on inbound Workday Web Services requests.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
    <xsd:complexType name="Job_CategoryObjectType">
        <xsd:annotation wd:Is_Reference_ID="1"/>
        <xsd:sequence>
            <xsd:element maxOccurs="unbounded" minOccurs="0" name="ID" type="wd:Job_CategoryObjectIDType"/>
        </xsd:sequence>
        <xsd:attribute name="Descriptor" type="xsd:string">
            <xsd:annotation>
                <xsd:documentation>Display information used to describe an instance of an object. This 'optional' information is for outbound descriptive purposes only and is not processed on inbound Workday Web Services requests.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
</xsd:schema>
