Resources/canonical_library/xsd/Get_Candidates_Request.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:nyw="urn:com.netyourwork/aod" xmlns:wd="urn:com.workday/bsvc" xmlns:wd-wsdl="urn:com.workday/bsvc/Recruiting" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="urn:com.workday/bsvc">
<xsd:element name="Get_Candidates_Request" type="wd:Get_Candidates_RequestType"/>
<xsd:complexType name="Applicant_SourceObjectType">
<xsd:annotation wd:Is_Reference_ID="1"/>
<xsd:sequence>
<xsd:element maxOccurs="unbounded" minOccurs="0" name="ID" type="wd:Applicant_SourceObjectIDType"/>
</xsd:sequence>
<xsd:attribute name="Descriptor" type="xsd:string">
<xsd:annotation>
<xsd:documentation>Display information used to describe an instance of an object. This 'optional' information is for outbound descriptive purposes only and is not processed on inbound Workday Web Services requests.</xsd:documentation>
</xsd:annotation>
</xsd:attribute>
</xsd:complexType>
<xsd:simpleType name="Job_Requisition_EnabledReferenceEnumeration">
<xsd:restriction base="xsd:string">
<xsd:annotation>
<xsd:appinfo>
<wd:enumeration value="WID"/>
<wd:enumeration value="Job_Requisition_ID"/>
</xsd:appinfo>
</xsd:annotation>
</xsd:restriction>
</xsd:simpleType>
<xsd:complexType name="ApplicantObjectType">
<xsd:annotation wd:Is_Reference_ID="1"/>
<xsd:sequence>
<xsd:element maxOccurs="unbounded" minOccurs="0" name="ID" type="wd:ApplicantObjectIDType"/>
</xsd:sequence>
<xsd:attribute name="Descriptor" type="xsd:string">
<xsd:annotation>
<xsd:documentation>Display information used to describe an instance of an object. This 'optional' information is for outbound descriptive purposes only and is not processed on inbound Workday Web Services requests.</xsd:documentation>
</xsd:annotation>
</xsd:attribute>
</xsd:complexType>
<xsd:complexType name="CandidateObjectType">
<xsd:annotation wd:Is_Reference_ID="1"/>
<xsd:sequence>
<xsd:element maxOccurs="unbounded" minOccurs="0" name="ID" type="wd:CandidateObjectIDType"/>
</xsd:sequence>
<xsd:attribute name="Descriptor" type="xsd:string">
<xsd:annotation>
<xsd:documentation>Display information used to describe an instance of an object. This 'optional' information is for outbound descriptive purposes only and is not processed on inbound Workday Web Services requests.</xsd:documentation>
</xsd:annotation>
</xsd:attribute>
</xsd:complexType>
<xsd:complexType name="WorkerObjectType">
<xsd:annotation wd:Is_Reference_ID="1"/>
<xsd:sequence>
<xsd:element maxOccurs="unbounded" minOccurs="0" name="ID" type="wd:WorkerObjectIDType"/>
</xsd:sequence>
<xsd:attribute name="Descriptor" type="xsd:string">
<xsd:annotation>
<xsd:documentation>Display information used to describe an instance of an object. This 'optional' information is for outbound descriptive purposes only and is not processed on inbound Workday Web Services requests.</xsd:documentation>
</xsd:annotation>
</xsd:attribute>
</xsd:complexType>
<xsd:complexType name="Job_Requisition_EnabledObjectType">
<xsd:annotation wd:Is_Reference_ID="1"/>
<xsd:sequence>
<xsd:element maxOccurs="unbounded" minOccurs="0" name="ID" type="wd:Job_Requisition_EnabledObjectIDType"/>
</xsd:sequence>
<xsd:attribute name="Descriptor" type="xsd:string">
<xsd:annotation>
<xsd:documentation>Display information used to describe an instance of an object. This 'optional' information is for outbound descriptive purposes only and is not processed on inbound Workday Web Services requests.</xsd:documentation>
</xsd:annotation>
</xsd:attribute>
</xsd:complexType>
<xsd:simpleType name="Recruiting_Stage__Workday_Owned_ReferenceEnumeration">
<xsd:restriction base="xsd:string">
<xsd:annotation>
<xsd:appinfo>
<wd:enumeration value="WID"/>
<wd:enumeration value="Recruiting_Stage_ID"/>
</xsd:appinfo>
</xsd:annotation>
</xsd:restriction>
</xsd:simpleType>
<xsd:complexType name="Candidate_Response_GroupType">
<xsd:annotation>
<xsd:documentation>Element containing Candidate response grouping options</xsd:documentation>
</xsd:annotation>
<xsd:sequence>
<xsd:element maxOccurs="1" minOccurs="0" name="Include_Reference" type="xsd:boolean">
<xsd:annotation>
<xsd:documentation>Include Reference</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element maxOccurs="1" minOccurs="0" name="Exclude_All_Attachments" type="xsd:boolean">
<xsd:annotation>
<xsd:documentation>Exclude job application and prospect attachments in the response if true.</xsd:documentation>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
<xsd:simpleType name="Applicant_SourceReferenceEnumeration">
<xsd:restriction base="xsd:string">
<xsd:annotation>
<xsd:appinfo>
<wd:enumeration value="WID"/>
<wd:enumeration value="Applicant_Source_ID"/>
</xsd:appinfo>
</xsd:annotation>
</xsd:restriction>
</xsd:simpleType>
<xsd:complexType name="Job_Requisition_EnabledObjectIDType">
<xsd:annotation>
<xsd:documentation>Contains a unique identifier for an instance of an object.</xsd:documentation>
</xsd:annotation>
<xsd:simpleContent>
<xsd:extension base="xsd:string">
<xsd:attribute name="type" type="wd:Job_Requisition_EnabledReferenceEnumeration" use="required">
<xsd:annotation>
<xsd:documentation>The unique identifier type. Each "ID" for an instance of an object contains a type and a value. A single instance of an object can have multiple "ID" but only a single "ID" per "type".</xsd:documentation>
</xsd:annotation>
</xsd:attribute>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:attribute name="version" type="xsd:string" wd:fixed="v32.0"/>
<xsd:complexType name="Response_FilterType">
<xsd:annotation>
<xsd:documentation>Parameters that let you filter the data returned in the response. You can filter returned data by dates and page attributes.</xsd:documentation>
<xsd:appinfo>
<wd:Validation>
<xsd:documentation>Page number cannot be zero.</xsd:documentation>
<wd:Validation_Message>Page Number cannot be zero.</wd:Validation_Message>
</wd:Validation>
</xsd:appinfo>
</xsd:annotation>
<xsd:sequence>
<xsd:element maxOccurs="1" minOccurs="0" name="As_Of_Effective_Date" type="xsd:date">
<xsd:annotation>
<xsd:documentation>Indicates the date when application data, such as benefits and compensation, are deemed effective in the Workday system. (Also referred to as the "Effective Moment".) If not specified, this date defaults to TODAY.</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element maxOccurs="1" minOccurs="0" name="As_Of_Entry_DateTime" type="xsd:dateTime">
<xsd:annotation>
<xsd:documentation>Indicates the date and time that data was entered into the system. (This field is also referred to as the "Entry Moment".) If not specified, defaults to the CURRENT DATE/TIME.</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element maxOccurs="1" minOccurs="0" name="Page">
<xsd:annotation>
<xsd:documentation>Indicates the page of data to return in the response, and defaults to the first page (Page = 1). For responses that contain more than one page of data, use this parameter to retrieve the additional pages of data. For example, set Page = 2 to retrieve the second page of data.

Note: If you set the page parameter, you must also specify the "As_Of_Entry_Date" to ensure that the result set remains the same between your requests.</xsd:documentation>
</xsd:annotation>
<xsd:simpleType>
<xsd:restriction base="xsd:decimal">
<xsd:totalDigits value="12"/>
<xsd:minInclusive value="0"/>
<xsd:fractionDigits value="0"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
<xsd:element maxOccurs="1" minOccurs="0" name="Count">
<xsd:annotation>
<xsd:documentation>Sets the number of objects to return within each response page (Min = 1, Max = 999, Default = 100 if not set). Any values you set must be between 1-999.</xsd:documentation>
</xsd:annotation>
<xsd:simpleType>
<xsd:restriction base="xsd:decimal">
<xsd:totalDigits value="3"/>
<xsd:minInclusive value="0"/>
<xsd:fractionDigits value="0"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="ApplicantObjectIDType">
<xsd:annotation>
<xsd:documentation>Contains a unique identifier for an instance of an object.</xsd:documentation>
</xsd:annotation>
<xsd:simpleContent>
<xsd:extension base="xsd:string">
<xsd:attribute name="type" type="wd:ApplicantReferenceEnumeration" use="required">
<xsd:annotation>
<xsd:documentation>The unique identifier type. Each "ID" for an instance of an object contains a type and a value. A single instance of an object can have multiple "ID" but only a single "ID" per "type".</xsd:documentation>
</xsd:annotation>
</xsd:attribute>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="Recruiting_Stage__Workday_Owned_ObjectIDType">
<xsd:annotation>
<xsd:documentation>Contains a unique identifier for an instance of an object.</xsd:documentation>
</xsd:annotation>
<xsd:simpleContent>
<xsd:extension base="xsd:string">
<xsd:attribute name="type" type="wd:Recruiting_Stage__Workday_Owned_ReferenceEnumeration" use="required">
<xsd:annotation>
<xsd:documentation>The unique identifier type. Each "ID" for an instance of an object contains a type and a value. A single instance of an object can have multiple "ID" but only a single "ID" per "type".</xsd:documentation>
</xsd:annotation>
</xsd:attribute>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:simpleType name="CandidateReferenceEnumeration">
<xsd:restriction base="xsd:string">
<xsd:annotation>
<xsd:appinfo>
<wd:enumeration value="WID"/>
<wd:enumeration value="Candidate_ID"/>
</xsd:appinfo>
</xsd:annotation>
</xsd:restriction>
</xsd:simpleType>
<xsd:simpleType name="ApplicantReferenceEnumeration">
<xsd:restriction base="xsd:string">
<xsd:annotation>
<xsd:appinfo>
<wd:enumeration value="WID"/>
<wd:enumeration value="Applicant_ID"/>
</xsd:appinfo>
</xsd:annotation>
</xsd:restriction>
</xsd:simpleType>
<xsd:complexType name="WorkerObjectIDType">
<xsd:annotation>
<xsd:documentation>Contains a unique identifier for an instance of an object.</xsd:documentation>
</xsd:annotation>
<xsd:simpleContent>
<xsd:extension base="xsd:string">
<xsd:attribute name="type" type="wd:WorkerReferenceEnumeration" use="required">
<xsd:annotation>
<xsd:documentation>The unique identifier type. Each "ID" for an instance of an object contains a type and a value. A single instance of an object can have multiple "ID" but only a single "ID" per "type".</xsd:documentation>
</xsd:annotation>
</xsd:attribute>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="Candidate_Request_CriteriaType">
<xsd:annotation>
<xsd:documentation>Utilize the following criteria options to search for Candidates within the Workday system. The Candidate references that are returned are those that satisfy ALL criteria included in the request. Therefore, the result set will become more limited with every criterium that is populated.</xsd:documentation>
<xsd:appinfo>
<wd:Validation>
<wd:Validation_Message>Applied From date must be greater or equal to Applied Through date.</wd:Validation_Message>
</wd:Validation>
<wd:Validation>
<wd:Validation_Message>Created From date must be less than or equal to Created Through date.</wd:Validation_Message>
</wd:Validation>
</xsd:appinfo>
</xsd:annotation>
<xsd:sequence>
<xsd:element maxOccurs="1" minOccurs="0" name="First_Name" type="xsd:string">
<xsd:annotation>
<xsd:documentation>The first name (given name) for the candidate.</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element maxOccurs="1" minOccurs="0" name="Last_Name" type="xsd:string">
<xsd:annotation>
<xsd:documentation>The last name for the candidate.</xsd:documentation>
<xsd:appinfo>
<wd:Validation>
<wd:Validation_Message>Last Name is required if First Name is entered.</wd:Validation_Message>
</wd:Validation>
</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element maxOccurs="1" minOccurs="0" name="Candidate_Email_Address" type="xsd:string">
<xsd:annotation>
<xsd:documentation>The public primary email address for the candidate.</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element maxOccurs="unbounded" minOccurs="0" name="Pre-Hire_Reference" type="wd:ApplicantObjectType">
<xsd:annotation>
<xsd:documentation>Reference to the pre-hire that is the candidate.</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element maxOccurs="unbounded" minOccurs="0" name="Worker_Reference" type="wd:WorkerObjectType">
<xsd:annotation>
<xsd:documentation>Reference to the worker that is the candidate.</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element maxOccurs="unbounded" minOccurs="0" name="Job_Requisition_Reference" type="wd:Job_Requisition_EnabledObjectType">
<xsd:annotation>
<xsd:documentation>Reference to the job requisition.</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element maxOccurs="unbounded" minOccurs="0" name="Recruiting_Stage_Reference" type="wd:Recruiting_Stage__Workday_Owned_ObjectType">
<xsd:annotation>
<xsd:documentation>Reference to a recruiting stage.</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element maxOccurs="unbounded" minOccurs="0" name="Applicant_Source_Reference" type="wd:Applicant_SourceObjectType">
<xsd:annotation>
<xsd:documentation>Reference to an applicant source.</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element maxOccurs="1" minOccurs="0" name="Applied_From" type="xsd:dateTime">
<xsd:annotation>
<xsd:documentation>Find Candidates who applied after this date.</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element maxOccurs="1" minOccurs="0" name="Applied_Through" type="xsd:dateTime">
<xsd:annotation>
<xsd:documentation>Find Candidates who applied up to this date.</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element maxOccurs="1" minOccurs="0" name="Internal_Workers_Only" type="xsd:boolean">
<xsd:annotation>
<xsd:documentation>Include Only Workers will only return internal candidates that are employees or contingent workers at the time of application.</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element maxOccurs="1" minOccurs="0" name="Created_From" type="xsd:dateTime">
<xsd:annotation>
<xsd:documentation>Find Candidates created after this date and time.</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element maxOccurs="1" minOccurs="0" name="Created_Through" type="xsd:dateTime">
<xsd:annotation>
<xsd:documentation>Find Candidates created up to this date and time.</xsd:documentation>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="Applicant_SourceObjectIDType">
<xsd:annotation>
<xsd:documentation>Contains a unique identifier for an instance of an object.</xsd:documentation>
</xsd:annotation>
<xsd:simpleContent>
<xsd:extension base="xsd:string">
<xsd:attribute name="type" type="wd:Applicant_SourceReferenceEnumeration" use="required">
<xsd:annotation>
<xsd:documentation>The unique identifier type. Each "ID" for an instance of an object contains a type and a value. A single instance of an object can have multiple "ID" but only a single "ID" per "type".</xsd:documentation>
</xsd:annotation>
</xsd:attribute>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="CandidateObjectIDType">
<xsd:annotation>
<xsd:documentation>Contains a unique identifier for an instance of an object.</xsd:documentation>
</xsd:annotation>
<xsd:simpleContent>
<xsd:extension base="xsd:string">
<xsd:attribute name="type" type="wd:CandidateReferenceEnumeration" use="required">
<xsd:annotation>
<xsd:documentation>The unique identifier type. Each "ID" for an instance of an object contains a type and a value. A single instance of an object can have multiple "ID" but only a single "ID" per "type".</xsd:documentation>
</xsd:annotation>
</xsd:attribute>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="Candidate_Request_ReferencesType">
<xsd:annotation>
<xsd:documentation>Contains candidate references.</xsd:documentation>
</xsd:annotation>
<xsd:sequence>
<xsd:element maxOccurs="unbounded" name="Candidate_Reference" type="wd:CandidateObjectType">
<xsd:annotation>
<xsd:documentation>Candidate Request References</xsd:documentation>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
<xsd:attribute name="Skip_Non_Existing_Instances" type="xsd:boolean"/>
</xsd:complexType>
<xsd:complexType name="Get_Candidates_RequestType">
<xsd:annotation>
<xsd:documentation>Contains request reference, criteria, filter and response group for getting Candidate data.</xsd:documentation>
</xsd:annotation>
<xsd:sequence>
<xsd:choice>
<xsd:element minOccurs="0" name="Request_References" type="wd:Candidate_Request_ReferencesType">
<xsd:annotation>
<xsd:documentation>Wrapper element containing references to specific candidates.</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element minOccurs="0" name="Request_Criteria" type="wd:Candidate_Request_CriteriaType">
<xsd:annotation>
<xsd:documentation>Wrapper element around a list of elements representing the Customer specific criteria needed to search for instances (all of the elements are "AND" conditions). These are attributes and/or references that provide an alternate way to find instances or data outside of the Workday IDs and Lookup IDs contained within the "Request_References" element.</xsd:documentation>
</xsd:annotation>
</xsd:element>
</xsd:choice>
<xsd:element minOccurs="0" name="Response_Filter" type="wd:Response_FilterType">
<xsd:annotation>
<xsd:documentation>The "Response_Filter" element contains common WWS information that allows you control the response data that you will be provided including As_Of_Date, As_Of_Entry_Moment, and Page attributes.</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element minOccurs="0" name="Response_Group" type="wd:Candidate_Response_GroupType">
<xsd:annotation>
<xsd:documentation>The response group allows for the response data to be tailored to only included elements that the user is looking for.  If no response group is provided in the request, then all groups will be returned.</xsd:documentation>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
<xsd:attribute ref="wd:version"/>
</xsd:complexType>
<xsd:simpleType name="WorkerReferenceEnumeration">
<xsd:restriction base="xsd:string">
<xsd:annotation>
<xsd:appinfo>
<wd:enumeration value="WID"/>
<wd:enumeration value="Contingent_Worker_ID"/>
<wd:enumeration value="Employee_ID"/>
</xsd:appinfo>
</xsd:annotation>
</xsd:restriction>
</xsd:simpleType>
<xsd:complexType name="Recruiting_Stage__Workday_Owned_ObjectType">
<xsd:annotation wd:Is_Reference_ID="1"/>
<xsd:sequence>
<xsd:element maxOccurs="unbounded" minOccurs="0" name="ID" type="wd:Recruiting_Stage__Workday_Owned_ObjectIDType"/>
</xsd:sequence>
<xsd:attribute name="Descriptor" type="xsd:string">
<xsd:annotation>
<xsd:documentation>Display information used to describe an instance of an object. This 'optional' information is for outbound descriptive purposes only and is not processed on inbound Workday Web Services requests.</xsd:documentation>
</xsd:annotation>
</xsd:attribute>
</xsd:complexType>
</xsd:schema>
