Resources/canonical_library/xsd/GetCatalogRequest.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="GetCatalogRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="atcontext">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="atvocab" type="xs:anyURI"/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="attype" type="xs:string"/>
                <xs:element name="counterPartyAddress" type="xs:anyURI"/>
                <xs:element name="counterPartyId" type="xs:string"/>
                <xs:element name="protocol" type="xs:string"/>
                <xs:element minOccurs="0" name="querySpec">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="offset" minOccurs="0" type="xs:integer"/>
                            <xs:element name="limit" minOccurs="0" type="xs:integer"/>
                            <xs:element name="sortOrder" minOccurs="0" type="xs:string"/>
                            <xs:element name="sortField" minOccurs="0" type="xs:string"/>
                            <xs:element name="filterExpression" minOccurs="0" maxOccurs="unbounded">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="operandLeft" type="xs:string"/>
                                        <xs:element name="operator" type="xs:string"/>
                                        <xs:element name="operandRight" type="xs:string"/>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>