Resources/canonical_library/xsd/GetOpenItems.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="qualified">
   <xs:element name="GetOpenItems">
      <xs:complexType>
         <xs:sequence>
            <xs:element type="xs:string" name="CompanyCode" maxOccurs="1" />
            <xs:element type="xs:string" name="Customer" maxOccurs="1" />
         </xs:sequence>
      </xs:complexType>
   </xs:element>
</xs:schema>