Resources/canonical_library/xsd/getReports.xsd

<?xml version="1.0" encoding="UTF-8"?><xs:schema targetNamespace="http://DataCollectionLibrary/org/unjspf/ws/datacollection/Hr" version="1.0" xmlns:ns1="http://datacollection.unjspf.org/hr-1.0" xmlns:tns="http://DataCollectionLibrary/org/unjspf/ws/datacollection/Hr" xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:import namespace="http://datacollection.unjspf.org/hr-1.0" schemaLocation="CommonHrServiceCommonHrHttpService_schema1.xsd"/>

  <xs:element name="getReports" type="tns:getReports"/>

  <xs:element name="getReportsFault1_getReportsFault" type="ns1:UnjspfFaultInfo"/>

  <xs:element name="getReportsResponse" type="tns:getReportsResponse"/>

  <xs:element name="transmitStaffMemberData" type="tns:transmitStaffMemberData"/>

  <xs:element name="transmitStaffMemberDataFault1_transmitStaffMemberDataFault" type="ns1:UnjspfFaultInfo"/>

  <xs:element name="transmitStaffMemberDataResponse" type="tns:transmitStaffMemberDataResponse"/>
  
  <xs:element name="synchronizeStaffMemberData" type="tns:synchronizeStaffMemberData"/>

  <xs:element name="synchronizeStaffMemberDataFault" type="ns1:UnjspfFaultInfo"/>

  <xs:element name="synchronizeStaffMemberDataResponse" type="tns:synchronizeStaffMemberDataResponse"/>

  <xs:complexType name="transmitStaffMemberData">
    <xs:sequence>
      <xs:element minOccurs="0" name="TransmitStaffMemberDataRequest" type="ns1:TransmitStaffMemberDataOperation"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="transmitStaffMemberDataResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="TransmitStaffMemberDataResponse" type="ns1:CommonResponse"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="getReports">
    <xs:sequence>
      <xs:element minOccurs="0" name="GetReportsRequest" type="ns1:GetReportsOperation"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="getReportsResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="GetReportsResponse" type="ns1:GetReportsResponse"/>
    </xs:sequence>
  </xs:complexType>
  
  <xs:complexType name="synchronizeStaffMemberData">
    <xs:sequence>
      <xs:element minOccurs="0" name="SynchronizeStaffMemberDataRequest" type="ns1:SynchronizeStaffMemberDataOperation"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="synchronizeStaffMemberDataResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="SynchronizeStaffMemberDataResponse" type="ns1:CommonResponse"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>