Resources/canonical_library/xsd/HRSM_D01.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	elementFormDefault="qualified" targetNamespace="urn:sap-com:document:sap:idoc:soap:messages">

	<xs:element name="HRSM_D01">
		<xs:complexType>
			<xs:sequence>

				<xs:element name="IDOC" minOccurs="0" maxOccurs="unbounded">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="EDI_DC40" minOccurs="1" maxOccurs="1">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="TABNAM" minOccurs="1" maxOccurs="1">
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:maxLength value="10" />
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="MANDT" minOccurs="0" maxOccurs="1">
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:maxLength value="3" />
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="DOCNUM" minOccurs="0" maxOccurs="1">
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:maxLength value="16" />
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="DOCREL" minOccurs="0" maxOccurs="1">
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:maxLength value="4" />
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="STATUS" minOccurs="0" maxOccurs="1">
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:maxLength value="2" />
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="DIRECT" minOccurs="0" maxOccurs="1">
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:maxLength value="1" />
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="OUTMOD" minOccurs="0" maxOccurs="1">
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:maxLength value="1" />
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="EXPRSS" minOccurs="0" maxOccurs="1">
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:maxLength value="1" />
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="TEST" minOccurs="0" maxOccurs="1">
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:maxLength value="1" />
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="IDOCTYP" minOccurs="1" maxOccurs="1">
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:maxLength value="30" />
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="CIMTYP" minOccurs="0" maxOccurs="1">
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:maxLength value="30" />
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="MESTYP" minOccurs="1" maxOccurs="1">
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:maxLength value="30" />
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="MESCOD" minOccurs="0" maxOccurs="1">
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:maxLength value="3" />
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="MESFCT" minOccurs="0" maxOccurs="1">
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:maxLength value="3" />
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="STD" minOccurs="0" maxOccurs="1">
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:maxLength value="3" />
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="STDVRS" minOccurs="0" maxOccurs="1">
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:maxLength value="6" />
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="STDMES" minOccurs="0" maxOccurs="1">
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:maxLength value="6" />
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="SNDPOR" minOccurs="1" maxOccurs="1">
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:maxLength value="6" />
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="SNDPRT" minOccurs="1" maxOccurs="1">
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:maxLength value="2" />
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="SNDPFC" minOccurs="0" maxOccurs="1">
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:maxLength value="2" />
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="SNDPRN" minOccurs="1" maxOccurs="1">
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:maxLength value="10" />
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="SNDSAD" minOccurs="0" maxOccurs="1">
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:maxLength value="21" />
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="SNDLAD" minOccurs="0" maxOccurs="1">
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:maxLength value="70" />
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="RCVPOR" minOccurs="1" maxOccurs="1">
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:maxLength value="10" />
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="RCVPRT" minOccurs="1" maxOccurs="1">
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:maxLength value="2" />
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="RCVPFC" minOccurs="0" maxOccurs="1">
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:maxLength value="2" />
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="RCVPRN" minOccurs="1" maxOccurs="1">
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:maxLength value="10" />
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="RCVSAD" minOccurs="0" maxOccurs="1">
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:maxLength value="21" />
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="RCVLAD" minOccurs="0" maxOccurs="1">
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:maxLength value="70" />
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="CREDAT" minOccurs="0" maxOccurs="1">
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:maxLength value="8" />
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="CRETIM" minOccurs="0" maxOccurs="1">
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:maxLength value="6" />
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="REFINT" minOccurs="0" maxOccurs="1">
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:maxLength value="14" />
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="REFGRP" minOccurs="0" maxOccurs="1">
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:maxLength value="14" />
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="REFMES" minOccurs="0" maxOccurs="1">
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:maxLength value="14" />
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="ARCKEY" minOccurs="0" maxOccurs="1">
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:maxLength value="70" />
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="SERIAL" minOccurs="0" maxOccurs="1">
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:maxLength value="20" />
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
									</xs:sequence>
									<xs:attribute name="SEGMENT" type="xs:string" />
								</xs:complexType>
							</xs:element>
							<xs:element name="E1BP7012_2" minOccurs="0" maxOccurs="unbounded">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="EXTSYSTEM" minOccurs="0"
											maxOccurs="1">
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:maxLength value="10" />
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="EXTAPPLICATION" minOccurs="0"
											maxOccurs="1">
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:maxLength value="5" />
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="EXTDOCUMENTNO" minOccurs="0"
											maxOccurs="1">
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:maxLength value="20" />
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="REVERSED" minOccurs="0"
											maxOccurs="1">
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:maxLength value="1" />
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="CUSTOMER_FIELD" minOccurs="0"
											maxOccurs="1">
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:maxLength value="40" />
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="EMPLOYEENUMBER" minOccurs="0"
											maxOccurs="1">
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:maxLength value="8" />
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="VALIDITYDATE" minOccurs="0"
											maxOccurs="1">
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:pattern value="\d{4}(0[1-9]|1[012])(0[1-9]|[12][0-9]|3[01])" />
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="LOCKINDICATOR" minOccurs="0"
											maxOccurs="1">
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:maxLength value="1" />
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="WAGETYPE" minOccurs="0"
											maxOccurs="1">
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:maxLength value="4" />
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="NO_OF_HOURS" minOccurs="0"
											maxOccurs="1">
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:maxLength value="9" />
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="NUMBER" minOccurs="0" maxOccurs="1">
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:maxLength value="9" />
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="TIME_UNIT" minOccurs="0"
											maxOccurs="1">
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:maxLength value="5" />
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="TIME_UNIT_ISO" minOccurs="0"
											maxOccurs="1">
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:maxLength value="3" />
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="AMOUNT" minOccurs="0" maxOccurs="1">
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:maxLength value="25" />
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="OT_COMP_TYPE" minOccurs="0"
											maxOccurs="1">
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:maxLength value="1" />
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="WORKTAXAREA" minOccurs="0"
											maxOccurs="1">
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:maxLength value="4" />
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="PAYSCALEGROUP" minOccurs="0"
											maxOccurs="1">
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:maxLength value="8" />
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="PAYSCALELEVEL" minOccurs="0"
											maxOccurs="1">
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:maxLength value="2" />
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="BONUSTYPE" minOccurs="0"
											maxOccurs="1">
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:maxLength value="2" />
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="BONUSVALUE" minOccurs="0"
											maxOccurs="1">
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:maxLength value="4" />
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="POSITION" minOccurs="0"
											maxOccurs="1">
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:maxLength value="8" />
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="VALUATION_BASIS" minOccurs="0"
											maxOccurs="1">
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:maxLength value="25" />
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="CURRENCY" minOccurs="0"
											maxOccurs="1">
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:maxLength value="5" />
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="CURRENCY_ISO" minOccurs="0"
											maxOccurs="1">
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:maxLength value="3" />
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="EXTRA_PAY_INDIC" minOccurs="0"
											maxOccurs="1">
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:maxLength value="1" />
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="COMP_CODE" minOccurs="0"
											maxOccurs="1">
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:maxLength value="4" />
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="BUS_AREA" minOccurs="0"
											maxOccurs="1">
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:maxLength value="4" />
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="COSTCENTER" minOccurs="0"
											maxOccurs="1">
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:maxLength value="10" />
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="ACTTYPE" minOccurs="0" maxOccurs="1">
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:maxLength value="6" />
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="ORDERID" minOccurs="0" maxOccurs="1">
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:maxLength value="12" />
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="COST_OBJ" minOccurs="0"
											maxOccurs="1">
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:maxLength value="12" />
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="WBS_ELEMENT" minOccurs="0"
											maxOccurs="1">
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:maxLength value="24" />
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="NETWORK" minOccurs="0" maxOccurs="1">
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:maxLength value="12" />
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="ACTIVITY" minOccurs="0"
											maxOccurs="1">
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:maxLength value="4" />
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="SALES_ORD" minOccurs="0"
											maxOccurs="1">
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:maxLength value="10" />
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="S_ORD_ITEM" minOccurs="0"
											maxOccurs="1">
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:maxLength value="6" />
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="CO_BUSPROC" minOccurs="0"
											maxOccurs="1">
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:maxLength value="12" />
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="SERVICE_TYPE" minOccurs="0"
											maxOccurs="1">
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:maxLength value="2" />
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="SERVICE_CATEGORY" minOccurs="0"
											maxOccurs="1">
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:maxLength value="2" />
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="FUND" minOccurs="0" maxOccurs="1">
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:maxLength value="10" />
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="FUNC_AREA" minOccurs="0"
											maxOccurs="1">
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:maxLength value="16" />
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="GRANT_NBR" minOccurs="0"
											maxOccurs="1">
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:maxLength value="20" />
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="PA_CACHE" minOccurs="0"
											maxOccurs="1">
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:maxLength value="4" />
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="PA_EMP" minOccurs="0" maxOccurs="1">
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:maxLength value="4" />
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
									</xs:sequence>
									<xs:attribute name="SEGMENT" type="xs:string" />
								</xs:complexType>
							</xs:element>
							<xs:element name="E1BP7011_2" minOccurs="0" maxOccurs="unbounded">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="EXTSYSTEM" minOccurs="0"
											maxOccurs="1">
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:maxLength value="10" />
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="EXTAPPLICATION" minOccurs="0"
											maxOccurs="1">
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:maxLength value="5" />
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="EXTDOCUMENTNO" minOccurs="0"
											maxOccurs="1">
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:maxLength value="20" />
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="REVERSED" minOccurs="0"
											maxOccurs="1">
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:maxLength value="1" />
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="CUSTOMER_FIELD" minOccurs="0"
											maxOccurs="1">
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:maxLength value="40" />
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="EMPLOYEENUMBER" minOccurs="0"
											maxOccurs="1">
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:maxLength value="8" />
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="FROM_DATE" minOccurs="0"
											maxOccurs="1">
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:pattern value="\d{4}(0[1-9]|1[012])(0[1-9]|[12][0-9]|3[01])" />
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="TO_DATE" minOccurs="0" maxOccurs="1">
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:pattern value="\d{4}(0[1-9]|1[012])(0[1-9]|[12][0-9]|3[01])" />
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="LOCKINDICATOR" minOccurs="0"
											maxOccurs="1">
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:maxLength value="1" />
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="ABS_ATT_TYPE" minOccurs="0"
											maxOccurs="1">
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:maxLength value="4" />
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="START_TIME" minOccurs="0"
											maxOccurs="1">
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:maxLength value="6" />
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="END_TIME" minOccurs="0"
											maxOccurs="1">
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:maxLength value="6" />
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="ABS_ATT_HOURS" minOccurs="0"
											maxOccurs="1">
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:maxLength value="9" />
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="ALL_DAY_FLAG" minOccurs="0"
											maxOccurs="1">
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:maxLength value="1" />
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="PREVIOUS_DAY" minOccurs="0"
											maxOccurs="1">
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:maxLength value="1" />
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="OT_COMP_TYPE" minOccurs="0"
											maxOccurs="1">
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:maxLength value="1" />
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="WORKTAXAREA" minOccurs="0"
											maxOccurs="1">
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:maxLength value="4" />
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="PAYSCALEGROUP" minOccurs="0"
											maxOccurs="1">
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:maxLength value="8" />
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="PAYSCALELEVEL" minOccurs="0"
											maxOccurs="1">
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:maxLength value="2" />
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="BONUSTYPE" minOccurs="0"
											maxOccurs="1">
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:maxLength value="2" />
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="BONUSVALUE" minOccurs="0"
											maxOccurs="1">
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:maxLength value="4" />
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="POSITION" minOccurs="0"
											maxOccurs="1">
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:maxLength value="8" />
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="VALUATION_BASIS" minOccurs="0"
											maxOccurs="1">
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:maxLength value="25" />
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="CURRENCY" minOccurs="0"
											maxOccurs="1">
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:maxLength value="5" />
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="CURRENCY_ISO" minOccurs="0"
											maxOccurs="1">
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:maxLength value="3" />
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="EXTRA_PAY_INDIC" minOccurs="0"
											maxOccurs="1">
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:maxLength value="1" />
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="COMP_CODE" minOccurs="0"
											maxOccurs="1">
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:maxLength value="4" />
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="BUS_AREA" minOccurs="0"
											maxOccurs="1">
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:maxLength value="4" />
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="COSTCENTER" minOccurs="0"
											maxOccurs="1">
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:maxLength value="10" />
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="ACTTYPE" minOccurs="0" maxOccurs="1">
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:maxLength value="6" />
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="ORDERID" minOccurs="0" maxOccurs="1">
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:maxLength value="12" />
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="COST_OBJ" minOccurs="0"
											maxOccurs="1">
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:maxLength value="12" />
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="WBS_ELEMENT" minOccurs="0"
											maxOccurs="1">
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:maxLength value="24" />
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="NETWORK" minOccurs="0" maxOccurs="1">
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:maxLength value="12" />
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="ACTIVITY" minOccurs="0"
											maxOccurs="1">
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:maxLength value="4" />
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="SALES_ORD" minOccurs="0"
											maxOccurs="1">
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:maxLength value="10" />
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="S_ORD_ITEM" minOccurs="0"
											maxOccurs="1">
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:maxLength value="6" />
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="CO_BUSPROC" minOccurs="0"
											maxOccurs="1">
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:maxLength value="12" />
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="SERVICE_TYPE" minOccurs="0"
											maxOccurs="1">
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:maxLength value="2" />
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="SERVICE_CATEGORY" minOccurs="0"
											maxOccurs="1">
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:maxLength value="2" />
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="FUND" minOccurs="0" maxOccurs="1">
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:maxLength value="10" />
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="FUNC_AREA" minOccurs="0"
											maxOccurs="1">
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:maxLength value="16" />
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="GRANT_NBR" minOccurs="0"
											maxOccurs="1">
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:maxLength value="20" />
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
									</xs:sequence>
									<xs:attribute name="SEGMENT" type="xs:string" />
								</xs:complexType>
							</xs:element>
							<xs:element name="E1BP7031_1" minOccurs="0" maxOccurs="unbounded">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="EXTSYSTEM" minOccurs="0"
											maxOccurs="1">
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:maxLength value="10" />
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="EXTAPPLICATION" minOccurs="0"
											maxOccurs="1">
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:maxLength value="5" />
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="EXTDOCUMENTNO" minOccurs="0"
											maxOccurs="1">
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:maxLength value="20" />
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="REVERSED" minOccurs="0"
											maxOccurs="1">
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:maxLength value="1" />
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="CUSTOMER_FIELD" minOccurs="0"
											maxOccurs="1">
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:maxLength value="40" />
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="EMPLOYEENUMBER" minOccurs="0"
											maxOccurs="1">
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:maxLength value="8" />
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="DATE" minOccurs="0" maxOccurs="1">
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:pattern value="\d{4}(0[1-9]|1[012])(0[1-9]|[12][0-9]|3[01])" />
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="LOCKINDICATOR" minOccurs="0"
											maxOccurs="1">
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:maxLength value="1" />
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="WS_SPEC_TYPE" minOccurs="0"
											maxOccurs="1">
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:maxLength value="2" />
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="DAILYWORKSCHED" minOccurs="0"
											maxOccurs="1">
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:maxLength value="4" />
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="DWS_VARIANT" minOccurs="0"
											maxOccurs="1">
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:maxLength value="4" />
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="WORKBREAKSCHED" minOccurs="0"
											maxOccurs="1">
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:maxLength value="4" />
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="NO_BREAKS" minOccurs="0"
											maxOccurs="1">
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:maxLength value="1" />
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="DWS_GROUPING" minOccurs="0"
											maxOccurs="1">
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:maxLength value="1" />
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="DAY_TYPE" minOccurs="0"
											maxOccurs="1">
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:maxLength value="1" />
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="WORKTAXAREA" minOccurs="0"
											maxOccurs="1">
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:maxLength value="4" />
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="PAYSCALEGROUP" minOccurs="0"
											maxOccurs="1">
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:maxLength value="8" />
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="PAYSCALELEVEL" minOccurs="0"
											maxOccurs="1">
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:maxLength value="2" />
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="BONUSTYPE" minOccurs="0"
											maxOccurs="1">
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:maxLength value="2" />
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="BONUSVALUE" minOccurs="0"
											maxOccurs="1">
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:maxLength value="4" />
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="POSITION" minOccurs="0"
											maxOccurs="1">
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:maxLength value="8" />
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="VALUATION_BASIS" minOccurs="0"
											maxOccurs="1">
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:maxLength value="25" />
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="CURRENCY" minOccurs="0"
											maxOccurs="1">
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:maxLength value="5" />
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="CURRENCY_ISO" minOccurs="0"
											maxOccurs="1">
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:maxLength value="3" />
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="EXTRA_PAY_INDIC" minOccurs="0"
											maxOccurs="1">
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:maxLength value="1" />
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="COMP_CODE" minOccurs="0"
											maxOccurs="1">
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:maxLength value="4" />
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="BUS_AREA" minOccurs="0"
											maxOccurs="1">
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:maxLength value="4" />
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="COSTCENTER" minOccurs="0"
											maxOccurs="1">
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:maxLength value="10" />
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="ACTTYPE" minOccurs="0" maxOccurs="1">
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:maxLength value="6" />
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="ORDERID" minOccurs="0" maxOccurs="1">
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:maxLength value="12" />
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="COST_OBJ" minOccurs="0"
											maxOccurs="1">
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:maxLength value="12" />
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="WBS_ELEMENT" minOccurs="0"
											maxOccurs="1">
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:maxLength value="24" />
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="NETWORK" minOccurs="0" maxOccurs="1">
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:maxLength value="12" />
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="ACTIVITY" minOccurs="0"
											maxOccurs="1">
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:maxLength value="4" />
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="SALES_ORD" minOccurs="0"
											maxOccurs="1">
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:maxLength value="10" />
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="S_ORD_ITEM" minOccurs="0"
											maxOccurs="1">
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:maxLength value="6" />
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="CO_BUSPROC" minOccurs="0"
											maxOccurs="1">
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:maxLength value="12" />
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="SERVICE_TYPE" minOccurs="0"
											maxOccurs="1">
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:maxLength value="2" />
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="SERVICE_CATEGORY" minOccurs="0"
											maxOccurs="1">
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:maxLength value="2" />
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="FUND" minOccurs="0" maxOccurs="1">
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:maxLength value="10" />
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="FUNC_AREA" minOccurs="0"
											maxOccurs="1">
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:maxLength value="16" />
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="GRANT_NBR" minOccurs="0"
											maxOccurs="1">
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:maxLength value="20" />
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
									</xs:sequence>
									<xs:attribute name="SEGMENT" type="xs:string" />
								</xs:complexType>
							</xs:element>
							<xs:element name="E1BP7031_2" minOccurs="0" maxOccurs="unbounded">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="EXTSYSTEM" minOccurs="0"
											maxOccurs="1">
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:maxLength value="10" />
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="EXTAPPLICATION" minOccurs="0"
											maxOccurs="1">
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:maxLength value="5" />
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="EXTDOCUMENTNO" minOccurs="0"
											maxOccurs="1">
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:maxLength value="20" />
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="START_TIME" minOccurs="0"
											maxOccurs="1">
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:maxLength value="6" />
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="END_TIME" minOccurs="0"
											maxOccurs="1">
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:maxLength value="6" />
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="DWS_INTERVALTYPE" minOccurs="0"
											maxOccurs="1">
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:maxLength value="2" />
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="PAID_BREAK_DUR" minOccurs="0"
											maxOccurs="1">
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:maxLength value="7" />
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="UNPAID_BREAK_DUR" minOccurs="0"
											maxOccurs="1">
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:maxLength value="7" />
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="WORKTAXAREA" minOccurs="0"
											maxOccurs="1">
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:maxLength value="4" />
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="PAYSCALEGROUP" minOccurs="0"
											maxOccurs="1">
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:maxLength value="8" />
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="PAYSCALELEVEL" minOccurs="0"
											maxOccurs="1">
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:maxLength value="2" />
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="BONUSTYPE" minOccurs="0"
											maxOccurs="1">
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:maxLength value="2" />
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="BONUSVALUE" minOccurs="0"
											maxOccurs="1">
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:maxLength value="4" />
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="POSITION" minOccurs="0"
											maxOccurs="1">
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:maxLength value="8" />
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="VALUATION_BASIS" minOccurs="0"
											maxOccurs="1">
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:maxLength value="25" />
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="CURRENCY" minOccurs="0"
											maxOccurs="1">
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:maxLength value="5" />
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="CURRENCY_ISO" minOccurs="0"
											maxOccurs="1">
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:maxLength value="3" />
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="EXTRA_PAY_INDIC" minOccurs="0"
											maxOccurs="1">
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:maxLength value="1" />
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="COMP_CODE" minOccurs="0"
											maxOccurs="1">
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:maxLength value="4" />
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="BUS_AREA" minOccurs="0"
											maxOccurs="1">
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:maxLength value="4" />
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="COSTCENTER" minOccurs="0"
											maxOccurs="1">
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:maxLength value="10" />
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="ACTTYPE" minOccurs="0" maxOccurs="1">
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:maxLength value="6" />
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="ORDERID" minOccurs="0" maxOccurs="1">
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:maxLength value="12" />
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="COST_OBJ" minOccurs="0"
											maxOccurs="1">
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:maxLength value="12" />
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="WBS_ELEMENT" minOccurs="0"
											maxOccurs="1">
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:maxLength value="24" />
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="NETWORK" minOccurs="0" maxOccurs="1">
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:maxLength value="12" />
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="ACTIVITY" minOccurs="0"
											maxOccurs="1">
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:maxLength value="4" />
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="SALES_ORD" minOccurs="0"
											maxOccurs="1">
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:maxLength value="10" />
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="S_ORD_ITEM" minOccurs="0"
											maxOccurs="1">
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:maxLength value="6" />
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="CO_BUSPROC" minOccurs="0"
											maxOccurs="1">
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:maxLength value="12" />
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="SERVICE_TYPE" minOccurs="0"
											maxOccurs="1">
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:maxLength value="2" />
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="SERVICE_CATEGORY" minOccurs="0"
											maxOccurs="1">
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:maxLength value="2" />
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="FUND" minOccurs="0" maxOccurs="1">
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:maxLength value="10" />
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="FUNC_AREA" minOccurs="0"
											maxOccurs="1">
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:maxLength value="16" />
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="GRANT_NBR" minOccurs="0"
											maxOccurs="1">
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:maxLength value="20" />
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
									</xs:sequence>
									<xs:attribute name="SEGMENT" type="xs:string" />
								</xs:complexType>
							</xs:element>

						</xs:sequence>
						<xs:attribute name="BEGIN" type="xs:string" />
					</xs:complexType>

				</xs:element>
			</xs:sequence>
		</xs:complexType>


	</xs:element>





</xs:schema>