Resources/canonical_library/xsd/InitiateContractNegotiationRequest.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="InitiateContractNegotiationRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="atcontext" maxOccurs="unbounded">
                    <xs:complexType mixed="true">
                        <xs:choice>
                            <xs:element name="edc" minOccurs="1" maxOccurs="1" type="xs:string"/>
                        </xs:choice>
                    </xs:complexType>
                </xs:element>
                <xs:element name="attype" type="xs:string"/>
                <xs:element name="edc_counterPartyAddress" type="xs:anyURI"/>
                <xs:element name="edc_protocol" type="xs:string"/>
                <xs:element name="edc_counterPartyId" type="xs:string"/>
                <xs:element name="edc_policy">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="atid" type="xs:string" form="unqualified"/>
                            <xs:element name="attype" type="xs:string" form="unqualified"/>
                            <xs:element name="odrl_permission" minOccurs="0" maxOccurs="unbounded">
                                <xs:complexType/>
                            </xs:element>
                            <xs:element name="odrl_prohibition" minOccurs="0" maxOccurs="unbounded">
                                <xs:complexType/>
                            </xs:element>
                            <xs:element name="odrl_obligation" minOccurs="0" maxOccurs="unbounded">
                                <xs:complexType/>
                            </xs:element>
                            <xs:element name="target" type="xs:string"/>
                            <xs:element name="assigner" type="xs:string"/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>