Resources/canonical_library/xsd/InsertResponses.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="InsertResponses">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="Background_VarPayEmpHistDataInsertResponse" maxOccurs="unbounded" minOccurs="1">
					<xs:complexType>
						<xs:sequence>
                            <xs:element type="xs:string" name="editStatus"/>
                            <xs:element type="xs:int" name="httpCode"/>
                            <xs:element type="xs:int" name="index"/>
							<xs:element type="xs:string" name="backgroundElementId"/>
                            <xs:element type="xs:string" name="message"/>
							<xs:element type="xs:string" name="status"/>
							<xs:element name="inlineResults">
								<xs:complexType>
									<xs:simpleContent>
										<xs:extension base="xs:string">
											<xs:attribute type="xs:string" name="type" use="optional"/>
										</xs:extension>
									</xs:simpleContent>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>