Resources/canonical_library/xsd/InsurancePolicy.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="InsurancePolicy">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Policy">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:long" name="policyId"/>
              <xs:element type="xs:long" name="expiredPolicyId"/>
              <xs:element type="xs:long" name="contractId"/>
              <xs:element type="xs:long" name="policyproductId"/>
              <xs:element type="xs:dateTime" name="policyEffectiveDate"/>
              <xs:element type="xs:dateTime" name="policyStartDate"/>
              <xs:element type="xs:dateTime" name="policyExpiryDate"/>
              <xs:element type="xs:string" name="policyStatus"/>
              <xs:element type="xs:string" name="category"/>
              <xs:element type="xs:float" name="premiumAmount"/>
              <xs:element type="xs:string" name="currency"/>
              <xs:element type="xs:string" name="paymentFrequency"/>
              <xs:element type="xs:string" name="businessPartnerId"/>
              <xs:element name="coverages">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="Coverage" maxOccurs="unbounded" minOccurs="0">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element type="xs:long" name="coverageId"/>
                          <xs:element type="xs:long" name="policyproductId"/>
                          <xs:element type="xs:long" name="covpacId"/>
                          <xs:element type="xs:long" name="covId"/>
                          <xs:element type="xs:string" name="coverageProduct"/>
                          <xs:element type="xs:string" name="coverageType"/>
                          <xs:element type="xs:string" name="quoteVariant"/>
                          <xs:element type="xs:float" name="coverageAmount"/>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="insuredObjects">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="InsuredObject" maxOccurs="unbounded" minOccurs="0">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element type="xs:string" name="insuredObjectId"/>
                          <xs:element type="xs:long" name="policyproductId"/>
                          <xs:element type="xs:long" name="covpacId"/>
                          <xs:element type="xs:long" name="covId"/>
                          <xs:element type="xs:long" name="covcpId"/>
                          <xs:element type="xs:long" name="subjctId"/>
                          <xs:element type="xs:string" name="insuredObjectType"/>
                          <xs:element name="insuredObjectItems">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="InsuredObjectItem" maxOccurs="unbounded" minOccurs="0">
                                  <xs:complexType>
                                    <xs:sequence>
                                      <xs:element type="xs:string" name="externalValue"/>
                                      <xs:element type="xs:string" name="label"/>
                                      <xs:element type="xs:string" name="format"/>
                                      <xs:element type="xs:string" name="itemId"/>
                                    </xs:sequence>
                                  </xs:complexType>
                                </xs:element>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                          <xs:element name="childInsuredObjects" maxOccurs="unbounded" minOccurs="0">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="childInsuredObject" maxOccurs="unbounded" minOccurs="0">
                                  <xs:complexType>
                                    <xs:sequence>
                                      <xs:element type="xs:string" name="insuredObjectId"/>
                                      <xs:element type="xs:long" name="policyproductId"/>
                                      <xs:element type="xs:long" name="covpacId"/>
                                      <xs:element type="xs:long" name="covId"/>
                                      <xs:element type="xs:long" name="covcpId"/>
                                      <xs:element type="xs:long" name="subjctId"/>
                                      <xs:element type="xs:long" name="namdrvId"/>
                                      <xs:element name="insuredObjectItems">
                                        <xs:complexType>
                                          <xs:sequence>
                                            <xs:element name="InsuredObjectItem" maxOccurs="unbounded" minOccurs="0">
                                              <xs:complexType>
                                                <xs:sequence>
                                                  <xs:element type="xs:string" name="externalValue"/>
                                                  <xs:element type="xs:string" name="label"/>
                                                  <xs:element type="xs:string" name="format"/>
                                                  <xs:element type="xs:string" name="itemId"/>
                                                </xs:sequence>
                                              </xs:complexType>
                                            </xs:element>
                                          </xs:sequence>
                                        </xs:complexType>
                                      </xs:element>
                                    </xs:sequence>
                                  </xs:complexType>
                                </xs:element>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="PremiumPayer">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:string" name="PartnerId"/>
                    <xs:element type="xs:string" name="Name"/>
                    <xs:element type="xs:string" name="BankAccountID"/>
                    <xs:element type="xs:string" name="IBAN"/>
                    <xs:element type="xs:string" name="paymentMethod"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>