Resources/canonical_library/xsd/INVCON03.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="urn:sap-com:document:sap:idoc:soap:messages" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="INVCON03">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="IDOC">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="EDI_DC40">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:string" name="TABNAM"/>
                    <xs:element type="xs:short" name="MANDT"/>
                    <xs:element type="xs:int" name="DOCNUM"/>
                    <xs:element type="xs:short" name="DOCREL"/>
                    <xs:element type="xs:byte" name="STATUS"/>
                    <xs:element type="xs:byte" name="DIRECT"/>
                    <xs:element type="xs:byte" name="OUTMOD"/>
                    <xs:element type="xs:string" name="IDOCTYP"/>
                    <xs:element type="xs:string" name="MESTYP"/>
                    <xs:element type="xs:string" name="SNDPOR"/>
                    <xs:element type="xs:string" name="SNDPRT"/>
                    <xs:element type="xs:string" name="SNDPRN"/>
                    <xs:element type="xs:string" name="RCVPOR"/>
                    <xs:element type="xs:string" name="RCVPRT"/>
                    <xs:element type="xs:string" name="RCVPRN"/>
                    <xs:element type="xs:int" name="CREDAT"/>
                    <xs:element type="xs:int" name="CRETIM"/>
                    <xs:element type="xs:string" name="ARCKEY"/>
                    <xs:element type="xs:integer" name="SERIAL"/>
                  </xs:sequence>
                  <xs:attribute type="xs:byte" name="SEGMENT"/>
                </xs:complexType>
              </xs:element>
              <xs:element name="E1CMCCO">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:string" name="ZEITP"/>
                  </xs:sequence>
                  <xs:attribute type="xs:byte" name="SEGMENT"/>
                </xs:complexType>
              </xs:element>
              <xs:element name="E1ICSL0" maxOccurs="unbounded" minOccurs="0">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:string" name="MATNR"/>
                    <xs:element type="xs:string" name="WERKS"/>
                    <xs:element type="xs:byte" name="LGORT" minOccurs="0"/>
                    <xs:element type="xs:string" name="LIFNR" minOccurs="0"/>
                    <xs:element type="xs:short" name="KUNNR" minOccurs="0"/>
                    <xs:element type="xs:string" name="MTART"/>
                    <xs:element type="xs:byte" name="MATKL"/>
                    <xs:element type="xs:string" name="WAERS"/>
                    <xs:element type="xs:string" name="MEINS"/>
                    <xs:element type="xs:float" name="LABST"/>
                    <xs:element type="xs:float" name="UMLME"/>
                    <xs:element type="xs:float" name="INSME"/>
                    <xs:element type="xs:float" name="KLABS"/>
                    <xs:element type="xs:float" name="KINSM"/>
                    <xs:element type="xs:float" name="UMLMC"/>
                    <xs:element type="xs:float" name="TRAME"/>
                    <xs:element type="xs:float" name="KSPEM"/>
                    <xs:element type="xs:float" name="LBKUM"/>
                    <xs:element type="xs:float" name="SALK3"/>
                    <xs:element type="xs:float" name="SPEME"/>
                    <xs:element type="xs:byte" name="KOKRS"/>
                    <xs:element type="xs:byte" name="BUKRS"/>
                    <xs:element type="xs:float" name="MBWBEST"/>
                    <xs:element type="xs:float" name="MKOBEST"/>
                    <xs:element type="xs:float" name="GSBEST"/>
                    <xs:element type="xs:float" name="WBWBEST"/>
                    <xs:element type="xs:float" name="EISBE"/>
                    <xs:element type="xs:float" name="KULAB"/>
                    <xs:element type="xs:float" name="KUINS"/>
                    <xs:element type="xs:float" name="LBLAB"/>
                    <xs:element type="xs:float" name="LBINS"/>
                    <xs:element type="xs:float" name="BVBEW"/>
                    <xs:element type="xs:float" name="BVKON"/>
                    <xs:element type="xs:float" name="BWERTV"/>
                    <xs:element type="xs:short" name="BKLAS"/>
                    <xs:element type="xs:int" name="BLDAT"/>
                    <xs:element type="xs:float" name="CMBWBEST"/>
                    <xs:element type="xs:float" name="CMKOBEST"/>
                    <xs:element type="xs:float" name="CWBWBEST"/>
                    <xs:element type="xs:float" name="CGSBEST"/>
                    <xs:element type="xs:float" name="EINME"/>
                    <xs:element type="xs:float" name="LBEIN"/>
                    <xs:element type="xs:float" name="KUEIN"/>
                    <xs:element type="xs:float" name="SEINM"/>
                    <xs:element type="xs:float" name="CEINM"/>
                    <xs:element type="xs:float" name="KEINM"/>
                    <xs:element type="xs:float" name="SLABS"/>
                    <xs:element type="xs:float" name="SINSM"/>
                    <xs:element type="xs:float" name="SSPEM"/>
                    <xs:element type="xs:float" name="CLABS"/>
                    <xs:element type="xs:float" name="CINSM"/>
                    <xs:element type="xs:float" name="CSPEM"/>
                    <xs:element type="xs:float" name="CUMLM"/>
                    <xs:element type="xs:float" name="BESZUG"/>
                    <xs:element type="xs:float" name="WBESZUG"/>
                    <xs:element type="xs:string" name="MATNR_LONG"/>
                    <xs:element name="E1ICSL1">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element type="xs:byte" name="PSPNR"/>
                          <xs:element type="xs:byte" name="POSNR"/>
                          <xs:element type="xs:float" name="GLGMG"/>
                          <xs:element type="xs:float" name="RETME"/>
                          <xs:element type="xs:float" name="CRETM"/>
                          <xs:element type="xs:float" name="PRLAB"/>
                          <xs:element type="xs:float" name="PRINS"/>
                          <xs:element type="xs:float" name="PRSPE"/>
                          <xs:element type="xs:float" name="PREIN"/>
                          <xs:element type="xs:float" name="KALAB"/>
                          <xs:element type="xs:float" name="KAINS"/>
                          <xs:element type="xs:float" name="KASPE"/>
                          <xs:element type="xs:float" name="KAEIN"/>
                          <xs:element type="xs:float" name="MTV_L"/>
                          <xs:element type="xs:float" name="MTV_I"/>
                          <xs:element type="xs:float" name="MTV_E"/>
                          <xs:element type="xs:float" name="MTV_S"/>
                          <xs:element type="xs:float" name="SALK3_E"/>
                          <xs:element type="xs:float" name="SALK3_Q"/>
                          <xs:element type="xs:float" name="LBKUM_E"/>
                          <xs:element type="xs:float" name="LBKUM_Q"/>
                          <xs:element type="xs:float" name="MKABEST"/>
                          <xs:element type="xs:float" name="MPRBEST"/>
                          <xs:element type="xs:float" name="WKABEST"/>
                          <xs:element type="xs:float" name="WPRBEST"/>
                          <xs:element type="xs:float" name="BVKA"/>
                          <xs:element type="xs:float" name="BVPR"/>
                          <xs:element type="xs:float" name="BWERTVKA"/>
                          <xs:element type="xs:float" name="BWERTVPR"/>
                          <xs:element type="xs:float" name="BVLABST"/>
                          <xs:element type="xs:float" name="BVUMLME"/>
                          <xs:element type="xs:float" name="BVINSME"/>
                          <xs:element type="xs:float" name="BVKLABS"/>
                          <xs:element type="xs:float" name="BVKINSM"/>
                          <xs:element type="xs:float" name="BVUMLMC"/>
                          <xs:element type="xs:float" name="BVTRAME"/>
                          <xs:element type="xs:float" name="BVKSPEM"/>
                          <xs:element type="xs:float" name="BVSPEME"/>
                          <xs:element type="xs:float" name="BVKULAB"/>
                          <xs:element type="xs:float" name="BVKUINS"/>
                          <xs:element type="xs:float" name="BVLBLAB"/>
                          <xs:element type="xs:float" name="BVLBINS"/>
                          <xs:element type="xs:float" name="BVEINME"/>
                          <xs:element type="xs:float" name="BVLBEIN"/>
                          <xs:element type="xs:float" name="BVKUEIN"/>
                          <xs:element type="xs:float" name="BVSEINM"/>
                          <xs:element type="xs:float" name="BVCEINM"/>
                          <xs:element type="xs:float" name="BVKEINM"/>
                          <xs:element type="xs:float" name="BVSLABS"/>
                          <xs:element type="xs:float" name="BVSINSM"/>
                          <xs:element type="xs:float" name="BVSSPEM"/>
                          <xs:element type="xs:float" name="BVCLABS"/>
                          <xs:element type="xs:float" name="BVCINSM"/>
                          <xs:element type="xs:float" name="BVCSPEM"/>
                          <xs:element type="xs:float" name="BVCUMLM"/>
                          <xs:element type="xs:float" name="BVGLGMG"/>
                          <xs:element type="xs:float" name="BVRETME"/>
                          <xs:element type="xs:float" name="BVCRETM"/>
                        </xs:sequence>
                        <xs:attribute type="xs:byte" name="SEGMENT" use="optional"/>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="E1ICSL2">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element type="xs:short" name="EKLAS" minOccurs="0"/>
                          <xs:element type="xs:short" name="QKLAS" minOccurs="0"/>
                          <xs:element type="xs:float" name="VKLAB"/>
                          <xs:element type="xs:float" name="VKUML"/>
                          <xs:element type="xs:float" name="VKUMC"/>
                          <xs:element type="xs:float" name="VKTRW"/>
                          <xs:element type="xs:float" name="VKGLG"/>
                        </xs:sequence>
                        <xs:attribute type="xs:byte" name="SEGMENT" use="optional"/>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                  <xs:attribute type="xs:byte" name="SEGMENT" use="optional"/>
                </xs:complexType>
              </xs:element>
              <xs:element name="E1ICHD0">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:long" name="MBLNR"/>
                    <xs:element type="xs:short" name="MJAHR"/>
                    <xs:element type="xs:int" name="BUDAT"/>
                    <xs:element type="xs:int" name="SYDAT"/>
                    <xs:element name="E1ICIT0" maxOccurs="unbounded" minOccurs="0">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element type="xs:byte" name="ZEILE"/>
                          <xs:element type="xs:short" name="BWART"/>
                          <xs:element type="xs:string" name="MATNR"/>
                          <xs:element type="xs:string" name="WERKS"/>
                          <xs:element type="xs:byte" name="LGORT"/>
                          <xs:element type="xs:byte" name="KDPOS"/>
                          <xs:element type="xs:byte" name="KDEIN"/>
                          <xs:element type="xs:string" name="SHKZG"/>
                          <xs:element type="xs:string" name="WAERS"/>
                          <xs:element type="xs:float" name="DMBTR"/>
                          <xs:element type="xs:float" name="BNBTR"/>
                          <xs:element type="xs:float" name="MENGE"/>
                          <xs:element type="xs:string" name="MEINS"/>
                          <xs:element type="xs:byte" name="KOKRS"/>
                          <xs:element type="xs:byte" name="BUKRS"/>
                          <xs:element type="xs:byte" name="RSNUM"/>
                          <xs:element type="xs:byte" name="RSPOS"/>
                          <xs:element type="xs:byte" name="PALAN"/>
                          <xs:element type="xs:byte" name="PAOBJNR"/>
                          <xs:element type="xs:byte" name="PS_PSP_PNR"/>
                          <xs:element type="xs:byte" name="AUFPL"/>
                          <xs:element type="xs:float" name="MGVBR"/>
                          <xs:element type="xs:float" name="MUVBR"/>
                          <xs:element type="xs:byte" name="XLABST"/>
                          <xs:element type="xs:int" name="SYDAT"/>
                          <xs:element type="xs:float" name="MZUBB"/>
                          <xs:element type="xs:float" name="MZUKB"/>
                          <xs:element type="xs:float" name="MAGBB"/>
                          <xs:element type="xs:float" name="MAGKB"/>
                          <xs:element type="xs:float" name="WZUBB"/>
                          <xs:element type="xs:float" name="WAGBB"/>
                          <xs:element type="xs:float" name="WGVBR"/>
                          <xs:element type="xs:float" name="WUVBR"/>
                          <xs:element type="xs:float" name="BVKON"/>
                          <xs:element type="xs:float" name="BVBEW"/>
                          <xs:element type="xs:float" name="BWERTV"/>
                          <xs:element type="xs:float" name="WAGINV"/>
                          <xs:element type="xs:float" name="WZUINV"/>
                          <xs:element type="xs:float" name="BWERTVINV"/>
                          <xs:element type="xs:string" name="LIFNR"/>
                          <xs:element type="xs:short" name="KUNNR"/>
                          <xs:element type="xs:float" name="VKWRT"/>
                          <xs:element type="xs:byte" name="MATKL"/>
                          <xs:element type="xs:short" name="BKLAS"/>
                          <xs:element type="xs:int" name="BLDAT"/>
                          <xs:element type="xs:byte" name="EBELP"/>
                          <xs:element type="xs:float" name="DMBUM"/>
                          <xs:element type="xs:string" name="MENGU"/>
                          <xs:element type="xs:string" name="VGART"/>
                          <xs:element name="E1ICIT5">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element type="xs:string" name="MATNR_LONG"/>
                              </xs:sequence>
                              <xs:attribute type="xs:byte" name="SEGMENT" use="optional"/>
                            </xs:complexType>
                          </xs:element>
                          <xs:element name="E1ICIT1">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element type="xs:string" name="BSTTYP"/>
                                <xs:element type="xs:string" name="BSTAUS"/>
                                <xs:element type="xs:byte" name="GRUND"/>
                                <xs:element type="xs:string" name="MATBF"/>
                                <xs:element type="xs:byte" name="APLZL"/>
                                <xs:element type="xs:float" name="PRLABZU"/>
                                <xs:element type="xs:float" name="PRLABAG"/>
                                <xs:element type="xs:float" name="PRINSZU"/>
                                <xs:element type="xs:float" name="PRINSAG"/>
                                <xs:element type="xs:float" name="PRSPEZU"/>
                                <xs:element type="xs:float" name="PRSPEAG"/>
                                <xs:element type="xs:float" name="PREINZU"/>
                                <xs:element type="xs:float" name="PREINAG"/>
                                <xs:element type="xs:float" name="KALABZU"/>
                                <xs:element type="xs:float" name="KALABAG"/>
                                <xs:element type="xs:float" name="KAINSZU"/>
                                <xs:element type="xs:float" name="KAINSAG"/>
                                <xs:element type="xs:float" name="KASPEZU"/>
                                <xs:element type="xs:float" name="KASPEAG"/>
                                <xs:element type="xs:float" name="KAEINZU"/>
                                <xs:element type="xs:float" name="KAEINAG"/>
                                <xs:element type="xs:float" name="MTV_LZU"/>
                                <xs:element type="xs:float" name="MTV_LAG"/>
                                <xs:element type="xs:float" name="MTV_IZU"/>
                                <xs:element type="xs:float" name="MTV_IAG"/>
                                <xs:element type="xs:float" name="MTV_SZU"/>
                                <xs:element type="xs:float" name="MTV_SAG"/>
                                <xs:element type="xs:float" name="MTV_EZU"/>
                                <xs:element type="xs:float" name="MTV_EAG"/>
                                <xs:element type="xs:float" name="MZUPR"/>
                                <xs:element type="xs:float" name="MAGPR"/>
                                <xs:element type="xs:float" name="MZUKA"/>
                                <xs:element type="xs:float" name="MAGKA"/>
                                <xs:element type="xs:float" name="MZUMTV"/>
                                <xs:element type="xs:float" name="MAGMTV"/>
                                <xs:element type="xs:float" name="WZUPR"/>
                                <xs:element type="xs:float" name="WAGPR"/>
                                <xs:element type="xs:float" name="WZUKA"/>
                                <xs:element type="xs:float" name="WAGKA"/>
                                <xs:element type="xs:float" name="BVKA"/>
                                <xs:element type="xs:float" name="BVPR"/>
                                <xs:element type="xs:float" name="BWERTVKA"/>
                                <xs:element type="xs:float" name="BWERTVPR"/>
                                <xs:element type="xs:byte" name="BUZEI"/>
                                <xs:element type="xs:short" name="GJAHR"/>
                                <xs:element type="xs:string" name="BWKEY"/>
                                <xs:element name="E1ICIT11">
                                  <xs:complexType>
                                    <xs:sequence>
                                      <xs:element type="xs:string" name="MATBF_LONG"/>
                                    </xs:sequence>
                                    <xs:attribute type="xs:byte" name="SEGMENT" use="optional"/>
                                  </xs:complexType>
                                </xs:element>
                              </xs:sequence>
                              <xs:attribute type="xs:byte" name="SEGMENT" use="optional"/>
                            </xs:complexType>
                          </xs:element>
                          <xs:element name="E1ICIT2">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element type="xs:float" name="BRGEW"/>
                                <xs:element type="xs:float" name="NTGEW"/>
                                <xs:element type="xs:float" name="VOLUM"/>
                                <xs:element type="xs:string" name="MTART"/>
                                <xs:element type="xs:float" name="VKWRA"/>
                                <xs:element type="xs:string" name="ERFME"/>
                                <xs:element type="xs:float" name="ERFMG"/>
                                <xs:element type="xs:byte" name="ATINM1"/>
                                <xs:element type="xs:byte" name="ATINM2"/>
                                <xs:element type="xs:byte" name="ATINM3"/>
                                <xs:element type="xs:float" name="ZUGMNG"/>
                                <xs:element type="xs:float" name="ZUGGEO"/>
                                <xs:element type="xs:float" name="ZUGGVO"/>
                                <xs:element type="xs:float" name="ZUGGVP"/>
                                <xs:element type="xs:float" name="ZUGGEW"/>
                                <xs:element type="xs:float" name="ZUGVOL"/>
                                <xs:element type="xs:float" name="ABGMNG"/>
                                <xs:element type="xs:float" name="ABGGEO"/>
                                <xs:element type="xs:float" name="ABGGVO"/>
                                <xs:element type="xs:float" name="ABGGVP"/>
                                <xs:element type="xs:float" name="ABGGEW"/>
                                <xs:element type="xs:float" name="ABGVOL"/>
                                <xs:element type="xs:float" name="WESMNG"/>
                                <xs:element type="xs:float" name="WESGEO"/>
                                <xs:element type="xs:float" name="WESGVO"/>
                                <xs:element type="xs:float" name="WESGVP"/>
                                <xs:element type="xs:float" name="WESGEW"/>
                                <xs:element type="xs:float" name="WESVOL"/>
                                <xs:element type="xs:float" name="RTEMNG"/>
                                <xs:element type="xs:float" name="RTEGEO"/>
                                <xs:element type="xs:float" name="RTEGVO"/>
                                <xs:element type="xs:float" name="RTEGVP"/>
                                <xs:element type="xs:float" name="RTEGEW"/>
                                <xs:element type="xs:float" name="RTEVOL"/>
                                <xs:element type="xs:float" name="ULEMNG"/>
                                <xs:element type="xs:float" name="ULEGEO"/>
                                <xs:element type="xs:float" name="ULEGVO"/>
                                <xs:element type="xs:float" name="ULEGVP"/>
                                <xs:element type="xs:float" name="ULEGEW"/>
                                <xs:element type="xs:float" name="ULEVOL"/>
                                <xs:element type="xs:float" name="ULAMNG"/>
                                <xs:element type="xs:float" name="ULAGEO"/>
                                <xs:element type="xs:float" name="ULAGVO"/>
                              </xs:sequence>
                              <xs:attribute type="xs:byte" name="SEGMENT" use="optional"/>
                            </xs:complexType>
                          </xs:element>
                          <xs:element name="E1ICIT3">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element type="xs:float" name="AUEGVP"/>
                                <xs:element type="xs:float" name="AUEGEW"/>
                                <xs:element type="xs:float" name="AUEVOL"/>
                                <xs:element type="xs:float" name="AUAMNG"/>
                                <xs:element type="xs:float" name="AUAGEO"/>
                                <xs:element type="xs:float" name="AUAGVO"/>
                                <xs:element type="xs:float" name="AUAGVP"/>
                                <xs:element type="xs:float" name="AUAGEW"/>
                                <xs:element type="xs:float" name="AUAVOL"/>
                                <xs:element type="xs:float" name="BKPMNG"/>
                                <xs:element type="xs:float" name="BKPGEO"/>
                                <xs:element type="xs:float" name="BKPGVO"/>
                                <xs:element type="xs:float" name="BKPGVP"/>
                                <xs:element type="xs:float" name="BKPGEW"/>
                                <xs:element type="xs:float" name="BKPVOL"/>
                                <xs:element type="xs:float" name="BKMMNG"/>
                                <xs:element type="xs:float" name="BKMGEO"/>
                                <xs:element type="xs:float" name="BKMGVO"/>
                                <xs:element type="xs:float" name="BKMGVP"/>
                                <xs:element type="xs:float" name="BKMGEW"/>
                                <xs:element type="xs:float" name="BKMVOL"/>
                                <xs:element type="xs:float" name="KMEMNG"/>
                                <xs:element type="xs:float" name="KMEGEO"/>
                                <xs:element type="xs:float" name="KMEGVO"/>
                                <xs:element type="xs:float" name="KMEGVP"/>
                                <xs:element type="xs:float" name="KMEGEW"/>
                                <xs:element type="xs:float" name="KMEVOL"/>
                                <xs:element type="xs:float" name="KMAMNG"/>
                                <xs:element type="xs:float" name="KMAGEO"/>
                                <xs:element type="xs:float" name="KMAGVO"/>
                                <xs:element type="xs:float" name="KMAGVP"/>
                                <xs:element type="xs:float" name="KMAGEW"/>
                                <xs:element type="xs:float" name="KMAVOL"/>
                                <xs:element type="xs:float" name="UBPEPM"/>
                                <xs:element type="xs:float" name="UBPGEO"/>
                                <xs:element type="xs:float" name="UBMEPM"/>
                                <xs:element type="xs:float" name="UBMGEO"/>
                                <xs:element type="xs:float" name="BIWMNG"/>
                                <xs:element type="xs:float" name="BIWGEO"/>
                                <xs:element type="xs:float" name="BIWGVO"/>
                                <xs:element type="xs:float" name="BIWGVP"/>
                                <xs:element type="xs:float" name="ADDMNG"/>
                                <xs:element type="xs:byte" name="ADDANZ"/>
                                <xs:element type="xs:float" name="ADDTIM"/>
                                <xs:element type="xs:float" name="ADDKMW"/>
                                <xs:element type="xs:float" name="ADDKAL"/>
                                <xs:element type="xs:byte" name="BWVORG"/>
                                <xs:element type="xs:byte" name="FILGRP"/>
                              </xs:sequence>
                              <xs:attribute type="xs:byte" name="SEGMENT" use="optional"/>
                            </xs:complexType>
                          </xs:element>
                          <xs:element name="E1ICIT4">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element type="xs:float" name="ULAGVP"/>
                                <xs:element type="xs:float" name="ULAGEW"/>
                                <xs:element type="xs:float" name="ULAVOL"/>
                                <xs:element type="xs:float" name="AUEMNG"/>
                                <xs:element type="xs:float" name="AUEGEO"/>
                                <xs:element type="xs:float" name="AUEGVO"/>
                              </xs:sequence>
                              <xs:attribute type="xs:byte" name="SEGMENT" use="optional"/>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                        <xs:attribute type="xs:byte" name="SEGMENT" use="optional"/>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                  <xs:attribute type="xs:byte" name="SEGMENT"/>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
            <xs:attribute type="xs:byte" name="BEGIN"/>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>