Resources/canonical_library/xsd/Inventory.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Inventory">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="MaterialDocumentHeader" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="MBLNR"/>
              <xs:element type="xs:string" name="BUKRS"/>
              <xs:element type="xs:string" name="BLDAT"/>
              <xs:element type="xs:string" name="BKTXT"/>
              <xs:element type="xs:string" name="XABLN"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="MaterialDocumentItem" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="MBLNR"/>
              <xs:element type="xs:string" name="POSNR"/>
              <xs:element type="xs:string" name="MATNR"/>
              <xs:element type="xs:string" name="WERKS"/>
              <xs:element type="xs:string" name="LGORT"/>
              <xs:element type="xs:string" name="BWTAR"/>
              <xs:element type="xs:string" name="SOBKZ"/>
              <xs:element type="xs:string" name="LABST"/>
              <xs:element type="xs:string" name="MEINS"/>
              <xs:element type="xs:string" name="EXWRT"/>
              <xs:element type="xs:string" name="INSMK"/>
              <xs:element type="xs:string" name="CHARG"/>
              <xs:element type="xs:string" name="VFDAT"/>
              <xs:element type="xs:string" name="HSDAT"/>
              <xs:element type="xs:string" name="SGTXT"/>
              <xs:element type="xs:string" name="ABLAD"/>
              <xs:element type="xs:string" name="KUNNR"/>
              <xs:element type="xs:string" name="LIFNR"/>
              <xs:element type="xs:string" name="XSAUT"/>
              <xs:element type="xs:string" name="SERNR"/>
              <xs:element type="xs:string" name="VBELN"/>
              <xs:element type="xs:string" name="VBPOS"/>
              <xs:element type="xs:string" name="WBS_ELEMENT"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>