Resources/canonical_library/xsd/items.xsd

<?xml version="1.0" encoding="UTF-8"?><xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" version="1.0">
    <xs:element name="items">
        <xs:complexType>
            <xs:sequence>
                <xs:element maxOccurs="unbounded" name="item">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element minOccurs="0" name="active" type="xs:boolean">
                                <xs:annotation>
                                    <xs:documentation>Is the item given for this supplier &amp; contract active? and if NOT then DELETE</xs:documentation>
                                </xs:annotation>
                            </xs:element>
                            <xs:element minOccurs="0" name="allow-partial-quantity" type="xs:boolean">
                                <xs:annotation>
                                    <xs:documentation>Allow partial quantity in cycle counts</xs:documentation>
                                </xs:annotation>
                            </xs:element>
                            <xs:element minOccurs="0" name="commodity" type="Commodity"/>
                            <xs:element minOccurs="0" name="connect-item-id" type="xs:integer">
                                <xs:annotation>
                                    <xs:documentation>connect_item_id</xs:documentation>
                                </xs:annotation>
                            </xs:element>
                            <xs:element minOccurs="0" name="consumption-quantity" type="xs:integer">
                                <xs:annotation>
                                    <xs:documentation>consumption_quantity</xs:documentation>
                                </xs:annotation>
                            </xs:element>
                            <xs:element minOccurs="0" name="consumption-uom" type="Uom"/>
                            <xs:element minOccurs="0" name="created-at" type="xs:string">
                                <xs:annotation>
                                    <xs:documentation>Automatically created by Coupa in the format YYYY-MM-DDTHH:MM:SS+HH:MMZ</xs:documentation>
                                </xs:annotation>
                            </xs:element>
                            <xs:element minOccurs="0" name="created-by" type="UserSimple"/>
                            <xs:element minOccurs="0" name="description" type="xs:string">
                                <xs:annotation>
                                    <xs:documentation>Item desciption</xs:documentation>
                                </xs:annotation>
                            </xs:element>
                            <xs:element minOccurs="0" name="dual-uom-allowed" type="xs:boolean">
                                <xs:annotation>
                                    <xs:documentation>Dual UOM allowed</xs:documentation>
                                </xs:annotation>
                            </xs:element>
                            <xs:element minOccurs="0" name="external-image-url" type="xs:string">
                                <xs:annotation>
                                    <xs:documentation>External image URL for item image</xs:documentation>
                                </xs:annotation>
                            </xs:element>
                            <xs:element minOccurs="0" name="id" type="xs:integer">
                                <xs:annotation>
                                    <xs:documentation>Coupa unique identifier</xs:documentation>
                                </xs:annotation>
                            </xs:element>
                            <xs:element minOccurs="0" name="image-url" type="xs:string">
                                <xs:annotation>
                                    <xs:documentation>URL for item image (will be copied into Coupa on item create/update)</xs:documentation>
                                </xs:annotation>
                            </xs:element>
                            <xs:element minOccurs="0" name="inventory-lot-expiration-type" type="xs:string">
                                <xs:annotation>
                                    <xs:documentation>Lot expiration type</xs:documentation>
                                </xs:annotation>
                            </xs:element>
                            <xs:element minOccurs="0" name="inventory-lot-tracking-enabled" type="xs:boolean">
                                <xs:annotation>
                                    <xs:documentation>Enable lot tracking</xs:documentation>
                                </xs:annotation>
                            </xs:element>
                            <xs:element minOccurs="0" name="item-number">
                                <xs:annotation>
                                    <xs:documentation>Unique item number</xs:documentation>
                                </xs:annotation>
                                <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                        <xs:maxLength value="255"/>
                                    </xs:restriction>
                                </xs:simpleType>
                            </xs:element>
                            <xs:element minOccurs="0" name="item-type" type="xs:string">
                                <xs:annotation>
                                    <xs:documentation>Item Type</xs:documentation>
                                </xs:annotation>
                            </xs:element>
                            <xs:element minOccurs="0" name="manufacturer-name">
                                <xs:annotation>
                                    <xs:documentation>Manufacturer name</xs:documentation>
                                </xs:annotation>
                                <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                        <xs:maxLength value="255"/>
                                    </xs:restriction>
                                </xs:simpleType>
                            </xs:element>
                            <xs:element minOccurs="0" name="manufacturer-part-number">
                                <xs:annotation>
                                    <xs:documentation>Manufacturer part number</xs:documentation>
                                </xs:annotation>
                                <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                        <xs:maxLength value="255"/>
                                    </xs:restriction>
                                </xs:simpleType>
                            </xs:element>
                            <xs:element minOccurs="0" name="name">
                                <xs:annotation>
                                    <xs:documentation>Item name</xs:documentation>
                                </xs:annotation>
                                <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                        <xs:maxLength value="255"/>
                                    </xs:restriction>
                                </xs:simpleType>
                            </xs:element>
                            <xs:element minOccurs="0" name="net-weight">
                                <xs:annotation>
                                    <xs:documentation>net_weight</xs:documentation>
                                </xs:annotation>
                                <xs:simpleType>
                                    <xs:restriction base="xs:decimal">
                                        <xs:totalDigits value="30"/>
                                        <xs:fractionDigits value="6"/>
                                    </xs:restriction>
                                </xs:simpleType>
                            </xs:element>
                            <xs:element minOccurs="0" name="net-weight-uom" type="Uom"/>
                            <xs:element minOccurs="0" name="pack-qty">
                                <xs:annotation>
                                    <xs:documentation>Total items in a pack</xs:documentation>
                                </xs:annotation>
                                <xs:simpleType>
                                    <xs:restriction base="xs:decimal">
                                        <xs:totalDigits value="30"/>
                                        <xs:fractionDigits value="6"/>
                                    </xs:restriction>
                                </xs:simpleType>
                            </xs:element>
                            <xs:element minOccurs="0" name="pack-uom" type="Uom"/>
                            <xs:element minOccurs="0" name="pack-uom-id" type="xs:integer">
                                <xs:annotation>
                                    <xs:documentation>Pack UOM ID</xs:documentation>
                                </xs:annotation>
                            </xs:element>
                            <xs:element minOccurs="0" name="pack-weight">
                                <xs:annotation>
                                    <xs:documentation>Total weight of a pack</xs:documentation>
                                </xs:annotation>
                                <xs:simpleType>
                                    <xs:restriction base="xs:decimal">
                                        <xs:totalDigits value="30"/>
                                        <xs:fractionDigits value="6"/>
                                    </xs:restriction>
                                </xs:simpleType>
                            </xs:element>
                            <xs:element minOccurs="0" name="receive-catch-weight" type="xs:boolean">
                                <xs:annotation>
                                    <xs:documentation>Receive item as a catch weight (pack)</xs:documentation>
                                </xs:annotation>
                            </xs:element>
                            <xs:element minOccurs="0" name="receiving-form" type="Form"/>
                            <xs:element minOccurs="0" name="reorder-alerts" type="xs:string">
                                <xs:annotation>
                                    <xs:documentation>List of alerts</xs:documentation>
                                </xs:annotation>
                            </xs:element>
                            <xs:element minOccurs="0" name="reorder-point" type="xs:decimal">
                                <xs:annotation>
                                    <xs:documentation>reorder_point</xs:documentation>
                                </xs:annotation>
                            </xs:element>
                            <xs:element minOccurs="0" name="require-asset-tag" type="xs:boolean">
                                <xs:annotation>
                                    <xs:documentation>Require asset tag</xs:documentation>
                                </xs:annotation>
                            </xs:element>
                            <xs:element minOccurs="0" name="require-inspection" type="xs:boolean">
                                <xs:annotation>
                                    <xs:documentation>Require inspection</xs:documentation>
                                </xs:annotation>
                            </xs:element>
                            <xs:element minOccurs="0" name="storage-quantity" type="xs:integer">
                                <xs:annotation>
                                    <xs:documentation>storage_quantity</xs:documentation>
                                </xs:annotation>
                            </xs:element>
                            <xs:element minOccurs="0" name="storage-uom" type="Uom"/>
                            <xs:element minOccurs="0" name="sustainability-detail" type="SustainabilityDetail"/>
                            <xs:element minOccurs="0" name="tax-detail" type="ItemTaxDetail"/>
                            <xs:element minOccurs="0" name="uom" type="Uom"/>
                            <xs:element minOccurs="0" name="updated-at" type="xs:string">
                                <xs:annotation>
                                    <xs:documentation>Automatically created by Coupa in the format YYYY-MM-DDTHH:MM:SS+HH:MMZ</xs:documentation>
                                </xs:annotation>
                            </xs:element>
                            <xs:element minOccurs="0" name="updated-by" type="UserSimple"/>
                            <xs:element minOccurs="0" name="use-pack-weight" type="xs:boolean">
                                <xs:annotation>
                                    <xs:documentation>Item is a pack of items</xs:documentation>
                                </xs:annotation>
                            </xs:element>
                            <xs:element minOccurs="0" name="custom-fields">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element minOccurs="0" name="itemscustomfield" type="xs:string"/>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:complexType name="Commodity">
        <xs:sequence>
            <xs:element minOccurs="0" name="active">
                <xs:annotation>
                    <xs:documentation>A false value will inactivate the account making it no longer available to users. A true value will make it active and available to users.</xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:enumeration value="true"/>
                        <xs:enumeration value="false"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element minOccurs="0" name="category">
                <xs:annotation>
                    <xs:documentation>Category</xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:enumeration value="goods"/>
                        <xs:enumeration value="services"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element minOccurs="0" name="created-at" type="xs:string">
                <xs:annotation>
                    <xs:documentation>Automatically created by Coupa in the format YYYY-MM-DDTHH:MM:SS+HH:MMZ</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element minOccurs="0" name="created-by" type="UserSimple1"/>
            <xs:element minOccurs="0" name="deductibility">
                <xs:annotation>
                    <xs:documentation>Deductibility</xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:enumeration value="fully_deductible"/>
                        <xs:enumeration value="partially_deductible"/>
                        <xs:enumeration value="not_deductible"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element minOccurs="0" name="id" type="xs:integer">
                <xs:annotation>
                    <xs:documentation>Coupa unique identifier</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element minOccurs="0" name="imported-from-taxonomy" type="xs:boolean">
                <xs:annotation>
                    <xs:documentation>A true value will tell that the commodity is imported from Coupa Taxonomy. A false value will tell that the value is created by a user or system</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element minOccurs="0" name="name">
                <xs:annotation>
                    <xs:documentation>name</xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:maxLength value="255"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element minOccurs="0" name="parent" type="Commodity1"/>
            <xs:element minOccurs="0" name="preferred">
                <xs:annotation>
                    <xs:documentation>A Yes/No value will mark/unmark commodity as preferred. Set to Automate if you want the system to mark preferred. 'Automatic' option is available only if 'Automatic Guided Requests configuration' is enabled in company information</xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:enumeration value="Yes"/>
                        <xs:enumeration value="No"/>
                        <xs:enumeration value="Automatic"/>
                        <xs:enumeration value="Always"/>
                        <xs:enumeration value="Never"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element minOccurs="0" name="subcategory">
                <xs:annotation>
                    <xs:documentation>Subcategory</xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:enumeration value="raw_materials"/>
                        <xs:enumeration value="investment_goods"/>
                        <xs:enumeration value="services_exceptions"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element minOccurs="0" name="translated-name" type="xs:string">
                <xs:annotation>
                    <xs:documentation>Translated name</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element minOccurs="0" name="updated-at" type="xs:string">
                <xs:annotation>
                    <xs:documentation>Automatically created by Coupa in the format YYYY-MM-DDTHH:MM:SS+HH:MMZ</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element minOccurs="0" name="updated-by" type="UserSimple1"/>
            <xs:element minOccurs="0" name="custom-fields">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="gl" type="xs:string"/>
                        <xs:element minOccurs="0" name="common_gl_acct" type="LookupValue"/>
                        <xs:element minOccurs="0" name="commoditiescustomfield" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="UserSimple1">
        <xs:sequence>
            <xs:element minOccurs="0" name="avatar-thumb-url" type="xs:string">
                <xs:annotation>
                    <xs:documentation>Avatar url</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element minOccurs="0" name="created-at" type="xs:string">
                <xs:annotation>
                    <xs:documentation>Automatically created by Coupa in the format YYYY-MM-DDTHH:MM:SS+HH:MMZ</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element minOccurs="0" name="email">
                <xs:annotation>
                    <xs:documentation>email</xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:maxLength value="255"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element minOccurs="0" name="employee-number">
                <xs:annotation>
                    <xs:documentation>employee number</xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:maxLength value="255"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element minOccurs="0" name="firstname">
                <xs:annotation>
                    <xs:documentation>first name</xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:maxLength value="40"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element minOccurs="0" name="fullname">
                <xs:annotation>
                    <xs:documentation>full name</xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:maxLength value="255"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element minOccurs="0" name="id" type="xs:integer">
                <xs:annotation>
                    <xs:documentation>Coupa unique identifier</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element minOccurs="0" name="lastname">
                <xs:annotation>
                    <xs:documentation>last name</xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:maxLength value="40"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element minOccurs="0" name="login">
                <xs:annotation>
                    <xs:documentation>login</xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:maxLength value="255"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element minOccurs="0" name="salesforce-id">
                <xs:annotation>
                    <xs:documentation>salesforce_id</xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:maxLength value="255"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element minOccurs="0" name="updated-at" type="xs:string">
                <xs:annotation>
                    <xs:documentation>Automatically created by Coupa in the format YYYY-MM-DDTHH:MM:SS+HH:MMZ</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element minOccurs="0" name="custom-fields">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="assignee" type="xs:string"/>
                        <xs:element minOccurs="0" name="userscustomfield" type="xs:string"/>
                        <xs:element minOccurs="0" name="tri_test_field" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Commodity1">
        <xs:sequence>
            <xs:element minOccurs="0" name="active">
                <xs:annotation>
                    <xs:documentation>A false value will inactivate the account making it no longer available to users. A true value will make it active and available to users.</xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:enumeration value="true"/>
                        <xs:enumeration value="false"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element minOccurs="0" name="category">
                <xs:annotation>
                    <xs:documentation>Category</xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:enumeration value="goods"/>
                        <xs:enumeration value="services"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element minOccurs="0" name="created-at" type="xs:string">
                <xs:annotation>
                    <xs:documentation>Automatically created by Coupa in the format YYYY-MM-DDTHH:MM:SS+HH:MMZ</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element minOccurs="0" name="created-by" type="UserSimple2"/>
            <xs:element minOccurs="0" name="deductibility">
                <xs:annotation>
                    <xs:documentation>Deductibility</xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:enumeration value="fully_deductible"/>
                        <xs:enumeration value="partially_deductible"/>
                        <xs:enumeration value="not_deductible"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element minOccurs="0" name="id" type="xs:integer">
                <xs:annotation>
                    <xs:documentation>Coupa unique identifier</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element minOccurs="0" name="imported-from-taxonomy" type="xs:boolean">
                <xs:annotation>
                    <xs:documentation>A true value will tell that the commodity is imported from Coupa Taxonomy. A false value will tell that the value is created by a user or system</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element minOccurs="0" name="name">
                <xs:annotation>
                    <xs:documentation>name</xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:maxLength value="255"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element minOccurs="0" name="parent" type="Commodity2"/>
            <xs:element minOccurs="0" name="preferred">
                <xs:annotation>
                    <xs:documentation>A Yes/No value will mark/unmark commodity as preferred. Set to Automate if you want the system to mark preferred. 'Automatic' option is available only if 'Automatic Guided Requests configuration' is enabled in company information</xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:enumeration value="Yes"/>
                        <xs:enumeration value="No"/>
                        <xs:enumeration value="Automatic"/>
                        <xs:enumeration value="Always"/>
                        <xs:enumeration value="Never"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element minOccurs="0" name="subcategory">
                <xs:annotation>
                    <xs:documentation>Subcategory</xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:enumeration value="raw_materials"/>
                        <xs:enumeration value="investment_goods"/>
                        <xs:enumeration value="services_exceptions"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element minOccurs="0" name="translated-name" type="xs:string">
                <xs:annotation>
                    <xs:documentation>Translated name</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element minOccurs="0" name="updated-at" type="xs:string">
                <xs:annotation>
                    <xs:documentation>Automatically created by Coupa in the format YYYY-MM-DDTHH:MM:SS+HH:MMZ</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element minOccurs="0" name="updated-by" type="UserSimple2"/>
            <xs:element minOccurs="0" name="custom-fields">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="gl" type="xs:string"/>
                        <xs:element minOccurs="0" name="common_gl_acct" type="LookupValue"/>
                        <xs:element minOccurs="0" name="commoditiescustomfield" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="UserSimple2">
        <xs:sequence>
            <xs:element minOccurs="0" name="avatar-thumb-url" type="xs:string">
                <xs:annotation>
                    <xs:documentation>Avatar url</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element minOccurs="0" name="created-at" type="xs:string">
                <xs:annotation>
                    <xs:documentation>Automatically created by Coupa in the format YYYY-MM-DDTHH:MM:SS+HH:MMZ</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element minOccurs="0" name="email">
                <xs:annotation>
                    <xs:documentation>email</xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:maxLength value="255"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element minOccurs="0" name="employee-number">
                <xs:annotation>
                    <xs:documentation>employee number</xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:maxLength value="255"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element minOccurs="0" name="firstname">
                <xs:annotation>
                    <xs:documentation>first name</xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:maxLength value="40"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element minOccurs="0" name="fullname">
                <xs:annotation>
                    <xs:documentation>full name</xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:maxLength value="255"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element minOccurs="0" name="id" type="xs:integer">
                <xs:annotation>
                    <xs:documentation>Coupa unique identifier</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element minOccurs="0" name="lastname">
                <xs:annotation>
                    <xs:documentation>last name</xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:maxLength value="40"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element minOccurs="0" name="login">
                <xs:annotation>
                    <xs:documentation>login</xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:maxLength value="255"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element minOccurs="0" name="salesforce-id">
                <xs:annotation>
                    <xs:documentation>salesforce_id</xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:maxLength value="255"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element minOccurs="0" name="updated-at" type="xs:string">
                <xs:annotation>
                    <xs:documentation>Automatically created by Coupa in the format YYYY-MM-DDTHH:MM:SS+HH:MMZ</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element minOccurs="0" name="custom-fields">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="assignee" type="xs:string"/>
                        <xs:element minOccurs="0" name="userscustomfield" type="xs:string"/>
                        <xs:element minOccurs="0" name="tri_test_field" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Commodity2">
        <xs:sequence>
            <xs:element minOccurs="0" name="active">
                <xs:annotation>
                    <xs:documentation>A false value will inactivate the account making it no longer available to users. A true value will make it active and available to users.</xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:enumeration value="true"/>
                        <xs:enumeration value="false"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element minOccurs="0" name="category">
                <xs:annotation>
                    <xs:documentation>Category</xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:enumeration value="goods"/>
                        <xs:enumeration value="services"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element minOccurs="0" name="created-at" type="xs:string">
                <xs:annotation>
                    <xs:documentation>Automatically created by Coupa in the format YYYY-MM-DDTHH:MM:SS+HH:MMZ</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element minOccurs="0" name="created-by" type="xs:anyType"/>
            <xs:element minOccurs="0" name="deductibility">
                <xs:annotation>
                    <xs:documentation>Deductibility</xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:enumeration value="fully_deductible"/>
                        <xs:enumeration value="partially_deductible"/>
                        <xs:enumeration value="not_deductible"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element minOccurs="0" name="id" type="xs:integer">
                <xs:annotation>
                    <xs:documentation>Coupa unique identifier</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element minOccurs="0" name="imported-from-taxonomy" type="xs:boolean">
                <xs:annotation>
                    <xs:documentation>A true value will tell that the commodity is imported from Coupa Taxonomy. A false value will tell that the value is created by a user or system</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element minOccurs="0" name="name">
                <xs:annotation>
                    <xs:documentation>name</xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:maxLength value="255"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element minOccurs="0" name="parent" type="xs:anyType"/>
            <xs:element minOccurs="0" name="preferred">
                <xs:annotation>
                    <xs:documentation>A Yes/No value will mark/unmark commodity as preferred. Set to Automate if you want the system to mark preferred. 'Automatic' option is available only if 'Automatic Guided Requests configuration' is enabled in company information</xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:enumeration value="Yes"/>
                        <xs:enumeration value="No"/>
                        <xs:enumeration value="Automatic"/>
                        <xs:enumeration value="Always"/>
                        <xs:enumeration value="Never"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element minOccurs="0" name="subcategory">
                <xs:annotation>
                    <xs:documentation>Subcategory</xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:enumeration value="raw_materials"/>
                        <xs:enumeration value="investment_goods"/>
                        <xs:enumeration value="services_exceptions"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element minOccurs="0" name="translated-name" type="xs:string">
                <xs:annotation>
                    <xs:documentation>Translated name</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element minOccurs="0" name="updated-at" type="xs:string">
                <xs:annotation>
                    <xs:documentation>Automatically created by Coupa in the format YYYY-MM-DDTHH:MM:SS+HH:MMZ</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element minOccurs="0" name="updated-by" type="xs:anyType"/>
            <xs:element minOccurs="0" name="custom-fields">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="gl" type="xs:string"/>
                        <xs:element minOccurs="0" name="common_gl_acct" type="xs:anyType"/>
                        <xs:element minOccurs="0" name="commoditiescustomfield" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="LookupValue">
        <xs:sequence>
            <xs:element minOccurs="0" name="account-type" type="xs:anyType"/>
            <xs:element minOccurs="0" name="active" type="xs:boolean">
                <xs:annotation>
                    <xs:documentation>A false value will inactivate the account making it no longer available to users. A true value will make it active and available to users.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element minOccurs="0" name="children-count" type="xs:integer">
                <xs:annotation>
                    <xs:documentation>Total count of children for this lookup value</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element minOccurs="0" name="created-at" type="xs:string">
                <xs:annotation>
                    <xs:documentation>Automatically created by Coupa in the format YYYY-MM-DDTHH:MM:SS+HH:MMZ</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element minOccurs="0" name="created-by" type="xs:anyType"/>
            <xs:element minOccurs="0" name="depth" type="xs:integer">
                <xs:annotation>
                    <xs:documentation>depth</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element minOccurs="0" name="description">
                <xs:annotation>
                    <xs:documentation>Description of the lookup value</xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:maxLength value="255"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element minOccurs="0" name="external-ref-code">
                <xs:annotation>
                    <xs:documentation>Used for Identification of individual Lookup Value when using Hierarchical Lookups. This field is a concatenation of the External Ref Num fields starting with the root LookupValue. It does not get set by the integration, but is used to identify an existing lookup to update.</xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:maxLength value="255"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element minOccurs="0" name="external-ref-num">
                <xs:annotation>
                    <xs:documentation>External Ref Num (actual account value when used in accounting)</xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:maxLength value="255"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element minOccurs="0" name="id" type="xs:integer">
                <xs:annotation>
                    <xs:documentation>Coupa unique identifier</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element minOccurs="0" name="is-default" type="xs:boolean">
                <xs:annotation>
                    <xs:documentation>is_default</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element minOccurs="0" name="lookup" type="xs:anyType"/>
            <xs:element minOccurs="0" name="lookup-id" type="xs:integer">
                <xs:annotation>
                    <xs:documentation>lookup_id</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element minOccurs="0" name="name">
                <xs:annotation>
                    <xs:documentation>Name of the lookup value</xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:maxLength value="255"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element minOccurs="0" name="parent" type="xs:anyType"/>
            <xs:element minOccurs="0" name="parent-id" type="xs:integer">
                <xs:annotation>
                    <xs:documentation>parent_id</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element minOccurs="0" name="updated-at" type="xs:string">
                <xs:annotation>
                    <xs:documentation>Automatically created by Coupa in the format YYYY-MM-DDTHH:MM:SS+HH:MMZ</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element minOccurs="0" name="updated-by" type="xs:anyType"/>
            <xs:element minOccurs="0" name="custom-fields">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="lookupvaluescustomfield" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Uom">
        <xs:sequence>
            <xs:element minOccurs="0" name="active" type="xs:boolean">
                <xs:annotation>
                    <xs:documentation>A false value will inactivate the account making it no longer available to users. A true value will make it active and available to users.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element minOccurs="0" name="allowable-precision" type="xs:integer">
                <xs:annotation>
                    <xs:documentation>allowable_precision</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element minOccurs="0" name="code">
                <xs:annotation>
                    <xs:documentation>code</xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:maxLength value="6"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element minOccurs="0" name="created-at" type="xs:string">
                <xs:annotation>
                    <xs:documentation>Automatically created by Coupa in the format YYYY-MM-DDTHH:MM:SS+HH:MMZ</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element minOccurs="0" name="created-by" type="UserSimple1"/>
            <xs:element minOccurs="0" name="id" type="xs:integer">
                <xs:annotation>
                    <xs:documentation>Coupa unique identifier</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element minOccurs="0" name="name">
                <xs:annotation>
                    <xs:documentation>name</xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:maxLength value="100"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element minOccurs="0" name="updated-at" type="xs:string">
                <xs:annotation>
                    <xs:documentation>Automatically created by Coupa in the format YYYY-MM-DDTHH:MM:SS+HH:MMZ</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element minOccurs="0" name="updated-by" type="UserSimple1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="UserSimple">
        <xs:sequence>
            <xs:element minOccurs="0" name="avatar-thumb-url" type="xs:string">
                <xs:annotation>
                    <xs:documentation>Avatar url</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element minOccurs="0" name="created-at" type="xs:string">
                <xs:annotation>
                    <xs:documentation>Automatically created by Coupa in the format YYYY-MM-DDTHH:MM:SS+HH:MMZ</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element minOccurs="0" name="email">
                <xs:annotation>
                    <xs:documentation>email</xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:maxLength value="255"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element minOccurs="0" name="employee-number">
                <xs:annotation>
                    <xs:documentation>employee number</xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:maxLength value="255"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element minOccurs="0" name="firstname">
                <xs:annotation>
                    <xs:documentation>first name</xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:maxLength value="40"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element minOccurs="0" name="fullname">
                <xs:annotation>
                    <xs:documentation>full name</xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:maxLength value="255"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element minOccurs="0" name="id" type="xs:integer">
                <xs:annotation>
                    <xs:documentation>Coupa unique identifier</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element minOccurs="0" name="lastname">
                <xs:annotation>
                    <xs:documentation>last name</xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:maxLength value="40"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element minOccurs="0" name="login">
                <xs:annotation>
                    <xs:documentation>login</xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:maxLength value="255"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element minOccurs="0" name="salesforce-id">
                <xs:annotation>
                    <xs:documentation>salesforce_id</xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:maxLength value="255"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element minOccurs="0" name="updated-at" type="xs:string">
                <xs:annotation>
                    <xs:documentation>Automatically created by Coupa in the format YYYY-MM-DDTHH:MM:SS+HH:MMZ</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element minOccurs="0" name="custom-fields">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="assignee" type="xs:string"/>
                        <xs:element minOccurs="0" name="userscustomfield" type="xs:string"/>
                        <xs:element minOccurs="0" name="tri_test_field" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Form">
        <xs:sequence>
            <xs:element minOccurs="0" name="created-at" type="xs:string">
                <xs:annotation>
                    <xs:documentation>Automatically created by Coupa in the format YYYY-MM-DDTHH:MM:SS+HH:MMZ</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element minOccurs="0" name="created-by" type="UserSimple1"/>
            <xs:element minOccurs="0" name="form-type">
                <xs:annotation>
                    <xs:documentation>form_type</xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:maxLength value="255"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element minOccurs="0" name="id" type="xs:integer">
                <xs:annotation>
                    <xs:documentation>Coupa unique identifier</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element minOccurs="0" name="name">
                <xs:annotation>
                    <xs:documentation>name</xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:maxLength value="100"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element minOccurs="0" name="status">
                <xs:annotation>
                    <xs:documentation>transaction status</xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:maxLength value="50"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element minOccurs="0" name="updated-at" type="xs:string">
                <xs:annotation>
                    <xs:documentation>Automatically created by Coupa in the format YYYY-MM-DDTHH:MM:SS+HH:MMZ</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element minOccurs="0" name="updated-by" type="UserSimple1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SustainabilityDetail">
        <xs:sequence>
            <xs:element minOccurs="0" name="created-at" type="xs:string">
                <xs:annotation>
                    <xs:documentation>Automatically created by Coupa in the format YYYY-MM-DDTHH:MM:SS+HH:MMZ</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element minOccurs="0" name="id" type="xs:integer">
                <xs:annotation>
                    <xs:documentation>Coupa unique identifier</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element minOccurs="0" name="level" type="xs:integer">
                <xs:annotation>
                    <xs:documentation>Level</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element minOccurs="0" name="title">
                <xs:annotation>
                    <xs:documentation>Title</xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:maxLength value="255"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element minOccurs="0" name="updated-at" type="xs:string">
                <xs:annotation>
                    <xs:documentation>Automatically created by Coupa in the format YYYY-MM-DDTHH:MM:SS+HH:MMZ</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element minOccurs="0" name="url">
                <xs:annotation>
                    <xs:documentation>Url</xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:maxLength value="255"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ItemTaxDetail">
        <xs:sequence>
            <xs:element minOccurs="0" name="cfop">
                <xs:annotation>
                    <xs:documentation>Cfop</xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:maxLength value="255"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element minOccurs="0" name="created-at" type="xs:string">
                <xs:annotation>
                    <xs:documentation>Automatically created by Coupa in the format YYYY-MM-DDTHH:MM:SS+HH:MMZ</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element minOccurs="0" name="id" type="xs:integer">
                <xs:annotation>
                    <xs:documentation>Coupa unique identifier</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element minOccurs="0" name="ncm">
                <xs:annotation>
                    <xs:documentation>Ncm</xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:maxLength value="255"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element minOccurs="0" name="updated-at" type="xs:string">
                <xs:annotation>
                    <xs:documentation>Automatically created by Coupa in the format YYYY-MM-DDTHH:MM:SS+HH:MMZ</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
</xs:schema>