Resources/canonical_library/xsd/JIRATicket.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- Created with Liquid Technologies Online Tools 1.0 (https://www.liquid-technologies.com) -->
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="JIRATicket">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="ProjectId" type="xs:string" />
        <xs:element name="Summary" type="xs:string" />
        <xs:element name="Description" type="xs:string" />
        <xs:element name="Assignee" type="xs:string" />
        <xs:element name="IssueType" type="xs:string" />
        <xs:element name="StartDate" type="xs:string" />
        <xs:element name="EndDate" type="xs:string" />
        <xs:element name="SprintNum" type="xs:integer" />
        <xs:element name="Reporter" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>