Resources/canonical_library/xsd/JournalEntryBulkCreateRequest.xsd

<?xml version='1.0' encoding='UTF-8'?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:sfin="http://sap.com/xi/SAPSCORE/SFIN" attributeFormDefault="unqualified" elementFormDefault="qualified">
<xs:element name="JournalEntryBulkCreateRequest" >
    <xs:complexType>
      <xs:sequence>
        <xs:element name="MessageHeader">
            <xs:complexType>
              <xs:sequence>
                 <xs:element name="ID" >
                      <xs:complexType>
                          <xs:simpleContent>
                          <xs:extension base="xs:unsignedShort">
                              <xs:attribute name="schemeID" type="xs:string" use="required" />
                              <xs:attribute name="schemeAgencyID" type="xs:string" use="required" />
                          </xs:extension>
                          </xs:simpleContent>
                      </xs:complexType>
                  </xs:element>
                  <xs:element name="UUID" >
                      <xs:complexType>
                          <xs:simpleContent>
                              <xs:extension base="xs:unsignedShort">
                                  <xs:attribute name="schemeID" type="xs:string" use="required" />
                                  <xs:attribute name="schemeAgencyID" type="xs:string" use="required" />
                              </xs:extension>
                          </xs:simpleContent>
                      </xs:complexType>
                  </xs:element>
                  <xs:element name="ReferenceID" >
                      <xs:complexType>
                              <xs:simpleContent>
                              <xs:extension base="xs:unsignedShort">
                                  <xs:attribute name="schemeID" type="xs:string" use="required" />
                                  <xs:attribute name="schemeAgencyID" type="xs:string" use="required" />
                              </xs:extension>
                              </xs:simpleContent>
                          </xs:complexType>
                  </xs:element>
                  <xs:element name="ReferenceUUID" >
                      <xs:complexType>
                              <xs:simpleContent>
                              <xs:extension base="xs:unsignedShort">
                                  <xs:attribute name="schemeID" type="xs:string" use="required" />
                                  <xs:attribute name="schemeAgencyID" type="xs:string" use="required" />
                              </xs:extension>
                              </xs:simpleContent>
                          </xs:complexType>
                  </xs:element>  
                <xs:element name="CreationDateTime" type="xs:dateTime" />
                <xs:element name="TestDataIndicator" minOccurs="0" type="xs:string" />
                <xs:element name="ReconciliationIndicator" minOccurs="0" type="xs:string" />
                <xs:element name="SenderBusinessSystemID" minOccurs="0" type="xs:string" />
                <xs:element name="RecipientBusinessSystemID" minOccurs="0" type="xs:string" />
                <xs:element name="SenderParty" minOccurs="0">
                  <xs:complexType>
                    <xs:sequence>
                    <xs:element name="InternalID">
                        <xs:complexType>
                            <xs:simpleContent>
                                <xs:extension base="xs:unsignedShort">
                                    <xs:attribute name="schemeID" type="xs:string" use="required" />
                                    <xs:attribute name="schemeAgencyID" type="xs:string" use="required" />
                                </xs:extension>
                            </xs:simpleContent>
                        </xs:complexType>
                     </xs:element>
                      <xs:element name="StandardID" >
                          <xs:complexType>
                                  <xs:simpleContent>
                                  <xs:extension base="xs:unsignedShort">
                                      <xs:attribute name="schemeAgencyID" type="xs:string" use="required" />
                                  </xs:extension>
                                  </xs:simpleContent>
                              </xs:complexType>
                          </xs:element>
                          <xs:element name="ContactPerson" minOccurs="0">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="InternalID">
                                    <xs:complexType>
                                        <xs:simpleContent>
                                            <xs:extension base="xs:unsignedShort">
                                                <xs:attribute name="schemeID" type="xs:string" use="required" />
                                                <xs:attribute name="schemeAgencyID" type="xs:string" use="required" />
                                            </xs:extension>
                                        </xs:simpleContent>
                                    </xs:complexType>
                                </xs:element>
                                <xs:element name="OrganisationFormattedName" minOccurs="0" maxOccurs="4" type="xs:string" />
                                <xs:element name="PersonFormattedName" minOccurs="0" maxOccurs="4" type="xs:string" />
                                <xs:element name="PhoneNumber" >
                                    <xs:complexType>
                                        <xs:sequence>
                                            <xs:element name="AreaID" minOccurs="0" type="xs:string"/>
                                            <xs:element name="SubscriberID" minOccurs="0" type="xs:string"/>
                                            <xs:element name="ExtensionID" minOccurs="0" type="xs:string"/>
                                            <xs:element name="CountryCode" minOccurs="0" type="xs:string"/>
                                            <xs:element name="CountryDiallingCode" minOccurs="0" type="xs:string"/>
                                            <xs:element name="CountryName">
                                                <xs:complexType>
                                                    <xs:simpleContent>
                                                        <xs:extension base="xs:unsignedShort">
                                                            <xs:attribute name="languageCode" type="xs:string" use="required" />
                                                        </xs:extension>
                                                    </xs:simpleContent>
                                                </xs:complexType>
                                            </xs:element>
                                        </xs:sequence>
                                    </xs:complexType>
                                </xs:element>
                                <xs:element name="FaxNumber" >
                                    <xs:complexType>
                                        <xs:sequence>
                                            <xs:element name="AreaID" minOccurs="0" type="xs:string"/>
                                            <xs:element name="SubscriberID" minOccurs="0" type="xs:string"/>
                                            <xs:element name="ExtensionID" minOccurs="0" type="xs:string"/>
                                            <xs:element name="CountryCode" minOccurs="0" type="xs:string"/>
                                            <xs:element name="CountryDiallingCode" minOccurs="0" type="xs:string"/>
                                            <xs:element name="CountryName">
                                                <xs:complexType>
                                                    <xs:simpleContent>
                                                        <xs:extension base="xs:unsignedShort">
                                                            <xs:attribute name="languageCode" type="xs:string" use="required" />
                                                        </xs:extension>
                                                    </xs:simpleContent>
                                                </xs:complexType>
                                            </xs:element>
                                        </xs:sequence>
                                    </xs:complexType>
                                </xs:element>
                                <xs:element name="EmailURI">
                                    <xs:complexType>
                                        <xs:simpleContent>
                                            <xs:extension base="xs:unsignedShort">
                                                <xs:attribute name="schemaID" type="xs:string" use="required" />
                                            </xs:extension>
                                        </xs:simpleContent>
                                    </xs:complexType>
                                </xs:element>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                    </xs:sequence>
                  </xs:complexType>
                </xs:element>
                <xs:element name="RecipientParty" minOccurs="0" maxOccurs="unbounded">
                  <xs:complexType>
                    <xs:sequence>
                        <xs:element name="InternalID">
                            <xs:complexType>
                                <xs:simpleContent>
                                    <xs:extension base="xs:unsignedShort">
                                        <xs:attribute name="schemeID" type="xs:string" use="required" />
                                        <xs:attribute name="schemeAgencyID" type="xs:string" use="required" />
                                    </xs:extension>
                                </xs:simpleContent>
                            </xs:complexType>
                         </xs:element>
                      <xs:element name="StandardID" >
                          <xs:complexType>
                                  <xs:simpleContent>
                                  <xs:extension base="xs:unsignedShort">
                                      <xs:attribute name="schemeAgencyID" type="xs:string" use="required" />
                                  </xs:extension>
                                  </xs:simpleContent>
                              </xs:complexType>
                          </xs:element>
                      <xs:element name="ContactPerson" minOccurs="0">
                        <xs:complexType>
                          <xs:sequence>
                            <xs:element name="InternalID">
                                <xs:complexType>
                                    <xs:simpleContent>
                                        <xs:extension base="xs:unsignedShort">
                                            <xs:attribute name="schemeID" type="xs:string" use="required" />
                                            <xs:attribute name="schemeAgencyID" type="xs:string" use="required" />
                                        </xs:extension>
                                    </xs:simpleContent>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="OrganisationFormattedName" minOccurs="0" maxOccurs="4" type="xs:string" />
                            <xs:element name="PersonFormattedName" minOccurs="0" maxOccurs="4" type="xs:string" />
                            <xs:element name="PhoneNumber" >
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="AreaID" minOccurs="0" type="xs:string"/>
                                        <xs:element name="SubscriberID" minOccurs="0" type="xs:string"/>
                                        <xs:element name="ExtensionID" minOccurs="0" type="xs:string"/>
                                        <xs:element name="CountryCode" minOccurs="0" type="xs:string"/>
                                        <xs:element name="CountryDiallingCode" minOccurs="0" type="xs:string"/>
                                        <xs:element name="CountryName">
                                            <xs:complexType>
                                                <xs:simpleContent>
                                                    <xs:extension base="xs:unsignedShort">
                                                        <xs:attribute name="languageCode" type="xs:string" use="required" />
                                                    </xs:extension>
                                                </xs:simpleContent>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="FaxNumber" >
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="AreaID" minOccurs="0" type="xs:string"/>
                                        <xs:element name="SubscriberID" minOccurs="0" type="xs:string"/>
                                        <xs:element name="ExtensionID" minOccurs="0" type="xs:string"/>
                                        <xs:element name="CountryCode" minOccurs="0" type="xs:string"/>
                                        <xs:element name="CountryDiallingCode" minOccurs="0" type="xs:string"/>
                                        <xs:element name="CountryName">
                                            <xs:complexType>
                                                <xs:simpleContent>
                                                    <xs:extension base="xs:unsignedShort">
                                                        <xs:attribute name="languageCode" type="xs:string" use="required" />
                                                    </xs:extension>
                                                </xs:simpleContent>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="EmailURI">
                                <xs:complexType>
                                    <xs:simpleContent>
                                        <xs:extension base="xs:unsignedShort">
                                            <xs:attribute name="schemaID" type="xs:string" use="required" />
                                        </xs:extension>
                                    </xs:simpleContent>
                                </xs:complexType>
                            </xs:element>
                          </xs:sequence>
                        </xs:complexType>
                      </xs:element>
                    </xs:sequence>
                  </xs:complexType>
                </xs:element>
                <xs:element name="BusinessScope">
                  <xs:complexType>
                    <xs:sequence>
                      <xs:element name="TypeCode" type="xs:string" />
                      <xs:element name="InstanceID" minOccurs="0" type="xs:string" />
                      <xs:element name="ID" minOccurs="0" type="xs:string" />
                    </xs:sequence>
                  </xs:complexType>
                </xs:element>
              </xs:sequence>
            </xs:complexType>
          </xs:element>
        <xs:element name="JournalEntryCreateRequest" minOccurs="1" maxOccurs="unbounded" >
        <xs:complexType>
            <xs:sequence>
                <xs:element name="MessageHeader">
            <xs:complexType>
              <xs:sequence>
                 <xs:element name="ID" >
                      <xs:complexType>
                          <xs:simpleContent>
                          <xs:extension base="xs:unsignedShort">
                              <xs:attribute name="schemeID" type="xs:string" use="required" />
                              <xs:attribute name="schemeAgencyID" type="xs:string" use="required" />
                          </xs:extension>
                          </xs:simpleContent>
                      </xs:complexType>
                  </xs:element>
                  <xs:element name="UUID" >
                      <xs:complexType>
                          <xs:simpleContent>
                              <xs:extension base="xs:unsignedShort">
                                  <xs:attribute name="schemeID" type="xs:string" use="required" />
                                  <xs:attribute name="schemeAgencyID" type="xs:string" use="required" />
                              </xs:extension>
                          </xs:simpleContent>
                      </xs:complexType>
                  </xs:element>
                  <xs:element name="ReferenceID" >
                      <xs:complexType>
                              <xs:simpleContent>
                              <xs:extension base="xs:unsignedShort">
                                  <xs:attribute name="schemeID" type="xs:string" use="required" />
                                  <xs:attribute name="schemeAgencyID" type="xs:string" use="required" />
                              </xs:extension>
                              </xs:simpleContent>
                          </xs:complexType>
                  </xs:element>
                  <xs:element name="ReferenceUUID" >
                      <xs:complexType>
                              <xs:simpleContent>
                              <xs:extension base="xs:unsignedShort">
                                  <xs:attribute name="schemeID" type="xs:string" use="required" />
                                  <xs:attribute name="schemeAgencyID" type="xs:string" use="required" />
                              </xs:extension>
                              </xs:simpleContent>
                          </xs:complexType>
                  </xs:element>  
                <xs:element name="CreationDateTime" type="xs:dateTime" />
                <xs:element name="TestDataIndicator" minOccurs="0" type="xs:string" />
                <xs:element name="ReconciliationIndicator" minOccurs="0" type="xs:string" />
                <xs:element name="SenderBusinessSystemID" minOccurs="0" type="xs:string" />
                <xs:element name="RecipientBusinessSystemID" minOccurs="0" type="xs:string" />
                <xs:element name="SenderParty" minOccurs="0">
                  <xs:complexType>
                    <xs:sequence>
                    <xs:element name="InternalID">
                        <xs:complexType>
                            <xs:simpleContent>
                                <xs:extension base="xs:unsignedShort">
                                    <xs:attribute name="schemeID" type="xs:string" use="required" />
                                    <xs:attribute name="schemeAgencyID" type="xs:string" use="required" />
                                </xs:extension>
                            </xs:simpleContent>
                        </xs:complexType>
                     </xs:element>
                      <xs:element name="StandardID" >
                          <xs:complexType>
                                  <xs:simpleContent>
                                  <xs:extension base="xs:unsignedShort">
                                      <xs:attribute name="schemeAgencyID" type="xs:string" use="required" />
                                  </xs:extension>
                                  </xs:simpleContent>
                              </xs:complexType>
                          </xs:element>
                          <xs:element name="ContactPerson" minOccurs="0">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="InternalID">
                                    <xs:complexType>
                                        <xs:simpleContent>
                                            <xs:extension base="xs:unsignedShort">
                                                <xs:attribute name="schemeID" type="xs:string" use="required" />
                                                <xs:attribute name="schemeAgencyID" type="xs:string" use="required" />
                                            </xs:extension>
                                        </xs:simpleContent>
                                    </xs:complexType>
                                </xs:element>
                                <xs:element name="OrganisationFormattedName" minOccurs="0" maxOccurs="4" type="xs:string" />
                                <xs:element name="PersonFormattedName" minOccurs="0" maxOccurs="4" type="xs:string" />
                                <xs:element name="PhoneNumber" >
                                    <xs:complexType>
                                        <xs:sequence>
                                            <xs:element name="AreaID" minOccurs="0" type="xs:string"/>
                                            <xs:element name="SubscriberID" minOccurs="0" type="xs:string"/>
                                            <xs:element name="ExtensionID" minOccurs="0" type="xs:string"/>
                                            <xs:element name="CountryCode" minOccurs="0" type="xs:string"/>
                                            <xs:element name="CountryDiallingCode" minOccurs="0" type="xs:string"/>
                                            <xs:element name="CountryName">
                                                <xs:complexType>
                                                    <xs:simpleContent>
                                                        <xs:extension base="xs:unsignedShort">
                                                            <xs:attribute name="languageCode" type="xs:string" use="required" />
                                                        </xs:extension>
                                                    </xs:simpleContent>
                                                </xs:complexType>
                                            </xs:element>
                                        </xs:sequence>
                                    </xs:complexType>
                                </xs:element>
                                <xs:element name="FaxNumber" >
                                    <xs:complexType>
                                        <xs:sequence>
                                            <xs:element name="AreaID" minOccurs="0" type="xs:string"/>
                                            <xs:element name="SubscriberID" minOccurs="0" type="xs:string"/>
                                            <xs:element name="ExtensionID" minOccurs="0" type="xs:string"/>
                                            <xs:element name="CountryCode" minOccurs="0" type="xs:string"/>
                                            <xs:element name="CountryDiallingCode" minOccurs="0" type="xs:string"/>
                                            <xs:element name="CountryName">
                                                <xs:complexType>
                                                    <xs:simpleContent>
                                                        <xs:extension base="xs:unsignedShort">
                                                            <xs:attribute name="languageCode" type="xs:string" use="required" />
                                                        </xs:extension>
                                                    </xs:simpleContent>
                                                </xs:complexType>
                                            </xs:element>
                                        </xs:sequence>
                                    </xs:complexType>
                                </xs:element>
                                <xs:element name="EmailURI">
                                    <xs:complexType>
                                        <xs:simpleContent>
                                            <xs:extension base="xs:unsignedShort">
                                                <xs:attribute name="schemaID" type="xs:string" use="required" />
                                            </xs:extension>
                                        </xs:simpleContent>
                                    </xs:complexType>
                                </xs:element>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                    </xs:sequence>
                  </xs:complexType>
                </xs:element>
                <xs:element name="RecipientParty" minOccurs="0" maxOccurs="unbounded">
                  <xs:complexType>
                    <xs:sequence>
                        <xs:element name="InternalID">
                            <xs:complexType>
                                <xs:simpleContent>
                                    <xs:extension base="xs:unsignedShort">
                                        <xs:attribute name="schemeID" type="xs:string" use="required" />
                                        <xs:attribute name="schemeAgencyID" type="xs:string" use="required" />
                                    </xs:extension>
                                </xs:simpleContent>
                            </xs:complexType>
                         </xs:element>
                      <xs:element name="StandardID" >
                          <xs:complexType>
                                  <xs:simpleContent>
                                  <xs:extension base="xs:unsignedShort">
                                      <xs:attribute name="schemeAgencyID" type="xs:string" use="required" />
                                  </xs:extension>
                                  </xs:simpleContent>
                              </xs:complexType>
                          </xs:element>
                      <xs:element name="ContactPerson" minOccurs="0">
                        <xs:complexType>
                          <xs:sequence>
                            <xs:element name="InternalID">
                                <xs:complexType>
                                    <xs:simpleContent>
                                        <xs:extension base="xs:unsignedShort">
                                            <xs:attribute name="schemeID" type="xs:string" use="required" />
                                            <xs:attribute name="schemeAgencyID" type="xs:string" use="required" />
                                        </xs:extension>
                                    </xs:simpleContent>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="OrganisationFormattedName" minOccurs="0" maxOccurs="4" type="xs:string" />
                            <xs:element name="PersonFormattedName" minOccurs="0" maxOccurs="4" type="xs:string" />
                            <xs:element name="PhoneNumber" >
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="AreaID" minOccurs="0" type="xs:string"/>
                                        <xs:element name="SubscriberID" minOccurs="0" type="xs:string"/>
                                        <xs:element name="ExtensionID" minOccurs="0" type="xs:string"/>
                                        <xs:element name="CountryCode" minOccurs="0" type="xs:string"/>
                                        <xs:element name="CountryDiallingCode" minOccurs="0" type="xs:string"/>
                                        <xs:element name="CountryName">
                                            <xs:complexType>
                                                <xs:simpleContent>
                                                    <xs:extension base="xs:unsignedShort">
                                                        <xs:attribute name="languageCode" type="xs:string" use="required" />
                                                    </xs:extension>
                                                </xs:simpleContent>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="FaxNumber" >
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="AreaID" minOccurs="0" type="xs:string"/>
                                        <xs:element name="SubscriberID" minOccurs="0" type="xs:string"/>
                                        <xs:element name="ExtensionID" minOccurs="0" type="xs:string"/>
                                        <xs:element name="CountryCode" minOccurs="0" type="xs:string"/>
                                        <xs:element name="CountryDiallingCode" minOccurs="0" type="xs:string"/>
                                        <xs:element name="CountryName">
                                            <xs:complexType>
                                                <xs:simpleContent>
                                                    <xs:extension base="xs:unsignedShort">
                                                        <xs:attribute name="languageCode" type="xs:string" use="required" />
                                                    </xs:extension>
                                                </xs:simpleContent>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="EmailURI">
                                <xs:complexType>
                                    <xs:simpleContent>
                                        <xs:extension base="xs:unsignedShort">
                                            <xs:attribute name="schemaID" type="xs:string" use="required" />
                                        </xs:extension>
                                    </xs:simpleContent>
                                </xs:complexType>
                            </xs:element>
                          </xs:sequence>
                        </xs:complexType>
                      </xs:element>
                    </xs:sequence>
                  </xs:complexType>
                </xs:element>
                <xs:element name="BusinessScope">
                  <xs:complexType>
                    <xs:sequence>
                      <xs:element name="TypeCode" type="xs:string" />
                      <xs:element name="InstanceID" minOccurs="0" type="xs:string" />
                      <xs:element name="ID" minOccurs="0" type="xs:string" />
                    </xs:sequence>
                  </xs:complexType>
                </xs:element>
              </xs:sequence>
            </xs:complexType>
          </xs:element>
                <xs:element name="JournalEntry">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="OriginalReferenceDocumentType" minOccurs="1" maxOccurs="1" type="xs:string"/>
                            <xs:element name="OriginalReferenceDocument" minOccurs="0" type="xs:string"/>
                            <xs:element name="OriginalReferenceDocumentLogicalSystem" minOccurs="0" type="xs:string"/>
                            <xs:element name="BusinessTransactionType" type="xs:string"/>
                            <xs:element name="AccountingDocumentType" type="xs:string"/>
                            <xs:element name="AccountingDocument" minOccurs="0" type="xs:string"/>
                            <xs:element name="DocumentReferenceID" minOccurs="0" type="xs:string"/>
                            <xs:element name="OriginalPredecessorRefDocument" minOccurs="0" type="xs:string"/>
                            <xs:element name="DocumentHeaderText" minOccurs="0" type="xs:string"/>
                            <xs:element name="ReversalReason" minOccurs="0" type="xs:string"/>
                            <xs:element name="ReversalReferenceDocument" minOccurs="0" type="xs:string"/>
                            <xs:element name="ReversalDate" minOccurs="0" type="xs:dateTime"/>
                            <xs:element name="CreatedByUser" type="xs:string"/>
                            <xs:element name="CompanyCode" type="xs:string"/>
                            <xs:element name="DocumentDate" type="xs:dateTime"/>
                            <xs:element name="PostingDate" type="xs:dateTime"/>
                            <xs:element name="TaxReportingDate" minOccurs="0" type="xs:dateTime"/>
                            <xs:element name="TaxDeterminationDate" minOccurs="0" type="xs:string"/>
                            <xs:element name="InvoiceReceiptDate" minOccurs="0" type="xs:dateTime"/>
                            <xs:element name="ExchangeRateDate" minOccurs="0" type="xs:dateTime"/>
                            <xs:element name="ExchangeRate" minOccurs="0" type="xs:string"/>
                            <xs:element name="IndirectQuotedExchangeRate" minOccurs="0" type="xs:string"/>
                            <xs:element name="SourceSystemCompanyCode" minOccurs="0" type="xs:string"/>
                            <xs:element name="SourceSystemAccountingDocument" minOccurs="0" type="xs:string"/>
                            <xs:element name="Reference1InDocumentHeader" minOccurs="0" type="xs:string"/>
                            <xs:element name="Reference2InDocumentHeader" minOccurs="0" type="xs:string"/>
                            <xs:element name="JrnlEntryCntrySpecificRef1" minOccurs="0" type="xs:string"/>
                            <xs:element name="JrnlEntryCntrySpecificDate1" minOccurs="0" type="xs:string"/>
                            <xs:element name="JrnlEntryCntrySpecificRef2" minOccurs="0" type="xs:string"/>
                            <xs:element name="JrnlEntryCntrySpecificDate2" minOccurs="0" type="xs:string"/>
                            <xs:element name="JrnlEntryCntrySpecificRef3" minOccurs="0" type="xs:string"/>
                            <xs:element name="JrnlEntryCntrySpecificDate3" minOccurs="0" type="xs:string"/>
                            <xs:element name="JrnlEntryCntrySpecificRef4" minOccurs="0" type="xs:string"/>
                            <xs:element name="JrnlEntryCntrySpecificDate4" minOccurs="0" type="xs:string"/>
                            <xs:element name="JrnlEntryCntrySpecificRef5" minOccurs="0" type="xs:string"/>
                            <xs:element name="JrnlEntryCntrySpecificDate5" minOccurs="0" type="xs:string"/>
                            <xs:element name="JrnlEntryCntrySpecificBp1" minOccurs="0" type="xs:string"/>
                            <xs:element name="JrnlEntryCntrySpecificBp2" minOccurs="0" type="xs:string"/>
                            <xs:element name="Item" minOccurs="0" maxOccurs="unbounded">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="ReferenceDocumentItem" minOccurs="0" type="xs:string"/>
                                        <xs:element name="ItemGroup" minOccurs="0" type="xs:string"/>
                                        <xs:element name="CompanyCode" minOccurs="0" type="xs:string"/>
                                        <xs:element name="GLAccount" >
                                            <xs:complexType>
                                                    <xs:simpleContent>
                                                    <xs:extension base="xs:unsignedShort">
                                                        <xs:attribute name="listID" type="xs:string" use="required" />
                                                    </xs:extension>
                                                    </xs:simpleContent>
                                                </xs:complexType>
                                        </xs:element>
                                        <xs:element name="AmountInTransactionCurrency">
                                            <xs:complexType>
                                                <xs:simpleContent>
                                                <xs:extension base="xs:unsignedShort">
                                                    <xs:attribute name="currencyCode" type="xs:string" use="required" />
                                                </xs:extension>
                                                </xs:simpleContent>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element name="AmountInCompanyCodeCurrency">
                                            <xs:complexType>
                                                <xs:simpleContent>
                                                <xs:extension base="xs:unsignedShort">
                                                    <xs:attribute name="currencyCode" type="xs:string" use="required" />
                                                </xs:extension>
                                                </xs:simpleContent>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element name="AmountInGroupCurrency">
                                            <xs:complexType>
                                                <xs:simpleContent>
                                                <xs:extension base="xs:unsignedShort">
                                                    <xs:attribute name="currencyCode" type="xs:string" use="required" />
                                                </xs:extension>
                                                </xs:simpleContent>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element name="AmountInFreeDefinedCurrency1">
                                            <xs:complexType>
                                                <xs:simpleContent>
                                                <xs:extension base="xs:unsignedShort">
                                                    <xs:attribute name="currencyCode" type="xs:string" use="required" />
                                                </xs:extension>
                                                </xs:simpleContent>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element name="DebitCreditCode" minOccurs="0" type="xs:string"/>
                                        <xs:element name="DocumentItemText" minOccurs="0" type="xs:string"/>
                                        <xs:element name="ReasonCode" minOccurs="0" type="xs:string"/>
                                        <xs:element name="OplAcctgDocItmCntrySpcfcRef1" minOccurs="0" type="xs:string"/>
                                        <xs:element name="AssignmentReference" minOccurs="0" type="xs:string"/>
                                        <xs:element name="FinancialTransactionType" minOccurs="0" type="xs:string"/>
                                        <xs:element name="Tax" minOccurs="0" maxOccurs="1">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name="TaxCode">
                                                        <xs:complexType>
                                                            <xs:simpleContent>
                                                            <xs:extension base="xs:unsignedShort">
                                                                <xs:attribute name="listID" type="xs:string" use="required" />
                                                                <xs:attribute name="listVersionID" type="xs:string" use="required" />
                                                                <xs:attribute name="listAgencyID" type="xs:string" use="required" />
                                                            </xs:extension>
                                                            </xs:simpleContent>
                                                        </xs:complexType>
                                                    </xs:element>
                                                    <xs:element name="TaxJurisdiction">
                                                        <xs:complexType>
                                                            <xs:simpleContent>
                                                            <xs:extension base="xs:unsignedShort">
                                                                <xs:attribute name="listID" type="xs:string" use="required" />
                                                                <xs:attribute name="listVersionID" type="xs:string" use="required" />
                                                                <xs:attribute name="listAgencyID" type="xs:string" use="required" />
                                                            </xs:extension>
                                                            </xs:simpleContent>
                                                        </xs:complexType>
                                                    </xs:element>
                                                    <xs:element name="TaxItemGroup" minOccurs="0" type="xs:string"/>
                                                    <xs:element name="TaxCountry" minOccurs="0" type="xs:string"/>
                                                    <xs:element name="TaxExpenseAmountInTransacCrcy">
                                                        <xs:complexType>
                                                            <xs:simpleContent>
                                                            <xs:extension base="xs:unsignedShort">
                                                                <xs:attribute name="currencyCode" type="xs:string" use="required" />
                                                            </xs:extension>
                                                            </xs:simpleContent>
                                                        </xs:complexType>
                                                    </xs:element>
                                                    <xs:element name="TaxExpenseAmountInCoCodeCrcy">
                                                        <xs:complexType>
                                                            <xs:simpleContent>
                                                            <xs:extension base="xs:unsignedShort">
                                                                <xs:attribute name="currencyCode" type="xs:string" use="required" />
                                                            </xs:extension>
                                                            </xs:simpleContent>
                                                        </xs:complexType>
                                                    </xs:element>
                                                    <xs:element name="TaxExpenseAmountInGroupCrcy">
                                                        <xs:complexType>
                                                            <xs:simpleContent>
                                                            <xs:extension base="xs:unsignedShort">
                                                                <xs:attribute name="currencyCode" type="xs:string" use="required" />
                                                            </xs:extension>
                                                            </xs:simpleContent>
                                                        </xs:complexType>
                                                    </xs:element>
                                                    <xs:element name="TaxExpenseAmountInFreeDefinedCrcy1">
                                                        <xs:complexType>
                                                            <xs:simpleContent>
                                                            <xs:extension base="xs:unsignedShort">
                                                                <xs:attribute name="currencyCode" type="xs:string" use="required" />
                                                            </xs:extension>
                                                            </xs:simpleContent>
                                                        </xs:complexType>
                                                    </xs:element>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element name="Plant" minOccurs="0" type="xs:string"/>
                                        <xs:element name="Material" minOccurs="0" type="xs:string"/>
                                        <xs:element name="QuantityInEntryUnit" minOccurs="0" maxOccurs="1">
                                            <xs:complexType>
                                                <xs:simpleContent>
                                                <xs:extension base="xs:unsignedShort">
                                                    <xs:attribute name="unitCode" type="xs:string" />
                                                </xs:extension>
                                                </xs:simpleContent>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element name="IsNotCashDiscountLiable" minOccurs="0" type="xs:string"/>
                                        <xs:element name="TradingPartner" minOccurs="0" type="xs:string"/>
                                        <xs:element name="ValueDate" minOccurs="0" type="xs:date"/>
                                        <xs:element name="HouseBank" minOccurs="0" type="xs:string"/>
                                        <xs:element name="HouseBankAccount" minOccurs="0" type="xs:string"/>
                                        <xs:element name="Reference1IDByBusinessPartner" minOccurs="0" type="xs:string"/>
                                        <xs:element name="Reference2IDByBusinessPartner" minOccurs="0" type="xs:string"/>
                                        <xs:element name="Reference3IDByBusinessPartner" minOccurs="0" type="xs:string"/>
                                        <xs:element name="AccountAssignment" minOccurs="0" maxOccurs="1">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name="AccountAssignmentType" minOccurs="0" type="xs:string"/>
                                                    <xs:element name="ProfitCenter" minOccurs="0" type="xs:string"/>
                                                    <xs:element name="PartnerProfitCenter" minOccurs="0" type="xs:string"/>
                                                    <xs:element name="Segment" minOccurs="0" type="xs:string"/>
                                                    <xs:element name="PartnerSegment" minOccurs="0" type="xs:string"/>
                                                    <xs:element name="CostCenter" minOccurs="0" type="xs:string"/>
                                                    <xs:element name="CostCtrActivityType" minOccurs="0" type="xs:string"/>
                                                    <xs:element name="WBSElement" minOccurs="0" type="xs:string"/>
                                                    <xs:element name="MasterFixedAsset" minOccurs="0" type="xs:string"/>
                                                    <xs:element name="FixedAsset" minOccurs="0" type="xs:string"/>
                                                    <xs:element name="SalesOrder" minOccurs="0" type="xs:string"/>
                                                    <xs:element name="SalesOrderItem" minOccurs="0" type="xs:string"/>
                                                    <xs:element name="FunctionalArea" minOccurs="0" type="xs:string"/>
                                                    <xs:element name="ServiceDocType" minOccurs="0" type="xs:string"/>
                                                    <xs:element name="ServiceDocID" minOccurs="0" type="xs:string"/>
                                                    <xs:element name="ServiceDocItemID" minOccurs="0" type="xs:string"/>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element name="ProfitabilitySupplement" minOccurs="0" maxOccurs="1">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name="Customer" minOccurs="0" type="xs:string"/>
                                                    <xs:element name="CustomerGroup" >
                                                        <xs:complexType>
                                                            <xs:simpleContent>
                                                            <xs:extension base="xs:unsignedShort">
                                                                <xs:attribute name="listID" type="xs:string" use="required" />
                                                                <xs:attribute name="listVersionID" type="xs:string" use="required" />
                                                                <xs:attribute name="listAgencyID" type="xs:string" use="required" />
                                                            </xs:extension>
                                                            </xs:simpleContent>
                                                        </xs:complexType>
                                                    </xs:element>
                                                    <xs:element name="CustomerIndustry" >
                                                        <xs:complexType>
                                                                <xs:simpleContent>
                                                                <xs:extension base="xs:unsignedShort">
                                                                    <xs:attribute name="listID" type="xs:string" use="required" />
                                                                    <xs:attribute name="listVersionID" type="xs:string" use="required" />
                                                                    <xs:attribute name="listAgencyID" type="xs:string" use="required" />
                                                                </xs:extension>
                                                                </xs:simpleContent>
                                                            </xs:complexType>
                                                    </xs:element>
                                                    <xs:element name="CustomerCountry" minOccurs="0" type="xs:string"/>
                                                    <xs:element name="SalesDistrict" minOccurs="0" type="xs:string"/>
                                                    <xs:element name="SoldMaterial" minOccurs="0" type="xs:string"/>
                                                    <xs:element name="SoldMaterialGroup" minOccurs="0" type="xs:string"/>
                                                    <xs:element name="SalesOrganization" minOccurs="0" type="xs:string"/>
                                                    <xs:element name="DistributionChannel" >
                                                        <xs:complexType>
                                                                <xs:simpleContent>
                                                                <xs:extension base="xs:unsignedShort">
                                                                    <xs:attribute name="listID" type="xs:string" use="required" />
                                                                    <xs:attribute name="listVersionID" type="xs:string" use="required" />
                                                                    <xs:attribute name="listAgencyID" type="xs:string" use="required" />
                                                                </xs:extension>
                                                                </xs:simpleContent>
                                                            </xs:complexType>
                                                    </xs:element>
                                                    <xs:element name="Division" >
                                                        <xs:complexType>
                                                                <xs:simpleContent>
                                                                <xs:extension base="xs:unsignedShort">
                                                                    <xs:attribute name="listID" type="xs:string" use="required" />
                                                                    <xs:attribute name="listVersionID" type="xs:string" use="required" />
                                                                    <xs:attribute name="listAgencyID" type="xs:string" use="required" />
                                                                </xs:extension>
                                                                </xs:simpleContent>
                                                            </xs:complexType>
                                                    </xs:element>
                                                    <xs:element name="BillToParty" minOccurs="0" type="xs:string"/>
                                                    <xs:element name="ShipToParty" minOccurs="0" type="xs:string"/>
                                                    <xs:element name="PersonnelNumber" minOccurs="0" type="xs:string"/>
                                                    <xs:element name="WBSElement" minOccurs="0" type="xs:string"/>
                                                    <xs:element name="FunctionalArea" minOccurs="0" type="xs:string"/>
                                                    <xs:element name="ServiceDocType" minOccurs="0" type="xs:string"/>
                                                    <xs:element name="ServiceDocID" minOccurs="0" type="xs:string"/>
                                                    <xs:element name="ServiceDocItemID" minOccurs="0" type="xs:string"/>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element name="AdditionalAttributes" minOccurs="0" maxOccurs="1">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name="PersonnelNumber" minOccurs="0" type="xs:string"/>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="CreditorItem" minOccurs="0" maxOccurs="unbounded" >
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="ReferenceDocumentItem" type="xs:string"/>
                                        <xs:element name="Creditor" type="xs:string"/>
                                        <xs:element name="AmountInTransactionCurrency" >
                                                <xs:complexType>
                                                    <xs:simpleContent>
                                                    <xs:extension base="xs:unsignedShort">
                                                        <xs:attribute name="currencyCode" type="xs:string" use="required" />
                                                    </xs:extension>
                                                    </xs:simpleContent>
                                                </xs:complexType>
                                            </xs:element>
                                            <xs:element name="AmountInCompanyCodeCurrency" minOccurs="0" maxOccurs="1" >
                                                    <xs:complexType>
                                                        <xs:simpleContent>
                                                        <xs:extension base="xs:unsignedShort">
                                                            <xs:attribute name="currencyCode" type="xs:string" use="required" />
                                                        </xs:extension>
                                                        </xs:simpleContent>
                                                    </xs:complexType>
                                                </xs:element>
                                                <xs:element name="AmountInGroupCurrency" minOccurs="0" maxOccurs="1"  >
                                                    <xs:complexType>
                                                        <xs:simpleContent>
                                                        <xs:extension base="xs:unsignedShort">
                                                            <xs:attribute name="currencyCode" type="xs:string" use="required" />
                                                        </xs:extension>
                                                        </xs:simpleContent>
                                                    </xs:complexType>
                                                </xs:element>
                                                <xs:element name="AmountInFreeDefinedCurrency1" minOccurs="0" maxOccurs="1" >
                                                    <xs:complexType>
                                                        <xs:simpleContent>
                                                        <xs:extension base="xs:unsignedShort">
                                                            <xs:attribute name="currencyCode" type="xs:string" use="required" />
                                                        </xs:extension>
                                                        </xs:simpleContent>
                                                    </xs:complexType>
                                                </xs:element>
                                                <xs:element name="DebitCreditCode" type="xs:string" minOccurs="0" maxOccurs="1" />
                                                <xs:element name="AltvRecnclnAccts" minOccurs="0" maxOccurs="1" >
                                                    <xs:complexType>
                                                        <xs:simpleContent>
                                                        <xs:extension base="xs:unsignedShort">
                                                            <xs:attribute name="listID" type="xs:string"   />
                                                        </xs:extension>
                                                        </xs:simpleContent>
                                                    </xs:complexType>
                                                </xs:element>
                                                <xs:element name="DocumentItemText" minOccurs="0" type="xs:string"/>
                                                <xs:element name="AssignmentReference" minOccurs="0" type="xs:string"/>
                                                <xs:element name="Reference1IDByBusinessPartner" minOccurs="0" type="xs:string"/>
                                                <xs:element name="Reference2IDByBusinessPartner" minOccurs="0" type="xs:string"/>
                                                <xs:element name="Reference3IDByBusinessPartner" minOccurs="0" type="xs:string"/>
                                                <xs:element name="CashDiscountTerms" minOccurs="0" maxOccurs="1" >
                                                    <xs:complexType>
                                                        <xs:sequence>           
                                                            <xs:element name="DueCalculationBaseDate" type="xs:date"/>
                                                            <xs:element name="CashDiscount1Days" minOccurs="0" type="xs:string"/>
                                                            <xs:element name="CashDiscount1Percent" minOccurs="0" type="xs:string"/>
                                                            <xs:element name="CashDiscount2Days" minOccurs="0" type="xs:string"/>
                                                            <xs:element name="CashDiscount2Percent" minOccurs="0" type="xs:string"/>
                                                            <xs:element name="NetPaymentDays" type="xs:string"/>
                                                        </xs:sequence>
                                                    </xs:complexType>
                                                </xs:element>
                                                <xs:element name="PaymentDetails" minOccurs="0" maxOccurs="1" >
                                                    <xs:complexType>
                                                        <xs:sequence>
                                                            <xs:element name="PaymentMethod" minOccurs="0" type="xs:string"/>
                                                            <xs:element name="PaymentMethodSupplement" minOccurs="0" type="xs:string"/>
                                                            <xs:element name="PaymentReference" minOccurs="0" type="xs:string"/>
                                                            <xs:element name="PaymentBlockingReason" minOccurs="0" maxOccurs="1" >
                                                                <xs:complexType>
                                                                    <xs:simpleContent>
                                                                        <xs:extension base="xs:unsignedShort">
                                                                            <xs:attribute name="listID" type="xs:string" use="required" />
                                                                            <xs:attribute name="listVersionID" type="xs:string" use="required" />
                                                                            <xs:attribute name="listAgencyID" type="xs:string" use="required" />
                                                                        </xs:extension>
                                                                    </xs:simpleContent>
                                                                </xs:complexType>
                                                            </xs:element>
                                                            <xs:element name="AlternativePayee" minOccurs="0" type="xs:string"/>
                                                            <xs:element name="PayeeBankAccount" minOccurs="0" maxOccurs="1" >
                                                                <xs:complexType>
                                                                    <xs:sequence>
                                                                        <xs:element name="Country" type="xs:string"/>
                                                                        <xs:element name="BankNumber" minOccurs="0" type="xs:string"/>
                                                                        <xs:element name="SWIFTCode" minOccurs="0" type="xs:string"/>
                                                                        <xs:element name="BankAccount" minOccurs="0" type="xs:string"/>
                                                                        <xs:element name="IBAN" minOccurs="0" type="xs:string"/>
                                                                        <xs:element name="BankAccountHolderName" minOccurs="0" type="xs:string"/>
                                                                    </xs:sequence>
                                                                </xs:complexType>
                                                            </xs:element>
                                                        </xs:sequence>
                                                    </xs:complexType>
                                                </xs:element>
                                                <xs:element name="StateCentralBankPaymentReason" minOccurs="0" type="xs:string"/>
                                                <xs:element name="OplAcctgDocItmCntrySpcfcRef1" minOccurs="0" type="xs:string"/>
                                                <xs:element name="VATRegistration" minOccurs="0" type="xs:string"/>
                                                <xs:element name="BranchAccount" minOccurs="0" type="xs:string"/>
                                                <xs:element name="BusinessPlace" minOccurs="0" type="xs:string"/>
                                                <xs:element name="HouseBank" minOccurs="0" type="xs:string"/>
                                                <xs:element name="HouseBankAccount" minOccurs="0" type="xs:string"/>
                                                <xs:element name="TaxCountry" minOccurs="0" type="xs:string"/>
                                                <xs:element name="DownPaymentTerms" minOccurs="0" maxOccurs="1" >
                                                    <xs:complexType>
                                                        <xs:sequence>    
                                                            <xs:element name="SpecialGLCode" minOccurs="0" type="xs:string"/>
                                                            <xs:element name="TaxItemGroup" minOccurs="0" type="xs:string"/>            
                                                            <xs:element name="TaxCode" minOccurs="0" maxOccurs="1" >
                                                                <xs:complexType>
                                                                    <xs:simpleContent>
                                                                    <xs:extension base="xs:unsignedShort">
                                                                        <xs:attribute name="listID" type="xs:string" use="required" />
                                                                        <xs:attribute name="listVersionID" type="xs:string" use="required" />
                                                                        <xs:attribute name="listAgencyID" type="xs:string" use="required" />
                                                                    </xs:extension>
                                                                    </xs:simpleContent>
                                                                </xs:complexType>
                                                            </xs:element>
                                                            <xs:element name="TaxJurisdiction" minOccurs="0" maxOccurs="1"  >
                                                                <xs:complexType>
                                                                    <xs:simpleContent>
                                                                    <xs:extension base="xs:unsignedShort">
                                                                        <xs:attribute name="listID" type="xs:string" use="required" />
                                                                        <xs:attribute name="listVersionID" type="xs:string" use="required" />
                                                                        <xs:attribute name="listAgencyID" type="xs:string" use="required" />
                                                                    </xs:extension>
                                                                    </xs:simpleContent>
                                                                </xs:complexType>
                                                            </xs:element>
                                                        </xs:sequence>
                                                    </xs:complexType>
                                                </xs:element>
                                                <xs:element name="OneTimeVendorDetails" minOccurs="0" maxOccurs="1" >
                                                    <xs:complexType>
                                                        <xs:sequence>
                                                            <xs:element name="Name" minOccurs="0" type="xs:string"/>
                                                            <xs:element name="CityName" minOccurs="0" type="xs:string"/>
                                                            <xs:element name="Country" minOccurs="0" type="xs:string"/>
                                                        </xs:sequence>
                                                    </xs:complexType>
                                                </xs:element>
                                            </xs:sequence>
                                        </xs:complexType>
                                    </xs:element>
                                <xs:element name="ProductTaxItem" minOccurs="0" maxOccurs="unbounded">
                                        <xs:complexType>
                                            <xs:sequence>
                                                <xs:element name="ReferenceDocumentItem" minOccurs="0" type="xs:string"/>
                                                <xs:element name="TaxCode">
                                                        <xs:complexType>
                                                            <xs:simpleContent>
                                                            <xs:extension base="xs:unsignedShort">
                                                                <xs:attribute name="listID" type="xs:string" use="required" />
                                                                <xs:attribute name="listVersionID" type="xs:string" use="required" />
                                                                <xs:attribute name="listAgencyID" type="xs:string" use="required" />
                                                            </xs:extension>
                                                            </xs:simpleContent>
                                                        </xs:complexType>
                                                </xs:element>
                                                <xs:element name="TaxItemClassification" minOccurs="0" type="xs:string"/>
                                                <xs:element name="ConditionType" minOccurs="0" type="xs:string"/>
                                                <xs:element name="TaxJurisdiction" minOccurs="0" maxOccurs="1">
                                                    <xs:complexType>
                                                        <xs:simpleContent>
                                                        <xs:extension base="xs:unsignedShort">
                                                            <xs:attribute name="listID" type="xs:string" use="required" />
                                                            <xs:attribute name="listVersionID" type="xs:string" use="required" />
                                                            <xs:attribute name="listAgencyID" type="xs:string" use="required" />
                                                        </xs:extension>
                                                        </xs:simpleContent>
                                                    </xs:complexType>
                                                </xs:element>
                                                <xs:element name="TaxJurisdictionLevel" minOccurs="0" type="xs:string"/>
                                                <xs:element name="LowestLevelTaxJurisdiction" minOccurs="0" maxOccurs="1">
                                                    <xs:complexType>
                                                        <xs:simpleContent>
                                                        <xs:extension base="xs:unsignedShort">
                                                            <xs:attribute name="listID" type="xs:string" use="required" />
                                                            <xs:attribute name="listVersionID" type="xs:string" use="required" />
                                                            <xs:attribute name="listAgencyID" type="xs:string" use="required" />
                                                        </xs:extension>
                                                        </xs:simpleContent>
                                                    </xs:complexType>
                                                </xs:element>
                                                <xs:element name="TaxItemGroup" minOccurs="0" type="xs:string"/>
                                                <xs:element name="TaxRate" minOccurs="0" type="xs:string"/>
                                                <xs:element name="TaxDeterminationDate" minOccurs="0" type="xs:date"/>
                                                <xs:element name="IsDirectTaxPosting" minOccurs="0" type="xs:string"/>
                                                <xs:element name="TaxCountry" minOccurs="0" type="xs:string"/>
                                                <xs:element name="AmountInTransactionCurrency">
                                                    <xs:complexType>
                                                        <xs:simpleContent>
                                                        <xs:extension base="xs:unsignedShort">
                                                            <xs:attribute name="currencyCode" type="xs:string" use="required" />
                                                        </xs:extension>
                                                        </xs:simpleContent>
                                                    </xs:complexType>
                                                </xs:element>
                                                <xs:element name="AmountInCompanyCodeCurrency" minOccurs="0" maxOccurs="1" >
                                                    <xs:complexType>
                                                        <xs:simpleContent>
                                                        <xs:extension base="xs:unsignedShort">
                                                            <xs:attribute name="currencyCode" type="xs:string" use="required" />
                                                        </xs:extension>
                                                        </xs:simpleContent>
                                                    </xs:complexType>
                                                </xs:element>
                                                <xs:element name="AmountInGroupCurrency" minOccurs="0" maxOccurs="1" >
                                                    <xs:complexType>
                                                        <xs:simpleContent>
                                                        <xs:extension base="xs:unsignedShort">
                                                            <xs:attribute name="currencyCode" type="xs:string" use="required" />
                                                        </xs:extension>
                                                        </xs:simpleContent>
                                                    </xs:complexType>
                                                </xs:element>
                                                <xs:element name="AmountInFreeDefinedCurrency1" minOccurs="0" maxOccurs="1" >
                                                    <xs:complexType>
                                                        <xs:simpleContent>
                                                        <xs:extension base="xs:unsignedShort">
                                                            <xs:attribute name="currencyCode" type="xs:string" use="required" />
                                                        </xs:extension>
                                                        </xs:simpleContent>
                                                    </xs:complexType>
                                                </xs:element>
                                                <xs:element name="DebitCreditCode" minOccurs="0" type="xs:string"/>
                                                <xs:element name="ProductiveTaxText" minOccurs="0" type="xs:string"/>
                                                <xs:element name="TaxBaseAmountInTransCrcy" minOccurs="0" maxOccurs="1" >
                                                    <xs:complexType>
                                                        <xs:simpleContent>
                                                        <xs:extension base="xs:unsignedShort">
                                                            <xs:attribute name="currencyCode" type="xs:string" use="required" />
                                                        </xs:extension>
                                                        </xs:simpleContent>
                                                    </xs:complexType>
                                                </xs:element>
                                                <xs:element name="TaxBaseAmountInCoCodeCrcy" minOccurs="0" maxOccurs="1" >
                                                    <xs:complexType>
                                                        <xs:simpleContent>
                                                        <xs:extension base="xs:unsignedShort">
                                                            <xs:attribute name="currencyCode" type="xs:string" use="required" />
                                                        </xs:extension>
                                                        </xs:simpleContent>
                                                    </xs:complexType>
                                                </xs:element>
                                                <xs:element name="TaxBaseAmountInGroupCrcy" minOccurs="0" maxOccurs="1" >
                                                    <xs:complexType>
                                                        <xs:simpleContent>
                                                        <xs:extension base="xs:unsignedShort">
                                                            <xs:attribute name="currencyCode" type="xs:string" use="required" />
                                                        </xs:extension>
                                                        </xs:simpleContent>
                                                    </xs:complexType>
                                                </xs:element>
                                                <xs:element name="TaxBaseAmountInFreeDefinedCrcy1" minOccurs="0" maxOccurs="1" >
                                                    <xs:complexType>
                                                        <xs:simpleContent>
                                                        <xs:extension base="xs:unsignedShort">
                                                            <xs:attribute name="currencyCode" type="xs:string" use="required" />
                                                        </xs:extension>
                                                        </xs:simpleContent>
                                                    </xs:complexType>
                                                </xs:element>
                                            </xs:sequence>
                                        </xs:complexType>
                                    </xs:element>
                            <xs:element name="WithholdingTaxItem" minOccurs="0" maxOccurs="unbounded" >
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="ReferenceDocumentItem" minOccurs="0" type="xs:string"/>
                                        <xs:element name="WithholdingTaxType" type="xs:string"/>
                                        <xs:element name="WithholdingTaxCode" type="xs:string"/>
                                        <xs:element name="AmountInTransactionCurrency" minOccurs="0" maxOccurs="1" >
                                            <xs:complexType>
                                                <xs:simpleContent>
                                                <xs:extension base="xs:unsignedShort">
                                                    <xs:attribute name="currencyCode" type="xs:string" use="required" />
                                                </xs:extension>
                                                </xs:simpleContent>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element name="AmountInCompanyCodeCurrency" minOccurs="0" maxOccurs="1" >
                                            <xs:complexType>
                                                <xs:simpleContent>
                                                <xs:extension base="xs:unsignedShort">
                                                    <xs:attribute name="currencyCode" type="xs:string" use="required" />
                                                </xs:extension>
                                                </xs:simpleContent>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element name="AmountInGroupCurrency" minOccurs="0" maxOccurs="1" >
                                            <xs:complexType>
                                                <xs:simpleContent>
                                                <xs:extension base="xs:unsignedShort">
                                                    <xs:attribute name="currencyCode" type="xs:string" use="required" />
                                                </xs:extension>
                                                </xs:simpleContent>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element name="AmountInFreeDefinedCurrency1" minOccurs="0" maxOccurs="1" >
                                            <xs:complexType>
                                                <xs:simpleContent>
                                                <xs:extension base="xs:unsignedShort">
                                                    <xs:attribute name="currencyCode" type="xs:string" use="required" />
                                                </xs:extension>
                                                </xs:simpleContent>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element name="TaxBaseAmountInTransCrcy" minOccurs="0" maxOccurs="1" >
                                            <xs:complexType>
                                                <xs:simpleContent>
                                                <xs:extension base="xs:unsignedShort">
                                                    <xs:attribute name="currencyCode" type="xs:string" use="required" />
                                                </xs:extension>
                                                </xs:simpleContent>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element name="TaxBaseAmountInCoCodeCrcy" minOccurs="0" maxOccurs="1" >
                                            <xs:complexType>
                                                <xs:simpleContent>
                                                <xs:extension base="xs:unsignedShort">
                                                    <xs:attribute name="currencyCode" type="xs:string" use="required" />
                                                </xs:extension>
                                                </xs:simpleContent>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element name="TaxBaseAmountInGroupCrcy" minOccurs="0" maxOccurs="1" >
                                            <xs:complexType>
                                                <xs:simpleContent>
                                                <xs:extension base="xs:unsignedShort">
                                                    <xs:attribute name="currencyCode" type="xs:string" use="required" />
                                                </xs:extension>
                                                </xs:simpleContent>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element name="TaxBaseAmountInFreeDefinedCrcy1" minOccurs="0" maxOccurs="1" >
                                            <xs:complexType>
                                                <xs:simpleContent>
                                                <xs:extension base="xs:unsignedShort">
                                                    <xs:attribute name="currencyCode" type="xs:string" use="required" />
                                                </xs:extension>
                                                </xs:simpleContent>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element name="TaxIsToBeCalculated" minOccurs="0" type="xs:string"/>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:sequence>
</xs:complexType>
</xs:element>
</xs:schema>
     


            

                                                
                                                

                                                


                                                
                                                

                            
