Resources/canonical_library/xsd/JournalEntryBulkClearingRequest.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="qualified">
  <xs:element name="JournalEntryBulkClearingRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="MessageHeader">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="ID" minOccurs="0" type="xs:string" />
              <xs:element name="UUID" minOccurs="0" type="xs:string" />
              <xs:element name="ReferenceID" minOccurs="0" type="xs:string" />
              <xs:element name="ReferenceUUID" minOccurs="0" type="xs:string" />
              <xs:element name="CreationDateTime" type="xs:dateTime" />
              <xs:element name="TestDataIndicator" minOccurs="0" type="xs:string" />
              <xs:element name="ReconciliationIndicator" minOccurs="0" type="xs:string" />
              <xs:element name="SenderBusinessSystemID" minOccurs="0" type="xs:string" />
              <xs:element name="RecipientBusinessSystemID" minOccurs="0" type="xs:string" />
              <xs:element name="SenderParty" minOccurs="0">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="InternalID" minOccurs="0" type="xs:string" />
                    <xs:element name="StandardID" minOccurs="0" maxOccurs="unbounded" type="xs:string" />
                    <xs:element name="ContactPerson" minOccurs="0">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="InternalID" minOccurs="0" type="xs:string" />
                          <xs:element name="OrganisationFormattedName" minOccurs="0" maxOccurs="4" type="xs:string" />
                          <xs:element name="PersonFormattedName" minOccurs="0" maxOccurs="4" type="xs:string" />
                          <xs:element name="PhoneNumber" minOccurs="0" maxOccurs="unbounded">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="AreaID" minOccurs="0" type="xs:string" />
                                <xs:element name="SubscriberID" minOccurs="0" type="xs:string" />
                                <xs:element name="ExtensionID" minOccurs="0" type="xs:string" />
                                <xs:element name="CountryCode" minOccurs="0" type="xs:string" />
                                <xs:element name="CountryDiallingCode" minOccurs="0" type="xs:string" />
                                <xs:element name="CountryName" minOccurs="0" type="xs:string" />
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                          <xs:element name="FaxNumber" minOccurs="0" maxOccurs="unbounded">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="AreaID" minOccurs="0" type="xs:string" />
                                <xs:element name="SubscriberID" minOccurs="0" type="xs:string" />
                                <xs:element name="ExtensionID" minOccurs="0" type="xs:string" />
                                <xs:element name="CountryCode" minOccurs="0" type="xs:string" />
                                <xs:element name="CountryDiallingCode" minOccurs="0" type="xs:string" />
                                <xs:element name="CountryName" minOccurs="0" type="xs:string" />
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                          <xs:element name="EmailURI" minOccurs="0" maxOccurs="unbounded" type="xs:string" />
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="RecipientParty" minOccurs="0" maxOccurs="unbounded">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="InternalID" minOccurs="0" type="xs:string" />
                    <xs:element name="StandardID" minOccurs="0" maxOccurs="unbounded" type="xs:string" />
                    <xs:element name="ContactPerson" minOccurs="0">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="InternalID" minOccurs="0" type="xs:string" />
                          <xs:element name="OrganisationFormattedName" minOccurs="0" maxOccurs="4" type="xs:string" />
                          <xs:element name="PersonFormattedName" minOccurs="0" maxOccurs="4" type="xs:string" />
                          <xs:element name="PhoneNumber" minOccurs="0" maxOccurs="unbounded">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="AreaID" minOccurs="0" type="xs:string" />
                                <xs:element name="SubscriberID" minOccurs="0" type="xs:string" />
                                <xs:element name="ExtensionID" minOccurs="0" type="xs:string" />
                                <xs:element name="CountryCode" minOccurs="0" type="xs:string" />
                                <xs:element name="CountryDiallingCode" minOccurs="0" type="xs:string" />
                                <xs:element name="CountryName" minOccurs="0" type="xs:string" />
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                          <xs:element name="FaxNumber" minOccurs="0" maxOccurs="unbounded">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="AreaID" minOccurs="0" type="xs:string" />
                                <xs:element name="SubscriberID" minOccurs="0" type="xs:string" />
                                <xs:element name="ExtensionID" minOccurs="0" type="xs:string" />
                                <xs:element name="CountryCode" minOccurs="0" type="xs:string" />
                                <xs:element name="CountryDiallingCode" minOccurs="0" type="xs:string" />
                                <xs:element name="CountryName" minOccurs="0" type="xs:string" />
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                          <xs:element name="EmailURI" minOccurs="0" maxOccurs="unbounded" type="xs:string" />
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="BusinessScope">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="TypeCode" type="xs:string" />
                    <xs:element name="InstanceID" minOccurs="0" type="xs:string" />
                    <xs:element name="ID" minOccurs="0" type="xs:string" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="JournalEntryClearingRequest" minOccurs="1" maxOccurs="unbounded">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="MessageHeader">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="ID" minOccurs="0" type="xs:string" />
                    <xs:element name="UUID" minOccurs="0" type="xs:string" />
                    <xs:element name="ReferenceID" minOccurs="0" type="xs:string" />
                    <xs:element name="ReferenceUUID" minOccurs="0" type="xs:string" />
                    <xs:element name="CreationDateTime" type="xs:dateTime" />
                    <xs:element name="TestDataIndicator" minOccurs="0" type="xs:string" />
                    <xs:element name="ReconciliationIndicator" minOccurs="0" type="xs:string" />
                    <xs:element name="SenderBusinessSystemID" minOccurs="0" type="xs:string" />
                    <xs:element name="RecipientBusinessSystemID" minOccurs="0" type="xs:string" />
                    <xs:element name="SenderParty" minOccurs="0">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="InternalID" minOccurs="0" type="xs:string" />
                          <xs:element name="StandardID" minOccurs="0" maxOccurs="unbounded" type="xs:string" />
                          <xs:element name="ContactPerson" minOccurs="0">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="InternalID" minOccurs="0" type="xs:string" />
                                <xs:element name="OrganisationFormattedName" minOccurs="0" maxOccurs="4" type="xs:string" />
                                <xs:element name="PersonFormattedName" minOccurs="0" maxOccurs="4" type="xs:string" />
                                <xs:element name="PhoneNumber" minOccurs="0" maxOccurs="unbounded">
                                  <xs:complexType>
                                    <xs:sequence>
                                      <xs:element name="AreaID" minOccurs="0" type="xs:string" />
                                      <xs:element name="SubscriberID" minOccurs="0" type="xs:string" />
                                      <xs:element name="ExtensionID" minOccurs="0" type="xs:string" />
                                      <xs:element name="CountryCode" minOccurs="0" type="xs:string" />
                                      <xs:element name="CountryDiallingCode" minOccurs="0" type="xs:string" />
                                      <xs:element name="CountryName" minOccurs="0" type="xs:string" />
                                    </xs:sequence>
                                  </xs:complexType>
                                </xs:element>
                                <xs:element name="FaxNumber" minOccurs="0" maxOccurs="unbounded">
                                  <xs:complexType>
                                    <xs:sequence>
                                      <xs:element name="AreaID" minOccurs="0" type="xs:string" />
                                      <xs:element name="SubscriberID" minOccurs="0" type="xs:string" />
                                      <xs:element name="ExtensionID" minOccurs="0" type="xs:string" />
                                      <xs:element name="CountryCode" minOccurs="0" type="xs:string" />
                                      <xs:element name="CountryDiallingCode" minOccurs="0" type="xs:string" />
                                      <xs:element name="CountryName" minOccurs="0" type="xs:string" />
                                    </xs:sequence>
                                  </xs:complexType>
                                </xs:element>
                                <xs:element name="EmailURI" minOccurs="0" maxOccurs="unbounded" type="xs:string" />
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="RecipientParty" minOccurs="0" maxOccurs="unbounded">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="InternalID" minOccurs="0" type="xs:string" />
                          <xs:element name="StandardID" minOccurs="0" maxOccurs="unbounded" type="xs:string" />
                          <xs:element name="ContactPerson" minOccurs="0">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="InternalID" minOccurs="0" type="xs:string" />
                                <xs:element name="OrganisationFormattedName" minOccurs="0" maxOccurs="4" type="xs:string" />
                                <xs:element name="PersonFormattedName" minOccurs="0" maxOccurs="4" type="xs:string" />
                                <xs:element name="PhoneNumber" minOccurs="0" maxOccurs="unbounded">
                                  <xs:complexType>
                                    <xs:sequence>
                                      <xs:element name="AreaID" minOccurs="0" type="xs:string" />
                                      <xs:element name="SubscriberID" minOccurs="0" type="xs:string" />
                                      <xs:element name="ExtensionID" minOccurs="0" type="xs:string" />
                                      <xs:element name="CountryCode" minOccurs="0" type="xs:string" />
                                      <xs:element name="CountryDiallingCode" minOccurs="0" type="xs:string" />
                                      <xs:element name="CountryName" minOccurs="0" type="xs:string" />
                                    </xs:sequence>
                                  </xs:complexType>
                                </xs:element>
                                <xs:element name="FaxNumber" minOccurs="0" maxOccurs="unbounded">
                                  <xs:complexType>
                                    <xs:sequence>
                                      <xs:element name="AreaID" minOccurs="0" type="xs:string" />
                                      <xs:element name="SubscriberID" minOccurs="0" type="xs:string" />
                                      <xs:element name="ExtensionID" minOccurs="0" type="xs:string" />
                                      <xs:element name="CountryCode" minOccurs="0" type="xs:string" />
                                      <xs:element name="CountryDiallingCode" minOccurs="0" type="xs:string" />
                                      <xs:element name="CountryName" minOccurs="0" type="xs:string" />
                                    </xs:sequence>
                                  </xs:complexType>
                                </xs:element>
                                <xs:element name="EmailURI" minOccurs="0" maxOccurs="unbounded" type="xs:string" />
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="BusinessScope">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="TypeCode" type="xs:string" />
                          <xs:element name="InstanceID" minOccurs="0" type="xs:string" />
                          <xs:element name="ID" minOccurs="0" type="xs:string" />
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="JournalEntry">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="CompanyCode" type="xs:string" />
                    <xs:element name="AccountingDocumentType" type="xs:string" />
                    <xs:element name="DocumentDate" type="xs:string" />
                    <xs:element name="PostingDate" type="xs:string" />
                    <xs:element name="CurrencyCode" type="xs:string" />
                    <xs:element name="AccountingDocument" type="xs:string" />
                    <xs:element name="CurrencyTranslationDate" type="xs:string" />
                    <xs:element name="FiscalPeriod" type="xs:string" />
                    <xs:element name="ExchangeRate" type="xs:string" />
                    <xs:element name="DocumentHeaderText" type="xs:string" />
                    <xs:element name="ReferenceDocument" type="xs:string" />
                    <xs:element name="CreatedByUser" type="xs:string" />
                    <xs:element name="GLItems">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="ReferenceDocumentItem" type="xs:string" />
                          <xs:element name="CompanyCode" type="xs:string" />
                          <xs:element name="GLAccount">
                            <xs:complexType>
                              <xs:simpleContent>
                                <xs:extension base="xs:string">
                                  <xs:attribute name="listID" type="xs:string" use="required" />
                                </xs:extension>
                              </xs:simpleContent>
                            </xs:complexType>
                          </xs:element>
                          <xs:element name="FiscalYear" type="xs:string" />
                          <xs:element name="AccountingDocument" type="xs:string" />
                          <xs:element name="AccountingDocumentItem" type="xs:string" />
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="APARItems">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="ReferenceDocumentItem" type="xs:string" />
                          <xs:element name="CompanyCode" type="xs:string" />
                          <xs:element name="AccountType" type="xs:string" />
                          <xs:element name="APARAccount" type="xs:string" />
                          <xs:element name="FiscalYear" type="xs:string" />
                          <xs:element name="AccountingDocument" type="xs:string" />
                          <xs:element name="AccountingDocumentItem" type="xs:string" />
                          <xs:element name="PartialPaymentAmtInDspCrcy">
                            <xs:complexType>
                              <xs:simpleContent>
                                <xs:extension base="xs:string">
                                  <xs:attribute name="currencyCode" type="xs:string" use="required" />
                                </xs:extension>
                              </xs:simpleContent>
                            </xs:complexType>
                          </xs:element>
                          <xs:element name="CashDiscountAmountInDspCrcy">
                            <xs:complexType>
                              <xs:simpleContent>
                                <xs:extension base="xs:string">
                                  <xs:attribute name="currencyCode" type="xs:string" use="required" />
                                </xs:extension>
                              </xs:simpleContent>
                            </xs:complexType>
                          </xs:element>
                          <xs:element name="OtherDeductionAmountInDspCrcy">
                            <xs:complexType>
                              <xs:simpleContent>
                                <xs:extension base="xs:string">
                                  <xs:attribute name="currencyCode" type="xs:string" use="required" />
                                </xs:extension>
                              </xs:simpleContent>
                            </xs:complexType>
                          </xs:element>
                          <xs:element name="PaymentDifferenceReason" type="xs:string" />
                          <xs:element name="PaymentDifferenceDistribution">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="PaymentDifferenceReason" type="xs:string" />
                                <xs:element name="OtherDeductionAmountInDspCrcy">
                                  <xs:complexType>
                                    <xs:simpleContent>
                                      <xs:extension base="xs:string">
                                        <xs:attribute name="currencyCode" type="xs:string" use="required" />
                                      </xs:extension>
                                    </xs:simpleContent>
                                  </xs:complexType>
                                </xs:element>
                                <xs:element name="Reference1IDByBusinessPartner" type="xs:string" />
                                <xs:element name="Reference2IDByBusinessPartner" type="xs:string" />
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>