Resources/canonical_library/xsd/KeyValueOfstringstring.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           targetNamespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays"
           xmlns="http://schemas.microsoft.com/2003/10/Serialization/Arrays"
           elementFormDefault="qualified">
    <xs:element name="KeyValueOfstringstring" minOccurs="0" maxOccurs="unbounded">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="Key" type="xs:string" minOccurs="0" maxOccurs="1"/>
                <xs:element name="Value" type="xs:string" minOccurs="0" maxOccurs="1"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>