Resources/canonical_library/xsd/MaterialMasterPlantData.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified"
	xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="MaterialMasterPlantData">
		<xs:complexType>
			<xs:sequence>
				<xs:element maxOccurs="unbounded" name="row">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="materialCode">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:maxLength value="40" />
										<xs:minLength value="1" />
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="plant">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:maxLength value="4" />
										<xs:minLength value="1" />
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="containerRequirements">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:maxLength value="2" />
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="grossWeight" default="0.0">
 								<xs:simpleType>
 									<xs:restriction base="xs:decimal">
 										<xs:totalDigits value="13"/>
 										<xs:fractionDigits value='3'/>
 									</xs:restriction>
 								</xs:simpleType>
							</xs:element>
							<xs:element name="netWeight" default="0.0">
								<xs:simpleType>
									<xs:restriction base="xs:decimal">
										<xs:totalDigits value="13"/>
										<xs:fractionDigits value='3'/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="volume" default="0.0">
								<xs:simpleType>
									<xs:restriction base="xs:decimal">
										<xs:totalDigits value="13"/>
										<xs:fractionDigits value='3'/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element> 
							<xs:element name="serialNumberProfile">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:maxLength value="4" />
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="reorderPoint">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:maxLength value="13" />
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="mrpType">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:maxLength value="3" />
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="pricingIndicator">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:maxLength value="1" />
									</xs:restriction>
								</xs:simpleType>
							</xs:element> 
							<xs:element name="weightUnit_code">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:maxLength value="2" />
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="standardPrice_price" default="0.0">
								<xs:simpleType>
									<xs:restriction base="xs:decimal">
										<xs:totalDigits value="11"/>
										<xs:fractionDigits value='2'/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="movingAveragePrice_price" default="0.0">
								<xs:simpleType>
									<xs:restriction base="xs:decimal">
										<xs:totalDigits value="11"/>
										<xs:fractionDigits value='2'/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="safetyStock">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:pattern value="\d*|\s{0}" />
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="maximumStockLevel">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:pattern value="\d*|\s{0}" />
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>