Resources/canonical_library/xsd/media.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:element name="media" type="media"/>

  <xs:complexType name="media">
    <xs:sequence>
      <xs:element name="commitLink" type="xs:string" minOccurs="0"/>
      <xs:element name="contentType" type="xs:string" minOccurs="0"/>
      <xs:element name="createdAt" type="xs:string" minOccurs="0"/>
      <xs:element name="id" type="xs:string" minOccurs="0"/>
      <xs:element name="mediaId" type="xs:string" minOccurs="0"/>
      <xs:element name="stored" type="xs:boolean" minOccurs="0"/>
      <xs:element name="tags" type="xs:string" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="uncommittedMedia" type="xs:boolean" minOccurs="0"/>
      <xs:element name="uploadLink" type="xs:string" minOccurs="0"/>
      <xs:element name="url" type="xs:string" minOccurs="0"/>
      <xs:element name="yrn" type="xs:string" minOccurs="0"/>
      <xs:element name="binary" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>

