Resources/canonical_library/xsd/MnlAccrsAccrualSubobject.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="MnlAccrsAccrualSubobject">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="MnlAccrsAccrualSubobjectType">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="AccrualEngineAccrualObjectType" minOccurs="0" maxOccurs="1" type="xs:string" />
							<xs:element name="CompanyCode" minOccurs="0" maxOccurs="1" type="xs:string" />
							<xs:element name="ManualAccrualsAccrObjectType" minOccurs="0" maxOccurs="1" type="xs:string" />
							<xs:element name="AccrualObjectDescription" minOccurs="0" maxOccurs="1" type="xs:string" />
							<xs:element name="PersonResponsible" minOccurs="0" maxOccurs="1" type="xs:string" />

							<xs:element name="to_Assgmt" minOccurs="0" maxOccurs="unbounded">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="MnlAccrsAccrSubobjAssgmtType">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="AccrualEngineAccrualObjectType" minOccurs="0" maxOccurs="1" type="xs:string" />
													<xs:element name="CompanyCode" minOccurs="0" maxOccurs="1" type="xs:string" />
													<xs:element name="AccrAcctAssgmtValdtyStrtDte" minOccurs="0" maxOccurs="1" type="xs:string" />
													<xs:element name="AccrAcctAssgmtValdtyEndDte" minOccurs="0" maxOccurs="1" type="xs:string" />
													<xs:element name="CostCenter" minOccurs="0" maxOccurs="1" type="xs:string" />
													<xs:element name="ProfitCenter" minOccurs="0" maxOccurs="1" type="xs:string" />
													<xs:element name="WBSElementInternalID" minOccurs="0" maxOccurs="1" type="xs:string" />
													<xs:element name="OrderID" minOccurs="0" maxOccurs="1" type="xs:string" />
												</xs:sequence>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>

							<xs:element name="to_Item">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="MnlAccrsAccrSubobjItemType" minOccurs="0" maxOccurs="unbounded">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="AccrualEngineAccrualObjectType" minOccurs="0" maxOccurs="1" type="xs:string" />
													<xs:element name="CompanyCode" minOccurs="0" maxOccurs="1" type="xs:string" />
													<xs:element name="AccrualItemType" minOccurs="0" maxOccurs="1" type="xs:string" />
													<xs:element name="LedgerGroup" minOccurs="0" maxOccurs="1" type="xs:string" />
													<xs:element name="AccrSubobjectItmValdtyStrtDte" minOccurs="0" maxOccurs="1" type="xs:string" />
													<xs:element name="AccrSubobjectItmValdtyEndDte" minOccurs="0" maxOccurs="1" type="xs:string" />
													<xs:element name="AccrSubobjHdrStartOfLifeDate" minOccurs="0" maxOccurs="1" type="xs:string" />
													<xs:element name="AccrSubobjHdrEndOfLifeDate" minOccurs="0" maxOccurs="1" type="xs:string" />
													<xs:element name="AccrualMethod" minOccurs="0" maxOccurs="1" type="xs:string" />
													<xs:element name="TotalAccrAmountInTransCrcy" minOccurs="0" maxOccurs="1" type="xs:string" />
													<xs:element name="TransactionCurrency" minOccurs="0" maxOccurs="1" type="xs:string" />
												</xs:sequence>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>