Resources/canonical_library/xsd/Nutrition.xsd

<?xml version="1.0" encoding="UTF-8"?>
   <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
         <!-- XML Schema Generated from XML Document on Mon Nov 14 2016 14:22:23 GMT+0530 (India Standard Time) -->
         <!-- with XmlGrid.net Free Online Service http://xmlgrid.net -->
         <xs:element name="Nutrition">
               <xs:complexType>
                     <xs:sequence>
                           <xs:element name="Id" type="xs:string"></xs:element>
                           <xs:element name="caloriesValue" type="xs:int"></xs:element>
                           <xs:element name="Patient" type="xs:string"></xs:element>
                           <xs:element name="ActivityTypeDetails">
                                 <xs:complexType>
                                       <xs:sequence>
                                             <xs:element name="__metadata">
                                                   <xs:complexType>
                                                         <xs:sequence>
                                                               <xs:element name="uri" type="xs:string"></xs:element>
                                                         </xs:sequence>
                                                   </xs:complexType>
                                             </xs:element>
                                       </xs:sequence>
                                 </xs:complexType>
                           </xs:element>
                           <xs:element name="Carbohydrates" type="xs:int"></xs:element>
                           <xs:element name="Protein" type="xs:int"></xs:element>
                           <xs:element name="Fat" type="xs:int"></xs:element>
                           <xs:element name="CaloriesUnitDetails">
                                 <xs:complexType>
                                       <xs:sequence>
                                             <xs:element name="__metadata">
                                                   <xs:complexType>
                                                         <xs:sequence>
                                                               <xs:element name="uri" type="xs:string"></xs:element>
                                                         </xs:sequence>
                                                   </xs:complexType>
                                             </xs:element>
                                       </xs:sequence>
                                 </xs:complexType>
                           </xs:element>
                           <xs:element name="CarbohydratesUnitDetails">
                                 <xs:complexType>
                                       <xs:sequence>
                                             <xs:element name="__metadata">
                                                   <xs:complexType>
                                                         <xs:sequence>
                                                               <xs:element name="uri" type="xs:string"></xs:element>
                                                         </xs:sequence>
                                                   </xs:complexType>
                                             </xs:element>
                                       </xs:sequence>
                                 </xs:complexType>
                           </xs:element>
                           <xs:element name="Timestamp">
                                 <xs:complexType>
                                       <xs:sequence>
                                             <xs:element name="TimezoneUtcOffsetInSeconds" type="xs:int"></xs:element>
                                             <xs:element name="UtcTimestamp" type="xs:string"></xs:element>
                                       </xs:sequence>
                                 </xs:complexType>
                           </xs:element>
                           <xs:element name="ProteinUnitDetails">
                                 <xs:complexType>
                                       <xs:sequence>
                                             <xs:element name="__metadata">
                                                   <xs:complexType>
                                                         <xs:sequence>
                                                               <xs:element name="uri" type="xs:string"></xs:element>
                                                         </xs:sequence>
                                                   </xs:complexType>
                                             </xs:element>
                                       </xs:sequence>
                                 </xs:complexType>
                           </xs:element>
                     </xs:sequence>
               </xs:complexType>
         </xs:element>
   </xs:schema>