Resources/canonical_library/xsd/nutrition.xsd

<?xml version="1.0" encoding="UTF-8"?>
   <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
         <!-- XML Schema Generated from XML Document on Mon Nov 14 2016 14:18:42 GMT+0530 (India Standard Time) -->
         <!-- with XmlGrid.net Free Online Service http://xmlgrid.net -->
         <xs:element name="nutrition">
               <xs:complexType>
                     <xs:sequence>
                           <xs:element name="_id" type="xs:string"></xs:element>
                           <xs:element name="calories" type="xs:int"></xs:element>
                           <xs:element name="carbohydrates" type="xs:int"></xs:element>
                           <xs:element name="fat" type="xs:int"></xs:element>
                           <xs:element name="fiber" type="xs:int"></xs:element>
                           <xs:element name="last_updated" type="xs:dateTime"></xs:element>
                           <xs:element name="meal" type="xs:string"></xs:element>
                           <xs:element name="protein" type="xs:int"></xs:element>
                           <xs:element name="sodium" type="xs:double"></xs:element>
                           <xs:element name="source" type="xs:string"></xs:element>
                           <xs:element name="source_name" type="xs:string"></xs:element>
                           <xs:element name="timestamp" type="xs:dateTime"></xs:element>
                           <xs:element name="user_id" type="xs:string"></xs:element>
                           <xs:element name="utc_offset" type="xs:string"></xs:element>
                           <xs:element name="validated" type="xs:string"></xs:element>
                           <xs:element name="water"></xs:element>
                     </xs:sequence>
               </xs:complexType>
         </xs:element>
   </xs:schema>