Resources/canonical_library/xsd/OCRESPONSE.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="OCRESPONSE">
    <xs:complexType>
      <xs:sequence>
          <xs:element name="meetings">
            <xs:complexType>
               <xs:sequence>
        <xs:element type="xs:string" name="broadcast"/>
        <xs:element type="xs:string" name="numberOfRegistrants"/>
        <xs:element type="xs:string" name="subject"/>
        <xs:element type="xs:string" name="hasDisclaimer" />
        <xs:element type="xs:string" name="organizerKey" />
        <xs:element type="xs:string" name="experienceType"/>
        <xs:element type="xs:string" name="type" />
        <xs:element type="xs:string" name="locale" />
        <xs:element type="xs:string" name="webinarKey" />
        <xs:element type="xs:string" name="isMainOrganizerActive" />
        <xs:element name="times" minOccurs="0" maxOccurs="unbounded">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="startTime" />
              <xs:element type="xs:string" name="endTime" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element type="xs:string" name="isPasswordProtected" />
        <xs:element type="xs:string" name="organizerName" />
        <xs:element type="xs:string" name="isOndemand" />
        <xs:element type="xs:string" name="organizerEmail" />
        <xs:element type="xs:string" name="recurrencePeriod" />
        <xs:element type="xs:string" name="deniedRegistrants" />
        <xs:element type="xs:string" name="timeZone" />
        <xs:element type="xs:string" name="inSession" />
        <xs:element type="xs:string" name="impromptu" />
        <xs:element type="xs:string" name="accountKey" />
        <xs:element type="xs:string" name="webinarID" />
        <xs:element type="xs:string" name="name" />
        <xs:element name="replyTo" minOccurs="0" maxOccurs="unbounded">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="name" />
              <xs:element type="xs:string" name="email" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element type="xs:string" name="pendingRegistrants" />
        <xs:element type="xs:string" name="verifyHumanRegistrant" />
        <xs:element type="xs:string" name="registrationLimit" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  </xs:sequence>
 </xs:complexType>
 </xs:element>
</xs:schema>