Resources/canonical_library/xsd/Openpayables.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Openpayables">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="VendorOpenItems" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="BUKRS"/>
              <xs:element type="xs:string" name="XBLNR"/>
              <xs:element type="xs:string" name="DOCLN"/>
              <xs:element type="xs:string" name="LIFNR"/>
              <xs:element type="xs:string" name="GL_ACCOUNT"/>
              <xs:element type="xs:string" name="GKONT"/>
              <xs:element type="xs:string" name="BLART"/>
              <xs:element type="xs:string" name="UMSKZ"/>
              <xs:element type="xs:string" name="BLDAT"/>
              <xs:element type="xs:string" name="WWERT"/>
              <xs:element type="xs:string" name="BKTXT"/>
              <xs:element type="xs:string" name="SGTXT"/>
              <xs:element type="xs:string" name="WAERS"/>
              <xs:element type="xs:string" name="WRBTR"/>
              <xs:element type="xs:string" name="HWAER"/>
              <xs:element type="xs:string" name="DMBTR"/>
              <xs:element type="xs:string" name="HWAE2"/>
              <xs:element type="xs:string" name="DMBE2"/>
              <xs:element type="xs:string" name="HWAE3"/>
              <xs:element type="xs:string" name="DMBE3"/>
              <xs:element type="xs:string" name="MWSKZ"/>
              <xs:element type="xs:string" name="BUPLA"/>
              <xs:element type="xs:string" name="SECTIONCODE"/>
              <xs:element type="xs:string" name="VATDATE"/>
              <xs:element type="xs:string" name="TAX_CALC_DATE"/>
              <xs:element type="xs:string" name="TAX_COUNTRY"/>
              <xs:element type="xs:string" name="LWSTE"/>
              <xs:element type="xs:string" name="LWBAS"/>
              <xs:element type="xs:string" name="HWSTE"/>
              <xs:element type="xs:string" name="HWBAS"/>
              <xs:element type="xs:string" name="ZTERM"/>
              <xs:element type="xs:string" name="ZFBDT"/>
              <xs:element type="xs:string" name="ZLSCH"/>
              <xs:element type="xs:string" name="ZLSPR"/>
              <xs:element type="xs:string" name="KIDNO"/>
              <xs:element type="xs:string" name="ZBD1T"/>
              <xs:element type="xs:string" name="ZBD1P"/>
              <xs:element type="xs:string" name="ZBD2T"/>
              <xs:element type="xs:string" name="ZBD2P"/>
              <xs:element type="xs:string" name="ZBD3T"/>
              <xs:element type="xs:string" name="SKFBT"/>
              <xs:element type="xs:string" name="ACSKT"/>
              <xs:element type="xs:string" name="HBKID"/>
              <xs:element type="xs:string" name="HKTID"/>
              <xs:element type="xs:string" name="BVTYP"/>
              <xs:element type="xs:string" name="DTWS1"/>
              <xs:element type="xs:string" name="DTWS2"/>
              <xs:element type="xs:string" name="DTWS3"/>
              <xs:element type="xs:string" name="DTWS4"/>
              <xs:element type="xs:string" name="LZBKZ"/>
              <xs:element type="xs:string" name="LANDL"/>
              <xs:element type="xs:string" name="XREF1"/>
              <xs:element type="xs:string" name="XREF2"/>
              <xs:element type="xs:string" name="XREF3"/>
              <xs:element type="xs:string" name="PRCTR"/>
              <xs:element type="xs:string" name="FKBER"/>
              <xs:element type="xs:string" name="KOSTL"/>
              <xs:element type="xs:string" name="PSPNR"/>
              <xs:element type="xs:string" name="FUND"/>
              <xs:element type="xs:string" name="GRANT_NBR"/>
              <xs:element type="xs:string" name="BUDGET_PERIOD"/>
              <xs:element type="xs:string" name="BUDGET_ACCOUNT"/>
              <xs:element type="xs:string" name="JOINT_VENTURE"/>
              <xs:element type="xs:string" name="RECOVERY_IND"/>
              <xs:element type="xs:string" name="EQUITY_GROUP"/>
              <xs:element type="xs:string" name="MATERIAL_LONG"/>
              <xs:element type="xs:string" name="ZUONR"/>
              <xs:element type="xs:string" name="GLO_REF1_BR"/>
              <xs:element type="xs:string" name="ESRNR"/>
              <xs:element type="xs:string" name="ESRRE"/>
              <xs:element type="xs:string" name="PART_BUSINESSPLACE"/>
              <xs:element type="xs:string" name="INVEST_IND"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="OneTimeAccountData" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="BUKRS"/>
              <xs:element type="xs:string" name="XBLNR"/>
              <xs:element type="xs:string" name="DOCLN"/>
              <xs:element type="xs:string" name="LIFNR"/>
              <xs:element type="xs:string" name="ANRED"/>
              <xs:element type="xs:string" name="NAME1"/>
              <xs:element type="xs:string" name="NAME2"/>
              <xs:element type="xs:string" name="NAME3"/>
              <xs:element type="xs:string" name="NAME4"/>
              <xs:element type="xs:string" name="STRAS"/>
              <xs:element type="xs:string" name="PSTLZ"/>
              <xs:element type="xs:string" name="ORT01"/>
              <xs:element type="xs:string" name="REGIO"/>
              <xs:element type="xs:string" name="LAND1"/>
              <xs:element type="xs:string" name="PFACH"/>
              <xs:element type="xs:string" name="PSTL2"/>
              <xs:element type="xs:string" name="SWIFT"/>
              <xs:element type="xs:string" name="IBAN"/>
              <xs:element type="xs:string" name="PSKTO"/>
              <xs:element type="xs:string" name="BANKN"/>
              <xs:element type="xs:string" name="BANKL"/>
              <xs:element type="xs:string" name="BANKS"/>
              <xs:element type="xs:string" name="BKONT"/>
              <xs:element type="xs:string" name="STKZA"/>
              <xs:element type="xs:string" name="DTAWS"/>
              <xs:element type="xs:string" name="STCD1"/>
              <xs:element type="xs:string" name="STCD2"/>
              <xs:element type="xs:string" name="STCD3"/>
              <xs:element type="xs:string" name="STCD4"/>
              <xs:element type="xs:string" name="STCD5"/>
              <xs:element type="xs:string" name="STKZU"/>
              <xs:element type="xs:string" name="GLO_REF1_OT_CH"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="DeferredTaxItems" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="BUKRS"/>
              <xs:element type="xs:string" name="XBLNR"/>
              <xs:element type="xs:string" name="DOCLN"/>
              <xs:element type="xs:string" name="LIFNR"/>
              <xs:element type="xs:string" name="BUZEI"/>
              <xs:element type="xs:string" name="HKONT"/>
              <xs:element type="xs:string" name="GKONT2"/>
              <xs:element type="xs:string" name="MWSKZ"/>
              <xs:element type="xs:string" name="TXJCD"/>
              <xs:element type="xs:string" name="FWBAS"/>
              <xs:element type="xs:string" name="FWSTE"/>
              <xs:element type="xs:string" name="HWBAS"/>
              <xs:element type="xs:string" name="HWSTE"/>
              <xs:element type="xs:string" name="H2BAS"/>
              <xs:element type="xs:string" name="H2STE"/>
              <xs:element type="xs:string" name="H3BAS"/>
              <xs:element type="xs:string" name="H3STE"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="WithholdingTaxItems" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="BUKRS"/>
              <xs:element type="xs:string" name="XBLNR"/>
              <xs:element type="xs:string" name="DOCLN"/>
              <xs:element type="xs:string" name="LIFNR"/>
              <xs:element type="xs:string" name="WT_TYPE"/>
              <xs:element type="xs:string" name="WT_CODE"/>
              <xs:element type="xs:string" name="BAS_AMT_TC"/>
              <xs:element type="xs:string" name="MAN_AMT_TC"/>
              <xs:element type="xs:string" name="AWH_AMT_TC"/>
              <xs:element type="xs:string" name="BAS_AMT_LC"/>
              <xs:element type="xs:string" name="MAN_AMT_LC"/>
              <xs:element type="xs:string" name="AWH_AMT_LC"/>
              <xs:element type="xs:string" name="BAS_AMT_L2"/>
              <xs:element type="xs:string" name="MAN_AMT_L2"/>
              <xs:element type="xs:string" name="AWH_AMT_L2"/>
              <xs:element type="xs:string" name="BAS_AMT_L3"/>
              <xs:element type="xs:string" name="MAN_AMT_L3"/>
              <xs:element type="xs:string" name="AWH_AMT_L3"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="ItalySpecific" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="BUKRS"/>
              <xs:element type="xs:string" name="XBLNR"/>
              <xs:element type="xs:string" name="DOCLN"/>
              <xs:element type="xs:string" name="LIFNR"/>
              <xs:element type="xs:string" name="GLO_REF1_HD"/>
              <xs:element type="xs:string" name="GLO_REF2_HD"/>
              <xs:element type="xs:string" name="GLO_REF3_HD"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="RussiaSpecific" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="BUKRS"/>
              <xs:element type="xs:string" name="XBLNR"/>
              <xs:element type="xs:string" name="DOCLN"/>
              <xs:element type="xs:string" name="LIFNR"/>
              <xs:element type="xs:string" name="GLO_REF1_HD"/>
              <xs:element type="xs:string" name="GLO_DAT1_HD"/>
              <xs:element type="xs:string" name="GLO_REF2_HD"/>
              <xs:element type="xs:string" name="GLO_DAT2_HD"/>
              <xs:element type="xs:string" name="GLO_REF3_HD"/>
              <xs:element type="xs:string" name="GLO_DAT3_HD"/>
              <xs:element type="xs:string" name="GLO_REF4_HD"/>
              <xs:element type="xs:string" name="GLO_DAT4_HD"/>
              <xs:element type="xs:string" name="GLO_REF5_HD"/>
              <xs:element type="xs:string" name="GLO_DAT5_HD"/>
              <xs:element type="xs:string" name="GLO_BP1"/>
              <xs:element type="xs:string" name="GLO_BP2"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="SouthKoreaSpecific" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="BUKRS"/>
              <xs:element type="xs:string" name="XBLNR"/>
              <xs:element type="xs:string" name="DOCLN"/>
              <xs:element type="xs:string" name="LIFNR"/>
              <xs:element type="xs:string" name="GLO_REF1_HD"/>
              <xs:element type="xs:string" name="GLO_DAT1_HD"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="MexicoSpecific" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="BUKRS"/>
              <xs:element type="xs:string" name="XBLNR"/>
              <xs:element type="xs:string" name="DOCLN"/>
              <xs:element type="xs:string" name="LIFNR"/>
              <xs:element type="xs:string" name="GLO_REF1_HD"/>
              <xs:element type="xs:string" name="GLO_REF1"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="SlovakiaSpecific" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="BUKRS"/>
              <xs:element type="xs:string" name="XBLNR"/>
              <xs:element type="xs:string" name="DOCLN"/>
              <xs:element type="xs:string" name="LIFNR"/>
              <xs:element type="xs:string" name="GLO_REF4_HD"/>
              <xs:element type="xs:string" name="GLO_REF5_HD"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>