Resources/canonical_library/xsd/OpenReceivables.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="OpenReceivables">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="OpenItems" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="Company"/>
              <xs:element type="xs:string" name="Set_of_Books"/>
              <xs:element type="xs:string" name="GL_Account"/>
              <xs:element type="xs:string" name="Customer"/>
              <xs:element type="xs:string" name="Status"/>
              <xs:element type="xs:string" name="External_Reference"/>
              <xs:element type="xs:string" name="Document_Type"/>
              <xs:element type="xs:string" name="Doc._Number"/>
              <xs:element type="xs:string" name="Source_Doc._Type"/>
              <xs:element type="xs:string" name="Source_Doc._ID"/>
              <xs:element type="xs:string" name="Source_Doc._Date"/>
              <xs:element type="xs:string" name="Payment_Terms_Customer_Invoice_ID"/>
              <xs:element type="xs:string" name="Journal_Entry_Type"/>
              <xs:element type="xs:string" name="Journal_Entry"/>
              <xs:element type="xs:string" name="Company_Currency"/>
              <xs:element type="xs:string" name="Currency_Conversion_Date"/>
              <xs:element type="xs:string" name="Document_Description"/>
              <xs:element type="xs:string" name="Payment_Block_Indicator"/>
              <xs:element type="xs:string" name="Transaction_Currency"/>
              <xs:element type="xs:string" name="Open_Amount"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="DeferredTaxItems" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="Set_of_Books"/>
              <xs:element type="xs:string" name="Company"/>
              <xs:element type="xs:string" name="GL_Account"/>
              <xs:element type="xs:string" name="Source_Doc._ID"/>
              <xs:element type="xs:string" name="Journal_Entry_Type"/>
              <xs:element type="xs:string" name="Journal_Entry"/>
              <xs:element type="xs:string" name="Journal_Entry_Item"/>
              <xs:element type="xs:string" name="VAT_Sales_Tax_Code"/>
              <xs:element type="xs:string" name="Source_Document_External_Reference"/>
              <xs:element type="xs:string" name="Source_Document_ID"/>
              <xs:element type="xs:string" name="Offset_Customer_Supplier_ID"/>
              <xs:element type="xs:string" name="Balance_Company_Currency"/>
              <xs:element type="xs:string" name="Balance_Transaction_Currency"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>