Resources/canonical_library/xsd/order.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- Created with Liquid Technologies Online Tools 1.0 (https://www.liquid-technologies.com) -->
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="order">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="paymentCards" />
        <xs:element name="discountRecords" />
        <xs:element name="payment">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="token" />
              <xs:element name="paymentAmount" />
              <xs:element name="refundAmount" />
              <xs:element name="authorizedAmount" type="xs:decimal" />
              <xs:element name="paymentStatus" type="xs:string" />
              <xs:element name="paymentAttemptCount" type="xs:unsignedByte" />
              <xs:element name="paymentUpdatedAt" type="xs:dateTime" />
              <xs:element name="creditCardStatus" type="xs:string" />
              <xs:element name="paymentMethod" type="xs:string" />
              <xs:element name="refundAttemptCount" type="xs:unsignedByte" />
              <xs:element name="refundUpdatedAt" />
              <xs:element name="refundCreditCardStatus" />
              <xs:element name="refundStatus" />
              <xs:element name="csSubscriptionId" type="xs:unsignedLong" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="createdAt" type="xs:dateTime" />
        <xs:element name="shippingMethod">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="id" type="xs:string" />
              <xs:element name="name" type="xs:string" />
              <xs:element name="taxCode" />
              <xs:element name="defaultFlag" type="xs:boolean" />
              <xs:element name="cost" type="xs:decimal" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="modifiedAt" type="xs:dateTime" />
        <xs:element name="orderId" type="xs:unsignedInt" />
        <xs:element name="customerNumber" />
        <xs:element name="customerSessionId" type="xs:string" />
        <xs:element name="customerEmail" type="xs:string" />
        <xs:element name="subTotal" type="xs:decimal" />
        <xs:element name="discount" type="xs:decimal" />
        <xs:element name="orderDiscount" type="xs:decimal" />
        <xs:element name="totalDiscount" type="xs:decimal" />
        <xs:element name="sellingSubTotal" type="xs:decimal" />
        <xs:element name="tax" type="xs:decimal" />
        <xs:element name="currency" type="xs:string" />
        <xs:element name="channel" type="xs:string" />
        <xs:element name="status" type="xs:string" />
        <xs:element name="shippingAddress">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="firstName" type="xs:string" />
              <xs:element name="lastName" type="xs:string" />
              <xs:element name="phoneNumber" type="xs:string" />
              <xs:element name="houseNumber" />
              <xs:element name="building" />
              <xs:element name="apartment" />
              <xs:element name="addressLine1" type="xs:string" />
              <xs:element name="addressLine2" type="xs:string" />
              <xs:element name="county" />
              <xs:element name="city" type="xs:string" />
              <xs:element name="state" type="xs:string" />
              <xs:element name="country" type="xs:string" />
              <xs:element name="zip" type="xs:unsignedShort" />
              <xs:element name="emailAddress" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="billingAddress">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="firstName" type="xs:string" />
              <xs:element name="lastName" type="xs:string" />
              <xs:element name="phoneNumber" type="xs:string" />
              <xs:element name="houseNumber" />
              <xs:element name="building" />
              <xs:element name="apartment" />
              <xs:element name="addressLine1" type="xs:string" />
              <xs:element name="addressLine2" type="xs:string" />
              <xs:element name="county" />
              <xs:element name="city" type="xs:string" />
              <xs:element name="state" type="xs:string" />
              <xs:element name="country" type="xs:string" />
              <xs:element name="zip" type="xs:unsignedShort" />
              <xs:element name="emailAddress" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="total" type="xs:decimal" />
        <xs:element name="returnedTotal" type="xs:decimal" />
        <xs:element name="copyCustomer">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="customerNumber" />
              <xs:element name="firstName" type="xs:string" />
              <xs:element name="middleName" />
              <xs:element name="lastName" type="xs:string" />
              <xs:element name="nickName" />
              <xs:element name="customAttributes" />
              <xs:element name="checkSum" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="placedAt" type="xs:dateTime" />
        <xs:element name="shFee" type="xs:decimal" />
        <xs:element name="reviewReason" />
        <xs:element name="modifiedBy" />
        <xs:element name="experienceId" type="xs:string" />
        <xs:element name="divisionId" />
        <xs:element maxOccurs="unbounded" name="consent">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="consentTemplateType" type="xs:string" />
              <xs:element name="accepted" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="returnRecords" />
        <xs:element name="taxIncluded" type="xs:boolean" />
        <xs:element name="subTotalWithTax" type="xs:decimal" />
        <xs:element name="sellingSubTotalWithTax" type="xs:decimal" />
        <xs:element name="shFeeTax" type="xs:decimal" />
        <xs:element name="shFeeTaxPercent" type="xs:float" />
        <xs:element name="shFeeTaxFinalized" type="xs:boolean" />
        <xs:element name="shFeeWithTax" type="xs:decimal" />
        <xs:element name="languageAtCreation" type="xs:string" />
        <xs:element maxOccurs="unbounded" name="orderLines">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="uuid" type="xs:string" />
              <xs:element name="records" />
              <xs:element name="lineDiscountRecords" />
              <xs:element name="orderId" type="xs:unsignedInt" />
              <xs:element name="lineNumber" type="xs:unsignedByte" />
              <xs:element name="productId" type="xs:string" />
              <xs:element name="itemCode" type="xs:string" />
              <xs:element name="quantity" type="xs:unsignedByte" />
              <xs:element name="originalQuantity" type="xs:unsignedByte" />
              <xs:element name="unitPrice" type="xs:decimal" />
              <xs:element name="unitPriceWithTax" type="xs:decimal" />
              <xs:element name="lineSubTotal" type="xs:decimal" />
              <xs:element name="lineTotal" type="xs:decimal" />
              <xs:element name="lineTax" type="xs:decimal" />
              <xs:element name="lineTaxPercent" type="xs:float" />
              <xs:element name="unitDiscount" type="xs:decimal" />
              <xs:element name="lineDiscount" type="xs:decimal" />
              <xs:element name="lineOrderDiscount" type="xs:decimal" />
              <xs:element name="lineTotalDiscount" type="xs:decimal" />
              <xs:element name="lineSellingSubTotal" type="xs:decimal" />
              <xs:element name="lineStatus" type="xs:string" />
              <xs:element name="createdAt" type="xs:dateTime" />
              <xs:element name="modifiedAt" type="xs:dateTime" />
              <xs:element name="invoicedAt" />
              <xs:element name="shippedAt" />
              <xs:element name="trackingNumber" />
              <xs:element name="copyProduct">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="productId" type="xs:string" />
                    <xs:element name="parentId" type="xs:string" />
                    <xs:element name="name" type="xs:string" />
                    <xs:element name="customAttributes" type="xs:string" />
                    <xs:element name="variantAttributes" type="xs:string" />
                    <xs:element name="media" type="xs:string" />
                    <xs:element name="checkSum" type="xs:string" />
                    <xs:element name="type" type="xs:string" />
                    <xs:element name="description" type="xs:string" />
                    <xs:element name="taxCode" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="shipFromAddress" />
              <xs:element name="lineSubTotalWithTax" type="xs:decimal" />
              <xs:element name="lineSellingSubTotalWithTax" type="xs:decimal" />
              <xs:element name="divisionId" />
              <xs:element name="applicationGroupId" />
              <xs:element name="externalReference" />
              <xs:element name="executionId" />
              <xs:element name="fileName" />
              <xs:element name="chargeRequested" type="xs:boolean" />
              <xs:element name="fulfillmentLocation" />
              <xs:element name="paid" type="xs:boolean" />
              <xs:element name="taxFinalized" type="xs:boolean" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="productReturnedTotal" type="xs:decimal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>