Resources/canonical_library/xsd/OrderCreationNotification.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:complexType name="simpleHybrisField">
		<xs:simpleContent>
			<xs:extension base="xs:string">
				<xs:attribute name="header" type="xs:string"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	
	<xs:element name="OrderCreationNotification">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="integrationKey"/>
				<xs:element name="code" type="simpleHybrisField"/>
				<xs:element name="versionId" type="simpleHybrisField"/>
				<xs:element name="translatorEventCall" type="simpleHybrisField"/>
			</xs:sequence>
			<xs:attribute name="header"/>
		</xs:complexType>
	</xs:element>
</xs:schema>