Resources/canonical_library/xsd/page.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="qualified">
  <xs:element name="page" type="pageType"/>
  <xs:complexType name="pathType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute type="xs:string" name="seo"/>
        <xs:attribute type="xs:string" name="type"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="metricsType">
    <xs:sequence>
      <xs:element type="xs:byte" name="metric.views"/>
      <xs:element type="xs:byte" name="metric.charcount"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="user.createdbyType">
    <xs:sequence>
      <xs:element type="xs:string" name="nick"/>
      <xs:element type="xs:string" name="username"/>
    </xs:sequence>
    <xs:attribute type="xs:string" name="anonymous"/>
    <xs:attribute type="xs:byte" name="id"/>
    <xs:attribute type="xs:string" name="wikiid"/>
    <xs:attribute type="xs:string" name="href"/>
  </xs:complexType>
  <xs:complexType name="user.authorType">
    <xs:sequence>
      <xs:element type="xs:string" name="nick"/>
      <xs:element type="xs:string" name="username"/>
    </xs:sequence>
    <xs:attribute type="xs:string" name="anonymous"/>
    <xs:attribute type="xs:byte" name="id"/>
    <xs:attribute type="xs:string" name="wikiid"/>
    <xs:attribute type="xs:string" name="href"/>
  </xs:complexType>
  <xs:complexType name="ratingType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute type="xs:string" name="score"/>
        <xs:attribute type="xs:byte" name="count"/>
        <xs:attribute type="xs:string" name="seated.score"/>
        <xs:attribute type="xs:byte" name="seated.count"/>
        <xs:attribute type="xs:string" name="unseated.score"/>
        <xs:attribute type="xs:byte" name="unseated.count"/>
        <xs:attribute type="xs:string" name="anonymous.score"/>
        <xs:attribute type="xs:byte" name="anonymous.count"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="subpagesType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute type="xs:string" name="href"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="aliasesType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute type="xs:string" name="href"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="revisionsType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute type="xs:byte" name="count"/>
        <xs:attribute type="xs:string" name="href"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="commentsType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute type="xs:byte" name="count"/>
        <xs:attribute type="xs:string" name="href"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="propertiesType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute type="xs:byte" name="count"/>
        <xs:attribute type="xs:string" name="href"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="tagsType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute type="xs:byte" name="count"/>
        <xs:attribute type="xs:string" name="href"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="filesType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute type="xs:byte" name="count"/>
        <xs:attribute type="xs:string" name="href"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="contentsType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute type="xs:string" name="type"/>
        <xs:attribute type="xs:string" name="href"/>
        <xs:attribute type="xs:string" name="etag"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="contents.altType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute type="xs:string" name="type"/>
        <xs:attribute type="xs:string" name="href"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="outboundType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute type="xs:byte" name="count"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="inboundType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute type="xs:byte" name="count"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="pageType">
    <xs:sequence>
      <xs:element type="xs:string" name="uri.ui"/>
      <xs:element type="xs:string" name="title"/>
      <xs:element type="pathType" name="path"/>
      <xs:element type="xs:string" name="namespace"/>
      <xs:element type="xs:dateTime" name="date.created"/>
      <xs:element type="xs:string" name="language"/>
      <xs:element type="xs:string" name="language.effective"/>
      <xs:element type="metricsType" name="metrics"/>
      <xs:element type="xs:string" name="summary"/>
      <xs:element type="user.createdbyType" name="user.createdby"/>
      <xs:element type="xs:dateTime" name="date.edited"/>
      <xs:element type="xs:dateTime" name="date.modified"/>
      <xs:element type="xs:string" name="timeuuid"/>
      <xs:element type="user.authorType" name="user.author"/>
      <xs:element type="xs:string" name="description"/>
      <xs:element type="ratingType" name="rating"/>
      <xs:element type="subpagesType" name="subpages"/>
      <xs:element type="aliasesType" name="aliases"/>
      <xs:element type="revisionsType" name="revisions"/>
      <xs:element type="commentsType" name="comments"/>
      <xs:element type="propertiesType" name="properties"/>
      <xs:element type="tagsType" name="tags"/>
      <xs:element type="filesType" name="files"/>
      <xs:element type="contentsType" name="contents"/>
      <xs:element type="contents.altType" name="contents.alt"/>
      <xs:element type="xs:string" name="page.redirectedfrom"/>
      <xs:element type="outboundType" name="outbound"/>
      <xs:element type="inboundType" name="inbound"/>
    </xs:sequence>
    <xs:attribute type="xs:byte" name="id"/>
    <xs:attribute type="xs:byte" name="guid"/>
    <xs:attribute type="xs:string" name="draft.state"/>
    <xs:attribute type="xs:string" name="href"/>
    <xs:attribute type="xs:string" name="deleted"/>
    <xs:attribute type="xs:string" name="unpublish"/>
    <xs:attribute type="xs:byte" name="revision"/>
  </xs:complexType>
</xs:schema>
