Resources/canonical_library/xsd/Payload.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Payload">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="unbounded" type="xs:string" name="Company"/>
        <xs:element minOccurs="0" maxOccurs="unbounded" type="xs:string" name="Business_Unit"/>
        <xs:element minOccurs="0" maxOccurs="unbounded" type="xs:string" name="Division"/>
        <xs:element minOccurs="0" maxOccurs="unbounded" type="xs:string" name="Department"/>
        <xs:element minOccurs="0" maxOccurs="unbounded" type="xs:string" name="Location"/>
        <xs:element minOccurs="0" maxOccurs="unbounded" type="xs:string" name="CostCenter"/>
        <xs:element minOccurs="0" maxOccurs="unbounded" type="xs:string" name="Job_Classification"/>
        <xs:element minOccurs="0" maxOccurs="unbounded" type="xs:string" name="Job_Function"/>
        <xs:element minOccurs="0" maxOccurs="unbounded" type="xs:string" name="Company_Territory_Code"/>
        <xs:element minOccurs="0" maxOccurs="unbounded" type="xs:string" name="Payroll_Area"/>
        <xs:element minOccurs="0" maxOccurs="unbounded" type="xs:string" name="Position_Title"/>
        <xs:element minOccurs="0" maxOccurs="unbounded" type="xs:string" name="Employee_Class"/>
        <xs:element minOccurs="0" maxOccurs="unbounded" type="xs:string" name="Employee_Type"/>
        <xs:element minOccurs="0" maxOccurs="unbounded" type="xs:string" name="Payscale_Area"/>
        <xs:element minOccurs="0" maxOccurs="unbounded" type="xs:string" name="Payscale_Type"/>
        <xs:element minOccurs="0" maxOccurs="unbounded" type="xs:string" name="Payscale_Group"/>
        <xs:element minOccurs="0" maxOccurs="unbounded" type="xs:string" name="Payscale_Level"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>