Resources/canonical_library/xsd/PaymentTermVHSet.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="PaymentTermVHSet">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" name="PaymentTermVH">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="PaymentTermsName" type="xs:string" />
			  <xs:element name="PaymentTerms" type="xs:string" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>