Resources/canonical_library/xsd/performCartAction.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="performCartAction">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="username" type="xs:string" minOccurs="0"/>
				<xs:element name="password" type="xs:string" minOccurs="0"/>
				<xs:element name="compositeCartId" type="xs:string" minOccurs="0"/>
				<xs:element name="erpId" type="xs:string" minOccurs="0"/>
				<xs:element name="xDoc" minOccurs="0">
					<xs:complexType mixed="true">
						<xs:sequence>
							<xs:element name="ACTION">
								<xs:complexType>
								<xs:sequence>
							<xs:element name="NAME" type="xs:string" maxOccurs="1" minOccurs="1" />
							<xs:element name="PARAMETER" minOccurs="0" maxOccurs="unbounded">
								<xs:complexType>
									<xs:simpleContent>
										<xs:extension base="xs:string">
											<xs:attribute name="name" type="xs:string" use="required" />
										</xs:extension>
									</xs:simpleContent>
								</xs:complexType>
							</xs:element>
							<xs:element name="ORDER_ID" type="xs:string" minOccurs="0" maxOccurs="1" />
							<xs:element name="EXTERNAL_QUOTE_STATUS" type="xs:string" minOccurs="0" maxOccurs="1" />
							<xs:element name="COMMENTS" minOccurs="0" maxOccurs="1">
								<xs:complexType>
									<xs:sequence>
										<xs:element type="xs:string" name="CommentSource" minOccurs="1" maxOccurs="1" />
										<xs:element name="CartComments" minOccurs="0" maxOccurs="1">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="CartComment" minOccurs="0" maxOccurs="unbounded">
														<xs:complexType>
															<xs:sequence>
																<xs:element type="xs:string" name="UserFullName" minOccurs="1" maxOccurs="1" />
																<xs:element type="xs:string" name="UserEmail" minOccurs="1" maxOccurs="1" />
																<xs:element type="xs:string" name="UserCompany" minOccurs="0" maxOccurs="1" />
																<xs:element type="xs:string" name="Comment" minOccurs="1" maxOccurs="1" />
															</xs:sequence>
														</xs:complexType>
													</xs:element>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
										<xs:element name="ItemComments" minOccurs="0" maxOccurs="1">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="ItemComment" minOccurs="0" maxOccurs="unbounded">
														<xs:complexType>
															<xs:sequence>
																<xs:element type="xs:short" name="ItemId" minOccurs="1" maxOccurs="1" />
																<xs:element type="xs:string" name="UserFullName" minOccurs="1" maxOccurs="1" />
																<xs:element type="xs:string" name="UserEmail" minOccurs="1" maxOccurs="1" />
																<xs:element type="xs:string" name="UserCompany" minOccurs="0" maxOccurs="1" />
																<xs:element type="xs:string" name="Comment" minOccurs="1" maxOccurs="1" />
															</xs:sequence>
														</xs:complexType>
													</xs:element>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
		               </xs:sequence>
								</xs:complexType>
								</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>




