Resources/canonical_library/xsd/Plant.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- Created with Liquid Technologies Online Tools 1.0 (https://www.liquid-technologies.com) -->
<xs:schema xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Plant">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="PlantID" type="xs:unsignedShort" />
        <xs:element name="ProfileCode" type="xs:unsignedByte" />
        <xs:element name="ProfileValidityStartDate" nillable="true" />
        <xs:element name="DeletedIndicator" type="xs:boolean" />
        <xs:element name="BatchManagementRequiredIndicator" type="xs:boolean" />
        <xs:element name="SerialIdentifierAssignmentProfileCode" nillable="true" />
        <xs:element name="ProfitCenterID" nillable="true" />
        <xs:element name="GoodsIssueUnitCode" nillable="true" />
        <xs:element name="NegativeStockAllowedIndicator" type="xs:boolean" />
        <xs:element name="StockDeterminationGroupCode" nillable="true" />
        <xs:element name="ProductExciseTaxRelevanceIndicator" type="xs:boolean" />
        <xs:element name="ConfigurableProductID" nillable="true" />
        <xs:element name="ProductCFOPCategoryCode" nillable="true" />
        <xs:element name="ProductCriticalPartIndicator" type="xs:boolean" />
        <xs:element name="ProductLogisticsHandlingGroupCode" nillable="true" />
        <xs:element name="ProductFreightGroupCode" nillable="true" />
        <xs:element name="ProductDistributionProfileCode" nillable="true" />
        <xs:element name="OriginalBatchManagementRequiredIndicator" type="xs:boolean" />
        <xs:element name="OriginalBatchReferenceProductID" nillable="true" />
        <xs:element name="Costing">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="CoProductIndicator" type="xs:boolean" />
              <xs:element name="ProductBillOfMaterialUsageCategoryCode" nillable="true" />
              <xs:element name="AlternativeBillOfMaterial" nillable="true" />
              <xs:element name="VarianceKeyCode" nillable="true" />
              <xs:element name="CostingProductionVersionCode" nillable="true" />
              <xs:element name="FixedPriceCoProductIndicator" type="xs:boolean" />
              <xs:element name="CostingLotSizeQuantity">
                <xs:complexType>
                  <xs:simpleContent>
                    <xs:extension base="xs:decimal">
                      <xs:attribute name="unitCode" type="xs:string" use="required" />
                    </xs:extension>
                  </xs:simpleContent>
                </xs:complexType>
              </xs:element>
              <xs:element name="ProductIsNotCostingRelevantIndicator" type="xs:boolean" />
              <xs:element name="TaskListGroupCode" nillable="true" />
              <xs:element name="TaskListTypeCode" nillable="true" />
              <xs:element name="CostingSpecialProcurementTypeCode" nillable="true" />
              <xs:element name="TaskListGroupCounter" nillable="true" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="SupplyPlanning">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="ProductRequirementsPlanningTypeCode" nillable="true" />
              <xs:element name="ProductRequirementsPlanningResponsibleCode" nillable="true" />
              <xs:element name="AvailabilityCheckGroupCode" nillable="true" />
              <xs:element name="LotSizeProcedureCode" nillable="true" />
              <xs:element name="FixedLotSizeQuantity">
                <xs:complexType>
                  <xs:simpleContent>
                    <xs:extension base="xs:decimal">
                      <xs:attribute name="unitCode" type="xs:string" use="required" />
                    </xs:extension>
                  </xs:simpleContent>
                </xs:complexType>
              </xs:element>
              <xs:element name="MaximumLotSizeQuantity">
                <xs:complexType>
                  <xs:simpleContent>
                    <xs:extension base="xs:decimal">
                      <xs:attribute name="unitCode" type="xs:string" use="required" />
                    </xs:extension>
                  </xs:simpleContent>
                </xs:complexType>
              </xs:element>
              <xs:element name="MinimumLotSizeQuantity">
                <xs:complexType>
                  <xs:simpleContent>
                    <xs:extension base="xs:decimal">
                      <xs:attribute name="unitCode" type="xs:string" use="required" />
                    </xs:extension>
                  </xs:simpleContent>
                </xs:complexType>
              </xs:element>
              <xs:element name="LotSizeRoundingQuantity">
                <xs:complexType>
                  <xs:simpleContent>
                    <xs:extension base="xs:decimal">
                      <xs:attribute name="unitCode" type="xs:string" use="required" />
                    </xs:extension>
                  </xs:simpleContent>
                </xs:complexType>
              </xs:element>
              <xs:element name="SafetyStockQuantity">
                <xs:complexType>
                  <xs:simpleContent>
                    <xs:extension base="xs:decimal">
                      <xs:attribute name="unitCode" type="xs:string" use="required" />
                    </xs:extension>
                  </xs:simpleContent>
                </xs:complexType>
              </xs:element>
              <xs:element name="SafetyDaysOfSupplyDuration" type="xs:unsignedByte" />
              <xs:element name="MinimumSafetyStockQuantity">
                <xs:complexType>
                  <xs:simpleContent>
                    <xs:extension base="xs:decimal">
                      <xs:attribute name="unitCode" type="xs:string" use="required" />
                    </xs:extension>
                  </xs:simpleContent>
                </xs:complexType>
              </xs:element>
              <xs:element name="MasterPlanAutomaticChangeRestrictedDuration" type="xs:unsignedByte" />
              <xs:element name="ProductRequirementsPlanningABCClassificationCode" nillable="true" />
              <xs:element name="MaximumStockQuantity">
                <xs:complexType>
                  <xs:simpleContent>
                    <xs:extension base="xs:decimal">
                      <xs:attribute name="unitCode" type="xs:string" use="required" />
                    </xs:extension>
                  </xs:simpleContent>
                </xs:complexType>
              </xs:element>
              <xs:element name="ReorderThresholdQuantity">
                <xs:complexType>
                  <xs:simpleContent>
                    <xs:extension base="xs:decimal">
                      <xs:attribute name="unitCode" type="xs:string" use="required" />
                    </xs:extension>
                  </xs:simpleContent>
                </xs:complexType>
              </xs:element>
              <xs:element name="PlannedDeliveryDuration" type="xs:unsignedByte" />
              <xs:element name="ProductRequirementsPlanningStrategyGroupCode" nillable="true" />
              <xs:element name="TotalReplinishmentLeadTimeDuration" type="xs:unsignedByte" />
              <xs:element name="ProcurementTypeCode" nillable="true" />
              <xs:element name="ProcurementSubTypeCode" nillable="true" />
              <xs:element name="AssemblyProductScrapPercent" nillable="true" />
              <xs:element name="ProcurementInventoryManagedLocationInternalID" nillable="true" />
              <xs:element name="GoodsReceiptDuration" type="xs:unsignedByte" />
              <xs:element name="ProductRequirementsPlanningGroupCode" nillable="true" />
              <xs:element name="ProductRequirementsPlanningStorageCostDeterminationProfileCode" nillable="true" />
              <xs:element name="PlanningCalendarCode" nillable="true" />
              <xs:element name="DynamicSafetyStockCalculationProfileCode" nillable="true" />
              <xs:element name="SafetyDaysOfSupplyRelevanceCode" nillable="true" />
              <xs:element name="SafetyDaysOfSupplyDurationProfileCode" nillable="true" />
              <xs:element name="MRPDependentRequirementCode" nillable="true" />
              <xs:element name="LotSizeOrderAmountValue" nillable="true">
                <xs:complexType>
                  <xs:attribute name="currencyCode" type="xs:string" use="required" />
                </xs:complexType>
              </xs:element>
              <xs:element name="LotSizeTaktTimeOffsetDuration" type="xs:unsignedByte" />
              <xs:element name="ServiceLevelPercent" nillable="true" />
              <xs:element name="ProductionDuration" type="xs:unsignedByte" />
              <xs:element name="ProposedProductSupplyAreaCode" nillable="true" />
              <xs:element name="ProductRequirementsConsumptionModeTypeCode" nillable="true" />
              <xs:element name="ForecastRequirementsSplitCategoryCode" nillable="true" />
              <xs:element name="ConsignmentControlCode" nillable="true" />
              <xs:element name="MRPProfileCode" nillable="true" />
              <xs:element name="SchedulingMarginCode" nillable="true" />
              <xs:element name="ProductRequirementsConsolidationCode" nillable="true" />
              <xs:element name="PlanAndOrderDayDeterminationCode" nillable="true" />
              <xs:element name="MRPAvailabilityTypeCode" nillable="true" />
              <xs:element name="RoundingProfileCode" nillable="true" />
              <xs:element name="RepetitiveManufacturingAllowedIndicator" type="xs:boolean" />
              <xs:element name="CrossProjectProductIndicatorCode" nillable="true" />
              <xs:element name="BulkProductComponentIndicator" type="xs:boolean" />
              <xs:element name="DependentRequirementsTypeCode" nillable="true" />
              <xs:element name="RepetitiveManufacturingProfileCode" nillable="true" />
              <xs:element name="FollowUpProductInternalID" nillable="true" />
              <xs:element name="EffectiveOutDate" nillable="true" />
              <xs:element name="GoodsIssueProcessingDuration" type="xs:unsignedByte" />
              <xs:element name="ComponentScrapPercent" nillable="true" />
              <xs:element name="BackwardConsumptionPeriodDuration" type="xs:unsignedByte" />
              <xs:element name="ForwardConsumptionPeriodDuration" type="xs:unsignedByte" />
              <xs:element name="ProductDiscontinuationTypeCode" nillable="true" />
              <xs:element name="PlannedOrderActionControlCode" nillable="true" />
              <xs:element name="ProductUnitGroupCode" nillable="true" />
              <xs:element name="JITProdnConfProfileCode" nillable="true" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="Sales">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="LoadingGroupCode" nillable="true" />
              <xs:element name="ReplacementPartTypeCode" nillable="true" />
              <xs:element name="WorkCentersShippingSetupDuration" nillable="true" />
              <xs:element name="ProductShippingProcessingDuration" nillable="true" />
              <xs:element name="CapacityPlanningQuantity">
                <xs:complexType>
                  <xs:simpleContent>
                    <xs:extension base="xs:decimal">
                      <xs:attribute name="unitCode" type="xs:string" use="required" />
                    </xs:extension>
                  </xs:simpleContent>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="QualityManagement">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="InspectionStockIndicator" type="xs:boolean" />
              <xs:element name="QualityManagementControlKeyCode" nillable="true" />
              <xs:element name="ProductQualityAuthorizationGroupCode" nillable="true" />
              <xs:element name="ProductQualityCertificateTypeCode" nillable="true" />
              <xs:element name="InspectionLotDocumentationRequiredIndicator" type="xs:boolean" />
              <xs:element name="RecurringInspectionIntervalDuration" type="xs:unsignedByte" />
              <xs:element name="SupplierQualityManagementSystemCode" nillable="true" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="PlantText">
          <xs:complexType>
            <xs:attribute name="actionCode" type="xs:unsignedByte" use="required" />
          </xs:complexType>
        </xs:element>
        <xs:element name="Forecasting">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="ConsumptionReferenceUsageEndDate" nillable="true" />
              <xs:element name="ConsumptionReferenceProductQuantityMultiplier" nillable="true" />
              <xs:element name="ConsumptionReferenceProductID" nillable="true" />
              <xs:element name="ConsumptionReferencePlantID" nillable="true" />
              <xs:element name="FiscalYearVariantCode" nillable="true" />
              <xs:element name="ProductConsumptionPeriodTypeCode" type="xs:string" />
              <xs:element name="ForecastModelResetIndicator" type="xs:boolean" />
              <xs:element name="CorrectionFactorRequiredIndicator" type="xs:boolean" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="InternationalTrade">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="ProductOriginCountryCode" nillable="true" />
              <xs:element name="ProductOriginRegionCode" nillable="true" />
              <xs:element name="ConsumptionTaxControlCode" nillable="true" />
              <xs:element name="ExportAndImportProductGroupCode" nillable="true" />
              <xs:element name="ProductInternationalTradeClassificationNumber" nillable="true" />
              <xs:element name="ProductCASNumber" nillable="true" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="Storage">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="PhysicalInventoryCycleCountingProfileCode" nillable="true" />
              <xs:element name="WarehouseManagementPutawayAndStockRemovalStrategyCode" nillable="true" />
              <xs:element name="ProvisioningServiceLevelCode" nillable="true" />
              <xs:element name="ProductMaximumStoragePeriodUnitCode" nillable="true" />
              <xs:element name="MaximumStoragePeriodDuration" type="xs:unsignedByte" />
              <xs:element name="CycleCountingCategoryIsFixedIndicator" type="xs:boolean" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="Purchasing">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="AutomaticPurchaseOrderAllowedIndicator" type="xs:boolean" />
              <xs:element name="SourceListRequirementIndicator" type="xs:boolean" />
              <xs:element name="PurchasingGroupID" nillable="true" />
              <xs:element name="SourceOfSupplyCategoryCode" nillable="true" />
              <xs:element name="PurchasingAcrossPurchasingGroupIndicator" type="xs:boolean" />
              <xs:element name="JITDeliverySchedulesRelevantIndicator" type="xs:boolean" />
              <xs:element name="TaxIndicator" nillable="true" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="WorkScheduling">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="ProductBaseQuantity" nillable="true" />
              <xs:element name="OverDeliveryToleranceLimit" nillable="true" />
              <xs:element name="UnderDeliveryToleranceLimit" nillable="true" />
              <xs:element name="UnlimitedOverDeliveryIsAllowedIndicator" type="xs:boolean" />
              <xs:element name="ProductionInventoryManagedLocationInternalID" nillable="true" />
              <xs:element name="ProductionSupervisorCode" nillable="true" />
              <xs:element name="ProductionOrderBatchEntryDeterminationCode" nillable="true" />
              <xs:element name="OrderChangeManagementProfileCode" nillable="true" />
              <xs:element name="BackflushIndicatorCode" nillable="true" />
              <xs:element name="ProductionSchedulingProfileCode" nillable="true" />
              <xs:element name="ProductWithdrawnFromProductionBinIndicator" type="xs:boolean" />
              <xs:element name="ProductProductionQuantityUnitCode" nillable="true" />
              <xs:element name="ProductProcessingDuration" nillable="true" />
              <xs:element name="SetupAndTeardownTimeDuration" type="xs:decimal" />
              <xs:element name="TransitionMatrixProductsGroupID" nillable="true" />
              <xs:element name="TransitionDuration" nillable="true" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="PlantSCMAdvancedPlanning">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="ConsumptionOfStorageCapacity" type="xs:decimal" />
              <xs:element name="GoodsIssueHandlingCost" type="xs:decimal" />
              <xs:element name="GoodsReceiptHandlingCost" type="xs:decimal" />
              <xs:element name="ProductProcurementCostsVal" type="xs:decimal" />
              <xs:element name="ProductPriority" nillable="true" />
              <xs:element name="PeggingStrategy" nillable="true" />
              <xs:element name="LotSizeUnit" nillable="true" />
              <xs:element name="BOMTypeExplosionUsed" nillable="true" />
              <xs:element name="PlngCalendarPerdcLotSizing" nillable="true" />
              <xs:element name="TargetDaysSupplyInWorkDays" type="xs:unsignedByte" />
              <xs:element name="RequirementStrategy" nillable="true" />
              <xs:element name="SftyStkVioltnPnltyCostValue" type="xs:decimal" />
              <xs:element name="RqdMinShelfLifeLocDepdnt" type="xs:unsignedByte" />
              <xs:element name="RqdMaxShelfLifeLocDepdnt" type="xs:unsignedByte" />
              <xs:element name="IsLocDependentShelfLifeUsed" type="xs:boolean" />
              <xs:element name="ShelfLifeLocDependent" type="xs:unsignedByte" />
              <xs:element name="LocProdStorageCostValue" type="xs:decimal" />
              <xs:element name="PPPlanningProcedure" nillable="true" />
              <xs:element name="ProductPlanningGroup" nillable="true" />
              <xs:element name="ResourceNetworkName" nillable="true" />
              <xs:element name="ReorderDaysSupplyInWorkDays" type="xs:unsignedByte" />
              <xs:element name="ReplenishmentLeadTimeDays" type="xs:unsignedByte" />
              <xs:element name="ConversionRule" nillable="true" />
              <xs:element name="IsAlertsInPeggingAvoided" type="xs:boolean" />
              <xs:element name="AlertThldForDlydRcptDurn" type="xs:unsignedByte" />
              <xs:element name="AlertThldForEarlyRcptDurn" type="xs:unsignedByte" />
              <xs:element name="ProductPlanningPackage" nillable="true" />
              <xs:element name="MinPassingAmtContinuousPegging" nillable="true" />
              <xs:element name="MaturationDurnLocDependent" type="xs:unsignedByte" />
              <xs:element name="InteractiveSourcingProfile" nillable="true" />
              <xs:element name="ProdnPlngHeuristic" nillable="true" />
              <xs:element name="LocProdGoodsReceiptProcHours" type="xs:unsignedByte" />
              <xs:element name="LocProdGoodsIssueProcHours" type="xs:unsignedByte" />
              <xs:element name="ProductAlertRelevanceCode" nillable="true" />
              <xs:element name="IsTotalQtyReceiptElement" type="xs:boolean" />
              <xs:element name="IsTotalQtyStockElement" type="xs:boolean" />
              <xs:element name="IsFixedPeggingForProdRetained" nillable="true" />
              <xs:element name="GIHandlingCapacity" nillable="true" />
              <xs:element name="GRHandlingCapacity" nillable="true" />
              <xs:element name="MaxDaysOfSupplyIsActive" type="xs:boolean" />
              <xs:element name="MaxDaysOfSupplyPenaltyAmount" nillable="true" />
              <xs:element name="AdvncdPlngTgtStkLvlMeth" nillable="true" />
              <xs:element name="SftyStkMethIsAutomlyDtmnd" type="xs:boolean" />
              <xs:element name="AdvncdPlngSftyStkMeth" nillable="true" />
              <xs:element name="PeriodFactorIsUsed" type="xs:boolean" />
              <xs:element name="AdvncdPlngPeriodFactorValue" nillable="true" />
              <xs:element name="TimeDepdntStkLvlPerdFactorVal" nillable="true" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="Planning">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="PlanningMaterialID" nillable="true" />
              <xs:element name="PlanningPlantID" nillable="true" />
              <xs:element name="ProductPlantPlanningMaterialConversionFactor" nillable="true" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="ForecastParameters">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="ForecastBasicValueAlphaFactor" nillable="true" />
              <xs:element name="NumberOfForecastPeriod" nillable="true" />
              <xs:element name="ForecastTrendValueBetaFactor" nillable="true" />
              <xs:element name="MeanAbsoluteDeviationDeltaFactor" nillable="true" />
              <xs:element name="ForecastNumberOfFixedPeriod" nillable="true" />
              <xs:element name="ForecastSeasonalIndexGammaFactor" nillable="true" />
              <xs:element name="ForecastWeightingGroupCode" nillable="true" />
              <xs:element name="ForecastModelInitializationIndicator" nillable="true" />
              <xs:element name="ForecastParameterIsOptimizedIndicator" type="xs:boolean" />
              <xs:element name="ForecastModelSelectionProcedureCode" nillable="true" />
              <xs:element name="ForecastModelSelectionMethod" nillable="true" />
              <xs:element name="OptimizationLevel" nillable="true" />
              <xs:element name="HistoricalPeriodCountForForecast" nillable="true" />
              <xs:element name="PeriodsCountForForecastInitialization" nillable="true" />
              <xs:element name="ForecastPeriodCountPerSeasonCycle" nillable="true" />
              <xs:element name="LastForecastDate" nillable="true" />
              <xs:element name="ForecastModel" nillable="true" />
              <xs:element name="ForecastValueTrackingLimit" nillable="true" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="ProductionResourceTool">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="ControlProfileCode" nillable="true" />
              <xs:element name="ControlProfileReferencedIndicator" type="xs:boolean" />
              <xs:element name="Group1" nillable="true" />
              <xs:element name="Group2" nillable="true" />
              <xs:element name="ProductionResourceUsageCode" nillable="true" />
              <xs:element name="StandardTextCode" nillable="true" />
              <xs:element name="StandardTextCodeReferencedIndicator" type="xs:boolean" />
              <xs:element name="StartDateOffsetReferenceCode" nillable="true" />
              <xs:element name="StartDateOffsetReferenceCodeReferencedIndicator" type="xs:boolean" />
              <xs:element name="StartDateOffset" nillable="true" />
              <xs:element name="StartDateOffsetReferencedIndicator" type="xs:boolean" />
              <xs:element name="EndDateOffsetReferenceCode" nillable="true" />
              <xs:element name="EndDateOffsetReferenceCodeReferencedIndicator" type="xs:boolean" />
              <xs:element name="EndDateOffset" nillable="true" />
              <xs:element name="EndDateOffsetReferencedIndicator" type="xs:boolean" />
              <xs:element name="TotalQuantityCalculationFormula" nillable="true" />
              <xs:element name="TotalQuantityCalculationFormulaReferencedIndicator" type="xs:boolean" />
              <xs:element name="UsageQuantityCalculationFormula" nillable="true" />
              <xs:element name="UsageQuantityCalculationFormulaReferencedIndicator" type="xs:boolean" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element maxOccurs="unbounded" name="PlantSCMDemandPenalty">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="DemandType" type="xs:unsignedByte" />
              <xs:element name="DelayPenaltyAmount" type="xs:decimal" />
              <xs:element name="MaximumDelayInDays" type="xs:unsignedByte" />
              <xs:element name="NonDeliveryPenaltyAmount" type="xs:decimal" />
            </xs:sequence>
            <xs:attribute name="actionCode" type="xs:unsignedByte" use="required" />
          </xs:complexType>
        </xs:element>
        <xs:element name="ProductMinControlTemperatureQuantity" nillable="true" />
        <xs:element name="ProductMaxControlTemperatureQuantity" nillable="true" />
        <xs:element name="ProductControlTemperatureUnitCode" nillable="true" />
      </xs:sequence>
      <xs:attribute name="actionCode" type="xs:unsignedByte" use="required" />
      <xs:attribute name="storageLocationListCompleteTransmissionIndicator" type="xs:boolean" use="required" />
      <xs:attribute name="mrpAreaListCompleteTransmissionIndicator" type="xs:boolean" use="required" />
    </xs:complexType>
  </xs:element>
</xs:schema>