Resources/canonical_library/xsd/PlanSelectionList.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:element name="PlanSelectionList">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="PlanSelection" minOccurs="0" maxOccurs="unbounded">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="PERSNO" minOccurs="0" maxOccurs="1">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:maxLength value="8" />
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="NEG_ELECTION" minOccurs="0"
								maxOccurs="1" type="xs:string"></xs:element>
							<xs:element name="CURRENCY" minOccurs="0" maxOccurs="1"
								type="xs:string"></xs:element>
							<xs:element name="FREQUENCY" minOccurs="0" maxOccurs="1"
								type="xs:string"></xs:element>
							<xs:element name="item1" minOccurs="0" maxOccurs="1">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="WAGETYPE" minOccurs="0"
											maxOccurs="1" type="xs:string"></xs:element>
										<xs:element name="GOAL_AMOUNT" minOccurs="0"
											maxOccurs="1" type="xs:string"></xs:element>
										<xs:element name="AMOUNT" minOccurs="0" maxOccurs="1"
											type="xs:string"></xs:element>
										<xs:element name="PERCENTAGE" minOccurs="0"
											maxOccurs="1" type="xs:string"></xs:element>
										<xs:element name="FROM_DATE" minOccurs="0"
											maxOccurs="1" type="xs:string"></xs:element>
										<xs:element name="TO_DATE" minOccurs="0" maxOccurs="1"
											type="xs:string"></xs:element>
										<xs:element name="CUST_VALUE1" minOccurs="0"
											maxOccurs="1" type="xs:string"></xs:element>
										<xs:element name="CUST_VALUE2" minOccurs="0"
											maxOccurs="1" type="xs:string"></xs:element>
										<xs:element name="CUST_VALUE3" minOccurs="0"
											maxOccurs="1" type="xs:string"></xs:element>
										<xs:element name="CUST_VALUE4" minOccurs="0"
											maxOccurs="1" type="xs:string"></xs:element>
										<xs:element name="CUST_VALUE5" minOccurs="0"
											maxOccurs="1" type="xs:string"></xs:element>
										<xs:element name="CUST_VALUE6" minOccurs="0"
											maxOccurs="1" type="xs:string"></xs:element>
										<xs:element name="CUST_VALUE7" minOccurs="0"
											maxOccurs="1" type="xs:string"></xs:element>
										<xs:element name="CUST_VALUE8" minOccurs="0"
											maxOccurs="1" type="xs:string"></xs:element>
										<xs:element name="CUST_VALUE9" minOccurs="0"
											maxOccurs="1" type="xs:string"></xs:element>
										<xs:element name="CUST_VALUE10" minOccurs="0"
											maxOccurs="1" type="xs:string"></xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
													<xs:element name="item2" minOccurs="0" maxOccurs="1">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="WAGETYPE" minOccurs="0"
											maxOccurs="1" type="xs:string"></xs:element>
										<xs:element name="GOAL_AMOUNT" minOccurs="0"
											maxOccurs="1" type="xs:string"></xs:element>
										<xs:element name="AMOUNT" minOccurs="0" maxOccurs="1"
											type="xs:string"></xs:element>
										<xs:element name="PERCENTAGE" minOccurs="0"
											maxOccurs="1" type="xs:string"></xs:element>
										<xs:element name="FROM_DATE" minOccurs="0"
											maxOccurs="1" type="xs:string"></xs:element>
										<xs:element name="TO_DATE" minOccurs="0" maxOccurs="1"
											type="xs:string"></xs:element>
										<xs:element name="CUST_VALUE1" minOccurs="0"
											maxOccurs="1" type="xs:string"></xs:element>
										<xs:element name="CUST_VALUE2" minOccurs="0"
											maxOccurs="1" type="xs:string"></xs:element>
										<xs:element name="CUST_VALUE3" minOccurs="0"
											maxOccurs="1" type="xs:string"></xs:element>
										<xs:element name="CUST_VALUE4" minOccurs="0"
											maxOccurs="1" type="xs:string"></xs:element>
										<xs:element name="CUST_VALUE5" minOccurs="0"
											maxOccurs="1" type="xs:string"></xs:element>
										<xs:element name="CUST_VALUE6" minOccurs="0"
											maxOccurs="1" type="xs:string"></xs:element>
										<xs:element name="CUST_VALUE7" minOccurs="0"
											maxOccurs="1" type="xs:string"></xs:element>
										<xs:element name="CUST_VALUE8" minOccurs="0"
											maxOccurs="1" type="xs:string"></xs:element>
										<xs:element name="CUST_VALUE9" minOccurs="0"
											maxOccurs="1" type="xs:string"></xs:element>
										<xs:element name="CUST_VALUE10" minOccurs="0"
											maxOccurs="1" type="xs:string"></xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
									<xs:element name="item3" minOccurs="0" maxOccurs="1">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="WAGETYPE" minOccurs="0"
											maxOccurs="1" type="xs:string"></xs:element>
										<xs:element name="GOAL_AMOUNT" minOccurs="0"
											maxOccurs="1" type="xs:string"></xs:element>
										<xs:element name="AMOUNT" minOccurs="0" maxOccurs="1"
											type="xs:string"></xs:element>
										<xs:element name="PERCENTAGE" minOccurs="0"
											maxOccurs="1" type="xs:string"></xs:element>
										<xs:element name="FROM_DATE" minOccurs="0"
											maxOccurs="1" type="xs:string"></xs:element>
										<xs:element name="TO_DATE" minOccurs="0" maxOccurs="1"
											type="xs:string"></xs:element>
										<xs:element name="CUST_VALUE1" minOccurs="0"
											maxOccurs="1" type="xs:string"></xs:element>
										<xs:element name="CUST_VALUE2" minOccurs="0"
											maxOccurs="1" type="xs:string"></xs:element>
										<xs:element name="CUST_VALUE3" minOccurs="0"
											maxOccurs="1" type="xs:string"></xs:element>
										<xs:element name="CUST_VALUE4" minOccurs="0"
											maxOccurs="1" type="xs:string"></xs:element>
										<xs:element name="CUST_VALUE5" minOccurs="0"
											maxOccurs="1" type="xs:string"></xs:element>
										<xs:element name="CUST_VALUE6" minOccurs="0"
											maxOccurs="1" type="xs:string"></xs:element>
										<xs:element name="CUST_VALUE7" minOccurs="0"
											maxOccurs="1" type="xs:string"></xs:element>
										<xs:element name="CUST_VALUE8" minOccurs="0"
											maxOccurs="1" type="xs:string"></xs:element>
										<xs:element name="CUST_VALUE9" minOccurs="0"
											maxOccurs="1" type="xs:string"></xs:element>
										<xs:element name="CUST_VALUE10" minOccurs="0"
											maxOccurs="1" type="xs:string"></xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
									<xs:element name="item4" minOccurs="0" maxOccurs="1">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="WAGETYPE" minOccurs="0"
											maxOccurs="1" type="xs:string"></xs:element>
										<xs:element name="GOAL_AMOUNT" minOccurs="0"
											maxOccurs="1" type="xs:string"></xs:element>
										<xs:element name="AMOUNT" minOccurs="0" maxOccurs="1"
											type="xs:string"></xs:element>
										<xs:element name="PERCENTAGE" minOccurs="0"
											maxOccurs="1" type="xs:string"></xs:element>
										<xs:element name="FROM_DATE" minOccurs="0"
											maxOccurs="1" type="xs:string"></xs:element>
										<xs:element name="TO_DATE" minOccurs="0" maxOccurs="1"
											type="xs:string"></xs:element>
										<xs:element name="CUST_VALUE1" minOccurs="0"
											maxOccurs="1" type="xs:string"></xs:element>
										<xs:element name="CUST_VALUE2" minOccurs="0"
											maxOccurs="1" type="xs:string"></xs:element>
										<xs:element name="CUST_VALUE3" minOccurs="0"
											maxOccurs="1" type="xs:string"></xs:element>
										<xs:element name="CUST_VALUE4" minOccurs="0"
											maxOccurs="1" type="xs:string"></xs:element>
										<xs:element name="CUST_VALUE5" minOccurs="0"
											maxOccurs="1" type="xs:string"></xs:element>
										<xs:element name="CUST_VALUE6" minOccurs="0"
											maxOccurs="1" type="xs:string"></xs:element>
										<xs:element name="CUST_VALUE7" minOccurs="0"
											maxOccurs="1" type="xs:string"></xs:element>
										<xs:element name="CUST_VALUE8" minOccurs="0"
											maxOccurs="1" type="xs:string"></xs:element>
										<xs:element name="CUST_VALUE9" minOccurs="0"
											maxOccurs="1" type="xs:string"></xs:element>
										<xs:element name="CUST_VALUE10" minOccurs="0"
											maxOccurs="1" type="xs:string"></xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
									<xs:element name="item5" minOccurs="0" maxOccurs="1">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="WAGETYPE" minOccurs="0"
											maxOccurs="1" type="xs:string"></xs:element>
										<xs:element name="GOAL_AMOUNT" minOccurs="0"
											maxOccurs="1" type="xs:string"></xs:element>
										<xs:element name="AMOUNT" minOccurs="0" maxOccurs="1"
											type="xs:string"></xs:element>
										<xs:element name="PERCENTAGE" minOccurs="0"
											maxOccurs="1" type="xs:string"></xs:element>
										<xs:element name="FROM_DATE" minOccurs="0"
											maxOccurs="1" type="xs:string"></xs:element>
										<xs:element name="TO_DATE" minOccurs="0" maxOccurs="1"
											type="xs:string"></xs:element>
										<xs:element name="CUST_VALUE1" minOccurs="0"
											maxOccurs="1" type="xs:string"></xs:element>
										<xs:element name="CUST_VALUE2" minOccurs="0"
											maxOccurs="1" type="xs:string"></xs:element>
										<xs:element name="CUST_VALUE3" minOccurs="0"
											maxOccurs="1" type="xs:string"></xs:element>
										<xs:element name="CUST_VALUE4" minOccurs="0"
											maxOccurs="1" type="xs:string"></xs:element>
										<xs:element name="CUST_VALUE5" minOccurs="0"
											maxOccurs="1" type="xs:string"></xs:element>
										<xs:element name="CUST_VALUE6" minOccurs="0"
											maxOccurs="1" type="xs:string"></xs:element>
										<xs:element name="CUST_VALUE7" minOccurs="0"
											maxOccurs="1" type="xs:string"></xs:element>
										<xs:element name="CUST_VALUE8" minOccurs="0"
											maxOccurs="1" type="xs:string"></xs:element>
										<xs:element name="CUST_VALUE9" minOccurs="0"
											maxOccurs="1" type="xs:string"></xs:element>
										<xs:element name="CUST_VALUE10" minOccurs="0"
											maxOccurs="1" type="xs:string"></xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
		
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>