Resources/canonical_library/xsd/poll.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="poll">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="data" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="dateAsked"/>
              <xs:element name="responses" maxOccurs="unbounded" minOccurs="0">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:string" name="text" maxOccurs="unbounded" minOccurs="0"/>
                    <xs:element type="xs:string" name="numberOfResponses" maxOccurs="unbounded" minOccurs="0"/>
                    <xs:element type="xs:string" name="percentage" maxOccurs="unbounded" minOccurs="0"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element type="xs:string" name="question" maxOccurs="unbounded" minOccurs="0"/>
              <xs:element type="xs:string" name="questionType" maxOccurs="unbounded" minOccurs="0"/>
              <xs:element type="xs:string" name="numberOfResponses" maxOccurs="unbounded" minOccurs="0"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
