Resources/canonical_library/xsd/Positions.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Positions">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Position" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:sequence>              
              <xs:element type="xs:string" name="name" minOccurs="0"/>
              <xs:element type="xs:string" name="description" minOccurs="0"/>
              <xs:element type="xs:dateTime" name="effectiveStartDate" minOccurs="0"/>
              <xs:element type="xs:dateTime" name="effectiveEndDate" minOccurs="0"/>
              <xs:element type="xs:dateTime" name="creditStartDate" minOccurs="0"/>
              <xs:element type="xs:dateTime" name="creditEndDate" minOccurs="0"/>
              <xs:element type="xs:dateTime" name="processingStartDate" minOccurs="0"/>
              <xs:element type="xs:dateTime" name="processingEndDate" minOccurs="0"/>
              <xs:element name="targetCompensation" minOccurs="0">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:float" name="value" minOccurs="0"/>
                    <xs:element name="unitType" minOccurs="0">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element type="xs:string" name="name" minOccurs="0"/>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="businessUnits" minOccurs="0">
                <xs:complexType mixed="true">
                  <xs:sequence>
                    <xs:element type="xs:string" name="name" minOccurs="0"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="manager" minOccurs="0">
                <xs:complexType mixed="true">
                  <xs:sequence>
                     <xs:element type="xs:string" name="name" minOccurs="0"/>                       
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="title" minOccurs="0">
                <xs:complexType mixed="true">
                  <xs:sequence>                    
                    <xs:element type="xs:string" name="name" minOccurs="0"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="positionGroup" minOccurs="0">
                <xs:complexType mixed="true">
                  <xs:sequence>                   
                     <xs:element type="xs:string" name="name" minOccurs="0"/>                       
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="payee" minOccurs="0">
                <xs:complexType mixed="true">
                  <xs:sequence>                    
                     <xs:element type="xs:string" name="payeeId" minOccurs="0"/>                        
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="processingUnit" minOccurs="0">
                <xs:complexType mixed="true">
                  <xs:sequence>                    
                    <xs:element type="xs:string" name="name" minOccurs="0"/>                        
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="plan" minOccurs="0">
                <xs:complexType mixed="true">
                  <xs:sequence>
                     <xs:element type="xs:string" name="name" minOccurs="0"/>                      
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element type="xs:string" name="genericAttribute1" minOccurs="0"/>
              <xs:element type="xs:string" name="genericAttribute2" minOccurs="0"/>
              <xs:element type="xs:string" name="genericAttribute3" minOccurs="0"/>
              <xs:element type="xs:string" name="genericAttribute4" minOccurs="0"/>
              <xs:element type="xs:string" name="genericAttribute5" minOccurs="0"/>
              <xs:element type="xs:string" name="genericAttribute6" minOccurs="0"/>
              <xs:element type="xs:string" name="genericAttribute7" minOccurs="0"/>
              <xs:element type="xs:string" name="genericAttribute8" minOccurs="0"/>
              <xs:element type="xs:string" name="genericAttribute9" minOccurs="0"/>
              <xs:element type="xs:string" name="genericAttribute10" minOccurs="0"/>
              <xs:element type="xs:string" name="genericAttribute11" minOccurs="0"/>
              <xs:element type="xs:string" name="genericAttribute12" minOccurs="0"/>
              <xs:element type="xs:string" name="genericAttribute13" minOccurs="0"/>
              <xs:element type="xs:string" name="genericAttribute14" minOccurs="0"/>
              <xs:element type="xs:string" name="genericAttribute15" minOccurs="0"/>
              <xs:element type="xs:string" name="genericAttribute16" minOccurs="0"/>
            <xs:element name="genericNumber1" minOccurs="0">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:float" name="value" minOccurs="0"/>
                    <xs:element name="unitType" minOccurs="0">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element type="xs:string" name="name" minOccurs="0"/>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>  
              <xs:element name="genericNumber2" minOccurs="0">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:float" name="value" minOccurs="0"/>
                    <xs:element name="unitType" minOccurs="0">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element type="xs:string" name="name" minOccurs="0"/>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="genericNumber3" minOccurs="0">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:float" name="value" minOccurs="0"/>
                    <xs:element name="unitType" minOccurs="0">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element type="xs:string" name="name" minOccurs="0"/>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="genericNumber4" minOccurs="0">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:float" name="value" minOccurs="0"/>
                    <xs:element name="unitType" minOccurs="0">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element type="xs:string" name="name" minOccurs="0"/>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="genericNumber5" minOccurs="0">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:float" name="value" minOccurs="0"/>
                    <xs:element name="unitType" minOccurs="0">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element type="xs:string" name="name" minOccurs="0"/>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>  
              <xs:element name="genericNumber6" minOccurs="0">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:float" name="value" minOccurs="0"/>
                    <xs:element name="unitType" minOccurs="0">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element type="xs:string" name="name" minOccurs="0"/>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element type="xs:string" name="genericDate1" minOccurs="0"/>
              <xs:element type="xs:string" name="genericDate2" minOccurs="0"/>
              <xs:element type="xs:string" name="genericDate3" minOccurs="0"/>
              <xs:element type="xs:string" name="genericDate4" minOccurs="0"/>
              <xs:element type="xs:string" name="genericDate5" minOccurs="0"/>
              <xs:element type="xs:string" name="genericDate6" minOccurs="0"/>
              <xs:element type="xs:string" name="genericBoolean1" minOccurs="0"/>
              <xs:element type="xs:string" name="genericBoolean2" minOccurs="0"/>
              <xs:element type="xs:string" name="genericBoolean3" minOccurs="0"/>
              <xs:element type="xs:string" name="genericBoolean4" minOccurs="0"/>
              <xs:element type="xs:string" name="genericBoolean5" minOccurs="0"/>
              <xs:element type="xs:string" name="genericBoolean6" minOccurs="0"/> 
              <xs:element name="variableAssignments" minOccurs="0">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:long" name="owner" minOccurs="0"/>
                    <xs:element type="xs:long" name="variable" minOccurs="0"/>
                    <xs:element type="xs:long" name="assignment" minOccurs="0"/>
                    <xs:element type="xs:dateTime" name="effectiveStartDate" minOccurs="0"/>
                    <xs:element type="xs:dateTime" name="effectiveEndDate" minOccurs="0"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>        
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>