Resources/canonical_library/xsd/Products.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="qualified">
   <xs:element name="Products">
      <xs:complexType>
         <xs:sequence>
            <xs:element name="Product">
               <xs:complexType>
                  <xs:sequence>
                     <!-- mapping Available and sending To Cpq -->
                     <xs:element type="xs:string" name="CPQProductID" maxOccurs="unbounded" minOccurs="0" />
                     <xs:element type="xs:string" name="Identificator" maxOccurs="unbounded" minOccurs="0" />
                     <xs:element type="xs:boolean" name="Active" maxOccurs="unbounded" minOccurs="0"/>
                     <xs:element name="Categories" maxOccurs="unbounded" minOccurs="0">
                        <xs:complexType>
                           <xs:sequence>
                              <xs:element type="xs:string" name="USEnglish" />
                           </xs:sequence>
                        </xs:complexType>
                     </xs:element>
                     <xs:element name="ProductName" maxOccurs="unbounded" minOccurs="0">
                        <xs:complexType>
                           <xs:sequence>
                              <xs:element type="xs:string" name="USEnglish" />
                           </xs:sequence>
                        </xs:complexType>
                     </xs:element>
                     <xs:element name="Description" maxOccurs="unbounded" minOccurs="0">
                        <xs:complexType>
                           <xs:sequence>
                              <xs:element type="xs:string" name="USEnglish" />
                           </xs:sequence>
                        </xs:complexType>
                     </xs:element>
                     <xs:element type="xs:string" name="PartNumber" maxOccurs="unbounded" minOccurs="0"/>
                     <xs:element type="xs:string" name="ExternalId" maxOccurs="unbounded" minOccurs="0"/>
                     <xs:element type="xs:string" name="LongDescription" maxOccurs="unbounded" minOccurs="0"/>
                     <xs:element type="xs:string" name="ProductType" maxOccurs="unbounded" minOccurs="0"/>
                     <!-- Sending Hardcoded value -->
                     <xs:element type="xs:string" name="DisplayType" maxOccurs="unbounded" minOccurs="0"/>
                     <!-- Sending Hardcoded value -->
                     <xs:element type="xs:date" name="StartDate" maxOccurs="unbounded" minOccurs="0"/>
                     <xs:element type="xs:date" name="EndDate" maxOccurs="unbounded" minOccurs="0"/>
                     <xs:element type="xs:string" name="PricingMechanism" maxOccurs="unbounded" minOccurs="0"/>
                     <!-- Sending Hardcoded value -->
                     <xs:element type="xs:string" name="PricingCode" maxOccurs="unbounded" minOccurs="0"/>
                     <!-- Sending Hardcoded value -->
                     <xs:element type="xs:float" name="Price" maxOccurs="unbounded" minOccurs="0"/>
                     <!-- Sending Hardcoded value -->
                     <!-- Mapping Not Avaibale for Now-->
                     <xs:element type="xs:string" name="UPC" maxOccurs="unbounded" minOccurs="0" />
                     <xs:element type="xs:string" name="MPN" maxOccurs="unbounded" minOccurs="0" />
                     <xs:element name="ShippingCosts" maxOccurs="unbounded" minOccurs="0">
                        <xs:complexType>
                           <xs:sequence>
                              <xs:element type="xs:string" name="CustomShipping" />
                           </xs:sequence>
                        </xs:complexType>
                     </xs:element>
                     <xs:element type="xs:string" name="UnitOfMeasure" maxOccurs="unbounded" minOccurs="0" />
                     <xs:element type="xs:string" name="Image" maxOccurs="unbounded" minOccurs="0" />
                     <xs:element type="xs:byte" name="UserCanEnterQuantity" maxOccurs="unbounded" minOccurs="0" />
                     <xs:element name="CartDescription" maxOccurs="unbounded" minOccurs="0">
                        <xs:complexType>
                           <xs:sequence>
                              <xs:element type="xs:string" name="USEnglish" />
                           </xs:sequence>
                        </xs:complexType>
                     </xs:element>
                     <!-- not sent from Commerece -->
                     <xs:element type="xs:string" name="PriceFormula" maxOccurs="unbounded" minOccurs="0" />
                     <xs:element type="xs:string" name="CostFormula" maxOccurs="unbounded" minOccurs="0" />
                     <xs:element type="xs:string" name="Weight" maxOccurs="unbounded" minOccurs="0" />
                     <xs:element type="xs:string" name="ProductSystemId" maxOccurs="unbounded" minOccurs="0" />
                     <xs:element type="xs:string" name="Permissions" maxOccurs="unbounded" minOccurs="0" />
                     <xs:element name="Obsolete" maxOccurs="unbounded" minOccurs="0">
                        <xs:complexType>
                           <xs:sequence>
                              <xs:element type="xs:string" name="Status" />
                              <xs:element type="xs:string" name="ProductSysId" />
                           </xs:sequence>
                        </xs:complexType>
                     </xs:element>
                     <xs:element type="xs:string" name="ProductFamilyCode" maxOccurs="unbounded" minOccurs="0" />
                     <xs:element type="xs:string" name="RecurringPriceFormula" maxOccurs="unbounded" minOccurs="0" />
                     <xs:element type="xs:string" name="RecurringCostFormula" maxOccurs="unbounded" minOccurs="0" />
                     <xs:element type="xs:string" name="BaseRecurringPrice" maxOccurs="unbounded" minOccurs="0" />
                     <xs:element type="xs:string" name="Inventory" maxOccurs="unbounded" minOccurs="0" />
                     <xs:element type="xs:string" name="LeadTime" maxOccurs="unbounded" minOccurs="0" />
                     <xs:element type="xs:string" name="ProductVersion" maxOccurs="unbounded" minOccurs="0" />
                     <xs:element type="xs:string" name="RDResponderTemplate" maxOccurs="unbounded" minOccurs="0"/>
                     <xs:element name="ResponderAttributes">
                        <xs:complexType>
                           <xs:sequence>
                              <xs:element name="Attribute" maxOccurs="unbounded" minOccurs="0">
                                 <xs:complexType>
                                    <xs:sequence>
                                       <xs:element type="xs:string" name="Name" />
                                       <xs:element type="xs:int" name="Rank" />
                                    </xs:sequence>
                                 </xs:complexType>
                              </xs:element>
                           </xs:sequence>
                        </xs:complexType>
                     </xs:element>
                     <xs:element name="ResponderLineItems">
                        <xs:complexType>
                           <xs:sequence>
                              <xs:element name="Attribute" maxOccurs="unbounded" minOccurs="0">
                                 <xs:complexType>
                                    <xs:sequence>
                                       <xs:element type="xs:string" name="Name" />
                                       <xs:element type="xs:int" name="Rank" />
                                    </xs:sequence>
                                 </xs:complexType>
                              </xs:element>
                           </xs:sequence>
                        </xs:complexType>
                     </xs:element>
                     <xs:element name="Tabs">
                        <xs:complexType>
                           <xs:sequence>
                              <xs:element name="Tab" maxOccurs="unbounded" minOccurs="0">
                                 <xs:complexType>
                                    <xs:sequence>
                                       <xs:element type="xs:string" name="SystemId" />
                                       <xs:element type="xs:string" name="Name" />
                                       <xs:element type="xs:int" name="Rank" />
                                       <xs:element type="xs:string" name="LayoutTemplate" />
                                       <xs:element type="xs:string" name="RDTemplate" />
                                       <xs:element type="xs:string" name="VisibilityPermission" />
                                       <xs:element type="xs:string" name="VisibilityCondition" />
                                       <xs:element type="xs:byte" name="ShowTabHeader" />
                                       <xs:element name="Attributes">
                                          <xs:complexType>
                                             <xs:sequence>
                                                <xs:element name="Attribute" maxOccurs="unbounded" minOccurs="0">
                                                   <xs:complexType>
                                                      <xs:sequence>
                                                         <xs:element type="xs:string" name="Name" />
                                                         <xs:element type="xs:int" name="Rank" />
                                                      </xs:sequence>
                                                   </xs:complexType>
                                                </xs:element>
                                             </xs:sequence>
                                          </xs:complexType>
                                       </xs:element>
                                    </xs:sequence>
                                 </xs:complexType>
                              </xs:element>
                           </xs:sequence>
                        </xs:complexType>
                     </xs:element>
                     <xs:element name="GlobalScripts">
                        <xs:complexType>
                           <xs:sequence>
                              <xs:element name="Script" maxOccurs="unbounded" minOccurs="0">
                                 <xs:complexType>
                                    <xs:sequence>
                                       <xs:element type="xs:string" name="Name" />
                                       <xs:element type="xs:int" name="Rank" />
                                       <xs:element name="Events">
                                          <xs:complexType>
                                             <xs:sequence>
                                                <xs:element type="xs:string" name="Event" maxOccurs="unbounded" minOccurs="0" />
                                             </xs:sequence>
                                          </xs:complexType>
                                       </xs:element>
                                    </xs:sequence>
                                 </xs:complexType>
                              </xs:element>
                           </xs:sequence>
                        </xs:complexType>
                     </xs:element>
                     <xs:element name="Attributes">
                        <xs:complexType>
                           <xs:sequence>
                              <xs:element name="Attribute" maxOccurs="unbounded" minOccurs="0">
                                 <xs:complexType>
                                    <xs:choice maxOccurs="unbounded" minOccurs="0">
                                       <xs:element name="AttributeName">
                                          <xs:complexType>
                                             <xs:sequence>
                                                <xs:element type="xs:string" name="USEnglish" />
                                             </xs:sequence>
                                          </xs:complexType>
                                       </xs:element>
                                       <xs:element name="Triggers">
                                          <xs:complexType>
                                             <xs:sequence>
                                                <xs:element name="Trigger" maxOccurs="unbounded" minOccurs="0">
                                                   <xs:complexType>
                                                      <xs:sequence>
                                                         <xs:element type="xs:string" name="Type" />
                                                         <xs:element type="xs:byte" name="Engine" />
                                                         <xs:element type="xs:string" name="Formula" />
                                                      </xs:sequence>
                                                   </xs:complexType>
                                                </xs:element>
                                             </xs:sequence>
                                          </xs:complexType>
                                       </xs:element>
                                       <xs:element type="xs:string" name="ScriptOnRowAdded" />
                                       <xs:element type="xs:string" name="ScriptOnRowCopied" />
                                       <xs:element type="xs:string" name="ScriptOnRowDeleted" />
                                       <xs:element type="xs:string" name="ScriptOnCellEdited" />
                                       <xs:element type="xs:byte" name="InheritQuantity" />
                                       <xs:element type="xs:string" name="UnitOfMeasurement" />
                                       <xs:element type="xs:string" name="AttributeType" />
                                       <xs:element type="xs:string" name="DisplayType" />
                                       <xs:element type="xs:byte" name="IsRequired" />
                                       <xs:element type="xs:byte" name="IsLineItem" />
                                       <xs:element type="xs:byte" name="IsFirstValuePreselected" />
                                       <xs:element type="xs:string" name="ExternalId" />
                                       <xs:element type="xs:date" name="StartDate" />
                                       <xs:element type="xs:date" name="EndDate" />
                                       <xs:element type="xs:int" name="RankWithinCart" />
                                       <xs:element type="xs:string" name="AttributeSystemId" />
                                       <xs:element type="xs:byte" name="SpansAcrossEntireRow" />
                                       <xs:element type="xs:byte" name="ShowOneTimePrice" />
                                       <xs:element type="xs:byte" name="ShowRecurringPrice" />
                                       <xs:element type="xs:string" name="ButtonText" />
                                       <xs:element type="xs:string" name="AttachScriptButton" />
                                       <xs:element name="ButtonScripts">
                                          <xs:complexType>
                                             <xs:sequence>
                                                <xs:element name="ButtonScript" maxOccurs="unbounded" minOccurs="0">
                                                   <xs:complexType>
                                                      <xs:sequence>
                                                         <xs:element type="xs:string" name="Name" />
                                                         <xs:element type="xs:int" name="Rank" />
                                                      </xs:sequence>
                                                   </xs:complexType>
                                                </xs:element>
                                             </xs:sequence>
                                          </xs:complexType>
                                       </xs:element>
                                       <xs:element type="xs:string" name="LineItemDescription" />
                                       <xs:element type="xs:string" name="Label" />
                                       <xs:element type="xs:string" name="Hint" />
                                       <xs:element name="Values">
                                          <xs:complexType>
                                             <xs:sequence>
                                                <xs:element name="Value" maxOccurs="unbounded" minOccurs="0">
                                                   <xs:complexType>
                                                      <xs:sequence>
                                                         <xs:element type="xs:string" name="USEnglish" />
                                                         <xs:element type="xs:string" name="ValueCode" />
                                                         <xs:element type="xs:byte" name="UsePricebook" />
                                                         <xs:element type="xs:string" name="CatalogCode" />
                                                         <xs:element type="xs:string" name="Price" />
                                                         <xs:element type="xs:string" name="AttributeValueSystemId" />
                                                         <xs:element type="xs:int" name="Rank" />
                                                         <xs:element type="xs:byte" name="Selected" />
                                                         <xs:element type="xs:byte" name="Preselected" minOccurs="0" />
                                                         <xs:element type="xs:byte" name="Sort" />
                                                         <xs:element type="xs:string" name="RefProduct" />
                                                      </xs:sequence>
                                                   </xs:complexType>
                                                </xs:element>
                                             </xs:sequence>
                                          </xs:complexType>
                                       </xs:element>
                                    </xs:choice>
                                    <xs:attribute type="xs:boolean" name="UpdateOnlyListedValues" use="optional" />
                                 </xs:complexType>
                              </xs:element>
                           </xs:sequence>
                           <xs:attribute type="xs:boolean" name="UpdateOnlyListedAttributes" />
                        </xs:complexType>
                     </xs:element>
                  </xs:sequence>
                  <xs:attribute type="xs:boolean" name="SkipCategoriesOnProductUpdate" />
                  <xs:attribute type="xs:boolean" name="SkipPermissionsOnProductUpdate" />
               </xs:complexType>
            </xs:element>
         </xs:sequence>
      </xs:complexType>
   </xs:element>
</xs:schema>