Resources/canonical_library/xsd/Product.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- Created with Liquid Technologies Online Tools 1.0 (https://www.liquid-technologies.com) -->
<xs:schema xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element minOccurs="0" name="Product">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ProductInternalID" type="xs:string" />
        <xs:element minOccurs="0" name="UnformattedProductInternalID" type="xs:string" />
        <xs:element minOccurs="0" name="ProductUUID" nillable="true" />
        <xs:element minOccurs="0" name="ReceiverProductInternalID" type="xs:string" />
        <xs:element minOccurs="0" name="UnformattedReceiverProductInternalID" type="xs:string" />
        <xs:element minOccurs="0" name="ReceiverProductUUID" nillable="true" />
        <xs:element minOccurs="0" name="ProductTypeCode" type="xs:string" />
        <xs:element minOccurs="0" name="IndustrySectorCode" type="xs:string" />
        <xs:element minOccurs="0" name="RetailProductCategoryCode" nillable="true" />
        <xs:element minOccurs="0" name="DivisionCode" nillable="true" />
        <xs:element minOccurs="0" name="DeletedIndicator" type="xs:boolean" />
        <xs:element minOccurs="0" name="LockedIndicator" type="xs:boolean" />
        <xs:element minOccurs="0" name="ANPCode" nillable="true" />
        <xs:element minOccurs="0" name="SerialNumberExplicitnessLevelCode" nillable="true" />
        <xs:element minOccurs="0" name="QualityManagementInProcurementIsActiveIndicator" type="xs:boolean" />
        <xs:element minOccurs="0" name="ProductAllocationProcedureID" nillable="true" />
        <xs:element minOccurs="0" name="ReceiverProductAllocationProcedureID" nillable="true" />
        <xs:element minOccurs="0" name="ConfigurableProductInternalID" nillable="true" />
        <xs:element minOccurs="0" name="ReceiverConfigurableProductInternalID" nillable="true" />
        <xs:element minOccurs="0" name="ProductHierarchyInternalID" nillable="true" />
        <xs:element minOccurs="0" name="ReceiverProductHierarchyInternalID" nillable="true" />
        <xs:element minOccurs="0" name="ProductGroupInternalID" type="xs:string" />
        <xs:element minOccurs="0" name="ReceiverProductGroupInternalID" nillable="true" />
        <xs:element minOccurs="0" name="ExternalProductGroupInternalID" nillable="true" />
        <xs:element minOccurs="0" name="ReceiverExternalProductGroupInternalID" nillable="true" />
        <xs:element minOccurs="0" name="BaseMeasureUnitCode" type="xs:string" />
        <xs:element minOccurs="0" name="ProductDiscountInKindCode" nillable="true" />
        <xs:element minOccurs="0" name="DesignOfficeCode" nillable="true" />
        <xs:element minOccurs="0" name="AuthorisationGroupCode" nillable="true" />
        <xs:element minOccurs="0" name="EnvironmentRelevanceIndicator" type="xs:boolean" />
        <xs:element minOccurs="0" name="BasicProductCode" nillable="true" />
        <xs:element minOccurs="0" name="ProductSalesProcessUsabilityProfileCode" nillable="true" />
        <xs:element minOccurs="0" name="DangerousGoodsIndicatorProfileCode" nillable="true" />
        <xs:element minOccurs="0" name="BatchManagementRequiredIndicator" type="xs:boolean" />
        <xs:element minOccurs="0" name="ComputerAidedDesignMaintainedIndicator" type="xs:boolean" />
        <xs:element minOccurs="0" name="BasicViewMaintainedIndicator" type="xs:boolean" />
        <xs:element minOccurs="0" name="ConfigurableProductDeterminedIndicator" type="xs:boolean" />
        <xs:element minOccurs="0" name="ProductSalesProcessUsabilityProfileValidityDate" nillable="true" />
        <xs:element minOccurs="0" name="ProductionText" nillable="true" />
        <xs:element minOccurs="0" name="ProductSizeText" nillable="true" />
        <xs:element minOccurs="0" name="ProductionMemoPageFormatName" nillable="true" />
        <xs:element minOccurs="0" name="PreviousName" nillable="true" />
        <xs:element minOccurs="0" name="IndustryStandardDescription" nillable="true" />
        <xs:element minOccurs="0" name="ValidityStartDate" type="xs:date" />
        <xs:element minOccurs="0" name="ProductHandlingIndicatorCode" nillable="true" />
        <xs:element minOccurs="0" name="AdjustmentProfileCode" nillable="true" />
        <xs:element minOccurs="0" name="HandlingUnitTypeCode" nillable="true" />
        <xs:element minOccurs="0" name="ManufacturerPartProfileCode" nillable="true" />
        <xs:element minOccurs="0" name="SmartFormName" nillable="true" />
        <xs:element minOccurs="0" name="ItemCategoryGroupCode" nillable="true" />
        <xs:element minOccurs="0" name="WarehouseStorageConditionCode" nillable="true" />
        <xs:element minOccurs="0" name="WarehouseProductGroupCode" nillable="true" />
        <xs:element minOccurs="0" name="StandardHandlingUnitTypeCode" nillable="true" />
        <xs:element minOccurs="0" name="ProductHighlyViscousIndicator" type="xs:boolean" />
        <xs:element minOccurs="0" name="TransportInBulkIndicator" type="xs:boolean" />
        <xs:element minOccurs="0" name="ProductRelevantForHazardousSubstancesIndicator" type="xs:boolean" />
        <xs:element minOccurs="0" name="VariableTareWeightIndicator" type="xs:boolean" />
        <xs:element minOccurs="0" name="OwnInventoryManagedProductInternalID" nillable="true" />
        <xs:element minOccurs="0" name="PackingReferenceProductInternalID" nillable="true" />
        <xs:element minOccurs="0" name="ApprovedBatchRecordRequiredIndicator" type="xs:boolean" />
        <xs:element minOccurs="0" name="ProductEffectivityParameterValuesAssignmentIndicator" type="xs:boolean" />
        <xs:element minOccurs="0" name="ProductDocumentPageNumber" nillable="true" />
        <xs:element minOccurs="0" name="ProductDocumentType" nillable="true" />
        <xs:element minOccurs="0" name="GlobalTradeItemNumberVariant" nillable="true" />
        <xs:element minOccurs="0" name="ProductDocumentChangeNumber" nillable="true" />
        <xs:element minOccurs="0" name="ProductDocumentVersion" nillable="true" />
        <xs:element minOccurs="0" name="OvercapacityTolerance" type="xs:decimal" />
        <xs:element minOccurs="0" name="MaximumCapacity" type="xs:decimal" />
        <xs:element minOccurs="0" name="ProductDocumentPageCount" type="xs:unsignedByte" />
        <xs:element minOccurs="0" name="SerialIdentifierAssignmentProfileCode" nillable="true" />
        <xs:element minOccurs="0" name="ProductOriginCountryCode" nillable="true" />
        <xs:element minOccurs="0" name="CompetitorID" nillable="true" />
        <xs:element minOccurs="0" name="ProductDocumentPageFormat" nillable="true" />
        <xs:element minOccurs="0" name="ProductDocumentNumber" nillable="true" />
        <xs:element minOccurs="0" name="PilferableIndicator" type="xs:boolean" />
        <xs:element minOccurs="0" name="PackagingMaterialGroupCode" nillable="true" />
        <xs:element minOccurs="0" name="QualityInspectionGroupCode" nillable="true" />
        <xs:element minOccurs="0" name="CatalogProfileCode" nillable="true" />
        <xs:element minOccurs="0" name="QuarantinePeriod" nillable="true" />
        <xs:element minOccurs="0" name="MaximumPackagingHeight" nillable="true" />
        <xs:element minOccurs="0" name="MaximumPackagingWidth" nillable="true" />
        <xs:element minOccurs="0" name="MaximumPackagingLength" nillable="true" />
        <xs:element minOccurs="0" name="MaximumPackagingUnitCode" nillable="true" />
        <xs:element minOccurs="0" name="NetContent" nillable="true" />
        <xs:element minOccurs="0" name="ComparisonPriceQuantity" nillable="true" />
        <xs:element minOccurs="0" name="GrossContent" nillable="true" />
        <xs:element minOccurs="0" name="ProductHasEmptiesBOM" type="xs:boolean" />
        <xs:element minOccurs="0" name="HasTextilePartsWthAnimalOrigin" type="xs:boolean" />
        <xs:element minOccurs="0" name="BrandID" nillable="true" />
        <xs:element minOccurs="0" name="RetailArticleGeneral">
          <xs:complexType>
            <xs:sequence>
              <xs:element minOccurs="0" name="ServiceAgreementTypeCode" nillable="true" />
              <xs:element minOccurs="0" name="ProductRequirementsPlanningABCClassificationCode" nillable="true" />
              <xs:element minOccurs="0" name="GoodsIssueUnitCode" nillable="true" />
              <xs:element minOccurs="0" name="ProductOriginCountryCode" nillable="true" />
              <xs:element minOccurs="0" name="ProductOriginRegionCode" nillable="true" />
              <xs:element minOccurs="0" name="AssortmentGradeTypeCode" nillable="true" />
              <xs:element minOccurs="0" name="StoreListingProcedureTypeCode" nillable="true" />
              <xs:element minOccurs="0" name="DistributionCenterListingProcedureTypeCode" nillable="true" />
              <xs:element minOccurs="0" name="StoreListingStartDate" nillable="true" />
              <xs:element minOccurs="0" name="StoreListingEndDate" nillable="true" />
              <xs:element minOccurs="0" name="DistributionCenterListingStartDate" nillable="true" />
              <xs:element minOccurs="0" name="DistributionCenterListingEndDate" nillable="true" />
              <xs:element minOccurs="0" name="StoreSaleStartDate" nillable="true" />
              <xs:element minOccurs="0" name="StoreSaleEndDate" nillable="true" />
              <xs:element minOccurs="0" name="DistributionCenterSaleStartDate" nillable="true" />
              <xs:element minOccurs="0" name="DistributionCenterSaleEndDate" nillable="true" />
              <xs:element minOccurs="0" name="AccountDeterminationProductValuationDataGroupCode" nillable="true" />
              <xs:element minOccurs="0" name="CustomsCommodityClassificationCode" nillable="true" />
              <xs:element minOccurs="0" name="ValuationMarginValue" nillable="true" />
              <xs:element minOccurs="0" name="CustomsCommodityClassificationCodeUnitCode" nillable="true" />
              <xs:element minOccurs="0" name="SalesUnitCode" nillable="true" />
              <xs:element minOccurs="0" name="PurchasingGroupID" nillable="true" />
              <xs:element minOccurs="0" name="LoadingGroupCode" nillable="true" />
              <xs:element minOccurs="0" name="ProductExternalAssortmentPriorityTypeCode" nillable="true" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element minOccurs="0" name="Description">
          <xs:complexType>
            <xs:sequence>
              <xs:element minOccurs="0" name="Description">
                <xs:complexType>
                  <xs:simpleContent>
                    <xs:extension base="xs:string">
                      <xs:attribute minOccurs="0" name="languageCode" type="xs:string" use="required" />
                    </xs:extension>
                  </xs:simpleContent>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
            <xs:attribute minOccurs="0" name="actionCode" type="xs:unsignedByte" use="required" />
          </xs:complexType>
        </xs:element>
        <xs:element minOccurs="0" name="QuantityConversion">
          <xs:complexType>
            <xs:sequence>
              <xs:element minOccurs="0" name="Quantity">
                <xs:complexType>
                  <xs:simpleContent>
                    <xs:extension base="xs:decimal">
                      <xs:attribute minOccurs="0" name="unitCode" type="xs:string" use="required" />
                    </xs:extension>
                  </xs:simpleContent>
                </xs:complexType>
              </xs:element>
              <xs:element minOccurs="0" name="CorrespondingQuantity">
                <xs:complexType>
                  <xs:simpleContent>
                    <xs:extension base="xs:decimal">
                      <xs:attribute minOccurs="0" name="unitCode" type="xs:string" use="required" />
                    </xs:extension>
                  </xs:simpleContent>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
            <xs:attribute minOccurs="0" name="actionCode" type="xs:unsignedByte" use="required" />
          </xs:complexType>
        </xs:element>
        <xs:element minOccurs="0" maxOccurs="unbounded" name="QuantityCharacteristic">
          <xs:complexType>
            <xs:sequence>
              <xs:element minOccurs="0" name="Quantity">
                <xs:complexType>
                  <xs:simpleContent>
                    <xs:extension base="xs:decimal">
                      <xs:attribute minOccurs="0" name="unitCode" type="xs:string" use="required" />
                    </xs:extension>
                  </xs:simpleContent>
                </xs:complexType>
              </xs:element>
              <xs:element minOccurs="0" name="CharacteristicQuantity">
                <xs:complexType>
                  <xs:simpleContent>
                    <xs:extension base="xs:decimal">
                      <xs:attribute minOccurs="0" name="unitCode" type="xs:string" use="required" />
                    </xs:extension>
                  </xs:simpleContent>
                </xs:complexType>
              </xs:element>
              <xs:element minOccurs="0" name="CharacteristicQuantityTypeCode" type="xs:string" />
            </xs:sequence>
            <xs:attribute minOccurs="0" name="actionCode" type="xs:unsignedByte" use="required" />
          </xs:complexType>
        </xs:element>
        <xs:element minOccurs="0" name="TextCollection">
          <xs:complexType>
            <xs:sequence>
              <xs:element minOccurs="0" name="TextExistsIndicator" nillable="true" />
            </xs:sequence>
            <xs:attribute minOccurs="0" name="actionCode" type="xs:unsignedByte" use="required" />
            <xs:attribute minOccurs="0" name="textListCompleteTransmissionIndicator" type="xs:boolean" use="required" />
          </xs:complexType>
        </xs:element>
        <xs:element minOccurs="0" name="StorageSpecification">
          <xs:complexType>
            <xs:sequence>
              <xs:element minOccurs="0" name="ProductStorageRequirementsCode" nillable="true" />
              <xs:element minOccurs="0" name="ProductStorageTemperatureRangeCode" nillable="true" />
              <xs:element minOccurs="0" name="HazardousMaterialID" nillable="true" />
              <xs:element minOccurs="0" name="ProductLabelTypeCode" nillable="true" />
              <xs:element minOccurs="0" name="ProductLabelFormCode" nillable="true" />
              <xs:element minOccurs="0" name="MinimumRemaininigShelfLifeCode" type="xs:unsignedByte" />
              <xs:element minOccurs="0" name="NumberOfGoodsReceiptIssueSlipsToPrintValue" nillable="true" />
              <xs:element minOccurs="0" name="ExpirationDateCode" nillable="true" />
              <xs:element minOccurs="0" name="ShelfLifeExpirationDatePeriod" nillable="true" />
              <xs:element minOccurs="0" name="TotalShelfLifeStoragePercent" type="xs:unsignedByte" />
              <xs:element minOccurs="0" name="StorageBinInstructionCode" nillable="true" />
              <xs:element minOccurs="0" name="ShelfLifeExpirationDateRoundingRuleCode" nillable="true" />
              <xs:element minOccurs="0" name="TotalShelfLife" type="xs:unsignedByte" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element minOccurs="0" name="DistributionChainIndependentSalesSpecification">
          <xs:complexType>
            <xs:sequence>
              <xs:element minOccurs="0" name="TransportProductGroupCode" nillable="true" />
              <xs:element minOccurs="0" name="ProductSalesProcessUsabilityProfileCode" nillable="true" />
              <xs:element minOccurs="0" name="ProductSalesProcessUsabilityProfileValidityDate" nillable="true" />
              <xs:element minOccurs="0" name="PricingReferenceProductID" nillable="true" />
              <xs:element minOccurs="0" name="TaxClassificationID" nillable="true" />
              <xs:element minOccurs="0" name="AllowedPackagingVolumeQuantity" nillable="true" />
              <xs:element minOccurs="0" name="VolumeMaximumLevel" type="xs:unsignedByte" />
              <xs:element minOccurs="0" name="StackingFactor" type="xs:unsignedByte" />
              <xs:element minOccurs="0" name="ClosedPackagingProductIndicator" type="xs:boolean" />
              <xs:element minOccurs="0" name="ExcessWeightTolerance" type="xs:decimal" />
              <xs:element minOccurs="0" name="ExcessVolumeTolerance" type="xs:decimal" />
              <xs:element minOccurs="0" name="AllowedPackagingWeightQuantity" nillable="true" />
              <xs:element minOccurs="0" name="ProductFreightGroupCode" nillable="true" />
              <xs:element minOccurs="0" name="PackagingProductTypeCode" nillable="true" />
              <xs:element minOccurs="0" name="VariantsPricingProfileCode" nillable="true" />
              <xs:element minOccurs="0" name="IsVariantPriceAllowed" type="xs:boolean" />
            </xs:sequence>
            <xs:attribute minOccurs="0" name="actionCode" type="xs:unsignedByte" use="required" />
          </xs:complexType>
        </xs:element>
        <xs:element minOccurs="0" name="PlantIndependentProcurementSpecification">
          <xs:complexType>
            <xs:sequence>
              <xs:element minOccurs="0" name="ManufacturerID" nillable="true" />
              <xs:element minOccurs="0" name="ProductManufacturerID" nillable="true" />
              <xs:element minOccurs="0" name="PurchasingAcknowledgmentProfileCode" nillable="true" />
              <xs:element minOccurs="0" name="OrderMeasureUnitCode" nillable="true" />
              <xs:element minOccurs="0" name="VariablePurchaseOrderUnitOfMeasureActivationStatusCode" nillable="true" />
            </xs:sequence>
            <xs:attribute minOccurs="0" name="actionCode" type="xs:unsignedByte" use="required" />
          </xs:complexType>
        </xs:element>
        <xs:element minOccurs="0" name="ProductSCMAdvancedPlanning">
          <xs:complexType>
            <xs:sequence>
              <xs:element minOccurs="0" name="RequiredMaximumShelfLife" type="xs:unsignedByte" />
              <xs:element minOccurs="0" name="MaturationTime" type="xs:unsignedByte" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element minOccurs="0" name="SalesSpecification">
          <xs:complexType>
            <xs:sequence>
              <xs:element minOccurs="0" name="AccountDeterminationProductGroupCode" nillable="true" />
              <xs:element minOccurs="0" name="MinimumOrderQuantity">
                <xs:complexType>
                  <xs:simpleContent>
                    <xs:extension base="xs:decimal">
                      <xs:attribute minOccurs="0" name="unitCode" type="xs:string" use="required" />
                    </xs:extension>
                  </xs:simpleContent>
                </xs:complexType>
              </xs:element>
              <xs:element minOccurs="0" name="SalesOrganizationID" type="xs:unsignedShort" />
              <xs:element minOccurs="0" name="ReceiverSalesOrganizationID" nillable="true" />
              <xs:element minOccurs="0" name="DistributionChannelCode" type="xs:unsignedByte" />
              <xs:element minOccurs="0" name="SupplyingPlantID" nillable="true" />
              <xs:element minOccurs="0" name="ReceiverSupplyingPlantID" nillable="true" />
              <xs:element minOccurs="0" name="StandardProductCategoryInternalID" nillable="true" />
              <xs:element minOccurs="0" name="CustomerTransactionDocumentItemProcessingTypeDeterminationProductGroupCode" type="xs:string" />
              <xs:element minOccurs="0" name="SalesMeasureUnitCode" nillable="true" />
              <xs:element minOccurs="0" name="PriceSpecificationProductGroupCode" nillable="true" />
              <xs:element minOccurs="0" name="FirstSalesSpecificationProductGroupCode" nillable="true" />
              <xs:element minOccurs="0" name="SecondSalesSpecificationProductGroupCode" nillable="true" />
              <xs:element minOccurs="0" name="DeliveryNoteProcessingMinimumDeliveryQuantity">
                <xs:complexType>
                  <xs:simpleContent>
                    <xs:extension base="xs:decimal">
                      <xs:attribute minOccurs="0" name="unitCode" type="xs:string" use="required" />
                    </xs:extension>
                  </xs:simpleContent>
                </xs:complexType>
              </xs:element>
              <xs:element minOccurs="0" name="ThirdSalesSpecificationProductGroupCode" nillable="true" />
              <xs:element minOccurs="0" name="FourthSalesSpecificationProductGroupCode" nillable="true" />
              <xs:element minOccurs="0" name="FifthSalesSpecificationProductGroupCode" nillable="true" />
              <xs:element minOccurs="0" name="ProductSalesProcessUsabilityProfileCode" nillable="true" />
              <xs:element minOccurs="0" name="DeletedIndicator" type="xs:boolean" />
              <xs:element minOccurs="0" name="DeliveryQuantity">
                <xs:complexType>
                  <xs:simpleContent>
                    <xs:extension base="xs:decimal">
                      <xs:attribute minOccurs="0" name="unitCode" type="xs:string" use="required" />
                    </xs:extension>
                  </xs:simpleContent>
                </xs:complexType>
              </xs:element>
              <xs:element minOccurs="0" name="DeliveryQuantityMeasureUnitCode" nillable="true" />
              <xs:element minOccurs="0" name="MinimumMakeToOrderOrderQuantity">
                <xs:complexType>
                  <xs:simpleContent>
                    <xs:extension base="xs:decimal">
                      <xs:attribute minOccurs="0" name="unitCode" type="xs:string" use="required" />
                    </xs:extension>
                  </xs:simpleContent>
                </xs:complexType>
              </xs:element>
              <xs:element minOccurs="0" name="ProductSalesProcessUsabilityProfileValidityDate" nillable="true" />
              <xs:element minOccurs="0" name="ProductExternalAssortmentPriorityTypeCode" nillable="true" />
              <xs:element minOccurs="0" name="VolumeRebateGroupCode" nillable="true" />
              <xs:element minOccurs="0" name="StoreOrderProcessingMaximumDeliveryQuantity">
                <xs:complexType>
                  <xs:simpleContent>
                    <xs:extension base="xs:decimal">
                      <xs:attribute minOccurs="0" name="unitCode" type="xs:string" use="required" />
                    </xs:extension>
                  </xs:simpleContent>
                </xs:complexType>
              </xs:element>
              <xs:element minOccurs="0" name="CompetitionCharacterizationTypeCode" nillable="true" />
              <xs:element minOccurs="0" name="ProductUnitGroupCode" nillable="true" />
              <xs:element minOccurs="0" name="PriceFixingControlCategoryCode" nillable="true" />
              <xs:element minOccurs="0" name="PricingReferenceProductID" nillable="true" />
              <xs:element minOccurs="0" name="ProductHasAttributeID01Indicator" type="xs:boolean" />
              <xs:element minOccurs="0" name="ProductHasAttributeID02Indicator" type="xs:boolean" />
              <xs:element minOccurs="0" name="ProductHasAttributeID03Indicator" type="xs:boolean" />
              <xs:element minOccurs="0" name="ProductHasAttributeID04Indicator" type="xs:boolean" />
              <xs:element minOccurs="0" name="ProductHasAttributeID05Indicator" type="xs:boolean" />
              <xs:element minOccurs="0" name="ProductHasAttributeID06Indicator" type="xs:boolean" />
              <xs:element minOccurs="0" name="ProductHasAttributeID07Indicator" type="xs:boolean" />
              <xs:element minOccurs="0" name="ProductHasAttributeID08Indicator" type="xs:boolean" />
              <xs:element minOccurs="0" name="ProductHasAttributeID09Indicator" type="xs:boolean" />
              <xs:element minOccurs="0" name="ProductHasAttributeID10Indicator" type="xs:boolean" />
              <xs:element minOccurs="0" name="ProductCommissionGroupCode" nillable="true" />
              <xs:element minOccurs="0" name="RoundingProfileCode" nillable="true" />
              <xs:element minOccurs="0" name="CashDiscountIndicator" type="xs:boolean" />
              <xs:element minOccurs="0" name="VariableSalesUnitNotAllowedIndicator" type="xs:boolean" />
              <xs:element minOccurs="0" name="ProductStatisticsGroupCode" nillable="true" />
              <xs:element minOccurs="0" name="StoreSaleStartDate" nillable="true" />
              <xs:element minOccurs="0" name="StoreSaleEndDate" nillable="true" />
              <xs:element minOccurs="0" name="DistributionCenterSaleStartDate" nillable="true" />
              <xs:element minOccurs="0" name="DistributionCenterSaleEndDate" nillable="true" />
              <xs:element minOccurs="0" name="AssortmentGrade" nillable="true" />
              <xs:element minOccurs="0" name="StoreListingProcedure" nillable="true" />
              <xs:element minOccurs="0" name="DistributionCenterListingProcedure" nillable="true" />
              <xs:element minOccurs="0" name="StoreListingStartDate" nillable="true" />
              <xs:element minOccurs="0" name="StoreListingEndDate" nillable="true" />
              <xs:element minOccurs="0" name="DistributionCenterListingStartDate" nillable="true" />
              <xs:element minOccurs="0" name="DistributionCenterListingEndDate" nillable="true" />
              <xs:element minOccurs="0" name="ProductEntitlementRelevantIndicator" type="xs:boolean" />
              <xs:element minOccurs="0" name="SubscriptionProductSalesData">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element minOccurs="0" name="DefaultContractTerm" type="xs:unsignedByte" />
                    <xs:element minOccurs="0" name="AltContractTerm1" type="xs:unsignedByte" />
                    <xs:element minOccurs="0" name="AltContractTerm2" type="xs:unsignedByte" />
                    <xs:element minOccurs="0" name="ContractTermUnit" type="xs:string" />
                    <xs:element minOccurs="0" name="DefaultExtensionPeriod" type="xs:unsignedByte" />
                    <xs:element minOccurs="0" name="AltExtensionPeriod1" type="xs:unsignedByte" />
                    <xs:element minOccurs="0" name="AltExtensionPeriod2" type="xs:unsignedByte" />
                    <xs:element minOccurs="0" name="ExtensionPeriodUnit" type="xs:string" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
            <xs:attribute minOccurs="0" name="actionCode" type="xs:unsignedByte" use="required" />
            <xs:attribute minOccurs="0" name="salesSpecificationTextListCompleteTransmissionIndicator" type="xs:boolean" use="required" />
          </xs:complexType>
        </xs:element>
        <xs:element minOccurs="0" maxOccurs="unbounded" name="SalesSpecificTaxClassification">
          <xs:complexType>
            <xs:sequence>
              <xs:element minOccurs="0" name="CountryCode" type="xs:string" />
              <xs:element minOccurs="0" name="TaxTypeCode" type="xs:string" />
              <xs:element minOccurs="0" name="TaxRateTypeCode" type="xs:unsignedByte" />
            </xs:sequence>
            <xs:attribute minOccurs="0" name="actionCode" type="xs:unsignedByte" use="required" />
          </xs:complexType>
        </xs:element>
        <xs:element minOccurs="0" name="Plant">
          <xs:complexType>
            <xs:sequence>
              <xs:element minOccurs="0" name="PlantID" type="xs:unsignedShort" />
              <xs:element minOccurs="0" name="ProfileCode" nillable="true" />
              <xs:element minOccurs="0" name="ProfileValidityStartDate" nillable="true" />
              <xs:element minOccurs="0" name="DeletedIndicator" type="xs:boolean" />
              <xs:element minOccurs="0" name="BatchManagementRequiredIndicator" type="xs:boolean" />
              <xs:element minOccurs="0" name="SerialIdentifierAssignmentProfileCode" nillable="true" />
              <xs:element minOccurs="0" name="ProfitCenterID" nillable="true" />
              <xs:element minOccurs="0" name="GoodsIssueUnitCode" nillable="true" />
              <xs:element minOccurs="0" name="NegativeStockAllowedIndicator" type="xs:boolean" />
              <xs:element minOccurs="0" name="StockDeterminationGroupCode" nillable="true" />
              <xs:element minOccurs="0" name="ProductExciseTaxRelevanceIndicator" type="xs:boolean" />
              <xs:element minOccurs="0" name="ConfigurableProductID" nillable="true" />
              <xs:element minOccurs="0" name="ProductCFOPCategoryCode" nillable="true" />
              <xs:element minOccurs="0" name="ProductCriticalPartIndicator" type="xs:boolean" />
              <xs:element minOccurs="0" name="ProductLogisticsHandlingGroupCode" nillable="true" />
              <xs:element minOccurs="0" name="ProductFreightGroupCode" nillable="true" />
              <xs:element minOccurs="0" name="ProductDistributionProfileCode" nillable="true" />
              <xs:element minOccurs="0" name="OriginalBatchManagementRequiredIndicator" type="xs:boolean" />
              <xs:element minOccurs="0" name="OriginalBatchReferenceProductID" nillable="true" />
              <xs:element minOccurs="0" name="Costing">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element minOccurs="0" name="CoProductIndicator" type="xs:boolean" />
                    <xs:element minOccurs="0" name="ProductBillOfMaterialUsageCategoryCode" nillable="true" />
                    <xs:element minOccurs="0" name="AlternativeBillOfMaterial" nillable="true" />
                    <xs:element minOccurs="0" name="VarianceKeyCode" nillable="true" />
                    <xs:element minOccurs="0" name="CostingProductionVersionCode" nillable="true" />
                    <xs:element minOccurs="0" name="FixedPriceCoProductIndicator" type="xs:boolean" />
                    <xs:element minOccurs="0" name="CostingLotSizeQuantity">
                      <xs:complexType>
                        <xs:simpleContent>
                          <xs:extension base="xs:decimal">
                            <xs:attribute minOccurs="0" name="unitCode" type="xs:string" use="required" />
                          </xs:extension>
                        </xs:simpleContent>
                      </xs:complexType>
                    </xs:element>
                    <xs:element minOccurs="0" name="ProductIsNotCostingRelevantIndicator" type="xs:boolean" />
                    <xs:element minOccurs="0" name="TaskListGroupCode" nillable="true" />
                    <xs:element minOccurs="0" name="TaskListTypeCode" nillable="true" />
                    <xs:element minOccurs="0" name="CostingSpecialProcurementTypeCode" nillable="true" />
                    <xs:element minOccurs="0" name="TaskListGroupCounter" nillable="true" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element minOccurs="0" name="SupplyPlanning">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element minOccurs="0" name="ProductRequirementsPlanningTypeCode" nillable="true" />
                    <xs:element minOccurs="0" name="ProductRequirementsPlanningResponsibleCode" nillable="true" />
                    <xs:element minOccurs="0" name="AvailabilityCheckGroupCode" nillable="true" />
                    <xs:element minOccurs="0" name="LotSizeProcedureCode" nillable="true" />
                    <xs:element minOccurs="0" name="FixedLotSizeQuantity">
                      <xs:complexType>
                        <xs:simpleContent>
                          <xs:extension base="xs:decimal">
                            <xs:attribute minOccurs="0" name="unitCode" type="xs:string" use="required" />
                          </xs:extension>
                        </xs:simpleContent>
                      </xs:complexType>
                    </xs:element>
                    <xs:element minOccurs="0" name="MaximumLotSizeQuantity">
                      <xs:complexType>
                        <xs:simpleContent>
                          <xs:extension base="xs:decimal">
                            <xs:attribute minOccurs="0" name="unitCode" type="xs:string" use="required" />
                          </xs:extension>
                        </xs:simpleContent>
                      </xs:complexType>
                    </xs:element>
                    <xs:element minOccurs="0" name="MinimumLotSizeQuantity">
                      <xs:complexType>
                        <xs:simpleContent>
                          <xs:extension base="xs:decimal">
                            <xs:attribute minOccurs="0" name="unitCode" type="xs:string" use="required" />
                          </xs:extension>
                        </xs:simpleContent>
                      </xs:complexType>
                    </xs:element>
                    <xs:element minOccurs="0" name="LotSizeRoundingQuantity">
                      <xs:complexType>
                        <xs:simpleContent>
                          <xs:extension base="xs:decimal">
                            <xs:attribute minOccurs="0" name="unitCode" type="xs:string" use="required" />
                          </xs:extension>
                        </xs:simpleContent>
                      </xs:complexType>
                    </xs:element>
                    <xs:element minOccurs="0" name="SafetyStockQuantity">
                      <xs:complexType>
                        <xs:simpleContent>
                          <xs:extension base="xs:decimal">
                            <xs:attribute minOccurs="0" name="unitCode" type="xs:string" use="required" />
                          </xs:extension>
                        </xs:simpleContent>
                      </xs:complexType>
                    </xs:element>
                    <xs:element minOccurs="0" name="SafetyDaysOfSupplyDuration" type="xs:unsignedByte" />
                    <xs:element minOccurs="0" name="MinimumSafetyStockQuantity">
                      <xs:complexType>
                        <xs:simpleContent>
                          <xs:extension base="xs:decimal">
                            <xs:attribute minOccurs="0" name="unitCode" type="xs:string" use="required" />
                          </xs:extension>
                        </xs:simpleContent>
                      </xs:complexType>
                    </xs:element>
                    <xs:element minOccurs="0" name="MasterPlanAutomaticChangeRestrictedDuration" type="xs:unsignedByte" />
                    <xs:element minOccurs="0" name="ProductRequirementsPlanningABCClassificationCode" nillable="true" />
                    <xs:element minOccurs="0" name="MaximumStockQuantity">
                      <xs:complexType>
                        <xs:simpleContent>
                          <xs:extension base="xs:decimal">
                            <xs:attribute minOccurs="0" name="unitCode" type="xs:string" use="required" />
                          </xs:extension>
                        </xs:simpleContent>
                      </xs:complexType>
                    </xs:element>
                    <xs:element minOccurs="0" name="ReorderThresholdQuantity">
                      <xs:complexType>
                        <xs:simpleContent>
                          <xs:extension base="xs:decimal">
                            <xs:attribute minOccurs="0" name="unitCode" type="xs:string" use="required" />
                          </xs:extension>
                        </xs:simpleContent>
                      </xs:complexType>
                    </xs:element>
                    <xs:element minOccurs="0" name="PlannedDeliveryDuration" type="xs:unsignedByte" />
                    <xs:element minOccurs="0" name="ProductRequirementsPlanningStrategyGroupCode" nillable="true" />
                    <xs:element minOccurs="0" name="TotalReplinishmentLeadTimeDuration" type="xs:unsignedByte" />
                    <xs:element minOccurs="0" name="ProcurementTypeCode" type="xs:string" />
                    <xs:element minOccurs="0" name="ProcurementSubTypeCode" nillable="true" />
                    <xs:element minOccurs="0" name="AssemblyProductScrapPercent" nillable="true" />
                    <xs:element minOccurs="0" name="ProcurementInventoryManagedLocationInternalID" nillable="true" />
                    <xs:element minOccurs="0" name="GoodsReceiptDuration" type="xs:unsignedByte" />
                    <xs:element minOccurs="0" name="ProductRequirementsPlanningGroupCode" nillable="true" />
                    <xs:element minOccurs="0" name="ProductRequirementsPlanningStorageCostDeterminationProfileCode" nillable="true" />
                    <xs:element minOccurs="0" name="PlanningCalendarCode" nillable="true" />
                    <xs:element minOccurs="0" name="DynamicSafetyStockCalculationProfileCode" nillable="true" />
                    <xs:element minOccurs="0" name="SafetyDaysOfSupplyRelevanceCode" nillable="true" />
                    <xs:element minOccurs="0" name="SafetyDaysOfSupplyDurationProfileCode" nillable="true" />
                    <xs:element minOccurs="0" name="MRPDependentRequirementCode" nillable="true" />
                    <xs:element minOccurs="0" name="LotSizeOrderAmountValue" nillable="true">
                      <xs:complexType>
                        <xs:attribute minOccurs="0" name="currencyCode" type="xs:string" use="required" />
                      </xs:complexType>
                    </xs:element>
                    <xs:element minOccurs="0" name="LotSizeTaktTimeOffsetDuration" type="xs:unsignedByte" />
                    <xs:element minOccurs="0" name="ServiceLevelPercent" nillable="true" />
                    <xs:element minOccurs="0" name="ProductionDuration" type="xs:unsignedByte" />
                    <xs:element minOccurs="0" name="ProposedProductSupplyAreaCode" nillable="true" />
                    <xs:element minOccurs="0" name="ProductRequirementsConsumptionModeTypeCode" nillable="true" />
                    <xs:element minOccurs="0" name="ForecastRequirementsSplitCategoryCode" nillable="true" />
                    <xs:element minOccurs="0" name="ConsignmentControlCode" nillable="true" />
                    <xs:element minOccurs="0" name="MRPProfileCode" nillable="true" />
                    <xs:element minOccurs="0" name="SchedulingMarginCode" nillable="true" />
                    <xs:element minOccurs="0" name="ProductRequirementsConsolidationCode" nillable="true" />
                    <xs:element minOccurs="0" name="PlanAndOrderDayDeterminationCode" nillable="true" />
                    <xs:element minOccurs="0" name="MRPAvailabilityTypeCode" nillable="true" />
                    <xs:element minOccurs="0" name="RoundingProfileCode" nillable="true" />
                    <xs:element minOccurs="0" name="RepetitiveManufacturingAllowedIndicator" type="xs:boolean" />
                    <xs:element minOccurs="0" name="CrossProjectProductIndicatorCode" nillable="true" />
                    <xs:element minOccurs="0" name="BulkProductComponentIndicator" type="xs:boolean" />
                    <xs:element minOccurs="0" name="DependentRequirementsTypeCode" nillable="true" />
                    <xs:element minOccurs="0" name="RepetitiveManufacturingProfileCode" nillable="true" />
                    <xs:element minOccurs="0" name="FollowUpProductInternalID" nillable="true" />
                    <xs:element minOccurs="0" name="EffectiveOutDate" nillable="true" />
                    <xs:element minOccurs="0" name="GoodsIssueProcessingDuration" type="xs:unsignedByte" />
                    <xs:element minOccurs="0" name="ComponentScrapPercent" nillable="true" />
                    <xs:element minOccurs="0" name="BackwardConsumptionPeriodDuration" type="xs:unsignedByte" />
                    <xs:element minOccurs="0" name="ForwardConsumptionPeriodDuration" type="xs:unsignedByte" />
                    <xs:element minOccurs="0" name="ProductDiscontinuationTypeCode" nillable="true" />
                    <xs:element minOccurs="0" name="PlannedOrderActionControlCode" nillable="true" />
                    <xs:element minOccurs="0" name="ProductUnitGroupCode" nillable="true" />
                    <xs:element minOccurs="0" name="JITProdnConfProfileCode" nillable="true" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element minOccurs="0" name="Sales">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element minOccurs="0" name="LoadingGroupCode" nillable="true" />
                    <xs:element minOccurs="0" name="ReplacementPartTypeCode" nillable="true" />
                    <xs:element minOccurs="0" name="WorkCentersShippingSetupDuration" nillable="true" />
                    <xs:element minOccurs="0" name="ProductShippingProcessingDuration" nillable="true" />
                    <xs:element minOccurs="0" name="CapacityPlanningQuantity">
                      <xs:complexType>
                        <xs:simpleContent>
                          <xs:extension base="xs:decimal">
                            <xs:attribute minOccurs="0" name="unitCode" type="xs:string" use="required" />
                          </xs:extension>
                        </xs:simpleContent>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element minOccurs="0" name="QualityManagement">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element minOccurs="0" name="InspectionStockIndicator" type="xs:boolean" />
                    <xs:element minOccurs="0" name="QualityManagementControlKeyCode" nillable="true" />
                    <xs:element minOccurs="0" name="ProductQualityAuthorizationGroupCode" nillable="true" />
                    <xs:element minOccurs="0" name="ProductQualityCertificateTypeCode" nillable="true" />
                    <xs:element minOccurs="0" name="InspectionLotDocumentationRequiredIndicator" type="xs:boolean" />
                    <xs:element minOccurs="0" name="RecurringInspectionIntervalDuration" type="xs:unsignedByte" />
                    <xs:element minOccurs="0" name="SupplierQualityManagementSystemCode" nillable="true" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element minOccurs="0" name="PlantText">
                <xs:complexType>
                  <xs:attribute minOccurs="0" name="actionCode" type="xs:unsignedByte" use="required" />
                </xs:complexType>
              </xs:element>
              <xs:element minOccurs="0" name="Forecasting">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element minOccurs="0" name="ConsumptionReferenceUsageEndDate" nillable="true" />
                    <xs:element minOccurs="0" name="ConsumptionReferenceProductQuantityMultiplier" nillable="true" />
                    <xs:element minOccurs="0" name="ConsumptionReferenceProductID" nillable="true" />
                    <xs:element minOccurs="0" name="ConsumptionReferencePlantID" nillable="true" />
                    <xs:element minOccurs="0" name="FiscalYearVariantCode" nillable="true" />
                    <xs:element minOccurs="0" name="ProductConsumptionPeriodTypeCode" type="xs:string" />
                    <xs:element minOccurs="0" name="ForecastModelResetIndicator" type="xs:boolean" />
                    <xs:element minOccurs="0" name="CorrectionFactorRequiredIndicator" type="xs:boolean" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element minOccurs="0" name="InternationalTrade">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element minOccurs="0" name="ProductOriginCountryCode" nillable="true" />
                    <xs:element minOccurs="0" name="ProductOriginRegionCode" nillable="true" />
                    <xs:element minOccurs="0" name="ConsumptionTaxControlCode" nillable="true" />
                    <xs:element minOccurs="0" name="ExportAndImportProductGroupCode" nillable="true" />
                    <xs:element minOccurs="0" name="ProductInternationalTradeClassificationNumber" nillable="true" />
                    <xs:element minOccurs="0" name="ProductCASNumber" nillable="true" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element minOccurs="0" name="Storage">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element minOccurs="0" name="PhysicalInventoryCycleCountingProfileCode" nillable="true" />
                    <xs:element minOccurs="0" name="WarehouseManagementPutawayAndStockRemovalStrategyCode" nillable="true" />
                    <xs:element minOccurs="0" name="ProvisioningServiceLevelCode" nillable="true" />
                    <xs:element minOccurs="0" name="ProductMaximumStoragePeriodUnitCode" nillable="true" />
                    <xs:element minOccurs="0" name="MaximumStoragePeriodDuration" type="xs:unsignedByte" />
                    <xs:element minOccurs="0" name="CycleCountingCategoryIsFixedIndicator" type="xs:boolean" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element minOccurs="0" name="Purchasing">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element minOccurs="0" name="AutomaticPurchaseOrderAllowedIndicator" type="xs:boolean" />
                    <xs:element minOccurs="0" name="SourceListRequirementIndicator" type="xs:boolean" />
                    <xs:element minOccurs="0" name="PurchasingGroupID" nillable="true" />
                    <xs:element minOccurs="0" name="SourceOfSupplyCategoryCode" nillable="true" />
                    <xs:element minOccurs="0" name="PurchasingAcrossPurchasingGroupIndicator" type="xs:boolean" />
                    <xs:element minOccurs="0" name="JITDeliverySchedulesRelevantIndicator" type="xs:boolean" />
                    <xs:element minOccurs="0" name="TaxIndicator" nillable="true" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element minOccurs="0" name="WorkScheduling">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element minOccurs="0" name="ProductBaseQuantity" nillable="true" />
                    <xs:element minOccurs="0" name="OverDeliveryToleranceLimit" nillable="true" />
                    <xs:element minOccurs="0" name="UnderDeliveryToleranceLimit" nillable="true" />
                    <xs:element minOccurs="0" name="UnlimitedOverDeliveryIsAllowedIndicator" type="xs:boolean" />
                    <xs:element minOccurs="0" name="ProductionInventoryManagedLocationInternalID" nillable="true" />
                    <xs:element minOccurs="0" name="ProductionSupervisorCode" nillable="true" />
                    <xs:element minOccurs="0" name="ProductionOrderBatchEntryDeterminationCode" nillable="true" />
                    <xs:element minOccurs="0" name="OrderChangeManagementProfileCode" nillable="true" />
                    <xs:element minOccurs="0" name="BackflushIndicatorCode" nillable="true" />
                    <xs:element minOccurs="0" name="ProductionSchedulingProfileCode" nillable="true" />
                    <xs:element minOccurs="0" name="ProductWithdrawnFromProductionBinIndicator" type="xs:boolean" />
                    <xs:element minOccurs="0" name="ProductProductionQuantityUnitCode" nillable="true" />
                    <xs:element minOccurs="0" name="ProductProcessingDuration" nillable="true" />
                    <xs:element minOccurs="0" name="SetupAndTeardownTimeDuration" type="xs:decimal" />
                    <xs:element minOccurs="0" name="TransitionMatrixProductsGroupID" nillable="true" />
                    <xs:element minOccurs="0" name="TransitionDuration" nillable="true" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element minOccurs="0" name="PlantSCMAdvancedPlanning">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element minOccurs="0" name="ConsumptionOfStorageCapacity" type="xs:decimal" />
                    <xs:element minOccurs="0" name="GoodsIssueHandlingCost" type="xs:decimal" />
                    <xs:element minOccurs="0" name="GoodsReceiptHandlingCost" type="xs:decimal" />
                    <xs:element minOccurs="0" name="ProductProcurementCostsVal" type="xs:decimal" />
                    <xs:element minOccurs="0" name="ProductPriority" nillable="true" />
                    <xs:element minOccurs="0" name="PeggingStrategy" nillable="true" />
                    <xs:element minOccurs="0" name="LotSizeUnit" nillable="true" />
                    <xs:element minOccurs="0" name="BOMTypeExplosionUsed" nillable="true" />
                    <xs:element minOccurs="0" name="PlngCalendarPerdcLotSizing" nillable="true" />
                    <xs:element minOccurs="0" name="TargetDaysSupplyInWorkDays" type="xs:unsignedByte" />
                    <xs:element minOccurs="0" name="RequirementStrategy" nillable="true" />
                    <xs:element minOccurs="0" name="SftyStkVioltnPnltyCostValue" type="xs:decimal" />
                    <xs:element minOccurs="0" name="RqdMinShelfLifeLocDepdnt" type="xs:unsignedByte" />
                    <xs:element minOccurs="0" name="RqdMaxShelfLifeLocDepdnt" type="xs:unsignedByte" />
                    <xs:element minOccurs="0" name="IsLocDependentShelfLifeUsed" type="xs:boolean" />
                    <xs:element minOccurs="0" name="ShelfLifeLocDependent" type="xs:unsignedByte" />
                    <xs:element minOccurs="0" name="LocProdStorageCostValue" type="xs:decimal" />
                    <xs:element minOccurs="0" name="PPPlanningProcedure" nillable="true" />
                    <xs:element minOccurs="0" name="ProductPlanningGroup" nillable="true" />
                    <xs:element minOccurs="0" name="ResourceNetworkName" nillable="true" />
                    <xs:element minOccurs="0" name="ReorderDaysSupplyInWorkDays" type="xs:unsignedByte" />
                    <xs:element minOccurs="0" name="ReplenishmentLeadTimeDays" type="xs:unsignedByte" />
                    <xs:element minOccurs="0" name="ConversionRule" nillable="true" />
                    <xs:element minOccurs="0" name="IsAlertsInPeggingAvoided" type="xs:boolean" />
                    <xs:element minOccurs="0" name="AlertThldForDlydRcptDurn" type="xs:unsignedByte" />
                    <xs:element minOccurs="0" name="AlertThldForEarlyRcptDurn" type="xs:unsignedByte" />
                    <xs:element minOccurs="0" name="ProductPlanningPackage" nillable="true" />
                    <xs:element minOccurs="0" name="MinPassingAmtContinuousPegging" nillable="true" />
                    <xs:element minOccurs="0" name="MaturationDurnLocDependent" type="xs:unsignedByte" />
                    <xs:element minOccurs="0" name="InteractiveSourcingProfile" nillable="true" />
                    <xs:element minOccurs="0" name="ProdnPlngHeuristic" nillable="true" />
                    <xs:element minOccurs="0" name="LocProdGoodsReceiptProcHours" type="xs:unsignedByte" />
                    <xs:element minOccurs="0" name="LocProdGoodsIssueProcHours" type="xs:unsignedByte" />
                    <xs:element minOccurs="0" name="ProductAlertRelevanceCode" nillable="true" />
                    <xs:element minOccurs="0" name="IsTotalQtyReceiptElement" type="xs:boolean" />
                    <xs:element minOccurs="0" name="IsTotalQtyStockElement" type="xs:boolean" />
                    <xs:element minOccurs="0" name="IsFixedPeggingForProdRetained" nillable="true" />
                    <xs:element minOccurs="0" name="GIHandlingCapacity" nillable="true" />
                    <xs:element minOccurs="0" name="GRHandlingCapacity" nillable="true" />
                    <xs:element minOccurs="0" name="MaxDaysOfSupplyIsActive" type="xs:boolean" />
                    <xs:element minOccurs="0" name="MaxDaysOfSupplyPenaltyAmount" type="xs:decimal" />
                    <xs:element minOccurs="0" name="AdvncdPlngTgtStkLvlMeth" nillable="true" />
                    <xs:element minOccurs="0" name="SftyStkMethIsAutomlyDtmnd" type="xs:boolean" />
                    <xs:element minOccurs="0" name="AdvncdPlngSftyStkMeth" nillable="true" />
                    <xs:element minOccurs="0" name="PeriodFactorIsUsed" type="xs:boolean" />
                    <xs:element minOccurs="0" name="AdvncdPlngPeriodFactorValue" nillable="true" />
                    <xs:element minOccurs="0" name="TimeDepdntStkLvlPerdFactorVal" nillable="true" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element minOccurs="0" name="Planning">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element minOccurs="0" name="PlanningMaterialID" nillable="true" />
                    <xs:element minOccurs="0" name="PlanningPlantID" nillable="true" />
                    <xs:element minOccurs="0" name="ProductPlantPlanningMaterialConversionFactor" nillable="true" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element minOccurs="0" name="ForecastParameters">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element minOccurs="0" name="ForecastBasicValueAlphaFactor" nillable="true" />
                    <xs:element minOccurs="0" name="NumberOfForecastPeriod" nillable="true" />
                    <xs:element minOccurs="0" name="ForecastTrendValueBetaFactor" nillable="true" />
                    <xs:element minOccurs="0" name="MeanAbsoluteDeviationDeltaFactor" nillable="true" />
                    <xs:element minOccurs="0" name="ForecastNumberOfFixedPeriod" nillable="true" />
                    <xs:element minOccurs="0" name="ForecastSeasonalIndexGammaFactor" nillable="true" />
                    <xs:element minOccurs="0" name="ForecastWeightingGroupCode" nillable="true" />
                    <xs:element minOccurs="0" name="ForecastModelInitializationIndicator" nillable="true" />
                    <xs:element minOccurs="0" name="ForecastParameterIsOptimizedIndicator" type="xs:boolean" />
                    <xs:element minOccurs="0" name="ForecastModelSelectionProcedureCode" nillable="true" />
                    <xs:element minOccurs="0" name="ForecastModelSelectionMethod" nillable="true" />
                    <xs:element minOccurs="0" name="OptimizationLevel" nillable="true" />
                    <xs:element minOccurs="0" name="HistoricalPeriodCountForForecast" nillable="true" />
                    <xs:element minOccurs="0" name="PeriodsCountForForecastInitialization" nillable="true" />
                    <xs:element minOccurs="0" name="ForecastPeriodCountPerSeasonCycle" nillable="true" />
                    <xs:element minOccurs="0" name="LastForecastDate" nillable="true" />
                    <xs:element minOccurs="0" name="ForecastModel" nillable="true" />
                    <xs:element minOccurs="0" name="ForecastValueTrackingLimit" nillable="true" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element minOccurs="0" name="ProductionResourceTool">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element minOccurs="0" name="ControlProfileCode" nillable="true" />
                    <xs:element minOccurs="0" name="ControlProfileReferencedIndicator" type="xs:boolean" />
                    <xs:element minOccurs="0" name="Group1" nillable="true" />
                    <xs:element minOccurs="0" name="Group2" nillable="true" />
                    <xs:element minOccurs="0" name="ProductionResourceUsageCode" nillable="true" />
                    <xs:element minOccurs="0" name="StandardTextCode" nillable="true" />
                    <xs:element minOccurs="0" name="StandardTextCodeReferencedIndicator" type="xs:boolean" />
                    <xs:element minOccurs="0" name="StartDateOffsetReferenceCode" nillable="true" />
                    <xs:element minOccurs="0" name="StartDateOffsetReferenceCodeReferencedIndicator" type="xs:boolean" />
                    <xs:element minOccurs="0" name="StartDateOffset" nillable="true" />
                    <xs:element minOccurs="0" name="StartDateOffsetReferencedIndicator" type="xs:boolean" />
                    <xs:element minOccurs="0" name="EndDateOffsetReferenceCode" nillable="true" />
                    <xs:element minOccurs="0" name="EndDateOffsetReferenceCodeReferencedIndicator" type="xs:boolean" />
                    <xs:element minOccurs="0" name="EndDateOffset" nillable="true" />
                    <xs:element minOccurs="0" name="EndDateOffsetReferencedIndicator" type="xs:boolean" />
                    <xs:element minOccurs="0" name="TotalQuantityCalculationFormula" nillable="true" />
                    <xs:element minOccurs="0" name="TotalQuantityCalculationFormulaReferencedIndicator" type="xs:boolean" />
                    <xs:element minOccurs="0" name="UsageQuantityCalculationFormula" nillable="true" />
                    <xs:element minOccurs="0" name="UsageQuantityCalculationFormulaReferencedIndicator" type="xs:boolean" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element minOccurs="0" maxOccurs="unbounded" name="PlantSCMDemandPenalty">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element minOccurs="0" name="DemandType" type="xs:unsignedByte" />
                    <xs:element minOccurs="0" name="DelayPenaltyAmount" type="xs:decimal" />
                    <xs:element minOccurs="0" name="MaximumDelayInDays" type="xs:unsignedByte" />
                    <xs:element minOccurs="0" name="NonDeliveryPenaltyAmount" type="xs:decimal" />
                  </xs:sequence>
                  <xs:attribute minOccurs="0" name="actionCode" type="xs:unsignedByte" use="required" />
                </xs:complexType>
              </xs:element>
              <xs:element minOccurs="0" name="ProductMinControlTemperatureQuantity" nillable="true" />
              <xs:element minOccurs="0" name="ProductMaxControlTemperatureQuantity" nillable="true" />
              <xs:element minOccurs="0" name="ProductControlTemperatureUnitCode" nillable="true" />
            </xs:sequence>
            <xs:attribute minOccurs="0" name="actionCode" type="xs:unsignedByte" use="required" />
            <xs:attribute minOccurs="0" name="mrpAreaListCompleteTransmissionIndicator" type="xs:boolean" use="required" />
            <xs:attribute minOccurs="0" name="storageLocationListCompleteTransmissionIndicator" type="xs:boolean" use="required" />
          </xs:complexType>
        </xs:element>
        <xs:element minOccurs="0" name="SubscriptionProduct">
          <xs:complexType>
            <xs:sequence>
              <xs:element minOccurs="0" name="BillingCycle" type="xs:unsignedByte" />
              <xs:element minOccurs="0" name="BillingCycleDeterminationRuleId" type="xs:string" />
              <xs:element minOccurs="0" name="ContractAutoRenewalIndicator" nillable="true" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
      <xs:attribute minOccurs="0" name="changeOrdinalNumberValue" type="xs:unsignedByte" use="required" />
      <xs:attribute minOccurs="0" name="descriptionListCompleteTransmissionIndicator" type="xs:boolean" use="required" />
      <xs:attribute minOccurs="0" name="globalTradeItemNumberListCompleteTransmissionIndicator" type="xs:boolean" use="required" />
      <xs:attribute minOccurs="0" name="plantIndependentProcurementSpecificationListCompleteTransmissionIndicator" type="xs:boolean" use="required" />
      <xs:attribute minOccurs="0" name="plantListCompleteTransmissionIndicator" type="xs:boolean" use="required" />
      <xs:attribute minOccurs="0" name="productBOMCompleteTransmissionIndicator" type="xs:boolean" use="required" />
      <xs:attribute minOccurs="0" name="productCategoryAssignmentListCompleteTransmissionIndicator" type="xs:boolean" use="required" />
      <xs:attribute minOccurs="0" name="productRetailSeasonListCompleteTransmissionIndicator" type="xs:boolean" use="required" />
      <xs:attribute minOccurs="0" name="quantityCharacteristicListCompleteTransmissionIndicator" type="xs:boolean" use="required" />
      <xs:attribute minOccurs="0" name="quantityConversionListCompleteTransmissionIndicator" type="xs:boolean" use="required" />
      <xs:attribute minOccurs="0" name="reconciliationPeriodCounterValue" type="xs:unsignedByte" use="required" />
      <xs:attribute minOccurs="0" name="salesSpecificationListCompleteTransmissionIndicator" type="xs:boolean" use="required" />
      <xs:attribute minOccurs="0" name="valuationAreaListCompleteTransmissionIndicator" type="xs:boolean" use="required" />
    </xs:complexType>
  </xs:element>
</xs:schema>