Resources/canonical_library/xsd/PRODUCT.xsd

<?xml version="1.0" encoding="UTF-8"?><xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="qualified">
  <xs:element name="PRODUCT">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" minOccurs="0" name="BasicData">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="PRODUCT" type="xs:string"/>
              <xs:element name="MTART" type="xs:string"/>
              <xs:element name="MATKL" type="xs:string"/>
              <xs:element name="MAKTX" type="xs:string"/>
              <xs:element name="SPRAS" type="xs:string"/>
              <xs:element name="MEINS" type="xs:string"/>
              <xs:element name="AENNR" type="xs:string"/>
              <xs:element name="REVLV" type="xs:string"/>
              <xs:element name="EAN11" type="xs:string"/>
              <xs:element name="NUMTP" type="xs:string"/>
              <xs:element name="SPART" type="xs:string"/>
              <xs:element name="BISMT" type="xs:string"/>
              <xs:element name="XCHPF" type="xs:string"/>
              <xs:element name="KUNNR" type="xs:string"/>
              <xs:element name="NORMT" type="xs:string"/>
              <xs:element name="GROES" type="xs:string"/>
              <xs:element name="LABOR" type="xs:string"/>
              <xs:element name="EXTWG" type="xs:string"/>
              <xs:element name="MTPOS_MARA" type="xs:string"/>
              <xs:element name="BEGRU" type="xs:string"/>
              <xs:element name="MSTAE" type="xs:string"/>
              <xs:element name="MSTDE" type="xs:string"/>
              <xs:element name="SERLV" type="xs:string"/>
              <xs:element name="QMPUR" type="xs:string"/>
              <xs:element name="ANP" type="xs:string"/>
              <xs:element name="BRGEW" type="xs:string"/>
              <xs:element name="NTGEW" type="xs:string"/>
              <xs:element name="GEWEI" type="xs:string"/>
              <xs:element name="LAENG" type="xs:string"/>
              <xs:element name="BREIT" type="xs:string"/>
              <xs:element name="HOEHE" type="xs:string"/>
              <xs:element name="MEABM" type="xs:string"/>
              <xs:element name="VOLUM" type="xs:string"/>
              <xs:element name="VOLEH" type="xs:string"/>
              <xs:element name="CAPAUSE" type="xs:string"/>
              <xs:element name="CHML_CMPLNC_RLVNCE_IND" type="xs:string"/>
              <xs:element name="KZKFG" type="xs:string"/>
              <xs:element name="BSTME" type="xs:string"/>
              <xs:element name="EKWSL" type="xs:string"/>
              <xs:element name="VABME" type="xs:string"/>
              <xs:element name="TRAGR" type="xs:string"/>
              <xs:element name="MSTAV" type="xs:string"/>
              <xs:element name="MSTDV" type="xs:string"/>
              <xs:element name="SOM_CYCLE" type="xs:string"/>
              <xs:element name="SOM_CYCLE_RULE" type="xs:string"/>
              <xs:element name="SOM_TC_SCHEMA" type="xs:string"/>
              <xs:element name="MAGRV" type="xs:string"/>
              <xs:element name="VHIART" type="xs:string"/>
              <xs:element name="ERGEW" type="xs:string"/>
              <xs:element name="ERGEI" type="xs:string"/>
              <xs:element name="GEWTO" type="xs:string"/>
              <xs:element name="ERVOL" type="xs:string"/>
              <xs:element name="ERVOE" type="xs:string"/>
              <xs:element name="KZGVH" type="xs:string"/>
              <xs:element name="VOLTO" type="xs:string"/>
              <xs:element name="IPRKZ" type="xs:string"/>
              <xs:element name="RAUBE" type="xs:string"/>
              <xs:element name="TEMPB" type="xs:string"/>
              <xs:element name="BEHVO" type="xs:string"/>
              <xs:element name="STOFF" type="xs:string"/>
              <xs:element name="ETIAR" type="xs:string"/>
              <xs:element name="ETIFO" type="xs:string"/>
              <xs:element name="WESCH" type="xs:string"/>
              <xs:element name="XGCHP" type="xs:string"/>
              <xs:element name="MHDHB" type="xs:string"/>
              <xs:element name="MHDRZ" type="xs:string"/>
              <xs:element name="SLED_BBD" type="xs:string"/>
              <xs:element name="MHDLP" type="xs:string"/>
              <xs:element name="RDMHD" type="xs:string"/>
              <xs:element name="HNDLCODE" type="xs:string"/>
              <xs:element name="WHMATGR" type="xs:string"/>
              <xs:element name="HUTYP" type="xs:string"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element maxOccurs="unbounded" minOccurs="0" name="AdditionalDescriptions">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="PRODUCT" type="xs:string"/>
              <xs:element name="SPRAS" type="xs:string"/>
              <xs:element name="MAKTX" type="xs:string"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element maxOccurs="unbounded" minOccurs="0" name="AlternativeUnitsofMeasure">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="PRODUCT" type="xs:string"/>
              <xs:element name="MEINH" type="xs:string"/>
              <xs:element name="UMREN" type="xs:string"/>
              <xs:element name="UMREZ" type="xs:string"/>
              <xs:element name="EAN11" type="xs:string"/>
              <xs:element name="NUMTP" type="xs:string"/>
              <xs:element name="LAENG" type="xs:string"/>
              <xs:element name="BREIT" type="xs:string"/>
              <xs:element name="HOEHE" type="xs:string"/>
              <xs:element name="MEABM" type="xs:string"/>
              <xs:element name="BRGEW" type="xs:string"/>
              <xs:element name="GEWEI" type="xs:string"/>
              <xs:element name="VOLUM" type="xs:string"/>
              <xs:element name="VOLEH" type="xs:string"/>
              <xs:element name="CAPAUSE" type="xs:string"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element maxOccurs="unbounded" minOccurs="0" name="AdditionalGTINs">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="PRODUCT" type="xs:string"/>
              <xs:element name="MEINH" type="xs:string"/>
              <xs:element name="EAN11" type="xs:string"/>
              <xs:element name="EANTP" type="xs:string"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element maxOccurs="unbounded" minOccurs="0" name="WarehouseProduct">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="PRODUCT" type="xs:string"/>
              <xs:element name="LGNUM" type="xs:string"/>
              <xs:element name="ENTITLED" type="xs:string"/>
              <xs:element name="PROCPRFL" type="xs:string"/>
              <xs:element name="PTDETIND" type="xs:string"/>
              <xs:element name="CCIND" type="xs:string"/>
              <xs:element name="SHELF_LIFE_REQ_MM" type="xs:string"/>
              <xs:element name="PUOM_WH" type="xs:string"/>
              <xs:element name="PUT_STRA" type="xs:string"/>
              <xs:element name="LGBKZ" type="xs:string"/>
              <xs:element name="LPTYP" type="xs:string"/>
              <xs:element name="BLOCK" type="xs:string"/>
              <xs:element name="REM_STRA" type="xs:string"/>
              <xs:element name="STCKDETGR" type="xs:string"/>
              <xs:element name="DRDETGR" type="xs:string"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element maxOccurs="unbounded" minOccurs="0" name="WarehouseProductStorageType">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="PRODUCT" type="xs:string"/>
              <xs:element name="LGNUM" type="xs:string"/>
              <xs:element name="ENTITLED" type="xs:string"/>
              <xs:element name="LGTYP" type="xs:string"/>
              <xs:element name="SECTIND" type="xs:string"/>
              <xs:element name="BINTYPE" type="xs:string"/>
              <xs:element name="BINSRCH" type="xs:string"/>
              <xs:element name="MAXFIXBIN" type="xs:string"/>
              <xs:element name="SPLITTH" type="xs:string"/>
              <xs:element name="SEQPUT" type="xs:string"/>
              <xs:element name="QUANCLA" type="xs:string"/>
              <xs:element name="QUANCLA_PUT" type="xs:string"/>
              <xs:element name="SPLITPUT" type="xs:string"/>
              <xs:element name="SKIPPTW" type="xs:string"/>
              <xs:element name="NORPLN" type="xs:string"/>
              <xs:element name="REPQTY" type="xs:string"/>
              <xs:element name="REPQTY_UOM" type="xs:string"/>
              <xs:element name="MINQTY" type="xs:string"/>
              <xs:element name="MINQTY_UOM" type="xs:string"/>
              <xs:element name="MAXQTY" type="xs:string"/>
              <xs:element name="MAXQTY_UOM" type="xs:string"/>
              <xs:element name="PERMXQTY" type="xs:string"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element maxOccurs="unbounded" minOccurs="0" name="DistributionChains">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="PRODUCT" type="xs:string"/>
              <xs:element name="VKORG" type="xs:string"/>
              <xs:element name="VTWEG" type="xs:string"/>
              <xs:element name="VRKME" type="xs:string"/>
              <xs:element name="DWERK" type="xs:string"/>
              <xs:element name="VMSTA" type="xs:string"/>
              <xs:element name="VMSTD" type="xs:string"/>
              <xs:element name="SKTOF" type="xs:string"/>
              <xs:element name="LFMNG" type="xs:string"/>
              <xs:element name="AUMNG" type="xs:string"/>
              <xs:element name="SCMNG" type="xs:string"/>
              <xs:element name="SCHME" type="xs:string"/>
              <xs:element name="CTR_TERM_DEF" type="xs:string"/>
              <xs:element name="CTR_TERM_ALT1" type="xs:string"/>
              <xs:element name="CTR_TERM_ALT2" type="xs:string"/>
              <xs:element name="CTR_TERM_UNIT" type="xs:string"/>
              <xs:element name="EXT_PERIOD_DEF" type="xs:string"/>
              <xs:element name="EXT_PERIOD_ALT1" type="xs:string"/>
              <xs:element name="EXT_PERIOD_ALT2" type="xs:string"/>
              <xs:element name="EXT_PERIOD_UNIT" type="xs:string"/>
              <xs:element name="RDPRF" type="xs:string"/>
              <xs:element name="KONDM" type="xs:string"/>
              <xs:element name="BONUS" type="xs:string"/>
              <xs:element name="MTPOS" type="xs:string"/>
              <xs:element name="KTGRM" type="xs:string"/>
              <xs:element name="PROVG" type="xs:string"/>
              <xs:element name="PMATN" type="xs:string"/>
              <xs:element name="VERSG" type="xs:string"/>
              <xs:element name="MVGR1" type="xs:string"/>
              <xs:element name="MVGR2" type="xs:string"/>
              <xs:element name="MVGR3" type="xs:string"/>
              <xs:element name="MVGR4" type="xs:string"/>
              <xs:element name="MVGR5" type="xs:string"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element maxOccurs="unbounded" minOccurs="0" name="TaxClassification">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="PRODUCT" type="xs:string"/>
              <xs:element name="ALAND" type="xs:string"/>
              <xs:element name="TATYP1" type="xs:string"/>
              <xs:element name="TAXM1" type="xs:string"/>
              <xs:element name="TATYP2" type="xs:string"/>
              <xs:element name="TAXM2" type="xs:string"/>
              <xs:element name="TATYP3" type="xs:string"/>
              <xs:element name="TAXM3" type="xs:string"/>
              <xs:element name="TATYP4" type="xs:string"/>
              <xs:element name="TAXM4" type="xs:string"/>
              <xs:element name="TATYP5" type="xs:string"/>
              <xs:element name="TAXM5" type="xs:string"/>
              <xs:element name="TATYP6" type="xs:string"/>
              <xs:element name="TAXM6" type="xs:string"/>
              <xs:element name="TATYP7" type="xs:string"/>
              <xs:element name="TAXM7" type="xs:string"/>
              <xs:element name="TATYP8" type="xs:string"/>
              <xs:element name="TAXM8" type="xs:string"/>
              <xs:element name="TATYP9" type="xs:string"/>
              <xs:element name="TAXM9" type="xs:string"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element maxOccurs="unbounded" minOccurs="0" name="PlantData">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="PRODUCT" type="xs:string"/>
              <xs:element name="WERKS" type="xs:string"/>
              <xs:element name="DISMM" type="xs:string"/>
              <xs:element name="DISPO" type="xs:string"/>
              <xs:element name="MTVFP" type="xs:string"/>
              <xs:element name="MMSTA" type="xs:string"/>
              <xs:element name="MMSTD" type="xs:string"/>
              <xs:element name="PRCTR" type="xs:string"/>
              <xs:element name="AUSME" type="xs:string"/>
              <xs:element name="XCHPF" type="xs:string"/>
              <xs:element name="SERNP" type="xs:string"/>
              <xs:element name="XMCNG" type="xs:string"/>
              <xs:element name="EPRIO" type="xs:string"/>
              <xs:element name="LADGR" type="xs:string"/>
              <xs:element name="KZKUP" type="xs:string"/>
              <xs:element name="KZECH" type="xs:string"/>
              <xs:element name="KZKRI" type="xs:string"/>
              <xs:element name="KZDKZ" type="xs:string"/>
              <xs:element name="PRFRQ" type="xs:string"/>
              <xs:element name="SSQSS" type="xs:string"/>
              <xs:element name="QZGTP" type="xs:string"/>
              <xs:element name="HERKL" type="xs:string"/>
              <xs:element name="HERKR" type="xs:string"/>
              <xs:element name="STEUC" type="xs:string"/>
              <xs:element name="INDUS" type="xs:string"/>
              <xs:element name="EKGRP" type="xs:string"/>
              <xs:element name="INSMK" type="xs:string"/>
              <xs:element name="KORDB" type="xs:string"/>
              <xs:element name="KAUTB" type="xs:string"/>
              <xs:element name="TAXIM" type="xs:string"/>
              <xs:element name="MAABC" type="xs:string"/>
              <xs:element name="DISGR" type="xs:string"/>
              <xs:element name="STRGR" type="xs:string"/>
              <xs:element name="MINBE" type="xs:string"/>
              <xs:element name="FXHOR" type="xs:string"/>
              <xs:element name="LFRHY" type="xs:string"/>
              <xs:element name="VRMOD" type="xs:string"/>
              <xs:element name="VINT1" type="xs:string"/>
              <xs:element name="VINT2" type="xs:string"/>
              <xs:element name="MISKZ" type="xs:string"/>
              <xs:element name="PRGRP" type="xs:string"/>
              <xs:element name="PRWRK" type="xs:string"/>
              <xs:element name="UMREF" type="xs:string"/>
              <xs:element name="DISLS" type="xs:string"/>
              <xs:element name="BSTMI" type="xs:string"/>
              <xs:element name="BSTMA" type="xs:string"/>
              <xs:element name="BSTFE" type="xs:string"/>
              <xs:element name="LAGPR" type="xs:string"/>
              <xs:element name="LOSFX" type="xs:string"/>
              <xs:element name="WAERS" type="xs:string"/>
              <xs:element name="AUSSS" type="xs:string"/>
              <xs:element name="MABST" type="xs:string"/>
              <xs:element name="BSTRF" type="xs:string"/>
              <xs:element name="TAKZT" type="xs:string"/>
              <xs:element name="RDPRF" type="xs:string"/>
              <xs:element name="EISBE" type="xs:string"/>
              <xs:element name="EISLO" type="xs:string"/>
              <xs:element name="SHZET" type="xs:string"/>
              <xs:element name="LGRAD" type="xs:string"/>
              <xs:element name="RWPRO" type="xs:string"/>
              <xs:element name="SHFLG" type="xs:string"/>
              <xs:element name="SHPRO" type="xs:string"/>
              <xs:element name="AHDIS" type="xs:string"/>
              <xs:element name="SFTY_STK_METH" type="xs:string"/>
              <xs:element name="SBDKZ" type="xs:string"/>
              <xs:element name="KAUSF" type="xs:string"/>
              <xs:element name="KZBED" type="xs:string"/>
              <xs:element name="KZAUS" type="xs:string"/>
              <xs:element name="AUSDT" type="xs:string"/>
              <xs:element name="NFMAT" type="xs:string"/>
              <xs:element name="SAUFT" type="xs:string"/>
              <xs:element name="SFEPR" type="xs:string"/>
              <xs:element name="BESKZ" type="xs:string"/>
              <xs:element name="SOBSL" type="xs:string"/>
              <xs:element name="LGPRO" type="xs:string"/>
              <xs:element name="WZEIT" type="xs:string"/>
              <xs:element name="KZPSP" type="xs:string"/>
              <xs:element name="LGFSB" type="xs:string"/>
              <xs:element name="MRPPP" type="xs:string"/>
              <xs:element name="DZEIT" type="xs:string"/>
              <xs:element name="PLIFZ" type="xs:string"/>
              <xs:element name="WEBAZ" type="xs:string"/>
              <xs:element name="RGEKZ" type="xs:string"/>
              <xs:element name="VSPVB" type="xs:string"/>
              <xs:element name="FABKZ" type="xs:string"/>
              <xs:element name="SCHGT" type="xs:string"/>
              <xs:element name="FHORI" type="xs:string"/>
              <xs:element name="PERKZ" type="xs:string"/>
              <xs:element name="PERIV" type="xs:string"/>
              <xs:element name="AUFTL" type="xs:string"/>
              <xs:element name="VRBWK" type="xs:string"/>
              <xs:element name="VRBMT" type="xs:string"/>
              <xs:element name="VRBDT" type="xs:string"/>
              <xs:element name="VRBFK" type="xs:string"/>
              <xs:element name="AUTRU" type="xs:string"/>
              <xs:element name="KZKFK" type="xs:string"/>
              <xs:element name="BASMG" type="xs:string"/>
              <xs:element name="UEETO" type="xs:string"/>
              <xs:element name="UNETO" type="xs:string"/>
              <xs:element name="UEETK" type="xs:string"/>
              <xs:element name="FRTME" type="xs:string"/>
              <xs:element name="FEVOR" type="xs:string"/>
              <xs:element name="SFCPF" type="xs:string"/>
              <xs:element name="RUEZT" type="xs:string"/>
              <xs:element name="TRANZ" type="xs:string"/>
              <xs:element name="BEARZ" type="xs:string"/>
              <xs:element name="ABCIN" type="xs:string"/>
              <xs:element name="CCFIX" type="xs:string"/>
              <xs:element name="NCOST" type="xs:string"/>
              <xs:element name="AWSLS" type="xs:string"/>
              <xs:element name="LOSGR" type="xs:string"/>
              <xs:element name="MAXLZ" type="xs:string"/>
              <xs:element name="LZEIH" type="xs:string"/>
              <xs:element name="VRVEZ" type="xs:string"/>
              <xs:element name="VBEAZ" type="xs:string"/>
              <xs:element name="VBAMG" type="xs:string"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element maxOccurs="unbounded" minOccurs="0" name="ForecastingData">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="PRODUCT" type="xs:string"/>
              <xs:element name="WERKS" type="xs:string"/>
              <xs:element name="PRMOD" type="xs:string"/>
              <xs:element name="PERAN" type="xs:string"/>
              <xs:element name="ANZPR" type="xs:string"/>
              <xs:element name="PERIO" type="xs:string"/>
              <xs:element name="PERIN" type="xs:string"/>
              <xs:element name="FIMON" type="xs:string"/>
              <xs:element name="KZINI" type="xs:string"/>
              <xs:element name="SIGGR" type="xs:string"/>
              <xs:element name="MODAW" type="xs:string"/>
              <xs:element name="MODAV" type="xs:string"/>
              <xs:element name="KZPAR" type="xs:string"/>
              <xs:element name="OPGRA" type="xs:string"/>
              <xs:element name="GEWGR" type="xs:string"/>
              <xs:element name="ALPHA" type="xs:string"/>
              <xs:element name="BETA1" type="xs:string"/>
              <xs:element name="GAMMA" type="xs:string"/>
              <xs:element name="DELTA" type="xs:string"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element maxOccurs="unbounded" minOccurs="0" name="StorageLocations">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="PRODUCT" type="xs:string"/>
              <xs:element name="WERKS" type="xs:string"/>
              <xs:element name="LGORT" type="xs:string"/>
              <xs:element name="LGPBE" type="xs:string"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element maxOccurs="unbounded" minOccurs="0" name="ProductionResourcesTools">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="PRODUCT" type="xs:string"/>
              <xs:element name="WERKS" type="xs:string"/>
              <xs:element name="PLANV" type="xs:string"/>
              <xs:element name="FGRU1" type="xs:string"/>
              <xs:element name="FGRU2" type="xs:string"/>
              <xs:element name="STEUF" type="xs:string"/>
              <xs:element name="STEUF_REF" type="xs:string"/>
              <xs:element name="KTSCH" type="xs:string"/>
              <xs:element name="KTSCH_REF" type="xs:string"/>
              <xs:element name="MGFORM" type="xs:string"/>
              <xs:element name="MGFORM_REF" type="xs:string"/>
              <xs:element name="EWFORM" type="xs:string"/>
              <xs:element name="EWFORM_REF" type="xs:string"/>
              <xs:element name="BZOFFB" type="xs:string"/>
              <xs:element name="BZOFFB_REF" type="xs:string"/>
              <xs:element name="OFFSTB" type="xs:string"/>
              <xs:element name="EHOFFB" type="xs:string"/>
              <xs:element name="OFFSTB_REF" type="xs:string"/>
              <xs:element name="BZOFFE" type="xs:string"/>
              <xs:element name="BZOFFE_REF" type="xs:string"/>
              <xs:element name="OFFSTE" type="xs:string"/>
              <xs:element name="EHOFFE" type="xs:string"/>
              <xs:element name="OFFSTE_REF" type="xs:string"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element maxOccurs="unbounded" minOccurs="0" name="InspectionSetupData">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="PRODUCT" type="xs:string"/>
              <xs:element name="WERKS" type="xs:string"/>
              <xs:element name="ART" type="xs:string"/>
              <xs:element name="APA" type="xs:string"/>
              <xs:element name="AKTIV" type="xs:string"/>
              <xs:element name="INSMK" type="xs:string"/>
              <xs:element name="CHG" type="xs:string"/>
              <xs:element name="CHG_ORIG" type="xs:string"/>
              <xs:element name="EIN" type="xs:string"/>
              <xs:element name="DYNREGEL" type="xs:string"/>
              <xs:element name="DYN" type="xs:string"/>
              <xs:element name="PPL" type="xs:string"/>
              <xs:element name="APP" type="xs:string"/>
              <xs:element name="MER" type="xs:string"/>
              <xs:element name="STICHPRVER" type="xs:string"/>
              <xs:element name="HPZ" type="xs:string"/>
              <xs:element name="SPROZ" type="xs:string"/>
              <xs:element name="MST" type="xs:string"/>
              <xs:element name="MPB" type="xs:string"/>
              <xs:element name="MPDAU" type="xs:string"/>
              <xs:element name="AVE" type="xs:string"/>
              <xs:element name="QKZVERF" type="xs:string"/>
              <xs:element name="TLS" type="xs:string"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element maxOccurs="unbounded" minOccurs="0" name="MRPArea">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="PRODUCT" type="xs:string"/>
              <xs:element name="BERID" type="xs:string"/>
              <xs:element name="WERKS" type="xs:string"/>
              <xs:element name="DISMM" type="xs:string"/>
              <xs:element name="DISPO" type="xs:string"/>
              <xs:element name="DISGR" type="xs:string"/>
              <xs:element name="MINBE" type="xs:string"/>
              <xs:element name="FXHOR" type="xs:string"/>
              <xs:element name="LFRHY" type="xs:string"/>
              <xs:element name="DISLS" type="xs:string"/>
              <xs:element name="BSTMI" type="xs:string"/>
              <xs:element name="BSTMA" type="xs:string"/>
              <xs:element name="BSTFE" type="xs:string"/>
              <xs:element name="LAGPR" type="xs:string"/>
              <xs:element name="LOSFX" type="xs:string"/>
              <xs:element name="WAERS" type="xs:string"/>
              <xs:element name="AUSSS" type="xs:string"/>
              <xs:element name="MABST" type="xs:string"/>
              <xs:element name="BSTRF" type="xs:string"/>
              <xs:element name="TAKZT" type="xs:string"/>
              <xs:element name="RDPRF" type="xs:string"/>
              <xs:element name="EISBE" type="xs:string"/>
              <xs:element name="LGRAD" type="xs:string"/>
              <xs:element name="RWPRO" type="xs:string"/>
              <xs:element name="SHFLG" type="xs:string"/>
              <xs:element name="SHZET" type="xs:string"/>
              <xs:element name="SHPRO" type="xs:string"/>
              <xs:element name="AHDIS" type="xs:string"/>
              <xs:element name="SFTY_STK_METH" type="xs:string"/>
              <xs:element name="SOBSL" type="xs:string"/>
              <xs:element name="LGFSB" type="xs:string"/>
              <xs:element name="MRPPP" type="xs:string"/>
              <xs:element name="PLIFZX" type="xs:string"/>
              <xs:element name="PLIFZ" type="xs:string"/>
              <xs:element name="LGPRO" type="xs:string"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element maxOccurs="unbounded" minOccurs="0" name="ValuationData">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="PRODUCT" type="xs:string"/>
              <xs:element name="BWKEY" type="xs:string"/>
              <xs:element name="BWTAR" type="xs:string"/>
              <xs:element name="BWTTY" type="xs:string"/>
              <xs:element name="MLAST" type="xs:string"/>
              <xs:element name="BKLAS" type="xs:string"/>
              <xs:element name="EKLAS" type="xs:string"/>
              <xs:element name="QKLAS" type="xs:string"/>
              <xs:element name="VPRSV" type="xs:string"/>
              <xs:element name="WAERS" type="xs:string"/>
              <xs:element name="VERPR" type="xs:string"/>
              <xs:element name="STPRS" type="xs:string"/>
              <xs:element name="PEINH" type="xs:string"/>
              <xs:element name="ZKPRS" type="xs:string"/>
              <xs:element name="ZKDAT" type="xs:string"/>
              <xs:element name="ZPLP1" type="xs:string"/>
              <xs:element name="ZPLD1" type="xs:string"/>
              <xs:element name="ZPLP2" type="xs:string"/>
              <xs:element name="ZPLD2" type="xs:string"/>
              <xs:element name="ZPLP3" type="xs:string"/>
              <xs:element name="ZPLD3" type="xs:string"/>
              <xs:element name="BWPRS" type="xs:string"/>
              <xs:element name="BWPS1" type="xs:string"/>
              <xs:element name="VJBWS" type="xs:string"/>
              <xs:element name="BWPEI" type="xs:string"/>
              <xs:element name="BWPRH" type="xs:string"/>
              <xs:element name="BWPH1" type="xs:string"/>
              <xs:element name="VJBWH" type="xs:string"/>
              <xs:element name="XLIFO" type="xs:string"/>
              <xs:element name="ABWKZ" type="xs:string"/>
              <xs:element name="MTUSE" type="xs:string"/>
              <xs:element name="MTORG" type="xs:string"/>
              <xs:element name="OWPNR" type="xs:string"/>
              <xs:element name="HKMAT" type="xs:string"/>
              <xs:element name="EKALR" type="xs:string"/>
              <xs:element name="KOSGR" type="xs:string"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element maxOccurs="unbounded" minOccurs="0" name="ValuationCurrentPeriod">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="PRODUCT" type="xs:string"/>
              <xs:element name="BWKEY" type="xs:string"/>
              <xs:element name="BWTAR" type="xs:string"/>
              <xs:element name="BWTTY" type="xs:string"/>
              <xs:element name="CURTP" type="xs:string"/>
              <xs:element name="VPRSV" type="xs:string"/>
              <xs:element name="WAERS" type="xs:string"/>
              <xs:element name="VERPR" type="xs:string"/>
              <xs:element name="STPRS" type="xs:string"/>
              <xs:element name="PEINH" type="xs:string"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element maxOccurs="unbounded" minOccurs="0" name="ValuationFuturePrice">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="PRODUCT" type="xs:string"/>
              <xs:element name="BWKEY" type="xs:string"/>
              <xs:element name="BWTAR" type="xs:string"/>
              <xs:element name="BWTTY" type="xs:string"/>
              <xs:element name="CURTP" type="xs:string"/>
              <xs:element name="WAERS" type="xs:string"/>
              <xs:element name="ZKPRS_1" type="xs:string"/>
              <xs:element name="ZPRSDAT_1" type="xs:string"/>
              <xs:element name="PEINH" type="xs:string"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>