Resources/canonical_library/xsd/profile.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="profile">
    <xs:complexType>
      <xs:sequence>
        <xs:element type="xs:string" name="activities"/>
        <xs:element type="xs:string" name="address"/>
        <xs:element type="xs:byte" name="age"/>
        <xs:element type="xs:string" name="bio"/>
        <xs:element type="xs:byte" name="birthDay"/>
        <xs:element type="xs:byte" name="birthMonth"/>
        <xs:element type="xs:short" name="birthYear"/>
        <xs:element name="certifications">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="element">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:string" name="authority"/>
                    <xs:element type="xs:string" name="endDate"/>
                    <xs:element type="xs:string" name="name"/>
                    <xs:element type="xs:string" name="number"/>
                    <xs:element type="xs:string" name="startDate"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element type="xs:string" name="city"/>
        <xs:element type="xs:string" name="country"/>
        <xs:element name="education">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="element">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:string" name="degree"/>
                    <xs:element type="xs:short" name="endYear"/>
                    <xs:element type="xs:string" name="fieldOfStudy"/>
                    <xs:element type="xs:string" name="school"/>
                    <xs:element type="xs:string" name="schoolType"/>
                    <xs:element type="xs:short" name="startYear"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element type="xs:string" name="educationLevel"/>
        <xs:element type="xs:string" name="email"/>
        <xs:element name="favorites">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="element">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:string" name="activities.category"/>
                    <xs:element type="xs:string" name="activities.id"/>
                    <xs:element type="xs:string" name="activities.name"/>
                    <xs:element type="xs:string" name="books.category"/>
                    <xs:element type="xs:string" name="books.id"/>
                    <xs:element type="xs:string" name="books.name"/>
                    <xs:element type="xs:string" name="interests.category"/>
                    <xs:element type="xs:string" name="interests.id"/>
                    <xs:element type="xs:string" name="interests.name"/>
                    <xs:element type="xs:string" name="movies.category"/>
                    <xs:element type="xs:string" name="movies.id"/>
                    <xs:element type="xs:string" name="movies.name"/>
                    <xs:element type="xs:string" name="music.category"/>
                    <xs:element type="xs:string" name="music.id"/>
                    <xs:element type="xs:string" name="music.name"/>
                    <xs:element type="xs:string" name="television.category"/>
                    <xs:element type="xs:string" name="television.id"/>
                    <xs:element type="xs:string" name="television.name"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element type="xs:string" name="firstName"/>
        <xs:element type="xs:short" name="followersCount"/>
        <xs:element type="xs:byte" name="followingCount"/>
        <xs:element type="xs:string" name="gender"/>
        <xs:element type="xs:string" name="hometown"/>
        <xs:element type="xs:string" name="honors"/>
        <xs:element type="xs:string" name="industry"/>
        <xs:element type="xs:string" name="interestedIn"/>
        <xs:element type="xs:string" name="interests"/>
        <xs:element type="xs:string" name="languages"/>
        <xs:element name="lastLoginLocation">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="element">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:string" name="city"/>
                    <xs:element type="xs:float" name="coordinates.lat"/>
                    <xs:element type="xs:float" name="coordinates.lon"/>
                    <xs:element type="xs:string" name="country"/>
                    <xs:element type="xs:string" name="state"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element type="xs:string" name="lastName"/>
        <xs:element name="likes">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="element">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:string" name="category"/>
                    <xs:element type="xs:string" name="id"/>
                    <xs:element type="xs:string" name="name"/>
                    <xs:element type="xs:string" name="time"/>
                    <xs:element type="xs:byte" name="timestamp"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element type="xs:string" name="locale"/>
        <xs:element type="xs:string" name="name"/>
        <xs:element type="xs:string" name="nickname"/>
        <xs:element name="oidcData">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="element">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:string" name="address.country"/>
                    <xs:element type="xs:string" name="address.formatted"/>
                    <xs:element type="xs:string" name="address.locality"/>
                    <xs:element type="xs:string" name="address.postal_code"/>
                    <xs:element type="xs:string" name="address.region"/>
                    <xs:element type="xs:string" name="address.street_address"/>
                    <xs:element type="xs:string" name="email_verified"/>
                    <xs:element type="xs:string" name="locale"/>
                    <xs:element type="xs:string" name="middle_name"/>
                    <xs:element type="xs:string" name="name"/>
                    <xs:element type="xs:string" name="phone_number"/>
                    <xs:element type="xs:string" name="phone_number_verified"/>
                    <xs:element type="xs:string" name="updated_at"/>
                    <xs:element type="xs:string" name="website"/>
                    <xs:element type="xs:string" name="zoneinfo"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="patents">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="element">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:string" name="date"/>
                    <xs:element type="xs:string" name="number"/>
                    <xs:element type="xs:string" name="office"/>
                    <xs:element type="xs:string" name="status"/>
                    <xs:element type="xs:string" name="summary"/>
                    <xs:element type="xs:string" name="title"/>
                    <xs:element type="xs:string" name="url"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="phones">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="element">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:string" name="default"/>
                    <xs:element type="xs:string" name="number"/>
                    <xs:element type="xs:string" name="type"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element type="xs:string" name="photoURL"/>
        <xs:element type="xs:string" name="politicalView"/>
        <xs:element type="xs:string" name="professionalHeadline"/>
        <xs:element type="xs:string" name="profileURL"/>
        <xs:element type="xs:string" name="proxyemail"/>
        <xs:element name="publications">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="element">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:string" name="date"/>
                    <xs:element type="xs:string" name="publisher"/>
                    <xs:element type="xs:string" name="summary"/>
                    <xs:element type="xs:string" name="title"/>
                    <xs:element type="xs:string" name="url"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element type="xs:string" name="relationshipStatus"/>
        <xs:element type="xs:string" name="religion"/>
        <xs:element name="skills">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="element">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:string" name="level"/>
                    <xs:element type="xs:string" name="skill"/>
                    <xs:element type="xs:byte" name="years"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element type="xs:string" name="specialities"/>
        <xs:element type="xs:string" name="state"/>
        <xs:element type="xs:string" name="thumbnailURL"/>
        <xs:element type="xs:string" name="timezone"/>
        <xs:element type="xs:string" name="username"/>
        <xs:element type="xs:string" name="verified"/>
        <xs:element name="work">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="element">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:string" name="company"/>
                    <xs:element type="xs:string" name="companyID"/>
                    <xs:element type="xs:short" name="companySize"/>
                    <xs:element type="xs:string" name="description"/>
                    <xs:element type="xs:string" name="endDate"/>
                    <xs:element type="xs:string" name="industry"/>
                    <xs:element type="xs:string" name="isCurrent"/>
                    <xs:element type="xs:string" name="location"/>
                    <xs:element type="xs:string" name="startDate"/>
                    <xs:element type="xs:string" name="title"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element type="xs:string" name="zip"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>