Resources/canonical_library/xsd/ProjectPlan.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:complexType name="ProjectPlanTask">
	<xs:sequence>
	  <xs:element name="parentObjectUniqueId" type="xs:string"/>
	  <xs:element name="startDate" type="xs:date"/>
	  <xs:element name="externalUuid" type="xs:string"/>
	  <xs:element name="uniqueId" type="xs:string"/>
	  <xs:element name="finishDate" type="xs:date"/>
	  <xs:element name="name" type="xs:string"/>
	  <xs:element name="milestone" type="xs:boolean"/>
	  <xs:element name="humanReadableId" type="xs:string"/>
	</xs:sequence>
  </xs:complexType>

  
	<xs:element name="ProjectPlan">
	  <xs:complexType>
		<xs:sequence>
		  <xs:element name="Tasks" type="ProjectPlanTask" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	  </xs:complexType>
	</xs:element>	

</xs:schema>