Resources/canonical_library/xsd/PurchaseRequisitionItemPacketsSet.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="PurchaseRequisitionItemPacketsSet">
    <xs:complexType>
      <xs:sequence minOccurs="0">
        <xs:element minOccurs="0" maxOccurs="unbounded" name="PurchaseRequisitionItemPackets">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="PurchasingObjectItemFrom" type="xs:unsignedByte" />
              <xs:element name="PurchasingObjectItemTo" type="xs:unsignedShort" />
              <xs:element name="PurchasingObjectFrom" type="xs:unsignedInt" />
              <xs:element name="PurchaseRequisitionItemCount" type="xs:unsignedShort" />
              <xs:element name="PurchasingObjectTo" type="xs:unsignedInt" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>