Resources/canonical_library/xsd/PurchaseRequisitionSet.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="PurchaseRequisitionSet">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="PurchaseRequisition">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:int" name="PurchaseRequisition"/>
              <xs:element type="xs:dateTime" name="LastChangeDateTime"/>
              <xs:element type="xs:byte" name="ProcessingStatus"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>