Resources/canonical_library/xsd/PurchaseOrderPackets.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="PurchaseOrderPackets">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="PurchaseOrderPacket" minOccurs="0" maxOccurs="unbounded">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:long" name="Purchaseorderfrom" />
              <xs:element type="xs:long" name="Purchaseorderto" />
              <xs:element type="xs:dateTime" name="ExtractionTime" />
              <xs:element type="xs:string" name="ExtractionCategory" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>