Resources/canonical_library/xsd/Purchase_Requisition.xsd

<?xml version="1.0" encoding="UTF-8"?><xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="qualified">
  <xs:element name="Purchase_Requisition">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" minOccurs="0" name="PR">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="PR_Creation_List" type="xs:string"/>
              <xs:element name="PR_PO_Status" type="xs:string"/>
              <xs:element name="Created_By" type="xs:string"/>
              <xs:element name="Request_ID" type="xs:short"/>
              <xs:element name="PR_Number" type="xs:string"/>
              <xs:element name="Unique_Key" type="xs:string"/>
              <xs:element name="Request_Name" type="xs:string"/>
              <xs:element name="Contract_Reference" type="xs:short"/>
              <xs:element name="Anaplan_Line_Number" type="xs:byte"/>
              <xs:element name="PR_Line_Number" type="xs:byte"/>
              <xs:element name="Quantity" type="xs:short"/>
              <xs:element name="Price" type="xs:short"/>
              <xs:element name="Supplier_Code" type="xs:int"/>
              <xs:element name="SKU" type="xs:string"/>
              <xs:element name="Deliver_To_Code" type="xs:string"/>
              <xs:element name="Need_By_Date" type="xs:string"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>