Resources/canonical_library/xsd/PURCHASE_REQUISITION.xsd

<?xml version="1.0" encoding="UTF-8"?><!-- Created with Liquid Technologies Online Tools 1.0 (https://www.liquid-technologies.com) --><xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="qualified">
  <xs:element name="PURCHASE_REQUISITION">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="REQUISITION_NO"/>
        <xs:element name="REQUEST_ID"/>
        <xs:element name="REQUISITION_TITLE"/>
        <xs:element name="REQUISITION_PREPARER"/>
        <xs:element name="REQUISITION_REQUESTER"/>
        <xs:element name="LINES">
          <xs:complexType>
            <xs:sequence>
              <xs:element maxOccurs="unbounded" name="PURCHASE_REQUISITION_LINE">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="LINE_NO"/>
                    <xs:element name="PART_NO"/>
                    <xs:element name="DESCRIPTION"/>
                    <xs:element name="WANTED_DELIVERY_DATE"/>
                    <xs:element name="BUY_UNIT_PRICE"/>
                    <xs:element name="VENDOR_NO"/>
                    <xs:element name="UNSPSC_NO"/>
                    <xs:element name="PR_PO_Status"/>
                    <xs:element name="SALES_QTY"/>
                    <xs:element name="CURRENCY"/>
                    <xs:element name="COMMODITY_CODE"/>
                    <xs:element name="BUSINESS_UNIT"/>
                    <xs:element name="ACCOUNT"/>
                    <xs:element name="SUBLEDGER"/>
                    <xs:element name="CONTRACT_REF"/>
                    <xs:element name="PLANT"/>
                    <xs:element name="ARIBA_PR_LINENUM"/>
                    <xs:element name="DELIVER_TO"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>