Resources/canonical_library/xsd/queryAssessmentOrderResponse.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema attributeFormDefault="unqualified"
	elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="queryAssessmentOrderResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element minOccurs="0" maxOccurs="unbounded" name="AssessmentOrder">
					<xs:complexType>
						<xs:sequence>
							<xs:element type="xs:int" nillable="true" minOccurs="0"
								maxOccurs="unbounded" name="applicationId" xmlns="" />
							<xs:element type="xs:int" nillable="true" minOccurs="0"
								maxOccurs="unbounded" name="applicationTemplateId" xmlns="" />
							<xs:element nillable="true" minOccurs="0" maxOccurs="unbounded"
								name="assessmentPackageCode">
								<xs:simpleType>
									<xs:restriction base="xs:string" xmlns="">
										<xs:maxLength value="256" />
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element type="xs:int" nillable="true" minOccurs="0"
								maxOccurs="unbounded" name="candidateId" xmlns="" />
							<xs:element type="xs:int" nillable="true" minOccurs="0"
								maxOccurs="unbounded" name="candidateTemplateId" xmlns="" />
							<xs:element nillable="true" minOccurs="0" maxOccurs="unbounded"
								name="clientId">
								<xs:simpleType>
									<xs:restriction base="xs:string" xmlns="">
										<xs:maxLength value="256" />
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element nillable="true" minOccurs="0" maxOccurs="unbounded"
								name="createdBy">
								<xs:simpleType>
									<xs:restriction base="xs:string" xmlns="">
										<xs:maxLength value="45" />
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element type="xs:string" nillable="true"
								minOccurs="0" maxOccurs="unbounded" name="createdDate" xmlns="" />
							<xs:element nillable="true" minOccurs="0" maxOccurs="unbounded"
								name="handbackUrl">
								<xs:simpleType>
									<xs:restriction base="xs:string" xmlns="">
										<xs:maxLength value="256" />
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element nillable="false" maxOccurs="unbounded"
								name="id">
								<xs:simpleType>
									<xs:restriction base="xs:string" xmlns="">
										<xs:maxLength value="38" />
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element type="xs:int" nillable="true" minOccurs="0"
								maxOccurs="unbounded" name="jobReqId" xmlns="" />
							<xs:element type="xs:int" nillable="true" minOccurs="0"
								maxOccurs="unbounded" name="jobReqTemplateId" xmlns="" />
							<xs:element nillable="true" minOccurs="0" maxOccurs="unbounded"
								name="lastModifiedBy">
								<xs:simpleType>
									<xs:restriction base="xs:string" xmlns="">
										<xs:maxLength value="45" />
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element type="xs:string" nillable="true"
								minOccurs="0" maxOccurs="unbounded" name="lastModifiedDate"
								xmlns="" />
							<xs:element nillable="true" minOccurs="0" maxOccurs="unbounded"
								name="partnerId">
								<xs:simpleType>
									<xs:restriction base="xs:string" xmlns="">
										<xs:maxLength value="256" />
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element nillable="true" minOccurs="0" maxOccurs="unbounded"
								name="vendorCode">
								<xs:simpleType>
									<xs:restriction base="xs:string" xmlns="">
										<xs:maxLength value="256" />
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>