Resources/canonical_library/xsd/queryEmployeeResponse.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- Created with Liquid Technologies Online Tools 1.0 (https://www.liquid-technologies.com) -->
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="queryEmployeeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Employee">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="address1" type="xs:string" />
              <xs:element name="city" type="xs:string" />
              <xs:element name="country" type="xs:string" />
              <xs:element name="countryName" type="xs:string" />
              <xs:element name="person_id" type="xs:string" />
              <xs:element name="person_id_external" type="xs:string" />
              <xs:element name="state" type="xs:string" />
              <xs:element name="zip_code" type="xs:string" />
              <xs:element name="fname" type="xs:string" />
              <xs:element name="lname" type="xs:string" />
              <xs:element name="email" type="xs:string" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>