Resources/canonical_library/xsd/queryPerEmailResponse.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?><xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema"><xs:element name="queryPerEmailResponse"><xs:complexType><xs:sequence><xs:element minOccurs="0" maxOccurs="unbounded" name="PerEmail"><xs:complexType><xs:sequence><xs:element nillable="true" minOccurs="0" maxOccurs="unbounded" name="email_address"><xs:simpleType><xs:restriction base="xs:string" xmlns=""><xs:maxLength value="100"/></xs:restriction></xs:simpleType></xs:element><xs:element nillable="false" maxOccurs="unbounded" name="person_id_external"><xs:simpleType><xs:restriction base="xs:string" xmlns=""><xs:maxLength value="32"/></xs:restriction></xs:simpleType></xs:element></xs:sequence></xs:complexType></xs:element></xs:sequence></xs:complexType></xs:element></xs:schema>