Resources/canonical_library/xsd/Quotes.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified"
  xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Quotes">
    <xs:complexType>
      <xs:sequence>
        <xs:element type="xs:int" name="QuoteId"/>
        <xs:element type="xs:string" name="Comment" minOccurs="0" maxOccurs="1"/>
        <xs:element type="xs:dateTime" name="DateCreated" minOccurs="0" maxOccurs="1"/>
        <xs:element type="xs:dateTime" name="DateModified" minOccurs="0" maxOccurs="1"/>
        <xs:element type="xs:dateTime" name="DateOrdered" minOccurs="0" maxOccurs="1"/>
        <xs:element type="xs:dateTime" name="DateClosed" minOccurs="0" maxOccurs="1"/>
        <xs:element type="xs:dateTime" name="EffectiveDate" minOccurs="0" maxOccurs="1"/>
        <xs:element type="xs:string" name="ExternalId" minOccurs="0" maxOccurs="1"/>
        <xs:element type="xs:string" name="ExternalSystemId" minOccurs="0" maxOccurs="1"/>
        <xs:element type="xs:string" name="MarketCode" minOccurs="0" maxOccurs="1"/>
        <xs:element type="xs:string" name="CurrencyCode" minOccurs="0" maxOccurs="1"/>
        <xs:element type="xs:string" name="SalesOrganization" minOccurs="0" maxOccurs="1"/>
        <xs:element type="xs:string" name="Currency" minOccurs="0" maxOccurs="1"/>
        <xs:element type="xs:int" name="MarketId" minOccurs="0" maxOccurs="1"/>
        <xs:element type="xs:string" name="Origin" minOccurs="0" maxOccurs="1"/>
        <xs:element type="xs:int" name="OwnerId" minOccurs="0" maxOccurs="1"/>
        <xs:element type="xs:int" name="PriceBookId" minOccurs="0" maxOccurs="1"/>
        <xs:element type="xs:string" name="DistributionChannel" minOccurs="0" maxOccurs="1"/>
        <xs:element type="xs:int" name="StatusId" minOccurs="0" maxOccurs="1"/>
        <xs:element type="xs:string" name="StatusName" minOccurs="0" maxOccurs="1"/>
        <xs:element type="xs:string" name="QuoteNumber" minOccurs="0" maxOccurs="1"/>
        <xs:element type="xs:string" name="RevisionNumber" minOccurs="0" maxOccurs="1"/>
        <xs:element type="xs:string" name="OpportunityId" minOccurs="0" maxOccurs="1"/>
        <xs:element type="xs:string" name="OpportunityName" minOccurs="0" maxOccurs="1"/>
        <xs:element type="xs:boolean" name="IsPrimary" minOccurs="0" maxOccurs="1"/>
        <xs:element type="xs:string" name="ErrorMessage" minOccurs="0" maxOccurs="1"/>
        <xs:element type="xs:string" name="Comments" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:int" name="Id" minOccurs="0" maxOccurs="1"/>
              <xs:element type="xs:int" name="ItemId" minOccurs="0" maxOccurs="1"/>
              <xs:element type="xs:string" name="UserFullName" minOccurs="0" maxOccurs="1"/>
              <xs:element type="xs:string" name="UserEmail" minOccurs="0" maxOccurs="1"/>
              <xs:element type="xs:string" name="UserCompany" minOccurs="0" maxOccurs="1"/>
              <xs:element type="xs:dateTime" name="DateCreated" minOccurs="0" maxOccurs="1"/>
              <xs:element type="xs:string" name="Comment" minOccurs="0" maxOccurs="1"/>
              <xs:element type="xs:int" name="Source" minOccurs="0" maxOccurs="1"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="InvolvedParties" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:int" name="PartnerFunctionId" minOccurs="0" maxOccurs="1"/>
              <xs:element type="xs:string" name="PartnerFunctionKey" minOccurs="0" maxOccurs="1"/>
              <xs:element type="xs:string" name="PartnerFunctionName" minOccurs="0" maxOccurs="1"/>
              <xs:element type="xs:int" name="BusinessPartnerId" minOccurs="0" maxOccurs="1"/>
              <xs:element type="xs:string" name="ExternalId" nillable="true" minOccurs="0" maxOccurs="1"/>
              <xs:element type="xs:string" name="PartnerNumber" minOccurs="0" maxOccurs="1"/>
              <xs:element type="xs:string" name="Name" minOccurs="0" maxOccurs="1"/>
              <xs:element type="xs:string" name="FirstName" minOccurs="0" maxOccurs="1"/>
              <xs:element type="xs:string" name="LastName" minOccurs="0" maxOccurs="1"/>
              <xs:element type="xs:string" name="Country" minOccurs="0" maxOccurs="1"/>
              <xs:element type="xs:string" name="State" minOccurs="0" maxOccurs="1"/>
              <xs:element type="xs:string" name="Region" minOccurs="0" maxOccurs="1"/>
              <xs:element type="xs:string" name="CityName" minOccurs="0" maxOccurs="1"/>
              <xs:element type="xs:string" name="PostalCode " minOccurs="0" maxOccurs="1"/>
              <xs:element type="xs:string" name="TimeZone" minOccurs="0" maxOccurs="1"/>
              <xs:element type="xs:string" name="AddressName" minOccurs="0" maxOccurs="1"/>
              <xs:element type="xs:string" name="AddressAdditionalName" minOccurs="0" maxOccurs="1"/>
              <xs:element type="xs:string" name="EmailAddress" minOccurs="0" maxOccurs="1"/>
              <xs:element type="xs:string" name="Phone" minOccurs="0" maxOccurs="1"/>
              <xs:element type="xs:string" name="VATNumber" minOccurs="0" maxOccurs="1"/>
              <xs:element type="xs:string" name="TaxNumber1" minOccurs="0" maxOccurs="1"/>
              <xs:element type="xs:string" name="TaxNumber2" minOccurs="0" maxOccurs="1"/>
              <xs:element type="xs:string" name="Fax" minOccurs="0" maxOccurs="1"/>
              <xs:element type="xs:string" name="BankAccount1" minOccurs="0" maxOccurs="1"/>
              <xs:element type="xs:string" name="BankAccount2" minOccurs="0" maxOccurs="1"/>
              <xs:element type="xs:string" name="PrimaryIndustry" minOccurs="0" maxOccurs="1"/>
              <xs:element type="xs:string" name="SystemId" minOccurs="0" maxOccurs="1"/>
              <xs:element type="xs:int" name="Id" minOccurs="0" maxOccurs="1"/>
              <xs:element type="xs:string" name="PartnerId" minOccurs="0" maxOccurs="1"/>
              <xs:element type="xs:string" name="FormOfAddress" minOccurs="0" maxOccurs="1"/>
              <xs:element type="xs:string" name="AddressName3" minOccurs="0" maxOccurs="1"/>
              <xs:element type="xs:string" name="AddressName4" minOccurs="0" maxOccurs="1"/>
              <xs:element type="xs:string" name="TaxJurisdiction" minOccurs="0" maxOccurs="1"/>
              <xs:element type="xs:string" name="POBoxPostalCode" minOccurs="0" maxOccurs="1"/>
              <xs:element type="xs:string" name="POBox" minOccurs="0" maxOccurs="1"/>
              <xs:element type="xs:string" name="District" minOccurs="0" maxOccurs="1"/>
              <xs:element type="xs:string" name="StreetPrefixName" minOccurs="0" maxOccurs="1"/>
              <xs:element type="xs:string" name="AdditionalStreetPrefixName" minOccurs="0" maxOccurs="1"/>
              <xs:element type="xs:string" name="StreetName" minOccurs="0" maxOccurs="1"/>
              <xs:element type="xs:string" name="StreetSuffixName" minOccurs="0" maxOccurs="1"/>
              <xs:element type="xs:string" name="AdditionalStreetSuffixName" minOccurs="0" maxOccurs="1"/>
              <xs:element type="xs:string" name="HouseNumber" minOccurs="0" maxOccurs="1"/>
              <xs:element type="xs:string" name="TransportZone" minOccurs="0" maxOccurs="1"/>
              <xs:element type="xs:string" name="CorrespondenceLanguage" minOccurs="0" maxOccurs="1"/>
              <xs:element type="xs:string" name="MobilePhone" minOccurs="0" maxOccurs="1"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element type="xs:string" name="QuoteTables" maxOccurs="unbounded" minOccurs="0"/>
        <xs:element name="CustomFields" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="Name" minOccurs="0" maxOccurs="1"/>
              <xs:element type="xs:string" name="Content" minOccurs="0" maxOccurs="1"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="TotalAmount">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:float" name="Value" minOccurs="0" maxOccurs="1"/>
              <xs:element type="xs:string" name="Currency" minOccurs="0" maxOccurs="1"/>
              <xs:element type="xs:string" name="Period" minOccurs="0" maxOccurs="1"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="TotalMrcAmount" minOccurs="0" maxOccurs="1">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:float" name="Value" minOccurs="0" maxOccurs="1"/>
              <xs:element type="xs:string" name="Currency" minOccurs="0" maxOccurs="1"/>
              <xs:element type="xs:string" name="Period" minOccurs="0" maxOccurs="1"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="TotalListPrice">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:float" name="Value" minOccurs="0" maxOccurs="1"/>
              <xs:element type="xs:string" name="Currency" minOccurs="0" maxOccurs="1"/>
              <xs:element type="xs:string" name="Period" minOccurs="0" maxOccurs="1"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="TotalMRCListPrice" minOccurs="0" maxOccurs="1">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:float" name="Value" minOccurs="0" maxOccurs="1"/>
              <xs:element type="xs:string" name="Currency" minOccurs="0" maxOccurs="1"/>
              <xs:element type="xs:string" name="Period" minOccurs="0" maxOccurs="1"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="TotalNetPrice">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:float" name="Value" minOccurs="0" maxOccurs="1"/>
              <xs:element type="xs:string" name="Currency" minOccurs="0" maxOccurs="1"/>
              <xs:element type="xs:string" name="Period" minOccurs="0" maxOccurs="1"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="TotalMRCNetPrice" minOccurs="0" maxOccurs="1">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:float" name="Value" minOccurs="0" maxOccurs="1"/>
              <xs:element type="xs:string" name="Currency" minOccurs="0" maxOccurs="1"/>
              <xs:element type="xs:string" name="Period" minOccurs="0" maxOccurs="1"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="Cost">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:float" name="Value" minOccurs="0" maxOccurs="1"/>
              <xs:element type="xs:string" name="Currency" minOccurs="0" maxOccurs="1"/>
              <xs:element type="xs:string" name="Period" minOccurs="0" maxOccurs="1"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="TotalMRCCost" minOccurs="0" maxOccurs="1">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:float" name="Value" minOccurs="0" maxOccurs="1"/>
              <xs:element type="xs:string" name="Currency" minOccurs="0" maxOccurs="1"/>
              <xs:element type="xs:string" name="Period" minOccurs="0" maxOccurs="1"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="TotalProductDiscountAmount">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:float" name="Value" minOccurs="0" maxOccurs="1"/>
              <xs:element type="xs:string" name="Currency" minOccurs="0" maxOccurs="1"/>
              <xs:element type="xs:string" name="Period" minOccurs="0" maxOccurs="1"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="TotalMRCProductDiscountAmount" minOccurs="0" maxOccurs="1">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:float" name="Value" minOccurs="0" maxOccurs="1"/>
              <xs:element type="xs:string" name="Currency" minOccurs="0" maxOccurs="1"/>
              <xs:element type="xs:string" name="Period" minOccurs="0" maxOccurs="1"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="AverageProductDiscountPercent">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:float" name="Value" minOccurs="0" maxOccurs="1"/>
              <xs:element type="xs:string" name="Currency" minOccurs="0" maxOccurs="1"/>
              <xs:element type="xs:string" name="Period" minOccurs="0" maxOccurs="1"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="AverageMRCProductDiscountPercent" minOccurs="0" maxOccurs="1">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:float" name="Value" minOccurs="0" maxOccurs="1"/>
              <xs:element type="xs:string" name="Currency" minOccurs="0" maxOccurs="1"/>
              <xs:element type="xs:string" name="Period" minOccurs="0" maxOccurs="1"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="AverageGrossMarginPercent">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:float" name="Value" minOccurs="0" maxOccurs="1"/>
              <xs:element type="xs:string" name="Currency" minOccurs="0" maxOccurs="1"/>
              <xs:element type="xs:string" name="Period" minOccurs="0" maxOccurs="1"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="AverageMRCGrossMarginPercent" minOccurs="0" maxOccurs="1">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:float" name="Value" minOccurs="0" maxOccurs="1"/>
              <xs:element type="xs:string" name="Currency" minOccurs="0" maxOccurs="1"/>
              <xs:element type="xs:string" name="Period" minOccurs="0" maxOccurs="1"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element type="xs:string" name="OrderId" minOccurs="0" maxOccurs="1"/>
        <xs:element name="RecurringNetPriceMonthly" minOccurs="0" maxOccurs="1">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:float" name="Value" minOccurs="0" maxOccurs="1"/>
              <xs:element type="xs:string" name="Currency" minOccurs="0" maxOccurs="1"/>
              <xs:element type="xs:string" name="Period" minOccurs="0" maxOccurs="1"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="RecurringNetPriceYearly" minOccurs="0" maxOccurs="1">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:float" name="Value" minOccurs="0" maxOccurs="1"/>
              <xs:element type="xs:string" name="Currency" minOccurs="0" maxOccurs="1"/>
              <xs:element type="xs:string" name="Period" minOccurs="0" maxOccurs="1"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="RecurringCostMonthly" minOccurs="0" maxOccurs="1">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:float" name="Value" minOccurs="0" maxOccurs="1"/>
              <xs:element type="xs:string" name="Currency" minOccurs="0" maxOccurs="1"/>
              <xs:element type="xs:string" name="Period" minOccurs="0" maxOccurs="1"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="RecurringCostYearly" minOccurs="0" maxOccurs="1">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:float" name="Value" minOccurs="0" maxOccurs="1"/>
              <xs:element type="xs:string" name="Currency" minOccurs="0" maxOccurs="1"/>
              <xs:element type="xs:string" name="Period" minOccurs="0" maxOccurs="1"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="RecurringDiscountAmountMonthly" minOccurs="0" maxOccurs="1">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:float" name="Value" minOccurs="0" maxOccurs="1"/>
              <xs:element type="xs:string" name="Currency" minOccurs="0" maxOccurs="1"/>
              <xs:element type="xs:string" name="Period" minOccurs="0" maxOccurs="1"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="RecurringDiscountAmountYearly" minOccurs="0" maxOccurs="1">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:float" name="Value" minOccurs="0" maxOccurs="1"/>
              <xs:element type="xs:string" name="Currency" minOccurs="0" maxOccurs="1"/>
              <xs:element type="xs:string" name="Period" minOccurs="0" maxOccurs="1"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="RecurringListPriceMonthly" minOccurs="0" maxOccurs="1">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:float" name="Value" minOccurs="0" maxOccurs="1"/>
              <xs:element type="xs:string" name="Currency" minOccurs="0" maxOccurs="1"/>
              <xs:element type="xs:string" name="Period" minOccurs="0" maxOccurs="1"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="RecurringListPriceYearly" minOccurs="0" maxOccurs="1">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:float" name="Value" minOccurs="0" maxOccurs="1"/>
              <xs:element type="xs:string" name="Currency" minOccurs="0" maxOccurs="1"/>
              <xs:element type="xs:string" name="Period" minOccurs="0" maxOccurs="1"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="EstimatedContractTotalValue" minOccurs="0" maxOccurs="1">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:float" name="Value" minOccurs="0" maxOccurs="1"/>
              <xs:element type="xs:string" name="Currency" minOccurs="0" maxOccurs="1"/>
              <xs:element type="xs:string" name="Period" minOccurs="0" maxOccurs="1"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="PricingConditions" minOccurs="0" maxOccurs="unbounded" nillable="true">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:integer" name="PricingProcedureStep" minOccurs="1" maxOccurs="1"/>
              <xs:element type="xs:integer" name="PricingProcedureStepCounter" minOccurs="1" maxOccurs="1"/>
              <xs:element type="xs:decimal" name="ConditionBase" minOccurs="0" maxOccurs="1" nillable ="true"/>
              <xs:element type="xs:string" name="ConditionType" minOccurs="0" maxOccurs="1" nillable="true"/>
              <xs:element type="xs:string" name="ConditionTypeDescription" minOccurs="1" maxOccurs="1"/>
              <xs:element type="xs:decimal" name="ConditionRate" minOccurs="0" maxOccurs="1" nillable="true"/>
              <xs:element type="xs:decimal" name="ConditionValue" minOccurs="0" maxOccurs="1" nillable="true"/>
              <xs:element type="xs:string" name="ConditionCurrency" minOccurs="0" maxOccurs="1" nillable="true"/>
              <xs:element type="xs:string" name="ConditionUnit" minOccurs="0" maxOccurs="1" nillable="true"/>
              <xs:element type="xs:decimal" name="ConditionUnitQuantity" minOccurs="0" maxOccurs="1" nillable="true"/>
              <xs:element type="xs:boolean" name="IsVariantCondition" minOccurs="1" maxOccurs="1"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element type="xs:string" name="Division" minOccurs="0" maxOccurs="1"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>