Resources/canonical_library/xsd/RecordList.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:element name="RecordList">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="Record" minOccurs="0" maxOccurs="unbounded">
					<xs:complexType>
						<xs:sequence>

							<xs:element name="Social_Security_Number" type="xs:string"></xs:element>
							<xs:element name="Employee_ID" type="xs:string"></xs:element>
							<xs:element name="First_Name" type="xs:string"></xs:element>
							<xs:element name="Middle_Name" type="xs:string"></xs:element>
							<xs:element name="Last_Name" type="xs:string"></xs:element>
							<xs:element name="Suffix" type="xs:string"></xs:element>
							<xs:element name="Benefit_Type" type="xs:string"></xs:element>
							<xs:element name="Plan_Name" type="xs:string"></xs:element>
							<xs:element name="Coverage_Level" type="xs:string"></xs:element>
							<xs:element name="Coverage_Amount" type="xs:int"></xs:element>
							<xs:element name="Pre-Tax_Premium" type="xs:string"></xs:element>
							<xs:element name="Employer_Annual_Cost" type="xs:string"></xs:element>
							<xs:element name="Employee_Annual_Cost" type="xs:string"></xs:element>
							<xs:element name="Pay_Frequency" type="xs:string"></xs:element>
							<xs:element name="Employee_Cost_Per_Pay_Period" type="xs:string"></xs:element>
							<xs:element name="Imputed_Cost" type="xs:string"></xs:element>
							<xs:element name="Employee_Pre_Tax_Cost" type="xs:string"></xs:element>
							<xs:element name="Employee_Post_Tax_Cost" type="xs:string"></xs:element>
							<xs:element name="Employer_Pre_Tax_Cost" type="xs:string"></xs:element>
							<xs:element name="Employer_Post_Tax_Cost" type="xs:string"></xs:element>
							<xs:element name="Effective_Start_Date">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:pattern value="\d{4}(0[1-9]|1[012])(0[1-9]|[12][0-9]|3[01])" />
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="Effective_End_Date">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:pattern value="\d{4}(0[1-9]|1[012])(0[1-9]|[12][0-9]|3[01])" />
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="Election_Status" type="xs:string"></xs:element>
							<xs:element name="Remaining_Pay_Periods" type="xs:string"></xs:element>
							<xs:element name="Payroll_Attribute_Code_1" type="xs:string"></xs:element>
							<xs:element name="Payroll_Attribute_Code_2" type="xs:string"></xs:element>
							<xs:element name="Payroll_Attribute_Code_3" type="xs:string"></xs:element>
							<xs:element name="Payroll_Attribute_Code_4" type="xs:string"></xs:element>
							<xs:element name="Payroll_Attribute_Code_5" type="xs:string"></xs:element>

						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>