Resources/canonical_library/xsd/Records.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Records">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="OrderedDate" maxOccurs="1" minOccurs="0"/>
        <xs:element name="ApprovalRecords" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="Date" type="xs:dateTime"  maxOccurs="1" minOccurs="0"/>
              <xs:element name="RealUser" type="xs:string"  maxOccurs="1" minOccurs="0"/>
              <xs:element name="User">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="UniqueName" type="xs:string"  maxOccurs="1" minOccurs="0"/>
                    <xs:element name="PasswordAdapter" type="xs:string"  maxOccurs="1" minOccurs="0"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="LineItems" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:choice maxOccurs="unbounded">
                <xs:element name="Description.CommonCommodityCode" maxOccurs="1" minOccurs="0">
                  <xs:complexType>
                    <xs:sequence>
                      <xs:element name="UniqueName" type="xs:unsignedInt"  maxOccurs="1" minOccurs="0"/>
                      <xs:element name="Name" type="xs:string"  maxOccurs="1" minOccurs="0"/>
                    </xs:sequence>
                  </xs:complexType>
                </xs:element>
                <xs:element name="cus_ServiceEndDate" type="xs:dateTime"  maxOccurs="1" minOccurs="0"/>
                <xs:element name="Amount" maxOccurs="1" minOccurs="0">
                  <xs:complexType>
                    <xs:sequence>
                      <xs:element name="AmountInReportingCurrency" type="xs:decimal"  maxOccurs="1" minOccurs="0"/>
                      <xs:element name="ApproxAmountInBaseCurrency" type="xs:decimal"  maxOccurs="1" minOccurs="0"/>
                      <xs:element name="Amount" type="xs:decimal"  maxOccurs="1" minOccurs="0"/>
                      <xs:element name="ConversionDate" type="xs:dateTime"  maxOccurs="1" minOccurs="0"/>
                      <xs:element name="Currency" maxOccurs="1" minOccurs="0">
                        <xs:complexType>
                          <xs:sequence>
                            <xs:element name="UniqueName" type="xs:string"  maxOccurs="1" minOccurs="0"/>
                          </xs:sequence>
                        </xs:complexType>
                      </xs:element>
                    </xs:sequence>
                  </xs:complexType>
                </xs:element>
                <xs:element name="Quantity" type="xs:decimal"  maxOccurs="1" minOccurs="0"/>
                <xs:element name="AccountCategory" maxOccurs="1" minOccurs="0">
                  <xs:complexType>
                    <xs:sequence>
                      <xs:element name="UniqueName" type="xs:string"  maxOccurs="1" minOccurs="0"/>
                    </xs:sequence>
                  </xs:complexType>
                </xs:element>
                <xs:element name="OrderID"  maxOccurs="1" minOccurs="0"/>
                <xs:element name="SplitAccountings" maxOccurs="unbounded" minOccurs="0">
                  <xs:complexType>
                    <xs:sequence>
                      <xs:element name="NumberInCollection" type="xs:unsignedByte"  maxOccurs="1" minOccurs="0"/>
                      <xs:element name="WBSElement"  maxOccurs="1" minOccurs="0"/>
                      <xs:element name="CostCenter" maxOccurs="1" minOccurs="0">
                        <xs:complexType>
                          <xs:sequence>
                            <xs:element name="ProcurementUnit" maxOccurs="1" minOccurs="0">
                              <xs:complexType>
                                <xs:sequence>
                                  <xs:element name="UniqueName" type="xs:string"  maxOccurs="1" minOccurs="0"/>
                                </xs:sequence>
                              </xs:complexType>
                            </xs:element>
                            <xs:element name="UniqueName" type="xs:unsignedByte"  maxOccurs="1" minOccurs="0"/>
                            <xs:element name="CompanyCode" maxOccurs="1" minOccurs="0">
                              <xs:complexType>
                                <xs:sequence>
                                  <xs:element name="UniqueName" type="xs:unsignedByte"  maxOccurs="1" minOccurs="0"/>
                                </xs:sequence>
                              </xs:complexType>
                            </xs:element>
                            <xs:element name="CostCenterDescription"  maxOccurs="1" minOccurs="0"/>
                          </xs:sequence>
                        </xs:complexType>
                      </xs:element>
                      <xs:element name="Percentage" type="xs:decimal"  maxOccurs="1" minOccurs="0"/>
                      <xs:element name="Amount" maxOccurs="1" minOccurs="0">
                        <xs:complexType>
                          <xs:sequence>
                            <xs:element name="AmountInReportingCurrency" type="xs:decimal"  maxOccurs="1" minOccurs="0"/>
                            <xs:element name="ApproxAmountInBaseCurrency" type="xs:decimal" maxOccurs="1" minOccurs="0"/>
                            <xs:element name="Amount" type="xs:decimal" maxOccurs="1" minOccurs="0"/>
                            <xs:element name="ConversionDate" type="xs:dateTime" maxOccurs="1" minOccurs="0"/>
                            <xs:element name="Currency" maxOccurs="1" minOccurs="0">
                              <xs:complexType>
                                <xs:sequence>
                                  <xs:element name="UniqueName" type="xs:string" maxOccurs="1" minOccurs="0"/>
                                </xs:sequence>
                              </xs:complexType>
                            </xs:element>
                          </xs:sequence>
                        </xs:complexType>
                      </xs:element>
                      <xs:element name="GeneralLedger" maxOccurs="1" minOccurs="0">
                        <xs:complexType>
                          <xs:sequence>
                            <xs:element name="GeneralLedgerDescription" type="xs:string" maxOccurs="1" minOccurs="0"/>
                            <xs:element name="GeneralLedgerDescription2" maxOccurs="1" minOccurs="0"/>
                            <xs:element name="UniqueName" type="xs:unsignedInt" maxOccurs="1" minOccurs="0"/>
                            <xs:element name="CompanyCode" maxOccurs="1" minOccurs="0">
                              <xs:complexType>
                                <xs:sequence>
                                  <xs:element name="UniqueName" type="xs:unsignedByte" />
                                </xs:sequence>
                              </xs:complexType>
                            </xs:element>
                            <xs:element name="FieldStatusGroup" type="xs:string" maxOccurs="1" minOccurs="0"/>
                            <xs:element name="ExternalId" type="xs:unsignedInt" maxOccurs="1" minOccurs="0"/>
                          </xs:sequence>
                        </xs:complexType>
                      </xs:element>
                      <xs:element name="Quantity" type="xs:decimal" maxOccurs="1" minOccurs="0"/>
                      <xs:element name="InternalOrder" maxOccurs="1" minOccurs="0"/>
                      <xs:element name="CompanyCode" maxOccurs="1" minOccurs="0"/>
                    </xs:sequence>
                  </xs:complexType>
                </xs:element>
                <xs:element name="NumberInCollection" type="xs:unsignedByte" maxOccurs="1" minOccurs="0"/>
                <xs:element name="Description.Description" type="xs:string" maxOccurs="1" minOccurs="0"/>
                <xs:element name="CommodityCode" maxOccurs="1" minOccurs="0">
                  <xs:complexType>
                    <xs:sequence>
                      <xs:element name="UniqueName" type="xs:string" maxOccurs="1" minOccurs="0"/>
                    </xs:sequence>
                  </xs:complexType>
                </xs:element>
                <xs:element name="Description.UnitOfMeasure" maxOccurs="1" minOccurs="0">
                  <xs:complexType>
                    <xs:sequence>
                      <xs:element name="UniqueName" type="xs:string" maxOccurs="1" minOccurs="0"/>
                    </xs:sequence>
                  </xs:complexType>
                </xs:element>
                <xs:element name="Supplier" maxOccurs="1" minOccurs="0">
                  <xs:complexType>
                    <xs:sequence>
                      <xs:element name="UniqueName" type="xs:unsignedInt" maxOccurs="1" minOccurs="0"/>
                      <xs:element name="Name" type="xs:string" maxOccurs="1" minOccurs="0"/>
                    </xs:sequence>
                  </xs:complexType>
                </xs:element>
                <xs:element name="Description.ShortName" type="xs:string" maxOccurs="1" minOccurs="0"/>
              </xs:choice>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="StatusString" type="xs:string" maxOccurs="1" minOccurs="0"/>
        <xs:element name="ApprovedDate" maxOccurs="1" minOccurs="0"/>
        <xs:element name="SubmitDate" type="xs:dateTime" maxOccurs="1" minOccurs="0"/>
        <xs:element name="AreOrdersStuck" type="xs:boolean" maxOccurs="1" minOccurs="0"/>
        <xs:element name="CreateDate" type="xs:dateTime" maxOccurs="1" minOccurs="0"/>
        <xs:element name="TimeUpdated" type="xs:dateTime" maxOccurs="1" minOccurs="0"/>
        <xs:element name="LastModified" type="xs:dateTime" maxOccurs="1" minOccurs="0"/>
        <xs:element name="TotalCost" maxOccurs="1" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="AmountInReportingCurrency" type="xs:decimal" maxOccurs="1" minOccurs="0"/>
              <xs:element name="ApproxAmountInBaseCurrency" type="xs:decimal" maxOccurs="1" minOccurs="0"/>
              <xs:element name="Amount" type="xs:decimal" maxOccurs="1" minOccurs="0"/>
              <xs:element name="ConversionDate" type="xs:dateTime" maxOccurs="1" minOccurs="0"/>
              <xs:element name="Currency" maxOccurs="1" minOccurs="0">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="UniqueName" type="xs:string" maxOccurs="1" minOccurs="0"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="ApprovalRequests" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="AssignedTo" maxOccurs="1" minOccurs="0"/>
              <xs:element name="AssignedDate" maxOccurs="1" minOccurs="0"/>
              <xs:element name="ApprovedBy" maxOccurs="1" minOccurs="0"/>
              <xs:element name="ApprovalRequired" type="xs:boolean" maxOccurs="1" minOccurs="0" />
              <xs:element name="Approver" maxOccurs="1" minOccurs="0">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="UniqueName" type="xs:string" maxOccurs="1" minOccurs="0"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="ActivationDate" type="xs:string" maxOccurs="1" minOccurs="0"/>
              <xs:element name="ApproverComment" maxOccurs="1" minOccurs="0"/>
              <xs:element name="RuleName" type="xs:string" maxOccurs="1" minOccurs="0"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="Requester" maxOccurs="1" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="UniqueName" type="xs:string" maxOccurs="1" minOccurs="0"/>
              <xs:element name="PasswordAdapter" type="xs:string" maxOccurs="1" minOccurs="0"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="UniqueName" type="xs:string" maxOccurs="1" minOccurs="0"/>
        <xs:element name="Preparer" maxOccurs="1" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="UniqueName" type="xs:string" maxOccurs="1" minOccurs="0"/>
              <xs:element name="PasswordAdapter" type="xs:string" maxOccurs="1" minOccurs="0"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>