Resources/canonical_library/xsd/Relationships.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
        <xs:element name="Relationships">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="ContactIDEmail">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:int" name="ContactPersonID"/>
                    <xs:element type="xs:int" name="OrganizationID"/>
                    <xs:element type="xs:string" name="Email"/>
                    <xs:element type="xs:string" name="jobFunction"/>
                    <xs:element type="xs:string" name="department"/>
                    <xs:element type="xs:string" name="phone"/>

                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
</xs:schema>