Resources/canonical_library/xsd/RelationshipList.xsd

<xs:schema attributeFormDefault="unqualified"
	elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="RelationshipList">
		<xs:complexType>
			<xs:sequence>
				<xs:element maxOccurs="unbounded" minOccurs="0"	name="BusinessPartnerRelationships">
					<xs:complexType>
						<xs:sequence>
                            <xs:element maxOccurs="1" minOccurs="0" name="customerNumber" type="xs:string" />
                            <xs:element maxOccurs="1" minOccurs="0" name="contactNumber" type="xs:string" />
                            <xs:element maxOccurs="1" minOccurs="1" name="S4CustomerBPId" type="xs:string" />
                            <xs:element maxOccurs="1" minOccurs="1" name="S4ContactBPId" type="xs:string" />
                            <xs:element maxOccurs="1" minOccurs="1" name="deleteFlag" type="xs:boolean" />
							<xs:element name="workplaceAddress" minOccurs="0" maxOccurs="1">
								<xs:complexType>
									<xs:sequence>
                            			<xs:element maxOccurs="1" minOccurs="1" name="addressUUID" type="xs:string" />
										<xs:element minOccurs="0" maxOccurs="1" name="email" type="xs:string" />
										<xs:element minOccurs="0" maxOccurs="1" name="phone" type="xs:string" />
									</xs:sequence>
								</xs:complexType>
							</xs:element>
                        </xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>