Resources/canonical_library/xsd/RequestedDoc_2.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://www.sap.com/Greece/requestDocs/v1.0" xmlns:inv="http://www.aade.gr/myDATA/invoice/v1.0" xmlns:icls="https://www.aade.gr/myDATA/incomeClassificaton/v1.0" xmlns:ecls="https://www.aade.gr/myDATA/expensesClassificaton/v1.0" xmlns:pm="https://www.aade.gr/myDATA/paymentMethod/v1.0" targetNamespace="http://www.sap.com/Greece/requestDocs/v1.0" elementFormDefault="qualified" version="2.0.1">
  <xs:import namespace="https://www.aade.gr/myDATA/incomeClassificaton/v1.0" schemaLocation="incomeClassification-v2.0.1.xsd"/>
  <xs:import namespace="https://www.aade.gr/myDATA/expensesClassificaton/v1.0" schemaLocation="expensesClassification-v2.0.1.xsd"/>
  <xs:import namespace="https://www.aade.gr/myDATA/paymentMethod/v1.0" schemaLocation="paymentMethods-v2.0.1.xsd"/>
  <xs:import namespace="http://www.aade.gr/myDATA/invoice/v1.0" schemaLocation="InvoicesDoc-v2.0.1.xsd"/> 
  <xs:element name="RequestedDoc">
    <xs:complexType>
      <xs:sequence>
      	<xs:element name="continuationToken"
      		type="continuationTokenType" minOccurs="0" />
      	<xs:element name="invoicesDoc"  minOccurs="0">
      		<xs:complexType>
      			<xs:sequence >
      				<xs:element name="invoice"
      					type="inv:AadeBookInvoiceType" minOccurs="0" maxOccurs="unbounded"/>
      			</xs:sequence>
      		</xs:complexType>
      	</xs:element>
      	<xs:element name="cancelledInvoicesDoc" minOccurs="0">
      		<xs:complexType>
      			<xs:sequence >
      				<xs:element name="cancelledInvoice"
      					type="CancelledInvoiceType" minOccurs="0" maxOccurs="unbounded"/>
      			</xs:sequence>
      		</xs:complexType>
      	</xs:element>
      	<xs:element name="incomeClassificationsDoc" minOccurs="0">
      		<xs:complexType>
      			<xs:sequence >
      				<xs:element name="incomeInvoiceClassification"
      					type="icls:InvoiceIncomeClassificationType"  minOccurs="0" maxOccurs="unbounded"/>
      			</xs:sequence>
      		</xs:complexType>
      	</xs:element>
      	<xs:element name="expensesClassificationsDoc" minOccurs="0">
      		<xs:complexType>
      			<xs:sequence>
      				<xs:element name="expensesInvoiceClassification"
      					type="ecls:InvoiceExpensesClassificationType" minOccurs="0" maxOccurs="unbounded" />
      			</xs:sequence>
      		</xs:complexType>
      	</xs:element>
      	<xs:element name="paymentMethodsDoc" minOccurs="0">
      		<xs:complexType>
      			<xs:sequence>
      				<xs:element name="paymentMethods"
      					type="pm:PaymentMethodType" minOccurs="0" maxOccurs="unbounded"/>
      			</xs:sequence>
      		</xs:complexType>
      	</xs:element>
      	<xs:element name="errorResponse" type="ResponseType" minOccurs="0"></xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="continuationTokenType">
    <xs:sequence>
      <xs:element name="nextPartitionKey" type="xs:string"/>
      <xs:element name="nextRowKey" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CancelledInvoiceType">
    <xs:sequence>
      <xs:element name="invoiceMark" type="xs:string">
        <xs:annotation>
          <xs:documentation>Μοναδικός Αριθμός Καταχώρησης του ακυρωμένου Παραστατικού</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="cancellationMark" type="xs:string">
        <xs:annotation>
          <xs:documentation>Μοναδικός Αριθμός Καταχώρησης της Ακύρωσης</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="cancellationDate" type="xs:date">
        <xs:annotation>
          <xs:documentation>Ημερομηνία Ακύρωσης Παραστατικού</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="ResponseType">
  	<xs:sequence>
  		<xs:element name="errors" type="errorsType"></xs:element>
  		<xs:element name="statusCode" type="xs:string"></xs:element>
  	</xs:sequence>
  </xs:complexType>

  <xs:complexType name="errorsType">
  	<xs:sequence>
  		<xs:element name="error" type="errorType" maxOccurs="unbounded" minOccurs="1"></xs:element>
  	</xs:sequence>
  </xs:complexType>

  <xs:complexType name="errorType">
  	<xs:sequence>
  		<xs:element name="message" type="xs:string"></xs:element>
  		<xs:element name="code" type="xs:string"></xs:element>
  	</xs:sequence>
  </xs:complexType>
</xs:schema>
