Resources/canonical_library/xsd/RESPONSE.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="RESPONSE">
    <xs:complexType>
      <xs:sequence>
        <xs:element type="xs:int" name="NUMBER"/>
        <xs:element name="RETURN">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="TYPE"/>
              <xs:element type="xs:short" name="CODE"/>
              <xs:element type="xs:string" name="MESSAGE"/>
              <xs:element type="xs:string" name="LOG_NO"/>
              <xs:element type="xs:byte" name="LOG_MSG_NO"/>
              <xs:element type="xs:int" name="MESSAGE_V1"/>
              <xs:element type="xs:string" name="MESSAGE_V2"/>
              <xs:element type="xs:string" name="MESSAGE_V3"/>
              <xs:element type="xs:string" name="MESSAGE_V4"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>