Resources/canonical_library/xsd/Result.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Result">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Events" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="EventName" minOccurs="0" />
              <xs:element type="xs:string" name="ProcessInstanceId" minOccurs="0" />
              <xs:element type="xs:string" name="ProcessDefinitionId" minOccurs="0" />
              <xs:element type="xs:string" name="TimeStamp" minOccurs="0" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>