Resources/canonical_library/xsd/returnrecords.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="returnrecords">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="page">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:byte" name="number"/>
              <xs:element type="xs:byte" name="size"/>
              <xs:element type="xs:byte" name="totalElements"/>
              <xs:element type="xs:byte" name="totalPages"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="value" minOccurs="0" maxOccurs="unbounded">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:dateTime" name="createdAt"/>
                    <xs:element type="xs:string" name="creditType"/>
                    <xs:element type="xs:string" name="creditTypeDescription"/>
                    <xs:element type="xs:string" name="fulfillmentLocationId" minOccurs="0"/>
                    <xs:element type="xs:string" name="itemCode"/>
                      
                    <xs:element type="xs:dateTime" name="modifiedAt"/>
                    <xs:element type="xs:string" name="note"/>
                    <xs:element type="xs:string" name="productName"/>
                    <xs:element type="xs:byte" name="quantity" minOccurs="0"/>
                    <xs:element type="xs:string" name="reason"/>
                      
                    <xs:element type="xs:string" name="reasonCode"/>
                      
                    <xs:element type="xs:string" name="refundStatus"/>
                    <xs:element type="xs:string" name="returnToInventory"/>
                    <xs:element type="xs:float" name="returnedTax"/>
                    <xs:element type="xs:float" name="returnedTotal"/>
                    <xs:element type="xs:string" name="status"/>
                    <xs:element type="xs:string" name="type"/>
                    <xs:element name="unitPrice">
                      <xs:complexType>
                        <xs:simpleContent>
                          <xs:extension base="xs:string">
                            <xs:attribute type="xs:string" name="null" use="optional"/>
                          </xs:extension>
                        </xs:simpleContent>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>