Resources/canonical_library/xsd/Returns.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           elementFormDefault="qualified">

    <xs:element name="Returns">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="Return" maxOccurs="unbounded">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="ShopifyReturnID" type="xs:string" minOccurs="1" maxOccurs="1"/>
                            <xs:element name="ShopifyReturnName" type="xs:string" minOccurs="1" maxOccurs="1"/>
			    <xs:element name="S4HanaCloudReturnID" type="xs:string" minOccurs="0" maxOccurs="1"/>
                            <xs:element name="ReturnLineItem" maxOccurs="unbounded">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="shopifyReturnLineItem" type="xs:string" minOccurs="1" maxOccurs="1"/>
                                        <xs:element name="returnQuantity" type="xs:integer" minOccurs="1" maxOccurs="1"/>
                                        <xs:element name="SKU" type="xs:string" minOccurs="1" maxOccurs="1"/>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>