Resources/canonical_library/xsd/RFCNAME_2.xsd

<?xml version="1.0" encoding="utf-8"?>

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="RFCNAME">
    
          <xs:complexType>
            <xs:sequence>
              <xs:element name="IMP_BUKRS" type="xs:string" minOccurs="0" maxOccurs="1" />
              <xs:element name="IMP_RECNNR" type="xs:string" minOccurs="0" maxOccurs="1" />
              <xs:element name="IMP_MODE" type="xs:string" minOccurs="0" />
              <xs:element name="IMP_PSTNGDATE" type="xs:date" />
              <xs:element name="IMP_DOCDATE" type="xs:date" />
              <xs:element name="IMP_PSTNGPERIOD" type="xs:string" />
              <xs:element name="IMP_DUEDATE" type="xs:date" />
              <xs:element name="IMP_CALDATETO" type="xs:date" minOccurs="0" maxOccurs="1"/>
              <xs:element name="IMP_DOCHEADTXT" type="xs:string" minOccurs="0" maxOccurs="1"/>
              
              	<xs:element name="IT_CONTRACTS" minOccurs="0" maxOccurs="1">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="item" minOccurs="0" maxOccurs="unbounded">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="BUKRS" type="xs:string" minOccurs="0" maxOccurs="1" />
										<xs:element name="RECNNR" type="xs:string" minOccurs="0" maxOccurs="1" />
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
            </xs:sequence>
          </xs:complexType>
       
  </xs:element>
</xs:schema>