Resources/canonical_library/xsd/ROOT.xsd

<?xml version="1.0" encoding="UTF-8"?><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" version="1.0">
	<xsd:element name="ROOT">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element maxOccurs="1" minOccurs="1" name="DOC_TYPE" type="xsd:token"/>
				<xsd:element maxOccurs="1" minOccurs="0" name="INCOTERMS" type="xsd:token"/>
				<xsd:element maxOccurs="1" minOccurs="0" name="PMNTTRMS" type="xsd:token"/>
				<xsd:element maxOccurs="1" minOccurs="0" name="PLANT" type="xsd:token"/>
				<xsd:element maxOccurs="1" minOccurs="0" name="CONDITIONTYPE_GROSS" type="xsd:token"/>
				<xsd:element maxOccurs="1" minOccurs="0" name="CONDITIONTYPE_NET" type="xsd:token"/>
				<xsd:element maxOccurs="1" minOccurs="0" name="CONDITIONTYPE_PYT_FEE" type="xsd:token"/>
				<xsd:element maxOccurs="1" minOccurs="0" name="CONDITIONTYPE_SHP_FEE" type="xsd:token"/>
				<xsd:element maxOccurs="1" minOccurs="0" name="CONDITIONTYPE_ITEM_DISCOUNT" type="xsd:token"/>
				<xsd:element maxOccurs="1" minOccurs="0" name="CONDITIONTYPE_HEADER_DISCOUNT" type="xsd:token"/>
				<xsd:element maxOccurs="1" minOccurs="0" name="DROPSHIP_ITEM_CATEGORY_TYPE" type="xsd:token"/>
				<xsd:element maxOccurs="1" minOccurs="0" name="SENDER_BUSINESS_SYSTEM_ID" type="xsd:token"/>
				<xsd:element maxOccurs="1" minOccurs="1" name="BODY">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element maxOccurs="1" minOccurs="1" name="fulfillmentRequestId" type="xsd:token"/>
							<xsd:element maxOccurs="1" minOccurs="0" name="shipment">
								<xsd:complexType>
									<xsd:sequence>
										<xsd:element maxOccurs="1" minOccurs="0" name="fulfillmentSite">
											<xsd:complexType>
												<xsd:sequence>
													<xsd:element maxOccurs="1" minOccurs="1" name="id" type="xsd:token"/>
													<xsd:element maxOccurs="1" minOccurs="0" name="dropShipId" type="xsd:token"/>
												</xsd:sequence>
											</xsd:complexType>
										</xsd:element>
										<xsd:element maxOccurs="1" minOccurs="0" name="delivery">
											<xsd:complexType>
												<xsd:sequence>
													<xsd:element maxOccurs="1" minOccurs="0" name="deliveryOption" type="xsd:token"/>
													<xsd:element maxOccurs="1" minOccurs="0" name="expectedDeliveryDate" type="xsd:dateTime"/>
												</xsd:sequence>
											</xsd:complexType>
										</xsd:element>
										<xsd:element maxOccurs="1" minOccurs="0" name="expectedShippingDate" type="xsd:dateTime"/>
									</xsd:sequence>
								</xsd:complexType>
							</xsd:element>
							<xsd:element maxOccurs="1" minOccurs="0" name="sourcing">
								<xsd:complexType>
									<xsd:sequence>
										<xsd:element maxOccurs="unbounded" minOccurs="0" name="shipments">
											<xsd:complexType>
												<xsd:sequence>
													<xsd:element maxOccurs="1" minOccurs="0" name="fulfillmentSite">
														<xsd:complexType>
															<xsd:sequence>
																<xsd:element maxOccurs="1" minOccurs="1" name="id" type="xsd:token"/>
																<xsd:element maxOccurs="1" minOccurs="0" name="dropShipId" type="xsd:token"/>
															</xsd:sequence>
														</xsd:complexType>
													</xsd:element>
													<xsd:element maxOccurs="1" minOccurs="0" name="delivery">
														<xsd:complexType>
															<xsd:sequence>
																<xsd:element maxOccurs="1" minOccurs="0" name="deliveryOption" type="xsd:token"/>
																<xsd:element maxOccurs="1" minOccurs="0" name="expectedDeliveryDate" type="xsd:dateTime"/>
															</xsd:sequence>
														</xsd:complexType>
													</xsd:element>
													<xsd:element maxOccurs="1" minOccurs="0" name="expectedShippingDate" type="xsd:dateTime"/>
													<xsd:element maxOccurs="unbounded" minOccurs="1" name="items">
														<xsd:complexType>
															<xsd:sequence>
																<xsd:element maxOccurs="1" minOccurs="1" name="referenceId" type="xsd:token"/>
																<xsd:element maxOccurs="1" minOccurs="1" name="quantity">
																	<xsd:complexType>
																		<xsd:sequence>
																			<xsd:element maxOccurs="1" minOccurs="1" name="value" type="xsd:decimal"/>
																			<xsd:element maxOccurs="1" minOccurs="1" name="unit" type="xsd:token"/>
																		</xsd:sequence>
																	</xsd:complexType>
																</xsd:element>
															</xsd:sequence>
														</xsd:complexType>
													</xsd:element>
													<xsd:element maxOccurs="1" minOccurs="0" name="reservation">
														<xsd:complexType>
															<xsd:sequence>
																<xsd:element maxOccurs="1" minOccurs="0" name="id" type="xsd:token"/>
																<xsd:element maxOccurs="1" minOccurs="0" name="status" type="xsd:token"/>
															</xsd:sequence>
														</xsd:complexType>
													</xsd:element>
												</xsd:sequence>
											</xsd:complexType>
										</xsd:element>
									</xsd:sequence>
								</xsd:complexType>
							</xsd:element>
							<xsd:element maxOccurs="1" minOccurs="0" name="description" type="xsd:token"/>
							<xsd:element maxOccurs="1" minOccurs="0" name="precedingDocument">
								<xsd:complexType>
									<xsd:sequence>
										<xsd:element maxOccurs="1" minOccurs="0" name="externalSystemReference">
											<xsd:complexType>
												<xsd:sequence>
													<xsd:element maxOccurs="1" minOccurs="1" name="externalSystemId" type="xsd:token"/>
													<xsd:element maxOccurs="1" minOccurs="0" name="externalId" type="xsd:token"/>
													<xsd:element maxOccurs="1" minOccurs="0" name="externalNumber" type="xsd:token"/>
												</xsd:sequence>
											</xsd:complexType>
										</xsd:element>
									</xsd:sequence>
								</xsd:complexType>
							</xsd:element>
							<xsd:element maxOccurs="1" minOccurs="1" name="metadata">
								<xsd:complexType>
									<xsd:sequence>
										<xsd:element maxOccurs="1" minOccurs="1" name="createdAt" type="xsd:dateTime"/>
									</xsd:sequence>
								</xsd:complexType>
							</xsd:element>
							<xsd:element maxOccurs="1" minOccurs="1" name="market">
								<xsd:complexType>
									<xsd:sequence>
										<xsd:element maxOccurs="1" minOccurs="1" name="priceType" type="xsd:token"/>
										<xsd:element maxOccurs="1" minOccurs="1" name="currency" type="xsd:token"/>
										<xsd:element maxOccurs="1" minOccurs="1" name="salesArea">
											<xsd:complexType>
												<xsd:sequence>
													<xsd:element maxOccurs="1" minOccurs="1" name="salesOrganization" type="xsd:token"/>
													<xsd:element maxOccurs="1" minOccurs="1" name="distributionChannel" type="xsd:token"/>
													<xsd:element maxOccurs="1" minOccurs="1" name="division" type="xsd:token"/>
												</xsd:sequence>
											</xsd:complexType>
										</xsd:element>
									</xsd:sequence>
								</xsd:complexType>
							</xsd:element>
							<xsd:element maxOccurs="1" minOccurs="1" name="customer">
								<xsd:complexType>
									<xsd:sequence>
										<xsd:element maxOccurs="1" minOccurs="0" name="fulfillmentSystemReference">
											<xsd:complexType>
													<xsd:sequence>
														<xsd:element maxOccurs="1" minOccurs="1" name="id" type="xsd:token"/>
													</xsd:sequence>
											</xsd:complexType>
										</xsd:element>
										<xsd:element maxOccurs="unbounded" minOccurs="1" name="addresses">
											<xsd:complexType>
												<xsd:sequence>
													<xsd:element maxOccurs="1" minOccurs="0" name="street" type="xsd:token"/>
													<xsd:element maxOccurs="1" minOccurs="0" name="houseNumber" type="xsd:token"/>
													<xsd:element maxOccurs="1" minOccurs="0" name="poBox" type="xsd:token"/>
													<xsd:element maxOccurs="1" minOccurs="0" name="postalCode" type="xsd:token"/>
													<xsd:element maxOccurs="1" minOccurs="0" name="city" type="xsd:token"/>
													<xsd:element maxOccurs="1" minOccurs="1" name="country" type="xsd:token"/>
													<xsd:element maxOccurs="1" minOccurs="0" name="district" type="xsd:token"/>
													<xsd:element maxOccurs="1" minOccurs="0" name="state" type="xsd:token"/>
													<xsd:element maxOccurs="1" minOccurs="0" name="phone" type="xsd:token"/>
													<xsd:element maxOccurs="1" minOccurs="0" name="email" type="xsd:token"/>
													<xsd:element maxOccurs="1" minOccurs="0" name="fax" type="xsd:token"/>
													<xsd:element maxOccurs="1" minOccurs="0" name="additionalAddressInfo" type="xsd:token"/>
													<xsd:element maxOccurs="1" minOccurs="0" name="correspondenceLanguage" type="xsd:token"/>
													<xsd:element maxOccurs="1" minOccurs="1" name="addressType" type="xsd:token"/>
													<xsd:element maxOccurs="1" minOccurs="0" name="building" type="xsd:token"/>
													<xsd:element maxOccurs="1" minOccurs="0" name="floorNumber" type="xsd:token"/>
													<xsd:element maxOccurs="1" minOccurs="0" name="roomNumber" type="xsd:token"/>
													<xsd:element maxOccurs="1" minOccurs="1" name="partnerId" type="xsd:token"/>
													<xsd:element maxOccurs="1" minOccurs="0" name="person">
														<xsd:complexType>
															<xsd:sequence>
																<xsd:element maxOccurs="1" minOccurs="0" name="salutationCode" type="xsd:token"/>
																<xsd:element maxOccurs="1" minOccurs="0" name="firstName" type="xsd:token"/>
																<xsd:element maxOccurs="1" minOccurs="0" name="middleName" type="xsd:token"/>
																<xsd:element maxOccurs="1" minOccurs="0" name="lastName" type="xsd:token"/>
															</xsd:sequence>
														</xsd:complexType>
													</xsd:element>
												</xsd:sequence>
											</xsd:complexType>
										</xsd:element>
									</xsd:sequence>
								</xsd:complexType>
							</xsd:element>
							<xsd:element maxOccurs="unbounded" minOccurs="0" name="payment">
								<xsd:complexType>
									<xsd:sequence>
										<xsd:element maxOccurs="1" minOccurs="0" name="method" type="xsd:token"/>
										<xsd:element maxOccurs="1" minOccurs="0" name="type" type="xsd:token"/>
										<xsd:element maxOccurs="1" minOccurs="0" name="cardToken" type="xsd:token"/>
										<xsd:element maxOccurs="1" minOccurs="0" name="authorization">
											<xsd:complexType>
												<xsd:sequence>
													<xsd:element maxOccurs="1" minOccurs="0" name="id" type="xsd:token"/>
													<xsd:element maxOccurs="1" minOccurs="0" name="merchantId" type="xsd:token"/>
												</xsd:sequence>
											</xsd:complexType>
										</xsd:element>
										<xsd:element maxOccurs="1" minOccurs="0" name="authorizedAmount">
											<xsd:complexType>
												<xsd:sequence>
													<xsd:element maxOccurs="1" minOccurs="0" name="amount" type="xsd:decimal"/>
												</xsd:sequence>
											</xsd:complexType>
										</xsd:element>
										<xsd:element maxOccurs="1" minOccurs="0" name="paymentServiceProvider" type="xsd:token"/>
										<xsd:element maxOccurs="1" minOccurs="0" name="transactionId" type="xsd:token"/>
									</xsd:sequence>
								</xsd:complexType>
							</xsd:element>
							<xsd:element maxOccurs="unbounded" minOccurs="0" name="fees">
								<xsd:complexType>
									<xsd:sequence>
										<xsd:element maxOccurs="1" minOccurs="1" name="category" type="xsd:token"/>
										<xsd:element maxOccurs="1" minOccurs="1" name="originalAmount" type="xsd:decimal"/>
										<xsd:element maxOccurs="1" minOccurs="0" name="effectiveAmount" type="xsd:decimal"/>
										<xsd:element maxOccurs="1" minOccurs="0" name="finalAmount" type="xsd:decimal"/>
										<xsd:element maxOccurs="1" minOccurs="0" name="tax">
											<xsd:complexType>
												<xsd:sequence>
													<xsd:element maxOccurs="1" minOccurs="1" name="totalAmount" type="xsd:decimal"/>
												</xsd:sequence>
											</xsd:complexType>
										</xsd:element>
									</xsd:sequence>
								</xsd:complexType>
							</xsd:element>
							<xsd:element maxOccurs="unbounded" minOccurs="0" name="prices">
								<xsd:complexType>
									<xsd:sequence>
										<xsd:element maxOccurs="1" minOccurs="1" name="category" type="xsd:token"/>
										<xsd:element maxOccurs="1" minOccurs="0" name="period" type="xsd:token"/>
										<xsd:element maxOccurs="1" minOccurs="0" name="itemsSubtotal">
											<xsd:complexType>
												<xsd:sequence>
													<xsd:element maxOccurs="1" minOccurs="0" name="effectiveAmount" type="xsd:decimal"/>
													<xsd:element maxOccurs="1" minOccurs="0" name="finalAmount" type="xsd:decimal"/>
													<xsd:element maxOccurs="1" minOccurs="0" name="originalAmount" type="xsd:decimal"/>
													<xsd:element maxOccurs="1" minOccurs="0" name="tax">
														<xsd:complexType>
															<xsd:sequence>
																<xsd:element maxOccurs="1" minOccurs="1" name="totalAmount" type="xsd:decimal"/>
																<xsd:element maxOccurs="unbounded" minOccurs="0" name="lines">
																	<xsd:complexType>
																		<xsd:sequence>
																			<xsd:element maxOccurs="1" minOccurs="1" name="amount" type="xsd:decimal"/>
																			<xsd:element maxOccurs="1" minOccurs="1" name="code" type="xsd:token"/>
																			<xsd:element maxOccurs="1" minOccurs="1" name="name" type="xsd:token"/>
																			<xsd:element maxOccurs="1" minOccurs="0" name="rate" type="xsd:decimal"/>
																		</xsd:sequence>
																	</xsd:complexType>
																</xsd:element>
															</xsd:sequence>
														</xsd:complexType>
													</xsd:element>
													<xsd:element maxOccurs="1" minOccurs="0" name="discount">
														<xsd:complexType>
															<xsd:sequence>
																<xsd:element maxOccurs="1" minOccurs="1" name="totalAmount" type="xsd:decimal"/>
															</xsd:sequence>
														</xsd:complexType>
													</xsd:element>
												</xsd:sequence>
											</xsd:complexType>
										</xsd:element>
										<xsd:element maxOccurs="1" minOccurs="0" name="feesSubtotal">
											<xsd:complexType>
												<xsd:sequence>
													<xsd:element maxOccurs="1" minOccurs="0" name="effectiveAmount" type="xsd:decimal"/>
													<xsd:element maxOccurs="1" minOccurs="0" name="finalAmount" type="xsd:decimal"/>
													<xsd:element maxOccurs="1" minOccurs="0" name="originalAmount" type="xsd:decimal"/>
													<xsd:element maxOccurs="1" minOccurs="0" name="tax">
														<xsd:complexType>
															<xsd:sequence>
																<xsd:element maxOccurs="1" minOccurs="1" name="totalAmount" type="xsd:decimal"/>
																<xsd:element maxOccurs="unbounded" minOccurs="0" name="lines">
																	<xsd:complexType>
																		<xsd:sequence>
																			<xsd:element maxOccurs="1" minOccurs="1" name="amount" type="xsd:decimal"/>
																			<xsd:element maxOccurs="1" minOccurs="1" name="code" type="xsd:token"/>
																			<xsd:element maxOccurs="1" minOccurs="1" name="name" type="xsd:token"/>
																			<xsd:element maxOccurs="1" minOccurs="0" name="rate" type="xsd:decimal"/>
																		</xsd:sequence>
																	</xsd:complexType>
																</xsd:element>
															</xsd:sequence>
														</xsd:complexType>
													</xsd:element>
													<xsd:element maxOccurs="1" minOccurs="0" name="discount">
														<xsd:complexType>
															<xsd:sequence>
																<xsd:element maxOccurs="1" minOccurs="1" name="totalAmount" type="xsd:decimal"/>
															</xsd:sequence>
														</xsd:complexType>
													</xsd:element>
												</xsd:sequence>
											</xsd:complexType>
										</xsd:element>
										<xsd:element maxOccurs="1" minOccurs="0" name="total">
											<xsd:complexType>
												<xsd:sequence>
													<xsd:element maxOccurs="1" minOccurs="0" name="effectiveAmount" type="xsd:decimal"/>
													<xsd:element maxOccurs="1" minOccurs="0" name="finalAmount" type="xsd:decimal"/>
													<xsd:element maxOccurs="1" minOccurs="0" name="originalAmount" type="xsd:decimal"/>
													<xsd:element maxOccurs="1" minOccurs="0" name="tax">
														<xsd:complexType>
															<xsd:sequence>
																<xsd:element maxOccurs="1" minOccurs="1" name="totalAmount" type="xsd:decimal"/>
																<xsd:element maxOccurs="unbounded" minOccurs="0" name="lines">
																	<xsd:complexType>
																		<xsd:sequence>
																			<xsd:element maxOccurs="1" minOccurs="1" name="amount" type="xsd:decimal"/>
																			<xsd:element maxOccurs="1" minOccurs="1" name="code" type="xsd:token"/>
																			<xsd:element maxOccurs="1" minOccurs="1" name="name" type="xsd:token"/>
																			<xsd:element maxOccurs="1" minOccurs="0" name="rate" type="xsd:decimal"/>
																		</xsd:sequence>
																	</xsd:complexType>
																</xsd:element>
															</xsd:sequence>
														</xsd:complexType>
													</xsd:element>
													<xsd:element maxOccurs="1" minOccurs="0" name="discount">
														<xsd:complexType>
															<xsd:sequence>
																<xsd:element maxOccurs="1" minOccurs="1" name="totalAmount" type="xsd:decimal"/>
															</xsd:sequence>
														</xsd:complexType>
													</xsd:element>
												</xsd:sequence>
											</xsd:complexType>
										</xsd:element>
									</xsd:sequence>
								</xsd:complexType>
							</xsd:element>
							<xsd:element maxOccurs="1" minOccurs="0" name="discount">
								<xsd:complexType>
									<xsd:sequence>
										<xsd:element maxOccurs="1" minOccurs="1" name="totalAmount" type="xsd:decimal"/>
										<xsd:element maxOccurs="unbounded" minOccurs="0" name="lines">
											<xsd:complexType>
													<xsd:sequence>
														<xsd:element maxOccurs="1" minOccurs="1" name="amount" type="xsd:decimal"/>
														<xsd:element maxOccurs="1" minOccurs="0" name="externalPromotionType" type="xsd:token"/>
													</xsd:sequence>
											</xsd:complexType>
										</xsd:element>
									</xsd:sequence>
								</xsd:complexType>
							</xsd:element>
							<xsd:element maxOccurs="unbounded" minOccurs="1" name="orderItems">
								<xsd:complexType>
									<xsd:sequence>
										<xsd:element maxOccurs="1" minOccurs="1" name="fulfillmentRequestItemId" type="xsd:token"/>
										<xsd:element maxOccurs="1" minOccurs="1" name="lineNumber" type="xsd:token"/>
										<xsd:element maxOccurs="1" minOccurs="0" name="customLineNumber" type="xsd:integer"/>
										<xsd:element maxOccurs="1" minOccurs="0" name="parentLineNumber" type="xsd:integer"/>
										<xsd:element maxOccurs="1" minOccurs="1" name="quantity">
											<xsd:complexType>
												<xsd:sequence>
													<xsd:element maxOccurs="1" minOccurs="1" name="value" type="xsd:decimal"/>
													<xsd:element maxOccurs="1" minOccurs="1" name="unit" type="xsd:token"/>
												</xsd:sequence>
											</xsd:complexType>
										</xsd:element>
										<xsd:element maxOccurs="1" minOccurs="1" name="referenceId" type="xsd:token"/>
										<xsd:element maxOccurs="1" minOccurs="0" name="parentReferenceId" type="xsd:token"/>
										<xsd:element maxOccurs="1" minOccurs="0" name="price">
											<xsd:complexType>
												<xsd:sequence>
													<xsd:element maxOccurs="1" minOccurs="0" name="aspectsData">
														<xsd:complexType>
															<xsd:sequence>
																<xsd:element maxOccurs="1" minOccurs="1" name="physicalItemPrice">
																	<xsd:complexType>
																		<xsd:sequence>
																			<xsd:element maxOccurs="unbounded" minOccurs="1" name="priceTotals">
																				<xsd:complexType>
																					<xsd:sequence>
																						<xsd:element maxOccurs="1" minOccurs="0" name="finalAmount" type="xsd:decimal"/>
																						<xsd:element maxOccurs="1" minOccurs="0" name="effectiveAmount" type="xsd:decimal"/>
																						<xsd:element maxOccurs="1" minOccurs="0" name="discount">
																							<xsd:complexType>
																								<xsd:sequence>
																									<xsd:element maxOccurs="1" minOccurs="1" name="totalAmount" type="xsd:decimal"/>
																									<xsd:element maxOccurs="unbounded" minOccurs="0" name="lines">
																										<xsd:complexType>
																											<xsd:sequence>
																												<xsd:element maxOccurs="1" minOccurs="1" name="amount" type="xsd:decimal"/>
																												<xsd:element maxOccurs="1" minOccurs="0" name="externalPromotionType" type="xsd:token"/>
																											</xsd:sequence>
																										</xsd:complexType>
																									</xsd:element>
																								</xsd:sequence>
																							</xsd:complexType>
																						</xsd:element>
																						<xsd:element maxOccurs="1" minOccurs="0" name="tax">
																							<xsd:complexType>
																								<xsd:sequence>
																									<xsd:element maxOccurs="unbounded" minOccurs="0" name="lines">
																										<xsd:complexType>
																											<xsd:sequence>
																												<xsd:element maxOccurs="1" minOccurs="1" name="amount" type="xsd:decimal"/>
																												<xsd:element maxOccurs="1" minOccurs="1" name="code" type="xsd:token"/>
																												<xsd:element maxOccurs="1" minOccurs="1" name="name" type="xsd:token"/>
																												<xsd:element maxOccurs="1" minOccurs="0" name="rate" type="xsd:decimal"/>
																											</xsd:sequence>
																										</xsd:complexType>
																									</xsd:element>
																									<xsd:element maxOccurs="1" minOccurs="1" name="totalAmount" type="xsd:decimal"/>
																								</xsd:sequence>
																							</xsd:complexType>
																						</xsd:element>
																					</xsd:sequence>
																				</xsd:complexType>
																			</xsd:element>
																		</xsd:sequence>
																	</xsd:complexType>
																</xsd:element>
															</xsd:sequence>
														</xsd:complexType>
													</xsd:element>
												</xsd:sequence>
											</xsd:complexType>
										</xsd:element>
										<xsd:element maxOccurs="1" minOccurs="1" name="product">
											<xsd:complexType>
												<xsd:sequence>
													<xsd:element maxOccurs="1" minOccurs="1" name="fulfillmentSystemReference">
														<xsd:complexType>
															<xsd:sequence>
																<xsd:element maxOccurs="1" minOccurs="1" name="id" type="xsd:token"/>
															</xsd:sequence>
														</xsd:complexType>
													</xsd:element>
												</xsd:sequence>
											</xsd:complexType>
										</xsd:element>
										<xsd:element maxOccurs="1" minOccurs="0" name="fulfillment">
											<xsd:complexType>
												<xsd:sequence>
													<xsd:element maxOccurs="1" minOccurs="0" name="cancellation">
														<xsd:complexType>
															<xsd:sequence>
																<xsd:element maxOccurs="1" minOccurs="0" name="canceled" type="xsd:boolean"/>
																<xsd:element maxOccurs="1" minOccurs="0" name="cancellationDate" type="xsd:dateTime"/>
															</xsd:sequence>
														</xsd:complexType>
													</xsd:element>
												</xsd:sequence>
											</xsd:complexType>
										</xsd:element>
										<xsd:element maxOccurs="1" minOccurs="0" name="sourcing">
											<xsd:complexType>
												<xsd:sequence>
													<xsd:element maxOccurs="1" minOccurs="0" name="fulfillmentSite">
														<xsd:complexType>
															<xsd:sequence>
																<xsd:element maxOccurs="1" minOccurs="1" name="id" type="xsd:token"/>
																<xsd:element maxOccurs="1" minOccurs="0" name="dropShipId" type="xsd:token"/>
															</xsd:sequence>
														</xsd:complexType>
													</xsd:element>
												</xsd:sequence>
											</xsd:complexType>
										</xsd:element>
									</xsd:sequence>
								</xsd:complexType>
							</xsd:element>
							<xsd:element maxOccurs="1" minOccurs="0" name="delivery">
								<xsd:complexType>
									<xsd:sequence>
										<xsd:element maxOccurs="1" minOccurs="0" name="deliveryOption" type="xsd:token"/>
									</xsd:sequence>
								</xsd:complexType>
							</xsd:element>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
</xsd:schema>
