Resources/canonical_library/xsd/routine.xsd

<?xml version="1.0" encoding="UTF-8"?>
   <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
         <!-- XML Schema Generated from XML Document on Thu Jul 28 2016 15:35:33 GMT+0530 (India Standard Time) -->
         <!-- with XmlGrid.net Free Online Service http://xmlgrid.net -->
         <xs:element name="routine">
               <xs:complexType>
                     <xs:sequence>
                           <xs:element name="_id" type="xs:string"></xs:element>
                           <xs:element name="calories_burned" type="xs:int"></xs:element>
                           <xs:element name="distance" type="xs:int"></xs:element>
                           <xs:element name="elevation" type="xs:int"></xs:element>
                           <xs:element name="floors" type="xs:int"></xs:element>
                           <xs:element name="last_updated" type="xs:dateTime"></xs:element>
                           <xs:element name="source" type="xs:string"></xs:element>
                           <xs:element name="source_name" type="xs:string"></xs:element>
                           <xs:element name="steps" type="xs:int"></xs:element>
                           <xs:element name="timestamp" type="xs:dateTime"></xs:element>
                           <xs:element name="user_id" type="xs:string"></xs:element>
                           <xs:element name="utc_offset" type="xs:string"></xs:element>
                           <xs:element name="validated" type="xs:string"></xs:element>
                           <xs:element name="water" type="xs:int"></xs:element>
                     </xs:sequence>
               </xs:complexType>
         </xs:element>
   </xs:schema>