Resources/canonical_library/xsd/SalesQuoteDetailsV2.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="SalesQuoteDetailsV2">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Header">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="QuoteId" minOccurs="1" maxOccurs="1"/>
              <xs:element type="xs:string" name="QuoteName" minOccurs="0" maxOccurs="1" nillable="true"/>
              <xs:element type="xs:string" name="DistributionChain" minOccurs="1" maxOccurs="1"/>
              <xs:element type="xs:string" name="Currency" minOccurs="0" maxOccurs="1" nillable="true"/>
              <xs:element type="xs:string" name="PricingDate" minOccurs="0" maxOccurs="1" nillable="true"/>
              <xs:element type="xs:string" name="EffectiveDate" minOccurs="0" maxOccurs="1" nillable="true"/>
              <xs:element type="xs:string" name="RequestedDate" minOccurs="0" maxOccurs="1" nillable="true"/>
              <xs:element type="xs:string" name="DocumentTypeCode" minOccurs="0" maxOccurs="1" nillable="true"/>
              <xs:element type="xs:string" name="DocumentTypeValue" minOccurs="0" maxOccurs="1" nillable="true"/>
              <xs:element type="xs:string" name="Comment" minOccurs="0" maxOccurs="1" nillable="true"/>
              <xs:element type="xs:string" name="IsPrimary" minOccurs="0" maxOccurs="1" nillable="true"/>
              <xs:element type="xs:string" name="OpportunityId" minOccurs="0" maxOccurs="1" nillable="true"/>
              <xs:element type="xs:string" name="OpportunityName" minOccurs="0" maxOccurs="1" nillable="true"/>
              <xs:element type="xs:string" name="OriginQuoteId" minOccurs="0" maxOccurs="1" nillable="true"/>
			  <xs:element type="xs:string" name="QuoteOwner" minOccurs="0" maxOccurs="1" nillable="true"/>
              <xs:element name="CustomFields" minOccurs="0" maxOccurs="1" nillable="true">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="CustomField" maxOccurs="unbounded" minOccurs="0">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element type="xs:string" name="Name" minOccurs="1" maxOccurs="1"/>
                          <xs:element type="xs:string" name="Value" minOccurs="1" maxOccurs="1" nillable="true"/>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="Items" minOccurs="0" maxOccurs="1" nillable="true">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="Item" maxOccurs="unbounded" minOccurs="0">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:string" name="ItemId" minOccurs="1" maxOccurs="1"/>
                    <xs:element type="xs:string" name="Quantity" minOccurs="0" maxOccurs="1" nillable="true"/>
                    <xs:element type="xs:string" name="ProductSystemId" minOccurs="0" maxOccurs="1" nillable="true"/>
                    <xs:element type="xs:string" name="UnitOfMeasureCode" minOccurs="0" maxOccurs="1" nillable="true"/>
                    <xs:element type="xs:string" name="Comment" minOccurs="0" maxOccurs="1" nillable="true"/>
                    <xs:element name="CustomFields" minOccurs="0" maxOccurs="1" nillable="true">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="CustomField" maxOccurs="unbounded" minOccurs="0">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element type="xs:string" name="Name" minOccurs="1" maxOccurs="1"/>
                                <xs:element type="xs:string" name="Value" minOccurs="1" maxOccurs="1" nillable="true"/>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
		<xs:element name="InvolvedParties" minOccurs="0" maxOccurs="1" nillable="true">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="InvolvedParty" maxOccurs="unbounded" minOccurs="0">
                <xs:complexType>
                  <xs:sequence>
					<xs:element type="xs:string" name="PartnerFunctionKey" minOccurs="1" maxOccurs="1"/>
					<xs:element type="xs:string" name="PartnerFunctionName" minOccurs="0" maxOccurs="1" nillable="true"/>
					<xs:element type="xs:string" name="SystemId" minOccurs="0" maxOccurs="1" nillable="true"/>
					<xs:element type="xs:string" name="ExternalId" minOccurs="0" maxOccurs="1" nillable="true"/>
					<xs:element type="xs:string" name="PartnerId" minOccurs="0" maxOccurs="1" nillable="true"/>
					<xs:element type="xs:string" name="Name" minOccurs="0" maxOccurs="1" nillable="true"/>
					<xs:element type="xs:string" name="FirstName" minOccurs="0" maxOccurs="1" nillable="true"/>
					<xs:element type="xs:string" name="LastName" minOccurs="0" maxOccurs="1" nillable="true"/>
					<xs:element type="xs:string" name="Country" minOccurs="0" maxOccurs="1" nillable="true"/>
					<xs:element type="xs:string" name="State" minOccurs="0" maxOccurs="1" nillable="true"/>
					<xs:element type="xs:string" name="Region" minOccurs="0" maxOccurs="1" nillable="true"/>
					<xs:element type="xs:string" name="CityName" minOccurs="0" maxOccurs="1" nillable="true"/>
					<xs:element type="xs:string" name="PostalCode" minOccurs="0" maxOccurs="1" nillable="true"/>
					<xs:element type="xs:string" name="TimeZone" minOccurs="0" maxOccurs="1" nillable="true"/>
					<xs:element type="xs:string" name="AddressName" minOccurs="0" maxOccurs="1" nillable="true"/>
					<xs:element type="xs:string" name="AddressAdditionalName" minOccurs="0" maxOccurs="1" nillable="true"/>
					<xs:element type="xs:string" name="EmailAddress" minOccurs="0" maxOccurs="1" nillable="true"/>
					<xs:element type="xs:string" name="Phone" minOccurs="0" maxOccurs="1" nillable="true"/>
					<xs:element type="xs:string" name="VATNumber" minOccurs="0" maxOccurs="1" nillable="true"/>
					<xs:element type="xs:string" name="TaxNumber1" minOccurs="0" maxOccurs="1" nillable="true"/>
					<xs:element type="xs:string" name="TaxNumber2" minOccurs="0" maxOccurs="1" nillable="true"/>
					<xs:element type="xs:string" name="Fax" minOccurs="0" maxOccurs="1" nillable="true"/>
					<xs:element type="xs:string" name="BankAccount1" minOccurs="0" maxOccurs="1" nillable="true"/>
					<xs:element type="xs:string" name="BankAccount2" minOccurs="0" maxOccurs="1" nillable="true"/>
					<xs:element type="xs:string" name="PrimaryIndustry" minOccurs="0" maxOccurs="1" nillable="true"/>
					<xs:element type="xs:string" name="FormOfAddress" minOccurs="0" maxOccurs="1" nillable="true"/>
					<xs:element type="xs:string" name="AddressName3" minOccurs="0" maxOccurs="1" nillable="true"/>
					<xs:element type="xs:string" name="AddressName4" minOccurs="0" maxOccurs="1" nillable="true"/>
					<xs:element type="xs:string" name="TaxJurisdiction" minOccurs="0" maxOccurs="1" nillable="true"/>
					<xs:element type="xs:string" name="POBoxPostalCode" minOccurs="0" maxOccurs="1" nillable="true"/>
					<xs:element type="xs:string" name="POBox" minOccurs="0" maxOccurs="1" nillable="true"/>
					<xs:element type="xs:string" name="District" minOccurs="0" maxOccurs="1" nillable="true"/>
					<xs:element type="xs:string" name="StreetPrefixName" minOccurs="0" maxOccurs="1" nillable="true"/>
					<xs:element type="xs:string" name="AdditionalStreetPrefixName" minOccurs="0" maxOccurs="1" nillable="true"/>
					<xs:element type="xs:string" name="StreetName" minOccurs="0" maxOccurs="1" nillable="true"/>
					<xs:element type="xs:string" name="StreetSuffixName" minOccurs="0" maxOccurs="1" nillable="true"/>
					<xs:element type="xs:string" name="AdditionalStreetSuffixName" minOccurs="0" maxOccurs="1" nillable="true"/>
					<xs:element type="xs:string" name="HouseNumber" minOccurs="0" maxOccurs="1" nillable="true"/>
					<xs:element type="xs:string" name="TransportZone" minOccurs="0" maxOccurs="1" nillable="true"/>
					<xs:element type="xs:string" name="CorrespondenceLanguage" minOccurs="0" maxOccurs="1" nillable="true"/>
					<xs:element type="xs:string" name="MobilePhone" minOccurs="0" maxOccurs="1" nillable="true"/>
					<xs:element type="xs:string" name="PartnerNumber" minOccurs="0" maxOccurs="1" nillable="true"/>
					<xs:element type="xs:integer" name="BusinessPartnerType" minOccurs="0" maxOccurs="1" nillable="true"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
	  </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>