Resources/canonical_library/xsd/SalesQuoteDetails.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="SalesQuoteDetails">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Header" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="CustomFields" minOccurs="0">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="CustomField" minOccurs="0" maxOccurs="unbounded">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element type="xs:string" name="Name" minOccurs="0"/>
                          <xs:element type="xs:string" name="Value" minOccurs="0"/>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element type="xs:short" name="QuoteId" minOccurs="0"/>
              <xs:element type="xs:string" name="QuoteName" minOccurs="0"/>
              <xs:element type="xs:string" name="DistributionChain" minOccurs="0"/>
              <xs:element type="xs:string" name="Currency" minOccurs="0">
                <xs:annotation>
                  <xs:documentation>SalesOrg_DistributionChannel</xs:documentation>
                </xs:annotation>
              </xs:element>
              <xs:element type="xs:date" name="EffectiveDate" minOccurs="0">
                <xs:annotation>
                  <xs:documentation>date format: YYYY-MM-DD</xs:documentation>
                </xs:annotation>
              </xs:element>
              <xs:element type="xs:string" name="DocumentTypeCode" minOccurs="0"/>
              <xs:element type="xs:string" name="DocumentTypeValue" minOccurs="0"/>
              <xs:element type="xs:string" name="IncotermsLocation" minOccurs="0"/>
              <xs:element type="xs:string" name="IncotermsCode" minOccurs="0"/>
              <xs:element type="xs:string" name="IncotermsValue" minOccurs="0"/>
              <xs:element type="xs:string" name="Comment" minOccurs="0"/>
              <xs:element type="xs:string" name="IsPrimary" minOccurs="0" maxOccurs="1" nillable="true"/>
              <xs:element type="xs:string" name="OpportunityId" minOccurs="0" maxOccurs="1" nillable="true"/>
              <xs:element type="xs:string" name="OpportunityName" minOccurs="0" maxOccurs="1" nillable="true"/>
              <xs:element type="xs:string" name="OriginQuoteId" minOccurs="0" maxOccurs="1" nillable="true"/>
			  <xs:element type="xs:string" name="QuoteOwner" minOccurs="0" maxOccurs="1" nillable="true"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="Items" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="Item" minOccurs="0" maxOccurs="unbounded">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:byte" name="ItemId" minOccurs="0"/>
                    <xs:element type="xs:byte" name="ParentItemId" minOccurs="0"/>
                    <xs:element type="xs:byte" name="Quantity" minOccurs="0"/>
                    <xs:element type="xs:string" name="ProductSystemId" minOccurs="0"/>
                    <xs:element type="xs:string" name="UnitOfMeasureCode" minOccurs="0">
                      <xs:annotation>
                        <xs:documentation>Material Id</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element type="xs:string" name="Comment" minOccurs="0"/>
                    <xs:element name="CustomFields" minOccurs="0">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="CustomField" minOccurs="0" maxOccurs="unbounded">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element type="xs:string" name="Name" minOccurs="0"/>
                                <xs:element type="xs:string" name="Value" minOccurs="0"/>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="BillTo" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="CustomFields" minOccurs="0">
                <xs:annotation>
                  <xs:documentation>BillTo, ShipTo and EndUser are same as before</xs:documentation>
                </xs:annotation>
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="CustomField" minOccurs="0" maxOccurs="unbounded">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element type="xs:string" name="Name" minOccurs="0"/>
                          <xs:element type="xs:string" name="Value" minOccurs="0"/>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element type="xs:string" name="FirstName" minOccurs="0"/>
              <xs:element type="xs:string" name="LastName" minOccurs="0"/>
              <xs:element type="xs:string" name="CompanyName" minOccurs="0"/>
              <xs:element type="xs:string" name="AddressLine1" minOccurs="0"/>
              <xs:element type="xs:string" name="AddressLine2" minOccurs="0"/>
              <xs:element type="xs:string" name="City" minOccurs="0"/>
              <xs:element type="xs:string" name="State" minOccurs="0"/>
              <xs:element type="xs:string" name="Country" minOccurs="0"/>
              <xs:element type="xs:string" name="Territory" minOccurs="0"/>
              <xs:element type="xs:int" name="ZipCode" minOccurs="0"/>
              <xs:element type="xs:string" name="Phone" minOccurs="0"/>
              <xs:element type="xs:string" name="Fax" minOccurs="0"/>
              <xs:element type="xs:string" name="Email" minOccurs="0"/>
              <xs:element type="xs:int" name="CustomerCode" minOccurs="0"/>
              <xs:element type="xs:string" name="CrmAccountId" minOccurs="0"/>
              <xs:element type="xs:string" name="CrmContactId" minOccurs="0"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="ShipTo" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="CustomFields" minOccurs="0">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="CustomField" minOccurs="0" maxOccurs="unbounded">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element type="xs:string" name="Name" minOccurs="0"/>
                          <xs:element type="xs:string" name="Value" minOccurs="0"/>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element type="xs:string" name="FirstName" minOccurs="0"/>
              <xs:element type="xs:string" name="LastName" minOccurs="0"/>
              <xs:element type="xs:string" name="CompanyName" minOccurs="0"/>
              <xs:element type="xs:string" name="AddressLine1" minOccurs="0"/>
              <xs:element type="xs:string" name="AddressLine2" minOccurs="0"/>
              <xs:element type="xs:string" name="City" minOccurs="0"/>
              <xs:element type="xs:string" name="State" minOccurs="0"/>
              <xs:element type="xs:string" name="Country" minOccurs="0"/>
              <xs:element type="xs:string" name="Territory" minOccurs="0"/>
              <xs:element type="xs:int" name="ZipCode" minOccurs="0"/>
              <xs:element type="xs:string" name="Phone" minOccurs="0"/>
              <xs:element type="xs:string" name="Fax" minOccurs="0"/>
              <xs:element type="xs:string" name="Email" minOccurs="0"/>
              <xs:element type="xs:int" name="CustomerCode" minOccurs="0"/>
              <xs:element type="xs:string" name="CrmAccountId" minOccurs="0"/>
              <xs:element type="xs:string" name="CrmContactId" minOccurs="0"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="EndUser" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="CustomFields" minOccurs="0">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="CustomField" minOccurs="0" maxOccurs="unbounded">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element type="xs:string" name="Name" minOccurs="0"/>
                          <xs:element type="xs:string" name="Value" minOccurs="0"/>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element type="xs:string" name="FirstName" minOccurs="0"/>
              <xs:element type="xs:string" name="LastName" minOccurs="0"/>
              <xs:element type="xs:string" name="CompanyName" minOccurs="0"/>
              <xs:element type="xs:string" name="AddressLine1" minOccurs="0"/>
              <xs:element type="xs:string" name="AddressLine2" minOccurs="0"/>
              <xs:element type="xs:string" name="City" minOccurs="0"/>
              <xs:element type="xs:string" name="State" minOccurs="0"/>
              <xs:element type="xs:string" name="Country" minOccurs="0"/>
              <xs:element type="xs:string" name="Territory" minOccurs="0"/>
              <xs:element type="xs:int" name="ZipCode" minOccurs="0"/>
              <xs:element type="xs:string" name="Phone" minOccurs="0"/>
              <xs:element type="xs:string" name="Fax" minOccurs="0"/>
              <xs:element type="xs:string" name="Email" minOccurs="0"/>
              <xs:element type="xs:int" name="CustomerCode" minOccurs="0"/>
              <xs:element type="xs:string" name="CrmAccountId" minOccurs="0"/>
              <xs:element type="xs:string" name="CrmContactId" minOccurs="0"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>