Resources/canonical_library/xsd/salesOrderOutputRoot.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="salesOrderOutputRoot">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="unbounded" name="salesOrderResponse">
          <xs:complexType>
            <xs:sequence>              
                 <xs:element minOccurs="0" maxOccurs="1" type="xs:string" name="salesOrder"/>
                 <xs:element minOccurs="0" maxOccurs="1" type="xs:string" name="salesOrderType"/>                  
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>