Resources/canonical_library/xsd/SalesOrderRequest.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="SalesOrderRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element type="xs:short" name="ID"/>
        <xs:element type="xs:long" name="SenderSequenceNumberValue"/>
        <xs:element type="xs:byte" name="TypeCode"/>
        <xs:element type="xs:int" name="BuyerID"/>
        <xs:element name="Name">
          <xs:complexType>
            <xs:simpleContent>
              <xs:extension base="xs:string">
                <xs:attribute type="xs:string" name="languageCode"/>
              </xs:extension>
            </xs:simpleContent>
          </xs:complexType>
        </xs:element>
        <xs:element type="xs:string" name="ProcessingTypeCode"/>
        <xs:element type="xs:string" name="ExternalPricingIndicator"/>
        <xs:element type="xs:string" name="EmployeeResponsible"/>
        <xs:element name="BuyerParty">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:int" name="InternalID"/>
              <xs:element name="Address">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:string" name="CorrespondenceLanguageCode"/>
                    <xs:element name="OrganisationName">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element type="xs:string" name="FirstLineName"/>
                          <xs:element type="xs:string" name="SecondLineName"/>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="FormattedName">
                      <xs:complexType>
                        <xs:simpleContent>
                          <xs:extension base="xs:string">
                            <xs:attribute type="xs:string" name="languageCode"/>
                          </xs:extension>
                        </xs:simpleContent>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="PostalAddress">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element type="xs:string" name="CountryCode"/>
                          <xs:element type="xs:string" name="CityName"/>
                          <xs:element type="xs:short" name="StreetPostalCode"/>
                          <xs:element type="xs:short" name="POBoxPostalCode"/>
                          <xs:element type="xs:string" name="StreetName"/>
                          <xs:element type="xs:short" name="POBoxID"/>
                          <xs:element type="xs:short" name="HouseID"/>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element type="xs:short" name="ObjectTypeCode"/>
                    <xs:element type="xs:string" name="eMail"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="PartyContactParty">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:int" name="InternalID"/>
                    <xs:element name="Address">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element type="xs:string" name="CorrespondenceLanguageCode"/>
                          <xs:element name="OrganisationName">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element type="xs:string" name="FirstLineName"/>
                                <xs:element type="xs:string" name="SecondLineName"/>
                                <xs:element type="xs:byte" name="ThirdLineName"/>
                                <xs:element type="xs:string" name="FourthLineName"/>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                          <xs:element name="FormattedName">
                            <xs:complexType>
                              <xs:simpleContent>
                                <xs:extension base="xs:string">
                                  <xs:attribute type="xs:string" name="languageCode"/>
                                </xs:extension>
                              </xs:simpleContent>
                            </xs:complexType>
                          </xs:element>
                          <xs:element name="PostalAddress">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element type="xs:string" name="CountryCode"/>
                                <xs:element type="xs:string" name="CityName"/>
                                <xs:element type="xs:short" name="StreetPostalCode"/>
                                <xs:element type="xs:short" name="POBoxPostalCode"/>
                                <xs:element type="xs:string" name="StreetName"/>
                                <xs:element type="xs:short" name="POBoxID"/>
                                <xs:element type="xs:short" name="HouseID"/>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                          <xs:element name="Telephone">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element type="xs:string" name="FormattedNumberDescription"/>
                                <xs:element type="xs:string" name="MobileFormattedNUmberDescription"/>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                          <xs:element type="xs:short" name="ObjectTypeCode"/>
                          <xs:element name="TelephoneNumber">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element type="xs:short" name="SubscriberID"/>
                                <xs:element type="xs:string" name="CountryCode"/>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                          <xs:element name="MobileNumber">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element type="xs:long" name="SubscriberID"/>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                          <xs:element name="FaxNumber">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element type="xs:string" name="CountryCode"/>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                          <xs:element type="xs:string" name="eMail"/>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element type="xs:short" name="RoleCode"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="Party" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="InternalID"/>
              <xs:element type="xs:short" name="RoleCode"/>
              <xs:element type="xs:byte" name="RoleCategoryCode"/>
              <xs:element type="xs:string" name="MainIndicator"/>
              <xs:element name="Address">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:string" name="CorrespondenceLanguageCode" minOccurs="0"/>
                    <xs:element name="OrganisationName">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element type="xs:string" name="FirstLineName"/>
                          <xs:element type="xs:string" name="SecondLineName" minOccurs="0"/>
                          <xs:element type="xs:string" name="ThirdLineName" minOccurs="0"/>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="FormattedName">
                      <xs:complexType>
                        <xs:simpleContent>
                          <xs:extension base="xs:string">
                            <xs:attribute type="xs:string" name="languageCode" use="optional"/>
                          </xs:extension>
                        </xs:simpleContent>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="PostalAddress">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element type="xs:string" name="CountryCode"/>
                          <xs:element name="RegionCode" minOccurs="0">
                            <xs:complexType>
                              <xs:simpleContent>
                                <xs:extension base="xs:string">
                                  <xs:attribute type="xs:string" name="listID" use="optional"/>
                                </xs:extension>
                              </xs:simpleContent>
                            </xs:complexType>
                          </xs:element>
                          <xs:element type="xs:string" name="CityName"/>
                          <xs:element type="xs:int" name="StreetPostalCode"/>
                          <xs:element type="xs:short" name="POBoxPostalCode" minOccurs="0"/>
                          <xs:element type="xs:string" name="StreetName"/>
                          <xs:element type="xs:short" name="POBoxID" minOccurs="0"/>
                          <xs:element type="xs:short" name="HouseID" minOccurs="0"/>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="Telephone" minOccurs="0">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element type="xs:string" name="FormattedNumberDescription"/>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element type="xs:short" name="ObjectTypeCode"/>
                    <xs:element type="xs:string" name="eMail" minOccurs="0"/>
                    <xs:element name="TelephoneNumber" minOccurs="0">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element type="xs:string" name="SubscriberID"/>
                          <xs:element type="xs:string" name="CountryCode"/>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="SalesUnitParty">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="InternalID"/>
              <xs:element type="xs:byte" name="RoleCode"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="SalesBusinessArea">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="SalesOrganisationID"/>
              <xs:element type="xs:string" name="SalesOrganisationRecipientID"/>
              <xs:element type="xs:byte" name="DistributionChannelCode"/>
              <xs:element type="xs:byte" name="DivisionCode"/> 
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="DeliveryTerms">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="IncotermsClassificationCode"/>
              <xs:element type="xs:string" name="IncotermsTransferLocationName"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="PricingTerms">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="CurrencyCode"/>
              <xs:element type="xs:date" name="PriceDate"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="PeriodTerms">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:date" name="RequestedDate"/>
              <xs:element type="xs:dateTime" name="RequestedGlobalDateTime"/>
              <xs:element type="xs:string" name="RequestedDateTimeZoneCode"/>
              <xs:element type="xs:date" name="ValidityPeriodStartDate"/>
              <xs:element type="xs:date" name="ValidityPeriodEndDate"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="CashDiscountTerms">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:short" name="CashDiscountTermsCode"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="TextCollection">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="Text">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:short" name="TypeCode"/>
                    <xs:element name="TextContent">
                      <xs:complexType>
                        <xs:simpleContent>
                          <xs:extension base="xs:string">
                            <xs:attribute type="xs:string" name="languageCode"/>
                          </xs:extension>
                        </xs:simpleContent>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="PriceComponent" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:short" name="MajorLevelNumber"/>
              <xs:element type="xs:byte" name="MinorLevelNumber"/>
              <xs:element type="xs:string" name="TypeCode" minOccurs="0"/>
              <xs:element name="Rate" minOccurs="0">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:float" name="DecimalValue"/>
                    <xs:element type="xs:string" name="MeasureUnitCode"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="CalculationBasis" minOccurs="0">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:byte" name="BaseCode"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="CalculatedAmount">
                <xs:complexType>
                  <xs:simpleContent>
                    <xs:extension base="xs:float">
                      <xs:attribute type="xs:string" name="currencyCode" use="optional"/>
                    </xs:extension>
                  </xs:simpleContent>
                </xs:complexType>
              </xs:element>
              <xs:element type="xs:string" name="ManuallyChangedIndicator" minOccurs="0"/>
              <xs:element type="xs:byte" name="OriginCode"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element maxOccurs="1" minOccurs="1" name="Items">
        <xs:complexType>
        <xs:sequence>
        <xs:element name="Item" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:byte" name="ID"/>
              <xs:element type="xs:string" name="ProcessingTypeCode"/>
              <xs:element name="Description">
                <xs:complexType>
                  <xs:simpleContent>
                    <xs:extension base="xs:string">
                      <xs:attribute type="xs:string" name="languageCode"/>
                    </xs:extension>
                  </xs:simpleContent>
                </xs:complexType>
              </xs:element>
              <xs:element name="ShipToParty">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:int" name="InternalID"/>
                    <xs:element name="Address">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element type="xs:string" name="CorrespondenceLanguageCode"/>
                          <xs:element name="OrganisationName">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element type="xs:string" name="FirstLineName"/>
                                <xs:element type="xs:string" name="SecondLineName"/>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                          <xs:element name="FormattedName">
                            <xs:complexType>
                              <xs:simpleContent>
                                <xs:extension base="xs:string">
                                  <xs:attribute type="xs:string" name="languageCode"/>
                                </xs:extension>
                              </xs:simpleContent>
                            </xs:complexType>
                          </xs:element>
                          <xs:element name="PostalAddress">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element type="xs:string" name="CountryCode"/>
                                <xs:element type="xs:string" name="CityName"/>
                                <xs:element type="xs:short" name="StreetPostalCode"/>
                                <xs:element type="xs:short" name="POBoxPostalCode"/>
                                <xs:element type="xs:string" name="StreetName"/>
                                <xs:element type="xs:short" name="POBoxID"/>
                                <xs:element type="xs:short" name="HouseID"/>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                          <xs:element type="xs:short" name="ObjectTypeCode"/>
                          <xs:element type="xs:string" name="eMail"/>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element type="xs:short" name="RoleCode"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="DeliveryTerms">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:byte" name="DeliveryPriorityCode"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="Product">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:int" name="InternalID"/>
                    <xs:element type="xs:int" name="EnteredProductInternalID"/>
                    <xs:element type="xs:int" name="RecipientEnteredProductInternalID"/>
                    <xs:element name="ProductOtherID">
                        <xs:complexType>
                          <xs:sequence>
                            <xs:element type="xs:string" name="ID"/>
                            <xs:element type="xs:string" name="LogicalSystemID"/>
                            <xs:element type="xs:string" name="IDType"/>
                            <xs:element type="xs:string" name="BusinessSystemID"/>
                            <xs:element type="xs:string" name="CommunicationSystemID"/>
                          </xs:sequence>
                        </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="TotalValues">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="RequestedQuantity">
                      <xs:complexType>
                        <xs:simpleContent>
                          <xs:extension base="xs:float">
                            <xs:attribute type="xs:string" name="unitCode"/>
                          </xs:extension>
                        </xs:simpleContent>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="ScheduleLine">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:byte" name="ScheduleLineID"/>
                    <xs:element type="xs:byte" name="TypeCode"/>
                    <xs:element name="Quantity">
                      <xs:complexType>
                        <xs:simpleContent>
                          <xs:extension base="xs:float">
                            <xs:attribute type="xs:string" name="unitCode"/>
                          </xs:extension>
                        </xs:simpleContent>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="DateTimePeriod">
                      <xs:complexType>
                        <xs:simpleContent>
                          <xs:extension base="xs:dateTime">
                            <xs:attribute type="xs:string" name="timeZoneCode"/>
                          </xs:extension>
                        </xs:simpleContent>
                      </xs:complexType>
                    </xs:element>
                    <xs:element type="xs:date" name="Date"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="BusinessTransactionDocumentReference">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:short" name="ID"/>
                    <xs:element type="xs:byte" name="ItemID"/>
                    <xs:element type="xs:byte" name="TypeCode"/>
                    <xs:element type="xs:byte" name="ItemTypeCode"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="PriceComponent" maxOccurs="unbounded" minOccurs="0">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:short" name="MajorLevelNumber"/>
                    <xs:element type="xs:byte" name="MinorLevelNumber"/>
                    <xs:element type="xs:string" name="TypeCode" minOccurs="0"/>
                    <xs:element type="xs:string" name="entryNumber" minOccurs="0"/>
                    <xs:element type="xs:string" name="quoteId" minOccurs="0"/>
                    <xs:element name="Rate">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element type="xs:float" name="DecimalValue"/>
                          <xs:element type="xs:string" name="CurrencyCode" minOccurs="0"/>
                          <xs:element type="xs:float" name="BaseDecimalValue" minOccurs="0"/>
                          <xs:element type="xs:string" name="BaseMeasureUnitCode" minOccurs="0"/>
                          <xs:element type="xs:string" name="MeasureUnitCode" minOccurs="0"/>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="CalculationBasis">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element type="xs:byte" name="BaseCode"/>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="CalculatedAmount">
                      <xs:complexType>
                        <xs:simpleContent>
                          <xs:extension base="xs:float">
                            <xs:attribute type="xs:string" name="currencyCode" use="optional"/>
                          </xs:extension>
                        </xs:simpleContent>
                      </xs:complexType>
                    </xs:element>
                    <xs:element type="xs:string" name="ManuallyChangedIndicator" minOccurs="0"/>
                    <xs:element type="xs:byte" name="OriginCode"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="FirstRequestDateTimePeriod">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="StartDateTime">
                      <xs:complexType>
                        <xs:simpleContent>
                          <xs:extension base="xs:dateTime">
                            <xs:attribute type="xs:string" name="timeZoneCode"/>
                          </xs:extension>
                        </xs:simpleContent>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="EndDateTime">
                      <xs:complexType>
                        <xs:simpleContent>
                          <xs:extension base="xs:dateTime">
                            <xs:attribute type="xs:string" name="timeZoneCode"/>
                          </xs:extension>
                        </xs:simpleContent>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element type="xs:date" name="FirstRequestDate"/>
              <xs:element name="Party" maxOccurs="unbounded" minOccurs="0">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:string" name="InternalID"/>
                    <xs:element type="xs:short" name="RoleCode"/>
                    <xs:element type="xs:byte" name="RoleCategoryCode"/>
                    <xs:element name="Address">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element type="xs:string" name="CorrespondenceLanguageCode" minOccurs="0"/>
                          <xs:element name="OrganisationName">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element type="xs:string" name="FirstLineName"/>
                                <xs:element type="xs:string" name="SecondLineName" minOccurs="0"/>
                                <xs:element type="xs:string" name="ThirdLineName" minOccurs="0"/>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                          <xs:element name="FormattedName">
                            <xs:complexType>
                              <xs:simpleContent>
                                <xs:extension base="xs:string">
                                  <xs:attribute type="xs:string" name="languageCode" use="optional"/>
                                </xs:extension>
                              </xs:simpleContent>
                            </xs:complexType>
                          </xs:element>
                          <xs:element name="PostalAddress">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element type="xs:string" name="CountryCode"/>
                                <xs:element name="RegionCode" minOccurs="0">
                                  <xs:complexType>
                                    <xs:simpleContent>
                                      <xs:extension base="xs:string">
                                        <xs:attribute type="xs:string" name="listID" use="optional"/>
                                      </xs:extension>
                                    </xs:simpleContent>
                                  </xs:complexType>
                                </xs:element>
                                <xs:element type="xs:string" name="CityName"/>
                                <xs:element type="xs:int" name="StreetPostalCode"/>
                                <xs:element type="xs:short" name="POBoxPostalCode" minOccurs="0"/>
                                <xs:element type="xs:string" name="StreetName"/>
                                <xs:element type="xs:short" name="POBoxID" minOccurs="0"/>
                                <xs:element type="xs:short" name="HouseID" minOccurs="0"/>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                          <xs:element type="xs:short" name="ObjectTypeCode"/>
                          <xs:element type="xs:string" name="eMail" minOccurs="0"/>
                          <xs:element name="TelephoneNumber" minOccurs="0">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element type="xs:string" name="SubscriberID"/>
                                <xs:element type="xs:string" name="CountryCode"/>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="CashDiscountTerms">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:short" name="CashDiscountTermsCode"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="ItemTotalValues">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="GrossAmount">
                      <xs:complexType>
                        <xs:simpleContent>
                          <xs:extension base="xs:float">
                            <xs:attribute type="xs:string" name="currencyCode"/>
                          </xs:extension>
                        </xs:simpleContent>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="NetAmount">
                      <xs:complexType>
                        <xs:simpleContent>
                          <xs:extension base="xs:float">
                            <xs:attribute type="xs:string" name="currencyCode"/>
                          </xs:extension>
                        </xs:simpleContent>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="TaxAmount">
                      <xs:complexType>
                        <xs:simpleContent>
                          <xs:extension base="xs:float">
                            <xs:attribute type="xs:string" name="currencyCode"/>
                          </xs:extension>
                        </xs:simpleContent>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="NetPrice">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="Amount">
                            <xs:complexType>
                              <xs:simpleContent>
                                <xs:extension base="xs:float">
                                  <xs:attribute type="xs:string" name="currencyCode"/>
                                </xs:extension>
                              </xs:simpleContent>
                            </xs:complexType>
                          </xs:element>
                          <xs:element name="BaseQuantity">
                            <xs:complexType>
                              <xs:simpleContent>
                                <xs:extension base="xs:float">
                                  <xs:attribute type="xs:string" name="unitCode"/>
                                </xs:extension>
                              </xs:simpleContent>
                            </xs:complexType>
                          </xs:element>
                          <xs:element type="xs:string" name="BaseQuantityTypeCode"/>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="ConfirmedQuantity">
                      <xs:complexType>
                        <xs:simpleContent>
                          <xs:extension base="xs:float">
                            <xs:attribute type="xs:string" name="unitCode"/>
                          </xs:extension>
                        </xs:simpleContent>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        </xs:sequence>
    </xs:complexType>
    </xs:element>
    <xs:element type="xs:float" name="ProbabilityPercent"/>
        <xs:element name="SalesOrderTotalvalues">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="GrossAmount">
                <xs:complexType>
                  <xs:simpleContent>
                    <xs:extension base="xs:float">
                      <xs:attribute type="xs:string" name="currencyCode"/>
                    </xs:extension>
                  </xs:simpleContent>
                </xs:complexType>
              </xs:element>
              <xs:element name="NetAmount">
                <xs:complexType>
                  <xs:simpleContent>
                    <xs:extension base="xs:float">
                      <xs:attribute type="xs:string" name="currencyCode"/>
                    </xs:extension>
                  </xs:simpleContent>
                </xs:complexType>
              </xs:element>
              <xs:element name="TaxAmount">
                <xs:complexType>
                  <xs:simpleContent>
                    <xs:extension base="xs:float">
                      <xs:attribute type="xs:string" name="currencyCode"/>
                    </xs:extension>
                  </xs:simpleContent>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>