Resources/canonical_library/xsd/SalesDivision.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="qualified">
   <xs:element name="SalesDivision">
      <xs:complexType>
         <xs:sequence>
            <xs:element maxOccurs="unbounded" name="row">
               <xs:complexType>
                  <xs:sequence>
                     <xs:element name="salesDivision">
                        <xs:simpleType>
                           <xs:restriction base="xs:string">
                           </xs:restriction>
                        </xs:simpleType>
                     </xs:element>
				<xs:element name="salesOrganization">
                        <xs:simpleType>
                           <xs:restriction base="xs:string">
                           </xs:restriction>
                        </xs:simpleType>
                     </xs:element>
                  </xs:sequence>
               </xs:complexType>
            </xs:element>
         </xs:sequence>
      </xs:complexType>
   </xs:element>
</xs:schema>
