Resources/canonical_library/xsd/SAPCpiOutboundQuotes.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="SAPCpiOutboundQuotes">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="SAPCpiOutboundQuote">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="creationDate"/>
              <xs:element type="xs:int" name="quoteId"/>
              <xs:element type="xs:string" name="currencyIsoCode"/>
			  <xs:element type="xs:string" name="promotionSummary"/>
              <xs:element type="xs:string" name="baseStoreUid"/>
			  <xs:element type="xs:string" name="quoteStatus"/>
			  <xs:element type="xs:string" name="name"/>
			  <xs:element type="xs:string" name="description"/>
			  <xs:element type="xs:string" name="pricingProcedure"/>
              <xs:element type="xs:byte" name="distributionChannel"/>
              <xs:element type="xs:byte" name="divison"/>
              <xs:element type="xs:string" name="salesOrganization"/>
			  <xs:element type="xs:string" name="responseStatus"/>
			  <xs:element type="xs:string" name="responseMessage"/>
              <xs:element name="sapCpiOutboundQuoteComments">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="SAPCpiOutboundQuoteComment" maxOccurs="unbounded" minOccurs="0">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element type="xs:string" name="text"/>
                          <xs:element type="xs:string" name="integrationKey"/>
                          <xs:element type="xs:string" name="commentId"/>
						  <xs:element type="xs:string" name="userName"/>
						  <xs:element type="xs:string" name="b2bUnitName"/>
						  <xs:element type="xs:string" name="email"/>
						  <xs:element type="xs:string" name="entryNumber"/>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element type="xs:string" name="integrationKey"/>
              <xs:element name="sapCpiOutboundQuoteItems">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="SAPCpiOutboundQuoteItem">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element type="xs:byte" name="entryNumber"/>
                          <xs:element type="xs:string" name="productCode"/>
						  <xs:element type="xs:string" name="configId"/>
                          <xs:element name="sapCpiOutboundQuoteItemComments">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="SAPCpiOutboundQuoteComment" maxOccurs="unbounded" minOccurs="0">
                                  <xs:complexType>
                                    <xs:sequence>
                                      <xs:element type="xs:string" name="text"/>
                                      <xs:element type="xs:string" name="integrationKey"/>
                                      <xs:element type="xs:string" name="commentId"/>
									  <xs:element type="xs:string" name="userName"/>
									  <xs:element type="xs:string" name="b2bUnitName"/>
								      <xs:element type="xs:string" name="email"/>
									  <xs:element type="xs:string" name="entryNumber"/>
                                    </xs:sequence>
                                  </xs:complexType>
                                </xs:element>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                          <xs:element type="xs:string" name="integrationKey"/>
                          <xs:element type="xs:byte" name="quantity"/>
                          <xs:element type="xs:string" name="productName"/>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="sapCpiOutboundQuoteCustomers">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="SAPCpiOutboundQuoteCustomer">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element type="xs:int" name="postalcode"/>
                          <xs:element type="xs:string" name="lastName"/>
                          <xs:element type="xs:int" name="customerId"/>
                          <xs:element type="xs:string" name="email"/>
                          <xs:element type="xs:string" name="integrationKey"/>
                          <xs:element type="xs:string" name="b2bUnitName"/>
                          <xs:element type="xs:byte" name="customerRoleCode"/>
                          <xs:element type="xs:string" name="line1"/>
                          <xs:element type="xs:string" name="firstName"/>
                          <xs:element type="xs:int" name="line2"/>
                          <xs:element type="xs:string" name="city"/>
						  <xs:element type="xs:int" name="phoneNumber"/>
						  <xs:element type="xs:long" name="fax"/>
                          <xs:element type="xs:string" name="country"/>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element type="xs:byte" name="version"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>