Resources/canonical_library/xsd/sbFinalRatePlans.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
   <xsd:element name="sbFinalRatePlans">
      <xsd:complexType>
         <xsd:sequence>
            <xsd:element name="sbFinalRatePlan">
               <xsd:complexType>
                  <xsd:sequence>
                     <xsd:element name="body" maxOccurs="unbounded" minOccurs="0">
                        <xsd:complexType>
                           <xsd:sequence>
                              <xsd:element name="snapshots" maxOccurs="unbounded" minOccurs="0">
                                 <xsd:complexType>
                                    <xsd:sequence>
                                       <xsd:element name="productCode" type="xsd:string" />
                                       <xsd:element name="unitOfMeasure" type="xsd:string" />
                                       <xsd:element name="marketId" type="xsd:string" />
                                       <xsd:element name="id" type="xsd:string" />
                                       <xsd:element name="description" type="xsd:string" />
                                       <xsd:element name="periodicity" type="xsd:string" />
                                       <xsd:element name="currency" type="xsd:string" />
                                       <xsd:element name=" effectiveAt" type="xsd:string" maxOccurs="1" minOccurs="0" />
                                       <xsd:element name=" endDate" type="xsd:string" maxOccurs="1" minOccurs="0" />
                                       <xsd:element name="fixedRates" maxOccurs="unbounded" minOccurs="0">
                                          <xsd:complexType>
                                             <xsd:sequence>
                                                <xsd:element name="id" type="xsd:string" />
                                                <xsd:element name="price">
                                                   <xsd:complexType>
                                                      <xsd:sequence>
                                                         <xsd:element name="amount" type="xsd:float" />
                                                         <xsd:element name="currency" type="xsd:string" />
                                                      </xsd:sequence>
                                                   </xsd:complexType>
                                                </xsd:element>
                                                <xsd:element name="metricId" type="xsd:string" />
                                                <xsd:element name="billedInAdvance" type="xsd:string" />
                                                <xsd:element name="proratable" type="xsd:string" />
                                             </xsd:sequence>
                                          </xsd:complexType>
                                       </xsd:element>
                                       <xsd:element name="setupFees" maxOccurs="unbounded" minOccurs="0">
                                          <xsd:complexType>
                                             <xsd:sequence>
                                                <xsd:element name="id" type="xsd:string" />
                                                <xsd:element name="price">
                                                   <xsd:complexType>
                                                      <xsd:sequence>
                                                         <xsd:element name="amount" type="xsd:float" />
                                                         <xsd:element name="currency" type="xsd:string" />
                                                      </xsd:sequence>
                                                   </xsd:complexType>
                                                </xsd:element>
                                                <xsd:element name="metricId" type="xsd:string" />
                                             </xsd:sequence>
                                          </xsd:complexType>
                                       </xsd:element>
                                       <xsd:element name="blockRates" maxOccurs="unbounded" minOccurs="0">
                                          <xsd:complexType>
                                             <xsd:sequence>
                                                <xsd:element name="id" type="xsd:string" />
                                                <xsd:element name="metricId" type="xsd:string" />
                                                <xsd:element name="includedQuantity" type="xsd:integer" />
                                                <xsd:element name="blockSize" type="xsd:integer" />
                                                <xsd:element name="minimumBlocks" type="xsd:integer" />
                                                <xsd:element name="pricePerBlock">
                                                   <xsd:complexType>
                                                      <xsd:sequence>
                                                         <xsd:element name="amount" type="xsd:float" />
                                                         <xsd:element name="currency" type="xsd:string" />
                                                      </xsd:sequence>
                                                   </xsd:complexType>
                                                </xsd:element>
                                             </xsd:sequence>
                                          </xsd:complexType>
                                       </xsd:element>
                                       <xsd:element name="tierRates" maxOccurs="unbounded" minOccurs="0">
                                          <xsd:complexType>
                                             <xsd:sequence>
                                                <xsd:element name="id" type="xsd:string" />
                                                <xsd:element name="metricId" type="xsd:string" />
                                                <xsd:element name="blockSize" type="xsd:integer" />
                                                <xsd:element name="minimumBlocks" type="xsd:integer" />
                                                <xsd:element name="tiers" maxOccurs="unbounded" minOccurs="0">
                                                   <xsd:complexType>
                                                      <xsd:sequence>
                                                         <xsd:element name="pricePerBlock">
                                                            <xsd:complexType>
                                                               <xsd:sequence>
                                                                  <xsd:element name="amount" type="xsd:float" />
                                                                  <xsd:element name="currency" type="xsd:string" />
                                                               </xsd:sequence>
                                                            </xsd:complexType>
                                                         </xsd:element>
                                                         <xsd:element name="lowerBound" type="xsd:integer" />
                                                         <xsd:element name="upperBound" type="xsd:integer" />
                                                      </xsd:sequence>
                                                   </xsd:complexType>
                                                </xsd:element>
                                                <xsd:element name="overagetier" maxOccurs="1" minOccurs="0">
                                                   <xsd:complexType>
                                                      <xsd:sequence>
                                                         <xsd:element name="pricePerBlock">
                                                            <xsd:complexType>
                                                               <xsd:sequence>
                                                                  <xsd:element name="amount" type="xsd:float" />
                                                                  <xsd:element name="currency" type="xsd:string" />
                                                               </xsd:sequence>
                                                            </xsd:complexType>
                                                         </xsd:element>
                                                         <xsd:element name="fixedPrice" maxOccurs="1" minOccurs="0">
                                                            <xsd:complexType>
                                                               <xsd:sequence>
                                                                  <xsd:element name="amount" type="xsd:float" />
                                                                  <xsd:element name="currency" type="xsd:string" />
                                                               </xsd:sequence>
                                                            </xsd:complexType>
                                                         </xsd:element>
                                                      </xsd:sequence>
                                                   </xsd:complexType>
                                                </xsd:element>
                                             </xsd:sequence>
                                          </xsd:complexType>
                                       </xsd:element>
                                       <xsd:element name="allUnitVolumeRates" maxOccurs="unbounded" minOccurs="0">
                                          <xsd:complexType>
                                             <xsd:sequence>
                                                <xsd:element name="id" type="xsd:string" />
                                                <xsd:element name="metricId" type="xsd:string" />
                                                <xsd:element name="blockSize" type="xsd:integer" />
                                                <xsd:element name="minimumBlocks" type="xsd:integer" />
                                                <xsd:element name="tiers" maxOccurs="unbounded" minOccurs="0">
                                                   <xsd:complexType>
                                                      <xsd:sequence>
                                                         <xsd:element name="pricePerBlock">
                                                            <xsd:complexType>
                                                               <xsd:sequence>
                                                                  <xsd:element name="amount" type="xsd:float" />
                                                                  <xsd:element name="currency" type="xsd:string" />
                                                               </xsd:sequence>
                                                            </xsd:complexType>
                                                         </xsd:element>
                                                         <xsd:element name="lowerBound" type="xsd:integer" />
                                                         <xsd:element name="upperBound" type="xsd:integer" />
                                                         <xsd:element name="fixedPrice">
                                                            <xsd:complexType>
                                                               <xsd:sequence>
                                                                  <xsd:element name="amount" type="xsd:float" />
                                                                  <xsd:element name="currency" type="xsd:string" />
                                                               </xsd:sequence>
                                                            </xsd:complexType>
                                                         </xsd:element>
                                                      </xsd:sequence>
                                                   </xsd:complexType>
                                                </xsd:element>
                                                <xsd:element name="overagetier" maxOccurs="1" minOccurs="0">
                                                   <xsd:complexType>
                                                      <xsd:sequence>
                                                         <xsd:element name="pricePerBlock">
                                                            <xsd:complexType>
                                                               <xsd:sequence>
                                                                  <xsd:element name="amount" type="xsd:float" />
                                                                  <xsd:element name="currency" type="xsd:string" />
                                                               </xsd:sequence>
                                                            </xsd:complexType>
                                                         </xsd:element>
                                                         <xsd:element name="fixedPrice">
                                                            <xsd:complexType>
                                                               <xsd:sequence>
                                                                  <xsd:element name="amount" type="xsd:float" />
                                                                  <xsd:element name="currency" type="xsd:string" />
                                                               </xsd:sequence>
                                                            </xsd:complexType>
                                                         </xsd:element>
                                                      </xsd:sequence>
                                                   </xsd:complexType>
                                                </xsd:element>
                                             </xsd:sequence>
                                          </xsd:complexType>
                                       </xsd:element>
                                       <xsd:element name="percentageRates" maxOccurs="unbounded" minOccurs="0">
                                          <xsd:complexType>
                                             <xsd:sequence>
                                                <xsd:element name="id" type="xsd:string" />
                                                <xsd:element name="metricId" type="xsd:string" />
                                                <xsd:element name="ratio" type="xsd:integer" />
                                                <xsd:element name="billedInAdvance" type="xsd:boolean" />
                                                <xsd:element name="pricePerUnit">
                                                   <xsd:complexType>
                                                      <xsd:sequence>
                                                         <xsd:element name="amount" type="xsd:float" />
                                                         <xsd:element name="currency" type="xsd:string" />
                                                      </xsd:sequence>
                                                   </xsd:complexType>
                                                </xsd:element>
                                             </xsd:sequence>
                                          </xsd:complexType>
                                       </xsd:element>
                                    </xsd:sequence>
                                 </xsd:complexType>
                              </xsd:element>
                           </xsd:sequence>
                        </xsd:complexType>
                     </xsd:element>
                  </xsd:sequence>
               </xsd:complexType>
            </xsd:element>
         </xsd:sequence>
      </xsd:complexType>
   </xsd:element>
</xsd:schema>