Resources/canonical_library/xsd/schema.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
    <xs:element name="schema">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="root">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element maxOccurs="unbounded" minOccurs="1" name="row">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="tag_name" type="xs:token"> </xs:element>
                                        <xs:element name="documentation_name" type="xs:string"> </xs:element>
                                        <xs:element name="documenation_defintion" type="xs:string"> </xs:element>
                                        <xs:element name="documenation_note" type="xs:string"> </xs:element>
                                        <xs:element name="base_type" type="xs:token"> </xs:element>
                                        <xs:element name="minOccur" type="xs:integer"> </xs:element>
                                        <xs:element name="maxOccur" type="xs:integer"> </xs:element>
                                        <xs:element name="length" type="xs:integer"> </xs:element>
                                        <xs:element name="minLength" type="xs:integer"> </xs:element>
                                        <xs:element name="maxLength" type="xs:integer">
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>
