Resources/canonical_library/xsd/SCIMGroupSearchResult.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="SCIMGroupSearchResult">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="schemas" minOccurs="0" maxOccurs="unbounded" />
				<xs:element name="totalResults" minOccurs="0" />
				<xs:element name="itemsPerPage"  minOccurs="0"/>
				<xs:element name="startIndex"   minOccurs="0"/>
				<xs:element minOccurs="1" maxOccurs="unbounded" name="Resources">
					<xs:complexType>
						<xs:sequence>
							<xs:element nillable="false" maxOccurs="1" minOccurs="0" name="id">
							</xs:element>
							<xs:element nillable="true" minOccurs="0" maxOccurs="1" name="externalId">
							</xs:element>
							<xs:element type="xs:string" nillable="true" minOccurs="0" maxOccurs="1" name="displayName" xmlns=""/>
							<xs:element name="members" maxOccurs="unbounded" minOccurs="0">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="userId" type="xs:string"  minOccurs="0"/>
										<xs:element name="displayName" type="xs:string"  minOccurs="0"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>

