Resources/canonical_library/xsd/SerialNumber.xsd

<xs:schema attributeFormDefault="unqualified"
	elementFormDefault="qualified"
	xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="SerialNumber">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="data" minOccurs="0"
					maxOccurs="unbounded">
					<xs:complexType>
							<xs:sequence>
							<xs:element type="xs:string" name="externalId" minOccurs="0" maxOccurs="1" />
							<xs:element type="xs:string" name="serialNumber" minOccurs="0" maxOccurs="1" />
							<xs:element name="warehouse" maxOccurs="1" minOccurs="0">
								<xs:complexType>
									<xs:sequence>
										<xs:element type="xs:string" name="externalId" minOccurs="0" />
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="item" maxOccurs="1" minOccurs="0">
								<xs:complexType>
									<xs:sequence>
										<xs:element type="xs:string" name="externalId" minOccurs="0" />
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element type="xs:string" name="code"  minOccurs="0"/>
							<xs:element type="xs:string" name="lotNumber"  minOccurs="0"/>
							<xs:element type="xs:string" name="manufacturerSerialNumber"  minOccurs="0"/>
							<xs:element type="xs:dateTime" name="warrantyEnd"  minOccurs="0"/>
							<xs:element type="xs:dateTime" name="warrantyStart"  minOccurs="0"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>