Resources/canonical_library/xsd/Skills.xsd

<xs:schema attributeFormDefault="unqualified"
	elementFormDefault="qualified"
	xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="Skills">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="data" minOccurs="0"
					maxOccurs="unbounded">
					<xs:complexType>
						<xs:sequence>
							<xs:element type="xs:string" name="externalId"
								minOccurs="0" maxOccurs="1" />
							<xs:element type="xs:boolean" name="endDate"
								minOccurs="0" maxOccurs="1" />
							<xs:element type="xs:boolean" name="startDate"
								minOccurs="0" maxOccurs="1" />
							<xs:element name="person" minOccurs="0" maxOccurs="1">
								<xs:complexType>
									<xs:sequence>
										<xs:element type="xs:string" name="externalId"
											minOccurs="0" maxOccurs="1" />
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="tag" minOccurs="0" maxOccurs="1">
								<xs:complexType>
									<xs:sequence>
										<xs:element type="xs:string" name="externalId"
											minOccurs="0" maxOccurs="1" />
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>