Resources/canonical_library/xsd/Sleep.xsd

<?xml version="1.0" encoding="UTF-8"?>
   <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
         <!-- XML Schema Generated from XML Document on Mon Nov 14 2016 11:39:03 GMT+0530 (India Standard Time) -->
         <!-- with XmlGrid.net Free Online Service http://xmlgrid.net -->
         <xs:element name="Sleep">
               <xs:complexType>
                     <xs:sequence>
                           <xs:element name="Id" type="xs:string"></xs:element>
                           <xs:element name="SleepamountQtyidValue" type="xs:int"></xs:element>
                           <xs:element name="Patient" type="xs:string"></xs:element>
                           <xs:element name="MoodDetails">
                                 <xs:complexType>
                                       <xs:sequence>
                                             <xs:element name="__metadata">
                                                   <xs:complexType>
                                                         <xs:sequence>
                                                               <xs:element name="uri" type="xs:string"></xs:element>
                                                         </xs:sequence>
                                                   </xs:complexType>
                                             </xs:element>
                                       </xs:sequence>
                                 </xs:complexType>
                           </xs:element>
                           <xs:element name="WaterAmtValue" type="xs:int"></xs:element>
                           <xs:element name="HeartrateValue" type="xs:int"></xs:element>
                           <xs:element name="SleepamountQtyidUnitDetails">
                                 <xs:complexType>
                                       <xs:sequence>
                                             <xs:element name="__metadata">
                                                   <xs:complexType>
                                                         <xs:sequence>
                                                               <xs:element name="uri" type="xs:string"></xs:element>
                                                         </xs:sequence>
                                                   </xs:complexType>
                                             </xs:element>
                                       </xs:sequence>
                                 </xs:complexType>
                           </xs:element>
                           <xs:element name="WaterAmtUnitDetails">
                                 <xs:complexType>
                                       <xs:sequence>
                                             <xs:element name="__metadata">
                                                   <xs:complexType>
                                                         <xs:sequence>
                                                               <xs:element name="uri" type="xs:string"></xs:element>
                                                         </xs:sequence>
                                                   </xs:complexType>
                                             </xs:element>
                                       </xs:sequence>
                                 </xs:complexType>
                           </xs:element>
                           <xs:element name="Timestamp">
                                 <xs:complexType>
                                       <xs:sequence>
                                             <xs:element name="TimezoneUtcOffsetInSeconds" type="xs:int"></xs:element>
                                             <xs:element name="UtcTimestamp" type="xs:string"></xs:element>
                                       </xs:sequence>
                                 </xs:complexType>
                           </xs:element>
                           <xs:element name="HeartrateUnitDetails">
                                 <xs:complexType>
                                       <xs:sequence>
                                             <xs:element name="__metadata">
                                                   <xs:complexType>
                                                         <xs:sequence>
                                                               <xs:element name="uri" type="xs:string"></xs:element>
                                                         </xs:sequence>
                                                   </xs:complexType>
                                             </xs:element>
                                       </xs:sequence>
                                 </xs:complexType>
                           </xs:element>
                     </xs:sequence>
               </xs:complexType>
         </xs:element>
   </xs:schema>