Resources/canonical_library/xsd/SLS_LORD_GET_VALUES_WERKS.Response.xsd

<xsd:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<xsd:element name="SLS_LORD_GET_VALUES_WERKS.Response">
		<xsd:complexType>
			<xsd:all>
				<xsd:element name="ET_HELPVALUE" minOccurs="0">
					<xsd:annotation>
						<xsd:documentation>Business Server Pages (BSP) Value List Search Help</xsd:documentation>
					</xsd:annotation>
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="item" type="SHSVALSTR" minOccurs="0" maxOccurs="unbounded"/>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
			</xsd:all>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="SHSVALSTR">
		<xsd:annotation>
			<xsd:documentation>Business Server Pages (BSP)  Combined Value</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="KEY" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Field contents, min./max. value</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="132"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="VALUE" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Field contents, min./max. value</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="132"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>