Resources/canonical_library/xsd/SNOWTicket.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- Created with Liquid Technologies Online Tools 1.0 (https://www.liquid-technologies.com) -->
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="SNOWTicket">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Description" type="xs:string" />
        <xs:element name="Short_Description" type="xs:string" />
        <xs:element name="Priority" type="xs:string" />
        <xs:element name="Work_Notes" type="xs:string" />
        <xs:element name="Assignment_Group" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>