Resources/canonical_library/xsd/SoapRequest.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema targetNamespace="http://tempuri.org/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://tempuri.org/"   elementFormDefault="qualified">	
	<xsd:complexType name="Request">
	<xsd:sequence>
	  <xsd:element minOccurs="0" maxOccurs="1" name="ClientNumber" type="xsd:string" />
	  <xsd:element minOccurs="0" maxOccurs="1" name="BusinessUnit" type="xsd:string" />
	  <xsd:element minOccurs="0" maxOccurs="1" name="ValidationKey" type="xsd:string" />
	  <xsd:element minOccurs="0" maxOccurs="1" name="DataYear" type="xsd:string" />
	  <xsd:element minOccurs="0" maxOccurs="1" name="DataMonth" type="xsd:string" />
	  <xsd:element minOccurs="0" maxOccurs="1" name="CmplDataYear" type="xsd:string" />
	  <xsd:element minOccurs="0" maxOccurs="1" name="CmplDataMonth" type="xsd:string" />
	  <xsd:element minOccurs="1" maxOccurs="1" name="TotalRevenue" type="xsd:decimal" />
	  <xsd:element minOccurs="0" maxOccurs="1" name="ClientTracking" type="xsd:string" />
	  <xsd:element minOccurs="0" maxOccurs="1" name="ResponseType" type="xsd:string" />
	  <xsd:element minOccurs="0" maxOccurs="1" name="ResponseGroup" type="xsd:string" />
	  <xsd:element minOccurs="0" maxOccurs="1" name="ReturnFileCode" type="xsd:string" />
	  <xsd:element minOccurs="0" maxOccurs="1" name="STAN" type="xsd:string" />
	  <xsd:element minOccurs="1" maxOccurs="1" name="MasterTransId" type="xsd:long" />
	  <xsd:element minOccurs="0" maxOccurs="1" name="BillingAddress" type="Address" />
	  <xsd:element minOccurs="0" maxOccurs="1" name="P2PAddress" type="Address" />
	  <xsd:element minOccurs="0" maxOccurs="1" name="ShipToAddress" type="Address" />
	  <xsd:element minOccurs="0" maxOccurs="1" name="ShipFromAddress" type="Address" />
	  <xsd:element minOccurs="0" maxOccurs="1" name="OrderPlacementAddress" type="Address" />
	  <xsd:element minOccurs="0" maxOccurs="1" name="OrderApprovalAddress" type="Address" />
	  <xsd:element minOccurs="0" maxOccurs="1" name="ItemList" type="ArrayOfItem" />
	</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="Address">
	<xsd:sequence>
	  <xsd:element minOccurs="0" maxOccurs="1" name="PrimaryAddressLine" type="xsd:string" />
	  <xsd:element minOccurs="0" maxOccurs="1" name="SecondaryAddressLine" type="xsd:string" />
	  <xsd:element minOccurs="0" maxOccurs="1" name="County" type="xsd:string" />
	  <xsd:element minOccurs="0" maxOccurs="1" name="City" type="xsd:string" />
	  <xsd:element minOccurs="0" maxOccurs="1" name="State" type="xsd:string" />
	  <xsd:element minOccurs="0" maxOccurs="1" name="PostalCode" type="xsd:string" />
	  <xsd:element minOccurs="0" maxOccurs="1" name="Plus4" type="xsd:string" />
	  <xsd:element minOccurs="0" maxOccurs="1" name="Country" type="xsd:string" />
	  <xsd:element minOccurs="0" maxOccurs="1" name="Geocode" type="xsd:string" />
	  <xsd:element minOccurs="1" maxOccurs="1" name="VerifyAddress" type="xsd:boolean" />
	</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ArrayOfItem">
	<xsd:sequence>
	  <xsd:element minOccurs="0" maxOccurs="unbounded" name="Item" nillable="true" type="Item" />
	</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="Item">
	<xsd:sequence>
	  <xsd:element minOccurs="0" maxOccurs="1" name="LineNumber" type="xsd:string" />
	  <xsd:element minOccurs="0" maxOccurs="1" name="InvoiceNumber" type="xsd:string" />
	  <xsd:element minOccurs="0" maxOccurs="1" name="CustomerNumber" type="xsd:string" />
	  <xsd:element minOccurs="0" maxOccurs="1" name="LocationCode" type="xsd:string" />
	  <xsd:element minOccurs="0" maxOccurs="1" name="BillToNumber" type="xsd:string" />
	  <xsd:element minOccurs="0" maxOccurs="1" name="OrigNumber" type="xsd:string" />
	  <xsd:element minOccurs="0" maxOccurs="1" name="TermNumber" type="xsd:string" />
	  <xsd:element minOccurs="0" maxOccurs="1" name="TransDate" type="xsd:string" />
	  <xsd:element minOccurs="0" maxOccurs="1" name="BillingPeriodStartDate" type="xsd:string" />
	  <xsd:element minOccurs="0" maxOccurs="1" name="BillingPeriodEndDate" type="xsd:string" />
	  <xsd:element minOccurs="1" maxOccurs="1" name="Revenue" type="xsd:decimal" />
	  <xsd:element minOccurs="0" maxOccurs="1" name="TaxIncludedCode" type="xsd:string" />
	  <xsd:element minOccurs="1" maxOccurs="1" name="Units" type="xsd:decimal" />
	  <xsd:element minOccurs="0" maxOccurs="1" name="UnitType" type="xsd:string" />
	  <xsd:element minOccurs="1" maxOccurs="1" name="Seconds" type="xsd:int" />
	  <xsd:element minOccurs="0" maxOccurs="1" name="TaxSitusRule" type="xsd:string" />
	  <xsd:element minOccurs="0" maxOccurs="1" name="TaxSitusOverrideCode" type="xsd:string" />
	  <xsd:element minOccurs="0" maxOccurs="1" name="TransTypeCode" type="xsd:string" />
	  <xsd:element minOccurs="0" maxOccurs="1" name="SalesTypeCode" type="xsd:string" />
	  <xsd:element minOccurs="0" maxOccurs="1" name="RegulatoryCode" type="xsd:string" />
	  <xsd:element minOccurs="0" maxOccurs="1" name="TaxExemptionCodeList" type="ArrayOfString" />
	  <xsd:element minOccurs="0" maxOccurs="1" name="UDF" type="xsd:string" />
	  <xsd:element minOccurs="0" maxOccurs="1" name="UDF2" type="xsd:string" />
	  <xsd:element minOccurs="0" maxOccurs="1" name="FreightOnBoard" type="xsd:string" />
	  <xsd:element minOccurs="1" maxOccurs="1" name="ShipFromPOB" type="xsd:boolean" />
	  <xsd:element minOccurs="1" maxOccurs="1" name="MailOrder" type="xsd:boolean" />
	  <xsd:element minOccurs="1" maxOccurs="1" name="CommonCarrier" type="xsd:boolean" />
	  <xsd:element minOccurs="0" maxOccurs="1" name="OriginCountryCode" type="xsd:string" />
	  <xsd:element minOccurs="0" maxOccurs="1" name="DestCountryCode" type="xsd:string" />
	  <xsd:element minOccurs="1" maxOccurs="1" name="AuxRevenue" type="xsd:decimal" />
	  <xsd:element minOccurs="0" maxOccurs="1" name="AuxRevenueType" type="xsd:string" />
	  <xsd:element minOccurs="1" maxOccurs="1" name="BillingDaysInPeriod" type="xsd:int" />
	  <xsd:element minOccurs="0" maxOccurs="1" name="CostCenter" type="xsd:string" />
	  <xsd:element minOccurs="0" maxOccurs="1" name="GLAccount" type="xsd:string" />
	  <xsd:element minOccurs="0" maxOccurs="1" name="MaterialGroup" type="xsd:string" />
	  <xsd:element minOccurs="0" maxOccurs="1" name="Parameter1" type="xsd:string" />
	  <xsd:element minOccurs="0" maxOccurs="1" name="Parameter2" type="xsd:string" />
	  <xsd:element minOccurs="0" maxOccurs="1" name="Parameter3" type="xsd:string" />
	  <xsd:element minOccurs="0" maxOccurs="1" name="Parameter4" type="xsd:string" />
	  <xsd:element minOccurs="0" maxOccurs="1" name="Parameter5" type="xsd:string" />
	  <xsd:element minOccurs="0" maxOccurs="1" name="Parameter6" type="xsd:string" />
	  <xsd:element minOccurs="0" maxOccurs="1" name="Parameter7" type="xsd:string" />
	  <xsd:element minOccurs="0" maxOccurs="1" name="Parameter8" type="xsd:string" />
	  <xsd:element minOccurs="0" maxOccurs="1" name="Parameter9" type="xsd:string" />
	  <xsd:element minOccurs="0" maxOccurs="1" name="Parameter10" type="xsd:string" />
	  <xsd:element minOccurs="0" maxOccurs="1" name="RuleOverride" type="xsd:string" />
	  <xsd:element minOccurs="0" maxOccurs="1" name="CurrencyCode" type="xsd:string" />
	  <xsd:element minOccurs="0" maxOccurs="1" name="ExemptReasonCode" type="xsd:string" />
	  <xsd:element minOccurs="0" maxOccurs="1" name="BillingAddress" type="Address" />
	  <xsd:element minOccurs="0" maxOccurs="1" name="P2PAddress" type="Address" />
	  <xsd:element minOccurs="0" maxOccurs="1" name="ShipToAddress" type="Address" />
	  <xsd:element minOccurs="0" maxOccurs="1" name="ShipFromAddress" type="Address" />
	  <xsd:element minOccurs="0" maxOccurs="1" name="OrderPlacementAddress" type="Address" />
	  <xsd:element minOccurs="0" maxOccurs="1" name="OrderApprovalAddress" type="Address" />
	</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ArrayOfString">
	<xsd:sequence>
	  <xsd:element minOccurs="0" maxOccurs="unbounded" name="string" nillable="true" type="xsd:string" />
	</xsd:sequence>
	</xsd:complexType>
	<xsd:element name="SoapRequest">
	<xsd:complexType>
	  <xsd:sequence>
		<xsd:element minOccurs="0" maxOccurs="1" name="request" type="Request" />
	  </xsd:sequence>
	</xsd:complexType>
	</xsd:element>
</xsd:schema>