Resources/canonical_library/xsd/StandardMessageFault.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:ccts="urn:un:unece:uncefact:documentation:standard:CoreComponentsTechnicalSpecification:3.0" version="1.0">
    <xsd:element name="Messages">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element  type="OriginalMessage" name="OriginalMessage"/>
                <xsd:element type="MappedMessage" name="MappedMessage"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:complexType name="OriginalMessage">
        <xsd:sequence>
            <xsd:element type="root" name="root"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="root">
        <xsd:sequence>
            <xsd:element type="aggregatedSalesTransactions" name="aggregatedSalesTransactions"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="aggregatedSalesTransactions">
        <xsd:sequence>
            <xsd:element type="xsd:token" name="aggregationID" maxOccurs="1" minOccurs="1"/>
            <xsd:element type="xsd:token" name="storeID" maxOccurs="1" minOccurs="1"/>
            <xsd:element type="xsd:token" name="date" maxOccurs="1" minOccurs="1"/>
            <xsd:element type="xsd:token" name="externalSystemID" maxOccurs="1" minOccurs="1"/>
            <xsd:element type="aggregatedSalesByProduct" name="aggregatedSalesByProduct" maxOccurs="unbounded"
                         minOccurs="0"/>
            <xsd:element type="aggregatedPaymentList" name="aggregatedPaymentList" maxOccurs="unbounded" minOccurs="0"/>
            <xsd:element type="aggregatedSalesPerReceipt" name="salesPerReceipt" maxOccurs="unbounded" minOccurs="0"/>
            <xsd:element type="customerOrderPaymentList" name="customerOrderPaymentList" maxOccurs="unbounded"
                         minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="aggregatedSalesByProduct">
        <xsd:sequence>
            <xsd:element type="xsd:token" name="sequenceNumber" maxOccurs="1" minOccurs="1"/>
            <xsd:element type="xsd:token" name="productID" maxOccurs="1" minOccurs="1"/>
            <xsd:element type="xsd:token" name="itemType" maxOccurs="1" minOccurs="1"/>
            <xsd:element type="xsd:token" name="currency" maxOccurs="1" minOccurs="1"/>
            <xsd:element type="xsd:token" name="totalSalesAmount" maxOccurs="1" minOccurs="1"/>
            <xsd:element type="xsd:token" name="totalQuantity" maxOccurs="1" minOccurs="1"/>
            <xsd:element type="xsd:token" name="unitCode" maxOccurs="1" minOccurs="1"/>
            <xsd:element type="xsd:token" name="promotion" maxOccurs="1" minOccurs="0"/>
            <xsd:element type="priceSpecifications" name="priceSpecifications" maxOccurs="unbounded" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="aggregatedPaymentList">
        <xsd:sequence>
            <xsd:element type="xsd:token" name="paymentMethod" maxOccurs="1" minOccurs="1"/>
            <xsd:element type="amount" name="amount" maxOccurs="1" minOccurs="1"/>
            <xsd:element type="xsd:token" name="paytCardByDigitalPaymentSrvc" maxOccurs="1" minOccurs="0"/>
            <xsd:element type="xsd:token" name="authorizationDateTime" maxOccurs="1" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="aggregatedSalesPerReceipt">
        <xsd:sequence>
            <xsd:element type="xsd:token" name="externalTransactionID"/>
            <xsd:element type="xsd:token" name="workstation"/>
            <xsd:element type="xsd:token" name="customerId" minOccurs="0"/>
			<xsd:element type="xsd:token" name="endTime" minOccurs="0" />
			<xsd:element type="xsd:token" name="operatorId" minOccurs="0" />
			<xsd:element type="xsd:token" name="channelId" minOccurs="0" />
			<xsd:element type="xsd:token" name="transactionNumber" minOccurs="0" />
            <xsd:element type="salesPerReceiptDiscount" name="discounts" minOccurs="0" maxOccurs="unbounded"/>
            <xsd:element type="salesPerReceiptItem" name="item" maxOccurs="unbounded"/>
            <xsd:element type="paymentList" name="paymentList" minOccurs="0" maxOccurs="unbounded"/>
            <xsd:element type="POSTransaction.extension" name="POSTransaction.extension" minOccurs="0"/>
            <xsd:element type="SalesTransaction.extension" name="SalesTransaction.extension" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="customerOrderPaymentList">
        <xsd:sequence>
            <xsd:element type="xsd:token" name="externalTransactionID"/>
            <xsd:element type="xsd:token" name="workstation"/>
            <xsd:element type="xsd:token" name="customerId" minOccurs="0"/>
			<xsd:element type="xsd:token" name="operatorId" minOccurs="0" />
			<xsd:element type="xsd:token" name="channelId" minOccurs="0" />
			<xsd:element type="xsd:token" name="transactionNumber" minOccurs="0" />
            <xsd:element type="salesPerReceiptDiscount" name="discounts" minOccurs="0" maxOccurs="unbounded"/>
            <xsd:element type="salesPerReceiptItem" name="item" maxOccurs="unbounded"/>
            <xsd:element type="paymentList" name="paymentList" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="salesPerReceiptDiscount">
        <xsd:sequence>
            <xsd:element type="xsd:token" name="discountType"/>
            <xsd:element type="xsd:token" name="discountAmount"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="salesPerReceiptItem">
        <xsd:sequence>
            <xsd:element type="xsd:token" name="itemID" minOccurs="0"/>
            <xsd:element type="xsd:token" name="itemType" minOccurs="0"/>
            <xsd:element type="xsd:token" name="totalAmount"/>
            <xsd:element type="xsd:token" name="currency"/>
            <xsd:element type="xsd:token" name="uom" minOccurs="0"/>
            <xsd:element type="xsd:token" name="quantity" minOccurs="0"/>
            <xsd:element type="xsd:token" name="promotion" maxOccurs="1" minOccurs="0"/>
            <xsd:element type="priceSpecifications" name="priceSpecification" minOccurs="0" maxOccurs="unbounded"/>
            <xsd:element type="xsd:token" name="salesMovementItemTypeCode" minOccurs="0" />
            <xsd:element type="SalesTransaction.item.extension" name="SalesTransaction.item.extension" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="paymentList">
        <xsd:sequence>
            <xsd:element type="xsd:token" name="paymentMethod"/>
            <xsd:element type="amount" name="amount"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="amount">
        <xsd:sequence>
            <xsd:element type="xsd:token" name="amount" maxOccurs="1" minOccurs="1"/>
            <xsd:element type="xsd:token" name="currencyCode" maxOccurs="1" minOccurs="1"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="priceSpecifications">
        <xsd:sequence>
            <xsd:element type="xsd:token" name="priceSpecificationElementTypeCode" maxOccurs="1" minOccurs="1"/>
            <xsd:element type="xsd:token" name="priceSpecificationRateValue" maxOccurs="1" minOccurs="1"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="POSTransaction.extension">
        <xsd:sequence>
            <xsd:element type="xsd:token" name="testTranField" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="SalesTransaction.extension">
        <xsd:sequence>
            <xsd:element type="SalesTransactionExtensionStructure" name="salesExtension" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="SalesTransactionExtensionStructure">
        <xsd:sequence>
            <xsd:element type="xsd:token" name="salesExtField1" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="SalesTransaction.item.extension">
        <xsd:sequence>
            <xsd:element type="xsd:token" name="testitemfield" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="MappedMessage">
        <xsd:sequence>
            <xsd:element name="PosSalesTransactionsCreateRequest" type="PosSlsTrxCrtReqMsg"/>
        </xsd:sequence>
    </xsd:complexType>
<xsd:element name="StandardMessageFault">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="standard" type="ExchangeFaultData"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:simpleType name="AgencyIdentificationCode">
                <xsd:restriction base="xsd:token">
                    <xsd:maxLength value="3"/>
                    <xsd:minLength value="1"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:complexType name="Amount">
                <xsd:simpleContent>
                    <xsd:extension base="Amount.Content">
                        <xsd:attribute name="currencyCode" use="required" type="CurrencyCode"/>
                    </xsd:extension>
                </xsd:simpleContent>
            </xsd:complexType>
            <xsd:simpleType name="Amount.Content">
                <xsd:restriction base="xsd:decimal">
                    <xsd:totalDigits value="28"/>
                    <xsd:fractionDigits value="6"/>
                    <xsd:maxInclusive value="9999999999999999999999.999999"/>
                    <xsd:minInclusive value="-9999999999999999999999.999999"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:complexType name="BusinessDocumentMessageHeader">
                <xsd:sequence>
                    <xsd:element name="ID" minOccurs="0" type="BusinessDocumentMessageID"/>
                    <xsd:element name="ReferenceID" minOccurs="0" type="BusinessDocumentMessageID"/>
                    <xsd:element name="CreationDateTime" type="GLOBAL_DateTime"/>
                    <xsd:element name="TestDataIndicator" minOccurs="0" type="Indicator"/>
                    <xsd:element name="ReconciliationIndicator" minOccurs="0" type="Indicator"/>
                    <xsd:element name="SenderBusinessSystemID" minOccurs="0" type="BusinessSystemID"/>
                    <xsd:element name="RecipientBusinessSystemID" minOccurs="0" type="BusinessSystemID"/>
                    <xsd:element name="SenderParty" minOccurs="0" type="BusinessDocumentMessageHeaderParty"/>
                    <xsd:element name="RecipientParty" minOccurs="0" maxOccurs="unbounded"
                                 type="BusinessDocumentMessageHeaderParty"/>
                    <xsd:element name="BusinessScope" minOccurs="0" maxOccurs="unbounded" type="BusinessScope"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="BusinessDocumentMessageHeaderParty">
                <xsd:sequence>
                    <xsd:element name="InternalID" minOccurs="0" type="PartyInternalID"/>
                    <xsd:element name="StandardID" minOccurs="0" maxOccurs="unbounded" type="PartyStandardID"/>
                    <xsd:element name="ContactPerson" minOccurs="0"
                                 type="BusinessDocumentMessageHeaderPartyContactPerson"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="BusinessDocumentMessageHeaderPartyContactPerson">
                <xsd:sequence>
                    <xsd:element name="InternalID" minOccurs="0" type="ContactPersonInternalID"/>
                    <xsd:element name="OrganisationFormattedName" minOccurs="0" maxOccurs="4"
                                 type="LANGUAGEINDEPENDENT_MEDIUM_Name"/>
                    <xsd:element name="PersonFormattedName" minOccurs="0" maxOccurs="4"
                                 type="LANGUAGEINDEPENDENT_LONG_Name"/>
                    <xsd:element name="PhoneNumber" minOccurs="0" maxOccurs="unbounded" type="PhoneNumber"/>
                    <xsd:element name="FaxNumber" minOccurs="0" maxOccurs="unbounded" type="PhoneNumber"/>
                    <xsd:element name="EmailURI" minOccurs="0" maxOccurs="unbounded" type="EmailURI"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="BusinessDocumentMessageID">
                <xsd:simpleContent>
                    <xsd:extension base="BusinessDocumentMessageID.Content">
                        <xsd:attribute name="schemeID">
                            <xsd:simpleType>
                                <xsd:restriction base="xsd:token">
                                    <xsd:maxLength value="60"/>
                                    <xsd:minLength value="1"/>
                                </xsd:restriction>
                            </xsd:simpleType>
                        </xsd:attribute>
                        <xsd:attribute name="schemeAgencyID">
                            <xsd:simpleType>
                                <xsd:restriction base="xsd:token">
                                    <xsd:maxLength value="60"/>
                                    <xsd:minLength value="1"/>
                                </xsd:restriction>
                            </xsd:simpleType>
                        </xsd:attribute>
                        <xsd:attribute name="schemeAgencySchemeAgencyID" type="AgencyIdentificationCode"/>
                    </xsd:extension>
                </xsd:simpleContent>
            </xsd:complexType>
            <xsd:simpleType name="BusinessDocumentMessageID.Content">
                <xsd:restriction base="xsd:token">
                    <xsd:maxLength value="35"/>
                    <xsd:minLength value="1"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="BusinessPartnerInternalID">
                <xsd:restriction base="xsd:token">
                    <xsd:maxLength value="10"/>
                    <xsd:minLength value="1"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:complexType name="BusinessScope">
                <xsd:sequence>
                    <xsd:element name="TypeCode" type="BusinessScopeTypeCode"/>
                    <xsd:element name="InstanceID" minOccurs="0" type="BusinessScopeInstanceID"/>
                    <xsd:element name="ID" minOccurs="0" type="BusinessScopeID"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="BusinessScopeID">
                <xsd:simpleContent>
                    <xsd:extension base="BusinessScopeID.Content">
                        <xsd:attribute name="schemeID">
                            <xsd:simpleType>
                                <xsd:restriction base="xsd:token">
                                    <xsd:maxLength value="60"/>
                                    <xsd:minLength value="1"/>
                                </xsd:restriction>
                            </xsd:simpleType>
                        </xsd:attribute>
                        <xsd:attribute name="schemeAgencyID">
                            <xsd:simpleType>
                                <xsd:restriction base="xsd:token">
                                    <xsd:maxLength value="60"/>
                                    <xsd:minLength value="1"/>
                                </xsd:restriction>
                            </xsd:simpleType>
                        </xsd:attribute>
                    </xsd:extension>
                </xsd:simpleContent>
            </xsd:complexType>
            <xsd:simpleType name="BusinessScopeID.Content">
                <xsd:restriction base="xsd:token">
                    <xsd:maxLength value="36"/>
                    <xsd:minLength value="1"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:complexType name="BusinessScopeInstanceID">
                <xsd:simpleContent>
                    <xsd:extension base="BusinessScopeInstanceID.Content">
                        <xsd:attribute name="schemeID">
                            <xsd:simpleType>
                                <xsd:restriction base="xsd:token">
                                    <xsd:maxLength value="60"/>
                                    <xsd:minLength value="1"/>
                                </xsd:restriction>
                            </xsd:simpleType>
                        </xsd:attribute>
                        <xsd:attribute name="schemeAgencyID">
                            <xsd:simpleType>
                                <xsd:restriction base="xsd:token">
                                    <xsd:maxLength value="60"/>
                                    <xsd:minLength value="1"/>
                                </xsd:restriction>
                            </xsd:simpleType>
                        </xsd:attribute>
                    </xsd:extension>
                </xsd:simpleContent>
            </xsd:complexType>
            <xsd:simpleType name="BusinessScopeInstanceID.Content">
                <xsd:restriction base="xsd:token">
                    <xsd:maxLength value="36"/>
                    <xsd:minLength value="1"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:complexType name="BusinessScopeTypeCode">
                <xsd:simpleContent>
                    <xsd:extension base="BusinessScopeTypeCode.Content">
                        <xsd:attribute name="listID">
                            <xsd:simpleType>
                                <xsd:restriction base="xsd:token">
                                    <xsd:maxLength value="60"/>
                                    <xsd:minLength value="1"/>
                                </xsd:restriction>
                            </xsd:simpleType>
                        </xsd:attribute>
                        <xsd:attribute name="listVersionID">
                            <xsd:simpleType>
                                <xsd:restriction base="xsd:token">
                                    <xsd:maxLength value="15"/>
                                    <xsd:minLength value="1"/>
                                </xsd:restriction>
                            </xsd:simpleType>
                        </xsd:attribute>
                        <xsd:attribute name="listAgencyID">
                            <xsd:simpleType>
                                <xsd:restriction base="xsd:token">
                                    <xsd:maxLength value="60"/>
                                    <xsd:minLength value="1"/>
                                </xsd:restriction>
                            </xsd:simpleType>
                        </xsd:attribute>
                        <xsd:attribute name="listAgencySchemeID">
                            <xsd:simpleType>
                                <xsd:restriction base="xsd:token">
                                    <xsd:maxLength value="60"/>
                                    <xsd:minLength value="1"/>
                                </xsd:restriction>
                            </xsd:simpleType>
                        </xsd:attribute>
                        <xsd:attribute name="listAgencySchemeAgencyID" type="AgencyIdentificationCode"/>
                    </xsd:extension>
                </xsd:simpleContent>
            </xsd:complexType>
            <xsd:simpleType name="BusinessScopeTypeCode.Content">
                <xsd:restriction base="xsd:token">
                    <xsd:maxLength value="4"/>
                    <xsd:minLength value="1"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="BusinessSystemID">
                <xsd:restriction base="xsd:token">
                    <xsd:maxLength value="60"/>
                    <xsd:minLength value="1"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="ConditionType_GFN">
                <xsd:restriction base="xsd:token">
                    <xsd:maxLength value="4"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:complexType name="ContactPersonInternalID">
                <xsd:simpleContent>
                    <xsd:extension base="ContactPersonInternalID.Content">
                        <xsd:attribute name="schemeID">
                            <xsd:simpleType>
                                <xsd:restriction base="xsd:token">
                                    <xsd:maxLength value="60"/>
                                    <xsd:minLength value="1"/>
                                </xsd:restriction>
                            </xsd:simpleType>
                        </xsd:attribute>
                        <xsd:attribute name="schemeAgencyID">
                            <xsd:simpleType>
                                <xsd:restriction base="xsd:token">
                                    <xsd:maxLength value="60"/>
                                    <xsd:minLength value="1"/>
                                </xsd:restriction>
                            </xsd:simpleType>
                        </xsd:attribute>
                    </xsd:extension>
                </xsd:simpleContent>
            </xsd:complexType>
            <xsd:simpleType name="ContactPersonInternalID.Content">
                <xsd:restriction base="xsd:token">
                    <xsd:maxLength value="32"/>
                    <xsd:minLength value="1"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="CountryCode">
                <xsd:restriction base="xsd:token">
                    <xsd:maxLength value="3"/>
                    <xsd:minLength value="2"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="CountryDiallingCode">
                <xsd:restriction base="xsd:token">
                    <xsd:maxLength value="10"/>
                    <xsd:minLength value="1"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="CurrencyCode">
                <xsd:restriction base="xsd:token">
                    <xsd:length value="3"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="Date">
                <xsd:restriction base="xsd:date">
                    <xsd:pattern value="[0-9]{4}-[0-9]{2}-[0-9]{2}"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:complexType name="EmailURI">
                <xsd:simpleContent>
                    <xsd:extension base="xsd:anyURI">
                        <xsd:attribute name="schemeID">
                            <xsd:simpleType>
                                <xsd:restriction base="xsd:token">
                                    <xsd:maxLength value="60"/>
                                    <xsd:minLength value="1"/>
                                </xsd:restriction>
                            </xsd:simpleType>
                        </xsd:attribute>
                    </xsd:extension>
                </xsd:simpleContent>
            </xsd:complexType>
            <xsd:complexType name="ExchangeFaultData">
                <xsd:sequence>
                    <xsd:element name="faultText" type="xsd:string"/>
                    <xsd:element name="faultUrl" minOccurs="0" type="xsd:string"/>
                    <xsd:element name="faultDetail" minOccurs="0" maxOccurs="unbounded" type="ExchangeLogData"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="ExchangeLogData">
                <xsd:sequence>
                    <xsd:element name="severity" minOccurs="0" type="xsd:string"/>
                    <xsd:element name="text" type="xsd:string"/>
                    <xsd:element name="url" minOccurs="0" type="xsd:string"/>
                    <xsd:element name="id" minOccurs="0" type="xsd:string"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:simpleType name="GLOBAL_DateTime">
                <xsd:restriction base="xsd:dateTime">
                    <xsd:pattern value="[0-9]{4}-[0-9]{2}-[0-9]{2}T[0-9]{2}:[0-9]{2}:[0-9]{2}(.[0-9]{1,7})?Z"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="Indicator">
                <xsd:restriction base="xsd:boolean"/>
            </xsd:simpleType>
            <xsd:simpleType name="LANGUAGEINDEPENDENT_LONG_Name">
                <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="80"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="LANGUAGEINDEPENDENT_MEDIUM_Name">
                <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="40"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="LanguageCode">
                <xsd:restriction base="xsd:language">
                    <xsd:maxLength value="9"/>
                    <xsd:minLength value="2"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:complexType name="MEDIUM_Name">
                <xsd:simpleContent>
                    <xsd:extension base="MEDIUM_Name.Content">
                        <xsd:attribute name="languageCode" type="LanguageCode"/>
                    </xsd:extension>
                </xsd:simpleContent>
            </xsd:complexType>
            <xsd:simpleType name="MEDIUM_Name.Content">
                <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="40"/>
                    <xsd:minLength value="1"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="MeasureUnitCode">
                <xsd:restriction base="xsd:token">
                    <xsd:maxLength value="3"/>
                    <xsd:minLength value="1"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="NOSC_ProductCategoryID">
                <xsd:restriction base="xsd:token">
                    <xsd:maxLength value="40"/>
                    <xsd:minLength value="1"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="NOSC_ProductCategoryInternalID">
                <xsd:restriction base="xsd:token">
                    <xsd:maxLength value="40"/>
                    <xsd:minLength value="1"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="NOSC_ProductInternalID">
                <xsd:restriction base="xsd:token">
                    <xsd:maxLength value="60"/>
                    <xsd:minLength value="1"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="NOSC_RetailEventID">
                <xsd:restriction base="xsd:token">
                    <xsd:maxLength value="10"/>
                    <xsd:minLength value="1"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="NOSC_SeasonYearID">
                <xsd:restriction base="xsd:token">
                    <xsd:maxLength value="4"/>
                    <xsd:minLength value="1"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="NOSC_StoreInternalID">
                <xsd:restriction base="xsd:token">
                    <xsd:maxLength value="20"/>
                    <xsd:minLength value="1"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="OPTIONAL_Indicator">
                <xsd:restriction base="xsd:boolean"/>
            </xsd:simpleType>
            <xsd:simpleType name="OrdinalNumberValue">
                <xsd:restriction base="xsd:int">
                    <xsd:maxInclusive value="999999999"/>
                    <xsd:minInclusive value="1"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="POSSalesTransactionItemProcessingTypeCode">
                <xsd:restriction base="xsd:token">
                    <xsd:maxLength value="4"/>
                    <xsd:minLength value="1"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="POSTransactionPaymentUseCode">
                <xsd:restriction base="xsd:token">
                    <xsd:length value="1"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="POSWorkStationID">
                <xsd:restriction base="xsd:token">
                    <xsd:maxLength value="25"/>
                    <xsd:minLength value="1"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:complexType name="PartyInternalID">
                <xsd:simpleContent>
                    <xsd:extension base="PartyInternalID.Content">
                        <xsd:attribute name="schemeID">
                            <xsd:simpleType>
                                <xsd:restriction base="xsd:token">
                                    <xsd:maxLength value="60"/>
                                    <xsd:minLength value="1"/>
                                </xsd:restriction>
                            </xsd:simpleType>
                        </xsd:attribute>
                        <xsd:attribute name="schemeAgencyID">
                            <xsd:simpleType>
                                <xsd:restriction base="xsd:token">
                                    <xsd:maxLength value="60"/>
                                    <xsd:minLength value="1"/>
                                </xsd:restriction>
                            </xsd:simpleType>
                        </xsd:attribute>
                    </xsd:extension>
                </xsd:simpleContent>
            </xsd:complexType>
            <xsd:simpleType name="PartyInternalID.Content">
                <xsd:restriction base="xsd:token">
                    <xsd:maxLength value="32"/>
                    <xsd:minLength value="1"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:complexType name="PartyStandardID">
                <xsd:simpleContent>
                    <xsd:extension base="PartyStandardID.Content">
                        <xsd:attribute name="schemeAgencyID" use="required">
                            <xsd:simpleType>
                                <xsd:restriction base="xsd:token">
                                    <xsd:maxLength value="3"/>
                                    <xsd:minLength value="1"/>
                                </xsd:restriction>
                            </xsd:simpleType>
                        </xsd:attribute>
                    </xsd:extension>
                </xsd:simpleContent>
            </xsd:complexType>
            <xsd:simpleType name="PartyStandardID.Content">
                <xsd:restriction base="xsd:token">
                    <xsd:maxLength value="13"/>
                    <xsd:minLength value="1"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="PaymentCardReferenceID">
                <xsd:restriction base="xsd:token">
                    <xsd:maxLength value="25"/>
                    <xsd:minLength value="1"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="Percent">
                <xsd:restriction base="xsd:decimal">
                    <xsd:totalDigits value="16"/>
                    <xsd:fractionDigits value="6"/>
                    <xsd:maxInclusive value="9999999999.999999"/>
                    <xsd:minInclusive value="-9999999999.999999"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:complexType name="PhoneNumber">
                <xsd:sequence>
                    <xsd:element name="AreaID" minOccurs="0" type="PhoneNumberAreaID"/>
                    <xsd:element name="SubscriberID" minOccurs="0" type="PhoneNumberSubscriberID"/>
                    <xsd:element name="ExtensionID" minOccurs="0" type="PhoneNumberExtensionID"/>
                    <xsd:element name="CountryCode" minOccurs="0" type="CountryCode"/>
                    <xsd:element name="CountryDiallingCode" minOccurs="0" type="CountryDiallingCode"/>
                    <xsd:element name="CountryName" minOccurs="0" type="MEDIUM_Name"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:simpleType name="PhoneNumberAreaID">
                <xsd:restriction base="xsd:token">
                    <xsd:maxLength value="10"/>
                    <xsd:minLength value="1"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="PhoneNumberExtensionID">
                <xsd:annotation>
                    <xsd:documentation xml:lang="EN">
                        <ccts:RepresentationTerm>Identifier</ccts:RepresentationTerm>
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:restriction base="xsd:token">
                    <xsd:maxLength value="10"/>
                    <xsd:minLength value="1"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="PhoneNumberSubscriberID">
                <xsd:annotation>
                    <xsd:documentation xml:lang="EN">
                        <ccts:RepresentationTerm>Identifier</ccts:RepresentationTerm>
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:restriction base="xsd:token">
                    <xsd:maxLength value="30"/>
                    <xsd:minLength value="1"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="PosProductTaxClassification">
                <xsd:annotation>
                    <xsd:documentation xml:lang="EN">
                        <ccts:RepresentationTerm>Name</ccts:RepresentationTerm>
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="1"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="PosReferenceDocumentID">
                <xsd:annotation>
                    <xsd:documentation xml:lang="EN">
                        <ccts:RepresentationTerm>Identifier</ccts:RepresentationTerm>
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:restriction base="xsd:token">
                    <xsd:maxLength value="16"/>
                    <xsd:minLength value="1"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="PosServiceCallReferenceID">
                <xsd:annotation>
                    <xsd:documentation xml:lang="EN">
                        <ccts:RepresentationTerm>Identifier</ccts:RepresentationTerm>
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:restriction base="xsd:token">
                    <xsd:maxLength value="16"/>
                    <xsd:minLength value="1"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:complexType name="PosSlsTrxCrtReqMsg">
                <xsd:sequence>
                    <xsd:element name="MessageHeader" type="BusinessDocumentMessageHeader"/>
                    <xsd:element name="PosSalesTransactions" type="PosSlsTrxCrtReqPosSlsTrx"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="PosSlsTrxCrtReqPosSlsTrx">
                <xsd:sequence>
                    <xsd:element name="ServiceCallReferenceID" type="PosServiceCallReferenceID"/>
                    <xsd:element name="StoreInternalID" type="NOSC_StoreInternalID"/>
                    <xsd:element name="SalesTransactionsDate" type="Date"/>
                    <xsd:element name="AggregatedSalesByProduct" minOccurs="0" maxOccurs="unbounded"
                                 type="PosSlsTrxCrtReqPosSlsTrxAggSlsByPrd"/>
                    <xsd:element name="AggregatedPaymentList" minOccurs="0" maxOccurs="unbounded"
                                 type="PosSlsTrxCrtReqPosSlsTrxAggPaytList"/>
                    <xsd:element name="CustomerOrderPaymentList" minOccurs="0" maxOccurs="unbounded"
                                 type="PosSlsTrxCrtReqPosSlsTrxCustOrdPaytList"/>
                    <xsd:element name="SalesPerReceipt" minOccurs="0" maxOccurs="unbounded"
                                 type="PosSlsTrxCrtReqPosSlsTrxSlsPerReceipt"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="PosSlsTrxCrtReqPosSlsTrxAggPaytList">
                <xsd:sequence>
                    <xsd:element name="PaymentMethod" type="ConditionType_GFN"/>
                    <xsd:element name="Amount" type="Amount"/>
                    <xsd:element name="PaytCardByDigitalPaymentSrvc" minOccurs="0" type="PaymentCardReferenceID"/>
                    <xsd:element name="AuthorizationDateTime" minOccurs="0" type="GLOBAL_DateTime"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="PosSlsTrxCrtReqPosSlsTrxAggSlsByPrd">
                <xsd:sequence>
                    <xsd:element name="SequenceNumber" minOccurs="0" type="OrdinalNumberValue"/>
                    <xsd:element name="GlobalTradeItemNumber" minOccurs="0" type="ProductStandardID_V1"/>
                    <xsd:element name="ProductInternalID" minOccurs="0" type="NOSC_ProductInternalID"/>
                    <xsd:element name="ProductGroupInternalID" minOccurs="0" type="NOSC_ProductCategoryID"/>
                    <xsd:element name="ReturnItemIndicator" minOccurs="0" type="OPTIONAL_Indicator"/>
                    <xsd:element name="TiedEmptiesIndicator" minOccurs="0" type="OPTIONAL_Indicator"/>
                    <xsd:element name="RetailPromotion" minOccurs="0" type="NOSC_RetailEventID"/>
                    <xsd:element name="ProductSeasonYear" minOccurs="0" type="NOSC_SeasonYearID"/>
                    <xsd:element name="ProductSeason" minOccurs="0" type="ProductSeasonCode"/>
                    <xsd:element name="ProductCollection" minOccurs="0" type="ProductCollectionCode"/>
                    <xsd:element name="ProductTheme" minOccurs="0" type="ProductThemeCode_V1"/>
                    <xsd:element name="TotalAmount" type="Amount"/>
                    <xsd:element name="TotalQuantity" minOccurs="0" type="Quantity_V2"/>
                    <xsd:element name="SerialNumber" minOccurs="0" maxOccurs="unbounded"
                                 type="PosSlsTrxCrtReqPosSlsTrxAggSlsByPrdSrlNmbr"/>
                    <xsd:element name="PriceSpecification" minOccurs="0" maxOccurs="unbounded"
                                 type="PosSlsTrxCrtReqPosSlsTrxAggSlsByPrdPriSpc"/>
                    <xsd:element name="Tax" minOccurs="0" maxOccurs="unbounded"
                                 type="PosSlsTrxCrtReqPosSlsTrxAggSlsByPrdTax"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="PosSlsTrxCrtReqPosSlsTrxAggSlsByPrdPriSpc">
                <xsd:sequence>
                    <xsd:element name="PriceSpecificationElementTypeCode" type="PriceSpecificationElementTypeCode"/>
                    <xsd:element name="PriceSpecificationRateValue" type="Percent"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="PosSlsTrxCrtReqPosSlsTrxAggSlsByPrdSrlNmbr">
                <xsd:sequence>
                    <xsd:element name="SerialID" type="SerialID"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="PosSlsTrxCrtReqPosSlsTrxAggSlsByPrdTax">
                <xsd:sequence>
                    <xsd:element name="ProductTaxClassification" type="PosProductTaxClassification"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="PosSlsTrxCrtReqPosSlsTrxCustOrdPaytList">
                <xsd:sequence>
                    <xsd:element name="ExternalReferenceDocumentID" type="PosReferenceDocumentID"/>
                    <xsd:element name="TransactionInitiatorID" type="PosTransactionInitiatorID"/>
                    <xsd:element name="PartnerNumber" minOccurs="0" type="BusinessPartnerInternalID"/>
                    <xsd:element name="SalesDocumentDetails" maxOccurs="unbounded"
                                 type="PosSlsTrxCrtReqPosSlsTrxCustOrdSlsDet"/>
                    <xsd:element name="PaymentList" minOccurs="0" maxOccurs="unbounded"
                                 type="PosSlsTrxCrtReqPosSlsTrxPaytList"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="PosSlsTrxCrtReqPosSlsTrxCustOrdSlsDet">
                <xsd:sequence>
                    <xsd:element name="SalesDocumentID" type="SalesDocument_GFN"/>
                    <xsd:element name="PaymentReversalIndicator" minOccurs="0" type="OPTIONAL_Indicator"/>
                    <xsd:element name="PaymentUseCode" minOccurs="0" type="POSTransactionPaymentUseCode"/>
                    <xsd:element name="Amount" type="Amount"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="PosSlsTrxCrtReqPosSlsTrxPaytList">
                <xsd:sequence>
                    <xsd:element name="PaymentMethod" type="ConditionType_GFN"/>
                    <xsd:element name="Amount" type="Amount"/>
                    <xsd:element name="PaytCardByDigitalPaymentSrvc" minOccurs="0" type="PaymentCardReferenceID"/>
                    <xsd:element name="AuthorizationDateTime" minOccurs="0" type="GLOBAL_DateTime"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="PosSlsTrxCrtReqPosSlsTrxSlsPerReceipt">
                <xsd:sequence>
                    <xsd:element name="ExternalReferenceDocumentID" type="PosReferenceDocumentID"/>
                    <xsd:element name="TransactionInitiatorID" type="PosTransactionInitiatorID"/>
                    <xsd:element name="SalesTransactionTime" minOccurs="0" type="Time"/>
                    <xsd:element name="WorkStationID" minOccurs="0" type="POSWorkStationID"/>
                    <xsd:element name="PartnerNumber" minOccurs="0" type="BusinessPartnerInternalID"/>
                    <xsd:element name="Item" maxOccurs="unbounded" type="PosSlsTrxCrtReqPosSlsTrxSlsPerReceiptItem"/>
                    <xsd:element name="HeaderDiscounts" minOccurs="0" maxOccurs="unbounded"
                                 type="PosSlsTrxCrtReqPosSlsTrxSlsPerReceiptHdrDisc"/>
                    <xsd:element name="PaymentList" minOccurs="0" maxOccurs="unbounded"
                                 type="PosSlsTrxCrtReqPosSlsTrxSlsPerReceiptPaytList"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="PosSlsTrxCrtReqPosSlsTrxSlsPerReceiptHdrDisc">
                <xsd:sequence>
                    <xsd:element name="PriceSpecificationElementTypeCode" type="PriceSpecificationElementTypeCode"/>
                    <xsd:element name="PriceSpecificationRateValue" type="Percent"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="PosSlsTrxCrtReqPosSlsTrxSlsPerReceiptItem">
                <xsd:sequence>
                    <xsd:element name="ReturnItemIndicator" minOccurs="0" type="OPTIONAL_Indicator"/>
                    <xsd:element name="GlobalTradeItemNumber" minOccurs="0" type="ProductStandardID_V1"/>
                    <xsd:element name="ProductInternalID" minOccurs="0" type="NOSC_ProductInternalID"/>
                    <xsd:element name="TransactionType" minOccurs="0" type="POSSalesTransactionItemProcessingTypeCode"/>
                    <xsd:element name="TiedEmptiesIndicator" minOccurs="0" type="OPTIONAL_Indicator"/>
                    <xsd:element name="RetailPromotion" minOccurs="0" type="NOSC_RetailEventID"/>
                    <xsd:element name="ProductSeasonYear" minOccurs="0" type="NOSC_SeasonYearID"/>
                    <xsd:element name="ProductSeason" minOccurs="0" type="ProductSeasonCode"/>
                    <xsd:element name="ProductCollection" minOccurs="0" type="ProductCollectionCode"/>
                    <xsd:element name="ProductTheme" minOccurs="0" type="ProductThemeCode_V1"/>
                    <xsd:element name="ProductGroupInternalID" minOccurs="0" type="NOSC_ProductCategoryInternalID"/>
                    <xsd:element name="OriginalSalesReceiptID" minOccurs="0" type="PosReferenceDocumentID"/>
                    <xsd:element name="SerialNumber" minOccurs="0" maxOccurs="unbounded"
                                 type="PosSlsTrxCrtReqPosSlsTrxSlsPerReceiptItemSrlNmbr"/>
                    <xsd:element name="TotalAmount" type="Amount"/>
                    <xsd:element name="TotalQuantity" minOccurs="0" type="Quantity_V2"/>
                    <xsd:element name="PriceSpecification" minOccurs="0" maxOccurs="unbounded"
                                 type="PosSlsTrxCrtReqPosSlsTrxSlsPerReceiptPriSpc"/>
                    <xsd:element name="Tax" minOccurs="0" maxOccurs="unbounded"
                                 type="PosSlsTrxCrtReqPosSlsTrxSlsPerReceiptTax"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="PosSlsTrxCrtReqPosSlsTrxSlsPerReceiptItemSrlNmbr">
                <xsd:sequence>
                    <xsd:element name="SerialID" type="SerialID"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="PosSlsTrxCrtReqPosSlsTrxSlsPerReceiptPaytList">
                <xsd:sequence>
                    <xsd:element name="PaymentMethod" type="ConditionType_GFN"/>
                    <xsd:element name="Amount" type="Amount"/>
                    <xsd:element name="PaytCardByDigitalPaymentSrvc" minOccurs="0" type="PaymentCardReferenceID"/>
                    <xsd:element name="AuthorizationDateTime" minOccurs="0" type="GLOBAL_DateTime"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="PosSlsTrxCrtReqPosSlsTrxSlsPerReceiptPriSpc">
                <xsd:sequence>
                    <xsd:element name="PriceSpecificationElementTypeCode" type="PriceSpecificationElementTypeCode"/>
                    <xsd:element name="PriceSpecificationRateValue" type="Percent"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="PosSlsTrxCrtReqPosSlsTrxSlsPerReceiptTax">
                <xsd:sequence>
                    <xsd:element name="ProductTaxClassification" type="PosProductTaxClassification"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:simpleType name="PosTransactionInitiatorID">
                <xsd:annotation>
                    <xsd:documentation xml:lang="EN">
                        <ccts:RepresentationTerm>Identifier</ccts:RepresentationTerm>
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:restriction base="xsd:token">
                    <xsd:maxLength value="16"/>
                    <xsd:minLength value="1"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:complexType name="PriceSpecificationElementTypeCode">
                <xsd:annotation>
                    <xsd:documentation xml:lang="EN">
                        <ccts:RepresentationTerm>Code</ccts:RepresentationTerm>
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:simpleContent>
                    <xsd:extension base="PriceSpecificationElementTypeCode.Content">
                        <xsd:attribute name="listID">
                            <xsd:simpleType>
                                <xsd:restriction base="xsd:token">
                                    <xsd:maxLength value="60"/>
                                    <xsd:minLength value="1"/>
                                </xsd:restriction>
                            </xsd:simpleType>
                        </xsd:attribute>
                        <xsd:attribute name="listVersionID">
                            <xsd:simpleType>
                                <xsd:restriction base="xsd:token">
                                    <xsd:maxLength value="15"/>
                                    <xsd:minLength value="1"/>
                                </xsd:restriction>
                            </xsd:simpleType>
                        </xsd:attribute>
                        <xsd:attribute name="listAgencyID">
                            <xsd:simpleType>
                                <xsd:restriction base="xsd:token">
                                    <xsd:maxLength value="60"/>
                                    <xsd:minLength value="1"/>
                                </xsd:restriction>
                            </xsd:simpleType>
                        </xsd:attribute>
                        <xsd:attribute name="listAgencySchemeID">
                            <xsd:simpleType>
                                <xsd:restriction base="xsd:token">
                                    <xsd:maxLength value="60"/>
                                    <xsd:minLength value="1"/>
                                </xsd:restriction>
                            </xsd:simpleType>
                        </xsd:attribute>
                        <xsd:attribute name="listAgencySchemeAgencyID" type="AgencyIdentificationCode"/>
                    </xsd:extension>
                </xsd:simpleContent>
            </xsd:complexType>
            <xsd:simpleType name="PriceSpecificationElementTypeCode.Content">
                <xsd:restriction base="xsd:token">
                    <xsd:maxLength value="4"/>
                    <xsd:minLength value="1"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="ProductCollectionCode">
                <xsd:annotation>
                    <xsd:documentation xml:lang="EN">
                        <ccts:RepresentationTerm>Code</ccts:RepresentationTerm>
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:restriction base="xsd:token">
                    <xsd:maxLength value="10"/>
                    <xsd:minLength value="1"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="ProductSeasonCode">
                <xsd:annotation>
                    <xsd:documentation xml:lang="EN">
                        <ccts:RepresentationTerm>Code</ccts:RepresentationTerm>
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:restriction base="xsd:token">
                    <xsd:maxLength value="10"/>
                    <xsd:minLength value="1"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:complexType name="ProductStandardID_V1">
                <xsd:annotation>
                    <xsd:documentation xml:lang="EN">
                        <ccts:RepresentationTerm>Identifier</ccts:RepresentationTerm>
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:simpleContent>
                    <xsd:extension base="ProductStandardID_V1.Content">
                        <xsd:attribute name="schemeID">
                            <xsd:simpleType>
                                <xsd:restriction base="xsd:token">
                                    <xsd:maxLength value="60"/>
                                    <xsd:minLength value="1"/>
                                </xsd:restriction>
                            </xsd:simpleType>
                        </xsd:attribute>
                        <xsd:attribute name="schemeAgencyID">
                            <xsd:simpleType>
                                <xsd:restriction base="xsd:token">
                                    <xsd:maxLength value="60"/>
                                    <xsd:minLength value="1"/>
                                </xsd:restriction>
                            </xsd:simpleType>
                        </xsd:attribute>
                    </xsd:extension>
                </xsd:simpleContent>
            </xsd:complexType>
            <xsd:simpleType name="ProductStandardID_V1.Content">
                <xsd:restriction base="xsd:token">
                    <xsd:maxLength value="50"/>
                    <xsd:minLength value="1"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="ProductThemeCode_V1">
                <xsd:annotation>
                    <xsd:documentation xml:lang="EN">
                        <ccts:RepresentationTerm>Code</ccts:RepresentationTerm>
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:restriction base="xsd:token">
                    <xsd:maxLength value="10"/>
                    <xsd:minLength value="1"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:complexType name="Quantity_V2">
                <xsd:simpleContent>
                    <xsd:extension base="Quantity_V2.Content">
                        <xsd:attribute name="unitCode" type="MeasureUnitCode"/>
                        <xsd:attribute name="SAPunitCode" type="MeasureUnitCode"/>
                    </xsd:extension>
                </xsd:simpleContent>
            </xsd:complexType>
            <xsd:simpleType name="Quantity_V2.Content">
                <xsd:restriction base="xsd:decimal">
                    <xsd:totalDigits value="31"/>
                    <xsd:fractionDigits value="14"/>
                    <xsd:maxInclusive value="99999999999999999.99999999999999"/>
                    <xsd:minInclusive value="-99999999999999999.99999999999999"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="SalesDocument_GFN">
                <xsd:annotation>
                    <xsd:documentation xml:lang="EN">
                        <ccts:RepresentationTerm>Identifier</ccts:RepresentationTerm>
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:restriction base="xsd:token">
                    <xsd:maxLength value="10"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="SerialID">
                <xsd:annotation>
                    <xsd:documentation xml:lang="EN">
                        <ccts:RepresentationTerm>Identifier</ccts:RepresentationTerm>
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:restriction base="xsd:token">
                    <xsd:maxLength value="30"/>
                    <xsd:minLength value="1"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="Time">
                <xsd:annotation>
                    <xsd:documentation xml:lang="EN">
                        <ccts:RepresentationTerm>Time</ccts:RepresentationTerm>
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:restriction base="xsd:time">
                    <xsd:pattern value="[0-9]{2}:[0-9]{2}:[0-9]{2}"/>
                </xsd:restriction>
            </xsd:simpleType>
</xsd:schema>