Resources/canonical_library/xsd/Steps.xsd

<?xml version="1.0" encoding="UTF-8"?>
   <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
         <!-- XML Schema Generated from XML Document on Fri Nov 04 2016 16:38:58 GMT+0530 (India Standard Time) -->
         <!-- with XmlGrid.net Free Online Service http://xmlgrid.net -->
         <xs:element name="Steps">
               <xs:complexType>
                     <xs:sequence>
                           <xs:element name="Id" type="xs:string"></xs:element>
                           <xs:element name="SpeedValue" type="xs:int"></xs:element>
                           <xs:element name="Patient" type="xs:string"></xs:element>
                           <xs:element name="Note" type="xs:string"></xs:element>
                           <xs:element name="CaloriesBurntValue" type="xs:int"></xs:element>
                           <xs:element name="StepsCountValue" type="xs:int"></xs:element>
                           <xs:element name="DistanceValue" type="xs:int"></xs:element>
                           <xs:element name="FlightOfStairsValue" type="xs:int"></xs:element>
                           <xs:element name="MoodDetails">
                                 <xs:complexType>
                                       <xs:sequence>
                                             <xs:element name="__metadata">
                                                   <xs:complexType>
                                                         <xs:sequence>
                                                               <xs:element name="uri" type="xs:string"></xs:element>
                                                         </xs:sequence>
                                                   </xs:complexType>
                                             </xs:element>
                                       </xs:sequence>
                                 </xs:complexType>
                           </xs:element>
                           <xs:element name="StepsCountUnitDetails">
                                 <xs:complexType>
                                       <xs:sequence>
                                             <xs:element name="__metadata">
                                                   <xs:complexType>
                                                         <xs:sequence>
                                                               <xs:element name="uri" type="xs:string"></xs:element>
                                                         </xs:sequence>
                                                   </xs:complexType>
                                             </xs:element>
                                       </xs:sequence>
                                 </xs:complexType>
                           </xs:element>
                           <xs:element name="DistanceUnitDetails">
                                 <xs:complexType>
                                       <xs:sequence>
                                             <xs:element name="__metadata">
                                                   <xs:complexType>
                                                         <xs:sequence>
                                                               <xs:element name="uri" type="xs:string"></xs:element>
                                                         </xs:sequence>
                                                   </xs:complexType>
                                             </xs:element>
                                       </xs:sequence>
                                 </xs:complexType>
                           </xs:element>
                           <xs:element name="Timestamp">
                                 <xs:complexType>
                                       <xs:sequence>
                                             <xs:element name="TimezoneUtcOffsetInSeconds" type="xs:int"></xs:element>
                                             <xs:element name="UtcTimestamp" type="xs:string"></xs:element>
                                       </xs:sequence>
                                 </xs:complexType>
                           </xs:element>
                           <xs:element name="CaloriesBurntUnitDetails">
                                 <xs:complexType>
                                       <xs:sequence>
                                             <xs:element name="__metadata">
                                                   <xs:complexType>
                                                         <xs:sequence>
                                                               <xs:element name="uri" type="xs:string"></xs:element>
                                                         </xs:sequence>
                                                   </xs:complexType>
                                             </xs:element>
                                       </xs:sequence>
                                 </xs:complexType>
                           </xs:element>
                           <xs:element name="SpeedUnitDetails">
                                 <xs:complexType>
                                       <xs:sequence>
                                             <xs:element name="__metadata">
                                                   <xs:complexType>
                                                         <xs:sequence>
                                                               <xs:element name="uri" type="xs:string"></xs:element>
                                                         </xs:sequence>
                                                   </xs:complexType>
                                             </xs:element>
                                       </xs:sequence>
                                 </xs:complexType>
                           </xs:element>
                           <xs:element name="FlightOfStairsUnitDetails">
                                 <xs:complexType>
                                       <xs:sequence>
                                             <xs:element name="__metadata">
                                                   <xs:complexType>
                                                         <xs:sequence>
                                                               <xs:element name="uri" type="xs:string"></xs:element>
                                                         </xs:sequence>
                                                   </xs:complexType>
                                             </xs:element>
                                       </xs:sequence>
                                 </xs:complexType>
                           </xs:element>
                           <xs:element name="SapRegularStepsTargetDetails">
                                 <xs:complexType>
                                       <xs:sequence>
                                             <xs:element name="__metadata">
                                                   <xs:complexType>
                                                         <xs:sequence>
                                                               <xs:element name="uri" type="xs:string"></xs:element>
                                                         </xs:sequence>
                                                   </xs:complexType>
                                             </xs:element>
                                       </xs:sequence>
                                 </xs:complexType>
                           </xs:element>
                     </xs:sequence>
               </xs:complexType>
         </xs:element>
   </xs:schema>