Resources/canonical_library/xsd/SurveySet.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="SurveySet">
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="1" maxOccurs="unbounded" name="Survey">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element nillable="false" maxOccurs="1" name="SurveyId">
                                <xs:simpleType>
                                    <xs:restriction base="xs:string" xmlns="">
                                        <xs:maxLength value="32"/>
                                    </xs:restriction>
                                </xs:simpleType>
                            </xs:element>
                            <xs:element type="xs:int" nillable="false" maxOccurs="1" name="Version" xmlns=""/>
                            <xs:element nillable="false" maxOccurs="1" name="Provider">
                                <xs:simpleType>
                                    <xs:restriction base="xs:string" xmlns="">
                                        <xs:maxLength value="50"/>
                                    </xs:restriction>
                                </xs:simpleType>
                            </xs:element>
                            <xs:element nillable="true" minOccurs="0" maxOccurs="1" name="AccountId">
                                <xs:simpleType>
                                    <xs:restriction base="xs:string" xmlns="">
                                        <xs:maxLength value="20"/>
                                    </xs:restriction>
                                </xs:simpleType>
                            </xs:element>
                            <xs:element nillable="false" minOccurs="0" maxOccurs="1" name="SurveyType">
                                <xs:simpleType>
                                    <xs:restriction base="xs:string" xmlns="">
                                        <xs:maxLength value="1"/>
                                    </xs:restriction>
                                </xs:simpleType>
                            </xs:element>
                            <xs:element nillable="true" minOccurs="0" maxOccurs="1" name="Category">
                                <xs:simpleType>
                                    <xs:restriction base="xs:string" xmlns="">
                                        <xs:maxLength value="100"/>
                                    </xs:restriction>
                                </xs:simpleType>
                            </xs:element>
                            <xs:element nillable="false" minOccurs="0" maxOccurs="1" name="MarketingAreaId">
                                <xs:simpleType>
                                    <xs:restriction base="xs:string" xmlns="">
                                        <xs:maxLength value="40"/>
                                    </xs:restriction>
                                </xs:simpleType>
                            </xs:element>
                            <xs:element nillable="false" maxOccurs="1" name="Name">
                                <xs:simpleType>
                                    <xs:restriction base="xs:string" xmlns="">
                                        <xs:maxLength value="255"/>
                                    </xs:restriction>
                                </xs:simpleType>
                            </xs:element>
                            <xs:element type="xs:boolean" nillable="false" maxOccurs="1" name="IsSurveyAnonymous" xmlns=""/>
                            <xs:element nillable="true" minOccurs="0" maxOccurs="1" name="NickName">
                                <xs:simpleType>
                                    <xs:restriction base="xs:string" xmlns="">
                                        <xs:maxLength value="30"/>
                                    </xs:restriction>
                                </xs:simpleType>
                            </xs:element>
                            <xs:element nillable="true" minOccurs="0" maxOccurs="1" name="Url">
                                <xs:simpleType>
                                    <xs:restriction base="xs:string" xmlns="">
                                        <xs:maxLength value="255"/>
                                    </xs:restriction>
                                </xs:simpleType>
                            </xs:element>
                            <xs:element nillable="false" maxOccurs="1" name="Language">
                                <xs:simpleType>
                                    <xs:restriction base="xs:string" xmlns="">
                                        <xs:maxLength value="2"/>
                                    </xs:restriction>
                                </xs:simpleType>
                            </xs:element>
                            <xs:element type="xs:dateTime" nillable="true" minOccurs="0" maxOccurs="1" name="ModifiedOn" xmlns=""/>
                            <xs:element type="xs:dateTime" nillable="true" minOccurs="0" maxOccurs="1" name="ValidFrom" xmlns=""/>
                            <xs:element type="xs:dateTime" nillable="true" minOccurs="0" maxOccurs="1" name="ValidTo" xmlns=""/>
                            <xs:element type="xs:dateTime" nillable="true" minOccurs="0" maxOccurs="1" name="CreatedOn" xmlns=""/>
                            <xs:element type="xs:boolean" nillable="true" minOccurs="0" maxOccurs="1" name="IsMultipleRespAllowed" xmlns=""/>
                            <xs:element nillable="true" minOccurs="0" maxOccurs="unbounded" name="SurveyQuestionSet">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element minOccurs="0" maxOccurs="unbounded" name="Question">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element nillable="false" maxOccurs="1" name="QuestionId">
                                                        <xs:simpleType>
                                                            <xs:restriction base="xs:string" xmlns="">
                                                                <xs:maxLength value="30"/>
                                                            </xs:restriction>
                                                        </xs:simpleType>
                                                    </xs:element>
                                                    <xs:element type="xs:int" nillable="false" maxOccurs="1" name="Version" xmlns=""/>
                                                    <xs:element nillable="false" maxOccurs="1" name="Provider">
                                                        <xs:simpleType>
                                                            <xs:restriction base="xs:string" xmlns="">
                                                                <xs:maxLength value="50"/>
                                                            </xs:restriction>
                                                        </xs:simpleType>
                                                    </xs:element>
                                                    <xs:element nillable="false" maxOccurs="1" name="SurveyId">
                                                        <xs:simpleType>
                                                            <xs:restriction base="xs:string" xmlns="">
                                                                <xs:maxLength value="32"/>
                                                            </xs:restriction>
                                                        </xs:simpleType>
                                                    </xs:element>
                                                    <xs:element type="xs:int" nillable="false" minOccurs="0" maxOccurs="1" name="PageId" xmlns=""/>
                                                    <xs:element type="xs:int" nillable="false" minOccurs="0" maxOccurs="1" name="Position" xmlns=""/>
                                                    <xs:element nillable="true" minOccurs="0" maxOccurs="1" name="Language">
                                                        <xs:simpleType>
                                                            <xs:restriction base="xs:string" xmlns="">
                                                                <xs:maxLength value="2"/>
                                                            </xs:restriction>
                                                        </xs:simpleType>
                                                    </xs:element>
                                                    <xs:element type="xs:boolean" nillable="true" minOccurs="0" maxOccurs="1" name="IsMandatory" xmlns=""/>
                                                    <xs:element nillable="true" minOccurs="0" maxOccurs="1" name="SubType">
                                                        <xs:simpleType>
                                                            <xs:restriction base="xs:string" xmlns="">
                                                                <xs:maxLength value="2"/>
                                                            </xs:restriction>
                                                        </xs:simpleType>
                                                    </xs:element>
                                                    <xs:element nillable="false" maxOccurs="1" name="Text">
                                                        <xs:simpleType>
                                                            <xs:restriction base="xs:string" xmlns="">
                                                                <xs:maxLength value="1333"/>
                                                            </xs:restriction>
                                                        </xs:simpleType>
                                                    </xs:element>
                                                    <xs:element nillable="false" maxOccurs="1" name="Type">
                                                        <xs:simpleType>
                                                            <xs:restriction base="xs:string" xmlns="">
                                                                <xs:maxLength value="10"/>
                                                            </xs:restriction>
                                                        </xs:simpleType>
                                                    </xs:element>
                                                    <xs:element nillable="true" minOccurs="0" maxOccurs="1" name="TypeName">
                                                        <xs:simpleType>
                                                            <xs:restriction base="xs:string" xmlns="">
                                                                <xs:maxLength value="30"/>
                                                            </xs:restriction>
                                                        </xs:simpleType>
                                                    </xs:element>
                                                    <xs:element nillable="true" minOccurs="0" maxOccurs="unbounded" name="QuestionChoiceSet">
                                                        <xs:complexType>
                                                            <xs:sequence>
                                                                <xs:element minOccurs="0" maxOccurs="unbounded" name="Choice">
                                                                    <xs:complexType>
                                                                        <xs:sequence>
                                                                            <xs:element nillable="false" minOccurs="0" maxOccurs="1" name="ChoiceId">
                                                                                <xs:simpleType>
                                                                                    <xs:restriction base="xs:string" xmlns="">
                                                                                        <xs:maxLength value="32"/>
                                                                                    </xs:restriction>
                                                                                </xs:simpleType>
                                                                            </xs:element>
                                                                            <xs:element type="xs:int" nillable="false" minOccurs="0" maxOccurs="1" name="ChoicePosition" xmlns=""/>
                                                                            <xs:element nillable="false" minOccurs="0" maxOccurs="1" name="ChoiceText">
                                                                                <xs:simpleType>
                                                                                    <xs:restriction base="xs:string" xmlns="">
                                                                                        <xs:maxLength value="1333"/>
                                                                                    </xs:restriction>
                                                                                </xs:simpleType>
                                                                            </xs:element>
                                                                            <xs:element type="xs:int" nillable="false" minOccurs="0" maxOccurs="1" name="ChoiceWeightage" xmlns=""/>
                                                                            <xs:element nillable="false" minOccurs="0" maxOccurs="1" name="Language">
                                                                                <xs:simpleType>
                                                                                    <xs:restriction base="xs:string" xmlns="">
                                                                                        <xs:maxLength value="2"/>
                                                                                    </xs:restriction>
                                                                                </xs:simpleType>
                                                                            </xs:element>
                                                                        </xs:sequence>
                                                                    </xs:complexType>
                                                                </xs:element>
                                                            </xs:sequence>
                                                        </xs:complexType>
                                                    </xs:element>
                                                    <xs:element nillable="true" minOccurs="0" maxOccurs="unbounded" name="QuestionAnswerSet">
                                                        <xs:complexType>
                                                            <xs:sequence>
                                                                <xs:element minOccurs="0" maxOccurs="unbounded" name="Answer">
                                                                    <xs:complexType>
                                                                        <xs:sequence>
                                                                            <xs:element nillable="false" maxOccurs="1" name="RowId">
                                                                                <xs:simpleType>
                                                                                    <xs:restriction base="xs:string" xmlns="">
                                                                                        <xs:maxLength value="30"/>
                                                                                    </xs:restriction>
                                                                                </xs:simpleType>
                                                                            </xs:element>
                                                                            <xs:element nillable="false" maxOccurs="1" name="Language">
                                                                                <xs:simpleType>
                                                                                    <xs:restriction base="xs:string" xmlns="">
                                                                                        <xs:maxLength value="2"/>
                                                                                    </xs:restriction>
                                                                                </xs:simpleType>
                                                                            </xs:element>
                                                                            <xs:element type="xs:int" nillable="false" maxOccurs="1" minOccurs="0" name="RowPosition" xmlns=""/>
                                                                            <xs:element type="xs:int" nillable="false" maxOccurs="1" minOccurs="0" name="RowWeightage" xmlns=""/>
                                                                            <xs:element nillable="false" maxOccurs="1" name="RowText">
                                                                                <xs:simpleType>
                                                                                    <xs:restriction base="xs:string" xmlns="">
                                                                                        <xs:maxLength value="1333"/>
                                                                                    </xs:restriction>
                                                                                </xs:simpleType>
                                                                            </xs:element>
                                                                        </xs:sequence>
                                                                    </xs:complexType>
                                                                </xs:element>
                                                            </xs:sequence>
                                                        </xs:complexType>
                                                    </xs:element>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element nillable="true" minOccurs="0" maxOccurs="unbounded" name="SurveySurveyResponseSet">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element minOccurs="0" maxOccurs="unbounded" name="SurveyResponse">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element type="xs:int" nillable="false" maxOccurs="1" name="Version" xmlns=""/>
                                                    <xs:element nillable="false" maxOccurs="1" name="Provider">
                                                        <xs:simpleType>
                                                            <xs:restriction base="xs:string" xmlns="">
                                                                <xs:maxLength value="30"/>
                                                            </xs:restriction>
                                                        </xs:simpleType>
                                                    </xs:element>
                                                    <xs:element nillable="false" maxOccurs="1" name="ResponseId">
                                                        <xs:simpleType>
                                                            <xs:restriction base="xs:string" xmlns="">
                                                                <xs:maxLength value="32"/>
                                                            </xs:restriction>
                                                        </xs:simpleType>
                                                    </xs:element>
                                                    <xs:element nillable="false" maxOccurs="1" name="SurveyId">
                                                        <xs:simpleType>
                                                            <xs:restriction base="xs:string" xmlns="">
                                                                <xs:maxLength value="32"/>
                                                            </xs:restriction>
                                                        </xs:simpleType>
                                                    </xs:element>
                                                    <xs:element type="xs:string" nillable="false" minOccurs="0" maxOccurs="1" name="MktgEventParticipantUUID" xmlns=""/>
                                                    <xs:element nillable="false" minOccurs="0" maxOccurs="1" name="OutboundKey">
                                                        <xs:simpleType>
                                                            <xs:restriction base="xs:string" xmlns="">
                                                                <xs:maxLength value="50"/>
                                                            </xs:restriction>
                                                        </xs:simpleType>
                                                    </xs:element>
                                                    <xs:element type="xs:boolean" nillable="false" maxOccurs="1" name="IsResponseAnonymous" xmlns=""/>
                                                    <xs:element nillable="false" minOccurs="0" maxOccurs="1" name="IdOrigin">
                                                        <xs:simpleType>
                                                            <xs:restriction base="xs:string" xmlns="">
                                                                <xs:maxLength value="20"/>
                                                            </xs:restriction>
                                                        </xs:simpleType>
                                                    </xs:element>
                                                    <xs:element nillable="false" minOccurs="0" maxOccurs="1" name="Id">
                                                        <xs:simpleType>
                                                            <xs:restriction base="xs:string" xmlns="">
                                                                <xs:maxLength value="255"/>
                                                            </xs:restriction>
                                                        </xs:simpleType>
                                                    </xs:element>
                                                    <xs:element type="xs:dateTime" nillable="false" maxOccurs="1" name="RespondedOn" xmlns=""/>
                                                    <xs:element type="xs:string" nillable="false" maxOccurs="1" name="ResponseUrl" xmlns=""/>
                                                    <xs:element nillable="true" minOccurs="0" maxOccurs="unbounded" name="SurveyResponseSurveyResponseDetailSet">
                                                        <xs:complexType>
                                                            <xs:sequence>
                                                                <xs:element minOccurs="0" maxOccurs="unbounded" name="SurveyResponseDetail">
                                                                    <xs:complexType>
                                                                        <xs:sequence>
                                                                            <xs:element nillable="false" maxOccurs="1" name="QuestionId">
                                                                                <xs:simpleType>
                                                                                    <xs:restriction base="xs:string" xmlns="">
                                                                                        <xs:maxLength value="32"/>
                                                                                    </xs:restriction>
                                                                                </xs:simpleType>
                                                                            </xs:element>
                                                                            <xs:element type="xs:int" nillable="false" maxOccurs="1" name="Version" xmlns=""/>
                                                                            <xs:element nillable="false" maxOccurs="1" name="ResponseIdCol">
                                                                                <xs:simpleType>
                                                                                    <xs:restriction base="xs:string" xmlns="">
                                                                                        <xs:maxLength value="32"/>
                                                                                    </xs:restriction>
                                                                                </xs:simpleType>
                                                                            </xs:element>
                                                                            <xs:element nillable="false" maxOccurs="1" name="ResponseIdRow">
                                                                                <xs:simpleType>
                                                                                    <xs:restriction base="xs:string" xmlns="">
                                                                                        <xs:maxLength value="32"/>
                                                                                    </xs:restriction>
                                                                                </xs:simpleType>
                                                                            </xs:element>
                                                                            <xs:element nillable="false" maxOccurs="1" name="ResponseText">
                                                                                <xs:simpleType>
                                                                                    <xs:restriction base="xs:string" xmlns="">
                                                                                        <xs:maxLength value="1333"/>
                                                                                    </xs:restriction>
                                                                                </xs:simpleType>
                                                                            </xs:element>
                                                                        </xs:sequence>
                                                                    </xs:complexType>
                                                                </xs:element>
                                                            </xs:sequence>
                                                        </xs:complexType>
                                                    </xs:element>
                                                    <xs:element nillable="true" minOccurs="0" maxOccurs="unbounded" name="SurveyResponseContactSet">
                                                        <xs:complexType>
                                                            <xs:sequence>
                                                                <xs:element minOccurs="0" maxOccurs="1" name="Contact">
                                                                    <xs:complexType>
                                                                        <xs:sequence>
                                                                            <xs:element nillable="false" maxOccurs="1" name="ContactId">
                                                                                <xs:simpleType>
                                                                                    <xs:restriction base="xs:string" xmlns="">
                                                                                        <xs:maxLength value="255"/>
                                                                                    </xs:restriction>
                                                                                </xs:simpleType>
                                                                            </xs:element>
                                                                            <xs:element nillable="false" maxOccurs="1" name="ResponseId">
                                                                                <xs:simpleType>
                                                                                    <xs:restriction base="xs:string" xmlns="">
                                                                                        <xs:maxLength value="32"/>
                                                                                    </xs:restriction>
                                                                                </xs:simpleType>
                                                                            </xs:element>
                                                                            <xs:element nillable="false" maxOccurs="1" name="SurveyId">
                                                                                <xs:simpleType>
                                                                                    <xs:restriction base="xs:string" xmlns="">
                                                                                        <xs:maxLength value="32"/>
                                                                                    </xs:restriction>
                                                                                </xs:simpleType>
                                                                            </xs:element>
                                                                            <xs:element nillable="false" maxOccurs="1" name="Provider">
                                                                                <xs:simpleType>
                                                                                    <xs:restriction base="xs:string" xmlns="">
                                                                                        <xs:maxLength value="30"/>
                                                                                    </xs:restriction>
                                                                                </xs:simpleType>
                                                                            </xs:element>
                                                                            <xs:element nillable="false" minOccurs="0" maxOccurs="1" name="FirstName">
                                                                                <xs:simpleType>
                                                                                    <xs:restriction base="xs:string" xmlns="">
                                                                                        <xs:maxLength value="40"/>
                                                                                    </xs:restriction>
                                                                                </xs:simpleType>
                                                                            </xs:element>
                                                                            <xs:element nillable="false" minOccurs="0" maxOccurs="1" name="LastName">
                                                                                <xs:simpleType>
                                                                                    <xs:restriction base="xs:string" xmlns="">
                                                                                        <xs:maxLength value="40"/>
                                                                                    </xs:restriction>
                                                                                </xs:simpleType>
                                                                            </xs:element>
                                                                            <xs:element type="xs:int" nillable="false" maxOccurs="1" name="Version" xmlns=""/>
                                                                            <xs:element nillable="false" minOccurs="0" maxOccurs="1" name="EmailAddress">
                                                                                <xs:simpleType>
                                                                                    <xs:restriction base="xs:string" xmlns="">
                                                                                        <xs:maxLength value="241"/>
                                                                                    </xs:restriction>
                                                                                </xs:simpleType>
                                                                            </xs:element>
                                                                            <xs:element nillable="false" minOccurs="0" maxOccurs="1" name="PhoneNumber">
                                                                                <xs:simpleType>
                                                                                    <xs:restriction base="xs:string" xmlns="">
                                                                                        <xs:maxLength value="30"/>
                                                                                    </xs:restriction>
                                                                                </xs:simpleType>
                                                                            </xs:element>
                                                                            <xs:element type="xs:boolean" nillable="false" minOccurs="0" maxOccurs="1" name="DisableContactCreation" xmlns=""/>
                                                                            <xs:element type="xs:boolean" minOccurs="0" maxOccurs="1" name="DepartmentName" />
                                                                            <xs:element type="xs:boolean" minOccurs="0" maxOccurs="1" name="ContactFunctionName" />
                                                                            <xs:element type="xs:boolean" minOccurs="0" maxOccurs="1" name="LanguageName" />
                                                                            <xs:element type="xs:boolean" minOccurs="0" maxOccurs="1" name="IndustryName" />
                                                                            <xs:element type="xs:boolean" minOccurs="0" maxOccurs="1" name="CompanyName" />
                                                                            <xs:element type="xs:boolean" minOccurs="0" maxOccurs="1" name="CityName" />
                                                                            <xs:element type="xs:boolean" minOccurs="0" maxOccurs="1" name="CountryName" />
                                                                            <xs:element type="xs:boolean" minOccurs="0" maxOccurs="1" name="ContactPostalCode" />
                                                                            <xs:element type="xs:boolean" minOccurs="0" maxOccurs="1" name="RegionName" />
                                                                        </xs:sequence>
                                                                    </xs:complexType>
                                                                </xs:element>
                                                            </xs:sequence>
                                                        </xs:complexType>
                                                    </xs:element>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>