Resources/canonical_library/xsd/SurveyResponseSet.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="qualified">
   <xs:element name="SurveyResponseSet">
      <xs:complexType>
         <xs:sequence>
            <xs:element type="xs:int" nillable="false" maxOccurs="1" name="Version" />
            <xs:element nillable="false" maxOccurs="1" name="Provider" />
            <xs:element nillable="false" maxOccurs="1" name="ResponseId" />
            <xs:element nillable="false" maxOccurs="1" name="SurveyId" />
            <xs:element type="xs:string" nillable="false" minOccurs="0" maxOccurs="1" name="MktgEventParticipantUUID" />
            <xs:element nillable="false" maxOccurs="1" name="OutboundKey" />
            <xs:element type="xs:boolean" nillable="false" maxOccurs="1" name="IsResponseAnonymous" />
            <xs:element nillable="false" minOccurs="0" maxOccurs="1" name="IdOrigin" />
            <xs:element nillable="false" minOccurs="0" maxOccurs="1" name="Id" />
            <xs:element type="xs:dateTime" nillable="false" maxOccurs="1" name="RespondedOn" />
            <xs:element type="xs:string" nillable="false" maxOccurs="1" name="ResponseUrl" />
            <xs:element nillable="true" minOccurs="0" maxOccurs="unbounded" name="SurveyResponseSurveyResponseDetailSet">
               <xs:complexType>
                  <xs:sequence>
                     <xs:element minOccurs="0" maxOccurs="unbounded" name="SurveyResponseDetail">
                        <xs:complexType>
                           <xs:sequence>
                              <xs:element nillable="false" maxOccurs="1" name="QuestionId" />
                              <xs:element type="xs:int" nillable="false" maxOccurs="1" name="Version" />
                              <xs:element nillable="false" maxOccurs="1" name="ResponseIdCol" />
                              <xs:element nillable="false" maxOccurs="1" name="ResponseIdRow" />
                              <xs:element nillable="false" maxOccurs="1" name="ResponseText" />
                           </xs:sequence>
                        </xs:complexType>
                     </xs:element>
                  </xs:sequence>
               </xs:complexType>
            </xs:element>
         </xs:sequence>
      </xs:complexType>
   </xs:element>
</xs:schema>