Resources/canonical_library/xsd/TaxCodeVHSet.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="TaxCodeVHSet">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" name="TaxCodeVH">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="TaxCode" type="xs:string" />
              <xs:element name="TaxCalculationProcedure" type="xs:string" />
              <xs:element name="TaxCodeName" type="xs:string" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>