Resources/canonical_library/xsd/TicketData.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="TicketData">
    <xs:complexType>
      <xs:sequence>
        <xs:element type="xs:int" name="CustomerID" maxOccurs="1" minOccurs="0"/>
        <xs:element type="xs:string" name="CECTicketID" maxOccurs="1" minOccurs="0"/>
        <xs:element name="Name">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="content" maxOccurs="1" minOccurs="0"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element type="xs:string" name="ProcessingTypeCode" maxOccurs="1" minOccurs="0"/>
        <xs:element type="xs:string" name="CompletionDueDate" maxOccurs="1" minOccurs="0"/>
        <xs:element type="xs:string" name="CreatedBy" maxOccurs="1" minOccurs="0"/>
        <xs:element type="xs:string" name="ReporterEmail" maxOccurs="1" minOccurs="0"/>
        <xs:element type="xs:int" name="ReporterPartyID" maxOccurs="1" minOccurs="0"/>
        <xs:element type="xs:byte" name="ServicePriorityCode" maxOccurs="1" minOccurs="0"/>
        <xs:element type="xs:byte" name="ServiceRequestLifeCycleStatusCode" maxOccurs="1" minOccurs="0"/>
        <xs:element name="ServiceRequestDescription" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:short" name="TypeCode" maxOccurs="1" minOccurs="0"/>
              <xs:element type="xs:string" name="Text" maxOccurs="1" minOccurs="0"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>