Resources/canonical_library/xsd/TransferRequest.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
    <xs:element name="TransferRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="atcontext">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="atvocab" type="xs:string"/>
                            <xs:element name="edc" type="xs:string"/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="attype" type="xs:string"/>
                <xs:element name="edc_protocol" type="xs:string"/>
                <xs:element name="edc_counterPartyAddress" type="xs:string"/>
                <xs:element name="edc_contractId" type="xs:string"/>
                <xs:element name="edc_assetId" type="xs:string"/>
                <xs:element name="edc_transferType" type="xs:string"/>
                <xs:element name="edc_dataDestination">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="edc_type" type="xs:string"/>
                            <xs:element name="edc_bucketName" type="xs:string"/>
                            <xs:element name="edc_region" type="xs:string"/>
                            <xs:element name="edc_folderName" type="xs:string"/>
                            <xs:element name="edc_objectName" type="xs:string" minOccurs="0"/>
                            <xs:element name="edc_keyName" type="xs:string"/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>