Resources/canonical_library/xsd/uomReplicationContent.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="uomReplicationContent">
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="0" maxOccurs="unbounded" name="uomReplicationRequestMessage">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element minOccurs="0" maxOccurs="unbounded" name="uomRecord">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element minOccurs="1" maxOccurs="1" type="xs:string" name="code"/>
										<xs:element minOccurs="0" maxOccurs="1" type="xs:string" name="isocode"/>
                                        <xs:element minOccurs="0" maxOccurs="unbounded" name="uomTexts">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element minOccurs="0" maxOccurs="1" type="xs:string" name="locale"/>
                                                    <xs:element minOccurs="0" maxOccurs="1" type="xs:string" name="name"/>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>