Resources/canonical_library/xsd/upsertResponse.xsd


<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://sap.com/xi/SFIHCM01" targetNamespace="http://sap.com/xi/SFIHCM01">
   <xsd:element name="upsertResponse" type="upsertResponse" />
   <xsd:complexType name="UpsertResult">
      <xsd:annotation>
         <xsd:documentation xml:lang="EN">
         Upsert Result
         </xsd:documentation>
      </xsd:annotation>
      <xsd:sequence>
         <xsd:element name="jobStatus" type="xsd:string" minOccurs="0" maxOccurs="unbounded"/>
         <xsd:element name="message" type="xsd:string" minOccurs="0" maxOccurs="unbounded"/>
         <xsd:element name="objectEditResult" type="ObjectEditResult" minOccurs="0" maxOccurs="unbounded" />
      </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="ObjectEditResult">
      <xsd:annotation>
         <xsd:documentation xml:lang="EN">
         Object Edit Result
         </xsd:documentation>
      </xsd:annotation>
      <xsd:sequence>
         <xsd:element name="id" type="xsd:string" minOccurs="0" />
         <xsd:element name="errorStatus" type="xsd:string" />
         <xsd:element name="editStatus" type="xsd:string" />
         <xsd:element name="index" type="xsd:integer" />
         <xsd:element name="message" type="xsd:string" />
      </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="upsertResponse">
      <xsd:annotation>
         <xsd:documentation xml:lang="EN">
         Upsert Response
         </xsd:documentation>
      </xsd:annotation>
      <xsd:sequence>
         <xsd:element name="result" type="UpsertResult" />
      </xsd:sequence>
   </xsd:complexType>
</xsd:schema>