Resources/canonical_library/xsd/user-batch-result.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://www.concursolutions.com/api/user/2011/02" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="user-batch-result">
    <xs:complexType>
      <xs:sequence>
        <xs:element type="xs:byte" name="records-succeeded"/>
        <xs:element type="xs:byte" name="records-failed"/>
        <xs:element name="errors" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="error" minOccurs="0" maxOccurs="unbounded">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:string" name="EmployeeID"/>
                    <xs:element type="xs:short" name="FeedRecordNumber"/>
                    <xs:element type="xs:string" name="message"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
       <xs:element name="UsersDetails" minOccurs="0" >
          <xs:complexType>
            <xs:sequence>
              <xs:element name="UserInfo" minOccurs="0" maxOccurs="unbounded">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:string" name="EmployeeID"/>
                    <xs:element type="xs:short" name="FeedRecordNumber"/>
                    <xs:element type="xs:string" name="Status"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>