Resources/canonical_library/xsd/UtilitiesPremiseSet.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">

	<xs:element name="UtilitiesPremiseSet">
	
		<xs:complexType>
		
			<xs:sequence>
			
				<xs:element nillable="false" minOccurs="1" maxOccurs="unbounded" name="UtilitiesPremise">
				
					<xs:complexType>
					
						<xs:sequence>
						
						    <!-- UtilitiesPremise -->
							
							<xs:element nillable="false" minOccurs="1" maxOccurs="1" name="UtilitiesPremiseID">
								<xs:simpleType>
									<xs:restriction base="xs:token" xmlns="">
										<xs:maxLength value="10"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							
							<xs:element nillable="false" minOccurs="0" maxOccurs="1" name="PremiseType">
								<xs:simpleType>
									<xs:restriction base="xs:token" xmlns="">
									    <xs:minLength value="1"/>
										<xs:maxLength value="8"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							
							<xs:element nillable="false" minOccurs="0" maxOccurs="1" name="NumberOfPersons">
								<xs:simpleType>
									<xs:restriction base="xs:integer" xmlns="">
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							
							<xs:element nillable="false" minOccurs="0" maxOccurs="1" name="DeletedIndicator">
								<xs:simpleType>
									<xs:restriction base="xs:boolean" xmlns="">
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							
							<xs:element nillable="false" minOccurs="0" maxOccurs="1" name="OccupancyType">
								<xs:simpleType>
									<xs:restriction base="xs:token" xmlns="">
										<xs:maxLength value="10"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							
							
							
							<!-- InstallationPointAddressInformation -->
							
								
									<xs:element nillable="false" minOccurs="0" maxOccurs="1" name="HouseID">
										<xs:simpleType>
											<xs:restriction base="xs:token" xmlns="">
											    <xs:minLength value="1"/>
												<xs:maxLength value="10"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:element>
									
									<xs:element nillable="false" minOccurs="0" maxOccurs="1" name="StreetPostalCode">
										<xs:simpleType>
											<xs:restriction base="xs:token" xmlns="">
											    <xs:minLength value="1"/>
												<xs:maxLength value="10"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:element>
									
									<xs:element nillable="false" minOccurs="0" maxOccurs="1" name="CityName">
										<xs:simpleType>
											<xs:restriction base="xs:string" xmlns="">
												<xs:maxLength value="40"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:element>
									
									<xs:element nillable="false" minOccurs="0" maxOccurs="1" name="StreetName">
										<xs:simpleType>
											<xs:restriction base="xs:string" xmlns="">
												<xs:maxLength value="60"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:element>
									
									<xs:element nillable="false" minOccurs="1" maxOccurs="1" name="CountryCode">
										<xs:simpleType>
											<xs:restriction base="xs:token" xmlns="">	
                                                <xs:minLength value="2"/>											
												<xs:maxLength value="3"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:element>
									
									<xs:element nillable="false" minOccurs="0" maxOccurs="1" name="RegionCode">
										<xs:simpleType>
											<xs:restriction base="xs:token" xmlns="">
											    <xs:minLength value="1"/>
												<xs:maxLength value="6"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:element>
									
									<xs:element nillable="false" minOccurs="0" maxOccurs="1" name="TimeZoneCode">
										<xs:simpleType>
											<xs:restriction base="xs:token" xmlns="">
											    <xs:minLength value="1"/>
												<xs:maxLength value="10"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:element>
								
							
							
							<!-- PremiseAddress -->
											
									<xs:element nillable="false" minOccurs="0" maxOccurs="1" name="BuildingID">
										<xs:simpleType>
											<xs:restriction base="xs:token" xmlns="">
										    	<xs:minLength value="1"/>
												<xs:maxLength value="10"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:element>
									
									<xs:element nillable="false" minOccurs="0" maxOccurs="1"  name="FloorID">
										<xs:simpleType>
											<xs:restriction base="xs:token" xmlns="">
											    <xs:minLength value="1"/>
												<xs:maxLength value="10"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:element>
									
									<xs:element nillable="false" minOccurs="0" maxOccurs="1"  name="RoomID">
										<xs:simpleType>
											<xs:restriction base="xs:token" xmlns="">
											    <xs:minLength value="1"/>
												<xs:maxLength value="10"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:element>
									
			
						</xs:sequence>
						
					</xs:complexType>
					
				</xs:element>
				
			</xs:sequence>
			
		</xs:complexType>
		
	</xs:element>
	
</xs:schema>