Resources/canonical_library/xsd/value.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- Created with Liquid Technologies Online Tools 1.0 (https://www.liquid-technologies.com) -->
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="value">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="settlemntId" type="xs:string" />
        <xs:element name="settlementUUID" type="xs:string" />
        <xs:element name="settlementType" type="xs:string" />
        <xs:element name="claimId" type="xs:string" />
        <xs:element name="claimType" type="xs:string" />
        <xs:element name="planningAccount" type="xs:string" />
        <xs:element name="payer" type="xs:string" />
        <xs:element name="payee" type="xs:string" />
        <xs:element name="companyCode" type="xs:string" />
        <xs:element name="currency" type="xs:string" />
        <xs:element name="salesOrganization" type="xs:string" />
        <xs:element name="distributionChannel" type="xs:string" />
        <xs:element name="division" type="xs:string" />
        <xs:element name="status" type="xs:string" />
        <xs:element name="postingDate" type="xs:date" />
        <xs:element name="documentDate" type="xs:date" />
        <xs:element name="cancellationOn" type="xs:date" />
        <xs:element name="references">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="referenceType" type="xs:string" />
              <xs:element name="referenceNumber" type="xs:string" />
              <xs:element name="referenceNumberItem" type="xs:string" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="postingStatus">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="code" type="xs:unsignedByte" />
              <xs:element name="name" type="xs:string" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="paymentMethod" />
        <xs:element name="paymentTerms" />
        <xs:element name="VATRegistrationNumber" type="xs:string" />
        <xs:element name="grossAmount" type="xs:decimal" />
        <xs:element name="netAmount" type="xs:decimal" />
        <xs:element name="taxAmount" type="xs:decimal" />
        <xs:element name="followOnDocument">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="documentType" type="xs:string" />
              <xs:element name="documentNumber" type="xs:string" />
              <xs:element name="createdOn" type="xs:date" />
              <xs:element name="fiscalYear" type="xs:unsignedShort" />
              <xs:element name="companyCode" type="xs:string" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="items">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="claimItemNumber" type="xs:string" />
              <xs:element name="recipient" />
              <xs:element name="netAmount" type="xs:decimal" />
              <xs:element name="taxAmount" type="xs:decimal" />
              <xs:element name="grossAmount" type="xs:decimal" />
              <xs:element name="netPrice" type="xs:decimal" />
              <xs:element name="taxes">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="taxCode" type="xs:unsignedByte" />
                    <xs:element name="taxDirection" type="xs:unsignedByte" />
                    <xs:element name="taxAmount" type="xs:decimal" />
                    <xs:element name="taxJurisdiction" type="xs:string" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="priceUnit" type="xs:string" />
              <xs:element name="product" type="xs:string" />
              <xs:element name="productHierarchyId" type="xs:string" />
              <xs:element name="quantity" type="xs:decimal" />
              <xs:element name="quantityUnit" type="xs:string" />
              <xs:element name="supplierMaterialNumber" type="xs:string" />
              <xs:element name="shortText" type="xs:string" />
              <xs:element name="sourceDoc" type="xs:string" />
              <xs:element name="sourceDocItemNumber" type="xs:string" />
              <xs:element name="serviceRenderedDate" type="xs:date" />
              <xs:element name="references">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="referenceType" type="xs:string" />
                    <xs:element name="referenceNumber" type="xs:string" />
                    <xs:element name="referenceNumberItem" type="xs:string" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="generalLedgerAccountAspect">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="debitCreditCode" type="xs:unsignedByte" />
                    <xs:element name="accountNumber" type="xs:unsignedByte" />
                    <xs:element name="name" type="xs:string" />
                    <xs:element name="companyCode" type="xs:string" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="externalReference">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="referenceType" type="xs:string" />
                    <xs:element name="referenceNumber" type="xs:string" />
                    <xs:element name="referenceNumberItem" type="xs:string" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="residualItemRef">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="accountingDocument" type="xs:string" />
              <xs:element name="accountingDocumentItem" type="xs:string" />
              <xs:element name="fiscalYear" type="xs:unsignedShort" />
              <xs:element name="companyCode" type="xs:unsignedByte" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="additionalText">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="id" type="xs:string" />
              <xs:element name="languageCode" />
              <xs:element name="text" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="createOn" type="xs:date" />
        <xs:element name="changedOn" type="xs:date" />
        <xs:element name="createBy" type="xs:string" />
        <xs:element name="changedBy" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>