Resources/canonical_library/xsd/VALUE.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="contracts">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="contract">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:long" name="contractId"/>
              <xs:element type="xs:int" name="mainPolicyHolderId"/>
              <xs:element type="xs:string" name="productId"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="VALUE" type="xs:string"/>
</xs:schema>