Resources/canonical_library/xsd/weight.xsd

<?xml version="1.0" encoding="UTF-8"?>
   <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
         <!-- XML Schema Generated from XML Document on Fri Aug 05 2016 16:47:43 GMT+0530 (India Standard Time) -->
         <!-- with XmlGrid.net Free Online Service http://xmlgrid.net -->
         <xs:element name="weight">
               <xs:complexType>
                     <xs:sequence>
                           <xs:element name="_id" type="xs:string"></xs:element>
                           <xs:element name="bmi" type="xs:double"></xs:element>
                           <xs:element name="fat_percent"></xs:element>
                           <xs:element name="free_mass"></xs:element>
                           <xs:element name="height"></xs:element>
                           <xs:element name="last_updated" type="xs:dateTime"></xs:element>
                           <xs:element name="mass_weight"></xs:element>
                           <xs:element name="source" type="xs:string"></xs:element>
                           <xs:element name="source_name" type="xs:string"></xs:element>
                           <xs:element name="timestamp" type="xs:dateTime"></xs:element>
                           <xs:element name="user_id" type="xs:string"></xs:element>
                           <xs:element name="utc_offset" type="xs:string"></xs:element>
                           <xs:element name="validated" type="xs:string"></xs:element>
                           <xs:element name="weight" type="xs:int"></xs:element>
                     </xs:sequence>
               </xs:complexType>
         </xs:element>
   </xs:schema>