Resources/canonical_library/xsd/XSD_4c4483a9f84daa17dd0b06d681eb917ece98ce04.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="root">
    <xs:complexType>
      <xs:sequence>
        <xs:element type="xs:string" name="customerNumber" minOccurs="0" maxOccurs="1"/>
        <xs:element type="xs:string" name="title" minOccurs="0" maxOccurs="1"/>
        <xs:element type="xs:string" name="firstName" minOccurs="0" maxOccurs="1"/>
        <xs:element type="xs:string" name="middleName" minOccurs="0" maxOccurs="1"/>
        <xs:element type="xs:string" name="lastName" minOccurs="0" maxOccurs="1"/>
        <xs:element type="xs:string" name="contactEmail" minOccurs="0" maxOccurs="1"/>
        <xs:element type="xs:long" name="contactPhone" minOccurs="0" maxOccurs="1"/>
        <xs:element type="xs:string" name="company" minOccurs="0" maxOccurs="1"/>
        <xs:element type="xs:string" name="preferredLanguage" minOccurs="0" maxOccurs="1"/>
        <xs:element type="xs:string" name="preferredCurrency" minOccurs="0" maxOccurs="1"/>
        <xs:element name="metadata">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="mixins">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:string" name="sdcustomer"/>
                    <xs:element type="xs:string" name="iDoc_DEBMAS"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="mixins">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="sdcustomer">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:int" name="sdCustomerNumber"/>
                    <xs:element type="xs:string" name="processingStatus" minOccurs="0" maxOccurs="1"/>
                    <xs:element type="xs:string" name="uiSaveTimeStamp" minOccurs="0" maxOccurs="1"/>
                    <xs:element type="xs:byte" name="division" minOccurs="0" maxOccurs="1"/>
                    <xs:element type="xs:string" name="referenceCustomerNumber" minOccurs="0" maxOccurs="1"/>
                    <xs:element type="xs:short" name="salesOrganization" minOccurs="0" maxOccurs="1"/>
                    <xs:element type="xs:long" name="faxNumber" minOccurs="0" maxOccurs="1"/>
                    <xs:element type="xs:byte" name="distributionChannel" minOccurs="0" maxOccurs="1"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="iDoc_DEBMAS">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:string" minOccurs="0" maxOccurs="1" name="changedBy"/>
                    <xs:element type="xs:string" minOccurs="0" maxOccurs="1" name="changedAt"/>
                    <xs:element name="E1KNA1M"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>   
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>