Resources/canonical_library/xsd/XSD_3cfe420874b06d3d01371867ef867ef7cc150620.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="root">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="d">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="planActivityPricingDetails">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="headerInfo" minOccurs="1" maxOccurs="unbounded">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="costCenter" type="xs:string" minOccurs="1" maxOccurs="unbounded"/>
													<xs:element name="fiscalYear" type="xs:string" />
													<xs:element name="periodFrom" type="xs:date" minOccurs="0" maxOccurs="1"/>
													<xs:element name="periodTo" type="xs:date" minOccurs="0" maxOccurs="1"/>
													<xs:element name="version" type="xs:string" />
													<xs:element name="controllingArea" type="xs:string" />
													<xs:element name="planningCurrency" type="xs:string" />
												</xs:sequence>
											</xs:complexType>
										</xs:element>
										<xs:element name="itemData" minOccurs="1" maxOccurs="unbounded">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="activityType" type="xs:string" />
													<xs:element name="planActivity" type="xs:string" />
													<xs:element name="currency" type="xs:string" />
													<xs:element name="distributionKeyQuantity" type="xs:string"/>
													<xs:element name="capacity" type="xs:string"/>
													<xs:element name="distributionKeyCapacity" type="xs:string"/>
													<xs:element name="fixedPrice" type="xs:string"/>
													<xs:element name="distributionKeyFixPrice" type="xs:string"/>
													<xs:element name="variablePrice" type="xs:string"/>
													<xs:element name="distributionKeyVariablePrice" type="xs:string"/>
													<xs:element name="unit" type="xs:string"/>
													<xs:element name="priceUnit" type="xs:string"/>
													<xs:element name="planPriceIndicator" type="xs:string"/>
													<xs:element name="averagePrice" type="xs:string"/>
													<xs:element name="allocationCostElement" type="xs:string"/>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>