Resources/canonical_library/xsd/XSD_4ced82f06a4048cde1dee9c5c3548ed4a8098eeb.xsd

<?xml version="1.0" encoding="UTF-8"?>
   <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
         <!-- XML Schema Generated from XML Document on Thu Mar 14 2019 13:47:26 GMT+0530 (India Standard Time) -->
         <!-- with XmlGrid.net Free Online Service http://xmlgrid.net -->
         <xs:element name="Root">
               <xs:complexType>
                     <xs:sequence>
                           <xs:element name="modifiedAt" type="xs:dateTime" minOccurs="0" maxOccurs="1" />
                           <xs:element name="createdAt" type="xs:dateTime" minOccurs="0" maxOccurs="1" />
                           <xs:element name="createdBy" type="xs:string" minOccurs="0" maxOccurs="1" />
                           <xs:element name="modifiedBy" type="xs:string" minOccurs="0" maxOccurs="1" />
                           <xs:element name="objectID" type="xs:string" minOccurs="0" maxOccurs="1" />
                           <xs:element name="ID" type="xs:int" minOccurs="0" maxOccurs="1" />	
						   <xs:element name="C4CID" type="xs:int" minOccurs="0" maxOccurs="1" />
                           <xs:element name="processingTypeCode" type="xs:int" minOccurs="0" maxOccurs="1" />
                           <xs:element name="priorityCode" type="xs:int" minOccurs="0" maxOccurs="1" />
                           <xs:element name="subject" type="xs:string" minOccurs="0" maxOccurs="1" />
						   <xs:element name="account" type="xs:string" minOccurs="0" maxOccurs="1" />
						   <xs:element name="textID" type="xs:string" minOccurs="0" maxOccurs="1" />
						   <xs:element name="plainText" type="xs:string" minOccurs="0" maxOccurs="1" />
                           <xs:element name="sourceCode" type="xs:int" minOccurs="0" maxOccurs="1" />
						   <xs:element name="senderSystemID" type="xs:int" minOccurs="0" maxOccurs="1" />
						   <xs:element name="receiverSystemID" type="xs:int" minOccurs="0" maxOccurs="1" />
                           <xs:element name="lifeCycleStatusCode" type="xs:int" minOccurs="0" maxOccurs="1" />
                           <xs:element name="assignmentStatusCode" minOccurs="0" maxOccurs="1" />
                           <xs:element name="systemLifeCycleStatusCode" minOccurs="0" maxOccurs="1" />
                           <xs:element name="isInconsistent" minOccurs="0" maxOccurs="1" />
                           <xs:element name="legalHold" minOccurs="0" maxOccurs="1" />
                           <xs:element name="Partner">
                                 <xs:complexType>
                                       <xs:sequence>
                                             <xs:element name="objectID" type="xs:string" minOccurs="0" maxOccurs="1" />
                                             <xs:element name="partnerID" type="xs:int" minOccurs="0" maxOccurs="1" />
                                             <xs:element name="partnerObjectID" minOccurs="0" maxOccurs="1" />
                                             <xs:element name="roleCode" type="xs:int" minOccurs="0" maxOccurs="1" />
                                             <xs:element name="isMain" type="xs:string" minOccurs="0" maxOccurs="1" />
                                             <xs:element name="determinationMethodCode" minOccurs="0" maxOccurs="1" />
                                             <xs:element name="unMappedIdentity" minOccurs="0" maxOccurs="1" />
                                             <xs:element name="ServiceTicket_objectID" type="xs:string" minOccurs="0" maxOccurs="1" />
                                       </xs:sequence>
                                 </xs:complexType>
                           </xs:element>
                     </xs:sequence>
               </xs:complexType>
         </xs:element>
   </xs:schema>
