Resources/canonical_library/xsd/XSD_1def9c69135479c4998d52373e68e86e879a1a95.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="root">
    <xs:complexType>
      <xs:sequence>
        <xs:element type="xs:byte" name="MANDT"/>
        <xs:element type="xs:int" name="QMNUM"/>
        <xs:element type="xs:string" name="MATNR"/>
        <xs:element type="xs:string" name="QMART"/>
        <xs:element type="xs:string" name="MGEIN"/>
        <xs:element type="xs:string" name="EKORG"/>
        <xs:element type="xs:string" name="LIFNUM"/>
        <xs:element type="xs:short" name="MAWERK"/>
        <xs:element type="xs:float" name="RKMNG"/>
        <xs:element type="xs:float" name="MGFRD"/>
        <xs:element type="xs:long" name="EBELN"/>
        <xs:element type="xs:byte" name="EBELP"/>
        <xs:element type="xs:string" name="REFNUM"/>
        <xs:element type="xs:string" name="QMGRP"/>
        <xs:element type="xs:byte" name="QMCOD"/>
        <xs:element type="xs:string" name="QMTXT"/>
	<xs:element type="xs:boolean" name="ASYNCFLAG"/>
        <xs:element name="QMFE" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="FEGRP"/>
              <xs:element type="xs:byte" name="FECOD"/>
              <xs:element type="xs:byte" name="FENUM"/>
              <xs:element type="xs:string" name="FETXT"/>
              <xs:element name="JEST" maxOccurs="unbounded" minOccurs="0">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:string" name="OBJNR"/>
                    <xs:element type="xs:string" name="STAT"/>
                    <xs:element type="xs:string" name="INACT"/>
                    <xs:element type="xs:byte" name="CHGNR"/>
                    <xs:element name="IHPA" maxOccurs="unbounded" minOccurs="0">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element type="xs:string" name="PARVW"/>
                          <xs:element type="xs:byte" name="COUNTER"/>
                          <xs:element type="xs:string" name="ERNAM"/>
                          <xs:element name="T000" maxOccurs="unbounded" minOccurs="0">
                            <xs:complexType>
                              <xs:sequence>
                                 <xs:element type="xs:string" name="LOGSYS"/>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>