Resources/canonical_library/xsd/XSD_9df8790b3ee1c2bf16178ab764e95a32184b5b08.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="root">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="personIdExternal" type="xs:unsignedInt"/>
				<xs:element name="action" type="xs:string"/>
				<xs:element name="userId" type="xs:unsignedInt"/>
				<xs:element name="firstName" type="xs:string"/>
				<xs:element name="middleName" minOccurs="0" maxOccurs="1"/>
				<xs:element name="lastName" type="xs:string"/>
				<xs:element name="username" type="xs:string" minOccurs="0" maxOccurs="1"/>
				<xs:element name="businessEmailAddress" minOccurs="0" maxOccurs="1"/>
				<xs:element name="personalEmailAddress" minOccurs="0" maxOccurs="1"/>
				<xs:element name="otherEmailAddress" minOccurs="0" maxOccurs="1"/>
				<xs:element name="hireDate" type="xs:dateTime"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>