Resources/canonical_library/xsd/XSD_762000033040a534f77fcf1212ba8cc01c873cf2.xsd

<?xml version="1.0" encoding="UTF-8"?><xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="qualified">
	<xs:element name="root">
		<xs:complexType>
			<xs:sequence>
				<xs:element maxOccurs="unbounded" minOccurs="1" name="Table">
					<xs:complexType>
						<xs:sequence>
							<xs:element maxOccurs="1" minOccurs="1" name="User_ID" type="xs:string"/>
							<xs:element maxOccurs="1" minOccurs="0" name="Organization_Reference_ID" type="xs:string"/>
							<xs:element maxOccurs="1" minOccurs="0" name="Worker_Type_Reference" type="xs:string"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>