Resources/canonical_library/xsd/XSD_1b6adc7b2f98b55a0c647d26573bd3f4afdd1163.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ccts="urn:un:unece:uncefact:documentation:standard:CoreComponentsTechnicalSpecification:3.0">
	<xs:element name="root">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="inboundDelivery" type="xs:string"/>
				<xs:element name="reverseGoodsReceiptDateTime" type="xs:dateTime" />
				<xs:element name="creationDateTime" type="xs:dateTime" />
				<xs:element name="recepientBusinessSystem" type="xs:string" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>