Resources/canonical_library/xsd/XSD_6995d97829b6f98376c0ac8d4bb654426990c8b9.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="root">
    <xs:complexType>
      <xs:sequence>
        <xs:element type="xs:byte" name="companyCode"/>
        <xs:element type="xs:int" name="invoiceDate"/>
        <xs:element type="xs:int" name="reference"/>
        <xs:element type="xs:int" name="vendorNumber"/>
		<xs:element type="xs:int" name="table"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>