Resources/canonical_library/xsd/XSD_082f0db654ccf21da174e7f54720eace414601b2.xsd

<xsd:schema targetNamespace="http://webcominc.com/" elementFormDefault="qualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:p0="http://webcominc.com/">
    <xsd:element name="root">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element type="xsd:string" name="Messages" minOccurs="0" maxOccurs="1" form="unqualified"/>
                <xsd:element name="Data" form="unqualified">
                    <xsd:complexType>
                        <xsd:sequence>                           
							<xsd:element name="ICMPlantID" form="unqualified">
                                <xsd:complexType>
                                    <xsd:sequence>
                                        <xsd:element minOccurs="0" maxOccurs="1" type="xsd:string" name="UniqueValues" form="unqualified"/>
                                        <xsd:element type="xsd:string" name="DisplayValue" minOccurs="0" maxOccurs="1" form="unqualified"/>
                                    </xsd:sequence>
                                </xsd:complexType>
                            </xsd:element>
                            <xsd:element type="xsd:string" name="ICMBuySideMaterialOrganizations_ICMItemstatus" minOccurs="0" maxOccurs="1" form="unqualified"/>
							<xsd:element name="ICMExternalId" form="unqualified">
                                <xsd:complexType>
                                    <xsd:sequence>
                                        <xsd:element minOccurs="0" maxOccurs="1" type="xsd:string" name="UniqueValues" form="unqualified"/>
                                        <xsd:element type="xsd:string" name="DisplayValue" minOccurs="0" maxOccurs="1" form="unqualified"/>
                                    </xsd:sequence>
                                </xsd:complexType>
                            </xsd:element>                            
                            <xsd:element type="xsd:string" name="Name" minOccurs="0" maxOccurs="1" form="unqualified"/>
                            <xsd:element type="xsd:string" name="OrgPath" minOccurs="0" maxOccurs="1" form="unqualified"/>
							<xsd:element type="xsd:string" name="isActive" minOccurs="0" maxOccurs="1" form="unqualified"/>
                        </xsd:sequence>
                    </xsd:complexType>
                </xsd:element>
                <xsd:element type="xsd:boolean" name="HasMoreData" minOccurs="0" maxOccurs="1" form="unqualified"/>
                <xsd:element type="xsd:string" name="PagingData" minOccurs="0" maxOccurs="1" form="unqualified"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>