Resources/canonical_library/xsd/XSD_aca3766a14dbededb31deb1f5c78da8575996936.xsd

<?xml version="1.0" encoding="UTF-8"?><xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="qualified">
	<xs:element name="root">
		<xs:complexType>
			<xs:sequence>
				<xs:element maxOccurs="unbounded" minOccurs="1" name="Table">
					<xs:complexType>
						<xs:sequence>
							<xs:element maxOccurs="1" minOccurs="0" name="AccountId" type="xs:string"/>
							<xs:element maxOccurs="1" minOccurs="0" name="CreatedDate" type="xs:long"/>
							<xs:element maxOccurs="1" minOccurs="0" name="CreatedBy" type="xs:string"/>
							<xs:element maxOccurs="1" minOccurs="0" name="LastModifiedDate" type="xs:long"/>
							<xs:element maxOccurs="1" minOccurs="0" name="OwnerId" type="xs:string"/>
							<xs:element maxOccurs="1" minOccurs="0" name="AnnualRevenue" type="xs:double"/>
							<xs:element maxOccurs="1" minOccurs="0" name="Industry" type="xs:string"/>
							<xs:element maxOccurs="1" minOccurs="0" name="Name" type="xs:string"/>
							<xs:element maxOccurs="1" minOccurs="0" name="Type" type="xs:string"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>