Resources/canonical_library/xsd/XSD_bda9fe898bc21a695fbd566564e5df1451e23004.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="root">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="DebitMemoRequestType" type="xs:string" />
        <xs:element name="DistributionChannel" type="xs:unsignedByte" />
        <xs:element name="SalesOrganization" type="xs:unsignedByte" />
        <xs:element name="OrganizationDivision" type="xs:unsignedByte" />
        <xs:element name="SoldToParty" type="xs:string" />
        <xs:element name="ShipToParty" type="xs:string" minOccurs="0"/>
        <xs:element name="PurchaseOrderByCustomer" type="xs:string" />
        <xs:element name="ReferenceSDDocument" minOccurs="0" type="xs:unsignedInt" />
        <xs:element name="PricingDate" minOccurs="0" type="xs:date" />
        <xs:element minOccurs="0" maxOccurs="unbounded" name="to_PricingElement">
            <xs:complexType>
                <xs:sequence>
                    <xs:element name="ConditionType" minOccurs="0" type="xs:string" />
                    <xs:element name="ConditionRateValue" minOccurs="0" type="xs:decimal" />
                    <xs:element name="ConditionQuantity" minOccurs="0" type="xs:decimal" />
                    <xs:element name="ConditionQuantitySAPUnit" minOccurs="0" type="xs:string" />
                    <xs:element name="ConditionCurrency" minOccurs="0" type="xs:string" />
                </xs:sequence>
            </xs:complexType>
        </xs:element>
        <xs:element minOccurs="0" maxOccurs="unbounded" name="to_Item">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="DebitMemoRequestItem" type="xs:string" />
              <xs:element name="RequestedQuantityUnit" type="xs:string" />     
              <xs:element name="Material"  minOccurs="0" type="xs:string" />
              <xs:element name="PricingDate" minOccurs="0" type="xs:date" />
              <xs:element name="RequestedQuantity"  minOccurs="0"  type="xs:unsignedByte" />
              <xs:element name="ReferenceSDDocument"  minOccurs="0" type="xs:string" />
              <xs:element name="ReferenceSDDocumentItem"  minOccurs="0" type="xs:string" />
              <xs:element minOccurs="0" maxOccurs="unbounded" name="to_PricingElement">
              <xs:complexType>
                <xs:sequence>
                  <xs:element name="ConditionType" minOccurs="0" type="xs:string" />
                  <xs:element name="ConditionRateValue" minOccurs="0" type="xs:decimal" />
                  <xs:element name="ConditionQuantity" minOccurs="0" type="xs:decimal" />
                  <xs:element name="ConditionQuantitySAPUnit" minOccurs="0" type="xs:string" />
                  <xs:element name="ConditionCurrency" minOccurs="0" type="xs:string" />
                </xs:sequence>
              </xs:complexType>
            </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>