Resources/canonical_library/xsd/XSD_2b4353b2227fa0de1de14c757898d087ba91e3c3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="root">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Material" />
        <xs:element name="SalesOrganisation" minOccurs="0" />
        <xs:element name="Plant" minOccurs="0" />
        <xs:element name="DistributionChannel" minOccurs="0" />
        <xs:element name="PlantGroup" minOccurs="0" />
        <xs:element name="Pricelist" minOccurs="0" />
        <xs:element name="ValidityFrom" minOccurs="0" />
        <xs:element name="ValidityTo" minOccurs="0" />
        <xs:element name="PurchasePriceDeterminationSeq" minOccurs="0" />
        <xs:element name="SalesPriceDeterminationSeq" minOccurs="0" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>