Resources/canonical_library/xsd/XSD_0b93416c2b1807e6d03f09da1322553dc9cabfe0.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="root">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="element">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="active" minOccurs="0"/>
              <xs:element type="xs:string" name="addToCartOption" minOccurs="0"/>
              <xs:element name="collectionIds" minOccurs="0">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:string" name="element" maxOccurs="unbounded" minOccurs="0"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="customAttributes" minOccurs="0">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:string" name="warranty"/>
                    <xs:element type="xs:string" name="washing-instruction"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element type="xs:string" name="description" minOccurs="0"/>
              <xs:element type="xs:string" name="id" minOccurs="0"/>
              <xs:element name="media" minOccurs="0">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="element" minOccurs="0">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element type="xs:string" name="fullSize"/>
                          <xs:element type="xs:string" name="thumbnail"/>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element type="xs:string" name="name" minOccurs="0"/>
              <xs:element type="xs:string" name="parentId" minOccurs="0"/>
              <xs:element name="price" minOccurs="0">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:float" name="cogs" minOccurs="0"/>
                    <xs:element type="xs:float" name="msrp" minOccurs="0"/>
                    <xs:element type="xs:float" name="originalPrice" minOccurs="0"/>
                    <xs:element type="xs:float" name="sellingPrice" minOccurs="0"/>
                    <xs:element name="surcharge" minOccurs="0">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element type="xs:string" name="type"/>
                          <xs:element type="xs:float" name="value"/>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element type="xs:string" name="published" minOccurs="0"/>
              <xs:element name="returnInfo" minOccurs="0">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="period">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element type="xs:string" name="infinite"/>
                          <xs:element type="xs:byte" name="maxDays"/>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element type="xs:string" name="policy"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="seo" minOccurs="0">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:string" name="canonicalUrl"/>
                    <xs:element type="xs:string" name="description"/>
                    <xs:element type="xs:string" name="title"/>
                    <xs:element type="xs:string" name="urlSlug"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element type="xs:string" name="sku" minOccurs="0"/>
              <xs:element type="xs:string" name="taxCode" minOccurs="0"/>
              <xs:element type="xs:string" name="type" minOccurs="0"/>
              <xs:element name="variantAttributes" minOccurs="0">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="element">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element type="xs:string" name="key"/>
                          <xs:element name="swatch">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element type="xs:string" name="altText"/>
                                <xs:element name="codes">
                                  <xs:complexType>
                                    <xs:sequence>
                                      <xs:element type="xs:string" name="element"/>
                                    </xs:sequence>
                                  </xs:complexType>
                                </xs:element>
                                <xs:element type="xs:string" name="url"/>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                          <xs:element type="xs:string" name="value"/>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>