Resources/canonical_library/xsd/XSD_2ecc3fb1c6e6a85938bb91ad5dac6379d99865df.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="root">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="CreditMemoRequestType" type="xs:string" />
        <xs:element name="SalesOrganization" type="xs:unsignedByte" />
        <xs:element name="DistributionChannel" type="xs:unsignedByte" />
        <xs:element name="OrganizationDivision" type="xs:unsignedByte" />
        <xs:element name="SoldToParty" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="unbounded" name="to_Partner">
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>