Resources/canonical_library/xsd/XSD_37c8972d6394ef6da0f1260338731fc738754f03.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- Created with Liquid Technologies Online Tools 1.0 (https://www.liquid-technologies.com) -->
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Root">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" name="Element">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="CompanyCode" type="xs:unsignedShort" />
              <xs:element name="GLAccount" type="xs:unsignedInt" />
              <xs:element name="GLAccountHierarchyName" type="xs:string" />
              <xs:element name="ChartOfAccounts" type="xs:string" />
              <xs:element name="CostCenter" type="xs:string" />
              <xs:element name="ProfitCenter" type="xs:string" />
              <xs:element name="CompanyCodeCurrency" type="xs:string" />
              <xs:element name="StartingBalanceAmtInCoCodeCrcy" type="xs:decimal" />
              <xs:element name="DebitAmountInCoCodeCrcy" type="xs:unsignedByte" />
              <xs:element name="CreditAmountInCoCodeCrcy" type="xs:unsignedByte" />
              <xs:element name="EndingBalanceAmtInCoCodeCrcy" type="xs:decimal" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>