Resources/canonical_library/xsd/XSD_bb6a46f309c4cf153264a9f1a868d1b433d6ed5b.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- Created with Liquid Technologies Online Tools 1.0 (https://www.liquid-technologies.com) -->
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="root">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="salesOrg" type="xs:unsignedShort" />
        <xs:element name="salesOrgName" type="xs:string" />
        <xs:element name="distributionChnl" type="xs:unsignedByte" />
        <xs:element name="distributionChnlName" type="xs:unsignedByte" />
        <xs:element name="division" type="xs:unsignedByte" />
        <xs:element name="divisionName" />
        <xs:element name="salesOffice" type="xs:unsignedByte" />
        <xs:element name="salesOfficeName" />
        <xs:element name="salesGroup" type="xs:unsignedByte" />
        <xs:element name="salesGroupName" />
        <xs:element name="customerGroup" type="xs:unsignedByte" />
        <xs:element name="customerGroupName" type="xs:unsignedByte" />
        <xs:element name="customerName" type="xs:unsignedByte" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>