Resources/canonical_library/xsd/XSD_ac9ba9f7ac7aea3fb6644e94b6265c156d5ebd3f.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="root">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="d">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="results">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="__metadata">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element type="xs:string" name="uri"/>
                          <xs:element type="xs:string" name="type"/>
                          <xs:element type="xs:string" name="etag"/>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element type="xs:string" name="ObjectID"/>
                    <xs:element type="xs:string" name="ProductRecipientPartyID"/>
                    <xs:element type="xs:string" name="ProductRecipientPartyUUID"/>
                    <xs:element type="xs:string" name="ProductRecipientPartyName"/>
                    <xs:element type="xs:string" name="IncidentServiceIssueCategoryID"/>
                    <xs:element type="xs:int" name="ID"/>
                    <xs:element type="xs:string" name="UUID"/>
                    <xs:element type="xs:string" name="ProcessingTypeCode"/>
                    <xs:element type="xs:string" name="ProcessingTypeCodeText"/>
                    <xs:element type="xs:string" name="Name"/>
                    <xs:element type="xs:byte" name="DataOriginTypeCode"/>
                    <xs:element type="xs:string" name="DataOriginTypeCodeText"/>
                    <xs:element type="xs:byte" name="EscalationStatusCode"/>
                    <xs:element type="xs:string" name="EscalationStatusCodeText"/>
                    <xs:element type="xs:string" name="SerialID"/>
                    <xs:element type="xs:string" name="ProductID"/>
                    <xs:element type="xs:byte" name="ServicePriorityCode"/>
                    <xs:element type="xs:string" name="ServicePriorityCodeText"/>
                    <xs:element type="xs:byte" name="ServiceRequestUserLifeCycleStatusCode"/>
                    <xs:element type="xs:string" name="ServiceRequestUserLifeCycleStatusCodeText"/>
                    <xs:element type="xs:dateTime" name="RequestedFulfillmentPeriodStartDateTime"/>
                    <xs:element type="xs:dateTime" name="RequestedFulfillmentPeriodEndDateTime"/>
                    <xs:element type="xs:string" name="RequestedTotalProcessingDuration"/>
                    <xs:element type="xs:string" name="RequestedTotalRequestorDuration"/>
                    <xs:element type="xs:dateTime" name="RequestInitialReceiptdatetimecontent"/>
                    <xs:element type="xs:string" name="RequestInProcessdatetimeContent"/>
                    <xs:element type="xs:string" name="RequestCloseddatetimeContent"/>
                    <xs:element type="xs:string" name="RequestFinisheddatetimeContent"/>
                    <xs:element type="xs:dateTime" name="FirstReactionDuedatetimeContent"/>
                    <xs:element type="xs:dateTime" name="CompleteDuedatetimeContent"/>
                    <xs:element type="xs:string" name="WarrantyStartdatetimeContent"/>
                    <xs:element type="xs:string" name="SalesOrganisationID"/>
                    <xs:element type="xs:string" name="DivisionCode"/>
                    <xs:element type="xs:string" name="DivisionCodeText"/>
                    <xs:element type="xs:string" name="DistributionChannelCode"/>
                    <xs:element type="xs:string" name="DistributionChannelCodeText"/>
                    <xs:element type="xs:string" name="SalesUnitPartyID"/>
                    <xs:element type="xs:string" name="ServiceExecutionTeamPartyID"/>
                    <xs:element type="xs:string" name="ServiceSupportTeamPartyID"/>
                    <xs:element type="xs:string" name="ServicePerformerPartyID"/>
                    <xs:element type="xs:string" name="ProcessorPartyID"/>
                    <xs:element type="xs:string" name="BuyerPartyID"/>
                    <xs:element type="xs:string" name="BuyerMainContactPartyID"/>
                    <xs:element type="xs:string" name="ReportedForPartyID"/>
                    <xs:element type="xs:string" name="InstallationPointID"/>
                    <xs:element type="xs:string" name="InstalledBaseID"/>
                    <xs:element type="xs:string" name="InstallationPointUUID"/>
                    <xs:element type="xs:string" name="WarrantyGoodwillCode"/>
                    <xs:element type="xs:string" name="WarrantyGoodwillCodeText"/>
                    <xs:element type="xs:string" name="EscalationTimePointDateTime"/>
                    <xs:element type="xs:dateTime" name="OnSiteArrivalDueDateTime"/>
                    <xs:element type="xs:string" name="OnSiteArrivalDateTime"/>
                    <xs:element type="xs:string" name="ServiceSupportTeamPartyName"/>
                    <xs:element type="xs:dateTime" name="ResolutionDueDateTime"/>
                    <xs:element type="xs:string" name="ResolvedOnDateTime"/>
                    <xs:element type="xs:string" name="SalesTerritoryID"/>
                    <xs:element type="xs:string" name="ResolutionDuetimeZoneCode"/>
                    <xs:element type="xs:string" name="ResolutionDuetimeZoneCodeText"/>
                    <xs:element type="xs:string" name="EscalationTimePointtimeZoneCode"/>
                    <xs:element type="xs:string" name="EscalationTimePointtimeZoneCodeText"/>
                    <xs:element type="xs:string" name="OnSiteArrivalDuetimeZoneCode"/>
                    <xs:element type="xs:string" name="OnSiteArrivalDuetimeZoneCodeText"/>
                    <xs:element type="xs:string" name="RequestInProcessdatetimeZoneCode"/>
                    <xs:element type="xs:string" name="RequestInProcessdatetimeZoneCodeText"/>
                    <xs:element type="xs:string" name="WarrantyStartdatetimeZoneCode"/>
                    <xs:element type="xs:string" name="WarrantyStartdatetimeZoneCodeText"/>
                    <xs:element type="xs:string" name="RequestCloseddatetimeZoneCode"/>
                    <xs:element type="xs:string" name="RequestCloseddatetimeZoneCodeText"/>
                    <xs:element type="xs:string" name="RequestedFulfillmentPeriodStarttimeZoneCode"/>
                    <xs:element type="xs:string" name="RequestedFulfillmentPeriodStarttimeZoneCodeText"/>
                    <xs:element type="xs:string" name="RequestedFulfillmentPeriodEndtimeZoneCode"/>
                    <xs:element type="xs:string" name="RequestedFulfillmentPeriodEndtimeZoneCodeText"/>
                    <xs:element type="xs:string" name="RequestFinisheddatetimeZoneCode"/>
                    <xs:element type="xs:string" name="RequestFinisheddatetimeZoneCodeText"/>
                    <xs:element type="xs:string" name="FirstReactionDuedatetimeZoneCode"/>
                    <xs:element type="xs:string" name="FirstReactionDuedatetimeZoneCodeText"/>
                    <xs:element type="xs:string" name="ResolvedOntimeZoneCode"/>
                    <xs:element type="xs:string" name="ResolvedOntimeZoneCodeText"/>
                    <xs:element type="xs:string" name="CompleteDuedatetimeZoneCode"/>
                    <xs:element type="xs:string" name="CompleteDuedatetimeZoneCodeText"/>
                    <xs:element type="xs:string" name="RequestInitialReceiptdatetimeZoneCode"/>
                    <xs:element type="xs:string" name="RequestInitialReceiptdatetimeZoneCodeText"/>
                    <xs:element type="xs:string" name="OnSiteArrivaltimeZoneCode"/>
                    <xs:element type="xs:string" name="OnSiteArrivaltimeZoneCodeText"/>
                    <xs:element type="xs:string" name="SalesUnitPartyName"/>
                    <xs:element type="xs:string" name="ServiceExecutionTeamPartyName"/>
                    <xs:element type="xs:string" name="ServicePerformerPartyName"/>
                    <xs:element type="xs:string" name="ProcessorPartyName"/>
                    <xs:element type="xs:string" name="BuyerPartyName"/>
                    <xs:element type="xs:string" name="BuyerMainContactPartyName"/>
                    <xs:element type="xs:string" name="ReportedForPartyName"/>
                    <xs:element type="xs:string" name="ProductDescription"/>
                    <xs:element type="xs:string" name="InstallationPointDescription"/>
                    <xs:element type="xs:string" name="InstalledBaseDescription"/>
                    <xs:element type="xs:string" name="ServiceTermsServiceIssueName"/>
                    <xs:element type="xs:string" name="SalesTerritoryName"/>
                    <xs:element type="xs:string" name="BuyerPartyUUID"/>
                    <xs:element type="xs:string" name="ReportedForPartyUUID"/>
                    <xs:element type="xs:string" name="BuyerMainContactPartyUUID"/>
                    <xs:element type="xs:string" name="ProcessorPartyUUID"/>
                    <xs:element type="xs:string" name="ServicePerformerPartyUUID"/>
                    <xs:element type="xs:string" name="ServiceSupportTeamPartyUUID"/>
                    <xs:element type="xs:string" name="ServiceExecutionTeamPartyUUID"/>
                    <xs:element type="xs:string" name="SalesUnitPartyUUID"/>
                    <xs:element type="xs:string" name="InstalledBaseUUID"/>
                    <xs:element type="xs:string" name="WarrantyUUID"/>
                    <xs:element type="xs:string" name="SalesTerritoryUUID"/>
                    <xs:element type="xs:string" name="WarrantyID"/>
                    <xs:element type="xs:string" name="ObjectServiceIssueCategoryID"/>
                    <xs:element type="xs:string" name="CauseServiceIssueCategoryID"/>
                    <xs:element type="xs:string" name="ActivityServiceIssueCategoryID"/>
                    <xs:element type="xs:string" name="MainTicketID"/>
                    <xs:element type="xs:string" name="ContractID"/>
                    <xs:element type="xs:string" name="ReportedPartyID"/>
                    <xs:element type="xs:string" name="ReportedPartyUUID"/>
                    <xs:element type="xs:string" name="ServiceIssueCategoryID"/>
                    <xs:element type="xs:string" name="ServiceRequestClassificationCode"/>
                    <xs:element type="xs:string" name="ServiceRequestClassificationCodeText"/>
                    <xs:element type="xs:string" name="CreationDateTime"/>
                    <xs:element type="xs:string" name="PartnerContactPartyID"/>
                    <xs:element type="xs:string" name="PartnerContactPartyUUID"/>
                    <xs:element type="xs:string" name="ReportedPartyName"/>
                    <xs:element type="xs:string" name="ChangedByCustomerIndicator"/>
                    <xs:element type="xs:string" name="ResponseByProcessorDateTimeContent"/>
                    <xs:element type="xs:string" name="ResponseByProcessorDateTimeZoneCode"/>
                    <xs:element type="xs:string" name="ResponseByProcessorDateTimeZoneCodeText"/>
                    <xs:element type="xs:dateTime" name="ResponseByProcessorDueDateTime"/>
                    <xs:element type="xs:string" name="ResponseByProcessorDueDateTimeZoneCode"/>
                    <xs:element type="xs:string" name="ResponseByProcessorDueDateTimeZoneCodeText"/>
                    <xs:element type="xs:string" name="ServiceLevelObjectiveID"/>
                    <xs:element type="xs:string" name="ServiceLevelObjectiveName"/>
                    <xs:element type="xs:string" name="ServiceLevelObjectiveNamelanguageCode"/>
                    <xs:element type="xs:string" name="ServiceLevelObjectiveNamelanguageCodeText"/>
                    <xs:element type="xs:string" name="ResponseByRequesterDateTimeContent"/>
                    <xs:element type="xs:string" name="ResponseByRequesterDateTimeZoneCode"/>
                    <xs:element type="xs:string" name="ResponseByRequesterDateTimeZoneCodeText"/>
                    <xs:element type="xs:string" name="InstallationPointIDV1"/>
                    <xs:element type="xs:string" name="LastChangeDateTime"/>
                    <xs:element type="xs:string" name="CreationIdentityUUID"/>
                    <xs:element type="xs:string" name="LastChangeIdentityUUID"/>
                    <xs:element type="xs:string" name="SolutionCategoryName"/>
                    <xs:element type="xs:string" name="CauseCategoryName"/>
                    <xs:element type="xs:string" name="ObjectCategoryName"/>
                    <xs:element type="xs:string" name="IncidentCategoryName"/>
                    <xs:element type="xs:string" name="CreatedBy"/>
                    <xs:element type="xs:string" name="LastChangedBy"/>
                    <xs:element type="xs:string" name="WarrantyFrom"/>
                    <xs:element type="xs:string" name="WarrantyTo"/>
                    <xs:element type="xs:byte" name="ServiceRequestLifeCycleStatusCode"/>
                    <xs:element type="xs:string" name="ServiceRequestLifeCycleStatusCodeText"/>
                    <xs:element type="xs:byte" name="RequestAssignmentStatusCode"/>
                    <xs:element type="xs:string" name="RequestAssignmentStatusCodeText"/>
                    <xs:element type="xs:string" name="DocumentLanguageCode"/>
                    <xs:element type="xs:string" name="DocumentLanguageCodeText"/>
                    <xs:element type="xs:string" name="EntityLastChangedOn"/>
                    <xs:element type="xs:string" name="ETag"/>
                    <xs:element type="xs:string" name="Model_ven"/>
                    <xs:element name="ServiceRequestAttachmentFolder">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="__deferred">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element type="xs:string" name="uri"/>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="ServiceRequestBusinessTransactionDocumentReference">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="__deferred">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element type="xs:string" name="uri"/>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="ServiceRequestItem">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="__deferred">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element type="xs:string" name="uri"/>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="ServiceRequestOtherParty">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="__deferred">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element type="xs:string" name="uri"/>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="ServiceRequestParty">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="__deferred">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element type="xs:string" name="uri"/>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="ServiceRequestServicePointLocation">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="__deferred">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element type="xs:string" name="uri"/>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="ServiceRequestServiceReferenceObject">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="__deferred">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element type="xs:string" name="uri"/>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="ServiceRequestSkillsCollection">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="__deferred">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element type="xs:string" name="uri"/>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="ServiceRequestSolutionProposal">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="__deferred">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element type="xs:string" name="uri"/>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="ServiceRequestTextCollection">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="__deferred">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element type="xs:string" name="uri"/>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>