Resources/canonical_library/xsd/XSD_9911c286b42dfa9e9017bfab4fe4dbc016523289.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
 <xs:element name="root">
    <xs:complexType>
      <xs:sequence>
      	<xs:element type="xs:string" name="eventid"/>
    	<xs:element type="xs:string" name="totalattendees"/>
  <xs:element name="attendees" minOccurs="0" maxOccurs="unbounded">
    <xs:complexType>
      <xs:sequence>
              <xs:element type="xs:string" name="mktgeventparticipantexternalid" minOccurs="0" maxOccurs="1"/>
              <xs:element type="xs:string" name="mktgeventparticipantid" minOccurs="0" maxOccurs="1"/>
              <xs:element type="xs:string" name="mktgengagementscore" minOccurs="0" maxOccurs="1"/>
              <xs:element type="xs:string" name="numberofquestions" minOccurs="0" maxOccurs="1"/>
              <xs:element type="xs:string" name="numberofpollsanswered" minOccurs="0" maxOccurs="1"/>
              <xs:element type="xs:string" name="numberofsurveysanswered" minOccurs="0" maxOccurs="1"/>
              <xs:element type="xs:string" name="numberofcontentdownloads" minOccurs="0" maxOccurs="1"/>
              <xs:element type="xs:string" name="totalnumberofminuteslive" minOccurs="0" maxOccurs="1"/>
              <xs:element type="xs:string" name="totalnumberofminutesreplay" minOccurs="0" maxOccurs="1"/>
              <xs:element type="xs:string" name="totalnumberofminutesattended" minOccurs="0" maxOccurs="1"/>
              <xs:element type="xs:string" name="activitydatetime" minOccurs="0" maxOccurs="1"/>
              <xs:element type="xs:string" name="isendofpurposeblocked" minOccurs="0" maxOccurs="1"/>
              <xs:element type="xs:string" name="yy1_FIRSTLIVEACTIVITY_prt" minOccurs="0" maxOccurs="1"/>
              
              <xs:element name="QUESTIONANSWERS" minOccurs="0" maxOccurs="unbounded">
   	  		  <xs:complexType>
      		  <xs:sequence>
              	        <xs:element type="xs:string" name="MKTGEVTPRTCPNTQSTNTXT" minOccurs="0" maxOccurs="1"/>
              	        <xs:element name="ANSWERS" minOccurs="0" maxOccurs="unbounded">
   	  		  			<xs:complexType>
      		  			<xs:sequence>
              	        	<xs:element type="xs:string" name="MKTGEVTPRTCPNTANSWTXT" minOccurs="0" maxOccurs="1"/>
              	        </xs:sequence>
    		  			</xs:complexType>
  			  			</xs:element>
              </xs:sequence>
    		  </xs:complexType>
  			  </xs:element>
  			  
  			  <xs:element name="POLL" minOccurs="0" maxOccurs="unbounded">
   	  		  <xs:complexType>
      		  <xs:sequence>
              	        <xs:element type="xs:string" name="ID" minOccurs="0" maxOccurs="1"/>
              	        <xs:element type="xs:string" name="POLLQUESTIONID" minOccurs="0" maxOccurs="1"/>
              	        <xs:element type="xs:string" name="POLLQUESTION" minOccurs="0" maxOccurs="1"/>
              	        <xs:element name="POLLANSWER" minOccurs="0" maxOccurs="unbounded">
   	  		 			 <xs:simpleType>
          					<xs:list itemType="xs:string"/>                                                     
    					 </xs:simpleType>
  			 			 </xs:element>
              </xs:sequence>
    		  </xs:complexType>
  			  </xs:element>
  			
  			 
  			 <xs:element name="SURVEY" minOccurs="0" maxOccurs="unbounded">
   	  		  <xs:complexType>
      		  <xs:sequence>
              	        <xs:element type="xs:string" name="SURVEY" minOccurs="0" maxOccurs="1"/>
              	        <xs:element name="RESPONSE" minOccurs="0" maxOccurs="unbounded">
   	  		 			 <xs:complexType>
      		 			 <xs:sequence>
              	       		 <xs:element type="xs:string" name="SURVEYQUESTION" minOccurs="0" maxOccurs="1"/>
              	        	 <xs:element type="xs:string" name="SURVEYQUESTIONNAME" minOccurs="0" maxOccurs="1"/>
              	        	 <xs:element name="SURVEYANSWERNAME" minOccurs="0" maxOccurs="unbounded">
   	  		 				 <xs:simpleType>
          						<xs:list itemType="xs:string"/>                                                     
    						 </xs:simpleType>
  			 			 	</xs:element>
              			</xs:sequence>
    		 			</xs:complexType>
  			 		 	</xs:element>
              </xs:sequence>
    		  </xs:complexType>
  			  </xs:element>		
  			  <xs:element name="interactions" minOccurs="0" maxOccurs="unbounded">
    <xs:complexType>
      <xs:sequence>
              <xs:element type="xs:string" name="InteractionUUID" minOccurs="0" maxOccurs="1"/>
              <xs:element type="xs:string" name="InteractionContactOrigin" minOccurs="0" maxOccurs="1"/>
              <xs:element type="xs:string" name="InteractionContactId" minOccurs="0" maxOccurs="1"/>
              <xs:element type="xs:string" name="CommunicationMedium" minOccurs="0" maxOccurs="1"/>
              <xs:element type="xs:string" name="InteractionType" minOccurs="0" maxOccurs="1"/>
              <xs:element type="xs:string" name="InteractionTimeStampUTC" minOccurs="0" maxOccurs="1"/>
              <xs:element type="xs:string" name="InteractionSourceObjectType" minOccurs="0" maxOccurs="1"/>
              <xs:element type="xs:string" name="InteractionSourceObject" minOccurs="0" maxOccurs="1"/>
              <xs:element type="xs:string" name="MarketingArea" minOccurs="0" maxOccurs="1"/>
              <xs:element type="xs:string" name="YY1_engagementscore_MIA" minOccurs="0" maxOccurs="1"/>
             
      </xs:sequence>
    </xs:complexType>
  </xs:element>     
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
