Resources/canonical_library/xsd/XSD_9f72a8b4899030fc03b8280e79bf9335ac2720c5.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="root">
    <xs:complexType>
      <xs:sequence>
        <xs:element type="xs:string" name="attributeKey"/>
        <xs:element name="label">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="en-US"/>              
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element type="xs:byte" name="position" minOccurs="0"/>
        <xs:element name="values" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="value"/>
              <xs:element name="label">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:string" name="en-US"/>                    
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element type="xs:byte" name="position" minOccurs="0"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>