Resources/canonical_library/xsd/XSD_3f8c770696d20895a7c6a49e7dcdfb3c2ea0b966.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ccts="urn:un:unece:uncefact:documentation:standard:CoreComponentsTechnicalSpecification:3.0">
	<xs:element name="root">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="deliveryDocument" type="xs:string"/>
				<xs:element name="creationDateTime" type="xs:dateTime" />
				<xs:element name="deliveryItem" minOccurs="1" maxOccurs="unbounded">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="deliveryDocumentItem" type="xs:string"/>
							<xs:element name="actualDeliveryQuantity" type="Quantity.Content"/>
							<xs:element name="actualDeliveryQuantityInBaseUoM" type="Quantity.Content"/>
							<xs:element name="deliveryToBaseQuantityDnmntr" type="xs:integer"/>
							<xs:element name="deliveryToBaseQuantityNmrtr" type="xs:integer"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:simpleType name="Quantity.Content">
		<xs:restriction base="xs:decimal">
			<xs:totalDigits value="31"/>
			<xs:fractionDigits value="14"/>
			<xs:maxInclusive value="99999999999999999.99999999999999"/>
			<xs:minInclusive value="-99999999999999999.99999999999999"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Measure.Content">
		<xs:restriction base="xs:decimal">
			<xs:totalDigits value="31"/>
			<xs:fractionDigits value="14"/>
			<xs:maxInclusive value="99999999999999999.99999999999999"/>
			<xs:minInclusive value="-99999999999999999.99999999999999"/>
		</xs:restriction>
	</xs:simpleType>	
	<xs:simpleType name="MeasureUnitCode">
		<xs:annotation>
			<xs:documentation xml:lang="EN">
				<ccts:RepresentationTerm>Code</ccts:RepresentationTerm>
			</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:token">
			<xs:maxLength value="3"/>
			<xs:minLength value="1"/>
		</xs:restriction>
	</xs:simpleType>
	
</xs:schema>