Resources/canonical_library/xsd/XSD_132a35737786921ccf97cbfe33cab8806d4279ac.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="root">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="unbounded" name="contract">
          <xs:complexType>
            <xs:sequence>
              <xs:element minOccurs="0" name="businessPartner">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element minOccurs="1" name="externalId" type="xs:decimal"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element minOccurs="0" name="contact">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element minOccurs="1" name="externalId" type="xs:decimal"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element minOccurs="0" name="code" type="xs:string"/>
              <xs:element minOccurs="0" name="contractType" type="xs:string"/>
              <xs:element minOccurs="0" name="description" type="xs:string"/>
              <xs:element minOccurs="0" name="endDate" type="xs:dateTime"/>
              <xs:element minOccurs="0" name="externalId" type="xs:string"/>
              <xs:element minOccurs="0" name="frequency" type="xs:string"/>
              <xs:element minOccurs="0" name="id" type="xs:string"/>
              <xs:element minOccurs="0" name="includeEffort" type="xs:string"/>
              <xs:element minOccurs="0" name="includeExpense" type="xs:string"/>
              <xs:element minOccurs="0" name="includeMaterial" type="xs:string"/>
              <xs:element minOccurs="0" name="includeMileage" type="xs:string"/>
              <xs:element minOccurs="0" name="owner">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element minOccurs="1" name="externalId" type="xs:decimal"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element minOccurs="0" name="recurrenceEndDate" type="xs:dateTime"/>
              <xs:element minOccurs="0" name="recurrenceStartDate" type="xs:dateTime"/>
              <xs:element minOccurs="0" name="remarks" type="xs:string"/>
              <xs:element minOccurs="0" name="resolutionTime" type="xs:string"/>
              <xs:element minOccurs="0" name="responseTime" type="xs:string"/>
              <xs:element minOccurs="0" name="serviceType" type="xs:string"/>
              <xs:element minOccurs="0" name="startDate" type="xs:dateTime"/>
              <xs:element minOccurs="0" name="status" type="xs:string"/>
              <xs:element minOccurs="0" name="terminationDate" type="xs:dateTime"/>
              <xs:element maxOccurs="unbounded" minOccurs="0" name="udfValues">
                <xs:complexType mixed="true">
                  <xs:sequence>
                    <xs:element name="udfMeta">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element maxOccurs="1" minOccurs="0" name="id" type="xs:string"/>
                          <xs:element maxOccurs="1" minOccurs="0" name="code" type="xs:byte"/>
                          <xs:element maxOccurs="1" minOccurs="0" name="externalId" type="xs:string"/>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element maxOccurs="1" minOccurs="0" name="value" type="xs:string"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>