Resources/canonical_library/xsd/XSD_54b275e25dcec2929b964bcf13cc28aed8a20ccb.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="qualified">
   <xs:element name="root">
      <xs:complexType>
         <xs:sequence>
            <xs:element name="vehicle" maxOccurs="unbounded" minOccurs="0">
               <xs:complexType>
                  <xs:sequence>
                     <xs:element type="xs:string" name="vmsvehicleuuid" maxOccurs="1" minOccurs="0" />
                     <xs:element type="xs:string" name="material" maxOccurs="1" minOccurs="0" />
                     <xs:element type="xs:string" name="vmsdigitalvehiclehubmodel" maxOccurs="1" minOccurs="0" />
                     <xs:element type="xs:string" name="vmsvehicleinternalid" maxOccurs="1" minOccurs="0" />
                     <xs:element type="xs:string" name="referencevendor" maxOccurs="1" minOccurs="0" />
                     <xs:element type="xs:string" name="vmsvehiclebatch" maxOccurs="1" minOccurs="0" />
                     <xs:element type="xs:string" name="equipment" maxOccurs="1" minOccurs="0" />
                     <xs:element type="xs:string" name="vmsvehicleactiondoctype" maxOccurs="1" minOccurs="0" />
                     <xs:element type="xs:string" name="plant" maxOccurs="1" minOccurs="0" />
                     <xs:element type="xs:string" name="storagelocation" maxOccurs="1" minOccurs="0" />
                     <xs:element type="xs:string" name="valuationtype" maxOccurs="1" minOccurs="0" />
                     <xs:element type="xs:string" name="configurationnumber" maxOccurs="1" minOccurs="0" />
                     <xs:element type="xs:string" name="vmsvehicleprimactioncontrol" maxOccurs="1" minOccurs="0" />
                     <xs:element type="xs:string" name="vmsvehicleprimarystatus" maxOccurs="1" minOccurs="0" />
                     <xs:element type="xs:string" name="vmsvehicleprimstatusdatetime" maxOccurs="1" minOccurs="0" />
                     <xs:element type="xs:string" name="vmsvehiclesecdryactioncontrol" maxOccurs="1" minOccurs="0" />
                     <xs:element type="xs:string" name="vmsvehiclesecondarystatus" maxOccurs="1" minOccurs="0" />
                     <xs:element type="xs:string" name="vmsvehiclesecdrystatusdatetime" maxOccurs="1" minOccurs="0" />
                     <xs:element type="xs:string" name="vmsvehicleconfddelivdatetime" maxOccurs="1" minOccurs="0" />
                     <xs:element type="xs:string" name="vmsvehicleproductiondatetime" maxOccurs="1" minOccurs="0" />
                     <xs:element type="xs:string" name="vmsvehicleplnddelivdatetime" maxOccurs="1" minOccurs="0" />
                     <xs:element type="xs:string" name="vmsvehicleisarchived" maxOccurs="1" minOccurs="0" />
                     <xs:element type="xs:string" name="vehicleidentificationnumber" maxOccurs="1" minOccurs="0" />
                     <xs:element type="xs:string" name="vmsvehicleexternalid" maxOccurs="1" minOccurs="0" />
                     <xs:element type="xs:string" name="vmsvehicleavailabilitystatus" maxOccurs="1" minOccurs="0" />
                     <xs:element type="xs:string" name="vmsvehicleisvisible" maxOccurs="1" minOccurs="0" />
                     <xs:element type="xs:string" name="vehiclelocation" maxOccurs="1" minOccurs="0" />
                     <xs:element type="xs:string" name="vmsvehiclecustomer" maxOccurs="1" minOccurs="0" />
                     <xs:element type="xs:string" name="vmsvehicleendcustomer" maxOccurs="1" minOccurs="0" />
                     <xs:element type="xs:string" name="createdbyusername" maxOccurs="1" minOccurs="0" />
                     <xs:element type="xs:string" name="vmsvehicleusagestatus" maxOccurs="1" minOccurs="0" />
                     <xs:element type="xs:string" name="vmsvehiclesalescampaign" maxOccurs="1" minOccurs="0" />
                     <xs:element type="xs:string" name="vmsvehiclemileagequantity" maxOccurs="1" minOccurs="0" />
                     <xs:element type="xs:string" name="vmsvehiclemileageusageunit" maxOccurs="1" minOccurs="0" />
                     <xs:element type="xs:string" name="vmsvehicleregistrationdate" maxOccurs="1" minOccurs="0" />
                     <xs:element type="xs:string" name="vmsvehiclesearcharea" maxOccurs="1" minOccurs="0" />
                     <xs:element type="xs:string" name="vmsvehicleorderingparty" maxOccurs="1" minOccurs="0" />
                     <xs:element type="xs:string" name="vmsvehgrossprcamtinvehprccrcy" maxOccurs="1" minOccurs="0" />
                     <xs:element type="xs:string" name="vmsvehiclepricecrcy" maxOccurs="1" minOccurs="0" />
                     <xs:element type="xs:string" name="vmsvehiclesharinglevel" maxOccurs="1" minOccurs="0" />
                     <xs:element type="xs:string" name="vmsvehicleisused" maxOccurs="1" minOccurs="0" />
                     <xs:element type="xs:string" name="logicalsystem" maxOccurs="1" minOccurs="0" />
                     <xs:element type="xs:string" name="invoice_cti" maxOccurs="1" minOccurs="0" />
                     <xs:element type="xs:string" name="purchaseorder_cti" maxOccurs="1" minOccurs="0" />
                     <xs:element type="xs:string" name="salesorder_cti" maxOccurs="1" minOccurs="0" />
                     <xs:element type="xs:string" name="configuration_cti" maxOccurs="1" minOccurs="0" />
                     <xs:element type="xs:string" name="status_cti" maxOccurs="1" minOccurs="0" />
                     <xs:element name="incominginvoice" maxOccurs="unbounded" minOccurs="0">
                        <xs:complexType>
                           <xs:sequence>
                              <xs:element type="xs:string" name="vmsvehicleuuid" maxOccurs="1" minOccurs="0" />
                              <xs:element type="xs:string" name="vmsvehicleactiondatetime" maxOccurs="1" minOccurs="0" />
                              <xs:element type="xs:string" name="vmsvehicleactiondoctype" maxOccurs="1" minOccurs="0" />
                              <xs:element type="xs:string" name="refaccountingdocument" maxOccurs="1" minOccurs="0" />
                              <xs:element type="xs:string" name="documentreferenceid" maxOccurs="1" minOccurs="0" />
                              <xs:element type="xs:string" name="inputfiscalyear" maxOccurs="1" minOccurs="0" />
                              <xs:element type="xs:string" name="supplierinvoiceitem" maxOccurs="1" minOccurs="0" />
                              <xs:element type="xs:string" name="suplrinvcextcreatedbyuser" maxOccurs="1" minOccurs="0" />
                              <xs:element type="xs:string" name="vehactiondoctypeisreversed" maxOccurs="1" minOccurs="0" />
                              <xs:element type="xs:date" name="documentdate" maxOccurs="1" minOccurs="0" />
                              <xs:element type="xs:string" name="companycode" maxOccurs="1" minOccurs="0" />
                              <xs:element type="xs:date" name="postingdate" maxOccurs="1" minOccurs="0" />
                              <xs:element type="xs:string" name="documentcurrency" maxOccurs="1" minOccurs="0" />
                              <xs:element type="xs:string" name="supplierinvoiceitemamount" maxOccurs="1" minOccurs="0" />
                              <xs:element type="xs:string" name="invoicingparty" maxOccurs="1" minOccurs="0" />
                              <xs:element type="xs:string" name="isendofpurposeblocked" maxOccurs="1" minOccurs="0" />
                              <xs:element type="xs:string" name="logicalsystem" maxOccurs="1" minOccurs="0" />
                              <xs:element type="xs:string" name="supplierinvoiceiscancelled" maxOccurs="1" minOccurs="0" />
                              <xs:element type="xs:string" name="reversedocument" maxOccurs="1" minOccurs="0" />
                           </xs:sequence>
                        </xs:complexType>
                     </xs:element>
                     <xs:element name="outgoinginvoice" maxOccurs="unbounded" minOccurs="0">
                        <xs:complexType>
                           <xs:sequence>
                              <xs:element type="xs:string" name="vmsvehicleuuid" maxOccurs="1" minOccurs="0" />
                              <xs:element type="xs:string" name="vmsvehicleactiondatetime" maxOccurs="1" minOccurs="0" />
                              <xs:element type="xs:string" name="vmsvehicleactiondoctype" maxOccurs="1" minOccurs="0" />
                              <xs:element type="xs:string" name="billingdocument" maxOccurs="1" minOccurs="0" />
                              <xs:element type="xs:string" name="vmsvehicleactndoctypeisrvsd" maxOccurs="1" minOccurs="0" />
                              <xs:element type="xs:string" name="createdbyuser" maxOccurs="1" minOccurs="0" />
                              <xs:element type="xs:string" name="salesorganization" maxOccurs="1" minOccurs="0" />
                              <xs:element type="xs:string" name="companycode" maxOccurs="1" minOccurs="0" />
                              <xs:element type="xs:date" name="billingdocumentdate" maxOccurs="1" minOccurs="0" />
                              <xs:element type="xs:date" name="creationdate" maxOccurs="1" minOccurs="0" />
                              <xs:element type="xs:string" name="soldtoparty" maxOccurs="1" minOccurs="0" />
                              <xs:element type="xs:string" name="billingdocumentitem" maxOccurs="1" minOccurs="0" />
                              <xs:element type="xs:string" name="netamount" maxOccurs="1" minOccurs="0" />
                              <xs:element type="xs:string" name="transactioncurrency" maxOccurs="1" minOccurs="0" />
                              <xs:element type="xs:string" name="plant" maxOccurs="1" minOccurs="0" />
                              <xs:element type="xs:string" name="billingdocumenttype" maxOccurs="1" minOccurs="0" />
                              <xs:element type="xs:string" name="logicalsystem" maxOccurs="1" minOccurs="0" />
                              <xs:element type="xs:string" name="billingdocumentiscancelled" maxOccurs="1" minOccurs="0" />
                              <xs:element type="xs:string" name="documentreferenceid" maxOccurs="1" minOccurs="0" />
                           </xs:sequence>
                        </xs:complexType>
                     </xs:element>
                     <xs:element name="purchaseorder" maxOccurs="unbounded" minOccurs="0">
                        <xs:complexType>
                           <xs:sequence>
                              <xs:element type="xs:string" name="vmsvehicleuuid" maxOccurs="1" minOccurs="0" />
                              <xs:element type="xs:string" name="vmsvehicleactiondatetime" maxOccurs="1" minOccurs="0" />
                              <xs:element type="xs:string" name="vmsvehicleactiondoctype" maxOccurs="1" minOccurs="0" />
                              <xs:element type="xs:string" name="purchaseorder" maxOccurs="1" minOccurs="0" />
                              <xs:element type="xs:string" name="purchaseorderitem" maxOccurs="1" minOccurs="0" />
                              <xs:element type="xs:string" name="configurationnumber" maxOccurs="1" minOccurs="0" />
                              <xs:element type="xs:string" name="vmsvehiclegdsreceiptiscomplete" maxOccurs="1" minOccurs="0" />
                              <xs:element type="xs:string" name="vmsvehicleinvcrcptiscomplete" maxOccurs="1" minOccurs="0" />
                              <xs:element type="xs:string" name="createdbyusername" maxOccurs="1" minOccurs="0" />
                              <xs:element type="xs:string" name="companycode" maxOccurs="1" minOccurs="0" />
                              <xs:element type="xs:string" name="companycodename" maxOccurs="1" minOccurs="0" />
                              <xs:element type="xs:string" name="costcenter" maxOccurs="1" minOccurs="0" />
                              <xs:element type="xs:string" name="supplier" maxOccurs="1" minOccurs="0" />
                              <xs:element type="xs:string" name="purchasingorganization" maxOccurs="1" minOccurs="0" />
                              <xs:element type="xs:string" name="purchasingorganizationname" maxOccurs="1" minOccurs="0" />
                              <xs:element type="xs:string" name="purchasinggroup" maxOccurs="1" minOccurs="0" />
                              <xs:element type="xs:string" name="plant" maxOccurs="1" minOccurs="0" />
                              <xs:element type="xs:string" name="plantname" maxOccurs="1" minOccurs="0" />
                              <xs:element type="xs:string" name="purchaseorderdate" maxOccurs="1" minOccurs="0" />
                              <xs:element type="xs:string" name="purchasinggroupname" maxOccurs="1" minOccurs="0" />
                              <xs:element type="xs:string" name="netpriceamount" maxOccurs="1" minOccurs="0" />
                              <xs:element type="xs:string" name="documentcurrency" maxOccurs="1" minOccurs="0" />
                              <xs:element type="xs:string" name="purchasingprocessingstatus" maxOccurs="1" minOccurs="0" />
                              <xs:element type="xs:string" name="purchasingprocessingstatusname" maxOccurs="1" minOccurs="0" />
                              <xs:element type="xs:string" name="purchaseordertype" maxOccurs="1" minOccurs="0" />
                              <xs:element type="xs:string" name="logicalsystem" maxOccurs="1" minOccurs="0" />
                           </xs:sequence>
                        </xs:complexType>
                     </xs:element>
                     <xs:element name="salesorder" maxOccurs="unbounded" minOccurs="0">
                        <xs:complexType>
                           <xs:sequence>
                              <xs:element type="xs:string" name="vmsvehicleuuid" maxOccurs="1" minOccurs="0" />
                              <xs:element type="xs:string" name="vmsvehicleactiondatetime" maxOccurs="1" minOccurs="0" />
                              <xs:element type="xs:string" name="vmsvehicleactiondoctype" maxOccurs="1" minOccurs="0" />
                              <xs:element type="xs:string" name="salesorder" maxOccurs="1" minOccurs="0" />
                              <xs:element type="xs:string" name="salesorderitem" maxOccurs="1" minOccurs="0" />
                              <xs:element type="xs:string" name="createdbyusername" maxOccurs="1" minOccurs="0" />
                              <xs:element type="xs:string" name="purchasingdocreferencebycust" maxOccurs="1" minOccurs="0" />
                              <xs:element type="xs:string" name="soldtoparty" maxOccurs="1" minOccurs="0" />
                              <xs:element type="xs:string" name="costcenter" maxOccurs="1" minOccurs="0" />
                              <xs:element type="xs:string" name="salesorganization" maxOccurs="1" minOccurs="0" />
                              <xs:element type="xs:string" name="overallsdprocessstatus" maxOccurs="1" minOccurs="0" />
                              <xs:element type="xs:date" name="salesorderdate" maxOccurs="1" minOccurs="0" />
                              <xs:element type="xs:string" name="distributionchannel" maxOccurs="1" minOccurs="0" />
                              <xs:element type="xs:string" name="plant" maxOccurs="1" minOccurs="0" />
                              <xs:element type="xs:string" name="organizationdivision" maxOccurs="1" minOccurs="0" />
                              <xs:element type="xs:string" name="netamount" maxOccurs="1" minOccurs="0" />
                              <xs:element type="xs:string" name="salesdocumentcurrency" maxOccurs="1" minOccurs="0" />
                              <xs:element type="xs:string" name="salesordertype" maxOccurs="1" minOccurs="0" />
                              <xs:element type="xs:string" name="logicalsystem" maxOccurs="1" minOccurs="0" />
                           </xs:sequence>
                        </xs:complexType>
                     </xs:element>
                     <xs:element name="standardconfiguration" maxOccurs="1" minOccurs="0">
                        <xs:complexType>
                           <xs:sequence>
                              <xs:element type="xs:string" name="dvh_interior_color" maxOccurs="1" minOccurs="0" />
                              <xs:element type="xs:string" name="dvh_exterior_color" maxOccurs="1" minOccurs="0" />
                              <xs:element type="xs:string" name="dvh_upholstery_color" maxOccurs="1" minOccurs="0" />
                              <xs:element type="xs:string" name="dvh_used_vehicle" maxOccurs="1" minOccurs="0" />
                              <xs:element type="xs:string" name="dvh_odometer_reading" maxOccurs="1" minOccurs="0" />
                              <xs:element type="xs:string" name="dvh_odometer_reading_uom" maxOccurs="1" minOccurs="0" />
                              <xs:element type="xs:string" name="dvh_homologation_number" maxOccurs="1" minOccurs="0" />
                              <xs:element type="xs:string" name="dvh_rim_size" maxOccurs="1" minOccurs="0" />
                              <xs:element type="xs:string" name="dvh_rim_size_uom" maxOccurs="1" minOccurs="0" />
                              <xs:element type="xs:string" name="dvh_wheel_type" maxOccurs="1" minOccurs="0" />
                              <xs:element type="xs:string" name="dvh_tire_size" maxOccurs="1" minOccurs="0" />
                              <xs:element type="xs:string" name="dvh_radio_code" maxOccurs="1" minOccurs="0" />
                              <xs:element type="xs:string" name="dvh_navigation_code" maxOccurs="1" minOccurs="0" />
                              <xs:element type="xs:string" name="dvh_key_code" maxOccurs="1" minOccurs="0" />
                              <xs:element type="xs:string" name="dvh_upholstery_fabric" maxOccurs="1" minOccurs="0" />
                           </xs:sequence>
                        </xs:complexType>
                     </xs:element>
                     <xs:element name="status" maxOccurs="unbounded" minOccurs="0">
                        <xs:complexType>
                           <xs:sequence>
                              <xs:element type="xs:string" name="attributeid" maxOccurs="1" minOccurs="0" />
                              <xs:element type="xs:string" name="statuscode" maxOccurs="1" minOccurs="0" />
                              <xs:element type="xs:string" name="datetime" maxOccurs="1" minOccurs="0" />
                              <xs:element type="xs:string" name="logicalsystem" maxOccurs="1" minOccurs="0" />
                           </xs:sequence>
                        </xs:complexType>
                     </xs:element>
                     <xs:element name="configuration" maxOccurs="unbounded" minOccurs="0">
                        <xs:complexType>
                           <xs:sequence>
                              <xs:element name="vmsvehicleattributegroup" maxOccurs="unbounded" minOccurs="0">
                                 <xs:complexType>
                                    <xs:sequence>
                                       <xs:element name="vmsvehicleattribute" maxOccurs="unbounded" minOccurs="0">
                                          <xs:complexType>
                                             <xs:sequence>
                                                <xs:element name="value" maxOccurs="unbounded" minOccurs="0">
                                                   <xs:simpleType>
                                                      <xs:list itemType="xs:string" />
                                                   </xs:simpleType>
                                                </xs:element>
                                                <xs:element type="xs:string" name="uom" maxOccurs="1" minOccurs="0" />
                                                <xs:element type="xs:string" name="minvalue" maxOccurs="1" minOccurs="0" />
                                                <xs:element type="xs:string" name="maxvalue" maxOccurs="1" minOccurs="0" />
                                                <xs:element type="xs:string" name="attributeid" />
                                             </xs:sequence>
                                          </xs:complexType>
                                       </xs:element>
                                       <xs:element type="xs:string" name="attributegroupid" />
                                    </xs:sequence>
                                 </xs:complexType>
                              </xs:element>
                              <xs:element type="xs:string" name="vmsvehicleequipmenttemplate" />
                           </xs:sequence>
                        </xs:complexType>
                     </xs:element>
                     <xs:element name="plannedmaintenanceinterval" maxOccurs="unbounded" minOccurs="0">
                        <xs:complexType>
                           <xs:sequence>
                              <xs:element type="xs:string" name="typecode" maxOccurs="1" minOccurs="0" />
                              <xs:element type="xs:date" name="nextservicedate" maxOccurs="1" minOccurs="0" />
                              <xs:element type="xs:string" name="nextservicecounter" maxOccurs="1" minOccurs="0" />
                              <xs:element type="xs:string" name="uomcode" maxOccurs="1" minOccurs="0" />
                              <xs:element type="xs:string" name="additionaltext" maxOccurs="1" minOccurs="0" />
                              <xs:element type="xs:string" name="sourcesystemid" maxOccurs="1" minOccurs="0" />
                           </xs:sequence>
                        </xs:complexType>
                     </xs:element>
                     <xs:element name="registration" maxOccurs="unbounded" minOccurs="0">
                        <xs:complexType>
                           <xs:sequence>
                              <xs:element type="xs:string" name="licenseplatenumber" maxOccurs="1" minOccurs="0" />
                              <xs:element type="xs:string" name="firstregistration" maxOccurs="1" minOccurs="0" />
                              <xs:element type="xs:date" name="startdate" maxOccurs="1" minOccurs="0" />
                              <xs:element type="xs:string" name="ownerid" maxOccurs="1" minOccurs="0" />
                              <xs:element type="xs:string" name="ownername" maxOccurs="1" minOccurs="0" />
                              <xs:element type="xs:date" name="enddate" maxOccurs="1" minOccurs="0" />
                              <xs:element type="xs:string" name="typecode" maxOccurs="1" minOccurs="0" />                              
                              <xs:element type="xs:string" name="sourcesystemid" maxOccurs="1" minOccurs="0" />
                              <xs:element type="xs:string" name="additionaltext" maxOccurs="1" minOccurs="0" />
                           </xs:sequence>
                        </xs:complexType>
                     </xs:element>
                     <xs:element name="servicecontract" maxOccurs="unbounded" minOccurs="0">
                        <xs:complexType>
                           <xs:sequence>
                              <xs:element type="xs:string" name="contractid" maxOccurs="1" minOccurs="0" />
                              <xs:element type="xs:string" name="contractitemid" maxOccurs="1" minOccurs="0" />
                              <xs:element type="xs:string" name="companyname" maxOccurs="1" minOccurs="0" />
                              <xs:element type="xs:date" name="startdate" maxOccurs="1" minOccurs="0" />
                              <xs:element type="xs:date" name="enddate" maxOccurs="1" minOccurs="0" />
                              <xs:element type="xs:string" name="typecode" maxOccurs="1" minOccurs="0" />
                              <xs:element type="xs:string" name="netvalueamount" maxOccurs="1" minOccurs="0" />
                              <xs:element type="xs:string" name="currency" maxOccurs="1" minOccurs="0" />
                              <xs:element type="xs:string" name="sourcesystemid" maxOccurs="1" minOccurs="0" />
                              <xs:element type="xs:string" name="additionaltext" maxOccurs="1" minOccurs="0" />
                           </xs:sequence>
                        </xs:complexType>
                     </xs:element>
                     <xs:element name="servicehistory" maxOccurs="unbounded" minOccurs="0">
                        <xs:complexType>
                           <xs:sequence>
                              <xs:element type="xs:string" name="serviceordernumber" maxOccurs="1" minOccurs="0" />
                              <xs:element type="xs:string" name="serviceorderitemnumber" maxOccurs="1" minOccurs="0" />
                              <xs:element type="xs:date" name="completiondate" maxOccurs="1" minOccurs="0" />
                              <xs:element type="xs:string" name="typecode" maxOccurs="1" minOccurs="0" />
                              <xs:element type="xs:string" name="suppliername" maxOccurs="1" minOccurs="0" />
                              <xs:element type="xs:string" name="statuscode" maxOccurs="1" minOccurs="0" />
                              <xs:element type="xs:string" name="mileage" maxOccurs="1" minOccurs="0" />
                              <xs:element type="xs:string" name="mileageuomcode" maxOccurs="1" minOccurs="0" />
                              <xs:element type="xs:string" name="additionaltext" maxOccurs="1" minOccurs="0" />
                              <xs:element type="xs:string" name="netamount" maxOccurs="1" minOccurs="0" />
                              <xs:element type="xs:string" name="currency" maxOccurs="1" minOccurs="0" />
                              <xs:element type="xs:string" name="sourcesystemid" maxOccurs="1" minOccurs="0" />
                              <xs:element name="servicehistorypart" maxOccurs="unbounded" minOccurs="0">
                                 <xs:complexType>
                                    <xs:sequence>
                                       <xs:element type="xs:string" name="number" maxOccurs="1" minOccurs="0" />
                                       <xs:element type="xs:string" name="description" maxOccurs="1" minOccurs="0" />
                                       <xs:element type="xs:string" name="quantity" maxOccurs="1" minOccurs="0" />
                                       <xs:element type="xs:string" name="manufacturer" maxOccurs="1" minOccurs="0" />
                                       <xs:element type="xs:string" name="treaddepth" maxOccurs="1" minOccurs="0" />
                                       <xs:element type="xs:string" name="treaddepthuomcode" maxOccurs="1" minOccurs="0" />
                                    </xs:sequence>
                                 </xs:complexType>
                              </xs:element>
                              <xs:element name="businesstransactiondocumentref" maxOccurs="unbounded" minOccurs="0">
                                 <xs:complexType>
                                    <xs:sequence>
                                       <xs:element type="xs:string" name="documenttypecode" maxOccurs="1" minOccurs="0" />
                                       <xs:element type="xs:string" name="documentnumber" maxOccurs="1" minOccurs="0" />
                                       <xs:element type="xs:string" name="documentitemnumber" maxOccurs="1" minOccurs="0" />
                                       <xs:element type="xs:string" name="year" maxOccurs="1" minOccurs="0" />
                                       <xs:element type="xs:date" name="date" maxOccurs="1" minOccurs="0" />
                                    </xs:sequence>
                                 </xs:complexType>
                              </xs:element>
                           </xs:sequence>
                        </xs:complexType>
                     </xs:element>
                     <xs:element name="warranty" maxOccurs="unbounded" minOccurs="0">
                        <xs:complexType>
                           <xs:sequence>
                              <xs:element type="xs:string" name="number" maxOccurs="1" minOccurs="0" />
                              <xs:element type="xs:string" name="typecode" maxOccurs="1" minOccurs="0" />
                              <xs:element type="xs:string" name="periodvalue" maxOccurs="1" minOccurs="0" />
                              <xs:element type="xs:string" name="periodcode" maxOccurs="1" minOccurs="0" />
                              <xs:element type="xs:string" name="uomcode" maxOccurs="1" minOccurs="0" />
                              <xs:element type="xs:date" name="startdate" maxOccurs="1" minOccurs="0" />
                              <xs:element type="xs:string" name="counterfrom" maxOccurs="1" minOccurs="0" />
                              <xs:element type="xs:string" name="counterto" maxOccurs="1" minOccurs="0" />
                              <xs:element type="xs:string" name="providerid" maxOccurs="1" minOccurs="0" />
                              <xs:element type="xs:string" name="providername" maxOccurs="1" minOccurs="0" />
                              <xs:element type="xs:string" name="sourcesystemid" maxOccurs="1" minOccurs="0" />
                              <xs:element type="xs:string" name="additionaltext" maxOccurs="1" minOccurs="0" />
                           </xs:sequence>
                        </xs:complexType>
                     </xs:element>
                  </xs:sequence>
               </xs:complexType>
            </xs:element>
         </xs:sequence>
      </xs:complexType>
   </xs:element>
</xs:schema>