Resources/canonical_library/xsd/XSD_52d8e4045ac6e69d6ba7b712e377fa0981ad9106.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="qualified">
   <xs:element name="root">
      <xs:complexType>
         <xs:sequence>
            <xs:element name="activities" maxOccurs="unbounded" minOccurs="0">
               <xs:complexType>
                  <xs:sequence>
                     <xs:element name="address" minOccurs="0">
                        <xs:complexType>
                           <xs:sequence>
                              <xs:element type="xs:string" name="city" minOccurs="0" />
                              <xs:element type="xs:string" name="country" minOccurs="0" />
                              <xs:element type="xs:string" name="source" minOccurs="0" />
                              <xs:element type="xs:string" name="sourceId" minOccurs="0" />
                              <xs:element type="xs:string" name="state" minOccurs="0" />
                              <xs:element type="xs:string" name="street" minOccurs="0" />
                              <xs:element type="xs:string" name="streetNumber" minOccurs="0" />
                              <xs:element type="xs:string" name="zipCode" minOccurs="0" />
                           </xs:sequence>
                        </xs:complexType>
                     </xs:element>
                     <xs:element type="xs:string" name="code" maxOccurs="unbounded" minOccurs="0" />
                     <xs:element name="contact" maxOccurs="unbounded" minOccurs="0">
                        <xs:complexType>
                           <xs:sequence>
                              <xs:element type="xs:string" name="code" minOccurs="0" />
                              <xs:element type="xs:string" name="externalId" minOccurs="0" />
                              <xs:element type="xs:string" name="id" minOccurs="0" />
                           </xs:sequence>
                        </xs:complexType>
                     </xs:element>
                     <xs:element name="createPerson" minOccurs="0">
                        <xs:complexType>
                           <xs:sequence>
                              <xs:element type="xs:string" name="code" minOccurs="0" />
                              <xs:element type="xs:string" name="externalId" minOccurs="0" />
                              <xs:element type="xs:string" name="id" minOccurs="0" />
                           </xs:sequence>
                        </xs:complexType>
                     </xs:element>
                     <xs:element type="xs:dateTime" name="dueDateTime" minOccurs="0" />
                     <xs:element type="xs:byte" name="durationInMinutes" minOccurs="0" />
                     <xs:element type="xs:dateTime" name="earliestStartDateTime" minOccurs="0" />
                     <xs:element name="equipment" maxOccurs="1" minOccurs="0">
                        <xs:complexType>
                           <xs:sequence>
                              <xs:element type="xs:string" name="code" minOccurs="0" />
                              <xs:element type="xs:string" name="externalId" minOccurs="0" />
                              <xs:element type="xs:string" name="id" minOccurs="0" />
                           </xs:sequence>
                        </xs:complexType>
                     </xs:element>
                     <xs:element name="serviceProduct" maxOccurs="unbounded" minOccurs="0">
                       <xs:complexType>
                          <xs:sequence>
                             <xs:element type="xs:string" name="code" minOccurs="0" />
                             <xs:element type="xs:string" name="externalId" minOccurs="0" />
                             <xs:element type="xs:string" name="id" minOccurs="0" />
                          </xs:sequence>
                       </xs:complexType>
                     </xs:element>
                     <xs:element name="responsibles" maxOccurs="1" minOccurs="0">
                        <xs:complexType>
                            <xs:sequence>
                               <xs:element type="xs:string" name="code" maxOccurs="1" minOccurs="0" />
                               <xs:element type="xs:string" name="externalId" maxOccurs="1" minOccurs="0" />
                               <xs:element type="xs:string" name="id" maxOccurs="1" minOccurs="0" />
                            </xs:sequence>
                        </xs:complexType>
                     </xs:element>
                     <xs:element type="xs:string" name="externalId" minOccurs="0" />
                     <xs:element type="xs:byte" name="lastChanged" minOccurs="0" />
                     <xs:element type="xs:string" name="remarks" minOccurs="0" />
                     <xs:element name="udfValues"  minOccurs="0" maxOccurs="unbounded">
                <xs:complexType mixed="true">
                  <xs:sequence>
                    <xs:element name="udfMeta">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element type="xs:string" name="id"
                            minOccurs="0" maxOccurs="1" />
                          <xs:element type="xs:byte" name="code"
                            minOccurs="0" maxOccurs="1" />
                          <xs:element type="xs:string" name="externalId"
                            minOccurs="0" maxOccurs="1" />
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element type="xs:string" name="value"  minOccurs="0" maxOccurs="1"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
                     <xs:element name="reservedMaterials" maxOccurs="unbounded" minOccurs="0">
                        <xs:complexType>
                           <xs:sequence>
                              <xs:element type="xs:string" name="externalId" minOccurs="0" />
                              <xs:element type="xs:string" name="id" minOccurs="0" />
                              <xs:element name="item" maxOccurs="unbounded" minOccurs="0">
                                 <xs:complexType>
                                    <xs:sequence>
                                       <xs:element type="xs:string" name="code" maxOccurs="unbounded" minOccurs="0" />
                                       <xs:element type="xs:string" name="externalId" maxOccurs="unbounded" minOccurs="0" />
                                       <xs:element type="xs:string" name="id" maxOccurs="unbounded" minOccurs="0" />
                                    </xs:sequence>
                                 </xs:complexType>
                              </xs:element>
                              <xs:element type="xs:byte" name="moved" minOccurs="0" />
                              <xs:element type="xs:byte" name="quantity" minOccurs="0" />
                              <xs:element name="serialNumber" maxOccurs="unbounded" minOccurs="0">
                                 <xs:complexType>
                                    <xs:sequence>
                                       <xs:element type="xs:string" name="code" maxOccurs="unbounded" minOccurs="0" />
                                       <xs:element type="xs:string" name="externalId" maxOccurs="unbounded" minOccurs="0" />
                                       <xs:element type="xs:string" name="id" maxOccurs="unbounded" minOccurs="0" />
                                    </xs:sequence>
                                 </xs:complexType>
                              </xs:element>
                              <xs:element type="xs:byte" name="shipped" minOccurs="0" />
                              <xs:element type="xs:byte" name="used" minOccurs="0" />
                              <xs:element name="warehouse" maxOccurs="unbounded" minOccurs="0">
                                 <xs:complexType>
                                    <xs:sequence>
                                       <xs:element type="xs:string" name="code" maxOccurs="unbounded" minOccurs="0" />
                                       <xs:element type="xs:string" name="externalId" maxOccurs="unbounded" minOccurs="0" />
                                       <xs:element type="xs:string" name="id" maxOccurs="unbounded" minOccurs="0" />
                                    </xs:sequence>
                                 </xs:complexType>
                              </xs:element>
                              <xs:element name="udfValues"  minOccurs="0" maxOccurs="unbounded">
                                <xs:complexType mixed="true">
                                    <xs:sequence>
                                        <xs:element name="udfMeta">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element type="xs:string" name="id"
                                                        minOccurs="0" maxOccurs="1" />
                                                    <xs:element type="xs:byte" name="code"
                                                        minOccurs="0" maxOccurs="1" />
                                                    <xs:element type="xs:string" name="externalId"
                                                        minOccurs="0" maxOccurs="1" />
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element type="xs:string" name="value"  minOccurs="0" maxOccurs="1"/>
                                    </xs:sequence>
                                </xs:complexType>
                              </xs:element>
                           </xs:sequence>
                        </xs:complexType>
                     </xs:element>
                     <xs:element type="xs:string" name="subject" minOccurs="0" />
                  </xs:sequence>
               </xs:complexType>
            </xs:element>
            <xs:element name="address" maxOccurs="unbounded" minOccurs="0">
               <xs:complexType>
                  <xs:sequence>
                     <xs:element type="xs:string" name="city" minOccurs="0" />
                     <xs:element type="xs:string" name="country" minOccurs="0" />
                     <xs:element type="xs:string" name="source" minOccurs="0" />
                     <xs:element type="xs:string" name="sourceId" minOccurs="0" />
                     <xs:element type="xs:string" name="state" minOccurs="0" />
                     <xs:element type="xs:string" name="street" minOccurs="0" />
                     <xs:element type="xs:string" name="streetNumber" minOccurs="0" />
                     <xs:element type="xs:string" name="zipCode" minOccurs="0" />
                  </xs:sequence>
               </xs:complexType>
            </xs:element>
            <xs:element name="businessPartner" maxOccurs="1" minOccurs="0">
               <xs:complexType>
                  <xs:sequence>
                     <xs:element type="xs:string" name="code" minOccurs="0" />
                     <xs:element type="xs:string" name="externalId" minOccurs="0" />
                     <xs:element type="xs:string" name="id" minOccurs="0" />
                  </xs:sequence>
               </xs:complexType>
            </xs:element>
            <xs:element type="xs:string" name="code" minOccurs="0" />
            <xs:element name="contact" maxOccurs="1" minOccurs="0">
               <xs:complexType>
                  <xs:sequence>
                     <xs:element type="xs:string" name="code" minOccurs="0" />
                     <xs:element type="xs:string" name="externalId" minOccurs="0" />
                     <xs:element type="xs:string" name="id" minOccurs="0" />
                  </xs:sequence>
               </xs:complexType>
            </xs:element>
            <xs:element name="createPerson" minOccurs="0">
               <xs:complexType>
                  <xs:sequence>
                     <xs:element type="xs:string" name="code" minOccurs="0" />
                     <xs:element type="xs:string" name="externalId" minOccurs="0" />
                     <xs:element type="xs:string" name="id" minOccurs="0" />
                  </xs:sequence>
               </xs:complexType>
            </xs:element>
            <xs:element type="xs:dateTime" name="dueDateTime" minOccurs="0" />
            <xs:element type="xs:byte" name="durationInMinutes" minOccurs="0" />
            <xs:element type="xs:dateTime" name="earliestStartDateTime" minOccurs="0" />
            <xs:element name="equipments" maxOccurs="unbounded" minOccurs="0">
               <xs:complexType>
                  <xs:sequence>
                     <xs:element type="xs:string" name="code" maxOccurs="unbounded" minOccurs="0" />
                     <xs:element type="xs:string" name="externalId" maxOccurs="unbounded" minOccurs="0" />
                     <xs:element type="xs:string" name="id" maxOccurs="unbounded" minOccurs="0" />
                  </xs:sequence>
               </xs:complexType>
            </xs:element>
            <xs:element type="xs:string" name="externalId" minOccurs="0" />
            <xs:element type="xs:string" name="id" minOccurs="0" />
            <xs:element type="xs:byte" name="lastChanged" minOccurs="0" />
            <xs:element type="xs:string" name="origin" minOccurs="0" />
            <xs:element type="xs:string" name="priority" minOccurs="0" />
            <xs:element type="xs:string" name="problemType" minOccurs="0" />
            <xs:element type="xs:string" name="typeCode" minOccurs="0" />
            <xs:element type="xs:string" name="remarks" minOccurs="0" />
            <xs:element name="reservedMaterials" maxOccurs="unbounded" minOccurs="0">
               <xs:complexType>
                  <xs:sequence>
                     <xs:element type="xs:string" name="externalId" minOccurs="0" />
                     <xs:element type="xs:string" name="id" minOccurs="0" />
                     <xs:element name="item" maxOccurs="unbounded" minOccurs="0">
                        <xs:complexType>
                           <xs:sequence>
                              <xs:element type="xs:string" name="code" maxOccurs="unbounded" minOccurs="0" />
                              <xs:element type="xs:string" name="externalId" maxOccurs="unbounded" minOccurs="0" />
                              <xs:element type="xs:string" name="id" maxOccurs="unbounded" minOccurs="0" />
                           </xs:sequence>
                        </xs:complexType>
                     </xs:element>
                     <xs:element type="xs:byte" name="moved" minOccurs="0" />
                     <xs:element type="xs:byte" name="quantity" minOccurs="0" />
                     <xs:element name="serialNumber" maxOccurs="unbounded" minOccurs="0">
                        <xs:complexType>
                           <xs:sequence>
                              <xs:element type="xs:string" name="code" maxOccurs="unbounded" minOccurs="0" />
                              <xs:element type="xs:string" name="externalId" maxOccurs="unbounded" minOccurs="0" />
                              <xs:element type="xs:string" name="id" maxOccurs="unbounded" minOccurs="0" />
                           </xs:sequence>
                        </xs:complexType>
                     </xs:element>
                     <xs:element type="xs:byte" name="shipped" minOccurs="0" />
                     <xs:element type="xs:byte" name="used" minOccurs="0" />
                     <xs:element name="warehouse" maxOccurs="unbounded" minOccurs="0">
                        <xs:complexType>
                           <xs:sequence>
                              <xs:element type="xs:string" name="code" maxOccurs="unbounded" minOccurs="0" />
                              <xs:element type="xs:string" name="externalId" maxOccurs="unbounded" minOccurs="0" />
                              <xs:element type="xs:string" name="id" maxOccurs="unbounded" minOccurs="0" />
                           </xs:sequence>
                        </xs:complexType>
                     </xs:element>
                     <xs:element name="udfValues"  minOccurs="0" maxOccurs="unbounded">
                        <xs:complexType mixed="true">
                            <xs:sequence>
                                <xs:element name="udfMeta">
                                    <xs:complexType>
                                        <xs:sequence>
                                            <xs:element type="xs:string" name="id"
                                                minOccurs="0" maxOccurs="1" />
                                            <xs:element type="xs:byte" name="code"
                                                minOccurs="0" maxOccurs="1" />
                                            <xs:element type="xs:string" name="externalId"
                                                minOccurs="0" maxOccurs="1" />
                                        </xs:sequence>
                                    </xs:complexType>
                                </xs:element>
                                <xs:element type="xs:string" name="value"  minOccurs="0" maxOccurs="1"/>
                            </xs:sequence>
                        </xs:complexType>
                     </xs:element>
                  </xs:sequence>
               </xs:complexType>
            </xs:element>
            <xs:element type="xs:string" name="resolution" minOccurs="0" />
            <xs:element name="responsibles" maxOccurs="1" minOccurs="0">
               <xs:complexType>
                  <xs:sequence>
                     <xs:element type="xs:string" name="code" maxOccurs="1" minOccurs="0" />
                     <xs:element type="xs:string" name="externalId" maxOccurs="1" minOccurs="0" />
                     <xs:element type="xs:string" name="id" maxOccurs="1" minOccurs="0" />
                  </xs:sequence>
               </xs:complexType>
            </xs:element>
         
              <xs:element name="udfValues"  minOccurs="0" maxOccurs="unbounded">
                <xs:complexType mixed="true">
                  <xs:sequence>
                    <xs:element name="udfMeta">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element type="xs:string" name="id"
                            minOccurs="0" maxOccurs="1" />
                          <xs:element type="xs:byte" name="code"
                            minOccurs="0" maxOccurs="1" />
                          <xs:element type="xs:string" name="externalId"
                            minOccurs="0" maxOccurs="1" />
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element type="xs:string" name="value"  minOccurs="0" maxOccurs="1"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            <xs:element type="xs:string" name="status" minOccurs="0" />
             <xs:element type="xs:string" name="type" minOccurs="0" />
            <xs:element type="xs:string" name="subject" minOccurs="0" />
         </xs:sequence>
      </xs:complexType>
   </xs:element>
</xs:schema>