Resources/canonical_library/xsd/XSD_ded1bd8c6e2473b0f1f58cb60217b127650d78e4.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="root">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="error">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="code" type="xs:string" />
              <xs:element name="message">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="lang" type="xs:string" />
                    <xs:element name="value" type="xs:string" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="innererror">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="application">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="component_id" type="xs:string" />
                          <xs:element name="service_namespace" type="xs:string" />
                          <xs:element name="service_id" type="xs:string" />
                          <xs:element name="service_version" type="xs:unsignedByte" />
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="transactionid" type="xs:string" />
                    <xs:element name="timestamp" type="xs:decimal" />
                    <xs:element name="Error_Resolution">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="SAP_Transaction" type="xs:string" />
                          <xs:element name="SAP_Note" type="xs:string" />
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element maxOccurs="unbounded" name="errordetails">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="code" type="xs:string" />
                          <xs:element name="message" type="xs:string" />
                          <xs:element name="propertyref" />
                          <xs:element name="severity" type="xs:string" />
                          <xs:element name="transition" type="xs:boolean" />
                          <xs:element name="target" />
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>