Resources/canonical_library/xsd/XSD_98e1bf1c14dd35c8ecbf2f1de037ec30f8fbf6af.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="root">
    <xs:complexType>
      <xs:sequence>
      	<xs:element type="xs:string" name="eventid"/>
    	<xs:element type="xs:string" name="totalregistrants"/>
      	<xs:element name="registrants" minOccurs="0" maxOccurs="unbounded">
   	  	<xs:complexType>
      	<xs:sequence>
              <xs:element type="xs:string" name="firstname" minOccurs="0" maxOccurs="1"/>
              <xs:element type="xs:string" name="lastname" minOccurs="0" maxOccurs="1"/>
              <xs:element type="xs:string" name="email" minOccurs="0" maxOccurs="1"/>
              <xs:element type="xs:string" name="company" minOccurs="0" maxOccurs="1"/>
              <xs:element type="xs:string" name="jobtitle"/>
              <xs:element type="xs:string" name="addressstreet1"/>
              <xs:element type="xs:string" name="addressstreet2"/>
              <xs:element type="xs:string" name="city"/>
              <xs:element type="xs:string" name="state"/>
              <xs:element type="xs:string" name="zip"/>
              <xs:element type="xs:string" name="country"/>
              <xs:element type="xs:string" name="homephone" minOccurs="0" maxOccurs="1"/>
              <xs:element type="xs:string" name="workphone" minOccurs="0" maxOccurs="1"/>
              <xs:element type="xs:string" name="fax"/>
              <xs:element type="xs:string" name="username"/>
              <xs:element type="xs:string" name="userstatus" minOccurs="0" maxOccurs="1"/>
              <xs:element type="xs:string" name="exteventusercd"/>
			  <xs:element type="xs:string" name="other"/>
			  <xs:element type="xs:string" name="notes"/>
			  <xs:element type="xs:string" name="jobfunction"/>
			  <xs:element type="xs:string" name="companyindustry"/>
			  <xs:element type="xs:string" name="companysize"/>
			  <xs:element type="xs:string" name="partnerref"/>
			  <xs:element type="xs:string" name="eventid"/>
			  <xs:element type="xs:string" name="eventuserid"/>
			  <xs:element type="xs:string" name="std1"/>
			  <xs:element type="xs:string" name="std2"/>
			  <xs:element type="xs:string" name="std3"/>
			  <xs:element type="xs:string" name="std4"/>
			  <xs:element type="xs:string" name="std5"/>
			  <xs:element type="xs:string" name="std6"/>
			  <xs:element type="xs:string" name="std7"/>
			  <xs:element type="xs:string" name="std8"/>
			  <xs:element type="xs:string" name="std9"/>
			  <xs:element type="xs:string" name="std10"/>
			  <xs:element type="xs:string" name="marketingemail"/>
			  <xs:element type="xs:string" name="eventemail"/>
			  <xs:element type="xs:string" name="userprofileurl"/>
			  <xs:element type="xs:string" name="createtimestamp" minOccurs="0" maxOccurs="1"/>
			  <xs:element type="xs:string" name="engagementprediction"/>
			  <xs:element type="xs:string" name="ipaddress"/>
			  <xs:element type="xs:string" name="os"/>
			  <xs:element type="xs:string" name="browser"/>
			  <xs:element type="xs:string" name="emailformat"/>
			  <xs:element type="xs:string" name="campaigncode"/>
			  <xs:element type="xs:string" name="sourcecampaigncode"/>
		 </xs:sequence>
    	</xs:complexType>
  		</xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>