Resources/canonical_library/xsd/XSD_388dcc27fb4de0f961b12ca832f454dbe2e9906a.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="root">
    <xs:complexType>
      <xs:sequence>
        <xs:element type="xs:string" name="notificationType"/>
        <xs:element type="xs:string" name="material"/>
        <xs:element type="xs:short" name="plant"/>
        <xs:element type="xs:byte" name="quantity"/>
        <xs:element type="xs:string" name="unitCode"/>
        <xs:element type="xs:string" name="defectDescription"/>
        <xs:element type="xs:string" name="subjectDescription"/>
		<xs:element type="xs:string" name="referenceNumber"/>
        <xs:element name="supplierDetails">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="code"/>
              <xs:element type="xs:string" name="role"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="personDetails">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="code"/>
              <xs:element type="xs:string" name="role"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element type="xs:byte" name="defectCode"/>
        <xs:element type="xs:string" name="defectCodeGroup"/>
        <xs:element type="xs:byte" name="subjectCode"/>
        <xs:element type="xs:string" name="subjectCodeGroup"/>
        <xs:element type="xs:long" name="purchaseOrderNumber"/>
        <xs:element type="xs:byte" name="purchaseOrderItem"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>