Resources/canonical_library/xsd/XSD_41e43a5bfd0fcdecdc5d5b1074a187981716b0b9.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- Created with Liquid Technologies Online Tools 1.0 (https://www.liquid-technologies.com) -->
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="root" minOccurs="0">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="data" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="orders" minOccurs="0">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="edges" minOccurs="0">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="node" minOccurs="0">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="id" type="xs:string" minOccurs="0" />
                                <xs:element name="name" type="xs:string" minOccurs="0" />
                                <xs:element name="createdAt" type="xs:dateTime" minOccurs="0" />
                                <xs:element name="updatedAt" type="xs:dateTime" minOccurs="0" />
                                <xs:element name="currencyCode" type="xs:string" minOccurs="0" />
                                <xs:element name="totalDiscountsSet" minOccurs="0">
                                  <xs:complexType>
                                    <xs:sequence>
                                      <xs:element name="shopMoney" minOccurs="0">
                                        <xs:complexType>
                                          <xs:sequence>
                                            <xs:element name="amount" type="xs:decimal" minOccurs="0" />
                                            <xs:element name="currencyCode" type="xs:string" minOccurs="0" />
                                          </xs:sequence>
                                        </xs:complexType>
                                      </xs:element>
                                    </xs:sequence>
                                  </xs:complexType>
                                </xs:element>
                                <xs:element name="shippingLine" minOccurs="0">
                                  <xs:complexType>
                                    <xs:sequence>
                                      <xs:element name="originalPriceSet" minOccurs="0">
                                        <xs:complexType>
                                          <xs:sequence>
                                            <xs:element name="presentmentMoney" minOccurs="0">
                                              <xs:complexType>
                                                <xs:sequence>
                                                  <xs:element name="amount" type="xs:decimal" minOccurs="0" />
                                                  <xs:element name="currencyCode" type="xs:string" minOccurs="0" />
                                                </xs:sequence>
                                              </xs:complexType>
                                            </xs:element>
                                          </xs:sequence>
                                        </xs:complexType>
                                      </xs:element>
                                    </xs:sequence>
                                  </xs:complexType>
                                </xs:element>
                                <xs:element name="currentTotalPriceSet" minOccurs="0">
                                  <xs:complexType>
                                    <xs:sequence>
                                      <xs:element name="presentmentMoney" minOccurs="0">
                                        <xs:complexType>
                                          <xs:sequence>
                                            <xs:element name="amount" type="xs:decimal" minOccurs="0" />
                                            <xs:element name="currencyCode" type="xs:string" minOccurs="0" />
                                          </xs:sequence>
                                        </xs:complexType>
                                      </xs:element>
                                    </xs:sequence>
                                  </xs:complexType>
                                </xs:element>
                                <xs:element name="transactions" minOccurs="0">
                                  <xs:complexType>
                                    <xs:sequence>
                                      <xs:element name="id" type="xs:string" minOccurs="0" />
                                      <xs:element name="amountSet" minOccurs="0">
                                        <xs:complexType>
                                          <xs:sequence>
                                            <xs:element name="presentmentMoney" minOccurs="0">
                                              <xs:complexType>
                                                <xs:sequence>
                                                  <xs:element name="amount" type="xs:decimal" minOccurs="0" />
                                                  <xs:element name="currencyCode" type="xs:string" minOccurs="0" />
                                                </xs:sequence>
                                              </xs:complexType>
                                            </xs:element>
                                          </xs:sequence>
                                        </xs:complexType>
                                      </xs:element>
                                      <xs:element name="status" type="xs:string" minOccurs="0" />
                                      <xs:element name="gateway" type="xs:string" minOccurs="0" />
                                      <xs:element name="kind" type="xs:string" minOccurs="0" />
                                      <xs:element name="createdAt" type="xs:dateTime" minOccurs="0" />
                                      <xs:element name="paymentId" type="xs:string" minOccurs="0" />
                                    </xs:sequence>
                                  </xs:complexType>
                                </xs:element>
                                <xs:element name="shippingAddress" minOccurs="0">
                                  <xs:complexType>
                                    <xs:sequence>
                                      <xs:element name="address1" type="xs:string" minOccurs="0" />
                                      <xs:element name="name" type="xs:string" minOccurs="0" />
                                      <xs:element name="lastName" type="xs:string" minOccurs="0" />
                                      <xs:element name="city" type="xs:string" minOccurs="0" />
                                      <xs:element name="company" type="xs:string" minOccurs="0" />
                                      <xs:element name="countryCodeV2" type="xs:string" minOccurs="0" />
                                      <xs:element name="zip" type="xs:unsignedShort" minOccurs="0" />
                                      <xs:element name="phone" type="xs:unsignedLong" minOccurs="0" />
                                      <xs:element name="province" type="xs:string" minOccurs="0" />
                                    </xs:sequence>
                                  </xs:complexType>
                                </xs:element>
                                <xs:element name="billingAddress" minOccurs="0">
                                  <xs:complexType>
                                    <xs:sequence>
                                      <xs:element name="id" type="xs:string" minOccurs="0" />
                                      <xs:element name="address1" type="xs:string" minOccurs="0" />
                                      <xs:element name="name" type="xs:string" minOccurs="0" />
                                      <xs:element name="lastName" type="xs:string" minOccurs="0" />
                                      <xs:element name="city" type="xs:string" minOccurs="0" />
                                      <xs:element name="company" type="xs:string" minOccurs="0" />
                                      <xs:element name="countryCodeV2" type="xs:string" minOccurs="0" />
                                      <xs:element name="phone" type="xs:unsignedLong" minOccurs="0" />
                                      <xs:element name="province" type="xs:string" minOccurs="0" />
                                      <xs:element name="zip" type="xs:unsignedShort" minOccurs="0" />
                                    </xs:sequence>
                                  </xs:complexType>
                                </xs:element>
                                <xs:element name="customer" minOccurs="0">
                                  <xs:complexType>
                                    <xs:sequence>
                                      <xs:element name="id" type="xs:string" minOccurs="0" />
                                      <xs:element name="displayName" type="xs:string" minOccurs="0" />
                                      <xs:element name="updatedAt" type="xs:dateTime" minOccurs="0" />
                                      <xs:element name="email" type="xs:string" minOccurs="0" />
                                      <xs:element name="defaultAddress" minOccurs="0">
                                        <xs:complexType>
                                          <xs:sequence>
                                            <xs:element name="countryCodeV2" type="xs:string" minOccurs="0" />
                                            <xs:element name="zip" type="xs:unsignedShort" minOccurs="0" />
                                            <xs:element name="city" type="xs:unsignedByte" minOccurs="0" />
                                            <xs:element name="address1" type="xs:unsignedByte" minOccurs="0" />
                                            <xs:element name="address2" type="xs:unsignedByte" minOccurs="0" />
                                          </xs:sequence>
                                        </xs:complexType>
                                      </xs:element>
                                      <xs:element name="locale" type="xs:string" minOccurs="0" />
                                      <xs:element maxOccurs="unbounded" name="addresses" minOccurs="0">
                                        <xs:complexType>
                                          <xs:sequence>
                                            <xs:element name="id" type="xs:string" minOccurs="0" />
                                            <xs:element name="address1" type="xs:string" minOccurs="0" />
                                            <xs:element name="address2" type="xs:string" minOccurs="0" />
                                            <xs:element name="city" type="xs:string" minOccurs="0" />
                                            <xs:element name="zip" type="xs:string" minOccurs="0" />
                                            <xs:element name="countryCodeV2" type="xs:string" minOccurs="0" />
                                          </xs:sequence>
                                        </xs:complexType>
                                      </xs:element>
                                      <xs:element name="taxExempt" type="xs:boolean" minOccurs="0" />
                                      <xs:element name="metafield" minOccurs="0">
                                        <xs:complexType>
                                          <xs:sequence>
                                            <xs:element name="value" type="xs:unsignedInt" minOccurs="0" />
                                            <xs:element name="key" type="xs:string" minOccurs="0" />
                                          </xs:sequence>
                                        </xs:complexType>
                                      </xs:element>
                                    </xs:sequence>
                                  </xs:complexType>
                                </xs:element>
                                <xs:element name="lineItems" minOccurs="0">
                                  <xs:complexType>
                                    <xs:sequence>
                                      <xs:element maxOccurs="unbounded" name="edges" minOccurs="0">
                                        <xs:complexType>
                                          <xs:sequence>
                                            <xs:element name="node" minOccurs="0">
                                              <xs:complexType>
                                                <xs:sequence>
                                                  <xs:element name="id" type="xs:string" minOccurs="0" />
                                                  <xs:element name="quantity" type="xs:unsignedByte" minOccurs="0" />
                                                  <xs:element name="title" type="xs:string" minOccurs="0" />
                                                  <xs:element name="vendor" type="xs:string" minOccurs="0" />
                                                  <xs:element name="sku" minOccurs="0" />
                                                  <xs:element name="originalUnitPriceSet" minOccurs="0">
                                                    <xs:complexType>
                                                      <xs:sequence>
                                                        <xs:element name="shopMoney" minOccurs="0">
                                                          <xs:complexType>
                                                            <xs:sequence>
                                                              <xs:element name="amount" type="xs:decimal" minOccurs="0" />
                                                              <xs:element name="currencyCode" type="xs:string" minOccurs="0" />
                                                            </xs:sequence>
                                                          </xs:complexType>
                                                        </xs:element>
                                                      </xs:sequence>
                                                    </xs:complexType>
                                                  </xs:element>
                                                  <xs:element minOccurs="0" name="discountAllocations">
                                                    <xs:complexType>
                                                      <xs:sequence>
                                                        <xs:element name="allocatedAmountSet" minOccurs="0">
                                                          <xs:complexType>
                                                            <xs:sequence>
                                                              <xs:element name="shopMoney" minOccurs="0">
                                                                <xs:complexType>
                                                                  <xs:sequence>
                                                                    <xs:element name="amount" type="xs:decimal" minOccurs="0" />
                                                                    <xs:element name="currencyCode" type="xs:string" minOccurs="0" />
                                                                  </xs:sequence>
                                                                </xs:complexType>
                                                              </xs:element>
                                                            </xs:sequence>
                                                          </xs:complexType>
                                                        </xs:element>
                                                      </xs:sequence>
                                                    </xs:complexType>
                                                  </xs:element>
                                                  <xs:element minOccurs="0" name="taxLines">
                                                    <xs:complexType>
                                                      <xs:sequence>
                                                        <xs:element name="rate" type="xs:decimal" minOccurs="0" />
                                                        <xs:element name="ratePercentage" type="xs:unsignedByte" minOccurs="0" />
                                                        <xs:element name="title" type="xs:string" minOccurs="0" />
                                                      </xs:sequence>
                                                    </xs:complexType>
                                                  </xs:element>
                                                </xs:sequence>
                                              </xs:complexType>
                                            </xs:element>
                                          </xs:sequence>
                                        </xs:complexType>
                                      </xs:element>
                                    </xs:sequence>
                                  </xs:complexType>
                                </xs:element>
                                <xs:element name="metafield" minOccurs="0">
                                  <xs:complexType>
                                    <xs:sequence>
                                      <xs:element name="value" type="xs:unsignedInt" minOccurs="0" />
                                      <xs:element name="key" type="xs:string" minOccurs="0" />
                                    </xs:sequence>
                                  </xs:complexType>
                                </xs:element>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="pageInfo" minOccurs="0">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="hasNextPage" type="xs:boolean" minOccurs="0" />
                          <xs:element name="endCursor" type="xs:string" minOccurs="0" />
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="extensions" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="cost" minOccurs="0">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="requestedQueryCost" type="xs:unsignedByte" minOccurs="0" />
                    <xs:element name="actualQueryCost" type="xs:unsignedByte" minOccurs="0" />
                    <xs:element name="throttleStatus" minOccurs="0">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="maximumAvailable" type="xs:unsignedShort" minOccurs="0" />
                          <xs:element name="currentlyAvailable" type="xs:unsignedShort" minOccurs="0" />
                          <xs:element name="restoreRate" type="xs:unsignedByte" minOccurs="0" />
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="search" minOccurs="0">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="path" type="xs:string" minOccurs="0" />
                    <xs:element name="query" type="xs:unsignedLong" minOccurs="0" />
                    <xs:element name="parsed" minOccurs="0">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="field" type="xs:string" minOccurs="0" />
                          <xs:element name="match_all" type="xs:unsignedLong" minOccurs="0" />
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>