Resources/canonical_library/xsd/XSD_e5e284d4ea7e6b17d8a676eaa083ae9f754386df.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="root">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="d">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="treasuryPaymentRequestDetails">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="companyCode" minOccurs="0" maxOccurs="unbounded" type="xs:string" />
										<xs:element name="transactionId" minOccurs="0" maxOccurs="1" type="xs:string" />
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>