Resources/canonical_library/xsd/XSD_74db3b9d9cd940e3668dc80dde0da4faa4f139c6.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="root">
    <xs:complexType>
      <xs:sequence>
        <xs:element type="xs:string" name="field"/>
        <xs:element type="xs:string" name="fname"/>
        <xs:element type="xs:string" name="lname"/>
        <xs:element type="xs:byte" name="maxRow"/>
        <xs:element type="xs:string" name="parameter"/>
        <xs:element type="xs:string" name="userId"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>