Resources/canonical_library/xsd/XSD_058b7314dd09fc4ccf08a1459d01ad688d68ebd9.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- Created with Liquid Technologies Online Tools 1.0 (https://www.liquid-technologies.com) -->
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="root">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="callId" type="xs:string" />
        <xs:element name="errorCode" type="xs:unsignedByte" />
        <xs:element name="apiVersion" type="xs:unsignedByte" />
        <xs:element name="statusCode" type="xs:unsignedByte" />
        <xs:element name="statusReason" type="xs:string" />
        <xs:element name="time" type="xs:dateTime" />
        <xs:element maxOccurs="unbounded" name="siteConsentDetails">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="isActive" type="xs:boolean" />
              <xs:element name="isMandatory" type="xs:boolean" />
              <xs:element name="customData">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="key" type="xs:string" />
                    <xs:element name="value" type="xs:string" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="consentVaultRetentionPeriod" type="xs:unsignedByte" />
              <xs:element minOccurs="0" name="defaultLang" type="xs:string" />
              <xs:element maxOccurs="unbounded" name="legalStatements">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element minOccurs="0" name="purpose" type="xs:string" />
                    <xs:element name="currentDocVersion" type="xs:unsignedByte" />
                    <xs:element name="minDocVersion" type="xs:unsignedByte" />
                    <xs:element name="language" type="xs:string" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="id" type="xs:string" />
              <xs:element name="site" type="xs:string" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
