Resources/canonical_library/xsd/XSD_e175d9f4680bae76a110e7cbbd4437e646c84f70.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="root">
    <xs:complexType>
      <xs:sequence>
        <xs:element type="xs:byte" name="apiVersion"/>
        <xs:element type="xs:string" name="callId"/>
        <xs:element type="xs:byte" name="errorCode"/>
        <xs:element name="preferencesSchema">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="fields" maxOccurs="unbounded" minOccurs="0">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:float" name="currentDocVersion" minOccurs="0"/>
                    <xs:element type="xs:dateTime" name="currentDocDate" minOccurs="0"/>
                    <xs:element name="customData" maxOccurs="unbounded" minOccurs="0">
                      <xs:complexType mixed="true">
                        <xs:sequence>
                          <xs:element type="xs:string" name="key" minOccurs="0"/>
                          <xs:element type="xs:string" name="value" minOccurs="0"/>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element type="xs:string" name="format" minOccurs="0"/>
                    <xs:element type="xs:string" name="id"/>
                    <xs:element name="legalStatements" minOccurs="0">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="en">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element type="xs:string" name="purpose"/>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element type="xs:float" name="minDocVersion" minOccurs="0"/>
                    <xs:element type="xs:dateTime" name="minDocDate" minOccurs="0"/>
                    <xs:element type="xs:string" name="required"/>
                    <xs:element type="xs:string" name="type"/>
                    <xs:element type="xs:string" name="writeAccess"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element type="xs:short" name="statusCode"/>
        <xs:element type="xs:string" name="statusReason"/>
        <xs:element type="xs:dateTime" name="time"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>