Resources/canonical_library/xsd/XSD_07c501ee28b6e7414112a7d15c7108392b359b76.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="root">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="fsm_header">
					<xs:complexType>
						<xs:sequence>
							<xs:element maxOccurs="1" minOccurs="0" name="x-message-id" type="xs:string"/>
							<xs:element maxOccurs="1" minOccurs="0" name="x-account-id" type="xs:float"/>
							<xs:element maxOccurs="1" minOccurs="0" name="x-company-id" type="xs:float"/>
							<xs:element maxOccurs="1" minOccurs="0" name="x-account-name" type="xs:string"/>
							<xs:element maxOccurs="1" minOccurs="0" name="x-company-name" type="xs:string"/>
							<xs:element maxOccurs="1" minOccurs="0" name="C4C_tenant_ID" type="xs:string"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="fsm_body">
					<xs:complexType>
						<xs:sequence>
							<xs:element maxOccurs="1" minOccurs="0" name="eventType" type="xs:string"/>
							<xs:element maxOccurs="1" minOccurs="0" name="eventTypeVersion" type="xs:float"/>
							<xs:element maxOccurs="1" minOccurs="0" name="cloudEventsVersion" type="xs:float"/>
							<xs:element maxOccurs="1" minOccurs="0" name="source" type="xs:string"/>
							<xs:element maxOccurs="1" minOccurs="0" name="eventID" type="xs:string"/>
							<xs:element maxOccurs="1" minOccurs="0" name="eventTime" type="xs:dateTime"/>
							<xs:element maxOccurs="1" minOccurs="0" name="contentType" type="xs:string"/>
							<xs:element maxOccurs="1" minOccurs="0" name="extensions">
								<xs:complexType>
									<xs:sequence>
										<xs:element maxOccurs="1" minOccurs="0" name="traceId" type="xs:string"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element maxOccurs="1" minOccurs="0" name="data">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="contact">
											<xs:complexType>
												<xs:sequence>
													<xs:element maxOccurs="1" minOccurs="0" name="birthDate" type="xs:date"/>
													<xs:element maxOccurs="1" minOccurs="0" name="code" type="xs:string"/>
													<xs:element maxOccurs="1" minOccurs="0" name="externalId" type="xs:string"/>
													<xs:element maxOccurs="1" minOccurs="0" name="defaultContact" type="xs:boolean"/>
													<xs:element maxOccurs="1" minOccurs="0" name="title" type="xs:string"/>
													<xs:element maxOccurs="1" minOccurs="0" name="firstName" type="xs:string"/>
													<xs:element maxOccurs="1" minOccurs="0" name="lastName" type="xs:string"/>
													<xs:element maxOccurs="1" minOccurs="0" name="gender" type="xs:string"/>
													<xs:element maxOccurs="1" minOccurs="0" name="inactive" type="xs:string"/>
													<xs:element maxOccurs="1" minOccurs="0" name="mobilePhone" type="xs:string"/>
													<xs:element maxOccurs="1" minOccurs="0" name="emailAddress" type="xs:string"/>
													<xs:element maxOccurs="1" minOccurs="0" name="fax" type="xs:string"/>
													<xs:element maxOccurs="1" minOccurs="0" name="id" type="xs:string"/>
													<xs:element maxOccurs="1" minOccurs="0" name="officePhone" type="xs:string"/>
													<xs:element maxOccurs="1" minOccurs="0" name="otherPhone" type="xs:string"/>
													<xs:element maxOccurs="1" minOccurs="0" name="positionName" type="xs:string"/>
													<xs:element maxOccurs="1" minOccurs="0" name="profession" type="xs:string"/>
													<xs:element maxOccurs="1" minOccurs="0" name="remarks" type="xs:string"/>
													<xs:element maxOccurs="1" minOccurs="0" name="skypeName" type="xs:string"/>
													<xs:element maxOccurs="1" minOccurs="0" name="remarks2" type="xs:string"/>
													<xs:element maxOccurs="1" minOccurs="0" name="object">
														<xs:complexType>
															<xs:sequence>
																<xs:element maxOccurs="1" minOccurs="0" name="objectId">
																	<xs:complexType>
																		<xs:sequence>
																			<xs:element maxOccurs="1" minOccurs="0" name="externalId" type="xs:string"/>
																			<xs:element maxOccurs="1" minOccurs="0" name="id" type="xs:string"/>
																		</xs:sequence>
																	</xs:complexType>
																</xs:element>
																<xs:element maxOccurs="1" minOccurs="0" name="objectType" type="xs:string"/>
															</xs:sequence>
														</xs:complexType>
													</xs:element>
													<xs:element maxOccurs="1" minOccurs="0" name="createPerson">
														<xs:complexType>
															<xs:sequence>
																<xs:element maxOccurs="1" minOccurs="0" name="id" type="xs:string"/>
															</xs:sequence>
														</xs:complexType>
													</xs:element>
													<xs:element maxOccurs="1" minOccurs="0" name="phone">
														<xs:complexType>
															<xs:sequence>
																<xs:element maxOccurs="unbounded" minOccurs="0" name="number">
																	<xs:complexType>
									                                    <xs:attribute name="type" type="xs:string" maxOccurs="1" minOccurs="0" />
									                                    <xs:attribute name="code" type="xs:string" maxOccurs="1" minOccurs="0" />
									                                    <xs:attribute name="value" type="xs:unsignedInt" maxOccurs="1" minOccurs="0" />
									                                </xs:complexType>
																</xs:element>
															</xs:sequence>
														</xs:complexType>
													</xs:element>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>