Resources/canonical_library/xsd/XSD_7a4a514f9e8e0682572c13bff5e5a3ce0295ef81.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="root">
    <xs:complexType mixed="true">
      <xs:sequence>
        
              <xs:element name="MarkupPrice" minOccurs="0" />
              <xs:element name="SalesOrganisation" minOccurs="0"  />
              <xs:element name="Plant" minOccurs="0" />
              <xs:element name="DistributionChannel" minOccurs="0" />
              <xs:element name="Material" minOccurs="0" />
              <xs:element name="PlantGroup" minOccurs="0" />
              <xs:element name="Pricelist" minOccurs="0" />
              <xs:element name="ValidityFrom" minOccurs="0" />
              <xs:element name="ValidityTo" minOccurs="0" />
              <xs:element name="PurchasePriceDeterminationSeq" minOccurs="0" />
              <xs:element name="SalesPriceDeterminationSeq" minOccurs="0"  />
              <xs:element name="FinalPrice" minOccurs="0" />
              <xs:element name="GrossPrice" minOccurs="0" />
              <xs:element name="MarginGrossPrice" minOccurs="0" />
              <xs:element name="CurrentPrice" minOccurs="0" />
              <xs:element name="Currency" minOccurs="0" />
              <xs:element name="PurchasePrice" minOccurs="0" />
              <xs:element name="UnitofMeasurement" minOccurs="0" />
        
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>