Resources/canonical_library/xsd/XSD_026eafbc400b0f95ce349dee66e0b4517c0fcc7e.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- Created with Liquid Technologies Online Tools 1.0 (https://www.liquid-technologies.com) -->
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="root">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="MarketingScore" type="xs:string" />
        <xs:element name="MarketingScoreModel" type="xs:unsignedShort" />
        <xs:element maxOccurs="unbounded" name="ScoreValues">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="MarketingScoreDateTime" type="xs:dateTime" />
              <xs:element name="MarketingScoreValue" type="xs:unsignedByte" />
              <xs:element name="MarketingScoredObjectID" type="xs:unsignedInt" />
              <xs:element name="MarketingScoredObjectOrigin" type="xs:string" />
              <xs:element name="MarketingScoredObjectUUID" type="xs:string" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>