Resources/canonical_library/xsd/XSD_d300ead15a00c60b421603e37e017aa632b542c3.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
<xs:element name="root">
<xs:complexType>
<xs:sequence>
	<xs:element type="xs:string" name="eventType" minOccurs="0"/>
	<xs:element type="xs:string" name="eventTypeVersion" minOccurs="0"/>
	<xs:element type="xs:string" name="cloudEventsVersion" minOccurs="0"/>
	<xs:element type="xs:string" name="source" minOccurs="0"/>
	<xs:element type="xs:string" name="eventID" minOccurs="0"/>
	<xs:element type="xs:string" name="eventTime" minOccurs="0"/>
	<xs:element type="xs:string" name="contentType" minOccurs="0"/>

	<xs:element name="extensions" maxOccurs="1" minOccurs="0">
	<xs:complexType>
	<xs:sequence>
		<xs:element type="xs:string" name="traceId" minOccurs="0"/>
	</xs:sequence>
	</xs:complexType>
	</xs:element>

	<xs:element name="data" maxOccurs="1" minOccurs="0">
	<xs:complexType>
	<xs:sequence>
		<xs:element name="checklistInstance" maxOccurs="1" minOccurs="0">
		<xs:complexType>
		<xs:sequence>
		
			<xs:element name="template" maxOccurs="1" minOccurs="0">
			<xs:complexType>
			<xs:sequence>
				<xs:element type="xs:string" name="id" minOccurs="0"/>
			</xs:sequence>
			</xs:complexType>
			</xs:element>
	
			<xs:element type="xs:string" name="description" minOccurs="0"/>
			<xs:element name="language" maxOccurs="1" minOccurs="0"/>
			<xs:element type="xs:string" name="owners" minOccurs="0"/>
			<xs:element type="xs:string" name="mandatory" minOccurs="0"/>
			<xs:element type="xs:string" name="content" minOccurs="0"/>
			<xs:element type="xs:string" name="syncObjectKPIs" minOccurs="0"/>			
			<xs:element type="xs:string" name="inactive" minOccurs="0"/>
			<xs:element type="xs:string" name="id" minOccurs="0"/>
			<xs:element type="xs:string" name="lastChanged" minOccurs="0"/>
			<xs:element name="createPerson" maxOccurs="unbounded" minOccurs="0">
			<xs:complexType>
			<xs:sequence>
				<xs:element type="xs:string" name="externalId" minOccurs="0"/>
			</xs:sequence>
			</xs:complexType>
			</xs:element>
			<xs:element type="xs:string" name="externalId" minOccurs="0"/>
			<xs:element type="xs:string" name="groups" minOccurs="0"/>
			<xs:element type="xs:string" name="branches" minOccurs="0"/>
			<xs:element type="xs:string" name="version" minOccurs="0"/>
			<xs:element type="xs:string" name="createDateTime" minOccurs="0"/>
			<xs:element type="xs:string" name="closed" minOccurs="0"/>
			<xs:element type="xs:string" name="deleted" minOccurs="0"/>
			<xs:element name="lastChangedBy" maxOccurs="unbounded" minOccurs="0">
			<xs:complexType>
			<xs:sequence>
				<xs:element type="xs:string" name="externalId" minOccurs="0"/>
			</xs:sequence>
			</xs:complexType>
			</xs:element>
			<xs:element name="responsiblePerson" maxOccurs="unbounded" minOccurs="0">
			<xs:complexType>
			<xs:sequence>
				<xs:element type="xs:string" name="externalId" minOccurs="0"/>
			</xs:sequence>
			</xs:complexType>
			</xs:element>
			<xs:element type="xs:string" name="checklistId" minOccurs="0"/>
			<xs:element name="object" maxOccurs="unbounded" minOccurs="0">
			<xs:complexType>
			<xs:sequence>
				<xs:element name="objectId" minOccurs="0">
				<xs:complexType>
				<xs:sequence>
					<xs:element type="xs:string" name="id" minOccurs="0"/>
					<xs:element type="xs:string" name="externalId" minOccurs="0"/>
				</xs:sequence>
				</xs:complexType>
				</xs:element>
				<xs:element type="xs:string" name="objectType" minOccurs="0"/>
			</xs:sequence>
			</xs:complexType>
			</xs:element>
			<xs:element type="xs:string" name="syncStatus" minOccurs="0"/>
		</xs:sequence>
		</xs:complexType>
		</xs:element>
		<xs:element type="xs:string" name="deleteReason" minOccurs="0"/>
	</xs:sequence>
	</xs:complexType>
	</xs:element>
</xs:sequence>
</xs:complexType>
</xs:element>
</xs:schema>
