Resources/canonical_library/xsd/XSD_628d390b54a1af9bc463e4d8d832359682d41a4c.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- Created with Liquid Technologies Online Tools 1.0 (https://www.liquid-technologies.com) -->
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="root">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" name="territoryQuotas">
          <xs:complexType mixed="true">
            <xs:sequence>
              <xs:element name="territoryQuotaSeq" type="xs:unsignedLong" />
			  <xs:element name="linenumber">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="linenumber" type="xs:unsignedInt" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="sublinenumber">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="sublinenumber" type="xs:unsignedByte" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
			  <xs:element name="OrderIDSeq">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="OrderIDSeq" type="xs:unsignedByte" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
			  <xs:element name="targetTypeId" type="xs:string" />
              <xs:element name="quotaValue" type="xs:decimal" />
              <xs:element name="unitType" type="xs:string" />
              <xs:element name="territorySeq" type="xs:unsignedLong" />
              <xs:element name="territoryname" type="xs:string" />
              <xs:element name="isExplicit" type="xs:boolean" />
			  <xs:element name="overlaytype" type="xs:string" />
              <xs:element name="territoryStartDate" type="xs:dateTime" />
              <xs:element name="territoryEndDate" type="xs:dateTime" />
              <xs:element name="territoryProgramSeq" type="xs:unsignedLong" />
              <xs:element name="territoryProgramname" type="xs:string" />
              <xs:element name="territoryProgramStartDate" type="xs:dateTime" />
              <xs:element name="territoryProgramEndDate" type="xs:dateTime" />
              <xs:element name="periodname" type="xs:unsignedShort" />
              <xs:element name="geographyHierarchyname" type="xs:string" />
              <xs:element name="quotaCellPeriodType" type="xs:string" />
              <xs:element name="quotaSettingMethodology" type="xs:string" />
              <xs:element name="positionname" type="xs:string" />
              <xs:element name="positionbuname" type="xs:string" />
              <xs:element name="positionbumask" type="xs:unsignedByte" />
              <xs:element name="split" type="xs:decimal" />
              <xs:element name="tPAlignmentType" type="xs:string" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>