Resources/canonical_library/xsd/XSD_bb47fc7113540725659e877909c6e5cfc6a66f01.xsd

<?xml version="1.0" encoding="UTF-8"?><xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="qualified">
	<xs:element name="root">
		<xs:complexType>
			<xs:sequence>
				<xs:element maxOccurs="unbounded" minOccurs="1" name="Table">
					<xs:complexType>
						<xs:sequence>
							<xs:element maxOccurs="1" minOccurs="0" name="LeadId" type="xs:string"/>
							<xs:element maxOccurs="1" minOccurs="0" name="CreatedDate" type="xs:long"/>
							<xs:element maxOccurs="1" minOccurs="0" name="CreatedBy" type="xs:string"/>
							<xs:element maxOccurs="1" minOccurs="0" name="LastModifiedDate" type="xs:long"/>
							<xs:element maxOccurs="1" minOccurs="0" name="OwnerId" type="xs:string"/>
							<xs:element maxOccurs="1" minOccurs="0" name="Source" type="xs:string"/>
							<xs:element maxOccurs="1" minOccurs="0" name="Status" type="xs:string"/>
							<xs:element maxOccurs="1" minOccurs="0" name="OpportunityId" type="xs:string"/>
							<xs:element maxOccurs="1" minOccurs="0" name="Company" type="xs:string"/>
							<xs:element maxOccurs="1" minOccurs="0" name="City" type="xs:string"/>
							<xs:element maxOccurs="1" minOccurs="0" name="Industry" type="xs:string"/>
							<xs:element maxOccurs="1" minOccurs="0" name="Title" type="xs:string"/>
						    <xs:element maxOccurs="1" minOccurs="0" name="Rating" type="xs:string"/>
							<xs:element maxOccurs="1" minOccurs="0" name="CampaignId" type="xs:string"/>
							<xs:element maxOccurs="1" minOccurs="0" name="CampaignCount" type="xs:string"/>
							<xs:element maxOccurs="1" minOccurs="0" name="SalesOrganization" type="xs:string"/>
							<xs:element maxOccurs="1" minOccurs="0" name="SalesDivision" type="xs:string"/>
							<xs:element maxOccurs="1" minOccurs="0" name="DistributionChannel" type="xs:string"/>
							<xs:element maxOccurs="1" minOccurs="0" name="Priority" type="xs:string"/>
							<xs:element maxOccurs="1" minOccurs="0" name="Revenue" type="xs:long"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>