Resources/canonical_library/xsd/XSD_42daf78445d4d7e68988aaf6755eebbf09e2688d.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="root">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Response">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="Status" type="xs:string" />
              <xs:element name="ResponseCode" type="xs:string" />
              <xs:element name="innererror">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element maxOccurs="unbounded" name="errordetails">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="code" type="xs:string" />
                          <xs:element name="message" type="xs:string" />
                          <xs:element name="propertyref" />
                          <xs:element name="severity" type="xs:string" />
                          <xs:element name="transition" type="xs:boolean" />
                          <xs:element name="target" />
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>