Resources/canonical_library/xsd/XSD_ea365c278f66c07881cc46b47a043faf404838a3.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- Created with Liquid Technologies Online Tools 1.0 (https://www.liquid-technologies.com) -->
<xsd:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:element name="root">
    <xsd:complexType>
      <xsd:sequence>
              <xsd:element name="TYPE" minOccurs="0" />
              <xsd:element name="ID" minOccurs="0" />
              <xsd:element name="NUMBER" minOccurs="0" />
              <xsd:element name="MESSAGE" minOccurs="0" />
              <xsd:element name="LOG_NO" minOccurs="0" />
              <xsd:element name="LOG_MSG_NO" minOccurs="0" />
              <xsd:element name="MESSAGE_V1" minOccurs="0" />
              <xsd:element name="MESSAGE_V2" minOccurs="0" />
              <xsd:element name="MESSAGE_V3" minOccurs="0" />
              <xsd:element name="MESSAGE_V4" minOccurs="0" />
              <xsd:element name="PARAMETER" minOccurs="0" />
              <xsd:element name="ROW" minOccurs="0" />
              <xsd:element name="FIELD" minOccurs="0" />
              <xsd:element name="SYSTEM" minOccurs="0" />
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
</xsd:schema>