Resources/canonical_library/xsd/XSD_0c93409cba0dd0fbff646864d1fb38e5deaaac72.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="root">
    <xs:complexType>
      <xs:sequence>
      	<xs:element type="xs:string" name="eventid"/>
    	<xs:element type="xs:string" name="totalregistrants"/>
      	<xs:element name="registrants" minOccurs="0" maxOccurs="unbounded">
   	  	<xs:complexType>
      	<xs:sequence>
              <xs:element type="xs:string" name="firstname" minOccurs="0" maxOccurs="1"/>
              <xs:element type="xs:string" name="lastname" minOccurs="0" maxOccurs="1"/>
              <xs:element type="xs:string" name="email" minOccurs="0" maxOccurs="1"/>
              <xs:element type="xs:string" name="company" minOccurs="0" maxOccurs="1"/>
              <xs:element type="xs:string" name="jobtitle" minOccurs="0" maxOccurs="1"/>
              <xs:element type="xs:string" name="addressstreet1" minOccurs="0" maxOccurs="1"/>
              <xs:element type="xs:string" name="addressstreet2" minOccurs="0" maxOccurs="1"/>
              <xs:element type="xs:string" name="city" minOccurs="0" maxOccurs="1"/>
              <xs:element type="xs:string" name="state" minOccurs="0" maxOccurs="1"/>
              <xs:element type="xs:string" name="zip" minOccurs="0" maxOccurs="1"/>
              <xs:element type="xs:string" name="country" minOccurs="0" maxOccurs="1"/>
              <xs:element type="xs:string" name="homephone" minOccurs="0" maxOccurs="1"/>
              <xs:element type="xs:string" name="workphone" minOccurs="0" maxOccurs="1"/>
              <xs:element type="xs:string" name="fax" minOccurs="0" maxOccurs="1"/>
              <xs:element type="xs:string" name="username" minOccurs="0" maxOccurs="1"/>
              <xs:element type="xs:string" name="exteventusercd" minOccurs="0" maxOccurs="1"/>
			  <xs:element type="xs:string" name="other" minOccurs="0" maxOccurs="1"/>
			  <xs:element type="xs:string" name="notes" minOccurs="0" maxOccurs="1"/>
			  <xs:element type="xs:string" name="jobfunction" minOccurs="0" maxOccurs="1"/>
			  <xs:element type="xs:string" name="companyindustry" minOccurs="0" maxOccurs="1"/>
			  <xs:element type="xs:string" name="companysize" minOccurs="0" maxOccurs="1"/>
			  <xs:element type="xs:string" name="partnerref" minOccurs="0" maxOccurs="1"/>
			  <xs:element type="xs:string" name="eventid" minOccurs="0" maxOccurs="1"/>
			  <xs:element type="xs:string" name="eventuserid" minOccurs="0" maxOccurs="1"/>
			  <xs:element type="xs:string" name="std1" minOccurs="0" maxOccurs="1"/>
			  <xs:element type="xs:string" name="std2" minOccurs="0" maxOccurs="1"/>
			  <xs:element type="xs:string" name="std3" minOccurs="0" maxOccurs="1"/>
			  <xs:element type="xs:string" name="std4" minOccurs="0" maxOccurs="1"/>
			  <xs:element type="xs:string" name="std5" minOccurs="0" maxOccurs="1"/>
			  <xs:element type="xs:string" name="std6" minOccurs="0" maxOccurs="1"/>
			  <xs:element type="xs:string" name="std7" minOccurs="0" maxOccurs="1"/>
			  <xs:element type="xs:string" name="std8" minOccurs="0" maxOccurs="1"/>
			  <xs:element type="xs:string" name="std9" minOccurs="0" maxOccurs="1"/>
			  <xs:element type="xs:string" name="std10" minOccurs="0" maxOccurs="1"/>
			  <xs:element type="xs:string" name="marketingemail" minOccurs="0" maxOccurs="1"/>
			  <xs:element type="xs:string" name="eventemail" minOccurs="0" maxOccurs="1"/>
			  <xs:element type="xs:string" name="userprofileurl" minOccurs="0" maxOccurs="1"/>
			  <xs:element type="xs:string" name="createtimestamp" minOccurs="0" maxOccurs="1"/>
			  <xs:element type="xs:string" name="engagementprediction" minOccurs="0" maxOccurs="1"/>
			  <xs:element type="xs:string" name="ipaddress" minOccurs="0" maxOccurs="1"/>
			  <xs:element type="xs:string" name="os" minOccurs="0" maxOccurs="1"/>
			  <xs:element type="xs:string" name="browser" minOccurs="0" maxOccurs="1"/>
			  <xs:element type="xs:string" name="emailformat" minOccurs="0" maxOccurs="1"/>
			  <xs:element type="xs:string" name="campaigncode" minOccurs="0" maxOccurs="1"/>
			  <xs:element type="xs:string" name="sourcecampaigncode" minOccurs="0" maxOccurs="1"/>
		 </xs:sequence>
    	</xs:complexType>
  		</xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>