Resources/canonical_library/xsd/XSD_adbfd2f1603831fdf160ba4ab50351afda84e1fc.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="root">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="businessPartners" maxOccurs="unbounded">
					<xs:complexType>
						<xs:sequence>
							<xs:element type="xs:boolean" name="deletedInYaaS" minOccurs="0" maxOccurs="1"/>
							<xs:element type="xs:string" name="customerNumber" minOccurs="0" maxOccurs="1"/>
							<xs:element type="xs:string" name="title" minOccurs="0" maxOccurs="1"/>
							<xs:element type="xs:string" name="firstName" minOccurs="0" maxOccurs="1"/>
							<xs:element type="xs:string" name="middleName" minOccurs="0" maxOccurs="1"/>
							<xs:element type="xs:string" name="lastName" minOccurs="0" maxOccurs="1"/>
							<xs:element type="xs:string" name="contactEmail" minOccurs="0" maxOccurs="1"/>
							<xs:element type="xs:long" name="contactPhone" minOccurs="0" maxOccurs="1"/>
							<xs:element type="xs:string" name="company" minOccurs="0" maxOccurs="1"/>
							<xs:element type="xs:string" name="preferredLanguage" minOccurs="0" maxOccurs="1"/>
							<xs:element type="xs:string" name="preferredCurrency" minOccurs="0" maxOccurs="1"/>
							<xs:element name="addresses" minOccurs="0" maxOccurs="unbounded">
								<xs:complexType>
									<xs:sequence>
										<xs:element type="xs:string" name="city" minOccurs="0" maxOccurs="1"/>
										<xs:element type="xs:string" name="contactName" minOccurs="0" maxOccurs="1"/>
										<xs:element type="xs:string" name="companyName" minOccurs="0" maxOccurs="1"/>
										<xs:element type="xs:string" name="country" minOccurs="0" maxOccurs="1"/>
										<xs:element type="xs:string" name="id" minOccurs="0" maxOccurs="1"/>
										<xs:element type="xs:string" name="isDefault" minOccurs="0" maxOccurs="1"/>
										<xs:element type="xs:string" name="street" minOccurs="0" maxOccurs="1"/>
										<xs:element type="xs:string" name="streetNumber" minOccurs="0" maxOccurs="1"/>
										<xs:element type="xs:string" name="streetAppendix" minOccurs="0" maxOccurs="1"/>
										<xs:element type="xs:string" name="extraLine1" minOccurs="0" maxOccurs="1"/>
										<xs:element type="xs:string" name="extraLine2" minOccurs="0" maxOccurs="1"/>
										<xs:element type="xs:string" name="zipCode" minOccurs="0" maxOccurs="1"/>
										<xs:element type="xs:string" name="state" minOccurs="0" maxOccurs="1"/>
										<xs:element type="xs:string" name="contactPhone" minOccurs="0" maxOccurs="1"/>
										<xs:element name="mixins" minOccurs="0" maxOccurs="1">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="soa_mdg_address_mapping" minOccurs="0" maxOccurs="1">
														<xs:complexType>
															<xs:sequence>
																<xs:element type="xs:string" name="relatedAddress" minOccurs="1" maxOccurs="1"/>
															</xs:sequence>
														</xs:complexType>
													</xs:element>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
										<xs:element name="soa_mdg_addressinformation" minOccurs="0" maxOccurs="1">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="AddressInformation" minOccurs="1" maxOccurs="1">
														<xs:complexType>
															<xs:sequence>
																<xs:element type="xs:string" name="receiveruuid" minOccurs="0" maxOccurs="1"/>
																<xs:element type="xs:string" name="uuid" minOccurs="0" maxOccurs="1"/>
																<xs:element type="xs:string" name="movedestinationaddressreceiveruuid" minOccurs="0" maxOccurs="1"/>
																<xs:element type="xs:string" name="movedestinationaddressuuid" minOccurs="0" maxOccurs="1"/>
																<xs:element type="xs:date" name="movedate" minOccurs="0" maxOccurs="1"/>
																<xs:element name="ValidityPeriod" minOccurs="0" maxOccurs="1">
																	<xs:complexType>
																		<xs:sequence>
																			<xs:element type="xs:date" name="startdate" minOccurs="1" maxOccurs="1"/>
																			<xs:element type="xs:date" name="enddate" minOccurs="1" maxOccurs="1"/>
																		</xs:sequence>
																	</xs:complexType>
																</xs:element>
																<xs:element name="AddressUsage" minOccurs="0" maxOccurs="unbounded">
																	<xs:complexType>
																		<xs:sequence>
																			<xs:element type="xs:string" name="addressusagecode" minOccurs="1" maxOccurs="1"/>
																			<xs:element name="ValidityPeriod" minOccurs="0" maxOccurs="1">
																				<xs:complexType>
																					<xs:sequence>
																						<xs:element type="xs:date" name="startdate" minOccurs="1" maxOccurs="1"/>
																						<xs:element type="xs:date" name="enddate" minOccurs="1" maxOccurs="1"/>
																					</xs:sequence>
																				</xs:complexType>
																			</xs:element>
																			<xs:element type="xs:boolean" name="defaultindicator" minOccurs="0" maxOccurs="1"/>
																		</xs:sequence>
																	</xs:complexType>
																</xs:element>
																<xs:element name="Address" minOccurs="1" maxOccurs="1">
																	<xs:complexType>
																		<xs:sequence>
																			<xs:element name="AddressNote" minOccurs="0" maxOccurs="unbounded">
																				<xs:complexType>
																					<xs:sequence>
																						<xs:element type="xs:string" name="note" minOccurs="1" maxOccurs="1"/>
																					</xs:sequence>
																				</xs:complexType>
																			</xs:element>
																			<xs:element name="CommunicationPreference" minOccurs="0" maxOccurs="1">
																				<xs:complexType>
																					<xs:sequence>
																						<xs:element type="xs:string" name="correspondencelanguagecode" minOccurs="0" maxOccurs="1"/>
																						<xs:element type="xs:string" name="preferredcommunicationmediumtypecode" minOccurs="0" maxOccurs="1"/>
																					</xs:sequence>
																				</xs:complexType>
																			</xs:element>
																			<xs:element name="Email" minOccurs="0" maxOccurs="unbounded">
																				<xs:complexType>
																					<xs:sequence>
																						<xs:element type="xs:string" name="uri" minOccurs="1" maxOccurs="1"/>
																						<xs:element type="xs:boolean" name="usagedeniedindicator" minOccurs="0" maxOccurs="1"/>
																						<xs:element name="ValidityPeriod" minOccurs="0" maxOccurs="1">
																							<xs:complexType>
																								<xs:sequence>
																									<xs:element type="xs:date" name="startdate" minOccurs="1" maxOccurs="1"/>
																									<xs:element type="xs:date" name="enddate" minOccurs="1" maxOccurs="1"/>
																								</xs:sequence>
																							</xs:complexType>
																						</xs:element>
																						<xs:element type="xs:boolean" name="transportneutralencapsulationformatenabledindicator" minOccurs="0" maxOccurs="1"/>
																						<xs:element name="EmailNote" minOccurs="0" maxOccurs="unbounded">
																							<xs:complexType>
																								<xs:sequence>
																									<xs:element type="xs:string" name="note" minOccurs="1" maxOccurs="1"/>
																								</xs:sequence>
																							</xs:complexType>
																						</xs:element>
																						<xs:element name="EmailUsage" minOccurs="0" maxOccurs="unbounded">
																							<xs:complexType>
																								<xs:sequence>
																									<xs:element name="Usage" minOccurs="1" maxOccurs="1">
																										<xs:complexType>
																											<xs:sequence>
																												<xs:element type="xs:string" name="code" minOccurs="1" maxOccurs="1"/>
																												<xs:element type="xs:string" name="name" minOccurs="0" maxOccurs="1"/>
																												<xs:element name="ValidityPeriod" minOccurs="0" maxOccurs="1">
																													<xs:complexType>
																														<xs:sequence>
																															<xs:element type="xs:date" name="startdate" minOccurs="1" maxOccurs="1"/>
																															<xs:element type="xs:date" name="enddate" minOccurs="1" maxOccurs="1"/>
																														</xs:sequence>
																													</xs:complexType>
																												</xs:element>
																											</xs:sequence>
																										</xs:complexType>
																									</xs:element>
																									<xs:element type="xs:boolean" name="defaultindicator" minOccurs="0" maxOccurs="1"/>
																								</xs:sequence>
																							</xs:complexType>
																						</xs:element>
																					</xs:sequence>
																				</xs:complexType>
																			</xs:element>
																			<xs:element name="Facsimile" minOccurs="0" maxOccurs="unbounded">
																				<xs:complexType>
																					<xs:sequence>
																						<xs:element name="Number" minOccurs="1" maxOccurs="1">
																							<xs:complexType>
																								<xs:sequence>
																									<xs:element type="xs:string" name="areaid" minOccurs="0" maxOccurs="1"/>
																									<xs:element type="xs:string" name="subscriberid" minOccurs="0" maxOccurs="1"/>
																									<xs:element type="xs:string" name="extensionid" minOccurs="0" maxOccurs="1"/>
																									<xs:element type="xs:string" name="countrycode" minOccurs="0" maxOccurs="1"/>
																									<xs:element type="xs:string" name="countrydiallingcode" minOccurs="0" maxOccurs="1"/>
																									<xs:element type="xs:string" name="countryname" minOccurs="0" maxOccurs="1"/>
																								</xs:sequence>
																							</xs:complexType>
																						</xs:element>
																						<xs:element type="xs:string" name="formattednumberdescription" minOccurs="0" maxOccurs="1"/>
																						<xs:element type="xs:boolean" name="usagedeniedindicator" minOccurs="0" maxOccurs="1"/>
																						<xs:element name="ValidityPeriod" minOccurs="0" maxOccurs="1">
																							<xs:complexType>
																								<xs:sequence>
																									<xs:element type="xs:date" name="startdate" minOccurs="1" maxOccurs="1"/>
																									<xs:element type="xs:date" name="enddate" minOccurs="1" maxOccurs="1"/>
																								</xs:sequence>
																							</xs:complexType>
																						</xs:element>
																						<xs:element name="FacsimileNote" minOccurs="0" maxOccurs="unbounded">
																							<xs:complexType>
																								<xs:sequence>
																									<xs:element type="xs:string" name="note" minOccurs="1" maxOccurs="1"/>
																								</xs:sequence>
																							</xs:complexType>
																						</xs:element>
																						<xs:element name="FacsimileUsage" minOccurs="0" maxOccurs="unbounded">
																							<xs:complexType>
																								<xs:sequence>
																									<xs:element name="Usage" minOccurs="1" maxOccurs="1">
																										<xs:complexType>
																											<xs:sequence>
																												<xs:element type="xs:string" name="code" minOccurs="1" maxOccurs="1"/>
																												<xs:element type="xs:string" name="name" minOccurs="0" maxOccurs="1"/>
																												<xs:element name="ValidityPeriod" minOccurs="0" maxOccurs="1">
																													<xs:complexType>
																														<xs:sequence>
																															<xs:element type="xs:date" name="startdate" minOccurs="1" maxOccurs="1"/>
																															<xs:element type="xs:date" name="enddate" minOccurs="1" maxOccurs="1"/>
																														</xs:sequence>
																													</xs:complexType>
																												</xs:element>
																											</xs:sequence>
																										</xs:complexType>
																									</xs:element>
																									<xs:element type="xs:boolean" name="defaultindicator" minOccurs="0" maxOccurs="1"/>
																								</xs:sequence>
																							</xs:complexType>
																						</xs:element>
																					</xs:sequence>
																				</xs:complexType>
																			</xs:element>
																			<xs:element name="OrganisationName" minOccurs="0" maxOccurs="unbounded">
																				<xs:complexType>
																					<xs:sequence>
																						<xs:element type="xs:string" name="addressrepresentationcode" minOccurs="0" maxOccurs="1"/>
																						<xs:element name="Name" minOccurs="1" maxOccurs="1">
																							<xs:complexType>
																								<xs:sequence>
																									<xs:element type="xs:string" name="formofaddresscode" minOccurs="0" maxOccurs="1"/>
																									<xs:element type="xs:string" name="firstlinename" minOccurs="0" maxOccurs="1"/>
																									<xs:element type="xs:string" name="secondlinename" minOccurs="0" maxOccurs="1"/>
																									<xs:element type="xs:string" name="thirdlinename" minOccurs="0" maxOccurs="1"/>
																									<xs:element type="xs:string" name="fourthlinename" minOccurs="0" maxOccurs="1"/>
																								</xs:sequence>
																							</xs:complexType>
																						</xs:element>
																						<xs:element type="xs:string" name="keywordstext" minOccurs="0" maxOccurs="1"/>
																						<xs:element type="xs:string" name="additionalkeywordstext" minOccurs="0" maxOccurs="1"/>
																					</xs:sequence>
																				</xs:complexType>
																			</xs:element>
																			<xs:element name="PersonName" minOccurs="0" maxOccurs="unbounded">
																				<xs:complexType>
																					<xs:sequence>
																						<xs:element type="xs:string" name="addressrepresentationcode" minOccurs="0" maxOccurs="1"/>
																						<xs:element name="Name" minOccurs="1" maxOccurs="1">
																							<xs:complexType>
																								<xs:sequence>
																									<xs:element type="xs:string" name="formofaddresscode" minOccurs="0" maxOccurs="1"/>
																									<xs:element type="xs:string" name="formofaddressname" minOccurs="0" maxOccurs="1"/>
																									<xs:element type="xs:string" name="givenname" minOccurs="0" maxOccurs="1"/>
																									<xs:element type="xs:string" name="middlename" minOccurs="0" maxOccurs="1"/>
																									<xs:element type="xs:string" name="familyname" minOccurs="0" maxOccurs="1"/>
																									<xs:element type="xs:string" name="additionalfamilyname" minOccurs="0" maxOccurs="1"/>
																									<xs:element type="xs:string" name="birthname" minOccurs="0" maxOccurs="1"/>
																									<xs:element type="xs:string" name="nickname" minOccurs="0" maxOccurs="1"/>
																									<xs:element type="xs:string" name="initialsname" minOccurs="0" maxOccurs="1"/>
																									<xs:element type="xs:string" name="academictitlecode" minOccurs="0" maxOccurs="1"/>
																									<xs:element type="xs:string" name="academictitlename" minOccurs="0" maxOccurs="1"/>
																									<xs:element type="xs:string" name="additionalacademictitlecode" minOccurs="0" maxOccurs="1"/>
																									<xs:element type="xs:string" name="additionalacademictitlename" minOccurs="0" maxOccurs="1"/>
																									<xs:element type="xs:string" name="nameprefixcode" minOccurs="0" maxOccurs="1"/>
																									<xs:element type="xs:string" name="nameprefixname" minOccurs="0" maxOccurs="1"/>
																									<xs:element type="xs:string" name="additionalnameprefixcode" minOccurs="0" maxOccurs="1"/>
																									<xs:element type="xs:string" name="additionalnameprefixname" minOccurs="0" maxOccurs="1"/>
																									<xs:element type="xs:string" name="namesupplementcode" minOccurs="0" maxOccurs="1"/>
																									<xs:element type="xs:string" name="namesupplementname" minOccurs="0" maxOccurs="1"/>
																									<xs:element type="xs:string" name="deviatingfullname" minOccurs="0" maxOccurs="1"/>
																									<xs:element type="xs:string" name="nameformatcountrycode" minOccurs="0" maxOccurs="1"/>
																									<xs:element type="xs:string" name="nameformatcode" minOccurs="0" maxOccurs="1"/>
																								</xs:sequence>
																							</xs:complexType>
																						</xs:element>
																						<xs:element type="xs:string" name="keywordstext" minOccurs="0" maxOccurs="1"/>
																						<xs:element type="xs:string" name="additionalkeywordstext" minOccurs="0" maxOccurs="1"/>
																						<xs:element type="xs:string" name="formattedname" minOccurs="0" maxOccurs="1"/>
																					</xs:sequence>
																				</xs:complexType>
																			</xs:element>
																			<xs:element name="PostalAddress" minOccurs="0" maxOccurs="unbounded">
																				<xs:complexType>
																					<xs:sequence>
																						<xs:element type="xs:string" name="addressrepresentationcode" minOccurs="0" maxOccurs="1"/>
																						<xs:element type="xs:string" name="countrycode" minOccurs="0" maxOccurs="1"/>
																						<xs:element type="xs:string" name="regioncode" minOccurs="0" maxOccurs="1"/>
																						<xs:element type="xs:string" name="cityname" minOccurs="0" maxOccurs="1"/>
																						<xs:element type="xs:string" name="additionalcityname" minOccurs="0" maxOccurs="1"/>
																						<xs:element type="xs:string" name="districtname" minOccurs="0" maxOccurs="1"/>
																						<xs:element type="xs:string" name="streetpostalcode" minOccurs="0" maxOccurs="1"/>
																						<xs:element type="xs:string" name="poboxpostalcode" minOccurs="0" maxOccurs="1"/>
																						<xs:element type="xs:string" name="companypostalcode" minOccurs="0" maxOccurs="1"/>
																						<xs:element type="xs:string" name="streetprefixname" minOccurs="0" maxOccurs="1"/>
																						<xs:element type="xs:string" name="additionalstreetprefixname" minOccurs="0" maxOccurs="1"/>
																						<xs:element type="xs:string" name="streetname" minOccurs="0" maxOccurs="1"/>
																						<xs:element type="xs:string" name="streetsuffixname" minOccurs="0" maxOccurs="1"/>
																						<xs:element type="xs:string" name="additionalstreetsuffixname" minOccurs="0" maxOccurs="1"/>
																						<xs:element type="xs:string" name="houseid" minOccurs="0" maxOccurs="1"/>
																						<xs:element type="xs:string" name="additionalhouseid" minOccurs="0" maxOccurs="1"/>
																						<xs:element type="xs:string" name="buildingid" minOccurs="0" maxOccurs="1"/>
																						<xs:element type="xs:string" name="roomid" minOccurs="0" maxOccurs="1"/>
																						<xs:element type="xs:string" name="floorid" minOccurs="0" maxOccurs="1"/>
																						<xs:element type="xs:string" name="careofname" minOccurs="0" maxOccurs="1"/>
																						<xs:element type="xs:string" name="streetaddressmailnondeliveryreasoncode" minOccurs="0" maxOccurs="1"/>
																						<xs:element type="xs:string" name="poboxdeviatingcountrycode" minOccurs="0" maxOccurs="1"/>
																						<xs:element type="xs:string" name="poboxdeviatingregioncode" minOccurs="0" maxOccurs="1"/>
																						<xs:element type="xs:string" name="poboxdeviatingcityname" minOccurs="0" maxOccurs="1"/>
																						<xs:element type="xs:string" name="poboxlobbyname" minOccurs="0" maxOccurs="1"/>
																						<xs:element type="xs:string" name="poboxid" minOccurs="0" maxOccurs="1"/>
																						<xs:element type="xs:string" name="poboxaddressmailnondeliveryreasoncode" minOccurs="0" maxOccurs="1"/>
																						<xs:element type="xs:boolean" name="poboxidvisibleindicator" minOccurs="0" maxOccurs="1"/>
																						<xs:element type="xs:string" name="poboxdeliveryserviceid" minOccurs="0" maxOccurs="1"/>
																						<xs:element type="xs:string" name="poboxdeliveryservicetypecode" minOccurs="0" maxOccurs="1"/>
																						<xs:element type="xs:string" name="taxjurisdictioncode" minOccurs="0" maxOccurs="1"/>
																						<xs:element type="xs:string" name="timezonecode" minOccurs="0" maxOccurs="1"/>
																						<xs:element type="xs:string" name="transportationzoneid" minOccurs="0" maxOccurs="1"/>
																						<xs:element type="xs:string" name="regionalstructureelementgroupcode" minOccurs="0" maxOccurs="1"/>
																						<xs:element type="xs:string" name="regionalstructureaddressconsistencystatuscode" minOccurs="0" maxOccurs="1"/>
																						<xs:element type="xs:string" name="regionalstructurecitycode" minOccurs="0" maxOccurs="1"/>
																						<xs:element type="xs:string" name="additionalregionalstructurecitycode" minOccurs="0" maxOccurs="1"/>
																						<xs:element type="xs:string" name="poboxdeviatingregionalstructurecitycode" minOccurs="0" maxOccurs="1"/>
																						<xs:element type="xs:string" name="regionalstructuredistrictcode" minOccurs="0" maxOccurs="1"/>
																						<xs:element type="xs:string" name="regionalstructurestreetcode" minOccurs="0" maxOccurs="1"/>
																					</xs:sequence>
																				</xs:complexType>
																			</xs:element>
																			<xs:element name="Telephone" minOccurs="0" maxOccurs="unbounded">
																				<xs:complexType>
																					<xs:sequence>
																						<xs:element name="Number" minOccurs="1" maxOccurs="1">
																							<xs:complexType>
																								<xs:sequence>
																									<xs:element type="xs:string" name="areaid" minOccurs="0" maxOccurs="1"/>
																									<xs:element type="xs:string" name="subscriberid" minOccurs="0" maxOccurs="1"/>
																									<xs:element type="xs:string" name="extensionid" minOccurs="0" maxOccurs="1"/>
																									<xs:element type="xs:string" name="countrycode" minOccurs="0" maxOccurs="1"/>
																									<xs:element type="xs:string" name="countrydiallingcode" minOccurs="0" maxOccurs="1"/>
																									<xs:element type="xs:string" name="countryname" minOccurs="0" maxOccurs="1"/>
																								</xs:sequence>
																							</xs:complexType>
																						</xs:element>
																						<xs:element type="xs:string" name="formattednumberdescription" minOccurs="0" maxOccurs="1"/>
																						<xs:element type="xs:boolean" name="usagedeniedindicator" minOccurs="0" maxOccurs="1"/>
																						<xs:element name="ValidityPeriod" minOccurs="0" maxOccurs="1">
																							<xs:complexType>
																								<xs:sequence>
																									<xs:element type="xs:date" name="startdate" minOccurs="1" maxOccurs="1"/>
																									<xs:element type="xs:date" name="enddate" minOccurs="1" maxOccurs="1"/>
																								</xs:sequence>
																							</xs:complexType>
																						</xs:element>
																						<xs:element type="xs:boolean" name="mobilephonenumberindicator" minOccurs="0" maxOccurs="1"/>
																						<xs:element type="xs:boolean" name="smsenabledindicator" minOccurs="0" maxOccurs="1"/>
																						<xs:element name="TelephoneNote" minOccurs="0" maxOccurs="unbounded">
																							<xs:complexType>
																								<xs:sequence>
																									<xs:element type="xs:string" name="note" minOccurs="1" maxOccurs="1"/>
																								</xs:sequence>
																							</xs:complexType>
																						</xs:element>	
																						<xs:element name="TelephoneUsage" minOccurs="0" maxOccurs="unbounded">
																							<xs:complexType>
																								<xs:sequence>
																									<xs:element name="Usage" minOccurs="1" maxOccurs="1">
																										<xs:complexType>
																											<xs:sequence>
																												<xs:element type="xs:string" name="code" minOccurs="1" maxOccurs="1"/>
																												<xs:element type="xs:string" name="name" minOccurs="0" maxOccurs="1"/>
																												<xs:element name="ValidityPeriod" minOccurs="0" maxOccurs="1">
																													<xs:complexType>
																														<xs:sequence>
																															<xs:element type="xs:date" name="startdate" minOccurs="1" maxOccurs="1"/>
																															<xs:element type="xs:date" name="enddate" minOccurs="1" maxOccurs="1"/>
																														</xs:sequence>
																													</xs:complexType>
																												</xs:element>
																											</xs:sequence>
																										</xs:complexType>
																									</xs:element>
																									<xs:element type="xs:boolean" name="defaultindicator" minOccurs="0" maxOccurs="1"/>
																								</xs:sequence>
																							</xs:complexType>
																						</xs:element>
																					</xs:sequence>
																				</xs:complexType>
																			</xs:element>
																			<xs:element name="Web" minOccurs="0" maxOccurs="unbounded">
																				<xs:complexType>
																					<xs:sequence>
																						<xs:element type="xs:string" name="uri" minOccurs="1" maxOccurs="1"/>
																						<xs:element type="xs:string" name="uritypecode" minOccurs="0" maxOccurs="1"/>
																						<xs:element type="xs:boolean" name="usagedeniedindicator" minOccurs="0" maxOccurs="1"/>
																						<xs:element name="WebNote" minOccurs="0" maxOccurs="unbounded">
																							<xs:complexType>
																								<xs:sequence>
																									<xs:element type="xs:string" name="note" minOccurs="1" maxOccurs="1"/>
																								</xs:sequence>
																							</xs:complexType>
																						</xs:element>
																						<xs:element name="WebUsage" minOccurs="0" maxOccurs="unbounded">
																							<xs:complexType>
																								<xs:sequence>
																									<xs:element name="Usage" minOccurs="1" maxOccurs="1">
																										<xs:complexType>
																											<xs:sequence>
																												<xs:element type="xs:string" name="code" minOccurs="1" maxOccurs="1"/>
																												<xs:element type="xs:string" name="name" minOccurs="0" maxOccurs="1"/>
																												<xs:element name="ValidityPeriod" minOccurs="0" maxOccurs="1">
																													<xs:complexType>
																														<xs:sequence>
																															<xs:element type="xs:date" name="startdate" minOccurs="1" maxOccurs="1"/>
																															<xs:element type="xs:date" name="enddate" minOccurs="1" maxOccurs="1"/>
																														</xs:sequence>
																													</xs:complexType>
																												</xs:element>
																											</xs:sequence>
																										</xs:complexType>
																									</xs:element>
																									<xs:element type="xs:boolean" name="defaultindicator" minOccurs="0" maxOccurs="1"/>
																								</xs:sequence>
																							</xs:complexType>
																						</xs:element>	
																					</xs:sequence>
																				</xs:complexType>
																			</xs:element>
																		</xs:sequence>
																	</xs:complexType>
																</xs:element>
															</xs:sequence>
														</xs:complexType>
													</xs:element>	
												</xs:sequence>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="mixins" minOccurs="0" maxOccurs="1">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="soa_mdg_businesspartner" minOccurs="0" maxOccurs="1">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="businessPartner" minOccurs="1" maxOccurs="1">
														<xs:complexType>
															<xs:sequence>
																<xs:element type="xs:string" name="uuid" minOccurs="0" maxOccurs="1"/>
																<xs:element type="xs:string" name="categorycode" minOccurs="0" maxOccurs="1"/>
															</xs:sequence>
														</xs:complexType>
													</xs:element>
												</xs:sequence>
											</xs:complexType>
										</xs:element> 
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>