Resources/canonical_library/xsd/XSD_af445f299b4365d11da99c0a5aa97aac951ff2a3.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="qualified">
   <xs:element name="root">
      <xs:complexType>
         <xs:sequence>
            <xs:element name="vehicleIdentifyingElements">
               <xs:complexType>
                  <xs:sequence>
                     <xs:element type="xs:string" name="externalID" />
                     <xs:element type="xs:string" name="vin" maxOccurs="1" minOccurs="0" />
                  </xs:sequence>
               </xs:complexType>
            </xs:element>
            <xs:element type="xs:date" name="buildDate" maxOccurs="1" minOccurs="0" />
            <xs:element type="xs:string" name="batchNumber" maxOccurs="1" minOccurs="0" />
            <xs:element type="xs:string" name="vehicleImageUrl" maxOccurs="1" minOccurs="0" />
            <xs:element type="xs:string" name="procurementNumber" maxOccurs="1" minOccurs="0" />
            <xs:element type="xs:string" name="plannedIndicator" maxOccurs="1" minOccurs="0" />
            <xs:element type="xs:string" name="sourceSystemID" maxOccurs="1" minOccurs="0" />
			<xs:element type="xs:string" name="procurementCompleteTransmissionIndicator" maxOccurs="1" minOccurs="0" />
			<xs:element type="xs:string" name="descriptionCompleteTransmissionIndicator" maxOccurs="1" minOccurs="0" />
			<xs:element type="xs:string" name="vehicleSpecificationCompleteTransmissionIndicator" maxOccurs="1" minOccurs="0" />
			<xs:element type="xs:string" name="invoiceCompleteTransmissionIndicator" maxOccurs="1" minOccurs="0" />
			<xs:element type="xs:string" name="salesCompleteTransmissionIndicator" maxOccurs="1" minOccurs="0" />
			<xs:element type="xs:string" name="sourceSystemStatusCompleteTransmissionIndicator" maxOccurs="1" minOccurs="0" />
            <xs:element name="description" maxOccurs="unbounded" minOccurs="1">
               <xs:complexType>
                  <xs:sequence>
                     <xs:element type="xs:string" name="language" maxOccurs="1" minOccurs="0" />
                     <xs:element type="xs:string" name="short" />
                     <xs:element type="xs:long" name="long" maxOccurs="1" minOccurs="0" />
                  </xs:sequence>
               </xs:complexType>
            </xs:element>
            <xs:element name="modelSpecification" maxOccurs="1" minOccurs="0">
               <xs:complexType>
                  <xs:sequence>
                     <xs:element type="xs:string" name="modelExternalID" maxOccurs="1" minOccurs="0" />
                     <xs:element type="xs:string" name="modelName" maxOccurs="1" minOccurs="0" />
                     <xs:element type="xs:string" name="manufacturerName" maxOccurs="1" minOccurs="0" />
                  </xs:sequence>
               </xs:complexType>
            </xs:element>
            <xs:element name="vehicleSpecification" maxOccurs="1" minOccurs="0">
               <xs:complexType>
                  <xs:sequence>
                     <xs:element type="xs:string" name="interiorColor" maxOccurs="1" minOccurs="0" />
                     <xs:element type="xs:string" name="upholstery" maxOccurs="1" minOccurs="0" />
                     <xs:element type="xs:string" name="upholsteryColor" maxOccurs="1" minOccurs="0" />
                     <xs:element type="xs:string" name="exteriorColor" maxOccurs="1" minOccurs="0" />
                     <xs:element type="xs:string" name="wheelType" maxOccurs="1" minOccurs="0" />
                     <xs:element type="xs:string" name="homologationNumber" maxOccurs="1" minOccurs="0" />
					 <xs:element type="xs:string" name="tireSize" maxOccurs="1" minOccurs="0"/>
                     <xs:element name="rimSize" maxOccurs="1" minOccurs="0">
                        <xs:complexType>
                           <xs:sequence>
                              <xs:element type="xs:string" name="uom" />
                              <xs:element type="xs:byte" name="value" />
                           </xs:sequence>
                        </xs:complexType>
                     </xs:element>    
                     <xs:element name="odometerReading" maxOccurs="1" minOccurs="0">
                        <xs:complexType>
                           <xs:sequence>
                              <xs:element type="xs:string" name="uom" />
                              <xs:element type="xs:float" name="value" />
                           </xs:sequence>
                        </xs:complexType>
                     </xs:element>
                     <xs:element type="xs:string" name="usedVehicle" maxOccurs="1" minOccurs="0" />
                     <xs:element type="xs:string" name="keyCode" maxOccurs="1" minOccurs="0" />
                     <xs:element type="xs:string" name="radioCode" maxOccurs="1" minOccurs="0" />
                     <xs:element type="xs:string" name="navigationCode" maxOccurs="1" minOccurs="0" />
                     <xs:element type="xs:string" name="userStatus1Code" maxOccurs="1" minOccurs="0" />
                     <xs:element type="xs:string" name="userStatus1Name" maxOccurs="1" minOccurs="0" />
                     <xs:element type="xs:string" name="userStatus2Code" maxOccurs="1" minOccurs="0" />
                     <xs:element type="xs:string" name="userStatus2Name" maxOccurs="1" minOccurs="0" />
                     <xs:element name="template" maxOccurs="unbounded" minOccurs="0">
                        <xs:complexType>
                           <xs:sequence>
                              <xs:element type="xs:string" name="id" />
                              <xs:element name="attributeGroup" maxOccurs="unbounded" minOccurs="1">
                                 <xs:complexType>
                                    <xs:sequence>
                                       <xs:element type="xs:string" name="id" />
                                       <xs:element name="attribute" maxOccurs="unbounded" minOccurs="1">
                                          <xs:complexType>
                                             <xs:sequence>
                                                <xs:element type="xs:string" name="id" />
                                                <xs:element name="value" maxOccurs="unbounded" minOccurs="0" >
													<xs:simpleType>
															<xs:list itemType="xs:string" />
													</xs:simpleType>
												</xs:element>
                                                <xs:element type="xs:string" name="minValue" maxOccurs="1" minOccurs="0" />
                                                <xs:element type="xs:string" name="maxValue" maxOccurs="1" minOccurs="0" />
                                                <xs:element type="xs:string" name="uom" maxOccurs="1" minOccurs="0" />
                                             </xs:sequence>
                                          </xs:complexType>
                                       </xs:element>
                                    </xs:sequence>
                                 </xs:complexType>
                              </xs:element>
                           </xs:sequence>
                        </xs:complexType>
                     </xs:element>
                  </xs:sequence>
               </xs:complexType>
            </xs:element>
            <xs:element name="location" maxOccurs="1" minOccurs="0">
               <xs:complexType>
                  <xs:sequence>
                     <xs:element type="xs:string" name="externalID" maxOccurs="1" minOccurs="0" />
                     <xs:element type="xs:string" name="details" maxOccurs="1" minOccurs="0" />
                  </xs:sequence>
               </xs:complexType>
            </xs:element>
            <xs:element name="invoice" maxOccurs="unbounded" minOccurs="0">
               <xs:complexType>
                  <xs:sequence>
                     <xs:element type="xs:string" name="categoryCode" />
                     <xs:element type="xs:string" name="typeCode" />
                     <xs:element type="xs:string" name="number" />
                     <xs:element type="xs:string" name="itemNumber" />
                     <xs:element type="xs:date" name="date" maxOccurs="1" minOccurs="0" />
                     <xs:element type="xs:string" name="currency" maxOccurs="1" minOccurs="0" />
                     <xs:element type="xs:string" name="netAmount" maxOccurs="1" minOccurs="0" />
                     <xs:element type="xs:string" name="paymentStatusCode" maxOccurs="1" minOccurs="0" />
                     <xs:element type="xs:date" name="paymentDate" maxOccurs="1" minOccurs="0" />
                     <xs:element type="xs:string" name="paidAmount" maxOccurs="1" minOccurs="0" />
                     <xs:element type="xs:string" name="counterPartyID" maxOccurs="1" minOccurs="0" />
                     <xs:element type="xs:string" name="counterPartyName" maxOccurs="1" minOccurs="0" />
                     <xs:element type="xs:string" name="cancelledInvoice" maxOccurs="1" minOccurs="0" />
                     <xs:element type="xs:string" name="cancellationInvoice" maxOccurs="1" minOccurs="0" />
                     <xs:element type="xs:string" name="cancelledInvoiceNumber" maxOccurs="1" minOccurs="0" />
                     <xs:element type="xs:string" name="sourceSystemID" maxOccurs="1" minOccurs="0" />
                     <xs:element type="xs:string" name="additionalText" maxOccurs="1" minOccurs="0" />
                  </xs:sequence>
               </xs:complexType>
            </xs:element>
            <xs:element name="procurement" maxOccurs="unbounded" minOccurs="0">
               <xs:complexType>
                  <xs:sequence>
                     <xs:element type="xs:string" name="supplierID" maxOccurs="1" minOccurs="0" />
                     <xs:element type="xs:string" name="supplierName" maxOccurs="1" minOccurs="0" />
                     <xs:element type="xs:string" name="documentNumber" />
                     <xs:element type="xs:string" name="itemNumber" />
                     <xs:element type="xs:date" name="date" />
                     <xs:element type="xs:string" name="currency" maxOccurs="1" minOccurs="0" />
                     <xs:element type="xs:string" name="typeCode" />
                     <xs:element type="xs:string" name="sourceSystemID" maxOccurs="1" minOccurs="0" />
                     <xs:element type="xs:string" name="plantID" maxOccurs="1" minOccurs="0" />
                     <xs:element type="xs:string" name="plantName" maxOccurs="1" minOccurs="0" />
                     <xs:element type="xs:string" name="statusCode" maxOccurs="1" minOccurs="0" />
                     <xs:element type="xs:string" name="costCenterNumber" maxOccurs="1" minOccurs="0" />
                     <xs:element type="xs:string" name="costCenterDescription" maxOccurs="1" minOccurs="0" />
                     <xs:element type="xs:string" name="assetNumber" maxOccurs="1" minOccurs="0" />
                     <xs:element type="xs:string" name="internalOrderNumber" maxOccurs="1" minOccurs="0" />
                     <xs:element type="xs:string" name="leasingContractID" maxOccurs="1" minOccurs="0" />
                     <xs:element type="xs:date" name="contractStartDate" maxOccurs="1" minOccurs="0" />
                     <xs:element type="xs:date" name="contractEndDate" maxOccurs="1" minOccurs="0" />
                     <xs:element type="xs:string" name="paymentFrequencyCode" maxOccurs="1" minOccurs="0" />
                     <xs:element type="xs:string" name="amount" maxOccurs="1" minOccurs="0" />
                     <xs:element type="xs:string" name="serviceRateFrequencyCode" maxOccurs="1" minOccurs="0" />
                     <xs:element type="xs:string" name="serviceAmount" maxOccurs="1" minOccurs="0" />
                     <xs:element type="xs:string" name="earlyTerminationChargeAmount" maxOccurs="1" minOccurs="0" />
                     <xs:element type="xs:string" name="mileageLimit" maxOccurs="1" minOccurs="0" />
                     <xs:element type="xs:string" name="mileageLimitUoMCode" maxOccurs="1" minOccurs="0" />
                     <xs:element type="xs:string" name="organizationID" maxOccurs="1" minOccurs="0" />
                     <xs:element type="xs:string" name="organizationName" maxOccurs="1" minOccurs="0" />
                     <xs:element type="xs:string" name="groupID" maxOccurs="1" minOccurs="0" />
                     <xs:element type="xs:string" name="groupName" maxOccurs="1" minOccurs="0" />
                     <xs:element type="xs:string" name="companyCode" maxOccurs="1" minOccurs="0" />
                     <xs:element type="xs:string" name="companyName" maxOccurs="1" minOccurs="0" />
                     <xs:element type="xs:string" name="additionalText" maxOccurs="1" minOccurs="0" />
                  </xs:sequence>
               </xs:complexType>
            </xs:element>
            <xs:element name="sales" maxOccurs="unbounded" minOccurs="0">
               <xs:complexType>
                  <xs:sequence>
                     <xs:element type="xs:string" name="soldToPartyID" maxOccurs="1" minOccurs="0" />
                     <xs:element type="xs:string" name="soldToPartyName" maxOccurs="1" minOccurs="0" />
                     <xs:element type="xs:string" name="documentNumber" />
                     <xs:element type="xs:string" name="itemNumber" />
                     <xs:element type="xs:date" name="date" maxOccurs="1" minOccurs="0" />
                     <xs:element type="xs:string" name="currency" maxOccurs="1" minOccurs="0" />
                     <xs:element type="xs:string" name="amount" maxOccurs="1" minOccurs="0" />
                     <xs:element type="xs:string" name="organizationID" maxOccurs="1" minOccurs="0" />
                     <xs:element type="xs:string" name="organizationName" maxOccurs="1" minOccurs="0" />
                     <xs:element type="xs:string" name="divisionID" maxOccurs="1" minOccurs="0" />
                     <xs:element type="xs:string" name="divisionName" maxOccurs="1" minOccurs="0" />
                     <xs:element type="xs:string" name="channelID" maxOccurs="1" minOccurs="0" />
                     <xs:element type="xs:string" name="channelName" maxOccurs="1" minOccurs="0" />
                     <xs:element type="xs:string" name="statusCode" maxOccurs="1" minOccurs="0" />
                     <xs:element type="xs:string" name="additionalText" maxOccurs="1" minOccurs="0" />
                     <xs:element type="xs:string" name="sourceSystemID" maxOccurs="1" minOccurs="0" />
                  </xs:sequence>
               </xs:complexType>
            </xs:element>
         <xs:element name="serviceHistory" maxOccurs="unbounded" minOccurs="0">
               <xs:complexType>
                  <xs:sequence>
                     <xs:element type="xs:string" name="serviceOrderNumber" maxOccurs="1" minOccurs="0" />
                     <xs:element type="xs:string" name="serviceOrderItemNumber" maxOccurs="1" minOccurs="0" />
                     <xs:element type="xs:date" name="completionDate" maxOccurs="1" minOccurs="0" />
                     <xs:element type="xs:string" name="typeCode" maxOccurs="1" minOccurs="0" />
                     <xs:element type="xs:string" name="supplierName" maxOccurs="1" minOccurs="0" />
                     <xs:element type="xs:string" name="statusCode" maxOccurs="1" minOccurs="0" />
                     <xs:element type="xs:float" name="mileage" maxOccurs="1" minOccurs="0" />
                     <xs:element type="xs:string" name="mileageUomCode" maxOccurs="1" minOccurs="0" />
                     <xs:element type="xs:string" name="additionalText" maxOccurs="1" minOccurs="0" />	
                     <xs:element type="xs:float" name="netAmount" maxOccurs="1" minOccurs="0" />
                     <xs:element type="xs:string" name="currency" maxOccurs="1" minOccurs="0" />
					      <xs:element type="xs:string" name="sourceSystemID" maxOccurs="1" minOccurs="0" />
                  </xs:sequence>
               </xs:complexType>
            </xs:element>
            <xs:element name="sourceSystemStatus" maxOccurs="unbounded" minOccurs="0">
               <xs:complexType>
                  <xs:sequence>
                     <xs:element type="xs:string" name="statusID" maxOccurs="1" minOccurs="0" />
                     <xs:element type="xs:string" name="dateTime" maxOccurs="1" minOccurs="0" />
                     <xs:element type="xs:string" name="code" maxOccurs="1" minOccurs="0" />
					 <xs:element type="xs:string" name="sourceSystemID" maxOccurs="1" minOccurs="0" />
                  </xs:sequence>
               </xs:complexType>
            </xs:element>
         </xs:sequence>
      </xs:complexType>
   </xs:element>
</xs:schema>