Resources/canonical_library/xsd/XSD_5581cd3e931eabc33584b09d1de2df8945faf02a.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="root">
    <xs:complexType>
      <xs:sequence>
        <xs:element type="xs:byte" name="companyCode"/>
        <xs:element type="xs:string" name="description"/>
        <xs:element type="xs:string" name="internalOrder"/>
        <xs:element type="xs:byte" name="maxRows"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>