Resources/canonical_library/xsd/XSD_470b244e3da9e6be598b8bed7e08e6fe67135019.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="qualified">
   <xs:element name="root">
      <xs:complexType>
         <xs:sequence>
            <xs:element name="activities" maxOccurs="unbounded" minOccurs="0">
               <xs:complexType>
                  <xs:sequence>
                     <xs:element type="xs:string" name="temp_Category" minOccurs="0" />
                     <xs:element type="xs:string" name="temp_ItemId" minOccurs="0" />
                     <xs:element name="address" minOccurs="0">
                        <xs:complexType>
                           <xs:sequence>
                              <xs:element type="xs:string" name="city" minOccurs="0" />
                              <xs:element type="xs:string" name="country" minOccurs="0" />
                              <xs:element type="xs:string" name="source" minOccurs="0" />
                              <xs:element type="xs:string" name="sourceId" minOccurs="0" />
                              <xs:element type="xs:string" name="state" minOccurs="0" />
                              <xs:element type="xs:string" name="street" minOccurs="0" />
                              <xs:element type="xs:string" name="streetNumber" minOccurs="0" />
                              <xs:element type="xs:string" name="zipCode" minOccurs="0" />
                           </xs:sequence>
                        </xs:complexType>
                     </xs:element>
                     <xs:element type="xs:string" name="code" maxOccurs="unbounded" minOccurs="0" />
                     <xs:element name="contact" maxOccurs="unbounded" minOccurs="0">
                        <xs:complexType>
                           <xs:sequence>
                              <xs:element type="xs:string" name="code" minOccurs="0" />
                              <xs:element type="xs:string" name="externalId" minOccurs="0" />
                              <xs:element type="xs:string" name="id" minOccurs="0" />
                           </xs:sequence>
                        </xs:complexType>
                     </xs:element>
                     <xs:element name="createPerson" minOccurs="0">
                        <xs:complexType>
                           <xs:sequence>
                              <xs:element type="xs:string" name="code" minOccurs="0" />
                              <xs:element type="xs:string" name="externalId" minOccurs="0" />
                              <xs:element type="xs:string" name="id" minOccurs="0" />
                           </xs:sequence>
                        </xs:complexType>
                     </xs:element>
                     <xs:element type="xs:dateTime" name="dueDateTime" minOccurs="0" />
                     <xs:element type="xs:byte" name="durationInMinutes" minOccurs="0" />
                     <xs:element type="xs:dateTime" name="earliestStartDateTime" minOccurs="0" />
                     <xs:element name="region" maxOccurs="1" minOccurs="0">
                       <xs:complexType>
                          <xs:sequence>
                             <xs:element type="xs:string" name="id" maxOccurs="unbounded" minOccurs="0" />
                             <xs:element type="xs:string" name="code" maxOccurs="unbounded" minOccurs="0" />
                             <xs:element type="xs:string" name="externalId" maxOccurs="unbounded" minOccurs="0" />
                          </xs:sequence>
                       </xs:complexType>
                    </xs:element>
                     <xs:element name="equipment" maxOccurs="1" minOccurs="0">
                        <xs:complexType>
                           <xs:sequence>
                              <xs:element type="xs:string" name="code" minOccurs="0" />
                              <xs:element type="xs:string" name="externalId" minOccurs="0" />
                              <xs:element type="xs:string" name="id" minOccurs="0" />
                           </xs:sequence>
                        </xs:complexType>
                     </xs:element>
                     <xs:element type="xs:string" name="externalId" minOccurs="0" />
                     <xs:element type="xs:byte" name="lastChanged" minOccurs="0" />
                     <xs:element type="xs:string" name="remarks" minOccurs="0" />
                     <xs:element name="reservedMaterials" maxOccurs="unbounded" minOccurs="0">
                        <xs:complexType>
                           <xs:sequence>
                              <xs:element type="xs:string" name="externalId" minOccurs="0" />
                              <xs:element type="xs:string" name="id" minOccurs="0" />
                              <xs:element name="item" maxOccurs="unbounded" minOccurs="0">
                                 <xs:complexType>
                                    <xs:sequence>
                                       <xs:element type="xs:string" name="code" maxOccurs="unbounded" minOccurs="0" />
                                       <xs:element type="xs:string" name="externalId" maxOccurs="unbounded" minOccurs="0" />
                                       <xs:element type="xs:string" name="id" maxOccurs="unbounded" minOccurs="0" />
                                    </xs:sequence>
                                 </xs:complexType>
                              </xs:element>
                              <xs:element type="xs:byte" name="moved" minOccurs="0" />
                              <xs:element type="xs:byte" name="quantity" minOccurs="0" />
                              <xs:element name="serialNumber" maxOccurs="unbounded" minOccurs="0">
                                 <xs:complexType>
                                    <xs:sequence>
                                       <xs:element type="xs:string" name="code" maxOccurs="unbounded" minOccurs="0" />
                                       <xs:element type="xs:string" name="externalId" maxOccurs="unbounded" minOccurs="0" />
                                       <xs:element type="xs:string" name="id" maxOccurs="unbounded" minOccurs="0" />
                                    </xs:sequence>
                                 </xs:complexType>
                              </xs:element>
                              <xs:element type="xs:byte" name="shipped" minOccurs="0" />
                              <xs:element type="xs:byte" name="used" minOccurs="0" />
                              <xs:element name="warehouse" maxOccurs="unbounded" minOccurs="0">
                                 <xs:complexType>
                                    <xs:sequence>
                                       <xs:element type="xs:string" name="code" maxOccurs="unbounded" minOccurs="0" />
                                       <xs:element type="xs:string" name="externalId" maxOccurs="unbounded" minOccurs="0" />
                                       <xs:element type="xs:string" name="id" maxOccurs="unbounded" minOccurs="0" />
                                    </xs:sequence>
                                 </xs:complexType>
                              </xs:element>
                           </xs:sequence>
                        </xs:complexType>
                     </xs:element>
                     <xs:element type="xs:string" name="subject" minOccurs="0" />
		   <xs:element name="serviceProduct" maxOccurs="unbounded" minOccurs="0">
                        <xs:complexType>
                           <xs:sequence>
                              <xs:element type="xs:string" name="code" minOccurs="0" />
                              <xs:element type="xs:string" name="externalId" minOccurs="0" />
                              <xs:element type="xs:string" name="id" minOccurs="0" />
                           </xs:sequence>
                        </xs:complexType>
                     </xs:element>
                  </xs:sequence>
               </xs:complexType>
            </xs:element>
            <xs:element name="address" maxOccurs="unbounded" minOccurs="0">
               <xs:complexType>
                  <xs:sequence>
                     <xs:element type="xs:string" name="city" minOccurs="0" />
                     <xs:element type="xs:string" name="country" minOccurs="0" />
                     <xs:element type="xs:string" name="source" minOccurs="0" />
                     <xs:element type="xs:string" name="sourceId" minOccurs="0" />
                     <xs:element type="xs:string" name="state" minOccurs="0" />
                     <xs:element type="xs:string" name="street" minOccurs="0" />
                     <xs:element type="xs:string" name="streetNumber" minOccurs="0" />
                     <xs:element type="xs:string" name="zipCode" minOccurs="0" />
                  </xs:sequence>
               </xs:complexType>
            </xs:element>
            <xs:element name="businessPartner" maxOccurs="unbounded" minOccurs="0">
               <xs:complexType>
                  <xs:sequence>
                     <xs:element type="xs:string" name="code" minOccurs="0" />
                     <xs:element type="xs:string" name="externalId" minOccurs="0" />
                     <xs:element type="xs:string" name="id" minOccurs="0" />
                  </xs:sequence>
               </xs:complexType>
            </xs:element>
            <xs:element type="xs:string" name="code" minOccurs="0" />
            <xs:element name="contact" maxOccurs="unbounded" minOccurs="0">
               <xs:complexType>
                  <xs:sequence>
                     <xs:element type="xs:string" name="code" minOccurs="0" />
                     <xs:element type="xs:string" name="externalId" minOccurs="0" />
                     <xs:element type="xs:string" name="id" minOccurs="0" />
                  </xs:sequence>
               </xs:complexType>
            </xs:element>
            <xs:element name="createPerson" minOccurs="0">
               <xs:complexType>
                  <xs:sequence>
                     <xs:element type="xs:string" name="code" minOccurs="0" />
                     <xs:element type="xs:string" name="externalId" minOccurs="0" />
                     <xs:element type="xs:string" name="id" minOccurs="0" />
                  </xs:sequence>
               </xs:complexType>
            </xs:element>
            <xs:element type="xs:dateTime" name="dueDateTime" minOccurs="0" />
            <xs:element type="xs:byte" name="durationInMinutes" minOccurs="0" />
            <xs:element type="xs:dateTime" name="earliestStartDateTime" minOccurs="0" />
            <xs:element name="equipments" maxOccurs="unbounded" minOccurs="0">
               <xs:complexType>
                  <xs:sequence>
                     <xs:element type="xs:string" name="code" minOccurs="0" />
                     <xs:element type="xs:string" name="externalId" minOccurs="0" />
                      <xs:element type="xs:string" name="ObjectCategory" minOccurs="0" />
                     <xs:element type="xs:string" name="id" minOccurs="0" />
                  </xs:sequence>
               </xs:complexType>
            </xs:element>
            <xs:element type="xs:string" name="externalId" minOccurs="0" />
            <xs:element type="xs:byte" name="lastChanged" minOccurs="0" />
            <xs:element type="xs:string" name="origin" minOccurs="0" />
            <xs:element type="xs:string" name="priority" minOccurs="0" />
            <xs:element type="xs:string" name="problemType" minOccurs="0" />
            <xs:element type="xs:string" name="remarks" minOccurs="0" />
            <xs:element name="reservedMaterials" maxOccurs="unbounded" minOccurs="0">
               <xs:complexType>
                  <xs:sequence>
                     <xs:element type="xs:string" name="temp_ParentItem" minOccurs="0" />
                     <xs:element type="xs:string" name="externalId" minOccurs="0" />
                     <xs:element type="xs:string" name="id" minOccurs="0" />
                     <xs:element name="item" maxOccurs="unbounded" minOccurs="0">
                        <xs:complexType>
                           <xs:sequence>
                              <xs:element type="xs:string" name="code" maxOccurs="unbounded" minOccurs="0" />
                              <xs:element type="xs:string" name="externalId" maxOccurs="unbounded" minOccurs="0" />
                              <xs:element type="xs:string" name="id" maxOccurs="unbounded" minOccurs="0" />
                           </xs:sequence>
                        </xs:complexType>
                     </xs:element>
                     <xs:element type="xs:byte" name="moved" minOccurs="0" />
                     <xs:element type="xs:byte" name="quantity" minOccurs="0" />
                     <xs:element name="serialNumber" maxOccurs="unbounded" minOccurs="0">
                        <xs:complexType>
                           <xs:sequence>
                              <xs:element type="xs:string" name="code" maxOccurs="unbounded" minOccurs="0" />
                              <xs:element type="xs:string" name="externalId" maxOccurs="unbounded" minOccurs="0" />
                              <xs:element type="xs:string" name="id" maxOccurs="unbounded" minOccurs="0" />
                           </xs:sequence>
                        </xs:complexType>
                     </xs:element>
                     <xs:element type="xs:byte" name="shipped" minOccurs="0" />
                     <xs:element type="xs:byte" name="used" minOccurs="0" />
                     <xs:element name="warehouse" maxOccurs="unbounded" minOccurs="0">
                        <xs:complexType>
                           <xs:sequence>
                              <xs:element type="xs:string" name="code" maxOccurs="unbounded" minOccurs="0" />
                              <xs:element type="xs:string" name="externalId" maxOccurs="unbounded" minOccurs="0" />
                              <xs:element type="xs:string" name="id" maxOccurs="unbounded" minOccurs="0" />
                           </xs:sequence>
                        </xs:complexType>
                     </xs:element>
                  </xs:sequence>
               </xs:complexType>
            </xs:element>
            <xs:element type="xs:string" name="resolution" minOccurs="0" />
            <xs:element name="responsibles" maxOccurs="unbounded" minOccurs="0">
               <xs:complexType>
                  <xs:sequence>
                     <xs:element type="xs:string" name="code" maxOccurs="unbounded" minOccurs="0" />
                     <xs:element type="xs:string" name="externalId" maxOccurs="unbounded" minOccurs="0" />
                     <xs:element type="xs:string" name="id" maxOccurs="unbounded" minOccurs="0" />
                  </xs:sequence>
               </xs:complexType>
            </xs:element>
            <xs:element name="serviceContract" maxOccurs="unbounded" minOccurs="0">
                <xs:complexType>
                   <xs:sequence>
                      <xs:element type="xs:string" name="code" minOccurs="0" />
                      <xs:element type="xs:string" name="externalId" minOccurs="0" />
                      <xs:element type="xs:string" name="id" minOccurs="0" />
                   </xs:sequence>
                </xs:complexType>
             </xs:element>
            <xs:element type="xs:string" name="status" minOccurs="0" />
            <xs:element type="xs:string" name="subject" minOccurs="0" />
            <xs:element type="xs:string" name="type" minOccurs="0" />
         </xs:sequence>
      </xs:complexType>
   </xs:element>
</xs:schema>