Resources/canonical_library/xsd/XSD_2e37347c0bbcc4b4c17d074f50fdd2dc55705dd3.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="root">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="Record" maxOccurs="unbounded" minOccurs="0">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="TrxType">
							  <xs:simpleType>
							    <xs:restriction base="xs:string">
							      <xs:maxLength value = "3"/>
							    </xs:restriction>
							  </xs:simpleType>
							</xs:element>
							<xs:element name="EmployeeID">
							  <xs:simpleType>
							    <xs:restriction base="xs:string">
							      <xs:maxLength value = "48"/>
							    </xs:restriction>
							  </xs:simpleType>
							</xs:element>
							<xs:element name="NamePrefix">
							  <xs:simpleType>
							    <xs:restriction base="xs:string">
							      <xs:maxLength value = "60"/>
							    </xs:restriction>
							  </xs:simpleType>
							</xs:element>
							<xs:element name="NameSuffix">
							  <xs:simpleType>
							    <xs:restriction base="xs:string">
							      <xs:maxLength value = "60"/>
							    </xs:restriction>
							  </xs:simpleType>
							</xs:element>
							<xs:element name="NickName">
							  <xs:simpleType>
							    <xs:restriction base="xs:string">
							      <xs:maxLength value = "60"/>
							    </xs:restriction>
							  </xs:simpleType>
							</xs:element>
							<xs:element name="RedressNumber">
							  <xs:simpleType>
							    <xs:restriction base="xs:string">
							      <xs:maxLength value = "13"/>
							    </xs:restriction>
							  </xs:simpleType>
							</xs:element>
							<xs:element name="Gender">
							  <xs:simpleType>
							    <xs:restriction base="xs:string">
							      <xs:maxLength value = "1"/>
							    </xs:restriction>
							  </xs:simpleType>
							</xs:element>
							<xs:element name="DateOfBirth">
							  <xs:simpleType>
							    <xs:restriction base="xs:string">
							      <xs:maxLength value = "10"/>
							    </xs:restriction>
							  </xs:simpleType>
							</xs:element>
							<xs:element name="EmployeeIDOftheTravelApprover">
							  <xs:simpleType>
							    <xs:restriction base="xs:string">
							      <xs:maxLength value = "128"/>
							    </xs:restriction>
							  </xs:simpleType>
							</xs:element>
							<xs:element name="JobTitle">
							  <xs:simpleType>
							    <xs:restriction base="xs:string">
							      <xs:maxLength value = "255"/>
							    </xs:restriction>
							  </xs:simpleType>
							</xs:element>
							<xs:element name="WorkPhone">
							  <xs:simpleType>
							    <xs:restriction base="xs:string">
							      <xs:maxLength value = "60"/>
							    </xs:restriction>
							  </xs:simpleType>
							</xs:element>
							<xs:element name="WorkPhoneExtension">
							  <xs:simpleType>
							    <xs:restriction base="xs:string">
							      <xs:maxLength value = "60"/>
							    </xs:restriction>
							  </xs:simpleType>
							</xs:element>
							<xs:element name="WorkFax">
							  <xs:simpleType>
							    <xs:restriction base="xs:string">
							      <xs:maxLength value = "60"/>
							    </xs:restriction>
							  </xs:simpleType>
							</xs:element>
							<xs:element name="HomePhone">
							  <xs:simpleType>
							    <xs:restriction base="xs:string">
							      <xs:maxLength value = "60"/>
							    </xs:restriction>
							  </xs:simpleType>
							</xs:element>
							<xs:element name="CellPhone">
							  <xs:simpleType>
							    <xs:restriction base="xs:string">
							      <xs:maxLength value = "60"/>
							    </xs:restriction>
							  </xs:simpleType>
							</xs:element>
							<xs:element name="PagerPhone">
							  <xs:simpleType>
							    <xs:restriction base="xs:string">
							      <xs:maxLength value = "60"/>
							    </xs:restriction>
							  </xs:simpleType>
							</xs:element>
							<xs:element name="TravelNameRemark">
							  <xs:simpleType>
							    <xs:restriction base="xs:string">
							      <xs:maxLength value = "60"/>
							    </xs:restriction>
							  </xs:simpleType>
							</xs:element>
							<xs:element name="TravelClassName">
							  <xs:simpleType>
							    <xs:restriction base="xs:string">
							      <xs:maxLength value = "60"/>
							    </xs:restriction>
							  </xs:simpleType>
							</xs:element>
							<xs:element name="GDSProfileName">
							  <xs:simpleType>
							    <xs:restriction base="xs:string">
							      <xs:maxLength value = "60"/>
							    </xs:restriction>
							  </xs:simpleType>
							</xs:element>
							<xs:element name="OrgUnitDivision">
							  <xs:simpleType>
							    <xs:restriction base="xs:string">
							      <xs:maxLength value = "60"/>
							    </xs:restriction>
							  </xs:simpleType>
							</xs:element>
							<xs:element name="HomeStreetAddress">
							  <xs:simpleType>
							    <xs:restriction base="xs:string">
							      <xs:maxLength value = "255"/>
							    </xs:restriction>
							  </xs:simpleType>
							</xs:element>
							<xs:element name="HomeCity">
							  <xs:simpleType>
							    <xs:restriction base="xs:string">
							      <xs:maxLength value = "30"/>
							    </xs:restriction>
							  </xs:simpleType>
							</xs:element>
							<xs:element name="HomeState">
							  <xs:simpleType>
							    <xs:restriction base="xs:string">
							      <xs:maxLength value = "30"/>
							    </xs:restriction>
							  </xs:simpleType>
							</xs:element>
							<xs:element name="HomePostalCode">
							  <xs:simpleType>
							    <xs:restriction base="xs:string">
							      <xs:maxLength value = "20"/>
							    </xs:restriction>
							  </xs:simpleType>
							</xs:element>
							<xs:element name="HomeCountry">
							  <xs:simpleType>
							    <xs:restriction base="xs:string">
							      <xs:maxLength value = "2"/>
							    </xs:restriction>
							  </xs:simpleType>
							</xs:element>
							<xs:element name="WorkStreetAddress">
							  <xs:simpleType>
							    <xs:restriction base="xs:string">
							      <xs:maxLength value = "255"/>
							    </xs:restriction>
							  </xs:simpleType>
							</xs:element>
							<xs:element name="WorkCity">
							  <xs:simpleType>
							    <xs:restriction base="xs:string">
							      <xs:maxLength value = "30"/>
							    </xs:restriction>
							  </xs:simpleType>
							</xs:element>
							<xs:element name="WorkState">
							  <xs:simpleType>
							    <xs:restriction base="xs:string">
							      <xs:maxLength value = "30"/>
							    </xs:restriction>
							  </xs:simpleType>
							</xs:element>
							<xs:element name="WorkPostalCode">
							  <xs:simpleType>
							    <xs:restriction base="xs:string">
							      <xs:maxLength value = "20"/>
							    </xs:restriction>
							  </xs:simpleType>
							</xs:element>
							<xs:element name="WorkCountry">
							  <xs:simpleType>
							    <xs:restriction base="xs:string">
							      <xs:maxLength value = "2"/>
							    </xs:restriction>
							  </xs:simpleType>
							</xs:element>
							<xs:element name="Email2">
							  <xs:simpleType>
							    <xs:restriction base="xs:string">
							      <xs:maxLength value = "255"/>
							    </xs:restriction>
							  </xs:simpleType>
							</xs:element>
							<xs:element name="Email3">
							  <xs:simpleType>
							    <xs:restriction base="xs:string">
							      <xs:maxLength value = "255"/>
							    </xs:restriction>
							  </xs:simpleType>
							</xs:element>
							<xs:element name="GRNDCompanyCode">
							  <xs:simpleType>
							    <xs:restriction base="xs:string">
							      <xs:maxLength value = "3"/>
							    </xs:restriction>
							  </xs:simpleType>
							</xs:element>
							<xs:element name="GRNDEmployeeID">
							  <xs:simpleType>
							    <xs:restriction base="xs:string">
							      <xs:maxLength value = "48"/>
							    </xs:restriction>
							  </xs:simpleType>
							</xs:element>
							<xs:element name="GRNDGroup">
							  <xs:simpleType>
							    <xs:restriction base="xs:string">
							      <xs:maxLength value = "48"/>
							    </xs:restriction>
							  </xs:simpleType>
							</xs:element>
							<xs:element name="GRNDJobLevel">
							  <xs:simpleType>
							    <xs:restriction base="xs:string">
							      <xs:maxLength value = "48"/>
							    </xs:restriction>
							  </xs:simpleType>
							</xs:element>
							<xs:element name="PremVipInd">
							  <xs:simpleType>
							    <xs:restriction base="xs:string">
							      <xs:maxLength value = "48"/>
							    </xs:restriction>
							  </xs:simpleType>
							</xs:element>
							<xs:element name="ZPin">
							  <xs:simpleType>
							    <xs:restriction base="xs:string">
							      <xs:maxLength value = "48"/>
							    </xs:restriction>
							  </xs:simpleType>
							</xs:element>
							<xs:element name="ZPtaexempt">
							  <xs:simpleType>
							    <xs:restriction base="xs:string">
							      <xs:maxLength value = "48"/>
							    </xs:restriction>
							  </xs:simpleType>
							</xs:element>
							<xs:element name="Custom8">
							  <xs:simpleType>
							    <xs:restriction base="xs:string">
							      <xs:maxLength value = "48"/>
							    </xs:restriction>
							  </xs:simpleType>
							</xs:element>
							<xs:element name="Custom9">
							  <xs:simpleType>
							    <xs:restriction base="xs:string">
							      <xs:maxLength value = "48"/>
							    </xs:restriction>
							  </xs:simpleType>
							</xs:element>
							<xs:element name="Custom10">
							  <xs:simpleType>
							    <xs:restriction base="xs:string">
							      <xs:maxLength value = "48"/>
							    </xs:restriction>
							  </xs:simpleType>
							</xs:element>
							<xs:element name="Custom11">
							  <xs:simpleType>
							    <xs:restriction base="xs:string">
							      <xs:maxLength value = "48"/>
							    </xs:restriction>
							  </xs:simpleType>
							</xs:element>
							<xs:element name="Custom12">
							  <xs:simpleType>
							    <xs:restriction base="xs:string">
							      <xs:maxLength value = "48"/>
							    </xs:restriction>
							  </xs:simpleType>
							</xs:element>
							<xs:element name="Custom13">
							  <xs:simpleType>
							    <xs:restriction base="xs:string">
							      <xs:maxLength value = "48"/>
							    </xs:restriction>
							  </xs:simpleType>
							</xs:element>
							<xs:element name="Custom14">
							  <xs:simpleType>
							    <xs:restriction base="xs:string">
							      <xs:maxLength value = "48"/>
							    </xs:restriction>
							  </xs:simpleType>
							</xs:element>
							<xs:element name="Custom15">
							  <xs:simpleType>
							    <xs:restriction base="xs:string">
							      <xs:maxLength value = "48"/>
							    </xs:restriction>
							  </xs:simpleType>
							</xs:element>
							<xs:element name="Custom16">
							  <xs:simpleType>
							    <xs:restriction base="xs:string">
							      <xs:maxLength value = "48"/>
							    </xs:restriction>
							  </xs:simpleType>
							</xs:element>
							<xs:element name="Custom17">
							  <xs:simpleType>
							    <xs:restriction base="xs:string">
							      <xs:maxLength value = "48"/>
							    </xs:restriction>
							  </xs:simpleType>
							</xs:element>
							<xs:element name="Custom18">
							  <xs:simpleType>
							    <xs:restriction base="xs:string">
							      <xs:maxLength value = "48"/>
							    </xs:restriction>
							  </xs:simpleType>
							</xs:element>
							<xs:element name="Custom19">
							  <xs:simpleType>
							    <xs:restriction base="xs:string">
							      <xs:maxLength value = "48"/>
							    </xs:restriction>
							  </xs:simpleType>
							</xs:element>
							<xs:element name="Custom20">
							  <xs:simpleType>
							    <xs:restriction base="xs:string">
							      <xs:maxLength value = "48"/>
							    </xs:restriction>
							  </xs:simpleType>
							</xs:element>
							<xs:element name="Custom21">
							  <xs:simpleType>
							    <xs:restriction base="xs:string">
							      <xs:maxLength value = "48"/>
							    </xs:restriction>
							  </xs:simpleType>
							</xs:element>
							<xs:element name="Custom22">
							  <xs:simpleType>
							    <xs:restriction base="xs:string">
							      <xs:maxLength value = "48"/>
							    </xs:restriction>
							  </xs:simpleType>
							</xs:element>
							<xs:element name="Custom23">
							  <xs:simpleType>
							    <xs:restriction base="xs:string">
							      <xs:maxLength value = "48"/>
							    </xs:restriction>
							  </xs:simpleType>
							</xs:element>
							<xs:element name="Custom24">
							  <xs:simpleType>
							    <xs:restriction base="xs:string">
							      <xs:maxLength value = "48"/>
							    </xs:restriction>
							  </xs:simpleType>
							</xs:element>
							<xs:element name="Custom25">
							  <xs:simpleType>
							    <xs:restriction base="xs:string">
							      <xs:maxLength value = "48"/>
							    </xs:restriction>
							  </xs:simpleType>
							</xs:element>
							<xs:element name="XMLProfileSynchronizationID">
							  <xs:simpleType>
							    <xs:restriction base="xs:string">
							      <xs:maxLength value = "64"/>
							    </xs:restriction>
							  </xs:simpleType>
							</xs:element>
							<xs:element name="ProfileUserPermission">
							  <xs:simpleType>
							    <xs:restriction base="xs:string">
							      <xs:maxLength value = "1"/>
							    </xs:restriction>
							  </xs:simpleType>
							</xs:element>
							<xs:element name="AmadeusUserPermission">
							  <xs:simpleType>
							    <xs:restriction base="xs:string">
							      <xs:maxLength value = "1"/>
							    </xs:restriction>
							  </xs:simpleType>
							</xs:element>
							<xs:element name="OpenBookingUserPermission">
							  <xs:simpleType>
							    <xs:restriction base="xs:string">
							      <xs:maxLength value = "1"/>
							    </xs:restriction>
							  </xs:simpleType>
							</xs:element>
							<xs:element name="FutureUse5">
							  <xs:simpleType>
							    <xs:restriction base="xs:string">
							      <xs:maxLength value = "1"/>
							    </xs:restriction>
							  </xs:simpleType>
							</xs:element>
							<xs:element name="FutureUse6">
							  <xs:simpleType>
							    <xs:restriction base="xs:string">
							      <xs:maxLength value = "1"/>
							    </xs:restriction>
							  </xs:simpleType>
							</xs:element>
							<xs:element name="FutureUse7">
							  <xs:simpleType>
							    <xs:restriction base="xs:string">
							      <xs:maxLength value = "1"/>
							    </xs:restriction>
							  </xs:simpleType>
							</xs:element>
							<xs:element name="FutureUse8">
							  <xs:simpleType>
							    <xs:restriction base="xs:string">
							      <xs:maxLength value = "1"/>
							    </xs:restriction>
							  </xs:simpleType>
							</xs:element>
							<xs:element name="FutureUse9">
							  <xs:simpleType>
							    <xs:restriction base="xs:string">
							      <xs:maxLength value = "1"/>
							    </xs:restriction>
							  </xs:simpleType>
							</xs:element>
							<xs:element name="FutureUse10">
							  <xs:simpleType>
							    <xs:restriction base="xs:string">
							      <xs:maxLength value = "1"/>
							    </xs:restriction>
							  </xs:simpleType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>