Resources/canonical_library/xsd/XSD_cddac4fc5c514fe5da9cc98acb3f8f598efda474.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="root">
    <xs:complexType>
      <xs:sequence>
      	<xs:element type="xs:string" name="firstName" minOccurs="0" maxOccurs="1"/>
      	<xs:element type="xs:string" name="contactEmail" minOccurs="0" maxOccurs="1"/>
        <xs:element name="metadata">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="mixins">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:string" name="sdcustomer"/>
                    <xs:element type="xs:string" name="iDoc_DEBMAS"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="mixins">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="sdcustomer">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:int" name="sdCustomerNumber"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="iDoc_DEBMAS">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:string" minOccurs="0" maxOccurs="1" name="changedBy"/>
                    <xs:element type="xs:string" minOccurs="0" maxOccurs="1" name="changedAt"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>