Resources/canonical_library/xsd/XSD_c50effef3130a688cb6147e5a75e51f8860f0cbe.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="root">
    <xs:complexType>
      <xs:sequence>
      	<xs:element type="xs:string" name="eventid"/>
      	<xs:element name="surveys" minOccurs="0" maxOccurs="unbounded">
   	  	<xs:complexType>
      	<xs:sequence>
              <xs:element type="xs:string" name="surveyid" minOccurs="0" maxOccurs="1"/>
              <xs:element name="surveyquestions" minOccurs="0" maxOccurs="unbounded">
   	  		  <xs:complexType>
      		  <xs:sequence>
             		 <xs:element type="xs:string" name="questionid" minOccurs="0" maxOccurs="1"/>
             		 <xs:element type="xs:string" name="questiontype" minOccurs="0" maxOccurs="1"/>
             		 <xs:element type="xs:string" name="question" minOccurs="0" maxOccurs="1"/>
             		 <xs:element type="xs:string" name="responses" minOccurs="0" maxOccurs="1"/>
              		 <xs:element name="surveyanswer" minOccurs="0" maxOccurs="unbounded">
   	  		  		 <xs:complexType>
      		 		 <xs:sequence>
             		 		<xs:element type="xs:string" name="answer" minOccurs="0" maxOccurs="1"/>
             		 		<xs:element type="xs:string" name="percentage" minOccurs="0" maxOccurs="1"/>
			  		 </xs:sequence>
    		  		 </xs:complexType>
  			  		 </xs:element>
			  </xs:sequence>
    		  </xs:complexType>
  			  </xs:element>
		 </xs:sequence>
    	</xs:complexType>
  		</xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>