Resources/canonical_library/xsd/XSD_509440773edb7e3f25c72544c55104b35077a53c.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
<xs:element name="root">
    <xs:complexType>
      <xs:sequence>
      	<xs:element type="xs:string" name="eventid"/>
    	<xs:element type="xs:string" name="totalregistrants"/>
        <xs:element name="registrants" minOccurs="0" maxOccurs="unbounded">
        <xs:complexType>
        <xs:sequence>
              <xs:element type="xs:string" name="firstname" minOccurs="0" maxOccurs="1"/>
              <xs:element type="xs:string" name="lastname" minOccurs="0" maxOccurs="1"/>
              <xs:element type="xs:string" name="emailaddress" minOccurs="0" maxOccurs="1"/>
              <xs:element type="xs:string" name="mktgeventparticipantexternalid" minOccurs="0" maxOccurs="1"/>
              <xs:element type="xs:string" name="companyname" minOccurs="0" maxOccurs="1"/>
              <xs:element type="xs:string" name="activitydatetime" minOccurs="0" maxOccurs="1"/>
              <xs:element type="xs:string" name="phone" minOccurs="0" maxOccurs="1"/>
              <xs:element type="xs:string" name="mobile" minOccurs="0" maxOccurs="1"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
