Resources/canonical_library/xsd/XSD_4d86c5cc9067817717010f11d8cbdba28a3d55f1.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- Created with Liquid Technologies Online Tools 1.0 (https://www.liquid-technologies.com) -->
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="root">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Type" minOccurs="0" />
        <xs:element name="ID" minOccurs="0" />
        <xs:element name="Number" minOccurs="0" />
        <xs:element name="MESSAGE" minOccurs="0" />
        <xs:element name="LOG_NO" minOccurs="0" />
        <xs:element name="LOG_MSG_NO" minOccurs="0" />
        <xs:element name="MESSAGE_V1" minOccurs="0" />
        <xs:element name="MESSAGE_V2" minOccurs="0" />
        <xs:element name="MESSAGE_V3" minOccurs="0" />
        <xs:element name="MESSAGE_V4" minOccurs="0" />
        <xs:element name="PARAMETER" minOccurs="0" />
        <xs:element name="ROW" minOccurs="0" />
        <xs:element name="FIELD" minOccurs="0" />
        <xs:element name="SYSTEM" minOccurs="0" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>