Resources/canonical_library/xsd/XSD_67ce60de642a557af1197e55f2bd6c236c9e3539.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="root">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="element" minOccurs="1" maxOccurs="999999">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="sourceSystemId" minOccurs="0" maxOccurs="1"/>
              <xs:element type="xs:string" name="siteId" minOccurs="0" maxOccurs="1"/>
              <xs:element type="xs:string" name="businessDayDate" minOccurs="0" maxOccurs="1"/>
              <xs:element type="xs:integer" name="transactionIndex" minOccurs="0" maxOccurs="1"/>
              <xs:element type="xs:string" name="productId" minOccurs="0" maxOccurs="1"/>
              <xs:element type="xs:string" name="transactionId" minOccurs="0" maxOccurs="1"/>
              <xs:element type="xs:integer" name="sequenceNumber" minOccurs="0" maxOccurs="1"/>
              <xs:element type="xs:string" name="salesUOM" minOccurs="0" maxOccurs="1"/>
              <xs:element type="xs:decimal" name="retailQuantity" minOccurs="0" maxOccurs="1"/>
              <xs:element type="xs:decimal" name="baseQuantity" minOccurs="0" maxOccurs="1"/>
              <xs:element type="xs:string" name="baseUOM" minOccurs="0" maxOccurs="1"/>
              <xs:element type="xs:string" name="beginTimeStamp" minOccurs="0" maxOccurs="1"/>
              <xs:element type="xs:string" name="transCurrency" minOccurs="0" maxOccurs="1"/>
              </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>