Resources/canonical_library/xsd/XSD_bc661f953e588adf90b3321311e79d3de26c32a2.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="root">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="results" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="CompanyCode"/>
              <xs:element type="xs:int" name="PostingDate"/>
	      <xs:element type="xs:string" name="WBSElement"/>
	      <xs:element type="xs:string" name="System"/>
              <xs:element name="item" maxOccurs="unbounded" minOccurs="0">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:long" name="ID"/>
                    <xs:element type="xs:string" name="AssignmentReference"/>
                    <xs:element type="xs:string" name="DocumentItemText"/>
                    <xs:element type="xs:string" name="CompanyCode"/>
                    <xs:element type="xs:string" name="AccountingDocumentType"/>
                    <xs:element type="xs:int" name="GLAccount"/>
                    <xs:element type="xs:int" name="postingDate"/>
                    <xs:element name="AccountAssignment">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element type="xs:string" name="WBSElement"/>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element type="xs:string" name="S4Amount"/>
                    <xs:element type="xs:float" name="TMAmount"/>
                    <xs:element type="xs:float" name="AmountInTransactionCurrency"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>