Resources/canonical_library/xsd/XSD_27901d6bf5cda3e7325289730209cb69ac6c96b9.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="root">
        <xs:complexType>
            <xs:sequence>
                <xs:element type="xs:string" name="ServiceOrder"/>
                <xs:element type="xs:string" name="ServiceReferenceEquipment" minOccurs="0" maxOccurs="unbounded"/>
                <xs:element type="xs:string" name="ServiceOrderIsCompleted" minOccurs="0"/>
				<xs:element type="xs:string" name="ServiceOrderDescription" minOccurs="0"/>
                <xs:element type="xs:string" name="ContactPerson" minOccurs="0"/>
                <xs:element type="xs:string" name="RequestedServiceStartDateTime" minOccurs="0"/>
                <xs:element type="xs:string" name="RequestedServiceEndDateTime" minOccurs="0"/>
                <xs:element type="xs:string" name="ServiceDocumentPriority" minOccurs="0"/>
				<xs:element type="xs:string" name="Remarks" minOccurs="0"/>
				<xs:element type="xs:string" name="Resolution" minOccurs="0"/>
				<xs:element type="xs:string" name="FSMServiceCall" minOccurs="0"/>
                <xs:element name="ServiceOrderItems" minOccurs="0">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="ServiceOrderItemEntity" maxOccurs="unbounded">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element type="xs:string" name="ServiceOrderOutter" minOccurs="0"/>
                                        <xs:element type="xs:string" name="ServiceOrderItem" minOccurs="0"/>
                                        <xs:element type="xs:string" name="ServiceOrderItemDescription" minOccurs="0"/>
                                        <xs:element type="xs:string" name="Product" minOccurs="0"/>
                                        <xs:element type="xs:decimal" name="Quantity" minOccurs="0"/>
                                        <xs:element type="xs:decimal" name="QuantityUnit" minOccurs="0"/>
                                        <xs:element type="xs:string" name="ServiceOrderItemCategory" minOccurs="0"/>
                                        <xs:element type="xs:string" name="PersonResponsible" minOccurs="0"/>
                                        <xs:element type="xs:string" name="ServiceOrderItemIsReleased" minOccurs="0"/>
                                        <xs:element type="xs:string" name="ServiceOrderItemIsCompleted" minOccurs="0"/>
                                        <xs:element type="xs:string" name="ExecutingServiceEmployee" minOccurs="0"/>
                                        <xs:element type="xs:dateTime" name="PlannedServiceStartDateTime" minOccurs="0"/>
                                        <xs:element type="xs:dateTime" name="PlannedServiceEndDateTime" minOccurs="0"/>
                                        <xs:element type="xs:string" name="ParentServiceOrderItem" minOccurs="0"/>
                                        <xs:element type="xs:string" name="ContactPersonBusinessPartnerId" minOccurs="0"/>
                                        <xs:element type="xs:string" name="ServiceReferenceEquipment" minOccurs="0" maxOccurs="unbounded"/>
                                        <xs:element type="xs:decimal" name="ActualServiceDuration" minOccurs="0"/>
                                        <xs:element type="xs:decimal" name="ActualServiceDurationUnit" minOccurs="0"/>
				                        <xs:element type="xs:string" name="FSMServiceActivity" minOccurs="0"/>
										<xs:element name="ServiceOrderItemTexts" minOccurs="0" maxOccurs="1">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="ServiceOrderItemTextEntity" maxOccurs="unbounded">
														<xs:complexType>
															<xs:sequence>
																<xs:element type="xs:string" name="LongText" minOccurs="0" maxOccurs="1"/>
																<xs:element type="xs:string" name="LongTextType"/>
															</xs:sequence>
														</xs:complexType>
													</xs:element>    
												</xs:sequence>
											</xs:complexType>
										</xs:element>	
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>