Resources/canonical_library/xsd/XSD_4bf145fa2435733764e01691ce2ced25e244750e.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="root">
    <xs:complexType>
      <xs:sequence>
        <xs:element type="xs:integer" name="searchCount" minOccurs="0" maxOccurs="1"/>
        <xs:element type="ResultType" name="result" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
   <xs:complexType name="ResultType">
      <xs:sequence>
        <xs:element type="xs:string" name="id" minOccurs="0" maxOccurs="1"/>
        <xs:element type="xs:string" name="title" minOccurs="0" maxOccurs="1"/>
        <xs:element type="xs:string" name="content" minOccurs="0" maxOccurs="1"/>
        <xs:element type="xs:string" name="modifiedTime" minOccurs="0" maxOccurs="1"/>
        <xs:element name="link" minOccurs="0" maxOccurs="unbounded"/>
        <xs:element type="xs:integer" name="score" minOccurs="0" maxOccurs="1"/>
      </xs:sequence>
	</xs:complexType>
</xs:schema>