Resources/canonical_library/xsd/XSD_e0a2e583904b519520a714e5ac30674e626d938f.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="root">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="element" minOccurs="1" maxOccurs="999999">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="product" minOccurs="0" maxOccurs="1"/>
              <xs:element type="xs:string" name="source" minOccurs="0" maxOccurs="1"/>
              <xs:element type="xs:string" name="context" minOccurs="0" maxOccurs="1"/>
              <xs:element type="xs:string" name="logicalSystem" minOccurs="0" maxOccurs="1"/>
              <xs:element type="xs:string" name="calculationDateTime" minOccurs="0" maxOccurs="1"/>
              <xs:element type="xs:string" name="baseUnitOfMeasure" minOccurs="0" maxOccurs="1"/>
              <xs:element name="details" minOccurs="1" maxOccurs="999999">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:string" name="availableFromDate" minOccurs="0" maxOccurs="1"/>
                    <xs:element type="xs:string" name="availableQuantity" minOccurs="0" maxOccurs="1"/>
                    <xs:element type="xs:string" name="baseUnitOfMeasure" minOccurs="0" maxOccurs="1"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>