Resources/canonical_library/xsd/XSD_b67e3b87bc2eb180ea88b845714edfc6d671371f.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="root">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="claimItem" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="material"/>
              <xs:element type="xs:short" name="handle"/>
              <xs:element type="xs:byte" name="handleVersion"/>
              <xs:element type="xs:string" name="itemType"/>
              <xs:element type="xs:byte" name="quantity"/>
              <xs:element type="xs:string" name="unit"/>
              <xs:element type="xs:string" name="subItemType"/>
              <xs:element type="xs:string" name="description"/>
              <xs:element type="xs:string" name="itemKey"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="claimPricing" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:byte" name="refhandle"/>
              <xs:element type="xs:string" name="currency"/>
              <xs:element type="xs:string" name="condType"/>
              <xs:element type="xs:byte" name="totalCost"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element type="xs:byte" name="claimType"/>
        <xs:element type="xs:string" name="personResponsible"/>
        <xs:element type="xs:string" name="supplier"/>
        <xs:element type="xs:string" name="supplierRole"/>
        <xs:element type="xs:string" name="versionCategory"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>