Resources/canonical_library/xsd/XSD_0391144868f70f9d3012480e492948fd425eed4b.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="Message">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="MsgHeader">
					<xs:complexType>
						<xs:sequence>
							<xs:element type="xs:string" name="RestartQueue"/>
							<xs:element type="xs:string" name="EntryID"/>
							<xs:element type="xs:string" name="RetryDataStore"/>
							<xs:element type="xs:string" name="MaxRetryCount"/>
							<xs:element type="xs:string" name="Error"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element type="xs:string" name="Payload"/>
				<xs:element name="Attachments" minOccurs="0">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="Attachment" maxOccurs="unbounded">
								<xs:complexType>
									<xs:sequence>
										<xs:element type="xs:string" name="AttachmentName"/>
										<xs:element type="xs:string" name="AttachmentContentType"/>
										<xs:element type="xs:string" name="AttachmentContent"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>