Resources/canonical_library/xsd/XSD_da94ccdb1b5f54c0de7e8a6b9315a89eefbaeb57.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="root">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="TY_NEW_SM_ORDERS">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="item">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="SM_ORDER" />
                    <xs:element name="DOC_TYPE" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="X_AUSZBELEG" type="xs:unsignedLong" />
              <xs:element name="X_NEWAUSZDAT" type="xs:date" />
              <xs:element name="X_NEWDEPARTUREDATE" type="xs:date" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>