Resources/canonical_library/xsd/XSD_736c71cddfd620f6e9ab2014c4037641f207a8a2.xsd

<xs:schema attributeFormDefault="unqualified"
           elementFormDefault="qualified"
           xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="root">
		<xs:complexType>
			<xs:sequence>
				<xs:element type="xs:string"
				            name="tablename"/>
				<xs:element name="fields">
					<xs:complexType>
						<xs:sequence>
							<xs:element type="xs:string"
							            name="name"/>
							<xs:element type="xs:string"
							            name="soapType"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>