Resources/canonical_library/xsd/XSD_d59fb2a331c16928da615be4de4bb8fb9d226077.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="root">
    <xs:complexType>
      <xs:sequence>
        <xs:element type="xs:string" name="callId"/>
        <xs:element type="xs:byte" name="errorCode"/>
        <xs:element type="xs:byte" name="apiVersion"/>
        <xs:element type="xs:short" name="statusCode"/>
        <xs:element type="xs:string" name="statusReason"/>
        <xs:element type="xs:dateTime" name="time"/>
        <xs:element type="xs:long" name="registeredTimestamp"/>
        <xs:element type="xs:long" name="phoneNumber"/>
        <xs:element type="xs:string" name="UID"/>
        <xs:element type="xs:dateTime" name="created"/>
        <xs:element type="xs:long" name="createdTimestamp"/>
        <xs:element name="groups">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="organizations" maxOccurs="unbounded" minOccurs="0">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:string" name="bpid"/>
                    <xs:element type="xs:string" name="roles"/>
                    <xs:element type="xs:string" name="department"/>
                    <xs:element type="xs:string" name="job"/>
                    <xs:element type="xs:string" name="orgId"/>
                    <xs:element type="xs:string" name="status"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="emails">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="verified" maxOccurs="unbounded" minOccurs="0"/>
              <xs:element type="xs:string" name="unverified" maxOccurs="unbounded" minOccurs="0"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element type="xs:string" name="isActive"/>
        <xs:element type="xs:string" name="isRegistered"/>
        <xs:element type="xs:string" name="isVerified"/>
        <xs:element type="xs:dateTime" name="lastLogin"/>
        <xs:element type="xs:long" name="lastLoginTimestamp"/>
        <xs:element type="xs:dateTime" name="lastUpdated"/>
        <xs:element type="xs:long" name="lastUpdatedTimestamp"/>
        <xs:element type="xs:string" name="loginProvider"/>
        <xs:element type="xs:dateTime" name="oldestDataUpdated"/>
        <xs:element type="xs:long" name="oldestDataUpdatedTimestamp"/>
        <xs:element name="profile">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="firstName"/>
              <xs:element type="xs:string" name="lastName"/>
              <xs:element type="xs:string" name="nickname"/>
              <xs:element type="xs:string" name="email"/>
              <xs:element name="phones" maxOccurs="unbounded" minOccurs="0">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:long" name="number"/>
                    <xs:element type="xs:string" name="type"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element type="xs:dateTime" name="registered"/>
        <xs:element type="xs:string" name="socialProviders"/>
        <xs:element type="xs:dateTime" name="verified"/>
        <xs:element type="xs:long" name="verifiedTimestamp"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>