Resources/canonical_library/xsd/XSD_0e5e7658f8bc72cf20fedb86cb2dba80eb038cde.xsd

<?xml version="1.0" encoding="UTF-8"?>
   <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
         <!-- XML Schema Generated from XML Document on Thu Mar 14 2019 19:46:02 GMT+0530 (India Standard Time) -->
         <!-- with XmlGrid.net Free Online Service http://xmlgrid.net -->
         <xs:element name="root">
               <xs:complexType>
                     <xs:sequence>
                           <xs:element name="Account" type="xs:int" minOccurs="0" maxOccurs="1" />
                           <xs:element name="Contact" type="xs:int" minOccurs="0" maxOccurs="1" />
                           <xs:element name="lifeCycleStatusCode" type="xs:int" minOccurs="0" maxOccurs="1" />
                           <xs:element name="priorityCode" type="xs:int" minOccurs="0" maxOccurs="1" />
                           <xs:element name="processingTypeCode" type="xs:int" minOccurs="0" maxOccurs="1" />
                           <xs:element name="sourceCode" type="xs:int" minOccurs="0" maxOccurs="1" />
                           <xs:element name="subject" type="xs:string" minOccurs="0" maxOccurs="1" />
                     </xs:sequence>
               </xs:complexType>
         </xs:element>
   </xs:schema>