Resources/canonical_library/xsd/XSD_53564990398635b3e8c65421e2c927c319ac3602.xsd

<!-- Created with Liquid Technologies Online Tools 1.0 (https://www.liquid-technologies.com) -->
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="root">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" name="element">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="beanName" />
              <xs:element name="bean">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="ORDERID" type="xs:string" />
                    <xs:element name="LINENUMBER" type="xs:string" />
                    <xs:element name="SUBLINENUMBER" type="xs:string" />
                    <xs:element name="EVENTTYPEID" type="xs:string" />
                    <xs:element name="ACCOUNTINGDATE" type="xs:date" />
                    <xs:element name="PRODUCTID" type="xs:string" />
                    <xs:element name="PRODUCTNAME" type="xs:string" />
                    <xs:element name="PRODUCTDESCRIPTION" type="xs:string" />
                    <xs:element name="VALUE" type="xs:string" />
                    <xs:element name="UNITTYPEFORVALUE" type="xs:string" />
                    <xs:element name="NUMBEROFUNITS" type="xs:string" />
                    <xs:element name="UNITVALUE" type="xs:string" />
                    <xs:element name="UNITTYPEFORUNITVALUE" type="xs:string" />
                    <xs:element name="COMPENSATIONDATE" type="xs:date" />
                    <xs:element name="PAYMENTTERMS" type="xs:string" />
                    <xs:element name="PONUMBER" type="xs:string" />
                    <xs:element name="CHANNEL" type="xs:string" />
                    <xs:element name="ALTERNATEORDERNUMBER" type="xs:string" />
                    <xs:element name="DATASOURCE" type="xs:string" />
                    <xs:element name="NATIVECURRENCY" type="xs:string" />
                    <xs:element name="NATIVECURRENCYAMOUNT" type="xs:string" />
                    <xs:element name="DISCOUNTPERCENT" type="xs:string" />
                    <xs:element name="DISCOUNTTYPE" type="xs:string" />
                    <xs:element name="BILLTOCUSTID" type="xs:string" />
                    <xs:element name="BILLTOCONTACT" type="xs:string" />
                    <xs:element name="BILLTOCOMPANY" type="xs:string" />
                    <xs:element name="BILLTOAREACODE" type="xs:string" />
                    <xs:element name="BILLTOPHONE" type="xs:string" />
                    <xs:element name="BILLTOFAX" type="xs:string" />
                    <xs:element name="BILLTOADDRESS1" type="xs:string" />
                    <xs:element name="BILLTOADDRESS2" type="xs:string" />
                    <xs:element name="BILLTOADDRESS3" type="xs:string" />
                    <xs:element name="BILLTOCITY" type="xs:string" />
                    <xs:element name="BILLTOSTATE" type="xs:string" />
                    <xs:element name="BILLTOCOUNTRY" type="xs:string" />
                    <xs:element name="BILLTOPOSTALCODE" type="xs:string" />
                    <xs:element name="BILLTOINDUSTRY" type="xs:string" />
                    <xs:element name="BILLTOGEOGRAPHY" type="xs:string" />
                    <xs:element name="SHIPTOCUSTID" type="xs:string" />
                    <xs:element name="SHIPTOCONTACT" type="xs:string" />
                    <xs:element name="SHIPTOCOMPANY" type="xs:string" />
                    <xs:element name="SHIPTOAREACODE" type="xs:string" />
                    <xs:element name="SHIPTOPHONE" type="xs:string" />
                    <xs:element name="SHIPTOFAX" type="xs:string" />
                    <xs:element name="SHIPTOADDRESS1" type="xs:string" />
                    <xs:element name="SHIPTOADDRESS2" type="xs:string" />
                    <xs:element name="SHIPTOADDRESS3" type="xs:string" />
                    <xs:element name="SHIPTOCITY" type="xs:string" />
                    <xs:element name="SHIPTOSTATE" type="xs:string" />
                    <xs:element name="SHIPTOCOUNTRY" type="xs:string" />
                    <xs:element name="SHIPTOPOSTALCODE" type="xs:string" />
                    <xs:element name="SHIPTOINDUSTRY" type="xs:string" />
                    <xs:element name="SHIPTOGEOGRAPHY" type="xs:string" />
                    <xs:element name="OTHERTOCUSTID" type="xs:string" />
                    <xs:element name="OTHERTOCONTACT" type="xs:string" />
                    <xs:element name="OTHERTOCOMPANY" type="xs:string" />
                    <xs:element name="OTHERTOAREACODE" type="xs:string" />
                    <xs:element name="OTHERTOPHONE" type="xs:string" />
                    <xs:element name="OTHERTOFAX" type="xs:string" />
                    <xs:element name="OTHERTOADDRESS1" type="xs:string" />
                    <xs:element name="OTHERTOADDRESS2" type="xs:string" />
                    <xs:element name="OTHERTOADDRESS3" type="xs:string" />
                    <xs:element name="OTHERTOCITY" type="xs:string" />
                    <xs:element name="OTHERTOSTATE" type="xs:string" />
                    <xs:element name="OTHERTOCOUNTRY" type="xs:string" />
                    <xs:element name="OTHERTOPOSTALCODE" type="xs:string" />
                    <xs:element name="OTHERTOINDUSTRY" type="xs:string" />
                    <xs:element name="OTHERTOGEOGRAPHY" type="xs:string" />
                    <xs:element name="REASONID" type="xs:string" />
                    <xs:element name="COMMENTS" type="xs:string" />
                    <xs:element name="BUSINESSUNITNAME" type="xs:string" />
                    <xs:element name="GENERICATTRIBUTE1" type="xs:string" />
                    <xs:element name="GENERICATTRIBUTE2" type="xs:string" />
                    <xs:element name="GENERICATTRIBUTE3" type="xs:string" />
                    <xs:element name="GENERICATTRIBUTE4" type="xs:string" />
                    <xs:element name="GENERICATTRIBUTE5" type="xs:string" />
                    <xs:element name="GENERICATTRIBUTE6" type="xs:string" />
                    <xs:element name="GENERICATTRIBUTE7" type="xs:string" />
                    <xs:element name="GENERICATTRIBUTE8" type="xs:string" />
                    <xs:element name="GENERICATTRIBUTE9" type="xs:string" />
                    <xs:element name="GENERICATTRIBUTE10" type="xs:string" />
                    <xs:element name="GENERICATTRIBUTE11" type="xs:string" />
                    <xs:element name="GENERICATTRIBUTE12" type="xs:string" />
                    <xs:element name="GENERICATTRIBUTE13" type="xs:string" />
                    <xs:element name="GENERICATTRIBUTE14" type="xs:string" />
                    <xs:element name="GENERICATTRIBUTE15" type="xs:string" />
                    <xs:element name="GENERICATTRIBUTE16" type="xs:string" />
                    <xs:element name="GENERICATTRIBUTE17" type="xs:string" />
                    <xs:element name="GENERICATTRIBUTE18" type="xs:string" />
                    <xs:element name="GENERICATTRIBUTE19" type="xs:string" />
                    <xs:element name="GENERICATTRIBUTE20" type="xs:string" />
                    <xs:element name="GENERICATTRIBUTE21" type="xs:string" />
                    <xs:element name="GENERICATTRIBUTE22" type="xs:string" />
                    <xs:element name="GENERICATTRIBUTE23" type="xs:string" />
                    <xs:element name="GENERICATTRIBUTE24" type="xs:string" />
                    <xs:element name="GENERICATTRIBUTE25" type="xs:string" />
                    <xs:element name="GENERICATTRIBUTE26" type="xs:string" />
                    <xs:element name="GENERICATTRIBUTE27" type="xs:string" />
                    <xs:element name="GENERICATTRIBUTE28" type="xs:string" />
                    <xs:element name="GENERICATTRIBUTE29" type="xs:string" />
                    <xs:element name="GENERICATTRIBUTE30" type="xs:string" />
                    <xs:element name="GENERICATTRIBUTE31" type="xs:string" />
                    <xs:element name="GENERICATTRIBUTE32" type="xs:string" />
                    <xs:element name="GENERICNUMBER1" type="xs:string" />
                    <xs:element name="UNITTYPEFORGENERICNUMBER1" type="xs:string" />
                    <xs:element name="GENERICNUMBER2" type="xs:string" />
                    <xs:element name="UNITTYPEFORGENERICNUMBER2" type="xs:string" />
                    <xs:element name="GENERICNUMBER3" type="xs:string" />
                    <xs:element name="UNITTYPEFORGENERICNUMBER3" type="xs:string" />
                    <xs:element name="GENERICNUMBER4" type="xs:string" />
                    <xs:element name="UNITTYPEFORGENERICNUMBER4" type="xs:string" />
                    <xs:element name="GENERICNUMBER5" type="xs:string" />
                    <xs:element name="UNITTYPEFORGENERICNUMBER5" type="xs:string" />
                    <xs:element name="GENERICNUMBER6" type="xs:string" />
                    <xs:element name="UNITTYPEFORGENERICNUMBER6" type="xs:string" />
                    <xs:element name="GENERICDATE1" type="xs:date" />
                    <xs:element name="GENERICDATE2" type="xs:date" />
                    <xs:element name="GENERICDATE3" type="xs:date" />
                    <xs:element name="GENERICDATE4" type="xs:date" />
                    <xs:element name="GENERICDATE5" type="xs:date" />
                    <xs:element name="GENERICDATE6" type="xs:date" />
                    <xs:element name="GENERICBOOLEAN1" type="xs:boolean" />
                    <xs:element name="GENERICBOOLEAN2" type="xs:boolean" />
                    <xs:element name="GENERICBOOLEAN3" type="xs:boolean" />
                    <xs:element name="GENERICBOOLEAN4" type="xs:boolean" />
                    <xs:element name="GENERICBOOLEAN5" type="xs:boolean" />
                    <xs:element name="GENERICBOOLEAN6" type="xs:boolean" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>