Resources/canonical_library/xsd/XSD_586d21342d16bbcac4092ef6d6323e776dd57f26.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="root">
    <xs:complexType>
      <xs:sequence>
      	<xs:element type="xs:string" name="eventid"/>
      	<xs:element name="surveys" minOccurs="0" maxOccurs="unbounded">
   	  	<xs:complexType>
      	<xs:sequence>
              <xs:element type="xs:string" name="ID" minOccurs="0" maxOccurs="1"/>
              <xs:element type="xs:string" name="NAME" minOccurs="0" maxOccurs="1"/>
              <xs:element name="SURVEYQUESTIONSET" minOccurs="0" maxOccurs="unbounded">
   	  		  <xs:complexType>
      		  <xs:sequence>
             		 <xs:element type="xs:string" name="SURVEY_ID" minOccurs="0" maxOccurs="1"/> <!--Added to structure for GoToWebinar-->
             		 <xs:element type="xs:string" name="ID" minOccurs="0" maxOccurs="1"/>
             		 <xs:element type="xs:string" name="TYPE" minOccurs="0" maxOccurs="1"/>
             		 <xs:element type="xs:string" name="SUB_TYPE" minOccurs="0" maxOccurs="1"/>
             		 <xs:element type="xs:string" name="TEXT" minOccurs="0" maxOccurs="1"/>
             		 <xs:element type="xs:string" name="responses" minOccurs="0" maxOccurs="1"/>
              		 <xs:element name="QUESTIONANSWERSET" minOccurs="0" maxOccurs="unbounded">
   	  		  		 <xs:complexType>
      		 		 <xs:sequence>
             		 		<xs:element type="xs:string" name="ANSWER_TEXT" minOccurs="0" maxOccurs="1"/>
             		 		<xs:element type="xs:string" name="WEIGHTAGE" minOccurs="0" maxOccurs="1"/>
			  		 </xs:sequence>
    		  		 </xs:complexType>
  			  		 </xs:element>
			  </xs:sequence>
    		  </xs:complexType>
  			  </xs:element>
  			  <xs:element name="SURVEYSUREVEYRESPONSESET" minOccurs="0" maxOccurs="unbounded">
   	  		  <xs:complexType>
      		  <xs:sequence>
             		 <xs:element type="xs:string" name="SURVEY_ID" minOccurs="0" maxOccurs="1"/> <!--Added to structure for GoToWebinar-->
             		 <xs:element type="xs:string" name="ID" minOccurs="0" maxOccurs="1"/>
             		 <xs:element type="xs:string" name="ID_ORIGIN" minOccurs="0" maxOccurs="1"/>
             		 <xs:element type="xs:string" name="RESPONSE_ID" minOccurs="0" maxOccurs="1"/>
             		 <xs:element type="xs:string" name="RESPONDED_AT" minOccurs="0" maxOccurs="1"/>
             		 <xs:element type="xs:string" name="PROVIDER" minOccurs="0" maxOccurs="1"/>
              		 <xs:element name="SURVEYRESPONSESURVEYRESPONSEDETAILSET" minOccurs="0" maxOccurs="unbounded">
   	  		  		 <xs:complexType>
      		 		 <xs:sequence>
             		 		<xs:element type="xs:string" name="QUESTION_ID" minOccurs="0" maxOccurs="1"/>
             		 		<xs:element type="xs:string" name="RESPONSE_TEXT" minOccurs="0" maxOccurs="1"/>
			  		 </xs:sequence>
    		  		 </xs:complexType>
  			  		 </xs:element>
			  </xs:sequence>
    		  </xs:complexType>
  			  </xs:element>
		 </xs:sequence>
    	</xs:complexType>
  		</xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>