Resources/canonical_library/xsd/XSD_5c81af7897d07683abfa4a3fd3074c63e2d60197.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="root">
    <xs:complexType>
      <xs:all>
        <xs:element type="xs:date" name="effectiveDate"/>
		<xs:element type="xs:string" name="mainProduct"/>
        <xs:element name="insurancePolicy">
          <xs:complexType>
            <xs:all>
              <xs:element type="xs:string" name="policyId"/>
              <xs:element type="xs:string" name="contractId"/>
            </xs:all>
          </xs:complexType>
        </xs:element>
      </xs:all>
    </xs:complexType>
  </xs:element>
</xs:schema>

