Resources/canonical_library/xsd/XSD_8399b18fd4b00561661a3de1271659be82c36d58.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<xsd:element name="Root">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="MapAppwithCred" minOccurs="0" maxOccurs="unbounded">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="TenantID" minOccurs="0" type="xsd:string" />
							<xsd:element name="S4H_Cred" minOccurs="0" type="xsd:string" />
							<xsd:element name="S4HURL" minOccurs="0" type="xsd:string" />
							
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
</xsd:schema>