Resources/canonical_library/xsd/XSD_579a890b43253f1e10169576d41e49988f26c081.xsd

<?xml version="1.0" encoding="utf-8"?>

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="root">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="ET_ERRORS">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="item" type="xs:string" minOccurs="0" maxOccurs="unbounded" />
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="ET_RETURN">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="item" minOccurs="0" maxOccurs="unbounded">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="TYPE" type="xs:string" minOccurs="0" maxOccurs="1" />
										<xs:element name="ID" type="xs:string" minOccurs="0" maxOccurs="1" />
										<xs:element name="NUMBER" type="xs:string" minOccurs="0" maxOccurs="1" />
										<xs:element name="MESSAGE" type="xs:string" minOccurs="0" maxOccurs="1" />
										<xs:element name="LOG_NO" type="xs:string" minOccurs="0" maxOccurs="1" />
										<xs:element name="LOG_MSG_NO" type="xs:string" minOccurs="0" maxOccurs="1" />
										<xs:element name="MESSAGE_V1" type="xs:string" minOccurs="0" maxOccurs="1" />
										<xs:element name="MESSAGE_V2" type="xs:string" minOccurs="0" maxOccurs="1" />
										<xs:element name="MESSAGE_V3" type="xs:string" minOccurs="0" maxOccurs="1" />
										<xs:element name="MESSAGE_V4" type="xs:string" minOccurs="0" maxOccurs="1" />
										<xs:element name="PARAMETER" type="xs:string" minOccurs="0" maxOccurs="1" />
										<xs:element name="ROW" type="xs:string" minOccurs="0" maxOccurs="1" />
										<xs:element name="FIELD" type="xs:string" minOccurs="0" maxOccurs="1" />
										<xs:element name="SYSTEM" type="xs:string" minOccurs="0" maxOccurs="1" />
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="ET_OUTPUT">
					<xs:complexType>
						<xs:sequence>
							<xs:element maxOccurs="unbounded" name="item">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="LIGHTS" type="xs:unsignedByte" />
										<xs:element name="BUKRS" type="xs:unsignedShort" />
										<xs:element name="PSTNGPROCEDURE" type="xs:string" />
										<xs:element name="PROCESS" type="xs:string" />
										<xs:element name="PROCESSGUID" type="xs:string" />
										<xs:element name="PROCESSID" />
										<xs:element name="FISC_YEAR" type="xs:unsignedByte" />
										<xs:element name="PSTNGPERIOD" type="xs:unsignedByte" />
										<xs:element name="PSTNGDATE" type="xs:date" />
										<xs:element name="DOCDATE" type="xs:string" />
										<xs:element name="AMOUNT" type="xs:decimal" />
										<xs:element name="GROSSAMOUNT" type="xs:decimal" />
										<xs:element name="NETAMOUNT" type="xs:decimal" />
										<xs:element name="TAXAMOUNT" type="xs:decimal" />
										<xs:element name="CURRENCY" type="xs:string" />
										<xs:element name="CTLCAMOUNT" type="xs:decimal" />
										<xs:element name="CTLCGROSSAMOUNT" type="xs:decimal" />
										<xs:element name="CTLCNETAMOUNT" type="xs:decimal" />
										<xs:element name="CTLCTAXAMOUNT" type="xs:decimal" />
										<xs:element name="CTLCCURRKEY" type="xs:string" />
										<xs:element name="CTFCAMOUNT" type="xs:decimal" />
										<xs:element name="CTFCGROSSAMOUNT" type="xs:decimal" />
										<xs:element name="CTFCNETAMOUNT" type="xs:decimal" />
										<xs:element name="CTFCTAXAMOUNT" type="xs:decimal" />
										<xs:element name="CTFCCURRKEY" />
										<xs:element name="REFGUIDORIGIN" type="xs:string" />
										<xs:element name="REFGUID" type="xs:string" />
										<xs:element name="OBJNR" type="xs:string" />
										<xs:element name="PFROM" type="xs:date" />
										<xs:element name="PTO" type="xs:date" />
										<xs:element name="BLINEDATE" type="xs:date" />
										<xs:element name="ORIGDUEDATE" type="xs:date" />
										<xs:element name="CONDTYPE" />
										<xs:element name="ISADVANCEPAYMENT" />
										<xs:element name="FLOWTYPE" type="xs:string" />
										<xs:element name="DCINDICATOR" type="xs:string" />
										<xs:element name="TAXGROUPID" type="xs:unsignedByte" />
										<xs:element name="TAXDATE" type="xs:date" />
										<xs:element name="TERMNOOA" />
										<xs:element name="GSBER" />
										<xs:element name="PRCTR" type="xs:string" />
										<xs:element name="ADDOBJNR" />
										<xs:element name="FUND" />
										<xs:element name="FUNDSCENTER" />
										<xs:element name="COMMITMENTITEM" />
										<xs:element name="FUNCTIONALAREA" />
										<xs:element name="GRANTNUMBER" />
										<xs:element name="MEASURE" />
										<xs:element name="BUDGETPERIOD" />
										<xs:element name="TERMNOPY" />
										<xs:element name="CDSPLITNO" type="xs:unsignedByte" />
										<xs:element name="PYMTMETH" />
										<xs:element name="PYMTMETHCRMO" />
										<xs:element name="PYMTBLOCK" />
										<xs:element name="PYMTTERM" />
										<xs:element name="HOUSEBKID" />
										<xs:element name="HOUSEBKACC" />
										<xs:element name="BANKDETAILID" />
										<xs:element name="NOTETOPAYEE" />
										<xs:element name="DUNNAREA" />
										<xs:element name="DUNNKEY" />
										<xs:element name="DUNNBLOCK" />
										<xs:element name="ACCDETKEY" type="xs:string" />
										<xs:element name="TAXTYPE" type="xs:string" />
										<xs:element name="TAXGROUP" type="xs:string" />
										<xs:element name="ISGROSS" />
										<xs:element name="TAXCOUNTRY" />
										<xs:element name="PARTNER" />
										<xs:element name="PARTNEROBJNR" type="xs:string" />
										<xs:element name="TXJCD" />
										<xs:element name="ISCDSPLIT" />
										<xs:element name="CTRULE" />
										<xs:element name="ISPARTNERBLOCKED" />
										<xs:element name="SEPAMNDID" />
										<xs:element name="SEPARECCRDID" />
										<xs:element name="TERMNOWT" />
										<xs:element name="HEADERTXT" type="xs:string" />
										<xs:element name="ITEMTXT" />
										<xs:element name="CACCTYPE" type="xs:string" />
										<xs:element name="CGLACCSYMB" type="xs:string" />
										<xs:element name="DACCTYPE" type="xs:string" />
										<xs:element name="DGLACCSYMB" type="xs:string" />
										<xs:element name="CERULE" type="xs:string" />
										<xs:element name="ACCPRINCIPLE" type="xs:string" />
										<xs:element name="CEDOCTYPE" type="xs:string" />
										<xs:element name="CONDGUID" type="xs:string" />
										<xs:element name="OBJNRCALC" />
										<xs:element name="CONDVALIDFROM" type="xs:string" />
										<xs:element name="CDPURPOSEEXT" />
										<xs:element name="REFERENCEDOCGUID" type="xs:string" />
										<xs:element name="REFDATE" type="xs:string" />
										<xs:element name="PARTNERREFDATE" type="xs:string" />
										<xs:element name="DATEOFSERVICE" type="xs:string" />
										<xs:element name="PARTNERDATEOFSERVICE" type="xs:string" />
										<xs:element name="DISTRTAXINCLUDED" />
										<xs:element name="REIPREFGUID" type="xs:string" />
										<xs:element name="DGLACCOUNT" />
										<xs:element name="CGLACCOUNT" />
										<xs:element name="DISTRTAXAMT" type="xs:decimal" />
										<xs:element name="CTLCDISTRTAXAMT" type="xs:decimal" />
										<xs:element name="CTFCDISTRTAXAMT" type="xs:decimal" />
										<xs:element name="ISFLATRATE" />
										<xs:element name="CFFLOWTYPE" type="xs:string" />
										<xs:element name="CTRATE" type="xs:decimal" />
										<xs:element name="CTDATEREQ" type="xs:string" />
										<xs:element name="CTDATEACT" type="xs:string" />
										<xs:element name="POSTCDCURR" />
										<xs:element name="CTDATEFROMCFPOS" />
										<xs:element name="FMDOCNO" />
										<xs:element name="FMDOCITEMNO" type="xs:unsignedByte" />
										<xs:element name="FMDOCREVID" />
										<xs:element name="OIACCOUNTTYPE" />
										<xs:element name="OIACCOUNT" />
										<xs:element name="REVERSAL_FOR" type="xs:string" />
										<xs:element name="REVERSAL_BY" type="xs:string" />
										<xs:element name="FOLLOWUP_FOR" type="xs:string" />
										<xs:element name="WHEREFROM" />
										<xs:element name="CF_RERF" />
										<xs:element name="CF_DERF" type="xs:string" />
										<xs:element name="CF_TERF" type="xs:time" />
										<xs:element name="CF_REHER" />
										<xs:element name="CF_RBEAR" />
										<xs:element name="CF_DBEAR" type="xs:string" />
										<xs:element name="CF_TBEAR" type="xs:time" />
										<xs:element name="CF_RBHER" />
										<xs:element name="AMMRHY" type="xs:unsignedByte" />
										<xs:element name="ATTRHY" type="xs:unsignedByte" />
										<xs:element name="REFFLOWREL" />
										<xs:element name="DOCSTATUS" />
										<xs:element name="CONTRACTREF" />
										<xs:element name="ASSETOBJNR" type="xs:string" />
										<xs:element name="ASSETVALUEDATE" type="xs:string" />
										<xs:element name="ASSETPROCEDURE" />
										<xs:element name="ISCOMPLETERETIREMENT" />
										<xs:element name="REDUCTION_PERCENTAGE" type="xs:decimal" />
										<xs:element name="DOCGUID" type="xs:string" />
										<xs:element name="SECONDDOCGUID" type="xs:string" />
										<xs:element name="SPLITDOCGUID" type="xs:string" />
										<xs:element name="CFTYPE" type="xs:unsignedByte" />
										<xs:element name="TAXFROMDATE" type="xs:string" />
										<xs:element name="DOCTYPE" type="xs:string" />
										<xs:element name="ISASSETPOSTING" type="xs:string" />
										<xs:element name="ISREDUCTION" />
										<xs:element name="ISUSEDBYEVAL" />
										<xs:element name="VALOBJTYPE" type="xs:string" />
										<xs:element name="CNOBJNREVAL" type="xs:string" />
										<xs:element name="TERMNOEVAL" type="xs:unsignedByte" />
										<xs:element name="TRADEID" />
										<xs:element name="RECNNR" type="xs:unsignedInt" />
										<xs:element name="RECNTYPE" type="xs:string" />
										<xs:element name="RECNBEG" type="xs:date" />
										<xs:element name="RECNENDABS" type="xs:date" />
										<xs:element name="RECNTXT" type="xs:string" />
										<xs:element name="RECNDACTIV" type="xs:date" />
										<xs:element name="RECNDPO" type="xs:date" />
										<xs:element name="BENOCN" type="xs:unsignedByte" />
										<xs:element name="RESPONSIBLE" type="xs:string" />
										<xs:element name="TAXCODE" type="xs:string" />
										<xs:element name="XFLOWTYPE" type="xs:string" />
										<xs:element name="XCONDTYPEL" />
										<xs:element name="XIDENTOBJNR" type="xs:string" />
										<xs:element name="ACCDOCNO" type="xs:string" />
										<xs:element name="XIDENTPARTNEROBJNR" type="xs:string" />
										<xs:element name="CUSTOMER" />
										<xs:element name="VENDOR" />
										<xs:element name="XNAME" />
										<xs:element name="ABSGROSSAMOUNT" type="xs:decimal" />
										<xs:element name="ABSNETAMOUNT" type="xs:decimal" />
										<xs:element name="ABSTAXAMOUNT" type="xs:decimal" />
										<xs:element name="XPROCEDURE" type="xs:string" />
										<xs:element name="CONDPURPOSEEXT" />
										<xs:element name="XMCONDPURPOSEEXT" />
										<xs:element name="ICON_STATUS" />
										<xs:element name="COLORTAB" />
										<xs:element name="STYLETAB" />
										<xs:element name="REONLYDOC" />
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>