Resources/canonical_library/xsd/XSD_61fb694fbedac28cc7a89680d0fa762ac0e43dca.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- Created with Liquid Technologies Online Tools 1.0 (https://www.liquid-technologies.com) -->
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="root">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="DateOfBirth" type="xs:unsignedInt" />
        <xs:element name="FamilyName" type="xs:string" />
        <xs:element name="FatherName" type="xs:string" />
        <xs:element name="FirstName" type="xs:string" />
        <xs:element name="GrandFatherName" type="xs:string" />
        <xs:element name="IqamaExpiryDate" type="xs:unsignedInt" />
        <xs:element name="IqamaIssueDate" type="xs:unsignedInt" />
        <xs:element name="IqamaIssuePlaceCode" type="xs:unsignedShort" />
        <xs:element name="IqamaIssuePlaceDescription" type="xs:string" />
        <xs:element name="IqamaNumber" type="xs:unsignedInt" />
        <xs:element name="NationalityCode" type="xs:unsignedShort" />
        <xs:element name="NationalityDescription" type="xs:string" />
        <xs:element name="OccupationCode" type="xs:unsignedInt" />
        <xs:element name="OccupationDescription" type="xs:string" />
        <xs:element name="ReligionCode" type="xs:unsignedByte" />
        <xs:element name="ReligionDescription" />
        <xs:element name="RequestTimeStamp" type="xs:string" />
        <xs:element name="ResponseTimeStamp" type="xs:string" />
        <xs:element name="SponsorID" type="xs:unsignedLong" />
        <xs:element name="SponsorName" type="xs:string" />
        <xs:element name="applicationId" type="xs:unsignedInt" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>