Resources/canonical_library/xsd/XSD_88e13082c0206d7731a47dcb84bfe18d08dfb387.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="root">
    <xs:complexType>
      <xs:sequence>
        <xs:element type="xs:string" name="callId"/>
        <xs:element type="xs:byte" name="errorCode"/>
        <xs:element type="xs:byte" name="apiVersion"/>
        <xs:element type="xs:short" name="statusCode"/>
        <xs:element type="xs:string" name="statusReason"/>
        <xs:element type="xs:dateTime" name="time"/>
        <xs:element type="xs:long" name="registeredTimestamp"/>
        <xs:element type="xs:long" name="phoneNumber"/>
        <xs:element type="xs:string" name="UID"/>
        <xs:element type="xs:dateTime" name="created"/>
        <xs:element type="xs:long" name="createdTimestamp"/>
        <xs:element name="identities" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="provider"/>
              <xs:element type="xs:string" name="providerUID"/>
              <xs:element type="xs:string" name="isLoginIdentity"/>
              <xs:element type="xs:string" name="photoURL" minOccurs="0"/>
              <xs:element type="xs:string" name="thumbnailURL" minOccurs="0"/>
              <xs:element type="xs:string" name="firstName" minOccurs="0"/>
              <xs:element type="xs:string" name="lastName" minOccurs="0"/>
              <xs:element type="xs:string" name="gender" minOccurs="0"/>
              <xs:element type="xs:byte" name="age" minOccurs="0"/>
              <xs:element type="xs:byte" name="birthDay" minOccurs="0"/>
              <xs:element type="xs:byte" name="birthMonth" minOccurs="0"/>
              <xs:element type="xs:short" name="birthYear" minOccurs="0"/>
              <xs:element type="xs:string" name="email" minOccurs="0"/>
              <xs:element type="xs:string" name="city" minOccurs="0"/>
              <xs:element type="xs:string" name="profileURL" minOccurs="0"/>
              <xs:element type="xs:string" name="proxiedEmail" minOccurs="0"/>
              <xs:element type="xs:string" name="allowsLogin"/>
              <xs:element type="xs:string" name="isExpiredSession"/>
              <xs:element type="xs:dateTime" name="lastUpdated"/>
              <xs:element type="xs:long" name="lastUpdatedTimestamp"/>
              <xs:element type="xs:dateTime" name="oldestDataUpdated"/>
              <xs:element type="xs:long" name="oldestDataUpdatedTimestamp"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="data">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="subscribe"/>
              <xs:element type="xs:string" name="terms"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="subscriptions">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="brand2DailyNewsletter">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="email">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element type="xs:string" name="isSubscribed"/>
                          <xs:element type="xs:dateTime" name="lastUpdatedSubscriptionState"/>
                          <xs:element type="xs:string" name="tags"/>
                          <xs:element name="doubleOptIn">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element type="xs:string" name="confirmTime"/>
                                <xs:element type="xs:string" name="emailSentTime"/>
                                <xs:element type="xs:string" name="status"/>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="brand1DailyNewsletter">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="email">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element type="xs:string" name="isSubscribed"/>
                          <xs:element type="xs:dateTime" name="lastUpdatedSubscriptionState"/>
                          <xs:element type="xs:string" name="tags"/>
                          <xs:element name="doubleOptIn">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element type="xs:string" name="confirmTime"/>
                                <xs:element type="xs:string" name="emailSentTime"/>
                                <xs:element type="xs:string" name="status"/>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="preferences">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="communicationPreference">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:string" name="isConsentGranted"/>
                    <xs:element type="xs:byte" name="docVersion"/>
                    <xs:element type="xs:dateTime" name="lastConsentModified"/>
                    <xs:element type="xs:string" name="tags"/>
                    <xs:element type="xs:string" name="customData"/>
                    <xs:element type="xs:string" name="entitlements" maxOccurs="unbounded" minOccurs="0"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="emails">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="verified"/>
              <xs:element type="xs:string" name="unverified"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="lastLoginLocation">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="country"/>
              <xs:element name="coordinates">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:float" name="lat"/>
                    <xs:element type="xs:float" name="lon"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element type="xs:string" name="isActive"/>
        <xs:element type="xs:string" name="isRegistered"/>
        <xs:element type="xs:string" name="isVerified"/>
        <xs:element type="xs:dateTime" name="lastLogin"/>
        <xs:element type="xs:long" name="lastLoginTimestamp"/>
        <xs:element type="xs:dateTime" name="lastUpdated"/>
        <xs:element type="xs:long" name="lastUpdatedTimestamp"/>
        <xs:element type="xs:string" name="loginProvider"/>
        <xs:element type="xs:dateTime" name="oldestDataUpdated"/>
        <xs:element type="xs:long" name="oldestDataUpdatedTimestamp"/>
        <xs:element name="profile">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="address" />
              <xs:element name="age" type="xs:unsignedByte" />
              <xs:element name="bio" />
              <xs:element name="birthDay" type="xs:unsignedByte" />
              <xs:element name="birthMonth" type="xs:unsignedByte" />
              <xs:element name="birthYear" type="xs:unsignedShort" />
              <xs:element name="capabilities" />
              <xs:element name="city" />
              <xs:element name="country" />
              <xs:element name="educationLevel" />
              <xs:element name="email" type="xs:string" />
              <xs:element name="firstName" type="xs:string" />
              <xs:element name="gender" />
              <xs:element name="hometown" />
              <xs:element name="honors" />
              <xs:element name="industry" />
              <xs:element name="interestedIn" />
              <xs:element name="lastName" type="xs:string" />
              <xs:element name="locale" type="xs:string" />
              <xs:element name="nickname" type="xs:string" />
              <xs:element name="nickname" type="xs:string" />
              <xs:element name="phones">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:long" name="number"/>
                    <xs:element type="xs:string" name="type"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element type="xs:dateTime" name="registered"/>
        <xs:element type="xs:string" name="socialProviders"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
