Resources/canonical_library/xsd/XSD_605b79c961bb44b4fa4b4086a21b4e5de9385733.xsd

<?xml version="1.0" encoding="UTF-8"?><xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="qualified">
	<xs:element name="root">
		<xs:complexType>
			<xs:sequence>
				<xs:element maxOccurs="unbounded" minOccurs="1" name="Table">
					<xs:complexType>
						<xs:sequence>
							<xs:element maxOccurs="1" minOccurs="1" name="Interview_ID" type="xs:string"/>
							<xs:element maxOccurs="1" minOccurs="0" name="Candidate_ID " type="xs:string"/>						
							<xs:element maxOccurs="1" minOccurs="0" name="Job_Requisition_ID " type="xs:string"/>
							<xs:element maxOccurs="1" minOccurs="0" name="Interview_Type_ID " type="xs:string"/>
							<xs:element maxOccurs="1" minOccurs="0" name="Interview_Start_Time  " type="xs:string"/>						
							<xs:element maxOccurs="1" minOccurs="0" name="Job_Application_ID" type="xs:string"/>
							<xs:element maxOccurs="1" minOccurs="0" name="Overall_Comment" type="xs:string"/>
							<xs:element maxOccurs="1" minOccurs="0" name="Interview_Duration_Scheduled" type="xs:string"/>
							<xs:element maxOccurs="1" minOccurs="0" name="Interview_Duration_Actual" type="xs:string"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>

