Resources/canonical_library/xsd/XSD_f7ff096416954ef846316aa9c03f6655ee30d9fa.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="root">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="attendees" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="firstName"/>
              <xs:element type="xs:string" name="lastName"/>
              <xs:element type="xs:int" name="sessionKey"/>
              <xs:element type="xs:short" name="attendanceTimeInSeconds"/>
              <xs:element type="xs:long" name="registrantKey"/>
              <xs:element type="xs:string" name="email"/>
              <xs:element name="attendance">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:dateTime" name="leaveTime"/>
                    <xs:element type="xs:dateTime" name="joinTime"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>