Resources/canonical_library/xsd/XSD_517070a10af65d9e94e0a6cc8876f664583635f7.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Root">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Element" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:short" name="status"/>
              <xs:element type="xs:anyURI" name="location"/>
              <xs:element name="businessPartner">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:string" name="country"/>
                    <xs:element type="xs:short" name="code"/>
                    <xs:element type="xs:string" name="city"/>
                    <xs:element type="xs:string" name="shippingType"/>
                    <xs:element type="xs:string" name="language"/>
                    <xs:element type="xs:string" name="owners"/>
                    <xs:element type="xs:string" name="type"/>
                    <xs:element type="xs:string" name="paymentType"/>
                    <xs:element type="xs:string" name="priceList"/>
                    <xs:element type="xs:string" name="syncObjectKPIs"/>
                    <xs:element type="xs:string" name="emailAddress"/>
                    <xs:element type="xs:string" name="password"/>
                    <xs:element type="xs:string" name="inactive"/>
                    <xs:element type="xs:string" name="officePhone"/>
                    <xs:element type="xs:string" name="creditLimit"/>
                    <xs:element type="xs:string" name="validityComment"/>
                    <xs:element type="xs:string" name="currency"/>
                    <xs:element type="xs:string" name="id"/>
                    <xs:element type="xs:string" name="fax"/>
                    <xs:element type="xs:string" name="groupCode"/>
                    <xs:element type="xs:string" name="website"/>
                    <xs:element type="xs:long" name="lastChanged"/>
                    <xs:element type="xs:string" name="createPerson"/>
                    <xs:element type="xs:int" name="externalId"/>
                    <xs:element type="xs:string" name="groups"/>
                    <xs:element type="xs:string" name="branches"/>
                    <xs:element type="xs:dateTime" name="createDateTime"/>
                    <xs:element type="xs:string" name="groupName"/>
                    <xs:element type="xs:string" name="salesPersons"/>
                    <xs:element type="xs:string" name="mobilePhone"/>
                    <xs:element type="xs:string" name="otherPhone"/>
                    <xs:element type="xs:string" name="udfMetaGroups"/>
                    <xs:element type="xs:string" name="name"/>
                    <xs:element type="xs:string" name="location"/>
                    <xs:element type="xs:string" name="udfValues"/>
                    <xs:element type="xs:string" name="lastChangedBy"/>
                    <xs:element type="xs:string" name="additionalName"/>
                    <xs:element type="xs:string" name="paymentTerm"/>
                    <xs:element type="xs:string" name="remarks"/>
                    <xs:element type="xs:string" name="syncStatus"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>