Resources/canonical_library/xsd/XSD_0d42be36bfc10cfef4a1a4bb1cfb727a0b8366d3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="root">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="FinalPrice" />
        <xs:element name="MarkupPrice" />
        <xs:element name="GrossPrice" />
        <xs:element name="MarginGrossPrice" />
        <xs:element name="CurrentPrice" />
        <xs:element name="Currency" />
        <xs:element name="PurchasePrice" />
        <xs:element name="UnitofMeasurement" />
        <xs:element name="Type" />
        <xs:element name="ID" minOccurs="0" />
        <xs:element name="Number" minOccurs="0"/>
        <xs:element name="Message" minOccurs="0" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>