Resources/canonical_library/xsd/XSD_b6866cb8b2b5a0e39e504545d6d078590e07b01e.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- Created with Liquid Technologies Online Tools 1.0 (https://www.liquid-technologies.com) -->
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="root">
		<xs:complexType>
			<xs:sequence>
				<xs:element maxOccurs="unbounded" name="salesOrders">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="businessUnits">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="businessUnitSeq" type="xs:unsignedLong"/>
										<xs:element name="name" type="xs:string"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="genericAttribute6" type="xs:string"/>
							<xs:element name="orderId" type="xs:string"/>
							<xs:element name="salesOrderSeq" type="xs:unsignedLong"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>