Resources/canonical_library/xsd/XSD_f7ba4e7408ec6d43eb5d64da27788c39b5861a30.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified"
    xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Root">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="SearchFields" minOccurs="0" maxOccurs="1">
          <xs:complexType>
            <xs:sequence>
              <xs:element maxOccurs="unbounded" name="SearchField"
                type="xs:string" minOccurs="0" />
            </xs:sequence>
            <xs:attribute name="Priority" type="yesno" use="required" />
          </xs:complexType>
        </xs:element>
        <xs:element name="Customers" minOccurs="1" maxOccurs="1">
          <xs:complexType>
            <xs:sequence>
              <xs:element maxOccurs="50" name="Customer" minOccurs="1">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element minOccurs="0" name="Id" type="xs:unsignedInt"
                      maxOccurs="1" />
                    <xs:element name="ExternalId" type="xs:string" maxOccurs="1"
                      minOccurs="0" />
                    <xs:element minOccurs="0" name="Active" type="yesno"
                      maxOccurs="1" />
                    <xs:element name="FirstName" type="xs:string" maxOccurs="1"
                      minOccurs="0" />
                    <xs:element name="LastName" type="xs:string" maxOccurs="1"
                      minOccurs="0" />
                    <xs:element name="CustomerType" type="xs:string" maxOccurs="1"
                      minOccurs="0" />
                    <xs:element name="Company" type="xs:string" maxOccurs="1"
                      minOccurs="0" />
                    <xs:element name="Address1" type="xs:string" maxOccurs="1"
                      minOccurs="0" />
                    <xs:element name="Address2" type="xs:string" maxOccurs="1"
                      minOccurs="0" />
                    <xs:element name="City" type="xs:string" maxOccurs="1"
                      minOccurs="0" />
                    <xs:element name="Province" type="xs:string" maxOccurs="1"
                      minOccurs="0" />
                    <xs:element name="StateAbbrev" type="xs:string" maxOccurs="1"
                      minOccurs="0" />
                    <xs:element name="ZipCode" type="xs:string" maxOccurs="1"
                      minOccurs="0" />
                    <xs:element name="CountryAbbrev" type="xs:string" maxOccurs="1"
                      minOccurs="0" />
                    <xs:element name="TerritoryName" type="xs:string" maxOccurs="1"
                      minOccurs="0" />
                    <xs:element name="BusinessPhone" type="xs:string" maxOccurs="1"
                      minOccurs="0" />
                    <xs:element name="BusinessFax" type="xs:string" maxOccurs="1"
                      minOccurs="0" />
                    <xs:element name="EMail" type="xs:string" maxOccurs="1"
                      minOccurs="0" />
                    <xs:element name="OwnerID" type="xs:unsignedInt" maxOccurs="1"
                      minOccurs="0" />
                    <xs:element name="OwnerUserName" type="xs:string" maxOccurs="1"
                      minOccurs="0" />
                    <xs:element name="CRMAccountId" type="xs:string" maxOccurs="1"
                      minOccurs="0" />
                    <xs:element name="CRMContactId" type="xs:string" maxOccurs="1"
                      minOccurs="0" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:simpleType name="yesno">
    <xs:restriction base="xs:string">
      <xs:enumeration value="1" />
      <xs:enumeration value="0" />
    </xs:restriction>
  </xs:simpleType>
</xs:schema>
