Resources/canonical_library/xsd/XSD_1ec81e60242a3a6a8f40a05b4534593ea76f2d24.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:element name="Root">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="Response" minOccurs="0" maxOccurs="unbounded">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="id" type="xs:string" minOccurs="0"/>
							<xs:element name="documentNumber" type="xs:string" minOccurs="0"/>
							<xs:element name="createdAt" type="xs:string" minOccurs="0"/>
							<xs:element name="createdBy" type="xs:string" minOccurs="0"/>
							<xs:element name="billingDate" type="xs:string" minOccurs="0"/>
							<xs:element name="totalAmount" type="xs:string" minOccurs="0"/>
							<xs:element name="customerId" type="xs:string" minOccurs="0"/>
							<xs:element name="marketId" type="xs:string" minOccurs="0"/>
							<xs:element name="marketTimezone" type="xs:string" minOccurs="0"/>
							<xs:element name="splitElement" type="xs:string" minOccurs="0"/>
							<xs:element name="currency" type="xs:string" minOccurs="0"/>
							<xs:element name="paymentMethod" type="xs:string" minOccurs="0"/>
							<xs:element name="paymentCardToken" type="xs:string" minOccurs="0"/>
							<xs:element name="creditCard" minOccurs="0" maxOccurs="unbounded">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="token" type="xs:string" minOccurs="0"/>
										<xs:element name="version" type="xs:string" minOccurs="0"/>
										<xs:element name="type" type="xs:string" minOccurs="0"/>
										<xs:element name="typeText" type="xs:string" minOccurs="0"/>
										<xs:element name="expirationMonth" type="xs:string" minOccurs="0"/>
										<xs:element name="expirationYear" type="xs:string" minOccurs="0"/>
										<xs:element name="maskedCardNumber" type="xs:string" minOccurs="0"/>
										<xs:element name="cardHolderName" type="xs:string" minOccurs="0"/>
										<xs:element name="isDefault" type="xs:string" minOccurs="0"/>
										<xs:element name="createdAt" type="xs:string" minOccurs="0"/>
										<xs:element name="createdBy" type="xs:string" minOccurs="0"/>
										<xs:element name="changedAt" type="xs:string" minOccurs="0"/>
										<xs:element name="changedBy" type="xs:string" minOccurs="0"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="structureElement" type="xs:string" minOccurs="0"/>
							<xs:element name="status" type="xs:string" minOccurs="0"/>
							<xs:element name="S4CustomerId" type="xs:string" minOccurs="0"/>
							<xs:element name="SalesOrganization" type="xs:string" minOccurs="0"/>
							<xs:element name="DistributionChannel" type="xs:string" minOccurs="0"/>
							<xs:element name="Division" type="xs:string" minOccurs="0"/>
							<xs:element name="billingPeriod" minOccurs="0" maxOccurs="unbounded">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="start" type="xs:string" minOccurs="0"/>
										<xs:element name="end" type="xs:string" minOccurs="0"/>
										<xs:element name="timeZone" type="xs:string" minOccurs="0"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="billItems" minOccurs="0" maxOccurs="unbounded">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="id" type="xs:string" minOccurs="0"/>
										<xs:element name="subscriptionId" type="xs:string" minOccurs="0"/>
										<xs:element name="subscriptionDocumentNumber" type="xs:string" minOccurs="0"/>
										<xs:element name="subscriptionItemId" type="xs:string" minOccurs="0"/>
										<xs:element name="productId" type="xs:string" minOccurs="0"/>
										<xs:element name="productCode" type="xs:string" minOccurs="0"/>
										<xs:element name="ratePlanId" type="xs:string" minOccurs="0"/>
										<xs:element name="createInvoice" type="xs:string" minOccurs="0"/>
										<xs:element name="groupingElement" type="xs:string" minOccurs="0"/>
										<xs:element name="totalAmount" type="xs:string" minOccurs="0"/>
										<xs:element name="marketId" type="xs:string" minOccurs="0"/>
										<xs:element name="documentNumber" type="xs:string" minOccurs="0"/>
										<xs:element name="customerId" type="xs:string" minOccurs="0"/>
										<xs:element name="S4CustomerId" type="xs:string" minOccurs="0"/>
										<xs:element name="currency" type="xs:string" minOccurs="0"/>
										<xs:element name="structureElement" type="xs:string" minOccurs="0"/>
										<xs:element name="providerId" type="xs:string" minOccurs="0"/>
										<xs:element name="customReferences" minOccurs="0" maxOccurs="unbounded">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="typeCode" type="xs:string" minOccurs="0"/>
													<xs:element name="id" type="xs:string" minOccurs="0"/>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
										<xs:element name="charges" minOccurs="0" maxOccurs="unbounded">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="metricId" type="xs:string" minOccurs="0"/>
													<xs:element name="blockSize" type="xs:string" minOccurs="0"/>
													<xs:element name="amount" type="xs:string" minOccurs="0"/>
													<xs:element name="tierFrom" type="xs:string" minOccurs="0"/>
													<xs:element name="tierTo" type="xs:string" minOccurs="0"/>
													<xs:element name="includedQuantity" minOccurs="0" maxOccurs="unbounded">
														<xs:complexType>
															<xs:sequence>
																<xs:element name="value" type="xs:string" minOccurs="0"/>
																<xs:element name="unit" type="xs:string" minOccurs="0"/>
															</xs:sequence>
														</xs:complexType>
													</xs:element>
													<xs:element name="consumedQuantity" minOccurs="0" maxOccurs="unbounded">
														<xs:complexType>
															<xs:sequence>
																<xs:element name="value" type="xs:string" minOccurs="0"/>
																<xs:element name="unit" type="xs:string" minOccurs="0"/>
															</xs:sequence>
														</xs:complexType>
													</xs:element>
													<xs:element name="ratingPeriod" minOccurs="0" maxOccurs="unbounded">
														<xs:complexType>
															<xs:sequence>
																<xs:element name="start" type="xs:string" minOccurs="0"/>
																<xs:element name="end" type="xs:string" minOccurs="0"/>
															</xs:sequence>
														</xs:complexType>
													</xs:element>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
