Resources/canonical_library/xsd/XSD_3a9c29adde9b4c36c4c7ea319f9e1343fec1fa29.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- Created with Liquid Technologies Online Tools 1.0 (https://www.liquid-technologies.com) -->
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="root">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" name="items">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="id" type="xs:unsignedByte" />
              <xs:element name="reportName" type="xs:unsignedLong" />
              <xs:element name="companyCode" type="xs:unsignedByte" />
              <xs:element name="transactionCurrency" type="xs:string" />
              <xs:element name="journalEntryType" />
              <xs:element name="journalEntryDates" type="xs:date" />
              <xs:element name="postingDate" type="xs:date" />
              <xs:element name="reference" type="xs:unsignedLong" />
              <xs:element name="ledger" />
              <xs:element name="totalDebits" type="xs:decimal" />
              <xs:element name="totalCredits" type="xs:decimal" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>