Resources/canonical_library/xsd/XSD_65de1cfa40dbcd338ce9ff83b58e4d9286f1253b.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema version="1.0" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<xsd:element name="root">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element maxOccurs="unbounded" minOccurs="1" name="Offerings">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element maxOccurs="1" minOccurs="1" name="ID" type="xsd:string"/>
							<xsd:element maxOccurs="1" minOccurs="1" name="Name" type="xsd:string"/>
							<xsd:element maxOccurs="1" minOccurs="1" name="IsMarkedForDeletion" type="xsd:boolean"/>
							<xsd:element maxOccurs="1" minOccurs="1" name="SourceSystem" type="xsd:string"/>
							<xsd:element maxOccurs="1" minOccurs="0" name="Category" type="xsd:string"/>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
</xsd:schema>