Resources/canonical_library/xsd/XSD_8191d48391ab849608d2168c1d951870d66d9400.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="root">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="d">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="ProjectID" type="xs:string" />
              <xs:element maxOccurs="unbounded" name="budget">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="WBS" type="xs:string" />
                    <xs:element name="ProjectCurrency" type="xs:string" />
                    <xs:element name="AFE_Gross_Amt_Val" type="xs:decimal" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>