Resources/canonical_library/xsd/XSD_569c5f292285c507ab02c59bd90f8bc28209af4d.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="root">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="accountGL" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
                     <xs:element type="xs:string" name="acctType"/>
                    <xs:element type="xs:string" name="businessArea"/>
                    <xs:element type="xs:byte" name="companyCode"/>
                    <xs:element type="xs:string" name="costCenter"/>
                    <xs:element type="xs:int" name="glAccountNo"/>
                    <xs:element type="xs:byte" name="itemAccountNumber"/>
                    <xs:element type="xs:string" name="itemText"/>
                    <xs:element type="xs:string" name="plant"/>
                    <xs:element type="xs:string" name="profitCenter"/>
					<xs:element type="xs:int" name="internalOrder"/>
                    <xs:element type="xs:string" name="taxCode"/>
                    <xs:element type="xs:int" name="vendorNo"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="accountPayable" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
                    <xs:element type="xs:string" name="dicsount2"/>
                    <xs:element type="xs:string" name="discount1"/>
                    <xs:element type="xs:string" name="dueDay1"/>
                    <xs:element type="xs:string" name="dueDay2"/>
                    <xs:element type="xs:string" name="itemAccountNumber"/>
                    <xs:element type="xs:string" name="itemText"/>
                    <xs:element type="xs:string" name="netTerms"/>
                    <xs:element type="xs:string" name="paymentMethod"/>
                    <xs:element type="xs:string" name="paymentTerm"/>
                    <xs:element type="xs:string" name="vendorNo"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="accountTax" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
                    <xs:element type="xs:string" name="accountKey"/>
                    <xs:element type="xs:string" name="conditionKey"/>
                    <xs:element type="xs:string" name="directTax"/>
                    <xs:element type="xs:string" name="glAccount"/>
                    <xs:element type="xs:string" name="itemAccountNumber"/>
                    <xs:element type="xs:string" name="taxCode"/>
                    <xs:element type="xs:string" name="taxRate"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="currencyAmount" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
                    <xs:element type="xs:int" name="amount"/>
                    <xs:element type="xs:string" name="baseAmount"/>
                    <xs:element type="xs:string" name="currency"/>
                    <xs:element type="xs:string" name="exchangeRate"/>
                    <xs:element type="xs:byte" name="itemAccountNumber"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="customerCD" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
                    <xs:element type="xs:string" name="city"/>
                    <xs:element type="xs:string" name="country"/>
                    <xs:element type="xs:string" name="name"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="headerData">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:byte" name="companyCode"/>
              <xs:element type="xs:string" name="docType"/>
              <xs:element type="xs:int" name="documentDate"/>
              <xs:element type="xs:int" name="postingDate"/>
              <xs:element type="xs:int" name="baselineDate"/>
              <xs:element type="xs:string" name="reference"/>
              <xs:element type="xs:string" name="userName"/>
			  <xs:element type="xs:string" name="headerText"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>