Resources/canonical_library/xsd/XSD_a7bb3a5e3c983667df560335c02837b569369437.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="root">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="fsm_body">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="eventType"/>
              <xs:element type="xs:float" name="eventTypeVersion"/>
              <xs:element type="xs:float" name="cloudEventsVersion"/>
              <xs:element type="xs:string" name="source"/>
              <xs:element type="xs:string" name="eventID"/>
              <xs:element type="xs:dateTime" name="eventTime"/>
              <xs:element type="xs:string" name="contentType"/>
              <xs:element name="extensions">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:string" name="traceId"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="data">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="contact">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element type="xs:string" name="lastName"/>
                          <xs:element type="xs:string" name="skypeName"/>
                          <xs:element type="xs:string" name="code"/>
                          <xs:element type="xs:string" name="gender"/>
                          <xs:element type="xs:string" name="owners"/>
                          <xs:element type="xs:string" name="title"/>
                          <xs:element type="xs:string" name="positionName"/>
                          <xs:element type="xs:string" name="syncObjectKPIs"/>
                          <xs:element type="xs:string" name="emailAddress"/>
                          <xs:element type="xs:string" name="inactive"/>
                          <xs:element type="xs:string" name="officePhone"/>
                          <xs:element type="xs:string" name="pager"/>
                          <xs:element type="xs:string" name="id"/>
                          <xs:element type="xs:string" name="fax"/>
                          <xs:element type="xs:string" name="profession"/>
                          <xs:element type="xs:long" name="lastChanged"/>
                          <xs:element name="createPerson">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element type="xs:string" name="id"/>
                                <xs:element type="xs:string" name="externalId"/>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                          <xs:element type="xs:string" name="externalId"/>
                          <xs:element type="xs:string" name="groups"/>
                          <xs:element type="xs:string" name="branches"/>
                          <xs:element type="xs:string" name="birthDate"/>
                          <xs:element type="xs:dateTime" name="createDateTime"/>
                          <xs:element type="xs:string" name="firstName"/>
                          <xs:element type="xs:string" name="defaultContact"/>
                          <xs:element type="xs:string" name="mobilePhone"/>
                          <xs:element type="xs:string" name="otherPhone"/>
                          <xs:element type="xs:string" name="udfMetaGroups"/>
                          <xs:element type="xs:string" name="remarks2"/>
                          <xs:element type="xs:string" name="location"/>
                          <xs:element type="xs:string" name="udfValues"/>
                          <xs:element name="lastChangedBy">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element type="xs:string" name="id"/>
                                <xs:element type="xs:string" name="externalId"/>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                          <xs:element type="xs:string" name="remarks"/>
                          <xs:element type="xs:string" name="syncStatus"/>
                          <xs:element name="object">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="objectId">
                                  <xs:complexType>
                                    <xs:sequence>
                                      <xs:element type="xs:string" name="id"/>
                                      <xs:element type="xs:int" name="externalId"/>
                                    </xs:sequence>
                                  </xs:complexType>
                                </xs:element>
                                <xs:element type="xs:string" name="objectType"/>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>