Resources/canonical_library/xsd/XSD_a53e564604404095c64ebbdce64e330355a6cc7e.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="root">
    <xs:complexType>
      <xs:sequence>
        <xs:element type="xs:long" name="MANDT"/>
        <xs:element type="xs:string" name="CLAIM_NUMBER"/>
        <xs:element type="xs:string" name="PNGUID"/>
		<xs:element type="xs:string" name="PNCNT"/>
		<xs:element type="xs:string" name="REFNO"/>
		<xs:element type="xs:string" name="CLAIM_STATUS"/>
		<xs:element type="xs:boolean" name="ASYNCFLAG"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>