Resources/canonical_library/xsd/XSD_4d26d88bbb9ae3d392b08181c9f36a334d870f4c.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="root">
    <xs:complexType>
      <xs:sequence>
    	<xs:element type="xs:string" name="totalevents"/>
      	<xs:element name="events" minOccurs="0" maxOccurs="unbounded">
   	  	<xs:complexType>
      	<xs:sequence>
              <xs:element type="xs:string" name="eventid" minOccurs="0" maxOccurs="1"/>
              <xs:element type="xs:string" name="clientid" minOccurs="0" maxOccurs="1"/>
              <xs:element type="xs:string" name="goodafter" minOccurs="0" maxOccurs="1"/>
              <xs:element type="xs:string" name="isactive" minOccurs="0" maxOccurs="1"/>
              <xs:element type="xs:string" name="regrequired" minOccurs="0" maxOccurs="1"/>
              <xs:element type="xs:string" name="description" minOccurs="0" maxOccurs="1"/>
              <xs:element type="xs:string" name="promotionalsummary" minOccurs="0" maxOccurs="1"/>
              <xs:element type="xs:string" name="regnotificationrequired" minOccurs="0" maxOccurs="1"/>
              <xs:element type="xs:string" name="displaytimezonecd" minOccurs="0" maxOccurs="1"/>
              <xs:element type="xs:string" name="eventtype" minOccurs="0" maxOccurs="1"/>
              <xs:element type="xs:string" name="createtimestamp" minOccurs="0" maxOccurs="1"/>
              <xs:element type="xs:string" name="localelanguagecd" minOccurs="0" maxOccurs="1"/>
              <xs:element type="xs:string" name="lastmodified" minOccurs="0" maxOccurs="1"/>
              <xs:element type="xs:string" name="iseliteexpired" minOccurs="0" maxOccurs="1"/>
              <xs:element type="xs:string" name="livestart" minOccurs="0" maxOccurs="1"/>
              <xs:element type="xs:string" name="liveend" minOccurs="0" maxOccurs="1"/>
			  <xs:element type="xs:string" name="archivestart" minOccurs="0" maxOccurs="1"/>
			  <xs:element type="xs:string" name="archiveend" minOccurs="0" maxOccurs="1"/>
			  <xs:element type="xs:string" name="audienceurl" minOccurs="0" maxOccurs="1"/>
			  <xs:element type="xs:string" name="eventprofile" minOccurs="0" maxOccurs="1"/>
			  <xs:element type="xs:string" name="streamtype" minOccurs="0" maxOccurs="1"/>
			  <xs:element type="xs:string" name="audiencekey" minOccurs="0" maxOccurs="1"/>
			  <xs:element type="xs:string" name="extaudienceurl" minOccurs="0" maxOccurs="1"/>
			  <xs:element type="xs:string" name="reporturl" minOccurs="0" maxOccurs="1"/>
			  <xs:element type="xs:string" name="uploadurl" minOccurs="0" maxOccurs="1"/>
			  <xs:element type="xs:string" name="pmurl" minOccurs="0" maxOccurs="1"/>
			  <xs:element type="xs:string" name="previewurl" minOccurs="0" maxOccurs="1"/>
			  <xs:element type="xs:string" name="contenttype" minOccurs="0" maxOccurs="1"/>
			  <xs:element type="xs:string" name="eventstd1" minOccurs="0" maxOccurs="1"/>
			  <xs:element type="xs:string" name="eventstd2" minOccurs="0" maxOccurs="1"/>
			  <xs:element type="xs:string" name="eventstd3" minOccurs="0" maxOccurs="1"/>
			  <xs:element type="xs:string" name="eventstd4" minOccurs="0" maxOccurs="1"/>
			  <xs:element type="xs:string" name="eventstd5" minOccurs="0" maxOccurs="1"/>
		 </xs:sequence>
    	</xs:complexType>
  		</xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>