Resources/canonical_library/xsd/XSD_293081aa668483744b5b67fbbc64979ef4a0c7c1.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="root">
    <xs:complexType>
      <xs:sequence>
          <xs:element name="ES_RETURN" minOccurs="0" maxOccurs="1" >
    <xs:complexType>
      <xs:sequence>
        <xs:element name="TYPE" type="xs:string" minOccurs="0" maxOccurs="1" />
        <xs:element name="ID" />
        <xs:element name="NUMBER" type="xs:unsignedByte" minOccurs="0" maxOccurs="1" />
        <xs:element name="MESSAGE" type="xs:string" minOccurs="0" maxOccurs="1" />
        <xs:element name="LOG_NO" minOccurs="0" maxOccurs="1" />
        <xs:element name="LOG_MSG_NO" type="xs:unsignedByte" minOccurs="0" maxOccurs="1" />
        <xs:element name="MESSAGE_V1" minOccurs="0" maxOccurs="1" />
        <xs:element name="MESSAGE_V2" minOccurs="0" maxOccurs="1" />
        <xs:element name="MESSAGE_V3" minOccurs="0" maxOccurs="1" />
        <xs:element name="MESSAGE_V4" minOccurs="0" maxOccurs="1" />
        <xs:element name="PARAMETER" minOccurs="0" maxOccurs="1" />
        <xs:element name="ROW" type="xs:unsignedByte" minOccurs="0" maxOccurs="1" />
        <xs:element name="FIELD" minOccurs="0" maxOccurs="1" />
        <xs:element name="SYSTEM" minOccurs="0" maxOccurs="1" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ET_BELNR" minOccurs="0" maxOccurs="1" >
    <xs:complexType>
      <xs:sequence>
        <xs:element name="item" minOccurs="0" maxOccurs="unbounded">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="BUKRS" type="xs:unsignedShort" minOccurs="0" maxOccurs="1" />
              <xs:element name="GJAHR" type="xs:unsignedShort" minOccurs="0" maxOccurs="1" />
              <xs:element name="BELNR_I" type="xs:string" minOccurs="0" maxOccurs="1" />
              <xs:element name="BELNR_E" type="xs:unsignedLong" minOccurs="0" maxOccurs="1" />
              <xs:element name="GJAHR_REV" type="xs:unsignedByte" minOccurs="0" maxOccurs="1" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
        <xs:element name="ET_TRAN" minOccurs="0" maxOccurs="1">
          <xs:complexType>
            <xs:sequence>
              <xs:element minOccurs="0" maxOccurs="unbounded" name="item">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="BUKRS" minOccurs="0" maxOccurs="1" type="xs:unsignedShort" />
                    <xs:element name="VNAME" minOccurs="0" maxOccurs="1" type="xs:unsignedShort" />
                    <xs:element name="EGRUP" minOccurs="0" maxOccurs="1" type="xs:string" />
                    <xs:element name="PROJN" minOccurs="0" maxOccurs="1" type="xs:unsignedByte" />
                    <xs:element name="BELNR_P" minOccurs="0" maxOccurs="1" type="xs:unsignedByte" />
                    <xs:element name="BELNR_O" minOccurs="0" maxOccurs="1" type="xs:string"/>
                    <xs:element name="BELNR" minOccurs="0" maxOccurs="1" type="xs:string"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>