Resources/canonical_library/xsd/XSD_5a54e825029d95b45ffcf3550cb57c0831b42390.xsd

<?xml version="1.0" encoding="UTF-8"?><xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="qualified">
	<xs:element name="root">
		<xs:complexType>
			<xs:sequence>
				<xs:element maxOccurs="unbounded" minOccurs="1" name="Table">
					<xs:complexType>
						<xs:sequence>
							<xs:element maxOccurs="1" minOccurs="0" name="Job_Application_ID" type="xs:string"/>
							<xs:element maxOccurs="1" minOccurs="0" name="Candidate_ID" type="xs:string"/>
							<xs:element maxOccurs="1" minOccurs="0" name="Job_Requisition_ID" type="xs:string"/>
							<xs:element maxOccurs="1" minOccurs="0" name="Job_Application_Date" type="xs:long"/>
							<xs:element maxOccurs="1" minOccurs="0" name="Recruiting_Stage_ID" type="xs:string"/>
							<xs:element maxOccurs="1" minOccurs="0" name="Applicant_Source_ID" type="xs:string"/>
							<xs:element maxOccurs="1" minOccurs="0" name="Source_Reference" type="xs:boolean"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>