Resources/canonical_library/xsd/XSD_70005b1d1d3a713206acef8e5f5729c8de20a923.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="root">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Registrant">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="lastName" type="xs:string" minOccurs="0" maxOccurs="1" />
              <xs:element name="country" type="xs:string" minOccurs="0" maxOccurs="1" />
              <xs:element name="zipCode" type="xs:unsignedInt" minOccurs="0" maxOccurs="1" />
              <xs:element name="purchasingRole" type="xs:string" minOccurs="0" maxOccurs="1" />
              <xs:element name="city" type="xs:string" minOccurs="0" maxOccurs="1" />
              <xs:element name="jobTitle" type="xs:string" minOccurs="0" maxOccurs="1" />
              <xs:element name="industry" type="xs:string" minOccurs="0" maxOccurs="1" />
              <xs:element name="questionsAndComments" type="xs:string" minOccurs="0" maxOccurs="1" />
              <xs:element name="type" type="xs:string" minOccurs="0" maxOccurs="1" />
              <xs:element name="employeeCount" type="xs:string" minOccurs="0" maxOccurs="1" />
              <xs:element name="registrationDate" type="xs:dateTime" minOccurs="0" maxOccurs="1" />
              <xs:element name="state" type="xs:string" minOccurs="0" maxOccurs="1" />
              <xs:element name="joinUrl" type="xs:string" minOccurs="0" maxOccurs="1" />
              <xs:element name="registrantKey" type="xs:unsignedLong" minOccurs="0" maxOccurs="1" />
              <xs:element name="email" type="xs:string" minOccurs="0" maxOccurs="1" />
              <xs:element name="address" type="xs:string" minOccurs="0" maxOccurs="1" />
              <xs:element name="implementationTimeFrame" type="xs:string" minOccurs="0" maxOccurs="1" />
              <xs:element name="timeZone" type="xs:string" minOccurs="0" maxOccurs="1" />
              <xs:element name="numberOfEmployees" type="xs:string" minOccurs="0" maxOccurs="1" />
              <xs:element name="firstName" type="xs:string" minOccurs="0" maxOccurs="1" />
              <xs:element name="unsubscribed" type="xs:boolean" minOccurs="0" maxOccurs="1" />
              <xs:element name="phone" type="xs:unsignedLong" minOccurs="0" maxOccurs="1" />
              <xs:element name="organization" type="xs:string" minOccurs="0" maxOccurs="1" />
              <xs:element name="purchasingTimeFrame" type="xs:string" minOccurs="0" maxOccurs="1" />
              <xs:element name="status" type="xs:string" minOccurs="0" maxOccurs="1" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>