Resources/canonical_library/xsd/XSD_85f7c7271491c12cbed3a96313bcd8de8dc5cf08.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="root">
    <xs:complexType>
      <xs:sequence>
        <xs:element type="xs:string" name="id"/>
        <xs:element type="xs:string" name="name"/>
        <xs:element name="description">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="short"/>
              <xs:element type="xs:string" name="language"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element type="xs:byte" name="status"/>
        <xs:element type="xs:float" name="version"/>
        <xs:element type="xs:string" name="objectType"/>
        <xs:element type="xs:string" name="source"/>
        <xs:element type="xs:string" name="sourceId"/>
        <xs:element type="xs:string" name="hasInrevision"/>
        <xs:element type="xs:byte" name="cardinality"/>
        <xs:element type="xs:byte" name="minCardinality"/>
        <xs:element name="childNodes" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="id"/>
              <xs:element type="xs:string" name="name"/>
              <xs:element name="description">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:string" name="short"/>
                    <xs:element type="xs:string" name="long" minOccurs="0"/>
                    <xs:element type="xs:string" name="language"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element type="xs:byte" name="status"/>
              <xs:element type="xs:float" name="version"/>
              <xs:element type="xs:string" name="objectType"/>
              <xs:element type="xs:string" name="source" minOccurs="0"/>
              <xs:element type="xs:string" name="sourceId" minOccurs="0"/>
              <xs:element type="xs:string" name="hasInrevision"/>
              <xs:element type="xs:byte" name="cardinality"/>
              <xs:element type="xs:byte" name="minCardinality"/>
              <xs:element type="xs:string" name="childNodes"/>
              <xs:element type="xs:string" name="leafNode"/>
              <xs:element type="xs:string" name="isSourceActive"/>
              <xs:element type="xs:byte" name="order"/>
              <xs:element type="xs:string" name="cardinalityDescriptions"/>
              <xs:element type="xs:string" name="mandatory"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element type="xs:string" name="leafNode"/>
        <xs:element type="xs:string" name="isSourceActive"/>
        <xs:element type="xs:byte" name="order"/>
        <xs:element type="xs:string" name="cardinalityDescriptions"/>
        <xs:element type="xs:string" name="mandatory"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>