Resources/canonical_library/xsd/XSD_44848e7b0252af387aee7b607a099add8b95bd55.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="root">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="row" maxOccurs="unbounded" >
            <xs:complexType>
                <xs:sequence>
                    <xs:element type="xs:string" minOccurs="0" maxOccurs="1" name="code"/>
                    <xs:element type="xs:string" minOccurs="0" maxOccurs="1" name="ISOCode"/>
                    <xs:element minOccurs="0" maxOccurs="unbounded" name="texts">
                    <xs:complexType>
                            <xs:sequence>
                                <xs:element type="xs:string" minOccurs="0" maxOccurs="1" name="locale"/>
                                <xs:element type="xs:string" minOccurs="0" maxOccurs="1" name="name"/>
                                <xs:element type="xs:string" minOccurs="0" maxOccurs="1" name="commercialCode"/>
                            </xs:sequence>
                        </xs:complexType>
                    </xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        <xs:element type="xs:string" minOccurs="0" maxOccurs="1" name="DRF_Id"/>
        <xs:element type="xs:string" minOccurs="0" maxOccurs="1" name="Sender_Id"/>
          <xs:element type="xs:string" minOccurs="0" maxOccurs="1" name="UOMCodes"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>