Resources/canonical_library/xsd/XSD_071cc303692690c11822e12263487543c209cccb.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="root">
		<xs:complexType>
			<xs:sequence>

				<xs:element name="d">
					<xs:complexType>
						<xs:sequence>

							<xs:element name="accrualObjectDetails">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="companyCode" minOccurs="0" maxOccurs="unbounded" type="xs:string" />
										<xs:element name="headerDetails">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="accrualObjectKey" minOccurs="0" maxOccurs="1" type="xs:string" />
													<xs:element name="createdBy" minOccurs="0" maxOccurs="1" type="xs:string" />
													<xs:element name="createdByEmail" minOccurs="0" maxOccurs="1" type="xs:string" />
													<xs:element name="companyCode" minOccurs="0" maxOccurs="1" type="xs:string" />
													<xs:element name="accrualObjectCategory" minOccurs="0" maxOccurs="1" type="xs:string" />
													<xs:element name="text" minOccurs="0" maxOccurs="1" type="xs:string" />
													<xs:element name="personResponsible" minOccurs="0" maxOccurs="1" type="xs:string" />
													<xs:element name="startOfLife" minOccurs="0" maxOccurs="1" type="xs:string" />
													<xs:element name="endOfLife" minOccurs="0" maxOccurs="1" type="xs:string" />
													<xs:element name="costCenter" minOccurs="0" maxOccurs="1" type="xs:string" />
													<xs:element name="profitCenter" minOccurs="0" maxOccurs="1" type="xs:string" />
													<xs:element name="WBSInternalId" minOccurs="0" maxOccurs="1" type="xs:string" />
													<xs:element name="order" minOccurs="0" maxOccurs="1" type="xs:string" />
												</xs:sequence>
											</xs:complexType>
										</xs:element>
										<xs:element name="items" minOccurs="0" maxOccurs="unbounded">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="accrualItemType" minOccurs="0" maxOccurs="1" type="xs:string" />
													<xs:element name="itemTypeText" minOccurs="0" maxOccurs="1" type="xs:string" />
													<xs:element name="ledgerGroup" minOccurs="0" maxOccurs="1" type="xs:string" />
													<xs:element name="totalAccrualAmount" minOccurs="0" maxOccurs="1" type="xs:string" />
													<xs:element name="transactionCurrency" minOccurs="0" maxOccurs="1" type="xs:string" />
													<xs:element name="accrualDeferralMethod" minOccurs="0" maxOccurs="1" type="xs:string" />
													<xs:element name="folderKey" minOccurs="0" maxOccurs="1" type="xs:string" />
												</xs:sequence>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>

			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>