Resources/canonical_library/xsd/XSD_45e581608beee0e581c05895388cbae194e3b864.xsd

<?xml version="1.0" encoding="UTF-8"?><xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="qualified">
  <xs:element name="root">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="contacts">
          <xs:complexType>
            <xs:sequence>
              <xs:element maxOccurs="unbounded" minOccurs="0" name="contact">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="Title" type="xs:string"/>
                    <xs:element name="salutation" type="xs:string"/>
                    <xs:element name="first_name" type="xs:string"/>
                    <xs:element name="last_name" type="xs:string"/>
                    <xs:element name="email" type="xs:string"/>
                    <xs:element name="preferred_email_format" type="xs:string"/>
                    <xs:element name="address" type="xs:string"/>
                    <xs:element name="zip_code" type="xs:string"/>
                    <xs:element name="city" type="xs:string"/>
                    <xs:element name="state" type="xs:string"/>
                    <xs:element name="country" type="xs:string"/>
                    <xs:element name="phone" type="xs:string"/>
                    <xs:element name="mobile" type="xs:string"/>
                    <xs:element name="fax" type="xs:string"/>
                    <xs:element name="gender" type="xs:string"/>
                    <xs:element name="birth_date" type="xs:string"/>
                    <xs:element name="optin" type="xs:string"/>
                    <xs:element name="registration_language" type="xs:string"/>
                    <xs:element name="newsletter" type="xs:string"/>
                    <xs:element name="email_valid" type="xs:string"/>
                    <xs:element name="registration_date" type="xs:string"/>
                    <xs:element name="sourcesystemname" type="xs:string"/>
                    <xs:element name="sap_id" type="xs:string"/>
                    <xs:element name="customer_id" type="xs:string"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>