Resources/canonical_library/xsd/XSD_e7ad65e16a667f72024b14a447c2f2a72c554d89.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="root">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="ES_RETURN">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="MESSAGE" minOccurs="0" maxOccurs="1" type="xs:string" />
                    <xs:element name="TYPE" minOccurs="0" maxOccurs="1" type="xs:string" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
        <xs:element name="ET_TRAN" minOccurs="0" maxOccurs="1">
          <xs:complexType>
            <xs:sequence>
              <xs:element minOccurs="0" maxOccurs="unbounded" name="item">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="BUKRS" minOccurs="0" maxOccurs="1" type="xs:unsignedShort" />
                    <xs:element name="VNAME" minOccurs="0" maxOccurs="1" type="xs:unsignedShort" />
                    <xs:element name="EGRUP" minOccurs="0" maxOccurs="1" type="xs:string" />
                    <xs:element name="PROJN" minOccurs="0" maxOccurs="1" type="xs:unsignedByte" />
                    <xs:element name="BELNR_P" minOccurs="0" maxOccurs="1" type="xs:unsignedByte" />
                    <xs:element name="BELNR_O" minOccurs="0" maxOccurs="1" type="xs:string"/>
                    <xs:element name="BELNR" minOccurs="0" maxOccurs="1" type="xs:string"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="IT_T8J4B" minOccurs="0" maxOccurs="1">
          <xs:complexType>
            <xs:sequence>
              <xs:element  minOccurs="0" maxOccurs="unbounded" name="item">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="BUKRS" minOccurs="0" maxOccurs="1" type="xs:string" />
                    <xs:element name="BATCH" minOccurs="0" maxOccurs="1" type="xs:string" />
                    <xs:element name="JVFUNC" minOccurs="0" maxOccurs="1" type="xs:string" />
                    <xs:element name="PARTN" minOccurs="0" maxOccurs="1" type="xs:unsignedShort" />
                    <xs:element name="VNAME" minOccurs="0" maxOccurs="1" type="xs:unsignedShort" />
                    <xs:element name="EGRUP" minOccurs="0" maxOccurs="1" type="xs:string" />
                    <xs:element name="FCURR" minOccurs="0" maxOccurs="1" type="xs:string" />
                    <xs:element name="POS_POM" minOccurs="0" maxOccurs="1" type="xs:string" />
                    <xs:element name="STATUS" minOccurs="0" maxOccurs="1" type="xs:string" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>