Resources/canonical_library/xsd/XSD_b29fc4a6538bd19a33fbf5c0b3aea87518951c9d.xsd

<?xml version="1.0" encoding="UTF-8"?>
   <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
         <!-- XML Schema Generated from XML Document on Fri May 18 2018 15:00:03 GMT+0200 (W. Europe Daylight Time) -->
         <!-- with XmlGrid.net Free Online Service http://xmlgrid.net -->
         <xs:element name="Root">
               <xs:complexType>
                     <xs:sequence>
                           <xs:element name="CO_COSTOBJECT" minOccurs="0" maxOccurs="unbounded">
                                 <xs:complexType>
                                       <xs:sequence>
                                             <xs:element name="level1Code" type="xs:string" minOccurs="0"></xs:element>
                                             <xs:element name="level2Code" type="xs:string" minOccurs="0"></xs:element>
                                             <xs:element name="level3Code" type="xs:string" minOccurs="0"></xs:element>
                                             <xs:element name="level4Code" type="xs:string" minOccurs="0"></xs:element>
                                             <xs:element name="level5Code" type="xs:string" minOccurs="0"></xs:element>
                                             <xs:element name="level6Code" type="xs:string" minOccurs="0"></xs:element>
                                             <xs:element name="level7Code" type="xs:string" minOccurs="0"></xs:element>
                                             <xs:element name="level8Code" type="xs:string" minOccurs="0"></xs:element>
                                             <xs:element name="level9Code" type="xs:string" minOccurs="0"></xs:element>
                                             <xs:element name="level10Code" type="xs:string" minOccurs="0"></xs:element>
                                             <xs:element name="name" type="xs:string" minOccurs="0"></xs:element>
                                             <xs:element name="startDate" type="xs:string" minOccurs="0"></xs:element>
                                             <xs:element name="endDate" type="xs:string" minOccurs="0"></xs:element>
                                             <xs:element name="deleted" type="xs:string" minOccurs="0"></xs:element>
                                       </xs:sequence>
                                 </xs:complexType>
                           </xs:element>
                     </xs:sequence>
                   </xs:complexType>
         </xs:element>
   </xs:schema>
 