Resources/canonical_library/xsd/XSD_358c1839ae665d6727b275b229351787a71acc75.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="root">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Headers">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="JournalEntryDates"/>
              <xs:element type="xs:string" name="PostingDate"/>
              <xs:element type="xs:short" name="CompanyCode"/>
              <xs:element type="xs:string" name="TransactionCurrency"/>
              <xs:element type="xs:string" name="JournalEntryType"/>
              <xs:element type="xs:string" name="Reference"/>
              <xs:element type="xs:string" name="Ledger"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="Line_Items" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:byte" name="LineItem"/>
              <xs:element type="xs:int" name="GLAccountCode"/>
              <xs:element type="xs:float" name="Debits"/>
              <xs:element type="xs:byte" name="Credits"/>
              <xs:element type="xs:int" name="CostCenter"/>
              <xs:element type="xs:int" name="ProfitCenter"/>
              <xs:element type="xs:string" name="Reference"/>
              <xs:element type="xs:string" name="AccountingFlex5"/>
              <xs:element type="xs:string" name="AccountingFlex6"/>
              <xs:element type="xs:string" name="AccountingFlex7"/>
              <xs:element type="xs:string" name="AccountingFlex8"/>
              <xs:element type="xs:string" name="AccountingFlex9"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>