Resources/canonical_library/xsd/XSD_c33f86f6fdfc5765691cc752afd2cdf4f0d1b954.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="root">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="context">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="aAddBankDetails">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="element">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element type="xs:string" name="sBankAcctNo"/>
                          <xs:element type="xs:string" name="sBankHolder"/>
                          <xs:element type="xs:int" name="sBankKey"/>
                          <xs:element type="xs:string" name="sCountryKey"/>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="aAddContactPersons">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="element">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element type="xs:string" name="sContactName"/>
                          <xs:element type="xs:long" name="sContactPhone"/>
                          <xs:element type="xs:byte" name="sDepartment"/>
                          <xs:element type="xs:byte" name="sDescription"/>
                          <xs:element type="xs:string" name="sFirstName"/>
                          <xs:element type="xs:string" name="sFormOfAddress"/>
                          <xs:element type="xs:byte" name="sFunction"/>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="aAddPartner">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="element" maxOccurs="unbounded" minOccurs="0">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element type="xs:string" name="sName"/>
                          <xs:element type="xs:string" name="sName1"/>
                          <xs:element type="xs:int" name="sNumber"/>
                          <xs:element type="xs:short" name="sPartner"/>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element type="xs:string" name="sABCIndicator"/>
              <xs:element type="xs:string" name="sAccWithVendor"/>
              <xs:element type="xs:byte" name="sAccountGroup"/>
              <xs:element type="xs:short" name="sAlternativePayee"/>
              <xs:element type="xs:string" name="sAuthorization"/>
              <xs:element type="xs:string" name="sCheckDigit"/>
              <xs:element type="xs:string" name="sCity"/>
              <xs:element type="xs:string" name="sConfirmationControl"/>
              <xs:element type="xs:string" name="sCorporateGroup"/>
              <xs:element type="xs:string" name="sCountry"/>
              <xs:element type="xs:short" name="sCredInfoNo"/>
              <xs:element type="xs:string" name="sCustomer"/>
              <xs:element type="xs:string" name="sDMEIndicator"/>
              <xs:element type="xs:int" name="sDateOfBirth"/>
              <xs:element type="xs:string" name="sDistrict"/>
              <xs:element type="xs:byte" name="sFax"/>
              <xs:element type="xs:string" name="sISRNumber"/>
              <xs:element type="xs:string" name="sIncoterms"/>
              <xs:element type="xs:string" name="sInstructionKey"/>
              <xs:element type="xs:string" name="sLanguage"/>
              <xs:element type="xs:short" name="sLocationNumber"/>
              <xs:element type="xs:short" name="sLocationNumber2"/>
              <xs:element type="xs:short" name="sMinimumOrderValue"/>
              <xs:element type="xs:byte" name="sModeOfTrnsprtBorder"/>
              <xs:element type="xs:string" name="sOfficeOfEntry"/>
              <xs:element type="xs:string" name="sOrderCurrency"/>
              <xs:element type="xs:short" name="sOrderOptimRest"/>
              <xs:element type="xs:string" name="sOtherCity"/>
              <xs:element type="xs:string" name="sOtherCountry"/>
              <xs:element type="xs:string" name="sPOBox"/>
              <xs:element type="xs:string" name="sPROACTControlProf"/>
              <xs:element type="xs:int" name="sPartnerNumber"/>
              <xs:element type="xs:string" name="sPlaceOfBirth"/>
              <xs:element type="xs:byte" name="sPlannedDelivTime"/>
              <xs:element type="xs:int" name="sPostalCode"/>
              <xs:element type="xs:string" name="sPriceMarkingAgreed"/>
              <xs:element type="xs:byte" name="sPricingDateControl"/>
              <xs:element type="xs:string" name="sProfession"/>
              <xs:element type="xs:short" name="sPurchaseOrganization"/>
              <xs:element type="xs:string" name="sPurchasingGroup"/>
              <xs:element type="xs:byte" name="sRegion"/>
              <xs:element type="xs:string" name="sRepName"/>
              <xs:element type="xs:string" name="sRoundingProfile"/>
              <xs:element type="xs:string" name="sSCAC"/>
              <xs:element type="xs:string" name="sSchemaGroupVendor"/>
              <xs:element type="xs:string" name="sSearchTerms"/>
              <xs:element type="xs:byte" name="sServLevel"/>
              <xs:element type="xs:string" name="sShippingConditions"/>
              <xs:element type="xs:byte" name="sSortCriterion"/>
              <xs:element type="xs:string" name="sStandardCommMethod"/>
              <xs:element type="xs:string" name="sStreet1"/>
              <xs:element type="xs:int" name="sSubsidiary"/>
              <xs:element type="xs:string" name="sSuppl"/>
              <xs:element type="xs:string" name="sTaxNumber"/>
              <xs:element type="xs:string" name="sTaxNumber1"/>
              <xs:element type="xs:string" name="sTaxNumber2"/>
              <xs:element type="xs:string" name="sTaxNumber5"/>
              <xs:element type="xs:string" name="sTermsOfPayment"/>
              <xs:element type="xs:byte" name="sTradingPartner"/>
              <xs:element type="xs:string" name="sUnitOfMeasureGrp"/>
              <xs:element type="xs:string" name="sVATRegNo"/>
              <xs:element type="xs:int" name="sVendorContact"/>
              <xs:element type="xs:string" name="sVendorName"/>
              <xs:element type="xs:string" name="sVendorName2"/>
              <xs:element type="xs:string" name="sVendorName3"/>
              <xs:element type="xs:string" name="sVendorName4"/>
              <xs:element type="xs:string" name="sVendorType"/>
              <xs:element type="xs:int" name="sZipCode"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>