Resources/canonical_library/xsd/XSD_d7b2efd5cd60b1eac953af4477a60bf0ad24ff9d.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ccts="urn:un:unece:uncefact:documentation:standard:CoreComponentsTechnicalSpecification:3.0">
	<xs:element name="root">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="creationDateTime" type="xs:dateTime" />
				<xs:element name="deliveryDocument" type="xs:string"/>
				<xs:element name="actualGoodsMovementDateTime" type="xs:dateTime" />
				<xs:element name="businessSystem" type="xs:string" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>