Resources/canonical_library/xsd/XSD_bf4df44972623b68937100bc41785fbe3a7ae3d2.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="root">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="accountGL" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
                    <xs:element type="xs:string" name="acctType"/>
                    <xs:element type="xs:string" name="businessArea"/>
                    <xs:element type="xs:byte" name="companyCode"/>
                    <xs:element type="xs:string" name="costCenter"/>
                    <xs:element type="xs:int" name="glAccountNo"/>
                    <xs:element type="xs:byte" name="itemAccountNumber"/>
                    <xs:element type="xs:string" name="itemText"/>
                    <xs:element type="xs:string" name="plant"/>
                    <xs:element type="xs:string" name="taxCode"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="accountTax" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
                    <xs:element type="xs:string" name="accountKey"/>
                    <xs:element type="xs:string" name="conditionKey"/>
                    <xs:element type="xs:string" name="directTax"/>
                    <xs:element type="xs:int" name="glAccount"/>
                    <xs:element type="xs:byte" name="itemAccountNumber"/>
                    <xs:element type="xs:string" name="taxCode"/>
                    <xs:element type="xs:byte" name="taxRate"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="currencyAmount" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
                    <xs:element type="xs:int" name="amount"/>
                    <xs:element type="xs:int" name="baseAmount"/>
                    <xs:element type="xs:string" name="currency"/>
                    <xs:element type="xs:byte" name="itemAccountNumber"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="return" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="message"/>
              <xs:element type="xs:string" name="type"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>