Resources/canonical_library/xsd/XSD_7a052a992aa5b6520eb8412fad1ec2f91c8b580e.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="root">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Product">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="ProductId"/>
              <xs:element type="xs:string" name="ProductName"/>
              <xs:element type="xs:string" name="Category"/>
              <xs:element type="xs:string" name="CurrencyCode"/>
              <xs:element type="xs:float" name="Price"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>