Resources/canonical_library/xsd/XSD_111e52705d2a4bab14a74ec1afe1f7251162f0bd.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="root">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="value">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="ConditionUsage" type="xs:string" />
              <xs:element name="ConditionApplication" type="xs:string" />
              <xs:element name="PricingProcedure" type="xs:string" />
              <xs:element minOccurs="0" maxOccurs="unbounded" name="_PricingProcedureItem">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="ConditionUsage" type="xs:string" />
                    <xs:element name="ConditionApplication" type="xs:string" />
                    <xs:element name="PricingProcedure" type="xs:string" />
                    <xs:element name="PricingProcedureStep" type="xs:unsignedShort" />
                    <xs:element name="PricingProcedureCounter" type="xs:unsignedByte" />
                    <xs:element name="ConditionType" type="xs:string" />
                    <xs:element name="PrcgProcedItemSubtotal" type="xs:string" />
                    <xs:element maxOccurs="unbounded" name="_ConditionTypeText">
                      <xs:complexType>
                        <xs:sequence minOccurs="0" maxOccurs="unbounded">
                          <xs:element  minOccurs="0" name="Language" type="xs:string" />
                          <xs:element  minOccurs="0" name="ConditionUsage" type="xs:string" />
                          <xs:element  minOccurs="0" name="ConditionApplication" type="xs:string" />
                          <xs:element  minOccurs="0" name="ConditionType" type="xs:string" />
                          <xs:element minOccurs="0"  name="ConditionTypeName" type="xs:string" />
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element minOccurs="0" maxOccurs="unbounded" name="_CmplWthoutCndnTypeTxt">
                      <xs:complexType>
                        <xs:sequence minOccurs="0" maxOccurs="unbounded">
                          <xs:element  minOccurs="0" name="Language" type="xs:string" />
                          <xs:element  minOccurs="0" name="ConditionUsage" type="xs:string" />
                          <xs:element  minOccurs="0" name="ConditionApplication" type="xs:string" />
                          <xs:element  minOccurs="0" name="ConditionType" type="xs:string" />
                          <xs:element minOccurs="0"  name="ConditionTypeName" type="xs:string" />
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>