Resources/canonical_library/xsd/XSD_5a5c96c905e6e56f10c89397251773dc1a787812.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="root">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="SubBP">
					<xs:complexType>
						<xs:sequence>
							<xs:element type="xs:date" name="dateOfBirth" minOccurs="0"/>
							<xs:element type="xs:string" name="maritalStatus" minOccurs="0"/>
							<xs:element type="xs:string" name="gender" minOccurs="0"/>
							<xs:element type="xs:string" name="customerId" minOccurs="0"/>
							<xs:element type="xs:string" name="fullName" minOccurs="0"/>
							<xs:element type="xs:string" name="firstName"/>
							<xs:element type="xs:string" name="lastName"/>
        <xs:element type="xs:string" name="phone" minOccurs="0"/>
        <xs:element type="xs:string" name="email" minOccurs="0"/>
        <xs:element name="address" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="Address" minOccurs="0">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:string" name="street" minOccurs="0"/>
                    <xs:element type="xs:string" name="housenumber" minOccurs="0"/>
                    <xs:element type="xs:string" name="postalcode" minOccurs="0"/>
                    <xs:element type="xs:string" name="city" minOccurs="0"/>
                    <xs:element name="country" minOccurs="0">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="CountryName" minOccurs="0">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element type="xs:string" name="isocode" minOccurs="0"/>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element type="xs:string" name="BUSINESSPARTNEROUT"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>