Resources/canonical_library/xsd/XSD_7af76557c31a820ee8377a171629539aaf6f1847.xsd

<xs:schema attributeFormDefault="unqualified"
	elementFormDefault="qualified"
	xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="root">
		<xs:complexType>
			<xs:sequence>
        <xs:element type="xs:string" name="eventType"
              minOccurs="0" maxOccurs="1" />
        <xs:element type="xs:float" name="eventTypeVersion"
          minOccurs="0" maxOccurs="1" />
        <xs:element type="xs:float" name="cloudEventsVersion"
          minOccurs="0" maxOccurs="1" />
        <xs:element type="xs:string" name="source"
          minOccurs="0" maxOccurs="1" />
        <xs:element type="xs:string" name="eventID"
          minOccurs="0" maxOccurs="1" />
        <xs:element type="xs:dateTime" name="eventTime"
          minOccurs="0" maxOccurs="1" />
        <xs:element type="xs:string" name="contentType"
          minOccurs="0" maxOccurs="1" />
        <xs:element name="extensions" minOccurs="0"
              maxOccurs="1">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="traceId"
                minOccurs="0" maxOccurs="1" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="data" minOccurs="0" maxOccurs="1">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="id"
                minOccurs="0" maxOccurs="1" />
              <xs:element type="xs:byte" name="code"
                minOccurs="0" maxOccurs="1" />
              <xs:element type="xs:string" name="externalId"
                minOccurs="0" maxOccurs="1" />
              <xs:element type="xs:string" name="subject"
                minOccurs="0" maxOccurs="1" />
              <xs:element type="xs:long" name="lastChanged"
                minOccurs="0" maxOccurs="1" />
              <xs:element type="xs:dateTime" name="dueDateTime"
                minOccurs="0" maxOccurs="1" />
              <xs:element type="xs:dateTime"
                name="earliestStartDateTime" minOccurs="0" maxOccurs="1" />
              <xs:element type="xs:string"
                name="durationInMinutes" minOccurs="0" maxOccurs="1" />
              <xs:element type="xs:byte" name="status"
                minOccurs="0" maxOccurs="1" />
              <xs:element type="xs:byte" name="origin"
                minOccurs="0" maxOccurs="1" />
              <xs:element type="xs:byte" name="problemType"
                minOccurs="0" maxOccurs="1" />
              <xs:element type="xs:string" name="priority"
                minOccurs="0" maxOccurs="1" />
              <xs:element type="xs:string" name="remarks"
                minOccurs="0" maxOccurs="1" />
              <xs:element type="xs:string" name="resolution"
                minOccurs="0" maxOccurs="1" />
              <xs:element name="udfValues"  minOccurs="0" maxOccurs="unbounded">
                <xs:complexType mixed="true">
                  <xs:sequence>
                    <xs:element name="udfMeta">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element type="xs:string" name="id"
                            minOccurs="0" maxOccurs="1" />
                          <xs:element type="xs:byte" name="code"
                            minOccurs="0" maxOccurs="1" />
                          <xs:element type="xs:string" name="externalId"
                            minOccurs="0" maxOccurs="1" />
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element type="xs:string" name="value"  minOccurs="0" maxOccurs="1"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="businessPartner" minOccurs="0"
                maxOccurs="1">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:string" name="id"
                      minOccurs="0" maxOccurs="1" />
                    <xs:element type="xs:byte" name="code"
                      minOccurs="0" maxOccurs="1" />
                    <xs:element type="xs:string" name="externalId"
                      minOccurs="0" maxOccurs="1" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="contact" minOccurs="0"
                maxOccurs="1">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:string" name="id"
                      minOccurs="0" maxOccurs="1" />
                    <xs:element type="xs:string" name="code"
                      minOccurs="0" maxOccurs="1" />
                    <xs:element type="xs:string" name="externalId"
                      minOccurs="0" maxOccurs="1" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="createPerson" minOccurs="0"
                maxOccurs="1">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:string" name="id"
                      minOccurs="0" maxOccurs="1" />
                    <xs:element type="xs:string" name="code"
                      minOccurs="0" maxOccurs="1" />
                    <xs:element type="xs:string" name="externalId"
                      minOccurs="0" maxOccurs="1" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="equipments" minOccurs="0"
                maxOccurs="unbounded">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:string" name="id"
                      minOccurs="0" maxOccurs="1" />
                    <xs:element type="xs:string" name="code"
                      minOccurs="0" maxOccurs="1" />
                    <xs:element type="xs:string" name="externalId"
                      minOccurs="0" maxOccurs="1" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="responsibles" minOccurs="0"
                maxOccurs="unbounded">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:string" name="id"
                      minOccurs="0" maxOccurs="1" />
                    <xs:element type="xs:string" name="code"
                      minOccurs="0" maxOccurs="1" />
                    <xs:element type="xs:short" name="externalId"
                      minOccurs="0" maxOccurs="1" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="address" minOccurs="0" maxOccurs="1">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:string" name="source"
                      minOccurs="0" maxOccurs="1" />
                    <xs:element type="xs:byte" name="sourceId"
                      minOccurs="0" maxOccurs="1" />
                    <xs:element type="xs:string" name="country"
                      minOccurs="0" maxOccurs="1" />
                    <xs:element type="xs:long" name="state"
                      minOccurs="0" maxOccurs="1" />
                    <xs:element type="xs:string" name="city"
                      minOccurs="0" maxOccurs="1" />
                    <xs:element type="xs:string" name="street"
                      minOccurs="0" maxOccurs="1" />
                    <xs:element type="xs:string" name="streetNumber"
                      minOccurs="0" maxOccurs="1" />
                    <xs:element type="xs:string" name="zipCode"
                      minOccurs="0" maxOccurs="1" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="activities" maxOccurs="unbounded"
                minOccurs="0">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:string" name="id"
                      minOccurs="0" maxOccurs="1" />
                    <xs:element type="xs:byte" name="code"
                      minOccurs="0" maxOccurs="1" />
                    <xs:element type="xs:string" name="externalId"
                      minOccurs="0" maxOccurs="1" />
                    <xs:element type="xs:long" name="lastChanged"
                      minOccurs="0" maxOccurs="1" />
                    <xs:element type="xs:string" name="subject"
                      minOccurs="0" maxOccurs="1" />
                    <xs:element type="xs:string" name="remarks"
                      minOccurs="0" maxOccurs="1" />
                    <xs:element type="xs:string"
                      name="durationInMinutes" minOccurs="0" maxOccurs="1" />
                    <xs:element type="xs:dateTime"
                      name="dueDateTime" minOccurs="0" maxOccurs="1" />
                    <xs:element type="xs:dateTime"
                      name="earliestStartDateTime" minOccurs="0" maxOccurs="1" />
                    <xs:element type="xs:string" name="status"
                      minOccurs="0" maxOccurs="1" />
                    <xs:element type="xs:string" name="type"
                      minOccurs="0" maxOccurs="1" />
                    <xs:element type="xs:string" name="address"
                      minOccurs="0" maxOccurs="1" />
                      <xs:element name="udfValues"  minOccurs="0" maxOccurs="unbounded">
                      <xs:complexType mixed="true">
                        <xs:sequence>
                          <xs:element name="udfMeta">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element type="xs:string" name="id"
                                  minOccurs="0" maxOccurs="1" />
                                <xs:element type="xs:byte" name="code"
                                  minOccurs="0" maxOccurs="1" />
                                <xs:element type="xs:string" name="externalId"
                                  minOccurs="0" maxOccurs="1" />
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                          <xs:element type="xs:string" name="value"  minOccurs="0" maxOccurs="1"/>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="contact" minOccurs="0"
                      maxOccurs="1">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element type="xs:string" name="id"
                            minOccurs="0" maxOccurs="1" />
                          <xs:element type="xs:string" name="code"
                            minOccurs="0" maxOccurs="1" />
                          <xs:element type="xs:string"
                            name="externalId" minOccurs="0" maxOccurs="1" />
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="createPerson" minOccurs="0"
                      maxOccurs="1">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element type="xs:string" name="id"
                            minOccurs="0" maxOccurs="1" />
                          <xs:element type="xs:string" name="code"
                            minOccurs="0" maxOccurs="1" />
                          <xs:element type="xs:string"
                            name="externalId" minOccurs="0" maxOccurs="1" />
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="equipment" minOccurs="0"
                      maxOccurs="1">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element type="xs:string" name="id"
                            minOccurs="0" maxOccurs="1" />
                          <xs:element type="xs:string" name="code"
                            minOccurs="0" maxOccurs="1" />
                          <xs:element type="xs:string"
                            name="externalId" minOccurs="0" maxOccurs="1" />
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    
                       <xs:element name="serviceProduct" maxOccurs="unbounded" minOccurs="0">
                       <xs:complexType>
                          <xs:sequence>
                             <xs:element type="xs:string" name="code" minOccurs="0" />
                             <xs:element type="xs:string" name="externalId" minOccurs="0" />
                             <xs:element type="xs:string" name="id" minOccurs="0" />
                          </xs:sequence>
                       </xs:complexType>
                    </xs:element>
                    
                    <xs:element name="responsibles" minOccurs="0"
                      maxOccurs="unbounded">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element type="xs:string" name="id"
                            minOccurs="0" maxOccurs="1" />
                          <xs:element type="xs:string" name="code"
                            minOccurs="0" maxOccurs="1" />
                          <xs:element type="xs:string"
                            name="externalId" minOccurs="0" maxOccurs="1" />
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="reservedMaterials"
                      minOccurs="0" maxOccurs="unbounded">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element type="xs:string" name="id"
                            minOccurs="0" maxOccurs="1" />
                          <xs:element type="xs:string" name="code"
                            minOccurs="0" maxOccurs="1" />
                          <xs:element type="xs:string"
                            name="externalId" minOccurs="0" maxOccurs="1" />
                          <xs:element name="item" minOccurs="0"
                            maxOccurs="1">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element type="xs:string" name="id"
                                  minOccurs="0" maxOccurs="1" />
                                <xs:element type="xs:string" name="code"
                                  minOccurs="0" maxOccurs="1" />
                                <xs:element type="xs:string"
                                  name="externalId" minOccurs="0" maxOccurs="1" />
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                          <xs:element type="xs:string"
                            name="serialNumber" minOccurs="0" maxOccurs="1" />
                          <xs:element type="xs:byte" name="quantity"
                            minOccurs="0" maxOccurs="1" />
                          <xs:element name="warehouse" minOccurs="0"
                            maxOccurs="1">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element type="xs:string" name="id"
                                  minOccurs="0" maxOccurs="1" />
                                <xs:element type="xs:string" name="code"
                                  minOccurs="0" maxOccurs="1" />
                                <xs:element type="xs:string"
                                  name="externalId" minOccurs="0" maxOccurs="1" />
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                          <xs:element type="xs:byte" name="used"
                            minOccurs="0" maxOccurs="1" />
                          <xs:element type="xs:byte" name="moved"
                            minOccurs="0" maxOccurs="1" />
                          <xs:element type="xs:string" name="shipped"
                            minOccurs="0" maxOccurs="1" />
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="sourceActivity" minOccurs="0"
                      maxOccurs="1">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element type="xs:string" name="id"
                            minOccurs="0" maxOccurs="1" />
                          <xs:element type="xs:string" name="code"
                            minOccurs="0" maxOccurs="1" />
                          <xs:element type="xs:string"
                            name="externalId" minOccurs="0" maxOccurs="1" />
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element type="xs:string" name="eventType"
                      minOccurs="0" maxOccurs="1" />
                    <xs:element name="expenses" minOccurs="0" maxOccurs="unbounded">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element type="xs:string" name="approvalStatus" minOccurs="0" />
                          <xs:element type="xs:string" name="chargeOption" minOccurs="0" />
                           <xs:element type="xs:dateTime" name="createDateTime" minOccurs="0" />
                               <xs:element name="createPerson" minOccurs="0" maxOccurs="1">
                           <xs:complexType>
                            <xs:sequence>
                              <xs:element type="xs:string" name="code"
                                 minOccurs="0" maxOccurs="1" />
                             <xs:element type="xs:string" name="externalId"  
                               minOccurs="0"   maxOccurs="1"  />
                            <xs:element type="xs:string" name="id"
                               minOccurs="0" maxOccurs="1" />
                           </xs:sequence>
                           </xs:complexType>
                           </xs:element>
                          <xs:element type="xs:string" name="expenseamount" minOccurs="0" />
                          <xs:element type="xs:string" name="expensecurrency" minOccurs="0" />
                          <xs:element type="xs:string" name="expenseitemId" minOccurs="0" />
                          <xs:element type="xs:date" name="date" minOccurs="0" />
                          <xs:element name="type" minOccurs="0" >
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element type="xs:byte" name="code" minOccurs="0" />
                                <xs:element type="xs:string" name="externalId" minOccurs="0" />
                                <xs:element type="xs:string" name="id" minOccurs="0" />
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                          <xs:element name="externalAmount" minOccurs="0">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element type="xs:short" name="amount" minOccurs="0" />
                                <xs:element type="xs:string" name="currency" minOccurs="0" />
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                          <xs:element type="xs:string" name="id" minOccurs="0" />
                          <xs:element type="xs:string" name="inactive" minOccurs="0" />
                          <xs:element name="internalAmount" minOccurs="0">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element type="xs:byte" name="amount" minOccurs="0" />
                                <xs:element type="xs:string" name="currency" minOccurs="0" />
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                          <xs:element type="xs:long" name="lastChanged" minOccurs="0" />
                          <xs:element type="xs:string" name="lastChangedBy" minOccurs="0" />
                          <xs:element name="object" minOccurs="0">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element type="xs:string" name="objectId" minOccurs="0" />
                                <xs:element type="xs:string" name="objectType" minOccurs="0" />
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                          <xs:element type="xs:string" name="remarks" minOccurs="0" />
                          <xs:element type="xs:string" name="syncStatus" minOccurs="0" />
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="timeEfforts"
                      maxOccurs="unbounded" minOccurs="0">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element type="xs:string" name="subTask"
                            minOccurs="0" maxOccurs="1" />
                          <xs:element type="xs:string"
                            name="totalPrice" minOccurs="0" maxOccurs="1" />
                          <xs:element type="xs:string" name="discount"
                            minOccurs="0" maxOccurs="1" />
                          <xs:element type="xs:string" name="owners"
                            minOccurs="0" maxOccurs="1" />
                          <xs:element type="xs:string"
                            name="chargeOption" minOccurs="0" maxOccurs="1" />
                          <xs:element type="xs:string"
                            name="syncObjectKPIs" minOccurs="0" maxOccurs="1" />
                          <xs:element type="xs:string" name="inactive"
                            minOccurs="0" maxOccurs="1" />
                          <xs:element type="xs:string"
                            name="startDateTimeTimeZoneId" minOccurs="0"
                            maxOccurs="1" />
                          <xs:element type="xs:string"
                            name="endDateTimeTimeZoneId" minOccurs="0"
                            maxOccurs="1" />
                          <xs:element type="xs:string" name="id"
                            minOccurs="0" maxOccurs="1" />
                          <xs:element type="xs:byte"
                            name="breakInMinutes" minOccurs="0" maxOccurs="1" />
                          <xs:element type="xs:string" name="unitPrice"
                            minOccurs="0" maxOccurs="1" />
                          <xs:element type="xs:string"
                            name="timeZoneId" minOccurs="0" maxOccurs="1" />
                          <xs:element type="xs:long" name="lastChanged"
                            minOccurs="0" maxOccurs="1" />
                          <xs:element name="createPerson" minOccurs="0" maxOccurs="1">
                           <xs:complexType>
                            <xs:sequence>
                              <xs:element type="xs:string" name="code"
                                 minOccurs="0" maxOccurs="1" />
                             <xs:element type="xs:string" name="externalId"  
                               minOccurs="0"   maxOccurs="1"  />
                            <xs:element type="xs:string" name="id"
                               minOccurs="0" maxOccurs="1" />
                           </xs:sequence>
                           </xs:complexType>
                           </xs:element>
                           <xs:element type="xs:string"
                            name="externalId" minOccurs="0" maxOccurs="1" />
                          <xs:element type="xs:string" name="groups"
                            minOccurs="0" maxOccurs="1" />
                          <xs:element type="xs:dateTime"
                            name="endDateTime" minOccurs="0" maxOccurs="1" />
                          <xs:element type="xs:string" name="branches"
                            minOccurs="0" maxOccurs="1" />
                          <xs:element type="xs:string"
                            name="internalRemarks" minOccurs="0" maxOccurs="1" />
                          <xs:element type="xs:dateTime"
                            name="createDateTime" minOccurs="0" maxOccurs="1" />
                          <xs:element type="xs:string"
                            name="breakStartDateTime" minOccurs="0" maxOccurs="1" />
                          <xs:element type="xs:dateTime"
                            name="startDateTime" minOccurs="0" maxOccurs="1" />
                          <xs:element name="task" minOccurs="0"
                            maxOccurs="1">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element type="xs:string" name="id"
                                  minOccurs="0" maxOccurs="1" />
                                <xs:element type="xs:string" name="code"
                                  minOccurs="0" maxOccurs="1" />
                                <xs:element type="xs:string"
                                  name="externalId" minOccurs="0" maxOccurs="1" />
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                          <xs:element type="xs:string"
                            name="udfMetaGroups" minOccurs="0"
                            maxOccurs="unbounded" />
                          <xs:element type="xs:string"
                            name="breakStartDateTimeTimeZoneId" minOccurs="0"
                            maxOccurs="1" />
                          <xs:element name="location">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element type="xs:float"
                                  name="latitude" minOccurs="0" />
                                <xs:element type="xs:float"
                                  name="longitude" minOccurs="0" />
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                          <xs:element type="xs:string" name="udfValues"
                            minOccurs="0" maxOccurs="unbounded" />
                          <xs:element type="xs:string"
                            name="lastChangedBy" minOccurs="0" maxOccurs="1" />
                          <xs:element type="xs:string" name="remarks"
                            minOccurs="0" maxOccurs="1" />
                          <xs:element type="xs:string"
                            name="syncStatus" minOccurs="0" maxOccurs="1" />
                          <xs:element name="object" minOccurs="0"
                            maxOccurs="1">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element type="xs:string"
                                  name="objectId" minOccurs="0" maxOccurs="1" />
                                <xs:element type="xs:string"
                                  name="objectType" minOccurs="0" maxOccurs="1" />
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                          <xs:element type="xs:string"
                            name="approvalStatus" minOccurs="0" maxOccurs="1" />
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="materials" minOccurs="0"
                      maxOccurs="unbounded">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element type="xs:date" name="date"
                            minOccurs="0" maxOccurs="1" />
                          <xs:element type="xs:string" name="code"
                            minOccurs="0" maxOccurs="1" />
                          <xs:element type="xs:string" name="owners"
                            minOccurs="0" maxOccurs="unbounded" />
                          <xs:element type="xs:string"
                            name="chargeOption" minOccurs="0" maxOccurs="1" />
                          <xs:element type="xs:string"
                            name="syncObjectKPIs" minOccurs="0" maxOccurs="1" />
                          <xs:element type="xs:string" name="itemName"
                            minOccurs="0" maxOccurs="1" />
                          <xs:element type="xs:string" name="inactive"
                            minOccurs="0" maxOccurs="1" />
                          <xs:element name="reservedMaterials" minOccurs="0"
                            maxOccurs="1">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element type="xs:string" name="id"
                                  minOccurs="0" maxOccurs="1" />
                                <xs:element type="xs:string" name="code"
                                  minOccurs="0" maxOccurs="1" />
                                <xs:element type="xs:string"
                                  name="externalId" minOccurs="0" maxOccurs="1" />
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                          <xs:element type="xs:string" name="id"
                            minOccurs="0" maxOccurs="1" />
                          <xs:element type="xs:string" name="unitPrice"
                            minOccurs="0" maxOccurs="1" />
                          <xs:element name="item" minOccurs="0"
                            maxOccurs="1">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element type="xs:string" name="id"
                                  minOccurs="0" maxOccurs="1" />
                                <xs:element type="xs:string" name="code"
                                  minOccurs="0" maxOccurs="1" />
                                <xs:element type="xs:string"
                                  name="externalId" minOccurs="0" maxOccurs="1" />
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                          <xs:element type="xs:byte" name="quantity"
                            minOccurs="0" maxOccurs="1" />
                          <xs:element name="serialNumbers" minOccurs="0"
                            maxOccurs="unbounded">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element type="xs:string" name="serialNumber"
                                  minOccurs="0" maxOccurs="1" />
                                <xs:element type="xs:string" name="externalId"
                                  minOccurs="0" maxOccurs="1" />
                                <xs:element type="xs:string" name="id" 
                                  minOccurs="0" maxOccurs="1" />
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                          <xs:element type="xs:long" name="lastChanged"
                            minOccurs="0" maxOccurs="1" />
                          <xs:element name="equipment" minOccurs="0"
                            maxOccurs="1">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element type="xs:string" name="id"
                                  minOccurs="0" maxOccurs="1" />
                                <xs:element type="xs:string" name="code"
                                  minOccurs="0" maxOccurs="1" />
                                <xs:element type="xs:string"
                                  name="externalId" minOccurs="0" maxOccurs="1" />
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                       
                            <xs:element name="createPerson" minOccurs="0" maxOccurs="1">
                           <xs:complexType>
                            <xs:sequence>
                              <xs:element type="xs:string" name="code"
                                 minOccurs="0" maxOccurs="1" />
                             <xs:element type="xs:string" name="externalId"  
                               minOccurs="0"   maxOccurs="1"  />
                            <xs:element type="xs:string" name="id"
                               minOccurs="0" maxOccurs="1" />
                             
                           </xs:sequence>
                           </xs:complexType>
                           </xs:element>

                          <xs:element type="xs:string"
                            name="externalId" minOccurs="0" maxOccurs="1" />
                          <xs:element type="xs:string" name="groups"
                            minOccurs="0" maxOccurs="1" />
                          <xs:element name="warehouse" minOccurs="0"
                            maxOccurs="1">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element type="xs:string" name="id"
                                  minOccurs="0" maxOccurs="1" />
                                <xs:element type="xs:string" name="code"
                                  minOccurs="0" maxOccurs="1" />
                                <xs:element type="xs:string"
                                  name="externalId" minOccurs="0" maxOccurs="1" />
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                          <xs:element type="xs:string" name="branches"
                            minOccurs="0" maxOccurs="1" />
                          <xs:element type="xs:dateTime"
                            name="createDateTime" />
                          <xs:element type="xs:string"
                            name="udfMetaGroups" />
                          <xs:element type="xs:string" name="location" />
                          <xs:element type="xs:string" name="udfValues" />
                          <xs:element type="xs:string"
                            name="lastChangedBy" />
                          <xs:element type="xs:string" name="remarks" />
                          <xs:element type="xs:string"
                            name="syncStatus" />
                          <xs:element name="object" minOccurs="0"
                            maxOccurs="1">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element type="xs:string"
                                  name="objectId" minOccurs="0" maxOccurs="1" />
                                <xs:element type="xs:string"
                                  name="objectType" minOccurs="0" maxOccurs="1" />
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                          <xs:element type="xs:string"
                            name="approvalStatus" minOccurs="0" maxOccurs="1" />
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="mileages" minOccurs="0"
                      maxOccurs="unbounded">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element type="xs:date" name="date" />
                          <xs:element type="xs:string" name="code" />
                          <xs:element type="xs:byte" name="distance" />
                          <xs:element type="xs:string"
                            name="destination" />
                          <xs:element type="xs:string" name="owners" />
                          <xs:element type="xs:string" name="source" />
                          <xs:element type="xs:string" name="type" />
                          <xs:element type="xs:dateTime"
                            name="travelEndDateTime" />
                          <xs:element type="xs:string"
                            name="chargeOption" />
                          <xs:element type="xs:string"
                            name="syncObjectKPIs" />
                          <xs:element type="xs:string"
                            name="travelEndDateTimeTimeZoneId" />
                          <xs:element type="xs:string" name="inactive" />
                          <xs:element type="xs:dateTime"
                            name="travelStartDateTime" />
                          <xs:element type="xs:string" name="id" />
                          <xs:element type="xs:string"
                            name="travelStartDateTimeTimeZoneId" />
                          <xs:element type="xs:long" name="lastChanged" />
                          
                            <xs:element name="createPerson" minOccurs="0" maxOccurs="1">
                           <xs:complexType>
                            <xs:sequence>
                              <xs:element type="xs:string" name="code"
                                 minOccurs="0" maxOccurs="1" />
                             <xs:element type="xs:string" name="externalId"  
                               minOccurs="0"   maxOccurs="1"  />
                            <xs:element type="xs:string" name="id"
                               minOccurs="0" maxOccurs="1" />
                             
                           </xs:sequence>
                           </xs:complexType>
                           </xs:element>





                          <xs:element type="xs:string" name="groups" />
                          <xs:element type="xs:string" name="branches" />
                          <xs:element type="xs:dateTime"
                            name="createDateTime" />
                          <xs:element type="xs:string" name="driver" />
                          <xs:element type="xs:string"
                            name="udfMetaGroups" />
                          <xs:element type="xs:string" name="location" />
                          <xs:element type="xs:string" name="udfValues" />
                          <xs:element type="xs:string"
                            name="privateCar" />
                          <xs:element type="xs:string"
                            name="lastChangedBy" />
                          <xs:element type="xs:string" name="remarks"
                            minOccurs="0" maxOccurs="1" />
                          <xs:element type="xs:string"
                            name="syncStatus" minOccurs="0" maxOccurs="1" />
                          <xs:element name="object" minOccurs="0"
                            maxOccurs="1">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element type="xs:string"
                                  name="objectId" minOccurs="0" maxOccurs="1" />
                                <xs:element type="xs:string"
                                  name="objectType" minOccurs="0" maxOccurs="1" />
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                          <xs:element type="xs:string"
                            name="approvalStatus" />
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="reservedMaterials" minOccurs="0"
                maxOccurs="unbounded">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:string" name="id"
                      minOccurs="0" maxOccurs="1" />
                    <xs:element type="xs:string" name="externalId"
                      minOccurs="0" maxOccurs="1" />
                    <xs:element name="item" minOccurs="0"
                      maxOccurs="1">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element type="xs:string" name="id"
                            minOccurs="0" maxOccurs="1" />
                          <xs:element type="xs:string" name="code"
                            minOccurs="0" maxOccurs="1" />
                          <xs:element type="xs:string"
                            name="externalId" minOccurs="0" maxOccurs="1" />
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element type="xs:string" name="serialNumber"
                      minOccurs="0" maxOccurs="1" />
                    <xs:element type="xs:byte" name="quantity"
                      minOccurs="0" maxOccurs="1" />
                    <xs:element name="warehouse" minOccurs="0"
                      maxOccurs="1">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element type="xs:string" name="id"
                            minOccurs="0" maxOccurs="1" />
                          <xs:element type="xs:string" name="code"
                            minOccurs="0" maxOccurs="1" />
                          <xs:element type="xs:string"
                            name="externalId" minOccurs="0" maxOccurs="1" />
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element type="xs:byte" name="used"
                      minOccurs="0" maxOccurs="1" />
                    <xs:element type="xs:byte" name="moved"
                      minOccurs="0" maxOccurs="1" />
                    <xs:element type="xs:string" name="shipped"
                      minOccurs="0" maxOccurs="1" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element type="xs:string" name="type"
                minOccurs="0" maxOccurs="1" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
				
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>