Resources/canonical_library/xsd/XSD_361e8c964d24eb9bf31460e45d96c9e6480c1c95.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="root">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Bukrs" type="xs:unsignedShort" />
        <xs:element name="Batch" type="xs:string" />
        <xs:element name="EffDate" type="xs:unsignedInt" />
        <xs:element name="PostDate" type="xs:unsignedInt" />
        <xs:element name="Period" type="xs:unsignedByte" />
        <xs:element name="Message" type="xs:string" />
        <xs:element maxOccurs="unbounded" name="HeaderToBatch">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="Bukrs" type="xs:unsignedShort" />
              <xs:element name="Batch" type="xs:string" />
              <xs:element name="Jvfunc" type="xs:string" />
              <xs:element name="Partn" type="xs:unsignedByte" />
              <xs:element name="Vname" type="xs:unsignedShort" />
              <xs:element name="Egrup" type="xs:string" />
              <xs:element name="Projn" type="xs:unsignedByte" />
              <xs:element name="Fcurr" type="xs:string" />
              <xs:element name="PosPom" type="xs:unsignedByte" />
              <xs:element name="Status" type="xs:string" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>