Resources/canonical_library/xsd/ZWF_FM_FTR_POSTING.Response.xsd

<?xml version="1.0" encoding="utf-8"?>

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="ZWF_FM_FTR_POSTING.Response">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="EP_PRQ_NO" minOccurs="0" maxOccurs="1" type="xs:string"/>
				<xs:element name="ES_RETURN">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="TYPE" type="xs:string" />
							<xs:element name="NUMBER" type="xs:unsignedByte" />
							<xs:element name="MESSAGE" type="xs:string" />
						</xs:sequence>
					</xs:complexType>
				</xs:element>

				<xs:element name="ET_RETURN">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="item">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="TYPE" type="xs:string" />
										<xs:element name="NUMBER" type="xs:unsignedByte" />
										<xs:element name="MESSAGE" type="xs:string" />
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="ET_PAYP" minOccurs="0" maxOccurs="unbounded">
					<xs:complexType>
						<xs:sequence>
							<xs:element minOccurs="0" maxOccurs="unbounded" name="item">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="PRQ_KEYNO" type="xs:string" />
										<xs:element name="SGTXT" type="xs:string" />
										<xs:element name="TYPE" type="xs:string" />
										<xs:element name="BELNR" type="xs:string" />
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>