Resources/canonical_library/xsd/ZWF_FM_HR_MASTER_GET_APPR_MULT.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="ZWF_FM_HR_MASTER_GET_APPR_MULT">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="I_INPUT">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="item"  minOccurs="0" maxOccurs="unbounded">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="COMPANYCODE" type="xs:string" />
										<xs:element name="POSITION" type="xs:string" />
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>