Resources/schemas/Xsd/Akeneo_PIM_Categories_integration_with_SAP_Commerce - category-message-mapping-target.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified"
  xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Categories">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Category">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="catalogVersion">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="CatalogVersion">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="catalog">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="Catalog">
                                  <xs:complexType>
                                    <xs:sequence>
                                      <xs:element type="xs:string" name="id"/>
                                      <xs:element type="xs:string" name="integrationKey"/>
                                    </xs:sequence>
                                  </xs:complexType>
                                </xs:element>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                          <xs:element type="xs:string" name="version"/>
                          <xs:element type="xs:string" name="integrationKey"/>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element type="xs:string" name="code"/>
              <xs:element type="xs:string" name="integrationKey"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>