Resources/schemas/Xsd/Akeneo_PIM_Event_Platform_integration_with_SAP_ERP - pim.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="root">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="_links">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="self">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="href" type="xs:string" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="first">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="href" type="xs:string" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="next">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="href" type="xs:string" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="current_page" type="xs:unsignedByte" />
        <xs:element name="_embedded">
          <xs:complexType>
            <xs:sequence>
              <xs:element maxOccurs="unbounded" name="items">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="_links">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="self">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="href" type="xs:string" />
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="uuid" type="xs:string" />
                    <xs:element name="enabled" type="xs:boolean" />
                    <xs:element name="family" type="xs:string" />
                    <xs:element name="categories" />
                    <xs:element name="groups" />
                    <xs:element name="parent" />
                    <xs:element name="values">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="sku">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="locale" />
                                <xs:element name="scope" />
                                <xs:element name="data" type="xs:string" />
                                <xs:element name="attribute_type" type="xs:string" />
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                          <xs:element name="Color">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="locale" />
                                <xs:element name="scope" />
                                <xs:element name="data" type="xs:string" />
                                <xs:element name="attribute_type" type="xs:string" />
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                          <xs:element minOccurs="0" name="weight">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="locale" />
                                <xs:element name="scope" />
                                <xs:element name="data">
                                  <xs:complexType>
                                    <xs:sequence>
                                      <xs:element name="amount" type="xs:decimal" />
                                      <xs:element name="unit" type="xs:string" />
                                    </xs:sequence>
                                  </xs:complexType>
                                </xs:element>
                                <xs:element name="attribute_type" type="xs:string" />
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                          <xs:element minOccurs="0" name="quantity">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="locale" />
                                <xs:element name="scope" />
                                <xs:element name="data" type="xs:decimal" />
                                <xs:element name="attribute_type" type="xs:string" />
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                          <xs:element minOccurs="0" name="available">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="locale" />
                                <xs:element name="scope" />
                                <xs:element name="data" type="xs:boolean" />
                                <xs:element name="attribute_type" type="xs:string" />
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                          <xs:element name="CreationDate">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="locale" />
                                <xs:element name="scope" />
                                <xs:element name="data" type="xs:dateTime" />
                                <xs:element name="attribute_type" type="xs:string" />
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                          <xs:element minOccurs="0" name="long_description">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="locale" />
                                <xs:element name="scope" />
                                <xs:element name="data" type="xs:string" />
                                <xs:element name="attribute_type" type="xs:string" />
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                          <xs:element minOccurs="0" name="Collection">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="locale" />
                                <xs:element name="scope" />
                                <xs:element maxOccurs="unbounded" name="data" type="xs:string" />
                                <xs:element name="attribute_type" type="xs:string" />
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                          <xs:element minOccurs="0" name="description_erp">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="locale" />
                                <xs:element name="scope" />
                                <xs:element name="data" type="xs:string" />
                                <xs:element name="attribute_type" type="xs:string" />
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="created" type="xs:dateTime" />
                    <xs:element name="updated" type="xs:dateTime" />
                    <xs:element name="associations" />
                    <xs:element name="quantified_associations" />
                    <xs:element name="metadata">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="workflow_status" type="xs:string" />
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>