Resources/schemas/Xsd/Amazon_MCF_and_Buy_with_Prime_Accelerators_for_SAP_S-4HANA_Private_Cloud - InventorySummarySchema.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="payload">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="granularity">
					<xs:complexType>
						<xs:sequence>
							<xs:element type="xs:string" name="granularityType" maxOccurs="unbounded" minOccurs="0"/>
							<xs:element type="xs:string" name="granularityId" maxOccurs="unbounded" minOccurs="0"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="inventorySummaries" maxOccurs="unbounded" minOccurs="0">
					<xs:complexType>
						<xs:sequence>
							<xs:element type="xs:string" name="asin" maxOccurs="unbounded" minOccurs="0"/>
							<xs:element type="xs:string" name="fnSku" maxOccurs="unbounded" minOccurs="0"/>
							<xs:element type="xs:string" name="sellerSku" maxOccurs="unbounded" minOccurs="0"/>
							<xs:element type="xs:string" name="condition" maxOccurs="unbounded" minOccurs="0"/>
							<xs:element name="A_MatlStkInAcctModType">
								<xs:complexType>
									<xs:sequence>
										<xs:element type="xs:string" name="MaterialBaseUnit" maxOccurs="1" minOccurs="0"/>
										<xs:element type="xs:short" name="MatlWrhsStkQtyInMatlBaseUnit" maxOccurs="1" minOccurs="0"/>
										<xs:element type="xs:string" name="Material" maxOccurs="1" minOccurs="0"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="inventoryDetails">
								<xs:complexType>
									<xs:sequence>
										<xs:element type="xs:byte" name="fulfillableQuantity" maxOccurs="unbounded" minOccurs="0"/>
										<xs:element type="xs:byte" name="inboundWorkingQuantity" maxOccurs="unbounded" minOccurs="0"/>
										<xs:element type="xs:byte" name="inboundShippedQuantity" maxOccurs="unbounded" minOccurs="0"/>
										<xs:element type="xs:byte" name="inboundReceivingQuantity" maxOccurs="unbounded" minOccurs="0"/>
										<xs:element name="reservedQuantity">
											<xs:complexType>
												<xs:sequence>
													<xs:element type="xs:byte" name="totalReservedQuantity" maxOccurs="unbounded" minOccurs="0"/>
													<xs:element type="xs:byte" name="pendingCustomerOrderQuantity" maxOccurs="unbounded" minOccurs="0"/>
													<xs:element type="xs:byte" name="pendingTransshipmentQuantity" maxOccurs="unbounded" minOccurs="0"/>
													<xs:element type="xs:byte" name="fcProcessingQuantity" maxOccurs="unbounded" minOccurs="0"/>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
										<xs:element name="researchingQuantity">
											<xs:complexType>
												<xs:sequence>
													<xs:element type="xs:byte" name="totalResearchingQuantity" maxOccurs="unbounded" minOccurs="0"/>
													<xs:element type="xs:string" name="researchingQuantityBreakdown" maxOccurs="unbounded" minOccurs="0"/>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
										<xs:element name="unfulfillableQuantity">
											<xs:complexType>
												<xs:sequence>
													<xs:element type="xs:byte" name="totalUnfulfillableQuantity" maxOccurs="unbounded" minOccurs="0"/>
													<xs:element type="xs:byte" name="customerDamagedQuantity" maxOccurs="unbounded" minOccurs="0"/>
													<xs:element type="xs:byte" name="warehouseDamagedQuantity" maxOccurs="unbounded" minOccurs="0"/>
													<xs:element type="xs:byte" name="distributorDamagedQuantity" maxOccurs="unbounded" minOccurs="0"/>
													<xs:element type="xs:byte" name="carrierDamagedQuantity" maxOccurs="unbounded" minOccurs="0"/>
													<xs:element type="xs:byte" name="defectiveQuantity" maxOccurs="unbounded" minOccurs="0"/>
													<xs:element type="xs:byte" name="expiredQuantity" maxOccurs="unbounded" minOccurs="0"/>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
										<xs:element name="futureSupplyQuantity">
											<xs:complexType>
												<xs:sequence>
													<xs:element type="xs:byte" name="reservedFutureSupplyQuantity" maxOccurs="unbounded" minOccurs="0"/>
													<xs:element type="xs:byte" name="futureSupplyBuyableQuantity" maxOccurs="unbounded" minOccurs="0"/>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element type="xs:dateTime" name="lastUpdatedTime" maxOccurs="unbounded" minOccurs="0"/>
							<xs:element type="xs:string" name="productName" maxOccurs="unbounded" minOccurs="0"/>
							<xs:element type="xs:byte" name="totalQuantity" maxOccurs="unbounded" minOccurs="0"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>