Resources/schemas/Xsd/Catena-X_Business_Partner_Data_Management_with_SAP_Master_Data_Governance - CreatePayloadInitiateEDRNegotiation.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="InitiateEDRNegotiation">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="atcontext">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="edc" type="xs:anyURI" minOccurs="0"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="attype" type="xs:anyURI"/>
        <xs:element name="counterPartyAddress" type="xs:anyURI"/>	
		<xs:element name="protocol" type="xs:string"/>
		<xs:element name="counterPartyId" type="xs:string"/>  		
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>