Resources/schemas/Xsd/Catena-X_Business_Partner_Data_Management_with_SAP_Master_Data_Governance - CheckEDRCache.xsd

<?xml version="1.0" encoding="UTF-8"?><xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
	<xs:element name="CheckEDRCache">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="atcontext">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="atvocab" type="xs:anyURI"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="attype" type="xs:string"/>
				<xs:element minOccurs="0" name="sortOrder" type="xs:string"/>
				<xs:element minOccurs="0" name="sortField" type="xs:string"/>
				<xs:element maxOccurs="unbounded" minOccurs="0" name="filterExpression">
					<xs:complexType>
						<xs:sequence>
							<xs:element minOccurs="0" name="operandLeft" type="xs:string"/>
							<xs:element minOccurs="0" name="operator" type="xs:string"/>
							<xs:element minOccurs="0" name="operandRight" type="xs:string"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>