Resources/schemas/Xsd/Catena-X_Business_Partner_Data_Management_with_SAP_Master_Data_Governance - OauthTokenRequest.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="root">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="OauthTokenRequest" maxOccurs="1" minOccurs="1">
					<xs:complexType>
						<xs:sequence>
							<xs:element type="xs:string" minOccurs="1" maxOccurs="1" name="AssetID"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>