Resources/schemas/Xsd/Catena-X_Business_Partner_Data_Management_with_SAP_Master_Data_Governance - CreateEDRRequestPayload-1.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="EDRRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="GetCatalogueTermsSubject" type="xs:string"/>
		<xs:element name="GetCatalogueTermsType" type="xs:string"/>
		<xs:element name="GetCatalogueVersion" type="xs:string"/>
		<xs:element name="ContractNegotiationPolicy" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
