Resources/schemas/Xsd/CCH®_SureTax®_Integration_for_SAP_S-4HANA_Cloud - SURETAX_SOAPREQUEST_RESPONSE_AddedExtraElements.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema targetNamespace="http://tempuri.org/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://tempuri.org/"   elementFormDefault="qualified">	

	<xsd:element name="SoapRequestResponse">
		<xsd:complexType>
		  <xsd:sequence>
			<xsd:element minOccurs="0" maxOccurs="1" name="SoapRequestResult" type="Response" />
		  </xsd:sequence>
		</xsd:complexType>
	</xsd:element>

	<xsd:complexType name="Response">
	<xsd:sequence>
	  <xsd:element minOccurs="0" maxOccurs="1" name="Successful" type="xsd:string" />
	  <xsd:element minOccurs="0" maxOccurs="1" name="ResponseCode" type="xsd:string" />
	  <xsd:element minOccurs="0" maxOccurs="1" name="HeaderMessage" type="xsd:string" />
	  <xsd:element minOccurs="0" maxOccurs="1" name="ItemMessages" type="ArrayOfItemMessage" />
	  <xsd:element minOccurs="0" maxOccurs="1" name="ClientTracking" type="xsd:string" />
	  <xsd:element minOccurs="0" maxOccurs="1" name="TotalTax" type="xsd:string" />
	  <xsd:element minOccurs="1" maxOccurs="1" name="TransId" type="xsd:long" />
	  <xsd:element minOccurs="0" maxOccurs="1" name="STAN" type="xsd:string" />
	  <xsd:element minOccurs="1" maxOccurs="1" name="MasterTransId" type="xsd:long" />
	  <xsd:element minOccurs="0" maxOccurs="1" name="GroupList" type="ArrayOfGroup" />
	</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ArrayOfItemMessage">
	<xsd:sequence>
	  <xsd:element minOccurs="0" maxOccurs="unbounded" name="ItemMessage" nillable="true" type="ItemMessage" />
	</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ItemMessage">
	<xsd:sequence>
	  <xsd:element minOccurs="0" maxOccurs="1" name="LineNumber" type="xsd:string" />
	  <xsd:element minOccurs="0" maxOccurs="1" name="ResponseCode" type="xsd:string" />
	  <xsd:element minOccurs="0" maxOccurs="1" name="Message" type="xsd:string" />
	</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ArrayOfGroup">
	<xsd:sequence>
	  <xsd:element minOccurs="0" maxOccurs="unbounded" name="Group" nillable="true" type="Group" />
	</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="Group">
	<xsd:sequence>
	  <xsd:element minOccurs="0" maxOccurs="1" name="LineNumber" type="xsd:string" />
	  <xsd:element minOccurs="0" maxOccurs="1" name="StateCode" type="xsd:string" />
	  <xsd:element minOccurs="0" maxOccurs="1" name="InvoiceNumber" type="xsd:string" />
	  <xsd:element minOccurs="0" maxOccurs="1" name="CustomerNumber" type="xsd:string" />
	  <xsd:element minOccurs="0" maxOccurs="1" name="LocationCode" type="xsd:string" />
	  <xsd:element minOccurs="0" maxOccurs="1" name="ExemptReasonCode" type="xsd:string" />
	  <xsd:element minOccurs="0" maxOccurs="1" name="TaxList" type="ArrayOfTax" />
	</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ArrayOfTax">
	<xsd:sequence>
	  <xsd:element minOccurs="0" maxOccurs="unbounded" name="Tax" nillable="true" type="Tax" />
	</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ArrayOfTaxAmount">
	<xsd:sequence>
	  <xsd:element minOccurs="0" maxOccurs="unbounded" name="TaxAmount" nillable="true" type="xsd:string" />
	</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ArrayOfTaxRate">
	<xsd:sequence>
	  <xsd:element minOccurs="0" maxOccurs="unbounded" name="TaxRate" nillable="true" type="xsd:string" />
	</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ArrayOfRevenue">
	<xsd:sequence>
		<xsd:element minOccurs="0" maxOccurs="unbounded" name="Revenue" nillable="true" type="xsd:string" />
	</xsd:sequence>
	</xsd:complexType>
	
	<xsd:complexType name="Tax">
	<xsd:sequence>
	  <xsd:element minOccurs="0" maxOccurs="1" name="TaxTypeCode" type="xsd:string" />
	  <xsd:element minOccurs="0" maxOccurs="1" name="ExemptCode" type="xsd:string" />
	  
	  <xsd:element minOccurs="0" maxOccurs="1" name="TaxTypeDesc" type="xsd:string" />
	  <xsd:element minOccurs="0" maxOccurs="1" name="TaxAmount" type="xsd:string" />
	  <xsd:element minOccurs="0" maxOccurs="1" name="Revenue" type="xsd:string" />
	  <xsd:element minOccurs="0" maxOccurs="1" name="CountyName" type="xsd:string" />
	  <xsd:element minOccurs="0" maxOccurs="1" name="CityName" type="xsd:string" />
	  <xsd:element minOccurs="1" maxOccurs="1" name="TaxRate" type="xsd:decimal" />
	  <xsd:element minOccurs="1" maxOccurs="1" name="PercentTaxable" type="xsd:decimal" />
	  <xsd:element minOccurs="1" maxOccurs="1" name="FeeRate" type="xsd:decimal" />
	  <xsd:element minOccurs="0" maxOccurs="1" name="RevenueBase" type="xsd:string" />
	  <xsd:element minOccurs="0" maxOccurs="1" name="TaxOnTax" type="xsd:string" />
	  <xsd:element minOccurs="0" maxOccurs="1" name="TaxAuthorityID" type="xsd:string" />
	  <xsd:element minOccurs="0" maxOccurs="1" name="TaxAuthorityName" type="xsd:string" />
	  <xsd:element minOccurs="0" maxOccurs="1" name="Juriscode" type="xsd:string" />
	  <xsd:element minOccurs="0" maxOccurs="1" name="TaxAmountList" type="ArrayOfTaxAmount" />
	  <xsd:element minOccurs="0" maxOccurs="1" name="TaxRateList" type="ArrayOfTaxRate" />
	  <xsd:element minOccurs="0" maxOccurs="1" name="RevenueList" type="ArrayOfRevenue" />
	  <xsd:element minOccurs="0" maxOccurs="1" name="NumberOfTaxes" type="xsd:string" />
	  <xsd:element minOccurs="0" maxOccurs="1" name="NumberOfGroups" type="xsd:string" />
	</xsd:sequence>
	</xsd:complexType>

</xsd:schema>