Resources/schemas/Xsd/Cloud_Integration_Pipeline_-_Templates - Interfaces.xsd

<?xml version="1.0" encoding="UTF-8"?><xsd:schema targetNamespace="http://sap.com/xi/XI/System" xmlns="http://sap.com/xi/XI/System" xmlns:xsd="http://www.w3.org/2001/XMLSchema"><xsd:element name="Interfaces" type="Interfaces"/><xsd:complexType name="Interfaces"><xsd:sequence><xsd:element name="Interface" type="Interface" minOccurs="0" maxOccurs="unbounded"/></xsd:sequence></xsd:complexType><xsd:complexType name="Interface"><xsd:sequence><xsd:element name="Index" type="xsd:string" minOccurs="0"/><xsd:element name="Service" type="xsd:string"/><xsd:element name="Name" type="xsd:string" minOccurs="0"/></xsd:sequence></xsd:complexType></xsd:schema>