Resources/schemas/Xsd/Convenient_Interaction_with_Data_Space_Integration - GetEdrRequest.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
    <xs:element name="GetEdrRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="atcontext">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="atvocab" type="xs:anyURI"/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="attype" type="xs:string"/>
                <xs:element name="sortOrder" minOccurs="0" type="xs:string"/>
                <xs:element name="sortField" minOccurs="0" type="xs:string"/>
                <xs:element name="filterExpression" minOccurs="0" maxOccurs="unbounded">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="operandLeft" type="xs:string"/>
                            <xs:element name="operator" type="xs:string"/>
                            <xs:element name="operandRight" type="xs:string"/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>