Resources/schemas/Xsd/Convenient_Interaction_with_Data_Space_Integration - GetCatalogResponse.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="GetCatalogResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="atid" type="xs:string"/>
                <xs:element name="attype" type="xs:string"/>
                <xs:element name="dspace_participantId" type="xs:string"/>
                <xs:element name="dcat_dataset">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="atid" type="xs:string"/>
                            <xs:element name="attype" type="xs:string"/>
                            <xs:element name="odrl_hasPolicy">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="atid" type="xs:string"/>
                                        <xs:element name="attype" type="xs:string"/>
                                        <xs:element name="odrl_permission" minOccurs="0" maxOccurs="unbounded">
                                            <xs:complexType/>
                                        </xs:element>
                                        <xs:element name="odrl_prohibition" minOccurs="0" maxOccurs="unbounded">
                                            <xs:complexType/>
                                        </xs:element>
                                        <xs:element name="odrl_obligation" minOccurs="0" maxOccurs="unbounded">
                                            <xs:complexType/>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element maxOccurs="unbounded" name="dcat_distribution">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="attype" type="xs:string"/>
                                        <xs:element name="dct_format">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name="atid" type="xs:string"/>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element name="dcat_accessService">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name="atid" type="xs:string"/>
                                                    <xs:element name="attype" type="xs:string"/>
                                                    <xs:element name="dcat_endpointDescription" type="xs:string"/>
                                                    <xs:element name="dcat_endpointUrl" type="xs:string"/>
                                                    <xs:element name="dct_terms" type="xs:string"/>
                                                    <xs:element name="dct_endpointUrl" type="xs:string"/>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="dct_subject" type="xs:string"/>
                            <xs:element name="dct_description" type="xs:string"/>
                            <xs:element name="BusinessPartnerNumber" type="xs:string"/>
                            <xs:element name="id" type="xs:string"/>
                            <xs:element name="dct_type" type="xs:string"/>
                            <xs:element name="cxcommon_version" type="xs:string"/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="dcat_service" minOccurs="0">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="atid" type="xs:string"/>
                            <xs:element name="attype" type="xs:string"/>
                            <xs:element name="dcat_endpointDescription" type="xs:string"/>
                            <xs:element name="dcat_endpointUrl" type="xs:string"/>
                            <xs:element name="dct_terms" type="xs:string"/>
                            <xs:element name="dct_endpointUrl" type="xs:string"/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="atcontext">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="atvocab" type="xs:string"/>
                            <xs:element name="edc" type="xs:string"/>
                            <xs:element name="tx" type="xs:string"/>
                            <xs:element name="tx-auth" type="xs:string"/>
                            <xs:element name="cx-policy" type="xs:string"/>
                            <xs:element name="dcat" type="xs:string"/>
                            <xs:element name="dct" type="xs:string"/>
                            <xs:element name="odrl" type="xs:string"/>
                            <xs:element name="dspace" type="xs:string"/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>