Resources/schemas/Xsd/Convenient_Interaction_with_Data_Space_Integration - NegotiateAndAccessAssetResponse.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
    <xs:element name="NegotiateAndAccessAssetResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="statusCode" type="xs:string"/>
                <xs:element name="statusText" type="xs:string"/>
                <xs:element minOccurs="0" name="errorMessage" type="xs:string"/>
                <xs:element minOccurs="0" name="assetId" type="xs:string"/>
                <xs:element minOccurs="0" name="offerId" type="xs:string"/>
                <xs:element minOccurs="0" name="contractNegotiationId" type="xs:string"/>
                <xs:element minOccurs="0" name="contractAgreementId" type="xs:string"/>
                <xs:element minOccurs="0" name="transferProcessId" type="xs:string"/>
                <xs:element minOccurs="0" name="transferProcessState" type="xs:string"/>
                <xs:element minOccurs="0" name="httpBody">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="characterEncoding" type="xs:string"/>
                            <xs:element name="contentType" type="xs:string"/>
                            <xs:choice>
                                <xs:element name="bodyAsBytes" type="xs:string"/>
                                <xs:element name="body" type="xs:anyType"/>
                            </xs:choice>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>
