Resources/schemas/Xsd/Corevist_Cloud_Commerce_Integration_with_SAP_S-4HANA - S4_PDF_Response.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
  
  <!-- Root element definition -->
  <xs:element name="GetPDF">
    <xs:complexType>
      <xs:sequence>
        <!-- Element for the binary data -->
        <xs:element name="BillingDocumentBinary" type="xs:base64Binary"/>
      </xs:sequence>
      <!-- Attribute definition for the "type" attribute -->
      <xs:attribute name="type" type="xs:string" use="required"/>
    </xs:complexType>
  </xs:element>
  
</xs:schema>
