Resources/schemas/Xsd/Corevist_Cloud_Commerce_Integration_with_SAP_S-4HANA - Rails_PDF_Response.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- Created with Liquid Technologies Online Tools 1.0 (https://www.liquid-technologies.com) -->
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Response">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="odata.context" type="xs:string" />
        <xs:element name="odata.metadataEtag" type="xs:string" />
        <xs:element name="ID" type="xs:unsignedByte" />
        <xs:element name="PDF_LENGTH" type="xs:unsignedByte" />
        <xs:element name="LOG" type="xs:unsignedByte" />
        <xs:element name="PDF_BASE64_TAB">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="LINE" type="xs:unsignedByte" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="SAP_RETURN" type="xs:unsignedByte" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>