Resources/schemas/Xsd/Coupa_Integration_with_SAP_Signavio_Process_Intelligence - Signavio_PurchaseOrderLineItem.xsd

<?xml version="1.0" encoding="UTF-8"?><xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="parent">
		<xs:complexType>
			<xs:sequence>
				<xs:element maxOccurs="unbounded" minOccurs="0" name="records">
					<xs:complexType>
						<xs:sequence>
							<xs:element minOccurs="0" name="PurchaseOrderLineItemId" type="xs:string"/>
							<xs:element minOccurs="0" name="PurchaseOrderId" type="xs:string"/>
							<xs:element minOccurs="0" name="PurchaseRequisitionLineItemId" type="xs:string"/>
							<xs:element minOccurs="0" name="VendorId" type="xs:string"/>
							<xs:element minOccurs="0" name="CreatedDate" type="xs:long"/>
							<xs:element minOccurs="0" name="ModifiedDate" type="xs:long"/>
							<xs:element minOccurs="0" name="ExpectedDeliveryDate" type="xs:long"/>
							<xs:element minOccurs="0" name="CreatedBy" type="xs:string"/>
							<xs:element minOccurs="0" name="LineType" type="xs:string"/>		
							<xs:element minOccurs="0" name="Category" type="xs:string"/>
							<xs:element minOccurs="0" name="SubCategory" type="xs:string"/>
							<xs:element minOccurs="0" name="GrossAmount" type="xs:double"/>
							<xs:element minOccurs="0" name="DiscountRate" type="xs:double"/>
							<xs:element minOccurs="0" name="Quantity" type="xs:double"/>
							<xs:element minOccurs="0" name="QuantityUnitOfMeasure" type="xs:string"/>
							<xs:element minOccurs="0" name="MaterialId" type="xs:string"/>
							<xs:element minOccurs="0" name="PlantId" type="xs:string"/>
							<xs:element minOccurs="0" name="ShipToParty" type="xs:string"/>
							<xs:element minOccurs="0" name="ContractID" type="xs:string"/>
							<xs:element minOccurs="0" name="Status" type="xs:string"/>
							<xs:element minOccurs="0" name="IsPartialItem" type="xs:boolean"/>
							<xs:element minOccurs="0" name="Description" type="xs:string"/>
							<xs:element minOccurs="0" name="AccountId" type="xs:string"/>
							<xs:element minOccurs="0" name="AccountName" type="xs:string"/>
							<xs:element minOccurs="0" name="AccountCode" type="xs:string"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>