Resources/schemas/Xsd/Coupa_Integration_with_SAP_Signavio_Process_Intelligence - Signavio_PurchaseRequisitionApproval.xsd

<?xml version="1.0" encoding="UTF-8"?><xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="parent">
        <xs:complexType>
            <xs:sequence>
                <xs:element maxOccurs="unbounded" minOccurs="0" name="records">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element minOccurs="0" name="ApprovalId" type="xs:string"/>
                            <xs:element minOccurs="0" name="PurchaseRequisitionId" type="xs:string"/>
                            <xs:element minOccurs="0" name="ApprovalDate" type="xs:long"/>
                            <xs:element minOccurs="0" name="State" type="xs:long"/>
                            <xs:element minOccurs="0" name="CreatedBy" type="xs:string"/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>