Resources/schemas/Xsd/Coupa_Integration_with_SAP_Signavio_Process_Intelligence - Signavio_InvoiceLineItem.xsd

<?xml version="1.0" encoding="UTF-8"?><xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="parent">
        <xs:complexType>
            <xs:sequence>
                <xs:element maxOccurs="unbounded" minOccurs="0" name="records">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element minOccurs="0" name="InvoiceLineItemId" type="xs:string"/>
                            <xs:element minOccurs="0" name="InvoiceId" type="xs:string"/>
                            <xs:element minOccurs="0" name="PurchaseOrderLineItemId" type="xs:string"/>
                            <xs:element minOccurs="0" name="PurchaseOrderId" type="xs:string"/>
                            <xs:element minOccurs="0" name="LineNumber" type="xs:string"/>
                            <xs:element minOccurs="0" name="CreatedDate" type="xs:long"/>
                            <xs:element minOccurs="0" name="ModifiedDate" type="xs:long"/>
                            <xs:element minOccurs="0" name="TotalAmount" type="xs:double"/>
                            <xs:element minOccurs="0" name="LineType" type="xs:string"/>
                            <xs:element minOccurs="0" name="Category" type="xs:string"/>
                            <xs:element minOccurs="0" name="MaterialId" type="xs:string"/>
                            <xs:element minOccurs="0" name="NetPrice" type="xs:double"/>
                            <xs:element minOccurs="0" name="Quantity" type="xs:double"/>
                            <xs:element minOccurs="0" name="UnitOfMeasure" type="xs:string"/>
                            <xs:element minOccurs="0" name="Status" type="xs:string"/>
                            <xs:element minOccurs="0" name="TaxRate" type="xs:double"/>
                            <xs:element minOccurs="0" name="TaxAmount" type="xs:double"/>
                            <xs:element minOccurs="0" name="DiscountAmount" type="xs:double"/>
                            <xs:element minOccurs="0" name="MatchingStatus" type="xs:string"/>
                            <xs:element minOccurs="0" name="MatchingDate" type="xs:long"/>
                            <xs:element minOccurs="0" name="ShipFromLocation" type="xs:string"/>
                            <xs:element minOccurs="0" name="CreatedBy" type="xs:string"/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>