Resources/schemas/Xsd/Coupa_Integration_with_SAP_Signavio_Process_Intelligence - Signavio_PurchaseOrder.xsd

<?xml version="1.0" encoding="UTF-8"?><xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="parent">
        <xs:complexType>
            <xs:sequence>
                <xs:element maxOccurs="unbounded" minOccurs="0" name="records">
                    <xs:complexType>
                        <xs:sequence>
							<xs:element minOccurs="0" name="PurchaseOrderId" type="xs:string"/>
							<xs:element minOccurs="0" name="PurchaseRequisitionId" type="xs:string"/>
							<xs:element minOccurs="0" name="CreatedDate" type="xs:long"/>
							<xs:element minOccurs="0" name="ModifiedDate" type="xs:long"/>
							<xs:element minOccurs="0" name="Confirmed" type="xs:string"/>
							<xs:element minOccurs="0" name="Type" type="xs:string"/>
							<xs:element minOccurs="0" name="Status" type="xs:string"/>
							<xs:element minOccurs="0" name="CreatedBy" type="xs:string"/>
							<xs:element minOccurs="0" name="Currency" type="xs:string"/>
							<xs:element minOccurs="0" name="CompanyId" type="xs:string"/>
							<xs:element minOccurs="0" name="CompanyName" type="xs:string"/>
							<xs:element minOccurs="0" name="DocumentDate" type="xs:long"/>
							<xs:element minOccurs="0" name="PaymentTerms" type="xs:string"/>
							<xs:element minOccurs="0" name="ReferencedDocumentId" type="xs:string"/>
							<xs:element minOccurs="0" name="ReferencedSystemId" type="xs:string"/>
							<xs:element minOccurs="0" name="ReferencedDocumentType" type="xs:string"/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>