Resources/schemas/Xsd/Coupa_Integration_with_SAP_Signavio_Process_Intelligence - Signavio_PurchaseRequisitionLineItem.xsd

<?xml version="1.0" encoding="UTF-8"?><xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="parent">
        <xs:complexType>
            <xs:sequence>
                <xs:element maxOccurs="unbounded" minOccurs="0" name="records">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element minOccurs="0" name="PurchaseRequisitionLineItemId" type="xs:string"/>
                            <xs:element minOccurs="0" name="PurchaseRequisitionId" type="xs:string"/>
                            <xs:element minOccurs="0" name="VendorId" type="xs:string"/>
                            <xs:element minOccurs="0" name="CreatedDate" type="xs:long"/>
                            <xs:element minOccurs="0" name="ModifiedDate" type="xs:long"/>
                            <xs:element minOccurs="0" name="LineType" type="xs:string"/>
                            <xs:element minOccurs="0" name="Category" type="xs:string"/>
                            <xs:element minOccurs="0" name="SubCategory" type="xs:string"/>
                            <xs:element minOccurs="0" name="Amount" type="xs:string"/>
                            <xs:element minOccurs="0" name="CreatedBy" type="xs:string"/>
                            <xs:element minOccurs="0" name="Status" type="xs:string"/>
                            <xs:element minOccurs="0" name="Quantity" type="xs:decimal"/>
                            <xs:element minOccurs="0" name="QuantityUnitOfMeasure" type="xs:string"/>
                            <xs:element minOccurs="0" name="Material" type="xs:string"/>
                            <xs:element minOccurs="0" name="ContractID" type="xs:string"/>
                            <xs:element minOccurs="0" name="Plant" type="xs:string"/>         
                            <xs:element minOccurs="0" name="ShipToParty" type="xs:string"/>                
                            <xs:element minOccurs="0" name="Description" type="xs:string"/>
                            <xs:element minOccurs="0" name="ReleaseStatus" type="xs:string"/>
                            <xs:element minOccurs="0" name="ExpectedDeliveryDate" type="xs:long"/>
                            <xs:element minOccurs="0" name="IsPartialItem" type="xs:boolean"/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>