Resources/schemas/Xsd/Coupa_Integration_with_SAP_Signavio_Process_Intelligence - Signavio_Invoice.xsd

<?xml version="1.0" encoding="UTF-8"?><xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="parent">
		<xs:complexType>
			<xs:sequence>
				<xs:element maxOccurs="unbounded" minOccurs="0" name="records">
					<xs:complexType>
						<xs:sequence>
							<xs:element minOccurs="0" name="InvoiceId" type="xs:string"/>
							<xs:element minOccurs="0" name="CreatedDate" type="xs:long"/>
							<xs:element minOccurs="0" name="ModifiedDate" type="xs:long"/>
							<xs:element minOccurs="0" name="InvoiceDate" type="xs:long"/>
							<xs:element minOccurs="0" name="SubmissionDate" type="xs:long"/>
							<xs:element minOccurs="0" name="InvoiceSubmissionMethod" type="xs:string"/>
							<xs:element minOccurs="0" name="ExternalInvoiceNumber" type="xs:string"/>
							<xs:element minOccurs="0" name="Currency" type="xs:string"/>
							<xs:element minOccurs="0" name="ShippingCosts" type="xs:double"/>
							<xs:element minOccurs="0" name="HandlingAmount" type="xs:double"/>
							<xs:element minOccurs="0" name="VendorId" type="xs:string"/>
							<xs:element minOccurs="0" name="Status" type="xs:string"/>
							<xs:element minOccurs="0" name="PaymentTerm" type="xs:string"/>
							<xs:element minOccurs="0" name="PaymentNetDueDate" type="xs:long"/>
							<xs:element minOccurs="0" name="PaymentDate" type="xs:long"/>
							<xs:element minOccurs="0" name="InvoiceType" type="xs:string"/>
							<xs:element minOccurs="0" name="OriginalInvoiceId" type="xs:string"/>
							<xs:element minOccurs="0" name="Purpose" type="xs:string"/>
							<xs:element minOccurs="0" name="SurchargeAmount" type="xs:double"/>
							<xs:element minOccurs="0" name="PaidAmount" type="xs:double"/>
							<xs:element minOccurs="0" name="ReferencedDocumentId" type="xs:string"/>
							<xs:element minOccurs="0" name="ReferencedSystemId" type="xs:string"/>
							<xs:element minOccurs="0" name="ReferencedDocumentType" type="xs:string"/>
							<xs:element minOccurs="0" name="CreatedBy" type="xs:string"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>