Resources/schemas/Xsd/Coupa_Integration_with_SAP_Signavio_Process_Intelligence - Signavio_User.xsd

<?xml version="1.0" encoding="UTF-8"?><xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="parent">
        <xs:complexType>
            <xs:sequence>
                <xs:element maxOccurs="unbounded" minOccurs="0" name="records">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element minOccurs="0" name="UserId" type="xs:string"/>
							<xs:element minOccurs="0" name="Type" type="xs:string"/>
                            <xs:element minOccurs="0" name="CreatedDate" type="xs:long"/>
                            <xs:element minOccurs="0" name="LastModifiedDate" type="xs:long"/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>