Resources/schemas/Xsd/Coupa_Integration_with_SAP_Signavio_Process_Intelligence - Signavio_GoodsReceiptLineitem.xsd

<?xml version="1.0" encoding="UTF-8"?><xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="parent">
        <xs:complexType>
            <xs:sequence>
                <xs:element maxOccurs="unbounded" minOccurs="0" name="records">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element minOccurs="0" name="GoodsReceiptLineItemId" type="xs:string"/>
							<xs:element minOccurs="0" name="GoodsReceiptId" type="xs:string"/>
							<xs:element minOccurs="0" name="PurchaseOrderLineItemId" type="xs:string"/>
							<xs:element minOccurs="0" name="PurchaseOrderId" type="xs:string"/>
							<xs:element minOccurs="0" name="TransactionType" type="xs:string"/>
							<xs:element minOccurs="0" name="CreatedDate" type="xs:long"/>
							<xs:element minOccurs="0" name="ModifiedDate" type="xs:long"/>
							<xs:element minOccurs="0" name="Status" type="xs:string"/>
							<xs:element minOccurs="0" name="Material" type="xs:string"/>
							<xs:element minOccurs="0" name="Quantity" type="xs:string"/>
							<xs:element minOccurs="0" name="UnitofMeasure " type="xs:string"/>
							<xs:element minOccurs="0" name="ReceiptDate" type="xs:long"/>
							<xs:element minOccurs="0" name="UnitPrice" type="xs:string"/>
							<xs:element minOccurs="0" name="TotalAmount" type="xs:string"/>
							<xs:element minOccurs="0" name="CreatedBy" type="xs:string"/>
							<xs:element minOccurs="0" name="AcceptedQuantity" type="xs:string"/>
							<xs:element minOccurs="0" name="LineType" type="xs:string"/>
							<xs:element minOccurs="0" name="ExpectedDeliveryDate" type="xs:long"/>
							<xs:element minOccurs="0" name="ContractId" type="xs:string"/>
							<xs:element minOccurs="0" name="VendorId" type="xs:string"/>			
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>