Resources/schemas/Xsd/Figaf_Process_Integration_to_Cloud_Integration_Migration - Invoicexsd-1.xsd

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://figaf/pitocpi" targetNamespace="http://figaf/pitocpi">
    <xsd:element name="Invoice" type="Invoice"/>
    <xsd:complexType name="Line">
        <xsd:sequence>
            <xsd:element name="newfield" type="xsd:string" minOccurs="0"/>
            <xsd:element name="ID" type="xsd:integer"/>
            <xsd:element name="ProductNo" type="xsd:string"/>
            <xsd:element name="Qty" type="xsd:double"/>
            <xsd:element name="Price" type="xsd:string" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="Invoice">
        <xsd:sequence>
            <xsd:element name="No" type="xsd:string"/>
            <xsd:element name="Date" type="xsd:string"/>
            <xsd:element name="Seller" type="xsd:string"/>
            <xsd:element name="Purchaser" type="xsd:string"/>
            <xsd:element name="Lines" type="Line" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
    </xsd:complexType>
</xsd:schema>