Resources/schemas/Xsd/Google_Campaign_Manager_Integration_with_SAP_Marketing_Cloud_or_SAP_Marketing - SAP_Marketing_SuccessData.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
        <xs:element name="d">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="results" maxOccurs="unbounded" minOccurs="0">
                <xs:complexType>
                  <xs:sequence>
                   		  <xs:element type="xs:byte" name="ServerCampaignId"/>
                          <xs:element type="xs:string" name="Date" maxOccurs="1" minOccurs="0"/>
                          <xs:element type="xs:string" name="CommunicationMedium" maxOccurs="1" minOccurs="0"/>
                          <xs:element type="xs:float" name="SpendAmount" maxOccurs="1" minOccurs="0"/>
                          <xs:element type="xs:string" name="SuccessDataTimeZone" maxOccurs="1" minOccurs="0"/>
                          <xs:element type="xs:string" name="SpendCurrency" maxOccurs="1" minOccurs="0"/>
                          <xs:element type="xs:byte" name="AgeRangeHigh" maxOccurs="1" minOccurs="0"/>
                          <xs:element type="xs:byte" name="AgeRangeLow" maxOccurs="1" minOccurs="0"/>
                          <xs:element type="xs:string" name="Gender" maxOccurs="1" minOccurs="0"/>                         
                          <xs:element type="xs:byte" name="Clicks" maxOccurs="1" minOccurs="0"/>
                          <xs:element type="xs:byte" name="Impressions" maxOccurs="1" minOccurs="0"/>                        
                          <xs:element type="xs:byte" name="UniqueImpressions" maxOccurs="1" minOccurs="0"/>
                          <xs:element type="xs:long" name="ReportId" maxOccurs="1" minOccurs="0"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
 </xs:schema>