Resources/schemas/Xsd/Google_Campaign_Manager_Integration_with_SAP_Marketing_Cloud_or_SAP_Marketing - GoogleDoubleClick_SuccessData.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="d">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="results" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="Campaign" maxOccurs="1" minOccurs="0"/>
              <xs:element type="xs:string" name="Date" maxOccurs="1" minOccurs="0"/>
              <xs:element type="xs:string" name="Clicks" maxOccurs="1" minOccurs="0"/>
              <xs:element type="xs:string" name="Impressions" maxOccurs="1" minOccurs="0"/>
              <xs:element type="xs:string" name="MediaCost" maxOccurs="1" minOccurs="0"/>
              <xs:element type="xs:string" name="Currency" maxOccurs="1" minOccurs="0"/>
              <xs:element type="xs:string" name="ReportId" maxOccurs="1" minOccurs="0"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>