Resources/schemas/Xsd/Icertis_Contract_Intelligence_(ICI)_for_SAP_S-4HANA_(Buy_Side) - AddressInformation-1.xsd

<xsd:schema targetNamespace="http://webcominc.com/" elementFormDefault="qualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:p0="http://webcominc.com/">
  <xsd:element name="root">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="Messages" type="xsd:string" minOccurs="0" maxOccurs="1" form="unqualified"/>
        <xsd:element name="Data" form="unqualified">
          <xsd:complexType>
            <xsd:sequence>
               <xsd:element type="xsd:string" name="ICMExternalId" minOccurs="0" maxOccurs="1" form="unqualified"/>
			   <xsd:element type="xsd:string" name="ICMAgreementCode" minOccurs="0" maxOccurs="1" form="unqualified"/>
			   <xsd:element type="xsd:string" name="ICMAddressType" minOccurs="0" maxOccurs="1" form="unqualified"/>
			   <xsd:element type="xsd:string" name="ICMAddressLine1" minOccurs="0" maxOccurs="1" form="unqualified"/>
			   <xsd:element type="xsd:string" name="ICMAddressLine2" minOccurs="0" maxOccurs="1" form="unqualified"/>
			   	<xsd:element type="xsd:string" name="Name" minOccurs="0" maxOccurs="1" form="unqualified"/>
			   <xsd:element type="xsd:string" name="ICMCity" minOccurs="0" maxOccurs="1" form="unqualified"/>				
				<xsd:element type="xsd:string" name="ICMPostalCode" minOccurs="0" maxOccurs="1" form="unqualified"/>
				 <xsd:element name="ICMExternalSourceSystem" type="xsd:string" minOccurs="0" maxOccurs="1" form="unqualified"/>
				<xsd:element name="ICMCountryCode" form="unqualified">
                                <xsd:complexType>
                                    <xsd:sequence>                                       
                                        <xsd:element type="xsd:string" name="DisplayValue" minOccurs="0" maxOccurs="1" form="unqualified"/>
                                    </xsd:sequence>
                                </xsd:complexType>
               </xsd:element>      
			<xsd:element name="ICMICISupplierCode" form="unqualified">
                                <xsd:complexType>
                                    <xsd:sequence>                                       
                                        <xsd:element type="xsd:string" name="DisplayValue" minOccurs="0" maxOccurs="1" form="unqualified"/>
                                    </xsd:sequence>
                                </xsd:complexType>
               </xsd:element>  			   
              
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="HasMoreData" type="xsd:boolean" minOccurs="0" maxOccurs="1" form="unqualified"/>
        <xsd:element name="PagingData" type="xsd:string" minOccurs="0" maxOccurs="1" form="unqualified"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
</xsd:schema>