Resources/schemas/Xsd/Icertis_Contract_Intelligence_(ICI)_Integration_with_SAP_CPQ_and_SAP_S-4HANA_(Sell_Side)_-_Extensions - BusinessPartners.xsd

<xsd:schema targetNamespace="http://webcominc.com/" elementFormDefault="qualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:p0="http://webcominc.com/">
  <xsd:element name="root">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="Messages" type="xsd:string" minOccurs="0" maxOccurs="1" form="unqualified"/>
        <xsd:element name="Data" form="unqualified">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="ICMContractingPartyType" type="xsd:string" minOccurs="0" maxOccurs="1" form="unqualified"/>
			  <xsd:element type="xsd:string" name="ICMExternalId" minOccurs="0" maxOccurs="1" form="unqualified"/>
			   <xsd:element type="xsd:string" name="ICMPartnerId" minOccurs="0" maxOccurs="1" form="unqualified"/>
			   <xsd:element type="xsd:string" name="ICMFirstName" minOccurs="0" maxOccurs="1" form="unqualified"/>
			    <xsd:element type="xsd:string" name="ICMLastName" minOccurs="0" maxOccurs="1" form="unqualified"/>
				 <xsd:element type="xsd:string" name="ICMAddressType" minOccurs="0" maxOccurs="1" form="unqualified"/>
				  <xsd:element type="xsd:string" name="ICMCustomerPreferredLanguage" minOccurs="0" maxOccurs="1" form="unqualified"/>
				   <xsd:element type="xsd:string" name="ICMPhoneNumber" minOccurs="0" maxOccurs="1" form="unqualified"/>
				    <xsd:element type="xsd:string" name="ICMFaxNumber" minOccurs="0" maxOccurs="1" form="unqualified"/>
					<xsd:element type="xsd:string" name="ICMEmailAddress" minOccurs="0" maxOccurs="1" form="unqualified"/>
              <xsd:element name="ICMContractingPartyName" type="xsd:string" minOccurs="0" maxOccurs="1" form="unqualified"/>
              <xsd:element name="ICMParentContractType" type="xsd:string" minOccurs="0" maxOccurs="1" form="unqualified"/>
              <xsd:element name="ICMContractingPartyStateorProvince" type="xsd:string" minOccurs="0" maxOccurs="1" form="unqualified"/>
              <xsd:element name="ICMContractingPartyZipCode" type="xsd:string" minOccurs="0" maxOccurs="1" form="unqualified"/>
              <xsd:element name="ICMContractingPartyAddress" type="xsd:string" minOccurs="0" maxOccurs="1" form="unqualified"/>
			  <xsd:element name="ICMCountryCode" form="unqualified">
                                <xsd:complexType>
                                    <xsd:sequence>                                       
                                        <xsd:element type="xsd:string" name="DisplayValue" minOccurs="0" maxOccurs="1" form="unqualified"/>
                                    </xsd:sequence>
                                </xsd:complexType>
               </xsd:element>             
              <xsd:element name="ICMContractingPartyCity" type="xsd:string" minOccurs="0" maxOccurs="1" form="unqualified"/>
              <xsd:element name="ICMAgreementCode" type="xsd:string" minOccurs="0" maxOccurs="1" form="unqualified"/>
              <xsd:element name="Name" type="xsd:string" minOccurs="0" maxOccurs="1" form="unqualified"/>
              <xsd:element name="TypeOfContract" type="xsd:string" minOccurs="0" maxOccurs="1" form="unqualified"/>
              <xsd:element name="ContractTypeName" type="xsd:string" minOccurs="0" maxOccurs="1" form="unqualified"/>
              <xsd:element name="OrgPath" type="xsd:string" minOccurs="0" maxOccurs="1" form="unqualified"/>
			  <xsd:element type="xsd:string" name="isActive" minOccurs="0" maxOccurs="1" form="unqualified"/>
			  <xsd:element type="xsd:string" name="syncRequired" minOccurs="0" maxOccurs="1" form="unqualified"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="HasMoreData" type="xsd:boolean" minOccurs="0" maxOccurs="1" form="unqualified"/>
        <xsd:element name="PagingData" type="xsd:string" minOccurs="0" maxOccurs="1" form="unqualified"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
</xsd:schema>