Resources/schemas/Xsd/Icertis_Contract_Intelligence_(ICI)_for_SAP_S-4HANA_(Buy_Side) - BusinessPartnerRelationshipS4.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- Created with Liquid Technologies Online Tools 1.0 (https://www.liquid-technologies.com) -->
<xs:schema xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="BusinessPartnerRelationshipSUITEReplicateRequestMessage">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="MessageHeader">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="ID" type="xs:string" />
              <xs:element name="UUID" type="xs:string" />
              <xs:element name="CreationDateTime" type="xs:dateTime" />
              <xs:element name="SenderBusinessSystemID" type="xs:string" />
              <xs:element name="RecipientBusinessSystemID" type="xs:string" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="BusinessPartnerRelationship">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="BusinessPartnerUUID" type="xs:string" />
              <xs:element name="BusinessPartnerInternalID" type="xs:unsignedShort" />
              <xs:element name="RelationshipBusinessPartnerUUID" type="xs:string" />
              <xs:element name="RelationshipBusinessPartnerInternalID" type="xs:unsignedShort" />
              <xs:element name="RoleCode" type="xs:string" />
              <xs:element name="ValidityPeriod">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="StartDate" type="xs:date" />
                    <xs:element name="EndDate" type="xs:date" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="DefaultIndicator" type="xs:boolean" />
              <xs:element name="RelationshipKindCode" nillable="true" />
              <xs:element name="ContactPerson">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="BusinessPartnerFunctionTypeCode" nillable="true" />
                    <xs:element name="BusinessPartnerFunctionalAreaCode" nillable="true" />
                    <xs:element name="PowerOfAttorneyTypeCode" nillable="true" />
                    <xs:element name="VIPReasonCode" nillable="true" />
                    <xs:element name="ContactPersonNote" nillable="true" />
                    <xs:element name="CustomerContactPerson">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="InternalID" type="xs:unsignedByte" />
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="SupplierContactPerson">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="InternalID" type="xs:unsignedByte" />
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                  <xs:attribute name="actionCode" type="xs:unsignedByte" use="required" />
                  <xs:attribute name="workplaceAddressListCompleteTransmissionIndicator" type="xs:boolean" use="required" />
                </xs:complexType>
              </xs:element>
              <xs:element name="ShareHolder">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="EquityParticipationPercent" nillable="true" />
                    <xs:element name="EquityParticipationPercentLong" nillable="true" />
                    <xs:element name="CompanyControlIndicator" type="xs:boolean" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
            <xs:attribute name="changeOrdinalNumberValue" type="xs:unsignedByte" use="required" />
            <xs:attribute name="reconciliationPeriodCounterValue" type="xs:unsignedByte" use="required" />
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>