Resources/schemas/Xsd/Icertis_Contract_Intelligence_(ICI)_for_SAP_S-4HANA_(Buy_Side) - BusinessParterS4-updated.XSD

<?xml version="1.0" encoding="utf-8"?>
<!-- Created with Liquid Technologies Online Tools 1.0 (https://www.liquid-technologies.com) -->
<xs:schema xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="BusinessPartner">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="UUID" type="xs:string" />
        <xs:element name="InternalID" type="xs:unsignedShort" />
        <xs:element name="CategoryCode" type="xs:unsignedByte" />
        <xs:element name="NumberRangeIntervalBusinessPartnerGroupCode" type="xs:string" />
        <xs:element name="Customer">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="InternalID" type="xs:unsignedShort" />
              <xs:element name="MaintenanceProfileCode" type="xs:string" />
              <xs:element name="AuthorisationGroupCode" nillable="true" />
              <xs:element name="ExpressTrainStationLocationName" nillable="true" />
              <xs:element name="TrainStationLocationName" nillable="true" />
              <xs:element name="CustomerPartyWithFiscalAddressInternalID" nillable="true" />
              <xs:element name="ReceiverCustomerPartyWithFiscalAddressInternalID" nillable="true" />
              <xs:element name="AlternativePayeePartyInternalID" nillable="true" />
              <xs:element name="ReceiverAlternativePayeePartyInternalID" nillable="true" />
              <xs:element name="AlternativePayeeAllowedIndicator" type="xs:boolean" />
              <xs:element name="CorporateGroupName" nillable="true" />
              <xs:element name="StandardPointLocationCode" nillable="true" />
              <xs:element name="DeletionBlockedIndicator" type="xs:boolean" />
              <xs:element name="DeletedIndicator" type="xs:boolean" />
              <xs:element name="CountyCode" nillable="true" />
              <xs:element name="CityCode" nillable="true" />
              <xs:element name="PostingBlockedIndicator" type="xs:boolean" />
              <xs:element name="EqualizationTaxRelevanceIndicator" type="xs:boolean" />
              <xs:element name="ValueAddedTaxRelevanceIndicator" type="xs:boolean" />
              <xs:element name="TradingPartnerCompanyID" nillable="true" />
              <xs:element name="TaxGroupCode" nillable="true" />
              <xs:element name="ICMSExemptionIndicator" type="xs:boolean" />
              <xs:element name="IPIExemptionIndicator" type="xs:boolean" />
              <xs:element name="TaxSubstitutionGroupCode" nillable="true" />
              <xs:element name="CFOPCategoryCode" nillable="true" />
              <xs:element name="SaleSalesAndDistributionBlocks">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="OrderBlockingReasonCode" nillable="true" />
                    <xs:element name="BillingBlockingReasonCode" nillable="true" />
                    <xs:element name="DeliveryBlockingReasonCode" nillable="true" />
                    <xs:element name="SalesSupportBlockedIndicator" type="xs:boolean" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="IndustrySector">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="IndustrialSectorCode" nillable="true" />
                    <xs:element name="FirstAdditionalIndustrialSectorCode" nillable="true" />
                    <xs:element name="SecondAdditionalIndustrialSectorCode" nillable="true" />
                    <xs:element name="ThirdAdditionalIndustrialSectorCode" nillable="true" />
                    <xs:element name="FourthAdditionalIndustrialSectorCode" nillable="true" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="MarketingAttributes">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="CustomerGroupCode" nillable="true" />
                    <xs:element name="CustomerNielsenRegionCode" nillable="true" />
                    <xs:element name="FiscalYearVariantCode" nillable="true" />
                    <xs:element name="AnnualSalesVolumeAmount" nillable="true">
                      <xs:complexType>
                        <xs:attribute name="currencyCode" type="xs:string" use="required" />
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="AnnualSalesVolumeAmountReportedYear" type="xs:unsignedByte" />
                    <xs:element name="EmployeeNumberValue" nillable="true" />
                    <xs:element name="EmployeeNumberValueReportedYear" type="xs:unsignedByte" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="CustomerExtensionCode" nillable="true" />
              <xs:element name="FirstAdditionalCustomerExtensionCode" nillable="true" />
              <xs:element name="SecondAdditionalCustomerExtensionCode" nillable="true" />
              <xs:element name="ThirdAdditionalCustomerExtensionCode" nillable="true" />
              <xs:element name="FourthAdditionalCustomerExtensionCode" nillable="true" />
              <xs:element name="FifthAdditionalCustomerExtensionCode" nillable="true" />
              <xs:element name="SixthAdditionalCustomerExtensionCode" nillable="true" />
              <xs:element name="SeventhAdditionalCustomerExtensionCode" nillable="true" />
              <xs:element name="EighthAdditionalCustomerExtensionCode" nillable="true" />
              <xs:element name="NinthAdditionalCustomerExtensionCode" nillable="true" />
              <xs:element name="DataMediumExchangeReportCode" nillable="true" />
              <xs:element name="DataMediumExchangeInstructionCode" nillable="true" />
              <xs:element name="CivilUseIndicator" type="xs:boolean" />
              <xs:element name="MilitaryUseIndicator" type="xs:boolean" />
              <xs:element name="LegalControlIndicators">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="BiochemicalWarfareIndicator" type="xs:boolean" />
                    <xs:element name="NuclearNonproliferationIndicator" type="xs:boolean" />
                    <xs:element name="NationalSecurityIndicator" type="xs:boolean" />
                    <xs:element name="MissileTechnologyIndicator" type="xs:boolean" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="PriceSpecifications">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="CustomerConditionGroupCode" nillable="true" />
                    <xs:element name="FirstAdditionalCustomerConditionGroupCode" nillable="true" />
                    <xs:element name="SecondAdditionalCustomerConditionGroupCode" nillable="true" />
                    <xs:element name="ThirdAdditionalCustomerConditionGroupCode" nillable="true" />
                    <xs:element name="FourthAdditionalCustomerConditionGroupCode" nillable="true" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="RepresentativeName" nillable="true" />
              <xs:element name="BusinessTypeName" nillable="true" />
              <xs:element name="IndustryTypeName" nillable="true" />
              <xs:element name="RelatedSupplierInternalID" nillable="true" />
              <xs:element name="AccountingInformation">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="CompanyID" type="xs:string" />
                    <xs:element name="EmployeeID" type="xs:unsignedByte" />
                    <xs:element name="BlockedIndicator" type="xs:boolean" />
                    <xs:element name="DeletedIndicator" type="xs:boolean" />
                    <xs:element name="SortCode" nillable="true" />
                    <xs:element name="AccountingClerkInitialsCode" nillable="true" />
                    <xs:element name="GeneralLedgerAccountReference">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="ID" type="xs:unsignedInt" />
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="AuthorisationGroupCode" nillable="true" />
                    <xs:element name="HeadOfficeAccountInternalID" nillable="true" />
                    <xs:element name="ReceiverHeadOfficeAccountInternalID" nillable="true" />
                    <xs:element name="AlternativePayeePartyInternalID" nillable="true" />
                    <xs:element name="ReceiverAlternativePayeePartyInternalID" nillable="true" />
                    <xs:element name="PaymentNoticeCustomerClearedItemsIndicator" nillable="true" />
                    <xs:element name="PaymentNoticeSalesDepartmentIndicator" nillable="true" />
                    <xs:element name="PaymentNoticeLegalDepartmentIndicator" nillable="true" />
                    <xs:element name="PaymentNoticeAccountingIndicator" type="xs:boolean" />
                    <xs:element name="PaymentNoticeCustomerWithoutClearedItemsIndicator" nillable="true" />
                    <xs:element name="PaymentMethodsCode" nillable="true" />
                    <xs:element name="CustomerSupplierClearingIndicator" type="xs:boolean" />
                    <xs:element name="PaymentBlockCode" nillable="true" />
                    <xs:element name="CashDiscountTermsCode" nillable="true" />
                    <xs:element name="BillOfExchangeChargesCashDiscountTermsCode" nillable="true" />
                    <xs:element name="InterestCalculationInclusionCode" nillable="true" />
                    <xs:element name="LastInterestCalculationKeyDate" nillable="true" />
                    <xs:element name="InterestCalculationFrequencyCode" type="xs:unsignedByte" />
                    <xs:element name="DebtorPartyCreditorID" nillable="true" />
                    <xs:element name="EmployeeResponsiblePartyName" nillable="true" />
                    <xs:element name="Note" nillable="true" />
                    <xs:element name="PlanningGroupCode" nillable="true" />
                    <xs:element name="ExportCreditInsuranceInstitutionID" nillable="true" />
                    <xs:element name="InsuredAmount">
                      <xs:complexType>
                        <xs:simpleContent>
                          <xs:extension base="xs:decimal">
                            <xs:attribute name="currencyCode" type="xs:string" use="required" />
                          </xs:extension>
                        </xs:simpleContent>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="InsuranceLeadDuration" type="xs:unsignedByte" />
                    <xs:element name="DeductiblePercent" nillable="true" />
                    <xs:element name="InsuranceID" nillable="true" />
                    <xs:element name="InsuranceValidityDate" nillable="true" />
                    <xs:element name="CollectiveInvoiceVariantID" nillable="true" />
                    <xs:element name="LocalProcessingIndicator" type="xs:boolean" />
                    <xs:element name="PeriodicAccountStatementsCode" nillable="true" />
                    <xs:element name="BillOfExchangeLimitAmount" nillable="true">
                      <xs:complexType>
                        <xs:attribute name="currencyCode" type="xs:string" use="required" />
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="NextPayeeInternalID" nillable="true" />
                    <xs:element name="ReceiverNextPayeeInternalID" nillable="true" />
                    <xs:element name="LastInterestCalculationRunDate" nillable="true" />
                    <xs:element name="RecordPaymentHistoryIndicator" type="xs:boolean" />
                    <xs:element name="BusinessPartnerToleranceGroupCode" nillable="true" />
                    <xs:element name="ProbableCheckPaidDuration" type="xs:unsignedByte" />
                    <xs:element name="HouseBankInternalID" nillable="true" />
                    <xs:element name="PayItemsSeparatelyIndicator" type="xs:boolean" />
                    <xs:element name="ReductionRatesDeterminationCode" nillable="true" />
                    <xs:element name="PreviousCustomerInternalID" nillable="true" />
                    <xs:element name="PaymentGroupingCode" nillable="true" />
                    <xs:element name="LeaveReasonCode" nillable="true" />
                    <xs:element name="DunningNoticeGroupingCode" nillable="true" />
                    <xs:element name="LockboxCode" nillable="true" />
                    <xs:element name="PaymentMethodSupplementCode" nillable="true" />
                    <xs:element name="BuyingGroupInternalID" nillable="true" />
                    <xs:element name="ReceiverBuyingGroupInternalID" nillable="true" />
                    <xs:element name="PaymentAdvicesSelectionRuleCode" nillable="true" />
                    <xs:element name="PaymentAdvicesByEDIIndicator" type="xs:boolean" />
                    <xs:element name="ReleaseApprovalGroupCode" nillable="true" />
                    <xs:element name="ConversionVersionReasonCode" nillable="true" />
                    <xs:element name="EmployeeResponsiblePartyTelephoneFormattedNumberDescription" nillable="true" />
                    <xs:element name="EmployeeResponsiblePartyFaxFormattedNumberDescription" nillable="true" />
                    <xs:element name="EmployeeResponsiblePartyWebAddress" nillable="true" />
                    <xs:element name="CreditMemosPaymentTermsCode" nillable="true" />
                    <xs:element name="ValueAdjustmentCode" nillable="true" />
                    <xs:element name="DeletionBlockedIndicator" type="xs:boolean" />
                    <xs:element name="AccountsReceivablePledgingCode" nillable="true" />
                  </xs:sequence>
                  <xs:attribute name="actionCode" type="xs:unsignedByte" use="required" />
                  <xs:attribute name="dunningInformationListCompleteTransmissionIndicator" type="xs:boolean" use="required" />
                  <xs:attribute name="withholdingTaxListCompleteTransmissionIndicator" type="xs:boolean" use="required" />
                  <xs:attribute name="accountingTextListCompleteTransmissionIndicator" type="xs:boolean" use="required" />
                </xs:complexType>
              </xs:element>
              <xs:element name="SalesArrangement">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="SalesOrganisationID" type="xs:unsignedShort" />
                    <xs:element name="DistributionChannelCode" type="xs:unsignedByte" />
                    <xs:element name="DivisionCode" type="xs:unsignedByte" />
                    <xs:element name="AuthorisationGroupCode" nillable="true" />
                    <xs:element name="DeletedIndicator" type="xs:boolean" />
                    <xs:element name="StatisticsGroupCode" nillable="true" />
                    <xs:element name="OrderBlockingReasonCode" nillable="true" />
                    <xs:element name="PricingProcedureDeterminationCode" type="xs:unsignedByte" />
                    <xs:element name="PricingProcedureDeterminationCodeLong" type="xs:unsignedByte" />
                    <xs:element name="GroupCode" nillable="true" />
                    <xs:element name="SalesDistrictCode" type="xs:unsignedByte" />
                    <xs:element name="PriceGroupCode" type="xs:unsignedByte" />
                    <xs:element name="PriceListTypeCode" nillable="true" />
                    <xs:element name="ItemOrderProbabilityNumberValue" nillable="true" />
                    <xs:element name="DeliveryBlockingReasonCode" nillable="true" />
                    <xs:element name="BatchSplitAllowedIndicator" type="xs:boolean" />
                    <xs:element name="SellerPartyBuyerID" nillable="true" />
                    <xs:element name="TransportServiceLevelCode" type="xs:unsignedByte" />
                    <xs:element name="BillingBlockingReasonCode" nillable="true" />
                    <xs:element name="ManualInvoiceMaintenanceIndicator" type="xs:boolean" />
                    <xs:element name="InvoiceDatesCalendarCode" nillable="true" />
                    <xs:element name="IncoiceListScheduleCalendarCode" nillable="true" />
                    <xs:element name="CurrencyCode" type="xs:string" />
                    <xs:element name="ABCClassificationCode" nillable="true" />
                    <xs:element name="AccountAssignmentGroupCode" nillable="true" />
                    <xs:element name="CashDiscountTermsCode" type="xs:unsignedByte" />
                    <xs:element name="DeliveringPlantID" nillable="true" />
                    <xs:element name="SalesGroupCode" nillable="true" />
                    <xs:element name="SalesOfficeCode" nillable="true" />
                    <xs:element name="ProductProposalID" nillable="true" />
                    <xs:element name="CustomerDefinedGroupCode" nillable="true" />
                    <xs:element name="FirstAdditionalCustomerDefinedGroupCode" nillable="true" />
                    <xs:element name="SecondAdditionalCustomerDefinedGroupCode" nillable="true" />
                    <xs:element name="ThirdAdditionalCustomerDefinedGroupCode" nillable="true" />
                    <xs:element name="FourthAdditionalCustomerDefinedGroupCode" nillable="true" />
                    <xs:element name="RebateRelevantIndicator" type="xs:boolean" />
                    <xs:element name="ExchangeRateTypeCode" nillable="true" />
                    <xs:element name="PricingRelevanceIndicator" type="xs:boolean" />
                    <xs:element name="PaymentGuaranteeProcedureCode" nillable="true" />
                    <xs:element name="CreditControlAreaCode" nillable="true" />
                    <xs:element name="SalesSupportBlockedIndicator" type="xs:boolean" />
                    <xs:element name="RoundingSwitchOffIndicator" type="xs:boolean" />
                    <xs:element name="AgencyBusinessRelevanceIndicator" type="xs:boolean" />
                    <xs:element name="MeasureUnitGroupCode" nillable="true" />
                    <xs:element name="ProductProposalCustomerProcedureCode" nillable="true" />
                    <xs:element name="PODRelevanceIndicator" type="xs:boolean" />
                    <xs:element name="PODConfirmationTimeframeDuration" type="xs:unsignedByte" />
                    <xs:element name="DocumentIndexAllowedIndicator" type="xs:boolean" />
                    <xs:element name="FifthAdditionalCustomerDefinedGroupCode" nillable="true" />
                    <xs:element name="SixthAdditionalCustomerDefinedGroupCode" nillable="true" />
                    <xs:element name="SeventhAdditionalCustomerDefinedGroupCode" nillable="true" />
                    <xs:element name="EighthAdditionalCustomerDefinedGroupCode" nillable="true" />
                    <xs:element name="NinthAdditionalCustomerDefinedGroupCode" nillable="true" />
                    <xs:element name="ValueAddedServiceDeterminationModeCode" nillable="true" />
                    <xs:element name="ValueAddedServiceCustomerGroupCode" nillable="true" />
                    <xs:element name="CharacteristicValueConversionCode" nillable="true" />
                    <xs:element name="OrderSchedulingStrategyCode" nillable="true" />
                    <xs:element name="OrderSchedulingStrategyFillRatePercent" nillable="true" />
                    <xs:element name="OrderSchedulingStratgeyAggregationLevelCode" nillable="true" />
                    <xs:element name="MultiShiptoOrderCustomerDistributionCenterID" nillable="true" />
                    <xs:element name="MultiShiptoOrderCustomerName" nillable="true" />
                    <xs:element name="PSSTGroupingRuleCode" nillable="true" />
                    <xs:element name="PSSTGroupingRuleExcludeIndicator" nillable="true" />
                    <xs:element name="DeliveryTerms">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="DeliveryPriorityCode" type="xs:unsignedByte" />
                          <xs:element name="Incoterms">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="ClassificationCode" nillable="true" />
                                <xs:element name="TransferLocationName" nillable="true" />
                                <xs:element name="TransferLocationNameLong" nillable="true" />
                                <xs:element name="DestinationLocationName" nillable="true" />
                                <xs:element name="Version" nillable="true" />
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                          <xs:element name="SalesOrderCompleteDeliveryIndicator" type="xs:boolean" />
                          <xs:element name="OrderCombinationAllowedIndicator" type="xs:boolean" />
                          <xs:element name="PartialDeliveryControlCode" nillable="true" />
                          <xs:element name="PartialDeliveryMaximumNumberValue" nillable="true" />
                          <xs:element name="QuantityTolerance">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="OverPercent" nillable="true" />
                                <xs:element name="OverPercentUnlimitedIndicator" type="xs:boolean" />
                                <xs:element name="UnderPercent" nillable="true" />
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element maxOccurs="unbounded" name="PartnerFunctions">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="PartyRoleCode" type="xs:string" />
                          <xs:element name="PartyInternalID" type="xs:unsignedShort" />
                          <xs:element name="ReceiverPartyInternalID" nillable="true" />
                          <xs:element name="DefaultIndicator" type="xs:boolean" />
                        </xs:sequence>
                        <xs:attribute name="actionCode" type="xs:unsignedByte" use="required" />
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                  <xs:attribute name="actionCode" type="xs:unsignedByte" use="required" />
                  <xs:attribute name="partnerFunctionsListCompleteTransmissionIndicator" type="xs:boolean" use="required" />
                  <xs:attribute name="salesArrangementTextListCompleteTransmissionIndicator" type="xs:boolean" use="required" />
                </xs:complexType>
              </xs:element>
              <xs:element maxOccurs="unbounded" name="TaxClassification">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="TaxCountryCode" type="xs:string" />
                    <xs:element name="TaxTypeCode" type="xs:string" />
                    <xs:element name="TaxGroupCode" type="xs:unsignedByte" />
                  </xs:sequence>
                  <xs:attribute name="actionCode" type="xs:unsignedByte" use="required" />
                </xs:complexType>
              </xs:element>
            </xs:sequence>
            <xs:attribute name="accountingInformationListCompleteTransmissionIndicator" type="xs:boolean" use="required" />
            <xs:attribute name="salesArrangementListCompleteTransmissionIndicator" type="xs:boolean" use="required" />
            <xs:attribute name="unloadingPointsListCompleteTransmissionIndicator" type="xs:boolean" use="required" />
            <xs:attribute name="taxClassificationListCompleteTransmissionIndicator" type="xs:boolean" use="required" />
            <xs:attribute name="customerTextListCompleteTransmissionIndicator" type="xs:boolean" use="required" />
            <xs:attribute name="customerDocumentListCompleteTransmissionIndicator" type="xs:boolean" use="required" />
            <xs:attribute name="propertyListCompleteTransmissionIndicator" type="xs:boolean" use="required" />
            <xs:attribute name="propertyValuationCompleteTransmissionIndicator" type="xs:boolean" use="required" />
          </xs:complexType>
        </xs:element>
        <xs:element name="Supplier">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="InternalID" type="xs:unsignedShort" />
              <xs:element name="CreditorInformationNumber" nillable="true" />
              <xs:element name="MaintenanceProfileCode" type="xs:string" />
              <xs:element name="ProcurementTransactionBlockingCode" nillable="true" />
              <xs:element name="DeletionBlockedIndicator" type="xs:boolean" />
              <xs:element name="DeletedIndicator" type="xs:boolean" />
              <xs:element name="PostingBlockedIndicator" type="xs:boolean" />
              <xs:element name="PurchasingBlockedIndicator" type="xs:boolean" />
              <xs:element name="TradingPartnerCompanyID" nillable="true" />
              <xs:element name="ManufacturerPartyID" nillable="true" />
              <xs:element name="AuthorisationGroupCode" nillable="true" />
              <xs:element name="CorporateGroupName" nillable="true" />
              <xs:element name="ProofOfDeliveryRequirementCode" nillable="true" />
              <xs:element name="CreditDataLastCheckDate" nillable="true" />
              <xs:element name="TrainStationLocationName" nillable="true" />
              <xs:element name="DataMediumExchangeReportCode" nillable="true" />
              <xs:element name="DataMediumExchangeInstructionCode" nillable="true" />
              <xs:element name="InpaymentSlipWithReferenceNumberSubscriberID" nillable="true" />
              <xs:element name="AlternativePayeePartyInternalID" nillable="true" />
              <xs:element name="AlternativePayeeAllowedIndicator" type="xs:boolean" />
              <xs:element name="EqualizationTaxRelevanceIndicator" type="xs:boolean" />
              <xs:element name="ValueAddedTaxRelevanceIndicator" type="xs:boolean" />
              <xs:element name="FiscalAddressPartyInternalID" nillable="true" />
              <xs:element name="SupplyingPlantID" nillable="true" />
              <xs:element name="SellerAssortmentProductGroupLevelRelevanceIndicator" type="xs:boolean" />
              <xs:element name="PlantLevelRelevanceIndicator" type="xs:boolean" />
              <xs:element name="WorkingDayCalendarCode" nillable="true" />
              <xs:element name="CarrierPartyStandardID" nillable="true">
                <xs:complexType>
                  <xs:attribute name="schemeAgencyID" type="xs:string" use="required" />
                </xs:complexType>
              </xs:element>
              <xs:element name="CarrierPartyFreightGroupCode" nillable="true" />
              <xs:element name="ServicePerformerPartyGroupCode" nillable="true" />
              <xs:element name="StatisticsGroupCode" nillable="true" />
              <xs:element name="TaxAuthorityPartyID" nillable="true" />
              <xs:element name="TaxGroupCode" nillable="true" />
              <xs:element name="SocialInsuranceActivityCode" nillable="true" />
              <xs:element name="ForSocialInsuranceRegisteredIndicator" type="xs:boolean" />
              <xs:element name="TaxSplitIndicator" type="xs:boolean" />
              <xs:element name="TaxBasePercentageCode" type="xs:unsignedByte" />
              <xs:element name="ResponsibleTaxOfficePartyInternalID" nillable="true" />
              <xs:element name="RepresentativeName" nillable="true" />
              <xs:element name="BusinessTypeName" nillable="true" />
              <xs:element name="IndustryTypeName" nillable="true" />
              <xs:element name="RelatedCustomerInternalID" nillable="true" />
              <xs:element name="CollectiveNumberingRelevancyIndicator" type="xs:boolean" />
              <xs:element name="StagingDuration" type="xs:unsignedByte" />
              <xs:element name="SchedulingProcedureCode" nillable="true" />
              <xs:element name="TransportationChainCode" nillable="true" />
            </xs:sequence>
            <xs:attribute name="accountingInformationListCompleteTransmissionIndicator" type="xs:boolean" use="required" />
            <xs:attribute name="procurementCardIssuingInstitutesListCompleteTransmissionIndicator" type="xs:boolean" use="required" />
            <xs:attribute name="qualitiyManagementListCompleteTransmissionIndicator" type="xs:boolean" use="required" />
            <xs:attribute name="procurementArrangementListCompleteTransmissionIndicator" type="xs:boolean" use="required" />
            <xs:attribute name="subRangeListCompleteTransmissionIndicator" type="xs:boolean" use="required" />
            <xs:attribute name="supplierTextListCompleteTransmissionIndicator" type="xs:boolean" use="required" />
            <xs:attribute name="supplierDocumentListCompleteTransmissionIndicator" type="xs:boolean" use="required" />
            <xs:attribute name="propertyListCompleteTransmissionIndicator" type="xs:boolean" use="required" />
            <xs:attribute name="propertyValuationCompleteTransmissionIndicator" type="xs:boolean" use="required" />
          </xs:complexType>
        </xs:element>
        <xs:element name="AddressInformation">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="UUID" type="xs:string" />
              <xs:element name="MoveDestinationAddressUUID" nillable="true" />
              <xs:element name="MoveDate" nillable="true" />
              <xs:element name="ValidityPeriod">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="StartDate" type="xs:date" />
                    <xs:element name="EndDate" type="xs:date" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="AddressUsage">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="AddressUsageCode" type="xs:string" />
                    <xs:element name="ValidityPeriod">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="StartDate" type="xs:date" />
                          <xs:element name="EndDate" type="xs:date" />
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="DefaultIndicator" type="xs:boolean" />
                  </xs:sequence>
                  <xs:attribute name="actionCode" type="xs:unsignedByte" use="required" />
                </xs:complexType>
              </xs:element>
              <xs:element name="Address">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="CommunicationPreference">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="CorrespondenceLanguageCode" type="xs:string" />
                          <xs:element name="PreferredCommunicationMediumTypeCode" nillable="true" />
                        </xs:sequence>
                        <xs:attribute name="actionCode" type="xs:unsignedByte" use="required" />
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="PostalAddress">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="CountryCode" type="xs:string" />
                          <xs:element name="RegionCode" nillable="true" />
                          <xs:element name="CityName" type="xs:string" />
                          <xs:element name="AdditionalCityName" nillable="true" />
                          <xs:element name="DistrictName" nillable="true" />
                          <xs:element name="StreetPostalCode" type="xs:unsignedShort" />
                          <xs:element name="POBoxPostalCode" nillable="true" />
                          <xs:element name="CompanyPostalCode" nillable="true" />
                          <xs:element name="StreetPrefixName" nillable="true" />
                          <xs:element name="AdditionalStreetPrefixName" nillable="true" />
                          <xs:element name="StreetName" nillable="true" />
                          <xs:element name="StreetSuffixName" nillable="true" />
                          <xs:element name="AdditionalStreetSuffixName" nillable="true" />
                          <xs:element name="HouseID" nillable="true" />
                          <xs:element name="AdditionalHouseID" nillable="true" />
                          <xs:element name="BuildingID" nillable="true" />
                          <xs:element name="RoomID" nillable="true" />
                          <xs:element name="FloorID" nillable="true" />
                          <xs:element name="CareOfName" nillable="true" />
                          <xs:element name="StreetAddressMailNonDeliveryReasonCode" nillable="true" />
                          <xs:element name="POBoxDeviatingCountryCode" nillable="true" />
                          <xs:element name="POBoxDeviatingRegionCode" nillable="true" />
                          <xs:element name="POBoxDeviatingCityName" nillable="true" />
                          <xs:element name="POBoxLobbyName" nillable="true" />
                          <xs:element name="POBoxID" nillable="true" />
                          <xs:element name="POBoxAddressMailNonDeliveryReasonCode" nillable="true" />
                          <xs:element name="POBoxIDVisibleIndicator" type="xs:boolean" />
                          <xs:element name="POBoxDeliveryServiceID" nillable="true" />
                          <xs:element name="POBoxDeliveryServiceTypeCode" nillable="true" />
                          <xs:element name="TaxJurisdictionCode" nillable="true" />
                          <xs:element name="TimeZoneCode" type="xs:string" />
                          <xs:element name="TransportationZoneID" nillable="true" />
                          <xs:element name="RegionalStructureElementGroupCode" nillable="true" />
                          <xs:element name="RegionalStructureAddressConsistencyStatusCode" nillable="true" />
                          <xs:element name="RegionalStructureCityCode" nillable="true" />
                          <xs:element name="AdditionalRegionalStructureCityCode" nillable="true" />
                          <xs:element name="POBoxDeviatingRegionalStructureCityCode" nillable="true" />
                          <xs:element name="RegionalStructureDistrictCode" nillable="true" />
                          <xs:element name="RegionalStructureStreetCode" nillable="true" />
                          <xs:element name="ExtendedBuildingID" nillable="true" />
                          <xs:element name="LegacyAddressID" nillable="true" />
                          <xs:element name="CountyName" nillable="true" />
                          <xs:element name="RegionalStructureCountyCode" nillable="true" />
                          <xs:element name="TownshipName" nillable="true" />
                          <xs:element name="RegionalStructureTownshipCode" nillable="true" />
                        </xs:sequence>
                        <xs:attribute name="actionCode" type="xs:unsignedByte" use="required" />
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                  <xs:attribute name="addressNoteListCompleteTransmissionIndicator" type="xs:boolean" use="required" />
                  <xs:attribute name="emailListCompleteTransmissionIndicator" type="xs:boolean" use="required" />
                  <xs:attribute name="facsimileListCompleteTransmissionIndicator" type="xs:boolean" use="required" />
                  <xs:attribute name="organisationNameListCompleteTransmissionIndicator" type="xs:boolean" use="required" />
                  <xs:attribute name="personNameListCompleteTransmissionIndicator" type="xs:boolean" use="required" />
                  <xs:attribute name="postalAddressListCompleteTransmissionIndicator" type="xs:boolean" use="required" />
                  <xs:attribute name="telephoneListCompleteTransmissionIndicator" type="xs:boolean" use="required" />
                  <xs:attribute name="webListCompleteTransmissionIndicator" type="xs:boolean" use="required" />
                </xs:complexType>
              </xs:element>
            </xs:sequence>
            <xs:attribute name="actionCode" type="xs:unsignedByte" use="required" />
            <xs:attribute name="addressUsageListCompleteTransmissionIndicator" type="xs:boolean" use="required" />
          </xs:complexType>
        </xs:element>
        <xs:element name="AddressIndependentCommInfo">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="CommunicationPreference" nillable="true" />
            </xs:sequence>
            <xs:attribute name="actionCode" type="xs:unsignedByte" use="required" />
            <xs:attribute name="emailListCompleteTransmissionIndicator" type="xs:boolean" use="required" />
            <xs:attribute name="facsimileListCompleteTransmissionIndicator" type="xs:boolean" use="required" />
            <xs:attribute name="telephoneListCompleteTransmissionIndicator" type="xs:boolean" use="required" />
            <xs:attribute name="webListCompleteTransmissionIndicator" type="xs:boolean" use="required" />
          </xs:complexType>
        </xs:element>
        <xs:element name="Common">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="LocationStandardID">
                <xs:complexType>
                  <xs:simpleContent>
                    <xs:extension base="xs:unsignedByte">
                      <xs:attribute name="schemeAgencyID" type="xs:string" use="required" />
                    </xs:extension>
                  </xs:simpleContent>
                </xs:complexType>
              </xs:element>
              <xs:element name="BusinessPartnerGroupCode" nillable="true" />
              <xs:element name="DeletedIndicator" type="xs:boolean" />
              <xs:element name="ReleasedIndicator" type="xs:boolean" />
              <xs:element name="BlockedIndicator" type="xs:boolean" />
              <xs:element name="BusinessPartnerAuthorisationGroupCode" nillable="true" />
              <xs:element name="KeyWordsText" type="xs:string" />
              <xs:element name="AdditionalKeyWordsText" nillable="true" />
              <xs:element name="VerbalCommunicationLanguageCode" nillable="true" />
              <xs:element name="SalutationText" nillable="true" />
              <xs:element name="CorrespondenceBrailleRequiredIndicator" type="xs:boolean" />
              <xs:element name="CorrespondenceLargePrintRequiredIndicator" type="xs:boolean" />
              <xs:element name="NaturalPersonIndicator" type="xs:boolean" />
              <xs:element name="ContactAllowedCode" nillable="true" />
              <xs:element name="LegacyBusinessPartnerID" nillable="true" />
              <xs:element name="DataOriginTypeCode" nillable="true" />
              <xs:element name="Person">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="Name">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="FormOfAddressCode" nillable="true" />
                          <xs:element name="GivenName" type="xs:string" />
                          <xs:element name="MiddleName" nillable="true" />
                          <xs:element name="FamilyName" type="xs:string" />
                          <xs:element name="AdditionalFamilyName" nillable="true" />
                          <xs:element name="BirthName" nillable="true" />
                          <xs:element name="NickName" nillable="true" />
                          <xs:element name="InitialsName" nillable="true" />
                          <xs:element name="AcademicTitleCode" nillable="true" />
                          <xs:element name="AdditionalAcademicTitleCode" nillable="true" />
                          <xs:element name="NamePrefixCode" nillable="true" />
                          <xs:element name="AdditionalNamePrefixCode" nillable="true" />
                          <xs:element name="NameSupplementCode" nillable="true" />
                          <xs:element name="DeviatingFullName" nillable="true" />
                          <xs:element name="NameFormatCountryCode" nillable="true" />
                          <xs:element name="NameFormatCode" nillable="true" />
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="GenderCode" type="xs:unsignedByte" />
                    <xs:element name="GenderValueCode" type="xs:unsignedByte" />
                    <xs:element name="BirthPlaceName" nillable="true" />
                    <xs:element name="BirthDate" nillable="true" />
                    <xs:element name="BirthdateStatusCode" nillable="true" />
                    <xs:element name="DeathDate" nillable="true" />
                    <xs:element name="MaritalStatusCode" nillable="true" />
                    <xs:element name="NonVerbalCommunicationLanguageCode" type="xs:string" />
                    <xs:element name="OccupationCode" nillable="true" />
                    <xs:element name="Employer" nillable="true" />
                    <xs:element name="NationalityCountryCode" nillable="true" />
                    <xs:element name="OriginCountryCode" nillable="true" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="Organisation">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="Name">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="FormOfAddressCode" nillable="true" />
                          <xs:element name="FirstLineName" nillable="true" />
                          <xs:element name="SecondLineName" nillable="true" />
                          <xs:element name="ThirdLineName" nillable="true" />
                          <xs:element name="FourthLineName" nillable="true" />
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="CompanyLegalFormCode" nillable="true" />
                    <xs:element name="LegalEntityTypeCode" nillable="true" />
                    <xs:element name="FoundationDate" nillable="true" />
                    <xs:element name="LiquidationDate" nillable="true" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="Group">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="FormOfAddressCode" nillable="true" />
                    <xs:element name="Name" nillable="true" />
                    <xs:element name="AdditionalName" nillable="true" />
                    <xs:element name="PartnerGroupTypeCode" nillable="true" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
            <xs:attribute name="actionCode" type="xs:unsignedByte" use="required" />
          </xs:complexType>
        </xs:element>
        <xs:element maxOccurs="unbounded" name="Role">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="RoleCode" type="xs:string" />
              <xs:element name="ValidityPeriod">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="StartDate" type="xs:date" />
                    <xs:element name="EndDate" type="xs:date" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
            <xs:attribute name="actionCode" type="xs:unsignedByte" use="required" />
          </xs:complexType>
        </xs:element>
        <xs:element name="CreditManagementCreditWorthiness">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="AffidavitForAssetsMadeIndicator" type="xs:boolean" />
              <xs:element name="AffidavitForAssetsMadeDate" nillable="true" />
              <xs:element name="BankruptcyProceedingsInitiatedIndicator" type="xs:boolean" />
              <xs:element name="BankruptcyProceedingsInitiatedDate" nillable="true" />
              <xs:element name="ForeclosureProceedingsInitiatedIndicator" type="xs:boolean" />
              <xs:element name="ForeclosureProceedingsInitiatedDate" nillable="true" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
      <xs:attribute name="changeOrdinalNumberValue" type="xs:unsignedByte" use="required" />
      <xs:attribute name="reconciliationPeriodCounterValue" type="xs:unsignedByte" use="required" />
      <xs:attribute name="multipleAssignmentListCompleteTransmissionIndicator" type="xs:boolean" use="required" />
      <xs:attribute name="addressInformationListCompleteTransmissionIndicator" type="xs:boolean" use="required" />
      <xs:attribute name="addressIndependentInfoCompleteTransmissionIndicator" type="xs:boolean" use="required" />
      <xs:attribute name="bankDetailsListCompleteTransmissionIndicator" type="xs:boolean" use="required" />
      <xs:attribute name="paymentCardDetailsCompleteTransmissionIndicator" type="xs:boolean" use="required" />
      <xs:attribute name="commonListCompleteTransmissionIndicator" type="xs:boolean" use="required" />
      <xs:attribute name="roleListCompleteTransmissionIndicator" type="xs:boolean" use="required" />
      <xs:attribute name="identificationListCompleteTransmissionIndicator" type="xs:boolean" use="required" />
      <xs:attribute name="industrySectorListCompleteTransmissionIndicator" type="xs:boolean" use="required" />
      <xs:attribute name="taxNumberListCompleteTransmissionIndicator" type="xs:boolean" use="required" />
      <xs:attribute name="financialServicesCompanyCodeInformationCompleteTransmissionIndicator" type="xs:boolean" use="required" />
      <xs:attribute name="creditManagementCustomInformationListCompleteTransmissionIndicator" type="xs:boolean" use="required" />
      <xs:attribute name="creditManagementExternalCreditInformationListCompleteTransmissionIndicator" type="xs:boolean" use="required" />
    </xs:complexType>
  </xs:element>
</xs:schema>