Resources/schemas/Xsd/Icertis_Contract_Intelligence_(ICI)_for_SAP_S-4HANA_(Buy_Side) - TotalProductCount.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- Created with Liquid Technologies Online Tools 1.0 (https://www.liquid-technologies.com) -->
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="root">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Messages" />
        <xs:element name="Data" />
        <xs:element name="HasMoreData" type="xs:boolean" />
        <xs:element name="PagingData">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="RowsPerPage" type="xs:unsignedByte" />
              <xs:element name="TotalNumberOfPages" type="xs:unsignedByte" />
              <xs:element name="PageNumber" type="xs:unsignedByte" />
              <xs:element name="TotalRowCount" type="xs:unsignedByte" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>