Resources/schemas/Xsd/Icertis_Contract_Intelligence_(ICI)_for_SAP_S-4HANA_(Buy_Side) - AddressInformationS4.xsd

<xs:schema xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="AddressInformation">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="UUID" type="xs:string" />
        <xs:element name="MoveDestinationAddressUUID" nillable="true" />
        <xs:element name="MoveDate" nillable="true" />
        <xs:element name="ValidityPeriod">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="StartDate" type="xs:date" />
              <xs:element name="EndDate" type="xs:date" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element maxOccurs="unbounded" name="AddressUsage">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="AddressUsageCode" type="xs:string" />
              <xs:element name="ValidityPeriod">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="StartDate" type="xs:date" />
                    <xs:element name="EndDate" type="xs:date" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="DefaultIndicator" type="xs:boolean" />
            </xs:sequence>
            <xs:attribute name="actionCode" type="xs:unsignedByte" use="required" />
          </xs:complexType>
        </xs:element>
        <xs:element name="Address">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="CommunicationPreference">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="CorrespondenceLanguageCode" type="xs:string" />
                    <xs:element name="PreferredCommunicationMediumTypeCode" nillable="true" />
                  </xs:sequence>
                  <xs:attribute name="actionCode" type="xs:unsignedByte" use="required" />
                </xs:complexType>
              </xs:element>
              <xs:element name="Email">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="URI" type="xs:string" />
                    <xs:element name="UsageDeniedIndicator" type="xs:boolean" />
                    <xs:element name="ValidityPeriod">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="StartDate" type="xs:date" />
                          <xs:element name="EndDate" type="xs:date" />
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="TransportNeutralEncapsulationFormatEnabledIndicator" type="xs:boolean" />
                    <xs:element maxOccurs="unbounded" name="EmailUsage">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="Usage">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="Code" type="xs:string" />
                                <xs:element name="ValidityPeriod">
                                  <xs:complexType>
                                    <xs:sequence>
                                      <xs:element name="StartDate" type="xs:date" />
                                      <xs:element name="EndDate" type="xs:date" />
                                    </xs:sequence>
                                  </xs:complexType>
                                </xs:element>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                          <xs:element name="DefaultIndicator" type="xs:boolean" />
                        </xs:sequence>
                        <xs:attribute name="actionCode" type="xs:unsignedByte" use="required" />
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                  <xs:attribute name="actionCode" type="xs:unsignedByte" use="required" />
                  <xs:attribute name="eMailNoteListCompleteTransmissionIndicator" type="xs:boolean" use="required" />
                  <xs:attribute name="eMailUsageListCompleteTransmissionIndicator" type="xs:boolean" use="required" />
                </xs:complexType>
              </xs:element>
              <xs:element name="PostalAddress">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="CountryCode" type="xs:string" />
                    <xs:element name="RegionCode" nillable="true" />
                    <xs:element name="CityName" type="xs:string" />
                    <xs:element name="AdditionalCityName" nillable="true" />
                    <xs:element name="DistrictName" nillable="true" />
                    <xs:element name="StreetPostalCode" type="xs:unsignedShort" />
                    <xs:element name="POBoxPostalCode" nillable="true" />
                    <xs:element name="CompanyPostalCode" nillable="true" />
                    <xs:element name="StreetPrefixName" nillable="true" />
                    <xs:element name="AdditionalStreetPrefixName" nillable="true" />
                    <xs:element name="StreetName" type="xs:string" />
                    <xs:element name="StreetSuffixName" nillable="true" />
                    <xs:element name="AdditionalStreetSuffixName" nillable="true" />
                    <xs:element name="HouseID" type="xs:string" />
                    <xs:element name="AdditionalHouseID" nillable="true" />
                    <xs:element name="BuildingID" nillable="true" />
                    <xs:element name="RoomID" nillable="true" />
                    <xs:element name="FloorID" nillable="true" />
                    <xs:element name="CareOfName" nillable="true" />
                    <xs:element name="StreetAddressMailNonDeliveryReasonCode" nillable="true" />
                    <xs:element name="POBoxDeviatingCountryCode" nillable="true" />
                    <xs:element name="POBoxDeviatingRegionCode" nillable="true" />
                    <xs:element name="POBoxDeviatingCityName" nillable="true" />
                    <xs:element name="POBoxLobbyName" nillable="true" />
                    <xs:element name="POBoxID" nillable="true" />
                    <xs:element name="POBoxAddressMailNonDeliveryReasonCode" nillable="true" />
                    <xs:element name="POBoxIDVisibleIndicator" type="xs:boolean" />
                    <xs:element name="POBoxDeliveryServiceID" nillable="true" />
                    <xs:element name="POBoxDeliveryServiceTypeCode" nillable="true" />
                    <xs:element name="TaxJurisdictionCode" nillable="true" />
                    <xs:element name="TimeZoneCode" type="xs:string" />
                    <xs:element name="TransportationZoneID" nillable="true" />
                    <xs:element name="RegionalStructureElementGroupCode" nillable="true" />
                    <xs:element name="RegionalStructureAddressConsistencyStatusCode" nillable="true" />
                    <xs:element name="RegionalStructureCityCode" nillable="true" />
                    <xs:element name="AdditionalRegionalStructureCityCode" nillable="true" />
                    <xs:element name="POBoxDeviatingRegionalStructureCityCode" nillable="true" />
                    <xs:element name="RegionalStructureDistrictCode" nillable="true" />
                    <xs:element name="RegionalStructureStreetCode" nillable="true" />
                    <xs:element name="ExtendedBuildingID" nillable="true" />
                    <xs:element name="LegacyAddressID" nillable="true" />
                    <xs:element name="CountyName" nillable="true" />
                    <xs:element name="RegionalStructureCountyCode" nillable="true" />
                    <xs:element name="TownshipName" nillable="true" />
                    <xs:element name="RegionalStructureTownshipCode" nillable="true" />
                  </xs:sequence>
                  <xs:attribute name="actionCode" type="xs:unsignedByte" use="required" />
                </xs:complexType>
              </xs:element>
              <xs:element maxOccurs="unbounded" name="Telephone">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="Number">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="SubscriberID" type="xs:unsignedLong" />
                          <xs:element name="ExtensionID" nillable="true" />
                          <xs:element name="CountryCode" type="xs:string" />
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="FormattedNumberDescription" type="xs:long" />
                    <xs:element name="UsageDeniedIndicator" type="xs:boolean" />
                    <xs:element name="ValidityPeriod">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="StartDate" type="xs:date" />
                          <xs:element name="EndDate" type="xs:date" />
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="MobilePhoneNumberIndicator" type="xs:boolean" />
                    <xs:element name="SMSEnabledIndicator" type="xs:boolean" />
                    <xs:element maxOccurs="unbounded" name="TelephoneUsage">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="Usage">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="Code" type="xs:string" />
                                <xs:element name="ValidityPeriod">
                                  <xs:complexType>
                                    <xs:sequence>
                                      <xs:element name="StartDate" type="xs:date" />
                                      <xs:element name="EndDate" type="xs:date" />
                                    </xs:sequence>
                                  </xs:complexType>
                                </xs:element>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                          <xs:element name="DefaultIndicator" type="xs:boolean" />
                        </xs:sequence>
                        <xs:attribute name="actionCode" type="xs:unsignedByte" use="required" />
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                  <xs:attribute name="actionCode" type="xs:unsignedByte" use="required" />
                  <xs:attribute name="telephoneNoteListCompleteTransmissionIndicator" type="xs:boolean" use="required" />
                  <xs:attribute name="telephoneUsageListCompleteTransmissionIndicator" type="xs:boolean" use="required" />
                </xs:complexType>
              </xs:element>
            </xs:sequence>
            <xs:attribute name="addressNoteListCompleteTransmissionIndicator" type="xs:boolean" use="required" />
            <xs:attribute name="emailListCompleteTransmissionIndicator" type="xs:boolean" use="required" />
            <xs:attribute name="facsimileListCompleteTransmissionIndicator" type="xs:boolean" use="required" />
            <xs:attribute name="organisationNameListCompleteTransmissionIndicator" type="xs:boolean" use="required" />
            <xs:attribute name="personNameListCompleteTransmissionIndicator" type="xs:boolean" use="required" />
            <xs:attribute name="postalAddressListCompleteTransmissionIndicator" type="xs:boolean" use="required" />
            <xs:attribute name="telephoneListCompleteTransmissionIndicator" type="xs:boolean" use="required" />
            <xs:attribute name="webListCompleteTransmissionIndicator" type="xs:boolean" use="required" />
          </xs:complexType>
        </xs:element>
      </xs:sequence>
      <xs:attribute name="actionCode" type="xs:unsignedByte" use="required" />
      <xs:attribute name="addressUsageListCompleteTransmissionIndicator" type="xs:boolean" use="required" />
    </xs:complexType>
  </xs:element>
</xs:schema>