Resources/schemas/Xsd/Icertis_Contract_Intelligence_(ICI)_for_SAP_S-4HANA_(Buy_Side)_-_Extensions - AddressInformationS4-Extension-1.xsd

<xs:schema xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element minOccurs="0" name="AddressInformation">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UUID" type="xs:string" />
        <xs:element minOccurs="0" name="MoveDestinationAddressUUID" nillable="true" />
        <xs:element minOccurs="0" name="MoveDate" nillable="true" />
        <xs:element minOccurs="0" name="ValidityPeriod">
          <xs:complexType>
            <xs:sequence>
              <xs:element minOccurs="0" name="StartDate" type="xs:date" />
              <xs:element minOccurs="0" name="EndDate" type="xs:date" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element minOccurs="0" maxOccurs="unbounded" name="AddressUsage">
          <xs:complexType>
            <xs:sequence>
              <xs:element minOccurs="0" name="AddressUsageCode" type="xs:string" />
              <xs:element minOccurs="0" name="ValidityPeriod">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element minOccurs="0" name="StartDate" type="xs:date" />
                    <xs:element minOccurs="0" name="EndDate" type="xs:date" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element minOccurs="0" name="DefaultIndicator" type="xs:boolean" />
            </xs:sequence>
            <xs:attribute name="actionCode" type="xs:unsignedByte" use="required" />
          </xs:complexType>
        </xs:element>
        <xs:element minOccurs="0" name="Address">
          <xs:complexType>
            <xs:sequence>
              <xs:element minOccurs="0" name="CommunicationPreference">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element minOccurs="0" name="CorrespondenceLanguageCode" type="xs:string" />
                    <xs:element minOccurs="0" name="PreferredCommunicationMediumTypeCode" nillable="true" />
                  </xs:sequence>
                  <xs:attribute name="actionCode" type="xs:unsignedByte" use="required" />
                </xs:complexType>
              </xs:element>
              <xs:element minOccurs="0" name="Email">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element minOccurs="0" name="URI" type="xs:string" />
                    <xs:element minOccurs="0" name="UsageDeniedIndicator" type="xs:boolean" />
                    <xs:element minOccurs="0" name="ValidityPeriod">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element minOccurs="0" name="StartDate" type="xs:date" />
                          <xs:element minOccurs="0" name="EndDate" type="xs:date" />
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element minOccurs="0" name="TransportNeutralEncapsulationFormatEnabledIndicator" type="xs:boolean" />
                    <xs:element minOccurs="0" maxOccurs="unbounded" name="EmailUsage">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element minOccurs="0" name="Usage">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element minOccurs="0" name="Code" type="xs:string" />
                                <xs:element minOccurs="0" name="ValidityPeriod">
                                  <xs:complexType>
                                    <xs:sequence>
                                      <xs:element minOccurs="0" name="StartDate" type="xs:date" />
                                      <xs:element minOccurs="0" name="EndDate" type="xs:date" />
                                    </xs:sequence>
                                  </xs:complexType>
                                </xs:element>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                          <xs:element minOccurs="0" name="DefaultIndicator" type="xs:boolean" />
                        </xs:sequence>
                        <xs:attribute name="actionCode" type="xs:unsignedByte" use="required" />
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                  <xs:attribute name="actionCode" type="xs:unsignedByte" use="required" />
                  <xs:attribute name="eMailNoteListCompleteTransmissionIndicator" type="xs:boolean" use="required" />
                  <xs:attribute name="eMailUsageListCompleteTransmissionIndicator" type="xs:boolean" use="required" />
                </xs:complexType>
              </xs:element>
              <xs:element minOccurs="0" name="PostalAddress">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element minOccurs="0" name="CountryCode" type="xs:string" />
                    <xs:element minOccurs="0" name="RegionCode" nillable="true" />
                    <xs:element minOccurs="0" name="CityName" type="xs:string" />
                    <xs:element minOccurs="0" name="AdditionalCityName" nillable="true" />
                    <xs:element minOccurs="0" name="DistrictName" nillable="true" />
                    <xs:element minOccurs="0" name="StreetPostalCode" type="xs:unsignedShort" />
                    <xs:element minOccurs="0" name="POBoxPostalCode" nillable="true" />
                    <xs:element minOccurs="0" name="CompanyPostalCode" nillable="true" />
                    <xs:element minOccurs="0" name="StreetPrefixName" nillable="true" />
                    <xs:element minOccurs="0" name="AdditionalStreetPrefixName" nillable="true" />
                    <xs:element minOccurs="0" name="StreetName" type="xs:string" />
                    <xs:element minOccurs="0" name="StreetSuffixName" nillable="true" />
                    <xs:element minOccurs="0" name="AdditionalStreetSuffixName" nillable="true" />
                    <xs:element minOccurs="0" name="HouseID" type="xs:string" />
                    <xs:element minOccurs="0" name="AdditionalHouseID" nillable="true" />
                    <xs:element minOccurs="0" name="BuildingID" nillable="true" />
                    <xs:element minOccurs="0" name="RoomID" nillable="true" />
                    <xs:element minOccurs="0" name="FloorID" nillable="true" />
                    <xs:element minOccurs="0" name="CareOfName" nillable="true" />
                    <xs:element minOccurs="0" name="StreetAddressMailNonDeliveryReasonCode" nillable="true" />
                    <xs:element minOccurs="0" name="POBoxDeviatingCountryCode" nillable="true" />
                    <xs:element minOccurs="0" name="POBoxDeviatingRegionCode" nillable="true" />
                    <xs:element minOccurs="0" name="POBoxDeviatingCityName" nillable="true" />
                    <xs:element minOccurs="0" name="POBoxLobbyName" nillable="true" />
                    <xs:element minOccurs="0" name="POBoxID" nillable="true" />
                    <xs:element minOccurs="0" name="POBoxAddressMailNonDeliveryReasonCode" nillable="true" />
                    <xs:element minOccurs="0" name="POBoxIDVisibleIndicator" type="xs:boolean" />
                    <xs:element minOccurs="0" name="POBoxDeliveryServiceID" nillable="true" />
                    <xs:element minOccurs="0" name="POBoxDeliveryServiceTypeCode" nillable="true" />
                    <xs:element minOccurs="0" name="TaxJurisdictionCode" nillable="true" />
                    <xs:element minOccurs="0" name="TimeZoneCode" type="xs:string" />
                    <xs:element minOccurs="0" name="TransportationZoneID" nillable="true" />
                    <xs:element minOccurs="0" name="RegionalStructureElementGroupCode" nillable="true" />
                    <xs:element minOccurs="0" name="RegionalStructureAddressConsistencyStatusCode" nillable="true" />
                    <xs:element minOccurs="0" name="RegionalStructureCityCode" nillable="true" />
                    <xs:element minOccurs="0" name="AdditionalRegionalStructureCityCode" nillable="true" />
                    <xs:element minOccurs="0" name="POBoxDeviatingRegionalStructureCityCode" nillable="true" />
                    <xs:element minOccurs="0" name="RegionalStructureDistrictCode" nillable="true" />
                    <xs:element minOccurs="0" name="RegionalStructureStreetCode" nillable="true" />
                    <xs:element minOccurs="0" name="ExtendedBuildingID" nillable="true" />
                    <xs:element minOccurs="0" name="LegacyAddressID" nillable="true" />
                    <xs:element minOccurs="0" name="CountyName" nillable="true" />
                    <xs:element minOccurs="0" name="RegionalStructureCountyCode" nillable="true" />
                    <xs:element minOccurs="0" name="TownshipName" nillable="true" />
                    <xs:element minOccurs="0" name="RegionalStructureTownshipCode" nillable="true" />
                  </xs:sequence>
                  <xs:attribute name="actionCode" type="xs:unsignedByte" use="required" />
                </xs:complexType>
              </xs:element>
              <xs:element minOccurs="0" maxOccurs="unbounded" name="Telephone">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element minOccurs="0" name="Number">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element minOccurs="0" name="SubscriberID" type="xs:unsignedLong" />
                          <xs:element minOccurs="0" name="ExtensionID" nillable="true" />
                          <xs:element minOccurs="0" name="CountryCode" type="xs:string" />
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element minOccurs="0" name="FormattedNumberDescription" type="xs:long" />
                    <xs:element minOccurs="0" name="UsageDeniedIndicator" type="xs:boolean" />
                    <xs:element minOccurs="0" name="ValidityPeriod">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element minOccurs="0" name="StartDate" type="xs:date" />
                          <xs:element minOccurs="0" name="EndDate" type="xs:date" />
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element minOccurs="0" name="MobilePhoneNumberIndicator" type="xs:boolean" />
                    <xs:element minOccurs="0" name="SMSEnabledIndicator" type="xs:boolean" />
                    <xs:element minOccurs="0" maxOccurs="unbounded" name="TelephoneUsage">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element minOccurs="0" name="Usage">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element minOccurs="0" name="Code" type="xs:string" />
                                <xs:element minOccurs="0" name="ValidityPeriod">
                                  <xs:complexType>
                                    <xs:sequence>
                                      <xs:element minOccurs="0" name="StartDate" type="xs:date" />
                                      <xs:element minOccurs="0" name="EndDate" type="xs:date" />
                                    </xs:sequence>
                                  </xs:complexType>
                                </xs:element>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                          <xs:element minOccurs="0" name="DefaultIndicator" type="xs:boolean" />
                        </xs:sequence>
                        <xs:attribute name="actionCode" type="xs:unsignedByte" use="required" />
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                  <xs:attribute name="actionCode" type="xs:unsignedByte" use="required" />
                  <xs:attribute name="telephoneNoteListCompleteTransmissionIndicator" type="xs:boolean" use="required" />
                  <xs:attribute name="telephoneUsageListCompleteTransmissionIndicator" type="xs:boolean" use="required" />
                </xs:complexType>
              </xs:element>
            </xs:sequence>
            <xs:attribute name="addressNoteListCompleteTransmissionIndicator" type="xs:boolean" use="required" />
            <xs:attribute name="emailListCompleteTransmissionIndicator" type="xs:boolean" use="required" />
            <xs:attribute name="facsimileListCompleteTransmissionIndicator" type="xs:boolean" use="required" />
            <xs:attribute name="organisationNameListCompleteTransmissionIndicator" type="xs:boolean" use="required" />
            <xs:attribute name="personNameListCompleteTransmissionIndicator" type="xs:boolean" use="required" />
            <xs:attribute name="postalAddressListCompleteTransmissionIndicator" type="xs:boolean" use="required" />
            <xs:attribute name="telephoneListCompleteTransmissionIndicator" type="xs:boolean" use="required" />
            <xs:attribute name="webListCompleteTransmissionIndicator" type="xs:boolean" use="required" />
          </xs:complexType>
        </xs:element>
      </xs:sequence>
      <xs:attribute name="actionCode" type="xs:unsignedByte" use="required" />
      <xs:attribute name="addressUsageListCompleteTransmissionIndicator" type="xs:boolean" use="required" />
    </xs:complexType>
  </xs:element>
</xs:schema>