Resources/schemas/Xsd/Icertis_Contract_Intelligence_(ICI)_for_SAP_S-4HANA_(Buy_Side) - BusinessPartnersRelationshipICI.xsd

<xsd:schema targetNamespace="http://webcominc.com/" elementFormDefault="qualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:p0="http://webcominc.com/">
  <xsd:element name="root">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="Messages" type="xsd:string" minOccurs="0" maxOccurs="1" form="unqualified"/>
        <xsd:element name="Data" form="unqualified">
          <xsd:complexType>
            <xsd:sequence>
           	  <xsd:element type="xsd:string" name="ICMExternalId" minOccurs="0" maxOccurs="1" form="unqualified"/>
			  <xsd:element type="xsd:string" name="Name" minOccurs="0" maxOccurs="1" form="unqualified"/>
			   <xsd:element type="xsd:string" name="ICMAgreementCode" minOccurs="0" maxOccurs="1" form="unqualified"/>
			   <xsd:element name="ICMFirstName" type="xsd:string" minOccurs="0" maxOccurs="1" form="unqualified"/>
			   <xsd:element type="xsd:string" name="ICMLastName" minOccurs="0" maxOccurs="1" form="unqualified"/>
				<xsd:element type="xsd:string" name="ICMSupplierAddress" minOccurs="0" maxOccurs="1" form="unqualified"/>
			   <xsd:element type="xsd:string" name="ICMAppSrcSupplierContactEmailID" minOccurs="0" maxOccurs="1" form="unqualified"/>
				<xsd:element type="xsd:string" name="ICMAppSrcSupplierContactPersonTelephone" minOccurs="0" maxOccurs="1" form="unqualified"/>
              <xsd:element name="ICMExternalSourceSystem" type="xsd:string" minOccurs="0" maxOccurs="1" form="unqualified"/>
               <xsd:element type="xsd:string" name="isActive" minOccurs="0" maxOccurs="1" form="unqualified"/>
			  <xsd:element type="xsd:string" name="syncRequired" minOccurs="0" maxOccurs="unbounded" form="unqualified"/>
			  <xsd:element type="xsd:string" name="ICMAppSrcSupplierContactID" minOccurs="0" maxOccurs="unbounded" form="unqualified"/>	
			   <xsd:element name="ICMSupplierCode01" form="unqualified">
                                <xsd:complexType>
                                    <xsd:sequence>
                                        <xsd:element minOccurs="0" maxOccurs="1" type="xsd:string" name="UniqueValues" form="unqualified"/>
                                        <xsd:element type="xsd:string" name="DisplayValue" minOccurs="0" maxOccurs="1" form="unqualified"/>
                                    </xsd:sequence>
                                </xsd:complexType>
                </xsd:element>
				<xsd:element name="ICMRelationshipTypeCode" form="unqualified">
                                <xsd:complexType>
                                    <xsd:sequence>
                                        <xsd:element minOccurs="0" maxOccurs="1" type="xsd:string" name="UniqueValues" form="unqualified"/>
                                        <xsd:element type="xsd:string" name="DisplayValue" minOccurs="0" maxOccurs="1" form="unqualified"/>
                                    </xsd:sequence>
                                </xsd:complexType>
                </xsd:element>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="HasMoreData" type="xsd:boolean" minOccurs="0" maxOccurs="1" form="unqualified"/>
        <xsd:element name="PagingData" type="xsd:string" minOccurs="0" maxOccurs="1" form="unqualified"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
</xsd:schema>