Resources/schemas/Xsd/Icertis_Contract_Intelligence_(ICI)_for_SAP_S-4HANA_(Buy_Side)_-_Extensions - SupplierICI.xsd

<xsd:schema targetNamespace="http://webcominc.com/" elementFormDefault="qualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:p0="http://webcominc.com/">
  <xsd:element name="root">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="Messages" type="xsd:string" minOccurs="0" maxOccurs="1" form="unqualified"/>
        <xsd:element name="Data" form="unqualified">
          <xsd:complexType>
            <xsd:sequence>
           	  <xsd:element type="xsd:string" name="ICMExternalId" minOccurs="0" maxOccurs="1" form="unqualified"/>
			  <xsd:element type="xsd:string" name="Name" minOccurs="0" maxOccurs="1" form="unqualified"/>
			   <xsd:element type="xsd:string" name="ICMSupplierCode01" minOccurs="0" maxOccurs="1" form="unqualified"/>
			   <xsd:element name="ICMAppSrcSupplierName" type="xsd:string" minOccurs="0" maxOccurs="1" form="unqualified"/>
			   <xsd:element type="xsd:string" name="ICMSupplierTAXID" minOccurs="0" maxOccurs="1" form="unqualified"/>
				<xsd:element name="ICMExternalSourceSystem" type="xsd:string" minOccurs="0" maxOccurs="1" form="unqualified"/>
               <xsd:element type="xsd:string" name="isActive" minOccurs="0" maxOccurs="1" form="unqualified"/>
			  <xsd:element type="xsd:string" name="syncRequired" minOccurs="0" maxOccurs="unbounded" form="unqualified"/>
			  <xsd:element type="xsd:string" name="ICMAppSrcSupplierAddress" minOccurs="0" maxOccurs="unbounded" form="unqualified"/>
			  <xsd:element type="xsd:string" name="ICMAppSrcSupplierStreetName" minOccurs="0" maxOccurs="unbounded" form="unqualified"/>
			  <xsd:element type="xsd:string" name="ICMAppSrcSupplierCity" minOccurs="0" maxOccurs="unbounded" form="unqualified"/>
			  <xsd:element type="xsd:string" name="ICMAppSrcSupplierStreetZip" minOccurs="0" maxOccurs="unbounded" form="unqualified"/>
			  <xsd:element type="xsd:string" name="ICMAppSrcSupplierState" minOccurs="0" maxOccurs="unbounded" form="unqualified"/>
			  <xsd:element type="xsd:string" name="ICMAppSrcSupplierCountry" minOccurs="0" maxOccurs="unbounded" form="unqualified"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="HasMoreData" type="xsd:boolean" minOccurs="0" maxOccurs="1" form="unqualified"/>
        <xsd:element name="PagingData" type="xsd:string" minOccurs="0" maxOccurs="1" form="unqualified"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
</xsd:schema>