Resources/schemas/Xsd/Icertis_Contract_Intelligence_(ICI)_Integration_with_SAP_CPQ_and_SAP_S-4HANA_(Sell_Side) - ProductXSDS4.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- Created with Liquid Technologies Online Tools 1.0 (https://www.liquid-technologies.com) -->
<xs:schema xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Product">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="ProductInternalID" type="xs:string" />
        <xs:element name="UnformattedProductInternalID" type="xs:string" />
        <xs:element name="ProductUUID" nillable="true" />
        <xs:element name="ReceiverProductInternalID" type="xs:string" />
        <xs:element name="UnformattedReceiverProductInternalID" type="xs:string" />
        <xs:element name="ReceiverProductUUID" nillable="true" />
        <xs:element name="ProductTypeCode" type="xs:string" />
        <xs:element name="IndustrySectorCode" type="xs:string" />
        <xs:element name="RetailProductCategoryCode" nillable="true" />
        <xs:element name="DivisionCode" nillable="true" />
        <xs:element name="DeletedIndicator" type="xs:boolean" />
        <xs:element name="LockedIndicator" type="xs:boolean" />
        <xs:element name="ANPCode" nillable="true" />
        <xs:element name="SerialNumberExplicitnessLevelCode" nillable="true" />
        <xs:element name="QualityManagementInProcurementIsActiveIndicator" type="xs:boolean" />
        <xs:element name="ProductAllocationProcedureID" nillable="true" />
        <xs:element name="ReceiverProductAllocationProcedureID" nillable="true" />
        <xs:element name="ConfigurableProductInternalID" nillable="true" />
        <xs:element name="ReceiverConfigurableProductInternalID" nillable="true" />
        <xs:element name="ProductHierarchyInternalID" nillable="true" />
        <xs:element name="ReceiverProductHierarchyInternalID" nillable="true" />
        <xs:element name="ProductGroupInternalID" type="xs:string" />
        <xs:element name="ReceiverProductGroupInternalID" nillable="true" />
        <xs:element name="ExternalProductGroupInternalID" nillable="true" />
        <xs:element name="ReceiverExternalProductGroupInternalID" nillable="true" />
        <xs:element name="BaseMeasureUnitCode" type="xs:string" />
        <xs:element name="ProductDiscountInKindCode" nillable="true" />
        <xs:element name="DesignOfficeCode" nillable="true" />
        <xs:element name="AuthorisationGroupCode" nillable="true" />
        <xs:element name="EnvironmentRelevanceIndicator" type="xs:boolean" />
        <xs:element name="BasicProductCode" nillable="true" />
        <xs:element name="ProductSalesProcessUsabilityProfileCode" nillable="true" />
        <xs:element name="DangerousGoodsIndicatorProfileCode" nillable="true" />
        <xs:element name="BatchManagementRequiredIndicator" type="xs:boolean" />
        <xs:element name="ComputerAidedDesignMaintainedIndicator" type="xs:boolean" />
        <xs:element name="BasicViewMaintainedIndicator" type="xs:boolean" />
        <xs:element name="ConfigurableProductDeterminedIndicator" type="xs:boolean" />
        <xs:element name="ProductSalesProcessUsabilityProfileValidityDate" nillable="true" />
        <xs:element name="ProductionText" nillable="true" />
        <xs:element name="ProductSizeText" nillable="true" />
        <xs:element name="ProductionMemoPageFormatName" nillable="true" />
        <xs:element name="PreviousName" nillable="true" />
        <xs:element name="IndustryStandardDescription" nillable="true" />
        <xs:element name="ValidityStartDate" type="xs:date" />
        <xs:element name="ProductHandlingIndicatorCode" nillable="true" />
        <xs:element name="AdjustmentProfileCode" nillable="true" />
        <xs:element name="HandlingUnitTypeCode" nillable="true" />
        <xs:element name="ManufacturerPartProfileCode" nillable="true" />
        <xs:element name="SmartFormName" nillable="true" />
        <xs:element name="ItemCategoryGroupCode" nillable="true" />
        <xs:element name="WarehouseStorageConditionCode" nillable="true" />
        <xs:element name="WarehouseProductGroupCode" nillable="true" />
        <xs:element name="StandardHandlingUnitTypeCode" nillable="true" />
        <xs:element name="ProductHighlyViscousIndicator" type="xs:boolean" />
        <xs:element name="TransportInBulkIndicator" type="xs:boolean" />
        <xs:element name="ProductRelevantForHazardousSubstancesIndicator" type="xs:boolean" />
        <xs:element name="VariableTareWeightIndicator" type="xs:boolean" />
        <xs:element name="OwnInventoryManagedProductInternalID" nillable="true" />
        <xs:element name="PackingReferenceProductInternalID" nillable="true" />
        <xs:element name="ApprovedBatchRecordRequiredIndicator" type="xs:boolean" />
        <xs:element name="ProductEffectivityParameterValuesAssignmentIndicator" type="xs:boolean" />
        <xs:element name="ProductDocumentPageNumber" nillable="true" />
        <xs:element name="ProductDocumentType" nillable="true" />
        <xs:element name="GlobalTradeItemNumberVariant" nillable="true" />
        <xs:element name="ProductDocumentChangeNumber" nillable="true" />
        <xs:element name="ProductDocumentVersion" nillable="true" />
        <xs:element name="OvercapacityTolerance" type="xs:decimal" />
        <xs:element name="MaximumCapacity" type="xs:decimal" />
        <xs:element name="ProductDocumentPageCount" type="xs:unsignedByte" />
        <xs:element name="SerialIdentifierAssignmentProfileCode" nillable="true" />
        <xs:element name="ProductOriginCountryCode" nillable="true" />
        <xs:element name="CompetitorID" nillable="true" />
        <xs:element name="ProductDocumentPageFormat" nillable="true" />
        <xs:element name="ProductDocumentNumber" nillable="true" />
        <xs:element name="PilferableIndicator" type="xs:boolean" />
        <xs:element name="PackagingMaterialGroupCode" nillable="true" />
        <xs:element name="QualityInspectionGroupCode" nillable="true" />
        <xs:element name="CatalogProfileCode" nillable="true" />
        <xs:element name="QuarantinePeriod" nillable="true" />
        <xs:element name="MaximumPackagingHeight" nillable="true" />
        <xs:element name="MaximumPackagingWidth" nillable="true" />
        <xs:element name="MaximumPackagingLength" nillable="true" />
        <xs:element name="MaximumPackagingUnitCode" nillable="true" />
        <xs:element name="NetContent" nillable="true" />
        <xs:element name="ComparisonPriceQuantity" nillable="true" />
        <xs:element name="GrossContent" nillable="true" />
        <xs:element name="ProductHasEmptiesBOM" type="xs:boolean" />
        <xs:element name="HasTextilePartsWthAnimalOrigin" type="xs:boolean" />
        <xs:element name="BrandID" nillable="true" />
        <xs:element name="RetailArticleGeneral">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="ServiceAgreementTypeCode" nillable="true" />
              <xs:element name="ProductRequirementsPlanningABCClassificationCode" nillable="true" />
              <xs:element name="GoodsIssueUnitCode" nillable="true" />
              <xs:element name="ProductOriginCountryCode" nillable="true" />
              <xs:element name="ProductOriginRegionCode" nillable="true" />
              <xs:element name="AssortmentGradeTypeCode" nillable="true" />
              <xs:element name="StoreListingProcedureTypeCode" nillable="true" />
              <xs:element name="DistributionCenterListingProcedureTypeCode" nillable="true" />
              <xs:element name="StoreListingStartDate" nillable="true" />
              <xs:element name="StoreListingEndDate" nillable="true" />
              <xs:element name="DistributionCenterListingStartDate" nillable="true" />
              <xs:element name="DistributionCenterListingEndDate" nillable="true" />
              <xs:element name="StoreSaleStartDate" nillable="true" />
              <xs:element name="StoreSaleEndDate" nillable="true" />
              <xs:element name="DistributionCenterSaleStartDate" nillable="true" />
              <xs:element name="DistributionCenterSaleEndDate" nillable="true" />
              <xs:element name="AccountDeterminationProductValuationDataGroupCode" nillable="true" />
              <xs:element name="CustomsCommodityClassificationCode" nillable="true" />
              <xs:element name="ValuationMarginValue" nillable="true" />
              <xs:element name="CustomsCommodityClassificationCodeUnitCode" nillable="true" />
              <xs:element name="SalesUnitCode" nillable="true" />
              <xs:element name="PurchasingGroupID" nillable="true" />
              <xs:element name="LoadingGroupCode" nillable="true" />
              <xs:element name="ProductExternalAssortmentPriorityTypeCode" nillable="true" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="Description">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="Description">
                <xs:complexType>
                  <xs:simpleContent>
                    <xs:extension base="xs:string">
                      <xs:attribute name="languageCode" type="xs:string" use="required" />
                    </xs:extension>
                  </xs:simpleContent>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
            <xs:attribute name="actionCode" type="xs:unsignedByte" use="required" />
          </xs:complexType>
        </xs:element>
        <xs:element name="QuantityConversion">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="Quantity">
                <xs:complexType>
                  <xs:simpleContent>
                    <xs:extension base="xs:decimal">
                      <xs:attribute name="unitCode" type="xs:string" use="required" />
                    </xs:extension>
                  </xs:simpleContent>
                </xs:complexType>
              </xs:element>
              <xs:element name="CorrespondingQuantity">
                <xs:complexType>
                  <xs:simpleContent>
                    <xs:extension base="xs:decimal">
                      <xs:attribute name="unitCode" type="xs:string" use="required" />
                    </xs:extension>
                  </xs:simpleContent>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
            <xs:attribute name="actionCode" type="xs:unsignedByte" use="required" />
          </xs:complexType>
        </xs:element>
        <xs:element maxOccurs="unbounded" name="QuantityCharacteristic">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="Quantity">
                <xs:complexType>
                  <xs:simpleContent>
                    <xs:extension base="xs:decimal">
                      <xs:attribute name="unitCode" type="xs:string" use="required" />
                    </xs:extension>
                  </xs:simpleContent>
                </xs:complexType>
              </xs:element>
              <xs:element name="CharacteristicQuantity">
                <xs:complexType>
                  <xs:simpleContent>
                    <xs:extension base="xs:decimal">
                      <xs:attribute name="unitCode" type="xs:string" use="required" />
                    </xs:extension>
                  </xs:simpleContent>
                </xs:complexType>
              </xs:element>
              <xs:element name="CharacteristicQuantityTypeCode" type="xs:string" />
            </xs:sequence>
            <xs:attribute name="actionCode" type="xs:unsignedByte" use="required" />
          </xs:complexType>
        </xs:element>
        <xs:element name="TextCollection">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="TextExistsIndicator" nillable="true" />
            </xs:sequence>
            <xs:attribute name="actionCode" type="xs:unsignedByte" use="required" />
            <xs:attribute name="textListCompleteTransmissionIndicator" type="xs:boolean" use="required" />
          </xs:complexType>
        </xs:element>
        <xs:element name="StorageSpecification">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="ProductStorageRequirementsCode" nillable="true" />
              <xs:element name="ProductStorageTemperatureRangeCode" nillable="true" />
              <xs:element name="HazardousMaterialID" nillable="true" />
              <xs:element name="ProductLabelTypeCode" nillable="true" />
              <xs:element name="ProductLabelFormCode" nillable="true" />
              <xs:element name="MinimumRemaininigShelfLifeCode" type="xs:unsignedByte" />
              <xs:element name="NumberOfGoodsReceiptIssueSlipsToPrintValue" nillable="true" />
              <xs:element name="ExpirationDateCode" nillable="true" />
              <xs:element name="ShelfLifeExpirationDatePeriod" nillable="true" />
              <xs:element name="TotalShelfLifeStoragePercent" type="xs:unsignedByte" />
              <xs:element name="StorageBinInstructionCode" nillable="true" />
              <xs:element name="ShelfLifeExpirationDateRoundingRuleCode" nillable="true" />
              <xs:element name="TotalShelfLife" type="xs:unsignedByte" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="DistributionChainIndependentSalesSpecification">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="TransportProductGroupCode" nillable="true" />
              <xs:element name="ProductSalesProcessUsabilityProfileCode" nillable="true" />
              <xs:element name="ProductSalesProcessUsabilityProfileValidityDate" nillable="true" />
              <xs:element name="PricingReferenceProductID" nillable="true" />
              <xs:element name="TaxClassificationID" nillable="true" />
              <xs:element name="AllowedPackagingVolumeQuantity" nillable="true" />
              <xs:element name="VolumeMaximumLevel" type="xs:unsignedByte" />
              <xs:element name="StackingFactor" type="xs:unsignedByte" />
              <xs:element name="ClosedPackagingProductIndicator" type="xs:boolean" />
              <xs:element name="ExcessWeightTolerance" type="xs:decimal" />
              <xs:element name="ExcessVolumeTolerance" type="xs:decimal" />
              <xs:element name="AllowedPackagingWeightQuantity" nillable="true" />
              <xs:element name="ProductFreightGroupCode" nillable="true" />
              <xs:element name="PackagingProductTypeCode" nillable="true" />
              <xs:element name="VariantsPricingProfileCode" nillable="true" />
              <xs:element name="IsVariantPriceAllowed" type="xs:boolean" />
            </xs:sequence>
            <xs:attribute name="actionCode" type="xs:unsignedByte" use="required" />
          </xs:complexType>
        </xs:element>
        <xs:element name="PlantIndependentProcurementSpecification">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="ManufacturerID" nillable="true" />
              <xs:element name="ProductManufacturerID" nillable="true" />
              <xs:element name="PurchasingAcknowledgmentProfileCode" nillable="true" />
              <xs:element name="OrderMeasureUnitCode" nillable="true" />
              <xs:element name="VariablePurchaseOrderUnitOfMeasureActivationStatusCode" nillable="true" />
            </xs:sequence>
            <xs:attribute name="actionCode" type="xs:unsignedByte" use="required" />
          </xs:complexType>
        </xs:element>
        <xs:element name="ProductSCMAdvancedPlanning">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="RequiredMaximumShelfLife" type="xs:unsignedByte" />
              <xs:element name="MaturationTime" type="xs:unsignedByte" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="SalesSpecification">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="AccountDeterminationProductGroupCode" nillable="true" />
              <xs:element name="MinimumOrderQuantity">
                <xs:complexType>
                  <xs:simpleContent>
                    <xs:extension base="xs:decimal">
                      <xs:attribute name="unitCode" type="xs:string" use="required" />
                    </xs:extension>
                  </xs:simpleContent>
                </xs:complexType>
              </xs:element>
              <xs:element name="SalesOrganizationID" type="xs:unsignedShort" />
              <xs:element name="ReceiverSalesOrganizationID" nillable="true" />
              <xs:element name="DistributionChannelCode" type="xs:unsignedByte" />
              <xs:element name="SupplyingPlantID" nillable="true" />
              <xs:element name="ReceiverSupplyingPlantID" nillable="true" />
              <xs:element name="StandardProductCategoryInternalID" nillable="true" />
              <xs:element name="CustomerTransactionDocumentItemProcessingTypeDeterminationProductGroupCode" type="xs:string" />
              <xs:element name="SalesMeasureUnitCode" nillable="true" />
              <xs:element name="PriceSpecificationProductGroupCode" nillable="true" />
              <xs:element name="FirstSalesSpecificationProductGroupCode" nillable="true" />
              <xs:element name="SecondSalesSpecificationProductGroupCode" nillable="true" />
              <xs:element name="DeliveryNoteProcessingMinimumDeliveryQuantity">
                <xs:complexType>
                  <xs:simpleContent>
                    <xs:extension base="xs:decimal">
                      <xs:attribute name="unitCode" type="xs:string" use="required" />
                    </xs:extension>
                  </xs:simpleContent>
                </xs:complexType>
              </xs:element>
              <xs:element name="ThirdSalesSpecificationProductGroupCode" nillable="true" />
              <xs:element name="FourthSalesSpecificationProductGroupCode" nillable="true" />
              <xs:element name="FifthSalesSpecificationProductGroupCode" nillable="true" />
              <xs:element name="ProductSalesProcessUsabilityProfileCode" nillable="true" />
              <xs:element name="DeletedIndicator" type="xs:boolean" />
              <xs:element name="DeliveryQuantity">
                <xs:complexType>
                  <xs:simpleContent>
                    <xs:extension base="xs:decimal">
                      <xs:attribute name="unitCode" type="xs:string" use="required" />
                    </xs:extension>
                  </xs:simpleContent>
                </xs:complexType>
              </xs:element>
              <xs:element name="DeliveryQuantityMeasureUnitCode" nillable="true" />
              <xs:element name="MinimumMakeToOrderOrderQuantity">
                <xs:complexType>
                  <xs:simpleContent>
                    <xs:extension base="xs:decimal">
                      <xs:attribute name="unitCode" type="xs:string" use="required" />
                    </xs:extension>
                  </xs:simpleContent>
                </xs:complexType>
              </xs:element>
              <xs:element name="ProductSalesProcessUsabilityProfileValidityDate" nillable="true" />
              <xs:element name="ProductExternalAssortmentPriorityTypeCode" nillable="true" />
              <xs:element name="VolumeRebateGroupCode" nillable="true" />
              <xs:element name="StoreOrderProcessingMaximumDeliveryQuantity">
                <xs:complexType>
                  <xs:simpleContent>
                    <xs:extension base="xs:decimal">
                      <xs:attribute name="unitCode" type="xs:string" use="required" />
                    </xs:extension>
                  </xs:simpleContent>
                </xs:complexType>
              </xs:element>
              <xs:element name="CompetitionCharacterizationTypeCode" nillable="true" />
              <xs:element name="ProductUnitGroupCode" nillable="true" />
              <xs:element name="PriceFixingControlCategoryCode" nillable="true" />
              <xs:element name="PricingReferenceProductID" nillable="true" />
              <xs:element name="ProductHasAttributeID01Indicator" type="xs:boolean" />
              <xs:element name="ProductHasAttributeID02Indicator" type="xs:boolean" />
              <xs:element name="ProductHasAttributeID03Indicator" type="xs:boolean" />
              <xs:element name="ProductHasAttributeID04Indicator" type="xs:boolean" />
              <xs:element name="ProductHasAttributeID05Indicator" type="xs:boolean" />
              <xs:element name="ProductHasAttributeID06Indicator" type="xs:boolean" />
              <xs:element name="ProductHasAttributeID07Indicator" type="xs:boolean" />
              <xs:element name="ProductHasAttributeID08Indicator" type="xs:boolean" />
              <xs:element name="ProductHasAttributeID09Indicator" type="xs:boolean" />
              <xs:element name="ProductHasAttributeID10Indicator" type="xs:boolean" />
              <xs:element name="ProductCommissionGroupCode" nillable="true" />
              <xs:element name="RoundingProfileCode" nillable="true" />
              <xs:element name="CashDiscountIndicator" type="xs:boolean" />
              <xs:element name="VariableSalesUnitNotAllowedIndicator" type="xs:boolean" />
              <xs:element name="ProductStatisticsGroupCode" nillable="true" />
              <xs:element name="StoreSaleStartDate" nillable="true" />
              <xs:element name="StoreSaleEndDate" nillable="true" />
              <xs:element name="DistributionCenterSaleStartDate" nillable="true" />
              <xs:element name="DistributionCenterSaleEndDate" nillable="true" />
              <xs:element name="AssortmentGrade" nillable="true" />
              <xs:element name="StoreListingProcedure" nillable="true" />
              <xs:element name="DistributionCenterListingProcedure" nillable="true" />
              <xs:element name="StoreListingStartDate" nillable="true" />
              <xs:element name="StoreListingEndDate" nillable="true" />
              <xs:element name="DistributionCenterListingStartDate" nillable="true" />
              <xs:element name="DistributionCenterListingEndDate" nillable="true" />
              <xs:element name="ProductEntitlementRelevantIndicator" type="xs:boolean" />
              <xs:element name="SubscriptionProductSalesData">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="DefaultContractTerm" type="xs:unsignedByte" />
                    <xs:element name="AltContractTerm1" type="xs:unsignedByte" />
                    <xs:element name="AltContractTerm2" type="xs:unsignedByte" />
                    <xs:element name="ContractTermUnit" type="xs:string" />
                    <xs:element name="DefaultExtensionPeriod" type="xs:unsignedByte" />
                    <xs:element name="AltExtensionPeriod1" type="xs:unsignedByte" />
                    <xs:element name="AltExtensionPeriod2" type="xs:unsignedByte" />
                    <xs:element name="ExtensionPeriodUnit" type="xs:string" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
            <xs:attribute name="actionCode" type="xs:unsignedByte" use="required" />
            <xs:attribute name="salesSpecificationTextListCompleteTransmissionIndicator" type="xs:boolean" use="required" />
          </xs:complexType>
        </xs:element>
        <xs:element maxOccurs="unbounded" name="SalesSpecificTaxClassification">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="CountryCode" type="xs:string" />
              <xs:element name="TaxTypeCode" type="xs:string" />
              <xs:element name="TaxRateTypeCode" type="xs:unsignedByte" />
            </xs:sequence>
            <xs:attribute name="actionCode" type="xs:unsignedByte" use="required" />
          </xs:complexType>
        </xs:element>
        <xs:element name="Plant">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="PlantID" type="xs:unsignedShort" />
              <xs:element name="ProfileCode" nillable="true" />
              <xs:element name="ProfileValidityStartDate" nillable="true" />
              <xs:element name="DeletedIndicator" type="xs:boolean" />
              <xs:element name="BatchManagementRequiredIndicator" type="xs:boolean" />
              <xs:element name="SerialIdentifierAssignmentProfileCode" nillable="true" />
              <xs:element name="ProfitCenterID" nillable="true" />
              <xs:element name="GoodsIssueUnitCode" nillable="true" />
              <xs:element name="NegativeStockAllowedIndicator" type="xs:boolean" />
              <xs:element name="StockDeterminationGroupCode" nillable="true" />
              <xs:element name="ProductExciseTaxRelevanceIndicator" type="xs:boolean" />
              <xs:element name="ConfigurableProductID" nillable="true" />
              <xs:element name="ProductCFOPCategoryCode" nillable="true" />
              <xs:element name="ProductCriticalPartIndicator" type="xs:boolean" />
              <xs:element name="ProductLogisticsHandlingGroupCode" nillable="true" />
              <xs:element name="ProductFreightGroupCode" nillable="true" />
              <xs:element name="ProductDistributionProfileCode" nillable="true" />
              <xs:element name="OriginalBatchManagementRequiredIndicator" type="xs:boolean" />
              <xs:element name="OriginalBatchReferenceProductID" nillable="true" />
              <xs:element name="Costing">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="CoProductIndicator" type="xs:boolean" />
                    <xs:element name="ProductBillOfMaterialUsageCategoryCode" nillable="true" />
                    <xs:element name="AlternativeBillOfMaterial" nillable="true" />
                    <xs:element name="VarianceKeyCode" nillable="true" />
                    <xs:element name="CostingProductionVersionCode" nillable="true" />
                    <xs:element name="FixedPriceCoProductIndicator" type="xs:boolean" />
                    <xs:element name="CostingLotSizeQuantity">
                      <xs:complexType>
                        <xs:simpleContent>
                          <xs:extension base="xs:decimal">
                            <xs:attribute name="unitCode" type="xs:string" use="required" />
                          </xs:extension>
                        </xs:simpleContent>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="ProductIsNotCostingRelevantIndicator" type="xs:boolean" />
                    <xs:element name="TaskListGroupCode" nillable="true" />
                    <xs:element name="TaskListTypeCode" nillable="true" />
                    <xs:element name="CostingSpecialProcurementTypeCode" nillable="true" />
                    <xs:element name="TaskListGroupCounter" nillable="true" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="SupplyPlanning">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="ProductRequirementsPlanningTypeCode" nillable="true" />
                    <xs:element name="ProductRequirementsPlanningResponsibleCode" nillable="true" />
                    <xs:element name="AvailabilityCheckGroupCode" nillable="true" />
                    <xs:element name="LotSizeProcedureCode" nillable="true" />
                    <xs:element name="FixedLotSizeQuantity">
                      <xs:complexType>
                        <xs:simpleContent>
                          <xs:extension base="xs:decimal">
                            <xs:attribute name="unitCode" type="xs:string" use="required" />
                          </xs:extension>
                        </xs:simpleContent>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="MaximumLotSizeQuantity">
                      <xs:complexType>
                        <xs:simpleContent>
                          <xs:extension base="xs:decimal">
                            <xs:attribute name="unitCode" type="xs:string" use="required" />
                          </xs:extension>
                        </xs:simpleContent>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="MinimumLotSizeQuantity">
                      <xs:complexType>
                        <xs:simpleContent>
                          <xs:extension base="xs:decimal">
                            <xs:attribute name="unitCode" type="xs:string" use="required" />
                          </xs:extension>
                        </xs:simpleContent>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="LotSizeRoundingQuantity">
                      <xs:complexType>
                        <xs:simpleContent>
                          <xs:extension base="xs:decimal">
                            <xs:attribute name="unitCode" type="xs:string" use="required" />
                          </xs:extension>
                        </xs:simpleContent>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="SafetyStockQuantity">
                      <xs:complexType>
                        <xs:simpleContent>
                          <xs:extension base="xs:decimal">
                            <xs:attribute name="unitCode" type="xs:string" use="required" />
                          </xs:extension>
                        </xs:simpleContent>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="SafetyDaysOfSupplyDuration" type="xs:unsignedByte" />
                    <xs:element name="MinimumSafetyStockQuantity">
                      <xs:complexType>
                        <xs:simpleContent>
                          <xs:extension base="xs:decimal">
                            <xs:attribute name="unitCode" type="xs:string" use="required" />
                          </xs:extension>
                        </xs:simpleContent>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="MasterPlanAutomaticChangeRestrictedDuration" type="xs:unsignedByte" />
                    <xs:element name="ProductRequirementsPlanningABCClassificationCode" nillable="true" />
                    <xs:element name="MaximumStockQuantity">
                      <xs:complexType>
                        <xs:simpleContent>
                          <xs:extension base="xs:decimal">
                            <xs:attribute name="unitCode" type="xs:string" use="required" />
                          </xs:extension>
                        </xs:simpleContent>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="ReorderThresholdQuantity">
                      <xs:complexType>
                        <xs:simpleContent>
                          <xs:extension base="xs:decimal">
                            <xs:attribute name="unitCode" type="xs:string" use="required" />
                          </xs:extension>
                        </xs:simpleContent>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="PlannedDeliveryDuration" type="xs:unsignedByte" />
                    <xs:element name="ProductRequirementsPlanningStrategyGroupCode" nillable="true" />
                    <xs:element name="TotalReplinishmentLeadTimeDuration" type="xs:unsignedByte" />
                    <xs:element name="ProcurementTypeCode" type="xs:string" />
                    <xs:element name="ProcurementSubTypeCode" nillable="true" />
                    <xs:element name="AssemblyProductScrapPercent" nillable="true" />
                    <xs:element name="ProcurementInventoryManagedLocationInternalID" nillable="true" />
                    <xs:element name="GoodsReceiptDuration" type="xs:unsignedByte" />
                    <xs:element name="ProductRequirementsPlanningGroupCode" nillable="true" />
                    <xs:element name="ProductRequirementsPlanningStorageCostDeterminationProfileCode" nillable="true" />
                    <xs:element name="PlanningCalendarCode" nillable="true" />
                    <xs:element name="DynamicSafetyStockCalculationProfileCode" nillable="true" />
                    <xs:element name="SafetyDaysOfSupplyRelevanceCode" nillable="true" />
                    <xs:element name="SafetyDaysOfSupplyDurationProfileCode" nillable="true" />
                    <xs:element name="MRPDependentRequirementCode" nillable="true" />
                    <xs:element name="LotSizeOrderAmountValue" nillable="true">
                      <xs:complexType>
                        <xs:attribute name="currencyCode" type="xs:string" use="required" />
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="LotSizeTaktTimeOffsetDuration" type="xs:unsignedByte" />
                    <xs:element name="ServiceLevelPercent" nillable="true" />
                    <xs:element name="ProductionDuration" type="xs:unsignedByte" />
                    <xs:element name="ProposedProductSupplyAreaCode" nillable="true" />
                    <xs:element name="ProductRequirementsConsumptionModeTypeCode" nillable="true" />
                    <xs:element name="ForecastRequirementsSplitCategoryCode" nillable="true" />
                    <xs:element name="ConsignmentControlCode" nillable="true" />
                    <xs:element name="MRPProfileCode" nillable="true" />
                    <xs:element name="SchedulingMarginCode" nillable="true" />
                    <xs:element name="ProductRequirementsConsolidationCode" nillable="true" />
                    <xs:element name="PlanAndOrderDayDeterminationCode" nillable="true" />
                    <xs:element name="MRPAvailabilityTypeCode" nillable="true" />
                    <xs:element name="RoundingProfileCode" nillable="true" />
                    <xs:element name="RepetitiveManufacturingAllowedIndicator" type="xs:boolean" />
                    <xs:element name="CrossProjectProductIndicatorCode" nillable="true" />
                    <xs:element name="BulkProductComponentIndicator" type="xs:boolean" />
                    <xs:element name="DependentRequirementsTypeCode" nillable="true" />
                    <xs:element name="RepetitiveManufacturingProfileCode" nillable="true" />
                    <xs:element name="FollowUpProductInternalID" nillable="true" />
                    <xs:element name="EffectiveOutDate" nillable="true" />
                    <xs:element name="GoodsIssueProcessingDuration" type="xs:unsignedByte" />
                    <xs:element name="ComponentScrapPercent" nillable="true" />
                    <xs:element name="BackwardConsumptionPeriodDuration" type="xs:unsignedByte" />
                    <xs:element name="ForwardConsumptionPeriodDuration" type="xs:unsignedByte" />
                    <xs:element name="ProductDiscontinuationTypeCode" nillable="true" />
                    <xs:element name="PlannedOrderActionControlCode" nillable="true" />
                    <xs:element name="ProductUnitGroupCode" nillable="true" />
                    <xs:element name="JITProdnConfProfileCode" nillable="true" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="Sales">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="LoadingGroupCode" nillable="true" />
                    <xs:element name="ReplacementPartTypeCode" nillable="true" />
                    <xs:element name="WorkCentersShippingSetupDuration" nillable="true" />
                    <xs:element name="ProductShippingProcessingDuration" nillable="true" />
                    <xs:element name="CapacityPlanningQuantity">
                      <xs:complexType>
                        <xs:simpleContent>
                          <xs:extension base="xs:decimal">
                            <xs:attribute name="unitCode" type="xs:string" use="required" />
                          </xs:extension>
                        </xs:simpleContent>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="QualityManagement">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="InspectionStockIndicator" type="xs:boolean" />
                    <xs:element name="QualityManagementControlKeyCode" nillable="true" />
                    <xs:element name="ProductQualityAuthorizationGroupCode" nillable="true" />
                    <xs:element name="ProductQualityCertificateTypeCode" nillable="true" />
                    <xs:element name="InspectionLotDocumentationRequiredIndicator" type="xs:boolean" />
                    <xs:element name="RecurringInspectionIntervalDuration" type="xs:unsignedByte" />
                    <xs:element name="SupplierQualityManagementSystemCode" nillable="true" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="PlantText">
                <xs:complexType>
                  <xs:attribute name="actionCode" type="xs:unsignedByte" use="required" />
                </xs:complexType>
              </xs:element>
              <xs:element name="Forecasting">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="ConsumptionReferenceUsageEndDate" nillable="true" />
                    <xs:element name="ConsumptionReferenceProductQuantityMultiplier" nillable="true" />
                    <xs:element name="ConsumptionReferenceProductID" nillable="true" />
                    <xs:element name="ConsumptionReferencePlantID" nillable="true" />
                    <xs:element name="FiscalYearVariantCode" nillable="true" />
                    <xs:element name="ProductConsumptionPeriodTypeCode" type="xs:string" />
                    <xs:element name="ForecastModelResetIndicator" type="xs:boolean" />
                    <xs:element name="CorrectionFactorRequiredIndicator" type="xs:boolean" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="InternationalTrade">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="ProductOriginCountryCode" nillable="true" />
                    <xs:element name="ProductOriginRegionCode" nillable="true" />
                    <xs:element name="ConsumptionTaxControlCode" nillable="true" />
                    <xs:element name="ExportAndImportProductGroupCode" nillable="true" />
                    <xs:element name="ProductInternationalTradeClassificationNumber" nillable="true" />
                    <xs:element name="ProductCASNumber" nillable="true" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="Storage">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="PhysicalInventoryCycleCountingProfileCode" nillable="true" />
                    <xs:element name="WarehouseManagementPutawayAndStockRemovalStrategyCode" nillable="true" />
                    <xs:element name="ProvisioningServiceLevelCode" nillable="true" />
                    <xs:element name="ProductMaximumStoragePeriodUnitCode" nillable="true" />
                    <xs:element name="MaximumStoragePeriodDuration" type="xs:unsignedByte" />
                    <xs:element name="CycleCountingCategoryIsFixedIndicator" type="xs:boolean" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="Purchasing">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="AutomaticPurchaseOrderAllowedIndicator" type="xs:boolean" />
                    <xs:element name="SourceListRequirementIndicator" type="xs:boolean" />
                    <xs:element name="PurchasingGroupID" nillable="true" />
                    <xs:element name="SourceOfSupplyCategoryCode" nillable="true" />
                    <xs:element name="PurchasingAcrossPurchasingGroupIndicator" type="xs:boolean" />
                    <xs:element name="JITDeliverySchedulesRelevantIndicator" type="xs:boolean" />
                    <xs:element name="TaxIndicator" nillable="true" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="WorkScheduling">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="ProductBaseQuantity" nillable="true" />
                    <xs:element name="OverDeliveryToleranceLimit" nillable="true" />
                    <xs:element name="UnderDeliveryToleranceLimit" nillable="true" />
                    <xs:element name="UnlimitedOverDeliveryIsAllowedIndicator" type="xs:boolean" />
                    <xs:element name="ProductionInventoryManagedLocationInternalID" nillable="true" />
                    <xs:element name="ProductionSupervisorCode" nillable="true" />
                    <xs:element name="ProductionOrderBatchEntryDeterminationCode" nillable="true" />
                    <xs:element name="OrderChangeManagementProfileCode" nillable="true" />
                    <xs:element name="BackflushIndicatorCode" nillable="true" />
                    <xs:element name="ProductionSchedulingProfileCode" nillable="true" />
                    <xs:element name="ProductWithdrawnFromProductionBinIndicator" type="xs:boolean" />
                    <xs:element name="ProductProductionQuantityUnitCode" nillable="true" />
                    <xs:element name="ProductProcessingDuration" nillable="true" />
                    <xs:element name="SetupAndTeardownTimeDuration" type="xs:decimal" />
                    <xs:element name="TransitionMatrixProductsGroupID" nillable="true" />
                    <xs:element name="TransitionDuration" nillable="true" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="PlantSCMAdvancedPlanning">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="ConsumptionOfStorageCapacity" type="xs:decimal" />
                    <xs:element name="GoodsIssueHandlingCost" type="xs:decimal" />
                    <xs:element name="GoodsReceiptHandlingCost" type="xs:decimal" />
                    <xs:element name="ProductProcurementCostsVal" type="xs:decimal" />
                    <xs:element name="ProductPriority" nillable="true" />
                    <xs:element name="PeggingStrategy" nillable="true" />
                    <xs:element name="LotSizeUnit" nillable="true" />
                    <xs:element name="BOMTypeExplosionUsed" nillable="true" />
                    <xs:element name="PlngCalendarPerdcLotSizing" nillable="true" />
                    <xs:element name="TargetDaysSupplyInWorkDays" type="xs:unsignedByte" />
                    <xs:element name="RequirementStrategy" nillable="true" />
                    <xs:element name="SftyStkVioltnPnltyCostValue" type="xs:decimal" />
                    <xs:element name="RqdMinShelfLifeLocDepdnt" type="xs:unsignedByte" />
                    <xs:element name="RqdMaxShelfLifeLocDepdnt" type="xs:unsignedByte" />
                    <xs:element name="IsLocDependentShelfLifeUsed" type="xs:boolean" />
                    <xs:element name="ShelfLifeLocDependent" type="xs:unsignedByte" />
                    <xs:element name="LocProdStorageCostValue" type="xs:decimal" />
                    <xs:element name="PPPlanningProcedure" nillable="true" />
                    <xs:element name="ProductPlanningGroup" nillable="true" />
                    <xs:element name="ResourceNetworkName" nillable="true" />
                    <xs:element name="ReorderDaysSupplyInWorkDays" type="xs:unsignedByte" />
                    <xs:element name="ReplenishmentLeadTimeDays" type="xs:unsignedByte" />
                    <xs:element name="ConversionRule" nillable="true" />
                    <xs:element name="IsAlertsInPeggingAvoided" type="xs:boolean" />
                    <xs:element name="AlertThldForDlydRcptDurn" type="xs:unsignedByte" />
                    <xs:element name="AlertThldForEarlyRcptDurn" type="xs:unsignedByte" />
                    <xs:element name="ProductPlanningPackage" nillable="true" />
                    <xs:element name="MinPassingAmtContinuousPegging" nillable="true" />
                    <xs:element name="MaturationDurnLocDependent" type="xs:unsignedByte" />
                    <xs:element name="InteractiveSourcingProfile" nillable="true" />
                    <xs:element name="ProdnPlngHeuristic" nillable="true" />
                    <xs:element name="LocProdGoodsReceiptProcHours" type="xs:unsignedByte" />
                    <xs:element name="LocProdGoodsIssueProcHours" type="xs:unsignedByte" />
                    <xs:element name="ProductAlertRelevanceCode" nillable="true" />
                    <xs:element name="IsTotalQtyReceiptElement" type="xs:boolean" />
                    <xs:element name="IsTotalQtyStockElement" type="xs:boolean" />
                    <xs:element name="IsFixedPeggingForProdRetained" nillable="true" />
                    <xs:element name="GIHandlingCapacity" nillable="true" />
                    <xs:element name="GRHandlingCapacity" nillable="true" />
                    <xs:element name="MaxDaysOfSupplyIsActive" type="xs:boolean" />
                    <xs:element name="MaxDaysOfSupplyPenaltyAmount" type="xs:decimal" />
                    <xs:element name="AdvncdPlngTgtStkLvlMeth" nillable="true" />
                    <xs:element name="SftyStkMethIsAutomlyDtmnd" type="xs:boolean" />
                    <xs:element name="AdvncdPlngSftyStkMeth" nillable="true" />
                    <xs:element name="PeriodFactorIsUsed" type="xs:boolean" />
                    <xs:element name="AdvncdPlngPeriodFactorValue" nillable="true" />
                    <xs:element name="TimeDepdntStkLvlPerdFactorVal" nillable="true" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="Planning">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="PlanningMaterialID" nillable="true" />
                    <xs:element name="PlanningPlantID" nillable="true" />
                    <xs:element name="ProductPlantPlanningMaterialConversionFactor" nillable="true" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="ForecastParameters">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="ForecastBasicValueAlphaFactor" nillable="true" />
                    <xs:element name="NumberOfForecastPeriod" nillable="true" />
                    <xs:element name="ForecastTrendValueBetaFactor" nillable="true" />
                    <xs:element name="MeanAbsoluteDeviationDeltaFactor" nillable="true" />
                    <xs:element name="ForecastNumberOfFixedPeriod" nillable="true" />
                    <xs:element name="ForecastSeasonalIndexGammaFactor" nillable="true" />
                    <xs:element name="ForecastWeightingGroupCode" nillable="true" />
                    <xs:element name="ForecastModelInitializationIndicator" nillable="true" />
                    <xs:element name="ForecastParameterIsOptimizedIndicator" type="xs:boolean" />
                    <xs:element name="ForecastModelSelectionProcedureCode" nillable="true" />
                    <xs:element name="ForecastModelSelectionMethod" nillable="true" />
                    <xs:element name="OptimizationLevel" nillable="true" />
                    <xs:element name="HistoricalPeriodCountForForecast" nillable="true" />
                    <xs:element name="PeriodsCountForForecastInitialization" nillable="true" />
                    <xs:element name="ForecastPeriodCountPerSeasonCycle" nillable="true" />
                    <xs:element name="LastForecastDate" nillable="true" />
                    <xs:element name="ForecastModel" nillable="true" />
                    <xs:element name="ForecastValueTrackingLimit" nillable="true" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="ProductionResourceTool">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="ControlProfileCode" nillable="true" />
                    <xs:element name="ControlProfileReferencedIndicator" type="xs:boolean" />
                    <xs:element name="Group1" nillable="true" />
                    <xs:element name="Group2" nillable="true" />
                    <xs:element name="ProductionResourceUsageCode" nillable="true" />
                    <xs:element name="StandardTextCode" nillable="true" />
                    <xs:element name="StandardTextCodeReferencedIndicator" type="xs:boolean" />
                    <xs:element name="StartDateOffsetReferenceCode" nillable="true" />
                    <xs:element name="StartDateOffsetReferenceCodeReferencedIndicator" type="xs:boolean" />
                    <xs:element name="StartDateOffset" nillable="true" />
                    <xs:element name="StartDateOffsetReferencedIndicator" type="xs:boolean" />
                    <xs:element name="EndDateOffsetReferenceCode" nillable="true" />
                    <xs:element name="EndDateOffsetReferenceCodeReferencedIndicator" type="xs:boolean" />
                    <xs:element name="EndDateOffset" nillable="true" />
                    <xs:element name="EndDateOffsetReferencedIndicator" type="xs:boolean" />
                    <xs:element name="TotalQuantityCalculationFormula" nillable="true" />
                    <xs:element name="TotalQuantityCalculationFormulaReferencedIndicator" type="xs:boolean" />
                    <xs:element name="UsageQuantityCalculationFormula" nillable="true" />
                    <xs:element name="UsageQuantityCalculationFormulaReferencedIndicator" type="xs:boolean" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element maxOccurs="unbounded" name="PlantSCMDemandPenalty">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="DemandType" type="xs:unsignedByte" />
                    <xs:element name="DelayPenaltyAmount" type="xs:decimal" />
                    <xs:element name="MaximumDelayInDays" type="xs:unsignedByte" />
                    <xs:element name="NonDeliveryPenaltyAmount" type="xs:decimal" />
                  </xs:sequence>
                  <xs:attribute name="actionCode" type="xs:unsignedByte" use="required" />
                </xs:complexType>
              </xs:element>
              <xs:element name="ProductMinControlTemperatureQuantity" nillable="true" />
              <xs:element name="ProductMaxControlTemperatureQuantity" nillable="true" />
              <xs:element name="ProductControlTemperatureUnitCode" nillable="true" />
            </xs:sequence>
            <xs:attribute name="actionCode" type="xs:unsignedByte" use="required" />
            <xs:attribute name="mrpAreaListCompleteTransmissionIndicator" type="xs:boolean" use="required" />
            <xs:attribute name="storageLocationListCompleteTransmissionIndicator" type="xs:boolean" use="required" />
          </xs:complexType>
        </xs:element>
        <xs:element name="SubscriptionProduct">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="BillingCycle" type="xs:unsignedByte" />
              <xs:element name="BillingCycleDeterminationRuleId" type="xs:string" />
              <xs:element name="ContractAutoRenewalIndicator" nillable="true" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
      <xs:attribute name="changeOrdinalNumberValue" type="xs:unsignedByte" use="required" />
      <xs:attribute name="descriptionListCompleteTransmissionIndicator" type="xs:boolean" use="required" />
      <xs:attribute name="globalTradeItemNumberListCompleteTransmissionIndicator" type="xs:boolean" use="required" />
      <xs:attribute name="plantIndependentProcurementSpecificationListCompleteTransmissionIndicator" type="xs:boolean" use="required" />
      <xs:attribute name="plantListCompleteTransmissionIndicator" type="xs:boolean" use="required" />
      <xs:attribute name="productBOMCompleteTransmissionIndicator" type="xs:boolean" use="required" />
      <xs:attribute name="productCategoryAssignmentListCompleteTransmissionIndicator" type="xs:boolean" use="required" />
      <xs:attribute name="productRetailSeasonListCompleteTransmissionIndicator" type="xs:boolean" use="required" />
      <xs:attribute name="quantityCharacteristicListCompleteTransmissionIndicator" type="xs:boolean" use="required" />
      <xs:attribute name="quantityConversionListCompleteTransmissionIndicator" type="xs:boolean" use="required" />
      <xs:attribute name="reconciliationPeriodCounterValue" type="xs:unsignedByte" use="required" />
      <xs:attribute name="salesSpecificationListCompleteTransmissionIndicator" type="xs:boolean" use="required" />
      <xs:attribute name="valuationAreaListCompleteTransmissionIndicator" type="xs:boolean" use="required" />
    </xs:complexType>
  </xs:element>
</xs:schema>