Resources/schemas/Xsd/Icertis_Contract_Intelligence_(ICI)_for_SAP_S-4HANA_(Buy_Side)_-_Extensions - ProductXSD.xsd

<xsd:schema targetNamespace="http://webcominc.com/" elementFormDefault="qualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:p0="http://webcominc.com/">
    <xsd:element name="root">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element type="xsd:string" name="Messages" minOccurs="0" maxOccurs="1" form="unqualified"/>
                <xsd:element name="Data" form="unqualified">
                    <xsd:complexType>
                        <xsd:sequence>
                            <xsd:element type="xsd:string" name="Name" minOccurs="0" maxOccurs="1" form="unqualified"/>
                            <xsd:element type="xsd:string" name="ICMProductName" minOccurs="0" maxOccurs="1" form="unqualified"/>
                            <xsd:element type="xsd:string" name="ICMProductCode" minOccurs="0" maxOccurs="1" form="unqualified"/>
							<xsd:element type="xsd:string" name="ICMProductType" minOccurs="0" maxOccurs="1" form="unqualified"/>
                            <xsd:element name="ICMProductTypeExternalID" form="unqualified">
                                <xsd:complexType>
                                    <xsd:sequence>
                                        <xsd:element minOccurs="0" maxOccurs="1" type="xsd:string" name="UniqueValues" form="unqualified"/>
                                        <xsd:element type="xsd:string" name="DisplayValue" minOccurs="0" maxOccurs="1" form="unqualified"/>
                                    </xsd:sequence>
                                </xsd:complexType>
                            </xsd:element>
							<xsd:element type="xsd:string" name="ICMExternalId" minOccurs="0" maxOccurs="1" form="unqualified"/>
                            <xsd:element name="ICMUoMCode" form="unqualified">
                                <xsd:complexType>
                                    <xsd:sequence>                                       
                                        <xsd:element type="xsd:string" name="DisplayValue" minOccurs="0" maxOccurs="1" form="unqualified"/>
                                    </xsd:sequence>
                                </xsd:complexType>
                            </xsd:element>
							<xsd:element name="ICMProductGroupCode" form="unqualified">
                                <xsd:complexType>
                                    <xsd:sequence>                                       
                                        <xsd:element type="xsd:string" name="DisplayValue" minOccurs="0" maxOccurs="1" form="unqualified"/>
                                    </xsd:sequence>
                                </xsd:complexType>
                            </xsd:element>
                            <xsd:element name="ICMExternalSourceSystem" type="xsd:string" minOccurs="0" maxOccurs="1" form="unqualified"/>
                            <xsd:element type="xsd:string" name="OrgPath" minOccurs="0" maxOccurs="1" form="unqualified"/>
							<xsd:element type="xsd:string" name="isActive" minOccurs="0" maxOccurs="1" form="unqualified"/>
                        </xsd:sequence>
                    </xsd:complexType>
                </xsd:element>
                <xsd:element type="xsd:boolean" name="HasMoreData" minOccurs="0" maxOccurs="1" form="unqualified"/>
                <xsd:element type="xsd:string" name="PagingData" minOccurs="0" maxOccurs="1" form="unqualified"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>