Resources/schemas/Xsd/Initials_Generator_Tool_Integration_with_SAP_SuccessFactors_Employee_Central - EmpJobEntityGET.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="EmpJob">
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="1" maxOccurs="unbounded" name="EmpJob">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element nillable="false" maxOccurs="1" name="userId">
                                <xs:simpleType>
                                    <xs:restriction base="xs:string" xmlns="">
                                        <xs:maxLength value="100"/>
                                    </xs:restriction>
                                </xs:simpleType>
                            </xs:element>
                            <xs:element nillable="true" minOccurs="0" maxOccurs="unbounded" name="employmentNav">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element minOccurs="0" maxOccurs="1" name="EmpEmployment">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element nillable="false" maxOccurs="1" name="personIdExternal">
                                                        <xs:simpleType>
                                                            <xs:restriction base="xs:string" xmlns="">
                                                                <xs:maxLength value="100"/>
                                                            </xs:restriction>
                                                        </xs:simpleType>
                                                    </xs:element>
                                                    <xs:element nillable="true" minOccurs="0" maxOccurs="unbounded" name="personNav">
                                                        <xs:complexType>
                                                            <xs:sequence>
                                                                <xs:element minOccurs="0" maxOccurs="1" name="PerPerson">
                                                                    <xs:complexType>
                                                                        <xs:sequence>
                                                                            <xs:element nillable="true" minOccurs="0" maxOccurs="unbounded" name="emailNav">
                                                                                <xs:complexType>
                                                                                    <xs:sequence>
                                                                                        <xs:element minOccurs="0" maxOccurs="unbounded" name="PerEmail">
                                                                                            <xs:complexType>
                                                                                                <xs:sequence>
                                                                                                    <xs:element nillable="false" maxOccurs="1" name="personIdExternal">
                                                                                                        <xs:simpleType>
                                                                                                            <xs:restriction base="xs:string" xmlns="">
                                                                                                                <xs:maxLength value="100"/>
                                                                                                            </xs:restriction>
                                                                                                        </xs:simpleType>
                                                                                                    </xs:element>
                                                                                                    <xs:element type="xs:boolean" nillable="false" maxOccurs="1" name="isPrimary" xmlns=""/>
                                                                                                    <xs:element nillable="false" maxOccurs="1" name="emailAddress">
                                                                                                        <xs:simpleType>
                                                                                                            <xs:restriction base="xs:string" xmlns="">
                                                                                                                <xs:maxLength value="100"/>
                                                                                                            </xs:restriction>
                                                                                                        </xs:simpleType>
                                                                                                    </xs:element>
                                                                                                    <xs:element nillable="true" minOccurs="0" maxOccurs="unbounded" name="emailTypeNav">
                                                                                                        <xs:complexType>
                                                                                                            <xs:sequence>
                                                                                                                <xs:element minOccurs="0" maxOccurs="1" name="PicklistOption">
                                                                                                                    <xs:complexType>
                                                                                                                        <xs:sequence>
                                                                                                                            <xs:element nillable="true" minOccurs="0" maxOccurs="1" name="externalCode">
                                                                                                                                <xs:simpleType>
                                                                                                                                    <xs:restriction base="xs:string" xmlns="">
                                                                                                                                        <xs:maxLength value="256"/>
                                                                                                                                    </xs:restriction>
                                                                                                                                </xs:simpleType>
                                                                                                                            </xs:element>
                                                                                                                        </xs:sequence>
                                                                                                                    </xs:complexType>
                                                                                                                </xs:element>
                                                                                                            </xs:sequence>
                                                                                                        </xs:complexType>
                                                                                                    </xs:element>
                                                                                                </xs:sequence>
                                                                                            </xs:complexType>
                                                                                        </xs:element>
                                                                                    </xs:sequence>
                                                                                </xs:complexType>
                                                                            </xs:element>
                                                                            <xs:element nillable="true" minOccurs="0" maxOccurs="unbounded" name="personalInfoNav">
                                                                                <xs:complexType>
                                                                                    <xs:sequence>
                                                                                        <xs:element minOccurs="0" maxOccurs="unbounded" name="PerPersonal">
                                                                                            <xs:complexType>
                                                                                                <xs:sequence>
                                                                                                    <xs:element nillable="true" minOccurs="0" maxOccurs="1" name="businessFirstName">
                                                                                                        <xs:simpleType>
                                                                                                            <xs:restriction base="xs:string" xmlns="">
                                                                                                                <xs:maxLength value="128"/>
                                                                                                            </xs:restriction>
                                                                                                        </xs:simpleType>
                                                                                                    </xs:element>
                                                                                                    <xs:element nillable="true" minOccurs="0" maxOccurs="1" name="businessLastName">
                                                                                                        <xs:simpleType>
                                                                                                            <xs:restriction base="xs:string" xmlns="">
                                                                                                                <xs:maxLength value="128"/>
                                                                                                            </xs:restriction>
                                                                                                        </xs:simpleType>
                                                                                                    </xs:element>
                                                                                                    <xs:element nillable="true" minOccurs="0" maxOccurs="1" name="middleName">
                                                                                                        <xs:simpleType>
                                                                                                            <xs:restriction base="xs:string" xmlns="">
                                                                                                                <xs:maxLength value="128"/>
                                                                                                            </xs:restriction>
                                                                                                        </xs:simpleType>
                                                                                                    </xs:element>
                                                                                                </xs:sequence>
                                                                                            </xs:complexType>
                                                                                        </xs:element>
                                                                                    </xs:sequence>
                                                                                </xs:complexType>
                                                                            </xs:element>
                                                                        </xs:sequence>
                                                                    </xs:complexType>
                                                                </xs:element>
                                                            </xs:sequence>
                                                        </xs:complexType>
                                                    </xs:element>
                                                    <xs:element type="xs:dateTime" nillable="false" maxOccurs="1" name="startDate" xmlns=""/>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element nillable="true" minOccurs="0" maxOccurs="unbounded" name="userNav">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element minOccurs="0" maxOccurs="1" name="User">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element nillable="true" minOccurs="0" maxOccurs="1" name="username">
                                                        <xs:simpleType>
                                                            <xs:restriction base="xs:string" xmlns="">
                                                                <xs:maxLength value="100"/>
                                                            </xs:restriction>
                                                        </xs:simpleType>
                                                    </xs:element>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>
