Resources/schemas/Xsd/Initials_Generator_Tool_Integration_with_SAP_SuccessFactors_Employee_Central - PerPersonEntityUPSERT-1.xsd

<?xml version="1.0" encoding="UTF-8"?><xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="qualified">
    <xs:element name="batchParts">
        <xs:complexType>
            <xs:sequence>
                <xs:element maxOccurs="unbounded" minOccurs="1" name="batchChangeSet" nillable="false">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element maxOccurs="unbounded" minOccurs="1" name="batchChangeSetPart" nillable="false">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element maxOccurs="1" minOccurs="1" name="method" nillable="false" type="xs:string"/>
                                        <xs:element maxOccurs="1" minOccurs="0" name="uri" nillable="true" type="xs:string"/>
                                        <xs:element maxOccurs="1" minOccurs="0" name="headers" nillable="true">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element maxOccurs="unbounded" minOccurs="0" name="header" nillable="true">
                                                        <xs:complexType>
                                                            <xs:sequence>
                                                                <xs:element maxOccurs="1" minOccurs="1" name="headerName" nillable="false" type="xs:string"/>
                                                                <xs:element maxOccurs="1" minOccurs="1" name="headerValue" nillable="false" type="xs:string"/>
                                                            </xs:sequence>
                                                        </xs:complexType>
                                                    </xs:element>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element maxOccurs="1" minOccurs="1" name="PerPerson" nillable="false">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element maxOccurs="unbounded" minOccurs="1" name="PerPerson">
                                                        <xs:complexType>
                                                            <xs:sequence>
                                                                <xs:element maxOccurs="1" name="personIdExternal" nillable="false">
                                                                    <xs:simpleType>
                                                                        <xs:restriction base="xs:string">
                                                                            <xs:maxLength value="32"/>
                                                                        </xs:restriction>
                                                                    </xs:simpleType>
                                                                </xs:element>
                                                                <xs:element maxOccurs="1" minOccurs="0" name="customString2" nillable="true">
                                                                    <xs:simpleType>
                                                                        <xs:restriction base="xs:string">
                                                                            <xs:maxLength value="256"/>
                                                                        </xs:restriction>
                                                                    </xs:simpleType>
                                                                </xs:element>
                                                            </xs:sequence>
                                                        </xs:complexType>
                                                    </xs:element>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>