Resources/schemas/Xsd/Integration_of_SAP_S-4HANA_Cloud_with_SAP_Field_Service_Management - LinkPriceListMaterial.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="ItemPriceLists">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="ItemPriceList" minOccurs="0" maxOccurs="unbounded">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="item">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="externalId" minOccurs="0" type="xs:string" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="priceList" minOccurs="0" type="xs:string" />
              <xs:element name="externalId" minOccurs="0" type="xs:string" />
              <xs:element name="price">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="amount" minOccurs="0" type="xs:decimal" />
                    <xs:element name="currency" minOccurs="0" type="xs:string" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>