Resources/schemas/Xsd/Integration_of_SAP_S-4HANA_Cloud_with_SAP_Field_Service_Management - Equipments.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  
  
  
 <xs:element name="Equipment" type="EquipmentDTO" />
  
  <xs:complexType name="EquipmentMetadata">
    <xs:sequence>
       
      <xs:element type="xs:string" name="globalUniqueId"  minOccurs="0"/>
       <xs:element name="parentId" maxOccurs="1" minOccurs="0">
               <xs:complexType>
                  <xs:sequence>
                     <xs:element type="xs:string" name="code" minOccurs="0" />
                     <xs:element type="xs:string" name="externalId" minOccurs="0" />
                     <xs:element type="xs:string" name="id" minOccurs="0" />
                  </xs:sequence>
               </xs:complexType>
            </xs:element>
       <xs:element name="businessPartner" maxOccurs="1" minOccurs="0">
               <xs:complexType>
                  <xs:sequence>
                     <xs:element type="xs:string" name="code" minOccurs="0" />
                     <xs:element type="xs:string" name="externalId" minOccurs="0" />
                     <xs:element type="xs:string" name="id" minOccurs="0" />
                  </xs:sequence>
               </xs:complexType>
            </xs:element>  
       <xs:element name="contact" maxOccurs="1" minOccurs="0">
               <xs:complexType>
                  <xs:sequence>
                     <xs:element type="xs:string" name="code" minOccurs="0" />
                     <xs:element type="xs:string" name="externalId" minOccurs="0" />
                     <xs:element type="xs:string" name="id" minOccurs="0" />
                  </xs:sequence>
               </xs:complexType>
            </xs:element>        
      <xs:element type="xs:string" name="serialNumber"  minOccurs="0"/>
      <xs:element type="xs:string" name="name"  minOccurs="0"/>
      <xs:element type="xs:string" name="code"  minOccurs="0"/>
      <xs:element type="xs:string" name="remarks"  minOccurs="0"/>
        <xs:element type="xs:string" name="status"  minOccurs="0"/>
        <xs:element type="xs:string" name="type"  minOccurs="0"/>
        <xs:element type="xs:string" name="externalId"  minOccurs="0"/>
        <xs:element type="xs:string" name="id"  minOccurs="0"/>
     
     <xs:element name="owners" maxOccurs="1" minOccurs="0">
     <xs:complexType>
     <xs:sequence>
              <xs:element type="xs:string" name="code"  maxOccurs="unbounded" minOccurs="0" />
              <xs:element type="xs:string" name="externalId" maxOccurs="unbounded" minOccurs="0" />
             <xs:element type="xs:string" name="id" maxOccurs="unbounded" minOccurs="0" />
    </xs:sequence>
   </xs:complexType>
   </xs:element>
      <xs:element name="item" maxOccurs="unbounded" minOccurs="0">
               <xs:complexType>
                  <xs:sequence>
                     <xs:element type="xs:string" name="code" maxOccurs="unbounded" minOccurs="0" />
                     <xs:element type="xs:string" name="externalId" maxOccurs="unbounded" minOccurs="0" />
                     <xs:element type="xs:string" name="id" maxOccurs="unbounded" minOccurs="0" />
                  </xs:sequence>
               </xs:complexType>
            </xs:element>
             <xs:element name="udfValues"  minOccurs="0" maxOccurs="unbounded">
                <xs:complexType mixed="true">
                  <xs:sequence>
                    <xs:element name="udfMeta">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element type="xs:string" name="id"
                            minOccurs="0" maxOccurs="1" />
                          <xs:element type="xs:byte" name="code"
                            minOccurs="0" maxOccurs="1" />
                          <xs:element type="xs:string" name="externalId"
                            minOccurs="0" maxOccurs="1" />
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element type="xs:string" name="value"  minOccurs="0" maxOccurs="1"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              </xs:sequence>
    
  </xs:complexType>


  

  <xs:complexType name="EquipmentDTO">
    <xs:sequence>
      <xs:element type="EquipmentMetadata" name="EQUIPMENT" maxOccurs="unbounded" minOccurs="0"/>
        <xs:element name="udfValues"  minOccurs="0" maxOccurs="unbounded">
                <xs:complexType mixed="true">
                  <xs:sequence>
                    <xs:element name="udfMeta">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element type="xs:string" name="id"
                            minOccurs="0" maxOccurs="1" />
                          <xs:element type="xs:byte" name="code"
                            minOccurs="0" maxOccurs="1" />
                          <xs:element type="xs:string" name="externalId"
                            minOccurs="0" maxOccurs="1" />
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element type="xs:string" name="value"  minOccurs="0" maxOccurs="1"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
    </xs:sequence>
  </xs:complexType>

       
 
  
</xs:schema>