Resources/schemas/Xsd/Integration_Flow_Design_Guidelines_-_Learn_the_Basics - Mapping.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Products">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Product">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="ProductId"/>
              <xs:element name="Product">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:float" name="Price"/>
                    <xs:element type="xs:string" name="ProductId"/>
					<xs:element type="xs:string" name="Category"/>
                    <xs:element type="xs:string" name="QuantityUnit"/>					
					<xs:element type="xs:string" name="ShortDescription"/>
					<xs:element type="xs:string" name="Name"/>
					<xs:element type="xs:string" name="CurrencyCode"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>