Resources/schemas/Xsd/Integration_Flow_Design_Guidelines_-_Apply_Highest_Security_Standards - Types.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema 
	elementFormDefault="qualified"
	targetNamespace="http://cpi.sap.com/guidelines/examples"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema">

	<xsd:element name="Person" type="Person"/>

	<xsd:complexType name="Person">
		<xsd:sequence>
			<xsd:element name="FirstName" type="xsd:string"/>
			<xsd:element name="LastName" type="xsd:string"/>
		</xsd:sequence>
	</xsd:complexType>

</xsd:schema>