Resources/schemas/Xsd/Integration_of_SAP_S-4HANA_Cloud_with_SAP_Field_Service_Management - FSM Item.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  
 <xs:element name="Item" type="Items"/>
  
  <xs:complexType name="Product">
    <xs:sequence>
    <xs:element type="xs:string" name="categories" minOccurs="0"/>
    <xs:element type="xs:string" name="code" minOccurs="0"/>
    <xs:element type="xs:string" name="eans" minOccurs="0"/>
    <xs:element type="xs:string" name="groupCode" minOccurs="0"/>
    <xs:element type="xs:string" name="groupName" minOccurs="0"/>
    <xs:element type="xs:string" name="inventoryItem" minOccurs="0"/>
    <xs:element type="xs:string" name="itemUrls" minOccurs="0"/>
    <xs:element type="xs:string" name="managedByBatches"  minOccurs="0"/>
    <xs:element type="xs:string" name="managedBySerialNumbers"  minOccurs="0"/>
    <xs:element type="xs:string" name="externalId"/>
    <xs:element type="xs:string" name="name"  minOccurs="0"/>
    <xs:element name="nameTranslations" maxOccurs="1" minOccurs="0">
             <xs:complexType>
                           <xs:sequence>
                              <xs:element type="xs:string" name="af" minOccurs="0" />
                              <xs:element type="xs:string" name="ar" minOccurs="0" />
                              <xs:element type="xs:string" name="be" minOccurs="0" />
                              <xs:element type="xs:string" name="bg" minOccurs="0" />
                              <xs:element type="xs:string" name="ca" minOccurs="0" />
                              <xs:element type="xs:string" name="cs" minOccurs="0" />
                              <xs:element type="xs:string" name="cy" minOccurs="0" />
                              <xs:element type="xs:string" name="da" minOccurs="0" />
                              <xs:element type="xs:string" name="de" minOccurs="0" />
                              <xs:element type="xs:string" name="el" minOccurs="0" />
                              <xs:element type="xs:string" name="en" minOccurs="0" />
                              <xs:element type="xs:string" name="es" minOccurs="0" />
                              <xs:element type="xs:string" name="et" minOccurs="0" />
                              <xs:element type="xs:string" name="fi" minOccurs="0" />
                              <xs:element type="xs:string" name="fr" minOccurs="0" />
                              <xs:element type="xs:string" name="ga" minOccurs="0" />
                              <xs:element type="xs:string" name="he" minOccurs="0" />
                              <xs:element type="xs:string" name="hi" minOccurs="0" />
                              <xs:element type="xs:string" name="hr" minOccurs="0" />
                              <xs:element type="xs:string" name="hu" minOccurs="0" />
                              <xs:element type="xs:string" name="id" minOccurs="0" />
                              <xs:element type="xs:string" name="is" minOccurs="0" />
                              <xs:element type="xs:string" name="it" minOccurs="0" />
                              <xs:element type="xs:string" name="ja" minOccurs="0" />
                              <xs:element type="xs:string" name="ko" minOccurs="0" />
                              <xs:element type="xs:string" name="lt" minOccurs="0" />
                              <xs:element type="xs:string" name="lv" minOccurs="0" />
                              <xs:element type="xs:string" name="ms" minOccurs="0" />
                              <xs:element type="xs:string" name="nl" minOccurs="0" />
                              <xs:element type="xs:string" name="no" minOccurs="0" />
                              <xs:element type="xs:string" name="pl" minOccurs="0" />
                              <xs:element type="xs:string" name="pt" minOccurs="0" />
                              <xs:element type="xs:string" name="ro" minOccurs="0" />
                              <xs:element type="xs:string" name="ru" minOccurs="0" />
                              <xs:element type="xs:string" name="sb" minOccurs="0" />
                              <xs:element type="xs:string" name="sk" minOccurs="0" />
                              <xs:element type="xs:string" name="sl" minOccurs="0" />
                              <xs:element type="xs:string" name="sr" minOccurs="0" />
                              <xs:element type="xs:string" name="sv" minOccurs="0" />
                              <xs:element type="xs:string" name="th" minOccurs="0" />
                              <xs:element type="xs:string" name="tr" minOccurs="0" />
                              <xs:element type="xs:string" name="uk" minOccurs="0" />
                              <xs:element type="xs:string" name="ur" minOccurs="0" />
                              <xs:element type="xs:string" name="vi" minOccurs="0" />
                              <xs:element type="xs:string" name="zh" minOccurs="0" />
                              <xs:element type="xs:string" name="zh-hk" minOccurs="0" />
                              <xs:element type="xs:string" name="zh-tw" minOccurs="0" />
                              <xs:element type="xs:string" name="zh-sg" minOccurs="0" />
                              <xs:element type="xs:string" name="zu" minOccurs="0" />
                           </xs:sequence>
                        </xs:complexType>
        </xs:element>
       <xs:element type="xs:string" name="ordinal"  minOccurs="0"/>
       <xs:element type="xs:string" name="properties"  minOccurs="0"/>
       <xs:element type="xs:string" name="purchaseItem"  minOccurs="0"/>
       <xs:element type="xs:string" name="remarks"  minOccurs="0"/>
       <xs:element type="xs:string" name="salesItem"  minOccurs="0"/>
       <xs:element type="xs:string" name="serialNumberItem"  minOccurs="0"/>
       <xs:element type="xs:string" name="typeCode"  minOccurs="0"/>
       <xs:element type="xs:string" name="typeName"  minOccurs="0"/>
       <xs:element type="xs:string" name="unitOfMeasure"  minOccurs="0"/>
       <xs:element type="xs:string" name="vendors"  minOccurs="0"/> 
       <xs:element type="xs:string" name="code"  minOccurs="0"/>
       <xs:element type="xs:string" name="inactive"  minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="Items">
    <xs:sequence>
      <xs:element type="Product" name="PROD" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
  
</xs:schema>