Resources/schemas/Xsd/Integration_of_SAP_S-4HANA_Cloud_with_SAP_Field_Service_Management - AINEquipment.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Root">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Equipment">
          <xs:complexType>
            <xs:choice maxOccurs="unbounded" minOccurs="0">
              <xs:element type="xs:string" name="name"/>
              <xs:element type="xs:byte" name="status"/>
              <xs:element type="xs:string" name="equipmentId"/>
              <xs:element type="xs:byte" name="equipmentVersion"/>
              <xs:element name="adminData">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:string" name="createdBy"/>
                    <xs:element type="xs:date" name="createdOn"/>
                    <xs:element type="xs:string" name="changedBy"/>
                    <xs:element type="xs:date" name="changedOn"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element type="xs:string" name="internalId"/>
              <xs:element name="sectionCompleteness">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:float" name="headerPercentage"/>
                    <xs:element type="xs:float" name="attachmentPercentage"/>
                    <xs:element type="xs:float" name="instructionPercentage"/>
                    <xs:element type="xs:float" name="valuePercentage"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element type="xs:string" name="hasInrevision"/>
              <xs:element name="descriptions">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:string" name="short"/>
                    <xs:element type="xs:string" name="language"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="additionalBusinessPartners" maxOccurs="unbounded" minOccurs="0">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:string" name="id"/>
                    <xs:element type="xs:byte" name="bpRole"/>
                    <xs:element type="xs:string" name="name"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element type="xs:string" name="templates"/>
              <xs:element type="xs:byte" name="completeness"/>
              <xs:element type="xs:string" name="objectType"/>
              <xs:element type="xs:byte" name="lifeCycle"/>
              <xs:element type="xs:string" name="operatorID"/>
              <xs:element type="xs:int" name="serialNumber"/>
              <xs:element type="xs:byte" name="sourceBPRole"/>
              <xs:element type="xs:string" name="operatorName"/>
              <xs:element type="xs:string" name="isOperatorValid"/>
              <xs:element type="xs:string" name="isRoot"/>
              <xs:element name="description">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:string" name="short"/>
                    <xs:element type="xs:string" name="language"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element type="xs:byte" name="baseline"/>
              <xs:element type="xs:string" name="source"/>
              <xs:element type="xs:string" name="modelKnown"/>
              <xs:element type="xs:string" name="hasERPinfoAccess"/>
              <xs:element type="xs:string" name="externalSystemID"/>
              <xs:element type="xs:string" name="externalSystemName"/>
            </xs:choice>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>