Resources/schemas/Xsd/Integration_of_SAP_S-4HANA_Cloud_with_SAP_Field_Service_Management - S4_Attachment.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:element name="root">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="AttachmentDetails" minOccurs="0"
				 maxOccurs="unbounded">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="description" type="xs:string" minOccurs="0" maxOccurs="1"/>
              <xs:element name="fileName" type="xs:string" minOccurs="0" maxOccurs="1"/>
              <xs:element name="externalId" type="xs:string" minOccurs="0" maxOccurs="1"/>
              <xs:element name="fileContent" type="xs:string" minOccurs="0" maxOccurs="1"/>
              <xs:element name="type" type="xs:string" minOccurs="0" maxOccurs="1"/>
              <xs:element name="syncWithErp" type="xs:boolean" minOccurs="0" maxOccurs="1"/>
              <xs:element name="object" minOccurs="0" maxOccurs="1">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="objectId">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="externalId" type="xs:string"/>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="objectType" type="xs:string"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

</xs:schema>
