Resources/schemas/Xsd/Integration_of_SAP_S-4HANA_Cloud_with_SAP_Field_Service_Management - CheckList.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
<xs:element name="root">
<xs:complexType>
<xs:sequence>
	<xs:element type="xs:string" name="eventType" minOccurs="0"/>
	<xs:element type="xs:string" name="eventTypeVersion" minOccurs="0"/>
	<xs:element type="xs:string" name="cloudEventsVersion" minOccurs="0"/>
	<xs:element type="xs:string" name="source" minOccurs="0"/>
	<xs:element type="xs:string" name="eventID" minOccurs="0"/>
	<xs:element type="xs:string" name="eventTime" minOccurs="0"/>
	<xs:element type="xs:string" name="contentType" minOccurs="0"/>

	<xs:element name="extensions" maxOccurs="1" minOccurs="0">
	<xs:complexType>
	<xs:sequence>
		<xs:element type="xs:string" name="traceId" minOccurs="0"/>
	</xs:sequence>
	</xs:complexType>
	</xs:element>

	<xs:element name="data" maxOccurs="1" minOccurs="0">
	<xs:complexType>
	<xs:sequence>
		<xs:element name="checklistTemplate" maxOccurs="1" minOccurs="0">
		<xs:complexType>
		<xs:sequence>
			<xs:element type="xs:string" name="description" minOccurs="0"/>
			<xs:element type="xs:string" name="owners" minOccurs="0"/>
			<xs:element type="xs:string" name="content" minOccurs="0"/>
			<xs:element type="xs:string" name="syncObjectKPIs" minOccurs="0"/>
			<xs:element name="defaultLanguage" maxOccurs="1" minOccurs="0"/>
			<xs:element type="xs:string" name="inactive" minOccurs="0"/>
			<xs:element type="xs:string" name="tag" minOccurs="0"/>
			<xs:element type="xs:string" name="id" minOccurs="0"/>
			<xs:element type="xs:string" name="lastChanged" minOccurs="0"/>
			<xs:element name="createPerson" maxOccurs="1" minOccurs="0">
			<xs:complexType>
			<xs:sequence>
				<xs:element type="xs:string" name="externalId" minOccurs="0"/>
			</xs:sequence>
			</xs:complexType>
			</xs:element>
			<xs:element type="xs:string" name="externalId" minOccurs="0"/>
			<xs:element type="xs:string" name="groups" minOccurs="0"/>
			<xs:element name="checklistCategory" maxOccurs="1" minOccurs="0">
			<xs:complexType>
			<xs:sequence>
				<xs:element type="xs:string" name="id" minOccurs="0"/>
			</xs:sequence>
			</xs:complexType>
			</xs:element>
			<xs:element type="xs:string" name="branches" minOccurs="0"/>
			<xs:element type="xs:string" name="hazardType" minOccurs="0"/>
			<xs:element type="xs:string" name="version" minOccurs="0"/>
			<xs:element name="tags" maxOccurs="unbounded" minOccurs="0">
			<xs:complexType>
			<xs:sequence>
				<xs:element type="xs:string" name="id" minOccurs="0"/>
			</xs:sequence>
			</xs:complexType>
			</xs:element>
			<xs:element type="xs:string" name="createDateTime" minOccurs="0"/>
			<xs:element type="xs:string" name="udfMetaGroups" minOccurs="0"/>
			<xs:element type="xs:string" name="name" minOccurs="0"/>
			<xs:element type="xs:string" name="location" minOccurs="0"/>
			<xs:element type="xs:string" name="udfValues" minOccurs="0"/>
			<xs:element name="lastChangedBy" maxOccurs="unbounded" minOccurs="0">
			<xs:complexType>
			<xs:sequence>
				<xs:element type="xs:string" name="id" minOccurs="0"/>
				<xs:element type="xs:string" name="externalId" minOccurs="0"/>
			</xs:sequence>
			</xs:complexType>
			</xs:element>
			<xs:element type="xs:string" name="syncStatus" minOccurs="0"/>
			<xs:element type="xs:string" name="status" minOccurs="0"/>
		</xs:sequence>
		</xs:complexType>
		</xs:element>
	</xs:sequence>
	</xs:complexType>
	</xs:element>
</xs:sequence>
</xs:complexType>
</xs:element>
</xs:schema>
