Resources/schemas/Xsd/Integration_between_SAP_Concur_and_OpenText - Employee.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Employee">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="User">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="ID"/>
              <xs:element type="xs:string" name="URI"/>
              <xs:element type="xs:string" name="LoginID"/>
              <xs:element type="xs:string" name="EmployeeID"/>
              <xs:element type="xs:string" name="FirstName"/>
              <xs:element type="xs:string" name="LastName"/>
              <xs:element type="xs:string" name="MiddleName"/>
              <xs:element type="xs:string" name="PrimaryEmail"/>
              <xs:element type="xs:string" name="Active"/>
              <xs:element type="xs:string" name="CellPhoneNumber"/>
              <xs:element type="xs:string" name="OrganizationUnit"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element type="xs:string" name="EmployeeFound"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>