Resources/schemas/Xsd/Integration_between_TM_Forum_and_SAP_S-4HANA_BRIM - partyAccountGET.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="root">
		<xs:complexType>
			<xs:sequence>
				<xs:element minOccurs="0" maxOccurs="unbounded" name="partyAccount">
					<xs:complexType>
						<xs:sequence>
							<xs:element minOccurs="0" type="xs:string" name="id"/>
							<xs:element minOccurs="0" type="xs:string" name="href"/>
							<xs:element minOccurs="0" type="xs:string" name="type"/>
							<xs:element minOccurs="0" type="xs:string" name="accountType"/>
							<xs:element minOccurs="0" type="xs:string" name="name"/>
							<xs:element minOccurs="0" name="billStructure">
								<xs:complexType>
									<xs:sequence>
										<xs:element minOccurs="0" name="cycleSpecification">
											<xs:complexType>
												<xs:sequence>
													<xs:element minOccurs="0" type="xs:string" name="id"/>
													<xs:element minOccurs="0" type="xs:string" name="href"/>
													<xs:element minOccurs="0" type="xs:string" name="isRef"/>
													<xs:element minOccurs="0" type="xs:string" name="paymentDueDateOffset"/>
													<xs:element minOccurs="0" type="xs:string" name="name"/>
													<xs:element minOccurs="0" name="validFor">
														<xs:complexType>
															<xs:sequence>
																<xs:element minOccurs="0" type="xs:string" name="startDateTime"/>
															</xs:sequence>
														</xs:complexType>
													</xs:element>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
										<xs:element minOccurs="0" name="format">
											<xs:complexType>
												<xs:sequence>
													<xs:element minOccurs="0" type="xs:string" name="id"/>
													<xs:element minOccurs="0" type="xs:string" name="href"/>
													<xs:element minOccurs="0" type="xs:string" name="isRef"/>
													<xs:element minOccurs="0" type="xs:string" name="name"/>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
										<xs:element minOccurs="0" maxOccurs="unbounded" name="presentationMedia">
											<xs:complexType>
												<xs:sequence>
													<xs:element minOccurs="0" type="xs:string" name="id"/>
													<xs:element minOccurs="0" type="xs:string" name="href"/>
													<xs:element minOccurs="0" type="xs:string" name="isRef"/>
													<xs:element minOccurs="0" type="xs:string" name="name"/>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element minOccurs="0" name="defaultPaymentMethod">
								<xs:complexType>
									<xs:sequence>
										<xs:element minOccurs="0" type="xs:string" name="id"/>
										<xs:element minOccurs="0" type="xs:string" name="name"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element minOccurs="0" name="financialAccount">
								<xs:complexType>
									<xs:sequence>
										<xs:element minOccurs="0" type="xs:string" name="id"/>
										<xs:element minOccurs="0" type="xs:string" name="href"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element minOccurs="0" maxOccurs="unbounded" name="relatedParty">
								<xs:complexType>
									<xs:sequence>
										<xs:element minOccurs="0" type="xs:string" name="id"/>
										<xs:element minOccurs="0" type="xs:string" name="href"/>
										<xs:element minOccurs="0" type="xs:string" name="name"/>
										<xs:element minOccurs="0" type="xs:string" name="role"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>