Resources/schemas/Xsd/Integration_Flow_Design_Guidelines_-_Learn_the_Basics - mapping_combine_m1_m2.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="PurchaseOrder">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Item">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="ProductId"/>
              <xs:element type="xs:string" name="ProductName"/>
              <xs:element type="xs:string" name="Category"/>
              <xs:element type="xs:byte" name="Quantity"/>
              <xs:element type="xs:string" name="CurrencyCode"/>
              <xs:element type="xs:float" name="Price"/>
            </xs:sequence>
            <xs:attribute type="xs:byte" name="ItemNumber"/>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
      <xs:attribute type="xs:int" name="PurchaseOrderNumber"/>
      <xs:attribute type="xs:date" name="OrderDate"/>
    </xs:complexType>
  </xs:element>
</xs:schema>