Resources/schemas/Xsd/Integration_between_SAP_Fieldglass_and_OpenText - OT_Doc.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="OT_Doc">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="File">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="Main Document Title">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:maxLength value="150"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="Purchase Order Number">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:maxLength value="150"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="Currency">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:maxLength value="150"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="Price">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:maxLength value="150"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>