Resources/schemas/Xsd/Integration_of_SAP_S-4HANA_Cloud_with_SAP_Field_Service_Management - FSM_Attachment.xsd

<xs:schema attributeFormDefault="unqualified"
	elementFormDefault="qualified"
	xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="Attachments">
	    <xs:complexType>
			<xs:sequence>
				<xs:element name="data" minOccurs="0"
				 maxOccurs="unbounded">
					<xs:complexType>
						<xs:sequence>
							<xs:element type="xs:date" name="fileName"
							 minOccurs="0" maxOccurs="1" />
							<xs:element type="xs:string" name="description"
							 minOccurs="0" maxOccurs="1" />
							<xs:element type="xs:string" name="externalId"
							 minOccurs="0" maxOccurs="1" />
							<xs:element type="xs:boolean" name="type"
							 minOccurs="0" maxOccurs="1" />
							<xs:element type="xs:string" name="syncWithErp"
							 minOccurs="0" maxOccurs="1" />
							<xs:element type="xs:string" name="fileContent"
							 minOccurs="0" maxOccurs="1" />
							<xs:element name="object" minOccurs="0" maxOccurs="1">
							<xs:complexType>
								<xs:sequence>
								    <xs:element name="objectId">
									    <xs:complexType>
									        <xs:sequence>
										        <xs:element type="xs:string" name="externalId" />
										    </xs:sequence>
									    </xs:complexType>
								    </xs:element>
							        <xs:element type="xs:string" name="objectType" />
						        </xs:sequence>
					        </xs:complexType>
				            </xs:element>
			            </xs:sequence>
		            </xs:complexType>
	            </xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>