Resources/schemas/Xsd/Integration_Flow_Design_Guidelines_-_Learn_the_Basics - Product.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Product">
    <xs:complexType>
      <xs:sequence>
        <xs:element type="xs:string" name="ProductId"/>
        <xs:element type="xs:string" name="Category"/>
        <xs:element type="xs:string" name="CategoryName"/>
        <xs:element type="xs:string" name="CurrencyCode"/>
        <xs:element type="xs:float" name="DimensionDepth"/>
        <xs:element type="xs:float" name="DimensionHeight"/>
        <xs:element type="xs:string" name="DimensionUnit"/>
        <xs:element type="xs:float" name="DimensionWidth"/>
		<xs:element type="xs:string" name="LongDescription"/>
        <xs:element type="xs:string" name="Name"/>
        <xs:element type="xs:float" name="Price"/>
        <xs:element type="xs:string" name="QuantityUnit"/>
        <xs:element type="xs:string" name="ShortDescription"/>
        <xs:element type="xs:string" name="SupplierId"/>
        <xs:element type="xs:float" name="Weight"/>
        <xs:element type="xs:string" name="WeightUnit"/>
        <xs:element type="xs:string" name="ProductImage"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
