Resources/schemas/Xsd/Integration_of_SAP_S-4HANA_Cloud_with_SAP_Field_Service_Management - Activity.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified"
	xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="root">
      <xs:complexType>
         <xs:sequence>
            <xs:element name="data" minOccurs="0" maxOccurs="unbounded">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="activityId" minOccurs="0">
                            <xs:complexType>
                            <xs:sequence>
                            <xs:element type="xs:string" name="externalId" minOccurs="0" />
                        </xs:sequence>
                        </xs:complexType>
                        </xs:element>
							<xs:element type="xs:string" name="cancelServiceCallConfirmed" minOccurs="0" />
							<xs:element type="xs:string" name="cancellationReason" minOccurs="0" />
						</xs:sequence>
					</xs:complexType>
				</xs:element>
         </xs:sequence>
      </xs:complexType>
   </xs:element>
</xs:schema>