Resources/schemas/Xsd/Integration_with_SAP_SuccessFactors_to_Automatically_Convert_Assignment_IDs - assignmentBatchResponse.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema attributeFormDefault="unqualified"
           elementFormDefault="qualified"
           xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="batchPartResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element nillable="false"
				            minOccurs="1"
				            maxOccurs="unbounded"
				            name="batchQueryPartResponse">
					<xs:complexType>
						<xs:sequence>
							<xs:element type="xs:string"
							            nillable="false"
							            minOccurs="1"
							            maxOccurs="1"
							            name="statusInfo"
							            xmlns=""/>
							<xs:element type="xs:string"
							            nillable="false"
							            minOccurs="1"
							            maxOccurs="1"
							            name="contentId"
							            xmlns=""/>
							<xs:element name="body"
							            minOccurs="0"
							            maxOccurs="1">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="convertAssignmentIdExternal"
										            minOccurs="0"
										            maxOccurs="1">
											<xs:complexType>
												<xs:sequence>
													<xs:element type="xs:string"
													            name="String"
													            minOccurs="0"
													            maxOccurs="1"/>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element type="xs:string"
							            nillable="false"
							            minOccurs="1"
							            maxOccurs="1"
							            name="statusCode"
							            xmlns=""/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>