Resources/schemas/Xsd/Integration_of_SAP_S-4HANA_Cloud_with_SAP_Field_Service_Management - FSM PriceList.xsd


<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  
<xs:element name="PriceList" type="PriceLists"/>
  <xs:complexType name="list">
    <xs:sequence>
      <xs:element name="code" type="xs:string" minOccurs="0"/>
      <xs:element name="name" type="xs:string" minOccurs="0"/>
      <xs:element name="externalId" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>


<xs:complexType name="PriceLists">
   <xs:sequence>
     <xs:element type="list" name="data" minOccurs="0" maxOccurs="unbounded"/>
   </xs:sequence>
</xs:complexType>
  
</xs:schema>