Resources/schemas/Xsd/Microsoft_Dynamics_CRM_Integration_with_SAP_Signavio_Process_Intelligence - MSDynamics_Object_Get_accounts_Response.XSD

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="response">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="entry">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="odata_context"/>
              <xs:element name="value" maxOccurs="unbounded" minOccurs="0">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:string" name="odata_etag"/>
                    <xs:element type="xs:string" name="accountid"/>
                    <xs:element type="xs:string" name="_createdby_value"/>
                    <xs:element type="xs:string" name="_ownerid_value"/>
                    <xs:element type="xs:dateTime" name="createdon"/>
                    <xs:element type="xs:dateTime" name="modifiedon"/>
                    <xs:element type="xs:string" name="revenue"/>
                    <xs:element type="xs:string" name="industrycode"/>
                    <xs:element type="xs:string" name="name"/>
                    <xs:element type="xs:string" name="customertypecode"/>
                    <xs:element type="xs:string" name="_transactioncurrencyid_value"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element type="xs:string" name="odata_nextLink"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
