Resources/schemas/Xsd/Microsoft_Dynamics_CRM_Integration_with_SAP_Signavio_Process_Intelligence - MSDynamics_Object_Get_systemusers_Response.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="response">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="entry">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="odata.context" type="xs:string" />
              <xs:element maxOccurs="unbounded" name="value">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="odata.etag" type="xs:string" />
                    <xs:element name="systemuserid" type="xs:string" />
                    <xs:element name="createdon" type="xs:dateTime" />
                    <xs:element name="modifiedon" type="xs:dateTime" />
                    <xs:element name="_businessunitid_value" type="xs:string" />
                    <xs:element name="title" />
                    <xs:element name="address1_country" />
                    <xs:element name="msdyn_agentType" />
                    <xs:element name="ownerid" type="xs:string" />
                    <xs:element name="organizationid_organization">
                      <xs:complexType>
                        <xs:attribute name="name" type="xs:string" />
                        <xs:attribute name="organizationid" type="xs:string" />
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="businessunitid">
                      <xs:complexType>
                        <xs:attribute name="name" type="xs:string" />
                        <xs:attribute name="divisionname" type="xs:string" />
                        <xs:attribute name="businessunitid" type="xs:string" />
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>