Resources/schemas/Xsd/Microsoft_Dynamics_CRM_Integration_with_SAP_Signavio_Process_Intelligence - MSDynamics_Object_Get_leads_Response.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="response">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="entry">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="odata.context"/>
              <xs:element name="value" maxOccurs="unbounded" minOccurs="0">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:string" name="odata.etag"/>
                    <xs:element type="xs:string" name="leadid"/>
                    <xs:element type="xs:string" name="_createdby_value"/>
                    <xs:element type="xs:string" name="_ownerid_value"/>
                    <xs:element type="xs:string" name="_qualifyingopportunityid_value"/>
                    <xs:element type="xs:dateTime" name="createdon"/>
                    <xs:element type="xs:dateTime" name="modifiedon"/>
                    <xs:element type="xs:string" name="leadsourcecode"/>
                    <xs:element type="xs:byte" name="statuscode"/>
                    <xs:element type="xs:string" name="companyname"/>
                    <xs:element type="xs:string" name="address1_city"/>
                    <xs:element type="xs:string" name="industrycode"/>
                    <xs:element type="xs:byte" name="leadqualitycode"/>
                    <xs:element type="xs:string" name="jobtitle"/>
                    <xs:element type="xs:string" name="_campaignid_value"/>
                    <xs:element type="xs:int" name="prioritycode"/>
                    <xs:element type="xs:long" name="revenue"/>
                    <xs:element name="owningbusinessunit">
                      <xs:complexType>
                        <xs:attribute name="name" type="xs:string" />
                        <xs:attribute name="businessunitid" type="xs:string" />
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>