Resources/schemas/Xsd/Microsoft_Dynamics_CRM_Integration_with_SAP_Signavio_Process_Intelligence - QuotesChangesOut.xsd

<?xml version="1.0" encoding="UTF-8"?><!-- Created with Liquid Technologies Online Tools 1.0 (https://www.liquid-technologies.com) --><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" attributeFormDefault="unqualified" elementFormDefault="qualified">
  <xs:element name="root">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" name="Table">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="ChangeId" type="xs:string"/>
              <xs:element name="QuoteId" type="xs:string"/>
              <xs:element name="CreatedDate" type="xs:long"/>
              <xs:element name="CreatedBy" type="xs:string"/>
              <xs:element name="Field" type="xs:string"/>
              <xs:element minOccurs="0" name="OldValue" type="xs:string"/>
              <xs:element minOccurs="0" name="NewValue" type="xs:string"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xsd:schema>