Resources/schemas/Xsd/Microsoft_Dynamics_CRM_Integration_with_SAP_Signavio_Process_Intelligence - SignavioUserOutput.xsd

<?xml version="1.0" encoding="UTF-8"?><xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="qualified">
	<xs:element name="root">
		<xs:complexType>
			<xs:sequence>
				<xs:element maxOccurs="unbounded" minOccurs="1" name="Table">
					<xs:complexType>
						<xs:sequence>
							<xs:element maxOccurs="1" minOccurs="0" name="UserId" type="xs:string"/>
							<xs:element maxOccurs="1" minOccurs="0" name="CreatedDate" type="xs:long"/>
							<xs:element maxOccurs="1" minOccurs="0" name="LastModifiedDate" type="xs:long"/>
							<xs:element maxOccurs="1" minOccurs="0" name="CompanyName" type="xs:string"/>
							<xs:element maxOccurs="1" minOccurs="0" name="Department" type="xs:string"/>
							<xs:element maxOccurs="1" minOccurs="0" name="Title" type="xs:string"/>
							<xs:element maxOccurs="1" minOccurs="0" name="Country" type="xs:string"/>
							<xs:element maxOccurs="1" minOccurs="0" name="Type" type="xs:string"/>
							<xs:element maxOccurs="1" minOccurs="0" name="SalesDivision" type="xs:string"/>
							<xs:element maxOccurs="1" minOccurs="0" name="SalesOrganization" type="xs:string"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>