Resources/schemas/Xsd/Microsoft_Dynamics_CRM_Integration_with_SAP_Signavio_Process_Intelligence - MSDynamics_Object_Get_quotes_Response.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- Created with Liquid Technologies Online Tools 1.0 (https://www.liquid-technologies.com) -->
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="response">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="entry">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="odata.context" type="xs:string" />
              <xs:element maxOccurs="unbounded" name="value">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="odata.etag" type="xs:string" />
                    <xs:element name="quoteid" type="xs:string" />
                    <xs:element name="_createdby_value" type="xs:string" />
                    <xs:element name="_ownerid_value" type="xs:string" />
                    <xs:element name="_opportunityid_value" type="xs:string" />
                    <xs:element name="createdon" type="xs:dateTime" />
                    <xs:element name="modifiedon" type="xs:dateTime" />
                    <xs:element name="effectiveto" type="xs:string" />
                    <xs:element name="effectivefrom" type="xs:string" />
                    <xs:element name="_transactioncurrencyid_value" type="xs:string" />
                    <xs:element name="statuscode" type="xs:unsignedByte" />
                    <xs:element name="totallineitemamount" type="xs:unsignedShort" />
                    <xs:element name="totalamountlessfreight" type="xs:short" />
                    <xs:element name="discountpercentage" type="xs:unsignedShort" />
                    <xs:element name="transactioncurrencyid">
                    <xs:complexType>
                        <xs:attribute name="currencyname" type="xs:string" />
                        <xs:attribute name="transactioncurrencyid" type="xs:string" />
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>