Resources/schemas/Xsd/Microsoft_Dynamics_CRM_Integration_with_SAP_Signavio_Process_Intelligence - MSDynamics_Object_Get_audits_Response.xsd

<?xml version="1.0" encoding="UTF-8"?><!-- Created with Liquid Technologies Online Tools 1.0 (https://www.liquid-technologies.com) --><xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="qualified">
        <xs:element name="response">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="entry">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element maxOccurs="unbounded" name="value">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="attributemask" type="xs:string"/>
                          <xs:element name="auditid" type="xs:string"/>
                          <xs:element name="_userid_value" type="xs:string"/>
                          <xs:element name="_objectid_value" type="xs:string"/>
                          <xs:element name="changedAttributes">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element maxOccurs="unbounded" name="attribute">
                                  <xs:complexType>
                                    <xs:sequence>
                                      <xs:element name="oldValue"/>
                                      <xs:element name="newValue" type="xs:string"/>
                                    </xs:sequence>
                                    <xs:attribute name="logicalName" type="xs:string" use="required"/>
                                  </xs:complexType>
                                </xs:element>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                          <xs:element name="createdon" type="xs:dateTime"/>
                          <xs:element name="objecttypecode" type="xs:string"/>
                          <xs:element name="transactionid" type="xs:string"/>
                          <xs:element name="versionnumber" type="xs:unsignedByte"/>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                  <xs:attribute name="odata.context" type="xs:string" use="required"/>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
</xs:schema>