Resources/schemas/Xsd/Microsoft_Dynamics_CRM_Integration_with_SAP_Signavio_Process_Intelligence - SignavioQuoteOutput.xsd

<?xml version="1.0" encoding="UTF-8"?><xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="qualified">
	<xs:element name="root">
		<xs:complexType>
			<xs:sequence>
				<xs:element maxOccurs="unbounded" minOccurs="1" name="Table">
					<xs:complexType>
						<xs:sequence>
							<xs:element maxOccurs="1" minOccurs="0" name="QuoteId" type="xs:string"/>
							<xs:element maxOccurs="1" minOccurs="0" name="CreatedDate" type="xs:long"/>
							<xs:element maxOccurs="1" minOccurs="0" name="LastUpdateDate" type="xs:long"/>
							<xs:element maxOccurs="1" minOccurs="0" name="CreatedBy" type="xs:string"/>
							<xs:element maxOccurs="1" minOccurs="0" name="OwnerId" type="xs:string"/>
							<xs:element maxOccurs="1" minOccurs="0" name="OpportunityId" type="xs:string"/>
							<xs:element maxOccurs="1" minOccurs="0" name="Status" type="xs:string"/>
							<xs:element maxOccurs="1" minOccurs="0" name="ExpirationDate" type="xs:long"/>
							<xs:element maxOccurs="1" minOccurs="0" name="GrandTotal" type="xs:double"/>
							<xs:element maxOccurs="1" minOccurs="0" name="TotalPrice" type="xs:double"/>
							<xs:element maxOccurs="1" minOccurs="0" name="SubmitDate" type="xs:long"/>
							<xs:element maxOccurs="1" minOccurs="0" name="Currency" type="xs:string"/>
							<xs:element maxOccurs="1" minOccurs="0" name="Discount" type="xs:double"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>