Resources/schemas/Xsd/Mobile_Application_Integration_with_SAP_Marketing_Cloud - contactInput.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="root">
    <xs:complexType>
      <xs:sequence>
      	<xs:element name="ContactOriginData" minOccurs="1" maxOccurs="1" >
   	  	<xs:complexType>
      	<xs:sequence>
              <xs:element type="xs:string" name="FirstName" minOccurs="0" maxOccurs="1"/>
              <xs:element type="xs:string" name="LastName" minOccurs="0" maxOccurs="1"/>
              <xs:element type="xs:string" name="EmailAddress" minOccurs="0" maxOccurs="1"/>
              <xs:element type="xs:string" name="Country" minOccurs="0" maxOccurs="1"/>
              <xs:element type="xs:string" name="MobileNumber" minOccurs="0" maxOccurs="1"/>
              <xs:element type="xs:string" name="IsConsumer" minOccurs="0" maxOccurs="1"/>
              <xs:element type="xs:string" name="Language" minOccurs="0" maxOccurs="1"/>
              <xs:element type="xs:string" name="OriginDataLastChgUTCDateTime" minOccurs="0" maxOccurs="1"/>
              <xs:element type="xs:string" name="ContactID" minOccurs="0" maxOccurs="1"/>
              <xs:element type="xs:string" name="ContactOrigin" minOccurs="0" maxOccurs="1"/>
              <xs:element type="xs:string" name="ValidationStatus" minOccurs="0" maxOccurs="1"/>
              <xs:element type="xs:string" name="ValidationStatusName" minOccurs="0" maxOccurs="1"/>
              <xs:element type="xs:string" name="IsEndOfPurposeBlocked" minOccurs="0" maxOccurs="1"/>
              <xs:element type="xs:string" name="BirthDate" minOccurs="0" maxOccurs="1"/>
              <xs:element type="xs:string" name="IsContactPerson" minOccurs="0" maxOccurs="1"/>
              <xs:element type="xs:string" name="Latitude" minOccurs="0" maxOccurs="1"/>
              <xs:element type="xs:string" name="LastChangeDateTime" minOccurs="0" maxOccurs="1"/>
              <xs:element type="xs:string" name="InteractionContactImageURL" minOccurs="0" maxOccurs="1"/>
              <xs:element type="xs:string" name="LastChangedByUser" minOccurs="0" maxOccurs="1"/>
              <xs:element type="xs:string" name="Longitude" minOccurs="0" maxOccurs="1"/>
              <xs:element type="xs:string" name="ContactUUID" minOccurs="0" maxOccurs="1"/>
              <xs:element type="xs:string" name="CreationDateTime" minOccurs="0" maxOccurs="1"/>
              <xs:element type="xs:string" name="CreatedByUser" minOccurs="0" maxOccurs="1"/>
              <xs:element type="xs:string" name="SpatialReferenceSystem" minOccurs="0" maxOccurs="1"/>
              <xs:element type="xs:string" name="CorporateAccountUUID" minOccurs="0" maxOccurs="1"/>
              <xs:element type="xs:string" name="IsMainContact" minOccurs="0" maxOccurs="1"/>
              <xs:element type="xs:string" name="FullName" minOccurs="0" maxOccurs="1"/>
              <xs:element type="xs:string" name="Department" minOccurs="0" maxOccurs="1"/>
              <xs:element type="xs:string" name="DepartmentName" minOccurs="0" maxOccurs="1"/>
              <xs:element type="xs:string" name="Function" minOccurs="0" maxOccurs="1"/>
              <xs:element type="xs:string" name="ContactFunctionName" minOccurs="0" maxOccurs="1"/>
              <xs:element type="xs:string" name="MaritalStatus" minOccurs="0" maxOccurs="1"/>
              <xs:element type="xs:string" name="MaritalStatusName" minOccurs="0" maxOccurs="1"/>
              <xs:element type="xs:string" name="CityName" minOccurs="0" maxOccurs="1"/>
              <xs:element type="xs:string" name="StreetName" minOccurs="0" maxOccurs="1"/>
              <xs:element type="xs:string" name="AddressHouseNumber" minOccurs="0" maxOccurs="1"/>
              <xs:element type="xs:string" name="LanguageName" minOccurs="0" maxOccurs="1"/>
              <xs:element type="xs:string" name="PhoneNumber" minOccurs="0" maxOccurs="1"/>
              <xs:element type="xs:string" name="FaxNumber" minOccurs="0" maxOccurs="1"/>
              <xs:element type="xs:string" name="HasMktgPermissionForDirectMail" minOccurs="0" maxOccurs="1"/>
              <xs:element type="xs:string" name="CountryName" minOccurs="0" maxOccurs="1"/>
              <xs:element type="xs:string" name="AddressRegion" minOccurs="0" maxOccurs="1"/>
              <xs:element type="xs:string" name="RegionName" minOccurs="0" maxOccurs="1"/>
              <xs:element type="xs:string" name="GenderCode" minOccurs="0" maxOccurs="1"/>
              <xs:element type="xs:string" name="GenderCodeName" minOccurs="0" maxOccurs="1"/>
              <xs:element type="xs:string" name="ContactPostalCode" minOccurs="0" maxOccurs="1"/>
              <xs:element type="xs:string" name="FormOfAddress" minOccurs="0" maxOccurs="1"/>
              <xs:element type="xs:string" name="FormOfAddressName" minOccurs="0" maxOccurs="1"/>
              <xs:element type="xs:string" name="WebsiteURL" minOccurs="0" maxOccurs="1"/>
              <xs:element type="xs:string" name="Industry" minOccurs="0" maxOccurs="1"/>
              <xs:element type="xs:string" name="IndustryName" minOccurs="0" maxOccurs="1"/>
              <xs:element type="xs:string" name="CorporateAccountName" minOccurs="0" maxOccurs="1"/>
              <xs:element type="xs:string" name="CorporateAccountOrigin" minOccurs="0" maxOccurs="1"/>
              <xs:element type="xs:string" name="CorporateAccountID" minOccurs="0" maxOccurs="1"/>
              <xs:element type="xs:string" name="IsObsolete" minOccurs="0" maxOccurs="1"/>
              <xs:element type="xs:string" name="TrackingID" minOccurs="0" maxOccurs="1"/>
              
              
		 </xs:sequence>
    	</xs:complexType>
  		</xs:element>
  		<xs:element name="AdditionalIds" minOccurs="0" maxOccurs="unbounded" >
   	  	<xs:complexType>
      	<xs:sequence>
              <xs:element type="xs:string" name="ContactOrigin" minOccurs="0" maxOccurs="1"/>
              <xs:element type="xs:string" name="ContactID" minOccurs="0" maxOccurs="1"/>
              <xs:element type="xs:string" name="InteractionContactAdditionalOrigin" minOccurs="0" maxOccurs="1"/>
              <xs:element type="xs:string" name="InteractionContactAdditionalExternalID" minOccurs="0" maxOccurs="1"/>
              <xs:element type="xs:string" name="InteractionContactAdditionalOriginUUID" minOccurs="0" maxOccurs="1"/>
              <xs:element type="xs:string" name="ContactUUID" minOccurs="0" maxOccurs="1"/>
              <xs:element type="xs:string" name="IntactnContactAddlIDIsInvalid" minOccurs="0" maxOccurs="1"/>
              
		 </xs:sequence>
    	</xs:complexType>
  		</xs:element>
  		<xs:element name="MarketingAreas" minOccurs="0" maxOccurs="unbounded" >
   	  	<xs:complexType>
      	<xs:sequence>
              <xs:element type="xs:string" name="ContactOrigin" minOccurs="0" maxOccurs="1"/>
              <xs:element type="xs:string" name="ContactID" minOccurs="0" maxOccurs="1"/>
              <xs:element type="xs:string" name="InteractionContactMktgArea" minOccurs="0" maxOccurs="1"/>
              <xs:element type="xs:string" name="InteractionContactMktgAreaName" minOccurs="0" maxOccurs="1"/>
              <xs:element type="xs:string" name="ContactUUID" minOccurs="0" maxOccurs="1"/>
              <xs:element type="xs:string" name="InteractionContactAdditionalOriginUUID" minOccurs="0" maxOccurs="1"/>
              <xs:element type="xs:string" name="InteractionContactMktgAreaUUID" minOccurs="0" maxOccurs="1"/>
              
		 </xs:sequence>
    	</xs:complexType>
  		</xs:element>
  		<xs:element name="MarketingPermissions" minOccurs="0" maxOccurs="unbounded">
   	  	<xs:complexType>
      	<xs:sequence>
              <xs:element type="xs:string" name="ContactID" minOccurs="0" maxOccurs="1"/>
              <xs:element type="xs:string" name="ContactOrigin" minOccurs="0" maxOccurs="1"/>
              <xs:element type="xs:string" name="ContactPermissionID" minOccurs="0" maxOccurs="1"/>
              <xs:element type="xs:string" name="ContactPermissionOrigin" minOccurs="0" maxOccurs="1"/>
              <xs:element type="xs:string" name="ContactPermissionOriginName" minOccurs="0" maxOccurs="1"/>
              <xs:element type="xs:string" name="MarketingArea" minOccurs="0" maxOccurs="1"/>
              <xs:element type="xs:string" name="MarketingAreaName" minOccurs="0" maxOccurs="1"/>
              <xs:element type="xs:string" name="CommunicationMedium" minOccurs="0" maxOccurs="1"/>
              <xs:element type="xs:string" name="CommunicationMediumName" minOccurs="0" maxOccurs="1"/>
              <xs:element type="xs:string" name="ContactUUID" minOccurs="0" maxOccurs="1"/>
              <xs:element type="xs:string" name="PermissionUTCDateTime" minOccurs="0" maxOccurs="1"/>
              <xs:element type="xs:string" name="PermissionGranted" minOccurs="0" maxOccurs="1"/>
              <xs:element type="xs:string" name="CommunicationCategoryName" minOccurs="0" maxOccurs="1"/>
              <xs:element type="xs:string" name="PermissionSourceObject" minOccurs="0" maxOccurs="1"/>
              <xs:element type="xs:string" name="PermissionSourceObjectType" minOccurs="0" maxOccurs="1"/>
              <xs:element type="xs:string" name="PermissionSourceSystem" minOccurs="0" maxOccurs="1"/>
              <xs:element type="xs:string" name="PermissionSourceSystemType" minOccurs="0" maxOccurs="1"/>
              <xs:element type="xs:string" name="PermissionSourceCommMedium" minOccurs="0" maxOccurs="1"/>
              <xs:element type="xs:string" name="PermissionSourceCommMediumName" minOccurs="0" maxOccurs="1"/>
              <xs:element type="xs:string" name="PermissionIsExplicit" minOccurs="0" maxOccurs="1"/>
              <xs:element type="xs:string" name="IsConfirmationRequired" minOccurs="0" maxOccurs="1"/>
              <xs:element type="xs:string" name="PermissionLastChangedUserName" minOccurs="0" maxOccurs="1"/>
              <xs:element type="xs:string" name="PermissionLastChangedDateTime" minOccurs="0" maxOccurs="1"/>
              <xs:element type="xs:string" name="PermissionUUID" minOccurs="0" maxOccurs="1"/>
              <xs:element type="xs:string" name="PermissionNoteText" minOccurs="0" maxOccurs="1"/>
              
		 </xs:sequence>
    	</xs:complexType>
  		</xs:element>
</xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>