Resources/schemas/Xsd/Mobile_Application_Integration_with_SAP_Marketing - InteractionsEntityPOST0.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="Interactions">
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="1" maxOccurs="unbounded" name="Interaction">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element type="xs:string" nillable="false" maxOccurs="unbounded" name="InteractionUUID" xmlns=""/>
                            <xs:element nillable="true" minOccurs="0" maxOccurs="unbounded" name="InteractionContactOrigin">
                                <xs:simpleType>
                                    <xs:restriction base="xs:string" xmlns="">
                                        <xs:maxLength value="20"/>
                                    </xs:restriction>
                                </xs:simpleType>
                            </xs:element>
                            <xs:element nillable="true" minOccurs="0" maxOccurs="unbounded" name="InteractionContactId">
                                <xs:simpleType>
                                    <xs:restriction base="xs:string" xmlns="">
                                        <xs:maxLength value="255"/>
                                    </xs:restriction>
                                </xs:simpleType>
                            </xs:element>
                            <xs:element nillable="true" minOccurs="0" maxOccurs="unbounded" name="CommunicationMedium">
                                <xs:simpleType>
                                    <xs:restriction base="xs:string" xmlns="">
                                        <xs:maxLength value="20"/>
                                    </xs:restriction>
                                </xs:simpleType>
                            </xs:element>
                            <xs:element nillable="true" minOccurs="0" maxOccurs="unbounded" name="InteractionType">
                                <xs:simpleType>
                                    <xs:restriction base="xs:string" xmlns="">
                                        <xs:maxLength value="20"/>
                                    </xs:restriction>
                                </xs:simpleType>
                            </xs:element>
                            <xs:element type="xs:dateTime" nillable="true" minOccurs="0" maxOccurs="unbounded" name="InteractionTimeStampUTC" xmlns=""/>
                            <xs:element nillable="true" minOccurs="0" maxOccurs="unbounded" name="InteractionSourceObjectType">
                                <xs:simpleType>
                                    <xs:restriction base="xs:string" xmlns="">
                                        <xs:maxLength value="30"/>
                                    </xs:restriction>
                                </xs:simpleType>
                            </xs:element>
                            <xs:element nillable="true" minOccurs="0" maxOccurs="unbounded" name="InteractionSourceObject">
                                <xs:simpleType>
                                    <xs:restriction base="xs:string" xmlns="">
                                        <xs:maxLength value="50"/>
                                    </xs:restriction>
                                </xs:simpleType>
                            </xs:element>
                            <xs:element nillable="true" minOccurs="0" maxOccurs="unbounded" name="MarketingArea">
                                <xs:simpleType>
                                    <xs:restriction base="xs:string" xmlns="">
                                        <xs:maxLength value="40"/>
                                    </xs:restriction>
                                </xs:simpleType>
                            </xs:element>
                            <xs:element nillable="true" minOccurs="0" maxOccurs="unbounded" name="CampaignID">
                                <xs:simpleType>
                                    <xs:restriction base="xs:string" xmlns="">
                                        <xs:maxLength value="10"/>
                                    </xs:restriction>
                                </xs:simpleType>
                            </xs:element>
                            <xs:element nillable="true" minOccurs="0" maxOccurs="unbounded" name="MarketingLocationOrigin">
                                <xs:simpleType>
                                    <xs:restriction base="xs:string" xmlns="">
                                        <xs:maxLength value="30"/>
                                    </xs:restriction>
                                </xs:simpleType>
                            </xs:element>
                            <xs:element nillable="true" minOccurs="0" maxOccurs="unbounded" name="MarketingLocation">
                                <xs:simpleType>
                                    <xs:restriction base="xs:string" xmlns="">
                                        <xs:maxLength value="50"/>
                                    </xs:restriction>
                                </xs:simpleType>
                            </xs:element>
                            <xs:element nillable="true" minOccurs="0" maxOccurs="unbounded" name="DigitalAccountType">
                                <xs:simpleType>
                                    <xs:restriction base="xs:string" xmlns="">
                                        <xs:maxLength value="10"/>
                                    </xs:restriction>
                                </xs:simpleType>
                            </xs:element>
                            <xs:element nillable="true" minOccurs="0" maxOccurs="unbounded" name="DigitalAccount">
                                <xs:simpleType>
                                    <xs:restriction base="xs:string" xmlns="">
                                        <xs:maxLength value="40"/>
                                    </xs:restriction>
                                </xs:simpleType>
                            </xs:element>
                            <xs:element nillable="true" minOccurs="0" maxOccurs="unbounded" name="MKT_AgreementOrigin">
                                <xs:simpleType>
                                    <xs:restriction base="xs:string" xmlns="">
                                        <xs:maxLength value="30"/>
                                    </xs:restriction>
                                </xs:simpleType>
                            </xs:element>
                            <xs:element nillable="true" minOccurs="0" maxOccurs="unbounded" name="MKT_AgreementExternalID">
                                <xs:simpleType>
                                    <xs:restriction base="xs:string" xmlns="">
                                        <xs:maxLength value="80"/>
                                    </xs:restriction>
                                </xs:simpleType>
                            </xs:element>
                            <xs:element type="xs:int" nillable="true" minOccurs="0" maxOccurs="unbounded" name="CampaignContent" xmlns=""/>
                            <xs:element type="xs:short" nillable="true" minOccurs="0" maxOccurs="unbounded" name="InteractionWeightingFactor" xmlns=""/>
                            <xs:element type="xs:short" nillable="true" minOccurs="0" maxOccurs="unbounded" name="InteractionSentimentValue" xmlns=""/>
                            <xs:element nillable="true" minOccurs="0" maxOccurs="unbounded" name="InteractionStatus">
                                <xs:simpleType>
                                    <xs:restriction base="xs:string" xmlns="">
                                        <xs:maxLength value="2"/>
                                    </xs:restriction>
                                </xs:simpleType>
                            </xs:element>
                            <xs:element nillable="true" minOccurs="0" maxOccurs="unbounded" name="InteractionReason">
                                <xs:simpleType>
                                    <xs:restriction base="xs:string" xmlns="">
                                        <xs:maxLength value="40"/>
                                    </xs:restriction>
                                </xs:simpleType>
                            </xs:element>
                            <xs:element nillable="true" minOccurs="0" maxOccurs="unbounded" name="InteractionLanguage">
                                <xs:simpleType>
                                    <xs:restriction base="xs:string" xmlns="">
                                        <xs:maxLength value="2"/>
                                    </xs:restriction>
                                </xs:simpleType>
                            </xs:element>
                            <xs:element type="xs:boolean" nillable="true" minOccurs="0" maxOccurs="unbounded" name="InteractionIsAnonymous" xmlns=""/>
                            <xs:element type="xs:decimal" nillable="true" minOccurs="0" maxOccurs="unbounded" name="InteractionAmount" xmlns=""/>
                            <xs:element nillable="true" minOccurs="0" maxOccurs="unbounded" name="InteractionCurrency">
                                <xs:simpleType>
                                    <xs:restriction base="xs:string" xmlns="">
                                        <xs:maxLength value="3"/>
                                    </xs:restriction>
                                </xs:simpleType>
                            </xs:element>
                            <xs:element type="xs:decimal" nillable="true" minOccurs="0" maxOccurs="unbounded" name="InteractionLatitude" xmlns=""/>
                            <xs:element type="xs:decimal" nillable="true" minOccurs="0" maxOccurs="unbounded" name="InteractionLongitude" xmlns=""/>
                            <xs:element nillable="true" minOccurs="0" maxOccurs="unbounded" name="SpatialReferenceSystem">
                                <xs:simpleType>
                                    <xs:restriction base="xs:string" xmlns="">
                                        <xs:maxLength value="10"/>
                                    </xs:restriction>
                                </xs:simpleType>
                            </xs:element>
                            <xs:element nillable="true" minOccurs="0" maxOccurs="unbounded" name="DeviceType">
                                <xs:simpleType>
                                    <xs:restriction base="xs:string" xmlns="">
                                        <xs:maxLength value="60"/>
                                    </xs:restriction>
                                </xs:simpleType>
                            </xs:element>
                            <xs:element nillable="true" minOccurs="0" maxOccurs="unbounded" name="InteractionDeviceName">
                                <xs:simpleType>
                                    <xs:restriction base="xs:string" xmlns="">
                                        <xs:maxLength value="80"/>
                                    </xs:restriction>
                                </xs:simpleType>
                            </xs:element>
                            <xs:element type="xs:string" nillable="true" minOccurs="0" maxOccurs="unbounded" name="PrecedingInteractionUUID" xmlns=""/>
                            <xs:element type="xs:int" nillable="true" minOccurs="0" maxOccurs="unbounded" name="InteractionProcessingDuration" xmlns=""/>
                            <xs:element nillable="true" minOccurs="0" maxOccurs="unbounded" name="InteractionPriority">
                                <xs:simpleType>
                                    <xs:restriction base="xs:string" xmlns="">
                                        <xs:maxLength value="1"/>
                                    </xs:restriction>
                                </xs:simpleType>
                            </xs:element>
                            <xs:element nillable="true" minOccurs="0" maxOccurs="unbounded" name="SourceSystemType">
                                <xs:simpleType>
                                    <xs:restriction base="xs:string" xmlns="">
                                        <xs:maxLength value="20"/>
                                    </xs:restriction>
                                </xs:simpleType>
                            </xs:element>
                            <xs:element nillable="true" minOccurs="0" maxOccurs="unbounded" name="SourceSystem">
                                <xs:simpleType>
                                    <xs:restriction base="xs:string" xmlns="">
                                        <xs:maxLength value="255"/>
                                    </xs:restriction>
                                </xs:simpleType>
                            </xs:element>
                            <xs:element nillable="true" minOccurs="0" maxOccurs="unbounded" name="InteractionSourceObjectAddlID">
                                <xs:simpleType>
                                    <xs:restriction base="xs:string" xmlns="">
                                        <xs:maxLength value="50"/>
                                    </xs:restriction>
                                </xs:simpleType>
                            </xs:element>
                            <xs:element nillable="true" minOccurs="0" maxOccurs="unbounded" name="InteractionSourceObjectStatus">
                                <xs:simpleType>
                                    <xs:restriction base="xs:string" xmlns="">
                                        <xs:maxLength value="10"/>
                                    </xs:restriction>
                                </xs:simpleType>
                            </xs:element>
                            <xs:element type="xs:string" nillable="true" minOccurs="0" maxOccurs="unbounded" name="InteractionSourceDataURL" xmlns=""/>
                            <xs:element type="xs:dateTime" nillable="true" minOccurs="0" maxOccurs="unbounded" name="InteractionSourceTimeStampUTC" xmlns=""/>
                            <xs:element type="xs:string" nillable="true" minOccurs="0" maxOccurs="unbounded" name="CampaignContentLinkURL" xmlns=""/>
                            <xs:element nillable="true" minOccurs="0" maxOccurs="unbounded" name="CampaignContentLinkName">
                                <xs:simpleType>
                                    <xs:restriction base="xs:string" xmlns="">
                                        <xs:maxLength value="255"/>
                                    </xs:restriction>
                                </xs:simpleType>
                            </xs:element>
                            <xs:element nillable="true" minOccurs="0" maxOccurs="unbounded" name="ReferralSource">
                                <xs:simpleType>
                                    <xs:restriction base="xs:string" xmlns="">
                                        <xs:maxLength value="255"/>
                                    </xs:restriction>
                                </xs:simpleType>
                            </xs:element>
                            <xs:element nillable="true" minOccurs="0" maxOccurs="unbounded" name="ReferralSourceCategory">
                                <xs:simpleType>
                                    <xs:restriction base="xs:string" xmlns="">
                                        <xs:maxLength value="50"/>
                                    </xs:restriction>
                                </xs:simpleType>
                            </xs:element>
                            <xs:element type="xs:string" nillable="true" minOccurs="0" maxOccurs="unbounded" name="InteractionContactUUID" xmlns=""/>
                            <xs:element nillable="true" minOccurs="0" maxOccurs="unbounded" name="InteractionContentSubject">
                                <xs:simpleType>
                                    <xs:restriction base="xs:string" xmlns="">
                                        <xs:maxLength value="255"/>
                                    </xs:restriction>
                                </xs:simpleType>
                            </xs:element>
                            <xs:element type="xs:string" nillable="true" minOccurs="0" maxOccurs="unbounded" name="InteractionContent" xmlns=""/>
                            <xs:element nillable="true" minOccurs="0" maxOccurs="unbounded" name="InteractionInterests">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element minOccurs="0" maxOccurs="unbounded" name="InteractionInterest">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element type="xs:string" nillable="false" maxOccurs="unbounded" name="InteractionInterestUUID" xmlns=""/>
                                                    <xs:element type="xs:string" nillable="true" minOccurs="0" maxOccurs="unbounded" name="InteractionUUID" xmlns=""/>
                                                    <xs:element nillable="true" minOccurs="0" maxOccurs="unbounded" name="ItemOfInterest">
                                                        <xs:simpleType>
                                                            <xs:restriction base="xs:string" xmlns="">
                                                                <xs:maxLength value="40"/>
                                                            </xs:restriction>
                                                        </xs:simpleType>
                                                    </xs:element>
                                                    <xs:element type="xs:short" nillable="true" minOccurs="0" maxOccurs="unbounded" name="InteractionIntrstWeightingFctr" xmlns=""/>
                                                    <xs:element type="xs:short" nillable="true" minOccurs="0" maxOccurs="unbounded" name="InteractionIntrstSentimentVal" xmlns=""/>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element nillable="true" minOccurs="0" maxOccurs="unbounded" name="InteractionProductCategories">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element minOccurs="0" maxOccurs="unbounded" name="InteractionProductCategory">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element type="xs:string" nillable="false" maxOccurs="unbounded" name="InteractionProductCategoryUUID" xmlns=""/>
                                                    <xs:element type="xs:string" nillable="true" minOccurs="0" maxOccurs="unbounded" name="InteractionUUID" xmlns=""/>
                                                    <xs:element type="xs:string" nillable="true" minOccurs="0" maxOccurs="unbounded" name="ProductCategoryUUID" xmlns=""/>
                                                    <xs:element nillable="true" minOccurs="0" maxOccurs="unbounded" name="ProductCategoryHierarchy">
                                                        <xs:simpleType>
                                                            <xs:restriction base="xs:string" xmlns="">
                                                                <xs:maxLength value="50"/>
                                                            </xs:restriction>
                                                        </xs:simpleType>
                                                    </xs:element>
                                                    <xs:element nillable="true" minOccurs="0" maxOccurs="unbounded" name="ProductCategory">
                                                        <xs:simpleType>
                                                            <xs:restriction base="xs:string" xmlns="">
                                                                <xs:maxLength value="50"/>
                                                            </xs:restriction>
                                                        </xs:simpleType>
                                                    </xs:element>
                                                    <xs:element type="xs:short" nillable="true" minOccurs="0" maxOccurs="unbounded" name="IntactnProdCatWeightingFctr" xmlns=""/>
                                                    <xs:element type="xs:short" nillable="true" minOccurs="0" maxOccurs="unbounded" name="InteractionProdCatSentimentVal" xmlns=""/>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element nillable="true" minOccurs="0" maxOccurs="unbounded" name="InteractionDigitalAssets">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element minOccurs="0" maxOccurs="unbounded" name="InteractionDigitalAsset">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element type="xs:string" nillable="false" maxOccurs="unbounded" name="InteractionDigitalAssetUUID" xmlns=""/>
                                                    <xs:element type="xs:string" nillable="true" minOccurs="0" maxOccurs="unbounded" name="InteractionUUID" xmlns=""/>
                                                    <xs:element nillable="true" minOccurs="0" maxOccurs="unbounded" name="SourceSystem">
                                                        <xs:simpleType>
                                                            <xs:restriction base="xs:string" xmlns="">
                                                                <xs:maxLength value="255"/>
                                                            </xs:restriction>
                                                        </xs:simpleType>
                                                    </xs:element>
                                                    <xs:element nillable="true" minOccurs="0" maxOccurs="unbounded" name="DigitalAsset">
                                                        <xs:simpleType>
                                                            <xs:restriction base="xs:string" xmlns="">
                                                                <xs:maxLength value="50"/>
                                                            </xs:restriction>
                                                        </xs:simpleType>
                                                    </xs:element>
                                                    <xs:element nillable="true" minOccurs="0" maxOccurs="unbounded" name="DigitalAssetName">
                                                        <xs:simpleType>
                                                            <xs:restriction base="xs:string" xmlns="">
                                                                <xs:maxLength value="120"/>
                                                            </xs:restriction>
                                                        </xs:simpleType>
                                                    </xs:element>
                                                    <xs:element nillable="true" minOccurs="0" maxOccurs="unbounded" name="DigitalAssetMimeType">
                                                        <xs:simpleType>
                                                            <xs:restriction base="xs:string" xmlns="">
                                                                <xs:maxLength value="256"/>
                                                            </xs:restriction>
                                                        </xs:simpleType>
                                                    </xs:element>
                                                    <xs:element nillable="true" minOccurs="0" maxOccurs="unbounded" name="DigitalAssetURL">
                                                        <xs:simpleType>
                                                            <xs:restriction base="xs:string" xmlns="">
                                                                <xs:maxLength value="1333"/>
                                                            </xs:restriction>
                                                        </xs:simpleType>
                                                    </xs:element>
                                                    <xs:element nillable="true" minOccurs="0" maxOccurs="unbounded" name="CampaignID">
                                                        <xs:simpleType>
                                                            <xs:restriction base="xs:string" xmlns="">
                                                                <xs:maxLength value="10"/>
                                                            </xs:restriction>
                                                        </xs:simpleType>
                                                    </xs:element>
                                                    <xs:element type="xs:short" nillable="true" minOccurs="0" maxOccurs="unbounded" name="IntactnDgtlAssetWeightingFctr" xmlns=""/>
                                                    <xs:element type="xs:short" nillable="true" minOccurs="0" maxOccurs="unbounded" name="IntactnDgtlAssetSentimentVal" xmlns=""/>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element nillable="true" minOccurs="0" maxOccurs="unbounded" name="InteractionEvents">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element minOccurs="0" maxOccurs="unbounded" name="InteractionEvent">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element type="xs:string" nillable="false" maxOccurs="unbounded" name="InteractionEventUUID" xmlns=""/>
                                                    <xs:element type="xs:string" nillable="true" minOccurs="0" maxOccurs="unbounded" name="InteractionUUID" xmlns=""/>
                                                    <xs:element type="xs:string" nillable="true" minOccurs="0" maxOccurs="unbounded" name="MktgEventUUID" xmlns=""/>
                                                    <xs:element nillable="true" minOccurs="0" maxOccurs="unbounded" name="MktgEventAttendanceType">
                                                        <xs:simpleType>
                                                            <xs:restriction base="xs:string" xmlns="">
                                                                <xs:maxLength value="2"/>
                                                            </xs:restriction>
                                                        </xs:simpleType>
                                                    </xs:element>
                                                    <xs:element nillable="true" minOccurs="0" maxOccurs="unbounded" name="MktgEventExternalId">
                                                        <xs:simpleType>
                                                            <xs:restriction base="xs:string" xmlns="">
                                                                <xs:maxLength value="255"/>
                                                            </xs:restriction>
                                                        </xs:simpleType>
                                                    </xs:element>
                                                    <xs:element nillable="true" minOccurs="0" maxOccurs="unbounded" name="MktgEventProvider">
                                                        <xs:simpleType>
                                                            <xs:restriction base="xs:string" xmlns="">
                                                                <xs:maxLength value="50"/>
                                                            </xs:restriction>
                                                        </xs:simpleType>
                                                    </xs:element>
                                                    <xs:element nillable="true" minOccurs="0" maxOccurs="unbounded" name="MktgEventProviderAccount">
                                                        <xs:simpleType>
                                                            <xs:restriction base="xs:string" xmlns="">
                                                                <xs:maxLength value="50"/>
                                                            </xs:restriction>
                                                        </xs:simpleType>
                                                    </xs:element>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element nillable="true" minOccurs="0" maxOccurs="unbounded" name="InteractionAdditionalObjects">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element minOccurs="0" maxOccurs="unbounded" name="InteractionAdditionalObject">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element type="xs:string" nillable="false" maxOccurs="unbounded" name="InteractionAdditionalObjUUID" xmlns=""/>
                                                    <xs:element type="xs:string" nillable="true" minOccurs="0" maxOccurs="unbounded" name="InteractionUUID" xmlns=""/>
                                                    <xs:element nillable="true" minOccurs="0" maxOccurs="unbounded" name="MarketingObjectType">
                                                        <xs:simpleType>
                                                            <xs:restriction base="xs:string" xmlns="">
                                                                <xs:maxLength value="30"/>
                                                            </xs:restriction>
                                                        </xs:simpleType>
                                                    </xs:element>
                                                    <xs:element nillable="true" minOccurs="0" maxOccurs="unbounded" name="MarketingObject">
                                                        <xs:simpleType>
                                                            <xs:restriction base="xs:string" xmlns="">
                                                                <xs:maxLength value="50"/>
                                                            </xs:restriction>
                                                        </xs:simpleType>
                                                    </xs:element>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element nillable="true" minOccurs="0" maxOccurs="unbounded" name="InteractionLoyaltyPrograms">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element minOccurs="0" maxOccurs="unbounded" name="InteractionLoyaltyProgram">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element type="xs:string" nillable="false" maxOccurs="unbounded" name="InteractionLoyaltyUUID" xmlns=""/>
                                                    <xs:element type="xs:string" nillable="true" minOccurs="0" maxOccurs="unbounded" name="InteractionUUID" xmlns=""/>
                                                    <xs:element nillable="true" minOccurs="0" maxOccurs="unbounded" name="ActivitySubtype">
                                                        <xs:simpleType>
                                                            <xs:restriction base="xs:string" xmlns="">
                                                                <xs:maxLength value="255"/>
                                                            </xs:restriction>
                                                        </xs:simpleType>
                                                    </xs:element>
                                                    <xs:element type="xs:decimal" nillable="true" minOccurs="0" maxOccurs="unbounded" name="AccruedPoints" xmlns=""/>
                                                    <xs:element type="xs:decimal" nillable="true" minOccurs="0" maxOccurs="unbounded" name="RedeemedPoints" xmlns=""/>
                                                    <xs:element type="xs:decimal" nillable="true" minOccurs="0" maxOccurs="unbounded" name="QualifyingPoints" xmlns=""/>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element nillable="true" minOccurs="0" maxOccurs="unbounded" name="InteractionAdditionalInteractionContacts">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element minOccurs="0" maxOccurs="unbounded" name="InteractionAdditionalInteractionContact">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element type="xs:string" nillable="false" maxOccurs="unbounded" name="InteractionAdditionalIntactnContactUUID" xmlns=""/>
                                                    <xs:element type="xs:string" nillable="true" minOccurs="0" maxOccurs="unbounded" name="InteractionUUID" xmlns=""/>
                                                    <xs:element nillable="true" minOccurs="0" maxOccurs="unbounded" name="InteractionContactOrigin">
                                                        <xs:simpleType>
                                                            <xs:restriction base="xs:string" xmlns="">
                                                                <xs:maxLength value="20"/>
                                                            </xs:restriction>
                                                        </xs:simpleType>
                                                    </xs:element>
                                                    <xs:element nillable="true" minOccurs="0" maxOccurs="unbounded" name="InteractionContactId">
                                                        <xs:simpleType>
                                                            <xs:restriction base="xs:string" xmlns="">
                                                                <xs:maxLength value="255"/>
                                                            </xs:restriction>
                                                        </xs:simpleType>
                                                    </xs:element>
                                                    <xs:element type="xs:string" nillable="true" minOccurs="0" maxOccurs="unbounded" name="InteractionContactUUID" xmlns=""/>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element nillable="true" minOccurs="0" maxOccurs="unbounded" name="InteractionOffers">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element minOccurs="0" maxOccurs="unbounded" name="InteractionOffer">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element type="xs:string" nillable="false" maxOccurs="unbounded" name="InteractionOfferUUID" xmlns=""/>
                                                    <xs:element type="xs:string" nillable="true" minOccurs="0" maxOccurs="unbounded" name="InteractionUUID" xmlns=""/>
                                                    <xs:element nillable="true" minOccurs="0" maxOccurs="unbounded" name="ExternalOfferOrigin">
                                                        <xs:simpleType>
                                                            <xs:restriction base="xs:string" xmlns="">
                                                                <xs:maxLength value="30"/>
                                                            </xs:restriction>
                                                        </xs:simpleType>
                                                    </xs:element>
                                                    <xs:element nillable="true" minOccurs="0" maxOccurs="unbounded" name="ExternalOffer">
                                                        <xs:simpleType>
                                                            <xs:restriction base="xs:string" xmlns="">
                                                                <xs:maxLength value="60"/>
                                                            </xs:restriction>
                                                        </xs:simpleType>
                                                    </xs:element>
                                                    <xs:element nillable="true" minOccurs="0" maxOccurs="unbounded" name="MarketingOffer">
                                                        <xs:simpleType>
                                                            <xs:restriction base="xs:string" xmlns="">
                                                                <xs:maxLength value="10"/>
                                                            </xs:restriction>
                                                        </xs:simpleType>
                                                    </xs:element>
                                                    <xs:element nillable="true" minOccurs="0" maxOccurs="unbounded" name="MarketingOfferContent">
                                                        <xs:simpleType>
                                                            <xs:restriction base="xs:string" xmlns="">
                                                                <xs:maxLength value="5"/>
                                                            </xs:restriction>
                                                        </xs:simpleType>
                                                    </xs:element>
                                                    <xs:element nillable="true" minOccurs="0" maxOccurs="unbounded" name="OfferRecommendationScenario">
                                                        <xs:simpleType>
                                                            <xs:restriction base="xs:string" xmlns="">
                                                                <xs:maxLength value="50"/>
                                                            </xs:restriction>
                                                        </xs:simpleType>
                                                    </xs:element>
                                                    <xs:element nillable="true" minOccurs="0" maxOccurs="unbounded" name="Coupon">
                                                        <xs:simpleType>
                                                            <xs:restriction base="xs:string" xmlns="">
                                                                <xs:maxLength value="32"/>
                                                            </xs:restriction>
                                                        </xs:simpleType>
                                                    </xs:element>
                                                    <xs:element nillable="true" minOccurs="0" maxOccurs="unbounded" name="CouponCodeType">
                                                        <xs:simpleType>
                                                            <xs:restriction base="xs:string" xmlns="">
                                                                <xs:maxLength value="1"/>
                                                            </xs:restriction>
                                                        </xs:simpleType>
                                                    </xs:element>
                                                    <xs:element nillable="true" minOccurs="0" maxOccurs="unbounded" name="CouponCode">
                                                        <xs:simpleType>
                                                            <xs:restriction base="xs:string" xmlns="">
                                                                <xs:maxLength value="128"/>
                                                            </xs:restriction>
                                                        </xs:simpleType>
                                                    </xs:element>
                                                    <xs:element type="xs:int" nillable="true" minOccurs="0" maxOccurs="unbounded" name="NumberOfRedemption" xmlns=""/>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element nillable="true" minOccurs="0" maxOccurs="unbounded" name="InteractionProducts">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element minOccurs="0" maxOccurs="unbounded" name="InteractionProduct">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element type="xs:string" nillable="false" maxOccurs="unbounded" name="InteractionProductUUID" xmlns=""/>
                                                    <xs:element type="xs:string" nillable="true" minOccurs="0" maxOccurs="unbounded" name="InteractionUUID" xmlns=""/>
                                                    <xs:element type="xs:string" nillable="true" minOccurs="0" maxOccurs="unbounded" name="ProductUUID" xmlns=""/>
                                                    <xs:element nillable="true" minOccurs="0" maxOccurs="unbounded" name="ProductOrigin">
                                                        <xs:simpleType>
                                                            <xs:restriction base="xs:string" xmlns="">
                                                                <xs:maxLength value="30"/>
                                                            </xs:restriction>
                                                        </xs:simpleType>
                                                    </xs:element>
                                                    <xs:element nillable="true" minOccurs="0" maxOccurs="unbounded" name="Product">
                                                        <xs:simpleType>
                                                            <xs:restriction base="xs:string" xmlns="">
                                                                <xs:maxLength value="50"/>
                                                            </xs:restriction>
                                                        </xs:simpleType>
                                                    </xs:element>
                                                    <xs:element type="xs:short" nillable="true" minOccurs="0" maxOccurs="unbounded" name="InteractionProdWeightingFactor" xmlns=""/>
                                                    <xs:element type="xs:short" nillable="true" minOccurs="0" maxOccurs="unbounded" name="InteractionProductSentimentVal" xmlns=""/>
                                                    <xs:element type="xs:decimal" nillable="true" minOccurs="0" maxOccurs="unbounded" name="InteractionProductAmount" xmlns=""/>
                                                    <xs:element nillable="true" minOccurs="0" maxOccurs="unbounded" name="InteractionCurrency">
                                                        <xs:simpleType>
                                                            <xs:restriction base="xs:string" xmlns="">
                                                                <xs:maxLength value="3"/>
                                                            </xs:restriction>
                                                        </xs:simpleType>
                                                    </xs:element>
                                                    <xs:element type="xs:decimal" nillable="true" minOccurs="0" maxOccurs="unbounded" name="InteractionProductQuantity" xmlns=""/>
                                                    <xs:element nillable="true" minOccurs="0" maxOccurs="unbounded" name="InteractionProductUnit">
                                                        <xs:simpleType>
                                                            <xs:restriction base="xs:string" xmlns="">
                                                                <xs:maxLength value="3"/>
                                                            </xs:restriction>
                                                        </xs:simpleType>
                                                    </xs:element>
                                                    <xs:element nillable="true" minOccurs="0" maxOccurs="unbounded" name="ProductRecommendationModelType">
                                                        <xs:simpleType>
                                                            <xs:restriction base="xs:string" xmlns="">
                                                                <xs:maxLength value="30"/>
                                                            </xs:restriction>
                                                        </xs:simpleType>
                                                    </xs:element>
                                                    <xs:element nillable="true" minOccurs="0" maxOccurs="unbounded" name="ProductRecommendationScenario">
                                                        <xs:simpleType>
                                                            <xs:restriction base="xs:string" xmlns="">
                                                                <xs:maxLength value="50"/>
                                                            </xs:restriction>
                                                        </xs:simpleType>
                                                    </xs:element>
                                                    <xs:element nillable="true" minOccurs="0" maxOccurs="unbounded" name="InteractionProductStatus">
                                                        <xs:simpleType>
                                                            <xs:restriction base="xs:string" xmlns="">
                                                                <xs:maxLength value="2"/>
                                                            </xs:restriction>
                                                        </xs:simpleType>
                                                    </xs:element>
                                                    <xs:element nillable="true" minOccurs="0" maxOccurs="unbounded" name="InteractionProductReason">
                                                        <xs:simpleType>
                                                            <xs:restriction base="xs:string" xmlns="">
                                                                <xs:maxLength value="20"/>
                                                            </xs:restriction>
                                                        </xs:simpleType>
                                                    </xs:element>
                                                    <xs:element type="xs:int" nillable="true" minOccurs="0" maxOccurs="unbounded" name="InteractionSourceItemNumber" xmlns=""/>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element nillable="true" minOccurs="0" maxOccurs="unbounded" name="InteractionTags">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element minOccurs="0" maxOccurs="unbounded" name="InteractionTag">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element type="xs:string" nillable="false" maxOccurs="unbounded" name="InteractionTagUUID" xmlns=""/>
                                                    <xs:element type="xs:string" nillable="true" minOccurs="0" maxOccurs="unbounded" name="InteractionUUID" xmlns=""/>
                                                    <xs:element nillable="true" minOccurs="0" maxOccurs="unbounded" name="TagOrigin">
                                                        <xs:simpleType>
                                                            <xs:restriction base="xs:string" xmlns="">
                                                                <xs:maxLength value="20"/>
                                                            </xs:restriction>
                                                        </xs:simpleType>
                                                    </xs:element>
                                                    <xs:element nillable="true" minOccurs="0" maxOccurs="unbounded" name="TagType">
                                                        <xs:simpleType>
                                                            <xs:restriction base="xs:string" xmlns="">
                                                                <xs:maxLength value="75"/>
                                                            </xs:restriction>
                                                        </xs:simpleType>
                                                    </xs:element>
                                                    <xs:element nillable="true" minOccurs="0" maxOccurs="unbounded" name="TagName">
                                                        <xs:simpleType>
                                                            <xs:restriction base="xs:string" xmlns="">
                                                                <xs:maxLength value="200"/>
                                                            </xs:restriction>
                                                        </xs:simpleType>
                                                    </xs:element>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element minOccurs="0" maxOccurs="1" name="link">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element nillable="true" minOccurs="0" maxOccurs="unbounded" name="InteractionInterests">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element minOccurs="0" maxOccurs="unbounded" name="InteractionInterest">
                                                        <xs:complexType>
                                                            <xs:sequence>
                                                                <xs:element type="xs:string" minOccurs="1" maxOccurs="1" name="InteractionInterestUUID" xmlns=""/>
                                                            </xs:sequence>
                                                        </xs:complexType>
                                                    </xs:element>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element nillable="true" minOccurs="0" maxOccurs="unbounded" name="InteractionProductCategories">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element minOccurs="0" maxOccurs="unbounded" name="InteractionProductCategory">
                                                        <xs:complexType>
                                                            <xs:sequence>
                                                                <xs:element type="xs:string" minOccurs="1" maxOccurs="1" name="InteractionProductCategoryUUID" xmlns=""/>
                                                            </xs:sequence>
                                                        </xs:complexType>
                                                    </xs:element>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element nillable="true" minOccurs="0" maxOccurs="unbounded" name="InteractionDigitalAssets">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element minOccurs="0" maxOccurs="unbounded" name="InteractionDigitalAsset">
                                                        <xs:complexType>
                                                            <xs:sequence>
                                                                <xs:element type="xs:string" minOccurs="1" maxOccurs="1" name="InteractionDigitalAssetUUID" xmlns=""/>
                                                            </xs:sequence>
                                                        </xs:complexType>
                                                    </xs:element>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element nillable="true" minOccurs="0" maxOccurs="unbounded" name="InteractionEvents">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element minOccurs="0" maxOccurs="unbounded" name="InteractionEvent">
                                                        <xs:complexType>
                                                            <xs:sequence>
                                                                <xs:element type="xs:string" minOccurs="1" maxOccurs="1" name="InteractionEventUUID" xmlns=""/>
                                                            </xs:sequence>
                                                        </xs:complexType>
                                                    </xs:element>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element nillable="true" minOccurs="0" maxOccurs="unbounded" name="InteractionAdditionalObjects">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element minOccurs="0" maxOccurs="unbounded" name="InteractionAdditionalObject">
                                                        <xs:complexType>
                                                            <xs:sequence>
                                                                <xs:element type="xs:string" minOccurs="1" maxOccurs="1" name="InteractionAdditionalObjUUID" xmlns=""/>
                                                            </xs:sequence>
                                                        </xs:complexType>
                                                    </xs:element>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element nillable="true" minOccurs="0" maxOccurs="unbounded" name="InteractionLoyaltyPrograms">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element minOccurs="0" maxOccurs="unbounded" name="InteractionLoyaltyProgram">
                                                        <xs:complexType>
                                                            <xs:sequence>
                                                                <xs:element type="xs:string" minOccurs="1" maxOccurs="1" name="InteractionLoyaltyUUID" xmlns=""/>
                                                            </xs:sequence>
                                                        </xs:complexType>
                                                    </xs:element>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element nillable="true" minOccurs="0" maxOccurs="unbounded" name="InteractionAdditionalInteractionContacts">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element minOccurs="0" maxOccurs="unbounded" name="InteractionAdditionalInteractionContact">
                                                        <xs:complexType>
                                                            <xs:sequence>
                                                                <xs:element type="xs:string" minOccurs="1" maxOccurs="1" name="InteractionAdditionalIntactnContactUUID" xmlns=""/>
                                                            </xs:sequence>
                                                        </xs:complexType>
                                                    </xs:element>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element nillable="true" minOccurs="0" maxOccurs="unbounded" name="InteractionOffers">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element minOccurs="0" maxOccurs="unbounded" name="InteractionOffer">
                                                        <xs:complexType>
                                                            <xs:sequence>
                                                                <xs:element type="xs:string" minOccurs="1" maxOccurs="1" name="InteractionOfferUUID" xmlns=""/>
                                                            </xs:sequence>
                                                        </xs:complexType>
                                                    </xs:element>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element nillable="true" minOccurs="0" maxOccurs="unbounded" name="InteractionProducts">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element minOccurs="0" maxOccurs="unbounded" name="InteractionProduct">
                                                        <xs:complexType>
                                                            <xs:sequence>
                                                                <xs:element type="xs:string" minOccurs="1" maxOccurs="1" name="InteractionProductUUID" xmlns=""/>
                                                            </xs:sequence>
                                                        </xs:complexType>
                                                    </xs:element>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element nillable="true" minOccurs="0" maxOccurs="unbounded" name="InteractionTags">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element minOccurs="0" maxOccurs="unbounded" name="InteractionTag">
                                                        <xs:complexType>
                                                            <xs:sequence>
                                                                <xs:element type="xs:string" minOccurs="1" maxOccurs="1" name="InteractionTagUUID" xmlns=""/>
                                                            </xs:sequence>
                                                        </xs:complexType>
                                                    </xs:element>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>
