Resources/schemas/Xsd/New_Zealand_Inland_Revenue_Reporting_for_Payroll - Employment.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
	NAME:		Employment.xsd
	VER:			1.07
	ISSUER:		Inland Revenue Department
	DATE:			20/12/2017
	DESC:			This schema defines the elements and related data types required for the Employment Gateway Service.
-->
<xsd:schema xmlns="urn:www.ird.govt.nz/GWS:types/Employment" xmlns:cmn="urn:www.ird.govt.nz/GWS:types/Common.v1" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:www.ird.govt.nz/GWS:types/Employment" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0">
	<!--Imports-->
	<xsd:import namespace="urn:www.ird.govt.nz/GWS:types/Common.v1" schemaLocation="./Common.v1.xsd">
		<xsd:annotation>
			<xsd:documentation xml:lang="en">Contains common data types.</xsd:documentation>
		</xsd:annotation>
	</xsd:import>
	<!--Root Element Requests/Responses-->
	<xsd:element name="createRequest" type="CreateRequestType"/>
	<xsd:element name="terminateRequest" type="TerminateRequestType"/>
	<xsd:element name="updateRequest" type="UpdateRequestType"/>
	<xsd:element name="retrieveListRequest" type="RetrieveListRequestType"/>
	<xsd:element name="retrieveListResponse" type="RetrieveListResponseType"/>
	<xsd:element name="employmentResponse" type="cmn:StandardResponseType"/>
	<!--Request Structures-->
	<xsd:complexType name="CreateRequestType">
		<xsd:sequence>
			<xsd:element name="header" type="cmn:HeaderType"/>
			<xsd:element name="createBody" type="CreateBodyType"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="UpdateRequestType">
		<xsd:sequence>
			<xsd:element name="header" type="cmn:HeaderType"/>
			<xsd:element name="employeeIdentifier" type="EmployeeIdentifierType"/>
			<xsd:element name="updateBody" type="UpdateBodyType"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="TerminateRequestType">
		<xsd:sequence>
			<xsd:element name="header" type="cmn:HeaderType"/>
			<xsd:element name="employeeIdentifier" type="EmployeeIdentifierType"/>
			<xsd:element name="terminateBody" type="TerminateBodyType"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="RetrieveListRequestType">
		<xsd:sequence>
			<xsd:element name="header" type="cmn:HeaderType"/>
			<xsd:element name="retrieveListBody" type="RetrieveListBodyType"/>
		</xsd:sequence>
	</xsd:complexType>
	<!--Response Structures-->
	<xsd:complexType name="RetrieveListResponseType">
		<xsd:complexContent>
			<xsd:extension base="cmn:StandardResponseType">
				<xsd:sequence>
					<xsd:element name="responseBody" type="ResponseBodyType" minOccurs="0"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="ResponseBodyType">
		<xsd:sequence>
			<xsd:element name="listResponse" type="ListResponseType" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ListResponseType">
		<xsd:sequence>
			<xsd:element name="employee" type="EmployeeDetailType" maxOccurs="100000"/>
		</xsd:sequence>
	</xsd:complexType>
	<!--Complex Types-->
	<xsd:complexType name="CreateBodyType">
		<xsd:annotation>
			<xsd:documentation xml:lang="en">These are the standard fields for creating an employment relation. If not wanting to enroll for Kiwi Saver leave KiwiSaverEligibility blank.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="employeeIRD" type="cmn:IRDNumberType"/>
			<xsd:element name="employeeName" type="NameMandatoryFirstNameType"/>
			<xsd:element name="employeeNameOnEILine" type="NameAsOnEiLineType"/>
			<xsd:element name="taxCodes" type="TaxCodes"/>
			<xsd:element name="employmentStartDate" type="cmn:DateType" minOccurs="0"/>
			<xsd:element name="employmentFinishDate" type="cmn:DateType" minOccurs="0"/>
			<xsd:element name="employeeDateOfBirth" type="cmn:DateType" minOccurs="0"/>
			<xsd:element name="employeeAddress" type="cmn:OpenAddressType" minOccurs="0"/>
			<xsd:element name="employeeEmailAddress" type="cmn:EmailAddressType" minOccurs="0"/>
			<xsd:element name="employeeMobilePhoneNumber" type="cmn:StructuredPhoneNumberType" minOccurs="0"/>
			<xsd:element name="employeeDayPhoneNumber" type="cmn:StructuredPhoneNumberType" minOccurs="0"/>
			<xsd:element name="kiwiSaverStatus" type="KiwiSaverStatusType"/>
			<xsd:element name="employeeKiwiSaverEligibility" type="KiwiSaverEligibilityType" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="UpdateBodyType">
		<xsd:annotation>
			<xsd:documentation xml:lang="en">These are the standard fields for updating an employment relation.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="employeeIRD" type="cmn:IRDNumberType"/>
			<xsd:element name="employeeName" type="NameMandatoryFirstNameType"/>
			<xsd:element name="employeeNameOnEILine" type="NameAsOnEiLineType"/>
			<xsd:element name="employmentStartDate" type="cmn:DateType"/>
			<xsd:element name="employeeDateOfBirth" type="cmn:DateType" minOccurs="0"/>
			<xsd:element name="taxCodes" type="TaxCodes"/>
			<xsd:element name="employeeAddress" type="cmn:OpenAddressType" minOccurs="0"/>
			<xsd:element name="employeeEmailAddress" type="cmn:EmailAddressType" minOccurs="0"/>
			<xsd:element name="employeeMobilePhoneNumber" type="cmn:StructuredPhoneNumberType" minOccurs="0"/>
			<xsd:element name="employeeDayPhoneNumber" type="cmn:StructuredPhoneNumberType" minOccurs="0"/>
			<xsd:element name="kiwiSaverStatus" type="KiwiSaverStatusType"/>
			<xsd:element name="employeeKiwiSaverEligibility" type="KiwiSaverEligibilityType" minOccurs="0"/>
			<xsd:element name="optedOut" type="xsd:boolean" minOccurs="0"/>
			<xsd:element name="employeeBankAccountNumber" type="cmn:BankAccountType" minOccurs="0"/>
			<xsd:element name="accountHolderName" type="cmn:NamePersonType" minOccurs="0"/>
			<xsd:element name="optedOutSignatureDate" type="cmn:DateType" minOccurs="0"/>
			<xsd:element name="validRelationship" type="xsd:boolean"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="TerminateBodyType">
		<xsd:sequence>
			<xsd:element name="employmentFinishDate" type="cmn:DateType"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="RetrieveListBodyType">
		<xsd:sequence>
			<xsd:element name="employeeIRD" type="cmn:IRDNumberType" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="EmployeeDetailType">
		<xsd:sequence>
			<xsd:element name="employeeIRD" type="cmn:IRDNumberType"/>
			<xsd:element name="employeeName" type="ResponseNamePersonType"/>
			<xsd:element name="employeeNameOnEILine" type="NameAsOnEiLineType"/>
			<xsd:element name="taxCodes" type="TaxCodes" minOccurs="0"/>
			<xsd:element name="employeeDateOfBirth" type="cmn:DateType" minOccurs="0"/>
			<xsd:element name="employmentStartDate" type="cmn:DateType" minOccurs="0"/>
			<xsd:element name="employmentFinishDate" type="cmn:DateType" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="EmployeeIdentifierType">
		<xsd:annotation>
			<xsd:documentation xml:lang="en">This type identifies the employment relationship record that is to be updated or terminated. All elements provided will be used to search for the employment relationship.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="employeeIRD" type="cmn:IRDNumberType"/>
			<xsd:element name="employeeNameOnEILine" type="NameAsOnEiLineType"/>
			<xsd:element name="employeeDateOfBirth" type="cmn:DateType" minOccurs="0"/>
			<xsd:element name="employmentStartDate" type="cmn:DateType" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="TaxCodes">
		<xsd:sequence>
			<xsd:element name="taxCode" type="cmn:TaxCodeType" maxOccurs="4"/>
		</xsd:sequence>
	</xsd:complexType>
	<!--Simple Types-->
	<xsd:simpleType name="KiwiSaverStatusType">
		<xsd:annotation>
			<xsd:documentation>
				AK - active KS member
				CH - contribution holiday
				NK - not eligible for KS
				NM - non-member
				OT - opted out
			</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:normalizedString">
			<xsd:minLength value="2"/>
			<xsd:maxLength value="2"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="KiwiSaverEligibilityType">
		<xsd:annotation>
			<xsd:documentation>
				NE - New Employee
				EE - Existing Employee
			</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:normalizedString">
			<xsd:minLength value="2"/>
			<xsd:maxLength value="2"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="NameAsOnEiLineType">
		<xsd:restriction base="xsd:normalizedString">
			<xsd:maxLength value="20"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:complexType name="ResponseNamePersonType">
		<xsd:annotation>
			<xsd:documentation xml:lang="en">Type used to convey the proper name of an individual.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="nameTitle" type="cmn:NameTitleType" minOccurs="0"/>
			<xsd:element name="nameFirst" type="cmn:NameFirstType" minOccurs="0"/>
			<xsd:element name="nameSurname" type="cmn:NameSurnameType" minOccurs="0"/>
			<xsd:element name="nameMiddle" type="cmn:NameMiddleType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation xml:lang="en">If an individual has mutliple middle names only the most significant shoudl be used, or all names should be noted up to the character limit.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="NameMandatoryFirstNameType">
		<xsd:annotation>
			<xsd:documentation xml:lang="en">Type used to convey the proper name of an individual.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="nameTitle" type="cmn:NameTitleType" minOccurs="0"/>
			<xsd:element name="nameFirst" type="cmn:NameFirstType"/>
			<xsd:element name="nameSurname" type="cmn:NameSurnameType" minOccurs="0"/>
			<xsd:element name="nameMiddle" type="cmn:NameMiddleType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation xml:lang="en">If an individual has mutliple middle names only the most significant shoudl be used, or all names should be noted up to the character limit.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
