Resources/schemas/Xsd/Project_Management_Capability_in_SAP_Project_and_Resource_Management_Integration_with_SAP_S-4HANA - GetProjectList.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="RETURN">
    <xs:complexType>
      <xs:sequence>
        <xs:element type="xs:string" name="TYPE"/>
        <xs:element type="xs:string" name="ID"/>
        <xs:element type="xs:byte" name="NUMBER"/>
        <xs:element type="xs:string" name="MESSAGE"/>
        <xs:element type="xs:string" name="LOG_NO"/>
        <xs:element type="xs:byte" name="LOG_MSG_NO"/>
        <xs:element type="xs:string" name="MESSAGE_V1"/>
        <xs:element type="xs:string" name="MESSAGE_V2"/>
        <xs:element type="xs:string" name="MESSAGE_V3"/>
        <xs:element type="xs:string" name="MESSAGE_V4"/>
        <xs:element type="xs:string" name="PARAMETER"/>
        <xs:element type="xs:byte" name="ROW"/>
        <xs:element type="xs:string" name="FIELD"/>
        <xs:element type="xs:string" name="SYSTEM"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DESCRIPTION_RANGE" type="xs:string"/>
  <xs:element name="PROJECT_DEFINITION_LIST">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="item" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="PROJECT_DEFINITION"/>
              <xs:element type="xs:string" name="DESCRIPTION"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PROJECT_DEFINITION_RANGE" type="xs:string"/>
</xs:schema>