Resources/schemas/Xsd/Project_Management_Capability_in_SAP_Project_and_Resource_Management_Integration_with_SAP_S-4HANA - Projects.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:complexType name="Project">
	<xs:sequence>
	  <xs:element name="name" type="xs:string"/>
	  <xs:element name="id" type="xs:string"/>
	  <xs:element name="uniqueId" type="xs:string"/>
	  <xs:element name="url" type="xs:string"/>
	</xs:sequence>
  </xs:complexType>

  
	<xs:element name="Projects">
	  <xs:complexType>
		<xs:sequence>
		  <xs:element name="Project" type="Project" maxOccurs="unbounded"/>
		</xs:sequence>
	  </xs:complexType>
	</xs:element>	

</xs:schema>