Resources/schemas/Xsd/Project_Management_Capability_in_SAP_Project_and_Resource_Management_Integration_with_SAP_S-4HANA - GetProjectDetails.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="PROJECT_DEFINITION_STRU">
    <xs:complexType>
      <xs:sequence>
        <xs:element type="xs:string" name="PROJECT_DEFINITION"/>
        <xs:element type="xs:string" name="DESCRIPTION"/>
        <xs:element type="xs:string" name="MASK_ID"/>
        <xs:element type="xs:byte" name="RESPONSIBLE_NO"/>
        <xs:element type="xs:byte" name="APPLICANT_NO"/>
        <xs:element type="xs:string" name="COMP_CODE"/>
        <xs:element type="xs:byte" name="BUS_AREA"/>
        <xs:element type="xs:string" name="CONTROLLING_AREA"/>
        <xs:element type="xs:string" name="PROFIT_CTR"/>
        <xs:element type="xs:string" name="PROJECT_CURRENCY"/>
        <xs:element type="xs:string" name="PROJECT_CURRENCY_ISO"/>
        <xs:element type="xs:byte" name="NETWORK_ASSIGNMENT"/>
        <xs:element type="xs:date" name="START"/>
        <xs:element type="xs:date" name="FINISH"/>
        <xs:element type="xs:string" name="PLANT"/>
        <xs:element type="xs:string" name="CALENDAR"/>
        <xs:element type="xs:byte" name="PLAN_BASIC"/>
        <xs:element type="xs:byte" name="PLAN_FCST"/>
        <xs:element type="xs:string" name="TIME_UNIT"/>
        <xs:element type="xs:string" name="TIME_UNIT_ISO"/>
        <xs:element type="xs:string" name="NETWORK_PROFILE"/>
        <xs:element type="xs:string" name="PROJECT_PROFILE"/>
        <xs:element type="xs:string" name="BUDGET_PROFILE"/>
        <xs:element type="xs:string" name="PROJECT_STOCK"/>
        <xs:element type="xs:string" name="OBJECTCLASS"/>
        <xs:element type="xs:string" name="STATISTICAL"/>
        <xs:element type="xs:string" name="TAXJURCODE"/>
        <xs:element type="xs:string" name="INT_PROFILE"/>
        <xs:element type="xs:string" name="WBS_SCHED_PROFILE"/>
        <xs:element type="xs:string" name="CSH_BDGT_PROFILE"/>
        <xs:element type="xs:string" name="PLAN_PROFILE"/>
        <xs:element type="xs:string" name="JOINT_VENTURE"/>
        <xs:element type="xs:string" name="RECOVERY_IND"/>
        <xs:element type="xs:string" name="EQUITY_TYPE"/>
        <xs:element type="xs:string" name="JV_OBJECT_TYPE"/>
        <xs:element type="xs:string" name="JV_JIB_CLASS"/>
        <xs:element type="xs:string" name="JV_JIB_SUB_CLASS_A"/>
        <xs:element type="xs:string" name="DELETION_FLAG"/>
        <xs:element type="xs:string" name="OBJECTCLASS_EXT"/>
        <xs:element type="xs:string" name="FUNC_AREA"/>
        <xs:element type="xs:string" name="FUNC_AREA_LONG"/>
        <xs:element type="xs:string" name="SLWID"/>
        <xs:element type="xs:string" name="USR00"/>
        <xs:element type="xs:string" name="USR01"/>
        <xs:element type="xs:string" name="USR02"/>
        <xs:element type="xs:string" name="USR03"/>
        <xs:element type="xs:float" name="USR04"/>
        <xs:element type="xs:string" name="USE04"/>
        <xs:element type="xs:float" name="USR05"/>
        <xs:element type="xs:string" name="USE05"/>
        <xs:element type="xs:float" name="USR06"/>
        <xs:element type="xs:string" name="USE06"/>
        <xs:element type="xs:float" name="USR07"/>
        <xs:element type="xs:string" name="USE07"/>
        <xs:element type="xs:string" name="USR08"/>
        <xs:element type="xs:string" name="USR09"/>
        <xs:element type="xs:string" name="USR10"/>
        <xs:element type="xs:string" name="USR11"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RETURN">
    <xs:complexType>
      <xs:sequence>
        <xs:element type="xs:string" name="TYPE"/>
        <xs:element type="xs:string" name="ID"/>
        <xs:element type="xs:byte" name="NUMBER"/>
        <xs:element type="xs:string" name="MESSAGE"/>
        <xs:element type="xs:string" name="LOG_NO"/>
        <xs:element type="xs:byte" name="LOG_MSG_NO"/>
        <xs:element type="xs:string" name="MESSAGE_V1"/>
        <xs:element type="xs:string" name="MESSAGE_V2"/>
        <xs:element type="xs:string" name="MESSAGE_V3"/>
        <xs:element type="xs:string" name="MESSAGE_V4"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>