Resources/schemas/Xsd/QforIT_Error_Alerting - ErrorMessage.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="ErrorMessage">
		<xs:complexType>
			<xs:sequence>
				<xs:element minOccurs="0" maxOccurs="unbounded" name="ErrorMessage">
					<xs:complexType>
						<xs:sequence>
							<xs:element type="xs:string" nillable="true" minOccurs="0" maxOccurs="unbounded" name="IntegrationFlowName" xmlns=""/>
							<xs:element type="xs:string" nillable="true" minOccurs="0" maxOccurs="unbounded" name="Status" xmlns=""/>
							<xs:element type="xs:string" nillable="true" minOccurs="0" maxOccurs="unbounded" name="ErrorInformation" xmlns=""/>
							<xs:element type="xs:string" nillable="true" minOccurs="0" maxOccurs="unbounded" name="LogStart" xmlns=""/>
							<xs:element type="xs:string" nillable="true" minOccurs="0" maxOccurs="unbounded" name="LogEnd" xmlns=""/>
							<xs:element type="xs:string" nillable="true" minOccurs="0" maxOccurs="unbounded" name="Sender" xmlns=""/>
							<xs:element type="xs:string" nillable="true" minOccurs="0" maxOccurs="unbounded" name="Receiver" xmlns=""/>
							<xs:element type="xs:string" nillable="true" minOccurs="0" maxOccurs="unbounded" name="MessageGuid" xmlns=""/>
							<xs:element type="xs:string" nillable="true" minOccurs="0" maxOccurs="unbounded" name="Priority" xmlns=""/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>