Resources/schemas/Xsd/Sample_Content_for_SAP_Process_Automation_Integration_with_SAP_S-4HANA_Cloud - A_PurchaseRequisitionHeaderEntityPOST.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="A_PurchaseRequisitionHeader">
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="1" maxOccurs="unbounded" name="A_PurchaseRequisitionHeaderType">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element nillable="false" maxOccurs="1" name="PurchaseRequisition">
                                <xs:simpleType>
                                    <xs:restriction base="xs:string" xmlns="">
                                        <xs:maxLength value="10"/>
                                    </xs:restriction>
                                </xs:simpleType>
                            </xs:element>
                            <xs:element nillable="true" minOccurs="0" maxOccurs="1" name="PurchaseRequisitionType">
                                <xs:simpleType>
                                    <xs:restriction base="xs:string" xmlns="">
                                        <xs:maxLength value="4"/>
                                    </xs:restriction>
                                </xs:simpleType>
                            </xs:element>
                            <xs:element nillable="true" minOccurs="0" maxOccurs="1" name="PurReqnDescription">
                                <xs:simpleType>
                                    <xs:restriction base="xs:string" xmlns="">
                                        <xs:maxLength value="40"/>
                                    </xs:restriction>
                                </xs:simpleType>
                            </xs:element>
                            <xs:element type="xs:boolean" nillable="true" minOccurs="0" maxOccurs="1" name="SourceDetermination" xmlns=""/>
                            <xs:element type="xs:boolean" nillable="true" minOccurs="0" maxOccurs="1" name="PurReqnDoOnlyValidation" xmlns=""/>
                            <xs:element nillable="true" minOccurs="0" maxOccurs="unbounded" name="to_PurchaseReqnItem">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element minOccurs="0" maxOccurs="unbounded" name="A_PurchaseRequisitionItemType">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element nillable="false" maxOccurs="1" name="PurchaseRequisition">
                                                        <xs:simpleType>
                                                            <xs:restriction base="xs:string" xmlns="">
                                                                <xs:maxLength value="10"/>
                                                            </xs:restriction>
                                                        </xs:simpleType>
                                                    </xs:element>
                                                    <xs:element nillable="false" maxOccurs="1" name="PurchaseRequisitionItem">
                                                        <xs:simpleType>
                                                            <xs:restriction base="xs:string" xmlns="">
                                                                <xs:maxLength value="5"/>
                                                            </xs:restriction>
                                                        </xs:simpleType>
                                                    </xs:element>
                                                    <xs:element nillable="true" minOccurs="0" maxOccurs="1" name="PurchasingDocument">
                                                        <xs:simpleType>
                                                            <xs:restriction base="xs:string" xmlns="">
                                                                <xs:maxLength value="10"/>
                                                            </xs:restriction>
                                                        </xs:simpleType>
                                                    </xs:element>
                                                    <xs:element nillable="true" minOccurs="0" maxOccurs="1" name="PurchasingDocumentItem">
                                                        <xs:simpleType>
                                                            <xs:restriction base="xs:string" xmlns="">
                                                                <xs:maxLength value="5"/>
                                                            </xs:restriction>
                                                        </xs:simpleType>
                                                    </xs:element>
                                                    <xs:element nillable="true" minOccurs="0" maxOccurs="1" name="PurReqnReleaseStatus">
                                                        <xs:simpleType>
                                                            <xs:restriction base="xs:string" xmlns="">
                                                                <xs:maxLength value="2"/>
                                                            </xs:restriction>
                                                        </xs:simpleType>
                                                    </xs:element>
                                                    <xs:element nillable="true" minOccurs="0" maxOccurs="1" name="PurchaseRequisitionType">
                                                        <xs:simpleType>
                                                            <xs:restriction base="xs:string" xmlns="">
                                                                <xs:maxLength value="4"/>
                                                            </xs:restriction>
                                                        </xs:simpleType>
                                                    </xs:element>
                                                    <xs:element nillable="true" minOccurs="0" maxOccurs="1" name="PurchasingDocumentSubtype">
                                                        <xs:simpleType>
                                                            <xs:restriction base="xs:string" xmlns="">
                                                                <xs:maxLength value="1"/>
                                                            </xs:restriction>
                                                        </xs:simpleType>
                                                    </xs:element>
                                                    <xs:element nillable="true" minOccurs="0" maxOccurs="1" name="PurchasingDocumentItemCategory">
                                                        <xs:simpleType>
                                                            <xs:restriction base="xs:string" xmlns="">
                                                                <xs:maxLength value="1"/>
                                                            </xs:restriction>
                                                        </xs:simpleType>
                                                    </xs:element>
                                                    <xs:element nillable="true" minOccurs="0" maxOccurs="1" name="PurchaseRequisitionItemText">
                                                        <xs:simpleType>
                                                            <xs:restriction base="xs:string" xmlns="">
                                                                <xs:maxLength value="40"/>
                                                            </xs:restriction>
                                                        </xs:simpleType>
                                                    </xs:element>
                                                    <xs:element nillable="true" minOccurs="0" maxOccurs="1" name="AccountAssignmentCategory">
                                                        <xs:simpleType>
                                                            <xs:restriction base="xs:string" xmlns="">
                                                                <xs:maxLength value="1"/>
                                                            </xs:restriction>
                                                        </xs:simpleType>
                                                    </xs:element>
                                                    <xs:element nillable="true" minOccurs="0" maxOccurs="1" name="Material">
                                                        <xs:simpleType>
                                                            <xs:restriction base="xs:string" xmlns="">
                                                                <xs:maxLength value="40"/>
                                                            </xs:restriction>
                                                        </xs:simpleType>
                                                    </xs:element>
                                                    <xs:element nillable="true" minOccurs="0" maxOccurs="1" name="MaterialGroup">
                                                        <xs:simpleType>
                                                            <xs:restriction base="xs:string" xmlns="">
                                                                <xs:maxLength value="9"/>
                                                            </xs:restriction>
                                                        </xs:simpleType>
                                                    </xs:element>
                                                    <xs:element nillable="true" minOccurs="0" maxOccurs="1" name="PurchasingDocumentCategory">
                                                        <xs:simpleType>
                                                            <xs:restriction base="xs:string" xmlns="">
                                                                <xs:maxLength value="1"/>
                                                            </xs:restriction>
                                                        </xs:simpleType>
                                                    </xs:element>
                                                    <xs:element type="xs:decimal" nillable="true" minOccurs="0" maxOccurs="1" name="RequestedQuantity" xmlns=""/>
                                                    <xs:element nillable="true" minOccurs="0" maxOccurs="1" name="BaseUnit">
                                                        <xs:simpleType>
                                                            <xs:restriction base="xs:string" xmlns="">
                                                                <xs:maxLength value="3"/>
                                                            </xs:restriction>
                                                        </xs:simpleType>
                                                    </xs:element>
                                                    <xs:element type="xs:decimal" nillable="true" minOccurs="0" maxOccurs="1" name="PurchaseRequisitionPrice" xmlns=""/>
                                                    <xs:element type="xs:decimal" nillable="true" minOccurs="0" maxOccurs="1" name="PurReqnPriceQuantity" xmlns=""/>
                                                    <xs:element type="xs:decimal" nillable="true" minOccurs="0" maxOccurs="1" name="MaterialGoodsReceiptDuration" xmlns=""/>
                                                    <xs:element nillable="true" minOccurs="0" maxOccurs="1" name="ReleaseCode">
                                                        <xs:simpleType>
                                                            <xs:restriction base="xs:string" xmlns="">
                                                                <xs:maxLength value="1"/>
                                                            </xs:restriction>
                                                        </xs:simpleType>
                                                    </xs:element>
                                                    <xs:element type="xs:dateTime" nillable="true" minOccurs="0" maxOccurs="1" name="PurchaseRequisitionReleaseDate" xmlns=""/>
                                                    <xs:element nillable="true" minOccurs="0" maxOccurs="1" name="PurchasingOrganization">
                                                        <xs:simpleType>
                                                            <xs:restriction base="xs:string" xmlns="">
                                                                <xs:maxLength value="4"/>
                                                            </xs:restriction>
                                                        </xs:simpleType>
                                                    </xs:element>
                                                    <xs:element nillable="true" minOccurs="0" maxOccurs="1" name="PurchasingGroup">
                                                        <xs:simpleType>
                                                            <xs:restriction base="xs:string" xmlns="">
                                                                <xs:maxLength value="3"/>
                                                            </xs:restriction>
                                                        </xs:simpleType>
                                                    </xs:element>
                                                    <xs:element nillable="true" minOccurs="0" maxOccurs="1" name="Plant">
                                                        <xs:simpleType>
                                                            <xs:restriction base="xs:string" xmlns="">
                                                                <xs:maxLength value="4"/>
                                                            </xs:restriction>
                                                        </xs:simpleType>
                                                    </xs:element>
                                                    <xs:element nillable="true" minOccurs="0" maxOccurs="1" name="CompanyCode">
                                                        <xs:simpleType>
                                                            <xs:restriction base="xs:string" xmlns="">
                                                                <xs:maxLength value="4"/>
                                                            </xs:restriction>
                                                        </xs:simpleType>
                                                    </xs:element>
                                                    <xs:element type="xs:boolean" nillable="true" minOccurs="0" maxOccurs="1" name="SourceOfSupplyIsAssigned" xmlns=""/>
                                                    <xs:element nillable="true" minOccurs="0" maxOccurs="1" name="SupplyingPlant">
                                                        <xs:simpleType>
                                                            <xs:restriction base="xs:string" xmlns="">
                                                                <xs:maxLength value="4"/>
                                                            </xs:restriction>
                                                        </xs:simpleType>
                                                    </xs:element>
                                                    <xs:element type="xs:decimal" nillable="true" minOccurs="0" maxOccurs="1" name="OrderedQuantity" xmlns=""/>
                                                    <xs:element type="xs:dateTime" nillable="true" minOccurs="0" maxOccurs="1" name="DeliveryDate" xmlns=""/>
                                                    <xs:element type="xs:dateTime" nillable="true" minOccurs="0" maxOccurs="1" name="CreationDate" xmlns=""/>
                                                    <xs:element nillable="true" minOccurs="0" maxOccurs="1" name="ProcessingStatus">
                                                        <xs:simpleType>
                                                            <xs:restriction base="xs:string" xmlns="">
                                                                <xs:maxLength value="1"/>
                                                            </xs:restriction>
                                                        </xs:simpleType>
                                                    </xs:element>
                                                    <xs:element nillable="true" minOccurs="0" maxOccurs="1" name="ExternalApprovalStatus">
                                                        <xs:simpleType>
                                                            <xs:restriction base="xs:string" xmlns="">
                                                                <xs:maxLength value="1"/>
                                                            </xs:restriction>
                                                        </xs:simpleType>
                                                    </xs:element>
                                                    <xs:element nillable="true" minOccurs="0" maxOccurs="1" name="PurchasingInfoRecord">
                                                        <xs:simpleType>
                                                            <xs:restriction base="xs:string" xmlns="">
                                                                <xs:maxLength value="10"/>
                                                            </xs:restriction>
                                                        </xs:simpleType>
                                                    </xs:element>
                                                    <xs:element nillable="true" minOccurs="0" maxOccurs="1" name="Supplier">
                                                        <xs:simpleType>
                                                            <xs:restriction base="xs:string" xmlns="">
                                                                <xs:maxLength value="10"/>
                                                            </xs:restriction>
                                                        </xs:simpleType>
                                                    </xs:element>
                                                    <xs:element nillable="true" minOccurs="0" maxOccurs="1" name="IsDeleted">
                                                        <xs:simpleType>
                                                            <xs:restriction base="xs:string" xmlns="">
                                                                <xs:maxLength value="1"/>
                                                            </xs:restriction>
                                                        </xs:simpleType>
                                                    </xs:element>
                                                    <xs:element nillable="true" minOccurs="0" maxOccurs="1" name="FixedSupplier">
                                                        <xs:simpleType>
                                                            <xs:restriction base="xs:string" xmlns="">
                                                                <xs:maxLength value="10"/>
                                                            </xs:restriction>
                                                        </xs:simpleType>
                                                    </xs:element>
                                                    <xs:element nillable="true" minOccurs="0" maxOccurs="1" name="RequisitionerName">
                                                        <xs:simpleType>
                                                            <xs:restriction base="xs:string" xmlns="">
                                                                <xs:maxLength value="12"/>
                                                            </xs:restriction>
                                                        </xs:simpleType>
                                                    </xs:element>
                                                    <xs:element nillable="true" minOccurs="0" maxOccurs="1" name="CreatedByUser">
                                                        <xs:simpleType>
                                                            <xs:restriction base="xs:string" xmlns="">
                                                                <xs:maxLength value="12"/>
                                                            </xs:restriction>
                                                        </xs:simpleType>
                                                    </xs:element>
                                                    <xs:element type="xs:dateTime" nillable="true" minOccurs="0" maxOccurs="1" name="PurReqCreationDate" xmlns=""/>
                                                    <xs:element nillable="true" minOccurs="0" maxOccurs="1" name="DeliveryAddressID">
                                                        <xs:simpleType>
                                                            <xs:restriction base="xs:string" xmlns="">
                                                                <xs:maxLength value="10"/>
                                                            </xs:restriction>
                                                        </xs:simpleType>
                                                    </xs:element>
                                                    <xs:element nillable="true" minOccurs="0" maxOccurs="1" name="ManualDeliveryAddressID">
                                                        <xs:simpleType>
                                                            <xs:restriction base="xs:string" xmlns="">
                                                                <xs:maxLength value="10"/>
                                                            </xs:restriction>
                                                        </xs:simpleType>
                                                    </xs:element>
                                                    <xs:element nillable="true" minOccurs="0" maxOccurs="1" name="PurReqnItemCurrency">
                                                        <xs:simpleType>
                                                            <xs:restriction base="xs:string" xmlns="">
                                                                <xs:maxLength value="5"/>
                                                            </xs:restriction>
                                                        </xs:simpleType>
                                                    </xs:element>
                                                    <xs:element type="xs:decimal" nillable="true" minOccurs="0" maxOccurs="1" name="MaterialPlannedDeliveryDurn" xmlns=""/>
                                                    <xs:element nillable="true" minOccurs="0" maxOccurs="1" name="DelivDateCategory">
                                                        <xs:simpleType>
                                                            <xs:restriction base="xs:string" xmlns="">
                                                                <xs:maxLength value="1"/>
                                                            </xs:restriction>
                                                        </xs:simpleType>
                                                    </xs:element>
                                                    <xs:element nillable="true" minOccurs="0" maxOccurs="1" name="MultipleAcctAssgmtDistribution">
                                                        <xs:simpleType>
                                                            <xs:restriction base="xs:string" xmlns="">
                                                                <xs:maxLength value="1"/>
                                                            </xs:restriction>
                                                        </xs:simpleType>
                                                    </xs:element>
                                                    <xs:element nillable="true" minOccurs="0" maxOccurs="1" name="StorageLocation">
                                                        <xs:simpleType>
                                                            <xs:restriction base="xs:string" xmlns="">
                                                                <xs:maxLength value="4"/>
                                                            </xs:restriction>
                                                        </xs:simpleType>
                                                    </xs:element>
                                                    <xs:element nillable="true" minOccurs="0" maxOccurs="1" name="PurReqnSSPRequestor">
                                                        <xs:simpleType>
                                                            <xs:restriction base="xs:string" xmlns="">
                                                                <xs:maxLength value="60"/>
                                                            </xs:restriction>
                                                        </xs:simpleType>
                                                    </xs:element>
                                                    <xs:element nillable="true" minOccurs="0" maxOccurs="1" name="PurReqnSSPAuthor">
                                                        <xs:simpleType>
                                                            <xs:restriction base="xs:string" xmlns="">
                                                                <xs:maxLength value="12"/>
                                                            </xs:restriction>
                                                        </xs:simpleType>
                                                    </xs:element>
                                                    <xs:element nillable="true" minOccurs="0" maxOccurs="1" name="PurchaseContract">
                                                        <xs:simpleType>
                                                            <xs:restriction base="xs:string" xmlns="">
                                                                <xs:maxLength value="10"/>
                                                            </xs:restriction>
                                                        </xs:simpleType>
                                                    </xs:element>
                                                    <xs:element nillable="true" minOccurs="0" maxOccurs="1" name="PurReqnSourceOfSupplyType">
                                                        <xs:simpleType>
                                                            <xs:restriction base="xs:string" xmlns="">
                                                                <xs:maxLength value="1"/>
                                                            </xs:restriction>
                                                        </xs:simpleType>
                                                    </xs:element>
                                                    <xs:element nillable="true" minOccurs="0" maxOccurs="1" name="PurchaseContractItem">
                                                        <xs:simpleType>
                                                            <xs:restriction base="xs:string" xmlns="">
                                                                <xs:maxLength value="5"/>
                                                            </xs:restriction>
                                                        </xs:simpleType>
                                                    </xs:element>
                                                    <xs:element nillable="true" minOccurs="0" maxOccurs="1" name="ConsumptionPosting">
                                                        <xs:simpleType>
                                                            <xs:restriction base="xs:string" xmlns="">
                                                                <xs:maxLength value="1"/>
                                                            </xs:restriction>
                                                        </xs:simpleType>
                                                    </xs:element>
                                                    <xs:element nillable="true" minOccurs="0" maxOccurs="1" name="PurReqnOrigin">
                                                        <xs:simpleType>
                                                            <xs:restriction base="xs:string" xmlns="">
                                                                <xs:maxLength value="1"/>
                                                            </xs:restriction>
                                                        </xs:simpleType>
                                                    </xs:element>
                                                    <xs:element nillable="true" minOccurs="0" maxOccurs="1" name="PurReqnSSPCatalog">
                                                        <xs:simpleType>
                                                            <xs:restriction base="xs:string" xmlns="">
                                                                <xs:maxLength value="20"/>
                                                            </xs:restriction>
                                                        </xs:simpleType>
                                                    </xs:element>
                                                    <xs:element nillable="true" minOccurs="0" maxOccurs="1" name="PurReqnSSPCatalogItem">
                                                        <xs:simpleType>
                                                            <xs:restriction base="xs:string" xmlns="">
                                                                <xs:maxLength value="40"/>
                                                            </xs:restriction>
                                                        </xs:simpleType>
                                                    </xs:element>
                                                    <xs:element type="xs:int" nillable="true" minOccurs="0" maxOccurs="1" name="PurReqnSSPCrossCatalogItem" xmlns=""/>
                                                    <xs:element nillable="true" minOccurs="0" maxOccurs="1" name="IsPurReqnBlocked">
                                                        <xs:simpleType>
                                                            <xs:restriction base="xs:string" xmlns="">
                                                                <xs:maxLength value="1"/>
                                                            </xs:restriction>
                                                        </xs:simpleType>
                                                    </xs:element>
                                                    <xs:element nillable="true" minOccurs="0" maxOccurs="1" name="ItemDeliveryAddressID">
                                                        <xs:simpleType>
                                                            <xs:restriction base="xs:string" xmlns="">
                                                                <xs:maxLength value="10"/>
                                                            </xs:restriction>
                                                        </xs:simpleType>
                                                    </xs:element>
                                                    <xs:element nillable="true" minOccurs="0" maxOccurs="1" name="Language">
                                                        <xs:simpleType>
                                                            <xs:restriction base="xs:string" xmlns="">
                                                                <xs:maxLength value="2"/>
                                                            </xs:restriction>
                                                        </xs:simpleType>
                                                    </xs:element>
                                                    <xs:element type="xs:boolean" nillable="true" minOccurs="0" maxOccurs="1" name="IsClosed" xmlns=""/>
                                                    <xs:element type="xs:boolean" nillable="true" minOccurs="0" maxOccurs="1" name="ReleaseIsNotCompleted" xmlns=""/>
                                                    <xs:element nillable="true" minOccurs="0" maxOccurs="1" name="ServicePerformer">
                                                        <xs:simpleType>
                                                            <xs:restriction base="xs:string" xmlns="">
                                                                <xs:maxLength value="10"/>
                                                            </xs:restriction>
                                                        </xs:simpleType>
                                                    </xs:element>
                                                    <xs:element nillable="true" minOccurs="0" maxOccurs="1" name="ProductType">
                                                        <xs:simpleType>
                                                            <xs:restriction base="xs:string" xmlns="">
                                                                <xs:maxLength value="2"/>
                                                            </xs:restriction>
                                                        </xs:simpleType>
                                                    </xs:element>
                                                    <xs:element nillable="true" minOccurs="0" maxOccurs="1" name="PurchaseRequisitionStatus">
                                                        <xs:simpleType>
                                                            <xs:restriction base="xs:string" xmlns="">
                                                                <xs:maxLength value="8"/>
                                                            </xs:restriction>
                                                        </xs:simpleType>
                                                    </xs:element>
                                                    <xs:element nillable="true" minOccurs="0" maxOccurs="1" name="ReleaseStrategy">
                                                        <xs:simpleType>
                                                            <xs:restriction base="xs:string" xmlns="">
                                                                <xs:maxLength value="2"/>
                                                            </xs:restriction>
                                                        </xs:simpleType>
                                                    </xs:element>
                                                    <xs:element type="xs:dateTime" nillable="true" minOccurs="0" maxOccurs="1" name="PerformancePeriodStartDate" xmlns=""/>
                                                    <xs:element type="xs:dateTime" nillable="true" minOccurs="0" maxOccurs="1" name="PerformancePeriodEndDate" xmlns=""/>
                                                    <xs:element nillable="true" minOccurs="0" maxOccurs="1" name="PurchaseOrderPriceType">
                                                        <xs:simpleType>
                                                            <xs:restriction base="xs:string" xmlns="">
                                                                <xs:maxLength value="1"/>
                                                            </xs:restriction>
                                                        </xs:simpleType>
                                                    </xs:element>
                                                    <xs:element nillable="true" minOccurs="0" maxOccurs="1" name="SupplierMaterialNumber">
                                                        <xs:simpleType>
                                                            <xs:restriction base="xs:string" xmlns="">
                                                                <xs:maxLength value="35"/>
                                                            </xs:restriction>
                                                        </xs:simpleType>
                                                    </xs:element>
                                                    <xs:element nillable="true" minOccurs="0" maxOccurs="1" name="Batch">
                                                        <xs:simpleType>
                                                            <xs:restriction base="xs:string" xmlns="">
                                                                <xs:maxLength value="10"/>
                                                            </xs:restriction>
                                                        </xs:simpleType>
                                                    </xs:element>
                                                    <xs:element nillable="true" minOccurs="0" maxOccurs="1" name="MaterialRevisionLevel">
                                                        <xs:simpleType>
                                                            <xs:restriction base="xs:string" xmlns="">
                                                                <xs:maxLength value="2"/>
                                                            </xs:restriction>
                                                        </xs:simpleType>
                                                    </xs:element>
                                                    <xs:element type="xs:decimal" nillable="true" minOccurs="0" maxOccurs="1" name="MinRemainingShelfLife" xmlns=""/>
                                                    <xs:element type="xs:decimal" nillable="true" minOccurs="0" maxOccurs="1" name="ItemNetAmount" xmlns=""/>
                                                    <xs:element type="xs:boolean" nillable="true" minOccurs="0" maxOccurs="1" name="GoodsReceiptIsExpected" xmlns=""/>
                                                    <xs:element type="xs:boolean" nillable="true" minOccurs="0" maxOccurs="1" name="InvoiceIsExpected" xmlns=""/>
                                                    <xs:element type="xs:boolean" nillable="true" minOccurs="0" maxOccurs="1" name="GoodsReceiptIsNonValuated" xmlns=""/>
                                                    <xs:element nillable="true" minOccurs="0" maxOccurs="1" name="RequirementTracking">
                                                        <xs:simpleType>
                                                            <xs:restriction base="xs:string" xmlns="">
                                                                <xs:maxLength value="10"/>
                                                            </xs:restriction>
                                                        </xs:simpleType>
                                                    </xs:element>
                                                    <xs:element nillable="true" minOccurs="0" maxOccurs="1" name="MRPController">
                                                        <xs:simpleType>
                                                            <xs:restriction base="xs:string" xmlns="">
                                                                <xs:maxLength value="3"/>
                                                            </xs:restriction>
                                                        </xs:simpleType>
                                                    </xs:element>
                                                    <xs:element type="xs:boolean" nillable="true" minOccurs="0" maxOccurs="1" name="PurchaseRequisitionIsFixed" xmlns=""/>
                                                    <xs:element nillable="true" minOccurs="0" maxOccurs="1" name="AddressID">
                                                        <xs:simpleType>
                                                            <xs:restriction base="xs:string" xmlns="">
                                                                <xs:maxLength value="10"/>
                                                            </xs:restriction>
                                                        </xs:simpleType>
                                                    </xs:element>
                                                    <xs:element type="xs:dateTime" nillable="true" minOccurs="0" maxOccurs="1" name="LastChangeDateTime" xmlns=""/>
                                                    <xs:element nillable="true" minOccurs="0" maxOccurs="1" name="Reservation">
                                                        <xs:simpleType>
                                                            <xs:restriction base="xs:string" xmlns="">
                                                                <xs:maxLength value="10"/>
                                                            </xs:restriction>
                                                        </xs:simpleType>
                                                    </xs:element>
                                                    <xs:element type="xs:decimal" nillable="true" minOccurs="0" maxOccurs="1" name="ExpectedOverallLimitAmount" xmlns=""/>
                                                    <xs:element type="xs:decimal" nillable="true" minOccurs="0" maxOccurs="1" name="OverallLimitAmount" xmlns=""/>
                                                    <xs:element nillable="true" minOccurs="0" maxOccurs="1" name="PurReqnExternalReference">
                                                        <xs:simpleType>
                                                            <xs:restriction base="xs:string" xmlns="">
                                                                <xs:maxLength value="35"/>
                                                            </xs:restriction>
                                                        </xs:simpleType>
                                                    </xs:element>
                                                    <xs:element nillable="true" minOccurs="0" maxOccurs="1" name="PurReqnItemExternalReference">
                                                        <xs:simpleType>
                                                            <xs:restriction base="xs:string" xmlns="">
                                                                <xs:maxLength value="10"/>
                                                            </xs:restriction>
                                                        </xs:simpleType>
                                                    </xs:element>
                                                    <xs:element nillable="true" minOccurs="0" maxOccurs="1" name="PurReqnExternalSystemId">
                                                        <xs:simpleType>
                                                            <xs:restriction base="xs:string" xmlns="">
                                                                <xs:maxLength value="60"/>
                                                            </xs:restriction>
                                                        </xs:simpleType>
                                                    </xs:element>
                                                    <xs:element nillable="true" minOccurs="0" maxOccurs="1" name="PurReqnExternalSystemType">
                                                        <xs:simpleType>
                                                            <xs:restriction base="xs:string" xmlns="">
                                                                <xs:maxLength value="1"/>
                                                            </xs:restriction>
                                                        </xs:simpleType>
                                                    </xs:element>
                                                    <xs:element nillable="true" minOccurs="0" maxOccurs="1" name="PurReqnTypeExternalReference">
                                                        <xs:simpleType>
                                                            <xs:restriction base="xs:string" xmlns="">
                                                                <xs:maxLength value="4"/>
                                                            </xs:restriction>
                                                        </xs:simpleType>
                                                    </xs:element>
                                                    <xs:element nillable="true" minOccurs="0" maxOccurs="1" name="PurReqnProcessingType">
                                                        <xs:simpleType>
                                                            <xs:restriction base="xs:string" xmlns="">
                                                                <xs:maxLength value="1"/>
                                                            </xs:restriction>
                                                        </xs:simpleType>
                                                    </xs:element>
                                                    <xs:element nillable="true" minOccurs="0" maxOccurs="1" name="PurReqnProcessingDateTime">
                                                        <xs:simpleType>
                                                            <xs:restriction base="xs:string" xmlns="">
                                                                <xs:maxLength value="14"/>
                                                            </xs:restriction>
                                                        </xs:simpleType>
                                                    </xs:element>
                                                    <xs:element nillable="true" minOccurs="0" maxOccurs="1" name="ProcmtHubBackendBusSyst">
                                                        <xs:simpleType>
                                                            <xs:restriction base="xs:string" xmlns="">
                                                                <xs:maxLength value="60"/>
                                                            </xs:restriction>
                                                        </xs:simpleType>
                                                    </xs:element>
                                                    <xs:element nillable="true" minOccurs="0" maxOccurs="1" name="SSPAuthorExternalBPIdnNumber">
                                                        <xs:simpleType>
                                                            <xs:restriction base="xs:string" xmlns="">
                                                                <xs:maxLength value="60"/>
                                                            </xs:restriction>
                                                        </xs:simpleType>
                                                    </xs:element>
                                                    <xs:element nillable="true" minOccurs="0" maxOccurs="1" name="SSPReqrUserId">
                                                        <xs:simpleType>
                                                            <xs:restriction base="xs:string" xmlns="">
                                                                <xs:maxLength value="12"/>
                                                            </xs:restriction>
                                                        </xs:simpleType>
                                                    </xs:element>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element minOccurs="0" maxOccurs="1" name="link">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element nillable="true" minOccurs="0" maxOccurs="unbounded" name="to_PurchaseReqnItem">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element minOccurs="0" maxOccurs="unbounded" name="A_PurchaseRequisitionItemType">
                                                        <xs:complexType>
                                                            <xs:sequence>
                                                                <xs:element type="xs:string" minOccurs="1" maxOccurs="1" name="PurchaseRequisition" xmlns=""/>
                                                                <xs:element type="xs:string" minOccurs="1" maxOccurs="1" name="PurchaseRequisitionItem" xmlns=""/>
                                                            </xs:sequence>
                                                        </xs:complexType>
                                                    </xs:element>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>
