Resources/schemas/Xsd/SAP_Qualtrics_Digital_CX_Integration_with_SAP_Customer_Experience - qualtricsFeedback.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="root">
    <xs:complexType>
      <xs:sequence>
        <xs:element type="xs:string" name="q1"/>
        <xs:element type="xs:string" name="q2"/>
        <xs:element type="xs:string" name="emailId"/>
        <xs:element type="xs:string" name="orderId"/>
        <xs:element type="xs:string" name="baseSite"/>
     </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
