Resources/schemas/Xsd/SAP_Document_and_Reporting_Compliance-_Electronic_Invoicing_of_Public_Entities_for_Spain - SendResponseV1.1.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.example.org/Response_V1" xmlns:tns="http://www.example.org/Response_V1" elementFormDefault="qualified">

    <element name="SendInvoiceResponse"
    	type="tns:SendInvoiceResponseType">
    </element>
    
    <complexType name="SendInvoiceResponseType">
    	<sequence>
    		<element name="Status" type="string"></element>
    		<element name="RegistrationResponse" type="tns:RegistrationResponseType" maxOccurs="1" minOccurs="0"></element>
    		<element name="SignedInvoice" type="base64Binary" maxOccurs="1" minOccurs="1"></element>
    		<element name="FileName" type="string" maxOccurs="1" minOccurs="1"></element>
    		<element name="Error" type="tns:ErrorType" maxOccurs="1" minOccurs="0"></element>
    	</sequence>
    </complexType>

    <complexType name="ErrorType">
    	<sequence>
    		<element name="ErrorCode" type="string"></element>
    		<element name="ErrorText" type="string"></element>
    		<element name="TrackingCode" type="string" maxOccurs="1" minOccurs="0"></element>
    	</sequence>
    </complexType>

    <complexType name="RegistrationResponseType">
    	<sequence>
    		<element name="RegistrationCode" type="string"></element>
    		<element name="ManagementBody" type="string"></element>
    		<element name="ProcessingUnit" type="string"></element>
    		<element name="AccountingOffice" type="string"></element>
    		<element name="IssuerID" type="string"></element>
    		<element name="InvoiceNumber" type="string"></element>
    		<element name="InvoiceSerial" type="string"></element>
    		<element name="ReceiptDate" type="string"></element>
    		<element name="PdfAcknowledgement" type="string"></element>
    	</sequence>
    </complexType>
</schema>