Resources/schemas/Xsd/SAP_Commerce_financial_services_accelerator_integration_with_SAP_for_Insurance - InboundBPID.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="card_payment">
    <xs:complexType>
      <xs:sequence>
          <xs:element name="bp_id" type="xs:string"/>
          <xs:element name="card_no" type="xs:string"/>
          <xs:element name="card_type" type="xs:string"/>
          <xs:element name="card_payment_id" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>