Resources/schemas/Xsd/SAP_Commerce_Cloud_Integration_with_SAP_Master_Data_Integration_for_Products - localIdSchema.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="ID">
    <xs:complexType>
      <xs:sequence>
        <xs:element nillable="false" minOccurs="1" maxOccurs="unbounded" name="value">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="operation"/>
              <xs:element type="xs:string" name="changeToken"/>
              <xs:element type="xs:string" name="previousVersionId"/>
              <xs:element name="localIds" maxOccurs="unbounded" minOccurs="0">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="context">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element type="xs:string" name="application"/>
                          <xs:element type="xs:string" name="tenant"/>
                          <xs:element type="xs:string" name="type"/>
                          <xs:element type="xs:string" name="additionalContext"/>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element type="xs:string" name="localId"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="instance">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:string" name="id"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>