Resources/schemas/Xsd/SAP_Complaint_Handling_Integration_with_Master_Data_and_Business_Objects - plantValidator.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="Plants">
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="1" maxOccurs="unbounded" name="Plants">
                    <xs:complexType>
                        <xs:sequence>
                          
                            <xs:element nillable="true" minOccurs="0" maxOccurs="1" name="plant">
                                <xs:simpleType>
                                    <xs:restriction base="xs:string" xmlns="">
                                    
                                    </xs:restriction>
                                </xs:simpleType>
                            </xs:element>
                            <xs:element nillable="true" minOccurs="0" maxOccurs="1" name="plantName">
                                <xs:simpleType>
                                    <xs:restriction base="xs:string" xmlns="">
                                      
                                    </xs:restriction>
                                </xs:simpleType>
                            </xs:element>
                            <xs:element nillable="true" minOccurs="0" maxOccurs="1" name="plantNameExtension">
                                <xs:simpleType>
                                    <xs:restriction base="xs:string" xmlns="">
                                      
                                    </xs:restriction>
                                </xs:simpleType>
                            </xs:element>
                            <xs:element nillable="true" minOccurs="0" maxOccurs="1" name="companyCode">
                                <xs:simpleType>
                                    <xs:restriction base="xs:string" xmlns="">
                                      
                                    </xs:restriction>
                                </xs:simpleType>
                            </xs:element>
                            <xs:element nillable="true" minOccurs="0" maxOccurs="1" name="customerNoOfPlant">
                                <xs:simpleType>
                                    <xs:restriction base="xs:string" xmlns="">
                                      
                                    </xs:restriction>
                                </xs:simpleType>
                            </xs:element>
                            <xs:element nillable="true" minOccurs="0" maxOccurs="1" name="supplierNoOfPlant">
                                <xs:simpleType>
                                    <xs:restriction base="xs:string" xmlns="">

                                    </xs:restriction>
                                </xs:simpleType>
                            </xs:element>
                   
                            <xs:element nillable="true" minOccurs="0" maxOccurs="1" name="address">
                                <xs:simpleType>
                                    <xs:restriction base="xs:string" xmlns="">
                                      
                                    </xs:restriction>
                                </xs:simpleType>
                            </xs:element>
                            <xs:element nillable="true" minOccurs="0" maxOccurs="1" name="factoryCalendar">
                                <xs:simpleType>
                                    <xs:restriction base="xs:string" xmlns="">
                                    
                                    </xs:restriction>
                                </xs:simpleType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>
