Resources/schemas/Xsd/SAP_Build_Process_Automation_Integration_with_SAP_S-4HANA_for_Authorization_For_Expenditure - XSD - BAPI_PROJECT_MAINTAIN.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="unqualified" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:sap-com:document:sap:rfc:functions">
  <xs:element name="BAPI_PROJECT_MAINTAIN">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="I_PROJECT_DEFINITION">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="PROJECT_DEFINITION" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="I_METHOD_PROJECT">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" name="item">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="REFNUMBER" type="xs:unsignedByte" />
              <xs:element minOccurs="0" name="OBJECTTYPE" type="xs:string" />
              <xs:element name="METHOD" type="xs:string" />
              <xs:element minOccurs="0" name="OBJECTKEY" type="xs:string" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="I_WBS_ELEMENT_TABLE">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" name="item">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="WBS_ELEMENT" type="xs:string" />
              <xs:element name="PROJECT_DEFINITION" type="xs:string" />
              <xs:element name="DESCRIPTION" type="xs:string" />
              <xs:element name="COSTING_SHEET" type="xs:string" />
              <xs:element name="RESPONSIBLE_NO" type="xs:string" minOccurs="0" maxOccurs="1" />
              <xs:element name="COMP_CODE" type="xs:string" minOccurs="0" maxOccurs="1" />
              <xs:element name="CO_AREA" type="xs:string" minOccurs="0" maxOccurs="1"/>
              <xs:element name="PROJ_TYPE" type="xs:string" minOccurs="0" maxOccurs="1"/>
              <xs:element name="WBS_ACCOUNT_ASSIGNMENT_ELEMENT" type="xs:string" minOccurs="0" maxOccurs="1"/>
              <xs:element name="RESPSBL_CCTR_CONTROLLING_AREA" type="xs:string" minOccurs="0" maxOccurs="1"/>
              <xs:element name="RESPSBL_CCTR" type="xs:string" minOccurs="0" maxOccurs="1"/>
              <xs:element name="USER_FIELD_KEY" type="xs:string" minOccurs="0" maxOccurs="1"/>
              <xs:element name="STATISTICAL" type="xs:string" minOccurs="0" maxOccurs="1"/>
              <xs:element name="INT_PROFILE" type="xs:string" minOccurs="0" maxOccurs="1"/>
              <xs:element name="INVEST_PROFILE" type="xs:string" minOccurs="0" maxOccurs="1"/>
              <xs:element name="JOINT_VENTURE" type="xs:string" minOccurs="0" maxOccurs="1"/>
              <xs:element name="RECOVERY_IND" type="xs:string" minOccurs="0" maxOccurs="1"/>
              <xs:element name="EQUITY_TYPE" type="xs:string" minOccurs="0" maxOccurs="1"/>
              <xs:element name="WBS_BASIC_START_DATE" type="xs:date" minOccurs="0" maxOccurs="1"/>
              <xs:element name="WBS_BASIC_FINISH_DATE" type="xs:date" minOccurs="0" maxOccurs="1"/>
              <xs:element name="FUNC_AREA" type="xs:string" minOccurs="0" maxOccurs="1"/>
              <xs:element name="JV_OBJECT_TYPE" type="xs:string" minOccurs="0" maxOccurs="1"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="I_WBS_HIERARCHIE_TABLE">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" name="item">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="WBS_ELEMENT" type="xs:string" />
              <xs:element name="PROJECT_DEFINITION" type="xs:string" />
              <xs:element name="UP" type="xs:string" />
              <xs:element name="DOWN" type="xs:string" />
              <xs:element name="LEFT" />
              <xs:element name="RIGHT" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>