Resources/schemas/Xsd/SAP_Business_One_Master_Data_Transformation_to_SAP_S-4HANA_Cloud_Public_Edition - B1_Customer_XSD.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Customer">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Additional_Addresses" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="BP_Code"/>
              <xs:element type="xs:string" name="Address_Name"/>
              <xs:element type="xs:string" name="Billto_Zip_Code"/>
              <xs:element type="xs:string" name="Telephone_1"/>
              <xs:element type="xs:string" name="Telephone_2"/>
              <xs:element type="xs:string" name="Fax_Number"/>
              <xs:element type="xs:string" name="Mobile_Phone"/>
              <xs:element type="xs:string" name="Billto_City"/>
              <xs:element type="xs:string" name="Billto_Country_Region"/>
              <xs:element type="xs:string" name="EMail"/>
              <xs:element type="xs:string" name="Billto_Building_Floor_Room"/>
              <xs:element type="xs:string" name="Web_Site"/>
              <xs:element type="xs:string" name="Billto_Street_No."/>
              <xs:element type="xs:string" name="Street"/>
              <xs:element type="xs:string" name="State"/>
              <xs:element type="xs:string" name="Address_Type"/>
              <xs:element type="xs:string" name="Address_Name_2"/>
              <xs:element type="xs:string" name="Address_Name_3"/>
              <xs:element type="xs:string" name="Tax_Office"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="Address_Usages" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="Standard"/>
              <xs:element type="xs:string" name="BP_Code"/>
              <xs:element type="xs:string" name="Address_Name"/>
              <xs:element type="xs:string" name="Address_Type"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="Bank_Data" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="BP_Code"/>
              <xs:element type="xs:string" name="Bank_Country"/>
              <xs:element type="xs:string" name="Default_Account"/>
              <xs:element type="xs:string" name="Default_Bank_IBAN"/>
              <xs:element type="xs:string" name="Bank_Code"/>
              <xs:element type="xs:string" name="Bank_Account_Name"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="Company_Data" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="BP_Code"/>
              <xs:element type="xs:string" name="Payment_Block"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="Company_Texts" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="BP_Code"/>
              <xs:element type="xs:string" name="Language"/>
              <xs:element type="xs:string" name="Free_Text"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="Contact_Person" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="BP_Code"/>
              <xs:element type="xs:string" name="Internal_Number"/>
              <xs:element type="xs:string" name="Title"/>
              <xs:element type="xs:string" name="First_Name"/>
              <xs:element type="xs:string" name="Last_Name"/>
              <xs:element type="xs:string" name="Middle_Name"/>
              <xs:element type="xs:string" name="Date_of_Birth"/>
              <xs:element type="xs:string" name="Position"/>
              <xs:element type="xs:string" name="Telephone_1"/>
              <xs:element type="xs:string" name="Mobile_Phone"/>
              <xs:element type="xs:string" name="Fax"/>
              <xs:element type="xs:string" name="EMail"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="General" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="BP_Name"/>
              <xs:element type="xs:string" name="BP_Code"/>
              <xs:element type="xs:string" name="Type_of_Business"/>
              <xs:element type="xs:string" name="Billto_Street"/>
              <xs:element type="xs:string" name="Billto_Zip_Code"/>
              <xs:element type="xs:string" name="Telephone_1"/>
              <xs:element type="xs:string" name="Telephone_2"/>
              <xs:element type="xs:string" name="Fax_Number"/>
              <xs:element type="xs:string" name="Mobile_Phone"/>
              <xs:element type="xs:string" name="Billto_City"/>
              <xs:element type="xs:string" name="Billto_Country_Region"/>
              <xs:element type="xs:string" name="EMail"/>
              <xs:element type="xs:string" name="Foreign_Name"/>
              <xs:element type="xs:string" name="Inactive"/>
              <xs:element type="xs:string" name="Inactive_From"/>
              <xs:element type="xs:string" name="Inactive_To"/>
              <xs:element type="xs:string" name="DME_Identification"/>
              <xs:element type="xs:string" name="Instruction_Key"/>
              <xs:element type="xs:string" name="Alias_Name"/>
              <xs:element type="xs:string" name="Billto_Building_Floor_Room"/>
              <xs:element type="xs:string" name="Web_Site"/>
              <xs:element type="xs:string" name="Billto_Street_No."/>
              <xs:element type="xs:string" name="Place_of_Birth"/>
              <xs:element type="xs:string" name="Date_of_Birth"/>
              <xs:element type="xs:string" name="Gender"/>
              <xs:element type="xs:string" name="Title"/>
              <xs:element type="xs:string" name="First_Name"/>
              <xs:element type="xs:string" name="Middle_Name"/>
              <xs:element type="xs:string" name="Last_Name"/>
              <xs:element type="xs:string" name="Group_Name"/>
              <xs:element type="xs:string" name="LGname"/>
              <xs:element type="xs:string" name="Industry_Name"/>
              <xs:element type="xs:string" name="State"/>
              <xs:element type="xs:string" name="Address_Type"/>
              <xs:element type="xs:string" name="Tax_Office"/>
              <xs:element type="xs:string" name="Attribute_1"/>
              <xs:element type="xs:string" name="Attribute_2"/>
              <xs:element type="xs:string" name="Attribute_3"/>
              <xs:element type="xs:string" name="Attribute_4"/>
              <xs:element type="xs:string" name="Attribute_5"/>
              <xs:element type="xs:string" name="Attribute_6"/>
              <xs:element type="xs:string" name="Attribute_7"/>
              <xs:element type="xs:string" name="Attribute_8"/>
              <xs:element type="xs:string" name="Attribute_9"/>
              <xs:element type="xs:string" name="Attribute_10"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="Identification_Numbers" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="BP_Code"/>
              <xs:element type="xs:string" name="Federal_Tax_ID"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="Industries" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="BP_Code"/>
              <xs:element type="xs:string" name="Industry_Name"/>
              <xs:element type="xs:string" name="Industry_Description"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="Output_Tax" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="BP_Code"/>
              <xs:element type="xs:string" name="Billto_County"/>
              <xs:element type="xs:string" name="Category"/>
              <xs:element type="xs:string" name="Name"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="Sales_Data" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="BP_Code"/>
              <xs:element type="xs:string" name="Group_Name"/>
              <xs:element type="xs:string" name="BP_Currency"/>
              <xs:element type="xs:string" name="Partial_Delivery"/>
              <xs:element type="xs:string" name="Backorder"/>
              <xs:element type="xs:string" name="Intrastat_Incoterms"/>
              <xs:element type="xs:string" name="Payment_Terms_Code"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="Tax_Numbers" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="BP_Code"/>
              <xs:element type="xs:string" name="Category"/>
              <xs:element type="xs:string" name="VAT_ID_Number"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="Withholding_Tax_Data" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="BP_Code"/>
              <xs:element type="xs:string" name="WTax_Code"/>
              <xs:element type="xs:string" name="Subject_to_Withholding_Tax"/>
              <xs:element type="xs:string" name="Certificate_No."/>
              <xs:element type="xs:string" name="Exempt_No."/>
              <xs:element type="xs:string" name="Rate"/>
              <xs:element type="xs:string" name="Expiration_Date"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>