Resources/schemas/Xsd/SAP_Business_ByDesign_Master_Data_to_SAP_S-4HANA_Cloud_Public_Edition - CustomerXSD.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Customer">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="GeneralData" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="KUNNR"/>
              <xs:element type="xs:string" name="BU_GROUP"/>
              <xs:element type="xs:string" name="KTOKD"/>
              <xs:element type="xs:string" name="NAMORG1"/>
              <xs:element type="xs:string" name="NAMORG2"/>
              <xs:element type="xs:string" name="NAMORG3"/>
              <xs:element type="xs:string" name="NAMORG4"/>
              <xs:element type="xs:string" name="ANRED"/>
              <xs:element type="xs:string" name="TITLE_ACA1"/>
              <xs:element type="xs:string" name="NAME_FIRST"/>
              <xs:element type="xs:string" name="NAME_LAST"/>
              <xs:element type="xs:string" name="NAME_MIDDLE"/>
              <xs:element type="xs:string" name="NAME_BIRTH"/>
              <xs:element type="xs:string" name="BU_SEXID"/>
              <xs:element type="xs:string" name="BIRTHDT"/>
              <xs:element type="xs:string" name="BIRTHPL"/>
              <xs:element type="xs:string" name="LANG_CORR_PERS"/>
              <xs:element type="xs:string" name="SORTL"/>
              <xs:element type="xs:string" name="MCOD2"/>
              <xs:element type="xs:string" name="BPKIND"/>
              <xs:element type="xs:string" name="AUGRP_BU"/>
              <xs:element type="xs:string" name="AUGRP_CU"/>
              <xs:element type="xs:string" name="LIFNR"/>
              <xs:element type="xs:string" name="KONZS"/>
              <xs:element type="xs:string" name="NATPERS"/>
              <xs:element type="xs:string" name="VBUND"/>
              <xs:element type="xs:string" name="SUPPRESS_TXJCD"/>
              <xs:element type="xs:string" name="LEGAL_ENTY"/>
              <xs:element type="xs:string" name="LEGAL_ORG"/>
              <xs:element type="xs:string" name="FOUND_DAT"/>
              <xs:element type="xs:string" name="LIQUID_DAT"/>
              <xs:element type="xs:string" name="LOCATION_1"/>
              <xs:element type="xs:string" name="LOCATION_2"/>
              <xs:element type="xs:string" name="LOCATION_3"/>
              <xs:element type="xs:string" name="BAHNE"/>
              <xs:element type="xs:string" name="BAHNS"/>
              <xs:element type="xs:string" name="COUNC"/>
              <xs:element type="xs:string" name="CITYC"/>
              <xs:element type="xs:string" name="BPEXT"/>
              <xs:element type="xs:string" name="DTAMS"/>
              <xs:element type="xs:string" name="DTAWS"/>
              <xs:element type="xs:string" name="KNRZA"/>
              <xs:element type="xs:string" name="NIELS"/>
              <xs:element type="xs:string" name="RPMKR"/>
              <xs:element type="xs:string" name="KUKLA"/>
              <xs:element type="xs:string" name="HZUOR"/>
              <xs:element type="xs:string" name="BRAN1"/>
              <xs:element type="xs:string" name="BRAN2"/>
              <xs:element type="xs:string" name="BRAN3"/>
              <xs:element type="xs:string" name="BRAN4"/>
              <xs:element type="xs:string" name="BRAN5"/>
              <xs:element type="xs:string" name="KATR1"/>
              <xs:element type="xs:string" name="KATR2"/>
              <xs:element type="xs:string" name="KATR3"/>
              <xs:element type="xs:string" name="KATR4"/>
              <xs:element type="xs:string" name="KATR5"/>
              <xs:element type="xs:string" name="KATR6"/>
              <xs:element type="xs:string" name="KATR7"/>
              <xs:element type="xs:string" name="KATR8"/>
              <xs:element type="xs:string" name="KATR9"/>
              <xs:element type="xs:string" name="KATR10"/>
              <xs:element type="xs:string" name="BU_ADEXT"/>
              <xs:element type="xs:string" name="STREET"/>
              <xs:element type="xs:string" name="HOUSE_NUM1"/>
              <xs:element type="xs:string" name="CITY2"/>
              <xs:element type="xs:string" name="HOME_CITY"/>
              <xs:element type="xs:string" name="POST_CODE1"/>
              <xs:element type="xs:string" name="CITY1"/>
              <xs:element type="xs:string" name="COUNTRY"/>
              <xs:element type="xs:string" name="REGION"/>
              <xs:element type="xs:string" name="TIME_ZONE"/>
              <xs:element type="xs:string" name="LZONE"/>
              <xs:element type="xs:string" name="BUILDING"/>
              <xs:element type="xs:string" name="ROOM"/>
              <xs:element type="xs:string" name="FLOOR"/>
              <xs:element type="xs:string" name="CO_NAME"/>
              <xs:element type="xs:string" name="STR_SUPPL1"/>
              <xs:element type="xs:string" name="STR_SUPPL2"/>
              <xs:element type="xs:string" name="HOUSE_NO2"/>
              <xs:element type="xs:string" name="STR_SUPPL3"/>
              <xs:element type="xs:string" name="LOCATION"/>
              <xs:element type="xs:string" name="TXJCD"/>
              <xs:element type="xs:string" name="PO_BOX"/>
              <xs:element type="xs:string" name="POST_CODE2"/>
              <xs:element type="xs:string" name="PO_BOX_LOC"/>
              <xs:element type="xs:string" name="POBOX_CTRY"/>
              <xs:element type="xs:string" name="PO_BOX_REG"/>
              <xs:element type="xs:string" name="POST_CODE3"/>
              <xs:element type="xs:string" name="LANGU_CORR"/>
              <xs:element type="xs:string" name="DEFLT_COMM"/>
              <xs:element type="xs:string" name="LANGU_NOTE"/>
              <xs:element type="xs:string" name="NOTE_ADDRESS"/>
              <xs:element type="xs:string" name="TELNR_LONG"/>
              <xs:element type="xs:string" name="NOTE_TELNR"/>
              <xs:element type="xs:string" name="TELNR_LONG_2"/>
              <xs:element type="xs:string" name="NOTE_TELNR_2"/>
              <xs:element type="xs:string" name="TELNR_LONG_3"/>
              <xs:element type="xs:string" name="NOTE_TELNR_3"/>
              <xs:element type="xs:string" name="MOBILE_LONG"/>
              <xs:element type="xs:string" name="NOTE_MOBILE"/>
              <xs:element type="xs:string" name="MOBILE_LONG_2"/>
              <xs:element type="xs:string" name="NOTE_MOBILE_2"/>
              <xs:element type="xs:string" name="MOBILE_LONG_3"/>
              <xs:element type="xs:string" name="NOTE_MOBILE_3"/>
              <xs:element type="xs:string" name="FAXNR_LONG"/>
              <xs:element type="xs:string" name="NOTE_FAXNR"/>
              <xs:element type="xs:string" name="FAXNR_LONG_2"/>
              <xs:element type="xs:string" name="NOTE_FAXNR_2"/>
              <xs:element type="xs:string" name="FAXNR_LONG_3"/>
              <xs:element type="xs:string" name="NOTE_FAXNR_3"/>
              <xs:element type="xs:string" name="SMTP_ADDR"/>
              <xs:element type="xs:string" name="NOTE_SMTP"/>
              <xs:element type="xs:string" name="SMTP_ADDR_2"/>
              <xs:element type="xs:string" name="NOTE_SMTP_2"/>
              <xs:element type="xs:string" name="SMTP_ADDR_3"/>
              <xs:element type="xs:string" name="NOTE_SMTP_3"/>
              <xs:element type="xs:string" name="URI_TYP"/>
              <xs:element type="xs:string" name="URI_ADDR"/>
              <xs:element type="xs:string" name="NOTE_URI"/>
              <xs:element type="xs:string" name="SPERR"/>
              <xs:element type="xs:string" name="COLLMAN"/>
              <xs:element type="xs:string" name="YY1_BLL1_BUS"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="AdditionalAddresses" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="KUNNR"/>
              <xs:element type="xs:string" name="BU_ADEXT"/>
              <xs:element type="xs:string" name="STREET"/>
              <xs:element type="xs:string" name="HOUSE_NUM1"/>
              <xs:element type="xs:string" name="CITY2"/>
              <xs:element type="xs:string" name="HOME_CITY"/>
              <xs:element type="xs:string" name="POST_CODE1"/>
              <xs:element type="xs:string" name="CITY1"/>
              <xs:element type="xs:string" name="COUNTRY"/>
              <xs:element type="xs:string" name="REGION"/>
              <xs:element type="xs:string" name="TIMEZON"/>
              <xs:element type="xs:string" name="LZONE"/>
              <xs:element type="xs:string" name="BUILDING"/>
              <xs:element type="xs:string" name="ROOM"/>
              <xs:element type="xs:string" name="FLOOR"/>
              <xs:element type="xs:string" name="CO_NAME"/>
              <xs:element type="xs:string" name="STR_SUPPL1"/>
              <xs:element type="xs:string" name="STR_SUPPL2"/>
              <xs:element type="xs:string" name="HOUSE_NO2"/>
              <xs:element type="xs:string" name="STR_SUPPL3"/>
              <xs:element type="xs:string" name="LOCATION"/>
              <xs:element type="xs:string" name="TXJCD"/>
              <xs:element type="xs:string" name="PO_BOX"/>
              <xs:element type="xs:string" name="POST_CODE2"/>
              <xs:element type="xs:string" name="PO_BOX_LOC"/>
              <xs:element type="xs:string" name="POBOX_CTRY"/>
              <xs:element type="xs:string" name="PO_BOX_REG"/>
              <xs:element type="xs:string" name="POST_CODE3"/>
              <xs:element type="xs:string" name="LANGU_CORR"/>
              <xs:element type="xs:string" name="DEFLT_COMM"/>
              <xs:element type="xs:string" name="LANGU_NOTE"/>
              <xs:element type="xs:string" name="NOTE_ADDRESS"/>
              <xs:element type="xs:string" name="TELNR_LONG"/>
              <xs:element type="xs:string" name="NOTE_TELNR"/>
              <xs:element type="xs:string" name="TELNR_LONG_2"/>
              <xs:element type="xs:string" name="NOTE_TELNR_2"/>
              <xs:element type="xs:string" name="TELNR_LONG_3"/>
              <xs:element type="xs:string" name="NOTE_TELNR_3"/>
              <xs:element type="xs:string" name="MOBILE_LONG"/>
              <xs:element type="xs:string" name="NOTE_MOBILE"/>
              <xs:element type="xs:string" name="MOBILE_LONG_2"/>
              <xs:element type="xs:string" name="NOTE_MOBILE_2"/>
              <xs:element type="xs:string" name="MOBILE_LONG_3"/>
              <xs:element type="xs:string" name="NOTE_MOBILE_3"/>
              <xs:element type="xs:string" name="FAXNR_LONG"/>
              <xs:element type="xs:string" name="NOTE_FAXNR"/>
              <xs:element type="xs:string" name="FAXNR_LONG_2"/>
              <xs:element type="xs:string" name="NOTE_FAXNR_2"/>
              <xs:element type="xs:string" name="FAXNR_LONG_3"/>
              <xs:element type="xs:string" name="NOTE_FAXNR_3"/>
              <xs:element type="xs:string" name="SMTP_ADDR"/>
              <xs:element type="xs:string" name="NOTE_SMTP"/>
              <xs:element type="xs:string" name="SMTP_ADDR_2"/>
              <xs:element type="xs:string" name="NOTE_SMTP_2"/>
              <xs:element type="xs:string" name="SMTP_ADDR_3"/>
              <xs:element type="xs:string" name="NOTE_SMTP_3"/>
              <xs:element type="xs:string" name="URI_TYP"/>
              <xs:element type="xs:string" name="URI_ADDR"/>
              <xs:element type="xs:string" name="NOTE_URI"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="AddressUsages" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="KUNNR"/>
              <xs:element type="xs:string" name="BU_ADEXT"/>
              <xs:element type="xs:string" name="ADR_KIND"/>
              <xs:element type="xs:string" name="XDFADU"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="InternationalAddressVersions" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="KUNNR"/>
              <xs:element type="xs:string" name="BU_ADEXT"/>
              <xs:element type="xs:string" name="NATION"/>
              <xs:element type="xs:string" name="NAME_FIRST"/>
              <xs:element type="xs:string" name="NAME_LAST"/>
              <xs:element type="xs:string" name="NAME3"/>
              <xs:element type="xs:string" name="NAME4"/>
              <xs:element type="xs:string" name="NAME_FIRST_P"/>
              <xs:element type="xs:string" name="NAME_LAST_P"/>
              <xs:element type="xs:string" name="NAME_MIDDLE"/>
              <xs:element type="xs:string" name="NAME_BIRTH"/>
              <xs:element type="xs:string" name="SORTL"/>
              <xs:element type="xs:string" name="MCOD2"/>
              <xs:element type="xs:string" name="STREET"/>
              <xs:element type="xs:string" name="HOUSE_NUM1"/>
              <xs:element type="xs:string" name="CITY2"/>
              <xs:element type="xs:string" name="HOME_CITY"/>
              <xs:element type="xs:string" name="CITY1"/>
              <xs:element type="xs:string" name="BUILDING"/>
              <xs:element type="xs:string" name="ROOM"/>
              <xs:element type="xs:string" name="FLOOR"/>
              <xs:element type="xs:string" name="CO_NAME"/>
              <xs:element type="xs:string" name="STR_SUPPL1"/>
              <xs:element type="xs:string" name="STR_SUPPL2"/>
              <xs:element type="xs:string" name="HOUSE_NO2"/>
              <xs:element type="xs:string" name="STR_SUPPL3"/>
              <xs:element type="xs:string" name="LOCATION"/>
              <xs:element type="xs:string" name="PO_BOX_CIT"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="GeneralTexts" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="KUNNR"/>
              <xs:element type="xs:string" name="TDID"/>
              <xs:element type="xs:string" name="TDSPRAS"/>
              <xs:element type="xs:string" name="TEXT_LINES"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="SalesData" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="KUNNR"/>
              <xs:element type="xs:string" name="VKORG"/>
              <xs:element type="xs:string" name="VTWEG"/>
              <xs:element type="xs:string" name="SPART"/>
              <xs:element type="xs:string" name="KDGRP"/>
              <xs:element type="xs:string" name="BZIRK"/>
              <xs:element type="xs:string" name="VKBUR"/>
              <xs:element type="xs:string" name="VKGRP"/>
              <xs:element type="xs:string" name="EIKTO"/>
              <xs:element type="xs:string" name="AWAHR"/>
              <xs:element type="xs:string" name="KLABC"/>
              <xs:element type="xs:string" name="PVKSM"/>
              <xs:element type="xs:string" name="WAERS"/>
              <xs:element type="xs:string" name="KURST"/>
              <xs:element type="xs:string" name="KONDA"/>
              <xs:element type="xs:string" name="PLTYP"/>
              <xs:element type="xs:string" name="KALKS"/>
              <xs:element type="xs:string" name="VERSG"/>
              <xs:element type="xs:string" name="AGREL"/>
              <xs:element type="xs:string" name="LPRIO"/>
              <xs:element type="xs:string" name="KZAZU"/>
              <xs:element type="xs:string" name="VSBED"/>
              <xs:element type="xs:string" name="PODKZ"/>
              <xs:element type="xs:string" name="PODTG"/>
              <xs:element type="xs:string" name="VWERK"/>
              <xs:element type="xs:string" name="AUTLF"/>
              <xs:element type="xs:string" name="ANTLF"/>
              <xs:element type="xs:string" name="KZTLF"/>
              <xs:element type="xs:string" name="UEBTK"/>
              <xs:element type="xs:string" name="UNTTO"/>
              <xs:element type="xs:string" name="UEBTO"/>
              <xs:element type="xs:string" name="MRNKZ"/>
              <xs:element type="xs:string" name="BOKRE"/>
              <xs:element type="xs:string" name="PRFRE"/>
              <xs:element type="xs:string" name="PERFK"/>
              <xs:element type="xs:string" name="PERRL"/>
              <xs:element type="xs:string" name="INCOV"/>
              <xs:element type="xs:string" name="INCO1"/>
              <xs:element type="xs:string" name="INCO2"/>
              <xs:element type="xs:string" name="INCO3_L"/>
              <xs:element type="xs:string" name="ZTERM"/>
              <xs:element type="xs:string" name="KABSS"/>
              <xs:element type="xs:string" name="KTGRD"/>
              <xs:element type="xs:string" name="KVGR1"/>
              <xs:element type="xs:string" name="KVGR2"/>
              <xs:element type="xs:string" name="KVGR3"/>
              <xs:element type="xs:string" name="KVGR4"/>
              <xs:element type="xs:string" name="KVGR5"/>
              <xs:element type="xs:string" name="AUFSD"/>
              <xs:element type="xs:string" name="LIFSD"/>
              <xs:element type="xs:string" name="FAKSD"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="SalesPartner" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="KUNNR"/>
              <xs:element type="xs:string" name="VKORG"/>
              <xs:element type="xs:string" name="VTWEG"/>
              <xs:element type="xs:string" name="SPART"/>
              <xs:element type="xs:string" name="PARVW"/>
              <xs:element type="xs:string" name="KUNN2"/>
              <xs:element type="xs:string" name="LIFNR"/>
              <xs:element type="xs:string" name="PERNR"/>
              <xs:element type="xs:string" name="PARNR"/>
              <xs:element type="xs:string" name="DEFPA"/>
              <xs:element type="xs:string" name="KNREF"/>
              <xs:element type="xs:string" name="ADRNR"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="SalesOrganizationTexts" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="KUNNR"/>
              <xs:element type="xs:string" name="VKORG"/>
              <xs:element type="xs:string" name="VTWEG"/>
              <xs:element type="xs:string" name="SPART"/>
              <xs:element type="xs:string" name="TDID"/>
              <xs:element type="xs:string" name="TDSPRAS"/>
              <xs:element type="xs:string" name="TEXT_LINES"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="CompanyData" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="KUNNR"/>
              <xs:element type="xs:string" name="BUKRS"/>
              <xs:element type="xs:string" name="SPERR"/>
              <xs:element type="xs:string" name="ZAHLS"/>
              <xs:element type="xs:string" name="ALTKN"/>
              <xs:element type="xs:string" name="MAHNA"/>
              <xs:element type="xs:string" name="MANSP"/>
              <xs:element type="xs:string" name="KNRMA"/>
              <xs:element type="xs:string" name="MADAT"/>
              <xs:element type="xs:string" name="GMVDT"/>
              <xs:element type="xs:string" name="MAHNS"/>
              <xs:element type="xs:string" name="BUSAB_D"/>
              <xs:element type="xs:string" name="BUSAB"/>
              <xs:element type="xs:string" name="EIKTO"/>
              <xs:element type="xs:string" name="ZSABE"/>
              <xs:element type="xs:string" name="TLFNS"/>
              <xs:element type="xs:string" name="TLFXS"/>
              <xs:element type="xs:string" name="INTAD"/>
              <xs:element type="xs:string" name="XDEZV"/>
              <xs:element type="xs:string" name="KVERM"/>
              <xs:element type="xs:string" name="PERKZ"/>
              <xs:element type="xs:string" name="VRSNR"/>
              <xs:element type="xs:string" name="VRBKZ"/>
              <xs:element type="xs:string" name="VLIBB"/>
              <xs:element type="xs:string" name="VERDT"/>
              <xs:element type="xs:string" name="VRSZL"/>
              <xs:element type="xs:string" name="VRSPR"/>
              <xs:element type="xs:string" name="ZTERM"/>
              <xs:element type="xs:string" name="GUZTE"/>
              <xs:element type="xs:string" name="ZWELS_01"/>
              <xs:element type="xs:string" name="ZWELS_02"/>
              <xs:element type="xs:string" name="ZWELS_03"/>
              <xs:element type="xs:string" name="ZWELS_04"/>
              <xs:element type="xs:string" name="ZWELS_05"/>
              <xs:element type="xs:string" name="ZWELS_06"/>
              <xs:element type="xs:string" name="ZWELS_07"/>
              <xs:element type="xs:string" name="ZWELS_08"/>
              <xs:element type="xs:string" name="ZWELS_09"/>
              <xs:element type="xs:string" name="ZWELS_10"/>
              <xs:element type="xs:string" name="HBKID"/>
              <xs:element type="xs:string" name="TOGRU"/>
              <xs:element type="xs:string" name="XVERR"/>
              <xs:element type="xs:string" name="XZVER"/>
              <xs:element type="xs:string" name="XPORE"/>
              <xs:element type="xs:string" name="XEDIP"/>
              <xs:element type="xs:string" name="LOCKB"/>
              <xs:element type="xs:string" name="KNRZB"/>
              <xs:element type="xs:string" name="AKONT"/>
              <xs:element type="xs:string" name="KNRZE"/>
              <xs:element type="xs:string" name="ZUAWA"/>
              <xs:element type="xs:string" name="FDGRV"/>
              <xs:element type="xs:string" name="FRGRP"/>
              <xs:element type="xs:string" name="WBRSL"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="WithholdingTaxData" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="KUNNR"/>
              <xs:element type="xs:string" name="BUKRS"/>
              <xs:element type="xs:string" name="WITHT"/>
              <xs:element type="xs:string" name="WT_WITHCD"/>
              <xs:element type="xs:string" name="WT_WTAGT"/>
              <xs:element type="xs:string" name="WT_WTSTCD"/>
              <xs:element type="xs:string" name="WT_AGTDF"/>
              <xs:element type="xs:string" name="WT_AGTDT"/>
              <xs:element type="xs:string" name="WT_EXNR"/>
              <xs:element type="xs:string" name="WT_EXRT"/>
              <xs:element type="xs:string" name="WT_WTEXRS"/>
              <xs:element type="xs:string" name="WT_EXDF"/>
              <xs:element type="xs:string" name="WT_EXDT"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="CompanyTexts" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="KUNNR"/>
              <xs:element type="xs:string" name="BUKRS"/>
              <xs:element type="xs:string" name="TDID"/>
              <xs:element type="xs:string" name="TDSPRAS"/>
              <xs:element type="xs:string" name="TEXT_LINES"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="BankData" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="KUNNR"/>
              <xs:element type="xs:string" name="BANKS"/>
              <xs:element type="xs:string" name="BANKL"/>
              <xs:element type="xs:string" name="BANKN"/>
              <xs:element type="xs:string" name="IBAN"/>
              <xs:element type="xs:string" name="BKONT"/>
              <xs:element type="xs:string" name="KOINH"/>
              <xs:element type="xs:string" name="EBPP_ACCNAME"/>
              <xs:element type="xs:string" name="BKREF"/>
              <xs:element type="xs:string" name="XEZER"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="PaymentCardData" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="KUNNR"/>
              <xs:element type="xs:string" name="CCNUM"/>
              <xs:element type="xs:string" name="MASKED_ID"/>
              <xs:element type="xs:string" name="CCINS"/>
              <xs:element type="xs:string" name="CCNAME"/>
              <xs:element type="xs:string" name="DATAB"/>
              <xs:element type="xs:string" name="DATBI"/>
              <xs:element type="xs:string" name="CCLOCK"/>
              <xs:element type="xs:string" name="CCDEF"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="Industries" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="KUNNR"/>
              <xs:element type="xs:string" name="ISTYPE"/>
              <xs:element type="xs:string" name="IND_SECTOR"/>
              <xs:element type="xs:string" name="ISDEF"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="TaxClassification" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="KUNNR"/>
              <xs:element type="xs:string" name="TAX_CTY"/>
              <xs:element type="xs:string" name="TAX_REG"/>
              <xs:element type="xs:string" name="TAX_TYPE"/>
              <xs:element type="xs:string" name="TAX_GROUP"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="OutputTax" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="KUNNR"/>
              <xs:element type="xs:string" name="ALAND"/>
              <xs:element type="xs:string" name="TATYP"/>
              <xs:element type="xs:string" name="TAXKD"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="TaxNumbers" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="KUNNR"/>
              <xs:element type="xs:string" name="TAXTYPE"/>
              <xs:element type="xs:string" name="TAXNUM"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="IdentificationNumbers" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="KUNNR"/>
              <xs:element type="xs:string" name="TYPE"/>
              <xs:element type="xs:string" name="IDNUMBER"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="ContactPerson" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="KUNNR"/>
              <xs:element type="xs:string" name="PARNR"/>
              <xs:element type="xs:string" name="TITLE"/>
              <xs:element type="xs:string" name="TITLE_ACA1"/>
              <xs:element type="xs:string" name="VNAME"/>
              <xs:element type="xs:string" name="LNAME"/>
              <xs:element type="xs:string" name="NAME_MIDDLE"/>
              <xs:element type="xs:string" name="NAME_BIRTH"/>
              <xs:element type="xs:string" name="BIRTHDT"/>
              <xs:element type="xs:string" name="LANGUCORR"/>
              <xs:element type="xs:string" name="ABTNR"/>
              <xs:element type="xs:string" name="PAFKT"/>
              <xs:element type="xs:string" name="PAVIP"/>
              <xs:element type="xs:string" name="BUILDING_B"/>
              <xs:element type="xs:string" name="ROOM_B"/>
              <xs:element type="xs:string" name="FLOOR_B"/>
              <xs:element type="xs:string" name="COUNTRY_B"/>
              <xs:element type="xs:string" name="DEFLT_COMM_B"/>
              <xs:element type="xs:string" name="TEL_NO_B"/>
              <xs:element type="xs:string" name="MOBILE_NO_B"/>
              <xs:element type="xs:string" name="FAX_NO_B"/>
              <xs:element type="xs:string" name="E_MAIL_B"/>
              <xs:element type="xs:string" name="COUNTRY"/>
              <xs:element type="xs:string" name="REGION"/>
              <xs:element type="xs:string" name="POSTLCD"/>
              <xs:element type="xs:string" name="CITY"/>
              <xs:element type="xs:string" name="STREET"/>
              <xs:element type="xs:string" name="HOUSE_NO"/>
              <xs:element type="xs:string" name="BUILDING"/>
              <xs:element type="xs:string" name="ROOM"/>
              <xs:element type="xs:string" name="FLOOR"/>
              <xs:element type="xs:string" name="TIME_ZONE"/>
              <xs:element type="xs:string" name="TXJCD"/>
              <xs:element type="xs:string" name="DEFLT_COMM"/>
              <xs:element type="xs:string" name="LANGU_NOTE"/>
              <xs:element type="xs:string" name="NOTE_ADDRESS"/>
              <xs:element type="xs:string" name="TEL_NO"/>
              <xs:element type="xs:string" name="NOTE_TEL"/>
              <xs:element type="xs:string" name="MOBILE_NO"/>
              <xs:element type="xs:string" name="NOTE_MOBILE"/>
              <xs:element type="xs:string" name="FAX_NO"/>
              <xs:element type="xs:string" name="NOTE_FAX"/>
              <xs:element type="xs:string" name="E_MAIL"/>
              <xs:element type="xs:string" name="NOTE_E_MAIL"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="ContactInternatAddrVers" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="KUNNR"/>
              <xs:element type="xs:string" name="PARNR"/>
              <xs:element type="xs:string" name="NATION"/>
              <xs:element type="xs:string" name="VNAME"/>
              <xs:element type="xs:string" name="LNAME"/>
              <xs:element type="xs:string" name="NAME_MIDDLE"/>
              <xs:element type="xs:string" name="NAME_BIRTH"/>
              <xs:element type="xs:string" name="BUILDING_B"/>
              <xs:element type="xs:string" name="ROOM_B"/>
              <xs:element type="xs:string" name="FLOOR_B"/>
              <xs:element type="xs:string" name="CITY"/>
              <xs:element type="xs:string" name="STREET"/>
              <xs:element type="xs:string" name="HOUSE_NO"/>
              <xs:element type="xs:string" name="BUILDING"/>
              <xs:element type="xs:string" name="ROOM"/>
              <xs:element type="xs:string" name="FLOOR"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="UnloadingPoint" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="KUNNR"/>
              <xs:element type="xs:string" name="ABLAD"/>
              <xs:element type="xs:string" name="DEFAB"/>
              <xs:element type="xs:string" name="KNFAK"/>
              <xs:element type="xs:string" name="WANID"/>
              <xs:element type="xs:string" name="MOAB1"/>
              <xs:element type="xs:string" name="MOBI1"/>
              <xs:element type="xs:string" name="MOAB2"/>
              <xs:element type="xs:string" name="MOBI2"/>
              <xs:element type="xs:string" name="DIAB1"/>
              <xs:element type="xs:string" name="DIBI1"/>
              <xs:element type="xs:string" name="DIAB2"/>
              <xs:element type="xs:string" name="DIBI2"/>
              <xs:element type="xs:string" name="MIAB1"/>
              <xs:element type="xs:string" name="MIBI1"/>
              <xs:element type="xs:string" name="MIAB2"/>
              <xs:element type="xs:string" name="MIBI2"/>
              <xs:element type="xs:string" name="DOAB1"/>
              <xs:element type="xs:string" name="DOBI1"/>
              <xs:element type="xs:string" name="DOAB2"/>
              <xs:element type="xs:string" name="DOBI2"/>
              <xs:element type="xs:string" name="FRAB1"/>
              <xs:element type="xs:string" name="FRBI1"/>
              <xs:element type="xs:string" name="FRAB2"/>
              <xs:element type="xs:string" name="FRBI2"/>
              <xs:element type="xs:string" name="SAAB1"/>
              <xs:element type="xs:string" name="SABI1"/>
              <xs:element type="xs:string" name="SAAB2"/>
              <xs:element type="xs:string" name="SABI2"/>
              <xs:element type="xs:string" name="SOAB1"/>
              <xs:element type="xs:string" name="SOBI1"/>
              <xs:element type="xs:string" name="SOAB2"/>
              <xs:element type="xs:string" name="SOBI2"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="ReceivingPoint" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="KUNNR"/>
              <xs:element type="xs:string" name="EMPST"/>
              <xs:element type="xs:string" name="ABLAD"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="Departments" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="KUNNR"/>
              <xs:element type="xs:string" name="ABTNR"/>
              <xs:element type="xs:string" name="EMPST"/>
              <xs:element type="xs:string" name="VERFL"/>
              <xs:element type="xs:string" name="VERFE"/>
              <xs:element type="xs:string" name="LAYVR"/>
              <xs:element type="xs:string" name="FLVAR"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="CustHierForInvSummary" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="KUNNR"/>
              <xs:element type="xs:string" name="BUKRS"/>
              <xs:element type="xs:string" name="INVSUMROLE"/>
              <xs:element type="xs:string" name="INVSUMRECIP"/>
              <xs:element type="xs:string" name="INVSUMPAYER"/>
              <xs:element type="xs:string" name="MINRNR"/>
              <xs:element type="xs:string" name="HEADERTAX"/>
              <xs:element type="xs:string" name="HOLIDUEDATE"/>
              <xs:element type="xs:string" name="PINRNR"/>
              <xs:element type="xs:string" name="BANKCHARGE"/>
              <xs:element type="xs:string" name="PATTERNID"/>
              <xs:element type="xs:string" name="BANKS"/>
              <xs:element type="xs:string" name="BANKK"/>
              <xs:element type="xs:string" name="VIRTACCTNR"/>
              <xs:element type="xs:string" name="RULEZTERM"/>
              <xs:element type="xs:string" name="SPECCASEREL"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="AlternativeNameForPayer" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="KUNNR"/>
              <xs:element type="xs:string" name="BUKRS"/>
              <xs:element type="xs:string" name="SEQNO"/>
              <xs:element type="xs:string" name="NAYOSENAME"/>
              <xs:element type="xs:string" name="BANKNAME"/>
              <xs:element type="xs:string" name="BANKBRANCHNAME"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="TermsofPaymWValPeriod" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="KUNNR"/>
              <xs:element type="xs:string" name="BUKRS"/>
              <xs:element type="xs:string" name="VALIDFROM"/>
              <xs:element type="xs:string" name="ZTERM"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>