Resources/schemas/Xsd/SAP_CPQ_Quote_2.0_Integration_with_SAP_S-4HANA_Cloud_Sales_Order - BusinessPartners.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="BusinessPartners" >
        <xs:complexType>
            <xs:sequence>
                <xs:element name="BusinessPartner" maxOccurs="unbounded" minOccurs="0">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="Id" type="xs:integer" minOccurs="0" maxOccurs="1" nillable="true"/>
                            <xs:element name="SystemId" type="xs:string" minOccurs="0" maxOccurs="1" nillable="true"/>
                            <xs:element name="ExternalId" type="xs:string" minOccurs="0" maxOccurs="1" nillable="true"/>
                            <xs:element name="PartnerId" type="xs:string" minOccurs="0" maxOccurs="1" nillable="true"/>
                            <xs:element name="Name" type="xs:string" minOccurs="1" maxOccurs="1"/>
							<xs:element name="Name2" type="xs:string" minOccurs="0" maxOccurs="1"/>
							<xs:element name="Name3" type="xs:string" minOccurs="0" maxOccurs="1"/>
							<xs:element name="Name4" type="xs:string" minOccurs="0" maxOccurs="1"/>
                            <xs:element name="FirstName" type="xs:string" minOccurs="0" maxOccurs="1" nillable="true"/>
                            <xs:element name="LastName" type="xs:string" minOccurs="0" maxOccurs="1" nillable="true"/>
                            <xs:element name="Address">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="FormOfAddress" type="xs:string" minOccurs="0" maxOccurs="1" nillable="true"/>
                                        <xs:element name="AddressName" type="xs:string" minOccurs="0" maxOccurs="1" nillable="true"/>
                                        <xs:element name="AddressAdditionalName" type="xs:string" minOccurs="0" maxOccurs="1" nillable="true"/>
                                        <xs:element name="AddressName3" type="xs:string" minOccurs="0" maxOccurs="1" nillable="true"/>
                                        <xs:element name="AddressName4" type="xs:string" minOccurs="0" maxOccurs="1" nillable="true"/>
                                        <xs:element name="TaxJurisdiction" type="xs:string" minOccurs="0" maxOccurs="1" nillable="true"/>
                                        <xs:element name="PhysicalAddress">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name="Country" type="xs:string" minOccurs="0" maxOccurs="1" nillable="true"/>
                                                    <xs:element name="Region" type="xs:string" minOccurs="0" maxOccurs="1" nillable="true"/>
                                                    <xs:element name="PostalCode" type="xs:string" minOccurs="0" maxOccurs="1" nillable="true"/>
                                                    <xs:element name="POBoxPostalCode" type="xs:string" minOccurs="0" maxOccurs="1" nillable="true"/>
                                                    <xs:element name="CityName" type="xs:string" minOccurs="0" maxOccurs="1" nillable="true"/>
                                                    <xs:element name="District" type="xs:string" minOccurs="0" maxOccurs="1" nillable="true"/>
                                                    <xs:element name="POBox" type="xs:string" minOccurs="0" maxOccurs="1" nillable="true"/>
                                                    <xs:element name="StreetPrefixName" type="xs:string" minOccurs="0" maxOccurs="1" nillable="true"/>
                                                    <xs:element name="AdditionalStreetPrefixName" type="xs:string" minOccurs="0" maxOccurs="1" nillable="true"/>
                                                    <xs:element name="StreetName" type="xs:string" minOccurs="0" maxOccurs="1" nillable="true"/>
                                                    <xs:element name="StreetSuffixName" type="xs:string" minOccurs="0" maxOccurs="1" nillable="true"/>
                                                    <xs:element name="AdditionalStreetSuffixName" type="xs:string" minOccurs="0" maxOccurs="1" nillable="true"/>
                                                    <xs:element name="HouseNumber" type="xs:string" minOccurs="0" maxOccurs="1" nillable="true"/>
                                                    <xs:element name="TransportZone" type="xs:string" minOccurs="0" maxOccurs="1" nillable="true"/>
                                                    <xs:element name="State" type="xs:string" minOccurs="0" maxOccurs="1" nillable="true"/>
                                                    <xs:element name="TimeZone" type="xs:string" minOccurs="0" maxOccurs="1" nillable="true"/>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element name="Communication">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name="CorrespondenceLanguage" type="xs:string" minOccurs="0" maxOccurs="1" nillable="true"/>
                                                    <xs:element name="Phone" type="xs:string" minOccurs="0" maxOccurs="1" nillable="true"/>
                                                    <xs:element name="MobilePhone" type="xs:string" minOccurs="0" maxOccurs="1" nillable="true"/>
                                                    <xs:element name="Fax" type="xs:string" minOccurs="0" maxOccurs="1" nillable="true"/>
                                                    <xs:element name="EmailAddress" type="xs:string" minOccurs="0" maxOccurs="1" nillable="true"/>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="VATNumber" type="xs:string" minOccurs="0" maxOccurs="1" nillable="true"/>
                            <xs:element name="TaxNumber1" type="xs:string" minOccurs="0" maxOccurs="1" nillable="true"/>
                            <xs:element name="TaxNumber2" type="xs:string" minOccurs="0" maxOccurs="1" nillable="true"/>
                            <xs:element name="BankAccount1" type="xs:string" minOccurs="0" maxOccurs="1" nillable="true"/>
                            <xs:element name="BankAccount2" type="xs:string" minOccurs="0" maxOccurs="1" nillable="true"/>
                            <xs:element name="PrimaryIndustry" type="xs:string" minOccurs="0" maxOccurs="1" nillable="true"/>
                            <xs:element name="BusinessPartnerType" type="xs:string" minOccurs="0" maxOccurs="1" default="Organization"/>
                            <xs:element name="Permissions" minOccurs="0" maxOccurs="1">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="PermissionId" minOccurs="0" maxOccurs="unbounded" type="xs:integer"/>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>
