Resources/schemas/Xsd/SAP_Build_Process_Automation_Integration_with_SAP_S-4HANA_for_Non_Operated_Joint_Venture_Cash_Call_Approval - Input - Invoice.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="docInformation">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="companyCode" type="xs:unsignedShort" minOccurs="0"/>
        <xs:element name="partner" type="xs:string" minOccurs="0"/>
        <xs:element name="batchNumber" type="xs:unsignedInt" minOccurs="0"/>
        <xs:element name="transDate" type="xs:unsignedInt" minOccurs="0"/>
        <xs:element name="postingDate" type="xs:unsignedByte" minOccurs="0"/>
        <xs:element name="postingPeriod" type="xs:string" minOccurs="0"/>
        <xs:element name="postingYear" type="xs:string" minOccurs="0"/>
        <xs:element name="vendor" type="xs:string" minOccurs="0"/>
        <xs:element name="taxCode" type="xs:string" minOccurs="0"/>
        <xs:element name="jointVenture" type="xs:string" minOccurs="0"/>
        <xs:element name="fundCurrency" type="xs:string" minOccurs="0"/>
        <xs:element name="invoiceType" type="xs:string" minOccurs="0"/>
        <xs:element name="processType" type="xs:string" minOccurs="0"/>
        <xs:element name="exchangeRate" type="xs:string" minOccurs="0"/>
        <xs:element name="status" type="xs:string" minOccurs="0"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>