Resources/schemas/Xsd/SAP_Commerce_Cloud_Integration_with_SAP_Customer_Data_Cloud - newconsentXSD.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="root">
    <xs:complexType>
      <xs:sequence>
        <xs:element type="xs:byte" name="apiVersion"/>
        <xs:element type="xs:string" name="callId"/>
        <xs:element type="xs:byte" name="errorCode"/>
        <xs:element name="preferencesSchema">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="fields" maxOccurs="unbounded" minOccurs="0">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:float" name="currentDocVersion"/>
                    <xs:element name="customData" maxOccurs="unbounded" minOccurs="0">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element type="xs:string" name="key"/>
                          <xs:element type="xs:string" name="value"/>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element type="xs:string" name="format"/>
                    <xs:element type="xs:string" name="id"/>
                    <xs:element name="legalStatements">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element type="xs:string" name="language"/>
                          <xs:element type="xs:string" name="purpose"/>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element type="xs:float" name="minDocVersion"/>
                    <xs:element type="xs:string" name="required"/>
                    <xs:element type="xs:string" name="site"/>
                    <xs:element type="xs:string" name="type"/>
                    <xs:element type="xs:string" name="writeAccess"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element type="xs:short" name="statusCode"/>
        <xs:element type="xs:string" name="statusReason"/>
        <xs:element type="xs:dateTime" name="time"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>