Resources/schemas/Xsd/SAP_SuccessFactors_Recruiting_Management_Integration_with_Third_Party_Assessment_Vendor-SHL - newTest.xsd

<?xml version="1.0" encoding="UTF-8"?>
   <xs:schema xmlns="http://ns.hr-xml.org/2004-08-02" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" xmlns:ah="http://www.CEB.com/Assessment/">
         <xs:element name="Envelope">
               <xs:complexType>
                     <xs:sequence>
                           <xs:element name="Header">
                                 <xs:complexType>
                                       <xs:sequence>
                                             <xs:element name="AuthHeader">
                                                   <xs:complexType>
                                                         <xs:sequence>
                                                               <xs:element name="ClientId" type="ah:int"></xs:element>
                                                               <xs:element name="Password" type="ah:string"></xs:element>
                                                         </xs:sequence>

                                                   </xs:complexType>
                                             </xs:element>
                                       </xs:sequence>
                                 </xs:complexType>
                           </xs:element>
                           <xs:element name="Body" >
                                 <xs:complexType>
                                       <xs:sequence>
                                             <xs:element name="AssessmentOrderRequest">
                                                   <xs:complexType>
                                                         <xs:sequence>
                                                               <xs:element name="ClientId" maxOccurs="unbounded" minOccurs="0">
                                                                     <xs:complexType>
                                                                           <xs:sequence>
                                                                                 <xs:element name="IdValue" type="xs:int" maxOccurs="unbounded" minOccurs="0"></xs:element>
                                                                           </xs:sequence>
                                                                     </xs:complexType>
                                                               </xs:element>
                                                               <xs:element name="PackageId" maxOccurs="unbounded" minOccurs="0">
                                                                     <xs:complexType>
                                                                           <xs:sequence>
                                                                                 <xs:element name="IdValue" maxOccurs="unbounded" type="xs:string" minOccurs="0"></xs:element>
           
                                                                           </xs:sequence>
                                                                     </xs:complexType>
                                                               </xs:element>
                                                               <xs:element name="ComparisonGroupId" minOccurs="0" maxOccurs="unbounded">
                                                                     <xs:complexType>
                                                                           <xs:sequence>
                                                                                 <xs:element name="IdValue" type="xs:string" minOccurs="0" maxOccurs="1"></xs:element>
                                                                           </xs:sequence>
                                                                     </xs:complexType>
                                                               </xs:element>
                                                               <xs:element name="ClientOrderId" maxOccurs="unbounded" minOccurs="0">
                                                                     <xs:complexType>
                                                                           <xs:sequence>
                                                                                 <xs:element name="IdValue" type="xs:int" minOccurs="0" maxOccurs="1"></xs:element>
                                                                           </xs:sequence>
                                                                     </xs:complexType>
                                                               </xs:element>
                                                               <xs:element name="AssessmentRequester" type="xs:string" minOccurs="0" maxOccurs="1"></xs:element>
                                                               <xs:element name="AssessmentSubject" minOccurs="0" maxOccurs="unbounded">
                                                                     <xs:complexType>
                                                                           <xs:sequence>
                                                                                 <xs:element name="SubjectId" minOccurs="0" maxOccurs="unbounded">
                                                                                       <xs:complexType>
                                                                                             <xs:sequence>
                                                                                                   <xs:element name="IdValue" minOccurs="0" maxOccurs="unbounded">
                                                                                                         <xs:complexType>
                                                                                                               <xs:attribute name="name" type="xs:string"></xs:attribute>
                                                                                                         </xs:complexType>
                                                                                                   </xs:element>
                                                                                             </xs:sequence>
                                                                                       </xs:complexType>
                                                                                 </xs:element>
                                                                                 <xs:element name="PersonName" minOccurs="0" maxOccurs="unbounded">
                                                                                       <xs:complexType>
                                                                                             <xs:sequence>
                                                                                                   <xs:element name="GivenName" type="xs:string" minOccurs="0" maxOccurs="1"></xs:element>
                                                                                                   <xs:element name="FamilyName" type="xs:string" minOccurs="0" maxOccurs="1"></xs:element>
                                                                                             </xs:sequence>
                                                                                       </xs:complexType>
                                                                                 </xs:element>
                                                                                 <xs:element name="ContactMethod" minOccurs="0" maxOccurs="unbounded">
                                                                                       <xs:complexType>
                                                                                             <xs:sequence>
                                                                                                   <xs:element name="InternetEmailAddress" type="xs:string" minOccurs="0" maxOccurs="1"></xs:element>
                                                                                             </xs:sequence>
                                                                                       </xs:complexType>
                                                                                 </xs:element>
                                                                           </xs:sequence>
                                                                     </xs:complexType>
                                                               </xs:element>
                                                               <xs:element name="AssessmentLanguage" type="xs:string" minOccurs="1" maxOccurs="1"></xs:element>
                                                               <xs:element name="UserArea" minOccurs="0" maxOccurs="unbounded">
                                                                     <xs:complexType>
                                                                           <xs:sequence>
                                                                                 <xs:element name="CompletionSteps" minOccurs="1" maxOccurs="1">
                                                                                       <xs:complexType>
                                                                                             <xs:sequence>
                                                                                                   <xs:element name="PassCompletionStep" minOccurs="0" maxOccurs="unbounded">
                                                                                                         <xs:complexType>
                                                                                                               <xs:sequence>
                                                                                                                     <xs:element name="InternetBrowserForward" minOccurs="0" maxOccurs="unbounded">
                                                                                                                           <xs:complexType>
                                                                                                                                 <xs:sequence>
                                                                                                                                       <xs:element name="ForwardUrl" type="xs:string" minOccurs="0" maxOccurs="1"></xs:element>
                                                                                                                                 </xs:sequence>
                                                                                                                           </xs:complexType>
                                                                                                                     </xs:element>
                                                                                                               </xs:sequence>
                                                                                                         </xs:complexType>
                                                                                                   </xs:element>
                                                                                                   <xs:element name="FailCompletionStep" minOccurs="0" maxOccurs="unbounded">
                                                                                                         <xs:complexType>
                                                                                                               <xs:sequence>
                                                                                                                     <xs:element name="InternetBrowserForward" minOccurs="0" maxOccurs="unbounded">
                                                                                                                           <xs:complexType>
                                                                                                                                 <xs:sequence>
                                                                                                                                       <xs:element name="ForwardUrl" type="xs:string" minOccurs="0" maxOccurs="1"></xs:element>
                                                                                                                                 </xs:sequence>
                                                                                                                           </xs:complexType>
                                                                                                                     </xs:element>
                                                                                                               </xs:sequence>
                                                                                                         </xs:complexType>
                                                                                                   </xs:element>
                                                                                             </xs:sequence>
                                                                                       </xs:complexType>
                                                                                 </xs:element>
                                                                           </xs:sequence>
                                                                     </xs:complexType>
                                                               </xs:element>
                                                         </xs:sequence>
 
                                                   </xs:complexType>
                                             </xs:element>
                                       </xs:sequence>

                                 </xs:complexType>
                           </xs:element>
                     </xs:sequence>

               </xs:complexType>
         </xs:element>
   </xs:schema>