Resources/schemas/Xsd/SAP_Complaint_Handling_Integration_with_Master_Data_and_Business_Objects - OdataPayload.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="root">
    <xs:complexType>
      <xs:sequence>
        <xs:element type="xs:int" name="identifier"/>
        <xs:element type="xs:string" name="qnType"/>
        <xs:element type="xs:float" name="quantity"/>
        <xs:element type="xs:string" name="unit"/>
        <xs:element type="xs:long" name="purchaseOrderNumber"/>
        <xs:element type="xs:byte" name="purchaseOrderItem"/>
        <xs:element type="xs:string" name="supplierCode"/>
        <xs:element type="xs:string" name="personResponsibleCode"/>
        <xs:element type="xs:string" name="materialCode"/>
        <xs:element type="xs:short" name="plantCode"/>
        <xs:element type="xs:short" name="purchaseOrganisationCode"/>
        <xs:element type="xs:string" name="referenceNumber"/>
        <xs:element name="defect">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:byte" name="identifier"/>
              <xs:element type="xs:string" name="defectGroup_code"/>
              <xs:element type="xs:byte" name="defectCode_code"/>
              <xs:element type="xs:string" name="description"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="businessObjectStatuses" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="businessObjectStatus_code"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>