Resources/schemas/Xsd/SAP_Business_ByDesign_Accounting_Data_Transformation_to_SAP_S-4HANA_Cloud_Public_Edition - ByD_Inventory_XSD.xsd

<?xml version="1.0" encoding="UTF-8"?><xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="qualified">
  <xs:element name="Inventory">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" minOccurs="0" name="General">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="SITE_ID" type="xs:string"/>
              <xs:element name="OWNER_ID" type="xs:short"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element maxOccurs="unbounded" minOccurs="0" name="Inventory">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="SITE_ID" type="xs:string"/>
              <xs:element name="OWNER_ID" type="xs:short"/>
              <xs:element name="PRODUCT_ID" type="xs:int"/>
              <xs:element name="IDENTIFIED_STOCK_ID" type="xs:string"/>
              <xs:element name="RESTRICTED_USE_INDICATOR" type="xs:string"/>
              <xs:element name="INSPECTION" type="xs:string"/>
              <xs:element name="CONSIGNMENT" type="xs:string"/>
              <xs:element name="PRODUCT_QUANTITY" type="xs:short"/>
              <xs:element name="PRODUCT_QUANTITY_TYPE" type="xs:string"/>
              <xs:element name="LOGISTICS_AREA" type="xs:string"/>
              <xs:element name="LOGISTICS_UNIT_ID" type="xs:string"/>
              <xs:element name="LOGISTICS_UNIT_QUANTITY" type="xs:byte"/>
              <xs:element name="CUSTOMER" type="xs:string"/>
              <xs:element name="ACCOUNT" type="xs:string"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element maxOccurs="unbounded" minOccurs="0" name="SerialNumbers">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="SITE_ID" type="xs:string"/>
              <xs:element name="OWNER_ID" type="xs:string"/>
              <xs:element name="PRODUCT_ID" type="xs:string"/>
              <xs:element name="IDENTIFIED_STOCK_ID" type="xs:string"/>
              <xs:element name="RESTRICTED_USE_INDICATOR" type="xs:string"/>
              <xs:element name="INSPECTION" type="xs:string"/>
              <xs:element name="CONSIGNMENT" type="xs:string"/>
              <xs:element name="LOGISTICS_AREA" type="xs:string"/>
              <xs:element name="LOGISTICS_UNIT_ID" type="xs:string"/>
              <xs:element name="CUSTOMER" type="xs:string"/>
              <xs:element name="ACCOUNT" type="xs:string"/>
              <xs:element name="SERIAL_ID" type="xs:string"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>