Resources/schemas/Xsd/SAP_Commerce_financial_services_accelerator_integration_with_SAP_for_Insurance - InboundPayloadValidation.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="cart">
    <xs:complexType>
      <xs:all>
        <xs:element type="xs:string" name="cartId"  minOccurs="0" maxOccurs="1"/>
		<xs:element type="xs:string" name="selectedQuoteVariant" minOccurs="1" maxOccurs="1"/>
		<xs:element type="xs:string" name="mainProduct" minOccurs="1" maxOccurs="1"/>
        <xs:element name="features" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:all>
              <xs:element type="xs:string" name="code" minOccurs="0" maxOccurs="1"/>
              <xs:element type="xs:string" name="type" minOccurs="0" maxOccurs="1"/>
              <xs:element type="xs:string" name="amount" minOccurs="0" maxOccurs="1"/>
              <xs:element type="xs:string" name="percentage" minOccurs="0" maxOccurs="1"/>
              <xs:element type="xs:string" name="couponCode" minOccurs="0" maxOccurs="1"/>
            </xs:all>
          </xs:complexType>
        </xs:element>
        <xs:element name="quoteInformation" minOccurs="1" maxOccurs="1">
          <xs:complexType>
            <xs:all>            
              <xs:element name="paymentFrequency" minOccurs="1" maxOccurs="1">
                <xs:complexType>
                  <xs:all>
                    <xs:element type="xs:string" name="code" minOccurs="1" maxOccurs="1"/>
                  </xs:all>
                </xs:complexType>
              </xs:element>
              <xs:element type="xs:string" name="startDate" minOccurs="1" maxOccurs="1"/>
              <xs:element name="insuredObjects" minOccurs="1" maxOccurs="1">
                <xs:complexType>
                  <xs:all>
                    <xs:element name="childInsuredObjects" maxOccurs="unbounded" minOccurs="1">
                      <xs:complexType>
                        <xs:all>
                          <xs:element type="xs:string" name="customerId" minOccurs="0" maxOccurs="1"/>
                          <xs:element type="xs:string" name="dateOfBirth" minOccurs="1" maxOccurs="1"/>
                          <xs:element type="xs:string" name="driverLicenceDate" minOccurs="1" maxOccurs="1"/>
                          <xs:element type="xs:string" name="driverCategory" minOccurs="1" maxOccurs="1"/>
                          <xs:element type="xs:string" name="insuredObjectType" minOccurs="1" maxOccurs="1"/>
                          <xs:element type="xs:string" name="insuredObjectId" minOccurs="0" maxOccurs="1"/>
                          <xs:element type="xs:string" name="driverGender" minOccurs="1" maxOccurs="1"/>
                          <xs:element type="xs:string" name="driverMaritalStatus" minOccurs="1" maxOccurs="1"/>
							<xs:element name="address" minOccurs="0" maxOccurs="1">
							  <xs:complexType>
								<xs:all>
								  <xs:element type="xs:string" name="street" minOccurs="1" maxOccurs="1"/>
								  <xs:element type="xs:string" name="housenumber" minOccurs="1" maxOccurs="1"/>
								  <xs:element type="xs:string" name="postalcode" minOccurs="1" maxOccurs="1"/>
								  <xs:element type="xs:string" name="city" minOccurs="1" maxOccurs="1"/>
								  <xs:element name="country" minOccurs="1" maxOccurs="1">
									<xs:complexType>
									  <xs:all>
										<xs:element type="xs:string" name="isocode" minOccurs="1" maxOccurs="1"/>
									  </xs:all>
									</xs:complexType>
								  </xs:element>
								</xs:all>
							  </xs:complexType>
							</xs:element>
                        </xs:all>
                      </xs:complexType>
                    </xs:element>
                    <xs:element type="xs:string" name="vehicleYear" minOccurs="1" maxOccurs="1"/>
                    <xs:element type="xs:string" name="vehicleUsage" minOccurs="1" maxOccurs="1"/>
                    <xs:element type="xs:string" name="insuredObjectType" minOccurs="1" maxOccurs="1"/>
                    <xs:element type="xs:string" name="vehicleOwnerPostalCode" minOccurs="1" maxOccurs="1"/>
                    <xs:element type="xs:string" name="insuredObjectId" minOccurs="1" maxOccurs="1"/>
                    <xs:element type="xs:string" name="vehicleModel" minOccurs="1" maxOccurs="1"/>
                    <xs:element type="xs:string" name="vehicleValue" minOccurs="1" maxOccurs="1"/>
                    <xs:element type="xs:string" name="vehiclePurchaseDate" minOccurs="1" maxOccurs="1"/>
                    <xs:element type="xs:string" name="vehicleAnnualMileage" minOccurs="1" maxOccurs="1"/>
                    <xs:element type="xs:string" name="vehicleMake" minOccurs="1" maxOccurs="1"/>
                    <xs:element type="xs:string" name="vehicleType" minOccurs="1" maxOccurs="1"/>
                  </xs:all>
                </xs:complexType>
              </xs:element>
            </xs:all>
          </xs:complexType>
        </xs:element>
        <xs:element name="currency" minOccurs="1" maxOccurs="1">
          <xs:complexType>
            <xs:all>
              <xs:element type="xs:string" name="isocode" minOccurs="1" maxOccurs="1"/>
            </xs:all>
          </xs:complexType>
        </xs:element>
        <xs:element name="coverages" maxOccurs="unbounded" minOccurs="1">
          <xs:complexType>
            <xs:all>
              <xs:element type="xs:string" name="entryNumber" minOccurs="1" maxOccurs="1"/>
              <xs:element name="product">
                <xs:complexType>
                  <xs:all>
                    <xs:element name="features" maxOccurs="unbounded" minOccurs="0">
                      <xs:complexType>
                        <xs:all>
                          <xs:element type="xs:string" name="code" minOccurs="1" maxOccurs="1"/>
                          <xs:element type="xs:string" name="type" minOccurs="1" maxOccurs="1"/>
                          <xs:element type="xs:string" name="amount" minOccurs="1" maxOccurs="1"/>
                        </xs:all>
                      </xs:complexType>
                    </xs:element>
                    <xs:element type="xs:string" name="code" minOccurs="1" maxOccurs="1"/>
                  </xs:all>
                </xs:complexType>
              </xs:element>
              <xs:element name="insuredObject" minOccurs="1" maxOccurs="1">
                <xs:complexType>
                  <xs:all>
                    <xs:element type="xs:string" name="insuredObjectId" minOccurs="1" maxOccurs="1"/>
                  </xs:all>
                </xs:complexType>
              </xs:element>
            </xs:all>
          </xs:complexType>
        </xs:element>
      </xs:all>
    </xs:complexType>
  </xs:element>
</xs:schema>