Resources/schemas/Xsd/SAP_Build_Process_Automation_Integration_with_SAP_SuccessFactors_and_SAP_S-4HANA_to_create_Social_Security_Certificate - PerPersonalEntityquerySync1.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?><xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema"><xs:element name="queryPerPersonalResponse"><xs:complexType><xs:sequence><xs:element minOccurs="0" maxOccurs="unbounded" name="PerPersonal"><xs:complexType><xs:sequence><xs:element nillable="true" minOccurs="0" maxOccurs="unbounded" name="first_name"><xs:simpleType><xs:restriction base="xs:string" xmlns=""><xs:maxLength value="128"/></xs:restriction></xs:simpleType></xs:element><xs:element nillable="false" maxOccurs="unbounded" name="person_id_external"><xs:simpleType><xs:restriction base="xs:string" xmlns=""><xs:maxLength value="32"/></xs:restriction></xs:simpleType></xs:element><xs:element nillable="true" minOccurs="0" maxOccurs="unbounded" name="last_name"><xs:simpleType><xs:restriction base="xs:string" xmlns=""><xs:maxLength value="128"/></xs:restriction></xs:simpleType></xs:element></xs:sequence></xs:complexType></xs:element></xs:sequence></xs:complexType></xs:element></xs:schema>