Resources/schemas/Xsd/SAP_SuccessFactors_Integration_with_ADP_Tax_Credits - JobApplicationEntityGET4-1.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="JobApplication">
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="1" maxOccurs="unbounded" name="JobApplication">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element type="xs:long" nillable="false" maxOccurs="unbounded" name="candidateId" xmlns=""/>
                            <xs:element type="xs:string" nillable="false" maxOccurs="unbounded" name="firstName" xmlns=""/>
                            <xs:element type="xs:string" nillable="true" minOccurs="0" maxOccurs="unbounded" name="middleName" xmlns=""/>
                            <xs:element type="xs:string" nillable="true" minOccurs="0" maxOccurs="unbounded" name="address" xmlns=""/>
                            <xs:element type="xs:string" nillable="true" minOccurs="0" maxOccurs="unbounded" name="city" xmlns=""/>
                            <xs:element type="xs:string" nillable="true" minOccurs="0" maxOccurs="unbounded" name="countryCode" xmlns=""/>
                            <xs:element type="xs:dateTime" nillable="true" minOccurs="0" maxOccurs="unbounded" name="dateOfBirth" xmlns=""/>
                            <xs:element type="xs:string" nillable="true" minOccurs="0" maxOccurs="unbounded" name="zip" xmlns=""/>
                            <xs:element type="xs:string" nillable="true" minOccurs="0" maxOccurs="unbounded" name="stateOther" xmlns=""/>
                            <xs:element type="xs:string" nillable="false" maxOccurs="unbounded" name="lastName" xmlns=""/>
                            <xs:element type="xs:string" nillable="false" maxOccurs="unbounded" name="cellPhone" xmlns=""/>
                            <xs:element type="xs:string" nillable="true" minOccurs="0" maxOccurs="unbounded" name="homePhone" xmlns=""/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>
