Resources/schemas/Xsd/SAP_Customer_Data_Cloud_Integration_with_SAP_S-4HANA - CDCorgData-1.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:element name="Organizations">
    <xs:complexType>
      <xs:sequence> 
        <xs:element name="organizations" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
                <xs:element type="xs:string" name="BPID"/>
              <xs:element type="xs:string" name="description"/>
              <xs:element type="xs:string" name="name"/>
              <xs:element type="xs:string" name="type"/>
              <xs:element type="xs:string" name="city"/>
              <xs:element type="xs:string" name="country"/>
              <xs:element type="xs:string" name="state" nillable="false"/>
              <xs:element type="xs:string" name="street_address"/>
              <xs:element type="xs:int" name="zip_code"/>
             </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>