Resources/schemas/Xsd/SAP_Complaint_Handling_Integration_with_Master_Data_and_Business_Objects - CMH_BPRelationships_DeletePayload.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified"
    xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="businessPartnerRelationships">
        <xs:complexType>
            <xs:sequence>
                <xs:element maxOccurs="unbounded" name="row">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element minOccurs="0" type="xs:string" name="sourceBusinessPartnerNumber"/>
                            <xs:element minOccurs="0" type="xs:string" name="targetBusinessPartnerNumber"/>
							<xs:element minOccurs="0" type="xs:string" name="categoryCode"/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
				<xs:element minOccurs="0" name="messageID" />
                <xs:element minOccurs="0" name="ReferenceID" type="xs:string" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>