Resources/schemas/Xsd/SAP_S-4HANA_Integration_with_SAP_Build_Process_Automation_for_Sales_Order - PrepareWorkflowContext_Input.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="qualified">
  <xs:element name="WorkflowContext">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="definitionId" minOccurs="0" type="xs:string" />
        <xs:element name="context">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="SalesOrder">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="SalesOrder" minOccurs="0" type="xs:string" />
                    <xs:element name="SalesOrderType" minOccurs="0" type="xs:string" />
                    <xs:element name="SalesOrganization" minOccurs="0" type="xs:string" />
                    <xs:element name="DistributionChannel" minOccurs="0" type="xs:string" />
                    <xs:element name="OrganizationDivision" minOccurs="0" type="xs:string" />
                    <xs:element name="SalesGroup" minOccurs="0" type="xs:string" />
                    <xs:element name="SalesOffice" minOccurs="0" type="xs:string" />
                    <xs:element name="SalesDistrict" minOccurs="0" type="xs:string"/>
                    <xs:element name="SoldToParty" minOccurs="0" type="xs:string" />
                    <xs:element name="CreationDate" minOccurs="0" type="xs:string" />
                    <xs:element name="CreatedByUser" minOccurs="0" type="xs:string" />
                    <xs:element name="LastChangeDate" minOccurs="0" type="xs:string" />
                    <xs:element name="SenderBusinessSystemName" minOccurs="0" type="xs:string"/>
                    <xs:element name="ExternalDocumentID" minOccurs="0" type="xs:string"/>
                    <xs:element name="LastChangeDateTime" minOccurs="0" type="xs:string" />
                    <xs:element name="ExternalDocLastChangeDateTime" minOccurs="0" type="xs:string"/>
                    <xs:element name="PurchaseOrderByCustomer" minOccurs="0" type="xs:string" />
                    <xs:element name="PurchaseOrderByShipToParty" minOccurs="0" type="xs:string"/>
                    <xs:element name="CustomerPurchaseOrderType" minOccurs="0" type="xs:string"/>
                    <xs:element name="CustomerPurchaseOrderDate" minOccurs="0" type="xs:string" />
                    <xs:element name="SalesOrderDate" minOccurs="0" type="xs:string" />
                    <xs:element name="TotalNetAmount" minOccurs="0" type="xs:integer" />
                    <xs:element name="OverallDeliveryStatus" minOccurs="0" type="xs:string"/>
                    <xs:element name="TotalBlockStatus" minOccurs="0" type="xs:string" />
                    <xs:element name="OverallOrdReltdBillgStatus" minOccurs="0" type="xs:string"/>
                    <xs:element name="OverallSDDocReferenceStatus" minOccurs="0" type="xs:string"/>
                    <xs:element name="TransactionCurrency" minOccurs="0" type="xs:string" />
                    <xs:element name="SDDocumentReason" minOccurs="0" type="xs:string"/>
                    <xs:element name="PricingDate" minOccurs="0" type="xs:string" />
                    <xs:element name="PriceDetnExchangeRate" minOccurs="0" type="xs:integer" />
                    <xs:element name="RequestedDeliveryDate" minOccurs="0" type="xs:string" />
                    <xs:element name="ShippingCondition" minOccurs="0" type="xs:string" />
                    <xs:element name="CompleteDeliveryIsDefined" minOccurs="0" type="xs:boolean" />
                    <xs:element name="ShippingType" minOccurs="0" type="xs:string"/>
                    <xs:element name="HeaderBillingBlockReason" minOccurs="0" type="xs:string"/>
                    <xs:element name="DeliveryBlockReason" minOccurs="0" type="xs:string" />
                    <xs:element name="DeliveryDateTypeRule" minOccurs="0" type="xs:string"/>
                    <xs:element name="IncotermsClassification" minOccurs="0" type="xs:string" />
                    <xs:element name="IncotermsTransferLocation" minOccurs="0" type="xs:string" />
                    <xs:element name="IncotermsLocation1" minOccurs="0" type="xs:string" />
                    <xs:element name="IncotermsLocation2" minOccurs="0" type="xs:string"/>
                    <xs:element name="IncotermsVersion" minOccurs="0" type="xs:string"/>
                    <xs:element name="CustomerPriceGroup" minOccurs="0" type="xs:string"/>
                    <xs:element name="PriceListType" minOccurs="0" type="xs:string"/>
                    <xs:element name="CustomerPaymentTerms" minOccurs="0" type="xs:string" />
                    <xs:element name="PaymentMethod" minOccurs="0" type="xs:string"/>
                    <xs:element name="FixedValueDate" minOccurs="0" type="xs:string"/>
                    <xs:element name="AssignmentReference" minOccurs="0" type="xs:string"/>
                    <xs:element name="ReferenceSDDocument" minOccurs="0" type="xs:string"/>
                    <xs:element name="ReferenceSDDocumentCategory" minOccurs="0" type="xs:string"/>
                    <xs:element name="AccountingDocExternalReference" minOccurs="0" type="xs:string"/>
                    <xs:element name="CustomerAccountAssignmentGroup" minOccurs="0" type="xs:string" />
                    <xs:element name="AccountingExchangeRate" minOccurs="0" type="xs:integer" />
                    <xs:element name="CustomerGroup" minOccurs="0" type="xs:string" />
                    <xs:element name="AdditionalCustomerGroup1" minOccurs="0" type="xs:string"/>
                    <xs:element name="AdditionalCustomerGroup2" minOccurs="0" type="xs:string"/>
                    <xs:element name="AdditionalCustomerGroup3" minOccurs="0" type="xs:string"/>
                    <xs:element name="AdditionalCustomerGroup4" minOccurs="0" type="xs:string"/>
                    <xs:element name="AdditionalCustomerGroup5" minOccurs="0" type="xs:string"/>
                    <xs:element name="SlsDocIsRlvtForProofOfDeliv" minOccurs="0" type="xs:boolean" />
                    <xs:element name="CustomerTaxClassification1" minOccurs="0" type="xs:string"/>
                    <xs:element name="CustomerTaxClassification2" minOccurs="0" type="xs:string"/>
                    <xs:element name="CustomerTaxClassification3" minOccurs="0" type="xs:string"/>
                    <xs:element name="CustomerTaxClassification4" minOccurs="0" type="xs:string"/>
                    <xs:element name="CustomerTaxClassification5" minOccurs="0" type="xs:string"/>
                    <xs:element name="CustomerTaxClassification6" minOccurs="0" type="xs:string"/>
                    <xs:element name="CustomerTaxClassification7" minOccurs="0" type="xs:string"/>
                    <xs:element name="CustomerTaxClassification8" minOccurs="0" type="xs:string"/>
                    <xs:element name="CustomerTaxClassification9" minOccurs="0" type="xs:string"/>
                    <xs:element name="TaxDepartureCountry" minOccurs="0" type="xs:string"/>
                    <xs:element name="VATRegistrationCountry" minOccurs="0" type="xs:string"/>
                    <xs:element name="SalesOrderApprovalReason" minOccurs="0" type="xs:string"/>
                    <xs:element name="SalesDocApprovalStatus" minOccurs="0" type="xs:string"/>
                    <xs:element name="OverallSDProcessStatus" minOccurs="0" type="xs:string"/>
                    <xs:element name="TotalCreditCheckStatus" minOccurs="0" type="xs:string"/>
                    <xs:element name="OverallTotalDeliveryStatus" minOccurs="0" type="xs:string"/>
                    <xs:element name="OverallSDDocumentRejectionSts" minOccurs="0" type="xs:string"/>
                    <xs:element name="BillingDocumentDate" minOccurs="0" type="xs:string" />
                    <xs:element name="ContractAccount" />
                    <xs:element name="AdditionalValueDays" minOccurs="0" type="xs:string" />
                    <xs:element name="CustomerPurchaseOrderSuplmnt" minOccurs="0" type="xs:string"/>
                    <xs:element name="ServicesRenderedDate" minOccurs="0" type="xs:string"/>
                    <xs:element name="to_RelatedObject">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="__deferred">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="uri" minOccurs="0" type="xs:string" />
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="ApprovalRelevance" minOccurs="0" type="xs:string" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="History" minOccurs="0" type="xs:string"/>
              <xs:element name="Status" minOccurs="0" type="xs:string"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>