Resources/schemas/Xsd/SAP_S-4HANA_Cloud_Public_Edition_Integration_with_Shopify - shopify_order_with_fulfilled_line_items.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="root">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="products" minOccurs="1" maxOccurs="unbounded">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="shopifyOrderLineItemID" type="xs:string" />
              <xs:element name="shopifyRemainingQuantity" type="xs:integer" />
              <xs:element name="s4FulfilledQuantity" type="xs:integer" />
              <xs:element name="shopifySKU" type="xs:string" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
	<xs:element name="fulfilledProductsInDeliveryDocument" minOccurs="1" maxOccurs="unbounded">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="shopifyOrderLineItemID" type="xs:string" />
              <xs:element name="shopifyRemainingQuantity" type="xs:integer" />
              <xs:element name="s4FulfilledQuantity" type="xs:integer" />
              <xs:element name="shopifySKU" type="xs:string" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="shopifyOrderIDTrimmed" type="s4HanaCloudOrderID" />
        <xs:element name="shopifyFulfillmentOrderID" type="xs:string" />
        <xs:element name="s4HanaCloudOrderID" type="xs:string" />
        <xs:element name="s4OutboundDeliveryDocument" type="xs:string" minOccurs="1" maxOccurs="1"/>
        <xs:element name="shopifyOrderID" type="xs:string" />
	<xs:element name="alreadyLinkedS4HanaCloudOutboundDeliveries" type="xs:string" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>