Resources/schemas/Xsd/SAP_SuccessFactors_Talent_Intelligence_Hub_Integration_with_Cobrainer_Job_Architecture - sfsfTIHAttributesImport-2.xsd

<?xml version="1.0" encoding="UTF-8"?><!-- Created with Liquid Technologies Online Tools 1.0 (https://www.liquid-technologies.com) --><xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="qualified">
  <xs:element name="AttributeEntity">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" name="AttributeEntity">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="defaultLocale" type="xs:string"/>
              <xs:element name="externalId" type="xs:string"/>
              <xs:element name="name" type="xs:string"/>
              <xs:element name="description" type="xs:string"/>
              <xs:element name="type" type="xs:string"/>
              <xs:element name="status" type="xs:string"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>