Resources/schemas/Xsd/SAP_Business_ByDesign_Master_Data_to_SAP_S-4HANA_Cloud_Public_Edition - S4H_XSD.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="ServiceContract">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Header" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="SERVICECONTRACT"/>
              <xs:element type="xs:string" name="SERVICECONTRACTTYPE"/>
              <xs:element type="xs:string" name="SERVICECONTRACTDESCRIPTION"/>
              <xs:element type="xs:string" name="LANGUAGE"/>
              <xs:element type="xs:string" name="TRANSACTIONCURRENCY"/>
              <xs:element type="xs:string" name="REFERENCESERVICECONTRACT"/>
              <xs:element type="xs:string" name="SOLDTOPARTY"/>
              <xs:element type="xs:string" name="SHIPTOPARTY"/>
              <xs:element type="xs:string" name="BILLTOPARTY"/>
              <xs:element type="xs:string" name="PAYERPARTY"/>
              <xs:element type="xs:string" name="CONTACTPERSON"/>
              <xs:element type="xs:string" name="PERSONRESPONSIBLE"/>
              <xs:element type="xs:string" name="SERVICECONTRACTSTARTDATE"/>
              <xs:element type="xs:string" name="SERVICECONTRACTSTARTTIME"/>
              <xs:element type="xs:string" name="SERVICECONTRACTSTARTTIMEZONE"/>
              <xs:element type="xs:string" name="SERVICECONTRACTENDDATE"/>
              <xs:element type="xs:string" name="SERVICECONTRACTENDTIME"/>
              <xs:element type="xs:string" name="SERVICECONTRACTENDTIMEZONE"/>
              <xs:element type="xs:string" name="PURCHASEORDERBYCUSTOMER"/>
              <xs:element type="xs:string" name="CUSTOMERPURCHASEORDERDATE"/>
              <xs:element type="xs:string" name="SALESORGANIZATION"/>
              <xs:element type="xs:string" name="DISTRIBUTIONCHANNEL"/>
              <xs:element type="xs:string" name="DIVISION"/>
              <xs:element type="xs:string" name="SALESOFFICE"/>
              <xs:element type="xs:string" name="SALESGROUP"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="HeaderNotes" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="SERVICECONTRACT"/>
              <xs:element type="xs:string" name="LONGTEXTID"/>
              <xs:element type="xs:string" name="LANGUAGE"/>
              <xs:element type="xs:string" name="LONGTEXT"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="Item" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="SERVICECONTRACT"/>
              <xs:element type="xs:string" name="SERVICECONTRACTITEM"/>
              <xs:element type="xs:string" name="SERVICECONTRACTITEMCATEGORY"/>
              <xs:element type="xs:string" name="SERVICEORDERITEMDESCRIPTION"/>
              <xs:element type="xs:string" name="LANGUAGE"/>
              <xs:element type="xs:string" name="PRODUCT"/>
              <xs:element type="xs:string" name="QUANTITY"/>
              <xs:element type="xs:string" name="QUANTITYUNIT"/>
              <xs:element type="xs:string" name="SERVICECONTRITEMSTARTDATE"/>
              <xs:element type="xs:string" name="SERVICECONTRITEMSTARTTIME"/>
              <xs:element type="xs:string" name="SERVICECONTRITEMSTARTDATETIME"/>
              <xs:element type="xs:string" name="SERVICECONTRITEMENDDATE"/>
              <xs:element type="xs:string" name="SERVICECONTRITEMENDTIME"/>
              <xs:element type="xs:string" name="SERVICECONTRITEMENDDATETIME"/>
              <xs:element type="xs:string" name="SOLDTOPARTY"/>
              <xs:element type="xs:string" name="SHIPTOPARTY"/>
              <xs:element type="xs:string" name="BILLTOPARTY"/>
              <xs:element type="xs:string" name="PAYERPARTY"/>
              <xs:element type="xs:string" name="PERSONRESPONSIBLE"/>
              <xs:element type="xs:string" name="REFERENCESERVICECONTRACT"/>
              <xs:element type="xs:string" name="REFERENCESERVICECONTRACTITEM"/>
              <xs:element type="xs:string" name="BILLINGPLANBILLINGDATERULE"/>
              <xs:element type="xs:string" name="SETTLEMENTPERIODRULE"/>
              <xs:element type="xs:string" name="SRVCCONTRITEMRNWLDURATION"/>
              <xs:element type="xs:string" name="SRVCCONTRITEMRNWLDURATIONUNIT"/>
              <xs:element type="xs:string" name="SRVCCONTRITEMEXTENSIONDURATION"/>
              <xs:element type="xs:string" name="SRVCCONTRITEMEXTNDURATIONUNIT"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="ItemPriceElements" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="SERVICECONTRACT"/>
              <xs:element type="xs:string" name="SERVICECONTRACTITEM"/>
              <xs:element type="xs:string" name="PRICINGPROCEDURESTEP"/>
              <xs:element type="xs:string" name="PRICINGPROCEDURECOUNTER"/>
              <xs:element type="xs:string" name="CONDITIONTYPE"/>
              <xs:element type="xs:string" name="CONDITIONRATEVALUE"/>
              <xs:element type="xs:string" name="CONDITIONCURRENCY"/>
              <xs:element type="xs:string" name="CONDITIONQUANTITY"/>
              <xs:element type="xs:string" name="CONDITIONQUANTITYUNIT"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="ItemNotes" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="SERVICECONTRACT"/>
              <xs:element type="xs:string" name="SERVICECONTRACTITEM"/>
              <xs:element type="xs:string" name="LONGTEXTID"/>
              <xs:element type="xs:string" name="LANGUAGE"/>
              <xs:element type="xs:string" name="LONGTEXT"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="ItemProductList" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="SERVICECONTRACT"/>
              <xs:element type="xs:string" name="SERVICECONTRACTITEM"/>
              <xs:element type="xs:string" name="SRVCPRODUCTLISTPRODUCT"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="ItemObjectList" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="SERVICECONTRACT"/>
              <xs:element type="xs:string" name="SERVICECONTRACTITEM"/>
              <xs:element type="xs:string" name="PRODUCT"/>
              <xs:element type="xs:string" name="SERVICEREFERENCEEQUIPMENT"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>