Resources/schemas/Xsd/SAP_SuccessFactors_Recruiting_Management_Integration_with_Saudi_Arabia's_Ministry_of_Interior - MOI_NationalId_Source.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- Created with Liquid Technologies Online Tools 1.0 (https://www.liquid-technologies.com) -->
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="root">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="DateOfBirth" type="xs:unsignedInt" />
        <xs:element name="FamilyName" type="xs:string" />
        <xs:element name="FatherName" type="xs:string" />
        <xs:element name="FirstName" type="xs:string" />
        <xs:element name="GrandFatherName" type="xs:string" />
        <xs:element name="HafizaNumber" type="xs:unsignedShort" />
        <xs:element name="NationalID" type="xs:unsignedInt" />
        <xs:element name="NationalIdExpiryDate" type="xs:unsignedInt" />
        <xs:element name="NationalIdIssueDate" type="xs:unsignedByte" />
        <xs:element name="NationalIdIssuePlaceCode" type="xs:unsignedShort" />
        <xs:element name="NationalIdIssuePlaceDescription" type="xs:string" />
        <xs:element name="PlaceOfBirth" type="xs:string" />
        <xs:element name="RequestTimeStamp" type="xs:string" />
        <xs:element name="ResponseTimeStamp" />
        <xs:element name="SubTribeName" />
        <xs:element name="applicationId" type="xs:unsignedInt" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>