Resources/schemas/Xsd/SAP_Build_Process_Automation_Integration_with_SAP_S-4HANA_for_Joint_Venture_Cash_Call - Custom RFC.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="unqualified" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:sap-com:document:sap:rfc:functions">
  <xs:element name="RFCNAME">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="COMPANY" type="xs:string" />
  <xs:element name="EFF_DATE" type="xs:string" />
  <xs:element name="POSTDATE" type="xs:string" />
  <xs:element name="PERIOD" type="xs:string" />
  <xs:element name="BAT_NUM" type="xs:string" />
  <xs:element name="IT_T8J4B">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" name="item">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="BUKRS" type="xs:string" />
              <xs:element name="BATCH" type="xs:string" />
              <xs:element name="JVFUNC" type="xs:string" />
              <xs:element name="PARTN" type="xs:string" />
              <xs:element name="VNAME" type="xs:string" />
              <xs:element name="EGRUP" type="xs:string" />
              <xs:element name="FCURR" type="xs:string" />
              <xs:element name="POS_POM" type="xs:string" />
              <xs:element name="STATUS" type="xs:string" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>