Resources/schemas/Xsd/SAP_Customer_Relationship_Management_Integration_with_SAP_Field_Service_Management - Address2.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema" >

  <xs:element name="BusinessPartner" type="BusinessPartnerType"  />

  <xs:complexType name="AddressType1">
    <xs:sequence>
          <xs:element type="AddressType" name="Address" maxOccurs="unbounded" minOccurs="0"/>
        <xs:element type="xs:string" name="ExternalID" maxOccurs="unbounded" minOccurs="0"/>
  </xs:sequence>
  </xs:complexType>

  <xs:complexType name="AddressType">
    <xs:sequence>
      <xs:element type="xs:string" name="block" maxOccurs="unbounded" minOccurs="0" />
      <xs:element type="xs:string" name="building" maxOccurs="unbounded" minOccurs="0"/>
      <xs:element type="xs:string" name="city" maxOccurs="unbounded" minOccurs="0"/>
      <xs:element type="xs:string" name="country" maxOccurs="unbounded" minOccurs="0"/>
      <xs:element type="xs:string" name="county" maxOccurs="unbounded" minOccurs="0"/>
      <xs:element type="xs:string" name="defaultAddress" maxOccurs="unbounded" minOccurs="0"/>
      <xs:element type="xs:short" name="externalId" maxOccurs="unbounded" minOccurs="0"/>
      <xs:element type="xs:string" name="inactive" maxOccurs="unbounded" minOccurs="0"/>
      <xs:element type="xs:string" name="floor" maxOccurs="unbounded" minOccurs="0"/>
      <xs:element type="xs:string" name="name" maxOccurs="unbounded" minOccurs="0"/>
      <xs:element type="xs:string" name="name2" maxOccurs="unbounded" minOccurs="0"/>
      <xs:element type="xs:string" name="name3" maxOccurs="unbounded" minOccurs="0"/>
 
      <xs:element name="object">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="objectId" maxOccurs="unbounded" minOccurs="0">
              <xs:complexType>
                <xs:sequence>
                  <xs:element type="xs:short" name="externalId"  maxOccurs="unbounded"/>
                </xs:sequence>
              </xs:complexType>
            </xs:element>
            <xs:element type="xs:string" name="objectType"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element type="xs:string" name="postOfficeBox" maxOccurs="unbounded" minOccurs="0"/>
      <xs:element type="xs:string" name="remarks" maxOccurs="unbounded" minOccurs="0"/>
      <xs:element type="xs:string" name="room" maxOccurs="unbounded" minOccurs="0"/>
      <xs:element type="xs:string" name="state" maxOccurs="unbounded" minOccurs="0"/>
      <xs:element type="xs:string" name="street" maxOccurs="unbounded" minOccurs="0"/>
      <xs:element type="xs:short" name="streetNo" maxOccurs="unbounded" minOccurs="0"/>
      <xs:element type="xs:short" name="type" maxOccurs="unbounded" minOccurs="0"/>
      <xs:element type="xs:short" name="zipCode" maxOccurs="unbounded" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="BusinessPartnerType">
    <xs:sequence>
     
      <xs:element type="AddressType1" name="MultiAddress" maxOccurs="unbounded" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  
</xs:schema>




