Resources/schemas/Xsd/SAP_SuccessFactors_Employee_Central_Integration_with_Third-Party_Time_Vendor_-_Kronos - TerritoryEntityGET0.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?><xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema"><xs:element name="Territory"><xs:complexType><xs:sequence><xs:element minOccurs="1" maxOccurs="unbounded" name="Territory"><xs:complexType><xs:sequence><xs:element nillable="true" minOccurs="0" maxOccurs="unbounded" name="territoryName"><xs:simpleType><xs:restriction base="xs:string" xmlns=""><xs:maxLength value="512"/></xs:restriction></xs:simpleType></xs:element><xs:element nillable="false" maxOccurs="unbounded" name="territoryCode"><xs:simpleType><xs:restriction base="xs:string" xmlns=""><xs:maxLength value="32"/></xs:restriction></xs:simpleType></xs:element></xs:sequence></xs:complexType></xs:element></xs:sequence></xs:complexType></xs:element></xs:schema>