Resources/schemas/Xsd/SAP_Business_One_Master_Data_Transformation_to_SAP_S-4HANA_Cloud_Public_Edition - B1_XSD_Supplier.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Supplier">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="GeneralData" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="BP_Code"/>
              <xs:element type="xs:string" name="BP_Type"/>
              <xs:element type="xs:string" name="Group_Code"/>
              <xs:element type="xs:string" name="Accounts_Receivable_Payable"/>
              <xs:element type="xs:string" name="BP_Name"/>
              <xs:element type="xs:string" name="Foreign_Name"/>
              <xs:element type="xs:string" name="Contact_Person_Name"/>
              <xs:element type="xs:string" name="First_Name"/>
              <xs:element type="xs:string" name="Last_Name"/>
              <xs:element type="xs:string" name="Gender"/>
              <xs:element type="xs:string" name="Title"/>
              <xs:element type="xs:string" name="Date_of_Birth"/>
              <xs:element type="xs:string" name="Place_of_Birth"/>
              <xs:element type="xs:string" name="Middle_Name"/>
              <xs:element type="xs:string" name="Profession"/>
              <xs:element type="xs:string" name="Address"/>
              <xs:element type="xs:string" name="Tax_ID_0"/>
              <xs:element type="xs:string" name="Address_Type"/>
              <xs:element type="xs:string" name="E.C.C._No."/>
              <xs:element type="xs:string" name="C.E._Registration_No."/>
              <xs:element type="xs:string" name="C.E._Range"/>
              <xs:element type="xs:string" name="C.E._Division"/>
              <xs:element type="xs:string" name="C.E._Commisionerate"/>
              <xs:element type="xs:string" name="Date_of_Update_from_SEFAZ"/>
              <xs:element type="xs:string" name="Tax_ID_9"/>
              <xs:element type="xs:string" name="Tax_ID_11"/>
              <xs:element type="xs:string" name="Tax_ID_12"/>
              <xs:element type="xs:string" name="Deductee_Ref._No._in_India"/>
              <xs:element type="xs:string" name="VAT_ID_Number"/>
              <xs:element type="xs:string" name="Address_Type"/>
              <xs:element type="xs:string" name="Address_Name"/>
              <xs:element type="xs:string" name="Address_Name_2"/>
              <xs:element type="xs:string" name="Address_Name_3"/>
              <xs:element type="xs:string" name="Building_Floor_Room"/>
              <xs:element type="xs:string" name="Block"/>
              <xs:element type="xs:string" name="Street"/>
              <xs:element type="xs:string" name="Street_No."/>
              <xs:element type="xs:string" name="City"/>
              <xs:element type="xs:string" name="Zip_Code"/>
              <xs:element type="xs:string" name="State"/>
              <xs:element type="xs:string" name="Country_Region"/>
              <xs:element type="xs:string" name="Tax_Code"/>
              <xs:element type="xs:string" name="GST_Type"/>
              <xs:element type="xs:string" name="GSTIN"/>
              <xs:element type="xs:string" name="Type_of_Business"/>
              <xs:element type="xs:string" name="Telephone_1"/>
              <xs:element type="xs:string" name="Telephone_2"/>
              <xs:element type="xs:string" name="Fax_Number"/>
              <xs:element type="xs:string" name="Mobile_Phone"/>
              <xs:element type="xs:string" name="EMail"/>
              <xs:element type="xs:string" name="EORI_Number"/>
              <xs:element type="xs:string" name="Certificate_No."/>
              <xs:element type="xs:string" name="Registration_No."/>
              <xs:element type="xs:string" name="Expiration_Date"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="AdditionalAddresses" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="BP_Code"/>
              <xs:element type="xs:string" name="Address_Name"/>
              <xs:element type="xs:string" name="Address_Type"/>
              <xs:element type="xs:string" name="Building_Floor_Room"/>
              <xs:element type="xs:string" name="Address_Name_2"/>
              <xs:element type="xs:string" name="Address_Name_3"/>
              <xs:element type="xs:string" name="Block"/>
              <xs:element type="xs:string" name="Street"/>
              <xs:element type="xs:string" name="Street_No."/>
              <xs:element type="xs:string" name="City"/>
              <xs:element type="xs:string" name="Zip_Code"/>
              <xs:element type="xs:string" name="State"/>
              <xs:element type="xs:string" name="Country_Region"/>
              <xs:element type="xs:string" name="Telephone_1"/>
              <xs:element type="xs:string" name="Telephone_2"/>
              <xs:element type="xs:string" name="Mobile_Phone"/>
              <xs:element type="xs:string" name="EMail"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="AddressUsages" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="BP_Code"/>
              <xs:element type="xs:string" name="Address_Name"/>
              <xs:element type="xs:string" name="Address_Type"/>
	      <xs:element type="xs:string" name="Standard"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="GeneralTexts" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="BP_Code"/>
              <xs:element type="xs:string" name="Free_Text"/>
              <xs:element type="xs:string" name="Language_Code"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="CompanyData" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="BP_Code"/>
              <xs:element type="xs:string" name="Accounts_Receivable_Payable"/>
              <xs:element type="xs:string" name="Default_Account"/>
              <xs:element type="xs:string" name="Default_Bank_Key"/>
              <xs:element type="xs:string" name="Default_Branch"/>
              <xs:element type="xs:string" name="Planning_Group"/>
              <xs:element type="xs:string" name="Payment_Block"/>
              <xs:element type="xs:string" name="Payment_Block_Description"/>
              <xs:element type="xs:string" name="Group_Number"/>
              <xs:element type="xs:string" name="Payment_Method_Code"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="WithholdingTaxData" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="BP_Code"/>
              <xs:element type="xs:string" name="Tax_ID_0"/>
              <xs:element type="xs:string" name="WTax_Verification_No."/>
              <xs:element type="xs:string" name="Subject_to_Withholding_Tax"/>
              <xs:element type="xs:string" name="Withholding_Tax_Cat."/>
              <xs:element type="xs:string" name="Withholding_Shaam_Group"/>
              <xs:element type="xs:string" name="Certificate_No."/>
              <xs:element type="xs:string" name="Expiration_Date"/>
              <xs:element type="xs:string" name="Address_Type"/>
              <xs:element type="xs:string" name="WTax_Code"/>
              <xs:element type="xs:string" name="WTax_Name"/>
              <xs:element type="xs:string" name="Rate"/>
              <xs:element type="xs:string" name="Effective_From"/>
              <xs:element type="xs:string" name="Category"/>
              <xs:element type="xs:string" name="Account"/>
              <xs:element type="xs:string" name="Withholding_Type"/>
              <xs:element type="xs:string" name="Type"/>
              <xs:element type="xs:string" name="Return_Type"/>
              <xs:element type="xs:string" name="TDS_Type"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="PurchasingOrganizationData" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="BP_Code"/>
              <xs:element type="xs:string" name="Sales_Employee_Code"/>
              <xs:element type="xs:string" name="Mobile_Phone"/>
              <xs:element type="xs:string" name="Group_Number"/>
              <xs:element type="xs:string" name="BP_Currency"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="PartnerFunctions" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="BP_Code"/>
              <xs:element type="xs:string" name="Language_Code"/>
              <xs:element type="xs:string" name="Contact_Person"/>
              <xs:element type="xs:string" name="BP_Owner"/>
              <xs:element type="xs:string" name="Sales_Employee_Code"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="BankDetails" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="BP_Code"/>
              <xs:element type="xs:string" name="Country_Region"/>
              <xs:element type="xs:string" name="Bank_Internal_ID"/>
              <xs:element type="xs:string" name="Internal_Key"/>
              <xs:element type="xs:string" name="Bank_Code"/>
              <xs:element type="xs:string" name="Ctrl_Int._ID"/>
              <xs:element type="xs:string" name="Account_No."/>
              <xs:element type="xs:string" name="Bank_Account_Name"/>
              <xs:element type="xs:string" name="IBAN"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="Industries" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="BP_Code"/>
              <xs:element type="xs:string" name="Industry"/>
              <xs:element type="xs:string" name="IndustryCode"/>
              <xs:element type="xs:string" name="Instruction_Key"/>
              <xs:element type="xs:string" name="Industry_Name"/>
              <xs:element type="xs:string" name="Industry_Description"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="TaxClassification" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="BP_Code"/>
              <xs:element type="xs:string" name="Billto_Country_Region"/>
              <xs:element type="xs:string" name="Tax_Code"/>
              <xs:element type="xs:string" name="Tax_Group"/>
              <xs:element type="xs:string" name="VAT_ID_Number"/>
              <xs:element type="xs:string" name="Tax_Code"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="TaxNumbers" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="BP_Code"/>
              <xs:element type="xs:string" name="Tax_ID_Category"/>
              <xs:element type="xs:string" name="Federal_Tax_ID"/>
              <xs:element type="xs:string" name="VAT_ID_Number"/>
              <xs:element type="xs:string" name="Billto_Country_Region"/>
              <xs:element type="xs:string" name="Tax_Code"/>
              <xs:element type="xs:string" name="Tax_Definition"/>
              <xs:element type="xs:string" name="Code"/>
              <xs:element type="xs:string" name="Name"/>
              <xs:element type="xs:string" name="Rate_"/>
              <xs:element type="xs:string" name="Category"/>
              <xs:element type="xs:string" name="Effective_from"/>
              <xs:element type="xs:string" name="Tax_Type_VAT_or_Stamp"/>
              <xs:element type="xs:string" name="Tax_Type_Annual_List"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="ContactPerson" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="BP_Code"/>
              <xs:element type="xs:string" name="Title"/>
              <xs:element type="xs:string" name="Profession"/>
              <xs:element type="xs:string" name="Position"/>
              <xs:element type="xs:string" name="First_Name"/>
              <xs:element type="xs:string" name="Last_Name"/>
              <xs:element type="xs:string" name="Middle_Name"/>
              <xs:element type="xs:string" name="Contact_Person_Name"/>
              <xs:element type="xs:string" name="Date_of_Birth"/>
              <xs:element type="xs:string" name="City_of_Birth"/>
              <xs:element type="xs:string" name="Mobile_Phone"/>
              <xs:element type="xs:string" name="Fax"/>
              <xs:element type="xs:string" name="EMail"/>
              <xs:element type="xs:string" name="Address"/>
              <xs:element type="xs:string" name="Connected_Address_Type"/>
              <xs:element type="xs:string" name="Connected_Address"/>
              <xs:element type="xs:string" name="City_of_Residence"/>
              <xs:element type="xs:string" name="State_of_Residence"/>
              <xs:element type="xs:string" name="Country_Region_of_Residence"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>