Resources/schemas/Xsd/SAP_Hybris_Cloud_for_Customer_Integration_with_SAP_Hybris_as_a_Service - C4C-ProductCategoryHierarchy-3.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:element name="ProductCategoryHierarchy" type="ProductCategoryHierarchy"/>
  
  <xs:element name="ProductCategoryHierarchyDescription" type="ProductCategoryHierarchyDescription"/>

  <xs:complexType name="ProductCategoryHierarchy">
    <xs:sequence>
      <xs:element name="ETag" type="xs:string" minOccurs="0"/>
      <xs:element name="ExtensionFields" type="xs:string" minOccurs="0"/>
      <xs:element name="InternalID" type="xs:string" minOccurs="0"/>
      <xs:element name="ObjectID" type="xs:string" minOccurs="0"/>
      <xs:element name="ParentInternalID" type="xs:string" minOccurs="0"/>
      <xs:element name="ProductAssignmentAllowedIndicator" type="xs:boolean" minOccurs="0"/>
      <xs:element name="ProductCategoryHierarchyDescription" type="ProductCategoryHierarchyDescription" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
  
  <xs:complexType name="ProductCategoryHierarchyDescription">
    <xs:sequence>
      <xs:element name="Description" type="xs:string" minOccurs="0"/>
      <xs:element name="ETag" type="xs:string" minOccurs="0"/>
      <xs:element name="ExtensionFields" type="xs:string" minOccurs="0"/>
      <xs:element name="languageCode" type="xs:string" minOccurs="0"/>
      <xs:element name="languageCodeText" type="xs:string" minOccurs="0"/>
      <xs:element name="ObjectID" type="xs:string" minOccurs="0"/>
      <xs:element name="ParentObjectID" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>

