Resources/schemas/Xsd/SAP_SuccessFactors_Employee_Central_Integration_with_SAP_Concur - 305_xsd.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="root">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="Record" maxOccurs="unbounded" minOccurs="0">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="TrxType">
							  <xs:simpleType>
							    <xs:restriction base="xs:string">
							      <xs:maxLength value = "3"/>
							    </xs:restriction>
							  </xs:simpleType>
							</xs:element>
							<xs:element name="FirstName">
							  <xs:simpleType>
							    <xs:restriction base="xs:string">
							      <xs:maxLength value = "32"/>
							    </xs:restriction>
							  </xs:simpleType>
							</xs:element>
							<xs:element name="MiddleName">
							  <xs:simpleType>
							    <xs:restriction base="xs:string">
							      <xs:maxLength value = "32"/>
							    </xs:restriction>
							  </xs:simpleType>
							</xs:element>
							<xs:element name="LastName">
							  <xs:simpleType>
							    <xs:restriction base="xs:string">
							      <xs:maxLength value = "32"/>
							    </xs:restriction>
							  </xs:simpleType>
							</xs:element>
							<xs:element name="EmployeeID">
							  <xs:simpleType>
							    <xs:restriction base="xs:string">
							      <xs:maxLength value = "48"/>
							    </xs:restriction>
							  </xs:simpleType>
							</xs:element>
							<xs:element name="LoginID">
							  <xs:simpleType>
							    <xs:restriction base="xs:string">
							      <xs:maxLength value = "64"/>
							    </xs:restriction>
							  </xs:simpleType>
							</xs:element>
							<xs:element name="Password">
							  <xs:simpleType>
							    <xs:restriction base="xs:string">
							      <xs:maxLength value = "30"/>
							    </xs:restriction>
							  </xs:simpleType>
							</xs:element>
							<xs:element name="EmailAddress">
							  <xs:simpleType>
							    <xs:restriction base="xs:string">
							      <xs:maxLength value = "255"/>
							    </xs:restriction>
							  </xs:simpleType>
							</xs:element>
							<xs:element name="LocaleCode">
							  <xs:simpleType>
							    <xs:restriction base="xs:string">
							      <xs:maxLength value = "5"/>
							    </xs:restriction>
							  </xs:simpleType>
							</xs:element>
							<xs:element name="CountryCode">
							  <xs:simpleType>
							    <xs:restriction base="xs:string">
							      <xs:maxLength value = "3"/>
							    </xs:restriction>
							  </xs:simpleType>
							</xs:element>
							<xs:element name="CountrySubCode">
							  <xs:simpleType>
							    <xs:restriction base="xs:string">
							      <xs:maxLength value = "6"/>
							    </xs:restriction>
							  </xs:simpleType>
							</xs:element>
							<xs:element name="LedgerCode">
							  <xs:simpleType>
							    <xs:restriction base="xs:string">
							      <xs:maxLength value = "20"/>
							    </xs:restriction>
							  </xs:simpleType>
							</xs:element>
							<xs:element name="ReimbursementCRNCode">
							  <xs:simpleType>
							    <xs:restriction base="xs:string">
							      <xs:maxLength value = "6"/>
							    </xs:restriction>
							  </xs:simpleType>
							</xs:element>
							<xs:element name="CashAdvanceAccountCode">
							  <xs:simpleType>
							    <xs:restriction base="xs:string">
							      <xs:maxLength value = "20"/>
							    </xs:restriction>
							  </xs:simpleType>
							</xs:element>
							<xs:element name="Active">
							  <xs:simpleType>
							    <xs:restriction base="xs:string">
							      <xs:maxLength value = "1"/>
							    </xs:restriction>
							  </xs:simpleType>
							</xs:element>
							<xs:element name="OrgUnit1">
							  <xs:simpleType>
							    <xs:restriction base="xs:string">
							      <xs:maxLength value = "48"/>
							    </xs:restriction>
							  </xs:simpleType>
							</xs:element>
							<xs:element name="OrgUnit2">
							  <xs:simpleType>
							    <xs:restriction base="xs:string">
							      <xs:maxLength value = "48"/>
							    </xs:restriction>
							  </xs:simpleType>
							</xs:element>
							<xs:element name="OrgUnit3">
							  <xs:simpleType>
							    <xs:restriction base="xs:string">
							      <xs:maxLength value = "48"/>
							    </xs:restriction>
							  </xs:simpleType>
							</xs:element>
							<xs:element name="OrgUnit4">
							  <xs:simpleType>
							    <xs:restriction base="xs:string">
							      <xs:maxLength value = "48"/>
							    </xs:restriction>
							  </xs:simpleType>
							</xs:element>
							<xs:element name="OrgUnit5">
							  <xs:simpleType>
							    <xs:restriction base="xs:string">
							      <xs:maxLength value = "48"/>
							    </xs:restriction>
							  </xs:simpleType>
							</xs:element>
							<xs:element name="OrgUnit6">
							  <xs:simpleType>
							    <xs:restriction base="xs:string">
							      <xs:maxLength value = "48"/>
							    </xs:restriction>
							  </xs:simpleType>
							</xs:element>
							<xs:element name="Custom1">
							  <xs:simpleType>
							    <xs:restriction base="xs:string">
							      <xs:maxLength value = "48"/>
							    </xs:restriction>
							  </xs:simpleType>
							</xs:element>
							<xs:element name="Custom2">
							  <xs:simpleType>
							    <xs:restriction base="xs:string">
							      <xs:maxLength value = "48"/>
							    </xs:restriction>
							  </xs:simpleType>
							</xs:element>
							<xs:element name="Custom3">
							  <xs:simpleType>
							    <xs:restriction base="xs:string">
							      <xs:maxLength value = "48"/>
							    </xs:restriction>
							  </xs:simpleType>
							</xs:element>
							<xs:element name="Custom4">
							  <xs:simpleType>
							    <xs:restriction base="xs:string">
							      <xs:maxLength value = "48"/>
							    </xs:restriction>
							  </xs:simpleType>
							</xs:element>
							<xs:element name="Custom5">
							  <xs:simpleType>
							    <xs:restriction base="xs:string">
							      <xs:maxLength value = "48"/>
							    </xs:restriction>
							  </xs:simpleType>
							</xs:element>
							<xs:element name="Custom6">
							  <xs:simpleType>
							    <xs:restriction base="xs:string">
							      <xs:maxLength value = "48"/>
							    </xs:restriction>
							  </xs:simpleType>
							</xs:element>
							<xs:element name="Custom7">
							  <xs:simpleType>
							    <xs:restriction base="xs:string">
							      <xs:maxLength value = "48"/>
							    </xs:restriction>
							  </xs:simpleType>
							</xs:element>
							<xs:element name="Custom8">
							  <xs:simpleType>
							    <xs:restriction base="xs:string">
							      <xs:maxLength value = "48"/>
							    </xs:restriction>
							  </xs:simpleType>
							</xs:element>
							<xs:element name="Custom9">
							  <xs:simpleType>
							    <xs:restriction base="xs:string">
							      <xs:maxLength value = "48"/>
							    </xs:restriction>
							  </xs:simpleType>
							</xs:element>
							<xs:element name="Custom10">
							  <xs:simpleType>
							    <xs:restriction base="xs:string">
							      <xs:maxLength value = "48"/>
							    </xs:restriction>
							  </xs:simpleType>
							</xs:element>
							<xs:element name="Custom11">
							  <xs:simpleType>
							    <xs:restriction base="xs:string">
							      <xs:maxLength value = "48"/>
							    </xs:restriction>
							  </xs:simpleType>
							</xs:element>
							<xs:element name="Custom12">
							  <xs:simpleType>
							    <xs:restriction base="xs:string">
							      <xs:maxLength value = "48"/>
							    </xs:restriction>
							  </xs:simpleType>
							</xs:element>
							<xs:element name="Custom13">
							  <xs:simpleType>
							    <xs:restriction base="xs:string">
							      <xs:maxLength value = "48"/>
							    </xs:restriction>
							  </xs:simpleType>
							</xs:element>
							<xs:element name="Custom14">
							  <xs:simpleType>
							    <xs:restriction base="xs:string">
							      <xs:maxLength value = "48"/>
							    </xs:restriction>
							  </xs:simpleType>
							</xs:element>
							<xs:element name="Custom15">
							  <xs:simpleType>
							    <xs:restriction base="xs:string">
							      <xs:maxLength value = "48"/>
							    </xs:restriction>
							  </xs:simpleType>
							</xs:element>
							<xs:element name="Custom16">
							  <xs:simpleType>
							    <xs:restriction base="xs:string">
							      <xs:maxLength value = "48"/>
							    </xs:restriction>
							  </xs:simpleType>
							</xs:element>
							<xs:element name="Custom17">
							  <xs:simpleType>
							    <xs:restriction base="xs:string">
							      <xs:maxLength value = "48"/>
							    </xs:restriction>
							  </xs:simpleType>
							</xs:element>
							<xs:element name="Custom18">
							  <xs:simpleType>
							    <xs:restriction base="xs:string">
							      <xs:maxLength value = "48"/>
							    </xs:restriction>
							  </xs:simpleType>
							</xs:element>
							<xs:element name="Custom19">
							  <xs:simpleType>
							    <xs:restriction base="xs:string">
							      <xs:maxLength value = "48"/>
							    </xs:restriction>
							  </xs:simpleType>
							</xs:element>
							<xs:element name="Custom20">
							  <xs:simpleType>
							    <xs:restriction base="xs:string">
							      <xs:maxLength value = "48"/>
							    </xs:restriction>
							  </xs:simpleType>
							</xs:element>
							<xs:element name="Custom21">
							  <xs:simpleType>
							    <xs:restriction base="xs:string">
							      <xs:maxLength value = "48"/>
							    </xs:restriction>
							  </xs:simpleType>
							</xs:element>
							<xs:element name="EmailCashChanges">
							  <xs:simpleType>
							    <xs:restriction base="xs:string">
							      <xs:maxLength value = "1"/>
							    </xs:restriction>
							  </xs:simpleType>
							</xs:element>
							<xs:element name="EmailCashApproval">
							  <xs:simpleType>
							    <xs:restriction base="xs:string">
							      <xs:maxLength value = "1"/>
							    </xs:restriction>
							  </xs:simpleType>
							</xs:element>
							<xs:element name="EmailReportChanges">
							  <xs:simpleType>
							    <xs:restriction base="xs:string">
							      <xs:maxLength value = "1"/>
							    </xs:restriction>
							  </xs:simpleType>
							</xs:element>
							<xs:element name="EmailReportApproval">
							  <xs:simpleType>
							    <xs:restriction base="xs:string">
							      <xs:maxLength value = "1"/>
							    </xs:restriction>
							  </xs:simpleType>
							</xs:element>
							<xs:element name="PromptReportApprover">
							  <xs:simpleType>
							    <xs:restriction base="xs:string">
							      <xs:maxLength value = "1"/>
							    </xs:restriction>
							  </xs:simpleType>
							</xs:element>
							<xs:element name="EmailTravelChanges">
							  <xs:simpleType>
							    <xs:restriction base="xs:string">
							      <xs:maxLength value = "1"/>
							    </xs:restriction>
							  </xs:simpleType>
							</xs:element>
							<xs:element name="EmailTravelApproval">
							  <xs:simpleType>
							    <xs:restriction base="xs:string">
							      <xs:maxLength value = "1"/>
							    </xs:restriction>
							  </xs:simpleType>
							</xs:element>
							<xs:element name="PromptTravelRequestApprover">
							  <xs:simpleType>
							    <xs:restriction base="xs:string">
							      <xs:maxLength value = "1"/>
							    </xs:restriction>
							  </xs:simpleType>
							</xs:element>
							<xs:element name="EmailPaymentChanges">
							  <xs:simpleType>
							    <xs:restriction base="xs:string">
							      <xs:maxLength value = "1"/>
							    </xs:restriction>
							  </xs:simpleType>
							</xs:element>
							<xs:element name="EmailPaymentApproval">
							  <xs:simpleType>
							    <xs:restriction base="xs:string">
							      <xs:maxLength value = "1"/>
							    </xs:restriction>
							  </xs:simpleType>
							</xs:element>
							<xs:element name="PromptPaymentApprover">
							  <xs:simpleType>
							    <xs:restriction base="xs:string">
							      <xs:maxLength value = "1"/>
							    </xs:restriction>
							  </xs:simpleType>
							</xs:element>
							<xs:element name="PromptCompanyCardReport">
							  <xs:simpleType>
							    <xs:restriction base="xs:string">
							      <xs:maxLength value = "1"/>
							    </xs:restriction>
							  </xs:simpleType>
							</xs:element>
							<xs:element name="EmailCompanyCardTransactions">
							  <xs:simpleType>
							    <xs:restriction base="xs:string">
							      <xs:maxLength value = "1"/>
							    </xs:restriction>
							  </xs:simpleType>
							</xs:element>	
							<xs:element name="EmailFaxedReceiptsReceived">
							  <xs:simpleType>
							    <xs:restriction base="xs:string">
							      <xs:maxLength value = "1"/>
							    </xs:restriction>
							  </xs:simpleType>
							</xs:element>
							<xs:element name="DisplayHelp">
							  <xs:simpleType>
							    <xs:restriction base="xs:string">
							      <xs:maxLength value = "1"/>
							    </xs:restriction>
							  </xs:simpleType>
							</xs:element>
							<xs:element name="DisplayIntroductionPage">
							  <xs:simpleType>
							    <xs:restriction base="xs:string">
							      <xs:maxLength value = "1"/>
							    </xs:restriction>
							  </xs:simpleType>
							</xs:element>
							<xs:element name="EmployeeIDExpenseApprover">
							  <xs:simpleType>
							    <xs:restriction base="xs:string">
							      <xs:maxLength value = "48"/>
							    </xs:restriction>
							  </xs:simpleType>
							</xs:element>
							<xs:element name="EmployeeIDCashAdvanceApprover">
							  <xs:simpleType>
							    <xs:restriction base="xs:string">
							      <xs:maxLength value = "48"/>
							    </xs:restriction>
							  </xs:simpleType>
							</xs:element>
							<xs:element name="EmployeeIDRequestApprover">
							  <xs:simpleType>
							    <xs:restriction base="xs:string">
							      <xs:maxLength value = "48"/>
							    </xs:restriction>
							  </xs:simpleType>
							</xs:element>
							<xs:element name="EmployeeIDInvoiceApprover">
							  <xs:simpleType>
							    <xs:restriction base="xs:string">
							      <xs:maxLength value = "48"/>
							    </xs:restriction>
							  </xs:simpleType>
							</xs:element>
							<xs:element name="ExpenseUser">
							  <xs:simpleType>
							    <xs:restriction base="xs:string">
							      <xs:maxLength value = "1"/>
							    </xs:restriction>
							  </xs:simpleType>
							</xs:element>	
							<xs:element name="ExpenseCashAdvanceApprover">
							  <xs:simpleType>
							    <xs:restriction base="xs:string">
							      <xs:maxLength value = "1"/>
							    </xs:restriction>
							  </xs:simpleType>
							</xs:element>
							<xs:element name="CompanyCardAdmin">
							  <xs:simpleType>
							    <xs:restriction base="xs:string">
							      <xs:maxLength value = "1"/>
							    </xs:restriction>
							  </xs:simpleType>
							</xs:element>
							<xs:element name="FutureUse">
							  <xs:simpleType>
							    <xs:restriction base="xs:string">
							      <xs:maxLength value = "1"/>
							    </xs:restriction>
							  </xs:simpleType>
							</xs:element>
							<xs:element name="ReceiptProcessor">
							  <xs:simpleType>
							    <xs:restriction base="xs:string">
							      <xs:maxLength value = "1"/>
							    </xs:restriction>
							  </xs:simpleType>
							</xs:element>
							<xs:element name="FutureUse0">
							  <xs:simpleType>
							    <xs:restriction base="xs:string">
							      <xs:maxLength value = "1"/>
							    </xs:restriction>
							  </xs:simpleType>
							</xs:element>
							<xs:element name="ImportExtractMonitor">
							  <xs:simpleType>
							    <xs:restriction base="xs:string">
							      <xs:maxLength value = "1"/>
							    </xs:restriction>
							  </xs:simpleType>
							</xs:element>
							<xs:element name="CompanyInfoAdmin">
							  <xs:simpleType>
							    <xs:restriction base="xs:string">
							      <xs:maxLength value = "1"/>
							    </xs:restriction>
							  </xs:simpleType>
							</xs:element>
							<xs:element name="OfflineUser">
							  <xs:simpleType>
							    <xs:restriction base="xs:string">
							      <xs:maxLength value = "1"/>
							    </xs:restriction>
							  </xs:simpleType>
							</xs:element>
							<xs:element name="ReportingConfigAdmin">
							  <xs:simpleType>
							    <xs:restriction base="xs:string">
							      <xs:maxLength value = "1"/>
							    </xs:restriction>
							  </xs:simpleType>
							</xs:element>
							<xs:element name="InvoiceUser">
							  <xs:simpleType>
							    <xs:restriction base="xs:string">
							      <xs:maxLength value = "1"/>
							    </xs:restriction>
							  </xs:simpleType>
							</xs:element>
							<xs:element name="InvoiceApprover">
							  <xs:simpleType>
							    <xs:restriction base="xs:string">
							      <xs:maxLength value = "1"/>
							    </xs:restriction>
							  </xs:simpleType>
							</xs:element>
							<xs:element name="InvoiceVendorManager">
							  <xs:simpleType>
							    <xs:restriction base="xs:string">
							      <xs:maxLength value = "1"/>
							    </xs:restriction>
							  </xs:simpleType>
							</xs:element>
							<xs:element name="ExpenseAuditRequired">
							  <xs:simpleType>
							    <xs:restriction base="xs:string">
							      <xs:maxLength value = "1"/>
							    </xs:restriction>
							  </xs:simpleType>
							</xs:element>
							<xs:element name="BIManagerEmployeeID">
							  <xs:simpleType>
							    <xs:restriction base="xs:string">
							      <xs:maxLength value = "48"/>
							    </xs:restriction>
							  </xs:simpleType>
							</xs:element>
							<xs:element name="RequestUser">
							  <xs:simpleType>
							    <xs:restriction base="xs:string">
							      <xs:maxLength value = "1"/>
							    </xs:restriction>
							  </xs:simpleType>
							</xs:element>
							<xs:element name="RequestApprover">
							  <xs:simpleType>
							    <xs:restriction base="xs:string">
							      <xs:maxLength value = "1"/>
							    </xs:restriction>
							  </xs:simpleType>
							</xs:element>
							<xs:element name="ExpenseReportApproverEmployeeID2">
							  <xs:simpleType>
							    <xs:restriction base="xs:string">
							      <xs:maxLength value = "1"/>
							    </xs:restriction>
							  </xs:simpleType>
							</xs:element>
							<xs:element name="PaymentRequestAssigned">
							  <xs:simpleType>
							    <xs:restriction base="xs:string">
							      <xs:maxLength value = "1"/>
							    </xs:restriction>
							  </xs:simpleType>
							</xs:element>
							<xs:element name="FutureUse1">
							  <xs:simpleType>
							    <xs:restriction base="xs:string">
							      <xs:maxLength value = "1"/>
							    </xs:restriction>
							  </xs:simpleType>
							</xs:element>
							<xs:element name="FutureUse2">
							  <xs:simpleType>
							    <xs:restriction base="xs:string">
							      <xs:maxLength value = "1"/>
							    </xs:restriction>
							  </xs:simpleType>
							</xs:element>
							<xs:element name="TaxAdmin">
							  <xs:simpleType>
							    <xs:restriction base="xs:string">
							      <xs:maxLength value = "1"/>
							    </xs:restriction>
							  </xs:simpleType>
							</xs:element>
							<xs:element name="FTBAdmin">
							  <xs:simpleType>
							    <xs:restriction base="xs:string">
							      <xs:maxLength value = "1"/>
							    </xs:restriction>
							  </xs:simpleType>
							</xs:element>
							<xs:element name="TravelWizardUser">
							  <xs:simpleType>
							    <xs:restriction base="xs:string">
							      <xs:maxLength value = "1"/>
							    </xs:restriction>
							  </xs:simpleType>
							</xs:element>
							<xs:element name="Custom22ConcurInvoiceGroupHierarchy">
							  <xs:simpleType>
							    <xs:restriction base="xs:string">
							      <xs:maxLength value = "1"/>
							    </xs:restriction>
							  </xs:simpleType>
							</xs:element>
							<xs:element name="RequestApproverEmployeeID2">
							  <xs:simpleType>
							    <xs:restriction base="xs:string">
							      <xs:maxLength value = "1"/>
							    </xs:restriction>
							  </xs:simpleType>
							</xs:element>
							<xs:element name="IsNonEmployee">
							  <xs:simpleType>
							    <xs:restriction base="xs:string">
							      <xs:maxLength value = "1"/>
							    </xs:restriction>
							  </xs:simpleType>
							</xs:element>	
							<xs:element name="ReimbursementType">
							  <xs:simpleType>
							    <xs:restriction base="xs:string">
							      <xs:maxLength value = "7"/>
							    </xs:restriction>
							  </xs:simpleType>
							</xs:element>
							<xs:element name="ADPEmployeeID">
							  <xs:simpleType>
							    <xs:restriction base="xs:string">
							      <xs:maxLength value = "48"/>
							    </xs:restriction>
							  </xs:simpleType>
							</xs:element>
							<xs:element name="ADPCompanyCode">
							  <xs:simpleType>
							    <xs:restriction base="xs:string">
							      <xs:maxLength value = "48"/>
							    </xs:restriction>
							  </xs:simpleType>
							</xs:element>
							<xs:element name="ADPDeduction1Code">
							  <xs:simpleType>
							    <xs:restriction base="xs:string">
							      <xs:maxLength value = "48"/>
							    </xs:restriction>
							  </xs:simpleType>
							</xs:element>
							<xs:element name="BudgetManagerEmployeeID">
							  <xs:simpleType>
							    <xs:restriction base="xs:string">
							      <xs:maxLength value = "48"/>
							    </xs:restriction>
							  </xs:simpleType>
							</xs:element>
							<xs:element name="BudgetOwner">
							  <xs:simpleType>
							    <xs:restriction base="xs:string">
							      <xs:maxLength value = "1"/>
							    </xs:restriction>
							  </xs:simpleType>
							</xs:element>
							<xs:element name="BudgetViewer">
							  <xs:simpleType>
							    <xs:restriction base="xs:string">
							      <xs:maxLength value = "1"/>
							    </xs:restriction>
							  </xs:simpleType>
							</xs:element>
							<xs:element name="BudgetApprover">
							  <xs:simpleType>
							    <xs:restriction base="xs:string">
							      <xs:maxLength value = "1"/>
							    </xs:restriction>
							  </xs:simpleType>
							</xs:element>
							<xs:element name="BudgetAdmin">
							  <xs:simpleType>
							    <xs:restriction base="xs:string">
							      <xs:maxLength value = "1"/>
							    </xs:restriction>
							  </xs:simpleType>
							</xs:element>	
							<xs:element name="FutureUse12">
							  <xs:simpleType>
							    <xs:restriction base="xs:string">
							      <xs:maxLength value = "48"/>
							    </xs:restriction>
							  </xs:simpleType>
							</xs:element>
							<xs:element name="FutureUse13">
							  <xs:simpleType>
							    <xs:restriction base="xs:string">
							      <xs:maxLength value = "48"/>
							    </xs:restriction>
							  </xs:simpleType>
							</xs:element>
							<xs:element name="FutureUse14">
							  <xs:simpleType>
							    <xs:restriction base="xs:string">
							      <xs:maxLength value = "48"/>
							    </xs:restriction>
							  </xs:simpleType>
							</xs:element>
							<xs:element name="FutureUse15">
							  <xs:simpleType>
							    <xs:restriction base="xs:string">
							      <xs:maxLength value = "48"/>
							    </xs:restriction>
							  </xs:simpleType>
							</xs:element>
							<xs:element name="FutureUse16">
							  <xs:simpleType>
							    <xs:restriction base="xs:string">
							      <xs:maxLength value = "48"/>
							    </xs:restriction>
							  </xs:simpleType>
							</xs:element>
							<xs:element name="FutureUse17">
							  <xs:simpleType>
							    <xs:restriction base="xs:string">
							      <xs:maxLength value = "48"/>
							    </xs:restriction>
							  </xs:simpleType>
							</xs:element>
							<xs:element name="FutureUse18">
							  <xs:simpleType>
							    <xs:restriction base="xs:string">
							      <xs:maxLength value = "48"/>
							    </xs:restriction>
							  </xs:simpleType>
							</xs:element>
							<xs:element name="FutureUse19">
							  <xs:simpleType>
							    <xs:restriction base="xs:string">
							      <xs:maxLength value = "48"/>
							    </xs:restriction>
							  </xs:simpleType>
							</xs:element>
							<xs:element name="FutureUse20">
							  <xs:simpleType>
							    <xs:restriction base="xs:string">
							      <xs:maxLength value = "48"/>
							    </xs:restriction>
							  </xs:simpleType>
							</xs:element>
							<xs:element name="FutureUse21">
							  <xs:simpleType>
							    <xs:restriction base="xs:string">
							      <xs:maxLength value = "48"/>
							    </xs:restriction>
							  </xs:simpleType>
							</xs:element>
							<xs:element name="FutureUse22">
							  <xs:simpleType>
							    <xs:restriction base="xs:string">
							      <xs:maxLength value = "48"/>
							    </xs:restriction>
							  </xs:simpleType>
							</xs:element>
							<xs:element name="FutureUse23">
							  <xs:simpleType>
							    <xs:restriction base="xs:string">
							      <xs:maxLength value = "48"/>
							    </xs:restriction>
							  </xs:simpleType>
							</xs:element>
							<xs:element name="FutureUse24">
							  <xs:simpleType>
							    <xs:restriction base="xs:string">
							      <xs:maxLength value = "48"/>
							    </xs:restriction>
							  </xs:simpleType>
							</xs:element>
							<xs:element name="FutureUse25">
							  <xs:simpleType>
							    <xs:restriction base="xs:string">
							      <xs:maxLength value = "48"/>
							    </xs:restriction>
							  </xs:simpleType>
							</xs:element>
							<xs:element name="FutureUse26">
							  <xs:simpleType>
							    <xs:restriction base="xs:string">
							      <xs:maxLength value = "48"/>
							    </xs:restriction>
							  </xs:simpleType>
							</xs:element>
							<xs:element name="FutureUse27">
							  <xs:simpleType>
							    <xs:restriction base="xs:string">
							      <xs:maxLength value = "48"/>
							    </xs:restriction>
							  </xs:simpleType>
							</xs:element>
							<xs:element name="FutureUse28">
							  <xs:simpleType>
							    <xs:restriction base="xs:string">
							      <xs:maxLength value = "48"/>
							    </xs:restriction>
							  </xs:simpleType>
							</xs:element>
							<xs:element name="FutureUse29">
							  <xs:simpleType>
							    <xs:restriction base="xs:string">
							      <xs:maxLength value = "48"/>
							    </xs:restriction>
							  </xs:simpleType>
							</xs:element>
							<xs:element name="FutureUse30">
							  <xs:simpleType>
							    <xs:restriction base="xs:string">
							      <xs:maxLength value = "48"/>
							    </xs:restriction>
							  </xs:simpleType>
							</xs:element>
							<xs:element name="FutureUse31">
							  <xs:simpleType>
							    <xs:restriction base="xs:string">
							      <xs:maxLength value = "48"/>
							    </xs:restriction>
							  </xs:simpleType>
							</xs:element>
							<xs:element name="FutureUse32">
							  <xs:simpleType>
							    <xs:restriction base="xs:string">
							      <xs:maxLength value = "48"/>
							    </xs:restriction>
							  </xs:simpleType>
							</xs:element>
							<xs:element name="FutureUse33">
							  <xs:simpleType>
							    <xs:restriction base="xs:string">
							      <xs:maxLength value = "48"/>
							    </xs:restriction>
							  </xs:simpleType>
							</xs:element>
							<xs:element name="FutureUse34">
							  <xs:simpleType>
							    <xs:restriction base="xs:string">
							      <xs:maxLength value = "48"/>
							    </xs:restriction>
							  </xs:simpleType>
							</xs:element>
							<xs:element name="FutureUse35">
							  <xs:simpleType>
							    <xs:restriction base="xs:string">
							      <xs:maxLength value = "48"/>
							    </xs:restriction>
							  </xs:simpleType>
							</xs:element>
							<xs:element name="FutureUse36">
							  <xs:simpleType>
							    <xs:restriction base="xs:string">
							      <xs:maxLength value = "48"/>
							    </xs:restriction>
							  </xs:simpleType>
							</xs:element>
							<xs:element name="FutureUse37">
							  <xs:simpleType>
							    <xs:restriction base="xs:string">
							      <xs:maxLength value = "48"/>
							    </xs:restriction>
							  </xs:simpleType>
							</xs:element>
							<xs:element name="FutureUse38">
							  <xs:simpleType>
							    <xs:restriction base="xs:string">
							      <xs:maxLength value = "48"/>
							    </xs:restriction>
							  </xs:simpleType>
							</xs:element>
							<xs:element name="FutureUse39">
							  <xs:simpleType>
							    <xs:restriction base="xs:string">
							      <xs:maxLength value = "48"/>
							    </xs:restriction>
							  </xs:simpleType>
							</xs:element>
							<xs:element name="FutureUse40">
							  <xs:simpleType>
							    <xs:restriction base="xs:string">
							      <xs:maxLength value = "48"/>
							    </xs:restriction>
							  </xs:simpleType>
							</xs:element>
							<xs:element name="FutureUse41">
							  <xs:simpleType>
							    <xs:restriction base="xs:string">
							      <xs:maxLength value = "48"/>
							    </xs:restriction>
							  </xs:simpleType>
							</xs:element>
							<xs:element name="FutureUse42">
							  <xs:simpleType>
							    <xs:restriction base="xs:string">
							      <xs:maxLength value = "48"/>
							    </xs:restriction>
							  </xs:simpleType>
							</xs:element>
							<xs:element name="FutureUse43">
							  <xs:simpleType>
							    <xs:restriction base="xs:string">
							      <xs:maxLength value = "48"/>
							    </xs:restriction>
							  </xs:simpleType>
							</xs:element>
							<xs:element name="FutureUse44">
							  <xs:simpleType>
							    <xs:restriction base="xs:string">
							      <xs:maxLength value = "48"/>
							    </xs:restriction>
							  </xs:simpleType>
							</xs:element>
							<xs:element name="FutureUse45">
							  <xs:simpleType>
							    <xs:restriction base="xs:string">
							      <xs:maxLength value = "48"/>
							    </xs:restriction>
							  </xs:simpleType>
							</xs:element>
							<xs:element name="FutureUse46">
							  <xs:simpleType>
							    <xs:restriction base="xs:string">
							      <xs:maxLength value = "48"/>
							    </xs:restriction>
							  </xs:simpleType>
							</xs:element>
							<xs:element name="FutureUse47">
							  <xs:simpleType>
							    <xs:restriction base="xs:string">
							      <xs:maxLength value = "48"/>
							    </xs:restriction>
							  </xs:simpleType>
							</xs:element>
							<xs:element name="FutureUse48">
							  <xs:simpleType>
							    <xs:restriction base="xs:string">
							      <xs:maxLength value = "48"/>
							    </xs:restriction>
							  </xs:simpleType>
							</xs:element>
							<xs:element name="FutureUse49">
							  <xs:simpleType>
							    <xs:restriction base="xs:string">
							      <xs:maxLength value = "48"/>
							    </xs:restriction>
							  </xs:simpleType>
							</xs:element>
							<xs:element name="FutureUse50">
							  <xs:simpleType>
							    <xs:restriction base="xs:string">
							      <xs:maxLength value = "48"/>
							    </xs:restriction>
							  </xs:simpleType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>