Resources/schemas/Xsd/SAP_Cloud_for_Customer_Integration_with_Identity_Provisioning_via_System_for_Cross-domain_Identity_Management - BatchChangeSetResponse.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="batchPartResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="batchChangeSetResponse">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="batchChangeSetPartResponse" maxOccurs="unbounded" minOccurs="0">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="headers">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element type="xs:string" name="Accept"/>
                          <xs:element type="xs:string" name="location" minOccurs="0"/>
                          <xs:element type="xs:string" name="Accept-Language"/>
                          <xs:element type="xs:short" name="Content-Length"/>
                          <xs:element type="xs:string" name="cache-control" minOccurs="0"/>
                          <xs:element type="xs:float" name="dataserviceversion"/>
                          <xs:element type="xs:string" name="Content-Type"/>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element type="xs:string" name="statusInfo"/>
                    <xs:element type="xs:string" name="contentId"/>
                    <xs:element name="body">
                      <xs:complexType mixed="true">
                        <xs:sequence>
                          <xs:element type="xs:string" name="BusinessRoleUUID" minOccurs="0"/>
                          <xs:element type="xs:string" name="UserName" minOccurs="0"/>
                          <xs:element type="xs:string" name="UserID" minOccurs="0"/>
                          <xs:element type="xs:string" name="BusinessRoleID" minOccurs="0"/>
                          <xs:element type="xs:string" name="UserUUID" minOccurs="0"/>
                          <xs:element type="xs:string" name="ParentObjectID" minOccurs="0"/>
                          <xs:element type="xs:string" name="EmployeeUUID" minOccurs="0"/>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element type="xs:short" name="statusCode"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
