Resources/schemas/Xsd/SAP_Build_Process_Automation_Integration_with_SAP_S-4HANA_for_Journal_Entry_Posting_Approval - inputData.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="journalEntryDetails">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="header">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="companyCode" minOccurs="0" maxOccurs="1" type="xs:string" />
              <xs:element name="journalEntryType" minOccurs="0" maxOccurs="1" type="xs:string" />
              <xs:element name="journalEntryDate" minOccurs="0" maxOccurs="1" type="xs:string" />
              <xs:element name="postingDate" minOccurs="0" maxOccurs="1" type="xs:string" />
              <xs:element name="fiscalperiod" minOccurs="0" maxOccurs="1" type="xs:string" />
              <xs:element name="documentHeaderText" minOccurs="0" maxOccurs="1" type="xs:string" />
              <xs:element name="transactionCurrency" minOccurs="0" maxOccurs="1" type="xs:string" />
              <xs:element name="ledgerGroup" minOccurs="0" maxOccurs="1" type="xs:string" />
              <xs:element name="exchangeRate" minOccurs="0" maxOccurs="1" type="xs:string" />
              <xs:element name="currencyTranslationDate" minOccurs="0" maxOccurs="1" type="xs:string" />
              <xs:element name="refDoctNum" minOccurs="0" maxOccurs="1" type="xs:string" />
              <xs:element name="partnerBusinessArea" minOccurs="0" maxOccurs="1" type="xs:string" />
              <xs:element name="calculateTaxAuto" minOccurs="0" maxOccurs="1" type="xs:string" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
              <xs:element name="AccountGL" minOccurs="0" maxOccurs="unbounded">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="items" minOccurs="0" maxOccurs="unbounded">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="itemNumber" minOccurs="0" maxOccurs="1" type="xs:string" />
                          <xs:element name="companyCode" minOccurs="0" maxOccurs="1" type="xs:string" />
                          <xs:element name="glAccount" minOccurs="0" maxOccurs="1" type="xs:string" />
                          <xs:element name="itemText" minOccurs="0" maxOccurs="1" type="xs:string" />
                          <xs:element name="debit" minOccurs="0" maxOccurs="1" type="xs:string" />
                          <xs:element name="credit" minOccurs="0" maxOccurs="1" type="xs:string" />
                          <xs:element name="amountinCompanyCodeCurrency" minOccurs="0" maxOccurs="1" type="xs:string" />
                          <xs:element name="amountInSecondLocalCurrency" minOccurs="0" maxOccurs="1" type="xs:string" />
                          <xs:element name="currency" minOccurs="0" maxOccurs="1" type="xs:string" />
                          <xs:element name="taxCode" minOccurs="0" maxOccurs="1" type="xs:string" />
                          <xs:element name="taxJurisdiction" minOccurs="0" maxOccurs="1" type="xs:string" />
                          <xs:element name="costCenter" minOccurs="0" maxOccurs="1" type="xs:string" />
                          <xs:element name="profitCenter" minOccurs="0" maxOccurs="1" type="xs:string" />
                          <xs:element name="orderNumber" minOccurs="0" maxOccurs="1" type="xs:string" />
                          <xs:element name="wbsElement" minOccurs="0" maxOccurs="1" type="xs:string" />
                          <xs:element name="valueDate" minOccurs="0" maxOccurs="1" type="xs:string" />
                          <xs:element name="houseBank" minOccurs="0" maxOccurs="1" type="xs:string" />
                          <xs:element name="houseBankAccount" minOccurs="0" maxOccurs="1" type="xs:string" />
                          <xs:element name="assignmentNumber" minOccurs="0" maxOccurs="1" type="xs:string" />
                          <xs:element name="tradingPartner" minOccurs="0" maxOccurs="1" type="xs:string" />
                          <xs:element name="segmentForSegmentalReporting" minOccurs="0" maxOccurs="1" type="xs:string" />
                          <xs:element name="customer" minOccurs="0" maxOccurs="1" type="xs:string" />
                          <xs:element name="productNumber" minOccurs="0" maxOccurs="1" type="xs:string" />
                          <xs:element name="financialTransactionType" minOccurs="0" maxOccurs="1" type="xs:string" />
                          <xs:element name="vendor" minOccurs="0" maxOccurs="1" type="xs:string" />
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="AccountReceivable" minOccurs="0" maxOccurs="unbounded">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="items" minOccurs="0" maxOccurs="unbounded">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="itemNumber" minOccurs="0" maxOccurs="1" type="xs:string" />
                          <xs:element name="companyCode" minOccurs="0" maxOccurs="1" type="xs:string" />
                          <xs:element name="glAccount" minOccurs="0" maxOccurs="1" type="xs:string" />
                          <xs:element name="itemText" minOccurs="0" maxOccurs="1" type="xs:string" />
                          <xs:element name="debit" minOccurs="0" maxOccurs="1" type="xs:string" />
                          <xs:element name="credit" minOccurs="0" maxOccurs="1" type="xs:string" />
                          <xs:element name="amountinCompanyCodeCurrency" minOccurs="0" maxOccurs="1" type="xs:string" />
                          <xs:element name="amountInSecondLocalCurrency" minOccurs="0" maxOccurs="1" type="xs:string" />
                          <xs:element name="currency" minOccurs="0" maxOccurs="1" type="xs:string" />
                          <xs:element name="taxCode" minOccurs="0" maxOccurs="1" type="xs:string" />
                          <xs:element name="taxJurisdiction" minOccurs="0" maxOccurs="1" type="xs:string" />
                          <xs:element name="costCenter" minOccurs="0" maxOccurs="1" type="xs:string" />
                          <xs:element name="profitCenter" minOccurs="0" maxOccurs="1" type="xs:string" />
                          <xs:element name="orderNumber" minOccurs="0" maxOccurs="1" type="xs:string" />
                          <xs:element name="wbsElement" minOccurs="0" maxOccurs="1" type="xs:string" />
                          <xs:element name="valueDate" minOccurs="0" maxOccurs="1" type="xs:string" />
                          <xs:element name="houseBank" minOccurs="0" maxOccurs="1" type="xs:string" />
                          <xs:element name="houseBankAccount" minOccurs="0" maxOccurs="1" type="xs:string" />
                          <xs:element name="assignmentNumber" minOccurs="0" maxOccurs="1" type="xs:string" />
                          <xs:element name="tradingPartner" minOccurs="0" maxOccurs="1" type="xs:string" />
                          <xs:element name="segmentForSegmentalReporting" minOccurs="0" maxOccurs="1" type="xs:string" />
                          <xs:element name="customer" type="xs:string" minOccurs="0" maxOccurs="1" />
                          <xs:element name="productNumber" minOccurs="0" maxOccurs="1" type="xs:string" />
                          <xs:element name="financialTransactionType" minOccurs="0" maxOccurs="1" type="xs:string" />
                          <xs:element name="vendor" minOccurs="0" maxOccurs="1" type="xs:string" />
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="AccountPayable" minOccurs="0" maxOccurs="unbounded">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="items" minOccurs="0" maxOccurs="unbounded">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="itemNumber" minOccurs="0" maxOccurs="1" type="xs:string" />
                          <xs:element name="companyCode" minOccurs="0" maxOccurs="1" type="xs:string" />
                          <xs:element name="glAccount" minOccurs="0" maxOccurs="1" type="xs:string" />
                          <xs:element name="itemText" minOccurs="0" maxOccurs="1" type="xs:string" />
                          <xs:element name="debit" minOccurs="0" maxOccurs="1" type="xs:string" />
                          <xs:element name="credit" minOccurs="0" maxOccurs="1" type="xs:string" />
                          <xs:element name="amountinCompanyCodeCurrency" minOccurs="0" maxOccurs="1" type="xs:string" />
                          <xs:element name="amountInSecondLocalCurrency" minOccurs="0" maxOccurs="1" type="xs:string" />
                          <xs:element name="currency" minOccurs="0" maxOccurs="1" type="xs:string" />
                          <xs:element name="taxCode" minOccurs="0" maxOccurs="1" type="xs:string" />
                          <xs:element name="taxJurisdiction" minOccurs="0" maxOccurs="1" type="xs:string" />
                          <xs:element name="costCenter" minOccurs="0" maxOccurs="1" type="xs:string" />
                          <xs:element name="profitCenter" minOccurs="0" maxOccurs="1" type="xs:string" />
                          <xs:element name="orderNumber" minOccurs="0" maxOccurs="1" type="xs:string" />
                          <xs:element name="wbsElement" minOccurs="0" maxOccurs="1" type="xs:string" />
                          <xs:element name="valueDate" minOccurs="0" maxOccurs="1" type="xs:string" />
                          <xs:element name="houseBank" minOccurs="0" maxOccurs="1" type="xs:string" />
                          <xs:element name="houseBankAccount" minOccurs="0" maxOccurs="1" type="xs:string" />
                          <xs:element name="assignmentNumber" minOccurs="0" maxOccurs="1" type="xs:string" />
                          <xs:element name="tradingPartner" minOccurs="0" maxOccurs="1" type="xs:string" />
                          <xs:element name="segmentForSegmentalReporting" minOccurs="0" maxOccurs="1" type="xs:string" />
                          <xs:element name="customer" minOccurs="0" maxOccurs="1" type="xs:string" />
                          <xs:element name="productNumber" minOccurs="0" maxOccurs="1" type="xs:string" />
                          <xs:element name="financialTransactionType" minOccurs="0" maxOccurs="1" type="xs:string" />
                          <xs:element name="vendor" minOccurs="0" maxOccurs="1" type="xs:string" />
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="AllItems" minOccurs="0" maxOccurs="unbounded">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="items" minOccurs="0" maxOccurs="unbounded">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="itemNumber" minOccurs="0" maxOccurs="1" type="xs:string" />
                          <xs:element name="companyCode" minOccurs="0" maxOccurs="1" type="xs:string" />
                          <xs:element name="glAccount" minOccurs="0" maxOccurs="1" type="xs:string" />
                          <xs:element name="itemText" minOccurs="0" maxOccurs="1" type="xs:string" />
                          <xs:element name="debit" minOccurs="0" maxOccurs="1" type="xs:string" />
                          <xs:element name="credit" minOccurs="0" maxOccurs="1" type="xs:string" />
                          <xs:element name="amountinCompanyCodeCurrency" minOccurs="0" maxOccurs="1" type="xs:string" />
                          <xs:element name="amountInSecondLocalCurrency" minOccurs="0" maxOccurs="1" type="xs:string" />
                          <xs:element name="currency" minOccurs="0" maxOccurs="1" type="xs:string" />
                          <xs:element name="taxCode" minOccurs="0" maxOccurs="1" type="xs:string" />
                          <xs:element name="taxJurisdiction" minOccurs="0" maxOccurs="1" type="xs:string" />
                          <xs:element name="costCenter" minOccurs="0" maxOccurs="1" type="xs:string" />
                          <xs:element name="profitCenter" minOccurs="0" maxOccurs="1" type="xs:string" />
                          <xs:element name="orderNumber" minOccurs="0" maxOccurs="1" type="xs:string" />
                          <xs:element name="wbsElement" minOccurs="0" maxOccurs="1" type="xs:string" />
                          <xs:element name="valueDate" minOccurs="0" maxOccurs="1" type="xs:string" />
                          <xs:element name="houseBank" minOccurs="0" maxOccurs="1" type="xs:string" />
                          <xs:element name="houseBankAccount" minOccurs="0" maxOccurs="1" type="xs:string" />
                          <xs:element name="assignmentNumber" minOccurs="0" maxOccurs="1" type="xs:string" />
                          <xs:element name="tradingPartner" minOccurs="0" maxOccurs="1" type="xs:string" />
                          <xs:element name="segmentForSegmentalReporting" minOccurs="0" maxOccurs="1" type="xs:string" />
                          <xs:element name="customer" minOccurs="0" maxOccurs="1" type="xs:string" />
                          <xs:element name="productNumber" minOccurs="0" maxOccurs="1" type="xs:string" />
                          <xs:element name="financialTransactionType" minOccurs="0" maxOccurs="1" type="xs:string" />
                          <xs:element name="vendor" minOccurs="0" maxOccurs="1" type="xs:string" />
                          <xs:element name="amountBase" minOccurs="0" maxOccurs="1" type="xs:string" />
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>           
              <xs:element name="AccountTax" minOccurs="0" maxOccurs="unbounded">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="items" minOccurs="0" maxOccurs="unbounded">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="itemNumber" minOccurs="0" maxOccurs="1" type="xs:string" />
                          <xs:element name="companyCode" minOccurs="0" maxOccurs="1" type="xs:string" />
                          <xs:element name="glAccount" minOccurs="0" maxOccurs="1" type="xs:string" />
                          <xs:element name="itemText" minOccurs="0" maxOccurs="1" type="xs:string" />
                          <xs:element name="debit" minOccurs="0" maxOccurs="1" type="xs:string" />
                          <xs:element name="credit" minOccurs="0" maxOccurs="1" type="xs:string" />
                          <xs:element name="amountinCompanyCodeCurrency" minOccurs="0" maxOccurs="1" type="xs:string" />
                          <xs:element name="amountInSecondLocalCurrency" minOccurs="0" maxOccurs="1" type="xs:string" />
                          <xs:element name="currency" minOccurs="0" maxOccurs="1" type="xs:string" />
                          <xs:element name="taxCode" minOccurs="0" maxOccurs="1" type="xs:string" />
                          <xs:element name="taxJurisdiction" minOccurs="0" maxOccurs="1" type="xs:string" />
                          <xs:element name="costCenter" minOccurs="0" maxOccurs="1" type="xs:string" />
                          <xs:element name="profitCenter" minOccurs="0" maxOccurs="1" type="xs:string" />
                          <xs:element name="orderNumber" minOccurs="0" maxOccurs="1" type="xs:string" />
                          <xs:element name="wbsElement" minOccurs="0" maxOccurs="1" type="xs:string" />
                          <xs:element name="valueDate" minOccurs="0" maxOccurs="1" type="xs:string" />
                          <xs:element name="houseBank" minOccurs="0" maxOccurs="1" type="xs:string" />
                          <xs:element name="houseBankAccount" minOccurs="0" maxOccurs="1" type="xs:string" />
                          <xs:element name="assignmentNumber" minOccurs="0" maxOccurs="1" type="xs:string" />
                          <xs:element name="tradingPartner" minOccurs="0" maxOccurs="1" type="xs:string" />
                          <xs:element name="segmentForSegmentalReporting" minOccurs="0" maxOccurs="1" type="xs:string" />
                          <xs:element name="customer" minOccurs="0" maxOccurs="1" type="xs:string" />
                          <xs:element name="productNumber" minOccurs="0" maxOccurs="1" type="xs:string" />
                          <xs:element name="financialTransactionType" minOccurs="0" maxOccurs="1" type="xs:string" />
                          <xs:element name="vendor" minOccurs="0" maxOccurs="1" type="xs:string" />
                          <xs:element name="amountBase" minOccurs="0" maxOccurs="1" type="xs:string" />
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>