Resources/schemas/Xsd/SAP_SuccessFactors_Talent_Intelligence_Hub_Integration_with_Cobrainer_Job_Architecture - Talent_Skills_split-1.xsd

<?xml version="1.0" encoding="UTF-8"?><!-- Created with Liquid Technologies Online Tools 1.0 (https://www.liquid-technologies.com) --><xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="qualified">
  <xs:element name="root">
    <xs:complexType>
      <xs:sequence>
      <xs:element name="file">
        <xs:complexType>
          <xs:sequence>          
            <xs:element maxOccurs="unbounded" name="attribute">
              <xs:complexType>
                <xs:sequence>
                  <xs:element minOccurs="1" name="id" type="xs:string"/>
                  <xs:element name="skillType" type="xs:string"/>
                    <xs:element minOccurs="0" name="translations">
                    <xs:complexType>
                      <xs:sequence>
                        <xs:element name="language" type="xs:string"/>
                        <xs:element name="description" type="xs:string"/>
                        <xs:element name="title" type="xs:string"/>
                      </xs:sequence>
                    </xs:complexType>
                  </xs:element>
                  <xs:element name="level" type="xs:unsignedByte"/>
                  <xs:element minOccurs="0" name="competency">
                    <xs:complexType>
                      <xs:sequence>
                        <xs:element name="id" type="xs:string"/>
                      </xs:sequence>
                    </xs:complexType>
                  </xs:element>                  
                  <xs:element name="operation" type="xs:string"/>
                </xs:sequence>
              </xs:complexType>
             </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>            
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>