Resources/schemas/Xsd/SAP_CPQ_-_Quote_2.0_Integration_with_SAP_Billing_and_Revenue_Innovation_Management - S4SubscriptionItems.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="SubscriptionItems">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="A_BusSolnQtanSubscrpnItemType" minOccurs="0" maxOccurs="unbounded">
					<xs:complexType>
						<xs:sequence>
							<xs:element nillable="false" maxOccurs="1" name="BusinessSolutionQuotation">
								<xs:simpleType>
									<xs:restriction base="xs:string" xmlns="">
										<xs:maxLength value="10"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element nillable="false" maxOccurs="1" name="BusSolutionQuotationItem">
								<xs:simpleType>
									<xs:restriction base="xs:string" xmlns="">
										<xs:maxLength value="6"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element type="xs:string" nillable="true" minOccurs="0" maxOccurs="1" name="BusSolnQuotationItemUUID" xmlns=""/>
							<xs:element nillable="true" minOccurs="0" maxOccurs="1" name="ParentBusSolnQuotationItem">
								<xs:simpleType>
									<xs:restriction base="xs:string" xmlns="">
										<xs:maxLength value="6"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element nillable="true" minOccurs="0" maxOccurs="1" name="BusSolnQtanItemCategory">
								<xs:simpleType>
									<xs:restriction base="xs:string" xmlns="">
										<xs:maxLength value="4"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element nillable="true" minOccurs="0" maxOccurs="1" name="Product">
								<xs:simpleType>
									<xs:restriction base="xs:string" xmlns="">
										<xs:maxLength value="54"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element type="xs:decimal" nillable="true" minOccurs="0" maxOccurs="1" name="Quantity" xmlns=""/>
							<xs:element nillable="true" minOccurs="0" maxOccurs="1" name="QuantityUnit">
								<xs:simpleType>
									<xs:restriction base="xs:string" xmlns="">
										<xs:maxLength value="3"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element nillable="true" minOccurs="0" maxOccurs="1" name="BusSolnQtanItemDescription">
								<xs:simpleType>
									<xs:restriction base="xs:string" xmlns="">
										<xs:maxLength value="40"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element nillable="true" minOccurs="0" maxOccurs="1" name="Language">
								<xs:simpleType>
									<xs:restriction base="xs:string" xmlns="">
										<xs:maxLength value="2"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element nillable="true" minOccurs="0" maxOccurs="1" name="BusSolnQtanItemExtReference">
								<xs:simpleType>
									<xs:restriction base="xs:string" xmlns="">
										<xs:maxLength value="80"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element nillable="true" minOccurs="0" maxOccurs="1" name="ItemOrderProbabilityInPercent">
								<xs:simpleType>
									<xs:restriction base="xs:string" xmlns="">
										<xs:maxLength value="3"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element nillable="true" minOccurs="0" maxOccurs="1" name="BusSolnQtanItemIsReleased">
								<xs:simpleType>
									<xs:restriction base="xs:string" xmlns="">
										<xs:maxLength value="1"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element nillable="true" minOccurs="0" maxOccurs="1" name="BusSolnQtanItemIsCompleted">
								<xs:simpleType>
									<xs:restriction base="xs:string" xmlns="">
										<xs:maxLength value="1"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element nillable="true" minOccurs="0" maxOccurs="1" name="BusSolnQtanItemIsAccepted">
								<xs:simpleType>
									<xs:restriction base="xs:string" xmlns="">
										<xs:maxLength value="1"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element nillable="true" minOccurs="0" maxOccurs="1" name="BusSolnQtanItemIsRejected">
								<xs:simpleType>
									<xs:restriction base="xs:string" xmlns="">
										<xs:maxLength value="1"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element nillable="true" minOccurs="0" maxOccurs="1" name="BusSolnQtanItmRjcnReason">
								<xs:simpleType>
									<xs:restriction base="xs:string" xmlns="">
										<xs:maxLength value="2"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element nillable="true" minOccurs="0" maxOccurs="1" name="SoldToParty">
								<xs:simpleType>
									<xs:restriction base="xs:string" xmlns="">
										<xs:maxLength value="10"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element nillable="true" minOccurs="0" maxOccurs="1" name="ShipToParty">
								<xs:simpleType>
									<xs:restriction base="xs:string" xmlns="">
										<xs:maxLength value="10"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element nillable="true" minOccurs="0" maxOccurs="1" name="BillToParty">
								<xs:simpleType>
									<xs:restriction base="xs:string" xmlns="">
										<xs:maxLength value="10"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element nillable="true" minOccurs="0" maxOccurs="1" name="PayerParty">
								<xs:simpleType>
									<xs:restriction base="xs:string" xmlns="">
										<xs:maxLength value="10"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element nillable="true" minOccurs="0" maxOccurs="1" name="PersonResponsible">
								<xs:simpleType>
									<xs:restriction base="xs:string" xmlns="">
										<xs:maxLength value="10"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element nillable="true" minOccurs="0" maxOccurs="1" name="ContactPerson">
								<xs:simpleType>
									<xs:restriction base="xs:string" xmlns="">
										<xs:maxLength value="10"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element nillable="true" minOccurs="0" maxOccurs="1" name="PaymentTerms">
								<xs:simpleType>
									<xs:restriction base="xs:string" xmlns="">
										<xs:maxLength value="4"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element nillable="true" minOccurs="0" maxOccurs="1" name="CABillgCycle">
								<xs:simpleType>
									<xs:restriction base="xs:string" xmlns="">
										<xs:maxLength value="4"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element type="xs:decimal" nillable="true" minOccurs="0" maxOccurs="1" name="SubscrpnContrItmStartDateTime" xmlns=""/>
							<xs:element type="xs:decimal" nillable="true" minOccurs="0" maxOccurs="1" name="SubscrpnContrItemExtnDuration" xmlns=""/>
							<xs:element nillable="true" minOccurs="0" maxOccurs="1" name="SubscrpnContrItemExtnDurnUnit">
								<xs:simpleType>
									<xs:restriction base="xs:string" xmlns="">
										<xs:maxLength value="12"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element type="xs:decimal" nillable="true" minOccurs="0" maxOccurs="1" name="SubscrpnContrItmEndDateTime" xmlns=""/>
							<xs:element type="xs:boolean" nillable="true" minOccurs="0" maxOccurs="1" name="SubscrpnContrAutoRnwlIsActv" xmlns=""/>
							<xs:element type="xs:decimal" nillable="true" minOccurs="0" maxOccurs="1" name="SubscrpnContrAutoRnwlDurn" xmlns=""/>
							<xs:element nillable="true" minOccurs="0" maxOccurs="1" name="SubscrpnContrAutoRnwlDurnUnit">
								<xs:simpleType>
									<xs:restriction base="xs:string" xmlns="">
										<xs:maxLength value="12"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element nillable="true" minOccurs="0" maxOccurs="1" name="ContractAccount">
								<xs:simpleType>
									<xs:restriction base="xs:string" xmlns="">
										<xs:maxLength value="12"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element nillable="true" minOccurs="0" maxOccurs="1" name="RevenueAccountingReference">
								<xs:simpleType>
									<xs:restriction base="xs:string" xmlns="">
										<xs:maxLength value="30"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element nillable="true" minOccurs="0" maxOccurs="1" name="RevenueAccountingRefType">
								<xs:simpleType>
									<xs:restriction base="xs:string" xmlns="">
										<xs:maxLength value="3"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element nillable="true" minOccurs="0" maxOccurs="1" name="CrsCatalogMappingVersionNumber">
								<xs:simpleType>
									<xs:restriction base="xs:string" xmlns="">
										<xs:maxLength value="4"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element nillable="true" minOccurs="0" maxOccurs="1" name="CustMgmtMasterAgreement">
								<xs:simpleType>
									<xs:restriction base="xs:string" xmlns="">
										<xs:maxLength value="10"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element nillable="true" minOccurs="0" maxOccurs="1" name="CustMgmtMstrAgrmtItem">
								<xs:simpleType>
									<xs:restriction base="xs:string" xmlns="">
										<xs:maxLength value="6"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element nillable="true" minOccurs="0" maxOccurs="1" name="CustMgmtMstrAgrmtParentItem">
								<xs:simpleType>
									<xs:restriction base="xs:string" xmlns="">
										<xs:maxLength value="6"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element nillable="true" minOccurs="0" maxOccurs="1" name="SharingContractID">
								<xs:simpleType>
									<xs:restriction base="xs:string" xmlns="">
										<xs:maxLength value="20"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element nillable="true" minOccurs="0" maxOccurs="1" name="SubscrpnContractSharingGroupID">
								<xs:simpleType>
									<xs:restriction base="xs:string" xmlns="">
										<xs:maxLength value="10"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element nillable="true" minOccurs="0" maxOccurs="1" name="ConfigurationNumber">
								<xs:simpleType>
									<xs:restriction base="xs:string" xmlns="">
										<xs:maxLength value="18"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element nillable="true" minOccurs="0" maxOccurs="1" name="ChangeProcessGroup">
								<xs:simpleType>
									<xs:restriction base="xs:string" xmlns="">
										<xs:maxLength value="32"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element nillable="true" minOccurs="0" maxOccurs="1" name="CAProviderContract">
								<xs:simpleType>
									<xs:restriction base="xs:string" xmlns="">
										<xs:maxLength value="20"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element nillable="true" minOccurs="0" maxOccurs="1" name="SubscriptionContractItem">
								<xs:simpleType>
									<xs:restriction base="xs:string" xmlns="">
										<xs:maxLength value="6"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element nillable="true" minOccurs="0" maxOccurs="1" name="SbscrContrItemCanclnParty">
								<xs:simpleType>
									<xs:restriction base="xs:string" xmlns="">
										<xs:maxLength value="4"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element nillable="true" minOccurs="0" maxOccurs="1" name="SbscrContrItemCanclnReason">
								<xs:simpleType>
									<xs:restriction base="xs:string" xmlns="">
										<xs:maxLength value="4"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element nillable="true" minOccurs="0" maxOccurs="1" name="BillOfMaterialItemNodeNumber">
								<xs:simpleType>
									<xs:restriction base="xs:string" xmlns="">
										<xs:maxLength value="8"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element nillable="true" minOccurs="0" maxOccurs="1" name="SbscrContrItmCanclnProcedure">
								<xs:simpleType>
									<xs:restriction base="xs:string" xmlns="">
										<xs:maxLength value="4"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element type="xs:dateTime" nillable="true" minOccurs="0" maxOccurs="1" name="SbscrContrItmCanclnReqDateTime" xmlns=""/>
							<xs:element nillable="true" minOccurs="0" maxOccurs="unbounded" name="to_Configurations">
								<xs:complexType>
									<xs:sequence>
										<xs:element minOccurs="0" maxOccurs="unbounded" name="A_BusSolnQtanItmConfignType">
											<xs:complexType>
												<xs:sequence>
													<xs:element nillable="false" maxOccurs="1" name="VarConfignInstceBusObjectKey">
														<xs:simpleType>
															<xs:restriction base="xs:string" xmlns="">
																<xs:maxLength value="50"/>
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
													<xs:element nillable="false" maxOccurs="1" name="VarConfignInstceBusObjectType">
														<xs:simpleType>
															<xs:restriction base="xs:string" xmlns="">
																<xs:maxLength value="10"/>
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
													<xs:element nillable="false" maxOccurs="1" name="VariantConfigurationInstance">
														<xs:simpleType>
															<xs:restriction base="xs:string" xmlns="">
																<xs:maxLength value="18"/>
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
													<xs:element nillable="false" maxOccurs="1" name="CharcInternalID">
														<xs:simpleType>
															<xs:restriction base="xs:string" xmlns="">
																<xs:maxLength value="10"/>
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
													<xs:element nillable="false" maxOccurs="1" name="CharcValue">
														<xs:simpleType>
															<xs:restriction base="xs:string" xmlns="">
																<xs:maxLength value="70"/>
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
													<xs:element type="xs:double" nillable="false" maxOccurs="1" name="CharcFromNumericValue" xmlns=""/>
													<xs:element type="xs:double" nillable="false" maxOccurs="1" name="CharcToNumericValue" xmlns=""/>
													<xs:element nillable="true" minOccurs="0" maxOccurs="1" name="Characteristic">
														<xs:simpleType>
															<xs:restriction base="xs:string" xmlns="">
																<xs:maxLength value="30"/>
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
													<xs:element nillable="true" minOccurs="0" maxOccurs="1" name="CharacteristicValue">
														<xs:simpleType>
															<xs:restriction base="xs:string" xmlns="">
																<xs:maxLength value="70"/>
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
													<xs:element nillable="true" minOccurs="0" maxOccurs="1" name="CharcValueAssignmentType">
														<xs:simpleType>
															<xs:restriction base="xs:string" xmlns="">
																<xs:maxLength value="10"/>
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
													<xs:element nillable="true" minOccurs="0" maxOccurs="1" name="VariantConditionFactor">
														<xs:simpleType>
															<xs:restriction base="xs:string" xmlns="">
																<xs:maxLength value="15"/>
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
													<xs:element type="xs:dateTime" nillable="true" minOccurs="0" maxOccurs="1" name="VariantConfigurationDate" xmlns=""/>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element nillable="true" minOccurs="0" maxOccurs="unbounded" name="to_DateParameters">
								<xs:complexType>
									<xs:sequence>
										<xs:element minOccurs="0" maxOccurs="unbounded" name="A_BusSolnQtanItemDteParamType">
											<xs:complexType>
												<xs:sequence>
													<xs:element nillable="false" maxOccurs="1" name="BusinessSolutionQuotation">
														<xs:simpleType>
															<xs:restriction base="xs:string" xmlns="">
																<xs:maxLength value="10"/>
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
													<xs:element nillable="false" maxOccurs="1" name="BusSolutionQuotationItem">
														<xs:simpleType>
															<xs:restriction base="xs:string" xmlns="">
																<xs:maxLength value="6"/>
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
													<xs:element type="xs:string" nillable="false" maxOccurs="1" name="ChargePlanParameterUUID" xmlns=""/>
													<xs:element nillable="true" minOccurs="0" maxOccurs="1" name="ChargePlanParameterUseValue">
														<xs:simpleType>
															<xs:restriction base="xs:string" xmlns="">
																<xs:maxLength value="1"/>
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
													<xs:element type="xs:dateTime" nillable="true" minOccurs="0" maxOccurs="1" name="ChargePlanParameterDateValue" xmlns=""/>
													<xs:element nillable="true" minOccurs="0" maxOccurs="1" name="Characteristic">
														<xs:simpleType>
															<xs:restriction base="xs:string" xmlns="">
																<xs:maxLength value="80"/>
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
													<xs:element nillable="true" minOccurs="0" maxOccurs="1" name="BRFFunction">
														<xs:simpleType>
															<xs:restriction base="xs:string" xmlns="">
																<xs:maxLength value="80"/>
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element nillable="true" minOccurs="0" maxOccurs="unbounded" name="to_NumericParameters">
								<xs:complexType>
									<xs:sequence>
										<xs:element minOccurs="0" maxOccurs="unbounded" name="A_BusSolnQtanItemNmrcParamType">
											<xs:complexType>
												<xs:sequence>
													<xs:element nillable="false" maxOccurs="1" name="BusinessSolutionQuotation">
														<xs:simpleType>
															<xs:restriction base="xs:string" xmlns="">
																<xs:maxLength value="10"/>
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
													<xs:element nillable="false" maxOccurs="1" name="BusSolutionQuotationItem">
														<xs:simpleType>
															<xs:restriction base="xs:string" xmlns="">
																<xs:maxLength value="6"/>
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
													<xs:element type="xs:string" nillable="false" maxOccurs="1" name="ChargePlanParameterUUID" xmlns=""/>
													<xs:element nillable="true" minOccurs="0" maxOccurs="1" name="ChargePlanParameterUseValue">
														<xs:simpleType>
															<xs:restriction base="xs:string" xmlns="">
																<xs:maxLength value="1"/>
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
													<xs:element nillable="true" minOccurs="0" maxOccurs="1" name="ChrgPlanParameterNumericValue">
														<xs:simpleType>
															<xs:restriction base="xs:string" xmlns="">
																<xs:maxLength value="80"/>
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
													<xs:element nillable="true" minOccurs="0" maxOccurs="1" name="Characteristic">
														<xs:simpleType>
															<xs:restriction base="xs:string" xmlns="">
																<xs:maxLength value="80"/>
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
													<xs:element nillable="true" minOccurs="0" maxOccurs="1" name="BRFFunction">
														<xs:simpleType>
															<xs:restriction base="xs:string" xmlns="">
																<xs:maxLength value="80"/>
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element nillable="true" minOccurs="0" maxOccurs="unbounded" name="to_PriceElement">
								<xs:complexType>
									<xs:sequence>
										<xs:element minOccurs="0" maxOccurs="unbounded" name="A_BusSolnQtanItmPriceElementType">
											<xs:complexType>
												<xs:sequence>
													<xs:element nillable="false" maxOccurs="1" name="BusinessSolutionQuotation">
														<xs:simpleType>
															<xs:restriction base="xs:string" xmlns="">
																<xs:maxLength value="10"/>
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
													<xs:element nillable="false" maxOccurs="1" name="BusSolutionQuotationItem">
														<xs:simpleType>
															<xs:restriction base="xs:string" xmlns="">
																<xs:maxLength value="6"/>
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
													<xs:element nillable="false" maxOccurs="1" name="PricingProcedureStep">
														<xs:simpleType>
															<xs:restriction base="xs:string" xmlns="">
																<xs:maxLength value="3"/>
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
													<xs:element nillable="false" maxOccurs="1" name="PricingProcedureCounter">
														<xs:simpleType>
															<xs:restriction base="xs:string" xmlns="">
																<xs:maxLength value="3"/>
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
													<xs:element nillable="true" minOccurs="0" maxOccurs="1" name="ConditionType">
														<xs:simpleType>
															<xs:restriction base="xs:string" xmlns="">
																<xs:maxLength value="4"/>
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
													<xs:element type="xs:decimal" nillable="true" minOccurs="0" maxOccurs="1" name="ConditionRateValue" xmlns=""/>
													<xs:element nillable="true" minOccurs="0" maxOccurs="1" name="ConditionCurrency">
														<xs:simpleType>
															<xs:restriction base="xs:string" xmlns="">
																<xs:maxLength value="5"/>
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
													<xs:element type="xs:decimal" nillable="true" minOccurs="0" maxOccurs="1" name="ConditionQuantity" xmlns=""/>
													<xs:element nillable="true" minOccurs="0" maxOccurs="1" name="ConditionQuantityUnit">
														<xs:simpleType>
															<xs:restriction base="xs:string" xmlns="">
																<xs:maxLength value="3"/>
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element nillable="true" minOccurs="0" maxOccurs="unbounded" name="to_StringParameters">
								<xs:complexType>
									<xs:sequence>
										<xs:element minOccurs="0" maxOccurs="unbounded" name="A_BusSolnQtanItemStrParamType">
											<xs:complexType>
												<xs:sequence>
													<xs:element nillable="false" maxOccurs="1" name="BusinessSolutionQuotation">
														<xs:simpleType>
															<xs:restriction base="xs:string" xmlns="">
																<xs:maxLength value="10"/>
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
													<xs:element nillable="false" maxOccurs="1" name="BusSolutionQuotationItem">
														<xs:simpleType>
															<xs:restriction base="xs:string" xmlns="">
																<xs:maxLength value="6"/>
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
													<xs:element type="xs:string" nillable="false" maxOccurs="1" name="ChargePlanParameterUUID" xmlns=""/>
													<xs:element nillable="true" minOccurs="0" maxOccurs="1" name="ChargePlanParameterUseValue">
														<xs:simpleType>
															<xs:restriction base="xs:string" xmlns="">
																<xs:maxLength value="1"/>
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
													<xs:element nillable="true" minOccurs="0" maxOccurs="1" name="ChargePlanParameterStringValue">
														<xs:simpleType>
															<xs:restriction base="xs:string" xmlns="">
																<xs:maxLength value="80"/>
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
													<xs:element nillable="true" minOccurs="0" maxOccurs="1" name="Characteristic">
														<xs:simpleType>
															<xs:restriction base="xs:string" xmlns="">
																<xs:maxLength value="80"/>
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
													<xs:element nillable="true" minOccurs="0" maxOccurs="1" name="BRFFunction">
														<xs:simpleType>
															<xs:restriction base="xs:string" xmlns="">
																<xs:maxLength value="80"/>
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element nillable="true" minOccurs="0" maxOccurs="unbounded" name="to_SubscriptionContract">
								<xs:complexType>
									<xs:sequence>
										<xs:element minOccurs="0" maxOccurs="unbounded" name="A_BuSoQtanItmFUPSubscrpnContrType">
											<xs:complexType>
												<xs:sequence>
													<xs:element type="xs:string" nillable="false" maxOccurs="1" name="ServiceDocumentItmRelationUUID" xmlns=""/>
													<xs:element nillable="false" maxOccurs="1" name="ServiceDocItmRltnSqncNumber">
														<xs:simpleType>
															<xs:restriction base="xs:string" xmlns="">
																<xs:maxLength value="4"/>
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
													<xs:element type="xs:string" nillable="true" minOccurs="0" maxOccurs="1" name="BusSolnQuotationItemUUID" xmlns=""/>
													<xs:element nillable="true" minOccurs="0" maxOccurs="1" name="BusinessSolutionQuotation">
														<xs:simpleType>
															<xs:restriction base="xs:string" xmlns="">
																<xs:maxLength value="10"/>
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
													<xs:element nillable="true" minOccurs="0" maxOccurs="1" name="BusSolutionQuotationItem">
														<xs:simpleType>
															<xs:restriction base="xs:string" xmlns="">
																<xs:maxLength value="6"/>
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
													<xs:element nillable="true" minOccurs="0" maxOccurs="1" name="SubscriptionContract">
														<xs:simpleType>
															<xs:restriction base="xs:string" xmlns="">
																<xs:maxLength value="10"/>
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
													<xs:element nillable="true" minOccurs="0" maxOccurs="1" name="SubscriptionContractItem">
														<xs:simpleType>
															<xs:restriction base="xs:string" xmlns="">
																<xs:maxLength value="6"/>
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
													<xs:element nillable="true" minOccurs="0" maxOccurs="1" name="SubscriptionContractExternalID">
														<xs:simpleType>
															<xs:restriction base="xs:string" xmlns="">
																<xs:maxLength value="20"/>
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element nillable="true" minOccurs="0" maxOccurs="unbounded" name="to_TableParameters">
								<xs:complexType>
									<xs:sequence>
										<xs:element minOccurs="0" maxOccurs="unbounded" name="A_BusSolnQtanItemTblParamType">
											<xs:complexType>
												<xs:sequence>
													<xs:element nillable="false" maxOccurs="1" name="BusinessSolutionQuotation">
														<xs:simpleType>
															<xs:restriction base="xs:string" xmlns="">
																<xs:maxLength value="10"/>
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
													<xs:element nillable="false" maxOccurs="1" name="BusSolutionQuotationItem">
														<xs:simpleType>
															<xs:restriction base="xs:string" xmlns="">
																<xs:maxLength value="6"/>
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
													<xs:element type="xs:string" nillable="false" maxOccurs="1" name="ChargePlanParameterUUID" xmlns=""/>
													<xs:element nillable="true" minOccurs="0" maxOccurs="1" name="ChargePlanParameterUseValue">
														<xs:simpleType>
															<xs:restriction base="xs:string" xmlns="">
																<xs:maxLength value="1"/>
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
													<xs:element nillable="true" minOccurs="0" maxOccurs="1" name="ChargePlanParameterStringValue">
														<xs:simpleType>
															<xs:restriction base="xs:string" xmlns="">
																<xs:maxLength value="80"/>
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element nillable="true" minOccurs="0" maxOccurs="unbounded" name="to_TechnicalResource">
								<xs:complexType>
									<xs:sequence>
										<xs:element minOccurs="0" maxOccurs="unbounded" name="A_BusSolnQtanItemTechRsceType">
											<xs:complexType>
												<xs:sequence>
													<xs:element nillable="false" maxOccurs="1" name="BusinessSolutionQuotation">
														<xs:simpleType>
															<xs:restriction base="xs:string" xmlns="">
																<xs:maxLength value="10"/>
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
													<xs:element nillable="false" maxOccurs="1" name="BusSolutionQuotationItem">
														<xs:simpleType>
															<xs:restriction base="xs:string" xmlns="">
																<xs:maxLength value="6"/>
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
													<xs:element nillable="false" maxOccurs="1" name="CATechnicalResourceIDType">
														<xs:simpleType>
															<xs:restriction base="xs:string" xmlns="">
																<xs:maxLength value="2"/>
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
													<xs:element nillable="true" minOccurs="0" maxOccurs="1" name="CATechnicalResourceID">
														<xs:simpleType>
															<xs:restriction base="xs:string" xmlns="">
																<xs:maxLength value="50"/>
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element nillable="true" minOccurs="0" maxOccurs="unbounded" name="to_Text">
								<xs:complexType>
									<xs:sequence>
										<xs:element minOccurs="0" maxOccurs="unbounded" name="A_BusSolnQtanItemTextType">
											<xs:complexType>
												<xs:sequence>
													<xs:element nillable="false" maxOccurs="1" name="BusinessSolutionQuotation">
														<xs:simpleType>
															<xs:restriction base="xs:string" xmlns="">
																<xs:maxLength value="10"/>
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
													<xs:element nillable="false" maxOccurs="1" name="BusSolutionQuotationItem">
														<xs:simpleType>
															<xs:restriction base="xs:string" xmlns="">
																<xs:maxLength value="6"/>
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
													<xs:element nillable="false" maxOccurs="1" name="Language">
														<xs:simpleType>
															<xs:restriction base="xs:string" xmlns="">
																<xs:maxLength value="2"/>
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
													<xs:element nillable="false" maxOccurs="1" name="TextObjectType">
														<xs:simpleType>
															<xs:restriction base="xs:string" xmlns="">
																<xs:maxLength value="4"/>
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
													<xs:element nillable="true" minOccurs="0" maxOccurs="1" name="PlainLongText">
														<xs:simpleType>
															<xs:restriction base="xs:string" xmlns="">
																<xs:maxLength value="150"/>
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element nillable="true" minOccurs="0" maxOccurs="unbounded" name="to_BusinessSolutionQuotation">
								<xs:complexType>
									<xs:sequence>
										<xs:element minOccurs="0" maxOccurs="1" name="A_BusinessSolutionQuotationType">
											<xs:complexType>
												<xs:sequence>
													<xs:element nillable="false" maxOccurs="1" name="BusinessSolutionQuotation">
														<xs:simpleType>
															<xs:restriction base="xs:string" xmlns="">
																<xs:maxLength value="10"/>
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
													<xs:element type="xs:string" nillable="true" minOccurs="0" maxOccurs="1" name="BusSolutionQuotationUUID" xmlns=""/>
													<xs:element nillable="true" minOccurs="0" maxOccurs="1" name="BusSolutionQuotationType">
														<xs:simpleType>
															<xs:restriction base="xs:string" xmlns="">
																<xs:maxLength value="4"/>
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
													<xs:element nillable="true" minOccurs="0" maxOccurs="1" name="BusSolnQtanDescription">
														<xs:simpleType>
															<xs:restriction base="xs:string" xmlns="">
																<xs:maxLength value="40"/>
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
													<xs:element nillable="true" minOccurs="0" maxOccurs="1" name="Language">
														<xs:simpleType>
															<xs:restriction base="xs:string" xmlns="">
																<xs:maxLength value="2"/>
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
													<xs:element nillable="true" minOccurs="0" maxOccurs="1" name="BusSolnQtanExtReference">
														<xs:simpleType>
															<xs:restriction base="xs:string" xmlns="">
																<xs:maxLength value="80"/>
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
													<xs:element nillable="true" minOccurs="0" maxOccurs="1" name="BusSolnPrtfloReference">
														<xs:simpleType>
															<xs:restriction base="xs:string" xmlns="">
																<xs:maxLength value="80"/>
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
													<xs:element nillable="true" minOccurs="0" maxOccurs="1" name="BusSolnQuotationIsReleased">
														<xs:simpleType>
															<xs:restriction base="xs:string" xmlns="">
																<xs:maxLength value="1"/>
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
													<xs:element nillable="true" minOccurs="0" maxOccurs="1" name="BusSolnQuotationIsCompleted">
														<xs:simpleType>
															<xs:restriction base="xs:string" xmlns="">
																<xs:maxLength value="1"/>
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
													<xs:element nillable="true" minOccurs="0" maxOccurs="1" name="BusSolnQuotationIsRejected">
														<xs:simpleType>
															<xs:restriction base="xs:string" xmlns="">
																<xs:maxLength value="1"/>
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
													<xs:element nillable="true" minOccurs="0" maxOccurs="1" name="ServiceDocumentHasError">
														<xs:simpleType>
															<xs:restriction base="xs:string" xmlns="">
																<xs:maxLength value="1"/>
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
													<xs:element nillable="true" minOccurs="0" maxOccurs="1" name="PurchaseOrderByCustomer">
														<xs:simpleType>
															<xs:restriction base="xs:string" xmlns="">
																<xs:maxLength value="35"/>
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
													<xs:element type="xs:dateTime" nillable="true" minOccurs="0" maxOccurs="1" name="CustomerPurchaseOrderDate" xmlns=""/>
													<xs:element type="xs:decimal" nillable="true" minOccurs="0" maxOccurs="1" name="BusSolnQtanValdtyStartDateTime" xmlns=""/>
													<xs:element type="xs:decimal" nillable="true" minOccurs="0" maxOccurs="1" name="BusSolnQtanValdtyEndDateTime" xmlns=""/>
													<xs:element nillable="true" minOccurs="0" maxOccurs="1" name="SalesOrganization">
														<xs:simpleType>
															<xs:restriction base="xs:string" xmlns="">
																<xs:maxLength value="4"/>
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
													<xs:element nillable="true" minOccurs="0" maxOccurs="1" name="DistributionChannel">
														<xs:simpleType>
															<xs:restriction base="xs:string" xmlns="">
																<xs:maxLength value="2"/>
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
													<xs:element nillable="true" minOccurs="0" maxOccurs="1" name="Division">
														<xs:simpleType>
															<xs:restriction base="xs:string" xmlns="">
																<xs:maxLength value="2"/>
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
													<xs:element nillable="true" minOccurs="0" maxOccurs="1" name="SalesOffice">
														<xs:simpleType>
															<xs:restriction base="xs:string" xmlns="">
																<xs:maxLength value="4"/>
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
													<xs:element nillable="true" minOccurs="0" maxOccurs="1" name="SalesGroup">
														<xs:simpleType>
															<xs:restriction base="xs:string" xmlns="">
																<xs:maxLength value="3"/>
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
													<xs:element nillable="true" minOccurs="0" maxOccurs="1" name="ServiceOrganizationUnit">
														<xs:simpleType>
															<xs:restriction base="xs:string" xmlns="">
																<xs:maxLength value="14"/>
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
													<xs:element nillable="true" minOccurs="0" maxOccurs="1" name="ServiceOrganization">
														<xs:simpleType>
															<xs:restriction base="xs:string" xmlns="">
																<xs:maxLength value="14"/>
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
													<xs:element nillable="true" minOccurs="0" maxOccurs="1" name="SoldToParty">
														<xs:simpleType>
															<xs:restriction base="xs:string" xmlns="">
																<xs:maxLength value="10"/>
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
													<xs:element nillable="true" minOccurs="0" maxOccurs="1" name="ShipToParty">
														<xs:simpleType>
															<xs:restriction base="xs:string" xmlns="">
																<xs:maxLength value="10"/>
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
													<xs:element nillable="true" minOccurs="0" maxOccurs="1" name="BillToParty">
														<xs:simpleType>
															<xs:restriction base="xs:string" xmlns="">
																<xs:maxLength value="10"/>
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
													<xs:element nillable="true" minOccurs="0" maxOccurs="1" name="PayerParty">
														<xs:simpleType>
															<xs:restriction base="xs:string" xmlns="">
																<xs:maxLength value="10"/>
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
													<xs:element nillable="true" minOccurs="0" maxOccurs="1" name="PersonResponsible">
														<xs:simpleType>
															<xs:restriction base="xs:string" xmlns="">
																<xs:maxLength value="10"/>
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
													<xs:element nillable="true" minOccurs="0" maxOccurs="1" name="ContactPerson">
														<xs:simpleType>
															<xs:restriction base="xs:string" xmlns="">
																<xs:maxLength value="10"/>
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
													<xs:element nillable="true" minOccurs="0" maxOccurs="1" name="PaymentTerms">
														<xs:simpleType>
															<xs:restriction base="xs:string" xmlns="">
																<xs:maxLength value="4"/>
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
													<xs:element nillable="true" minOccurs="0" maxOccurs="1" name="CreatedByUser">
														<xs:simpleType>
															<xs:restriction base="xs:string" xmlns="">
																<xs:maxLength value="12"/>
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
													<xs:element type="xs:dateTime" nillable="true" minOccurs="0" maxOccurs="1" name="CreationDateTime" xmlns=""/>
													<xs:element nillable="true" minOccurs="0" maxOccurs="1" name="LastChangedByUser">
														<xs:simpleType>
															<xs:restriction base="xs:string" xmlns="">
																<xs:maxLength value="12"/>
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
													<xs:element type="xs:dateTime" nillable="true" minOccurs="0" maxOccurs="1" name="LastChangeDateTime" xmlns=""/>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
