Resources/schemas/Xsd/SAP_Commerce_Cloud_Solution_Sales_Configuration_Integration_with_SAP_ERP - SAPCpiOutboundOrdersEntityPOST.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- Created with Liquid Technologies Online Tools 1.0 (https://www.liquid-technologies.com) -->
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="SAPCpiOutboundOrders">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="SAPCpiOutboundOrder">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="integrationKey" type="xs:string" />
              <xs:element name="paymentMode" type="xs:string" />
              <xs:element name="distributionChannel" type="xs:string" />
              <xs:element name="channel" type="xs:string" />
              <xs:element name="creationDate" type="xs:string" />
              <xs:element name="deliveryMode" type="xs:string" />
              <xs:element name="currencyIsoCode" type="xs:string" />
              <xs:element name="baseStoreUid" type="xs:string" />
              <xs:element name="division" type="xs:string" />
              <xs:element name="purchaseOrderNumber" type="xs:string" />
              <xs:element name="orderId" type="xs:string" />
              <xs:element name="responseMessage" type="xs:string" />
              <xs:element name="responseStatus" type="xs:string" />
              <xs:element name="salesOrganization" type="xs:string" />
              <xs:element name="shippingCondition" type="xs:string" />
              <xs:element name="transactionType" type="xs:string" />
              <xs:element name="productConfigHeaders">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="SAPCpiOutboundOrderItemConfigHeader">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="integrationKey" type="xs:string" />
                          <xs:element name="configurationId" type="xs:string" />
                          <xs:element name="externalItemId" type="xs:string" />
                          <xs:element name="rootInstanceId" type="xs:string" />
                          <xs:element name="commerceLeading" type="xs:boolean" />
                          <xs:element name="complete" type="xs:boolean" />
                          <xs:element name="consistent" type="xs:boolean" />
                          <xs:element name="kbName" type="xs:string" />
                          <xs:element name="kbVersion" type="xs:string" />
                          <xs:element name="kbProfile" type="xs:string" />
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="productConfigInstances">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="SAPCpiOutboundOrderItemConfigInstance">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="integrationKey" type="xs:string" />
                          <xs:element name="configurationId" type="xs:string" />
                          <xs:element name="instanceId" type="xs:string" />
                          <xs:element name="objectType" type="xs:string" />
                          <xs:element name="classType" type="xs:string" />
                          <xs:element name="objectKey" type="xs:string" />
                          <xs:element name="quantity" type="xs:string" />
                          <xs:element name="quantityUnit" type="xs:string" />
                          <xs:element name="author" type="xs:string" />
                          <xs:element name="complete" type="xs:boolean" />
                          <xs:element name="consistent" type="xs:boolean" />
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="solutionConfigInstances">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="SAPCpiOutboundSolutionConfigInstance">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="integrationKey" type="xs:string" />
                          <xs:element name="configXML" type="xs:string" />
                          <xs:element name="positionNumber" type="xs:string" />
                          <xs:element name="lineNumber" type="xs:string" />
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="productConfigHierarchies">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="SAPCpiOutboundOrderItemConfigHierarchy">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="integrationKey" type="xs:string" />
                          <xs:element name="configurationId" type="xs:string" />
                          <xs:element name="instanceId" type="xs:string" />
                          <xs:element name="parentId" type="xs:string" />
                          <xs:element name="bomNumber" type="xs:string" />
                          <xs:element name="objectType" type="xs:string" />
                          <xs:element name="classType" type="xs:string" />
                          <xs:element name="objectKey" type="xs:string" />
                          <xs:element name="author" type="xs:string" />
                          <xs:element name="salesRelevant" type="xs:boolean" />
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="productConfigValues">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="SAPCpiOutboundOrderItemConfigValue">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="integrationKey" type="xs:string" />
                          <xs:element name="configurationId" type="xs:string" />
                          <xs:element name="instanceId" type="xs:string" />
                          <xs:element name="characteristicId" type="xs:string" />
                          <xs:element name="valueId" type="xs:string" />
                          <xs:element name="characteristicText" type="xs:string" />
                          <xs:element name="valueText" type="xs:string" />
                          <xs:element name="valueCode" type="xs:string" />
                          <xs:element name="author" type="xs:string" />
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="productConfigConditions">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="SAPCpiOutboundOrderItemConfigCondition">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="integrationKey" type="xs:string" />
                          <xs:element name="configurationId" type="xs:string" />
                          <xs:element name="instanceId" type="xs:string" />
                          <xs:element name="conditionKey" type="xs:string" />
                          <xs:element name="conditionFactor" type="xs:string" />
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="sapCpiOutboundOrderItems">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="SAPCpiOutboundOrderItem">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="integrationKey" type="xs:string" />
                          <xs:element name="orderId" type="xs:string" />
                          <xs:element name="namedDeliveryDate" type="xs:string" />
                          <xs:element name="currencyIsoCode" type="xs:string" />
                          <xs:element name="entryNumber" type="xs:string" />
                          <xs:element name="higherLevelEntryNumber" type="xs:string" />
                          <xs:element name="itemCategory" type="xs:string" />
                          <xs:element name="plant" type="xs:string" />
                          <xs:element name="productCode" type="xs:string" />
                          <xs:element name="productName" type="xs:string" />
                          <xs:element name="quantity" type="xs:string" />
                          <xs:element name="unit" type="xs:string" />
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="sapCpiOutboundAddresses">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="SAPCpiOutboundAddress">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="integrationKey" type="xs:string" />
                          <xs:element name="middleName" type="xs:string" />
                          <xs:element name="faxNumber" type="xs:string" />
                          <xs:element name="building" type="xs:string" />
                          <xs:element name="district" type="xs:string" />
                          <xs:element name="documentAddressId" type="xs:string" />
                          <xs:element name="email" type="xs:string" />
                          <xs:element name="countryIsoCode" type="xs:string" />
                          <xs:element name="apartment" type="xs:string" />
                          <xs:element name="city" type="xs:string" />
                          <xs:element name="orderId" type="xs:string" />
                          <xs:element name="regionIsoCode" type="xs:string" />
                          <xs:element name="lastName" type="xs:string" />
                          <xs:element name="languageIsoCode" type="xs:string" />
                          <xs:element name="postalCode" type="xs:string" />
                          <xs:element name="pobox" type="xs:string" />
                          <xs:element name="firstName" type="xs:string" />
                          <xs:element name="houseNumber" type="xs:string" />
                          <xs:element name="middleName2" type="xs:string" />
                          <xs:element name="street" type="xs:string" />
                          <xs:element name="telNumber" type="xs:string" />
                          <xs:element name="titleCode" type="xs:string" />
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="sapCpiConfig">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="SAPCpiOutboundConfig">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="integrationKey" type="xs:string" />
                          <xs:element name="client" type="xs:string" />
                          <xs:element name="receiverName" type="xs:string" />
                          <xs:element name="receiverPort" type="xs:string" />
                          <xs:element name="senderName" type="xs:string" />
                          <xs:element name="senderPort" type="xs:string" />
                          <xs:element name="url" type="xs:string" />
                          <xs:element name="username" type="xs:string" />
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="sapCpiOutboundCardPayments">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="SAPCpiOutboundCardPayment">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="integrationKey" type="xs:string" />
                          <xs:element name="ccOwner" type="xs:string" />
                          <xs:element name="orderId" type="xs:string" />
                          <xs:element name="paymentProvider" type="xs:string" />
                          <xs:element name="requestId" type="xs:string" />
                          <xs:element name="subscriptionId" type="xs:string" />
                          <xs:element name="validToMonth" type="xs:string" />
                          <xs:element name="validToYear" type="xs:string" />
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="sapCpiOutboundPartnerRoles">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="SAPCpiOutboundPartnerRole">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="integrationKey" type="xs:string" />
                          <xs:element name="documentAddressId" type="xs:string" />
                          <xs:element name="entryNumber" type="xs:string" />
                          <xs:element name="orderId" type="xs:string" />
                          <xs:element name="partnerId" type="xs:string" />
                          <xs:element name="partnerRoleCode" type="xs:string" />
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="sapCpiOutboundPriceComponents">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="SAPCpiOutboundPriceComponent">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="integrationKey" type="xs:string" />
                          <xs:element name="orderId" type="xs:string" />
                          <xs:element name="absolute" type="xs:string" />
                          <xs:element name="conditionCode" type="xs:string" />
                          <xs:element name="conditionCounter" type="xs:string" />
                          <xs:element name="currencyIsoCode" type="xs:string" />
                          <xs:element name="varCondKey" type="xs:string" />
                          <xs:element name="calculationType" type="xs:string" />
                          <xs:element name="conditionClass" type="xs:string" />
                          <xs:element name="entryNumber" type="xs:string" />
                          <xs:element name="priceQuantity" type="xs:string" />
                          <xs:element name="unit" type="xs:string" />
                          <xs:element name="value" type="xs:string" />
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="link">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="sapCpiOutboundOrderItems">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="SAPCpiOutboundOrderItem">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="integrationKey" type="xs:string" />
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="sapCpiOutboundAddresses">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="SAPCpiOutboundAddress">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="integrationKey" type="xs:string" />
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="sapCpiConfig">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="SAPCpiOutboundConfig">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="integrationKey" type="xs:string" />
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="sapCpiOutboundCardPayments">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="SAPCpiOutboundCardPayment">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="integrationKey" type="xs:string" />
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="sapCpiOutboundPartnerRoles">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="SAPCpiOutboundPartnerRole">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="integrationKey" type="xs:string" />
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="sapCpiOutboundPriceComponents">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="SAPCpiOutboundPriceComponent">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="integrationKey" type="xs:string" />
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="productConfigHeaders">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="SAPCpiOutboundOrderItemConfigHeader">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="integrationKey" type="xs:string" />
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="productConfigInstances">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="SAPCpiOutboundOrderItemConfigInstance">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="integrationKey" type="xs:string" />
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="solutionConfigInstances">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="SAPCpiOutboundSolutionConfigInstance">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="integrationKey" type="xs:string" />
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="productConfigHierarchies">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="SAPCpiOutboundOrderItemConfigHierarchy">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="integrationKey" type="xs:string" />
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="productConfigValues">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="SAPCpiOutboundOrderItemConfigValue">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="integrationKey" type="xs:string" />
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="productConfigConditions">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="SAPCpiOutboundOrderItemConfigCondition">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="integrationKey" type="xs:string" />
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>