Resources/schemas/Xsd/SAP_S-4HANA_Integration_with_Salesforce - MySalesforceAccount_BusinessPartnerAddress2.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified"
    xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="QueryResult" type="SRecordsType"/>
    <xs:complexType name="BillingAddressType">
        <xs:sequence>
            <xs:element type="xs:string" name="city" minOccurs="0"/>
            <xs:element type="xs:string" name="country" minOccurs="0"/>
            <xs:element type="xs:int" name="postalCode" minOccurs="0"/>
            <xs:element type="xs:string" name="state" minOccurs="0"/>
            <xs:element type="xs:string" name="street"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="AccountType">
        <xs:sequence>
            <xs:element type="xs:string" name="Id"/>
            <xs:element type="xs:string" name="IsDeleted"/>
            <xs:element type="xs:string" name="Name"/>
            <xs:element type="xs:string" name="Type"/>
            <xs:element type="xs:string" name="BillingStreet"/>
            <xs:element type="xs:string" name="BillingCity" minOccurs="0"/>
            <xs:element type="xs:string" name="BillingState" minOccurs="0"/>
            <xs:element type="xs:int" name="BillingPostalCode" minOccurs="0"/>
            <xs:element type="xs:string" name="BillingCountry" minOccurs="0"/>
            <xs:element type="xs:string" name="ShippingStreet" minOccurs="0"/>
            <xs:element type="xs:string" name="ShippingCity" minOccurs="0"/>
            <xs:element type="xs:string" name="ShippingState" minOccurs="0"/>
            <xs:element type="xs:int" name="ShippingPostalCode" minOccurs="0"/>
            <xs:element type="xs:string" name="ShippingCountry" minOccurs="0"/>
            <xs:element type="xs:string" name="Phone"/>
            <xs:element type="xs:string" name="Fax"/>
            <xs:element type="xs:string" name="AccountNumber"/>
            <xs:element type="xs:string" name="Website"/>
            <xs:element type="xs:string" name="PhotoUrl"/>
            <xs:element type="xs:int" name="Sic"/>
            <xs:element type="xs:string" name="Industry"/>
            <xs:element type="xs:float" name="AnnualRevenue" minOccurs="0"/>
            <xs:element type="xs:int" name="NumberOfEmployees"/>
            <xs:element type="xs:string" name="Ownership"/>
            <xs:element type="xs:string" name="TickerSymbol" minOccurs="0"/>
            <xs:element type="xs:string" name="Description" minOccurs="0"/>
            <xs:element type="xs:string" name="Rating" minOccurs="0"/>
            <xs:element type="xs:string" name="OwnerId"/>
            <xs:element type="xs:dateTime" name="CreatedDate"/>
            <xs:element type="xs:string" name="CreatedById"/>
            <xs:element type="xs:dateTime" name="LastModifiedDate"/>
            <xs:element type="xs:string" name="LastModifiedById"/>
            <xs:element type="xs:dateTime" name="SystemModstamp"/>
            <xs:element type="xs:dateTime" name="LastViewedDate" minOccurs="0"/>
            <xs:element type="xs:dateTime" name="LastReferencedDate" minOccurs="0"/>
            <xs:element type="xs:string" name="CleanStatus"/>
            <xs:element type="xs:string" name="CustomerPriority__c" minOccurs="0"/>
            <xs:element type="xs:string" name="SLA__c"/>
            <xs:element type="xs:string" name="Active__c" minOccurs="0"/>
            <!-- remove v1.1
			<xs:element type="xs:float" name="NumberofLocations__c"/><xs:element type="xs:date" name="SLAExpirationDate__c"/><xs:element type="xs:string" name="UpsellOpportunity__c"/>
			-->
            <xs:element type="xs:short" name="SLASerialNumber__c"/>
            <xs:element type="xs:byte" name="SAP_BusinessPartner_Ref__c" minOccurs="0"/>
            <xs:element type="BillingAddressType" name="BillingAddress"/>
            <xs:element type="ShippingAddressType" name="ShippingAddress" minOccurs="0"/>
            <xs:element type="A_BusinessPartnerTypeAdded" name="A_BusinessPartnerType" minOccurs="0"  maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ShippingAddressType">
        <xs:sequence>
            <xs:element type="xs:string" name="city" minOccurs="0"/>
            <xs:element type="xs:string" name="country" minOccurs="0"/>
            <xs:element type="xs:int" name="postalCode" minOccurs="0"/>
            <xs:element type="xs:string" name="state" minOccurs="0"/>
            <xs:element type="xs:string" name="street"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SRecordsType">
        <xs:sequence>
            <xs:element type="AccountType" name="records" maxOccurs="unbounded" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="A_BusinessPartnerTypeAdded">
    <xs:sequence>
        <xs:element name="BusinessPartner" type="xs:string" />
        <xs:element name="OrganizationBPName1" type="xs:string" />
        <xs:element name="BusinessPartnerGrouping" type="xs:string" />
        <xs:element name="to_BusinessPartnerAddress">
            <xs:complexType>
                <xs:sequence>
                    <xs:element type="A_BusinessPartnerAddressTypeAdded" name="A_BusinessPartnerAddressType" minOccurs="0"  maxOccurs="unbounded"/>
                </xs:sequence>
            </xs:complexType>
        </xs:element>
        <xs:element name="FirstName" />
        <xs:element name="GroupBusinessPartnerName1" />
    </xs:sequence>
    </xs:complexType>
    <xs:complexType name="A_BusinessPartnerAddressTypeAdded">
        <xs:sequence>
            <xs:element nillable="false" maxOccurs="unbounded" name="BusinessPartner">
                <xs:simpleType>
                    <xs:restriction base="xs:string"
                        xmlns="">
                        <xs:maxLength value="10"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element nillable="false" maxOccurs="unbounded" name="AddressID">
                <xs:simpleType>
                    <xs:restriction base="xs:string"
                        xmlns="">
                        <xs:maxLength value="10"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element type="xs:dateTime" nillable="true" minOccurs="0" maxOccurs="unbounded" name="ValidityStartDate"
                xmlns=""/>
            <xs:element type="xs:dateTime" nillable="true" minOccurs="0" maxOccurs="unbounded" name="ValidityEndDate"
                xmlns=""/>
            <xs:element nillable="true" minOccurs="0" maxOccurs="unbounded" name="AuthorizationGroup">
                <xs:simpleType>
                    <xs:restriction base="xs:string"
                        xmlns="">
                        <xs:maxLength value="4"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element type="xs:string" nillable="true" minOccurs="0" maxOccurs="unbounded" name="AddressUUID"
                xmlns=""/>
            <xs:element nillable="true" minOccurs="0" maxOccurs="unbounded" name="AdditionalStreetPrefixName">
                <xs:simpleType>
                    <xs:restriction base="xs:string"
                        xmlns="">
                        <xs:maxLength value="40"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element nillable="true" minOccurs="0" maxOccurs="unbounded" name="AdditionalStreetSuffixName">
                <xs:simpleType>
                    <xs:restriction base="xs:string"
                        xmlns="">
                        <xs:maxLength value="40"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element nillable="true" minOccurs="0" maxOccurs="unbounded" name="AddressTimeZone">
                <xs:simpleType>
                    <xs:restriction base="xs:string"
                        xmlns="">
                        <xs:maxLength value="6"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element nillable="true" minOccurs="0" maxOccurs="unbounded" name="CareOfName">
                <xs:simpleType>
                    <xs:restriction base="xs:string"
                        xmlns="">
                        <xs:maxLength value="40"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element nillable="true" minOccurs="0" maxOccurs="unbounded" name="CityCode">
                <xs:simpleType>
                    <xs:restriction base="xs:string"
                        xmlns="">
                        <xs:maxLength value="12"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element nillable="true" minOccurs="0" maxOccurs="unbounded" name="CityName">
                <xs:simpleType>
                    <xs:restriction base="xs:string"
                        xmlns="">
                        <xs:maxLength value="40"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element nillable="true" minOccurs="0" maxOccurs="unbounded" name="CompanyPostalCode">
                <xs:simpleType>
                    <xs:restriction base="xs:string"
                        xmlns="">
                        <xs:maxLength value="10"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element nillable="true" minOccurs="0" maxOccurs="unbounded" name="Country">
                <xs:simpleType>
                    <xs:restriction base="xs:string"
                        xmlns="">
                        <xs:maxLength value="3"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element nillable="true" minOccurs="0" maxOccurs="unbounded" name="County">
                <xs:simpleType>
                    <xs:restriction base="xs:string"
                        xmlns="">
                        <xs:maxLength value="40"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element nillable="true" minOccurs="0" maxOccurs="unbounded" name="DeliveryServiceNumber">
                <xs:simpleType>
                    <xs:restriction base="xs:string"
                        xmlns="">
                        <xs:maxLength value="10"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element nillable="true" minOccurs="0" maxOccurs="unbounded" name="DeliveryServiceTypeCode">
                <xs:simpleType>
                    <xs:restriction base="xs:string"
                        xmlns="">
                        <xs:maxLength value="4"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element nillable="true" minOccurs="0" maxOccurs="unbounded" name="District">
                <xs:simpleType>
                    <xs:restriction base="xs:string"
                        xmlns="">
                        <xs:maxLength value="40"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element nillable="true" minOccurs="0" maxOccurs="unbounded" name="FormOfAddress">
                <xs:simpleType>
                    <xs:restriction base="xs:string"
                        xmlns="">
                        <xs:maxLength value="4"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element nillable="true" minOccurs="0" maxOccurs="unbounded" name="FullName">
                <xs:simpleType>
                    <xs:restriction base="xs:string"
                        xmlns="">
                        <xs:maxLength value="80"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element nillable="true" minOccurs="0" maxOccurs="unbounded" name="HomeCityName">
                <xs:simpleType>
                    <xs:restriction base="xs:string"
                        xmlns="">
                        <xs:maxLength value="40"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element nillable="true" minOccurs="0" maxOccurs="unbounded" name="HouseNumber">
                <xs:simpleType>
                    <xs:restriction base="xs:string"
                        xmlns="">
                        <xs:maxLength value="10"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element nillable="true" minOccurs="0" maxOccurs="unbounded" name="HouseNumberSupplementText">
                <xs:simpleType>
                    <xs:restriction base="xs:string"
                        xmlns="">
                        <xs:maxLength value="10"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element nillable="true" minOccurs="0" maxOccurs="unbounded" name="Language">
                <xs:simpleType>
                    <xs:restriction base="xs:string"
                        xmlns="">
                        <xs:maxLength value="2"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element nillable="true" minOccurs="0" maxOccurs="unbounded" name="POBox">
                <xs:simpleType>
                    <xs:restriction base="xs:string"
                        xmlns="">
                        <xs:maxLength value="10"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element nillable="true" minOccurs="0" maxOccurs="unbounded" name="POBoxDeviatingCityName">
                <xs:simpleType>
                    <xs:restriction base="xs:string"
                        xmlns="">
                        <xs:maxLength value="40"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element nillable="true" minOccurs="0" maxOccurs="unbounded" name="POBoxDeviatingCountry">
                <xs:simpleType>
                    <xs:restriction base="xs:string"
                        xmlns="">
                        <xs:maxLength value="3"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element nillable="true" minOccurs="0" maxOccurs="unbounded" name="POBoxDeviatingRegion">
                <xs:simpleType>
                    <xs:restriction base="xs:string"
                        xmlns="">
                        <xs:maxLength value="3"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element type="xs:boolean" nillable="true" minOccurs="0" maxOccurs="unbounded" name="POBoxIsWithoutNumber"
                xmlns=""/>
            <xs:element nillable="true" minOccurs="0" maxOccurs="unbounded" name="POBoxLobbyName">
                <xs:simpleType>
                    <xs:restriction base="xs:string"
                        xmlns="">
                        <xs:maxLength value="40"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element nillable="true" minOccurs="0" maxOccurs="unbounded" name="POBoxPostalCode">
                <xs:simpleType>
                    <xs:restriction base="xs:string"
                        xmlns="">
                        <xs:maxLength value="10"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element nillable="true" minOccurs="0" maxOccurs="unbounded" name="Person">
                <xs:simpleType>
                    <xs:restriction base="xs:string"
                        xmlns="">
                        <xs:maxLength value="10"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element nillable="true" minOccurs="0" maxOccurs="unbounded" name="PostalCode">
                <xs:simpleType>
                    <xs:restriction base="xs:string"
                        xmlns="">
                        <xs:maxLength value="10"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element nillable="true" minOccurs="0" maxOccurs="unbounded" name="PrfrdCommMediumType">
                <xs:simpleType>
                    <xs:restriction base="xs:string"
                        xmlns="">
                        <xs:maxLength value="3"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element nillable="true" minOccurs="0" maxOccurs="unbounded" name="Region">
                <xs:simpleType>
                    <xs:restriction base="xs:string"
                        xmlns="">
                        <xs:maxLength value="3"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element nillable="true" minOccurs="0" maxOccurs="unbounded" name="StreetName">
                <xs:simpleType>
                    <xs:restriction base="xs:string"
                        xmlns="">
                        <xs:maxLength value="60"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element nillable="true" minOccurs="0" maxOccurs="unbounded" name="StreetPrefixName">
                <xs:simpleType>
                    <xs:restriction base="xs:string"
                        xmlns="">
                        <xs:maxLength value="40"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element nillable="true" minOccurs="0" maxOccurs="unbounded" name="StreetSuffixName">
                <xs:simpleType>
                    <xs:restriction base="xs:string"
                        xmlns="">
                        <xs:maxLength value="40"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element nillable="true" minOccurs="0" maxOccurs="unbounded" name="TaxJurisdiction">
                <xs:simpleType>
                    <xs:restriction base="xs:string"
                        xmlns="">
                        <xs:maxLength value="15"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element nillable="true" minOccurs="0" maxOccurs="unbounded" name="TransportZone">
                <xs:simpleType>
                    <xs:restriction base="xs:string"
                        xmlns="">
                        <xs:maxLength value="10"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element nillable="true" minOccurs="0" maxOccurs="unbounded" name="AddressIDByExternalSystem">
                <xs:simpleType>
                    <xs:restriction base="xs:string"
                        xmlns="">
                        <xs:maxLength value="20"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element nillable="true" minOccurs="0" maxOccurs="unbounded" name="to_PhoneNumber">
            <xs:complexType>
                <xs:sequence>
                    <xs:element minOccurs="0" maxOccurs="unbounded" name="A_AddressPhoneNumberType">
                        <xs:complexType>
                            <xs:sequence>
                                <xs:element nillable="false" maxOccurs="unbounded" name="AddressID">
                                    <xs:simpleType>
                                        <xs:restriction base="xs:string"
                                            xmlns="">
                                            <xs:maxLength value="10"/>
                                        </xs:restriction>
                                    </xs:simpleType>
                                </xs:element>
                                <xs:element nillable="false" maxOccurs="unbounded" name="Person">
                                    <xs:simpleType>
                                        <xs:restriction base="xs:string"
                                            xmlns="">
                                            <xs:maxLength value="10"/>
                                        </xs:restriction>
                                    </xs:simpleType>
                                </xs:element>
                                <xs:element nillable="false" maxOccurs="unbounded" name="OrdinalNumber">
                                    <xs:simpleType>
                                        <xs:restriction base="xs:string"
                                            xmlns="">
                                            <xs:maxLength value="3"/>
                                        </xs:restriction>
                                    </xs:simpleType>
                                </xs:element>
                                <xs:element nillable="true" minOccurs="0" maxOccurs="unbounded" name="DestinationLocationCountry">
                                    <xs:simpleType>
                                        <xs:restriction base="xs:string"
                                            xmlns="">
                                            <xs:maxLength value="3"/>
                                        </xs:restriction>
                                    </xs:simpleType>
                                </xs:element>
                                <xs:element type="xs:boolean" nillable="true" minOccurs="0" maxOccurs="unbounded" name="IsDefaultPhoneNumber"
                                    xmlns=""/>
                                    <xs:element nillable="true" minOccurs="0" maxOccurs="unbounded" name="PhoneNumber">
                                        <xs:simpleType>
                                            <xs:restriction base="xs:string"
                                                xmlns="">
                                                <xs:maxLength value="30"/>
                                            </xs:restriction>
                                        </xs:simpleType>
                                    </xs:element>
                                    <xs:element nillable="true" minOccurs="0" maxOccurs="unbounded" name="PhoneNumberExtension">
                                        <xs:simpleType>
                                            <xs:restriction base="xs:string"
                                                xmlns="">
                                                <xs:maxLength value="10"/>
                                            </xs:restriction>
                                        </xs:simpleType>
                                    </xs:element>
                                    <xs:element nillable="true" minOccurs="0" maxOccurs="unbounded" name="InternationalPhoneNumber">
                                        <xs:simpleType>
                                            <xs:restriction base="xs:string"
                                                xmlns="">
                                                <xs:maxLength value="30"/>
                                            </xs:restriction>
                                        </xs:simpleType>
                                    </xs:element>
                                    <xs:element nillable="true" minOccurs="0" maxOccurs="unbounded" name="PhoneNumberType">
                                        <xs:simpleType>
                                            <xs:restriction base="xs:string"
                                                xmlns="">
                                                <xs:maxLength value="1"/>
                                            </xs:restriction>
                                        </xs:simpleType>
                                    </xs:element>
                                </xs:sequence>
                            </xs:complexType>
                        </xs:element>
                    </xs:sequence>
            </xs:complexType>
            </xs:element>
            <xs:element nillable="true" minOccurs="0" maxOccurs="unbounded" name="to_AddressUsage">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" maxOccurs="unbounded" name="A_BuPaAddressUsageType">
                            <xs:complexType>
                                <xs:sequence>
                                    <xs:element nillable="false" maxOccurs="unbounded" name="BusinessPartner">
                                        <xs:simpleType>
                                            <xs:restriction base="xs:string"
                                                xmlns="">
                                                <xs:maxLength value="10"/>
                                            </xs:restriction>
                                        </xs:simpleType>
                                    </xs:element>
                                    <xs:element type="xs:dateTime" nillable="false" maxOccurs="unbounded" name="ValidityEndDate"
                                        xmlns=""/>
                                <xs:element nillable="false" maxOccurs="unbounded" name="AddressUsage">
                                    <xs:simpleType>
                                        <xs:restriction base="xs:string"
                                            xmlns="">
                                            <xs:maxLength value="10"/>
                                        </xs:restriction>
                                    </xs:simpleType>
                                </xs:element>
                                <xs:element nillable="false" maxOccurs="unbounded" name="AddressID">
                                    <xs:simpleType>
                                        <xs:restriction base="xs:string"
                                            xmlns="">
                                            <xs:maxLength value="10"/>
                                        </xs:restriction>
                                    </xs:simpleType>
                                </xs:element>
                                <xs:element type="xs:dateTime" nillable="true" minOccurs="0" maxOccurs="unbounded" name="ValidityStartDate"
                                    xmlns=""/>
                                    <xs:element type="xs:boolean" nillable="true" minOccurs="0" maxOccurs="unbounded" name="StandardUsage"
                                        xmlns=""/>
                                        <xs:element nillable="true" minOccurs="0" maxOccurs="unbounded" name="AuthorizationGroup">
                                            <xs:simpleType>
                                                <xs:restriction base="xs:string"
                                                    xmlns="">
                                                    <xs:maxLength value="4"/>
                                                </xs:restriction>
                                            </xs:simpleType>
                                        </xs:element>
                                    </xs:sequence>
                            </xs:complexType>
                        </xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
</xs:schema>