Resources/schemas/Xsd/SAP_Commerce_Integration_with_SAP_Customer_Relationship_Management - SAPCpiOutboundReturnOrdersEntityPOST4.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="SAPCpiOutboundReturnOrders">
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="1" maxOccurs="unbounded" name="SAPCpiOutboundReturnOrder">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element type="xs:string" nillable="false" maxOccurs="unbounded" name="integrationKey" xmlns=""/>
                            <xs:element type="xs:string" nillable="false" maxOccurs="unbounded" name="precedingDocumentId" xmlns=""/>
                            <xs:element type="xs:string" nillable="true" minOccurs="0" maxOccurs="unbounded" name="responseStatus" xmlns=""/>
                            <xs:element type="xs:string" nillable="true" minOccurs="0" maxOccurs="unbounded" name="b2bUnit" xmlns=""/>
                            <xs:element type="xs:string" nillable="true" minOccurs="0" maxOccurs="unbounded" name="responseMessage" xmlns=""/>
                            <xs:element type="xs:string" nillable="true" minOccurs="0" maxOccurs="unbounded" name="orderId" xmlns=""/>
                            <xs:element type="xs:string" nillable="true" minOccurs="0" maxOccurs="unbounded" name="customerId" xmlns=""/>
                            <xs:element nillable="true" minOccurs="0" maxOccurs="unbounded" name="sapCpiOutboundReturnOrderEntries">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element minOccurs="0" maxOccurs="unbounded" name="SAPCpiOutboundReturnOrderEntry">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element type="xs:string" nillable="false" maxOccurs="unbounded" name="integrationKey" xmlns=""/>
                                                    <xs:element type="xs:string" nillable="true" minOccurs="0" maxOccurs="unbounded" name="orderedProduct" xmlns=""/>
                                                    <xs:element type="xs:string" nillable="true" minOccurs="0" maxOccurs="unbounded" name="defectQuantity" xmlns=""/>
                                                    <xs:element type="xs:string" nillable="true" minOccurs="0" maxOccurs="unbounded" name="itemNumber" xmlns=""/>
                                                    <xs:element type="xs:string" nillable="true" minOccurs="0" maxOccurs="unbounded" name="processQtyInitIso" xmlns=""/>
                                                    <xs:element type="xs:string" nillable="true" minOccurs="0" maxOccurs="unbounded" name="productDescription" xmlns=""/>
                                                    <xs:element type="xs:string" nillable="true" minOccurs="0" maxOccurs="unbounded" name="rejectionReason" xmlns=""/>
                                                    <xs:element type="xs:string" nillable="false" maxOccurs="unbounded" name="productId" xmlns=""/>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element nillable="true" minOccurs="0" maxOccurs="unbounded" name="sapCpiConfig">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element minOccurs="0" maxOccurs="1" name="SAPCpiOutboundReturnOrderConfig">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element type="xs:string" nillable="false" maxOccurs="unbounded" name="integrationKey" xmlns=""/>
                                                    <xs:element type="xs:string" nillable="true" minOccurs="0" maxOccurs="unbounded" name="serviceOrgResp" xmlns=""/>
                                                    <xs:element type="xs:string" nillable="true" minOccurs="0" maxOccurs="unbounded" name="receiverPort" xmlns=""/>
                                                    <xs:element type="xs:string" nillable="true" minOccurs="0" maxOccurs="unbounded" name="serviceOrg" xmlns=""/>
                                                    <xs:element type="xs:string" nillable="true" minOccurs="0" maxOccurs="unbounded" name="senderPort" xmlns=""/>
                                                    <xs:element type="xs:string" nillable="true" minOccurs="0" maxOccurs="unbounded" name="userName" xmlns=""/>
                                                    <xs:element type="xs:string" nillable="false" maxOccurs="unbounded" name="salesOrg" xmlns=""/>
                                                    <xs:element type="xs:string" nillable="true" minOccurs="0" maxOccurs="unbounded" name="distributionChannel" xmlns=""/>
                                                    <xs:element type="xs:string" nillable="true" minOccurs="0" maxOccurs="unbounded" name="receiverName" xmlns=""/>
                                                    <xs:element type="xs:string" nillable="true" minOccurs="0" maxOccurs="unbounded" name="servOrgShort" xmlns=""/>
                                                    <xs:element type="xs:string" nillable="true" minOccurs="0" maxOccurs="unbounded" name="url" xmlns=""/>
                                                    <xs:element type="xs:string" nillable="true" minOccurs="0" maxOccurs="unbounded" name="processType" xmlns=""/>
                                                    <xs:element type="xs:string" nillable="true" minOccurs="0" maxOccurs="unbounded" name="client" xmlns=""/>
                                                    <xs:element type="xs:string" nillable="false" maxOccurs="unbounded" name="salesOrgResp" xmlns=""/>
                                                    <xs:element type="xs:string" nillable="true" minOccurs="0" maxOccurs="unbounded" name="senderName" xmlns=""/>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element minOccurs="0" maxOccurs="1" name="link">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element nillable="true" minOccurs="0" maxOccurs="unbounded" name="sapCpiOutboundReturnOrderEntries">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element minOccurs="0" maxOccurs="unbounded" name="SAPCpiOutboundReturnOrderEntry">
                                                        <xs:complexType>
                                                            <xs:sequence>
                                                                <xs:element type="xs:string" minOccurs="1" maxOccurs="1" name="integrationKey" xmlns=""/>
                                                            </xs:sequence>
                                                        </xs:complexType>
                                                    </xs:element>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element nillable="true" minOccurs="0" maxOccurs="unbounded" name="sapCpiConfig">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element minOccurs="0" maxOccurs="1" name="SAPCpiOutboundReturnOrderConfig">
                                                        <xs:complexType>
                                                            <xs:sequence>
                                                                <xs:element type="xs:string" minOccurs="1" maxOccurs="1" name="integrationKey" xmlns=""/>
                                                            </xs:sequence>
                                                        </xs:complexType>
                                                    </xs:element>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>
