Resources/schemas/Xsd/SAP_SuccessFactors_Recruiting_Management_Integration_with_Saudi_Arabia's_Ministry_of_Interior - SuccessFactors_to_MOI_NationalId_target.xsd

<?xml version="1.0" encoding="UTF-8"?><!-- Created with Liquid Technologies Online Tools 1.0 (https://www.liquid-technologies.com) --><xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="qualified">
  <xs:element name="root">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="NationalIdNumber" type="xs:unsignedInt"/>
        <xs:element name="DateOfBirth" type="xs:unsignedInt"/>
        <xs:element name="lang" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>