Resources/schemas/Xsd/SAP_S-4HANA_Cloud_Public_Edition_Integration_with_Shopify - createProductResponse_dl_plugin_gen.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <xsd:element name="product">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element maxOccurs="1" minOccurs="0" name="image">
                    <xsd:complexType>
                        <xsd:sequence>
                            <xsd:element maxOccurs="1" minOccurs="0" name="updated_at" type="xsd:date"/>
                            <xsd:element maxOccurs="1" minOccurs="0" name="src" type="xsd:string"/>
                            <xsd:element maxOccurs="1" minOccurs="0" name="product_id" type="xsd:integer"/>
                            <xsd:element maxOccurs="1" minOccurs="0" name="admin_graphql_api_id" type="xsd:string"/>
                            <xsd:element maxOccurs="1" minOccurs="0" name="alt" type="xsd:string"/>
                            <xsd:element maxOccurs="1" minOccurs="0" name="width" type="xsd:integer"/>
                            <xsd:element maxOccurs="1" minOccurs="0" name="created_at" type="xsd:date"/>
                            <xsd:element maxOccurs="unbounded" minOccurs="0" name="variant_ids" type="xsd:integer"/>
                            <xsd:element maxOccurs="1" minOccurs="0" name="id" type="xsd:integer"/>
                            <xsd:element maxOccurs="1" minOccurs="0" name="position" type="xsd:integer"/>
                            <xsd:element maxOccurs="1" minOccurs="0" name="height" type="xsd:integer"/>
                        </xsd:sequence>
                    </xsd:complexType>
                </xsd:element>
                <xsd:element maxOccurs="1" minOccurs="0" name="body_html" type="xsd:string"/>
                <xsd:element maxOccurs="unbounded" minOccurs="0" name="images"/>
                <xsd:element maxOccurs="1" minOccurs="0" name="created_at" type="xsd:date"/>
                <xsd:element maxOccurs="1" minOccurs="0" name="handle" type="xsd:string"/>
                <xsd:element maxOccurs="unbounded" minOccurs="0" name="variants">
                    <xsd:complexType>
                        <xsd:sequence>
                            <xsd:element maxOccurs="1" minOccurs="0" name="inventory_management" type="xsd:string"/>
                            <xsd:element maxOccurs="1" minOccurs="0" name="old_inventory_quantity" type="xsd:integer"/>
                            <xsd:element maxOccurs="1" minOccurs="0" name="requires_shipping" type="xsd:boolean"/>
                            <xsd:element maxOccurs="1" minOccurs="0" name="created_at" type="xsd:date"/>
                            <xsd:element maxOccurs="1" minOccurs="0" name="title" type="xsd:string"/>
                            <xsd:element maxOccurs="1" minOccurs="0" name="updated_at" type="xsd:date"/>
                            <xsd:element maxOccurs="1" minOccurs="0" name="inventory_item_id" type="xsd:long"/>
                            <xsd:element maxOccurs="1" minOccurs="0" name="price" type="xsd:string"/>
                            <xsd:element maxOccurs="1" minOccurs="0" name="product_id" type="xsd:long"/>
                            <xsd:element maxOccurs="1" minOccurs="0" name="option3" type="xsd:string"/>
                            <xsd:element maxOccurs="1" minOccurs="0" name="option1" type="xsd:string"/>
                            <xsd:element maxOccurs="1" minOccurs="0" name="id" type="xsd:long"/>
                            <xsd:element maxOccurs="1" minOccurs="0" name="option2" type="xsd:string"/>
                            <xsd:element maxOccurs="1" minOccurs="0" name="sku" type="xsd:string"/>
                            <xsd:element maxOccurs="1" minOccurs="0" name="grams" type="xsd:integer"/>
                            <xsd:element maxOccurs="1" minOccurs="0" name="barcode" type="xsd:string"/>
                            <xsd:element maxOccurs="1" minOccurs="0" name="inventory_quantity" type="xsd:integer"/>
                            <xsd:element maxOccurs="1" minOccurs="0" name="compare_at_price" type="xsd:string"/>
                            <xsd:element maxOccurs="1" minOccurs="0" name="fulfillment_service" type="xsd:string"/>
                            <xsd:element maxOccurs="1" minOccurs="0" name="taxable" type="xsd:boolean"/>
                            <xsd:element maxOccurs="1" minOccurs="0" name="weight" type="xsd:decimal"/>
                            <xsd:element maxOccurs="1" minOccurs="0" name="inventory_policy" type="xsd:string"/>
                            <xsd:element maxOccurs="1" minOccurs="0" name="weight_unit" type="xsd:string"/>
                            <xsd:element maxOccurs="1" minOccurs="0" name="admin_graphql_api_id" type="xsd:string"/>
                            <xsd:element maxOccurs="1" minOccurs="0" name="position" type="xsd:integer"/>
                            <xsd:element maxOccurs="1" minOccurs="0" name="image_id" type="xsd:integer"/>
                        </xsd:sequence>
                    </xsd:complexType>
                </xsd:element>
                <xsd:element maxOccurs="1" minOccurs="0" name="title" type="xsd:string"/>
                <xsd:element maxOccurs="1" minOccurs="0" name="tags" type="xsd:string"/>
                <xsd:element maxOccurs="1" minOccurs="0" name="published_scope" type="xsd:string"/>
                <xsd:element maxOccurs="1" minOccurs="0" name="product_type" type="xsd:string"/>
                <xsd:element maxOccurs="1" minOccurs="0" name="template_suffix" type="xsd:string"/>
                <xsd:element maxOccurs="1" minOccurs="0" name="updated_at" type="xsd:date"/>
                <xsd:element maxOccurs="1" minOccurs="0" name="vendor" type="xsd:string"/>
                <xsd:element maxOccurs="1" minOccurs="0" name="admin_graphql_api_id" type="xsd:string"/>
                <xsd:element maxOccurs="unbounded" minOccurs="0" name="options">
                    <xsd:complexType>
                        <xsd:sequence>
                            <xsd:element maxOccurs="1" minOccurs="0" name="product_id" type="xsd:long"/>
                            <xsd:element maxOccurs="unbounded" minOccurs="0" name="values" type="xsd:string"/>
                            <xsd:element maxOccurs="1" minOccurs="0" name="name" type="xsd:string"/>
                            <xsd:element maxOccurs="1" minOccurs="0" name="id" type="xsd:long"/>
                            <xsd:element maxOccurs="1" minOccurs="0" name="position" type="xsd:integer"/>
                        </xsd:sequence>
                    </xsd:complexType>
                </xsd:element>
                <xsd:element maxOccurs="1" minOccurs="0" name="id" type="xsd:long"/>
                <xsd:element maxOccurs="1" minOccurs="0" name="published_at" type="xsd:date"/>
                <xsd:element maxOccurs="1" minOccurs="0" name="status" type="xsd:string"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>
