Resources/schemas/Xsd/SAP_ERP_Integration_with_SAP_Build_Process_Automation - BAPI_REQUISITION_RELEASE_RESPONSE.xsd

		<xsd:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
			<xsd:element name="BAPI_REQUISITION_RELEASE_RESPONSE">
				<xsd:complexType>
					<xsd:all>
						<xsd:element name="REL_INDICATOR_NEW" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>New Release Indicator</xsd:documentation>
							</xsd:annotation>
							<xsd:simpleType>
								<xsd:restriction base="xsd:string">
									<xsd:maxLength value="1"/>
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:element>
						<xsd:element name="REL_STATUS_NEW" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>New Release Status</xsd:documentation>
							</xsd:annotation>
							<xsd:simpleType>
								<xsd:restriction base="xsd:string">
									<xsd:maxLength value="8"/>
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:element>
						<xsd:element name="RETURN" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>Return Messages</xsd:documentation>
							</xsd:annotation>
							<xsd:complexType>
								<xsd:sequence>
									<xsd:element name="item" type="BAPIRETURN" minOccurs="0" maxOccurs="unbounded"/>
								</xsd:sequence>
							</xsd:complexType>
						</xsd:element>
					</xsd:all>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="BAPI_REQUISITION_RELEASE.Exception">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="Name">
							<xsd:simpleType>
								<xsd:restriction base="xsd:string">
									<xsd:enumeration value="AUTHORITY_CHECK_FAIL"/>
									<xsd:enumeration value="ENQUEUE_FAIL"/>
									<xsd:enumeration value="PREREQUISITE_FAIL"/>
									<xsd:enumeration value="RELEASE_ALREADY_POSTED"/>
									<xsd:enumeration value="REQUISITION_NOT_FOUND"/>
									<xsd:enumeration value="RESPONSIBILITY_FAIL"/>
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:element>
						<xsd:element name="Text" type="xsd:string" minOccurs="0"/>
						<xsd:element name="Message" minOccurs="0">
							<xsd:complexType>
								<xsd:sequence>
									<xsd:element name="ID">
										<xsd:simpleType>
											<xsd:restriction base="xsd:string">
												<xsd:maxLength value="20"/>
											</xsd:restriction>
										</xsd:simpleType>
									</xsd:element>
									<xsd:element name="Number">
										<xsd:simpleType>
											<xsd:restriction base="xsd:string">
												<xsd:pattern value="\d+"/>
												<xsd:maxLength value="3"/>
											</xsd:restriction>
										</xsd:simpleType>
									</xsd:element>
								</xsd:sequence>
							</xsd:complexType>
						</xsd:element>
						<xsd:element name="Attributes" minOccurs="0">
							<xsd:complexType>
								<xsd:sequence>
									<xsd:element name="V1" minOccurs="0">
										<xsd:simpleType>
											<xsd:restriction base="xsd:string">
												<xsd:maxLength value="50"/>
											</xsd:restriction>
										</xsd:simpleType>
									</xsd:element>
									<xsd:element name="V2" minOccurs="0">
										<xsd:simpleType>
											<xsd:restriction base="xsd:string">
												<xsd:maxLength value="50"/>
											</xsd:restriction>
										</xsd:simpleType>
									</xsd:element>
									<xsd:element name="V3" minOccurs="0">
										<xsd:simpleType>
											<xsd:restriction base="xsd:string">
												<xsd:maxLength value="50"/>
											</xsd:restriction>
										</xsd:simpleType>
									</xsd:element>
									<xsd:element name="V4" minOccurs="0">
										<xsd:simpleType>
											<xsd:restriction base="xsd:string">
												<xsd:maxLength value="50"/>
											</xsd:restriction>
										</xsd:simpleType>
									</xsd:element>
								</xsd:sequence>
							</xsd:complexType>
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:complexType name="BAPIRETURN">
				<xsd:annotation>
					<xsd:documentation>Return Parameter</xsd:documentation>
				</xsd:annotation>
				<xsd:sequence>
					<xsd:element name="TYPE" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Message type: S Success, E Error, W Warning, I Info, A Abort</xsd:documentation>
						</xsd:annotation>
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="1"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="CODE" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Message code</xsd:documentation>
						</xsd:annotation>
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="5"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="MESSAGE" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Message Text</xsd:documentation>
						</xsd:annotation>
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="220"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="LOG_NO" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Application log: log number</xsd:documentation>
						</xsd:annotation>
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="20"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="LOG_MSG_NO" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Application log: Internal message serial number</xsd:documentation>
						</xsd:annotation>
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="6"/>
								<xsd:pattern value="\d+"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="MESSAGE_V1" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Message Variable</xsd:documentation>
						</xsd:annotation>
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="50"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="MESSAGE_V2" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Message Variable</xsd:documentation>
						</xsd:annotation>
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="50"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="MESSAGE_V3" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Message Variable</xsd:documentation>
						</xsd:annotation>
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="50"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="MESSAGE_V4" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Message Variable</xsd:documentation>
						</xsd:annotation>
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="50"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
				</xsd:sequence>
			</xsd:complexType>
		</xsd:schema>