Resources/schemas/Xsd/SAP_Commerce_Cloud_Integration_with_SAP_CPQ - ReleaseQuoteAndProposalXSD.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Quote">
    <xs:complexType>
      <xs:sequence>
        <xs:element type="xs:short" name="CompositeNumber"/>
        <xs:element type="xs:float" name="MarketFactor"/>
        <xs:element type="xs:byte" name="QuoteId"/>
        <xs:element type="xs:string" name="QuoteExternalId"/>
        <xs:element type="xs:string" name="OpportunityId"/>
        <xs:element type="xs:string" name="AccountId"/>
        <xs:element type="xs:string" name="ExternalId"/>
        <xs:element type="xs:string" name="PricingProcedureName"/>
        <xs:element type="xs:string" name="CountryISOCode"/>
        <xs:element type="xs:string" name="Comment"/>
        <xs:element name="CartComments">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="CartComment" maxOccurs="unbounded" minOccurs="0">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:string" name="UserFullName"/>
                    <xs:element type="xs:string" name="UserEmail"/>
                    <xs:element type="xs:string" name="UserCompany"/>
                    <xs:element type="xs:string" name="Comment"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element type="xs:byte" name="RevisionNumber"/>
        <xs:element type="xs:byte" name="UserId"/>
        <xs:element type="xs:string" name="UserEmail"/>
        <xs:element type="xs:date" name="ExpirationDate"/>
        <xs:element name="SalesArea">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="SalesOrganization"/>
              <xs:element type="xs:string" name="DistributionChannel"/>
              <xs:element type="xs:byte" name="Division"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="OrderStatus">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:byte" name="Id"/>
              <xs:element type="xs:string" name="Name"/>
              <xs:element type="xs:string" name="NameTranslated"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="SelectedMarket">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="CurrencyCode"/>
              <xs:element type="xs:string" name="CurrencyDescription"/>
              <xs:element type="xs:float" name="CurrencyRate"/>
              <xs:element type="xs:string" name="CurrencySign"/>
              <xs:element type="xs:float" name="ForwardCurrencyRate"/>
              <xs:element type="xs:string" name="MarketCode"/>
              <xs:element type="xs:float" name="MarketFactor"/>
              <xs:element type="xs:string" name="MarketName"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="CustomFields">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="CustomField" maxOccurs="unbounded" minOccurs="0">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:string" name="Content"/>
                    <xs:element type="xs:byte" name="Id"/>
                    <xs:element type="xs:string" name="Name"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="BillToCustomer">
           <xs:complexType>
             <xs:sequence>
               <xs:element name="Active" type="xs:string" />
               <xs:element name="Address1" type="xs:string" />
               <xs:element name="Address2" type="xs:string" />
               <xs:element name="BusinessFax" type="xs:string" />
               <xs:element name="BusinessPhone" type="xs:string" />
               <xs:element name="City" type="xs:string" />
               <xs:element name="CompanyName" type="xs:string" />
               <xs:element name="CountryAbbreviation" type="xs:string" />
               <xs:element name="CrmAccountId" type="xs:string" />
               <xs:element name="CrmContactId" type="xs:string" />
               <xs:element name="CustomerCode" type="xs:string" />
               <xs:element name="CustomerType" type="xs:string" />
               <xs:element name="Email" type="xs:string" />
               <xs:element name="FirstName" type="xs:string" />
               <xs:element name="LastName" type="xs:string" />
               <xs:element name="OwnerName" type="xs:string" />
               <xs:element name="PrimaryIndustry" type="xs:string" />
               <xs:element name="Province" type="xs:string" />
               <xs:element name="QuoteId" type="xs:unsignedByte" />
               <xs:element name="StateAbbreviation" type="xs:string" />
               <xs:element name="TerritoryName" type="xs:string" />
               <xs:element name="Title" type="xs:string" />
               <xs:element name="UserId" type="xs:unsignedByte" />
               <xs:element name="ZipCode" type="xs:unsignedInt" />
               <xs:element name="ExternalId" />
               <xs:element name="CustomFields">
                 <xs:complexType>
                   <xs:sequence>
                     <xs:element maxOccurs="unbounded" name="CustomField">
                       <xs:complexType>
                         <xs:sequence>
                           <xs:element name="Content" type="xs:string" />
                           <xs:element name="Id" type="xs:unsignedShort" />
                           <xs:element name="Name" type="xs:string" />
                         </xs:sequence>
                       </xs:complexType>
                     </xs:element>
                   </xs:sequence>
                 </xs:complexType>
               </xs:element>
             </xs:sequence>
           </xs:complexType>
         </xs:element>
         <xs:element name="ShipToCustomer" />
         <xs:element name="EndUserCustomer" />

        <xs:element name="Items">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="Item" maxOccurs="unbounded" minOccurs="0">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:float" name="DefaultMrcMultiplier"/>
                    <xs:element type="xs:float" name="DefaultMultiplier"/>
                    <xs:element type="xs:float" name="MaxMrcMultiplier"/>
                    <xs:element type="xs:float" name="MaxMultiplier"/>
                    <xs:element type="xs:float" name="MinMrcMultiplier"/>
                    <xs:element type="xs:float" name="MinMultiplier"/>
                    <xs:element type="xs:float" name="MRCMultiplier"/>
                    <xs:element type="xs:float" name="Multiplier"/>
                    <xs:element type="xs:string" name="ParentRolledUpQuoteItem"/>
                    <xs:element type="xs:float" name="PromoDiscountAmount"/>
                    <xs:element type="xs:float" name="PromoDiscountPercent"/>
                    <xs:element type="xs:float" name="ChannelCommissionPercent"/>
                    <xs:element type="xs:float" name="ChannelMarginPercent"/>
                    <xs:element type="xs:float" name="ChannelMarkupPercent"/>
                    <xs:element type="xs:float" name="MRCChannelMarginPercent"/>
                    <xs:element type="xs:float" name="MRCChannelMarkupPercent"/>
                    <xs:element type="xs:string" name="ProductVersion"/>
                    <xs:element type="xs:float" name="UserCommissionPercent"/>
                    <xs:element type="xs:byte" name="Inventory"/>
                    <xs:element type="xs:float" name="BaseQuantity"/>
                    <xs:element type="xs:string" name="UniversalProductCode"/>
                    <xs:element type="xs:string" name="ManufacturerPartNumber"/>
                    <xs:element type="xs:string" name="LeadTime"/>
                    <xs:element type="xs:string" name="FamilyCode"/>
                    <xs:element type="xs:float" name="Weight"/>
                    <xs:element type="xs:string" name="ExternalId"/>
                    <xs:element type="xs:string" name="UnitOfMeasure"/>
                    <xs:element type="xs:string" name="ConfigurationId"/>
                    <xs:element type="xs:byte" name="RolledUpQuoteItem"/>
                    <xs:element type="xs:float" name="DefaultDiscountPercent"/>
                    <xs:element type="xs:float" name="DefaultMrcDiscountPercent"/>
                    <xs:element type="xs:string" name="Description"/>
                    <xs:element type="xs:string" name="DescriptionLong"/>
                    <xs:element type="xs:string" name="IsLineItem"/>
                    <xs:element type="xs:string" name="IsMainItem"/>
                    <xs:element type="xs:byte" name="IsOptional"/>
                    <xs:element type="xs:string" name="IsVariant"/>
                    <xs:element type="xs:string" name="IsAlternative"/>
                    <xs:element type="xs:byte" name="ItemType"/>
                    <xs:element type="xs:float" name="MarginPercent"/>
                    <xs:element type="xs:float" name="MaxDiscountPercent"/>
                    <xs:element type="xs:float" name="MaxMrcDiscountPercent"/>
                    <xs:element type="xs:float" name="MinDiscountPercent"/>
                    <xs:element type="xs:float" name="MinMrcDiscountPercent"/>
                    <xs:element type="xs:float" name="MRCMarginPercent"/>
                    <xs:element type="xs:byte" name="ParentItem"/>
                    <xs:element type="xs:string" name="PartNumber"/>
                    <xs:element type="xs:string" name="ProductSystemId"/>
                    <xs:element type="xs:byte" name="ProductId"/>
                    <xs:element type="xs:string" name="ProductName"/>
                    <xs:element type="xs:string" name="ProductNameTranslated"/>
                    <xs:element type="xs:byte" name="ProductTypeId"/>
                    <xs:element type="xs:string" name="ProductTypeName"/>
                    <xs:element type="xs:string" name="ProductTypeNameTranslated"/>
                    <xs:element type="xs:float" name="Quantity"/>
                    <xs:element type="xs:byte" name="Rank"/>
                    <xs:element type="xs:string" name="Comment"/>
                    <xs:element name="CustomFields">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="CustomField" maxOccurs="unbounded" minOccurs="0">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element type="xs:string" name="Content"/>
                                <xs:element type="xs:string" name="Name"/>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="PriceComponent" maxOccurs="unbounded" minOccurs="0">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element type="xs:string" name="TypeCode"/>
                          <xs:element type="xs:string" name="Description"/>
                          <xs:element type="xs:float" name="DecimalValue"/>
                          <xs:element type="xs:string" name="Currency"/>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="ItemComments">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="ItemComment" maxOccurs="unbounded" minOccurs="0">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element type="xs:string" name="UserFullName"/>
                                <xs:element type="xs:string" name="UserEmail"/>
                                <xs:element type="xs:string" name="UserCompany"/>
                                <xs:element type="xs:string" name="Comment"/>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="PriceComponent" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="TypeCode"/>
              <xs:element type="xs:string" name="Description"/>
              <xs:element type="xs:float" name="DecimalValue"/>
              <xs:element type="xs:string" name="Currency"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="OverallDiscountAmount">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="TypeCode" />
            <xs:element name="Description" type="xs:string" />
            <xs:element name="DecimalValue" type="xs:decimal" />
            <xs:element name="Currency" type="xs:string" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
        <xs:element name="AdditionalDiscounts">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="AdditionalDiscount" maxOccurs="unbounded" minOccurs="0">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:byte" name="Id"/>
                    <xs:element type="xs:string" name="Description"/>
                    <xs:element type="xs:float" name="DiscountAmount"/>
                    <xs:element type="xs:float" name="DiscountPercent"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element type="xs:float" name="TotalAmount"/>
        <xs:element type="xs:float" name="HeaderDiscountsSum"/>
        <xs:element name="QuoteTables">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="QuoteTable">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:string" name="QuoteTableName"/>
                    <xs:element name="Rows">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="Row" maxOccurs="unbounded" minOccurs="0">
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="SubmitQuoteCover">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="Content"/>
              <xs:element type="xs:string" name="MimeCode"/>
              <xs:element type="xs:string" name="Name"/>
              <xs:element type="xs:string" name="CoverText"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
