Resources/schemas/Xsd/SAP_Customer_Engagement_Center_Integration_with_SAP_Cloud_for_Customer - secserviceticket.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="d">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="__metadata">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="uri"/>
              <xs:element type="xs:string" name="type"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element type="xs:byte" name="id"/>
        <xs:element type="xs:byte" name="ticketType"/>
        <xs:element type="xs:short" name="ticketNumber"/>
        <xs:element type="xs:string" name="description"/>
        <xs:element type="xs:string" name="dueDate"/>
        <xs:element type="xs:byte" name="ticketStatus"/>
        <xs:element type="xs:byte" name="ticketPriority"/>
        <xs:element type="xs:string" name="keywords"/>
        <xs:element type="xs:string" name="legalHold"/>
        <xs:element type="xs:string" name="companyCode"/>
        <xs:element type="xs:string" name="externalId"/>
        <xs:element type="xs:string" name="externalSourceType"/>
        <xs:element type="xs:string" name="administrativeData_createdBy"/>
        <xs:element type="xs:string" name="administrativeData_createdAt"/>
        <xs:element type="xs:string" name="administrativeData_changedBy"/>
        <xs:element type="xs:string" name="administrativeData_changedAt"/>
        <xs:element name="comments">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="results" maxOccurs="unbounded" minOccurs="0">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="__metadata">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element type="xs:string" name="uri"/>
                          <xs:element type="xs:string" name="type"/>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element type="xs:byte" name="id"/>
                    <xs:element type="xs:byte" name="ticketId"/>
                    <xs:element type="xs:string" name="plainDescription"/>
                    <xs:element type="xs:string" name="formattedDescription"/>
                    <xs:element type="xs:string" name="visibility"/>
                    <xs:element type="xs:byte" name="commentType"/>
                    <xs:element type="xs:string" name="isCustomer"/>
                    <xs:element type="xs:string" name="isSolution"/>
                    <xs:element type="xs:string" name="administrativeData_createdBy"/>
                    <xs:element type="xs:string" name="administrativeData_createdAt"/>
                    <xs:element type="xs:string" name="administrativeData_changedBy"/>
                    <xs:element type="xs:string" name="administrativeData_changedAt"/>
                    <xs:element type="xs:string" name="coLocationGroup"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="partners">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="results">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="__metadata">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element type="xs:string" name="uri"/>
                          <xs:element type="xs:string" name="type"/>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element type="xs:byte" name="id"/>
                    <xs:element type="xs:byte" name="ticketId"/>
                    <xs:element type="xs:long" name="partnerId"/>
                    <xs:element type="xs:byte" name="partnerTypeId"/>
                    <xs:element type="xs:byte" name="isMappedPartner"/>
                    <xs:element type="xs:string" name="unMappedPartyId"/>
                    <xs:element type="xs:string" name="unMappedPartyName"/>
                    <xs:element type="xs:string" name="administrativeData_createdBy"/>
                    <xs:element type="xs:string" name="administrativeData_createdAt"/>
                    <xs:element type="xs:string" name="administrativeData_changedBy"/>
                    <xs:element type="xs:string" name="administrativeData_changedAt"/>
                    <xs:element type="xs:string" name="coLocationGroup"/>
                    <xs:element name="partnerType">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="__deferred">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element type="xs:string" name="uri"/>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="partnersbytype">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="__deferred">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:string" name="uri"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="classifications">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="__deferred">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:string" name="uri"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="attachments">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="__deferred">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:string" name="uri"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="solutions">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="__deferred">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:string" name="uri"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="references">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="__deferred">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:string" name="uri"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="tickettype">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="__deferred">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:string" name="uri"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="status">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="__deferred">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:string" name="uri"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="priority">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="__deferred">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:string" name="uri"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>