Resources/schemas/Xsd/SAP_S-4HANA_Integration_with_SAP_Build_Process_Automation_for_Sales_Order - PrepareWorkflowContext_Output-1.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="qualified">
	<xs:element name="WorkflowMessage">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="definitionId" minOccurs="0" type="xs:string"/>
				<xs:element name="context">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="SalesOrderDetails">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="salesOrderNo" minOccurs="0" type="xs:string"/>
										<xs:element name="salesOrg" minOccurs="0" type="xs:string"/>
										<xs:element name="distributionChnl" minOccurs="0" type="xs:string"/>
										<xs:element name="division" minOccurs="0" type="xs:string"/>
										<xs:element name="salesOffice" minOccurs="0" type="xs:string"/>
										<xs:element name="salesGroup" minOccurs="0" type="xs:string"/>
										<xs:element name="customerGroup" minOccurs="0" type="xs:string"/>
										<xs:element name="amount" minOccurs="0" type="xs:string"/>
										<xs:element name="currency" minOccurs="0" type="xs:string"/>
										<xs:element name="businessKey" minOccurs="0" type="xs:string"/>
										<xs:element name="salesUser" minOccurs="0" type="xs:string"/>
										<xs:element name="customer" minOccurs="0" type="xs:string"/>
										<xs:element name="documentType" minOccurs="0" type="xs:string"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
								<xs:element name="SalesOrder">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="SalesGroup" minOccurs="0" type="xs:string"/>
										<xs:element name="SalesOrganisation" minOccurs="0" type="xs:string"/>
										<xs:element name="DistributionChannel" minOccurs="0" type="xs:string"/>
										<xs:element name="Division" minOccurs="0" type="xs:string"/>
										<xs:element name="SalesOffice" minOccurs="0" type="xs:string"/>
										<xs:element name="CustomerGroup" minOccurs="0" type="xs:string"/>
        								<xs:element name="NetValue" minOccurs="0" type="xs:string"/>
										<xs:element name="Currency" minOccurs="0" type="xs:string"/>
										<xs:element name="Customer" minOccurs="0" type="xs:string"/>
										<xs:element name="DocumentType" minOccurs="0" type="xs:string"/>
										<xs:element name="BlockType" minOccurs="0" type="xs:string"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>