Resources/schemas/Xsd/SAP_Document_Compliance-_Template_for_Electronic_Document_Integration - Acquirer.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Acquirer">
    <xs:complexType>
      <xs:sequence>
        <xs:element type="xs:string" name="active"/>
        <xs:element type="xs:string" name="address"/>
        <xs:element name="contacts">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="Contact">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:string" name="active"/>
                    <xs:element type="xs:string" name="address"/>
                    <xs:element type="xs:long" name="cellphoneNumber"/>
                    <xs:element type="xs:int" name="contract"/>
                    <xs:element type="xs:int" name="documentNumber"/>
                    <xs:element type="xs:byte" name="documentTypeCode"/>
                    <xs:element type="xs:string" name="email"/>
                    <xs:element type="xs:string" name="fullName"/>
                    <xs:element type="xs:int" name="phoneNumber"/>
                    <xs:element type="xs:string" name="position"/>
                    <xs:element type="xs:string" name="sendInvoice"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element type="xs:int" name="documentNumber"/>
        <xs:element type="xs:byte" name="documentTypeCode"/>
        <xs:element name="fiscalLocation">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="address"/>
              <xs:element type="xs:byte" name="city"/>
              <xs:element type="xs:string" name="countryCode"/>
              <xs:element type="xs:byte" name="postalZone"/>
              <xs:element type="xs:byte" name="state"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="fiscalResponsabilities">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="string"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element type="xs:byte" name="juridicalOrganizationCode"/>
        <xs:element name="merchantRegisters">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="MerchantRegister">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:string" name="active"/>
                    <xs:element type="xs:byte" name="cityCode"/>
                    <xs:element type="xs:byte" name="departmentCode"/>
                    <xs:element type="xs:int" name="value"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element type="xs:string" name="name"/>
        <xs:element name="physicalLocation">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="Location">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:string" name="address"/>
                    <xs:element type="xs:byte" name="city"/>
                    <xs:element type="xs:string" name="countryCode"/>
                    <xs:element type="xs:byte" name="postalZone"/>
                    <xs:element type="xs:byte" name="state"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element type="xs:byte" name="regimenTypeCode"/>
        <xs:element type="xs:int" name="technologicalProviderNIT"/>
        <xs:element type="xs:long" name="telephone"/>
        <xs:element type="xs:byte" name="tributaryDetail"/>
        <xs:element type="xs:byte" name="verificationDigit"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>