Resources/schemas/Xsd/SAP_Commerce_Cloud_Integration_with_SAP_S-4HANA - MaterialsEntityPOST0.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="batchParts">
        <xs:complexType>
            <xs:sequence>
                <xs:element nillable="false" minOccurs="1" maxOccurs="unbounded" name="batchChangeSet">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element nillable="false" minOccurs="1" maxOccurs="unbounded" name="batchChangeSetPart">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element type="xs:string" nillable="false" minOccurs="1" maxOccurs="1" name="method" xmlns=""/>
                                        <xs:element type="xs:string" nillable="true" minOccurs="0" maxOccurs="1" name="uri" xmlns=""/>
                                        <xs:element nillable="true" minOccurs="0" maxOccurs="unbounded" name="headers">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element nillable="true" minOccurs="0" maxOccurs="unbounded" name="header">
                                                        <xs:complexType>
                                                            <xs:sequence>
                                                                <xs:element type="xs:string" nillable="false" minOccurs="1" maxOccurs="unbounded" name="headerName" xmlns=""/>
                                                                <xs:element type="xs:string" nillable="false" minOccurs="1" maxOccurs="unbounded" name="headerValue" xmlns=""/>
                                                            </xs:sequence>
                                                        </xs:complexType>
                                                    </xs:element>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element nillable="false" minOccurs="1" maxOccurs="1" name="Materials">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element minOccurs="1" maxOccurs="unbounded" name="Material">
                                                        <xs:complexType>
                                                            <xs:sequence>
                                                                <xs:element type="xs:string" nillable="false" maxOccurs="unbounded" name="integrationKey" xmlns=""/>
                                                                <xs:element type="xs:string" nillable="true" minOccurs="0" maxOccurs="unbounded" name="netValue" xmlns=""/>
                                                                <xs:element type="xs:string" nillable="true" minOccurs="0" maxOccurs="unbounded" name="unit" xmlns=""/>
                                                                <xs:element type="xs:string" nillable="false" maxOccurs="unbounded" name="matPosNo" xmlns=""/>
                                                                <xs:element type="xs:string" nillable="true" minOccurs="0" maxOccurs="unbounded" name="subTotal3" xmlns=""/>
                                                                <xs:element type="xs:string" nillable="true" minOccurs="0" maxOccurs="unbounded" name="subTotal1" xmlns=""/>
                                                                <xs:element type="xs:string" nillable="true" minOccurs="0" maxOccurs="unbounded" name="subTotal4" xmlns=""/>
                                                                <xs:element type="xs:string" nillable="true" minOccurs="0" maxOccurs="unbounded" name="grossPrice" xmlns=""/>
                                                                <xs:element type="xs:string" nillable="true" minOccurs="0" maxOccurs="unbounded" name="subTotal2" xmlns=""/>
                                                                <xs:element type="xs:string" nillable="true" minOccurs="0" maxOccurs="unbounded" name="netPrice" xmlns=""/>
                                                                <xs:element type="xs:string" nillable="true" minOccurs="0" maxOccurs="unbounded" name="qualifyCashDisc" xmlns=""/>
                                                                <xs:element type="xs:string" nillable="true" minOccurs="0" maxOccurs="unbounded" name="quantity" xmlns=""/>
                                                                <xs:element type="xs:string" nillable="true" minOccurs="0" maxOccurs="unbounded" name="matDesc" xmlns=""/>
                                                                <xs:element type="xs:string" nillable="true" minOccurs="0" maxOccurs="unbounded" name="subTotal5" xmlns=""/>
                                                                <xs:element type="xs:string" nillable="true" minOccurs="0" maxOccurs="unbounded" name="matNo" xmlns=""/>
                                                                <xs:element type="xs:string" nillable="true" minOccurs="0" maxOccurs="unbounded" name="statValue" xmlns=""/>
                                                                <xs:element type="xs:string" nillable="true" minOccurs="0" maxOccurs="unbounded" name="grossValue" xmlns=""/>
                                                                <xs:element type="xs:string" nillable="true" minOccurs="0" maxOccurs="unbounded" name="abstNetValue" xmlns=""/>
                                                                <xs:element type="xs:string" nillable="true" minOccurs="0" maxOccurs="unbounded" name="subTotal6" xmlns=""/>
                                                                <xs:element type="xs:string" nillable="true" minOccurs="0" maxOccurs="unbounded" name="cashDisc" xmlns=""/>
                                                                <xs:element nillable="true" minOccurs="0" maxOccurs="unbounded" name="sapB2BDocument">
                                                                    <xs:complexType>
                                                                        <xs:sequence>
                                                                            <xs:element minOccurs="0" maxOccurs="1" name="SapB2BDocument">
                                                                                <xs:complexType>
                                                                                    <xs:sequence>
                                                                                        <xs:element type="xs:string" nillable="false" maxOccurs="unbounded" name="integrationKey" xmlns=""/>
                                                                                        <xs:element type="xs:string" nillable="false" maxOccurs="unbounded" name="documentNumber" xmlns=""/>
                                                                                        <xs:element nillable="true" minOccurs="0" maxOccurs="unbounded" name="documentType">
                                                                                            <xs:complexType>
                                                                                                <xs:sequence>
                                                                                                    <xs:element minOccurs="0" maxOccurs="1" name="B2BDocumentType">
                                                                                                        <xs:complexType>
                                                                                                            <xs:sequence>
                                                                                                                <xs:element type="xs:string" nillable="false" maxOccurs="unbounded" name="integrationKey" xmlns=""/>
                                                                                                                <xs:element type="xs:string" nillable="false" maxOccurs="unbounded" name="code" xmlns=""/>
                                                                                                            </xs:sequence>
                                                                                                        </xs:complexType>
                                                                                                    </xs:element>
                                                                                                </xs:sequence>
                                                                                            </xs:complexType>
                                                                                        </xs:element>
                                                                                    </xs:sequence>
                                                                                </xs:complexType>
                                                                            </xs:element>
                                                                        </xs:sequence>
                                                                    </xs:complexType>
                                                                </xs:element>
                                                                <xs:element minOccurs="0" maxOccurs="1" name="link">
                                                                    <xs:complexType>
                                                                        <xs:sequence>
                                                                            <xs:element nillable="true" minOccurs="0" maxOccurs="unbounded" name="sapB2BDocument">
                                                                                <xs:complexType>
                                                                                    <xs:sequence>
                                                                                        <xs:element minOccurs="0" maxOccurs="1" name="SapB2BDocument">
                                                                                            <xs:complexType>
                                                                                                <xs:sequence>
                                                                                                    <xs:element type="xs:string" minOccurs="1" maxOccurs="1" name="integrationKey" xmlns=""/>
                                                                                                </xs:sequence>
                                                                                            </xs:complexType>
                                                                                        </xs:element>
                                                                                    </xs:sequence>
                                                                                </xs:complexType>
                                                                            </xs:element>
                                                                        </xs:sequence>
                                                                    </xs:complexType>
                                                                </xs:element>
                                                            </xs:sequence>
                                                        </xs:complexType>
                                                    </xs:element>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>
