Resources/schemas/Xsd/SAP_Commerce_financial_services_accelerator_integration_with_SAP_for_Insurance - HELP_NAMDRV_NamedDriver.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="childInsuredObjects">
		<xs:complexType>
			<xs:sequence>
				<xs:element type="xs:short" name="insuredObjectId"/>
				<xs:element type="xs:string" name="customerId"/>
				<xs:element type="xs:date" name="dateOfBirth"/>
				<xs:element type="xs:string" name="lastName"/>
				<xs:element type="xs:string" name="fullName"/>
				<xs:element type="xs:string" name="email"/>
				<xs:element type="xs:string" name="phone"/>
				<xs:element type="xs:string" name="insuredObjectType"/>
				<xs:element type="xs:string" name="driverCategory"/>
				<xs:element type="xs:string" name="driverMaritalStatus"/>
				<xs:element type="xs:int"    name="driverLicenceNumber"/>
				<xs:element type="xs:string" name="driverGender"/>
				<xs:element type="xs:string" name="firstName"/>
				<xs:element type="xs:string" name="driverLicenceDate" maxOccurs="unbounded" minOccurs="0"/>
				<xs:element name="address">
					<xs:complexType>
						<xs:sequence>
							<xs:element type="xs:string" name="street"/>
							<xs:element type="xs:string" name="housenumber"/>
							<xs:element type="xs:string" name="postalcode"/>
							<xs:element type="xs:string" name="city"/>
							<xs:element name="country">
								<xs:complexType>
									<xs:sequence>
										<xs:element type="xs:string" name="isocode"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>