Resources/schemas/Xsd/SAP_Customer_Data_Cloud_Integration_with_SAP_Marketing_Cloud - CDSAccountSearch.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="results">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="UID" type="xs:string" />
        <xs:element name="channel" type="xs:string" />
        <xs:element name="created" type="xs:dateTime" />
        <xs:element name="createdTimestamp" type="xs:unsignedLong" />
        <xs:element minOccurs="0" name="data">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="subscribe" type="xs:boolean" />
              <xs:element name="terms" type="xs:boolean" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="email" type="xs:string" />
        <xs:element name="hasFullAccount" type="xs:boolean" />
        <xs:element name="hasLiteAccount" type="xs:boolean" />
        <xs:element name="lastUpdated" type="xs:dateTime" />
        <xs:element name="lastUpdatedTimestamp" type="xs:unsignedLong" />
        <xs:element name="preferences">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="communicationPreference">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="customData" />
                    <xs:element name="docVersion" type="xs:decimal" />
                    <xs:element maxOccurs="unbounded" name="entitlements">
                      <!-- <xs:complexType>
                        <xs:sequence>
                          <xs:element maxOccurs="unbounded" name="element" type="xs:string" />
                        </xs:sequence>
                      </xs:complexType> -->
                    </xs:element>
                    <xs:element name="isConsentGranted" type="xs:boolean" />
                    <xs:element name="lastConsentModified" type="xs:dateTime" />
                    <xs:element name="tags" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="profile">
          <xs:complexType>
            <xs:sequence>
              <xs:element minOccurs="0" name="address" />
              <xs:element minOccurs="0" name="age" type="xs:unsignedByte" />
              <xs:element minOccurs="0" name="bio" />
              <xs:element minOccurs="0" name="birthDay" type="xs:unsignedByte" />
              <xs:element minOccurs="0" name="birthMonth" type="xs:unsignedByte" />
              <xs:element minOccurs="0" name="birthYear" type="xs:unsignedShort" />
              <xs:element minOccurs="0" name="capabilities" />
              <xs:element minOccurs="0" name="city" />
              <xs:element minOccurs="0" name="country" />
              <xs:element minOccurs="0" name="educationLevel" />
              <xs:element name="email" type="xs:string" />
              <xs:element name="firstName" type="xs:string" />
              <xs:element minOccurs="0" name="gender" />
              <xs:element minOccurs="0" name="hometown" />
              <xs:element minOccurs="0" name="honors" />
              <xs:element minOccurs="0" name="industry" />
              <xs:element minOccurs="0" name="interestedIn" />
              <xs:element name="lastName" type="xs:string" />
              <xs:element name="locale" type="xs:string" />
              <xs:element minOccurs="0" name="nickname" type="xs:string" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="subscriptions">
          <xs:complexType>
            <xs:sequence>
              <xs:element maxOccurs="unbounded" name="Newsletter">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="email">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="doubleOptIn">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="status" type="xs:string" />
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                          <xs:element name="isSubscribed" type="xs:boolean" />
                          <xs:element name="lastUpdatedSubscriptionState" type="xs:dateTime" />
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="token" type="xs:string" />
        <xs:element maxOccurs="unbounded" name="additionalId" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
