Resources/schemas/Xsd/SAP_Returnable_Packaging_Management_Integration_with_File_Based_Master_Data_Load - MaterialMasterGeneralDataValidator.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="qualified">
   <xs:element name="MaterialMasterGeneralData">
      <xs:complexType>
         <xs:sequence>
            <xs:element maxOccurs="unbounded" name="row">
               <xs:complexType>
                  <xs:sequence>
                     <xs:element name="materialCode">
                        <xs:simpleType>
                           <xs:restriction base="xs:string">
                              <xs:maxLength value="40" />
                              <xs:minLength value="1" />
                           </xs:restriction>
                        </xs:simpleType>
                     </xs:element>
                     <xs:element name="materialDescription">
                        <xs:simpleType>
                           <xs:restriction base="xs:string">
                              <xs:maxLength value="40" />
                              <xs:minLength value="1" />
                           </xs:restriction>
                        </xs:simpleType>
                     </xs:element>
                     <xs:element name="materialType">
                        <xs:simpleType>
                           <xs:restriction base="xs:string">
                              <xs:maxLength value="4" />
                              <xs:minLength value="1" />
                           </xs:restriction>
                        </xs:simpleType>
                     </xs:element>
                     <xs:element name="materialGroup">
                        <xs:simpleType>
                           <xs:restriction base="xs:string">
                              <xs:maxLength value="9" />
                           </xs:restriction>
                        </xs:simpleType>
                     </xs:element>
                     <xs:element name="division">
                        <xs:simpleType>
                           <xs:restriction base="xs:string">
                              <xs:maxLength value="2" />
                           </xs:restriction>
                        </xs:simpleType>
                     </xs:element>
                     <xs:element name="xPlantMaterialStatus">
                        <xs:simpleType>
                           <xs:restriction base="xs:string">
                              <xs:maxLength value="2" />
                           </xs:restriction>
                        </xs:simpleType>
                     </xs:element>
                     <xs:element name="validFrom" type="xs:date" />
                     <xs:element name="grossWeight" default="0.0">
                        <xs:simpleType>
                           <xs:restriction base="xs:decimal">
                              <xs:totalDigits value="13" />
                              <xs:fractionDigits value="3" />
                           </xs:restriction>
                        </xs:simpleType>
                     </xs:element>
                     <xs:element name="netWeight" default="0.0">
                        <xs:simpleType>
                           <xs:restriction base="xs:decimal">
                              <xs:totalDigits value="13" />
                              <xs:fractionDigits value="3" />
                           </xs:restriction>
                        </xs:simpleType>
                     </xs:element>
                     <xs:element name="volume" default="0.0">
                        <xs:simpleType>
                           <xs:restriction base="xs:decimal">
                              <xs:totalDigits value="13" />
                              <xs:fractionDigits value="3" />
                           </xs:restriction>
                        </xs:simpleType>
                     </xs:element>
                     <xs:element name="sizeDimensions">
                        <xs:simpleType>
                           <xs:restriction base="xs:string">
                              <xs:maxLength value="32" />
                           </xs:restriction>
                        </xs:simpleType>
                     </xs:element>
                     <xs:element name="EAN_UPC">
                        <xs:simpleType>
                           <xs:restriction base="xs:string">
                              <xs:maxLength value="18" />
                           </xs:restriction>
                        </xs:simpleType>
                     </xs:element>
                     <xs:element name="EANCategary">
                        <xs:simpleType>
                           <xs:restriction base="xs:string">
                              <xs:maxLength value="2" />
                           </xs:restriction>
                        </xs:simpleType>
                     </xs:element>
                     <xs:element name="productCompositionIndicator">
                        <xs:simpleType>
                           <xs:restriction base="xs:string">
                              <xs:maxLength value="1" />
                           </xs:restriction>
                        </xs:simpleType>
                     </xs:element>
                     <xs:element name="packagingMaterialGroup">
                        <xs:simpleType>
                           <xs:restriction base="xs:string">
                              <xs:maxLength value="4" />
                           </xs:restriction>
                        </xs:simpleType>
                     </xs:element>
                     <xs:element name="baseUnitOfMeasure_code">
                        <xs:simpleType>
                           <xs:restriction base="xs:string">
                              <xs:maxLength value="2" />
                              <xs:minLength value="1" />
                           </xs:restriction>
                        </xs:simpleType>
                     </xs:element>
                     <xs:element name="weightUnit_code">
                        <xs:simpleType>
                           <xs:restriction base="xs:string">
                              <xs:maxLength value="2" />
                           </xs:restriction>
                        </xs:simpleType>
                     </xs:element>
                     <xs:element name="volumeUnit_code">
                        <xs:simpleType>
                           <xs:restriction base="xs:string">
                              <xs:maxLength value="2" />
                           </xs:restriction>
                        </xs:simpleType>
                     </xs:element>
					 <xs:element name="materialSerialManaged_ID">
                        <xs:simpleType>
                           <xs:restriction base="xs:integer">
                            <xs:minInclusive value="1"/>
							<xs:maxInclusive value="2"/>
                          </xs:restriction>
                        </xs:simpleType>
                     </xs:element>
                  </xs:sequence>
               </xs:complexType>
            </xs:element>
         </xs:sequence>
      </xs:complexType>
   </xs:element>
</xs:schema>