Resources/schemas/Xsd/SAP_S-4HANA_Billing_Document_Mapping_with_Pricefx - interim-txn-datafeed.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="rows">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="row" minOccurs="0" maxOccurs="unbounded">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="UniqueId"/>
              <xs:element type="xs:string" name="BillingDocumentType" minOccurs="0" maxOccurs="1"/>
              <xs:element type="xs:int" name="BillingDocumentId" minOccurs="0" maxOccurs="1"/>
              <xs:element type="xs:byte" name="BillingDocumentItemId" minOccurs="0" maxOccurs="1"/>
              <xs:element type="xs:short" name="SalesOrganisation" minOccurs="0" maxOccurs="1"/>
              <xs:element type="xs:byte" name="DistributionChannel" minOccurs="0" maxOccurs="1"/>
              <xs:element type="xs:byte" name="Division" minOccurs="0" maxOccurs="1"/>
              <xs:element type="xs:dateTime" name="BillingDocumentDate" minOccurs="0" maxOccurs="1"/>
              <xs:element type="xs:dateTime" name="PricingDate" minOccurs="0" maxOccurs="1"/>
              <xs:element type="xs:string" name="ProductId" minOccurs="0" maxOccurs="1"/>
              <xs:element type="xs:byte" name="Quantity" minOccurs="0" maxOccurs="1"/>
              <xs:element type="xs:string" name="UnitofMeasure" minOccurs="0" maxOccurs="1"/>
              <xs:element type="xs:string" name="Currency" minOccurs="0" maxOccurs="1"/>
              <xs:element type="xs:byte" name="Subtotal1Amount" minOccurs="0" maxOccurs="1"/>
              <xs:element type="xs:byte" name="Subtotal2Amount" minOccurs="0" maxOccurs="1"/>
              <xs:element type="xs:string" name="Subtotal3Amount" minOccurs="0" maxOccurs="1"/>
              <xs:element type="xs:string" name="Subtotal4Amount" minOccurs="0" maxOccurs="1"/>
              <xs:element type="xs:string" name="Subtotal5Amount" minOccurs="0" maxOccurs="1"/>
              <xs:element type="xs:string" name="Subtotal6Amount" minOccurs="0" maxOccurs="1"/>
              
              <xs:element nillable="true" minOccurs="0" maxOccurs="unbounded" name="to_Partner">
                                                        <xs:complexType>
                                                            <xs:sequence>
                                                                <xs:element minOccurs="0" maxOccurs="unbounded" name="A_BillingDocumentItemPartnerType">
                                                                    <xs:complexType>
                                                                        <xs:sequence>
                                                                            <xs:element nillable="false" maxOccurs="1" name="PartnerFunction">
                                                                                <xs:simpleType>
                                                                                    <xs:restriction base="xs:string" xmlns="">
                                                                                        <xs:maxLength value="2"/>
                                                                                    </xs:restriction>
                                                                                </xs:simpleType>
                                                                            </xs:element>
                                                                            <xs:element nillable="false" maxOccurs="1" name="BillingDocumentItem">
                                                                                <xs:simpleType>
                                                                                    <xs:restriction base="xs:string" xmlns="">
                                                                                        <xs:maxLength value="6"/>
                                                                                    </xs:restriction>
                                                                                </xs:simpleType>
                                                                            </xs:element>
                                                                            <xs:element nillable="false" maxOccurs="1" name="BillingDocument">
                                                                                <xs:simpleType>
                                                                                    <xs:restriction base="xs:string" xmlns="">
                                                                                        <xs:maxLength value="10"/>
                                                                                    </xs:restriction>
                                                                                </xs:simpleType>
                                                                            </xs:element>
                                                                            <xs:element nillable="true" minOccurs="0" maxOccurs="1" name="Customer">
                                                                                <xs:simpleType>
                                                                                    <xs:restriction base="xs:string" xmlns="">
                                                                                        <xs:maxLength value="10"/>
                                                                                    </xs:restriction>
                                                                                </xs:simpleType>
                                                                            </xs:element>
                                                                        </xs:sequence>
                                                                    </xs:complexType>
                                                                </xs:element>
                                                            </xs:sequence>
                                                        </xs:complexType>
                                                    </xs:element>
                                                    <xs:element nillable="true" minOccurs="0" maxOccurs="unbounded" name="to_PricingElement">
                                                        <xs:complexType>
                                                            <xs:sequence>
                                                                <xs:element minOccurs="0" maxOccurs="unbounded" name="A_BillingDocumentItemPrcgElmntType">
                                                                    <xs:complexType>
                                                                        <xs:sequence>
                                                                            <xs:element nillable="false" maxOccurs="1" name="BillingDocument">
                                                                                <xs:simpleType>
                                                                                    <xs:restriction base="xs:string" xmlns="">
                                                                                        <xs:maxLength value="10"/>
                                                                                    </xs:restriction>
                                                                                </xs:simpleType>
                                                                            </xs:element>
                                                                            <xs:element nillable="false" maxOccurs="1" name="BillingDocumentItem">
                                                                                <xs:simpleType>
                                                                                    <xs:restriction base="xs:string" xmlns="">
                                                                                        <xs:maxLength value="6"/>
                                                                                    </xs:restriction>
                                                                                </xs:simpleType>
                                                                            </xs:element>
                                                                            <xs:element nillable="false" maxOccurs="1" name="PricingProcedureCounter">
                                                                                <xs:simpleType>
                                                                                    <xs:restriction base="xs:string" xmlns="">
                                                                                        <xs:maxLength value="3"/>
                                                                                    </xs:restriction>
                                                                                </xs:simpleType>
                                                                            </xs:element>
                                                                            <xs:element nillable="false" maxOccurs="1" name="PricingProcedureStep">
                                                                                <xs:simpleType>
                                                                                    <xs:restriction base="xs:string" xmlns="">
                                                                                        <xs:maxLength value="3"/>
                                                                                    </xs:restriction>
                                                                                </xs:simpleType>
                                                                            </xs:element>
                                                                            <xs:element type="xs:decimal" nillable="true" minOccurs="0" maxOccurs="1" name="ConditionAmount" xmlns=""/>
                                                                            <xs:element nillable="true" minOccurs="0" maxOccurs="1" name="ConditionType">
                                                                                <xs:simpleType>
                                                                                    <xs:restriction base="xs:string" xmlns="">
                                                                                        <xs:maxLength value="4"/>
                                                                                    </xs:restriction>
                                                                                </xs:simpleType>
                                                                            </xs:element>
                                                                        </xs:sequence>
                                                                    </xs:complexType>
                                                                </xs:element>
                                                            </xs:sequence>
                                                        </xs:complexType>
                                                    </xs:element>
              
              
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>