Resources/schemas/Xsd/SAP_Complaint_Handling_Integration_For_Customer_Complaints - UpdateCustomerReturnS4Payload.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="root">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" name="A_CustomerReturnItemType">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="CustomerReturnItem" minOccurs="0" type="xs:string" />
              <xs:element name="RequestedQuantity" minOccurs="0" type="xs:unsignedByte" />
              <xs:element name="CustRetItmFollowUpActivity" minOccurs="0" type="xs:unsignedByte" />
              <xs:element name="ReturnsRefundProcgMode" minOccurs="0" type="xs:string" />
              <xs:element name="ReturnsRefundType" minOccurs="0" type="xs:string" />
		      <xs:element type="xs:string" nillable="true" minOccurs="0" name="SalesDocumentRjcnReason" />
		      <xs:element type="xs:string" nillable="true" minOccurs="0" name="ReturnsRefundRjcnReason" />
              <xs:element name="RetMatlInspResultCode" minOccurs="0" type="xs:string" />
              <xs:element name="RetsMgmtProcessingBlock" minOccurs="0" type="xs:string" />
		      <xs:element name="DocumentIdentifier" minOccurs="0" type="xs:string" />
		      <xs:element name="ItemNumber" minOccurs="0" type="xs:string" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
