Resources/schemas/Xsd/SAP_Customer_Relationship_Management_Integration_with_SAP_Field_Service_Management - Warehouse_In.xsd

<xs:schema attributeFormDefault="unqualified"
	elementFormDefault="qualified"
	xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="Warehouse">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="data" minOccurs="0"
					maxOccurs="unbounded">
					<xs:complexType>
						<xs:sequence>
							<xs:element type="xs:string" name="externalId"
								minOccurs="0" maxOccurs="1" />
								<xs:element type="xs:string" name="code"
								minOccurs="0" maxOccurs="1" />
							<xs:element type="xs:string" name="name"
								minOccurs="0" maxOccurs="1" />	
							<xs:element type="xs:string" name="reservedMaterialWarehouse"
								minOccurs="0" maxOccurs="1" />
							<xs:element type="xs:string" name="owners"
								minOccurs="0" maxOccurs="1" />
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>