Resources/schemas/Xsd/SAP_S-4HANA_Cloud_Integration_with_Avalara_AvaTax - TAX_UPDATE_RECEIVE.xsd

<?xml version="1.0" encoding="UTF-8"?><xsd:schema targetNamespace="http://sap.com/xi/FotETaxUS" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://sap.com/xi/FotETaxUS"><xsd:element name="TAX_UPDATE_RECEIVE" type="TAX_UPDATE_RECEIVE"/><xsd:complexType name="UPDATE_RESULT_HEADER"><xsd:sequence><xsd:element name="API_VERSION" minOccurs="0"><xsd:simpleType><xsd:restriction base="xsd:string"><xsd:maxLength value="10"/></xsd:restriction></xsd:simpleType></xsd:element><xsd:element name="SYST_VERSION" minOccurs="0"><xsd:simpleType><xsd:restriction base="xsd:string"><xsd:maxLength value="10"/></xsd:restriction></xsd:simpleType></xsd:element><xsd:element name="DB_VERSION" minOccurs="0"><xsd:simpleType><xsd:restriction base="xsd:string"><xsd:maxLength value="10"/></xsd:restriction></xsd:simpleType></xsd:element><xsd:element name="RETCODE" minOccurs="0"><xsd:simpleType><xsd:restriction base="xsd:string"><xsd:length value="1"/></xsd:restriction></xsd:simpleType></xsd:element><xsd:element name="ERROR_LINE" minOccurs="0"><xsd:simpleType><xsd:restriction base="xsd:string"><xsd:maxLength value="6"/></xsd:restriction></xsd:simpleType></xsd:element><xsd:element name="ERRCODE" minOccurs="0"><xsd:simpleType><xsd:restriction base="xsd:string"><xsd:maxLength value="4"/></xsd:restriction></xsd:simpleType></xsd:element><xsd:element name="ERRMSG" minOccurs="0"><xsd:simpleType><xsd:restriction base="xsd:string"><xsd:maxLength value="200"/></xsd:restriction></xsd:simpleType></xsd:element></xsd:sequence></xsd:complexType><xsd:complexType name="TAX_UPDATE_RECEIVE"><xsd:sequence><xsd:element name="UPDATE_RESULT_HEADER" type="UPDATE_RESULT_HEADER"/></xsd:sequence></xsd:complexType></xsd:schema>