Resources/schemas/Xsd/SAP_Document_and_Reporting_Compliance-_Direct_Connection_for_China_Outgoing_VAT_Invoice_-_Generic_Templates - ReceivedQueryRequest.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema
    xmlns:xs="http://www.w3.org/2001/XMLSchema"
    xmlns:vc="http://www.w3.org/2007/XMLSchema-versioning"
    elementFormDefault="qualified" vc:minVersion="1.1">
    <xs:element name="GoldenTax" type="GoldenTaxType"/>
    <xs:complexType name="GoldenTaxType">
        <xs:all>
            <xs:element maxOccurs="1" minOccurs="1" name="Control" type="ControlType"/>
        </xs:all>
    </xs:complexType>
    <xs:complexType name="ControlType">
        <xs:all>
            <xs:element maxOccurs="1" minOccurs="1" name="Action" type="ActionType"/>
            <xs:element maxOccurs="1" minOccurs="1" name="TaxNumber" type="TaxNumberType"/>
            <xs:element maxOccurs="1" minOccurs="1" name="TerminalID" type="TerminalIDType"/>
            <xs:element maxOccurs="1" minOccurs="1" name="Mapping" type="MappingType"/>
        </xs:all>
    </xs:complexType>
    <xs:complexType name="MappingType">
        <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="1" name="MappingDetail" type="MappingDetailType"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType mixed="true" name="MappingDetailType">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="1" name="GoldenTaxNumber" type="GoldenTaxNumberType"/>
            <xs:element maxOccurs="1" minOccurs="0" name="RefGoldenTaxNumber" type="RefGoldenTaxNumberType"/>
            <xs:element maxOccurs="1" minOccurs="0" name="RefInvoiceCode" type="RefInvoiceCodeType"/>
            <xs:element maxOccurs="1" minOccurs="0" name="RefInvoiceNumber" type="RefInvoiceNumberType"/>
            <xs:element maxOccurs="1" minOccurs="0" name="InvoiceType" type="InvoiceTypeType"/>
            <xs:element maxOccurs="1" minOccurs="0" name="InvoiceMedium" type="InvoiceMediumType"/>
            <xs:element maxOccurs="1" minOccurs="0" name="RedInfoNo" type="RedInfoNoType" />
        </xs:sequence>
    </xs:complexType>

    <xs:simpleType name="GoldenTaxNumberType">
        <xs:restriction base="xs:string">
            <xs:maxLength value="20"/>
            <xs:minLength value="1"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="TaxNumberType">
        <xs:restriction base="xs:string">
            <xs:maxLength value="20"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="TerminalIDType">
        <xs:restriction base="xs:string">
            <xs:maxLength value="16"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ActionType">
        <xs:restriction base="xs:string">
            <xs:maxLength value="10"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="RefGoldenTaxNumberType">
        <xs:restriction base="xs:string">
            <xs:maxLength value="20"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="RefInvoiceCodeType">
        <xs:restriction base="xs:string">
            <xs:maxLength value="20"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="RefInvoiceNumberType">
        <xs:restriction base="xs:string">
            <xs:maxLength value="30"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="InvoiceTypeType">
        <xs:restriction base="xs:string">
            <xs:maxLength value="1"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="InvoiceMediumType">
        <xs:restriction base="xs:string">
            <xs:maxLength value="1"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="RedInfoNoType">
        <xs:restriction base="xs:string">
            <xs:maxLength value="20"/>
        </xs:restriction>
    </xs:simpleType>
</xs:schema>