Resources/schemas/Xsd/SAP_Commerce_Cloud_Integration_with_SAP_Customer_Data_Cloud - consentCDC1.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- Created with Liquid Technologies Online Tools 1.0 (https://www.liquid-technologies.com) -->
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="root">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="apiVersion" type="xs:unsignedByte" />
        <xs:element name="callId" type="xs:string" />
        <xs:element name="errorCode" type="xs:unsignedByte" />
        <xs:element name="preferencesSchema">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="fields">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element maxOccurs="unbounded" name="element">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element minOccurs="0" name="currentDocDate" type="xs:dateTime" />
                          <xs:element minOccurs="0" name="currentDocVersion" type="xs:decimal" />
                          <xs:element name="customData">
                            <xs:complexType>
                              <xs:sequence minOccurs="0">
                                <xs:element maxOccurs="unbounded" name="element">
                                  <xs:complexType>
                                    <xs:sequence>
                                      <xs:element name="key" type="xs:string" />
                                      <xs:element name="value" type="xs:string" />
                                    </xs:sequence>
                                  </xs:complexType>
                                </xs:element>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                          <xs:element minOccurs="0" name="format" type="xs:boolean" />
                          <xs:element name="id" type="xs:string" />
                          <xs:element minOccurs="0" name="minDocDate" type="xs:dateTime" />
                          <xs:element minOccurs="0" name="legalStatements">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="en">
                                  <xs:complexType>
                                    <xs:sequence>
                                      <xs:element name="purpose" type="xs:string" />
                                    </xs:sequence>
                                  </xs:complexType>
                                </xs:element>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                          <xs:element minOccurs="0" name="minDocVersion" type="xs:decimal" />
                          <xs:element name="required" type="xs:boolean" />
                          <xs:element name="type" type="xs:string" />
                          <xs:element name="writeAccess" type="xs:string" />
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="statusCode" type="xs:unsignedByte" />
        <xs:element name="statusReason" type="xs:string" />
        <xs:element name="time" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>