Resources/schemas/Xsd/SAP_Hybris_Service_Engagement_Center_Integration_with_Business_Suite - YaaSCustomer-1.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="root">
    <xs:complexType>
      <xs:sequence>
        <xs:element type="xs:string" name="customerNumber" minOccurs="0" maxOccurs="1"/>
        <xs:element type="xs:string" name="title" minOccurs="0" maxOccurs="1"/>
        <xs:element type="xs:string" name="firstName" minOccurs="0" maxOccurs="1"/>
        <xs:element type="xs:string" name="middleName" minOccurs="0" maxOccurs="1"/>
        <xs:element type="xs:string" name="lastName" minOccurs="0" maxOccurs="1"/>
        <xs:element type="xs:string" name="contactEmail" minOccurs="0" maxOccurs="1"/>
        <xs:element type="xs:long" name="contactPhone" minOccurs="0" maxOccurs="1"/>
        <xs:element type="xs:string" name="company" minOccurs="0" maxOccurs="1"/>
        <xs:element type="xs:string" name="preferredLanguage" minOccurs="0" maxOccurs="1"/>
        <xs:element type="xs:string" name="preferredCurrency" minOccurs="0" maxOccurs="1"/>
        <xs:element name="metadata">
        <xs:complexType>
            <xs:sequence>
              <xs:element name="mixins">
                <xs:complexType>
                  <xs:sequence>
                     <xs:element type="xs:string" name="soa_mdg_businesspartner"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="mixins">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="soa_mdg_businesspartner">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:string" minOccurs="0" maxOccurs="1" name="changedBy"/>
                    <xs:element type="xs:string" minOccurs="0" maxOccurs="1" name="changedAt"/>
  					<xs:element name="businessPartner"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element> 
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>