Resources/schemas/Xsd/SAP_Returnable_Packaging_Management_Integration_with_File_Based_Master_Data_Load - CompanyCodeValidator.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified"
xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="companyCode">
		<xs:complexType>
			<xs:sequence>
				<xs:element maxOccurs="unbounded" name="row">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="companyCode">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:maxLength value="4" />
										<xs:minLength value="1" />
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="companyCodeName">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:maxLength value="25" />
										<xs:minLength value="1" />
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="countryKey_code">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:maxLength value="3" />
										<xs:minLength value="1" />
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="address">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:maxLength value="10" />
										<xs:minLength value="1" />
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="currency_code">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:maxLength value="3" />
										<xs:minLength value="1" />
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>