Resources/schemas/Xsd/SAP_Commerce_financial_services_accelerator_integration_with_SAP_for_Insurance - ERROR_Message-1.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="ErrorMessages">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Message">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="cpiProcessStep" minOccurs="0"/>
              <xs:element type="xs:string" name="type" minOccurs="0"/>
              <xs:element type="xs:string" name="id" minOccurs="0"/>
              <xs:element type="xs:byte" name="number" minOccurs="0"/>
              <xs:element type="xs:string" name="message" minOccurs="0"/>
              <xs:element type="xs:string" name="system" minOccurs="0"/>
              <xs:element type="xs:string" name="stack" minOccurs="0"/>
              <xs:element type="xs:string" name="statusCode" minOccurs="0"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>