Resources/schemas/Xsd/SAP_Document_and_Reporting_Compliance-_Electronic_Invoice_for_Egypt - getRecenDocumentsMessageMappingSource.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="root">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="result" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="publicUrl"/>
              <xs:element type="xs:string" name="uuid"/>
              <xs:element type="xs:string" name="submissionUUID"/>
              <xs:element type="xs:string" name="longId"/>
              <xs:element type="xs:string" name="internalId"/>
              <xs:element type="xs:string" name="typeName"/>
              <xs:element type="xs:string" name="documentTypeNamePrimaryLang"/>
              <xs:element type="xs:string" name="documentTypeNameSecondaryLang"/>
              <xs:element type="xs:float" name="typeVersionName"/>
              <xs:element type="xs:string" name="issuerId"/>
              <xs:element type="xs:string" name="issuerName"/>
              <xs:element type="xs:string" name="receiverId"/>
              <xs:element type="xs:string" name="receiverName"/>
              <xs:element type="xs:dateTime" name="dateTimeIssued"/>
              <xs:element type="xs:dateTime" name="dateTimeReceived"/>
              <xs:element type="xs:float" name="totalSales"/>
              <xs:element type="xs:float" name="totalDiscount"/>
              <xs:element type="xs:float" name="netAmount"/>
              <xs:element type="xs:float" name="total"/>
              <xs:element type="xs:byte" name="maxPercision"/>
              <xs:element type="xs:string" name="invoiceLineItemCodes"/>
              <xs:element type="xs:string" name="cancelRequestDate"/>
              <xs:element type="xs:string" name="rejectRequestDate"/>
              <xs:element type="xs:string" name="cancelRequestDelayedDate"/>
              <xs:element type="xs:string" name="rejectRequestDelayedDate"/>
              <xs:element type="xs:string" name="declineCancelRequestDate"/>
              <xs:element type="xs:string" name="declineRejectRequestDate"/>
              <xs:element type="xs:string" name="documentStatusReason"/>
              <xs:element type="xs:string" name="status"/>
              <xs:element type="xs:string" name="createdByUserId"/>
              <xs:element name="freezeStatus">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:string" name="frozen"/>
                    <xs:element type="xs:string" name="type"/>
                    <xs:element type="xs:string" name="actionDate"/>
                    <xs:element type="xs:string" name="auCode"/>
                    <xs:element type="xs:string" name="auName"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="metadata">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:byte" name="totalPages"/>
              <xs:element type="xs:short" name="totalCount"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>