Resources/schemas/Xsd/SAP_SuccessFactors_Territory_and_Quota_Integration_with_SAP_SuccessFactors_Incentive_Management - comm_OrderSchema-1.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- Created with Liquid Technologies Online Tools 1.0 (https://www.liquid-technologies.com) -->
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="root">
		<xs:complexType>
			<xs:sequence>
				<xs:element maxOccurs="unbounded" name="element">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="beanName" type="xs:string"/>
							<xs:element name="bean">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="salesOrderSeq"/>
										<xs:element name="orderId" type="xs:string"/>
										<xs:element name="businessUnits">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="name" type="xs:string"/>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
										<xs:element name="genericAttribute1" type="xs:string"/>
										<xs:element name="genericAttribute2" type="xs:string"/>
										<xs:element name="genericAttribute3" type="xs:string"/>
										<xs:element name="genericAttribute4" type="xs:string"/>
										<xs:element name="genericAttribute5" type="xs:string"/>
										<xs:element name="genericAttribute6" type="xs:string"/>
										<xs:element name="genericAttribute7" type="xs:string"/>
										<xs:element name="genericAttribute8" type="xs:string"/>
										<xs:element name="genericAttribute9" type="xs:string"/>
										<xs:element name="genericAttribute10" type="xs:string"/>
										<xs:element name="genericAttribute11" type="xs:string"/>
										<xs:element name="genericAttribute12" type="xs:string"/>
										<xs:element name="genericAttribute13" type="xs:string"/>
										<xs:element name="genericAttribute14" type="xs:string"/>
										<xs:element name="genericAttribute15" type="xs:string"/>
										<xs:element name="genericAttribute16" type="xs:string"/>
										<xs:element name="genericNumber1">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="unitType">
														<xs:complexType>
															<xs:sequence>
																<xs:element name="name" type="xs:string"/>
															</xs:sequence>
														</xs:complexType>
													</xs:element>
													<xs:element name="value" type="xs:decimal"/>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
										<xs:element name="genericNumber2">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="unitType">
														<xs:complexType>
															<xs:sequence>
																<xs:element name="name" type="xs:string"/>
															</xs:sequence>
														</xs:complexType>
													</xs:element>
													<xs:element name="value" type="xs:decimal"/>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
										<xs:element name="genericNumber3">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="unitType">
														<xs:complexType>
															<xs:sequence>
																<xs:element name="name" type="xs:string"/>
															</xs:sequence>
														</xs:complexType>
													</xs:element>
													<xs:element name="value" type="xs:decimal"/>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
										<xs:element name="genericNumber4">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="unitType">
														<xs:complexType>
															<xs:sequence>
																<xs:element name="name" type="xs:string"/>
															</xs:sequence>
														</xs:complexType>
													</xs:element>
													<xs:element name="value" type="xs:decimal"/>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
										<xs:element name="genericNumber5">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="unitType">
														<xs:complexType>
															<xs:sequence>
																<xs:element name="name" type="xs:string"/>
															</xs:sequence>
														</xs:complexType>
													</xs:element>
													<xs:element name="value" type="xs:decimal"/>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
										<xs:element name="genericNumber6">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="unitType">
														<xs:complexType>
															<xs:sequence>
																<xs:element name="name" type="xs:string"/>
															</xs:sequence>
														</xs:complexType>
													</xs:element>
													<xs:element name="value" type="xs:decimal"/>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
										<xs:element name="GENERICDATE1" type="xs:string"/>
										<xs:element name="GENERICDATE2" type="xs:string"/>
										<xs:element name="GENERICDATE3" type="xs:string"/>
										<xs:element name="GENERICDATE4" type="xs:string"/>
										<xs:element name="GENERICDATE5" type="xs:string"/>
										<xs:element name="GENERICDATE6" type="xs:string"/>
										<xs:element name="GENERICBOOLEAN1" type="xs:boolean"/>
										<xs:element name="GENERICBOOLEAN2" type="xs:boolean"/>
										<xs:element name="GENERICBOOLEAN3" type="xs:boolean"/>
										<xs:element name="GENERICBOOLEAN4" type="xs:boolean"/>
										<xs:element name="GENERICBOOLEAN5" type="xs:boolean"/>
										<xs:element name="GENERICBOOLEAN6" type="xs:boolean"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>