Resources/schemas/Xsd/SAP_S-4HANA_Cloud_Public_Edition_Integration_with_Shopify - shopify_product_without_minOccurs.xsd

<?xml version="1.0" encoding="UTF-8"?><!-- Created with Liquid Technologies Online Tools 1.0 (https://www.liquid-technologies.com) --><xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="qualified">
  <xs:element name="product">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="body_html" type="xs:string"/>
        <xs:element name="created_at" type="xs:dateTime"/>
        <xs:element name="handle" type="xs:string"/>
        <xs:element name="id" type="xs:unsignedInt"/>
        <xs:element name="images">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="element">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="created_at" type="xs:dateTime"/>
                    <xs:element name="height" type="xs:unsignedByte"/>
                    <xs:element name="id" type="xs:unsignedInt"/>
                    <xs:element name="position" type="xs:unsignedByte"/>
                    <xs:element name="product_id" type="xs:unsignedInt"/>
                    <xs:element name="src" type="xs:string"/>
                    <xs:element name="updated_at" type="xs:dateTime"/>
                    <xs:element name="variant_ids">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="element"/>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="width" type="xs:unsignedByte"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="options">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="id" type="xs:unsignedInt"/>
              <xs:element name="name" type="xs:string"/>
              <xs:element name="position" type="xs:unsignedByte"/>
              <xs:element name="product_id" type="xs:unsignedInt"/>
              <xs:element name="values">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element maxOccurs="unbounded" name="element" type="xs:string"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="product_type" type="xs:string"/>
        <xs:element name="published_at" type="xs:dateTime"/>
        <xs:element name="published_scope" type="xs:string"/>
        <xs:element name="status" type="xs:string"/>
        <xs:element name="tags" type="xs:string"/>
        <xs:element name="template_suffix" type="xs:string"/>
        <xs:element name="title" type="xs:string"/>
        <xs:element name="updated_at" type="xs:dateTime"/>
        <xs:element name="variants">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="element">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="barcode" type="xs:string"/>
                    <xs:element name="compare_at_price">
                      <xs:complexType>
                        <xs:attribute name="null" type="xs:boolean" use="required"/>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="created_at" type="xs:dateTime"/>
                    <xs:element name="fulfillment_service" type="xs:string"/>
                    <xs:element name="grams" type="xs:unsignedShort"/>
                    <xs:element name="id" type="xs:unsignedInt"/>
                    <xs:element name="inventory_item_id" type="xs:unsignedInt"/>
                    <xs:element name="inventory_management" type="xs:string"/>
                    <xs:element name="inventory_policy" type="xs:string"/>
                    <xs:element name="inventory_quantity" type="xs:unsignedByte"/>
                    <xs:element name="option1" type="xs:string"/>
                    <xs:element name="position" type="xs:unsignedByte"/>
                    <xs:element name="price" type="xs:decimal"/>
                    <xs:element name="product_id" type="xs:unsignedInt"/>
                    <xs:element name="requires_shipping" type="xs:boolean"/>
                    <xs:element name="sku" type="xs:string"/>
                    <xs:element name="taxable" type="xs:boolean"/>
                    <xs:element name="title" type="xs:string"/>
                    <xs:element name="updated_at" type="xs:dateTime"/>
                    <xs:element name="weight" type="xs:decimal"/>
                    <xs:element name="weight_unit" type="xs:string"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="vendor" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>