Resources/schemas/Xsd/SAP_S-4HANA_for_central_procurement_–_Central_Purchasing_Integration_with_Third_Party_System - Supplier.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="SupplierVHSet">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" name="SupplierVH">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="PurchasingOrganization" type="xs:string" />
              <xs:element name="SupplierName" type="xs:string" />
              <xs:element name="CompanyCodeName" type="xs:string" />
			  <xs:element name="PostalCode" type="xs:string" />
			  <xs:element name="Supplier" type="xs:string" />
			  <xs:element name="CityName" type="xs:string" />
			  <xs:element name="PurchasingOrganizationName" type="xs:string" />
			  <xs:element name="CompanyCode" type="xs:string" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>