Resources/schemas/Xsd/SAP_Returnable_Packaging_Management_Integration_with_SAP_ERP_-_Master_Data_Replication - soap-env.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://schemas.xmlsoap.org/soap/envelope/" xmlns:msgID="http://www.sap.com/webas/640/soap/features/messageId/" xmlns:soap-env="http://schemas.xmlsoap.org/soap/envelope/">
    <xs:import schemaLocation="material_idoc_soap_all_fields.xsd"/>
    <xs:import namespace="http://www.sap.com/webas/640/soap/features/messageId/" schemaLocation="msgID.xsd"/>
    <xs:element name="Envelope">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="soap-env:Header"/>
                <xs:element ref="soap-env:Body"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="Header">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="msgID:messageId"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="Body">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="MATMAS05"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>
