Resources/schemas/Xsd/SAP_Cloud_for_Customer_Integration_with_Identity_Provisioning_via_System_for_Cross-domain_Identity_Management - identity.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:element name="root">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="active" type="xs:string" minOccurs="0"/>
				<xs:element name="userType" type="xs:string" minOccurs="0"/>
				<xs:element name="preferredLanguage" type="xs:string" minOccurs="0"/>
				<xs:element name="emails" minOccurs="0" maxOccurs="unbounded">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="value" type="xs:string" minOccurs="0"/>
							<xs:element name="type" type="xs:string" minOccurs="0"/>
							<xs:element name="primary" type="xs:string" minOccurs="0"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="addresses" minOccurs="0" maxOccurs="unbounded">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="type" type="xs:string" minOccurs="0"/>
							<xs:element name="streetAddress" type="xs:string" minOccurs="0"/>
							<xs:element name="locality" type="xs:string" minOccurs="0"/>
							<xs:element name="region" type="xs:string" minOccurs="0"/>
							<xs:element name="postalCode" type="xs:string" minOccurs="0"/>
							<xs:element name="country" type="xs:string" minOccurs="0"/>
							<xs:element name="primary" type="xs:string" minOccurs="0"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="phoneNumbers" minOccurs="0" maxOccurs="unbounded">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="value" type="xs:string" minOccurs="0"/>
							<xs:element name="type" type="xs:string" minOccurs="0"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="id" type="xs:string" minOccurs="0"/>
				<xs:element name="jobCode" type="xs:string" minOccurs="0"/>
				<xs:element name="name">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="familyName" type="xs:string" minOccurs="0"/>
							<xs:element name="givenName" type="xs:string" minOccurs="0"/>
							<xs:element name="middleName" type="xs:string" minOccurs="0"/>
							<xs:element name="honorificPrefix" type="xs:string" minOccurs="0"/>
							<xs:element name="honorificSuffix" type="xs:string" minOccurs="0"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="schemas" maxOccurs="unbounded" type="xs:string"/>
				<xs:element name="User">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="employeeNumber" type="xs:string" minOccurs="0"/>
							<xs:element name="userId" type="xs:string" minOccurs="0"/>
							<xs:element name="userUuid" type="xs:string" minOccurs="0"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="userName" type="xs:string" minOccurs="0"/>
				<xs:element name="nickName" type="xs:string" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>