Resources/schemas/Xsd/SAP_S-4HANA_Utilities_Integration_with_SAP_Emarsys_Customer_Engagement - UtilitiesInstallation.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">

	<xs:element name="UtilitiesInstallationSet">
	
		<xs:complexType>
		
			<xs:sequence>
			
				<xs:element nillable="false" minOccurs="1" maxOccurs="unbounded" name="UtilitiesInstallation">
				
					<xs:complexType>
					
						<xs:sequence>

							<!-- UtilitiesInstallation/ID -->

							<xs:element nillable="false" minOccurs="1" maxOccurs="1" name="UtilitiesInstallationID">
								<xs:simpleType>
									<xs:restriction base="xs:token" xmlns="">
										<xs:minLength value="0"/>
										<xs:maxLength value="10"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>								
							
							<!-- UtilitiesInstallation/DivisionID -->

							<xs:element nillable="false" minOccurs="1" maxOccurs="1" name="DivisionID">
								<xs:simpleType>
									<xs:restriction base="xs:token" xmlns="">
										<xs:minLength value="1"/>
										<xs:maxLength value="2"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>	
							
							<!-- UtilitiesInstallation/ISUContractID -->
							
							<xs:element nillable="false" minOccurs="1" maxOccurs="1" name="UtilitiesContractID">
								<xs:simpleType>
									<xs:restriction base="xs:token" xmlns="">
										<xs:minLength value="1"/>
										<xs:maxLength value="10"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>								
							
							<!-- UtilitiesInstallation/ISUContractStartDate -->
							
							<xs:element nillable="false" minOccurs="1" maxOccurs="1" name="UtilitiesMoveInDate">
								<xs:simpleType>
									<xs:restriction base="xs:date" xmlns="">
									</xs:restriction>
								</xs:simpleType>
							</xs:element>								
							
							<!-- UtilitiesInstallation/ISUContractEndDate -->
							
							<xs:element nillable="false" minOccurs="1" maxOccurs="1" name="UtilitiesMoveOutDate">
								<xs:simpleType>
									<xs:restriction base="xs:date" xmlns="">
									</xs:restriction>
								</xs:simpleType>
							</xs:element>								
							
							<!-- UtilitiesInstallation/UtilityInstallationBillingInfo/RateCategoryCode -->
							
							<xs:element nillable="false" minOccurs="0" maxOccurs="1" name="RateCategory">
								<xs:simpleType>
									<xs:restriction base="xs:string" xmlns="">
										<xs:minLength value="0"/>
										<xs:maxLength value="10"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>								
							
							<!-- UtilitiesInstallation/UtilityInstallationBillingInfo/ValidFrom -->
							
							<xs:element nillable="false" minOccurs="0" maxOccurs="1" name="ValidFrom">
								<xs:simpleType>
									<xs:restriction base="xs:date" xmlns="">
									</xs:restriction>
								</xs:simpleType>
							</xs:element>								
							
							<!-- UtilitiesInstallation/UtilityInstallationBillingInfo/ValidTo -->
							
							<xs:element nillable="false" minOccurs="0" maxOccurs="1" name="ValidTo">
								<xs:simpleType>
									<xs:restriction base="xs:date" xmlns="">
									</xs:restriction>
								</xs:simpleType>
							</xs:element>							
							
							<!-- UtilitiesInstallation/UtilityInstallationBillingInfo/RateCategoryCodeOld -->
							
							<xs:element nillable="false" minOccurs="0" maxOccurs="1" name="RateCategoryOld">
								<xs:simpleType>
									<xs:restriction base="xs:string" xmlns="">
										<xs:minLength value="0"/>
										<xs:maxLength value="10"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>								
							
							<!-- UtilitiesInstallation/UtilitiesInstallationBillCycle/MRUPortionID -->
							
							<xs:element nillable="false" minOccurs="0" maxOccurs="1" name="MeterReadingUnit">
								<xs:simpleType>
									<xs:restriction base="xs:token" xmlns="">
									</xs:restriction>
								</xs:simpleType>
							</xs:element>							
							
							<!-- UtilitiesInstallation/UtilitiesInstallationBillCycle/Description -->
							
							<xs:element nillable="false" minOccurs="0" maxOccurs="1" name="MeterReadingUnitDescription">
								<xs:simpleType>
									<xs:restriction base="xs:string" xmlns="">
									</xs:restriction>
								</xs:simpleType>
							</xs:element>	
							
							<!-- UtilitiesInstallation/TemperatureArea -->
							
							<xs:element nillable="false" minOccurs="0" maxOccurs="1" name="TemperatureArea">
								<xs:simpleType>
									<xs:restriction base="xs:token" xmlns="">
										<xs:minLength value="0"/>
										<xs:maxLength value="8"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>							
							
							<!-- UtilitiesInstallation/VoltageLevel -->
							
							<xs:element nillable="false" minOccurs="0" maxOccurs="1" name="VoltageLevel">
								<xs:simpleType>
									<xs:restriction base="xs:token" xmlns="">
										<xs:minLength value="0"/>
										<xs:maxLength value="2"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>								
							
							<!-- UtilitiesInstallation/Industry -->
							
							<xs:element nillable="false" minOccurs="0" maxOccurs="1" name="Industry">
								<xs:simpleType>
									<xs:restriction base="xs:token" xmlns="">
										<xs:minLength value="1"/>
										<xs:maxLength value="10"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>				
							
							<!-- UtilitiesInstallation/InstallationType -->
							
							<xs:element nillable="false" minOccurs="0" maxOccurs="1" name="InstallationType">
								<xs:simpleType>
									<xs:restriction base="xs:token" xmlns="">
										<xs:minLength value="0"/>
										<xs:maxLength value="4"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>								
							
							<!-- UtilitiesInstallation/SupplyGuarantee -->
							
							<xs:element nillable="false" minOccurs="0" maxOccurs="1" name="SupplyGuarantee">
								<xs:simpleType>
									<xs:restriction base="xs:token" xmlns="">
										<xs:minLength value="0"/>
										<xs:maxLength value="4"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>	
							
						</xs:sequence>
						
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>