Resources/schemas/Xsd/SAP_Customer_Relationship_Management_Integration_with_SAP_Field_Service_Management - Attachment_FSM_Out.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="root">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="fsm_body">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="eventType"/>
              <xs:element type="xs:float" name="eventTypeVersion"/>
              <xs:element type="xs:float" name="cloudEventsVersion"/>
              <xs:element type="xs:string" name="source"/>
              <xs:element type="xs:string" name="eventID"/>
              <xs:element type="xs:dateTime" name="eventTime"/>
              <xs:element type="xs:string" name="contentType"/>
              <xs:element name="extensions">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:string" name="traceId"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="data">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:string" name="id"/>
                    <xs:element type="xs:short" name="code"/>
                    <xs:element type="xs:long" name="externalId"/>
                    <xs:element type="xs:long" name="lastChanged"/>
                    <xs:element name="businessPartner">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element type="xs:string" name="id"/>
                          <xs:element type="xs:byte" name="code"/>
                          <xs:element type="xs:int" name="externalId"/>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="contact">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element type="xs:string" name="id"/>
                          <xs:element type="xs:string" name="code"/>
                          <xs:element type="xs:int" name="externalId"/>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element type="xs:string" name="createPerson"/>
                    <xs:element type="xs:dateTime" name="dueDateTime"/>
                    <xs:element type="xs:dateTime" name="earliestStartDateTime"/>
                    <xs:element type="xs:byte" name="durationInMinutes"/>
                    <xs:element name="equipments">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element type="xs:string" name="id"/>
                          <xs:element type="xs:short" name="code"/>
                          <xs:element type="xs:short" name="externalId"/>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element type="xs:byte" name="status"/>
                    <xs:element type="xs:byte" name="origin"/>
                    <xs:element type="xs:string" name="problemType"/>
                    <xs:element type="xs:string" name="priority"/>
                    <xs:element type="xs:string" name="remarks"/>
                    <xs:element type="xs:string" name="resolution"/>
                    <xs:element name="responsibles">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element type="xs:string" name="id"/>
                          <xs:element type="xs:int" name="code"/>
                          <xs:element type="xs:int" name="externalId"/>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element type="xs:string" name="subject"/>
                    <xs:element type="xs:string" name="address"/>
                    <xs:element name="activities" maxOccurs="unbounded" minOccurs="0">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element type="xs:string" name="id"/>
                          <xs:element type="xs:short" name="code"/>
                          <xs:element type="xs:string" name="externalId"/>
                          <xs:element type="xs:long" name="lastChanged"/>
                          <xs:element type="xs:string" name="subject"/>
                          <xs:element type="xs:string" name="remarks"/>
                          <xs:element name="contact">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element type="xs:string" name="id"/>
                                <xs:element type="xs:string" name="code"/>
                                <xs:element type="xs:int" name="externalId"/>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                          <xs:element type="xs:string" name="createPerson"/>
                          <xs:element type="xs:short" name="durationInMinutes"/>
                          <xs:element type="xs:string" name="travelTimeFromInMinutes"/>
                          <xs:element type="xs:string" name="travelTimeToInMinutes"/>
                          <xs:element type="xs:dateTime" name="dueDateTime"/>
                          <xs:element type="xs:dateTime" name="plannedStartDate"/>
                          <xs:element type="xs:dateTime" name="plannedEndDate"/>
                          <xs:element type="xs:dateTime" name="earliestStartDateTime"/>
                          <xs:element type="xs:string" name="status"/>
                          <xs:element type="xs:string" name="executionStage"/>
                          <xs:element name="address">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element type="xs:string" name="source"/>
                                <xs:element type="xs:string" name="sourceId"/>
                                <xs:element type="xs:string" name="country"/>
                                <xs:element type="xs:byte" name="state"/>
                                <xs:element type="xs:string" name="city"/>
                                <xs:element type="xs:short" name="zipCode"/>
                                <xs:element type="xs:string" name="street"/>
                                <xs:element type="xs:byte" name="streetNumber"/>
                                <xs:element type="xs:byte" name="block"/>
                                <xs:element type="xs:string" name="building"/>
                                <xs:element type="xs:string" name="floor"/>
                                <xs:element type="xs:string" name="room"/>
                                <xs:element type="xs:string" name="udfValues"/>
                                <xs:element name="location">
                                  <xs:complexType>
                                    <xs:sequence>
                                      <xs:element type="xs:float" name="latitude"/>
                                      <xs:element type="xs:float" name="longitude"/>
                                    </xs:sequence>
                                  </xs:complexType>
                                </xs:element>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                          <xs:element type="xs:string" name="equipment"/>
                          <xs:element name="responsibles">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element type="xs:string" name="id"/>
                                <xs:element type="xs:string" name="code"/>
                                <xs:element type="xs:string" name="externalId"/>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                          <xs:element type="xs:string" name="reservedMaterials"/>
                          <xs:element type="xs:string" name="type"/>
                          <xs:element type="xs:string" name="sourceActivity"/>
                          <xs:element name="attachments" minOccurs="0" maxOccurs="unbounded">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element type="xs:string" name="id"/>
                                <xs:element type="xs:string" name="category"/>
                                <xs:element type="xs:string" name="fileName"/>
                                <xs:element type="xs:string" name="title"/>
                                <xs:element type="xs:string" name="description"/>
                                <xs:element type="xs:string" name="type"/>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                          <xs:element name="udfValues" maxOccurs="unbounded" minOccurs="0">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="udfMeta">
                                  <xs:complexType>
                                    <xs:sequence>
                                      <xs:element type="xs:string" name="id"/>
                                      <xs:element type="xs:string" name="code"/>
                                      <xs:element type="xs:string" name="externalId"/>
                                    </xs:sequence>
                                  </xs:complexType>
                                </xs:element>
                                <xs:element type="xs:string" name="value"/>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                          <xs:element type="xs:string" name="requirements"/>
                          <xs:element type="xs:string" name="region"/>
                          <xs:element name="workflowStep">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element type="xs:string" name="name"/>
                                <xs:element type="xs:string" name="text"/>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                          <xs:element type="xs:string" name="plannedDurationInMinutes"/>
                          <xs:element type="xs:string" name="internalRemarks"/>
                          <xs:element type="xs:string" name="internalRemarks2"/>
                          <xs:element type="xs:string" name="eventType" minOccurs="0"/>
                          <xs:element name="timeEfforts" minOccurs="0">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element type="xs:string" name="subTask"/>
                                <xs:element type="xs:string" name="totalPrice"/>
                                <xs:element type="xs:string" name="discount"/>
                                <xs:element type="xs:string" name="owners"/>
                                <xs:element type="xs:string" name="chargeOption"/>
                                <xs:element type="xs:string" name="syncObjectKPIs"/>
                                <xs:element type="xs:string" name="inactive"/>
                                <xs:element type="xs:string" name="startDateTimeTimeZoneId"/>
                                <xs:element type="xs:string" name="endDateTimeTimeZoneId"/>
                                <xs:element type="xs:string" name="id"/>
                                <xs:element type="xs:byte" name="breakInMinutes"/>
                                <xs:element type="xs:string" name="unitPrice"/>
                                <xs:element type="xs:string" name="timeZoneId"/>
                                <xs:element type="xs:long" name="lastChanged"/>
                                <xs:element name="createPerson">
                                  <xs:complexType>
                                    <xs:sequence>
                                      <xs:element type="xs:string" name="code"/>
                                      <xs:element type="xs:string" name="externalId"/>
                                      <xs:element type="xs:string" name="id"/>
                                    </xs:sequence>
                                  </xs:complexType>
                                </xs:element>
                                <xs:element type="xs:string" name="externalId"/>
                                <xs:element type="xs:string" name="groups"/>
                                <xs:element type="xs:dateTime" name="endDateTime"/>
                                <xs:element type="xs:string" name="branches"/>
                                <xs:element type="xs:string" name="internalRemarks"/>
                                <xs:element type="xs:dateTime" name="createDateTime"/>
                                <xs:element type="xs:string" name="breakStartDateTime"/>
                                <xs:element type="xs:dateTime" name="startDateTime"/>
                                <xs:element name="task">
                                  <xs:complexType>
                                    <xs:sequence>
                                      <xs:element type="xs:byte" name="code"/>
                                      <xs:element type="xs:string" name="externalId"/>
                                      <xs:element type="xs:string" name="id"/>
                                    </xs:sequence>
                                  </xs:complexType>
                                </xs:element>
                                <xs:element type="xs:string" name="udfMetaGroups"/>
                                <xs:element type="xs:string" name="breakStartDateTimeTimeZoneId"/>
                                <xs:element type="xs:string" name="location"/>
                                <xs:element type="xs:string" name="udfValues"/>
                                <xs:element type="xs:string" name="lastChangedBy"/>
                                <xs:element type="xs:string" name="remarks"/>
                                <xs:element type="xs:string" name="syncStatus"/>
                                <xs:element name="object">
                                  <xs:complexType>
                                    <xs:sequence>
                                      <xs:element type="xs:string" name="objectId"/>
                                      <xs:element type="xs:string" name="objectType"/>
                                    </xs:sequence>
                                  </xs:complexType>
                                </xs:element>
                                <xs:element type="xs:string" name="approvalStatus"/>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                          <xs:element name="expenses" minOccurs="0" maxOccurs="unbounded">
                            <xs:complexType>
                                <xs:sequence>
                                    <xs:element type="xs:string" name="approvalStatus" minOccurs="0" />
                                    <xs:element type="xs:string" name="chargeOption" minOccurs="0" />
                                    <xs:element type="xs:dateTime" name="createDateTime" minOccurs="0" />
                                    <xs:element name="createPerson" minOccurs="0" maxOccurs="1">
                                        <xs:complexType>
                                            <xs:sequence>
                                                <xs:element type="xs:string" name="code" minOccurs="0" maxOccurs="1" />
                                                <xs:element type="xs:string" name="externalId" minOccurs="0"   maxOccurs="1" />
                                                <xs:element type="xs:string" name="id" minOccurs="0" maxOccurs="1" />
                                            </xs:sequence>
                                        </xs:complexType>
                                    </xs:element>
                                    <xs:element type="xs:string" name="expenseamount" minOccurs="0" />
                                    <xs:element type="xs:string" name="expensecurrency" minOccurs="0" />
                                    <xs:element type="xs:string" name="expenseitemId" minOccurs="0" />
                                    <xs:element type="xs:date" name="date" minOccurs="0" />
                                    <xs:element name="type" minOccurs="0" >
                                        <xs:complexType>
                                            <xs:sequence>
                                                <xs:element type="xs:byte" name="code" minOccurs="0" />
                                                <xs:element type="xs:string" name="externalId" minOccurs="0" />
                                                <xs:element type="xs:string" name="id" minOccurs="0" />
                                            </xs:sequence>
                                        </xs:complexType>
                                    </xs:element>
                                    <xs:element name="externalAmount" minOccurs="0">
                                        <xs:complexType>
                                            <xs:sequence>
                                                <xs:element type="xs:short" name="amount" minOccurs="0" />
                                                <xs:element type="xs:string" name="currency" minOccurs="0" />
                                            </xs:sequence>
                                        </xs:complexType>
                                    </xs:element>
                                    <xs:element type="xs:string" name="id" minOccurs="0" />
                                    <xs:element type="xs:string" name="inactive" minOccurs="0" />
                                    <xs:element name="internalAmount" minOccurs="0">
                                        <xs:complexType>
                                            <xs:sequence>
                                                <xs:element type="xs:byte" name="amount" minOccurs="0" />
                                                <xs:element type="xs:string" name="currency" minOccurs="0" />
                                            </xs:sequence>
                                        </xs:complexType>
                                    </xs:element>
                                    <xs:element type="xs:long" name="lastChanged" minOccurs="0" />
                                    <xs:element type="xs:string" name="lastChangedBy" minOccurs="0" />
                                    <xs:element name="object" minOccurs="0">
                                        <xs:complexType>
                                            <xs:sequence>
                                                <xs:element type="xs:string" name="objectId" minOccurs="0" />
                                                <xs:element type="xs:string" name="objectType" minOccurs="0" />
                                            </xs:sequence>
                                        </xs:complexType>
                                    </xs:element>
                                    <xs:element type="xs:string" name="remarks" minOccurs="0" />
                                    <xs:element type="xs:string" name="syncStatus" minOccurs="0" />
                                    <xs:element name="attachments" minOccurs="0" maxOccurs="unbounded">
                                        <xs:complexType>
                                            <xs:sequence>
                                                <xs:element type="xs:string" name="id"/>
												<xs:element type="xs:string" name="category"/>
												<xs:element type="xs:string" name="fileName"/>
												<xs:element type="xs:string" name="title"/>
												<xs:element type="xs:string" name="description"/>
												<xs:element type="xs:string" name="type"/>
                                            </xs:sequence>
                                        </xs:complexType>
                                    </xs:element>
                                </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                          <xs:element type="xs:string" name="materials" minOccurs="0"/>
                          <xs:element type="xs:string" name="mileages" minOccurs="0"/>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="reservedMaterials">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element type="xs:string" name="id"/>
                          <xs:element type="xs:string" name="externalId"/>
                          <xs:element name="item">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element type="xs:string" name="id"/>
                                <xs:element type="xs:byte" name="code"/>
                                <xs:element type="xs:string" name="externalId"/>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                          <xs:element type="xs:string" name="serialNumber"/>
                          <xs:element type="xs:float" name="quantity"/>
                          <xs:element name="warehouse">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element type="xs:string" name="id"/>
                                <xs:element type="xs:string" name="code"/>
                                <xs:element type="xs:string" name="externalId"/>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                          <xs:element type="xs:float" name="used"/>
                          <xs:element type="xs:float" name="moved"/>
                          <xs:element type="xs:string" name="shipped"/>
                          <xs:element type="xs:string" name="udfValues"/>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element type="xs:byte" name="type"/>
                    <xs:element type="xs:string" name="attachments"/>
                    <xs:element name="udfValues" maxOccurs="unbounded" minOccurs="0">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="udfMeta">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element type="xs:string" name="id"/>
                                <xs:element type="xs:string" name="code"/>
                                <xs:element type="xs:string" name="externalId"/>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                          <xs:element type="xs:string" name="value"/>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element type="xs:string" name="requirements"/>
                    <xs:element type="xs:string" name="serviceContract"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>