Resources/schemas/Xsd/SAP_Commerce_Integration_with_SAP_CPQ_and_SAP_Subscription_Billing - SAPCpiOutboundOrdersEntityPOST1.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="qualified">
   <xs:element name="SAPCpiOutboundOrders">
      <xs:complexType>
         <xs:sequence>
            <xs:element minOccurs="1" maxOccurs="unbounded" name="SAPCpiOutboundOrder">
               <xs:complexType>
                  <xs:sequence>
                     <xs:element type="xs:string" nillable="false" maxOccurs="unbounded" name="integrationKey" />
                     <xs:element nillable="true" minOccurs="0" maxOccurs="unbounded" name="sapCpiOutboundOrderItems">
                        <xs:complexType>
                           <xs:sequence>
                              <xs:element minOccurs="0" maxOccurs="unbounded" name="SAPCpiOutboundOrderItem">
                                 <xs:complexType>
                                    <xs:sequence>
                                       <xs:element type="xs:string" nillable="false" maxOccurs="unbounded" name="integrationKey" />
                                       <xs:element type="xs:string" nillable="true" minOccurs="0" maxOccurs="unbounded" name="subscriptionValidFrom" />
                                       <xs:element type="xs:string" nillable="true" minOccurs="0" maxOccurs="unbounded" name="itemCategory" />
                                       <xs:element type="xs:string" nillable="true" minOccurs="0" maxOccurs="unbounded" name="entryNumber" />
                                       <xs:element type="xs:string" nillable="true" minOccurs="0" maxOccurs="unbounded" name="orderId" />
                                       <xs:element type="xs:string" nillable="true" minOccurs="0" maxOccurs="unbounded" name="subscriptionValidTill" />
                                       <xs:element type="xs:string" nillable="true" minOccurs="0" maxOccurs="unbounded" name="plant" />
                                       <xs:element type="xs:string" nillable="true" minOccurs="0" maxOccurs="unbounded" name="subscriptionValidTerm" />
                                       <xs:element type="xs:string" nillable="true" minOccurs="0" maxOccurs="unbounded" name="namedDeliveryDate" />
                                       <xs:element type="xs:string" nillable="true" minOccurs="0" maxOccurs="unbounded" name="pricePlanId" />
                                       <xs:element type="xs:string" nillable="true" minOccurs="0" maxOccurs="unbounded" name="productName" />
                                       <xs:element type="xs:string" nillable="true" minOccurs="0" maxOccurs="unbounded" name="productCode" />
                                       <xs:element type="xs:string" nillable="true" minOccurs="0" maxOccurs="unbounded" name="currencyIsoCode" />
                                       <xs:element type="xs:string" nillable="true" minOccurs="0" maxOccurs="unbounded" name="unit" />
                                       <xs:element type="xs:boolean" nillable="true" minOccurs="0" maxOccurs="unbounded" name="overwriteContractTerm" />
                                       <xs:element type="xs:string" nillable="true" minOccurs="0" maxOccurs="unbounded" name="cpqQuoteId" />
                                       <xs:element type="xs:string" nillable="true" minOccurs="0" maxOccurs="unbounded" name="quantity" />
                                       <xs:element nillable="true" minOccurs="0" maxOccurs="unbounded" name="cpqSubscriptionDetails">
                                          <xs:complexType>
                                             <xs:sequence>
                                                <xs:element minOccurs="0" maxOccurs="unbounded" name="CpqSubscriptionDetail">
                                                   <xs:complexType>
                                                      <xs:sequence>
                                                         <xs:element type="xs:string" nillable="false" maxOccurs="unbounded" name="integrationKey" />
                                                         <xs:element type="xs:dateTime" nillable="true" minOccurs="0" maxOccurs="unbounded" name="contractStartDate" />
                                                         <xs:element type="xs:dateTime" nillable="true" minOccurs="0" maxOccurs="unbounded" name="contractEndDate" />
                                                         <xs:element type="xs:dateTime" nillable="true" minOccurs="0" maxOccurs="unbounded" name="minimumContractEndDate" />
                                                         <xs:element type="xs:dateTime" nillable="true" minOccurs="0" maxOccurs="unbounded" name="effectiveDate" />
                                                         <xs:element type="xs:string" nillable="true" minOccurs="0" maxOccurs="unbounded" name="subscriptionPricePlanId" />
                                                         <xs:element type="xs:string" nillable="true" minOccurs="0" maxOccurs="unbounded" name="itemId" />
                                                         <xs:element type="xs:string" nillable="true" minOccurs="0" maxOccurs="unbounded" name="ratePlanId" />
                                                         <xs:element type="xs:string" nillable="true" minOccurs="0" maxOccurs="unbounded" name="contractLength" />
                                                         <xs:element type="xs:string" nillable="true" minOccurs="0" maxOccurs="unbounded" name="minimumContractLength" />
                                                         <xs:element nillable="true" minOccurs="0" maxOccurs="unbounded" name="pricingParameters">
                                                            <xs:complexType>
                                                               <xs:sequence>
                                                                  <xs:element minOccurs="0" maxOccurs="unbounded" name="CpqPricingParameter">
                                                                     <xs:complexType>
                                                                        <xs:sequence>
                                                                           <xs:element type="xs:string" nillable="false" maxOccurs="unbounded" name="integrationKey" />
                                                                           <xs:element type="xs:string" nillable="true" minOccurs="0" maxOccurs="unbounded" name="code" />
                                                                           <xs:element type="xs:string" nillable="true" minOccurs="0" maxOccurs="unbounded" name="value" />
                                                                           <xs:element type="xs:string" nillable="true" minOccurs="0" maxOccurs="unbounded" name="itemId" />
                                                                        </xs:sequence>
                                                                     </xs:complexType>
                                                                  </xs:element>
                                                               </xs:sequence>
                                                            </xs:complexType>
                                                         </xs:element>
                                                      </xs:sequence>
                                                   </xs:complexType>
                                                </xs:element>
                                             </xs:sequence>
                                          </xs:complexType>
                                       </xs:element>
                                       <xs:element name="externalObjectReferences" minOccurs="0" maxOccurs="unbounded">
                                          <xs:complexType>
                                             <xs:sequence>
                                                <xs:element type="xs:string" name="externalSystemId" minOccurs="0" />
                                                <xs:element type="xs:string" name="externalId" minOccurs="0" />
                                                <xs:element type="xs:string" name="externalIdTypeCode" minOccurs="0" />
                                             </xs:sequence>
                                          </xs:complexType>
                                       </xs:element>
                                       <xs:element name="headerLevelExternalObjectReferences" minOccurs="0" maxOccurs="unbounded">
                                          <xs:complexType>
                                             <xs:sequence>
                                                <xs:element type="xs:string" name="externalSystemId" minOccurs="0" />
                                                <xs:element type="xs:string" name="externalId" minOccurs="0" />
                                                <xs:element type="xs:string" name="externalIdTypeCode" minOccurs="0" />
                                             </xs:sequence>
                                          </xs:complexType>
                                       </xs:element>
                                    </xs:sequence>
                                 </xs:complexType>
                              </xs:element>
                           </xs:sequence>
                        </xs:complexType>
                     </xs:element>
                     <xs:element nillable="true" minOccurs="0" maxOccurs="unbounded" name="sapCpiConfig">
                        <xs:complexType>
                           <xs:sequence>
                              <xs:element minOccurs="0" maxOccurs="1" name="SAPCpiOutboundConfig">
                                 <xs:complexType>
                                    <xs:sequence>
                                       <xs:element type="xs:string" nillable="false" maxOccurs="unbounded" name="integrationKey" />
                                       <xs:element type="xs:string" nillable="true" minOccurs="0" maxOccurs="unbounded" name="senderName" />
                                       <xs:element type="xs:string" nillable="true" minOccurs="0" maxOccurs="unbounded" name="senderPort" />
                                       <xs:element type="xs:string" nillable="true" minOccurs="0" maxOccurs="unbounded" name="url" />
                                       <xs:element type="xs:string" nillable="true" minOccurs="0" maxOccurs="unbounded" name="username" />
                                       <xs:element type="xs:string" nillable="true" minOccurs="0" maxOccurs="unbounded" name="client" />
                                       <xs:element type="xs:string" nillable="true" minOccurs="0" maxOccurs="unbounded" name="receiverPort" />
                                       <xs:element type="xs:string" nillable="true" minOccurs="0" maxOccurs="unbounded" name="receiverName" />
                                    </xs:sequence>
                                 </xs:complexType>
                              </xs:element>
                           </xs:sequence>
                        </xs:complexType>
                     </xs:element>
                     <xs:element nillable="true" minOccurs="0" maxOccurs="unbounded" name="sapCpiOutboundAddresses">
                        <xs:complexType>
                           <xs:sequence>
                              <xs:element minOccurs="0" maxOccurs="unbounded" name="SAPCpiOutboundAddress">
                                 <xs:complexType>
                                    <xs:sequence>
                                       <xs:element type="xs:string" nillable="false" maxOccurs="unbounded" name="integrationKey" />
                                       <xs:element type="xs:string" nillable="true" minOccurs="0" maxOccurs="unbounded" name="documentAddressId" />
                                       <xs:element type="xs:string" nillable="true" minOccurs="0" maxOccurs="unbounded" name="middleName" />
                                       <xs:element type="xs:string" nillable="true" minOccurs="0" maxOccurs="unbounded" name="lastName" />
                                       <xs:element type="xs:string" nillable="true" minOccurs="0" maxOccurs="unbounded" name="languageIsoCode" />
                                       <xs:element type="xs:string" nillable="true" minOccurs="0" maxOccurs="unbounded" name="countryIsoCode" />
                                       <xs:element type="xs:string" nillable="true" minOccurs="0" maxOccurs="unbounded" name="orderId" />
                                       <xs:element type="xs:string" nillable="true" minOccurs="0" maxOccurs="unbounded" name="faxNumber" />
                                       <xs:element type="xs:string" nillable="true" minOccurs="0" maxOccurs="unbounded" name="telNumber" />
                                       <xs:element type="xs:string" nillable="true" minOccurs="0" maxOccurs="unbounded" name="street" />
                                       <xs:element type="xs:string" nillable="true" minOccurs="0" maxOccurs="unbounded" name="city" />
                                       <xs:element type="xs:string" nillable="true" minOccurs="0" maxOccurs="unbounded" name="regionIsoCode" />
                                       <xs:element type="xs:string" nillable="true" minOccurs="0" maxOccurs="unbounded" name="apartment" />
                                       <xs:element type="xs:string" nillable="true" minOccurs="0" maxOccurs="unbounded" name="email" />
                                       <xs:element type="xs:string" nillable="true" minOccurs="0" maxOccurs="unbounded" name="district" />
                                       <xs:element type="xs:string" nillable="true" minOccurs="0" maxOccurs="unbounded" name="postalCode" />
                                       <xs:element type="xs:string" nillable="true" minOccurs="0" maxOccurs="unbounded" name="middleName2" />
                                       <xs:element type="xs:string" nillable="true" minOccurs="0" maxOccurs="unbounded" name="firstName" />
                                       <xs:element type="xs:string" nillable="true" minOccurs="0" maxOccurs="unbounded" name="titleCode" />
                                       <xs:element type="xs:string" nillable="true" minOccurs="0" maxOccurs="unbounded" name="pobox" />
                                       <xs:element type="xs:string" nillable="true" minOccurs="0" maxOccurs="unbounded" name="houseNumber" />
                                       <xs:element type="xs:string" nillable="true" minOccurs="0" maxOccurs="unbounded" name="building" />
                                    </xs:sequence>
                                 </xs:complexType>
                              </xs:element>
                           </xs:sequence>
                        </xs:complexType>
                     </xs:element>
                     <xs:element nillable="true" minOccurs="0" maxOccurs="unbounded" name="sapCpiOutboundPartnerRoles">
                        <xs:complexType>
                           <xs:sequence>
                              <xs:element minOccurs="0" maxOccurs="unbounded" name="SAPCpiOutboundPartnerRole">
                                 <xs:complexType>
                                    <xs:sequence>
                                       <xs:element type="xs:string" nillable="false" maxOccurs="unbounded" name="integrationKey" />
                                       <xs:element type="xs:string" nillable="true" minOccurs="0" maxOccurs="unbounded" name="entryNumber" />
                                       <xs:element type="xs:string" nillable="true" minOccurs="0" maxOccurs="unbounded" name="partnerId" />
                                       <xs:element type="xs:string" nillable="true" minOccurs="0" maxOccurs="unbounded" name="email" />
                                       <xs:element type="xs:string" nillable="true" minOccurs="0" maxOccurs="unbounded" name="revenueCloudCustomerId" />
                                       <xs:element type="xs:string" nillable="true" minOccurs="0" maxOccurs="unbounded" name="documentAddressId" />
                                       <xs:element type="xs:string" nillable="true" minOccurs="0" maxOccurs="unbounded" name="partnerRoleCode" />
                                       <xs:element type="xs:string" nillable="true" minOccurs="0" maxOccurs="unbounded" name="orderId" />
                                    </xs:sequence>
                                 </xs:complexType>
                              </xs:element>
                           </xs:sequence>
                        </xs:complexType>
                     </xs:element>
                     <xs:element nillable="true" minOccurs="0" maxOccurs="unbounded" name="sapCpiOutboundCardPayments">
                        <xs:complexType>
                           <xs:sequence>
                              <xs:element minOccurs="0" maxOccurs="unbounded" name="SAPCpiOutboundCardPayment">
                                 <xs:complexType>
                                    <xs:sequence>
                                       <xs:element type="xs:string" nillable="false" maxOccurs="unbounded" name="integrationKey" />
                                       <xs:element type="xs:string" nillable="true" minOccurs="0" maxOccurs="unbounded" name="requestId" />
                                       <xs:element type="xs:string" nillable="true" minOccurs="0" maxOccurs="unbounded" name="orderId" />
                                       <xs:element type="xs:string" nillable="true" minOccurs="0" maxOccurs="unbounded" name="validToYear" />
                                       <xs:element type="xs:string" nillable="true" minOccurs="0" maxOccurs="unbounded" name="paymentProvider" />
                                       <xs:element type="xs:string" nillable="true" minOccurs="0" maxOccurs="unbounded" name="subscriptionId" />
                                       <xs:element type="xs:string" nillable="true" minOccurs="0" maxOccurs="unbounded" name="validToMonth" />
                                       <xs:element type="xs:string" nillable="true" minOccurs="0" maxOccurs="unbounded" name="ccOwner" />
                                    </xs:sequence>
                                 </xs:complexType>
                              </xs:element>
                           </xs:sequence>
                        </xs:complexType>
                     </xs:element>
                     <xs:element type="xs:string" nillable="true" minOccurs="0" maxOccurs="unbounded" name="creationDate" />
                     <xs:element type="xs:string" nillable="true" minOccurs="0" maxOccurs="unbounded" name="responseMessage" />
                     <xs:element type="xs:string" nillable="true" minOccurs="0" maxOccurs="unbounded" name="transactionType" />
                     <xs:element type="xs:string" nillable="true" minOccurs="0" maxOccurs="unbounded" name="salesOrganization" />
                     <xs:element type="xs:string" nillable="true" minOccurs="0" maxOccurs="unbounded" name="division" />
                     <xs:element type="xs:string" nillable="true" minOccurs="0" maxOccurs="unbounded" name="paymentMode" />
                     <xs:element type="xs:string" nillable="true" minOccurs="0" maxOccurs="unbounded" name="orderId" />
                     <xs:element type="xs:string" nillable="true" minOccurs="0" maxOccurs="unbounded" name="revenueCloudOrderId" />
                     <xs:element type="xs:string" nillable="true" minOccurs="0" maxOccurs="unbounded" name="channel" />
                     <xs:element type="xs:string" nillable="true" minOccurs="0" maxOccurs="unbounded" name="shippingCondition" />
                     <xs:element type="xs:string" nillable="true" minOccurs="0" maxOccurs="unbounded" name="distributionChannel" />
                     <xs:element type="xs:string" nillable="true" minOccurs="0" maxOccurs="unbounded" name="responseStatus" />
                     <xs:element type="xs:string" nillable="true" minOccurs="0" maxOccurs="unbounded" name="purchaseOrderNumber" />
                     <xs:element type="xs:string" nillable="true" minOccurs="0" maxOccurs="unbounded" name="currencyIsoCode" />
                     <xs:element type="xs:string" nillable="true" minOccurs="0" maxOccurs="unbounded" name="baseStoreUid" />
                     <xs:element type="xs:string" nillable="true" minOccurs="0" maxOccurs="unbounded" name="deliveryMode" />
                     <xs:element name="externalObjectReferences" minOccurs="0" maxOccurs="unbounded">
                        <xs:complexType>
                           <xs:sequence>
                              <xs:element type="xs:string" name="externalSystemId" minOccurs="0" />
                              <xs:element type="xs:string" name="externalId" minOccurs="0" />
                              <xs:element type="xs:string" name="externalIdTypeCode" minOccurs="0" />
                           </xs:sequence>
                        </xs:complexType>
                     </xs:element>
                     <xs:element minOccurs="0" maxOccurs="1" name="link">
                        <xs:complexType>
                           <xs:sequence>
                              <xs:element nillable="true" minOccurs="0" maxOccurs="unbounded" name="sapCpiOutboundOrderItems">
                                 <xs:complexType>
                                    <xs:sequence>
                                       <xs:element minOccurs="0" maxOccurs="unbounded" name="SAPCpiOutboundOrderItem">
                                          <xs:complexType>
                                             <xs:sequence>
                                                <xs:element type="xs:string" minOccurs="1" maxOccurs="1" name="integrationKey" />
                                             </xs:sequence>
                                          </xs:complexType>
                                       </xs:element>
                                    </xs:sequence>
                                 </xs:complexType>
                              </xs:element>
                              <xs:element nillable="true" minOccurs="0" maxOccurs="unbounded" name="sapCpiConfig">
                                 <xs:complexType>
                                    <xs:sequence>
                                       <xs:element minOccurs="0" maxOccurs="1" name="SAPCpiOutboundConfig">
                                          <xs:complexType>
                                             <xs:sequence>
                                                <xs:element type="xs:string" minOccurs="1" maxOccurs="1" name="integrationKey" />
                                             </xs:sequence>
                                          </xs:complexType>
                                       </xs:element>
                                    </xs:sequence>
                                 </xs:complexType>
                              </xs:element>
                              <xs:element nillable="true" minOccurs="0" maxOccurs="unbounded" name="sapCpiOutboundAddresses">
                                 <xs:complexType>
                                    <xs:sequence>
                                       <xs:element minOccurs="0" maxOccurs="unbounded" name="SAPCpiOutboundAddress">
                                          <xs:complexType>
                                             <xs:sequence>
                                                <xs:element type="xs:string" minOccurs="1" maxOccurs="1" name="integrationKey" />
                                             </xs:sequence>
                                          </xs:complexType>
                                       </xs:element>
                                    </xs:sequence>
                                 </xs:complexType>
                              </xs:element>
                              <xs:element nillable="true" minOccurs="0" maxOccurs="unbounded" name="sapCpiOutboundPartnerRoles">
                                 <xs:complexType>
                                    <xs:sequence>
                                       <xs:element minOccurs="0" maxOccurs="unbounded" name="SAPCpiOutboundPartnerRole">
                                          <xs:complexType>
                                             <xs:sequence>
                                                <xs:element type="xs:string" minOccurs="1" maxOccurs="1" name="integrationKey" />
                                             </xs:sequence>
                                          </xs:complexType>
                                       </xs:element>
                                    </xs:sequence>
                                 </xs:complexType>
                              </xs:element>
                              <xs:element nillable="true" minOccurs="0" maxOccurs="unbounded" name="sapCpiOutboundCardPayments">
                                 <xs:complexType>
                                    <xs:sequence>
                                       <xs:element minOccurs="0" maxOccurs="unbounded" name="SAPCpiOutboundCardPayment">
                                          <xs:complexType>
                                             <xs:sequence>
                                                <xs:element type="xs:string" minOccurs="1" maxOccurs="1" name="integrationKey" />
                                             </xs:sequence>
                                          </xs:complexType>
                                       </xs:element>
                                    </xs:sequence>
                                 </xs:complexType>
                              </xs:element>
                           </xs:sequence>
                        </xs:complexType>
                     </xs:element>
                  </xs:sequence>
               </xs:complexType>
            </xs:element>
         </xs:sequence>
      </xs:complexType>
   </xs:element>
</xs:schema>