Resources/schemas/Xsd/SAP_Build_Process_Automation_Integration_with_SAP_S-4HANA_for_Disconnection - PM_Plantcode_Rfcresp.xsd

 <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="rfc:RFC_READ_TABLE.Response">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="DATA">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element maxOccurs="unbounded" name="item">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element type="xs:string" name="WA"/>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="FIELDS">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="item">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element type="xs:string" name="FIELDNAME"/>
                                        <xs:element type="xs:integer" name="OFFSET"/>
                                        <xs:element type="xs:integer" name="LENGTH"/>
                                        <xs:element type="xs:string" name="TYPE"/>
                                        <xs:element type="xs:string" name="FIELDTEXT"/>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="OPTIONS">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="item">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element type="xs:string" name="TEXT"/>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>