Resources/schemas/Xsd/SAP_Commerce_financial_services_accelerator_integration_with_SAP_for_Insurance - InboundPayloadUpdatePaymentAndIssuePolicy.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="cart">
    <xs:complexType>
      <xs:sequence>
        <xs:element type="xs:string" name="mainProduct"/>
        <xs:element name="quoteInformation">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="quoteId"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="user">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="customerId"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="paymentInfo">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="paymentToken"/>
              <xs:element name="premiumPayer">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:string" name="lastName"/>
                    <xs:element type="xs:string" name="firstName"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="paymentProvider">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:string" name="type"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>