Resources/schemas/Xsd/SAP_Build_Process_Automation_Integration_with_SAP_S-4HANA_to_Handle_Tenant_Move_in_Date_Changes - ownerpayload.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- Created with Liquid Technologies Online Tools 1.0 (https://www.liquid-technologies.com) -->
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="ZWRAPPER_ISU_S_MOVE_IN_DATE_CH">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="X_EINZBELEG" type="xs:unsignedLong" />
        <xs:element name="X_BEZUGSDAT" type="xs:dateTime" />
        <xs:element name="TX_VERTRAG">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="item">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="VERTRAG" type="xs:unsignedLong" />
                    <xs:element name="ANLAGE" type="xs:unsignedLong" />
                    <xs:element name="EINZDAT" type="xs:dateTime" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>