Resources/schemas/Xsd/SAP_Complaint_Handling_Integration_with_Master_Data_and_Business_Objects - MaterialMasterGeneralDataValidator.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="qualified">
   <xs:element name="MaterialMasterGeneralData">
      <xs:complexType>
         <xs:sequence>
            <xs:element maxOccurs="unbounded" name="row">
               <xs:complexType>
                  <xs:sequence>
                     <xs:element name="materialCode">
                        <xs:simpleType>
                           <xs:restriction base="xs:string">
                           </xs:restriction>
                        </xs:simpleType>
                     </xs:element>
                     <xs:element name="materialDescription">
                        <xs:simpleType>
                           <xs:restriction base="xs:string">
                           </xs:restriction>
                        </xs:simpleType>
                     </xs:element>
                     <xs:element name="materialType">
                        <xs:simpleType>
                           <xs:restriction base="xs:string">
                           </xs:restriction>
                        </xs:simpleType>
                     </xs:element>
                     <xs:element name="materialGroup">
                        <xs:simpleType>
                           <xs:restriction base="xs:string">
                           </xs:restriction>
                        </xs:simpleType>
                     </xs:element>
                     <xs:element name="division">
                        <xs:simpleType>
                           <xs:restriction base="xs:string">
                           </xs:restriction>
                        </xs:simpleType>
                     </xs:element>
                     <xs:element name="xPlantMaterialStatus">
                        <xs:simpleType>
                           <xs:restriction base="xs:string">
                           </xs:restriction>
                        </xs:simpleType>
                     </xs:element>
                     <xs:element name="validFrom" type="xs:date" />
                     <xs:element name="grossWeight" default="0.0">
                        <xs:simpleType>
                           <xs:restriction base="xs:decimal">
                           </xs:restriction>
                        </xs:simpleType>
                     </xs:element>
                     <xs:element name="netWeight" default="0.0">
                        <xs:simpleType>
                           <xs:restriction base="xs:decimal">
                           </xs:restriction>
                        </xs:simpleType>
                     </xs:element>
                     <xs:element name="volume" default="0.0">
                        <xs:simpleType>
                           <xs:restriction base="xs:decimal">
                           </xs:restriction>
                        </xs:simpleType>
                     </xs:element>
                     <xs:element name="sizeDimensions">
                        <xs:simpleType>
                           <xs:restriction base="xs:string">
                           </xs:restriction>
                        </xs:simpleType>
                     </xs:element>
                     <xs:element name="EAN_UPC">
                        <xs:simpleType>
                           <xs:restriction base="xs:string">
                           </xs:restriction>
                        </xs:simpleType>
                     </xs:element>
                     <xs:element name="EANCategary">
                        <xs:simpleType>
                           <xs:restriction base="xs:string">
                           </xs:restriction>
                        </xs:simpleType>
                     </xs:element>
                     <xs:element name="productCompositionIndicator">
                        <xs:simpleType>
                           <xs:restriction base="xs:string">
                           </xs:restriction>
                        </xs:simpleType>
                     </xs:element>
                     <xs:element name="packagingMaterialGroup">
                        <xs:simpleType>
                           <xs:restriction base="xs:string">
                           </xs:restriction>
                        </xs:simpleType>
                     </xs:element>
                     <xs:element name="baseUnitOfMeasure_code">
                        <xs:simpleType>
                           <xs:restriction base="xs:string">
                           </xs:restriction>
                        </xs:simpleType>
                     </xs:element>
                     <xs:element name="weightUnit_code">
                        <xs:simpleType>
                           <xs:restriction base="xs:string">
                           </xs:restriction>
                        </xs:simpleType>
                     </xs:element>
                     <xs:element name="volumeUnit_code">
                        <xs:simpleType>
                           <xs:restriction base="xs:string">
                           </xs:restriction>
                        </xs:simpleType>
                     </xs:element>
					
                  </xs:sequence>
               </xs:complexType>
            </xs:element>
         </xs:sequence>
      </xs:complexType>
   </xs:element>
</xs:schema>