Resources/schemas/Xsd/SAP_Analytics_Cloud_Integration_with_SAP_SuccessFactors_Position_Write_Back_Outbound_Flow - SACPlans.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- Created with Liquid Technologies Online Tools 1.0 (https://www.liquid-technologies.com) -->
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="SACPositionPlans">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" name="PerPlan">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="SAP_HR_USER_JOBCLASSIFICATION" type="xs:string" />
              <xs:element name="SAP_HR_USER_LOCATION" type="xs:string" />
              <xs:element name="SAP_HR_POSITION" type="xs:string" />
              <xs:element name="SAP_HR_USER_PAYGRADE" type="xs:string" />
              <xs:element name="SAP_HR_JOBFUNCTION" type="xs:unsignedInt" />
              <xs:element name="SAP_HR_BUSINESSUNIT" type="xs:string" />
              <xs:element name="COMPOSITE_KEY" type="xs:string" />
              <xs:element name="SAP_HR_DIVISION" type="xs:string" />
              <xs:element name="SAP_ALL_COSTCENTER" type="xs:unsignedInt" />
              <xs:element name="SAP_HR_DEPARTMENT" type="xs:unsignedInt" />
              <xs:element name="FIRST_SLICE_DATE" type="xs:unsignedInt" />
              <xs:element name="SAP_ALL_COMPANY_CODE" type="xs:unsignedShort" />
              <xs:element name="FTE_EoP" type="xs:decimal" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>