Resources/schemas/Xsd/SAP_Build_Process_Automation_Integration_with_SAP_S-4HANA_for_Manage_Emissions_Data - Input_emission_data.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="d">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="EHSAmountUUID" minOccurs="0" maxOccurs="1" type="xs:string" />
        <xs:element name="EHSAmountUTCDateTime" minOccurs="0" maxOccurs="1" type="xs:dateTime" />
        <xs:element name="EHSAmountValue" minOccurs="0" maxOccurs="1" type="xs:decimal" />
        <xs:element name="EHSAmountValueold" minOccurs="0" maxOccurs="1" type="xs:decimal" />
        <xs:element name="UnitOfMeasureName" minOccurs="0" maxOccurs="1" type="xs:string" />
        <xs:element name="DataUsagePeriodicity" minOccurs="0" maxOccurs="1" type="xs:unsignedByte" />
        <xs:element name="EHSComplianceScenarioName" minOccurs="0" maxOccurs="1" type="xs:string" />
        <xs:element name="DataCollectionTitle" minOccurs="0" maxOccurs="1" type="xs:string" />
        <xs:element name="EHSLocationName" minOccurs="0" maxOccurs="1" type="xs:string" />
        <xs:element name="EHSLocationUUID" minOccurs="0" maxOccurs="1" type="xs:string" />
        <xs:element name="EHSAmountIsFaulty" minOccurs="0" maxOccurs="1" type="xs:string" />
        <xs:element name="EHSAmountHasWarning" minOccurs="0" maxOccurs="1" type="xs:string" />
        <xs:element name="LastChangedByUser" minOccurs="0" maxOccurs="1" type="xs:string" />
        <xs:element name="RequestorEmail" minOccurs="0" maxOccurs="1" type="xs:string" />
        <xs:element name="EnvironmentLimitName" minOccurs="0" maxOccurs="1" type="xs:string" />
        <xs:element name="EnvironmentLimitType" minOccurs="0" maxOccurs="1" type="xs:string" />
        <xs:element name="EnvironmentLimitValue" minOccurs="0" maxOccurs="1" type="xs:string" />
        <xs:element name="EnvironmentLimitUpperValue" minOccurs="0" maxOccurs="1" type="xs:string" />
        <xs:element name="EnvironmentLimitWarnValue" minOccurs="0" maxOccurs="1" type="xs:string" />
        <xs:element name="EnvironmentLimitWarnUpValue" minOccurs="0" maxOccurs="1" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>