Resources/schemas/Xsd/SAP_SuccessFactors_Employee_Central_Integration_with_Third-Party_Time_Vendor_-_Kronos - FO_costCenterEntityquerySync0.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema attributeFormDefault="unqualified"
	elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="queryFO_costCenterResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element minOccurs="0" maxOccurs="unbounded" name="FO_costCenter">
					<xs:complexType>
						<xs:sequence>
							<xs:element nillable="false" maxOccurs="unbounded"
								name="externalCode">
								<xs:simpleType>
									<xs:restriction base="xs:string" xmlns="">
										<xs:maxLength value="32" />
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>