Resources/schemas/Xsd/SAP_S-4HANA_Cloud_Public_Edition_Integration_with_Shopify - shopifyOrderWithReturnsShopifyMetafieldSchema.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           elementFormDefault="qualified">

    <xs:element name="returns">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="returns" type="ReturnType" minOccurs="1" maxOccurs="unbounded"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:complexType name="ReturnType">
        <xs:sequence>
            <xs:element name="shopifyReturnID" type="xs:string" minOccurs="1" maxOccurs="1"/>
            <xs:element name="shopifyReturnName" type="xs:string" minOccurs="1" maxOccurs="1"/>
            <xs:element name="s4HanaCloudReturnID" type="xs:string" minOccurs="0" maxOccurs="1"/>
        </xs:sequence>
    </xs:complexType>

</xs:schema>