Resources/schemas/Xsd/SAP_Build_Process_Automation_Integration_with_SAP_ERP_for_Invoice - PayKeydetailsOutput.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="root">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="paymentTermDetails" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:float" name="amount1"/>
              <xs:element type="xs:byte" name="amount2"/>
              <xs:element type="xs:byte" name="dueDate1"/>
              <xs:element type="xs:byte" name="dueDate2"/>
              <xs:element type="xs:byte" name="dueDate3"/>
              <xs:element type="xs:byte" name="paymentTerm"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>