Resources/schemas/Xsd/SAP_S-4HANA_Cloud_Integration_with_Salesforce - Salesforce_Object_Get_Request.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!--Copyright (c) Rojo Consultancy B.V. all rights reserved 
XSD generated from the Salesforce Adapter Plug-In by Rojo Consultancy B.V. 
Intended for the Salesforce Adapter for SAP Cloud Platform Integration 
Based upon Salesforce API version: 37.0 
Operation: REST - Salesforce Object - Create - sObjectsComposite - Request 
Creation date: Mon Sep 28 21:30:42 CEST 2020 
Website: www.rojoconsultancy.com-->
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
    <xsd:element name="sObjectsComposite">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element maxOccurs="1" minOccurs="0" name="allOrNone" type="xsd:boolean"/>
                <xsd:element maxOccurs="unbounded" minOccurs="0" name="compositeRequest_OrderItem">
                    <xsd:complexType>
                        <xsd:sequence>
                            <xsd:element maxOccurs="1" minOccurs="1" name="method" type="xsd:string"/>
                            <xsd:element maxOccurs="1" minOccurs="1" name="referenceId" type="xsd:string"/>
                            <xsd:element maxOccurs="1" minOccurs="1" name="url" type="xsd:string"/>
                            <xsd:element maxOccurs="1" minOccurs="0" name="body">
                                <xsd:complexType>
                                    <xsd:sequence>
                                        <xsd:element maxOccurs="1" minOccurs="0" name="Id" nillable="false" type="ID">
                                            <xsd:annotation>
                                                <xsd:documentation>Order Product ID</xsd:documentation>
                                            </xsd:annotation>
                                        </xsd:element>
                                        <xsd:element maxOccurs="1" minOccurs="0" name="Product2Id" nillable="true" type="ID">
                                            <xsd:annotation>
                                                <xsd:documentation>Product ID</xsd:documentation>
                                            </xsd:annotation>
                                        </xsd:element>
                                        <xsd:element maxOccurs="1" minOccurs="0" name="IsDeleted" nillable="false" type="xsd:boolean">
                                            <xsd:annotation>
                                                <xsd:documentation>Deleted</xsd:documentation>
                                            </xsd:annotation>
                                        </xsd:element>
                                        <xsd:element maxOccurs="1" minOccurs="0" name="OrderId" nillable="false" type="ID">
                                            <xsd:annotation>
                                                <xsd:documentation>Order ID</xsd:documentation>
                                            </xsd:annotation>
                                        </xsd:element>
                                        <xsd:element maxOccurs="1" minOccurs="0" name="PricebookEntryId" nillable="false" type="ID">
                                            <xsd:annotation>
                                                <xsd:documentation>Price Book Entry ID</xsd:documentation>
                                            </xsd:annotation>
                                        </xsd:element>
                                        <xsd:element maxOccurs="1" minOccurs="0" name="OriginalOrderItemId" nillable="true" type="ID">
                                            <xsd:annotation>
                                                <xsd:documentation>Original Order Item ID</xsd:documentation>
                                            </xsd:annotation>
                                        </xsd:element>
                                        <xsd:element maxOccurs="1" minOccurs="0" name="AvailableQuantity" nillable="true" type="xsd:double">
                                            <xsd:annotation>
                                                <xsd:documentation>Available Quantity</xsd:documentation>
                                            </xsd:annotation>
                                        </xsd:element>
                                        <xsd:element maxOccurs="1" minOccurs="0" name="Quantity" nillable="false" type="xsd:double">
                                            <xsd:annotation>
                                                <xsd:documentation>Quantity</xsd:documentation>
                                            </xsd:annotation>
                                        </xsd:element>
                                        <xsd:element maxOccurs="1" minOccurs="0" name="CurrencyIsoCode" nillable="false">
                                            <xsd:annotation>
                                                <xsd:documentation>Currency ISO Code</xsd:documentation>
                                            </xsd:annotation>
                                            <xsd:simpleType>
                                                <xsd:restriction base="xsd:string">
                                                    <xsd:enumeration value="EUR"/>
                                                    <xsd:enumeration value="USD"/>
                                                </xsd:restriction>
                                            </xsd:simpleType>
                                        </xsd:element>
                                        <xsd:element maxOccurs="1" minOccurs="0" name="UnitPrice" nillable="true" type="xsd:double">
                                            <xsd:annotation>
                                                <xsd:documentation>Unit Price</xsd:documentation>
                                            </xsd:annotation>
                                        </xsd:element>
                                        <xsd:element maxOccurs="1" minOccurs="0" name="ListPrice" nillable="true" type="xsd:double">
                                            <xsd:annotation>
                                                <xsd:documentation>List Price</xsd:documentation>
                                            </xsd:annotation>
                                        </xsd:element>
                                        <xsd:element maxOccurs="1" minOccurs="0" name="TotalPrice" nillable="true" type="xsd:double">
                                            <xsd:annotation>
                                                <xsd:documentation>Total Price</xsd:documentation>
                                            </xsd:annotation>
                                        </xsd:element>
                                        <xsd:element maxOccurs="1" minOccurs="0" name="ServiceDate" nillable="true" type="xsd:date">
                                            <xsd:annotation>
                                                <xsd:documentation>Start Date</xsd:documentation>
                                            </xsd:annotation>
                                        </xsd:element>
                                        <xsd:element maxOccurs="1" minOccurs="0" name="EndDate" nillable="true" type="xsd:date">
                                            <xsd:annotation>
                                                <xsd:documentation>End Date</xsd:documentation>
                                            </xsd:annotation>
                                        </xsd:element>
                                        <xsd:element maxOccurs="1" minOccurs="0" name="Description" nillable="true">
                                            <xsd:annotation>
                                                <xsd:documentation>Line Description</xsd:documentation>
                                            </xsd:annotation>
                                            <xsd:simpleType>
                                                <xsd:restriction base="xsd:string">
                                                    <xsd:minLength value="0"/>
                                                    <xsd:maxLength value="255"/>
                                                </xsd:restriction>
                                            </xsd:simpleType>
                                        </xsd:element>
                                        <xsd:element maxOccurs="1" minOccurs="0" name="CreatedDate" nillable="false" type="xsd:dateTime">
                                            <xsd:annotation>
                                                <xsd:documentation>Created Date</xsd:documentation>
                                            </xsd:annotation>
                                        </xsd:element>
                                        <xsd:element maxOccurs="1" minOccurs="0" name="CreatedById" nillable="false" type="ID">
                                            <xsd:annotation>
                                                <xsd:documentation>Created By ID</xsd:documentation>
                                            </xsd:annotation>
                                        </xsd:element>
                                        <xsd:element maxOccurs="1" minOccurs="0" name="LastModifiedDate" nillable="false" type="xsd:dateTime">
                                            <xsd:annotation>
                                                <xsd:documentation>Last Modified Date</xsd:documentation>
                                            </xsd:annotation>
                                        </xsd:element>
                                        <xsd:element maxOccurs="1" minOccurs="0" name="LastModifiedById" nillable="false" type="ID">
                                            <xsd:annotation>
                                                <xsd:documentation>Last Modified By ID</xsd:documentation>
                                            </xsd:annotation>
                                        </xsd:element>
                                        <xsd:element maxOccurs="1" minOccurs="0" name="SystemModstamp" nillable="false" type="xsd:dateTime">
                                            <xsd:annotation>
                                                <xsd:documentation>System Modstamp</xsd:documentation>
                                            </xsd:annotation>
                                        </xsd:element>
                                        <xsd:element maxOccurs="1" minOccurs="0" name="OrderItemNumber" nillable="false">
                                            <xsd:annotation>
                                                <xsd:documentation>Order Product Number</xsd:documentation>
                                            </xsd:annotation>
                                            <xsd:simpleType>
                                                <xsd:restriction base="xsd:string">
                                                    <xsd:minLength value="0"/>
                                                    <xsd:maxLength value="30"/>
                                                </xsd:restriction>
                                            </xsd:simpleType>
                                        </xsd:element>
                                        <xsd:element maxOccurs="1" minOccurs="0" name="SAP_Order_Line_Key__c" nillable="true">
                                            <xsd:annotation>
                                                <xsd:documentation>SAP Order Line Reference</xsd:documentation>
                                            </xsd:annotation>
                                            <xsd:simpleType>
                                                <xsd:restriction base="xsd:string">
                                                    <xsd:minLength value="0"/>
                                                    <xsd:maxLength value="40"/>
                                                </xsd:restriction>
                                            </xsd:simpleType>
                                        </xsd:element>
                                        <xsd:element maxOccurs="1" minOccurs="0" name="SAP_Reference__c" nillable="true">
                                            <xsd:annotation>
                                                <xsd:documentation>SAP_Reference</xsd:documentation>
                                            </xsd:annotation>
                                            <xsd:simpleType>
                                                <xsd:restriction base="xsd:string">
                                                    <xsd:minLength value="0"/>
                                                    <xsd:maxLength value="50"/>
                                                </xsd:restriction>
                                            </xsd:simpleType>
                                        </xsd:element>
                                        <xsd:element maxOccurs="1" minOccurs="0" name="SAP_OrderItem_Ref__c" nillable="true">
                                            <xsd:annotation>
                                                <xsd:documentation>SAP Order Item Reference</xsd:documentation>
                                            </xsd:annotation>
                                            <xsd:simpleType>
                                                <xsd:restriction base="xsd:string">
                                                    <xsd:minLength value="0"/>
                                                    <xsd:maxLength value="50"/>
                                                </xsd:restriction>
                                            </xsd:simpleType>
                                        </xsd:element>
                                        <xsd:element maxOccurs="1" minOccurs="0" name="Product2" type="Product2Ref"/>
                                        <xsd:element maxOccurs="1" minOccurs="0" name="Order" type="OrderRef"/>
                                        <xsd:element maxOccurs="1" minOccurs="0" name="PricebookEntry" type="PricebookEntryRef"/>
                                        <xsd:element maxOccurs="1" minOccurs="0" name="OriginalOrderItem" type="OriginalOrderItemRef"/>
                                    </xsd:sequence>
                                </xsd:complexType>
                            </xsd:element>
                        </xsd:sequence>
                    </xsd:complexType>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:simpleType name="ID">
        <xsd:restriction base="xsd:string">
            <xsd:pattern value="[a-zA-Z0-9]{18}"/>
            <xsd:pattern value="[a-zA-Z0-9]{15}"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:complexType xmlns="http://www.w3.org/2001/XMLSchema" name="Product2Ref">
        <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="0" name="Id" type="xsd:anyType"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="Name" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="ProductCode" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="Description" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="IsActive" type="xsd:boolean"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="CreatedDate" type="xsd:dateTime"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="CreatedById" type="xsd:anyType"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="LastModifiedDate" type="xsd:dateTime"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="LastModifiedById" type="xsd:anyType"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="SystemModstamp" type="xsd:dateTime"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="Family" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="CurrencyIsoCode" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="IsDeleted" type="xsd:boolean"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="LastViewedDate" type="xsd:dateTime"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="LastReferencedDate" type="xsd:dateTime"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="SAP_Material_Ref__c" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="S4HANA_Ref_Num__c" type="xsd:string"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType xmlns="http://www.w3.org/2001/XMLSchema" name="OrderRef">
        <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="0" name="Id" type="xsd:anyType"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="OwnerId" type="xsd:anyType"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="ContractId" type="xsd:anyType"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="AccountId" type="xsd:anyType"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="Pricebook2Id" type="xsd:anyType"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="OriginalOrderId" type="xsd:anyType"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="EffectiveDate" type="xsd:anyType"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="EndDate" type="xsd:anyType"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="IsReductionOrder" type="xsd:boolean"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="Status" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="Description" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="CustomerAuthorizedById" type="xsd:anyType"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="CustomerAuthorizedDate" type="xsd:anyType"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="CompanyAuthorizedById" type="xsd:anyType"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="CompanyAuthorizedDate" type="xsd:anyType"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="Type" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="BillingStreet" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="BillingCity" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="BillingState" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="BillingPostalCode" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="BillingCountry" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="BillingLatitude" type="xsd:anyType"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="BillingLongitude" type="xsd:anyType"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="BillingGeocodeAccuracy" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="BillingAddress" type="xsd:anyType"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="ShippingStreet" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="ShippingCity" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="ShippingState" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="ShippingPostalCode" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="ShippingCountry" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="ShippingLatitude" type="xsd:anyType"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="ShippingLongitude" type="xsd:anyType"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="ShippingGeocodeAccuracy" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="ShippingAddress" type="xsd:anyType"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="Name" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="PoDate" type="xsd:anyType"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="PoNumber" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="OrderReferenceNumber" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="BillToContactId" type="xsd:anyType"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="ShipToContactId" type="xsd:anyType"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="ActivatedDate" type="xsd:dateTime"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="ActivatedById" type="xsd:anyType"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="StatusCode" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="CurrencyIsoCode" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="OrderNumber" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="TotalAmount" type="xsd:anyType"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="CreatedDate" type="xsd:dateTime"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="CreatedById" type="xsd:anyType"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="LastModifiedDate" type="xsd:dateTime"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="LastModifiedById" type="xsd:anyType"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="IsDeleted" type="xsd:boolean"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="SystemModstamp" type="xsd:dateTime"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="LastViewedDate" type="xsd:dateTime"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="LastReferencedDate" type="xsd:dateTime"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="Vending_Machine_Id__c" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="Vending_Machine_Manufacturer__c" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="SNOW_Reference_Number__c" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="SAP_SalesOrder_Ref__c" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="SAP_Reference__c" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="Released__c" type="xsd:boolean"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType xmlns="http://www.w3.org/2001/XMLSchema" name="PricebookEntryRef">
        <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="0" name="Id" type="xsd:anyType"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="Name" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="Pricebook2Id" type="xsd:anyType"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="Product2Id" type="xsd:anyType"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="CurrencyIsoCode" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="UnitPrice" type="xsd:anyType"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="IsActive" type="xsd:boolean"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="UseStandardPrice" type="xsd:boolean"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="CreatedDate" type="xsd:dateTime"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="CreatedById" type="xsd:anyType"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="LastModifiedDate" type="xsd:dateTime"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="LastModifiedById" type="xsd:anyType"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="SystemModstamp" type="xsd:dateTime"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="ProductCode" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="IsDeleted" type="xsd:boolean"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="SAPPBEKey__c" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="SAP_PriceBookEntry_Ref__c" type="xsd:string"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType xmlns="http://www.w3.org/2001/XMLSchema" name="OriginalOrderItemRef">
        <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="0" name="Id" type="xsd:anyType"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="IsDeleted" type="xsd:boolean"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="OrderId" type="xsd:anyType"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="PricebookEntryId" type="xsd:anyType"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="OriginalOrderItemId" type="xsd:anyType"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="AvailableQuantity" type="xsd:anyType"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="Quantity" type="xsd:anyType"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="CurrencyIsoCode" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="UnitPrice" type="xsd:anyType"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="ListPrice" type="xsd:anyType"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="TotalPrice" type="xsd:anyType"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="ServiceDate" type="xsd:anyType"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="EndDate" type="xsd:anyType"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="Description" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="CreatedDate" type="xsd:dateTime"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="CreatedById" type="xsd:anyType"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="LastModifiedDate" type="xsd:dateTime"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="LastModifiedById" type="xsd:anyType"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="SystemModstamp" type="xsd:dateTime"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="OrderItemNumber" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="SAP_Order_Line_Key__c" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="SAP_Reference__c" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="SAP_OrderItem_Ref__c" type="xsd:string"/>
        </xsd:sequence>
    </xsd:complexType>
</xsd:schema>
