Resources/schemas/Xsd/SAP_Entitlement_Management_Integration_with_SAP_S-4HANA - Outbound_Interface_Generation_Response_v2.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="Outbound_Interface_Generation_Response_v2">
        <xs:complexType>
            <xs:sequence>
                <xs:element type="xs:short" name="status" maxOccurs="1" minOccurs="1"/>
                <xs:element type="xs:string" name="type" maxOccurs="1" minOccurs="1"/>
                <xs:element type="xs:string" name="message" maxOccurs="1" minOccurs="1"/>
                <xs:element name="data" maxOccurs="1" minOccurs="1">
                    <xs:complexType>
                        <xs:choice maxOccurs="unbounded" minOccurs="0">
                            <xs:element name="sourceDocumentID" type="xs:string" maxOccurs="1" minOccurs="0"/>
                            <xs:element name="sourceSystem" type="xs:string" maxOccurs="1" minOccurs="0"/>
                            <xs:element name="masterDataCreation">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="customers" maxOccurs="unbounded" minOccurs="0">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name="success">
                                                        <xs:complexType>
                                                            <xs:sequence>
                                                                <xs:element name="customerID" type="xs:string" maxOccurs="1" minOccurs="0"/>
                                                                <xs:element name="sourceSystem" type="xs:date" maxOccurs="1" minOccurs="0"/>
                                                            </xs:sequence>
                                                        </xs:complexType>
                                                    </xs:element>
                                                    <xs:element name="failure">
                                                        <xs:complexType>
                                                            <xs:sequence>
                                                                <xs:element name="customerID" type="xs:string" maxOccurs="1" minOccurs="0"/>
                                                                <xs:element name="sourceSystem" type="xs:date" maxOccurs="1" minOccurs="0"/>
                                                                <xs:element name="innerErrors" maxOccurs="unbounded" minOccurs="0">
                                                                    <xs:complexType>
                                                                        <xs:sequence>
                                                                            <xs:element type="xs:string" name="field" maxOccurs="1" minOccurs="1"/>
                                                                            <xs:element type="xs:string" name="message" maxOccurs="1" minOccurs="1"/>
                                                                        </xs:sequence>
                                                                    </xs:complexType>
                                                                </xs:element>
                                                            </xs:sequence>
                                                        </xs:complexType>
                                                    </xs:element>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element name="offerings" maxOccurs="unbounded" minOccurs="0">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name="success">
                                                        <xs:complexType>
                                                            <xs:sequence>
                                                                <xs:element name="offeringID" type="xs:string" maxOccurs="1" minOccurs="0"/>
                                                                <xs:element name="sourceSystem" type="xs:date" maxOccurs="1" minOccurs="0"/>
                                                            </xs:sequence>
                                                        </xs:complexType>
                                                    </xs:element>
                                                    <xs:element name="failure">
                                                        <xs:complexType>
                                                            <xs:sequence>
                                                                <xs:element name="offeringID" type="xs:string" maxOccurs="1" minOccurs="0"/>
                                                                <xs:element name="sourceSystem" type="xs:date" maxOccurs="1" minOccurs="0"/>
                                                                <xs:element name="innerErrors" maxOccurs="unbounded" minOccurs="0">
                                                                    <xs:complexType>
                                                                        <xs:sequence>
                                                                            <xs:element type="xs:string" name="field" maxOccurs="1" minOccurs="1"/>
                                                                            <xs:element type="xs:string" name="message" maxOccurs="1" minOccurs="1"/>
                                                                        </xs:sequence>
                                                                    </xs:complexType>
                                                                </xs:element>
                                                            </xs:sequence>
                                                        </xs:complexType>
                                                    </xs:element>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element name="contactPersons" maxOccurs="unbounded" minOccurs="0">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name="success">
                                                        <xs:complexType>
                                                            <xs:sequence>
                                                                <xs:element name="guid" type="xs:string" maxOccurs="1" minOccurs="0"/>
                                                                <xs:element name="internalID" type="xs:long" maxOccurs="1" minOccurs="0"/>
                                                                <xs:element name="externalID" type="xs:string" maxOccurs="1" minOccurs="0"/>
                                                                <xs:element name="sourceSystem" type="xs:date" maxOccurs="1" minOccurs="0"/>
                                                            </xs:sequence>
                                                        </xs:complexType>
                                                    </xs:element>
                                                    <xs:element name="failure">
                                                        <xs:complexType>
                                                            <xs:sequence>
                                                                <xs:element name="guid" type="xs:string" maxOccurs="1" minOccurs="0"/>
                                                                <xs:element name="internalID" type="xs:long" maxOccurs="1" minOccurs="0"/>
                                                                <xs:element name="externalID" type="xs:string" maxOccurs="1" minOccurs="0"/>
                                                                <xs:element name="sourceSystem" type="xs:date" maxOccurs="1" minOccurs="0"/>
                                                                <xs:element name="innerErrors" maxOccurs="unbounded" minOccurs="0">
                                                                    <xs:complexType>
                                                                        <xs:sequence>
                                                                            <xs:element type="xs:string" name="field" maxOccurs="1" minOccurs="1"/>
                                                                            <xs:element type="xs:string" name="message" maxOccurs="1" minOccurs="1"/>
                                                                        </xs:sequence>
                                                                    </xs:complexType>
                                                                </xs:element>
                                                            </xs:sequence>
                                                        </xs:complexType>
                                                    </xs:element>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="failure">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="innerErrors" maxOccurs="unbounded" minOccurs="0">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element type="xs:string" name="field" maxOccurs="1" minOccurs="1"/>
                                                    <xs:element type="xs:string" name="message" maxOccurs="1" minOccurs="1"/>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="success">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="EntitlementGuid" type="xs:string" maxOccurs="1" minOccurs="0"/>
                                        <xs:element name="CreatedAt" type="xs:date" maxOccurs="1" minOccurs="0"/>
                                        <xs:element name="CreatedBy" type="xs:string" maxOccurs="1" minOccurs="0"/>
                                        <xs:element name="CreatedByID" type="xs:string" maxOccurs="1" minOccurs="0"/>
                                        <xs:element name="LastChangedAt" type="xs:date" maxOccurs="1" minOccurs="0"/>
                                        <xs:element name="LastChangedBy" type="xs:string" maxOccurs="1" minOccurs="0"/>
                                        <xs:element name="LastChangedByID" type="xs:string" maxOccurs="1" minOccurs="0"/>
                                        <xs:element name="EntitlementNo" type="xs:decimal" maxOccurs="1" minOccurs="0"/>
                                        <xs:element name="Quantity" type="xs:integer" maxOccurs="1" minOccurs="0"/>
                                        <xs:element name="Uom" type="xs:string" maxOccurs="1" minOccurs="0"/>
                                        <xs:element name="ValidFrom" type="xs:date" maxOccurs="1" minOccurs="0"/>
                                        <xs:element name="ValidTo" type="xs:date" maxOccurs="1" minOccurs="0"/>
                                        <xs:element name="EMS_TimeZone" type="xs:string" maxOccurs="1" minOccurs="0"/>
                                        <xs:element name="StatusCode" type="xs:string" maxOccurs="1" minOccurs="0"/>
                                        <xs:element name="StatusName" type="xs:string" maxOccurs="1" minOccurs="0"/>
                                        <xs:element name="CustomerID" type="xs:string" maxOccurs="1" minOccurs="0"/>
                                        <xs:element name="CustomerName" type="xs:string" maxOccurs="1" minOccurs="0"/>
                                        <xs:element name="DistributorID" type="xs:string" maxOccurs="1" minOccurs="0"/>
                                        <xs:element name="DistributorName" type="xs:string" maxOccurs="1" minOccurs="0"/>
                                        <xs:element name="ThirdPartyID" type="xs:string" maxOccurs="1" minOccurs="0"/>
                                        <xs:element name="ThirdPartyName" type="xs:string" maxOccurs="1" minOccurs="0"/>
                                        <xs:element name="SourceSystem" type="xs:string" maxOccurs="1" minOccurs="0"/>
                                        <xs:element name="CustomerSystem" type="xs:string" maxOccurs="1" minOccurs="0"/>
                                        <xs:element name="OfferingSystem" type="xs:string" maxOccurs="1" minOccurs="0"/>
                                        <xs:element name="LatestRefDocType" type="xs:string" maxOccurs="1" minOccurs="0"/>
                                        <xs:element name="LatestRefDocNo" type="xs:string" maxOccurs="1" minOccurs="0"/>
                                        <xs:element name="LatestRefItemNo" type="xs:string" maxOccurs="1" minOccurs="0"/>
                                        <xs:element name="GenerationMethod" type="xs:string" maxOccurs="1" minOccurs="0"/>
                                        <xs:element name="FolderCode" type="xs:string" maxOccurs="1" minOccurs="0"/>
                                        <xs:element name="FolderName" type="xs:string" maxOccurs="1" minOccurs="0"/>
                                        <xs:element name="TheRight" type="xs:string" maxOccurs="1" minOccurs="0"/>
                                        <xs:element name="DistributionChannel" type="xs:string" maxOccurs="1" minOccurs="0"/>
                                        <xs:element name="Geolocation" type="xs:string" maxOccurs="1" minOccurs="0"/>
                                        <xs:element name="BusinessCategory" type="xs:string" maxOccurs="1" minOccurs="0"/>
                                        <xs:element name="LegacyTrancDocNo" type="xs:string" maxOccurs="1" minOccurs="0"/>
                                        <xs:element name="OfferingID" type="xs:string" maxOccurs="1" minOccurs="0"/>
                                        <xs:element name="OfferingName" type="xs:string" maxOccurs="1" minOccurs="0"/>
                                        <xs:element name="EntitlementModelCode" type="xs:string" maxOccurs="1" minOccurs="0"/>
                                        <xs:element name="EntitlementModelName" type="xs:string" maxOccurs="1" minOccurs="0"/>
                                        <xs:element name="EntitlementTypeCode" type="xs:string" maxOccurs="1" minOccurs="0"/>
                                        <xs:element name="EntitlementTypeName" type="xs:string" maxOccurs="1" minOccurs="0"/>
                                        <xs:element name="EMS_ContactPerson" maxOccurs="1" minOccurs="0">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element type="xs:integer" name="InternalID"/>
                                                    <xs:element type="xs:string" name="EntitlementFunction"/>
                                                    <xs:element type="xs:string" name="SourceSystem"/>
                                                    <xs:element type="xs:string" name="ExternalID"/>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="warning">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="messages" maxOccurs="unbounded" minOccurs="0">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element type="xs:string" name="message" maxOccurs="1" minOccurs="1"/>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                        </xs:choice>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>
