Resources/schemas/Xsd/SAP_SFTP_Employee_Data_with_PGP_Encryption-Decryption_to_SAP_HANA - EmpData.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema
    xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="root">
        <xs:complexType>
            <xs:sequence>
                <xs:element maxOccurs="unbounded" name="EmpDetails">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="PersonnelNo" type="xs:integer" />
                            <xs:element name="FirstName" type="xs:string" />
                            <xs:element name="LastName" type="xs:string" />
                            <xs:element name="PositionCode" type="xs:integer" />
                            <xs:element name="DLNumber" type="xs:string" />
                            <xs:element name="SUserID" type="xs:string" />
                            <xs:element name="EmailID" type="xs:string" />
                            <xs:element name="Gender" type="xs:string" />
                            <xs:element name="SIN" type="xs:integer" />
                            <xs:element name="SeniorityDate" type="xs:string" />
                            <xs:element name="EmpHouseNo" type="xs:string" />
                            <xs:element name="EmpCity" type="xs:string" />
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>