Resources/schemas/Xsd/SAP_Complaint_Handling_Integration_For_Customer_Complaints - LeftSidePayload.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="A_CreditMemoRequestItem">
    <xs:complexType>
        <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="1" name="A_CreditMemoRequestItemType">
                <xs:complexType>
                    <xs:sequence>
                      <xs:element name="CreditMemoRequest" type="xs:unsignedInt" />
                      <xs:element name="CreditMemoRequestItem" type="xs:unsignedByte" />
                      <xs:element name="HigherLevelItem" type="xs:unsignedByte" />
                      <xs:element name="CreditMemoRequestItemCategory" type="xs:string" />
                      <xs:element name="CreditMemoRequestItemText" type="xs:string" />
                      <xs:element name="PurchaseOrderByCustomer" type="xs:string" />
                      <xs:element name="Material" type="xs:string" />
                      <xs:element name="MaterialByCustomer" />
                      <xs:element name="PricingDate" type="xs:dateTime" />
                      <xs:element name="RequestedQuantity" type="xs:unsignedByte" />
                      <xs:element name="RequestedQuantityUnit" type="xs:string" />
                      <xs:element name="RequestedQuantitySAPUnit" type="xs:string" />
                      <xs:element name="RequestedQuantityISOUnit" type="xs:string" />
                      <xs:element name="ItemGrossWeight" type="xs:decimal" />
                      <xs:element name="ItemNetWeight" type="xs:decimal" />
                      <xs:element name="ItemWeightUnit" type="xs:string" />
                      <xs:element name="ItemWeightSAPUnit" type="xs:string" />
                      <xs:element name="ItemWeightISOUnit" type="xs:string" />
                      <xs:element name="ItemVolume" type="xs:decimal" />
                      <xs:element name="ItemVolumeUnit" type="xs:string" />
                      <xs:element name="ItemVolumeSAPUnit" type="xs:string" />
                      <xs:element name="ItemVolumeISOUnit" type="xs:string" />
                      <xs:element name="TransactionCurrency" type="xs:string" />
                      <xs:element name="NetAmount" type="xs:decimal" />
                      <xs:element name="MaterialGroup" type="xs:unsignedByte" />
                      <xs:element name="MaterialPricingGroup" />
                      <xs:element name="ProductTaxClassification1" type="xs:unsignedByte" />
                      <xs:element name="ProductTaxClassification2" type="xs:unsignedByte" />
                      <xs:element name="ProductTaxClassification3" />
                      <xs:element name="ProductTaxClassification4" />
                      <xs:element name="ProductTaxClassification5" />
                      <xs:element name="ProductTaxClassification6" />
                      <xs:element name="ProductTaxClassification7" />
                      <xs:element name="ProductTaxClassification8" />
                      <xs:element name="ProductTaxClassification9" />
                      <xs:element name="MatlAccountAssignmentGroup" />
                      <xs:element name="Batch" />
                      <xs:element name="Plant" type="xs:unsignedByte" />
                      <xs:element name="IncotermsClassification" type="xs:string" />
                      <xs:element name="IncotermsTransferLocation" type="xs:string" />
                      <xs:element name="IncotermsLocation1" type="xs:string" />
                      <xs:element name="IncotermsLocation2" />
                      <xs:element name="CustomerPaymentTerms" type="xs:unsignedByte" />
                      <xs:element name="ItemBillingBlockReason" />
                      <xs:element name="SalesDocumentRjcnReason" />
                      <xs:element name="WBSElement" />
                      <xs:element name="ProfitCenter" type="xs:string" />
                      <xs:element name="ReferenceSDDocument" />
                      <xs:element name="ReferenceSDDocumentItem" type="xs:unsignedByte" />
                      <xs:element name="SDProcessStatus" type="xs:string" />
                      <xs:element name="OrderRelatedBillingStatus" type="xs:string" />
                      <xs:element name="ServicesRenderedDate"/>
                      <xs:element name="ProductSeasonYear" />
                      <xs:element name="ProductSeason" />
                      <xs:element name="ProductCollection" />
                      <xs:element name="ProductTheme" />
                      <xs:element name="SeasonCompletenessStatus" />
                      <xs:element name="FashionCancelDate"/>
                      <xs:element name="ProductCharacteristic1" />
                      <xs:element name="ProductCharacteristic2" />
                      <xs:element name="ProductCharacteristic3" />
                      <xs:element name="ShippingGroupNumber" />
                      <xs:element name="ShippingGroupRule" />
                      <xs:element name="CrossPlantConfigurableProduct" />
                      <xs:element name="ProductCategory" />
                      <xs:element name="RequirementSegment" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>