Resources/schemas/Xsd/SAP_S-4HANA_Agreements_and_Promotions_Mapping_with_Pricefx - batch-response.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- Created with Liquid Technologies Online Tools 1.0 (https://www.liquid-technologies.com) -->
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Message">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" name="batch">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="code" type="xs:string" />
              <xs:element name="message" type="xs:string" />
              <xs:element name="deleted" type="xs:boolean" />
              <xs:element name="conditionRecord">
                <xs:complexType>
                  <xs:attribute name="sku" type="xs:string" use="required" />
                  <xs:attribute name="conditionRecord" type="xs:string" use="required" />
                  <xs:attribute type="xs:string" name="pricelistId" use="required"/>
                  <xs:attribute type="xs:string" name="pricefxId" use="required"/>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>