Resources/schemas/Xsd/SAP_S-4HANA_Integration_with_SAP_Customer_Data_Platform - output.xsd

 <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="feed">
        <xs:complexType>
            <xs:sequence>
                <xs:element type="xs:string" name="id">
                    <xs:complexType>
                        <xs:simpleContent>
                            <xs:extension></xs:extension>
                        </xs:simpleContent>
                    </xs:complexType>
                </xs:element>
                <xs:element name="title">
                    <xs:complexType>
                        <xs:simpleContent>
                            <xs:extension base="xs:string">
                                <xs:attribute name="type" type="xs:string"/>
                            </xs:extension>
                        </xs:simpleContent>
                    </xs:complexType>
                </xs:element>
                <xs:element type="xs:string" name="updated">
                    <xs:complexType>
                        <xs:simpleContent>
                            <xs:extension></xs:extension>
                        </xs:simpleContent>
                    </xs:complexType>
                </xs:element>
                <xs:element name="author">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element type="xs:string" name="name"/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="link">
                    <xs:complexType>
                        <xs:sequence></xs:sequence>
                        <xs:attribute name="href" type="xs:string"/>
                        <xs:attribute name="rel" type="xs:string"/>
                        <xs:attribute name="title" type="xs:string"/>
                    </xs:complexType>
                </xs:element>
                <xs:element maxOccurs="unbounded" name="entry">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element type="xs:string" name="id">
                                <xs:complexType>
                                    <xs:simpleContent>
                                        <xs:extension></xs:extension>
                                    </xs:simpleContent>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="title">
                                <xs:complexType>
                                    <xs:simpleContent>
                                        <xs:extension base="xs:string">
                                            <xs:attribute name="type" type="xs:string"/>
                                        </xs:extension>
                                    </xs:simpleContent>
                                </xs:complexType>
                            </xs:element>
                            <xs:element type="xs:string" name="updated">
                                <xs:complexType>
                                    <xs:simpleContent>
                                        <xs:extension></xs:extension>
                                    </xs:simpleContent>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="category">
                                <xs:complexType>
                                    <xs:sequence></xs:sequence>
                                    <xs:attribute name="term" type="xs:string"/>
                                    <xs:attribute name="scheme" type="xs:string"/>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="link">
                                <xs:complexType>
                                    <xs:sequence></xs:sequence>
                                    <xs:attribute name="href" type="xs:string"/>
                                    <xs:attribute name="rel" type="xs:string"/>
                                    <xs:attribute name="title" type="xs:string"/>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="content">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="m:properties">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element type="xs:integer" name="d:DeliveryDocument"/>
                                                    <xs:element type="xs:string" name="d:PartnerFunction"/>
                                                    <xs:element type="xs:integer" name="d:DeliveryVersion"/>
                                                    <xs:element type="xs:string" name="d:AdditionalStreetPrefixName"/>
                                                    <xs:element type="xs:integer" name="d:AddressID"/>
                                                    <xs:element type="xs:string" name="d:AdditionalStreetSuffixName"/>
                                                    <xs:element type="xs:string" name="d:AddressTimeZone"/>
                                                    <xs:element type="xs:string" name="d:Building"/>
                                                    <xs:element type="xs:string" name="d:BusinessPartnerName1"/>
                                                    <xs:element type="xs:string" name="d:BusinessPartnerName2"/>
                                                    <xs:element type="xs:string" name="d:BusinessPartnerName3"/>
                                                    <xs:element type="xs:string" name="d:BusinessPartnerName4"/>
                                                    <xs:element type="xs:string" name="d:PersonFamilyName"/>
                                                    <xs:element type="xs:string" name="d:PersonGivenName"/>
                                                    <xs:element type="xs:string" name="d:CareOfName"/>
                                                    <xs:element type="xs:string" name="d:CityName"/>
                                                    <xs:element type="xs:string" name="d:CompanyPostalCode"/>
                                                    <xs:element type="xs:string" name="d:CorrespondenceLanguage"/>
                                                    <xs:element type="xs:string" name="d:Country"/>
                                                    <xs:element type="xs:string" name="d:County"/>
                                                    <xs:element type="xs:string" name="d:DeliveryServiceNumber"/>
                                                    <xs:element type="xs:string" name="d:DeliveryServiceTypeCode"/>
                                                    <xs:element type="xs:string" name="d:District"/>
                                                    <xs:element type="xs:string" name="d:EmailAddress">
                                                        <xs:complexType>
                                                            <xs:simpleContent>
                                                                <xs:extension></xs:extension>
                                                            </xs:simpleContent>
                                                        </xs:complexType>
                                                    </xs:element>
                                                    <xs:element type="xs:string" name="d:FaxNumber"/>
                                                    <xs:element type="xs:string" name="d:FaxNumberExtension"/>
                                                    <xs:element type="xs:string" name="d:Floor"/>
                                                    <xs:element type="xs:integer" name="d:FormOfAddress"/>
                                                    <xs:element type="xs:string" name="d:HomeCityName"/>
                                                    <xs:element type="xs:integer" name="d:HouseNumber"/>
                                                    <xs:element type="xs:string" name="d:HouseNumberSupplementText"/>
                                                    <xs:element type="xs:string" name="d:MobilePhoneNumber"/>
                                                    <xs:element type="xs:string" name="d:PhoneNumber"/>
                                                    <xs:element type="xs:string" name="d:PhoneNumberExtension"/>
                                                    <xs:element type="xs:string" name="d:POBox"/>
                                                    <xs:element type="xs:string" name="d:POBoxDeviatingCityName"/>
                                                    <xs:element type="xs:string" name="d:POBoxDeviatingCountry"/>
                                                    <xs:element type="xs:string" name="d:POBoxDeviatingRegion"/>
                                                    <xs:element type="xs:boolean" name="d:POBoxIsWithoutNumber"/>
                                                    <xs:element type="xs:string" name="d:POBoxLobbyName"/>
                                                    <xs:element type="xs:string" name="d:POBoxPostalCode"/>
                                                    <xs:element type="xs:string" name="d:PostalCode"/>
                                                    <xs:element type="xs:string" name="d:PrfrdCommMediumType"/>
                                                    <xs:element type="xs:string" name="d:Region"/>
                                                    <xs:element type="xs:string" name="d:RoomNumber"/>
                                                    <xs:element type="xs:string" name="d:StreetName"/>
                                                    <xs:element type="xs:string" name="d:StreetPrefixName"/>
                                                    <xs:element type="xs:string" name="d:StreetSuffixName"/>
                                                    <xs:element type="xs:string" name="d:TaxJurisdiction"/>
                                                    <xs:element type="xs:integer" name="d:TransportZone"/>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                    <xs:attribute name="type" type="xs:string"/>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                        <xs:attribute name="m:etag" type="xs:string"/>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
            <xs:attribute name="xml:base" type="xs:string"/>
        </xs:complexType>
    </xs:element>
</xs:schema>