Resources/schemas/Xsd/SAP_SuccessFactors_Workforce_Availability_Integration_with_SAP_S-4HANA_OnPremise-Private_Cloud - WorkforceAvailabilityEntityPOST.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="batchParts">
        <xs:complexType>
            <xs:sequence>
                <xs:element nillable="false" minOccurs="1" maxOccurs="unbounded" name="batchChangeSet">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element nillable="false" minOccurs="1" maxOccurs="unbounded" name="batchChangeSetPart">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element type="xs:string" nillable="false" minOccurs="1" maxOccurs="1" name="method" xmlns=""/>
                                        <xs:element type="xs:string" nillable="true" minOccurs="0" maxOccurs="1" name="uri" xmlns=""/>
                                        <xs:element nillable="true" minOccurs="0" maxOccurs="1" name="headers">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element nillable="true" minOccurs="0" maxOccurs="unbounded" name="header">
                                                        <xs:complexType>
                                                            <xs:sequence>
                                                                <xs:element type="xs:string" nillable="false" minOccurs="1" maxOccurs="1" name="headerName" xmlns=""/>
                                                                <xs:element type="xs:string" nillable="false" minOccurs="1" maxOccurs="1" name="headerValue" xmlns=""/>
                                                            </xs:sequence>
                                                        </xs:complexType>
                                                    </xs:element>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element nillable="false" minOccurs="1" maxOccurs="1" name="WorkforceAvailability">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element minOccurs="1" maxOccurs="unbounded" name="WorkforceAvailability_Type">
                                                        <xs:complexType>
                                                            <xs:sequence>
                                                                <xs:element nillable="false" maxOccurs="1" name="WorkAssignment">
                                                                    <xs:simpleType>
                                                                        <xs:restriction base="xs:string" xmlns="">
                                                                            <xs:maxLength value="8"/>
                                                                        </xs:restriction>
                                                                    </xs:simpleType>
                                                                </xs:element>
                                                                <xs:element type="xs:dateTime" nillable="false" maxOccurs="1" name="WorkforceAvailabilityDate" xmlns=""/>
                                                                <xs:element nillable="false" maxOccurs="1" name="ExternalWorkAssignmentID">
                                                                    <xs:simpleType>
                                                                        <xs:restriction base="xs:string" xmlns="">
                                                                            <xs:maxLength value="100"/>
                                                                        </xs:restriction>
                                                                    </xs:simpleType>
                                                                </xs:element>
                                                                <xs:element nillable="true" minOccurs="0" maxOccurs="1" name="WorkforceAvailabilityID">
                                                                    <xs:simpleType>
                                                                        <xs:restriction base="xs:string" xmlns="">
                                                                            <xs:maxLength value="128"/>
                                                                        </xs:restriction>
                                                                    </xs:simpleType>
                                                                </xs:element>
                                                                <xs:element nillable="true" minOccurs="0" maxOccurs="1" name="WorkforcePersonID">
                                                                    <xs:simpleType>
                                                                        <xs:restriction base="xs:string" xmlns="">
                                                                            <xs:maxLength value="36"/>
                                                                        </xs:restriction>
                                                                    </xs:simpleType>
                                                                </xs:element>
                                                                <xs:element nillable="true" minOccurs="0" maxOccurs="1" name="WrkfrcAvailyRecordDataSource">
                                                                    <xs:simpleType>
                                                                        <xs:restriction base="xs:string" xmlns="">
                                                                            <xs:maxLength value="100"/>
                                                                        </xs:restriction>
                                                                    </xs:simpleType>
                                                                </xs:element>
                                                                <xs:element nillable="true" minOccurs="0" maxOccurs="1" name="NormalWorkingTimeVal">
                                                                    <xs:simpleType>
                                                                        <xs:restriction base="xs:string" xmlns="">
                                                                            <xs:maxLength value="6"/>
                                                                        </xs:restriction>
                                                                    </xs:simpleType>
                                                                </xs:element>
                                                                <xs:element nillable="true" minOccurs="0" maxOccurs="1" name="ScheduledWorkingTimeVal">
                                                                    <xs:simpleType>
                                                                        <xs:restriction base="xs:string" xmlns="">
                                                                            <xs:maxLength value="6"/>
                                                                        </xs:restriction>
                                                                    </xs:simpleType>
                                                                </xs:element>
                                                                <xs:element nillable="true" minOccurs="0" maxOccurs="1" name="WorkingShiftCode">
                                                                    <xs:simpleType>
                                                                        <xs:restriction base="xs:string" xmlns="">
                                                                            <xs:maxLength value="128"/>
                                                                        </xs:restriction>
                                                                    </xs:simpleType>
                                                                </xs:element>
                                                                <xs:element nillable="true" minOccurs="0" maxOccurs="1" name="WrkfrcAvailyHolidayCode">
                                                                    <xs:simpleType>
                                                                        <xs:restriction base="xs:string" xmlns="">
                                                                            <xs:maxLength value="128"/>
                                                                        </xs:restriction>
                                                                    </xs:simpleType>
                                                                </xs:element>
                                                                <xs:element type="xs:boolean" nillable="true" minOccurs="0" maxOccurs="1" name="BlockingIndicator" xmlns=""/>
                                                                <xs:element nillable="true" minOccurs="0" maxOccurs="unbounded" name="to_Supplement">
                                                                    <xs:complexType>
                                                                        <xs:sequence>
                                                                            <xs:element minOccurs="0" maxOccurs="unbounded" name="WrkfrcAvailySupplement_Type">
                                                                                <xs:complexType>
                                                                                    <xs:sequence>
                                                                                        <xs:element nillable="false" maxOccurs="1" name="WorkAssignment">
                                                                                            <xs:simpleType>
                                                                                                <xs:restriction base="xs:string" xmlns="">
                                                                                                    <xs:maxLength value="8"/>
                                                                                                </xs:restriction>
                                                                                            </xs:simpleType>
                                                                                        </xs:element>
                                                                                        <xs:element type="xs:dateTime" nillable="false" maxOccurs="1" name="WorkforceAvailabilityDate" xmlns=""/>
                                                                                        <xs:element type="xs:int" nillable="false" maxOccurs="1" name="WrkfrcAvailySuplmntSqncNumber" xmlns=""/>
                                                                                        <xs:element nillable="false" maxOccurs="1" name="ExternalWorkAssignmentID">
                                                                                            <xs:simpleType>
                                                                                                <xs:restriction base="xs:string" xmlns="">
                                                                                                    <xs:maxLength value="100"/>
                                                                                                </xs:restriction>
                                                                                            </xs:simpleType>
                                                                                        </xs:element>
                                                                                        <xs:element nillable="true" minOccurs="0" maxOccurs="1" name="WrkfrcAvailySuplmntCategory">
                                                                                            <xs:simpleType>
                                                                                                <xs:restriction base="xs:string" xmlns="">
                                                                                                    <xs:maxLength value="1"/>
                                                                                                </xs:restriction>
                                                                                            </xs:simpleType>
                                                                                        </xs:element>
                                                                                        <xs:element type="xs:boolean" nillable="true" minOccurs="0" maxOccurs="1" name="WorkerIsApproachable" xmlns=""/>
                                                                                        <xs:element nillable="true" minOccurs="0" maxOccurs="1" name="WrkfrcAvailySupplementType">
                                                                                            <xs:simpleType>
                                                                                                <xs:restriction base="xs:string" xmlns="">
                                                                                                    <xs:maxLength value="128"/>
                                                                                                </xs:restriction>
                                                                                            </xs:simpleType>
                                                                                        </xs:element>
                                                                                        <xs:element type="xs:time" nillable="true" minOccurs="0" maxOccurs="1" name="WrkfrcAvailySuplmntStartTime" xmlns=""/>
                                                                                        <xs:element type="xs:time" nillable="true" minOccurs="0" maxOccurs="1" name="WrkfrcAvailySuplmntEndTime" xmlns=""/>
                                                                                        <xs:element nillable="true" minOccurs="0" maxOccurs="1" name="WrkfrcAvailySuplmntContrbnVal">
                                                                                            <xs:simpleType>
                                                                                                <xs:restriction base="xs:string" xmlns="">
                                                                                                    <xs:maxLength value="6"/>
                                                                                                </xs:restriction>
                                                                                            </xs:simpleType>
                                                                                        </xs:element>
                                                                                        <xs:element type="xs:boolean" nillable="true" minOccurs="0" maxOccurs="1" name="BlockingIndicator" xmlns=""/>
                                                                                    </xs:sequence>
                                                                                </xs:complexType>
                                                                            </xs:element>
                                                                        </xs:sequence>
                                                                    </xs:complexType>
                                                                </xs:element>
                                                                <xs:element nillable="true" minOccurs="0" maxOccurs="unbounded" name="to_TimeInterval">
                                                                    <xs:complexType>
                                                                        <xs:sequence>
                                                                            <xs:element minOccurs="0" maxOccurs="unbounded" name="WrkfrcAvailyInterval_Type">
                                                                                <xs:complexType>
                                                                                    <xs:sequence>
                                                                                        <xs:element nillable="false" maxOccurs="1" name="WorkAssignment">
                                                                                            <xs:simpleType>
                                                                                                <xs:restriction base="xs:string" xmlns="">
                                                                                                    <xs:maxLength value="8"/>
                                                                                                </xs:restriction>
                                                                                            </xs:simpleType>
                                                                                        </xs:element>
                                                                                        <xs:element type="xs:dateTime" nillable="false" maxOccurs="1" name="WorkforceAvailabilityDate" xmlns=""/>
                                                                                        <xs:element type="xs:int" nillable="false" maxOccurs="1" name="WrkfrcAvailyTmeIntvlSqncNumber" xmlns=""/>
                                                                                        <xs:element nillable="false" maxOccurs="1" name="ExternalWorkAssignmentID">
                                                                                            <xs:simpleType>
                                                                                                <xs:restriction base="xs:string" xmlns="">
                                                                                                    <xs:maxLength value="100"/>
                                                                                                </xs:restriction>
                                                                                            </xs:simpleType>
                                                                                        </xs:element>
                                                                                        <xs:element nillable="true" minOccurs="0" maxOccurs="1" name="WrkfrcAvailyTimeIntvlCategory">
                                                                                            <xs:simpleType>
                                                                                                <xs:restriction base="xs:string" xmlns="">
                                                                                                    <xs:maxLength value="1"/>
                                                                                                </xs:restriction>
                                                                                            </xs:simpleType>
                                                                                        </xs:element>
                                                                                        <xs:element type="xs:time" nillable="true" minOccurs="0" maxOccurs="1" name="WrkfrcAvailyTimeIntvlStartTime" xmlns=""/>
                                                                                        <xs:element type="xs:time" nillable="true" minOccurs="0" maxOccurs="1" name="WrkfrcAvailyTimeIntvlEndTime" xmlns=""/>
                                                                                        <xs:element nillable="true" minOccurs="0" maxOccurs="1" name="WrkfrcAvailyTmeIntvlContrbnVal">
                                                                                            <xs:simpleType>
                                                                                                <xs:restriction base="xs:string" xmlns="">
                                                                                                    <xs:maxLength value="6"/>
                                                                                                </xs:restriction>
                                                                                            </xs:simpleType>
                                                                                        </xs:element>
                                                                                        <xs:element type="xs:boolean" nillable="true" minOccurs="0" maxOccurs="1" name="WrkfrcAvailyIntvlIsOnNextDay" xmlns=""/>
                                                                                        <xs:element type="xs:boolean" nillable="true" minOccurs="0" maxOccurs="1" name="WrkfrcAvailyIntvlIsOnPrecdgDay" xmlns=""/>
                                                                                        <xs:element type="xs:boolean" nillable="true" minOccurs="0" maxOccurs="1" name="BlockingIndicator" xmlns=""/>
                                                                                    </xs:sequence>
                                                                                </xs:complexType>
                                                                            </xs:element>
                                                                        </xs:sequence>
                                                                    </xs:complexType>
                                                                </xs:element>
                                                                <xs:element minOccurs="0" maxOccurs="1" name="link">
                                                                    <xs:complexType>
                                                                        <xs:sequence>
                                                                            <xs:element nillable="true" minOccurs="0" maxOccurs="unbounded" name="to_Supplement">
                                                                                <xs:complexType>
                                                                                    <xs:sequence>
                                                                                        <xs:element minOccurs="0" maxOccurs="unbounded" name="WrkfrcAvailySupplement_Type">
                                                                                            <xs:complexType>
                                                                                                <xs:sequence>
                                                                                                    <xs:element type="xs:string" minOccurs="1" maxOccurs="1" name="WorkAssignment" xmlns=""/>
                                                                                                    <xs:element type="xs:dateTime" minOccurs="1" maxOccurs="1" name="WorkforceAvailabilityDate" xmlns=""/>
                                                                                                    <xs:element type="xs:int" minOccurs="1" maxOccurs="1" name="WrkfrcAvailySuplmntSqncNumber" xmlns=""/>
                                                                                                    <xs:element type="xs:string" minOccurs="1" maxOccurs="1" name="ExternalWorkAssignmentID" xmlns=""/>
                                                                                                </xs:sequence>
                                                                                            </xs:complexType>
                                                                                        </xs:element>
                                                                                    </xs:sequence>
                                                                                </xs:complexType>
                                                                            </xs:element>
                                                                            <xs:element nillable="true" minOccurs="0" maxOccurs="unbounded" name="to_TimeInterval">
                                                                                <xs:complexType>
                                                                                    <xs:sequence>
                                                                                        <xs:element minOccurs="0" maxOccurs="unbounded" name="WrkfrcAvailyInterval_Type">
                                                                                            <xs:complexType>
                                                                                                <xs:sequence>
                                                                                                    <xs:element type="xs:string" minOccurs="1" maxOccurs="1" name="WorkAssignment" xmlns=""/>
                                                                                                    <xs:element type="xs:dateTime" minOccurs="1" maxOccurs="1" name="WorkforceAvailabilityDate" xmlns=""/>
                                                                                                    <xs:element type="xs:int" minOccurs="1" maxOccurs="1" name="WrkfrcAvailyTmeIntvlSqncNumber" xmlns=""/>
                                                                                                    <xs:element type="xs:string" minOccurs="1" maxOccurs="1" name="ExternalWorkAssignmentID" xmlns=""/>
                                                                                                </xs:sequence>
                                                                                            </xs:complexType>
                                                                                        </xs:element>
                                                                                    </xs:sequence>
                                                                                </xs:complexType>
                                                                            </xs:element>
                                                                        </xs:sequence>
                                                                    </xs:complexType>
                                                                </xs:element>
                                                            </xs:sequence>
                                                        </xs:complexType>
                                                    </xs:element>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>
