Resources/schemas/Xsd/SAP_Commerce_Integration_with_SAP_CPQ_and_SAP_Subscription_Billing - rate_plan.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="qualified">
   <xs:element name="rateplans">
      <xs:complexType>
         <xs:sequence>
            <xs:element type="xs:string" name="configSetId" nillable="true" minOccurs="0" maxOccurs="1" />
            <xs:element type="xs:string" name="key" nillable="true" minOccurs="0" maxOccurs="1" />
            <xs:element name="value" minOccurs="0" maxOccurs="1">
               <xs:complexType>
                  <xs:sequence>
                     <xs:element name="metrics" minOccurs="0" maxOccurs="unbounded">
                        <xs:complexType>
                           <xs:sequence>
                              <xs:element type="xs:string" name="dataSource" minOccurs="0" maxOccurs="1" />
                              <xs:element name="description" nillable="true" minOccurs="0" maxOccurs="1">
                                 <xs:complexType>
                                    <xs:sequence>
                                       <xs:element type="xs:string" name="en" nillable="true" minOccurs="0" maxOccurs="1" />
                                    </xs:sequence>
                                 </xs:complexType>
                              </xs:element>
                              <xs:element type="xs:byte" name="factor" nillable="true" minOccurs="0" maxOccurs="1" />
                              <xs:element type="xs:string" name="id" nillable="false" minOccurs="1" maxOccurs="1" />
                              <xs:element name="label" nillable="true" minOccurs="0" maxOccurs="1">
                                 <xs:complexType>
                                    <xs:sequence>
                                       <xs:element type="xs:string" name="en" nillable="true" minOccurs="0" maxOccurs="1" />
                                    </xs:sequence>
                                 </xs:complexType>
                              </xs:element>
                              <xs:element type="xs:string" name="rating_type" nillable="false" minOccurs="0" maxOccurs="1" />
                              <xs:element type="xs:string" name="rounding_mode" nillable="true" minOccurs="0" maxOccurs="1" />
                              <xs:element type="xs:string" name="technicalResourceIdType" nillable="true" minOccurs="0" maxOccurs="1" />
                              <xs:element type="xs:string" name="unit" nillable="false" minOccurs="0" maxOccurs="1" />
                              <xs:element name="unit_description" nillable="true" minOccurs="0" maxOccurs="1">
                                 <xs:complexType>
                                    <xs:sequence>
                                       <xs:element type="xs:string" name="en" nillable="true" minOccurs="0" maxOccurs="1" />
                                    </xs:sequence>
                                 </xs:complexType>
                              </xs:element>
                           </xs:sequence>
                        </xs:complexType>
                     </xs:element>
                  </xs:sequence>
               </xs:complexType>
            </xs:element>
         </xs:sequence>
      </xs:complexType>
   </xs:element>
</xs:schema>