Resources/schemas/Xsd/SAP_Returnable_Packaging_Management_Integration_with_SAP_S-4HANA_-_Master_Data_Replication - BusinessPartner_RPM.xsd

<?xml version="1.0" encoding="UTF-8"?><xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="qualified">
  <xs:element name="businessPartner">
    <xs:complexType>
        <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="unbounded" name="replicationBusinessPartnerRequest">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" maxOccurs="1" name="businessPartnerName1" type="xs:string"/>
                        <xs:element minOccurs="0" maxOccurs="1" name="businessPartnerName2" type="xs:string"/>
                        <xs:element minOccurs="0" maxOccurs="1" name="businessPartnerNumber" type="xs:string"/>
                        <xs:element minOccurs="0" maxOccurs="1" name="businessPartnerType" type="xs:string"/>
                        <xs:element minOccurs="0" maxOccurs="1" name="language" type="xs:string"/>
                        <xs:element minOccurs="0" maxOccurs="1" name="customerCode" type="xs:string"/>
                        <xs:element minOccurs="0" maxOccurs="1" name="vendorCode" type="xs:string"/>
                        <xs:element minOccurs="0" maxOccurs="1" name="address" type="xs:string"/>
                        <xs:element minOccurs="0" maxOccurs="1" name="deleteIndicator" type="xs:boolean"/>
                        <xs:element minOccurs="0" maxOccurs="1" name="addressData">
                            <xs:complexType>
                                <xs:sequence>
                                    <xs:element minOccurs="0" maxOccurs="1" name="address" type="xs:string"/>
                                    <xs:element minOccurs="0" maxOccurs="1" name="addressLine1" type="xs:string"/>
                                    <xs:element minOccurs="0" maxOccurs="1" name="addressLine2" type="xs:string"/>
                                    <xs:element minOccurs="0" maxOccurs="1" name="addressLine3" type="xs:string"/>
                                    <xs:element minOccurs="0" maxOccurs="1" name="city" type="xs:string"/>
                                    <xs:element minOccurs="0" maxOccurs="1" name="countryKey_code" type="xs:string"/>
                                    <xs:element minOccurs="0" maxOccurs="1" name="email" type="xs:string"/>
                                    <xs:element minOccurs="0" maxOccurs="1" name="extension" type="xs:string"/>
                                    <xs:element minOccurs="0" maxOccurs="1" name="faxNumber" type="xs:string"/>
                                    <xs:element minOccurs="0" maxOccurs="1" name="houseNumber" type="xs:string"/>
                                    <xs:element minOccurs="0" maxOccurs="1" name="mobile" type="xs:string"/>
                                    <xs:element minOccurs="0" maxOccurs="1" name="poBox" type="xs:string"/>
                                    <xs:element minOccurs="0" maxOccurs="1" name="postalCode" type="xs:string"/>
                                    <xs:element minOccurs="0" maxOccurs="1" name="street" type="xs:string"/>
									<xs:element minOccurs="0" maxOccurs="1" name="telephone" type="xs:string"/>
                                    <xs:element minOccurs="0" maxOccurs="unbounded" name="phoneDetails">
										<xs:complexType>
											<xs:sequence>
												<xs:element minOccurs="0" maxOccurs="1" name="phoneNumber" type="xs:string"/>
												<xs:element minOccurs="0" maxOccurs="1" name="mobilePhoneIndicator" type="xs:boolean"/>
											</xs:sequence>
										</xs:complexType>
									</xs:element>
                                </xs:sequence>
                            </xs:complexType>
                        </xs:element>
            </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element minOccurs="0" maxOccurs="1" name="messageID"/>
            <xs:element minOccurs="0" maxOccurs="1" name="senderID"/>
        </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>