Resources/schemas/Xsd/SAP_Complaint_Handling_Integration_with_Master_Data_and_Business_Objects - RPO_ModifiedRequest1.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Root">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="returnOrders">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:short" name="plant_ID"/>
              <xs:element type="xs:byte" name="itemNumber"/>
              <xs:element type="xs:short" name="purchasingOrganization_ID"/>
              <xs:element type="xs:string" name="reason_code"/>
              <xs:element type="xs:string" name="returnPurchaseType"/>
              <xs:element type="xs:string" name="personResponsible_ID"/>
              <xs:element type="xs:float" name="quantity"/>
              <xs:element type="xs:short" name="company_ID"/>
              <xs:element type="xs:byte" name="purchasingGroup_code"/>
              <xs:element type="xs:string" name="unit"/>
              <xs:element type="xs:string" name="material_ID"/>
              <xs:element type="xs:string" name="supplier_ID"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="binaryRelationDataModel">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="object_a">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:int" name="object_key"/>
                    <xs:element type="xs:string" name="object_type"/>
                    <xs:element type="xs:string" name="log_sys"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="object_b">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:string" name="object_key"/>
                    <xs:element type="xs:string" name="object_type"/>
                    <xs:element type="xs:string" name="log_sys"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element type="xs:string" name="relation_type"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>