Resources/schemas/Xsd/SAP_S-4HANA_Cloud_Integration_with_Salesforce - SalesforceQuerySchema.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema
    xmlns:xs="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="qualified">
    <xs:element name="QueryResult" type="SRecordsType" />
    <xs:complexType name="BillingAddressType">
        <xs:sequence>
            <xs:element type="xs:string" name="city" />
            <xs:element type="xs:string" name="country" />
            <xs:element type="xs:string" name="postalCode" />
            <xs:element type="xs:string" name="state" />
            <xs:element type="xs:string" name="street" />
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ShippingAddressType">
        <xs:sequence>
            <xs:element type="xs:string" name="city" />
            <xs:element type="xs:string" name="country" />
            <xs:element type="xs:string" name="postalCode" />
            <xs:element type="xs:string" name="state" />
            <xs:element type="xs:string" name="street" />
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="AccountType">
        <xs:sequence>
            <xs:element type="xs:string" name="Id" />
            <xs:element type="xs:string" name="IsDeleted" />
            <xs:element type="xs:string" name="Name" />
            <xs:element type="xs:string" name="RecordTypeId" minOccurs="0" />
            <xs:element type="xs:string" name="Type" minOccurs="0" />
            <xs:element type="xs:string" name="BillingStreet" />
            <xs:element type="xs:string" name="BillingCity" />
            <xs:element type="xs:string" name="BillingState" />
            <xs:element type="xs:string" name="BillingPostalCode" />
            <xs:element type="xs:string" name="BillingCountry" />
            <xs:element type="xs:string" name="ShippingStreet" minOccurs="0" />
            <xs:element type="xs:string" name="ShippingCity" minOccurs="0" />
            <xs:element type="xs:string" name="ShippingState" minOccurs="0" />
            <xs:element type="xs:string" name="ShippingPostalCode" minOccurs="0" />
            <xs:element type="xs:string" name="ShippingCountry" minOccurs="0" />
            <xs:element type="xs:string" name="Phone" />
            <xs:element type="xs:string" name="Fax" minOccurs="0" />
            <xs:element type="xs:string" name="AccountNumber" minOccurs="0" />
            <xs:element type="xs:anyURI" name="Website" minOccurs="0" />
            <xs:element type="xs:string" name="PhotoUrl" />
            <xs:element type="xs:int" name="Sic" minOccurs="0" />
            <xs:element type="xs:string" name="Industry" minOccurs="0" />
            <xs:element type="xs:float" name="AnnualRevenue" minOccurs="0" />
            <xs:element type="xs:short" name="NumberOfEmployees" minOccurs="0" />
            <xs:element type="xs:string" name="Ownership" minOccurs="0" />
            <xs:element type="xs:string" name="TickerSymbol" minOccurs="0" />
            <xs:element type="xs:string" name="Rating" minOccurs="0" />
            <xs:element type="xs:string" name="Site" minOccurs="0" />
            <xs:element type="xs:string" name="CurrencyIsoCode" />
            <xs:element type="xs:string" name="OwnerId" />
            <xs:element type="xs:dateTime" name="CreatedDate" />
            <xs:element type="xs:string" name="CreatedById" />
            <xs:element type="xs:dateTime" name="LastModifiedDate" />
            <xs:element type="xs:string" name="LastModifiedById" />
            <xs:element type="xs:dateTime" name="SystemModstamp" />
            <xs:element type="xs:dateTime" name="LastViewedDate" minOccurs="0" />
            <xs:element type="xs:dateTime" name="LastReferencedDate" minOccurs="0" />
            <xs:element type="xs:string" name="CleanStatus" />
            <xs:element type="xs:string" name="SLA__c" minOccurs="0" />
            <xs:element type="xs:float" name="NumberofLocations__c" minOccurs="0" />
            <xs:element type="xs:string" name="UpsellOpportunity__c" minOccurs="0" />
            <xs:element type="xs:short" name="SLASerialNumber__c" minOccurs="0" />
            <xs:element type="xs:date" name="SLAExpirationDate__c" minOccurs="0" />
            <xs:element type="xs:int" name="SAP_BusinessPartner_Ref__c" />
            <xs:element type="BillingAddressType" name="BillingAddress" />
            <xs:element type="ShippingAddressType" name="ShippingAddress" minOccurs="0" />
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="OrderType">
        <xs:sequence>
            <xs:element type="xs:string" name="Id" />
            <xs:element type="xs:string" name="OwnerId" />
            <xs:element type="xs:string" name="AccountId" />
            <xs:element type="xs:string" name="Pricebook2Id" minOccurs="0" />
            <xs:element type="xs:string" name="OpportunityId" minOccurs="0" />
            <xs:element type="xs:date" name="EffectiveDate" />
            <xs:element type="xs:string" name="IsReductionOrder" />
            <xs:element type="xs:string" name="Status" />
            <xs:element type="xs:string" name="BillingStreet" minOccurs="0" />
            <xs:element type="xs:string" name="BillingCity" minOccurs="0" />
            <xs:element type="xs:string" name="BillingState" minOccurs="0" />
            <xs:element type="xs:string" name="BillingPostalCode" minOccurs="0" />
            <xs:element type="xs:string" name="BillingCountry" minOccurs="0" />
            <xs:element type="xs:string" name="Name" minOccurs="0" />
            <xs:element type="xs:string" name="ShippingStreet" minOccurs="0" />
            <xs:element type="xs:string" name="ShippingCity" minOccurs="0" />
            <xs:element type="xs:string" name="ShippingState" minOccurs="0" />
            <xs:element type="xs:string" name="ShippingPostalCode" minOccurs="0" />
            <xs:element type="xs:string" name="ShippingCountry" minOccurs="0" />
            <xs:element type="xs:string" name="StatusCode" />
            <xs:element type="xs:string" name="CurrencyIsoCode" />
            <xs:element type="xs:byte" name="OrderNumber" />
            <xs:element type="xs:float" name="TotalAmount" />
            <xs:element type="xs:dateTime" name="CreatedDate" />
            <xs:element type="xs:string" name="CreatedById" />
            <xs:element type="xs:dateTime" name="LastModifiedDate" />
            <xs:element type="xs:string" name="LastModifiedById" />
            <xs:element type="xs:string" name="IsDeleted" />
            <xs:element type="xs:dateTime" name="SystemModstamp" />
            <xs:element type="xs:dateTime" name="LastViewedDate" minOccurs="0" />
            <xs:element type="xs:dateTime" name="LastReferencedDate" minOccurs="0" />
            <xs:element type="xs:byte" name="SAP_SalesOrder_Ref__c" minOccurs="0" />
            <xs:element type="BillingAddressType" name="BillingAddress" minOccurs="0" />
            <xs:element type="ShippingAddressType" name="ShippingAddress" minOccurs="0" />
            <xs:element type="AccountType" name="Account" />
            <xs:element type="OrderItems" name="OrderItems" maxOccurs="1" minOccurs="0" />
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="OrderItems" >
        <xs:sequence>
            <xs:element type="OrderItemsType" name="records" maxOccurs="unbounded" minOccurs="0" />
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Product2Type">
        <xs:sequence>
            <xs:element type="xs:string" name="Id" />
            <xs:element type="xs:string" name="Name" />
            <xs:element type="xs:string" name="ProductCode" />
            <xs:element type="xs:string" name="Description" minOccurs="0" />
            <xs:element type="xs:string" name="IsActive" />
            <xs:element type="xs:dateTime" name="CreatedDate" />
            <xs:element type="xs:string" name="CreatedById" />
            <xs:element type="xs:dateTime" name="LastModifiedDate" />
            <xs:element type="xs:string" name="LastModifiedById" />
            <xs:element type="xs:dateTime" name="SystemModstamp" />
            <xs:element type="xs:string" name="CurrencyIsoCode" />
            <xs:element type="xs:string" name="IsDeleted" />
            <xs:element type="xs:string" name="IsArchived" />
            <xs:element type="xs:dateTime" name="LastViewedDate" minOccurs="0" />
            <xs:element type="xs:dateTime" name="LastReferencedDate" minOccurs="0" />
            <xs:element type="xs:string" name="S4HANA_Ref_Num__c" minOccurs="0" />
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PricebookEntryType">
        <xs:sequence>
            <xs:element type="xs:string" name="Id" />
            <xs:element type="xs:string" name="Name" />
            <xs:element type="xs:string" name="Pricebook2Id" />
            <xs:element type="xs:string" name="Product2Id" />
            <xs:element type="xs:string" name="CurrencyIsoCode" />
            <xs:element type="xs:float" name="UnitPrice" />
            <xs:element type="xs:string" name="IsActive" />
            <xs:element type="xs:string" name="UseStandardPrice" />
            <xs:element type="xs:dateTime" name="CreatedDate" />
            <xs:element type="xs:string" name="CreatedById" />
            <xs:element type="xs:dateTime" name="LastModifiedDate" />
            <xs:element type="xs:string" name="LastModifiedById" />
            <xs:element type="xs:dateTime" name="SystemModstamp" />
            <xs:element type="xs:string" name="ProductCode" />
            <xs:element type="xs:string" name="IsDeleted" />
            <xs:element type="xs:short" name="SAP_PriceBookEntry_Ref__c" minOccurs="0" />
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="OrderItemsType">
        <xs:sequence>
            <xs:element type="xs:string" name="Id" />
            <xs:element type="xs:string" name="Product2Id" />
            <xs:element type="xs:string" name="IsDeleted" />
            <xs:element type="xs:string" name="OrderId" />
            <xs:element type="xs:string" name="PricebookEntryId" />
            <xs:element type="xs:float" name="AvailableQuantity" />
            <xs:element type="xs:float" name="Quantity" />
            <xs:element type="xs:string" name="CurrencyIsoCode" />
            <xs:element type="xs:float" name="UnitPrice" />
            <xs:element type="xs:float" name="ListPrice" />
            <xs:element type="xs:float" name="TotalPrice" />
            <xs:element type="xs:dateTime" name="CreatedDate" />
            <xs:element type="xs:string" name="CreatedById" />
            <xs:element type="xs:dateTime" name="LastModifiedDate" />
            <xs:element type="xs:string" name="LastModifiedById" />
            <xs:element type="xs:dateTime" name="SystemModstamp" />
            <xs:element type="xs:byte" name="OrderItemNumber" />
            <xs:element type="xs:int" name="SAP_OrderItem_Ref__c" minOccurs="0" />
            <xs:element type="Product2Type" name="Product2" />
            <xs:element type="PricebookEntryType" name="PricebookEntry" />
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SRecordsType">
        <xs:sequence>
            <xs:element type="OrderType" name="records" maxOccurs="unbounded" minOccurs="0" />
        </xs:sequence>
    </xs:complexType>
</xs:schema>