Resources/schemas/Xsd/SAP_Complaint_Handling_Integration_with_Master_Data_and_Business_Objects - CMH_BP_Final.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="businessPartner">
    <xs:complexType>
        <xs:sequence>
            <xs:element maxOccurs="unbounded" name="row">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" type="xs:string" name="businessPartnerUUID"/>
                        <xs:element minOccurs="0" name="senderBusinessSystemID"/>
                        <xs:element minOccurs="0" type="xs:dateTime" name="creationDateTime"/>
                        <xs:element minOccurs="0" type="xs:string" name="businessPartnerNumber"/>
                        <xs:element minOccurs="0" type="xs:string" name="businessPartnerType"/>
                        <xs:element minOccurs="0" type="xs:string" name="searchTerm1"/>
                        <xs:element minOccurs="0" type="xs:string" name="searchTerm2"/>
                        <xs:element minOccurs="0" type="xs:boolean" name="isBlocked"/>
                        <xs:element minOccurs="0" type="xs:boolean" name="isReleased"/>
                        <xs:element minOccurs="0" type="xs:boolean" name="isMarkedForDeletion"/>
                        <xs:element minOccurs="0" maxOccurs="unbounded" name="bpRoles">
                            <xs:complexType>
                                <xs:sequence>
                                    <xs:element minOccurs="0" type="xs:string" name="bpRoleCode"/>
                                    <xs:element minOccurs="0" type="xs:date" name="validFrom"/>
                                    <xs:element minOccurs="0" type="xs:date" name="validTo"/>
                                </xs:sequence>
                            </xs:complexType>
                        </xs:element>
                        <xs:element minOccurs="0" name="customerInformation">
                            <xs:complexType>
                                <xs:sequence>
                                    <xs:element minOccurs="0" type="xs:string" name="customerCode"/>
                                    <xs:element minOccurs="0" type="xs:string" name="accountGroup"/>
                                    <xs:element minOccurs="0" type="xs:boolean" name="isMarkedForDeletion"/>
                                    <xs:element minOccurs="0" maxOccurs="unbounded" name="accountingInformation">
                                        <xs:complexType>
                                            <xs:sequence>
                                                <xs:element minOccurs="0" type="xs:string" name="companyCode"/>
                                                <xs:element minOccurs="0" type="xs:boolean" name="isMarkedForDeletion"/>
                                            </xs:sequence>
                                        </xs:complexType>
                                    </xs:element>
                                    <xs:element minOccurs="0" maxOccurs="unbounded" name="customerSalesArrangements">
                                        <xs:complexType>
                                            <xs:sequence>
                                                <xs:element minOccurs="0" type="xs:string" name="authorizationGroup"/>
                                                <xs:element minOccurs="0" type="xs:string" name="currency"/>
                                                <xs:element minOccurs="0" type="xs:string" name="customerGroup"/>
                                                <xs:element minOccurs="0" type="xs:string" name="salesDistrict"/>
                                                <xs:element minOccurs="0" type="xs:string" name="salesGroup"/>
                                                <xs:element minOccurs="0" type="xs:string" name="salesOffice"/> 
                                                <xs:element minOccurs="0" type="xs:string" name="customerPriceGroup"/>
                                                <xs:element minOccurs="0" type="xs:string" name="customerPricingProcedure"/>
                                                <xs:element minOccurs="0" type="xs:string" name="deliveringPlant"/>
                                                <xs:element minOccurs="0" type="xs:boolean" name="isMarkedForDeletion"/>
                                                <xs:element minOccurs="0" type="xs:string" name="salesOrganizationCode"/>
                                                <xs:element minOccurs="0" type="xs:string" name="distributionChannelCode"/>
                                                <xs:element minOccurs="0" type="xs:string" name="divisionCode"/>
                                                <xs:element minOccurs="0" maxOccurs="unbounded" name="customerSalesArrangementFunctions">
                                                    <xs:complexType>
                                                        <xs:sequence>
                                                            <xs:element type="xs:boolean" name="isDefault"/>
                                                            <xs:element type="xs:string" name="partyInternalID"/>
                                                            <xs:element type="xs:string" name="partyRoleCode"/>
                                                        </xs:sequence>
                                                    </xs:complexType>
                                                </xs:element>                                                               
                                            </xs:sequence>
                                        </xs:complexType>
                                    </xs:element>
                                </xs:sequence>
                            </xs:complexType>
                        </xs:element>
                        <xs:element minOccurs="0" name="person">
                            <xs:complexType>
                                <xs:sequence>
                                    <xs:element minOccurs="0" type="xs:string" name="nonVerbalCommunicationLanguageCode"/>
                                    <xs:element minOccurs="0" name="nameDetails">
                                        <xs:complexType>
                                            <xs:sequence>
                                                <xs:element minOccurs="0" type="xs:string" name="familyName"/>
                                                <xs:element minOccurs="0" type="xs:string" name="givenName"/>
                                                <xs:element minOccurs="0" type="xs:string" name="middleName"/>
                                            </xs:sequence>
                                        </xs:complexType>
                                    </xs:element>
                                </xs:sequence>
                            </xs:complexType>
                        </xs:element>
                        <xs:element minOccurs="0" name="organization">
                            <xs:complexType>
                                <xs:sequence>
                                    <xs:element minOccurs="0" name="nameDetails">
                                        <xs:complexType>
                                            <xs:sequence>
                                                <xs:element minOccurs="0" type="xs:string" name="businessPartnerName1"/>
                                                <xs:element minOccurs="0" type="xs:string" name="businessPartnerName2"/>
                                                <xs:element minOccurs="0" type="xs:string" name="businessPartnerName3"/>
                                                <xs:element minOccurs="0" type="xs:string" name="businessPartnerName4"/>
                                            </xs:sequence>
                                        </xs:complexType>
                                    </xs:element>
                                </xs:sequence>
                            </xs:complexType>
                        </xs:element>
                        <xs:element minOccurs="0" maxOccurs="unbounded" name="addressData">
                            <xs:complexType>
                                <xs:sequence>
                                    <xs:element minOccurs="0" type="xs:string" name="UUID "/>
                                    <xs:element minOccurs="0" type="xs:string" name="correspondenceLanguageCode "/>
                                    <xs:element minOccurs="0" type="xs:date" name="validFrom "/>
                                    <xs:element minOccurs="0" type="xs:date" name="validTo "/>
                                    <xs:element minOccurs="0" name="address">
                                        <xs:complexType>
                                            <xs:sequence>
                                                <xs:element minOccurs="0" type="xs:string" name="cityName"/>
                                                <xs:element minOccurs="0" type="xs:string" name="streetPostalCode"/>
                                                <xs:element minOccurs="0" type="xs:string" name="countryCode_code"/>
                                                <xs:element minOccurs="0" type="xs:string" name="streetName"/>
                                                <xs:element minOccurs="0" type="xs:string" name="houseNumber"/>
                                                <xs:element minOccurs="0" type="xs:string" name="region"/>
                                            </xs:sequence>
                                        </xs:complexType>
                                    </xs:element>
                                    <xs:element minOccurs="0" maxOccurs="unbounded" name="emailAddresses">
                                        <xs:complexType>
                                            <xs:sequence>
                                                <xs:element minOccurs="0" type="xs:string" name="emailAddress"/>
                                                <xs:element minOccurs="0" type="xs:boolean" name="usageDeniedIndicator"/>
                                                <xs:element minOccurs="0" type="xs:date" name="validFrom"/>
                                                <xs:element minOccurs="0" type="xs:date" name="validTo"/>
                                            </xs:sequence>
                                        </xs:complexType>
                                    </xs:element>
                                    <xs:element minOccurs="0" maxOccurs="unbounded" name="phoneNumbers">
                                        <xs:complexType>
                                            <xs:sequence>
                                                <xs:element minOccurs="0" type="xs:string" name="phoneNumber"/>
                                                <xs:element minOccurs="0" type="xs:string" name="extensionId"/>
                                                <xs:element minOccurs="0" type="xs:string" name="countryCode_code"/>
                                                <xs:element minOccurs="0" type="xs:boolean" name="usageDeniedIndicator"/>
                                                <xs:element minOccurs="0" type="xs:boolean" name="mobilePhoneNumberIndicator"/>
                                                <xs:element minOccurs="0" type="xs:date" name="validFrom"/>
                                                <xs:element minOccurs="0" type="xs:date" name="validTo"/>
                                            </xs:sequence>
                                        </xs:complexType>
                                    </xs:element>
                                    <xs:element minOccurs="0" maxOccurs="unbounded" name="usages">
                                        <xs:complexType>
                                            <xs:sequence>
                                                <xs:element minOccurs="0" type="xs:string" name="usageCode"/>
                                                <xs:element minOccurs="0" type="xs:date" name="validFrom"/>
                                                <xs:element minOccurs="0" type="xs:date" name="validTo"/>
                                            </xs:sequence>
                                        </xs:complexType>
                                    </xs:element>                                    
                                </xs:sequence>
                            </xs:complexType>
                        </xs:element>
                        <xs:element minOccurs="0" name="supplierInformation">
                            <xs:complexType>
                                <xs:sequence>
                                    <xs:element minOccurs="0" type="xs:string" name="vendorCode"/>
                                    <xs:element minOccurs="0" type="xs:string" name="accountGroup"/>
                                    <xs:element minOccurs="0" type="xs:boolean" name="isMarkedForDeletion"/>
                                    <xs:element minOccurs="0" maxOccurs="unbounded" name="purchasingAccounting">
                                        <xs:complexType>
                                            <xs:sequence>
                                                <xs:element minOccurs="0" type="xs:string" name="companyCode"/>
                                                <xs:element minOccurs="0" type="xs:boolean" name="isMarkedForDeletion"/>
                                            </xs:sequence>
                                        </xs:complexType>
                                    </xs:element>
                                    <xs:element minOccurs="0" maxOccurs="unbounded" name="purchasingArrangements">
                                        <xs:complexType>
                                            <xs:sequence>
                                                <xs:element minOccurs="0" type="xs:string" name="purchasingOrganizationCode"/>
                                                <xs:element minOccurs="0" type="xs:string" name="purchasingGroup_code"/>
                                                <xs:element minOccurs="0" type="xs:boolean" name="isMarkedForDeletion"/>
                                            </xs:sequence>
                                        </xs:complexType>
                                    </xs:element>
                                </xs:sequence>
                            </xs:complexType>
                        </xs:element>
            </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element minOccurs="0" name="messageID" ></xs:element>
        </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>