Resources/schemas/Xsd/SAP_S-4HANA_for_central_procurement_–_Central_Purchasing_Integration_with_Third_Party_System - PurchaseOrderDetails.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="PurchaseOrderTypeSet">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="PurchaseOrderType">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="ProcessingStatus" type="xs:unsignedByte" />
              <xs:element name="PurchaseOrder" type="xs:unsignedLong" />
              <xs:element name="LastChangeDateTime" type="xs:dateTime" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>