Resources/schemas/Xsd/SAP_Build_Process_Automation_Integration_with_SAP_S-4HANA_for_Managing_Customer_Refund_Request - BAPI_ACC_DOCUMENT_Get_response.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="qualified">
   <xs:element name="CUSTOMERREFUNDRESPONSE">
      <xs:complexType>
         <xs:sequence>
		    <xs:element name="LineItems" maxOccurs="1" minOccurs="1">
               <xs:complexType>
                  <xs:sequence>
                     <xs:element name="Item" maxOccurs="unbounded" minOccurs="0">
                        <xs:complexType>
                           <xs:sequence>
					<xs:element name="Comp_Code" minOccurs="0">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:maxLength value="4"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element name="Customer" minOccurs="0">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:maxLength value="10"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element name="SP_GL_IND" minOccurs="0">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:maxLength value="1"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element name="Clear_Date" minOccurs="0" type="xs:dateTime"/>
					<xs:element name="CLR_DOC_NO" minOccurs="0">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:maxLength value="10"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element name="Alloc_Number" minOccurs="0">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:maxLength value="18"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element name="Fisc_Year" minOccurs="0">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:maxLength value="4"/>
								<xs:pattern value="\d*"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element name="DOC_NO" minOccurs="0">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:maxLength value="10"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element name="Item_Number" minOccurs="0">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:maxLength value="3"/>
								<xs:pattern value="\d*"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element name="Posting_Date" minOccurs="0" type="xs:dateTime"/>
					<xs:element name="DOC_Date" minOccurs="0" type="xs:dateTime"/>
					<xs:element name="Entry_Date" minOccurs="0" type="xs:dateTime"/>
					<xs:element name="Currency" minOccurs="0">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:maxLength value="5"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element name="LOC_Currency" minOccurs="0">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:maxLength value="5"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element name="REF_DOC_NO" minOccurs="0">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:maxLength value="16"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element name="DOC_Type" minOccurs="0">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:maxLength value="2"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element name="FIS_Period" minOccurs="0">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:maxLength value="2"/>
								<xs:pattern value="\d*"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element name="Post_Key" minOccurs="0">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:maxLength value="2"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element name="DB_CR_IND" minOccurs="0">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:maxLength value="1"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element name="Bus_Area" minOccurs="0">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:maxLength value="4"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element name="Tax_Code" minOccurs="0">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:maxLength value="2"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element name="LC_Amount" minOccurs="0">
						<xs:simpleType>
							<xs:restriction base="xs:integer">
								<xs:totalDigits value="23"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element name="AMT_Doccur" minOccurs="0">
						<xs:simpleType>
							<xs:restriction base="xs:integer">
								<xs:totalDigits value="23"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element name="LC_Tax" minOccurs="0">
						<xs:simpleType>
							<xs:restriction base="xs:integer">
								<xs:totalDigits value="23"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element name="TX_DOC_CUR" minOccurs="0">
						<xs:simpleType>
							<xs:restriction base="xs:integer">
								<xs:totalDigits value="23"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element name="Item_Text" minOccurs="0">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:maxLength value="50"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element name="Branch" minOccurs="0">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:maxLength value="10"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element name="Bline_Date" minOccurs="0" type="xs:dateTime"/>
					<xs:element name="PMNTTRMS" minOccurs="0">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:maxLength value="4"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element name="DSCT_Days1" minOccurs="0">
						<xs:simpleType>
							<xs:restriction base="xs:integer">
								<xs:totalDigits value="3"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element name="DSCT_Days2" minOccurs="0">
						<xs:simpleType>
							<xs:restriction base="xs:integer">
								<xs:totalDigits value="3"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element name="NETTERMS" minOccurs="0">
						<xs:simpleType>
							<xs:restriction base="xs:integer">
								<xs:totalDigits value="3"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element name="DSCT_PCT1" minOccurs="0">
						<xs:simpleType>
							<xs:restriction base="xs:integer">
								<xs:totalDigits value="5"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element name="DSCT_PCT2" minOccurs="0">
						<xs:simpleType>
							<xs:restriction base="xs:integer">
								<xs:totalDigits value="5"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element name="Disc_Base" minOccurs="0">
						<xs:simpleType>
							<xs:restriction base="xs:integer">
								<xs:totalDigits value="23"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element name="DSC_AMT_LC" minOccurs="0">
						<xs:simpleType>
							<xs:restriction base="xs:integer">
								<xs:totalDigits value="23"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element name="DSC_AMT_DC" minOccurs="0">
						<xs:simpleType>
							<xs:restriction base="xs:integer">
								<xs:totalDigits value="23"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element name="PYMT_Meth" minOccurs="0">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:maxLength value="1"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element name="PMNT_Block" minOccurs="0">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:maxLength value="1"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element name="FixedTerms" minOccurs="0">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:maxLength value="1"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element name="INV_REF" minOccurs="0">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:maxLength value="10"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element name="INV_Year" minOccurs="0">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:maxLength value="4"/>
								<xs:pattern value="\d*"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element name="INV_Item" minOccurs="0">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:maxLength value="3"/>
								<xs:pattern value="\d*"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element name="DUNN_Block" minOccurs="0">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:maxLength value="1"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element name="DUNN_Key" minOccurs="0">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:maxLength value="1"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element name="Last_Dunn" minOccurs="0" type="xs:dateTime"/>
					<xs:element name="Dunn_Level" minOccurs="0">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:maxLength value="1"/>
								<xs:pattern value="\d*"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element name="Dunn_Area" minOccurs="0">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:maxLength value="2"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element name="DOC_Status" minOccurs="0">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:maxLength value="1"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element name="NXT_DocType" minOccurs="0">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:maxLength value="1"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element name="VAT_REG_NO" minOccurs="0">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:maxLength value="20"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element name="Reason_Code" minOccurs="0">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:maxLength value="3"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element name="PMTMTHSUPL" minOccurs="0">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:maxLength value="2"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element name="REF_KEY_1" minOccurs="0">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:maxLength value="12"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element name="REF_KEY_2" minOccurs="0">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:maxLength value="12"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element name="T_Currency" minOccurs="0">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:maxLength value="5"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element name="Amount" minOccurs="0">
						<xs:simpleType>
							<xs:restriction base="xs:integer">
								<xs:totalDigits value="23"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element name="Net_Amount" minOccurs="0">
						<xs:simpleType>
							<xs:restriction base="xs:decimal">
								<xs:totalDigits value="23"/>
								<xs:fractionDigits value="4"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element name="Name" minOccurs="0">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:maxLength value="35"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element name="Name_2" minOccurs="0">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:maxLength value="35"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element name="Name_3" minOccurs="0">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:maxLength value="35"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element name="Name_4" minOccurs="0">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:maxLength value="35"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element name="Postal_Code" minOccurs="0">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:maxLength value="10"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element name="City" minOccurs="0">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:maxLength value="35"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element name="Country" minOccurs="0">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:maxLength value="3"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element name="Street" minOccurs="0">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:maxLength value="35"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element name="PO_Box" minOccurs="0">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:maxLength value="10"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element name="POBX_PCD" minOccurs="0">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:maxLength value="10"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element name="POBK_CURAC" minOccurs="0">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:maxLength value="16"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element name="Bank_Account" minOccurs="0">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:maxLength value="18"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element name="Bank_Key" minOccurs="0">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:maxLength value="15"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element name="Bank_Country" minOccurs="0">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:maxLength value="3"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element name="Tax_NO_1" minOccurs="0">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:maxLength value="16"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element name="Tax_NO_2" minOccurs="0">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:maxLength value="11"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element name="Tax" minOccurs="0">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:maxLength value="1"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element name="Equal_Tax" minOccurs="0">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:maxLength value="1"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element name="Region" minOccurs="0">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:maxLength value="3"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element name="CTRL_Key" minOccurs="0">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:maxLength value="2"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element name="INSTR_Key" minOccurs="0">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:maxLength value="2"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element name="Payee_Code" minOccurs="0">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:maxLength value="16"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element name="Language" minOccurs="0">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:maxLength value="1"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element name="Bill_Life" minOccurs="0">
						<xs:simpleType>
							<xs:restriction base="xs:integer">
								<xs:totalDigits value="3"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element name="BE_TaxCode" minOccurs="0">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:maxLength value="1"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element name="BillTax_LC" minOccurs="0">
						<xs:simpleType>
							<xs:restriction base="xs:integer">
								<xs:totalDigits value="23"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element name="BillTax_FC" minOccurs="0">
						<xs:simpleType>
							<xs:restriction base="xs:integer">
								<xs:totalDigits value="23"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element name="LC_COL_CHG" minOccurs="0">
						<xs:simpleType>
							<xs:restriction base="xs:integer">
								<xs:totalDigits value="23"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element name="Coll_Charge" minOccurs="0">
						<xs:simpleType>
							<xs:restriction base="xs:integer">
								<xs:totalDigits value="23"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element name="CHGS_TX_CD" minOccurs="0">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:maxLength value="2"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element name="Issue_Date" minOccurs="0" type="xs:dateTime"/>
					<xs:element name="UsageDate" minOccurs="0" type="xs:dateTime"/>
					<xs:element name="Bill_Usage" minOccurs="0">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:maxLength value="1"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element name="DOmicile" minOccurs="0">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:maxLength value="60"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element name="Drawer" minOccurs="0">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:maxLength value="30"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element name="CTRBNK_LOC" minOccurs="0">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:maxLength value="60"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element name="Draw_City1" minOccurs="0">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:maxLength value="30"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element name="Drawee" minOccurs="0">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:maxLength value="30"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element name="Draw_City2" minOccurs="0">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:maxLength value="30"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element name="Disct_Days" minOccurs="0">
						<xs:simpleType>
							<xs:restriction base="xs:decimal">
								<xs:totalDigits value="3"/>
								<xs:fractionDigits value="0"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element name="Disct_Rate" minOccurs="0">
						<xs:simpleType>
							<xs:restriction base="xs:integer">
								<xs:totalDigits value="7"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element name="Accepted" minOccurs="0">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:maxLength value="1"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element name="BillStatus" minOccurs="0">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:maxLength value="1"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element name="PRTEST_IND" minOccurs="0">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:maxLength value="1"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element name="BE_Demand" minOccurs="0">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:maxLength value="1"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element name="OBJ_TYPE" minOccurs="0">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:maxLength value="5"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element name="REF_DOC" minOccurs="0">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:maxLength value="10"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element name="REF_ORG_UN" minOccurs="0">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:maxLength value="10"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element name="Reversal_Doc" minOccurs="0">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:maxLength value="10"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element name="SP_GL_TYPE" minOccurs="0">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:maxLength value="1"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element name="Neg_Posting" minOccurs="0">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:maxLength value="1"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element name="REF_DOC_NO_LONG" minOccurs="0">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:maxLength value="35"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element name="BILL_DOC" minOccurs="0">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:maxLength value="10"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
                           </xs:sequence>
                        </xs:complexType>
                     </xs:element>
                  </xs:sequence>
               </xs:complexType>
            </xs:element>
            <xs:element name="Return" maxOccurs="1" minOccurs="1">
               <xs:complexType>
                  <xs:sequence>
                     <xs:element name="Item" maxOccurs="unbounded" minOccurs="0">
                        <xs:complexType>
                           <xs:sequence>
                              <xs:element name="Type" minOccurs="0">
                                 <xs:annotation>
                                    <xs:documentation>Message type: S Success, E Error, W Warning, I Info, A Abort</xs:documentation>
                                 </xs:annotation>
                                 <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                       <xs:maxLength value="1" />
                                    </xs:restriction>
                                 </xs:simpleType>
                              </xs:element>
                              <xs:element name="ID" minOccurs="0">
                                 <xs:annotation>
                                    <xs:documentation>Message Class</xs:documentation>
                                 </xs:annotation>
                                 <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                       <xs:maxLength value="20" />
                                    </xs:restriction>
                                 </xs:simpleType>
                              </xs:element>
                              <xs:element name="Number" minOccurs="0">
                                 <xs:annotation>
                                    <xs:documentation>Message Number</xs:documentation>
                                 </xs:annotation>
                                 <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                       <xs:maxLength value="3" />
                                       <xs:pattern value="\d+" />
                                    </xs:restriction>
                                 </xs:simpleType>
                              </xs:element>
                              <xs:element name="Message" minOccurs="0">
                                 <xs:annotation>
                                    <xs:documentation>Message Text</xs:documentation>
                                 </xs:annotation>
                                 <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                       <xs:maxLength value="220" />
                                    </xs:restriction>
                                 </xs:simpleType>
                              </xs:element>
                              <xs:element name="Log_NO" minOccurs="0">
                                 <xs:annotation>
                                    <xs:documentation>Application log: log number</xs:documentation>
                                 </xs:annotation>
                                 <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                       <xs:maxLength value="20" />
                                    </xs:restriction>
                                 </xs:simpleType>
                              </xs:element>
                              <xs:element name="Log_Msg_NO" minOccurs="0">
                                 <xs:annotation>
                                    <xs:documentation>Application log: Internal message serial number</xs:documentation>
                                 </xs:annotation>
                                 <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                       <xs:maxLength value="6" />
                                       <xs:pattern value="\d+" />
                                    </xs:restriction>
                                 </xs:simpleType>
                              </xs:element>
                              <xs:element name="Message_V1" minOccurs="0">
                                 <xs:annotation>
                                    <xs:documentation>Message Variable</xs:documentation>
                                 </xs:annotation>
                                 <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                       <xs:maxLength value="50" />
                                    </xs:restriction>
                                 </xs:simpleType>
                              </xs:element>
                              <xs:element name="Message_V2" minOccurs="0">
                                 <xs:annotation>
                                    <xs:documentation>Message Variable</xs:documentation>
                                 </xs:annotation>
                                 <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                       <xs:maxLength value="50" />
                                    </xs:restriction>
                                 </xs:simpleType>
                              </xs:element>
                              <xs:element name="Message_V3" minOccurs="0">
                                 <xs:annotation>
                                    <xs:documentation>Message Variable</xs:documentation>
                                 </xs:annotation>
                                 <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                       <xs:maxLength value="50" />
                                    </xs:restriction>
                                 </xs:simpleType>
                              </xs:element>
                              <xs:element name="Message_V4" minOccurs="0">
                                 <xs:annotation>
                                    <xs:documentation>Message Variable</xs:documentation>
                                 </xs:annotation>
                                 <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                       <xs:maxLength value="50" />
                                    </xs:restriction>
                                 </xs:simpleType>
                              </xs:element>
                              <xs:element name="Parameter" minOccurs="0">
                                 <xs:annotation>
                                    <xs:documentation>Parameter Name</xs:documentation>
                                 </xs:annotation>
                                 <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                       <xs:maxLength value="32" />
                                    </xs:restriction>
                                 </xs:simpleType>
                              </xs:element>
                              <xs:element name="Row" type="xs:integer" minOccurs="0">
                                 <xs:annotation>
                                    <xs:documentation>Lines in parameter</xs:documentation>
                                 </xs:annotation>
                              </xs:element>
                              <xs:element name="Field" minOccurs="0">
                                 <xs:annotation>
                                    <xs:documentation>Field in parameter</xs:documentation>
                                 </xs:annotation>
                                 <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                       <xs:maxLength value="30" />
                                    </xs:restriction>
                                 </xs:simpleType>
                              </xs:element>
                              <xs:element name="System" minOccurs="0">
                                 <xs:annotation>
                                    <xs:documentation>Logical system from which message originates</xs:documentation>
                                 </xs:annotation>
                                 <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                       <xs:maxLength value="10" />
                                    </xs:restriction>
                                 </xs:simpleType>
                              </xs:element>
                           </xs:sequence>
                        </xs:complexType>
                     </xs:element>
                  </xs:sequence>
               </xs:complexType>
            </xs:element>
         </xs:sequence>
      </xs:complexType>
   </xs:element>
</xs:schema>