Resources/schemas/Xsd/SAP_Build_Process_Automation_Integration_with_SAP_S-4HANA_for_Fixed_Asset_Approval_Write_Off - BAPI_ASSET_VALUE_ADJUST_POST - Schema.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="unqualified" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:sap-com:document:sap:rfc:functions">
  <xs:element name="BAPI_ASSET_VALUE_ADJUST_POST">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="GENERALPOSTINGDATA">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="DOC_TYPE" type="xs:string" />
        <xs:element name="DOC_DATE" type="xs:unsignedInt" />
        <xs:element name="PSTNG_DATE" type="xs:unsignedInt" />
        <xs:element name="COMP_CODE" type="xs:unsignedShort" />
        <xs:element name="ASSETMAINO" type="xs:unsignedLong" />
        <xs:element name="ASSETSUBNO" type="xs:unsignedByte" />
        <xs:element name="ASSETTRTYP" type="xs:unsignedByte" />
        <xs:element minOccurs="0" name="DEPR_AREA" type="xs:unsignedByte" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="VALUEADJUSTDATA">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="VALUEDATE" type="xs:unsignedInt" />
        <xs:element name="AMOUNT" type="xs:decimal" />
        <xs:element name="CURRENCY" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>