Resources/schemas/Xsd/SAP_Build_Process_Automation_Integration_with_SAP_S-4HANA_for_Disconnection - Order Code_Resp-3.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- Created with Liquid Technologies Online Tools 1.0 (https://www.liquid-technologies.com) -->
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="RFC_READ_TABLE">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="unbounded" name="INPUT">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="DELIMITER"  minOccurs="0" />
              <xs:element name="NO_DATA" minOccurs="0" />
              <xs:element name="QUERY_TABLE" type="xs:string"  minOccurs="0" />
              <xs:element name="ROWCOUNT" type="xs:unsignedByte"  minOccurs="0" />
              <xs:element name="ROWSKIPS" type="xs:unsignedByte"  minOccurs="0" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element minOccurs="0" maxOccurs="unbounded" name="TABLES">
          <xs:complexType>
            <xs:sequence>
              <xs:element minOccurs="0" maxOccurs="unbounded" name="DATA">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element minOccurs="0" maxOccurs="unbounded" name="item">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="WA" type="xs:string" minOccurs="0" />
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element minOccurs="0" maxOccurs="unbounded" name="FIELDS">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element minOccurs="0" maxOccurs="unbounded" name="item">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="FIELDNAME" type="xs:string" minOccurs="0" />
                          <xs:element name="OFFSET" type="xs:unsignedByte"  minOccurs="0" />
                          <xs:element name="LENGTH" type="xs:unsignedByte"  minOccurs="0" />
                          <xs:element name="TYPE" type="xs:string"  minOccurs="0" />
                          <xs:element name="FIELDTEXT" type="xs:string" minOccurs="0" />
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element minOccurs="0" maxOccurs="unbounded" name="OPTIONS">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element minOccurs="0" maxOccurs="unbounded" name="item">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element minOccurs="0" name="TEXT" />
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>