Resources/schemas/Xsd/SAP_Customer_Data_Cloud_Integration_with_SAP_Marketing_Cloud - CDCAccountsSearch-accounts-1.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="root">
    <xs:complexType>
      <xs:sequence>
        <xs:element type="xs:string" name="callId"/>
        <xs:element type="xs:byte" name="errorCode"/>
        <xs:element type="xs:byte" name="apiVersion"/>
        <xs:element type="xs:short" name="statusCode"/>
        <xs:element type="xs:string" name="statusReason"/>
        <xs:element type="xs:dateTime" name="time"/>
        <xs:element name="results">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="socialProviders"/>
              <xs:element type="xs:dateTime" name="lastLogin"/>
              <xs:element name="data">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:string" name="subscribe"/>
                    <xs:element type="xs:string" name="terms"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element type="xs:string" name="isVerified"/>
              <xs:element type="xs:dateTime" name="registered"/>
              <xs:element type="xs:string" name="isActive"/>
              <xs:element type="xs:long" name="oldestDataUpdatedTimestamp"/>
              <xs:element name="emails">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:string" name="verified"/>
                    <xs:element type="xs:string" name="unverified"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element type="xs:dateTime" name="lastUpdated"/>
              <xs:element name="password">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="hashSettings">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element type="xs:string" name="salt"/>
                          <xs:element type="xs:short" name="rounds"/>
                          <xs:element type="xs:string" name="algorithm"/>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element type="xs:string" name="hash"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="identities">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:long" name="oldestDataUpdatedTimestamp"/>
                    <xs:element type="xs:string" name="providerUID"/>
                    <xs:element type="xs:dateTime" name="lastUpdated"/>
                    <xs:element type="xs:string" name="firstName"/>
                    <xs:element type="xs:string" name="isExpiredSession"/>
                    <xs:element type="xs:string" name="lastName"/>
                    <xs:element type="xs:string" name="locale"/>
                    <xs:element type="xs:string" name="provider"/>
                    <xs:element type="xs:dateTime" name="oldestDataUpdated"/>
                    <xs:element type="xs:string" name="email"/>
                    <xs:element type="xs:long" name="lastUpdatedTimestamp"/>
                    <xs:element type="xs:string" name="isLoginIdentity"/>
                    <xs:element type="xs:string" name="allowsLogin"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element type="xs:dateTime" name="oldestDataUpdated"/>
              <xs:element type="xs:long" name="lastUpdatedTimestamp"/>
              <xs:element name="preferences">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="communicationPreference">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element type="xs:string" name="entitlements" maxOccurs="unbounded" minOccurs="0"/>
                          <xs:element type="xs:string" name="isConsentGranted"/>
                          <xs:element type="xs:string" name="customData"/>
                          <xs:element type="xs:dateTime" name="lastConsentModified"/>
                          <xs:element type="xs:byte" name="docVersion"/>
                          <xs:element type="xs:string" name="tags"/>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element type="xs:dateTime" name="created"/>
              <xs:element type="xs:long" name="createdTimestamp"/>
              <xs:element name="profile">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="address" />
                    <xs:element name="age" type="xs:unsignedByte" />
                    <xs:element name="bio" />
                    <xs:element name="birthDay" type="xs:unsignedByte" />
                    <xs:element name="birthMonth" type="xs:unsignedByte" />
                    <xs:element name="birthYear" type="xs:unsignedShort" />
                    <xs:element name="capabilities" />
                    <xs:element name="city" />
                    <xs:element name="country" />
                    <xs:element name="educationLevel" />
                    <xs:element name="email" type="xs:string" />
                    <xs:element name="firstName" type="xs:string" />
                    <xs:element name="gender" />
                    <xs:element name="hometown" />
                    <xs:element name="honors" />
                    <xs:element name="industry" />
                    <xs:element name="interestedIn" />
                    <xs:element name="lastName" type="xs:string" />
                    <xs:element name="locale" type="xs:string" />
                    <xs:element name="nickname" type="xs:string" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="lastLoginLocation">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:string" name="country"/>
                    <xs:element type="xs:string" name="city"/>
                    <xs:element name="coordinates">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element type="xs:float" name="lon"/>
                          <xs:element type="xs:float" name="lat"/>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element type="xs:byte" name="state"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element type="xs:string" name="regSource"/>
              <xs:element type="xs:long" name="registeredTimestamp"/>
              <xs:element type="xs:string" name="loginProvider"/>
              <xs:element type="xs:long" name="lastLoginTimestamp"/>
              <xs:element type="xs:string" name="UID"/>
              <xs:element type="xs:string" name="phoneNumber"/>
              <xs:element type="xs:string" name="isRegistered"/>
              <xs:element name="loginIDs">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:string" name="emails"/>
                    <xs:element type="xs:string" name="unverifiedEmails"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element type="xs:string" name="additionalId" maxOccurs="unbounded" minOccurs="0"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element type="xs:byte" name="objectsCount"/>
        <xs:element type="xs:byte" name="totalCount"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
