Resources/schemas/Xsd/SAP_Build_Process_Automation_Integration_with_SAP_ERP_for_Invoice - VendorInput.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="root">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Requester">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="UserId"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element type="xs:string" name="Vendor"/>
		<xs:element type="xs:string" name="Name1"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>