Resources/schemas/Xsd/SAP_Complaint_Handling_Integration_with_Master_Data_and_Business_Objects - QNEnhancedPayload.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="root">
    <xs:complexType>
      <xs:sequence>
        <xs:element type="xs:string" name="notificationType"/>
        <xs:element type="xs:string" name="material"/>
        <xs:element type="xs:short" name="plant"/>
        <xs:element type="xs:float" name="quantity"/>
        <xs:element type="xs:string" name="unit"/>
        <xs:element name="defect" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="description"/>
              <xs:element type="xs:string" name="defectGroup_code"/>
              <xs:element type="xs:byte" name="defectCode_code"/>
              <xs:element type="xs:byte" name="identifier"/>
			  <xs:element type="xs:float" name="quantity"/>
              <xs:element type="xs:string" name="unit"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="personDetails">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="code"/>
              <xs:element type="xs:string" name="role"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="supplierDetails">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="code"/>
              <xs:element type="xs:string" name="role"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element type="xs:long" name="purchaseOrderNumber"/>
        <xs:element type="xs:byte" name="purchaseOrderItem"/>
        <xs:element type="xs:string" name="referenceNumber"/>
        <xs:element type="xs:byte" name="subjectCode"/>
        <xs:element type="xs:string" name="subjectCodeGroup"/>
        <xs:element type="xs:string" name="processDescription"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>