Resources/schemas/Xsd/SAP_Customer_Data_Cloud_Integration_with_SAP_Service_Cloud_for_Replicating_Customer_Details - CDC_Customer.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="customer">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="batch" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:long" name="lastUpdatedTimestamp"/>
              <xs:element name="preferences">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="saudiaStatement">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element type="xs:string" name="entitlements"/>
                          <xs:element type="xs:string" name="isConsentGranted"/>
                          <xs:element type="xs:dateTime" name="docDate"/>
                          <xs:element type="xs:string" name="customData"/>
                          <xs:element type="xs:dateTime" name="lastConsentModified"/>
                          <xs:element type="xs:string" name="tags"/>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="saudiaPartnerCommunications">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element type="xs:string" name="entitlements" maxOccurs="unbounded" minOccurs="0"/>
                          <xs:element type="xs:string" name="isConsentGranted"/>
                          <xs:element type="xs:dateTime" name="docDate"/>
                          <xs:element type="xs:string" name="customData"/>
                          <xs:element type="xs:dateTime" name="lastConsentModified"/>
                          <xs:element type="xs:string" name="tags"/>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="saudiaCommunications">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element type="xs:string" name="entitlements" maxOccurs="unbounded" minOccurs="0"/>
                          <xs:element type="xs:string" name="isConsentGranted"/>
                          <xs:element type="xs:dateTime" name="docDate"/>
                          <xs:element type="xs:string" name="customData"/>
                          <xs:element type="xs:dateTime" name="lastConsentModified"/>
                          <xs:element type="xs:string" name="tags"/>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="data">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="address">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element type="xs:string" name="zip"/>
                          <xs:element type="xs:string" name="poBox"/>
                          <xs:element type="xs:string" name="city"/>
                          <xs:element type="xs:string" name="addressLine2"/>
                          <xs:element type="xs:string" name="state"/>
                          <xs:element type="xs:string" name="addressLine3"/>
                          <xs:element type="xs:string" name="addressLine"/>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element type="xs:string" name="mobile"/>
					<xs:element name="mobileIdentity">
					<xs:complexType>
                        <xs:sequence>
						<xs:element type="xs:string" name="deviceType"/>
						  <xs:element type="xs:string" name="appTokenID"/>
						   </xs:sequence>
                      </xs:complexType>
                    </xs:element>

					<xs:element type="xs:string" name="iqama"/>
					<xs:element type="xs:string" name="seatNumber"/>
				<!--	<xs:element type="xs:string" name="AlFursanDeleted"/> -->
                    <xs:element name="loyaltyInfo">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element type="xs:string" name="currentTierCode"/>
						  <xs:element type="xs:string" name="currentTier"/>
                          <xs:element type="xs:byte" name="tierMilesForNextTier"/>
                          <xs:element type="xs:string" name="milesStatus"/>
                          <xs:element type="xs:byte" name="currentAwardMiles"/>
                          <xs:element type="xs:int" name="enrollmentDate"/>
                          <xs:element type="xs:short" name="currentTierMiles"/>
                          <xs:element type="xs:string" name="enrollmentSource"/>
                          <xs:element type="xs:short" name="awardMilesToExpire"/>
                          <xs:element type="xs:string" name="enrollmentPartner"/>
                          <xs:element type="xs:string" name="currentTier"/>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element type="xs:byte" name="title"/>
                    <xs:element type="xs:string" name="favoriteMeal"/>
                    <xs:element type="xs:string" name="actionType"/>
                    <xs:element type="xs:string" name="medicalRequirements"/>
                    <xs:element type="xs:string" name="specialCare"/>
                    <xs:element type="xs:string" name="favoriteSeat"/>
                    <xs:element name="passport">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element type="xs:string" name="expiryDate"/>
                          <xs:element type="xs:string" name="number"/>
						  <xs:element type="xs:string" name="issuingCountry"/>
						  <xs:element type="xs:string" name="issueDate"/>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element type="xs:string" name="nationality"/>
                    <xs:element type="xs:string" name="nationalID"/>
                    <xs:element type="xs:string" name="phone"/>
                    <xs:element type="xs:string" name="nameOnCard"/>
                    <xs:element type="xs:string" name="middleName" minOccurs="0"/>
                    <xs:element type="xs:string" name="maritalStatus"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element type="xs:dateTime" name="created"/>
              <xs:element type="xs:long" name="createdTimestamp"/>
              <xs:element name="profile">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:byte" name="birthMonth"/>
					<xs:element type="xs:byte" name="locale"/>
                    <xs:element type="xs:byte" name="birthDay"/>
                    <xs:element type="xs:string" name="languages"/>
                    <xs:element type="xs:short" name="birthYear"/>
                    <xs:element name="work">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element type="xs:string" name="company"/>
                          <xs:element type="xs:string" name="title"/>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element type="xs:byte" name="age"/>
                    <xs:element type="xs:int" name="username"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element type="xs:string" name="channel"/>
              <xs:element type="xs:string" name="token"/>
              <xs:element type="xs:dateTime" name="lastUpdated"/>
              <xs:element type="xs:string" name="UID"/>
              <xs:element type="xs:string" name="hasLiteAccount"/>
              <xs:element type="xs:string" name="hasFullAccount"/>
              <xs:element type="xs:string" name="email"/>
              <xs:element type="xs:string" name="EmailAddress"/>
              <xs:element type="xs:string" name="FirstName"/>
              <xs:element type="xs:string" name="LastName"/>
              <xs:element type="xs:byte" name="GenderCode"/>
              <xs:element type="xs:string" name="Country"/>
              <xs:element type="xs:string" name="CityName"/>
              <xs:element type="xs:dateTime" name="BirthDate"/>
              <xs:element type="xs:string" name="IsConsumer"/>
              <xs:element type="xs:string" name="Longitude"/>
              <xs:element type="xs:string" name="Latitude"/>
              <xs:element type="xs:string" name="YY1_LiteFullRegistr_MPST"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>