Resources/schemas/Xsd/SAP_Commerce_Cloud_Integration_with_SAP_Master_Data_Integration - B2BUnitsEntityPOST1-1.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="B2BUnits">
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="1" maxOccurs="unbounded" name="B2BUnit">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element type="xs:string" nillable="false" maxOccurs="unbounded" name="integrationKey" xmlns=""/>
                            <xs:element type="xs:string" nillable="true" minOccurs="0" maxOccurs="unbounded" name="description" xmlns=""/>
                            <xs:element type="xs:string" nillable="true" minOccurs="0" maxOccurs="unbounded" name="name" xmlns=""/>
                            <xs:element type="xs:boolean" nillable="true" minOccurs="0" maxOccurs="unbounded" name="buyer" xmlns=""/>
                            <xs:element type="xs:string" nillable="true" minOccurs="0" maxOccurs="unbounded" name="locName" xmlns=""/>
                            <xs:element type="xs:boolean" nillable="true" minOccurs="0" maxOccurs="unbounded" name="active" xmlns=""/>
                            <xs:element type="xs:string" nillable="false" maxOccurs="unbounded" name="uid" xmlns=""/>
                            <xs:element nillable="true" minOccurs="0" maxOccurs="unbounded" name="userDiscountGroup">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element minOccurs="0" maxOccurs="1" name="UserDiscountGroup">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element type="xs:string" nillable="false" maxOccurs="unbounded" name="integrationKey" xmlns=""/>
                                                    <xs:element type="xs:string" nillable="false" maxOccurs="unbounded" name="code" xmlns=""/>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element nillable="true" minOccurs="0" maxOccurs="unbounded" name="addresses">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element minOccurs="0" maxOccurs="unbounded" name="Address">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element type="xs:string" nillable="false" maxOccurs="unbounded" name="integrationKey" xmlns=""/>
                                                    <xs:element type="xs:string" nillable="true" minOccurs="0" maxOccurs="unbounded" name="sapCustomerID" xmlns=""/>
                                                    <xs:element type="xs:boolean" nillable="true" minOccurs="0" maxOccurs="unbounded" name="duplicate" xmlns=""/>
                                                    <xs:element type="xs:string" nillable="true" minOccurs="0" maxOccurs="unbounded" name="company" xmlns=""/>
                                                    <xs:element type="xs:string" nillable="true" minOccurs="0" maxOccurs="unbounded" name="district" xmlns=""/>
                                                    <xs:element type="xs:string" nillable="true" minOccurs="0" maxOccurs="unbounded" name="town" xmlns=""/>
                                                    <xs:element type="xs:boolean" nillable="true" minOccurs="0" maxOccurs="unbounded" name="shippingAddress" xmlns=""/>
                                                    <xs:element type="xs:string" nillable="true" minOccurs="0" maxOccurs="unbounded" name="sapAddressUUID" xmlns=""/>
                                                    <xs:element type="xs:boolean" nillable="true" minOccurs="0" maxOccurs="unbounded" name="billingAddress" xmlns=""/>
                                                    <xs:element type="xs:string" nillable="true" minOccurs="0" maxOccurs="unbounded" name="streetnumber" xmlns=""/>
                                                    <xs:element type="xs:string" nillable="true" minOccurs="0" maxOccurs="unbounded" name="postalcode" xmlns=""/>
                                                    <xs:element type="xs:string" nillable="true" minOccurs="0" maxOccurs="unbounded" name="streetname" xmlns=""/>
                                                    <xs:element type="xs:string" nillable="true" minOccurs="0" maxOccurs="unbounded" name="sapAddressUsage" xmlns=""/>
                                                    <xs:element type="xs:string" nillable="true" minOccurs="0" maxOccurs="unbounded" name="sapMessageFunction" xmlns=""/>
                                                    <xs:element type="xs:string" nillable="true" minOccurs="0" maxOccurs="unbounded" name="sapAddressUsageCounter" xmlns=""/>
                                                    <xs:element type="xs:string" nillable="true" minOccurs="0" maxOccurs="unbounded" name="phone1" xmlns=""/>
                                                    <xs:element type="xs:string" nillable="true" minOccurs="0" maxOccurs="unbounded" name="pobox" xmlns=""/>
                                                    <xs:element type="xs:string" nillable="true" minOccurs="0" maxOccurs="unbounded" name="publicKey" xmlns=""/>
                                                    <xs:element type="xs:string" nillable="true" minOccurs="0" maxOccurs="unbounded" name="cellphone" xmlns=""/>
                                                    <xs:element type="xs:string" nillable="true" minOccurs="0" maxOccurs="unbounded" name="fax" xmlns=""/>
                                                    <xs:element nillable="true" minOccurs="0" maxOccurs="unbounded" name="region">
                                                        <xs:complexType>
                                                            <xs:sequence>
                                                                <xs:element minOccurs="0" maxOccurs="1" name="Region">
                                                                    <xs:complexType>
                                                                        <xs:sequence>
                                                                            <xs:element type="xs:string" nillable="false" maxOccurs="unbounded" name="integrationKey" xmlns=""/>
                                                                            <xs:element type="xs:string" nillable="false" maxOccurs="unbounded" name="isocode" xmlns=""/>
                                                                            <xs:element nillable="true" minOccurs="0" maxOccurs="unbounded" name="country">
                                                                                <xs:complexType>
                                                                                    <xs:sequence>
                                                                                        <xs:element minOccurs="0" maxOccurs="1" name="Country">
                                                                                            <xs:complexType>
                                                                                                <xs:sequence>
                                                                                                    <xs:element type="xs:string" nillable="false" maxOccurs="unbounded" name="integrationKey" xmlns=""/>
                                                                                                    <xs:element type="xs:string" nillable="false" maxOccurs="unbounded" name="isocode" xmlns=""/>
                                                                                                </xs:sequence>
                                                                                            </xs:complexType>
                                                                                        </xs:element>
                                                                                    </xs:sequence>
                                                                                </xs:complexType>
                                                                            </xs:element>
                                                                        </xs:sequence>
                                                                    </xs:complexType>
                                                                </xs:element>
                                                            </xs:sequence>
                                                        </xs:complexType>
                                                    </xs:element>
                                                    <xs:element nillable="true" minOccurs="0" maxOccurs="unbounded" name="country">
                                                        <xs:complexType>
                                                            <xs:sequence>
                                                                <xs:element minOccurs="0" maxOccurs="1" name="Country">
                                                                    <xs:complexType>
                                                                        <xs:sequence>
                                                                            <xs:element type="xs:string" nillable="false" maxOccurs="unbounded" name="integrationKey" xmlns=""/>
                                                                            <xs:element type="xs:string" nillable="false" maxOccurs="unbounded" name="isocode" xmlns=""/>
                                                                        </xs:sequence>
                                                                    </xs:complexType>
                                                                </xs:element>
                                                            </xs:sequence>
                                                        </xs:complexType>
                                                    </xs:element>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element nillable="true" minOccurs="0" maxOccurs="unbounded" name="userPriceGroup">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element minOccurs="0" maxOccurs="1" name="UserPriceGroup">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element type="xs:string" nillable="false" maxOccurs="unbounded" name="integrationKey" xmlns=""/>
                                                    <xs:element type="xs:string" nillable="false" maxOccurs="unbounded" name="code" xmlns=""/>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element nillable="true" minOccurs="0" maxOccurs="unbounded" name="groups">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element minOccurs="0" maxOccurs="unbounded" name="UserGroup">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element type="xs:string" nillable="false" maxOccurs="unbounded" name="integrationKey" xmlns=""/>
                                                    <xs:element type="xs:string" nillable="false" maxOccurs="unbounded" name="uid" xmlns=""/>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element minOccurs="0" maxOccurs="1" name="link">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element nillable="true" minOccurs="0" maxOccurs="unbounded" name="userDiscountGroup">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element minOccurs="0" maxOccurs="1" name="UserDiscountGroup">
                                                        <xs:complexType>
                                                            <xs:sequence>
                                                                <xs:element type="xs:string" minOccurs="1" maxOccurs="1" name="integrationKey" xmlns=""/>
                                                            </xs:sequence>
                                                        </xs:complexType>
                                                    </xs:element>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element nillable="true" minOccurs="0" maxOccurs="unbounded" name="addresses">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element minOccurs="0" maxOccurs="unbounded" name="Address">
                                                        <xs:complexType>
                                                            <xs:sequence>
                                                                <xs:element type="xs:string" minOccurs="1" maxOccurs="1" name="integrationKey" xmlns=""/>
                                                            </xs:sequence>
                                                        </xs:complexType>
                                                    </xs:element>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element nillable="true" minOccurs="0" maxOccurs="unbounded" name="userPriceGroup">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element minOccurs="0" maxOccurs="1" name="UserPriceGroup">
                                                        <xs:complexType>
                                                            <xs:sequence>
                                                                <xs:element type="xs:string" minOccurs="1" maxOccurs="1" name="integrationKey" xmlns=""/>
                                                            </xs:sequence>
                                                        </xs:complexType>
                                                    </xs:element>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element nillable="true" minOccurs="0" maxOccurs="unbounded" name="groups">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element minOccurs="0" maxOccurs="unbounded" name="UserGroup">
                                                        <xs:complexType>
                                                            <xs:sequence>
                                                                <xs:element type="xs:string" minOccurs="1" maxOccurs="1" name="integrationKey" xmlns=""/>
                                                            </xs:sequence>
                                                        </xs:complexType>
                                                    </xs:element>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>
