Resources/schemas/Xsd/SAP_SuccessFactors_Recruiting_Management_Integration_with_Saudi_Arabia's_Ministry_of_Interior - Assessment_Source.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema
    elementFormDefault="qualified"
    targetNamespace="http://schemas.xmlsoap.org/soap/envelope/"
    xmlns:soap="http://schemas.xmlsoap.org/soap/envelope/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <xsd:element name="Envelope">
        <xsd:complexType mixed="true">
            <xsd:sequence>
                <xsd:element
                    minOccurs="0" name="Body">
                    <xsd:complexType mixed="true">
                        <xsd:sequence>
                            <xsd:element
                                minOccurs="0" name="Fault">
                                <xsd:complexType mixed="true">
                                    <xsd:sequence>
                                    <xsd:element
                                    minOccurs="0"
                                    name="faultstring" type="xsd:string"/>
                                    <xsd:element
                                    minOccurs="0"
                                    name="faultcode" type="xsd:normalizedString"/>
                                    </xsd:sequence>
                                </xsd:complexType>
                            </xsd:element>
                        </xsd:sequence>
                    </xsd:complexType>
                </xsd:element>
                <xsd:element
                    minOccurs="0"
                    name="Header" type="xsd:string"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>