Resources/schemas/Xsd/SAP_SuccessFactors_Recruiting_Management_Integration_with_Third_Party_Assessment_Vendor_-_People_Answers - AssessmentOrderEntityquerySync0.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?><xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema"><xs:element name="queryAssessmentOrderResponse"><xs:complexType><xs:sequence><xs:element minOccurs="0" maxOccurs="unbounded" name="AssessmentOrder"><xs:complexType><xs:sequence><xs:element type="xs:int" nillable="true" minOccurs="0" maxOccurs="unbounded" name="applicationId" xmlns=""/><xs:element type="xs:int" nillable="true" minOccurs="0" maxOccurs="unbounded" name="applicationTemplateId" xmlns=""/><xs:element type="xs:string" nillable="true" minOccurs="0" maxOccurs="unbounded" name="assessmentPackageCode" xmlns=""/><xs:element type="xs:int" nillable="true" minOccurs="0" maxOccurs="unbounded" name="candidateId" xmlns=""/><xs:element type="xs:int" nillable="true" minOccurs="0" maxOccurs="unbounded" name="candidateTemplateId" xmlns=""/><xs:element type="xs:string" nillable="true" minOccurs="0" maxOccurs="unbounded" name="clientId" xmlns=""/><xs:element type="xs:string" nillable="true" minOccurs="0" maxOccurs="unbounded" name="handbackUrl" xmlns=""/><xs:element type="xs:string" nillable="false" maxOccurs="unbounded" name="id" xmlns=""/><xs:element type="xs:int" nillable="true" minOccurs="0" maxOccurs="unbounded" name="jobReqId" xmlns=""/><xs:element type="xs:int" nillable="true" minOccurs="0" maxOccurs="unbounded" name="jobReqTemplateId" xmlns=""/><xs:element type="xs:string" nillable="true" minOccurs="0" maxOccurs="unbounded" name="partnerId" xmlns=""/><xs:element type="xs:string" nillable="true" minOccurs="0" maxOccurs="unbounded" name="vendorCode" xmlns=""/></xs:sequence></xs:complexType></xs:element></xs:sequence></xs:complexType></xs:element></xs:schema>