Resources/schemas/Xsd/SAP_Cloud_for_Customer_Integration_with_Identity_Provisioning_via_System_for_Cross-domain_Identity_Management - PatchOperationRequest.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Operation">
    <xs:complexType>
      <xs:sequence>
        <xs:element type="xs:string" name="schemas" minOccurs="0"/>
        <xs:element type="xs:string" name="id" minOccurs="0"/>
        <xs:element type="xs:string" name="displayName" minOccurs="0"/>
        <xs:element name="members" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="value"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
