Resources/schemas/Xsd/SAP_Business_ByDesign_Master_Data_to_SAP_S-4HANA_Cloud_Public_Edition - Suppliers_Byd-1.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Supplier">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="General" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="SUPPLIER_ID"/>
              <xs:element type="xs:string" name="SUPPLIER_NAME"/>
              <xs:element type="xs:string" name="ADDITIONAL_NAME"/>
              <xs:element type="xs:string" name="DUNS"/>
              <xs:element type="xs:string" name="GLOB_LOC_NUMB"/>
              <xs:element type="xs:string" name="CARRIER_ALPHA_CODE"/>
              <xs:element type="xs:string" name="GERM_CUST_NUMB"/>
              <xs:element type="xs:string" name="CH_UID_NUMBER"/>
              <xs:element type="xs:string" name="GLO_CH_ENTP_ID_SUPP"/>
              <xs:element type="xs:string" name="BIDDER_IND"/>
              <xs:element type="xs:string" name="FREIGHT_FORWAR"/>
              <xs:element type="xs:string" name="LEGAL_FORM"/>
              <xs:element type="xs:string" name="ABC_ANALYSE"/>
              <xs:element type="xs:string" name="INDUSTRY"/>
              <xs:element type="xs:string" name="CERTIFIED_ACC_TO"/>
              <xs:element type="xs:string" name="CERTIFIED_VAL_TO"/>
              <xs:element type="xs:string" name="STATUS"/>
              <xs:element type="xs:string" name="MIN_PURCH_ORDER_VAL"/>
              <xs:element type="xs:string" name="MIN_PURCH_ORDER_CUR"/>
              <xs:element type="xs:string" name="INCOTERM"/>
              <xs:element type="xs:string" name="INCOTERM_LOCATION"/>
              <xs:element type="xs:string" name="PAYMENT_TERMS"/>
              <xs:element type="xs:string" name="PURCH_ORDER_CURRENCY"/>
              <xs:element type="xs:string" name="PURCHASING_UNIT_BLOCKED"/>
              <xs:element type="xs:string" name="CUSTOMER_ID_AT_SUPPLIER"/>
              <xs:element type="xs:string" name="PURCH_ORDER_ACK_REQU"/>
              <xs:element type="xs:string" name="EVAL_RECEIP_SETTLEMENT_IND"/>
              <xs:element type="xs:string" name="GLO_NL_CHAIN_LIABLTY_RLVNT_IND"/>
              <xs:element type="xs:string" name="GLO_IL_OCCUPATION"/>
              <xs:element type="xs:string" name="GLO_IL_TAXOFFICE"/>
              <xs:element type="xs:string" name="GLO_IL_TAX_PAYER_CATEGORY"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="ScriptVariantsGeneral" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:int" name="SUPPLIER_ID"/>
              <xs:element type="xs:string" name="SCRIPT_CODE"/>
              <xs:element type="xs:string" name="SUPPLIER_NAME"/>
              <xs:element type="xs:string" name="ADDITIONAL_NAME"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="Addresses" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="SUPPLIER_ID"/>
              <xs:element type="xs:string" name="COUNTRY"/>
              <xs:element type="xs:string" name="CARE_OF"/>
              <xs:element type="xs:string" name="HOUSE_NUMBER"/>
              <xs:element type="xs:string" name="STREET_1"/>
              <xs:element type="xs:string" name="STREET_2"/>
              <xs:element type="xs:string" name="STREET"/>
              <xs:element type="xs:string" name="STREET_4"/>
              <xs:element type="xs:string" name="STREET_5"/>
              <xs:element type="xs:string" name="CITY"/>
              <xs:element type="xs:string" name="DIFFERENT_CITY"/>
              <xs:element type="xs:string" name="REGION_STATE"/>
              <xs:element type="xs:string" name="POSTAL_ZIP_CODE"/>
              <xs:element type="xs:string" name="DISTRICT"/>
              <xs:element type="xs:string" name="COUNTYNAME"/>
              <xs:element type="xs:string" name="TAX_JURISDICTION_CODE"/>
              <xs:element type="xs:string" name="TIME_ZONE"/>
              <xs:element type="xs:string" name="COMPANY_ZIP_CODE"/>
              <xs:element type="xs:string" name="POSTBOX"/>
              <xs:element type="xs:string" name="POSTBOX_POSTAL_CODE"/>
              <xs:element type="xs:string" name="OTHER_PO_COUNTRY"/>
              <xs:element type="xs:string" name="OTHER_PO_CITY"/>
              <xs:element type="xs:string" name="OTHER_PO_STATE"/>
              <xs:element type="xs:string" name="SCRIPT_CODE_1"/>
              <xs:element type="xs:string" name="CARE_OF_1"/>
              <xs:element type="xs:string" name="HOUSE_NUMBER_1"/>
              <xs:element type="xs:string" name="STREET_1_SC1"/>
              <xs:element type="xs:string" name="STREET_2_SC1"/>
              <xs:element type="xs:string" name="STREET_SC1"/>
              <xs:element type="xs:string" name="STREET_4_SC1"/>
              <xs:element type="xs:string" name="STREET_5_SC1"/>
              <xs:element type="xs:string" name="CITY_1"/>
              <xs:element type="xs:string" name="DIFFERENT_CITY_1"/>
              <xs:element type="xs:string" name="DISTRICT_1"/>
              <xs:element type="xs:string" name="COUNTYNAME_1"/>
              <xs:element type="xs:string" name="OTHER_PO_CITY_1"/>
              <xs:element type="xs:string" name="SCRIPT_CODE_2"/>
              <xs:element type="xs:string" name="CARE_OF_2"/>
              <xs:element type="xs:string" name="HOUSE_NUMBER_2"/>
              <xs:element type="xs:string" name="STREET_1_SC2"/>
              <xs:element type="xs:string" name="STREET_2_SC2"/>
              <xs:element type="xs:string" name="STREET_SC2"/>
              <xs:element type="xs:string" name="STREET_4_SC2"/>
              <xs:element type="xs:string" name="STREET_5_SC2"/>
              <xs:element type="xs:string" name="CITY_2"/>
              <xs:element type="xs:string" name="DIFFERENT_CITY_2"/>
              <xs:element type="xs:string" name="DISTRICT_2"/>
              <xs:element type="xs:string" name="COUNTYNAME_2"/>
              <xs:element type="xs:string" name="OTHER_PO_CITY_2"/>
              <xs:element type="xs:string" name="MAIN"/>
              <xs:element type="xs:string" name="SHIP_FROM_IND"/>
              <xs:element type="xs:string" name="INVOICING_PARTY_IND"/>
              <xs:element type="xs:string" name="PAYEE_IND"/>
              <xs:element type="xs:string" name="REM_ADVICE_TO"/>
              <xs:element type="xs:string" name="PHONE"/>
              <xs:element type="xs:string" name="FAX"/>
              <xs:element type="xs:string" name="EMAIL"/>
              <xs:element type="xs:string" name="WEBSITE"/>
              <xs:element type="xs:string" name="COMMUNICATION_LANG"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="Collaboration" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="SUPPLIER_ID"/>
              <xs:element type="xs:string" name="BUSINESS_DOCUMENT_NAME"/>
              <xs:element type="xs:string" name="SEND_BY"/>
              <xs:element type="xs:string" name="NUMBER_OF_COPIES"/>
              <xs:element type="xs:string" name="FAX"/>
              <xs:element type="xs:string" name="E_MAIL"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="CollaborationMultiChannel" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="SUPPLIER_ID"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="Contacts" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="SUPPLIER_ID"/>
              <xs:element type="xs:int" name="CONTACT_ID"/>
              <xs:element type="xs:string" name="MAIN_CP"/>
              <xs:element type="xs:string" name="TITLE"/>
              <xs:element type="xs:string" name="ACADEMIC_TITLE"/>
              <xs:element type="xs:string" name="FIRST_NAME"/>
              <xs:element type="xs:string" name="LAST_NAME"/>
              <xs:element type="xs:string" name="PHONE"/>
              <xs:element type="xs:string" name="FAX"/>
              <xs:element type="xs:string" name="E_MAIL"/>
              <xs:element type="xs:string" name="MOBILE"/>
              <xs:element type="xs:string" name="LANGUAGE"/>
              <xs:element type="xs:string" name="FUNC_BUSI_CARD"/>
              <xs:element type="xs:string" name="DEP_BUSI_CARD"/>
              <xs:element type="xs:string" name="PROFESSION"/>
              <xs:element type="xs:string" name="VIP"/>
              <xs:element type="xs:string" name="GENDER"/>
              <xs:element type="xs:string" name="BIRTH_DATE"/>
              <xs:element type="xs:string" name="MARITAL_STATUS"/>
              <xs:element type="xs:string" name="FUNCTION"/>
              <xs:element type="xs:string" name="DEPARTMENT"/>
              <xs:element type="xs:string" name="COUNTRY"/>
              <xs:element type="xs:string" name="HOUSE_NUMBER"/>
              <xs:element type="xs:string" name="STREET_1"/>
              <xs:element type="xs:string" name="STREET_2"/>
              <xs:element type="xs:string" name="STREET"/>
              <xs:element type="xs:string" name="STREET_4"/>
              <xs:element type="xs:string" name="STREET_5"/>
              <xs:element type="xs:string" name="CITY"/>
              <xs:element type="xs:string" name="REGION_STATE"/>
              <xs:element type="xs:string" name="POSTAL_ZIP_CODE"/>
              <xs:element type="xs:string" name="DISTRICT"/>
              <xs:element type="xs:string" name="TIME_ZONE"/>
              <xs:element type="xs:string" name="BUILDING"/>
              <xs:element type="xs:string" name="ROOM"/>
              <xs:element type="xs:string" name="SCRIPT_CODE_1"/>
              <xs:element type="xs:string" name="HOUSE_NUMBER_1"/>
              <xs:element type="xs:string" name="STREET_1_SC1"/>
              <xs:element type="xs:string" name="STREET_2_SC1"/>
              <xs:element type="xs:string" name="STREET_SC1"/>
              <xs:element type="xs:string" name="STREET_4_SC1"/>
              <xs:element type="xs:string" name="STREET_5_SC1"/>
              <xs:element type="xs:string" name="CITY_1"/>
              <xs:element type="xs:string" name="DISTRICT_1"/>
              <xs:element type="xs:string" name="SCRIPT_CODE_2"/>
              <xs:element type="xs:string" name="HOUSE_NUMBER_2"/>
              <xs:element type="xs:string" name="STREET_1_SC2"/>
              <xs:element type="xs:string" name="STREET_2_SC2"/>
              <xs:element type="xs:string" name="STREET_SC2"/>
              <xs:element type="xs:string" name="STREET_4_SC2"/>
              <xs:element type="xs:string" name="STREET_5_SC2"/>
              <xs:element type="xs:string" name="CITY_2"/>
              <xs:element type="xs:string" name="DISTRICT_2"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="PaymentData" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="SUPPLIER_ID"/>
              <xs:element type="xs:int" name="COMPANY_ID"/>
              <xs:element type="xs:string" name="PAYMENT_FORM_1"/>
              <xs:element type="xs:string" name="PAYMENT_FORM_2"/>
              <xs:element type="xs:string" name="PAYMENT_FORM_3"/>
              <xs:element type="xs:string" name="PAYMENT_BLOCK_REASON"/>
              <xs:element type="xs:string" name="PAYMENT_EXP_DATE"/>
              <xs:element type="xs:string" name="ADVICE_IND"/>
              <xs:element type="xs:string" name="FIRST_INSTRUCTION_CODE"/>
              <xs:element type="xs:string" name="SECOND_INSTRUCTION_CODE"/>
              <xs:element type="xs:string" name="THIRD_INSTRUCTION_CODE"/>
              <xs:element type="xs:string" name="FOURTH_INSTRUCTION_CODE"/>
              <xs:element type="xs:string" name="COST_ASSIGNMENT"/>
              <xs:element type="xs:float" name="GLO_NL_CHAIN_LIABILITY_PERCENT"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="BankData" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="SUPPLIER_ID"/>
              <xs:element type="xs:string" name="BANK_KEY_TYPE"/>
              <xs:element type="xs:string" name="BANK_KEY"/>
              <xs:element type="xs:string" name="BANK_SWIFT_BIC"/>
              <xs:element type="xs:string" name="BANK_ACCOUNT_ID"/>
              <xs:element type="xs:string" name="CONTROL_KEY"/>
              <xs:element type="xs:string" name="ACCOUNT_HOLDER"/>
              <xs:element type="xs:string" name="IBAN"/>
              <xs:element type="xs:string" name="GIRO_ACCOUNT"/>
              <xs:element type="xs:dateTime" name="VALID_FROM_BANK"/>
              <xs:element type="xs:dateTime" name="VALID_TO_BANK"/>
              <xs:element type="xs:string" name="ISR_SUBSCRIBER_ID"/>
              <xs:element type="xs:string" name="ISR_CUSTOMER_ID"/>
              <xs:element type="xs:string" name="GLO_NL_G_ACCOUNT_INDICATOR"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="TaxNumbers" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="SUPPLIER_ID"/>
              <xs:element type="xs:string" name="TN_COUNTRY"/>
              <xs:element type="xs:string" name="TN_CATEGORY"/>
              <xs:element type="xs:string" name="TN_TAX_NUMBER"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="WithholdingTaxClasses" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="SUPPLIER_ID"/>
              <xs:element type="xs:string" name="COUNTRY"/>
              <xs:element type="xs:string" name="TAX_TYPE"/>
              <xs:element type="xs:string" name="TAX_RATE_TYPE"/>
              <xs:element type="xs:string" name="WITHH_TAX_INCOME_TYPE"/>
              <xs:element type="xs:string" name="WITHH_TAX_CERTIFICATE_ID"/>
              <xs:element type="xs:date" name="START_DATE"/>
              <xs:element type="xs:string" name="END_DATE"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="TaxExemptions" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="SUPPLIER_ID"/>
              <xs:element type="xs:string" name="COUNTRY"/>
              <xs:element type="xs:string" name="STATE"/>
              <xs:element type="xs:string" name="TAX_TYPE"/>
              <xs:element type="xs:string" name="TAX_EXEMPTION"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="Notes" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="SUPPLIER_ID"/>
              <xs:element type="xs:string" name="TEXT_TYPE"/>
              <xs:element type="xs:string" name="TEXT"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="Attachments" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="SUPPLIER_ID"/>
              <xs:element type="xs:string" name="URL_LINK"/>
              <xs:element type="xs:string" name="DOCUMENT_TITLE"/>
              <xs:element type="xs:string" name="DOCUMENT_TYPE"/>
              <xs:element type="xs:string" name="COMMENT"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>