Resources/schemas/Xsd/SAP_Build_Process_Automation_Integration_with_SAP_S-4HANA_for_Authorization_For_Expenditure - RFC Input.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="unqualified" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:sap-com:document:sap:rfc:functions">
  <xs:element name="ZWF_RFC_PS_UPDATE_BUDGET">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="I_PROJECT_DEFINITION" type="xs:string" />
  <xs:element name="I_WBSELEMENTS">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" name="item">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="PROJECTELEMENT" type="xs:string" />
              <xs:element name="TRANSACTIONCURRENCY" type="xs:string" />
              <xs:element name="PLANNINGCOST" type="xs:decimal" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>