Resources/schemas/Xsd/SAP_Commerce_Cloud_Integration_with_SAP_S-4HANA_Cloud - classificationAttributeWithDefaultAttributeValues.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="ClassificationAttribute" type="ClassificationAttribute"/>
	<xs:complexType name="simpleHybrisField">
		<xs:simpleContent>
			<xs:extension base="xs:string">
				<xs:attribute name="header" type="xs:string"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="localizedHybrisField">
		<xs:sequence>
			<xs:element maxOccurs="unbounded" minOccurs="0" name="value">
				<xs:complexType>
					<xs:simpleContent>
						<xs:extension base="xs:string">
							<xs:attribute name="locale" type="xs:string"/>
						</xs:extension>
					</xs:simpleContent>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="header" type="xs:string"/>
	</xs:complexType>
	<xs:complexType name="ClassificationAttribute">
		<xs:sequence>
			<xs:element name="code" type="simpleHybrisField"/>
			<xs:element name="systemVersion" type="simpleHybrisField"/>
			<xs:element name="defaultAttributeValues" type="simpleHybrisField"/>
		</xs:sequence>
	</xs:complexType>
</xs:schema>