Resources/schemas/Xsd/SAP_Commerce_Cloud_Integration_with_SAP_Master_Data_Integration_for_Products - mdi230.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="root">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Product">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="odata.context"/>
              <xs:element name="value" maxOccurs="unbounded" minOccurs="1">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="instance">
                      <xs:complexType>
                        <xs:choice maxOccurs="unbounded" minOccurs="0">
                          <xs:element name="type">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element type="xs:string" name="code"/>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                          <xs:element type="xs:string" name="isProductHighlyViscous"/>
                          <xs:element type="xs:string" name="areProductEffectiveParameterValuesAssigned"/>
                          <xs:element type="xs:string" name="isProductEnvironmentallyRelevant"/>
                          <xs:element type="xs:string" name="isApprovedBatchRecordRequired"/>
                          <xs:element type="xs:string" name="isInBulkTransport"/>
                          <xs:element type="xs:string" name="isConfigurable"/>
                          <xs:element type="xs:string" name="isMarkedForDeletion"/>
                          <xs:element type="xs:string" name="isBatchManagementRequired"/>
                          <xs:element type="xs:string" name="displayId"/>
                          <xs:element type="xs:string" name="isRelevantForHazardousSubstances"/>
                          <xs:element type="xs:string" name="isProductLocked"/>
                          <xs:element name="salesAspect">
                            <xs:complexType>
                              <xs:choice maxOccurs="unbounded" minOccurs="0">
                                <xs:element type="xs:byte" name="stackingFactor"/>
                                <xs:element name="itemCategoryGroup">
                                  <xs:complexType>
                                    <xs:sequence>
                                      <xs:element type="xs:string" name="code"/>
                                    </xs:sequence>
                                  </xs:complexType>
                                </xs:element>
                                <xs:element type="xs:float" name="excessVolumeTolerance"/>
                                <xs:element type="xs:string" name="isClosedPackagingProduct"/>
                                <xs:element type="xs:float" name="excessWeightTolerance"/>
                                <xs:element name="division">
                                  <xs:complexType>
                                    <xs:sequence>
                                      <xs:element type="xs:string" name="code"/>
                                    </xs:sequence>
                                  </xs:complexType>
                                </xs:element>
                                <xs:element name="salesPlant">
                                  <xs:complexType>
                                    <xs:sequence>
                                      <xs:element type="xs:float" name="capacityPlanningQuantityInBaseUom"/>
                                      <xs:element type="xs:short" name="id"/>
                                    </xs:sequence>
                                  </xs:complexType>
                                </xs:element>
                                <xs:element name="salesTaxes">
                                  <xs:complexType>
                                    <xs:choice maxOccurs="unbounded" minOccurs="0">
                                      <xs:element name="country">
                                        <xs:complexType>
                                          <xs:sequence>
                                            <xs:element type="xs:string" name="code"/>
                                          </xs:sequence>
                                        </xs:complexType>
                                      </xs:element>
                                      <xs:element name="taxRateType">
                                        <xs:complexType>
                                          <xs:sequence>
                                            <xs:element type="xs:string" name="code"/>
                                          </xs:sequence>
                                        </xs:complexType>
                                      </xs:element>
                                      <xs:element name="taxType">
                                        <xs:complexType>
                                          <xs:sequence>
                                            <xs:element type="xs:string" name="code"/>
                                          </xs:sequence>
                                        </xs:complexType>
                                      </xs:element>
                                    </xs:choice>
                                  </xs:complexType>
                                </xs:element>
                                <xs:element name="salesDistributionChains">
                                  <xs:complexType>
                                    <xs:sequence>
                                      <xs:element type="xs:float" name="minimumOrderQuantity" minOccurs="0"/>
                                      <xs:element type="xs:string" name="cashDiscountIndicator" minOccurs="0"/>
                                      <xs:element name="itemCategoryGroup" minOccurs="0">
                                        <xs:complexType>
                                          <xs:sequence>
                                            <xs:element type="xs:string" name="code"/>
                                          </xs:sequence>
                                        </xs:complexType>
                                      </xs:element>
                                      <xs:element name="deliveryQuantityUnit" minOccurs="0">
                                        <xs:complexType>
                                          <xs:sequence>
                                            <xs:element type="xs:string" name="code"/>
                                          </xs:sequence>
                                        </xs:complexType>
                                      </xs:element>
                                      <xs:element type="xs:float" name="deliveryNoteMinimumDeliveryQuantity" minOccurs="0"/>
                                      <xs:element type="xs:float" name="deliveryQuantity" minOccurs="0"/>
                                      <xs:element type="xs:string" name="productHasAttributeId10" minOccurs="0"/>
                                      <xs:element type="xs:string" name="id"/>
                                      <xs:element name="distributionChannel">
                                        <xs:complexType>
                                          <xs:sequence>
                                            <xs:element type="xs:byte" name="code"/>
                                          </xs:sequence>
                                        </xs:complexType>
                                      </xs:element>
                                      <xs:element type="xs:string" name="productHasAttributeId06" minOccurs="0"/>
                                      <xs:element type="xs:string" name="productHasAttributeId07" minOccurs="0"/>
                                      <xs:element type="xs:string" name="productHasAttributeId04" minOccurs="0"/>
                                      <xs:element type="xs:string" name="productHasAttributeId05" minOccurs="0"/>
                                      <xs:element type="xs:string" name="productHasAttributeId08" minOccurs="0"/>
                                      <xs:element type="xs:string" name="productHasAttributeId09" minOccurs="0"/>
                                      <xs:element type="xs:float" name="minimumMakeToOrderQuantity" minOccurs="0"/>
                                      <xs:element type="xs:string" name="isMarkedForDeletion" minOccurs="0"/>
                                      <xs:element type="xs:string" name="productHasAttributeId02" minOccurs="0"/>
                                      <xs:element name="productAccountAssignmentGroup" minOccurs="0">
                                        <xs:complexType>
                                          <xs:sequence>
                                            <xs:element type="xs:string" name="code"/>
                                          </xs:sequence>
                                        </xs:complexType>
                                      </xs:element>
                                      <xs:element type="xs:string" name="productHasAttributeId03" minOccurs="0"/>
                                      <xs:element type="xs:string" name="variableSalesUnitIsNotAllowed" minOccurs="0"/>
                                      <xs:element type="xs:string" name="productHasAttributeId01" minOccurs="0"/>
                                    </xs:sequence>
                                  </xs:complexType>
                                </xs:element>
                                <xs:element name="contractAccountingBillingCycle">
                                  <xs:complexType>
                                    <xs:sequence>
                                      <xs:element type="xs:string" name="code"/>
                                    </xs:sequence>
                                  </xs:complexType>
                                </xs:element>
                                <xs:element name="productBillingCycleDetermination">
                                  <xs:complexType>
                                    <xs:sequence>
                                      <xs:element type="xs:string" name="code"/>
                                    </xs:sequence>
                                  </xs:complexType>
                                </xs:element>
                                <xs:element name="contractAutoRenewalType">
                                  <xs:complexType>
                                    <xs:sequence>
                                      <xs:element type="xs:byte" name="code"/>
                                    </xs:sequence>
                                  </xs:complexType>
                                </xs:element>
                                <xs:element type="xs:short" name="minimumDuration"/>
                                <xs:element name="minimumDurationUnit">
                                  <xs:complexType>
                                    <xs:sequence>
                                      <xs:element type="xs:string" name="code"/>
                                    </xs:sequence>
                                  </xs:complexType>
                                </xs:element>
                                <xs:element type="xs:string" name="isInitialFixedDuration"/>
                                <xs:element type="xs:short" name="termOfNotice"/>
                                <xs:element name="termOfNoticeUnit">
                                  <xs:complexType>
                                    <xs:sequence>
                                      <xs:element type="xs:string" name="code"/>
                                    </xs:sequence>
                                  </xs:complexType>
                                </xs:element>
                                <xs:element type="xs:short" name="defaultDuration"/>
                                <xs:element name="durationUnit">
                                  <xs:complexType>
                                    <xs:sequence>
                                      <xs:element type="xs:string" name="code"/>
                                    </xs:sequence>
                                  </xs:complexType>
                                </xs:element>
                                <xs:element type="xs:short" name="defaultExtensionDuration"/>
                                <xs:element name="extensionDurationUnit">
                                  <xs:complexType>
                                    <xs:sequence>
                                      <xs:element type="xs:byte" name="code"/>
                                    </xs:sequence>
                                  </xs:complexType>
                                </xs:element>
                                <xs:element name="transportationGroup">
                                  <xs:complexType>
                                    <xs:sequence>
                                      <xs:element type="xs:string" name="code"/>
                                    </xs:sequence>
                                  </xs:complexType>
                                </xs:element>
                                <xs:element name="salesStatus">
                                  <xs:complexType>
                                    <xs:sequence>
                                      <xs:element type="xs:string" name="code"/>
                                    </xs:sequence>
                                  </xs:complexType>
                                </xs:element>
                                <xs:element type="xs:date" name="salesStatusValidityDate"/>
                                <xs:element type="xs:float" name="allowedPackagingVolumeQuantity"/>
                                <xs:element type="xs:float" name="allowedPackagingWeightQuantity"/>
                                <xs:element name="packagingProductType">
                                  <xs:complexType>
                                    <xs:sequence>
                                      <xs:element type="xs:string" name="code"/>
                                    </xs:sequence>
                                  </xs:complexType>
                                </xs:element>
                                <xs:element name="productFreightGroup">
                                  <xs:complexType>
                                    <xs:sequence>
                                      <xs:element type="xs:string" name="code"/>
                                    </xs:sequence>
                                  </xs:complexType>
                                </xs:element>
                                <xs:element name="allowedPackagingVolumeQuantityUnit">
                                  <xs:complexType>
                                    <xs:sequence>
                                      <xs:element type="xs:string" name="code"/>
                                    </xs:sequence>
                                  </xs:complexType>
                                </xs:element>
                                <xs:element name="allowedPackagingWeightQuantityUnit">
                                  <xs:complexType>
                                    <xs:sequence>
                                      <xs:element type="xs:string" name="code"/>
                                    </xs:sequence>
                                  </xs:complexType>
                                </xs:element>
                                <xs:element name="productHierarchy">
                                  <xs:complexType>
                                    <xs:sequence>
                                      <xs:element type="xs:string" name="code"/>
                                    </xs:sequence>
                                  </xs:complexType>
                                </xs:element>
                              </xs:choice>
                            </xs:complexType>
                          </xs:element>
                          <xs:element name="qualityInspectionAspect">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element type="xs:string" name="isActive"/>
                                <xs:element name="plants" maxOccurs="unbounded" minOccurs="0">
                                  <xs:complexType>
                                    <xs:sequence>
                                      <xs:element type="xs:string" name="isDocumentationRequired"/>
                                      <xs:element type="xs:string" name="hasPostToInspectionStock"/>
                                      <xs:element type="xs:byte" name="inspectionIntervalInDays"/>
                                      <xs:element type="xs:short" name="id"/>
                                    </xs:sequence>
                                  </xs:complexType>
                                </xs:element>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                          <xs:element name="productionAspect">
                            <xs:complexType>
                              <xs:choice maxOccurs="unbounded" minOccurs="0">
                                <xs:element type="xs:short" name="totalShelfLifeStoragePercent"/>
                                <xs:element type="xs:byte" name="totalShelfLife"/>
                                <xs:element type="xs:string" name="expirationDate"/>
                                <xs:element name="productPlanningPlants">
                                  <xs:complexType>
                                    <xs:sequence>
                                      <xs:element type="xs:string" name="isItemRelevantToJITDeliverySchedules"/>
                                      <xs:element type="xs:string" name="isCorrectionFactorRequired"/>
                                      <xs:element type="xs:float" name="purchaseOrderRoundingValue"/>
                                      <xs:element type="xs:float" name="minimumLotSize"/>
                                      <xs:element type="xs:float" name="reOrderThresholdQuantity"/>
                                      <xs:element type="xs:short" name="id"/>
                                      <xs:element type="xs:float" name="fixedLotSize"/>
                                      <xs:element type="xs:string" name="forecastModelResetIndicator"/>
                                      <xs:element type="xs:float" name="minimumSafetyStockQuantity"/>
                                      <xs:element type="xs:string" name="isProductWithdrawnFromProductionBin"/>
                                      <xs:element type="xs:float" name="setupAndTearDownTime"/>
                                      <xs:element type="xs:float" name="safetyStockQuantity"/>
                                      <xs:element type="xs:float" name="maximumStockQuantity"/>
                                      <xs:element type="xs:string" name="isRepetitiveManufacturingAllowed"/>
                                      <xs:element type="xs:string" name="isCoProduct"/>
                                      <xs:element type="xs:float" name="maximumLotSize"/>
                                      <xs:element name="periodType" minOccurs="0">
                                        <xs:complexType>
                                          <xs:sequence>
                                            <xs:element type="xs:string" name="code"/>
                                          </xs:sequence>
                                        </xs:complexType>
                                      </xs:element>
                                      <xs:element type="xs:string" name="cycleCountingIndicator"/>
                                      <xs:element name="procurementType" minOccurs="0">
                                        <xs:complexType>
                                          <xs:sequence>
                                            <xs:element type="xs:string" name="code"/>
                                          </xs:sequence>
                                        </xs:complexType>
                                      </xs:element>
                                    </xs:sequence>
                                  </xs:complexType>
                                </xs:element>
                                <xs:element name="productMovementPlants">
                                  <xs:complexType>
                                    <xs:sequence>
                                      <xs:element type="xs:string" name="isBulkComponent"/>
                                      <xs:element type="xs:string" name="isOriginalBatchManagementAllowed"/>
                                      <xs:element type="xs:string" name="isUnlimitedOverdeliveryAllowed"/>
                                      <xs:element type="xs:short" name="id"/>
                                    </xs:sequence>
                                  </xs:complexType>
                                </xs:element>
                                <xs:element name="productSCMPlants">
                                  <xs:complexType>
                                    <xs:sequence>
                                      <xs:element type="xs:float" name="safetyViolationPenalty"/>
                                      <xs:element type="xs:string" name="arePeggingAlertsRequired"/>
                                      <xs:element type="xs:string" name="useReceiptElementFullQuantity"/>
                                      <xs:element type="xs:string" name="useLocationDependentShelfLife"/>
                                      <xs:element type="xs:string" name="useStockElementFullQuantity"/>
                                      <xs:element type="xs:byte" name="locationDependentMinShelfLife"/>
                                      <xs:element type="xs:short" name="id"/>
                                      <xs:element type="xs:float" name="productDependentStorageCost"/>
                                    </xs:sequence>
                                  </xs:complexType>
                                </xs:element>
                                <xs:element name="storageConditions">
                                  <xs:complexType>
                                    <xs:sequence>
                                      <xs:element type="xs:string" name="code"/>
                                    </xs:sequence>
                                  </xs:complexType>
                                </xs:element>
                                <xs:element name="temperatureConditionIndicator">
                                  <xs:complexType>
                                    <xs:sequence>
                                      <xs:element type="xs:string" name="code"/>
                                    </xs:sequence>
                                  </xs:complexType>
                                </xs:element>
                                <xs:element type="xs:string" name="hazardousProductNumber"/>
                                <xs:element name="labelType">
                                  <xs:complexType>
                                    <xs:sequence>
                                      <xs:element type="xs:string" name="code"/>
                                    </xs:sequence>
                                  </xs:complexType>
                                </xs:element>
                                <xs:element name="labelForm">
                                  <xs:complexType>
                                    <xs:sequence>
                                      <xs:element type="xs:string" name="code"/>
                                    </xs:sequence>
                                  </xs:complexType>
                                </xs:element>
                                <xs:element type="xs:float" name="numberOfGoodsReceiptOrGoodsInboundSlipsToPrintQuantity"/>
                                <xs:element name="shelfLifeExpirationDatePeriod">
                                  <xs:complexType>
                                    <xs:sequence>
                                      <xs:element type="xs:string" name="code"/>
                                    </xs:sequence>
                                  </xs:complexType>
                                </xs:element>
                                <xs:element name="containerRequirement">
                                  <xs:complexType>
                                    <xs:sequence>
                                      <xs:element type="xs:string" name="code"/>
                                    </xs:sequence>
                                  </xs:complexType>
                                </xs:element>
                                <xs:element name="shelfLifeExpirationDateRoundingRule">
                                  <xs:complexType>
                                    <xs:sequence>
                                      <xs:element type="xs:string" name="code"/>
                                    </xs:sequence>
                                  </xs:complexType>
                                </xs:element>
                                <xs:element type="xs:string" name="isGoodsReceiptSingleUnitBatchAllowed"/>
                              </xs:choice>
                            </xs:complexType>
                          </xs:element>
                          <xs:element name="unitOfMeasures">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="measurementUnit">
                                  <xs:complexType>
                                    <xs:sequence>
                                      <xs:element type="xs:string" name="code"/>
                                    </xs:sequence>
                                  </xs:complexType>
                                </xs:element>
                                <xs:element name="productDimensions" maxOccurs="unbounded" minOccurs="0">
                                  <xs:complexType>
                                    <xs:sequence>
                                      <xs:element name="dimensionName">
                                        <xs:complexType>
                                          <xs:sequence>
                                            <xs:element type="xs:string" name="code"/>
                                          </xs:sequence>
                                        </xs:complexType>
                                      </xs:element>
                                      <xs:element type="xs:float" name="dimensionValue"/>
                                      <xs:element name="measurementUnit">
                                        <xs:complexType>
                                          <xs:sequence>
                                            <xs:element type="xs:string" name="code"/>
                                          </xs:sequence>
                                        </xs:complexType>
                                      </xs:element>
                                    </xs:sequence>
                                  </xs:complexType>
                                </xs:element>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                          <xs:element name="document">
                            <xs:complexType>
                              <xs:choice maxOccurs="unbounded" minOccurs="0">
                                <xs:element type="xs:string" name="pageCount"/>
                                <xs:element type="xs:string" name="isCreatedByCAD"/>
                                <xs:element type="xs:string" name="pageNumber"/>
                                <xs:element type="xs:string" name="pageFormat"/>
                                <xs:element type="xs:string" name="documentNumber"/>
                                <xs:element type="xs:string" name="changeNumber"/>
                                <xs:element type="xs:string" name="documentVersion"/>
                                <xs:element type="xs:string" name="documentType"/>
                              </xs:choice>
                            </xs:complexType>
                          </xs:element>
                          <xs:element name="servicePartsManagementAspect">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element type="xs:float" name="overcapacityTolerance"/>
                                <xs:element type="xs:string" name="hasVariableTareWeight"/>
                                <xs:element type="xs:float" name="maximumCapacity"/>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                          <xs:element name="name">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element type="xs:string" name="lang"/>
                                <xs:element type="xs:string" name="content"/>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                          <xs:element name="unitOfMeasureConversions">
                            <xs:complexType>
                              <xs:choice maxOccurs="unbounded" minOccurs="0">
                                <xs:element type="xs:float" name="quantityDenominator"/>
                                <xs:element name="measurementUnit2">
                                  <xs:complexType>
                                    <xs:sequence>
                                      <xs:element type="xs:string" name="code"/>
                                    </xs:sequence>
                                  </xs:complexType>
                                </xs:element>
                                <xs:element type="xs:float" name="quantityNumerator"/>
                                <xs:element name="measurementUnit1">
                                  <xs:complexType>
                                    <xs:sequence>
                                      <xs:element type="xs:string" name="code"/>
                                    </xs:sequence>
                                  </xs:complexType>
                                </xs:element>
                              </xs:choice>
                            </xs:complexType>
                          </xs:element>
                          <xs:element type="xs:string" name="id"/>
                          <xs:element name="baseUnitOfMeasure">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element type="xs:string" name="code"/>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                          <xs:element type="xs:string" name="productGroupLocalIdS4"/>
                          <xs:element name="plants">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="serialNumberProfile" minOccurs="0">
                                  <xs:complexType>
                                    <xs:sequence>
                                      <xs:element type="xs:string" name="code"/>
                                    </xs:sequence>
                                  </xs:complexType>
                                </xs:element>
                                <xs:element type="xs:string" name="isNegativeStockAllowed" minOccurs="0"/>
                                <xs:element type="xs:string" name="isMarkedForDeletion" minOccurs="0"/>
                                <xs:element type="xs:string" name="isBatchManagementRequired" minOccurs="0"/>
                                <xs:element type="xs:string" name="id"/>
                                <xs:element type="xs:string" name="profitCenterLocalIdS4" minOccurs="0"/>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                          <xs:element name="procurementAspect">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="purchasingAcknowledgeProfile" minOccurs="0">
                                  <xs:complexType>
                                    <xs:sequence>
                                      <xs:element type="xs:string" name="code"/>
                                    </xs:sequence>
                                  </xs:complexType>
                                </xs:element>
                                <xs:element name="purchasingText" minOccurs="0">
                                  <xs:complexType>
                                    <xs:sequence>
                                      <xs:element type="xs:string" name="lang"/>
                                      <xs:element type="xs:string" name="content"/>
                                    </xs:sequence>
                                  </xs:complexType>
                                </xs:element>
                                <xs:element name="orderUnit" minOccurs="0">
                                  <xs:complexType>
                                    <xs:sequence>
                                      <xs:element type="xs:string" name="code"/>
                                    </xs:sequence>
                                  </xs:complexType>
                                </xs:element>
                                <xs:element name="procurementPlants" maxOccurs="unbounded" minOccurs="0">
                                  <xs:complexType>
                                    <xs:sequence>
                                      <xs:element type="xs:byte" name="purchasingGroupLocalIdS4" minOccurs="0"/>
                                      <xs:element type="xs:string" name="isAutomaticPurchaseOrderAllowed"/>
                                      <xs:element type="xs:string" name="isCriticalPart"/>
                                      <xs:element type="xs:string" name="isSourceListRequired"/>
                                      <xs:element type="xs:short" name="id"/>
                                    </xs:sequence>
                                  </xs:complexType>
                                </xs:element>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                          <xs:element type="xs:string" name="localIdS4"/>
                          <xs:element type="xs:string" name="industryStandardName"/>
                          <xs:element name="industrySector">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element type="xs:string" name="code"/>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                          <xs:element name="internationalTradeAspect">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="internationalTradePlants" maxOccurs="unbounded" minOccurs="0">
                                  <xs:complexType>
                                    <xs:sequence>
                                      <xs:element type="xs:short" name="id"/>
                                    </xs:sequence>
                                  </xs:complexType>
                                </xs:element>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                          <xs:element name="financialAspect">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="costingPlantData" maxOccurs="unbounded" minOccurs="0">
                                  <xs:complexType>
                                    <xs:sequence>
                                      <xs:element name="varianceKey" minOccurs="0">
                                        <xs:complexType>
                                          <xs:sequence>
                                            <xs:element type="xs:byte" name="code"/>
                                          </xs:sequence>
                                        </xs:complexType>
                                      </xs:element>
                                      <xs:element type="xs:short" name="id"/>
                                      <xs:element type="xs:string" name="isFixedPriceCoProduct"/>
                                      <xs:element type="xs:string" name="isProductCostingRelevant"/>
                                      <xs:element type="xs:float" name="costingLotSize"/>
                                    </xs:sequence>
                                  </xs:complexType>
                                </xs:element>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                          <xs:element name="dangerousGoodsIndicatorProfile">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element type="xs:string" name="code"/>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                          <xs:element name="serialNumberExplicitnessLevel">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element type="xs:byte" name="code"/>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                          <xs:element name="discountInKindEligibility">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element type="xs:byte" name="code"/>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                          <xs:element name="basicProduct">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element type="xs:string" name="code"/>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                          <xs:element type="xs:string" name="globalTradeItemNumberVariant"/>
                          <xs:element type="xs:string" name="productOldId"/>
                          <xs:element name="packagingProductGroup">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element type="xs:string" name="code"/>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                          <xs:element name="serialIdentifierAssignmentProfile">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element type="xs:string" name="code"/>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                          <xs:element name="brazilianANPCode">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element type="xs:string" name="code"/>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                          <xs:element name="memo">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element type="xs:string" name="productionOrInspectionText"/>
                                <xs:element type="xs:string" name="sizeOrDimensionText"/>
                                <xs:element type="xs:string" name="productionPageFormat"/>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                          <xs:element name="internalComment">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element type="xs:string" name="lang"/>
                                <xs:element type="xs:string" name="content"/>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                          <xs:element name="description">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element type="xs:string" name="lang"/>
                                <xs:element type="xs:string" name="content"/>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                          <xs:element name="brand">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element type="xs:string" name="code"/>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                          <xs:element name="category">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element type="xs:string" name="code"/>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                          <xs:element type="xs:string" name="manufacturerPartNumber"/>
                          <xs:element type="xs:string" name="authorizationGroup"/>
                          <xs:element name="crossPlantProductStatus">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element type="xs:string" name="code"/>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                          <xs:element type="xs:date" name="crossPlantProductStatusStartDate"/>
                          <xs:element name="digitalAssetsAspect">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element type="xs:string" name="image"/>
                                <xs:element type="xs:string" name="website"/>
                                <xs:element name="attachments" maxOccurs="unbounded" minOccurs="0">
                                  <xs:complexType>
                                    <xs:sequence>
                                      <xs:element name="usage">
                                        <xs:complexType>
                                          <xs:sequence>
                                            <xs:element type="xs:string" name="code"/>
                                          </xs:sequence>
                                        </xs:complexType>
                                      </xs:element>
                                      <xs:element type="xs:short" name="counter"/>
                                      <xs:element type="xs:string" name="url"/>
                                    </xs:sequence>
                                  </xs:complexType>
                                </xs:element>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                        </xs:choice>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="localIds" maxOccurs="unbounded" minOccurs="0">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="context">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element type="xs:string" name="application"/>
                                <xs:element type="xs:string" name="tenant"/>
                                <xs:element type="xs:string" name="type"/>
                                <xs:element type="xs:string" name="additionalContext"/>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                          <xs:element type="xs:string" name="status"/>
                          <xs:element type="xs:string" name="localId"/>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element type="xs:string" name="event"/>
                    <xs:element type="xs:string" name="versionId"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element type="xs:string" name="odata.deltaLink"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>