Resources/schemas/Xsd/SAP_S-4HANA_Integration_with_SAP_Build_Process_Automation_for_Finance_General_Ledger - SAPResponse.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- Created with Liquid Technologies Online Tools 1.0 (https://www.liquid-technologies.com) -->
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="ZGL_ACCT_MASTER_SAVE_RFC.Response">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="ACCOUNT_CAREAS" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="item">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="KEYY" minOccurs="0">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="KOKRS" type="xs:string" minOccurs="0" />
                          <xs:element name="SAKNR" type="xs:unsignedShort" minOccurs="0" />
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="DATA" minOccurs="0">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="KATYP" type="xs:unsignedByte" minOccurs="0" />
                          <xs:element name="MGEFL" minOccurs="0" />
                          <xs:element name="MSEHI" minOccurs="0" />
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="INFO" minOccurs="0">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="ERSDA" type="xs:string" minOccurs="0" />
                          <xs:element name="USNAM" minOccurs="0" />
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="FROMTO" minOccurs="0">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="DATAB" type="xs:string" minOccurs="0" />
                          <xs:element name="DATBI" type="xs:string" minOccurs="0" />
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="ACTION" type="xs:string" minOccurs="0" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="ACCOUNT_CCODES" minOccurs="0" />
        <xs:element name="ACCOUNT_COA" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="KEYY">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="KTOPL" type="xs:string" minOccurs="0" />
                    <xs:element name="SAKNR" type="xs:unsignedShort" minOccurs="0" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="DATA">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="GLACCOUNT_TYPE" type="xs:string" minOccurs="0" />
                    <xs:element name="GLACCOUNT_SUBTYPE" type="xs:string" minOccurs="0" />
                    <xs:element name="MAIN_SAKNR" minOccurs="0" />
                    <xs:element name="KTOKS" type="xs:string" minOccurs="0" />
                    <xs:element name="XBILK" minOccurs="0" />
                    <xs:element name="GVTYP" minOccurs="0" />
                    <xs:element name="FUNC_AREA" minOccurs="0" />
                    <xs:element name="MUSTR" minOccurs="0" />
                    <xs:element name="VBUND" minOccurs="0" />
                    <xs:element name="BILKT" type="xs:unsignedShort" minOccurs="0" />
                    <xs:element name="XLOEV" minOccurs="0" />
                    <xs:element name="XSPEA" minOccurs="0" />
                    <xs:element name="XSPEB" minOccurs="0" />
                    <xs:element name="XSPEP" minOccurs="0" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="INFO">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="ERDAT" type="xs:string" minOccurs="0" />
                    <xs:element name="ERNAM" minOccurs="0" />
                    <xs:element name="SAKAN" type="xs:unsignedShort" minOccurs="0" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="ACTION" type="xs:string" minOccurs="0" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="ACCOUNT_DELINP" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="KEYY">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="KTOPL" minOccurs="0" />
                    <xs:element name="SAKNR" minOccurs="0" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="DATA">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="NOT_NEEDED" minOccurs="0" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="ACTION" minOccurs="0" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="ACCOUNT_KEYWORDS" minOccurs="0" />
        <xs:element name="ACCOUNT_NAMES" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="item">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="KEYY">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="KTOPL" type="xs:string" minOccurs="0" />
                          <xs:element name="SAKNR" type="xs:unsignedShort" minOccurs="0" />
                          <xs:element name="SPRAS" type="xs:string" minOccurs="0" />
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="DATA">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="TXT20" type="xs:string" minOccurs="0" />
                          <xs:element name="TXT50" type="xs:string" minOccurs="0" />
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="ACTION" type="xs:string" minOccurs="0" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="ACCOUNT_PSM" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="KEYY">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="KTOPL" minOccurs="0" />
                    <xs:element name="SAKNR" minOccurs="0" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="DATA">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="BDGT_CNSMPN_TYPE" minOccurs="0" />
                    <xs:element name="BDGT_ACCT_REV_OR_EXP" minOccurs="0" />
                    <xs:element name="BDGT_RELEVANT" minOccurs="0" />
                    <xs:element name="BDGT_ACCT_POSTG_ALLWD" minOccurs="0" />
                    <xs:element name="BDGT_ACCT_BDGTG_ALLWD" minOccurs="0" />
                    <xs:element name="BDGT_ACCT_CF_USE" minOccurs="0" />
                    <xs:element name="BDGT_ACCT_CF_TO" minOccurs="0" />
                    <xs:element name="RE_ACCOUNT" minOccurs="0" />
                    <xs:element name="SPONSORED_CLASS" minOccurs="0" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="ACTION" minOccurs="0" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="RETURN">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="item">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="TYPE" type="xs:string" minOccurs="0" />
                    <xs:element name="ID" type="xs:string" minOccurs="0" />
                    <xs:element name="NUMBER" type="xs:unsignedByte" minOccurs="0" />
                    <xs:element name="MESSAGE" type="xs:string" minOccurs="0" />
                    <xs:element name="LOG_NO" minOccurs="0" />
                    <xs:element name="LOG_MSG_NO" type="xs:unsignedByte" minOccurs="0" />
                    <xs:element name="MESSAGE_V1" type="xs:unsignedShort" minOccurs="0" />
                    <xs:element name="MESSAGE_V2" type="xs:string" minOccurs="0" />
                    <xs:element name="MESSAGE_V3" minOccurs="0" />
                    <xs:element name="MESSAGE_V4" minOccurs="0" />
                    <xs:element name="PARAMETER" minOccurs="0" />
                    <xs:element name="ROW" type="xs:unsignedByte" minOccurs="0" />
                    <xs:element name="FIELD" minOccurs="0" />
                    <xs:element name="SYSTEM" minOccurs="0" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>