Resources/schemas/Xsd/SAP_Service_Cloud_Integration_with_SAP_Field_Service_Management - ItemWarehouseLevel.xsd

<xs:schema attributeFormDefault="unqualified"
	elementFormDefault="qualified"
	xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="ItemWarehouseLevel">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="data" minOccurs="0"
					maxOccurs="unbounded">
					<xs:complexType>
						<xs:sequence>
							<xs:element type="xs:string" name="externalId"
								minOccurs="0" maxOccurs="1" />
							<xs:element type="xs:string" name="item"
								minOccurs="0" maxOccurs="1" />	
							<xs:element type="xs:string" name="warehouse"
								minOccurs="0" maxOccurs="1" />
							<xs:element type="xs:string" name="inStock"
								minOccurs="0" maxOccurs="1" />
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>