Resources/schemas/Xsd/SAP_Revenue_Growth_Management_Integration_with_SAP_S-4HANA - lump-sum-schema.xsd

<xs:schema xmlns:s1="urn:sap-com:document:sap:rfc:functions" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:sap-com:document:sap:rfc:functions">
  <xs:element name="BAPI_CONDITION_CONTRACT_SYNC">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="HEADDATAIN">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="CONTRACT_TYPE"/>
              <xs:element type="xs:long" name="CUSTOMER_OWNER"/>
              <xs:element type="xs:string" name="SALESORG"/>
              <xs:element type="xs:string" name="DISTR_CHAN"/>
              <xs:element type="xs:string" name="DIVISION"/>
              <xs:element type="xs:string" name="DEACTIVATED"/>
              <xs:element type="xs:date" name="VALIDITY_DATE_FROM"/>
              <xs:element type="xs:date" name="VALIDITY_DATE_TO"/>
              <xs:element type="xs:string" name="COND_CONTRACT_CURRENCY"/>
              <xs:element type="xs:string" name="COND_CONTRACT_CURRENCY_ISO"/>
              <xs:element type="xs:byte" name="CONDITION_CONTRACT_EXTERNALCAT"/>
              <xs:element type="xs:string" name="CONDITION_CONTRACT_EXTERNALREF"/>
              <xs:element type="xs:byte" name="CONDITION_CONTRACT_EXTREFITEM"/>
              <xs:element type="xs:string" name="EXTERNAL_GUID"/>
              <xs:element type="xs:string" name="PROCESS_VARIANT"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="HEADDATAINSET">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="CONTRACT_TYPE"/>
              <xs:element type="xs:string" name="CUSTOMER_OWNER"/>
              <xs:element type="xs:string" name="SALESORG"/>
              <xs:element type="xs:string" name="DISTR_CHAN"/>
              <xs:element type="xs:string" name="DIVISION"/>
              <xs:element type="xs:string" name="DEACTIVATED"/>
              <xs:element type="xs:string" name="VALIDITY_DATE_FROM"/>
              <xs:element type="xs:string" name="VALIDITY_DATE_TO"/>
              <xs:element type="xs:string" name="COND_CONTRACT_CURRENCY"/>
              <xs:element type="xs:string" name="COND_CONTRACT_CURRENCY_ISO"/>
              <xs:element type="xs:string" name="CONDITION_CONTRACT_EXTERNALCAT"/>
              <xs:element type="xs:string" name="CONDITION_CONTRACT_EXTERNALREF"/>
              <xs:element type="xs:string" name="CONDITION_CONTRACT_EXTREFITEM"/>
              <xs:element type="xs:string" name="PROCESS_VARIANT"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="CONDITIONITEMDATAINSET">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="CALC_TYPE"/>
              <xs:element type="xs:string" name="AMOUNT"/>
              <xs:element type="xs:string" name="CONDCURR"/>
              <xs:element type="xs:string" name="CONDCURR_ISO"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="BVBDATAIN">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="item" maxOccurs="unbounded" minOccurs="0">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:byte" name="ORDER_KEY"/>
                    <xs:element type="xs:byte" name="FIELDCOMBINATION"/>
                    <xs:element type="xs:string" name="INCLUDE_EXCLUDE"/>
                    <xs:element type="xs:string" name="MATERIAL_NEW" minOccurs="0"/>
                    <xs:element type="xs:string" name="SALESORG_NEW" minOccurs="0"/>
                    <xs:element type="xs:long" name="CUST_HIER_NEW" minOccurs="0"/>
                    <xs:element type="xs:string" name="EXTERNAL_GUID"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="CONDITIONKEYDATAIN">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="item" maxOccurs="unbounded" minOccurs="0">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:byte" name="ORDER_KEY"/>
                    <xs:element type="xs:short" name="TABLE_NO"/>
                    <xs:element type="xs:string" name="COND_TYPE"/>
                    <xs:element type="xs:string" name="ACCRUAL_COND_TYPE"/>
                    <xs:element type="xs:date" name="VALID_FROM"/>
                    <xs:element type="xs:date" name="VALID_TO"/>
                    <xs:element type="xs:string" name="MATERIAL"/>
                    <xs:element type="xs:string" name="EXTERNAL_GUID"/>
                    <xs:element name="item">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element type="xs:byte" name="ORDER_KEY"/>
                          <xs:element type="xs:byte" name="COND_COUNT"/>
                          <xs:element type="xs:string" name="CALC_TYPE"/>
                          <xs:element type="xs:float" name="AMOUNT"/>
                          <xs:element type="xs:string" name="CONDCURR"/>
                          <xs:element type="xs:string" name="CONDCURR_ISO"/>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="CONDITIONITEMDATAIN">
        </xs:element>
        <xs:element name="CALENDARDATAIN">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="item">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:byte" name="ORDER_KEY"/>
                    <xs:element type="xs:date" name="SETTLEMENT_DATE"/>
                    <xs:element type="xs:string" name="EXTERNAL_GUID"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>