Resources/schemas/Xsd/SAP_Commerce_Cloud_Integration_with_SAP_S-4HANA_Cloud_-_Service - serviceOrder.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="SAPCpiOutboundServiceOrders">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="SAPCpiOutboundServiceOrder">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:short" name="orderId"/>
              <xs:element type="xs:short" name="serviceOrderId"/>
              <xs:element type="xs:short" name="commerceOrderId"/>
              <xs:element type="xs:short" name="integrationKey"/>
              <xs:element type="xs:short" name="responseMessage"/>
              <xs:element type="xs:short" name="responseStatus"/>
              <xs:element type="xs:short" name="creationDate"/>
              <xs:element type="xs:short" name="cancelReason"/>
              <xs:element type="xs:short" name="transactionType"/>
              <xs:element type="xs:short" name="languageIsoCode"/>
              
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>