Resources/schemas/Xsd/SAP_Complaint_Handling_Integration_with_Master_Data_and_Business_Objects - MaterialMasterPlantDataValidator.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified"
	xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="MaterialMasterPlantData">
		<xs:complexType>
			<xs:sequence>
				<xs:element maxOccurs="unbounded" name="row">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="materialCode">
								<xs:simpleType>
									<xs:restriction base="xs:string">
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="plant">
								<xs:simpleType>
									<xs:restriction base="xs:string">
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							
							<xs:element name="grossWeight" default="0.0">
 								<xs:simpleType>
 									<xs:restriction base="xs:decimal">
 									</xs:restriction>
 								</xs:simpleType>
							</xs:element>
								<xs:element name="weightUnit_code" >
 								<xs:simpleType>
 									<xs:restriction base="xs:string">
 									</xs:restriction>
 								</xs:simpleType>
							</xs:element>
							<xs:element name="netWeight" default="0.0">
								<xs:simpleType>
									<xs:restriction base="xs:decimal">
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="volume" default="0.0">
								<xs:simpleType>
									<xs:restriction base="xs:decimal">
									</xs:restriction>
								</xs:simpleType>
							</xs:element> 
							<xs:element name="serialNumberProfile">
								<xs:simpleType>
									<xs:restriction base="xs:string">
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="reorderPoint">
								<xs:simpleType>
									<xs:restriction base="xs:string">
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="mrpType">
								<xs:simpleType>
									<xs:restriction base="xs:string">
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="pricingIndicator">
								<xs:simpleType>
									<xs:restriction base="xs:string">
									</xs:restriction>
								</xs:simpleType>
							</xs:element> 
							
							<xs:element name="standardPrice_price" default="0.0">
								<xs:simpleType>
									<xs:restriction base="xs:decimal">
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="movingAveragePrice_price" default="0.0">
								<xs:simpleType>
									<xs:restriction base="xs:decimal">
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>