Resources/schemas/Xsd/SAP_Business_One_Master_Data_Transformation_to_SAP_S-4HANA_Cloud_Public_Edition - b1response-1.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Item">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Additional_Descriptions" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="Product_Number"/>
              <xs:element type="xs:string" name="Language_Key"/>
              <xs:element type="xs:string" name="Product_Description"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="Alternative_Units_Of_Measure" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="Product_Number"/>
              <xs:element type="xs:string" name="Alternative_Unit_of_Measure"/>
              <xs:element type="xs:string" name="Denominator_for_Conversion_to_Base_Unit"/>
              <xs:element type="xs:string" name="Numerator_for_Conversion_to_Base_Unit"/>
              <xs:element type="xs:string" name="Length"/>
              <xs:element type="xs:string" name="Width"/>
              <xs:element type="xs:string" name="Height"/>
              <xs:element type="xs:string" name="Unit_for_Length_Width_Height"/>
              <xs:element type="xs:string" name="Gross_Weight"/>
              <xs:element type="xs:string" name="Unit_of_Weight"/>
              <xs:element type="xs:string" name="Volume"/>
              <xs:element type="xs:string" name="Volume_Unit"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="Basic_Data" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="Product_Number"/>
              <xs:element type="xs:string" name="Product_Type"/>
              <xs:element type="xs:string" name="Product_Group"/>
              <xs:element type="xs:string" name="Description"/>
              <xs:element type="xs:string" name="Language_Key"/>
              <xs:element type="xs:string" name="Base_Unit_of_Measure"/>
              <xs:element type="xs:string" name="Indicator"/>
              <xs:element type="xs:string" name="Valid_From"/>
              <xs:element type="xs:string" name="Indicator_QM_in_Procurement_Is_Active"/>
              <xs:element type="xs:string" name="Gross_Weight"/>
              <xs:element type="xs:string" name="Net_Weight"/>
              <xs:element type="xs:string" name="Unit_of_Weight"/>
              <xs:element type="xs:string" name="Length"/>
              <xs:element type="xs:string" name="Width"/>
              <xs:element type="xs:string" name="Height"/>
              <xs:element type="xs:string" name="Unit_for_Length_Width_Height"/>
              <xs:element type="xs:string" name="Volume"/>
              <xs:element type="xs:string" name="Volume_Unit"/>
              <xs:element type="xs:string" name="Unit_of_Measure_Value"/>
              <xs:element type="xs:string" name="Product_Group_Packaging_Materials"/>
              <xs:element type="xs:string" name="Unit_of_Allowed_Packaging_Weight"/>
              <xs:element type="xs:string" name="Indicator_Sales"/>
              <xs:element type="xs:string" name="Indicator_Storage"/>
              <xs:element type="xs:string" name="Indicator_Purchasing"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="Production_Resources_Tools" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="Product_Number"/>
              <xs:element type="xs:string" name="Plant"/>
              <xs:element type="xs:string" name="Quantity_Formula"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="Valuation_Data" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="Product_Number"/>
              <xs:element type="xs:string" name="Valuation_Type"/>
              <xs:element type="xs:string" name="Valuation_Class"/>
              <xs:element type="xs:string" name="Price_Control"/>
              <xs:element type="xs:string" name="Currency"/>
              <xs:element type="xs:string" name="Inventory_Price_Moving_Average"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="Warehouse_Product" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="Product_Number"/>
              <xs:element type="xs:string" name="Warehouse_Number"/>
              <xs:element type="xs:string" name="Party_Entitled_to_Dispose"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="Warehouse_Product_Storage_Type" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="Product_Number"/>
              <xs:element type="xs:string" name="Warehouse_Number"/>
              <xs:element type="xs:string" name="Party_Entitled_to_Dispose"/>
              <xs:element type="xs:string" name="Storage_Type"/>
              <xs:element type="xs:string" name="Storage_Section_Indicator"/>
              <xs:element type="xs:string" name="Storage_Bin_Type"/>
              <xs:element type="xs:string" name="Minimum_Quantity"/>
              <xs:element type="xs:string" name="Maximum_Quantity"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>