Resources/schemas/Xsd/SAP_IBP_Add-On_-_Reusable_Integration_Flows - IBPReadForKeyFigureIntegration.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
    <xs:element name="IBPRead">
        <xs:complexType>
            <xs:attribute name="BatchCommand" type="xs:string" use="required"/>
            <xs:attribute name="BatchKey" type="xs:string" use="required"/>
            <xs:attribute name="BatchName" type="xs:string" use="required"/>
            <xs:attribute name="CustomMappingExtensionIntegrationFlowAddress" type="xs:string"/>
            <xs:attribute name="DataSource" type="xs:string" use="required"/>
            <xs:attribute name="DestinationforAddon" type="xs:string" use="required"/>
            <xs:attribute name="DestinationforSAPIBP" type="xs:string" use="required"/>
            <xs:attribute name="FieldMapping" type="xs:string" use="required"/>
            <xs:attribute name="FileName" type="xs:string" use="required"/>
            <xs:attribute name="FilterForTheDataSource" type="xs:string"/>
            <xs:attribute name="MaxPackageSize" type="xs:string"/>
            <xs:attribute name="ParallelDataTransfer" type="xs:string"/>
            <xs:attribute name="PlanningArea" type="xs:string" use="required"/>
            <xs:attribute name="PlanningAreaVersion" type="xs:string"/>
            <xs:attribute name="PostFetchFilterExtensionAddress" type="xs:string"/>
            <xs:attribute name="ProcessUnchangedData" type="xs:string"/>
            <xs:attribute name="SourceFieldsfromAddon" type="xs:string" use="required"/>
            <xs:attribute name="TargetFieldsInSAPIBP" type="xs:string" use="required"/>
            <xs:attribute name="TargetTimeProfileLevelinSAPIBP" type="xs:string" use="required"/>
            <xs:attribute name="TypeOfData" type="xs:string" use="required"/>
        </xs:complexType>
    </xs:element>
</xs:schema>