Resources/schemas/Xsd/SAP_Emarsys_Integration_with_SAP_Emarsys_APIs - Contact_SampleRequest_toEmarsys-1.xsd

<?xml version="1.0" encoding="UTF-8"?><xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="qualified">
  <xs:element name="root">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="key_id" type="xs:byte"/>
              <xs:element maxOccurs="unbounded" minOccurs="0" name="contacts">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element maxOccurs="1" minOccurs="0" name="tmp_9" type="xs:string"/>
                    <xs:element maxOccurs="1" minOccurs="0" name="tmp_46" type="xs:string"/>
                    <xs:element maxOccurs="1" minOccurs="0" name="tmp_1" type="xs:string"/>
                    <xs:element maxOccurs="1" minOccurs="0" name="tmp_2" type="xs:string"/>
                    <xs:element maxOccurs="1" minOccurs="0" name="tmp_3" type="xs:string"/>
                    <xs:element maxOccurs="1" minOccurs="0" name="tmp_26" type="xs:string"/>
                    <xs:element maxOccurs="1" minOccurs="0" name="tmp_10" type="xs:string"/>
                    <xs:element maxOccurs="1" minOccurs="0" name="tmp_13" type="xs:string"/>
                    <xs:element maxOccurs="1" minOccurs="0" name="tmp_11" type="xs:string"/>
                    <xs:element maxOccurs="1" minOccurs="0" name="tmp_12" type="xs:string"/>
                    <xs:element maxOccurs="1" minOccurs="0" name="tmp_14" type="xs:string"/>
                    <xs:element maxOccurs="1" minOccurs="0" name="tmp_15" type="xs:string"/>
                    <xs:element maxOccurs="1" minOccurs="0" name="tmp_37" type="xs:string"/>
                    <xs:element maxOccurs="1" minOccurs="0" name="tmp_16" type="xs:string"/>
                    <xs:element maxOccurs="1" minOccurs="0" name="tmp_5" type="xs:string"/>
                    <xs:element maxOccurs="1" minOccurs="0" name="tmp_4" type="xs:string"/>
                    <xs:element maxOccurs="1" minOccurs="0" name="tmp_31" type="xs:string"/>
                    <xs:element maxOccurs="1" minOccurs="0" name="tmp_35" type="xs:string"/>
                    <xs:element maxOccurs="1" minOccurs="0" name="tmp_36" type="xs:string"/>
                    <xs:element maxOccurs="1" minOccurs="0" name="tmp_47" type="xs:string"/>
                    <xs:element maxOccurs="1" minOccurs="0" name="tmp_48" type="xs:string"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>