Resources/schemas/Xsd/SAP_Build_Process_Automation_Integration_with_SAP_S-4HANA_For_Treasury_Payment_Request_Creation_Approval - outputData-1.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="d">
		<xs:complexType>
				<xs:sequence>
					<xs:element name="status" />
					<xs:element name="type" type="xs:string" />
					<xs:element name="number" type="xs:unsignedShort" />
					<xs:element name="message" type="xs:string" />
					<xs:element name="paymentDetails" minOccurs="0" maxOccurs="unbounded">
						<xs:complexType>
							<xs:sequence>
								<xs:element name="type" minOccurs="0" maxOccurs="1" type="xs:string" />
								<xs:element name="paymentRequestNumber"  minOccurs="0" maxOccurs="1" type="xs:unsignedShort" />
								<xs:element name="text" minOccurs="0" maxOccurs="1" type="xs:string" />
								<xs:element name="documentNo" minOccurs="0" maxOccurs="1" type="xs:string" />
							</xs:sequence>
						</xs:complexType>
					</xs:element>
					<xs:element name="returnAll" minOccurs="0" maxOccurs="unbounded">
						<xs:complexType>
							<xs:sequence>
								<xs:element name="type" type="xs:string" minOccurs="0" maxOccurs="1" />
								<xs:element name="number" type="xs:unsignedShort" minOccurs="0" maxOccurs="1" />
								<xs:element name="message" type="xs:string" minOccurs="0" maxOccurs="1"/>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
				</xs:sequence>
			</xs:complexType>
		</xs:element>
	</xs:schema>