Resources/schemas/Xsd/SAP_S-4HANA_Integration_with_Microsoft_Power_BI_Employee_Dashboards - DB_Request.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- Created with Liquid Technologies Online Tools 1.0 (https://www.liquid-technologies.com) -->
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="DB_REQUEST">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="unbounded" name="items">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="PR_Purchase_Requisition_Number" type="xs:string" minOccurs="0" />
              <xs:element name="PR_Line_Item" type="xs:string" minOccurs="0" />
              <xs:element name="PR_Requisition_date" type="xs:string" minOccurs="0" />
              <xs:element name="PR_Held_Status" type="xs:string" minOccurs="0" />
              <xs:element name="PR_Deletion_indicator" type="xs:string" minOccurs="0" />
              <xs:element name="PR_Created_by" type="xs:string" minOccurs="0" />
              <xs:element name="PR_Status" type="xs:string" minOccurs="0" />
              <xs:element name="PR_Approval_Date" type="xs:string" minOccurs="0" />
              <xs:element name="PR_to_PO_Status" type="xs:string" minOccurs="0" />
              <xs:element name="PR_Department" type="xs:string" minOccurs="0" />
              <xs:element name="PR_Item_Category" type="xs:string" minOccurs="0" />
              <xs:element name="PR_Acct_Assignment_Cat" type="xs:string" minOccurs="0" />
              <xs:element name="PR_Material" type="xs:string" minOccurs="0" />
              <xs:element name="PR_Short_Text" type="xs:string" minOccurs="0" />
              <xs:element name="PR_Material_Group" type="xs:string" minOccurs="0" />
              <xs:element name="PR_Material_Group_Name" type="xs:string" minOccurs="0" />
              <xs:element name="PR_Purchasing_Group" type="xs:string" minOccurs="0" />
              <xs:element name="PR_Purchasing_Group_Name" type="xs:string" minOccurs="0" />
              <xs:element name="PR_Quantity" type="xs:string" minOccurs="0" />
              <xs:element name="PR_Unit_Of_Measure" type="xs:string" minOccurs="0" />
              <xs:element name="PR_Valuation_Price" type="xs:string" minOccurs="0" />
              <xs:element name="PR_Currency" type="xs:string" minOccurs="0" />
              <xs:element name="PR_Line_Amount_SAR" type="xs:string" minOccurs="0" />
              <xs:element name="PR_Total_Amount_SAR" type="xs:string" minOccurs="0" />
              <xs:element name="PR_Fund" type="xs:string" minOccurs="0" />
              <xs:element name="PR_Funds_center" type="xs:string" minOccurs="0" />
              <xs:element name="PR_Funds_center_Name" type="xs:string" minOccurs="0" />
              <xs:element name="PR_G_L_Account" type="xs:string" minOccurs="0" />
              <xs:element name="PR_Cost_Center" type="xs:string" minOccurs="0" />
              <xs:element name="PR_Cost_Center_Name" type="xs:string" minOccurs="0" />
              <xs:element name="PR_Asset" type="xs:string" minOccurs="0" />
              <xs:element name="PR_Commitment_item" type="xs:string" minOccurs="0" />
              <xs:element name="PR_Long_Text" type="xs:string" minOccurs="0" />
              <xs:element name="PO_Number" type="xs:string" minOccurs="0" />
              <xs:element name="PO_Item_Number" type="xs:string" minOccurs="0" />
              <xs:element name="PO_Created_On" type="xs:string" minOccurs="0" />
              <xs:element name="PO_Created_By" type="xs:string" minOccurs="0" />
              <xs:element name="PO_Status" type="xs:string" minOccurs="0" />
              <xs:element name="PO_Approval_Date" type="xs:string" minOccurs="0" />
              <xs:element name="PO_Item_Category" type="xs:string" minOccurs="0" />
              <xs:element name="PO_Acct_Assignment_Cat" type="xs:string" minOccurs="0" />
              <xs:element name="PO_Fund" type="xs:string" minOccurs="0" />
              <xs:element name="PO_Funds_center" type="xs:string" minOccurs="0" />
              <xs:element name="PO_Funds_center_Name" type="xs:string" minOccurs="0" />
              <xs:element name="PO_G_L_Account" type="xs:string" minOccurs="0" />
              <xs:element name="PO_Cost_Center" type="xs:string" minOccurs="0" />
              <xs:element name="PO_Cost_Center_Name" type="xs:string" minOccurs="0" />
              <xs:element name="PO_Deletion_Indicator" type="xs:string" minOccurs="0" />
              <xs:element name="PO_Held_Status" type="xs:string" minOccurs="0" />
              <xs:element name="PO_Purchasing_Group" type="xs:string" minOccurs="0" />
              <xs:element name="PO_Purchasing_Group_Name" type="xs:string" minOccurs="0" />
              <xs:element name="PO_Material_Group" type="xs:string" minOccurs="0" />
              <xs:element name="PO_Material_Group_Name" type="xs:string" minOccurs="0" />
              <xs:element name="PO_Material" type="xs:string" minOccurs="0" />
              <xs:element name="PO_Short_Text" type="xs:string" minOccurs="0" />
              <xs:element name="PO_Quantity" type="xs:string" minOccurs="0" />
              <xs:element name="PO_Unit_Of_Measure" type="xs:string" minOccurs="0" />
              <xs:element name="PO_Net_Price" type="xs:string" minOccurs="0" />
              <xs:element name="PO_Currency" type="xs:string" minOccurs="0" />
              <xs:element name="PO_Line_Amount_SAR" type="xs:string" minOccurs="0" />
              <xs:element name="PO_Total_Amount_SAR" type="xs:string" minOccurs="0" />
              <xs:element name="PO_Delivery_Date" type="xs:string" minOccurs="0" />
              <xs:element name="PO_Supplier_Number" type="xs:string" minOccurs="0" />
              <xs:element name="PO_Supplier_Name" type="xs:string" minOccurs="0" />
              <xs:element name="PO_Long_Text" type="xs:string" minOccurs="0" />
              <xs:element name="PO_Delivery_Completed_Indicator" type="xs:string" minOccurs="0" />
              <xs:element name="PO_Delivered_quantity_Line_Item" type="xs:string" minOccurs="0" />
              <xs:element name="PO_PO_Still_to_be_delivered_Line_Quantity" type="xs:string" minOccurs="0" />
              <xs:element name="PO_Delivered_Value_Line_Item" type="xs:string" minOccurs="0" />
              <xs:element name="PO_Still_to_be_delivered_Line_Item" type="xs:string" minOccurs="0" />
              <xs:element name="PO_Still_to_be_Invoiced_Line_Item" type="xs:string" minOccurs="0" />
              <xs:element name="PO_Asset" type="xs:string" minOccurs="0" />
              <xs:element name="PO_CommitmentItem" type="xs:string" minOccurs="0" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>