Resources/schemas/Xsd/SAP_S-4HANA_Integration_with_SAP_Build_Process_Automation_for_Plan_Activity_Prices_Approval - RFCInput.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="unqualified" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:sap-com:document:sap:rfc:functions">
	<xs:element name="BAPI_COSTACTPLN_POSTACTOUTPUT">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="DELTA" type="xs:string" />
				<xs:element name="PRICE_QUANT_PLAN" type="xs:string" />
				<xs:element name="HEADERINFO">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="CO_AREA" type="xs:string" />
							<xs:element name="FISC_YEAR" type="xs:string" />
							<xs:element name="PERIOD_FROM" type="xs:date" />
							<xs:element name="PERIOD_TO" type="xs:date" />
							<xs:element name="VERSION" type="xs:string" />
							<xs:element name="DOC_HDR_TX" type="xs:string" minOccurs="0" maxOccurs="1" />
							<xs:element name="PLAN_CURRTYPE" type="xs:string" />
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="INDEXSTRUCTURE">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="item" minOccurs="1" maxOccurs="unbounded">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="OBJECT_INDEX" type="xs:string" />
										<xs:element name="VALUE_INDEX" type="xs:string" />
										<xs:element name="ATTRIB_INDEX" type="xs:string" />
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="COOBJECT">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="item" minOccurs="1" maxOccurs="unbounded">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="OBJECT_INDEX" type="xs:string" />
										<xs:element name="COSTCENTER" type="xs:string" minOccurs="1" maxOccurs="unbounded" />
										<xs:element name="ACTTYPE" type="xs:string" />
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="TOTVALUE">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="item" minOccurs="1" maxOccurs="unbounded">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="VALUE_INDEX" type="xs:string" />
										<xs:element name="ACTVTY_QTY" type="xs:string" />
										<xs:element name="ACTVTY_CAPACTY" type="xs:string" />
										<xs:element name="DIST_KEY_QUAN" type="xs:string" />
										<xs:element name="DIST_KEY_CAPCTY" type="xs:string" minOccurs="0" maxOccurs="1" />
										<xs:element name="PRICE_FIX" type="xs:string" />
										<xs:element name="DIST_KEY_PRICE_FIX" type="xs:string" minOccurs="0" maxOccurs="1"/>
										<xs:element name="PRICE_VAR" type="xs:string" />
										<xs:element name="DIST_KEY_PRICE_VAR" type="xs:string" minOccurs="0" maxOccurs="1"/>
										<xs:element name="UNIT_ISO" type="xs:string" />
										<xs:element name="CURRENCY_ISO" type="xs:string" />
										<xs:element name="CURRENCY" type="xs:string" />
										<xs:element name="UNIT_OF_MEASURE" type="xs:string" />
										<xs:element name="PRICE_UNIT" type="xs:string" />
										<xs:element name="EQUIVALENCE_NO" type="xs:string" />
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="CONTRL">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="item" minOccurs="1" maxOccurs="unbounded">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="ATTRIB_INDEX" type="xs:string" />
										<xs:element name="ACT_CAT_ACTUAL" type="xs:string" minOccurs="0" maxOccurs="1"/>
										<xs:element name="ALLOC_COST_ELEM" type="xs:string" />
										<xs:element name="ACTIVITY_CAT" type="xs:string" minOccurs="0" maxOccurs="1"/>
										<xs:element name="PRICE_INDICATOR" type="xs:string" minOccurs="0" maxOccurs="1"/>
										<xs:element name="AVERAGE_PRICE_IND" type="xs:string" minOccurs="0" maxOccurs="1"/>

									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>