Resources/schemas/Xsd/SAP_Logistics_Management_Integration_with_SAP_S-4HANA_Cloud_Private_Edition - GoodsIssue.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ccts="urn:un:unece:uncefact:documentation:standard:CoreComponentsTechnicalSpecification:3.0">
	<xs:element name="root">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="creationDateTime" type="xs:dateTime" />
				<xs:element name="deliveryDocument" type="xs:string"/>
				<xs:element name="deliveryDocumentType" type="xs:string"/>
				<xs:element name="warehouse" type="xs:string" minOccurs="0"/>
				<xs:element name="billOfLading" type="BillOfLading_GFN" minOccurs="0"/>
				<xs:element name="actualGoodsMovementDateTime" type="xs:dateTime" minOccurs="0"/>
				<xs:element name="businessSystem" type="xs:string" minOccurs="0"/>
				<xs:element name="deliveryItem" minOccurs="1" maxOccurs="unbounded">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="deliveryDocumentItem" type="xs:string"/>
							<xs:element name="material" type="xs:string" minOccurs="0"/>
							<xs:element name="batch" type="BatchID" minOccurs="0"/>
							<xs:element name="actualDeliveryQuantity" type="Quantity.Content"/>
							<xs:element name="actualDeliveryQuantityUoM" type="MeasureUnitCode"/>
							<xs:element name="actualDeliveryQuantityInBaseUoM" type="Quantity.Content"/>
							<xs:element name="actualDeliveryQuantityBaseUoM" type="MeasureUnitCode"/>
							<xs:element name="deliveryToBaseQuantityDnmntr" type="xs:integer"/>
							<xs:element name="deliveryToBaseQuantityNmrtr" type="xs:integer"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:simpleType name="Quantity.Content">
		<xs:restriction base="xs:decimal">
			<xs:totalDigits value="31"/>
			<xs:fractionDigits value="14"/>
			<xs:maxInclusive value="99999999999999999.99999999999999"/>
			<xs:minInclusive value="-99999999999999999.99999999999999"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Measure.Content">
		<xs:restriction base="xs:decimal">
			<xs:totalDigits value="31"/>
			<xs:fractionDigits value="14"/>
			<xs:maxInclusive value="99999999999999999.99999999999999"/>
			<xs:minInclusive value="-99999999999999999.99999999999999"/>
		</xs:restriction>
	</xs:simpleType>	
	<xs:simpleType name="MeasureUnitCode">
		<xs:annotation>
			<xs:documentation xml:lang="EN">
				<ccts:RepresentationTerm>Code</ccts:RepresentationTerm>
			</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:token">
			<xs:maxLength value="3"/>
			<xs:minLength value="1"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="BillOfLading_GFN">
		<xs:annotation>
		<xs:documentation xml:lang="EN">
			<ccts:RepresentationTerm>Text</ccts:RepresentationTerm>
		</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
		<xs:maxLength value="35"/>
		</xs:restriction>
  </xs:simpleType>
<xs:simpleType name="BatchID">
            <xs:annotation>
               <xs:documentation xml:lang="EN">
                  <ccts:RepresentationTerm>Identifier</ccts:RepresentationTerm>
               </xs:documentation>
            </xs:annotation>
            <xs:restriction base="xs:token">
               <xs:maxLength value="20" />
               <xs:minLength value="1" />
            </xs:restriction>
         </xs:simpleType>
</xs:schema>