Resources/schemas/Xsd/SAP_S-4HANA_Utilities_Integration_with_SAP_Emarsys_Customer_Engagement - UtilitiesContract.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">

	<xs:element name="UtilitiesContractSet">
	
		<xs:complexType>
		
			<xs:sequence>
			
				<xs:element nillable="false" minOccurs="1" maxOccurs="unbounded" name="UtilitiesContract">
				
					<xs:complexType>
					
						<xs:sequence>
						
                            <!-- UtilitiesContract -->
						 
							<xs:element nillable="false" minOccurs="1" maxOccurs="1" name="UtilitiesContractID">
								<xs:simpleType>
									<xs:restriction base="xs:token" xmlns="">
									    <xs:minLength value="1"/>
										<xs:maxLength value="10"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>						
							
							<xs:element nillable="false" minOccurs="0" maxOccurs="1" name="UtilitiesContractDescription">
								<xs:simpleType>
									<xs:restriction base="xs:string" xmlns="">
										<xs:maxLength value="40"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							
							<xs:element nillable="false" minOccurs="1" maxOccurs="1" name="UtilitiesDivisionCode">
								<xs:simpleType>
									<xs:restriction base="xs:token" xmlns="">
									    <xs:minLength value="1"/>
										<xs:maxLength value="2"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>												
							
							<xs:element nillable="false" minOccurs="1" maxOccurs="1" name="UtilitiesMoveInDate">
								<xs:simpleType>
									<xs:restriction base="xs:date" xmlns="">
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							
							<xs:element nillable="false" minOccurs="0" maxOccurs="1" name="UtilitiesMoveOutDate">
								<xs:simpleType>
									<xs:restriction base="xs:date" xmlns="">
									</xs:restriction>
								</xs:simpleType>
							</xs:element>							
							
							<xs:element nillable="false" minOccurs="0" maxOccurs="1" name="DeletionIndicator">
								<xs:simpleType>
									<xs:restriction base="xs:boolean" xmlns="">
									</xs:restriction>
								</xs:simpleType>
							</xs:element>							
										
										
                            <!-- Meter -->		
							
							<xs:element nillable="false" minOccurs="1" maxOccurs="1" name="MeterType">
								<xs:simpleType>
									<xs:restriction base="xs:string" xmlns="">
										<!-- <xs:maxLength value="40"/> -->
									</xs:restriction>
								</xs:simpleType>
							</xs:element>							
	
							<xs:element nillable="false" minOccurs="1" maxOccurs="1" name="MeterTypeDescription">
								<xs:simpleType>
									<xs:restriction base="xs:string" xmlns="">
									    <xs:minLength value="1"/>
										<xs:maxLength value="40"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>		
							
							
							
							<!-- BusinessPartner -->
							
							<xs:element nillable="false" minOccurs="1" maxOccurs="1" name="BusinessPartnerID">
								<xs:simpleType>
									<xs:restriction base="xs:token" xmlns="">
									    <xs:minLength value="1"/>
										<xs:maxLength value="60"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
									

						    <!-- ContractAccountAssignment -->			
							
							<xs:element nillable="false" minOccurs="0" maxOccurs="1" name="ContractAccountID">
								<xs:simpleType>
									<xs:restriction base="xs:token" xmlns="">
									    <xs:minLength value="1"/>
										<xs:maxLength value="12"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							
							
							<!-- UtilitiesPointOfDeliveryAssignment -->
							
							<xs:element nillable="false" minOccurs="0" maxOccurs="1" name="UtilitiesPointOfDeliveryID">
								<xs:simpleType>
									<xs:restriction base="xs:token" xmlns="">
									    <xs:minLength value="1"/>
										<xs:maxLength value="50"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>							
							
							<xs:element nillable="false" minOccurs="0" maxOccurs="1" name="UtilitiesPremiseID">
								<xs:simpleType>
									<xs:restriction base="xs:token" xmlns="">
										<xs:minLength value="0"/>
										<xs:maxLength value="10"/> 
									</xs:restriction>
								</xs:simpleType>
							</xs:element>														
							
							
							<!-- BillingBlock -->
							
							<xs:element nillable="false" minOccurs="0" maxOccurs="1" name="UtilsBillgBlockReason">
								<xs:simpleType>
									<xs:restriction base="xs:token" xmlns="">
										<xs:maxLength value="2"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>								
							
							
							<!-- Party -->
							
							<xs:element nillable="false" minOccurs="0" maxOccurs="1" name="UtilitiesServiceProviderID">
								<xs:simpleType>
									<xs:restriction base="xs:token" xmlns="">
									    <xs:minLength value="1"/>
										<xs:maxLength value="20"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							
							<xs:element nillable="false" minOccurs="0" maxOccurs="1" name="UtilitiesInvoicingPartyID">
								<xs:simpleType>
									<xs:restriction base="xs:token" xmlns="">
									    <xs:minLength value="1"/>
										<xs:maxLength value="20"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>		



							<xs:element nillable="false" minOccurs="0" maxOccurs="1" name="UtilitiesAccountDetnCode">
								<xs:simpleType>
									<xs:restriction base="xs:token" xmlns="">
									    <xs:minLength value="1"/>
										<xs:maxLength value="2"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
						
							<xs:element nillable="false" minOccurs="0" maxOccurs="1" name="UtilsBdgtBillgIndicator">
								<xs:simpleType>
									<xs:restriction base="xs:boolean" xmlns="">
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							
						</xs:sequence>
						
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>