Resources/schemas/Xsd/SAP_Upscale_Commerce_Integration_with_SAP_S-4HANA - upscale order.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="OrderLine">
    <xs:complexType>
      <xs:sequence>
        <xs:element type="xs:string" name="PaymentCards_cardType"/>
        <xs:element type="xs:string" name="PaymentCards_creditCardExpiredAt"/>
        <xs:element type="xs:string" name="PaymentCards_creditCardType"/>
        <xs:element type="xs:short" name="PaymentCards_creditCardLastFourDigits"/>
        <xs:element type="xs:string" name="Payment_token"/>
        <xs:element type="xs:float" name="Payment_authorizedAmount"/>
        <xs:element type="xs:string" name="Payment_creditCardStatus"/>
        <xs:element type="xs:string" name="BillingAddress_firstName"/>
        <xs:element type="xs:string" name="BillingAddress_lastName"/>
        <xs:element type="xs:string" name="BillingAddress_phoneNumber"/>
        <xs:element type="xs:string" name="BillingAddress_addressLine1"/>
        <xs:element type="xs:string" name="Customer_customerNumber"/>
        <xs:element type="xs:string" name="Customer_firstName"/>
        <xs:element type="xs:string" name="Customer_lastName"/>
        <xs:element type="xs:string" name="Product_productId"/>
        <xs:element type="xs:string" name="Product_name"/>
        <xs:element type="xs:string" name="Product_variantAttributes"/>
        <xs:element type="xs:string" name="Product_type"/>
        <xs:element type="xs:byte" name="lineNumber"/>
        <xs:element type="xs:string" name="productId"/>
        <xs:element type="xs:string" name="itemCode"/>
        <xs:element type="xs:byte" name="quantity"/>
        <xs:element type="xs:float" name="lineSubTotal"/>
        <xs:element type="xs:float" name="lineTotal"/>
        <xs:element type="xs:float" name="lineTax"/>
        <xs:element type="xs:string" name="ShippingMethod_id"/>
        <xs:element type="xs:string" name="ShippingAddress_firstName"/>
        <xs:element type="xs:string" name="ShippingAddress_lastName"/>
        <xs:element type="xs:string" name="ShippingAddress_phoneNumber"/>
        <xs:element type="xs:string" name="ShippingAddress_addressLine1"/>
        <xs:element type="xs:dateTime" name="Order_createdAt"/>
        <xs:element type="xs:long" name="Order_orderId"/>
        <xs:element type="xs:string" name="Order_customerNumber"/>
        <xs:element type="xs:string" name="Order_customerEmail"/>
        <xs:element type="xs:float" name="Order_tax"/>
        <xs:element type="xs:string" name="Order_currency"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>