Resources/schemas/Xsd/SAP_Qualtrics_Surveys_Integration_With_SAP_Marketing_Cloud_-_Actions_Functionality - SurveySetEntityPOST1.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="qualified">
   <xs:element name="SurveySet">
      <xs:complexType>
         <xs:sequence>
            <xs:element nillable="false" maxOccurs="1" name="SurveyId" />
            <xs:element type="xs:int" nillable="false" maxOccurs="1" name="Version" />
            <xs:element nillable="false" maxOccurs="1" name="Provider" />
            <xs:element nillable="true" minOccurs="0" maxOccurs="1" name="AccountId" />
            <xs:element nillable="false" minOccurs="0" maxOccurs="1" name="SurveyType" />
            <xs:element nillable="true" minOccurs="0" maxOccurs="1" name="Category" />
            <xs:element nillable="false" minOccurs="0" maxOccurs="1" name="MarketingAreaId" />
            <xs:element nillable="false" maxOccurs="1" name="Name" />
            <xs:element type="xs:boolean" nillable="false" maxOccurs="1" name="IsSurveyAnonymous" />
            <xs:element nillable="true" minOccurs="0" maxOccurs="1" name="NickName" />
            <xs:element nillable="true" minOccurs="0" maxOccurs="1" name="Url" />
            <xs:element nillable="false" maxOccurs="1" name="Language" />
            <xs:element type="xs:dateTime" nillable="true" minOccurs="0" maxOccurs="1" name="ModifiedOn" />
            <xs:element type="xs:dateTime" nillable="true" minOccurs="0" maxOccurs="1" name="ValidFrom" />
            <xs:element type="xs:dateTime" nillable="true" minOccurs="0" maxOccurs="1" name="ValidTo" />
            <xs:element type="xs:dateTime" nillable="true" minOccurs="0" maxOccurs="1" name="CreatedOn" />
            <xs:element type="xs:boolean" nillable="true" minOccurs="0" maxOccurs="1" name="IsMultipleRespAllowed" />
            <xs:element nillable="true" minOccurs="0" maxOccurs="unbounded" name="SurveyQuestionSet">
               <xs:complexType>
                  <xs:sequence>
                     <xs:element nillable="false" maxOccurs="1" name="QuestionId" />
                     <xs:element type="xs:int" nillable="false" maxOccurs="1" name="Version" />
                     <xs:element nillable="false" maxOccurs="1" name="Provider" />
                     <xs:element nillable="false" maxOccurs="1" name="SurveyId" />
                     <xs:element type="xs:int" nillable="false" minOccurs="0" maxOccurs="1" name="PageId" />
                     <xs:element type="xs:int" nillable="false" minOccurs="0" maxOccurs="1" name="Position" />
                     <xs:element nillable="true" minOccurs="0" maxOccurs="1" name="Language" />
                     <xs:element type="xs:boolean" nillable="true" minOccurs="0" maxOccurs="1" name="IsMandatory" />
                     <xs:element nillable="true" minOccurs="0" maxOccurs="1" name="SubType" />
                     <xs:element nillable="false" maxOccurs="1" name="Text" />
                     <xs:element nillable="false" maxOccurs="1" name="Type" />
                     <xs:element nillable="true" minOccurs="0" maxOccurs="1" name="TypeName" />
                     <xs:element nillable="true" minOccurs="0" maxOccurs="unbounded" name="QuestionChoiceSet">
                        <xs:complexType>
                           <xs:sequence>
                              <xs:element nillable="false" minOccurs="0" maxOccurs="1" name="ChoiceId" />
                              <xs:element type="xs:int" nillable="false" minOccurs="0" maxOccurs="1" name="ChoicePosition" />
                              <xs:element nillable="false" minOccurs="0" maxOccurs="1" name="ChoiceText" />
                              <xs:element type="xs:int" nillable="false" minOccurs="0" maxOccurs="1" name="ChoiceWeightage" />
                              <xs:element nillable="false" minOccurs="0" maxOccurs="1" name="Language" />
                           </xs:sequence>
                        </xs:complexType>
                     </xs:element>
                     <xs:element nillable="true" minOccurs="0" maxOccurs="unbounded" name="QuestionAnswerSet">
                        <xs:complexType>
                           <xs:sequence>
                              <xs:element nillable="false" maxOccurs="1" name="RowId" />
                              <xs:element nillable="false" maxOccurs="1" name="Language" />
                              <xs:element type="xs:int" nillable="false" maxOccurs="1" name="RowPosition" />
                              <xs:element type="xs:int" nillable="false" maxOccurs="1" name="RowWeightage" />
                              <xs:element nillable="false" maxOccurs="1" name="RowText" />
                           </xs:sequence>
                        </xs:complexType>
                     </xs:element>
                  </xs:sequence>
               </xs:complexType>
            </xs:element>
         </xs:sequence>
      </xs:complexType>
   </xs:element>
</xs:schema>