Resources/schemas/Xsd/SAP_Complaint_Handling_Integration_For_Supplier_Complaints - binary_relation_bapi_request-1.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="root">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="object_a">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:int" name="object_key"/>
              <xs:element type="xs:string" name="object_type"/>
              <xs:element type="xs:string" name="log_sys"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="object_b">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:int" name="object_key"/>
              <xs:element type="xs:string" name="object_type"/>
              <xs:element type="xs:string" name="log_sys"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element type="xs:string" name="relation_type"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>