Resources/schemas/Xsd/SAP_Service_Cloud_Integration_with_SAP_Field_Service_Management - Address_RequestIn-1.xsd

<xs:schema attributeFormDefault="unqualified"
	elementFormDefault="qualified"
	xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="Addresses">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="data" minOccurs="0"
					maxOccurs="unbounded">
					<xs:complexType>
						<xs:sequence>
							<xs:element type="xs:string" name="externalId"
								minOccurs="0" maxOccurs="1" />
							<xs:element type="xs:string" name="block"
								minOccurs="0" maxOccurs="1" />
							<xs:element type="xs:short" name="building"
								minOccurs="0" maxOccurs="1" />
							<xs:element type="xs:string" name="city" minOccurs="0"
								maxOccurs="1" />
							<xs:element type="xs:string" name="country"
								minOccurs="0" maxOccurs="1" />
							<xs:element type="xs:string" name="county"
								minOccurs="0" maxOccurs="1" />
							<xs:element type="xs:boolean" name="defaultAddress"
								minOccurs="0" maxOccurs="1" />
							<xs:element type="xs:short" name="floor" minOccurs="0"
								maxOccurs="1" />
							<xs:element type="xs:string" name="postOfficeBox"
								minOccurs="0" maxOccurs="1" />
							<xs:element type="xs:string" name="remarks"
								minOccurs="0" maxOccurs="1" />
							<xs:element type="xs:short" name="room" minOccurs="0"
								maxOccurs="1" />
							<xs:element type="xs:string" name="state"
								minOccurs="0" maxOccurs="1" />
							<xs:element type="xs:string" name="street"
								minOccurs="0" maxOccurs="1" />
							<xs:element type="xs:short" name="streetNo"
								minOccurs="0" maxOccurs="1" />
							<xs:element type="xs:string" name="type" minOccurs="0"
								maxOccurs="1" />
							<xs:element type="xs:int" name="zipCode" minOccurs="0"
								maxOccurs="1" />
							<xs:element name="location" minOccurs="0"
								maxOccurs="1">
								<xs:complexType>
									<xs:sequence>
										<xs:element type="xs:string" name="latitude"
											minOccurs="0" maxOccurs="1" />
										<xs:element type="xs:string" name="longitude"
											minOccurs="0" maxOccurs="1" />
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element type="xs:string" name="name" minOccurs="0"
								maxOccurs="1" />
							<xs:element type="xs:string" name="name2"
								minOccurs="0" maxOccurs="1" />
							<xs:element type="xs:string" name="name3"
								minOccurs="0" maxOccurs="1" />
							<xs:element type="xs:boolean" name="inactive"
								minOccurs="0" maxOccurs="1" />
							<xs:element name="object">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="objectId">
											<xs:complexType>
												<xs:sequence>
													<xs:element type="xs:string" name="externalId" />
												</xs:sequence>
											</xs:complexType>
										</xs:element>
										<xs:element type="xs:string" name="objectType" />
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>