Resources/schemas/Xsd/SAP_Complaint_Handling_Integration_For_Customer_Complaints - customerReturn-5.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="root">
    <xs:complexType>
      <xs:sequence>
	    <xs:element name="ComplaintIdentifier" minOccurs="0" type="xs:string"/>
        <xs:element name="CustomerReturnType" type="xs:string" />
        <xs:element name="SalesOrganization" type="xs:unsignedByte" />
        <xs:element name="DistributionChannel" type="xs:unsignedByte" />
        <xs:element name="OrganizationDivision" type="xs:unsignedByte" />
        <xs:element name="SoldToParty" type="xs:string" />
        <xs:element name="ShipToParty" type="xs:string" minOccurs="0"/>
        <xs:element name="PurchaseOrderByCustomer" minOccurs="0" type="xs:string" />
        <xs:element name="PricingDate" minOccurs="0" type="xs:date" />
        <xs:element name="ReferenceSDDocument" minOccurs="0" type="xs:unsignedInt" />
        <xs:element minOccurs="0" maxOccurs="unbounded" name="to_PricingElement">
            <xs:complexType>
                <xs:sequence>
                    <xs:element name="ConditionType" minOccurs="0" type="xs:string" />
                    <xs:element name="ConditionRateValue" minOccurs="0" type="xs:decimal" />
                    <xs:element name="ConditionQuantity" minOccurs="0" type="xs:decimal" />
                    <xs:element name="ConditionQuantitySAPUnit" minOccurs="0" type="xs:string" />
                    <xs:element name="ConditionCurrency" minOccurs="0" type="xs:string" />
                </xs:sequence>
            </xs:complexType>
        </xs:element>
        <xs:element name="to_Item">
          <xs:complexType>
            <xs:sequence>
              <xs:element maxOccurs="unbounded" name="results">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="CustomerReturnItem" minOccurs="0" type="xs:string" />
                    <xs:element name="RequestedQuantityUnit" type="xs:string" />
                    <xs:element name="Material" type="xs:string" />
                    <xs:element name="CustomerReturnItemCategory" type="xs:string" />
                    <xs:element name="RequestedQuantity" type="xs:unsignedByte" />
                    <xs:element name="ProductionPlant" type="xs:unsignedByte" />
                    <xs:element name="ReturnReason" type="xs:unsignedByte" />
                    <xs:element name="CustRetItmFollowUpActivity" type="xs:unsignedByte" />
                    <xs:element name="ReturnsRefundProcgMode" type="xs:string" />
                    <xs:element name="ReturnsRefundType" type="xs:string" />
                    <xs:element name="ProductIsInspectedAtCustSite" type="xs:string" />
                    <xs:element name="RetMatlInspResultCode" type="xs:string" />
                    <xs:element name="RetsMgmtProcessingBlock" type="xs:string" />
                    <xs:element name="ReferenceSDDocument" minOccurs="0" type="xs:unsignedInt" />
                    <xs:element name="ReferenceSDDocumentItem" minOccurs="0" type="xs:unsignedByte" />
                    <xs:element minOccurs="0" maxOccurs="unbounded" name="to_PricingElement">
                        <xs:complexType>
                            <xs:sequence>
                                <xs:element name="ConditionType" minOccurs="0" type="xs:string" />
                                <xs:element name="ConditionRateValue" minOccurs="0" type="xs:decimal" />
                                <xs:element name="ConditionQuantity" minOccurs="0" type="xs:decimal" />
                                <xs:element name="ConditionQuantitySAPUnit" minOccurs="0" type="xs:string" />
                                <xs:element name="ConditionCurrency" minOccurs="0" type="xs:string" />
                            </xs:sequence>
                        </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
