Resources/schemas/Xsd/SAP_Service_Cloud_Integration_with_SAP_Field_Service_Management - BusinessPartner_RequestIn.xsd

<xs:schema attributeFormDefault="unqualified"
	elementFormDefault="qualified"
	xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="BusinessPartners">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="data" minOccurs="1"
					maxOccurs="unbounded">
					<xs:complexType>
						<xs:sequence>
							<xs:element type="xs:string" name="additionalName"
								minOccurs="0" maxOccurs="1" />
							<xs:element type="xs:string" name="city" minOccurs="0"
								maxOccurs="1" />
							<xs:element type="xs:string" name="code" minOccurs="0"
								maxOccurs="1" />
							<xs:element type="xs:string" name="externalId"
								minOccurs="0" maxOccurs="1" />
							<xs:element type="xs:string" name="country"
								minOccurs="0" maxOccurs="1" />
							<xs:element type="xs:string" name="creditLimit"
								minOccurs="0" maxOccurs="1" />
							<xs:element type="xs:string" name="currency"
								minOccurs="0" maxOccurs="1" />
							<xs:element type="xs:string" name="emailAddress"
								minOccurs="0" maxOccurs="1" />
							<xs:element type="xs:string" name="fax" minOccurs="0"
								maxOccurs="1" />
							<xs:element type="xs:string" name="groupCode"
								minOccurs="0" maxOccurs="1" />
							<xs:element type="xs:string" name="groupName"
								minOccurs="0" maxOccurs="1" />
							<xs:element type="xs:string" name="inactive"
								minOccurs="0" maxOccurs="1" />
							<xs:element type="xs:string" name="language"
								minOccurs="0" maxOccurs="1" />
							<xs:element type="xs:string" name="mobilePhone"
								minOccurs="0" maxOccurs="1" />
							<xs:element type="xs:string" name="name" minOccurs="0"
								maxOccurs="1" />
							<xs:element type="xs:string" name="officePhone"
								minOccurs="0" maxOccurs="1" />
							<xs:element type="xs:string" name="otherPhone"
								minOccurs="0" maxOccurs="1" />
							<xs:element type="xs:string" name="remarks"
								minOccurs="0" maxOccurs="1" />
							<xs:element type="xs:string" name="type" minOccurs="0"
								maxOccurs="1" />
							<xs:element type="xs:anyURI" name="website"
								minOccurs="0" maxOccurs="1" />
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>