Resources/schemas/Xsd/SAP_Subscription_Billing_Integration_with_SAP_S-4HANA_-_Sales_Billing - customer_service_contact.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="ContactList">
		<xs:complexType>
			<xs:sequence>
				<xs:element maxOccurs="unbounded" minOccurs="1" name="Contacts">
					<xs:complexType>
						<xs:sequence>
							<xs:element maxOccurs="1" minOccurs="0" name="contactNumber" type="xs:string"/>
							<xs:element maxOccurs="1" minOccurs="1" name="personalInfo">
								<xs:complexType>
									<xs:sequence>
										<xs:element maxOccurs="1" minOccurs="1" name="firstName" type="xs:string"/>
										<xs:element maxOccurs="1" minOccurs="1" name="lastName" type="xs:string"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element maxOccurs="unbounded" minOccurs="0" name="externalObjectReferences">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="externalSystemId"
											type="xs:string" minOccurs="1" maxOccurs="1">
										</xs:element>
										<xs:element name="externalId"
											type="xs:string" minOccurs="1" maxOccurs="1">
										</xs:element>
										<xs:element maxOccurs="1"
											minOccurs="1" name="externalIdTypeCode" type="xs:string" />
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element maxOccurs="1" minOccurs="0" name="createdBy" type="xs:string"/>
							<xs:element maxOccurs="1" minOccurs="0" name="changedBy" type="xs:string"/>
							<xs:element maxOccurs="1" minOccurs="0" name="createdAt" type="xs:long"/>
							<xs:element maxOccurs="1" minOccurs="0" name="changedAt" type="xs:long"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>