Resources/schemas/Xsd/SAP_Returnable_Packaging_Management_Integration_with_SAP_ERP - returnable_material.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="root">
    <xs:complexType>
      <xs:sequence>
        <xs:element type="xs:string" name="materialDocumentNumber"/>
        <xs:element name="line" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="movementType"/>
              <xs:element type="xs:string" name="plant"/>
              <xs:element type="xs:string" name="postingDate"/>
              <xs:element type="xs:string" name="returnableMaterialQuantity"/>
              <xs:element type="xs:string" name="materialType"/>
              <xs:element type="xs:string" name="materialDocumentItemNumber"/>
              <xs:element type="xs:string" name="returnableMaterialUOM_code"/>
              <xs:element type="xs:string" name="materialCode"/>
              <xs:element type="xs:string" name="customerCode"/>
              <xs:element type="xs:string" name="vendorCode"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>