Resources/schemas/Xsd/SAP_S-4HANA_Cloud_Public_Edition_Integration_with_Shopify - shopify_product.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="input">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="title" type="xs:string" minOccurs ="0" maxOccurs="1" />
        <xs:element name="productType" type="xs:string" minOccurs ="0" maxOccurs="1" />
        <xs:element name="status" type="xs:string" minOccurs ="0" maxOccurs="1" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>