Resources/schemas/Xsd/SAP_Business_ByDesign_Master_Data_to_SAP_S-4HANA_Cloud_Public_Edition - Service_Valuation_ByD_to_S4C_XSD.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="ServiceValuation">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="FinancialDataGeneral" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="SERVICE_ID"/>
              <xs:element type="xs:string" name="COMPANY_ID"/>
              <xs:element type="xs:string" name="ACCT_DET_GROUP"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="FinancialDataDetails" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="SERVICE_ID"/>
              <xs:element type="xs:string" name="COMPANY_ID"/>
              <xs:element type="xs:string" name="SET_OF_BOOKS"/>
              <xs:element type="xs:string" name="CURRENCY_ID"/>
              <xs:element type="xs:float" name="COST"/>
              <xs:element type="xs:byte" name="REFERENCE_COST_RATE"/>
              <xs:element type="xs:string" name="REFERENCE_QTY_UOM"/>
              <xs:element type="xs:dateTime" name="VALID_FROM"/>
              <xs:element type="xs:dateTime" name="VALID_TO"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>