Resources/schemas/Xsd/SAP_Document_and_Reporting_Compliance-_Electronic_Documents_for_Chile - ChileIncomingMailUpdate13_12_22.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema targetNamespace="http://www.sap.com/ChileIncomingMailUpdate" 
		elementFormDefault="qualified" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://www.sap.com/ChileIncomingMailUpdate">

    <element name="ChileMailUpdateRequest"
    	type="tns:ChileMailUpdateRequestType">
    </element>
    
    <complexType name="ChileMailUpdateRequestType">
    	<sequence>
    		<element name="TaxID" maxOccurs="1" type="string" minOccurs="1">
    		</element>
    		<element name="NumberOfMessages" type="integer" maxOccurs="1" minOccurs="0"></element>
    	</sequence>
    </complexType>

    <element name="ChileMailUpdateResponse"
    	type="tns:ChileMailUpdateResponseType">
    </element>
    
    <complexType name="ChileMailUpdateResponseType">
    	<sequence>
    		<element name="Repull" type="boolean" maxOccurs="1" minOccurs="0"></element>
    		<element name="Code" type="integer" maxOccurs="1" minOccurs="0"></element>
    		<element name="Response" type="base64Binary" maxOccurs="1" minOccurs="0"></element>
    	</sequence>
    </complexType>
</schema>