Resources/schemas/Xsd/SAP_SuccessFactors_Recruiting_Management_Integration_with_Third_Party_Assessment_Vendor_-_People_Answers - JobRequisition$3151EntityquerySync0.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?><xs:schema elementFormDefault="qualified" attributeFormDefault="unqualified" xmlns:xs="http://www.w3.org/2001/XMLSchema"><xs:element name="queryJobRequisition_3151Response"><xs:complexType><xs:sequence><xs:element name="JobRequisition_3151" maxOccurs="unbounded" minOccurs="0"><xs:complexType><xs:sequence><xs:element name="hiringManagerUserName" minOccurs="0" nillable="true"><xs:simpleType><xs:restriction base="xs:string" xmlns=""><xs:maxLength value="100"/></xs:restriction></xs:simpleType></xs:element></xs:sequence></xs:complexType></xs:element></xs:sequence></xs:complexType></xs:element></xs:schema>