Resources/schemas/Xsd/SAP_S-4HANA_Cloud_Public_Edition_Integration_with_Shopify - s4hana_product_scheme.xsd

<?xml version="1.0" encoding="UTF-8"?><xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="qualified">
  <xs:element name="A_Product">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="A_ProductType">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="CreationDate" type="xs:dateTime"/>
              <xs:element name="ProductGroup" type="xs:string"/>
              <xs:element name="LowLevelCode"/>
              <xs:element name="SizeOrDimensionText"/>
              <xs:element name="CreatedByUser" type="xs:string"/>
              <xs:element name="CountryOfOrigin"/>
              <xs:element name="Product" type="xs:string"/>
              <xs:element name="ProductStandardID"/>
              <xs:element name="IsPilferable" type="xs:boolean"/>
              <xs:element name="to_Plant">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="A_ProductPlantType">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="ProductionInvtryManagedLoc"/>
                          <xs:element name="PeriodType" type="xs:string"/>
                          <xs:element name="IsInternalBatchManaged" type="xs:boolean"/>
                          <xs:element name="ProductCFOPCategory"/>
                          <xs:element name="HasPostToInspectionStock" type="xs:boolean"/>
                          <xs:element name="HasConsignmentCtrl"/>
                          <xs:element name="ConsumptionTaxCtrlCode"/>
                          <xs:element name="ProfileValidityStartDate"/>
                          <xs:element name="CountryOfOrigin"/>
                          <xs:element name="Product" type="xs:string"/>
                          <xs:element name="IsMarkedForDeletion" type="xs:boolean"/>
                          <xs:element name="AvailabilityCheckType"/>
                          <xs:element name="RegionOfOrigin"/>
                          <xs:element name="IsBatchManagementRequired" type="xs:boolean"/>
                          <xs:element name="Plant" type="xs:unsignedShort"/>
                          <xs:element name="Commodity"/>
                          <xs:element name="GoodsReceiptBlockedStockQty" type="xs:decimal"/>
                          <xs:element name="MRPResponsible"/>
                          <xs:element name="MRPType"/>
                          <xs:element name="StockInTransferQuantity" type="xs:decimal"/>
                          <xs:element name="MinimumLotSizeQuantity" type="xs:decimal"/>
                          <xs:element name="PurchasingGroup"/>
                          <xs:element name="MaximumLotSizeQuantity" type="xs:decimal"/>
                          <xs:element name="to_StorageLocation"/>
                          <xs:element name="ProfitCenter" type="xs:string"/>
                          <xs:element name="ABCIndicator"/>
                          <xs:element name="GoodsReceiptDuration" type="xs:unsignedByte"/>
                          <xs:element name="FiscalMonthCurrentPeriod" type="xs:unsignedByte"/>
                          <xs:element name="FiscalYearCurrentPeriod" type="xs:unsignedShort"/>
                          <xs:element name="StockInTransitQuantity" type="xs:decimal"/>
                          <xs:element name="ProcurementType"/>
                          <xs:element name="ProductIsConfigurable"/>
                          <xs:element name="ProfileCode"/>
                          <xs:element name="FixedLotSizeQuantity" type="xs:decimal"/>
                          <xs:element name="StockDeterminationGroup"/>
                          <xs:element name="IsNegativeStockAllowed" type="xs:boolean"/>
                          <xs:element name="FiscalYearVariant"/>
                          <xs:element name="SerialNumberProfile"/>
                          <xs:element name="MaintenanceStatusName" type="xs:string"/>
                          <xs:element name="IsCoProduct" type="xs:boolean"/>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="VolumeUnit"/>
              <xs:element name="WarehouseProductGroup"/>
              <xs:element name="WarehouseStorageCondition"/>
              <xs:element name="MaterialVolume" type="xs:decimal"/>
              <xs:element name="ManufacturerPartProfile"/>
              <xs:element name="CrossPlantStatus"/>
              <xs:element name="CrossPlantStatusValidityDate"/>
              <xs:element name="TimeUnitForQuarantinePeriod"/>
              <xs:element name="GrossWeight" type="xs:decimal"/>
              <xs:element name="InternationalArticleNumberCat"/>
              <xs:element name="SourceOfSupply"/>
              <xs:element name="ProductType" type="xs:string"/>
              <xs:element name="ItemCategoryGroup" type="xs:string"/>
              <xs:element name="ProcurementRule"/>
              <xs:element name="BaseUnit" type="xs:string"/>
              <xs:element name="ProductOldID"/>
              <xs:element name="VarblPurOrdUnitIsActive"/>
              <xs:element name="LastChangedByUser" type="xs:string"/>
              <xs:element name="Brand"/>
              <xs:element name="MaximumPackagingWidth" type="xs:decimal"/>
              <xs:element name="QuarantinePeriod" type="xs:unsignedByte"/>
              <xs:element name="PurchaseOrderQuantityUnit"/>
              <xs:element name="ProductHierarchy"/>
              <xs:element name="AuthorizationGroup"/>
              <xs:element name="StandardHandlingUnitType"/>
              <xs:element name="MaterialRevisionLevel"/>
              <xs:element name="ValidityStartDate"/>
              <xs:element name="ExternalProductGroup"/>
              <xs:element name="to_Description">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element maxOccurs="unbounded" name="A_ProductDescriptionType">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="Language" type="xs:string"/>
                          <xs:element name="Product" type="xs:string"/>
                          <xs:element name="ProductDescription" type="xs:string"/>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="CrossPlantConfigurableProduct"/>
              <xs:element name="ProductManufacturerNumber"/>
              <xs:element name="MaximumPackagingLength" type="xs:decimal"/>
              <xs:element name="HasVariableTareWeight" type="xs:boolean"/>
              <xs:element name="ANPCode" type="xs:unsignedByte"/>
              <xs:element name="WeightUnit" type="xs:string"/>
              <xs:element name="ProdNoInGenProdInPrepackProd"/>
              <xs:element name="IsMarkedForDeletion" type="xs:boolean"/>
              <xs:element name="CompetitorID"/>
              <xs:element name="QualityInspectionGroup"/>
              <xs:element name="IsBatchManagementRequired" type="xs:boolean"/>
              <xs:element name="IsRelevantForHzdsSubstances" type="xs:boolean"/>
              <xs:element name="Division"/>
              <xs:element name="SerialIdentifierAssgmtProfile"/>
              <xs:element name="AdjustmentProfile"/>
              <xs:element name="SerialNoExplicitnessLevel"/>
              <xs:element name="PreferredUnitOfMeasure"/>
              <xs:element name="HandlingIndicator"/>
              <xs:element name="HandlingUnitType"/>
              <xs:element name="NetWeight" type="xs:decimal"/>
              <xs:element name="ProductIsConfigurable" type="xs:boolean"/>
              <xs:element name="IndustryStandardName"/>
              <xs:element name="SerialNumberProfile"/>
              <xs:element name="LastChangeDate" type="xs:dateTime"/>
              <xs:element name="ChangeNumber"/>
              <xs:element name="MaximumPackagingHeight" type="xs:decimal"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>