Resources/schemas/Xsd/SAP_Document_Compliance-_Template_for_Electronic_Document_Integration - OlimpiaDebitNote.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="DebitNote">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Location">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="address"/>
              <xs:element type="xs:byte" name="city"/>
              <xs:element type="xs:string" name="countryCode"/>
              <xs:element type="xs:byte" name="postalZone"/>
              <xs:element type="xs:byte" name="state"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="acquirer" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:byte" name="documentTypeCode" minOccurs="0"/>
              <xs:element type="xs:int" name="documentNumber" minOccurs="0"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="additionalAcquirers" minOccurs="0"  maxOccurs="unbounded">
          <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:string" name="Name"/>
                    <xs:element type="xs:byte" name="DocumentTypeCode"/>
                    <xs:element type="xs:int" name="DocumentNumber"/>
                    <xs:element type="xs:byte" name="DocumentNumberCheck"/>
                    <xs:element type="xs:int" name="MerchantRegister"/>
                    <xs:element type="xs:float" name="ParticipationPercent"/>
                  </xs:sequence>
               
          </xs:complexType>
        </xs:element>
        <xs:element name="allowancesOrCharges" minOccurs="0"  maxOccurs="unbounded">
          <xs:complexType>
         
                  <xs:sequence>
                    <xs:element type="xs:byte" name="amount"/>
                    <xs:element type="xs:byte" name="codeAllowanceDIAN"/>
                    <xs:element type="xs:byte" name="codeType"/>
                    <xs:element type="xs:string" name="motive"/>
                    <xs:element type="xs:string" name="observations" minOccurs="0"/>
                  </xs:sequence>
               
          </xs:complexType>
        </xs:element>
        <xs:element type="xs:string" name="anexo" minOccurs="0"/>
        <xs:element type="xs:byte" name="causeCode" minOccurs="0"/>
        <xs:element type="xs:string" name="currency" minOccurs="0"/>
        <xs:element type="xs:dateTime" name="dateTRM" minOccurs="0"/>
        <xs:element type="xs:byte" name="debitNoteNumber" minOccurs="0"/>
        <xs:element type="xs:string" name="emailForRejectionNotification" minOccurs="0"/>
        <xs:element type="xs:string" name="invoiceNumber" minOccurs="0"/>
        <xs:element type="xs:dateTime" name="issueDate" minOccurs="0"/>
        <xs:element name="items" minOccurs="0"  maxOccurs="unbounded">
          <xs:complexType>
            <xs:sequence>
         
                    <xs:element name="allowancesOrCharges" minOccurs="0"  maxOccurs="unbounded">
                      <xs:complexType>
                     
                              <xs:sequence>
                                <xs:element type="xs:byte" name="amount"/>
                                <xs:element type="xs:byte" name="codeAllowanceDIAN"/>
                                <xs:element type="xs:byte" name="codeType"/>
                                <xs:element type="xs:string" name="motive"/>
                                <xs:element type="xs:string" name="observations" minOccurs="0"/>
                              </xs:sequence>
                          
                      </xs:complexType>
                    </xs:element>
                    <xs:element type="xs:string" name="brandName" minOccurs="0"/>
                    <xs:element type="xs:string" name="description" minOccurs="0"/>
                    <xs:element type="xs:int" name="mandateDocumentNumber" minOccurs="0"/>
                    <xs:element type="xs:byte" name="mandateVerificationDigit" minOccurs="0"/>
                    <xs:element type="xs:string" name="modelName" minOccurs="0"/>
                    <xs:element type="xs:string" name="note" minOccurs="0"/>
                    <xs:element name="observations" minOccurs="0">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element type="xs:string" name="observation1" minOccurs="0"/>
                          <xs:element type="xs:string" name="observation2" minOccurs="0"/>
                          <xs:element type="xs:string" name="observation3" minOccurs="0"/>
                          <xs:element type="xs:string" name="observation4" minOccurs="0"/>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element type="xs:byte" name="priceAmount" minOccurs="0"/>
                    <xs:element type="xs:byte" name="pricingReferenceAmount" minOccurs="0"/>
                    <xs:element type="xs:string" name="pricingReferenceCode" minOccurs="0"/>
                    <xs:element type="xs:byte" name="quantity" minOccurs="0"/>
                    <xs:element type="xs:byte" name="quantityCode" minOccurs="0"/>
                    <xs:element type="xs:byte" name="scheme" minOccurs="0"/>
                    <xs:element type="xs:short" name="schemeTypeCode" minOccurs="0"/>
                    <xs:element type="xs:float" name="subtotal" minOccurs="0"/>
                    <xs:element name="taxesAndRetentions" minOccurs="0"  maxOccurs="unbounded">
                      <xs:complexType>
                        <xs:sequence>
                          
                                <xs:element type="xs:byte" name="baseG"/>
                                <xs:element type="xs:byte" name="code"/>
                                <xs:element type="xs:byte" name="factor"/>
                                <xs:element type="xs:byte" name="total"/>
                             
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
      
          </xs:complexType>
        </xs:element>
        <xs:element name="observations" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="observation1" minOccurs="0"/>
              <xs:element type="xs:string" name="observation10" minOccurs="0"/>
              <xs:element type="xs:string" name="observation2" minOccurs="0"/>
              <xs:element type="xs:string" name="observation3" minOccurs="0"/>
              <xs:element type="xs:string" name="observation4" minOccurs="0"/>
              <xs:element type="xs:string" name="observation5" minOccurs="0"/>
              <xs:element type="xs:string" name="observation6" minOccurs="0"/>
              <xs:element type="xs:string" name="observation7" minOccurs="0"/>
              <xs:element type="xs:string" name="observation8" minOccurs="0"/>
              <xs:element type="xs:string" name="observation9" minOccurs="0"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element type="xs:byte" name="operationTypeCode"/>
        <xs:element name="physicalLocationAcquirer">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="address"/>
              <xs:element type="xs:byte" name="city"/>
              <xs:element type="xs:string" name="countryCode"/>
              <xs:element type="xs:byte" name="postalZone"/>
              <xs:element type="xs:byte" name="state"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element type="xs:string" name="prefix" minOccurs="0"/>
        <xs:element type="xs:byte" name="roundingAmount" minOccurs="0"/>
		<xs:element name="sectorAdditionals" minOccurs="0"  maxOccurs="unbounded">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="Additionals" minOccurs="0" maxOccurs="unbounded">
                      <xs:complexType>
                        
                              <xs:sequence>
                                <xs:element type="xs:string" name="Name"/>
                                <xs:element type="xs:int" name="Value"/>
                              </xs:sequence>
                            
                      </xs:complexType>
                    </xs:element>
                    <xs:element type="xs:string" name="SectorName" minOccurs="0"/>
                  </xs:sequence>
         
          </xs:complexType>
        </xs:element>
        <xs:element type="xs:string" name="sendAlertTo" minOccurs="0"/>
        <xs:element type="xs:string" name="sendToDian" minOccurs="0"/>
        <xs:element type="xs:byte" name="subtotalAmount" minOccurs="0"/>
        <xs:element type="xs:byte" name="taxTotalAmount" minOccurs="0"/>
        <xs:element type="xs:byte" name="totalAmount" minOccurs="0"/>
        <xs:element type="xs:byte" name="valueTRM" minOccurs="0"/>
        <xs:element name="xmlAdditionals" minOccurs="0"  maxOccurs="unbounded">
          <xs:complexType>
            
                  <xs:sequence>
                    <xs:element type="xs:int" name="Code"/>
                    <xs:element type="xs:int" name="Cufe"/>
                    <xs:element type="xs:dateTime" name="IssueDate"/>
                    <xs:element type="xs:string" name="Value"/>
                  </xs:sequence>
               
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>