Resources/schemas/Xsd/SAP_S-4HANA_Cloud_Integration_with_Salesforce - Salesforce_Object_Upsert_with_External_Id_Request-1.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!--Copyright (c) Rojo Consultancy B.V. all rights reserved 
XSD generated from the Salesforce Adapter Plug-In by Rojo Consultancy B.V. 
Intended for the Salesforce Adapter for SAP Cloud Platform Integration 
Based upon Salesforce API version: 48.0 
Operation: REST - Salesforce Object - Upsert with External Id - Product2 - Request 
Creation date: Thu Nov 05 12:15:55 CET 2020 
Website: www.rojoconsultancy.com-->
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
    <xsd:element name="sObjects">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element maxOccurs="1" minOccurs="0" name="Identifier">
                    <xsd:complexType>
                        <xsd:sequence>
                            <xsd:element maxOccurs="1" minOccurs="0" name="ExternalId" type="xsd:string"/>
                            <xsd:element default="Product2" maxOccurs="1" minOccurs="0" name="SObjectName" type="xsd:string"/>
                        </xsd:sequence>
                    </xsd:complexType>
                </xsd:element>
                <xsd:element maxOccurs="1" minOccurs="0" name="Name" nillable="false">
                    <xsd:annotation>
                        <xsd:documentation>Product Name</xsd:documentation>
                    </xsd:annotation>
                    <xsd:simpleType>
                        <xsd:restriction base="xsd:string">
                            <xsd:minLength value="0"/>
                            <xsd:maxLength value="255"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element maxOccurs="1" minOccurs="0" name="ProductCode" nillable="true">
                    <xsd:annotation>
                        <xsd:documentation>Product Code</xsd:documentation>
                    </xsd:annotation>
                    <xsd:simpleType>
                        <xsd:restriction base="xsd:string">
                            <xsd:minLength value="0"/>
                            <xsd:maxLength value="255"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element maxOccurs="1" minOccurs="0" name="Description" nillable="true">
                    <xsd:annotation>
                        <xsd:documentation>Product Description</xsd:documentation>
                    </xsd:annotation>
                    <xsd:simpleType>
                        <xsd:restriction base="xsd:string">
                            <xsd:minLength value="0"/>
                            <xsd:maxLength value="4000"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element maxOccurs="1" minOccurs="0" name="IsActive" nillable="false" type="xsd:boolean">
                    <xsd:annotation>
                        <xsd:documentation>Active</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element maxOccurs="1" minOccurs="0" name="Family" nillable="true">
                    <xsd:annotation>
                        <xsd:documentation>Product Family</xsd:documentation>
                    </xsd:annotation>
                    <xsd:simpleType>
                        <xsd:restriction base="xsd:string">
                            <xsd:minLength value="0"/>
                            <xsd:maxLength value="40"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element maxOccurs="1" minOccurs="0" name="CurrencyIsoCode" nillable="false">
                    <xsd:annotation>
                        <xsd:documentation>Currency ISO Code</xsd:documentation>
                    </xsd:annotation>
                    <xsd:simpleType>
                        <xsd:restriction base="xsd:string">
                            <xsd:enumeration value="EUR"/>
                            <xsd:enumeration value="USD"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element maxOccurs="1" minOccurs="0" name="ExternalDataSourceId" nillable="true" type="ID">
                    <xsd:annotation>
                        <xsd:documentation>External Data Source ID</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element maxOccurs="1" minOccurs="0" name="ExternalId" nillable="true">
                    <xsd:annotation>
                        <xsd:documentation>External ID</xsd:documentation>
                    </xsd:annotation>
                    <xsd:simpleType>
                        <xsd:restriction base="xsd:string">
                            <xsd:minLength value="0"/>
                            <xsd:maxLength value="255"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element maxOccurs="1" minOccurs="0" name="DisplayUrl" nillable="true">
                    <xsd:annotation>
                        <xsd:documentation>Display URL</xsd:documentation>
                    </xsd:annotation>
                    <xsd:simpleType>
                        <xsd:restriction base="xsd:string">
                            <xsd:minLength value="0"/>
                            <xsd:maxLength value="1000"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element maxOccurs="1" minOccurs="0" name="QuantityUnitOfMeasure" nillable="true">
                    <xsd:annotation>
                        <xsd:documentation>Quantity Unit Of Measure</xsd:documentation>
                    </xsd:annotation>
                    <xsd:simpleType>
                        <xsd:restriction base="xsd:string">
                            <xsd:minLength value="0"/>
                            <xsd:maxLength value="40"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element maxOccurs="1" minOccurs="0" name="StockKeepingUnit" nillable="true">
                    <xsd:annotation>
                        <xsd:documentation>Product SKU</xsd:documentation>
                    </xsd:annotation>
                    <xsd:simpleType>
                        <xsd:restriction base="xsd:string">
                            <xsd:minLength value="0"/>
                            <xsd:maxLength value="180"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element maxOccurs="1" minOccurs="0" name="SAP_Material_Ref__c" nillable="true">
                    <xsd:annotation>
                        <xsd:documentation>SAP Material Reference</xsd:documentation>
                    </xsd:annotation>
                    <xsd:simpleType>
                        <xsd:restriction base="xsd:string">
                            <xsd:minLength value="0"/>
                            <xsd:maxLength value="50"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element maxOccurs="1" minOccurs="0" name="S4HANA_Ref_Num__c" nillable="true">
                    <xsd:annotation>
                        <xsd:documentation>SAP Reference Number</xsd:documentation>
                    </xsd:annotation>
                    <xsd:simpleType>
                        <xsd:restriction base="xsd:string">
                            <xsd:minLength value="0"/>
                            <xsd:maxLength value="40"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:simpleType name="ID">
        <xsd:restriction base="xsd:string">
            <xsd:pattern value="[a-zA-Z0-9]{18}"/>
            <xsd:pattern value="[a-zA-Z0-9]{15}"/>
        </xsd:restriction>
    </xsd:simpleType>
</xsd:schema>
