Resources/schemas/Xsd/SAP_S-4HANA_Cloud_Integration_with_ServiceNow - Cost_Center_Create_Object_Request XSD.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--XSD generated from the ServiceNow Eclipse plugin. Intended for the ServiceNow Adapter for SAP Hana Cloud Platform, integration service (SAP HCI). Based upon ServiceNow API. API Version: Lastest, Operation: Table API - Create Object - Request, Creation date: Sun Jan 24 22:44:03 IST 2021 -->
<xsd:schema elementFormDefault="qualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <xsd:element name="request">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="entry" type="entryType"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:complexType name="entryType">
        <xsd:all>
            <xsd:element name="account_number" minOccurs="0" nillable="true">
                <xsd:annotation>
                    <xsd:documentation>Account number</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="40"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="code" minOccurs="0" nillable="true">
                <xsd:annotation>
                    <xsd:documentation>Code</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="40"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="location" minOccurs="0" nillable="true" type="guid">
                <xsd:annotation>
                    <xsd:documentation>Location</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="manager" minOccurs="0" nillable="true" type="guid">
                <xsd:annotation>
                    <xsd:documentation>Manager</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="name" minOccurs="0" nillable="true">
                <xsd:annotation>
                    <xsd:documentation>Name</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="100"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="parent" minOccurs="0" nillable="true" type="guid">
                <xsd:annotation>
                    <xsd:documentation>Parent</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="sys_created_by" minOccurs="0" nillable="true">
                <xsd:annotation>
                    <xsd:documentation>Created by</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="40"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="sys_created_on" minOccurs="0" nillable="true" type="date_time">
                <xsd:annotation>
                    <xsd:documentation>Created</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="sys_mod_count" minOccurs="0" nillable="true" type="integer">
                <xsd:annotation>
                    <xsd:documentation>Updates</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="sys_updated_by" minOccurs="0" nillable="true">
                <xsd:annotation>
                    <xsd:documentation>Updated by</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="40"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="sys_updated_on" minOccurs="0" nillable="true" type="date_time">
                <xsd:annotation>
                    <xsd:documentation>Updated</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="valid_from" minOccurs="0" nillable="true" type="date_time">
                <xsd:annotation>
                    <xsd:documentation>Valid from</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="valid_to" minOccurs="0" nillable="true" type="date_time">
                <xsd:annotation>
                    <xsd:documentation>Valid to</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="sys_tags" minOccurs="0" nillable="true">
                <xsd:annotation>
                    <xsd:documentation>Tags</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="32"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
        </xsd:all>
    </xsd:complexType>
    <xsd:simpleType name="guid">
        <xsd:restriction base="xsd:string">
            <xsd:length value="32" fixed="true"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="date_time">
        <xsd:union>
            <xsd:simpleType>
                <xsd:restriction base="xsd:string">
                    <xsd:enumeration value=""/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType>
                <xsd:restriction base="xsd:string">
                    <xsd:pattern value="^\d{4}-\d{2}-\d{2}\s\d{2}:\d{2}:\d{2}$"/>
                </xsd:restriction>
            </xsd:simpleType>
        </xsd:union>
    </xsd:simpleType>
    <xsd:simpleType name="integer">
        <xsd:union>
            <xsd:simpleType>
                <xsd:restriction base="xsd:string">
                    <xsd:enumeration value=""/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType>
                <xsd:restriction base="xsd:integer"/>
            </xsd:simpleType>
        </xsd:union>
    </xsd:simpleType>
</xsd:schema>
