Resources/schemas/Xsd/SAP_Commerce_Integration_with_SAP_CPQ_and_SAP_Subscription_Billing - CPQGetProductDetailsById.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="product" type="productType"/>
  <xs:complexType name="categoriesType">
    <xs:sequence>
      <xs:element type="xs:byte" name="id"/>
      <xs:element type="xs:string" name="name"/>
      <xs:element type="xs:byte" name="rank"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="subscriptionBillingInfo">
    <xs:sequence>
       <xs:element type="contractTerms" name="contractTerms"/>
    </xs:sequence>
  </xs:complexType>  
  <xs:complexType name="contractTerms">
        <xs:sequence>
      <xs:element type="xs:string" name="contractTermLength"/>
      <xs:element type="xs:string" name="minimumContractTermLength"/>
      </xs:sequence>
      </xs:complexType>
  <xs:complexType name="shippingsType">
    <xs:sequence>
      <xs:element type="xs:short" name="id"/>
      <xs:element type="xs:string" name="expression"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CPQProductsType">
    <xs:sequence>
      <xs:element type="subscriptionBillingInfo" name="subscriptionBillingInfo"/>
      <xs:element type="xs:short" name="id"/>
      <xs:element type="xs:string" name="systemId"/>
      <xs:element type="xs:string" name="name"/>
      <xs:element type="xs:byte" name="displayTypeId"/>
      <xs:element type="xs:byte" name="productTypeId"/>
      <xs:element type="xs:string" name="catalogCode"/>
      <xs:element type="xs:string" name="unitOfMeasure"/>
      <xs:element type="xs:string" name="description"/>
      <xs:element type="categoriesType" name="categories"/>
      <xs:element type="xs:string" name="createdDate"/>
      <xs:element type="xs:string" name="modifiedDate"/>
      <xs:element type="xs:string" name="createdBy"/>
      <xs:element type="xs:string" name="modifiedBy"/>
      <xs:element type="xs:string" name="productVersion"/>
      <xs:element type="xs:string" name="image"/>
      <xs:element type="xs:byte" name="displayTypePricingId"/>
      <xs:element type="xs:string" name="pricingCode"/>
      <xs:element type="xs:float" name="price"/>
      <xs:element type="xs:string" name="costBuilder"/>
      <xs:element type="xs:string" name="priceBuilder"/>
      <xs:element type="xs:float" name="baseRecurringPrice"/>
      <xs:element type="xs:string" name="recurringPriceFormula"/>
      <xs:element type="xs:string" name="recurringCostFormula"/>
      <xs:element type="xs:string" name="useCustomPricing"/>
      <xs:element type="xs:string" name="active"/>
      <xs:element type="xs:string" name="visibleToEveryone"/>
      <xs:element type="xs:string" name="permissionSelected"/>
      <xs:element type="xs:string" name="permissionStartDate"/>
      <xs:element type="xs:string" name="permissionEndDate"/>
      <xs:element type="xs:byte" name="endStatus"/>
      <xs:element type="xs:string" name="replacementProductSystemId"/>
      <xs:element type="xs:string" name="replacementProductName"/>
      <xs:element type="xs:string" name="externalId"/>
      <xs:element type="xs:string" name="upc"/>
      <xs:element type="xs:string" name="mpn"/>
      <xs:element type="xs:string" name="inventory"/>
      <xs:element type="xs:string" name="leadTime"/>
      <xs:element type="xs:string" name="familyCode"/>
      <xs:element type="xs:string" name="weight"/>
      <xs:element type="xs:string" name="imageLarge"/>
      <xs:element type="xs:string" name="descriptionLong"/>
      <xs:element type="xs:string" name="executeRulesOnce"/>
      <xs:element type="xs:string" name="allowConfigurationImport"/>
      <xs:element type="xs:string" name="script"/>
      <xs:element type="xs:string" name="configurationTemplate"/>
      <xs:element type="xs:string" name="updateAsset"/>
      <xs:element type="xs:string" name="alwaysAllowRenewal"/>
      <xs:element type="xs:string" name="isSapProduct"/>
      <xs:element type="xs:string" name="ratePlanTemplateId"/>
      <xs:element type="xs:string" name="descriptionBuilder"/>
      <xs:element type="xs:string" name="userCanEnterQuantity"/>
      <xs:element type="xs:string" name="skipRelatedProductsLoading"/>
      <xs:element type="xs:string" name="defaultItemType"/>
      <xs:element type="xs:string" name="userCanChangeItemType"/>
      <xs:element type="xs:string" name="value3"/>
      <xs:element type="shippingsType" name="shippings" maxOccurs="unbounded" minOccurs="0"/>
      <xs:element type="xs:string" name="layout"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="productType">
    <xs:sequence>
      <xs:element type="xs:byte" name="marketId"/>
      <xs:element type="xs:byte" name="periodicity"/>
      <xs:element type="CPQProductsType" name="CPQProducts"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>