Resources/schemas/Xsd/SAP_S-4HANA_Customer_Master_Mapping_with_Pricefx - customerHierarchyAssignment.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- Created with Liquid Technologies Online Tools 1.0 (https://www.liquid-technologies.com) -->
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="ZDVCUSTHIERARCHY">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" name="ZDVCUSTHIERARCHYType">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="Spart" type="xs:string" />
              <xs:element name="Vkorg" type="xs:string" />
              <xs:element name="Hvtweg" type="xs:string" />
              <xs:element name="Hityp" type="xs:string" />
              <xs:element name="Bokre" type="xs:string" />
              <xs:element name="Vtweg" type="xs:string" />
              <xs:element name="Hvkorg" type="xs:string" />
              <xs:element name="Hzuor" type="xs:string" />
              <xs:element name="Prfre" type="xs:string" />
              <xs:element name="NodeGuid" type="xs:string" />
              <xs:element name="Datbi" type="xs:date" />
              <xs:element name="Datab" type="xs:date" />
              <xs:element name="Hkunnr" type="xs:string" />
              <xs:element name="Grpno" type="xs:string" />
              <xs:element name="NodeId" type="xs:string" />
              <xs:element name="Hspart" type="xs:string" />
              <xs:element name="Kunnr" type="xs:string" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>