Resources/schemas/Xsd/SAP_Customer_Relationship_Management_Integration_with_SAP_Field_Service_Management - Equipments-2.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  
 <xs:element name="Equipment" type="EquipmentDTO"/>
  
  <xs:complexType name="EquipmentMetadata">
    <xs:sequence>
       <xs:element name="businessPartner" maxOccurs="1" minOccurs="0">
               <xs:complexType>
                  <xs:sequence>
                     <xs:element type="xs:string" name="code" minOccurs="0" />
                     <xs:element type="xs:string" name="externalId" minOccurs="0" />
                     <xs:element type="xs:string" name="id" minOccurs="0" />
                  </xs:sequence>
               </xs:complexType>
            </xs:element>
      <xs:element type="xs:string" name="globalUniqueId"  minOccurs="0"/>
      <xs:element type="xs:string" name="manufacturerSerialNumber"  maxOccurs="unbounded" minOccurs="0"/>
      <xs:element type="xs:string" name="name"  minOccurs="0"/>
      <xs:element type="xs:string" name="code"  minOccurs="0"/>
      <xs:element type="xs:string" name="remarks"  minOccurs="0"/>
        <xs:element type="xs:string" name="status"  minOccurs="0"/>
        <xs:element type="xs:string" name="type"  minOccurs="0"/>
        <xs:element type="xs:string" name="externalId"  minOccurs="0"/>
        <xs:element type="xs:string" name="serialNumber"  minOccurs="0"/>
        <xs:element type="xs:string" name="id"  minOccurs="0"/>
<xs:element name="nameTranslations" maxOccurs="1" minOccurs="0">
             <xs:complexType>
                           <xs:sequence>
                              <xs:element type="xs:string" name="af" minOccurs="0" />
                              <xs:element type="xs:string" name="ar" minOccurs="0" />
                              <xs:element type="xs:string" name="be" minOccurs="0" />
                              <xs:element type="xs:string" name="bg" minOccurs="0" />
                              <xs:element type="xs:string" name="ca" minOccurs="0" />
                              <xs:element type="xs:string" name="cs" minOccurs="0" />
                              <xs:element type="xs:string" name="cy" minOccurs="0" />
                              <xs:element type="xs:string" name="da" minOccurs="0" />
                              <xs:element type="xs:string" name="de" minOccurs="0" />
                              <xs:element type="xs:string" name="el" minOccurs="0" />
                              <xs:element type="xs:string" name="en" minOccurs="0" />
                              <xs:element type="xs:string" name="es" minOccurs="0" />
                              <xs:element type="xs:string" name="et" minOccurs="0" />
                              <xs:element type="xs:string" name="fi" minOccurs="0" />
                              <xs:element type="xs:string" name="fr" minOccurs="0" />
                              <xs:element type="xs:string" name="ga" minOccurs="0" />
                              <xs:element type="xs:string" name="he" minOccurs="0" />
                              <xs:element type="xs:string" name="hi" minOccurs="0" />
                              <xs:element type="xs:string" name="hr" minOccurs="0" />
                              <xs:element type="xs:string" name="hu" minOccurs="0" />
                              <xs:element type="xs:string" name="id" minOccurs="0" />
                              <xs:element type="xs:string" name="is" minOccurs="0" />
                              <xs:element type="xs:string" name="it" minOccurs="0" />
                              <xs:element type="xs:string" name="ja" minOccurs="0" />
                              <xs:element type="xs:string" name="ko" minOccurs="0" />
                              <xs:element type="xs:string" name="lt" minOccurs="0" />
                              <xs:element type="xs:string" name="lv" minOccurs="0" />
                              <xs:element type="xs:string" name="ms" minOccurs="0" />
                              <xs:element type="xs:string" name="nl" minOccurs="0" />
                              <xs:element type="xs:string" name="no" minOccurs="0" />
                              <xs:element type="xs:string" name="pl" minOccurs="0" />
                              <xs:element type="xs:string" name="pt" minOccurs="0" />
                              <xs:element type="xs:string" name="ro" minOccurs="0" />
                              <xs:element type="xs:string" name="ru" minOccurs="0" />
                              <xs:element type="xs:string" name="sb" minOccurs="0" />
                              <xs:element type="xs:string" name="sk" minOccurs="0" />
                              <xs:element type="xs:string" name="sl" minOccurs="0" />
                              <xs:element type="xs:string" name="sr" minOccurs="0" />
                              <xs:element type="xs:string" name="sv" minOccurs="0" />
                              <xs:element type="xs:string" name="th" minOccurs="0" />
                              <xs:element type="xs:string" name="tr" minOccurs="0" />
                              <xs:element type="xs:string" name="uk" minOccurs="0" />
                              <xs:element type="xs:string" name="ur" minOccurs="0" />
                              <xs:element type="xs:string" name="vi" minOccurs="0" />
                              <xs:element type="xs:string" name="zh" minOccurs="0" />
                              <xs:element type="xs:string" name="zh-hk" minOccurs="0" />
                              <xs:element type="xs:string" name="zh-tw" minOccurs="0" />
                              <xs:element type="xs:string" name="zh-sg" minOccurs="0" />
                              <xs:element type="xs:string" name="zu" minOccurs="0" />
                           </xs:sequence>
                        </xs:complexType>
        </xs:element>
      <xs:element name="contact" maxOccurs="1" minOccurs="0">
     <xs:complexType>
     <xs:sequence>
              <xs:element type="xs:string" name="code"  maxOccurs="unbounded" minOccurs="0" />
              <xs:element type="xs:string" name="externalId" maxOccurs="unbounded" minOccurs="0" />
             <xs:element type="xs:string" name="id" maxOccurs="unbounded" minOccurs="0" />
    </xs:sequence>
   </xs:complexType>
   </xs:element>
     <xs:element name="owners" maxOccurs="1" minOccurs="0">
     <xs:complexType>
     <xs:sequence>
              <xs:element type="xs:string" name="code"  maxOccurs="unbounded" minOccurs="0" />
              <xs:element type="xs:string" name="externalId" maxOccurs="unbounded" minOccurs="0" />
             <xs:element type="xs:string" name="id" maxOccurs="unbounded" minOccurs="0" />
    </xs:sequence>
   </xs:complexType>
   </xs:element>
      <xs:element name="item" maxOccurs="1" minOccurs="0">
               <xs:complexType>
                  <xs:sequence>
                     <xs:element type="xs:string" name="code" maxOccurs="1" minOccurs="0" />
                     <xs:element type="xs:string" name="externalId" maxOccurs="1" minOccurs="0" />
                     <xs:element type="xs:string" name="id" maxOccurs="1" minOccurs="0" />
                  </xs:sequence>
               </xs:complexType>
            </xs:element>
              </xs:sequence>
  </xs:complexType>


  

  <xs:complexType name="EquipmentDTO">
    <xs:sequence>
      <xs:element type="EquipmentMetadata" name="EQUIPMENT" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
  
</xs:schema>