Resources/schemas/Xsd/SAP_Hybris_Cloud_for_Customer_Integration_with_SAP_Hybris_as_a_Service - C4CProduct.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">

	<xs:element name="Product" type="Product" />

	<xs:complexType name="Product">
		<xs:sequence>
			<xs:element name="ChangedOn" type="xs:string" minOccurs="0" />
			<xs:element name="CompetitorProductIndicator" type="xs:boolean" minOccurs="0" />
			<xs:element name="CreatedBy" type="xs:string" minOccurs="0" />
			<xs:element name="CreatedOn" type="xs:string" minOccurs="0" />
			<xs:element name="Description" type="xs:string" minOccurs="0" />
			<xs:element name="ETag" type="xs:string" minOccurs="0" />
			<xs:element name="ExtensionFields" type="xs:string" minOccurs="0" />
			<xs:element name="ID" type="xs:string" minOccurs="0" />
			<xs:element name="languageCode" type="xs:string" minOccurs="0" />
			<xs:element name="languageCodeText" type="xs:string" minOccurs="0" />
			<xs:element name="ObjectID" type="xs:string" minOccurs="0" />
			<xs:element name="StatusCode" type="xs:string" minOccurs="0" />
			<xs:element name="StatusCodeText" type="xs:string" minOccurs="0" />
			<xs:element name="UUID" type="xs:string" minOccurs="0" />
			<xs:element name="UnitOfMeasureCode" type="xs:string" minOccurs="0" />
			<xs:element name="UnitOfMeasureCodeText" type="xs:string" minOccurs="0" />
		</xs:sequence>
	</xs:complexType>
</xs:schema>

