Resources/schemas/Xsd/SAP_Customer_Relationship_Management_Integration_with_SAP_Field_Service_Management - ItemWarehouseLevel.xsd

<xs:schema attributeFormDefault="unqualified"
	elementFormDefault="qualified"
	xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="ItemWarehouseLevel">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="data" minOccurs="0"
					maxOccurs="unbounded">
					<xs:complexType>
							<xs:sequence>
							<xs:element type="xs:string" name="externalId" minOccurs="0" maxOccurs="1" />
							<xs:element type="xs:string" name="committed" minOccurs="0" maxOccurs="1" />
							<xs:element type="xs:string" name="inStock" minOccurs="0" maxOccurs="1" />
							<xs:element type="xs:string" name="ordered" minOccurs="0" maxOccurs="1" />
							<xs:element name="warehouse" maxOccurs="1" minOccurs="0">
								<xs:complexType>
									<xs:sequence>
										<xs:element type="xs:string" name="externalId" minOccurs="0" />
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="item" maxOccurs="1" minOccurs="0">
								<xs:complexType>
									<xs:sequence>
										<xs:element type="xs:string" name="externalId" minOccurs="0" />
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>