Resources/schemas/Xsd/SAP_Build_Process_Automation_Integration_with_SAP_S-4HANA_for_Fixed_Asset_Transfer_Approval - BAPI_response.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="unqualified" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:sap-com:document:sap:rfc:functions">
  <xs:element name="BAPI_ASSET_TRANSFER_POST">
      <xs:complexType>
      <xs:sequence>
  <xs:element name="GENERALPOSTINGDATA">
    <xs:complexType>
      <xs:sequence>
              <xs:element name="DOC_TYPE" type="xs:string" />
              <xs:element name="DOC_DATE" type="xs:date" />
              <xs:element name="PSTNG_DATE" type="xs:date" />
              <xs:element name="FIS_PERIOD" type="xs:string" />
              <xs:element name="TRANS_DATE" type="xs:date" />
              <xs:element name="COMP_CODE" type="xs:string" />
              <xs:element name="ASSETMAINO" type="xs:string" />
              <xs:element name="ASSETSUBNO" type="xs:string" minOccurs="0" maxOccurs="1" />
              <xs:element name="DEPR_AREA" type="xs:string" minOccurs="0" maxOccurs="1"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="TRANSFERTODATA">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="PART_COMCO" type="xs:string" />
              <xs:element name="PART_ASSET" type="xs:string" minOccurs="0" maxOccurs="1" />
              <xs:element name="PART_SUBNO" type="xs:string" minOccurs="0" maxOccurs="1" />
              <xs:element name="ASSETCLASS" type="xs:string" minOccurs="0" maxOccurs="1" />
              <xs:element name="COSTCENTER" type="xs:string" minOccurs="0" maxOccurs="1" />
              <xs:element name="DESCRIPT" type="xs:string" minOccurs="0" maxOccurs="1" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="TRANSFERPOSTINGDATA">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="REV_ON_RET" type="xs:string" minOccurs="0" maxOccurs="1"/>
              <xs:element name="AREA_NBV" type="xs:string" minOccurs="0" maxOccurs="1"/>
              <xs:element name="AMOUNT" type="xs:string" minOccurs="0" maxOccurs="1"/>
              <xs:element name="CURRENCY" type="xs:string" minOccurs="0" maxOccurs="1" />
              <xs:element name="QUANTITY" type="xs:string" minOccurs="0" maxOccurs="1" />
              <xs:element name="PERC_RATE" type="xs:string" minOccurs="0" maxOccurs="1" />
              <xs:element name="TRANSVAR" type="xs:string" minOccurs="0" maxOccurs="1" />
              <xs:element name="VALUEDATE" type="xs:date" minOccurs="0" maxOccurs="1" />
              <xs:element name="NEW_ACQ_IN" type="xs:string" minOccurs="0" maxOccurs="1" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>