Resources/schemas/Xsd/SAP_Business_One_Accounting_Data_Transformation_to_SAP_S-4HANA_Cloud_Public_Edition - 3 S4_GLBalance_XSD.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="GL_Balance">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="GLBalance" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="BUKRS"/>
              <xs:element type="xs:string" name="LDGRP"/>
              <xs:element type="xs:string" name="XBLNR"/>
              <xs:element type="xs:string" name="DOCLN"/>
              <xs:element type="xs:string" name="HKONT"/>
              <xs:element type="xs:string" name="GKONT"/>
              <xs:element type="xs:string" name="BLART"/>
              <xs:element type="xs:string" name="BLDAT"/>
              <xs:element type="xs:string" name="WWERT"/>
              <xs:element type="xs:string" name="ACC_PRINCIPLE"/>
              <xs:element type="xs:string" name="BKTXT"/>
              <xs:element type="xs:string" name="SGTXT"/>
              <xs:element type="xs:string" name="WAERS"/>
              <xs:element type="xs:string" name="WRBTR"/>
              <xs:element type="xs:string" name="HWAER"/>
              <xs:element type="xs:string" name="DMBTR"/>
              <xs:element type="xs:string" name="HWAE2"/>
              <xs:element type="xs:string" name="DMBE2"/>
              <xs:element type="xs:string" name="HWAE3"/>
              <xs:element type="xs:string" name="DMBE3"/>
              <xs:element type="xs:string" name="MWSKZ"/>
              <xs:element type="xs:string" name="TXJCD"/>
              <xs:element type="xs:string" name="RASSC"/>
              <xs:element type="xs:string" name="ZUONR"/>
              <xs:element type="xs:string" name="RMVCT"/>
              <xs:element type="xs:string" name="PERNR"/>
              <xs:element type="xs:string" name="VALUT"/>
              <xs:element type="xs:string" name="HBKID"/>
              <xs:element type="xs:string" name="HKTID"/>
              <xs:element type="xs:string" name="KOSTL"/>
              <xs:element type="xs:string" name="PRCTR"/>
              <xs:element type="xs:string" name="FB_SEGMENT"/>
              <xs:element type="xs:string" name="PSPNR"/>
              <xs:element type="xs:string" name="AUFNR"/>
              <xs:element type="xs:string" name="MATERIAL_LONG"/>
              <xs:element type="xs:string" name="WORKITEM_ID"/>
              <xs:element type="xs:string" name="NPLNR"/>
              <xs:element type="xs:string" name="FUNC_AREA_LONG"/>
              <xs:element type="xs:string" name="FUND"/>
              <xs:element type="xs:string" name="GRANT_NBR"/>
              <xs:element type="xs:string" name="BUDGET_PERIOD"/>
              <xs:element type="xs:string" name="BUDGET_ACCOUNT"/>
              <xs:element type="xs:string" name="JOINT_VENTURE"/>
              <xs:element type="xs:string" name="RECOVERY_IND"/>
              <xs:element type="xs:string" name="EQUITY_GROUP"/>
              <xs:element type="xs:string" name="COPA_KOSTL"/>
              <xs:element type="xs:string" name="COPA_PRCTR"/>
              <xs:element type="xs:string" name="COPA_FB_SEGMENT"/>
              <xs:element type="xs:string" name="COPA_PSPNR"/>
              <xs:element type="xs:string" name="COPA_KNDNR"/>
              <xs:element type="xs:string" name="COPA_KDGRP"/>
              <xs:element type="xs:string" name="COPA_BRSCH"/>
              <xs:element type="xs:string" name="COPA_KMLAND"/>
              <xs:element type="xs:string" name="COPA_BZIRK"/>
              <xs:element type="xs:string" name="COPA_ARTNR"/>
              <xs:element type="xs:string" name="COPA_KMMAKL"/>
              <xs:element type="xs:string" name="COPA_VKORG"/>
              <xs:element type="xs:string" name="COPA_VTWEG"/>
              <xs:element type="xs:string" name="COPA_SPART"/>
              <xs:element type="xs:string" name="COPA_WERKS"/>
              <xs:element type="xs:string" name="COPA_RKAUFNR"/>
              <xs:element type="xs:string" name="COPA_KUNRE"/>
              <xs:element type="xs:string" name="COPA_KUNWE"/>
              <xs:element type="xs:string" name="COPA_FKART"/>
              <xs:element type="xs:string" name="COPA_FKBER"/>
              <xs:element type="xs:string" name="COPA_GSBER"/>
              <xs:element type="xs:string" name="COPA_KAUFN"/>
              <xs:element type="xs:string" name="COPA_KDPOS"/>
              <xs:element type="xs:string" name="COPA_KSTRG"/>
              <xs:element type="xs:string" name="COPA_PPRCTR"/>
              <xs:element type="xs:string" name="COPA_SERVICE_DOC_ID"/>
              <xs:element type="xs:string" name="COPA_SERVICE_DOC_ITEM_ID"/>
              <xs:element type="xs:string" name="COPA_SERVICE_DOC_TYPE"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="ItalySpecific" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="BUKRS"/>
              <xs:element type="xs:string" name="LDGRP"/>
              <xs:element type="xs:string" name="XBLNR"/>
              <xs:element type="xs:string" name="DOCLN"/>
              <xs:element type="xs:string" name="HKONT"/>
              <xs:element type="xs:string" name="GLO_REF1_HD"/>
              <xs:element type="xs:string" name="GLO_REF2_HD"/>
              <xs:element type="xs:string" name="GLO_REF3_HD"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="RussiaSpecific" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="BUKRS"/>
              <xs:element type="xs:string" name="LDGRP"/>
              <xs:element type="xs:string" name="XBLNR"/>
              <xs:element type="xs:string" name="DOCLN"/>
              <xs:element type="xs:string" name="HKONT"/>
              <xs:element type="xs:string" name="GLO_REF1_HD"/>
              <xs:element type="xs:string" name="GLO_DAT1_HD"/>
              <xs:element type="xs:string" name="GLO_REF2_HD"/>
              <xs:element type="xs:string" name="GLO_DAT2_HD"/>
              <xs:element type="xs:string" name="GLO_REF3_HD"/>
              <xs:element type="xs:string" name="GLO_DAT3_HD"/>
              <xs:element type="xs:string" name="GLO_REF4_HD"/>
              <xs:element type="xs:string" name="GLO_DAT4_HD"/>
              <xs:element type="xs:string" name="GLO_REF5_HD"/>
              <xs:element type="xs:string" name="GLO_DAT5_HD"/>
              <xs:element type="xs:string" name="GLO_BP1"/>
              <xs:element type="xs:string" name="GLO_BP2"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="SouthKoreaSpecific" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="BUKRS"/>
              <xs:element type="xs:string" name="LDGRP"/>
              <xs:element type="xs:string" name="XBLNR"/>
              <xs:element type="xs:string" name="DOCLN"/>
              <xs:element type="xs:string" name="HKONT"/>
              <xs:element type="xs:string" name="GLO_REF1_HD"/>
              <xs:element type="xs:string" name="GLO_DAT1_HD"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="MexicoSpecific" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="BUKRS"/>
              <xs:element type="xs:string" name="LDGRP"/>
              <xs:element type="xs:string" name="XBLNR"/>
              <xs:element type="xs:string" name="DOCLN"/>
              <xs:element type="xs:string" name="HKONT"/>
              <xs:element type="xs:string" name="GLO_REF1_HD"/>
              <xs:element type="xs:string" name="GLO_REF1"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>