Resources/schemas/Xsd/SAP_S-4HANA_Utilities_Integration_with_SAP_Emarsys_Customer_Engagement - UtilitiesGeneralDataBalance.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified"
	xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="UtilitiesGeneralDataBalanceSet">
		<xs:complexType>
			<xs:sequence>
				<xs:element nillable="false" minOccurs="1" maxOccurs="unbounded"
					name="UtilitiesGeneralDataBalance">
					<xs:complexType>
						<xs:sequence>
							<xs:element nillable="false" minOccurs="0" maxOccurs="1"
								name="BusinessPartner">
								<xs:complexType>
									<xs:sequence>
										<!-- BusinessPartner/BusinessPartnerID -->
										<xs:element nillable="false" minOccurs="1" maxOccurs="1"
											name="BusinessPartnerID">
											<xs:simpleType>
												<xs:restriction base="xs:token" xmlns="">
												<xs:minLength value="1"/>
												<xs:maxLength value="60"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<!-- node: BusinessPartner/ContractAccount -->
										<xs:element nillable="false" minOccurs="0"
											maxOccurs="unbounded" name="ContractAccount">
											<xs:complexType>
												<xs:sequence>
												<!-- BusinessPartnerID -->
												<xs:element nillable="false" minOccurs="0"
												maxOccurs="1" name="BusinessPartnerID">
												<xs:simpleType>
												<xs:restriction base="xs:token" xmlns="">
												<xs:minLength value="1"/>
												<xs:maxLength value="60"/>
												</xs:restriction>
												</xs:simpleType>
												</xs:element>
												<!-- ContractAccount/ContractAccountID -->
												<xs:element nillable="false" minOccurs="0"
												maxOccurs="1" name="ContractAccountID">
												<xs:simpleType>
												<xs:restriction base="xs:token" xmlns="">
												<xs:minLength value="1"/>
												<xs:maxLength value="12"/>
												</xs:restriction>
												</xs:simpleType>
												</xs:element>
												<!-- ContractAccount/OpenBalance -->
												<xs:element nillable="false" minOccurs="0"
												maxOccurs="1" name="OpenBalance">
												<xs:simpleType>
												<xs:restriction base="xs:decimal" xmlns="">
												<xs:totalDigits value="28"/>
												<xs:fractionDigits value="6"/>
												</xs:restriction>
												</xs:simpleType>
												</xs:element>
												<!-- ContractAccount/OpenBalance/@currencyCode -->
												<xs:element nillable="false" minOccurs="0"
												maxOccurs="1" name="OpenBalanceCurrencyCode">
												<xs:simpleType>
												<xs:restriction base="xs:token" xmlns="">
												<xs:minLength value="0"/>
												<xs:maxLength value="3"/>
												</xs:restriction>
												</xs:simpleType>
												</xs:element>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
