Resources/schemas/Xsd/SAP_Commerce_financial_services_accelerator_integration_with_SAP_for_Insurance - InsurancePoliciesEntityPOST5.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="batchParts">
        <xs:complexType>
            <xs:sequence>
                <xs:element nillable="false" minOccurs="1" maxOccurs="unbounded" name="batchChangeSet">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element nillable="false" minOccurs="1" maxOccurs="unbounded" name="batchChangeSetPart">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element type="xs:string" nillable="false" minOccurs="1" maxOccurs="1" name="method" xmlns=""/>
                                        <xs:element type="xs:string" nillable="true" minOccurs="0" maxOccurs="1" name="uri" xmlns=""/>
                                        <xs:element nillable="true" minOccurs="0" maxOccurs="1" name="headers">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element nillable="true" minOccurs="0" maxOccurs="unbounded" name="header">
                                                        <xs:complexType>
                                                            <xs:sequence>
                                                                <xs:element type="xs:string" nillable="false" minOccurs="1" maxOccurs="1" name="headerName" xmlns=""/>
                                                                <xs:element type="xs:string" nillable="false" minOccurs="1" maxOccurs="1" name="headerValue" xmlns=""/>
                                                            </xs:sequence>
                                                        </xs:complexType>
                                                    </xs:element>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element nillable="false" minOccurs="1" maxOccurs="1" name="InsurancePolicies">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element minOccurs="1" maxOccurs="unbounded" name="InsurancePolicy">
                                                        <xs:complexType>
                                                            <xs:sequence>
                                                                <xs:element type="xs:string" nillable="false" maxOccurs="1" name="integrationKey" xmlns=""/>
                                                                <xs:element type="xs:string" nillable="true" minOccurs="0" maxOccurs="1" name="policyId" xmlns=""/>
                                                                <xs:element type="xs:string" nillable="true" minOccurs="0" maxOccurs="1" name="contractId" xmlns=""/>
                                                                <xs:element type="xs:string" nillable="true" minOccurs="0" maxOccurs="1" name="versionNumber" xmlns=""/>
                                                                <xs:element type="xs:dateTime" nillable="true" minOccurs="0" maxOccurs="1" name="policyStartDate" xmlns=""/>
                                                                <xs:element type="xs:dateTime" nillable="true" minOccurs="0" maxOccurs="1" name="policyExpiryDate" xmlns=""/>
                                                                <xs:element type="xs:dateTime" nillable="true" minOccurs="0" maxOccurs="1" name="policyEffectiveDate" xmlns=""/>
                                                                <xs:element type="xs:double" nillable="true" minOccurs="0" maxOccurs="1" name="premiumAmount" xmlns=""/>
                                                                <xs:element nillable="true" minOccurs="0" maxOccurs="unbounded" name="user">
                                                                    <xs:complexType>
                                                                        <xs:sequence>
                                                                            <xs:element minOccurs="0" maxOccurs="1" name="User">
                                                                                <xs:complexType>
                                                                                    <xs:sequence>
                                                                                        <xs:element type="xs:string" nillable="false" maxOccurs="1" name="integrationKey" xmlns=""/>
                                                                                        <xs:element type="xs:string" nillable="true" minOccurs="0" maxOccurs="1" name="externalId" xmlns=""/>
                                                                                    </xs:sequence>
                                                                                </xs:complexType>
                                                                            </xs:element>
                                                                        </xs:sequence>
                                                                    </xs:complexType>
                                                                </xs:element>
                                                                <xs:element nillable="true" minOccurs="0" maxOccurs="unbounded" name="currency">
                                                                    <xs:complexType>
                                                                        <xs:sequence>
                                                                            <xs:element minOccurs="0" maxOccurs="1" name="Currency">
                                                                                <xs:complexType>
                                                                                    <xs:sequence>
                                                                                        <xs:element type="xs:string" nillable="false" maxOccurs="1" name="integrationKey" xmlns=""/>
                                                                                        <xs:element type="xs:string" nillable="false" maxOccurs="1" name="isocode" xmlns=""/>
                                                                                    </xs:sequence>
                                                                                </xs:complexType>
                                                                            </xs:element>
                                                                        </xs:sequence>
                                                                    </xs:complexType>
                                                                </xs:element>
                                                                <xs:element nillable="true" minOccurs="0" maxOccurs="unbounded" name="category">
                                                                    <xs:complexType>
                                                                        <xs:sequence>
                                                                            <xs:element minOccurs="0" maxOccurs="1" name="Category">
                                                                                <xs:complexType>
                                                                                    <xs:sequence>
                                                                                        <xs:element type="xs:string" nillable="false" maxOccurs="1" name="integrationKey" xmlns=""/>
                                                                                        <xs:element type="xs:string" nillable="false" maxOccurs="1" name="code" xmlns=""/>
                                                                                        <xs:element nillable="true" minOccurs="0" maxOccurs="unbounded" name="catalogVersion">
                                                                                            <xs:complexType>
                                                                                                <xs:sequence>
                                                                                                    <xs:element minOccurs="0" maxOccurs="1" name="CatalogVersion">
                                                                                                        <xs:complexType>
                                                                                                            <xs:sequence>
                                                                                                                <xs:element type="xs:string" nillable="false" maxOccurs="1" name="integrationKey" xmlns=""/>
                                                                                                                <xs:element type="xs:string" nillable="false" maxOccurs="1" name="version" xmlns=""/>
                                                                                                                <xs:element type="xs:boolean" nillable="true" minOccurs="0" maxOccurs="1" name="active" xmlns=""/>
                                                                                                                <xs:element nillable="true" minOccurs="0" maxOccurs="unbounded" name="catalog">
                                                                                                                    <xs:complexType>
                                                                                                                        <xs:sequence>
                                                                                                                            <xs:element minOccurs="0" maxOccurs="1" name="Catalog">
                                                                                                                                <xs:complexType>
                                                                                                                                    <xs:sequence>
                                                                                                                                        <xs:element type="xs:string" nillable="false" maxOccurs="1" name="integrationKey" xmlns=""/>
                                                                                                                                        <xs:element type="xs:string" nillable="false" maxOccurs="1" name="id" xmlns=""/>
                                                                                                                                    </xs:sequence>
                                                                                                                                </xs:complexType>
                                                                                                                            </xs:element>
                                                                                                                        </xs:sequence>
                                                                                                                    </xs:complexType>
                                                                                                                </xs:element>
                                                                                                            </xs:sequence>
                                                                                                        </xs:complexType>
                                                                                                    </xs:element>
                                                                                                </xs:sequence>
                                                                                            </xs:complexType>
                                                                                        </xs:element>
                                                                                    </xs:sequence>
                                                                                </xs:complexType>
                                                                            </xs:element>
                                                                        </xs:sequence>
                                                                    </xs:complexType>
                                                                </xs:element>
                                                                <xs:element nillable="true" minOccurs="0" maxOccurs="unbounded" name="coverages">
                                                                    <xs:complexType>
                                                                        <xs:sequence>
                                                                            <xs:element minOccurs="0" maxOccurs="unbounded" name="Coverage">
                                                                                <xs:complexType>
                                                                                    <xs:sequence>
                                                                                        <xs:element type="xs:string" nillable="false" maxOccurs="1" name="integrationKey" xmlns=""/>
                                                                                        <xs:element type="xs:double" nillable="true" minOccurs="0" maxOccurs="1" name="coverageAmount" xmlns=""/>
                                                                                        <xs:element type="xs:string" nillable="true" minOccurs="0" maxOccurs="1" name="coverageId" xmlns=""/>
                                                                                        <xs:element nillable="true" minOccurs="0" maxOccurs="unbounded" name="coverageProduct">
                                                                                            <xs:complexType>
                                                                                                <xs:sequence>
                                                                                                    <xs:element minOccurs="0" maxOccurs="1" name="Product">
                                                                                                        <xs:complexType>
                                                                                                            <xs:sequence>
                                                                                                                <xs:element type="xs:string" nillable="false" maxOccurs="1" name="integrationKey" xmlns=""/>
                                                                                                                <xs:element type="xs:string" nillable="false" maxOccurs="1" name="code" xmlns=""/>
                                                                                                                <xs:element nillable="true" minOccurs="0" maxOccurs="unbounded" name="catalogVersion">
                                                                                                                    <xs:complexType>
                                                                                                                        <xs:sequence>
                                                                                                                            <xs:element minOccurs="0" maxOccurs="1" name="CatalogVersion">
                                                                                                                                <xs:complexType>
                                                                                                                                    <xs:sequence>
                                                                                                                                        <xs:element type="xs:string" nillable="false" maxOccurs="1" name="integrationKey" xmlns=""/>
                                                                                                                                        <xs:element type="xs:string" nillable="false" maxOccurs="1" name="version" xmlns=""/>
                                                                                                                                        <xs:element type="xs:boolean" nillable="true" minOccurs="0" maxOccurs="1" name="active" xmlns=""/>
                                                                                                                                        <xs:element nillable="true" minOccurs="0" maxOccurs="unbounded" name="catalog">
                                                                                                                                            <xs:complexType>
                                                                                                                                                <xs:sequence>
                                                                                                                                                    <xs:element minOccurs="0" maxOccurs="1" name="Catalog">
                                                                                                                                                        <xs:complexType>
                                                                                                                                                            <xs:sequence>
                                                                                                                                                                <xs:element type="xs:string" nillable="false" maxOccurs="1" name="integrationKey" xmlns=""/>
                                                                                                                                                                <xs:element type="xs:string" nillable="false" maxOccurs="1" name="id" xmlns=""/>
                                                                                                                                                            </xs:sequence>
                                                                                                                                                        </xs:complexType>
                                                                                                                                                    </xs:element>
                                                                                                                                                </xs:sequence>
                                                                                                                                            </xs:complexType>
                                                                                                                                        </xs:element>
                                                                                                                                    </xs:sequence>
                                                                                                                                </xs:complexType>
                                                                                                                            </xs:element>
                                                                                                                        </xs:sequence>
                                                                                                                    </xs:complexType>
                                                                                                                </xs:element>
                                                                                                            </xs:sequence>
                                                                                                        </xs:complexType>
                                                                                                    </xs:element>
                                                                                                </xs:sequence>
                                                                                            </xs:complexType>
                                                                                        </xs:element>
                                                                                        <xs:element nillable="true" minOccurs="0" maxOccurs="unbounded" name="coverageType">
                                                                                            <xs:complexType>
                                                                                                <xs:sequence>
                                                                                                    <xs:element minOccurs="0" maxOccurs="1" name="CoverageType">
                                                                                                        <xs:complexType>
                                                                                                            <xs:sequence>
                                                                                                                <xs:element type="xs:string" nillable="false" maxOccurs="1" name="integrationKey" xmlns=""/>
                                                                                                                <xs:element type="xs:string" nillable="false" maxOccurs="1" name="code" xmlns=""/>
                                                                                                            </xs:sequence>
                                                                                                        </xs:complexType>
                                                                                                    </xs:element>
                                                                                                </xs:sequence>
                                                                                            </xs:complexType>
                                                                                        </xs:element>
                                                                                        <xs:element type="xs:string" nillable="true" minOccurs="0" maxOccurs="1" name="technicalId" xmlns=""/>
                                                                                    </xs:sequence>
                                                                                </xs:complexType>
                                                                            </xs:element>
                                                                        </xs:sequence>
                                                                    </xs:complexType>
                                                                </xs:element>
                                                                <xs:element nillable="true" minOccurs="0" maxOccurs="unbounded" name="insuredObjects">
                                                                    <xs:complexType>
                                                                        <xs:sequence>
                                                                            <xs:element minOccurs="0" maxOccurs="unbounded" name="InsuredObject">
                                                                                <xs:complexType>
                                                                                    <xs:sequence>
                                                                                        <xs:element type="xs:string" nillable="false" maxOccurs="1" name="integrationKey" xmlns=""/>
                                                                                        <xs:element type="xs:string" nillable="true" minOccurs="0" maxOccurs="1" name="insuredObjectId" xmlns=""/>
                                                                                        <xs:element nillable="true" minOccurs="0" maxOccurs="unbounded" name="insuredObjectItems">
                                                                                            <xs:complexType>
                                                                                                <xs:sequence>
                                                                                                    <xs:element minOccurs="0" maxOccurs="unbounded" name="InsuredObjectItem">
                                                                                                        <xs:complexType>
                                                                                                            <xs:sequence>
                                                                                                                <xs:element type="xs:string" nillable="false" maxOccurs="1" name="integrationKey" xmlns=""/>
                                                                                                                <xs:element type="xs:string" nillable="true" minOccurs="0" maxOccurs="1" name="itemId" xmlns=""/>
                                                                                                                <xs:element type="xs:string" nillable="true" minOccurs="0" maxOccurs="1" name="label" xmlns=""/>
                                                                                                                <xs:element type="xs:string" nillable="true" minOccurs="0" maxOccurs="1" name="format" xmlns=""/>
                                                                                                                <xs:element type="xs:string" nillable="true" minOccurs="0" maxOccurs="1" name="externalValue" xmlns=""/>
                                                                                                            </xs:sequence>
                                                                                                        </xs:complexType>
                                                                                                    </xs:element>
                                                                                                </xs:sequence>
                                                                                            </xs:complexType>
                                                                                        </xs:element>
                                                                                        <xs:element nillable="true" minOccurs="0" maxOccurs="unbounded" name="childInsuredObjects">
                                                                                            <xs:complexType>
                                                                                                <xs:sequence>
                                                                                                    <xs:element minOccurs="0" maxOccurs="unbounded" name="InsuredObject">
                                                                                                        <xs:complexType>
                                                                                                            <xs:sequence>
                                                                                                                <xs:element type="xs:string" nillable="false" maxOccurs="1" name="integrationKey" xmlns=""/>
                                                                                                                <xs:element type="xs:string" nillable="true" minOccurs="0" maxOccurs="1" name="insuredObjectId" xmlns=""/>
                                                                                                                <xs:element nillable="true" minOccurs="0" maxOccurs="unbounded" name="insuredObjectItems">
                                                                                                                    <xs:complexType>
                                                                                                                        <xs:sequence>
                                                                                                                            <xs:element minOccurs="0" maxOccurs="unbounded" name="InsuredObjectItem">
                                                                                                                                <xs:complexType>
                                                                                                                                    <xs:sequence>
                                                                                                                                        <xs:element type="xs:string" nillable="false" maxOccurs="1" name="integrationKey" xmlns=""/>
                                                                                                                                        <xs:element type="xs:string" nillable="true" minOccurs="0" maxOccurs="1" name="itemId" xmlns=""/>
                                                                                                                                        <xs:element type="xs:string" nillable="true" minOccurs="0" maxOccurs="1" name="label" xmlns=""/>
                                                                                                                                        <xs:element type="xs:string" nillable="true" minOccurs="0" maxOccurs="1" name="format" xmlns=""/>
                                                                                                                                        <xs:element type="xs:string" nillable="true" minOccurs="0" maxOccurs="1" name="externalValue" xmlns=""/>
                                                                                                                                    </xs:sequence>
                                                                                                                                </xs:complexType>
                                                                                                                            </xs:element>
                                                                                                                        </xs:sequence>
                                                                                                                    </xs:complexType>
                                                                                                                </xs:element>
                                                                                                                <xs:element nillable="true" minOccurs="0" maxOccurs="unbounded" name="insuredObjectType">
                                                                                                                    <xs:complexType>
                                                                                                                        <xs:sequence>
                                                                                                                            <xs:element minOccurs="0" maxOccurs="1" name="InsuredObjectType">
                                                                                                                                <xs:complexType>
                                                                                                                                    <xs:sequence>
                                                                                                                                        <xs:element type="xs:string" nillable="false" maxOccurs="1" name="integrationKey" xmlns=""/>
                                                                                                                                        <xs:element type="xs:string" nillable="false" maxOccurs="1" name="code" xmlns=""/>
                                                                                                                                    </xs:sequence>
                                                                                                                                </xs:complexType>
                                                                                                                            </xs:element>
                                                                                                                        </xs:sequence>
                                                                                                                    </xs:complexType>
                                                                                                                </xs:element>
                                                                                                                <xs:element type="xs:string" nillable="true" minOccurs="0" maxOccurs="1" name="technicalId" xmlns=""/>
                                                                                                            </xs:sequence>
                                                                                                        </xs:complexType>
                                                                                                    </xs:element>
                                                                                                </xs:sequence>
                                                                                            </xs:complexType>
                                                                                        </xs:element>
                                                                                        <xs:element nillable="true" minOccurs="0" maxOccurs="unbounded" name="insuredObjectType">
                                                                                            <xs:complexType>
                                                                                                <xs:sequence>
                                                                                                    <xs:element minOccurs="0" maxOccurs="1" name="InsuredObjectType">
                                                                                                        <xs:complexType>
                                                                                                            <xs:sequence>
                                                                                                                <xs:element type="xs:string" nillable="false" maxOccurs="1" name="integrationKey" xmlns=""/>
                                                                                                                <xs:element type="xs:string" nillable="false" maxOccurs="1" name="code" xmlns=""/>
                                                                                                            </xs:sequence>
                                                                                                        </xs:complexType>
                                                                                                    </xs:element>
                                                                                                </xs:sequence>
                                                                                            </xs:complexType>
                                                                                        </xs:element>
                                                                                        <xs:element type="xs:string" nillable="true" minOccurs="0" maxOccurs="1" name="technicalId" xmlns=""/>
                                                                                    </xs:sequence>
                                                                                </xs:complexType>
                                                                            </xs:element>
                                                                        </xs:sequence>
                                                                    </xs:complexType>
                                                                </xs:element>
                                                                <xs:element nillable="true" minOccurs="0" maxOccurs="unbounded" name="paymentFrequency">
                                                                    <xs:complexType>
                                                                        <xs:sequence>
                                                                            <xs:element minOccurs="0" maxOccurs="1" name="FSPaymentFrequency">
                                                                                <xs:complexType>
                                                                                    <xs:sequence>
                                                                                        <xs:element type="xs:string" nillable="false" maxOccurs="1" name="integrationKey" xmlns=""/>
                                                                                        <xs:element type="xs:string" nillable="false" maxOccurs="1" name="code" xmlns=""/>
                                                                                    </xs:sequence>
                                                                                </xs:complexType>
                                                                            </xs:element>
                                                                        </xs:sequence>
                                                                    </xs:complexType>
                                                                </xs:element>
                                                                <xs:element nillable="true" minOccurs="0" maxOccurs="unbounded" name="policyStatus">
                                                                    <xs:complexType>
                                                                        <xs:sequence>
                                                                            <xs:element minOccurs="0" maxOccurs="1" name="FSPolicyStatus">
                                                                                <xs:complexType>
                                                                                    <xs:sequence>
                                                                                        <xs:element type="xs:string" nillable="false" maxOccurs="1" name="integrationKey" xmlns=""/>
                                                                                        <xs:element type="xs:string" nillable="false" maxOccurs="1" name="code" xmlns=""/>
                                                                                    </xs:sequence>
                                                                                </xs:complexType>
                                                                            </xs:element>
                                                                        </xs:sequence>
                                                                    </xs:complexType>
                                                                </xs:element>
                                                                <xs:element type="xs:string" nillable="true" minOccurs="0" maxOccurs="1" name="expiredPolicyId" xmlns=""/>
                                                                <xs:element type="xs:string" nillable="true" minOccurs="0" maxOccurs="1" name="technicalId" xmlns=""/>
                                                                <xs:element nillable="true" minOccurs="0" maxOccurs="unbounded" name="paymentMethod">
                                                                    <xs:complexType>
                                                                        <xs:sequence>
                                                                            <xs:element minOccurs="0" maxOccurs="1" name="PaymentInfo">
                                                                                <xs:complexType>
                                                                                    <xs:sequence>
                                                                                        <xs:element type="xs:string" nillable="false" maxOccurs="1" name="integrationKey" xmlns=""/>
                                                                                        <xs:element type="xs:string" nillable="false" maxOccurs="1" name="code" xmlns=""/>
                                                                                    </xs:sequence>
                                                                                </xs:complexType>
                                                                            </xs:element>
                                                                        </xs:sequence>
                                                                    </xs:complexType>
                                                                </xs:element>
                                                                <xs:element minOccurs="0" maxOccurs="1" name="link">
                                                                    <xs:complexType>
                                                                        <xs:sequence>
                                                                            <xs:element nillable="true" minOccurs="0" maxOccurs="unbounded" name="user">
                                                                                <xs:complexType>
                                                                                    <xs:sequence>
                                                                                        <xs:element minOccurs="0" maxOccurs="1" name="User">
                                                                                            <xs:complexType>
                                                                                                <xs:sequence>
                                                                                                    <xs:element type="xs:string" minOccurs="1" maxOccurs="1" name="integrationKey" xmlns=""/>
                                                                                                </xs:sequence>
                                                                                            </xs:complexType>
                                                                                        </xs:element>
                                                                                    </xs:sequence>
                                                                                </xs:complexType>
                                                                            </xs:element>
                                                                            <xs:element nillable="true" minOccurs="0" maxOccurs="unbounded" name="currency">
                                                                                <xs:complexType>
                                                                                    <xs:sequence>
                                                                                        <xs:element minOccurs="0" maxOccurs="1" name="Currency">
                                                                                            <xs:complexType>
                                                                                                <xs:sequence>
                                                                                                    <xs:element type="xs:string" minOccurs="1" maxOccurs="1" name="integrationKey" xmlns=""/>
                                                                                                </xs:sequence>
                                                                                            </xs:complexType>
                                                                                        </xs:element>
                                                                                    </xs:sequence>
                                                                                </xs:complexType>
                                                                            </xs:element>
                                                                            <xs:element nillable="true" minOccurs="0" maxOccurs="unbounded" name="category">
                                                                                <xs:complexType>
                                                                                    <xs:sequence>
                                                                                        <xs:element minOccurs="0" maxOccurs="1" name="Category">
                                                                                            <xs:complexType>
                                                                                                <xs:sequence>
                                                                                                    <xs:element type="xs:string" minOccurs="1" maxOccurs="1" name="integrationKey" xmlns=""/>
                                                                                                </xs:sequence>
                                                                                            </xs:complexType>
                                                                                        </xs:element>
                                                                                    </xs:sequence>
                                                                                </xs:complexType>
                                                                            </xs:element>
                                                                            <xs:element nillable="true" minOccurs="0" maxOccurs="unbounded" name="coverages">
                                                                                <xs:complexType>
                                                                                    <xs:sequence>
                                                                                        <xs:element minOccurs="0" maxOccurs="unbounded" name="Coverage">
                                                                                            <xs:complexType>
                                                                                                <xs:sequence>
                                                                                                    <xs:element type="xs:string" minOccurs="1" maxOccurs="1" name="integrationKey" xmlns=""/>
                                                                                                </xs:sequence>
                                                                                            </xs:complexType>
                                                                                        </xs:element>
                                                                                    </xs:sequence>
                                                                                </xs:complexType>
                                                                            </xs:element>
                                                                            <xs:element nillable="true" minOccurs="0" maxOccurs="unbounded" name="insuredObjects">
                                                                                <xs:complexType>
                                                                                    <xs:sequence>
                                                                                        <xs:element minOccurs="0" maxOccurs="unbounded" name="InsuredObject">
                                                                                            <xs:complexType>
                                                                                                <xs:sequence>
                                                                                                    <xs:element type="xs:string" minOccurs="1" maxOccurs="1" name="integrationKey" xmlns=""/>
                                                                                                </xs:sequence>
                                                                                            </xs:complexType>
                                                                                        </xs:element>
                                                                                    </xs:sequence>
                                                                                </xs:complexType>
                                                                            </xs:element>
                                                                            <xs:element nillable="true" minOccurs="0" maxOccurs="unbounded" name="paymentFrequency">
                                                                                <xs:complexType>
                                                                                    <xs:sequence>
                                                                                        <xs:element minOccurs="0" maxOccurs="1" name="FSPaymentFrequency">
                                                                                            <xs:complexType>
                                                                                                <xs:sequence>
                                                                                                    <xs:element type="xs:string" minOccurs="1" maxOccurs="1" name="integrationKey" xmlns=""/>
                                                                                                </xs:sequence>
                                                                                            </xs:complexType>
                                                                                        </xs:element>
                                                                                    </xs:sequence>
                                                                                </xs:complexType>
                                                                            </xs:element>
                                                                            <xs:element nillable="true" minOccurs="0" maxOccurs="unbounded" name="policyStatus">
                                                                                <xs:complexType>
                                                                                    <xs:sequence>
                                                                                        <xs:element minOccurs="0" maxOccurs="1" name="FSPolicyStatus">
                                                                                            <xs:complexType>
                                                                                                <xs:sequence>
                                                                                                    <xs:element type="xs:string" minOccurs="1" maxOccurs="1" name="integrationKey" xmlns=""/>
                                                                                                </xs:sequence>
                                                                                            </xs:complexType>
                                                                                        </xs:element>
                                                                                    </xs:sequence>
                                                                                </xs:complexType>
                                                                            </xs:element>
                                                                            <xs:element nillable="true" minOccurs="0" maxOccurs="unbounded" name="paymentMethod">
                                                                                <xs:complexType>
                                                                                    <xs:sequence>
                                                                                        <xs:element minOccurs="0" maxOccurs="1" name="PaymentInfo">
                                                                                            <xs:complexType>
                                                                                                <xs:sequence>
                                                                                                    <xs:element type="xs:string" minOccurs="1" maxOccurs="1" name="integrationKey" xmlns=""/>
                                                                                                </xs:sequence>
                                                                                            </xs:complexType>
                                                                                        </xs:element>
                                                                                    </xs:sequence>
                                                                                </xs:complexType>
                                                                            </xs:element>
                                                                        </xs:sequence>
                                                                    </xs:complexType>
                                                                </xs:element>
                                                            </xs:sequence>
                                                        </xs:complexType>
                                                    </xs:element>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>
