Resources/schemas/Xsd/SAP_S-4HANA_Integration_with_SAP_Build_Process_Automation_for_Plan_Activity_Prices_Approval - RFCOutput.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="BAPI_COSTACTPLN_POSTACTOUTPUT.Response">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="PERVALUE" minOccurs="0" maxOccurs="1" type="xs:string"/>
				<xs:element name="CONTRL">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="item">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="ALLOC_COST_ELEM" type="xs:string" />
										<xs:element name="PRICE_INDICATOR" type="xs:unsignedByte" />
										<xs:element name="ATTRIB_INDEX" type="xs:string" />
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="COOBJECT">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="item">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="OBJECT_INDEX" type="xs:string" />
										<xs:element name="COSTCENTER" type="xs:unsignedByte" />
										<xs:element name="ACTTYPE" type="xs:string" />
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="INDEXSTRUCTURE">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="item">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="OBJECT_INDEX" type="xs:string" />
										<xs:element name="VALUE_INDEX" type="xs:string" />
										<xs:element name="ATTRIB_INDEX" type="xs:string" />
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>

				<xs:element name="RETURN" minOccurs="0" maxOccurs="unbounded">
					<xs:complexType>
						<xs:sequence>
							<xs:element minOccurs="0" maxOccurs="unbounded" name="item">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="TYPE" type="xs:string" minOccurs="0" maxOccurs="1"/>
										<xs:element name="ID" type="xs:string" minOccurs="0" maxOccurs="1"/>
										<xs:element name="NUMBER" type="xs:string" minOccurs="0" maxOccurs="1"/>
										<xs:element name="MESSAGE" type="xs:string" minOccurs="0" maxOccurs="1"/>
										<xs:element name="LOG_MSG_NO" type="xs:string" minOccurs="0" maxOccurs="1"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>

				<xs:element name="TOTVALUE">
					<xs:complexType>
						<xs:sequence>
							<xs:element minOccurs="0" maxOccurs="unbounded" name="item">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="VALUE_INDEX" type="xs:string" />
										<xs:element name="ACTVTY_QTY" type="xs:string" />
										<xs:element name="OUTPUT_UNIT_ISO" type="xs:string" />
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>