Resources/schemas/Xsd/SAP_Build_Process_Automation_Integration_with_SAP_S-4HANA_for_Disconnection - MessageFlow_12-1.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- Created with Liquid Technologies Online Tools 1.0 (https://www.liquid-technologies.com) -->
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="root">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="root2">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="discno" type="xs:unsignedByte" minOccurs="0" />
              <xs:element name="discprocv" type="xs:string" minOccurs="0" />
              <xs:element name="discreason" type="xs:unsignedByte" minOccurs="0" />
              <xs:element name="status" type="xs:unsignedByte" minOccurs="0" />
              <xs:element name="refobjkey" type="xs:unsignedInt" minOccurs="0" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>