Resources/schemas/Xsd/SAP_Complaint_Handling_Integration_with_Master_Data_and_Business_Objects - get_request.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="root">
    <xs:complexType>
      <xs:sequence>
        <xs:element type="xs:string" name="fromCurrency"/>
        <xs:element type="xs:byte" name="rateType"/>
        <xs:element type="xs:int" name="refDate"/>
        <xs:element type="xs:string" name="toCurrency"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>