Resources/schemas/Xsd/SAP_Customer_Data_Cloud_Integration_with_SAP_S-4HANA - CustomerIdEmail.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
        <xs:element name="Relationships">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="ContactPersonData">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:int" name="ContactPersonID"/>
                    <xs:element type="xs:int" name="OrganizationID"/>
                    <xs:element type="xs:string" name="Email" nillable="true"/>
                    <xs:element type="xs:string" name="jobFunction" nillable="true"/>
                    <xs:element type="xs:string" name="department" nillable="true"/>
                    <xs:element type="xs:string" name="phone" nillable="true"/>

                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
</xs:schema>