Resources/schemas/Xsd/SAP_S-4HANA_Cloud_Public_Edition_Integration_with_Shopify - shopify_fulfillment_create_fulfillment_field.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="root">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="fulfillment" minOccurs="1" maxOccurs="1">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="lineItemsByFulfillmentOrder" minOccurs="1" maxOccurs="unbounded">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="fulfillmentOrderId" type="xs:string" minOccurs="1" maxOccurs="1" />
                    <xs:element name="fulfillmentOrderLineItems" minOccurs="1" maxOccurs="unbounded">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="id" type="xs:string" minOccurs="1" maxOccurs="1" />
                          <xs:element name="quantity" type="xs:decimal" minOccurs="1" maxOccurs="1" />
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="notifyCustomer" type="xs:boolean" minOccurs="0" maxOccurs="1" />
              <xs:element name="originAddress" minOccurs="0" maxOccurs="1">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="address1" type="xs:string" minOccurs="1" maxOccurs="1" />
                    <xs:element name="address2" type="xs:string" minOccurs="1" maxOccurs="1" />
                    <xs:element name="city" type="xs:string" minOccurs="1" maxOccurs="1" />
                    <xs:element name="countryCode" type="xs:string" minOccurs="1" maxOccurs="1" />
                    <xs:element name="provinceCode" type="xs:string" minOccurs="1" maxOccurs="1" />
                    <xs:element name="zip" type="xs:unsignedShort" minOccurs="1" maxOccurs="1" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="trackingInfo" minOccurs="0" maxOccurs="1">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="company" type="xs:string" minOccurs="0" maxOccurs="0" />
                    <xs:element name="number" type="xs:string" minOccurs="0" maxOccurs="0" />
                    <xs:element name="numbers" type="xs:string" minOccurs="0" maxOccurs="unbounded" />
                    <xs:element name="url" type="xs:string" minOccurs="0" maxOccurs="0" />
                    <xs:element name="urls" type="xs:string" minOccurs="0" maxOccurs="unbounded" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="message" type="xs:string" minOccurs="0" maxOccurs="1" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>