Resources/schemas/Xsd/SAP_Build_Process_Automation_Integration_with_SAP_S-4HANA_for_Fixed_Asset_Approval_Write_Off - XSD - Output for Mapping without Query.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="data">
		<xs:complexType>
			<xs:sequence>
				<xs:element minOccurs="0" maxOccurs="1" name="generalData">
					<xs:complexType>
						<xs:sequence>
							<xs:element minOccurs="0" maxOccurs="unbounded" name="items">
								<xs:complexType>
									<xs:sequence>
										<xs:element nillable="true" minOccurs="0" maxOccurs="unbounded" name="asset">
											<xs:simpleType>
												<xs:restriction base="xs:string" xmlns="">
													<xs:maxLength value="2"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element nillable="true" minOccurs="0" maxOccurs="unbounded" name="subNumber">
											<xs:simpleType>
												<xs:restriction base="xs:string" xmlns="">
													<xs:maxLength value="2"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element nillable="true" minOccurs="0" maxOccurs="unbounded" name="description">
											<xs:simpleType>
												<xs:restriction base="xs:string" xmlns="">
													<xs:maxLength value="2"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element nillable="true" minOccurs="0" maxOccurs="unbounded" name="capitalizationDate">
											<xs:simpleType>
												<xs:restriction base="xs:string" xmlns="">
													<xs:maxLength value="2"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element nillable="true" minOccurs="0" maxOccurs="unbounded" name="costCenter">
											<xs:simpleType>
												<xs:restriction base="xs:string" xmlns="">
													<xs:maxLength value="2"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element nillable="true" minOccurs="0" maxOccurs="1" name="message">
								<xs:simpleType>
									<xs:restriction base="xs:string" xmlns="">
										<xs:maxLength value="50"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element nillable="true" minOccurs="0" maxOccurs="1" name="status">
								<xs:simpleType>
									<xs:restriction base="xs:string" xmlns="">
										<xs:maxLength value="8"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
