Resources/schemas/Xsd/SAP_Business_ByDesign_Master_Data_to_SAP_S-4HANA_Cloud_Public_Edition - ByD_XSD-1.xsd

<?xml version="1.0" encoding="UTF-8"?><xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="qualified">
  <xs:element name="Material">
    <xs:complexType>
      <xs:choice maxOccurs="unbounded" minOccurs="0">
        <xs:element maxOccurs="unbounded" minOccurs="0" name="General">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="MATERIAL_ID" type="xs:int"/>
              <xs:element name="LANGUAGE" type="xs:string"/>
              <xs:element name="DESCRIPTION" type="xs:string"/>
              <xs:element name="PRODUCT_CATEGORY" type="xs:string"/>
              <xs:element name="IDENTIFIED_STOCK" type="xs:string"/>
              <xs:element name="BUDGET_CATEGORY_CODE" type="xs:string"/>
              <xs:element name="BASE_UOM" type="xs:string"/>
              <xs:element name="INVENTORY_VALUATION_UOM" type="xs:string"/>
              <xs:element name="GLO_IN_PRODUCT_TAX_STANDARD_CL" type="xs:string"/>
              <xs:element name="GLO_IN_MANUFAC_PROD" type="xs:string"/>
              <xs:element name="GLO_IN_TRADED_PROD" type="xs:string"/>
              <xs:element name="GLO_IN_TARIFF_ID" type="xs:string"/>
              <xs:element name="GLO_IN_MRP_TEXTILE" type="xs:byte"/>
              <xs:element name="SERIAL_NUM_PROFILE" type="xs:short"/>
              <xs:element name="NUMBER_RANGE_TEMPLATE" type="xs:string"/>
              <xs:element name="KIT_INDICATOR" type="xs:string"/>
              <xs:element name="GLO_IN_HSN_CODE" type="xs:string"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element maxOccurs="unbounded" minOccurs="0" name="OtherLanguages">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="MATERIAL_ID" type="xs:string"/>
              <xs:element name="LANGUAGE" type="xs:string"/>
              <xs:element name="DESCRIPTION" type="xs:string"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element maxOccurs="unbounded" minOccurs="0" name="DetailedDescriptions">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="MATERIAL_ID" type="xs:int"/>
              <xs:element name="LANGUAGE" type="xs:string"/>
              <xs:element name="DETAILED_DESCRIPTION" type="xs:string"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element maxOccurs="unbounded" minOccurs="0" name="QuantityConversions">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="MATERIAL_ID" type="xs:int"/>
              <xs:element name="FROM_QTY_AMOUNT" type="xs:byte"/>
              <xs:element name="FROM_QTY_UOM" type="xs:string"/>
              <xs:element name="TO_QTY_AMOUNT" type="xs:int"/>
              <xs:element name="TO_QTY_UOM" type="xs:string"/>
              <xs:element name="BATCH_DEPENDENT" type="xs:string"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element maxOccurs="unbounded" minOccurs="0" name="UoMCharacteristics">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="MATERIAL_ID" type="xs:int"/>
              <xs:element name="UNIT_OF_MEASURE" type="xs:string"/>
              <xs:element name="NET_WEIGHT" type="xs:float"/>
              <xs:element name="NET_WEIGHT_UOM" type="xs:string"/>
              <xs:element name="GROSS_WEIGHT" type="xs:short"/>
              <xs:element name="GROSS_WEIGHT_UOM" type="xs:string"/>
              <xs:element name="NET_VOLUME" type="xs:byte"/>
              <xs:element name="NET_VOLUME_UOM" type="xs:string"/>
              <xs:element name="GROSS_VOLUME" type="xs:byte"/>
              <xs:element name="GROSS_VOLUME_UOM" type="xs:string"/>
              <xs:element name="LENGTH" type="xs:string"/>
              <xs:element name="LENGTH_UOM" type="xs:string"/>
              <xs:element name="WIDTH" type="xs:string"/>
              <xs:element name="WIDTH_UOM" type="xs:string"/>
              <xs:element name="HEIGHT" type="xs:string"/>
              <xs:element name="HEIGHT_UOM" type="xs:string"/>
              <xs:element name="MD_QUANTITY" type="xs:string"/>
              <xs:element name="MD_QUANTITY_UOM" type="xs:string"/>
              <xs:element name="MD_QUANT_TYP_CHAR" type="xs:string"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element maxOccurs="unbounded" minOccurs="0" name="GTINs">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="MATERIAL_ID" type="xs:int"/>
              <xs:element name="TRADING_UNIT" type="xs:string"/>
              <xs:element name="GTIN" type="xs:long"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element maxOccurs="unbounded" minOccurs="0" name="FinancialOrganizations">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="MATERIAL_ID" type="xs:byte"/>
              <xs:element name="COMPANY_ID" type="xs:short"/>
              <xs:element name="BUSINESS_RESIDENCE" type="xs:string"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element maxOccurs="unbounded" minOccurs="0" name="Taxes">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="MATERIAL_ID" type="xs:int"/>
              <xs:element name="COUNTRY" type="xs:string"/>
              <xs:element name="REGION" type="xs:string"/>
              <xs:element name="TAX_TYPE" type="xs:byte"/>
              <xs:element name="TAX_RATE_CODE" type="xs:byte"/>
              <xs:element name="TAX_EXEMPTION_REASON" type="xs:string"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="WithholdingTax">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="MATERIAL_ID" type="xs:string"/>
              <xs:element name="COUNTRY" type="xs:string"/>
              <xs:element name="TAX_TYPE" type="xs:string"/>
              <xs:element name="INCOME_TYPE" type="xs:string"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element maxOccurs="unbounded" minOccurs="0" name="Purchasing">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="MATERIAL_ID" type="xs:int"/>
              <xs:element name="STATUS" type="xs:byte"/>
              <xs:element name="PURCHASING_UOM" type="xs:string"/>
              <xs:element name="INTERNAL_COMMENT" type="xs:string"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element maxOccurs="unbounded" minOccurs="0" name="PurchasingNotes">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="MATERIAL_ID" type="xs:string"/>
              <xs:element name="LANGUAGE" type="xs:string"/>
              <xs:element name="PURCHASING_NOTE" type="xs:string"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element maxOccurs="unbounded" minOccurs="0" name="SupplierPartNumbers">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="MATERIAL_ID" type="xs:int"/>
              <xs:element name="SUPPLIER_ID" type="xs:short"/>
              <xs:element name="SUPPLIER_PART_NO" type="xs:int"/>
              <xs:element name="SUPPLIER_LEAD_TIME" type="xs:byte"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element maxOccurs="unbounded" minOccurs="0" name="Logistics">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="MATERIAL_ID" type="xs:byte"/>
              <xs:element name="SITE_ID" type="xs:string"/>
              <xs:element name="LOGISTICS_STATUS" type="xs:byte"/>
              <xs:element name="PRODUCTION_GROUP_ID" type="xs:string"/>
              <xs:element name="STORAGE_GROUP_ID" type="xs:string"/>
              <xs:element name="CYCLE_COUNT" type="xs:string"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element maxOccurs="unbounded" minOccurs="0" name="Planning">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="MATERIAL_ID" type="xs:byte"/>
              <xs:element name="PLANNING_AREA_ID" type="xs:string"/>
              <xs:element name="STATUS" type="xs:byte"/>
              <xs:element name="SUPPLY_PLANNING_UOM" type="xs:string"/>
              <xs:element name="FORECASTING_GROUP_ID" type="xs:string"/>
              <xs:element name="PLANNING_GROUP_ID" type="xs:string"/>
              <xs:element name="DEMAND_MANAGEMENT_PROCEDURE" type="xs:string"/>
              <xs:element name="PROCUREMENT_TYPE" type="xs:byte"/>
              <xs:element name="PROCUREMENT_LEAD_TIME" type="xs:string"/>
              <xs:element name="GOODS_RECEIPT_PROCESSING_TIME" type="xs:string"/>
              <xs:element name="PLANNING_PROCEDURE" type="xs:string"/>
              <xs:element name="LOT_SIZING_METHOD" type="xs:byte"/>
              <xs:element name="PERIOD_TYPE" type="xs:string"/>
              <xs:element name="REORDER_POINT" type="xs:byte"/>
              <xs:element name="TARGET_STOCK" type="xs:byte"/>
              <xs:element name="SAFETY_STOCK" type="xs:float"/>
              <xs:element name="FIXED_LOT_SIZE" type="xs:byte"/>
              <xs:element name="SAFETY_LEAD_TIME" type="xs:string"/>
              <xs:element name="TARGET_DAYS_OF_SUPPLY" type="xs:string"/>
              <xs:element name="PLANNING_TIME_FENCE" type="xs:string"/>
              <xs:element name="MINIMUM_LOT_SIZE" type="xs:byte"/>
              <xs:element name="MAXIUM_LOT_SIZE" type="xs:byte"/>
              <xs:element name="ROUNDING_VALUE" type="xs:byte"/>
              <xs:element name="MIN_INVENTORY_DAYS_OF_SUPPLY" type="xs:string"/>
              <xs:element name="MIN_RECEIPT_DAYS_OF_SUPPLY" type="xs:string"/>
              <xs:element name="MIN_SHELF_LIFE" type="xs:string"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element maxOccurs="unbounded" minOccurs="0" name="AvailabilityConfirmations">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="MATERIAL_ID" type="xs:byte"/>
              <xs:element name="PLANNING_AREA_ID" type="xs:string"/>
              <xs:element name="STATUS" type="xs:byte"/>
              <xs:element name="PRODUCT_AVAILABILITY_CHECK" type="xs:string"/>
              <xs:element name="AVAILABILITY_CHECK_HORIZON" type="xs:byte"/>
              <xs:element name="GOODS_ISSUE_PROCESSING_TIME" type="xs:string"/>
              <xs:element name="REPLEN_LEAD_TIME" type="xs:string"/>
              <xs:element name="DISABLE_SHIP_FROM" type="xs:string"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element maxOccurs="unbounded" minOccurs="0" name="Sales">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="MATERIAL_ID" type="xs:int"/>
              <xs:element name="SALES_ORGANIZATION_ID" type="xs:short"/>
              <xs:element name="DISTRIBUTION_CHANNEL" type="xs:byte"/>
              <xs:element name="STATUS" type="xs:byte"/>
              <xs:element name="SALES_UOM" type="xs:string"/>
              <xs:element name="ITEM_GROUP" type="xs:string"/>
              <xs:element name="CASH_DISCOUNT_ALLOWED" type="xs:string"/>
              <xs:element name="MINIMUM_ORDER_QUANTITY" type="xs:byte"/>
              <xs:element name="REFERENCE_PRICE_MATERIAL" type="xs:string"/>
              <xs:element name="INTERNAL_COMMENT" type="xs:string"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element maxOccurs="unbounded" minOccurs="0" name="SalesNotes">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="MATERIAL_ID" type="xs:string"/>
              <xs:element name="SALES_ORGANIZATION_ID" type="xs:string"/>
              <xs:element name="DISTRIBUTION_CHANNEL" type="xs:string"/>
              <xs:element name="LANGUAGE" type="xs:string"/>
              <xs:element name="SALES_NOTE" type="xs:string"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="Warranties">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="MATERIAL_ID" type="xs:int"/>
              <xs:element name="SALES_ORGANIZATION_ID" type="xs:short"/>
              <xs:element name="DISTRIBUTION_CHANNEL" type="xs:byte"/>
              <xs:element name="WARRENTY_ID" type="xs:byte"/>
              <xs:element name="VALID_FROM" type="xs:dateTime"/>
              <xs:element name="VALID_TO" type="xs:dateTime"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element maxOccurs="unbounded" minOccurs="0" name="CustomerPartNumbers">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="MATERIAL_ID" type="xs:string"/>
              <xs:element name="CUSTOMER_ID" type="xs:string"/>
              <xs:element name="CUSTOMER_PART_NUMBER" type="xs:string"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element maxOccurs="unbounded" minOccurs="0" name="Attachments">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="MATERIAL_ID" type="xs:string"/>
              <xs:element name="URL_LINK" type="xs:string"/>
              <xs:element name="DOCUMENT_TITLE" type="xs:string"/>
              <xs:element name="DOCUMENT_TYPE" type="xs:string"/>
              <xs:element name="COMMENT" type="xs:string"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:choice>
    </xs:complexType>
  </xs:element>
</xs:schema>