Resources/schemas/Xsd/SAP_Commerce_financial_services_accelerator_integration_with_SAP_for_Insurance - InboundPayloadValidation-2.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="cart">
    <xs:complexType>
      <xs:all>
		<xs:element type="xs:string" name="selectedQuoteVariant" minOccurs="1" maxOccurs="1"/>
		<xs:element type="xs:string" name="mainProduct" minOccurs="1" maxOccurs="1"/>
        <xs:element name="quoteInformation" minOccurs="1" maxOccurs="1">
          <xs:complexType>
              <xs:all>
                <xs:element type="xs:string" name="quoteId" minOccurs="1" maxOccurs="1"/>
              </xs:all>
          </xs:complexType>
        </xs:element>
        <xs:element name="user" minOccurs="1" maxOccurs="1">
          <xs:complexType>
               <xs:all>
                    <xs:element type="xs:string" name="customerId" minOccurs="1" maxOccurs="1"/>
               </xs:all>
          </xs:complexType>
        </xs:element>
        <xs:element name="paymentInfo" minOccurs="1" maxOccurs="1">
          <xs:complexType>
            <xs:all>
              <xs:element type="xs:string" name="paymentToken" minOccurs="0" maxOccurs="1"/>
				<xs:element name="premiumPayer" minOccurs="0" maxOccurs="1">
				  <xs:complexType>
					<xs:all>
					  <xs:element type="xs:string" name="lastName" minOccurs="0" maxOccurs="1"/>
					  <xs:element type="xs:string" name="firstName" minOccurs="0" maxOccurs="1"/>
					</xs:all>
				  </xs:complexType>
				</xs:element>
				<xs:element name="paymentProvider" minOccurs="1" maxOccurs="1">
				  <xs:complexType>
					<xs:all>
					  <xs:element type="xs:string" name="type" minOccurs="1" maxOccurs="1"/>
					</xs:all>
				  </xs:complexType>
				</xs:element>
            </xs:all>
          </xs:complexType>
        </xs:element>
      </xs:all>
    </xs:complexType>
  </xs:element>
</xs:schema>