Resources/schemas/Xsd/SAP_Commerce_Cloud_Integration_with_SAP_CPQ - quote.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="SAPCpiOutboundQuotes">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="SAPCpiOutboundQuote">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="creationDate"/>
              <xs:element type="xs:short" name="quoteId"/>
              <xs:element type="xs:string" name="currencyIsoCode"/>
              <xs:element type="xs:string" name="baseStoreUid"/>
              <xs:element type="xs:string" name="description"/>
              <xs:element type="xs:string" name="name"/>
              <xs:element type="xs:string" name="deliveryMode"/>
			  <xs:element type="xs:string" name="responseStatus"/>
			  <xs:element type="xs:string" name="responseMessage"/>
              <xs:element name="sapCpiOutboundQuoteItems">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="SAPCpiOutboundQuoteItem">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element type="xs:string" name="unit"/>
                          <xs:element type="xs:byte" name="entryNumber"/>
                          <xs:element type="xs:byte" name="price"/>
                          <xs:element type="xs:short" name="quoteId"/>
                          <xs:element type="xs:string" name="currencyIsoCode"/>
                          <xs:element type="xs:string" name="productCode"/>
                          <xs:element type="xs:byte" name="quantity"/>
                          <xs:element type="xs:string" name="productName"/>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="sapCpiQuoteConfig">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="SAPCpiOutboundQuoteConfig">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element type="xs:string" name="pricingProcedure"/>
                          <xs:element type="xs:byte" name="distributionChannel"/>
                          <xs:element type="xs:string" name="divison"/>
                          <xs:element type="xs:string" name="salesOrganization"/>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="sapCpiOutboundQuoteCustomers">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="SAPCpiOutboundQuoteCustomer">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element type="xs:string" name="lastName"/>
                          <xs:element type="xs:int" name="postalcode"/>
                          <xs:element type="xs:long" name="fax"/>
                          <xs:element type="xs:short" name="quoteId"/>
                          <xs:element type="xs:string" name="b2bUnitName"/>
                          <xs:element type="xs:byte" name="customerRoleCode"/>
                          <xs:element type="xs:string" name="city"/>
                          <xs:element type="xs:string" name="country"/>
                          <xs:element type="xs:byte" name="customerId"/>
                          <xs:element type="xs:int" name="phoneNumber"/>
                          <xs:element type="xs:string" name="email"/>
                          <xs:element type="xs:string" name="line1"/>
                          <xs:element type="xs:string" name="firstName"/>
                          <xs:element type="xs:string" name="line2"/>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element type="xs:byte" name="version"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>