Resources/schemas/Xsd/SAP_SuccessFactors_Integration_with_Ahgora_Platform_Time_&_Attendance - ahgora.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="employees">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="employee" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element minOccurs="0" type="xs:string" name="cargo"/>
              <xs:element minOccurs="0" type="xs:int" name="centroCusto"/>
              <xs:element minOccurs="0" type="xs:string" name="cnpj"/>
              <xs:element minOccurs="0" type="xs:string" name="cpf"/>
              <xs:element minOccurs="0" type="xs:string" name="ctps"/>
              <xs:element minOccurs="0" type="xs:string" name="dataAdmissao"/>
              <xs:element minOccurs="0" type="xs:string" name="dataNascimento"/>
              <xs:element minOccurs="0" type="xs:short" name="departamento"/>
              <xs:element minOccurs="0" type="xs:string" name="email"/>
              <xs:element minOccurs="0" type="xs:string" name="login_saml"/>
              <xs:element minOccurs="0" type="xs:int" name="matricula"/>
              <xs:element minOccurs="0" type="xs:int" name="matricula_chefia"/>
              <xs:element minOccurs="0" type="xs:string" name="nome"/>
              <xs:element minOccurs="0" type="xs:string" name="nome_chefia"/>
              <xs:element minOccurs="0" type="xs:string" name="pis"/>
              <xs:element minOccurs="0" type="xs:string" name="regimeTrabalho"/>
              <xs:element minOccurs="0" type="xs:string" name="rg"/>
              <xs:element minOccurs="0" type="xs:string" name="sexo"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>