Resources/schemas/Xsd/SAP_Build_Process_Automation_Integration_with_SAP_S-4HANA_for_Real_Estate_Contract_Valuation_Posting_Approval - outputData-1.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="d">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="status" type="xs:string" minOccurs="0" maxOccurs="1"/>
				<xs:element name="number" type="xs:unsignedLong" minOccurs="0" maxOccurs="1"/>
				<xs:element name="message" type="xs:string" minOccurs="0" maxOccurs="1"/>
				<xs:element name="postings">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="item" minOccurs="0" maxOccurs="unbounded">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="statusForALV" type="xs:unsignedByte" minOccurs="0" maxOccurs="1"/>
										<xs:element name="companyCode" type="xs:unsignedShort" minOccurs="0" maxOccurs="1"/>
										<xs:element name="postingProcedure" type="xs:string" minOccurs="0" maxOccurs="1"/>
										<xs:element name="process" type="xs:string" minOccurs="0" maxOccurs="1"/>
										<xs:element name="processGenericKey" type="xs:string" minOccurs="0" maxOccurs="1"/>
										<xs:element name="processID" type="xs:string" minOccurs="0" maxOccurs="1"/>
										<xs:element name="fiscalYear" type="xs:unsignedByte" minOccurs="0" maxOccurs="1"/>
										<xs:element name="postingPeriod" type="xs:unsignedByte" minOccurs="0" maxOccurs="1"/>
										<xs:element name="postingDate" type="xs:date" minOccurs="0" maxOccurs="1"/>
										<xs:element name="documentDate" type="xs:string" minOccurs="0" maxOccurs="1"/>
										<xs:element name="amount" type="xs:decimal" minOccurs="0" maxOccurs="1"/>
										<xs:element name="grossAmount" type="xs:decimal" minOccurs="0" maxOccurs="1"/>
										<xs:element name="netAmount" type="xs:decimal" minOccurs="0" maxOccurs="1"/>
										<xs:element name="taxAmount" type="xs:decimal" minOccurs="0" maxOccurs="1"/>
										<xs:element name="currency" type="xs:string" minOccurs="0" maxOccurs="1"/>
										<xs:element name="localCurrencyAmount" type="xs:decimal" minOccurs="0" maxOccurs="1"/>
										<xs:element name="localCurrencyGrossAmount" type="xs:decimal" minOccurs="0" maxOccurs="1"/>
										<xs:element name="localCurrencyNetAmount" type="xs:decimal" minOccurs="0" maxOccurs="1"/>
										<xs:element name="localCurrencyTaxAmount" type="xs:decimal" minOccurs="0" maxOccurs="1"/>
										<xs:element name="localCurrency" type="xs:string" minOccurs="0" maxOccurs="1"/>
										<xs:element name="foreignCurrencyAmount" type="xs:decimal" minOccurs="0" maxOccurs="1"/>
										<xs:element name="foreignCurrencyGrossAmount" type="xs:decimal" minOccurs="0" maxOccurs="1"/>
										<xs:element name="foreignCurrencyNetAmount" type="xs:decimal" minOccurs="0" maxOccurs="1"/>
										<xs:element name="foreignCurrencyTaxAmount" type="xs:decimal" minOccurs="0" maxOccurs="1"/>
										<xs:element name="foreignCurrency" type="xs:string" minOccurs="0" maxOccurs="1"/>
										<xs:element name="sourceGUID" type="xs:string" minOccurs="0" maxOccurs="1"/>
										<xs:element name="referenceGUID" type="xs:string" minOccurs="0" maxOccurs="1"/>
										<xs:element name="objectNumberAccountAssignment" type="xs:string" minOccurs="0" maxOccurs="1"/>
										<xs:element name="calculationPeriodStart" type="xs:date" minOccurs="0" maxOccurs="1"/>
										<xs:element name="calculationPeriodEnd" type="xs:date" minOccurs="0" maxOccurs="1"/>
										<xs:element name="baselineDateForDueDateCollection" type="xs:date" minOccurs="0" maxOccurs="1"/>
										<xs:element name="originalDueDate" type="xs:date" minOccurs="0" maxOccurs="1"/>
										<xs:element name="conditionType" type="xs:string" minOccurs="0" maxOccurs="1"/>
										<xs:element name="isAdvancePaymentCondition" type="xs:string" minOccurs="0" maxOccurs="1"/>
										<xs:element name="flowType" type="xs:string" minOccurs="0" maxOccurs="1"/>
										<xs:element name="debitCreditIndicator" type="xs:string" minOccurs="0" maxOccurs="1"/>
										<xs:element name="groupIndicatorTaxLineItems" type="xs:unsignedByte" minOccurs="0" maxOccurs="1"/>
										<xs:element name="taxCalculationDate" type="xs:date" minOccurs="0" maxOccurs="1"/>
										<xs:element name="termNumberOA" type="xs:string" minOccurs="0" maxOccurs="1"/>
										<xs:element name="businessArea" type="xs:string" minOccurs="0" maxOccurs="1"/>
										<xs:element name="profitCenter" type="xs:string" minOccurs="0" maxOccurs="1"/>
										<xs:element name="objNumberAdditionalAccountAsgn" type="xs:string" minOccurs="0" maxOccurs="1"/>
										<xs:element name="fund" type="xs:string" minOccurs="0" maxOccurs="1"/>
										<xs:element name="fundCenter" type="xs:string" minOccurs="0" maxOccurs="1"/>
										<xs:element name="commitmentItem" type="xs:string" minOccurs="0" maxOccurs="1"/>
										<xs:element name="functionalArea" type="xs:string" minOccurs="0" maxOccurs="1"/>
										<xs:element name="grant" type="xs:string" minOccurs="0" maxOccurs="1"/>
										<xs:element name="programInFundsManagement" type="xs:string" minOccurs="0" maxOccurs="1"/>
										<xs:element name="budgetPeriod" type="xs:string" minOccurs="0" maxOccurs="1"/>
										<xs:element name="termNumberPY" type="xs:string" minOccurs="0" maxOccurs="1"/>
										<xs:element name="numberOfConditionSplit" type="xs:unsignedByte" minOccurs="0" maxOccurs="1"/>
										<xs:element name="paymentMethod" type="xs:string" minOccurs="0" maxOccurs="1"/>
										<xs:element name="paymentMethodCreditMemos" type="xs:string" minOccurs="0" maxOccurs="1"/>
										<xs:element name="paymentBlockKey" type="xs:string" minOccurs="0" maxOccurs="1"/>
										<xs:element name="paymentKeyTerms" type="xs:string" minOccurs="0" maxOccurs="1"/>
										<xs:element name="houseBankKey" type="xs:string" minOccurs="0" maxOccurs="1"/>
										<xs:element name="houseBankAccountKey" type="xs:string" minOccurs="0" maxOccurs="1"/>
										<xs:element name="bankDetailsId" type="xs:string" minOccurs="0" maxOccurs="1"/>
										<xs:element name="noteToPayee" type="xs:string" minOccurs="0" maxOccurs="1"/>
										<xs:element name="dunningArea" type="xs:string" minOccurs="0" maxOccurs="1"/>
										<xs:element name="dunningKeys" type="xs:string" minOccurs="0" maxOccurs="1"/>
										<xs:element name="dunningBlock" type="xs:string" minOccurs="0" maxOccurs="1"/>
										<xs:element name="accountDeterminationValue" type="xs:string" minOccurs="0" maxOccurs="1"/>
										<xs:element name="taxType" type="xs:string" minOccurs="0" maxOccurs="1"/>
										<xs:element name="taxGroup" type="xs:string" minOccurs="0" maxOccurs="1"/>
										<xs:element name="isGrossAmount" type="xs:string" minOccurs="0" maxOccurs="1"/>
										<xs:element name="alternativeTaxReportingCountry" type="xs:string" minOccurs="0" maxOccurs="1"/>
										<xs:element name="businessPartnerNumber" type="xs:string" minOccurs="0" maxOccurs="1"/>
										<xs:element name="objectNumberInternalUse" type="xs:string" minOccurs="0" maxOccurs="1"/>
										<xs:element name="taxJurisdiction" type="xs:string" minOccurs="0" maxOccurs="1"/>
										<xs:element name="conditionSplit" type="xs:string" minOccurs="0" maxOccurs="1"/>
										<xs:element name="currencyTranslationRule" type="xs:string" minOccurs="0" maxOccurs="1"/>
										<xs:element name="lockPartnerData" type="xs:string" minOccurs="0" maxOccurs="1"/>
										<xs:element name="SEPAMandateUniqueReferenceToMandatePerVendor" type="xs:string" minOccurs="0" maxOccurs="1"/>
										<xs:element name="SEPAMandateCreditorId" type="xs:string" minOccurs="0" maxOccurs="1"/>
										<xs:element name="termNumberWT" type="xs:string" minOccurs="0" maxOccurs="1"/>
										<xs:element name="documentHeaderText" type="xs:string" minOccurs="0" maxOccurs="1"/>
										<xs:element name="itemText" type="xs:string" minOccurs="0" maxOccurs="1"/>
										<xs:element name="accountTypeC" type="xs:string" minOccurs="0" maxOccurs="1"/>
										<xs:element name="accountDeterminationAccountSymbolsC" type="xs:string" minOccurs="0" maxOccurs="1"/>
										<xs:element name="accountTypeD" type="xs:string" minOccurs="0" maxOccurs="1"/>
										<xs:element name="accountDeterminationAccountSymbolsD" type="xs:string" minOccurs="0" maxOccurs="1"/>
										<xs:element name="valuationRole" type="xs:string" minOccurs="0" maxOccurs="1"/>
										<xs:element name="accountingPrinciple" type="xs:string" minOccurs="0" maxOccurs="1"/>
										<xs:element name="valuationDocumentType" type="xs:string" minOccurs="0" maxOccurs="1"/>
										<xs:element name="GUIDforConditions" type="xs:string" minOccurs="0" maxOccurs="1"/>
										<xs:element name="objectNumberCalc" type="xs:string" minOccurs="0" maxOccurs="1"/>
										<xs:element name="conditionValidStartDate" type="xs:string" minOccurs="0" maxOccurs="1"/>
										<xs:element name="conditionsExternalPurpose" type="xs:string" minOccurs="0" maxOccurs="1"/>
										<xs:element name="referenceDocumentGUID" type="xs:string" minOccurs="0" maxOccurs="1"/>
										<xs:element name="referenceDateSettlement" type="xs:string" minOccurs="0" maxOccurs="1"/>
										<xs:element name="partnerReferenceDateSettlement" type="xs:string" minOccurs="0" maxOccurs="1"/>
										<xs:element name="dateOfService" type="xs:string" minOccurs="0" maxOccurs="1"/>
										<xs:element name="partnerDateOfService" type="xs:string" minOccurs="0" maxOccurs="1"/>
										<xs:element name="distributedTaxIncludedInAmount" minOccurs="0" maxOccurs="1"/>
										<xs:element name="referenceGUIDPref" type="xs:string" minOccurs="0" maxOccurs="1"/>
										<xs:element name="debitGLAccount" type="xs:string" minOccurs="0" maxOccurs="1"/>
										<xs:element name="creditGLAccount" type="xs:string" minOccurs="0" maxOccurs="1"/>
										<xs:element name="taxAmountDistributed" type="xs:decimal" minOccurs="0" maxOccurs="1"/>
										<xs:element name="taxAmountDistributedCTLC" type="xs:decimal" minOccurs="0" maxOccurs="1"/>
										<xs:element name="taxAmountDistributedCTFC" type="xs:decimal" minOccurs="0" maxOccurs="1"/>
										<xs:element name="isFlatRateCondition" type="xs:string" minOccurs="0" maxOccurs="1"/>
										<xs:element name="flowTypeCF" type="xs:string" minOccurs="0" maxOccurs="1"/>
										<xs:element name="exchangeRate" type="xs:decimal" minOccurs="0" maxOccurs="1"/>
										<xs:element name="plannedTranslationDate" type="xs:string" minOccurs="0" maxOccurs="1"/>
										<xs:element name="actualTranslationDate" type="xs:string" minOccurs="0" maxOccurs="1"/>
										<xs:element name="postInConditionCurrency" type="xs:string" minOccurs="0" maxOccurs="1"/>
										<xs:element name="useTranslationDateFromCashFlow" type="xs:string" minOccurs="0" maxOccurs="1"/>
										<xs:element name="documentNumberEarmarkedFunds" type="xs:string" minOccurs="0" maxOccurs="1"/>
										<xs:element name="earmarkedFundsDocumentItem" type="xs:unsignedByte" minOccurs="0" maxOccurs="1"/>
										<xs:element name="IndicatorReversedDocuments" type="xs:string" minOccurs="0" maxOccurs="1"/>
										<xs:element name="accountTypeOpenItem" type="xs:string" minOccurs="0" maxOccurs="1"/>
										<xs:element name="openItemAccount" type="xs:string" minOccurs="0" maxOccurs="1"/>
										<xs:element name="reversalForGUID" type="xs:string" minOccurs="0" maxOccurs="1"/>
										<xs:element name="reversedByGUID" type="xs:string" minOccurs="0" maxOccurs="1"/>
										<xs:element name="followUpPostingsForGUID" type="xs:string" minOccurs="0" maxOccurs="1"/>
										<xs:element name="flowOrigin" type="xs:string" minOccurs="0" maxOccurs="1"/>
										<xs:element name="enteredBy" type="xs:string" minOccurs="0" maxOccurs="1"/>
										<xs:element name="firstEnteredOn" type="xs:string" minOccurs="0" maxOccurs="1"/>
										<xs:element name="timeOfCreation" type="xs:time" minOccurs="0" maxOccurs="1"/>
										<xs:element name="sourceInitialEntry" type="xs:string" minOccurs="0" maxOccurs="1"/>
										<xs:element name="employeeId" type="xs:string" minOccurs="0" maxOccurs="1"/>
										<xs:element name="lastEditedOn" type="xs:string" minOccurs="0" maxOccurs="1"/>
										<xs:element name="lastEditedAt" type="xs:time" minOccurs="0" maxOccurs="1"/>
										<xs:element name="editingSource" type="xs:string" minOccurs="0" maxOccurs="1"/>
										<xs:element name="frequencyInMonths" type="xs:unsignedByte" minOccurs="0" maxOccurs="1"/>
										<xs:element name="frequencyInDays" type="xs:unsignedByte" minOccurs="0" maxOccurs="1"/>
										<xs:element name="refFlowRelation" type="xs:string" minOccurs="0" maxOccurs="1"/>
										<xs:element name="documentStatus" type="xs:string" minOccurs="0" maxOccurs="1"/>
										<xs:element name="contractReference" type="xs:string" minOccurs="0" maxOccurs="1"/>
										<xs:element name="objectNumberAsset" type="xs:string" minOccurs="0" maxOccurs="1"/>
										<xs:element name="referenceDateAsset" type="xs:string" minOccurs="0" maxOccurs="1"/>
										<xs:element name="assetProcess" type="xs:string" minOccurs="0" maxOccurs="1"/>
										<xs:element name="isCompleteRetirement" type="xs:string" minOccurs="0" maxOccurs="1"/>
										<xs:element name="reductionPercentageAssetRetirement" type="xs:decimal" minOccurs="0" maxOccurs="1"/>
										<xs:element name="docGUID" type="xs:string" minOccurs="0" maxOccurs="1"/>
										<xs:element name="secondDocGUID" type="xs:string" minOccurs="0" maxOccurs="1"/>
										<xs:element name="splitDocGUID" type="xs:string" minOccurs="0" maxOccurs="1"/>
										<xs:element name="cashFlowType" type="xs:unsignedByte" minOccurs="0" maxOccurs="1"/>
										<xs:element name="taxFromDate" type="xs:string" minOccurs="0" maxOccurs="1"/>
										<xs:element name="documentType" type="xs:string" minOccurs="0" maxOccurs="1"/>
										<xs:element name="isAssetPosting" type="xs:string" minOccurs="0" maxOccurs="1"/>
										<xs:element name="isReduction" type="xs:string" minOccurs="0" maxOccurs="1"/>
										<xs:element name="isUsedByEval" type="xs:string" minOccurs="0" maxOccurs="1"/>
										<xs:element name="financialValuationObjectType" type="xs:string" minOccurs="0" maxOccurs="1"/>
										<xs:element name="objectNumberEval" type="xs:string" minOccurs="0" maxOccurs="1"/>
										<xs:element name="termNumberEval" type="xs:unsignedByte" minOccurs="0" maxOccurs="1"/>
										<xs:element name="companyId" type="xs:string" minOccurs="0" maxOccurs="1"/>
										<xs:element name="contractNumber" type="xs:unsignedInt" minOccurs="0" maxOccurs="1"/>
										<xs:element name="contractType" type="xs:string" minOccurs="0" maxOccurs="1"/>
										<xs:element name="contractStartDate" type="xs:date" minOccurs="0" maxOccurs="1"/>
										<xs:element name="termEndDate" type="xs:date" minOccurs="0" maxOccurs="1"/>
										<xs:element name="contractName" type="xs:string" minOccurs="0" maxOccurs="1"/>
										<xs:element name="contractActivation" type="xs:date" minOccurs="0" maxOccurs="1"/>
										<xs:element name="cashFlowStart" type="xs:date" minOccurs="0" maxOccurs="1"/>
										<xs:element name="businessEntityContract" type="xs:unsignedByte" minOccurs="0" maxOccurs="1"/>
										<xs:element name="personResponsible" type="xs:string" minOccurs="0" maxOccurs="1"/>
										<xs:element name="flowTypeName" type="xs:string" minOccurs="0" maxOccurs="1"/>
										<xs:element name="conditionTypeName" type="xs:string" minOccurs="0" maxOccurs="1"/>
										<xs:element name="taxCode" type="xs:string" minOccurs="0" maxOccurs="1"/>
										<xs:element name="CompleteObjectIdentification" type="xs:string" minOccurs="0" maxOccurs="1"/>
										<xs:element name="CompletePartnerObjectIdentification" type="xs:string" minOccurs="0" maxOccurs="1"/>
										<xs:element name="customerNumber" type="xs:string" minOccurs="0" maxOccurs="1"/>
										<xs:element name="accountNumberVendorCreditor" type="xs:string" minOccurs="0" maxOccurs="1"/>
										<xs:element name="businessPartnerShortName" type="xs:string" minOccurs="0" maxOccurs="1"/>
										<xs:element name="grossAmountTransactionCurrency" type="xs:decimal" minOccurs="0" maxOccurs="1"/>
										<xs:element name="netAmountTransactionCurrency" type="xs:decimal" minOccurs="0" maxOccurs="1"/>
										<xs:element name="taxAmountTransactionCurrency" type="xs:decimal" minOccurs="0" maxOccurs="1"/>
										<xs:element name="postingProcedureName" type="xs:string" minOccurs="0" maxOccurs="1"/>
										<xs:element name="externalPurposeConditions" type="xs:string" minOccurs="0" maxOccurs="1"/>
										<xs:element name="nameExternalPurposeConditions" type="xs:string" minOccurs="0" maxOccurs="1"/>
										<xs:element name="quickInfoIcon" type="xs:string" minOccurs="0" maxOccurs="1"/>
										<xs:element name="tableForCellColoring" type="xs:string" minOccurs="0" maxOccurs="1"/>
										<xs:element name="styleForTableCells" type="xs:string" minOccurs="0" maxOccurs="1"/>
										<xs:element name="onlyREDocument" type="xs:string" minOccurs="0" maxOccurs="1"/>
										<xs:element name="accDocument" type="xs:string" minOccurs="0" maxOccurs="1"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>

				<xs:element name="returnAll">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="item" minOccurs="0" maxOccurs="unbounded">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="type" type="xs:string" minOccurs="0" maxOccurs="1" />
										
										<xs:element name="number" type="xs:string" minOccurs="0" maxOccurs="1" />
										<xs:element name="message" type="xs:string" minOccurs="0" maxOccurs="1" />
										
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
