Resources/schemas/Xsd/SAP_SuccessFactors_Employee_Central_to_SAP_Time_and_Attendance_Management_by_WorkForce_Software_Integration_Extension - person_api_schema.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="root">
		<xs:complexType>
			<xs:sequence>
				<xs:element type="xs:string" name="externalMatchId" minOccurs="1"/>
				<xs:element name="employee" minOccurs="0">
					<xs:complexType>
						<xs:sequence>
							<xs:element type="xs:string" name="displayId" minOccurs="1"/>
							<xs:element name="effectiveDatedEmployeeInfo" minOccurs="1" maxOccurs="unbounded">
								<xs:complexType>
									<xs:sequence>
                  <xs:element name="customFields" minOccurs="0">
                    <xs:complexType>
                      <xs:sequence minOccurs="0">
                        <xs:element name="customField1" type="customField" minOccurs="0"/>
                        <xs:element name="customField2" type="customField" minOccurs="0"/>
                        <xs:element name="customField3" type="customField" minOccurs="0"/>
                        <xs:element name="customField4" type="customField" minOccurs="0"/>
                        <xs:element name="customField5" type="customField" minOccurs="0"/>
                        <xs:element name="customField6" type="customField" minOccurs="0"/>
                        <xs:element name="customField7" type="customField" minOccurs="0"/>
                        <xs:element name="customField8" type="customField" minOccurs="0"/>
                        <xs:element name="customField9" type="customField" minOccurs="0"/>
                        <xs:element name="customField10" type="customField" minOccurs="0"/>
                        <xs:element name="customField11" type="customField" minOccurs="0"/>
                        <xs:element name="customField12" type="customField" minOccurs="0"/>
                        <xs:element name="customField13" type="customField" minOccurs="0"/>
                        <xs:element name="customField14" type="customField" minOccurs="0"/>
                        <xs:element name="customField15" type="customField" minOccurs="0"/>
                        <xs:element name="customField16" type="customField" minOccurs="0"/>
                        <xs:element name="customField17" type="customField" minOccurs="0"/>
                        <xs:element name="customField18" type="customField" minOccurs="0"/>
                        <xs:element name="customField19" type="customField" minOccurs="0"/>
                        <xs:element name="customField20" type="customField" minOccurs="0"/>
                        <xs:element name="customField21" type="customField" minOccurs="0"/>
                        <xs:element name="customField22" type="customField" minOccurs="0"/>
                        <xs:element name="customField23" type="customField" minOccurs="0"/>
                        <xs:element name="customField24" type="customField" minOccurs="0"/>
                        <xs:element name="customField25" type="customField" minOccurs="0"/>
                        <xs:element name="customField26" type="customField" minOccurs="0"/>
                        <xs:element name="customField27" type="customField" minOccurs="0"/>
                        <xs:element name="customField28" type="customField" minOccurs="0"/>
                        <xs:element name="customField29" type="customField" minOccurs="0"/>
                        <xs:element name="customField30" type="customField" minOccurs="0"/>
                        <xs:element name="customField31" type="customField" minOccurs="0"/>
                        <xs:element name="customField32" type="customField" minOccurs="0"/>
                        <xs:element name="customField33" type="customField" minOccurs="0"/>
                        <xs:element name="customField34" type="customField" minOccurs="0"/>
                        <xs:element name="customField35" type="customField" minOccurs="0"/>
                        <xs:element name="customField36" type="customField" minOccurs="0"/>
                        <xs:element name="customField37" type="customField" minOccurs="0"/>
                        <xs:element name="customField38" type="customField" minOccurs="0"/>
                        <xs:element name="customField39" type="customField" minOccurs="0"/>
                        <xs:element name="customField40" type="customField" minOccurs="0"/>
                        <xs:element name="customField41" type="customField" minOccurs="0"/>
                        <xs:element name="customField42" type="customField" minOccurs="0"/>
                        <xs:element name="customField43" type="customField" minOccurs="0"/>
                        <xs:element name="customField44" type="customField" minOccurs="0"/>
                        <xs:element name="customField45" type="customField" minOccurs="0"/>
                        <xs:element name="customField46" type="customField" minOccurs="0"/>
                        <xs:element name="customField47" type="customField" minOccurs="0"/>
                        <xs:element name="customField48" type="customField" minOccurs="0"/>
                        <xs:element name="customField49" type="customField" minOccurs="0"/>
                        <xs:element name="customField50" type="customField" minOccurs="0"/>
                      </xs:sequence>
                    </xs:complexType>
                  </xs:element>
										<xs:element type="xs:date" name="effectiveDate" minOccurs="1"/>
										<xs:element type="xs:date" name="seniorityDate" minOccurs="0"/>
										<xs:element type="xs:string" name="shiftCode" minOccurs="0"/>
										<xs:element type="xs:string" name="managedJobsMatchValue" minOccurs="0"/>
										<xs:element type="xs:string" name="importedBadgeId" minOccurs="0"/>
										<xs:element name="wtaTemplateEmployeeFields" minOccurs="0">
											<xs:complexType>
												<xs:sequence>
													<xs:element type="xs:string" name="isEmployeeDisabled" minOccurs="0"/>
													<xs:element type="xs:string" name="actLocationCode" minOccurs="0"/>
													<xs:element type="xs:string" name="aggregateStdDailyHours" minOccurs="0"/>
													<xs:element type="xs:string" name="geoFenceLocation" minOccurs="0"/>
													<xs:element type="xs:string" name="actCaseApproverMatchId" minOccurs="0"/>
													<xs:element type="xs:string" name="aggregateStdWeeklyHours" minOccurs="0"/>
													<xs:element type="xs:string" name="aggregatePeriodHours" minOccurs="0"/>
													<xs:element type="xs:string" name="isStudent" minOccurs="0"/>
													<xs:element type="xs:string" name="actEmployeeGroup" minOccurs="0"/>
													<xs:element type="xs:string" name="workerType" minOccurs="0"/>
													<xs:element type="xs:string" name="isHolidayExempt" minOccurs="0"/>
													<xs:element type="xs:string" name="isCoveredAmericanPetroleum" minOccurs="0"/>
													<xs:element type="xs:string" name="programOfSocialIntegrationId" minOccurs="0"/>
													<xs:element type="xs:string" name="actCompany" minOccurs="0"/>
													<xs:element type="xs:date" name="actHireDate" minOccurs="0"/>
													<xs:element type="xs:string" name="isBreak2Waived" minOccurs="0"/>
													<xs:element type="xs:string" name="isNightShiftWorker" minOccurs="0"/>
													<xs:element type="xs:date" name="longServiceLeaveReferenceDate" minOccurs="0"/>
													<xs:element type="xs:date" name="columbiaVacationAccrualDate" minOccurs="0"/>
													<xs:element type="xs:int" name="accrualBand" minOccurs="0"/>
													<xs:element type="xs:string" name="isBreak1Waived" minOccurs="0"/>
													<xs:element type="xs:string" name="sickLeaveCode" minOccurs="0"/>
													<xs:element type="xs:string" name="isUnder18" minOccurs="0"/>
													<xs:element type="xs:string" name="aggregateFtePct" minOccurs="0"/>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
										<xs:element type="xs:string" name="leaveCode" minOccurs="0"/>
										<xs:element type="xs:string" name="managerIndicator" minOccurs="0"/>
										<xs:element name="homeAddress" minOccurs="0">
											<xs:complexType>
												<xs:sequence>
													<xs:element type="xs:string" name="stateOrProvince" minOccurs="0"/>
													<xs:element type="xs:string" name="country" minOccurs="0"/>
													<xs:element type="xs:string" name="lineThree" minOccurs="0"/>
													<xs:element type="xs:string" name="lineTwo" minOccurs="0"/>
													<xs:element type="xs:string" name="city" minOccurs="0"/>
													<xs:element type="xs:string" name="postalCode" minOccurs="0"/>
													<xs:element type="xs:string" name="lineOne" minOccurs="0"/>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
										<xs:element type="xs:date" name="latestHireDate" minOccurs="0"/>
										<xs:element type="xs:string" name="hrStatus" minOccurs="0"/>
										<xs:element type="xs:string" name="governmentId" minOccurs="0"/>
										<xs:element type="xs:string" name="gender" minOccurs="0"/>
										<xs:element type="xs:date" name="accrualDate" minOccurs="0"/>
										<xs:element type="xs:date" name="terminationDate" minOccurs="0"/>
										<xs:element type="xs:date" name="leaveStartDate" minOccurs="0"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element type="xs:string" name="businessPhoneNumber" minOccurs="0"/>
							<xs:element name="jobs" minOccurs="0"  maxOccurs="unbounded">
								<xs:complexType>
									<xs:sequence>
										<xs:element type="xs:string" name="externalJobId" minOccurs="1"/>
										<xs:element type="xs:string" name="jobDescription" minOccurs="1"/>
										<xs:element name="effectiveDatedJobInfo" minOccurs="0"  maxOccurs="unbounded">
											<xs:complexType>
												<xs:sequence>
                        <xs:element name="customFields" minOccurs="0">
                          <xs:complexType>
                            <xs:sequence minOccurs="0">
                              <xs:element name="customField1" type="customField" minOccurs="0"/>
                              <xs:element name="customField2" type="customField" minOccurs="0"/>
                              <xs:element name="customField3" type="customField" minOccurs="0"/>
                              <xs:element name="customField4" type="customField" minOccurs="0"/>
                              <xs:element name="customField5" type="customField" minOccurs="0"/>
                              <xs:element name="customField6" type="customField" minOccurs="0"/>
                              <xs:element name="customField7" type="customField" minOccurs="0"/>
                              <xs:element name="customField8" type="customField" minOccurs="0"/>
                              <xs:element name="customField9" type="customField" minOccurs="0"/>
                              <xs:element name="customField10" type="customField" minOccurs="0"/>
                              <xs:element name="customField11" type="customField" minOccurs="0"/>
                              <xs:element name="customField12" type="customField" minOccurs="0"/>
                              <xs:element name="customField13" type="customField" minOccurs="0"/>
                              <xs:element name="customField14" type="customField" minOccurs="0"/>
                              <xs:element name="customField15" type="customField" minOccurs="0"/>
                              <xs:element name="customField16" type="customField" minOccurs="0"/>
                              <xs:element name="customField17" type="customField" minOccurs="0"/>
                              <xs:element name="customField18" type="customField" minOccurs="0"/>
                              <xs:element name="customField19" type="customField" minOccurs="0"/>
                              <xs:element name="customField20" type="customField" minOccurs="0"/>
                              <xs:element name="customField21" type="customField" minOccurs="0"/>
                              <xs:element name="customField22" type="customField" minOccurs="0"/>
                              <xs:element name="customField23" type="customField" minOccurs="0"/>
                              <xs:element name="customField24" type="customField" minOccurs="0"/>
                              <xs:element name="customField25" type="customField" minOccurs="0"/>
                              <xs:element name="customField26" type="customField" minOccurs="0"/>
                              <xs:element name="customField27" type="customField" minOccurs="0"/>
                              <xs:element name="customField28" type="customField" minOccurs="0"/>
                              <xs:element name="customField29" type="customField" minOccurs="0"/>
                              <xs:element name="customField30" type="customField" minOccurs="0"/>
                              <xs:element name="customField31" type="customField" minOccurs="0"/>
                              <xs:element name="customField32" type="customField" minOccurs="0"/>
                              <xs:element name="customField33" type="customField" minOccurs="0"/>
                              <xs:element name="customField34" type="customField" minOccurs="0"/>
                              <xs:element name="customField35" type="customField" minOccurs="0"/>
                              <xs:element name="customField36" type="customField" minOccurs="0"/>
                              <xs:element name="customField37" type="customField" minOccurs="0"/>
                              <xs:element name="customField38" type="customField" minOccurs="0"/>
                              <xs:element name="customField39" type="customField" minOccurs="0"/>
                              <xs:element name="customField40" type="customField" minOccurs="0"/>
                              <xs:element name="customField41" type="customField" minOccurs="0"/>
                              <xs:element name="customField42" type="customField" minOccurs="0"/>
                              <xs:element name="customField43" type="customField" minOccurs="0"/>
                              <xs:element name="customField44" type="customField" minOccurs="0"/>
                              <xs:element name="customField45" type="customField" minOccurs="0"/>
                              <xs:element name="customField46" type="customField" minOccurs="0"/>
                              <xs:element name="customField47" type="customField" minOccurs="0"/>
                              <xs:element name="customField48" type="customField" minOccurs="0"/>
                              <xs:element name="customField49" type="customField" minOccurs="0"/>
                              <xs:element name="customField50" type="customField" minOccurs="0"/>
                            </xs:sequence>
                          </xs:complexType>
                        </xs:element>
													<xs:element type="xs:date" name="effectiveDate" minOccurs="1"/>
													<xs:element type="xs:string" name="isActive" minOccurs="1"/>
													<xs:element type="xs:string" name="timezone" minOccurs="1"/>
													<xs:element type="xs:string" name="division" minOccurs="0"/>
													<xs:element type="xs:string" name="isFullTime" minOccurs="0"/>
													<xs:element name="schedulingUnits" minOccurs="0">
														<xs:complexType>
															<xs:sequence>
																<xs:element type="xs:string" name="schedulingUnitExternalId" minOccurs="1"/>
																<xs:element type="xs:string" name="isPrimarySchedulingUnit" minOccurs="1"/>
															</xs:sequence>
														</xs:complexType>
													</xs:element>
													<xs:element type="xs:string" name="locationId" minOccurs="0"/>
													<xs:element type="xs:string" name="payType" minOccurs="0"/>
													<xs:element type="xs:string" name="region" minOccurs="0"/>
													<xs:element type="xs:string" name="payrollSystemId" minOccurs="0"/>
													<xs:element type="xs:date" name="endDate" minOccurs="0"/>
													<xs:element type="xs:string" name="primary" minOccurs="0"/>
													<xs:element type="xs:string" name="standardWeeklyHours" minOccurs="0"/>
													<xs:element type="xs:string" name="standardPeriodHours" minOccurs="0"/>
													<xs:element type="xs:string" name="standardDailyHours" minOccurs="0"/>
													<xs:element type="xs:string" name="shiftCode" minOccurs="0"/>
													<xs:element type="xs:string" name="company" minOccurs="0"/>
													<xs:element type="xs:string" name="district" minOccurs="0"/>
													<xs:element type="xs:string" name="payGrade" minOccurs="0"/>
													<xs:element type="xs:int" name="shiftIndicator" minOccurs="0"/>
													<xs:element name="wtaTemplateJobFields" minOccurs="0">
														<xs:complexType>
															<xs:sequence>
																<xs:element type="xs:string" name="isPunchingForBreaks" minOccurs="0"/>
																<xs:element type="xs:string" name="policyProfileMappingKey" minOccurs="0"/>
																<xs:element type="xs:string" name="isCasual" minOccurs="0"/>
																<xs:element type="xs:string" name="applicableMinimumWage" minOccurs="0"/>
																<xs:element type="xs:string" name="miniJobberMidiJobber" minOccurs="0"/>
																<xs:element type="xs:int" name="daysPerWeek" minOccurs="0"/>
																<xs:element type="xs:string" name="holidayCalendarMappingKey" minOccurs="0"/>
																<xs:element type="xs:string" name="isWeekendsOnly" minOccurs="0"/>
																<xs:element type="xs:int" name="daysPerWeekFuture" minOccurs="0"/>
																<xs:element type="xs:string" name="facilityIdentifier" minOccurs="0"/>
																<xs:element type="xs:int" name="daysPerMonth" minOccurs="0"/>
																<xs:element type="xs:string" name="branch" minOccurs="0"/>
																<xs:element type="xs:string" name="hourlyBaseRate" minOccurs="0"/>
																<xs:element type="xs:string" name="isRehire" minOccurs="0"/>
																<xs:element type="xs:string" name="nationalRegistryOfLegalEntitiesId" minOccurs="0"/>
																<xs:element type="xs:string" name="isQualifiedForVacationAccrual" minOccurs="0"/>
																<xs:element type="xs:string" name="salariedBaseRate" minOccurs="0"/>
																<xs:element type="xs:string" name="programOfSocialIntegrationId" minOccurs="0"/>
																<xs:element type="xs:string" name="isTaking30MinuteBreaks" minOccurs="0"/>
																<xs:element type="xs:date" name="daysPerWeekFutureEffDt" minOccurs="0"/>
																<xs:element type="xs:string" name="brazilEmployerId" minOccurs="0"/>
																<xs:element type="xs:string" name="isAlternativeSchedule" minOccurs="0"/>
																<xs:element type="xs:string" name="isUsingFlexiTime" minOccurs="0"/>
																<xs:element type="xs:string" name="skillCode" minOccurs="0"/>
																<xs:element type="xs:string" name="isExemptFromOTCap" minOccurs="0"/>
																<xs:element type="xs:string" name="isExcludedFromOtc" minOccurs="0"/>
																<xs:element type="xs:string" name="isShiftWorker" minOccurs="0"/>
																<xs:element type="xs:string" name="assignmentMonthlyContractHours" minOccurs="0"/>
																<xs:element type="xs:string" name="isWorkingIrregularSchedule" minOccurs="0"/>
																<xs:element type="xs:string" name="employerName" minOccurs="0"/>
																<xs:element type="xs:string" name="isQualifiedForSickLeaveAccrual" minOccurs="0"/>
															</xs:sequence>
														</xs:complexType>
													</xs:element>
													<xs:element type="xs:string" name="jobLevel" minOccurs="0"/>
													<xs:element type="xs:string" name="hrStatus" minOccurs="0"/>
													<xs:element name="payRates" minOccurs="0" maxOccurs="unbounded">
														<xs:complexType>
															<xs:sequence>
																<xs:element type="xs:string" name="rate" minOccurs="0"/>
																<xs:element type="xs:string" name="payGroup" minOccurs="0"/>
																<xs:element type="xs:string" name="frequency" minOccurs="0"/>
															</xs:sequence>
														</xs:complexType>
													</xs:element>
													<xs:element name="businessAddress" minOccurs="0">
														<xs:complexType>
															<xs:sequence>
																<xs:element type="xs:string" name="stateOrProvince" minOccurs="0"/>
																<xs:element type="xs:string" name="city" minOccurs="0"/>
																<xs:element type="xs:string" name="country" minOccurs="0"/>
																<xs:element type="xs:string" name="lineTwo" minOccurs="0"/>
																<xs:element type="xs:string" name="postalCode" minOccurs="0"/>
																<xs:element type="xs:string" name="lineThree" minOccurs="0"/>
																<xs:element type="xs:string" name="lineOne" minOccurs="0"/>
															</xs:sequence>
														</xs:complexType>
													</xs:element>
													<xs:element type="xs:string" name="payCurrency" minOccurs="0"/>
													<xs:element type="xs:string" name="policyProfile" minOccurs="0"/>
													<xs:element type="xs:string" name="department" minOccurs="0"/>
													<xs:element name="competencies" minOccurs="0">
														<xs:complexType>
															<xs:sequence>
																<xs:element type="xs:string" name="competencyExternalId" minOccurs="1"/>
																<xs:element type="xs:string" name="competencyType" minOccurs="1"/>
																<xs:element name="schedulingUnitRestrictions" minOccurs="0">
																	<xs:complexType>
																		<xs:sequence>
																			<xs:element type="xs:string" name="schedulingUnitExternalId" minOccurs="1"/>
																			<xs:element type="xs:string" name="isDefault" minOccurs="1"/>
																		</xs:sequence>
																	</xs:complexType>
																</xs:element>
															</xs:sequence>
														</xs:complexType>
													</xs:element>
													<xs:element type="xs:string" name="managersMatchValue" minOccurs="0"/>
													<xs:element type="xs:date" name="accrualStartDate" minOccurs="0"/>
													<xs:element type="xs:string" name="unionCode" minOccurs="0"/>
													<xs:element type="xs:string" name="scheduleTemplateId" minOccurs="0"/>
													<xs:element type="xs:string" name="employmentType" minOccurs="0"/>
													<xs:element name="wfandsJobFields" minOccurs="0">
														<xs:complexType>
															<xs:sequence>
																<xs:element type="xs:string" name="contractType" minOccurs="0"/>
															</xs:sequence>
														</xs:complexType>
													</xs:element>
													<xs:element type="xs:string" name="costCenter" minOccurs="0"/>
													<xs:element type="xs:string" name="ftePercent" minOccurs="0"/>
													<xs:element type="xs:date" name="latestStartDate" minOccurs="0"/>
													<xs:element type="xs:string" name="importedBadgeId" minOccurs="0"/>
													<xs:element type="xs:string" name="timeOffApproverMatchId" minOccurs="0"/>
													<xs:element type="xs:string" name="payrollId" minOccurs="0"/>
													<xs:element type="xs:string" name="flsaStatus" minOccurs="0"/>
													<xs:element type="xs:string" name="timeSheetApproverMatchId" minOccurs="0"/>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
										<xs:element type="xs:string" name="isFullJobHistory" minOccurs="0"/>
										<xs:element type="xs:date" name="originalStartDate" minOccurs="0"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element type="xs:date" name="originalHireDate" minOccurs="0"/>
							<xs:element type="xs:string" name="mobilePhoneNumber" minOccurs="0"/>
							<xs:element type="xs:string" name="phoneNumber" minOccurs="0"/>
							<xs:element type="xs:string" name="clockPin" minOccurs="0"/>
							<xs:element type="xs:string" name="isFullEmployeeHistory" minOccurs="0"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="user" minOccurs="0">
					<xs:complexType>
						<xs:sequence>
							<xs:element type="xs:string" name="loginId" minOccurs="1"/>
							<xs:element type="xs:string" name="enabled" minOccurs="1"/>
							<xs:element type="xs:string" name="allowUnlimitedNonBiometricLogins" minOccurs="0"/>
							<xs:element type="xs:string" name="localePolicy" minOccurs="0"/>
							<xs:element name="customFields" minOccurs="0">
								<xs:complexType>
									<xs:sequence minOccurs="0">
										<xs:element name="customField1" type="customField" minOccurs="0"/>
                    <xs:element name="customField2" type="customField" minOccurs="0"/>
										<xs:element name="customField3" type="customField" minOccurs="0"/>
                    <xs:element name="customField4" type="customField" minOccurs="0"/>
										<xs:element name="customField5" type="customField" minOccurs="0"/>
                    <xs:element name="customField6" type="customField" minOccurs="0"/>
										<xs:element name="customField7" type="customField" minOccurs="0"/>
                    <xs:element name="customField8" type="customField" minOccurs="0"/>
										<xs:element name="customField9" type="customField" minOccurs="0"/>
                    <xs:element name="customField10" type="customField" minOccurs="0"/>
										<xs:element name="customField11" type="customField" minOccurs="0"/>
                    <xs:element name="customField12" type="customField" minOccurs="0"/>
										<xs:element name="customField13" type="customField" minOccurs="0"/>
                    <xs:element name="customField14" type="customField" minOccurs="0"/>
										<xs:element name="customField15" type="customField" minOccurs="0"/>
                    <xs:element name="customField16" type="customField" minOccurs="0"/>
										<xs:element name="customField17" type="customField" minOccurs="0"/>
                    <xs:element name="customField18" type="customField" minOccurs="0"/>
										<xs:element name="customField19" type="customField" minOccurs="0"/>
                    <xs:element name="customField20" type="customField" minOccurs="0"/>
										<xs:element name="customField21" type="customField" minOccurs="0"/>
                    <xs:element name="customField22" type="customField" minOccurs="0"/>
										<xs:element name="customField23" type="customField" minOccurs="0"/>
                    <xs:element name="customField24" type="customField" minOccurs="0"/>
										<xs:element name="customField25" type="customField" minOccurs="0"/>
                    <xs:element name="customField26" type="customField" minOccurs="0"/>
										<xs:element name="customField27" type="customField" minOccurs="0"/>
                    <xs:element name="customField28" type="customField" minOccurs="0"/>
										<xs:element name="customField29" type="customField" minOccurs="0"/>
                    <xs:element name="customField30" type="customField" minOccurs="0"/>
										<xs:element name="customField31" type="customField" minOccurs="0"/>
                    <xs:element name="customField32" type="customField" minOccurs="0"/>
										<xs:element name="customField33" type="customField" minOccurs="0"/>
                    <xs:element name="customField34" type="customField" minOccurs="0"/>
										<xs:element name="customField35" type="customField" minOccurs="0"/>
                    <xs:element name="customField36" type="customField" minOccurs="0"/>
										<xs:element name="customField37" type="customField" minOccurs="0"/>
                    <xs:element name="customField38" type="customField" minOccurs="0"/>
										<xs:element name="customField39" type="customField" minOccurs="0"/>
                    <xs:element name="customField40" type="customField" minOccurs="0"/>
										<xs:element name="customField41" type="customField" minOccurs="0"/>
                    <xs:element name="customField42" type="customField" minOccurs="0"/>
										<xs:element name="customField43" type="customField" minOccurs="0"/>
                    <xs:element name="customField44" type="customField" minOccurs="0"/>
										<xs:element name="customField45" type="customField" minOccurs="0"/>
                    <xs:element name="customField46" type="customField" minOccurs="0"/>
										<xs:element name="customField47" type="customField" minOccurs="0"/>
                    <xs:element name="customField48" type="customField" minOccurs="0"/>
										<xs:element name="customField49" type="customField" minOccurs="0"/>
                    <xs:element name="customField50" type="customField" minOccurs="0"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element type="xs:string" name="managedSchedulingUnits" minOccurs="0"/>
							<xs:element type="xs:string" name="ssoMatchId" minOccurs="0"/>
							<xs:element name="wfandsUserFields" minOccurs="0">
								<xs:complexType>
									<xs:sequence>
										<xs:element type="xs:string" name="accessLevel" minOccurs="0"/>
										<xs:element type="xs:string" name="role" minOccurs="0"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element type="xs:string" name="businessObjectsId" minOccurs="0"/>
							<xs:element type="xs:string" name="timezone" minOccurs="0"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element type="xs:date" name="birthDate" minOccurs="0"/>
				<xs:element name="name" minOccurs="0">
					<xs:complexType>
						<xs:sequence>
							<xs:element type="xs:string" name="displayName" minOccurs="1"/>
							<xs:element type="xs:string" name="suffix" minOccurs="0"/>
							<xs:element type="xs:string" name="legalName" minOccurs="0"/>
							<xs:element type="xs:string" name="lastName" minOccurs="0"/>
							<xs:element type="xs:string" name="prefix" minOccurs="0"/>
							<xs:element type="xs:string" name="firstName" minOccurs="0"/>
							<xs:element type="xs:string" name="middleNames" minOccurs="0"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element type="xs:string" name="emailAddress" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
  <xs:complexType name="customField">
    <xs:sequence>
      <xs:element name="key" type="xs:string" minOccurs="1"/>
      <xs:element name="value" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>