Resources/schemas/Xsd/SAP_Document_and_Reporting_Compliance-_Electronic_Invoice_for_Egypt - searchDocsResp.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	targetNamespace="http://www.sap.com/eDocument/Egypt/eInvoice/v1.0"
	xmlns:tns="http://www.sap.com/eDocument/Egypt/eInvoice/v1.0"
	elementFormDefault="qualified"
	xmlns:Q1="http://www.sap.com/eDocument/Egypt/eInvoice/v1.0">
	<xsd:element name="searchDocumentResp"
		type="tns:searchDocsRespType">
	</xsd:element>
	<xsd:complexType name="errorType3">
		<xsd:sequence>
			<xsd:element name="statusCode" type="xsd:string"
				maxOccurs="1" minOccurs="0">
			</xsd:element>
			<xsd:element name="errorMessage" type="xsd:string"
				maxOccurs="1" minOccurs="0">
			</xsd:element>
			<xsd:element name="encodedZipResponse" type="xsd:base64Binary" maxOccurs="1" minOccurs="0"></xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="searchDocsRespType">
		<xsd:sequence>
			<xsd:element name="results"
				type="tns:searchDocResultsType" maxOccurs="1" minOccurs="0">
			</xsd:element>
			<xsd:element name="metadata" type="tns:metadataType"
				maxOccurs="1" minOccurs="0">
			</xsd:element>
			<xsd:element name="error" type="tns:errorType3"
				maxOccurs="1" minOccurs="0"></xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="searchDocResultsType">
		<xsd:sequence>
			<xsd:element name="result" type="tns:searchDocResultType"
				maxOccurs="unbounded" minOccurs="0">
			</xsd:element>

		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="metadataType">
		<xsd:sequence>
			<xsd:element name="continuationToken" type="xsd:string"
				maxOccurs="1" minOccurs="0"></xsd:element>
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="searchDocResultType">
		<xsd:sequence>
			<xsd:element name="uuid" type="xsd:string" maxOccurs="1"
				minOccurs="0">
			</xsd:element>
			<xsd:element name="submissionUUID" type="xsd:string"
				maxOccurs="1" minOccurs="0">
			</xsd:element>
			<xsd:element name="longId" type="xsd:string" maxOccurs="1"
				minOccurs="0">
			</xsd:element>
			<xsd:element name="publicUrl" type="xsd:string"
				maxOccurs="1" minOccurs="0">
			</xsd:element>
			<xsd:element name="internalId" type="xsd:string"
				maxOccurs="1" minOccurs="0">
			</xsd:element>
			<xsd:element name="typeName" type="xsd:string" maxOccurs="1"
				minOccurs="0">
			</xsd:element>
			<xsd:element name="documentTypeNamePrimaryLang"
				type="xsd:string" maxOccurs="1" minOccurs="0">
			</xsd:element>
			<xsd:element name="documentTypeNameSecondaryLang" type="xsd:string" maxOccurs="1" minOccurs="0"></xsd:element>
			<xsd:element name="typeVersionName" type="xsd:string"
				maxOccurs="1" minOccurs="0">
			</xsd:element>
			<xsd:element name="issuerId" type="xsd:string" maxOccurs="1"
				minOccurs="0">
			</xsd:element>
			<xsd:element name="issuerName" type="xsd:string"
				maxOccurs="1" minOccurs="0">
			</xsd:element>
			<xsd:element name="issuerType" type="xsd:string"
				maxOccurs="1" minOccurs="0">
			</xsd:element>
			<xsd:element name="receiverId" type="xsd:string"
				maxOccurs="1" minOccurs="0">
			</xsd:element>
			<xsd:element name="receiverName" type="xsd:string"
				maxOccurs="1" minOccurs="0">
			</xsd:element>
			<xsd:element name="receiverType" type="xsd:string"
				maxOccurs="1" minOccurs="0">
			</xsd:element>
			<xsd:element name="dateTimeIssued" type="xsd:dateTime"
				maxOccurs="1" minOccurs="0">
			</xsd:element>
			<xsd:element name="dateTimeReceived" type="xsd:dateTime"
				maxOccurs="1" minOccurs="0">
			</xsd:element>
			<xsd:element name="totalSales" type="xsd:decimal"
				maxOccurs="1" minOccurs="0">
			</xsd:element>
			<xsd:element name="totalDiscount" type="xsd:decimal"
				maxOccurs="1" minOccurs="0">
			</xsd:element>
			<xsd:element name="netAmount" type="xsd:decimal"
				maxOccurs="1" minOccurs="0">
			</xsd:element>
			<xsd:element name="total" type="xsd:decimal" maxOccurs="1"
				minOccurs="0">
			</xsd:element>
			<xsd:element name="status" type="xsd:string" maxOccurs="1"
				minOccurs="0">
			</xsd:element>
			<xsd:element name="cancelRequestDate" type="xsd:dateTime"
				maxOccurs="1" minOccurs="0">
			</xsd:element>
			<xsd:element name="rejectRequestDate" type="xsd:dateTime"
				maxOccurs="1" minOccurs="0">
			</xsd:element>
			<xsd:element name="cancelRequestDelayedDate"
				type="xsd:dateTime" maxOccurs="1" minOccurs="0">
			</xsd:element>
			<xsd:element name="rejectRequestDelayedDate"
				type="xsd:dateTime" maxOccurs="1" minOccurs="0">
			</xsd:element>
			<xsd:element name="declineCancelRequestDate"
				type="xsd:dateTime" maxOccurs="1" minOccurs="0">
			</xsd:element>
			<xsd:element name="declineRejectRequestDate"
				type="xsd:dateTime" maxOccurs="1" minOccurs="0">
			</xsd:element>
			<xsd:element name="documentStatusReason" type="xsd:string"
				maxOccurs="1" minOccurs="0">
			</xsd:element>
			<xsd:element name="createdByUserId" type="xsd:string"
				maxOccurs="1" minOccurs="0">
			</xsd:element>
			<xsd:element name="freezeStatus" type="tns:freezeStatusType"
				maxOccurs="1" minOccurs="0">
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="freezeStatusType">
		<xsd:sequence>
			<xsd:element name="frozen" type="xsd:boolean"
				maxOccurs="1" minOccurs="0">
			</xsd:element>
			<xsd:element name="type" type="xsd:int" maxOccurs="1"
				minOccurs="0"></xsd:element>
			<xsd:element name="actionDate" type="xsd:dateTime"
				maxOccurs="1" minOccurs="0">
			</xsd:element>
			<xsd:element name="auCode" type="xsd:string"
				maxOccurs="1" minOccurs="0"></xsd:element>
			<xsd:element name="auName" type="xsd:string"
				maxOccurs="1" minOccurs="0"></xsd:element>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>