Resources/schemas/Xsd/SAP_Revenue_Growth_Management_Integration_with_SAP_S-4HANA - discount-schema-1.xsd

<xs:schema xmlns:s1="urn:sap-com:document:sap:rfc:functions" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:sap-com:document:sap:rfc:functions">
  <xs:element name="BAPI_CONDITION_CONTRACT_SYNC">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="HEADDATAIN">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="CONTRACT_TYPE" minOccurs="0"/>
              <xs:element type="xs:long" name="CUSTOMER_OWNER" minOccurs="0"/>
              <xs:element type="xs:string" name="SALESORG" minOccurs="0"/>
              <xs:element type="xs:string" name="DISTR_CHAN" minOccurs="0"/>
              <xs:element type="xs:string" name="DIVISION" minOccurs="0"/>
              <xs:element type="xs:string" name="DEACTIVATED" minOccurs="0"/>
              <xs:element type="xs:date" name="VALIDITY_DATE_FROM" minOccurs="0"/>
              <xs:element type="xs:date" name="VALIDITY_DATE_TO" minOccurs="0"/>
              <xs:element type="xs:string" name="COND_CONTRACT_CURRENCY" minOccurs="0"/>
              <xs:element type="xs:string" name="COND_CONTRACT_CURRENCY_ISO" minOccurs="0"/>
              <xs:element type="xs:string" name="EXTENSION_CALENDAR" minOccurs="0"/>
              <xs:element type="xs:byte" name="CONDITION_CONTRACT_EXTERNALCAT" minOccurs="0"/>
              <xs:element type="xs:string" name="CONDITION_CONTRACT_EXTERNALREF" minOccurs="0"/>
              <xs:element type="xs:string" name="AF_GROUP" minOccurs="0"/>
              <xs:element type="xs:byte" name="CONDITION_CONTRACT_EXTREFITEM" minOccurs="0"/>
              <xs:element type="xs:string" name="EXTERNAL_GUID" minOccurs="0"/>
              <xs:element type="xs:string" name="PROCESS_VARIANT" minOccurs="0"/>
               <xs:element type="xs:string" name="SETTLEMENT_VARIANT" minOccurs="0"/>
              <xs:element type="xs:string" name="ACTION" minOccurs="0"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="HEADDATAINSET">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="CONTRACT_TYPE"/>
              <xs:element type="xs:string" name="CUSTOMER_OWNER"/>
              <xs:element type="xs:string" name="SALESORG"/>
              <xs:element type="xs:string" name="DISTR_CHAN"/>
              <xs:element type="xs:string" name="DIVISION"/>
              <xs:element type="xs:string" name="DEACTIVATED"/>
              <xs:element type="xs:string" name="VALIDITY_DATE_FROM"/>
              <xs:element type="xs:string" name="VALIDITY_DATE_TO"/>
              <xs:element type="xs:string" name="COND_CONTRACT_CURRENCY"/>
              <xs:element type="xs:string" name="COND_CONTRACT_CURRENCY_ISO"/>
              <xs:element type="xs:string" name="EXTENSION_CALENDAR"/>
              <xs:element type="xs:string" name="CONDITION_CONTRACT_EXTERNALCAT"/>
              <xs:element type="xs:string" name="CONDITION_CONTRACT_EXTERNALREF"/>
              <xs:element type="xs:string" name="AF_GROUP"/>
              <xs:element type="xs:string" name="CONDITION_CONTRACT_EXTREFITEM"/>
              <xs:element type="xs:string" name="PROCESS_VARIANT"/>
               <xs:element type="xs:string" name="SETTLEMENT_VARIANT"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="CONDITIONITEMDATAINSET">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="CALC_TYPE" minOccurs="0"/>
              <xs:element type="xs:string" name="AMOUNT" minOccurs="0"/>
              <xs:element type="xs:string" name="CONDCURR" minOccurs="0"/>
              <xs:element type="xs:string" name="CONDCURR_ISO" minOccurs="0"/>
              <xs:element type="xs:string" name="COND_P_UNT" minOccurs="0"/>
              <xs:element type="xs:string" name="COND_UNIT_ISO" minOccurs="0"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="BVBDATAIN">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="item" maxOccurs="unbounded" minOccurs="0">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:byte" name="ORDER_KEY" minOccurs="0"/>
                    <xs:element type="xs:byte" name="FIELDCOMBINATION" minOccurs="0"/>
                    <xs:element type="xs:string" name="INCLUDE_EXCLUDE" minOccurs="0"/>
                    <xs:element type="xs:string" name="PROD_HIER_NEW" minOccurs="0"/>
                    <xs:element type="xs:string" name="SALESORG_NEW" minOccurs="0"/>
                    <xs:element type="xs:long" name="CUST_HIER_NEW" minOccurs="0"/>
                    <xs:element type="xs:string" name="EXTERNAL_GUID" minOccurs="0"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="CONDITIONKEYDATAIN">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="item" maxOccurs="unbounded" minOccurs="0">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:byte" name="ORDER_KEY" minOccurs="0"/>
                    <xs:element type="xs:short" name="TABLE_NO" minOccurs="0"/>
                    <xs:element type="xs:string" name="COND_TYPE" minOccurs="0"/>
                    <xs:element type="xs:date" name="VALID_FROM" minOccurs="0"/>
                    <xs:element type="xs:date" name="VALID_TO" minOccurs="0"/>
                    <xs:element type="xs:string" name="PROD_HIER1" minOccurs="0"/>
                    <xs:element type="xs:string" name="PROD_HIER2" minOccurs="0"/>
                    <xs:element type="xs:string" name="PROD_HIER3" minOccurs="0"/>
                    <xs:element type="xs:string" name="EXTERNAL_GUID" minOccurs="0"/>
                    <xs:element name="item">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element type="xs:byte" name="ORDER_KEY" minOccurs="0"/>
                          <xs:element type="xs:byte" name="COND_COUNT" minOccurs="0"/>
                          <xs:element type="xs:string" name="CALC_TYPE" minOccurs="0"/>
                          <xs:element type="xs:float" name="AMOUNT" minOccurs="0"/>
                          <xs:element type="xs:string" name="CONDCURR" minOccurs="0"/>
                          <xs:element type="xs:string" name="CONDCURR_ISO" minOccurs="0"/>
                          <xs:element type="xs:byte" name="COND_P_UNT" minOccurs="0"/>
                          <xs:element type="xs:string" name="COND_UNIT_ISO" minOccurs="0"/>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="CONDITIONITEMDATAIN" minOccurs="0">
        </xs:element>
        <xs:element name="CALENDARDATAIN">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="item" minOccurs="0">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:byte" name="ORDER_KEY" minOccurs="0"/>
                    <xs:element type="xs:date" name="SETTLEMENT_DATE" minOccurs="0"/>
                    <xs:element type="xs:string" name="EXTERNAL_GUID" minOccurs="0"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>