Resources/schemas/Xsd/SAP_Customer_Engagement_Center_Integration_with_MindTouch - SearchData_MindTouch.xsd

<?xml version="1.0" encoding="UTF-8"?>
   <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
         <xs:element name="search">
               <xs:complexType>
                     <xs:sequence>
                           <xs:element name="parsedQuery" type="xs:string"></xs:element>
                           <xs:element name="result" minOccurs="0" maxOccurs="unbounded">
                                 <xs:complexType>
                                       <xs:sequence>
                                             <xs:element name="id" type="xs:int"></xs:element>
                                             <xs:element name="uri" type="xs:string"></xs:element>
                                             <xs:element name="uri.track" type="xs:string"></xs:element>
                                             <xs:element name="rank" type="xs:int"></xs:element>
                                             <xs:element name="title" type="xs:string"></xs:element>
                                             <xs:element name="page">
                                                   <xs:complexType>
                                                         <xs:sequence>
                                                               <xs:element name="rating"></xs:element>
                                                               <xs:element name="title" type="xs:string"></xs:element>
                                                               <xs:element name="path" type="xs:string"></xs:element>
                                                               <xs:element name="uri.ui" type="xs:string"></xs:element>
                                                         </xs:sequence>
                                                   </xs:complexType>
                                             </xs:element>
                                             <xs:element name="author" type="xs:string"></xs:element>
                                             <xs:element name="preview" type="xs:string"></xs:element>
                                             <xs:element name="date.modified" type="xs:dateTime"></xs:element>
                                             <xs:element name="content" type="xs:string"></xs:element>
                                             <xs:element name="type" type="xs:string"></xs:element>
                                             <xs:element name="mime" type="xs:string"></xs:element>
                                             <xs:element name="tag" type="xs:string"></xs:element>
                                       </xs:sequence>
                                 </xs:complexType>
                           </xs:element>
                     </xs:sequence>
                     <xs:attribute name="ranking" type="xs:string"></xs:attribute>
                     <xs:attribute name="queryid" type="xs:int"></xs:attribute>
                     <xs:attribute name="sessionid" type="xs:string"></xs:attribute>
                     <xs:attribute name="querycount" type="xs:int"></xs:attribute>
                     <xs:attribute name="count.recommendations" type="xs:int"></xs:attribute>
                     <xs:attribute name="count" type="xs:int"></xs:attribute>
               </xs:complexType>
         </xs:element>
   </xs:schema>
