Resources/schemas/Xsd/SAP_Emarsys_Integration_with_SAP_Emarsys_APIs - Contact_SampleRequest.xsd



<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="root">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="contacts">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="contact" maxOccurs="unbounded" minOccurs="0">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:string" name="Title"/>
                    <xs:element type="xs:string" name="salutation"/>
                    <xs:element type="xs:string" name="first_name"/>
                    <xs:element type="xs:string" name="last_name"/>
                    <xs:element type="xs:string" name="email"/>
                    <xs:element type="xs:string" name="preferred_email_format"/>
                    <xs:element type="xs:string" name="address"/>
                    <xs:element type="xs:string" name="zip_code"/>
                    <xs:element type="xs:string" name="city"/>
                    <xs:element type="xs:string" name="state"/>
                    <xs:element type="xs:string" name="country"/>
                    <xs:element type="xs:string" name="phone"/>
                    <xs:element type="xs:string" name="mobile"/>
                    <xs:element type="xs:string" name="fax"/>
                    <xs:element type="xs:string" name="gender"/>
                    <xs:element type="xs:string" name="birth_date"/>
                    <xs:element type="xs:string" name="optin"/>
                    <xs:element type="xs:string" name="registration_language"/>
                    <xs:element type="xs:string" name="newsletter"/>
                    <xs:element type="xs:string" name="email_valid"/>
                    <xs:element type="xs:string" name="registration_date"/>
                    <xs:element type="xs:string" name="sourcesystemname"/>
                    <xs:element type="xs:string" name="sap_id"/>
                    <xs:element type="xs:string" name="customer_id"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>

