Resources/schemas/Xsd/SAP_Fieldglass_Integration_with_SAP_SuccessFactors_Employee_Central (1) - PerPersonEntityUPSERT0.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?><xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema"><xs:element name="PerPerson"><xs:complexType><xs:sequence><xs:element minOccurs="1" maxOccurs="unbounded" name="PerPerson"><xs:complexType><xs:sequence><xs:element nillable="true" minOccurs="0" maxOccurs="unbounded" name="userId"><xs:simpleType><xs:restriction base="xs:string" xmlns=""><xs:maxLength value="100"/></xs:restriction></xs:simpleType></xs:element><xs:element nillable="true" minOccurs="0" maxOccurs="unbounded" name="regionOfBirth"><xs:simpleType><xs:restriction base="xs:string" xmlns=""><xs:maxLength value="100"/></xs:restriction></xs:simpleType></xs:element><xs:element nillable="true" minOccurs="0" maxOccurs="unbounded" name="placeOfBirth"><xs:simpleType><xs:restriction base="xs:string" xmlns=""><xs:maxLength value="100"/></xs:restriction></xs:simpleType></xs:element><xs:element nillable="false" maxOccurs="unbounded" name="personIdExternal"><xs:simpleType><xs:restriction base="xs:string" xmlns=""><xs:maxLength value="32"/></xs:restriction></xs:simpleType></xs:element><xs:element type="xs:dateTime" nillable="true" minOccurs="0" maxOccurs="unbounded" name="dateOfDeath" xmlns=""/><xs:element type="xs:dateTime" nillable="true" minOccurs="0" maxOccurs="unbounded" name="dateOfBirth" xmlns=""/><xs:element nillable="true" minOccurs="0" maxOccurs="unbounded" name="countryOfBirth"><xs:simpleType><xs:restriction base="xs:string" xmlns=""><xs:maxLength value="100"/></xs:restriction></xs:simpleType></xs:element><xs:element nillable="true" minOccurs="0" maxOccurs="unbounded" name="birthName"><xs:simpleType><xs:restriction base="xs:string" xmlns=""><xs:maxLength value="128"/></xs:restriction></xs:simpleType></xs:element></xs:sequence></xs:complexType></xs:element></xs:sequence></xs:complexType></xs:element></xs:schema>