Resources/schemas/Xsd/SAP_Build_Process_Automation_Integration_with_SAP_S-4HANA_for_Non_Operated_Joint_Venture_Cash_Call_Approval - outputBody - Invoice.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="d">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="status" minOccurs="0" maxOccurs="1" type="xs:string"/>
				<xs:element name="message" minOccurs="0" maxOccurs="1" type="xs:string"/>
							<xs:element  minOccurs="0" maxOccurs="unbounded" name="documents">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="companyCode" minOccurs="0" maxOccurs="1" type="xs:string"/>
										<xs:element name="jointVenture" minOccurs="0" maxOccurs="1" type="xs:string"/>
										<xs:element name="equityGroup" minOccurs="0" maxOccurs="1" type="xs:string"/>
										<xs:element name="year" minOccurs="0" maxOccurs="1" type="xs:string"/>
										<xs:element name="document" minOccurs="0" maxOccurs="1" type="xs:string"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
