Resources/schemas/Xsd/SAP_Business_ByDesign_to_SAP_Concur_Integration - EEConcurAllFields.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://www.concursolutions.com/api/user/2011/02" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="batch">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="UserProfile" minOccurs="0" maxOccurs="unbounded">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="EmpId" type="xs:string"/>
              <xs:element name="FeedRecordNumber" type="xs:string"/>
              <xs:element name="LoginId" type="xs:string"/>
              <xs:element name="LocaleName" type="xs:string" minOccurs="0"/>
              <xs:element name="Active" type="xs:string" minOccurs="0"/>
              <xs:element name="Password" type="xs:string" minOccurs="0"/>
              <xs:element name="FirstName" type="xs:string" minOccurs="0"/>
              <xs:element name="LastName" type="xs:string" minOccurs="0"/>
              <xs:element name="Mi" type="xs:string" minOccurs="0"/>
              <xs:element name="EmailAddress" type="xs:string" minOccurs="0"/>
              <xs:element name="LedgerKey" type="xs:string" minOccurs="0"/>
              <xs:element name="OrgUnit1" type="xs:string" minOccurs="0"/>
              <xs:element name="OrgUnit2" type="xs:string" minOccurs="0"/>
              <xs:element name="OrgUnit3" type="xs:string" minOccurs="0"/>
              <xs:element name="OrgUnit4" type="xs:string" minOccurs="0"/>
              <xs:element name="OrgUnit5" type="xs:string" minOccurs="0"/>
              <xs:element name="OrgUnit6" type="xs:string" minOccurs="0"/>
              <xs:element name="Custom1" type="xs:string" minOccurs="0"/>
              <xs:element name="Custom2" type="xs:string" minOccurs="0"/>
              <xs:element name="Custom3" type="xs:string" minOccurs="0"/>
              <xs:element name="Custom4" type="xs:string" minOccurs="0"/>
              <xs:element name="Custom5" type="xs:string" minOccurs="0"/>
              <xs:element name="Custom6" type="xs:string" minOccurs="0"/>
              <xs:element name="Custom7" type="xs:string" minOccurs="0"/>
              <xs:element name="Custom8" type="xs:string" minOccurs="0"/>
              <xs:element name="Custom9" type="xs:string" minOccurs="0"/>
              <xs:element name="Custom10" type="xs:string" minOccurs="0"/>
              <xs:element name="Custom11" type="xs:string" minOccurs="0"/>
              <xs:element name="Custom12" type="xs:string" minOccurs="0"/>
              <xs:element name="Custom13" type="xs:string" minOccurs="0"/>
              <xs:element name="Custom14" type="xs:string" minOccurs="0"/>
              <xs:element name="Custom15" type="xs:string" minOccurs="0"/>
              <xs:element name="Custom16" type="xs:string" minOccurs="0"/>
              <xs:element name="Custom17" type="xs:string" minOccurs="0"/>
              <xs:element name="Custom18" type="xs:string" minOccurs="0"/>
              <xs:element name="Custom19" type="xs:string" minOccurs="0"/>
              <xs:element name="Custom20" type="xs:string" minOccurs="0"/>
              <xs:element name="Custom21" type="xs:string" minOccurs="0"/>
			  <xs:element name="CtryCode" type="xs:string" minOccurs="0"/>
			  <xs:element name="CashAdvanceAccountCode" type="xs:string" minOccurs="0"/>
              <xs:element name="CrnKey" type="xs:string" minOccurs="0"/>
              <xs:element name="CtrySubCode" type="xs:string" minOccurs="0"/>
              <xs:element name="ExpenseUser" type="xs:string" minOccurs="0"/>
              <xs:element name="ExpenseApprover" type="xs:string" minOccurs="0"/>
              <xs:element name="TripUser" type="xs:string"/>
			  <xs:element name="InvoiceUser" type="xs:string" minOccurs="0"/>
			  <xs:element name="InvoiceApprover" type="xs:string" minOccurs="0"/>
              <xs:element name="ExpenseApproverEmployeeID" type="xs:string" minOccurs="0"/>
			  <xs:element name="NewLoginID" type="xs:string" minOccurs="0"/>
			  <xs:element name="NewEmployeeID" type="xs:string" minOccurs="0"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>