Resources/schemas/Xsd/SAP_Business_ByDesign_Master_Data_to_SAP_S-4HANA_Cloud_Public_Edition - S4xsd_Updated.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Material">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="BasicData" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="PRODUCT"/>
              <xs:element type="xs:string" name="RUN_ID"/>
              <xs:element type="xs:string" name="MATKL"/>
              <xs:element type="xs:string" name="SPART"/>
              <xs:element type="xs:string" name="XCHPF"/>
              <xs:element type="xs:string" name="MTPOS_MARA"/>
              <xs:element type="xs:string" name="MSTAE"/>
              <xs:element type="xs:string" name="MSTDE"/>
              <xs:element type="xs:string" name="SERLV"/>
              <xs:element type="xs:string" name="QMPUR"/>
              <xs:element type="xs:string" name="KUNNR"/>
              <xs:element type="xs:string" name="BSTME"/>
              <xs:element type="xs:string" name="EKWSL"/>
              <xs:element type="xs:string" name="VABME"/>
              <xs:element type="xs:string" name="TRAGR"/>
              <xs:element type="xs:string" name="MSTAV"/>
              <xs:element type="xs:string" name="MSTDV"/>
              <xs:element type="xs:string" name="SOM_CYCLE"/>
              <xs:element type="xs:string" name="SOM_CYCLE_RULE"/>
              <xs:element type="xs:string" name="SOM_TC_SCHEMA"/>
              <xs:element type="xs:string" name="IPRKZ"/>
              <xs:element type="xs:string" name="RAUBE"/>
              <xs:element type="xs:string" name="ETIAR"/>
              <xs:element type="xs:string" name="ETIFO"/>
              <xs:element type="xs:string" name="WESCH"/>
              <xs:element type="xs:string" name="MHDHB"/>
              <xs:element type="xs:string" name="MHDRZ"/>
              <xs:element type="xs:string" name="SLED_BBD"/>
              <xs:element type="xs:string" name="MHDLP"/>
              <xs:element type="xs:string" name="RDMHD"/>
              <xs:element type="xs:string" name="HUTYP"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="AdditionalDescriptions" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="PRODUCT"/>
              <xs:element type="xs:string" name="RUN_ID"/>
              <xs:element type="xs:string" name="SPRAS"/>
              <xs:element type="xs:string" name="MAKTX"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="AlternativeUnitsofMeasure" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="PRODUCT"/>
              <xs:element type="xs:string" name="RUN_ID"/>
              <xs:element type="xs:string" name="MEINH"/>
              <xs:element type="xs:string" name="UMREN"/>
              <xs:element type="xs:string" name="UMREZ"/>
              <xs:element type="xs:string" name="EAN11"/>
              <xs:element type="xs:string" name="NUMTP"/>
              <xs:element type="xs:string" name="LAENG"/>
              <xs:element type="xs:string" name="BREIT"/>
              <xs:element type="xs:string" name="HOEHE"/>
              <xs:element type="xs:string" name="MEABM"/>
              <xs:element type="xs:string" name="BRGEW"/>
              <xs:element type="xs:string" name="GEWEI"/>
              <xs:element type="xs:string" name="VOLUM"/>
              <xs:element type="xs:string" name="VOLEH"/>
              <xs:element type="xs:string" name="CAPAUSE"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="AdditionalGTINs" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="PRODUCT"/>
              <xs:element type="xs:string" name="RUN_ID"/>
              <xs:element type="xs:string" name="MEINH"/>
              <xs:element type="xs:string" name="EAN11"/>
              <xs:element type="xs:string" name="EANTP"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="DistributionChains" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="PRODUCT"/>
              <xs:element type="xs:string" name="RUN_ID"/>
              <xs:element type="xs:string" name="VKORG"/>
              <xs:element type="xs:string" name="VTWEG"/>
              <xs:element type="xs:string" name="VRKME"/>
              <xs:element type="xs:string" name="DWERK"/>
              <xs:element type="xs:string" name="VMSTA"/>
              <xs:element type="xs:string" name="VMSTD"/>
              <xs:element type="xs:string" name="SKTOF"/>
              <xs:element type="xs:string" name="LFMNG"/>
              <xs:element type="xs:string" name="AUMNG"/>
              <xs:element type="xs:string" name="SCMNG"/>
              <xs:element type="xs:string" name="SCHME"/>
              <xs:element type="xs:string" name="CTR_TERM_DEF"/>
              <xs:element type="xs:string" name="CTR_TERM_ALT1"/>
              <xs:element type="xs:string" name="CTR_TERM_ALT2"/>
              <xs:element type="xs:string" name="CTR_TERM_UNIT"/>
              <xs:element type="xs:string" name="EXT_PERIOD_DEF"/>
              <xs:element type="xs:string" name="EXT_PERIOD_ALT1"/>
              <xs:element type="xs:string" name="EXT_PERIOD_ALT2"/>
              <xs:element type="xs:string" name="EXT_PERIOD_UNIT"/>
              <xs:element type="xs:string" name="RDPRF"/>
              <xs:element type="xs:string" name="KONDM"/>
              <xs:element type="xs:string" name="BONUS"/>
              <xs:element type="xs:string" name="MTPOS"/>
              <xs:element type="xs:string" name="KTGRM"/>
              <xs:element type="xs:string" name="PROVG"/>
              <xs:element type="xs:string" name="PMATN"/>
              <xs:element type="xs:string" name="VERSG"/>
              <xs:element type="xs:string" name="MVGR1"/>
              <xs:element type="xs:string" name="MVGR2"/>
              <xs:element type="xs:string" name="MVGR3"/>
              <xs:element type="xs:string" name="MVGR4"/>
              <xs:element type="xs:string" name="MVGR5"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="TaxClassification" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="PRODUCT"/>
              <xs:element type="xs:string" name="RUN_ID"/>
              <xs:element type="xs:string" name="ALAND"/>
              <xs:element type="xs:string" name="TATYP1"/>
              <xs:element type="xs:string" name="TAXM1"/>
              <xs:element type="xs:string" name="TATYP2"/>
              <xs:element type="xs:string" name="TAXM2"/>
              <xs:element type="xs:string" name="TATYP3"/>
              <xs:element type="xs:string" name="TAXM3"/>
              <xs:element type="xs:string" name="TATYP4"/>
              <xs:element type="xs:string" name="TAXM4"/>
              <xs:element type="xs:string" name="TATYP5"/>
              <xs:element type="xs:string" name="TAXM5"/>
              <xs:element type="xs:string" name="TATYP6"/>
              <xs:element type="xs:string" name="TAXM6"/>
              <xs:element type="xs:string" name="TATYP7"/>
              <xs:element type="xs:string" name="TAXM7"/>
              <xs:element type="xs:string" name="TATYP8"/>
              <xs:element type="xs:string" name="TAXM8"/>
              <xs:element type="xs:string" name="TATYP9"/>
              <xs:element type="xs:string" name="TAXM9"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="PlantData" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="PRODUCT"/>
              <xs:element type="xs:string" name="RUN_ID"/>
              <xs:element type="xs:string" name="WERKS"/>
              <xs:element type="xs:string" name="DISMM"/>
              <xs:element type="xs:string" name="DISPO"/>
              <xs:element type="xs:string" name="MTVFP"/>
              <xs:element type="xs:string" name="MMSTA"/>
              <xs:element type="xs:string" name="MMSTD"/>
              <xs:element type="xs:string" name="PRCTR"/>
              <xs:element type="xs:string" name="AUSME"/>
              <xs:element type="xs:string" name="XCHPF"/>
              <xs:element type="xs:string" name="SERNP"/>
              <xs:element type="xs:string" name="XMCNG"/>
              <xs:element type="xs:string" name="EPRIO"/>
              <xs:element type="xs:string" name="LADGR"/>
              <xs:element type="xs:string" name="KZKUP"/>
              <xs:element type="xs:string" name="KZECH"/>
              <xs:element type="xs:string" name="KZKRI"/>
              <xs:element type="xs:string" name="KZDKZ"/>
              <xs:element type="xs:string" name="PRFRQ"/>
              <xs:element type="xs:string" name="SSQSS"/>
              <xs:element type="xs:string" name="QZGTP"/>
              <xs:element type="xs:string" name="HERKL"/>
              <xs:element type="xs:string" name="HERKR"/>
              <xs:element type="xs:string" name="STEUC"/>
              <xs:element type="xs:string" name="INDUS"/>
              <xs:element type="xs:string" name="EKGRP"/>
              <xs:element type="xs:string" name="INSMK"/>
              <xs:element type="xs:string" name="KORDB"/>
              <xs:element type="xs:string" name="KAUTB"/>
              <xs:element type="xs:string" name="TAXIM"/>
              <xs:element type="xs:string" name="MAABC"/>
              <xs:element type="xs:string" name="DISGR"/>
              <xs:element type="xs:string" name="STRGR"/>
              <xs:element type="xs:string" name="MINBE"/>
              <xs:element type="xs:string" name="FXHOR"/>
              <xs:element type="xs:string" name="LFRHY"/>
              <xs:element type="xs:string" name="VRMOD"/>
              <xs:element type="xs:string" name="VINT1"/>
              <xs:element type="xs:string" name="VINT2"/>
              <xs:element type="xs:string" name="MISKZ"/>
              <xs:element type="xs:string" name="PRGRP"/>
              <xs:element type="xs:string" name="PRWRK"/>
              <xs:element type="xs:string" name="UMREF"/>
              <xs:element type="xs:string" name="DISLS"/>
              <xs:element type="xs:string" name="BSTMI"/>
              <xs:element type="xs:string" name="BSTMA"/>
              <xs:element type="xs:string" name="BSTFE"/>
              <xs:element type="xs:string" name="LAGPR"/>
              <xs:element type="xs:string" name="LOSFX"/>
              <xs:element type="xs:string" name="WAERS"/>
              <xs:element type="xs:string" name="AUSSS"/>
              <xs:element type="xs:string" name="MABST"/>
              <xs:element type="xs:string" name="BSTRF"/>
              <xs:element type="xs:string" name="TAKZT"/>
              <xs:element type="xs:string" name="RDPRF"/>
              <xs:element type="xs:string" name="EISBE"/>
              <xs:element type="xs:string" name="EISLO"/>
              <xs:element type="xs:string" name="SHZET"/>
              <xs:element type="xs:string" name="LGRAD"/>
              <xs:element type="xs:string" name="RWPRO"/>
              <xs:element type="xs:string" name="SHFLG"/>
              <xs:element type="xs:string" name="SHPRO"/>
              <xs:element type="xs:string" name="AHDIS"/>
              <xs:element type="xs:string" name="SFTY_STK_METH"/>
              <xs:element type="xs:string" name="SBDKZ"/>
              <xs:element type="xs:string" name="KAUSF"/>
              <xs:element type="xs:string" name="KZBED"/>
              <xs:element type="xs:string" name="KZAUS"/>
              <xs:element type="xs:string" name="AUSDT"/>
              <xs:element type="xs:string" name="NFMAT"/>
              <xs:element type="xs:string" name="SAUFT"/>
              <xs:element type="xs:string" name="SFEPR"/>
              <xs:element type="xs:string" name="BESKZ"/>
              <xs:element type="xs:string" name="SOBSL"/>
              <xs:element type="xs:string" name="LGPRO"/>
              <xs:element type="xs:string" name="WZEIT"/>
              <xs:element type="xs:string" name="KZPSP"/>
              <xs:element type="xs:string" name="LGFSB"/>
              <xs:element type="xs:string" name="MRPPP"/>
              <xs:element type="xs:string" name="DZEIT"/>
              <xs:element type="xs:string" name="PLIFZ"/>
              <xs:element type="xs:string" name="WEBAZ"/>
              <xs:element type="xs:string" name="RGEKZ"/>
              <xs:element type="xs:string" name="VSPVB"/>
              <xs:element type="xs:string" name="FABKZ"/>
              <xs:element type="xs:string" name="SCHGT"/>
              <xs:element type="xs:string" name="FHORI"/>
              <xs:element type="xs:string" name="PERKZ"/>
              <xs:element type="xs:string" name="PERIV"/>
              <xs:element type="xs:string" name="AUFTL"/>
              <xs:element type="xs:string" name="VRBWK"/>
              <xs:element type="xs:string" name="VRBMT"/>
              <xs:element type="xs:string" name="VRBDT"/>
              <xs:element type="xs:string" name="VRBFK"/>
              <xs:element type="xs:string" name="AUTRU"/>
              <xs:element type="xs:string" name="KZKFK"/>
              <xs:element type="xs:string" name="BASMG"/>
              <xs:element type="xs:string" name="UEETO"/>
              <xs:element type="xs:string" name="UNETO"/>
              <xs:element type="xs:string" name="UEETK"/>
              <xs:element type="xs:string" name="FRTME"/>
              <xs:element type="xs:string" name="FEVOR"/>
              <xs:element type="xs:string" name="SFCPF"/>
              <xs:element type="xs:string" name="RUEZT"/>
              <xs:element type="xs:string" name="TRANZ"/>
              <xs:element type="xs:string" name="BEARZ"/>
              <xs:element type="xs:string" name="ABCIN"/>
              <xs:element type="xs:string" name="CCFIX"/>
              <xs:element type="xs:string" name="NCOST"/>
              <xs:element type="xs:string" name="AWSLS"/>
              <xs:element type="xs:string" name="LOSGR"/>
              <xs:element type="xs:string" name="MAXLZ"/>
              <xs:element type="xs:string" name="LZEIH"/>
              <xs:element type="xs:string" name="VRVEZ"/>
              <xs:element type="xs:string" name="VBEAZ"/>
              <xs:element type="xs:string" name="VBAMG"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="ForecastingData" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="PRODUCT"/>
              <xs:element type="xs:string" name="RUN_ID"/>
              <xs:element type="xs:string" name="WERKS"/>
              <xs:element type="xs:string" name="PRMOD"/>
              <xs:element type="xs:string" name="PERAN"/>
              <xs:element type="xs:string" name="ANZPR"/>
              <xs:element type="xs:string" name="PERIO"/>
              <xs:element type="xs:string" name="PERIN"/>
              <xs:element type="xs:string" name="FIMON"/>
              <xs:element type="xs:string" name="KZINI"/>
              <xs:element type="xs:string" name="SIGGR"/>
              <xs:element type="xs:string" name="MODAW"/>
              <xs:element type="xs:string" name="MODAV"/>
              <xs:element type="xs:string" name="KZPAR"/>
              <xs:element type="xs:string" name="OPGRA"/>
              <xs:element type="xs:string" name="GEWGR"/>
              <xs:element type="xs:string" name="ALPHA"/>
              <xs:element type="xs:string" name="BETA1"/>
              <xs:element type="xs:string" name="GAMMA"/>
              <xs:element type="xs:string" name="DELTA"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="StorageLocations" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="PRODUCT"/>
              <xs:element type="xs:string" name="RUN_ID"/>
              <xs:element type="xs:string" name="WERKS"/>
              <xs:element type="xs:string" name="LGORT"/>
              <xs:element type="xs:string" name="LGPBE"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="ProductionResourcesTools" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="PRODUCT"/>
              <xs:element type="xs:string" name="RUN_ID"/>
              <xs:element type="xs:string" name="WERKS"/>
              <xs:element type="xs:string" name="PLANV"/>
              <xs:element type="xs:string" name="FGRU1"/>
              <xs:element type="xs:string" name="FGRU2"/>
              <xs:element type="xs:string" name="STEUF"/>
              <xs:element type="xs:string" name="STEUF_REF"/>
              <xs:element type="xs:string" name="KTSCH"/>
              <xs:element type="xs:string" name="KTSCH_REF"/>
              <xs:element type="xs:string" name="MGFORM"/>
              <xs:element type="xs:string" name="MGFORM_REF"/>
              <xs:element type="xs:string" name="EWFORM"/>
              <xs:element type="xs:string" name="EWFORM_REF"/>
              <xs:element type="xs:string" name="BZOFFB"/>
              <xs:element type="xs:string" name="BZOFFB_REF"/>
              <xs:element type="xs:string" name="OFFSTB"/>
              <xs:element type="xs:string" name="EHOFFB"/>
              <xs:element type="xs:string" name="OFFSTB_REF"/>
              <xs:element type="xs:string" name="BZOFFE"/>
              <xs:element type="xs:string" name="BZOFFE_REF"/>
              <xs:element type="xs:string" name="OFFSTE"/>
              <xs:element type="xs:string" name="EHOFFE"/>
              <xs:element type="xs:string" name="OFFSTE_REF"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="InspectionSetupData" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="PRODUCT"/>
              <xs:element type="xs:string" name="RUN_ID"/>
              <xs:element type="xs:string" name="WERKS"/>
              <xs:element type="xs:string" name="ART"/>
              <xs:element type="xs:string" name="APA"/>
              <xs:element type="xs:string" name="AKTIV"/>
              <xs:element type="xs:string" name="INSMK"/>
              <xs:element type="xs:string" name="STICHPRVER"/>
              <xs:element type="xs:string" name="EIN"/>
              <xs:element type="xs:string" name="HPZ"/>
              <xs:element type="xs:string" name="MPDAU"/>
              <xs:element type="xs:string" name="SPROZ"/>
              <xs:element type="xs:string" name="QKZVERF"/>
              <xs:element type="xs:string" name="PPL"/>
              <xs:element type="xs:string" name="MST"/>
              <xs:element type="xs:string" name="MPB"/>
              <xs:element type="xs:string" name="CHG"/>
              <xs:element type="xs:string" name="TLS"/>
              <xs:element type="xs:string" name="DYNREGEL"/>
              <xs:element type="xs:string" name="APP"/>
              <xs:element type="xs:string" name="DYN"/>
              <xs:element type="xs:string" name="MER"/>
              <xs:element type="xs:string" name="AVE"/>
              <xs:element type="xs:string" name="CHG_ORIG"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="MRPArea" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="PRODUCT"/>
              <xs:element type="xs:string" name="RUN_ID"/>
              <xs:element type="xs:string" name="BERID"/>
              <xs:element type="xs:string" name="WERKS"/>
              <xs:element type="xs:string" name="DISMM"/>
              <xs:element type="xs:string" name="DISPO"/>
              <xs:element type="xs:string" name="DISGR"/>
              <xs:element type="xs:string" name="MINBE"/>
              <xs:element type="xs:string" name="FXHOR"/>
              <xs:element type="xs:string" name="LFRHY"/>
              <xs:element type="xs:string" name="DISLS"/>
              <xs:element type="xs:string" name="BSTMI"/>
              <xs:element type="xs:string" name="BSTMA"/>
              <xs:element type="xs:string" name="BSTFE"/>
              <xs:element type="xs:string" name="LAGPR"/>
              <xs:element type="xs:string" name="LOSFX"/>
              <xs:element type="xs:string" name="WAERS"/>
              <xs:element type="xs:string" name="AUSSS"/>
              <xs:element type="xs:string" name="MABST"/>
              <xs:element type="xs:string" name="BSTRF"/>
              <xs:element type="xs:string" name="TAKZT"/>
              <xs:element type="xs:string" name="RDPRF"/>
              <xs:element type="xs:string" name="EISBE"/>
              <xs:element type="xs:string" name="LGRAD"/>
              <xs:element type="xs:string" name="RWPRO"/>
              <xs:element type="xs:string" name="SHFLG"/>
              <xs:element type="xs:string" name="SHZET"/>
              <xs:element type="xs:string" name="SHPRO"/>
              <xs:element type="xs:string" name="AHDIS"/>
              <xs:element type="xs:string" name="SFTY_STK_METH"/>
              <xs:element type="xs:string" name="SOBSL"/>
              <xs:element type="xs:string" name="LGFSB"/>
              <xs:element type="xs:string" name="MRPPP"/>
              <xs:element type="xs:string" name="PLIFZX"/>
              <xs:element type="xs:string" name="PLIFZ"/>
              <xs:element type="xs:string" name="LGPRO"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="ValuationData" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="PRODUCT"/>
              <xs:element type="xs:string" name="RUN_ID"/>
              <xs:element type="xs:string" name="BWKEY"/>
              <xs:element type="xs:string" name="BWTAR"/>
              <xs:element type="xs:string" name="BWTTY"/>
              <xs:element type="xs:string" name="MLAST"/>
              <xs:element type="xs:string" name="BKLAS"/>
              <xs:element type="xs:string" name="EKLAS"/>
              <xs:element type="xs:string" name="QKLAS"/>
              <xs:element type="xs:string" name="VPRSV"/>
              <xs:element type="xs:string" name="WAERS"/>
              <xs:element type="xs:string" name="VERPR"/>
              <xs:element type="xs:string" name="STPRS"/>
              <xs:element type="xs:string" name="PEINH"/>
              <xs:element type="xs:string" name="ZKPRS"/>
              <xs:element type="xs:string" name="ZKDAT"/>
              <xs:element type="xs:string" name="ZPLP1"/>
              <xs:element type="xs:string" name="ZPLD1"/>
              <xs:element type="xs:string" name="ZPLP2"/>
              <xs:element type="xs:string" name="ZPLD2"/>
              <xs:element type="xs:string" name="ZPLP3"/>
              <xs:element type="xs:string" name="ZPLD3"/>
              <xs:element type="xs:string" name="BWPRS"/>
              <xs:element type="xs:string" name="BWPS1"/>
              <xs:element type="xs:string" name="VJBWS"/>
              <xs:element type="xs:string" name="BWPEI"/>
              <xs:element type="xs:string" name="BWPRH"/>
              <xs:element type="xs:string" name="BWPH1"/>
              <xs:element type="xs:string" name="VJBWH"/>
              <xs:element type="xs:string" name="XLIFO"/>
              <xs:element type="xs:string" name="ABWKZ"/>
              <xs:element type="xs:string" name="MTUSE"/>
              <xs:element type="xs:string" name="MTORG"/>
              <xs:element type="xs:string" name="OWPNR"/>
              <xs:element type="xs:string" name="HKMAT"/>
              <xs:element type="xs:string" name="EKALR"/>
              <xs:element type="xs:string" name="KOSGR"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="ValuationCurrentPeriod" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="PRODUCT"/>
              <xs:element type="xs:string" name="RUN_ID"/>
              <xs:element type="xs:string" name="BWKEY"/>
              <xs:element type="xs:string" name="BWTAR"/>
              <xs:element type="xs:string" name="BWTTY"/>
              <xs:element type="xs:string" name="CURTP"/>
              <xs:element type="xs:string" name="VPRSV"/>
              <xs:element type="xs:string" name="WAERS"/>
              <xs:element type="xs:string" name="VERPR"/>
              <xs:element type="xs:string" name="STPRS"/>
              <xs:element type="xs:string" name="PEINH"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="ValuationFuturePrice" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="PRODUCT"/>
              <xs:element type="xs:string" name="RUN_ID"/>
              <xs:element type="xs:string" name="BWKEY"/>
              <xs:element type="xs:string" name="BWTAR"/>
              <xs:element type="xs:string" name="BWTTY"/>
              <xs:element type="xs:string" name="CURTP"/>
              <xs:element type="xs:string" name="WAERS"/>
              <xs:element type="xs:string" name="ZKPRS_1"/>
              <xs:element type="xs:string" name="ZPRSDAT_1"/>
              <xs:element type="xs:string" name="PEINH"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>