Resources/schemas/Xsd/SAP_S-4HANA_for_central_procurement_–_Central_Purchasing_Integration_with_Third_Party_System - DocumentType.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="MmPurBeDocumentTypeSet">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" name="MmPurBeDocumentType">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="DocumentType" type="xs:string" />
			  <xs:element name="DocumentCategory" type="xs:string" />
			  <xs:element name="DocumentTypeName" type="xs:string" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>