Resources/schemas/Xsd/SAP_Commerce_financial_services_accelerator_integration_with_SAP_for_Insurance - InboundPayloadEnhanced-1.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="cart">
    <xs:complexType>
      <xs:sequence>
        <xs:element type="xs:string" name="quoteId" minOccurs="1" maxOccurs="1"/>
        <xs:element type="xs:string" name="mainProduct" minOccurs="0" maxOccurs="1"/>
        <xs:element name="insurancePolicy" minOccurs="1" maxOccurs="1">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="premiumAmount" minOccurs="0" maxOccurs="1"/>
              <xs:element type="xs:date" name="policyEffectiveDate" minOccurs="0" maxOccurs="1"/>
              <xs:element type="xs:date" name="policyExpiryDate" minOccurs="0" maxOccurs="1"/>
              <xs:element name="insuredObjects" minOccurs="0" maxOccurs="unbounded">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="childInsuredObjects" minOccurs="1" maxOccurs="unbounded">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element type="xs:string" name="firstName" minOccurs="0" maxOccurs="1"/>
                          <xs:element type="xs:string" name="lastName" minOccurs="0" maxOccurs="1"/>
                          <xs:element type="xs:date"   name="driverLicenceDate" minOccurs="0" maxOccurs="1"/>
                          <xs:element type="xs:string" name="driverCategory" minOccurs="0" maxOccurs="1"/>
                          <xs:element type="xs:string" name="insuredObjectType" minOccurs="0" maxOccurs="1"/>
                          <xs:element type="xs:string" name="driverGender" minOccurs="0" maxOccurs="1"/>
                          <xs:element type="xs:string" name="driverMaritalStatus" minOccurs="0" maxOccurs="1"/>
                          <xs:element type="xs:string" name="driverLicenceNumber" minOccurs="0" maxOccurs="1"/>
                          <xs:element type="xs:string" name="insuredObjectId" minOccurs="0" maxOccurs="1"/>
                          <xs:element type="xs:string" name="technicalId" minOccurs="1" maxOccurs="1"/>
                          <xs:element type="xs:string" name="customerId" minOccurs="0" maxOccurs="1"/>
                          <xs:element type="xs:date"   name="dateOfBirth" minOccurs="0" maxOccurs="1"/>
                          <xs:element name="NamedDriver" minOccurs="1" maxOccurs="1">
                              <xs:complexType>
                                <xs:sequence>
                                  <xs:element type="xs:string" name="insuredObjectId" minOccurs="1" maxOccurs="1"/>
                                  <xs:element type="xs:string" name="customerId" minOccurs="1" maxOccurs="1"/>
                                  <xs:element type="xs:string" name="bpId" minOccurs="1" maxOccurs="1"/>
                                </xs:sequence>
                              </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element type="xs:string" name="vehicleYear" minOccurs="0" maxOccurs="1"/>
                    <xs:element type="xs:string" name="vehicleUsage" minOccurs="0" maxOccurs="1"/>
                    <xs:element type="xs:string" name="vehicleOwnerPostalCode" minOccurs="0" maxOccurs="1"/>
                    <xs:element type="xs:string" name="insuredObjectType" minOccurs="0" maxOccurs="1"/>
                    <xs:element type="xs:string" name="insuredObjectId" minOccurs="0" maxOccurs="1"/>
                    <xs:element type="xs:string" name="technicalId" minOccurs="1" maxOccurs="1"/>
                    <xs:element type="xs:string" name="vehicleModel" minOccurs="0" maxOccurs="1"/>
                    <xs:element type="xs:string" name="vehicleValue" minOccurs="0" maxOccurs="1"/>
                    <xs:element type="xs:date"   name="vehiclePurchaseDate" minOccurs="0" maxOccurs="1"/>
                    <xs:element type="xs:string" name="vehicleAnnualMileage" minOccurs="0" maxOccurs="1"/>
                    <xs:element type="xs:string" name="vehicleMake" minOccurs="0" maxOccurs="1"/>
                    <xs:element type="xs:string" name="vehicleType" minOccurs="0" maxOccurs="1"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element type="xs:date" name="policyStartDate" minOccurs="0" maxOccurs="1"/>
              <xs:element name="policyStatus" minOccurs="0" maxOccurs="1">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:string" name="code" minOccurs="0" maxOccurs="1"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="paymentFrequency" minOccurs="0" maxOccurs="1">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:string" name="code" minOccurs="0" maxOccurs="1"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="coverages" minOccurs="0" maxOccurs="unbounded">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:string" name="coverageAmount" minOccurs="0" maxOccurs="1"/>
                    <xs:element type="xs:string" name="coverageId" minOccurs="0" maxOccurs="1"/>
                    <xs:element type="xs:string" name="technicalId" minOccurs="0" maxOccurs="1"/>
                    <xs:element name="coverageType" minOccurs="0" maxOccurs="1">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element type="xs:string" name="code" minOccurs="0" maxOccurs="1"/>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element type="xs:string" name="delete" minOccurs="0" maxOccurs="1"/>
                    <xs:element name="coverageProduct" minOccurs="0" maxOccurs="1">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element type="xs:string" name="code" minOccurs="0" maxOccurs="1"/>
                           <xs:element name="features" minOccurs="0" maxOccurs="unbounded">
                              <xs:complexType>
                                <xs:sequence>
                                  <xs:element type="xs:string" name="code" minOccurs="1" maxOccurs="1"/>
                                  <xs:element type="xs:string" name="type" minOccurs="1" maxOccurs="1"/>
                                  <xs:element type="xs:string" name="amount" minOccurs="1" maxOccurs="1"/>
                                </xs:sequence>
                              </xs:complexType>
                         </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="root" minOccurs="0" maxOccurs="1">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element type="xs:string" name="coverageId" minOccurs="0" maxOccurs="1"/>
                           <xs:element name="Limit" minOccurs="0" maxOccurs="unbounded">
                              <xs:complexType>
                                <xs:sequence>
                                  <xs:element type="xs:string" name="amount" minOccurs="1" maxOccurs="1"/>
                                  <xs:element type="xs:string" name="type" minOccurs="1" maxOccurs="1"/>
                                  <xs:element type="xs:string" name="productCode" minOccurs="1" maxOccurs="1"/>
                                  <xs:element type="xs:string" name="technicalId" minOccurs="0" maxOccurs="1"/>
                                </xs:sequence>
                              </xs:complexType>
                         </xs:element>
                         <xs:element name="Deductible" minOccurs="0" maxOccurs="unbounded">
                              <xs:complexType>
                                <xs:sequence>
                                  <xs:element type="xs:string" name="amount" minOccurs="1" maxOccurs="1"/>
                                  <xs:element type="xs:string" name="type" minOccurs="1" maxOccurs="1"/>
                                  <xs:element type="xs:string" name="productCode" minOccurs="1" maxOccurs="1"/>
                                  <xs:element type="xs:string" name="technicalId" minOccurs="0" maxOccurs="1"/>
                                </xs:sequence>
                              </xs:complexType>
                         </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element type="xs:byte" name="versionNumber" minOccurs="0" maxOccurs="1"/>
              <xs:element type="xs:string" name="policyId" minOccurs="0" maxOccurs="1"/>
              <xs:element type="xs:string" name="contractId" minOccurs="0" maxOccurs="1"/>
              <xs:element type="xs:byte" name="technicalId" minOccurs="1" maxOccurs="1"/>
              <xs:element name="currency" minOccurs="0" maxOccurs="1">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:string" name="isocode" minOccurs="0" maxOccurs="1"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="category" minOccurs="0" maxOccurs="1" >
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:string" name="code" minOccurs="0" maxOccurs="1"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="user" minOccurs="0" maxOccurs="1">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:string" name="externalId" minOccurs="0" maxOccurs="1"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>