Resources/schemas/Xsd/SAP_Build_Process_Automation_Integration_with_SAP_S-4HANA_for_Fixed_Asset_Approval_Write_Off - POST - Output - Schema.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
          <xs:element name="result">
                    <xs:complexType mixed="true">
                              <xs:sequence>
                                        <xs:element name="companyCode" type="xs:unsignedShort" />
                                        <xs:element name="asset" type="xs:unsignedLong" />
                                        <xs:element name="subNo" type="xs:unsignedByte" />
                                        <xs:element name="depreciationArea" type="xs:unsignedByte" />
                                        <xs:element name="transactionType" type="xs:unsignedByte" />
                                        <xs:element name="amount" type="xs:unsignedByte" />
                                        <xs:element name="currency" type="xs:string" />
                                        <xs:element name="status" type="xs:string" />
                                        <xs:element name="message" type="xs:string" />
                              </xs:sequence>
                    </xs:complexType>
          </xs:element>
</xs:schema>