Resources/schemas/Xsd/SAP_Health_Engagement_-_Integration_with_Validic - Diabetes.xsd

<?xml version="1.0" encoding="UTF-8"?>
   <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
         <!-- XML Schema Generated from XML Document on Fri Aug 05 2016 16:16:35 GMT+0530 (India Standard Time) -->
         <!-- with XmlGrid.net Free Online Service http://xmlgrid.net -->
         <xs:element name="diabetes">
               <xs:complexType>
                     <xs:sequence>
                           <xs:element name="_id" type="xs:string"></xs:element>
                           <xs:element name="blood_glucose" type="xs:int"></xs:element>
                           <xs:element name="c_peptide"></xs:element>
                           <xs:element name="fasting_plasma_glucose_test"></xs:element>
                           <xs:element name="hba1c"></xs:element>
                           <xs:element name="insulin"></xs:element>
                           <xs:element name="last_updated" type="xs:dateTime"></xs:element>
                           <xs:element name="oral_glucose_tolerance_test"></xs:element>
                           <xs:element name="random_plasma_glucose_test"></xs:element>
                           <xs:element name="relationship_to_meal" type="xs:string"></xs:element>
                           <xs:element name="source" type="xs:string"></xs:element>
                           <xs:element name="source_name" type="xs:string"></xs:element>
                           <xs:element name="timestamp" type="xs:dateTime"></xs:element>
                           <xs:element name="triglyceride"></xs:element>
                           <xs:element name="user_id" type="xs:string"></xs:element>
                           <xs:element name="utc_offset" type="xs:string"></xs:element>
                           <xs:element name="validated" type="xs:string"></xs:element>
                     </xs:sequence>
               </xs:complexType>
         </xs:element>
   </xs:schema>
