Resources/schemas/Xsd/SAP_SuccessFactors_Employee_Central_with_Third_Party_CSR_Vendor_-_Benevity - benevity_map.xsd

<?xml version="1.0" encoding="UTF-8"?><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
    <xsd:element name="Record">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="Elements">
                    <xsd:complexType>
                        <xsd:sequence>
                            <xsd:element minOccurs="0" name="Spark_Country" type="xsd:string"/>
                            <xsd:element minOccurs="0" name="Employee_ID" type="xsd:string"/>
                            <xsd:element minOccurs="0" name="Business_Email_Address" type="xsd:string"/>
                            <xsd:element minOccurs="0" name="Spark_Payroll_Group" type="xsd:string"/>
                            <xsd:element minOccurs="0" name="EmployeeID" type="xsd:string"/>
                            <xsd:element minOccurs="0" name="Preferred_Language" type="xsd:string"/>
                            <xsd:element minOccurs="0" name="Preferred_First_Name" type="xsd:string"/>
                            <xsd:element minOccurs="0" name="Legal_First_Name" type="xsd:string"/>
                            <xsd:element minOccurs="0" name="Legal_Middle_Initial" type="xsd:string"/>
                            <xsd:element minOccurs="0" name="Legal_Last_Name" type="xsd:string"/>
                            <xsd:element minOccurs="0" name="Address_Line_1" type="xsd:string"/>
                            <xsd:element minOccurs="0" name="Address_City" type="xsd:string"/>
                            <xsd:element minOccurs="0" name="Address_State" type="xsd:string"/>
                            <xsd:element minOccurs="0" name="Address_Country" type="xsd:string"/>
                            <xsd:element minOccurs="0" name="Address_ZipCode" type="xsd:string"/>
                            <xsd:element minOccurs="0" name="search_city" type="xsd:string"/>
                            <xsd:element minOccurs="0" name="search_stateprov" type="xsd:string"/>
                            <xsd:element minOccurs="0" name="search_search_country" type="xsd:string"/>
                            <xsd:element minOccurs="0" name="location" type="xsd:string"/>
                            <xsd:element minOccurs="0" name="function" type="xsd:string"/>
                            <xsd:element minOccurs="0" name="Department" type="xsd:string"/>
                            <xsd:element minOccurs="0" name="employment_type" type="xsd:string"/>
                            <xsd:element minOccurs="0" name="pay_group" type="xsd:string"/>
                            <xsd:element minOccurs="0" name="career_level" type="xsd:string"/>
                            <xsd:element minOccurs="0" name="Location_type" type="xsd:string"/>
                            <xsd:element minOccurs="0" name="Division_EPC" type="xsd:string"/>
                        </xsd:sequence>
                    </xsd:complexType>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>