Resources/schemas/Xsd/SAP_SuccessFactors_Employee_Central_Integration_with_Third-Party_Time_Vendor_-_Kronos - input.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:element name="Record">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="Elements" minOccurs="0" maxOccurs="unbounded">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="Person_Number" type="xs:string"></xs:element>
							<xs:element name="Date" type="xs:string"></xs:element>
							<xs:element name="Kronos_Pay_Code" type="xs:string"></xs:element>
							<xs:element name="Success_Factors_Paycode_Name" type="xs:string"></xs:element>
							<xs:element name="Success_Factors_Paycode_ID" type="xs:string"></xs:element>
							<xs:element name="Labor_Level_1" type="xs:string"></xs:element>
							<xs:element name="Labor_Level_2" type="xs:string"></xs:element>
							<xs:element name="Labor_Level_3" type="xs:string"></xs:element>
							<xs:element name="Labor_Level_4" type="xs:string"></xs:element>
							<xs:element name="Labor_Level_5" type="xs:string"></xs:element>
							<xs:element name="Labor_Level_6" type="xs:string"></xs:element>
							<xs:element name="Labor_Level_7" type="xs:string"></xs:element>
							<xs:element name="Time" type="xs:string"></xs:element>
							<xs:element name="Unit_of_Time" type="xs:string"></xs:element>
							<xs:element name="Worked_or_Absence" type="xs:string"></xs:element>
							<xs:element name="Pay_code_wage_rate" type="xs:string"></xs:element>
							<xs:element name="External_Doc_Number" type="xs:string"></xs:element>
							<xs:element name="Batch_Number" type="xs:string"></xs:element>
							<xs:element name="Financial_Company_Code" type="xs:string"></xs:element>
							<xs:element name="CURRENCY" type="xs:string"></xs:element>
							<xs:element name="Partner_External_Application_ID" type="xs:string"></xs:element>
							<xs:element name="External_System" type="xs:string"></xs:element>
							<xs:element name="Is_Historical_Edit" type="xs:string"></xs:element>
							<xs:element name="Historical_Date" type="xs:string"></xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>