Resources/schemas/Xsd/SAP_Build_Process_Automation_Integration_with_SAP_S-4HANA_for_Urgent_Payment_Request_Approval - RFCOutput-1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="BAPI_CUSTOMER_GETDETAIL2.Response">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="RETURN" minOccurs="0" maxOccurs="unbounded">
					<xs:complexType>
						<xs:sequence>
										<xs:element name="TYPE" type="xs:string" minOccurs="0" maxOccurs="1"/>
										<xs:element name="MESSAGE" type="xs:string" minOccurs="0" maxOccurs="1"/>
										<xs:element name="NUMBER" type="xs:string" minOccurs="0" maxOccurs="1"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>

				<xs:element name="CUSTOMERBANKDETAIL">
					<xs:complexType>
						<xs:sequence>
							<xs:element minOccurs="0" maxOccurs="unbounded" name="item">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="CUSTOMER" type="xs:string" />
										<xs:element name="BANK_CTRY" type="xs:string" />
										<xs:element name="BANK_KEY" type="xs:string" />
										<xs:element name="BANK_ACCT" type="xs:string" />
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>