Resources/schemas/Xsd/SAP_S-4HANA_Integration_with_Salesforce - Rojo_Comp_ServiceContract_ContractLineItem_Salesforce_Composite_Request.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!--Copyright (c) Rojo Consultancy B.V. all rights reserved 
XSD generated from the Salesforce Adapter Plug-In by Rojo Consultancy B.V. 
Intended for the Salesforce Adapter for SAP Cloud Platform Integration 
Based upon Salesforce API version: 48.0 
Operation: REST - Salesforce Object - Create - sObjectsComposite - Request 
Creation date: Wed Aug 19 16:17:42 CEST 2020 
Website: www.rojoconsultancy.com-->
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
    <xsd:element name="sObjectsComposite">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element maxOccurs="1" minOccurs="0" name="allOrNone" type="xsd:boolean"/>
                <xsd:element name="compositeRequest_ServiceContract" maxOccurs="unbounded">
                    <xsd:complexType>
                        <xsd:sequence>
                            <xsd:element maxOccurs="1" minOccurs="1" name="method" type="xsd:string"/>
                            <xsd:element maxOccurs="1" minOccurs="1" name="referenceId" type="xsd:string"/>
                            <xsd:element maxOccurs="1" minOccurs="1" name="url" type="xsd:string"/>
                            <xsd:element name="body">
                                <xsd:complexType>
                                    <xsd:sequence>
                                        <xsd:element maxOccurs="1" minOccurs="0" name="Id" nillable="false" type="ID">
                                            <xsd:annotation>
                                                <xsd:documentation>Service Contract ID</xsd:documentation>
                                            </xsd:annotation>
                                        </xsd:element>
                                        <xsd:element maxOccurs="1" minOccurs="0" name="OwnerId" nillable="false" type="ID">
                                            <xsd:annotation>
                                                <xsd:documentation>Owner ID</xsd:documentation>
                                            </xsd:annotation>
                                        </xsd:element>
                                        <xsd:element maxOccurs="1" minOccurs="0" name="IsDeleted" nillable="false" type="xsd:boolean">
                                            <xsd:annotation>
                                                <xsd:documentation>Deleted</xsd:documentation>
                                            </xsd:annotation>
                                        </xsd:element>
                                        <xsd:element maxOccurs="1" minOccurs="0" name="Name" nillable="false">
                                            <xsd:annotation>
                                                <xsd:documentation>Contract Name</xsd:documentation>
                                            </xsd:annotation>
                                            <xsd:simpleType>
                                                <xsd:restriction base="xsd:string">
                                                    <xsd:minLength value="0"/>
                                                    <xsd:maxLength value="255"/>
                                                </xsd:restriction>
                                            </xsd:simpleType>
                                        </xsd:element>
                                        <xsd:element maxOccurs="1" minOccurs="0" name="CurrencyIsoCode" nillable="true">
                                            <xsd:annotation>
                                                <xsd:documentation>Currency ISO Code</xsd:documentation>
                                            </xsd:annotation>
                                            <xsd:simpleType>
                                                <xsd:restriction base="xsd:string">
                                                    <xsd:enumeration value="EUR"/>
                                                    <xsd:enumeration value="USD"/>
                                                </xsd:restriction>
                                            </xsd:simpleType>
                                        </xsd:element>
                                        <xsd:element maxOccurs="1" minOccurs="0" name="CreatedDate" nillable="false" type="xsd:dateTime">
                                            <xsd:annotation>
                                                <xsd:documentation>Created Date</xsd:documentation>
                                            </xsd:annotation>
                                        </xsd:element>
                                        <xsd:element maxOccurs="1" minOccurs="0" name="CreatedById" nillable="false" type="ID">
                                            <xsd:annotation>
                                                <xsd:documentation>Created By ID</xsd:documentation>
                                            </xsd:annotation>
                                        </xsd:element>
                                        <xsd:element maxOccurs="1" minOccurs="0" name="LastModifiedDate" nillable="false" type="xsd:dateTime">
                                            <xsd:annotation>
                                                <xsd:documentation>Last Modified Date</xsd:documentation>
                                            </xsd:annotation>
                                        </xsd:element>
                                        <xsd:element maxOccurs="1" minOccurs="0" name="LastModifiedById" nillable="false" type="ID">
                                            <xsd:annotation>
                                                <xsd:documentation>Last Modified By ID</xsd:documentation>
                                            </xsd:annotation>
                                        </xsd:element>
                                        <xsd:element maxOccurs="1" minOccurs="0" name="SystemModstamp" nillable="false" type="xsd:dateTime">
                                            <xsd:annotation>
                                                <xsd:documentation>System Modstamp</xsd:documentation>
                                            </xsd:annotation>
                                        </xsd:element>
                                        <xsd:element maxOccurs="1" minOccurs="0" name="LastViewedDate" nillable="true" type="xsd:dateTime">
                                            <xsd:annotation>
                                                <xsd:documentation>Last Viewed Date</xsd:documentation>
                                            </xsd:annotation>
                                        </xsd:element>
                                        <xsd:element maxOccurs="1" minOccurs="0" name="LastReferencedDate" nillable="true" type="xsd:dateTime">
                                            <xsd:annotation>
                                                <xsd:documentation>Last Referenced Date</xsd:documentation>
                                            </xsd:annotation>
                                        </xsd:element>
                                        <xsd:element maxOccurs="1" minOccurs="0" name="AccountId" nillable="true" type="ID">
                                            <xsd:annotation>
                                                <xsd:documentation>Account ID</xsd:documentation>
                                            </xsd:annotation>
                                        </xsd:element>
                                        <xsd:element maxOccurs="1" minOccurs="0" name="ContactId" nillable="true" type="ID">
                                            <xsd:annotation>
                                                <xsd:documentation>Contact ID</xsd:documentation>
                                            </xsd:annotation>
                                        </xsd:element>
                                        <xsd:element maxOccurs="1" minOccurs="0" name="Term" nillable="true" type="xsd:int">
                                            <xsd:annotation>
                                                <xsd:documentation>Term (months)</xsd:documentation>
                                            </xsd:annotation>
                                        </xsd:element>
                                        <xsd:element maxOccurs="1" minOccurs="0" name="StartDate" nillable="true" type="xsd:date">
                                            <xsd:annotation>
                                                <xsd:documentation>Start Date</xsd:documentation>
                                            </xsd:annotation>
                                        </xsd:element>
                                        <xsd:element maxOccurs="1" minOccurs="0" name="EndDate" nillable="true" type="xsd:date">
                                            <xsd:annotation>
                                                <xsd:documentation>End Date</xsd:documentation>
                                            </xsd:annotation>
                                        </xsd:element>
                                        <xsd:element maxOccurs="1" minOccurs="0" name="ActivationDate" nillable="true" type="xsd:dateTime">
                                            <xsd:annotation>
                                                <xsd:documentation>Activation Date</xsd:documentation>
                                            </xsd:annotation>
                                        </xsd:element>
                                        <xsd:element maxOccurs="1" minOccurs="0" name="ApprovalStatus" nillable="true">
                                            <xsd:annotation>
                                                <xsd:documentation>Approval Status</xsd:documentation>
                                            </xsd:annotation>
                                            <xsd:simpleType>
                                                <xsd:restriction base="xsd:string">
                                                    <xsd:minLength value="0"/>
                                                    <xsd:maxLength value="40"/>
                                                </xsd:restriction>
                                            </xsd:simpleType>
                                        </xsd:element>
                                        <xsd:element maxOccurs="1" minOccurs="0" name="Description" nillable="true">
                                            <xsd:annotation>
                                                <xsd:documentation>Description</xsd:documentation>
                                            </xsd:annotation>
                                            <xsd:simpleType>
                                                <xsd:restriction base="xsd:string">
                                                    <xsd:minLength value="0"/>
                                                    <xsd:maxLength value="32000"/>
                                                </xsd:restriction>
                                            </xsd:simpleType>
                                        </xsd:element>
                                        <xsd:element maxOccurs="1" minOccurs="0" name="BillingStreet" nillable="true">
                                            <xsd:annotation>
                                                <xsd:documentation>Billing Street</xsd:documentation>
                                            </xsd:annotation>
                                            <xsd:simpleType>
                                                <xsd:restriction base="xsd:string">
                                                    <xsd:minLength value="0"/>
                                                    <xsd:maxLength value="255"/>
                                                </xsd:restriction>
                                            </xsd:simpleType>
                                        </xsd:element>
                                        <xsd:element maxOccurs="1" minOccurs="0" name="BillingCity" nillable="true">
                                            <xsd:annotation>
                                                <xsd:documentation>Billing City</xsd:documentation>
                                            </xsd:annotation>
                                            <xsd:simpleType>
                                                <xsd:restriction base="xsd:string">
                                                    <xsd:minLength value="0"/>
                                                    <xsd:maxLength value="40"/>
                                                </xsd:restriction>
                                            </xsd:simpleType>
                                        </xsd:element>
                                        <xsd:element maxOccurs="1" minOccurs="0" name="BillingState" nillable="true">
                                            <xsd:annotation>
                                                <xsd:documentation>Billing State</xsd:documentation>
                                            </xsd:annotation>
                                            <xsd:simpleType>
                                                <xsd:restriction base="xsd:string">
                                                    <xsd:minLength value="0"/>
                                                    <xsd:maxLength value="80"/>
                                                </xsd:restriction>
                                            </xsd:simpleType>
                                        </xsd:element>
                                        <xsd:element maxOccurs="1" minOccurs="0" name="BillingPostalCode" nillable="true">
                                            <xsd:annotation>
                                                <xsd:documentation>Billing Zip</xsd:documentation>
                                            </xsd:annotation>
                                            <xsd:simpleType>
                                                <xsd:restriction base="xsd:string">
                                                    <xsd:minLength value="0"/>
                                                    <xsd:maxLength value="20"/>
                                                </xsd:restriction>
                                            </xsd:simpleType>
                                        </xsd:element>
                                        <xsd:element maxOccurs="1" minOccurs="0" name="BillingCountry" nillable="true">
                                            <xsd:annotation>
                                                <xsd:documentation>Billing Country</xsd:documentation>
                                            </xsd:annotation>
                                            <xsd:simpleType>
                                                <xsd:restriction base="xsd:string">
                                                    <xsd:minLength value="0"/>
                                                    <xsd:maxLength value="80"/>
                                                </xsd:restriction>
                                            </xsd:simpleType>
                                        </xsd:element>
                                        <xsd:element maxOccurs="1" minOccurs="0" name="BillingLatitude" nillable="true" type="xsd:double">
                                            <xsd:annotation>
                                                <xsd:documentation>Billing Latitude</xsd:documentation>
                                            </xsd:annotation>
                                        </xsd:element>
                                        <xsd:element maxOccurs="1" minOccurs="0" name="BillingLongitude" nillable="true" type="xsd:double">
                                            <xsd:annotation>
                                                <xsd:documentation>Billing Longitude</xsd:documentation>
                                            </xsd:annotation>
                                        </xsd:element>
                                        <xsd:element maxOccurs="1" minOccurs="0" name="BillingGeocodeAccuracy" nillable="true">
                                            <xsd:annotation>
                                                <xsd:documentation>Billing Geocode Accuracy</xsd:documentation>
                                            </xsd:annotation>
                                            <xsd:simpleType>
                                                <xsd:restriction base="xsd:string">
                                                    <xsd:enumeration value="Address"/>
                                                    <xsd:enumeration value="NearAddress"/>
                                                    <xsd:enumeration value="Block"/>
                                                    <xsd:enumeration value="Street"/>
                                                    <xsd:enumeration value="ExtendedZip"/>
                                                    <xsd:enumeration value="Zip"/>
                                                    <xsd:enumeration value="Neighborhood"/>
                                                    <xsd:enumeration value="City"/>
                                                    <xsd:enumeration value="County"/>
                                                    <xsd:enumeration value="State"/>
                                                    <xsd:enumeration value="Unknown"/>
                                                </xsd:restriction>
                                            </xsd:simpleType>
                                        </xsd:element>
                                        <xsd:element maxOccurs="1" minOccurs="0" name="BillingAddress" nillable="true" type="address">
                                            <xsd:annotation>
                                                <xsd:documentation>Billing Address</xsd:documentation>
                                            </xsd:annotation>
                                        </xsd:element>
                                        <xsd:element maxOccurs="1" minOccurs="0" name="ShippingStreet" nillable="true">
                                            <xsd:annotation>
                                                <xsd:documentation>Shipping Street</xsd:documentation>
                                            </xsd:annotation>
                                            <xsd:simpleType>
                                                <xsd:restriction base="xsd:string">
                                                    <xsd:minLength value="0"/>
                                                    <xsd:maxLength value="255"/>
                                                </xsd:restriction>
                                            </xsd:simpleType>
                                        </xsd:element>
                                        <xsd:element maxOccurs="1" minOccurs="0" name="ShippingCity" nillable="true">
                                            <xsd:annotation>
                                                <xsd:documentation>Shipping City</xsd:documentation>
                                            </xsd:annotation>
                                            <xsd:simpleType>
                                                <xsd:restriction base="xsd:string">
                                                    <xsd:minLength value="0"/>
                                                    <xsd:maxLength value="40"/>
                                                </xsd:restriction>
                                            </xsd:simpleType>
                                        </xsd:element>
                                        <xsd:element maxOccurs="1" minOccurs="0" name="ShippingState" nillable="true">
                                            <xsd:annotation>
                                                <xsd:documentation>Shipping State</xsd:documentation>
                                            </xsd:annotation>
                                            <xsd:simpleType>
                                                <xsd:restriction base="xsd:string">
                                                    <xsd:minLength value="0"/>
                                                    <xsd:maxLength value="80"/>
                                                </xsd:restriction>
                                            </xsd:simpleType>
                                        </xsd:element>
                                        <xsd:element maxOccurs="1" minOccurs="0" name="ShippingPostalCode" nillable="true">
                                            <xsd:annotation>
                                                <xsd:documentation>Shipping Zip</xsd:documentation>
                                            </xsd:annotation>
                                            <xsd:simpleType>
                                                <xsd:restriction base="xsd:string">
                                                    <xsd:minLength value="0"/>
                                                    <xsd:maxLength value="20"/>
                                                </xsd:restriction>
                                            </xsd:simpleType>
                                        </xsd:element>
                                        <xsd:element maxOccurs="1" minOccurs="0" name="ShippingCountry" nillable="true">
                                            <xsd:annotation>
                                                <xsd:documentation>Shipping Country</xsd:documentation>
                                            </xsd:annotation>
                                            <xsd:simpleType>
                                                <xsd:restriction base="xsd:string">
                                                    <xsd:minLength value="0"/>
                                                    <xsd:maxLength value="80"/>
                                                </xsd:restriction>
                                            </xsd:simpleType>
                                        </xsd:element>
                                        <xsd:element maxOccurs="1" minOccurs="0" name="ShippingLatitude" nillable="true" type="xsd:double">
                                            <xsd:annotation>
                                                <xsd:documentation>Shipping Latitude</xsd:documentation>
                                            </xsd:annotation>
                                        </xsd:element>
                                        <xsd:element maxOccurs="1" minOccurs="0" name="ShippingLongitude" nillable="true" type="xsd:double">
                                            <xsd:annotation>
                                                <xsd:documentation>Shipping Longitude</xsd:documentation>
                                            </xsd:annotation>
                                        </xsd:element>
                                        <xsd:element maxOccurs="1" minOccurs="0" name="ShippingGeocodeAccuracy" nillable="true">
                                            <xsd:annotation>
                                                <xsd:documentation>Shipping Geocode Accuracy</xsd:documentation>
                                            </xsd:annotation>
                                            <xsd:simpleType>
                                                <xsd:restriction base="xsd:string">
                                                    <xsd:enumeration value="Address"/>
                                                    <xsd:enumeration value="NearAddress"/>
                                                    <xsd:enumeration value="Block"/>
                                                    <xsd:enumeration value="Street"/>
                                                    <xsd:enumeration value="ExtendedZip"/>
                                                    <xsd:enumeration value="Zip"/>
                                                    <xsd:enumeration value="Neighborhood"/>
                                                    <xsd:enumeration value="City"/>
                                                    <xsd:enumeration value="County"/>
                                                    <xsd:enumeration value="State"/>
                                                    <xsd:enumeration value="Unknown"/>
                                                </xsd:restriction>
                                            </xsd:simpleType>
                                        </xsd:element>
                                        <xsd:element maxOccurs="1" minOccurs="0" name="ShippingAddress" nillable="true" type="address">
                                            <xsd:annotation>
                                                <xsd:documentation>Shipping Address</xsd:documentation>
                                            </xsd:annotation>
                                        </xsd:element>
                                        <xsd:element maxOccurs="1" minOccurs="0" name="Pricebook2Id" nillable="true" type="ID">
                                            <xsd:annotation>
                                                <xsd:documentation>Price Book ID</xsd:documentation>
                                            </xsd:annotation>
                                        </xsd:element>
                                        <xsd:element maxOccurs="1" minOccurs="0" name="ShippingHandling" nillable="true" type="xsd:double">
                                            <xsd:annotation>
                                                <xsd:documentation>Shipping and Handling</xsd:documentation>
                                            </xsd:annotation>
                                        </xsd:element>
                                        <xsd:element maxOccurs="1" minOccurs="0" name="Tax" nillable="true" type="xsd:double">
                                            <xsd:annotation>
                                                <xsd:documentation>Tax</xsd:documentation>
                                            </xsd:annotation>
                                        </xsd:element>
                                        <xsd:element maxOccurs="1" minOccurs="0" name="Subtotal" nillable="true" type="xsd:double">
                                            <xsd:annotation>
                                                <xsd:documentation>Subtotal</xsd:documentation>
                                            </xsd:annotation>
                                        </xsd:element>
                                        <xsd:element maxOccurs="1" minOccurs="0" name="TotalPrice" nillable="true" type="xsd:double">
                                            <xsd:annotation>
                                                <xsd:documentation>Total Price</xsd:documentation>
                                            </xsd:annotation>
                                        </xsd:element>
                                        <xsd:element maxOccurs="1" minOccurs="0" name="LineItemCount" nillable="true" type="xsd:int">
                                            <xsd:annotation>
                                                <xsd:documentation>Line Items</xsd:documentation>
                                            </xsd:annotation>
                                        </xsd:element>
                                        <xsd:element maxOccurs="1" minOccurs="0" name="ContractNumber" nillable="false">
                                            <xsd:annotation>
                                                <xsd:documentation>Contract Number</xsd:documentation>
                                            </xsd:annotation>
                                            <xsd:simpleType>
                                                <xsd:restriction base="xsd:string">
                                                    <xsd:minLength value="0"/>
                                                    <xsd:maxLength value="30"/>
                                                </xsd:restriction>
                                            </xsd:simpleType>
                                        </xsd:element>
                                        <xsd:element maxOccurs="1" minOccurs="0" name="SpecialTerms" nillable="true">
                                            <xsd:annotation>
                                                <xsd:documentation>Special Terms</xsd:documentation>
                                            </xsd:annotation>
                                            <xsd:simpleType>
                                                <xsd:restriction base="xsd:string">
                                                    <xsd:minLength value="0"/>
                                                    <xsd:maxLength value="32000"/>
                                                </xsd:restriction>
                                            </xsd:simpleType>
                                        </xsd:element>
                                        <xsd:element maxOccurs="1" minOccurs="0" name="Discount" nillable="true" type="xsd:double">
                                            <xsd:annotation>
                                                <xsd:documentation>Discount</xsd:documentation>
                                            </xsd:annotation>
                                        </xsd:element>
                                        <xsd:element maxOccurs="1" minOccurs="0" name="GrandTotal" nillable="true" type="xsd:double">
                                            <xsd:annotation>
                                                <xsd:documentation>Grand Total</xsd:documentation>
                                            </xsd:annotation>
                                        </xsd:element>
                                        <xsd:element maxOccurs="1" minOccurs="0" name="Status" nillable="true">
                                            <xsd:annotation>
                                                <xsd:documentation>Status</xsd:documentation>
                                            </xsd:annotation>
                                            <xsd:simpleType>
                                                <xsd:restriction base="xsd:string">
                                                    <xsd:enumeration value="Inactive"/>
                                                    <xsd:enumeration value="Active"/>
                                                    <xsd:enumeration value="Expired"/>
                                                </xsd:restriction>
                                            </xsd:simpleType>
                                        </xsd:element>
                                        <xsd:element maxOccurs="1" minOccurs="0" name="ParentServiceContractId" nillable="true" type="ID">
                                            <xsd:annotation>
                                                <xsd:documentation>Parent Service Contract ID</xsd:documentation>
                                            </xsd:annotation>
                                        </xsd:element>
                                        <xsd:element maxOccurs="1" minOccurs="0" name="RootServiceContractId" nillable="true" type="ID">
                                            <xsd:annotation>
                                                <xsd:documentation>Root Service Contract ID</xsd:documentation>
                                            </xsd:annotation>
                                        </xsd:element>
                                        <xsd:element maxOccurs="1" minOccurs="0" name="SAP_SalesContract_Ref__c" nillable="true">
                                            <xsd:annotation>
                                                <xsd:documentation>SAP Sales Contract Reference</xsd:documentation>
                                            </xsd:annotation>
                                            <xsd:simpleType>
                                                <xsd:restriction base="xsd:string">
                                                    <xsd:minLength value="0"/>
                                                    <xsd:maxLength value="50"/>
                                                </xsd:restriction>
                                            </xsd:simpleType>
                                        </xsd:element>
                                        <xsd:element maxOccurs="1" minOccurs="0" name="SAP_Reference__c" nillable="true">
                                            <xsd:annotation>
                                                <xsd:documentation>SAP_Reference_Number</xsd:documentation>
                                            </xsd:annotation>
                                            <xsd:simpleType>
                                                <xsd:restriction base="xsd:string">
                                                    <xsd:minLength value="0"/>
                                                    <xsd:maxLength value="50"/>
                                                </xsd:restriction>
                                            </xsd:simpleType>
                                        </xsd:element>
                                        <xsd:element maxOccurs="1" minOccurs="0" name="Released__c" nillable="false" type="xsd:boolean">
                                            <xsd:annotation>
                                                <xsd:documentation>Released</xsd:documentation>
                                            </xsd:annotation>
                                        </xsd:element>
                                        <xsd:element maxOccurs="1" minOccurs="0" name="Account"/>
                                        <xsd:element maxOccurs="1" minOccurs="0" name="Contact"/>
                                        <xsd:element maxOccurs="1" minOccurs="0" name="Pricebook2" type="Pricebook2Ref"/>
                                        <xsd:element maxOccurs="1" minOccurs="0" name="ParentServiceContract" type="ParentServiceContractRef"/>
                                    </xsd:sequence>
                                </xsd:complexType>
                            </xsd:element>
                        </xsd:sequence>
                    </xsd:complexType>
                </xsd:element>
                <xsd:element name="compositeRequest_ContractLineItem" maxOccurs="unbounded">
                    <xsd:complexType>
                        <xsd:sequence>
                            <xsd:element maxOccurs="1" minOccurs="1" name="method" type="xsd:string"/>
                            <xsd:element maxOccurs="1" minOccurs="1" name="referenceId" type="xsd:string"/>
                            <xsd:element maxOccurs="1" minOccurs="1" name="url" type="xsd:string"/>
                            <xsd:element name="body">
                                <xsd:complexType>
                                    <xsd:sequence>
                                        <xsd:element maxOccurs="1" minOccurs="0" name="Id" nillable="false" type="ID">
                                            <xsd:annotation>
                                                <xsd:documentation>Contract Line Item ID</xsd:documentation>
                                            </xsd:annotation>
                                        </xsd:element>
                                        <xsd:element maxOccurs="1" minOccurs="0" name="IsDeleted" nillable="false" type="xsd:boolean">
                                            <xsd:annotation>
                                                <xsd:documentation>Deleted</xsd:documentation>
                                            </xsd:annotation>
                                        </xsd:element>
                                        <xsd:element maxOccurs="1" minOccurs="0" name="LineItemNumber" nillable="false">
                                            <xsd:annotation>
                                                <xsd:documentation>Line Item Number</xsd:documentation>
                                            </xsd:annotation>
                                            <xsd:simpleType>
                                                <xsd:restriction base="xsd:string">
                                                    <xsd:minLength value="0"/>
                                                    <xsd:maxLength value="255"/>
                                                </xsd:restriction>
                                            </xsd:simpleType>
                                        </xsd:element>
                                        <xsd:element maxOccurs="1" minOccurs="0" name="CurrencyIsoCode" nillable="false">
                                            <xsd:annotation>
                                                <xsd:documentation>Currency ISO Code</xsd:documentation>
                                            </xsd:annotation>
                                            <xsd:simpleType>
                                                <xsd:restriction base="xsd:string">
                                                    <xsd:enumeration value="EUR"/>
                                                    <xsd:enumeration value="USD"/>
                                                </xsd:restriction>
                                            </xsd:simpleType>
                                        </xsd:element>
                                        <xsd:element maxOccurs="1" minOccurs="0" name="CreatedDate" nillable="false" type="xsd:dateTime">
                                            <xsd:annotation>
                                                <xsd:documentation>Created Date</xsd:documentation>
                                            </xsd:annotation>
                                        </xsd:element>
                                        <xsd:element maxOccurs="1" minOccurs="0" name="CreatedById" nillable="false" type="ID">
                                            <xsd:annotation>
                                                <xsd:documentation>Created By ID</xsd:documentation>
                                            </xsd:annotation>
                                        </xsd:element>
                                        <xsd:element maxOccurs="1" minOccurs="0" name="LastModifiedDate" nillable="false" type="xsd:dateTime">
                                            <xsd:annotation>
                                                <xsd:documentation>Last Modified Date</xsd:documentation>
                                            </xsd:annotation>
                                        </xsd:element>
                                        <xsd:element maxOccurs="1" minOccurs="0" name="LastModifiedById" nillable="false" type="ID">
                                            <xsd:annotation>
                                                <xsd:documentation>Last Modified By ID</xsd:documentation>
                                            </xsd:annotation>
                                        </xsd:element>
                                        <xsd:element maxOccurs="1" minOccurs="0" name="SystemModstamp" nillable="false" type="xsd:dateTime">
                                            <xsd:annotation>
                                                <xsd:documentation>System Modstamp</xsd:documentation>
                                            </xsd:annotation>
                                        </xsd:element>
                                        <xsd:element maxOccurs="1" minOccurs="0" name="LastViewedDate" nillable="true" type="xsd:dateTime">
                                            <xsd:annotation>
                                                <xsd:documentation>Last Viewed Date</xsd:documentation>
                                            </xsd:annotation>
                                        </xsd:element>
                                        <xsd:element maxOccurs="1" minOccurs="0" name="LastReferencedDate" nillable="true" type="xsd:dateTime">
                                            <xsd:annotation>
                                                <xsd:documentation>Last Referenced Date</xsd:documentation>
                                            </xsd:annotation>
                                        </xsd:element>
                                        <xsd:element maxOccurs="1" minOccurs="0" name="ServiceContractId" nillable="false" type="ID">
                                            <xsd:annotation>
                                                <xsd:documentation>Service Contract ID</xsd:documentation>
                                            </xsd:annotation>
                                        </xsd:element>
                                        <xsd:element maxOccurs="1" minOccurs="0" name="Product2Id" nillable="true" type="ID">
                                            <xsd:annotation>
                                                <xsd:documentation>Product ID</xsd:documentation>
                                            </xsd:annotation>
                                        </xsd:element>
                                        <xsd:element maxOccurs="1" minOccurs="0" name="AssetId" nillable="true" type="ID">
                                            <xsd:annotation>
                                                <xsd:documentation>Asset ID</xsd:documentation>
                                            </xsd:annotation>
                                        </xsd:element>
                                        <xsd:element maxOccurs="1" minOccurs="0" name="StartDate" nillable="true" type="xsd:date">
                                            <xsd:annotation>
                                                <xsd:documentation>Start Date</xsd:documentation>
                                            </xsd:annotation>
                                        </xsd:element>
                                        <xsd:element maxOccurs="1" minOccurs="0" name="EndDate" nillable="true" type="xsd:date">
                                            <xsd:annotation>
                                                <xsd:documentation>End Date</xsd:documentation>
                                            </xsd:annotation>
                                        </xsd:element>
                                        <xsd:element maxOccurs="1" minOccurs="0" name="Description" nillable="true">
                                            <xsd:annotation>
                                                <xsd:documentation>Description</xsd:documentation>
                                            </xsd:annotation>
                                            <xsd:simpleType>
                                                <xsd:restriction base="xsd:string">
                                                    <xsd:minLength value="0"/>
                                                    <xsd:maxLength value="32000"/>
                                                </xsd:restriction>
                                            </xsd:simpleType>
                                        </xsd:element>
                                        <xsd:element maxOccurs="1" minOccurs="0" name="PricebookEntryId" nillable="false" type="ID">
                                            <xsd:annotation>
                                                <xsd:documentation>Price Book Entry ID</xsd:documentation>
                                            </xsd:annotation>
                                        </xsd:element>
                                        <xsd:element maxOccurs="1" minOccurs="0" name="Quantity" nillable="false" type="xsd:double">
                                            <xsd:annotation>
                                                <xsd:documentation>Quantity</xsd:documentation>
                                            </xsd:annotation>
                                        </xsd:element>
                                        <xsd:element maxOccurs="1" minOccurs="0" name="UnitPrice" nillable="false" type="xsd:double">
                                            <xsd:annotation>
                                                <xsd:documentation>Sales Price</xsd:documentation>
                                            </xsd:annotation>
                                        </xsd:element>
                                        <xsd:element maxOccurs="1" minOccurs="0" name="Discount" nillable="true" type="xsd:double">
                                            <xsd:annotation>
                                                <xsd:documentation>Discount</xsd:documentation>
                                            </xsd:annotation>
                                        </xsd:element>
                                        <xsd:element maxOccurs="1" minOccurs="0" name="ListPrice" nillable="true" type="xsd:double">
                                            <xsd:annotation>
                                                <xsd:documentation>List Price</xsd:documentation>
                                            </xsd:annotation>
                                        </xsd:element>
                                        <xsd:element maxOccurs="1" minOccurs="0" name="Subtotal" nillable="true" type="xsd:double">
                                            <xsd:annotation>
                                                <xsd:documentation>Subtotal </xsd:documentation>
                                            </xsd:annotation>
                                        </xsd:element>
                                        <xsd:element maxOccurs="1" minOccurs="0" name="TotalPrice" nillable="true" type="xsd:double">
                                            <xsd:annotation>
                                                <xsd:documentation>Total Price</xsd:documentation>
                                            </xsd:annotation>
                                        </xsd:element>
                                        <xsd:element maxOccurs="1" minOccurs="0" name="Status" nillable="true">
                                            <xsd:annotation>
                                                <xsd:documentation>Status</xsd:documentation>
                                            </xsd:annotation>
                                            <xsd:simpleType>
                                                <xsd:restriction base="xsd:string">
                                                    <xsd:enumeration value="Inactive"/>
                                                    <xsd:enumeration value="Active"/>
                                                    <xsd:enumeration value="Expired"/>
                                                </xsd:restriction>
                                            </xsd:simpleType>
                                        </xsd:element>
                                        <xsd:element maxOccurs="1" minOccurs="0" name="ParentContractLineItemId" nillable="true" type="ID">
                                            <xsd:annotation>
                                                <xsd:documentation>Contract Line Item ID</xsd:documentation>
                                            </xsd:annotation>
                                        </xsd:element>
                                        <xsd:element maxOccurs="1" minOccurs="0" name="RootContractLineItemId" nillable="true" type="ID">
                                            <xsd:annotation>
                                                <xsd:documentation>Contract Line Item ID</xsd:documentation>
                                            </xsd:annotation>
                                        </xsd:element>
                                        <xsd:element maxOccurs="1" minOccurs="0" name="SAP_SalesContractItem_Ref__c" nillable="true">
                                            <xsd:annotation>
                                                <xsd:documentation>SAP Sales Contract Item Reference</xsd:documentation>
                                            </xsd:annotation>
                                            <xsd:simpleType>
                                                <xsd:restriction base="xsd:string">
                                                    <xsd:minLength value="0"/>
                                                    <xsd:maxLength value="50"/>
                                                </xsd:restriction>
                                            </xsd:simpleType>
                                        </xsd:element>
                                        <xsd:element maxOccurs="1" minOccurs="0" name="SAP_Reference__c" nillable="true">
                                            <xsd:annotation>
                                                <xsd:documentation>SAP_Reference</xsd:documentation>
                                            </xsd:annotation>
                                            <xsd:simpleType>
                                                <xsd:restriction base="xsd:string">
                                                    <xsd:minLength value="0"/>
                                                    <xsd:maxLength value="50"/>
                                                </xsd:restriction>
                                            </xsd:simpleType>
                                        </xsd:element>
                                        <xsd:element maxOccurs="1" minOccurs="0" name="ServiceContract" type="ServiceContractRef"/>
                                        <xsd:element maxOccurs="1" minOccurs="0" name="Asset" type="AssetRef"/>
                                        <xsd:element maxOccurs="1" minOccurs="0" name="PricebookEntry" type="PricebookEntryRef"/>
                                        <xsd:element maxOccurs="1" minOccurs="0" name="ParentContractLineItem" type="ParentContractLineItemRef"/>
                                    </xsd:sequence>
                                </xsd:complexType>
                            </xsd:element>
                        </xsd:sequence>
                    </xsd:complexType>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:complexType xmlns="http://www.w3.org/2001/XMLSchema-instance" name="address">
        <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="0" name="latitude" nillable="true" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="longitude" nillable="true" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="city" nillable="true" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="country" nillable="true" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="countryCode" nillable="true" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="geocodeAccuracy" nillable="true" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="postalCode" nillable="true" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="state" nillable="true" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="stateCode" nillable="true" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="street" nillable="true" type="xsd:string"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType xmlns="http://www.w3.org/2001/XMLSchema" name="Pricebook2Ref">
        <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="0" name="Id" type="xsd:anyType"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="IsDeleted" type="xsd:boolean"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="Name" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="CurrencyIsoCode" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="CreatedDate" type="xsd:dateTime"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="CreatedById" type="xsd:anyType"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="LastModifiedDate" type="xsd:dateTime"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="LastModifiedById" type="xsd:anyType"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="SystemModstamp" type="xsd:dateTime"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="LastViewedDate" type="xsd:dateTime"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="LastReferencedDate" type="xsd:dateTime"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="IsActive" type="xsd:boolean"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="IsArchived" type="xsd:boolean"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="Description" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="IsStandard" type="xsd:boolean"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="SAPReferenceNumber__c" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="SAP_PriceBook_Ref__c" type="xsd:string"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType xmlns="http://www.w3.org/2001/XMLSchema" name="ParentServiceContractRef">
        <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="0" name="Id" type="xsd:anyType"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="OwnerId" type="xsd:anyType"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="IsDeleted" type="xsd:boolean"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="Name" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="CurrencyIsoCode" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="CreatedDate" type="xsd:dateTime"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="CreatedById" type="xsd:anyType"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="LastModifiedDate" type="xsd:dateTime"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="LastModifiedById" type="xsd:anyType"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="SystemModstamp" type="xsd:dateTime"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="LastViewedDate" type="xsd:dateTime"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="LastReferencedDate" type="xsd:dateTime"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="AccountId" type="xsd:anyType"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="ContactId" type="xsd:anyType"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="Term" type="xsd:int"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="StartDate" type="xsd:anyType"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="EndDate" type="xsd:anyType"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="ActivationDate" type="xsd:dateTime"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="ApprovalStatus" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="Description" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="BillingStreet" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="BillingCity" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="BillingState" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="BillingPostalCode" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="BillingCountry" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="BillingLatitude" type="xsd:anyType"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="BillingLongitude" type="xsd:anyType"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="BillingGeocodeAccuracy" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="BillingAddress" type="xsd:anyType"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="ShippingStreet" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="ShippingCity" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="ShippingState" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="ShippingPostalCode" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="ShippingCountry" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="ShippingLatitude" type="xsd:anyType"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="ShippingLongitude" type="xsd:anyType"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="ShippingGeocodeAccuracy" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="ShippingAddress" type="xsd:anyType"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="Pricebook2Id" type="xsd:anyType"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="ShippingHandling" type="xsd:anyType"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="Tax" type="xsd:anyType"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="Subtotal" type="xsd:anyType"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="TotalPrice" type="xsd:anyType"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="LineItemCount" type="xsd:int"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="ContractNumber" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="SpecialTerms" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="Discount" type="xsd:anyType"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="GrandTotal" type="xsd:anyType"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="Status" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="ParentServiceContractId" type="xsd:anyType"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="RootServiceContractId" type="xsd:anyType"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="SAP_SalesContract_Ref__c" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="SAP_Reference__c" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="Released__c" type="xsd:boolean"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:simpleType name="ID">
        <xsd:restriction base="xsd:string">
            <xsd:pattern value="[a-zA-Z0-9]{18}"/>
            <xsd:pattern value="[a-zA-Z0-9]{15}"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:complexType xmlns="http://www.w3.org/2001/XMLSchema" name="ServiceContractRef">
        <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="0" name="Id" type="xsd:anyType"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="OwnerId" type="xsd:anyType"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="IsDeleted" type="xsd:boolean"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="Name" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="CurrencyIsoCode" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="CreatedDate" type="xsd:dateTime"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="CreatedById" type="xsd:anyType"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="LastModifiedDate" type="xsd:dateTime"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="LastModifiedById" type="xsd:anyType"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="SystemModstamp" type="xsd:dateTime"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="LastViewedDate" type="xsd:dateTime"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="LastReferencedDate" type="xsd:dateTime"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="AccountId" type="xsd:anyType"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="ContactId" type="xsd:anyType"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="Term" type="xsd:int"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="StartDate" type="xsd:anyType"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="EndDate" type="xsd:anyType"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="ActivationDate" type="xsd:dateTime"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="ApprovalStatus" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="Description" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="BillingStreet" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="BillingCity" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="BillingState" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="BillingPostalCode" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="BillingCountry" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="BillingLatitude" type="xsd:anyType"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="BillingLongitude" type="xsd:anyType"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="BillingGeocodeAccuracy" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="BillingAddress" type="xsd:anyType"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="ShippingStreet" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="ShippingCity" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="ShippingState" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="ShippingPostalCode" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="ShippingCountry" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="ShippingLatitude" type="xsd:anyType"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="ShippingLongitude" type="xsd:anyType"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="ShippingGeocodeAccuracy" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="ShippingAddress" type="xsd:anyType"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="Pricebook2Id" type="xsd:anyType"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="ShippingHandling" type="xsd:anyType"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="Tax" type="xsd:anyType"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="Subtotal" type="xsd:anyType"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="TotalPrice" type="xsd:anyType"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="LineItemCount" type="xsd:int"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="ContractNumber" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="SpecialTerms" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="Discount" type="xsd:anyType"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="GrandTotal" type="xsd:anyType"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="Status" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="ParentServiceContractId" type="xsd:anyType"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="RootServiceContractId" type="xsd:anyType"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="SAP_SalesContract_Ref__c" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="SAP_Reference__c" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="Released__c" type="xsd:boolean"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType xmlns="http://www.w3.org/2001/XMLSchema" name="AssetRef">
        <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="0" name="Id" type="xsd:anyType"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="ContactId" type="xsd:anyType"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="AccountId" type="xsd:anyType"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="ParentId" type="xsd:anyType"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="RootAssetId" type="xsd:anyType"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="Product2Id" type="xsd:anyType"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="ProductCode" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="IsCompetitorProduct" type="xsd:boolean"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="CreatedDate" type="xsd:dateTime"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="CreatedById" type="xsd:anyType"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="LastModifiedDate" type="xsd:dateTime"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="LastModifiedById" type="xsd:anyType"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="SystemModstamp" type="xsd:dateTime"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="IsDeleted" type="xsd:boolean"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="CurrencyIsoCode" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="Name" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="SerialNumber" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="InstallDate" type="xsd:anyType"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="PurchaseDate" type="xsd:anyType"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="UsageEndDate" type="xsd:anyType"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="Status" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="Price" type="xsd:anyType"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="Quantity" type="xsd:anyType"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="Description" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="OwnerId" type="xsd:anyType"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="StockKeepingUnit" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="LastViewedDate" type="xsd:dateTime"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="LastReferencedDate" type="xsd:dateTime"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType xmlns="http://www.w3.org/2001/XMLSchema" name="PricebookEntryRef">
        <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="0" name="Id" type="xsd:anyType"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="Name" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="Pricebook2Id" type="xsd:anyType"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="Product2Id" type="xsd:anyType"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="CurrencyIsoCode" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="UnitPrice" type="xsd:anyType"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="IsActive" type="xsd:boolean"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="UseStandardPrice" type="xsd:boolean"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="CreatedDate" type="xsd:dateTime"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="CreatedById" type="xsd:anyType"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="LastModifiedDate" type="xsd:dateTime"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="LastModifiedById" type="xsd:anyType"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="SystemModstamp" type="xsd:dateTime"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="ProductCode" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="IsDeleted" type="xsd:boolean"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="IsArchived" type="xsd:boolean"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="SAPPBEKey__c" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="SAP_PriceBookEntry_Ref__c" type="xsd:string"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType xmlns="http://www.w3.org/2001/XMLSchema" name="ParentContractLineItemRef">
        <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="0" name="Id" type="xsd:anyType"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="IsDeleted" type="xsd:boolean"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="LineItemNumber" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="CurrencyIsoCode" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="CreatedDate" type="xsd:dateTime"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="CreatedById" type="xsd:anyType"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="LastModifiedDate" type="xsd:dateTime"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="LastModifiedById" type="xsd:anyType"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="SystemModstamp" type="xsd:dateTime"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="LastViewedDate" type="xsd:dateTime"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="LastReferencedDate" type="xsd:dateTime"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="ServiceContractId" type="xsd:anyType"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="Product2Id" type="xsd:anyType"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="AssetId" type="xsd:anyType"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="StartDate" type="xsd:anyType"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="EndDate" type="xsd:anyType"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="Description" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="PricebookEntryId" type="xsd:anyType"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="Quantity" type="xsd:anyType"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="UnitPrice" type="xsd:anyType"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="Discount" type="xsd:anyType"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="ListPrice" type="xsd:anyType"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="Subtotal" type="xsd:anyType"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="TotalPrice" type="xsd:anyType"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="Status" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="ParentContractLineItemId" type="xsd:anyType"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="RootContractLineItemId" type="xsd:anyType"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="SAP_SalesContractItem_Ref__c" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="SAP_Reference__c" type="xsd:string"/>
        </xsd:sequence>
    </xsd:complexType>
</xsd:schema>
