Resources/schemas/Xsd/SAP_Commerce_financial_services_accelerator_integration_with_SAP_for_Insurance - Outbound Payload-2.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="cart">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="coverages" maxOccurs="unbounded" minOccurs="0" >
					<xs:complexType>
						<xs:sequence>
							<xs:element type="xs:string" name="premiumAfterTax"/>
							<xs:element type="xs:string" name="premiumBeforeTax"/>
							<xs:element type="xs:string" name="technicalID"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="quoteInformation">
					<xs:complexType>
						<xs:sequence>
							<xs:element type="xs:string" name= "premiumAfterTax"/>
							<xs:element type="xs:string" name="premiumBeforeTax"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>