Resources/schemas/Xsd/SAP_Commerce_Integration_with_SAP_CPQ_and_SAP_Subscription_Billing - rc_getcustomers_schema.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
          <!-- XML Schema Generated from XML Document on Wed Jun 13 2018 11:37:11 GMT+0530 (IST) -->
          <!-- with XmlGrid.net Free Online Service http://xmlgrid.net -->
       <xs:element name="customers">
              <xs:complexType>
                     <xs:sequence>
                            <xs:element name="customer">
                                   <xs:complexType>
                                          <xs:sequence>
                                                 <xs:element name="changedAt" type="xs:string"></xs:element>
                                                 <xs:element name="changedBy" type="xs:string"></xs:element>
                                                 <xs:element name="corporateInfo"></xs:element>
                                                 <xs:element name="createdAt" type="xs:string"></xs:element>
                                                 <xs:element name="createdBy" type="xs:string"></xs:element>
                                                 <xs:element name="customerNumber" type="xs:int"></xs:element>
                                                 <xs:element name="customerType" type="xs:string"></xs:element>
                                                 <xs:element name="externalObjectReferences">
                                                        <xs:complexType>
                                                               <xs:sequence>
                                                                      <xs:element name="customer" maxOccurs="unbounded">
                                                                             <xs:complexType>
                                                                                    <xs:sequence>
                                                                                           <xs:element name="externalId" type="xs:int"></xs:element>
                                                                                           <xs:element name="externalIdTypeCode" type="xs:int"></xs:element>
                                                                                           <xs:element name="externalSystemId" type="xs:string"></xs:element>
                                                                                       </xs:sequence>
                                                                                </xs:complexType>
                                                                         </xs:element>
                                                                  </xs:sequence>
                                                           </xs:complexType>
                                                    </xs:element>
                                                 <xs:element name="personalInfo">
                                                        <xs:complexType>
                                                               <xs:sequence>
                                                                      <xs:element name="firstName" type="xs:string"></xs:element>
                                                                      <xs:element name="lastName" type="xs:string"></xs:element>
                                                                  </xs:sequence>
                                                           </xs:complexType>
                                                    </xs:element>
                                             </xs:sequence>
                                      </xs:complexType>
                               </xs:element>
                        </xs:sequence>
                 </xs:complexType>
          </xs:element>
   </xs:schema>