Resources/schemas/Xsd/SAP_Customer_Relationship_Management_Integration_with_SAP_Field_Service_Management - Attachment_FSM_Out-1.xsd

<xs:schema attributeFormDefault="unqualified"
	elementFormDefault="qualified"
	xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="root">
		<xs:complexType>
			<xs:sequence>
				<xs:element name='fsm_header'>
					<xs:complexType>
						<xs:sequence>
							<xs:element type="xs:string" name="x-message-id"
								minOccurs="0" maxOccurs="1" />
							<xs:element type="xs:float" name="x-account-id"
								minOccurs="0" maxOccurs="1" />
							<xs:element type="xs:float" name="x-company-id"
								minOccurs="0" maxOccurs="1" />
							<xs:element type="xs:string" name="x-account-name"
								minOccurs="0" maxOccurs="1" />
							<xs:element type="xs:string" name="x-company-name"
								minOccurs="0" maxOccurs="1" />
							<xs:element type="xs:string" name="CRM_tenant_ID"
								minOccurs="0" maxOccurs="1" />
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name='fsm_body'>
					<xs:complexType>
						<xs:sequence>
							<xs:element type="xs:string" name="eventType"
								minOccurs="0" maxOccurs="1" />
							<xs:element type="xs:float" name="eventTypeVersion"
								minOccurs="0" maxOccurs="1" />
							<xs:element type="xs:float" name="cloudEventsVersion"
								minOccurs="0" maxOccurs="1" />
							<xs:element type="xs:string" name="source"
								minOccurs="0" maxOccurs="1" />
							<xs:element type="xs:string" name="eventID"
								minOccurs="0" maxOccurs="1" />
							<xs:element type="xs:dateTime" name="eventTime"
								minOccurs="0" maxOccurs="1" />
							<xs:element type="xs:string" name="contentType"
								minOccurs="0" maxOccurs="1" />
							<xs:element name="extensions" minOccurs="0"
								maxOccurs="1">
								<xs:complexType>
									<xs:sequence>
										<xs:element type="xs:string" name="traceId"
											minOccurs="0" maxOccurs="1" />
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="data" minOccurs="0" maxOccurs="1">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="serviceCall" minOccurs="0"
											maxOccurs="1">
											<xs:complexType>
												<xs:sequence>
													<xs:element type="xs:string" name="id"
														minOccurs="0" maxOccurs="1" />
													<xs:element type="xs:string" name="externalId"
														minOccurs="0" maxOccurs="1" />
												</xs:sequence>
											</xs:complexType>
										</xs:element>
										<xs:element name="activity" minOccurs="0"
											maxOccurs="1">
											<xs:complexType>
												<xs:sequence>
													<xs:element type="xs:string" name="id"
														minOccurs="0" maxOccurs="1" />
													<xs:element type="xs:string" name="externalId"
														minOccurs="0" maxOccurs="1" />
												</xs:sequence>
											</xs:complexType>
										</xs:element>
										<xs:element name="attachment" minOccurs="0"
											maxOccurs="1">
											<xs:complexType>
												<xs:sequence>
													<xs:element type="xs:string" name="id"
														minOccurs="0" maxOccurs="1" />
													<xs:element type="xs:byte" name="fileName"
														minOccurs="0" maxOccurs="1" />
													<xs:element type="xs:string" name="externalId"
														minOccurs="0" maxOccurs="1" />
													<xs:element type="xs:string" name="description"
														minOccurs="0" maxOccurs="1" />
													<xs:element type="xs:string" name="type"
														minOccurs="0" maxOccurs="1" />
													<xs:element type="xs:byte" name="createDateTime"
														minOccurs="0" maxOccurs="1" />
													<xs:element type="xs:string" name="category"
														minOccurs="0" maxOccurs="1" />
													<xs:element name="object" minOccurs="0"
														maxOccurs="1">
														<xs:complexType>
															<xs:sequence>
																<xs:element name="objectId" minOccurs="0"
																	maxOccurs="1">
																	<xs:complexType>
																		<xs:sequence>
																			<xs:element type="xs:string" name="id"
																				minOccurs="0" maxOccurs="1" />
																			<xs:element type="xs:string"
																				name="externalId" minOccurs="0" maxOccurs="1" />
																		</xs:sequence>
																	</xs:complexType>
																</xs:element>
																<xs:element type="xs:string"
																	name="objectType" minOccurs="0" maxOccurs="1" />
															</xs:sequence>
														</xs:complexType>
													</xs:element>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>