Resources/schemas/Xsd/SAP_Customer_Relationship_Management_Integration_with_SAP_Field_Service_Management - Equipments-1.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  
 <xs:element name="Equipment" type="EquipmentDTO"/>
  
  <xs:complexType name="EquipmentMetadata">
    <xs:sequence>
       <xs:element name="businessPartner" maxOccurs="1" minOccurs="0">
               <xs:complexType>
                  <xs:sequence>
                     <xs:element type="xs:string" name="code" minOccurs="0" />
                     <xs:element type="xs:string" name="externalId" minOccurs="0" />
                     <xs:element type="xs:string" name="id" minOccurs="0" />
                  </xs:sequence>
               </xs:complexType>
            </xs:element>
      <xs:element type="xs:string" name="globalUniqueId"  minOccurs="0"/>
      <xs:element type="xs:string" name="manufacturerSerialNumber"  minOccurs="0"/>
      <xs:element type="xs:string" name="name"  minOccurs="0"/>
      <xs:element type="xs:string" name="code"  minOccurs="0"/>
      <xs:element type="xs:string" name="remarks"  minOccurs="0"/>
        <xs:element type="xs:string" name="status"  minOccurs="0"/>
        <xs:element type="xs:string" name="type"  minOccurs="0"/>
        <xs:element type="xs:string" name="externalId"  minOccurs="0"/>
        <xs:element type="xs:string" name="id"  minOccurs="0"/>
      <xs:element name="contact" maxOccurs="1" minOccurs="0">
     <xs:complexType>
     <xs:sequence>
              <xs:element type="xs:string" name="code"  maxOccurs="unbounded" minOccurs="0" />
              <xs:element type="xs:string" name="externalId" maxOccurs="unbounded" minOccurs="0" />
             <xs:element type="xs:string" name="id" maxOccurs="unbounded" minOccurs="0" />
    </xs:sequence>
   </xs:complexType>
   </xs:element>
     <xs:element name="owners" maxOccurs="1" minOccurs="0">
     <xs:complexType>
     <xs:sequence>
              <xs:element type="xs:string" name="code"  maxOccurs="unbounded" minOccurs="0" />
              <xs:element type="xs:string" name="externalId" maxOccurs="unbounded" minOccurs="0" />
             <xs:element type="xs:string" name="id" maxOccurs="unbounded" minOccurs="0" />
    </xs:sequence>
   </xs:complexType>
   </xs:element>
      <xs:element name="item" maxOccurs="1" minOccurs="0">
               <xs:complexType>
                  <xs:sequence>
                     <xs:element type="xs:string" name="code" maxOccurs="1" minOccurs="0" />
                     <xs:element type="xs:string" name="externalId" maxOccurs="1" minOccurs="0" />
                     <xs:element type="xs:string" name="id" maxOccurs="1" minOccurs="0" />
                  </xs:sequence>
               </xs:complexType>
            </xs:element>
              </xs:sequence>
  </xs:complexType>


  

  <xs:complexType name="EquipmentDTO">
    <xs:sequence>
      <xs:element type="EquipmentMetadata" name="EQUIPMENT" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
  
</xs:schema>