Resources/schemas/Xsd/SAP_Entitlement_Management_Integration_with_SAP_S-4HANA - Inbound_Interface_Entitlement_Generation-5.xsd

<?xml version="1.0" encoding="UTF-8"?><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" version="1.0">
  <xsd:element name="Inbound_Interface_Entitlement_Generation">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element maxOccurs="unbounded" name="Inbound_Interface_Entitlement_Generation">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element maxOccurs="1" minOccurs="1" name="SourceSystem" type="xsd:string"/>
              <xsd:element maxOccurs="1" minOccurs="0" name="GenerationMethod" type="xsd:string"/>
              <xsd:element maxOccurs="1" minOccurs="1" name="CustomerID" type="xsd:string"/>
              <xsd:element maxOccurs="1" minOccurs="0" name="CustomerName" type="xsd:string"/>
              <xsd:element maxOccurs="1" minOccurs="0" name="CreatedBy" type="xsd:string"/>
              <xsd:element maxOccurs="1" minOccurs="0" name="CreatedAt" type="xsd:date"/>
              <xsd:element maxOccurs="1" minOccurs="0" name="SalesOrganization" type="xsd:string"/>
              <xsd:element maxOccurs="1" minOccurs="0" name="SalesGroup" type="xsd:string"/>
              <xsd:element maxOccurs="1" minOccurs="0" name="SalesOffice" type="xsd:string"/>
              <xsd:element maxOccurs="1" minOccurs="0" name="DistributionChannel" type="xsd:string"/>
              <xsd:element maxOccurs="1" minOccurs="0" name="DocumentCategory" type="xsd:string"/>
              <xsd:element maxOccurs="1" minOccurs="0" name="DocumentType" type="xsd:string"/>
              <xsd:element maxOccurs="1" minOccurs="1" name="DocumentNumber" type="xsd:string"/>
              
              <xsd:element maxOccurs="unbounded" minOccurs="1" name="Item">
                <xsd:complexType>
                  <xsd:sequence>
                    <xsd:element maxOccurs="1" minOccurs="1" name="ItemNumber" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="ItemCategory" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="1" name="OfferingID" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="OfferingName" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="OfferingCategory" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="1" name="Quantity" type="xsd:integer"/>
                    <xsd:element maxOccurs="1" minOccurs="1" name="UoM" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="ItemValidFrom" type="xsd:date"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="ItemValidTo" type="xsd:date"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="ParentItemNumber" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="BusinessEvent" type="xsd:string"/>
                  </xsd:sequence>
                </xsd:complexType>
              </xsd:element>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
</xsd:schema>