Resources/schemas/Xsd/SAP_SuccessFactors_Recruiting_Management_Integration_with_Third_Party_Assessment_Vendor_-_People_Answers - UserEntityquerySync1.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?><xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema"><xs:element name="queryUserResponse"><xs:complexType><xs:sequence><xs:element minOccurs="0" maxOccurs="unbounded" name="User"><xs:complexType><xs:sequence><xs:element type="xs:string" nillable="true" minOccurs="0" maxOccurs="unbounded" name="email" xmlns=""/></xs:sequence></xs:complexType></xs:element></xs:sequence></xs:complexType></xs:element></xs:schema>