Resources/schemas/Xsd/SAP_S-4HANA_Cloud_Public_Edition_Integration_with_Shopify - s4ReturnOrderCreationRequestSchema.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns="http://example.com/returnorder"
           elementFormDefault="qualified">

    <!-- Define the root element -->
    <xs:element name="ReturnOrder">
        <xs:complexType>
            <xs:sequence>
                <!-- Define CustomerReturnType as a string -->
                <xs:element name="CustomerReturnType" type="xs:string" minOccurs="1" maxOccurs="1"/>
                
                <!-- Define ReferenceSDDocument as a string -->
                <xs:element name="ReferenceSDDocument" type="xs:string" minOccurs="1" maxOccurs="1"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

</xs:schema>