Resources/schemas/Xsd/SAP_SuccessFactors_Employee_Central_Integration_with_Alight_-_Legacy_Version - FOPayComponentEntityGET0-1.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?><xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema"><xs:element name="FOPayComponent"><xs:complexType><xs:sequence><xs:element minOccurs="1" maxOccurs="unbounded" name="FOPayComponent"><xs:complexType><xs:sequence><xs:element type="xs:double" nillable="true" minOccurs="0" maxOccurs="unbounded" name="rate" xmlns=""/><xs:element nillable="false" maxOccurs="unbounded" name="externalCode"><xs:simpleType><xs:restriction base="xs:string" xmlns=""><xs:maxLength value="32"/></xs:restriction></xs:simpleType></xs:element></xs:sequence></xs:complexType></xs:element></xs:sequence></xs:complexType></xs:element></xs:schema>