Resources/schemas/Xsd/SAP_Business_ByDesign_Master_Data_to_SAP_S-4HANA_Cloud_Public_Edition - MT_Test-1.xsd

<?xml version="1.0" encoding="UTF-8"?><xsd:schema targetNamespace="http://mtechpurebreed.com" xmlns="http://mtechpurebreed.com" xmlns:xsd="http://www.w3.org/2001/XMLSchema"><xsd:element name="MT_Test" type="DT_Test"/><xsd:complexType name="DT_Test"><xsd:sequence><xsd:element name="Records" minOccurs="0" maxOccurs="unbounded"><xsd:complexType><xsd:sequence><xsd:element name="SupplierId" type="xsd:string"/><xsd:element name="SupplierName" type="xsd:string"/><xsd:element name="DUNS" type="xsd:string"/><xsd:element name="GlobalLocationNumber" type="xsd:string"/><xsd:element name="Bidder" type="xsd:string"/><xsd:element name="FreightForwarder" type="xsd:string"/><xsd:element name="LegalForm" type="xsd:string"/><xsd:element name="ABCClassification" type="xsd:string"/><xsd:element name="Industry" type="xsd:string"/><xsd:element name="Status" type="xsd:string"/><xsd:element name="MinimumPurchaseOrderValue" type="xsd:string"/><xsd:element name="MinimumPurchaseOrderValueCurrency" type="xsd:string"/><xsd:element name="Incoterms" type="xsd:string"/><xsd:element name="IncotermsLocation" type="xsd:string"/><xsd:element name="PaymentTerms" type="xsd:string"/><xsd:element name="PaymentOrderCurrency" type="xsd:string"/><xsd:element name="CustomerIdAtSupplier" type="xsd:string"/><xsd:element name="PurchaseOrderAcknowledgementExpected" type="xsd:string"/><xsd:element name="EvaluatedReceiptSettlement" type="xsd:string"/></xsd:sequence></xsd:complexType></xsd:element></xsd:sequence></xsd:complexType></xsd:schema>