Resources/schemas/Xsd/SAP_ERP_Integration_with_SAP_Build_Process_Automation - BAPI_REQUISITION_CHANGE_RESPONSE.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="BAPI_REQUISITION_CHANGE_RESPONSE">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="RETURN" minOccurs="0" maxOccurs="1">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="item" minOccurs="0" maxOccurs="unbounded">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:string" name="TYPE" minOccurs="0" maxOccurs="1"/>
                    <xs:element type="xs:string" name="CODE" minOccurs="0" maxOccurs="1"/>
                    <xs:element type="xs:string" name="MESSAGE" minOccurs="0" maxOccurs="1"/>
                    <xs:element type="xs:string" name="LOG_NO" minOccurs="0" maxOccurs="1"/>
                    <xs:element type="xs:string" name="LOG_MSG_NO" minOccurs="0" maxOccurs="1"/>
                    <xs:element type="xs:string" name="MESSAGE_V1" minOccurs="0" maxOccurs="1"/>
                    <xs:element type="xs:string" name="MESSAGE_V2" minOccurs="0" maxOccurs="1"/>
                    <xs:element type="xs:string" name="MESSAGE_V3" minOccurs="0" maxOccurs="1"/>
                    <xs:element type="xs:string" name="MESSAGE_V4" minOccurs="0" maxOccurs="1"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>