Resources/schemas/Xsd/SAP_Build_Process_Automation_Integration_with_SAP_S-4HANA_for_Free_Form_Payments_Approval - successResponse.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- Created with Liquid Technologies Online Tools 1.0 (https://www.liquid-technologies.com) -->
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="processPayment">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" name="ReturnMessage">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="Message" type="xs:string" />
              <xs:element name="LogNo" />
              <xs:element name="System" />
              <xs:element name="Field" />
              <xs:element name="Type" type="xs:string" />
              <xs:element name="Number" type="xs:unsignedShort" />
              <xs:element name="MessageV4" />
              <xs:element name="MessageV3" />
              <xs:element name="Parameter" />
              <xs:element name="Id" type="xs:string" />
              <xs:element name="Row" type="xs:unsignedByte" />
              <xs:element name="LogMsgNo" type="xs:unsignedByte" />
              <xs:element name="MessageV2" type="xs:string" />
              <xs:element name="MessageV1" type="xs:unsignedInt" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>