Resources/schemas/Xsd/SAP_S-4HANA_Cloud_Integration_with_File_Server_for_Bank_Statement_Import - input.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- Created with Liquid Technologies Online Tools 1.0 (https://www.liquid-technologies.com) -->
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="ALLUpdates">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Header">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="BankNumber" minOccurs="0" type="xs:string" />
              <xs:element name="BankStatementDate" minOccurs="0" type="xs:string" />
              <xs:element name="SWIFTCode" minOccurs="0" type="xs:string" />
              <xs:element name="BankCountry" minOccurs="0" type="xs:string" />
              <xs:element name="Currency" minOccurs="0" type="xs:string" />
              <xs:element name="BankAccount" minOccurs="0" type="xs:string" />
              <xs:element name="BankAccountHolderName" minOccurs="0" type="xs:string" />
              <xs:element name="OpeningBalAmtInBankAcctCrcy" minOccurs="0" type="xs:string" />
              <xs:element name="TotalDebitAmtInBkAcctCrcy" minOccurs="0" type="xs:string" />
              <xs:element name="TotalCreditAmtInBkAcctCrcy" minOccurs="0" type="xs:string" />
              <xs:element name="ClsgBalAmtInBkAcctCrcy" minOccurs="0" type="xs:string" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element maxOccurs="unbounded" name="Item">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="AmountInBankAccountCurrency" minOccurs="0" type="xs:string" />
              <xs:element name="PaymentTransactionCode" minOccurs="0" type="xs:string" />
              <xs:element name="BankStatementItemDescription1" minOccurs="0" type="xs:string" />
              <xs:element name="BankStatementItemDescription2" minOccurs="0" type="xs:string" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>