Resources/schemas/Xsd/SAP_Commerce_Cloud_Integration_with_SAP_S-4HANA_Cloud_-_Service - SERVICEORDERREQUEST_IN.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="MessageHeader">
    <xs:complexType>
      <xs:sequence>
        <xs:element type="xs:dateTime" name="CreationDateTime"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ServiceOrder">
    <xs:complexType>
      <xs:sequence>
        <xs:element type="xs:string" name="ServiceOrderType"/>
        <xs:element name="ServiceOrderDescription">
          <xs:complexType>
            <xs:simpleContent>
              <xs:extension base="xs:string">
                <xs:attribute type="xs:string" name="languageCode"/>
              </xs:extension>
            </xs:simpleContent>
          </xs:complexType>
        </xs:element>
        <xs:element name="ServiceOrderStatus">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="ServiceOrderIsReleased"/>
              <xs:element type="xs:byte" name="ServiceOrderIsCompleted"/>
              <xs:element type="xs:string" name="ServiceOrderIsRejected"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element type="xs:string" name="RequestedServiceStartDateTime"/>
        <xs:element type="xs:string" name="RequestedServiceEndDateTime"/>
        <xs:element type="xs:byte" name="ServiceDocumentPriority"/>
        <xs:element name="OrgUnit">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:short" name="SalesOrganization"/>
              <xs:element type="xs:byte" name="DistributionChannel"/>
              <xs:element type="xs:byte" name="Division"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="Partners">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:int" name="SoldToParty"/>
              <xs:element name="PersonResponsible">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:long" name="PersonResponsible"/>
                  </xs:sequence>
                  <xs:attribute type="xs:byte" name="actionCode"/>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element type="xs:string" name="ReferenceServiceOrder"/>
        <xs:element name="Item" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="Material"/>
              <xs:element name="Quantity">
                <xs:complexType>
                  <xs:simpleContent>
                    <xs:extension base="xs:byte">
                      <xs:attribute type="xs:string" name="unitCode" use="optional"/>
                    </xs:extension>
                  </xs:simpleContent>
                </xs:complexType>
              </xs:element>
              <xs:element name="TextCollection">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="Text">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element type="xs:byte" name="TypeCode"/>
                          <xs:element name="ContentText">
                            <xs:complexType>
                              <xs:simpleContent>
                                <xs:extension base="xs:string">
                                  <xs:attribute type="xs:string" name="languageCode"/>
                                </xs:extension>
                              </xs:simpleContent>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                        <xs:attribute type="xs:byte" name="actionCode"/>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="ServiceDuration" minOccurs="0">
                <xs:complexType>
                  <xs:simpleContent>
                    <xs:extension base="xs:byte">
                      <xs:attribute type="xs:string" name="unitCode"/>
                    </xs:extension>
                  </xs:simpleContent>
                </xs:complexType>
              </xs:element>
              <xs:element type="xs:string" name="BillableControl" minOccurs="0"/>
              <xs:element name="ServiceOrderItemDescription" minOccurs="0">
                <xs:complexType>
                  <xs:simpleContent>
                    <xs:extension base="xs:string">
                      <xs:attribute type="xs:string" name="languageCode"/>
                    </xs:extension>
                  </xs:simpleContent>
                </xs:complexType>
              </xs:element>
              <xs:element name="PriceComponent" minOccurs="0">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:string" name="ConditionType"/>
                    <xs:element type="xs:short" name="ConditionRateValue"/>
                    <xs:element type="xs:string" name="ConditionCurrency"/>
                    <xs:element name="ConditionQuantity">
                      <xs:complexType>
                        <xs:simpleContent>
                          <xs:extension base="xs:byte">
                            <xs:attribute type="xs:string" name="unitCode"/>
                          </xs:extension>
                        </xs:simpleContent>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                  <xs:attribute type="xs:byte" name="actionCode"/>
                </xs:complexType>
              </xs:element>
              <xs:element type="xs:string" name="ReferenceServiceOrderItem"/>
              
              <xs:element type="xs:long" name="ServiceContract" minOccurs="0"/>
              <xs:element type="xs:byte" name="ServiceContractItem" minOccurs="0"/>
              <xs:element type="xs:string" name="ParentRefServiceOrderItem" minOccurs="0"/>
            </xs:sequence>
            <xs:attribute type="xs:byte" name="actionCode" use="optional"/>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
      <xs:attribute type="xs:byte" name="actionCode"/>
    </xs:complexType>
  </xs:element>
</xs:schema>