Resources/schemas/Xsd/SAP_Subscription_Billing_Integration_with_SAP_S-4HANA_-_Sales_Billing - customer_service-1.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="CustomerList">
		<xs:complexType>
			<xs:sequence>
				<xs:element maxOccurs="unbounded" minOccurs="1" name="Customers">
					<xs:complexType>
						<xs:sequence>
							<xs:element maxOccurs="1" minOccurs="1" name="customerNumber" type="xs:string"/>
							<xs:element maxOccurs="1" minOccurs="0" name="personalInfo">
								<xs:complexType>
									<xs:sequence>
										<xs:element maxOccurs="1" minOccurs="0" name="firstName" type="xs:string"/>
										<xs:element maxOccurs="1" minOccurs="0" name="lastName" type="xs:string"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element maxOccurs="1" minOccurs="0" name="corporateInfo">
								<xs:complexType>
									<xs:sequence>
										<xs:element maxOccurs="1" minOccurs="0" name="company" type="xs:string"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element maxOccurs="1" minOccurs="1" name="customerType">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:enumeration value="INDIVIDUAL"/>
										<xs:enumeration value="CORPORATE"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="customReferences" minOccurs="0" maxOccurs="unbounded">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="typeCode" type="xs:string" minOccurs="0"/>
										<xs:element name="id" type="xs:string" minOccurs="0"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element maxOccurs="unbounded" minOccurs="0" name="externalObjectReferences">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="externalSystemId"
											type="xs:string" minOccurs="1" maxOccurs="1">
										</xs:element>
										<xs:element name="externalId"
											type="xs:string" minOccurs="1" maxOccurs="1">
										</xs:element>
										<xs:element maxOccurs="1"
											minOccurs="1" name="externalIdTypeCode" type="xs:string" />
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element maxOccurs="1" minOccurs="0" name="createdBy" type="xs:string"/>
							<xs:element maxOccurs="1" minOccurs="0" name="changedBy" type="xs:string"/>
							<xs:element maxOccurs="1" minOccurs="0" name="createdAt" type="xs:long"/>
							<xs:element maxOccurs="1" minOccurs="0" name="changedAt" type="xs:long"/>
							<xs:element maxOccurs="unbounded" minOccurs="0" name="addresses">
								<xs:complexType>
									<xs:sequence>
										<xs:element maxOccurs="1"
											minOccurs="0" name="contactName" type="xs:string" />
										<xs:element maxOccurs="1"
											minOccurs="1" name="email" type="xs:string" />
										<xs:element maxOccurs="1"
											minOccurs="0" name="phone" type="xs:string" />
										<xs:element maxOccurs="1"
											minOccurs="1" name="street" type="xs:string" />
										<xs:element maxOccurs="1"
											minOccurs="0" name="additionalAddressInfo" type="xs:string" />
										<xs:element maxOccurs="1"
											minOccurs="1" name="houseNumber" type="xs:string" />
										<xs:element maxOccurs="1"
											minOccurs="1" name="city" type="xs:string" />
										<xs:element maxOccurs="1"
											minOccurs="1" name="state" type="xs:string" />
										<xs:element maxOccurs="1"
											minOccurs="1" name="postalCode" type="xs:string" />
										<xs:element maxOccurs="1"
											minOccurs="1" name="country" type="xs:string" />
										<xs:element maxOccurs="1"
											minOccurs="1" name="isDefault" type="xs:boolean" />
										<xs:element name="addressUUID"
											type="xs:string" minOccurs="1" maxOccurs="1">
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element maxOccurs="unbounded" minOccurs="0" name="markets">
								<xs:complexType>
									<xs:sequence>
										<xs:element maxOccurs="1"
											minOccurs="1" name="marketId" type="xs:string" />
										<xs:element maxOccurs="1"
											minOccurs="1" name="currency" type="xs:string" />
									    <xs:element maxOccurs="1"
											minOccurs="1" name="country" type="xs:string" />
										<xs:element maxOccurs="1"
											minOccurs="1" name="active" type="xs:boolean" />
										<xs:element maxOccurs="1"
											minOccurs="0" name="salesArea">
											<xs:complexType>
												<xs:sequence>
													<xs:element
														maxOccurs="1" minOccurs="1" name="salesOrganization"
														type="xs:string" />
													<xs:element
														maxOccurs="1" minOccurs="1" name="distributionChannel"
														type="xs:string" />
													<xs:element
														maxOccurs="1" minOccurs="1" name="division"
														type="xs:string" />
												</xs:sequence>
											</xs:complexType>
										</xs:element>
										<xs:element name="priceInfo"
											minOccurs="0" maxOccurs="1">
                                            <xs:complexType>
                                            	<xs:sequence>
                                            		<xs:element
                                            			name="priceGroup"
                                            			type="xs:string" minOccurs="0">
                                            		</xs:element>
                                            		<xs:element
                                            			name="priceListType"
                                            			type="xs:string" minOccurs="0" maxOccurs="1">
                                            		</xs:element>
                                            		<xs:element
                                            			name="incoterms"
                                            			type="xs:string" minOccurs="0" maxOccurs="1">
                                            		</xs:element>
                                            		<xs:element
                                            			name="incotermsLocation"
                                            			type="xs:string" minOccurs="0" maxOccurs="1">
                                            		</xs:element>
                                            	</xs:sequence>
                                            </xs:complexType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>