Resources/schemas/Xsd/SAP_Complaint_Handling_Integration_with_Master_Data_and_Business_Objects - CMH_BPRelationships.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified"
    xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="businessPartnerRelationships">
        <xs:complexType>
            <xs:sequence>
                <xs:element maxOccurs="unbounded" name="row">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element minOccurs="0" type="xs:date" name="validFrom"/>
                            <xs:element minOccurs="0" type="xs:date" name="validTo"/>
                            <xs:element minOccurs="0" name="isDefaultSource" type="xs:boolean" />
                            <xs:element minOccurs="0" name="isDefaultTarget" type="xs:boolean" />
                            <xs:element minOccurs="0" maxOccurs="unbounded" name="relationshipSource">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element minOccurs="0" type="xs:string" name="businessPartnerNumber"/>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element minOccurs="0" maxOccurs="unbounded" name="relationshipTarget">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element minOccurs="0" type="xs:string" name="businessPartnerNumber"/>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element minOccurs="0" type="xs:string" name="categoryCode"/>
                            <xs:element minOccurs="0" maxOccurs="unbounded" name="contactPerson">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element minOccurs="0" maxOccurs="unbounded" name="address">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element minOccurs="0" type="xs:string" name="isDefault"/>
                                                    <xs:element minOccurs="0" maxOccurs="unbounded" name="emailAddresses">
                                                        <xs:complexType>
                                                            <xs:sequence>
                                                                <xs:element minOccurs="0" type="xs:string" name="emailAddress"/>
                                                                <xs:element minOccurs="0" type="xs:string" name="usageDeniedIndicator"/>
                                                                <xs:element minOccurs="0" type="xs:date" name="validFrom"/>
                                                                <xs:element minOccurs="0" type="xs:date" name="validTo"/>
                                                            </xs:sequence>
                                                        </xs:complexType>
                                                    </xs:element>
                                                    <xs:element minOccurs="0" maxOccurs="unbounded" name="phoneNumbers">
                                                        <xs:complexType>
                                                            <xs:sequence>
                                                                <xs:element minOccurs="0" type="xs:int" name="phoneNumber"/>
                                                                <xs:element minOccurs="0" type="xs:string" name="extensionId"/>
                                                                <xs:element minOccurs="0" maxOccurs="unbounded" name="countryCode">
                                                                    <xs:complexType>
                                                                        <xs:sequence>
                                                                            <xs:element minOccurs="0" type="xs:string" name="name"/>
                                                                            <xs:element minOccurs="0" type="xs:string" name="descr"/>
                                                                            <xs:element minOccurs="0" type="xs:string" name="code"/>
                                                                            <xs:element minOccurs="0" maxOccurs="unbounded" name="texts">
                                                                                <xs:complexType>
                                                                                    <xs:sequence>
                                                                                        <xs:element minOccurs="0" type="xs:string" name="name"/>
                                                                                        <xs:element minOccurs="0" type="xs:string" name="descr"/>
                                                                                        <xs:element minOccurs="0" type="xs:string" name="code"/>
                                                                                    </xs:sequence>
                                                                                </xs:complexType>
                                                                            </xs:element>
                                                                        </xs:sequence>
                                                                    </xs:complexType>
                                                                </xs:element>
                                                                <xs:element minOccurs="0" type="xs:byte" name="countryCode_code"/>
                                                                <xs:element minOccurs="0" type="xs:string" name="usageDeniedIndicator"/>
                                                                <xs:element minOccurs="0" type="xs:string" name="mobilePhoneNumberIndicator"/>
                                                                <xs:element minOccurs="0" type="xs:date" name="validFrom"/>
                                                                <xs:element minOccurs="0" type="xs:date" name="validTo"/>
                                                            </xs:sequence>
                                                        </xs:complexType>
                                                    </xs:element>
                                                    <xs:element minOccurs="0" maxOccurs="unbounded" name="faxNumbers">
                                                        <xs:complexType>
                                                            <xs:sequence>
                                                                <xs:element minOccurs="0" type="xs:int" name="phoneNumber"/>
                                                                <xs:element minOccurs="0" type="xs:string" name="extensionId"/>
                                                                <xs:element minOccurs="0" maxOccurs="unbounded" name="countryCode">
                                                                    <xs:complexType>
                                                                        <xs:sequence>
                                                                            <xs:element minOccurs="0" type="xs:string" name="name"/>
                                                                            <xs:element minOccurs="0" type="xs:string" name="descr"/>
                                                                            <xs:element minOccurs="0" type="xs:string" name="code"/>
                                                                            <xs:element minOccurs="0" maxOccurs="unbounded" name="texts">
                                                                                <xs:complexType>
                                                                                    <xs:sequence>
                                                                                        <xs:element minOccurs="0" type="xs:string" name="name"/>
                                                                                        <xs:element minOccurs="0" type="xs:string" name="descr"/>
                                                                                        <xs:element minOccurs="0" type="xs:string" name="code"/>
                                                                                    </xs:sequence>
                                                                                </xs:complexType>
                                                                            </xs:element>
                                                                        </xs:sequence>
                                                                    </xs:complexType>
                                                                </xs:element>
                                                                <xs:element minOccurs="0" type="xs:byte" name="countryCode_code"/>
                                                                <xs:element minOccurs="0" type="xs:string" name="usageDeniedIndicator"/>
                                                                <xs:element minOccurs="0" type="xs:string" name="mobilePhoneNumberIndicator"/>
                                                                <xs:element minOccurs="0" type="xs:date" name="validFrom"/>
                                                                <xs:element minOccurs="0" type="xs:date" name="validTo"/>
                                                            </xs:sequence>
                                                        </xs:complexType>
                                                    </xs:element>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element minOccurs="0" name="messageID" />
                <xs:element minOccurs="0" name="ReferenceID" type="xs:string" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>