Resources/schemas/Xsd/SAP_Business_One_Master_Data_Transformation_to_SAP_S-4HANA_Cloud_Public_Edition - faresponsefinal.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="FixedAsset">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Origin" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="Ext._Leg._Company_Code"/>
              <xs:element type="xs:string" name="Ext._Leg._Asset_Number"/>
              <xs:element type="xs:string" name="Ext._Leg._Asset_Subnumber"/>
              <xs:element type="xs:string" name="Acct._Number_of_Suppl._Other_Key_Word"/>
              <xs:element type="xs:string" name="Assets_Country_Region_of_Origin"/>
              <xs:element type="xs:string" name="Manufacturer_of_Asset"/>
              <xs:element type="xs:string" name="Orig._Acquis._Date_of_AuC_Transf._Asset"/>
              <xs:element type="xs:string" name="Fiscal_Year_of_Original_Acquisition"/>
              <xs:element type="xs:string" name="Original_Acquisition_Value"/>
              <xs:element type="xs:string" name="Original_Acquisition_Value_Currency"/>
              <xs:element type="xs:string" name="InHouse_Production_Percentage"/>
              <xs:element type="xs:string" name="Asset_Type_Name"/>
              <xs:element type="xs:string" name="Company_ID_of_Trading_Partner"/>
              <xs:element type="xs:string" name="Indicator_Asset_Acquired_Used"/>
              <xs:element type="xs:string" name="WBS_Element_of_Invest._Project_Ext._ID"/>
              <xs:element type="xs:string" name="Investment_Order"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="Account_Assignment" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="Ext._Leg._Company_Code"/>
              <xs:element type="xs:string" name="Ext._Leg._Asset_Number"/>
              <xs:element type="xs:string" name="Ext._Leg._Asset_Subnumber"/>
              <xs:element type="xs:string" name="Cost_Center"/>
              <xs:element type="xs:string" name="Fund_Only_for_Public_Sector"/>
              <xs:element type="xs:string" name="Grant_Only_for_Public_Sector"/>
              <xs:element type="xs:string" name="Functional_Area"/>
              <xs:element type="xs:string" name="WBS_Element"/>
              <xs:element type="xs:string" name="Tax_Jurisdiction"/>
              <xs:element type="xs:string" name="Segment_for_Segmental_Reporting"/>
              <xs:element type="xs:string" name="Profit_Center"/>
              <xs:element type="xs:string" name="Room"/>
              <xs:element type="xs:string" name="Plant"/>
              <xs:element type="xs:string" name="Asset_Location"/>
              <xs:element type="xs:string" name="License_Plate_No._of_Vehicle"/>
              <xs:element type="xs:string" name="Business_Place"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="Allocations" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="Ext._Leg._Company_Code"/>
              <xs:element type="xs:string" name="Ext._Leg._Asset_Number"/>
              <xs:element type="xs:string" name="Ext._Leg._Asset_Subnumber"/>
              <xs:element type="xs:string" name="Investment_Reason"/>
              <xs:element type="xs:string" name="Reason_for_Environmental_Investment"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="General" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="Ext._Leg._Company_Code"/>
              <xs:element type="xs:string" name="Ext._Leg._Asset_Number"/>
              <xs:element type="xs:string" name="Ext._Leg._Asset_Subnumber"/>
              <xs:element type="xs:string" name="Asset_Class"/>
              <xs:element type="xs:string" name="Asset_Description"/>
              <xs:element type="xs:string" name="Asset_Description_2"/>
              <xs:element type="xs:string" name="Serial_Number"/>
              <xs:element type="xs:string" name="Inventory_Number"/>
              <xs:element type="xs:string" name="Asset_Purchase_Order_Date"/>
              <xs:element type="xs:string" name="Indicator_for_Historical_Management"/>
              <xs:element type="xs:string" name="Base_Unit_of_Measure"/>
              <xs:element type="xs:string" name="Asset_Capitalization_Date"/>
              <xs:element type="xs:string" name="Deactivation_Date"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="Inventory" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="Ext._Leg._Company_Code"/>
              <xs:element type="xs:string" name="Ext._Leg._Asset_Number"/>
              <xs:element type="xs:string" name="Ext._Leg._Asset_Subnumber"/>
              <xs:element type="xs:string" name="Last_Inventory_On"/>
              <xs:element type="xs:string" name="Inventory_Note"/>
              <xs:element type="xs:string" name="Indicator_Asset_Is_InventoryRelevant"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="Ledger" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="Ext._Leg._Company_Code"/>
              <xs:element type="xs:string" name="Ext._Leg._Asset_Number"/>
              <xs:element type="xs:string" name="Ext._Leg._Asset_Subnumber"/>
              <xs:element type="xs:string" name="Ledger_in_General_Ledger_Accounting"/>
              <xs:element type="xs:string" name="Indicator_Deactivation"/>
              <xs:element type="xs:string" name="Asset_Capitalization_Date"/>
              <xs:element type="xs:string" name="Deactivation_Date"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="LocalTimeDependent_f" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="Ext._Leg._Company_Code"/>
              <xs:element type="xs:string" name="Ext._Leg._Asset_Number"/>
              <xs:element type="xs:string" name="Ext._Leg._Asset_Subnumber"/>
              <xs:element type="xs:string" name="Depreciation_Area_Real_or_Derived"/>
              <xs:element type="xs:string" name="OBSOLETE_Date_for_Beginning_of_Valid."/>
              <xs:element type="xs:string" name="JP_Impairment_Posting_Date"/>
              <xs:element type="xs:string" name="JP_APC_Amt_at_Imp_in_Co._Code_Ccy"/>
              <xs:element type="xs:string" name="JP_APC_Amt_at_Imp_in_Global_Ccy"/>
              <xs:element type="xs:string" name="JP_APC_Amt_at_Imp_in_Free_Def_Ccy_1"/>
              <xs:element type="xs:string" name="JP_Book_Val_After_Imp_in_Co._Code_Ccy"/>
              <xs:element type="xs:string" name="JP_Book_Val_After_Imp_in_Global_Ccy"/>
              <xs:element type="xs:string" name="JP_Book_Val_After_Imp_in_Free_Def_Ccy_1"/>
              <xs:element type="xs:string" name="SK_Capital_Improvement_Year"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="LocalTimeDependent" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="Ext._Leg._Company_Code"/>
              <xs:element type="xs:string" name="Ext._Leg._Asset_Number"/>
              <xs:element type="xs:string" name="Ext._Leg._Asset_Subnumber"/>
              <xs:element type="xs:string" name="OBSOLETE_Date_for_Beginning_of_Valid."/>
              <xs:element type="xs:string" name="CIS_New_OKOF_Code"/>
              <xs:element type="xs:string" name="CIS_Depreciation_Group"/>
              <xs:element type="xs:string" name="Tax_Office_Code"/>
              <xs:element type="xs:string" name="Indicator_SZPK_Applies"/>
              <xs:element type="xs:string" name="Property_Type"/>
              <xs:element type="xs:string" name="OKTMO_Code_Property"/>
              <xs:element type="xs:string" name="Special_Property_Tax_Category"/>
              <xs:element type="xs:string" name="Tax_Reduction_Code"/>
              <xs:element type="xs:string" name="Tax_Amount_Reduction_Code"/>
              <xs:element type="xs:string" name="Tax_Exemption_Code"/>
              <xs:element type="xs:string" name="Property_Number"/>
              <xs:element type="xs:string" name="Property_Number_Type"/>
              <xs:element type="xs:string" name="Property_Cadastral_Value"/>
              <xs:element type="xs:string" name="Share_in_Common_Property"/>
              <xs:element type="xs:string" name="Room_Area"/>
              <xs:element type="xs:string" name="Area"/>
              <xs:element type="xs:string" name="Property_Is_Real_Estate"/>
              <xs:element type="xs:string" name="Power_Unit"/>
              <xs:element type="xs:string" name="Tax_Base_Unit"/>
              <xs:element type="xs:string" name="Transport_Tax_Exemption_Code"/>
              <xs:element type="xs:string" name="Transport_Tax_Reduction_Code"/>
              <xs:element type="xs:string" name="Date_Stolen"/>
              <xs:element type="xs:string" name="Return_Date"/>
              <xs:element type="xs:string" name="Registration_Date"/>
              <xs:element type="xs:string" name="Cancellation_Date"/>
              <xs:element type="xs:string" name="OKTMO_Code_Transport"/>
              <xs:element type="xs:string" name="License_Plate_Number"/>
              <xs:element type="xs:string" name="Transport_Tax_Amount_Reduction_Code"/>
              <xs:element type="xs:string" name="Vehicle_Price_Category_for_Transport_Tax"/>
              <xs:element type="xs:string" name="Share_in_Right_to_Ownership_of_Transport"/>
              <xs:element type="xs:string" name="CADE_Fixed_Asset_Usage_Type"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="LocalTimeIndependent" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="Ext._Leg._Company_Code"/>
              <xs:element type="xs:string" name="Ext._Leg._Asset_Number"/>
              <xs:element type="xs:string" name="Ext._Leg._Asset_Subnumber"/>
              <xs:element type="xs:string" name="Serial_Number"/>
              <xs:element type="xs:string" name="Material_Number"/>
              <xs:element type="xs:string" name="Number_of_Retired_Asset"/>
              <xs:element type="xs:string" name="Subnumber_of_Retired_Asset"/>
              <xs:element type="xs:string" name="Start_Date_of_Traceability"/>
              <xs:element type="xs:string" name="End_Date_of_Traceability"/>
              <xs:element type="xs:string" name="Forgn._Trade_Gds_Class._Cd._of_Cust._Un."/>
              <xs:element type="xs:string" name="Transport_Type"/>
              <xs:element type="xs:string" name="Manufact._Veh._Ident._No._for_Fleet_Obj."/>
              <xs:element type="xs:string" name="Manufacturing_Date"/>
              <xs:element type="xs:string" name="Ecological_Class"/>
              <xs:element type="xs:string" name="Do_Not_Use_Not_Yet_Available"/>
              <xs:element type="xs:string" name="Regist._Date_of_Prop._Ownership_Rights"/>
              <xs:element type="xs:string" name="Terminat._Date_of_Prop._Ownersh._Rights"/>
              <xs:element type="xs:string" name="Asset_Structure"/>
              <xs:element type="xs:string" name="Asset_Item"/>
              <xs:element type="xs:string" name="Regist_Agmt_Date_of_Annex164_Report"/>
              <xs:element type="xs:string" name="City_Code_of_Japan_Property_Tax_Report"/>
              <xs:element type="xs:string" name="Classification_Key_of_Japan_Property"/>
              <xs:element type="xs:string" name="Spec._Dept._Code_of_JP_Prop._Tax"/>
              <xs:element type="xs:string" name="Block_Key"/>
              <xs:element type="xs:string" name="Depreciation_Code"/>
              <xs:element type="xs:string" name="Addit_Oper_Depreciation_Block_Key"/>
              <xs:element type="xs:string" name="Black_List_Data"/>
              <xs:element type="xs:string" name="Indicator_R_and_D_Asset"/>
              <xs:element type="xs:string" name="Vehicle_Type"/>
              <xs:element type="xs:string" name="Indicator_for_Vehicle_Without_Limit"/>
              <xs:element type="xs:string" name="Asset_Link"/>
              <xs:element type="xs:string" name="Last_Asset_Link"/>
              <xs:element type="xs:string" name="Related_Report_Form_Category"/>
              <xs:element type="xs:string" name="Related_Report_Form"/>
              <xs:element type="xs:string" name="Indicator_Is_Amortized_Asset"/>
              <xs:element type="xs:string" name="National_Classification_Code"/>
              <xs:element type="xs:string" name="Last_Purchase_Date"/>
              <xs:element type="xs:string" name="Tax_Depreciation_Group"/>
              <xs:element type="xs:string" name="Tax_Depreciation_Code"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="TimeBased_Valuation" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="Ext._Leg._Company_Code"/>
              <xs:element type="xs:string" name="Ext._Leg._Asset_Number"/>
              <xs:element type="xs:string" name="Ext._Leg._Asset_Subnumber"/>
              <xs:element type="xs:string" name="Real_Depreciation_Area"/>
              <xs:element type="xs:string" name="Depreciation_Key"/>
              <xs:element type="xs:string" name="Planned_Useful_Life_in_Years"/>
              <xs:element type="xs:string" name="Planned_Useful_Life_in_Periods"/>
              <xs:element type="xs:string" name="Variable_Depreciation_Portion"/>
              <xs:element type="xs:string" name="Base_Value_Percentage"/>
              <xs:element type="xs:string" name="Mult.Shift_Factor_for_Mult._Shift_Oper."/>
              <xs:element type="xs:string" name="Indicator_Asset_Shutdown"/>
              <xs:element type="xs:string" name="Usage_Object"/>
              <xs:element type="xs:string" name="Asset_Revaluation_Index_Object"/>
              <xs:element type="xs:string" name="Scrap_Value_in_Company_Code_Currency"/>
              <xs:element type="xs:string" name="Scrap_Value_in_Global_Currency"/>
              <xs:element type="xs:string" name="Scrap_Value_in_Freely_Defined_Currency_1"/>
              <xs:element type="xs:string" name="Scrap_Value_as_Percentage_of_APC"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="Valuation" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="Ext._Leg._Company_Code"/>
              <xs:element type="xs:string" name="Ext._Leg._Asset_Number"/>
              <xs:element type="xs:string" name="Ext._Leg._Asset_Subnumber"/>
              <xs:element type="xs:string" name="Real_Depreciation_Area"/>
              <xs:element type="xs:string" name="Indicator_Deactivation"/>
              <xs:element type="xs:string" name="Indicator_Negative_Values_Allowed"/>
              <xs:element type="xs:string" name="Depreciation_Calculation_Start_Date"/>
              <xs:element type="xs:string" name="Start_Date_for_Special_Depreciation"/>
              <xs:element type="xs:string" name="Start_Date_for_Interest_Calc."/>
              <xs:element type="xs:string" name="Asset_Acc._Date_of_Operating_Readiness"/>
              <xs:element type="xs:string" name="Changeover_Year_of_Depreciation_Key"/>
              <xs:element type="xs:string" name="Changeover_Period_of_Depreciation_Key"/>
              <xs:element type="xs:string" name="Index_Series_for_Replacement_Values"/>
              <xs:element type="xs:string" name="Index_Series_for_Replacemt._Values_by_Age"/>
              <xs:element type="xs:string" name="Exp._Useful_Life_in_Yrs_at_Start_of_FY"/>
              <xs:element type="xs:string" name="Exp._Useful_Life_in_Prds_at_Start_of_FY"/>
              <xs:element type="xs:string" name="Yrs_Exp._from_Start_of_Spec._Depr."/>
              <xs:element type="xs:string" name="Prds_Exp._During_Act._FY"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>