Resources/schemas/Xsd/SAP_S-4HANA_Utilities_Integration_with_SAP_Marketing_Cloud - AgreementsEntityMERGE0-2.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="batchParts">
        <xs:complexType>
            <xs:sequence>
                <xs:element nillable="false" minOccurs="1" maxOccurs="unbounded" name="batchChangeSet">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element nillable="false" minOccurs="1" maxOccurs="unbounded" name="batchChangeSetPart">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element type="xs:string" nillable="false" minOccurs="1" maxOccurs="1" name="method" xmlns=""/>
                                        <xs:element type="xs:string" nillable="true" minOccurs="0" maxOccurs="1" name="uri" xmlns=""/>
                                        <xs:element nillable="true" minOccurs="0" maxOccurs="unbounded" name="headers">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element nillable="true" minOccurs="0" maxOccurs="unbounded" name="header">
                                                        <xs:complexType>
                                                            <xs:sequence>
                                                                <xs:element type="xs:string" nillable="false" minOccurs="1" maxOccurs="unbounded" name="headerName" xmlns=""/>
                                                                <xs:element type="xs:string" nillable="false" minOccurs="1" maxOccurs="unbounded" name="headerValue" xmlns=""/>
                                                            </xs:sequence>
                                                        </xs:complexType>
                                                    </xs:element>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element nillable="false" minOccurs="1" maxOccurs="1" name="Agreements">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element minOccurs="1" maxOccurs="unbounded" name="Agreement">
                                                        <xs:complexType>
                                                            <xs:sequence>
                                                                <xs:element nillable="false" maxOccurs="unbounded" name="MKT_AgreementOrigin">
                                                                    <xs:simpleType>
                                                                        <xs:restriction base="xs:string" xmlns="">
                                                                            <xs:maxLength value="30"/>
                                                                        </xs:restriction>
                                                                    </xs:simpleType>
                                                                </xs:element>
                                                                <xs:element nillable="false" maxOccurs="unbounded" name="MKT_AgreementExternalID">
                                                                    <xs:simpleType>
                                                                        <xs:restriction base="xs:string" xmlns="">
                                                                            <xs:maxLength value="80"/>
                                                                        </xs:restriction>
                                                                    </xs:simpleType>
                                                                </xs:element>
                                                                <xs:element nillable="true" minOccurs="0" maxOccurs="unbounded" name="MKT_AgrmtCancellationReason">
                                                                    <xs:simpleType>
                                                                        <xs:restriction base="xs:string" xmlns="">
                                                                            <xs:maxLength value="10"/>
                                                                        </xs:restriction>
                                                                    </xs:simpleType>
                                                                </xs:element>
                                                                <xs:element nillable="false" maxOccurs="unbounded" name="ContactID">
                                                                    <xs:simpleType>
                                                                        <xs:restriction base="xs:string" xmlns="">
                                                                            <xs:maxLength value="255"/>
                                                                        </xs:restriction>
                                                                    </xs:simpleType>
                                                                </xs:element>
                                                                <xs:element nillable="false" maxOccurs="unbounded" name="ContactOrigin">
                                                                    <xs:simpleType>
                                                                        <xs:restriction base="xs:string" xmlns="">
                                                                            <xs:maxLength value="20"/>
                                                                        </xs:restriction>
                                                                    </xs:simpleType>
                                                                </xs:element>
                                                                <xs:element type="xs:boolean" nillable="true" minOccurs="0" maxOccurs="unbounded" name="MKT_AgreementIsBundle" xmlns=""/>
                                                                <xs:element type="xs:boolean" nillable="true" minOccurs="0" maxOccurs="unbounded" name="MKT_AgreementIsBundleMember" xmlns=""/>
                                                                <xs:element nillable="false" maxOccurs="unbounded" name="MKT_AgreementType">
                                                                    <xs:simpleType>
                                                                        <xs:restriction base="xs:string" xmlns="">
                                                                            <xs:maxLength value="10"/>
                                                                        </xs:restriction>
                                                                    </xs:simpleType>
                                                                </xs:element>
                                                                <xs:element nillable="true" minOccurs="0" maxOccurs="unbounded" name="MKT_MarketingArea">
                                                                    <xs:simpleType>
                                                                        <xs:restriction base="xs:string" xmlns="">
                                                                            <xs:maxLength value="40"/>
                                                                        </xs:restriction>
                                                                    </xs:simpleType>
                                                                </xs:element>
                                                                <xs:element type="xs:dateTime" nillable="false" maxOccurs="unbounded" name="MKT_AgreementStartDateTime" xmlns=""/>
                                                                <xs:element type="xs:dateTime" nillable="false" maxOccurs="unbounded" name="MKT_AgreementEndDateTime" xmlns=""/>
                                                                <xs:element type="xs:boolean" nillable="true" minOccurs="0" maxOccurs="unbounded" name="MKT_AgreementIsCanceled" xmlns=""/>
                                                                <xs:element type="xs:dateTime" nillable="true" minOccurs="0" maxOccurs="unbounded" name="OriginDataLastChgUTCDateTime" xmlns=""/>
                                                                <xs:element nillable="true" minOccurs="0" maxOccurs="unbounded" name="MKT_AgreementBundleOrigin">
                                                                    <xs:simpleType>
                                                                        <xs:restriction base="xs:string" xmlns="">
                                                                            <xs:maxLength value="30"/>
                                                                        </xs:restriction>
                                                                    </xs:simpleType>
                                                                </xs:element>
                                                                <xs:element nillable="true" minOccurs="0" maxOccurs="unbounded" name="MKT_AgreementBundleExternalID">
                                                                    <xs:simpleType>
                                                                        <xs:restriction base="xs:string" xmlns="">
                                                                            <xs:maxLength value="80"/>
                                                                        </xs:restriction>
                                                                    </xs:simpleType>
                                                                </xs:element>
                                                                <xs:element type="xs:dateTime" nillable="true" minOccurs="0" maxOccurs="unbounded" name="MKT_AgrmtBundleStartDateTime" xmlns=""/>
                                                                <xs:element nillable="true" minOccurs="0" maxOccurs="unbounded" name="MarketingLocationOrigin">
                                                                    <xs:simpleType>
                                                                        <xs:restriction base="xs:string" xmlns="">
                                                                            <xs:maxLength value="30"/>
                                                                        </xs:restriction>
                                                                    </xs:simpleType>
                                                                </xs:element>
                                                                <xs:element nillable="true" minOccurs="0" maxOccurs="unbounded" name="MarketingLocationExternalID">
                                                                    <xs:simpleType>
                                                                        <xs:restriction base="xs:string" xmlns="">
                                                                            <xs:maxLength value="50"/>
                                                                        </xs:restriction>
                                                                    </xs:simpleType>
                                                                </xs:element>
                                                                <xs:element nillable="true" minOccurs="0" maxOccurs="unbounded" name="YY1_MeterType_MKT">
                                                                    <xs:simpleType>
                                                                        <xs:restriction base="xs:string" xmlns="">
                                                                            <xs:maxLength value="50"/>
                                                                        </xs:restriction>
                                                                    </xs:simpleType>
                                                                </xs:element>
                                                                <xs:element nillable="true" minOccurs="0" maxOccurs="unbounded" name="YY1_MeterDescription_MKT">
                                                                    <xs:simpleType>
                                                                        <xs:restriction base="xs:string" xmlns="">
                                                                            <xs:maxLength value="50"/>
                                                                        </xs:restriction>
                                                                    </xs:simpleType>
                                                                </xs:element>
                                                                <xs:element nillable="true" minOccurs="0" maxOccurs="unbounded" name="YY1_BillgBlockReason_MKT">
                                                                    <xs:simpleType>
                                                                        <xs:restriction base="xs:string" xmlns="">
                                                                            <xs:maxLength value="3"/>
                                                                        </xs:restriction>
                                                                    </xs:simpleType>
                                                                </xs:element>
                                                                <xs:element nillable="true" minOccurs="0" maxOccurs="unbounded" name="YY1_ServiceProvider_MKT">
                                                                    <xs:simpleType>
                                                                        <xs:restriction base="xs:string" xmlns="">
                                                                            <xs:maxLength value="10"/>
                                                                        </xs:restriction>
                                                                    </xs:simpleType>
                                                                </xs:element>
                                                                <xs:element nillable="true" minOccurs="0" maxOccurs="unbounded" name="YY1_AccountDetnID_MKT">
                                                                    <xs:simpleType>
                                                                        <xs:restriction base="xs:string" xmlns="">
                                                                            <xs:maxLength value="3"/>
                                                                        </xs:restriction>
                                                                    </xs:simpleType>
                                                                </xs:element>
                                                                <xs:element type="xs:boolean" nillable="true" minOccurs="0" maxOccurs="unbounded" name="YY1_budgetbillingInd_MKT" xmlns=""/>
                                                                <xs:element nillable="true" minOccurs="0" maxOccurs="unbounded" name="YY1_InvoiceSrvcPrvdr_MKT">
                                                                    <xs:simpleType>
                                                                        <xs:restriction base="xs:string" xmlns="">
                                                                            <xs:maxLength value="10"/>
                                                                        </xs:restriction>
                                                                    </xs:simpleType>
                                                                </xs:element>
                                                            </xs:sequence>
                                                        </xs:complexType>
                                                    </xs:element>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>
