Resources/schemas/Xsd/SAP_SuccessFactors_Integration_with_ADP_Tax_Credits - AssessmentReportEntityinsert1.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?><xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema"><xs:element name="insertAssessmentReport"><xs:complexType><xs:sequence><xs:element minOccurs="1" maxOccurs="unbounded" name="AssessmentReport"><xs:complexType><xs:sequence><xs:element type="xs:int" nillable="false" maxOccurs="unbounded" name="orderId" xmlns=""/><xs:element type="xs:int" nillable="false" maxOccurs="unbounded" name="status" xmlns=""/><xs:element type="xs:dateTime" nillable="false" maxOccurs="unbounded" name="statusDate" xmlns=""/><xs:element nillable="true" minOccurs="0" maxOccurs="unbounded" name="statusDetails"><xs:simpleType><xs:restriction base="xs:string" xmlns=""><xs:maxLength value="256"/></xs:restriction></xs:simpleType></xs:element><xs:element nillable="true" minOccurs="0" maxOccurs="unbounded" name="field2Key"><xs:simpleType><xs:restriction base="xs:string" xmlns=""><xs:maxLength value="256"/></xs:restriction></xs:simpleType></xs:element><xs:element nillable="true" minOccurs="0" maxOccurs="unbounded" name="field2Value"><xs:simpleType><xs:restriction base="xs:string" xmlns=""><xs:maxLength value="256"/></xs:restriction></xs:simpleType></xs:element><xs:element nillable="true" minOccurs="0" maxOccurs="unbounded" name="field3Key"><xs:simpleType><xs:restriction base="xs:string" xmlns=""><xs:maxLength value="256"/></xs:restriction></xs:simpleType></xs:element><xs:element nillable="true" minOccurs="0" maxOccurs="unbounded" name="field3Value"><xs:simpleType><xs:restriction base="xs:string" xmlns=""><xs:maxLength value="256"/></xs:restriction></xs:simpleType></xs:element></xs:sequence></xs:complexType></xs:element></xs:sequence></xs:complexType></xs:element></xs:schema>