Resources/schemas/Xsd/SAP_Hybris_Cloud_for_Customer_Integration_with_SAP_Hybris_as_a_Service - C4CAttachment.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">

	<xs:element name="ProductAttachment" type="ProductAttachment" />

	<xs:complexType name="ProductAttachment">
		<xs:sequence>
			<xs:element name="Binary" type="xs:anyType" minOccurs="0" />
			<xs:element name="CategoryCode" type="xs:string" minOccurs="0" />
			<xs:element name="CategoryCodeText" type="xs:string" minOccurs="0" />
			<xs:element name="CreatedBy" type="xs:string" minOccurs="0" />
			<xs:element name="CreatedOn" type="xs:string" minOccurs="0" />
			<xs:element name="DocumentLink" type="xs:string" minOccurs="0" />
			<xs:element name="ETag" type="xs:string" minOccurs="0" />
			<xs:element name="ExtensionFields" type="xs:string" minOccurs="0" />
			<xs:element name="LastUpdatedBy" type="xs:string" minOccurs="0" />
			<xs:element name="LastUpdatedOn" type="xs:string" minOccurs="0" />
			<xs:element name="LinkWebURI" type="xs:string" minOccurs="0" />
			<xs:element name="MimeType" type="xs:string" minOccurs="0" />
			<xs:element name="Name" type="xs:string" minOccurs="0" />
			<xs:element name="ObjectID" type="xs:string" minOccurs="0" />
			<xs:element name="ParentObjectID" type="xs:string" minOccurs="0" />
			<xs:element name="SizeInkB" type="xs:double" minOccurs="0" />
			<xs:element name="TypeCode" type="xs:string" minOccurs="0" />
			<xs:element name="TypeCodeText" type="xs:string" minOccurs="0" />
			<xs:element name="UUID" type="xs:string" minOccurs="0" />
		</xs:sequence>
	</xs:complexType>
</xs:schema>

