Resources/schemas/Xsd/SAP_SuccessFactors_Territory_and_Quota_Integration_with_SAP_SuccessFactors_Incentive_Management - comm_ordercsvnew.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- Created with Liquid Technologies Online Tools 1.0 (https://www.liquid-technologies.com) -->
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="root">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" name="element">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="beanName" type="xs:string" />
              <xs:element name="bean">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="ORDERID" type="xs:string" />
                    <xs:element name="BUSINESSUNITNAME" type="xs:string" />
                    <xs:element name="GENERICATTRIBUTE1" type="xs:string" />
                    <xs:element name="GENERICATTRIBUTE2" type="xs:string" />
                    <xs:element name="GENERICATTRIBUTE3" type="xs:string" />
                    <xs:element name="GENERICATTRIBUTE4" type="xs:string" />
                    <xs:element name="GENERICATTRIBUTE5" type="xs:string" />
                    <xs:element name="GENERICATTRIBUTE6" type="xs:string" />
                    <xs:element name="GENERICATTRIBUTE7" type="xs:string" />
                    <xs:element name="GENERICATTRIBUTE8" type="xs:string" />
                    <xs:element name="GENERICATTRIBUTE9" type="xs:string" />
                    <xs:element name="GENERICATTRIBUTE10" type="xs:string" />
                    <xs:element name="GENERICATTRIBUTE11" type="xs:string" />
                    <xs:element name="GENERICATTRIBUTE12" type="xs:string" />
                    <xs:element name="GENERICATTRIBUTE13" type="xs:string" />
                    <xs:element name="GENERICATTRIBUTE14" type="xs:string" />
                    <xs:element name="GENERICATTRIBUTE15" type="xs:string" />
                    <xs:element name="GENERICATTRIBUTE16" type="xs:string" />
                    <xs:element name="GENERICNUMBER1" type="xs:string" />
                    <xs:element name="UNITTYPEFORGENERICNUMBER1" type="xs:string" />
                    <xs:element name="GENERICNUMBER2" type="xs:string" />
                    <xs:element name="UNITTYPEFORGENERICNUMBER2" type="xs:string" />
                    <xs:element name="GENERICNUMBER3" type="xs:string" />
                    <xs:element name="UNITTYPEFORGENERICNUMBER3" type="xs:string" />
                    <xs:element name="GENERICNUMBER4" type="xs:string" />
                    <xs:element name="UNITTYPEFORGENERICNUMBER4" type="xs:string" />
                    <xs:element name="GENERICNUMBER5" type="xs:string" />
                    <xs:element name="UNITTYPEFORGENERICNUMBER5" type="xs:string" />
                    <xs:element name="GENERICNUMBER6" type="xs:string" />
                    <xs:element name="UNITTYPEFORGENERICNUMBER6" type="xs:string" />
                    <xs:element name="GENERICDATE1" type="xs:date" />
                    <xs:element name="GENERICDATE2" type="xs:date" />
                    <xs:element name="GENERICDATE3" type="xs:date" />
                    <xs:element name="GENERICDATE4" type="xs:date" />
                    <xs:element name="GENERICDATE5" type="xs:date" />
                    <xs:element name="GENERICDATE6" type="xs:date" />
                    <xs:element name="GENERICBOOLEAN1" type="xs:boolean" />
                    <xs:element name="GENERICBOOLEAN2" type="xs:boolean" />
                    <xs:element name="GENERICBOOLEAN3" type="xs:boolean" />
                    <xs:element name="GENERICBOOLEAN4" type="xs:boolean" />
                    <xs:element name="GENERICBOOLEAN5" type="xs:boolean" />
                    <xs:element name="GENERICBOOLEAN6" type="xs:boolean" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>