Resources/schemas/Xsd/SAP_Returnable_Packaging_Management_Integration_with_File_Based_Master_Data_Load - SerialNumberValidator.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified"
xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="serialNumber">
		<xs:complexType>
			<xs:sequence>
				<xs:element maxOccurs="unbounded" name="row">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="materialCode">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:maxLength value="40" />
										<xs:minLength value="1" />
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="serialNumber">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:maxLength value="20" />
										<xs:minLength value="1" />
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="equipmentNumber">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:maxLength value="20" />
										<xs:minLength value="0" />
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="assetNumber">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:maxLength value="20" />
										<xs:minLength value="0" />
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="status_ID">
							  <xs:simpleType>
								<xs:restriction base="xs:integer">
									<xs:minInclusive value="1"/>
									<xs:maxInclusive value="2"/>
								</xs:restriction>
							  </xs:simpleType>
							</xs:element>
							<xs:element name="ownershipType_ID">
							  <xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:maxLength value="3" />
										<xs:minLength value="0" />
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="ownershipCode">
							  <xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:maxLength value="10" />
										<xs:minLength value="0" />
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="imeiNumber">
							  <xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:maxLength value="20" />
										<xs:minLength value="0" />
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="barcode">
							  <xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:maxLength value="48" />
										<xs:minLength value="0" />
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="rfid">
							  <xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:maxLength value="40" />
										<xs:minLength value="0" />
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="color">
							  <xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:maxLength value="20" />
										<xs:minLength value="0" />
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>