Resources/schemas/Xsd/SAP_S-4HANA_Integration_with_SAP_SuccessFactors_Incentive_Management - COMM_XDL_Transaction_Template-1.xsd

<?xml version="1.0" encoding="UTF-8"?><!-- Created with Liquid Technologies Online Tools 1.0 (https://www.liquid-technologies.com) --><xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="qualified">
  <xs:element name="transactions">
  <xs:complexType>
		<xs:sequence>
		  <xs:element maxOccurs="unbounded" minOccurs="0" name="transaction">
			<xs:complexType>
			  <xs:sequence>
				<xs:element maxOccurs="1" minOccurs="1" name="ORDERID" type="xs:string"/>
				<xs:element maxOccurs="1" minOccurs="1" name="LINENUMBER" type="xs:string"/>
				<xs:element maxOccurs="1" minOccurs="1" name="SUBLINENUMBER" type="xs:string"/>
				<xs:element maxOccurs="1" minOccurs="1" name="EVENTTYPEID" type="xs:string"/>
				<xs:element maxOccurs="1" minOccurs="1" name="ACCOUNTINGDATE" type="xs:string"/>
				<xs:element maxOccurs="1" minOccurs="1" name="PRODUCTID" type="xs:string"/>
				<xs:element maxOccurs="1" minOccurs="1" name="PRODUCTNAME" type="xs:string"/>
				<xs:element maxOccurs="1" minOccurs="1" name="PRODUCTDESCRIPTION" type="xs:string"/>
				<xs:element maxOccurs="1" minOccurs="1" name="VALUE" type="xs:string"/>
				<xs:element maxOccurs="1" minOccurs="1" name="UNITTYPEFORVALUE" type="xs:string"/>
				<xs:element maxOccurs="1" minOccurs="1" name="NUMBEROFUNITS" type="xs:string"/>
				<xs:element maxOccurs="1" minOccurs="1" name="UNITVALUE" type="xs:string"/>
				<xs:element maxOccurs="1" minOccurs="1" name="UNITTYPEFORUNITVALUE" type="xs:string"/>
				<xs:element maxOccurs="1" minOccurs="1" name="COMPENSATIONDATE" type="xs:string"/>
				<xs:element maxOccurs="1" minOccurs="1" name="PAYMENTTERMS" type="xs:string"/>
				<xs:element maxOccurs="1" minOccurs="1" name="PONUMBER" type="xs:string"/>
				<xs:element maxOccurs="1" minOccurs="1" name="CHANNEL" type="xs:string"/>
				<xs:element maxOccurs="1" minOccurs="1" name="ALTERNATEORDERNUMBER" type="xs:string"/>
				<xs:element maxOccurs="1" minOccurs="1" name="DATASOURCE" type="xs:string"/>
				<xs:element maxOccurs="1" minOccurs="1" name="NATIVECURRENCY" type="xs:string"/>
				<xs:element maxOccurs="1" minOccurs="1" name="NATIVECURRENCYAMOUNT" type="xs:string"/>
				<xs:element maxOccurs="1" minOccurs="1" name="DISCOUNTPERCENT" type="xs:string"/>
				<xs:element maxOccurs="1" minOccurs="1" name="DISCOUNTTYPE" type="xs:string"/>
				<xs:element maxOccurs="1" minOccurs="1" name="BILLTOCUSTID" type="xs:string"/>
				<xs:element maxOccurs="1" minOccurs="1" name="BILLTOCONTACT" type="xs:string"/>
				<xs:element maxOccurs="1" minOccurs="1" name="BILLTOCOMPANY" type="xs:string"/>
				<xs:element maxOccurs="1" minOccurs="1" name="BILLTOAREACODE" type="xs:string"/>
				<xs:element maxOccurs="1" minOccurs="1" name="BILLTOPHONE" type="xs:string"/>
				<xs:element maxOccurs="1" minOccurs="1" name="BILLTOFAX" type="xs:string"/>
				<xs:element maxOccurs="1" minOccurs="1" name="BILLTOADDRESS1" type="xs:string"/>
				<xs:element maxOccurs="1" minOccurs="1" name="BILLTOADDRESS2" type="xs:string"/>
				<xs:element maxOccurs="1" minOccurs="1" name="BILLTOADDRESS3" type="xs:string"/>
				<xs:element maxOccurs="1" minOccurs="1" name="BILLTOCITY" type="xs:string"/>
				<xs:element maxOccurs="1" minOccurs="1" name="BILLTOSTATE" type="xs:string"/>
				<xs:element maxOccurs="1" minOccurs="1" name="BILLTOCOUNTRY" type="xs:string"/>
				<xs:element maxOccurs="1" minOccurs="1" name="BILLTOPOSTALCODE" type="xs:string"/>
				<xs:element maxOccurs="1" minOccurs="1" name="BILLTOINDUSTRY" type="xs:string"/>
				<xs:element maxOccurs="1" minOccurs="1" name="BILLTOGEOGRAPHY" type="xs:string"/>
				<xs:element maxOccurs="1" minOccurs="1" name="SHIPTOCUSTID" type="xs:string"/>
				<xs:element maxOccurs="1" minOccurs="1" name="SHIPTOCONTACT" type="xs:string"/>
				<xs:element maxOccurs="1" minOccurs="1" name="SHIPTOCOMPANY" type="xs:string"/>
				<xs:element maxOccurs="1" minOccurs="1" name="SHIPTOAREACODE" type="xs:string"/>
				<xs:element maxOccurs="1" minOccurs="1" name="SHIPTOPHONE" type="xs:string"/>
				<xs:element maxOccurs="1" minOccurs="1" name="SHIPTOFAX" type="xs:string"/>
				<xs:element maxOccurs="1" minOccurs="1" name="SHIPTOADDRESS1" type="xs:string"/>
				<xs:element maxOccurs="1" minOccurs="1" name="SHIPTOADDRESS2" type="xs:string"/>
				<xs:element maxOccurs="1" minOccurs="1" name="SHIPTOADDRESS3" type="xs:string"/>
				<xs:element maxOccurs="1" minOccurs="1" name="SHIPTOCITY" type="xs:string"/>
				<xs:element maxOccurs="1" minOccurs="1" name="SHIPTOSTATE" type="xs:string"/>
				<xs:element maxOccurs="1" minOccurs="1" name="SHIPTOCOUNTRY" type="xs:string"/>
				<xs:element maxOccurs="1" minOccurs="1" name="SHIPTOPOSTALCODE" type="xs:string"/>
				<xs:element maxOccurs="1" minOccurs="1" name="SHIPTOINDUSTRY" type="xs:string"/>
				<xs:element maxOccurs="1" minOccurs="1" name="SHIPTOGEOGRAPHY" type="xs:string"/>
				<xs:element maxOccurs="1" minOccurs="1" name="OTHERTOCUSTID" type="xs:string"/>
				<xs:element maxOccurs="1" minOccurs="1" name="OTHERTOCONTACT" type="xs:string"/>
				<xs:element maxOccurs="1" minOccurs="1" name="OTHERTOCOMPANY" type="xs:string"/>
				<xs:element maxOccurs="1" minOccurs="1" name="OTHERTOAREACODE" type="xs:string"/>
				<xs:element maxOccurs="1" minOccurs="1" name="OTHERTOPHONE" type="xs:string"/>
				<xs:element maxOccurs="1" minOccurs="1" name="OTHERTOFAX" type="xs:string"/>
				<xs:element maxOccurs="1" minOccurs="1" name="OTHERTOADDRESS1" type="xs:string"/>
				<xs:element maxOccurs="1" minOccurs="1" name="OTHERTOADDRESS2" type="xs:string"/>
				<xs:element maxOccurs="1" minOccurs="1" name="OTHERTOADDRESS3" type="xs:string"/>
				<xs:element maxOccurs="1" minOccurs="1" name="OTHERTOCITY" type="xs:string"/>
				<xs:element maxOccurs="1" minOccurs="1" name="OTHERTOSTATE" type="xs:string"/>
				<xs:element maxOccurs="1" minOccurs="1" name="OTHERTOCOUNTRY" type="xs:string"/>
				<xs:element maxOccurs="1" minOccurs="1" name="OTHERTOPOSTALCODE" type="xs:string"/>
				<xs:element maxOccurs="1" minOccurs="1" name="OTHERTOINDUSTRY" type="xs:string"/>
				<xs:element maxOccurs="1" minOccurs="1" name="OTHERTOGEOGRAPHY" type="xs:string"/>
				<xs:element maxOccurs="1" minOccurs="1" name="REASONID" type="xs:string"/>
				<xs:element maxOccurs="1" minOccurs="1" name="COMMENTS" type="xs:string"/>
				<xs:element maxOccurs="1" minOccurs="1" name="BUSINESSUNITNAME" type="xs:string"/>
				<xs:element maxOccurs="1" minOccurs="1" name="GENERICATTRIBUTE1" type="xs:string"/>
				<xs:element maxOccurs="1" minOccurs="1" name="GENERICATTRIBUTE2" type="xs:string"/>
				<xs:element maxOccurs="1" minOccurs="1" name="GENERICATTRIBUTE3" type="xs:string"/>
				<xs:element maxOccurs="1" minOccurs="1" name="GENERICATTRIBUTE4" type="xs:string"/>
				<xs:element maxOccurs="1" minOccurs="1" name="GENERICATTRIBUTE5" type="xs:string"/>
				<xs:element maxOccurs="1" minOccurs="1" name="GENERICATTRIBUTE6" type="xs:string"/>
				<xs:element maxOccurs="1" minOccurs="1" name="GENERICATTRIBUTE7" type="xs:string"/>
				<xs:element maxOccurs="1" minOccurs="1" name="GENERICATTRIBUTE8" type="xs:string"/>
				<xs:element maxOccurs="1" minOccurs="1" name="GENERICATTRIBUTE9" type="xs:string"/>
				<xs:element maxOccurs="1" minOccurs="1" name="GENERICATTRIBUTE10" type="xs:string"/>
				<xs:element maxOccurs="1" minOccurs="1" name="GENERICATTRIBUTE11" type="xs:string"/>
				<xs:element maxOccurs="1" minOccurs="1" name="GENERICATTRIBUTE12" type="xs:string"/>
				<xs:element maxOccurs="1" minOccurs="1" name="GENERICATTRIBUTE13" type="xs:string"/>
				<xs:element maxOccurs="1" minOccurs="1" name="GENERICATTRIBUTE14" type="xs:string"/>
				<xs:element maxOccurs="1" minOccurs="1" name="GENERICATTRIBUTE15" type="xs:string"/>
				<xs:element maxOccurs="1" minOccurs="1" name="GENERICATTRIBUTE16" type="xs:string"/>
				<xs:element maxOccurs="1" minOccurs="1" name="GENERICATTRIBUTE17" type="xs:string"/>
				<xs:element maxOccurs="1" minOccurs="1" name="GENERICATTRIBUTE18" type="xs:string"/>
				<xs:element maxOccurs="1" minOccurs="1" name="GENERICATTRIBUTE19" type="xs:string"/>
				<xs:element maxOccurs="1" minOccurs="1" name="GENERICATTRIBUTE20" type="xs:string"/>
				<xs:element maxOccurs="1" minOccurs="1" name="GENERICATTRIBUTE21" type="xs:string"/>
				<xs:element maxOccurs="1" minOccurs="1" name="GENERICATTRIBUTE22" type="xs:string"/>
				<xs:element maxOccurs="1" minOccurs="1" name="GENERICATTRIBUTE23" type="xs:string"/>
				<xs:element maxOccurs="1" minOccurs="1" name="GENERICATTRIBUTE24" type="xs:string"/>
				<xs:element maxOccurs="1" minOccurs="1" name="GENERICATTRIBUTE25" type="xs:string"/>
				<xs:element maxOccurs="1" minOccurs="1" name="GENERICATTRIBUTE26" type="xs:string"/>
				<xs:element maxOccurs="1" minOccurs="1" name="GENERICATTRIBUTE27" type="xs:string"/>
				<xs:element maxOccurs="1" minOccurs="1" name="GENERICATTRIBUTE28" type="xs:string"/>
				<xs:element maxOccurs="1" minOccurs="1" name="GENERICATTRIBUTE29" type="xs:string"/>
				<xs:element maxOccurs="1" minOccurs="1" name="GENERICATTRIBUTE30" type="xs:string"/>
				<xs:element maxOccurs="1" minOccurs="1" name="GENERICATTRIBUTE31" type="xs:string"/>
				<xs:element maxOccurs="1" minOccurs="1" name="GENERICATTRIBUTE32" type="xs:string"/>
				<xs:element maxOccurs="1" minOccurs="1" name="GENERICNUMBER1" type="xs:string"/>
				<xs:element maxOccurs="1" minOccurs="1" name="UNITTYPEFORGENERICNUMBER1" type="xs:string"/>
				<xs:element maxOccurs="1" minOccurs="1" name="GENERICNUMBER2" type="xs:string"/>
				<xs:element maxOccurs="1" minOccurs="1" name="UNITTYPEFORGENERICNUMBER2" type="xs:string"/>
				<xs:element maxOccurs="1" minOccurs="1" name="GENERICNUMBER3" type="xs:string"/>
				<xs:element maxOccurs="1" minOccurs="1" name="UNITTYPEFORGENERICNUMBER3" type="xs:string"/>
				<xs:element maxOccurs="1" minOccurs="1" name="GENERICNUMBER4" type="xs:string"/>
				<xs:element maxOccurs="1" minOccurs="1" name="UNITTYPEFORGENERICNUMBER4" type="xs:string"/>
				<xs:element maxOccurs="1" minOccurs="1" name="GENERICNUMBER5" type="xs:string"/>
				<xs:element maxOccurs="1" minOccurs="1" name="UNITTYPEFORGENERICNUMBER5" type="xs:string"/>
				<xs:element maxOccurs="1" minOccurs="1" name="GENERICNUMBER6" type="xs:string"/>
				<xs:element maxOccurs="1" minOccurs="1" name="UNITTYPEFORGENERICNUMBER6" type="xs:string"/>
				<xs:element maxOccurs="1" minOccurs="1" name="GENERICDATE1" type="xs:string"/>
				<xs:element maxOccurs="1" minOccurs="1" name="GENERICDATE2" type="xs:string"/>
				<xs:element maxOccurs="1" minOccurs="1" name="GENERICDATE3" type="xs:string"/>
				<xs:element maxOccurs="1" minOccurs="1" name="GENERICDATE4" type="xs:string"/>
				<xs:element maxOccurs="1" minOccurs="1" name="GENERICDATE5" type="xs:string"/>
				<xs:element maxOccurs="1" minOccurs="1" name="GENERICDATE6" type="xs:string"/>
				<xs:element maxOccurs="1" minOccurs="1" name="GENERICBOOLEAN1" type="xs:string"/>
				<xs:element maxOccurs="1" minOccurs="1" name="GENERICBOOLEAN2" type="xs:string"/>
				<xs:element maxOccurs="1" minOccurs="1" name="GENERICBOOLEAN3" type="xs:string"/>
				<xs:element maxOccurs="1" minOccurs="1" name="GENERICBOOLEAN4" type="xs:string"/>
				<xs:element maxOccurs="1" minOccurs="1" name="GENERICBOOLEAN5" type="xs:string"/>
				<xs:element maxOccurs="1" minOccurs="1" name="GENERICBOOLEAN6" type="xs:string"/>
			  </xs:sequence>
			</xs:complexType>
		  </xs:element>
		</xs:sequence>
	</xs:complexType>
  </xs:element>
</xs:schema>