Resources/schemas/Xsd/SAP_ERP_Integration_with_SAP_Build_Process_Automation_for_Vendor_Master - ui_inpt-2.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="root">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="context">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="sAccountGroup"/>
              <xs:element type="xs:string" name="sAlternativePayee" maxOccurs="1" minOccurs="0"/>
              <xs:element type="xs:string" name="sAuthorization" maxOccurs="1" minOccurs="0"/>
              <xs:element type="xs:string" name="sBankAcctNo" maxOccurs="1" minOccurs="0"/>
              <xs:element type="xs:string" name="sBankHolder" maxOccurs="1" minOccurs="0"/>
              <xs:element type="xs:string" name="sBankKey" maxOccurs="1" minOccurs="0"/>
              <xs:element type="xs:string" name="sCheckDigit" maxOccurs="1" minOccurs="0"/>
              <xs:element type="xs:string" name="sCity"/>
              <xs:element type="xs:string" name="sContactName" maxOccurs="1" minOccurs="0"/>
              <xs:element type="xs:string" name="sContactPhone" maxOccurs="1" minOccurs="0"/>
              <xs:element type="xs:string" name="sCorporateGroup" maxOccurs="1" minOccurs="0"/>
              <xs:element type="xs:string" name="sCountry"/>
              <xs:element type="xs:string" name="sCountryKey" maxOccurs="1" minOccurs="0"/>
              <xs:element type="xs:string" name="sCredInfoNo" maxOccurs="1" minOccurs="0"/>
              <xs:element type="xs:string" name="sCustomer" maxOccurs="1" minOccurs="0"/>
              <xs:element type="xs:string" name="sDMEIndicator" maxOccurs="1" minOccurs="0"/>
              <xs:element type="xs:string" name="sDateOfBirth" maxOccurs="1" minOccurs="0"/>
              <xs:element type="xs:string" name="sDepartment" maxOccurs="1" minOccurs="0"/>
              <xs:element type="xs:string" name="sDescription" maxOccurs="1" minOccurs="0"/>
              <xs:element type="xs:string" name="sDistrict" maxOccurs="1" minOccurs="0"/>
              <xs:element type="xs:string" name="sFax" maxOccurs="1" minOccurs="0"/>
              <xs:element type="xs:string" name="sFirstName" maxOccurs="1" minOccurs="0"/>
              <xs:element type="xs:string" name="sFormOfAddress" maxOccurs="1" minOccurs="0"/>
              <xs:element type="xs:string" name="sFunction" maxOccurs="1" minOccurs="0"/>
              <xs:element type="xs:string" name="sISRNumber" maxOccurs="1" minOccurs="0"/>
              <xs:element type="xs:string" name="sInstructionKey" maxOccurs="1" minOccurs="0"/>
              <xs:element type="xs:string" name="sLanguage"/>
              <xs:element type="xs:string" name="sLocationNumber" maxOccurs="1" minOccurs="0"/>
              <xs:element type="xs:string" name="sLocationNumber2" maxOccurs="1" minOccurs="0"/>
              <xs:element type="xs:string" name="sOtherCity" maxOccurs="1" minOccurs="0"/>
              <xs:element type="xs:string" name="sOtherCountry" maxOccurs="1" minOccurs="0"/>
              <xs:element type="xs:string" name="sPOBox" maxOccurs="1" minOccurs="0"/>
              <xs:element type="xs:string" name="sPlaceOfBirth" maxOccurs="1" minOccurs="0"/>
              <xs:element type="xs:string" name="sPostalCode" maxOccurs="1" minOccurs="0"/>
              <xs:element type="xs:string" name="sProfession" maxOccurs="1" minOccurs="0"/>
              <xs:element type="xs:string" name="sRegion" maxOccurs="1" minOccurs="0"/>
              <xs:element type="xs:string" name="sRepName" maxOccurs="1" minOccurs="0"/>
              <xs:element type="xs:string" name="sSCAC" maxOccurs="1" minOccurs="0"/>
              <xs:element type="xs:string" name="sSearchTerms" maxOccurs="1" minOccurs="0"/>
			  <xs:element type="xs:string" name="sPartnerNumber" maxOccurs="1" minOccurs="0"/>
              <xs:element type="xs:string" name="sStandardCommMethod" maxOccurs="1" minOccurs="0"/>
              <xs:element type="xs:string" name="sStreet1" maxOccurs="1" minOccurs="0"/>
              <xs:element type="xs:string" name="sSubsidiary" maxOccurs="1" minOccurs="0"/>
              <xs:element type="xs:string" name="sSuppl" maxOccurs="1" minOccurs="0"/>
              <xs:element type="xs:string" name="sTaxNumber" maxOccurs="1" minOccurs="0"/>
              <xs:element type="xs:string" name="sTaxNumber1" maxOccurs="1" minOccurs="0"/>
              <xs:element type="xs:string" name="sTaxNumber2" maxOccurs="1" minOccurs="0"/>
              <xs:element type="xs:string" name="sTaxNumber5" maxOccurs="1" minOccurs="0"/>
              <xs:element type="xs:string" name="sTradingPartner" maxOccurs="1" minOccurs="0"/>
              <xs:element type="xs:string" name="sVATRegNo" maxOccurs="1" minOccurs="0"/>
              <xs:element type="xs:string" name="sVendorContact" maxOccurs="1" minOccurs="0"/>
              <xs:element type="xs:string" name="sVendorEmail" maxOccurs="1" minOccurs="0"/>
              <xs:element type="xs:string" name="sVendorName"/>
              <xs:element type="xs:string" name="sVendorName2" maxOccurs="1" minOccurs="0"/>
              <xs:element type="xs:string" name="sVendorName3" maxOccurs="1" minOccurs="0"/>
              <xs:element type="xs:string" name="sVendorName4" maxOccurs="1" minOccurs="0"/>
              <xs:element type="xs:string" name="sVendorType" maxOccurs="1" minOccurs="0"/>
              <xs:element type="xs:string" name="sZipCode" maxOccurs="1" minOccurs="0"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element type="xs:string" name="definitionId" maxOccurs="1" minOccurs="0"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>