Resources/schemas/Xsd/SAP_Commerce_Integration_with_SAP_Customer_Relationship_Management - BusinessAgreement_IDOC-1.XSD

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" version="1.0">
 <xsd:element name="CRMXIF_IST_BUAG_SAVE01">
  <xsd:annotation>
   <xsd:documentation>IDoc Structure for Data Type CRMT_IST_BUAGS_EI_EXTERN</xsd:documentation>
  </xsd:annotation>
  <xsd:complexType>
   <xsd:sequence>
    <xsd:element name="IDOC">
     <xsd:complexType>
      <xsd:sequence>
       <xsd:element name="EDI_DC40">
        <xsd:annotation>
         <xsd:documentation>IDoc Control Record for Interface to External System</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
         <xsd:sequence>
          <xsd:element name="TABNAM" type="xsd:string" fixed="EDI_DC40">
           <xsd:annotation>
            <xsd:documentation>Name of Table Structure</xsd:documentation>
           </xsd:annotation>
          </xsd:element>
          <xsd:element name="MANDT" minOccurs="0">
           <xsd:annotation>
            <xsd:documentation>Client</xsd:documentation>
           </xsd:annotation>
           <xsd:simpleType>
            <xsd:restriction base="xsd:string">
             <xsd:maxLength value="3"/>
            </xsd:restriction>
           </xsd:simpleType>
          </xsd:element>
          <xsd:element name="DOCNUM" minOccurs="0">
           <xsd:annotation>
            <xsd:documentation>IDoc number</xsd:documentation>
           </xsd:annotation>
           <xsd:simpleType>
            <xsd:restriction base="xsd:string">
             <xsd:maxLength value="16"/>
            </xsd:restriction>
           </xsd:simpleType>
          </xsd:element>
          <xsd:element name="DOCREL" minOccurs="0">
           <xsd:annotation>
            <xsd:documentation>SAP Release for IDoc</xsd:documentation>
           </xsd:annotation>
           <xsd:simpleType>
            <xsd:restriction base="xsd:string">
             <xsd:maxLength value="4"/>
            </xsd:restriction>
           </xsd:simpleType>
          </xsd:element>
          <xsd:element name="STATUS" minOccurs="0">
           <xsd:annotation>
            <xsd:documentation>Status of IDoc</xsd:documentation>
           </xsd:annotation>
           <xsd:simpleType>
            <xsd:restriction base="xsd:string">
             <xsd:maxLength value="2"/>
            </xsd:restriction>
           </xsd:simpleType>
          </xsd:element>
          <xsd:element name="DIRECT">
           <xsd:annotation>
            <xsd:documentation>Direction</xsd:documentation>
           </xsd:annotation>
           <xsd:simpleType>
            <xsd:restriction base="xsd:string">
             <xsd:enumeration value="1">
              <xsd:annotation>
               <xsd:documentation>Outbound</xsd:documentation>
              </xsd:annotation>
             </xsd:enumeration>
             <xsd:enumeration value="2">
              <xsd:annotation>
               <xsd:documentation>Inbound</xsd:documentation>
              </xsd:annotation>
             </xsd:enumeration>
            </xsd:restriction>
           </xsd:simpleType>
          </xsd:element>
          <xsd:element name="OUTMOD" minOccurs="0">
           <xsd:annotation>
            <xsd:documentation>Output mode</xsd:documentation>
           </xsd:annotation>
           <xsd:simpleType>
            <xsd:restriction base="xsd:string">
             <xsd:maxLength value="1"/>
            </xsd:restriction>
           </xsd:simpleType>
          </xsd:element>
          <xsd:element name="EXPRSS" minOccurs="0">
           <xsd:annotation>
            <xsd:documentation>Overriding in inbound processing</xsd:documentation>
           </xsd:annotation>
           <xsd:simpleType>
            <xsd:restriction base="xsd:string">
             <xsd:maxLength value="1"/>
            </xsd:restriction>
           </xsd:simpleType>
          </xsd:element>
          <xsd:element name="TEST" minOccurs="0">
           <xsd:annotation>
            <xsd:documentation>Test flag</xsd:documentation>
           </xsd:annotation>
           <xsd:simpleType>
            <xsd:restriction base="xsd:string">
             <xsd:maxLength value="1"/>
            </xsd:restriction>
           </xsd:simpleType>
          </xsd:element>
          <xsd:element name="IDOCTYP" type="xsd:string" fixed="CRMXIF_IST_BUAG_SAVE01">
           <xsd:annotation>
            <xsd:documentation>Name of basic type</xsd:documentation>
           </xsd:annotation>
          </xsd:element>
          <xsd:element name="CIMTYP" minOccurs="0" type="xsd:string" fixed="">
           <xsd:annotation>
            <xsd:documentation>Extension (defined by customer)</xsd:documentation>
           </xsd:annotation>
          </xsd:element>
          <xsd:element name="MESTYP" minOccurs="0">
           <xsd:annotation>
            <xsd:documentation>Message type</xsd:documentation>
           </xsd:annotation>
           <xsd:simpleType>
            <xsd:restriction base="xsd:string">
             <xsd:maxLength value="30"/>
            </xsd:restriction>
           </xsd:simpleType>
          </xsd:element>
          <xsd:element name="MESCOD" minOccurs="0">
           <xsd:annotation>
            <xsd:documentation>Message code</xsd:documentation>
           </xsd:annotation>
           <xsd:simpleType>
            <xsd:restriction base="xsd:string">
             <xsd:maxLength value="3"/>
            </xsd:restriction>
           </xsd:simpleType>
          </xsd:element>
          <xsd:element name="MESFCT" minOccurs="0">
           <xsd:annotation>
            <xsd:documentation>Message Function</xsd:documentation>
           </xsd:annotation>
           <xsd:simpleType>
            <xsd:restriction base="xsd:string">
             <xsd:maxLength value="3"/>
            </xsd:restriction>
           </xsd:simpleType>
          </xsd:element>
          <xsd:element name="STD" minOccurs="0">
           <xsd:annotation>
            <xsd:documentation>EDI standard, flag</xsd:documentation>
           </xsd:annotation>
           <xsd:simpleType>
            <xsd:restriction base="xsd:string">
             <xsd:maxLength value="1"/>
            </xsd:restriction>
           </xsd:simpleType>
          </xsd:element>
          <xsd:element name="STDVRS" minOccurs="0">
           <xsd:annotation>
            <xsd:documentation>EDI standard, version and release</xsd:documentation>
           </xsd:annotation>
           <xsd:simpleType>
            <xsd:restriction base="xsd:string">
             <xsd:maxLength value="6"/>
            </xsd:restriction>
           </xsd:simpleType>
          </xsd:element>
          <xsd:element name="STDMES" minOccurs="0">
           <xsd:annotation>
            <xsd:documentation>EDI message type</xsd:documentation>
           </xsd:annotation>
           <xsd:simpleType>
            <xsd:restriction base="xsd:string">
             <xsd:maxLength value="6"/>
            </xsd:restriction>
           </xsd:simpleType>
          </xsd:element>
          <xsd:element name="SNDPOR">
           <xsd:annotation>
            <xsd:documentation>Sender port (SAP System, external subsystem)</xsd:documentation>
           </xsd:annotation>
           <xsd:simpleType>
            <xsd:restriction base="xsd:string">
             <xsd:maxLength value="10"/>
            </xsd:restriction>
           </xsd:simpleType>
          </xsd:element>
          <xsd:element name="SNDPRT">
           <xsd:annotation>
            <xsd:documentation>Partner type of sender</xsd:documentation>
           </xsd:annotation>
           <xsd:simpleType>
            <xsd:restriction base="xsd:string">
             <xsd:maxLength value="2"/>
            </xsd:restriction>
           </xsd:simpleType>
          </xsd:element>
          <xsd:element name="SNDPFC" minOccurs="0">
           <xsd:annotation>
            <xsd:documentation>Partner Function of Sender</xsd:documentation>
           </xsd:annotation>
           <xsd:simpleType>
            <xsd:restriction base="xsd:string">
             <xsd:maxLength value="2"/>
            </xsd:restriction>
           </xsd:simpleType>
          </xsd:element>
          <xsd:element name="SNDPRN">
           <xsd:annotation>
            <xsd:documentation>Partner Number of Sender</xsd:documentation>
           </xsd:annotation>
           <xsd:simpleType>
            <xsd:restriction base="xsd:string">
             <xsd:maxLength value="10"/>
            </xsd:restriction>
           </xsd:simpleType>
          </xsd:element>
          <xsd:element name="SNDSAD" minOccurs="0">
           <xsd:annotation>
            <xsd:documentation>Sender address (SADR)</xsd:documentation>
           </xsd:annotation>
           <xsd:simpleType>
            <xsd:restriction base="xsd:string">
             <xsd:maxLength value="21"/>
            </xsd:restriction>
           </xsd:simpleType>
          </xsd:element>
          <xsd:element name="SNDLAD" minOccurs="0">
           <xsd:annotation>
            <xsd:documentation>Logical address of sender</xsd:documentation>
           </xsd:annotation>
           <xsd:simpleType>
            <xsd:restriction base="xsd:string">
             <xsd:maxLength value="70"/>
            </xsd:restriction>
           </xsd:simpleType>
          </xsd:element>
          <xsd:element name="RCVPOR">
           <xsd:annotation>
            <xsd:documentation>Receiver port</xsd:documentation>
           </xsd:annotation>
           <xsd:simpleType>
            <xsd:restriction base="xsd:string">
             <xsd:maxLength value="10"/>
            </xsd:restriction>
           </xsd:simpleType>
          </xsd:element>
          <xsd:element name="RCVPRT" minOccurs="0">
           <xsd:annotation>
            <xsd:documentation>Partner Type of Receiver</xsd:documentation>
           </xsd:annotation>
           <xsd:simpleType>
            <xsd:restriction base="xsd:string">
             <xsd:maxLength value="2"/>
            </xsd:restriction>
           </xsd:simpleType>
          </xsd:element>
          <xsd:element name="RCVPFC" minOccurs="0">
           <xsd:annotation>
            <xsd:documentation>Partner function of recipient</xsd:documentation>
           </xsd:annotation>
           <xsd:simpleType>
            <xsd:restriction base="xsd:string">
             <xsd:maxLength value="2"/>
            </xsd:restriction>
           </xsd:simpleType>
          </xsd:element>
          <xsd:element name="RCVPRN">
           <xsd:annotation>
            <xsd:documentation>Partner Number of Receiver</xsd:documentation>
           </xsd:annotation>
           <xsd:simpleType>
            <xsd:restriction base="xsd:string">
             <xsd:maxLength value="10"/>
            </xsd:restriction>
           </xsd:simpleType>
          </xsd:element>
          <xsd:element name="RCVSAD" minOccurs="0">
           <xsd:annotation>
            <xsd:documentation>Recipient address (SADR)</xsd:documentation>
           </xsd:annotation>
           <xsd:simpleType>
            <xsd:restriction base="xsd:string">
             <xsd:maxLength value="21"/>
            </xsd:restriction>
           </xsd:simpleType>
          </xsd:element>
          <xsd:element name="RCVLAD" minOccurs="0">
           <xsd:annotation>
            <xsd:documentation>Logical address of recipient</xsd:documentation>
           </xsd:annotation>
           <xsd:simpleType>
            <xsd:restriction base="xsd:string">
             <xsd:maxLength value="70"/>
            </xsd:restriction>
           </xsd:simpleType>
          </xsd:element>
          <xsd:element name="CREDAT" minOccurs="0">
           <xsd:annotation>
            <xsd:documentation>Created On</xsd:documentation>
           </xsd:annotation>
           <xsd:simpleType>
            <xsd:restriction base="xsd:string">
             <xsd:maxLength value="8"/>
            </xsd:restriction>
           </xsd:simpleType>
          </xsd:element>
          <xsd:element name="CRETIM" minOccurs="0">
           <xsd:annotation>
            <xsd:documentation>Created at</xsd:documentation>
           </xsd:annotation>
           <xsd:simpleType>
            <xsd:restriction base="xsd:string">
             <xsd:maxLength value="6"/>
            </xsd:restriction>
           </xsd:simpleType>
          </xsd:element>
          <xsd:element name="REFINT" minOccurs="0">
           <xsd:annotation>
            <xsd:documentation>Transmission file (EDI Interchange)</xsd:documentation>
           </xsd:annotation>
           <xsd:simpleType>
            <xsd:restriction base="xsd:string">
             <xsd:maxLength value="14"/>
            </xsd:restriction>
           </xsd:simpleType>
          </xsd:element>
          <xsd:element name="REFGRP" minOccurs="0">
           <xsd:annotation>
            <xsd:documentation>Message group (EDI Message Group)</xsd:documentation>
           </xsd:annotation>
           <xsd:simpleType>
            <xsd:restriction base="xsd:string">
             <xsd:maxLength value="14"/>
            </xsd:restriction>
           </xsd:simpleType>
          </xsd:element>
          <xsd:element name="REFMES" minOccurs="0">
           <xsd:annotation>
            <xsd:documentation>Message (EDI Message)</xsd:documentation>
           </xsd:annotation>
           <xsd:simpleType>
            <xsd:restriction base="xsd:string">
             <xsd:maxLength value="14"/>
            </xsd:restriction>
           </xsd:simpleType>
          </xsd:element>
          <xsd:element name="ARCKEY" minOccurs="0">
           <xsd:annotation>
            <xsd:documentation>Key for external message archive</xsd:documentation>
           </xsd:annotation>
           <xsd:simpleType>
            <xsd:restriction base="xsd:string">
             <xsd:maxLength value="70"/>
            </xsd:restriction>
           </xsd:simpleType>
          </xsd:element>
          <xsd:element name="SERIAL" minOccurs="0">
           <xsd:annotation>
            <xsd:documentation>Serialization</xsd:documentation>
           </xsd:annotation>
           <xsd:simpleType>
            <xsd:restriction base="xsd:string">
             <xsd:maxLength value="20"/>
            </xsd:restriction>
           </xsd:simpleType>
          </xsd:element>
         </xsd:sequence>
         <xsd:attribute name="SEGMENT" use="required">
          <xsd:simpleType>
           <xsd:restriction base="xsd:string">
            <xsd:enumeration value="1"/>
           </xsd:restriction>
          </xsd:simpleType>
         </xsd:attribute>
        </xsd:complexType>
       </xsd:element>
       <xsd:element name="E101RMT_IST_BUAGS_EI_EXTERN" minOccurs="0">
        <xsd:annotation>
         <xsd:documentation>Complex External Interface of Business Agreement</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
         <xsd:sequence>
          <xsd:element name="APPL_SNAME" minOccurs="0">
           <xsd:annotation>
            <xsd:documentation>Structure Name, No Business Significance</xsd:documentation>
           </xsd:annotation>
           <xsd:simpleType>
            <xsd:restriction base="xsd:string">
             <xsd:maxLength value="30"/>
            </xsd:restriction>
           </xsd:simpleType>
          </xsd:element>
          <xsd:element name="E101RMT_IST_BUAGS_EI_HEADER" minOccurs="0">
           <xsd:annotation>
            <xsd:documentation>Ext. Interface: Header for Business Agreement Data</xsd:documentation>
           </xsd:annotation>
           <xsd:complexType>
            <xsd:sequence>
             <xsd:element name="APPL_SNAME" minOccurs="0">
              <xsd:annotation>
               <xsd:documentation>Structure Name, No Business Significance</xsd:documentation>
              </xsd:annotation>
              <xsd:simpleType>
               <xsd:restriction base="xsd:string">
                <xsd:maxLength value="30"/>
               </xsd:restriction>
              </xsd:simpleType>
             </xsd:element>
             <xsd:element name="OBJECT" minOccurs="0">
              <xsd:annotation>
               <xsd:documentation>External Interface: Object Type</xsd:documentation>
              </xsd:annotation>
              <xsd:simpleType>
               <xsd:restriction base="xsd:string">
                <xsd:maxLength value="32"/>
               </xsd:restriction>
              </xsd:simpleType>
             </xsd:element>
             <xsd:element name="OBJECT_TASK" minOccurs="0">
              <xsd:annotation>
               <xsd:documentation>Ext. Interface: Change Indicator</xsd:documentation>
              </xsd:annotation>
              <xsd:simpleType>
               <xsd:restriction base="xsd:string">
                <xsd:maxLength value="1"/>
               </xsd:restriction>
              </xsd:simpleType>
             </xsd:element>
             <xsd:element name="E101T_IST_BUAGS_EI_INSTANCE" minOccurs="0">
              <xsd:annotation>
               <xsd:documentation>Ext. Interface: ID and GUID of a Business Agreement</xsd:documentation>
              </xsd:annotation>
              <xsd:complexType>
               <xsd:sequence>
                <xsd:element name="APPL_SNAME" minOccurs="0">
                 <xsd:annotation>
                  <xsd:documentation>Structure Name, No Business Significance</xsd:documentation>
                 </xsd:annotation>
                 <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                   <xsd:maxLength value="30"/>
                  </xsd:restriction>
                 </xsd:simpleType>
                </xsd:element>
                <xsd:element name="BUAG_ID" minOccurs="0">
                 <xsd:annotation>
                  <xsd:documentation>Business Agreement Number</xsd:documentation>
                 </xsd:annotation>
                 <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                   <xsd:maxLength value="12"/>
                  </xsd:restriction>
                 </xsd:simpleType>
                </xsd:element>
                <xsd:element name="BUAG_GUID" minOccurs="0">
                 <xsd:annotation>
                  <xsd:documentation>Business Agreement GUID in CHAR 32 Format</xsd:documentation>
                 </xsd:annotation>
                 <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                   <xsd:maxLength value="32"/>
                  </xsd:restriction>
                 </xsd:simpleType>
                </xsd:element>
                <xsd:element name="PARTNER" minOccurs="0">
                 <xsd:annotation>
                  <xsd:documentation>Business Partner Number</xsd:documentation>
                 </xsd:annotation>
                 <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                   <xsd:maxLength value="10"/>
                  </xsd:restriction>
                 </xsd:simpleType>
                </xsd:element>
                <xsd:element name="PARTNER_GUID" minOccurs="0">
                 <xsd:annotation>
                  <xsd:documentation>GUID of a Business Partner in CHAR 32 Format for BAPIs</xsd:documentation>
                 </xsd:annotation>
                 <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                   <xsd:maxLength value="32"/>
                  </xsd:restriction>
                 </xsd:simpleType>
                </xsd:element>
               </xsd:sequence>
               <xsd:attribute name="SEGMENT" use="required">
                <xsd:simpleType>
                 <xsd:restriction base="xsd:string">
                  <xsd:enumeration value="1"/>
                 </xsd:restriction>
                </xsd:simpleType>
               </xsd:attribute>
              </xsd:complexType>
             </xsd:element>
            </xsd:sequence>
            <xsd:attribute name="SEGMENT" use="required">
             <xsd:simpleType>
              <xsd:restriction base="xsd:string">
               <xsd:enumeration value="1"/>
              </xsd:restriction>
             </xsd:simpleType>
            </xsd:attribute>
           </xsd:complexType>
          </xsd:element>
          <xsd:element name="E101CRMT_IST_BUAGS_EI_DATA" minOccurs="0">
           <xsd:annotation>
            <xsd:documentation>Ext. Interface: CRM-Specific Data</xsd:documentation>
           </xsd:annotation>
           <xsd:complexType>
            <xsd:sequence>
             <xsd:element name="APPL_SNAME" minOccurs="0">
              <xsd:annotation>
               <xsd:documentation>Structure Name, No Business Significance</xsd:documentation>
              </xsd:annotation>
              <xsd:simpleType>
               <xsd:restriction base="xsd:string">
                <xsd:maxLength value="30"/>
               </xsd:restriction>
              </xsd:simpleType>
             </xsd:element>
             <xsd:element name="E101MT_IST_BUAGS_EI_GENERAL" minOccurs="0">
              <xsd:annotation>
               <xsd:documentation>Ext. Interface: General Part of BA</xsd:documentation>
              </xsd:annotation>
              <xsd:complexType>
               <xsd:sequence>
                <xsd:element name="APPL_SNAME" minOccurs="0">
                 <xsd:annotation>
                  <xsd:documentation>Structure Name, No Business Significance</xsd:documentation>
                 </xsd:annotation>
                 <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                   <xsd:maxLength value="30"/>
                  </xsd:restriction>
                 </xsd:simpleType>
                </xsd:element>
                <xsd:element name="E101_IST_BUAGS_EI_GNRL_DATA" minOccurs="0">
                 <xsd:annotation>
                  <xsd:documentation>Ext. Interface: General Data of BA</xsd:documentation>
                 </xsd:annotation>
                 <xsd:complexType>
                  <xsd:sequence>
                   <xsd:element name="APPL_SNAME" minOccurs="0">
                    <xsd:annotation>
                     <xsd:documentation>Structure Name, No Business Significance</xsd:documentation>
                    </xsd:annotation>
                    <xsd:simpleType>
                     <xsd:restriction base="xsd:string">
                      <xsd:maxLength value="30"/>
                     </xsd:restriction>
                    </xsd:simpleType>
                   </xsd:element>
                   <xsd:element name="BABR_TEXT" minOccurs="0">
                    <xsd:annotation>
                     <xsd:documentation>Description of the Business Agreement (General Part)</xsd:documentation>
                    </xsd:annotation>
                    <xsd:simpleType>
                     <xsd:restriction base="xsd:string">
                      <xsd:maxLength value="30"/>
                     </xsd:restriction>
                    </xsd:simpleType>
                   </xsd:element>
                   <xsd:element name="METHOD_INC" minOccurs="0">
                    <xsd:annotation>
                     <xsd:documentation>Payment Method for Incoming Payments</xsd:documentation>
                    </xsd:annotation>
                    <xsd:simpleType>
                     <xsd:restriction base="xsd:string">
                      <xsd:maxLength value="1"/>
                     </xsd:restriction>
                    </xsd:simpleType>
                   </xsd:element>
                   <xsd:element name="METHOD_OUTG" minOccurs="0">
                    <xsd:annotation>
                     <xsd:documentation>External Interface: Payment Methods for Outgoing Payments</xsd:documentation>
                    </xsd:annotation>
                    <xsd:simpleType>
                     <xsd:restriction base="xsd:string">
                      <xsd:maxLength value="5"/>
                     </xsd:restriction>
                    </xsd:simpleType>
                   </xsd:element>
                   <xsd:element name="SENDCONTROL_DR" minOccurs="0">
                    <xsd:annotation>
                     <xsd:documentation>Shipping Control for Alternative Dunning Recipient</xsd:documentation>
                    </xsd:annotation>
                    <xsd:simpleType>
                     <xsd:restriction base="xsd:string">
                      <xsd:maxLength value="4"/>
                     </xsd:restriction>
                    </xsd:simpleType>
                   </xsd:element>
                   <xsd:element name="TOFPAYM" minOccurs="0">
                    <xsd:annotation>
                     <xsd:documentation>Terms of Payment</xsd:documentation>
                    </xsd:annotation>
                    <xsd:simpleType>
                     <xsd:restriction base="xsd:string">
                      <xsd:maxLength value="4"/>
                     </xsd:restriction>
                    </xsd:simpleType>
                   </xsd:element>
                   <xsd:element name="SENDCONTROL_BR" minOccurs="0">
                    <xsd:annotation>
                     <xsd:documentation>Shipping Control for Alternative Bill-to Party</xsd:documentation>
                    </xsd:annotation>
                    <xsd:simpleType>
                     <xsd:restriction base="xsd:string">
                      <xsd:maxLength value="4"/>
                     </xsd:restriction>
                    </xsd:simpleType>
                   </xsd:element>
                   <xsd:element name="CORRESP_VARIANT" minOccurs="0">
                    <xsd:annotation>
                     <xsd:documentation>Correspondence Variant</xsd:documentation>
                    </xsd:annotation>
                    <xsd:simpleType>
                     <xsd:restriction base="xsd:string">
                      <xsd:maxLength value="5"/>
                     </xsd:restriction>
                    </xsd:simpleType>
                   </xsd:element>
                   <xsd:element name="SENDCONTROL_BP" minOccurs="0">
                    <xsd:annotation>
                     <xsd:documentation>Shipping Control for Business Partner</xsd:documentation>
                    </xsd:annotation>
                    <xsd:simpleType>
                     <xsd:restriction base="xsd:string">
                      <xsd:maxLength value="4"/>
                     </xsd:restriction>
                    </xsd:simpleType>
                   </xsd:element>
                  </xsd:sequence>
                  <xsd:attribute name="SEGMENT" use="required">
                   <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                     <xsd:enumeration value="1"/>
                    </xsd:restriction>
                   </xsd:simpleType>
                  </xsd:attribute>
                 </xsd:complexType>
                </xsd:element>
                <xsd:element name="E101ST_BUAGS_EI_GNRL_DATA_X" minOccurs="0">
                 <xsd:annotation>
                  <xsd:documentation>Ext. Interface: Chang Indic. for General Data of a BP</xsd:documentation>
                 </xsd:annotation>
                 <xsd:complexType>
                  <xsd:sequence>
                   <xsd:element name="APPL_SNAME" minOccurs="0">
                    <xsd:annotation>
                     <xsd:documentation>Structure Name, No Business Significance</xsd:documentation>
                    </xsd:annotation>
                    <xsd:simpleType>
                     <xsd:restriction base="xsd:string">
                      <xsd:maxLength value="30"/>
                     </xsd:restriction>
                    </xsd:simpleType>
                   </xsd:element>
                   <xsd:element name="BABR_TEXT" minOccurs="0">
                    <xsd:annotation>
                     <xsd:documentation>Updated information in related user data field</xsd:documentation>
                    </xsd:annotation>
                    <xsd:simpleType>
                     <xsd:restriction base="xsd:string">
                      <xsd:maxLength value="1"/>
                     </xsd:restriction>
                    </xsd:simpleType>
                   </xsd:element>
                   <xsd:element name="METHOD_INC" minOccurs="0">
                    <xsd:annotation>
                     <xsd:documentation>Updated information in related user data field</xsd:documentation>
                    </xsd:annotation>
                    <xsd:simpleType>
                     <xsd:restriction base="xsd:string">
                      <xsd:maxLength value="1"/>
                     </xsd:restriction>
                    </xsd:simpleType>
                   </xsd:element>
                   <xsd:element name="METHOD_OUTG" minOccurs="0">
                    <xsd:annotation>
                     <xsd:documentation>Updated information in related user data field</xsd:documentation>
                    </xsd:annotation>
                    <xsd:simpleType>
                     <xsd:restriction base="xsd:string">
                      <xsd:maxLength value="1"/>
                     </xsd:restriction>
                    </xsd:simpleType>
                   </xsd:element>
                   <xsd:element name="SENDCONTROL_DR" minOccurs="0">
                    <xsd:annotation>
                     <xsd:documentation>Updated information in related user data field</xsd:documentation>
                    </xsd:annotation>
                    <xsd:simpleType>
                     <xsd:restriction base="xsd:string">
                      <xsd:maxLength value="1"/>
                     </xsd:restriction>
                    </xsd:simpleType>
                   </xsd:element>
                   <xsd:element name="TOFPAYM" minOccurs="0">
                    <xsd:annotation>
                     <xsd:documentation>Updated information in related user data field</xsd:documentation>
                    </xsd:annotation>
                    <xsd:simpleType>
                     <xsd:restriction base="xsd:string">
                      <xsd:maxLength value="1"/>
                     </xsd:restriction>
                    </xsd:simpleType>
                   </xsd:element>
                   <xsd:element name="SENDCONTROL_BR" minOccurs="0">
                    <xsd:annotation>
                     <xsd:documentation>Updated information in related user data field</xsd:documentation>
                    </xsd:annotation>
                    <xsd:simpleType>
                     <xsd:restriction base="xsd:string">
                      <xsd:maxLength value="1"/>
                     </xsd:restriction>
                    </xsd:simpleType>
                   </xsd:element>
                   <xsd:element name="CORRESP_VARIANT" minOccurs="0">
                    <xsd:annotation>
                     <xsd:documentation>Updated information in related user data field</xsd:documentation>
                    </xsd:annotation>
                    <xsd:simpleType>
                     <xsd:restriction base="xsd:string">
                      <xsd:maxLength value="1"/>
                     </xsd:restriction>
                    </xsd:simpleType>
                   </xsd:element>
                   <xsd:element name="SENDCONTROL_BP" minOccurs="0">
                    <xsd:annotation>
                     <xsd:documentation>Updated information in related user data field</xsd:documentation>
                    </xsd:annotation>
                    <xsd:simpleType>
                     <xsd:restriction base="xsd:string">
                      <xsd:maxLength value="1"/>
                     </xsd:restriction>
                    </xsd:simpleType>
                   </xsd:element>
                  </xsd:sequence>
                  <xsd:attribute name="SEGMENT" use="required">
                   <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                     <xsd:enumeration value="1"/>
                    </xsd:restriction>
                   </xsd:simpleType>
                  </xsd:attribute>
                 </xsd:complexType>
                </xsd:element>
               </xsd:sequence>
               <xsd:attribute name="SEGMENT" use="required">
                <xsd:simpleType>
                 <xsd:restriction base="xsd:string">
                  <xsd:enumeration value="1"/>
                 </xsd:restriction>
                </xsd:simpleType>
               </xsd:attribute>
              </xsd:complexType>
             </xsd:element>
             <xsd:element name="E101MT_IST_BUAGS_EI_SPECIAL" minOccurs="0">
              <xsd:annotation>
               <xsd:documentation>Ext. Indicator: Special Part of a BA</xsd:documentation>
              </xsd:annotation>
              <xsd:complexType>
               <xsd:sequence>
                <xsd:element name="APPL_SNAME" minOccurs="0">
                 <xsd:annotation>
                  <xsd:documentation>Structure Name, No Business Significance</xsd:documentation>
                 </xsd:annotation>
                 <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                   <xsd:maxLength value="30"/>
                  </xsd:restriction>
                 </xsd:simpleType>
                </xsd:element>
                <xsd:element name="E101_IST_BUAGS_EI_SPEC_DATA" minOccurs="0">
                 <xsd:annotation>
                  <xsd:documentation>Ext. Indicator: Special Data of a BA</xsd:documentation>
                 </xsd:annotation>
                 <xsd:complexType>
                  <xsd:sequence>
                   <xsd:element name="APPL_SNAME" minOccurs="0">
                    <xsd:annotation>
                     <xsd:documentation>Structure Name, No Business Significance</xsd:documentation>
                    </xsd:annotation>
                    <xsd:simpleType>
                     <xsd:restriction base="xsd:string">
                      <xsd:maxLength value="30"/>
                     </xsd:restriction>
                    </xsd:simpleType>
                   </xsd:element>
                   <xsd:element name="BUAG_TEXT" minOccurs="0">
                    <xsd:annotation>
                     <xsd:documentation>Description of a Business Agreement</xsd:documentation>
                    </xsd:annotation>
                    <xsd:simpleType>
                     <xsd:restriction base="xsd:string">
                      <xsd:maxLength value="30"/>
                     </xsd:restriction>
                    </xsd:simpleType>
                   </xsd:element>
                   <xsd:element name="BUAG_DEFAULT" minOccurs="0">
                    <xsd:annotation>
                     <xsd:documentation>Standard Business Agreement Indicator</xsd:documentation>
                    </xsd:annotation>
                    <xsd:simpleType>
                     <xsd:restriction base="xsd:string">
                      <xsd:maxLength value="1"/>
                     </xsd:restriction>
                    </xsd:simpleType>
                   </xsd:element>
                   <xsd:element name="BUAG_CLASS" minOccurs="0">
                    <xsd:annotation>
                     <xsd:documentation>Business Agreement Class</xsd:documentation>
                    </xsd:annotation>
                    <xsd:simpleType>
                     <xsd:restriction base="xsd:string">
                      <xsd:maxLength value="10"/>
                     </xsd:restriction>
                    </xsd:simpleType>
                   </xsd:element>
                   <xsd:element name="ADDR_CR_GUID" minOccurs="0">
                    <xsd:annotation>
                     <xsd:documentation>GUID of a BP Address in CHAR 32 Format for BAPIs</xsd:documentation>
                    </xsd:annotation>
                    <xsd:simpleType>
                     <xsd:restriction base="xsd:string">
                      <xsd:maxLength value="32"/>
                     </xsd:restriction>
                    </xsd:simpleType>
                   </xsd:element>
                   <xsd:element name="BANK_INC" minOccurs="0">
                    <xsd:annotation>
                     <xsd:documentation>Bank Details ID for Incoming Payments</xsd:documentation>
                    </xsd:annotation>
                    <xsd:simpleType>
                     <xsd:restriction base="xsd:string">
                      <xsd:maxLength value="4"/>
                     </xsd:restriction>
                    </xsd:simpleType>
                   </xsd:element>
                   <xsd:element name="BANK_OUTG" minOccurs="0">
                    <xsd:annotation>
                     <xsd:documentation>Bank Details ID for Outgoing Payments</xsd:documentation>
                    </xsd:annotation>
                    <xsd:simpleType>
                     <xsd:restriction base="xsd:string">
                      <xsd:maxLength value="4"/>
                     </xsd:restriction>
                    </xsd:simpleType>
                   </xsd:element>
                   <xsd:element name="CREDIT_CARD_INC" minOccurs="0">
                    <xsd:annotation>
                     <xsd:documentation>Payment Card ID for Incoming Payments</xsd:documentation>
                    </xsd:annotation>
                    <xsd:simpleType>
                     <xsd:restriction base="xsd:string">
                      <xsd:maxLength value="6"/>
                     </xsd:restriction>
                    </xsd:simpleType>
                   </xsd:element>
                   <xsd:element name="CREDIT_CARD_OUTG" minOccurs="0">
                    <xsd:annotation>
                     <xsd:documentation>Payment Card ID for Outgoing Payments</xsd:documentation>
                    </xsd:annotation>
                    <xsd:simpleType>
                     <xsd:restriction base="xsd:string">
                      <xsd:maxLength value="6"/>
                     </xsd:restriction>
                    </xsd:simpleType>
                   </xsd:element>
                   <xsd:element name="ADDR_DR_GUID" minOccurs="0">
                    <xsd:annotation>
                     <xsd:documentation>GUID of a BP Address in CHAR 32 Format for BAPIs</xsd:documentation>
                    </xsd:annotation>
                    <xsd:simpleType>
                     <xsd:restriction base="xsd:string">
                      <xsd:maxLength value="32"/>
                     </xsd:restriction>
                    </xsd:simpleType>
                   </xsd:element>
                   <xsd:element name="ADDR_PY_GUID" minOccurs="0">
                    <xsd:annotation>
                     <xsd:documentation>GUID of a BP Address in CHAR 32 Format for BAPIs</xsd:documentation>
                    </xsd:annotation>
                    <xsd:simpleType>
                     <xsd:restriction base="xsd:string">
                      <xsd:maxLength value="32"/>
                     </xsd:restriction>
                    </xsd:simpleType>
                   </xsd:element>
                   <xsd:element name="ADDR_PR_GUID" minOccurs="0">
                    <xsd:annotation>
                     <xsd:documentation>GUID of a BP Address in CHAR 32 Format for BAPIs</xsd:documentation>
                    </xsd:annotation>
                    <xsd:simpleType>
                     <xsd:restriction base="xsd:string">
                      <xsd:maxLength value="32"/>
                     </xsd:restriction>
                    </xsd:simpleType>
                   </xsd:element>
                   <xsd:element name="ADDR_IR_GUID" minOccurs="0">
                    <xsd:annotation>
                     <xsd:documentation>GUID of a BP Address in CHAR 32 Format for BAPIs</xsd:documentation>
                    </xsd:annotation>
                    <xsd:simpleType>
                     <xsd:restriction base="xsd:string">
                      <xsd:maxLength value="32"/>
                     </xsd:restriction>
                    </xsd:simpleType>
                   </xsd:element>
                   <xsd:element name="ADDR_TAX_GUID" minOccurs="0">
                    <xsd:annotation>
                     <xsd:documentation>GUID of a BP Address in CHAR 32 Format for BAPIs</xsd:documentation>
                    </xsd:annotation>
                    <xsd:simpleType>
                     <xsd:restriction base="xsd:string">
                      <xsd:maxLength value="32"/>
                     </xsd:restriction>
                    </xsd:simpleType>
                   </xsd:element>
                   <xsd:element name="PAYER_BUAG_GUID" minOccurs="0">
                    <xsd:annotation>
                     <xsd:documentation>Business Agreement GUID in CHAR 32 Format</xsd:documentation>
                    </xsd:annotation>
                    <xsd:simpleType>
                     <xsd:restriction base="xsd:string">
                      <xsd:maxLength value="32"/>
                     </xsd:restriction>
                    </xsd:simpleType>
                   </xsd:element>
                   <xsd:element name="TAX_CATEGORY" minOccurs="0">
                    <xsd:annotation>
                     <xsd:documentation>Tax Category</xsd:documentation>
                    </xsd:annotation>
                    <xsd:simpleType>
                     <xsd:restriction base="xsd:string">
                      <xsd:maxLength value="2"/>
                     </xsd:restriction>
                    </xsd:simpleType>
                   </xsd:element>
                   <xsd:element name="TAX_CODE" minOccurs="0">
                    <xsd:annotation>
                     <xsd:documentation>Tax Feature</xsd:documentation>
                    </xsd:annotation>
                    <xsd:simpleType>
                     <xsd:restriction base="xsd:string">
                      <xsd:maxLength value="2"/>
                     </xsd:restriction>
                    </xsd:simpleType>
                   </xsd:element>
                   <xsd:element name="BUAG_ACTV_ACC" minOccurs="0">
                    <xsd:annotation>
                     <xsd:documentation>Active Account with Open Items (FI-CA, FI-AR)</xsd:documentation>
                    </xsd:annotation>
                    <xsd:simpleType>
                     <xsd:restriction base="xsd:string">
                      <xsd:maxLength value="1"/>
                     </xsd:restriction>
                    </xsd:simpleType>
                   </xsd:element>
                   <xsd:element name="REF_NUMBER" minOccurs="0">
                    <xsd:annotation>
                     <xsd:documentation>Reference Number of Business Agreement</xsd:documentation>
                    </xsd:annotation>
                    <xsd:simpleType>
                     <xsd:restriction base="xsd:string">
                      <xsd:maxLength value="25"/>
                     </xsd:restriction>
                    </xsd:simpleType>
                   </xsd:element>
                  </xsd:sequence>
                  <xsd:attribute name="SEGMENT" use="required">
                   <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                     <xsd:enumeration value="1"/>
                    </xsd:restriction>
                   </xsd:simpleType>
                  </xsd:attribute>
                 </xsd:complexType>
                </xsd:element>
                <xsd:element name="E101ST_BUAGS_EI_SPEC_DATA_X" minOccurs="0">
                 <xsd:annotation>
                  <xsd:documentation>Ext. Interface: Change Indic. for Special Data of a BA</xsd:documentation>
                 </xsd:annotation>
                 <xsd:complexType>
                  <xsd:sequence>
                   <xsd:element name="APPL_SNAME" minOccurs="0">
                    <xsd:annotation>
                     <xsd:documentation>Structure Name, No Business Significance</xsd:documentation>
                    </xsd:annotation>
                    <xsd:simpleType>
                     <xsd:restriction base="xsd:string">
                      <xsd:maxLength value="30"/>
                     </xsd:restriction>
                    </xsd:simpleType>
                   </xsd:element>
                   <xsd:element name="BUAG_TEXT" minOccurs="0">
                    <xsd:annotation>
                     <xsd:documentation>Updated information in related user data field</xsd:documentation>
                    </xsd:annotation>
                    <xsd:simpleType>
                     <xsd:restriction base="xsd:string">
                      <xsd:maxLength value="1"/>
                     </xsd:restriction>
                    </xsd:simpleType>
                   </xsd:element>
                   <xsd:element name="BUAG_DEFAULT" minOccurs="0">
                    <xsd:annotation>
                     <xsd:documentation>Updated information in related user data field</xsd:documentation>
                    </xsd:annotation>
                    <xsd:simpleType>
                     <xsd:restriction base="xsd:string">
                      <xsd:maxLength value="1"/>
                     </xsd:restriction>
                    </xsd:simpleType>
                   </xsd:element>
                   <xsd:element name="BUAG_CLASS" minOccurs="0">
                    <xsd:annotation>
                     <xsd:documentation>Updated information in related user data field</xsd:documentation>
                    </xsd:annotation>
                    <xsd:simpleType>
                     <xsd:restriction base="xsd:string">
                      <xsd:maxLength value="1"/>
                     </xsd:restriction>
                    </xsd:simpleType>
                   </xsd:element>
                   <xsd:element name="ADDR_CR_GUID" minOccurs="0">
                    <xsd:annotation>
                     <xsd:documentation>Updated information in related user data field</xsd:documentation>
                    </xsd:annotation>
                    <xsd:simpleType>
                     <xsd:restriction base="xsd:string">
                      <xsd:maxLength value="1"/>
                     </xsd:restriction>
                    </xsd:simpleType>
                   </xsd:element>
                   <xsd:element name="BANK_INC" minOccurs="0">
                    <xsd:annotation>
                     <xsd:documentation>Updated information in related user data field</xsd:documentation>
                    </xsd:annotation>
                    <xsd:simpleType>
                     <xsd:restriction base="xsd:string">
                      <xsd:maxLength value="1"/>
                     </xsd:restriction>
                    </xsd:simpleType>
                   </xsd:element>
                   <xsd:element name="BANK_OUTG" minOccurs="0">
                    <xsd:annotation>
                     <xsd:documentation>Updated information in related user data field</xsd:documentation>
                    </xsd:annotation>
                    <xsd:simpleType>
                     <xsd:restriction base="xsd:string">
                      <xsd:maxLength value="1"/>
                     </xsd:restriction>
                    </xsd:simpleType>
                   </xsd:element>
                   <xsd:element name="CREDIT_CARD_INC" minOccurs="0">
                    <xsd:annotation>
                     <xsd:documentation>Updated information in related user data field</xsd:documentation>
                    </xsd:annotation>
                    <xsd:simpleType>
                     <xsd:restriction base="xsd:string">
                      <xsd:maxLength value="1"/>
                     </xsd:restriction>
                    </xsd:simpleType>
                   </xsd:element>
                   <xsd:element name="CREDIT_CARD_OUTG" minOccurs="0">
                    <xsd:annotation>
                     <xsd:documentation>Updated information in related user data field</xsd:documentation>
                    </xsd:annotation>
                    <xsd:simpleType>
                     <xsd:restriction base="xsd:string">
                      <xsd:maxLength value="1"/>
                     </xsd:restriction>
                    </xsd:simpleType>
                   </xsd:element>
                   <xsd:element name="ADDR_DR_GUID" minOccurs="0">
                    <xsd:annotation>
                     <xsd:documentation>Updated information in related user data field</xsd:documentation>
                    </xsd:annotation>
                    <xsd:simpleType>
                     <xsd:restriction base="xsd:string">
                      <xsd:maxLength value="1"/>
                     </xsd:restriction>
                    </xsd:simpleType>
                   </xsd:element>
                   <xsd:element name="ADDR_PY_GUID" minOccurs="0">
                    <xsd:annotation>
                     <xsd:documentation>Updated information in related user data field</xsd:documentation>
                    </xsd:annotation>
                    <xsd:simpleType>
                     <xsd:restriction base="xsd:string">
                      <xsd:maxLength value="1"/>
                     </xsd:restriction>
                    </xsd:simpleType>
                   </xsd:element>
                   <xsd:element name="ADDR_PR_GUID" minOccurs="0">
                    <xsd:annotation>
                     <xsd:documentation>Updated information in related user data field</xsd:documentation>
                    </xsd:annotation>
                    <xsd:simpleType>
                     <xsd:restriction base="xsd:string">
                      <xsd:maxLength value="1"/>
                     </xsd:restriction>
                    </xsd:simpleType>
                   </xsd:element>
                   <xsd:element name="ADDR_IR_GUID" minOccurs="0">
                    <xsd:annotation>
                     <xsd:documentation>Updated information in related user data field</xsd:documentation>
                    </xsd:annotation>
                    <xsd:simpleType>
                     <xsd:restriction base="xsd:string">
                      <xsd:maxLength value="1"/>
                     </xsd:restriction>
                    </xsd:simpleType>
                   </xsd:element>
                   <xsd:element name="ADDR_TAX_GUID" minOccurs="0">
                    <xsd:annotation>
                     <xsd:documentation>Updated information in related user data field</xsd:documentation>
                    </xsd:annotation>
                    <xsd:simpleType>
                     <xsd:restriction base="xsd:string">
                      <xsd:maxLength value="1"/>
                     </xsd:restriction>
                    </xsd:simpleType>
                   </xsd:element>
                   <xsd:element name="PAYER_BUAG_GUID" minOccurs="0">
                    <xsd:annotation>
                     <xsd:documentation>Updated information in related user data field</xsd:documentation>
                    </xsd:annotation>
                    <xsd:simpleType>
                     <xsd:restriction base="xsd:string">
                      <xsd:maxLength value="1"/>
                     </xsd:restriction>
                    </xsd:simpleType>
                   </xsd:element>
                   <xsd:element name="TAX_CATEGORY" minOccurs="0">
                    <xsd:annotation>
                     <xsd:documentation>Updated information in related user data field</xsd:documentation>
                    </xsd:annotation>
                    <xsd:simpleType>
                     <xsd:restriction base="xsd:string">
                      <xsd:maxLength value="1"/>
                     </xsd:restriction>
                    </xsd:simpleType>
                   </xsd:element>
                   <xsd:element name="TAX_CODE" minOccurs="0">
                    <xsd:annotation>
                     <xsd:documentation>Updated information in related user data field</xsd:documentation>
                    </xsd:annotation>
                    <xsd:simpleType>
                     <xsd:restriction base="xsd:string">
                      <xsd:maxLength value="1"/>
                     </xsd:restriction>
                    </xsd:simpleType>
                   </xsd:element>
                   <xsd:element name="BUAG_ACTV_ACC" minOccurs="0">
                    <xsd:annotation>
                     <xsd:documentation>Updated information in related user data field</xsd:documentation>
                    </xsd:annotation>
                    <xsd:simpleType>
                     <xsd:restriction base="xsd:string">
                      <xsd:maxLength value="1"/>
                     </xsd:restriction>
                    </xsd:simpleType>
                   </xsd:element>
                   <xsd:element name="REF_NUMBER" minOccurs="0">
                    <xsd:annotation>
                     <xsd:documentation>Updated information in related user data field</xsd:documentation>
                    </xsd:annotation>
                    <xsd:simpleType>
                     <xsd:restriction base="xsd:string">
                      <xsd:maxLength value="1"/>
                     </xsd:restriction>
                    </xsd:simpleType>
                   </xsd:element>
                  </xsd:sequence>
                  <xsd:attribute name="SEGMENT" use="required">
                   <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                     <xsd:enumeration value="1"/>
                    </xsd:restriction>
                   </xsd:simpleType>
                  </xsd:attribute>
                 </xsd:complexType>
                </xsd:element>
               </xsd:sequence>
               <xsd:attribute name="SEGMENT" use="required">
                <xsd:simpleType>
                 <xsd:restriction base="xsd:string">
                  <xsd:enumeration value="1"/>
                 </xsd:restriction>
                </xsd:simpleType>
               </xsd:attribute>
              </xsd:complexType>
             </xsd:element>
             <xsd:element name="E101_IST_BUAGS_EI_RELATIONS" minOccurs="0">
              <xsd:annotation>
               <xsd:documentation>Ext. Interface: Partner Function of a BA</xsd:documentation>
              </xsd:annotation>
              <xsd:complexType>
               <xsd:sequence>
                <xsd:element name="APPL_SNAME" minOccurs="0">
                 <xsd:annotation>
                  <xsd:documentation>Structure Name, No Business Significance</xsd:documentation>
                 </xsd:annotation>
                 <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                   <xsd:maxLength value="30"/>
                  </xsd:restriction>
                 </xsd:simpleType>
                </xsd:element>
                <xsd:element name="CURRENT_STATE" minOccurs="0">
                 <xsd:annotation>
                  <xsd:documentation>Ext. Interface: Indicator for Complete Data</xsd:documentation>
                 </xsd:annotation>
                 <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                   <xsd:maxLength value="1"/>
                  </xsd:restriction>
                 </xsd:simpleType>
                </xsd:element>
                <xsd:element name="E101T_IST_BUAGS_EI_RELATION" minOccurs="0" maxOccurs="999999">
                 <xsd:annotation>
                  <xsd:documentation>Ext. Interface: Partner Function of a BA</xsd:documentation>
                 </xsd:annotation>
                 <xsd:complexType>
                  <xsd:sequence>
                   <xsd:element name="APPL_SNAME" minOccurs="0">
                    <xsd:annotation>
                     <xsd:documentation>Structure Name, No Business Significance</xsd:documentation>
                    </xsd:annotation>
                    <xsd:simpleType>
                     <xsd:restriction base="xsd:string">
                      <xsd:maxLength value="30"/>
                     </xsd:restriction>
                    </xsd:simpleType>
                   </xsd:element>
                   <xsd:element name="TASK" minOccurs="0">
                    <xsd:annotation>
                     <xsd:documentation>Ext. Interface: Change Indicator</xsd:documentation>
                    </xsd:annotation>
                    <xsd:simpleType>
                     <xsd:restriction base="xsd:string">
                      <xsd:maxLength value="1"/>
                     </xsd:restriction>
                    </xsd:simpleType>
                   </xsd:element>
                   <xsd:element name="E101T_IST_BUAGS_EI_REL_DATA" minOccurs="0">
                    <xsd:annotation>
                     <xsd:documentation>Ext. Interface: Partner Function of a BA (FI-CA)</xsd:documentation>
                    </xsd:annotation>
                    <xsd:complexType>
                     <xsd:sequence>
                      <xsd:element name="APPL_SNAME" minOccurs="0">
                       <xsd:annotation>
                        <xsd:documentation>Structure Name, No Business Significance</xsd:documentation>
                       </xsd:annotation>
                       <xsd:simpleType>
                        <xsd:restriction base="xsd:string">
                         <xsd:maxLength value="30"/>
                        </xsd:restriction>
                       </xsd:simpleType>
                      </xsd:element>
                      <xsd:element name="PARTNER_PFT" minOccurs="0">
                       <xsd:annotation>
                        <xsd:documentation>Ext. Interface: Partner Funtion Category</xsd:documentation>
                       </xsd:annotation>
                       <xsd:simpleType>
                        <xsd:restriction base="xsd:string">
                         <xsd:maxLength value="4"/>
                        </xsd:restriction>
                       </xsd:simpleType>
                      </xsd:element>
                      <xsd:element name="PARTNER_GUID1" minOccurs="0">
                       <xsd:annotation>
                        <xsd:documentation>GUID of a Business Partner in CHAR 32 Format for BAPIs</xsd:documentation>
                       </xsd:annotation>
                       <xsd:simpleType>
                        <xsd:restriction base="xsd:string">
                         <xsd:maxLength value="32"/>
                        </xsd:restriction>
                       </xsd:simpleType>
                      </xsd:element>
                      <xsd:element name="PARTNER1" minOccurs="0">
                       <xsd:annotation>
                        <xsd:documentation>Business Partner Number</xsd:documentation>
                       </xsd:annotation>
                       <xsd:simpleType>
                        <xsd:restriction base="xsd:string">
                         <xsd:maxLength value="10"/>
                        </xsd:restriction>
                       </xsd:simpleType>
                      </xsd:element>
                      <xsd:element name="PARTNER_GUID2" minOccurs="0">
                       <xsd:annotation>
                        <xsd:documentation>GUID of a Business Partner in CHAR 32 Format for BAPIs</xsd:documentation>
                       </xsd:annotation>
                       <xsd:simpleType>
                        <xsd:restriction base="xsd:string">
                         <xsd:maxLength value="32"/>
                        </xsd:restriction>
                       </xsd:simpleType>
                      </xsd:element>
                      <xsd:element name="PARTNER2" minOccurs="0">
                       <xsd:annotation>
                        <xsd:documentation>Business Partner Number</xsd:documentation>
                       </xsd:annotation>
                       <xsd:simpleType>
                        <xsd:restriction base="xsd:string">
                         <xsd:maxLength value="10"/>
                        </xsd:restriction>
                       </xsd:simpleType>
                      </xsd:element>
                      <xsd:element name="PARTNER_FCT" minOccurs="0">
                       <xsd:annotation>
                        <xsd:documentation>Partner Function</xsd:documentation>
                       </xsd:annotation>
                       <xsd:simpleType>
                        <xsd:restriction base="xsd:string">
                         <xsd:maxLength value="8"/>
                        </xsd:restriction>
                       </xsd:simpleType>
                      </xsd:element>
                     </xsd:sequence>
                     <xsd:attribute name="SEGMENT" use="required">
                      <xsd:simpleType>
                       <xsd:restriction base="xsd:string">
                        <xsd:enumeration value="1"/>
                       </xsd:restriction>
                      </xsd:simpleType>
                     </xsd:attribute>
                    </xsd:complexType>
                   </xsd:element>
                   <xsd:element name="E101IST_BUAGS_EI_REL_DATA_X" minOccurs="0">
                    <xsd:annotation>
                     <xsd:documentation>Ext. Interface: Change Ind. f. Partner Functn of a BA(FI-CA)</xsd:documentation>
                    </xsd:annotation>
                    <xsd:complexType>
                     <xsd:sequence>
                      <xsd:element name="APPL_SNAME" minOccurs="0">
                       <xsd:annotation>
                        <xsd:documentation>Structure Name, No Business Significance</xsd:documentation>
                       </xsd:annotation>
                       <xsd:simpleType>
                        <xsd:restriction base="xsd:string">
                         <xsd:maxLength value="30"/>
                        </xsd:restriction>
                       </xsd:simpleType>
                      </xsd:element>
                      <xsd:element name="PARTNER_PFT" minOccurs="0">
                       <xsd:annotation>
                        <xsd:documentation>Updated information in related user data field</xsd:documentation>
                       </xsd:annotation>
                       <xsd:simpleType>
                        <xsd:restriction base="xsd:string">
                         <xsd:maxLength value="1"/>
                        </xsd:restriction>
                       </xsd:simpleType>
                      </xsd:element>
                      <xsd:element name="PARTNER_GUID1" minOccurs="0">
                       <xsd:annotation>
                        <xsd:documentation>Updated information in related user data field</xsd:documentation>
                       </xsd:annotation>
                       <xsd:simpleType>
                        <xsd:restriction base="xsd:string">
                         <xsd:maxLength value="1"/>
                        </xsd:restriction>
                       </xsd:simpleType>
                      </xsd:element>
                      <xsd:element name="PARTNER1" minOccurs="0">
                       <xsd:annotation>
                        <xsd:documentation>Updated information in related user data field</xsd:documentation>
                       </xsd:annotation>
                       <xsd:simpleType>
                        <xsd:restriction base="xsd:string">
                         <xsd:maxLength value="1"/>
                        </xsd:restriction>
                       </xsd:simpleType>
                      </xsd:element>
                      <xsd:element name="PARTNER_GUID2" minOccurs="0">
                       <xsd:annotation>
                        <xsd:documentation>Updated information in related user data field</xsd:documentation>
                       </xsd:annotation>
                       <xsd:simpleType>
                        <xsd:restriction base="xsd:string">
                         <xsd:maxLength value="1"/>
                        </xsd:restriction>
                       </xsd:simpleType>
                      </xsd:element>
                      <xsd:element name="PARTNER2" minOccurs="0">
                       <xsd:annotation>
                        <xsd:documentation>Updated information in related user data field</xsd:documentation>
                       </xsd:annotation>
                       <xsd:simpleType>
                        <xsd:restriction base="xsd:string">
                         <xsd:maxLength value="1"/>
                        </xsd:restriction>
                       </xsd:simpleType>
                      </xsd:element>
                      <xsd:element name="PARTNER_FCT" minOccurs="0">
                       <xsd:annotation>
                        <xsd:documentation>Updated information in related user data field</xsd:documentation>
                       </xsd:annotation>
                       <xsd:simpleType>
                        <xsd:restriction base="xsd:string">
                         <xsd:maxLength value="1"/>
                        </xsd:restriction>
                       </xsd:simpleType>
                      </xsd:element>
                     </xsd:sequence>
                     <xsd:attribute name="SEGMENT" use="required">
                      <xsd:simpleType>
                       <xsd:restriction base="xsd:string">
                        <xsd:enumeration value="1"/>
                       </xsd:restriction>
                      </xsd:simpleType>
                     </xsd:attribute>
                    </xsd:complexType>
                   </xsd:element>
                  </xsd:sequence>
                  <xsd:attribute name="SEGMENT" use="required">
                   <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                     <xsd:enumeration value="1"/>
                    </xsd:restriction>
                   </xsd:simpleType>
                  </xsd:attribute>
                 </xsd:complexType>
                </xsd:element>
               </xsd:sequence>
               <xsd:attribute name="SEGMENT" use="required">
                <xsd:simpleType>
                 <xsd:restriction base="xsd:string">
                  <xsd:enumeration value="1"/>
                 </xsd:restriction>
                </xsd:simpleType>
               </xsd:attribute>
              </xsd:complexType>
             </xsd:element>
            </xsd:sequence>
            <xsd:attribute name="SEGMENT" use="required">
             <xsd:simpleType>
              <xsd:restriction base="xsd:string">
               <xsd:enumeration value="1"/>
              </xsd:restriction>
             </xsd:simpleType>
            </xsd:attribute>
           </xsd:complexType>
          </xsd:element>
         </xsd:sequence>
         <xsd:attribute name="SEGMENT" use="required">
          <xsd:simpleType>
           <xsd:restriction base="xsd:string">
            <xsd:enumeration value="1"/>
           </xsd:restriction>
          </xsd:simpleType>
         </xsd:attribute>
        </xsd:complexType>
       </xsd:element>
       <xsd:element name="E1IDOCENHANCEMENT" minOccurs="0" maxOccurs="999999">
        <xsd:annotation>
         <xsd:documentation>Segment for Dynamic Enhancement of IDoc Types</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
         <xsd:sequence>
          <xsd:element name="IDENTIFIER" minOccurs="0">
           <xsd:annotation>
            <xsd:documentation>Data Containers for Enhancement of IDoc Types</xsd:documentation>
           </xsd:annotation>
           <xsd:simpleType>
            <xsd:restriction base="xsd:string">
             <xsd:maxLength value="30"/>
            </xsd:restriction>
           </xsd:simpleType>
          </xsd:element>
          <xsd:element name="DATA" minOccurs="0">
           <xsd:annotation>
            <xsd:documentation>Data Container for IDoc Enhancement</xsd:documentation>
           </xsd:annotation>
           <xsd:simpleType>
            <xsd:restriction base="xsd:string">
             <xsd:maxLength value="970"/>
            </xsd:restriction>
           </xsd:simpleType>
          </xsd:element>
         </xsd:sequence>
         <xsd:attribute name="SEGMENT" use="required">
          <xsd:simpleType>
           <xsd:restriction base="xsd:string">
            <xsd:enumeration value="1"/>
           </xsd:restriction>
          </xsd:simpleType>
         </xsd:attribute>
        </xsd:complexType>
       </xsd:element>
      </xsd:sequence>
      <xsd:attribute name="BEGIN" use="required">
       <xsd:simpleType>
        <xsd:restriction base="xsd:string">
         <xsd:enumeration value="1"/>
        </xsd:restriction>
       </xsd:simpleType>
      </xsd:attribute>
     </xsd:complexType>
    </xsd:element>
   </xsd:sequence>
  </xsd:complexType>
 </xsd:element>
</xsd:schema>
