Resources/schemas/Xsd/SAP_SuccessFactors_Workforce_Availability_Integration_with_SAP_S-4HANA - WorkforceAvailabilityEntityPOST.xsd

<?xml version="1.0" encoding="UTF-8"?><xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="qualified">
    <xs:element name="batchParts">
        <xs:complexType>
            <xs:sequence>
                <xs:element maxOccurs="unbounded" minOccurs="1" name="batchChangeSet" nillable="false">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element maxOccurs="unbounded" minOccurs="1" name="batchChangeSetPart" nillable="false">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element maxOccurs="1" minOccurs="1" name="method" nillable="false" type="xs:string"/>
                                        <xs:element maxOccurs="1" minOccurs="0" name="uri" nillable="true" type="xs:string"/>
                                        <xs:element maxOccurs="1" minOccurs="0" name="headers" nillable="true">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element maxOccurs="unbounded" minOccurs="0" name="header" nillable="true">
                                                        <xs:complexType>
                                                            <xs:sequence>
                                                                <xs:element maxOccurs="1" minOccurs="1" name="headerName" nillable="false" type="xs:string"/>
                                                                <xs:element maxOccurs="1" minOccurs="1" name="headerValue" nillable="false" type="xs:string"/>
                                                            </xs:sequence>
                                                        </xs:complexType>
                                                    </xs:element>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element maxOccurs="1" minOccurs="1" name="WorkforceAvailability" nillable="false">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element maxOccurs="unbounded" minOccurs="1" name="WorkforceAvailability_Type">
                                                        <xs:complexType>
                                                            <xs:sequence>
                                                                <xs:element maxOccurs="1" name="WorkAssignment" nillable="false">
                                                                    <xs:simpleType>
                                                                        <xs:restriction base="xs:string">
                                                                            <xs:maxLength value="8"/>
                                                                        </xs:restriction>
                                                                    </xs:simpleType>
                                                                </xs:element>
                                                                <xs:element maxOccurs="1" name="WorkforceAvailabilityDate" nillable="false" type="xs:dateTime"/>
                                                                <xs:element maxOccurs="1" name="ExternalWorkAssignmentID" nillable="false">
                                                                    <xs:simpleType>
                                                                        <xs:restriction base="xs:string">
                                                                            <xs:maxLength value="100"/>
                                                                        </xs:restriction>
                                                                    </xs:simpleType>
                                                                </xs:element>
                                                                <xs:element maxOccurs="1" minOccurs="0" name="WorkforceAvailabilityID" nillable="true">
                                                                    <xs:simpleType>
                                                                        <xs:restriction base="xs:string">
                                                                            <xs:maxLength value="128"/>
                                                                        </xs:restriction>
                                                                    </xs:simpleType>
                                                                </xs:element>
                                                                <xs:element maxOccurs="1" minOccurs="0" name="WorkforcePersonID" nillable="true">
                                                                    <xs:simpleType>
                                                                        <xs:restriction base="xs:string">
                                                                            <xs:maxLength value="36"/>
                                                                        </xs:restriction>
                                                                    </xs:simpleType>
                                                                </xs:element>
                                                                <xs:element maxOccurs="1" minOccurs="0" name="WrkfrcAvailyRecordDataSource" nillable="true">
                                                                    <xs:simpleType>
                                                                        <xs:restriction base="xs:string">
                                                                            <xs:maxLength value="100"/>
                                                                        </xs:restriction>
                                                                    </xs:simpleType>
                                                                </xs:element>
                                                                <xs:element maxOccurs="1" minOccurs="0" name="NormalWorkingTimeVal" nillable="true">
                                                                    <xs:simpleType>
                                                                        <xs:restriction base="xs:string">
                                                                            <xs:maxLength value="6"/>
                                                                        </xs:restriction>
                                                                    </xs:simpleType>
                                                                </xs:element>
                                                                <xs:element maxOccurs="1" minOccurs="0" name="ScheduledWorkingTimeVal" nillable="true">
                                                                    <xs:simpleType>
                                                                        <xs:restriction base="xs:string">
                                                                            <xs:maxLength value="6"/>
                                                                        </xs:restriction>
                                                                    </xs:simpleType>
                                                                </xs:element>
                                                                <xs:element maxOccurs="1" minOccurs="0" name="WorkingShiftCode" nillable="true">
                                                                    <xs:simpleType>
                                                                        <xs:restriction base="xs:string">
                                                                            <xs:maxLength value="128"/>
                                                                        </xs:restriction>
                                                                    </xs:simpleType>
                                                                </xs:element>
                                                                <xs:element maxOccurs="1" minOccurs="0" name="WrkfrcAvailyHolidayCode" nillable="true">
                                                                    <xs:simpleType>
                                                                        <xs:restriction base="xs:string">
                                                                            <xs:maxLength value="128"/>
                                                                        </xs:restriction>
                                                                    </xs:simpleType>
                                                                </xs:element>
                                                                <xs:element maxOccurs="1" minOccurs="0" name="BlockingIndicator" nillable="true" type="xs:boolean"/>
                                                                <xs:element maxOccurs="unbounded" minOccurs="0" name="to_Supplement" nillable="true">
                                                                    <xs:complexType>
                                                                        <xs:sequence>
                                                                            <xs:element maxOccurs="unbounded" minOccurs="0" name="WrkfrcAvailySupplement_Type">
                                                                                <xs:complexType>
                                                                                    <xs:sequence>
                                                                                        <xs:element maxOccurs="1" name="WorkAssignment" nillable="false">
                                                                                            <xs:simpleType>
                                                                                                <xs:restriction base="xs:string">
                                                                                                    <xs:maxLength value="8"/>
                                                                                                </xs:restriction>
                                                                                            </xs:simpleType>
                                                                                        </xs:element>
                                                                                        <xs:element maxOccurs="1" name="WorkforceAvailabilityDate" nillable="false" type="xs:dateTime"/>
                                                                                        <xs:element maxOccurs="1" name="WrkfrcAvailySuplmntSqncNumber" nillable="false" type="xs:int"/>
                                                                                        <xs:element maxOccurs="1" name="ExternalWorkAssignmentID" nillable="false">
                                                                                            <xs:simpleType>
                                                                                                <xs:restriction base="xs:string">
                                                                                                    <xs:maxLength value="100"/>
                                                                                                </xs:restriction>
                                                                                            </xs:simpleType>
                                                                                        </xs:element>
                                                                                        <xs:element maxOccurs="1" minOccurs="0" name="WrkfrcAvailySuplmntCategory" nillable="true">
                                                                                            <xs:simpleType>
                                                                                                <xs:restriction base="xs:string">
                                                                                                    <xs:maxLength value="1"/>
                                                                                                </xs:restriction>
                                                                                            </xs:simpleType>
                                                                                        </xs:element>
                                                                                        <xs:element maxOccurs="1" minOccurs="0" name="WorkerIsApproachable" nillable="true" type="xs:boolean"/>
                                                                                        <xs:element maxOccurs="1" minOccurs="0" name="WrkfrcAvailySupplementType" nillable="true">
                                                                                            <xs:simpleType>
                                                                                                <xs:restriction base="xs:string">
                                                                                                    <xs:maxLength value="128"/>
                                                                                                </xs:restriction>
                                                                                            </xs:simpleType>
                                                                                        </xs:element>
                                                                                        <xs:element maxOccurs="1" minOccurs="0" name="WrkfrcAvailySuplmntStartTime" nillable="true" type="xs:time"/>
                                                                                        <xs:element maxOccurs="1" minOccurs="0" name="WrkfrcAvailySuplmntEndTime" nillable="true" type="xs:time"/>
                                                                                        <xs:element maxOccurs="1" minOccurs="0" name="WrkfrcAvailySuplmntContrbnVal" nillable="true">
                                                                                            <xs:simpleType>
                                                                                                <xs:restriction base="xs:string">
                                                                                                    <xs:maxLength value="6"/>
                                                                                                </xs:restriction>
                                                                                            </xs:simpleType>
                                                                                        </xs:element>
                                                                                        <xs:element maxOccurs="1" minOccurs="0" name="BlockingIndicator" nillable="true" type="xs:boolean"/>
                                                                                    </xs:sequence>
                                                                                </xs:complexType>
                                                                            </xs:element>
                                                                        </xs:sequence>
                                                                    </xs:complexType>
                                                                </xs:element>
                                                                <xs:element maxOccurs="unbounded" minOccurs="0" name="to_TimeInterval" nillable="true">
                                                                    <xs:complexType>
                                                                        <xs:sequence>
                                                                            <xs:element maxOccurs="unbounded" minOccurs="0" name="WrkfrcAvailyInterval_Type">
                                                                                <xs:complexType>
                                                                                    <xs:sequence>
                                                                                        <xs:element maxOccurs="1" name="WorkAssignment" nillable="false">
                                                                                            <xs:simpleType>
                                                                                                <xs:restriction base="xs:string">
                                                                                                    <xs:maxLength value="8"/>
                                                                                                </xs:restriction>
                                                                                            </xs:simpleType>
                                                                                        </xs:element>
                                                                                        <xs:element maxOccurs="1" name="WorkforceAvailabilityDate" nillable="false" type="xs:dateTime"/>
                                                                                        <xs:element maxOccurs="1" name="WrkfrcAvailyTmeIntvlSqncNumber" nillable="false" type="xs:int"/>
                                                                                        <xs:element maxOccurs="1" name="ExternalWorkAssignmentID" nillable="false">
                                                                                            <xs:simpleType>
                                                                                                <xs:restriction base="xs:string">
                                                                                                    <xs:maxLength value="100"/>
                                                                                                </xs:restriction>
                                                                                            </xs:simpleType>
                                                                                        </xs:element>
                                                                                        <xs:element maxOccurs="1" minOccurs="0" name="WrkfrcAvailyTimeIntvlCategory" nillable="true">
                                                                                            <xs:simpleType>
                                                                                                <xs:restriction base="xs:string">
                                                                                                    <xs:maxLength value="1"/>
                                                                                                </xs:restriction>
                                                                                            </xs:simpleType>
                                                                                        </xs:element>
                                                                                        <xs:element maxOccurs="1" minOccurs="0" name="WrkfrcAvailyTimeIntvlStartTime" nillable="true" type="xs:time"/>
                                                                                        <xs:element maxOccurs="1" minOccurs="0" name="WrkfrcAvailyTimeIntvlEndTime" nillable="true" type="xs:time"/>
                                                                                        <xs:element maxOccurs="1" minOccurs="0" name="WrkfrcAvailyTmeIntvlContrbnVal" nillable="true">
                                                                                            <xs:simpleType>
                                                                                                <xs:restriction base="xs:string">
                                                                                                    <xs:maxLength value="6"/>
                                                                                                </xs:restriction>
                                                                                            </xs:simpleType>
                                                                                        </xs:element>
                                                                                        <xs:element maxOccurs="1" minOccurs="0" name="WrkfrcAvailyIntvlIsOnNextDay" nillable="true" type="xs:boolean"/>
                                                                                        <xs:element maxOccurs="1" minOccurs="0" name="WrkfrcAvailyIntvlIsOnPrecdgDay" nillable="true" type="xs:boolean"/>
                                                                                        <xs:element maxOccurs="1" minOccurs="0" name="BlockingIndicator" nillable="true" type="xs:boolean"/>
                                                                                    </xs:sequence>
                                                                                </xs:complexType>
                                                                            </xs:element>
                                                                        </xs:sequence>
                                                                    </xs:complexType>
                                                                </xs:element>
                                                                <xs:element maxOccurs="1" minOccurs="0" name="link">
                                                                    <xs:complexType>
                                                                        <xs:sequence>
                                                                            <xs:element maxOccurs="unbounded" minOccurs="0" name="to_Supplement" nillable="true">
                                                                                <xs:complexType>
                                                                                    <xs:sequence>
                                                                                        <xs:element maxOccurs="unbounded" minOccurs="0" name="WrkfrcAvailySupplement_Type">
                                                                                            <xs:complexType>
                                                                                                <xs:sequence>
                                                                                                    <xs:element maxOccurs="1" minOccurs="1" name="WorkAssignment" type="xs:string"/>
                                                                                                    <xs:element maxOccurs="1" minOccurs="1" name="WorkforceAvailabilityDate" type="xs:dateTime"/>
                                                                                                    <xs:element maxOccurs="1" minOccurs="1" name="WrkfrcAvailySuplmntSqncNumber" type="xs:int"/>
                                                                                                    <xs:element maxOccurs="1" minOccurs="1" name="ExternalWorkAssignmentID" type="xs:string"/>
                                                                                                </xs:sequence>
                                                                                            </xs:complexType>
                                                                                        </xs:element>
                                                                                    </xs:sequence>
                                                                                </xs:complexType>
                                                                            </xs:element>
                                                                            <xs:element maxOccurs="unbounded" minOccurs="0" name="to_TimeInterval" nillable="true">
                                                                                <xs:complexType>
                                                                                    <xs:sequence>
                                                                                        <xs:element maxOccurs="unbounded" minOccurs="0" name="WrkfrcAvailyInterval_Type">
                                                                                            <xs:complexType>
                                                                                                <xs:sequence>
                                                                                                    <xs:element maxOccurs="1" minOccurs="1" name="WorkAssignment" type="xs:string"/>
                                                                                                    <xs:element maxOccurs="1" minOccurs="1" name="WorkforceAvailabilityDate" type="xs:dateTime"/>
                                                                                                    <xs:element maxOccurs="1" minOccurs="1" name="WrkfrcAvailyTmeIntvlSqncNumber" type="xs:int"/>
                                                                                                    <xs:element maxOccurs="1" minOccurs="1" name="ExternalWorkAssignmentID" type="xs:string"/>
                                                                                                </xs:sequence>
                                                                                            </xs:complexType>
                                                                                        </xs:element>
                                                                                    </xs:sequence>
                                                                                </xs:complexType>
                                                                            </xs:element>
                                                                        </xs:sequence>
                                                                    </xs:complexType>
                                                                </xs:element>
                                                            </xs:sequence>
                                                        </xs:complexType>
                                                    </xs:element>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>