Resources/schemas/Xsd/SAP_Build_Process_Automation_Integration_with_SAP_S-4HANA_for_Fixed_Asset_Transfer_Approval - input_data.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="d">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="generalPostingData">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="docType" type="xs:string" />
              <xs:element name="docDate" type="xs:date" />
              <xs:element name="postingDate" type="xs:date" />
              <xs:element name="fiscalPeriod" type="xs:string" />
              <xs:element name="transDate" type="xs:date" />
              <xs:element name="companyCode" type="xs:string" />
              <xs:element name="assetMainNumber" type="xs:string" />
              <xs:element name="assetSubNumber" type="xs:string" minOccurs="0" maxOccurs="1" />
              <xs:element name="deprArea" type="xs:string" minOccurs="0" maxOccurs="1"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="transferToData">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="partComco" type="xs:string" />
              <xs:element name="partAsset" type="xs:string" minOccurs="0" maxOccurs="1" />
              <xs:element name="partSubno" type="xs:string" minOccurs="0" maxOccurs="1" />
              <xs:element name="assetClass" type="xs:string" minOccurs="0" maxOccurs="1" />
              <xs:element name="costCenter" type="xs:string" minOccurs="0" maxOccurs="1" />
              <xs:element name="description" type="xs:string" minOccurs="0" maxOccurs="1" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="transferPostingData">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="revOnRet" type="xs:string" minOccurs="0" maxOccurs="1"/>
              <xs:element name="areaNbv" type="xs:string" minOccurs="0" maxOccurs="1"/>
              <xs:element name="amount" type="xs:string" minOccurs="0" maxOccurs="1"/>
              <xs:element name="currency" type="xs:string" minOccurs="0" maxOccurs="1" />
              <xs:element name="quantity" type="xs:string" minOccurs="0" maxOccurs="1" />
              <xs:element name="percRate" type="xs:string" minOccurs="0" maxOccurs="1" />
              <xs:element name="transVar" type="xs:string" minOccurs="0" maxOccurs="1" />
              <xs:element name="valueDate" type="xs:date" minOccurs="0" maxOccurs="1" />
              <xs:element name="capDate" type="xs:date" minOccurs="0" maxOccurs="1" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>