Resources/schemas/Xsd/SAP_Business_ByDesign_Transactional_Data_Transformation_to_SAP_S-4HANA_Cloud_Public_Edition - Sales_Order.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Sales_Order">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Header" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="VBELN"/>
              <xs:element type="xs:string" name="AUART"/>
              <xs:element type="xs:string" name="VKORG"/>
              <xs:element type="xs:string" name="VTWEG"/>
              <xs:element type="xs:string" name="SPART"/>
              <xs:element type="xs:string" name="VKBUR"/>
              <xs:element type="xs:string" name="VKGRP"/>
              <xs:element type="xs:string" name="BSTNK"/>
              <xs:element type="xs:string" name="VDATU"/>
              <xs:element type="xs:string" name="BSTDK"/>
              <xs:element type="xs:string" name="FAKSK"/>
              <xs:element type="xs:string" name="AUGRU"/>
              <xs:element type="xs:string" name="PRICE_DATE"/>
              <xs:element type="xs:string" name="CURRENCY"/>
              <xs:element type="xs:string" name="EXCHG_RATE"/>
              <xs:element type="xs:string" name="AUDAT"/>
              <xs:element type="xs:string" name="SHIP_COND"/>
              <xs:element type="xs:string" name="INCOV"/>
              <xs:element type="xs:string" name="INCO1"/>
              <xs:element type="xs:string" name="INCO2_L"/>
              <xs:element type="xs:string" name="INCO2"/>
              <xs:element type="xs:string" name="INCO3_L"/>
              <xs:element type="xs:string" name="ZTERM"/>
              <xs:element type="xs:string" name="BILL_SCHED"/>
              <xs:element type="xs:string" name="ALTTAX_CLS"/>
              <xs:element type="xs:string" name="TAXDEP_CTY"/>
              <xs:element type="xs:string" name="EUTRI_DEAL"/>
              <xs:element type="xs:string" name="PYMT_METH"/>
              <xs:element type="xs:string" name="WBS_ELEM"/>
              <xs:element type="xs:string" name="NAME"/>
              <xs:element type="xs:string" name="TELEPHONE"/>
              <xs:element type="xs:string" name="KVGR1"/>
              <xs:element type="xs:string" name="KVGR2"/>
              <xs:element type="xs:string" name="KVGR3"/>
              <xs:element type="xs:string" name="KVGR4"/>
              <xs:element type="xs:string" name="KVGR5"/>
              <xs:element type="xs:string" name="COND_HANDLE"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="HeaderConditions" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="VBELN"/>
              <xs:element type="xs:string" name="KSCHL"/>
              <xs:element type="xs:string" name="KBETR"/>
              <xs:element type="xs:string" name="KONWA"/>
              <xs:element type="xs:string" name="KPEIN"/>
              <xs:element type="xs:string" name="KMEIN"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="HeaderTexts" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="VBELN"/>
              <xs:element type="xs:string" name="TDID"/>
              <xs:element type="xs:string" name="TDSPRAS"/>
              <xs:element type="xs:string" name="TEXTLINE"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="Item" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="VBELN"/>
              <xs:element type="xs:string" name="POSNR"/>
              <xs:element type="xs:string" name="HG_LV_ITEM"/>
              <xs:element type="xs:string" name="POSEX"/>
              <xs:element type="xs:string" name="MATNR"/>
              <xs:element type="xs:string" name="ZIEME"/>
              <xs:element type="xs:string" name="UMZIZ"/>
              <xs:element type="xs:string" name="UMZIN"/>
              <xs:element type="xs:string" name="CHARG"/>
              <xs:element type="xs:string" name="WERKS"/>
              <xs:element type="xs:string" name="LGORT"/>
              <xs:element type="xs:string" name="PSTYV"/>
              <xs:element type="xs:string" name="SHORT_TEXT"/>
              <xs:element type="xs:string" name="INCOV"/>
              <xs:element type="xs:string" name="INCO1"/>
              <xs:element type="xs:string" name="INCO2_L"/>
              <xs:element type="xs:string" name="INCO2"/>
              <xs:element type="xs:string" name="INCO3_L"/>
              <xs:element type="xs:string" name="ZTERM"/>
              <xs:element type="xs:string" name="PROFIT_CTR"/>
              <xs:element type="xs:string" name="WBS_ELEM"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="ItemConditions" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="VBELN"/>
              <xs:element type="xs:string" name="POSNR"/>
              <xs:element type="xs:string" name="KSCHL"/>
              <xs:element type="xs:string" name="KBETR"/>
              <xs:element type="xs:string" name="KONWA"/>
              <xs:element type="xs:string" name="KPEIN"/>
              <xs:element type="xs:string" name="KMEIN"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="ItemTexts" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="VBELN"/>
              <xs:element type="xs:string" name="POSNR"/>
              <xs:element type="xs:string" name="TDID"/>
              <xs:element type="xs:string" name="TDSPRAS"/>
              <xs:element type="xs:string" name="TEXTLINE"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="ConfigurationInstances" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="VBELN"/>
              <xs:element type="xs:string" name="POSNR"/>
              <xs:element type="xs:string" name="INST_ID"/>
              <xs:element type="xs:string" name="PARENT_ID"/>
              <xs:element type="xs:string" name="OBJ_KEY"/>
              <xs:element type="xs:string" name="PART_OF_NO"/>
              <xs:element type="xs:string" name="BOM_IDENT"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="ConfigCharacteristicValues" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="VBELN"/>
              <xs:element type="xs:string" name="POSNR"/>
              <xs:element type="xs:string" name="INST_ID"/>
              <xs:element type="xs:string" name="POS_ID"/>
              <xs:element type="xs:string" name="CHARC_NAME"/>
              <xs:element type="xs:string" name="VALUE_NUMC"/>
              <xs:element type="xs:string" name="VALUE_DATE"/>
              <xs:element type="xs:string" name="VALUE_TIME"/>
              <xs:element type="xs:string" name="VALUE_CURR"/>
              <xs:element type="xs:string" name="VALUE_CHAR"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="Partner" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="VBELN"/>
              <xs:element type="xs:string" name="POSNR"/>
              <xs:element type="xs:string" name="PARVW"/>
              <xs:element type="xs:string" name="KUNNR"/>
              <xs:element type="xs:string" name="EXTADDRNUMBER"/>
              <xs:element type="xs:string" name="STREET"/>
              <xs:element type="xs:string" name="POSTL_CODE"/>
              <xs:element type="xs:string" name="CITY"/>
              <xs:element type="xs:string" name="COUNTRY"/>
              <xs:element type="xs:string" name="REGION"/>
              <xs:element type="xs:string" name="TEL_NUMBER"/>
              <xs:element type="xs:string" name="FAX_NUMBER"/>
              <xs:element type="xs:string" name="NAME1"/>
              <xs:element type="xs:string" name="NAME_2"/>
              <xs:element type="xs:string" name="NAME_3"/>
              <xs:element type="xs:string" name="NAME_4"/>
              <xs:element type="xs:string" name="DISTRICT"/>
              <xs:element type="xs:string" name="LANGU_ISO"/>
              <xs:element type="xs:string" name="PO_BOX"/>
              <xs:element type="xs:string" name="POBX_PCD"/>
              <xs:element type="xs:string" name="TAXJURCODE"/>
              <xs:element type="xs:string" name="TRANSPZONE"/>
              <xs:element type="xs:string" name="UNLOAD_PT"/>
              <xs:element type="xs:string" name="VAT_REG_NO"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="ScheduleLineData" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="VBELN"/>
              <xs:element type="xs:string" name="POSNR"/>
              <xs:element type="xs:string" name="ETENR"/>
              <xs:element type="xs:string" name="WMENG"/>
              <xs:element type="xs:string" name="ETDAT"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>