Resources/schemas/Xsd/SAP_Build_Process_Automation_Integration_with_SAP_S-4HANA_for_Free_Form_Payments_Approval - successOutput.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="d">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="status" minOccurs="0" maxOccurs="1" type="xs:string"/>
							<xs:element  minOccurs="0" maxOccurs="unbounded" name="messages">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="type" minOccurs="0" maxOccurs="1" type="xs:string"/>
										<xs:element name="number" minOccurs="0" maxOccurs="1" type="xs:string"/>
										<xs:element name="message" minOccurs="0" maxOccurs="1" type="xs:string"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
