Resources/schemas/Xsd/SAP_S-4HANA_for_central_procurement_–_Central_Purchasing_Integration_with_Third_Party_System - PO_Packets_withGFN.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="PurchaseOrderPackets">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="PurchaseOrderPacket" minOccurs="0" maxOccurs="unbounded">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:long" name="PurchasingObjectFrom" />
              <xs:element type="xs:long" name="PurchasingObjectTo" />
              <xs:element type="xs:dateTime" name="LastXtrctnDteTme" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>