Resources/schemas/Xsd/SAP_Build_Process_Automation_Integration_with_SAP_S-4HANA_for_Update_Retail_Sales_Price - SAP_RESPONSE_STRUCTURE.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="BAPI_RPC_CALCULATE_PRICES.Response">
    <xs:complexType>
      <xs:sequence>
       <xs:element name="CALCITEMIN">
        <xs:complexType>
         <xs:sequence>
          <xs:element name="item">
           <xs:complexType>
            <xs:sequence>
              <xs:element name="SALES_ORG" />
              <xs:element name="DISTR_CHAN" />
              <xs:element name="PLANT" />
              <xs:element name="PRICE_LIST" />
              <xs:element name="SITEGROUP" />
              <xs:element name="CLASS_TYPE" />
              <xs:element name="MATERIAL" type="xs:string" />
              <xs:element name="SALES_UNIT" />
              <xs:element name="SALES_UNIT_ISO" />
              <xs:element name="SP_VALID_FROM" type="xs:string" />
              <xs:element name="SP_VALID_TO" type="xs:string" />
              <xs:element name="SALES_P_UNIT" type="xs:unsignedByte" />
              <xs:element name="PP_DETERM_SEQUENCE" />
              <xs:element name="SP_DETERM_SEQUENCE" />
              <xs:element name="PURCH_ORG" />
              <xs:element name="VENDOR" />
              <xs:element name="PURCH_CURRENCY" />
              <xs:element name="PURCH_CURRENCY_ISO" />
              <xs:element name="BASIC_PURCHASE_PRICE" type="xs:decimal" />
              <xs:element name="PRICING_CURRENCY" />
              <xs:element name="PRICING_CURRENCY_ISO" />
              <xs:element name="NET_NET_PURCHASE_PRICE" type="xs:decimal" />
              <xs:element name="CURRENT_MARKUP" type="xs:decimal" />
              <xs:element name="NET_SALES_PRICE" type="xs:decimal" />
              <xs:element name="GROSS_SALES_PRICE" type="xs:decimal" />
              <xs:element name="SALES_CURRENCY" />
              <xs:element name="SALES_CURRENCY_ISO" />
              <xs:element name="FINAL_PRICE" type="xs:decimal" />
              <xs:element name="NET_MARGIN" type="xs:decimal" />
              <xs:element name="GROSS_MARGIN" type="xs:decimal" />
              <xs:element name="REDUCED_FROM_PRICE" type="xs:decimal" />
              <xs:element name="CASH_PRICE" type="xs:decimal" />
              <xs:element name="RECOMMENDED_PRICE" type="xs:decimal" />
              <xs:element name="RETAIL_PRICE_CHANGE_PERCENTAGE" type="xs:decimal" />
              <xs:element name="CONSUMER_PRICE_MARKUP" type="xs:decimal" />
              <xs:element name="CONSUMER_PRICE" type="xs:decimal" />
              <xs:element name="CONSUMER_PRICE_MARGIN" type="xs:decimal" />
              <xs:element name="PRICING_DOC_TYPE" />
              <xs:element name="SP_MARKED_FOR_ACTIVATION" />
              <xs:element name="MATERIAL_EXTERNAL" />
              <xs:element name="MATERIAL_GUID" />
              <xs:element name="MATERIAL_VERSION" />
              <xs:element name="MATERIAL_LONG" type="xs:string" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CALCITEMINX">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="item">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="SALES_ORG" />
              <xs:element name="DISTR_CHAN" />
              <xs:element name="PLANT" />
              <xs:element name="PRICE_LIST" />
              <xs:element name="SITEGROUP" />
              <xs:element name="CLASS_TYPE" />
              <xs:element name="MATERIAL" type="xs:string" />
              <xs:element name="SALES_UNIT" />
              <xs:element name="SALES_UNIT_ISO" />
              <xs:element name="SP_VALID_FROM" />
              <xs:element name="SP_VALID_TO" />
              <xs:element name="SALES_P_UNIT" />
              <xs:element name="PP_DETERM_SEQUENCE" />
              <xs:element name="SP_DETERM_SEQUENCE" />
              <xs:element name="PURCH_ORG" />
              <xs:element name="VENDOR" />
              <xs:element name="NET_NET_PURCHASE_PRICE" />
              <xs:element name="BASIC_PURCHASE_PRICE" />
              <xs:element name="CURRENT_MARKUP" />
              <xs:element name="NET_SALES_PRICE" />
              <xs:element name="GROSS_SALES_PRICE" />
              <xs:element name="FINAL_PRICE" />
              <xs:element name="NET_MARGIN" />
              <xs:element name="GROSS_MARGIN" />
              <xs:element name="REDUCED_FROM_PRICE" />
              <xs:element name="CASH_PRICE" />
              <xs:element name="RECOMMENDED_PRICE" />
              <xs:element name="RETAIL_PRICE_CHANGE_PERCENTAGE" />
              <xs:element name="CONSUMER_PRICE_MARKUP" />
              <xs:element name="CONSUMER_PRICE" />
              <xs:element name="CONSUMER_PRICE_MARGIN" />
              <xs:element name="PRICING_DOC_TYPE" />
              <xs:element name="SP_MARKED_FOR_ACTIVATION" />
              <xs:element name="MATERIAL_EXTERNAL" />
              <xs:element name="MATERIAL_GUID" />
              <xs:element name="MATERIAL_VERSION" />
              <xs:element name="MATERIAL_LONG" type="xs:string" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CALCITEMOUT">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="item">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="SALES_ORG" />
              <xs:element name="DISTR_CHAN" />
              <xs:element name="PLANT" />
              <xs:element name="PRICE_LIST" />
              <xs:element name="SITEGROUP" />
              <xs:element name="CLASS_TYPE" />
              <xs:element name="MATERIAL" type="xs:string" />
              <xs:element name="SALES_UNIT" />
              <xs:element name="SALES_UNIT_ISO" />
              <xs:element name="SP_VALID_FROM" type="xs:string" />
              <xs:element name="SP_VALID_TO" type="xs:string" />
              <xs:element name="SALES_P_UNIT" type="xs:unsignedByte" />
              <xs:element name="PP_DETERM_SEQUENCE" />
              <xs:element name="SP_DETERM_SEQUENCE" />
              <xs:element name="PURCH_ORG" />
              <xs:element name="VENDOR" />
              <xs:element name="PURCH_CURRENCY" />
              <xs:element name="PURCH_CURRENCY_ISO" />
              <xs:element name="BASIC_PURCHASE_PRICE" type="xs:decimal" />
              <xs:element name="PRICING_CURRENCY" />
              <xs:element name="PRICING_CURRENCY_ISO" />
              <xs:element name="NET_NET_PURCHASE_PRICE" type="xs:decimal" />
              <xs:element name="CURRENT_MARKUP" type="xs:decimal" />
              <xs:element name="NET_SALES_PRICE" type="xs:decimal" />
              <xs:element name="GROSS_SALES_PRICE" type="xs:decimal" />
              <xs:element name="SALES_CURRENCY" />
              <xs:element name="SALES_CURRENCY_ISO" />
              <xs:element name="FINAL_PRICE" type="xs:decimal" />
              <xs:element name="NET_MARGIN" type="xs:decimal" />
              <xs:element name="GROSS_MARGIN" type="xs:decimal" />
              <xs:element name="SP_MARKED_FOR_ACTIVATION" />
              <xs:element name="MATL_GROUP" />
              <xs:element name="MATL_CAT" />
              <xs:element name="PR_REF_MAT" />
              <xs:element name="PRICE_FIXING" />
              <xs:element name="PP_DETERM_TYPE" />
              <xs:element name="SP_DETERM_TYPE" />
              <xs:element name="PLANNED_MARKUP" type="xs:decimal" />
              <xs:element name="PRICING_LEVEL" />
              <xs:element name="CURRENT_SALES_PRICE" type="xs:decimal" />
              <xs:element name="CURRENT_PRICING_LEVEL" />
              <xs:element name="CURRENT_SP_VALID_FROM" type="xs:string" />
              <xs:element name="CURRENT_SP_VALID_TO" type="xs:string" />
              <xs:element name="CURRENT_NET_MARGIN" type="xs:decimal" />
              <xs:element name="CURRENT_GROSS_MARGIN" type="xs:decimal" />
              <xs:element name="PARALLEL_FINAL_PRICE" type="xs:decimal" />
              <xs:element name="REDUCED_FROM_PRICE" type="xs:decimal" />
              <xs:element name="CASH_PRICE" type="xs:decimal" />
              <xs:element name="RECOMMENDED_PRICE" type="xs:decimal" />
              <xs:element name="SUGGESTED_PRICE" type="xs:decimal" />
              <xs:element name="INITIAL_PRICE" type="xs:decimal" />
              <xs:element name="VARIABLE_PRICE" type="xs:decimal" />
              <xs:element name="PERCENTAGE" type="xs:decimal" />
              <xs:element name="RETAIL_PRICE_CHANGE_PERCENTAGE" type="xs:decimal" />
              <xs:element name="CONSUMER_PRICE_MARKUP" type="xs:decimal" />
              <xs:element name="CONSUMER_PRICE" type="xs:decimal" />
              <xs:element name="CONSUMER_PRICE_MARGIN" type="xs:decimal" />
              <xs:element name="CONSUMER_PRICE_PLANNED_MARKUP" type="xs:decimal" />
              <xs:element name="PRICING_DOC_TYPE" />
              <xs:element name="RETURN_CODE" type="xs:unsignedByte" />
              <xs:element name="MATERIAL_EXTERNAL" />
              <xs:element name="MATERIAL_GUID" />
              <xs:element name="MATERIAL_VERSION" />
              <xs:element name="PR_REF_MAT_EXTERNAL" />
              <xs:element name="PR_REF_MAT_GUID" />
              <xs:element name="PR_REF_MAT_VERSION" />
              <xs:element name="MATERIAL_LONG" type="xs:string" />
              <xs:element name="PR_REF_MAT_LONG" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EXTENSIONIN" />
  <xs:element name="EXTENSIONOUT">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="item">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="STRUCTURE" type="xs:string" />
              <xs:element name="VALUEPART1" type="xs:string" />
              <xs:element name="VALUEPART2" />
              <xs:element name="VALUEPART3" />
              <xs:element name="VALUEPART4" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RETURN">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="item">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="TYPE" type="xs:string" />
              <xs:element name="ID" type="xs:string" />
              <xs:element name="NUMBER" type="xs:unsignedByte" />
              <xs:element name="MESSAGE" type="xs:string" />
              <xs:element name="LOG_NO" />
              <xs:element name="LOG_MSG_NO" type="xs:unsignedByte" />
              <xs:element name="MESSAGE_V1" />
              <xs:element name="MESSAGE_V2" />
              <xs:element name="MESSAGE_V3" />
              <xs:element name="MESSAGE_V4" />
              <xs:element name="PARAMETER" />
              <xs:element name="ROW" type="xs:unsignedByte" />
              <xs:element name="FIELD" />
              <xs:element name="SYSTEM" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>