Resources/schemas/Xsd/SAP_SuccessFactors_Employee_Central_Integration_with_SAP_Access_Control - ldcigxt_wdf_sap_corp_50000_sap_opu_odata_sap_ZGRC_CPI_RECEIVER_SRV_$metadata?sap-client=100batch.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="batchParts">
        <xs:complexType>
            <xs:sequence>
                <xs:element nillable="false" minOccurs="1" maxOccurs="unbounded" name="batchChangeSet1">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element nillable="false" minOccurs="1" maxOccurs="unbounded" name="batchChangeSetPart1">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element type="xs:string" nillable="false" minOccurs="1" maxOccurs="1" name="method" xmlns=""/>
                                        <xs:element type="xs:string" nillable="false" minOccurs="1" maxOccurs="1" name="uri" xmlns=""/>
                                        <xs:element nillable="true" minOccurs="0" maxOccurs="1" name="headers">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element nillable="true" minOccurs="0" maxOccurs="unbounded" name="header">
                                                        <xs:complexType>
                                                            <xs:sequence>
                                                                <xs:element type="xs:string" nillable="false" minOccurs="1" maxOccurs="1" name="headerName" xmlns=""/>
                                                                <xs:element type="xs:string" nillable="false" minOccurs="1" maxOccurs="1" name="headerValue" xmlns=""/>
                                                            </xs:sequence>
                                                        </xs:complexType>
                                                    </xs:element>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element nillable="true" minOccurs="0" maxOccurs="1" name="body">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element nillable="false" minOccurs="1" maxOccurs="1" name="UserDetails">
                                                        <xs:complexType>
                                                            <xs:sequence>
                                                                <xs:element minOccurs="1" maxOccurs="unbounded" name="UserDetails">
                                                                    <xs:complexType>
                                                                        <xs:sequence>
                                                                            <xs:element type="xs:string" nillable="false" maxOccurs="1" name="Userid" xmlns=""/>
                                                                            <xs:element type="xs:string" nillable="false" maxOccurs="1" name="Title" xmlns=""/>
                                                                            <xs:element type="xs:string" nillable="false" maxOccurs="1" name="Fname" xmlns=""/>
                                                                            <xs:element type="xs:string" nillable="false" maxOccurs="1" name="Lname" xmlns=""/>
                                                                            <xs:element type="xs:string" nillable="false" maxOccurs="1" name="SncName" xmlns=""/>
                                                                            <xs:element type="xs:string" nillable="false" maxOccurs="1" name="UnsecSnc" xmlns=""/>
                                                                            <xs:element type="xs:string" nillable="false" maxOccurs="1" name="Accno" xmlns=""/>
                                                                            <xs:element type="xs:string" nillable="false" maxOccurs="1" name="UserGroup" xmlns=""/>
                                                                            <xs:element type="xs:string" nillable="false" maxOccurs="1" name="ValidFrom" xmlns=""/>
                                                                            <xs:element type="xs:string" nillable="false" maxOccurs="1" name="ValidTo" xmlns=""/>
                                                                            <xs:element type="xs:string" nillable="false" maxOccurs="1" name="Empposition" xmlns=""/>
                                                                            <xs:element type="xs:string" nillable="false" maxOccurs="1" name="Empjob" xmlns=""/>
                                                                            <xs:element type="xs:string" nillable="false" maxOccurs="1" name="Personnelno" xmlns=""/>
                                                                            <xs:element type="xs:string" nillable="false" maxOccurs="1" name="Personnelarea" xmlns=""/>
                                                                            <xs:element type="xs:string" nillable="false" maxOccurs="1" name="CommMethod" xmlns=""/>
                                                                            <xs:element type="xs:string" nillable="false" maxOccurs="1" name="Fax" xmlns=""/>
                                                                            <xs:element type="xs:string" nillable="false" maxOccurs="1" name="Email" xmlns=""/>
                                                                            <xs:element type="xs:string" nillable="false" maxOccurs="1" name="Telnumber" xmlns=""/>
                                                                            <xs:element type="xs:string" nillable="false" maxOccurs="1" name="Department" xmlns=""/>
                                                                            <xs:element type="xs:string" nillable="false" maxOccurs="1" name="Company" xmlns=""/>
                                                                            <xs:element type="xs:string" nillable="false" maxOccurs="1" name="Location" xmlns=""/>
                                                                            <xs:element type="xs:string" nillable="false" maxOccurs="1" name="Costcenter" xmlns=""/>
                                                                            <xs:element type="xs:string" nillable="false" maxOccurs="1" name="Printer" xmlns=""/>
                                                                            <xs:element type="xs:string" nillable="false" maxOccurs="1" name="Orgunit" xmlns=""/>
                                                                            <xs:element type="xs:string" nillable="false" maxOccurs="1" name="Emptype" xmlns=""/>
                                                                            <xs:element type="xs:string" nillable="false" maxOccurs="1" name="Manager" xmlns=""/>
                                                                            <xs:element type="xs:string" nillable="false" maxOccurs="1" name="ManagerEmail" xmlns=""/>
                                                                            <xs:element type="xs:string" nillable="false" maxOccurs="1" name="ManagerFirstname" xmlns=""/>
                                                                            <xs:element type="xs:string" nillable="false" maxOccurs="1" name="ManagerLastname" xmlns=""/>
                                                                            <xs:element type="xs:string" nillable="false" maxOccurs="1" name="StartMenu" xmlns=""/>
                                                                            <xs:element type="xs:string" nillable="false" maxOccurs="1" name="LogonLang" xmlns=""/>
                                                                            <xs:element type="xs:string" nillable="false" maxOccurs="1" name="DecNotation" xmlns=""/>
                                                                            <xs:element type="xs:string" nillable="false" maxOccurs="1" name="DateFormat" xmlns=""/>
                                                                            <xs:element type="xs:string" nillable="false" maxOccurs="1" name="Alias" xmlns=""/>
                                                                            <xs:element type="xs:string" nillable="false" maxOccurs="1" name="UserType" xmlns=""/>
                                                                            <xs:element type="xs:string" nillable="false" maxOccurs="1" name="Function" xmlns=""/>
                                                                            <xs:element nillable="false" maxOccurs="1" name="TimeZone">
                                                                                <xs:simpleType>
                                                                                    <xs:restriction base="xs:string" xmlns="">
                                                                                        <xs:maxLength value="6"/>
                                                                                    </xs:restriction>
                                                                                </xs:simpleType>
                                                                            </xs:element>
                                                                        </xs:sequence>
                                                                    </xs:complexType>
                                                                </xs:element>
                                                            </xs:sequence>
                                                        </xs:complexType>
                                                    </xs:element>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element nillable="false" minOccurs="1" maxOccurs="unbounded" name="batchChangeSetPart2">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element type="xs:string" nillable="false" minOccurs="1" maxOccurs="1" name="method" xmlns=""/>
                                        <xs:element type="xs:string" nillable="false" minOccurs="1" maxOccurs="1" name="uri" xmlns=""/>
                                        <xs:element nillable="true" minOccurs="0" maxOccurs="1" name="headers">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element nillable="true" minOccurs="0" maxOccurs="unbounded" name="header">
                                                        <xs:complexType>
                                                            <xs:sequence>
                                                                <xs:element type="xs:string" nillable="false" minOccurs="1" maxOccurs="1" name="headerName" xmlns=""/>
                                                                <xs:element type="xs:string" nillable="false" minOccurs="1" maxOccurs="1" name="headerValue" xmlns=""/>
                                                            </xs:sequence>
                                                        </xs:complexType>
                                                    </xs:element>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element nillable="true" minOccurs="0" maxOccurs="1" name="body">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element nillable="false" minOccurs="1" maxOccurs="1" name="UserChangeDetails">
                                                        <xs:complexType>
                                                            <xs:sequence>
                                                                <xs:element minOccurs="1" maxOccurs="unbounded" name="UserChangeDetails">
                                                                    <xs:complexType>
                                                                        <xs:sequence>
                                                                            <xs:element nillable="false" maxOccurs="1" name="FieldName1">
                                                                                <xs:simpleType>
                                                                                    <xs:restriction base="xs:string" xmlns="">
                                                                                        <xs:maxLength value="132"/>
                                                                                    </xs:restriction>
                                                                                </xs:simpleType>
                                                                            </xs:element>
                                                                            <xs:element nillable="true" minOccurs="0" maxOccurs="1" name="OldValue1">
                                                                                <xs:simpleType>
                                                                                    <xs:restriction base="xs:string" xmlns="">
                                                                                        <xs:maxLength value="255"/>
                                                                                    </xs:restriction>
                                                                                </xs:simpleType>
                                                                            </xs:element>
                                                                            <xs:element nillable="true" minOccurs="0" maxOccurs="1" name="NewValue1">
                                                                                <xs:simpleType>
                                                                                    <xs:restriction base="xs:string" xmlns="">
                                                                                        <xs:maxLength value="255"/>
                                                                                    </xs:restriction>
                                                                                </xs:simpleType>
                                                                            </xs:element>
                                                                            <xs:element nillable="true" minOccurs="0" maxOccurs="1" name="FieldName2">
                                                                                <xs:simpleType>
                                                                                    <xs:restriction base="xs:string" xmlns="">
                                                                                        <xs:maxLength value="132"/>
                                                                                    </xs:restriction>
                                                                                </xs:simpleType>
                                                                            </xs:element>
                                                                            <xs:element nillable="true" minOccurs="0" maxOccurs="1" name="OldValue2">
                                                                                <xs:simpleType>
                                                                                    <xs:restriction base="xs:string" xmlns="">
                                                                                        <xs:maxLength value="255"/>
                                                                                    </xs:restriction>
                                                                                </xs:simpleType>
                                                                            </xs:element>
                                                                            <xs:element nillable="true" minOccurs="0" maxOccurs="1" name="NewValue2">
                                                                                <xs:simpleType>
                                                                                    <xs:restriction base="xs:string" xmlns="">
                                                                                        <xs:maxLength value="255"/>
                                                                                    </xs:restriction>
                                                                                </xs:simpleType>
                                                                            </xs:element>
                                                                            <xs:element nillable="true" minOccurs="0" maxOccurs="1" name="FieldName3">
                                                                                <xs:simpleType>
                                                                                    <xs:restriction base="xs:string" xmlns="">
                                                                                        <xs:maxLength value="132"/>
                                                                                    </xs:restriction>
                                                                                </xs:simpleType>
                                                                            </xs:element>
                                                                            <xs:element nillable="true" minOccurs="0" maxOccurs="1" name="OldValue3">
                                                                                <xs:simpleType>
                                                                                    <xs:restriction base="xs:string" xmlns="">
                                                                                        <xs:maxLength value="255"/>
                                                                                    </xs:restriction>
                                                                                </xs:simpleType>
                                                                            </xs:element>
                                                                            <xs:element nillable="true" minOccurs="0" maxOccurs="1" name="NewValue3">
                                                                                <xs:simpleType>
                                                                                    <xs:restriction base="xs:string" xmlns="">
                                                                                        <xs:maxLength value="255"/>
                                                                                    </xs:restriction>
                                                                                </xs:simpleType>
                                                                            </xs:element>
                                                                        </xs:sequence>
                                                                    </xs:complexType>
                                                                </xs:element>
                                                            </xs:sequence>
                                                        </xs:complexType>
                                                    </xs:element>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>
