Resources/schemas/Xsd/SAP_Build_Process_Automation_Integration_with_SAP_ERP_for_Purchase_Order - RFC_READ_TABLE_PAYMENT_INFO_TERMS-1.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="RFC_READ_TABLE.Response">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="DATA">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="item" minOccurs="0" maxOccurs="unbounded">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:string" name="PaymentTerms" minOccurs="0" maxOccurs="1"/>
                    <xs:element type="xs:byte" name="IncoTerms" minOccurs="0" maxOccurs="1"/>
					
                    
                   
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="FIELDS">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="item" minOccurs="0" maxOccurs="unbounded">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:string" name="FIELDNAME" minOccurs="0" maxOccurs="1"/>
                    <xs:element type="xs:string" name="OFFSET" minOccurs="0" maxOccurs="1"/>
                    <xs:element type="xs:string" name="LENGTH" minOccurs="0" maxOccurs="1"/>
                    <xs:element type="xs:string" name="TYPE" minOccurs="0" maxOccurs="1"/>
                    <xs:element type="xs:string" name="FIELDTEXT" minOccurs="0" maxOccurs="1"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="OPTIONS" minOccurs="0" maxOccurs="1">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="item" minOccurs="0" maxOccurs="1">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:string" name="TEXT" minOccurs="0" maxOccurs="1"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>