Resources/schemas/Xsd/SAP_S-4HANA_Integration_with_SAP_Build_Process_Automation_for_Plan_Activity_Prices_Approval - responseData.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- Created with Liquid Technologies Online Tools 1.0 (https://www.liquid-technologies.com) -->
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  
    
        <xs:element name="d">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="status" type="xs:string"/>
			  <xs:element name="type" type="xs:string" minOccurs="0" maxOccurs="1" />
			  <xs:element name="number" type="xs:unsignedShort" minOccurs="0" maxOccurs="1" />
			  <xs:element name="message" type="xs:string" minOccurs="0" maxOccurs="1"/>
              <xs:element name="returnAll">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="message" type="xs:string" minOccurs="0" maxOccurs="1"/>
                    <xs:element name="number" type="xs:unsignedShort" minOccurs="0" maxOccurs="1"/>
                   
                    <xs:element name="type" type="xs:string" minOccurs="0" maxOccurs="1"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      
  
</xs:schema>