Resources/schemas/Xsd/SAP_Upscale_Commerce_Integration_with_SAP_S-4HANA - product-batch.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="root">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="product" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="id" maxOccurs="1" minOccurs="0"/>
              <xs:element type="xs:string" name="sku" maxOccurs="1" minOccurs="0"/>
              <xs:element type="xs:string" name="name" maxOccurs="1" minOccurs="0"/>
              <xs:element type="xs:string" name="description" maxOccurs="1" minOccurs="0"/>
              <xs:element type="xs:string" name="published" maxOccurs="1" minOccurs="0"/>
              <xs:element type="xs:string" name="active" maxOccurs="1" minOccurs="0"/>
              <xs:element name="customAttributes" maxOccurs="1" minOccurs="0">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:string" name="warranty"/>
                    <xs:element type="xs:string" name="washing-instruction"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="seo" maxOccurs="1" minOccurs="0">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:string" name="urlSlug"/>
                    <xs:element type="xs:string" name="canonicalUrl"/>
                    <xs:element type="xs:string" name="title"/>
                    <xs:element type="xs:string" name="description"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="returnInfo" maxOccurs="1" minOccurs="0">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:string" name="policy"/>
                    <xs:element name="period">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element type="xs:string" name="infinite"/>
                          <xs:element type="xs:byte" name="maxDays"/>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="price" maxOccurs="1" minOccurs="0">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:float" name="cogs" maxOccurs="1" minOccurs="0"/>
                    <xs:element type="xs:float" name="msrp" maxOccurs="1" minOccurs="0"/>
                    <xs:element type="xs:float" name="originalPrice" maxOccurs="1" minOccurs="0"/>
                    <xs:element type="xs:float" name="sellingPrice"/>
                    <xs:element name="surcharge" maxOccurs="1" minOccurs="0">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element type="xs:string" name="type"/>
                          <xs:element type="xs:float" name="value"/>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="media" maxOccurs="unbounded" minOccurs="0">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:string" name="thumbnail"/>
                    <xs:element type="xs:string" name="fullSize"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="variantAttributes" maxOccurs="unbounded" minOccurs="0">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:string" name="key"/>
                    <xs:element type="xs:string" name="value"/>
                    <xs:element name="swatch" minOccurs="0">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element type="xs:string" name="url" minOccurs="0"/>
                          <xs:element type="xs:string" name="codes" minOccurs="0"/>
                          <xs:element type="xs:string" name="altText" minOccurs="0"/>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element type="xs:string" name="parentId" maxOccurs="1" minOccurs="0"/>
              <xs:element type="xs:string" name="type" maxOccurs="1" minOccurs="0"/>
              <xs:element type="xs:string" name="addToCartOption" maxOccurs="1" minOccurs="0"/>
              <xs:element type="xs:string" name="taxCode" maxOccurs="1" minOccurs="0"/>
              <xs:element type="xs:string" name="collectionIds" maxOccurs="unbounded" minOccurs="0"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>