Resources/schemas/Xsd/SAP_Ariba_Integration_with_SAP_Build_Process_Automation - ApprovalRequestsSimple.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="ApprovalRequests">
    <xs:complexType>
      <xs:sequence>
        <xs:element type="xs:string" name="Flag" maxOccurs="unbounded" minOccurs="0" />
        <xs:element type="xs:string" name="PRApprovalDate" maxOccurs="unbounded" minOccurs="0" />
        <xs:element type="xs:dateTime" name="ApprovedDate" maxOccurs="unbounded" minOccurs="0" />
        <xs:element type="xs:string" name="ApprovedBy" maxOccurs="unbounded" minOccurs="0" />
        <xs:element type="xs:string" name="TimeUpdated" maxOccurs="unbounded" minOccurs="0" />
        <xs:element type="xs:dateTime" name="CreateDate" maxOccurs="unbounded" minOccurs="0" />
        <xs:element type="xs:string" name="ERPRequisitionID" maxOccurs="unbounded" minOccurs="0" />
        <xs:element type="xs:string" name="UniqueName" maxOccurs="unbounded" minOccurs="0" />
        <xs:element type="xs:string" name="Requestor" maxOccurs="unbounded" minOccurs="0" />
        <xs:element type="xs:string" name="StatusString" maxOccurs="unbounded" minOccurs="0" />
        <xs:element type="xs:float" name="TotalCost" maxOccurs="unbounded" minOccurs="0" />
        <xs:element type="xs:string" name="Currency" maxOccurs="unbounded" minOccurs="0" />
        <xs:element type="xs:string" name="ApprovalRequired" maxOccurs="unbounded" minOccurs="0" />
        <xs:element type="xs:string" name="AssignedDate" maxOccurs="unbounded" minOccurs="0" />
        <xs:element type="xs:dateTime" name="ActivationDate" maxOccurs="unbounded" minOccurs="0" />
        <xs:element type="xs:dateTime" name="OrderedDate" maxOccurs="unbounded" minOccurs="0" />
        <xs:element type="xs:string" name="LastUpdated" maxOccurs="unbounded" minOccurs="0" />
        <xs:element type="xs:string" name="ReceivedDate" maxOccurs="unbounded" minOccurs="0" />
        <xs:element type="xs:string" name="AreOrdersStuck" maxOccurs="unbounded" minOccurs="0" />
        <xs:element type="xs:string" name="EscalationDate" maxOccurs="unbounded" minOccurs="0" />
        <xs:element type="xs:string" name="AssignedTo" maxOccurs="unbounded" minOccurs="0" />
        <xs:element type="xs:dateTime" name="SubmitDate" maxOccurs="unbounded" minOccurs="0" />
        <xs:element type="xs:dateTime" name="LastModified" maxOccurs="unbounded" minOccurs="0" />
        <xs:element type="xs:string" name="RuleName" maxOccurs="unbounded" minOccurs="0" />
        <xs:element type="xs:string" name="AutoApproved" maxOccurs="unbounded" minOccurs="0" />
        <xs:element type="xs:string" name="Approver" maxOccurs="unbounded" minOccurs="0" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>