Resources/schemas/Xsd/SAP_Commerce_Cloud_Integration_with_SAP_CPQ - payload-quoteinbound.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="qualified">
  <xs:element name="Quote" type="QuoteType"/>
  <xs:complexType name="OrderStatusType">
    <xs:sequence>
      <xs:element type="xs:byte" name="Id"/>
      <xs:element type="xs:string" name="Name"/>
      <xs:element type="xs:string" name="NameTranslated"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="SelectedMarketType">
    <xs:sequence>
      <xs:element type="xs:string" name="CurrencyCode"/>
      <xs:element type="xs:string" name="CurrencyDescription"/>
      <xs:element type="xs:float" name="CurrencyRate"/>
      <xs:element type="xs:string" name="CurrencySign"/>
      <xs:element type="xs:float" name="ForwardCurrencyRate"/>
      <xs:element type="xs:string" name="MarketCode"/>
      <xs:element type="xs:float" name="MarketFactor"/>
      <xs:element type="xs:string" name="MarketName"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CustomFieldType">
    <xs:sequence>
      <xs:element type="xs:string" name="Content"/>
      <xs:element type="xs:short" name="Id" minOccurs="0"/>
      <xs:element type="xs:string" name="Name"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CustomFieldsType">
    <xs:sequence>
      <xs:element type="CustomFieldType" name="CustomField" maxOccurs="unbounded" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="BillToCustomerType">
    <xs:sequence>
      <xs:element type="xs:string" name="Active"/>
      <xs:element type="xs:string" name="Address1"/>
      <xs:element type="xs:string" name="Address2"/>
      <xs:element type="xs:string" name="BusinessFax"/>
      <xs:element type="xs:string" name="BusinessPhone"/>
      <xs:element type="xs:string" name="City"/>
      <xs:element type="xs:string" name="CompanyName"/>
      <xs:element type="xs:string" name="CountryAbbreviation"/>
      <xs:element type="xs:int" name="CrmAccountId"/>
      <xs:element type="xs:string" name="CrmContactId"/>
      <xs:element type="xs:string" name="CustomerCode"/>
      <xs:element type="xs:string" name="CustomerType"/>
      <xs:element type="xs:string" name="Email"/>
      <xs:element type="xs:string" name="FirstName"/>
      <xs:element type="xs:string" name="LastName"/>
      <xs:element type="xs:string" name="OwnerName"/>
      <xs:element type="xs:string" name="PrimaryIndustry"/>
      <xs:element type="xs:string" name="Province"/>
      <xs:element type="xs:byte" name="QuoteId"/>
      <xs:element type="xs:string" name="StateAbbreviation"/>
      <xs:element type="xs:string" name="TerritoryName"/>
      <xs:element type="xs:string" name="Title"/>
      <xs:element type="xs:short" name="UserId"/>
      <xs:element type="xs:string" name="ZipCode"/>
      <xs:element type="CustomFieldsType" name="CustomFields"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ShipToCustomerType">
    <xs:sequence>
      <xs:element type="xs:string" name="Active"/>
      <xs:element type="xs:string" name="Address1"/>
      <xs:element type="xs:string" name="Address2"/>
      <xs:element type="xs:string" name="BusinessFax"/>
      <xs:element type="xs:string" name="BusinessPhone"/>
      <xs:element type="xs:string" name="City"/>
      <xs:element type="xs:string" name="CompanyName"/>
      <xs:element type="xs:string" name="CountryAbbreviation"/>
      <xs:element type="xs:int" name="CrmAccountId"/>
      <xs:element type="xs:string" name="CrmContactId"/>
      <xs:element type="xs:string" name="CustomerCode"/>
      <xs:element type="xs:string" name="CustomerType"/>
      <xs:element type="xs:string" name="Email"/>
      <xs:element type="xs:string" name="FirstName"/>
      <xs:element type="xs:string" name="LastName"/>
      <xs:element type="xs:string" name="OwnerName"/>
      <xs:element type="xs:string" name="PrimaryIndustry"/>
      <xs:element type="xs:string" name="Province"/>
      <xs:element type="xs:byte" name="QuoteId"/>
      <xs:element type="xs:string" name="StateAbbreviation"/>
      <xs:element type="xs:string" name="TerritoryName"/>
      <xs:element type="xs:string" name="Title"/>
      <xs:element type="xs:short" name="UserId"/>
      <xs:element type="xs:short" name="ZipCode"/>
      <xs:element type="xs:string" name="CustomFields"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PriceComponentType">
    <xs:sequence>
      <xs:element type="xs:string" name="TypeCode"/>
      <xs:element type="xs:string" name="Description"/>
      <xs:element type="xs:float" name="DecimalValue"/>
      <xs:element type="xs:string" name="Currency"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ItemType">
    <xs:sequence>
      <xs:element type="xs:float" name="DefaultMrcMultiplier"/>
      <xs:element type="xs:float" name="DefaultMultiplier"/>
      <xs:element type="xs:float" name="MaxMrcMultiplier"/>
      <xs:element type="xs:float" name="MaxMultiplier"/>
      <xs:element type="xs:float" name="MinMrcMultiplier"/>
      <xs:element type="xs:float" name="MinMultiplier"/>
      <xs:element type="xs:float" name="MRCMultiplier"/>
      <xs:element type="xs:float" name="Multiplier"/>
      <xs:element type="xs:string" name="ParentRolledUpQuoteItem"/>
      <xs:element type="xs:float" name="PromoDiscountAmount"/>
      <xs:element type="xs:float" name="PromoDiscountPercent"/>
      <xs:element type="xs:float" name="ChannelCommissionPercent"/>
      <xs:element type="xs:float" name="ChannelMarginPercent"/>
      <xs:element type="xs:float" name="ChannelMarkupPercent"/>
      <xs:element type="xs:float" name="MRCChannelMarginPercent"/>
      <xs:element type="xs:float" name="MRCChannelMarkupPercent"/>
      <xs:element type="xs:string" name="ParentItemGuid"/>
      <xs:element type="xs:string" name="ProductVersion"/>
      <xs:element type="xs:string" name="QuoteItemGuid"/>
      <xs:element type="xs:float" name="UserCommissionPercent"/>
      <xs:element type="xs:byte" name="Inventory"/>
      <xs:element type="xs:float" name="BaseQuantity"/>
      <xs:element type="xs:string" name="UniversalProductCode"/>
      <xs:element type="xs:string" name="ManufacturerPartNumber"/>
      <xs:element type="xs:string" name="LeadTime"/>
      <xs:element type="xs:string" name="FamilyCode"/>
      <xs:element type="xs:float" name="Weight"/>
      <xs:element type="xs:string" name="ExternalId"/>
      <xs:element type="xs:float" name="RolledUpQuoteItem"/>
      <xs:element type="xs:string" name="DateAdded"/>
      <xs:element type="xs:float" name="DefaultDiscountPercent"/>
      <xs:element type="xs:float" name="DefaultMrcDiscountPercent"/>
      <xs:element type="xs:string" name="Description"/>
      <xs:element type="xs:string" name="DescriptionLong"/>
      <xs:element type="xs:string" name="IsLineItem"/>
      <xs:element type="xs:string" name="IsMainItem"/>
      <xs:element type="xs:byte" name="IsOptional"/>
      <xs:element type="xs:string" name="IsVariant"/>
      <xs:element type="xs:string" name="IsAlternative"/>
      <xs:element type="xs:byte" name="ItemType"/>
      <xs:element type="xs:float" name="MarginPercent"/>
      <xs:element type="xs:float" name="MaxDiscountPercent"/>
      <xs:element type="xs:float" name="MaxMrcDiscountPercent"/>
      <xs:element type="xs:float" name="MinDiscountPercent"/>
      <xs:element type="xs:float" name="MinMrcDiscountPercent"/>
      <xs:element type="xs:float" name="MRCMarginPercent"/>
      <xs:element type="xs:byte" name="ParentItem"/>
      <xs:element type="xs:string" name="PartNumber"/>
      <xs:element type="xs:string" name="ProductSystemId"/>
      <xs:element type="xs:short" name="ProductId"/>
      <xs:element type="xs:string" name="ProductName"/>
      <xs:element type="xs:string" name="ProductNameTranslated"/>
      <xs:element type="xs:byte" name="ProductTypeId"/>
      <xs:element type="xs:string" name="ProductTypeName"/>
      <xs:element type="xs:string" name="ProductTypeNameTranslated"/>
      <xs:element type="xs:float" name="Quantity"/>
      <xs:element type="xs:byte" name="Rank"/>
      <xs:element type="xs:string" name="Comment"/>
      <xs:element type="CustomFieldsType" name="CustomFields"/>
      <xs:element type="PriceComponentType" name="PriceComponent" maxOccurs="unbounded" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ItemsType">
    <xs:sequence>
      <xs:element type="ItemType" name="Item" maxOccurs="unbounded" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="DocumentProposalType">
    <xs:sequence>
      <xs:element type="xs:string" name="Content"/>
      <xs:element type="xs:string" name="Name"/>
      <xs:element type="xs:string" name="MimeCode"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="QuoteType">
    <xs:sequence>
      <xs:element type="xs:int" name="CompositeNumber"/>
      <xs:element type="xs:string" name="DateClosed"/>
      <xs:element type="xs:string" name="DateCreated"/>
      <xs:element type="xs:string" name="DateModified"/>
      <xs:element type="xs:string" name="DateOrdered"/>
      <xs:element type="xs:float" name="MarketFactor"/>
      <xs:element type="xs:byte" name="QuoteId"/>
      <xs:element type="xs:int" name="OpportunityId"/>
      <xs:element type="xs:int" name="AccountId"/>
      <xs:element type="xs:short" name="ExternalId"/>
      <xs:element type="xs:string" name="Comment"/>
      <xs:element type="xs:byte" name="RevisionNumber"/>
      <xs:element type="xs:short" name="UserId"/>
      <xs:element type="xs:date" name="ExpirationDate"/>
      <xs:element type="OrderStatusType" name="OrderStatus"/>
      <xs:element type="SelectedMarketType" name="SelectedMarket"/>
      <xs:element type="CustomFieldsType" name="CustomFields"/>
      <xs:element type="BillToCustomerType" name="BillToCustomer"/>
      <xs:element type="ShipToCustomerType" name="ShipToCustomer"/>
      <xs:element type="ItemsType" name="Items"/>
      <xs:element type="PriceComponentType" name="PriceComponent" maxOccurs="unbounded" minOccurs="0"/>
      <xs:element type="xs:float" name="TotalAmount"/>
      <xs:element type="xs:string" name="QuoteTables"/>
      <xs:element type="DocumentProposalType" name="DocumentProposal"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>
