Resources/schemas/Xsd/SAP_Cloud_for_Customer_Integration_with_SAP_CPQ - CPQQuote20Header.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Quote">
    <xs:complexType>
      <xs:sequence>
        <xs:element type="xs:string" name="QuoteId" minOccurs="0"/>
        <xs:element type="xs:string" name="Comment" minOccurs="0"/>
        <xs:element type="xs:string" name="DateCreated" minOccurs="0"/>
        <xs:element type="xs:string" name="DateModified" minOccurs="0"/>
        <xs:element type="xs:string" name="DateOrdered" minOccurs="0" />
        <xs:element type="xs:string" name="DateClosed" minOccurs="0" />
        <xs:element type="xs:string" name="EffectiveDate" minOccurs="0" />
        <xs:element type="xs:string" name="ExternalId" minOccurs="0" />
        <xs:element type="xs:string" name="ExternalSystemId" minOccurs="0" />
        <xs:element type="xs:string" name="MarketCode" minOccurs="0" />
        <xs:element type="xs:string" name="CurrencyCode" minOccurs="0" />
        <xs:element type="xs:string" name="MarketId" minOccurs="0" />
        <xs:element type="xs:string" name="Origin" minOccurs="0" />
        <xs:element type="xs:string" name="OwnerId" minOccurs="0" />
        <xs:element type="xs:string" name="PriceBookId" minOccurs="0" />
        <xs:element type="xs:string" name="DistributionChannel" minOccurs="0" />
        <xs:element type="xs:string" name="StatusId" minOccurs="0" />
        <xs:element type="xs:string" name="StatusName" minOccurs="0" />
        <xs:element type="xs:string" name="QuoteNumber" minOccurs="0" />
        <xs:element type="xs:string" name="RevisionNumber" minOccurs="0" />
        <xs:element type="xs:string" name="OpportunityId" minOccurs="0" />
        <xs:element type="xs:string" name="OpportunityName" minOccurs="0" />
        <xs:element type="xs:string" name="IsPrimary" minOccurs="0" />
        <xs:element type="xs:string" name="ErrorMessage" minOccurs="0" />
        <xs:element name="Customers" minOccurs="0" maxOccurs="unbounded">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="RoleType" minOccurs="0" />
              <xs:element type="xs:string" name="Active" minOccurs="0" />
              <xs:element type="xs:string" name="CompanyName" minOccurs="0" />
              <xs:element type="xs:string" name="FirstName" minOccurs="0" />
              <xs:element type="xs:string" name="LastName" minOccurs="0" />
              <xs:element type="xs:string" name="Title" minOccurs="0" />
              <xs:element type="xs:string" name="AddressLine1" minOccurs="0" />
              <xs:element type="xs:string" name="AddressLine2" minOccurs="0" />
              <xs:element type="xs:string" name="City" minOccurs="0" />
              <xs:element type="xs:string" name="ZipCode" minOccurs="0" />
              <xs:element type="xs:string" name="State" minOccurs="0" />
              <xs:element type="xs:string" name="Province" minOccurs="0" />
              <xs:element type="xs:string" name="Country" minOccurs="0" />
              <xs:element type="xs:string" name="Phone" minOccurs="0" />
              <xs:element type="xs:string" name="Fax" minOccurs="0" />
              <xs:element type="xs:string" name="Email" minOccurs="0" />
              <xs:element type="xs:string" name="PrimaryIndustry" minOccurs="0" />
              <xs:element type="xs:string" name="TerritoryName" minOccurs="0" />
              <xs:element type="xs:string" name="CRMAccountId" minOccurs="0" />
              <xs:element type="xs:string" name="CRMContactId" minOccurs="0" />
              <xs:element type="xs:string" name="CustomerCode" minOccurs="0" />
              <xs:element name="CustomFields"  minOccurs="0" maxOccurs="unbounded">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:string" name="Name" minOccurs="0" />
                    <xs:element type="xs:string" name="Content" minOccurs="0" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="Comments"  minOccurs="0" maxOccurs="unbounded">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="Id" minOccurs="0" />
              <xs:element type="xs:string" name="ItemId" minOccurs="0" />
              <xs:element type="xs:string" name="UserFullName" minOccurs="0" />
              <xs:element type="xs:string" name="UserEmail" minOccurs="0" />
              <xs:element type="xs:string" name="UserCompany" minOccurs="0" />
              <xs:element type="xs:string" name="DateCreated" minOccurs="0" />
              <xs:element type="xs:string" name="Comment" minOccurs="0" />
              <xs:element type="xs:string" name="Source" minOccurs="0" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="InvolvedParties"  minOccurs="0" maxOccurs="unbounded">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="PartnerFunctionId" minOccurs="0" />
              <xs:element type="xs:string" name="PartnerFunctionKey" minOccurs="0" />
              <xs:element type="xs:string" name="PartnerFunctionName" minOccurs="0" />
              <xs:element type="xs:string" name="BusinessPartnerId" minOccurs="0" />
              <xs:element type="xs:string" name="ExternalId" minOccurs="0" />
              <xs:element type="xs:string" name="PartnerId" minOccurs="0" />
              <xs:element type="xs:string" name="Name" minOccurs="0" />
              <xs:element type="xs:string" name="FirstName" minOccurs="0" />
              <xs:element type="xs:string" name="LastName" minOccurs="0" />
              <xs:element type="xs:string" name="Country" minOccurs="0" />
              <xs:element type="xs:string" name="State" minOccurs="0" />
              <xs:element type="xs:string" name="Region" minOccurs="0" />
              <xs:element type="xs:string" name="City" minOccurs="0" />
              <xs:element type="xs:string" name="ZipCode" minOccurs="0" />
              <xs:element type="xs:string" name="TimeZone" minOccurs="0" />
              <xs:element type="xs:string" name="Address1" minOccurs="0" />
              <xs:element type="xs:string" name="Address2" minOccurs="0" />
              <xs:element type="xs:string" name="Email" minOccurs="0" />
              <xs:element type="xs:string" name="Telephone" minOccurs="0" />
              <xs:element type="xs:string" name="VATNumber" minOccurs="0" />
              <xs:element type="xs:string" name="TaxNumber1" minOccurs="0" />
              <xs:element type="xs:string" name="TaxNumber2" minOccurs="0" />
              <xs:element type="xs:string" name="Fax" minOccurs="0" />
              <xs:element type="xs:string" name="BankAccount1" minOccurs="0" />
              <xs:element type="xs:string" name="BankAccount2" minOccurs="0" />
              <xs:element type="xs:string" name="PrimaryIndustry" minOccurs="0" />
              <xs:element type="xs:string" name="SystemId" minOccurs="0" />
              <xs:element type="xs:string" name="Id" minOccurs="0" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element type="xs:string" name="QuoteTables"  minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="CustomFields"  minOccurs="0" maxOccurs="unbounded">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="Name" minOccurs="0" />
              <xs:element type="xs:string" name="Content" minOccurs="0" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="TotalAmount">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="Value" minOccurs="0" />
              <xs:element type="xs:string" name="Currency" minOccurs="0" />
              <xs:element type="xs:string" name="Period" minOccurs="0" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="TotalMrcAmount">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="Value" minOccurs="0" />
              <xs:element type="xs:string" name="Currency" minOccurs="0" />
              <xs:element type="xs:string" name="Period" minOccurs="0" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="TotalListPrice">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="Value" minOccurs="0" />
              <xs:element type="xs:string" name="Currency" minOccurs="0" />
              <xs:element type="xs:string" name="Period" minOccurs="0" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="TotalMRCListPrice">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="Value" minOccurs="0" />
              <xs:element type="xs:string" name="Currency" minOccurs="0" />
              <xs:element type="xs:string" name="Period" minOccurs="0" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="TotalNetPrice">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="Value" minOccurs="0" />
              <xs:element type="xs:string" name="Currency" minOccurs="0" />
              <xs:element type="xs:string" name="Period" minOccurs="0" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="TotalMRCNetPrice">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="Value" minOccurs="0" />
              <xs:element type="xs:string" name="Currency" minOccurs="0" />
              <xs:element type="xs:string" name="Period" minOccurs="0" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="Cost">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="Value" minOccurs="0" />
              <xs:element type="xs:string" name="Currency" minOccurs="0" />
              <xs:element type="xs:string" name="Period" minOccurs="0" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="TotalMRCCost">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="Value" minOccurs="0" />
              <xs:element type="xs:string" name="Currency" minOccurs="0" />
              <xs:element type="xs:string" name="Period" minOccurs="0" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="TotalProductDiscountAmount">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="Value" minOccurs="0" />
              <xs:element type="xs:string" name="Currency" minOccurs="0" />
              <xs:element type="xs:string" name="Period" minOccurs="0" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="TotalMRCProductDiscountAmount">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="Value" minOccurs="0" />
              <xs:element type="xs:string" name="Currency" minOccurs="0" />
              <xs:element type="xs:string" name="Period" minOccurs="0" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="AverageProductDiscountPercent">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="Value" minOccurs="0" />
              <xs:element type="xs:string" name="Currency" minOccurs="0" />
              <xs:element type="xs:string" name="Period" minOccurs="0" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="AverageMRCProductDiscountPercent">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="Value" minOccurs="0" />
              <xs:element type="xs:string" name="Currency" minOccurs="0" />
              <xs:element type="xs:string" name="Period" minOccurs="0" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="AverageGrossMarginPercent">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="Value" minOccurs="0" />
              <xs:element type="xs:string" name="Currency" minOccurs="0" />
              <xs:element type="xs:string" name="Period" minOccurs="0" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="AverageMRCGrossMarginPercent">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="Value" minOccurs="0" />
              <xs:element type="xs:string" name="Currency" minOccurs="0" />
              <xs:element type="xs:string" name="Period" minOccurs="0" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element type="xs:string" name="OrderId" minOccurs="0" />
        <xs:element name="RecurringNetPriceMonthly">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="Value" minOccurs="0" />
              <xs:element type="xs:string" name="Currency" minOccurs="0" />
              <xs:element type="xs:string" name="Period" minOccurs="0" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="RecurringNetPriceYearly">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="Value" minOccurs="0" />
              <xs:element type="xs:string" name="Currency" minOccurs="0" />
              <xs:element type="xs:string" name="Period" minOccurs="0" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="RecurringCostMonthly">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="Value" minOccurs="0" />
              <xs:element type="xs:string" name="Currency" minOccurs="0" />
              <xs:element type="xs:string" name="Period" minOccurs="0" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="RecurringCostYearly">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="Value" minOccurs="0" />
              <xs:element type="xs:string" name="Currency" minOccurs="0" />
              <xs:element type="xs:string" name="Period" minOccurs="0" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="RecurringDiscountAmountMonthly">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="Value" minOccurs="0" />
              <xs:element type="xs:string" name="Currency" minOccurs="0" />
              <xs:element type="xs:string" name="Period" minOccurs="0" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="RecurringDiscountAmountYearly">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="Value" minOccurs="0" />
              <xs:element type="xs:string" name="Currency" minOccurs="0" />
              <xs:element type="xs:string" name="Period" minOccurs="0" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="RecurringListPriceMonthly">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="Value" minOccurs="0" />
              <xs:element type="xs:string" name="Currency" minOccurs="0" />
              <xs:element type="xs:string" name="Period" minOccurs="0" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="RecurringListPriceYearly">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="Value" minOccurs="0" />
              <xs:element type="xs:string" name="Currency" minOccurs="0" />
              <xs:element type="xs:string" name="Period" minOccurs="0" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="EstimatedContractTotalValue">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="Value" minOccurs="0" />
              <xs:element type="xs:string" name="Currency" minOccurs="0" />
              <xs:element type="xs:string" name="Period" minOccurs="0" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
