Resources/schemas/Xsd/SAP_Build_Process_Automation_Integration_with_SAP_S-4HANA_For_Treasury_Payment_Request_Creation_Approval - RFCInput.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="unqualified" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:sap-com:document:sap:rfc:functions">
	<xs:element name="ZWF_FM_FTR_POSTING">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="IP_TRANSACTION" type="xs:string" />
				<xs:element name="IP_BUKRS" type="xs:string"  />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>