Resources/schemas/Xsd/SAP_ERP_Integration_with_SAP_Build_Process_Automation - BAPI_REQUISITION_CREATE.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="BAPI_REQUISITION_CREATE">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="REQUISITION_ITEMS">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="item" maxOccurs="unbounded" minOccurs="0">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:string" name="DOC_TYPE"/>
                    <xs:element type="xs:string" name="MATERIAL"/>
                    <xs:element type="xs:short" name="PLANT"/>
                    <xs:element type="xs:byte" name="QUANTITY"/>
                    <xs:element type="xs:int" name="DELIV_DATE"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>