Resources/schemas/Xsd/SAP_SuccessFactors_Territory_and_Quota_Integration_with_SAP_SuccessFactors_Incentive_Management - com_transactionassign_upsert_Schema-1.xsd

<!-- Created with Liquid Technologies Online Tools 1.0 (https://www.liquid-technologies.com) -->
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="root">
		<xs:complexType>
			<xs:sequence>
				<xs:element maxOccurs="unbounded" name="element">
					<xs:complexType>
						<xs:sequence>
							<xs:element type="xs:string" name="beanName"/>
							<xs:element name="bean">
								<xs:complexType>
									<xs:sequence>
										<xs:element type="xs:string" name="salesTransactionSeq"/>
										<xs:element name="salesOrder">
											<xs:complexType>
												<xs:sequence>
													<xs:element type="xs:string" name="orderId"/>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
										<xs:element name="lineNumber">
											<xs:complexType>
												<xs:sequence>
													<xs:element type="xs:byte" name="value"/>
													<xs:element name="unitType">
														<xs:complexType>
															<xs:sequence>
																<xs:element type="xs:long" name="unitTypeSeq"/>
															</xs:sequence>
														</xs:complexType>
													</xs:element>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
										<xs:element name="subLineNumber">
											<xs:complexType>
												<xs:sequence>
													<xs:element type="xs:byte" name="value"/>
													<xs:element name="unitType">
														<xs:complexType>
															<xs:sequence>
																<xs:element type="xs:long" name="unitTypeSeq"/>
															</xs:sequence>
														</xs:complexType>
													</xs:element>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
										<xs:element name="eventType">
											<xs:complexType>
												<xs:sequence>
													<xs:element type="xs:string" name="eventTypeId"/>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
										<xs:element type="xs:string" name="originTypeId"/>
										<xs:element type="xs:long" name="compensationDate"/>
										<xs:element type="xs:string" name="isRunnable"/>
										<xs:element type="xs:string" name="accountingDate"/>
										<xs:element type="xs:string" name="productId"/>
										<xs:element type="xs:string" name="productName"/>
										<xs:element type="xs:string" name="productDescription"/>
										<xs:element type="xs:string" name="unitValue"/>
										<xs:element name="value">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="unitType">
														<xs:complexType>
															<xs:sequence>
																<xs:element type="xs:long" name="unitTypeSeq"/>
															</xs:sequence>
														</xs:complexType>
													</xs:element>
													<xs:element type="xs:short" name="value"/>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
										<xs:element type="xs:string" name="nativeCurrency"/>
										<xs:element type="xs:string" name="nativeCurrencyAmount"/>
										<xs:element type="xs:string" name="discountType"/>
										<xs:element type="xs:string" name="paymentTerms"/>
										<xs:element type="xs:string" name="poNumber"/>
										<xs:element type="xs:string" name="channel"/>
										<xs:element type="xs:string" name="alternateOrderNumber"/>
										<xs:element type="xs:string" name="reason"/>
										<xs:element type="xs:string" name="dataSource"/>
										<xs:element type="xs:string" name="comments"/>
										<xs:element name="businessUnits">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="name" type="xs:string"/>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
										<xs:element type="xs:string" name="genericAttribute1"/>
										<xs:element type="xs:string" name="genericAttribute2"/>
										<xs:element type="xs:string" name="genericAttribute3"/>
										<xs:element type="xs:string" name="genericAttribute4"/>
										<xs:element type="xs:string" name="genericAttribute5"/>
										<xs:element type="xs:string" name="genericAttribute6"/>
										<xs:element type="xs:string" name="genericAttribute7"/>
										<xs:element type="xs:string" name="genericAttribute8"/>
										<xs:element type="xs:string" name="genericAttribute9"/>
										<xs:element type="xs:string" name="genericAttribute10"/>
										<xs:element type="xs:string" name="genericAttribute11"/>
										<xs:element type="xs:string" name="genericAttribute12"/>
										<xs:element type="xs:string" name="genericAttribute13"/>
										<xs:element type="xs:string" name="genericAttribute14"/>
										<xs:element type="xs:string" name="genericAttribute15"/>
										<xs:element type="xs:string" name="genericAttribute16"/>
										<xs:element type="xs:string" name="genericAttribute17"/>
										<xs:element type="xs:string" name="genericAttribute18"/>
										<xs:element type="xs:string" name="genericAttribute19"/>
										<xs:element type="xs:string" name="genericAttribute20"/>
										<xs:element type="xs:string" name="genericAttribute21"/>
										<xs:element type="xs:string" name="genericAttribute22"/>
										<xs:element type="xs:string" name="genericAttribute23"/>
										<xs:element type="xs:string" name="genericAttribute24"/>
										<xs:element type="xs:string" name="genericAttribute25"/>
										<xs:element type="xs:string" name="genericAttribute26"/>
										<xs:element type="xs:string" name="genericAttribute27"/>
										<xs:element type="xs:string" name="genericAttribute28"/>
										<xs:element type="xs:string" name="genericAttribute29"/>
										<xs:element type="xs:string" name="genericAttribute30"/>
										<xs:element type="xs:string" name="genericAttribute31"/>
										<xs:element type="xs:string" name="genericAttribute32"/>
										<xs:element name="genericNumber1">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="unitType">
														<xs:complexType>
															<xs:sequence>
																<xs:element name="name" type="xs:string"/>
															</xs:sequence>
														</xs:complexType>
													</xs:element>
													<xs:element name="value" type="xs:decimal"/>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
										<xs:element name="genericNumber2">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="unitType">
														<xs:complexType>
															<xs:sequence>
																<xs:element name="name" type="xs:string"/>
															</xs:sequence>
														</xs:complexType>
													</xs:element>
													<xs:element name="value" type="xs:decimal"/>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
										<xs:element name="genericNumber3">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="unitType">
														<xs:complexType>
															<xs:sequence>
																<xs:element name="name" type="xs:string"/>
															</xs:sequence>
														</xs:complexType>
													</xs:element>
													<xs:element name="value" type="xs:decimal"/>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
										<xs:element name="genericNumber4">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="unitType">
														<xs:complexType>
															<xs:sequence>
																<xs:element name="name" type="xs:string"/>
															</xs:sequence>
														</xs:complexType>
													</xs:element>
													<xs:element name="value" type="xs:decimal"/>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
										<xs:element name="genericNumber5">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="unitType">
														<xs:complexType>
															<xs:sequence>
																<xs:element name="name" type="xs:string"/>
															</xs:sequence>
														</xs:complexType>
													</xs:element>
													<xs:element name="value" type="xs:decimal"/>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
										<xs:element name="genericNumber6">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="unitType">
														<xs:complexType>
															<xs:sequence>
																<xs:element name="name" type="xs:string"/>
															</xs:sequence>
														</xs:complexType>
													</xs:element>
													<xs:element name="value" type="xs:decimal"/>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
										<xs:element name="genericDate1" type="xs:string"/>
										<xs:element name="genericDate2" type="xs:string"/>
										<xs:element name="genericDate3" type="xs:string"/>
										<xs:element name="genericDate4" type="xs:string"/>
										<xs:element name="genericDate5" type="xs:string"/>
										<xs:element name="genericDate6" type="xs:string"/>
										<xs:element name="genericBoolean1" type="xs:boolean"/>
										<xs:element name="genericBoolean2" type="xs:boolean"/>
										<xs:element name="genericBoolean3" type="xs:boolean"/>
										<xs:element name="genericBoolean4" type="xs:boolean"/>
										<xs:element name="genericBoolean5" type="xs:boolean"/>
										<xs:element name="genericBoolean6" type="xs:boolean"/>
										<xs:element name="preadjustedValue">
											<xs:complexType>
												<xs:sequence>
													<xs:element type="xs:short" name="value"/>
													<xs:element name="unitType">
														<xs:complexType>
															<xs:sequence>
																<xs:element type="xs:long" name="unitTypeSeq"/>
															</xs:sequence>
														</xs:complexType>
													</xs:element>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
										<xs:element type="xs:string" name="numberOfUnits"/>
										<xs:element type="xs:string" name="discountPercent"/>
										<xs:element name="transactionAssignments">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="payeeId"/>
													<xs:element name="positionName" type="xs:string"/>
													<xs:element name="setNumber" type="xs:unsignedByte"/>
													<xs:element name="titleName"/>
													<xs:element type="xs:string" name="genericAttribute1"/>
													<xs:element type="xs:string" name="genericAttribute2"/>
													<xs:element type="xs:string" name="genericAttribute3"/>
													<xs:element type="xs:string" name="genericAttribute4"/>
													<xs:element type="xs:string" name="genericAttribute5"/>
													<xs:element type="xs:string" name="genericAttribute6"/>
													<xs:element type="xs:string" name="genericAttribute7"/>
													<xs:element type="xs:string" name="genericAttribute8"/>
													<xs:element type="xs:string" name="genericAttribute9"/>
													<xs:element type="xs:string" name="genericAttribute10"/>
													<xs:element type="xs:string" name="genericAttribute11"/>
													<xs:element type="xs:string" name="genericAttribute12"/>
													<xs:element type="xs:string" name="genericAttribute13"/>
													<xs:element type="xs:string" name="genericAttribute14"/>
													<xs:element type="xs:string" name="genericAttribute15"/>
													<xs:element type="xs:string" name="genericAttribute16"/>
													<xs:element name="genericNumber1">
														<xs:complexType>
															<xs:sequence>
																<xs:element name="unitType">
																	<xs:complexType>
																		<xs:sequence>
																			<xs:element name="name" type="xs:string"/>
																		</xs:sequence>
																	</xs:complexType>
																</xs:element>
																<xs:element name="value" type="xs:decimal"/>
															</xs:sequence>
														</xs:complexType>
													</xs:element>
													<xs:element name="genericNumber2">
														<xs:complexType>
															<xs:sequence>
																<xs:element name="unitType">
																	<xs:complexType>
																		<xs:sequence>
																			<xs:element name="name" type="xs:string"/>
																		</xs:sequence>
																	</xs:complexType>
																</xs:element>
																<xs:element name="value" type="xs:decimal"/>
															</xs:sequence>
														</xs:complexType>
													</xs:element>
													<xs:element name="genericNumber3">
														<xs:complexType>
															<xs:sequence>
																<xs:element name="unitType">
																	<xs:complexType>
																		<xs:sequence>
																			<xs:element name="name" type="xs:string"/>
																		</xs:sequence>
																	</xs:complexType>
																</xs:element>
																<xs:element name="value" type="xs:decimal"/>
															</xs:sequence>
														</xs:complexType>
													</xs:element>
													<xs:element name="genericNumber4">
														<xs:complexType>
															<xs:sequence>
																<xs:element name="unitType">
																	<xs:complexType>
																		<xs:sequence>
																			<xs:element name="name" type="xs:string"/>
																		</xs:sequence>
																	</xs:complexType>
																</xs:element>
																<xs:element name="value" type="xs:decimal"/>
															</xs:sequence>
														</xs:complexType>
													</xs:element>
													<xs:element name="genericNumber5">
														<xs:complexType>
															<xs:sequence>
																<xs:element name="unitType">
																	<xs:complexType>
																		<xs:sequence>
																			<xs:element name="name" type="xs:string"/>
																		</xs:sequence>
																	</xs:complexType>
																</xs:element>
																<xs:element name="value" type="xs:decimal"/>
															</xs:sequence>
														</xs:complexType>
													</xs:element>
													<xs:element name="genericNumber6">
														<xs:complexType>
															<xs:sequence>
																<xs:element name="unitType">
																	<xs:complexType>
																		<xs:sequence>
																			<xs:element name="name" type="xs:string"/>
																		</xs:sequence>
																	</xs:complexType>
																</xs:element>
																<xs:element name="value" type="xs:decimal"/>
															</xs:sequence>
														</xs:complexType>
													</xs:element>
													<xs:element name="genericDate1" type="xs:string"/>
													<xs:element name="genericDate2" type="xs:string"/>
													<xs:element name="genericDate3" type="xs:string"/>
													<xs:element name="genericDate4" type="xs:string"/>
													<xs:element name="genericDate5" type="xs:string"/>
													<xs:element name="genericDate6" type="xs:string"/>
													<xs:element name="genericBoolean1" type="xs:boolean"/>
													<xs:element name="genericBoolean2" type="xs:boolean"/>
													<xs:element name="genericBoolean3" type="xs:boolean"/>
													<xs:element name="genericBoolean4" type="xs:boolean"/>
													<xs:element name="genericBoolean5" type="xs:boolean"/>
													<xs:element name="genericBoolean6" type="xs:boolean"/>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>