Resources/schemas/Xsd/SAP_Master_Data_Integration_with_SAP_Field_Service_Management - BPCNF.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">

<xs:element name="BusinessPartner" type="BusinessPartnerType"/>
 <xs:complexType name="BusinessPartnerType">
      <xs:sequence>
  <xs:element type="xs:string" name="ID1" />
  <xs:element type="xs:string" name="UUID1" />
  <xs:element type="xs:string" name="ID2" />
  <xs:element type="xs:string" name="UUID2" />
  <xs:element type="xs:int" name="InternalId" />
  <xs:element type="xs:string" name="InternalUUID" />
  <xs:element name="BP">
    <xs:complexType>
      <xs:sequence>
        <xs:element type="xs:string" name="country"/>
        <xs:element type="xs:short" name="code"/>
        <xs:element type="xs:string" name="city"/>
        <xs:element type="xs:string" name="shippingType"/>
        <xs:element type="xs:string" name="language"/>
        <xs:element type="xs:string" name="orgLevel"/>
        <xs:element type="xs:string" name="owners"/>
        <xs:element type="xs:string" name="type"/>
        <xs:element type="xs:string" name="crowdType"/>
        <xs:element type="xs:string" name="paymentType"/>
        <xs:element type="xs:string" name="priceList"/>
        <xs:element type="xs:string" name="syncObjectKPIs"/>
        <xs:element type="xs:string" name="emailAddress"/>
        <xs:element type="xs:string" name="password"/>
        <xs:element type="xs:string" name="inactive"/>
        <xs:element type="xs:string" name="officePhone"/>
        <xs:element type="xs:string" name="creditLimit"/>
        <xs:element type="xs:string" name="validityComment"/>
        <xs:element type="xs:string" name="currency"/>
        <xs:element type="xs:string" name="id"/>
        <xs:element type="xs:string" name="fax"/>
        <xs:element type="xs:string" name="groupCode"/>
        <xs:element type="xs:string" name="website"/>
        <xs:element type="xs:long" name="lastChanged"/>
        <xs:element type="xs:string" name="createPerson"/>
        <xs:element type="xs:string" name="externalId"/>
        <xs:element type="xs:string" name="groups"/>
        <xs:element type="xs:string" name="branches"/>
        <xs:element type="xs:dateTime" name="createDateTime"/>
        <xs:element type="xs:string" name="groupName"/>
        <xs:element type="xs:string" name="salesPersons"/>
        <xs:element type="xs:string" name="mobilePhone"/>
        <xs:element type="xs:string" name="otherPhone"/>
        <xs:element type="xs:string" name="udfMetaGroups"/>
        <xs:element type="xs:string" name="name"/>
        <xs:element type="xs:string" name="location"/>
        <xs:element type="xs:string" name="udfValues"/>
        <xs:element type="xs:string" name="lastChangedBy"/>
        <xs:element type="xs:int" name="additionalName"/>
        <xs:element type="xs:string" name="paymentTerm"/>
        <xs:element type="xs:string" name="remarks"/>
        <xs:element type="xs:string" name="syncStatus"/>
      </xs:sequence>
    </xs:complexType>
</xs:element>
      </xs:sequence>
    </xs:complexType>

<xs:complexType name="BusinesssPartnerType">
    <xs:sequence>
      <xs:element type="BusinesssPartnerType" name="BusinessPatner" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>