Resources/schemas/Xsd/SAP_ERP_Integration_with_SAP_Build_Process_Automation_for_Vendor_Master - purchase_nw_payload.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="root">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="context">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="aAddBankDetails" maxOccurs="unbounded" minOccurs="0">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="element" maxOccurs="unbounded" minOccurs="0">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element type="xs:string" name="sBankAcctNo" maxOccurs="1" minOccurs="0"/>
                          <xs:element type="xs:string" name="sBankHolder" maxOccurs="1" minOccurs="0"/>
                          <xs:element type="xs:int" name="sBankKey" maxOccurs="1" minOccurs="0"/>
                          <xs:element type="xs:string" name="sCountryKey" maxOccurs="1" minOccurs="0"/>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="aAddContactPersons" maxOccurs="unbounded" minOccurs="0">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="element" maxOccurs="unbounded" minOccurs="0">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element type="xs:string" name="sContactName" maxOccurs="1" minOccurs="0"/>
                          <xs:element type="xs:long" name="sContactPhone" maxOccurs="1" minOccurs="0"/>
                          <xs:element type="xs:byte" name="sDepartment" maxOccurs="1" minOccurs="0"/>
                          <xs:element type="xs:byte" name="sDescription" maxOccurs="1" minOccurs="0"/>
                          <xs:element type="xs:string" name="sFirstName" maxOccurs="1" minOccurs="0"/>
                          <xs:element type="xs:string" name="sFormOfAddress" maxOccurs="1" minOccurs="0"/>
                          <xs:element type="xs:byte" name="sFunction" maxOccurs="1" minOccurs="0"/>
						  <xs:element type="xs:int" name="sPartnerNumber" maxOccurs="1" minOccurs="0"/>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="aAddPartner" maxOccurs="unbounded" minOccurs="0">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="element" maxOccurs="unbounded" minOccurs="0">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element type="xs:string" name="sName" maxOccurs="1" minOccurs="0"/>
                          <xs:element type="xs:string" name="sName1" maxOccurs="1" minOccurs="0"/>
                          <xs:element type="xs:int" name="sNumber" maxOccurs="1" minOccurs="0"/>
                          <xs:element type="xs:short" name="sPartner" maxOccurs="1" minOccurs="0"/>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element type="xs:string" name="sABCIndicator" maxOccurs="1" minOccurs="0"/>
              <xs:element type="xs:string" name="sAccWithVendor" maxOccurs="1" minOccurs="0"/>
              <xs:element type="xs:byte" name="sAccountGroup"/>
              <xs:element type="xs:short" name="sAlternativePayee" maxOccurs="1" minOccurs="0"/>
              <xs:element type="xs:string" name="sAuthorization" maxOccurs="1" minOccurs="0"/>
              <xs:element type="xs:string" name="sCheckDigit" maxOccurs="1" minOccurs="0"/>
              <xs:element type="xs:string" name="sCity"/>
              <xs:element type="xs:string" name="sConfirmationControl" maxOccurs="1" minOccurs="0"/>
              <xs:element type="xs:string" name="sCorporateGroup" maxOccurs="1" minOccurs="0"/>
              <xs:element type="xs:string" name="sCountry"/>
              <xs:element type="xs:short" name="sCredInfoNo" maxOccurs="1" minOccurs="0"/>
              <xs:element type="xs:string" name="sCustomer" maxOccurs="1" minOccurs="0"/>
              <xs:element type="xs:string" name="sDMEIndicator" maxOccurs="1" minOccurs="0"/>
              <xs:element type="xs:int" name="sDateOfBirth" maxOccurs="1" minOccurs="0"/>
              <xs:element type="xs:string" name="sDistrict" maxOccurs="1" minOccurs="0"/>
              <xs:element type="xs:byte" name="sFax" maxOccurs="1" minOccurs="0"/>
              <xs:element type="xs:string" name="sISRNumber" maxOccurs="1" minOccurs="0"/>
              <xs:element type="xs:string" name="sIncoterms" maxOccurs="1" minOccurs="0"/>
              <xs:element type="xs:string" name="sInstructionKey" maxOccurs="1" minOccurs="0"/>
              <xs:element type="xs:string" name="sLanguage"/>
              <xs:element type="xs:short" name="sLocationNumber" maxOccurs="1" minOccurs="0"/>
              <xs:element type="xs:short" name="sLocationNumber2" maxOccurs="1" minOccurs="0"/>
              <xs:element type="xs:short" name="sMinimumOrderValue" maxOccurs="1" minOccurs="0"/>
              <xs:element type="xs:byte" name="sModeOfTrnsprtBorder" maxOccurs="1" minOccurs="0"/>
              <xs:element type="xs:string" name="sOfficeOfEntry" maxOccurs="1" minOccurs="0"/>
              <xs:element type="xs:string" name="sOrderCurrency"/>
              <xs:element type="xs:short" name="sOrderOptimRest" maxOccurs="1" minOccurs="0"/>
              <xs:element type="xs:string" name="sOtherCity" maxOccurs="1" minOccurs="0"/>
              <xs:element type="xs:string" name="sOtherCountry" maxOccurs="1" minOccurs="0"/>
              <xs:element type="xs:string" name="sPOBox" maxOccurs="1" minOccurs="0"/>
              <xs:element type="xs:string" name="sPROACTControlProf" maxOccurs="1" minOccurs="0"/>
              <xs:element type="xs:string" name="sPlaceOfBirth" maxOccurs="1" minOccurs="0"/>
              <xs:element type="xs:byte" name="sPlannedDelivTime" maxOccurs="1" minOccurs="0"/>
              <xs:element type="xs:int" name="sPostalCode" maxOccurs="1" minOccurs="0"/>
              <xs:element type="xs:string" name="sPriceMarkingAgreed" maxOccurs="1" minOccurs="0"/>
              <xs:element type="xs:byte" name="sPricingDateControl" maxOccurs="1" minOccurs="0"/>
              <xs:element type="xs:string" name="sProfession" maxOccurs="1" minOccurs="0"/>
              <xs:element type="xs:short" name="sPurchaseOrganization"/>
              <xs:element type="xs:string" name="sPurchasingGroup" maxOccurs="1" minOccurs="0"/>
              <xs:element type="xs:byte" name="sRegion" maxOccurs="1" minOccurs="0"/>
              <xs:element type="xs:string" name="sRepName" maxOccurs="1" minOccurs="0"/>
              <xs:element type="xs:string" name="sRoundingProfile" maxOccurs="1" minOccurs="0"/>
              <xs:element type="xs:string" name="sSCAC" maxOccurs="1" minOccurs="0"/>
              <xs:element type="xs:string" name="sSchemaGroupVendor" maxOccurs="1" minOccurs="0"/>
              <xs:element type="xs:string" name="sSearchTerms" maxOccurs="1" minOccurs="0"/>
              <xs:element type="xs:byte" name="sServLevel" maxOccurs="1" minOccurs="0"/>
              <xs:element type="xs:string" name="sShippingConditions" maxOccurs="1" minOccurs="0"/>
              <xs:element type="xs:byte" name="sSortCriterion" maxOccurs="1" minOccurs="0"/>
              <xs:element type="xs:string" name="sStandardCommMethod" maxOccurs="1" minOccurs="0"/>
              <xs:element type="xs:string" name="sStreet1" maxOccurs="1" minOccurs="0"/>
              <xs:element type="xs:int" name="sSubsidiary" maxOccurs="1" minOccurs="0"/>
              <xs:element type="xs:string" name="sSuppl" maxOccurs="1" minOccurs="0"/>
              <xs:element type="xs:string" name="sTaxNumber" maxOccurs="1" minOccurs="0"/>
              <xs:element type="xs:string" name="sTaxNumber1" maxOccurs="1" minOccurs="0"/>
              <xs:element type="xs:string" name="sTaxNumber2" maxOccurs="1" minOccurs="0"/>
              <xs:element type="xs:string" name="sTaxNumber5" maxOccurs="1" minOccurs="0"/>
              <xs:element type="xs:string" name="sTermsOfPayment" maxOccurs="1" minOccurs="0"/>
              <xs:element type="xs:byte" name="sTradingPartner" maxOccurs="1" minOccurs="0"/>
              <xs:element type="xs:string" name="sUnitOfMeasureGrp" maxOccurs="1" minOccurs="0"/>
              <xs:element type="xs:string" name="sVATRegNo" maxOccurs="1" minOccurs="0"/>
              <xs:element type="xs:int" name="sVendorContact" maxOccurs="1" minOccurs="0"/>
			  <xs:element type="xs:string" name="sVendorEmail" maxOccurs="1" minOccurs="0"/>
              <xs:element type="xs:string" name="sVendorName"/>
              <xs:element type="xs:string" name="sVendorName2" maxOccurs="1" minOccurs="0"/>
              <xs:element type="xs:string" name="sVendorName3" maxOccurs="1" minOccurs="0"/>
              <xs:element type="xs:string" name="sVendorName4" maxOccurs="1" minOccurs="0"/>
              <xs:element type="xs:string" name="sVendorType" maxOccurs="1" minOccurs="0"/>
              <xs:element type="xs:int" name="sZipCode" maxOccurs="1" minOccurs="0"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
		<xs:element type="xs:string" name="definitionId" maxOccurs="1" minOccurs="0"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>