Resources/schemas/Xsd/SAP_Fieldglass_User_Integration_with_SAP_Concur - ReprocessResult.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:element name="Result">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="Status" type="xs:string" minOccurs="0"/>
				<xs:element name="Exception" type="xs:string" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
