Resources/schemas/Xsd/SAP_SuccessFactors_HCM_Suite_Talent_Management_Integration_with_SAP_ERP_HCM_using_OData - Background_VarPayEmpHistDataEntity-1.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="Background_VarPayEmpHistData">
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="1" maxOccurs="unbounded" name="Background_VarPayEmpHistData">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element type="xs:long" nillable="true" maxOccurs="unbounded" name="backgroundElementId" xmlns=""/>
                            <xs:element type="xs:long" nillable="false" maxOccurs="unbounded" name="statusText" xmlns=""/>
                            <xs:element type="xs:long" nillable="false" maxOccurs="unbounded" name="statusCode" xmlns=""/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>
