Resources/schemas/Xsd/SAP_Complaint_Handling_Integration_For_Customer_Complaints - pricingResponse-1.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="pricingOutputRoot">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="unbounded" name="pricingResponse">
          <xs:complexType>
            <xs:sequence>
			  <xs:element minOccurs="0" maxOccurs="1" type="xs:string" name="price"/>
			  <xs:element minOccurs="0" maxOccurs="1" type="xs:string" name="currency"/>
              <xs:element name="items" maxOccurs="unbounded" minOccurs="0">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element minOccurs="0" maxOccurs="1" type="xs:string" name="itemNumber"/>
                    <xs:element minOccurs="0" maxOccurs="1" type="xs:string" name="price"/>
					<xs:element minOccurs="0" maxOccurs="1" type="xs:string" name="currency"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>