Resources/schemas/Xsd/SAP_S-4HANA_Integration_with_SAP_Build_Process_Automation_for_Inspection_Lots - InspectionLot_Mapping.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="root">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="definitionId" type="xs:string" />
        <xs:element name="context">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="GRInspectionLotDetails">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="companyCode" type="xs:unsignedShort" />
                    <xs:element name="purchasingOrganization" type="xs:unsignedShort" />
                    <xs:element name="plant" type="xs:unsignedShort" />
                    <xs:element name="supplierID" type="xs:string" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
	      <xs:element name="History" />
              <xs:element name="ManageInspLot">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="inspectionLot" type="xs:unsignedShort" />
		    <xs:element name="createdBy" type="xs:unsignedShort" />
                    <xs:element name="material" type="xs:string" />
		    <xs:element name="materialDescription" type="xs:string" />
                    <xs:element name="plant" type="xs:unsignedShort" />
		    <xs:element name="plantName" type="xs:unsignedShort" />
                    <xs:element name="companyCode" type="xs:unsignedShort" />
                    <xs:element name="purchasingOrganization" type="xs:unsignedShort" />
                    <xs:element name="inspectionLotQuantity" type="xs:unsignedByte" />
                    <xs:element name="inspLotBlockedQuantity" type="xs:unsignedByte" />
                    <xs:element name="baseUOM" type="xs:string" />
                    <xs:element name="systemStatus" type="xs:string" />
                    <xs:element name="batch" type="xs:unsignedByte" />
                    <xs:element name="valuationCode" type="xs:string" />
                    <xs:element name="usageDecision" type="xs:string" />
                    <xs:element name="poNumberItem" type="xs:unsignedLong" />
                    <xs:element name="supplier" type="xs:string" />
		    <xs:element name="materialDocument" type="xs:string" />
		    <xs:element name="materialDocumentItem" type="xs:string" />
		    <xs:element name="materialDocumentYear" type="xs:string" />
		    <xs:element name="storageLocation" type="xs:string" />
		    <xs:element name="supplierBatch" type="xs:string" />	    
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>