Resources/schemas/Xsd/SAP_Returnable_Packaging_Management_Integration_with_SAP_ERP_-_Master_Data_Replication - material_idoc_soap_all_fields.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" xmlns:msgID="http://www.sap.com/webas/640/soap/features/messageId/" xmlns:soap-env="http://schemas.xmlsoap.org/soap/envelope/">
    <xs:import namespace="http://schemas.xmlsoap.org/soap/envelope/" schemaLocation="soap-env.xsd"/>
    <xs:import namespace="http://www.sap.com/webas/640/soap/features/messageId/" schemaLocation="msgID.xsd"/>
    <xs:element name="MATMAS05">
        <xs:complexType>
            <xs:sequence>
                <xs:element maxOccurs="unbounded" ref="IDOC"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="IDOC">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="EDI_DC40"/>
                <xs:element ref="E1MARAM"/>
            </xs:sequence>
            <xs:attribute name="BEGIN" use="required" type="xs:integer"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="EDI_DC40">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="TABNAM"/>
                <xs:element ref="MANDT"/>
                <xs:element ref="DOCNUM"/>
                <xs:element ref="DOCREL"/>
                <xs:element ref="STATUS"/>
                <xs:element ref="DIRECT"/>
                <xs:element ref="OUTMOD"/>
                <xs:element ref="IDOCTYP"/>
                <xs:element ref="MESTYP"/>
                <xs:element ref="SNDPOR"/>
                <xs:element ref="SNDPRT"/>
                <xs:element ref="SNDPRN"/>
                <xs:element ref="RCVPOR"/>
                <xs:element ref="RCVPRT"/>
                <xs:element ref="RCVPRN"/>
                <xs:element ref="CREDAT"/>
                <xs:element ref="CRETIM"/>
                <xs:element ref="SERIAL"/>
            </xs:sequence>
            <xs:attribute name="SEGMENT" use="required" type="xs:integer"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="TABNAM" type="xs:NCName"/>
    <xs:element name="MANDT" type="xs:integer"/>
    <xs:element name="DOCNUM" type="xs:integer"/>
    <xs:element name="DOCREL" type="xs:integer"/>
    <xs:element name="STATUS" type="xs:integer"/>
    <xs:element name="DIRECT" type="xs:integer"/>
    <xs:element name="OUTMOD" type="xs:integer"/>
    <xs:element name="IDOCTYP" type="xs:NCName"/>
    <xs:element name="MESTYP" type="xs:NCName"/>
    <xs:element name="SNDPOR" type="xs:NCName"/>
    <xs:element name="SNDPRT" type="xs:NCName"/>
    <xs:element name="SNDPRN" type="xs:NCName"/>
    <xs:element name="RCVPOR" type="xs:NCName"/>
    <xs:element name="RCVPRT" type="xs:NCName"/>
    <xs:element name="RCVPRN" type="xs:NCName"/>
    <xs:element name="CREDAT" type="xs:integer"/>
    <xs:element name="CRETIM" type="xs:integer"/>
    <xs:element name="SERIAL" type="xs:integer"/>
    <xs:element name="E1MARAM">
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="MSGFN">
                    <xs:sequence>
                        <xs:element ref="MATNR"/>
                        <xs:element ref="ERSDA"/>
                        <xs:element ref="ERNAM"/>
                        <xs:element ref="LAEDA"/>
                        <xs:element ref="AENAM"/>
                        <xs:element ref="PSTAT"/>
                        <xs:element minOccurs="0" ref="LVORM"/>
                        <xs:element ref="MTART"/>
                        <xs:element ref="MBRSH"/>
                        <xs:element ref="MATKL"/>
                        <xs:element ref="MEINS"/>
                        <xs:element ref="BLANZ"/>
                        <xs:element ref="BRGEW"/>
                        <xs:element ref="NTGEW"/>
                        <xs:element ref="GEWEI"/>
                        <xs:element ref="VOLUM"/>
                        <xs:element ref="VOLEH"/>
                        <xs:element ref="TRAGR"/>
                        <xs:element ref="SPART"/>
                        <xs:element ref="WESCH"/>
                        <xs:element ref="LAENG"/>
                        <xs:element ref="BREIT"/>
                        <xs:element ref="HOEHE"/>
                        <xs:element ref="ERGEW"/>
                        <xs:element ref="ERVOL"/>
                        <xs:element ref="GEWTO"/>
                        <xs:element ref="VOLTO"/>
                        <xs:element ref="FUELG"/>
                        <xs:element ref="STFAK"/>
                        <xs:element ref="MHDRZ"/>
                        <xs:element ref="MHDHB"/>
                        <xs:element ref="MHDLP"/>
                        <xs:element ref="VPSTA"/>
                        <xs:element ref="MSTDE"/>
                        <xs:element ref="MSTDV"/>
                        <xs:element ref="COMPL"/>
                        <xs:element ref="MTPOS_MARA"/>
                        <xs:element ref="GEWTO_NEW"/>
                        <xs:element ref="VOLTO_NEW"/>
                        <xs:element ref="SLED_BBD"/>
                        <xs:element ref="ANP"/>
                        <xs:element ref="E1MARA1"/>
                        <xs:element maxOccurs="unbounded" ref="E1MAKTM"/>
                        <xs:element maxOccurs="unbounded" ref="E1MARCM"/>
                        <xs:element ref="E1MARMM"/>
                        <xs:element maxOccurs="unbounded" ref="E1MBEWM"/>
                    </xs:sequence>
                    <xs:attribute name="SEGMENT" use="required" type="xs:integer"/>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>
    <xs:element name="MATNR" type="xs:NCName"/>
    <xs:element name="ERSDA" type="xs:integer"/>
    <xs:element name="ERNAM" type="xs:NCName"/>
    <xs:element name="LAEDA" type="xs:integer"/>
    <xs:element name="AENAM" type="xs:NCName"/>
    <xs:element name="MTART" type="xs:NCName"/>
    <xs:element name="MBRSH" type="xs:NCName"/>
    <xs:element name="MATKL" type="xs:integer"/>
    <xs:element name="MEINS" type="xs:NCName"/>
    <xs:element name="BLANZ" type="xs:integer"/>
    <xs:element name="NTGEW" type="xs:decimal"/>
    <xs:element name="TRAGR" type="xs:integer"/>
    <xs:element name="SPART" type="xs:integer"/>
    <xs:element name="WESCH" type="xs:decimal"/>
    <xs:element name="ERGEW" type="xs:decimal"/>
    <xs:element name="ERVOL" type="xs:decimal"/>
    <xs:element name="GEWTO" type="xs:decimal"/>
    <xs:element name="VOLTO" type="xs:decimal"/>
    <xs:element name="FUELG" type="xs:integer"/>
    <xs:element name="STFAK" type="xs:integer"/>
    <xs:element name="MHDRZ" type="xs:integer"/>
    <xs:element name="MHDHB" type="xs:integer"/>
    <xs:element name="MHDLP" type="xs:integer"/>
    <xs:element name="VPSTA" type="xs:NCName"/>
    <xs:element name="MSTDE" type="xs:integer"/>
    <xs:element name="MSTDV" type="xs:integer"/>
    <xs:element name="MTPOS_MARA" type="xs:NCName"/>
    <xs:element name="GEWTO_NEW" type="xs:decimal"/>
    <xs:element name="VOLTO_NEW" type="xs:decimal"/>
    <xs:element name="SLED_BBD" type="xs:NCName"/>
    <xs:element name="ANP" type="xs:integer"/>
    <xs:element name="E1MARA1">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="MAXC"/>
                <xs:element ref="MAXC_TOL"/>
                <xs:element ref="MAXL"/>
                <xs:element ref="MAXB"/>
                <xs:element ref="MAXH"/>
                <xs:element ref="QQTIME"/>
                <xs:element ref="MEDIUM"/>
                <xs:element ref="COMMODITY"/>
                <xs:element ref="SGT_CSGR"/>
                <xs:element ref="SGT_COVSA"/>
                <xs:element ref="SGT_REL"/>
            </xs:sequence>
            <xs:attribute name="SEGMENT" use="required" type="xs:integer"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="MAXC" type="xs:decimal"/>
    <xs:element name="MAXC_TOL" type="xs:decimal"/>
    <xs:element name="MAXL" type="xs:decimal"/>
    <xs:element name="MAXB" type="xs:decimal"/>
    <xs:element name="MAXH" type="xs:decimal"/>
    <xs:element name="QQTIME" type="xs:integer"/>
    <xs:element name="MEDIUM" type="xs:string"/>
    <xs:element name="COMMODITY" type="xs:string"/>
    <xs:element name="SGT_CSGR" type="xs:string"/>
    <xs:element name="SGT_COVSA" type="xs:string"/>
    <xs:element name="SGT_REL" type="xs:string"/>
    <xs:element name="E1MAKTM">
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="MSGFN">
                    <xs:sequence>
                        <xs:element ref="SPRAS"/>
                        <xs:element ref="MAKTX"/>
                        <xs:element ref="SPRAS_ISO"/>
                    </xs:sequence>
                    <xs:attribute name="SEGMENT" use="required" type="xs:integer"/>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>
    <xs:element name="SPRAS" type="xs:NCName"/>
    <xs:element name="MAKTX" type="xs:string"/>
    <xs:element name="SPRAS_ISO" type="xs:NCName"/>
    <xs:element name="E1MARCM">
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="MSGFN">
                    <xs:sequence>
                        <xs:element ref="WERKS"/>
                        <xs:element ref="PSTAT"/>
                        <xs:element minOccurs="0" ref="LVORM"/>
                        <xs:element minOccurs="0" ref="DISMM"/>
                        <xs:element ref="PLIFZ"/>
                        <xs:element ref="WEBAZ"/>
                        <xs:element ref="PERKZ"/>
                        <xs:element ref="AUSSS"/>
                        <xs:element ref="BESKZ"/>
                        <xs:element ref="MINBE"/>
                        <xs:element ref="EISBE"/>
                        <xs:element ref="BSTMI"/>
                        <xs:element ref="BSTMA"/>
                        <xs:element ref="BSTFE"/>
                        <xs:element ref="BSTRF"/>
                        <xs:element ref="MABST"/>
                        <xs:element ref="LOSFX"/>
                        <xs:element ref="AUSDT"/>
                        <xs:element ref="BEARZ"/>
                        <xs:element ref="RUEZT"/>
                        <xs:element ref="TRANZ"/>
                        <xs:element ref="BASMG"/>
                        <xs:element ref="DZEIT"/>
                        <xs:element ref="MAXLZ"/>
                        <xs:element ref="UEETO"/>
                        <xs:element ref="UNETO"/>
                        <xs:element ref="WZEIT"/>
                        <xs:element ref="VZUSL"/>
                        <xs:element ref="UMLMC"/>
                        <xs:element minOccurs="0" ref="LADGR"/>
                        <xs:element ref="LGRAD"/>
                        <xs:element ref="OBJID"/>
                        <xs:element minOccurs="0" ref="MTVFP"/>
                        <xs:element ref="VRVEZ"/>
                        <xs:element ref="VBAMG"/>
                        <xs:element ref="VBEAZ"/>
                        <xs:element ref="TRAME"/>
                        <xs:element ref="FXHOR"/>
                        <xs:element ref="VINT1"/>
                        <xs:element ref="VINT2"/>
                        <xs:element ref="LOSGR"/>
                        <xs:element ref="KAUSF"/>
                        <xs:element ref="TAKZT"/>
                        <xs:element ref="VRBDT"/>
                        <xs:element ref="VRBFK"/>
                        <xs:element ref="PREND"/>
                        <xs:element ref="PRENG"/>
                        <xs:element ref="PRFRQ"/>
                        <xs:element ref="SHZET"/>
                        <xs:element ref="MMSTD"/>
                        <xs:element ref="DPLHO"/>
                        <xs:element ref="MINLS"/>
                        <xs:element ref="MAXLS"/>
                        <xs:element ref="FIXLS"/>
                        <xs:element ref="LTINC"/>
                        <xs:element ref="COMPL"/>
                        <xs:element ref="EISLO"/>
                        <xs:element ref="PPS_PEG_STRATEGY"/>
                        <xs:element ref="PPS_GIPRT"/>
                        <xs:element ref="PPS_CONHAP"/>
                        <xs:element ref="PPS_CONHAP_OUT"/>
                        <xs:element minOccurs="0" ref="E1MPGDM"/>
                    </xs:sequence>
                    <xs:attribute name="SEGMENT" use="required" type="xs:integer"/>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>
    <xs:element name="WERKS" type="xs:integer"/>
    <xs:element name="DISMM" type="xs:NCName"/>
    <xs:element name="PLIFZ" type="xs:integer"/>
    <xs:element name="WEBAZ" type="xs:integer"/>
    <xs:element name="PERKZ" type="xs:NCName"/>
    <xs:element name="AUSSS" type="xs:decimal"/>
    <xs:element name="BESKZ" type="xs:NCName"/>
    <xs:element name="MINBE" type="xs:decimal"/>
    <xs:element name="EISBE" type="xs:decimal"/>
    <xs:element name="BSTMI" type="xs:decimal"/>
    <xs:element name="BSTMA" type="xs:decimal"/>
    <xs:element name="BSTFE" type="xs:decimal"/>
    <xs:element name="BSTRF" type="xs:decimal"/>
    <xs:element name="MABST" type="xs:decimal"/>
    <xs:element name="LOSFX" type="xs:integer"/>
    <xs:element name="AUSDT" type="xs:integer"/>
    <xs:element name="BEARZ" type="xs:decimal"/>
    <xs:element name="RUEZT" type="xs:decimal"/>
    <xs:element name="TRANZ" type="xs:decimal"/>
    <xs:element name="BASMG" type="xs:decimal"/>
    <xs:element name="DZEIT" type="xs:integer"/>
    <xs:element name="MAXLZ" type="xs:integer"/>
    <xs:element name="UEETO" type="xs:decimal"/>
    <xs:element name="UNETO" type="xs:decimal"/>
    <xs:element name="WZEIT" type="xs:integer"/>
    <xs:element name="VZUSL" type="xs:decimal"/>
    <xs:element name="UMLMC" type="xs:decimal"/>
    <xs:element name="LADGR" type="xs:integer"/>
    <xs:element name="LGRAD" type="xs:decimal"/>
    <xs:element name="OBJID" type="xs:integer"/>
    <xs:element name="MTVFP" type="xs:integer"/>
    <xs:element name="VRVEZ" type="xs:decimal"/>
    <xs:element name="VBAMG" type="xs:decimal"/>
    <xs:element name="VBEAZ" type="xs:decimal"/>
    <xs:element name="TRAME" type="xs:decimal"/>
    <xs:element name="FXHOR" type="xs:integer"/>
    <xs:element name="VINT1" type="xs:integer"/>
    <xs:element name="VINT2" type="xs:integer"/>
    <xs:element name="LOSGR" type="xs:decimal"/>
    <xs:element name="KAUSF" type="xs:decimal"/>
    <xs:element name="TAKZT" type="xs:integer"/>
    <xs:element name="VRBDT" type="xs:integer"/>
    <xs:element name="VRBFK" type="xs:decimal"/>
    <xs:element name="PREND" type="xs:integer"/>
    <xs:element name="PRENG" type="xs:integer"/>
    <xs:element name="PRFRQ" type="xs:integer"/>
    <xs:element name="SHZET" type="xs:integer"/>
    <xs:element name="MMSTD" type="xs:integer"/>
    <xs:element name="DPLHO" type="xs:integer"/>
    <xs:element name="MINLS" type="xs:decimal"/>
    <xs:element name="MAXLS" type="xs:decimal"/>
    <xs:element name="FIXLS" type="xs:decimal"/>
    <xs:element name="LTINC" type="xs:decimal"/>
    <xs:element name="EISLO" type="xs:decimal"/>
    <xs:element name="PPS_PEG_STRATEGY" type="xs:integer"/>
    <xs:element name="PPS_GIPRT" type="xs:integer"/>
    <xs:element name="PPS_CONHAP" type="xs:decimal"/>
    <xs:element name="PPS_CONHAP_OUT" type="xs:decimal"/>
    <xs:element name="E1MPGDM">
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="MSGFN">
                    <xs:attribute name="SEGMENT" use="required" type="xs:integer"/>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>
    <xs:element name="E1MARMM">
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="MSGFN">
                    <xs:sequence>
                        <xs:element ref="MEINH"/>
                        <xs:element ref="UMREZ"/>
                        <xs:element ref="UMREN"/>
                        <xs:element ref="LAENG"/>
                        <xs:element ref="BREIT"/>
                        <xs:element ref="HOEHE"/>
                        <xs:element ref="VOLUM"/>
                        <xs:element ref="VOLEH"/>
                        <xs:element ref="BRGEW"/>
                        <xs:element ref="GEWEI"/>
                        <xs:element ref="NEST_FTR"/>
                        <xs:element ref="MAX_STACK"/>
                        <xs:element ref="CAPAUSE"/>
                    </xs:sequence>
                    <xs:attribute name="SEGMENT" use="required" type="xs:integer"/>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>
    <xs:element name="MEINH" type="xs:NCName"/>
    <xs:element name="UMREZ" type="xs:integer"/>
    <xs:element name="UMREN" type="xs:integer"/>
    <xs:element name="NEST_FTR" type="xs:integer"/>
    <xs:element name="MAX_STACK" type="xs:integer"/>
    <xs:element name="CAPAUSE" type="xs:decimal"/>
    <xs:element name="E1MBEWM">
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="MSGFN">
                    <xs:sequence>
                        <xs:element ref="BWKEY"/>
                        <xs:element minOccurs="0" ref="LVORM"/>
                        <xs:element ref="VPRSV"/>
                        <xs:element ref="VERPR"/>
                        <xs:element ref="STPRS"/>
                        <xs:element ref="PEINH"/>
                        <xs:element ref="BKLAS"/>
                        <xs:element ref="VMVPR"/>
                        <xs:element ref="VMVER"/>
                        <xs:element ref="VMSTP"/>
                        <xs:element ref="VMPEI"/>
                        <xs:element ref="VMBKL"/>
                        <xs:element ref="VJVPR"/>
                        <xs:element ref="VJVER"/>
                        <xs:element ref="VJSTP"/>
                        <xs:element ref="LFGJA"/>
                        <xs:element ref="LFMON"/>
                        <xs:element ref="ZKPRS"/>
                        <xs:element ref="ZKDAT"/>
                        <xs:element ref="BWPRS"/>
                        <xs:element ref="BWPRH"/>
                        <xs:element ref="VJBWS"/>
                        <xs:element ref="VJBWH"/>
                        <xs:element ref="VVJLB"/>
                        <xs:element ref="VVMLB"/>
                        <xs:element ref="VVSAL"/>
                        <xs:element ref="ZPLPR"/>
                        <xs:element ref="ZPLP1"/>
                        <xs:element ref="ZPLP2"/>
                        <xs:element ref="ZPLP3"/>
                        <xs:element ref="ZPLD1"/>
                        <xs:element ref="ZPLD2"/>
                        <xs:element ref="ZPLD3"/>
                        <xs:element ref="BWPH1"/>
                        <xs:element ref="BWPS1"/>
                        <xs:element ref="ABWKZ"/>
                        <xs:element ref="PSTAT"/>
                        <xs:element ref="KALN1"/>
                        <xs:element ref="KALNR"/>
                        <xs:element ref="VERS1"/>
                        <xs:element ref="VERS2"/>
                        <xs:element ref="VERS3"/>
                        <xs:element ref="PPRDZ"/>
                        <xs:element ref="PPRDL"/>
                        <xs:element ref="PPRDV"/>
                        <xs:element ref="PDATZ"/>
                        <xs:element ref="PDATL"/>
                        <xs:element ref="PDATV"/>
                        <xs:element ref="VPLPR"/>
                        <xs:element ref="VJBKL"/>
                        <xs:element ref="VJPEI"/>
                        <xs:element ref="BWPEI"/>
                    </xs:sequence>
                    <xs:attribute name="SEGMENT" use="required" type="xs:integer"/>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>
    <xs:element name="BWKEY" type="xs:integer"/>
    <xs:element name="VPRSV" type="xs:NCName"/>
    <xs:element name="VERPR" type="xs:integer"/>
    <xs:element name="STPRS" type="xs:integer"/>
    <xs:element name="PEINH" type="xs:integer"/>
    <xs:element name="BKLAS" type="xs:integer"/>
    <xs:element name="VMVPR" type="xs:NCName"/>
    <xs:element name="VMVER" type="xs:integer"/>
    <xs:element name="VMSTP" type="xs:integer"/>
    <xs:element name="VMPEI" type="xs:integer"/>
    <xs:element name="VMBKL" type="xs:integer"/>
    <xs:element name="VJVPR" type="xs:NCName"/>
    <xs:element name="VJVER" type="xs:integer"/>
    <xs:element name="VJSTP" type="xs:integer"/>
    <xs:element name="LFGJA" type="xs:integer"/>
    <xs:element name="LFMON" type="xs:integer"/>
    <xs:element name="ZKPRS" type="xs:integer"/>
    <xs:element name="ZKDAT" type="xs:integer"/>
    <xs:element name="BWPRS" type="xs:integer"/>
    <xs:element name="BWPRH" type="xs:integer"/>
    <xs:element name="VJBWS" type="xs:integer"/>
    <xs:element name="VJBWH" type="xs:integer"/>
    <xs:element name="VVJLB" type="xs:decimal"/>
    <xs:element name="VVMLB" type="xs:decimal"/>
    <xs:element name="VVSAL" type="xs:integer"/>
    <xs:element name="ZPLPR" type="xs:integer"/>
    <xs:element name="ZPLP1" type="xs:integer"/>
    <xs:element name="ZPLP2" type="xs:integer"/>
    <xs:element name="ZPLP3" type="xs:integer"/>
    <xs:element name="ZPLD1" type="xs:integer"/>
    <xs:element name="ZPLD2" type="xs:integer"/>
    <xs:element name="ZPLD3" type="xs:integer"/>
    <xs:element name="BWPH1" type="xs:integer"/>
    <xs:element name="BWPS1" type="xs:integer"/>
    <xs:element name="ABWKZ" type="xs:integer"/>
    <xs:element name="KALN1" type="xs:integer"/>
    <xs:element name="KALNR" type="xs:integer"/>
    <xs:element name="VERS1" type="xs:integer"/>
    <xs:element name="VERS2" type="xs:integer"/>
    <xs:element name="VERS3" type="xs:integer"/>
    <xs:element name="PPRDZ" type="xs:integer"/>
    <xs:element name="PPRDL" type="xs:integer"/>
    <xs:element name="PPRDV" type="xs:integer"/>
    <xs:element name="PDATZ" type="xs:integer"/>
    <xs:element name="PDATL" type="xs:integer"/>
    <xs:element name="PDATV" type="xs:integer"/>
    <xs:element name="VPLPR" type="xs:integer"/>
    <xs:element name="VJBKL" type="xs:integer"/>
    <xs:element name="VJPEI" type="xs:integer"/>
    <xs:element name="BWPEI" type="xs:integer"/>
    <xs:complexType name="MSGFN">
        <xs:sequence>
            <xs:element ref="MSGFN"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="MSGFN" type="xs:integer"/>
    <xs:element name="PSTAT" type="xs:NCName"/>
    <xs:element name="LVORM" type="xs:NCName"/>
    <xs:element name="BRGEW" type="xs:decimal"/>
    <xs:element name="GEWEI" type="xs:NCName"/>
    <xs:element name="VOLUM" type="xs:decimal"/>
    <xs:element name="VOLEH" type="xs:NCName"/>
    <xs:element name="LAENG" type="xs:decimal"/>
    <xs:element name="BREIT" type="xs:decimal"/>
    <xs:element name="HOEHE" type="xs:decimal"/>
    <xs:element name="COMPL" type="xs:integer"/>
</xs:schema>
