Resources/schemas/Xsd/SAP_Returnable_Packaging_Management_Integration_with_SAP_S-4HANA_-_Master_Data_Replication - MaterialMasterGeneralData_RPM.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="materialMasterGeneralData">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="replicationMaterialMasterGeneralDataRequest" minOccurs="0" maxOccurs="unbounded" >
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element type="xs:string" minOccurs="0" maxOccurs="1" name="materialCode"/>
                            <xs:element minOccurs="0" maxOccurs="unbounded" name="texts">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element type="xs:string" minOccurs="0" maxOccurs="1" name="locale"/>
                                        <xs:element type="xs:string" minOccurs="0" maxOccurs="1" name="materialDescription"/>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element type="xs:string" minOccurs="0" maxOccurs="1" name="materialType"/>
                            <xs:element type="xs:string" minOccurs="0" maxOccurs="1" name="materialDescription"/>
                            <xs:element type="xs:string" minOccurs="0" maxOccurs="1" name="materialGroup"/>
                            <xs:element type="xs:string" minOccurs="0" maxOccurs="1" name="baseUnitOfMeasure_code"/>
                            <xs:element type="xs:string" minOccurs="0" maxOccurs="1" name="division"/>
                            <xs:element type="xs:string" minOccurs="0" maxOccurs="1" name="xPlantMaterialStatus"/>
                            <xs:element type="xs:string" minOccurs="0" maxOccurs="1" name="validFrom"/>
                            <xs:element type="xs:decimal" minOccurs="0" maxOccurs="1" name="grossWeight"/>
                            <xs:element type="xs:string" minOccurs="0" maxOccurs="1" name="weightUnit_code"/>
                            <xs:element type="xs:decimal" minOccurs="0" maxOccurs="1" name="netWeight"/>
                            <xs:element type="xs:decimal" minOccurs="0" maxOccurs="1" name="volume"/>
                            <xs:element type="xs:string" minOccurs="0" maxOccurs="1" name="volumeUnit_code"/>
                            <xs:element type="xs:string" minOccurs="0" maxOccurs="1" name="sizeDimensions"/>
                            <xs:element type="xs:string" minOccurs="0" maxOccurs="1" name="EAN_UPC"/>
                            <xs:element type="xs:string" minOccurs="0" maxOccurs="1" name="EANCategory"/>
                            <xs:element type="xs:string" minOccurs="0" maxOccurs="1" name="packagingMaterialGroup"/>
                            <xs:element type="xs:string" minOccurs="0" maxOccurs="1" name="deleteIndicator"/>
                            <xs:element type="xs:string" minOccurs="0" maxOccurs="1" name="materialSerialManaged_ID"/>
                            <xs:element minOccurs="0" maxOccurs="unbounded" name="quantityCharacteristic">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element type="xs:string" minOccurs="0" maxOccurs="1" name="characteristicQuantity"/>
                                        <xs:element type="xs:string" minOccurs="0" maxOccurs="1" name="characteristicQuantityTypeCode"/>
                                        <xs:element type="xs:string" minOccurs="0" maxOccurs="1" name="characteristicQuantityUnitCode"/>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element minOccurs="0" maxOccurs="unbounded" name="materialMasterPlantData">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element type="xs:string" minOccurs="0" maxOccurs="1" name="plant"/>
                                        <xs:element type="xs:string" minOccurs="0" maxOccurs="1" name="serialNumberProfile"/>
                                        <xs:element type="xs:string" minOccurs="0" maxOccurs="1" name="reorderPoint"/>
                                        <xs:element type="xs:string" minOccurs="0" maxOccurs="1" name="mrpType"/>
                                        <xs:element type="xs:decimal" minOccurs="0" maxOccurs="1" name="standardPrice_price"/>
                                        <xs:element type="xs:string" minOccurs="0" maxOccurs="1" name="pricingIndicator"/>
                                        <xs:element type="xs:integer" minOccurs="0" maxOccurs="1" name="safetyStock"/>
                                        <xs:element type="xs:integer" minOccurs="0" maxOccurs="1" name="maximumStockLevel"/>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
							 <xs:element minOccurs="0" maxOccurs="unbounded" name="valuationArea">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element type="xs:string" minOccurs="0" maxOccurs="1" name="valuationAreaID"/>
                                        <xs:element minOccurs="0" maxOccurs="unbounded" name="ledgerAccount">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element type="xs:string" minOccurs="0" maxOccurs="1" name="inventoryValuationProcedureCode"/>
                                                    <xs:element type="xs:string" minOccurs="0" maxOccurs="1" name="priceAmountValue "/>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element type="xs:string" minOccurs="0" maxOccurs="1" name="DRF_Id"/>
                <xs:element type="xs:string" minOccurs="0" maxOccurs="1" name="Sender_Id"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>