Resources/schemas/Xsd/SAP_Commerce_Integration_with_SAP_CPQ_and_SAP_Subscription_Billing - market_details.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="qualified">
   <xs:element name="rateplans">
      <xs:complexType>
         <xs:sequence>
            <xs:element type="xs:string" name="configSetId" nillable="true" minOccurs="0" maxOccurs="1" />
            <xs:element type="xs:string" name="key" nillable="true" minOccurs="0" maxOccurs="1" />
            <xs:element name="value" minOccurs="0" maxOccurs="1">
               <xs:complexType>
                  <xs:sequence>
                     <xs:element type="xs:string" name="defaultMarket" nillable="false" minOccurs="1" maxOccurs="1" />
                     <xs:element name="markets" minOccurs="0" maxOccurs="unbounded">
                        <xs:complexType>
                           <xs:sequence>
                              <xs:element type="xs:string" name="currency" nillable="false" minOccurs="1" maxOccurs="1" />
                              <xs:element type="xs:string" name="externalReference" nillable="true" minOccurs="0" maxOccurs="1" />
                              <xs:element type="xs:string" name="id" nillable="false" minOccurs="1" maxOccurs="1" />
                              <xs:element type="xs:string" name="language" nillable="true" minOccurs="0" maxOccurs="1" />
                              <xs:element type="xs:string" name="name" nillable="false" minOccurs="1" maxOccurs="1" />
                              <xs:element type="xs:string" name="priceType" nillable="false" minOccurs="1" maxOccurs="1" />
                              <xs:element type="xs:string" name="timeZone" nillable="false" minOccurs="1" maxOccurs="1" />
                              <xs:element name="billFrom" minOccurs="0" maxOccurs="1">
                                 <xs:complexType>
                                    <xs:sequence>
                                       <xs:element type="xs:string" name="additionalAddressInfo" nillable="true" minOccurs="0" maxOccurs="1" />
                                       <xs:element type="xs:string" name="city" nillable="true" minOccurs="0" maxOccurs="1" />
                                       <xs:element type="xs:string" name="companyName" nillable="false" minOccurs="1" maxOccurs="1" />
                                       <xs:element type="xs:string" name="country" nillable="false" minOccurs="1" maxOccurs="1" />
                                       <xs:element type="xs:byte" name="houseNumber" nillable="true" minOccurs="0" maxOccurs="1" />
                                       <xs:element type="xs:int" name="postalCode" nillable="true" minOccurs="0" maxOccurs="1" />
                                       <xs:element type="xs:byte" name="state" nillable="true" minOccurs="0" maxOccurs="1" />
                                       <xs:element type="xs:string" name="street" nillable="true" minOccurs="0" maxOccurs="1" />
                                    </xs:sequence>
                                 </xs:complexType>
                              </xs:element>
                              <xs:element name="usageOfTax" minOccurs="0" maxOccurs="1">
                                 <xs:complexType>
                                    <xs:sequence>
                                       <xs:element type="xs:string" name="taxActivation" nillable="true" minOccurs="0" maxOccurs="1" />
                                    </xs:sequence>
                                 </xs:complexType>
                              </xs:element>
                           </xs:sequence>
                        </xs:complexType>
                     </xs:element>
                  </xs:sequence>
               </xs:complexType>
            </xs:element>
         </xs:sequence>
      </xs:complexType>
   </xs:element>
</xs:schema>