Resources/schemas/Xsd/SAP_S-4HANA_Utilities_Integration_with_SAP_Emarsys_Customer_Engagement - UtilitiesSalesContract.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="UtilitiesSalesContractSet">
		<xs:complexType>
			<xs:sequence>
				<xs:element nillable="false" minOccurs="1" maxOccurs="unbounded" name="UtilitiesSalesContract">
					<xs:complexType>
						<xs:sequence>
							<xs:element nillable="false" minOccurs="1" maxOccurs="unbounded" name="UtilitiesSalesContractItem">
								<xs:complexType>
									<xs:sequence>
										<!-- UtilitiesSalesContract/Logical_Contract_Item -->
										<xs:element nillable="false" minOccurs="1" maxOccurs="1" name="UtilsSalesContrLogicalItem">
											<xs:simpleType>
												<xs:restriction base="xs:token" xmlns="">
													<xs:minLength value="0"/>
													<xs:maxLength value="16"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<!-- UtilitiesSalesContract/Businesspartner/BusinessPartnerID -->
										<xs:element nillable="false" minOccurs="1" maxOccurs="1" name="BusinessPartnerID">
											<xs:simpleType>
												<xs:restriction base="xs:token" xmlns="">
													<xs:minLength value="1"/>
													<xs:maxLength value="60"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<!-- UtilitiesSalesContract/ContractAccountAssignment/ContractAccountID -->
										<xs:element nillable="false" minOccurs="0" maxOccurs="1" name="ContractAccountID">
											<xs:simpleType>
												<xs:restriction base="xs:token" xmlns="">
													<xs:minLength value="1"/>
													<xs:maxLength value="12"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<!-- UtilitiesSalesContract/UtilitiesDivisionCode -->
										<xs:element nillable="false" minOccurs="1" maxOccurs="1" name="UtilitiesDivisionCode">
											<xs:simpleType>
												<xs:restriction base="xs:token" xmlns="">
													<xs:minLength value="1"/>
													<xs:maxLength value="2"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<!-- UtilitiesSalesContract/UtilitiesSalesItemStatus -->
										<xs:element nillable="false" minOccurs="1" maxOccurs="1" name="UtilitiesSalesItemStatus ">
											<xs:simpleType>
												<xs:restriction base="xs:string" xmlns="">
													<xs:minLength value="0"/>
													<xs:maxLength value="10"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<!-- UtilitiesSalesContract/IsCanceled -->
										<xs:element nillable="false" minOccurs="1" maxOccurs="1" name="IsCanceled">
											<xs:simpleType>
												<xs:restriction base="xs:boolean" xmlns="">
									</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<!-- UtilitiesSalesContract/ContractStartDate -->
										<xs:element nillable="false" minOccurs="1" maxOccurs="1" name="ContractStartDate">
											<xs:simpleType>
												<xs:restriction base="xs:dateTime" xmlns="">
									</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<!-- UtilitiesSalesContract/ContractEndDate -->
										<xs:element nillable="false" minOccurs="1" maxOccurs="1" name="ContractEndDate">
											<xs:simpleType>
												<xs:restriction base="xs:dateTime" xmlns="">
									</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<!-- UtilitiesSalesContract/UtilitiesSalesItemInfo/UtilitiesProduct/ProductID -->
										<xs:element nillable="false" minOccurs="1" maxOccurs="1" name="UtilitiesProductID">
											<xs:simpleType>
												<xs:restriction base="xs:string" xmlns="">
													<xs:minLength value="0"/>
													<xs:maxLength value="40"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<!-- UtilitiesSalesContract/UtilitiesSalesItemInfo/UtilitiesProduct/PreviousProductID -->
										<xs:element nillable="false" minOccurs="0" maxOccurs="1" name="PreviousUtilitiesProductID">
											<xs:simpleType>
												<xs:restriction base="xs:string" xmlns="">
													<xs:minLength value="0"/>
													<xs:maxLength value="40"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<!-- UtilitiesSalesContract/UtilitiesSalesItemInfo/UtilitiesContract -->
										<xs:element nillable="false" minOccurs="1" maxOccurs="1" name="UtilitiesContractID">
											<xs:simpleType>
												<xs:restriction base="xs:token" xmlns="">
													<xs:minLength value="1"/>
													<xs:maxLength value="10"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<!-- UtilitiesSalesContract/UtilitiesSalesItemInfo/UtilitiesPointofDeliveryAssignment/UtilitiesPointOfDeliveryPartyID -->
										<xs:element nillable="false" minOccurs="0" maxOccurs="1" name="UtilitiesPointOfDeliveryPartyID">
											<xs:simpleType>
												<xs:restriction base="xs:token" xmlns="">
													<xs:minLength value="1"/>
													<xs:maxLength value="50"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<!-- UtilitiesSalesContract/UtilitiesSalesItemInfo/UtilitiesPointofDeliveryAssignment/UtilitiesPremiseID -->
										<xs:element nillable="false" minOccurs="1" maxOccurs="1" name="UtilitiesPremiseID">
											<xs:simpleType>
												<xs:restriction base="xs:token" xmlns="">									
									</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<!-- UtilitiesSalesContract/UtilitiesSalesItemInfo/UtilitiesInstallation/UtilitiesInstallationID -->
										<xs:element nillable="false" minOccurs="1" maxOccurs="1" name="UtilitiesInstallationID">
											<xs:simpleType>
												<xs:restriction base="xs:token" xmlns="">
													<xs:minLength value="0"/>
													<xs:maxLength value="10"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<!-- UtilitiesSalesContract/UtilitiesSalesItemInfo/UtilitiesSalesItemStartDate -->
										<xs:element nillable="false" minOccurs="1" maxOccurs="1" name="UtilitiesSalesItemStartDate">
											<xs:simpleType>
												<xs:restriction base="xs:dateTime" xmlns="">
									</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<!-- UtilitiesSalesContract/UtilitiesSalesItemInfo/UtilitiesSalesItemEndDate -->
										<xs:element nillable="false" minOccurs="1" maxOccurs="1" name="UtilitiesSalesItemEndDate">
											<xs:simpleType>
												<xs:restriction base="xs:dateTime" xmlns="">
									</xs:restriction>
											</xs:simpleType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>