Resources/schemas/Xsd/SAP_Build_Process_Automation_Integration_with_SAP_ERP_for_Invoice - TaxCalculationInput.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="root">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="headerData">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="userName"/>
              <xs:element type="xs:int" name="postingDate"/>
              <xs:element type="xs:int" name="documentDate"/>
              <xs:element type="xs:byte" name="companyCode"/>
              <xs:element type="xs:string" name="docType"/>
			  <xs:element type="xs:string" name="reference"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="accountGL" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:byte" name="itemAccountNumber"/>
			  <xs:element type="xs:string" name="internalOrder"/>
              <xs:element type="xs:int" name="glAccountNo"/>
              <xs:element type="xs:string" name="itemText"/>
              <xs:element type="xs:string" name="acctType"/>
              <xs:element type="xs:byte" name="companyCode"/>
              <xs:element type="xs:string" name="taxCode"/>
              <xs:element type="xs:string" name="costCenter"/>
              <xs:element type="xs:string" name="businessArea"/>
              <xs:element type="xs:string" name="plant"/>
			  <xs:element type="xs:string" name="profitCenter"/>
			  <xs:element type="xs:int" name="vendorNo"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="currencyAmount" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:byte" name="itemAccountNumber"/>
              <xs:element type="xs:string" name="currency"/>
              <xs:element type="xs:int" name="amount"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
		<xs:element name="accountTax" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
                    <xs:element type="xs:string" name="accountKey"/>
                    <xs:element type="xs:string" name="conditionKey"/>
                    <xs:element type="xs:string" name="directTax"/>
                    <xs:element type="xs:int" name="glAccount"/>
                    <xs:element type="xs:byte" name="itemAccountNumber"/>
                    <xs:element type="xs:string" name="taxCode"/>
                    <xs:element type="xs:byte" name="taxRate"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
		<xs:element name="return" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="message"/>
              <xs:element type="xs:string" name="type"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>