Resources/schemas/Xsd/SAP_Returnable_Packaging_Management_Integration_with_SAP_ERP - Idoc_ERP_latest.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="root">
    <xs:complexType>
      <xs:sequence>
        <xs:element type="xs:string" name="materialDocumentNumber"/>
		<xs:element type="xs:string" name="postingDate"/>
		<xs:element type="xs:string" name="documentDate"/>
		<xs:element type="xs:string" name="referenceDocumentNo" minOccurs="0"/>
		<xs:element type="xs:string" name="externalDeliveryNumber" minOccurs="0"/>
		<xs:element type="xs:string" name="billOfLading" minOccurs="0"/>
        <xs:element name="line" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="movementType"/>
              <xs:element type="xs:string" name="plant"/> 
              <xs:element type="xs:string" name="returnableMaterialQuantity"/>
              <xs:element type="xs:string" minOccurs="0" name="materialType"/>
              <xs:element type="xs:string" name="materialDocumentItemNumber"/>
              <xs:element type="xs:string" minOccurs="0" name="returnableMaterialUOM_code"/>
              <xs:element type="xs:string" name="materialCode"/>
              <xs:element type="xs:string" minOccurs="0" name="customerCode" maxOccurs="unbounded" />
              <xs:element type="xs:string" minOccurs="0" name="vendorCode" maxOccurs="unbounded" />
			  <xs:element type="xs:string" minOccurs="0" name="stockType" maxOccurs="unbounded" />
			  <xs:element type="xs:string" minOccurs="0" name="movInd" maxOccurs="unbounded"/>
			  <xs:element type="xs:string" minOccurs="0" name="movPlant" maxOccurs="unbounded" />
			  <xs:element type="xs:string" minOccurs="0" name="movReas" maxOccurs="unbounded"/>
			  <xs:element type="xs:string" minOccurs="0" name="stgLoc" maxOccurs="unbounded"/>
			  <xs:element type="xs:string" minOccurs="0" name="unLoadingPt" maxOccurs="unbounded"/>
			  
			 
			
			  <!---<xs:element type="xs:string" minOccurs="0" name="referenceDocumentNo" maxOccurs="unbounded" />-->
            </xs:sequence>
          </xs:complexType>
        </xs:element>
		<xs:element name="serialNos" maxOccurs="unbounded" minOccurs="0">
		<xs:complexType>
            <xs:sequence>
				<xs:element type="xs:string" minOccurs="0" name="serialno" maxOccurs="unbounded" />
				<xs:element type="xs:string" minOccurs="0" name="orderItemNo" maxOccurs="unbounded" />
			</xs:sequence>
          </xs:complexType>
		</xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>