Resources/schemas/Xsd/SAP_Cloud_for_Customer_Integration_with_SAP_CPQ - CPQCustomerUpdate.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="CPQCustomerUpdate">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="1" type="xs:string" name="CustomerCode"/>
        <xs:element minOccurs="1" type="xs:string" name="CRMAccountID"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>