Resources/schemas/Xsd/SAP_SuccessFactors_Recruiting_Management_Integration_with_Saudi_Arabia's_Ministry_of_Interior - Assessment_Source_nonError.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- Created with Liquid Technologies Online Tools 1.0 (https://www.liquid-technologies.com) -->
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="UpsertResponses">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="JobApplicationUpsertResponse">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="key" type="xs:string" />
              <xs:element name="status" type="xs:string" />
              <xs:element name="editStatus" type="xs:string" />
              <xs:element name="message" type="xs:string" />
              <xs:element name="index">
                <xs:complexType>
                  <xs:simpleContent>
                    <xs:extension base="xs:unsignedByte">
                      <xs:attribute name="type" type="xs:string" use="required" />
                    </xs:extension>
                  </xs:simpleContent>
                </xs:complexType>
              </xs:element>
              <xs:element name="httpCode">
                <xs:complexType>
                  <xs:simpleContent>
                    <xs:extension base="xs:unsignedByte">
                      <xs:attribute name="type" type="xs:string" use="required" />
                    </xs:extension>
                  </xs:simpleContent>
                </xs:complexType>
              </xs:element>
              <xs:element name="inlineResults">
                <xs:complexType>
                  <xs:attribute name="type" type="xs:string" use="required" />
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>