Resources/schemas/Xsd/SAP_Commerce_financial_services_accelerator_integration_with_SAP_for_Insurance - HELP_PRMPYR_PremiumPayer.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="premiumPayer">
		<xs:complexType>
			<xs:sequence>
				<xs:element type="xs:string" name="customerId" minOccurs="0"/>
				<xs:element type="xs:date" name="dateOfBirth" minOccurs="0"/>
				<xs:element type="xs:string" name="firstName"/>
				<xs:element type="xs:string" name="lastName"/>
				<xs:element type="xs:string" name="fullName" minOccurs="0"/>
				<xs:element type="xs:string" name="phone" minOccurs="0"/>
				<xs:element type="xs:string" name="email" minOccurs="0"/>
				<xs:element name="address" minOccurs="0">
					<xs:complexType>
						<xs:sequence>
							<xs:element type="xs:string" name="street" minOccurs="0"/>
							<xs:element type="xs:byte" name="housenumber" minOccurs="0"/>
							<xs:element type="xs:int" name="postalcode" minOccurs="0"/>
							<xs:element type="xs:string" name="city" minOccurs="0"/>
							<xs:element name="country" minOccurs="0">
								<xs:complexType>
									<xs:sequence>
										<xs:element type="xs:string" name="isocode" minOccurs="0"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>