Resources/schemas/Xsd/SAP_Order_Management_Foundation_Integration_with_SAP_S-4HANA_Cloud - return-order.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" version="1.0">
	<xsd:element name="ROOT">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element type="xsd:token" name="DOC_TYPE" maxOccurs="1" minOccurs="1"/>
				<xsd:element type="xsd:token" name="SENDER_BUSINESS_SYSTEM_ID" maxOccurs="1" minOccurs="0"/>
				<xsd:element type="xsd:token" name="SD_DOCUMENT_REASON" maxOccurs="1" minOccurs="0"/>
				<xsd:element type="xsd:token" name="CUST_RET_ITM_FOLLOW_UP_ACTIVITY" maxOccurs="1" minOccurs="0"/>
				<xsd:element type="xsd:token" name="RETURNS_REFUND_PROCG_MODE" maxOccurs="1" minOccurs="0"/>
				<xsd:element type="xsd:token" name="RETURNS_REFUND_EXTENT" maxOccurs="1" minOccurs="0"/>
				<xsd:element name="BODY" maxOccurs="1" minOccurs="1">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element type="xsd:token" name="fulfillmentRequestDisplayId" maxOccurs="1" minOccurs="1"/>
							<xsd:element type="xsd:token" name="fulfillmentRequestId" maxOccurs="1" minOccurs="1"/>
							<xsd:element type="xsd:token" name="orderId" maxOccurs="1" minOccurs="1"/>
							<xsd:element type="xsd:token" name="orderDisplayId" maxOccurs="1" minOccurs="1"/>
							<xsd:element name="metadata" maxOccurs="1" minOccurs="1" nillable="true">
								<xsd:complexType>
									<xsd:sequence>
										<xsd:element type="xsd:dateTime" name="createdAt" maxOccurs="1" minOccurs="1"/>
										<xsd:element type="xsd:token" name="createdBy" maxOccurs="1" minOccurs="1"/>
										<xsd:element type="xsd:dateTime" name="modifiedAt" maxOccurs="1" minOccurs="1"/>
										<xsd:element type="xsd:token" name="modifiedBy" maxOccurs="1" minOccurs="1"/>
									</xsd:sequence>
								</xsd:complexType>
							</xsd:element>
							<xsd:element type="xsd:token" name="type" maxOccurs="1" minOccurs="1"/>
							<xsd:element type="xsd:token" name="businessObjectId" maxOccurs="1" minOccurs="1"/>
							<xsd:element type="xsd:token" name="owner" maxOccurs="1" minOccurs="1"/>
							<xsd:element name="market" maxOccurs="1" minOccurs="1">
								<xsd:complexType>
									<xsd:sequence>
										<xsd:element type="xsd:token" name="marketId" maxOccurs="1" minOccurs="1"/>
										<xsd:element name="salesArea" maxOccurs="1" minOccurs="1">
											<xsd:complexType>
												<xsd:sequence>
													<xsd:element type="xsd:token" name="salesOrganization" maxOccurs="1" minOccurs="1"/>
													<xsd:element type="xsd:token" name="division" maxOccurs="1" minOccurs="1"/>
													<xsd:element type="xsd:token" name="distributionChannel	" maxOccurs="1" minOccurs="1"/>
												</xsd:sequence>
											</xsd:complexType>
										</xsd:element>
										<xsd:element type="xsd:token" name="currency" maxOccurs="1" minOccurs="1"/>
										<xsd:element type="xsd:token" name="timezone" maxOccurs="1" minOccurs="1"/>
										<xsd:element type="xsd:token" name="priceType" maxOccurs="1" minOccurs="1"/>
									</xsd:sequence>
								</xsd:complexType>
							</xsd:element>
							<xsd:element name="customer" maxOccurs="1" minOccurs="1">
								<xsd:complexType>
									<xsd:sequence>
										<xsd:element type="xsd:token" name="cuid" maxOccurs="1" minOccurs="1"/>
										<xsd:element type="xsd:token" name="displayId" maxOccurs="1" minOccurs="1"/>
										<xsd:element type="xsd:token" name="customerType" maxOccurs="1" minOccurs="1"/>
										<xsd:element type="xsd:boolean" name="guest" maxOccurs="1" minOccurs="1"/>
										<xsd:element name="externalSystemReference" maxOccurs="1" minOccurs="1">
											<xsd:complexType>
												<xsd:sequence>
													<xsd:element type="xsd:token" name="externalSystemId" maxOccurs="1" minOccurs="1"/>
													<xsd:element type="xsd:token" name="externalId" maxOccurs="1" minOccurs="1"/>
												</xsd:sequence>
											</xsd:complexType>
										</xsd:element>
										<xsd:element name="fulfillmentSystemReference" maxOccurs="1" minOccurs="1">
											<xsd:complexType>
												<xsd:sequence>
													<xsd:element type="xsd:token" name="systemId" maxOccurs="1" minOccurs="1"/>
													<xsd:element type="xsd:token" name="id" maxOccurs="1" minOccurs="1"/>
												</xsd:sequence>
											</xsd:complexType>
										</xsd:element>
										<xsd:element type="xsd:token" name="company" maxOccurs="1" minOccurs="1"/>
										<xsd:element name="addresses" maxOccurs="3" minOccurs="0">
											<xsd:complexType>
												<xsd:sequence>
													<xsd:element type="xsd:token" name="partnerId" maxOccurs="1" minOccurs="1"/>
													<xsd:element type="xsd:token" name="street" maxOccurs="1" minOccurs="1"/>
													<xsd:element type="xsd:token" name="houseNumber" maxOccurs="1" minOccurs="1"/>
													<xsd:element type="xsd:token" name="building" maxOccurs="1" minOccurs="1"/>
													<xsd:element type="xsd:token" name="roomNumber" maxOccurs="1" minOccurs="1"/>
													<xsd:element type="xsd:token" name="floorNumber" maxOccurs="1" minOccurs="1"/>
													<xsd:element type="xsd:token" name="poBox" maxOccurs="1" minOccurs="1"/>
													<xsd:element type="xsd:token" name="postalCode" maxOccurs="1" minOccurs="1"/>
													<xsd:element type="xsd:token" name="city" maxOccurs="1" minOccurs="1"/>
													<xsd:element type="xsd:token" name="country" maxOccurs="1" minOccurs="1"/>
													<xsd:element type="xsd:token" name="district" maxOccurs="1" minOccurs="1"/>
													<xsd:element type="xsd:token" name="state" maxOccurs="1" minOccurs="1"/>
													<xsd:element type="xsd:token" name="phone" maxOccurs="1" minOccurs="1"/>
													<xsd:element type="xsd:token" name="email" maxOccurs="1" minOccurs="1"/>
													<xsd:element type="xsd:token" name="fax" maxOccurs="1" minOccurs="1"/>
													<xsd:element type="xsd:token" name="additionalAddressInfo" maxOccurs="1" minOccurs="1"/>
													<xsd:element type="xsd:token" name="correspondenceLanguage" maxOccurs="1" minOccurs="1"/>
													<xsd:element type="xsd:token" name="addressType" maxOccurs="1" minOccurs="1"/>
													<xsd:element name="person" maxOccurs="1" minOccurs="1">
														<xsd:complexType>
															<xsd:sequence>
																<xsd:element type="xsd:token" name="firstName" maxOccurs="1" minOccurs="1"/>
																<xsd:element type="xsd:token" name="middleName" maxOccurs="1" minOccurs="1"/>
																<xsd:element type="xsd:token" name="lastName" maxOccurs="1" minOccurs="1"/>
																<xsd:element type="xsd:token" name="academicTitle" maxOccurs="1" minOccurs="1"/>
																<xsd:element type="xsd:token" name="salutationCode" maxOccurs="1" minOccurs="1"/>
															</xsd:sequence>
														</xsd:complexType>
													</xsd:element>
												</xsd:sequence>
											</xsd:complexType>
										</xsd:element>
										<xsd:element name="person" maxOccurs="1" minOccurs="1">
											<xsd:complexType>
												<xsd:sequence>
													<xsd:element type="xsd:token" name="firstName" maxOccurs="1" minOccurs="1"/>
													<xsd:element type="xsd:token" name="middleName" maxOccurs="1" minOccurs="1"/>
													<xsd:element type="xsd:token" name="lastName" maxOccurs="1" minOccurs="1"/>
													<xsd:element type="xsd:token" name="academicTitle" maxOccurs="1" minOccurs="1"/>
													<xsd:element type="xsd:token" name="salutationCode" maxOccurs="1" minOccurs="1"/>
												</xsd:sequence>
											</xsd:complexType>
										</xsd:element>
									</xsd:sequence>
								</xsd:complexType>
							</xsd:element>
							<xsd:element name="shipToParty" maxOccurs="1" minOccurs="1">
								<xsd:complexType>
									<xsd:sequence>
										<xsd:element type="xsd:token" name="cuid" maxOccurs="1" minOccurs="1"/>
										<xsd:element type="xsd:token" name="type" maxOccurs="1" minOccurs="1"/>
										<xsd:element name="externalSystemReference" maxOccurs="1" minOccurs="1">
											<xsd:complexType>
												<xsd:sequence>
													<xsd:element type="xsd:token" name="externalSystemId" maxOccurs="1" minOccurs="1"/>
													<xsd:element type="xsd:token" name="externalId" maxOccurs="1" minOccurs="1"/>
												</xsd:sequence>
											</xsd:complexType>
										</xsd:element>
										<xsd:element name="fulfillmentSystemReference" maxOccurs="1" minOccurs="1">
											<xsd:complexType>
												<xsd:sequence>
													<xsd:element type="xsd:token" name="systemId" maxOccurs="1" minOccurs="1"/>
													<xsd:element type="xsd:token" name="id" maxOccurs="1" minOccurs="1"/>
												</xsd:sequence>
											</xsd:complexType>
										</xsd:element>
										<xsd:element type="xsd:token" name="company" maxOccurs="1" minOccurs="1"/>
										<xsd:element type="xsd:token" name="displayId" maxOccurs="1" minOccurs="1"/>
										<xsd:element name="address" maxOccurs="1" minOccurs="1">
											<xsd:complexType>
												<xsd:sequence>
													<xsd:element type="xsd:token" name="street" maxOccurs="1" minOccurs="1"/>
													<xsd:element type="xsd:token" name="houseNumber" maxOccurs="1" minOccurs="1"/>
													<xsd:element type="xsd:token" name="building" maxOccurs="1" minOccurs="1"/>
													<xsd:element type="xsd:token" name="roomNumber" maxOccurs="1" minOccurs="1"/>
													<xsd:element type="xsd:token" name="floorNumber" maxOccurs="1" minOccurs="1"/>
													<xsd:element type="xsd:token" name="poBox" maxOccurs="1" minOccurs="1"/>
													<xsd:element type="xsd:token" name="postalCode" maxOccurs="1" minOccurs="1"/>
													<xsd:element type="xsd:token" name="city" maxOccurs="1" minOccurs="1"/>
													<xsd:element type="xsd:token" name="country" maxOccurs="1" minOccurs="1"/>
													<xsd:element type="xsd:token" name="district" maxOccurs="1" minOccurs="1"/>
													<xsd:element type="xsd:token" name="state" maxOccurs="1" minOccurs="1"/>
													<xsd:element type="xsd:token" name="phone" maxOccurs="1" minOccurs="1"/>
													<xsd:element type="xsd:token" name="email" maxOccurs="1" minOccurs="1"/>
													<xsd:element type="xsd:token" name="fax" maxOccurs="1" minOccurs="1"/>
													<xsd:element type="xsd:token" name="additionalAddressInfo" maxOccurs="1" minOccurs="1"/>
													<xsd:element type="xsd:token" name="correspondenceLanguage" maxOccurs="1" minOccurs="1"/>
												</xsd:sequence>
											</xsd:complexType>
										</xsd:element>
										<xsd:element name="person" maxOccurs="1" minOccurs="1">
											<xsd:complexType>
												<xsd:sequence>
													<xsd:element type="xsd:token" name="firstName" maxOccurs="1" minOccurs="1"/>
													<xsd:element type="xsd:token" name="middleName" maxOccurs="1" minOccurs="1"/>
													<xsd:element type="xsd:token" name="lastName" maxOccurs="1" minOccurs="1"/>
													<xsd:element type="xsd:token" name="academicTitle" maxOccurs="1" minOccurs="1"/>
													<xsd:element type="xsd:token" name="salutationCode" maxOccurs="1" minOccurs="1"/>
												</xsd:sequence>
											</xsd:complexType>
										</xsd:element>
									</xsd:sequence>
								</xsd:complexType>
							</xsd:element>
							<xsd:element name="precedingDocument" maxOccurs="1" minOccurs="1">
								<xsd:complexType>
									<xsd:sequence>
										<xsd:element name="externalSystemReference" maxOccurs="1" minOccurs="1">
											<xsd:complexType>
												<xsd:sequence>
													<xsd:element type="xsd:token" name="externalSystemId" maxOccurs="1" minOccurs="1"/>
													<xsd:element type="xsd:token" name="externalId" maxOccurs="1" minOccurs="1"/>
												</xsd:sequence>
											</xsd:complexType>
										</xsd:element>
									</xsd:sequence>
								</xsd:complexType>
							</xsd:element>
							<xsd:element type="xsd:token" name="description" maxOccurs="1" minOccurs="1"/>
							<xsd:element type="xsd:token" name="status" maxOccurs="1" minOccurs="1"/>
							<xsd:element name="orderItems" maxOccurs="100" minOccurs="1">
								<xsd:complexType>
									<xsd:sequence>
										<xsd:element type="xsd:token" name="id" maxOccurs="1" minOccurs="1"/>
										<xsd:element type="xsd:token" name="fulfillmentRequestItemId" maxOccurs="1" minOccurs="1"/>
										<xsd:element type="xsd:token" name="salesOrderId" maxOccurs="1" minOccurs="1"/>
										<xsd:element type="xsd:token" name="salesOrderItemId" maxOccurs="1" minOccurs="1"/>
										<xsd:element type="xsd:token" name="returnReason" maxOccurs="1" minOccurs="1"/>
										<xsd:element type="xsd:token" name="overrideReturnReason" maxOccurs="1" minOccurs="1"/>
										<xsd:element type="xsd:token" name="comments" maxOccurs="1" minOccurs="1"/>
										<xsd:element type="xsd:token" name="itemStatus" maxOccurs="1" minOccurs="1"/>
										<xsd:element type="xsd:token" name="itemRefundStatus" maxOccurs="1" minOccurs="1"/>
										<xsd:element type="xsd:token" name="lineNumber" maxOccurs="1" minOccurs="1"/>
										<xsd:element type="xsd:token" name="referenceId" maxOccurs="1" minOccurs="1"/>
										<xsd:element type="xsd:token" name="itemType" maxOccurs="1" minOccurs="1"/>
										<xsd:element type="xsd:token" name="salesOrderFulfillmentRequestId" maxOccurs="1" minOccurs="1"/>
										<xsd:element type="xsd:token" name="salesOrderFulfillmentRequestItemId" maxOccurs="1" minOccurs="1"/>
										<xsd:element type="xsd:token" name="refundMethod" maxOccurs="1" minOccurs="1"/>
										<xsd:element name="fulfillmentSystemReference" maxOccurs="1" minOccurs="1">
											<xsd:complexType>
												<xsd:sequence>
													<xsd:element type="xsd:token" name="systemId" maxOccurs="1" minOccurs="1"/>
													<xsd:element type="xsd:token" name="id" maxOccurs="1" minOccurs="1"/>
													<xsd:element type="xsd:token" name="number" maxOccurs="1" minOccurs="1"/>
													<xsd:element type="xsd:token" name="itemId" maxOccurs="1" minOccurs="1"/>
													<xsd:element type="xsd:token" name="itemNumber" maxOccurs="1" minOccurs="1"/>
												</xsd:sequence>
											</xsd:complexType>
										</xsd:element>
										<xsd:element name="product" maxOccurs="1" minOccurs="1">
											<xsd:complexType>
												<xsd:sequence>
													<xsd:element name="externalSystemReferences" maxOccurs="1" minOccurs="1">
											<xsd:complexType>
												<xsd:sequence>
													<xsd:element type="xsd:token" name="externalSystemId" maxOccurs="1" minOccurs="1"/>
													<xsd:element type="xsd:token" name="externalId" maxOccurs="1" minOccurs="1"/>
												</xsd:sequence>
											</xsd:complexType>
										</xsd:element>
													<xsd:element name="fulfillmentSystemReference" maxOccurs="1" minOccurs="1">
														<xsd:complexType>
															<xsd:sequence>
																<xsd:element type="xsd:token" name="systemId" maxOccurs="1" minOccurs="1"/>
																<xsd:element type="xsd:token" name="id" maxOccurs="1" minOccurs="1"/>
															</xsd:sequence>
														</xsd:complexType>
													</xsd:element>
												</xsd:sequence>
											</xsd:complexType>
										</xsd:element>
										<xsd:element name="quantity" maxOccurs="1" minOccurs="1">
											<xsd:complexType>
												<xsd:sequence>
													<xsd:element type="xsd:decimal" name="value" maxOccurs="1" minOccurs="1"/>
													<xsd:element type="xsd:token" name="unit" maxOccurs="1" minOccurs="1"/>
												</xsd:sequence>
											</xsd:complexType>
										</xsd:element>
										<xsd:element name="fulfillment" maxOccurs="1" minOccurs="1">
											<xsd:complexType>
												<xsd:sequence>
													<xsd:element name="shipment" maxOccurs="1" minOccurs="1">
														<xsd:complexType>
															<xsd:sequence>
																<xsd:element type="xsd:dateTime" name="shippingDate" maxOccurs="1" minOccurs="1"/>
																<xsd:element type="xsd:dateTime" name="deliveryDate" maxOccurs="1" minOccurs="1"/>
																<xsd:element type="xsd:boolean" name="fullyShipped" maxOccurs="1" minOccurs="1"/>
																<xsd:element type="xsd:boolean" name="fullyDelivered" maxOccurs="1" minOccurs="1"/>
															</xsd:sequence>
														</xsd:complexType>
													</xsd:element>
													<xsd:element name="cancellation" maxOccurs="1" minOccurs="1">
														<xsd:complexType>
															<xsd:sequence>
																<xsd:element type="xsd:dateTime" name="cancellationDate" maxOccurs="1" minOccurs="1"/>
																<xsd:element type="xsd:boolean" name="canceled" maxOccurs="1" minOccurs="1"/>
															</xsd:sequence>
														</xsd:complexType>
													</xsd:element>
												</xsd:sequence>
											</xsd:complexType>
										</xsd:element>
										<xsd:element type="xsd:token" name="customFields" maxOccurs="1" minOccurs="1"/>
									</xsd:sequence>
								</xsd:complexType>
							</xsd:element>
							<xsd:element name="channel" maxOccurs="1" minOccurs="1">
								<xsd:complexType>
									<xsd:sequence>
										<xsd:element type="xsd:token" name="id " maxOccurs="1" minOccurs="1"/>
									</xsd:sequence>
								</xsd:complexType>
							</xsd:element>
							<xsd:element type="xsd:token" name="customFields" maxOccurs="1" minOccurs="1"/>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
</xsd:schema>