Resources/schemas/Xsd/SAP_ERP_Integration_of_Point-of-Sale_inventory_with_SAP_Order_Management_for_sourcing_and_availability - map_out.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="root">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="element" minOccurs="1" maxOccurs="999999">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="logicalSystem" minOccurs="0" maxOccurs="1"/>
              <xs:element type="xs:string" name="storeId" minOccurs="0" maxOccurs="1"/>
              <xs:element type="xs:string" name="businessDate" minOccurs="0" maxOccurs="1"/>
              <xs:element type="xs:integer" name="transactionIndex" minOccurs="0" maxOccurs="1"/>
              <xs:element type="xs:string" name="productId" minOccurs="0" maxOccurs="1"/>
              <xs:element type="xs:string" name="salesUnitOfMeasure" minOccurs="0" maxOccurs="1"/>                
              <xs:element type="xs:integer" name="sequenceNumber" minOccurs="0" maxOccurs="1"/>
              <xs:element type="xs:string" name="transactionId" minOccurs="0" maxOccurs="1"/>                
              <xs:element type="xs:decimal" name="retailQuantity" minOccurs="0" maxOccurs="1"/>
              <xs:element type="xs:decimal" name="baseQuantity" minOccurs="0" maxOccurs="1"/>
              <xs:element type="xs:string" name="baseQuantityUnitOfMeasure" minOccurs="0" maxOccurs="1"/>                
              <xs:element type="xs:string" name="beginTimeStamp" minOccurs="0" maxOccurs="1"/>
              <xs:element type="xs:string" name="transCurrency" minOccurs="0" maxOccurs="1"/>
              </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>