Resources/schemas/Xsd/SAP_Returnable_Packaging_Management_Integration_with_SAP_ERP - MBGMCR03_IDOC.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="MBGMCR03">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="IDOC">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="EDI_DC40">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:string" name="TABNAM"/>
                    <xs:element type="xs:byte" name="MANDT"/>
                    <xs:element type="xs:int" name="DOCNUM"/>
                    <xs:element type="xs:short" name="DOCREL"/>
                    <xs:element type="xs:byte" name="STATUS"/>
                    <xs:element type="xs:byte" name="DIRECT"/>
                    <xs:element type="xs:byte" name="OUTMOD"/>
                    <xs:element type="xs:string" name="IDOCTYP"/>
                    <xs:element type="xs:string" name="MESTYP"/>
                    <xs:element type="xs:string" name="SNDPOR"/>
                    <xs:element type="xs:string" name="SNDPRT"/>
                    <xs:element type="xs:string" name="SNDPRN"/>
                    <xs:element type="xs:string" name="RCVPOR"/>
                    <xs:element type="xs:string" name="RCVPRT"/>
                    <xs:element type="xs:string" name="RCVPRN"/>
                    <xs:element type="xs:int" name="CREDAT"/>
                    <xs:element type="xs:int" name="CRETIM"/>
                    <xs:element type="xs:string" name="ARCKEY"/>
                    <xs:element type="xs:long" name="SERIAL"/>
                  </xs:sequence>
                  <xs:attribute type="xs:byte" name="SEGMENT"/>
                </xs:complexType>
              </xs:element>
              <xs:element name="E1MBGMCR">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="E1BP2017_GM_HEAD_01">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element type="xs:int" name="PSTNG_DATE"/>
                          <xs:element type="xs:int" name="DOC_DATE"/>
                          <xs:element type="xs:string" name="REF_DOC_NO"/>
                          <xs:element type="xs:long" name="REF_DOC_NO_LONG"/>
						  <xs:element type="xs:string" name="BILL_OF_LADING_LONG"/>
						  <xs:element type="xs:string" name="HEADER_TXT"/>
                        </xs:sequence>
                        <xs:attribute type="xs:byte" name="SEGMENT"/>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="E1BP2017_GM_ITEM_CREATE">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element type="xs:short" name="MATERIAL"/>
                          <xs:element type="xs:byte" name="PLANT"/>
                          <xs:element type="xs:byte" name="STGE_LOC"/>
						  <xs:element type="xs:byte" name="UNLOAD_PT"/>
                          <xs:element type="xs:short" name="MOVE_TYPE"/>
                          <xs:element type="xs:string" name="VENDOR"/>
                          <xs:element type="xs:float" name="ENTRY_QNT"/>
                          <xs:element type="xs:string" name="ENTRY_UOM"/>
                          <xs:element type="xs:byte" name="ORDER_ITNO"/>
						  <xs:element type="xs:byte" name="MOVE_PLANT"/>
						  <xs:element type="xs:byte" name="MVT_IND"/>
						  <xs:element type="xs:byte" name="MOVE_REAS"/>
                          <xs:element type="xs:byte" name="DELIV_ITEM_TO_SEARCH"/>
						  <xs:element type="xs:string" minOccurs="0" name="CUSTOMER"/>
						  <xs:element type="xs:string" minOccurs="0" name="STCK_TYPE"/>
						  <xs:element type="xs:string" name="MATERIAL_VERSION"/>
						</xs:sequence>
                        <xs:attribute type="xs:byte" name="SEGMENT"/>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="E1BP2017_GM_SERIALNUMBER">
                      <xs:complexType>
                        <xs:sequence>
						
                          <xs:element type="xs:byte" name="SERIALNO"/>
						  <xs:element type="xs:byte" name="MATDOC_ITM"/>
                        </xs:sequence>
                        <xs:attribute type="xs:byte" name="SEGMENT"/>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                  <xs:attribute type="xs:byte" name="SEGMENT"/>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
            <xs:attribute type="xs:byte" name="BEGIN"/>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>