Resources/schemas/Xsd/SAP_CPQ_-_Quote_2.0_Integration_with_SAP_Billing_and_Revenue_Innovation_Management - Condition Record Table-1.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified"
  xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="root">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="row" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="ConditionApplication" minOccurs="0" maxOccurs="1" nillable="true"/>
              <xs:element type="xs:string" name="ConditionCurrency" minOccurs="0" maxOccurs="1" nillable="true"/>
              <xs:element type="xs:string" name="ConditionRecord" minOccurs="0" maxOccurs="1"/>
              <xs:element type="xs:string" name="ConditionSequentialNumber" minOccurs="0" maxOccurs="1"/>
              <xs:element type="xs:string" name="ConditionTable" minOccurs="0" maxOccurs="1" nillable="true"/>
              <xs:element type="xs:decimal" name="ConditionQuantity" minOccurs="0" maxOccurs="1" nillable="true"/>
              <xs:element type="xs:string" name="ConditionQuantityUnit" minOccurs="0" maxOccurs="1" nillable="true"/>
              <xs:element type="xs:string" name="ConditionType" minOccurs="0" maxOccurs="1" nillable="true"/>
              <xs:element name="to_SlsPrcgCndnRecdValidity" maxOccurs="unbounded" minOccurs="0">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:string" name="ConditionAgreement" minOccurs="0" maxOccurs="1"/>
                    <xs:element type="xs:string" name="ConditionAgreementItem" minOccurs="0" maxOccurs="1"/>
                    <xs:element type="xs:string" name="ConditionAgreementSource" minOccurs="0" maxOccurs="1"/>
                    <xs:element type="xs:string" name="ConditionApplication" minOccurs="0" maxOccurs="1" nillable="true"/>
                    <xs:element type="xs:string" name="ConditionRecord" minOccurs="0" maxOccurs="1"/>
                    <xs:element type="xs:string" name="ConditionType" minOccurs="0" maxOccurs="1" nillable="true"/>
                    <xs:element type="xs:dateTime" name="ConditionValidityEndDate" minOccurs="0" maxOccurs="1"/>
                    <xs:element type="xs:dateTime" name="ConditionValidityStartDate" minOccurs="0" maxOccurs="1" nillable="true"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="to_SlsPrcgCndnRecordScale" maxOccurs="unbounded" minOccurs="0">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:string" name="ConditionCurrency" minOccurs="0" maxOccurs="1" nillable="true"/>
                    <xs:element type="xs:decimal" name="ConditionRateAmount" minOccurs="0" maxOccurs="1" nillable="true"/>
                    <xs:element type="xs:string" name="ConditionRecord" minOccurs="0" maxOccurs="1"/>
                    <xs:element type="xs:string" name="ConditionScaleLine" minOccurs="0" maxOccurs="1"/>
                    <xs:element type="xs:decimal" name="ConditionScaleQuantity" minOccurs="0" maxOccurs="1" nillable="true"/>
                    <xs:element type="xs:string" name="ConditionScaleQuantityUnit" minOccurs="0" maxOccurs="1" nillable="true"/>
                    <xs:element type="xs:string" name="ConditionSequentialNumber" minOccurs="0" maxOccurs="1" nillable="true"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>