Resources/schemas/Xsd/SAP_Commerce_Cloud_Integration_with_SAP_S-4HANA_Retail_and_SAP_ERP - ProductsEntityPOST6-1.xsd

<?xml version="1.0" encoding="UTF-8"?><xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="qualified">
    <xs:element name="batchParts">
        <xs:complexType>
            <xs:sequence>
                <xs:element maxOccurs="unbounded" minOccurs="1" name="batchChangeSet" nillable="false">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element maxOccurs="unbounded" minOccurs="1" name="batchChangeSetPart" nillable="false">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element maxOccurs="1" minOccurs="1" name="method" nillable="false" type="xs:string"/>
                                        <xs:element maxOccurs="1" minOccurs="0" name="uri" nillable="true" type="xs:string"/>
                                        <xs:element maxOccurs="unbounded" minOccurs="0" name="headers" nillable="true">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element maxOccurs="unbounded" minOccurs="0" name="header" nillable="true">
                                                        <xs:complexType>
                                                            <xs:sequence>
                                                                <xs:element maxOccurs="unbounded" minOccurs="1" name="headerName" nillable="false" type="xs:string"/>
                                                                <xs:element maxOccurs="unbounded" minOccurs="1" name="headerValue" nillable="false" type="xs:string"/>
                                                            </xs:sequence>
                                                        </xs:complexType>
                                                    </xs:element>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element maxOccurs="1" minOccurs="1" name="Products" nillable="false">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element maxOccurs="unbounded" minOccurs="1" name="Product">
                                                        <xs:complexType>
                                                            <xs:sequence>
                                                                <xs:element maxOccurs="unbounded" name="integrationKey" nillable="false" type="xs:string"/>
                                                                <xs:element maxOccurs="unbounded" minOccurs="0" name="discountable" nillable="true" type="xs:boolean"/>
                                                                <xs:element maxOccurs="unbounded" minOccurs="0" name="sapConfigurable" nillable="true" type="xs:boolean"/>
                                                                <xs:element maxOccurs="unbounded" minOccurs="0" name="sapBlockedDate" nillable="true" type="xs:dateTime"/>
                                                                <xs:element maxOccurs="unbounded" minOccurs="0" name="sapBlocked" nillable="true" type="xs:boolean"/>
                                                                <xs:element maxOccurs="unbounded" minOccurs="0" name="name" nillable="true" type="xs:string"/>
                                                                <xs:element maxOccurs="unbounded" minOccurs="0" name="sapBaseUnitConversion" nillable="true" type="xs:double"/>
                                                                <xs:element maxOccurs="unbounded" minOccurs="0" name="sapEAN" nillable="true" type="xs:string"/>
                                                                <xs:element maxOccurs="unbounded" name="code" nillable="false" type="xs:string"/>
                                                                <xs:element maxOccurs="unbounded" minOccurs="0" name="variantType" nillable="true">
                                                                    <xs:complexType>
                                                                        <xs:sequence>
                                                                            <xs:element maxOccurs="1" minOccurs="0" name="VariantType">
                                                                                <xs:complexType>
                                                                                    <xs:sequence>
                                                                                        <xs:element maxOccurs="unbounded" name="integrationKey" nillable="false" type="xs:string"/>
                                                                                        <xs:element maxOccurs="unbounded" name="code" nillable="false" type="xs:string"/>
                                                                                    </xs:sequence>
                                                                                </xs:complexType>
                                                                            </xs:element>
                                                                        </xs:sequence>
                                                                    </xs:complexType>
                                                                </xs:element>
                                                                <xs:element maxOccurs="unbounded" minOccurs="0" name="features" nillable="true">
                                                                    <xs:complexType>
                                                                        <xs:sequence>
                                                                            <xs:element maxOccurs="unbounded" minOccurs="0" name="ProductFeature">
                                                                                <xs:complexType>
                                                                                    <xs:sequence>
                                                                                        <xs:element maxOccurs="unbounded" name="integrationKey" nillable="false" type="xs:string"/>
                                                                                        <xs:element maxOccurs="unbounded" minOccurs="0" name="valuePosition" nillable="true" type="xs:int"/>
                                                                                        <xs:element maxOccurs="unbounded" name="value" nillable="false" type="xs:string"/>
                                                                                        <xs:element maxOccurs="unbounded" name="qualifier" nillable="false" type="xs:string"/>
                                                                                        <xs:element maxOccurs="unbounded" minOccurs="0" name="product" nillable="true">
                                                                                            <xs:complexType>
                                                                                                <xs:sequence>
                                                                                                    <xs:element maxOccurs="1" minOccurs="0" name="Product">
                                                                                                        <xs:complexType>
                                                                                                            <xs:sequence>
                                                                                                                <xs:element maxOccurs="unbounded" name="integrationKey" nillable="false" type="xs:string"/>
                                                                                                                <xs:element maxOccurs="unbounded" name="code" nillable="false" type="xs:string"/>
                                                                                                                <xs:element maxOccurs="unbounded" minOccurs="0" name="catalogVersion" nillable="true">
                                                                                                                    <xs:complexType>
                                                                                                                        <xs:sequence>
                                                                                                                            <xs:element maxOccurs="1" minOccurs="0" name="CatalogVersion">
                                                                                                                                <xs:complexType>
                                                                                                                                    <xs:sequence>
                                                                                                                                        <xs:element maxOccurs="unbounded" name="integrationKey" nillable="false" type="xs:string"/>
                                                                                                                                        <xs:element maxOccurs="unbounded" name="version" nillable="false" type="xs:string"/>
                                                                                                                                        <xs:element maxOccurs="unbounded" minOccurs="0" name="active" nillable="true" type="xs:boolean"/>
                                                                                                                                        <xs:element maxOccurs="unbounded" minOccurs="0" name="catalog" nillable="true">
                                                                                                                                            <xs:complexType>
                                                                                                                                                <xs:sequence>
                                                                                                                                                    <xs:element maxOccurs="1" minOccurs="0" name="Catalog">
                                                                                                                                                        <xs:complexType>
                                                                                                                                                            <xs:sequence>
                                                                                                                                                                <xs:element maxOccurs="unbounded" name="integrationKey" nillable="false" type="xs:string"/>
                                                                                                                                                                <xs:element maxOccurs="unbounded" name="id" nillable="false" type="xs:string"/>
                                                                                                                                                            </xs:sequence>
                                                                                                                                                        </xs:complexType>
                                                                                                                                                    </xs:element>
                                                                                                                                                </xs:sequence>
                                                                                                                                            </xs:complexType>
                                                                                                                                        </xs:element>
                                                                                                                                    </xs:sequence>
                                                                                                                                </xs:complexType>
                                                                                                                            </xs:element>
                                                                                                                        </xs:sequence>
                                                                                                                    </xs:complexType>
                                                                                                                </xs:element>
                                                                                                            </xs:sequence>
                                                                                                        </xs:complexType>
                                                                                                    </xs:element>
                                                                                                </xs:sequence>
                                                                                            </xs:complexType>
                                                                                        </xs:element>
                                                                                        <xs:element maxOccurs="unbounded" minOccurs="0" name="classificationAttributeAssignment" nillable="true">
                                                                                            <xs:complexType>
                                                                                                <xs:sequence>
                                                                                                    <xs:element maxOccurs="1" minOccurs="0" name="ClassAttributeAssignment">
                                                                                                        <xs:complexType>
                                                                                                            <xs:sequence>
                                                                                                                <xs:element maxOccurs="unbounded" name="integrationKey" nillable="false" type="xs:string"/>
                                                                                                                <xs:element maxOccurs="unbounded" minOccurs="0" name="classificationClass" nillable="true">
                                                                                                                    <xs:complexType>
                                                                                                                        <xs:sequence>
                                                                                                                            <xs:element maxOccurs="1" minOccurs="0" name="ClassificationClass">
                                                                                                                                <xs:complexType>
                                                                                                                                    <xs:sequence>
                                                                                                                                        <xs:element maxOccurs="unbounded" name="integrationKey" nillable="false" type="xs:string"/>
                                                                                                                                        <xs:element maxOccurs="unbounded" name="code" nillable="false" type="xs:string"/>
                                                                                                                                        <xs:element maxOccurs="unbounded" minOccurs="0" name="catalogVersion" nillable="true">
                                                                                                                                            <xs:complexType>
                                                                                                                                                <xs:sequence>
                                                                                                                                                    <xs:element maxOccurs="1" minOccurs="0" name="ClassificationSystemVersion">
                                                                                                                                                        <xs:complexType>
                                                                                                                                                            <xs:sequence>
                                                                                                                                                                <xs:element maxOccurs="unbounded" name="integrationKey" nillable="false" type="xs:string"/>
                                                                                                                                                                <xs:element maxOccurs="unbounded" name="version" nillable="false" type="xs:string"/>
                                                                                                                                                                <xs:element maxOccurs="unbounded" minOccurs="0" name="catalog" nillable="true">
                                                                                                                                                                    <xs:complexType>
                                                                                                                                                                        <xs:sequence>
                                                                                                                                                                            <xs:element maxOccurs="1" minOccurs="0" name="ClassificationSystem">
                                                                                                                                                                                <xs:complexType>
                                                                                                                                                                                    <xs:sequence>
                                                                                                                                                                                        <xs:element maxOccurs="unbounded" name="integrationKey" nillable="false" type="xs:string"/>
                                                                                                                                                                                        <xs:element maxOccurs="unbounded" name="id" nillable="false" type="xs:string"/>
                                                                                                                                                                                    </xs:sequence>
                                                                                                                                                                                </xs:complexType>
                                                                                                                                                                            </xs:element>
                                                                                                                                                                        </xs:sequence>
                                                                                                                                                                    </xs:complexType>
                                                                                                                                                                </xs:element>
                                                                                                                                                            </xs:sequence>
                                                                                                                                                        </xs:complexType>
                                                                                                                                                    </xs:element>
                                                                                                                                                </xs:sequence>
                                                                                                                                            </xs:complexType>
                                                                                                                                        </xs:element>
                                                                                                                                    </xs:sequence>
                                                                                                                                </xs:complexType>
                                                                                                                            </xs:element>
                                                                                                                        </xs:sequence>
                                                                                                                    </xs:complexType>
                                                                                                                </xs:element>
                                                                                                                <xs:element maxOccurs="unbounded" minOccurs="0" name="classificationAttribute" nillable="true">
                                                                                                                    <xs:complexType>
                                                                                                                        <xs:sequence>
                                                                                                                            <xs:element maxOccurs="1" minOccurs="0" name="ClassificationAttribute">
                                                                                                                                <xs:complexType>
                                                                                                                                    <xs:sequence>
                                                                                                                                        <xs:element maxOccurs="unbounded" name="integrationKey" nillable="false" type="xs:string"/>
                                                                                                                                        <xs:element maxOccurs="unbounded" name="code" nillable="false" type="xs:string"/>
                                                                                                                                        <xs:element maxOccurs="unbounded" minOccurs="0" name="systemVersion" nillable="true">
                                                                                                                                            <xs:complexType>
                                                                                                                                                <xs:sequence>
                                                                                                                                                    <xs:element maxOccurs="1" minOccurs="0" name="ClassificationSystemVersion">
                                                                                                                                                        <xs:complexType>
                                                                                                                                                            <xs:sequence>
                                                                                                                                                                <xs:element maxOccurs="unbounded" name="integrationKey" nillable="false" type="xs:string"/>
                                                                                                                                                                <xs:element maxOccurs="unbounded" name="version" nillable="false" type="xs:string"/>
                                                                                                                                                                <xs:element maxOccurs="unbounded" minOccurs="0" name="catalog" nillable="true">
                                                                                                                                                                    <xs:complexType>
                                                                                                                                                                        <xs:sequence>
                                                                                                                                                                            <xs:element maxOccurs="1" minOccurs="0" name="ClassificationSystem">
                                                                                                                                                                                <xs:complexType>
                                                                                                                                                                                    <xs:sequence>
                                                                                                                                                                                        <xs:element maxOccurs="unbounded" name="integrationKey" nillable="false" type="xs:string"/>
                                                                                                                                                                                        <xs:element maxOccurs="unbounded" name="id" nillable="false" type="xs:string"/>
                                                                                                                                                                                    </xs:sequence>
                                                                                                                                                                                </xs:complexType>
                                                                                                                                                                            </xs:element>
                                                                                                                                                                        </xs:sequence>
                                                                                                                                                                    </xs:complexType>
                                                                                                                                                                </xs:element>
                                                                                                                                                            </xs:sequence>
                                                                                                                                                        </xs:complexType>
                                                                                                                                                    </xs:element>
                                                                                                                                                </xs:sequence>
                                                                                                                                            </xs:complexType>
                                                                                                                                        </xs:element>
                                                                                                                                    </xs:sequence>
                                                                                                                                </xs:complexType>
                                                                                                                            </xs:element>
                                                                                                                        </xs:sequence>
                                                                                                                    </xs:complexType>
                                                                                                                </xs:element>
                                                                                                            </xs:sequence>
                                                                                                        </xs:complexType>
                                                                                                    </xs:element>
                                                                                                </xs:sequence>
                                                                                            </xs:complexType>
                                                                                        </xs:element>
                                                                                    </xs:sequence>
                                                                                </xs:complexType>
                                                                            </xs:element>
                                                                        </xs:sequence>
                                                                    </xs:complexType>
                                                                </xs:element>
                                                                <xs:element maxOccurs="unbounded" minOccurs="0" name="supercategories" nillable="true">
                                                                    <xs:complexType>
                                                                        <xs:sequence>
                                                                            <xs:element maxOccurs="unbounded" minOccurs="0" name="Category">
                                                                                <xs:complexType>
                                                                                    <xs:sequence>
                                                                                        <xs:element maxOccurs="unbounded" name="integrationKey" nillable="false" type="xs:string"/>
                                                                                        <xs:element maxOccurs="unbounded" name="code" nillable="false" type="xs:string"/>
                                                                                        <xs:element maxOccurs="unbounded" minOccurs="0" name="catalogVersion" nillable="true">
                                                                                            <xs:complexType>
                                                                                                <xs:sequence>
                                                                                                    <xs:element maxOccurs="1" minOccurs="0" name="CatalogVersion">
                                                                                                        <xs:complexType>
                                                                                                            <xs:sequence>
                                                                                                                <xs:element maxOccurs="unbounded" name="integrationKey" nillable="false" type="xs:string"/>
                                                                                                                <xs:element maxOccurs="unbounded" name="version" nillable="false" type="xs:string"/>
                                                                                                                <xs:element maxOccurs="unbounded" minOccurs="0" name="active" nillable="true" type="xs:boolean"/>
                                                                                                                <xs:element maxOccurs="unbounded" minOccurs="0" name="catalog" nillable="true">
                                                                                                                    <xs:complexType>
                                                                                                                        <xs:sequence>
                                                                                                                            <xs:element maxOccurs="1" minOccurs="0" name="Catalog">
                                                                                                                                <xs:complexType>
                                                                                                                                    <xs:sequence>
                                                                                                                                        <xs:element maxOccurs="unbounded" name="integrationKey" nillable="false" type="xs:string"/>
                                                                                                                                        <xs:element maxOccurs="unbounded" name="id" nillable="false" type="xs:string"/>
                                                                                                                                    </xs:sequence>
                                                                                                                                </xs:complexType>
                                                                                                                            </xs:element>
                                                                                                                        </xs:sequence>
                                                                                                                    </xs:complexType>
                                                                                                                </xs:element>
                                                                                                            </xs:sequence>
                                                                                                        </xs:complexType>
                                                                                                    </xs:element>
                                                                                                </xs:sequence>
                                                                                            </xs:complexType>
                                                                                        </xs:element>
                                                                                    </xs:sequence>
                                                                                </xs:complexType>
                                                                            </xs:element>
                                                                        </xs:sequence>
                                                                    </xs:complexType>
                                                                </xs:element>
                                                                <xs:element maxOccurs="unbounded" minOccurs="0" name="Europe1PriceFactory_PTG" nillable="true">
                                                                    <xs:complexType>
                                                                        <xs:sequence>
                                                                            <xs:element maxOccurs="1" minOccurs="0" name="ProductTaxGroup">
                                                                                <xs:complexType>
                                                                                    <xs:sequence>
                                                                                        <xs:element maxOccurs="unbounded" name="integrationKey" nillable="false" type="xs:string"/>
                                                                                        <xs:element maxOccurs="unbounded" name="code" nillable="false" type="xs:string"/>
                                                                                    </xs:sequence>
                                                                                </xs:complexType>
                                                                            </xs:element>
                                                                        </xs:sequence>
                                                                    </xs:complexType>
                                                                </xs:element>
                                                                <xs:element maxOccurs="unbounded" minOccurs="0" name="unit" nillable="true">
                                                                    <xs:complexType>
                                                                        <xs:sequence>
                                                                            <xs:element maxOccurs="1" minOccurs="0" name="Unit">
                                                                                <xs:complexType>
                                                                                    <xs:sequence>
                                                                                        <xs:element maxOccurs="unbounded" name="integrationKey" nillable="false" type="xs:string"/>
                                                                                        <xs:element maxOccurs="unbounded" minOccurs="0" name="name" nillable="true" type="xs:string"/>
                                                                                        <xs:element maxOccurs="unbounded" name="unitType" nillable="false" type="xs:string"/>
                                                                                        <xs:element maxOccurs="unbounded" name="code" nillable="false" type="xs:string"/>
                                                                                        <xs:element maxOccurs="unbounded" minOccurs="0" name="localizedAttributes" nillable="true">
                                                                                            <xs:complexType>
                                                                                                <xs:sequence>
                                                                                                    <xs:element maxOccurs="unbounded" minOccurs="0" name="Localized___Unit">
                                                                                                        <xs:complexType>
                                                                                                            <xs:sequence>
                                                                                                                <xs:element maxOccurs="unbounded" name="language" nillable="false" type="xs:string"/>
                                                                                                                <xs:element maxOccurs="unbounded" minOccurs="0" name="name" nillable="true" type="xs:string"/>
                                                                                                            </xs:sequence>
                                                                                                        </xs:complexType>
                                                                                                    </xs:element>
                                                                                                </xs:sequence>
                                                                                            </xs:complexType>
                                                                                        </xs:element>
                                                                                    </xs:sequence>
                                                                                </xs:complexType>
                                                                            </xs:element>
                                                                        </xs:sequence>
                                                                    </xs:complexType>
                                                                </xs:element>
                                                                <xs:element maxOccurs="unbounded" minOccurs="0" name="catalogVersion" nillable="true">
                                                                    <xs:complexType>
                                                                        <xs:sequence>
                                                                            <xs:element maxOccurs="1" minOccurs="0" name="CatalogVersion">
                                                                                <xs:complexType>
                                                                                    <xs:sequence>
                                                                                        <xs:element maxOccurs="unbounded" name="integrationKey" nillable="false" type="xs:string"/>
                                                                                        <xs:element maxOccurs="unbounded" name="version" nillable="false" type="xs:string"/>
                                                                                        <xs:element maxOccurs="unbounded" minOccurs="0" name="active" nillable="true" type="xs:boolean"/>
                                                                                        <xs:element maxOccurs="unbounded" minOccurs="0" name="catalog" nillable="true">
                                                                                            <xs:complexType>
                                                                                                <xs:sequence>
                                                                                                    <xs:element maxOccurs="1" minOccurs="0" name="Catalog">
                                                                                                        <xs:complexType>
                                                                                                            <xs:sequence>
                                                                                                                <xs:element maxOccurs="unbounded" name="integrationKey" nillable="false" type="xs:string"/>
                                                                                                                <xs:element maxOccurs="unbounded" name="id" nillable="false" type="xs:string"/>
                                                                                                            </xs:sequence>
                                                                                                        </xs:complexType>
                                                                                                    </xs:element>
                                                                                                </xs:sequence>
                                                                                            </xs:complexType>
                                                                                        </xs:element>
                                                                                    </xs:sequence>
                                                                                </xs:complexType>
                                                                            </xs:element>
                                                                        </xs:sequence>
                                                                    </xs:complexType>
                                                                </xs:element>
                                                                <xs:element maxOccurs="unbounded" minOccurs="0" name="Europe1PriceFactory_PDG" nillable="true">
                                                                    <xs:complexType>
                                                                        <xs:sequence>
                                                                            <xs:element maxOccurs="1" minOccurs="0" name="ProductDiscountGroup">
                                                                                <xs:complexType>
                                                                                    <xs:sequence>
                                                                                        <xs:element maxOccurs="unbounded" name="integrationKey" nillable="false" type="xs:string"/>
                                                                                        <xs:element maxOccurs="unbounded" name="code" nillable="false" type="xs:string"/>
                                                                                    </xs:sequence>
                                                                                </xs:complexType>
                                                                            </xs:element>
                                                                        </xs:sequence>
                                                                    </xs:complexType>
                                                                </xs:element>
                                                                <xs:element maxOccurs="unbounded" minOccurs="0" name="approvalStatus" nillable="true">
                                                                    <xs:complexType>
                                                                        <xs:sequence>
                                                                            <xs:element maxOccurs="1" minOccurs="0" name="ArticleApprovalStatus">
                                                                                <xs:complexType>
                                                                                    <xs:sequence>
                                                                                        <xs:element maxOccurs="unbounded" name="integrationKey" nillable="false" type="xs:string"/>
                                                                                        <xs:element maxOccurs="unbounded" name="code" nillable="false" type="xs:string"/>
                                                                                    </xs:sequence>
                                                                                </xs:complexType>
                                                                            </xs:element>
                                                                        </xs:sequence>
                                                                    </xs:complexType>
                                                                </xs:element>
                                                                <xs:element maxOccurs="unbounded" minOccurs="0" name="Europe1PriceFactory_PPG" nillable="true">
                                                                    <xs:complexType>
                                                                        <xs:sequence>
                                                                            <xs:element maxOccurs="1" minOccurs="0" name="ProductPriceGroup">
                                                                                <xs:complexType>
                                                                                    <xs:sequence>
                                                                                        <xs:element maxOccurs="unbounded" name="integrationKey" nillable="false" type="xs:string"/>
                                                                                        <xs:element maxOccurs="unbounded" name="code" nillable="false" type="xs:string"/>
                                                                                    </xs:sequence>
                                                                                </xs:complexType>
                                                                            </xs:element>
                                                                        </xs:sequence>
                                                                    </xs:complexType>
                                                                </xs:element>
                                                                <xs:element maxOccurs="unbounded" minOccurs="0" name="localizedAttributes" nillable="true">
                                                                    <xs:complexType>
                                                                        <xs:sequence>
                                                                            <xs:element maxOccurs="unbounded" minOccurs="0" name="Localized___Product">
                                                                                <xs:complexType>
                                                                                    <xs:sequence>
                                                                                        <xs:element maxOccurs="unbounded" name="language" nillable="false" type="xs:string"/>
                                                                                        <xs:element maxOccurs="unbounded" minOccurs="0" name="name" nillable="true" type="xs:string"/>
                                                                                    </xs:sequence>
                                                                                </xs:complexType>
                                                                            </xs:element>
                                                                        </xs:sequence>
                                                                    </xs:complexType>
                                                                </xs:element>
                                                                <xs:element maxOccurs="1" minOccurs="0" name="link">
                                                                    <xs:complexType>
                                                                        <xs:sequence>
                                                                            <xs:element maxOccurs="unbounded" minOccurs="0" name="variantType" nillable="true">
                                                                                <xs:complexType>
                                                                                    <xs:sequence>
                                                                                        <xs:element maxOccurs="1" minOccurs="0" name="VariantType">
                                                                                            <xs:complexType>
                                                                                                <xs:sequence>
                                                                                                    <xs:element maxOccurs="1" minOccurs="1" name="integrationKey" type="xs:string"/>
                                                                                                </xs:sequence>
                                                                                            </xs:complexType>
                                                                                        </xs:element>
                                                                                    </xs:sequence>
                                                                                </xs:complexType>
                                                                            </xs:element>
                                                                            <xs:element maxOccurs="unbounded" minOccurs="0" name="features" nillable="true">
                                                                                <xs:complexType>
                                                                                    <xs:sequence>
                                                                                        <xs:element maxOccurs="unbounded" minOccurs="0" name="ProductFeature">
                                                                                            <xs:complexType>
                                                                                                <xs:sequence>
                                                                                                    <xs:element maxOccurs="1" minOccurs="1" name="integrationKey" type="xs:string"/>
                                                                                                </xs:sequence>
                                                                                            </xs:complexType>
                                                                                        </xs:element>
                                                                                    </xs:sequence>
                                                                                </xs:complexType>
                                                                            </xs:element>
                                                                            <xs:element maxOccurs="unbounded" minOccurs="0" name="supercategories" nillable="true">
                                                                                <xs:complexType>
                                                                                    <xs:sequence>
                                                                                        <xs:element maxOccurs="unbounded" minOccurs="0" name="Category">
                                                                                            <xs:complexType>
                                                                                                <xs:sequence>
                                                                                                    <xs:element maxOccurs="1" minOccurs="1" name="integrationKey" type="xs:string"/>
                                                                                                </xs:sequence>
                                                                                            </xs:complexType>
                                                                                        </xs:element>
                                                                                    </xs:sequence>
                                                                                </xs:complexType>
                                                                            </xs:element>
                                                                            <xs:element maxOccurs="unbounded" minOccurs="0" name="Europe1PriceFactory_PTG" nillable="true">
                                                                                <xs:complexType>
                                                                                    <xs:sequence>
                                                                                        <xs:element maxOccurs="1" minOccurs="0" name="ProductTaxGroup">
                                                                                            <xs:complexType>
                                                                                                <xs:sequence>
                                                                                                    <xs:element maxOccurs="1" minOccurs="1" name="integrationKey" type="xs:string"/>
                                                                                                </xs:sequence>
                                                                                            </xs:complexType>
                                                                                        </xs:element>
                                                                                    </xs:sequence>
                                                                                </xs:complexType>
                                                                            </xs:element>
                                                                            <xs:element maxOccurs="unbounded" minOccurs="0" name="unit" nillable="true">
                                                                                <xs:complexType>
                                                                                    <xs:sequence>
                                                                                        <xs:element maxOccurs="1" minOccurs="0" name="Unit">
                                                                                            <xs:complexType>
                                                                                                <xs:sequence>
                                                                                                    <xs:element maxOccurs="1" minOccurs="1" name="integrationKey" type="xs:string"/>
                                                                                                </xs:sequence>
                                                                                            </xs:complexType>
                                                                                        </xs:element>
                                                                                    </xs:sequence>
                                                                                </xs:complexType>
                                                                            </xs:element>
                                                                            <xs:element maxOccurs="unbounded" minOccurs="0" name="catalogVersion" nillable="true">
                                                                                <xs:complexType>
                                                                                    <xs:sequence>
                                                                                        <xs:element maxOccurs="1" minOccurs="0" name="CatalogVersion">
                                                                                            <xs:complexType>
                                                                                                <xs:sequence>
                                                                                                    <xs:element maxOccurs="1" minOccurs="1" name="integrationKey" type="xs:string"/>
                                                                                                </xs:sequence>
                                                                                            </xs:complexType>
                                                                                        </xs:element>
                                                                                    </xs:sequence>
                                                                                </xs:complexType>
                                                                            </xs:element>
                                                                            <xs:element maxOccurs="unbounded" minOccurs="0" name="Europe1PriceFactory_PDG" nillable="true">
                                                                                <xs:complexType>
                                                                                    <xs:sequence>
                                                                                        <xs:element maxOccurs="1" minOccurs="0" name="ProductDiscountGroup">
                                                                                            <xs:complexType>
                                                                                                <xs:sequence>
                                                                                                    <xs:element maxOccurs="1" minOccurs="1" name="integrationKey" type="xs:string"/>
                                                                                                </xs:sequence>
                                                                                            </xs:complexType>
                                                                                        </xs:element>
                                                                                    </xs:sequence>
                                                                                </xs:complexType>
                                                                            </xs:element>
                                                                            <xs:element maxOccurs="unbounded" minOccurs="0" name="approvalStatus" nillable="true">
                                                                                <xs:complexType>
                                                                                    <xs:sequence>
                                                                                        <xs:element maxOccurs="1" minOccurs="0" name="ArticleApprovalStatus">
                                                                                            <xs:complexType>
                                                                                                <xs:sequence>
                                                                                                    <xs:element maxOccurs="1" minOccurs="1" name="integrationKey" type="xs:string"/>
                                                                                                </xs:sequence>
                                                                                            </xs:complexType>
                                                                                        </xs:element>
                                                                                    </xs:sequence>
                                                                                </xs:complexType>
                                                                            </xs:element>
                                                                            <xs:element maxOccurs="unbounded" minOccurs="0" name="Europe1PriceFactory_PPG" nillable="true">
                                                                                <xs:complexType>
                                                                                    <xs:sequence>
                                                                                        <xs:element maxOccurs="1" minOccurs="0" name="ProductPriceGroup">
                                                                                            <xs:complexType>
                                                                                                <xs:sequence>
                                                                                                    <xs:element maxOccurs="1" minOccurs="1" name="integrationKey" type="xs:string"/>
                                                                                                </xs:sequence>
                                                                                            </xs:complexType>
                                                                                        </xs:element>
                                                                                    </xs:sequence>
                                                                                </xs:complexType>
                                                                            </xs:element>
                                                                            <xs:element maxOccurs="unbounded" minOccurs="0" name="localizedAttributes" nillable="true">
                                                                                <xs:complexType>
                                                                                    <xs:sequence>
                                                                                        <xs:element maxOccurs="unbounded" minOccurs="0" name="Localized___Product">
                                                                                            <xs:complexType>
                                                                                                <xs:sequence>
                                                                                                    <xs:element maxOccurs="1" minOccurs="1" name="language" type="xs:string"/>
                                                                                                </xs:sequence>
                                                                                            </xs:complexType>
                                                                                        </xs:element>
                                                                                    </xs:sequence>
                                                                                </xs:complexType>
                                                                            </xs:element>
                                                                        </xs:sequence>
                                                                    </xs:complexType>
                                                                </xs:element>
                                                            </xs:sequence>
                                                        </xs:complexType>
                                                    </xs:element>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>