Resources/schemas/Xsd/SAP_S-4HANA_Integration_with_JIRA - inputSchemaForJiraProject.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- Created with Liquid Technologies Online Tools 1.0 (https://www.liquid-technologies.com) -->
<xs:schema xmlns:multimap="http://sap.com/xi/XI/SplitAndMerge" attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="ROOT">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="DESCRIPTION" type="xs:string" />
        <xs:element name="STATUS" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>