Resources/schemas/Xsd/SAP_SuccessFactors_Talent_Intelligence_Hub_Integration_with_Cobrainer_Job_Architecture - Cobrainer_JobFamily.xsd

<?xml version="1.0" encoding="UTF-8"?><!-- Created with Liquid Technologies Online Tools 1.0 (https://www.liquid-technologies.com) --><xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="qualified">
    <xs:element name="root">
        <xs:complexType>
            <xs:sequence>
                <xs:element maxOccurs="unbounded" name="data">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element minOccurs="1" name="id" type="xs:string"/>
                            <xs:element minOccurs="1" name="state" type="xs:string"/>
                            <xs:element minOccurs="0" name="sfsfExternalCode" type="xs:string"/>
                            <xs:element maxOccurs="unbounded" name="translations">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element minOccurs="1" name="language" type="xs:string"/>
                                        <xs:element minOccurs="1" name="title" type="xs:string"/>
                                        <xs:element minOccurs="1" name="description" type="xs:string"/>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>