Resources/schemas/Xsd/SAP_Complaint_Handling_Integration_with_Master_Data_and_Business_Objects - BusinessPartnerValidator.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="qualified">
   <xs:element name="businessPartner">
      <xs:complexType>
         <xs:sequence>
            <xs:element maxOccurs="unbounded" name="row">
               <xs:complexType>
                  <xs:sequence>
                     <xs:element name="businessPartnerNumber">
                        <xs:simpleType>
                           <xs:restriction base="xs:string">
                           </xs:restriction>
                        </xs:simpleType>
                     </xs:element>
                     <xs:element name="vendorCode">
                        <xs:simpleType>
                           <xs:restriction base="xs:string">
                           </xs:restriction>
                        </xs:simpleType>
                     </xs:element>
                     <xs:element name="customerCode">
                        <xs:simpleType>
                           <xs:restriction base="xs:string">
                           </xs:restriction>
                        </xs:simpleType>
                     </xs:element>
                     <xs:element name="companyCode">
                        <xs:simpleType>
                           <xs:restriction base="xs:string">
                           </xs:restriction>
                        </xs:simpleType>
                     </xs:element>
                     <xs:element name="businessPartnerName1">
                        <xs:simpleType>
                           <xs:restriction base="xs:string">
                           </xs:restriction>
                        </xs:simpleType>
                     </xs:element>
					 <xs:element name="businessPartnerName2">
                        <xs:simpleType>
                           <xs:restriction base="xs:string">
                           </xs:restriction>
                        </xs:simpleType>
                     </xs:element>
                     <xs:element name="businessPartnerType">
                        <xs:simpleType>
                           <xs:restriction base="xs:string">
                           </xs:restriction>
                        </xs:simpleType>
                     </xs:element>
                     <xs:element name="address">
                        <xs:simpleType>
                           <xs:restriction base="xs:string">
                           </xs:restriction>
                        </xs:simpleType>
                     </xs:element>
                  </xs:sequence>
               </xs:complexType>
            </xs:element>
         </xs:sequence>
      </xs:complexType>
   </xs:element>
</xs:schema>