Resources/schemas/Xsd/SAP_Marketing_Cloud_Integration_with_SAP_Customer_Relationship_Management - MarketingPermissionsEntityMERGE1.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="batchParts">
        <xs:complexType>
            <xs:sequence>
                <xs:element nillable="false" minOccurs="1" maxOccurs="unbounded" name="batchChangeSet">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element nillable="false" minOccurs="1" maxOccurs="unbounded" name="batchChangeSetPart">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element type="xs:string" nillable="false" minOccurs="1" maxOccurs="1" name="method" xmlns=""/>
                                        <xs:element type="xs:string" nillable="true" minOccurs="0" maxOccurs="1" name="uri" xmlns=""/>
                                        <xs:element nillable="true" minOccurs="0" maxOccurs="unbounded" name="headers">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element nillable="true" minOccurs="0" maxOccurs="unbounded" name="header">
                                                        <xs:complexType>
                                                            <xs:sequence>
                                                                <xs:element type="xs:string" nillable="false" minOccurs="1" maxOccurs="unbounded" name="headerName" xmlns=""/>
                                                                <xs:element type="xs:string" nillable="false" minOccurs="1" maxOccurs="unbounded" name="headerValue" xmlns=""/>
                                                            </xs:sequence>
                                                        </xs:complexType>
                                                    </xs:element>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element nillable="false" minOccurs="1" maxOccurs="1" name="MarketingPermissions">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element minOccurs="1" maxOccurs="unbounded" name="MarketingPermission">
                                                        <xs:complexType>
                                                            <xs:sequence>
                                                                <xs:element nillable="true" minOccurs="0" maxOccurs="unbounded" name="PermissionSourceSystem">
                                                                    <xs:simpleType>
                                                                        <xs:restriction base="xs:string" xmlns="">
                                                                            <xs:maxLength value="255"/>
                                                                        </xs:restriction>
                                                                    </xs:simpleType>
                                                                </xs:element>
                                                                <xs:element nillable="true" minOccurs="0" maxOccurs="unbounded" name="CommunicationDirection">
                                                                    <xs:simpleType>
                                                                        <xs:restriction base="xs:string" xmlns="">
                                                                            <xs:maxLength value="1"/>
                                                                        </xs:restriction>
                                                                    </xs:simpleType>
                                                                </xs:element>
                                                                <xs:element nillable="true" minOccurs="0" maxOccurs="unbounded" name="CommunicationCategoryName">
                                                                    <xs:simpleType>
                                                                        <xs:restriction base="xs:string" xmlns="">
                                                                            <xs:maxLength value="40"/>
                                                                        </xs:restriction>
                                                                    </xs:simpleType>
                                                                </xs:element>
                                                                <xs:element nillable="false" maxOccurs="unbounded" name="InteractionContactPermission">
                                                                    <xs:simpleType>
                                                                        <xs:restriction base="xs:string" xmlns="">
                                                                            <xs:maxLength value="1"/>
                                                                        </xs:restriction>
                                                                    </xs:simpleType>
                                                                </xs:element>
                                                                <xs:element nillable="true" minOccurs="0" maxOccurs="unbounded" name="PermissionSourceObjectType">
                                                                    <xs:simpleType>
                                                                        <xs:restriction base="xs:string" xmlns="">
                                                                            <xs:maxLength value="30"/>
                                                                        </xs:restriction>
                                                                    </xs:simpleType>
                                                                </xs:element>
                                                                <xs:element nillable="false" maxOccurs="unbounded" name="InteractionContactOrigin">
                                                                    <xs:simpleType>
                                                                        <xs:restriction base="xs:string" xmlns="">
                                                                            <xs:maxLength value="20"/>
                                                                        </xs:restriction>
                                                                    </xs:simpleType>
                                                                </xs:element>
                                                                <xs:element nillable="true" minOccurs="0" maxOccurs="unbounded" name="PermissionSourceCommMedium">
                                                                    <xs:simpleType>
                                                                        <xs:restriction base="xs:string" xmlns="">
                                                                            <xs:maxLength value="20"/>
                                                                        </xs:restriction>
                                                                    </xs:simpleType>
                                                                </xs:element>
                                                                <xs:element nillable="false" maxOccurs="unbounded" name="CommunicationCategory">
                                                                    <xs:simpleType>
                                                                        <xs:restriction base="xs:string" xmlns="">
                                                                            <xs:maxLength value="10"/>
                                                                        </xs:restriction>
                                                                    </xs:simpleType>
                                                                </xs:element>
                                                                <xs:element nillable="false" maxOccurs="unbounded" name="CommunicationMedium">
                                                                    <xs:simpleType>
                                                                        <xs:restriction base="xs:string" xmlns="">
                                                                            <xs:maxLength value="20"/>
                                                                        </xs:restriction>
                                                                    </xs:simpleType>
                                                                </xs:element>
                                                                <xs:element nillable="false" maxOccurs="unbounded" name="MarketingArea">
                                                                    <xs:simpleType>
                                                                        <xs:restriction base="xs:string" xmlns="">
                                                                            <xs:maxLength value="40"/>
                                                                        </xs:restriction>
                                                                    </xs:simpleType>
                                                                </xs:element>
                                                                <xs:element nillable="true" minOccurs="0" maxOccurs="unbounded" name="PermissionSourceSystemType">
                                                                    <xs:simpleType>
                                                                        <xs:restriction base="xs:string" xmlns="">
                                                                            <xs:maxLength value="20"/>
                                                                        </xs:restriction>
                                                                    </xs:simpleType>
                                                                </xs:element>
                                                                <xs:element nillable="false" maxOccurs="unbounded" name="InteractionContactID">
                                                                    <xs:simpleType>
                                                                        <xs:restriction base="xs:string" xmlns="">
                                                                            <xs:maxLength value="255"/>
                                                                        </xs:restriction>
                                                                    </xs:simpleType>
                                                                </xs:element>
                                                                <xs:element nillable="true" minOccurs="0" maxOccurs="unbounded" name="PermissionSourceObject">
                                                                    <xs:simpleType>
                                                                        <xs:restriction base="xs:string" xmlns="">
                                                                            <xs:maxLength value="50"/>
                                                                        </xs:restriction>
                                                                    </xs:simpleType>
                                                                </xs:element>
                                                                <xs:element nillable="false" maxOccurs="unbounded" name="InteractionContactPermissionID">
                                                                    <xs:simpleType>
                                                                        <xs:restriction base="xs:string" xmlns="">
                                                                            <xs:maxLength value="255"/>
                                                                        </xs:restriction>
                                                                    </xs:simpleType>
                                                                </xs:element>
                                                                <xs:element nillable="false" maxOccurs="unbounded" name="IntactnCntctPermissionOrigin">
                                                                    <xs:simpleType>
                                                                        <xs:restriction base="xs:string" xmlns="">
                                                                            <xs:maxLength value="20"/>
                                                                        </xs:restriction>
                                                                    </xs:simpleType>
                                                                </xs:element>
                                                                <xs:element type="xs:dateTime" nillable="true" minOccurs="0" maxOccurs="unbounded" name="PermissionUTCDateTime" xmlns=""/>
                                                                <xs:element type="xs:boolean" nillable="false" maxOccurs="unbounded" name="PermissionIsExplicit" xmlns=""/>
                                                            </xs:sequence>
                                                        </xs:complexType>
                                                    </xs:element>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>
