Resources/schemas/Xsd/SAP_Commerce_financial_services_accelerator_integration_with_SAP_for_Insurance - ErrorMsgPayload-3.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="root">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="ErrorMessages" minOccurs="0" maxOccurs="1">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="Message" maxOccurs="unbounded" minOccurs="0">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:string" name="Type" minOccurs="0"/>
                    <xs:element type="xs:string" name="Id" minOccurs="0"/>
                    <xs:element type="xs:string" name="Number" minOccurs="0"/>
                    <xs:element type="xs:string" name="MessageText" minOccurs="1"/>
                    <xs:element type="xs:string" name="SystemId" minOccurs="0"/>
                    <xs:element type="xs:string" name="CpiProcessStep" minOccurs="0"/>
                    <xs:element type="xs:string" name="StatusCode" minOccurs="0"/>
                    <xs:element type="xs:string" name="ErrorStack" minOccurs="0"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>