Resources/schemas/Xsd/SAP_CPQ_-_Quote_2.0_Integration_with_SAP_S-4HANA_Sales_Order - CPQ_Response.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="CPQ_Response">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="SalesOrderID" minOccurs="0" maxOccurs="1"/>		
				<xs:element name="ErrorMessage" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>