Resources/schemas/Xsd/SAP_ERP_Integration_with_SAP_Build_Process_Automation_for_Vendor_Master - idoc_trg-3.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://www.w3.org/2001/XMLSchema" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="schema">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="element">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="annotation">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:string" name="documentation"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="complexType">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="sequence">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="element">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="complexType">
                                  <xs:complexType>
                                    <xs:sequence>
                                      <xs:element name="sequence">
                                        <xs:complexType>
                                          <xs:sequence>
                                            <xs:element name="element" maxOccurs="unbounded" minOccurs="0">
                                              <xs:complexType>
                                                <xs:sequence>
                                                  <xs:element name="annotation" minOccurs="0">
                                                    <xs:complexType>
                                                      <xs:sequence>
                                                        <xs:element type="xs:string" name="documentation"/>
                                                      </xs:sequence>
                                                    </xs:complexType>
                                                  </xs:element>
                                                  <xs:element name="complexType">
                                                    <xs:complexType>
                                                      <xs:sequence>
                                                        <xs:element name="sequence">
                                                          <xs:complexType>
                                                            <xs:sequence>
                                                              <xs:element name="element" maxOccurs="unbounded" minOccurs="0">
                                                                <xs:complexType>
                                                                  <xs:sequence>
                                                                    <xs:element name="annotation">
                                                                      <xs:complexType>
                                                                        <xs:sequence>
                                                                          <xs:element type="xs:string" name="documentation"/>
                                                                        </xs:sequence>
                                                                      </xs:complexType>
                                                                    </xs:element>
                                                                    <xs:element name="simpleType" minOccurs="0">
                                                                      <xs:complexType>
                                                                        <xs:sequence>
                                                                          <xs:element name="restriction">
                                                                            <xs:complexType>
                                                                              <xs:sequence>
                                                                                <xs:element name="maxLength" minOccurs="0">
                                                                                  <xs:complexType>
                                                                                    <xs:simpleContent>
                                                                                      <xs:extension base="xs:string">
                                                                                        <xs:attribute type="xs:short" name="value" use="optional"/>
                                                                                      </xs:extension>
                                                                                    </xs:simpleContent>
                                                                                  </xs:complexType>
                                                                                </xs:element>
                                                                                <xs:element name="enumeration" maxOccurs="unbounded" minOccurs="0">
                                                                                  <xs:complexType>
                                                                                    <xs:sequence>
                                                                                      <xs:element name="annotation">
                                                                                        <xs:complexType>
                                                                                          <xs:sequence>
                                                                                            <xs:element type="xs:string" name="documentation"/>
                                                                                          </xs:sequence>
                                                                                        </xs:complexType>
                                                                                      </xs:element>
                                                                                    </xs:sequence>
                                                                                    <xs:attribute type="xs:byte" name="value" use="optional"/>
                                                                                  </xs:complexType>
                                                                                </xs:element>
                                                                              </xs:sequence>
                                                                              <xs:attribute type="xs:QName" name="base" use="optional"/>
                                                                            </xs:complexType>
                                                                          </xs:element>
                                                                        </xs:sequence>
                                                                      </xs:complexType>
                                                                    </xs:element>
                                                                    <xs:element name="complexType" minOccurs="0">
                                                                      <xs:complexType>
                                                                        <xs:sequence>
                                                                          <xs:element name="sequence">
                                                                            <xs:complexType>
                                                                              <xs:sequence>
                                                                                <xs:element name="element" maxOccurs="unbounded" minOccurs="0">
                                                                                  <xs:complexType>
                                                                                    <xs:sequence>
                                                                                      <xs:element name="annotation">
                                                                                        <xs:complexType>
                                                                                          <xs:sequence>
                                                                                            <xs:element type="xs:string" name="documentation"/>
                                                                                          </xs:sequence>
                                                                                        </xs:complexType>
                                                                                      </xs:element>
                                                                                      <xs:element name="simpleType" minOccurs="0">
                                                                                        <xs:complexType>
                                                                                          <xs:sequence>
                                                                                            <xs:element name="restriction">
                                                                                              <xs:complexType>
                                                                                                <xs:sequence>
                                                                                                  <xs:element name="maxLength">
                                                                                                    <xs:complexType>
                                                                                                      <xs:simpleContent>
                                                                                                        <xs:extension base="xs:string">
                                                                                                          <xs:attribute type="xs:short" name="value" use="optional"/>
                                                                                                        </xs:extension>
                                                                                                      </xs:simpleContent>
                                                                                                    </xs:complexType>
                                                                                                  </xs:element>
                                                                                                </xs:sequence>
                                                                                                <xs:attribute type="xs:QName" name="base" use="optional"/>
                                                                                              </xs:complexType>
                                                                                            </xs:element>
                                                                                          </xs:sequence>
                                                                                        </xs:complexType>
                                                                                      </xs:element>
                                                                                      <xs:element name="complexType" minOccurs="0">
                                                                                        <xs:complexType>
                                                                                          <xs:sequence>
                                                                                            <xs:element name="sequence">
                                                                                              <xs:complexType>
                                                                                                <xs:sequence>
                                                                                                  <xs:element name="element" maxOccurs="unbounded" minOccurs="0">
                                                                                                    <xs:complexType>
                                                                                                      <xs:sequence>
                                                                                                        <xs:element name="annotation">
                                                                                                          <xs:complexType>
                                                                                                            <xs:sequence>
                                                                                                              <xs:element type="xs:string" name="documentation"/>
                                                                                                            </xs:sequence>
                                                                                                          </xs:complexType>
                                                                                                        </xs:element>
                                                                                                        <xs:element name="simpleType" minOccurs="0">
                                                                                                          <xs:complexType>
                                                                                                            <xs:sequence>
                                                                                                              <xs:element name="restriction">
                                                                                                                <xs:complexType>
                                                                                                                  <xs:sequence>
                                                                                                                    <xs:element name="maxLength">
                                                                                                                      <xs:complexType>
                                                                                                                        <xs:simpleContent>
                                                                                                                          <xs:extension base="xs:string">
                                                                                                                            <xs:attribute type="xs:short" name="value" use="optional"/>
                                                                                                                          </xs:extension>
                                                                                                                        </xs:simpleContent>
                                                                                                                      </xs:complexType>
                                                                                                                    </xs:element>
                                                                                                                  </xs:sequence>
                                                                                                                  <xs:attribute type="xs:QName" name="base" use="optional"/>
                                                                                                                </xs:complexType>
                                                                                                              </xs:element>
                                                                                                            </xs:sequence>
                                                                                                          </xs:complexType>
                                                                                                        </xs:element>
                                                                                                        <xs:element name="complexType" minOccurs="0">
                                                                                                          <xs:complexType>
                                                                                                            <xs:sequence>
                                                                                                              <xs:element name="sequence">
                                                                                                                <xs:complexType>
                                                                                                                  <xs:sequence>
                                                                                                                    <xs:element name="element" maxOccurs="unbounded" minOccurs="0">
                                                                                                                      <xs:complexType>
                                                                                                                        <xs:sequence>
                                                                                                                          <xs:element name="annotation">
                                                                                                                            <xs:complexType>
                                                                                                                              <xs:sequence>
                                                                                                                                <xs:element type="xs:string" name="documentation"/>
                                                                                                                              </xs:sequence>
                                                                                                                            </xs:complexType>
                                                                                                                          </xs:element>
                                                                                                                          <xs:element name="simpleType">
                                                                                                                            <xs:complexType>
                                                                                                                              <xs:sequence>
                                                                                                                                <xs:element name="restriction">
                                                                                                                                  <xs:complexType>
                                                                                                                                    <xs:sequence>
                                                                                                                                      <xs:element name="maxLength">
                                                                                                                                        <xs:complexType>
                                                                                                                                          <xs:simpleContent>
                                                                                                                                            <xs:extension base="xs:string">
                                                                                                                                              <xs:attribute type="xs:short" name="value" use="optional"/>
                                                                                                                                            </xs:extension>
                                                                                                                                          </xs:simpleContent>
                                                                                                                                        </xs:complexType>
                                                                                                                                      </xs:element>
                                                                                                                                    </xs:sequence>
                                                                                                                                    <xs:attribute type="xs:QName" name="base" use="optional"/>
                                                                                                                                  </xs:complexType>
                                                                                                                                </xs:element>
                                                                                                                              </xs:sequence>
                                                                                                                            </xs:complexType>
                                                                                                                          </xs:element>
                                                                                                                        </xs:sequence>
                                                                                                                        <xs:attribute type="xs:string" name="name" use="optional"/>
                                                                                                                        <xs:attribute type="xs:byte" name="minOccurs" use="optional"/>
                                                                                                                      </xs:complexType>
                                                                                                                    </xs:element>
                                                                                                                  </xs:sequence>
                                                                                                                </xs:complexType>
                                                                                                              </xs:element>
                                                                                                              <xs:element name="attribute">
                                                                                                                <xs:complexType>
                                                                                                                  <xs:sequence>
                                                                                                                    <xs:element name="simpleType">
                                                                                                                      <xs:complexType>
                                                                                                                        <xs:sequence>
                                                                                                                          <xs:element name="restriction">
                                                                                                                            <xs:complexType>
                                                                                                                              <xs:sequence>
                                                                                                                                <xs:element name="enumeration">
                                                                                                                                  <xs:complexType>
                                                                                                                                    <xs:simpleContent>
                                                                                                                                      <xs:extension base="xs:string">
                                                                                                                                        <xs:attribute type="xs:byte" name="value" use="optional"/>
                                                                                                                                      </xs:extension>
                                                                                                                                    </xs:simpleContent>
                                                                                                                                  </xs:complexType>
                                                                                                                                </xs:element>
                                                                                                                              </xs:sequence>
                                                                                                                              <xs:attribute type="xs:QName" name="base" use="optional"/>
                                                                                                                            </xs:complexType>
                                                                                                                          </xs:element>
                                                                                                                        </xs:sequence>
                                                                                                                      </xs:complexType>
                                                                                                                    </xs:element>
                                                                                                                  </xs:sequence>
                                                                                                                  <xs:attribute type="xs:string" name="name" use="optional"/>
                                                                                                                  <xs:attribute type="xs:string" name="use" use="optional"/>
                                                                                                                </xs:complexType>
                                                                                                              </xs:element>
                                                                                                            </xs:sequence>
                                                                                                          </xs:complexType>
                                                                                                        </xs:element>
                                                                                                      </xs:sequence>
                                                                                                      <xs:attribute type="xs:string" name="name" use="optional"/>
                                                                                                      <xs:attribute type="xs:byte" name="minOccurs" use="optional"/>
                                                                                                      <xs:attribute type="xs:short" name="maxOccurs" use="optional"/>
                                                                                                    </xs:complexType>
                                                                                                  </xs:element>
                                                                                                </xs:sequence>
                                                                                              </xs:complexType>
                                                                                            </xs:element>
                                                                                            <xs:element name="attribute">
                                                                                              <xs:complexType>
                                                                                                <xs:sequence>
                                                                                                  <xs:element name="simpleType">
                                                                                                    <xs:complexType>
                                                                                                      <xs:sequence>
                                                                                                        <xs:element name="restriction">
                                                                                                          <xs:complexType>
                                                                                                            <xs:sequence>
                                                                                                              <xs:element name="enumeration">
                                                                                                                <xs:complexType>
                                                                                                                  <xs:simpleContent>
                                                                                                                    <xs:extension base="xs:string">
                                                                                                                      <xs:attribute type="xs:byte" name="value" use="optional"/>
                                                                                                                    </xs:extension>
                                                                                                                  </xs:simpleContent>
                                                                                                                </xs:complexType>
                                                                                                              </xs:element>
                                                                                                            </xs:sequence>
                                                                                                            <xs:attribute type="xs:QName" name="base" use="optional"/>
                                                                                                          </xs:complexType>
                                                                                                        </xs:element>
                                                                                                      </xs:sequence>
                                                                                                    </xs:complexType>
                                                                                                  </xs:element>
                                                                                                </xs:sequence>
                                                                                                <xs:attribute type="xs:string" name="name" use="optional"/>
                                                                                                <xs:attribute type="xs:string" name="use" use="optional"/>
                                                                                              </xs:complexType>
                                                                                            </xs:element>
                                                                                          </xs:sequence>
                                                                                        </xs:complexType>
                                                                                      </xs:element>
                                                                                    </xs:sequence>
                                                                                    <xs:attribute type="xs:string" name="name" use="optional"/>
                                                                                    <xs:attribute type="xs:byte" name="minOccurs" use="optional"/>
                                                                                    <xs:attribute type="xs:short" name="maxOccurs" use="optional"/>
                                                                                  </xs:complexType>
                                                                                </xs:element>
                                                                              </xs:sequence>
                                                                            </xs:complexType>
                                                                          </xs:element>
                                                                          <xs:element name="attribute">
                                                                            <xs:complexType>
                                                                              <xs:sequence>
                                                                                <xs:element name="simpleType">
                                                                                  <xs:complexType>
                                                                                    <xs:sequence>
                                                                                      <xs:element name="restriction">
                                                                                        <xs:complexType>
                                                                                          <xs:sequence>
                                                                                            <xs:element name="enumeration">
                                                                                              <xs:complexType>
                                                                                                <xs:simpleContent>
                                                                                                  <xs:extension base="xs:string">
                                                                                                    <xs:attribute type="xs:byte" name="value" use="optional"/>
                                                                                                  </xs:extension>
                                                                                                </xs:simpleContent>
                                                                                              </xs:complexType>
                                                                                            </xs:element>
                                                                                          </xs:sequence>
                                                                                          <xs:attribute type="xs:QName" name="base" use="optional"/>
                                                                                        </xs:complexType>
                                                                                      </xs:element>
                                                                                    </xs:sequence>
                                                                                  </xs:complexType>
                                                                                </xs:element>
                                                                              </xs:sequence>
                                                                              <xs:attribute type="xs:string" name="name" use="optional"/>
                                                                              <xs:attribute type="xs:string" name="use" use="optional"/>
                                                                            </xs:complexType>
                                                                          </xs:element>
                                                                        </xs:sequence>
                                                                      </xs:complexType>
                                                                    </xs:element>
                                                                  </xs:sequence>
                                                                  <xs:attribute type="xs:string" name="name" use="optional"/>
                                                                  <xs:attribute type="xs:QName" name="type" use="optional"/>
                                                                  <xs:attribute type="xs:string" name="fixed" use="optional"/>
                                                                  <xs:attribute type="xs:byte" name="minOccurs" use="optional"/>
                                                                  <xs:attribute type="xs:short" name="maxOccurs" use="optional"/>
                                                                </xs:complexType>
                                                              </xs:element>
                                                            </xs:sequence>
                                                          </xs:complexType>
                                                        </xs:element>
                                                        <xs:element name="attribute">
                                                          <xs:complexType>
                                                            <xs:sequence>
                                                              <xs:element name="simpleType">
                                                                <xs:complexType>
                                                                  <xs:sequence>
                                                                    <xs:element name="restriction">
                                                                      <xs:complexType>
                                                                        <xs:sequence>
                                                                          <xs:element name="enumeration">
                                                                            <xs:complexType>
                                                                              <xs:simpleContent>
                                                                                <xs:extension base="xs:string">
                                                                                  <xs:attribute type="xs:byte" name="value" use="optional"/>
                                                                                </xs:extension>
                                                                              </xs:simpleContent>
                                                                            </xs:complexType>
                                                                          </xs:element>
                                                                        </xs:sequence>
                                                                        <xs:attribute type="xs:QName" name="base" use="optional"/>
                                                                      </xs:complexType>
                                                                    </xs:element>
                                                                  </xs:sequence>
                                                                </xs:complexType>
                                                              </xs:element>
                                                            </xs:sequence>
                                                            <xs:attribute type="xs:string" name="name" use="optional"/>
                                                            <xs:attribute type="xs:string" name="use" use="optional"/>
                                                          </xs:complexType>
                                                        </xs:element>
                                                      </xs:sequence>
                                                    </xs:complexType>
                                                  </xs:element>
                                                </xs:sequence>
                                                <xs:attribute type="xs:string" name="name" use="optional"/>
                                                <xs:attribute type="xs:byte" name="minOccurs" use="optional"/>
                                                <xs:attribute type="xs:int" name="maxOccurs" use="optional"/>
                                              </xs:complexType>
                                            </xs:element>
                                          </xs:sequence>
                                        </xs:complexType>
                                      </xs:element>
                                      <xs:element name="attribute">
                                        <xs:complexType>
                                          <xs:sequence>
                                            <xs:element name="simpleType">
                                              <xs:complexType>
                                                <xs:sequence>
                                                  <xs:element name="restriction">
                                                    <xs:complexType>
                                                      <xs:sequence>
                                                        <xs:element name="enumeration">
                                                          <xs:complexType>
                                                            <xs:simpleContent>
                                                              <xs:extension base="xs:string">
                                                                <xs:attribute type="xs:byte" name="value"/>
                                                              </xs:extension>
                                                            </xs:simpleContent>
                                                          </xs:complexType>
                                                        </xs:element>
                                                      </xs:sequence>
                                                      <xs:attribute type="xs:QName" name="base"/>
                                                    </xs:complexType>
                                                  </xs:element>
                                                </xs:sequence>
                                              </xs:complexType>
                                            </xs:element>
                                          </xs:sequence>
                                          <xs:attribute type="xs:string" name="name"/>
                                          <xs:attribute type="xs:string" name="use"/>
                                        </xs:complexType>
                                      </xs:element>
                                    </xs:sequence>
                                  </xs:complexType>
                                </xs:element>
                              </xs:sequence>
                              <xs:attribute type="xs:string" name="name"/>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
            <xs:attribute type="xs:string" name="name"/>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
      <xs:attribute type="xs:float" name="version"/>
    </xs:complexType>
  </xs:element>
</xs:schema>