Resources/schemas/Xsd/SAP_SuccessFactors_Integration_with_JIRA - SNOW_Incident_Request_Call.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- Created with Liquid Technologies Online Tools 1.0 (https://www.liquid-technologies.com) -->
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="request">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="entry">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="caller_id" type="xs:string" minOccurs="0" maxOccurs="1" />
              <xs:element name="u_guest_email" type="xs:string" minOccurs="0" maxOccurs="1"/>
              <xs:element name="u_guest_contact" type="xs:string" minOccurs="0" maxOccurs="1"/>
              <xs:element name="cmdb_ci" type="xs:string" minOccurs="0" maxOccurs="1"/>
              <xs:element name="description" type="xs:string" minOccurs="0" maxOccurs="1"/>
              <xs:element name="short_description" type="xs:string" minOccurs="0" maxOccurs="1"/>
              <xs:element name="category" type="xs:string" minOccurs="0" maxOccurs="1"/>
              <xs:element name="subcategory" type="xs:string" minOccurs="0" maxOccurs="1"/>
              <xs:element name="contact_type" type="xs:string" minOccurs="0" maxOccurs="1"/>
              <xs:element name="assignment_group" type="xs:string" minOccurs="0" maxOccurs="1"/>
              <xs:element name="priority" type="xs:string" minOccurs="0" maxOccurs="1"/>
              <xs:element name="work_notes" type="xs:string" minOccurs="0" maxOccurs="1"/>
              <xs:element name="u_guest_full_name" type="xs:string" minOccurs="0" maxOccurs="1"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
