Resources/schemas/Xsd/SAP_ERP_Integration_with_SAP_Build_Process_Automation_for_Vendor_Master - src2-1.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="root">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="record" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="DELIMITER"/>
              <xs:element name="RFC_DB_FLD">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:string" name="FIELDNAME" maxOccurs="unbounded" minOccurs="0"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element type="xs:string" name="QUERY_TABLE"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>