Resources/schemas/Xsd/SAP_S-4HANA_for_EHS_Workplace_Safety_Integration_with_Third-Party_Systems - Mapping_Destination_Incident.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="batchParts">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="batchChangeSet">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="batchChangeSetPart">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="method" type="xs:string"/>
                    <xs:element name="A_Incident">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="Incident">
                            <xs:complexType>
                              <xs:sequence>
								<xs:element name="IncidentCategory" type="xs:unsignedByte" />
								<xs:element name="IncidentTitle" type="xs:string" />
								<xs:element name="IncidentUTCDateTime" type="xs:dateTime" />
								<xs:element name="IncidentDescriptionOfEvents" type="xs:string" nillable="true" minOccurs="0" />
								<xs:element name="EHSLocationUUID" type="xs:string" nillable="true" minOccurs="0" />
								<xs:element name="IncidentLocationDescription" type="xs:string" nillable="true" minOccurs="0" />
								<xs:element name="IncidentLongitudeMeasure" type="xs:decimal" nillable="true" minOccurs="0" />
								<xs:element name="IncidentLatitudeMeasure" type="xs:decimal" nillable="true" minOccurs="0" />
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>