Resources/schemas/Xsd/SAP_Hybris_Service_Engagement_Center_Integration_with_Business_Suite - YaaSCustomer-3.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="root">
    <xs:complexType>
      <xs:sequence>
        <xs:element type="xs:string" name="customerNumber" minOccurs="0" maxOccurs="1"/>
        <xs:element type="xs:string" name="title" minOccurs="0" maxOccurs="1"/>
        <xs:element type="xs:string" name="firstName" minOccurs="0" maxOccurs="1"/>
        <xs:element type="xs:string" name="middleName" minOccurs="0" maxOccurs="1"/>
        <xs:element type="xs:string" name="lastName" minOccurs="0" maxOccurs="1"/>
        <xs:element type="xs:string" name="contactEmail" minOccurs="0" maxOccurs="1"/>
        <xs:element type="xs:long" name="contactPhone" minOccurs="0" maxOccurs="1"/>
        <xs:element type="xs:string" name="company" minOccurs="0" maxOccurs="1"/>
        <xs:element type="xs:string" name="preferredLanguage" minOccurs="0" maxOccurs="1"/>
        <xs:element type="xs:string" name="preferredCurrency" minOccurs="0" maxOccurs="1"/>
        <xs:element name="addresses" minOccurs="0" maxOccurs="1">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="id" minOccurs="0" maxOccurs="1"/>
              <xs:element type="xs:string" name="contactName" minOccurs="0" maxOccurs="1"/>
              <xs:element type="xs:string" name="companyName" minOccurs="0" maxOccurs="1"/>
              <xs:element type="xs:string" name="street" minOccurs="0" maxOccurs="1"/>
              <xs:element type="xs:string" name="streetNumber" minOccurs="0" maxOccurs="1"/>
              <xs:element type="xs:byte" name="streetAppendix" minOccurs="0" maxOccurs="1"/>
              <xs:element type="xs:int" name="zipCode" minOccurs="0" maxOccurs="1"/>
              <xs:element type="xs:string" name="city" minOccurs="0" maxOccurs="1"/>
              <xs:element type="xs:string" name="country" minOccurs="0" maxOccurs="1"/>
              <xs:element type="xs:string" name="state" minOccurs="0" maxOccurs="1"/>
              <xs:element type="xs:string" name="contactPhone" minOccurs="0" maxOccurs="1"/>
              <xs:element type="xs:string" name="tags" maxOccurs="unbounded" minOccurs="0"/>
              <xs:element type="xs:string" name="isDefault" minOccurs="0" maxOccurs="1"/>
              <xs:element name="metadata" minOccurs="0" maxOccurs="1">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:string" name="mixins" minOccurs="0" maxOccurs="1"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="metadata">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="mixins">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:string" name="sdcustomer"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="mixins">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="sdcustomer">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:int" name="sdCustomerNumber" minOccurs="0" maxOccurs="1"/>
                    <xs:element type="xs:string" name="processingStatus" minOccurs="0" maxOccurs="1"/>
                    <xs:element type="xs:string" name="uiSaveTimeStamp" minOccurs="0" maxOccurs="1"/>
                    <xs:element type="xs:byte" name="division" minOccurs="0" maxOccurs="1"/>
                    <xs:element type="xs:string" name="referenceCustomerNumber" minOccurs="0" maxOccurs="1"/>
                    <xs:element type="xs:short" name="salesOrganization" minOccurs="0" maxOccurs="1"/>
                    <xs:element type="xs:long" name="faxNumber" minOccurs="0" maxOccurs="1"/>
                    <xs:element type="xs:byte" name="distributionChannel" minOccurs="0" maxOccurs="1"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="iDoc_DEBMAS" minOccurs="0" maxOccurs="1">
                <xs:complexType>
                  <xs:sequence>
                  	<xs:element name="E1KNA1M">
                  	  <xs:complexType>
                  	    <xs:sequence>
                          <xs:element type="xs:string" name="ktokd" minOccurs="0" maxOccurs="1"/>
                  	    </xs:sequence>
                  	  </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>