Resources/schemas/Xsd/SAP_Complaint_Handling_Integration_with_Master_Data_and_Business_Objects - customerReturn.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="root">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="CustomerReturnType" type="xs:string" />
        <xs:element name="SalesOrganization" type="xs:unsignedByte" />
        <xs:element name="DistributionChannel" type="xs:unsignedByte" />
        <xs:element name="OrganizationDivision" type="xs:unsignedByte" />
        <xs:element name="SoldToParty" type="xs:string" />
        <xs:element name="PurchaseOrderByCustomer" minOccurs="0" type="xs:string" />
        <xs:element name="ReferenceSDDocument" minOccurs="0" type="xs:unsignedInt" />
        <xs:element name="to_Item">
          <xs:complexType>
            <xs:sequence>
              <xs:element maxOccurs="unbounded" name="results">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="CustomerReturnItem" minOccurs="0" type="xs:string" />
                    <xs:element name="Material" type="xs:string" />
                    <xs:element name="CustomerReturnItemCategory" type="xs:string" />
                    <xs:element name="RequestedQuantity" type="xs:unsignedByte" />
                    <xs:element name="ProductionPlant" type="xs:unsignedByte" />
                    <xs:element name="ReturnReason" type="xs:unsignedByte" />
                    <xs:element name="CustRetItmFollowUpActivity" type="xs:unsignedByte" />
                    <xs:element name="ReturnsRefundProcgMode" type="xs:string" />
                    <xs:element name="ReferenceSDDocument" minOccurs="0" type="xs:unsignedInt" />
                    <xs:element name="ReferenceSDDocumentItem" minOccurs="0" type="xs:unsignedByte" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>