Resources/schemas/Xsd/SAP_Service_Cloud_Integration_with_SAP_Field_Service_Management - Person_RequestIn.xsd

<xs:schema attributeFormDefault="unqualified"
	elementFormDefault="qualified"
	xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="Persons">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="data" minOccurs="1"
					maxOccurs="unbounded">
					<xs:complexType>
						<xs:sequence>
							<xs:element type="xs:string" name="externalId"
								minOccurs="0" maxOccurs="1" />
							<xs:element type="xs:string" name="id"
								minOccurs="0" maxOccurs="1" />
							<xs:element type="xs:string" name="code"
								minOccurs="0" maxOccurs="1" />	
							<xs:element type="xs:string" name="firstName"
								minOccurs="0" maxOccurs="1" />
							<xs:element type="xs:string" name="lastName"
								minOccurs="0" maxOccurs="1" />
							<xs:element type="xs:string" name="userName"
								minOccurs="0" maxOccurs="1" />
							<xs:element type="xs:string" name="inactive"
								minOccurs="0" maxOccurs="1" />
							<xs:element type="xs:boolean" name="externalResource"
								minOccurs="0" maxOccurs="1" />
							<xs:element type="xs:boolean" name="plannableResource"
								minOccurs="0" maxOccurs="1" />
							<xs:element type="xs:boolean" name="loginEnabled"
								minOccurs="0" maxOccurs="1" />
							<xs:element type="xs:string" name="types" minOccurs="0"
								maxOccurs="unbounded" />
							<xs:element type="xs:string" name="regions" minOccurs="0"
								maxOccurs="unbounded" />
							<xs:element type="xs:string" name="emailAddress"
								minOccurs="0" maxOccurs="1" />
							<xs:element type="xs:string" name="fax" minOccurs="0"
								maxOccurs="1" />
							<xs:element type="xs:string" name="mobilePhone"
								minOccurs="0" maxOccurs="1" />
							<xs:element type="xs:string" name="officePhone"
								minOccurs="0" maxOccurs="1" />
							<xs:element type="xs:string" name="otherPhone"
								minOccurs="0" maxOccurs="1" />
							<xs:element type="xs:string" name="homePhone"
								minOccurs="0" maxOccurs="1" />
							<xs:element type="xs:string" name="refId"
								minOccurs="0" maxOccurs="1" />
							<xs:element type="xs:string" name="remarks"
								minOccurs="0" maxOccurs="1" />
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>