Resources/schemas/Xsd/SAP_Service_Cloud_Integration_with_SAP_Field_Service_Management - ContactIn-1.xsd

<xs:schema attributeFormDefault="unqualified"
	elementFormDefault="qualified"
	xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="Contacts">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="data" minOccurs="1"
					maxOccurs="unbounded">
					<xs:complexType>
						<xs:sequence>
							<xs:element type="xs:date" name="birthDate"
								minOccurs="0" maxOccurs="1" />
							<xs:element type="xs:string" name="code" minOccurs="0"
								maxOccurs="1" />
							<xs:element type="xs:string" name="externalId"
								minOccurs="0" maxOccurs="1" />
							<xs:element type="xs:boolean" name="defaultContact"
								minOccurs="0" maxOccurs="1" />
							<xs:element type="xs:string" name="title"
								minOccurs="0" maxOccurs="1" />
							<xs:element type="xs:string" name="firstName"
								minOccurs="0" maxOccurs="1" />
							<xs:element type="xs:string" name="lastName"
								minOccurs="0" maxOccurs="1" />
							<xs:element type="xs:string" name="gender"
								minOccurs="0" maxOccurs="1" />
							<xs:element type="xs:string" name="inactive"
								minOccurs="0" maxOccurs="1" />
							<xs:element type="xs:string" name="mobilePhone"
								minOccurs="0" maxOccurs="1" />
							<xs:element type="xs:string" name="emailAddress"
								minOccurs="0" maxOccurs="1" />
							<xs:element type="xs:string" name="fax" minOccurs="0"
								maxOccurs="1" />
							<xs:element type="xs:string" name="officePhone"
								minOccurs="0" maxOccurs="1" />
							<xs:element type="xs:string" name="otherPhone"
								minOccurs="0" maxOccurs="1" />
							<xs:element type="xs:string" name="positionName"
								minOccurs="0" maxOccurs="1" />
							<xs:element type="xs:string" name="profession"
								minOccurs="0" maxOccurs="1" />
							<xs:element type="xs:string" name="remarks"
								minOccurs="0" maxOccurs="1" />
							<xs:element type="xs:string" name="skypeName"
								minOccurs="0" maxOccurs="1" />
							<xs:element name="object" minOccurs="0" maxOccurs="1">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="objectId">
											<xs:complexType>
												<xs:sequence>
													<xs:element type="xs:string" name="externalId" />
												</xs:sequence>
											</xs:complexType>
										</xs:element>
										<xs:element type="xs:string" name="objectType" />
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>