Resources/schemas/Xsd/SAP_S-4HANA_Integration_with_SAP_Build_Process_Automation_for_Finance_General_Ledger - Inflation_key_Target-6.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- Created with Liquid Technologies Online Tools 1.0 (https://www.liquid-technologies.com) -->
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
<xs:element name="DATA">
          <xs:complexType>
            <xs:sequence>      
	  <xs:element name="WA" minOccurs="0" maxOccurs="unbounded" >
          <xs:complexType>
            <xs:sequence>
              <xs:element name="SPARS" type="xs:string" minOccurs="0" />
			  <xs:element name="EBENE" type="xs:string" minOccurs="0" />
			  <xs:element name="LTEXT" type="xs:string" minOccurs="0" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
		</xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
