Resources/schemas/Xsd/SAP_S-4HANA_Utilities_Integration_with_SAP_Emarsys_Customer_Engagement - UtilitiesGeneralDataBPConsumption.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">

	<xs:element name="UtilitiesGeneralDataSet">
		<xs:complexType>
			<xs:sequence>
			
				<xs:element nillable="false" minOccurs="1" maxOccurs="unbounded" name="BusinessPartner">
					<xs:complexType>
						<xs:sequence>
						
						    <!-- node: BusinessPartner/BusinessPartnerID -->
							<xs:element nillable="false" minOccurs="1" maxOccurs="1" name="BusinessPartnerID">
								<xs:simpleType>
									<xs:restriction base="xs:token" xmlns="">
										<xs:minLength value="1"/>
										<xs:maxLength value="60"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							
							<!-- node: BusinessPartner/ContractAccount -->
							<xs:element nillable="false" minOccurs="0" maxOccurs="unbounded" name="ContractAccount">
								<xs:complexType>
									<xs:sequence>
									
									   <!-- ContractAccount/ContractAccountID -->
									   <xs:element nillable="false" minOccurs="0" maxOccurs="1" name="ContractAccountID">
											<xs:simpleType>
												<xs:restriction base="xs:token" xmlns="">
													<xs:minLength value="1"/>
													<xs:maxLength value="12"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
																		
										<!-- node: BusinessPartner/ContractAccount/Contract -->
										<xs:element nillable="false" minOccurs="0" maxOccurs="unbounded" name="Contract">
											<xs:complexType>
												<xs:sequence>

                                                    <!-- BusinessPartnerID -->
													<xs:element nillable="false" minOccurs="1" maxOccurs="1" name="BusinessPartnerID">
														<xs:simpleType>
															<xs:restriction base="xs:token" xmlns="">
																<xs:minLength value="1"/>
																<xs:maxLength value="60"/>
															</xs:restriction>
								                        </xs:simpleType>
							                        </xs:element>
													
													<!-- ContractAccountID -->
													<xs:element nillable="false" minOccurs="0" maxOccurs="1" name="ContractAccountID">
														<xs:simpleType>
															<xs:restriction base="xs:token" xmlns="">
																<xs:minLength value="1"/>
																<xs:maxLength value="12"/>
															</xs:restriction>
														</xs:simpleType>
													</xs:element>													

													<!-- Contract/ContractID -->
													<xs:element nillable="false" minOccurs="0" maxOccurs="1" name="UtilitiesContractID">
														<xs:simpleType>
															<xs:restriction base="xs:token" xmlns="">
																<xs:minLength value="1"/>
																<xs:maxLength value="2"/>
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
													
													<!-- Contract/AverageAnnualConsumption -->
													<xs:element nillable="false" minOccurs="0" maxOccurs="1" name="AverageAnnualConsumption">
														<xs:simpleType>
															<xs:restriction base="xs:decimal" xmlns="">
																<xs:totalDigits value='31'/>
																<xs:fractionDigits value='14'/>
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
													
													<!-- Contract/AverageAnnualConsumption/@unitCode -->
													<xs:element nillable="false" minOccurs="0" maxOccurs="1" name="AverageAnnualConsumptionUnitCode">
														<xs:simpleType>
															<xs:restriction base="xs:token" xmlns="">
																<xs:minLength value="0"/>
																<xs:maxLength value="3"/>
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
													
													<!-- Contract/AverageAnnualBillingAmount -->
													<xs:element nillable="false" minOccurs="0" maxOccurs="1" name="AverageAnnualBillingAmount">
														<xs:simpleType>
															<xs:restriction base="xs:decimal" xmlns="">
																<xs:totalDigits value='28'/>
																<xs:fractionDigits value='6'/>
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
													
													<!-- Contract/AverageAnnualBillingAmount/@currencyCode -->
													<xs:element nillable="false" minOccurs="0" maxOccurs="1" name="AverageAnnualBillingAmountCurrencyCode">
														<xs:simpleType>
															<xs:restriction base="xs:token" xmlns="">
																<xs:minLength value="0"/>
																<xs:maxLength value="3"/>
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
													
													<!-- Contract/TotalAnnualBillingAmount -->
													<xs:element nillable="false" minOccurs="0" maxOccurs="1" name="TotalAnnualBillingAmount">
														<xs:simpleType>
															<xs:restriction base="xs:decimal" xmlns="">
																<xs:totalDigits value='28'/>
																<xs:fractionDigits value='6'/>
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
													
													<!-- Contract/TotalAnnualBillingAmount/@currencyCode -->
													<xs:element nillable="false" minOccurs="0" maxOccurs="1" name="TotalAnnualBillingAmountCurrencyCode">
														<xs:simpleType>
															<xs:restriction base="xs:token" xmlns="">
																<!-- <xs:minLength value="0"/>
																<xs:maxLength value="3"/>-->
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
													
													<!-- Contract/TotalAnnualConsumption -->
													<xs:element nillable="false" minOccurs="0" maxOccurs="1" name="TotalAnnualConsumption">
														<xs:simpleType>
															<xs:restriction base="xs:decimal" xmlns="">
																<xs:totalDigits value='31'/>
																<xs:fractionDigits value='14'/>
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
													
													<!-- Contract/TotalAnnualConsumption/@unitCode -->
													<xs:element nillable="false" minOccurs="0" maxOccurs="1" name="TotalAnnualConsumptionUnitCode">
														<xs:simpleType>
															<xs:restriction base="xs:token" xmlns="">
																<xs:minLength value="0"/>
																<xs:maxLength value="3"/>
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
													
													<!-- Contract/TotalConsumptionSummer -->
													<xs:element nillable="false" minOccurs="0" maxOccurs="1" name="TotalConsumptionSummer">
														<xs:simpleType>
															<xs:restriction base="xs:decimal" xmlns="">
																<xs:totalDigits value='31'/>
																<xs:fractionDigits value='14'/>
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
													
													<!-- Contract/TotalConsumptionSummer/@unitCode -->
													<xs:element nillable="false" minOccurs="0" maxOccurs="1" name="TotalConsumptionSummerUnitCode">
														<xs:simpleType>
															<xs:restriction base="xs:token" xmlns="">
																<xs:minLength value="0"/>
																<xs:maxLength value="3"/>
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
													
													<!-- Contract/TotalConsumptionWinter -->
													<xs:element nillable="false" minOccurs="0" maxOccurs="1" name="TotalConsumptionWinter">
														<xs:simpleType>
															<xs:restriction base="xs:decimal" xmlns="">
																<xs:totalDigits value='31'/>
																<xs:fractionDigits value='14'/>
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
													
													<!-- Contract/TotalConsumptionWinter/@unitCode -->
													<xs:element nillable="false" minOccurs="0" maxOccurs="1" name="TotalConsumptionWinterUnitCode">
														<xs:simpleType>
															<xs:restriction base="xs:token" xmlns="">
																<xs:minLength value="0"/>
																<xs:maxLength value="3"/>
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
													
													<!-- Contract/TotalSummerBillingAmount -->
													<xs:element nillable="false" minOccurs="0" maxOccurs="1" name="TotalSummerBillingAmount">
														<xs:simpleType>
															<xs:restriction base="xs:decimal" xmlns="">
																<xs:totalDigits value='28'/>
																<xs:fractionDigits value='6'/>
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
													
													<!-- Contract/TotalSummerBillingAmount/@currencyCode -->
													<xs:element nillable="false" minOccurs="0" maxOccurs="1" name="TotalSummerBillingAmountCurrencyCode">
														<xs:simpleType>
															<xs:restriction base="xs:token" xmlns="">
																<xs:minLength value="0"/>
																<xs:maxLength value="3"/>
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
													
													<!-- Contract/TotalWinterBillingAmount -->
													<xs:element nillable="false" minOccurs="0" maxOccurs="1" name="TotalWinterBillingAmount">
														<xs:simpleType>
															<xs:restriction base="xs:decimal" xmlns="">
																<xs:totalDigits value='28'/>
																<xs:fractionDigits value='6'/>
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
													
													<!-- Contract/TotalWinterBillingAmount/@currencyCode -->
													<xs:element nillable="false" minOccurs="0" maxOccurs="1" name="TotalWinterBillingAmountCurrencyCode">
														<xs:simpleType>
															<xs:restriction base="xs:token" xmlns="">
																<xs:minLength value="0"/>
																<xs:maxLength value="3"/>
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
													
												</xs:sequence>
												
											</xs:complexType> <!-- Contract -->
										</xs:element>	      <!-- Contract -->
									</xs:sequence>
									
								</xs:complexType>   <!-- ContractAccount -->
							</xs:element>           <!-- ContractAccount -->
							
						</xs:sequence>
						
					</xs:complexType>   <!-- BusinessPartner -->
				</xs:element>           <!-- BusinessPartner -->
				
			</xs:sequence>
			
		</xs:complexType>  <!-- UtilitiesGeneralSet -->
	</xs:element>          <!-- UtilitiesGeneralSet -->
	
</xs:schema>