Resources/schemas/Xsd/SAP_Health_Engagement_-_Integration_with_Validic - Weight.xsd

<?xml version="1.0" encoding="UTF-8"?>
   <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
         <!-- XML Schema Generated from XML Document on Fri Nov 04 2016 11:54:41 GMT+0530 (India Standard Time) -->
         <!-- with XmlGrid.net Free Online Service http://xmlgrid.net -->
         <xs:element name="Weight">
               <xs:complexType>
                     <xs:sequence>
                           <xs:element name="Id" type="xs:string"></xs:element>
                           <xs:element name="BodyMassIndexValue" type="xs:int"></xs:element>
                           <xs:element name="Patient" type="xs:string"></xs:element>
                           <xs:element name="MoodDetails">
                                 <xs:complexType>
                                       <xs:sequence>
                                             <xs:element name="__metadata">
                                                   <xs:complexType>
                                                         <xs:sequence>
                                                               <xs:element name="uri" type="xs:string"></xs:element>
                                                         </xs:sequence>
                                                   </xs:complexType>
                                             </xs:element>
                                       </xs:sequence>
                                 </xs:complexType>
                           </xs:element>
                           <xs:element name="BoneMassValue" type="xs:int"></xs:element>
                           <xs:element name="BodyFatValue" type="xs:int"></xs:element>
                           <xs:element name="WeightValue" type="xs:int"></xs:element>
                           <xs:element name="WaterWeightValue" type="xs:int"></xs:element>
                           <xs:element name="LeanMassValue" type="xs:int"></xs:element>
                           <xs:element name="BodyMassIndexUnitDetails">
                                 <xs:complexType>
                                       <xs:sequence>
                                             <xs:element name="__metadata">
                                                   <xs:complexType>
                                                         <xs:sequence>
                                                               <xs:element name="uri" type="xs:string"></xs:element>
                                                         </xs:sequence>
                                                   </xs:complexType>
                                             </xs:element>
                                       </xs:sequence>
                                 </xs:complexType>
                           </xs:element>
                           <xs:element name="LeanMassUnitDetails">
                                 <xs:complexType>
                                       <xs:sequence>
                                             <xs:element name="__metadata">
                                                   <xs:complexType>
                                                         <xs:sequence>
                                                               <xs:element name="uri" type="xs:string"></xs:element>
                                                         </xs:sequence>
                                                   </xs:complexType>
                                             </xs:element>
                                       </xs:sequence>
                                 </xs:complexType>
                           </xs:element>
                           <xs:element name="Timestamp">
                                 <xs:complexType>
                                       <xs:sequence>
                                             <xs:element name="TimezoneUtcOffsetInSeconds" type="xs:int"></xs:element>
                                             <xs:element name="UtcTimestamp" type="xs:string"></xs:element>
                                       </xs:sequence>
                                 </xs:complexType>
                           </xs:element>
                           <xs:element name="BodyFatUnitDetails">
                                 <xs:complexType>
                                       <xs:sequence>
                                             <xs:element name="__metadata">
                                                   <xs:complexType>
                                                         <xs:sequence>
                                                               <xs:element name="uri" type="xs:string"></xs:element>
                                                         </xs:sequence>
                                                   </xs:complexType>
                                             </xs:element>
                                       </xs:sequence>
                                 </xs:complexType>
                           </xs:element>
                           <xs:element name="WaterWeightUnitDetails">
                                 <xs:complexType>
                                       <xs:sequence>
                                             <xs:element name="__metadata">
                                                   <xs:complexType>
                                                         <xs:sequence>
                                                               <xs:element name="uri" type="xs:string"></xs:element>
                                                         </xs:sequence>
                                                   </xs:complexType>
                                             </xs:element>
                                       </xs:sequence>
                                 </xs:complexType>
                           </xs:element>
                           <xs:element name="BoneMassUnitDetails">
                                 <xs:complexType>
                                       <xs:sequence>
                                             <xs:element name="__metadata">
                                                   <xs:complexType>
                                                         <xs:sequence>
                                                               <xs:element name="uri" type="xs:string"></xs:element>
                                                         </xs:sequence>
                                                   </xs:complexType>
                                             </xs:element>
                                       </xs:sequence>
                                 </xs:complexType>
                           </xs:element>
                           <xs:element name="WeightUnitDetails">
                                 <xs:complexType>
                                       <xs:sequence>
                                             <xs:element name="__metadata">
                                                   <xs:complexType>
                                                         <xs:sequence>
                                                               <xs:element name="uri" type="xs:string"></xs:element>
                                                         </xs:sequence>
                                                   </xs:complexType>
                                             </xs:element>
                                       </xs:sequence>
                                 </xs:complexType>
                           </xs:element>
                           <xs:element name="SapWeightTargetDetails">
                                 <xs:complexType>
                                       <xs:sequence>
                                             <xs:element name="__metadata">
                                                   <xs:complexType>
                                                         <xs:sequence>
                                                               <xs:element name="uri" type="xs:string"></xs:element>
                                                         </xs:sequence>
                                                   </xs:complexType>
                                             </xs:element>
                                       </xs:sequence>
                                 </xs:complexType>
                           </xs:element>
                     </xs:sequence>
               </xs:complexType>
         </xs:element>
   </xs:schema>