Resources/schemas/Xsd/SAP_S-4HANA_Cloud_Integration_with_Salesforce - A_BusinessPartnerEntityPOST0.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="batchParts">
        <xs:complexType>
            <xs:sequence>
                <xs:element nillable="false" minOccurs="1" maxOccurs="unbounded" name="batchChangeSet">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element nillable="false" minOccurs="1" maxOccurs="unbounded" name="batchChangeSetPart">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element type="xs:string" nillable="false" minOccurs="1" maxOccurs="1" name="method" xmlns=""/>
                                        <xs:element type="xs:string" nillable="true" minOccurs="0" maxOccurs="1" name="uri" xmlns=""/>
                                        <xs:element nillable="true" minOccurs="0" maxOccurs="unbounded" name="headers">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element nillable="true" minOccurs="0" maxOccurs="unbounded" name="header">
                                                        <xs:complexType>
                                                            <xs:sequence>
                                                                <xs:element type="xs:string" nillable="false" minOccurs="1" maxOccurs="unbounded" name="headerName" xmlns=""/>
                                                                <xs:element type="xs:string" nillable="false" minOccurs="1" maxOccurs="unbounded" name="headerValue" xmlns=""/>
                                                            </xs:sequence>
                                                        </xs:complexType>
                                                    </xs:element>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element nillable="false" minOccurs="1" maxOccurs="1" name="A_BusinessPartner">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element minOccurs="1" maxOccurs="unbounded" name="A_BusinessPartnerType">
                                                        <xs:complexType>
                                                            <xs:sequence>
                                                                <xs:element nillable="false" maxOccurs="unbounded" name="BusinessPartner">
                                                                    <xs:simpleType>
                                                                        <xs:restriction base="xs:string" xmlns="">
                                                                            <xs:maxLength value="10"/>
                                                                        </xs:restriction>
                                                                    </xs:simpleType>
                                                                </xs:element>
                                                                <xs:element nillable="true" minOccurs="0" maxOccurs="unbounded" name="AcademicTitle">
                                                                    <xs:simpleType>
                                                                        <xs:restriction base="xs:string" xmlns="">
                                                                            <xs:maxLength value="4"/>
                                                                        </xs:restriction>
                                                                    </xs:simpleType>
                                                                </xs:element>
                                                                <xs:element nillable="true" minOccurs="0" maxOccurs="unbounded" name="AuthorizationGroup">
                                                                    <xs:simpleType>
                                                                        <xs:restriction base="xs:string" xmlns="">
                                                                            <xs:maxLength value="4"/>
                                                                        </xs:restriction>
                                                                    </xs:simpleType>
                                                                </xs:element>
                                                                <xs:element nillable="true" minOccurs="0" maxOccurs="unbounded" name="BusinessPartnerCategory">
                                                                    <xs:simpleType>
                                                                        <xs:restriction base="xs:string" xmlns="">
                                                                            <xs:maxLength value="1"/>
                                                                        </xs:restriction>
                                                                    </xs:simpleType>
                                                                </xs:element>
                                                                <xs:element nillable="true" minOccurs="0" maxOccurs="unbounded" name="BusinessPartnerGrouping">
                                                                    <xs:simpleType>
                                                                        <xs:restriction base="xs:string" xmlns="">
                                                                            <xs:maxLength value="4"/>
                                                                        </xs:restriction>
                                                                    </xs:simpleType>
                                                                </xs:element>
                                                                <xs:element nillable="true" minOccurs="0" maxOccurs="unbounded" name="CorrespondenceLanguage">
                                                                    <xs:simpleType>
                                                                        <xs:restriction base="xs:string" xmlns="">
                                                                            <xs:maxLength value="2"/>
                                                                        </xs:restriction>
                                                                    </xs:simpleType>
                                                                </xs:element>
                                                                <xs:element nillable="true" minOccurs="0" maxOccurs="unbounded" name="FirstName">
                                                                    <xs:simpleType>
                                                                        <xs:restriction base="xs:string" xmlns="">
                                                                            <xs:maxLength value="40"/>
                                                                        </xs:restriction>
                                                                    </xs:simpleType>
                                                                </xs:element>
                                                                <xs:element nillable="true" minOccurs="0" maxOccurs="unbounded" name="FormOfAddress">
                                                                    <xs:simpleType>
                                                                        <xs:restriction base="xs:string" xmlns="">
                                                                            <xs:maxLength value="4"/>
                                                                        </xs:restriction>
                                                                    </xs:simpleType>
                                                                </xs:element>
                                                                <xs:element nillable="true" minOccurs="0" maxOccurs="unbounded" name="Industry">
                                                                    <xs:simpleType>
                                                                        <xs:restriction base="xs:string" xmlns="">
                                                                            <xs:maxLength value="10"/>
                                                                        </xs:restriction>
                                                                    </xs:simpleType>
                                                                </xs:element>
                                                                <xs:element nillable="true" minOccurs="0" maxOccurs="unbounded" name="InternationalLocationNumber1">
                                                                    <xs:simpleType>
                                                                        <xs:restriction base="xs:string" xmlns="">
                                                                            <xs:maxLength value="7"/>
                                                                        </xs:restriction>
                                                                    </xs:simpleType>
                                                                </xs:element>
                                                                <xs:element nillable="true" minOccurs="0" maxOccurs="unbounded" name="InternationalLocationNumber2">
                                                                    <xs:simpleType>
                                                                        <xs:restriction base="xs:string" xmlns="">
                                                                            <xs:maxLength value="5"/>
                                                                        </xs:restriction>
                                                                    </xs:simpleType>
                                                                </xs:element>
                                                                <xs:element type="xs:boolean" nillable="true" minOccurs="0" maxOccurs="unbounded" name="IsFemale" xmlns=""/>
                                                                <xs:element type="xs:boolean" nillable="true" minOccurs="0" maxOccurs="unbounded" name="IsMale" xmlns=""/>
                                                                <xs:element nillable="true" minOccurs="0" maxOccurs="unbounded" name="IsNaturalPerson">
                                                                    <xs:simpleType>
                                                                        <xs:restriction base="xs:string" xmlns="">
                                                                            <xs:maxLength value="1"/>
                                                                        </xs:restriction>
                                                                    </xs:simpleType>
                                                                </xs:element>
                                                                <xs:element type="xs:boolean" nillable="true" minOccurs="0" maxOccurs="unbounded" name="IsSexUnknown" xmlns=""/>
                                                                <xs:element nillable="true" minOccurs="0" maxOccurs="unbounded" name="Language">
                                                                    <xs:simpleType>
                                                                        <xs:restriction base="xs:string" xmlns="">
                                                                            <xs:maxLength value="2"/>
                                                                        </xs:restriction>
                                                                    </xs:simpleType>
                                                                </xs:element>
                                                                <xs:element nillable="true" minOccurs="0" maxOccurs="unbounded" name="LastName">
                                                                    <xs:simpleType>
                                                                        <xs:restriction base="xs:string" xmlns="">
                                                                            <xs:maxLength value="40"/>
                                                                        </xs:restriction>
                                                                    </xs:simpleType>
                                                                </xs:element>
                                                                <xs:element nillable="true" minOccurs="0" maxOccurs="unbounded" name="LegalForm">
                                                                    <xs:simpleType>
                                                                        <xs:restriction base="xs:string" xmlns="">
                                                                            <xs:maxLength value="2"/>
                                                                        </xs:restriction>
                                                                    </xs:simpleType>
                                                                </xs:element>
                                                                <xs:element nillable="true" minOccurs="0" maxOccurs="unbounded" name="OrganizationBPName1">
                                                                    <xs:simpleType>
                                                                        <xs:restriction base="xs:string" xmlns="">
                                                                            <xs:maxLength value="40"/>
                                                                        </xs:restriction>
                                                                    </xs:simpleType>
                                                                </xs:element>
                                                                <xs:element nillable="true" minOccurs="0" maxOccurs="unbounded" name="OrganizationBPName2">
                                                                    <xs:simpleType>
                                                                        <xs:restriction base="xs:string" xmlns="">
                                                                            <xs:maxLength value="40"/>
                                                                        </xs:restriction>
                                                                    </xs:simpleType>
                                                                </xs:element>
                                                                <xs:element nillable="true" minOccurs="0" maxOccurs="unbounded" name="OrganizationBPName3">
                                                                    <xs:simpleType>
                                                                        <xs:restriction base="xs:string" xmlns="">
                                                                            <xs:maxLength value="40"/>
                                                                        </xs:restriction>
                                                                    </xs:simpleType>
                                                                </xs:element>
                                                                <xs:element nillable="true" minOccurs="0" maxOccurs="unbounded" name="OrganizationBPName4">
                                                                    <xs:simpleType>
                                                                        <xs:restriction base="xs:string" xmlns="">
                                                                            <xs:maxLength value="40"/>
                                                                        </xs:restriction>
                                                                    </xs:simpleType>
                                                                </xs:element>
                                                                <xs:element type="xs:dateTime" nillable="true" minOccurs="0" maxOccurs="unbounded" name="OrganizationFoundationDate" xmlns=""/>
                                                                <xs:element type="xs:dateTime" nillable="true" minOccurs="0" maxOccurs="unbounded" name="OrganizationLiquidationDate" xmlns=""/>
                                                                <xs:element nillable="true" minOccurs="0" maxOccurs="unbounded" name="SearchTerm1">
                                                                    <xs:simpleType>
                                                                        <xs:restriction base="xs:string" xmlns="">
                                                                            <xs:maxLength value="20"/>
                                                                        </xs:restriction>
                                                                    </xs:simpleType>
                                                                </xs:element>
                                                                <xs:element nillable="true" minOccurs="0" maxOccurs="unbounded" name="AdditionalLastName">
                                                                    <xs:simpleType>
                                                                        <xs:restriction base="xs:string" xmlns="">
                                                                            <xs:maxLength value="40"/>
                                                                        </xs:restriction>
                                                                    </xs:simpleType>
                                                                </xs:element>
                                                                <xs:element type="xs:dateTime" nillable="true" minOccurs="0" maxOccurs="unbounded" name="BirthDate" xmlns=""/>
                                                                <xs:element type="xs:boolean" nillable="true" minOccurs="0" maxOccurs="unbounded" name="BusinessPartnerIsBlocked" xmlns=""/>
                                                                <xs:element nillable="true" minOccurs="0" maxOccurs="unbounded" name="BusinessPartnerType">
                                                                    <xs:simpleType>
                                                                        <xs:restriction base="xs:string" xmlns="">
                                                                            <xs:maxLength value="4"/>
                                                                        </xs:restriction>
                                                                    </xs:simpleType>
                                                                </xs:element>
                                                                <xs:element nillable="true" minOccurs="0" maxOccurs="unbounded" name="GroupBusinessPartnerName1">
                                                                    <xs:simpleType>
                                                                        <xs:restriction base="xs:string" xmlns="">
                                                                            <xs:maxLength value="40"/>
                                                                        </xs:restriction>
                                                                    </xs:simpleType>
                                                                </xs:element>
                                                                <xs:element nillable="true" minOccurs="0" maxOccurs="unbounded" name="GroupBusinessPartnerName2">
                                                                    <xs:simpleType>
                                                                        <xs:restriction base="xs:string" xmlns="">
                                                                            <xs:maxLength value="40"/>
                                                                        </xs:restriction>
                                                                    </xs:simpleType>
                                                                </xs:element>
                                                                <xs:element nillable="true" minOccurs="0" maxOccurs="unbounded" name="InternationalLocationNumber3">
                                                                    <xs:simpleType>
                                                                        <xs:restriction base="xs:string" xmlns="">
                                                                            <xs:maxLength value="1"/>
                                                                        </xs:restriction>
                                                                    </xs:simpleType>
                                                                </xs:element>
                                                                <xs:element nillable="true" minOccurs="0" maxOccurs="unbounded" name="MiddleName">
                                                                    <xs:simpleType>
                                                                        <xs:restriction base="xs:string" xmlns="">
                                                                            <xs:maxLength value="40"/>
                                                                        </xs:restriction>
                                                                    </xs:simpleType>
                                                                </xs:element>
                                                                <xs:element nillable="true" minOccurs="0" maxOccurs="unbounded" name="NameCountry">
                                                                    <xs:simpleType>
                                                                        <xs:restriction base="xs:string" xmlns="">
                                                                            <xs:maxLength value="3"/>
                                                                        </xs:restriction>
                                                                    </xs:simpleType>
                                                                </xs:element>
                                                                <xs:element nillable="true" minOccurs="0" maxOccurs="unbounded" name="NameFormat">
                                                                    <xs:simpleType>
                                                                        <xs:restriction base="xs:string" xmlns="">
                                                                            <xs:maxLength value="2"/>
                                                                        </xs:restriction>
                                                                    </xs:simpleType>
                                                                </xs:element>
                                                                <xs:element nillable="true" minOccurs="0" maxOccurs="unbounded" name="PersonFullName">
                                                                    <xs:simpleType>
                                                                        <xs:restriction base="xs:string" xmlns="">
                                                                            <xs:maxLength value="80"/>
                                                                        </xs:restriction>
                                                                    </xs:simpleType>
                                                                </xs:element>
                                                                <xs:element type="xs:boolean" nillable="true" minOccurs="0" maxOccurs="unbounded" name="IsMarkedForArchiving" xmlns=""/>
                                                                <xs:element nillable="true" minOccurs="0" maxOccurs="unbounded" name="BusinessPartnerIDByExtSystem">
                                                                    <xs:simpleType>
                                                                        <xs:restriction base="xs:string" xmlns="">
                                                                            <xs:maxLength value="20"/>
                                                                        </xs:restriction>
                                                                    </xs:simpleType>
                                                                </xs:element>
                                                            </xs:sequence>
                                                        </xs:complexType>
                                                    </xs:element>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>
