Resources/schemas/Xsd/SAP_Hybris_Cloud_for_Customer_Integration_with_SAP_Hybris_as_a_Service - c4cCustomer.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:element name="IndividualCustomer" type="IndividualCustomer"/>

  <xs:element name="IndividualCustomerAttachment" type="IndividualCustomerAttachment"/>

  <xs:element name="IndividualCustomerCommon" type="IndividualCustomerCommon"/>

  <xs:element name="IndividualCustomerNotes" type="IndividualCustomerNotes"/>

  <xs:complexType name="IndividualCustomer">
    <xs:sequence>
      <xs:element name="ABCClassificationCode" type="xs:string" minOccurs="0"/>
      <xs:element name="ABCClassificationCodeText" type="xs:string" minOccurs="0"/>
      <xs:element name="AcademicTitleCode" type="xs:string" minOccurs="0"/>
      <xs:element name="AcademicTitleCodeText" type="xs:string" minOccurs="0"/>
      <xs:element name="AdditionalStreetPrefixName" type="xs:string" minOccurs="0"/>
      <xs:element name="AdditionalStreetSuffixName" type="xs:string" minOccurs="0"/>
      <xs:element name="BillingBlockCode" type="xs:string" minOccurs="0"/>
      <xs:element name="BillingBlockCodeText" type="xs:string" minOccurs="0"/>
      <xs:element name="BuildingID" type="xs:string" minOccurs="0"/>
      <xs:element name="CareOfName" type="xs:string" minOccurs="0"/>
      <xs:element name="CategoryCode" type="xs:string" minOccurs="0"/>
      <xs:element name="CategoryCodeText" type="xs:string" minOccurs="0"/>
      <xs:element name="ChangedBy" type="xs:string" minOccurs="0"/>
      <xs:element name="ChangedOn" type="xs:string" minOccurs="0"/>
      <xs:element name="CityName" type="xs:string" minOccurs="0"/>
      <xs:element name="CompanyPostalCode" type="xs:string" minOccurs="0"/>
      <xs:element name="CompanyPostalCodeText" type="xs:string" minOccurs="0"/>
      <xs:element name="ContactPermissionCode" type="xs:string" minOccurs="0"/>
      <xs:element name="ContactPermissionCodeText" type="xs:string" minOccurs="0"/>
      <xs:element name="CorrespondenceLanguageCode" type="xs:string" minOccurs="0"/>
      <xs:element name="CorrespondenceLanguageCodeText" type="xs:string" minOccurs="0"/>
      <xs:element name="CountryCode" type="xs:string" minOccurs="0"/>
      <xs:element name="CountryCodeText" type="xs:string" minOccurs="0"/>
      <xs:element name="CountyName" type="xs:string" minOccurs="0"/>
      <xs:element name="CreatedBy" type="xs:string" minOccurs="0"/>
      <xs:element name="CreationOn" type="xs:string" minOccurs="0"/>
      <xs:element name="CustomerID" type="xs:string" minOccurs="0"/>
      <xs:element name="DateOfBirth" type="xs:string" minOccurs="0"/>
      <xs:element name="DeliveryBlockCode" type="xs:string" minOccurs="0"/>
      <xs:element name="DeliveryBlockCodeText" type="xs:string" minOccurs="0"/>
      <xs:element name="DistrictName" type="xs:string" minOccurs="0"/>
      <xs:element name="EMail" type="xs:string" minOccurs="0"/>
      <xs:element name="ETag" type="xs:string" minOccurs="0"/>
      <xs:element name="ExtensionFields" type="xs:string" minOccurs="0"/>
      <xs:element name="Fax" type="xs:string" minOccurs="0"/>
      <xs:element name="FirstName" type="xs:string" minOccurs="0"/>
      <xs:element name="GenderCode" type="xs:string" minOccurs="0"/>
      <xs:element name="GenderCodeText" type="xs:string" minOccurs="0"/>
      <xs:element name="HouseID" type="xs:string" minOccurs="0"/>
      <xs:element name="IndividualCustomerAttachment" type="IndividualCustomerAttachment" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="IndividualCustomerCommon" type="IndividualCustomerCommon" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="IndividualCustomerNotes" type="IndividualCustomerNotes" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="Initials" type="xs:string" minOccurs="0"/>
      <xs:element name="LanguageCode" type="xs:string" minOccurs="0"/>
      <xs:element name="LanguageCodeText" type="xs:string" minOccurs="0"/>
      <xs:element name="LastName" type="xs:string" minOccurs="0"/>
      <xs:element name="MaritalStatusCode" type="xs:string" minOccurs="0"/>
      <xs:element name="MaritalStatusCodeText" type="xs:string" minOccurs="0"/>
      <xs:element name="MarketingLeadIndicator" type="xs:boolean" minOccurs="0"/>
      <xs:element name="MiddleName" type="xs:string" minOccurs="0"/>
      <xs:element name="Mobile" type="xs:string" minOccurs="0"/>
      <xs:element name="Name" type="xs:string" minOccurs="0"/>
      <xs:element name="NationalityCode" type="xs:string" minOccurs="0"/>
      <xs:element name="NationalityCodeText" type="xs:string" minOccurs="0"/>
      <xs:element name="NickName" type="xs:string" minOccurs="0"/>
      <xs:element name="ObjectID" type="xs:string" minOccurs="0"/>
      <xs:element name="OrderBlockCode" type="xs:string" minOccurs="0"/>
      <xs:element name="OrderBlockCodeText" type="xs:string" minOccurs="0"/>
      <xs:element name="Owner" type="xs:string" minOccurs="0"/>
      <xs:element name="OwnerID" type="xs:string" minOccurs="0"/>
      <xs:element name="OwnerUUID" type="xs:string" minOccurs="0"/>
      <xs:element name="POBoxDeviatingCityName" type="xs:string" minOccurs="0"/>
      <xs:element name="POBoxDeviatingCountryCode" type="xs:string" minOccurs="0"/>
      <xs:element name="POBoxDeviatingCountryCodeText" type="xs:string" minOccurs="0"/>
      <xs:element name="POBoxDeviatingRegionCode" type="xs:string" minOccurs="0"/>
      <xs:element name="POBoxDeviatingRegionCodeText" type="xs:string" minOccurs="0"/>
      <xs:element name="POBoxID" type="xs:string" minOccurs="0"/>
      <xs:element name="POBoxPostalCode" type="xs:string" minOccurs="0"/>
      <xs:element name="POBoxPostalCodeText" type="xs:string" minOccurs="0"/>
      <xs:element name="Phone" type="xs:string" minOccurs="0"/>
      <xs:element name="PreferredCommunicationMediumTypeCode" type="xs:string" minOccurs="0"/>
      <xs:element name="PreferredCommunicationMediumTypeCodeText" type="xs:string" minOccurs="0"/>
      <xs:element name="PrefixCode" type="xs:string" minOccurs="0"/>
      <xs:element name="PrefixCodeText" type="xs:string" minOccurs="0"/>
      <xs:element name="ProfessionCode" type="xs:string" minOccurs="0"/>
      <xs:element name="ProfessionCodeText" type="xs:string" minOccurs="0"/>
      <xs:element name="RegionCode" type="xs:string" minOccurs="0"/>
      <xs:element name="RegionCodeText" type="xs:string" minOccurs="0"/>
      <xs:element name="RoleCode" type="xs:string" minOccurs="0"/>
      <xs:element name="RoleCodeText" type="xs:string" minOccurs="0"/>
      <xs:element name="SalesSupportBlock" type="xs:boolean" minOccurs="0"/>
      <xs:element name="StatusCode" type="xs:string" minOccurs="0"/>
      <xs:element name="StatusCodeText" type="xs:string" minOccurs="0"/>
      <xs:element name="StreetName" type="xs:string" minOccurs="0"/>
      <xs:element name="StreetPostalCode" type="xs:string" minOccurs="0"/>
      <xs:element name="StreetPostalCodeText" type="xs:string" minOccurs="0"/>
      <xs:element name="StreetPrefixName" type="xs:string" minOccurs="0"/>
      <xs:element name="StreetSuffixName" type="xs:string" minOccurs="0"/>
      <xs:element name="TaxJurisdictionCode" type="xs:string" minOccurs="0"/>
      <xs:element name="TaxJurisdictionCodeText" type="xs:string" minOccurs="0"/>
      <xs:element name="TimeZoneCode" type="xs:string" minOccurs="0"/>
      <xs:element name="TimeZoneCodeText" type="xs:string" minOccurs="0"/>
      <xs:element name="TitleCode" type="xs:string" minOccurs="0"/>
      <xs:element name="TitleCodeText" type="xs:string" minOccurs="0"/>
      <xs:element name="UUID" type="xs:string" minOccurs="0"/>
      <xs:element name="Web" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="IndividualCustomerAttachment">
    <xs:sequence>
      <xs:element name="Binary" type="xs:anyType" minOccurs="0"/>
      <xs:element name="CategoryCode" type="xs:string" minOccurs="0"/>
      <xs:element name="CategoryCodeText" type="xs:string" minOccurs="0"/>
      <xs:element name="CreatedBy" type="xs:string" minOccurs="0"/>
      <xs:element name="createdOn" type="xs:string" minOccurs="0"/>
      <xs:element name="DocumentLink" type="xs:string" minOccurs="0"/>
      <xs:element name="ETag" type="xs:string" minOccurs="0"/>
      <xs:element name="ExtensionFields" type="xs:string" minOccurs="0"/>
      <xs:element name="LastUpdatedBy" type="xs:string" minOccurs="0"/>
      <xs:element name="LastUpdatedOn" type="xs:string" minOccurs="0"/>
      <xs:element name="LinkWebURI" type="xs:string" minOccurs="0"/>
      <xs:element name="MimeType" type="xs:string" minOccurs="0"/>
      <xs:element name="Name" type="xs:string" minOccurs="0"/>
      <xs:element name="ObjectID" type="xs:string" minOccurs="0"/>
      <xs:element name="ParentObjectID" type="xs:string" minOccurs="0"/>
      <xs:element name="SizeInkB" type="xs:double" minOccurs="0"/>
      <xs:element name="TypeCode" type="xs:string" minOccurs="0"/>
      <xs:element name="TypeCodeText" type="xs:string" minOccurs="0"/>
      <xs:element name="UUID" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="IndividualCustomerCommon">
    <xs:sequence>
      <xs:element name="AcademicTitleCode" type="xs:string" minOccurs="0"/>
      <xs:element name="AcademicTitleCodeText" type="xs:string" minOccurs="0"/>
      <xs:element name="BirthDate" type="xs:string" minOccurs="0"/>
      <xs:element name="BirthDateProtectedIndicator" type="xs:boolean" minOccurs="0"/>
      <xs:element name="ETag" type="xs:string" minOccurs="0"/>
      <xs:element name="EndDate" type="xs:string" minOccurs="0"/>
      <xs:element name="ExtensionFields" type="xs:string" minOccurs="0"/>
      <xs:element name="FamilyName" type="xs:string" minOccurs="0"/>
      <xs:element name="GenderCode" type="xs:string" minOccurs="0"/>
      <xs:element name="GenderCodeText" type="xs:string" minOccurs="0"/>
      <xs:element name="GivenName" type="xs:string" minOccurs="0"/>
      <xs:element name="MaritalStatusCode" type="xs:string" minOccurs="0"/>
      <xs:element name="MaritalStatusCodeText" type="xs:string" minOccurs="0"/>
      <xs:element name="MaritalStatusProtectedIndicator" type="xs:boolean" minOccurs="0"/>
      <xs:element name="MiddleName" type="xs:string" minOccurs="0"/>
      <xs:element name="NationalityCountryCode" type="xs:string" minOccurs="0"/>
      <xs:element name="NationalityCountryCodeText" type="xs:string" minOccurs="0"/>
      <xs:element name="NonVerbalCommunicationLanguageCode" type="xs:string" minOccurs="0"/>
      <xs:element name="NonVerbalCommunicationLanguageCodeText" type="xs:string" minOccurs="0"/>
      <xs:element name="ObjectID" type="xs:string" minOccurs="0"/>
      <xs:element name="OccupationCode" type="xs:string" minOccurs="0"/>
      <xs:element name="OccupationCodeText" type="xs:string" minOccurs="0"/>
      <xs:element name="ParentObjectID" type="xs:string" minOccurs="0"/>
      <xs:element name="StartDate" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="IndividualCustomerNotes">
    <xs:sequence>
      <xs:element name="AuthorName" type="xs:string" minOccurs="0"/>
      <xs:element name="AuthorUUID" type="xs:string" minOccurs="0"/>
      <xs:element name="CreatedBy" type="xs:string" minOccurs="0"/>
      <xs:element name="createdOn" type="xs:string" minOccurs="0"/>
      <xs:element name="ETag" type="xs:string" minOccurs="0"/>
      <xs:element name="ExtensionFields" type="xs:string" minOccurs="0"/>
      <xs:element name="LanguageCode" type="xs:string" minOccurs="0"/>
      <xs:element name="LanguageCodeText" type="xs:string" minOccurs="0"/>
      <xs:element name="LastUpdatedBy" type="xs:string" minOccurs="0"/>
      <xs:element name="ObjectID" type="xs:string" minOccurs="0"/>
      <xs:element name="ParentObjectID" type="xs:string" minOccurs="0"/>
      <xs:element name="Text" type="xs:string" minOccurs="0"/>
      <xs:element name="TypeCode" type="xs:string" minOccurs="0"/>
      <xs:element name="TypeCodeText" type="xs:string" minOccurs="0"/>
      <xs:element name="UpdatedOn" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>

