Resources/schemas/Xsd/SAP_Subscription_Billing_Integration_with_SAP_Entitlement_Management - SBCustomer-1.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:element name="Root">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="Response" minOccurs="0" maxOccurs="unbounded">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="markets" minOccurs="0" maxOccurs="unbounded">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="marketId" type="xs:string" minOccurs="0"/>
										<xs:element name="currency" type="xs:string" minOccurs="0"/>
										<xs:element name="country" type="xs:string" minOccurs="0"/>
										<xs:element name="salesArea" minOccurs="0" maxOccurs="unbounded">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="salesOrganization" type="xs:string" minOccurs="0"/>
													<xs:element name="distributionChannel" type="xs:string" minOccurs="0"/>
													<xs:element name="division" type="xs:string" minOccurs="0"/>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
										<xs:element name="priceInfo" minOccurs="0" maxOccurs="unbounded">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="priceGroup" type="xs:string" minOccurs="0"/>
													<xs:element name="priceListType" type="xs:string" minOccurs="0"/>
													<xs:element name="incoterms" type="xs:string" minOccurs="0"/>
													<xs:element name="incotermsLocation" type="xs:string" minOccurs="0"/>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
										<xs:element name="active" type="xs:string" minOccurs="0"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="customerNumber" type="xs:string" minOccurs="0"/>
							<xs:element name="personalInfo" minOccurs="0" maxOccurs="unbounded">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="firstName" type="xs:string" minOccurs="0"/>
										<xs:element name="lastName" type="xs:string" minOccurs="0"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="corporateInfo" minOccurs="0" maxOccurs="unbounded">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="company" type="xs:string" minOccurs="0"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="customerType" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
							<xs:element name="externalReferencesListCompleteIndicator" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
							<xs:element name="externalReferences" minOccurs="0" maxOccurs="unbounded">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="systemId" type="xs:string" minOccurs="0"/>
										<xs:element name="externalId" type="xs:string" minOccurs="0"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="customReferences" minOccurs="0" maxOccurs="unbounded">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="id" type="xs:string" minOccurs="0"/>
										<xs:element name="typeCode" type="xs:string" minOccurs="0"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="addresses" minOccurs="0" maxOccurs="unbounded">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="email" type="xs:string" minOccurs="0"/>
										<xs:element name="phone" type="xs:string" minOccurs="0"/>
										<xs:element name="street" type="xs:string" minOccurs="0"/>
										<xs:element name="houseNumber" type="xs:string" minOccurs="0"/>
										<xs:element name="city" type="xs:string" minOccurs="0"/>
										<xs:element name="postalCode" type="xs:string" minOccurs="0"/>
										<xs:element name="state" type="xs:string" minOccurs="0"/>
										<xs:element name="country" type="xs:string" minOccurs="0"/>
										<xs:element name="isDefault" type="xs:string" minOccurs="0"/>
										<xs:element name="addressUUID" type="xs:string" minOccurs="0"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="defaultAddress" minOccurs="0" maxOccurs="unbounded">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="email" type="xs:string" minOccurs="0"/>
										<xs:element name="phone" type="xs:string" minOccurs="0"/>
										<xs:element name="street" type="xs:string" minOccurs="0"/>
										<xs:element name="additionalAddressInfo" type="xs:string" minOccurs="0"/>
										<xs:element name="houseNumber" type="xs:string" minOccurs="0"/>
										<xs:element name="city" type="xs:string" minOccurs="0"/>
										<xs:element name="postalCode" type="xs:string" minOccurs="0"/>
										<xs:element name="state" type="xs:string" minOccurs="0"/>
										<xs:element name="country" type="xs:string" minOccurs="0"/>
										<xs:element name="addressUUID" type="xs:string" minOccurs="0"/>
										<xs:element name="isDefault" type="xs:string" minOccurs="0"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
