Resources/schemas/Xsd/SAP_Predictive_Replenishment_Integration_with_SAP_S-4HANA - BAPI_PO_CREATE1_Respose.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified"
    xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:import namespace="http://www.w3.org/XML/1998/namespace" schemaLocation="PO_resp.xsd" />
    <xs:complexType name="BAPIRETURN">
        <xs:sequence>
            <xs:element name="TYPE" type="xs:string" />
            <xs:element name="MESSAGE" type="xs:string" />
        </xs:sequence>
    </xs:complexType>
    <xs:element name="BAPI_PO_CREATE1.Response">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="EXPPURCHASEORDER" type="xs:string" />
                <xs:element name="RETURN" minOccurs="1">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="item" type="BAPIRETURN" minOccurs="1"
                                maxOccurs="unbounded" />
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>