Resources/schemas/Xsd/SAP_Hybris_Service_Engagement_Center_Integration_with_Business_Suite - E1KNA1M.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="d">
    <xs:complexType>
      <xs:sequence>
        <xs:element type="xs:string" name="Msgfn" minOccurs="0" maxOccurs="1"/>
        <xs:element type="xs:string" name="Kunnr" minOccurs="0" maxOccurs="1"/>
        <xs:element type="xs:string" name="Anred" minOccurs="0" maxOccurs="1"/>
        <xs:element type="xs:string" name="Aufsd" minOccurs="0" maxOccurs="1"/>
        <xs:element type="xs:string" name="Bahne" minOccurs="0" maxOccurs="1"/>
        <xs:element type="xs:string" name="Bahns" minOccurs="0" maxOccurs="1"/>
        <xs:element type="xs:string" name="Bbbnr" minOccurs="0" maxOccurs="1"/>
        <xs:element type="xs:string" name="Bbsnr" minOccurs="0" maxOccurs="1"/>
        <xs:element type="xs:string" name="Begru" minOccurs="0" maxOccurs="1"/>
        <xs:element type="xs:string" name="Brsch" minOccurs="0" maxOccurs="1"/>     
        <xs:element type="xs:string" name="Bubkz" minOccurs="0" maxOccurs="1"/>
        <xs:element type="xs:string" name="Datlt" minOccurs="0" maxOccurs="1"/>
        <xs:element type="xs:string" name="Faksd" minOccurs="0" maxOccurs="1"/>
        <xs:element type="xs:string" name="Fiskn" minOccurs="0" maxOccurs="1"/>
        <xs:element type="xs:string" name="Knrza" minOccurs="0" maxOccurs="1"/>
        <xs:element type="xs:string" name="Konzs" minOccurs="0" maxOccurs="1"/>
        <xs:element type="xs:string" name="Ktokd" minOccurs="0" maxOccurs="1"/>
        <xs:element type="xs:string" name="Kukla" minOccurs="0" maxOccurs="1"/>
        <xs:element type="xs:string" name="Land1" minOccurs="0" maxOccurs="1"/>
        <xs:element type="xs:string" name="Lifnr" minOccurs="0" maxOccurs="1"/>       
        <xs:element type="xs:string" name="Lifsd" minOccurs="0" maxOccurs="1"/>
        <xs:element type="xs:string" name="Locco" minOccurs="0" maxOccurs="1"/>
        <xs:element type="xs:string" name="Loevm" minOccurs="0" maxOccurs="1"/>
        <xs:element type="xs:string" name="Name1" minOccurs="0" maxOccurs="1"/>
        <xs:element type="xs:string" name="Name2" minOccurs="0" maxOccurs="1"/>
        <xs:element type="xs:string" name="Name3" minOccurs="0" maxOccurs="1"/>
        <xs:element type="xs:string" name="Name4" minOccurs="0" maxOccurs="1"/>
        <xs:element type="xs:string" name="Niels" minOccurs="0" maxOccurs="1"/>
        <xs:element type="xs:string" name="Ort01" minOccurs="0" maxOccurs="1"/>
        <xs:element type="xs:string" name="Ort02" minOccurs="0" maxOccurs="1"/>
        <xs:element type="xs:string" name="Pfach" minOccurs="0" maxOccurs="1"/>
        <xs:element type="xs:string" name="Pstl2" minOccurs="0" maxOccurs="1"/>
        <xs:element type="xs:string" name="Pstlz" minOccurs="0" maxOccurs="1"/>
        <xs:element type="xs:string" name="Regio" minOccurs="0" maxOccurs="1"/>
        <xs:element type="xs:string" name="Counc" minOccurs="0" maxOccurs="1"/>
        <xs:element type="xs:string" name="Cityc" minOccurs="0" maxOccurs="1"/>
        <xs:element type="xs:string" name="Rpmkr" minOccurs="0" maxOccurs="1"/>
        <xs:element type="xs:string" name="Sortl" minOccurs="0" maxOccurs="1"/>
        <xs:element type="xs:string" name="Sperr" minOccurs="0" maxOccurs="1"/>
        <xs:element type="xs:string" name="Spras" minOccurs="0" maxOccurs="1"/>       
        <xs:element type="xs:string" name="Stcd1" minOccurs="0" maxOccurs="1"/>
        <xs:element type="xs:string" name="Stcd2" minOccurs="0" maxOccurs="1"/>
        <xs:element type="xs:string" name="Stkza" minOccurs="0" maxOccurs="1"/>
        <xs:element type="xs:string" name="Stkzu" minOccurs="0" maxOccurs="1"/>
        <xs:element type="xs:string" name="Stras" minOccurs="0" maxOccurs="1"/>
        <xs:element type="xs:string" name="Telbx" minOccurs="0" maxOccurs="1"/>
        <xs:element type="xs:string" name="Telf1" minOccurs="0" maxOccurs="1"/>
        <xs:element type="xs:string" name="Telf2" minOccurs="0" maxOccurs="1"/>
        <xs:element type="xs:string" name="Telfx" minOccurs="0" maxOccurs="1"/>
        <xs:element type="xs:string" name="Teltx" minOccurs="0" maxOccurs="1"/>      
        <xs:element type="xs:string" name="Telx1" minOccurs="0" maxOccurs="1"/>
        <xs:element type="xs:string" name="Lzone" minOccurs="0" maxOccurs="1"/>
        <xs:element type="xs:string" name="Xzemp" minOccurs="0" maxOccurs="1"/>
        <xs:element type="xs:string" name="Vbund" minOccurs="0" maxOccurs="1"/>
        <xs:element type="xs:string" name="Stceg" minOccurs="0" maxOccurs="1"/>
        <xs:element type="xs:string" name="Gform" minOccurs="0" maxOccurs="1"/>
        <xs:element type="xs:string" name="Bran1" minOccurs="0" maxOccurs="1"/>
        <xs:element type="xs:string" name="Bran2" minOccurs="0" maxOccurs="1"/>
        <xs:element type="xs:string" name="Bran3" minOccurs="0" maxOccurs="1"/>
        <xs:element type="xs:string" name="Bran4" minOccurs="0" maxOccurs="1"/>
        <xs:element type="xs:string" name="Bran5" minOccurs="0" maxOccurs="1"/>       
        <xs:element type="xs:string" name="Umjah" minOccurs="0" maxOccurs="1"/>
        <xs:element type="xs:string" name="Uwaer" minOccurs="0" maxOccurs="1"/>
        <xs:element type="xs:string" name="Jmzah" minOccurs="0" maxOccurs="1"/>
        <xs:element type="xs:string" name="Jmjah" minOccurs="0" maxOccurs="1"/>
        <xs:element type="xs:string" name="Katr1" minOccurs="0" maxOccurs="1"/>
        <xs:element type="xs:string" name="Katr2" minOccurs="0" maxOccurs="1"/>
        <xs:element type="xs:string" name="Katr3" minOccurs="0" maxOccurs="1"/>
        <xs:element type="xs:string" name="Katr4" minOccurs="0" maxOccurs="1"/>
        <xs:element type="xs:string" name="Katr5" minOccurs="0" maxOccurs="1"/>       
        <xs:element type="xs:string" name="Katr6" minOccurs="0" maxOccurs="1"/>
        <xs:element type="xs:string" name="Katr7" minOccurs="0" maxOccurs="1"/>
        <xs:element type="xs:string" name="Katr8" minOccurs="0" maxOccurs="1"/>
        <xs:element type="xs:string" name="Katr9" minOccurs="0" maxOccurs="1"/>
        <xs:element type="xs:string" name="Katr10" minOccurs="0" maxOccurs="1"/>
        <xs:element type="xs:string" name="Stkzn" minOccurs="0" maxOccurs="1"/>
        <xs:element type="xs:string" name="Umsa1" minOccurs="0" maxOccurs="1"/>
        <xs:element type="xs:string" name="Periv" minOccurs="0" maxOccurs="1"/>
        <xs:element type="xs:string" name="Ktocd" minOccurs="0" maxOccurs="1"/>
        <xs:element type="xs:string" name="Pfort" minOccurs="0" maxOccurs="1"/>       
        <xs:element type="xs:string" name="Dtams" minOccurs="0" maxOccurs="1"/>
        <xs:element type="xs:string" name="Dtaws" minOccurs="0" maxOccurs="1"/>
        <xs:element type="xs:string" name="Hzuor" minOccurs="0" maxOccurs="1"/>
        <xs:element type="xs:string" name="Civve" minOccurs="0" maxOccurs="1"/>
        <xs:element type="xs:string" name="Milve" minOccurs="0" maxOccurs="1"/>
        <xs:element type="xs:string" name="SprasIso" minOccurs="0" maxOccurs="1"/>
        <xs:element type="xs:string" name="Fityp" minOccurs="0" maxOccurs="1"/>
        <xs:element type="xs:string" name="Stcdt" minOccurs="0" maxOccurs="1"/>
        <xs:element type="xs:string" name="Stcd3" minOccurs="0" maxOccurs="1"/>
        <xs:element type="xs:string" name="Stcd4" minOccurs="0" maxOccurs="1"/>       
        <xs:element type="xs:string" name="Xicms" minOccurs="0" maxOccurs="1"/>
        <xs:element type="xs:string" name="Xxipi" minOccurs="0" maxOccurs="1"/>
        <xs:element type="xs:string" name="Xsubt" minOccurs="0" maxOccurs="1"/>
        <xs:element type="xs:string" name="Cfopc" minOccurs="0" maxOccurs="1"/>
        <xs:element type="xs:string" name="Txlw1" minOccurs="0" maxOccurs="1"/>
        <xs:element type="xs:string" name="Txlw2" minOccurs="0" maxOccurs="1"/>
        <xs:element type="xs:string" name="Ccc01" minOccurs="0" maxOccurs="1"/>
        <xs:element type="xs:string" name="Ccc02" minOccurs="0" maxOccurs="1"/>
        <xs:element type="xs:string" name="Ccc03" minOccurs="0" maxOccurs="1"/>
        <xs:element type="xs:string" name="Ccc04" minOccurs="0" maxOccurs="1"/>      
        <xs:element type="xs:string" name="Cassd" minOccurs="0" maxOccurs="1"/>
        <xs:element type="xs:string" name="Kdkg1" minOccurs="0" maxOccurs="1"/>
        <xs:element type="xs:string" name="Kdkg2" minOccurs="0" maxOccurs="1"/>
        <xs:element type="xs:string" name="Kdkg3" minOccurs="0" maxOccurs="1"/>
        <xs:element type="xs:string" name="Kdkg4" minOccurs="0" maxOccurs="1"/>
        <xs:element type="xs:string" name="Kdkg5" minOccurs="0" maxOccurs="1"/>
        <xs:element type="xs:string" name="Nodel" minOccurs="0" maxOccurs="1"/>
        <xs:element type="xs:string" name="Xsub2" minOccurs="0" maxOccurs="1"/>
        <xs:element type="xs:string" name="Werks" minOccurs="0" maxOccurs="1"/>
        <xs:element name="_metadata">
          <xs:complexType>
            <xs:sequence>
                     <xs:element type="xs:string" name="id"/>
                     <xs:element type="xs:string" name="uri"/>
                     <xs:element type="xs:string" name="type"/>
             </xs:sequence>
           </xs:complexType>
         </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>