Resources/schemas/Xsd/SAP_CPQ_-_Quote_2.0_Integration_with_SAP_Billing_and_Revenue_Innovation_Management - GetItems_withSelectedAttributes.xsd

<?xml version="1.0" encoding="UTF-8"?><xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="qualified">
	<xs:element name="QuoteItems">
		<xs:complexType>
			<xs:sequence>
				<xs:element maxOccurs="unbounded" minOccurs="0" name="row">
					<xs:complexType>
						<xs:sequence>
							<xs:element maxOccurs="1" minOccurs="1" name="ItemId" type="xs:int"/>
							<xs:element maxOccurs="1" minOccurs="1" name="ItemNumber" type="xs:int"/>
							<xs:element maxOccurs="1" minOccurs="1" name="ParentItemId" type="xs:int"/>
							<xs:element maxOccurs="1" minOccurs="1" name="ParentRolledUpItemNumber" type="xs:string"/>
							<xs:element maxOccurs="1" minOccurs="1" name="ParentItemNumber" type="xs:int"/>
							<xs:element maxOccurs="1" minOccurs="1" name="RolledUpItemNumber" type="xs:int"/>
							<xs:element maxOccurs="1" minOccurs="1" name="DateAdded" type="xs:dateTime"/>
							<xs:element maxOccurs="1" minOccurs="1" name="Description" type="xs:string"/>
							<xs:element maxOccurs="1" minOccurs="1" name="DescriptionLong" type="xs:string"/>
							<xs:element maxOccurs="1" minOccurs="1" name="IsLineItem" type="xs:boolean"/>
							<xs:element maxOccurs="1" minOccurs="1" name="IsMainItem" type="xs:boolean"/>
							<xs:element maxOccurs="1" minOccurs="1" name="IsOptional" type="xs:boolean"/>
							<xs:element maxOccurs="1" minOccurs="1" name="IsVariant" type="xs:boolean"/>
							<xs:element maxOccurs="1" minOccurs="1" name="IsAlternative" type="xs:boolean"/>
							<xs:element maxOccurs="1" minOccurs="1" name="IsSubscriptionItem" type="xs:boolean"/>
							<xs:element maxOccurs="1" minOccurs="1" name="ItemClassificationType" type="xs:int"/>
							<xs:element maxOccurs="1" minOccurs="1" name="ItemType" type="xs:int"/>
							<xs:element maxOccurs="1" minOccurs="1" name="Quantity" type="xs:double"/>
							<xs:element maxOccurs="1" minOccurs="1" name="UnitOfMeasure" type="xs:string"/>
							<xs:element maxOccurs="1" minOccurs="1" name="PartNumber" type="xs:string"/>
							<xs:element maxOccurs="1" minOccurs="1" name="ProductSystemId" type="xs:string"/>
							<xs:element maxOccurs="1" minOccurs="1" name="ProductId" type="xs:int"/>
							<xs:element maxOccurs="1" minOccurs="1" name="ProductName" type="xs:string"/>
							<xs:element maxOccurs="1" minOccurs="1" name="ProductNameTranslated" type="xs:string"/>
							<xs:element maxOccurs="1" minOccurs="1" name="ProductTypeId" type="xs:int"/>
							<xs:element maxOccurs="1" minOccurs="1" name="ProductTypeName" type="xs:string"/>
							<xs:element maxOccurs="1" minOccurs="1" name="ProductTypeNameTranslated" type="xs:string"/>
							<xs:element name="SyncedFromBackOffice " nillable="true" type="xs:boolean"/>
							<xs:element maxOccurs="1" minOccurs="0" name="ChangeProcessGroupCode" nillable="true" type="xs:string"/>
							<xs:element maxOccurs="1" minOccurs="0" name="SubscriptionContractDocumentNumber" nillable="true" type="xs:string"/>
							<xs:element maxOccurs="1" minOccurs="0" name="ContractChangeActivationDate" nillable="true" type="xs:string"/>
							<xs:element maxOccurs="1" minOccurs="0" name="SubscriptionContractNumber" nillable="true" type="xs:string"/>
							<xs:element maxOccurs="1" minOccurs="0" name="SubscriptionContractItemNumber" nillable="true" type="xs:string"/>
							<xs:element maxOccurs="1" minOccurs="1" name="Comment" type="xs:string"/>
							<xs:element maxOccurs="unbounded" minOccurs="0" name="CollaborationComments">
								<xs:complexType>
									<xs:sequence>
										<xs:element maxOccurs="1" minOccurs="1" name="Id" type="xs:int"/>
										<xs:element maxOccurs="1" minOccurs="1" name="ItemId" type="xs:int"/>
										<xs:element maxOccurs="1" minOccurs="1" name="UserFullName" type="xs:string"/>
										<xs:element maxOccurs="1" minOccurs="1" name="UserEmail" type="xs:string"/>
										<xs:element maxOccurs="1" minOccurs="1" name="UserCompany" type="xs:string"/>
										<xs:element maxOccurs="1" minOccurs="1" name="DateCreated" type="xs:dateTime"/>
										<xs:element maxOccurs="1" minOccurs="1" name="Comment" type="xs:string"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element maxOccurs="unbounded" minOccurs="0" name="PricingDetails">
								<xs:complexType>
									<xs:sequence>
										<xs:element maxOccurs="1" minOccurs="1" name="Fixed">
											<xs:complexType>
												<xs:sequence>
													<xs:element maxOccurs="1" minOccurs="1" name="ListPrice">
														<xs:complexType>
															<xs:sequence>
																<xs:element maxOccurs="1" minOccurs="1" name="Value" type="xs:double"/>
																<xs:element maxOccurs="1" minOccurs="1" name="Currency" type="xs:string"/>
															</xs:sequence>
														</xs:complexType>
													</xs:element>
													<xs:element maxOccurs="1" minOccurs="1" name="NetPrice">
														<xs:complexType>
															<xs:sequence>
																<xs:element maxOccurs="1" minOccurs="1" name="Value" type="xs:double"/>
																<xs:element maxOccurs="1" minOccurs="1" name="Currency" type="xs:string"/>
															</xs:sequence>
														</xs:complexType>
													</xs:element>
													<xs:element maxOccurs="1" minOccurs="1" name="ExtendedListPrice">
														<xs:complexType>
															<xs:sequence>
																<xs:element maxOccurs="1" minOccurs="1" name="Value" type="xs:double"/>
																<xs:element maxOccurs="1" minOccurs="1" name="Currency" type="xs:string"/>
															</xs:sequence>
														</xs:complexType>
													</xs:element>
													<xs:element maxOccurs="1" minOccurs="1" name="ExtendedAmount">
														<xs:complexType>
															<xs:sequence>
																<xs:element maxOccurs="1" minOccurs="1" name="Value" type="xs:double"/>
																<xs:element maxOccurs="1" minOccurs="1" name="Currency" type="xs:string"/>
															</xs:sequence>
														</xs:complexType>
													</xs:element>
													<xs:element maxOccurs="1" minOccurs="1" name="DiscountPercent">
														<xs:complexType>
															<xs:sequence>
																<xs:element maxOccurs="1" minOccurs="1" name="Value" type="xs:double"/>
																<xs:element maxOccurs="1" minOccurs="1" name="Currency" type="xs:string"/>
															</xs:sequence>
														</xs:complexType>
													</xs:element>
													<xs:element maxOccurs="1" minOccurs="1" name="DefaultDiscountPercent">
														<xs:complexType>
															<xs:sequence>
																<xs:element maxOccurs="1" minOccurs="1" name="Value" type="xs:double"/>
																<xs:element maxOccurs="1" minOccurs="1" name="Currency" type="xs:string"/>
															</xs:sequence>
														</xs:complexType>
													</xs:element>
													<xs:element maxOccurs="1" minOccurs="1" name="MinDiscountPercent">
														<xs:complexType>
															<xs:sequence>
																<xs:element maxOccurs="1" minOccurs="1" name="Value" type="xs:double"/>
																<xs:element maxOccurs="1" minOccurs="1" name="Currency" type="xs:string"/>
															</xs:sequence>
														</xs:complexType>
													</xs:element>
													<xs:element maxOccurs="1" minOccurs="1" name="MaxDiscountPercent">
														<xs:complexType>
															<xs:sequence>
																<xs:element maxOccurs="1" minOccurs="1" name="Value" type="xs:double"/>
																<xs:element maxOccurs="1" minOccurs="1" name="Currency" type="xs:string"/>
															</xs:sequence>
														</xs:complexType>
													</xs:element>
													<xs:element maxOccurs="1" minOccurs="1" name="UnitDiscountAmount">
														<xs:complexType>
															<xs:sequence>
																<xs:element maxOccurs="1" minOccurs="1" name="Value" type="xs:double"/>
																<xs:element maxOccurs="1" minOccurs="1" name="Currency" type="xs:string"/>
															</xs:sequence>
														</xs:complexType>
													</xs:element>
													<xs:element maxOccurs="1" minOccurs="1" name="DiscountAmount">
														<xs:complexType>
															<xs:sequence>
																<xs:element maxOccurs="1" minOccurs="1" name="Value" type="xs:double"/>
																<xs:element maxOccurs="1" minOccurs="1" name="Currency" type="xs:string"/>
															</xs:sequence>
														</xs:complexType>
													</xs:element>
													<xs:element maxOccurs="1" minOccurs="1" name="Cost">
														<xs:complexType>
															<xs:sequence>
																<xs:element maxOccurs="1" minOccurs="1" name="Value" type="xs:double"/>
																<xs:element maxOccurs="1" minOccurs="1" name="Currency" type="xs:string"/>
															</xs:sequence>
														</xs:complexType>
													</xs:element>
													<xs:element maxOccurs="1" minOccurs="1" name="ExtendedCost">
														<xs:complexType>
															<xs:sequence>
																<xs:element maxOccurs="1" minOccurs="1" name="Value" type="xs:double"/>
																<xs:element maxOccurs="1" minOccurs="1" name="Currency" type="xs:string"/>
															</xs:sequence>
														</xs:complexType>
													</xs:element>
													<xs:element maxOccurs="1" minOccurs="1" name="MarginPercent">
														<xs:complexType>
															<xs:sequence>
																<xs:element maxOccurs="1" minOccurs="1" name="Value" type="xs:double"/>
																<xs:element maxOccurs="1" minOccurs="1" name="Currency" type="xs:string"/>
															</xs:sequence>
														</xs:complexType>
													</xs:element>
													<xs:element maxOccurs="1" minOccurs="1" name="RolledUpListPrice">
														<xs:complexType>
															<xs:sequence>
																<xs:element maxOccurs="1" minOccurs="1" name="Value" type="xs:double"/>
																<xs:element maxOccurs="1" minOccurs="1" name="Currency" type="xs:string"/>
															</xs:sequence>
														</xs:complexType>
													</xs:element>
													<xs:element maxOccurs="1" minOccurs="1" name="RolledUpNetPrice">
														<xs:complexType>
															<xs:sequence>
																<xs:element maxOccurs="1" minOccurs="1" name="Value" type="xs:double"/>
																<xs:element maxOccurs="1" minOccurs="1" name="Currency" type="xs:string"/>
															</xs:sequence>
														</xs:complexType>
													</xs:element>
													<xs:element maxOccurs="1" minOccurs="1" name="RolledUpExtendedListPrice">
														<xs:complexType>
															<xs:sequence>
																<xs:element maxOccurs="1" minOccurs="1" name="Value" type="xs:double"/>
																<xs:element maxOccurs="1" minOccurs="1" name="Currency" type="xs:string"/>
															</xs:sequence>
														</xs:complexType>
													</xs:element>
													<xs:element maxOccurs="1" minOccurs="1" name="RolledUpExtendedAmount">
														<xs:complexType>
															<xs:sequence>
																<xs:element maxOccurs="1" minOccurs="1" name="Value" type="xs:double"/>
																<xs:element maxOccurs="1" minOccurs="1" name="Currency" type="xs:string"/>
															</xs:sequence>
														</xs:complexType>
													</xs:element>
													<xs:element maxOccurs="1" minOccurs="1" name="RolledUpDiscountPercent">
														<xs:complexType>
															<xs:sequence>
																<xs:element maxOccurs="1" minOccurs="1" name="Value" type="xs:double"/>
																<xs:element maxOccurs="1" minOccurs="1" name="Currency" type="xs:string"/>
															</xs:sequence>
														</xs:complexType>
													</xs:element>
													<xs:element maxOccurs="1" minOccurs="1" name="RolledUpDiscountAmount">
														<xs:complexType>
															<xs:sequence>
																<xs:element maxOccurs="1" minOccurs="1" name="Value" type="xs:double"/>
																<xs:element maxOccurs="1" minOccurs="1" name="Currency" type="xs:string"/>
															</xs:sequence>
														</xs:complexType>
													</xs:element>
													<xs:element maxOccurs="1" minOccurs="1" name="RolledUpGrossMargin">
														<xs:complexType>
															<xs:sequence>
																<xs:element maxOccurs="1" minOccurs="1" name="Value" type="xs:double"/>
																<xs:element maxOccurs="1" minOccurs="1" name="Currency" type="xs:string"/>
															</xs:sequence>
														</xs:complexType>
													</xs:element>
													<xs:element maxOccurs="1" minOccurs="1" name="RolledUpCost">
														<xs:complexType>
															<xs:sequence>
																<xs:element maxOccurs="1" minOccurs="1" name="Value" type="xs:double"/>
																<xs:element maxOccurs="1" minOccurs="1" name="Currency" type="xs:string"/>
															</xs:sequence>
														</xs:complexType>
													</xs:element>
													<xs:element maxOccurs="1" minOccurs="1" name="RolledUpExtendedCost">
														<xs:complexType>
															<xs:sequence>
																<xs:element maxOccurs="1" minOccurs="1" name="Value" type="xs:double"/>
																<xs:element maxOccurs="1" minOccurs="1" name="Currency" type="xs:string"/>
															</xs:sequence>
														</xs:complexType>
													</xs:element>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
										<xs:element name="Recurring">
											<xs:complexType>
												<xs:sequence>
													<xs:element maxOccurs="1" minOccurs="1" name="ListPrice">
														<xs:complexType>
															<xs:sequence>
																<xs:element maxOccurs="1" minOccurs="1" name="Value" type="xs:double"/>
																<xs:element maxOccurs="1" minOccurs="1" name="Currency" type="xs:string"/>
															</xs:sequence>
														</xs:complexType>
													</xs:element>
													<xs:element maxOccurs="1" minOccurs="1" name="NetPrice">
														<xs:complexType>
															<xs:sequence>
																<xs:element maxOccurs="1" minOccurs="1" name="Value" type="xs:double"/>
																<xs:element maxOccurs="1" minOccurs="1" name="Currency" type="xs:string"/>
															</xs:sequence>
														</xs:complexType>
													</xs:element>
													<xs:element maxOccurs="1" minOccurs="1" name="ExtendedListPrice">
														<xs:complexType>
															<xs:sequence>
																<xs:element maxOccurs="1" minOccurs="1" name="Value" type="xs:double"/>
																<xs:element maxOccurs="1" minOccurs="1" name="Currency" type="xs:string"/>
															</xs:sequence>
														</xs:complexType>
													</xs:element>
													<xs:element maxOccurs="1" minOccurs="1" name="ExtendedAmount">
														<xs:complexType>
															<xs:sequence>
																<xs:element maxOccurs="1" minOccurs="1" name="Value" type="xs:double"/>
																<xs:element maxOccurs="1" minOccurs="1" name="Currency" type="xs:string"/>
															</xs:sequence>
														</xs:complexType>
													</xs:element>
													<xs:element maxOccurs="1" minOccurs="1" name="DiscountPercent">
														<xs:complexType>
															<xs:sequence>
																<xs:element maxOccurs="1" minOccurs="1" name="Value" type="xs:double"/>
																<xs:element maxOccurs="1" minOccurs="1" name="Currency" type="xs:string"/>
															</xs:sequence>
														</xs:complexType>
													</xs:element>
													<xs:element maxOccurs="1" minOccurs="1" name="DefaultDiscountPercent">
														<xs:complexType>
															<xs:sequence>
																<xs:element maxOccurs="1" minOccurs="1" name="Value" type="xs:double"/>
																<xs:element maxOccurs="1" minOccurs="1" name="Currency" type="xs:string"/>
															</xs:sequence>
														</xs:complexType>
													</xs:element>
													<xs:element maxOccurs="1" minOccurs="1" name="MinDiscountPercent">
														<xs:complexType>
															<xs:sequence>
																<xs:element maxOccurs="1" minOccurs="1" name="Value" type="xs:double"/>
																<xs:element maxOccurs="1" minOccurs="1" name="Currency" type="xs:string"/>
															</xs:sequence>
														</xs:complexType>
													</xs:element>
													<xs:element maxOccurs="1" minOccurs="1" name="MaxDiscountPercent">
														<xs:complexType>
															<xs:sequence>
																<xs:element maxOccurs="1" minOccurs="1" name="Value" type="xs:double"/>
																<xs:element maxOccurs="1" minOccurs="1" name="Currency" type="xs:string"/>
															</xs:sequence>
														</xs:complexType>
													</xs:element>
													<xs:element maxOccurs="1" minOccurs="1" name="UnitDiscountAmount">
														<xs:complexType>
															<xs:sequence>
																<xs:element maxOccurs="1" minOccurs="1" name="Value" type="xs:double"/>
																<xs:element maxOccurs="1" minOccurs="1" name="Currency" type="xs:string"/>
															</xs:sequence>
														</xs:complexType>
													</xs:element>
													<xs:element maxOccurs="1" minOccurs="1" name="DiscountAmount">
														<xs:complexType>
															<xs:sequence>
																<xs:element maxOccurs="1" minOccurs="1" name="Value" type="xs:double"/>
																<xs:element maxOccurs="1" minOccurs="1" name="Currency" type="xs:string"/>
															</xs:sequence>
														</xs:complexType>
													</xs:element>
													<xs:element maxOccurs="1" minOccurs="1" name="Cost">
														<xs:complexType>
															<xs:sequence>
																<xs:element maxOccurs="1" minOccurs="1" name="Value" type="xs:double"/>
																<xs:element maxOccurs="1" minOccurs="1" name="Currency" type="xs:string"/>
															</xs:sequence>
														</xs:complexType>
													</xs:element>
													<xs:element maxOccurs="1" minOccurs="1" name="ExtendedCost">
														<xs:complexType>
															<xs:sequence>
																<xs:element maxOccurs="1" minOccurs="1" name="Value" type="xs:double"/>
																<xs:element maxOccurs="1" minOccurs="1" name="Currency" type="xs:string"/>
															</xs:sequence>
														</xs:complexType>
													</xs:element>
													<xs:element maxOccurs="1" minOccurs="1" name="MarginPercent">
														<xs:complexType>
															<xs:sequence>
																<xs:element maxOccurs="1" minOccurs="1" name="Value" type="xs:double"/>
																<xs:element maxOccurs="1" minOccurs="1" name="Currency" type="xs:string"/>
															</xs:sequence>
														</xs:complexType>
													</xs:element>
													<xs:element maxOccurs="1" minOccurs="1" name="RolledUpListPrice">
														<xs:complexType>
															<xs:sequence>
																<xs:element maxOccurs="1" minOccurs="1" name="Value" type="xs:double"/>
																<xs:element maxOccurs="1" minOccurs="1" name="Currency" type="xs:string"/>
															</xs:sequence>
														</xs:complexType>
													</xs:element>
													<xs:element maxOccurs="1" minOccurs="1" name="RolledUpNetPrice">
														<xs:complexType>
															<xs:sequence>
																<xs:element maxOccurs="1" minOccurs="1" name="Value" type="xs:double"/>
																<xs:element maxOccurs="1" minOccurs="1" name="Currency" type="xs:string"/>
															</xs:sequence>
														</xs:complexType>
													</xs:element>
													<xs:element maxOccurs="1" minOccurs="1" name="RolledUpExtendedListPrice">
														<xs:complexType>
															<xs:sequence>
																<xs:element maxOccurs="1" minOccurs="1" name="Value" type="xs:double"/>
																<xs:element maxOccurs="1" minOccurs="1" name="Currency" type="xs:string"/>
															</xs:sequence>
														</xs:complexType>
													</xs:element>
													<xs:element maxOccurs="1" minOccurs="1" name="RolledUpExtendedAmount">
														<xs:complexType>
															<xs:sequence>
																<xs:element maxOccurs="1" minOccurs="1" name="Value" type="xs:double"/>
																<xs:element maxOccurs="1" minOccurs="1" name="Currency" type="xs:string"/>
															</xs:sequence>
														</xs:complexType>
													</xs:element>
													<xs:element maxOccurs="1" minOccurs="1" name="RolledUpDiscountPercent">
														<xs:complexType>
															<xs:sequence>
																<xs:element maxOccurs="1" minOccurs="1" name="Value" type="xs:double"/>
																<xs:element maxOccurs="1" minOccurs="1" name="Currency" type="xs:string"/>
															</xs:sequence>
														</xs:complexType>
													</xs:element>
													<xs:element maxOccurs="1" minOccurs="1" name="RolledUpDiscountAmount">
														<xs:complexType>
															<xs:sequence>
																<xs:element maxOccurs="1" minOccurs="1" name="Value" type="xs:double"/>
																<xs:element maxOccurs="1" minOccurs="1" name="Currency" type="xs:string"/>
															</xs:sequence>
														</xs:complexType>
													</xs:element>
													<xs:element maxOccurs="1" minOccurs="1" name="RolledUpGrossMargin">
														<xs:complexType>
															<xs:sequence>
																<xs:element maxOccurs="1" minOccurs="1" name="Value" type="xs:double"/>
																<xs:element maxOccurs="1" minOccurs="1" name="Currency" type="xs:string"/>
															</xs:sequence>
														</xs:complexType>
													</xs:element>
													<xs:element maxOccurs="1" minOccurs="1" name="RolledUpCost">
														<xs:complexType>
															<xs:sequence>
																<xs:element maxOccurs="1" minOccurs="1" name="Value" type="xs:double"/>
																<xs:element maxOccurs="1" minOccurs="1" name="Currency" type="xs:string"/>
															</xs:sequence>
														</xs:complexType>
													</xs:element>
													<xs:element maxOccurs="1" minOccurs="1" name="RolledUpExtendedCost">
														<xs:complexType>
															<xs:sequence>
																<xs:element maxOccurs="1" minOccurs="1" name="Value" type="xs:double"/>
																<xs:element maxOccurs="1" minOccurs="1" name="Currency" type="xs:string"/>
															</xs:sequence>
														</xs:complexType>
													</xs:element>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element maxOccurs="1" minOccurs="0" name="SubscriptionDetails" nillable="true">
								<xs:complexType>
									<xs:sequence>
										<xs:element maxOccurs="1" minOccurs="0" name="EffectiveDate" nillable="true" type="xs:dateTime"/>
										<xs:element maxOccurs="1" minOccurs="0" name="RatePlanId" nillable="true" type="xs:string"/>
										<xs:element maxOccurs="1" minOccurs="0" name="ContractStartDate" nillable="true" type="xs:dateTime"/>
										<xs:element maxOccurs="1" minOccurs="0" name="ContractEndDate" nillable="true" type="xs:dateTime"/>
										<xs:element maxOccurs="1" minOccurs="1" name="ContractLength" type="xs:int"/>
										<xs:element maxOccurs="1" minOccurs="0" name="MinimumContractEndDate" nillable="true" type="xs:dateTime"/>
										<xs:element maxOccurs="1" minOccurs="1" name="MinimumContractLength" nillable="true" type="xs:int"/>
										<xs:element maxOccurs="1" minOccurs="0" name="SubscriptionParameters" nillable="true">
											<xs:complexType>
												<xs:sequence>
													<xs:element maxOccurs="unbounded" minOccurs="0" name="SubscriptionParameter">
														<xs:complexType>
															<xs:sequence>
																<xs:element maxOccurs="1" minOccurs="1" name="Code" type="xs:string"/>
																<xs:element maxOccurs="1" minOccurs="0" name="Value" nillable="true" type="xs:string"/>
															</xs:sequence>
														</xs:complexType>
													</xs:element>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
										<xs:element maxOccurs="1" minOccurs="0" name="Pricing" nillable="true">
											<xs:complexType>
												<xs:sequence>
													<xs:element maxOccurs="1" minOccurs="0" name="RatePlanSnapshotEffectiveDate" nillable="true" type="xs:dateTime"/>
													<xs:element maxOccurs="1" minOccurs="0" name="PricingParameters" nillable="true">
														<xs:complexType>
															<xs:sequence>
																<xs:element maxOccurs="unbounded" minOccurs="0" name="PricingParameter">
																	<xs:complexType>
																		<xs:sequence>
																			<xs:element maxOccurs="1" minOccurs="1" name="Code" type="xs:string"/>
																			<xs:element maxOccurs="1" minOccurs="1" name="Value" nillable="true" type="xs:string"/>
																		</xs:sequence>
																	</xs:complexType>
																</xs:element>
															</xs:sequence>
														</xs:complexType>
													</xs:element>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element maxOccurs="unbounded" minOccurs="0" name="CustomFields">
								<xs:complexType>
									<xs:sequence>
										<xs:element maxOccurs="1" minOccurs="0" name="Name" type="xs:string"/>
										<xs:element maxOccurs="1" minOccurs="0" name="Content" type="xs:string"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="ContractDurationUnit" nillable="true" type="xs:string"/>
							<xs:element name="ContractDurationValue" nillable="true" type="xs:int"/>
							<xs:element name="ContractStartDate" nillable="true" type="xs:dateTime"/>
							<xs:element name="ContractEndDate" nillable="true" type="xs:dateTime"/>
							<xs:element name="BillingCycleCode" nillable="true" type="xs:string"/>
							<xs:element name="ServiceProfileValue" nillable="true" type="xs:string"/>
							<xs:element name="ServiceProfileCode" nillable="true" type="xs:string"/>
							<xs:element name="ServiceProfilePrice" nillable="true" type="xs:double"/>
							<xs:element name="ResponseProfileValue" nillable="true" type="xs:string"/>
							<xs:element name="ResponseProfileCode" nillable="true" type="xs:string"/>
							<xs:element name="ResponseProfilePrice" nillable="true" type="xs:double"/>
							<xs:element name="ServiceContractDurationValue" nillable="true" type="xs:string"/>
							<xs:element name="ServiceContractDurationUnit" nillable="true" type="xs:string"/>
							<xs:element name="SettlementPeriodValue" nillable="true" type="xs:string"/>
							<xs:element name="SettlementPeriodCode" nillable="true" type="xs:string"/>
							<xs:element name="BillingDateValue" nillable="true" type="xs:string"/>
							<xs:element name="BillingDateCode" nillable="true" type="xs:string"/>
							<xs:element maxOccurs="1" minOccurs="1" name="OrderItemType" type="xs:string"/>
							<xs:element name="ContractAutoRenewalIndicator" nillable="true" type="xs:boolean"/>
							<xs:element name="ContractExtensionPeriodValue" nillable="true" type="xs:int"/>
							<xs:element name="ContractExtensionPeriodUnit" nillable="true" type="xs:string"/>
							<xs:element name="CoTermContractExtensionPeriodValue" nillable="true" type="xs:int"/>
							<xs:element name="CoTermContractExtensionPeriodUnit" nillable="true" type="xs:string"/>
							<xs:element name="EstimatedTotalContractValue" nillable="true" type="xs:double"/>
							<xs:element name="EstimatedBillingValue" nillable="true" type="xs:double"/>
							<xs:element maxOccurs="1" minOccurs="1" name="ConfigurationId" type="xs:string"/>
							<xs:element maxOccurs="1" minOccurs="1" name="ExternalConfigurationId" type="xs:string"/>
							<xs:element maxOccurs="1" minOccurs="0" name="ExternalConfiguration" type="xs:string"/>
							<xs:element maxOccurs="1" minOccurs="0" name="ExternalConfigurationItemId" type="xs:integer"/>
							<xs:element maxOccurs="1" minOccurs="0" name="BillOfMaterialItemNodeNumber" nillable="true" type="xs:string"/>
						    <xs:element maxOccurs="1" minOccurs="1" name="GeneralItemCategoryGroup" type="xs:string"/>
						    <xs:element maxOccurs="1" minOccurs="1" name="EffectiveDate" type="xs:string"/>
							<xs:element name="PricingKeyQuoteId" nillable="true" type="xs:int"/>
							<xs:element name="PricingKeyQuoteItemId" nillable="true" type="xs:int"/>
							<xs:element name="CancellationId" nillable="true" type="xs:int"/>
							<xs:element name="CancellationDescription" nillable="true" type="xs:string"/>
							<xs:element name="CancellingParty" nillable="true" type="xs:string"/>
							<xs:element name="CancellationReason" nillable="true" type="xs:string"/>
							<xs:element name="CancellationProcedure" nillable="true" type="xs:string"/>
							<xs:element name="CancellationRequestDate" nillable="true" type="xs:dateTime"/>
							<xs:element name="CCMVersion" nillable="true" type="xs:string"/>
							<xs:element minOccurs="0" maxOccurs="unbounded" nillable="true" name="ToTableParameters">
								<xs:complexType>
									<xs:sequence>
										<xs:element type="xs:string" nillable="false" maxOccurs="1" name="ChargePlanParameterUUID" xmlns=""/>
										<xs:element nillable="true" minOccurs="0" maxOccurs="1" name="UseValue">
											<xs:simpleType>
											    <xs:restriction base="xs:string" xmlns="">
											        <xs:maxLength value="1"/>
											    </xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element nillable="true" minOccurs="0" maxOccurs="1" name="StringValue">
											<xs:simpleType>
											    <xs:restriction base="xs:string" xmlns="">
											        <xs:maxLength value="80"/>
											    </xs:restriction>
											</xs:simpleType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element maxOccurs="unbounded" minOccurs="0" name="SelectedAttributes">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="Id" type="xs:int"/>
										<xs:element name="SystemId" type="xs:string"/>
										<xs:element name="ValueDataType" nillable="true" type="xs:string"/>
										<xs:element name="SyncedFromBackOffice " nillable="true" type="xs:boolean"/>
										<xs:element maxOccurs="unbounded" minOccurs="0" name="Values">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="Author" nillable="true" type="xs:string"/>
													<xs:element name="BillingPeriod" nillable="true" type="xs:string"/>
													<xs:element name="ContractDurationUnit" nillable="true" type="xs:string"/>
													<xs:element name="Quantity" nillable="true" type="xs:double"/>
													<xs:element name="SystemId" nillable="true" type="xs:string"/>
													<xs:element name="Value" nillable="true" type="xs:string"/>
													<xs:element name="VariantConditionKey" nillable="true"/>
													<xs:element name="VariantConditionKeyFactor" nillable="true" type="xs:double"/>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element maxOccurs="unbounded" minOccurs="0" name="PricingConditions" nillable="true">
								<xs:complexType>
									<xs:sequence>
										<xs:element maxOccurs="1" minOccurs="1" name="PricingProcedureStep" type="xs:integer"/>
										<xs:element maxOccurs="1" minOccurs="1" name="PricingProcedureStepCounter" type="xs:integer"/>
										<xs:element maxOccurs="1" minOccurs="0" name="ConditionBase" nillable="true" type="xs:decimal"/>
										<xs:element maxOccurs="1" minOccurs="0" name="ConditionType" nillable="true" type="xs:string"/>
										<xs:element maxOccurs="1" minOccurs="1" name="ConditionTypeDescription" type="xs:string"/>
										<xs:element maxOccurs="1" minOccurs="0" name="ConditionRate" nillable="true" type="xs:decimal"/>
										<xs:element maxOccurs="1" minOccurs="0" name="ConditionValue" nillable="true" type="xs:decimal"/>
										<xs:element maxOccurs="1" minOccurs="0" name="ConditionCurrency" nillable="true" type="xs:string"/>
										<xs:element maxOccurs="1" minOccurs="0" name="ConditionUnit" nillable="true" type="xs:string"/>
										<xs:element maxOccurs="1" minOccurs="0" name="ConditionUnitQuantity" nillable="true" type="xs:decimal"/>
										<xs:element maxOccurs="1" minOccurs="1" name="IsVariantCondition" type="xs:boolean"/>
										<xs:element name="Scale">
                                          <xs:complexType>
                                            <xs:sequence>
                                              <xs:element name="IsDefault" type="xs:boolean"/>
						                      <xs:element maxOccurs="1" minOccurs="1" name="ValidFrom" type="xs:string"/>
                                              <xs:element name="ScaleBasis" type="xs:string"/>
                                              <xs:element name="ScaleOrder" type="xs:string"/>
                                              <xs:element name="ScaleType" type="xs:string"/>
                                              <xs:element name="ScaleUnitOfMeasure" type="xs:string"/>
                                              <xs:element name="ScaleQuantity" type="xs:double"/>
                                              <xs:element maxOccurs="unbounded" name="Records">
                                                <xs:complexType>
                                                  <xs:sequence>
                                                    <xs:element name="Price" type="xs:decimal"/>
                                                    <xs:element name="Quantity" type="xs:double"/>
                                                  </xs:sequence>
                                                </xs:complexType>
                                              </xs:element>
                                            </xs:sequence>
                                          </xs:complexType>
                                        </xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>