Resources/schemas/Xsd/SAP_SuccessFactors_Reusable_Artifacts_for_Cobrainer_Integration - EMEventEntityPOST.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="EMEvent">
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="1" maxOccurs="unbounded" name="EMEvent">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element type="xs:long" nillable="false" maxOccurs="1" name="id" xmlns=""/>
                            <xs:element type="xs:string" nillable="false" maxOccurs="1" name="eventName" xmlns=""/>
                            <xs:element type="xs:string" nillable="false" maxOccurs="1" name="eventType" xmlns=""/>
                            <xs:element type="xs:string" nillable="false" maxOccurs="1" name="eventDescription" xmlns=""/>
                            <xs:element type="xs:dateTime" nillable="false" maxOccurs="1" name="eventTime" xmlns=""/>
                            <xs:element nillable="true" minOccurs="0" maxOccurs="unbounded" name="eventAttributes">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element minOccurs="0" maxOccurs="unbounded" name="EMEventAttribute">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element type="xs:string" nillable="false" maxOccurs="1" name="name" xmlns=""/>
                                                    <xs:element type="xs:long" nillable="false" maxOccurs="1" name="id" xmlns=""/>
                                                    <xs:element type="xs:string" nillable="false" maxOccurs="1" name="value" xmlns=""/>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element nillable="true" minOccurs="0" maxOccurs="unbounded" name="process">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element minOccurs="0" maxOccurs="1" name="EMMonitoredProcess">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element type="xs:string" nillable="false" maxOccurs="1" name="processDefinitionId" xmlns=""/>
                                                    <xs:element type="xs:string" nillable="false" maxOccurs="1" name="processInstanceId" xmlns=""/>
                                                    <xs:element type="xs:string" nillable="false" maxOccurs="1" name="processType" xmlns=""/>
                                                    <xs:element type="xs:string" nillable="true" minOccurs="0" maxOccurs="1" name="processDefinitionName" xmlns=""/>
                                                    <xs:element type="xs:string" nillable="true" minOccurs="0" maxOccurs="1" name="processInstanceName" xmlns=""/>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element minOccurs="0" maxOccurs="1" name="link">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element nillable="true" minOccurs="0" maxOccurs="unbounded" name="eventAttributes">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element minOccurs="0" maxOccurs="unbounded" name="EMEventAttribute">
                                                        <xs:complexType>
                                                            <xs:sequence>
                                                                <xs:element type="xs:long" minOccurs="1" maxOccurs="1" name="id" xmlns=""/>
                                                            </xs:sequence>
                                                        </xs:complexType>
                                                    </xs:element>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element nillable="true" minOccurs="0" maxOccurs="unbounded" name="process">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element minOccurs="0" maxOccurs="1" name="EMMonitoredProcess">
                                                        <xs:complexType>
                                                            <xs:sequence>
                                                                <xs:element type="xs:string" minOccurs="1" maxOccurs="1" name="processDefinitionId" xmlns=""/>
                                                                <xs:element type="xs:string" minOccurs="1" maxOccurs="1" name="processInstanceId" xmlns=""/>
                                                                <xs:element type="xs:string" minOccurs="1" maxOccurs="1" name="processType" xmlns=""/>
                                                            </xs:sequence>
                                                        </xs:complexType>
                                                    </xs:element>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>
