Resources/schemas/Xsd/SAP_Complaint_Handling_Integration_For_Customer_Complaints - UpdateCustomerReturnCMHPayload.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
<xs:element name="root">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="combineItems">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="itemNumber" type="xs:string" />
              <xs:element name="retsMgmtProcessingBlock" type="xs:string"/>
		      <xs:element name="returnRefundControll" type="xs:string"/>
		      <xs:element name="returnInspectionResultCode" type="xs:string"/>
		      <xs:element name="returnFollowUpActivity" type="xs:string"/>
		      <xs:element name="returnsRefundType" type="xs:string"/>
		      <xs:element name="rejectionReason" type="xs:string"/>
		      <xs:element name="returnsRefundRjcnReason" type="xs:string"/>	
		      <xs:element name="requestedQuantity" type="xs:string"/>	
		      <xs:element name="documentIdentifier" type="xs:string"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
    </xs:sequence>
  </xs:complexType>
</xs:element>
</xs:schema>
