Resources/schemas/Xsd/SAP_Cloud_for_Customer_Integration_with_Identity_Provisioning_via_System_for_Cross-domain_Identity_Management - Group.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xsd:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<xsd:element name="Groups" type="Group"/>
		<xsd:complexType name="Group">
			<xsd:sequence>
				<xsd:element name="schemas"/>
				<xsd:element name="id"/>
				<xsd:element name="displayName"/>
				<xsd:element name="members" minOccurs="0" maxOccurs="unbounded">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="value" minOccurs="0"/>
							<xsd:element name="ref" minOccurs="0">
								<xsd:annotation>
									<xsd:documentation>$ref</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							<xsd:element name="display" minOccurs="0"/>
							<xsd:element name="type" type="xsd:string" minOccurs="0" />
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="meta" minOccurs="0">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="resourceType" minOccurs="0"/>
							<xsd:element name="created" minOccurs="0"/>
							<xsd:element name="lastModified" minOccurs="0"/>
							<xsd:element name="version" minOccurs="0"/>
							<xsd:element name="location" minOccurs="0"/>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
			</xsd:sequence>
		</xsd:complexType>
</xsd:schema>
