Resources/schemas/Xsd/SAP_Complaint_Handling_Integration_For_Customer_Complaints - CustomerreturnPricing_Response.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="root">
		<xs:complexType>
			<xs:sequence>
				<xs:element minOccurs="0" maxOccurs="1" name="pricingResponse">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="header" minOccurs="0" maxOccurs="1">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="TotalNetAmount" type="xs:string"/>
										<xs:element name="TransactionCurrency" type="xs:string"/>
										<xs:element minOccurs="0" maxOccurs="1" name="PricingDate" type="xs:string"/>
										<xs:element name="SDPricingProcedure" type="xs:string"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element minOccurs="0" maxOccurs="unbounded" name="itemPricing">
								<xs:complexType>
									<xs:sequence>
										<xs:element minOccurs="0" maxOccurs="unbounded" name="items">
											<xs:complexType>
												<xs:sequence>
													<xs:element minOccurs="0" maxOccurs="1" name="ConditionType" type="xs:string"/>
													<xs:element minOccurs="0" maxOccurs="1" name="ConditionRateValue" type="xs:string"/>
													<xs:element minOccurs="0" maxOccurs="1" name="TransactionCurrency" type="xs:string"/>
													<xs:element minOccurs="0" maxOccurs="1" name="ConditionQuantity" type="xs:string"/>
													<xs:element minOccurs="0" maxOccurs="1" name="ConditionQuantityUnit" type="xs:string"/>
													<xs:element minOccurs="0" maxOccurs="1" name="ConditionAmount" type="xs:string"/>
													<xs:element minOccurs="0" maxOccurs="1" name="PricingProcedureStep" type="xs:string"/>
													<xs:element minOccurs="0" maxOccurs="1" name="ConditionCalculationType" type="xs:string"/>
													<xs:element minOccurs="0" maxOccurs="1" name="ConditionCurrency" type="xs:string"/>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element minOccurs="0" maxOccurs="unbounded" name="headerPricing">
								<xs:complexType>
									<xs:sequence>
										<xs:element minOccurs="0" maxOccurs="1" name="ConditionType" type="xs:string"/>
										<xs:element minOccurs="0" maxOccurs="1" name="ConditionRateValue" type="xs:string"/>
										<xs:element minOccurs="0" maxOccurs="1" name="TransactionCurrency" type="xs:string"/>
										<xs:element minOccurs="0" maxOccurs="1" name="ConditionQuantity" type="xs:string"/>
										<xs:element minOccurs="0" maxOccurs="1" name="ConditionQuantityUnit" type="xs:string"/>
										<xs:element minOccurs="0" maxOccurs="1" name="ConditionAmount" type="xs:string"/>
										<xs:element minOccurs="0" maxOccurs="1" name="PricingProcedureStep" type="xs:string"/>
										<xs:element minOccurs="0" maxOccurs="1" name="ConditionCalculationType" type="xs:string"/>
										<xs:element minOccurs="0" maxOccurs="1" name="ConditionCurrency" type="xs:string"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element minOccurs="0" maxOccurs="unbounded" name="partnerResponse">
					<xs:complexType>
						<xs:sequence>
							<xs:element minOccurs="0" maxOccurs="1" name="PartnerFunction" type="xs:string"/>
							<xs:element minOccurs="0" maxOccurs="1" name="Customer" type="xs:string"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>