Resources/schemas/Xsd/SAP_Build_Process_Automation_Integration_with_SAP_S-4HANA_for_Accrual_Object_Creation_Approval - errorInput.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="error">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="code" minOccurs="0" maxOccurs="1" type="xs:string" />
				<xs:element name="message" minOccurs="0" maxOccurs="1" type="xs:string" />

				<xs:element name="innererror">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="application">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="component_id" minOccurs="0" maxOccurs="1" type="xs:string" />
										<xs:element name="service_namespace" minOccurs="0" maxOccurs="1" type="xs:string" />
										<xs:element name="service_id" minOccurs="0" maxOccurs="1" type="xs:string" />
										<xs:element name="service_version" minOccurs="0" maxOccurs="1" type="xs:string" />
									</xs:sequence>
								</xs:complexType>
							</xs:element>

							<xs:element name="transactionid" minOccurs="0" maxOccurs="1" type="xs:string" />
							<xs:element name="timestamp" minOccurs="0" maxOccurs="1" type="xs:string" />
							
							<xs:element name="Error_Resolution" minOccurs="0" maxOccurs="1">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="SAP_Transaction" minOccurs="0" maxOccurs="1" type="xs:string" />
										<xs:element name="SAP_Note" minOccurs="0" maxOccurs="1" type="xs:string" />
									</xs:sequence>
								</xs:complexType>
							</xs:element>

							<xs:element name="errordetails">
								<xs:complexType>
									<xs:sequence>

										<xs:element name="errordetail" minOccurs="0" maxOccurs="unbounded">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="code" minOccurs="0" maxOccurs="1" type="xs:string" />
													<xs:element name="message" minOccurs="0" maxOccurs="1" type="xs:string" />
													<xs:element name="longtext_url" minOccurs="0" maxOccurs="1" type="xs:string" />
													<xs:element name="propertyref" minOccurs="0" maxOccurs="1" type="xs:string" />
													<xs:element name="severity" minOccurs="0" maxOccurs="1" type="xs:string" />
													<xs:element name="target" minOccurs="0" maxOccurs="1" type="xs:string" />
													<xs:element name="transition" minOccurs="0" maxOccurs="1" type="xs:string" />
												</xs:sequence>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>

						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>

</xs:schema>