Resources/schemas/Xsd/SAP_Business_Network_Material_Traceability_integration_with_Decentral_Digital_Twin_Registry - ValidateAASId.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:simpleType name="AASId">
  <xs:restriction base="xs:string">
    <xs:pattern value="urn:aas:.*/urn:uuid:[0-9a-f]{8}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{12}"/>
  </xs:restriction>
</xs:simpleType>
  <xs:element name="root">
        <xs:complexType>
            <xs:sequence>
                <xs:element type="AASId" name="value">
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>
