Resources/schemas/Xsd/SAP_Cloud_for_Customer_Integration_with_Identity_Provisioning_via_System_for_Cross-domain_Identity_Management - groups.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<xsd:element name="Groups" type="Groups"/>
	<xsd:complexType name="Groups">
		<xsd:annotation>
			<xsd:documentation xml:lang="EN">Data type for SCIM Group</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="schemas" type="xsd:string" minOccurs="0"/>
			<xsd:element name="totalResults" type="xsd:integer" minOccurs="0"/>
			<xsd:element name="startIndex" type="xsd:integer" minOccurs="0"/>
			<xsd:element name="itemsPerPage" type="xsd:integer" minOccurs="0"/>
			<xsd:element name="Resources" minOccurs="0" maxOccurs="unbounded">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="schemas" type="xsd:string" minOccurs="0"/>
						<xsd:element name="id" type="xsd:string" minOccurs="0"/>
						<xsd:element name="displayName" type="xsd:string" minOccurs="0"/>
						<xsd:element name="members" minOccurs="0" maxOccurs="unbounded">
							<xsd:complexType>
								<xsd:sequence>
									<xsd:element name="value" type="xsd:string" minOccurs="0"/>
									<xsd:element name="ref" type="xsd:string" minOccurs="0">
										<xsd:annotation>
											<xsd:documentation>$ref</xsd:documentation>
										</xsd:annotation>
									</xsd:element>
									<xsd:element name="display" type="xsd:string" minOccurs="0"/>
									<xsd:element name="type" type="xsd:string" minOccurs="0" />
								</xsd:sequence>
							</xsd:complexType>
						</xsd:element>
						<xsd:element name="meta" type="meta" minOccurs="0"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="meta">
		<xsd:sequence>
			<xsd:element name="resourceType" type="xsd:string" minOccurs="0"/>
			<xsd:element name="created" type="xsd:string" minOccurs="0"/>
			<xsd:element name="lastModified" type="xsd:string" minOccurs="0"/>
			<xsd:element name="version" type="xsd:string" minOccurs="0"/>
			<xsd:element name="location" type="xsd:string" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>