Resources/schemas/Xsd/SAP_Customer_Relationship_Management_Integration_with_SAP_Field_Service_Management - BusinessPartner.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  
 <xs:element name="BusinessPartner" type="BusinessPartnerType"/>
  
  <xs:complexType name="businessPartnerType">
    <xs:sequence>
      <xs:element type="xs:string" name="externalId"/>
      <xs:element type="xs:string" name="additionalName"  minOccurs="0"/>
      <xs:element type="xs:string" name="name"  minOccurs="0"/>
      <xs:element type="xs:string" name="type"  minOccurs="0"/>
      <xs:element type="xs:string" name="city"  minOccurs="0"/>
      <xs:element type="xs:string" name="code"  minOccurs="0"/>
      <xs:element type="xs:string" name="country"  minOccurs="0"/>
      <xs:element type="xs:string" name="creditLimit"  minOccurs="0"/>
      <xs:element type="xs:string" name="currency"  minOccurs="0"/>
      <xs:element type="xs:string" name="emailAddress"  minOccurs="0"/>
      <xs:element type="xs:string" name="fax"  minOccurs="0"/>
      <xs:element type="xs:string" name="groupCode"  minOccurs="0"/>
      <xs:element type="xs:string" name="groupName"  minOccurs="0"/>
      <xs:element type="xs:string" name="language"  minOccurs="0"/>
      <xs:element type="xs:string" name="mobilePhone"  minOccurs="0"/>
      <xs:element type="xs:string" name="officePhone"  minOccurs="0"/>
      <xs:element type="xs:string" name="otherPhone"  minOccurs="0"/>
      <xs:element type="xs:string" name="paymentTerm"  minOccurs="0"/>
      <xs:element type="xs:string" name="paymentType"  minOccurs="0"/>
      <xs:element type="xs:string" name="remarks"  minOccurs="0"/>
      <xs:element type="xs:string" name="shippingType"  minOccurs="0"/>
      <xs:element type="xs:string" name="validityComment"  minOccurs="0"/>
      <xs:element type="xs:string" name="website"  minOccurs="0"/>
      <xs:element type="xs:string" name="inactive"  minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="BusinessPartnerType">
    <xs:sequence>
      <xs:element type="businessPartnerType" name="BP" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
  
</xs:schema>