Resources/schemas/Xsd/SAP_Commerce_financial_services_accelerator_integration_with_SAP_for_Insurance - claim.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="root">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="d">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="__metadata">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:string" name="id"/>
                    <xs:element type="xs:string" name="uri"/>
                    <xs:element type="xs:string" name="type"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element type="xs:int" name="P_InsuranceClaim"/>
              <xs:element type="xs:int" name="InsuranceClaim"/>
              <xs:element type="xs:long" name="InsuranceContract"/>
              <xs:element type="xs:string" name="InsurClmPolicyProduct"/>
              <xs:element type="xs:byte" name="InsurClmLifeCycSts"/>
              <xs:element type="xs:string" name="InsurClmLifeCycStsName"/>
              <xs:element type="xs:string" name="InsurClmType"/>
              <xs:element type="xs:byte" name="InsurClmTypeGeneration"/>
              <xs:element type="xs:byte" name="InsurClmTypeVers"/>
              <xs:element type="xs:string" name="InsurClmAuthznGrp"/>
              <xs:element type="xs:byte" name="InsurClmPolicyProdGeneration"/>
              <xs:element type="xs:byte" name="InsurClmPolicyProductVersion"/>
              <xs:element type="xs:string" name="InsurClmIncdntType"/>
              <xs:element type="xs:string" name="InsurClmIncdntTypeName"/>
              <xs:element type="xs:string" name="InsurClmDateOfLoss"/>
              <xs:element type="xs:string" name="InsurClmAgentReportedDate"/>
              <xs:element type="xs:byte" name="InsurClmCauseOfLoss"/>
              <xs:element type="xs:int" name="InsurClmLossLocAddressID"/>
              <xs:element type="xs:string" name="InsurClmDescriptionOfLossLoc"/>
              <xs:element type="xs:string" name="InsurClaimBundle"/>
              <xs:element type="xs:duration" name="InsurClmTimeOfLoss"/>
              <xs:element type="xs:byte" name="InsurClmComplexity"/>
              <xs:element type="xs:string" name="InsurClmComplexityName"/>
              <xs:element type="xs:string" name="InsurClmCovered"/>
              <xs:element type="xs:long" name="InsurancePolicy"/>
              <xs:element type="xs:string" name="InsurClmContractStartDateTime"/>
              <xs:element type="xs:string" name="InsurClmContractEndDateTime"/>
              <xs:element type="xs:string" name="InsurClmLocationText"/>
              <xs:element type="xs:string" name="InsurClmDescriptionOfLoss"/>
              <xs:element type="xs:string" name="InsurClmCauseOfLossName"/>
              <xs:element type="xs:string" name="FullName"/>
              <xs:element type="xs:string" name="InsurClmPolicyHolderName"/>
              <xs:element type="xs:short" name="InsurancePolicyholder"/>
              <xs:element name="to_Payments">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="results" maxOccurs="unbounded" minOccurs="0">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="__metadata">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element type="xs:string" name="id"/>
                                <xs:element type="xs:string" name="uri"/>
                                <xs:element type="xs:string" name="type"/>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                          <xs:element type="xs:int" name="InsuranceClaim"/>
                          <xs:element type="xs:byte" name="InsurClmSubclm"/>
                          <xs:element type="xs:byte" name="InsurClmPayt"/>
                          <xs:element type="xs:string" name="InsurClmPaytCatName"/>
                          <xs:element type="xs:short" name="InsuranceClaimPayee"/>
                          <xs:element type="xs:string" name="InsuranceClaimPayeeName"/>
                          <xs:element type="xs:string" name="Country"/>
                          <xs:element type="xs:float" name="InsurClmSubclmPaytTotAmount"/>
                          <xs:element type="xs:string" name="InsurClmPaytStatusName"/>
                          <xs:element type="xs:byte" name="InsurClmPaytCat"/>
                          <xs:element type="xs:byte" name="InsurClmPaymentType"/>
                          <xs:element type="xs:string" name="InsurClmPaymentCurrency"/>
                          <xs:element type="xs:byte" name="InsurClmPaymentDatabaseStatus"/>
                          <xs:element type="xs:string" name="InsurClmSubclmPaytParkedName"/>
                          <xs:element type="xs:string" name="InsurClmSubclmPaytFinalName"/>
                          <xs:element type="xs:byte" name="InsurClmPaytMethod"/>
                          <xs:element type="xs:string" name="InsurClmPaytCheque"/>
                          <xs:element type="xs:string" name="InsurClmBankID"/>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="to_Subclaims">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="results" maxOccurs="unbounded" minOccurs="0">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="__metadata">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element type="xs:string" name="id"/>
                                <xs:element type="xs:string" name="uri"/>
                                <xs:element type="xs:string" name="type"/>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                          <xs:element type="xs:int" name="InsuranceClaim"/>
                          <xs:element type="xs:byte" name="InsurClmSubclm"/>
                          <xs:element type="xs:string" name="InsurClmClaimantName"/>
                          <xs:element type="xs:short" name="InsurClmClaimantID"/>
                          <xs:element type="xs:string" name="InsurClmCoverageText"/>
                          <xs:element type="xs:byte" name="InsurClmLifeCycSts"/>
                          <xs:element type="xs:string" name="InsurClmSubclmStatusText"/>
                          <xs:element type="xs:string" name="InsurClmSubclmTypeName"/>
                          <xs:element type="xs:string" name="InsurClmSubclaimLbltyText"/>
                          <xs:element type="xs:string" name="InsurClmSubrogationStatusText"/>
                          <xs:element type="xs:string" name="InsurClmCvrgConfirmedText"/>
                          <xs:element type="xs:string" name="InsurClmFraudFlagText"/>
                          <xs:element type="xs:string" name="InsurClmSalvageFlagText"/>
                          <xs:element type="xs:string" name="InsurClmLitigationFlagText"/>
                          <xs:element type="xs:string" name="InsurClmNegotiationFlagText"/>
                          <xs:element type="xs:string" name="InsurClmSubclmStsChgdOnDteTime"/>
                          <xs:element type="xs:string" name="InsurClmSubclmType"/>
                          <xs:element type="xs:string" name="InsurClmSubrogtnRecoveryStatus"/>
                          <xs:element type="xs:string" name="InsurClmSubclaimDescription"/>
                          <xs:element type="xs:byte" name="InsurClmCoverage"/>
                          <xs:element type="xs:string" name="InsurClmSubclmStsRsn"/>
                          <xs:element type="xs:string" name="IsInProcess"/>
                          <xs:element type="xs:string" name="IsClosed"/>
                          <xs:element type="xs:string" name="InsurClmSubrogtnPotential"/>
                          <xs:element type="xs:string" name="InsurClmSubrogtnPotentialText"/>
                          <xs:element type="xs:string" name="InsurClmSubclmPaytTotText"/>
                          <xs:element type="xs:string" name="InsurClmSubclmTotRsrvText"/>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="Parameters">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="__deferred">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element type="xs:string" name="uri"/>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>