Resources/schemas/Xsd/SAP_ERP_or_SAP_S-4HANA_Integration_with_SAP_SuccessFactors_Employee_Central-_Cost_Center - FOCostCenterEntityUPSERT0.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="FOCostCenter">
		<xs:complexType>
			<xs:sequence>
				<xs:element minOccurs="1" maxOccurs="unbounded" name="FOCostCenter">
					<xs:complexType>
						<xs:sequence>
							<xs:element nillable="false" maxOccurs="unbounded" name="status">
								<xs:simpleType>
									<xs:restriction base="xs:string" xmlns="">
										<xs:maxLength value="255"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element type="xs:dateTime" nillable="false" maxOccurs="unbounded" name="startDate" xmlns=""/>
							<xs:element nillable="true" minOccurs="0" maxOccurs="unbounded" name="name_defaultValue">
								<xs:simpleType>
									<xs:restriction base="xs:string" xmlns="">
										<xs:maxLength value="32"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element nillable="true" minOccurs="0" maxOccurs="unbounded" name="name">
								<xs:simpleType>
									<xs:restriction base="xs:string" xmlns="">
										<xs:maxLength value="32"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element nillable="false" maxOccurs="unbounded" name="externalCode">
								<xs:simpleType>
									<xs:restriction base="xs:string" xmlns="">
										<xs:maxLength value="32"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element type="xs:dateTime" nillable="true" minOccurs="0" maxOccurs="unbounded" name="endDate" xmlns=""/>
							<xs:element nillable="true" minOccurs="0" maxOccurs="unbounded" name="description_defaultValue">
								<xs:simpleType>
									<xs:restriction base="xs:string" xmlns="">
										<xs:maxLength value="128"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element nillable="true" minOccurs="0" maxOccurs="unbounded" name="description">
								<xs:simpleType>
									<xs:restriction base="xs:string" xmlns="">
										<xs:maxLength value="128"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element nillable="true" minOccurs="0" maxOccurs="unbounded" name="costcenterManager">
								<xs:simpleType>
									<xs:restriction base="xs:string" xmlns="">
										<xs:maxLength value="100"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element nillable="true" minOccurs="0" maxOccurs="unbounded" name="costcenterExternalObjectID">
								<xs:simpleType>
									<xs:restriction base="xs:string" xmlns="">
										<xs:maxLength value="40"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element type="xs:string" nillable="true" minOccurs="0" maxOccurs="1" name="companyIDTemp" xmlns=""/>
							<xs:element type="xs:string" nillable="true" minOccurs="0" maxOccurs="1" name="personRespTemp" xmlns=""/>
							<xs:element name="descriptionTab" minOccurs="0" maxOccurs="unbounded">
								<xs:complexType>
									<xs:sequence>
										<xs:element type="xs:string" nillable="true" minOccurs="0" maxOccurs="1" name="value" xmlns=""/>
										<xs:element type="xs:string" nillable="true" minOccurs="0" maxOccurs="1" name="languageCode" xmlns=""/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="nameTab" minOccurs="0" maxOccurs="unbounded">
								<xs:complexType>
									<xs:sequence>
										<xs:element type="xs:string" nillable="true" minOccurs="0" maxOccurs="1" name="value" xmlns=""/>
										<xs:element type="xs:string" nillable="true" minOccurs="0" maxOccurs="1" name="languageCode" xmlns="" />
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>