Resources/schemas/Xsd/SAP_Business_ByDesign_Master_Data_to_SAP_S-4HANA_Cloud_Public_Edition - Sample.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="MT_GENERAL">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Records" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:short" name="SupplierId"/>
              <xs:element type="xs:short" name="SupplierName"/>
              <xs:element type="xs:short" name="DUNS"/>
              <xs:element type="xs:short" name="GlobalLocationNumber"/>
              <xs:element type="xs:short" name="Bidder"/>
              <xs:element type="xs:short" name="FreightForwarder"/>
              <xs:element type="xs:short" name="LegalForm"/>
              <xs:element type="xs:short" name="ABCClassification"/>
              <xs:element type="xs:short" name="Industry"/>
              <xs:element type="xs:short" name="Status"/>
              <xs:element type="xs:short" name="MinimumPurchaseOrderValue"/>
              <xs:element type="xs:short" name="MinimumPurchaseOrderValueCurrency"/>
              <xs:element type="xs:short" name="Incoterms"/>
              <xs:element type="xs:short" name="IncotermsLocation"/>
              <xs:element type="xs:short" name="PaymentTerms"/>
              <xs:element type="xs:short" name="PaymentOrderCurrency"/>
              <xs:element type="xs:short" name="CustomerIdAtSupplier"/>
              <xs:element type="xs:short" name="PurchaseOrderAcknowledgementExpected"/>
              <xs:element type="xs:short" name="EvaluatedReceiptSettlement"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>