Resources/schemas/Xsd/SAP_SuccessFactors_Employee_Central_Event-_or_Timer-based_Integration_with_SAP_Commissions - Position.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:element name="Positions">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="Position" minOccurs="0" maxOccurs="unbounded">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="POSITIONNAME" minOccurs="0">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:length value="127"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="EFFECTIVESTARTDATE" minOccurs="0">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:length value="10"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="EFFECTIVEENDDATE" minOccurs="0">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:length value="10"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="PAYEEID" minOccurs="0">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:length value="40"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="PAYEETYPE" minOccurs="0">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:length value="40"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="PLANNAME" minOccurs="0">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:length value="127"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="MANAGERNAME" minOccurs="0">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:length value="127"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="TITLENAME" minOccurs="0">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:length value="127"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="POSITIONGROUPNAME" minOccurs="0">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:length value="40"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="TARGETCOMPENSATION" minOccurs="0">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:length value="25"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="UNITTYPEFORTARGETCOMPENSATION" minOccurs="0">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:length value="40"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="BUSINESSUNITNAME" minOccurs="0">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:length value="255"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="DESCRIPTION" minOccurs="0">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:length value="255"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="GENERICATTRIBUTE1" minOccurs="0">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:length value="255"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="GENERICATTRIBUTE2" minOccurs="0">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:length value="255"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="GENERICATTRIBUTE3" minOccurs="0">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:length value="255"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="GENERICATTRIBUTE4" minOccurs="0">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:length value="255"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="GENERICATTRIBUTE5" minOccurs="0">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:length value="255"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="GENERICATTRIBUTE6" minOccurs="0">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:length value="255"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="GENERICATTRIBUTE7" minOccurs="0">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:length value="255"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="GENERICATTRIBUTE8" minOccurs="0">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:length value="255"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="GENERICATTRIBUTE9" minOccurs="0">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:length value="255"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="GENERICATTRIBUTE10" minOccurs="0">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:length value="255"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="GENERICATTRIBUTE11" minOccurs="0">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:length value="255"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="GENERICATTRIBUTE12" minOccurs="0">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:length value="255"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="GENERICATTRIBUTE13" minOccurs="0">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:length value="255"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="GENERICATTRIBUTE14" minOccurs="0">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:length value="255"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="GENERICATTRIBUTE15" minOccurs="0">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:length value="255"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="GENERICATTRIBUTE16" minOccurs="0">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:length value="255"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="GENERICNUMBER1" minOccurs="0">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:length value="25"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="UNITTYPEFORGENERICNUMBER1" minOccurs="0">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:length value="40"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="GENERICNUMBER2" minOccurs="0">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:length value="25"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="UNITTYPEFORGENERICNUMBER2" minOccurs="0">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:length value="40"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="GENERICNUMBER3" minOccurs="0">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:length value="25"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="UNITTYPEFORGENERICNUMBER3" minOccurs="0">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:length value="40"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="GENERICNUMBER4" minOccurs="0">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:length value="25"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="UNITTYPEFORGENERICNUMBER4" minOccurs="0">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:length value="40"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="GENERICNUMBER5" minOccurs="0">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:length value="25"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="UNITTYPEFORGENERICNUMBER5" minOccurs="0">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:length value="40"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="GENERICNUMBER6" minOccurs="0">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:length value="25"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="UNITTYPEFORGENERICNUMBER6" minOccurs="0">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:length value="40"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="GENERICDATE1" minOccurs="0">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:length value="10"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="GENERICDATE2" minOccurs="0">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:length value="10"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="GENERICDATE3" minOccurs="0">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:length value="10"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="GENERICDATE4" minOccurs="0">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:length value="10"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="GENERICDATE5" minOccurs="0">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:length value="10"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="GENERICDATE6" minOccurs="0">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:length value="10"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="GENERICBOOLEAN1" minOccurs="0">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:length value="1"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="GENERICBOOLEAN2" minOccurs="0">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:length value="1"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="GENERICBOOLEAN3" minOccurs="0">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:length value="1"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="GENERICBOOLEAN4" minOccurs="0">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:length value="1"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="GENERICBOOLEAN5" minOccurs="0">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:length value="1"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="GENERICBOOLEAN6" minOccurs="0">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:length value="1"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="CREDITSTARTDATE" minOccurs="0">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:length value="10"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="CREDITENDDATE" minOccurs="0">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:length value="10"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="PROCESSINGSTARTDATE" minOccurs="0">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:length value="10"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="PROCESSINGENDDATE" minOccurs="0">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:length value="10"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
