Resources/schemas/Xsd/SAP_Subscription_Billing_Integration_with_SAP_Entitlement_Management - Inbound_Interface_Entitlement_Generation-3.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema version="1.0" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	  <xsd:element name="root">
    <xsd:complexType>
      <xsd:sequence>
	<xsd:element name="Inbound_Interface_Entitlement_Generation" maxOccurs="unbounded" minOccurs="0">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="Inbound_Interface_Entitlement_Generation">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element maxOccurs="1" minOccurs="1" name="SourceSystem" type="xsd:string"/>
							<xsd:element maxOccurs="1" minOccurs="0" name="GenerationMethod" type="xsd:string"/>
							<xsd:element maxOccurs="1" minOccurs="1" name="CustomerID" type="xsd:string"/>
							<xsd:element maxOccurs="1" minOccurs="0" name="CustomerName" type="xsd:string"/>
							<xsd:element maxOccurs="1" minOccurs="0" name="DistributorID" type="xsd:string"/>
							<xsd:element maxOccurs="1" minOccurs="0" name="ThirdPartyID" type="xsd:string"/>
							<xsd:element maxOccurs="1" minOccurs="0" name="CustomerSystem" type="xsd:string"/>
							<xsd:element maxOccurs="1" minOccurs="0" name="OfferingSystem" type="xsd:string"/>
							<xsd:element maxOccurs="1" minOccurs="0" name="CreatedBy" type="xsd:string"/>
							<xsd:element maxOccurs="1" minOccurs="0" name="SalesOrganization" type="xsd:string"/>
							<xsd:element maxOccurs="1" minOccurs="0" name="SalesGroup" type="xsd:string"/>
							<xsd:element maxOccurs="1" minOccurs="0" name="SalesOffice" type="xsd:string"/>
							<xsd:element maxOccurs="1" minOccurs="0" name="DistributionChannel" type="xsd:string"/>
							<xsd:element maxOccurs="1" minOccurs="0" name="DocumentCategory" type="xsd:string"/>
							<xsd:element maxOccurs="1" minOccurs="0" name="DocumentType" type="xsd:string"/>
							<xsd:element maxOccurs="1" minOccurs="1" name="DocumentNumber" type="xsd:string"/>
							<xsd:element maxOccurs="1" minOccurs="0" name="ReferenceDocumentCategory" type="xsd:string"/>
							<xsd:element maxOccurs="1" minOccurs="0" name="ReferenceDocumentType" type="xsd:string"/>
							<xsd:element maxOccurs="1" minOccurs="0" name="ReferenceDocumentNo" type="xsd:string"/>
							<xsd:element maxOccurs="1" minOccurs="0" name="Parties" type="xsd:string"/>
							<xsd:element maxOccurs="unbounded" minOccurs="1" name="Item">
								<xsd:complexType>
									<xsd:sequence>
										<xsd:element maxOccurs="1" minOccurs="1" name="ItemNumber" type="xsd:string"/>
										<xsd:element maxOccurs="1" minOccurs="0" name="ItemCategory" type="xsd:string"/>
										<xsd:element maxOccurs="1" minOccurs="1" name="OfferingID" type="xsd:string"/>
										<xsd:element maxOccurs="1" minOccurs="0" name="OfferingName" type="xsd:string"/>
										<xsd:element maxOccurs="1" minOccurs="0" name="OfferingCategory" type="xsd:string"/>
										<xsd:element maxOccurs="1" minOccurs="1" name="Quantity" type="xsd:double"/>
										<xsd:element maxOccurs="1" minOccurs="1" name="UoM" type="xsd:string"/>
										<xsd:element maxOccurs="1" minOccurs="0" name="Partners" type="xsd:string"/>
										<xsd:element maxOccurs="1" minOccurs="0" name="ItemValidFrom" type="xsd:date"/>
										<xsd:element maxOccurs="1" minOccurs="0" name="ItemValidTo" type="xsd:date"/>
										<xsd:element maxOccurs="1" minOccurs="0" name="BusinessEvent" type="xsd:string"/>
									
									</xsd:sequence>
								</xsd:complexType>
							</xsd:element>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:schema>