Resources/schemas/Xsd/SAP_Build_Process_Automation_Integration_with_SAP_SuccessFactors_and_SAP_S-4HANA_to_create_Social_Security_Certificate - BusinessPartnerAddress.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- Created with Liquid Technologies Online Tools 1.0 (https://www.liquid-technologies.com) -->
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="A_BusinessPartnerAddress">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="A_BusinessPartnerAddressType">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="BusinessPartner" type="xs:string" />
              <xs:element name="Country" type="xs:string" />
              <xs:element name="CityName" type="xs:string" />
              <xs:element name="CityCode" />
              <xs:element name="FullName" type="xs:string" />
              <xs:element name="HouseNumber" type="xs:unsignedShort" />
              <xs:element name="PostalCode" type="xs:unsignedShort" />
              <xs:element name="StreetName" type="xs:string" />
              <xs:element name="BusinessPartnerRole" type="xs:string" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>