Resources/schemas/Xsd/SAP_Business_One_Transactional_Data_Transformation_to_SAP_S-4HANA_Cloud_Public_Edition - B1_Sales_Order_f.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Sales_Order">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Header" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="LegacySalesDoc"/>
              <xs:element type="xs:string" name="CustomerPONum"/>
              <xs:element type="xs:string" name="RequestedDeliveryDate"/>
              <xs:element type="xs:string" name="PricingDate"/>
              <xs:element type="xs:string" name="ExchangeRate"/>
              <xs:element type="xs:string" name="DocumentDate"/>
              <xs:element type="xs:string" name="PaymentTerms"/>
              <xs:element type="xs:string" name="WBSElement"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="HeaderConditions" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="LegacySalesDoc"/>
              <xs:element type="xs:string" name="NetAmount"/>
              <xs:element type="xs:string" name="Discount_for_Document"/>
              <xs:element type="xs:string" name="Total_Discount"/>
              <xs:element type="xs:string" name="Total_Freight_Charges"/>
              <xs:element type="xs:string" name="Total_Tax"/>
              <xs:element type="xs:string" name="Document_Total"/>
              <xs:element type="xs:string" name="Document_Currency"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="HeaderTexts" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="LegacySalesDoc"/>
              <xs:element type="xs:string" name="LanguageKey"/>
              <xs:element type="xs:string" name="GeneralRemarks"/>
              <xs:element type="xs:string" name="OpeningRemarks"/>
              <xs:element type="xs:string" name="ClosingRemarks"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="Item" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="LegacySalesDoc"/>
              <xs:element type="xs:string" name="SalesDocItem"/>
              <xs:element type="xs:string" name="ProductNumber"/>
              <xs:element type="xs:string" name="SalesUnit"/>
              <xs:element type="xs:string" name="Plant"/>
              <xs:element type="xs:string" name="StorageLocation"/>
              <xs:element type="xs:string" name="ItemDescription"/>
              <xs:element type="xs:string" name="WBSElement"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="ItemConditions" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="LegacySalesDoc"/>
              <xs:element type="xs:string" name="SalesDocItem"/>
              <xs:element type="xs:string" name="Unit_Price"/>
              <xs:element type="xs:string" name="Discount_per_Row"/>
              <xs:element type="xs:string" name="Discount_Amount_per_Row"/>
              <xs:element type="xs:string" name="Price_after_Discount"/>
              <xs:element type="xs:string" name="Quantity"/>
              <xs:element type="xs:string" name="Row_Total"/>
              <xs:element type="xs:string" name="Tax_Rate_per_Row"/>
              <xs:element type="xs:string" name="Gross_Price_after_Discount"/>
              <xs:element type="xs:string" name="Total_Tax_Row"/>
              <xs:element type="xs:string" name="Gross_Total"/>
              <xs:element type="xs:string" name="Freight1"/>
              <xs:element type="xs:string" name="Freight1Tax"/>
              <xs:element type="xs:string" name="Freight1TaxAmt"/>
              <xs:element type="xs:string" name="Freight2"/>
              <xs:element type="xs:string" name="Freight2Tax"/>
              <xs:element type="xs:string" name="Freight2TaxAmt"/>
              <xs:element type="xs:string" name="Freight3"/>
              <xs:element type="xs:string" name="Freight3Tax"/>
              <xs:element type="xs:string" name="Freight3TaxAmt"/>
              <xs:element type="xs:string" name="Price_Currency"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="ItemTexts" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="LegacySalesDoc"/>
              <xs:element type="xs:string" name="SalesDocItem"/>
              <xs:element type="xs:string" name="LanguageKey"/>
              <xs:element type="xs:string" name="Text"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="ScheduleLineData" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="LegacySalesDoc"/>
              <xs:element type="xs:string" name="SalesDocItem"/>
              <xs:element type="xs:string" name="DeliverySchLineNum"/>
              <xs:element type="xs:string" name="OrderQty"/>
              <xs:element type="xs:string" name="Remaining_Open_Quantity"/>
              <xs:element type="xs:string" name="Unit"/>
              <xs:element type="xs:string" name="ScheduledQty"/>
              <xs:element type="xs:string" name="ScheduledQty_Unit"/>
              <xs:element type="xs:string" name="DeliveryDate"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="Partner" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="LegacySalesDoc"/>
              <xs:element type="xs:string" name="SalesDocItem"/>
              <xs:element type="xs:string" name="SoldToParty"/>
              <xs:element type="xs:string" name="Ship_To_Party"/>
              <xs:element type="xs:string" name="ShipTo_Address_Code"/>
              <xs:element type="xs:string" name="ShipTo_Address"/>
              <xs:element type="xs:string" name="ShipTo_Street"/>
              <xs:element type="xs:string" name="ShipTo_Block"/>
              <xs:element type="xs:string" name="ShipTo_Building"/>
              <xs:element type="xs:string" name="ShipTo_City"/>
              <xs:element type="xs:string" name="ShipTo_ZipCode"/>
              <xs:element type="xs:string" name="ShipTo_State"/>
              <xs:element type="xs:string" name="ShipTo_Country"/>
              <xs:element type="xs:string" name="ShipTo_Region"/>
              <xs:element type="xs:string" name="Bill_To_Party"/>
              <xs:element type="xs:string" name="Payer"/>
              <xs:element type="xs:string" name="Sales_Employee"/>
              <xs:element type="xs:string" name="Employee_Responsible"/>
              <xs:element type="xs:string" name="Contact_Person_ID"/>
              <xs:element type="xs:string" name="User_Responsibile"/>
              <xs:element type="xs:string" name="CustomerNumber"/>
              <xs:element type="xs:string" name="BillTo_Address_Code"/>
              <xs:element type="xs:string" name="BillTo_Address"/>
              <xs:element type="xs:string" name="BillTo_Street"/>
              <xs:element type="xs:string" name="BillTo_Block"/>
              <xs:element type="xs:string" name="BillTo_Building"/>
              <xs:element type="xs:string" name="BillTo_City"/>
              <xs:element type="xs:string" name="BillTo_ZipCode"/>
              <xs:element type="xs:string" name="BillTo_State"/>
              <xs:element type="xs:string" name="BillTo_Country"/>
              <xs:element type="xs:string" name="BillTo_Region"/>
              <xs:element type="xs:string" name="TelephoneNum"/>
              <xs:element type="xs:string" name="Fax_Number"/>
              <xs:element type="xs:string" name="Cust_VATRegNum"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>