Resources/schemas/Xsd/SAP_Subscription_Billing_Integration_with_SAP_Entitlement_Management - provisioning-request.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="root">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="provisioningRequests" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:dateTime" name="changedAt"/>
              <xs:element type="xs:string" name="changedBy" minOccurs="0"/>
              <xs:element type="xs:dateTime" name="createdAt"/>
              <xs:element type="xs:string" name="createdBy" minOccurs="0"/>
              <xs:element type="xs:string" name="customReferences"/>
              <xs:element name="customer">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:string" name="addressId" minOccurs="0"/>
                    <xs:element type="xs:long" name="customerNumber"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element type="xs:byte" name="documentNumber"/>
              <xs:element type="xs:string" name="id"/>
              <xs:element name="items" maxOccurs="unbounded" minOccurs="0">
                <xs:complexType>
                  <xs:sequence>
                          <xs:element type="xs:string" name="customReferences"/>
                          <xs:element type="xs:string" name="id"/>
                          <xs:element type="xs:string" name="itemType"/>
                          <xs:element type="xs:byte" name="lineNumber"/>
                          <xs:element name="product">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element type="xs:string" name="code"/>
                                <xs:element type="xs:string" name="id"/>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                          <xs:element name="quantity">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element type="xs:string" name="unit"/>
                                <xs:element type="xs:byte" name="value"/>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                          <xs:element name="subscriptionItem">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element type="xs:string" name="billSplitElement" minOccurs="0"/>
                                <xs:element type="xs:byte" name="numberOfWaiverPeriods"/>
                                <xs:element name="pricing">
                                  <xs:complexType>
                                    <xs:sequence>
                                      <xs:element type="xs:string" name="pricingParameters"/>
                                    </xs:sequence>
                                  </xs:complexType>
                                </xs:element>
                                <xs:element type="xs:string" name="ratePlanId" minOccurs="0"/>
                                <xs:element type="xs:string" name="subscriptionParameters"/>
                                <xs:element type="xs:string" name="subscriptionType" minOccurs="0"/>
                                <xs:element type="xs:string" name="technicalResources"/>
                                <xs:element type="xs:dateTime" name="validFrom"/>
                                <xs:element type="xs:dateTime" name="validTo" minOccurs="0"/>
                                <xs:element name="validation">
                                  <xs:complexType>
                                    <xs:sequence>
                                      <xs:element type="xs:string" name="error"/>
                                    </xs:sequence>
                                  </xs:complexType>
                                </xs:element>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="market">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:string" name="marketId"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="metadata">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:byte" name="version"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="paymentData">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:string" name="paymentMethod"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element type="xs:string" name="status"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>