Resources/schemas/Xsd/SAP_Build_Process_Automation_Integration_with_SAP_S-4HANA_for_Fixed_Asset_Acquisition_Approval - inputPayload.xsd

<?xml version="1.0" encoding="utf-8"?>

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="d">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="generalPostingData">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="userName" type="xs:string" minOccurs="0" maxOccurs="1"/>
              <xs:element name="docType" type="xs:string" />
              <xs:element name="docDate" type="xs:date" minOccurs="0" maxOccurs="1"/>
              <xs:element name="pstngDate" type="xs:date" minOccurs="0" maxOccurs="1"/>
              <xs:element name="fisPeriod" type="xs:string" />
              <xs:element name="transDate" type="xs:date" />
              <xs:element name="compCode" type="xs:string" minOccurs="0" maxOccurs="1"/>
              <xs:element name="assetMaiNo" minOccurs="0" maxOccurs="1"/>
              <xs:element name="assetSubNo" minOccurs="0" maxOccurs="1"/>
              <xs:element name="assetTrTyp" minOccurs="0" maxOccurs="1"/>
              <xs:element name="deprArea" type="xs:string" minOccurs="0" maxOccurs="1"/>
              <xs:element name="ledgerGroup" type="xs:string" minOccurs="0" maxOccurs="1" />
              <xs:element name="accPrinciple" type="xs:string" minOccurs="0" maxOccurs="1"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="acquisitionData">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="amount" type="xs:string" minOccurs="0" maxOccurs="1"/>
              <xs:element name="currency" type="xs:string" minOccurs="0" maxOccurs="1"/>
              <xs:element name="currencyIso" type="xs:string" minOccurs="0" maxOccurs="1"/>
              <xs:element name="quantity" type="xs:string" minOccurs="0" maxOccurs="1"/>
              <xs:element name="baseUom" type="xs:string" minOccurs="0" maxOccurs="1"/>
              <xs:element name="baseUomIso" type="xs:string" minOccurs="0" maxOccurs="1"/>
              <xs:element name="valueDate" type="xs:date" minOccurs="0" maxOccurs="1" />
              <xs:element name="tradeId" type="xs:string" minOccurs="0" maxOccurs="1"/>
              <xs:element name="trPartBa" type="xs:string" minOccurs="0" maxOccurs="1"/>
              <xs:element name="offsetAccount" type="xs:string" minOccurs="0" maxOccurs="1"/>
              <xs:element name="assetClass" type="xs:string" minOccurs="0" maxOccurs="1" />
              <xs:element name="costCenter" type="xs:string" minOccurs="0" maxOccurs="1" />
              <xs:element name="busArea" type="xs:string" minOccurs="0" maxOccurs="1"/>
              <xs:element name="descript" type="xs:string" minOccurs="0" maxOccurs="1"/>
              <xs:element name="assignment" type="xs:string" minOccurs="0" maxOccurs="1"/>
              <xs:element name="reference" type="xs:string" minOccurs="0" maxOccurs="1"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>