Resources/schemas/Xsd/SAP_Build_Process_Automation_Integration_with_SAP_S-4HANA_for_Real_Estate_Contract_Valuation_Posting_Approval - inputPayload-1.xsd

<?xml version="1.0" encoding="utf-8"?>

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="d">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="headerDetails">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="compCode" type="xs:string" minOccurs="0" maxOccurs="1" />
              <xs:element name="recnnr" type="xs:string" minOccurs="0" maxOccurs="1" />
              <xs:element name="mode" type="xs:string" minOccurs="0" />
              <xs:element name="postingDate" type="xs:string" />
              <xs:element name="docDate" type="xs:string" />
              <xs:element name="postingPeriod" type="xs:string" />
              <xs:element name="dueDate" type="xs:string" />
              <xs:element name="calcDateTo" type="xs:string" />
              <xs:element name="docHeaderTxt" type="xs:string" />

            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="contracts" minOccurs="0" maxOccurs="unbounded">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="compCode" type="xs:string" />
						<xs:element name="recnnr" type="xs:string" />
					</xs:sequence>
				</xs:complexType>
		</xs:element>             
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>