Resources/schemas/Xsd/SAP_SuccessFactors_Employee_Central_with_Third_Party_Benefits_Vendor_-_Bswift - Record (3).xsd

<?xml version="1.0" encoding="UTF-8"?><xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
  <xs:element name="Record">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" minOccurs="0" name="Element">
          <xs:complexType>
            <xs:sequence>
              <xs:element minOccurs="0" name="LegalFirstName" type="xs:string"/>
              <xs:element minOccurs="0" name="LegalMiddleName" type="xs:string"/>
              <xs:element minOccurs="0" name="LegalLastName" type="xs:string"/>
              <xs:element minOccurs="0" name="Suffix" type="xs:string"/>
              <xs:element minOccurs="0" name="PreferredFirstName" type="xs:string"/>
              <xs:element minOccurs="0" name="EmployeeID" type="xs:string"/>
              <xs:element minOccurs="0" name="SSN" type="xs:string"/>
              <xs:element minOccurs="0" name="DateOfBirth" type="xs:date"/>
              <xs:element minOccurs="0" name="Gender" type="xs:string"/>
              <xs:element minOccurs="0" name="HomePhone" type="xs:string"/>
              <xs:element minOccurs="0" name="WorkPhone" type="xs:string"/>
              <xs:element minOccurs="0" name="MobilePhone" type="xs:string"/>
              <xs:element minOccurs="0" name="PrimaryPhone" type="xs:string"/>
              <xs:element minOccurs="0" name="CompanyEmail" type="xs:string"/>
              <xs:element minOccurs="0" name="PersonalEmailAddress" type="xs:string"/>
              <xs:element minOccurs="0" name="AddressLine1" type="xs:string"/>
              <xs:element minOccurs="0" name="AddressLine2" type="xs:string"/>
              <xs:element minOccurs="0" name="AddressPostalCode" type="xs:string"/>
              <xs:element minOccurs="0" name="AddressCity" type="xs:string"/>
              <xs:element minOccurs="0" name="AddressCounty" type="xs:string"/>
              <xs:element minOccurs="0" name="AddressState" type="xs:string"/>
              <xs:element minOccurs="0" name="AddressCountry" type="xs:string"/>
              <xs:element minOccurs="0" name="LegalEntityDescription" type="xs:string"/>
              <xs:element minOccurs="0" name="BusinessUnitDescription" type="xs:string"/>
              <xs:element minOccurs="0" name="Division" type="xs:string"/>
              <xs:element minOccurs="0" name="Department" type="xs:string"/>
              <xs:element minOccurs="0" name="CostCenterCode" type="xs:string"/>
             
              <xs:element minOccurs="0" name="ContractualLocation" type="xs:string"/>
              <xs:element minOccurs="0" name="EmployeeStatus" type="xs:string"/>
              <xs:element minOccurs="0" name="EmployeeTypeDescription" type="xs:string"/>
              <xs:element minOccurs="0" name="FulltimeParttime" type="xs:string"/>
              <xs:element minOccurs="0" name="PayGroupDescription" type="xs:string"/>
              <xs:element minOccurs="0" name="PayGrade" type="xs:string"/>
              <xs:element minOccurs="0" name="PayType" type="xs:string"/>
              <xs:element minOccurs="0" name="HireDate" type="xs:date"/>
              <xs:element minOccurs="0" name="RehireDate" type="xs:date"/>
              <xs:element minOccurs="0" name="TerminationDate" type="xs:date"/>
              <xs:element minOccurs="0" name="HRManagerEEID" type="xs:string"/>
              <xs:element minOccurs="0" name="HRManagerEmail" type="xs:string"/>
              <xs:element minOccurs="0" name="HRManagerFirstName" type="xs:string"/>
              <xs:element minOccurs="0" name="HRManagerLastName" type="xs:string"/>
              <xs:element minOccurs="0" name="HRManagerPhone" type="xs:string"/>
              <xs:element minOccurs="0" name="LineManagerEEID" type="xs:string"/>
              <xs:element minOccurs="0" name="LineManagerEmail" type="xs:string"/>
              <xs:element minOccurs="0" name="LineManagerFirstName" type="xs:string"/>
              <xs:element minOccurs="0" name="LineManagerLastName" type="xs:string"/>
              <xs:element minOccurs="0" name="LineManagerPhone" type="xs:string"/>
              <xs:element minOccurs="0" name="EmployeeFlag" type="xs:boolean"/>
              <xs:element minOccurs="0" name="IsManager" type="xs:boolean"/>
              <xs:element minOccurs="0" name="IsHR" type="xs:boolean"/>
              <xs:element minOccurs="0" name="PreferredLanguage" type="xs:string"/>
              <xs:element minOccurs="0" name="ScheduledHours" type="xs:decimal"/>
              
              <xs:element minOccurs="0" name="DateOfDeath" type="xs:date"/>
              <xs:element minOccurs="0" name="AddressLine3" type="xs:string"/>
         
              <xs:element minOccurs="0" name="LOAEndDate" type="xs:date"/>
              <xs:element minOccurs="0" name="LOAEndReason" type="xs:string"/>
              <xs:element minOccurs="0" name="DirectBillStartDate" type="xs:date"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>