Resources/schemas/Xsd/SAP_Commerce_financial_services_accelerator_integration_with_SAP_for_Insurance - ImportPolicyFSADefinitionSingle.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="InsurancePolicies">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="1" maxOccurs="unbounded" name="InsurancePolicy">
          <xs:complexType>
            <xs:sequence>
              <xs:element xmlns="" type="xs:string" nillable="false" maxOccurs="unbounded" name="integrationKey"/>
              <xs:element xmlns="" type="xs:string" nillable="false" maxOccurs="unbounded" name="contractId"/>
              <xs:element xmlns="" type="xs:string" nillable="false" maxOccurs="unbounded" name="technicalId"/>
              <xs:element xmlns="" type="xs:dateTime" nillable="true" minOccurs="0" maxOccurs="unbounded" name="policyEffectiveDate"/>
              <xs:element xmlns="" type="xs:dateTime" nillable="true" minOccurs="0" maxOccurs="unbounded" name="policyExpiryDate"/>
              <xs:element xmlns="" type="xs:string" nillable="false" maxOccurs="unbounded" name="policyId"/>
              <xs:element xmlns="" type="xs:string" nillable="false" maxOccurs="unbounded" name="expiredPolicyId"/>
              <xs:element xmlns="" type="xs:dateTime" nillable="true" minOccurs="0" maxOccurs="unbounded" name="policyStartDate"/>
              <xs:element xmlns="" type="xs:double" nillable="true" minOccurs="0" maxOccurs="unbounded" name="premiumAmount"/>
              <xs:element nillable="true" minOccurs="0" maxOccurs="unbounded" name="paymentFrequency">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element minOccurs="0" maxOccurs="1" name="FSPaymentFrequency">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element xmlns="" type="xs:string" nillable="false" maxOccurs="unbounded" name="integrationKey"/>
                          <xs:element xmlns="" type="xs:string" nillable="false" maxOccurs="unbounded" name="code"/>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element nillable="true" minOccurs="0" maxOccurs="unbounded" name="paymentMethod">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element minOccurs="0" maxOccurs="1" name="PaymentInfo">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element xmlns="" type="xs:string" nillable="false" maxOccurs="unbounded" name="integrationKey"/>
                          <xs:element xmlns="" type="xs:string" nillable="false" maxOccurs="unbounded" name="code"/>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element nillable="true" minOccurs="0" maxOccurs="unbounded" name="currency">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element minOccurs="0" maxOccurs="1" name="Currency">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element xmlns="" type="xs:string" nillable="false" maxOccurs="unbounded" name="integrationKey"/>
                          <xs:element xmlns="" type="xs:string" nillable="false" maxOccurs="unbounded" name="isocode"/>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element nillable="true" minOccurs="0" maxOccurs="unbounded" name="category">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element minOccurs="0" maxOccurs="1" name="Category">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element xmlns="" type="xs:string" nillable="false" maxOccurs="unbounded" name="integrationKey"/>
                          <xs:element xmlns="" type="xs:string" nillable="false" maxOccurs="unbounded" name="code"/>
                          <xs:element nillable="true" minOccurs="0" maxOccurs="unbounded" name="catalogVersion">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element minOccurs="0" maxOccurs="1" name="CatalogVersion">
                                  <xs:complexType>
                                    <xs:sequence>
                                      <xs:element xmlns="" type="xs:string" nillable="false" maxOccurs="unbounded" name="integrationKey"/>
                                      <xs:element xmlns="" type="xs:string" nillable="false" maxOccurs="unbounded" name="version"/>
                                      <xs:element nillable="true" minOccurs="0" maxOccurs="unbounded" name="catalog">
                                        <xs:complexType>
                                          <xs:sequence>
                                            <xs:element minOccurs="0" maxOccurs="1" name="Catalog">
                                              <xs:complexType>
                                                <xs:sequence>
                                                  <xs:element xmlns="" type="xs:string" nillable="false" maxOccurs="unbounded" name="integrationKey"/>
                                                  <xs:element xmlns="" type="xs:string" nillable="false" maxOccurs="unbounded" name="id"/>
                                                </xs:sequence>
                                              </xs:complexType>
                                            </xs:element>
                                          </xs:sequence>
                                        </xs:complexType>
                                      </xs:element>
                                    </xs:sequence>
                                  </xs:complexType>
                                </xs:element>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element nillable="true" minOccurs="0" maxOccurs="unbounded" name="coverages">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element minOccurs="0" maxOccurs="unbounded" name="Coverage">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element xmlns="" type="xs:string" nillable="false" maxOccurs="unbounded" name="integrationKey"/>
                          <xs:element xmlns="" type="xs:double" nillable="true" minOccurs="0" maxOccurs="unbounded" name="coverageAmount"/>
                          <xs:element xmlns="" type="xs:string" nillable="false" maxOccurs="unbounded" name="coverageId"/>
                          <xs:element xmlns="" type="xs:string" nillable="false" maxOccurs="unbounded" name="technicalId"/>
                          <xs:element nillable="true" minOccurs="0" maxOccurs="unbounded" name="coverageProduct">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element minOccurs="0" maxOccurs="1" name="Product">
                                  <xs:complexType>
                                    <xs:sequence>
                                      <xs:element xmlns="" type="xs:string" nillable="false" maxOccurs="unbounded" name="integrationKey"/>
                                      <xs:element xmlns="" type="xs:string" nillable="false" maxOccurs="unbounded" name="code"/>
                                      <xs:element nillable="true" minOccurs="0" maxOccurs="unbounded" name="catalogVersion">
                                        <xs:complexType>
                                          <xs:sequence>
                                            <xs:element minOccurs="0" maxOccurs="1" name="CatalogVersion">
                                              <xs:complexType>
                                                <xs:sequence>
                                                  <xs:element xmlns="" type="xs:string" nillable="false" maxOccurs="unbounded" name="integrationKey"/>
                                                  <xs:element xmlns="" type="xs:string" nillable="false" maxOccurs="unbounded" name="version"/>
                                                  <xs:element nillable="true" minOccurs="0" maxOccurs="unbounded" name="catalog">
                                                    <xs:complexType>
                                                      <xs:sequence>
                                                        <xs:element minOccurs="0" maxOccurs="1" name="Catalog">
                                                          <xs:complexType>
                                                            <xs:sequence>
                                                            <xs:element xmlns="" type="xs:string" nillable="false" maxOccurs="unbounded" name="integrationKey"/>
                                                            <xs:element xmlns="" type="xs:string" nillable="false" maxOccurs="unbounded" name="id"/>
                                                            </xs:sequence>
                                                          </xs:complexType>
                                                        </xs:element>
                                                      </xs:sequence>
                                                    </xs:complexType>
                                                  </xs:element>
                                                </xs:sequence>
                                              </xs:complexType>
                                            </xs:element>
                                          </xs:sequence>
                                        </xs:complexType>
                                      </xs:element>
                                    </xs:sequence>
                                  </xs:complexType>
                                </xs:element>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                          <xs:element nillable="true" minOccurs="0" maxOccurs="unbounded" name="coverageType">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element minOccurs="0" maxOccurs="1" name="CoverageType">
                                  <xs:complexType>
                                    <xs:sequence>
                                      <xs:element xmlns="" type="xs:string" nillable="false" maxOccurs="unbounded" name="integrationKey"/>
                                      <xs:element xmlns="" type="xs:string" nillable="false" maxOccurs="unbounded" name="code"/>
                                    </xs:sequence>
                                  </xs:complexType>
                                </xs:element>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element nillable="true" minOccurs="0" maxOccurs="unbounded" name="insuredObjects">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element minOccurs="0" maxOccurs="unbounded" name="InsuredObject">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element xmlns="" type="xs:string" nillable="false" maxOccurs="unbounded" name="integrationKey"/>
                          <xs:element xmlns="" type="xs:string" nillable="false" maxOccurs="unbounded" name="insuredObjectId"/>
                          <xs:element xmlns="" type="xs:string" nillable="false" maxOccurs="unbounded" name="technicalId"/>
                          <xs:element nillable="true" minOccurs="0" maxOccurs="unbounded" name="insuredObjectItems">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element minOccurs="0" maxOccurs="unbounded" name="InsuredObjectItem">
                                  <xs:complexType>
                                    <xs:sequence>
                                      <xs:element xmlns="" type="xs:string" nillable="false" maxOccurs="unbounded" name="integrationKey"/>
                                      <xs:element xmlns="" type="xs:string" nillable="true" minOccurs="0" maxOccurs="unbounded" name="externalValue"/>
                                      <xs:element xmlns="" type="xs:string" nillable="true" minOccurs="0" maxOccurs="unbounded" name="format"/>
                                      <xs:element xmlns="" type="xs:string" nillable="false" maxOccurs="unbounded" name="itemId"/>
                                      <xs:element xmlns="" type="xs:string" nillable="true" minOccurs="0" maxOccurs="unbounded" name="label"/>
                                    </xs:sequence>
                                  </xs:complexType>
                                </xs:element>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                          <xs:element nillable="true" minOccurs="0" maxOccurs="unbounded" name="insuredObjectType">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element minOccurs="0" maxOccurs="1" name="InsuredObjectType">
                                  <xs:complexType>
                                    <xs:sequence>
                                      <xs:element xmlns="" type="xs:string" nillable="false" maxOccurs="unbounded" name="integrationKey"/>
                                      <xs:element xmlns="" type="xs:string" nillable="false" maxOccurs="unbounded" name="code"/>
                                    </xs:sequence>
                                  </xs:complexType>
                                </xs:element>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
							<xs:element minOccurs="0" maxOccurs="unbounded" name="childInsuredObjects">
							  <xs:complexType>
								<xs:sequence>
								  <xs:element minOccurs="0" maxOccurs="unbounded" name="childInsuredObject">
									<xs:complexType>
									  <xs:sequence>
										<xs:element type="xs:string" name="insuredObjectId"/>
										<xs:element type="xs:string" name="technicalId"/>
										<xs:element name="insuredObjectItems">
										  <xs:complexType>
											<xs:sequence>
											  <xs:element name="insuredObjectItem" maxOccurs="unbounded" minOccurs="0">
												<xs:complexType>
												  <xs:sequence>
													<xs:element type="xs:string" name="externalValue"/>
													<xs:element type="xs:string" name="format" minOccurs="0"/>
													<xs:element type="xs:string" name="itemId"/>
													<xs:element type="xs:string" name="label"/>
												  </xs:sequence>
												</xs:complexType>
											  </xs:element>
											</xs:sequence>
										  </xs:complexType>
										</xs:element>
										<xs:element name="insuredObjectType">
										  <xs:complexType>
											<xs:sequence>
											  <xs:element type="xs:string" name="code"/>
											</xs:sequence>
										  </xs:complexType>
										</xs:element>
									  </xs:sequence>
									</xs:complexType>
								  </xs:element>
								</xs:sequence>
							  </xs:complexType>
							</xs:element>
						  
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element nillable="true" minOccurs="0" maxOccurs="unbounded" name="policyStatus">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element minOccurs="0" maxOccurs="1" name="FSPolicyStatus">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element xmlns="" type="xs:string" nillable="false" maxOccurs="unbounded" name="integrationKey"/>
                          <xs:element xmlns="" type="xs:string" nillable="false" maxOccurs="unbounded" name="code"/>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element nillable="true" minOccurs="0" maxOccurs="unbounded" name="user">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element minOccurs="0" maxOccurs="1" name="User">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element xmlns="" type="xs:string" nillable="false" maxOccurs="unbounded" name="integrationKey"/>
                          <xs:element xmlns="" type="xs:string" nillable="false" maxOccurs="unbounded" name="externalId"/>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element minOccurs="0" maxOccurs="1" name="link">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element nillable="true" minOccurs="0" maxOccurs="unbounded" name="paymentFrequency">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element minOccurs="0" maxOccurs="1" name="FSPaymentFrequency">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element xmlns="" type="xs:string" minOccurs="1" maxOccurs="1" name="integrationKey"/>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element nillable="true" minOccurs="0" maxOccurs="unbounded" name="currency">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element minOccurs="0" maxOccurs="1" name="Currency">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element xmlns="" type="xs:string" minOccurs="1" maxOccurs="1" name="integrationKey"/>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element nillable="true" minOccurs="0" maxOccurs="unbounded" name="category">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element minOccurs="0" maxOccurs="1" name="Category">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element xmlns="" type="xs:string" minOccurs="1" maxOccurs="1" name="integrationKey"/>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element nillable="true" minOccurs="0" maxOccurs="unbounded" name="coverages">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element minOccurs="0" maxOccurs="unbounded" name="Coverage">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element xmlns="" type="xs:string" minOccurs="1" maxOccurs="1" name="integrationKey"/>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element nillable="true" minOccurs="0" maxOccurs="unbounded" name="insuredObjects">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element minOccurs="0" maxOccurs="unbounded" name="InsuredObject">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element xmlns="" type="xs:string" minOccurs="1" maxOccurs="1" name="integrationKey"/>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element nillable="true" minOccurs="0" maxOccurs="unbounded" name="policyStatus">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element minOccurs="0" maxOccurs="1" name="FSPolicyStatus">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element xmlns="" type="xs:string" minOccurs="1" maxOccurs="1" name="integrationKey"/>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element nillable="true" minOccurs="0" maxOccurs="unbounded" name="user">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element minOccurs="0" maxOccurs="1" name="User">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element xmlns="" type="xs:string" minOccurs="1" maxOccurs="1" name="integrationKey"/>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
