Resources/schemas/Xsd/SAP_Commerce_financial_services_accelerator_integration_with_SAP_for_Insurance - HELP_NAMDRV_Result-1.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="root">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="NamedDriver">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:short" name="insuredObjectId"/>
              <xs:element type="xs:string" name="customerId"/>
              <xs:element type="xs:short" name="bpId"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>