Resources/schemas/Xsd/SAP_Build_Process_Automation_Integration_with_SAP_ERP_for_Invoice - GLAccountResponse.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="root">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="accountList" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="companyCode"/>
              <xs:element type="xs:int" name="glAccount"/>
              <xs:element type="xs:string" name="longText"/>
              <xs:element type="xs:string" name="shortText"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>