Resources/schemas/Xsd/SAP_Returnable_Packaging_Management_Integration_with_File_Based_Master_Data_Load - SalesDivisionDeleteValidator.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="qualified">
   <xs:element name="Division">
      <xs:complexType>
         <xs:sequence>
            <xs:element maxOccurs="unbounded" name="row">
               <xs:complexType>
                  <xs:sequence>
                     <xs:element name="salesDivision">
                        <xs:simpleType>
                           <xs:restriction base="xs:string">
                              <xs:maxLength value="2" />
                              <xs:minLength value="1" />
                           </xs:restriction>
                        </xs:simpleType>
                     </xs:element>
                     <xs:element name="salesOrganization">
                        <xs:simpleType>
                           <xs:restriction base="xs:string">
                              <xs:maxLength value="4" />
                              <xs:minLength value="1" />
                           </xs:restriction>
                        </xs:simpleType>
                     </xs:element>
                  </xs:sequence>
               </xs:complexType>
            </xs:element>
         </xs:sequence>
      </xs:complexType>
   </xs:element>
</xs:schema>