Resources/schemas/Xsd/SAP_Entitlement_Management_Integration_with_SAP_S-4HANA - Inbound_Interface_Entitlement_Generation-2.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" version="1.0">
  <xsd:element name="Inbound_Interface_Entitlement_Generation">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="Inbound_Interface_Entitlement_Generation" maxOccurs="unbounded">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="SourceSystem" type="xsd:string" maxOccurs="1" minOccurs="1"/>
              <xsd:element name="GenerationMethod" type="xsd:string" maxOccurs="1" minOccurs="0"/>
              <xsd:element name="CustomerID" type="xsd:string" maxOccurs="1" minOccurs="1"/>
              <xsd:element name="CustomerName" type="xsd:string" maxOccurs="1" minOccurs="0"/>
              <xsd:element name="CreatedBy" type="xsd:string" maxOccurs="1" minOccurs="0"/>
              <xsd:element name="CreatedAt" type="xsd:date" maxOccurs="1" minOccurs="0"/>
              <xsd:element name="SalesOrganization" type="xsd:string" maxOccurs="1" minOccurs="0"/>
              <xsd:element name="SalesGroup" type="xsd:string" maxOccurs="1" minOccurs="0"/>
              <xsd:element name="SalesOffice" type="xsd:string" maxOccurs="1" minOccurs="0"/>
              <xsd:element name="DistributionChannel" type="xsd:string" maxOccurs="1" minOccurs="0"/>
              <xsd:element name="DocumentCategory" type="xsd:string" maxOccurs="1" minOccurs="0"/>
              <xsd:element name="DocumentType" type="xsd:string" maxOccurs="1" minOccurs="0"/>
              <xsd:element name="DocumentNumber" type="xsd:string" maxOccurs="1" minOccurs="1"/>
              
              <xsd:element name="Item" maxOccurs="unbounded" minOccurs="1">
                <xsd:complexType>
                  <xsd:sequence>
                    <xsd:element name="ItemNumber" type="xsd:string" maxOccurs="1" minOccurs="1"/>
                    <xsd:element name="ItemCategory" type="xsd:string" maxOccurs="1" minOccurs="0"/>
                    <xsd:element name="OfferingID" type="xsd:string" maxOccurs="1" minOccurs="1"/>
                    <xsd:element name="OfferingName" type="xsd:string" maxOccurs="1" minOccurs="0"/>
                    <xsd:element name="OfferingCategory" type="xsd:string" maxOccurs="1" minOccurs="0"/>
                    <xsd:element name="Quantity" type="xsd:integer" maxOccurs="1" minOccurs="1"/>
                    <xsd:element name="UoM" type="xsd:string" maxOccurs="1" minOccurs="1"/>
                    <xsd:element name="ItemValidFrom" type="xsd:date" maxOccurs="1" minOccurs="0"/>
                    <xsd:element name="ItemValidTo" type="xsd:date" maxOccurs="1" minOccurs="0"/>
                    <xsd:element name="ParentItemNumber" type="xsd:string"
                                            maxOccurs="1" minOccurs="0"/>
                    <xsd:element name="BusinessEvent" type="xsd:string" maxOccurs="1" minOccurs="0"/>
                  </xsd:sequence>
                </xsd:complexType>
              </xsd:element>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
</xsd:schema>
