Resources/schemas/Xsd/SAP_Build_Process_Automation_Integration_with_SAP_S-4HANA_for_Manage_Posting_Period_Approval - outputData.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
				<xs:element name="d">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="status" type="xs:string"/>
							<xs:element name="message" minOccurs="0" maxOccurs="1" type="xs:string"/>
							<xs:element name="companyCode" type="xs:unsignedShort"/>
							<xs:element name="positionID" type="xs:unsignedInt"/>
							<xs:element minOccurs="0" maxOccurs="unbounded" name="approvers">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="userID" minOccurs="0" maxOccurs="1" type="xs:string"/>
										<xs:element name="emailID" minOccurs="0" maxOccurs="1" type="xs:string"/>
										<xs:element name="name" minOccurs="0" maxOccurs="1" type="xs:string"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
</xs:schema>
