Resources/schemas/Xsd/SAP_Complaint_Handling_Integration_with_Master_Data_and_Business_Objects - Claim_ModifiedRequest.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="root">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="claims">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:short" name="plant_ID"/>
              <xs:element type="xs:string" name="versionCategory"/>
              <xs:element type="xs:string" name="claimType"/>
              <xs:element type="xs:string" name="personResponsible_ID"/>
              <xs:element type="xs:string" name="supplierRole"/>
              <xs:element type="xs:string" name="supplier_ID"/>
			  <xs:element type="xs:string" name="supplierStatus"/>
			  <xs:element type="xs:string" name="structureName"/>
			  <xs:element type="xs:string" name="fieldName"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="claimItem" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="material"/>
              <xs:element type="xs:short" name="handle"/>
              <xs:element type="xs:string" name="handleVersion"/>
              <xs:element type="xs:string" name="itemType"/>
              <xs:element type="xs:float" name="quantity"/>
              <xs:element type="xs:string" name="unit"/>
              <xs:element type="xs:string" name="subItemType"/>
              <xs:element type="xs:string" name="description"/>
              <xs:element type="xs:string" name="itemKey"/>
              <xs:element type="xs:string" name="partCauseDamage"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="claimPricing" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:short" name="refhandle"/>
              <xs:element type="xs:string" name="currency"/>
              <xs:element type="xs:string" name="condType"/>
              <xs:element type="xs:string" name="totalCost"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="binaryRelationDataModel">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="object_a">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:int" name="object_key"/>
                    <xs:element type="xs:string" name="object_type"/>
                    <xs:element type="xs:string" name="log_sys"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="object_b">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:string" name="object_key"/>
                    <xs:element type="xs:string" name="object_type"/>
                    <xs:element type="xs:string" name="log_sys"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element type="xs:string" name="relation_type"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>