Resources/schemas/Xsd/SAP_Health_Engagement_-_Integration_with_Validic - sleep.xsd

<?xml version="1.0" encoding="UTF-8"?>
   <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
         <!-- XML Schema Generated from XML Document on Wed Nov 09 2016 14:52:43 GMT+0530 (India Standard Time) -->
         <!-- with XmlGrid.net Free Online Service http://xmlgrid.net -->
         <xs:element name="sleep">
               <xs:complexType>
                     <xs:sequence>
                           <xs:element name="_id" type="xs:string"></xs:element>
                           <xs:element name="awake" type="xs:int"></xs:element>
                           <xs:element name="deep" type="xs:int"></xs:element>
                           <xs:element name="last_updated" type="xs:dateTime"></xs:element>
                           <xs:element name="light" type="xs:int"></xs:element>
                           <xs:element name="rem" type="xs:int"></xs:element>
                           <xs:element name="source" type="xs:string"></xs:element>
                           <xs:element name="source_name" type="xs:string"></xs:element>
                           <xs:element name="times_woken" type="xs:int"></xs:element>
                           <xs:element name="timestamp" type="xs:dateTime"></xs:element>
                           <xs:element name="total_sleep" type="xs:int"></xs:element>
                           <xs:element name="user_id" type="xs:string"></xs:element>
                           <xs:element name="utc_offset" type="xs:string"></xs:element>
                           <xs:element name="validated" type="xs:string"></xs:element>
                     </xs:sequence>
               </xs:complexType>
         </xs:element>
   </xs:schema>