Resources/schemas/Xsd/SAP_Customer_Relationship_Management_Integration_with_SAP_Field_Service_Management - ItemGroup.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" 
    xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name = "ItemGroups">
        <xs:complexType>
            <xs:sequence>
                <xs:element name = "data" maxOccurs="unbounded" minOccurs="0">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element type = "xs:string" name = "code" maxOccurs="1" minOccurs="0"/>
                            <xs:element type = "xs:string" name = "externalId" maxOccurs="1" minOccurs="0"/>
                            <xs:element type = "xs:boolean" name = "inactive" maxOccurs="1" minOccurs="0"/>
                            <xs:element type = "xs:string" name = "name" maxOccurs="1" minOccurs="0"/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>