Resources/schemas/Xsd/SAP_ERP_Integration_with_SAP_Build_Process_Automation_for_Vendor_Master - genral_payload_updated.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="root">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="context">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="aAddBankDetails">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="element">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element type="xs:string" name="sBankAcctNo"/>
                          <xs:element type="xs:string" name="sBankHolder"/>
                          <xs:element type="xs:string" name="sBankKey"/>
                          <xs:element type="xs:string" name="sCountryKey"/>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="aAddContactPersons">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="element">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element type="xs:string" name="sContactName"/>
                          <xs:element type="xs:string" name="sContactPhone"/>
                          <xs:element type="xs:string" name="sDepartment"/>
                          <xs:element type="xs:string" name="sDescription"/>
                          <xs:element type="xs:string" name="sFirstName"/>
                          <xs:element type="xs:string" name="sFormOfAddress"/>
                          <xs:element type="xs:string" name="sFunction"/>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element type="xs:byte" name="sAccountGroup"/>
              <xs:element type="xs:string" name="sAlternativePayee"/>
              <xs:element type="xs:string" name="sAuthorization"/>
              <xs:element type="xs:string" name="sCheckDigit"/>
              <xs:element type="xs:string" name="sCity"/>
              <xs:element type="xs:string" name="sCorporateGroup"/>
              <xs:element type="xs:string" name="sCountry"/>
              <xs:element type="xs:string" name="sCredInfoNo"/>
              <xs:element type="xs:string" name="sCustomer"/>
              <xs:element type="xs:string" name="sDMEIndicator"/>
              <xs:element type="xs:string" name="sDateOfBirth"/>
              <xs:element type="xs:string" name="sDistrict"/>
              <xs:element type="xs:string" name="sFax"/>
              <xs:element type="xs:string" name="sISRNumber"/>
              <xs:element type="xs:string" name="sInstructionKey"/>
              <xs:element type="xs:string" name="sLanguage"/>
              <xs:element type="xs:string" name="sLocationNumber"/>
              <xs:element type="xs:string" name="sLocationNumber2"/>
              <xs:element type="xs:string" name="sOtherCity"/>
              <xs:element type="xs:string" name="sOtherCountry"/>
              <xs:element type="xs:string" name="sPOBox"/>
              <xs:element type="xs:string" name="sPartnerNumber"/>
              <xs:element type="xs:string" name="sPlaceOfBirth"/>
              <xs:element type="xs:string" name="sPostalCode"/>
              <xs:element type="xs:string" name="sProfession"/>
              <xs:element type="xs:string" name="sRegion"/>
              <xs:element type="xs:string" name="sRepName"/>
              <xs:element type="xs:string" name="sSCAC"/>
              <xs:element type="xs:string" name="sSearchTerms"/>
              <xs:element type="xs:string" name="sStandardCommMethod"/>
              <xs:element type="xs:string" name="sStreet1"/>
              <xs:element type="xs:string" name="sSubsidiary"/>
              <xs:element type="xs:string" name="sSuppl"/>
              <xs:element type="xs:string" name="sTaxNumber"/>
              <xs:element type="xs:string" name="sTaxNumber1"/>
              <xs:element type="xs:string" name="sTaxNumber2"/>
              <xs:element type="xs:string" name="sTaxNumber5"/>
              <xs:element type="xs:string" name="sTradingPartner"/>
              <xs:element type="xs:string" name="sVATRegNo"/>
              <xs:element type="xs:string" name="sVendorContact"/>
              <xs:element type="xs:string" name="sVendorEmail"/>
              <xs:element type="xs:string" name="sVendorName"/>
              <xs:element type="xs:string" name="sVendorName2"/>
              <xs:element type="xs:string" name="sVendorName3"/>
              <xs:element type="xs:string" name="sVendorName4"/>
              <xs:element type="xs:string" name="sVendorType"/>
              <xs:element type="xs:string" name="sZipCode"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>