Resources/schemas/Xsd/SAP_Commerce_Integration_with_SAP_CPQ_and_SAP_Subscription_Billing - PerUnitUsageChargesEntityPOST2.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="batchParts">
        <xs:complexType>
            <xs:sequence>
                <xs:element nillable="false" minOccurs="1" maxOccurs="unbounded" name="batchChangeSet">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element nillable="false" minOccurs="1" maxOccurs="unbounded" name="batchChangeSetPart">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element type="xs:string" nillable="false" minOccurs="1" maxOccurs="1" name="method" xmlns=""/>
                                        <xs:element type="xs:string" nillable="true" minOccurs="0" maxOccurs="1" name="uri" xmlns=""/>
                                        <xs:element nillable="true" minOccurs="0" maxOccurs="unbounded" name="headers">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element nillable="true" minOccurs="0" maxOccurs="unbounded" name="header">
                                                        <xs:complexType>
                                                            <xs:sequence>
                                                                <xs:element type="xs:string" nillable="false" minOccurs="1" maxOccurs="unbounded" name="headerName" xmlns=""/>
                                                                <xs:element type="xs:string" nillable="false" minOccurs="1" maxOccurs="unbounded" name="headerValue" xmlns=""/>
                                                            </xs:sequence>
                                                        </xs:complexType>
                                                    </xs:element>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element nillable="false" minOccurs="1" maxOccurs="1" name="PerUnitUsageCharges">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element minOccurs="1" maxOccurs="unbounded" name="PerUnitUsageCharge">
                                                        <xs:complexType>
                                                            <xs:sequence>
                                                                <xs:element type="xs:string" nillable="false" maxOccurs="unbounded" name="integrationKey" xmlns=""/>
                                                                <xs:element type="xs:string" nillable="true" minOccurs="0" maxOccurs="unbounded" name="subscriptionBillingId" xmlns=""/>
                                                                <xs:element type="xs:int" nillable="true" minOccurs="0" maxOccurs="unbounded" name="minBlocks" xmlns=""/>
                                                                <xs:element type="xs:int" nillable="true" minOccurs="0" maxOccurs="unbounded" name="blockSize" xmlns=""/>
                                                                <xs:element type="xs:string" nillable="true" minOccurs="0" maxOccurs="unbounded" name="id" xmlns=""/>
                                                                <xs:element nillable="true" minOccurs="0" maxOccurs="unbounded" name="usageChargeEntries">
                                                                    <xs:complexType>
                                                                        <xs:sequence>
                                                                            <xs:element minOccurs="0" maxOccurs="unbounded" name="TierUsageChargeEntry">
                                                                                <xs:complexType>
                                                                                    <xs:sequence>
                                                                                        <xs:element type="xs:string" nillable="false" maxOccurs="unbounded" name="integrationKey" xmlns=""/>
                                                                                        <xs:element type="xs:string" nillable="true" minOccurs="0" maxOccurs="unbounded" name="subscriptionBillingId" xmlns=""/>
                                                                                        <xs:element type="xs:int" nillable="false" maxOccurs="unbounded" name="tierEnd" xmlns=""/>
                                                                                        <xs:element type="xs:string" nillable="true" minOccurs="0" maxOccurs="unbounded" name="id" xmlns=""/>
                                                                                        <xs:element type="xs:int" nillable="false" maxOccurs="unbounded" name="tierStart" xmlns=""/>
                                                                                        <xs:element type="xs:double" nillable="true" minOccurs="0" maxOccurs="unbounded" name="fixedPrice" xmlns=""/>
                                                                                        <xs:element type="xs:double" nillable="false" maxOccurs="unbounded" name="price" xmlns=""/>
                                                                                        <xs:element nillable="true" minOccurs="0" maxOccurs="unbounded" name="catalogVersion">
                                                                                            <xs:complexType>
                                                                                                <xs:sequence>
                                                                                                    <xs:element minOccurs="0" maxOccurs="1" name="CatalogVersion">
                                                                                                        <xs:complexType>
                                                                                                            <xs:sequence>
                                                                                                                <xs:element type="xs:string" nillable="false" maxOccurs="unbounded" name="integrationKey" xmlns=""/>
                                                                                                                <xs:element type="xs:string" nillable="false" maxOccurs="unbounded" name="version" xmlns=""/>
                                                                                                                <xs:element nillable="true" minOccurs="0" maxOccurs="unbounded" name="catalog">
                                                                                                                    <xs:complexType>
                                                                                                                        <xs:sequence>
                                                                                                                            <xs:element minOccurs="0" maxOccurs="1" name="Catalog">
                                                                                                                                <xs:complexType>
                                                                                                                                    <xs:sequence>
                                                                                                                                        <xs:element type="xs:string" nillable="false" maxOccurs="unbounded" name="integrationKey" xmlns=""/>
                                                                                                                                        <xs:element type="xs:string" nillable="false" maxOccurs="unbounded" name="id" xmlns=""/>
                                                                                                                                    </xs:sequence>
                                                                                                                                </xs:complexType>
                                                                                                                            </xs:element>
                                                                                                                        </xs:sequence>
                                                                                                                    </xs:complexType>
                                                                                                                </xs:element>
                                                                                                            </xs:sequence>
                                                                                                        </xs:complexType>
                                                                                                    </xs:element>
                                                                                                </xs:sequence>
                                                                                            </xs:complexType>
                                                                                        </xs:element>
                                                                                    </xs:sequence>
                                                                                </xs:complexType>
                                                                            </xs:element>
                                                                        </xs:sequence>
                                                                    </xs:complexType>
                                                                </xs:element>
                                                                <xs:element nillable="true" minOccurs="0" maxOccurs="unbounded" name="subscriptionPricePlanUsage">
                                                                    <xs:complexType>
                                                                        <xs:sequence>
                                                                            <xs:element minOccurs="0" maxOccurs="1" name="SubscriptionPricePlan">
                                                                                <xs:complexType>
                                                                                    <xs:sequence>
                                                                                        <xs:element type="xs:string" nillable="false" maxOccurs="unbounded" name="integrationKey" xmlns=""/>
                                                                                        <xs:element type="xs:string" nillable="true" minOccurs="0" maxOccurs="unbounded" name="pricePlanId" xmlns=""/>
                                                                                        <xs:element type="xs:dateTime" nillable="true" minOccurs="0" maxOccurs="unbounded" name="startTime" xmlns=""/>
                                                                                        <xs:element nillable="true" minOccurs="0" maxOccurs="unbounded" name="catalogVersion">
                                                                                            <xs:complexType>
                                                                                                <xs:sequence>
                                                                                                    <xs:element minOccurs="0" maxOccurs="1" name="CatalogVersion">
                                                                                                        <xs:complexType>
                                                                                                            <xs:sequence>
                                                                                                                <xs:element type="xs:string" nillable="false" maxOccurs="unbounded" name="integrationKey" xmlns=""/>
                                                                                                                <xs:element type="xs:string" nillable="false" maxOccurs="unbounded" name="version" xmlns=""/>
                                                                                                                <xs:element nillable="true" minOccurs="0" maxOccurs="unbounded" name="catalog">
                                                                                                                    <xs:complexType>
                                                                                                                        <xs:sequence>
                                                                                                                            <xs:element minOccurs="0" maxOccurs="1" name="Catalog">
                                                                                                                                <xs:complexType>
                                                                                                                                    <xs:sequence>
                                                                                                                                        <xs:element type="xs:string" nillable="false" maxOccurs="unbounded" name="integrationKey" xmlns=""/>
                                                                                                                                        <xs:element type="xs:string" nillable="false" maxOccurs="unbounded" name="id" xmlns=""/>
                                                                                                                                    </xs:sequence>
                                                                                                                                </xs:complexType>
                                                                                                                            </xs:element>
                                                                                                                        </xs:sequence>
                                                                                                                    </xs:complexType>
                                                                                                                </xs:element>
                                                                                                            </xs:sequence>
                                                                                                        </xs:complexType>
                                                                                                    </xs:element>
                                                                                                </xs:sequence>
                                                                                            </xs:complexType>
                                                                                        </xs:element>
                                                                                    </xs:sequence>
                                                                                </xs:complexType>
                                                                            </xs:element>
                                                                        </xs:sequence>
                                                                    </xs:complexType>
                                                                </xs:element>
                                                                <xs:element nillable="true" minOccurs="0" maxOccurs="unbounded" name="usageUnit">
                                                                    <xs:complexType>
                                                                        <xs:sequence>
                                                                            <xs:element minOccurs="0" maxOccurs="1" name="UsageUnit">
                                                                                <xs:complexType>
                                                                                    <xs:sequence>
                                                                                        <xs:element type="xs:string" nillable="false" maxOccurs="unbounded" name="integrationKey" xmlns=""/>
                                                                                        <xs:element type="xs:string" nillable="false" maxOccurs="unbounded" name="id" xmlns=""/>
                                                                                    </xs:sequence>
                                                                                </xs:complexType>
                                                                            </xs:element>
                                                                        </xs:sequence>
                                                                    </xs:complexType>
                                                                </xs:element>
                                                                <xs:element nillable="true" minOccurs="0" maxOccurs="unbounded" name="usageChargeType">
                                                                    <xs:complexType>
                                                                        <xs:sequence>
                                                                            <xs:element minOccurs="0" maxOccurs="1" name="UsageChargeType">
                                                                                <xs:complexType>
                                                                                    <xs:sequence>
                                                                                        <xs:element type="xs:string" nillable="false" maxOccurs="unbounded" name="integrationKey" xmlns=""/>
                                                                                        <xs:element type="xs:string" nillable="false" maxOccurs="unbounded" name="code" xmlns=""/>
                                                                                    </xs:sequence>
                                                                                </xs:complexType>
                                                                            </xs:element>
                                                                        </xs:sequence>
                                                                    </xs:complexType>
                                                                </xs:element>
                                                                <xs:element nillable="true" minOccurs="0" maxOccurs="unbounded" name="catalogVersion">
                                                                    <xs:complexType>
                                                                        <xs:sequence>
                                                                            <xs:element minOccurs="0" maxOccurs="1" name="CatalogVersion">
                                                                                <xs:complexType>
                                                                                    <xs:sequence>
                                                                                        <xs:element type="xs:string" nillable="false" maxOccurs="unbounded" name="integrationKey" xmlns=""/>
                                                                                        <xs:element type="xs:string" nillable="false" maxOccurs="unbounded" name="version" xmlns=""/>
                                                                                        <xs:element nillable="true" minOccurs="0" maxOccurs="unbounded" name="catalog">
                                                                                            <xs:complexType>
                                                                                                <xs:sequence>
                                                                                                    <xs:element minOccurs="0" maxOccurs="1" name="Catalog">
                                                                                                        <xs:complexType>
                                                                                                            <xs:sequence>
                                                                                                                <xs:element type="xs:string" nillable="false" maxOccurs="unbounded" name="integrationKey" xmlns=""/>
                                                                                                                <xs:element type="xs:string" nillable="false" maxOccurs="unbounded" name="id" xmlns=""/>
                                                                                                            </xs:sequence>
                                                                                                        </xs:complexType>
                                                                                                    </xs:element>
                                                                                                </xs:sequence>
                                                                                            </xs:complexType>
                                                                                        </xs:element>
                                                                                    </xs:sequence>
                                                                                </xs:complexType>
                                                                            </xs:element>
                                                                        </xs:sequence>
                                                                    </xs:complexType>
                                                                </xs:element>
                                                                <xs:element minOccurs="0" maxOccurs="1" name="link">
                                                                    <xs:complexType>
                                                                        <xs:sequence>
                                                                            <xs:element nillable="true" minOccurs="0" maxOccurs="unbounded" name="usageChargeEntries">
                                                                                <xs:complexType>
                                                                                    <xs:sequence>
                                                                                        <xs:element minOccurs="0" maxOccurs="unbounded" name="TierUsageChargeEntry">
                                                                                            <xs:complexType>
                                                                                                <xs:sequence>
                                                                                                    <xs:element type="xs:string" minOccurs="1" maxOccurs="1" name="integrationKey" xmlns=""/>
                                                                                                </xs:sequence>
                                                                                            </xs:complexType>
                                                                                        </xs:element>
                                                                                    </xs:sequence>
                                                                                </xs:complexType>
                                                                            </xs:element>
                                                                            <xs:element nillable="true" minOccurs="0" maxOccurs="unbounded" name="subscriptionPricePlanUsage">
                                                                                <xs:complexType>
                                                                                    <xs:sequence>
                                                                                        <xs:element minOccurs="0" maxOccurs="1" name="SubscriptionPricePlan">
                                                                                            <xs:complexType>
                                                                                                <xs:sequence>
                                                                                                    <xs:element type="xs:string" minOccurs="1" maxOccurs="1" name="integrationKey" xmlns=""/>
                                                                                                </xs:sequence>
                                                                                            </xs:complexType>
                                                                                        </xs:element>
                                                                                    </xs:sequence>
                                                                                </xs:complexType>
                                                                            </xs:element>
                                                                            <xs:element nillable="true" minOccurs="0" maxOccurs="unbounded" name="usageUnit">
                                                                                <xs:complexType>
                                                                                    <xs:sequence>
                                                                                        <xs:element minOccurs="0" maxOccurs="1" name="UsageUnit">
                                                                                            <xs:complexType>
                                                                                                <xs:sequence>
                                                                                                    <xs:element type="xs:string" minOccurs="1" maxOccurs="1" name="integrationKey" xmlns=""/>
                                                                                                </xs:sequence>
                                                                                            </xs:complexType>
                                                                                        </xs:element>
                                                                                    </xs:sequence>
                                                                                </xs:complexType>
                                                                            </xs:element>
                                                                            <xs:element nillable="true" minOccurs="0" maxOccurs="unbounded" name="usageChargeType">
                                                                                <xs:complexType>
                                                                                    <xs:sequence>
                                                                                        <xs:element minOccurs="0" maxOccurs="1" name="UsageChargeType">
                                                                                            <xs:complexType>
                                                                                                <xs:sequence>
                                                                                                    <xs:element type="xs:string" minOccurs="1" maxOccurs="1" name="integrationKey" xmlns=""/>
                                                                                                </xs:sequence>
                                                                                            </xs:complexType>
                                                                                        </xs:element>
                                                                                    </xs:sequence>
                                                                                </xs:complexType>
                                                                            </xs:element>
                                                                            <xs:element nillable="true" minOccurs="0" maxOccurs="unbounded" name="catalogVersion">
                                                                                <xs:complexType>
                                                                                    <xs:sequence>
                                                                                        <xs:element minOccurs="0" maxOccurs="1" name="CatalogVersion">
                                                                                            <xs:complexType>
                                                                                                <xs:sequence>
                                                                                                    <xs:element type="xs:string" minOccurs="1" maxOccurs="1" name="integrationKey" xmlns=""/>
                                                                                                </xs:sequence>
                                                                                            </xs:complexType>
                                                                                        </xs:element>
                                                                                    </xs:sequence>
                                                                                </xs:complexType>
                                                                            </xs:element>
                                                                        </xs:sequence>
                                                                    </xs:complexType>
                                                                </xs:element>
                                                            </xs:sequence>
                                                        </xs:complexType>
                                                    </xs:element>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>
