Resources/schemas/Xsd/SAP_Complaint_Handling_Integration_For_Supplier_Complaints - rpo_request.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Root">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Type" />
        <xs:element name="CompanyCode" />
        <xs:element name="Supplier" />
        <xs:element name="PurchasingOrganization" />
        <xs:element name="PurchasingGroup" />
        <xs:element name="Material" />
        <xs:element name="Quantity" />
        <xs:element name="Unit" />
        <xs:element name="Reason" />
        <xs:element name="Plant" />
        <xs:element name="PersonResponsible" />
        <xs:element name="ItemNumber" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>