Resources/schemas/Xsd/SAP_Service_Cloud_Integration_with_ServiceNow - IncidentSNOW_Confirmation.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="root">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="sap_object_id" type="xs:unsignedByte" />
        <xs:element minOccurs="0" maxOccurs="1" name="attachment_status" type="xs:unsignedByte" />
        <xs:element minOccurs="0" maxOccurs="1" name="ticket_status" type="xs:string" />
		<xs:element minOccurs="0" maxOccurs="1" name="snow_sys_id" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>