Resources/schemas/Xsd/SAP_Sales_Cloud_and_SAP_Service_Cloud_Version_2_Integration_for_Master_Data_with_SAP_S-4HANA_Cloud_Public_Edition - conditionTable.xsd

<?xml version="1.0" encoding="UTF-8"?><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
   <xsd:element name="AccessSequence">
   <xsd:complexType>
      <xsd:sequence>
         <xsd:element maxOccurs="unbounded" name="item">
            <xsd:complexType>
               <xsd:sequence>
                  <xsd:element name="conditionTable" type="xsd:string"/>
               </xsd:sequence>
            </xsd:complexType>
         </xsd:element>
      </xsd:sequence>
   </xsd:complexType>
    </xsd:element>
</xsd:schema>