Resources/schemas/Xsd/SAP_Logistics_Business_Network_Integration_with_SAP_ERP_-_Tracked_Processes_and_Event_Messages - EHPOST01_OutboundSchema.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xsd:schema attributeFormDefault="unqualified"
	elementFormDefault="qualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<xsd:element name="processes">
	<xsd:complexType>
	<xsd:sequence>
	<xsd:element name="applicationObjects" maxOccurs="unbounded">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="applicationSystem" minOccurs="0">
					<xsd:simpleType>
						<xsd:restriction base="xsd:string">
							<xsd:maxLength value="10" />
						</xsd:restriction>
					</xsd:simpleType>
				</xsd:element>
				<xsd:element name="applicationObjectType" minOccurs="0">
					<xsd:simpleType>
						<xsd:restriction base="xsd:string">
							<xsd:maxLength value="20" />
						</xsd:restriction>
					</xsd:simpleType>
				</xsd:element>
				<xsd:element name="applicationObjectId" minOccurs="0">
					<xsd:simpleType>
						<xsd:restriction base="xsd:string">
							<xsd:maxLength value="50" />
						</xsd:restriction>
					</xsd:simpleType>
				</xsd:element>
				<xsd:element name="controlParameters" minOccurs="0" maxOccurs="unbounded">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="parameterName" minOccurs="0">
								<xsd:simpleType>
									<xsd:restriction base="xsd:string">
										<xsd:maxLength value="32" />
									</xsd:restriction>
								</xsd:simpleType>
							</xsd:element>
							<xsd:element name="parameterIndex" minOccurs="0">
								<xsd:simpleType>
									<xsd:restriction base="xsd:string">
										<xsd:maxLength value="32" />
									</xsd:restriction>
								</xsd:simpleType>
							</xsd:element>							
							<xsd:element name="parameterValue" minOccurs="0">
								<xsd:simpleType>
									<xsd:restriction base="xsd:string">
										<xsd:maxLength value="200" />
									</xsd:restriction>
								</xsd:simpleType>
							</xsd:element>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="infoParameters" minOccurs="0" maxOccurs="unbounded">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="parameterName" minOccurs="0">
								<xsd:simpleType>
									<xsd:restriction base="xsd:string">
										<xsd:maxLength value="32" />
									</xsd:restriction>
								</xsd:simpleType>
							</xsd:element>
							<xsd:element name="parameterValue" minOccurs="0">
								<xsd:simpleType>
									<xsd:restriction base="xsd:string">
										<xsd:maxLength value="200" />
									</xsd:restriction>
								</xsd:simpleType>
							</xsd:element>
							<xsd:element name="parameterIndex" minOccurs="0">
								<xsd:simpleType>
									<xsd:restriction base="xsd:string">
										<xsd:maxLength value="10" />
									</xsd:restriction>
								</xsd:simpleType>
							</xsd:element>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="trackingIds" minOccurs="1" maxOccurs="unbounded">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="trackingIdType" minOccurs="0">
								<xsd:simpleType>
									<xsd:restriction base="xsd:string">
										<xsd:maxLength value="20" />
									</xsd:restriction>
								</xsd:simpleType>
							</xsd:element>
							<xsd:element name="trackingId" minOccurs="0">
								<xsd:simpleType>
									<xsd:restriction base="xsd:string">
										<xsd:maxLength value="50" />
									</xsd:restriction>
								</xsd:simpleType>
							</xsd:element>
							<xsd:element name="primaryId" minOccurs="0">
								<xsd:simpleType>
									<xsd:restriction base="xsd:string">
										<xsd:maxLength value="1" />
									</xsd:restriction>
								</xsd:simpleType>
							</xsd:element>
							<xsd:element name="validFrom" minOccurs="0">
								<xsd:simpleType>
									<xsd:restriction base="xsd:string">
										<xsd:maxLength value="15" />
									</xsd:restriction>
								</xsd:simpleType>
							</xsd:element>	
							<xsd:element name="validTo" minOccurs="0">
								<xsd:simpleType>
									<xsd:restriction base="xsd:string">
										<xsd:maxLength value="15" />
									</xsd:restriction>
								</xsd:simpleType>
							</xsd:element>													
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="plannedEvents" minOccurs="0" maxOccurs="unbounded">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="eventCode" minOccurs="0">
								<xsd:simpleType>
									<xsd:restriction base="xsd:string">
										<xsd:maxLength value="18" />
									</xsd:restriction>
								</xsd:simpleType>
							</xsd:element>
							<xsd:element name="plannedLocationType" minOccurs="0">
								<xsd:simpleType>
									<xsd:restriction base="xsd:string">
										<xsd:maxLength value="20" />
									</xsd:restriction>
								</xsd:simpleType>
							</xsd:element>
							<xsd:element name="locationId" minOccurs="0">
								<xsd:simpleType>
									<xsd:restriction base="xsd:string">
										<xsd:maxLength value="50" />
									</xsd:restriction>
								</xsd:simpleType>
							</xsd:element>
							<xsd:element name="plannedTechnicalTimestamp" minOccurs="0">
								<xsd:simpleType>
									<xsd:restriction base="xsd:string">
										<xsd:maxLength value="15" />
									</xsd:restriction>
								</xsd:simpleType>
							</xsd:element>
							<xsd:element name="plannedTechnicalTimeZone" minOccurs="0">
								<xsd:simpleType>
									<xsd:restriction base="xsd:string">
										<xsd:maxLength value="6" />
									</xsd:restriction>
								</xsd:simpleType>
							</xsd:element>
							<xsd:element name="plannedBusinessTimestamp" minOccurs="0">
								<xsd:simpleType>
									<xsd:restriction base="xsd:string">
										<xsd:maxLength value="15" />
									</xsd:restriction>
								</xsd:simpleType>
							</xsd:element>
							<xsd:element name="plannedBusinessTimeZone" minOccurs="0">
								<xsd:simpleType>
									<xsd:restriction base="xsd:string">
										<xsd:maxLength value="6" />
									</xsd:restriction>
								</xsd:simpleType>
							</xsd:element>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	</xsd:sequence>
	</xsd:complexType>
	</xsd:element>
</xsd:schema>