Resources/schemas/Xsd/SAP_Subscription_Billing_Integration_with_SAP_S-4HANA_-_Subscription_Management_with_Sales_Billing_(57Z) - yaas_customer.xsd

<xs:schema attributeFormDefault="unqualified"
	elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="CustomerList">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="Customers" minOccurs="1" maxOccurs="unbounded">
					<xs:complexType>
						<xs:sequence>
							<xs:element type="xs:string" minOccurs="0" maxOccurs="1" name="customerNumber" />
							<xs:element name="metadata" minOccurs="0" maxOccurs="1">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="mixins" minOccurs="0" maxOccurs="1">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="externalID" type="xs:string" minOccurs="0" maxOccurs="1"/>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
										<xs:element type="xs:byte" name="version" minOccurs="0" maxOccurs="1"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							
							<xs:element type="xs:string" minOccurs="0" maxOccurs="1" name="title" />
							<xs:element type="xs:string" minOccurs="0" maxOccurs="1" name="firstName" />
							<xs:element type="xs:string" minOccurs="0" maxOccurs="1" name="middleName" />
							<xs:element type="xs:string" minOccurs="0" maxOccurs="1" name="lastName" />
							<xs:element type="xs:string" minOccurs="0" maxOccurs="1" name="active" />
							<xs:element type="xs:string" minOccurs="0" maxOccurs="1" name="contactEmail" />
							<xs:element type="xs:string" minOccurs="0" maxOccurs="1" name="contactPhone" />
							<xs:element type="xs:string" minOccurs="0" maxOccurs="1" name="company" />
							<xs:element type="xs:string" minOccurs="0" maxOccurs="1" name="preferredLanguage" />
							<xs:element type="xs:string" minOccurs="0" maxOccurs="1" name="preferredCurrency" />
							<xs:element type="xs:string" minOccurs="0" maxOccurs="1" name="preferredSite" />
							<xs:element name="mixins" minOccurs="0" maxOccurs="1">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="externalID" minOccurs="0" maxOccurs="1">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="externalId" type="xs:string" minOccurs="0" maxOccurs="1"/>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="addresses" minOccurs="0" maxOccurs="unbounded">
								<xs:complexType>
									<xs:sequence>
										<xs:element type="xs:string"
											minOccurs="0" maxOccurs="1" name="id" />
										<xs:element type="xs:string"
											minOccurs="0" maxOccurs="1" name="contactName" />
										<xs:element type="xs:string"
											minOccurs="0" maxOccurs="1" name="street" />
										<xs:element type="xs:byte"
											name="streetNumber" minOccurs="0" maxOccurs="1" />
										<xs:element type="xs:string"
											minOccurs="0" maxOccurs="1" name="city" />
										<xs:element name="state"
											type="xs:string" minOccurs="0" maxOccurs="1">
										</xs:element>
										<xs:element type="xs:string"
											minOccurs="0" maxOccurs="1" name="country" />
										<xs:element type="xs:string"
											minOccurs="0" maxOccurs="1" name="zipCode" />
										<xs:element type="xs:string"
											minOccurs="0" maxOccurs="1" name="isDefault" />
										<xs:element type="xs:string"
											name="tags" maxOccurs="unbounded" minOccurs="0" />
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="defaultAddress" minOccurs="0" maxOccurs="1">
								<xs:complexType>
									<xs:sequence>
										<xs:element type="xs:string"
											minOccurs="0" maxOccurs="1" name="id" />
										<xs:element type="xs:string"
											minOccurs="0" maxOccurs="1" name="contactName" />
										<xs:element type="xs:string"
											minOccurs="0" maxOccurs="1" name="street" />
										<xs:element type="xs:byte"
											name="streetNumber" minOccurs="0" maxOccurs="1" />
										<xs:element type="xs:string"
											minOccurs="0" maxOccurs="1" name="city" />
										<xs:element name="state"
											type="xs:string" minOccurs="0" maxOccurs="1">
										</xs:element>
										<xs:element type="xs:string"
											minOccurs="0" maxOccurs="1" name="country" />
										<xs:element type="xs:string"
											minOccurs="0" maxOccurs="1" name="zipCode" />
										<xs:element type="xs:string"
											minOccurs="0" maxOccurs="1" name="isDefault" />
										<xs:element type="xs:string"
											name="tags" maxOccurs="unbounded" minOccurs="0" />
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>