Resources/schemas/Xsd/SAP_Business_One_Master_Data_Transformation_to_SAP_S-4HANA_Cloud_Public_Edition - output (3).xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
<xs:element name = "xs:schema">
<xs:complexType>
<xs:sequence>
<xs:element name = "xs:element">
<xs:complexType>
<xs:sequence>
<xs:element name = "xs:complexType">
<xs:complexType>
<xs:sequence>
<xs:element name = "xs:sequence">
<xs:complexType>
<xs:sequence>
<xs:element name = "xs:element">
<xs:complexType>
<xs:sequence>
<xs:element name = "xs:complexType">
<xs:complexType>
<xs:sequence>
<xs:element name = "xs:sequence">
<xs:complexType>
<xs:sequence>
 </xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name = "xs:sequence">
<xs:complexType>
<xs:sequence>
 </xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name = "xs:sequence">
<xs:complexType>
<xs:sequence>
 </xs:sequence>
</xs:complexType>
</xs:element>
 </xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name = "xs:complexType">
<xs:complexType>
<xs:sequence>
<xs:element name = "xs:sequence">
<xs:complexType>
<xs:sequence>
 </xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name = "xs:sequence">
<xs:complexType>
<xs:sequence>
 </xs:sequence>
</xs:complexType>
</xs:element>
 </xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name = "xs:complexType">
<xs:complexType>
<xs:sequence>
<xs:element name = "xs:sequence">
<xs:complexType>
<xs:sequence>
 </xs:sequence>
</xs:complexType>
</xs:element>
 </xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name = "xs:complexType">
<xs:complexType>
<xs:sequence>
<xs:element name = "xs:sequence">
<xs:complexType>
<xs:sequence>
 </xs:sequence>
</xs:complexType>
</xs:element>
 </xs:sequence>
</xs:complexType>
</xs:element>
 </xs:sequence>
<xs:attribute type="xs:string" name="name" use="optional"/>
</xs:complexType>
</xs:element>
 </xs:sequence>
</xs:complexType>
</xs:element>
 </xs:sequence>
</xs:complexType>
</xs:element>
 </xs:sequence>
<xs:attribute type="xs:string" name="name"/>
</xs:complexType>
</xs:element>
 </xs:sequence>
<xs:attribute type = "xs:string" name = "xmlns:xs"/>
</xs:complexType>
</xs:element>
</xs:schema>