Resources/schemas/Xsd/SAP_S-4HANA_Price_Condition_Integration_with_Pricefx - A_PurgPrcgConditionRecordEntityPOST.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="batchParts">
        <xs:complexType>
            <xs:sequence>
                <xs:element nillable="false" minOccurs="1" maxOccurs="unbounded" name="batchChangeSet">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element nillable="false" minOccurs="1" maxOccurs="unbounded" name="batchChangeSetPart">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element type="xs:string" nillable="false" minOccurs="1" maxOccurs="1" name="method" xmlns=""/>
                                        <xs:element type="xs:string" nillable="true" minOccurs="0" maxOccurs="1" name="uri" xmlns=""/>
                                        <xs:element nillable="true" minOccurs="0" maxOccurs="1" name="headers">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element nillable="true" minOccurs="0" maxOccurs="unbounded" name="header">
                                                        <xs:complexType>
                                                            <xs:sequence>
                                                                <xs:element type="xs:string" nillable="false" minOccurs="1" maxOccurs="1" name="headerName" xmlns=""/>
                                                                <xs:element type="xs:string" nillable="false" minOccurs="1" maxOccurs="1" name="headerValue" xmlns=""/>
                                                            </xs:sequence>
                                                        </xs:complexType>
                                                    </xs:element>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element nillable="false" minOccurs="1" maxOccurs="1" name="A_PurgPrcgConditionRecord">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element minOccurs="1" maxOccurs="unbounded" name="A_PurgPrcgConditionRecordType">
                                                        <xs:complexType>
                                                            <xs:sequence>
                                                                <xs:element nillable="true" minOccurs="0" maxOccurs="1" name="ConditionTable">
                                                                    <xs:simpleType>
                                                                        <xs:restriction base="xs:string" xmlns="">
                                                                            <xs:maxLength value="3"/>
                                                                        </xs:restriction>
                                                                    </xs:simpleType>
                                                                </xs:element>
                                                                <xs:element nillable="true" minOccurs="0" maxOccurs="1" name="ConditionType">
                                                                    <xs:simpleType>
                                                                        <xs:restriction base="xs:string" xmlns="">
                                                                            <xs:maxLength value="4"/>
                                                                        </xs:restriction>
                                                                    </xs:simpleType>
                                                                </xs:element>
                                                                <xs:element nillable="true" minOccurs="0" maxOccurs="1" name="ConditionApplication">
                                                                    <xs:simpleType>
                                                                        <xs:restriction base="xs:string" xmlns="">
                                                                            <xs:maxLength value="2"/>
                                                                        </xs:restriction>
                                                                    </xs:simpleType>
                                                                </xs:element>
                                                                <xs:element type="xs:decimal" nillable="true" minOccurs="0" maxOccurs="1" name="ConditionQuantity" xmlns=""/>
                                                                <xs:element nillable="true" minOccurs="0" maxOccurs="1" name="ConditionQuantityUnit">
                                                                    <xs:simpleType>
                                                                        <xs:restriction base="xs:string" xmlns="">
                                                                            <xs:maxLength value="3"/>
                                                                        </xs:restriction>
                                                                    </xs:simpleType>
                                                                </xs:element>
                                                                <xs:element nillable="true" minOccurs="0" maxOccurs="1" name="ConditionCalculationType">
                                                                    <xs:simpleType>
                                                                        <xs:restriction base="xs:string" xmlns="">
                                                                            <xs:maxLength value="1"/>
                                                                        </xs:restriction>
                                                                    </xs:simpleType>
                                                                </xs:element>
                                                                <xs:element type="xs:decimal" nillable="true" minOccurs="0" maxOccurs="1" name="ConditionRateValue" xmlns=""/>
                                                                <xs:element nillable="true" minOccurs="0" maxOccurs="1" name="ConditionRateValueUnit">
                                                                    <xs:simpleType>
                                                                        <xs:restriction base="xs:string" xmlns="">
                                                                            <xs:maxLength value="5"/>
                                                                        </xs:restriction>
                                                                    </xs:simpleType>
                                                                </xs:element>
                                                                <xs:element nillable="true" minOccurs="0" maxOccurs="1" name="PricingScaleType">
                                                                    <xs:simpleType>
                                                                        <xs:restriction base="xs:string" xmlns="">
                                                                            <xs:maxLength value="1"/>
                                                                        </xs:restriction>
                                                                    </xs:simpleType>
                                                                </xs:element>
                                                                <xs:element nillable="true" minOccurs="0" maxOccurs="1" name="PricingScaleBasis">
                                                                    <xs:simpleType>
                                                                        <xs:restriction base="xs:string" xmlns="">
                                                                            <xs:maxLength value="1"/>
                                                                        </xs:restriction>
                                                                    </xs:simpleType>
                                                                </xs:element>
                                                                <xs:element nillable="true" minOccurs="0" maxOccurs="unbounded" name="to_PurgPrcgCndnRecdValidity">
                                                                    <xs:complexType>
                                                                        <xs:sequence>
                                                                            <xs:element minOccurs="0" maxOccurs="unbounded" name="A_PurgPrcgCndnRecdValidityType">
                                                                                <xs:complexType>
                                                                                    <xs:sequence>
                                                                                        <xs:element type="xs:dateTime" nillable="false" maxOccurs="1" name="ConditionValidityEndDate" xmlns=""/>
                                                                                        <xs:element nillable="false" maxOccurs="1" name="ConditionRecord">
                                                                                            <xs:simpleType>
                                                                                                <xs:restriction base="xs:string" xmlns="">
                                                                                                    <xs:maxLength value="10"/>
                                                                                                </xs:restriction>
                                                                                            </xs:simpleType>
                                                                                        </xs:element>
                                                                                        <xs:element type="xs:dateTime" nillable="true" minOccurs="0" maxOccurs="1" name="ConditionValidityStartDate" xmlns=""/>
                                                                                        <xs:element nillable="true" minOccurs="0" maxOccurs="1" name="ConditionType">
                                                                                            <xs:simpleType>
                                                                                                <xs:restriction base="xs:string" xmlns="">
                                                                                                    <xs:maxLength value="4"/>
                                                                                                </xs:restriction>
                                                                                            </xs:simpleType>
                                                                                        </xs:element>
                                                                                        <xs:element nillable="true" minOccurs="0" maxOccurs="1" name="Plant">
                                                                                            <xs:simpleType>
                                                                                                <xs:restriction base="xs:string" xmlns="">
                                                                                                    <xs:maxLength value="4"/>
                                                                                                </xs:restriction>
                                                                                            </xs:simpleType>
                                                                                        </xs:element>
                                                                                        <xs:element nillable="true" minOccurs="0" maxOccurs="1" name="PurchasingOrganization">
                                                                                            <xs:simpleType>
                                                                                                <xs:restriction base="xs:string" xmlns="">
                                                                                                    <xs:maxLength value="4"/>
                                                                                                </xs:restriction>
                                                                                            </xs:simpleType>
                                                                                        </xs:element>
                                                                                        <xs:element nillable="true" minOccurs="0" maxOccurs="1" name="Supplier">
                                                                                            <xs:simpleType>
                                                                                                <xs:restriction base="xs:string" xmlns="">
                                                                                                    <xs:maxLength value="10"/>
                                                                                                </xs:restriction>
                                                                                            </xs:simpleType>
                                                                                        </xs:element>
                                                                                        <xs:element nillable="true" minOccurs="0" maxOccurs="1" name="PurchasingInfoRecordCategory">
                                                                                            <xs:simpleType>
                                                                                                <xs:restriction base="xs:string" xmlns="">
                                                                                                    <xs:maxLength value="1"/>
                                                                                                </xs:restriction>
                                                                                            </xs:simpleType>
                                                                                        </xs:element>
                                                                                        <xs:element nillable="true" minOccurs="0" maxOccurs="1" name="Material">
                                                                                            <xs:simpleType>
                                                                                                <xs:restriction base="xs:string" xmlns="">
                                                                                                    <xs:maxLength value="40"/>
                                                                                                </xs:restriction>
                                                                                            </xs:simpleType>
                                                                                        </xs:element>
                                                                                    </xs:sequence>
                                                                                </xs:complexType>
                                                                            </xs:element>
                                                                        </xs:sequence>
                                                                    </xs:complexType>
                                                                </xs:element>
                                                                <xs:element nillable="true" minOccurs="0" maxOccurs="unbounded" name="to_PurgPricingCndnRecdScale">
                                                                    <xs:complexType>
                                                                        <xs:sequence>
                                                                            <xs:element minOccurs="0" maxOccurs="unbounded" name="A_PurgPrcgCndnRecordScaleType">
                                                                                <xs:complexType>
                                                                                    <xs:sequence>
                                                                                        <xs:element nillable="false" maxOccurs="1" name="ConditionScaleLine">
                                                                                            <xs:simpleType>
                                                                                                <xs:restriction base="xs:string" xmlns="">
                                                                                                    <xs:maxLength value="4"/>
                                                                                                </xs:restriction>
                                                                                            </xs:simpleType>
                                                                                        </xs:element>
                                                                                        <xs:element nillable="false" maxOccurs="1" name="ConditionRecord">
                                                                                            <xs:simpleType>
                                                                                                <xs:restriction base="xs:string" xmlns="">
                                                                                                    <xs:maxLength value="10"/>
                                                                                                </xs:restriction>
                                                                                            </xs:simpleType>
                                                                                        </xs:element>
                                                                                        <xs:element nillable="false" maxOccurs="1" name="ConditionSequentialNumber">
                                                                                            <xs:simpleType>
                                                                                                <xs:restriction base="xs:string" xmlns="">
                                                                                                    <xs:maxLength value="2"/>
                                                                                                </xs:restriction>
                                                                                            </xs:simpleType>
                                                                                        </xs:element>
                                                                                        <xs:element type="xs:decimal" nillable="true" minOccurs="0" maxOccurs="1" name="ConditionRateValue" xmlns=""/>
                                                                                        <xs:element nillable="true" minOccurs="0" maxOccurs="1" name="ConditionRateValueUnit">
                                                                                            <xs:simpleType>
                                                                                                <xs:restriction base="xs:string" xmlns="">
                                                                                                    <xs:maxLength value="5"/>
                                                                                                </xs:restriction>
                                                                                            </xs:simpleType>
                                                                                        </xs:element>
                                                                                        <xs:element type="xs:decimal" nillable="true" minOccurs="0" maxOccurs="1" name="ConditionScaleAmount" xmlns=""/>
                                                                                        <xs:element type="xs:decimal" nillable="true" minOccurs="0" maxOccurs="1" name="ConditionScaleQuantity" xmlns=""/>
                                                                                        <xs:element nillable="true" minOccurs="0" maxOccurs="1" name="ConditionScaleQuantityUnit">
                                                                                            <xs:simpleType>
                                                                                                <xs:restriction base="xs:string" xmlns="">
                                                                                                    <xs:maxLength value="3"/>
                                                                                                </xs:restriction>
                                                                                            </xs:simpleType>
                                                                                        </xs:element>
                                                                                        <xs:element nillable="true" minOccurs="0" maxOccurs="1" name="ConditionScaleAmountCurrency">
                                                                                            <xs:simpleType>
                                                                                                <xs:restriction base="xs:string" xmlns="">
                                                                                                    <xs:maxLength value="5"/>
                                                                                                </xs:restriction>
                                                                                            </xs:simpleType>
                                                                                        </xs:element>
                                                                                    </xs:sequence>
                                                                                </xs:complexType>
                                                                            </xs:element>
                                                                        </xs:sequence>
                                                                    </xs:complexType>
                                                                </xs:element>
                                                                <xs:element nillable="false" maxOccurs="1" name="ConditionRecord">
                                                                    <xs:simpleType>
                                                                        <xs:restriction base="xs:string" xmlns="">
                                                                            <xs:maxLength value="10"/>
                                                                        </xs:restriction>
                                                                    </xs:simpleType>
                                                                </xs:element>
                                                                <xs:element minOccurs="0" maxOccurs="1" name="link">
                                                                    <xs:complexType>
                                                                        <xs:sequence>
                                                                            <xs:element nillable="true" minOccurs="0" maxOccurs="unbounded" name="to_PurgPrcgCndnRecdValidity">
                                                                                <xs:complexType>
                                                                                    <xs:sequence>
                                                                                        <xs:element minOccurs="0" maxOccurs="unbounded" name="A_PurgPrcgCndnRecdValidityType">
                                                                                            <xs:complexType>
                                                                                                <xs:sequence>
                                                                                                    <xs:element type="xs:string" minOccurs="1" maxOccurs="1" name="ConditionRecord" xmlns=""/>
                                                                                                    <xs:element type="xs:dateTime" minOccurs="1" maxOccurs="1" name="ConditionValidityEndDate" xmlns=""/>
                                                                                                </xs:sequence>
                                                                                            </xs:complexType>
                                                                                        </xs:element>
                                                                                    </xs:sequence>
                                                                                </xs:complexType>
                                                                            </xs:element>
                                                                            <xs:element nillable="true" minOccurs="0" maxOccurs="unbounded" name="to_PurgPricingCndnRecdScale">
                                                                                <xs:complexType>
                                                                                    <xs:sequence>
                                                                                        <xs:element minOccurs="0" maxOccurs="unbounded" name="A_PurgPrcgCndnRecordScaleType">
                                                                                            <xs:complexType>
                                                                                                <xs:sequence>
                                                                                                    <xs:element type="xs:string" minOccurs="1" maxOccurs="1" name="ConditionRecord" xmlns=""/>
                                                                                                    <xs:element type="xs:string" minOccurs="1" maxOccurs="1" name="ConditionSequentialNumber" xmlns=""/>
                                                                                                    <xs:element type="xs:string" minOccurs="1" maxOccurs="1" name="ConditionScaleLine" xmlns=""/>
                                                                                                </xs:sequence>
                                                                                            </xs:complexType>
                                                                                        </xs:element>
                                                                                    </xs:sequence>
                                                                                </xs:complexType>
                                                                            </xs:element>
                                                                        </xs:sequence>
                                                                    </xs:complexType>
                                                                </xs:element>
                                                            </xs:sequence>
                                                        </xs:complexType>
                                                    </xs:element>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>
