Resources/schemas/Xsd/SAP_SuccessFactors_Territory_and_Quota_Integration_with_SAP_SuccessFactors_Incentive_Management - tq_eventtype.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="root">
		<xs:complexType>
			<xs:sequence>
				<xs:element maxOccurs="unbounded" name="element">
					<xs:complexType>
						<xs:sequence>
							<xs:element type="xs:string" name="beanName"/>
							<xs:element name="bean">
								<xs:complexType>
									<xs:sequence>
										<xs:element type="xs:long" name="dataTypeSeq"/>
										<xs:element type="xs:string" name="eventTypeId"/>
										<xs:element type="xs:string" name="description"/>
										<xs:element type="xs:dateTime" name="createDate"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>