Resources/schemas/Xsd/SAP_Business_ByDesign_Transactional_Data_Transformation_to_SAP_S-4HANA_Cloud_Public_Edition - ByD_XSD.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Sales_Order">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="General" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="SALES_ORDER_ID"/>
              <xs:element type="xs:string" name="DESCRIPTION"/>
              <xs:element type="xs:string" name="EXTERNAL_REFERENCE"/>
              <xs:element type="xs:string" name="POSTING_DATE"/>
              <xs:element type="xs:string" name="REQUESTED_DATE"/>
              <xs:element type="xs:string" name="CURRENCY"/>
              <xs:element type="xs:string" name="SALES_ORGANIZATION"/>
              <xs:element type="xs:string" name="DISTRIBUTION_CHANNEL"/>
              <xs:element type="xs:string" name="CASH_DISCOUNT_TERMS"/>
              <xs:element type="xs:string" name="INTERNAL_COMMENT"/>
              <xs:element type="xs:string" name="CUSTOMER_INFORMATION"/>
              <xs:element type="xs:string" name="DELIVERY_PRIORITY_CODE"/>
              <xs:element type="xs:string" name="CLASSIFICATION_CODE"/>
              <xs:element type="xs:string" name="TRANSFER_LOCATION_NAME"/>
              <xs:element type="xs:string" name="DELIVERY_BLOCK"/>
              <xs:element type="xs:string" name="INVOICE_BLOCK"/>
              <xs:element type="xs:string" name="LANGUAGE"/>
              <xs:element type="xs:string" name="BUYER_ID"/>
              <xs:element type="xs:string" name="BUYER_REGION_STATE"/>
              <xs:element type="xs:string" name="BUYER_COUNTRY"/>
              <xs:element type="xs:string" name="PRODUCT_RECEPIENT_ID"/>
              <xs:element type="xs:string" name="BILL_TO_ID"/>
              <xs:element type="xs:string" name="PAYER_ID"/>
              <xs:element type="xs:string" name="EMPLOYEE_RESPONSIBLE_ID"/>
              <xs:element type="xs:string" name="SERVICE_PERFORMER_ID"/>
              <xs:element type="xs:string" name="SERVICE_EXECUTION_ID"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="GeneralAttachments" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="SALES_ORDER_ID"/>
              <xs:element type="xs:string" name="URL_LINK"/>
              <xs:element type="xs:string" name="DOCUMENT_TITLE"/>
              <xs:element type="xs:string" name="DOCUMENT_TYPE"/>
              <xs:element type="xs:string" name="COMMENT"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="Items" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="SALES_ORDER_ID"/>
              <xs:element type="xs:string" name="LINE"/>
              <xs:element type="xs:string" name="PRODUCT_ID"/>
              <xs:element type="xs:string" name="PRODUCT_TYPE"/>
              <xs:element type="xs:string" name="PROD_SPEC_ID"/>
              <xs:element type="xs:string" name="QUANTITY"/>
              <xs:element type="xs:string" name="UNIT_OF_MEASURE"/>
              <xs:element type="xs:string" name="NET_VALUE"/>
              <xs:element type="xs:string" name="DESCRIPTION"/>
              <xs:element type="xs:string" name="REQUESTED_DATE"/>
              <xs:element type="xs:string" name="REQUESTED_TIME_ZONE"/>
              <xs:element type="xs:string" name="DELIVERY_PRIORITY_CODE"/>
              <xs:element type="xs:string" name="SHIP_TO"/>
              <xs:element type="xs:string" name="SERV_ITEM_TYPE"/>
              <xs:element type="xs:string" name="SERVICE_PERFORMER_ID"/>
              <xs:element type="xs:string" name="PROJECT_ID"/>
              <xs:element type="xs:string" name="PROJECT_ID_AC"/>
              <xs:element type="xs:string" name="INTERNAL_COMMENT"/>
              <xs:element type="xs:string" name="CUSTOMER_INFORMATION"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="ItemsAttachments" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="SALES_ORDER_ID"/>
              <xs:element type="xs:string" name="LINE"/>
              <xs:element type="xs:string" name="URL_LINK"/>
              <xs:element type="xs:string" name="DOCUMENT_TITLE"/>
              <xs:element type="xs:string" name="DOCUMENT_TYPE"/>
              <xs:element type="xs:string" name="COMMENT"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="ToBeScheduledItem" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="SALES_ORDER_ID"/>
              <xs:element type="xs:string" name="ITEM_ID"/>
              <xs:element type="xs:string" name="RECURRENCE_ID"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="ItemsIndividualDates" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="SALES_ORDER_ID"/>
              <xs:element type="xs:string" name="ITEM_ID"/>
              <xs:element type="xs:string" name="PROPOSED_INVOICE_DATE"/>
              <xs:element type="xs:string" name="PERCENT"/>
              <xs:element type="xs:string" name="AMOUNT"/>
              <xs:element type="xs:string" name="PROJECT_MILESTONE_ID"/>
              <xs:element type="xs:string" name="CURRENCY_CODE"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="RecurrenceDetails" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="SALES_ORDER_ID"/>
              <xs:element type="xs:string" name="COUNTERVALUE"/>
              <xs:element type="xs:string" name="DESCRIPTION"/>
              <xs:element type="xs:string" name="RECURRENCE_PERIOD_START_DATE"/>
              <xs:element type="xs:string" name="VALUE"/>
              <xs:element type="xs:string" name="RECURRENCE_PERIOD_END_DATE"/>
              <xs:element type="xs:string" name="FREQUENCY_CODE"/>
              <xs:element type="xs:string" name="FREQUENCY_VALUE"/>
              <xs:element type="xs:string" name="WEEK_FREQUENCY_VALUE"/>
              <xs:element type="xs:string" name="WEEKDAY"/>
              <xs:element type="xs:string" name="MONTH_FREQUENCY_VALUE"/>
              <xs:element type="xs:string" name="MONTH_DAY_VALUE"/>
              <xs:element type="xs:string" name="RELATIVEORDNIALNUMBERVALUE"/>
              <xs:element type="xs:string" name="YEAR_FREQUENCY_VALUE"/>
              <xs:element type="xs:string" name="MONTH"/>
              <xs:element type="xs:string" name="MONTH_DAY_VALUE_YEAR"/>
              <xs:element type="xs:string" name="RELATIVEORDNIALNUMBERVALUE_YEA"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>