Resources/schemas/Xsd/SAP_Business_One_Accounting_Data_Transformation_to_SAP_S-4HANA_Cloud_Public_Edition - 3 B1_Inventory_XSD.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Inventory">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Inventory" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="Material"/>
              <xs:element type="xs:string" name="Plant"/>
              <xs:element type="xs:string" name="StorageLocation"/>
              <xs:element type="xs:string" name="EntryQuantity"/>
              <xs:element type="xs:string" name="EntryUnitofMeasure"/>
              <xs:element type="xs:string" name="ExternalAmountLC"/>
              <xs:element type="xs:string" name="BatchNumber"/>
              <xs:element type="xs:string" name="ExpirationDate"/>
              <xs:element type="xs:string" name="ManufacturingDate"/>
              <xs:element type="xs:string" name="SerialNumber"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>