Resources/schemas/Xsd/SAP_Returnable_Packaging_Management_Integration_with_File_Based_Master_Data_Load - AddressValidator.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="qualified">
   <xs:element name="address">
      <xs:complexType>
         <xs:sequence>
            <xs:element maxOccurs="unbounded" name="row">
               <xs:complexType>
                  <xs:sequence>
                     <xs:element name="address">
                        <xs:simpleType>
                           <xs:restriction base="xs:string">
                              <xs:maxLength value="10" />
                              <xs:minLength value="1" />
                           </xs:restriction>
                        </xs:simpleType>
                     </xs:element>
                     <xs:element name="street">
                        <xs:simpleType>
                           <xs:restriction base="xs:string">
                              <xs:maxLength value="60" />
                           </xs:restriction>
                        </xs:simpleType>
                     </xs:element>
                     <xs:element name="houseNumber">
                        <xs:simpleType>
                           <xs:restriction base="xs:string">
                              <xs:maxLength value="10" />
                           </xs:restriction>
                        </xs:simpleType>
                     </xs:element>
                     <xs:element name="addressLine1">
                        <xs:simpleType>
                           <xs:restriction base="xs:string">
                              <xs:maxLength value="60" />
                           </xs:restriction>
                        </xs:simpleType>
                     </xs:element>
                     <xs:element name="addressLine2">
                        <xs:simpleType>
                           <xs:restriction base="xs:string">
                              <xs:maxLength value="60" />
                           </xs:restriction>
                        </xs:simpleType>
                     </xs:element>
                     <xs:element name="addressLine3">
                        <xs:simpleType>
                           <xs:restriction base="xs:string">
                              <xs:maxLength value="60" />
                           </xs:restriction>
                        </xs:simpleType>
                     </xs:element>
                     <xs:element name="postalCode">
                        <xs:simpleType>
                           <xs:restriction base="xs:string">
                              <xs:maxLength value="10" />
                           </xs:restriction>
                        </xs:simpleType>
                     </xs:element>
                     <xs:element name="city">
                        <xs:simpleType>
                           <xs:restriction base="xs:string">
                              <xs:maxLength value="40" />
                              <xs:minLength value="1" />
                           </xs:restriction>
                        </xs:simpleType>
                     </xs:element>
                     <xs:element name="countryKey_code">
                        <xs:simpleType>
                           <xs:restriction base="xs:string">
                              <xs:maxLength value="3" />
                              <xs:minLength value="1" />
                           </xs:restriction>
                        </xs:simpleType>
                     </xs:element>
                     <xs:element name="poBox">
                        <xs:simpleType>
                           <xs:restriction base="xs:string">
                              <xs:maxLength value="10" />
                           </xs:restriction>
                        </xs:simpleType>
                     </xs:element>
                     <xs:element name="mobile">
                        <xs:simpleType>
                           <xs:restriction base="xs:string">
                              <xs:maxLength value="30" />
                           </xs:restriction>
                        </xs:simpleType>
                     </xs:element>
                     <xs:element name="telephone">
                        <xs:simpleType>
                           <xs:restriction base="xs:string">
                              <xs:maxLength value="30" />
                           </xs:restriction>
                        </xs:simpleType>
                     </xs:element>
                     <xs:element name="extension">
                        <xs:simpleType>
                           <xs:restriction base="xs:string">
                              <xs:maxLength value="10" />
                           </xs:restriction>
                        </xs:simpleType>
                     </xs:element>
                     <xs:element name="faxNumber">
                        <xs:simpleType>
                           <xs:restriction base="xs:string">
                              <xs:maxLength value="31" />
                           </xs:restriction>
                        </xs:simpleType>
                     </xs:element>
                     <xs:element name="email">
                        <xs:simpleType>
                           <xs:restriction base="xs:string">
                              <xs:maxLength value="241" />
                           </xs:restriction>
                        </xs:simpleType>
                     </xs:element>
                     <xs:element name="contactPerson">
                        <xs:simpleType>
                           <xs:restriction base="xs:string">
                              <xs:maxLength value="20" />
                           </xs:restriction>
                        </xs:simpleType>
                     </xs:element>
                  </xs:sequence>
               </xs:complexType>
            </xs:element>
         </xs:sequence>
      </xs:complexType>
   </xs:element>
</xs:schema>