Resources/schemas/Xsd/SAP_SuccessFactors_Employee_Central_Integration_with_Third-Party_Time_Vendor_-_Kronos - ECKR_KronosEmployeeImport.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:element name="Record">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="Elements" minOccurs="0" maxOccurs="unbounded">
					<xs:complexType>
						<xs:sequence>							
							<xs:element name="Person_Number_1" minOccurs="0">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:minLength value="0" />
										<xs:maxLength value="15" />
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="Employment_Status_2" minOccurs="0">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:minLength value="0" />
										<xs:maxLength value="15" />
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="Status_Effective_Date_3" minOccurs="0">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:pattern value="\d{4}(0[1-9]|1[012])(0[1-9]|[12][0-9]|3[01])" />
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="First_Name_4" minOccurs="0">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:minLength value="0" />
										<xs:maxLength value="30" />
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="Middle_Initial_5" minOccurs="0">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:minLength value="0" />
										<xs:maxLength value="1" />
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="Last_Name_6" minOccurs="0">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:minLength value="0" />
										<xs:maxLength value="30" />
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="Short_Name_7" minOccurs="0">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:minLength value="0" />
										<xs:maxLength value="30" />
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="Hire_Date_8" minOccurs="0">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:pattern value="\d{4}(0[1-9]|1[012])(0[1-9]|[12][0-9]|3[01])" />
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="Phone_NO1_9" minOccurs="0">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:minLength value="0" />
										<xs:maxLength value="35" />
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="Phone_NO2_10" minOccurs="0">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:minLength value="0" />
										<xs:maxLength value="35" />
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="Phone_NO3_11" minOccurs="0">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:minLength value="0" />
										<xs:maxLength value="35" />
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="Email_Address_12" minOccurs="0">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:minLength value="0" />
										<xs:maxLength value="50" />
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							
							

							<xs:element name="Time_Zone_21" minOccurs="0">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:minLength value="0" />
										<xs:maxLength value="5" />
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="Base_Wage_Rate_22" minOccurs="0">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:minLength value="0" />
										<xs:maxLength value="50" />
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="Base_Wage_Rate_Effective_Date_23" minOccurs="0">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:pattern value="\d{4}(0[1-9]|1[012])(0[1-9]|[12][0-9]|3[01])" />
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="Pay_Rule_Name_24" minOccurs="0">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:minLength value="0" />
										<xs:maxLength value="50" />
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="Pay_Rule_Effective_Date_25" minOccurs="0">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:pattern value="\d{4}(0[1-9]|1[012])(0[1-9]|[12][0-9]|3[01])" />
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="Manager_License_26" minOccurs="0">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:minLength value="0" />
										<xs:maxLength value="5" />
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="Reports_To_27" minOccurs="0">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:minLength value="0" />
										<xs:maxLength value="15" />
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="Badge_Number_28" minOccurs="0">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:minLength value="0" />
										<xs:maxLength value="25" />
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="Home_address_city_29" minOccurs="0">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:minLength value="0" />
										<xs:maxLength value="25" />
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="Home_Address_Country_30" minOccurs="0">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:minLength value="0" />
										<xs:maxLength value="25" />
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="Home_Address_Zip_Code_31" minOccurs="0">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:minLength value="0" />
										<xs:maxLength value="25" />
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="Home_Address_State_32" minOccurs="0">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:minLength value="0" />
										<xs:maxLength value="25" />
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="Home_Address_Street_33" minOccurs="0">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:minLength value="0" />
										<xs:maxLength value="100" />
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="Category_of_Address_34" minOccurs="0">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:minLength value="0" />
										<xs:maxLength value="30" />
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="Custom_String_1_35" minOccurs="0">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:minLength value="0" />
										<xs:maxLength value="80" />
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="Custom_String_2_36" minOccurs="0">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:minLength value="0" />
										<xs:maxLength value="80" />
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="Custom_String_3_37" minOccurs="0">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:minLength value="0" />
										<xs:maxLength value="80" />
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="Custom_String_4_38" minOccurs="0">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:minLength value="0" />
										<xs:maxLength value="80" />
									</xs:restriction>
								</xs:simpleType>
							</xs:element>							
							<xs:element name="Custom_String_5_39" minOccurs="0">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:minLength value="0" />
										<xs:maxLength value="80" />
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="Custom_String_6_40" minOccurs="0">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:minLength value="0" />
										<xs:maxLength value="80" />
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="Custom_String_7_41" minOccurs="0">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:minLength value="0" />
										<xs:maxLength value="80" />
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="Custom_String_8_42" minOccurs="0">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:minLength value="0" />
										<xs:maxLength value="80" />
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="Custom_String_9_43" minOccurs="0">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:minLength value="0" />
										<xs:maxLength value="80" />
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="Custom_String_10_44" minOccurs="0">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:minLength value="0" />
										<xs:maxLength value="80" />
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="User_Name_45" minOccurs="0">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:minLength value="0" />
										<xs:maxLength value="80" />
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							
							<xs:element name="Company" minOccurs="0">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:minLength value="0" />
										<xs:maxLength value="80" />
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
					
						<xs:element name="Business_Unit" minOccurs="0">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:minLength value="0" />
										<xs:maxLength value="80" />
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							
						<xs:element name="Division" minOccurs="0">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:minLength value="0" />
										<xs:maxLength value="80" />
									</xs:restriction>
								</xs:simpleType>
							</xs:element>			
							
						<xs:element name="Department" minOccurs="0">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:minLength value="0" />
										<xs:maxLength value="80" />
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							
						<xs:element name="Location" minOccurs="0">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:minLength value="0" />
										<xs:maxLength value="80" />
									</xs:restriction>
								</xs:simpleType>
							</xs:element>	
							
							
						<xs:element name="Cost_Center" minOccurs="0">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:minLength value="0" />
										<xs:maxLength value="80" />
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							
						<xs:element name="Job_Classification" minOccurs="0">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:minLength value="0" />
										<xs:maxLength value="80" />
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							
						<xs:element name="Job_Function" minOccurs="0">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:minLength value="0" />
										<xs:maxLength value="80" />
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							
						<xs:element name="Employee_Class" minOccurs="0">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:minLength value="0" />
										<xs:maxLength value="80" />
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							
							
						<xs:element name="Company_Territory_Code" minOccurs="0">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:minLength value="0" />
										<xs:maxLength value="80" />
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							
						<xs:element name="Employee_Type" minOccurs="0">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:minLength value="0" />
										<xs:maxLength value="80" />
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							
							<xs:element name="Payroll_Area" minOccurs="0">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:minLength value="0" />
										<xs:maxLength value="80" />
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							
						<xs:element name="Position_Title" minOccurs="0">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:minLength value="0" />
										<xs:maxLength value="80" />
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							
							
						<xs:element name="Payscale_Area" minOccurs="0">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:minLength value="0" />
										<xs:maxLength value="80" />
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							
						<xs:element name="Payscale_Type" minOccurs="0">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:minLength value="0" />
										<xs:maxLength value="80" />
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							
							<xs:element name="Payscale_Group" minOccurs="0">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:minLength value="0" />
										<xs:maxLength value="80" />
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							
							<xs:element name="Payscale_Level" minOccurs="0">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:minLength value="0" />
										<xs:maxLength value="80" />
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
								
							
							
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>