Resources/schemas/Xsd/SAP_Commerce_Integration_with_SAP_CPQ_and_SAP_Subscription_Billing - rc_getcustomer_2.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="customer">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="externalObjectReferences" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="externalSystemId"/>
              <xs:element type="xs:long" name="externalId"/>
              <xs:element type="xs:short" name="externalIdTypeCode"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element type="xs:long" name="customerNumber"/>
        <xs:element name="personalInfo">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="firstName"/>
              <xs:element type="xs:string" name="lastName"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element type="xs:string" name="corporateInfo"/>
        <xs:element type="xs:string" name="customerType"/>
        <xs:element type="xs:string" name="createdBy"/>
        <xs:element type="xs:string" name="changedBy"/>
        <xs:element type="xs:dateTime" name="createdAt"/>
        <xs:element type="xs:dateTime" name="changedAt"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>