Resources/schemas/Xsd/SAP_Business_ByDesign_to_SAP_Concur_Integration_Enhancements - CAConcurAllFields.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="Root">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="fIDocuments" minOccurs="0" maxOccurs="unbounded">
					<xs:complexType>
						<xs:sequence>
							<xs:element type="xs:string" name="id" minOccurs="0"/>
							<xs:element type="xs:string" name="docType" minOccurs="0"/>
							<xs:element type="xs:string" name="companyId" minOccurs="0"/>
							<xs:element type="xs:string" name="entityId" minOccurs="0"/>
							<xs:element type="xs:string" name="companyUuid" minOccurs="0"/>
							<xs:element type="xs:string" name="erpSystemId" minOccurs="0"/>
							<xs:element name="document" minOccurs="0" maxOccurs="unbounded">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="employeeData" minOccurs="0"> 
											<xs:complexType>
												<xs:sequence>
													<xs:element type="xs:string" name="employeeFirstName" minOccurs="0"/>
													<xs:element type="xs:string" name="employeeLastName" minOccurs="0"/>
													<xs:element type="xs:string" name="employeeId" minOccurs="0"/>
													<xs:element type="xs:string" name="employeeMI" minOccurs="0"/>
													<xs:element type="xs:string" name="employeeOrgUnit1Code" minOccurs="0"/>
													<xs:element type="xs:string" name="employeeOrgUnit2Code" minOccurs="0"/>
													<xs:element type="xs:string" name="employeeOrgUnit3Code" minOccurs="0"/>
													<xs:element type="xs:string" name="employeeOrgUnit4Code" minOccurs="0"/>
													<xs:element type="xs:string" name="employeeOrgUnit5Code" minOccurs="0"/>
													<xs:element type="xs:string" name="employeeOrgUnit6Code" minOccurs="0"/>
													<xs:element type="xs:string" name="employeeOrgUnit1Value" minOccurs="0"/>
													<xs:element type="xs:string" name="employeeOrgUnit2Value" minOccurs="0"/>
													<xs:element type="xs:string" name="employeeOrgUnit3Value" minOccurs="0"/>
													<xs:element type="xs:string" name="employeeOrgUnit4Value" minOccurs="0"/>
													<xs:element type="xs:string" name="employeeOrgUnit5Value" minOccurs="0"/>
													<xs:element type="xs:string" name="employeeOrgUnit6Value" minOccurs="0"/>
													<xs:element type="xs:string" name="employeeCustom1Code" minOccurs="0"/>
													<xs:element type="xs:string" name="employeeCustom2Code" minOccurs="0"/>
													<xs:element type="xs:string" name="employeeCustom3Code" minOccurs="0"/>
													<xs:element type="xs:string" name="employeeCustom4Code" minOccurs="0"/>
													<xs:element type="xs:string" name="employeeCustom5Code" minOccurs="0"/>
													<xs:element type="xs:string" name="employeeCustom6Code" minOccurs="0"/>
													<xs:element type="xs:string" name="employeeCustom7Code" minOccurs="0"/>
													<xs:element type="xs:string" name="employeeCustom8Code" minOccurs="0"/>
													<xs:element type="xs:string" name="employeeCustom9Code" minOccurs="0"/>
													<xs:element type="xs:string" name="employeeCustom10Code" minOccurs="0"/>
													<xs:element type="xs:string" name="employeeCustom11Code" minOccurs="0"/>
													<xs:element type="xs:string" name="employeeCustom12Code" minOccurs="0"/>
													<xs:element type="xs:string" name="employeeCustom13Code" minOccurs="0"/>
													<xs:element type="xs:string" name="employeeCustom14Code" minOccurs="0"/>
													<xs:element type="xs:string" name="employeeCustom15Code" minOccurs="0"/>
													<xs:element type="xs:string" name="employeeCustom16Code" minOccurs="0"/>
													<xs:element type="xs:string" name="employeeCustom17Code" minOccurs="0"/>
													<xs:element type="xs:string" name="employeeCustom18Code" minOccurs="0"/>
													<xs:element type="xs:string" name="employeeCustom19Code" minOccurs="0"/>
													<xs:element type="xs:string" name="employeeCustom20Code" minOccurs="0"/>
													<xs:element type="xs:string" name="employeeCustom21Code" minOccurs="0"/>
													<xs:element type="xs:string" name="employeeCustom1Value" minOccurs="0"/>
													<xs:element type="xs:string" name="employeeCustom2Value" minOccurs="0"/>
													<xs:element type="xs:string" name="employeeCustom3Value" minOccurs="0"/>
													<xs:element type="xs:string" name="employeeCustom4Value" minOccurs="0"/>
													<xs:element type="xs:string" name="employeeCustom5Value" minOccurs="0"/>
													<xs:element type="xs:string" name="employeeCustom6Value" minOccurs="0"/>
													<xs:element type="xs:string" name="employeeCustom7Value" minOccurs="0"/>
													<xs:element type="xs:string" name="employeeCustom8Value" minOccurs="0"/>
													<xs:element type="xs:string" name="employeeCustom9Value" minOccurs="0"/>
													<xs:element type="xs:string" name="employeeCustom10Value" minOccurs="0"/>
													<xs:element type="xs:string" name="employeeCustom11Value" minOccurs="0"/>
													<xs:element type="xs:string" name="employeeCustom12Value" minOccurs="0"/>
													<xs:element type="xs:string" name="employeeCustom13Value" minOccurs="0"/>
													<xs:element type="xs:string" name="employeeCustom14Value" minOccurs="0"/>
													<xs:element type="xs:string" name="employeeCustom15Value" minOccurs="0"/>
													<xs:element type="xs:string" name="employeeCustom16Value" minOccurs="0"/>
													<xs:element type="xs:string" name="employeeCustom17Value" minOccurs="0"/>
													<xs:element type="xs:string" name="employeeCustom18Value" minOccurs="0"/>
													<xs:element type="xs:string" name="employeeCustom19Value" minOccurs="0"/>
													<xs:element type="xs:string" name="employeeCustom20Value" minOccurs="0"/>
													<xs:element type="xs:string" name="employeeCustom21Value" minOccurs="0"/>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
										<xs:element name="cashAdvanceData" minOccurs="0">
											<xs:complexType>
												<xs:sequence>
													<xs:element type="xs:string" name="isTest" minOccurs="0"/>
													<xs:element type="xs:string" name="purpose" minOccurs="0"/>
													<xs:element type="xs:string" name="clearingAccountCode" minOccurs="0"/>
													<xs:element type="xs:float" name="exchangeRate" minOccurs="0"/>
													<xs:element type="xs:string" name="cardTransactionID" minOccurs="0"/>
													<xs:element type="xs:float" name="cardTransactionAmount" minOccurs="0"/>
													<xs:element type="xs:string" name="cardTransactionCurrency" minOccurs="0"/>
													<xs:element type="xs:float" name="cardTransactionPostedAmount" minOccurs="0"/>
													<xs:element type="xs:string" name="cardTransactionPostedCurrency" minOccurs="0"/>
													<xs:element type="xs:string" name="locationName" minOccurs="0"/>
													<xs:element type="xs:string" name="currencyNumCode" minOccurs="0"/>
													<xs:element type="xs:string" name="expensePayIndicator" minOccurs="0"/>
													<xs:element type="xs:string" name="employeeCurrencyAlphaCode" minOccurs="0"/>
													<xs:element type="xs:dateTime" name="travelEndDate" minOccurs="0"/>
													<xs:element type="xs:string" name="cashAdvanceId" minOccurs="0"/>
													<xs:element type="xs:float" name="requestAmount" minOccurs="0"/>
													<xs:element type="xs:dateTime" name="requestDate" minOccurs="0"/>
													<xs:element type="xs:string" name="currencyAlphaCode" minOccurs="0"/>
													<xs:element type="xs:string" name="countryCode" minOccurs="0"/>
													<xs:element type="xs:string" name="paymentMethod" minOccurs="0"/>
													<xs:element type="xs:dateTime" name="issuedDate" minOccurs="0"/>
													<xs:element type="xs:dateTime" name="travelStartDate" minOccurs="0"/>
													<xs:element type="xs:string" name="countrySubCode" minOccurs="0"/>
													<xs:element type="xs:dateTime" name="requestedDisbursementDate" minOccurs="0"/>
													<xs:element type="xs:string" name="cardAccountID" minOccurs="0"/>
													<xs:element type="xs:string" name="transactionType" minOccurs="0"/>
													<xs:element type="xs:string" name="name" minOccurs="0"/>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
										<xs:element name="journalData" minOccurs="0" maxOccurs="unbounded">
											<xs:complexType>
												<xs:sequence>
													<xs:element type="xs:string" name="debitOrCredit" minOccurs="0"/>
													<xs:element type="xs:string" name="accountCode" minOccurs="0"/>
													<xs:element type="xs:string" name="payee" minOccurs="0"/>
													<xs:element type="xs:float" name="amount" minOccurs="0"/>
													<xs:element type="xs:string" name="payer" minOccurs="0"/>
													<xs:element type="xs:string" name="paymentCode" minOccurs="0"/>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element type="xs:string" name="docStatus" minOccurs="0"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element type="xs:string" name="offset" minOccurs="0"/>
				<xs:element type="xs:string" name="nextPage" minOccurs="0"/>
				<xs:element type="xs:short" name="numberReturned" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>