Resources/schemas/Xsd/SAP_S-4HANA_for_central_procurement_–_Central_Purchasing_Integration_with_Third_Party_System - PR_Extraction.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="PurchaseReqnItemSet">
    <xs:complexType>
      <xs:sequence minOccurs="0">
        <xs:element minOccurs="0" maxOccurs="unbounded" name="PurchaseReqnItem">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="IsOnBehalfCart" />
              <xs:element name="CreationDate" type="xs:dateTime" />
              <xs:element name="PurReqnItmCatalogID" />
              <xs:element name="CreatedByUser" type="xs:string" />
              <xs:element name="PurchaseContractItem" type="xs:unsignedByte" />
              <xs:element name="Customer" />
              <xs:element name="NumberOfSerialNumbers" type="xs:unsignedByte" />
              <xs:element name="PurchaseRequisitionItem" type="xs:unsignedByte" />
              <xs:element name="PurReqnExternalSystemId" />
              <xs:element name="FixedSupplier" />
              <xs:element name="CrossplantConfigurableProduct" />
              <xs:element name="PurchasingOrganization" />
              <xs:element name="PurchaseReqnItemUniqueId" />
              <xs:element name="CommitmentItem" />
              <xs:element name="LastXtrctnDteTme" type="xs:dateTime" />
              <xs:element name="PurchasingInfoRecord" />
              <xs:element name="ItemNetAmount" type="xs:decimal" />
              <xs:element name="PurchasingGroup" type="xs:unsignedByte" />
              <xs:element name="IsDeleted" />
              <xs:element name="ManufacturerMaterial" />
              <xs:element name="MRPController" />
              <xs:element name="MaterialPlannedDeliveryDurn" type="xs:decimal" />
              <xs:element name="ProductType" />
              <xs:element name="BaseUnit" type="xs:string" />
              <xs:element name="BaseSAPUnit" type="xs:string" />
              <xs:element name="PurchasingDocumentCategory" />
              <xs:element name="SupplierIsSubContractor" />
              <xs:element name="SupplyingPlant" />
              <xs:element name="PurReqnItemCurrency" type="xs:string" />
              <xs:element name="ConsumptionPosting" type="xs:string" />
              <xs:element name="PurchaseRequisitionReleaseDate" type="xs:dateTime" />
              <xs:element name="IsPurReqnBlocked" />
              <xs:element name="PurchasingDocumentItem" type="xs:unsignedByte" />
              <xs:element name="MaterialGoodsReceiptDuration" type="xs:unsignedByte" />
              <xs:element name="PurReqnItemIsCmtmtRelevant" type="xs:string" />
              <xs:element name="PurchaseRequisitionPrice" type="xs:decimal" />
              <xs:element name="IsClosed" />
              <xs:element name="HasNote" type="xs:string" />
              <xs:element name="OverallLimitAmount" type="xs:decimal" />
              <xs:element name="JobImportType" />
              <xs:element name="PurReqnCmpltnsCat" />
              <xs:element name="PurchaseRequisitionItemText" type="xs:string" />
              <xs:element name="Supplier" />
              <xs:element name="ServicePackage" type="xs:unsignedByte" />
              <xs:element name="OrderQuantityUnit" />
              <xs:element name="OrderQuantitySAPUnit" />
              <xs:element name="MultipleAcctAssgmtDistribution" type="xs:string" />
              <xs:element name="PartialInvoiceDistribution" type="xs:string" />
              <xs:element name="ManualDeliveryAddressID" />
              <xs:element name="RequisitionerName" />
              <xs:element name="PurchaseRequisitionIsFixed" />
              <xs:element name="LastChangedDate" type="xs:dateTime" />
              <xs:element name="PurchasingDocument" />
              <xs:element name="CommittedQuantity" type="xs:decimal" />
              <xs:element name="OrderedQuantity" type="xs:decimal" />
              <xs:element name="LastChangeDateTime" type="xs:dateTime" />
              <xs:element name="ExtSourceSystem" />
              <xs:element name="SupplierMaterialNumber" />
              <xs:element name="PurchaseContract" />
              <xs:element name="IsEndOfPurposeBlocked" />
              <xs:element name="DeliveryDate" type="xs:dateTime" />
              <xs:element name="RequirementUrgency" type="xs:unsignedByte" />
              <xs:element name="ShelfLifeExpirationDatePeriod" />
              <xs:element name="ManufacturerExternalID" />
              <xs:element name="RequirementPriority" type="xs:unsignedByte" />
              <xs:element name="HasAttachment" />
              <xs:element name="Manufacturer" />
              <xs:element name="PurReqnReleaseStatus" type="xs:unsignedByte" />
              <xs:element name="ProcessingStatus" type="xs:string" />
              <xs:element name="PurchaseRequisition" type="xs:unsignedInt" />
              <xs:element name="IsArchived" />
              <xs:element name="DesiredSupplierName" />
              <xs:element name="ItemDeliveryAddressID" type="xs:unsignedShort" />
              <xs:element name="QuotaArrangementItem" type="xs:unsignedByte" />
              <xs:element name="PurReqnSSPRequestor" />
              <xs:element name="PerformancePeriodStartDate" />
              <xs:element name="MaterialGroup" type="xs:string" />
              <xs:element name="AccountAssignmentCategory" type="xs:string" />
              <xs:element name="PurchasingDocumentItemCategory" type="xs:unsignedByte" />
              <xs:element name="PurReqnOrigin" type="xs:string" />
              <xs:element name="ServiceEntrySheet" />
              <xs:element name="CommittedDeliveryDate" />
              <xs:element name="RequestedQuantity" type="xs:decimal" />
              <xs:element name="MaterialRevisionLevel" />
              <xs:element name="Fund" />
              <xs:element name="RequirementTracking" />
              <xs:element name="POQtyOfPurReqnInPOOnHold" type="xs:decimal" />
              <xs:element name="PurReqnItemBlockingReason" />
              <xs:element name="SourceOfSupplyIsAssigned" />
              <xs:element name="PurchaseOrderPriceType" />
              <xs:element name="InvoiceIsExpected" type="xs:string" />
              <xs:element name="ServicePerformer" />
              <xs:element name="PlndOrderReplnmtElmntType" />
              <xs:element name="Plant" type="xs:unsignedByte" />
              <xs:element name="Language" type="xs:string" />
              <xs:element name="Batch" />
              <xs:element name="PerformancePeriodEndDate" />
              <xs:element name="FundsCenter" />
              <xs:element name="QuotaArrangement" />
              <xs:element name="FixedSupplierName" />
              <xs:element name="StorageLocation" />
              <xs:element name="GoodsReceiptIsNonValuated" />
              <xs:element name="PurReqnPriceQuantity" type="xs:decimal" />
              <xs:element name="IssuingStorageLocation" />
              <xs:element name="PurchasingDocumentOrderDate" />
              <xs:element name="ManufacturerPartNmbr" />
              <xs:element name="Material" />
              <xs:element name="DelivDateCategory" type="xs:unsignedByte" />
              <xs:element name="ExpectedOverallLimitAmount" type="xs:decimal" />
              <xs:element name="ReleaseIsNotCompleted" />
              <xs:element name="ProcuringPlant" />
              <xs:element name="PurchasingDocumentSubtype" />
              <xs:element name="PurReqnSSPAuthor" />
              <xs:element name="PurchaseRequisitionType" type="xs:string" />
              <xs:element name="Subcontractor" />
              <xs:element name="GoodsReceiptIsExpected" type="xs:string" />
              <xs:element name="UserDescription" type="xs:string" />
              <xs:element name="CompanyCode" type="xs:unsignedByte" />
              <xs:element name="to_PurReqnItemAccountAssignmSet">
                <xs:complexType>
                  <xs:sequence minOccurs="0">
                    <xs:element minOccurs="0" maxOccurs="unbounded" name="PurchaseRequisitionItemAccountAssignment">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="CreationDate" />
                          <xs:element name="ProjectNetworkInternalID" type="xs:unsignedByte" />
                          <xs:element name="Fund" />
                          <xs:element name="SettlementReferenceDate" />
                          <xs:element name="PurchaseRequisitionItem" type="xs:unsignedByte" />
                          <xs:element name="ProcessOrder" />
                          <xs:element name="ProjectNetwork" />
                          <xs:element name="FixedAsset" />
                          <xs:element name="MultipleAcctAssgmtDistrPercent" type="xs:decimal" />
                          <xs:element name="ProfitabilitySegment" type="xs:unsignedByte" />
                          <xs:element name="CostCenter" type="xs:string" />
                          <xs:element name="MasterFixedAsset" />
                          <xs:element name="CommitmentItem" />
                          <xs:element name="FundsCenter" />
                          <xs:element name="SalesOrderScheduleLine" type="xs:unsignedByte" />
                          <xs:element name="PurReqnAcctAssgmtNmbr" type="xs:unsignedByte" />
                          <xs:element name="FunctionalArea" />
                          <xs:element name="GoodsRecipientName" />
                          <xs:element name="SalesOrder" />
                          <xs:element name="PurchaseRequisition" type="xs:unsignedInt" />
                          <xs:element name="WBSElementInternalID" type="xs:unsignedByte" />
                          <xs:element name="IsDeleted" />
                          <xs:element name="BusinessArea" />
                          <xs:element name="ProfitCenter" />
                          <xs:element name="EarmarkedFundsDocument" />
                          <xs:element name="ChartOfAccounts" type="xs:string" />
                          <xs:element name="SalesDocumentItem" type="xs:unsignedByte" />
                          <xs:element name="UnloadingPointName" />
                          <xs:element name="Quantity" type="xs:decimal" />
                          <xs:element name="PurReqnNetAmount" type="xs:decimal" />
                          <xs:element name="GLAccount" type="xs:unsignedInt" />
                          <xs:element name="EarmarkedFundsDocumentItem" type="xs:unsignedByte" />
                          <xs:element name="ControllingArea" type="xs:unsignedByte" />
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="to_PurchaseRequisitionItemAddress">
                <xs:complexType>
                  <xs:sequence minOccurs="0">
                    <xs:element minOccurs="0" maxOccurs="unbounded" name="PurchaseRequisitionItemAddress">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="StreetName" />
                          <xs:element name="PurchaseRequisition" type="xs:unsignedInt" />
                          <xs:element name="HouseNumber" />
                          <xs:element name="FormOfAddress" />
                          <xs:element name="ManualDeliveryAddressID" />
                          <xs:element name="PurchaseRequisitionItem" type="xs:unsignedByte" />
                          <xs:element name="PostalCode" />
                          <xs:element name="CityName" />
                          <xs:element name="CorrespondenceLanguage" />
                          <xs:element name="ItemDeliveryAddressID" type="xs:unsignedShort" />
                          <xs:element name="Plant" />
                          <xs:element name="DeliveryAddressID" />
                          <xs:element name="FaxNumber" />
                          <xs:element name="PhoneNumber" />
                          <xs:element name="Region" />
                          <xs:element name="Country" type="xs:string" />
                          <xs:element name="BusinessPartnerName1" />
                          <xs:element name="BusinessPartnerName2" />
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="to_PurchaseReqnExtRefrence">
                <xs:complexType>
                  <xs:sequence minOccurs="0">
                    <xs:element minOccurs="0" maxOccurs="unbounded" name="PurchaseReqnExtReference">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="PurchaseRequisition" type="xs:unsignedInt" />
                          <xs:element name="PurReqnItemExternalReference" type="xs:unsignedByte" />
                          <xs:element name="PurchaseRequisitionItem" type="xs:unsignedByte" />
                          <xs:element name="PurReqnExternalReference" type="xs:unsignedInt" />
                          <xs:element name="PurReqnTypeExternalReference" />
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="to_PurchaseReqnItemNotes">
                <xs:complexType>
                  <xs:sequence minOccurs="0">
                    <xs:element minOccurs="0" maxOccurs="unbounded" name="PurchaseReqnItemNotes">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="PurchaseRequisition" type="xs:unsignedInt" />
                          <xs:element name="PurchaseRequisitionItem" type="xs:unsignedByte" />
                          <xs:element name="TextObjectKey" type="xs:unsignedLong" />
                          <xs:element name="Language" type="xs:string" />
                          <xs:element name="PurgObjApplicationType" type="xs:string" />
                          <xs:element name="LongTextID" type="xs:string" />
                          <xs:element name="to_PurchaseReqnItemTextLine">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element minOccurs="0" maxOccurs="unbounded" name="PurchaseReqnItemTextLine">
                                  <xs:complexType>
                                    <xs:sequence>
                                      <xs:element name="PurchaseRequisition" type="xs:unsignedInt" />
                                      <xs:element name="PurchaseRequisitionItem" type="xs:unsignedByte" />
                                      <xs:element name="TextOutputLine" type="xs:string" />
                                    </xs:sequence>
                                  </xs:complexType>
                                </xs:element>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>