Resources/schemas/Xsd/SAP_S-4HANA_Utilities_Integration_with_SAP_Emarsys_Customer_Engagement - ContractAccount.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">

	<xs:element name="ContractAccountSet">
	
		<xs:complexType>
		
			<xs:sequence>
			
				<xs:element nillable="false" minOccurs="1" maxOccurs="unbounded" name="ContractAccount">
				
					<xs:complexType>
					
						<xs:sequence>
						
							<!-- ContractAccount/ID -->
							
							<xs:element nillable="false" minOccurs="1" maxOccurs="1" name="ContractAccountID">
								<xs:simpleType>
									<xs:restriction base="xs:token" xmlns="">
									    <xs:minLength value="1"/>
										<xs:maxLength value="12"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
  
							<!-- ContractAccount/TimeDependentInformation/BusinessPartner/BusinessPartnerID/InternalID -->						
							
  							<xs:element nillable="false" minOccurs="0" maxOccurs="1" name="BusinessPartnerID">
								<xs:simpleType>
									<xs:restriction base="xs:token" xmlns="">
									    <xs:minLength value="1"/>
										<xs:maxLength value="60"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							
							<!-- ContractAccount/CategoryCode -->
							 
    						<xs:element nillable="false" minOccurs="0" maxOccurs="1" name="ContractAccountCategoryCode">
								<xs:simpleType>
									<xs:restriction base="xs:token" xmlns="">
									</xs:restriction>
								</xs:simpleType>
							 </xs:element>
  
							<!-- ContractAccount/TimeDependentInformation/Name -->

  							<xs:element nillable="false" minOccurs="0" maxOccurs="1" name="ContractAccountName">
								<xs:simpleType>
									<xs:restriction base="xs:string" xmlns="">
									    <xs:minLength value="0"/>
										<xs:maxLength value="40"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>							 
							 
							 
							<!-- ContractAccount/TimeDependentInformation/BusinessPartner/PaymentInformation/CompanyID -->
							 
							 <xs:element nillable="false" minOccurs="0" maxOccurs="1" name="CompanyID">
								<xs:simpleType>
									<xs:restriction base="xs:token" xmlns="">
									    <xs:minLength value="1"/>
										<xs:maxLength value="20"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>	
							 
						 
							<!-- ContractAccount/TimeDependentInformation/BusinessPartner/PaymentCondition -->
							
  							 <xs:element nillable="false" minOccurs="0" maxOccurs="1" name="PaymentCondition">
								<xs:simpleType>
									<xs:restriction base="xs:token" xmlns="">
									    <xs:minLength value="1"/>
										<xs:maxLength value="4"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>	
							
							
							<!-- ContractAccount/TimeDependentInformation/BusinessPartner/DeterminationCode -->
							
  						  <xs:element nillable="false" minOccurs="0" maxOccurs="1" name="CAAccountDeterminationCode">
								<xs:simpleType>
									<xs:restriction base="xs:token" xmlns="">
									    <xs:minLength value="1"/>
										<xs:maxLength value="2"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>								
							
							<!-- ContractAccount/TimeDependentInformation/BusinessPartner/UtilitiesAccountClass -->

							<xs:element nillable="false" minOccurs="0" maxOccurs="1" name="UtilitiesAccountClass">
								<xs:simpleType>
									<xs:restriction base="xs:token" xmlns="">
										<xs:minLength value="1"/>
										<xs:maxLength value="4"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>	
							
							<!-- ContractAccount/TimeDependentInformation/BusinessPartner/Invoicing/CollectiveBillsAlternativeContractAccountID -->							
							
							<xs:element nillable="false" minOccurs="0" maxOccurs="1" name="CollectiveBillsAlternativeContractAccountID">
								<xs:simpleType>
									<xs:restriction base="xs:token" xmlns="">
										<xs:minLength value="1"/>
										<xs:maxLength value="12"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>								
							
							<!-- ContractAccount/TimeDependentInformation/BusinessPartner/CorrespondenceSpecification/TypeGroupCode -->

							<xs:element nillable="false" minOccurs="0" maxOccurs="1" name="CorrespondenceTypeGroupCode">
								<xs:simpleType>
									<xs:restriction base="xs:token" xmlns="">
										<xs:minLength value="1"/>
										<xs:maxLength value="5"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							
							
							<!-- ContractAccount/TimeDependentInformation/BusinessPartner/Invoicing/CorrespondenceSendControlCode -->
							
							<xs:element nillable="false" minOccurs="0" maxOccurs="1" name="CorrespondenceSendControlCode">
								<xs:simpleType>
									<xs:restriction base="xs:token" xmlns="">
										<xs:minLength value="1"/>
										<xs:maxLength value="4"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>							
							
							<!-- ContractAccount/TimeDependentInformation/BusinessPartner/PaymentInformation/IncomingPayments/PaymentMethodCode -->
							
							<xs:element nillable="false" minOccurs="0" maxOccurs="1" name="IncomingPaymentMethodCode">
								<xs:simpleType>
									<xs:restriction base="xs:token" xmlns="">
									</xs:restriction>
								</xs:simpleType>
							</xs:element>								
							
							<!-- ContractAccount/TimeDependentInformation/BusinessPartner/Invoicing/ActvBudgetBillgProcedure -->
							
							<xs:element nillable="false" minOccurs="0" maxOccurs="1" name="BudgetBillingPlanProcedure">
								<xs:simpleType>
									<xs:restriction base="xs:token" xmlns="">
									</xs:restriction>
								</xs:simpleType>
							</xs:element>							
							
							
							<!-- ContractAccount/DeletedIndicator -->
							
							<xs:element nillable="false" minOccurs="0" maxOccurs="1" name="DeletedIndicator">
								<xs:simpleType>
									<xs:restriction base="xs:boolean" xmlns="">
									</xs:restriction>
								</xs:simpleType>
							</xs:element>							
							
							
						</xs:sequence>
						
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>