Resources/schemas/Xsd/SAP_Build_Process_Automation_Integration_with_SAP_ERP_for_Invoice - Get BSIK Output.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="root">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="documentList" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
                    <xs:element type="xs:int" name="accountingDocumentNo"/>
                    <xs:element type="xs:byte" name="companyCode"/>
                    <xs:element type="xs:short" name="fishcalYear"/>
                    <xs:element type="xs:int" name="invoiceDate"/>
                    <xs:element type="xs:int" name="reference"/>
                    <xs:element type="xs:int" name="vendorNumber"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>