Resources/schemas/Xsd/SAP_Business_One_Master_Data_Transformation_to_SAP_S-4HANA_Cloud_Public_Edition - S4_XSD_Supplier.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Supplier">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="GeneralData" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="LIFNR"/>
              <xs:element type="xs:string" name="BU_GROUP"/>
              <xs:element type="xs:string" name="KTOKK"/>
              <xs:element type="xs:string" name="NAME_FIRST"/>
              <xs:element type="xs:string" name="NAME_LAST"/>
              <xs:element type="xs:string" name="NAME3"/>
              <xs:element type="xs:string" name="NAME4"/>
              <xs:element type="xs:string" name="ANRED"/>
              <xs:element type="xs:string" name="TITLE_ACA1"/>
              <xs:element type="xs:string" name="NAME_FIRST_P"/>
              <xs:element type="xs:string" name="NAME_LAST_P"/>
              <xs:element type="xs:string" name="NAME_MIDDLE"/>
              <xs:element type="xs:string" name="NAME_BIRTH"/>
              <xs:element type="xs:string" name="BU_SEXID"/>
              <xs:element type="xs:string" name="BIRTHDT"/>
              <xs:element type="xs:string" name="BIRTHPL"/>
              <xs:element type="xs:string" name="LANG_CORR_PERS"/>
              <xs:element type="xs:string" name="SORTL"/>
              <xs:element type="xs:string" name="MCOD2"/>
              <xs:element type="xs:string" name="BPKIND"/>
              <xs:element type="xs:string" name="AUGRP_BU"/>
              <xs:element type="xs:string" name="AUGRP_SU"/>
              <xs:element type="xs:string" name="KUNNR"/>
              <xs:element type="xs:string" name="KONZS"/>
              <xs:element type="xs:string" name="VBUND"/>
              <xs:element type="xs:string" name="NATPERS"/>
              <xs:element type="xs:string" name="SUPPRESS_TXJCD"/>
              <xs:element type="xs:string" name="LEGAL_ENTY"/>
              <xs:element type="xs:string" name="LEGAL_ORG"/>
              <xs:element type="xs:string" name="FOUND_DAT"/>
              <xs:element type="xs:string" name="LIQUID_DAT"/>
              <xs:element type="xs:string" name="LOCATION_1"/>
              <xs:element type="xs:string" name="LOCATION_2"/>
              <xs:element type="xs:string" name="LOCATION_3"/>
              <xs:element type="xs:string" name="BPEXT"/>
              <xs:element type="xs:string" name="DTAMS"/>
              <xs:element type="xs:string" name="DTAWS"/>
              <xs:element type="xs:string" name="LNRZA"/>
              <xs:element type="xs:string" name="ESRNR"/>
              <xs:element type="xs:string" name="J_1IEXCD"/>
              <xs:element type="xs:string" name="J_1IEXRN"/>
              <xs:element type="xs:string" name="J_1IEXRG"/>
              <xs:element type="xs:string" name="J_1IEXDI"/>
              <xs:element type="xs:string" name="J_1IEXCO"/>
              <xs:element type="xs:string" name="J_1IVTYP"/>
              <xs:element type="xs:string" name="J_1I_CUSTOMS"/>
              <xs:element type="xs:string" name="J_1IEXCIVE"/>
              <xs:element type="xs:string" name="J_1ISSIST"/>
              <xs:element type="xs:string" name="J_1IVENCRE"/>
              <xs:element type="xs:string" name="J_1ICSTNO"/>
              <xs:element type="xs:string" name="J_1ILSTNO"/>
              <xs:element type="xs:string" name="J_1ISERN"/>
              <xs:element type="xs:string" name="J_1IPANNO"/>
              <xs:element type="xs:string" name="J_1IPANREF"/>
              <xs:element type="xs:string" name="J_1IPANVALDT"/>
              <xs:element type="xs:string" name="J_1IDEDREF"/>
              <xs:element type="xs:string" name="VEN_CLASS"/>
              <xs:element type="xs:string" name="AU_CARRYING_ENT"/>
              <xs:element type="xs:string" name="AU_IND_UNDER_18"/>
              <xs:element type="xs:string" name="AU_PAYMENT_NOT_EXCEED_75"/>
              <xs:element type="xs:string" name="AU_WHOLLY_INP_TAXED"/>
              <xs:element type="xs:string" name="AU_PARTNER_WITHOUT_GAIN"/>
              <xs:element type="xs:string" name="AU_NOT_ENTITLED_ABN"/>
              <xs:element type="xs:string" name="AU_PAYMENT_EXEMPT"/>
              <xs:element type="xs:string" name="AU_PRIVATE_HOBBY"/>
              <xs:element type="xs:string" name="AU_DOMESTIC_NATURE"/>
              <xs:element type="xs:string" name="BU_ADEXT"/>
              <xs:element type="xs:string" name="STREET"/>
              <xs:element type="xs:string" name="HOUSE_NUM1"/>
              <xs:element type="xs:string" name="CITY2"/>
              <xs:element type="xs:string" name="HOME_CITY"/>
              <xs:element type="xs:string" name="POST_CODE1"/>
              <xs:element type="xs:string" name="CITY1"/>
              <xs:element type="xs:string" name="COUNTRY"/>
              <xs:element type="xs:string" name="REGION"/>
              <xs:element type="xs:string" name="TIME_ZONE"/>
              <xs:element type="xs:string" name="LZONE"/>
              <xs:element type="xs:string" name="BUILDING"/>
              <xs:element type="xs:string" name="ROOM"/>
              <xs:element type="xs:string" name="FLOOR"/>
              <xs:element type="xs:string" name="CO_NAME"/>
              <xs:element type="xs:string" name="STR_SUPPL1"/>
              <xs:element type="xs:string" name="STR_SUPPL2"/>
              <xs:element type="xs:string" name="HOUSE_NO2"/>
              <xs:element type="xs:string" name="STR_SUPPL3"/>
              <xs:element type="xs:string" name="LOCATION"/>
              <xs:element type="xs:string" name="TXJCD"/>
              <xs:element type="xs:string" name="PO_BOX"/>
              <xs:element type="xs:string" name="POST_CODE2"/>
              <xs:element type="xs:string" name="PO_BOX_CIT"/>
              <xs:element type="xs:string" name="POBOX_CTRY"/>
              <xs:element type="xs:string" name="PO_BOX_REG"/>
              <xs:element type="xs:string" name="POST_CODE3"/>
              <xs:element type="xs:string" name="LANGU_CORR"/>
              <xs:element type="xs:string" name="DEFLT_COMM"/>
              <xs:element type="xs:string" name="LANGU_NOTE"/>
              <xs:element type="xs:string" name="NOTE_ADDRESS"/>
              <xs:element type="xs:string" name="TELNR_LONG"/>
              <xs:element type="xs:string" name="NOTE_TELNR"/>
              <xs:element type="xs:string" name="TELNR_LONG_2"/>
              <xs:element type="xs:string" name="NOTE_TELNR_2"/>
              <xs:element type="xs:string" name="TELNR_LONG_3"/>
              <xs:element type="xs:string" name="NOTE_TELNR_3"/>
              <xs:element type="xs:string" name="MOBILE_LONG"/>
              <xs:element type="xs:string" name="NOTE_MOBILE"/>
              <xs:element type="xs:string" name="MOBILE_LONG_2"/>
              <xs:element type="xs:string" name="NOTE_MOBILE_2"/>
              <xs:element type="xs:string" name="MOBILE_LONG_3"/>
              <xs:element type="xs:string" name="NOTE_MOBILE_3"/>
              <xs:element type="xs:string" name="FAXNR_LONG"/>
              <xs:element type="xs:string" name="NOTE_FAXNR"/>
              <xs:element type="xs:string" name="FAXNR_LONG_2"/>
              <xs:element type="xs:string" name="NOTE_FAXNR_2"/>
              <xs:element type="xs:string" name="FAXNR_LONG_3"/>
              <xs:element type="xs:string" name="NOTE_FAXNR_3"/>
              <xs:element type="xs:string" name="SMTP_ADDR"/>
              <xs:element type="xs:string" name="NOTE_SMTP"/>
              <xs:element type="xs:string" name="SMTP_ADDR_2"/>
              <xs:element type="xs:string" name="NOTE_SMTP_2"/>
              <xs:element type="xs:string" name="SMTP_ADDR_3"/>
              <xs:element type="xs:string" name="NOTE_SMTP_3"/>
              <xs:element type="xs:string" name="URI_TYP"/>
              <xs:element type="xs:string" name="URI_ADDR"/>
              <xs:element type="xs:string" name="NOTE_URI"/>
              <xs:element type="xs:string" name="SPERR"/>
              <xs:element type="xs:string" name="SPERM"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="AdditionalAddresses" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="LIFNR"/>
              <xs:element type="xs:string" name="BU_ADEXT"/>
              <xs:element type="xs:string" name="STREET"/>
              <xs:element type="xs:string" name="HOUSE_NUM1"/>
              <xs:element type="xs:string" name="CITY2"/>
              <xs:element type="xs:string" name="HOME_CITY"/>
              <xs:element type="xs:string" name="POST_CODE1"/>
              <xs:element type="xs:string" name="CITY1"/>
              <xs:element type="xs:string" name="COUNTRY"/>
              <xs:element type="xs:string" name="REGION"/>
              <xs:element type="xs:string" name="TIME_ZONE"/>
              <xs:element type="xs:string" name="LZONE"/>
              <xs:element type="xs:string" name="BUILDING"/>
              <xs:element type="xs:string" name="ROOM"/>
              <xs:element type="xs:string" name="FLOOR"/>
              <xs:element type="xs:string" name="CO_NAME"/>
              <xs:element type="xs:string" name="STR_SUPPL1"/>
              <xs:element type="xs:string" name="STR_SUPPL2"/>
              <xs:element type="xs:string" name="HOUSE_NO2"/>
              <xs:element type="xs:string" name="STR_SUPPL3"/>
              <xs:element type="xs:string" name="LOCATION"/>
              <xs:element type="xs:string" name="TXJCD"/>
              <xs:element type="xs:string" name="PO_BOX"/>
              <xs:element type="xs:string" name="POST_CODE2"/>
              <xs:element type="xs:string" name="PO_BOX_CIT"/>
              <xs:element type="xs:string" name="POBOX_CTRY"/>
              <xs:element type="xs:string" name="PO_BOX_REG"/>
              <xs:element type="xs:string" name="POST_CODE3"/>
              <xs:element type="xs:string" name="LANGU_CORR"/>
              <xs:element type="xs:string" name="DEFLT_COMM"/>
              <xs:element type="xs:string" name="LANGU_NOTE"/>
              <xs:element type="xs:string" name="NOTE_ADDRESS"/>
              <xs:element type="xs:string" name="TELNR_LONG"/>
              <xs:element type="xs:string" name="NOTE_TELNR"/>
              <xs:element type="xs:string" name="TELNR_LONG_2"/>
              <xs:element type="xs:string" name="NOTE_TELNR_2"/>
              <xs:element type="xs:string" name="TELNR_LONG_3"/>
              <xs:element type="xs:string" name="NOTE_TELNR_3"/>
              <xs:element type="xs:string" name="MOBILE_LONG"/>
              <xs:element type="xs:string" name="NOTE_MOBILE"/>
              <xs:element type="xs:string" name="MOBILE_LONG_2"/>
              <xs:element type="xs:string" name="NOTE_MOBILE_2"/>
              <xs:element type="xs:string" name="MOBILE_LONG_3"/>
              <xs:element type="xs:string" name="NOTE_MOBILE_3"/>
              <xs:element type="xs:string" name="FAXNR_LONG"/>
              <xs:element type="xs:string" name="NOTE_FAXNR"/>
              <xs:element type="xs:string" name="FAXNR_LONG_2"/>
              <xs:element type="xs:string" name="NOTE_FAXNR_2"/>
              <xs:element type="xs:string" name="FAXNR_LONG_3"/>
              <xs:element type="xs:string" name="NOTE_FAXNR_3"/>
              <xs:element type="xs:string" name="SMTP_ADDR"/>
              <xs:element type="xs:string" name="NOTE_SMTP"/>
              <xs:element type="xs:string" name="SMTP_ADDR_2"/>
              <xs:element type="xs:string" name="NOTE_SMTP_2"/>
              <xs:element type="xs:string" name="SMTP_ADDR_3"/>
              <xs:element type="xs:string" name="NOTE_SMTP_3"/>
              <xs:element type="xs:string" name="URI_TYP"/>
              <xs:element type="xs:string" name="URI_ADDR"/>
              <xs:element type="xs:string" name="NOTE_URI"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="AddressUsages" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="LIFNR"/>
              <xs:element type="xs:string" name="BU_ADEXT"/>
              <xs:element type="xs:string" name="ADR_KIND"/>
              <xs:element type="xs:string" name="XDFADU"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="InternationalAddressVersions" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="LIFNR"/>
              <xs:element type="xs:string" name="BU_ADEXT"/>
              <xs:element type="xs:string" name="NATION"/>
              <xs:element type="xs:string" name="NAME_FIRST"/>
              <xs:element type="xs:string" name="NAME_LAST"/>
              <xs:element type="xs:string" name="NAME3"/>
              <xs:element type="xs:string" name="NAME4"/>
              <xs:element type="xs:string" name="NAME_FIRST_P"/>
              <xs:element type="xs:string" name="NAME_LAST_P"/>
              <xs:element type="xs:string" name="NAME_MIDDLE"/>
              <xs:element type="xs:string" name="NAME_BIRTH"/>
              <xs:element type="xs:string" name="SORTL"/>
              <xs:element type="xs:string" name="MCOD2"/>
              <xs:element type="xs:string" name="STREET"/>
              <xs:element type="xs:string" name="HOUSE_NUM1"/>
              <xs:element type="xs:string" name="CITY2"/>
              <xs:element type="xs:string" name="HOME_CITY"/>
              <xs:element type="xs:string" name="CITY1"/>
              <xs:element type="xs:string" name="BUILDING"/>
              <xs:element type="xs:string" name="ROOM"/>
              <xs:element type="xs:string" name="FLOOR"/>
              <xs:element type="xs:string" name="CO_NAME"/>
              <xs:element type="xs:string" name="STR_SUPPL1"/>
              <xs:element type="xs:string" name="STR_SUPPL2"/>
              <xs:element type="xs:string" name="HOUSE_NO2"/>
              <xs:element type="xs:string" name="STR_SUPPL3"/>
              <xs:element type="xs:string" name="LOCATION"/>
              <xs:element type="xs:string" name="PO_BOX_CIT"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="AlternativePayees" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="LIFNR"/>
              <xs:element type="xs:string" name="EMPFK"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="GeneralTexts" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="LIFNR"/>
              <xs:element type="xs:string" name="TDID"/>
              <xs:element type="xs:string" name="TDSPRAS"/>
              <xs:element type="xs:string" name="TEXT_LINES"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="CompanyData" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="LIFNR"/>
              <xs:element type="xs:string" name="BUKRS"/>
              <xs:element type="xs:string" name="ZUAWA"/>
              <xs:element type="xs:string" name="AKONT"/>
              <xs:element type="xs:string" name="FDGRV"/>
              <xs:element type="xs:string" name="FRGRP"/>
              <xs:element type="xs:string" name="HBKID"/>
              <xs:element type="xs:string" name="LNRZB"/>
              <xs:element type="xs:string" name="XVERR"/>
              <xs:element type="xs:string" name="ZAHLS"/>
              <xs:element type="xs:string" name="ZTERM1"/>
              <xs:element type="xs:string" name="GUZTE"/>
              <xs:element type="xs:string" name="TOGRU"/>
              <xs:element type="xs:string" name="REPRF"/>
              <xs:element type="xs:string" name="ALTKN"/>
              <xs:element type="xs:string" name="ZWELS_01"/>
              <xs:element type="xs:string" name="ZWELS_02"/>
              <xs:element type="xs:string" name="ZWELS_03"/>
              <xs:element type="xs:string" name="ZWELS_04"/>
              <xs:element type="xs:string" name="ZWELS_05"/>
              <xs:element type="xs:string" name="ZWELS_06"/>
              <xs:element type="xs:string" name="ZWELS_07"/>
              <xs:element type="xs:string" name="ZWELS_08"/>
              <xs:element type="xs:string" name="ZWELS_09"/>
              <xs:element type="xs:string" name="ZWELS_10"/>
              <xs:element type="xs:string" name="TOGRR"/>
              <xs:element type="xs:string" name="EIKTO"/>
              <xs:element type="xs:string" name="BUSAB"/>
              <xs:element type="xs:string" name="ZSABE"/>
              <xs:element type="xs:string" name="TLFNS"/>
              <xs:element type="xs:string" name="TLFXS"/>
              <xs:element type="xs:string" name="INTAD"/>
              <xs:element type="xs:string" name="KVERM"/>
              <xs:element type="xs:string" name="US_REC_COUNTRY"/>
              <xs:element type="xs:string" name="US_GIIN"/>
              <xs:element type="xs:string" name="US_FTID"/>
              <xs:element type="xs:string" name="US_LOB_CODE"/>
              <xs:element type="xs:string" name="US_W8_RECVDATE"/>
              <xs:element type="xs:string" name="US_W9_RECVDATE"/>
              <xs:element type="xs:string" name="US_CHAP4_STATUS_CODE"/>
              <xs:element type="xs:string" name="US_PARTNERSHIP_IND"/>
              <xs:element type="xs:string" name="US_TIN_NOTICE"/>
              <xs:element type="xs:string" name="US_FATCA_IND"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="WithholdingTaxData" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="LIFNR"/>
              <xs:element type="xs:string" name="BUKRS"/>
              <xs:element type="xs:string" name="WITHT"/>
              <xs:element type="xs:string" name="WT_WITHCD"/>
              <xs:element type="xs:string" name="WT_SUBJCT"/>
              <xs:element type="xs:string" name="WT_WTSTCD"/>
              <xs:element type="xs:string" name="QSREC"/>
              <xs:element type="xs:string" name="WT_EXNR"/>
              <xs:element type="xs:string" name="WT_EXRT"/>
              <xs:element type="xs:string" name="WT_WTEXRS"/>
              <xs:element type="xs:string" name="WT_EXDF"/>
              <xs:element type="xs:string" name="WT_EXDT"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="CompanyAlternativePayees" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="LIFNR"/>
              <xs:element type="xs:string" name="BUKRS"/>
              <xs:element type="xs:string" name="EMPFK"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="CompanyTexts" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="LIFNR"/>
              <xs:element type="xs:string" name="BUKRS"/>
              <xs:element type="xs:string" name="TDID"/>
              <xs:element type="xs:string" name="TDSPRAS"/>
              <xs:element type="xs:string" name="TEXT_LINES"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="PurchasingOrganizationData" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="LIFNR"/>
              <xs:element type="xs:string" name="EKORG"/>
              <xs:element type="xs:string" name="EKGRP"/>
              <xs:element type="xs:string" name="WAERS"/>
              <xs:element type="xs:string" name="VERKF"/>
              <xs:element type="xs:string" name="TELF1"/>
              <xs:element type="xs:string" name="MINBW"/>
              <xs:element type="xs:string" name="ZTERM"/>
              <xs:element type="xs:string" name="INCOV"/>
              <xs:element type="xs:string" name="INCO1"/>
              <xs:element type="xs:string" name="INCO2"/>
              <xs:element type="xs:string" name="INCO3_L"/>
              <xs:element type="xs:string" name="KALKS"/>
              <xs:element type="xs:string" name="PLIFZ"/>
              <xs:element type="xs:string" name="LFABC"/>
              <xs:element type="xs:string" name="VSBED"/>
              <xs:element type="xs:string" name="WEBRE"/>
              <xs:element type="xs:string" name="KZAUT"/>
              <xs:element type="xs:string" name="MEPRF"/>
              <xs:element type="xs:string" name="BSTAE"/>
              <xs:element type="xs:string" name="KZRET"/>
              <xs:element type="xs:string" name="AUBEL"/>
              <xs:element type="xs:string" name="VALID_PRO"/>
              <xs:element type="xs:string" name="HSCABS"/>
              <xs:element type="xs:string" name="HSCPE"/>
              <xs:element type="xs:string" name="HSCMIN"/>
              <xs:element type="xs:string" name="HSCMAX"/>
              <xs:element type="xs:string" name="XERSY"/>
              <xs:element type="xs:string" name="XERSR"/>
              <xs:element type="xs:string" name="KZABS"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="PartnerFunctions" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="LIFNR"/>
              <xs:element type="xs:string" name="EKORG"/>
              <xs:element type="xs:string" name="PARVW"/>
              <xs:element type="xs:string" name="LIFN2"/>
              <xs:element type="xs:string" name="PERNR"/>
              <xs:element type="xs:string" name="PARNR"/>
              <xs:element type="xs:string" name="DEFPA"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="PurchasingTexts" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="LIFNR"/>
              <xs:element type="xs:string" name="EKORG"/>
              <xs:element type="xs:string" name="TDID"/>
              <xs:element type="xs:string" name="TDSPRAS"/>
              <xs:element type="xs:string" name="TEXT_LINES"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="BankDetails" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="LIFNR"/>
              <xs:element type="xs:string" name="BANKS"/>
              <xs:element type="xs:string" name="BANKL"/>
              <xs:element type="xs:string" name="BANKN"/>
              <xs:element type="xs:string" name="IBAN"/>
              <xs:element type="xs:string" name="BKONT"/>
              <xs:element type="xs:string" name="XEZER"/>
              <xs:element type="xs:string" name="BKREF"/>
              <xs:element type="xs:string" name="KOINH"/>
              <xs:element type="xs:string" name="EBPP_ACCNAME"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="Industries" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="LIFNR"/>
              <xs:element type="xs:string" name="ISTYPE"/>
              <xs:element type="xs:string" name="IND_SECTOR"/>
              <xs:element type="xs:string" name="ISDEF"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="TaxClassification" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="LIFNR"/>
              <xs:element type="xs:string" name="TAX_CTY"/>
              <xs:element type="xs:string" name="TAX_REG"/>
              <xs:element type="xs:string" name="TAX_TYPE"/>
              <xs:element type="xs:string" name="TAX_GROUP"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="TaxNumbers" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="LIFNR"/>
              <xs:element type="xs:string" name="TAXTYPE"/>
              <xs:element type="xs:string" name="TAXNUM"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="IdentificationNumbers" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="LIFNR"/>
              <xs:element type="xs:string" name="TYPE"/>
              <xs:element type="xs:string" name="IDNUMBER"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="ContactPerson" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="LIFNR"/>
              <xs:element type="xs:string" name="PARNR"/>
              <xs:element type="xs:string" name="TITLE"/>
              <xs:element type="xs:string" name="TITLE_ACA1"/>
              <xs:element type="xs:string" name="VNAME"/>
              <xs:element type="xs:string" name="LNAME"/>
              <xs:element type="xs:string" name="NAME_MIDDLE"/>
              <xs:element type="xs:string" name="NAME_BIRTH"/>
              <xs:element type="xs:string" name="BIRTHDT"/>
              <xs:element type="xs:string" name="LANGUCORR"/>
              <xs:element type="xs:string" name="ABTNR"/>
              <xs:element type="xs:string" name="PAFKT"/>
              <xs:element type="xs:string" name="PAVIP"/>
              <xs:element type="xs:string" name="BUILDING_B"/>
              <xs:element type="xs:string" name="ROOM_B"/>
              <xs:element type="xs:string" name="FLOOR_B"/>
              <xs:element type="xs:string" name="COUNTRY_B"/>
              <xs:element type="xs:string" name="DEFLT_COMM_B"/>
              <xs:element type="xs:string" name="TEL_NO_B"/>
              <xs:element type="xs:string" name="MOBILE_NO_B"/>
              <xs:element type="xs:string" name="FAX_NO_B"/>
              <xs:element type="xs:string" name="E_MAIL_B"/>
              <xs:element type="xs:string" name="COUNTRY"/>
              <xs:element type="xs:string" name="REGION"/>
              <xs:element type="xs:string" name="POSTLCD"/>
              <xs:element type="xs:string" name="CITY"/>
              <xs:element type="xs:string" name="STREET"/>
              <xs:element type="xs:string" name="HOUSE_NO"/>
              <xs:element type="xs:string" name="BUILDING"/>
              <xs:element type="xs:string" name="ROOM"/>
              <xs:element type="xs:string" name="FLOOR"/>
              <xs:element type="xs:string" name="TIME_ZONE"/>
              <xs:element type="xs:string" name="TXJCD"/>
              <xs:element type="xs:string" name="DEFLT_COMM"/>
              <xs:element type="xs:string" name="LANGU_NOTE"/>
              <xs:element type="xs:string" name="NOTE_ADDRESS"/>
              <xs:element type="xs:string" name="TEL_NO"/>
              <xs:element type="xs:string" name="NOTE_TEL"/>
              <xs:element type="xs:string" name="MOBILE_NO"/>
              <xs:element type="xs:string" name="NOTE_MOBILE"/>
              <xs:element type="xs:string" name="FAX_NO"/>
              <xs:element type="xs:string" name="NOTE_FAX"/>
              <xs:element type="xs:string" name="E_MAIL"/>
              <xs:element type="xs:string" name="NOTE_E_MAIL"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="ContInternAddressVersions" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="LIFNR"/>
              <xs:element type="xs:string" name="PARNR"/>
              <xs:element type="xs:string" name="NATION"/>
              <xs:element type="xs:string" name="VNAME"/>
              <xs:element type="xs:string" name="LNAME"/>
              <xs:element type="xs:string" name="NAME_MIDDLE"/>
              <xs:element type="xs:string" name="NAME_BIRTH"/>
              <xs:element type="xs:string" name="BUILDING_B"/>
              <xs:element type="xs:string" name="ROOM_B"/>
              <xs:element type="xs:string" name="FLOOR_B"/>
              <xs:element type="xs:string" name="CITY"/>
              <xs:element type="xs:string" name="STREET"/>
              <xs:element type="xs:string" name="HOUSE_NO"/>
              <xs:element type="xs:string" name="BUILDING"/>
              <xs:element type="xs:string" name="ROOM"/>
              <xs:element type="xs:string" name="FLOOR"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="TANandExemptionNumber" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="ACCNO"/>
              <xs:element type="xs:string" name="BUKRS"/>
              <xs:element type="xs:string" name="SECCODE"/>
              <xs:element type="xs:string" name="WITHT"/>
              <xs:element type="xs:string" name="WT_WITHCD"/>
              <xs:element type="xs:string" name="WT_EXDF"/>
              <xs:element type="xs:string" name="WT_EXDT"/>
              <xs:element type="xs:string" name="WT_EXNR"/>
              <xs:element type="xs:string" name="WT_EXRT"/>
              <xs:element type="xs:string" name="WT_WTEXRS"/>
              <xs:element type="xs:string" name="FIWTIN_EXEM_THR"/>
              <xs:element type="xs:string" name="WAERS"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="SupplierCertificates" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="LIFNR"/>
              <xs:element type="xs:string" name="BUKRS"/>
              <xs:element type="xs:string" name="CERT_ID"/>
              <xs:element type="xs:string" name="CERT_NO"/>
              <xs:element type="xs:string" name="VALID_FROM"/>
              <xs:element type="xs:string" name="VALID_TO"/>
              <xs:element type="xs:string" name="REG_CITY"/>
              <xs:element type="xs:string" name="EXEMPT"/>
              <xs:element type="xs:string" name="EXEMPT_REASON"/>
              <xs:element type="xs:string" name="MAIN_CERT"/>
              <xs:element type="xs:string" name="CREATION_DATE"/>
              <xs:element type="xs:string" name="DESCRIPTION1"/>
              <xs:element type="xs:string" name="DESCRIPTION2"/>
              <xs:element type="xs:string" name="DATE1"/>
              <xs:element type="xs:string" name="DATE2"/>
              <xs:element type="xs:string" name="NUMBER1"/>
              <xs:element type="xs:string" name="NUMBER2"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>