Resources/schemas/Xsd/SAP_S-4HANA_Exchange_Rate_Mapping_with_Pricefx - exchange-rates.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
    <xs:element name="ExchangeRates">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="ExchangeRate" maxOccurs="unbounded" >
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="ConversionRate" type="xs:decimal" />
                            <xs:element name="ConversionDate" type="xs:date" />
                            <xs:element name="TypeCode">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="content" type="xs:string" />
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="ToCurrencyCode">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="content" type="xs:string" />
                                        
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="FromCurrencyCode">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="content" type="xs:string" />
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

</xs:schema>