Resources/schemas/Xsd/SAP_S-4HANA_Rebate_Payout_Records_Mapping_with_Pricefx - payout-response-1.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="records">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="record" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="id"/>
              <xs:element type="xs:string" name="customerId" minOccurs="0"/>
              <xs:element type="xs:string" name="sku" minOccurs="0"/>
              <xs:element type="xs:string" name="payoutDate" minOccurs="0"/>
              <xs:element type="xs:decimal" name="currentAccrual" minOccurs="0"/>
              <xs:element type="xs:string" name="rebateAgreement" minOccurs="0"/>
                <xs:element type="xs:string" name="rebateRecord" minOccurs="0"/>
              <xs:element type="xs:string" name="AccountingDocument" minOccurs="0"/>
              <xs:element type="xs:string" name="error" minOccurs="0"/>

              <xs:element type="xs:string" name="memoRecordId" minOccurs="0"/>
              <xs:element type="xs:string" name="memoRecordItemId" minOccurs="0"/>
              <xs:element type="xs:string" name="memoRecordError" minOccurs="0"/>
              
              <xs:element type="xs:string" name="type" minOccurs="0"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>