Resources/schemas/Xsd/SAP_S-4HANA_Integration_with_Salesforce - A_SalesOrderItemType_Edited.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="A_SalesOrderItemType">
		<xs:complexType>
			<xs:sequence>
				<xs:element nillable="false" maxOccurs="unbounded" name="SalesOrder">
					<xs:simpleType>
						<xs:restriction base="xs:string" xmlns="">
							<xs:maxLength value="10"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element nillable="false" maxOccurs="unbounded" name="SalesOrderItem">
					<xs:simpleType>
						<xs:restriction base="xs:string" xmlns="">
							<xs:maxLength value="6"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="records">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="Id" type="xs:string" />
							<xs:element name="Name" type="xs:string" />
						</xs:sequence>
						<xs:attribute name="type" type="xs:string" use="required" />
						<xs:attribute name="url" type="xs:string" use="required" />
					</xs:complexType>
				</xs:element>
				<xs:element nillable="true" minOccurs="0" maxOccurs="unbounded" name="SalesOrderItemText">
					<xs:simpleType>
						<xs:restriction base="xs:string" xmlns="">
							<xs:maxLength value="40"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element nillable="true" minOccurs="0" maxOccurs="unbounded" name="PurchaseOrderByCustomer">
					<xs:simpleType>
						<xs:restriction base="xs:string" xmlns="">
							<xs:maxLength value="35"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element nillable="true" minOccurs="0" maxOccurs="unbounded" name="Material">
					<xs:simpleType>
						<xs:restriction base="xs:string" xmlns="">
							<xs:maxLength value="40"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element nillable="true" minOccurs="0" maxOccurs="unbounded" name="MaterialByCustomer">
					<xs:simpleType>
						<xs:restriction base="xs:string" xmlns="">
							<xs:maxLength value="35"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element type="xs:dateTime" nillable="true" minOccurs="0" maxOccurs="unbounded" name="PricingDate" xmlns=""/>
				<xs:element type="xs:decimal" nillable="true" minOccurs="0" maxOccurs="unbounded" name="RequestedQuantity" xmlns=""/>
				<xs:element nillable="true" minOccurs="0" maxOccurs="unbounded" name="RequestedQuantityUnit">
					<xs:simpleType>
						<xs:restriction base="xs:string" xmlns="">
							<xs:maxLength value="3"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element type="xs:decimal" nillable="true" minOccurs="0" maxOccurs="unbounded" name="ItemGrossWeight" xmlns=""/>
				<xs:element nillable="true" minOccurs="0" maxOccurs="unbounded" name="ItemWeightUnit">
					<xs:simpleType>
						<xs:restriction base="xs:string" xmlns="">
							<xs:maxLength value="3"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element type="xs:decimal" nillable="true" minOccurs="0" maxOccurs="unbounded" name="ItemVolume" xmlns=""/>
				<xs:element type="xs:decimal" nillable="true" minOccurs="0" maxOccurs="unbounded" name="ItemNetWeight" xmlns=""/>
				<xs:element nillable="true" minOccurs="0" maxOccurs="unbounded" name="ItemVolumeUnit">
					<xs:simpleType>
						<xs:restriction base="xs:string" xmlns="">
							<xs:maxLength value="3"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element type="xs:decimal" nillable="true" minOccurs="0" maxOccurs="unbounded" name="NetAmount" xmlns=""/>
				<xs:element nillable="true" minOccurs="0" maxOccurs="unbounded" name="MaterialGroup">
					<xs:simpleType>
						<xs:restriction base="xs:string" xmlns="">
							<xs:maxLength value="9"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element nillable="true" minOccurs="0" maxOccurs="unbounded" name="MaterialPricingGroup">
					<xs:simpleType>
						<xs:restriction base="xs:string" xmlns="">
							<xs:maxLength value="2"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element nillable="true" minOccurs="0" maxOccurs="unbounded" name="TransactionCurrency">
					<xs:simpleType>
						<xs:restriction base="xs:string" xmlns="">
							<xs:maxLength value="5"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element nillable="true" minOccurs="0" maxOccurs="unbounded" name="Batch">
					<xs:simpleType>
						<xs:restriction base="xs:string" xmlns="">
							<xs:maxLength value="10"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element nillable="true" minOccurs="0" maxOccurs="unbounded" name="ProductionPlant">
					<xs:simpleType>
						<xs:restriction base="xs:string" xmlns="">
							<xs:maxLength value="4"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element nillable="true" minOccurs="0" maxOccurs="unbounded" name="StorageLocation">
					<xs:simpleType>
						<xs:restriction base="xs:string" xmlns="">
							<xs:maxLength value="4"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element nillable="true" minOccurs="0" maxOccurs="unbounded" name="DeliveryGroup">
					<xs:simpleType>
						<xs:restriction base="xs:string" xmlns="">
							<xs:maxLength value="3"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element nillable="true" minOccurs="0" maxOccurs="unbounded" name="ShippingPoint">
					<xs:simpleType>
						<xs:restriction base="xs:string" xmlns="">
							<xs:maxLength value="4"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element nillable="true" minOccurs="0" maxOccurs="unbounded" name="ShippingType">
					<xs:simpleType>
						<xs:restriction base="xs:string" xmlns="">
							<xs:maxLength value="2"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element nillable="true" minOccurs="0" maxOccurs="unbounded" name="OrderRelatedBillingStatus">
					<xs:simpleType>
						<xs:restriction base="xs:string" xmlns="">
							<xs:maxLength value="1"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element nillable="true" minOccurs="0" maxOccurs="unbounded" name="DeliveryStatus">
					<xs:simpleType>
						<xs:restriction base="xs:string" xmlns="">
							<xs:maxLength value="1"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element nillable="true" minOccurs="0" maxOccurs="unbounded" name="SDProcessStatus">
					<xs:simpleType>
						<xs:restriction base="xs:string" xmlns="">
							<xs:maxLength value="1"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element nillable="true" minOccurs="0" maxOccurs="unbounded" name="WBSElement">
					<xs:simpleType>
						<xs:restriction base="xs:string" xmlns="">
							<xs:maxLength value="24"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element nillable="true" minOccurs="0" maxOccurs="unbounded" name="ItemBillingBlockReason">
					<xs:simpleType>
						<xs:restriction base="xs:string" xmlns="">
							<xs:maxLength value="2"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element nillable="true" minOccurs="0" maxOccurs="unbounded" name="SalesDocumentRjcnReason">
					<xs:simpleType>
						<xs:restriction base="xs:string" xmlns="">
							<xs:maxLength value="2"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element nillable="true" minOccurs="0" maxOccurs="unbounded" name="CustomerPaymentTerms">
					<xs:simpleType>
						<xs:restriction base="xs:string" xmlns="">
							<xs:maxLength value="4"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element nillable="true" minOccurs="0" maxOccurs="unbounded" name="IncotermsLocation2">
					<xs:simpleType>
						<xs:restriction base="xs:string" xmlns="">
							<xs:maxLength value="70"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element nillable="true" minOccurs="0" maxOccurs="unbounded" name="IncotermsLocation1">
					<xs:simpleType>
						<xs:restriction base="xs:string" xmlns="">
							<xs:maxLength value="70"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element nillable="true" minOccurs="0" maxOccurs="unbounded" name="IncotermsTransferLocation">
					<xs:simpleType>
						<xs:restriction base="xs:string" xmlns="">
							<xs:maxLength value="28"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element nillable="true" minOccurs="0" maxOccurs="unbounded" name="IncotermsClassification">
					<xs:simpleType>
						<xs:restriction base="xs:string" xmlns="">
							<xs:maxLength value="3"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element nillable="true" minOccurs="0" maxOccurs="unbounded" name="DeliveryPriority">
					<xs:simpleType>
						<xs:restriction base="xs:string" xmlns="">
							<xs:maxLength value="2"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
