Resources/schemas/Xsd/SAP_SuccessFactors_Integration_with_ADP_Tax_Credits - CandidateEntityGET0.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="Candidate">
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="1" maxOccurs="unbounded" name="Candidate">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element type="xs:long" nillable="false" maxOccurs="unbounded" name="candidateId" xmlns=""/>
                            <xs:element type="xs:string" nillable="false" maxOccurs="unbounded" name="primaryEmail" xmlns=""/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>
