Resources/schemas/Xsd/SAP_Service_Cloud_Version_2_Integration_with_SAP_S-4HANA - sourceSCInitialLoad.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
	<xs:element name="ServiceContract">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="ServiceContract_Type" minOccurs="1" maxOccurs="unbounded">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="DistributionChannel" type="xs:string" minOccurs="0"/>
							<xs:element name="SoldToParty" type="xs:string" minOccurs="0"/>
							<xs:element name="_Item" minOccurs="0">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="ServiceContractItem_Type" minOccurs="0" maxOccurs="unbounded">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="ServiceDocItemGrossAmount" type="xs:decimal" minOccurs="0"/>
													<xs:element name="Product" type="xs:string" minOccurs="0"/>
													<xs:element name="DistributionChannel" type="xs:string" minOccurs="0"/>
													<xs:element name="SoldToParty" type="xs:string" minOccurs="0"/>
													<xs:element name="ServiceContrItemEndDateTime" type="xs:dateTime" minOccurs="0"/>
													<xs:element name="ServiceContractItemCategory" type="xs:string" minOccurs="0"/>
													<xs:element name="Language" type="xs:string" minOccurs="0"/>
													<xs:element name="ServiceContractItemQuantity" type="xs:decimal" minOccurs="0"/>
													<xs:element name="Division" type="xs:string" minOccurs="0"/>
													<xs:element name="SalesGroup" type="xs:string" minOccurs="0"/>
													<xs:element name="ServiceContrItemStartDateTime" type="xs:dateTime" minOccurs="0"/>
													<xs:element name="ServiceContract" type="xs:string" minOccurs="0"/>
													<xs:element name="SrvcContrItemQtyUnitISOCode" type="xs:string" minOccurs="0"/>
													<xs:element name="ServiceContractItem" type="xs:string" minOccurs="0"/>
													<xs:element name="SalesOrganization" type="xs:string" minOccurs="0"/>
													<xs:element name="ContactPersonBusinessPartnerId" type="xs:string" minOccurs="0"/>
													<xs:element name="_ItemProduct" minOccurs="0">
														<xs:complexType>
															<xs:sequence>
																<xs:element name="SrvcContrItemProduct_Type" minOccurs="0" maxOccurs="unbounded">
																	<xs:complexType>
																		<xs:sequence>
																			<xs:element name="ServiceContractItem" type="xs:string" minOccurs="0"/>
																			<xs:element name="SrvcContrProdListProdHierarchy" type="xs:string" minOccurs="0"/>
																			<xs:element name="SrvcContrProdListProduct" type="xs:string" minOccurs="0"/>
																			<xs:element name="ServiceContract" type="xs:string" minOccurs="0"/>
																			<xs:element name="SAP__Messages" type="xs:string" minOccurs="0"/>
																			<xs:element name="ServiceProductListItem" type="xs:string" minOccurs="0"/>
																		</xs:sequence>
																	</xs:complexType>
																</xs:element>
															</xs:sequence>
														</xs:complexType>
													</xs:element>
													<xs:element name="ServiceContractItemStatus" type="xs:string" minOccurs="0"/>
													<xs:element name="ServiceDocumentItemNetAmount" type="xs:decimal" minOccurs="0"/>
													<xs:element name="SalesOffice" type="xs:string" minOccurs="0"/>
													<xs:element name="ServiceDocumentItemTaxAmount" type="xs:decimal" minOccurs="0"/>
													<xs:element name="PayerParty" type="xs:string" minOccurs="0"/>
													<xs:element name="ShipToParty" type="xs:string" minOccurs="0"/>
													<xs:element name="_ReferenceObject" minOccurs="0">
														<xs:complexType>
															<xs:sequence>
																<xs:element name="ServiceContrItemRefObject_Type" minOccurs="0" maxOccurs="unbounded">
																	<xs:complexType>
																		<xs:sequence>
																			<xs:element name="ServiceRefObjectSequenceNumber" type="xs:string" minOccurs="0"/>
																			<xs:element name="ServiceReferenceEquipment" type="xs:string" minOccurs="0"/>
																			<xs:element name="SerialNumber" type="xs:string" minOccurs="0"/>
																			<xs:element name="SrvcRefFuncLocLabelName" type="xs:string" minOccurs="0"/>
																			<xs:element name="ServiceContract" type="xs:string" minOccurs="0"/>
																			<xs:element name="ServiceContractItem" type="xs:string" minOccurs="0"/>
																			<xs:element name="ServiceRefFunctionalLocation" type="xs:string" minOccurs="0"/>
																			<xs:element name="ServiceReferenceProduct" type="xs:string" minOccurs="0"/>
																			<xs:element name="SAP__Messages" type="xs:string" minOccurs="0"/>
																		</xs:sequence>
																	</xs:complexType>
																</xs:element>
															</xs:sequence>
														</xs:complexType>
													</xs:element>
													<xs:element name="BillToParty" type="xs:string" minOccurs="0"/>
													<xs:element name="RespEmployeeBusinessPartnerId" type="xs:string" minOccurs="0"/>
													<xs:element name="ServiceContractItemDescription" type="xs:string" minOccurs="0"/>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="SrvcContrBillingStatus" type="xs:string" minOccurs="0"/>
							<xs:element name="ServiceContractDescription" type="xs:string" minOccurs="0"/>
							<xs:element name="Language" type="xs:string" minOccurs="0"/>
							<xs:element name="SalesGroupOrgUnitID" type="xs:string" minOccurs="0"/>
							<xs:element name="Division" type="xs:string" minOccurs="0"/>
							<xs:element name="ServiceOrganization" type="xs:string" minOccurs="0"/>
							<xs:element name="ServiceContractStatus" type="xs:string" minOccurs="0"/>
							<xs:element name="ServiceContractCanclnSts" type="xs:string" minOccurs="0"/>
							<xs:element name="ServiceContractStartDateTime" type="xs:dateTime" minOccurs="0"/>
							<xs:element name="ServiceContract" type="xs:string" minOccurs="0"/>
							<xs:element name="ServiceContractEndDateTime" type="xs:dateTime" minOccurs="0"/>
							<xs:element name="ContactPersonBusinessPartnerId" type="xs:string" minOccurs="0"/>
							<xs:element name="PayerParty" type="xs:string" minOccurs="0"/>
							<xs:element name="ServiceDocTaxAmount" type="xs:decimal" minOccurs="0"/>
							<xs:element name="TransactionCurrency" type="xs:string" minOccurs="0"/>
							<xs:element name="ShipToParty" type="xs:string" minOccurs="0"/>
							<xs:element name="ServiceContractType" type="xs:string" minOccurs="0"/>
							<xs:element name="ServiceDocNetAmount" type="xs:decimal" minOccurs="0"/>
							<xs:element name="BillToParty" type="xs:string" minOccurs="0"/>
							<xs:element name="SalesOfficeOrgUnitID" type="xs:string" minOccurs="0"/>
							<xs:element name="ServiceDocGrossAmount" type="xs:decimal" minOccurs="0"/>
							<xs:element name="RespEmployeeBusinessPartnerId" type="xs:string" minOccurs="0"/>
							<xs:element name="SalesOrganizationOrgUnitID" type="xs:string" minOccurs="0"/>
							<xs:element name="SrvcDocRejectionStatus" type="xs:string" minOccurs="0"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>