Resources/schemas/Xsd/SAP_Customer_Engagement_Center_Integration_with_Knowledge_Bases_-_OpenSearch - SearchData_KnowledgeBase.xsd

<?xml version="1.0" encoding="UTF-8"?>
 <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified"
   xmlns:o="http://a9.com/-/spec/opensearch/1.1/" 
   xmlns:r="http://a9.com/-/opensearch/extensions/relevance/1.0/">
     <xs:import schemaLocation="Opensearch.xsd" namespace="http://a9.com/-/spec/opensearch/1.1/" /> 
  	 <xs:import schemaLocation="Opensearch_Relevance.xsd" namespace="http://a9.com/-/opensearch/extensions/relevance/1.0/" />
         <xs:element name="feed">
               <xs:complexType>
                     <xs:sequence>
                           <xs:element ref="o:totalResults" minOccurs="0" />
                           <xs:element name="entry" minOccurs="0" maxOccurs="unbounded">
                                 <xs:complexType>
                                       <xs:sequence>
                                             <xs:element name="id" type="xs:string" />
								             <xs:element name="title" />
                                             <xs:element name="summary" type="xs:string" minOccurs="0"/>
                                             <xs:element name="link" minOccurs="0" maxOccurs="unbounded">
                                                <xs:complexType>
                                                	<xs:attribute name="title" type="xs:string" use="optional" />
                    								<xs:attribute name="href" type="xs:string" use="required"/>
                    								<xs:attribute name="rel" type="xs:string" use="optional"/>
                    								<xs:attribute name="type" type="xs:string" use="optional"/>
                  								</xs:complexType>
                							 </xs:element>
											 <xs:element ref="r:score" minOccurs="0"/>
                                             <xs:element name="updated" type="xs:dateTime" />
                                       </xs:sequence>
                                 </xs:complexType>
                           </xs:element>
                     </xs:sequence>
               </xs:complexType>
         </xs:element>
   </xs:schema>
