Resources/schemas/Xsd/SAP_Build_Process_Automation_Integration_with_SAP_S-4HANA_for_Fixed_Asset_Transfer_Approval - output_data.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="d">
      <xs:complexType>
      <xs:sequence>
  <xs:element name="documentReference">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="objType" type="xs:string" />
        <xs:element name="objKey" type="xs:unsignedLong" />
        <xs:element name="objSys" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="return">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="type" type="xs:string" />
        <xs:element name="number" type="xs:unsignedShort" />
        <xs:element name="message" type="xs:string" />
        <xs:element name="companyCode" type="xs:string" minOccurs="0" maxOccurs="1"/>
        <xs:element name="asset" type="xs:string" minOccurs="0" maxOccurs="1"/>
        <xs:element name="subnumber" type="xs:string" minOccurs="0" maxOccurs="1"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="returnAll">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" name="item">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="type" type="xs:string" />
              <xs:element name="number" type="xs:unsignedShort" />
              <xs:element name="message" type="xs:string" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
     </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>