Resources/schemas/Xsd/SAP_S-4HANA_Integration_with_Third-Party_-_Exchange_Rate_Load - ExchangeRates.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="ExchangeRates">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Records" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="Currency"/>
              <xs:element type="xs:string" name="FromRate"/>
              <xs:element type="xs:string" name="ToRate"/>
              <xs:element type="xs:string" name="ConersionRate"/>
              <xs:element type="xs:string" name="Dummy"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>