Resources/schemas/Xsd/SAP_SuccessFactors_Territory_and_Quota_Integration_with_SAP_SuccessFactors_Incentive_Management - tq_quotacellhighvolume-4.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- Created with Liquid Technologies Online Tools 1.0 (https://www.liquid-technologies.com) -->
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Quotacell">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" name="element">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="territoryQuotaCellSeq" type="xs:unsignedLong" />
              <xs:element name="effectiveStartDate" type="xs:dateTime" />
              <xs:element name="effectiveEndDate" type="xs:dateTime" />
              <xs:element name="Quotavalue">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="value">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="value" type="xs:decimal" />
                          <xs:element name="unitType">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="unitTypeSeq" type="xs:unsignedLong" />
                                <xs:element name="name" type="xs:string" />
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="QuotacellDistPercent" type="xs:decimal" />
			  <xs:element name="isQuotaSetting" type="xs:boolean" />
              <xs:element name="isPrimary" type="xs:boolean" />
              <xs:element name="isAlignedToTerritory" type="xs:boolean" />
              <xs:element name="product" type="xs:string" />
              <xs:element name="account" type="xs:string" />
              <xs:element name="period" type="xs:string" />
              <xs:element name="territoryseq" type="xs:unsignedLong" />
              <xs:element name="targetTypeseq" type="xs:unsignedLong" />
              <xs:element name="caseStatus" type="xs:string" />
              <xs:element name="flagType" type="xs:string" />
              <xs:element name="isFlagEnabled" type="xs:boolean" />
              <xs:element name="territoryData">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="Territoryname" type="xs:string" />
                    <xs:element name="territoryStartDate" type="xs:dateTime" />
                    <xs:element name="territoryEndDate" type="xs:dateTime" />
                    <xs:element name="isExplicit" type="xs:boolean" />
                    <xs:element name="TargetTypeName" type="xs:string" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="territoryprogramData">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="tqProgramname" type="xs:string" />
					<xs:element name="tqProgramseq" type="xs:string" />
                    <xs:element name="StartDate" type="xs:dateTime" />
                    <xs:element name="EndDate" type="xs:dateTime" />
                    <xs:element name="linenumber" type="xs:unsignedInt" />
                    <xs:element name="quotaCellPeriodType" type="xs:string" />
                    <xs:element name="geographyHierarchyname" type="xs:string" />
                    <xs:element name="periodname" type="xs:unsignedShort" />
					<xs:element name="OrderIDSeq" type="xs:string" />
                    <xs:element name="compensationdate" type="xs:unsignedInt" />
                    <xs:element name="sublinenumber" type="xs:unsignedInt" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="posname">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="tqposition">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="effectiveStartDate" type="xs:dateTime" />
                          <xs:element name="effectiveEndDate" type="xs:dateTime" />
                          <xs:element name="mask" type="xs:unsignedByte" />
                          <xs:element name="name" type="xs:string" />
                          <xs:element name="split" type="xs:decimal" />
                          <xs:element name="tPAlignmentType" />
						  <xs:element name="buname" type="xs:string" />
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>