Resources/schemas/Xsd/SAP_Returnable_Packaging_Management_Integration_with_SAP_S-4HANA_-_Master_Data_Replication - Plant_RPM.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="plantReplicationContent">
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="0" maxOccurs="unbounded" name="plantReplicationRequestMessage">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element minOccurs="0" maxOccurs="unbounded" name="plant">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element type="xs:string" minOccurs="1" maxOccurs="1" name="plant"/>
                                        <xs:element type="xs:string" minOccurs="0" maxOccurs="1" name="plantName"/>
                                        <xs:element type="xs:string" minOccurs="0" maxOccurs="1" name="companyCode"/>
                                        <xs:element minOccurs="0" maxOccurs="1" name="addressData">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element minOccurs="0" maxOccurs="1" name="addressLine1" type="xs:string"/>
                                                    <xs:element minOccurs="0" maxOccurs="1" name="addressLine2" type="xs:string"/>
                                                    <xs:element minOccurs="0" maxOccurs="1" name="addressLine3" type="xs:string"/>
                                                    <xs:element minOccurs="0" maxOccurs="1" name="city" type="xs:string"/>
                                                    <xs:element minOccurs="0" maxOccurs="1" name="countryKey_code" type="xs:string"/>
                                                    <xs:element minOccurs="0" maxOccurs="1" name="email" type="xs:string"/>
                                                    <xs:element minOccurs="0" maxOccurs="1" name="extension" type="xs:string"/>
                                                    <xs:element minOccurs="0" maxOccurs="1" name="faxNumber" type="xs:string"/>
                                                    <xs:element minOccurs="0" maxOccurs="1" name="houseNumber" type="xs:string"/>
                                                    <xs:element minOccurs="0" maxOccurs="1" name="mobile" type="xs:string"/>
                                                    <xs:element minOccurs="0" maxOccurs="1" name="poBox" type="xs:string"/>
                                                    <xs:element minOccurs="0" maxOccurs="1" name="postalCode" type="xs:string"/>
                                                    <xs:element minOccurs="0" maxOccurs="1" name="street" type="xs:string"/>
                                                    <xs:element minOccurs="0" maxOccurs="1" name="telephone" type="xs:string"/>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element minOccurs="0" maxOccurs="1" name="messageID"/>
				<xs:element minOccurs="0" maxOccurs="1" name="senderID"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>