Resources/schemas/Xsd/SAP_Service_Cloud_Integration_with_SAP_Field_Service_Management - FSM_Template_In.xsd

<xs:schema attributeFormDefault="unqualified"
	elementFormDefault="qualified"
	xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="Checklis_Template_Confirmation">
		<xs:complexType>
			<xs:sequence>
				<xs:element type="xs:string" name="id" maxOccurs="1"
					minOccurs="0" />
				<xs:element type="xs:string" name="externalId"
					maxOccurs="1" minOccurs="0" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>