Resources/schemas/Xsd/SAP_Fieldglass_Integration_with_SAP_SuccessFactors_Employee_Central - UserEntityUPSERT0.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema attributeFormDefault="unqualified"
	elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="User">
		<xs:complexType>
			<xs:sequence>
				<xs:element minOccurs="1" maxOccurs="unbounded" name="User">
					<xs:complexType>
						<xs:sequence>
							<xs:element nillable="true" minOccurs="0" maxOccurs="unbounded"
								name="zipCode">
								<xs:simpleType>
									<xs:restriction base="xs:string" xmlns="">
										<xs:maxLength value="255" />
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element type="xs:boolean" nillable="true"
								minOccurs="0" maxOccurs="unbounded" name="veteranSeparated"
								xmlns="" />
							<xs:element type="xs:boolean" nillable="true"
								minOccurs="0" maxOccurs="unbounded" name="veteranProtected"
								xmlns="" />
							<xs:element type="xs:boolean" nillable="true"
								minOccurs="0" maxOccurs="unbounded" name="veteranMedal" xmlns="" />
							<xs:element type="xs:boolean" nillable="true"
								minOccurs="0" maxOccurs="unbounded" name="veteranDisabled"
								xmlns="" />
							<xs:element nillable="true" minOccurs="0" maxOccurs="unbounded"
								name="username">
								<xs:simpleType>
									<xs:restriction base="xs:string" xmlns="">
										<xs:maxLength value="100" />
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element nillable="false" maxOccurs="unbounded"
								name="userId">
								<xs:simpleType>
									<xs:restriction base="xs:string" xmlns="">
										<xs:maxLength value="100" />
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element nillable="true" minOccurs="0" maxOccurs="unbounded"
								name="title">
								<xs:simpleType>
									<xs:restriction base="xs:string" xmlns="">
										<xs:maxLength value="255" />
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element nillable="true" minOccurs="0" maxOccurs="unbounded"
								name="timeZone">
								<xs:simpleType>
									<xs:restriction base="xs:string" xmlns="">
										<xs:maxLength value="64" />
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element type="xs:string" nillable="true"
								minOccurs="0" maxOccurs="unbounded" name="talentPool" xmlns="" />
							<xs:element type="xs:float" nillable="true" minOccurs="0"
								maxOccurs="unbounded" name="sysStartingSalary" xmlns="" />
							<xs:element type="xs:int" nillable="true" minOccurs="0"
								maxOccurs="unbounded" name="sysSource" xmlns="" />
							<xs:element type="xs:float" nillable="true" minOccurs="0"
								maxOccurs="unbounded" name="sysCostOfSource" xmlns="" />
							<xs:element nillable="true" minOccurs="0" maxOccurs="unbounded"
								name="suffix">
								<xs:simpleType>
									<xs:restriction base="xs:string" xmlns="">
										<xs:maxLength value="128" />
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element type="xs:double" nillable="true"
								minOccurs="0" maxOccurs="unbounded" name="stockBudgetUnitAmount"
								xmlns="" />
							<xs:element type="xs:double" nillable="true"
								minOccurs="0" maxOccurs="unbounded" name="stockBudgetStockAmount"
								xmlns="" />
							<xs:element type="xs:double" nillable="true"
								minOccurs="0" maxOccurs="unbounded" name="stockBudgetOther3Amount"
								xmlns="" />
							<xs:element type="xs:double" nillable="true"
								minOccurs="0" maxOccurs="unbounded" name="stockBudgetOther2Amount"
								xmlns="" />
							<xs:element type="xs:double" nillable="true"
								minOccurs="0" maxOccurs="unbounded" name="stockBudgetOther1Amount"
								xmlns="" />
							<xs:element type="xs:double" nillable="true"
								minOccurs="0" maxOccurs="unbounded" name="stockBudgetOptionAmount"
								xmlns="" />
							<xs:element nillable="false" maxOccurs="unbounded"
								name="status">
								<xs:simpleType>
									<xs:restriction base="xs:string" xmlns="">
										<xs:maxLength value="17" />
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element nillable="true" minOccurs="0" maxOccurs="unbounded"
								name="state">
								<xs:simpleType>
									<xs:restriction base="xs:string" xmlns="">
										<xs:maxLength value="255" />
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element nillable="true" minOccurs="0" maxOccurs="unbounded"
								name="ssn">
								<xs:simpleType>
									<xs:restriction base="xs:string" xmlns="">
										<xs:maxLength value="128" />
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element type="xs:dateTime" nillable="true"
								minOccurs="0" maxOccurs="unbounded" name="serviceDate" xmlns="" />
							<xs:element type="xs:string" nillable="true"
								minOccurs="0" maxOccurs="unbounded" name="seatingChart" xmlns="" />
							<xs:element nillable="true" minOccurs="0" maxOccurs="unbounded"
								name="salutation">
								<xs:simpleType>
									<xs:restriction base="xs:string" xmlns="">
										<xs:maxLength value="128" />
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element type="xs:double" nillable="true"
								minOccurs="0" maxOccurs="unbounded" name="salaryProrating"
								xmlns="" />
							<xs:element type="xs:double" nillable="true"
								minOccurs="0" maxOccurs="unbounded" name="salaryLocal" xmlns="" />
							<xs:element type="xs:double" nillable="true"
								minOccurs="0" maxOccurs="unbounded" name="salaryBudgetTotalRaisePercentage"
								xmlns="" />
							<xs:element type="xs:double" nillable="true"
								minOccurs="0" maxOccurs="unbounded" name="salaryBudgetPromotionPercentage"
								xmlns="" />
							<xs:element type="xs:double" nillable="true"
								minOccurs="0" maxOccurs="unbounded" name="salaryBudgetMeritPercentage"
								xmlns="" />
							<xs:element type="xs:double" nillable="true"
								minOccurs="0" maxOccurs="unbounded" name="salaryBudgetLumpsumPercentage"
								xmlns="" />
							<xs:element type="xs:double" nillable="true"
								minOccurs="0" maxOccurs="unbounded" name="salaryBudgetFinalSalaryPercentage"
								xmlns="" />
							<xs:element type="xs:double" nillable="true"
								minOccurs="0" maxOccurs="unbounded" name="salaryBudgetExtraPercentage"
								xmlns="" />
							<xs:element type="xs:double" nillable="true"
								minOccurs="0" maxOccurs="unbounded" name="salaryBudgetExtra2Percentage"
								xmlns="" />
							<xs:element type="xs:double" nillable="true"
								minOccurs="0" maxOccurs="unbounded" name="salary" xmlns="" />
							<xs:element type="xs:string" nillable="true"
								minOccurs="0" maxOccurs="unbounded" name="riskOfLoss" xmlns="" />
							<xs:element nillable="true" minOccurs="0" maxOccurs="unbounded"
								name="reviewFreq">
								<xs:simpleType>
									<xs:restriction base="xs:string" xmlns="">
										<xs:maxLength value="255" />
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element type="xs:string" nillable="true"
								minOccurs="0" maxOccurs="unbounded" name="reloWilling" xmlns="" />
							<xs:element type="xs:string" nillable="true"
								minOccurs="0" maxOccurs="unbounded" name="reloLocation" xmlns="" />
							<xs:element type="xs:string" nillable="true"
								minOccurs="0" maxOccurs="unbounded" name="reloComments" xmlns="" />
							<xs:element type="xs:string" nillable="true"
								minOccurs="0" maxOccurs="unbounded" name="reasonForLeaving"
								xmlns="" />
							<xs:element type="xs:double" nillable="true"
								minOccurs="0" maxOccurs="unbounded" name="raiseProrating" xmlns="" />
							<xs:element type="xs:double" nillable="true"
								minOccurs="0" maxOccurs="unbounded" name="promotionAmount"
								xmlns="" />
							<xs:element type="xs:float" nillable="true" minOccurs="0"
								maxOccurs="unbounded" name="potential" xmlns="" />
							<xs:element type="xs:float" nillable="true" minOccurs="0"
								maxOccurs="unbounded" name="performance" xmlns="" />
							<xs:element type="xs:string" nillable="true"
								minOccurs="0" maxOccurs="unbounded" name="payGrade" xmlns="" />
							<xs:element nillable="true" minOccurs="0" maxOccurs="unbounded"
								name="password">
								<xs:simpleType>
									<xs:restriction base="xs:string" xmlns="">
										<xs:maxLength value="128" />
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element type="xs:dateTime" nillable="true"
								minOccurs="0" maxOccurs="unbounded" name="origHireDate" xmlns="" />
							<xs:element type="xs:float" nillable="true" minOccurs="0"
								maxOccurs="unbounded" name="objective" xmlns="" />
							<xs:element nillable="true" minOccurs="0" maxOccurs="unbounded"
								name="nickname">
								<xs:simpleType>
									<xs:restriction base="xs:string" xmlns="">
										<xs:maxLength value="128" />
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element type="xs:boolean" nillable="true"
								minOccurs="0" maxOccurs="unbounded" name="newToPosition" xmlns="" />
							<xs:element type="xs:string" nillable="true"
								minOccurs="0" maxOccurs="unbounded" name="nationality" xmlns="" />
							<xs:element type="xs:boolean" nillable="true"
								minOccurs="0" maxOccurs="unbounded" name="minority" xmlns="" />
							<xs:element nillable="true" minOccurs="0" maxOccurs="unbounded"
								name="mi">
								<xs:simpleType>
									<xs:restriction base="xs:string" xmlns="">
										<xs:maxLength value="128" />
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element type="xs:dateTime" nillable="true"
								minOccurs="0" maxOccurs="unbounded" name="meritTarget" xmlns="" />
							<xs:element type="xs:dateTime" nillable="true"
								minOccurs="0" maxOccurs="unbounded" name="meritEffectiveDate"
								xmlns="" />
							<xs:element type="xs:boolean" nillable="true"
								minOccurs="0" maxOccurs="unbounded" name="matrixManaged" xmlns="" />
							<xs:element type="xs:boolean" nillable="true"
								minOccurs="0" maxOccurs="unbounded" name="married" xmlns="" />
							<xs:element type="xs:double" nillable="true"
								minOccurs="0" maxOccurs="unbounded" name="lumpsumTarget" xmlns="" />
							<xs:element type="xs:double" nillable="true"
								minOccurs="0" maxOccurs="unbounded" name="lumpsum2Target" xmlns="" />
							<xs:element nillable="true" minOccurs="0" maxOccurs="unbounded"
								name="location">
								<xs:simpleType>
									<xs:restriction base="xs:string" xmlns="">
										<xs:maxLength value="128" />
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element type="xs:string" nillable="true"
								minOccurs="0" maxOccurs="unbounded" name="localCurrencyCode"
								xmlns="" />
							<xs:element type="xs:string" nillable="true"
								minOccurs="0" maxOccurs="unbounded" name="level" xmlns="" />
							<xs:element type="xs:string" nillable="true"
								minOccurs="0" maxOccurs="unbounded" name="lastReviewDate" xmlns="" />
							<xs:element nillable="true" minOccurs="0" maxOccurs="unbounded"
								name="lastName">
								<xs:simpleType>
									<xs:restriction base="xs:string" xmlns="">
										<xs:maxLength value="128" />
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element type="xs:boolean" nillable="true"
								minOccurs="0" maxOccurs="unbounded" name="keyPosition" xmlns="" />
							<xs:element type="xs:string" nillable="true"
								minOccurs="0" maxOccurs="unbounded" name="jobTitle" xmlns="" />
							<xs:element type="xs:string" nillable="true"
								minOccurs="0" maxOccurs="unbounded" name="jobRole" xmlns="" />
							<xs:element type="xs:string" nillable="true"
								minOccurs="0" maxOccurs="unbounded" name="jobLevel" xmlns="" />
							<xs:element type="xs:string" nillable="true"
								minOccurs="0" maxOccurs="unbounded" name="jobFamily" xmlns="" />
							<xs:element nillable="true" minOccurs="0" maxOccurs="unbounded"
								name="jobCode">
								<xs:simpleType>
									<xs:restriction base="xs:string" xmlns="">
										<xs:maxLength value="128" />
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element type="xs:string" nillable="true"
								minOccurs="0" maxOccurs="unbounded" name="issueComments" xmlns="" />
							<xs:element type="xs:string" nillable="true"
								minOccurs="0" maxOccurs="unbounded" name="impactOfLossComments"
								xmlns="" />
							<xs:element type="xs:string" nillable="true"
								minOccurs="0" maxOccurs="unbounded" name="impactOfLoss" xmlns="" />
							<xs:element type="xs:string" nillable="true"
								minOccurs="0" maxOccurs="unbounded" name="homePhone" xmlns="" />
							<xs:element type="xs:dateTime" nillable="true"
								minOccurs="0" maxOccurs="unbounded" name="hireDate" xmlns="" />
							<xs:element type="xs:string" nillable="true"
								minOccurs="0" maxOccurs="unbounded" name="gender" xmlns="" />
							<xs:element type="xs:boolean" nillable="true"
								minOccurs="0" maxOccurs="unbounded" name="futureLeader" xmlns="" />
							<xs:element nillable="true" minOccurs="0" maxOccurs="unbounded"
								name="firstName">
								<xs:simpleType>
									<xs:restriction base="xs:string" xmlns="">
										<xs:maxLength value="128" />
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element type="xs:string" nillable="true"
								minOccurs="0" maxOccurs="unbounded" name="finalJobRole" xmlns="" />
							<xs:element type="xs:string" nillable="true"
								minOccurs="0" maxOccurs="unbounded" name="finalJobFamily" xmlns="" />
							<xs:element type="xs:string" nillable="true"
								minOccurs="0" maxOccurs="unbounded" name="finalJobCode" xmlns="" />
							<xs:element nillable="true" minOccurs="0" maxOccurs="unbounded"
								name="fax">
								<xs:simpleType>
									<xs:restriction base="xs:string" xmlns="">
										<xs:maxLength value="20" />
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element type="xs:string" nillable="true"
								minOccurs="0" maxOccurs="unbounded" name="ethnicity" xmlns="" />
							<xs:element nillable="true" minOccurs="0" maxOccurs="unbounded"
								name="empId">
								<xs:simpleType>
									<xs:restriction base="xs:string" xmlns="">
										<xs:maxLength value="255" />
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element nillable="true" minOccurs="0" maxOccurs="unbounded"
								name="email">
								<xs:simpleType>
									<xs:restriction base="xs:string" xmlns="">
										<xs:maxLength value="100" />
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element nillable="true" minOccurs="0" maxOccurs="unbounded"
								name="division">
								<xs:simpleType>
									<xs:restriction base="xs:string" xmlns="">
										<xs:maxLength value="128" />
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element nillable="true" minOccurs="0" maxOccurs="unbounded"
								name="department">
								<xs:simpleType>
									<xs:restriction base="xs:string" xmlns="">
										<xs:maxLength value="128" />
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element type="xs:dateTime" nillable="true"
								minOccurs="0" maxOccurs="unbounded" name="dateOfBirth" xmlns="" />
							<xs:element nillable="true" minOccurs="0" maxOccurs="unbounded"
								name="custom01">
								<xs:simpleType>
									<xs:restriction base="xs:string" xmlns="">
										<xs:maxLength value="255" />
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element type="xs:string" nillable="true"
								minOccurs="0" maxOccurs="unbounded" name="criticalTalentComments"
								xmlns="" />
							<xs:element nillable="true" minOccurs="0" maxOccurs="unbounded"
								name="country">
								<xs:simpleType>
									<xs:restriction base="xs:string" xmlns="">
										<xs:maxLength value="255" />
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element type="xs:float" nillable="true" minOccurs="0"
								maxOccurs="unbounded" name="competency" xmlns="" />
							<xs:element type="xs:boolean" nillable="true"
								minOccurs="0" maxOccurs="unbounded" name="compensationStockEligible"
								xmlns="" />
							<xs:element type="xs:long" nillable="true" minOccurs="0"
								maxOccurs="unbounded" name="compensationSalaryRateUnits" xmlns="" />
							<xs:element type="xs:string" nillable="true"
								minOccurs="0" maxOccurs="unbounded" name="compensationSalaryRateType"
								xmlns="" />
							<xs:element type="xs:boolean" nillable="true"
								minOccurs="0" maxOccurs="unbounded" name="compensationSalaryEligible"
								xmlns="" />
							<xs:element type="xs:boolean" nillable="true"
								minOccurs="0" maxOccurs="unbounded" name="compensationReadOnly"
								xmlns="" />
							<xs:element type="xs:boolean" nillable="true"
								minOccurs="0" maxOccurs="unbounded" name="compensationEligible"
								xmlns="" />
							<xs:element type="xs:boolean" nillable="true"
								minOccurs="0" maxOccurs="unbounded" name="compensationBonusEligible"
								xmlns="" />
							<xs:element nillable="true" minOccurs="0" maxOccurs="unbounded"
								name="city">
								<xs:simpleType>
									<xs:restriction base="xs:string" xmlns="">
										<xs:maxLength value="255" />
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element type="xs:string" nillable="true"
								minOccurs="0" maxOccurs="unbounded" name="citizenship" xmlns="" />
							<xs:element type="xs:string" nillable="true"
								minOccurs="0" maxOccurs="unbounded" name="cellPhone" xmlns="" />
							<xs:element type="xs:string" nillable="true"
								minOccurs="0" maxOccurs="unbounded" name="businessSegment"
								xmlns="" />
							<xs:element nillable="true" minOccurs="0" maxOccurs="unbounded"
								name="businessPhone">
								<xs:simpleType>
									<xs:restriction base="xs:string" xmlns="">
										<xs:maxLength value="255" />
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element type="xs:double" nillable="true"
								minOccurs="0" maxOccurs="unbounded" name="bonusTarget" xmlns="" />
							<xs:element type="xs:double" nillable="true"
								minOccurs="0" maxOccurs="unbounded" name="bonusBudgetAmount"
								xmlns="" />
							<xs:element type="xs:string" nillable="true"
								minOccurs="0" maxOccurs="unbounded" name="benchStrength" xmlns="" />
							<xs:element type="xs:string" nillable="true"
								minOccurs="0" maxOccurs="unbounded" name="addressLine3" xmlns="" />
							<xs:element nillable="true" minOccurs="0" maxOccurs="unbounded"
								name="addressLine2">
								<xs:simpleType>
									<xs:restriction base="xs:string" xmlns="">
										<xs:maxLength value="255" />
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element nillable="true" minOccurs="0" maxOccurs="unbounded"
								name="addressLine1">
								<xs:simpleType>
									<xs:restriction base="xs:string" xmlns="">
										<xs:maxLength value="255" />
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element nillable="true" minOccurs="0" maxOccurs="unbounded"
								name="RemoveUser">
								<xs:simpleType>
									<xs:restriction base="xs:string" xmlns="">
										<xs:maxLength value="100" />
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element nillable="true" minOccurs="0" maxOccurs="unbounded"
								name="RemoveEmployment">
								<xs:simpleType>
									<xs:restriction base="xs:string" xmlns="">
										<xs:maxLength value="100" />
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>