Resources/schemas/Xsd/SAP_Complaint_Handling_Integration_with_Master_Data_and_Business_Objects - MM_Target.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="root">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="row" maxOccurs="unbounded" >
            <xs:complexType>
                <xs:sequence>
                    <xs:element type="xs:string" minOccurs="0" maxOccurs="1" name="materialCode"/>
                    <xs:element minOccurs="0" maxOccurs="unbounded" name="texts">
                    <xs:complexType>
                            <xs:sequence>
                                <xs:element type="xs:string" minOccurs="0" maxOccurs="1" name="locale"/>
                                <xs:element type="xs:string" minOccurs="0" maxOccurs="1" name="materialDescription"/>
                            </xs:sequence>
                        </xs:complexType>
                    </xs:element>
                    <xs:element type="xs:string" minOccurs="0" maxOccurs="1" name="materialType"/>
                    <xs:element type="xs:string" minOccurs="0" maxOccurs="1" name="unformattedMaterialCode"/>
                    <xs:element type="xs:string" minOccurs="0" maxOccurs="1" name="materialGroup"/>
                    <xs:element type="xs:string" minOccurs="0" maxOccurs="1" name="baseUnitOfMeasure_code"/>
                    <xs:element type="xs:string" minOccurs="0" maxOccurs="1" name="division"/>
                    <xs:element type="xs:string" minOccurs="0" maxOccurs="1" name="xPlantMaterialStatus"/>
                    <xs:element type="xs:string" minOccurs="0" maxOccurs="1" name="validFrom"/>
                    <xs:element type="xs:string" minOccurs="0" maxOccurs="1" name="grossWeight"/>
                    <xs:element type="xs:string" minOccurs="0" maxOccurs="1" name="weightUnit_code"/>
                    <xs:element type="xs:string" minOccurs="0" maxOccurs="1" name="netWeight"/>
                    <xs:element type="xs:string" minOccurs="0" maxOccurs="1" name="volume"/>
                    <xs:element type="xs:string" minOccurs="0" maxOccurs="1" name="volumeUnit_code"/>
                    <xs:element type="xs:string" minOccurs="0" maxOccurs="1" name="sizeDimensions"/>
                    <xs:element type="xs:string" minOccurs="0" maxOccurs="1" name="EAN_UPC"/>
                    <xs:element type="xs:string" minOccurs="0" maxOccurs="1" name="EANCategary"/>
                    <xs:element type="xs:string" minOccurs="0" maxOccurs="1" name="productCompositionIndicator"/>
                    <xs:element type="xs:string" minOccurs="0" maxOccurs="1" name="packagingMaterialGroup"/>
                    <xs:element type="xs:string" minOccurs="0" maxOccurs="1" name="authorizationGroup"/>
                    <xs:element type="xs:string" minOccurs="0" maxOccurs="1" name="productDocumentChangeNumber"/>
                    <xs:element type="xs:string" minOccurs="0" maxOccurs="1" name="industrySector"/>
                    <xs:element type="xs:string" minOccurs="0" maxOccurs="1" name="isBatchManagementRequired"/>
                    <xs:element type="xs:string" minOccurs="0" maxOccurs="1" name="isMarkedForDeletion"/>
                    <xs:element type="xs:string" minOccurs="0" maxOccurs="1" name="isRelevantForHzdsSubstances"/>
                    <xs:element type="xs:string" minOccurs="0" maxOccurs="1" name="itemCategoryGroup"/>
                    <xs:element type="xs:string" minOccurs="0" maxOccurs="1" name="productHierarchy"/>
                    <xs:element type="xs:string" minOccurs="0" maxOccurs="1" name="productIsConfigurable"/>
                    <xs:element type="xs:string" minOccurs="0" maxOccurs="1" name="productOldID"/>
                    <xs:element type="xs:string" minOccurs="0" maxOccurs="1" name="qltyMgmtInProcmtIsActive"/>
                    <xs:element minOccurs="0" maxOccurs="unbounded" name="materialPlantSalesTypes">
                        <xs:complexType>
                            <xs:sequence>
                                <xs:element type="xs:string" minOccurs="0" maxOccurs="1" name="plantCode"/>
                                <xs:element type="xs:float" minOccurs="0" maxOccurs="1" name="availabilityCheckType"/>
                            </xs:sequence>
                        </xs:complexType>
                    </xs:element>
                    <xs:element minOccurs="0" maxOccurs="unbounded" name="materialSalesOrganization">
                        <xs:complexType>
                            <xs:sequence>
                                <xs:element type="xs:string" minOccurs="0" maxOccurs="1" name="salesOrganizationCode"/>
                                <xs:element type="xs:float" minOccurs="0" maxOccurs="1" name="distributionChannelCode"/>
                                <xs:element type="xs:string" minOccurs="0" maxOccurs="1" name="salesUnitOfMeasure_code"/>
                            </xs:sequence>
                        </xs:complexType>
                    </xs:element>
                    <xs:element minOccurs="1" maxOccurs="unbounded" name="alternativeUnitOfMeasure">
                        <xs:complexType>
                            <xs:sequence>
                                <xs:element type="xs:string" minOccurs="0" maxOccurs="1" name="alternateUOM_code"/>
                                <xs:element type="xs:decimal" minOccurs="0" maxOccurs="1" name="numerator"/>
                                <xs:element type="xs:decimal" minOccurs="0" maxOccurs="1" name="denominator"/>
                            </xs:sequence>
                        </xs:complexType>
                    </xs:element>
                </xs:sequence>
            </xs:complexType>
        </xs:element>
        <xs:element type="xs:string" minOccurs="0" maxOccurs="1" name="DRF_Id"/>
        <xs:element type="xs:string" minOccurs="0" maxOccurs="1" name="Sender_Id"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>