Resources/schemas/Xsd/SAP_S-4HANA_Cloud_Public_Edition_Integration_with_Shopify - partner_create.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- Created with Liquid Technologies Online Tools 1.0 (https://www.liquid-technologies.com) -->
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="nodes" minOccurs="0">
    <xs:complexType mixed="true">
      <xs:sequence>
        <xs:element name="displayName" type="xs:string" minOccurs="0" />
        <xs:element name="id" type="xs:string" minOccurs="0" />
        <xs:element name="updatedAt" type="xs:dateTime" minOccurs="0" />
        <xs:element name="defaultAddress" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="countryCode" type="xs:string" minOccurs="0" />
              <xs:element name="zip" type="xs:string" minOccurs="0" />
              <xs:element name="city" type="xs:string" minOccurs="0" />
              <xs:element name="address1" type="xs:string" minOccurs="0" />
              <xs:element name="address2" minOccurs="0" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="locale" type="xs:string" minOccurs="0" />
        <xs:element name="addresses" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="id" type="xs:string" minOccurs="0" />
              <xs:element name="address1" type="xs:string" minOccurs="0" />
              <xs:element name="address2" minOccurs="0" />
              <xs:element name="city" type="xs:string" minOccurs="0" />
              <xs:element name="zip" type="xs:string" minOccurs="0" />
              <xs:element name="countryCode" type="xs:string" minOccurs="0" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="taxExempt" type="xs:boolean" minOccurs="0" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>