Resources/schemas/Xsd/SAP_SuccessFactors_Employee_Central_Integration_with_SAP_Concur - 320_xsd.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="root">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="Record" maxOccurs="unbounded" minOccurs="0">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="TrxType">
							  <xs:simpleType>
							    <xs:restriction base="xs:string">
							      <xs:maxLength value = "3"/>
							    </xs:restriction>
							  </xs:simpleType>
							</xs:element>
							<xs:element name="PreviousEmployeeID">
							  <xs:simpleType>
							    <xs:restriction base="xs:string">
							      <xs:maxLength value = "48"/>
							    </xs:restriction>
							  </xs:simpleType>
							</xs:element>
							<xs:element name="NewEmployeeID">
							  <xs:simpleType>
							    <xs:restriction base="xs:string">
							      <xs:maxLength value = "48"/>
							    </xs:restriction>
							  </xs:simpleType>
							</xs:element>
							<xs:element name="NewLoginID">
							  <xs:simpleType>
							    <xs:restriction base="xs:string">
							      <xs:maxLength value = "64"/>
							    </xs:restriction>
							  </xs:simpleType>
							</xs:element>
							<xs:element name="FutureUse1">
							  <xs:simpleType>
							    <xs:restriction base="xs:string">
							      <xs:maxLength value = "1"/>
							    </xs:restriction>
							  </xs:simpleType>
							</xs:element>
							<xs:element name="FutureUse2">
							  <xs:simpleType>
							    <xs:restriction base="xs:string">
							      <xs:maxLength value = "1"/>
							    </xs:restriction>
							  </xs:simpleType>
							</xs:element>
							<xs:element name="FutureUse3">
							  <xs:simpleType>
							    <xs:restriction base="xs:string">
							      <xs:maxLength value = "1"/>
							    </xs:restriction>
							  </xs:simpleType>
							</xs:element>
							<xs:element name="FutureUse4">
							  <xs:simpleType>
							    <xs:restriction base="xs:string">
							      <xs:maxLength value = "1"/>
							    </xs:restriction>
							  </xs:simpleType>
							</xs:element>
							<xs:element name="FutureUse5">
							  <xs:simpleType>
							    <xs:restriction base="xs:string">
							      <xs:maxLength value = "1"/>
							    </xs:restriction>
							  </xs:simpleType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>