Resources/schemas/Xsd/SAP_Complaint_Handling_Integration_For_Supplier_Complaints - qn_soap_request.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="root">
    <xs:complexType>
      <xs:sequence>
        <xs:element type="xs:byte" name="defectCode"/>
        <xs:element type="xs:string" name="defectCodeGroup"/>
        <xs:element type="xs:string" name="defectDescription"/>
        <xs:element type="xs:string" name="material"/>
        <xs:element type="xs:string" name="notificationType"/>
        <xs:element name="personDetails">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="code"/>
              <xs:element type="xs:string" name="role"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element type="xs:byte" name="plant"/>
        <xs:element type="xs:byte" name="purchaseOrderItem"/>
        <xs:element type="xs:long" name="purchaseOrderNumber"/>
        <xs:element type="xs:byte" name="purchasingOrg"/>
        <xs:element type="xs:byte" name="quantity"/>
        <xs:element name="supplierDetails">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="code"/>
              <xs:element type="xs:string" name="role"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element type="xs:string" name="unitCode"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>