Resources/schemas/Xsd/SAP_Document_and_Reporting_Compliance-_Electronic_Invoice_for_Saudi_Arabia - zatcaResponse-2.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema	xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	elementFormDefault="qualified" attributeFormDefault="unqualified">

	<xsd:element name="zatcaResponse" type="zatcaResponseType"/>
	<xsd:complexType name="zatcaResponseType">
		<xsd:sequence>
		    <xsd:element name="invoiceHash" type="xsd:base64Binary" minOccurs="0" maxOccurs="1"></xsd:element>
            <xsd:element name="validationResults" type="validationResultsType" minOccurs="0" maxOccurs="1"></xsd:element>
            <xsd:element name="clearanceStatus"	type="xsd:string" minOccurs="0" maxOccurs="1"></xsd:element>
            <xsd:element name="clearedInvoice"	type="xsd:base64Binary" minOccurs="0" maxOccurs="1"></xsd:element>
            <xsd:element name="reportingStatus"	type="xsd:string" minOccurs="0" maxOccurs="1"></xsd:element>
            <xsd:element name="qrSellertStatus"	type="xsd:string" minOccurs="0" maxOccurs="1"></xsd:element>
            <xsd:element name="qrBuyertStatus"	type="xsd:string" minOccurs="0" maxOccurs="1"></xsd:element>
		</xsd:sequence>
	</xsd:complexType>

    <xsd:complexType name="validationResultsType">
        <xsd:sequence>
			<xsd:element name="infoMessages" type="messageType" minOccurs="0" maxOccurs="unbounded"></xsd:element>
            <xsd:element name="warningMessages" type="messageType" minOccurs="0" maxOccurs="unbounded"></xsd:element>
			<xsd:element name="errorMessages" type="messageType" minOccurs="0" maxOccurs="unbounded"></xsd:element>
            <xsd:element name="status"	type="xsd:string" minOccurs="0" maxOccurs="1"></xsd:element>
		</xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="messageType">
        <xsd:sequence>
			<xsd:element name="type" type="xsd:string" minOccurs="0" maxOccurs="1"></xsd:element>
            <xsd:element name="code" type="xsd:string" minOccurs="0" maxOccurs="1"></xsd:element>
            <xsd:element name="category" type="xsd:string" minOccurs="0" maxOccurs="1"></xsd:element>
            <xsd:element name="message" type="xsd:string" minOccurs="0" maxOccurs="1"></xsd:element>
            <xsd:element name="status" type="xsd:string" minOccurs="0" maxOccurs="1"></xsd:element>
		</xsd:sequence>
    </xsd:complexType>
</xsd:schema>