Resources/schemas/Xsd/SAP_Commerce_financial_services_accelerator_integration_with_SAP_for_Insurance - fsa.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- Created with Liquid Technologies Online Tools 1.0 (https://www.liquid-technologies.com) -->
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="root">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="claimHandler" minOccurs="0">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="email" type="xs:string"  minOccurs="0"/>
                            <xs:element name="externalId" type="xs:string"  minOccurs="0"/>
                            <xs:element name="name" type="xs:string"  minOccurs="0"/>
                            <xs:element name="telephone"  minOccurs="0"/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="claimNumber" type="xs:unsignedByte"  minOccurs="0"/>
                <xs:element name="claimStatus" minOccurs="0">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="code" type="xs:string"  minOccurs="0"/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="dateOfLoss" type="xs:dateTime"  minOccurs="0"/>
                <xs:element name="incidentType" minOccurs="0">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="catalogVersion" minOccurs="0">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="catalog" minOccurs="0">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name="id" type="xs:string"  minOccurs="0"/>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element name="version" type="xs:string"  minOccurs="0"/>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="incidentCode" type="xs:string"  minOccurs="0"/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="insurancePolicy" minOccurs="0">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="contractId" type="xs:unsignedLong"  minOccurs="0"/>
                            <xs:element name="policyId" type="xs:unsignedLong"  minOccurs="0"/>
                            <xs:element name="versionNumber" type="xs:unsignedByte"  minOccurs="0"/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="requestId" type="xs:unsignedShort"  minOccurs="0"/>
                <xs:element name="subClaims" maxOccurs="unbounded" minOccurs="0">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="claimant" minOccurs="0">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="email" type="xs:string"  minOccurs="0"/>
                                        <xs:element name="externalId" type="xs:string"  minOccurs="0"/>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="status" minOccurs="0">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="code" type="xs:string"  minOccurs="0"/>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="subClaimNumber" type="xs:unsignedByte"  minOccurs="0"/>
                            <xs:element name="type" minOccurs="0">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="code" type="xs:string"  minOccurs="0"/>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="transactions" maxOccurs="unbounded" minOccurs="0">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="amount" type="xs:unsignedShort" minOccurs="0" />
                            <xs:element name="code" type="xs:unsignedShort" minOccurs="0" />
                            <xs:element name="payee" type="xs:string"  minOccurs="0"/>
                            <xs:element name="type" minOccurs="0">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="code" type="xs:string"  minOccurs="0"/>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="user" minOccurs="0">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="externalId" type="xs:string"  minOccurs="0"/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>