Resources/schemas/Xsd/SAP_Solution_Sales_Configuration_Cloud_edition_integration_with_SAP_CPQ_and_SAP_S-4HANA - Item_ExternalConfig_SSC.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified"
	xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="ExternalConfiguration">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="kbId" type="xs:short" minOccurs="0"/>
				<xs:element name="kbKey" minOccurs="0">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="logsys" type="xs:string" minOccurs="0"/>
							<xs:element name="name" type="xs:string" minOccurs="0"/>
							<xs:element name="version" type="xs:float" minOccurs="0"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="kbBuild" type="xs:byte" minOccurs="0"/>
				<xs:element name="consistent" type="xs:string" minOccurs="0"/>
				<xs:element name="complete" type="xs:string" minOccurs="0"/>
				<xs:element name="rootItem" minOccurs="0">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="id" type="xs:byte" minOccurs="0"/>
							<xs:element name="objectKey" minOccurs="0">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="id" type="xs:string" minOccurs="0"/>
										<xs:element name="type" type="xs:string" minOccurs="0"/>
										<xs:element name="classType" type="xs:short" minOccurs="0"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="objectKeyAuthor" type="xs:byte" minOccurs="0"/>
							<xs:element name="bomPosition" type="xs:string" minOccurs="0"/>
							<xs:element name="bomPositionObjectKey" minOccurs="0">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="id" type="xs:string" minOccurs="0"/>
										<xs:element name="type" type="xs:string" minOccurs="0"/>
										<xs:element name="classType" type="xs:short" minOccurs="0"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="bomPositionAuthor" type="xs:string" minOccurs="0"/>
							<xs:element name="quantity" minOccurs="0">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="value" type="xs:float" minOccurs="0"/>
										<xs:element name="unit" type="xs:string" minOccurs="0"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="fixedQuantity" type="xs:string" minOccurs="0"/>
							<xs:element name="salesRelevant" type="xs:string" minOccurs="0"/>
							<xs:element name="consistent" type="xs:string" minOccurs="0"/>
							<xs:element name="complete" type="xs:string" minOccurs="0"/>
							<xs:element name="characteristics" minOccurs="0" maxOccurs="unbounded">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="id" type="xs:string" minOccurs="0"/>
										<xs:element name="required" type="xs:string" minOccurs="0"/>
										<xs:element name="visible" type="xs:string" minOccurs="0"/>
										<xs:element name="values" minOccurs="0" maxOccurs="unbounded">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="value" type="xs:string" minOccurs="0"/>
													<xs:element name="author" type="xs:string" minOccurs="0"/>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="variantConditions" type="xs:string" minOccurs="0"/>
							<xs:element name="subItems" minOccurs="0" maxOccurs="unbounded">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="id" type="xs:byte" minOccurs="0"/>
										<xs:element name="objectKey" minOccurs="0">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="id" type="xs:string" minOccurs="0"/>
													<xs:element name="type" type="xs:string" minOccurs="0"/>
													<xs:element name="classType" type="xs:short" minOccurs="0"/>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
										<xs:element name="objectKeyAuthor" type="xs:byte" minOccurs="0"/>
										<xs:element name="bomPositionIdentifier" type="xs:string" minOccurs="0"/>
										<xs:element name="bomPosition" type="xs:string" minOccurs="0"/>
										<xs:element name="bomPositionObjectKey" minOccurs="0">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="id" type="xs:string" minOccurs="0"/>
													<xs:element name="type" type="xs:string" minOccurs="0"/>
													<xs:element name="classType" type="xs:short" minOccurs="0"/>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
										<xs:element name="bomPositionAuthor" type="xs:string" minOccurs="0"/>
										<xs:element name="quantity" minOccurs="0">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="value" type="xs:float" minOccurs="0"/>
													<xs:element name="unit" type="xs:string" minOccurs="0"/>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
										<xs:element name="fixedQuantity" type="xs:string" minOccurs="0"/>
										<xs:element name="salesRelevant" type="xs:string" minOccurs="0"/>
										<xs:element name="consistent" type="xs:string" minOccurs="0"/>
										<xs:element name="complete" type="xs:string" minOccurs="0"/>
										<xs:element name="characteristics" minOccurs="0" maxOccurs="unbounded">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="id" type="xs:string" minOccurs="0"/>
													<xs:element name="required" type="xs:string" minOccurs="0"/>
													<xs:element name="visible" type="xs:string" minOccurs="0"/>
													<xs:element name="values" minOccurs="0" maxOccurs="unbounded">
														<xs:complexType>
															<xs:sequence>
																<xs:element name="value" type="xs:string" minOccurs="0"/>
																<xs:element name="author" type="xs:string" minOccurs="0"/>
															</xs:sequence>
														</xs:complexType>
													</xs:element>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
										<xs:element name="variantConditions" type="xs:string" minOccurs="0"/>
										<xs:element name="subItems" minOccurs="0" maxOccurs="unbounded">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="id" type="xs:byte" minOccurs="0"/>
													<xs:element name="objectKey" minOccurs="0">
														<xs:complexType>
															<xs:sequence>
																<xs:element name="id" type="xs:string" minOccurs="0"/>
																<xs:element name="type" type="xs:string" minOccurs="0"/>
																<xs:element name="classType" type="xs:short" minOccurs="0"/>
															</xs:sequence>
														</xs:complexType>
													</xs:element>
													<xs:element name="objectKeyAuthor" type="xs:byte" minOccurs="0"/>
													<xs:element name="bomPositionIdentifier" type="xs:string" minOccurs="0"/>
													<xs:element name="bomPosition" type="xs:string" minOccurs="0"/>
													<xs:element name="bomPositionObjectKey" minOccurs="0">
														<xs:complexType>
															<xs:sequence>
																<xs:element name="id" type="xs:string" minOccurs="0"/>
																<xs:element name="type" type="xs:string" minOccurs="0"/>
																<xs:element name="classType" type="xs:short" minOccurs="0"/>
															</xs:sequence>
														</xs:complexType>
													</xs:element>
													<xs:element name="bomPositionAuthor" type="xs:string" minOccurs="0"/>
													<xs:element name="quantity" minOccurs="0">
														<xs:complexType>
															<xs:sequence>
																<xs:element name="value" type="xs:float" minOccurs="0"/>
																<xs:element name="unit" type="xs:string" minOccurs="0"/>
															</xs:sequence>
														</xs:complexType>
													</xs:element>
													<xs:element name="fixedQuantity" type="xs:string" minOccurs="0"/>
													<xs:element name="salesRelevant" type="xs:string" minOccurs="0"/>
													<xs:element name="consistent" type="xs:string" minOccurs="0"/>
													<xs:element name="complete" type="xs:string" minOccurs="0"/>
													<xs:element name="characteristics" minOccurs="0" maxOccurs="unbounded">
														<xs:complexType>
															<xs:sequence>
																<xs:element name="id" type="xs:string" minOccurs="0"/>
																<xs:element name="required" type="xs:string" minOccurs="0"/>
																<xs:element name="visible" type="xs:string" minOccurs="0"/>
																<xs:element name="values" minOccurs="0" maxOccurs="unbounded">
																	<xs:complexType>
																		<xs:sequence>
																			<xs:element name="value" type="xs:string" minOccurs="0"/>
																			<xs:element name="author" type="xs:string" minOccurs="0"/>
																		</xs:sequence>
																	</xs:complexType>
																</xs:element>
															</xs:sequence>
														</xs:complexType>
													</xs:element>
													<xs:element name="variantConditions" type="xs:string" minOccurs="0"/>
													<xs:element name="subItems" minOccurs="0" maxOccurs="unbounded">
														<xs:complexType>
															<xs:sequence>
																<xs:element name="id" type="xs:byte" minOccurs="0"/>
																<xs:element name="objectKey" minOccurs="0">
																	<xs:complexType>
																		<xs:sequence>
																			<xs:element name="id" type="xs:string" minOccurs="0"/>
																			<xs:element name="type" type="xs:string" minOccurs="0"/>
																			<xs:element name="classType" type="xs:short" minOccurs="0"/>
																		</xs:sequence>
																	</xs:complexType>
																</xs:element>
																<xs:element name="objectKeyAuthor" type="xs:byte" minOccurs="0"/>
																<xs:element name="bomPosition" type="xs:string" minOccurs="0"/>
																<xs:element name="bomPositionObjectKey" minOccurs="0">
																	<xs:complexType>
																		<xs:sequence>
																			<xs:element name="id" type="xs:string" minOccurs="0"/>
																			<xs:element name="type" type="xs:string" minOccurs="0"/>
																			<xs:element name="classType" type="xs:short" minOccurs="0"/>
																		</xs:sequence>
																	</xs:complexType>
																</xs:element>
																<xs:element name="bomPositionAuthor" type="xs:string" minOccurs="0"/>
																<xs:element name="quantity" minOccurs="0">
																	<xs:complexType>
																		<xs:sequence>
																			<xs:element name="value" type="xs:float" minOccurs="0"/>
																			<xs:element name="unit" type="xs:string" minOccurs="0"/>
																		</xs:sequence>
																	</xs:complexType>
																</xs:element>
																<xs:element name="fixedQuantity" type="xs:string" minOccurs="0"/>
																<xs:element name="salesRelevant" type="xs:string" minOccurs="0"/>
																<xs:element name="consistent" type="xs:string" minOccurs="0"/>
																<xs:element name="complete" type="xs:string" minOccurs="0"/>
																<xs:element name="characteristics" minOccurs="0" maxOccurs="unbounded">
																	<xs:complexType>
																		<xs:sequence>
																			<xs:element name="id" type="xs:string" minOccurs="0"/>
																			<xs:element name="required" type="xs:string" minOccurs="0"/>
																			<xs:element name="visible" type="xs:string" minOccurs="0"/>
																			<xs:element name="values" minOccurs="0" maxOccurs="unbounded">
																				<xs:complexType>
																					<xs:sequence>
																						<xs:element name="value" type="xs:string" minOccurs="0"/>
																						<xs:element name="author" type="xs:string" minOccurs="0"/>
																					</xs:sequence>
																				</xs:complexType>
																			</xs:element>
																		</xs:sequence>
																	</xs:complexType>
																</xs:element>
																<xs:element name="variantConditions" type="xs:string" minOccurs="0"/>
																<xs:element name="subItems" minOccurs="0" maxOccurs="unbounded">
																	<xs:complexType>
																		<xs:sequence>
																			<xs:element name="id" type="xs:byte" minOccurs="0"/>
																			<xs:element name="objectKey" minOccurs="0">
																				<xs:complexType>
																					<xs:sequence>
																						<xs:element name="id" type="xs:string" minOccurs="0"/>
																						<xs:element name="type" type="xs:string" minOccurs="0"/>
																						<xs:element name="classType" type="xs:short" minOccurs="0"/>
																					</xs:sequence>
																				</xs:complexType>
																			</xs:element>
																			<xs:element name="objectKeyAuthor" type="xs:byte" minOccurs="0"/>
																			<xs:element name="bomPosition" type="xs:string" minOccurs="0"/>
																			<xs:element name="bomPositionObjectKey" minOccurs="0">
																				<xs:complexType>
																					<xs:sequence>
																						<xs:element name="id" type="xs:string" minOccurs="0"/>
																						<xs:element name="type" type="xs:string" minOccurs="0"/>
																						<xs:element name="classType" type="xs:short" minOccurs="0"/>
																					</xs:sequence>
																				</xs:complexType>
																			</xs:element>
																			<xs:element name="bomPositionAuthor" type="xs:string" minOccurs="0"/>
																			<xs:element name="quantity" minOccurs="0">
																				<xs:complexType>
																					<xs:sequence>
																						<xs:element name="value" type="xs:float" minOccurs="0"/>
																						<xs:element name="unit" type="xs:string" minOccurs="0"/>
																					</xs:sequence>
																				</xs:complexType>
																			</xs:element>
																			<xs:element name="fixedQuantity" type="xs:string" minOccurs="0"/>
																			<xs:element name="salesRelevant" type="xs:string" minOccurs="0"/>
																			<xs:element name="consistent" type="xs:string" minOccurs="0"/>
																			<xs:element name="complete" type="xs:string" minOccurs="0"/>
																			<xs:element name="characteristics" minOccurs="0" maxOccurs="unbounded">
																				<xs:complexType>
																					<xs:sequence>
																						<xs:element name="id" type="xs:string" minOccurs="0"/>
																						<xs:element name="required" type="xs:string" minOccurs="0"/>
																						<xs:element name="visible" type="xs:string" minOccurs="0"/>
																						<xs:element name="values" minOccurs="0" maxOccurs="unbounded">
																							<xs:complexType>
																								<xs:sequence>
																									<xs:element name="value" type="xs:string" minOccurs="0"/>
																									<xs:element name="author" type="xs:string" minOccurs="0"/>
																								</xs:sequence>
																							</xs:complexType>
																						</xs:element>
																					</xs:sequence>
																				</xs:complexType>
																			</xs:element>
																			<xs:element name="variantConditions" type="xs:string" minOccurs="0"/>
																		</xs:sequence>
																	</xs:complexType>
																</xs:element>
															</xs:sequence>
														</xs:complexType>
													</xs:element>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="configXML" type="xs:string" minOccurs="0"/>
				<xs:element name="context" minOccurs="0" maxOccurs="unbounded">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="name" type="xs:string" minOccurs="0"/>
							<xs:element name="value" type="xs:string" minOccurs="0"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
