Resources/schemas/Xsd/SAP_Build_Process_Automation_Integration_with_SAP_S-4HANA_for_Journal_Entry_Posting_Approval - outputDataRFCAsInput.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="unqualified" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:sap-com:document:sap:rfc:functions">
	<xs:element name="BAPI_ACC_DOCUMENT_POST">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="DOCUMENTHEADER">
					<xs:complexType>
						<xs:sequence>
						    <xs:element name="USERNAME" minOccurs="0" maxOccurs="1" type="xs:string"/>
							<xs:element name="COMP_CODE" minOccurs="0" maxOccurs="1" type="xs:string"/>
							<xs:element name="DOC_TYPE" minOccurs="0" maxOccurs="1" type="xs:string"/>
							<xs:element name="DOC_DATE" minOccurs="0" maxOccurs="1" type="xs:string"/>
							<xs:element name="PSTNG_DATE" minOccurs="0" maxOccurs="1" type="xs:string"/>
							<xs:element name="FIS_PERIOD" minOccurs="0" maxOccurs="1" type="xs:string"/>
							<xs:element name="HEADER_TXT" minOccurs="0" maxOccurs="1" type="xs:string"/>
							<xs:element name="LEDGER_GROUP" minOccurs="0" maxOccurs="1" type="xs:string"/>
							<xs:element name="TRANS_DATE" minOccurs="0" maxOccurs="1" type="xs:string"/>
							<xs:element name="REF_DOC_NO" minOccurs="0" maxOccurs="1" type="xs:string"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
							<xs:element name="ACCOUNTGL" minOccurs="0">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="item" minOccurs="0" maxOccurs="unbounded">
											<xs:complexType>
												<xs:sequence>
												<xs:element name="ITEMNO_ACC" minOccurs="0" maxOccurs="1" type="xs:string"/>
													<xs:element name="COMP_CODE" minOccurs="0" maxOccurs="1" type="xs:string"/>
													<xs:element name="GL_ACCOUNT" minOccurs="0" maxOccurs="1" type="xs:string"/>
													<xs:element name="ITEM_TEXT" minOccurs="0" maxOccurs="1" type="xs:string"/>
													<xs:element name="TAX_CODE" minOccurs="0" maxOccurs="1" type="xs:string"/>
													<xs:element name="TAXJURCODE" minOccurs="0" maxOccurs="1" type="xs:string"/>
													<xs:element name="COSTCENTER" minOccurs="0" maxOccurs="1" type="xs:string"/>
													<xs:element name="PROFIT_CTR" minOccurs="0" maxOccurs="1" type="xs:string"/>
													<xs:element name="ORDERID" minOccurs="0" maxOccurs="1" type="xs:string"/>
													<xs:element name="WBS_ELEMENT" minOccurs="0" maxOccurs="1" type="xs:string"/>
													<xs:element name="VALUE_DATE" minOccurs="0" maxOccurs="1" type="xs:string"/>
													<xs:element name="HOUSEBANKID" minOccurs="0" maxOccurs="1" type="xs:string"/>
													<xs:element name="HOUSEBANKACCTID" minOccurs="0" maxOccurs="1" type="xs:string"/>
													<xs:element name="ALLOC_NMBR" minOccurs="0" maxOccurs="1" type="xs:string"/>
													<xs:element name="TRADE_ID" minOccurs="0" maxOccurs="1" type="xs:string"/>
													<xs:element name="SEGMENT" minOccurs="0" maxOccurs="1" type="xs:string"/>
													<xs:element name="CS_TRANS_T" minOccurs="0" maxOccurs="1" type="xs:string"/>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="ACCOUNTRECEIVABLE" minOccurs="0">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="item" minOccurs="0" maxOccurs="unbounded">
											<xs:complexType>
												<xs:sequence>
												<xs:element name="ITEMNO_ACC" minOccurs="0" maxOccurs="1" type="xs:string"/>
													<xs:element name="COMP_CODE" minOccurs="0" maxOccurs="1" type="xs:string"/>
													<xs:element name="GL_ACCOUNT" minOccurs="0" maxOccurs="1" type="xs:string"/>
													<xs:element name="ITEM_TEXT" minOccurs="0" maxOccurs="1" type="xs:string"/>
													<xs:element name="TAX_CODE" minOccurs="0" maxOccurs="1" type="xs:string"/>
													<xs:element name="TAXJURCODE" minOccurs="0" maxOccurs="1" type="xs:string"/>
													<xs:element name="PROFIT_CTR" minOccurs="0" maxOccurs="1" type="xs:string"/>
													<xs:element name="ALLOC_NMBR" minOccurs="0" maxOccurs="1" type="xs:string"/>
													<xs:element name="CUSTOMER" minOccurs="0" maxOccurs="1" type="xs:string"/>
													<xs:element name="BANK_ID" minOccurs="0" maxOccurs="1" type="xs:string"/>
													<xs:element name="HOUSEBANKACCTID" minOccurs="0" maxOccurs="1" type="xs:string"/>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="ACCOUNTPAYABLE" minOccurs="0">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="item" minOccurs="0" maxOccurs="unbounded">
											<xs:complexType>
												<xs:sequence>
												<xs:element name="ITEMNO_ACC" minOccurs="0" maxOccurs="1" type="xs:string"/>
												<xs:element name="COMP_CODE" minOccurs="0" maxOccurs="1" type="xs:string"/>
													<xs:element name="GL_ACCOUNT" minOccurs="0" maxOccurs="1" type="xs:string"/>
													<xs:element name="ITEM_TEXT" minOccurs="0" maxOccurs="1" type="xs:string"/>
													<xs:element name="TAX_CODE" minOccurs="0" maxOccurs="1" type="xs:string"/>
													<xs:element name="TAXJURCODE" minOccurs="0" maxOccurs="1" type="xs:string"/>
													<xs:element name="PROFIT_CTR" minOccurs="0" maxOccurs="1" type="xs:string"/>
													<xs:element name="ALLOC_NMBR" minOccurs="0" maxOccurs="1" type="xs:string"/>
													<xs:element name="VENDOR_NO" minOccurs="0" maxOccurs="1" type="xs:string"/>
											        <xs:element name="BANK_ID" minOccurs="0" maxOccurs="1" type="xs:string"/>
													<xs:element name="HOUSEBANKACCTID" minOccurs="0" maxOccurs="1" type="xs:string"/>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="CURRENCYAMOUNT" minOccurs="0">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="item" minOccurs="0" maxOccurs="unbounded">
											<xs:complexType>
												<xs:sequence>
												<xs:element name="ITEMNO_ACC" minOccurs="0" maxOccurs="1" type="xs:string"/>
													<xs:element name="CURRENCY_ISO" minOccurs="0" maxOccurs="1" type="xs:string"/>
													<xs:element name="AMT_DOCCUR" minOccurs="0" maxOccurs="1" type="xs:string"/>
													<xs:element name="AMT_BASE" minOccurs="0" maxOccurs="1" type="xs:string"/>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="ACCOUNTTAX" minOccurs="0">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="item" minOccurs="0" maxOccurs="unbounded">
											<xs:complexType>
												<xs:sequence>
												    <xs:element name="ITEMNO_ACC" minOccurs="0" maxOccurs="1" type="xs:string"/>
													<xs:element name="GL_ACCOUNT" minOccurs="0" maxOccurs="1" type="xs:string"/>
													<xs:element name="TAX_CODE" minOccurs="0" maxOccurs="1" type="xs:string"/>
													<xs:element name="TAXJURCODE" minOccurs="0" maxOccurs="1" type="xs:string"/>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
