Resources/schemas/Xsd/SAP_Customer_Data_Cloud_Integration_with_SAP_S-4HANA - customerDataInCDC.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="customers">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="customer" minOccurs = "0" maxOccurs = "unbounded">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="profile.email"/>
              <xs:element type="xs:string" name="profile.firstName"/>
              <xs:element type="xs:string" name="profile.lastName"/>
              <xs:element type="xs:string" name="UID"/>
             <!-- <xs:element type="xs:string" name="department"/>
              <xs:element type="xs:string" name="phone"/>
              <xs:element type="xs:string" name="customField"/>
              <xs:element type="xs:string" name="jobFunction"/>-->
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>