Resources/schemas/Xsd/SAP_Customer_Relationship_Management_Integration_with_SAP_Field_Service_Management - ContactPersonMapping.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  
 <xs:element name="Contact" type="ContactPerson"/>
  
  <xs:complexType name="ContPers">
    <xs:sequence>
     <xs:element type="xs:string" name="externalId"/>
      <xs:element type="xs:string" name="birthDate" minOccurs="0"/>
      <xs:element type="xs:string" name="code"  minOccurs="0"/>
      <xs:element type="xs:string" name="defaultContact"  minOccurs="0"/>
      <xs:element type="xs:string" name="emailAddress"  minOccurs="0"/>
      <xs:element type="xs:string" name="fax"  minOccurs="0"/>
      <xs:element type="xs:string" name="firstName"  minOccurs="0"/>
      <xs:element type="xs:string" name="gender"  minOccurs="0"/>
      <xs:element type="xs:string" name="lastName"  minOccurs="0"/>
      <xs:element type="xs:string" name="mobilePhone"  minOccurs="0"/>
      <xs:element name="object">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="objectId">
              <xs:complexType>
                <xs:sequence>
                  <xs:element type="xs:short" name="externalId"/>
                </xs:sequence>
              </xs:complexType>
            </xs:element>
            <xs:element type="xs:string" name="objectType"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element type="xs:string" name="officePhone"  minOccurs="0"/>
      <xs:element type="xs:string" name="otherPhone"  minOccurs="0"/>
      <xs:element type="xs:string" name="pager"  minOccurs="0"/>
      <xs:element type="xs:string" name="positionName"  minOccurs="0"/>
      <xs:element type="xs:string" name="profession"  minOccurs="0"/>
      <xs:element type="xs:string" name="remarks"  minOccurs="0"/>
      <xs:element type="xs:string" name="remarks2"  minOccurs="0"/>
      <xs:element type="xs:string" name="skypeName"  minOccurs="0"/>
      <xs:element type="xs:string" name="title"  minOccurs="0"/>
      <xs:element type="xs:string" name="inactive"  minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="ContactPerson">
    <xs:sequence>
      <xs:element type="ContPers" name="CP" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
  
</xs:schema>