Resources/schemas/Xsd/SAP_SuccessFactors_Recruiting_Management_Integration_with_Third_Party_Assessment_Vendor-SHL - AssessmentOrderAcknowledgement.xsd

<?xml version="1.0"?>
<xsd:schema targetNamespace="http://ns.hr-xml.org/2004-08-02" elementFormDefault="qualified" version="2004-08-02" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://ns.hr-xml.org/2004-08-02" xmlns:oa="http://www.openapplications.org/oagis" xmlns:ds="http://www.w3.org/2000/09/xmldsig#">
<!--Normalized (but non-normative) version of schema, with all "includes" inserted explicitly (with annotations).  This file is auto-generated.  It should be considered a "convenience" alternative to the normative versions.-->
<!--
"Copyright  The HR-XML Consortium. All Rights Reserved. http://www.hr-xml.org"
Name: PersonName.xsd
Status: Recommendation
Date this version: http://ns.hr-xml.org/2004-08-02
Purpose: Defines the schema for PersonName
Author(s): Paul Kiel, Kim Bartkus, CPO Workgroup
Documentation: PersonName.html

Terms of license can be found in license.txt.
 
-->
<!--
"Copyright  The HR-XML Consortium. All Rights Reserved. http://www.hr-xml.org"
Name: PostalAddress.xsd
Status: Recommendation
Date this version: 2004-08-02
Purpose: Defines the schema for Postal Address
Author(s): Paul Kiel, Kim Bartkus, CPO Workgroup
Documentation: PostalAddress.html

Terms of license can be found in license.txt.

-->
<!--
"Copyright  The HR-XML Consortium. All Rights Reserved. http://www.hr-xml.org"
Name: xStringPatternExtensionType.xsd
Status: Recommendation
Date this version: 2004-08-02
Purpose: Defines the xStringPatternExtensionType enumeration extension schema.
Author(s):  Technical Steering Committee
Documentation: While the name of the type is different, this schema's functionality is documented in the "Extended Enumerations" section of the SchemaDesignGuidelines.pdf. 

Terms of license can be found in license.txt.

-->
<!--
"Copyright  The HR-XML Consortium. All Rights Reserved. http://www.hr-xml.org"
Name: TelcomNumber.xsd
Status: Recommendation
Date this version: 2004-08-02
Purpose: Schema for Telecommunications data.
Author(s): Don Simonson, Robert Half Int'l., CPO Workgroup
Documentation: ContactMethod.html

Terms of license can be found in license.txt.

-->
<!--
"Copyright  The HR-XML Consortium. All Rights Reserved. http://www.hr-xml.org"
Name: OnlineAddress.xsd
Status: Recommendation
Date this version: 2004-08-02
Purpose: Defines the schema for online addresses.
Author(s): Don Simonson, Robert Half Int'l., CPO Workgroup
Documentation: ContactMethod.html

Terms of license can be found in license.txt.

-->
<!--
"Copyright  The HR-XML Consortium. All Rights Reserved. http://www.hr-xml.org"
Name: ContactMethod.xsd
Status: Recommendation
Date this version: 2004-08-02
Purpose: Defines the schema for contact methods
Author(s): Don Simonson, Robert Half Int'l., CPO Workgroup
Documentation: ContactMethod.html

Terms of license can be found in license.txt.

-->
<!--
Copyright  The HR-XML Consortium. All Rights Reserved. http://www.hr-xml.org
Name: DateTimeDataTypes.xsd
Status: Recommendation
Date Approved: 2004-08-02
Purpose: Defines Date and Time datatypes to be used in HR-XML Consortium work.  
Author(s): Mark Marsden and Paul Kiel, Cross Process Work Group
Documentation: DateTimeDataTypes.html

Terms of license can be found in license.txt.

-->
<!--
"Copyright  The HR-XML Consortium. All Rights Reserved. http://www.hr-xml.org"
Name: EntityIdType.xsd
Status: Recommendation
Date this version: 2004-08-02
Purpose: Defines XSD for Entity Identifiers
Editor: Karl Brophey, Kim Bartkus,  CPO Workgroup
Documentation: EntityIdentifiers.html (IdentifierTypes.html)

Terms of license can be found in license.txt.

-->
<!--
"Copyright  The HR-XML Consortium. All Rights Reserved. http://www.hr-xml.org"
Name: UserArea.xsd
Status: Recommendation
Date this version: 2004-08-02
Purpose: Defines the UserArea extension schema
Author(s):  Technical Steering Committee
Documentation: HRXMLExtension.html

Terms of license can be found in license.txt.

-->
<!--
"Copyright  The HR-XML Consortium. All Rights Reserved. http://www.hr-xml.org"
Name: AssessmentStatus.xsd
Status: Recommendation
Date this version: 2004-08-02
Author(s): Assessment  Work Group
Documentation: Assessments.html

Terms of license can be found in license.txt.

-->
<!--
"Copyright  The HR-XML Consortium. All Rights Reserved. http://www.hr-xml.org"
Name: AssessmentOrderAcknowledgement.xsd
Status: Recommendation
Date this version: 2004-08-02
Author(s): Assessment  Work Group
Documentation: Assessments.html

Terms of license can be found in license.txt.

2004-07-06: An optional attribute xml:lang was added to the root element.
		
		-->
<xsd:import namespace="http://www.w3.org/XML/1998/namespace" schemaLocation="xml.xsd" />
<xsd:simpleType name="xStringPatternExtensionType">
<xsd:restriction base="xsd:string">
<xsd:pattern value="x:\S.*"></xsd:pattern>
</xsd:restriction>
</xsd:simpleType>
<xsd:simpleType name="InternetEmailAddressType">
<xsd:restriction base="xsd:string"></xsd:restriction>
</xsd:simpleType>
<xsd:simpleType name="InternetWebAddressType">
<xsd:restriction base="xsd:string"></xsd:restriction>
</xsd:simpleType>
<xsd:simpleType name="contactMethodUseType">
<xsd:restriction base="xsd:string">
<xsd:enumeration value="business"></xsd:enumeration>
<xsd:enumeration value="businessDirect"></xsd:enumeration>
<xsd:enumeration value="personal"></xsd:enumeration>
</xsd:restriction>
</xsd:simpleType>
<xsd:simpleType name="contactMethodLocationType">
<xsd:restriction base="xsd:string">
<xsd:enumeration value="office"></xsd:enumeration>
<xsd:enumeration value="vehicle"></xsd:enumeration>
<xsd:enumeration value="onPerson"></xsd:enumeration>
<xsd:enumeration value="home"></xsd:enumeration>
</xsd:restriction>
</xsd:simpleType>
<xsd:simpleType name="contactMethodWhenAvailableType">
<xsd:restriction base="xsd:string"></xsd:restriction>
</xsd:simpleType>
<xsd:simpleType name="contactMethodUsePatternExtensionType">
<xsd:union memberTypes="contactMethodUseType xStringPatternExtensionType"></xsd:union>
</xsd:simpleType>
<xsd:simpleType name="contactMethodLocationPatternExtensionType">
<xsd:union memberTypes="contactMethodLocationType xStringPatternExtensionType"></xsd:union>
</xsd:simpleType>
<xsd:simpleType name="contactMethodWhenAvailablePatternExtensionType">
<xsd:union memberTypes="contactMethodWhenAvailableType xStringPatternExtensionType"></xsd:union>
</xsd:simpleType>
<xsd:simpleType name="NotKnownLiteral">
<xsd:restriction base="xsd:string">
<xsd:enumeration value="notKnown"></xsd:enumeration>
</xsd:restriction>
</xsd:simpleType>
<xsd:simpleType name="NotApplicableLiteral">
<xsd:restriction base="xsd:string">
<xsd:enumeration value="notApplicable"></xsd:enumeration>
</xsd:restriction>
</xsd:simpleType>
<xsd:simpleType name="LocalDateType">
<xsd:restriction base="xsd:date">
<xsd:pattern value="\d\d\d\d-\d\d-\d\d"></xsd:pattern>
</xsd:restriction>
</xsd:simpleType>
<xsd:simpleType name="LocalDateNkType">
<xsd:union memberTypes="LocalDateType NotKnownLiteral"></xsd:union>
</xsd:simpleType>
<xsd:simpleType name="LocalDateNaType">
<xsd:union memberTypes="LocalDateType NotApplicableLiteral"></xsd:union>
</xsd:simpleType>
<xsd:simpleType name="LocalDateNkNaType">
<xsd:union memberTypes="LocalDateType NotKnownLiteral NotApplicableLiteral"></xsd:union>
</xsd:simpleType>
<xsd:simpleType name="DateType">
<xsd:restriction base="xsd:date">
<xsd:pattern value="\d\d\d\d-\d\d-\d\d(Z|(\+|-)\d\d:\d\d)"></xsd:pattern>
</xsd:restriction>
</xsd:simpleType>
<xsd:simpleType name="DateNkType">
<xsd:union memberTypes="DateType NotKnownLiteral"></xsd:union>
</xsd:simpleType>
<xsd:simpleType name="DateNaType">
<xsd:union memberTypes="DateType NotApplicableLiteral"></xsd:union>
</xsd:simpleType>
<xsd:simpleType name="DateNkNaType">
<xsd:union memberTypes="DateType NotKnownLiteral NotApplicableLiteral"></xsd:union>
</xsd:simpleType>
<xsd:simpleType name="LocalTimeType">
<xsd:restriction base="xsd:time">
<xsd:pattern value="\d\d:\d\d:\d\d"></xsd:pattern>
</xsd:restriction>
</xsd:simpleType>
<xsd:simpleType name="LocalTimeNkType">
<xsd:union memberTypes="LocalTimeType NotKnownLiteral"></xsd:union>
</xsd:simpleType>
<xsd:simpleType name="LocalTimeNaType">
<xsd:union memberTypes="LocalTimeType NotApplicableLiteral"></xsd:union>
</xsd:simpleType>
<xsd:simpleType name="LocalTimeNkNaType">
<xsd:union memberTypes="LocalTimeType NotKnownLiteral NotApplicableLiteral"></xsd:union>
</xsd:simpleType>
<xsd:simpleType name="TimeType">
<xsd:restriction base="xsd:time">
<xsd:pattern value="\d\d:\d\d:\d\d(Z|(\+|-)\d\d:\d\d)"></xsd:pattern>
</xsd:restriction>
</xsd:simpleType>
<xsd:simpleType name="TimeNkType">
<xsd:union memberTypes="TimeType NotKnownLiteral"></xsd:union>
</xsd:simpleType>
<xsd:simpleType name="TimeNaType">
<xsd:union memberTypes="TimeType NotApplicableLiteral"></xsd:union>
</xsd:simpleType>
<xsd:simpleType name="TimeNkNaType">
<xsd:union memberTypes="TimeType NotKnownLiteral NotApplicableLiteral"></xsd:union>
</xsd:simpleType>
<xsd:simpleType name="LocalDateTimeType">
<xsd:restriction base="xsd:dateTime">
<xsd:pattern value="\d\d\d\d-\d\d-\d\dT\d\d:\d\d:\d\d"></xsd:pattern>
</xsd:restriction>
</xsd:simpleType>
<xsd:simpleType name="LocalDateTimeNkType">
<xsd:union memberTypes="LocalDateTimeType NotKnownLiteral"></xsd:union>
</xsd:simpleType>
<xsd:simpleType name="LocalDateTimeNaType">
<xsd:union memberTypes="LocalDateTimeType NotApplicableLiteral"></xsd:union>
</xsd:simpleType>
<xsd:simpleType name="LocalDateTimeNkNaType">
<xsd:union memberTypes="LocalDateTimeType NotKnownLiteral NotApplicableLiteral"></xsd:union>
</xsd:simpleType>
<xsd:simpleType name="DateTimeType">
<xsd:restriction base="xsd:dateTime">
<xsd:pattern value="\d\d\d\d-\d\d-\d\dT\d\d:\d\d:\d\d(Z|(\+|-)\d\d:\d\d)"></xsd:pattern>
</xsd:restriction>
</xsd:simpleType>
<xsd:simpleType name="DateTimeNkType">
<xsd:union memberTypes="DateTimeType NotKnownLiteral"></xsd:union>
</xsd:simpleType>
<xsd:simpleType name="DateTimeNaType">
<xsd:union memberTypes="DateTimeType NotApplicableLiteral"></xsd:union>
</xsd:simpleType>
<xsd:simpleType name="DateTimeNkNaType">
<xsd:union memberTypes="DateTimeType NotKnownLiteral NotApplicableLiteral"></xsd:union>
</xsd:simpleType>
<xsd:simpleType name="AnyDateTimeType">
<xsd:union memberTypes="LocalDateType DateType LocalDateTimeType DateTimeType"></xsd:union>
</xsd:simpleType>
<xsd:simpleType name="AnyDateTimeNkType">
<xsd:union memberTypes="LocalDateType DateType LocalDateTimeType DateTimeType NotKnownLiteral"></xsd:union>
</xsd:simpleType>
<xsd:simpleType name="AnyDateTimeNaType">
<xsd:union memberTypes="LocalDateType DateType LocalDateTimeType DateTimeType NotApplicableLiteral"></xsd:union>
</xsd:simpleType>
<xsd:simpleType name="AnyDateTimeNkNaType">
<xsd:union memberTypes="LocalDateType DateType LocalDateTimeType DateTimeType NotKnownLiteral NotApplicableLiteral"></xsd:union>
</xsd:simpleType>
<xsd:complexType name="PersonNameType">
<xsd:sequence>
<xsd:element name="FormattedName" minOccurs="0" maxOccurs="unbounded">
<xsd:annotation>
<xsd:documentation>The use of multiple occurrences are officially deprecated and will be changed to single occurrence in a future version.</xsd:documentation>
</xsd:annotation>
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="xsd:string">
<xsd:attribute name="type" default="presentation">
<xsd:annotation>
<xsd:documentation>Deprecated.  "legal" is deprecated in favor of LegalName element.  "sortOrder" is deprecated in favor of creating separate elements.  Since "presentation" is the only enumeration left, the need for this attribute no longer exists.</xsd:documentation>
</xsd:annotation>
<xsd:simpleType>
<xsd:restriction base="xsd:string">
<xsd:enumeration value="presentation"></xsd:enumeration>
<xsd:enumeration value="legal"></xsd:enumeration>
<xsd:enumeration value="sortOrder"></xsd:enumeration>
</xsd:restriction>
</xsd:simpleType>
</xsd:attribute>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:element>
<xsd:element name="LegalName" type="xsd:string" minOccurs="0"></xsd:element>
<xsd:element name="GivenName" type="xsd:string" minOccurs="0" maxOccurs="unbounded"></xsd:element>
<xsd:element name="PreferredGivenName" type="xsd:string" minOccurs="0"></xsd:element>
<xsd:element name="MiddleName" type="xsd:string" minOccurs="0"></xsd:element>
<xsd:element name="FamilyName" minOccurs="0" maxOccurs="unbounded">
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="xsd:string">
<xsd:attribute name="primary" default="undefined">
<xsd:simpleType>
<xsd:restriction base="xsd:string">
<xsd:enumeration value="true"></xsd:enumeration>
<xsd:enumeration value="false"></xsd:enumeration>
<xsd:enumeration value="undefined"></xsd:enumeration>
</xsd:restriction>
</xsd:simpleType>
</xsd:attribute>
<xsd:attribute name="prefix" type="xsd:string"></xsd:attribute>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:element>
<xsd:element name="Affix" minOccurs="0" maxOccurs="unbounded">
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="xsd:string">
<xsd:attribute name="type" use="required">
<xsd:simpleType>
<xsd:restriction base="xsd:string">
<xsd:enumeration value="academicGrade">
<xsd:annotation>
<xsd:documentation>Deprecated in favor of the "qualification" enumeration.</xsd:documentation>
</xsd:annotation>
</xsd:enumeration>
<xsd:enumeration value="aristocraticPrefix">
<xsd:annotation>
<xsd:documentation>Deprecated in favor of FamilyName attribute "prefix".</xsd:documentation>
</xsd:annotation>
</xsd:enumeration>
<xsd:enumeration value="aristocraticTitle"></xsd:enumeration>
<xsd:enumeration value="familyNamePrefix">
<xsd:annotation>
<xsd:documentation>Deprecated in favor of FamilyName attribute "prefix".</xsd:documentation>
</xsd:annotation>
</xsd:enumeration>
<xsd:enumeration value="familyNameSuffix">
<xsd:annotation>
<xsd:documentation>Deprecated.</xsd:documentation>
</xsd:annotation>
</xsd:enumeration>
<xsd:enumeration value="formOfAddress"></xsd:enumeration>
<xsd:enumeration value="generation"></xsd:enumeration>
<xsd:enumeration value="qualification"></xsd:enumeration>
</xsd:restriction>
</xsd:simpleType>
</xsd:attribute>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="PostalAddressType">
<xsd:sequence>
<xsd:element name="CountryCode">
<xsd:simpleType>
<xsd:restriction base="xsd:string">
<xsd:pattern value="[A-Z]{2}"></xsd:pattern>
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
<xsd:element name="PostalCode" type="xsd:string" minOccurs="0"></xsd:element>
<xsd:element name="Region" type="xsd:string" minOccurs="0" maxOccurs="unbounded"></xsd:element>
<xsd:element name="Municipality" type="xsd:string" minOccurs="0"></xsd:element>
<xsd:element name="DeliveryAddress" minOccurs="0">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AddressLine" type="xsd:string" minOccurs="0" maxOccurs="unbounded"></xsd:element>
<xsd:element name="StreetName" type="xsd:string" minOccurs="0"></xsd:element>
<xsd:element name="BuildingNumber" type="xsd:string" minOccurs="0"></xsd:element>
<xsd:element name="Unit" type="xsd:string" minOccurs="0"></xsd:element>
<xsd:element name="PostOfficeBox" type="xsd:string" minOccurs="0"></xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="Recipient" minOccurs="0" maxOccurs="unbounded">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="PersonName" type="PersonNameType" minOccurs="0"></xsd:element>
<xsd:element name="AdditionalText" type="xsd:string" minOccurs="0" maxOccurs="unbounded"></xsd:element>
<xsd:element name="Organization" type="xsd:string" minOccurs="0">
<xsd:annotation>
<xsd:documentation>Deprecated in favor of OrganizationName element.</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="OrganizationName" type="xsd:string" minOccurs="0"></xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
<xsd:attribute name="type" default="undefined">
<xsd:simpleType>
<xsd:restriction base="xsd:string">
<xsd:enumeration value="postOfficeBoxAddress"></xsd:enumeration>
<xsd:enumeration value="streetAddress"></xsd:enumeration>
<xsd:enumeration value="militaryAddress"></xsd:enumeration>
<xsd:enumeration value="undefined"></xsd:enumeration>
</xsd:restriction>
</xsd:simpleType>
</xsd:attribute>
</xsd:complexType>
<xsd:complexType name="TelcomNumberType">
<xsd:choice>
<xsd:element ref="FormattedNumber"></xsd:element>
<xsd:group ref="TelcomNumberGroup"></xsd:group>
</xsd:choice>
</xsd:complexType>
<xsd:complexType name="MobileTelcomNumberType">
<xsd:complexContent>
<xsd:extension base="TelcomNumberType">
<xsd:attribute name="smsEnabled" type="xsd:boolean" use="optional"></xsd:attribute>
</xsd:extension>
</xsd:complexContent>
</xsd:complexType>
<xsd:complexType name="TelcomNumberListType">
<xsd:sequence>
<xsd:element ref="Telephone" minOccurs="0"></xsd:element>
<xsd:element ref="Mobile" minOccurs="0"></xsd:element>
<xsd:element ref="Fax" minOccurs="0"></xsd:element>
<xsd:element ref="Pager" minOccurs="0"></xsd:element>
<xsd:element ref="TTYTDD" minOccurs="0"></xsd:element>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="ContactMethodType">
<xsd:sequence>
<xsd:element ref="Use" minOccurs="0"></xsd:element>
<xsd:element ref="Location" minOccurs="0"></xsd:element>
<xsd:element ref="WhenAvailable" minOccurs="0"></xsd:element>
<xsd:element ref="Telephone" minOccurs="0"></xsd:element>
<xsd:element ref="Mobile" minOccurs="0"></xsd:element>
<xsd:element ref="Fax" minOccurs="0"></xsd:element>
<xsd:element ref="Pager" minOccurs="0"></xsd:element>
<xsd:element ref="TTYTDD" minOccurs="0"></xsd:element>
<xsd:element ref="InternetEmailAddress" minOccurs="0"></xsd:element>
<xsd:element ref="InternetWebAddress" minOccurs="0"></xsd:element>
<xsd:element ref="PostalAddress" minOccurs="0"></xsd:element>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="EntityIdType">
<xsd:sequence>
<xsd:element name="IdValue" maxOccurs="unbounded">
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="xsd:string">
<xsd:attribute name="name" type="xsd:string" use="optional"></xsd:attribute>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
<xsd:attribute name="validFrom" type="AnyDateTimeNkNaType" use="optional"></xsd:attribute>
<xsd:attribute name="validTo" type="AnyDateTimeNkNaType" use="optional"></xsd:attribute>
<xsd:attribute name="idOwner" type="xsd:string" use="optional"></xsd:attribute>
</xsd:complexType>
<xsd:complexType name="UserAreaType">
<xsd:sequence minOccurs="0" maxOccurs="unbounded">
<xsd:annotation>
<xsd:documentation>In order to prevent a possible "ambiguous content model" errors in an instance, unbounded sequences were either eliminated from or deprecated in all HR-XML schemas. Removing unbounded sequences ensures that ambiguous errors are not found in an instance.  The unbounded sequence here is officially deprecated and will be changed to a single sequence.</xsd:documentation>
</xsd:annotation>
<xsd:any namespace="##any" minOccurs="0" maxOccurs="unbounded"></xsd:any>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="AssessmentStatusType">
<xsd:sequence>
<xsd:element name="Status">
<xsd:annotation>
<xsd:documentation>The name of the assessment status. It has to be chosen among the list of possible status</xsd:documentation>
</xsd:annotation>
<xsd:simpleType>
<xsd:restriction base="xsd:string">
<xsd:enumeration value="Pending"></xsd:enumeration>
<xsd:enumeration value="Error"></xsd:enumeration>
<xsd:enumeration value="Acknowledged"></xsd:enumeration>
<xsd:enumeration value="Scheduled"></xsd:enumeration>
<xsd:enumeration value="In Progress"></xsd:enumeration>
<xsd:enumeration value="Cancelled"></xsd:enumeration>
<xsd:enumeration value="Declined"></xsd:enumeration>
<xsd:enumeration value="Completed"></xsd:enumeration>
<xsd:enumeration value="x:Deferred"></xsd:enumeration>
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
<xsd:element name="Details" type="xsd:string" minOccurs="0">
<xsd:annotation>
<xsd:documentation>A textual description that provides additional details</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="StatusDate" type="LocalDateNaType">
<xsd:annotation>
<xsd:documentation>The date the status last changed</xsd:documentation>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="AssessmentRequestType">
<xsd:sequence>
<xsd:element name="ClientId" type="EntityIdType">
<xsd:annotation>
<xsd:documentation>A value that uniquely identifies a client for the 3rd party vendor (assessor). It is up to the vendor to provide the client its identifier.The client id is mandatory for all messages going from a customer to an assessment vendor</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="ProviderId" type="EntityIdType" minOccurs="0">
<xsd:annotation>
<xsd:documentation>A value that uniquely identifies An assessment provider for the customer. It is up to the client to provide the provider its identifier.The provider id should be filled for all messages going from a customer to an assessment vendor</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="ClientOrderId" type="EntityIdType">
<xsd:annotation>
<xsd:documentation>A unique identifier, for the client, to identify the order.There can be multiple order id for one request (e.g. PO #, department)</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="ReceiptId" type="EntityIdType" minOccurs="0">
<xsd:annotation>
<xsd:documentation>A unique identifier supplied by the assessment provider that will allow the client to know how to request updates</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element ref="UserArea" minOccurs="0"></xsd:element>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="AssessmentOrderAcknowledgementType">
<xsd:annotation>
<xsd:documentation>Root element for AssessmentOrderAcknowledgment schema, which is designed to hold data necessary to acknowledge an assessment request.</xsd:documentation>
</xsd:annotation>
<xsd:sequence>
<xsd:element name="ClientId" type="EntityIdType">
<xsd:annotation>
<xsd:documentation>A value that uniquely identifies a client for the 3rd party vendor (assessor). It is up to the vendor to provide the client its identifier.The client id is mandatory for all messages going from a customer to an assessment vendor</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="ProviderId" type="EntityIdType" minOccurs="0">
<xsd:annotation>
<xsd:documentation>A value that uniquely identifies An assessment provider for the customer. It is up to the client to provide the provider its identifier.</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="ReceiptId" type="EntityIdType" minOccurs="0">
<xsd:annotation>
<xsd:documentation>A unique identifier supplied by the assessment provider that will allow the client to know how to request updates</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="ClientOrderId" type="EntityIdType">
<xsd:annotation>
<xsd:documentation>A unique identifier, for the client, to identify the order.There can be multiple order id for one request (e.g. PO #, department)</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="AccessPoint" maxOccurs="unbounded">
<xsd:annotation>
<xsd:documentation>The way to access the Assessment</xsd:documentation>
</xsd:annotation>
<xsd:complexType>
<xsd:complexContent>
<xsd:extension base="ContactMethodType">
<xsd:sequence>
<xsd:element name="Description" type="xsd:string" minOccurs="0">
<xsd:annotation>
<xsd:documentation>Instructions for the subject to access the assessment via this access point.</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="Login" minOccurs="0">
<xsd:annotation>
<xsd:documentation>A login to use to take the assessment</xsd:documentation>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="Token" type="xsd:string" minOccurs="0"></xsd:element>
<xsd:element name="UserName" type="xsd:string" minOccurs="0"></xsd:element>
<xsd:element name="Password" type="xsd:string" minOccurs="0"></xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:extension>
</xsd:complexContent>
</xsd:complexType>
</xsd:element>
<xsd:element name="AssessmentStatus" type="AssessmentStatusType">
<xsd:annotation>
<xsd:documentation>The status of the request at this particular moment</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element ref="UserArea" minOccurs="0"></xsd:element>
</xsd:sequence>
<xsd:attribute ref="xml:lang"></xsd:attribute>
</xsd:complexType>
<xsd:element name="PersonName" type="PersonNameType"></xsd:element>
<xsd:element name="PostalAddress" type="PostalAddressType"></xsd:element>
<xsd:element name="FormattedNumber" type="xsd:string"></xsd:element>
<xsd:element name="InternationalCountryCode" type="xsd:string"></xsd:element>
<xsd:element name="NationalNumber" type="xsd:string"></xsd:element>
<xsd:element name="AreaCityCode" type="xsd:string"></xsd:element>
<xsd:element name="SubscriberNumber" type="xsd:string"></xsd:element>
<xsd:element name="Extension" type="xsd:string"></xsd:element>
<xsd:element name="Telephone" type="TelcomNumberType"></xsd:element>
<xsd:element name="Mobile" type="MobileTelcomNumberType"></xsd:element>
<xsd:element name="Fax" type="TelcomNumberType"></xsd:element>
<xsd:element name="Pager" type="TelcomNumberType"></xsd:element>
<xsd:element name="TTYTDD" type="TelcomNumberType"></xsd:element>
<xsd:element name="InternetEmailAddress" type="InternetEmailAddressType"></xsd:element>
<xsd:element name="InternetWebAddress" type="InternetWebAddressType"></xsd:element>
<xsd:element name="Use" type="contactMethodUsePatternExtensionType"></xsd:element>
<xsd:element name="Location" type="contactMethodLocationPatternExtensionType"></xsd:element>
<xsd:element name="WhenAvailable" type="contactMethodWhenAvailableType"></xsd:element>
<xsd:element name="UserArea" type="UserAreaType">
<xsd:annotation>
<xsd:documentation>HR-XML Technical Steering Committee endorsed extension element.</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="AssessmentStatusRequest" type="AssessmentRequestType">
<xsd:annotation>
<xsd:documentation>Root element for AssessmentStatusRequest schema, which is designed to hold data necessary to request the status of a particular assessment.</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="AssessmentOrderAcknowledgement" type="AssessmentOrderAcknowledgementType">
<xsd:annotation>
<xsd:documentation>Root element for AssessmentOrderAcknowledgment schema, which is designed to hold data necessary to acknowledge an assessment request.</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:group name="TelcomNumberGroup">
<xsd:sequence>
<xsd:element ref="InternationalCountryCode" minOccurs="0"></xsd:element>
<xsd:element ref="NationalNumber" minOccurs="0"></xsd:element>
<xsd:element ref="AreaCityCode" minOccurs="0"></xsd:element>
<xsd:element ref="SubscriberNumber"></xsd:element>
<xsd:element ref="Extension" minOccurs="0"></xsd:element>
</xsd:sequence>
</xsd:group>
</xsd:schema>
