Resources/schemas/Xsd/SAP_Subscription_Billing_Integration_with_SAP_Entitlement_Management - Inbound_Interface_Customer.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema version="1.0" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	  <xsd:element name="root">
    <xsd:complexType>
      <xsd:sequence>
	<xsd:element name="Inbound_Interface_Customer_Master" maxOccurs="1" minOccurs="1">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="Inbound_Interface_Customer_Master">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element maxOccurs="unbounded" minOccurs="1" name="Customers">
								<xsd:complexType>
									<xsd:sequence>
										<xsd:element maxOccurs="1" minOccurs="1" name="CustomerID" type="xsd:string"/>
										<xsd:element maxOccurs="1" minOccurs="1" name="CustomerName" type="xsd:string"/>
										<xsd:element maxOccurs="1" minOccurs="1" name="IsDeleted" type="xsd:boolean"/>
										<xsd:element maxOccurs="1" minOccurs="1" name="SourceSystem" type="xsd:string"/>
									</xsd:sequence>
								</xsd:complexType>
							</xsd:element>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:schema>