Resources/schemas/Xsd/SAP_Qualtrics_Surveys_Integration_With_SAP_Marketing_Cloud_-_Actions_Functionality - QualtricsInputData.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="qualified">
   <xs:element name="root">
      <xs:complexType>
         <xs:sequence>
            <xs:element type="xs:string" maxOccurs="1" name="SurveyId" />
            <xs:element type="xs:string" minOccurs="0" maxOccurs="unbounded" name="OutboundKey" />
            <xs:element type="xs:string" maxOccurs="1" name="ResponseId" />
            <xs:element type="xs:string" minOccurs="0" maxOccurs="1" name="FirstName" />
            <xs:element type="xs:string" minOccurs="0" maxOccurs="1" name="LastName" />
            <xs:element type="xs:string" minOccurs="0" maxOccurs="1" name="Email" />
            <xs:element type="xs:string" maxOccurs="1" name="ResponseUrl" />
            <xs:element type="xs:string" minOccurs="0" maxOccurs="1" name="PhoneNumber" />
            <xs:element type="xs:boolean" minOccurs="0" maxOccurs="1" name="CreateContact" />
            <xs:element type="xs:boolean" minOccurs="0" maxOccurs="1" name="Department" />
            <xs:element type="xs:boolean" minOccurs="0" maxOccurs="1" name="ContactFunction" />
            <xs:element type="xs:boolean" minOccurs="0" maxOccurs="1" name="Language" />
            <xs:element type="xs:boolean" minOccurs="0" maxOccurs="1" name="Industry" />
            <xs:element type="xs:boolean" minOccurs="0" maxOccurs="1" name="Company" />
            <xs:element type="xs:boolean" minOccurs="0" maxOccurs="1" name="City" />
            <xs:element type="xs:boolean" minOccurs="0" maxOccurs="1" name="Country" />
            <xs:element type="xs:boolean" minOccurs="0" maxOccurs="1" name="PostalCode" />
            <xs:element type="xs:boolean" minOccurs="0" maxOccurs="1" name="Region" />
         </xs:sequence>
      </xs:complexType>
   </xs:element>
</xs:schema>