Resources/schemas/Xsd/SAP_Customer_Data_Platform_Integration_with_SAP_S-4HANA_Utilities - output-1.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
          <!-- XML Schema Generated from XML Document on Wed Feb 21 2024 14:25:26 GMT+0100 (Central European Standard Time) -->
          <!-- with XmlGrid.net Free Online Service http://xmlgrid.net -->
       <xs:element name="multimap:Messages">
              <xs:complexType>
                     <xs:sequence>
                            <xs:element name="multimap:Message1">
                                   <xs:complexType>
                                          <xs:sequence>
                                                 <xs:element name="ns0:IsuC4cV2PremiseBpGetResponse">
                                                        <xs:complexType>
                                                               <xs:sequence>
                                                                      <xs:element name="EtBusinessPartner">
                                                                             <xs:complexType>
                                                                                    <xs:sequence>
                                                                                           <xs:element name="item">
                                                                                                  <xs:complexType>
                                                                                                         <xs:sequence>
                                                                                                                <xs:element name="BusinessPartner" type="xs:int"></xs:element>
                                                                                                            </xs:sequence>
                                                                                                     </xs:complexType>
                                                                                              </xs:element>
                                                                                       </xs:sequence>
                                                                                </xs:complexType>
                                                                         </xs:element>
                                                                  </xs:sequence>
                                                               <xs:attribute name="xmlns:ns0" type="xs:string"></xs:attribute>
                                                           </xs:complexType>
                                                    </xs:element>
                                                 <xs:element name="n0:UtilitiesPremiseBulkReplicateRequest">
                                                        <xs:complexType>
                                                               <xs:sequence>
                                                                      <xs:element name="MessageHeader">
                                                                             <xs:complexType>
                                                                                    <xs:sequence>
                                                                                           <xs:element name="UUID" type="xs:string"></xs:element>
                                                                                           <xs:element name="CreationDateTime" type="xs:date"></xs:element>
                                                                                           <xs:element name="SenderBusinessSystemID" type="xs:string"></xs:element>
                                                                                       </xs:sequence>
                                                                                </xs:complexType>
                                                                         </xs:element>
                                                                      <xs:element name="UtilitiesPremiseReplicateRequest">
                                                                             <xs:complexType>
                                                                                    <xs:sequence>
                                                                                           <xs:element name="MessageHeader">
                                                                                                  <xs:complexType>
                                                                                                         <xs:sequence>
                                                                                                                <xs:element name="UUID" type="xs:string"></xs:element>
                                                                                                                <xs:element name="CreationDateTime" type="xs:dateTime"></xs:element>
                                                                                                                <xs:element name="SenderBusinessSystemID" type="xs:string"></xs:element>
                                                                                                            </xs:sequence>
                                                                                                     </xs:complexType>
                                                                                              </xs:element>
                                                                                           <xs:element name="UtilitiesPremise">
                                                                                                  <xs:complexType>
                                                                                                         <xs:sequence>
                                                                                                                <xs:element name="ID" type="xs:int"></xs:element>
                                                                                                                <xs:element name="PremiseType" type="xs:int"></xs:element>
                                                                                                                <xs:element name="InstallationPointAddressInformation">
                                                                                                                       <xs:complexType>
                                                                                                                              <xs:sequence>
                                                                                                                                     <xs:element name="HouseID" type="xs:int"></xs:element>
                                                                                                                                     <xs:element name="StreetPostalCode" type="xs:int"></xs:element>
                                                                                                                                     <xs:element name="CityName" type="xs:string"></xs:element>
                                                                                                                                     <xs:element name="StreetName" type="xs:string"></xs:element>
                                                                                                                                     <xs:element name="CountryCode" type="xs:string"></xs:element>
                                                                                                                                     <xs:element name="RegionCode" type="xs:int"></xs:element>
                                                                                                                                     <xs:element name="TimeZoneCode" type="xs:string"></xs:element>
                                                                                                                                 </xs:sequence>
                                                                                                                          </xs:complexType>
                                                                                                                   </xs:element>
                                                                                                            </xs:sequence>
                                                                                                     </xs:complexType>
                                                                                              </xs:element>
                                                                                       </xs:sequence>
                                                                                </xs:complexType>
                                                                         </xs:element>
                                                                  </xs:sequence>
                                                               <xs:attribute name="xmlns:n0" type="xs:string"></xs:attribute>
                                                               <xs:attribute name="xmlns:soap" type="xs:string"></xs:attribute>
                                                               <xs:attribute name="xmlns:prx" type="xs:string"></xs:attribute>
                                                           </xs:complexType>
                                                    </xs:element>
                                             </xs:sequence>
                                      </xs:complexType>
                               </xs:element>
                        </xs:sequence>
                     <xs:attribute name="xmlns:multimap" type="xs:string"></xs:attribute>
                 </xs:complexType>
          </xs:element>
   </xs:schema>