Resources/schemas/Xsd/SAP_Intelligent_Trade_Claims_Management_integration_with_SAP_S-4HANA_and_SAP_Trade_Promotion_Management_for_Settlement - odm.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- Created with Liquid Technologies Online Tools 1.0 (https://www.liquid-technologies.com) -->
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="root">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="settlementId" type="xs:unsignedShort" />
        <xs:element name="settlementUUID" type="xs:string" />
        <xs:element name="settlementType" type="xs:string" />
        <xs:element name="claimID" type="xs:unsignedLong" />
        <xs:element name="claimType" type="xs:string" />
        <xs:element name="planningAccount" type="xs:unsignedInt" />
        <xs:element name="payer" />
        <xs:element name="payee" type="xs:unsignedInt" />
        <xs:element name="companyCode" type="xs:unsignedByte" />
        <xs:element name="currency" />
        <xs:element name="salesOrganization" type="xs:unsignedShort" />
        <xs:element name="distributionChannel" type="xs:unsignedByte" />
        <xs:element name="division" type="xs:unsignedByte" />
        <xs:element name="salesOffice" />
        <xs:element name="salesGroup" />
        <xs:element name="status" type="xs:string" />
        <xs:element name="postingDate" />
        <xs:element name="documentDate" />
        <xs:element name="cancellationOn" />
        <xs:element name="references" />
        <xs:element name="postingStatus" />
        <xs:element name="paymentMethod" />
        <xs:element name="paymentTerms" />
        <xs:element name="VATRegistrationNumber" />
        <xs:element name="grossAmount">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="amount" type="xs:unsignedByte" />
              <xs:element name="currency" type="xs:string" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="netAmount">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="amount" type="xs:unsignedByte" />
              <xs:element name="currency" type="xs:string" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="taxAmount">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="amount" type="xs:unsignedByte" />
              <xs:element name="currency" type="xs:string" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="followOnDocument" />
        <xs:element name="action" type="xs:string" />
        <xs:element name="items" />
        <xs:element name="residualItemRef">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="accountingDocument" type="xs:unsignedInt" />
              <xs:element name="accountingDocumentItem" type="xs:unsignedByte" />
              <xs:element name="fiscalYear" type="xs:unsignedShort" />
              <xs:element name="companyCode" type="xs:unsignedByte" />
              <xs:element name="amountInTransactionCurrency" type="xs:unsignedByte" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="additionalText" />
        <xs:element name="activityReason" />
        <xs:element name="createdOn" type="xs:dateTime" />
        <xs:element name="changedOn" type="xs:dateTime" />
        <xs:element name="createdBy" />
        <xs:element name="changedBy" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>