Resources/schemas/Xsd/SAP_Commerce_Cloud_Integration_with_SAP_S-4HANA_Retail_and_SAP_ERP - cLSMASClassAttributeAssignment.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="ClassAttributeAssignment" type="ClassAttributeAssignment"/>
	<xs:complexType name="simpleHybrisField">
		<xs:simpleContent>
			<xs:extension base="xs:string">
				<xs:attribute name="header" type="xs:string"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="localizedHybrisField">
		<xs:sequence>
			<xs:element maxOccurs="unbounded" minOccurs="0" name="value">
				<xs:complexType>
					<xs:simpleContent>
						<xs:extension base="xs:string">
							<xs:attribute name="locale" type="xs:string"/>
						</xs:extension>
					</xs:simpleContent>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="header" type="xs:string"/>
	</xs:complexType>
	<xs:complexType name="ClassAttributeAssignment">
		<xs:sequence>
			<xs:element name="classificationClass" type="simpleHybrisField"/>
			<xs:element name="classificationAttribute" type="simpleHybrisField"/>
			<xs:element name="attributeType" type="simpleHybrisField"/>
			<xs:element name="multiValued" type="simpleHybrisField"/>
			<xs:element name="unit" type="simpleHybrisField"/>
			<xs:element name="formatDefinition" type="simpleHybrisField"/>
			<xs:element name="range" type="simpleHybrisField"/>
		</xs:sequence>
	</xs:complexType>
</xs:schema>