Resources/schemas/Xsd/SAP_Commerce_financial_services_accelerator_integration_with_SAP_for_Insurance - FSA_MAIN_All_Result.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
     <xs:element name="Cart">
        <xs:complexType>
          <xs:sequence>
     <xs:element name="coverages" minOccurs="1" maxOccurs="unbounded">
        <xs:complexType>
          <xs:sequence>
              <xs:element type="xs:byte"  name="entryNumber"/>
              <xs:element type="xs:float" name="premiumAfterTax"/>
              <xs:element type="xs:float" name="premiumBeforeTax"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="quoteInformation" minOccurs="1" maxOccurs="1">
        <xs:complexType>
          <xs:sequence>
              <xs:element type="xs:string" name="policyNumber"/>
              <xs:element type="xs:string" name="submissionNumber"/>
              <xs:element type="xs:date"   name="endDate"/>
              <xs:element type="xs:float"  name="premiumAfterTax"/>
              <xs:element type="xs:float"  name="premiumBeforeTax"/>
              <xs:element type="xs:string" name="quoteId"/>
              <xs:element type="xs:string" name="underwritingResult"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
</xs:schema>