Resources/schemas/Xsd/SAP_Entitlement_Management_Integration_with_SAP_S-4HANA_Cloud - Sync_Customer.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema version="1.0" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<xsd:element name="root">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element maxOccurs="unbounded" minOccurs="1" name="Customers">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element maxOccurs="1" minOccurs="1" name="ID" type="xsd:string"/>
							<xsd:element maxOccurs="1" minOccurs="1" name="Name" type="xsd:string"/>
							<xsd:element maxOccurs="1" minOccurs="0" name="IsMarkedForDeletion" type="xsd:boolean"/>
							<xsd:element maxOccurs="1" minOccurs="1" name="SourceSystem" type="xsd:string"/>
							<xsd:element maxOccurs="1" minOccurs="0" name="ValidTo" type="xsd:date"/>
							<xsd:element maxOccurs="1" minOccurs="0" name="Group" type="xsd:string"/>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
</xsd:schema>