Resources/schemas/Xsd/SAP_S-4HANA_for_central_procurement_–_Central_Purchasing_Integration_with_Third_Party_System - PO_Extraction_SAP.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="PurOrderHeaders">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="PurOrderHeader" minOccurs="1" maxOccurs="unbounded">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="Extractioncategory" />
              <xs:element type="xs:string" name="Purgreleasesequencestatus" />
              <xs:element type="xs:string" name="Invoicingparty" />
              <xs:element type="xs:byte" name="Cashdiscount2days" />
              <xs:element type="xs:string" name="Documentcurrency" />
              <xs:element type="xs:byte" name="Cashdiscount1days" />
              <xs:element type="xs:string" name="Releaseisnotcompleted" />
              <xs:element type="xs:string" name="Purchasingcompletenessstatus" />
              <xs:element type="xs:string" name="Validitystartdate" />
              <xs:element type="xs:byte" name="Purchaseorderoutputstatus" />
              <xs:element type="xs:string" name="Isattachmentavailable" />
              <xs:element type="xs:byte" name="Purchasingdocumentorigin" />
              <xs:element type="xs:byte" name="Paymentterms" />
              <xs:element type="xs:float" name="Exchangerate" />
              <xs:element type="xs:string" name="Purchaseordertype" />
              <xs:element type="xs:string" name="Incotermstransferlocation" />
              <xs:element type="xs:string" name="Extractiontype" />
              <xs:element type="xs:string" name="Pricingprocedure" />
              <xs:element type="xs:byte" name="Netpaymentdays" />
              <xs:element type="xs:float" name="Cashdiscount2percent" />
              <xs:element type="xs:string" name="Createdbyuser" />
              <xs:element type="xs:byte" name="Purchasinggroup" />
              <xs:element name="to_PurchaseOrderHeaderNotes">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="PurchaseOrderHeaderNotes" maxOccurs="unbounded" minOccurs="0">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="to_PurchaseOrderHeaderTextLine">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="PurchaseOrderHeaderTextLine" maxOccurs="unbounded" minOccurs="0">
                                  <xs:complexType>
                                    <xs:sequence>
                                      <xs:element type="xs:string" name="ProcmtHubTextLineFormat" />
                                      <xs:element type="xs:string" name="ProcmtHubTextLineElement" />
                                      <xs:element type="xs:long" name="PurchaseOrder" />
                                    </xs:sequence>
                                  </xs:complexType>
                                </xs:element>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                          <xs:element type="xs:long" name="ProcmtHubApplicationObjID" />
                          <xs:element type="xs:string" name="ProcmtHubTextTypeDescription" />
                          <xs:element type="xs:long" name="PurchaseOrder" />
                          <xs:element type="xs:string" name="ProcmtHubLanguageKey" />
                          <xs:element type="xs:string" name="ProcmtHubApplicationObjType" />
                          <xs:element type="xs:string" name="ProcmtHubTextTypeID" />
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element type="xs:byte" name="Purchasingorganization" />
              <xs:element type="xs:dateTime" name="Lastchangedatetime" />
              <xs:element type="xs:string" name="Purchasingdocumentdeletioncode" />
              <xs:element type="xs:string" name="Purchasingdocumentcategory" />
              <xs:element type="xs:string" name="Userdescription" />
              <xs:element type="xs:dateTime" name="Purchaseorderdate" />
              <xs:element name="to_PurOrderItem">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="PurOrderItem" minOccurs="0" maxOccurs="unbounded">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element type="xs:string" name="Storagelocation" />
                          <xs:element type="xs:float" name="Orderquantity" />
                          <xs:element type="xs:byte" name="Purchasecontractitem" />
                          <xs:element type="xs:string" name="Customer" />
                          <xs:element type="xs:short" name="Referencedeliveryaddressid" />
                          <xs:element type="xs:byte" name="Materialgroup" />
                          <xs:element type="xs:byte" name="Purchaserequisitionitem" />
                          <xs:element type="xs:string" name="Manualdeliveryaddressid" />
                          <xs:element type="xs:long" name="Purchasinginforecord" />
                          <xs:element type="xs:string" name="Purchaseorderquantityunit" />
                          <xs:element type="xs:string" name="PurchaseOrderQtyUnitISOCode" />
                          <xs:element type="xs:string" name="CustomerAddressID" />
                          <xs:element name="to_PurOrderItemAddress">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="PurOrderItemAddress" minOccurs="0" maxOccurs="unbounded">
                                  <xs:complexType>
                                    <xs:sequence>
                                      <xs:element type="xs:string" name="Businesspartnername1" />
                                      <xs:element type="xs:string" name="Businesspartnername2" />
                                      <xs:element type="xs:short" name="Itemdeliveryaddressid" />
                                      <xs:element type="xs:string" name="Faxnumber" />
                                      <xs:element type="xs:string" name="Formofaddress" />
                                      <xs:element type="xs:byte" name="Purchaseorderitem" />
                                      <xs:element type="xs:byte" name="Housenumber" />
                                      <xs:element type="xs:string" name="Correspondencelanguage" />
                                      <xs:element type="xs:string" name="Streetname" />
                                      <xs:element type="xs:int" name="Postalcode" />
                                      <xs:element type="xs:string" name="Region" />
                                      <xs:element type="xs:string" name="Country" />
                                      <xs:element type="xs:long" name="Purchaseorder" />
                                      <xs:element type="xs:string" name="Cityname" />
                                      <xs:element type="xs:string" name="Phonenumber" />
                                    </xs:sequence>
                                  </xs:complexType>
                                </xs:element>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                          <xs:element type="xs:string" name="Taxcode" />
                          <xs:element type="xs:string" name="Isattachmentavailable" />
                          <xs:element type="xs:string" name="Orderpriceunit" />
                          <xs:element type="xs:float" name="Netamount" />
                          <xs:element type="xs:string" name="ProductType" />
                          <xs:element type="xs:byte" name="Orderitemqtytobaseqtydnmntr" />
                          <xs:element type="xs:string" name="Commoditycode" />
                          <xs:element type="xs:byte" name="Purchaseorderitemcategory" />
                          <xs:element type="xs:string" name="Incotermstransferlocation" />
                          <xs:element type="xs:string" name="Taxjurisdiction" />
                          <xs:element type="xs:string" name="SubcontractorAddressID" />
                          <xs:element type="xs:string" name="Unlimitedoverdeliveryisallowed" />
                          <xs:element type="xs:string" name="Baseunit" />
                          <xs:element type="xs:string" name="BaseUnitISOCode" />
                          <xs:element type="xs:string" name="Invoiceisexpected" />
                          <xs:element type="xs:string" name="Taxprocedure" />
                          <xs:element type="xs:string" name="Materialtype" />
                          <xs:element type="xs:string" name="Multipleacctassgmtdistribution" />
                          <xs:element type="xs:string" name="Purchasingdocumentdeletioncode" />
                          <xs:element type="xs:byte" name="Purchaseorderitem" />
                          <xs:element type="xs:float" name="OverallLimitAmount" />
                          <xs:element name="to_PurOrderAccAssignment" minOccurs="0" maxOccurs="unbounded">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="PurOrderItemAccAssignment">
                                  <xs:complexType>
                                    <xs:sequence>
                                      <xs:element type="xs:float" name="Multipleacctassgmtdistrpercent" />
                                      <xs:element type="xs:string" name="Salesorder" />
                                      <xs:element type="xs:int" name="Glaccount" />
                                      <xs:element type="xs:byte" name="Purchaseorderitem" />
                                      <xs:element type="xs:string" name="Orderid" />
                                      <xs:element type="xs:byte" name="Wbselementinternalid" />
                                      <xs:element type="xs:float" name="Purgdocnetamount" />
                                      <xs:element type="xs:string" name="Costcenter" />
                                      <xs:element type="xs:string" name="Unloadingpointname" />
                                      <xs:element type="xs:string" name="Businessarea" />
                                      <xs:element type="xs:string" name="Businessprocess" />
                                      <xs:element type="xs:string" name="Chartofaccounts" />
                                      <xs:element type="xs:long" name="Purchaseorder" />
                                      <xs:element type="xs:string" name="Isdeleted" />
                                      <xs:element type="xs:byte" name="Salesorderitem" />
                                      <xs:element type="xs:string" name="Profitcenter" />
                                      <xs:element type="xs:string" name="Fixedasset" />
                                      <xs:element type="xs:string" name="Masterfixedasset" />
                                      <xs:element type="xs:float" name="Quantity" />
                                      <xs:element type="xs:string" name="Functionalarea" />
                                      <xs:element type="xs:byte" name="Controllingarea" />
                                      <xs:element type="xs:byte" name="Accountassignmentnumber" />
                                      <xs:element type="xs:string" name="Projectnetwork" />
                                      <xs:element type="xs:string" name="Costobject" />
                                      <xs:element type="xs:string" name="Creationdate" />
                                      <xs:element type="xs:byte" name="Salesorderscheduleline" />
                                    </xs:sequence>
                                  </xs:complexType>
                                </xs:element>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                          <xs:element type="xs:byte" name="Plant" />
                          <xs:element type="xs:string" name="ServicePerformer" />
                          <xs:element name="to_PurchaseOrderItemNotes">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="PurchaseOrderItemNotes" maxOccurs="unbounded" minOccurs="0">
                                  <xs:complexType>
                                    <xs:sequence>
                                      <xs:element type="xs:byte" name="PurchaseOrderItem" />
                                      <xs:element type="xs:long" name="ProcmtHubApplicationObjID" />
                                      <xs:element type="xs:string" name="ProcmtHubTextTypeDescription" />
                                      <xs:element type="xs:long" name="PurchaseOrder" />
                                      <xs:element name="to_PurchaseOrderItemTextLine">
                                        <xs:complexType>
                                          <xs:sequence>
                                            <xs:element name="PurchaseOrderItemTextLine" minOccurs="0" maxOccurs="unbounded">
                                              <xs:complexType>
                                                <xs:sequence>
                                                  <xs:element type="xs:byte" name="PurchaseOrderItem" />
                                                  <xs:element type="xs:string" name="ProcmtHubTextLineFormat" />
                                                  <xs:element type="xs:string" name="ProcmtHubTextLineElement" />
                                                  <xs:element type="xs:long" name="PurchaseOrder" />
                                                </xs:sequence>
                                              </xs:complexType>
                                            </xs:element>
                                          </xs:sequence>
                                        </xs:complexType>
                                      </xs:element>
                                      <xs:element type="xs:string" name="ProcmtHubLanguageKey" />
                                      <xs:element type="xs:string" name="ProcmtHubApplicationObjType" />
                                      <xs:element type="xs:string" name="ProcmtHubTextTypeID" />
                                    </xs:sequence>
                                  </xs:complexType>
                                </xs:element>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                          <xs:element type="xs:string" name="Purchaseorderitemtext" />
                          <xs:element type="xs:string" name="Iscompletelydelivered" />
                          <xs:element type="xs:string" name="Purchaseordercategory" />
                          <xs:element type="xs:float" name="Overdelivtolrtdlmtratioinpct" />
                          <xs:element type="xs:string" name="Incotermsclassification" />
                          <xs:element type="xs:long" name="Purchaseorder" />
                          <xs:element type="xs:byte" name="Orderitemqtytobaseqtynmrtr" />
                          <xs:element type="xs:string" name="Accountassignmentcategory" />
                          <xs:element type="xs:float" name="Targetamount" />
                          <xs:element type="xs:float" name="Grossamount" />
                          <xs:element type="xs:byte" name="Orderpriceunittoorderunitnmrtr" />
                          <xs:element type="xs:string" name="Purchasecontract" />
                          <xs:element type="xs:byte" name="Servicepackage" />
                          <xs:element type="xs:string" name="Suppliermaterialnumber" />
                          <xs:element type="xs:byte" name="Companycode" />
                          <xs:element type="xs:string" name="Isfinallyinvoiced" />
                          <xs:element type="xs:short" name="Material" />
                          <xs:element type="xs:string" name="Purchaserequisition" />
                          <xs:element type="xs:string" name="to_PurOrderHistory" />
                          <xs:element name="to_PurOrderItemCond">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="PurOrderItemCondition" maxOccurs="unbounded" minOccurs="0">
                                  <xs:complexType>
                                    <xs:sequence>
                                      <xs:element type="xs:int" name="Pricingdocument" />
                                      <xs:element type="xs:string" name="Conditiontype" />
                                      <xs:element type="xs:string" name="Conditionisforstatistics" />
                                      <xs:element type="xs:string" name="Conditionrecord" />
                                      <xs:element type="xs:string" name="Transactioncurrency" />
                                      <xs:element type="xs:byte" name="Purchaseorderitem" />
                                      <xs:element type="xs:string" name="Conditioncontrol" />
                                      <xs:element type="xs:byte" name="Pricingdocumentitem" />
                                      <xs:element type="xs:string" name="Isgroupcondition" />
                                      <xs:element type="xs:byte" name="Conditionquantity" />
                                      <xs:element type="xs:long" name="Purchaseorder" />
                                      <xs:element type="xs:string" name="Conditionquantityunit" />
                                      <xs:element type="xs:string" name="ConditionQuantityUnitISOCode" />
                                      <xs:element type="xs:string" name="Taxcode" />
                                      <xs:element type="xs:string" name="Conditionismanuallychanged" />
                                      <xs:element type="xs:byte" name="Pricingprocedurecounter" />
                                      <xs:element type="xs:float" name="Pricedetnexchangerate" />
                                      <xs:element type="xs:float" name="Conditionamount" />
                                      <xs:element type="xs:byte" name="Conditionsequentialnumber" />
                                      <xs:element type="xs:string" name="Conditioninactivereason" />
                                      <xs:element type="xs:byte" name="Pricingprocedurestep" />
                                      <xs:element type="xs:dateTime" name="Pricingdatetime" />
                                      <xs:element type="xs:string" name="Conditionapplication" />
                                      <xs:element type="xs:string" name="Conditioncurrency" />
                                      <xs:element type="xs:string" name="Conditioncalculationtype" />
                                      <xs:element type="xs:float" name="Conditionbasevalue" />
                                      <xs:element type="xs:float" name="Conditionratevalue" />
                                    </xs:sequence>
                                  </xs:complexType>
                                </xs:element>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                          <xs:element name="to_PurOrderSchedule">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="PurOrderItemSchedule" minOccurs="0" maxOccurs="unbounded">
                                  <xs:complexType>
                                    <xs:sequence>
                                      <xs:element type="xs:float" name="Prevdelivqtyofscheduleline" />
                                      <xs:element type="xs:byte" name="Delivdatecategory" />
                                      <xs:element type="xs:dateTime" name="Schedlinestscdeliverydate" />
                                      <xs:element type="xs:byte" name="Purchaseorderitem" />
                                      <xs:element type="xs:byte" name="Scheduleline" />
                                      <xs:element type="xs:dateTime" name="Schedulelinedeliverytime" />
                                      <xs:element type="xs:float" name="Schedulelineissuedquantity" />
                                      <xs:element type="xs:string" name="PerformancePeriodStartDate" />
                                      <xs:element type="xs:string" name="Batch" />
                                      <xs:element type="xs:float" name="Roughgoodsreceiptqty" />
                                      <xs:element type="xs:dateTime" name="Schedulelinedeliverydate" />
                                      <xs:element type="xs:string" name="PerformancePeriodEndDate" />
                                      <xs:element type="xs:float" name="Stocktransferdeliveredquantity" />
                                      <xs:element type="xs:long" name="Purchaseorder" />
                                      <xs:element type="xs:float" name="Schedulelineorderquantity" />
                                      <xs:element type="xs:float" name="Goodsreceiptquantity" />
                                      <xs:element type="xs:float" name="Schedulelinecommittedquantity" />
                                      <xs:element type="xs:string" name="Sourceofcreation" />
                                    </xs:sequence>
                                  </xs:complexType>
                                </xs:element>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                          <xs:element type="xs:string" name="Isnoteavailable" />
                          <xs:element type="xs:string" name="Goodsreceiptisexpected" />
                          <xs:element type="xs:float" name="Underdelivtolrtdlmtratioinpct" />
                          <xs:element type="xs:float" name="ExpectedOverallLimitAmount" />
                          <xs:element type="xs:string" name="Invoiceisgoodsreceiptbased" />
                          <xs:element type="xs:string" name="Requisitionername" />
                          <xs:element type="xs:string" name="Goodsreceiptisnonvaluated" />
                          <xs:element type="xs:float" name="Netpriceamount" />
                          <xs:element type="xs:byte" name="Netpricequantity" />
                          <xs:element type="xs:byte" name="Ordpriceunittoorderunitdnmntr" />
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element type="xs:byte" name="Purchasingprocessingstatus" />
              <xs:element type="xs:string" name="Language" />
              <xs:element type="xs:string" name="Supplieraddressid" />
              <xs:element type="xs:string" name="Incotermsclassification" />
              <xs:element type="xs:string" name="Purchaseordersubtype" />
              <xs:element type="xs:string" name="Followondocexists" />
              <xs:element type="xs:long" name="Purchaseorder" />
              <xs:element type="xs:string" name="Supplier" />
              <xs:element type="xs:string" name="Supplierquotationexternalid" />
              <xs:element type="xs:string" name="Vatregistration" />
              <xs:element type="xs:dateTime" name="Extractiondatetime" />
              <xs:element type="xs:byte" name="Companycode" />
              <xs:element type="xs:string" name="Isnoteavailable" />
              <xs:element type="xs:string" name="IsArchived" />
              <xs:element type="xs:float" name="Cashdiscount1percent" />
              <xs:element type="xs:string" name="Validityenddate" />
              <xs:element type="xs:dateTime" name="Creationdate" />
              <xs:element type="xs:string" name="Exchangerateisfixed" />
              <xs:element type="xs:string" name="Releasecode" />
              <xs:element type="xs:int" name="Purchasingdocumentcondition" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>