Resources/schemas/Xsd/SAP_Service_Cloud_Integration_with_SAP_Marketing_Cloud_for_Replicating_Survey_Details - survey_new.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="SurveySet">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="SurveyId" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element name="Provider" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element name="Version" type="xs:unsignedByte" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element name="Name" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element name="NickName" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element name="AccountId" type="xs:unsignedByte" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element name="Category" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element name="Url" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element name="MarketingAreaId" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element name="Language" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element name="IsSurveyAnonymous" type="xs:boolean" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element name="CreatedOn" type="xs:dateTime" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element name="ModifiedOn" type="xs:dateTime" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element name="ValidFrom" type="xs:dateTime" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element name="ValidTo" type="xs:dateTime" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element name="IsMultipleRespAllowed" type="xs:boolean" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element maxOccurs="unbounded" name="SurveyQuestionSet">
					<xs:complexType>
						<xs:sequence>
							<xs:choice minOccurs="0" maxOccurs="unbounded">
								<xs:element name="SurveyId" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
								<xs:element name="Provider" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
								<xs:element name="Version" type="xs:unsignedByte" minOccurs="0" maxOccurs="unbounded"/>
								<xs:element name="QuestionId" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
								<xs:element name="Language" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
								<xs:element name="PageId" type="xs:unsignedByte" minOccurs="0" maxOccurs="unbounded"/>
								<xs:element name="Position" type="xs:unsignedByte" minOccurs="0" maxOccurs="unbounded"/>
								<xs:element name="IsMandatory" type="xs:boolean" minOccurs="0" maxOccurs="unbounded"/>
								<xs:element name="Type" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
								<xs:element name="TypeName" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
								<xs:element name="SubType" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
								<xs:element name="Text" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
								<xs:element maxOccurs="unbounded" name="QuestionAnswerSet">
									<xs:complexType>
										<xs:sequence>
											<xs:element name="RowId" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
											<xs:element name="Language" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
											<xs:element name="RowText" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
											<xs:element name="RowPosition" type="xs:unsignedByte" minOccurs="0" maxOccurs="unbounded"/>
										</xs:sequence>
									</xs:complexType>
								</xs:element>
								<xs:element name="QuestionChoiceSet" minOccurs="0" maxOccurs="unbounded">
									<xs:complexType>
										<xs:sequence>
											<xs:element name="ChoiceId" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
											<xs:element name="Language" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
											<xs:element name="ChoiceText" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
											<xs:element name="ChoicePosition" type="xs:unsignedByte" minOccurs="0" maxOccurs="unbounded"/>
										</xs:sequence>
									</xs:complexType>
								</xs:element>
							</xs:choice>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="SurveyResponseSet" minOccurs="0" maxOccurs="unbounded">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="SurveyId" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
							<xs:element name="Provider" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
							<xs:element name="Version" type="xs:unsignedByte" minOccurs="0" maxOccurs="unbounded"/>
							<xs:element name="ResponseId" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
							<xs:element name="Id" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
							<xs:element name="IdOrigin" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
							<xs:element name="IsResponseAnonymous" type="xs:boolean" minOccurs="0" maxOccurs="unbounded"/>
							<xs:element name="ResponseUrl" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
							<xs:element name="RespondedOn" type="xs:dateTime" minOccurs="0" maxOccurs="unbounded"/>
							<xs:element name="SurveyResponseSurveyResponseDetailSet" minOccurs="0" maxOccurs="unbounded">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="QuestionId" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
										<xs:element name="ResponseIdRow" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
										<xs:element name="ResponseIdCol" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
										<xs:element name="QuestionIdSet" minOccurs="0" maxOccurs="unbounded">
										<xs:complexType>
											<xs:sequence>
												<xs:element name="ResponseIdRow" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
												<xs:element name="ResponseIdCol" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
											</xs:sequence>
										</xs:complexType>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
</xs:element>
</xs:schema>