Resources/schemas/Xsd/SAP_BW-4HANA_Integration_With_Rest_Based_Data_Load - SCHEMA_SOURCE.XSD

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
<xsd:simpleType name="fieldtype_0001">
<xsd:annotation>
<xsd:documentation>Datatype CHAR Length 10</xsd:documentation>
</xsd:annotation>
<xsd:restriction base="xsd:string">
<xsd:maxLength value="10"/>
</xsd:restriction>
</xsd:simpleType>
<xsd:simpleType name="fieldtype_0002">
<xsd:annotation>
<xsd:documentation>Datatype NUMC Length 10</xsd:documentation>
</xsd:annotation>
<xsd:restriction base="xsd:token">
<xsd:maxLength value="10"/>
<xsd:pattern value="[0-9]{10}"/>
</xsd:restriction>
</xsd:simpleType>
<xsd:simpleType name="fieldtype_0003">
<xsd:annotation>
<xsd:documentation>Datatype NUMC Length 10</xsd:documentation>
</xsd:annotation>
<xsd:restriction base="xsd:token">
<xsd:maxLength value="10"/>
<xsd:pattern value="[0-9]{10}"/>
</xsd:restriction>
</xsd:simpleType>
<xsd:simpleType name="fieldtype_0004">
<xsd:annotation>
<xsd:documentation>Datatype NUMC Length 10</xsd:documentation>
</xsd:annotation>
<xsd:restriction base="xsd:token">
<xsd:maxLength value="10"/>
<xsd:pattern value="[0-9]{10}"/>
</xsd:restriction>
</xsd:simpleType>
<xsd:simpleType name="fieldtype_0005">
<xsd:annotation>
<xsd:documentation>Datatype CHAR Length 30</xsd:documentation>
</xsd:annotation>
<xsd:restriction base="xsd:string">
<xsd:maxLength value="30"/>
</xsd:restriction>
</xsd:simpleType>
<xsd:simpleType name="fieldtype_0006">
<xsd:annotation>
<xsd:documentation>Datatype CHAR Length 30</xsd:documentation>
</xsd:annotation>
<xsd:restriction base="xsd:string">
<xsd:maxLength value="30"/>
</xsd:restriction>
</xsd:simpleType>
<xsd:simpleType name="fieldtype_0007">
<xsd:annotation>
<xsd:documentation>Datatype INT4</xsd:documentation>
</xsd:annotation>
<xsd:restriction base="xsd:int"/>
</xsd:simpleType>
<xsd:simpleType name="fieldtype_0008">
<xsd:annotation>
<xsd:documentation>Datatype CHAR Length 80</xsd:documentation>
</xsd:annotation>
<xsd:restriction base="xsd:string">
<xsd:maxLength value="80"/>
</xsd:restriction>
</xsd:simpleType>
<xsd:simpleType name="fieldtype_0009">
<xsd:annotation>
<xsd:documentation>Datatype DATS</xsd:documentation>
</xsd:annotation>
<xsd:restriction base="xsd:token">
<xsd:minLength value="10"/>
<xsd:maxLength value="10"/>
<xsd:pattern value="[0-9\-]{8}"/>
</xsd:restriction>
</xsd:simpleType>
<xsd:simpleType name="fieldtype_0010">
<xsd:annotation>
<xsd:documentation>Datatype DATS</xsd:documentation>
</xsd:annotation>
<xsd:restriction base="xsd:token">
<xsd:minLength value="10"/>
<xsd:maxLength value="10"/>
<xsd:pattern value="[0-9\-]{8}"/>
</xsd:restriction>
</xsd:simpleType>
<xsd:simpleType name="fieldtype_0011">
<xsd:annotation>
<xsd:documentation>Datatype CUKY</xsd:documentation>
</xsd:annotation>
<xsd:restriction base="xsd:token">
<xsd:maxLength value="5"/>
</xsd:restriction>
</xsd:simpleType>
<xsd:simpleType name="fieldtype_0012">
<xsd:annotation>
<xsd:documentation>Datatype CURR Length 17 Decimals 2</xsd:documentation>
</xsd:annotation>
<xsd:restriction base="xsd:decimal">
<xsd:totalDigits value="17"/>
<xsd:fractionDigits value="2"/>
</xsd:restriction>
</xsd:simpleType>
<xsd:simpleType name="fieldtype_0013">
<xsd:annotation>
<xsd:documentation>Datatype CURR Length 17 Decimals 2</xsd:documentation>
</xsd:annotation>
<xsd:restriction base="xsd:decimal">
<xsd:totalDigits value="17"/>
<xsd:fractionDigits value="2"/>
</xsd:restriction>
</xsd:simpleType>
<xsd:simpleType name="fieldtype_0014">
<xsd:annotation>
<xsd:documentation>Datatype CURR Length 17 Decimals 2</xsd:documentation>
</xsd:annotation>
<xsd:restriction base="xsd:decimal">
<xsd:totalDigits value="17"/>
<xsd:fractionDigits value="2"/>
</xsd:restriction>
</xsd:simpleType>
<xsd:simpleType name="fieldtype_0015">
<xsd:annotation>
<xsd:documentation>Datatype QUAN Length 17 Decimals 3</xsd:documentation>
</xsd:annotation>
<xsd:restriction base="xsd:decimal">
<xsd:totalDigits value="17"/>
<xsd:fractionDigits value="3"/>
</xsd:restriction>
</xsd:simpleType>
<xsd:simpleType name="fieldtype_0016">
<xsd:annotation>
<xsd:documentation>Datatype UNIT</xsd:documentation>
</xsd:annotation>
<xsd:restriction base="xsd:token">
<xsd:maxLength value="3"/>
</xsd:restriction>
</xsd:simpleType>
<xsd:simpleType name="fieldtype_0017">
<xsd:annotation>
<xsd:documentation>Datatype DATS</xsd:documentation>
</xsd:annotation>
<xsd:restriction base="xsd:token">
<xsd:minLength value="10"/>
<xsd:maxLength value="10"/>
<xsd:pattern value="[0-9\-]{8}"/>
</xsd:restriction>
</xsd:simpleType>
<xsd:simpleType name="fieldtype_0018">
<xsd:annotation>
<xsd:documentation>Datatype CHAR Length 10</xsd:documentation>
</xsd:annotation>
<xsd:restriction base="xsd:string">
<xsd:maxLength value="10"/>
</xsd:restriction>
</xsd:simpleType>
<xsd:simpleType name="fieldtype_0019">
<xsd:annotation>
<xsd:documentation>Datatype CHAR Length 40</xsd:documentation>
</xsd:annotation>
<xsd:restriction base="xsd:string">
<xsd:maxLength value="40"/>
</xsd:restriction>
</xsd:simpleType>
<xsd:simpleType name="fieldtype_0020">
<xsd:annotation>
<xsd:documentation>Datatype CHAR Length 1</xsd:documentation>
</xsd:annotation>
<xsd:restriction base="xsd:string">
<xsd:maxLength value="1"/>
</xsd:restriction>
</xsd:simpleType>
<xsd:simpleType name="fieldtype_0021">
<xsd:annotation>
<xsd:documentation>Datatype CHAR Length 1</xsd:documentation>
</xsd:annotation>
<xsd:restriction base="xsd:string">
<xsd:maxLength value="1"/>
</xsd:restriction>
</xsd:simpleType>
<xsd:simpleType name="fieldtype_0022">
<xsd:annotation>
<xsd:documentation>Datatype CHAR Length 1</xsd:documentation>
</xsd:annotation>
<xsd:restriction base="xsd:string">
<xsd:maxLength value="1"/>
</xsd:restriction>
</xsd:simpleType>
<xsd:simpleType name="fieldtype_0023">
<xsd:annotation>
<xsd:documentation>Datatype CHAR Length 1</xsd:documentation>
</xsd:annotation>
<xsd:restriction base="xsd:string">
<xsd:maxLength value="1"/>
</xsd:restriction>
</xsd:simpleType>
<xsd:simpleType name="fieldtype_0024">
<xsd:annotation>
<xsd:documentation>Datatype CHAR Length 1</xsd:documentation>
</xsd:annotation>
<xsd:restriction base="xsd:string">
<xsd:maxLength value="1"/>
</xsd:restriction>
</xsd:simpleType>
<xsd:simpleType name="fieldtype_0025">
<xsd:annotation>
<xsd:documentation>Datatype NUMC Length 10</xsd:documentation>
</xsd:annotation>
<xsd:restriction base="xsd:token">
<xsd:maxLength value="10"/>
<xsd:pattern value="[0-9]{10}"/>
</xsd:restriction>
</xsd:simpleType>
<xsd:simpleType name="fieldtype_0026">
<xsd:annotation>
<xsd:documentation>Datatype CHAR Length 3</xsd:documentation>
</xsd:annotation>
<xsd:restriction base="xsd:string">
<xsd:maxLength value="3"/>
</xsd:restriction>
</xsd:simpleType>
<xsd:simpleType name="fieldtype_0027">
<xsd:annotation>
<xsd:documentation>Datatype CHAR Length 40</xsd:documentation>
</xsd:annotation>
<xsd:restriction base="xsd:string">
<xsd:maxLength value="40"/>
</xsd:restriction>
</xsd:simpleType>
<xsd:simpleType name="fieldtype_0028">
<xsd:annotation>
<xsd:documentation>Datatype CHAR Length 40</xsd:documentation>
</xsd:annotation>
<xsd:restriction base="xsd:string">
<xsd:maxLength value="40"/>
</xsd:restriction>
</xsd:simpleType>
<xsd:simpleType name="fieldtype_0029">
<xsd:annotation>
<xsd:documentation>Datatype CHAR Length 3</xsd:documentation>
</xsd:annotation>
<xsd:restriction base="xsd:string">
<xsd:maxLength value="3"/>
</xsd:restriction>
</xsd:simpleType>
<xsd:simpleType name="fieldtype_0030">
<xsd:annotation>
<xsd:documentation>Datatype CHAR Length 2</xsd:documentation>
</xsd:annotation>
<xsd:restriction base="xsd:string">
<xsd:maxLength value="2"/>
</xsd:restriction>
</xsd:simpleType>
<xsd:complexType name="dataStructure">
<xsd:sequence>
<xsd:element minOccurs="0" name="EPM_PO " type="fieldtype_0001"/>
<xsd:element minOccurs="0" name="EPM_IPOS " type="fieldtype_0002"/>
<xsd:element minOccurs="0" name="EPM_CHNBY " type="fieldtype_0003"/>
<xsd:element minOccurs="0" name="EPM_CRTBY " type="fieldtype_0004"/>
<xsd:element minOccurs="0" name="EPM_CNAME " type="fieldtype_0005"/>
<xsd:element minOccurs="0" name="EPM_PNAME " type="fieldtype_0006"/>
<xsd:element minOccurs="0" name="EPM_DDAYS " type="fieldtype_0007"/>
<xsd:element minOccurs="0" name="EPM_ENAME " type="fieldtype_0008"/>
<xsd:element minOccurs="0" name="EPM_CA " type="fieldtype_0009"/>
<xsd:element minOccurs="0" name="EPM_CHAT " type="fieldtype_0010"/>
<xsd:element minOccurs="0" name="D_NW_PCURR " type="fieldtype_0011"/>
<xsd:element minOccurs="0" name="EPM_GAMT " type="fieldtype_0012"/>
<xsd:element minOccurs="0" name="EPM_TAMT " type="fieldtype_0013"/>
<xsd:element minOccurs="0" name="EPM_NAMT " type="fieldtype_0014"/>
<xsd:element minOccurs="0" name="EPM_PQTY " type="fieldtype_0015"/>
<xsd:element minOccurs="0" name="D_NW_PUNI " type="fieldtype_0016"/>
<xsd:element minOccurs="0" name="EPM_PDELD " type="fieldtype_0017"/>
<xsd:element minOccurs="0" name="EPM_PRID " type="fieldtype_0018"/>
<xsd:element minOccurs="0" name="EPM_PRCAT " type="fieldtype_0019"/>
<xsd:element minOccurs="0" name="EPM_POLS " type="fieldtype_0020"/>
<xsd:element minOccurs="0" name="EPM_POCS " type="fieldtype_0021"/>
<xsd:element minOccurs="0" name="EPM_POAS " type="fieldtype_0022"/>
<xsd:element minOccurs="0" name="EPM_POOS " type="fieldtype_0023"/>
<xsd:element minOccurs="0" name="EPM_POOVS " type="fieldtype_0024"/>
<xsd:element minOccurs="0" name="EPM_BP " type="fieldtype_0025"/>
<xsd:element minOccurs="0" name="EPM_ROLE " type="fieldtype_0026"/>
<xsd:element minOccurs="0" name="EPM_FNAME " type="fieldtype_0027"/>
<xsd:element minOccurs="0" name="EPM_LNAME " type="fieldtype_0028"/>
<xsd:element minOccurs="0" name="EPM_CCODE " type="fieldtype_0029"/>
<xsd:element minOccurs="0" name="EPM_LANGU " type="fieldtype_0030"/>
</xsd:sequence>
</xsd:complexType>
<xsd:element name="dataTable">
<xsd:complexType>
<xsd:sequence>
<xsd:element maxOccurs="unbounded" minOccurs="0" name="dataRow" type="dataStructure"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:schema>