Resources/schemas/Xsd/SAP_Business_ByDesign_Master_Data_to_SAP_S-4HANA_Cloud_Public_Edition - 5 XSD_ByD.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Customer">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="General" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:int" name="ACCOUNT_ID"/>
              <xs:element type="xs:string" name="CATEGORY_CODE"/>
              <xs:element type="xs:string" name="CONTACT_ALLOWED_CODE"/>
              <xs:element type="xs:string" name="ORDER_BLOCK"/>
              <xs:element type="xs:string" name="DELIVERY_BLOCK"/>
              <xs:element type="xs:string" name="INVOICE_BLOCK"/>
              <xs:element type="xs:string" name="PROSPECT_INDICATOR"/>
              <xs:element type="xs:string" name="DUNS"/>
              <xs:element type="xs:string" name="PEPPOL_ID"/>
              <xs:element type="xs:string" name="GLOB_LOC_NUMB"/>
              <xs:element type="xs:string" name="NATIONAL_PROV_ID"/>
              <xs:element type="xs:string" name="CH_UID"/>
              <xs:element type="xs:string" name="GLO_CH_ENTP_ID_SUPP"/>
              <xs:element type="xs:string" name="ACCOUNT_NAME"/>
              <xs:element type="xs:string" name="ADDITIONAL_NAME"/>
              <xs:element type="xs:string" name="TITLE"/>
              <xs:element type="xs:string" name="ACADAMIC_TITLE"/>
              <xs:element type="xs:string" name="GIVEN_NAME"/>
              <xs:element type="xs:string" name="MIDDLE_NAME"/>
              <xs:element type="xs:string" name="FAMILY_NAME"/>
              <xs:element type="xs:string" name="NON_VERBAL_COM_LANG"/>
              <xs:element type="xs:string" name="COMPANY_LEGAL_FORM_CODE"/>
              <xs:element type="xs:string" name="LEGAL_COMPETENCE_IND"/>
              <xs:element type="xs:byte" name="INDUSTRIAL_SECTOR_CODE"/>
              <xs:element type="xs:string" name="NIELSEN_REGION_CODE"/>
              <xs:element type="xs:string" name="OCCUPATION_CODE"/>
              <xs:element type="xs:string" name="GENDER_CODE"/>
              <xs:element type="xs:string" name="BIRTH_DATE"/>
              <xs:element type="xs:string" name="CUSTOMER_ABC_CLASS_CODE"/>
              <xs:element type="xs:byte" name="LIFE_CYCLE_STATUS_CODE"/>
              <xs:element type="xs:string" name="CN_VAT_PAYER_TYPE"/>
              <xs:element type="xs:string" name="GLO_IL_TAXOFFICE"/>
              <xs:element type="xs:string" name="BUSINESS_PURPOSE_COMPLETED_IND"/>
              <xs:element type="xs:string" name="GLO_MX_USE_CFDI"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="Addresses" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:int" name="ACCOUNT_ID"/>
              <xs:element type="xs:date" name="START_DATE"/>
              <xs:element type="xs:dateTime" name="END_DATE"/>
              <xs:element type="xs:string" name="COUNTRY"/>
              <xs:element type="xs:string" name="CARE_OF"/>
              <xs:element type="xs:string" name="STREET_1"/>
              <xs:element type="xs:string" name="STREET_2"/>
              <xs:element type="xs:int" name="STREET"/>
              <xs:element type="xs:byte" name="HOUSE_NUMBER"/>
              <xs:element type="xs:string" name="STREET_4"/>
              <xs:element type="xs:string" name="STREET_5"/>
              <xs:element type="xs:string" name="CITY"/>
              <xs:element type="xs:string" name="REGION_STATE"/>
              <xs:element type="xs:int" name="POSTAL_ZIP_CODE"/>
              <xs:element type="xs:string" name="DIFFERENT_CITY"/>
              <xs:element type="xs:string" name="DISTRICT"/>
              <xs:element type="xs:string" name="COUNTY_NAME"/>
              <xs:element type="xs:string" name="TAX_JURISDICTION_CODE"/>
              <xs:element type="xs:string" name="TIME_ZONE"/>
              <xs:element type="xs:string" name="COMPANY_ZIP_CODE"/>
              <xs:element type="xs:string" name="POSTBOX"/>
              <xs:element type="xs:string" name="POSTBOX_POSTAL_CODE"/>
              <xs:element type="xs:string" name="OTHER_PO_CITY"/>
              <xs:element type="xs:string" name="OTHER_PO_STATE"/>
              <xs:element type="xs:string" name="OTHER_PO_COUNTRY"/>
              <xs:element type="xs:string" name="MAIN"/>
              <xs:element type="xs:date" name="MAIN_START_DATE"/>
              <xs:element type="xs:dateTime" name="MAIN_END_DATE"/>
              <xs:element type="xs:string" name="SHIP_TO"/>
              <xs:element type="xs:date" name="SHIP_START_DATE"/>
              <xs:element type="xs:dateTime" name="SHIP_END_DATE"/>
              <xs:element type="xs:string" name="DEFAULT_SHIP_TO"/>
              <xs:element type="xs:string" name="BILL_TO"/>
              <xs:element type="xs:date" name="BILL_START_DATE"/>
              <xs:element type="xs:dateTime" name="BILL_END_DATE"/>
              <xs:element type="xs:string" name="DEFAULT_BILL_TO"/>
              <xs:element type="xs:string" name="REM_ADVICE_TO"/>
              <xs:element type="xs:date" name="REM_START_DATE"/>
              <xs:element type="xs:dateTime" name="REM_END_DATE"/>
              <xs:element type="xs:string" name="DUNNING_TO"/>
              <xs:element type="xs:date" name="DUN_START_DATE"/>
              <xs:element type="xs:dateTime" name="DUN_END_DATE"/>
              <xs:element type="xs:string" name="DEFAULT_DUNNING_TO"/>
              <xs:element type="xs:string" name="PHONE"/>
              <xs:element type="xs:string" name="FAX"/>
              <xs:element type="xs:string" name="MOBILE"/>
              <xs:element type="xs:string" name="EMAIL"/>
              <xs:element type="xs:string" name="WEBSITE"/>
              <xs:element type="xs:string" name="COMMUNICATION_LANG"/>
              <xs:element type="xs:string" name="PREF_CONTACT_METHOD"/>
              <xs:element type="xs:string" name="ADDRESS_UUID"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="Collaboration" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="ACCOUNT_ID"/>
              <xs:element type="xs:string" name="BUSINESS_DOCUMENT_NAME"/>
              <xs:element type="xs:string" name="SEND_BY"/>
              <xs:element type="xs:string" name="TEMPLATE_NAME"/>
              <xs:element type="xs:string" name="ACTIVE"/>
              <xs:element type="xs:string" name="NUMBER_OF_COPIES"/>
              <xs:element type="xs:string" name="PRINT_QUEUE_ID"/>
              <xs:element type="xs:string" name="FAX"/>
              <xs:element type="xs:string" name="E_MAIL"/>
              <xs:element type="xs:string" name="TRANSFORMATION_ID"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="CollaborationMultiChannel" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="ACCOUNT_ID"/>
              <xs:element type="xs:string" name="BUSINESS_DOCUMENT_NAME"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="DocumentOutputChannels" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="ACCOUNT_ID"/>
              <xs:element type="xs:string" name="BUSINESS_DOCUMENT_NAME"/>
              <xs:element type="xs:string" name="SEND_BY"/>
              <xs:element type="xs:string" name="DUPLICATE"/>
              <xs:element type="xs:string" name="TEMPLATE_NAME"/>
              <xs:element type="xs:string" name="NUMBER_OF_COPIES"/>
              <xs:element type="xs:string" name="PRINT_QUEUE_ID"/>
              <xs:element type="xs:string" name="FAX"/>
              <xs:element type="xs:string" name="E_MAIL_TO"/>
              <xs:element type="xs:string" name="E_MAIL_CC"/>
              <xs:element type="xs:string" name="E_MAIL_BCC"/>
              <xs:element type="xs:string" name="TRANSFORMATION_ID"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="ContactHours" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="ACCOUNT_ID"/>
              <xs:element type="xs:string" name="HOURS_CODE"/>
              <xs:element type="xs:string" name="MONDAY"/>
              <xs:element type="xs:string" name="TUESDAY"/>
              <xs:element type="xs:string" name="WEDNESDAY"/>
              <xs:element type="xs:string" name="THURSDAY"/>
              <xs:element type="xs:string" name="FRIDAY"/>
              <xs:element type="xs:string" name="SATURDAY"/>
              <xs:element type="xs:string" name="SUNDAY"/>
              <xs:element type="xs:string" name="START_TIME"/>
              <xs:element type="xs:string" name="END_TIME"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="Contacts" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:int" name="ACCOUNT_ID"/>
              <xs:element type="xs:int" name="CONTACT_ID"/>
              <xs:element type="xs:string" name="FIRST_NAME"/>
              <xs:element type="xs:string" name="LAST_NAME"/>
              <xs:element type="xs:string" name="MIDDLE_NAME"/>
              <xs:element type="xs:string" name="DEFAULT_INDICATOR"/>
              <xs:element type="xs:byte" name="TITLE"/>
              <xs:element type="xs:string" name="ACADAMIC_TITLE"/>
              <xs:element type="xs:string" name="NATIONAL_PROV_ID"/>
              <xs:element type="xs:string" name="BIZ_PHONE"/>
              <xs:element type="xs:string" name="BIZ_FAX"/>
              <xs:element type="xs:string" name="BIZ_EMAIL"/>
              <xs:element type="xs:string" name="BIZ_MOBILE"/>
              <xs:element type="xs:string" name="PREF_CONTACT_METHOD"/>
              <xs:element type="xs:string" name="LANGUAGE"/>
              <xs:element type="xs:string" name="FUNCTION_BUSINESSCARD"/>
              <xs:element type="xs:string" name="DEPARTMENT_BUSINESSCARD"/>
              <xs:element type="xs:string" name="PROFESSION"/>
              <xs:element type="xs:string" name="VIP"/>
              <xs:element type="xs:byte" name="GENDER"/>
              <xs:element type="xs:string" name="DATE_OF_BIRTH"/>
              <xs:element type="xs:string" name="MARITIAL_STATUS"/>
              <xs:element type="xs:byte" name="FUNCTION"/>
              <xs:element type="xs:byte" name="DEPARTMENT"/>
              <xs:element type="xs:string" name="COUNTRY"/>
              <xs:element type="xs:byte" name="HOUSE_NUMBER"/>
              <xs:element type="xs:string" name="STREET_1"/>
              <xs:element type="xs:string" name="STREET_2"/>
              <xs:element type="xs:int" name="STREET"/>
              <xs:element type="xs:string" name="STREET_4"/>
              <xs:element type="xs:string" name="STREET_5"/>
              <xs:element type="xs:string" name="CITY"/>
              <xs:element type="xs:string" name="REGION_STATE"/>
              <xs:element type="xs:int" name="POSTAL_ZIP_CODE"/>
              <xs:element type="xs:string" name="DISTRICT"/>
              <xs:element type="xs:string" name="TIME_ZONE"/>
              <xs:element type="xs:string" name="BUILDING"/>
              <xs:element type="xs:string" name="FLOOR"/>
              <xs:element type="xs:string" name="ROOM"/>
              <xs:element type="xs:string" name="BUSINESS_PURPOSE_COMPLETED"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="ContactTeam" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="ACCOUNT_ID"/>
              <xs:element type="xs:string" name="CONTACT_ID"/>
              <xs:element type="xs:string" name="FIRST_NAME"/>
              <xs:element type="xs:string" name="LAST_NAME"/>
              <xs:element type="xs:string" name="PARTY_ROLE_CODE"/>
              <xs:element type="xs:string" name="EMPLOYEE_RESPONSIBLE_ID"/>
              <xs:element type="xs:string" name="GROUPWARE_SYNC"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="ContactsPersonalAddresses" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="ACCOUNT_ID"/>
              <xs:element type="xs:string" name="CONTACT_ID"/>
              <xs:element type="xs:string" name="FIRST_NAME"/>
              <xs:element type="xs:string" name="LAST_NAME"/>
              <xs:element type="xs:string" name="CP_DEFAULT_INDICATOR"/>
              <xs:element type="xs:string" name="CP_PA_COUNTRY"/>
              <xs:element type="xs:string" name="CP_CARE_OF"/>
              <xs:element type="xs:string" name="CP_STREET_1"/>
              <xs:element type="xs:string" name="CP_STREET_2"/>
              <xs:element type="xs:string" name="CP_STREET"/>
              <xs:element type="xs:string" name="CP_HOUSE_NUMBER"/>
              <xs:element type="xs:string" name="CP_STREET_4"/>
              <xs:element type="xs:string" name="CP_STREET_5"/>
              <xs:element type="xs:string" name="CP_CITY"/>
              <xs:element type="xs:string" name="CP_REGION_STATE"/>
              <xs:element type="xs:string" name="CP_PA_POSTAL_ZIP_CODE"/>
              <xs:element type="xs:string" name="CP_DIFFERENT_CITY"/>
              <xs:element type="xs:string" name="CP_DISTRICT"/>
              <xs:element type="xs:string" name="CP_COUNTY_NAME"/>
              <xs:element type="xs:string" name="CP_TAX_JURISDICTION_CODE"/>
              <xs:element type="xs:string" name="CP_TIME_ZONE"/>
              <xs:element type="xs:string" name="CP_COMPANY_ZIP_CODE"/>
              <xs:element type="xs:string" name="CP_POSTBOX"/>
              <xs:element type="xs:string" name="CP_POSTBOX_POSTAL_CODE"/>
              <xs:element type="xs:string" name="CP_OTHER_PO_CITY"/>
              <xs:element type="xs:string" name="CP_OTHER_PO_STATE"/>
              <xs:element type="xs:string" name="CP_OTHER_PO_COUNTRY"/>
              <xs:element type="xs:string" name="CP_PA_BIZ_PHONE"/>
              <xs:element type="xs:string" name="CP_PA_BIZ_FAX"/>
              <xs:element type="xs:string" name="CP_PA_BIZ_MOBILE"/>
              <xs:element type="xs:string" name="CP_PA_BIZ_EMAIL"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="DirectResponsibility" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="ACCOUNT_ID"/>
              <xs:element type="xs:string" name="PARTY_ROLE_CODE"/>
              <xs:element type="xs:string" name="EMPLOYEE_RESPONSIBLE_ID"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="SalesData" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:int" name="ACCOUNT_ID"/>
              <xs:element type="xs:string" name="SALES_ORGANISATION_ID"/>
              <xs:element type="xs:byte" name="DISTRIBUTION_CHANNEL_CODE"/>
              <xs:element type="xs:byte" name="DELIVERY_PRIORITY_CODE"/>
              <xs:element type="xs:string" name="COMPLETE_DELIVERY_IND"/>
              <xs:element type="xs:string" name="CLASSIFICATION_CODE"/>
              <xs:element type="xs:string" name="TRANSFER_LOCATION_NAME"/>
              <xs:element type="xs:byte" name="CUSTOMER_GROUP_CODE"/>
              <xs:element type="xs:short" name="CASH_DISCOUNT_TERMS"/>
              <xs:element type="xs:string" name="CURRENCY_CODE"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="BankData" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="ACCOUNT_ID"/>
              <xs:element type="xs:string" name="SEQ_NUMB_BANK_DATA"/>
              <xs:element type="xs:string" name="BANK_KEY_TYPE"/>
              <xs:element type="xs:string" name="BANK_KEY"/>
              <xs:element type="xs:string" name="BANK_SWIFT_BIC"/>
              <xs:element type="xs:string" name="BANK_ACCOUNT_ID"/>
              <xs:element type="xs:string" name="CONTROL_KEY"/>
              <xs:element type="xs:string" name="ACCOUNT_HOLDER"/>
              <xs:element type="xs:string" name="IBAN"/>
              <xs:element type="xs:string" name="GIRO_ACCOUNT"/>
              <xs:element type="xs:string" name="VALID_FROM_BANK"/>
              <xs:element type="xs:string" name="VALID_TO_BANK"/>
              <xs:element type="xs:string" name="BANK_ACCOUNT_TYPE_CODE"/>
              <xs:element type="xs:string" name="BANK_BRANCH_ID"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="PaymentCards" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="ACCOUNT_ID"/>
              <xs:element type="xs:string" name="SEQ_NUMB_PAYMENT_CARD"/>
              <xs:element type="xs:string" name="PAYMENT_CARD_TYPE"/>
              <xs:element type="xs:string" name="TOKEN_PAYMENT_CARD_NO"/>
              <xs:element type="xs:string" name="CREDIT_CARD_HOLDER"/>
              <xs:element type="xs:string" name="EXPIRATION_DATE"/>
              <xs:element type="xs:string" name="DEFAULT_INDICATOR"/>
              <xs:element type="xs:string" name="BLOCKING_REASON"/>
              <xs:element type="xs:string" name="URL_PAYMENT_SERV_PROV"/>
              <xs:element type="xs:string" name="COUNTRY"/>
              <xs:element type="xs:string" name="HOUSE_NUMBER"/>
              <xs:element type="xs:string" name="STREET"/>
              <xs:element type="xs:string" name="CITY"/>
              <xs:element type="xs:string" name="REGION_STATE"/>
              <xs:element type="xs:string" name="POSTAL_ZIP_CODE"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="PaymentData" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="ACCOUNT_ID"/>
              <xs:element type="xs:string" name="COMPANY_ID"/>
              <xs:element type="xs:string" name="ACCT_DET_DEBTOR_GROUP_CODE"/>
              <xs:element type="xs:string" name="DEBTOR_EXTERNAL_ID"/>
              <xs:element type="xs:string" name="PAYMENT_EXP_DATE"/>
              <xs:element type="xs:string" name="PAYMENT_BLOCK_REASON"/>
              <xs:element type="xs:string" name="PAYMENT_FORM_1_CODE"/>
              <xs:element type="xs:string" name="PAYMENT_FORM_2_CODE"/>
              <xs:element type="xs:string" name="PAYMENT_FORM_3_CODE"/>
              <xs:element type="xs:string" name="SEQ_NUMB_BA"/>
              <xs:element type="xs:string" name="VALID_FROM_BA"/>
              <xs:element type="xs:string" name="VALID_TO_BA"/>
              <xs:element type="xs:string" name="SEQ_NUMB_ERBA"/>
              <xs:element type="xs:string" name="FIRST_INSTRUCTION_CODE"/>
              <xs:element type="xs:string" name="SECOND_INSTRUCTION_CODE"/>
              <xs:element type="xs:string" name="THIRD_INSTRUCTION_CODE"/>
              <xs:element type="xs:string" name="FOURTH_INSTRUCTION_CODE"/>
              <xs:element type="xs:string" name="COST_ASSIGNMENT"/>
              <xs:element type="xs:string" name="CREDIT_LIMIT"/>
              <xs:element type="xs:string" name="CREDIT_LIMIT_CURRENCY"/>
              <xs:element type="xs:string" name="GLO_BNK_CHRG_ASSG_ID"/>
              <xs:element type="xs:string" name="GLO_VIRTUAL_ACC_ID"/>
              <xs:element type="xs:string" name="SEQ_NUMB_PAYMENT_CARD"/>
              <xs:element type="xs:string" name="VALID_FROM_PAY_CARD"/>
              <xs:element type="xs:string" name="VALID_TO_PAY_CARD"/>
              <xs:element type="xs:string" name="ADVICE_IND"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="SEPAMandates" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="ACCOUNT_ID"/>
              <xs:element type="xs:string" name="COMPANY_ID"/>
              <xs:element type="xs:string" name="MANDATE_ID"/>
              <xs:element type="xs:string" name="MANDATE_DESCRIPTION"/>
              <xs:element type="xs:string" name="SINGLE_USE"/>
              <xs:element type="xs:string" name="MANDATE_TYPE"/>
              <xs:element type="xs:string" name="VALID_FROM_MANDATE"/>
              <xs:element type="xs:string" name="VALID_TO_MANDATE"/>
              <xs:element type="xs:string" name="MANDATE_BLOCKED"/>
              <xs:element type="xs:string" name="PLACE_OF_SIGNATURE"/>
              <xs:element type="xs:string" name="SIGNATURE_DATE"/>
              <xs:element type="xs:string" name="SEQ_NUMB_BA"/>
              <xs:element type="xs:string" name="MND_ALT_PAYER_NAME"/>
              <xs:element type="xs:string" name="MND_ALT_HOUSE_NUMBER"/>
              <xs:element type="xs:string" name="MND_ALT_STREET"/>
              <xs:element type="xs:string" name="MND_ALT_CITY"/>
              <xs:element type="xs:string" name="MND_ALT_COUNTRY"/>
              <xs:element type="xs:string" name="MND_ALT_REGION_STATE"/>
              <xs:element type="xs:string" name="MND_ALT_POSTAL_CODE"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="TaxData" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="ACCOUNT_ID"/>
              <xs:element type="xs:string" name="TAX_COUNTRY"/>
              <xs:element type="xs:string" name="TAX_CATEGORY"/>
              <xs:element type="xs:string" name="TAX_NUMBER"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="TaxExemptions" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="ACCOUNT_ID"/>
              <xs:element type="xs:string" name="TAX_COUNTRY"/>
              <xs:element type="xs:string" name="REGION_STATE"/>
              <xs:element type="xs:string" name="TAX_TYPE"/>
              <xs:element type="xs:string" name="TAX_EXEMPTION"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="Notes" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="ACCOUNT_ID"/>
              <xs:element type="xs:string" name="TEXT_TYPE"/>
              <xs:element type="xs:string" name="TEXT"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="Attachments" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="ACCOUNT_ID"/>
              <xs:element type="xs:string" name="URL_LINK"/>
              <xs:element type="xs:string" name="DOCUMENT_TITLE"/>
              <xs:element type="xs:string" name="DOCUMENT_TYPE"/>
              <xs:element type="xs:string" name="COMMENT"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>