Resources/schemas/Xsd/SAP_Cloud_for_Customer_Integration_with_Identity_Provisioning_via_System_for_Cross-domain_Identity_Management - ErrorResponse.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="ErrorResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="error" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" minOccurs="0" name="code"/>
              <xs:element name="details" minOccurs="0" maxOccurs="unbounded" >
                <xs:complexType>
                  <xs:sequence>

                          <xs:element type="xs:string" minOccurs="0" name="code"/>
                          <xs:element type="xs:string" minOccurs="0" name="message"/>

                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element type="xs:string" maxOccurs="unbounded" minOccurs="0" name="message"/>
              <xs:element type="xs:anyURI" maxOccurs="unbounded" minOccurs="0" name="target"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
