Resources/schemas/Xsd/SAP_CPQ_-_Quote_2.0_Integration_with_SAP_S-4HANA_Sales_Order - ProductIntegrationAPISchemaWithNamespace.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://schemas.datacontract.org/2004/07/SAP.CPQ.ProductIntegration.VM" xmlns="http://schemas.datacontract.org/2004/07/SAP.CPQ.ProductIntegration.VM" elementFormDefault="qualified">
  <xs:element name="ArrayOfProductIntegrationListItemVM">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="ProductIntegrationListItemVM" minOccurs="0" maxOccurs="unbounded">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="BasicInfo" minOccurs="1" maxOccurs="1">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="Active" type="xs:boolean" minOccurs="0" maxOccurs="1"/>
                    <xs:element name="AliasParentSystemId" minOccurs="0" maxOccurs="1"/>
                    <xs:element name="AllowConfigurationImport" type="xs:boolean" minOccurs="0" maxOccurs="1"/>
                    <xs:element name="AlternativePricing" nillable="true" minOccurs="0" maxOccurs="1"/>
                    <xs:element name="AlternativeText" minOccurs="0" maxOccurs="1"/>
                    <xs:element name="AlwaysAllowRenewal" type="xs:boolean" minOccurs="0" maxOccurs="1"/>
                    <xs:element name="AutoRenewalIndicator" type="xs:string" minOccurs="0" maxOccurs="1"/>
                    <xs:element name="BaseRecurringPrice" type="xs:decimal" minOccurs="0" maxOccurs="1"/>
                    <xs:element name="CatalogCode" minOccurs="0" maxOccurs="1"/>
                    <xs:element name="Categories" minOccurs="0" maxOccurs="unbounded">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="ProductIntegrationCategoryVM" minOccurs="0" maxOccurs="1">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="Name" type="xs:string" minOccurs="0" maxOccurs="1"/>
                                <xs:element name="ParentName" nillable="true" minOccurs="0" maxOccurs="1"/>
                                <xs:element name="ParentSystemId" nillable="true" minOccurs="0" maxOccurs="1"/>
                                <xs:element name="ProductBelongsToCategory" type="xs:boolean" minOccurs="0" maxOccurs="1"/>
                                <xs:element name="Rank" type="xs:unsignedByte" minOccurs="0" maxOccurs="1"/>
                                <xs:element name="SystemId" type="xs:string" minOccurs="0" maxOccurs="1"/>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="ConfigurationTemplate" minOccurs="0" maxOccurs="1"/>
                    <xs:element name="ConfigurationType" type="xs:string" minOccurs="0" maxOccurs="1"/>
                    <xs:element name="CostBuilder" minOccurs="0" maxOccurs="1"/>
                    <xs:element name="CreatedBy" type="xs:string" minOccurs="0" maxOccurs="1"/>
                    <xs:element name="CreatedDate" type="xs:dateTime" minOccurs="0" maxOccurs="1"/>
                    <xs:element name="CrossPlantMaterialStatus" nillable="true" minOccurs="0" maxOccurs="1"/>
                    <xs:element name="CrossPlantMaterialStatusValidFrom" nillable="true" minOccurs="0" maxOccurs="1"/>
                    <xs:element name="Description" minOccurs="0" maxOccurs="1"/>
                    <xs:element name="DescriptionBuilder" minOccurs="0" maxOccurs="1"/>
                    <xs:element name="DescriptionLong" minOccurs="0" maxOccurs="1"/>
                    <xs:element name="DisplayType" type="xs:string" minOccurs="0" maxOccurs="1"/>
                    <xs:element name="DisplayTypePricing" type="xs:string" minOccurs="0" maxOccurs="1"/>
                    <xs:element name="DivisionName" minOccurs="0" maxOccurs="1"/>
                    <xs:element name="DivisionSystemId" minOccurs="0" maxOccurs="1"/>
                    <xs:element name="EndStatus" type="xs:string" minOccurs="0" maxOccurs="1"/>
                    <xs:element name="ExecuteRulesOnce" type="xs:boolean" minOccurs="0" maxOccurs="1"/>
                    <xs:element name="ExternalId" minOccurs="0" maxOccurs="1"/>
                    <xs:element name="FamilyCode" minOccurs="0" maxOccurs="1"/>
                    <xs:element name="GeneralItemCategoryGroup" minOccurs="0" maxOccurs="1"/>
                    <xs:element name="HasUsagePricing" nillable="true" minOccurs="0" maxOccurs="1"/>
                    <xs:element name="Id" type="xs:unsignedShort" minOccurs="0" maxOccurs="1"/>
                    <xs:element name="Image" minOccurs="0" maxOccurs="1"/>
                    <xs:element name="ImageLarge" minOccurs="0" maxOccurs="1"/>
                    <xs:element name="Inventory" nillable="true" minOccurs="0" maxOccurs="1"/>
                    <xs:element name="IsActiveVersion" type="xs:boolean" minOccurs="0" maxOccurs="1"/>
                    <xs:element name="IsBundleProduct" nillable="true" minOccurs="0" maxOccurs="1"/>
                    <xs:element name="IsNewVersion" nillable="true" minOccurs="0" maxOccurs="1"/>
                    <xs:element name="IsProductUsingAlternativePricing" type="xs:boolean" minOccurs="0" maxOccurs="1"/>
                    <xs:element name="IsSyncedFromBackOffice" type="xs:boolean" minOccurs="0" maxOccurs="1"/>
                    <xs:element name="LeadTime" minOccurs="0" maxOccurs="1"/>
                    <xs:element name="MPN" minOccurs="0" maxOccurs="1"/>
                    <xs:element name="ModifiedBy" type="xs:string" minOccurs="0" maxOccurs="1"/>
                    <xs:element name="ModifiedDate" type="xs:dateTime" minOccurs="0" maxOccurs="1"/>
                    <xs:element name="Name" type="xs:string" minOccurs="0" maxOccurs="1"/>
                    <xs:element name="OldMaterialNumber" minOccurs="0" maxOccurs="1"/>
                    <xs:element name="OrderItemType" type="xs:string" minOccurs="0" maxOccurs="1"/>
                    <xs:element name="PermissionEndDate" nillable="true" minOccurs="0" maxOccurs="1"/>
                    <xs:element name="PermissionStartDate" nillable="true" minOccurs="0" maxOccurs="1"/>
                    <xs:element name="PermissionSystemIds" minOccurs="0" maxOccurs="1"/>
                    <xs:element name="Price" type="xs:decimal" minOccurs="0" maxOccurs="1"/>
                    <xs:element name="PriceBuilder" minOccurs="0" maxOccurs="1"/>
                    <xs:element name="PricingCode" minOccurs="0" maxOccurs="1"/>
                    <xs:element name="ProductType" minOccurs="1" maxOccurs="1">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="Name" type="xs:string" minOccurs="0" maxOccurs="1"/>
                          <xs:element name="Rank" type="xs:unsignedByte" minOccurs="0" maxOccurs="1"/>
                          <xs:element name="SystemId" type="xs:string" minOccurs="0" maxOccurs="1"/>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="ProductVersion" minOccurs="0" maxOccurs="1"/>
                    <xs:element name="RecurringCostFormula" minOccurs="0" maxOccurs="1"/>
                    <xs:element name="RecurringCostPeriodFormula" minOccurs="0" maxOccurs="1"/>
                    <xs:element name="RecurringPriceFormula" minOccurs="0" maxOccurs="1"/>
                    <xs:element name="RecurringPricePeriodFormula" minOccurs="0" maxOccurs="1"/>
                    <xs:element name="ReplacementProductName" minOccurs="0" maxOccurs="1"/>
                    <xs:element name="ReplacementProductSystemId" minOccurs="0" maxOccurs="1"/>
                    <xs:element name="Script" minOccurs="0" maxOccurs="1"/>
                    <xs:element name="Shippings" minOccurs="0" maxOccurs="1"/>
                    <xs:element name="SkipRelatedProductsLoading" type="xs:boolean" minOccurs="0" maxOccurs="1" />
                    <xs:element name="SystemId" type="xs:string" minOccurs="0" maxOccurs="1" />
                    <xs:element name="UPC" minOccurs="0" maxOccurs="1" />
                    <xs:element name="UnitOfMeasure" minOccurs="0" maxOccurs="1" />
                    <xs:element name="UpdateAsset" type="xs:boolean" minOccurs="0" maxOccurs="1"/>
                    <xs:element name="UserCanEnterQuantity" minOccurs="0" maxOccurs="1" />
                    <xs:element name="VisibleToEveryone" type="xs:boolean" minOccurs="0" maxOccurs="1" />
                    <xs:element name="Weight" minOccurs="0" maxOccurs="1" />
                    <xs:element name="XDistributionChainStatus" minOccurs="0" maxOccurs="1" />
                    <xs:element name="XDistributionChainStatusValidFrom" nillable="true" minOccurs="0" maxOccurs="1" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="SalesAreas" minOccurs="0" maxOccurs="1">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="ProductIntegrationSalesAreaVM" minOccurs="0" maxOccurs="unbounded">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="DistributionChainSpecificStatus" minOccurs="0" maxOccurs="1" />
                          <xs:element name="DistributionChainSpecificStatusValidFrom" minOccurs="0" maxOccurs="1" nillable="true" />
                          <xs:element name="DistributionChannelName" type="xs:string" minOccurs="0" maxOccurs="1" />
                          <xs:element name="DistributionChannelSystemId" type="xs:string" minOccurs="0" maxOccurs="1" />
                          <xs:element name="IsDeleted" type="xs:boolean" minOccurs="0" maxOccurs="1" />
                          <xs:element name="ItemCategoryGroup" minOccurs="0" maxOccurs="1" />
                          <xs:element name="PricingReferenceMaterial" minOccurs="0" maxOccurs="1" />
                          <xs:element name="SalesOrganizationName" type="xs:string" minOccurs="0" maxOccurs="1" />
                          <xs:element name="SalesOrganizationSystemId" type="xs:string" minOccurs="0" maxOccurs="1" />
                          <xs:element name="SalesUnit" minOccurs="0" maxOccurs="1" />
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>           
			  <xs:element name="SalesUnitsOfMeasure" minOccurs="0" maxOccurs="1">
			  <xs:complexType>
				<xs:sequence>
				  <xs:element name="ProductIntegrationSalesUnitOfMeasureVM" minOccurs="0" maxOccurs="unbounded">
					<xs:complexType>
					  <xs:sequence>
						<xs:element name="Denominator" type="xs:int" minOccurs="0" maxOccurs="1"/>
						<xs:element name="Numerator" type="xs:int" minOccurs="0" maxOccurs="1"/>
						<xs:element name="Unit" type="xs:string" minOccurs="0" maxOccurs="1"/>
					  </xs:sequence>
					</xs:complexType>
				  </xs:element>
				</xs:sequence>
			  </xs:complexType>
			 </xs:element>
			</xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>