Resources/schemas/Xsd/SAP_Service_Cloud_Version_2_Integration_with_SAP_S-4HANA - serviceContractTarget.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified"
	xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="MessageHeader">
		<xs:complexType>
			<xs:sequence>
				<xs:element type="xs:string" name="ID"/>
				<xs:element type="xs:string" name="UUID"/>
				<xs:element type="xs:string" name="CreationDateTime"/>
				<xs:element type="xs:string" name="SenderBusinessSystemID"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="ServiceContracts">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="ServiceContract" minOccurs="0" maxOccurs="unbounded">
					<xs:complexType>
						<xs:sequence>
							<xs:element type="xs:string" name="displayId" maxOccurs="1" minOccurs="0"/>
							<xs:element type="xs:string" name="serviceContractType" maxOccurs="1" minOccurs="0"/>
							<xs:element name="descriptions" minOccurs="0" maxOccurs="1">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="description" minOccurs="0" maxOccurs="unbounded">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="languageCode" type="xs:string" minOccurs="0"/>
													<xs:element name="content" type="xs:string"/>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="lifeCycleStatus" type="xs:string" minOccurs="0" maxOccurs="1"/>
							<xs:element name="billingStatus" type="xs:string" minOccurs="0" maxOccurs="1"/>
							<xs:element name="rejectionStatus" type="xs:string" minOccurs="0" maxOccurs="1"/>
							<xs:element name="cancellationStatus" type="xs:string" minOccurs="0" maxOccurs="1"/>
							<xs:element name="businessArea" maxOccurs="1" minOccurs="0">
								<xs:complexType>
									<xs:sequence>
										<xs:element type="xs:string" name="salesOrganisation" maxOccurs="1" minOccurs="0"/>
										<xs:element type="xs:string" name="distributionChannel" maxOccurs="1" minOccurs="0"/>
										<xs:element type="xs:string" name="division" maxOccurs="1" minOccurs="0"/>
										<xs:element type="xs:string" name="salesOffice" maxOccurs="1" minOccurs="0"/>
										<xs:element type="xs:string" name="salesGroup" maxOccurs="1" minOccurs="0"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="account" maxOccurs="1" minOccurs="0">
								<xs:complexType>
									<xs:sequence>
										<xs:element type="xs:string" name="id"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="shipToAccount" maxOccurs="1" minOccurs="0">
								<xs:complexType>
									<xs:sequence>
										<xs:element type="xs:string" name="id"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="billToAccount" maxOccurs="1" minOccurs="0">
								<xs:complexType>
									<xs:sequence>
										<xs:element type="xs:string" name="id"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="payerAccount" maxOccurs="1" minOccurs="0">
								<xs:complexType>
									<xs:sequence>
										<xs:element type="xs:string" name="id"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="contact" maxOccurs="1" minOccurs="0">
								<xs:complexType>
									<xs:sequence>
										<xs:element type="xs:string" name="id"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="employee" maxOccurs="1" minOccurs="0">
								<xs:complexType>
									<xs:sequence>
										<xs:element type="xs:string" name="id"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="serviceOrganisation" maxOccurs="1" minOccurs="0">
								<xs:complexType>
									<xs:sequence>
										<xs:element type="xs:string" name="id"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element type="xs:string" name="startDate" maxOccurs="1" minOccurs="0"/>
							<xs:element type="xs:string" name="endDate" maxOccurs="1" minOccurs="0"/>
							<xs:element name="totalValues" minOccurs="0" maxOccurs="1">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="netAmount" minOccurs="0" maxOccurs="1">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="content" type="xs:decimal" minOccurs="0" maxOccurs="1"/>
													<xs:element name="currencyCode" type="xs:string" minOccurs="0" maxOccurs="1"/>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
										<xs:element name="taxAmount" minOccurs="0" maxOccurs="1">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="content" type="xs:decimal" minOccurs="0" maxOccurs="1"/>
													<xs:element name="currencyCode" type="xs:string" minOccurs="0" maxOccurs="1"/>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
										<xs:element name="grossAmount" minOccurs="0" maxOccurs="1">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="content" type="xs:decimal" minOccurs="0" maxOccurs="1"/>
													<xs:element name="currencyCode" type="xs:string" minOccurs="0" maxOccurs="1"/>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="items" maxOccurs="1" minOccurs="0">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="item" maxOccurs="unbounded" minOccurs="0">
											<xs:complexType>
												<xs:sequence>
													<xs:element type="xs:string" name="displayId" maxOccurs="1" minOccurs="0"/>
													<xs:element type="xs:string" name="itemCategory" maxOccurs="1" minOccurs="0"/>
													<xs:element name="product" maxOccurs="1" minOccurs="0">
														<xs:complexType>
															<xs:sequence>
																<xs:element type="xs:string" name="id"/>
															</xs:sequence>
														</xs:complexType>
													</xs:element>
													<xs:element name="quantity" minOccurs="0" maxOccurs="1">
														<xs:complexType>
															<xs:sequence>
																<xs:element name="content" type="xs:decimal" minOccurs="0"/>
																<xs:element name="uomCode" type="xs:string" minOccurs="0"/>
															</xs:sequence>
														</xs:complexType>
													</xs:element>
													<xs:element name="descriptions">
														<xs:complexType>
															<xs:sequence>
																<xs:element name="description" maxOccurs="1" minOccurs="0">
																	<xs:complexType>
																		<xs:sequence>
																			<xs:element type="xs:string" name="languageCode" minOccurs="0"/>
																			<xs:element type="xs:string" name="content"/>
																		</xs:sequence>
																	</xs:complexType>
																</xs:element>
															</xs:sequence>
														</xs:complexType>
													</xs:element>
													<xs:element name="lifeCycleStatus" type="xs:string" minOccurs="0" maxOccurs="1"/>
													<xs:element name="businessArea" maxOccurs="1" minOccurs="0">
														<xs:complexType>
															<xs:sequence>
																<xs:element type="xs:string" name="salesOrganisation" maxOccurs="1" minOccurs="0"/>
																<xs:element type="xs:string" name="distributionChannel" maxOccurs="1" minOccurs="0"/>
																<xs:element type="xs:string" name="division" maxOccurs="1" minOccurs="0"/>
																<xs:element type="xs:string" name="salesOffice" maxOccurs="1" minOccurs="0"/>
																<xs:element type="xs:string" name="salesGroup" maxOccurs="1" minOccurs="0"/>
															</xs:sequence>
														</xs:complexType>
													</xs:element>
													<xs:element name="account" maxOccurs="1" minOccurs="0">
														<xs:complexType>
															<xs:sequence>
																<xs:element type="xs:string" name="id"/>
															</xs:sequence>
														</xs:complexType>
													</xs:element>
													<xs:element name="shipToAccount" maxOccurs="1" minOccurs="0">
														<xs:complexType>
															<xs:sequence>
																<xs:element type="xs:string" name="id"/>
															</xs:sequence>
														</xs:complexType>
													</xs:element>
													<xs:element name="billToAccount" maxOccurs="1" minOccurs="0">
														<xs:complexType>
															<xs:sequence>
																<xs:element type="xs:string" name="id"/>
															</xs:sequence>
														</xs:complexType>
													</xs:element>
													<xs:element name="payerAccount" maxOccurs="1" minOccurs="0">
														<xs:complexType>
															<xs:sequence>
																<xs:element type="xs:string" name="id"/>
															</xs:sequence>
														</xs:complexType>
													</xs:element>
													<xs:element name="contact" maxOccurs="1" minOccurs="0">
														<xs:complexType>
															<xs:sequence>
																<xs:element type="xs:string" name="id"/>
															</xs:sequence>
														</xs:complexType>
													</xs:element>
													<xs:element name="employee" maxOccurs="1" minOccurs="0">
														<xs:complexType>
															<xs:sequence>
																<xs:element type="xs:string" name="id"/>
															</xs:sequence>
														</xs:complexType>
													</xs:element>
													<xs:element name="serviceOrganisation" maxOccurs="1" minOccurs="0">
														<xs:complexType>
															<xs:sequence>
																<xs:element type="xs:string" name="id"/>
															</xs:sequence>
														</xs:complexType>
													</xs:element>
													<xs:element name="totalValues" minOccurs="0" maxOccurs="1">
														<xs:complexType>
															<xs:sequence>
																<xs:element name="netAmount" minOccurs="0" maxOccurs="1">
																	<xs:complexType>
																		<xs:sequence>
																			<xs:element name="content" type="xs:decimal" minOccurs="0" maxOccurs="1"/>
																			<xs:element name="currencyCode" type="xs:string" minOccurs="0" maxOccurs="1"/>
																		</xs:sequence>
																	</xs:complexType>
																</xs:element>
																<xs:element name="taxAmount" minOccurs="0" maxOccurs="1">
																	<xs:complexType>
																		<xs:sequence>
																			<xs:element name="content" type="xs:decimal" minOccurs="0" maxOccurs="1"/>
																			<xs:element name="currencyCode" type="xs:string" minOccurs="0" maxOccurs="1"/>
																		</xs:sequence>
																	</xs:complexType>
																</xs:element>
																<xs:element name="grossAmount" minOccurs="0" maxOccurs="1">
																	<xs:complexType>
																		<xs:sequence>
																			<xs:element name="content" type="xs:decimal" minOccurs="0" maxOccurs="1"/>
																			<xs:element name="currencyCode" type="xs:string" minOccurs="0" maxOccurs="1"/>
																		</xs:sequence>
																	</xs:complexType>
																</xs:element>
															</xs:sequence>
														</xs:complexType>
													</xs:element>
													<xs:element name="referenceRegisteredProducts" minOccurs="0" maxOccurs="unbounded">
														<xs:complexType>
															<xs:sequence>
																<xs:element name="id" type="xs:string" minOccurs="0"/>
															</xs:sequence>
														</xs:complexType>
													</xs:element>
													<xs:element name="referenceFunctionalLocations" minOccurs="0" maxOccurs="unbounded">
														<xs:complexType>
															<xs:sequence>
																<xs:element name="id" type="xs:string" minOccurs="0"/>
															</xs:sequence>
														</xs:complexType>
													</xs:element>
													<xs:element name="referenceProducts" minOccurs="0" maxOccurs="unbounded">
														<xs:complexType>
															<xs:sequence>
																<xs:element name="id" type="xs:string" minOccurs="0"/>
															</xs:sequence>
														</xs:complexType>
													</xs:element>
													<xs:element name="itemProducts" minOccurs="0" maxOccurs="unbounded">
														<xs:complexType>
															<xs:sequence>
																<xs:element name="id" type="xs:string" minOccurs="0"/>
															</xs:sequence>
														</xs:complexType>
													</xs:element>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>