Resources/schemas/Xsd/SAP_SuccessFactors_Recruiting_Management_Integration_with_Third_Party_Assessment_Vendor_-_People_Answers - SF_AssessmentReportCreateResponse.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	elementFormDefault="qualified" attributeFormDefault="unqualified">

	<xs:element name="insertResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="result">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="jobStatus" type="xs:string" />
							<xs:element name="message" />
							<xs:element name="objectEditResult">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="id" type="xs:string" />
										<xs:element name="errorStatus" type="xs:string" />
										<xs:element name="editStatus" type="xs:string" />
										<xs:element name="index" type="xs:int" />
										<xs:element name="message" type="xs:string" />
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>