Resources/schemas/Xsd/SAP_Complaint_Handling_Integration_For_Customer_Complaints - LeftSidePayload-5.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="A_CustomerReturn">
    <xs:complexType>
        <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="1" name="A_CustomerReturnType">
                <xs:complexType>
                    <xs:sequence>
                      <xs:element name="SalesOrganization" type="xs:unsignedByte"/>
                      <xs:element name="DistributionChannel" type="xs:unsignedByte"/>
                      <xs:element name="OrganizationDivision" type="xs:unsignedByte"/>
                      <xs:element name="SalesGroup" type="xs:string"/>
                      <xs:element name="SalesOffice" type="xs:string"/>
                      <xs:element name="SalesDistrict" type="xs:unsignedByte"/>
                      <xs:element name="SoldToParty" type="xs:string"/>
                      <xs:element name="CreationDate" type="xs:dateTime"/>
                      <xs:element name="CreatedByUser" type="xs:string"/>
                      <xs:element name="LastChangeDate" type="xs:string"/>
                      <xs:element name="SenderBusinessSystemName" type="xs:string"/>
                      <xs:element name="LastChangeDateTime" type="xs:dateTime"/>
                      <xs:element name="PurchaseOrderByCustomer" type="xs:unsignedByte"/>
                      <xs:element name="CustomerPurchaseOrderType"  type="xs:string"/>
                      <xs:element name="CustomerPurchaseOrderDate" type="xs:string"/>
                      <xs:element name="CustomerReturnDate" type="xs:dateTime"/>
                      <xs:element name="TotalNetAmount" type="xs:decimal"/>
                      <xs:element name="TransactionCurrency" type="xs:string"/>
                      <xs:element name="SDDocumentReason" type="xs:string"/>
                      <xs:element name="PricingDate" type="xs:string"/>
                      <xs:element name="RequestedDeliveryDate" type="xs:string"/>
                      <xs:element name="ShippingType"  type="xs:string"/>
                      <xs:element name="HeaderBillingBlockReason" type="xs:string"/>
                      <xs:element name="DeliveryBlockReason" type="xs:string"/>
                      <xs:element name="IncotermsClassification" type="xs:string"/>
                      <xs:element name="IncotermsTransferLocation" type="xs:string"/>
                      <xs:element name="IncotermsLocation1" type="xs:string"/>
                      <xs:element name="IncotermsLocation2" type="xs:string"/>
                      <xs:element name="IncotermsVersion" type="xs:string"/>
                      <xs:element name="CustomerPaymentTerms" type="xs:unsignedByte"/>
                      <xs:element name="PaymentMethod" type="xs:string"/>
                      <xs:element name="CustomerTaxClassification1" type="xs:string"/>
                      <xs:element name="CustomerTaxClassification2" type="xs:string"/>
                      <xs:element name="CustomerTaxClassification3" type="xs:string"/>
                      <xs:element name="CustomerTaxClassification4" type="xs:string"/>
                      <xs:element name="CustomerTaxClassification5" type="xs:string"/>
                      <xs:element name="CustomerTaxClassification6" type="xs:string"/>
                      <xs:element name="CustomerTaxClassification7" type="xs:string"/>
                      <xs:element name="CustomerTaxClassification8" type="xs:string"/>
                      <xs:element name="CustomerTaxClassification9" type="xs:string"/>
                      <xs:element name="RetsMgmtProcess" type="xs:unsignedLong"/>
                      <xs:element name="ReferenceSDDocument" type="xs:unsignedInt"/>
                      <xs:element name="ReferenceSDDocumentCategory" type="xs:string"/>
                      <xs:element name="AccountingDocExternalReference" type="xs:unsignedInt"/>
                      <xs:element name="AssignmentReference" type="xs:unsignedInt"/>
                      <xs:element name="CustomerReturnApprovalReason" type="xs:string"/>
                      <xs:element name="SalesDocApprovalStatus" type="xs:string"/>
                      <xs:element name="RetsMgmtLogProcgStatus" type="xs:unsignedByte"/>
                      <xs:element name="RetsMgmtCompnProcgStatus" type="xs:unsignedByte"/>
                      <xs:element name="RetsMgmtProcessingStatus" type="xs:unsignedByte"/>
                      <xs:element name="OverallSDProcessStatus" type="xs:string"/>
                      <xs:element name="TotalCreditCheckStatus" type="xs:string"/>
                      <xs:element name="OverallSDDocumentRejectionSts" type="xs:string"/>
                      <xs:element name="FashionCancelDate" type="xs:string"/>
                      <xs:element name="RetailAdditionalCustomerGrp6" type="xs:string"/>
                      <xs:element name="RetailAdditionalCustomerGrp7" type="xs:string"/>
                      <xs:element name="RetailAdditionalCustomerGrp8" type="xs:string"/>
                      <xs:element name="RetailAdditionalCustomerGrp9" type="xs:string"/>
                      <xs:element name="RetailAdditionalCustomerGrp10" type="xs:string"/> 
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>