Resources/schemas/Xsd/SAP_Build_Process_Automation_Integration_with_SAP_S-4HANA_for_Lease_Termination - BAPI_RE_CN_CHANGE_RESPONSE.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="unqualified" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:sap-com:document:sap:rfc:functions">
	<xs:element name="BAPI_RE_CN_CHANGE.Response">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="ACT_DEPOSIT" />
				<xs:element name="CONDITION" />
				<xs:element name="COSETTLE_RULE" />
				<xs:element name="EXTENSION_IN" />
				<xs:element name="MEAS_CN" />
				<xs:element name="OBJECT_REL" />
				<xs:element name="OPTION_RATE" />
				<xs:element name="PARTNER" />
				<xs:element name="RESUBM_DATE" />
				<xs:element name="RESUBM_RULE" />
				<xs:element name="RETURN">
					<xs:complexType>
						<xs:sequence>
							<xs:element maxOccurs="unbounded" name="item">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="TYPE" type="xs:string" />
										<xs:element name="ID" type="xs:string" />
										<xs:element name="NUMBER" type="xs:unsignedByte" />
										<xs:element maxOccurs="unbounded" name="MESSAGE" />
										<xs:element name="LOG_NO" />
										<xs:element name="LOG_MSG_NO" type="xs:unsignedByte" />
										<xs:element name="MESSAGE_V1" type="xs:string" />
										<xs:element name="MESSAGE_V2" type="xs:string" />
										<xs:element name="MESSAGE_V3" />
										<xs:element name="MESSAGE_V4" type="xs:string" />
										<xs:element name="PARAMETER" />
										<xs:element name="ROW" type="xs:unsignedByte" />
										<xs:element name="FIELD" />
										<xs:element name="SYSTEM" type="xs:string" />
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="STATUS" />
				<xs:element name="TERM_ADJUSTMENT" />
				<xs:element name="TERM_EVALUATION" />
				<xs:element name="TERM_EVALUATION_CONDITION" />
				<xs:element name="TERM_NOTICE_OBJ" />
				<xs:element name="TERM_NOTICE_RULE" />
				<xs:element name="TERM_OBJECT_REL" />
				<xs:element name="TERM_ORG_ASSIGNMENT" />
				<xs:element name="TERM_PAYMENT" />
				<xs:element name="TERM_PAYMENT_SPLIT" />
				<xs:element name="TERM_RENEWAL_RULE" />
				<xs:element name="TERM_RHYTHM" />
				<xs:element name="TERM_SR_PEAK_SALES" />
				<xs:element name="TERM_SR_REPORTING" />
				<xs:element name="TERM_SR_RHYTHM" />
				<xs:element name="TERM_SR_SALES" />
				<xs:element name="TERM_WITHHOLDING_TAX" />
				<xs:element name="TERM_WITHHOLDING_TAX_ITEM" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>