Resources/schemas/Xsd/SAP_S-4HANA_for_central_procurement_–_Central_Purchasing_Integration_with_Third_Party_System - PO_Extraction_withGFN.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="PurOrderHeaders">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="PurOrderHeader" minOccurs="1" maxOccurs="unbounded">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:long" name="PurchaseOrder" />
              <xs:element type="xs:string" name="PurgReleaseSequenceStatus" />
              <xs:element type="xs:string" name="InvoicingParty" />
              <xs:element type="xs:byte" name="CashDiscount2Days" />
              <xs:element type="xs:string" name="DocumentCurrency" />
              <xs:element type="xs:byte" name="CashDiscount1Days" />
              <xs:element type="xs:string" name="ReleaseIsNotCompleted" />
              <xs:element type="xs:string" name="PurchasingCompletenessStatus" />
              <xs:element type="xs:string" name="ValidityStartDate" />
              <xs:element type="xs:byte" name="PurchaseOrderOutputStatus" />
              <xs:element type="xs:string" name="HasAttachment" />
              <xs:element type="xs:byte" name="PurchasingDocumentOrigin" />
              <xs:element type="xs:byte" name="PaymentTerms" />
              <xs:element type="xs:float" name="ExchangeRate" />
              <xs:element type="xs:string" name="PurchaseOrderType" />
              <xs:element type="xs:string" name="IncotermsTransferLocation" />
              <xs:element type="xs:string" name="JobImportType" />
              <xs:element type="xs:string" name="PricingProcedure" />
              <xs:element type="xs:byte" name="NetPaymentDays" />
              <xs:element type="xs:float" name="CashDiscount2Percent" />
              <xs:element type="xs:string" name="CreatedByUser" />
              <xs:element type="xs:byte" name="PurchasingGroup" />
              <xs:element type="xs:byte" name="PurchasingOrganization" />
              <xs:element type="xs:dateTime" name="LastChangeDateTime" />
              <xs:element type="xs:string" name="PurchasingDocumentDeletionCode" />
              <xs:element type="xs:string" name="PurchasingDocumentCategory" />
              <xs:element type="xs:string" name="UserDescription" />
              <xs:element type="xs:dateTime" name="PurchaseOrderDate" />
              <xs:element type="xs:byte" name="PurchasingProcessingStatus" />
              <xs:element type="xs:string" name="Language" />
              <xs:element type="xs:string" name="SupplierAddressID" />
              <xs:element type="xs:string" name="IncotermsClassification" />
              <xs:element type="xs:string" name="PurchaseOrderSubtype" />
              <xs:element type="xs:string" name="PurgObjHasFllwOnDoc" />
              <xs:element type="xs:string" name="Supplier" />
              <xs:element type="xs:string" name="SupplierQuotationExternalID" />
              <xs:element type="xs:string" name="VATRegistration" />
              <xs:element type="xs:dateTime" name="LastXtrctnDteTme" />
              <xs:element type="xs:byte" name="CompanyCode" />
              <xs:element type="xs:string" name="HasNote" />
              <xs:element type="xs:string" name="IsArchived" />
              <xs:element type="xs:float" name="CashDiscount1Percent" />
              <xs:element type="xs:string" name="ValidityEndDate" />
              <xs:element type="xs:dateTime" name="CreationDate" />
              <xs:element type="xs:string" name="ExchangeRateIsFixed" />
              <xs:element type="xs:string" name="ReleaseCode" />
              <xs:element type="xs:int" name="PurchasingDocumentCondition" />
              <xs:element name="to_PurchaseOrderHeaderNotes">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="PurchaseOrderHeaderNotes" maxOccurs="unbounded" minOccurs="0">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element type="xs:long" name="PurchaseOrder" />
                          <xs:element type="xs:long" name="TextObjectKey" />
                          <xs:element type="xs:string" name="Language" />
                          <xs:element type="xs:string" name="PurgObjApplicationType" />
                          <xs:element type="xs:string" name="LongTextID" />
                          <xs:element name="to_PurchaseOrderHeaderTextLine">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="PurchaseOrderHeaderTextLine" maxOccurs="unbounded" minOccurs="0">
                                  <xs:complexType>
                                    <xs:sequence>
                                      <xs:element type="xs:long" name="PurchaseOrder" />
                                      <xs:element type="xs:string" name="TextOutputLine" />
                                    </xs:sequence>
                                  </xs:complexType>
                                </xs:element>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="to_PurOrderItem">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="PurOrderItem" minOccurs="0" maxOccurs="unbounded">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element type="xs:long" name="PurchaseOrder" />
                          <xs:element type="xs:byte" name="PurchaseOrderItem" />
                          <xs:element type="xs:string" name="StorageLocation" />
                          <xs:element type="xs:float" name="OrderQuantity" />
                          <xs:element type="xs:byte" name="PurchaseContractItem" />
                          <xs:element type="xs:string" name="Customer" />
                          <xs:element type="xs:short" name="ReferenceDeliveryAddressID" />
                          <xs:element type="xs:byte" name="MaterialGroup" />
                          <xs:element type="xs:byte" name="PurchaseRequisitionItem" />
                          <xs:element type="xs:string" name="ManualDeliveryAddressID" />
                          <xs:element type="xs:long" name="PurchasingInfoRecord" />
                          <xs:element type="xs:string" name="PurchaseOrderQuantityUnit" />
                          <xs:element type="xs:string" name="PurchaseOrderQtyUnitISOCode" />
                          <xs:element type="xs:string" name="PurgObjCustomerAddressID" />
                          <xs:element type="xs:string" name="TaxCode" />
                          <xs:element type="xs:string" name="HasAttachment" />
                          <xs:element type="xs:string" name="OrderPriceUnit" />
                          <xs:element type="xs:float" name="NetAmount" />
                          <xs:element type="xs:string" name="ProductType" />
                          <xs:element type="xs:byte" name="OrderItemQtyToBaseQtyDnmntr" />
                          <xs:element type="xs:string" name="CommodityCode" />
                          <xs:element type="xs:byte" name="PurchaseOrderItemCategory" />
                          <xs:element type="xs:string" name="IncotermsTransferLocation" />
                          <xs:element type="xs:string" name="TaxJurisdiction" />
                          <xs:element type="xs:string" name="PurgObjSubcontractorAddressID" />
                          <xs:element type="xs:string" name="UnlimitedOverdeliveryIsAllowed" />
                          <xs:element type="xs:string" name="BaseUnit" />
                          <xs:element type="xs:string" name="BaseUnitISOCode" />
                          <xs:element type="xs:string" name="InvoiceIsExpected" />
                          <xs:element type="xs:string" name="TaxCalculationProcedure" />
                          <xs:element type="xs:string" name="MaterialType" />
                          <xs:element type="xs:string" name="MultipleAcctAssgmtDistribution" />
                          <xs:element type="xs:string" name="PurchasingDocumentDeletionCode" />
                          <xs:element type="xs:float" name="OverallLimitAmount" />
                          <xs:element type="xs:byte" name="Plant" />
                          <xs:element type="xs:string" name="ServicePerformer" />
                          <xs:element type="xs:string" name="PurchaseOrderItemText" />
                          <xs:element type="xs:string" name="IsCompletelyDelivered" />
                          <xs:element type="xs:string" name="PurchaseOrderCategory" />
                          <xs:element type="xs:float" name="OverdelivTolrtdLmtRatioInPct" />
                          <xs:element type="xs:string" name="IncotermsClassification" />
                          <xs:element type="xs:byte" name="OrderItemQtyToBaseQtyNmrtr" />
                          <xs:element type="xs:string" name="AccountAssignmentCategory" />
                          <xs:element type="xs:float" name="TargetAmount" />
                          <xs:element type="xs:float" name="GrossAmount" />
                          <xs:element type="xs:byte" name="OrderPriceUnitToOrderUnitNmrtr" />
                          <xs:element type="xs:string" name="PurchaseContract" />
                          <xs:element type="xs:byte" name="ServicePackage" />
                          <xs:element type="xs:string" name="SupplierMaterialNumber" />
                          <xs:element type="xs:byte" name="CompanyCode" />
                          <xs:element type="xs:string" name="IsFinallyInvoiced" />
                          <xs:element type="xs:short" name="Material" />
                          <xs:element type="xs:string" name="PurchaseRequisition" />
                          <xs:element type="xs:string" name="HasNote" />
                          <xs:element type="xs:string" name="GoodsReceiptIsExpected" />
                          <xs:element type="xs:float" name="UnderdelivTolrtdLmtRatioInPct" />
                          <xs:element type="xs:float" name="ExpectedOverallLimitAmount" />
                          <xs:element type="xs:string" name="InvoiceIsGoodsReceiptBased" />
                          <xs:element type="xs:string" name="RequisitionerName" />
                          <xs:element type="xs:string" name="GoodsReceiptIsNonValuated" />
                          <xs:element type="xs:float" name="NetPriceAmount" />
                          <xs:element type="xs:byte" name="NetPriceQuantity" />
                          <xs:element type="xs:byte" name="OrdPriceUnitToOrderUnitDnmntr" />
                          <xs:element name="to_PurOrderItemAddress">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="PurOrderItemAddress" minOccurs="0" maxOccurs="unbounded">
                                  <xs:complexType>
                                    <xs:sequence>
                                      <xs:element type="xs:long" name="PurchaseOrder" />
                                      <xs:element type="xs:byte" name="PurchaseOrderItem" />
                                      <xs:element type="xs:string" name="BusinessPartnerName1" />
                                      <xs:element type="xs:string" name="BusinessPartnerName2" />
                                      <xs:element type="xs:short" name="ItemDeliveryAddressID" />
                                      <xs:element type="xs:string" name="FaxNumber" />
                                      <xs:element type="xs:string" name="FormOfAddress" />
                                      <xs:element type="xs:byte" name="HouseNumber" />
                                      <xs:element type="xs:string" name="CorrespondenceLanguage" />
                                      <xs:element type="xs:string" name="StreetName" />
                                      <xs:element type="xs:int" name="PostalCode" />
                                      <xs:element type="xs:string" name="Region" />
                                      <xs:element type="xs:string" name="Country" />
                                      <xs:element type="xs:string" name="CityName" />
                                      <xs:element type="xs:string" name="PhoneNumber" />
                                    </xs:sequence>
                                  </xs:complexType>
                                </xs:element>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                          <xs:element name="to_PurOrderAccAssignment">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="PurOrderItemAccAssignment" minOccurs="0" maxOccurs="unbounded">
                                  <xs:complexType>
                                    <xs:sequence>
                                      <xs:element type="xs:long" name="PurchaseOrder" />
                                      <xs:element type="xs:byte" name="PurchaseOrderItem" />
                                      <xs:element type="xs:float" name="MultipleAcctAssgmtDistrPercent" />
                                      <xs:element type="xs:string" name="SalesOrder" />
                                      <xs:element type="xs:int" name="GLAccount" />
                                      <xs:element type="xs:string" name="OrderID" />
                                      <xs:element type="xs:byte" name="WBSElementInternalID" />
                                      <xs:element type="xs:float" name="PurgDocNetAmount" />
                                      <xs:element type="xs:string" name="CostCenter" />
                                      <xs:element type="xs:string" name="UnloadingPointName" />
                                      <xs:element type="xs:string" name="BusinessArea" />
                                      <xs:element type="xs:string" name="BusinessProcess" />
                                      <xs:element type="xs:string" name="ChartOfAccounts" />
                                      <xs:element type="xs:string" name="IsDeleted" />
                                      <xs:element type="xs:byte" name="SalesOrderItem" />
                                      <xs:element type="xs:string" name="ProfitCenter" />
                                      <xs:element type="xs:string" name="FixedAsset" />
                                      <xs:element type="xs:string" name="MasterFixedAsset" />
                                      <xs:element type="xs:float" name="Quantity" />
                                      <xs:element type="xs:string" name="FunctionalArea" />
                                      <xs:element type="xs:byte" name="ControllingArea" />
                                      <xs:element type="xs:byte" name="AccountAssignmentNumber" />
                                      <xs:element type="xs:string" name="ProjectNetwork" />
                                      <xs:element type="xs:string" name="CostObject" />
                                      <xs:element type="xs:string" name="CreationDate" />
                                      <xs:element type="xs:byte" name="SalesOrderScheduleLine" />
                                    </xs:sequence>
                                  </xs:complexType>
                                </xs:element>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                          <xs:element name="to_PurchaseOrderItemNotes">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="PurchaseOrderItemNotes" maxOccurs="unbounded" minOccurs="0">
                                  <xs:complexType>
                                    <xs:sequence>
                                      <xs:element type="xs:long" name="PurchaseOrder" />
                                      <xs:element type="xs:byte" name="PurchaseOrderItem" />
                                      <xs:element type="xs:long" name="TextObjectKey" />
                                      <xs:element type="xs:string" name="Language" />
                                      <xs:element type="xs:string" name="PurgObjApplicationType" />
                                      <xs:element type="xs:string" name="LongTextID" />
                                      <xs:element name="to_PurchaseOrderItemTextLine">
                                        <xs:complexType>
                                          <xs:sequence>
                                            <xs:element name="PurchaseOrderItemTextLine">
                                              <xs:complexType>
                                                <xs:sequence>
                                                  <xs:element type="xs:long" name="PurchaseOrder" />
                                                  <xs:element type="xs:byte" name="PurchaseOrderItem" />
                                                  <xs:element type="xs:string" name="TextOutputLine" />
                                                </xs:sequence>
                                              </xs:complexType>
                                            </xs:element>
                                          </xs:sequence>
                                        </xs:complexType>
                                      </xs:element>
                                    </xs:sequence>
                                  </xs:complexType>
                                </xs:element>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                          <xs:element name="to_PurOrderItemCond">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="PurOrderItemCondition" maxOccurs="unbounded" minOccurs="0">
                                  <xs:complexType>
                                    <xs:sequence>
                                      <xs:element type="xs:long" name="PurchaseOrder" />
                                      <xs:element type="xs:byte" name="PurchaseOrderItem" />
                                      <xs:element type="xs:int" name="PricingDocument" />
                                      <xs:element type="xs:string" name="ConditionType" />
                                      <xs:element type="xs:string" name="ConditionIsForStatistics" />
                                      <xs:element type="xs:string" name="ConditionRecord" />
                                      <xs:element type="xs:string" name="TransactionCurrency" />
                                      <xs:element type="xs:string" name="ConditionControl" />
                                      <xs:element type="xs:byte" name="PricingDocumentItem" />
                                      <xs:element type="xs:string" name="IsGroupCondition" />
                                      <xs:element type="xs:byte" name="ConditionQuantity" />
                                      <xs:element type="xs:string" name="ConditionQuantityUnit" />
                                      <xs:element type="xs:string" name="ConditionQuantityUnitISOCode" />
                                      <xs:element type="xs:string" name="TaxCode" />
                                      <xs:element type="xs:string" name="ConditionIsManuallyChanged" />
                                      <xs:element type="xs:byte" name="PricingProcedureCounter" />
                                      <xs:element type="xs:float" name="PriceDetnExchangeRate" />
                                      <xs:element type="xs:float" name="ConditionAmount" />
                                      <xs:element type="xs:byte" name="ConditionSequentialNumber" />
                                      <xs:element type="xs:string" name="ConditionInactiveReason" />
                                      <xs:element type="xs:byte" name="PricingProcedureStep" />
                                      <xs:element type="xs:dateTime" name="PricingDateTime" />
                                      <xs:element type="xs:string" name="ConditionApplication" />
                                      <xs:element type="xs:string" name="ConditionCurrency" />
                                      <xs:element type="xs:string" name="ConditionCalculationType" />
                                      <xs:element type="xs:float" name="ConditionBaseValue" />
                                      <xs:element type="xs:float" name="ConditionRateValue" />
                                    </xs:sequence>
                                  </xs:complexType>
                                </xs:element>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                          <xs:element name="to_PurOrderSchedule">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="PurOrderItemSchedule" minOccurs="0" maxOccurs="unbounded">
                                  <xs:complexType>
                                    <xs:sequence>
                                      <xs:element type="xs:long" name="PurchaseOrder" />
                                      <xs:element type="xs:byte" name="PurchaseOrderItem" />
                                      <xs:element type="xs:float" name="PrevDelivQtyOfScheduleLine" />
                                      <xs:element type="xs:byte" name="DelivDateCategory" />
                                      <xs:element type="xs:dateTime" name="SchedLineStscDeliveryDate" />
                                      <xs:element type="xs:byte" name="ScheduleLine" />
                                      <xs:element type="xs:dateTime" name="ScheduleLineDeliveryTime" />
                                      <xs:element type="xs:float" name="ScheduleLineIssuedQuantity" />
                                      <xs:element type="xs:string" name="PerformancePeriodStartDate" />
                                      <xs:element type="xs:string" name="Batch" />
                                      <xs:element type="xs:float" name="RoughGoodsReceiptQty" />
                                      <xs:element type="xs:dateTime" name="ScheduleLineDeliveryDate" />
                                      <xs:element type="xs:string" name="PerformancePeriodEndDate" />
                                      <xs:element type="xs:float" name="StockTransferDeliveredQuantity" />
                                      <xs:element type="xs:float" name="ScheduleLineOrderQuantity" />
                                      <xs:element type="xs:float" name="GoodsReceiptQuantity" />
                                      <xs:element type="xs:float" name="ScheduleLineCommittedQuantity" />
                                      <xs:element type="xs:string" name="SourceOfCreation" />
                                    </xs:sequence>
                                  </xs:complexType>
                                </xs:element>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>