Resources/schemas/Xsd/SAP_Intelligent_Trade_Claims_Management_integration_with_SAP_S-4HANA_and_SAP_Trade_Promotion_Management_for_Settlement - outboundMessage.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- Created with Liquid Technologies Online Tools 1.0 (https://www.liquid-technologies.com) -->
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="root">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="settlementId" type="xs:string" />
        <xs:element name="itemType" type="xs:string" />
        <xs:element name="settlementUUID" type="xs:string" />
        <xs:element name="settlementType" type="xs:string" />
        <xs:element name="claimID" type="xs:string" />
        <xs:element name="claimType" type="xs:string" />
        <xs:element name="planningAccount" type="xs:string" />
        <xs:element name="payer" type="xs:string" />
        <xs:element name="payee" type="xs:string" />
        <xs:element name="companyCode" type="xs:string" />
        <xs:element name="currency" type="xs:string"/>
        <xs:element name="salesOrganization" type="xs:string" />
        <xs:element name="distributionChannel" type="xs:string" />
        <xs:element name="division" type="xs:string" />
        <xs:element name="salesOffice" type="xs:string" />
        <xs:element name="salesGroup" type="xs:string"/>
        <xs:element name="status" type="xs:string" />
        <xs:element name="postingDate" type="xs:string" />
        <xs:element name="documentDate" type="xs:string" />
        <xs:element name="cancellationOn" type="xs:string" />
        <xs:element name="postingStatus" type="xs:string" />
        <xs:element name="paymentMethod" type="xs:string" />
        <xs:element name="paymentTerms" type="xs:string" />
        <xs:element name="vatRegistrationNumber" type="xs:string" />
        <xs:element name="action" type="xs:string" />
        <xs:element maxOccurs="unbounded" name="items">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="itemNumber" type="xs:string" />
              <xs:element name="recipient" type="xs:string" />
              <xs:element name="netAmount" type="xs:string" />
              <xs:element name="taxAmount" type="xs:string"/>
              <xs:element name="grossAmount" type="xs:string"/>
              <xs:element name="netPrice" type="xs:string"/>
              <xs:element name="priceUnit" type="xs:string"/>
              <xs:element name="product" type="xs:string" />
              <xs:element name="productHierarchyId" type="xs:string" />
              <xs:element name="quantity" type="xs:string" />
              <xs:element name="supplierMaterialNumber" type="xs:string" />
              <xs:element name="shortText" type="xs:string" />
              <xs:element name="sourceDoc" type="xs:string" />
              <xs:element name="sourceDocItemNumber" type="xs:string" />
              <xs:element name="serviceRenderedDate" type="xs:string" />
              <xs:element name="reference" type="xs:string" />
              <xs:element name="generalLedgerAccountAspect" type="xs:string" />
              <xs:element name="externalReference"  type="xs:string" />
              <xs:element name="taxes" type="xs:string" />
              <xs:element name="quantityUnit" type="xs:string" />
              <xs:element name="agreementID" type="xs:string" />
              <xs:element name="agreementItem" type="xs:string" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="residualItemRef">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="accountingDocument" type="xs:string" />
              <xs:element name="accountingDocumentItem" type="xs:string" />
              <xs:element name="fiscalYear" type="xs:string" />
              <xs:element name="companyCode" type="xs:string" />
              <xs:element name="amountInTransactionCurrency" type="xs:string" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="createdOn" type="xs:string" />
        <xs:element name="changedOn" type="xs:string" />
        <xs:element name="createdBy" type="xs:string" />
        <xs:element name="changedBy" type="xs:string" />
        <xs:element name="claimingAccount" type="xs:string" />
        <xs:element name="externalReferences" type="xs:string" />
        <xs:element maxOccurs="unbounded" name="docFlow">
          <xs:complexType>
            <xs:sequence>
              <xs:choice maxOccurs="unbounded">
                <xs:element name="documentType" type="xs:string" />
                <xs:element name="createdOn" type="xs:string" />
                <xs:element name="documentNumber" type="xs:string" />
                <xs:element name="fiscalYear" type="xs:string" />
                <xs:element name="companyCode" type="xs:string" />
              </xs:choice>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="grossAmount" type="xs:string" />
        <xs:element name="netAmount" type="xs:string" />
        <xs:element name="taxAmount" type="xs:string" />
        
        <xs:element name="tpmClaimType" type="xs:string" />
        <xs:element name="tpmItemType" type="xs:string" />
        <xs:element name="invoiceId" type="xs:string" />
        <xs:element name="displayId" type="xs:string" />
        <xs:element maxOccurs="unbounded" name="references">
          <xs:complexType>
            <xs:sequence>
              <xs:choice maxOccurs="unbounded">
                <xs:element name="type" type="xs:string" />
                <xs:element name="reference" type="xs:string" />
              </xs:choice>
            </xs:sequence>
          </xs:complexType>
        </xs:element>

          <xs:element maxOccurs="unbounded" name="additionalText">
          <xs:complexType>
            <xs:sequence>
                 <xs:choice maxOccurs="unbounded">
                  <xs:element name="id" type="xs:string" />
                  <xs:element name="languageCode" type="xs:string" />
                   <xs:element name="text" type="xs:string" />
               </xs:choice>
            </xs:sequence>
          </xs:complexType>
        </xs:element>

      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>