Resources/schemas/Xsd/SAP_Customer_Engagement_Center_Integration_with_Knowledge_Bases_-_OpenSearch - SearchData_KnowledgeBase-1.xsd

<?xml version="1.0" encoding="UTF-8"?>
 <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified"
   xmlns:o="http://a9.com/-/spec/opensearch/1.1/" 
   xmlns:r="http://a9.com/-/opensearch/extensions/relevance/1.0/">
     <xs:import schemaLocation="Opensearch.xsd" namespace="http://a9.com/-/spec/opensearch/1.1/" /> 
  	 <xs:import schemaLocation="Opensearch_Relevance.xsd" namespace="http://a9.com/-/opensearch/extensions/relevance/1.0/" />
         <xs:element name="rss">
            <xs:complexType>   
               <xs:sequence>
        			<xs:element name="channel">
		               <xs:complexType>
		                     <xs:sequence>
		                           <xs:element ref="o:totalResults" minOccurs="0" />
		                           <xs:element name="item" minOccurs="0" maxOccurs="unbounded">
		                                 <xs:complexType>
		                                       <xs:sequence>
		                                             <xs:element name="guid" type="xs:string" />
										             <xs:element name="title" type="xs:string"/>
		                                             <xs:element name="description" type="xs:string" />
		                                             <xs:element name="link" minOccurs="0" maxOccurs="unbounded" type="xs:string"/>
													 <xs:element ref="r:score" minOccurs="0"/>
		                                       </xs:sequence>
		                                 </xs:complexType>
		                           </xs:element>
		                     </xs:sequence>
		               </xs:complexType>
		         </xs:element>
      		</xs:sequence>
      	 </xs:complexType>   
      </xs:element>
   </xs:schema>
