Resources/schemas/Xsd/SAP_Commerce_financial_services_accelerator_integration_with_SAP_for_Insurance - HELP_SPLITT_Deductible-1.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Deductible">
    <xs:complexType>
      <xs:sequence>
        <xs:element type="xs:float"  name="amount"/>
        <xs:element type="xs:string" name="type"/>
        <xs:element type="xs:string" name="productCode"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>