Resources/schemas/Xsd/SAP_Entitlement_Management_Integration_with_SAP_Master_Data_Integration - Inbound_Interface_Offering.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema version="1.0" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<xsd:element name="Inbound_Interface_Offering_Master">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="Inbound_Interface_Offering_Master">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element maxOccurs="1" minOccurs="0" name="CreatedBy" type="xsd:string"/>
							<xsd:element maxOccurs="1" minOccurs="0" name="ReferenceID" type="xsd:string"/>
							<xsd:element maxOccurs="unbounded" minOccurs="1" name="Offerings">
								<xsd:complexType>
									<xsd:sequence>
										<xsd:element maxOccurs="1" minOccurs="1" name="OfferingID" type="xsd:string"/>
										<xsd:element maxOccurs="1" minOccurs="1" name="OfferingName" type="xsd:string"/>
										<xsd:element maxOccurs="1" minOccurs="1" name="IsDeleted" type="xsd:boolean"/>
										<xsd:element maxOccurs="1" minOccurs="1" name="SourceSystem" type="xsd:string"/>
										<xsd:element maxOccurs="1" minOccurs="0" name="OfferingCategory" type="xsd:string"/>
									</xsd:sequence>
								</xsd:complexType>
							</xsd:element>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
</xsd:schema>