Resources/schemas/Xsd/SAP_Complaint_Handling_Integration_with_Master_Data_and_Business_Objects - get_response.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="root">
    <xs:complexType>
      <xs:sequence>
        <xs:element type="xs:string" name="status"/>
		<xs:element type="xs:string" name="errorMessage"/>
        <xs:element type="xs:float" name="exchRate"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>