Resources/schemas/Xsd/SAP_Subscription_Billing_Integration_with_SAP_S-4HANA_-_Subscription_Management_with_Sales_Billing_(57Z) - customer_service.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:element name="CustomerList">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="Customers" maxOccurs="unbounded">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="s4BusinessPartnerSpec" maxOccurs="unbounded"
								minOccurs="0">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="roleCode" type="xs:string"
											minOccurs="0" maxOccurs="unbounded">
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="customerNumber" type="xs:string" minOccurs="0"/>
							<xs:element name="personalInfo" minOccurs="0">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="firstName" type="xs:string" minOccurs="0"/>
										<xs:element name="lastName" type="xs:string" minOccurs="0"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="corporateInfo" minOccurs="0">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="company" type="xs:string" minOccurs="0"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="customerType" minOccurs="0">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:enumeration value="INDIVIDUAL"/>
										<xs:enumeration value="CORPORATE"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="externalObjectReferenceListCompleteIndicator" type="xs:boolean" minOccurs="0"/>
							<xs:element name="externalObjectReferences" minOccurs="0" maxOccurs="unbounded">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="externalSystemId" type="xs:string"/>
										<xs:element name="externalId" type="xs:string"/>
										<xs:element name="externalIdTypeCode" type="xs:string"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="createdBy" type="xs:string" minOccurs="0"/>
							<xs:element name="changedBy" type="xs:string" minOccurs="0"/>
							<xs:element name="createdAt" type="xs:long" minOccurs="0"/>
							<xs:element name="changedAt" type="xs:long" minOccurs="0"/>
							<xs:element name="customReferences" minOccurs="0" maxOccurs="unbounded">
								<xs:complexType>
									<xs:sequence>
  									    <xs:element name="typeCode" type="xs:string" minOccurs="0"/>
										<xs:element name="id" type="xs:string" minOccurs="0"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="addresses" minOccurs="0" maxOccurs="unbounded">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="email" type="xs:string" minOccurs="0"/>
										<xs:element name="phone" type="xs:string" minOccurs="0"/>
										<xs:element name="street" type="xs:string" minOccurs="0"/>
										<xs:element	name="additionalAddressInfo" type="xs:string" minOccurs="0"/>
										<xs:element name="houseNumber" type="xs:string" minOccurs="0"/>
										<xs:element name="city" type="xs:string" minOccurs="0"/>
										<xs:element name="state" type="xs:string" minOccurs="0"/>
										<xs:element name="postalCode" type="xs:string" minOccurs="0"/>
										<xs:element name="country" type="xs:string" minOccurs="0"/>
										<xs:element name="isDefault" type="xs:boolean" minOccurs="0"/>
										<xs:element name="addressUUID" type="xs:string" minOccurs="0"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="markets" minOccurs="0" maxOccurs="unbounded">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="marketId" type="xs:string" minOccurs="0"/>
										<xs:element name="currency" type="xs:string" minOccurs="0"/>
										<xs:element name="active" type="xs:boolean" minOccurs="0"/>
										<xs:element name="salesArea" minOccurs="0">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="salesOrganization" type="xs:string" minOccurs="0"/>
													<xs:element name="distributionChannel" type="xs:string" minOccurs="0"/>
													<xs:element name="division" type="xs:string" minOccurs="0"/>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:complexType name="NewElement"/>
</xs:schema>
