Resources/schemas/Xsd/SAP_Build_Process_Automation_Integration_with_SAP_S-4HANA_for_Urgent_Payment_Request_Approval - inputPayload.xsd

<?xml version="1.0" encoding="utf-8"?>

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="d">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="positions" minOccurs="0" maxOccurs="unbounded">
          <xs:complexType>
            <xs:sequence>
              
                    <xs:element name="companyCode" type="xs:unsignedShort" />
                    <xs:element name="positionID" type="xs:unsignedInt" />
                  
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>