Resources/schemas/Xsd/SAP_Build_Process_Automation_Integration_with_SAP_S-4HANA_for_Fixed_Asset_Approval_Write_Off - BAPI_POST_RESPONSE - Schema.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="unqualified" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:sap-com:document:sap:rfc:functions">
  <xs:import schemaLocation="schema1.xsd" />
  <xs:element name="BAPI_ASSET_VALUE_ADJUST_POST.Response">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="DOCUMENTREFERENCE">
                    <xs:complexType>
                              <xs:sequence>
                                        <xs:element name="OBJ_TYPE" />
                                        <xs:element name="OBJ_KEY" />
                                        <xs:element name="OBJ_SYS" />
                              </xs:sequence>
                    </xs:complexType>
          </xs:element>
          <xs:element name="RETURN">
                    <xs:complexType>
                              <xs:sequence>
                                        <xs:element name="TYPE" type="xs:string" />
                                        <xs:element name="ID" type="xs:string" />
                                        <xs:element name="NUMBER" type="xs:unsignedByte" />
                                        <xs:element name="MESSAGE" type="xs:string" />
                                        <xs:element name="LOG_NO" />
                                        <xs:element name="LOG_MSG_NO" type="xs:unsignedByte" />
                                        <xs:element name="MESSAGE_V1" type="xs:string" />
                                        <xs:element name="MESSAGE_V2" />
                                        <xs:element name="MESSAGE_V3" type="xs:string" />
                                        <xs:element name="MESSAGE_V4" />
                                        <xs:element name="PARAMETER" type="xs:string" />
                                        <xs:element name="ROW" type="xs:unsignedByte" />
                                        <xs:element name="FIELD" />
                                        <xs:element name="SYSTEM" />
                              </xs:sequence>
                    </xs:complexType>
          </xs:element>
          <xs:element name="ADJUSTAREAVALUES" />
          <xs:element name="RETURN_ALL">
                    <xs:complexType>
                              <xs:sequence>
                                        <xs:element name="item">
                                                  <xs:complexType>
                                                            <xs:sequence>
                                                                      <xs:element name="TYPE" type="xs:string" />
                                                                      <xs:element name="ID" type="xs:string" />
                                                                      <xs:element name="NUMBER" type="xs:unsignedByte" />
                                                                      <xs:element name="MESSAGE" type="xs:string" />
                                                                      <xs:element name="LOG_NO" />
                                                                      <xs:element name="LOG_MSG_NO" type="xs:unsignedByte" />
                                                                      <xs:element name="MESSAGE_V1" type="xs:string" />
                                                                      <xs:element name="MESSAGE_V2" />
                                                                      <xs:element name="MESSAGE_V3" type="xs:string" />
                                                                      <xs:element name="MESSAGE_V4" />
                                                                      <xs:element name="PARAMETER" type="xs:string" />
                                                                      <xs:element name="ROW" type="xs:unsignedByte" />
                                                                      <xs:element name="FIELD" />
                                                                      <xs:element name="SYSTEM" />
                                                            </xs:sequence>
                                                  </xs:complexType>
                                        </xs:element>
                              </xs:sequence>
                    </xs:complexType>
          </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>