Resources/schemas/Xsd/SAP_S-4HANA_Utilities_Integration_with_SAP_Marketing_Cloud - ContractAgreementsEntityMERGE0.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="batchParts">
        <xs:complexType>
            <xs:sequence>
                <xs:element nillable="false" minOccurs="1" maxOccurs="unbounded" name="batchChangeSet">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element nillable="false" minOccurs="1" maxOccurs="unbounded" name="batchChangeSetPart">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element type="xs:string" nillable="false" minOccurs="1" maxOccurs="1" name="method" xmlns=""/>
                                        <xs:element type="xs:string" nillable="true" minOccurs="0" maxOccurs="1" name="uri" xmlns=""/>
                                        <xs:element nillable="true" minOccurs="0" maxOccurs="unbounded" name="headers">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element nillable="true" minOccurs="0" maxOccurs="unbounded" name="header">
                                                        <xs:complexType>
                                                            <xs:sequence>
                                                                <xs:element type="xs:string" nillable="false" minOccurs="1" maxOccurs="unbounded" name="headerName" xmlns=""/>
                                                                <xs:element type="xs:string" nillable="false" minOccurs="1" maxOccurs="unbounded" name="headerValue" xmlns=""/>
                                                            </xs:sequence>
                                                        </xs:complexType>
                                                    </xs:element>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element nillable="false" minOccurs="1" maxOccurs="1" name="Agreements">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element minOccurs="1" maxOccurs="unbounded" name="Agreement">
                                                        <xs:complexType>
                                                            <xs:sequence>
                                                                <xs:element nillable="false" maxOccurs="unbounded" name="MKT_AgreementOrigin">
                                                                    <xs:simpleType>
                                                                        <xs:restriction base="xs:string" xmlns="">
                                                                            <xs:maxLength value="30"/>
                                                                        </xs:restriction>
                                                                    </xs:simpleType>
                                                                </xs:element>
                                                                <xs:element nillable="false" maxOccurs="unbounded" name="MKT_AgreementExternalID">
                                                                    <xs:simpleType>
                                                                        <xs:restriction base="xs:string" xmlns="">
                                                                            <xs:maxLength value="80"/>
                                                                        </xs:restriction>
                                                                    </xs:simpleType>
                                                                </xs:element>
                                                                <xs:element type="xs:decimal" nillable="true" minOccurs="0" maxOccurs="unbounded" name="YY1_TotWinterBillAmt_MKT" xmlns=""/>
                                                                <xs:element nillable="true" minOccurs="0" maxOccurs="unbounded" name="YY1_TotWinterBillAmt_MKTC">
                                                                    <xs:simpleType>
                                                                        <xs:restriction base="xs:string" xmlns="">
                                                                            <xs:maxLength value="5"/>
                                                                        </xs:restriction>
                                                                    </xs:simpleType>
                                                                </xs:element>
                                                                <xs:element type="xs:decimal" nillable="true" minOccurs="0" maxOccurs="unbounded" name="YY1_AvgAnnBillAmount_MKT" xmlns=""/>
                                                                <xs:element nillable="true" minOccurs="0" maxOccurs="unbounded" name="YY1_AvgAnnBillAmount_MKTC">
                                                                    <xs:simpleType>
                                                                        <xs:restriction base="xs:string" xmlns="">
                                                                            <xs:maxLength value="5"/>
                                                                        </xs:restriction>
                                                                    </xs:simpleType>
                                                                </xs:element>
                                                                <xs:element type="xs:decimal" nillable="true" minOccurs="0" maxOccurs="unbounded" name="YY1_TotSummerCnsmpn_MKT" xmlns=""/>
                                                                <xs:element nillable="true" minOccurs="0" maxOccurs="unbounded" name="YY1_TotSummerCnsmpn_MKTU">
                                                                    <xs:simpleType>
                                                                        <xs:restriction base="xs:string" xmlns="">
                                                                            <xs:maxLength value="3"/>
                                                                        </xs:restriction>
                                                                    </xs:simpleType>
                                                                </xs:element>
                                                                <xs:element type="xs:decimal" nillable="true" minOccurs="0" maxOccurs="unbounded" name="YY1_AvgAnnConsumption_MKT" xmlns=""/>
                                                                <xs:element nillable="true" minOccurs="0" maxOccurs="unbounded" name="YY1_AvgAnnConsumption_MKTU">
                                                                    <xs:simpleType>
                                                                        <xs:restriction base="xs:string" xmlns="">
                                                                            <xs:maxLength value="3"/>
                                                                        </xs:restriction>
                                                                    </xs:simpleType>
                                                                </xs:element>
                                                                <xs:element type="xs:decimal" nillable="true" minOccurs="0" maxOccurs="unbounded" name="YY1_TotalAnnBlldAmt_MKT" xmlns=""/>
                                                                <xs:element nillable="true" minOccurs="0" maxOccurs="unbounded" name="YY1_TotalAnnBlldAmt_MKTC">
                                                                    <xs:simpleType>
                                                                        <xs:restriction base="xs:string" xmlns="">
                                                                            <xs:maxLength value="5"/>
                                                                        </xs:restriction>
                                                                    </xs:simpleType>
                                                                </xs:element>
                                                                <xs:element type="xs:decimal" nillable="true" minOccurs="0" maxOccurs="unbounded" name="YY1_TotalAnnualCnsmpn_MKT" xmlns=""/>
                                                                <xs:element nillable="true" minOccurs="0" maxOccurs="unbounded" name="YY1_TotalAnnualCnsmpn_MKTU">
                                                                    <xs:simpleType>
                                                                        <xs:restriction base="xs:string" xmlns="">
                                                                            <xs:maxLength value="3"/>
                                                                        </xs:restriction>
                                                                    </xs:simpleType>
                                                                </xs:element>
                                                                <xs:element type="xs:decimal" nillable="true" minOccurs="0" maxOccurs="unbounded" name="YY1_TotWinterCnsmpn_MKT" xmlns=""/>
                                                                <xs:element nillable="true" minOccurs="0" maxOccurs="unbounded" name="YY1_TotWinterCnsmpn_MKTU">
                                                                    <xs:simpleType>
                                                                        <xs:restriction base="xs:string" xmlns="">
                                                                            <xs:maxLength value="3"/>
                                                                        </xs:restriction>
                                                                    </xs:simpleType>
                                                                </xs:element>
                                                                <xs:element type="xs:decimal" nillable="true" minOccurs="0" maxOccurs="unbounded" name="YY1_TotSummerBillAmt_MKT" xmlns=""/>
                                                                <xs:element nillable="true" minOccurs="0" maxOccurs="unbounded" name="YY1_TotSummerBillAmt_MKTC">
                                                                    <xs:simpleType>
                                                                        <xs:restriction base="xs:string" xmlns="">
                                                                            <xs:maxLength value="5"/>
                                                                        </xs:restriction>
                                                                    </xs:simpleType>
                                                                </xs:element>
                                                            </xs:sequence>
                                                        </xs:complexType>
                                                    </xs:element>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>
