Resources/schemas/Xsd/SAP_Customer_Data_Cloud_Integration_with_SAP_S-4HANA - relationXSD.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="root">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Relationships">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="Relation">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:int" name="BPID"/>
                    <xs:element type="xs:string" name="organizationInfo.department" nillable="true"/>
                    <xs:element type="xs:string" name="organizationInfo.job" nillable="true"/>
                    <xs:element type="xs:string" name="roleNames" nillable="true"/>
                    <xs:element type="xs:string" name="organizationInfo.status"/>
                    <xs:element type="xs:int" name="UID"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>