Resources/schemas/Xsd/SAP_ERP_Integration_with_SAP_Build_Process_Automation_for_Vendor_Master - scenario4.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="root">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="record" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="E1LFA1M">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:byte" name="Function"/>
                    <xs:element type="xs:byte" name="AccountGroup"/>
                    <xs:element type="xs:string" name="Country"/>
                    <xs:element type="xs:string" name="City"/>
                    <xs:element type="xs:string" name="LastName"/>
                    <xs:element type="xs:string" name="char1"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="E1LFB1M">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:byte" name="Function"/>
                    <xs:element type="xs:string" name="Reserve"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="E1LFMIM">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:byte" name="Function"/>
                    <xs:element type="xs:short" name="Reserve"/>
                    <xs:element type="xs:string" name="R2_table"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>