Resources/schemas/Xsd/SAP_Emarsys_Integration_with_SAP_Emarsys_APIs - Contact_SampleRequest_toEmarsys.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="root">
    <xs:complexType>
      <xs:sequence>
        <xs:element type="xs:byte" name="key_id"/>
              <xs:element name="contacts" maxOccurs="unbounded" minOccurs="0">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:string" name="tmp_9" maxOccurs="1" minOccurs="0"/>
                    <xs:element type="xs:string" name="tmp_46" maxOccurs="1" minOccurs="0"/>
                    <xs:element type="xs:string" name="tmp_1" maxOccurs="1" minOccurs="0"/>
                    <xs:element type="xs:string" name="tmp_2" maxOccurs="1" minOccurs="0"/>
                    <xs:element type="xs:string" name="tmp_3" maxOccurs="1" minOccurs="0"/>
                    <xs:element type="xs:string" name="tmp_26" maxOccurs="1" minOccurs="0"/>
                    <xs:element type="xs:string" name="tmp_10" maxOccurs="1" minOccurs="0"/>
                    <xs:element type="xs:string" name="tmp_13" maxOccurs="1" minOccurs="0"/>
                    <xs:element type="xs:string" name="tmp_11" maxOccurs="1" minOccurs="0"/>
                    <xs:element type="xs:string" name="tmp_12" maxOccurs="1" minOccurs="0"/>
                    <xs:element type="xs:string" name="tmp_14" maxOccurs="1" minOccurs="0"/>
                    <xs:element type="xs:string" name="tmp_15" maxOccurs="1" minOccurs="0"/>
                    <xs:element type="xs:string" name="tmp_37" maxOccurs="1" minOccurs="0"/>
                    <xs:element type="xs:string" name="tmp_16" maxOccurs="1" minOccurs="0"/>
                    <xs:element type="xs:string" name="tmp_5" maxOccurs="1" minOccurs="0"/>
                    <xs:element type="xs:string" name="tmp_4" maxOccurs="1" minOccurs="0"/>
                    <xs:element type="xs:string" name="tmp_31" maxOccurs="1" minOccurs="0"/>
                    <xs:element type="xs:string" name="tmp_35" maxOccurs="1" minOccurs="0"/>
                    <xs:element type="xs:string" name="tmp_36" maxOccurs="1" minOccurs="0"/>
                    <xs:element type="xs:string" name="tmp_47" maxOccurs="1" minOccurs="0"/>
                    <xs:element type="xs:string" name="tmp_48" maxOccurs="1" minOccurs="0"/>
                    <xs:element type="xs:string" name="tmp_51440" maxOccurs="1" minOccurs="0"/>
                    <xs:element type="xs:string" name="tmp_51697" maxOccurs="1" minOccurs="0"/>
                    <xs:element type="xs:string" name="tmp_46817" maxOccurs="1" minOccurs="0"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
