Resources/schemas/Xsd/SAP_Complaint_Handling_Integration_For_Customer_Complaints - LeftSidePayload-3.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="A_CreditMemoRequest">
    <xs:complexType>
        <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="1" name="A_CreditMemoRequestType">
                <xs:complexType>
                    <xs:sequence>
                      <xs:element name="CreditMemoRequest" type="xs:unsignedInt" />
                      <xs:element name="CreditMemoRequestType" type="xs:string" />
                      <xs:element name="SalesOrganization" type="xs:unsignedByte" />
                      <xs:element name="DistributionChannel" type="xs:unsignedByte" />
                      <xs:element name="OrganizationDivision" type="xs:unsignedByte" />
                      <xs:element name="SalesGroup" />
                      <xs:element name="SalesOffice" />
                      <xs:element name="SalesDistrict" type="xs:unsignedByte" />
                      <xs:element name="SoldToParty" type="xs:string" />
                      <xs:element name="CreationDate" type="xs:dateTime" />
                      <xs:element name="CreatedByUser" type="xs:string" />
                      <xs:element name="LastChangeDate"/>
                      <xs:element name="LastChangeDateTime" type="xs:dateTime" />
                      <xs:element name="PurchaseOrderByCustomer" />
                      <xs:element name="CustomerPurchaseOrderType" />
                      <xs:element name="CustomerPurchaseOrderDate"/>
                      <xs:element name="CreditMemoRequestDate" type="xs:dateTime" />
                      <xs:element name="TotalNetAmount" type="xs:decimal" />
                      <xs:element name="TransactionCurrency" type="xs:string" />
                      <xs:element name="SDDocumentReason" />
                      <xs:element name="PricingDate" type="xs:dateTime" />
                      <xs:element name="CustomerTaxClassification1" />
                      <xs:element name="CustomerTaxClassification2" />
                      <xs:element name="CustomerTaxClassification3" />
                      <xs:element name="CustomerTaxClassification4" />
                      <xs:element name="CustomerTaxClassification5" />
                      <xs:element name="CustomerTaxClassification6" />
                      <xs:element name="CustomerTaxClassification7" />
                      <xs:element name="CustomerTaxClassification8" />
                      <xs:element name="CustomerTaxClassification9" />
                      <xs:element name="CustomerAccountAssignmentGroup" />
                      <xs:element name="HeaderBillingBlockReason" type="xs:unsignedByte" />
                      <xs:element name="IncotermsClassification" type="xs:string" />
                      <xs:element name="IncotermsTransferLocation" type="xs:string" />
                      <xs:element name="IncotermsLocation1" type="xs:string" />
                      <xs:element name="IncotermsLocation2" />
                      <xs:element name="IncotermsVersion" />
                      <xs:element name="CustomerPaymentTerms" type="xs:unsignedByte" />
                      <xs:element name="PaymentMethod" />
                      <xs:element name="BillingDocumentDate" type="xs:dateTime" />
                      <xs:element name="ServicesRenderedDate"/>
                      <xs:element name="ReferenceSDDocument" />
                      <xs:element name="ReferenceSDDocumentCategory" />
                      <xs:element name="CreditMemoReqApprovalReason" />
                      <xs:element name="SalesDocApprovalStatus" />
                      <xs:element name="OverallSDProcessStatus" type="xs:string" />
                      <xs:element name="TotalCreditCheckStatus" />
                      <xs:element name="OverallSDDocumentRejectionSts" type="xs:string" />
                      <xs:element name="OverallOrdReltdBillgStatus" type="xs:string" />
                      <xs:element name="AccountingDocExternalReference" />
                      <xs:element name="AssignmentReference" />
                      <xs:element name="FashionCancelDate"/>
                      <xs:element name="RetailAdditionalCustomerGrp6" />
                      <xs:element name="RetailAdditionalCustomerGrp7" />
                      <xs:element name="RetailAdditionalCustomerGrp8" />
                      <xs:element name="RetailAdditionalCustomerGrp9" />
                      <xs:element name="RetailAdditionalCustomerGrp10" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>