Resources/schemas/Xsd/SAP_CPQ_-_Quote_2.0_Integration_with_SAP_S-4HANA_Sales_Order - Item_ExternalConfig_FlatStructure.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="ExternalConfiguration">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="kbId" type="xs:short" minOccurs="0"/>
				<xs:element name="kbKey" minOccurs="0">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="logsys" type="xs:string" minOccurs="0"/>
							<xs:element name="name" type="xs:string" minOccurs="0"/>
							<xs:element name="version" type="xs:float" minOccurs="0"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="kbBuild" type="xs:byte" minOccurs="0"/>
				<xs:element name="configurationDate" minOccurs="0"/>
				<xs:element name="consistent" type="xs:string" minOccurs="0"/>
				<xs:element name="complete" type="xs:string" minOccurs="0"/>
				<xs:element name="engine" type="xs:string" minOccurs="0"/>
				<xs:element maxOccurs="unbounded" minOccurs="0" name="context">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="name" type="xs:string" minOccurs="0"/>
							<xs:element name="value" type="xs:string" minOccurs="0"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="rootItem" minOccurs="0">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="id" type="xs:unsignedByte" minOccurs="0"/>
							<xs:element name="objectKey" minOccurs="0">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="id" type="xs:string" minOccurs="0"/>
										<xs:element name="type" type="xs:string" minOccurs="0"/>
										<xs:element name="classType" type="xs:unsignedShort" minOccurs="0"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="objectKeyAuthor" type="xs:unsignedByte" minOccurs="0"/>
							<xs:element name="bomPosition" minOccurs="0"/>
							<xs:element name="bomPositionObjectKey" minOccurs="0"/>
							<xs:element name="bomPositionAuthor" minOccurs="0"/>
							<xs:element name="quantity" minOccurs="0">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="value" type="xs:unsignedByte" minOccurs="0"/>
										<xs:element name="unit" type="xs:string" minOccurs="0"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="fixedQuantity" type="xs:boolean" minOccurs="0"/>
							<xs:element name="salesRelevant" type="xs:boolean" minOccurs="0"/>
							<xs:element name="consistent" type="xs:boolean" minOccurs="0"/>
							<xs:element name="complete" type="xs:boolean" minOccurs="0"/>
							<xs:element minOccurs="0" maxOccurs="unbounded" name="characteristics">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="id" type="xs:string" minOccurs="0"/>
										<xs:element name="type" type="xs:string" minOccurs="0"/>
										<xs:element name="required" type="xs:boolean" minOccurs="0"/>
										<xs:element name="visible" type="xs:boolean" minOccurs="0"/>
										<xs:element maxOccurs="unbounded" name="values" minOccurs="0">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="value" type="xs:string" minOccurs="0"/>
													<xs:element name="author" type="xs:string" minOccurs="0"/>
													<xs:element minOccurs="0" name="factor" type="xs:unsignedByte"/>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element minOccurs="0" maxOccurs="unbounded" name="variantConditions">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="key" type="xs:string" minOccurs="0"/>
										<xs:element name="factor" type="xs:unsignedByte" minOccurs="0"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element maxOccurs="unbounded" name="subItems" minOccurs="0">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="id" type="xs:byte" minOccurs="0"/>
							<xs:element name="objectKey" minOccurs="0">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="id" type="xs:string" minOccurs="0"/>
										<xs:element name="type" type="xs:string" minOccurs="0"/>
										<xs:element name="classType" type="xs:short" minOccurs="0"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="objectKeyAuthor" type="xs:byte" minOccurs="0"/>
							<xs:element minOccurs="0" name="bomPositionIdentifier" type="xs:unsignedByte"/>
							<xs:element name="bomPosition" type="xs:string" minOccurs="0"/>
							<xs:element name="bomPositionObjectKey" minOccurs="0">
								<xs:complexType>
									<xs:sequence minOccurs="0">
										<xs:element name="id" type="xs:string" minOccurs="0"/>
										<xs:element name="type" type="xs:string" minOccurs="0"/>
										<xs:element name="classType" type="xs:string" minOccurs="0"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="bomPositionAuthor" type="xs:string" minOccurs="0"/>
							<xs:element name="quantity" minOccurs="0">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="value" type="xs:float" minOccurs="0"/>
										<xs:element name="unit" type="xs:string" minOccurs="0"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="fixedQuantity" type="xs:string" minOccurs="0"/>
							<xs:element name="salesRelevant" type="xs:string" minOccurs="0"/>
							<xs:element name="consistent" type="xs:string" minOccurs="0"/>
							<xs:element name="complete" type="xs:string" minOccurs="0"/>
							<xs:element minOccurs="0" maxOccurs="unbounded" name="characteristics">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="id" type="xs:string" minOccurs="0"/>
										<xs:element name="type" type="xs:string" minOccurs="0"/>
										<xs:element name="required" type="xs:string" minOccurs="0"/>
										<xs:element name="visible" type="xs:string" minOccurs="0"/>
										<xs:element name="values" minOccurs="0" maxOccurs="unbounded">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="value" type="xs:string" minOccurs="0"/>
													<xs:element name="author" type="xs:string" minOccurs="0"/>
													<xs:element minOccurs="0" name="factor" type="xs:unsignedByte"/>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="variantConditions" minOccurs="0">
								<xs:complexType>
									<xs:sequence minOccurs="0">
										<xs:element name="key" type="xs:string" minOccurs="0"/>
										<xs:element name="factor" type="xs:unsignedByte" minOccurs="0"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="parentId" type="xs:unsignedByte" minOccurs="0"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>