Resources/schemas/Xsd/SAP_S-4HANA_for_central_procurement_–_Central_Purchasing_Integration_with_Third_Party_System - CreatePO.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified"
	xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="FollowOnDocHdrSet">
		<xs:complexType>
			<xs:sequence>
				<xs:element maxOccurs="unbounded" name="FollowOnDocHdr">
					<xs:complexType>
						<xs:sequence>
							<xs:element type="xs:string" name="CompanyCode"/>
							<xs:element type="xs:string" name="CreatedByUser"/>
							<xs:element name="FollowOnDocAccSet">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="FollowOnDocAcc" minOccurs ="0">
											<xs:complexType>
												<xs:sequence>
													<xs:element type="xs:string" name="PurchasingDocument"/>
													<xs:element type="xs:string" name="Quantity"/>
													<xs:element type="xs:string" name="PurchasingDocumentItem"/>
													<xs:element type="xs:string" name="PurchaseReqnAcctAssgmtNumber"/>
													<xs:element type="xs:string" name="GLAccount"/>
													<xs:element type="xs:string" name="CostCenter"/>
													<xs:element type="xs:string" name="WBSElementInternalID"/>
													<xs:element type="xs:string" name="MasterFixedAsset"/>
													<xs:element type="xs:string" name="ProcessOrder"/>
													<xs:element type="xs:string" name="ProjectNetwork"/>
													<xs:element type="xs:string" name="ControllingArea"/>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="FollowOnDocDelivAddrSet">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="FollowOnDocDelivAddr" minOccurs ="0">
											<xs:complexType>
												<xs:sequence>
													<xs:element type="xs:string" name="PurchasingDocument"/>
													<xs:element type="xs:string" name="PurchasingDocumentItem"/>
													<xs:element type="xs:string" name="AddressID"/>
													<xs:element type="xs:string" name="FormOfAddress"/>
													<xs:element type="xs:string" name="BusinessPartnerName1"/>
													<xs:element type="xs:string" name="BusinessPartnerName2"/>
													<xs:element type="xs:string" name="BusinessPartnerName3"/>
													<xs:element type="xs:string" name="BusinessPartnerName4"/>
													<xs:element type="xs:string" name="CareOfName"/>
													<xs:element type="xs:string" name="CityName"/>
													<xs:element type="xs:string" name="District"/>
													<xs:element type="xs:string" name="CityCode"/>
													<xs:element type="xs:string" name="PostalCode"/>
													<xs:element type="xs:string" name="POBoxPostalCode"/>
													<xs:element type="xs:string" name="CompanyPostalCode"/>
													<xs:element type="xs:string" name="POBox"/>
													<xs:element type="xs:string" name="POBoxDeviatingCityName"/>
													<xs:element type="xs:string" name="StreetName"/>
													<xs:element type="xs:string" name="AddressStreetNumber"/>
													<xs:element type="xs:string" name="HouseNumber"/>
													<xs:element type="xs:string" name="StreetPrefixName"/>
													<xs:element type="xs:string" name="AdditionalStreetPrefixName"/>
													<xs:element type="xs:string" name="AdditionalStreetSuffixName"/>
													<xs:element type="xs:string" name="Building"/>
													<xs:element type="xs:string" name="Floor"/>
													<xs:element type="xs:string" name="RoomNumber"/>
													<xs:element type="xs:string" name="Country"/>
													<xs:element type="xs:string" name="CorrespondenceLanguage"/>
													<xs:element type="xs:string" name="Region"/>
													<xs:element type="xs:string" name="SearchTerm1"/>
													<xs:element type="xs:string" name="SearchTerm2"/>
													<xs:element type="xs:string" name="AddressTimeZone"/>
													<xs:element type="xs:string" name="TaxJurisdiction"/>
													<xs:element type="xs:string" name="AddressText"/>
													<xs:element type="xs:string" name="PrfrdCommMediumType"/>
													<xs:element type="xs:string" name="PhoneNumber"/>
													<xs:element type="xs:string" name="PhoneNumberExtension"/>
													<xs:element type="xs:string" name="FaxNumber"/>
													<xs:element type="xs:string" name="FaxNumberExtension"/>
													<xs:element type="xs:string" name="AddressDistrictCode"/>
													<xs:element type="xs:string" name="CityFileTestStatus"/>
													<xs:element type="xs:string" name="AddressCityPostBoxCode"/>
													<xs:element type="xs:string" name="TransportZone"/>
													<xs:element type="xs:string" name="HouseNumberSupplementText"/>
													<xs:element type="xs:string" name="EmailAddress"/>
													<xs:element type="xs:string" name="StreetSuffixName"/>
													<xs:element type="xs:string" name="CountryTwoLetterISOCode"/>
													<xs:element type="xs:string" name="LanguageISOCode"/>
													<xs:element type="xs:string" name="RegionalStructureGrouping"/>
													<xs:element type="xs:string" name="Subcontractor"/>
													<xs:element type="xs:string" name="PurReqnReceivingCustomer"/>
													<xs:element type="xs:string" name="SupplierIsSubcontractor"/>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="FollowOnDocItmSet">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="FollowOnDocItm" minOccurs ="0">
											<xs:complexType>
												<xs:sequence>
													<xs:element type="xs:string" name="InvoiceIsGoodsReceiptBased"/>
													<xs:element type="xs:string" name="Material"/>
													<xs:element type="xs:string" name="AccountAssignmentCategory"/>
													<xs:element type="xs:string" name="DeliveryDate"/>
													<xs:element type="xs:string" name="DocumentCurrency"/>
													<xs:element type="xs:string" name="MaterialName"/>
													<xs:element type="xs:string" name="NetPriceAmount"/>
													<xs:element type="xs:string" name="NetPriceQuantity"/>
													<xs:element type="xs:string" name="OrderPriceUnit"/>
													<xs:element type="xs:string" name="OrderQuantity"/>
													<xs:element type="xs:string" name="QuantityUnit"/>
													<xs:element type="xs:string" name="QuantityUnitISOCode"/>
													<xs:element type="xs:string" name="Plant"/>
													<xs:element type="xs:string" name="ProductGroup"/>
													<xs:element type="xs:string" name="PurchaseContract"/>
													<xs:element type="xs:string" name="ContractItem"/>
													<xs:element type="xs:string" name="PurchasingInfoRecord"/>
													<xs:element type="xs:string" name="TaxCode"/>
													<xs:element type="xs:string" name="PurReqnIsValdInCntrlReqnProcg"/>
													<xs:element type="xs:string" name="PurchaseRequisition"/>
													<xs:element type="xs:string" name="PurchaseRequisitionItem"/>
													<xs:element type="xs:string" name="PurchasingDocument"/>
													<xs:element type="xs:string" name="PurchasingDocumentItem"/>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element type="xs:string" name="IsSimulation"/>
							<xs:element type="xs:string" name="DocumentCurrency"/>
							<xs:element type="xs:string" name="IncotermsClassification"/>
							<xs:element type="xs:string" name="IncotermsLocation1"/>
							<xs:element type="xs:string" name="PaymentTerms"/>
							<xs:element type="xs:string" name="PurchasingDocumentType"/>
							<xs:element type="xs:string" name="PurchaseOrderType"/>
							<xs:element type="xs:string" name="PurchasingCompletenessStatus"/>
							<xs:element type="xs:string" name="PurchasingDocument"/>
							<xs:element type="xs:string" name="PurchasingGroup"/>
							<xs:element type="xs:string" name="PurchasingOrganization"/>
							<xs:element type="xs:string" name="PurgReqnAutomationIsEnabled"/>
							<xs:element type="xs:string" name="SuplrIsDsbldForPurReqnGrouping"/>
							<xs:element type="xs:string" name="Supplier"/>
							<xs:element type="xs:string" name="Version"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>