Resources/schemas/Xsd/SAP_Build_Process_Automation_Integration_with_SAP_S-4HANA_for_Authorization_For_Expenditure - XSD - Input Data.xsd

<?xml version='1.0' encoding='UTF-8'?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="root">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="d">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="ProjectID"/>
              <xs:element name="wbsElements">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:string" name="WBS"/>
                    <xs:element type="xs:string" name="WBSDescription"/>
                    <xs:element type="xs:string" name="costingsheet"/>
                    <xs:element type="xs:string" name="WBSUp"/>
                    <xs:element type="xs:string" name="WBSDown"/>
                    <xs:element type="xs:string" name="WBSLeft"/>
                    <xs:element type="xs:string" name="WBSRight"/>
                    <xs:element type="xs:string" name="responsible_no" minOccurs="0" maxOccurs="1"/>
                    <xs:element type="xs:string" name="comp_code" minOccurs="0" maxOccurs="1"/>
                    <xs:element type="xs:string" name="co_area" minOccurs="0" maxOccurs="1"/>
                    <xs:element type="xs:string" name="ProjectType" minOccurs="0" maxOccurs="1"/>
                    <xs:element type="xs:string" name="wbs_account_assignment_element" minOccurs="0" maxOccurs="1"/>
                    <xs:element type="xs:string" name="respsbl_cctr_controlling_area" minOccurs="0" maxOccurs="1"/>
                    <xs:element type="xs:string" name="CostCenter" minOccurs="0" maxOccurs="1"/>
                    <xs:element type="xs:string" name="user_field_key" minOccurs="0" maxOccurs="1"/>
                    <xs:element type="xs:string" name="statistical" minOccurs="0" maxOccurs="1"/>
                    <xs:element type="xs:string" name="int_profile" minOccurs="0" maxOccurs="1"/>
                    <xs:element type="xs:string" name="invest_profile" minOccurs="0" maxOccurs="1"/>
                    <xs:element type="xs:string" name="JointVenture" minOccurs="0" maxOccurs="1"/>
                    <xs:element type="xs:string" name="recovery_ind" minOccurs="0" maxOccurs="1"/>
                    <xs:element type="xs:string" name="equity_type" minOccurs="0" maxOccurs="1"/>
                    <xs:element type="xs:date" name="ForecastStart" minOccurs="0" maxOccurs="1"/>
                    <xs:element type="xs:date" name="ForecastFinish" minOccurs="0" maxOccurs="1"/>
                    <xs:element type="xs:string" name="func_area" minOccurs="0" maxOccurs="1"/>
                    <xs:element type="xs:string" name="JVObjectType" minOccurs="0" maxOccurs="1"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>