Resources/schemas/Xsd/SAP_Cloud_for_Customer_Integration_with_SAP_S-4HANA_Cloud - EquipmentDataStore.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="root">
		<xs:complexType>
			<xs:sequence>
				<xs:element minOccurs="0" maxOccurs="1" name="SenderSequenceNumberValue" type="xs:string"/>
				<xs:element minOccurs="0" maxOccurs="1" name="InstallationPointID" type="xs:string"/>
				<xs:element minOccurs="0" maxOccurs="1" name="ReceiverInstallationPointID" type="xs:string"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>