Resources/schemas/Xsd/SAP_Commerce_Cloud_Integration_with_SAP_S-4HANA - IntegrationObjectItemsEntityPOST0.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="batchParts">
        <xs:complexType>
            <xs:sequence>
                <xs:element nillable="false" minOccurs="1" maxOccurs="unbounded" name="batchChangeSet">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element nillable="false" minOccurs="1" maxOccurs="unbounded" name="batchChangeSetPart">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element type="xs:string" nillable="false" minOccurs="1" maxOccurs="1" name="method" xmlns=""/>
                                        <xs:element type="xs:string" nillable="true" minOccurs="0" maxOccurs="1" name="uri" xmlns=""/>
                                        <xs:element nillable="true" minOccurs="0" maxOccurs="unbounded" name="headers">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element nillable="true" minOccurs="0" maxOccurs="unbounded" name="header">
                                                        <xs:complexType>
                                                            <xs:sequence>
                                                                <xs:element type="xs:string" nillable="false" minOccurs="1" maxOccurs="unbounded" name="headerName" xmlns=""/>
                                                                <xs:element type="xs:string" nillable="false" minOccurs="1" maxOccurs="unbounded" name="headerValue" xmlns=""/>
                                                            </xs:sequence>
                                                        </xs:complexType>
                                                    </xs:element>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element nillable="false" minOccurs="1" maxOccurs="1" name="IntegrationObjectItems">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element minOccurs="1" maxOccurs="unbounded" name="IntegrationObjectItem">
                                                        <xs:complexType>
                                                            <xs:sequence>
                                                                <xs:element type="xs:string" nillable="false" maxOccurs="unbounded" name="code" xmlns=""/>
                                                                <xs:element type="xs:boolean" nillable="true" minOccurs="0" maxOccurs="unbounded" name="root" xmlns=""/>
                                                                <xs:element nillable="true" minOccurs="0" maxOccurs="unbounded" name="type">
                                                                    <xs:complexType>
                                                                        <xs:sequence>
                                                                            <xs:element minOccurs="0" maxOccurs="1" name="ComposedType">
                                                                                <xs:complexType>
                                                                                    <xs:sequence>
                                                                                        <xs:element type="xs:string" nillable="false" maxOccurs="unbounded" name="code" xmlns=""/>
                                                                                    </xs:sequence>
                                                                                </xs:complexType>
                                                                            </xs:element>
                                                                        </xs:sequence>
                                                                    </xs:complexType>
                                                                </xs:element>
                                                                <xs:element nillable="true" minOccurs="0" maxOccurs="unbounded" name="integrationObject">
                                                                    <xs:complexType>
                                                                        <xs:sequence>
                                                                            <xs:element minOccurs="0" maxOccurs="1" name="IntegrationObject">
                                                                                <xs:complexType>
                                                                                    <xs:sequence>
                                                                                        <xs:element type="xs:string" nillable="false" maxOccurs="unbounded" name="code" xmlns=""/>
                                                                                        <xs:element nillable="true" minOccurs="0" maxOccurs="unbounded" name="items">
                                                                                            <xs:complexType>
                                                                                                <xs:sequence>
                                                                                                    <xs:element minOccurs="0" maxOccurs="unbounded" name="IntegrationObjectItem">
                                                                                                        <xs:complexType>
                                                                                                            <xs:sequence>
                                                                                                                <xs:element type="xs:string" nillable="false" maxOccurs="unbounded" name="code" xmlns=""/>
                                                                                                                <xs:element type="xs:boolean" nillable="true" minOccurs="0" maxOccurs="unbounded" name="root" xmlns=""/>
                                                                                                                <xs:element nillable="true" minOccurs="0" maxOccurs="unbounded" name="type">
                                                                                                                    <xs:complexType>
                                                                                                                        <xs:sequence>
                                                                                                                            <xs:element minOccurs="0" maxOccurs="1" name="ComposedType">
                                                                                                                                <xs:complexType>
                                                                                                                                    <xs:sequence>
                                                                                                                                        <xs:element type="xs:string" nillable="false" maxOccurs="unbounded" name="code" xmlns=""/>
                                                                                                                                    </xs:sequence>
                                                                                                                                </xs:complexType>
                                                                                                                            </xs:element>
                                                                                                                        </xs:sequence>
                                                                                                                    </xs:complexType>
                                                                                                                </xs:element>
                                                                                                                <xs:element nillable="true" minOccurs="0" maxOccurs="unbounded" name="integrationObject">
                                                                                                                    <xs:complexType>
                                                                                                                        <xs:sequence>
                                                                                                                            <xs:element minOccurs="0" maxOccurs="1" name="IntegrationObject">
                                                                                                                                <xs:complexType>
                                                                                                                                    <xs:sequence>
                                                                                                                                        <xs:element type="xs:string" nillable="false" maxOccurs="unbounded" name="code" xmlns=""/>
                                                                                                                                    </xs:sequence>
                                                                                                                                </xs:complexType>
                                                                                                                            </xs:element>
                                                                                                                        </xs:sequence>
                                                                                                                    </xs:complexType>
                                                                                                                </xs:element>
                                                                                                            </xs:sequence>
                                                                                                        </xs:complexType>
                                                                                                    </xs:element>
                                                                                                </xs:sequence>
                                                                                            </xs:complexType>
                                                                                        </xs:element>
                                                                                    </xs:sequence>
                                                                                </xs:complexType>
                                                                            </xs:element>
                                                                        </xs:sequence>
                                                                    </xs:complexType>
                                                                </xs:element>
                                                                <xs:element nillable="true" minOccurs="0" maxOccurs="unbounded" name="attributes">
                                                                    <xs:complexType>
                                                                        <xs:sequence>
                                                                            <xs:element minOccurs="0" maxOccurs="unbounded" name="IntegrationObjectItemAttribute">
                                                                                <xs:complexType>
                                                                                    <xs:sequence>
                                                                                        <xs:element type="xs:string" nillable="false" maxOccurs="unbounded" name="attributeName" xmlns=""/>
                                                                                        <xs:element type="xs:boolean" nillable="true" minOccurs="0" maxOccurs="unbounded" name="unique" xmlns=""/>
                                                                                        <xs:element type="xs:boolean" nillable="true" minOccurs="0" maxOccurs="unbounded" name="autoCreate" xmlns=""/>
                                                                                        <xs:element nillable="true" minOccurs="0" maxOccurs="unbounded" name="attributeDescriptor">
                                                                                            <xs:complexType>
                                                                                                <xs:sequence>
                                                                                                    <xs:element minOccurs="0" maxOccurs="1" name="AttributeDescriptor">
                                                                                                        <xs:complexType>
                                                                                                            <xs:sequence>
                                                                                                                <xs:element type="xs:string" nillable="false" maxOccurs="unbounded" name="qualifier" xmlns=""/>
                                                                                                                <xs:element nillable="true" minOccurs="0" maxOccurs="unbounded" name="enclosingType">
                                                                                                                    <xs:complexType>
                                                                                                                        <xs:sequence>
                                                                                                                            <xs:element minOccurs="0" maxOccurs="1" name="ComposedType">
                                                                                                                                <xs:complexType>
                                                                                                                                    <xs:sequence>
                                                                                                                                        <xs:element type="xs:string" nillable="false" maxOccurs="unbounded" name="code" xmlns=""/>
                                                                                                                                    </xs:sequence>
                                                                                                                                </xs:complexType>
                                                                                                                            </xs:element>
                                                                                                                        </xs:sequence>
                                                                                                                    </xs:complexType>
                                                                                                                </xs:element>
                                                                                                            </xs:sequence>
                                                                                                        </xs:complexType>
                                                                                                    </xs:element>
                                                                                                </xs:sequence>
                                                                                            </xs:complexType>
                                                                                        </xs:element>
                                                                                        <xs:element nillable="true" minOccurs="0" maxOccurs="unbounded" name="integrationObjectItem">
                                                                                            <xs:complexType>
                                                                                                <xs:sequence>
                                                                                                    <xs:element minOccurs="0" maxOccurs="1" name="IntegrationObjectItem">
                                                                                                        <xs:complexType>
                                                                                                            <xs:sequence>
                                                                                                                <xs:element type="xs:string" nillable="false" maxOccurs="unbounded" name="code" xmlns=""/>
                                                                                                                <xs:element nillable="true" minOccurs="0" maxOccurs="unbounded" name="integrationObject">
                                                                                                                    <xs:complexType>
                                                                                                                        <xs:sequence>
                                                                                                                            <xs:element minOccurs="0" maxOccurs="1" name="IntegrationObject">
                                                                                                                                <xs:complexType>
                                                                                                                                    <xs:sequence>
                                                                                                                                        <xs:element type="xs:string" nillable="false" maxOccurs="unbounded" name="code" xmlns=""/>
                                                                                                                                    </xs:sequence>
                                                                                                                                </xs:complexType>
                                                                                                                            </xs:element>
                                                                                                                        </xs:sequence>
                                                                                                                    </xs:complexType>
                                                                                                                </xs:element>
                                                                                                            </xs:sequence>
                                                                                                        </xs:complexType>
                                                                                                    </xs:element>
                                                                                                </xs:sequence>
                                                                                            </xs:complexType>
                                                                                        </xs:element>
                                                                                        <xs:element nillable="true" minOccurs="0" maxOccurs="unbounded" name="returnIntegrationObjectItem">
                                                                                            <xs:complexType>
                                                                                                <xs:sequence>
                                                                                                    <xs:element minOccurs="0" maxOccurs="1" name="IntegrationObjectItem">
                                                                                                        <xs:complexType>
                                                                                                            <xs:sequence>
                                                                                                                <xs:element type="xs:string" nillable="false" maxOccurs="unbounded" name="code" xmlns=""/>
                                                                                                                <xs:element nillable="true" minOccurs="0" maxOccurs="unbounded" name="integrationObject">
                                                                                                                    <xs:complexType>
                                                                                                                        <xs:sequence>
                                                                                                                            <xs:element minOccurs="0" maxOccurs="1" name="IntegrationObject">
                                                                                                                                <xs:complexType>
                                                                                                                                    <xs:sequence>
                                                                                                                                        <xs:element type="xs:string" nillable="false" maxOccurs="unbounded" name="code" xmlns=""/>
                                                                                                                                    </xs:sequence>
                                                                                                                                </xs:complexType>
                                                                                                                            </xs:element>
                                                                                                                        </xs:sequence>
                                                                                                                    </xs:complexType>
                                                                                                                </xs:element>
                                                                                                            </xs:sequence>
                                                                                                        </xs:complexType>
                                                                                                    </xs:element>
                                                                                                </xs:sequence>
                                                                                            </xs:complexType>
                                                                                        </xs:element>
                                                                                    </xs:sequence>
                                                                                </xs:complexType>
                                                                            </xs:element>
                                                                        </xs:sequence>
                                                                    </xs:complexType>
                                                                </xs:element>
                                                                <xs:element minOccurs="0" maxOccurs="1" name="link">
                                                                    <xs:complexType>
                                                                        <xs:sequence>
                                                                            <xs:element nillable="true" minOccurs="0" maxOccurs="unbounded" name="type">
                                                                                <xs:complexType>
                                                                                    <xs:sequence>
                                                                                        <xs:element minOccurs="0" maxOccurs="1" name="ComposedType">
                                                                                            <xs:complexType>
                                                                                                <xs:sequence>
                                                                                                    <xs:element type="xs:string" minOccurs="1" maxOccurs="1" name="integrationKey" xmlns=""/>
                                                                                                </xs:sequence>
                                                                                            </xs:complexType>
                                                                                        </xs:element>
                                                                                    </xs:sequence>
                                                                                </xs:complexType>
                                                                            </xs:element>
                                                                            <xs:element nillable="true" minOccurs="0" maxOccurs="unbounded" name="integrationObject">
                                                                                <xs:complexType>
                                                                                    <xs:sequence>
                                                                                        <xs:element minOccurs="0" maxOccurs="1" name="IntegrationObject">
                                                                                            <xs:complexType>
                                                                                                <xs:sequence>
                                                                                                    <xs:element type="xs:string" minOccurs="1" maxOccurs="1" name="integrationKey" xmlns=""/>
                                                                                                </xs:sequence>
                                                                                            </xs:complexType>
                                                                                        </xs:element>
                                                                                    </xs:sequence>
                                                                                </xs:complexType>
                                                                            </xs:element>
                                                                            <xs:element nillable="true" minOccurs="0" maxOccurs="unbounded" name="attributes">
                                                                                <xs:complexType>
                                                                                    <xs:sequence>
                                                                                        <xs:element minOccurs="0" maxOccurs="unbounded" name="IntegrationObjectItemAttribute">
                                                                                            <xs:complexType>
                                                                                                <xs:sequence>
                                                                                                    <xs:element type="xs:string" minOccurs="1" maxOccurs="1" name="integrationKey" xmlns=""/>
                                                                                                </xs:sequence>
                                                                                            </xs:complexType>
                                                                                        </xs:element>
                                                                                    </xs:sequence>
                                                                                </xs:complexType>
                                                                            </xs:element>
                                                                        </xs:sequence>
                                                                    </xs:complexType>
                                                                </xs:element>
                                                            </xs:sequence>
                                                        </xs:complexType>
                                                    </xs:element>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>
