Resources/schemas/Xsd/SAP_Business_Network_Integration_with_Third-party_ERP - hierarchy.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="root">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="1" minOccurs="1" name="header" type="header_type"/>
        <xs:element maxOccurs="unbounded" minOccurs="1" name="row" type="row_type"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="header_type">
    <xs:sequence>
      <xs:element name="VendorID" type="xs:string"/>
      <xs:element name="VendorName" type="xs:string"/>
      <xs:element name="VendorEmail" type="xs:string"/>
      <xs:element name="OrderID" type="xs:string"/>
      <xs:element name="OrderType" type="xs:string"/>
      <xs:element name="OrderDate" type="xs:string"/>
      <xs:element name="OrderVersion" type="xs:string"/>
      <xs:element name="OrderTotal" type="xs:string"/>
      <xs:element name="Currency" type="xs:string"/>
      <xs:element name="ShipToAddressID" type="xs:string"/>
      <xs:element name="ShipToName" type="xs:string"/>
      <xs:element name="ShipToAddress" type="xs:string"/>
      <xs:element name="ShipToCity" type="xs:string"/>
      <xs:element name="ShipToState" type="xs:string"/>
      <xs:element name="ShipToPostalCode" type="xs:string"/>
      <xs:element name="ShipToCountryCode" type="xs:string"/>
      <xs:element name="ShipToEmail" type="xs:string"/>
      <xs:element name="BillToAddressID" type="xs:string"/>
      <xs:element name="BillToName" type="xs:string"/>
      <xs:element name="BillToAddress" type="xs:string"/>
      <xs:element name="BillToCity" type="xs:string"/>
      <xs:element name="BillToState" type="xs:string"/>
      <xs:element name="BillToPostalCode" type="xs:string"/>
      <xs:element name="BillToCountryCode" type="xs:string"/>
      <xs:element name="BuyerName" type="xs:string"/>
      <xs:element name="BuyerEmail" type="xs:string"/>
      <xs:element name="SupplierAddressID" type="xs:string"/>
      <xs:element name="SupplierName" type="xs:string"/>
      <xs:element name="SupplierAddress" type="xs:string"/>
      <xs:element name="SupplierCity" type="xs:string"/>
      <xs:element name="SupplierState" type="xs:string"/>
      <xs:element name="SupplierPostalCode" type="xs:string"/>
      <xs:element name="SupplierCountryCode" type="xs:string"/>
      <xs:element name="HeaderComment" type="xs:string"/>
      <xs:element name="TransportTerms" type="xs:string"/>
      <xs:element name="PaymentTerms" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="row_type">
    <xs:sequence>
      <xs:element name="LineNumber" type="xs:string"/>
      <xs:element name="Quantity" type="xs:string"/>
      <xs:element name="UnitOfMeasure" type="xs:string"/>
      <xs:element name="PartNumber" type="xs:string"/>
      <xs:element name="LineItemDescription" type="xs:string"/>
      <xs:element name="UnitPrice" type="xs:string"/>
      <xs:element name="DeliveryDate" type="xs:string"/>
      <xs:element name="LineItemComments" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>
