Resources/schemas/Xsd/SAP_Build_Process_Automation_Integration_with_SAP_S-4HANA_for_Urgent_Payment_Request_Approval - outputData-1.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="d">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="status" type="xs:string" />
				<xs:element name="message" type="xs:string" />
				<xs:element name="customerNo" type="xs:string"/>
				<xs:element name="companyCode" type="xs:string" />

				<xs:element name="bankDetails" minOccurs="0" maxOccurs="unbounded">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="bankCountry" type="xs:string" minOccurs="0" maxOccurs="1" />
							<xs:element name="bankKey" type="xs:unsignedShort" minOccurs="0" maxOccurs="1" />
							<xs:element name="bankAccount" type="xs:string" minOccurs="0" maxOccurs="1"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>