Resources/schemas/Xsd/SAP_Complaint_Handling_Integration_For_Customer_Complaints - CusomterComplaint-3.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="root">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="targetType">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="targetType">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="code" type="xs:string" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="parentID">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="division">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="salesDivision" type="xs:unsignedByte" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
               <xs:element name="pricingElements">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="conditionQuantity" type="xs:unsignedByte" />
                          <xs:element name="conditionRateValue" />
                          <xs:element name="conditionQuantitySAPUnit" type="xs:string" />
                          <xs:element name="conditionType" type="xs:string" />
                          <xs:element name="conditionCurrency" type="xs:string" />
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
              <xs:element name="combineItems">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="referenceDocumentLineItemNumber" />
                    <xs:element name="itemNumber" />
                    <xs:element name="unit_code" type="xs:string" />
                    <xs:element name="pricingDate" type="xs:date" />
                    <xs:element name="complaintQuantity" type="xs:unsignedByte" />
                    <xs:element name="complaintMaterial">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="materialCode" type="xs:string" />
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="referenceDocumentNumber" />
                    <xs:element name="pricingElements">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="conditionQuantity" type="xs:unsignedByte" />
                          <xs:element name="conditionRateValue" />
                          <xs:element name="conditionQuantitySAPUnit" type="xs:string" />
                          <xs:element name="conditionType" type="xs:string" />
                          <xs:element name="conditionCurrency" type="xs:string" />
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="soldToParty">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="customerCode" type="xs:unsignedShort" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="shipToParty" minOccurs="0">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="partyInternalID" type="xs:string" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="distributionChannel">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="distributionChannel" type="xs:unsignedByte" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="salesOrganization">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="salesOrganization" type="xs:unsignedByte" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="refNumber" type="xs:unsignedInt" />
              <xs:element name="pricingDate" type="xs:date" />
              <xs:element name="externalReference" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>