Resources/schemas/Xsd/SAP_Service_Cloud_Integration_with_SAP_Field_Service_Management - FSM_C4C_Attachment_Response.xsd

<xs:schema attributeFormDefault="unqualified"
	elementFormDefault="qualified"
	xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="root">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="header" minOccurs="0" maxOccurs="1">
					<xs:complexType>
						<xs:sequence>
							<xs:element type="xs:string" name="MPL_ID"
								minOccurs="0" maxOccurs="1" />
							<xs:element type="xs:string" name="C4C_message_id"
								minOccurs="0" maxOccurs="1" />
							<xs:element type="xs:string" name="Receiver"
								minOccurs="0" maxOccurs="1" />
							<xs:element type="xs:string" name="Sender"
								minOccurs="0" maxOccurs="1" />
							<xs:element type="xs:string" name="CreationDateTime"
								minOccurs="0" maxOccurs="1" />
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="fsm_body" minOccurs="0"
					maxOccurs="unbounded">
					<xs:complexType>
						<xs:sequence>
							<xs:element type="xs:string" name="status"
								minOccurs="0" maxOccurs="1" />
							<xs:element type="xs:string" name="location"
								minOccurs="0" maxOccurs="1" />
							<xs:element name="attachment" minOccurs="0"
								maxOccurs="1">
								<xs:complexType>
									<xs:sequence>
										<xs:element type="xs:string" name="id"
											minOccurs="0" maxOccurs="1" />
										<xs:element type="xs:byte" name="code"
											minOccurs="0" maxOccurs="1" />
										<xs:element type="xs:string" name="externalId"
											minOccurs="0" maxOccurs="1" />
										<xs:element name="object" minOccurs="0"
											maxOccurs="1">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="objectId"
														minOccurs="0" maxOccurs="1">
														<xs:complexType>
															<xs:sequence>
																<xs:element type="xs:string" name="id"
																	minOccurs="0" maxOccurs="1" />
																<xs:element type="xs:string"
																	name="externalId" minOccurs="0" maxOccurs="1" />
															</xs:sequence>
														</xs:complexType>
													</xs:element>
													<xs:element type="xs:string" name="objectType"
														minOccurs="0" maxOccurs="1" />
												</xs:sequence>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>