Resources/schemas/Xsd/SAP_Build_Process_Automation_Integration_with_SAP_S-4HANA_for_Managing_Customer_Refund_Request - BAPI_ACC_DOCUMENT_POST_response.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="qualified">
   <xs:element name="CUSTOMERREFUNDRESPONSE">
      <xs:complexType>
         <xs:sequence>
		    <xs:element name="LineItems" maxOccurs="1" minOccurs="1">
               <xs:complexType>
                  <xs:sequence>
                     <xs:element name="Item" maxOccurs="unbounded" minOccurs="0">
                        <xs:complexType>
                           <xs:sequence>
					<xs:element name="COMP_CODE" minOccurs="0">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:maxLength value="4"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element name="CUSTOMER" minOccurs="0">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:maxLength value="10"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element name="SP_GL_IND" minOccurs="0">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:maxLength value="1"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element name="CLEAR_DATE" minOccurs="0" type="xs:dateTime"/>
					<xs:element name="CLR_DOC_NO" minOccurs="0">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:maxLength value="10"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element name="ALLOC_NMBR" minOccurs="0">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:maxLength value="18"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element name="FISC_YEAR" minOccurs="0">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:maxLength value="4"/>
								<xs:pattern value="\d*"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element name="DOC_NO" minOccurs="0">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:maxLength value="10"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element name="ITEM_NUM" minOccurs="0">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:maxLength value="3"/>
								<xs:pattern value="\d*"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element name="PSTNG_DATE" minOccurs="0" type="xs:dateTime"/>
					<xs:element name="DOC_DATE" minOccurs="0" type="xs:dateTime"/>
					<xs:element name="ENTRY_DATE" minOccurs="0" type="xs:dateTime"/>
					<xs:element name="CURRENCY" minOccurs="0">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:maxLength value="5"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element name="LOC_CURRCY" minOccurs="0">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:maxLength value="5"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element name="REF_DOC_NO" minOccurs="0">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:maxLength value="16"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element name="DOC_TYPE" minOccurs="0">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:maxLength value="2"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element name="FIS_PERIOD" minOccurs="0">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:maxLength value="2"/>
								<xs:pattern value="\d*"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element name="POST_KEY" minOccurs="0">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:maxLength value="2"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element name="DB_CR_IND" minOccurs="0">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:maxLength value="1"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element name="BUS_AREA" minOccurs="0">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:maxLength value="4"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element name="TAX_CODE" minOccurs="0">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:maxLength value="2"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element name="LC_AMOUNT" minOccurs="0">
						<xs:simpleType>
							<xs:restriction base="xs:integer">
								<xs:totalDigits value="23"/>
								<xs:fractionDigits value="4"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element name="AMT_DOCCUR" minOccurs="0">
						<xs:simpleType>
							<xs:restriction base="xs:integer">
								<xs:totalDigits value="23"/>
								<xs:fractionDigits value="4"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element name="LC_TAX" minOccurs="0">
						<xs:simpleType>
							<xs:restriction base="xs:integer">
								<xs:totalDigits value="23"/>
								<xs:fractionDigits value="4"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element name="TX_DOC_CUR" minOccurs="0">
						<xs:simpleType>
							<xs:restriction base="xs:integer">
								<xs:totalDigits value="23"/>
								<xs:fractionDigits value="4"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element name="ITEM_TEXT" minOccurs="0">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:maxLength value="50"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element name="BRANCH" minOccurs="0">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:maxLength value="10"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element name="BLINE_DATE" minOccurs="0" type="xs:dateTime"/>
					<xs:element name="PMNTTRMS" minOccurs="0">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:maxLength value="4"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element name="DSCT_DAYS1" minOccurs="0">
						<xs:simpleType>
							<xs:restriction base="xs:integer">
								<xs:totalDigits value="3"/>
								<xs:fractionDigits value="0"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element name="DSCT_DAYS2" minOccurs="0">
						<xs:simpleType>
							<xs:restriction base="xs:integer">
								<xs:totalDigits value="3"/>
								<xs:fractionDigits value="0"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element name="NETTERMS" minOccurs="0">
						<xs:simpleType>
							<xs:restriction base="xs:integer">
								<xs:totalDigits value="3"/>
								<xs:fractionDigits value="0"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element name="DSCT_PCT1" minOccurs="0">
						<xs:simpleType>
							<xs:restriction base="xs:integer">
								<xs:totalDigits value="5"/>
								<xs:fractionDigits value="3"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element name="DSCT_PCT2" minOccurs="0">
						<xs:simpleType>
							<xs:restriction base="xs:integer">
								<xs:totalDigits value="5"/>
								<xs:fractionDigits value="3"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element name="DISC_BASE" minOccurs="0">
						<xs:simpleType>
							<xs:restriction base="xs:integer">
								<xs:totalDigits value="23"/>
								<xs:fractionDigits value="4"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element name="DSC_AMT_LC" minOccurs="0">
						<xs:simpleType>
							<xs:restriction base="xs:integer">
								<xs:totalDigits value="23"/>
								<xs:fractionDigits value="4"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element name="DSC_AMT_DC" minOccurs="0">
						<xs:simpleType>
							<xs:restriction base="xs:integer">
								<xs:totalDigits value="23"/>
								<xs:fractionDigits value="4"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element name="PYMT_METH" minOccurs="0">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:maxLength value="1"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element name="PMNT_BLOCK" minOccurs="0">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:maxLength value="1"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element name="FIXEDTERMS" minOccurs="0">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:maxLength value="1"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element name="INV_REF" minOccurs="0">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:maxLength value="10"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element name="INV_YEAR" minOccurs="0">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:maxLength value="4"/>
								<xs:pattern value="\d*"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element name="INV_ITEM" minOccurs="0">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:maxLength value="3"/>
								<xs:pattern value="\d*"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element name="DUNN_BLOCK" minOccurs="0">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:maxLength value="1"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element name="DUNN_KEY" minOccurs="0">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:maxLength value="1"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element name="LAST_DUNN" minOccurs="0" type="xs:dateTime"/>
					<xs:element name="DUNN_LEVEL" minOccurs="0">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:maxLength value="1"/>
								<xs:pattern value="\d*"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element name="DUNN_AREA" minOccurs="0">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:maxLength value="2"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element name="DOC_STATUS" minOccurs="0">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:maxLength value="1"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element name="NXT_DOCTYP" minOccurs="0">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:maxLength value="1"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element name="VAT_REG_NO" minOccurs="0">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:maxLength value="20"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element name="REASON_CDE" minOccurs="0">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:maxLength value="3"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element name="PMTMTHSUPL" minOccurs="0">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:maxLength value="2"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element name="REF_KEY_1" minOccurs="0">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:maxLength value="12"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element name="REF_KEY_2" minOccurs="0">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:maxLength value="12"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element name="T_CURRENCY" minOccurs="0">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:maxLength value="5"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element name="AMOUNT" minOccurs="0">
						<xs:simpleType>
							<xs:restriction base="xs:integer">
								<xs:totalDigits value="23"/>
								<xs:fractionDigits value="4"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element name="NET_AMOUNT" minOccurs="0">
						<xs:simpleType>
							<xs:restriction base="xs:decimal">
								<xs:totalDigits value="23"/>
								<xs:fractionDigits value="4"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element name="NAME" minOccurs="0">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:maxLength value="35"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element name="NAME_2" minOccurs="0">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:maxLength value="35"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element name="NAME_3" minOccurs="0">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:maxLength value="35"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element name="NAME_4" minOccurs="0">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:maxLength value="35"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element name="POSTL_CODE" minOccurs="0">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:maxLength value="10"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element name="CITY" minOccurs="0">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:maxLength value="35"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element name="COUNTRY" minOccurs="0">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:maxLength value="3"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element name="STREET" minOccurs="0">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:maxLength value="35"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element name="PO_BOX" minOccurs="0">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:maxLength value="10"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element name="POBX_PCD" minOccurs="0">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:maxLength value="10"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element name="POBK_CURAC" minOccurs="0">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:maxLength value="16"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element name="BANK_ACCT" minOccurs="0">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:maxLength value="18"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element name="BANK_KEY" minOccurs="0">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:maxLength value="15"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element name="BANK_CTRY" minOccurs="0">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:maxLength value="3"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element name="TAX_NO_1" minOccurs="0">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:maxLength value="16"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element name="TAX_NO_2" minOccurs="0">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:maxLength value="11"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element name="TAX" minOccurs="0">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:maxLength value="1"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element name="EQUAL_TAX" minOccurs="0">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:maxLength value="1"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element name="REGION" minOccurs="0">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:maxLength value="3"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element name="CTRL_KEY" minOccurs="0">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:maxLength value="2"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element name="INSTR_KEY" minOccurs="0">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:maxLength value="2"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element name="PAYEE_CODE" minOccurs="0">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:maxLength value="16"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element name="LANGU" minOccurs="0">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:maxLength value="1"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element name="BILL_LIFE" minOccurs="0">
						<xs:simpleType>
							<xs:restriction base="xs:integer">
								<xs:totalDigits value="3"/>
								<xs:fractionDigits value="0"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element name="BE_TAXCODE" minOccurs="0">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:maxLength value="1"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element name="BILLTAX_LC" minOccurs="0">
						<xs:simpleType>
							<xs:restriction base="xs:integer">
								<xs:totalDigits value="23"/>
								<xs:fractionDigits value="4"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element name="BILLTAX_FC" minOccurs="0">
						<xs:simpleType>
							<xs:restriction base="xs:integer">
								<xs:totalDigits value="23"/>
								<xs:fractionDigits value="4"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element name="LC_COL_CHG" minOccurs="0">
						<xs:simpleType>
							<xs:restriction base="xs:integer">
								<xs:totalDigits value="23"/>
								<xs:fractionDigits value="4"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element name="COLL_CHARG" minOccurs="0">
						<xs:simpleType>
							<xs:restriction base="xs:integer">
								<xs:totalDigits value="23"/>
								<xs:fractionDigits value="4"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element name="CHGS_TX_CD" minOccurs="0">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:maxLength value="2"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element name="ISSUE_DATE" minOccurs="0" type="xs:dateTime"/>
					<xs:element name="USAGEDATE" minOccurs="0" type="xs:dateTime"/>
					<xs:element name="BILL_USAGE" minOccurs="0">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:maxLength value="1"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element name="DOMICILE" minOccurs="0">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:maxLength value="60"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element name="DRAWER" minOccurs="0">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:maxLength value="30"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element name="CTRBNK_LOC" minOccurs="0">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:maxLength value="60"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element name="DRAW_CITY1" minOccurs="0">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:maxLength value="30"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element name="DRAWEE" minOccurs="0">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:maxLength value="30"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element name="DRAW_CITY2" minOccurs="0">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:maxLength value="30"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element name="DISCT_DAYS" minOccurs="0">
						<xs:simpleType>
							<xs:restriction base="xs:decimal">
								<xs:totalDigits value="3"/>
								<xs:fractionDigits value="0"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element name="DISCT_RATE" minOccurs="0">
						<xs:simpleType>
							<xs:restriction base="xs:integer">
								<xs:totalDigits value="7"/>
								<xs:fractionDigits value="5"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element name="ACCEPTED" minOccurs="0">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:maxLength value="1"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element name="BILLSTATUS" minOccurs="0">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:maxLength value="1"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element name="PRTEST_IND" minOccurs="0">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:maxLength value="1"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element name="BE_DEMAND" minOccurs="0">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:maxLength value="1"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element name="OBJ_TYPE" minOccurs="0">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:maxLength value="5"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element name="REF_DOC" minOccurs="0">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:maxLength value="10"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element name="REF_ORG_UN" minOccurs="0">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:maxLength value="10"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element name="REVERSAL_DOC" minOccurs="0">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:maxLength value="10"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element name="SP_GL_TYPE" minOccurs="0">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:maxLength value="1"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element name="NEG_POSTNG" minOccurs="0">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:maxLength value="1"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element name="REF_DOC_NO_LONG" minOccurs="0">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:maxLength value="35"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element name="BILL_DOC" minOccurs="0">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:maxLength value="10"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
                           </xs:sequence>
                        </xs:complexType>
                     </xs:element>
                  </xs:sequence>
               </xs:complexType>
            </xs:element>
            <xs:element name="Return" maxOccurs="1" minOccurs="1">
               <xs:complexType>
                  <xs:sequence>
                     <xs:element name="Item" maxOccurs="unbounded" minOccurs="0">
                        <xs:complexType>
                           <xs:sequence>
                              <xs:element name="Type" minOccurs="0">
                                 <xs:annotation>
                                    <xs:documentation>Message type: S Success, E Error, W Warning, I Info, A Abort</xs:documentation>
                                 </xs:annotation>
                                 <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                       <xs:maxLength value="1" />
                                    </xs:restriction>
                                 </xs:simpleType>
                              </xs:element>
                              <xs:element name="ID" minOccurs="0">
                                 <xs:annotation>
                                    <xs:documentation>Message Class</xs:documentation>
                                 </xs:annotation>
                                 <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                       <xs:maxLength value="20" />
                                    </xs:restriction>
                                 </xs:simpleType>
                              </xs:element>
                              <xs:element name="Number" minOccurs="0">
                                 <xs:annotation>
                                    <xs:documentation>Message Number</xs:documentation>
                                 </xs:annotation>
                                 <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                       <xs:maxLength value="3" />
                                       <xs:pattern value="\d+" />
                                    </xs:restriction>
                                 </xs:simpleType>
                              </xs:element>
                              <xs:element name="Message" minOccurs="0">
                                 <xs:annotation>
                                    <xs:documentation>Message Text</xs:documentation>
                                 </xs:annotation>
                                 <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                       <xs:maxLength value="220" />
                                    </xs:restriction>
                                 </xs:simpleType>
                              </xs:element>
                              <xs:element name="Log_NO" minOccurs="0">
                                 <xs:annotation>
                                    <xs:documentation>Application log: log number</xs:documentation>
                                 </xs:annotation>
                                 <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                       <xs:maxLength value="20" />
                                    </xs:restriction>
                                 </xs:simpleType>
                              </xs:element>
                              <xs:element name="Log_Msg_NO" minOccurs="0">
                                 <xs:annotation>
                                    <xs:documentation>Application log: Internal message serial number</xs:documentation>
                                 </xs:annotation>
                                 <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                       <xs:maxLength value="6" />
                                       <xs:pattern value="\d+" />
                                    </xs:restriction>
                                 </xs:simpleType>
                              </xs:element>
                              <xs:element name="Message_V1" minOccurs="0">
                                 <xs:annotation>
                                    <xs:documentation>Message Variable</xs:documentation>
                                 </xs:annotation>
                                 <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                       <xs:maxLength value="50" />
                                    </xs:restriction>
                                 </xs:simpleType>
                              </xs:element>
                              <xs:element name="Message_V2" minOccurs="0">
                                 <xs:annotation>
                                    <xs:documentation>Message Variable</xs:documentation>
                                 </xs:annotation>
                                 <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                       <xs:maxLength value="50" />
                                    </xs:restriction>
                                 </xs:simpleType>
                              </xs:element>
                              <xs:element name="Message_V3" minOccurs="0">
                                 <xs:annotation>
                                    <xs:documentation>Message Variable</xs:documentation>
                                 </xs:annotation>
                                 <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                       <xs:maxLength value="50" />
                                    </xs:restriction>
                                 </xs:simpleType>
                              </xs:element>
                              <xs:element name="Message_V4" minOccurs="0">
                                 <xs:annotation>
                                    <xs:documentation>Message Variable</xs:documentation>
                                 </xs:annotation>
                                 <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                       <xs:maxLength value="50" />
                                    </xs:restriction>
                                 </xs:simpleType>
                              </xs:element>
                              <xs:element name="Parameter" minOccurs="0">
                                 <xs:annotation>
                                    <xs:documentation>Parameter Name</xs:documentation>
                                 </xs:annotation>
                                 <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                       <xs:maxLength value="32" />
                                    </xs:restriction>
                                 </xs:simpleType>
                              </xs:element>
                              <xs:element name="Row" type="xs:integer" minOccurs="0">
                                 <xs:annotation>
                                    <xs:documentation>Lines in parameter</xs:documentation>
                                 </xs:annotation>
                              </xs:element>
                              <xs:element name="Field" minOccurs="0">
                                 <xs:annotation>
                                    <xs:documentation>Field in parameter</xs:documentation>
                                 </xs:annotation>
                                 <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                       <xs:maxLength value="30" />
                                    </xs:restriction>
                                 </xs:simpleType>
                              </xs:element>
                              <xs:element name="System" minOccurs="0">
                                 <xs:annotation>
                                    <xs:documentation>Logical system from which message originates</xs:documentation>
                                 </xs:annotation>
                                 <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                       <xs:maxLength value="10" />
                                    </xs:restriction>
                                 </xs:simpleType>
                              </xs:element>
                           </xs:sequence>
                        </xs:complexType>
                     </xs:element>
                  </xs:sequence>
               </xs:complexType>
            </xs:element>
         </xs:sequence>
      </xs:complexType>
   </xs:element>
</xs:schema>