Resources/schemas/Xsd/SAP_Build_Process_Automation_Integration_with_SAP_S-4HANA_for_Authorization_For_Expenditure - RFC Response.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="unqualified" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:sap-com:document:sap:rfc:functions">
  <xs:element name="ZWF_RFC_PS_UPDATE_BUDGET.Response">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="I_WBSELEMENTS">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" name="item">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="TRANSACTIONCURRENCY" type="xs:string" />
              <xs:element name="PLANNINGCOST" type="xs:decimal" />
              <xs:element name="PARENTPROJECT" />
              <xs:element name="PROJECTELEMENTDESCRIPTION" />
              <xs:element name="PROJECTELEMENT" type="xs:string" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RETURN">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" name="item">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="TYPE" type="xs:string" />
              <xs:element name="ID" type="xs:string" />
              <xs:element name="NUMBER" type="xs:unsignedShort" />
              <xs:element name="MESSAGE" type="xs:string" />
              <xs:element name="LOG_NO" />
              <xs:element name="LOG_MSG_NO" type="xs:unsignedByte" />
              <xs:element name="MESSAGE_V1" />
              <xs:element name="MESSAGE_V2" />
              <xs:element name="MESSAGE_V3" />
              <xs:element name="MESSAGE_V4" />
              <xs:element name="PARAMETER" />
              <xs:element name="ROW" type="xs:unsignedByte" />
              <xs:element name="FIELD" />
              <xs:element name="SYSTEM" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>