Resources/schemas/Xsd/SAP_Build_Process_Automation_Integration_with_SAP_S-4HANA_for_Lease_Termination - TARGET_XSD_FOR_JSON.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="assetContractDetails">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="requestorEmail" minOccurs="0" type="xs:string" />
				<xs:element name="requestorName" minOccurs="0" type="xs:string" />
				<xs:element name="requestedDate" minOccurs="0" />
				<xs:element name="companyCode" minOccurs="0" type="xs:unsignedByte" />
				<xs:element name="businessPartner" minOccurs="0" type="xs:unsignedByte" />
				<xs:element name="businessPartnerName" minOccurs="0" type="xs:unsignedByte" />
				<xs:element name="contract" minOccurs="0" type="xs:unsignedShort" />
				<xs:element name="contractStartDate" minOccurs="0" />
				<xs:element name="contractEndDate" minOccurs="0" type="xs:unsignedShort" />
				<xs:element name="contractEarlyTerminationDate" minOccurs="0" />
				<xs:element name="contractValue" minOccurs="0" type="xs:string" />
				<xs:element name="contractCostCenter" minOccurs="0" type="xs:string" />
				<xs:element name="assetNumber" minOccurs="0" type="xs:unsignedByte" />
				<xs:element name="assetSubNumber" minOccurs="0" type="xs:string" />
				<xs:element name="assetDescription" minOccurs="0" type="xs:date" />
				<xs:element name="assetAcquistionDate" minOccurs="0" type="xs:date" />
				<xs:element name="assetAcquistionValue" minOccurs="0" type="xs:date" />
				<xs:element name="assetRetirementValue" minOccurs="0" type="xs:date" />
				<xs:element name="currency" minOccurs="0" type="xs:string" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
