Resources/schemas/Xsd/SAP_Complaint_Handling_Integration_For_Customer_Complaints - PricingElements_Response.xsd

<?xml version="1.0" encoding="UTF-8"?><xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="qualified">
  <xs:element name="root">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" minOccurs="0" name="result">
            <xs:complexType>
                <xs:sequence>
                    <xs:element maxOccurs="1" minOccurs="0" name="step"/>
                    <xs:element maxOccurs="1" minOccurs="0" name="conditionType"/>
                    <xs:element maxOccurs="1" minOccurs="0" name="subTotalNumber"/>
                    <xs:element maxOccurs="1" minOccurs="0" name="isManualCondition" nillable="true" type="xs:boolean"/>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="texts">
                         <xs:complexType>
                            <xs:sequence>
                                <xs:element maxOccurs="1" minOccurs="0" name="description"/>
                                <xs:element maxOccurs="1" minOccurs="0" name="locale"/>  
                            </xs:sequence>
                        </xs:complexType>
                    </xs:element>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="cndnTypeBlankTexts">
                         <xs:complexType>
                            <xs:sequence>
                                <xs:element maxOccurs="1" minOccurs="0" name="description"/>
                                <xs:element maxOccurs="1" minOccurs="0" name="locale"/>  
                            </xs:sequence>
                        </xs:complexType>
                    </xs:element>
                </xs:sequence>
            </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>