Resources/schemas/Xsd/SAP_Fieldglass_Integration_with_SAP_SuccessFactors_Employee_Central (1) - ContingentWorkerWithExternalParameters.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:element name="ContingentWorkerList">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="ContingentWorker" minOccurs="0"
					maxOccurs="unbounded">
					<xs:complexType>
						<xs:sequence>
						<xs:element name="eventReason" >
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:minLength value="0" />
										<xs:maxLength value="10" />
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="sourceOfRecord" >
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:minLength value="0" />
										<xs:maxLength value="100" />
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="changeEventReason" >
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:minLength value="0" />
										<xs:maxLength value="10" />
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="emailType" >
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:minLength value="0" />
										<xs:maxLength value="10" />
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="Job_Seeker_ID">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:minLength value="0" />
										<xs:maxLength value="14" />
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="Worker_ID">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:minLength value="0" />
										<xs:maxLength value="14" />
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="Person_ID">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:minLength value="0" />
										<xs:maxLength value="24" />
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="Security_ID">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:minLength value="0" />
										<xs:maxLength value="20" />
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="Status">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:minLength value="0" />
										<xs:maxLength value="100" />
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="First_Name">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:minLength value="0" />
										<xs:maxLength value="30" />
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="Last_Name">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:minLength value="0" />
										<xs:maxLength value="30" />
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="Worker_Email">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:minLength value="0" />
										<xs:maxLength value="100" />
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="Job_Posting_Title">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:minLength value="0" />
										<xs:maxLength value="100" />
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="Work_Order_ID">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:minLength value="0" />
										<xs:maxLength value="14" />
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="Work_Order_Owner">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:minLength value="0" />
										<xs:maxLength value="100" />
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="Work_Order_Owner_ID">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:minLength value="0" />
										<xs:maxLength value="50" />
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="Business_Unit_Code">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:minLength value="0" />
										<xs:maxLength value="100" />
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="Business_Unit_Name">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:minLength value="0" />
										<xs:maxLength value="100" />
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="Vendor_Code">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:minLength value="0" />
										<xs:maxLength value="04" />
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="Vendor_Name">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:minLength value="0" />
										<xs:maxLength value="100" />
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="Buyer_Code">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:minLength value="0" />
										<xs:maxLength value="04" />
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="Address_Code">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:minLength value="0" />
										<xs:maxLength value="04" />
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="Cost_Center_Name">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:minLength value="0" />
										<xs:maxLength value="100" />
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="Cost_Center_Code">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:minLength value="0" />
										<xs:maxLength value="100" />
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="Bill_Per_Diem">
								<xs:simpleType>
									<xs:restriction base="xs:decimal">
										<xs:totalDigits value='9' />
										<xs:fractionDigits value='6' />
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="Start_Date">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:pattern value="(0[1-9]|1[012])\/(0[1-9]|[12][0-9]|3[01])\/\d{4}" />
										<xs:maxLength value="10" />
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="End_Date">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:pattern value="(0[1-9]|1[012])\/(0[1-9]|[12][0-9]|3[01])\/\d{4}" />
										<xs:maxLength value="10" />
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="Currency">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:minLength value="0" />
										<xs:maxLength value="4" />
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="Site_Code">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:minLength value="0" />
										<xs:maxLength value="100" />
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="Site_Name">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:minLength value="0" />
										<xs:maxLength value="100" />
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="Location_Code">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:minLength value="0" />
										<xs:maxLength value="100" />
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="Work_Location_Name">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:minLength value="0" />
										<xs:maxLength value="100" />
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="Work_Supervisor">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:minLength value="0" />
										<xs:maxLength value="100" />
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="Work_Order_Status">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:minLength value="0" />
										<xs:maxLength value="100" />
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="Worker_Type">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:minLength value="0" />
										<xs:maxLength value="100" />
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="Worker_Start_Date">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:pattern value="(0[1-9]|1[012])\/(0[1-9]|[12][0-9]|3[01])\/\d{4}" />
										<xs:maxLength value="10" />
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="Transaction_Code">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:minLength value="0" />
										<xs:maxLength value="100" />
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="Last_Revision_Date">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:pattern value="(0[1-9]|1[012])\/(0[1-9]|[12][0-9]|3[01])\/\d{4}" />
										<xs:maxLength value="10" />
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="Company_Code">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:minLength value="0" />
										<xs:maxLength value="100" />
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="Position_Id">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:minLength value="0" />
										<xs:maxLength value="100" />
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="Job_Code">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:minLength value="0" />
										<xs:maxLength value="100" />
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="employeeClass">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:minLength value="0" />
										<xs:maxLength value="100" />
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="Previous_Start_Date">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:pattern value="(0[1-9]|1[012])\/(0[1-9]|[12][0-9]|3[01])\/\d{4}" />
										<xs:maxLength value="10" />
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="UserID">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:minLength value="0" />
										<xs:maxLength value="100" />
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="RemoveUser">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:minLength value="0" />
										<xs:maxLength value="100" />
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="RemoveEmployment">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:minLength value="0" />
										<xs:maxLength value="100" />
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="UpdateFlag">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:minLength value="0" />
										<xs:maxLength value="100" />
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>