Resources/schemas/Xsd/SAP_S-4HANA_Integration_with_SAP_SuccessFactors_Incentive_Management - XDL_Categories_Template.xsd

<?xml version="1.0" encoding="UTF-8"?><xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="qualified">
  <xs:element name="categories">
  <xs:complexType>
		<xs:sequence>
		  <xs:element maxOccurs="unbounded" minOccurs="0" name="category">
			<xs:complexType>
			  <xs:sequence>
				<xs:element maxOccurs="1" minOccurs="1" name="CATEGORYTREENAME" type="xs:string"/>
				<xs:element maxOccurs="1" minOccurs="1" name="CATEGORYNAME" type="xs:string"/>
				<xs:element maxOccurs="1" minOccurs="1" name="EFFECTIVESTARTDATE" type="xs:string"/>
				<xs:element maxOccurs="1" minOccurs="1" name="EFFECTIVEENDDATE" type="xs:string"/>
				<xs:element maxOccurs="1" minOccurs="1" name="PARENTNAME" type="xs:string"/>
				<xs:element maxOccurs="1" minOccurs="1" name="BUSINESSUNITNAME" type="xs:string"/>
				<xs:element maxOccurs="1" minOccurs="1" name="DESCRIPTION" type="xs:string"/>
			  </xs:sequence>
			</xs:complexType>
		  </xs:element>
		</xs:sequence>
	</xs:complexType>
  </xs:element>
</xs:schema>