Resources/schemas/Xsd/SAP_Commerce_financial_services_accelerator_integration_with_SAP_for_Insurance - InboundQUOResponseIssuePolicy.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://www.camilion.com/o16n" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="issuePolicyWSResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Response">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="WebServiceResponseControl">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="WebServiceStatus">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element type="xs:string" name="Name"/>
                          <xs:element type="xs:byte" name="Version"/>
                          <xs:element type="xs:string" name="Method"/>
                          <xs:element type="xs:string" name="Code"/>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="MessageList">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="MessageItem">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element type="xs:string" name="MESSAGETEXT_TT"/>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>