Resources/schemas/Xsd/SAP_Build_Process_Automation_Integration_with_SAP_S-4HANA_for_Fixed_Asset_Approval_Write_Off - POST - Input - Schema.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="data">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="requestId" type="xs:unsignedLong" />
        <xs:element name="header">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="companyCode" type="xs:unsignedShort" />
              <xs:element name="costCenter" type="xs:unsignedInt" />
	      <xs:element name="documentType" type="xs:unsignedByte" />
	      <xs:element name="documentDate" type="xs:unsignedByte" />
	      <xs:element name="postingDate" type="xs:unsignedByte" />
	      <xs:element name="assetValueDate" type="xs:unsignedByte" />
              <xs:element name="transactionTypeGroup" type="xs:unsignedByte" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element maxOccurs="unbounded" name="items">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="asset" type="xs:unsignedLong" />
              <xs:element name="subNo" type="xs:unsignedByte" />
              <xs:element name="depreciationArea" type="xs:unsignedByte" />
              <xs:element name="transactionType" type="xs:unsignedByte" />
              <xs:element name="amount" type="xs:string" />
              <xs:element name="currency" type="xs:string" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>