Resources/schemas/Xsd/SAP_S-4HANA_Utilities_Integration_with_SAP_Emarsys_Customer_Engagement - UtilitiesInstallationFacts.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    
    <xs:element name="UtilitiesInstallationSet">
        
        <xs:complexType>
            
            <xs:sequence>
                <xs:element nillable="false" minOccurs="1" maxOccurs="unbounded" name="UtilitiesInstallation">
                    <xs:complexType>
                        <xs:sequence>
                            
                            <xs:element nillable="false" minOccurs="1" maxOccurs="1" name="UtilitiesInstallationID">
                                <xs:simpleType>
                                    <xs:restriction base="xs:token" xmlns="">
                                        <xs:minLength value="0"/>
                                        <xs:maxLength value="10"/>
                                    </xs:restriction>
                                </xs:simpleType>
                            </xs:element>
                                                                                               
                            <!-- included subnode: UtilitiesInstallation/UtilityInstallationFacts -->
                            
                            <xs:element nillable="false" minOccurs="1" maxOccurs="unbounded" name="UtilityInstallationFacts">
                                
                                <xs:complexType>
                                    
                                    <xs:sequence>
                                        
                                        <!-- Repetition !!! : UtilitiesInstallationID -->
                                        
                                        <xs:element nillable="false" minOccurs="1" maxOccurs="1" name="UtilitiesInstallationID">
                                            <xs:simpleType>
                                                <xs:restriction base="xs:token" xmlns="">
                                                    <xs:minLength value="0"/>
                                                    <xs:maxLength value="10"/>
                                                </xs:restriction>
                                            </xs:simpleType>
                                        </xs:element>											
                                        
                                        
                                        <!-- UtilityInstallationFacts/FactName -->
                                        
                                        <xs:element nillable="false" minOccurs="1" maxOccurs="1" name="FactName">
                                            <xs:simpleType>
                                                <xs:restriction base="xs:string" xmlns="">
                                                    <xs:minLength value="0"/>
                                                    <xs:maxLength value="30"/>
                                                </xs:restriction>
                                            </xs:simpleType>
                                        </xs:element>
                                        
                                        <!-- UtilityInstallationFacts/FactIndicator -->
                                        
                                        <xs:element nillable="false" minOccurs="0" maxOccurs="1" name="FactIndicator">
                                            <xs:simpleType>
                                                <xs:restriction base="xs:string" xmlns="">
                                                    <xs:minLength value="1"/>
                                                    <xs:maxLength value="1"/>
                                                </xs:restriction>
                                            </xs:simpleType>
                                        </xs:element>
                                        
                                        <!-- UtilityInstallationFacts/StartDate -->
                                        
                                        <xs:element nillable="false" minOccurs="1" maxOccurs="1" name="StartDate">
                                            <xs:simpleType>
                                                <xs:restriction base="xs:date" xmlns="">
                                                </xs:restriction>
                                            </xs:simpleType>
                                        </xs:element>                                      
                                        
                                        <!-- UtilityInstallationFacts/EndDate -->
                                        
                                        <xs:element nillable="false" minOccurs="0" maxOccurs="1" name="EndDate">
                                            <xs:simpleType>
                                                <xs:restriction base="xs:date" xmlns="">
                                                </xs:restriction>
                                            </xs:simpleType>
                                        </xs:element>										
                                        
                                        <!-- UtilityInstallationFacts/Amount -->
                                        
                                        <xs:element nillable="false" minOccurs="0" maxOccurs="1" name="Amount">
                                            <xs:simpleType>
                                                <xs:restriction base="xs:decimal" xmlns="">
                                                    <xs:totalDigits value='28'/>
                                                    <xs:fractionDigits value='6'/>
                                                </xs:restriction>
                                            </xs:simpleType>
                                        </xs:element>	
                                        
                                        <!-- UtilityInstallationFacts/Percentage -->
                                        
                                        <xs:element nillable="false" minOccurs="0" maxOccurs="1" name="Percentage">
                                            <xs:simpleType>
                                                <xs:restriction base="xs:decimal" xmlns="">
                                                    <xs:totalDigits value='16'/>
                                                    <xs:fractionDigits value='6'/>
                                                </xs:restriction>
                                            </xs:simpleType>
                                        </xs:element>
                
                                        
                                    </xs:sequence>
                                    
                                </xs:complexType>
                                
                            </xs:element>							
                        </xs:sequence>
                        
                    </xs:complexType>
                                           
                </xs:element>                
        </xs:sequence>
                        
        </xs:complexType>
    </xs:element>
</xs:schema>
