Resources/schemas/Xsd/SAP_Cloud_for_Customer_Integration_with_SAP_S-4HANA_Cloud - FunctionalLocationEntityPUT.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="batchParts">
        <xs:complexType>
            <xs:sequence>
                <xs:element nillable="false" minOccurs="1" maxOccurs="unbounded" name="batchChangeSet">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element nillable="false" minOccurs="1" maxOccurs="unbounded" name="batchChangeSetPart">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element type="xs:string" nillable="false" minOccurs="1" maxOccurs="1" name="method" xmlns=""/>
                                        <xs:element type="xs:string" nillable="true" minOccurs="0" maxOccurs="1" name="uri" xmlns=""/>
                                        <xs:element nillable="true" minOccurs="0" maxOccurs="1" name="headers">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element nillable="true" minOccurs="0" maxOccurs="unbounded" name="header">
                                                        <xs:complexType>
                                                            <xs:sequence>
                                                                <xs:element type="xs:string" nillable="false" minOccurs="1" maxOccurs="1" name="headerName" xmlns=""/>
                                                                <xs:element type="xs:string" nillable="false" minOccurs="1" maxOccurs="1" name="headerValue" xmlns=""/>
                                                            </xs:sequence>
                                                        </xs:complexType>
                                                    </xs:element>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element nillable="false" minOccurs="1" maxOccurs="1" name="FunctionalLocation">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element minOccurs="1" maxOccurs="unbounded" name="FunctionalLocationType">
                                                        <xs:complexType>
                                                            <xs:sequence>
                                                                <xs:element nillable="false" maxOccurs="1" name="FunctionalLocation">
                                                                    <xs:simpleType>
                                                                        <xs:restriction base="xs:string" xmlns="">
                                                                            <xs:maxLength value="30"/>
                                                                        </xs:restriction>
                                                                    </xs:simpleType>
                                                                </xs:element>
                                                                <xs:element nillable="true" minOccurs="0" maxOccurs="1" name="FunctionalLocationName">
                                                                    <xs:simpleType>
                                                                        <xs:restriction base="xs:string" xmlns="">
                                                                            <xs:maxLength value="40"/>
                                                                        </xs:restriction>
                                                                    </xs:simpleType>
                                                                </xs:element>
                                                                <xs:element nillable="true" minOccurs="0" maxOccurs="1" name="FuncLocationStructure">
                                                                    <xs:simpleType>
                                                                        <xs:restriction base="xs:string" xmlns="">
                                                                            <xs:maxLength value="5"/>
                                                                        </xs:restriction>
                                                                    </xs:simpleType>
                                                                </xs:element>
                                                                <xs:element nillable="true" minOccurs="0" maxOccurs="1" name="FunctionalLocationCategory">
                                                                    <xs:simpleType>
                                                                        <xs:restriction base="xs:string" xmlns="">
                                                                            <xs:maxLength value="1"/>
                                                                        </xs:restriction>
                                                                    </xs:simpleType>
                                                                </xs:element>
                                                                <xs:element nillable="true" minOccurs="0" maxOccurs="1" name="TechnicalObjectType">
                                                                    <xs:simpleType>
                                                                        <xs:restriction base="xs:string" xmlns="">
                                                                            <xs:maxLength value="10"/>
                                                                        </xs:restriction>
                                                                    </xs:simpleType>
                                                                </xs:element>
                                                                <xs:element nillable="true" minOccurs="0" maxOccurs="1" name="AuthorizationGroup">
                                                                    <xs:simpleType>
                                                                        <xs:restriction base="xs:string" xmlns="">
                                                                            <xs:maxLength value="4"/>
                                                                        </xs:restriction>
                                                                    </xs:simpleType>
                                                                </xs:element>
                                                                <xs:element type="xs:decimal" nillable="true" minOccurs="0" maxOccurs="1" name="GrossWeight" xmlns=""/>
                                                                <xs:element nillable="true" minOccurs="0" maxOccurs="1" name="GrossWeightUnit">
                                                                    <xs:simpleType>
                                                                        <xs:restriction base="xs:string" xmlns="">
                                                                            <xs:maxLength value="3"/>
                                                                        </xs:restriction>
                                                                    </xs:simpleType>
                                                                </xs:element>
                                                                <xs:element type="xs:dateTime" nillable="true" minOccurs="0" maxOccurs="1" name="OperationStartDate" xmlns=""/>
                                                                <xs:element nillable="true" minOccurs="0" maxOccurs="1" name="InventoryNumber">
                                                                    <xs:simpleType>
                                                                        <xs:restriction base="xs:string" xmlns="">
                                                                            <xs:maxLength value="25"/>
                                                                        </xs:restriction>
                                                                    </xs:simpleType>
                                                                </xs:element>
                                                                <xs:element type="xs:decimal" nillable="true" minOccurs="0" maxOccurs="1" name="AcquisitionValue" xmlns=""/>
                                                                <xs:element nillable="true" minOccurs="0" maxOccurs="1" name="Currency">
                                                                    <xs:simpleType>
                                                                        <xs:restriction base="xs:string" xmlns="">
                                                                            <xs:maxLength value="5"/>
                                                                        </xs:restriction>
                                                                    </xs:simpleType>
                                                                </xs:element>
                                                                <xs:element type="xs:dateTime" nillable="true" minOccurs="0" maxOccurs="1" name="AcquisitionDate" xmlns=""/>
                                                                <xs:element nillable="true" minOccurs="0" maxOccurs="1" name="AssetManufacturerName">
                                                                    <xs:simpleType>
                                                                        <xs:restriction base="xs:string" xmlns="">
                                                                            <xs:maxLength value="30"/>
                                                                        </xs:restriction>
                                                                    </xs:simpleType>
                                                                </xs:element>
                                                                <xs:element nillable="true" minOccurs="0" maxOccurs="1" name="ManufacturerPartNmbr">
                                                                    <xs:simpleType>
                                                                        <xs:restriction base="xs:string" xmlns="">
                                                                            <xs:maxLength value="30"/>
                                                                        </xs:restriction>
                                                                    </xs:simpleType>
                                                                </xs:element>
                                                                <xs:element nillable="true" minOccurs="0" maxOccurs="1" name="ManufacturerCountry">
                                                                    <xs:simpleType>
                                                                        <xs:restriction base="xs:string" xmlns="">
                                                                            <xs:maxLength value="3"/>
                                                                        </xs:restriction>
                                                                    </xs:simpleType>
                                                                </xs:element>
                                                                <xs:element nillable="true" minOccurs="0" maxOccurs="1" name="ManufacturerPartTypeName">
                                                                    <xs:simpleType>
                                                                        <xs:restriction base="xs:string" xmlns="">
                                                                            <xs:maxLength value="20"/>
                                                                        </xs:restriction>
                                                                    </xs:simpleType>
                                                                </xs:element>
                                                                <xs:element nillable="true" minOccurs="0" maxOccurs="1" name="ConstructionMonth">
                                                                    <xs:simpleType>
                                                                        <xs:restriction base="xs:string" xmlns="">
                                                                            <xs:maxLength value="2"/>
                                                                        </xs:restriction>
                                                                    </xs:simpleType>
                                                                </xs:element>
                                                                <xs:element nillable="true" minOccurs="0" maxOccurs="1" name="ConstructionYear">
                                                                    <xs:simpleType>
                                                                        <xs:restriction base="xs:string" xmlns="">
                                                                            <xs:maxLength value="4"/>
                                                                        </xs:restriction>
                                                                    </xs:simpleType>
                                                                </xs:element>
                                                                <xs:element nillable="true" minOccurs="0" maxOccurs="1" name="ManufacturerSerialNumber">
                                                                    <xs:simpleType>
                                                                        <xs:restriction base="xs:string" xmlns="">
                                                                            <xs:maxLength value="30"/>
                                                                        </xs:restriction>
                                                                    </xs:simpleType>
                                                                </xs:element>
                                                                <xs:element nillable="true" minOccurs="0" maxOccurs="1" name="MaintenancePlant">
                                                                    <xs:simpleType>
                                                                        <xs:restriction base="xs:string" xmlns="">
                                                                            <xs:maxLength value="4"/>
                                                                        </xs:restriction>
                                                                    </xs:simpleType>
                                                                </xs:element>
                                                                <xs:element nillable="true" minOccurs="0" maxOccurs="1" name="AssetLocation">
                                                                    <xs:simpleType>
                                                                        <xs:restriction base="xs:string" xmlns="">
                                                                            <xs:maxLength value="10"/>
                                                                        </xs:restriction>
                                                                    </xs:simpleType>
                                                                </xs:element>
                                                                <xs:element nillable="true" minOccurs="0" maxOccurs="1" name="AssetRoom">
                                                                    <xs:simpleType>
                                                                        <xs:restriction base="xs:string" xmlns="">
                                                                            <xs:maxLength value="8"/>
                                                                        </xs:restriction>
                                                                    </xs:simpleType>
                                                                </xs:element>
                                                                <xs:element nillable="true" minOccurs="0" maxOccurs="1" name="PlantSection">
                                                                    <xs:simpleType>
                                                                        <xs:restriction base="xs:string" xmlns="">
                                                                            <xs:maxLength value="3"/>
                                                                        </xs:restriction>
                                                                    </xs:simpleType>
                                                                </xs:element>
                                                                <xs:element nillable="true" minOccurs="0" maxOccurs="1" name="WorkCenter">
                                                                    <xs:simpleType>
                                                                        <xs:restriction base="xs:string" xmlns="">
                                                                            <xs:maxLength value="8"/>
                                                                        </xs:restriction>
                                                                    </xs:simpleType>
                                                                </xs:element>
                                                                <xs:element nillable="true" minOccurs="0" maxOccurs="1" name="ABCIndicator">
                                                                    <xs:simpleType>
                                                                        <xs:restriction base="xs:string" xmlns="">
                                                                            <xs:maxLength value="1"/>
                                                                        </xs:restriction>
                                                                    </xs:simpleType>
                                                                </xs:element>
                                                                <xs:element nillable="true" minOccurs="0" maxOccurs="1" name="MaintObjectFreeDefinedAttrib">
                                                                    <xs:simpleType>
                                                                        <xs:restriction base="xs:string" xmlns="">
                                                                            <xs:maxLength value="30"/>
                                                                        </xs:restriction>
                                                                    </xs:simpleType>
                                                                </xs:element>
                                                                <xs:element nillable="true" minOccurs="0" maxOccurs="1" name="FormOfAddress">
                                                                    <xs:simpleType>
                                                                        <xs:restriction base="xs:string" xmlns="">
                                                                            <xs:maxLength value="4"/>
                                                                        </xs:restriction>
                                                                    </xs:simpleType>
                                                                </xs:element>
                                                                <xs:element nillable="true" minOccurs="0" maxOccurs="1" name="BusinessPartnerName1">
                                                                    <xs:simpleType>
                                                                        <xs:restriction base="xs:string" xmlns="">
                                                                            <xs:maxLength value="40"/>
                                                                        </xs:restriction>
                                                                    </xs:simpleType>
                                                                </xs:element>
                                                                <xs:element nillable="true" minOccurs="0" maxOccurs="1" name="BusinessPartnerName2">
                                                                    <xs:simpleType>
                                                                        <xs:restriction base="xs:string" xmlns="">
                                                                            <xs:maxLength value="40"/>
                                                                        </xs:restriction>
                                                                    </xs:simpleType>
                                                                </xs:element>
                                                                <xs:element nillable="true" minOccurs="0" maxOccurs="1" name="CityName">
                                                                    <xs:simpleType>
                                                                        <xs:restriction base="xs:string" xmlns="">
                                                                            <xs:maxLength value="40"/>
                                                                        </xs:restriction>
                                                                    </xs:simpleType>
                                                                </xs:element>
                                                                <xs:element nillable="true" minOccurs="0" maxOccurs="1" name="HouseNumber">
                                                                    <xs:simpleType>
                                                                        <xs:restriction base="xs:string" xmlns="">
                                                                            <xs:maxLength value="10"/>
                                                                        </xs:restriction>
                                                                    </xs:simpleType>
                                                                </xs:element>
                                                                <xs:element nillable="true" minOccurs="0" maxOccurs="1" name="HouseNumberSupplementText">
                                                                    <xs:simpleType>
                                                                        <xs:restriction base="xs:string" xmlns="">
                                                                            <xs:maxLength value="10"/>
                                                                        </xs:restriction>
                                                                    </xs:simpleType>
                                                                </xs:element>
                                                                <xs:element nillable="true" minOccurs="0" maxOccurs="1" name="Building">
                                                                    <xs:simpleType>
                                                                        <xs:restriction base="xs:string" xmlns="">
                                                                            <xs:maxLength value="20"/>
                                                                        </xs:restriction>
                                                                    </xs:simpleType>
                                                                </xs:element>
                                                                <xs:element nillable="true" minOccurs="0" maxOccurs="1" name="Floor">
                                                                    <xs:simpleType>
                                                                        <xs:restriction base="xs:string" xmlns="">
                                                                            <xs:maxLength value="10"/>
                                                                        </xs:restriction>
                                                                    </xs:simpleType>
                                                                </xs:element>
                                                                <xs:element nillable="true" minOccurs="0" maxOccurs="1" name="RoomNumber">
                                                                    <xs:simpleType>
                                                                        <xs:restriction base="xs:string" xmlns="">
                                                                            <xs:maxLength value="10"/>
                                                                        </xs:restriction>
                                                                    </xs:simpleType>
                                                                </xs:element>
                                                                <xs:element nillable="true" minOccurs="0" maxOccurs="1" name="PostalCode">
                                                                    <xs:simpleType>
                                                                        <xs:restriction base="xs:string" xmlns="">
                                                                            <xs:maxLength value="10"/>
                                                                        </xs:restriction>
                                                                    </xs:simpleType>
                                                                </xs:element>
                                                                <xs:element nillable="true" minOccurs="0" maxOccurs="1" name="StreetName">
                                                                    <xs:simpleType>
                                                                        <xs:restriction base="xs:string" xmlns="">
                                                                            <xs:maxLength value="60"/>
                                                                        </xs:restriction>
                                                                    </xs:simpleType>
                                                                </xs:element>
                                                                <xs:element nillable="true" minOccurs="0" maxOccurs="1" name="Region">
                                                                    <xs:simpleType>
                                                                        <xs:restriction base="xs:string" xmlns="">
                                                                            <xs:maxLength value="3"/>
                                                                        </xs:restriction>
                                                                    </xs:simpleType>
                                                                </xs:element>
                                                                <xs:element nillable="true" minOccurs="0" maxOccurs="1" name="Country">
                                                                    <xs:simpleType>
                                                                        <xs:restriction base="xs:string" xmlns="">
                                                                            <xs:maxLength value="3"/>
                                                                        </xs:restriction>
                                                                    </xs:simpleType>
                                                                </xs:element>
                                                                <xs:element nillable="true" minOccurs="0" maxOccurs="1" name="PhoneNumber">
                                                                    <xs:simpleType>
                                                                        <xs:restriction base="xs:string" xmlns="">
                                                                            <xs:maxLength value="30"/>
                                                                        </xs:restriction>
                                                                    </xs:simpleType>
                                                                </xs:element>
                                                                <xs:element nillable="true" minOccurs="0" maxOccurs="1" name="FaxNumber">
                                                                    <xs:simpleType>
                                                                        <xs:restriction base="xs:string" xmlns="">
                                                                            <xs:maxLength value="30"/>
                                                                        </xs:restriction>
                                                                    </xs:simpleType>
                                                                </xs:element>
                                                                <xs:element nillable="true" minOccurs="0" maxOccurs="1" name="CompanyCode">
                                                                    <xs:simpleType>
                                                                        <xs:restriction base="xs:string" xmlns="">
                                                                            <xs:maxLength value="4"/>
                                                                        </xs:restriction>
                                                                    </xs:simpleType>
                                                                </xs:element>
                                                                <xs:element nillable="true" minOccurs="0" maxOccurs="1" name="BusinessArea">
                                                                    <xs:simpleType>
                                                                        <xs:restriction base="xs:string" xmlns="">
                                                                            <xs:maxLength value="4"/>
                                                                        </xs:restriction>
                                                                    </xs:simpleType>
                                                                </xs:element>
                                                                <xs:element nillable="true" minOccurs="0" maxOccurs="1" name="MasterFixedAsset">
                                                                    <xs:simpleType>
                                                                        <xs:restriction base="xs:string" xmlns="">
                                                                            <xs:maxLength value="12"/>
                                                                        </xs:restriction>
                                                                    </xs:simpleType>
                                                                </xs:element>
                                                                <xs:element nillable="true" minOccurs="0" maxOccurs="1" name="FixedAsset">
                                                                    <xs:simpleType>
                                                                        <xs:restriction base="xs:string" xmlns="">
                                                                            <xs:maxLength value="4"/>
                                                                        </xs:restriction>
                                                                    </xs:simpleType>
                                                                </xs:element>
                                                                <xs:element nillable="true" minOccurs="0" maxOccurs="1" name="CostCenter">
                                                                    <xs:simpleType>
                                                                        <xs:restriction base="xs:string" xmlns="">
                                                                            <xs:maxLength value="10"/>
                                                                        </xs:restriction>
                                                                    </xs:simpleType>
                                                                </xs:element>
                                                                <xs:element nillable="true" minOccurs="0" maxOccurs="1" name="ControllingArea">
                                                                    <xs:simpleType>
                                                                        <xs:restriction base="xs:string" xmlns="">
                                                                            <xs:maxLength value="4"/>
                                                                        </xs:restriction>
                                                                    </xs:simpleType>
                                                                </xs:element>
                                                                <xs:element nillable="true" minOccurs="0" maxOccurs="1" name="WBSElementExternalID">
                                                                    <xs:simpleType>
                                                                        <xs:restriction base="xs:string" xmlns="">
                                                                            <xs:maxLength value="24"/>
                                                                        </xs:restriction>
                                                                    </xs:simpleType>
                                                                </xs:element>
                                                                <xs:element nillable="true" minOccurs="0" maxOccurs="1" name="SettlementOrder">
                                                                    <xs:simpleType>
                                                                        <xs:restriction base="xs:string" xmlns="">
                                                                            <xs:maxLength value="12"/>
                                                                        </xs:restriction>
                                                                    </xs:simpleType>
                                                                </xs:element>
                                                                <xs:element nillable="true" minOccurs="0" maxOccurs="1" name="ConstructionMaterial">
                                                                    <xs:simpleType>
                                                                        <xs:restriction base="xs:string" xmlns="">
                                                                            <xs:maxLength value="40"/>
                                                                        </xs:restriction>
                                                                    </xs:simpleType>
                                                                </xs:element>
                                                                <xs:element nillable="true" minOccurs="0" maxOccurs="1" name="MaintenancePlannerGroup">
                                                                    <xs:simpleType>
                                                                        <xs:restriction base="xs:string" xmlns="">
                                                                            <xs:maxLength value="3"/>
                                                                        </xs:restriction>
                                                                    </xs:simpleType>
                                                                </xs:element>
                                                                <xs:element nillable="true" minOccurs="0" maxOccurs="1" name="MaintenancePlanningPlant">
                                                                    <xs:simpleType>
                                                                        <xs:restriction base="xs:string" xmlns="">
                                                                            <xs:maxLength value="4"/>
                                                                        </xs:restriction>
                                                                    </xs:simpleType>
                                                                </xs:element>
                                                                <xs:element nillable="true" minOccurs="0" maxOccurs="1" name="MainWorkCenterPlant">
                                                                    <xs:simpleType>
                                                                        <xs:restriction base="xs:string" xmlns="">
                                                                            <xs:maxLength value="4"/>
                                                                        </xs:restriction>
                                                                    </xs:simpleType>
                                                                </xs:element>
                                                                <xs:element nillable="true" minOccurs="0" maxOccurs="1" name="MainWorkCenter">
                                                                    <xs:simpleType>
                                                                        <xs:restriction base="xs:string" xmlns="">
                                                                            <xs:maxLength value="8"/>
                                                                        </xs:restriction>
                                                                    </xs:simpleType>
                                                                </xs:element>
                                                                <xs:element nillable="true" minOccurs="0" maxOccurs="1" name="CatalogProfile">
                                                                    <xs:simpleType>
                                                                        <xs:restriction base="xs:string" xmlns="">
                                                                            <xs:maxLength value="9"/>
                                                                        </xs:restriction>
                                                                    </xs:simpleType>
                                                                </xs:element>
                                                                <xs:element type="xs:boolean" nillable="true" minOccurs="0" maxOccurs="1" name="EquipmentInstallationIsAllowed" xmlns=""/>
                                                                <xs:element type="xs:boolean" nillable="true" minOccurs="0" maxOccurs="1" name="OnePieceOfEquipmentIsAllowed" xmlns=""/>
                                                                <xs:element nillable="true" minOccurs="0" maxOccurs="1" name="SalesOrganization">
                                                                    <xs:simpleType>
                                                                        <xs:restriction base="xs:string" xmlns="">
                                                                            <xs:maxLength value="4"/>
                                                                        </xs:restriction>
                                                                    </xs:simpleType>
                                                                </xs:element>
                                                                <xs:element nillable="true" minOccurs="0" maxOccurs="1" name="DistributionChannel">
                                                                    <xs:simpleType>
                                                                        <xs:restriction base="xs:string" xmlns="">
                                                                            <xs:maxLength value="2"/>
                                                                        </xs:restriction>
                                                                    </xs:simpleType>
                                                                </xs:element>
                                                                <xs:element nillable="true" minOccurs="0" maxOccurs="1" name="SalesOffice">
                                                                    <xs:simpleType>
                                                                        <xs:restriction base="xs:string" xmlns="">
                                                                            <xs:maxLength value="4"/>
                                                                        </xs:restriction>
                                                                    </xs:simpleType>
                                                                </xs:element>
                                                                <xs:element nillable="true" minOccurs="0" maxOccurs="1" name="OrganizationDivision">
                                                                    <xs:simpleType>
                                                                        <xs:restriction base="xs:string" xmlns="">
                                                                            <xs:maxLength value="2"/>
                                                                        </xs:restriction>
                                                                    </xs:simpleType>
                                                                </xs:element>
                                                                <xs:element nillable="true" minOccurs="0" maxOccurs="1" name="SalesGroup">
                                                                    <xs:simpleType>
                                                                        <xs:restriction base="xs:string" xmlns="">
                                                                            <xs:maxLength value="3"/>
                                                                        </xs:restriction>
                                                                    </xs:simpleType>
                                                                </xs:element>
                                                            </xs:sequence>
                                                        </xs:complexType>
                                                    </xs:element>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>
