Resources/schemas/Xsd/SAP_Hybris_Cloud_for_Customer_Integration_with_SAP_Hybris_as_a_Service - c4cEmployee.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:element name="Employee" type="Employee"/>

  <xs:element name="EmployeeCommunicationData" type="EmployeeCommunicationData"/>

  <xs:complexType name="Employee">
    <xs:sequence>
      <xs:element name="AcademicTitleCode" type="xs:string" minOccurs="0"/>
      <xs:element name="AcademicTitleCodeText" type="xs:string" minOccurs="0"/>
      <xs:element name="DateFormatCode" type="xs:string" minOccurs="0"/>
      <xs:element name="DateFormatCodeText" type="xs:string" minOccurs="0"/>
      <xs:element name="DecimalFormatCode" type="xs:string" minOccurs="0"/>
      <xs:element name="DecimalFormatCodeText" type="xs:string" minOccurs="0"/>
      <xs:element name="ETag" type="xs:string" minOccurs="0"/>
      <xs:element name="Email" type="xs:string" minOccurs="0"/>
      <xs:element name="EmployeeCommunicationData" type="EmployeeCommunicationData" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="EmployeeID" type="xs:string" minOccurs="0"/>
      <xs:element name="EndDate" type="xs:string" minOccurs="0"/>
      <xs:element name="ExtensionFields" type="xs:string" minOccurs="0"/>
      <xs:element name="FirstName" type="xs:string" minOccurs="0"/>
      <xs:element name="InternalEmployeeIndicator" type="xs:boolean" minOccurs="0"/>
      <xs:element name="InternalID" type="xs:string" minOccurs="0"/>
      <xs:element name="LastName" type="xs:string" minOccurs="0"/>
      <xs:element name="LogonLanguageCode" type="xs:string" minOccurs="0"/>
      <xs:element name="LogonLanguageCodeText" type="xs:string" minOccurs="0"/>
      <xs:element name="MiddleName" type="xs:string" minOccurs="0"/>
      <xs:element name="Name" type="xs:string" minOccurs="0"/>
      <xs:element name="NickName" type="xs:string" minOccurs="0"/>
      <xs:element name="ObjectID" type="xs:string" minOccurs="0"/>
      <xs:element name="SortingName" type="xs:string" minOccurs="0"/>
      <xs:element name="StartDate" type="xs:string" minOccurs="0"/>
      <xs:element name="TimeFormatCode" type="xs:string" minOccurs="0"/>
      <xs:element name="TimeFormatCodeText" type="xs:string" minOccurs="0"/>
      <xs:element name="TimeZoneCode" type="xs:string" minOccurs="0"/>
      <xs:element name="TimeZoneCodeText" type="xs:string" minOccurs="0"/>
      <xs:element name="TitleCode" type="xs:string" minOccurs="0"/>
      <xs:element name="TitleCodeText" type="xs:string" minOccurs="0"/>
      <xs:element name="UUID" type="xs:string" minOccurs="0"/>
      <xs:element name="UserID" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="EmployeeCommunicationData">
    <xs:sequence>
      <xs:element name="Building" type="xs:string" minOccurs="0"/>
      <xs:element name="EMail" type="xs:string" minOccurs="0"/>
      <xs:element name="ETag" type="xs:string" minOccurs="0"/>
      <xs:element name="ExtensionFields" type="xs:string" minOccurs="0"/>
      <xs:element name="Fax" type="xs:string" minOccurs="0"/>
      <xs:element name="Floor" type="xs:string" minOccurs="0"/>
      <xs:element name="Mobile" type="xs:string" minOccurs="0"/>
      <xs:element name="ObjectID" type="xs:string" minOccurs="0"/>
      <xs:element name="ParentObjectID" type="xs:string" minOccurs="0"/>
      <xs:element name="Phone" type="xs:string" minOccurs="0"/>
      <xs:element name="Room" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>

