Resources/schemas/Xsd/SAP_ERP_Integration_with_SAP_Build_Process_Automation_for_Vendor_Master - CentralVendor.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="CentralVendor">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="context">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="aAddBankDetails" maxOccurs="unbounded" minOccurs="0">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:string" name="sBankAcctNo" maxOccurs="1" minOccurs="0"/>
                    <xs:element type="xs:string" name="sBankHolder" maxOccurs="1" minOccurs="0"/>
					<xs:element type="xs:string" name="sBankKeyTable" maxOccurs="1" minOccurs="0"/>
                    <xs:element type="xs:string" name="sBankKey" maxOccurs="1" minOccurs="0"/>
                    <xs:element type="xs:string" name="sCountryKey" maxOccurs="1" minOccurs="0"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="aAddContactPersons" maxOccurs="unbounded" minOccurs="0">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:string" name="sContactName" maxOccurs="1" minOccurs="0"/>
                    <xs:element type="xs:string" name="sContactPhone" maxOccurs="1" minOccurs="0"/>
                    <xs:element type="xs:string" name="sDepartment" maxOccurs="1" minOccurs="0"/>
                    <xs:element type="xs:string" name="sDescription" maxOccurs="1" minOccurs="0"/>
                    <xs:element type="xs:string" name="sFirstName" maxOccurs="1" minOccurs="0"/>
                    <xs:element type="xs:string" name="sFormOfAddress" maxOccurs="1" minOccurs="0"/>
                    <xs:element type="xs:string" name="sFunction" maxOccurs="1" minOccurs="0"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element type="xs:byte" name="sAccountGroup"/>
              <xs:element type="xs:string" name="sAccountMemo" maxOccurs="1" minOccurs="0"/>
              <xs:element type="xs:string" name="sAccountingAuthorization" maxOccurs="1" minOccurs="0"/>
              <xs:element type="xs:string" name="sAcctWVendor" maxOccurs="1" minOccurs="0"/>
              <xs:element type="xs:string" name="sAcctgClerk" maxOccurs="1" minOccurs="0"/>
              <xs:element type="xs:string" name="sActClkTelNo" maxOccurs="1" minOccurs="0"/>
              <xs:element type="xs:string" name="sActivityCode" maxOccurs="1" minOccurs="0"/>
              <xs:element type="xs:string" name="sActualQMSys" maxOccurs="1" minOccurs="0"/>
              <xs:element type="xs:string" name="sAlternatPayee" maxOccurs="1" minOccurs="0"/>
              <xs:element type="xs:string" name="sAlternativePayee" maxOccurs="1" minOccurs="0"/>
              <xs:element type="xs:string" name="sAuthorization" maxOccurs="1" minOccurs="0"/>
              <xs:element type="xs:string" name="sBExchlimit" maxOccurs="1" minOccurs="0"/>
              <xs:element type="xs:string" name="sCarFreightGroup" maxOccurs="1" minOccurs="0"/>
              <xs:element type="xs:string" name="sCashManagementGroup" maxOccurs="1" minOccurs="0"/>
              <xs:element type="xs:string" name="sCertificationDate" maxOccurs="1" minOccurs="0"/>
              <xs:element type="xs:string" name="sCheckDigit" maxOccurs="1" minOccurs="0"/>
              <xs:element type="xs:string" name="sChkCashingTime" maxOccurs="1" minOccurs="0"/>
              <xs:element type="xs:string" name="sCity"/>
              <xs:element type="xs:string" name="sClerkAtVendor" maxOccurs="1" minOccurs="0"/>
              <xs:element type="xs:string" name="sClerkFax" maxOccurs="1" minOccurs="0"/>
              <xs:element type="xs:string" name="sClrkInternet" maxOccurs="1" minOccurs="0"/>
              <xs:element type="xs:short" name="sCompanyCode" maxOccurs="1" minOccurs="0"/>
              <xs:element type="xs:string" name="sCorporateGroup" maxOccurs="1" minOccurs="0"/>
              <xs:element type="xs:string" name="sCountry"/>
              <xs:element type="xs:string" name="sCredInfoNo" maxOccurs="1" minOccurs="0"/>
              <xs:element type="xs:string" name="sCustomer" maxOccurs="1" minOccurs="0"/>
              <xs:element type="xs:string" name="sDMEIndicator" maxOccurs="1" minOccurs="0"/>
              <xs:element type="xs:string" name="sDateOfBirth" maxOccurs="1" minOccurs="0"/>
              <xs:element type="xs:string" name="sDistrict" maxOccurs="1" minOccurs="0"/>
              <xs:element type="xs:string" name="sDunnProcedure" maxOccurs="1" minOccurs="0"/>
              <xs:element type="xs:string" name="sDunnRecipient" maxOccurs="1" minOccurs="0"/>
              <xs:element type="xs:string" name="sDunningBlock" maxOccurs="1" minOccurs="0"/>
              <xs:element type="xs:string" name="sDunningClerk" maxOccurs="1" minOccurs="0"/>
              <xs:element type="xs:string" name="sDunningDataGroupingKey" maxOccurs="1" minOccurs="0"/>
              <xs:element type="xs:string" name="sDunningLevel" maxOccurs="1" minOccurs="0"/>
              <xs:element type="xs:string" name="sExemptionNumber" maxOccurs="1" minOccurs="0"/>
              <xs:element type="xs:string" name="sExmptAuthority" maxOccurs="1" minOccurs="0"/>
              <xs:element type="xs:string" name="sFax" maxOccurs="1" minOccurs="0"/>
              <xs:element type="xs:string" name="sFiscalAddress" maxOccurs="1" minOccurs="0"/>
              <xs:element type="xs:string" name="sGender" maxOccurs="1" minOccurs="0"/>
              <xs:element type="xs:string" name="sGroupingKey" maxOccurs="1" minOccurs="0"/>
              <xs:element type="xs:string" name="sHeadOffice" maxOccurs="1" minOccurs="0"/>
              <xs:element type="xs:string" name="sHouseBank" maxOccurs="1" minOccurs="0"/>
              <xs:element type="xs:string" name="sISRNumber" maxOccurs="1" minOccurs="0"/>
              <xs:element type="xs:string" name="sIndustry" maxOccurs="1" minOccurs="0"/>
              <xs:element type="xs:string" name="sInstructionKey" maxOccurs="1" minOccurs="0"/>
              <xs:element type="xs:string" name="sInterestCycle" maxOccurs="1" minOccurs="0"/>
              <xs:element type="xs:byte" name="sInterestIndic" maxOccurs="1" minOccurs="0"/>
              <xs:element type="xs:string" name="sLanguage"/>
              <xs:element type="xs:string" name="sLastDunned" maxOccurs="1" minOccurs="0"/>
              <xs:element type="xs:string" name="sLastExtReview" maxOccurs="1" minOccurs="0"/>
              <xs:element type="xs:string" name="sLastInterestRun" maxOccurs="1" minOccurs="0"/>
              <xs:element type="xs:string" name="sLastKeyDate" maxOccurs="1" minOccurs="0"/>
              <xs:element type="xs:string" name="sLegalDunnProc" maxOccurs="1" minOccurs="0"/>
              <xs:element type="xs:string" name="sLocationNumber" maxOccurs="1" minOccurs="0"/>
              <xs:element type="xs:string" name="sLocationNumber2" maxOccurs="1" minOccurs="0"/>
              <xs:element type="xs:string" name="sMinorityIndic" maxOccurs="1" minOccurs="0"/>
              <xs:element type="xs:string" name="sOtherCity" maxOccurs="1" minOccurs="0"/>
              <xs:element type="xs:string" name="sOtherCountry" maxOccurs="1" minOccurs="0"/>
              <xs:element type="xs:string" name="sPOBox" maxOccurs="1" minOccurs="0"/>
              <xs:element type="xs:string" name="sPODRelevant" maxOccurs="1" minOccurs="0"/>
              <xs:element type="xs:string" name="sPaymentBlock" maxOccurs="1" minOccurs="0"/>
              <xs:element type="xs:string" name="sPaymentDataToleranceGroup" maxOccurs="1" minOccurs="0"/>
              <xs:element type="xs:string" name="sPaymentMethods" maxOccurs="1" minOccurs="0"/>
              <xs:element type="xs:string" name="sPaytTerms" maxOccurs="1" minOccurs="0"/>
              <xs:element type="xs:string" name="sPersonnelNumber" maxOccurs="1" minOccurs="0"/>
              <xs:element type="xs:string" name="sPlaceOfBirth" maxOccurs="1" minOccurs="0"/>
              <xs:element type="xs:string" name="sPostalCode" maxOccurs="1" minOccurs="0"/>
              <xs:element type="xs:string" name="sPrepayment" maxOccurs="1" minOccurs="0"/>
              <xs:element type="xs:string" name="sPreviousAccountNumber" maxOccurs="1" minOccurs="0"/>
              <xs:element type="xs:string" name="sProfession" maxOccurs="1" minOccurs="0"/>
              <xs:element type="xs:string" name="sQMSystemTo" maxOccurs="1" minOccurs="0"/>
              <xs:element type="xs:string" name="sRecipientType" maxOccurs="1" minOccurs="0"/>
              <xs:element type="xs:string" name="sReconAccount" maxOccurs="1" minOccurs="0"/>
              <xs:element type="xs:string" name="sRegion" maxOccurs="1" minOccurs="0"/>
              <xs:element type="xs:string" name="sReleaseGroup" maxOccurs="1" minOccurs="0"/>
              <xs:element type="xs:string" name="sRepName" maxOccurs="1" minOccurs="0"/>
              <xs:element type="xs:string" name="sSCAC" maxOccurs="1" minOccurs="0"/>
              <xs:element type="xs:string" name="sSearchTerms" maxOccurs="1" minOccurs="0"/>
              <xs:element type="xs:string" name="sServAgntProcGrp" maxOccurs="1" minOccurs="0"/>
              <xs:element type="xs:string" name="sShortKey" maxOccurs="1" minOccurs="0"/>
              <xs:element type="xs:string" name="sSocInsCode" maxOccurs="1" minOccurs="0"/>
              <xs:element type="xs:string" name="sStatGrService" maxOccurs="1" minOccurs="0"/>
              <xs:element type="xs:string" name="sStreet1" maxOccurs="1" minOccurs="0"/>
			  <xs:element type="xs:string" name="sHouseNumber" maxOccurs="1" minOccurs="0"/>
              <xs:element type="xs:string" name="sSubsidiary" maxOccurs="1" minOccurs="0"/>
              <xs:element type="xs:string" name="sSuppl" maxOccurs="1" minOccurs="0"/>
              <xs:element type="xs:string" name="sTaxBase" maxOccurs="1" minOccurs="0"/>
              <xs:element type="xs:string" name="sTaxJur" maxOccurs="1" minOccurs="0"/>
              <xs:element type="xs:string" name="sTaxNumber" maxOccurs="1" minOccurs="0"/>
              <xs:element type="xs:string" name="sTaxNumber1" maxOccurs="1" minOccurs="0"/>
              <xs:element type="xs:string" name="sTaxNumber2" maxOccurs="1" minOccurs="0"/>
              <xs:element type="xs:string" name="sTaxNumberType" maxOccurs="1" minOccurs="0"/>
              <xs:element type="xs:string" name="sTaxOffice" maxOccurs="1" minOccurs="0"/>
              <xs:element type="xs:string" name="sTaxType" maxOccurs="1" minOccurs="0"/>
              <xs:element type="xs:string" name="sTitle" maxOccurs="1" minOccurs="0"/>
              <xs:element type="xs:string" name="sToleranceGroup" maxOccurs="1" minOccurs="0"/>
              <xs:element type="xs:string" name="sTradingPartner" maxOccurs="1" minOccurs="0"/>
              <xs:element type="xs:string" name="sTrainStation" maxOccurs="1" minOccurs="0"/>
              <xs:element type="xs:string" name="sTransportZone" maxOccurs="1" minOccurs="0"/>
              <xs:element type="xs:string" name="sTypeOfBusiness" maxOccurs="1" minOccurs="0"/>
              <xs:element type="xs:string" name="sTypeOfIndustry" maxOccurs="1" minOccurs="0"/>
              <xs:element type="xs:string" name="sVATRegNo" maxOccurs="1" minOccurs="0"/>
              <xs:element type="xs:string" name="sValidUntil" maxOccurs="1" minOccurs="0"/>
              <xs:element type="xs:string" name="sVendorContact" maxOccurs="1" minOccurs="0"/>
              <xs:element type="xs:string" name="sVendorEmail" maxOccurs="1" minOccurs="0"/>
              <xs:element type="xs:string" name="sVendorName"/>
              <xs:element type="xs:string" name="sVendorName2" maxOccurs="1" minOccurs="0"/>
              <xs:element type="xs:string" name="sVendorName3" maxOccurs="1" minOccurs="0"/>
              <xs:element type="xs:string" name="sVendorName4" maxOccurs="1" minOccurs="0"/>
              <xs:element type="xs:string" name="sVendorType" maxOccurs="1" minOccurs="0"/>
              <xs:element type="xs:string" name="sWHTaxCountry" maxOccurs="1" minOccurs="0"/>
              <xs:element type="xs:string" name="sWTaxCode" maxOccurs="1" minOccurs="0"/>
              <xs:element type="xs:string" name="sZipCode" maxOccurs="1" minOccurs="0"/>
			  <xs:element type="xs:short" name="sPurchaseOrganization"/>
              <xs:element type="xs:string" name="sOrderCurrency"/>
              <xs:element type="xs:string" name="sTermsOfPayment" maxOccurs="1" minOccurs="0"/>
              <xs:element type="xs:string" name="sIncoterms" maxOccurs="1" minOccurs="0"/>
              <xs:element type="xs:short" name="sMinimumOrderValue" maxOccurs="1" minOccurs="0"/>
              <xs:element type="xs:string" name="sSchemaGroupVendor" maxOccurs="1" minOccurs="0"/>
              <xs:element type="xs:byte" name="sPricingDateControl" maxOccurs="1" minOccurs="0"/>
              <xs:element type="xs:short" name="sOrderOptimRest" maxOccurs="1" minOccurs="0"/>
              <xs:element type="xs:string" name="sABCIndicator" maxOccurs="1" minOccurs="0"/>
              <xs:element type="xs:byte" name="sModeOfTrnsprtBorder" maxOccurs="1" minOccurs="0"/>
              <xs:element type="xs:string" name="sOfficeOfEntry" maxOccurs="1" minOccurs="0"/>
              <xs:element type="xs:byte" name="sSortCriterion" maxOccurs="1" minOccurs="0"/>
              <xs:element type="xs:string" name="sPROACTControlProf" maxOccurs="1" minOccurs="0"/>
              <xs:element type="xs:string" name="sShippingConditions" maxOccurs="1" minOccurs="0"/>
              <xs:element type="xs:string" name="sPurchasingGroup" maxOccurs="1" minOccurs="0"/>
              <xs:element type="xs:byte" name="sPlannedDelivTime" maxOccurs="1" minOccurs="0"/>
              <xs:element type="xs:string" name="sConfirmationControl" maxOccurs="1" minOccurs="0"/>
              <xs:element type="xs:string" name="sUnitOfMeasureGrp" maxOccurs="1" minOccurs="0"/>
              <xs:element type="xs:string" name="sRoundingProfile" maxOccurs="1" minOccurs="0"/>
              <xs:element type="xs:string" name="sPriceMarkingAgreed" maxOccurs="1" minOccurs="0"/>
              <xs:element type="xs:byte" name="sServLevel" maxOccurs="1" minOccurs="0"/>
              <xs:element type="xs:string" name="sAccWithVendor" maxOccurs="1" minOccurs="0"/>
              <xs:element name="aAddPartner" maxOccurs="unbounded" minOccurs="0">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:short" name="sPartner" maxOccurs="1" minOccurs="0"/>
                    <xs:element type="xs:string" name="sName" maxOccurs="1" minOccurs="0"/>
                    <xs:element type="xs:int" name="sNumber" maxOccurs="1" minOccurs="0"/>
                    <xs:element type="xs:string" name="sName1" maxOccurs="1" minOccurs="0"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>