Resources/schemas/Xsd/SAP_S-4HANA_for_central_procurement_–_Central_Purchasing_Integration_with_Third_Party_System - PR_ItemMap.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- Created with Liquid Technologies Online Tools 1.0 (https://www.liquid-technologies.com) -->
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="PurchaseRequisitionItemSet">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="PurchaseRequisitionItem">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="PurchaseRequisitionItem" type="xs:unsignedByte" />
              <xs:element name="PurchaseRequisition" type="xs:unsignedInt" />
              <xs:element name="LastChangeDateTime" type="xs:dateTime" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>