Resources/schemas/Xsd/SAP_Commerce_Cloud_Integration_with_SAP_Master_Data_Integration_for_Products - ProductsEntityPOST_dec15'22.xsd

<?xml version="1.0" encoding="UTF-8"?><xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="qualified">
    <xs:element name="batchParts">
        <xs:complexType>
            <xs:sequence>
                <xs:element maxOccurs="unbounded" minOccurs="1" name="batchChangeSet" nillable="false">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element maxOccurs="unbounded" minOccurs="1" name="batchChangeSetPart" nillable="false">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element maxOccurs="1" minOccurs="1" name="method" nillable="false" type="xs:string"/>
                                        <xs:element maxOccurs="1" minOccurs="0" name="uri" nillable="true" type="xs:string"/>
                                        <xs:element maxOccurs="1" minOccurs="0" name="headers" nillable="true">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element maxOccurs="unbounded" minOccurs="0" name="header" nillable="true">
                                                        <xs:complexType>
                                                            <xs:sequence>
                                                                <xs:element maxOccurs="1" minOccurs="1" name="headerName" nillable="false" type="xs:string"/>
                                                                <xs:element maxOccurs="1" minOccurs="1" name="headerValue" nillable="false" type="xs:string"/>
                                                            </xs:sequence>
                                                        </xs:complexType>
                                                    </xs:element>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element maxOccurs="1" minOccurs="1" name="Products" nillable="false">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element maxOccurs="unbounded" minOccurs="1" name="Product">
                                                        <xs:complexType>
                                                            <xs:sequence>
                                                                <xs:element maxOccurs="unbounded" minOccurs="0" name="subscriptionType" nillable="true">
                                                                    <xs:complexType>
                                                                        <xs:sequence>
                                                                            <xs:element maxOccurs="1" minOccurs="0" name="SubscriptionTypeEnum">
                                                                                <xs:complexType>
                                                                                    <xs:sequence>
                                                                                        <xs:element maxOccurs="1" name="integrationKey" nillable="false" type="xs:string"/>
                                                                                        <xs:element maxOccurs="1" name="code" nillable="false" type="xs:string"/>
                                                                                    </xs:sequence>
                                                                                </xs:complexType>
                                                                            </xs:element>
                                                                        </xs:sequence>
                                                                    </xs:complexType>
                                                                </xs:element>
                                                                <xs:element maxOccurs="unbounded" minOccurs="0" name="Europe1PriceFactory_PDG" nillable="true">
                                                                    <xs:complexType>
                                                                        <xs:sequence>
                                                                            <xs:element maxOccurs="1" minOccurs="0" name="ProductDiscountGroup">
                                                                                <xs:complexType>
                                                                                    <xs:sequence>
                                                                                        <xs:element maxOccurs="1" name="integrationKey" nillable="false" type="xs:string"/>
                                                                                        <xs:element maxOccurs="1" name="code" nillable="false" type="xs:string"/>
                                                                                    </xs:sequence>
                                                                                </xs:complexType>
                                                                            </xs:element>
                                                                        </xs:sequence>
                                                                    </xs:complexType>
                                                                </xs:element>
                                                                <xs:element maxOccurs="unbounded" minOccurs="0" name="Europe1PriceFactory_PPG" nillable="true">
                                                                    <xs:complexType>
                                                                        <xs:sequence>
                                                                            <xs:element maxOccurs="1" minOccurs="0" name="ProductPriceGroup">
                                                                                <xs:complexType>
                                                                                    <xs:sequence>
                                                                                        <xs:element maxOccurs="1" name="integrationKey" nillable="false" type="xs:string"/>
                                                                                        <xs:element maxOccurs="1" name="code" nillable="false" type="xs:string"/>
                                                                                    </xs:sequence>
                                                                                </xs:complexType>
                                                                            </xs:element>
                                                                        </xs:sequence>
                                                                    </xs:complexType>
                                                                </xs:element>
                                                                <xs:element maxOccurs="unbounded" minOccurs="0" name="catalogVersion" nillable="true">
                                                                    <xs:complexType>
                                                                        <xs:sequence>
                                                                            <xs:element maxOccurs="1" minOccurs="0" name="CatalogVersion">
                                                                                <xs:complexType>
                                                                                    <xs:sequence>
                                                                                        <xs:element maxOccurs="1" name="integrationKey" nillable="false" type="xs:string"/>
                                                                                        <xs:element maxOccurs="1" minOccurs="0" name="active" nillable="true" type="xs:boolean"/>
                                                                                        <xs:element maxOccurs="1" name="version" nillable="false" type="xs:string"/>
                                                                                        <xs:element maxOccurs="unbounded" minOccurs="0" name="catalog" nillable="true">
                                                                                            <xs:complexType>
                                                                                                <xs:sequence>
                                                                                                    <xs:element maxOccurs="1" minOccurs="0" name="Catalog">
                                                                                                        <xs:complexType>
                                                                                                            <xs:sequence>
                                                                                                                <xs:element maxOccurs="1" name="integrationKey" nillable="false" type="xs:string"/>
                                                                                                                <xs:element maxOccurs="1" name="id" nillable="false" type="xs:string"/>
                                                                                                            </xs:sequence>
                                                                                                        </xs:complexType>
                                                                                                    </xs:element>
                                                                                                </xs:sequence>
                                                                                            </xs:complexType>
                                                                                        </xs:element>
                                                                                    </xs:sequence>
                                                                                </xs:complexType>
                                                                            </xs:element>
                                                                        </xs:sequence>
                                                                    </xs:complexType>
                                                                </xs:element>
                                                                <xs:element maxOccurs="unbounded" minOccurs="0" name="supercategories" nillable="true">
                                                                    <xs:complexType>
                                                                        <xs:sequence>
                                                                            <xs:element maxOccurs="unbounded" minOccurs="0" name="Category">
                                                                                <xs:complexType>
                                                                                    <xs:sequence>
                                                                                        <xs:element maxOccurs="1" name="integrationKey" nillable="false" type="xs:string"/>
                                                                                        <xs:element maxOccurs="1" name="code" nillable="false" type="xs:string"/>
                                                                                        <xs:element maxOccurs="unbounded" minOccurs="0" name="catalogVersion" nillable="true">
                                                                                            <xs:complexType>
                                                                                                <xs:sequence>
                                                                                                    <xs:element maxOccurs="1" minOccurs="0" name="CatalogVersion">
                                                                                                        <xs:complexType>
                                                                                                            <xs:sequence>
                                                                                                                <xs:element maxOccurs="1" name="integrationKey" nillable="false" type="xs:string"/>
                                                                                                                <xs:element maxOccurs="1" minOccurs="0" name="active" nillable="true" type="xs:boolean"/>
                                                                                                                <xs:element maxOccurs="1" name="version" nillable="false" type="xs:string"/>
                                                                                                                <xs:element maxOccurs="unbounded" minOccurs="0" name="catalog" nillable="true">
                                                                                                                    <xs:complexType>
                                                                                                                        <xs:sequence>
                                                                                                                            <xs:element maxOccurs="1" minOccurs="0" name="Catalog">
                                                                                                                                <xs:complexType>
                                                                                                                                    <xs:sequence>
                                                                                                                                        <xs:element maxOccurs="1" name="integrationKey" nillable="false" type="xs:string"/>
                                                                                                                                        <xs:element maxOccurs="1" name="id" nillable="false" type="xs:string"/>
                                                                                                                                    </xs:sequence>
                                                                                                                                </xs:complexType>
                                                                                                                            </xs:element>
                                                                                                                        </xs:sequence>
                                                                                                                    </xs:complexType>
                                                                                                                </xs:element>
                                                                                                            </xs:sequence>
                                                                                                        </xs:complexType>
                                                                                                    </xs:element>
                                                                                                </xs:sequence>
                                                                                            </xs:complexType>
                                                                                        </xs:element>
                                                                                    </xs:sequence>
                                                                                </xs:complexType>
                                                                            </xs:element>
                                                                        </xs:sequence>
                                                                    </xs:complexType>
                                                                </xs:element>
                                                                <xs:element maxOccurs="unbounded" minOccurs="0" name="sapPlant" nillable="true">
                                                                    <xs:complexType>
                                                                        <xs:sequence>
                                                                            <xs:element maxOccurs="1" minOccurs="0" name="Warehouse">
                                                                                <xs:complexType>
                                                                                    <xs:sequence>
                                                                                        <xs:element maxOccurs="1" name="integrationKey" nillable="false" type="xs:string"/>
                                                                                        <xs:element maxOccurs="1" name="code" nillable="false" type="xs:string"/>
                                                                                        <xs:element maxOccurs="1" minOccurs="0" name="name" nillable="true" type="xs:string"/>
                                                                                        <xs:element maxOccurs="unbounded" minOccurs="0" name="localizedAttributes" nillable="true">
                                                                                            <xs:complexType>
                                                                                                <xs:sequence>
                                                                                                    <xs:element maxOccurs="unbounded" minOccurs="0" name="Localized___Warehouse">
                                                                                                        <xs:complexType>
                                                                                                            <xs:sequence>
                                                                                                                <xs:element maxOccurs="1" name="language" nillable="false" type="xs:string"/>
                                                                                                                <xs:element maxOccurs="1" minOccurs="0" name="name" nillable="true" type="xs:string"/>
                                                                                                            </xs:sequence>
                                                                                                        </xs:complexType>
                                                                                                    </xs:element>
                                                                                                </xs:sequence>
                                                                                            </xs:complexType>
                                                                                        </xs:element>
                                                                                    </xs:sequence>
                                                                                </xs:complexType>
                                                                            </xs:element>
                                                                        </xs:sequence>
                                                                    </xs:complexType>
                                                                </xs:element>
                                                                <xs:element maxOccurs="unbounded" minOccurs="0" name="approvalStatus" nillable="true">
                                                                    <xs:complexType>
                                                                        <xs:sequence>
                                                                            <xs:element maxOccurs="1" minOccurs="0" name="ArticleApprovalStatus">
                                                                                <xs:complexType>
                                                                                    <xs:sequence>
                                                                                        <xs:element maxOccurs="1" name="integrationKey" nillable="false" type="xs:string"/>
                                                                                        <xs:element maxOccurs="1" name="code" nillable="false" type="xs:string"/>
                                                                                    </xs:sequence>
                                                                                </xs:complexType>
                                                                            </xs:element>
                                                                        </xs:sequence>
                                                                    </xs:complexType>
                                                                </xs:element>
                                                                <xs:element maxOccurs="1" name="integrationKey" nillable="false" type="xs:string"/>
                                                                <xs:element maxOccurs="1" minOccurs="0" name="offlineDate" nillable="true" type="xs:dateTime"/>
                                                                <xs:element maxOccurs="1" minOccurs="0" name="sapBaseUnitConversion" nillable="true" type="xs:double"/>
                                                                <xs:element maxOccurs="1" name="code" nillable="false" type="xs:string"/>
                                                                <xs:element maxOccurs="1" minOccurs="0" name="sapConfigurable" nillable="true" type="xs:boolean"/>
                                                                <xs:element maxOccurs="1" minOccurs="0" name="serviceCode" nillable="true" type="xs:string"/>
                                                                <xs:element maxOccurs="1" minOccurs="0" name="sapBlocked" nillable="true" type="xs:boolean"/>
                                                                <xs:element maxOccurs="1" minOccurs="0" name="skillsDescription" nillable="true" type="xs:string"/>
                                                                <xs:element maxOccurs="1" minOccurs="0" name="onlineDate" nillable="true" type="xs:dateTime"/>
                                                                <xs:element maxOccurs="1" minOccurs="0" name="name" nillable="true" type="xs:string"/>
                                                                <xs:element maxOccurs="1" minOccurs="0" name="subscriptionValidTerm" nillable="true" type="xs:int"/>
                                                                <xs:element maxOccurs="1" minOccurs="0" name="sapBlockedDate" nillable="true" type="xs:dateTime"/>
                                                                <xs:element maxOccurs="1" minOccurs="0" name="sapEAN" nillable="true" type="xs:string"/>
                                                                <xs:element maxOccurs="1" minOccurs="0" name="renewalTerm" nillable="true" type="xs:int"/>
                                                                <xs:element maxOccurs="1" minOccurs="0" name="description" nillable="true" type="xs:string"/>
                                                                <xs:element maxOccurs="1" minOccurs="0" name="subscriptionCode" nillable="true" type="xs:string"/>
                                                                <xs:element maxOccurs="1" minOccurs="0" name="contractTerms" nillable="true" type="xs:int"/>
                                                                <xs:element maxOccurs="unbounded" minOccurs="0" name="Europe1PriceFactory_PTG" nillable="true">
                                                                    <xs:complexType>
                                                                        <xs:sequence>
                                                                            <xs:element maxOccurs="1" minOccurs="0" name="ProductTaxGroup">
                                                                                <xs:complexType>
                                                                                    <xs:sequence>
                                                                                        <xs:element maxOccurs="1" name="integrationKey" nillable="false" type="xs:string"/>
                                                                                        <xs:element maxOccurs="1" name="code" nillable="false" type="xs:string"/>
                                                                                    </xs:sequence>
                                                                                </xs:complexType>
                                                                            </xs:element>
                                                                        </xs:sequence>
                                                                    </xs:complexType>
                                                                </xs:element>
                                                                <xs:element maxOccurs="unbounded" minOccurs="0" name="pricerow" nillable="true">
                                                                    <xs:complexType>
                                                                        <xs:sequence>
                                                                            <xs:element maxOccurs="unbounded" minOccurs="0" name="PriceRow">
                                                                                <xs:complexType>
                                                                                    <xs:sequence>
                                                                                        <xs:element maxOccurs="1" name="integrationKey" nillable="false" type="xs:string"/>
                                                                                        <xs:element maxOccurs="1" name="price" nillable="false" type="xs:double"/>
                                                                                        <xs:element maxOccurs="unbounded" minOccurs="0" name="unit" nillable="true">
                                                                                            <xs:complexType>
                                                                                                <xs:sequence>
                                                                                                    <xs:element maxOccurs="1" minOccurs="0" name="Unit">
                                                                                                        <xs:complexType>
                                                                                                            <xs:sequence>
                                                                                                                <xs:element maxOccurs="1" name="integrationKey" nillable="false" type="xs:string"/>
                                                                                                                <xs:element maxOccurs="1" name="unitType" nillable="false" type="xs:string"/>
                                                                                                                <xs:element maxOccurs="1" name="code" nillable="false" type="xs:string"/>
                                                                                                                <xs:element maxOccurs="1" minOccurs="0" name="name" nillable="true" type="xs:string"/>
                                                                                                                <xs:element maxOccurs="unbounded" minOccurs="0" name="localizedAttributes" nillable="true">
                                                                                                                    <xs:complexType>
                                                                                                                        <xs:sequence>
                                                                                                                            <xs:element maxOccurs="unbounded" minOccurs="0" name="Localized___Unit">
                                                                                                                                <xs:complexType>
                                                                                                                                    <xs:sequence>
                                                                                                                                        <xs:element maxOccurs="1" name="language" nillable="false" type="xs:string"/>
                                                                                                                                        <xs:element maxOccurs="1" minOccurs="0" name="name" nillable="true" type="xs:string"/>
                                                                                                                                    </xs:sequence>
                                                                                                                                </xs:complexType>
                                                                                                                            </xs:element>
                                                                                                                        </xs:sequence>
                                                                                                                    </xs:complexType>
                                                                                                                </xs:element>
                                                                                                            </xs:sequence>
                                                                                                        </xs:complexType>
                                                                                                    </xs:element>
                                                                                                </xs:sequence>
                                                                                            </xs:complexType>
                                                                                        </xs:element>
                                                                                    </xs:sequence>
                                                                                </xs:complexType>
                                                                            </xs:element>
                                                                        </xs:sequence>
                                                                    </xs:complexType>
                                                                </xs:element>
                                                                <xs:element maxOccurs="unbounded" minOccurs="0" name="variantType" nillable="true">
                                                                    <xs:complexType>
                                                                        <xs:sequence>
                                                                            <xs:element maxOccurs="1" minOccurs="0" name="VariantType">
                                                                                <xs:complexType>
                                                                                    <xs:sequence>
                                                                                        <xs:element maxOccurs="1" name="integrationKey" nillable="false" type="xs:string"/>
                                                                                        <xs:element maxOccurs="1" name="code" nillable="false" type="xs:string"/>
                                                                                    </xs:sequence>
                                                                                </xs:complexType>
                                                                            </xs:element>
                                                                        </xs:sequence>
                                                                    </xs:complexType>
                                                                </xs:element>
                                                                <xs:element maxOccurs="unbounded" minOccurs="0" name="unit" nillable="true">
                                                                    <xs:complexType>
                                                                        <xs:sequence>
                                                                            <xs:element maxOccurs="1" minOccurs="0" name="Unit">
                                                                                <xs:complexType>
                                                                                    <xs:sequence>
                                                                                        <xs:element maxOccurs="1" name="integrationKey" nillable="false" type="xs:string"/>
                                                                                        <xs:element maxOccurs="1" name="unitType" nillable="false" type="xs:string"/>
                                                                                        <xs:element maxOccurs="1" name="code" nillable="false" type="xs:string"/>
                                                                                        <xs:element maxOccurs="1" minOccurs="0" name="name" nillable="true" type="xs:string"/>
                                                                                        <xs:element maxOccurs="unbounded" minOccurs="0" name="localizedAttributes" nillable="true">
                                                                                            <xs:complexType>
                                                                                                <xs:sequence>
                                                                                                    <xs:element maxOccurs="unbounded" minOccurs="0" name="Localized___Unit">
                                                                                                        <xs:complexType>
                                                                                                            <xs:sequence>
                                                                                                                <xs:element maxOccurs="1" name="language" nillable="false" type="xs:string"/>
                                                                                                                <xs:element maxOccurs="1" minOccurs="0" name="name" nillable="true" type="xs:string"/>
                                                                                                            </xs:sequence>
                                                                                                        </xs:complexType>
                                                                                                    </xs:element>
                                                                                                </xs:sequence>
                                                                                            </xs:complexType>
                                                                                        </xs:element>
                                                                                    </xs:sequence>
                                                                                </xs:complexType>
                                                                            </xs:element>
                                                                        </xs:sequence>
                                                                    </xs:complexType>
                                                                </xs:element>
                                                                <xs:element maxOccurs="unbounded" minOccurs="0" name="subscriptionTerm" nillable="true">
                                                                    <xs:complexType>
                                                                        <xs:sequence>
                                                                            <xs:element maxOccurs="1" minOccurs="0" name="SubscriptionTerm">
                                                                                <xs:complexType>
                                                                                    <xs:sequence>
                                                                                        <xs:element maxOccurs="1" name="integrationKey" nillable="false" type="xs:string"/>
                                                                                        <xs:element maxOccurs="1" name="id" nillable="false" type="xs:string"/>
                                                                                    </xs:sequence>
                                                                                </xs:complexType>
                                                                            </xs:element>
                                                                        </xs:sequence>
                                                                    </xs:complexType>
                                                                </xs:element>
                                                                <xs:element maxOccurs="unbounded" minOccurs="0" name="localizedAttributes" nillable="true">
                                                                    <xs:complexType>
                                                                        <xs:sequence>
                                                                            <xs:element maxOccurs="unbounded" minOccurs="0" name="Localized___Product">
                                                                                <xs:complexType>
                                                                                    <xs:sequence>
                                                                                        <xs:element maxOccurs="1" name="language" nillable="false" type="xs:string"/>
                                                                                        <xs:element maxOccurs="1" minOccurs="0" name="name" nillable="true" type="xs:string"/>
                                                                                        <xs:element maxOccurs="1" minOccurs="0" name="description" nillable="true" type="xs:string"/>
                                                                                    </xs:sequence>
                                                                                </xs:complexType>
                                                                            </xs:element>
                                                                        </xs:sequence>
                                                                    </xs:complexType>
                                                                </xs:element>
                                                                <xs:element maxOccurs="1" minOccurs="0" name="link">
                                                                    <xs:complexType>
                                                                        <xs:sequence>
                                                                            <xs:element maxOccurs="unbounded" minOccurs="0" name="subscriptionType" nillable="true">
                                                                                <xs:complexType>
                                                                                    <xs:sequence>
                                                                                        <xs:element maxOccurs="1" minOccurs="0" name="SubscriptionTypeEnum">
                                                                                            <xs:complexType>
                                                                                                <xs:sequence>
                                                                                                    <xs:element maxOccurs="1" minOccurs="1" name="integrationKey" type="xs:string"/>
                                                                                                </xs:sequence>
                                                                                            </xs:complexType>
                                                                                        </xs:element>
                                                                                    </xs:sequence>
                                                                                </xs:complexType>
                                                                            </xs:element>
                                                                            <xs:element maxOccurs="unbounded" minOccurs="0" name="Europe1PriceFactory_PDG" nillable="true">
                                                                                <xs:complexType>
                                                                                    <xs:sequence>
                                                                                        <xs:element maxOccurs="1" minOccurs="0" name="ProductDiscountGroup">
                                                                                            <xs:complexType>
                                                                                                <xs:sequence>
                                                                                                    <xs:element maxOccurs="1" minOccurs="1" name="integrationKey" type="xs:string"/>
                                                                                                </xs:sequence>
                                                                                            </xs:complexType>
                                                                                        </xs:element>
                                                                                    </xs:sequence>
                                                                                </xs:complexType>
                                                                            </xs:element>
                                                                            <xs:element maxOccurs="unbounded" minOccurs="0" name="Europe1PriceFactory_PPG" nillable="true">
                                                                                <xs:complexType>
                                                                                    <xs:sequence>
                                                                                        <xs:element maxOccurs="1" minOccurs="0" name="ProductPriceGroup">
                                                                                            <xs:complexType>
                                                                                                <xs:sequence>
                                                                                                    <xs:element maxOccurs="1" minOccurs="1" name="integrationKey" type="xs:string"/>
                                                                                                </xs:sequence>
                                                                                            </xs:complexType>
                                                                                        </xs:element>
                                                                                    </xs:sequence>
                                                                                </xs:complexType>
                                                                            </xs:element>
                                                                            <xs:element maxOccurs="unbounded" minOccurs="0" name="catalogVersion" nillable="true">
                                                                                <xs:complexType>
                                                                                    <xs:sequence>
                                                                                        <xs:element maxOccurs="1" minOccurs="0" name="CatalogVersion">
                                                                                            <xs:complexType>
                                                                                                <xs:sequence>
                                                                                                    <xs:element maxOccurs="1" minOccurs="1" name="integrationKey" type="xs:string"/>
                                                                                                </xs:sequence>
                                                                                            </xs:complexType>
                                                                                        </xs:element>
                                                                                    </xs:sequence>
                                                                                </xs:complexType>
                                                                            </xs:element>
                                                                            <xs:element maxOccurs="unbounded" minOccurs="0" name="supercategories" nillable="true">
                                                                                <xs:complexType>
                                                                                    <xs:sequence>
                                                                                        <xs:element maxOccurs="unbounded" minOccurs="0" name="Category">
                                                                                            <xs:complexType>
                                                                                                <xs:sequence>
                                                                                                    <xs:element maxOccurs="1" minOccurs="1" name="integrationKey" type="xs:string"/>
                                                                                                </xs:sequence>
                                                                                            </xs:complexType>
                                                                                        </xs:element>
                                                                                    </xs:sequence>
                                                                                </xs:complexType>
                                                                            </xs:element>
                                                                            <xs:element maxOccurs="unbounded" minOccurs="0" name="sapPlant" nillable="true">
                                                                                <xs:complexType>
                                                                                    <xs:sequence>
                                                                                        <xs:element maxOccurs="1" minOccurs="0" name="Warehouse">
                                                                                            <xs:complexType>
                                                                                                <xs:sequence>
                                                                                                    <xs:element maxOccurs="1" minOccurs="1" name="integrationKey" type="xs:string"/>
                                                                                                </xs:sequence>
                                                                                            </xs:complexType>
                                                                                        </xs:element>
                                                                                    </xs:sequence>
                                                                                </xs:complexType>
                                                                            </xs:element>
                                                                            <xs:element maxOccurs="unbounded" minOccurs="0" name="approvalStatus" nillable="true">
                                                                                <xs:complexType>
                                                                                    <xs:sequence>
                                                                                        <xs:element maxOccurs="1" minOccurs="0" name="ArticleApprovalStatus">
                                                                                            <xs:complexType>
                                                                                                <xs:sequence>
                                                                                                    <xs:element maxOccurs="1" minOccurs="1" name="integrationKey" type="xs:string"/>
                                                                                                </xs:sequence>
                                                                                            </xs:complexType>
                                                                                        </xs:element>
                                                                                    </xs:sequence>
                                                                                </xs:complexType>
                                                                            </xs:element>
                                                                            <xs:element maxOccurs="unbounded" minOccurs="0" name="Europe1PriceFactory_PTG" nillable="true">
                                                                                <xs:complexType>
                                                                                    <xs:sequence>
                                                                                        <xs:element maxOccurs="1" minOccurs="0" name="ProductTaxGroup">
                                                                                            <xs:complexType>
                                                                                                <xs:sequence>
                                                                                                    <xs:element maxOccurs="1" minOccurs="1" name="integrationKey" type="xs:string"/>
                                                                                                </xs:sequence>
                                                                                            </xs:complexType>
                                                                                        </xs:element>
                                                                                    </xs:sequence>
                                                                                </xs:complexType>
                                                                            </xs:element>
                                                                            <xs:element maxOccurs="unbounded" minOccurs="0" name="pricerow" nillable="true">
                                                                                <xs:complexType>
                                                                                    <xs:sequence>
                                                                                        <xs:element maxOccurs="unbounded" minOccurs="0" name="PriceRow">
                                                                                            <xs:complexType>
                                                                                                <xs:sequence>
                                                                                                    <xs:element maxOccurs="1" minOccurs="1" name="integrationKey" type="xs:string"/>
                                                                                                </xs:sequence>
                                                                                            </xs:complexType>
                                                                                        </xs:element>
                                                                                    </xs:sequence>
                                                                                </xs:complexType>
                                                                            </xs:element>
                                                                            <xs:element maxOccurs="unbounded" minOccurs="0" name="variantType" nillable="true">
                                                                                <xs:complexType>
                                                                                    <xs:sequence>
                                                                                        <xs:element maxOccurs="1" minOccurs="0" name="VariantType">
                                                                                            <xs:complexType>
                                                                                                <xs:sequence>
                                                                                                    <xs:element maxOccurs="1" minOccurs="1" name="integrationKey" type="xs:string"/>
                                                                                                </xs:sequence>
                                                                                            </xs:complexType>
                                                                                        </xs:element>
                                                                                    </xs:sequence>
                                                                                </xs:complexType>
                                                                            </xs:element>
                                                                            <xs:element maxOccurs="unbounded" minOccurs="0" name="unit" nillable="true">
                                                                                <xs:complexType>
                                                                                    <xs:sequence>
                                                                                        <xs:element maxOccurs="1" minOccurs="0" name="Unit">
                                                                                            <xs:complexType>
                                                                                                <xs:sequence>
                                                                                                    <xs:element maxOccurs="1" minOccurs="1" name="integrationKey" type="xs:string"/>
                                                                                                </xs:sequence>
                                                                                            </xs:complexType>
                                                                                        </xs:element>
                                                                                    </xs:sequence>
                                                                                </xs:complexType>
                                                                            </xs:element>
                                                                            <xs:element maxOccurs="unbounded" minOccurs="0" name="subscriptionTerm" nillable="true">
                                                                                <xs:complexType>
                                                                                    <xs:sequence>
                                                                                        <xs:element maxOccurs="1" minOccurs="0" name="SubscriptionTerm">
                                                                                            <xs:complexType>
                                                                                                <xs:sequence>
                                                                                                    <xs:element maxOccurs="1" minOccurs="1" name="integrationKey" type="xs:string"/>
                                                                                                </xs:sequence>
                                                                                            </xs:complexType>
                                                                                        </xs:element>
                                                                                    </xs:sequence>
                                                                                </xs:complexType>
                                                                            </xs:element>
                                                                            <xs:element maxOccurs="unbounded" minOccurs="0" name="localizedAttributes" nillable="true">
                                                                                <xs:complexType>
                                                                                    <xs:sequence>
                                                                                        <xs:element maxOccurs="unbounded" minOccurs="0" name="Localized___Product">
                                                                                            <xs:complexType>
                                                                                                <xs:sequence>
                                                                                                    <xs:element maxOccurs="1" minOccurs="1" name="language" type="xs:string"/>
                                                                                                </xs:sequence>
                                                                                            </xs:complexType>
                                                                                        </xs:element>
                                                                                    </xs:sequence>
                                                                                </xs:complexType>
                                                                            </xs:element>
                                                                        </xs:sequence>
                                                                    </xs:complexType>
                                                                </xs:element>
                                                            </xs:sequence>
                                                        </xs:complexType>
                                                    </xs:element>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>