Resources/schemas/Xsd/SAP_Commerce_financial_services_accelerator_integration_with_SAP_for_Insurance - RelCheckKeyMapping.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="claims">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="claim">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:long" name="claimId"/>
              <xs:element type="xs:long" name="contractId"/>
              <xs:element type="xs:string" name="policyHolderId"/>
			  <xs:element type="xs:long" name="policyId"/>
              <xs:element type="xs:string" name="productId"/>
              <xs:element type="xs:boolean" name="relevant"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="VALUE" type="xs:string"/>
</xs:schema>