Resources/schemas/Xsd/SAP_Customer_Relationship_Management_Integration_with_SAP_Field_Service_Management - Person-1.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
 <xs:element name="BusinessPartner" type="PERSON"  />
  
  <xs:complexType name="PersonType">
    <xs:sequence>
      <xs:element type="xs:string" name="externalId"/>
      <xs:element type="xs:string" name="firstName"  minOccurs="0"/>
      <xs:element type="xs:string" name="branchCode"  minOccurs="0"/>
      <xs:element type="xs:string" name="code"  minOccurs="0"/>
      <xs:element type="xs:string" name="departmentCode"  minOccurs="0"/>
      <xs:element type="xs:string" name="lastName"  minOccurs="0"/>
      <xs:element type="xs:string" name="userName"  minOccurs="1"/>
      <xs:element type="xs:string" name="emailAddress"  minOccurs="0"/>
      <xs:element type="xs:string" name="positionName"  minOccurs="0"/>
      <xs:element type="xs:string" name="remarks"  minOccurs="0"/>
      <xs:element type="xs:string" name="departmentName"  minOccurs="0"/>
      <xs:element type="xs:string" name="mobilePhone"  minOccurs="0"/>
      <xs:element type="xs:string" name="officePhone"  minOccurs="0"/>
      <xs:element type="xs:string" name="homePhone"  minOccurs="0"/>
      <xs:element type="xs:string" name="jobTitle"  minOccurs="0"/>
      <xs:element type="xs:string" name="otherPhone"  minOccurs="0"/>
      <xs:element type="xs:string" name="skypeName"  minOccurs="0"/>
      <xs:element type="EmpType" name="types" minOccurs="0" />
      <xs:element type="xs:string" name="fax"  minOccurs="0"/>
      <xs:element type="xs:string" name="refId"  minOccurs="0"/>
      <xs:element type="xs:string" name="id"  minOccurs="0"/>
      </xs:sequence>
  </xs:complexType>

  <xs:complexType name="EmpType">
   
  </xs:complexType>


 <xs:complexType name="PERSON">
    <xs:sequence>
      <xs:element type="PersonType" name="Person" maxOccurs="unbounded" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  
</xs:schema>