Resources/schemas/Xsd/SAP_Logistics_Business_Network_Integration_with_SAP_ERP_-_Tracked_Processes_and_Event_Messages_JMS_edition - eventMessages_OutboundSchema.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xsd:schema attributeFormDefault="unqualified"
	elementFormDefault="qualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<xsd:element name="events">
	<xsd:complexType>
	<xsd:sequence>
	<xsd:element name="eventMessages" maxOccurs="unbounded" minOccurs="1">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="eventCode" minOccurs="0">
					<xsd:simpleType>
						<xsd:restriction base="xsd:string">
							<xsd:maxLength value="20" />
						</xsd:restriction>
					</xsd:simpleType>
				</xsd:element>
				<xsd:element name="logicalSenderSystem" minOccurs="0">
					<xsd:simpleType>
						<xsd:restriction base="xsd:string">
							<xsd:maxLength value="10" />
						</xsd:restriction>
					</xsd:simpleType>
				</xsd:element>
				<xsd:element name="trackingIdType" minOccurs="0">
					<xsd:simpleType>
						<xsd:restriction base="xsd:string">
							<xsd:maxLength value="20" />
						</xsd:restriction>
					</xsd:simpleType>
				</xsd:element>
				<xsd:element name="trackingId" minOccurs="0">
					<xsd:simpleType>
						<xsd:restriction base="xsd:string">
							<xsd:maxLength value="50" />
						</xsd:restriction>
					</xsd:simpleType>
				</xsd:element>
				<xsd:element name="actualBusinessTime" minOccurs="0">
					<xsd:simpleType>
						<xsd:restriction base="xsd:string">
							<xsd:maxLength value="8" />
						</xsd:restriction>
					</xsd:simpleType>
				</xsd:element>	
				<xsd:element name="actualBusinessDate" minOccurs="0">
					<xsd:simpleType>
						<xsd:restriction base="xsd:string">
							<xsd:maxLength value="10" />
						</xsd:restriction>
					</xsd:simpleType>
				</xsd:element>	
				<xsd:element name="actualBusinessTimeZone" minOccurs="0">
					<xsd:simpleType>
						<xsd:restriction base="xsd:string">
							<xsd:maxLength value="6" />
						</xsd:restriction>
					</xsd:simpleType>
				</xsd:element>	
				<xsd:element name="locationId" minOccurs="0">
					<xsd:simpleType>
						<xsd:restriction base="xsd:string">
							<xsd:maxLength value="50" />
						</xsd:restriction>
					</xsd:simpleType>
				</xsd:element>			
				<xsd:element name="eventReasonText" minOccurs="0">
					<xsd:simpleType>
						<xsd:restriction base="xsd:string">
							<xsd:maxLength value="100" />
						</xsd:restriction>
					</xsd:simpleType>
				</xsd:element>																						
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	</xsd:sequence>
	</xsd:complexType>
	</xsd:element>
</xsd:schema>