Resources/schemas/Xsd/SAP_S-4HANA_Integration_with_SAP_SuccessFactors_Incentive_Management - BAPI_ProductHierarchyNodesGET.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>	
<xsd:schema attributeFormDefault="unqualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:sap-com:document:sap:rfc:functions">
    <xsd:element name="BAPI_MATERIAL_GET_PRODUCTHIER.Response">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element minOccurs="1" maxOccurs="unbounded" name="NODE_LIST">
                    <xsd:complexType>
                        <xsd:sequence>
                            <xsd:element nillable="true" minOccurs="0" maxOccurs="unbounded" name="item">
                                <xsd:complexType>
                                    <xsd:sequence>
                                       <xsd:element type="xsd:boolean" nillable="true" minOccurs="0" maxOccurs="1" name="PROD_HIER" xmlns=""/>
                                       <xsd:element type="xsd:boolean" nillable="true" minOccurs="0" maxOccurs="1" name="PARENT_PROD_HIER" xmlns=""/>
                                       <xsd:element type="xsd:boolean" nillable="true" minOccurs="0" maxOccurs="1" name="BROTHER_PROD_HIER" xmlns=""/>
                                       <xsd:element type="xsd:boolean" nillable="true" minOccurs="0" maxOccurs="1" name="NODE_LEVEL" xmlns=""/>
                                       <xsd:element type="xsd:boolean" nillable="true" minOccurs="0" maxOccurs="1" name="LANGU" xmlns=""/>
                                       <xsd:element type="xsd:boolean" nillable="true" minOccurs="0" maxOccurs="1" name="LANGU_ISO" xmlns=""/>
                                       <xsd:element type="xsd:boolean" nillable="true" minOccurs="0" maxOccurs="1" name="NODE_TEXT" xmlns=""/>
                                       <xsd:element type="xsd:boolean" nillable="true" minOccurs="0" maxOccurs="1" name="TEXT" xmlns=""/>                                      
                                    </xsd:sequence>
                                </xsd:complexType>
                            </xsd:element>
                        </xsd:sequence>
                    </xsd:complexType>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>
