Resources/schemas/Xsd/SAP_CPQ_Quote_2.0_Integration_with_SAP_S-4HANA_Cloud_Sales_Order - GetItems_withSelectedAttributes.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="QuoteItems">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="row" maxOccurs="unbounded" minOccurs="0">
					<xs:complexType>
						<xs:sequence>
							<xs:element type="xs:int" name="ItemId" minOccurs="1" maxOccurs="1"/>
							<xs:element type="xs:int" name="ItemNumber" minOccurs="1" maxOccurs="1"/>
							<xs:element type="xs:int" name="ParentItemId" minOccurs="1" maxOccurs="1"/>
							<xs:element type="xs:string" name="ParentRolledUpItemNumber" minOccurs="1" maxOccurs="1"/>
							<xs:element type="xs:int" name="ParentItemNumber" minOccurs="1" maxOccurs="1"/>
							<xs:element type="xs:int" name="RolledUpItemNumber" minOccurs="1" maxOccurs="1"/>
							<xs:element type="xs:dateTime" name="DateAdded" minOccurs="1" maxOccurs="1"/>
							<xs:element type="xs:string" name="Description" minOccurs="1" maxOccurs="1"/>
							<xs:element type="xs:string" name="DescriptionLong" minOccurs="1" maxOccurs="1"/>
							<xs:element type="xs:string" name="DisplayType" minOccurs="1" maxOccurs="1"/>
							<xs:element type="xs:boolean" name="IsLineItem" minOccurs="1" maxOccurs="1"/>
							<xs:element type="xs:boolean" name="IsMainItem" minOccurs="1" maxOccurs="1"/>
							<xs:element type="xs:boolean" name="IsOptional" minOccurs="1" maxOccurs="1"/>
							<xs:element type="xs:boolean" name="IsVariant" minOccurs="1" maxOccurs="1"/>
							<xs:element type="xs:boolean" name="IsAlternative" minOccurs="1" maxOccurs="1"/>
							<xs:element type="xs:boolean" name="IsSubscriptionItem" minOccurs="1" maxOccurs="1"/>
							<xs:element type="xs:int" name="ItemClassificationType" minOccurs="1" maxOccurs="1"/>
							<xs:element type="xs:int" name="ItemType" minOccurs="1" maxOccurs="1"/>
							<xs:element type="xs:double" name="Quantity" minOccurs="1" maxOccurs="1"/>
							<xs:element type="xs:string" name="UnitOfMeasure" minOccurs="1" maxOccurs="1"/>
							<xs:element type="xs:string" name="PartNumber" minOccurs="1" maxOccurs="1"/>
							<xs:element type="xs:string" name="ProductSystemId" minOccurs="1" maxOccurs="1"/>
							<xs:element type="xs:int" name="ProductId" minOccurs="1" maxOccurs="1"/>
							<xs:element type="xs:string" name="ProductName" minOccurs="1" maxOccurs="1"/>
							<xs:element type="xs:string" name="ProductNameTranslated" minOccurs="1" maxOccurs="1"/>
							<xs:element type="xs:int" name="ProductTypeId" minOccurs="1" maxOccurs="1"/>
							<xs:element type="xs:string" name="ProductTypeName" minOccurs="1" maxOccurs="1"/>
							<xs:element type="xs:string" name="ProductTypeNameTranslated" minOccurs="1" maxOccurs="1"/>
							<xs:element type="xs:boolean" name="SyncedFromBackOffice " nillable="true"/>
							<xs:element type="xs:string" name="Comment" minOccurs="0" maxOccurs="1"/>
							<xs:element name="CollaborationComments" maxOccurs="unbounded" minOccurs="0">
								<xs:complexType>
									<xs:sequence>
										<xs:element type="xs:int" name="Id" minOccurs="1" maxOccurs="1"/>
										<xs:element type="xs:int" name="ItemId" minOccurs="1" maxOccurs="1"/>
										<xs:element type="xs:string" name="UserFullName" minOccurs="1" maxOccurs="1"/>
										<xs:element type="xs:string" name="UserEmail" minOccurs="1" maxOccurs="1"/>
										<xs:element type="xs:string" name="UserCompany" minOccurs="1" maxOccurs="1"/>
										<xs:element type="xs:dateTime" name="DateCreated" minOccurs="1" maxOccurs="1"/>
										<xs:element type="xs:string" name="Comment" minOccurs="1" maxOccurs="1"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="PricingDetails" maxOccurs="unbounded" minOccurs="0">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="Fixed" maxOccurs="1" minOccurs="1">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="ListPrice" minOccurs="1" maxOccurs="1">
														<xs:complexType>
															<xs:sequence>
																<xs:element type="xs:double" name="Value" minOccurs="1" maxOccurs="1"/>
																<xs:element type="xs:string" name="Currency" minOccurs="1" maxOccurs="1"/>
															</xs:sequence>
														</xs:complexType>
													</xs:element>
													<xs:element name="NetPrice" minOccurs="1" maxOccurs="1">
														<xs:complexType>
															<xs:sequence>
																<xs:element type="xs:double" name="Value" minOccurs="1" maxOccurs="1"/>
																<xs:element type="xs:string" name="Currency" minOccurs="1" maxOccurs="1"/>
															</xs:sequence>
														</xs:complexType>
													</xs:element>
													<xs:element name="ExtendedListPrice" minOccurs="1" maxOccurs="1">
														<xs:complexType>
															<xs:sequence>
																<xs:element type="xs:double" name="Value" minOccurs="1" maxOccurs="1"/>
																<xs:element type="xs:string" name="Currency" minOccurs="1" maxOccurs="1"/>
															</xs:sequence>
														</xs:complexType>
													</xs:element>
													<xs:element name="ExtendedAmount" minOccurs="1" maxOccurs="1">
														<xs:complexType>
															<xs:sequence>
																<xs:element type="xs:double" name="Value" minOccurs="1" maxOccurs="1"/>
																<xs:element type="xs:string" name="Currency" minOccurs="1" maxOccurs="1"/>
															</xs:sequence>
														</xs:complexType>
													</xs:element>
													<xs:element name="DiscountPercent" minOccurs="1" maxOccurs="1">
														<xs:complexType>
															<xs:sequence>
																<xs:element type="xs:double" name="Value" minOccurs="1" maxOccurs="1"/>
																<xs:element type="xs:string" name="Currency" minOccurs="1" maxOccurs="1"/>
															</xs:sequence>
														</xs:complexType>
													</xs:element>
													<xs:element name="DefaultDiscountPercent" minOccurs="1" maxOccurs="1">
														<xs:complexType>
															<xs:sequence>
																<xs:element type="xs:double" name="Value" minOccurs="1" maxOccurs="1"/>
																<xs:element type="xs:string" name="Currency" minOccurs="1" maxOccurs="1"/>
															</xs:sequence>
														</xs:complexType>
													</xs:element>
													<xs:element name="MinDiscountPercent" minOccurs="1" maxOccurs="1">
														<xs:complexType>
															<xs:sequence>
																<xs:element type="xs:double" name="Value" minOccurs="1" maxOccurs="1"/>
																<xs:element type="xs:string" name="Currency" minOccurs="1" maxOccurs="1"/>
															</xs:sequence>
														</xs:complexType>
													</xs:element>
													<xs:element name="MaxDiscountPercent" minOccurs="1" maxOccurs="1">
														<xs:complexType>
															<xs:sequence>
																<xs:element type="xs:double" name="Value" minOccurs="1" maxOccurs="1"/>
																<xs:element type="xs:string" name="Currency" minOccurs="1" maxOccurs="1"/>
															</xs:sequence>
														</xs:complexType>
													</xs:element>
													<xs:element name="UnitDiscountAmount" minOccurs="1" maxOccurs="1">
														<xs:complexType>
															<xs:sequence>
																<xs:element type="xs:double" name="Value" minOccurs="1" maxOccurs="1"/>
																<xs:element type="xs:string" name="Currency" minOccurs="1" maxOccurs="1"/>
															</xs:sequence>
														</xs:complexType>
													</xs:element>
													<xs:element name="DiscountAmount" minOccurs="1" maxOccurs="1">
														<xs:complexType>
															<xs:sequence>
																<xs:element type="xs:double" name="Value" minOccurs="1" maxOccurs="1"/>
																<xs:element type="xs:string" name="Currency" minOccurs="1" maxOccurs="1"/>
															</xs:sequence>
														</xs:complexType>
													</xs:element>
													<xs:element name="Cost" minOccurs="1" maxOccurs="1">
														<xs:complexType>
															<xs:sequence>
																<xs:element type="xs:double" name="Value" minOccurs="1" maxOccurs="1"/>
																<xs:element type="xs:string" name="Currency" minOccurs="1" maxOccurs="1"/>
															</xs:sequence>
														</xs:complexType>
													</xs:element>
													<xs:element name="ExtendedCost" minOccurs="1" maxOccurs="1">
														<xs:complexType>
															<xs:sequence>
																<xs:element type="xs:double" name="Value" minOccurs="1" maxOccurs="1"/>
																<xs:element type="xs:string" name="Currency" minOccurs="1" maxOccurs="1"/>
															</xs:sequence>
														</xs:complexType>
													</xs:element>
													<xs:element name="MarginPercent" minOccurs="1" maxOccurs="1">
														<xs:complexType>
															<xs:sequence>
																<xs:element type="xs:double" name="Value" minOccurs="1" maxOccurs="1"/>
																<xs:element type="xs:string" name="Currency" minOccurs="1" maxOccurs="1"/>
															</xs:sequence>
														</xs:complexType>
													</xs:element>
													<xs:element name="RolledUpListPrice" minOccurs="1" maxOccurs="1">
														<xs:complexType>
															<xs:sequence>
																<xs:element type="xs:double" name="Value" minOccurs="1" maxOccurs="1"/>
																<xs:element type="xs:string" name="Currency" minOccurs="1" maxOccurs="1"/>
															</xs:sequence>
														</xs:complexType>
													</xs:element>
													<xs:element name="RolledUpNetPrice" minOccurs="1" maxOccurs="1">
														<xs:complexType>
															<xs:sequence>
																<xs:element type="xs:double" name="Value" minOccurs="1" maxOccurs="1"/>
																<xs:element type="xs:string" name="Currency" minOccurs="1" maxOccurs="1"/>
															</xs:sequence>
														</xs:complexType>
													</xs:element>
													<xs:element name="RolledUpExtendedListPrice" minOccurs="1" maxOccurs="1">
														<xs:complexType>
															<xs:sequence>
																<xs:element type="xs:double" name="Value" minOccurs="1" maxOccurs="1"/>
																<xs:element type="xs:string" name="Currency" minOccurs="1" maxOccurs="1"/>
															</xs:sequence>
														</xs:complexType>
													</xs:element>
													<xs:element name="RolledUpExtendedAmount" minOccurs="1" maxOccurs="1">
														<xs:complexType>
															<xs:sequence>
																<xs:element type="xs:double" name="Value" minOccurs="1" maxOccurs="1"/>
																<xs:element type="xs:string" name="Currency" minOccurs="1" maxOccurs="1"/>
															</xs:sequence>
														</xs:complexType>
													</xs:element>
													<xs:element name="RolledUpDiscountPercent" minOccurs="1" maxOccurs="1">
														<xs:complexType>
															<xs:sequence>
																<xs:element type="xs:double" name="Value" minOccurs="1" maxOccurs="1"/>
																<xs:element type="xs:string" name="Currency" minOccurs="1" maxOccurs="1"/>
															</xs:sequence>
														</xs:complexType>
													</xs:element>
													<xs:element name="RolledUpDiscountAmount" minOccurs="1" maxOccurs="1">
														<xs:complexType>
															<xs:sequence>
																<xs:element type="xs:double" name="Value" minOccurs="1" maxOccurs="1"/>
																<xs:element type="xs:string" name="Currency" minOccurs="1" maxOccurs="1"/>
															</xs:sequence>
														</xs:complexType>
													</xs:element>
													<xs:element name="RolledUpGrossMargin" minOccurs="1" maxOccurs="1">
														<xs:complexType>
															<xs:sequence>
																<xs:element type="xs:double" name="Value" minOccurs="1" maxOccurs="1"/>
																<xs:element type="xs:string" name="Currency" minOccurs="1" maxOccurs="1"/>
															</xs:sequence>
														</xs:complexType>
													</xs:element>
													<xs:element name="RolledUpCost" minOccurs="1" maxOccurs="1">
														<xs:complexType>
															<xs:sequence>
																<xs:element type="xs:double" name="Value" minOccurs="1" maxOccurs="1"/>
																<xs:element type="xs:string" name="Currency" minOccurs="1" maxOccurs="1"/>
															</xs:sequence>
														</xs:complexType>
													</xs:element>
													<xs:element name="RolledUpExtendedCost" minOccurs="1" maxOccurs="1">
														<xs:complexType>
															<xs:sequence>
																<xs:element type="xs:double" name="Value" minOccurs="1" maxOccurs="1"/>
																<xs:element type="xs:string" name="Currency" minOccurs="1" maxOccurs="1"/>
															</xs:sequence>
														</xs:complexType>
													</xs:element>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
										<xs:element name="Recurring">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="ListPrice" minOccurs="1" maxOccurs="1">
														<xs:complexType>
															<xs:sequence>
																<xs:element type="xs:double" name="Value" minOccurs="1" maxOccurs="1"/>
																<xs:element type="xs:string" name="Currency" minOccurs="1" maxOccurs="1"/>
															</xs:sequence>
														</xs:complexType>
													</xs:element>
													<xs:element name="NetPrice" minOccurs="1" maxOccurs="1">
														<xs:complexType>
															<xs:sequence>
																<xs:element type="xs:double" name="Value" minOccurs="1" maxOccurs="1"/>
																<xs:element type="xs:string" name="Currency" minOccurs="1" maxOccurs="1"/>
															</xs:sequence>
														</xs:complexType>
													</xs:element>
													<xs:element name="ExtendedListPrice" minOccurs="1" maxOccurs="1">
														<xs:complexType>
															<xs:sequence>
																<xs:element type="xs:double" name="Value" minOccurs="1" maxOccurs="1"/>
																<xs:element type="xs:string" name="Currency" minOccurs="1" maxOccurs="1"/>
															</xs:sequence>
														</xs:complexType>
													</xs:element>
													<xs:element name="ExtendedAmount" minOccurs="1" maxOccurs="1">
														<xs:complexType>
															<xs:sequence>
																<xs:element type="xs:double" name="Value" minOccurs="1" maxOccurs="1"/>
																<xs:element type="xs:string" name="Currency" minOccurs="1" maxOccurs="1"/>
															</xs:sequence>
														</xs:complexType>
													</xs:element>
													<xs:element name="DiscountPercent" minOccurs="1" maxOccurs="1">
														<xs:complexType>
															<xs:sequence>
																<xs:element type="xs:double" name="Value" minOccurs="1" maxOccurs="1"/>
																<xs:element type="xs:string" name="Currency" minOccurs="1" maxOccurs="1"/>
															</xs:sequence>
														</xs:complexType>
													</xs:element>
													<xs:element name="DefaultDiscountPercent" minOccurs="1" maxOccurs="1">
														<xs:complexType>
															<xs:sequence>
																<xs:element type="xs:double" name="Value" minOccurs="1" maxOccurs="1"/>
																<xs:element type="xs:string" name="Currency" minOccurs="1" maxOccurs="1"/>
															</xs:sequence>
														</xs:complexType>
													</xs:element>
													<xs:element name="MinDiscountPercent" minOccurs="1" maxOccurs="1">
														<xs:complexType>
															<xs:sequence>
																<xs:element type="xs:double" name="Value" minOccurs="1" maxOccurs="1"/>
																<xs:element type="xs:string" name="Currency" minOccurs="1" maxOccurs="1"/>
															</xs:sequence>
														</xs:complexType>
													</xs:element>
													<xs:element name="MaxDiscountPercent" minOccurs="1" maxOccurs="1">
														<xs:complexType>
															<xs:sequence>
																<xs:element type="xs:double" name="Value" minOccurs="1" maxOccurs="1"/>
																<xs:element type="xs:string" name="Currency" minOccurs="1" maxOccurs="1"/>
															</xs:sequence>
														</xs:complexType>
													</xs:element>
													<xs:element name="UnitDiscountAmount" minOccurs="1" maxOccurs="1">
														<xs:complexType>
															<xs:sequence>
																<xs:element type="xs:double" name="Value" minOccurs="1" maxOccurs="1"/>
																<xs:element type="xs:string" name="Currency" minOccurs="1" maxOccurs="1"/>
															</xs:sequence>
														</xs:complexType>
													</xs:element>
													<xs:element name="DiscountAmount" minOccurs="1" maxOccurs="1">
														<xs:complexType>
															<xs:sequence>
																<xs:element type="xs:double" name="Value" minOccurs="1" maxOccurs="1"/>
																<xs:element type="xs:string" name="Currency" minOccurs="1" maxOccurs="1"/>
															</xs:sequence>
														</xs:complexType>
													</xs:element>
													<xs:element name="Cost" minOccurs="1" maxOccurs="1">
														<xs:complexType>
															<xs:sequence>
																<xs:element type="xs:double" name="Value" minOccurs="1" maxOccurs="1"/>
																<xs:element type="xs:string" name="Currency" minOccurs="1" maxOccurs="1"/>
															</xs:sequence>
														</xs:complexType>
													</xs:element>
													<xs:element name="ExtendedCost" minOccurs="1" maxOccurs="1">
														<xs:complexType>
															<xs:sequence>
																<xs:element type="xs:double" name="Value" minOccurs="1" maxOccurs="1"/>
																<xs:element type="xs:string" name="Currency" minOccurs="1" maxOccurs="1"/>
															</xs:sequence>
														</xs:complexType>
													</xs:element>
													<xs:element name="MarginPercent" minOccurs="1" maxOccurs="1">
														<xs:complexType>
															<xs:sequence>
																<xs:element type="xs:double" name="Value" minOccurs="1" maxOccurs="1"/>
																<xs:element type="xs:string" name="Currency" minOccurs="1" maxOccurs="1"/>
															</xs:sequence>
														</xs:complexType>
													</xs:element>
													<xs:element name="RolledUpListPrice" minOccurs="1" maxOccurs="1">
														<xs:complexType>
															<xs:sequence>
																<xs:element type="xs:double" name="Value" minOccurs="1" maxOccurs="1"/>
																<xs:element type="xs:string" name="Currency" minOccurs="1" maxOccurs="1"/>
															</xs:sequence>
														</xs:complexType>
													</xs:element>
													<xs:element name="RolledUpNetPrice" minOccurs="1" maxOccurs="1">
														<xs:complexType>
															<xs:sequence>
																<xs:element type="xs:double" name="Value" minOccurs="1" maxOccurs="1"/>
																<xs:element type="xs:string" name="Currency" minOccurs="1" maxOccurs="1"/>
															</xs:sequence>
														</xs:complexType>
													</xs:element>
													<xs:element name="RolledUpExtendedListPrice" minOccurs="1" maxOccurs="1">
														<xs:complexType>
															<xs:sequence>
																<xs:element type="xs:double" name="Value" minOccurs="1" maxOccurs="1"/>
																<xs:element type="xs:string" name="Currency" minOccurs="1" maxOccurs="1"/>
															</xs:sequence>
														</xs:complexType>
													</xs:element>
													<xs:element name="RolledUpExtendedAmount" minOccurs="1" maxOccurs="1">
														<xs:complexType>
															<xs:sequence>
																<xs:element type="xs:double" name="Value" minOccurs="1" maxOccurs="1"/>
																<xs:element type="xs:string" name="Currency" minOccurs="1" maxOccurs="1"/>
															</xs:sequence>
														</xs:complexType>
													</xs:element>
													<xs:element name="RolledUpDiscountPercent" minOccurs="1" maxOccurs="1">
														<xs:complexType>
															<xs:sequence>
																<xs:element type="xs:double" name="Value" minOccurs="1" maxOccurs="1"/>
																<xs:element type="xs:string" name="Currency" minOccurs="1" maxOccurs="1"/>
															</xs:sequence>
														</xs:complexType>
													</xs:element>
													<xs:element name="RolledUpDiscountAmount" minOccurs="1" maxOccurs="1">
														<xs:complexType>
															<xs:sequence>
																<xs:element type="xs:double" name="Value" minOccurs="1" maxOccurs="1"/>
																<xs:element type="xs:string" name="Currency" minOccurs="1" maxOccurs="1"/>
															</xs:sequence>
														</xs:complexType>
													</xs:element>
													<xs:element name="RolledUpGrossMargin" minOccurs="1" maxOccurs="1">
														<xs:complexType>
															<xs:sequence>
																<xs:element type="xs:double" name="Value" minOccurs="1" maxOccurs="1"/>
																<xs:element type="xs:string" name="Currency" minOccurs="1" maxOccurs="1"/>
															</xs:sequence>
														</xs:complexType>
													</xs:element>
													<xs:element name="RolledUpCost" minOccurs="1" maxOccurs="1">
														<xs:complexType>
															<xs:sequence>
																<xs:element type="xs:double" name="Value" minOccurs="1" maxOccurs="1"/>
																<xs:element type="xs:string" name="Currency" minOccurs="1" maxOccurs="1"/>
															</xs:sequence>
														</xs:complexType>
													</xs:element>
													<xs:element name="RolledUpExtendedCost" minOccurs="1" maxOccurs="1">
														<xs:complexType>
															<xs:sequence>
																<xs:element type="xs:double" name="Value" minOccurs="1" maxOccurs="1"/>
																<xs:element type="xs:string" name="Currency" minOccurs="1" maxOccurs="1"/>
															</xs:sequence>
														</xs:complexType>
													</xs:element>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="SubscriptionDetails" minOccurs="0" maxOccurs="1" nillable="true">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="EffectiveDate" type="xs:dateTime" minOccurs="0" maxOccurs="1" nillable="true"/>
										<xs:element name="RatePlanId" type="xs:string" minOccurs="0" maxOccurs="1" nillable="true"/>
										<xs:element name="ContractStartDate" type="xs:dateTime" minOccurs="0" maxOccurs="1" nillable="true"/>
										<xs:element name="ContractEndDate" type="xs:dateTime" minOccurs="0" maxOccurs="1" nillable="true"/>
										<xs:element name="ContractLength" type="xs:int" minOccurs="1" maxOccurs="1"/>
										<xs:element name="MinimumContractEndDate" type="xs:dateTime" minOccurs="0" maxOccurs="1" nillable="true"/>
										<xs:element name="MinimumContractLength" type="xs:int" minOccurs="1" maxOccurs="1" nillable="true"/>
										<xs:element name="SubscriptionParameters" minOccurs="0" maxOccurs="1" nillable="true">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="SubscriptionParameter" minOccurs="0" maxOccurs="unbounded">
														<xs:complexType>
															<xs:sequence>
																<xs:element name="Code" type="xs:string" minOccurs="1" maxOccurs="1"/>
																<xs:element name="Value" type="xs:string" minOccurs="0" maxOccurs="1" nillable="true"/>
															</xs:sequence>
														</xs:complexType>
													</xs:element>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
										<xs:element name="Pricing" minOccurs="0" maxOccurs="1" nillable="true">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="RatePlanSnapshotEffectiveDate" type="xs:dateTime" minOccurs="0" maxOccurs="1" nillable="true"/>
													<xs:element name="PricingParameters" minOccurs="0" maxOccurs="1" nillable="true">
														<xs:complexType>
															<xs:sequence>
																<xs:element name="PricingParameter" minOccurs="0" maxOccurs="unbounded">
																	<xs:complexType>
																		<xs:sequence>
																			<xs:element name="Code" type="xs:string" minOccurs="1" maxOccurs="1"/>
																			<xs:element name="Value" type="xs:string" minOccurs="1" maxOccurs="1" nillable="true"/>
																		</xs:sequence>
																	</xs:complexType>
																</xs:element>
															</xs:sequence>
														</xs:complexType>
													</xs:element>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="CustomFields" minOccurs="0" maxOccurs="unbounded">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="Name" type="xs:string" minOccurs="0" maxOccurs="1"/>
										<xs:element name="Content" type="xs:string" minOccurs="0" maxOccurs="1"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="ContractDurationUnit" nillable="true" type="xs:string"/>
							<xs:element name="ContractDurationValue" nillable="true" type="xs:int"/>
							<xs:element name="ContractStartDate" nillable="true" type="xs:dateTime"/>
							<xs:element name="ContractEndDate" nillable="true" type="xs:dateTime"/>
							<xs:element name="BillingCycleCode" nillable="true" type="xs:string"/>
							<xs:element name="EstimatedTotalContractValue" nillable="true" type="xs:double"/>
							<xs:element name="EstimatedBillingValue" nillable="true" type="xs:double"/>
							<xs:element name="ConfigurationId" type="xs:string" minOccurs="1" maxOccurs="1"/>
							<xs:element name="ExternalConfigurationId" type="xs:string" minOccurs="0" maxOccurs="1"/>
							<xs:element name="ExternalConfiguration" minOccurs="0">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="kbId" type="xs:short" minOccurs="0"/>
										<xs:element name="kbKey" minOccurs="0">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="logsys" type="xs:string" minOccurs="0"/>
													<xs:element name="name" type="xs:string" minOccurs="0"/>
													<xs:element name="version" type="xs:float" minOccurs="0"/>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
										<xs:element name="kbBuild" type="xs:byte" minOccurs="0"/>
										<xs:element name="configurationDate" minOccurs="0"/>
										<xs:element name="consistent" type="xs:string" minOccurs="0"/>
										<xs:element name="complete" type="xs:string" minOccurs="0"/>
										<xs:element name="engine" type="xs:string" minOccurs="0"/>
										<xs:element maxOccurs="unbounded" minOccurs="0" name="context">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="name" type="xs:string" minOccurs="0"/>
													<xs:element name="value" type="xs:string" minOccurs="0"/>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
										<xs:element name="rootItem" minOccurs="0">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="id" type="xs:unsignedByte" minOccurs="0"/>
													<xs:element name="objectKey" minOccurs="0">
														<xs:complexType>
															<xs:sequence>
																<xs:element name="id" type="xs:string" minOccurs="0"/>
																<xs:element name="type" type="xs:string" minOccurs="0"/>
																<xs:element name="classType" type="xs:unsignedShort" minOccurs="0"/>
															</xs:sequence>
														</xs:complexType>
													</xs:element>
													<xs:element name="objectKeyAuthor" type="xs:unsignedByte" minOccurs="0"/>
													<xs:element name="bomPosition" minOccurs="0"/>
													<xs:element name="bomPositionObjectKey" minOccurs="0"/>
													<xs:element name="bomPositionAuthor" minOccurs="0"/>
													<xs:element name="quantity" minOccurs="0">
														<xs:complexType>
															<xs:sequence>
																<xs:element name="value" type="xs:unsignedByte" minOccurs="0"/>
																<xs:element name="unit" type="xs:string" minOccurs="0"/>
															</xs:sequence>
														</xs:complexType>
													</xs:element>
													<xs:element name="fixedQuantity" type="xs:boolean" minOccurs="0"/>
													<xs:element name="salesRelevant" type="xs:boolean" minOccurs="0"/>
													<xs:element name="consistent" type="xs:boolean" minOccurs="0"/>
													<xs:element name="complete" type="xs:boolean" minOccurs="0"/>
													<xs:element minOccurs="0" maxOccurs="unbounded" name="characteristics">
														<xs:complexType>
															<xs:sequence>
																<xs:element name="id" type="xs:string" minOccurs="0"/>
																<xs:element name="type" type="xs:string" minOccurs="0"/>
																<xs:element name="required" type="xs:boolean" minOccurs="0"/>
																<xs:element name="visible" type="xs:boolean" minOccurs="0"/>
																<xs:element maxOccurs="unbounded" name="values" minOccurs="0">
																	<xs:complexType>
																		<xs:sequence>
																			<xs:element name="value" type="xs:string" minOccurs="0"/>
																			<xs:element name="author" type="xs:string" minOccurs="0"/>
																			<xs:element minOccurs="0" name="factor" type="xs:unsignedByte"/>
																		</xs:sequence>
																	</xs:complexType>
																</xs:element>
															</xs:sequence>
														</xs:complexType>
													</xs:element>
													<xs:element minOccurs="0" maxOccurs="unbounded" name="variantConditions">
														<xs:complexType>
															<xs:sequence>
																<xs:element name="key" type="xs:string" minOccurs="0"/>
																<xs:element name="factor" type="xs:unsignedByte" minOccurs="0"/>
															</xs:sequence>
														</xs:complexType>
													</xs:element>
													<xs:element maxOccurs="unbounded" name="subItems" minOccurs="0">
														<xs:complexType>
															<xs:sequence>
																<xs:element name="id" type="xs:byte" minOccurs="1" maxOccurs="1"/>
																<xs:element name="objectKey" minOccurs="0">
																	<xs:complexType>
																		<xs:sequence>
																			<xs:element name="id" type="xs:string" minOccurs="0"/>
																			<xs:element name="type" type="xs:string" minOccurs="0"/>
																			<xs:element name="classType" type="xs:short" minOccurs="0"/>
																		</xs:sequence>
																	</xs:complexType>
																</xs:element>
																<xs:element name="objectKeyAuthor" type="xs:byte" minOccurs="0"/>
																<xs:element minOccurs="1" maxOccurs="1" name="bomPositionIdentifier" type="xs:unsignedByte"/>
																<xs:element name="bomPosition" type="xs:string" minOccurs="0"/>
																<xs:element name="bomPositionObjectKey" minOccurs="0">
																	<xs:complexType>
																		<xs:sequence minOccurs="0">
																			<xs:element name="id" type="xs:string" minOccurs="0"/>
																			<xs:element name="type" type="xs:string" minOccurs="0"/>
																			<xs:element name="classType" type="xs:string" minOccurs="0"/>
																		</xs:sequence>
																	</xs:complexType>
																</xs:element>
																<xs:element name="bomPositionAuthor" type="xs:string" minOccurs="0"/>
																<xs:element name="quantity" minOccurs="0">
																	<xs:complexType>
																		<xs:sequence>
																			<xs:element name="value" type="xs:float" minOccurs="0"/>
																			<xs:element name="unit" type="xs:string" minOccurs="0"/>
																		</xs:sequence>
																	</xs:complexType>
																</xs:element>
																<xs:element name="fixedQuantity" type="xs:string" minOccurs="0"/>
																<xs:element name="salesRelevant" type="xs:string" minOccurs="0"/>
																<xs:element name="consistent" type="xs:string" minOccurs="0"/>
																<xs:element name="complete" type="xs:string" minOccurs="0"/>
																<xs:element minOccurs="0" maxOccurs="unbounded" name="characteristics">
																	<xs:complexType>
																		<xs:sequence>
																			<xs:element name="id" type="xs:string" minOccurs="0"/>
																			<xs:element name="type" type="xs:string" minOccurs="0"/>
																			<xs:element name="required" type="xs:string" minOccurs="0"/>
																			<xs:element name="visible" type="xs:string" minOccurs="0"/>
																			<xs:element name="values" minOccurs="0" maxOccurs="unbounded">
																				<xs:complexType>
																					<xs:sequence>
																						<xs:element name="value" type="xs:string" minOccurs="0"/>
																						<xs:element name="author" type="xs:string" minOccurs="0"/>
																						<xs:element minOccurs="0" name="factor" type="xs:unsignedByte"/>
																					</xs:sequence>
																				</xs:complexType>
																			</xs:element>
																		</xs:sequence>
																	</xs:complexType>
																</xs:element>
																<xs:element name="variantConditions" minOccurs="0">
																	<xs:complexType>
																		<xs:sequence minOccurs="0">
																			<xs:element name="key" type="xs:string" minOccurs="0"/>
																			<xs:element name="factor" type="xs:unsignedByte" minOccurs="0"/>
																		</xs:sequence>
																	</xs:complexType>
																</xs:element>
																<xs:element name="parentId" type="xs:unsignedByte" minOccurs="0"/>
															</xs:sequence>
														</xs:complexType>
													</xs:element>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="ExternalConfigurationItemId" type="xs:integer" minOccurs="0" maxOccurs="1"/>
							<xs:element name="SelectedAttributes" minOccurs="0" maxOccurs="unbounded">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="Id" type="xs:int" minOccurs="0" maxOccurs="1"/>
										<xs:element name="SystemId" type="xs:string" minOccurs="0" maxOccurs="1"/>
										<xs:element name="ValueDataType" nillable="true" type="xs:string" minOccurs="0" maxOccurs="1"/>
										<xs:element name="SyncedFromBackOffice " nillable="true" type="xs:boolean" minOccurs="0" maxOccurs="1"/>
										<xs:element name="Values" minOccurs="0" maxOccurs="unbounded">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="Author" nillable="true" type="xs:string" minOccurs="0" maxOccurs="1"/>
													<xs:element name="BillingPeriod" nillable="true" type="xs:string" minOccurs="0" maxOccurs="1"/>
													<xs:element name="ContractDurationUnit" nillable="true" type="xs:string" minOccurs="0" maxOccurs="1"/>
													<xs:element name="Quantity" nillable="true" type="xs:double" minOccurs="0" maxOccurs="1"/>
													<xs:element name="SystemId" nillable="true" type="xs:string" minOccurs="0" maxOccurs="1"/>
													<xs:element name="Value" nillable="true" type="xs:string" minOccurs="0" maxOccurs="1"/>
													<xs:element name="VariantConditionKey" nillable="true" minOccurs="0" maxOccurs="1"/>
													<xs:element name="VariantConditionKeyFactor" nillable="true" type="xs:double" minOccurs="0" maxOccurs="1"/>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="PricingConditions" minOccurs="0" maxOccurs="unbounded" nillable="true">
								<xs:complexType>
									<xs:sequence>
										<xs:element type="xs:integer" name="PricingProcedureStep" minOccurs="0" maxOccurs="1"/>
										<xs:element type="xs:integer" name="PricingProcedureStepCounter" minOccurs="0" maxOccurs="1"/>
										<xs:element type="xs:decimal" name="ConditionBase" minOccurs="0" maxOccurs="1" nillable="true"/>
										<xs:element type="xs:string" name="ConditionType" minOccurs="0" maxOccurs="1" nillable="true"/>
										<xs:element type="xs:string" name="ConditionTypeDescription" minOccurs="0" maxOccurs="1"/>
										<xs:element type="xs:decimal" name="ConditionRate" minOccurs="0" maxOccurs="1" nillable="true"/>
										<xs:element type="xs:decimal" name="ConditionValue" minOccurs="0" maxOccurs="1" nillable="true"/>
										<xs:element type="xs:string" name="ConditionCurrency" minOccurs="0" maxOccurs="1" nillable="true"/>
										<xs:element type="xs:string" name="ConditionUnit" minOccurs="0" maxOccurs="1" nillable="true"/>
										<xs:element type="xs:decimal" name="ConditionUnitQuantity" minOccurs="0" maxOccurs="1" nillable="true"/>
										<xs:element type="xs:boolean" name="IsVariantCondition" minOccurs="0" maxOccurs="1"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>