Resources/schemas/Xsd/SAP_Service_Cloud_Integration_with_SAP_Marketing_Cloud_for_Replicating_Survey_Details - questionaire_in.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="questionnaire">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="questionnaire">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="nodeId" type="xs:string" />
        <xs:element name="type" type="xs:string" />
        <xs:element name="status" type="xs:string" />
        <xs:element name="title" type="xs:string" />
        <xs:element name="isDynamic" type="xs:boolean" />
        <xs:element name="sections">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="nodeId" type="xs:string" />
              <xs:element name="status" type="xs:string" />
              <xs:element name="section">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="nodeId" type="xs:unsignedByte" />
                    <xs:element maxOccurs="unbounded" name="question">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="nodeId" type="xs:string" />
                          <xs:element name="ordinalNumberValue" type="xs:unsignedByte" />
                          <xs:element name="typeCodeValue" type="xs:unsignedByte" />
                          <xs:element name="typeCode" type="xs:string" />
                          <xs:element minOccurs="0" name="required" type="xs:boolean" />
                          <xs:element name="title" type="xs:string" />
                          <xs:element minOccurs="0" name="answerRepresentation" type="xs:unsignedByte" />
                          <xs:element minOccurs="0" name="AnswerRepresentationName" type="xs:string" />
                          <xs:element maxOccurs="unbounded" name="answer">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="nodeId" type="xs:string" />
                                <xs:element minOccurs="0" name="ordinalNumberValue" type="xs:string" />
                                <xs:element minOccurs="0" name="text" type="xs:string" />
                                <xs:element minOccurs="0" name="rating">
                                  <xs:complexType>
                                    <xs:sequence>
                                      <xs:element name="nodeId" type="xs:string" />
                                      <xs:element name="value" type="xs:string" />
                                    </xs:sequence>
                                  </xs:complexType>
                                </xs:element>
                                <xs:element minOccurs="0" name="value" type="xs:string" />
                                <xs:element minOccurs="0" name="direction">
                                  <xs:complexType>
                                    <xs:sequence>
                                      <xs:element name="targetNodeId" type="xs:string" />
                                    </xs:sequence>
                                  </xs:complexType>
                                </xs:element>
                                <xs:element minOccurs="0" name="RefEleValSelIndicator" type="xs:boolean" />
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                          <xs:element minOccurs="0" name="direction">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="targetNodeId" type="xs:string" />
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                          <xs:element minOccurs="0" name="TextAreaSize" type="xs:unsignedByte" />
                          <xs:element minOccurs="0" maxOccurs="unbounded" name="rating">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="nodeId" type="xs:string" />
                                <xs:element name="ordinalNumberValue" type="xs:string" />
                                <xs:element name="text" type="xs:string" />
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                          <xs:element name="counter" type="xs:unsignedByte" />
                          <xs:element name="ReferenceElementFilterTargetUUID" type="xs:unsignedByte" />
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
					</xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="DesignTimeVersionNodeID" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
</xs:schema>