Resources/schemas/Xsd/SAP_Business_ByDesign_Master_Data_to_SAP_S-4HANA_Cloud_Public_Edition - XSD_ByD_FXA_Master Data.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Fixed_Asset_Master">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="MasterData" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="Fixed_Asset"/>
              <xs:element type="xs:string" name="Fixed_Asset_Description"/>
              <xs:element type="xs:string" name="Fixed_Asset_Class"/>
              <xs:element type="xs:string" name="Company"/>
              <xs:element type="xs:string" name="Set_of_Books"/>
              <xs:element type="xs:string" name="Cost_Center"/>
              <xs:element type="xs:string" name="Fixed_Asset_Life_Cycle_Status"/>
              <xs:element type="xs:string" name="Deactivation_Date"/>
              <xs:element type="xs:string" name="Depreciation_Method"/>
              <xs:element type="xs:string" name="Capitalization_Date"/>
              <xs:element type="xs:string" name="Initial_Acquisition_Date"/>
              <xs:element type="xs:string" name="Useful_Life_-_Years"/>
              <xs:element type="xs:string" name="Useful_Life_-_Periods"/>
              <!--<xs:element type="xs:string" name="Individual_Material"/>-->
              <xs:element type="xs:string" name="Project_Task"/>
              <xs:element type="xs:string" name="Valuation_View"/>
              <xs:element type="xs:string" name="Profit_Center"/>
              <xs:element type="xs:string" name="Segment"/>
              <xs:element type="xs:string" name="Fund_Grant"/>
              <xs:element type="xs:string" name="Grant_ID_Grant"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="DefaultSetofBook" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="Company_ID"/>
              <xs:element type="xs:string" name="Default_Set_of_Book_ID"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>