Resources/schemas/Xsd/SAP_Document_and_Reporting_Compliance-_Electronic_Invoice_for_Saudi_Arabia - zatcaResponse-1.xsd

<?xml version="1.0" encoding="UTF-8"?><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="qualified">

	<xsd:element name="zatcaResponse" type="zatcaResponseType"/>
	<xsd:complexType name="zatcaResponseType">
		<xsd:sequence>
		    <xsd:element maxOccurs="1" minOccurs="0" name="invoiceHash" type="xsd:base64Binary"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="validationResults" type="validationResultsType"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="clearanceStatus" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="clearedInvoice" type="xsd:base64Binary"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="reportingStatus" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="qrSellertStatus" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="qrBuyertStatus" type="xsd:string"/>
		</xsd:sequence>
	</xsd:complexType>

    <xsd:complexType name="validationResultsType">
        <xsd:sequence>
			<xsd:element maxOccurs="unbounded" minOccurs="0" name="infoMessages" type="messageType"/>
            <xsd:element maxOccurs="unbounded" minOccurs="0" name="warningMessages" type="messageType"/>
			<xsd:element maxOccurs="unbounded" minOccurs="0" name="errorMessages" type="messageType"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="status" type="xsd:string"/>
		</xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="messageType">
        <xsd:sequence>
			<xsd:element maxOccurs="1" minOccurs="0" name="type" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="code" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="category" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="message" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="status" type="xsd:string"/>
		</xsd:sequence>
    </xsd:complexType>
</xsd:schema>