Resources/schemas/Xsd/SAP_Cloud_for_Customer_Integration_with_Identity_Provisioning_via_System_for_Cross-domain_Identity_Management - ValidationGroupsPutOperationsPayload.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Operation">
    <xs:complexType>
      <xs:choice maxOccurs="unbounded">
        <xs:element name="schemas" minOccurs="0">
          <xs:simpleType >
            <xs:restriction base="xs:string">
              <xs:enumeration value="urn:ietf:params:scim:schemas:core:2.0:Group"/>
            </xs:restriction>
          </xs:simpleType >
        </xs:element>
        <xs:element type="xs:string" name="id" minOccurs="0"/>
        <xs:element type="xs:string" name="displayName" minOccurs="0"/>
        <xs:element name="members" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="value"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:choice>
    </xs:complexType>
  </xs:element>
</xs:schema>
