Resources/schemas/Xsd/SAP_SuccessFactors_Recruiting_Management_Integration_with_Saudi_Arabia's_Ministry_of_Interior - UPSERT_NationalId.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="JobApplication">
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="1" maxOccurs="unbounded" name="JobApplication">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element type="xs:long" nillable="false" maxOccurs="1" name="applicationId" xmlns=""/>
                            <xs:element type="xs:dateTime" nillable="false" maxOccurs="1" name="custDOB" xmlns=""/>
                            <xs:element type="xs:string" nillable="false" maxOccurs="1" name="cust_arabicName1" xmlns=""/>
                            <xs:element type="xs:string" nillable="false" maxOccurs="1" name="cust_arabicName2" xmlns=""/>
                            <xs:element type="xs:string" nillable="false" maxOccurs="1" name="cust_arabicName3" xmlns=""/>
                            <xs:element type="xs:string" nillable="false" maxOccurs="1" name="cust_arabicName4" xmlns=""/>
                            <xs:element type="xs:string" nillable="false" maxOccurs="1" name="nationalID" xmlns=""/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>
