Resources/schemas/Xsd/SAP_Customer_Data_Cloud_Integration_with_SAP_S-4HANA - CDCorgData.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:element name="Organizations">
    <xs:complexType>
      <xs:sequence> 
        <xs:element name="organization" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="organization.BPID"/>
              <xs:element type="xs:string" name="organization.description"/>
              <xs:element type="xs:string" name="organization.name"/>
              <xs:element type="xs:string" name="organization.type"/>
              <xs:element type="xs:string" name="organization.membersLimit"/>
              <xs:element type="xs:string" name="organization.city"/>
              <xs:element type="xs:string" name="organization.country"/>
              <xs:element type="xs:string" name="organization.state" nillable="false"/>
              <xs:element type="xs:string" name="organization.street_address"/>
              <xs:element type="xs:int" name="organization.zip_code"/>
              <xs:element type="xs:string" name="requester.department"/>
              <xs:element type="xs:string" name="requester.email"/>
              <xs:element type="xs:string" name="requester.firstName"/>
              <xs:element type="xs:string" name="requester.lastName"/>
              <xs:element type="xs:string" name="requester.jobFunction"/>
              <xs:element type="xs:string" name="requester.phone"/>
              <xs:element type="xs:string" name="status"/>
             </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>