Resources/schemas/Xsd/SAP_Complaint_Handling_Integration_For_Customer_Complaints - creditNoteLeftSidePayload.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="root">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="salesOrganization" type="xs:string" />
        <xs:element name="division" type="xs:string" />
        <xs:element name="distributionChannel" type="xs:string" />
        <xs:element name="CreditMemoRequestType" type="xs:string" />
        <xs:element name="soldToParty" type="xs:string" />
        <xs:element name="pricingDate" type="xs:string" />
        <xs:element name="referenceDocumentNumber" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="unbounded" name="toPartner"/>
        <xs:element minOccurs="0" maxOccurs="unbounded" name="pricingElements">
            <xs:complexType>
                <xs:sequence>
                    <xs:element name="conditionType" type="xs:string" />
                    <xs:element name="conditionRateValue" type="xs:string" />
					<xs:element name="conditionCurrency" type="xs:string" />
					<xs:element name="conditionQuantity" type="xs:string" />
                    <xs:element name="conditionQuantityUnit" type="xs:string" />
                </xs:sequence>
            </xs:complexType>
        </xs:element>
         <xs:element minOccurs="0" maxOccurs="unbounded" name="toItem">
            <xs:complexType>
                <xs:sequence>
                    <xs:element name="referenceDocumentLineItemNumber" type="xs:string" />
                    <xs:element name="referenceDocumentNumber" type="xs:string" />
                    <xs:element name="complaintMaterial" type="xs:string" />
                    <xs:element name="pricingDate" type="xs:string" />
                    <xs:element name="complaintQuantity" type="xs:string" />
                    <xs:element minOccurs="0" maxOccurs="unbounded" name="pricingElements">
                        <xs:complexType>
                            <xs:sequence>
                                <xs:element name="conditionType" type="xs:string" />
                                <xs:element name="conditionRateValue" type="xs:string" />
								<xs:element name="conditionCurrency" type="xs:string" />
								<xs:element name="conditionQuantity" type="xs:string" />
                                <xs:element name="conditionQuantityUnit" type="xs:string" />
                            </xs:sequence>
                        </xs:complexType>
                    </xs:element>
                </xs:sequence>
            </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>