Resources/schemas/Xsd/SAP_Hybris_Service_Engagement_Center_Integration_with_Business_Suite - InternalData.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="root">
    <xs:complexType>
      <xs:sequence>
        <xs:element type="xs:string" name="businessPartnerID"/>
        <xs:element type="xs:string" name="customerNumber" minOccurs="0" maxOccurs="1"/>
        <xs:element type="xs:string" name="title" minOccurs="0" maxOccurs="1"/>
        <xs:element type="xs:string" name="firstName" minOccurs="0" maxOccurs="1"/>
        <xs:element type="xs:string" name="middleName" minOccurs="0" maxOccurs="1"/>
        <xs:element type="xs:string" name="lastName" minOccurs="0" maxOccurs="1"/>
        <xs:element type="xs:string" name="contactEmail" minOccurs="0" maxOccurs="1"/>
        <xs:element type="xs:long" name="contactPhoneCust" minOccurs="0" maxOccurs="1"/>
        <xs:element type="xs:string" name="company" minOccurs="0" maxOccurs="1"/>
        <xs:element type="xs:string" name="preferredLanguage" minOccurs="0" maxOccurs="1"/>
        <xs:element type="xs:string" name="preferredCurrency" minOccurs="0" maxOccurs="1"/>
        <xs:element type="xs:string" name="city" minOccurs="0" maxOccurs="1"/>
        <xs:element type="xs:string" name="contactName" minOccurs="0" maxOccurs="1"/>
        <xs:element type="xs:string" name="companyName" minOccurs="0" maxOccurs="1"/>
        <xs:element type="xs:string" name="country" minOccurs="0" maxOccurs="1"/>
        <xs:element type="xs:string" name="id" minOccurs="0" maxOccurs="1"/>
        <xs:element type="xs:string" name="isDefault" minOccurs="0" maxOccurs="1"/>
        <xs:element type="xs:string" name="street" minOccurs="0" maxOccurs="1"/>
        <xs:element type="xs:string" name="streetNumber" minOccurs="0" maxOccurs="1"/>
        <xs:element type="xs:string" name="streetAppendix" minOccurs="0" maxOccurs="1"/>
        <xs:element type="xs:string" name="extraLine1" minOccurs="0" maxOccurs="1"/>
        <xs:element type="xs:string" name="extraLine2" minOccurs="0" maxOccurs="1"/>
        <xs:element type="xs:string" name="zipCode" minOccurs="0" maxOccurs="1"/>
        <xs:element type="xs:string" name="state" minOccurs="0" maxOccurs="1"/>
        <xs:element type="xs:string" name="contactPhone" minOccurs="0" maxOccurs="1"/>      
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>