Resources/schemas/Xsd/SAP_S-4HANA_Integration_with_Salesforce - Salesforce_Object_Upsert_with_External_Id_Request-1.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!--Copyright (c) Rojo Consultancy B.V. all rights reserved 
XSD generated from the Salesforce Adapter Plug-In by Rojo Consultancy B.V. 
Intended for the Salesforce Adapter for SAP Cloud Platform Integration 
Based upon Salesforce API version: 37.0 
Operation: REST - Salesforce Object - Upsert with External Id - PricebookEntry - Request 
Creation date: Wed Jul 22 15:40:45 CEST 2020 
Website: www.rojoconsultancy.com-->
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
    <xsd:element name="sObjects">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element maxOccurs="1" minOccurs="0" name="Identifier">
                    <xsd:complexType>
                        <xsd:sequence>
                            <xsd:element maxOccurs="1" minOccurs="0" name="ExternalId" type="xsd:string"/>
                            <xsd:element default="PricebookEntry" maxOccurs="1" minOccurs="0" name="SObjectName" type="xsd:string"/>
                        </xsd:sequence>
                    </xsd:complexType>
                </xsd:element>
                <xsd:element maxOccurs="1" minOccurs="0" name="Pricebook2Id" nillable="false" type="ID">
                    <xsd:annotation>
                        <xsd:documentation>Price Book ID</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element maxOccurs="1" minOccurs="0" name="Product2Id" nillable="false" type="ID">
                    <xsd:annotation>
                        <xsd:documentation>Product ID</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element maxOccurs="1" minOccurs="0" name="CurrencyIsoCode" nillable="false">
                    <xsd:annotation>
                        <xsd:documentation>Currency ISO Code</xsd:documentation>
                    </xsd:annotation>
                    <xsd:simpleType>
                        <xsd:restriction base="xsd:string">
                            <xsd:enumeration value="EUR"/>
                            <xsd:enumeration value="USD"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element maxOccurs="1" minOccurs="0" name="UnitPrice" nillable="false" type="xsd:double">
                    <xsd:annotation>
                        <xsd:documentation>List Price</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element maxOccurs="1" minOccurs="0" name="IsActive" nillable="false" type="xsd:boolean">
                    <xsd:annotation>
                        <xsd:documentation>Active</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element maxOccurs="1" minOccurs="0" name="UseStandardPrice" nillable="false" type="xsd:boolean">
                    <xsd:annotation>
                        <xsd:documentation>Use Standard Price</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element maxOccurs="1" minOccurs="0" name="SAP_PriceBookEntry_Ref__c" nillable="true">
                    <xsd:annotation>
                        <xsd:documentation>SAP PriceBook Entry key</xsd:documentation>
                    </xsd:annotation>
                    <xsd:simpleType>
                        <xsd:restriction base="xsd:string">
                            <xsd:minLength value="0"/>
                            <xsd:maxLength value="30"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element maxOccurs="1" minOccurs="0" name="Pricebook2" type="Pricebook2Ref"/>
                <xsd:element maxOccurs="1" minOccurs="0" name="Product2" type="Product2Ref"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:simpleType name="ID">
        <xsd:restriction base="xsd:string">
            <xsd:pattern value="[a-zA-Z0-9]{18}"/>
            <xsd:pattern value="[a-zA-Z0-9]{15}"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:complexType xmlns="http://www.w3.org/2001/XMLSchema" name="Pricebook2Ref">
        <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="0" name="Id" type="xsd:anyType"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="IsDeleted" type="xsd:boolean"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="Name" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="CurrencyIsoCode" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="CreatedDate" type="xsd:dateTime"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="CreatedById" type="xsd:anyType"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="LastModifiedDate" type="xsd:dateTime"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="LastModifiedById" type="xsd:anyType"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="SystemModstamp" type="xsd:dateTime"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="LastViewedDate" type="xsd:dateTime"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="LastReferencedDate" type="xsd:dateTime"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="IsActive" type="xsd:boolean"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="Description" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="IsStandard" type="xsd:boolean"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="SAP_PriceBook_Ref__c" type="xsd:string"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType xmlns="http://www.w3.org/2001/XMLSchema" name="Product2Ref">
        <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="0" name="Id" type="xsd:anyType"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="Name" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="ProductCode" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="Description" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="IsActive" type="xsd:boolean"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="CreatedDate" type="xsd:dateTime"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="CreatedById" type="xsd:anyType"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="LastModifiedDate" type="xsd:dateTime"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="LastModifiedById" type="xsd:anyType"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="SystemModstamp" type="xsd:dateTime"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="Family" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="CurrencyIsoCode" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="IsDeleted" type="xsd:boolean"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="LastViewedDate" type="xsd:dateTime"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="LastReferencedDate" type="xsd:dateTime"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="SAP_Material_Ref__c" type="xsd:string"/>
        </xsd:sequence>
    </xsd:complexType>
</xsd:schema>
