Resources/schemas/Xsd/SAP_Complaint_Handling_Integration_with_Master_Data_and_Business_Objects - PersonResponsibleDeleteValidator.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="qualified">
   <xs:element name="personResponsibles">
      <xs:complexType>
         <xs:sequence>
            <xs:element maxOccurs="unbounded" name="row">
               <xs:complexType>
                  <xs:sequence>
                     <xs:element name="personResponsibleID">
                        <xs:simpleType>
                           <xs:restriction base="xs:string">
                           </xs:restriction>
                        </xs:simpleType>
                     </xs:element>
                     <xs:element name="logicalSystem">
                        <xs:simpleType>
                           <xs:restriction base="xs:string">
                           </xs:restriction>
                        </xs:simpleType>
                     </xs:element>
                  </xs:sequence>
               </xs:complexType>
            </xs:element>
         </xs:sequence>
      </xs:complexType>
   </xs:element>
</xs:schema>