Resources/schemas/Xsd/SAP_SuccessFactors_Employee_Central_to_SAP_Time_and_Attendance_Management_by_WorkForce_Software_Integration_Extension - phased_go_live_date.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="phased_go_live_dates">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" name="job_phased_go_live_date" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="user_id" type="xs:string" minOccurs="1" maxOccurs="1"/>
              <xs:element name="phased_go_live_date" type="xs:date" minOccurs="0" maxOccurs="1"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>