Resources/schemas/Xsd/SAP_S-4HANA_for_central_procurement_–_Central_Purchasing_Integration_with_Third_Party_System - MaterialGroup.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="MmpurReqShBeMatGrpSet">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="MmpurReqShBeMatGrp" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="MaterialGroup"/>
              <xs:element type="xs:string" name="MaterialGroupName"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>