Resources/schemas/Xsd/SAP_Business_ByDesign_to_SAP_Concur_Integration - ERConcurAllFields.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="Root">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="fIDocuments" minOccurs="0" maxOccurs="unbounded">
					<xs:complexType>
						<xs:sequence>
							<xs:element type="xs:string" name="id" minOccurs="0"/>
							<xs:element type="xs:string" name="docType" minOccurs="0"/>
							<xs:element type="xs:string" name="companyId" minOccurs="0"/>
							<xs:element type="xs:string" name="entityId" minOccurs="0"/>
							<xs:element type="xs:string" name="companyUuid" minOccurs="0"/>
							<xs:element type="xs:string" name="erpSystemId" minOccurs="0"/>
							<xs:element name="document" minOccurs="0" maxOccurs="unbounded">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="employee" minOccurs="0"> 
											<xs:complexType>
												<xs:sequence>
													<xs:element type="xs:string" name="employeeFirstName" minOccurs="0"/>
													<xs:element type="xs:string" name="employeeLastName" minOccurs="0"/>
													<xs:element type="xs:string" name="employeeId" minOccurs="0"/>
													<xs:element type="xs:string" name="employeeMI" minOccurs="0"/>
													<xs:element type="xs:string" name="employeeOrgUnit1Code" minOccurs="0"/>
													<xs:element type="xs:string" name="employeeOrgUnit2Code" minOccurs="0"/>
													<xs:element type="xs:string" name="employeeOrgUnit3Code" minOccurs="0"/>
													<xs:element type="xs:string" name="employeeOrgUnit4Code" minOccurs="0"/>
													<xs:element type="xs:string" name="employeeOrgUnit5Code" minOccurs="0"/>
													<xs:element type="xs:string" name="employeeOrgUnit6Code" minOccurs="0"/>
													<xs:element type="xs:string" name="employeeOrgUnit1Value" minOccurs="0"/>
													<xs:element type="xs:string" name="employeeOrgUnit2Value" minOccurs="0"/>
													<xs:element type="xs:string" name="employeeOrgUnit3Value" minOccurs="0"/>
													<xs:element type="xs:string" name="employeeOrgUnit4Value" minOccurs="0"/>
													<xs:element type="xs:string" name="employeeOrgUnit5Value" minOccurs="0"/>
													<xs:element type="xs:string" name="employeeOrgUnit6Value" minOccurs="0"/>
													<xs:element type="xs:string" name="employeeCustom1Code" minOccurs="0"/>
													<xs:element type="xs:string" name="employeeCustom2Code" minOccurs="0"/>
													<xs:element type="xs:string" name="employeeCustom3Code" minOccurs="0"/>
													<xs:element type="xs:string" name="employeeCustom4Code" minOccurs="0"/>
													<xs:element type="xs:string" name="employeeCustom5Code" minOccurs="0"/>
													<xs:element type="xs:string" name="employeeCustom6Code" minOccurs="0"/>
													<xs:element type="xs:string" name="employeeCustom7Code" minOccurs="0"/>
													<xs:element type="xs:string" name="employeeCustom8Code" minOccurs="0"/>
													<xs:element type="xs:string" name="employeeCustom9Code" minOccurs="0"/>
													<xs:element type="xs:string" name="employeeCustom10Code" minOccurs="0"/>
													<xs:element type="xs:string" name="employeeCustom11Code" minOccurs="0"/>
													<xs:element type="xs:string" name="employeeCustom12Code" minOccurs="0"/>
													<xs:element type="xs:string" name="employeeCustom13Code" minOccurs="0"/>
													<xs:element type="xs:string" name="employeeCustom14Code" minOccurs="0"/>
													<xs:element type="xs:string" name="employeeCustom15Code" minOccurs="0"/>
													<xs:element type="xs:string" name="employeeCustom16Code" minOccurs="0"/>
													<xs:element type="xs:string" name="employeeCustom17Code" minOccurs="0"/>
													<xs:element type="xs:string" name="employeeCustom18Code" minOccurs="0"/>
													<xs:element type="xs:string" name="employeeCustom19Code" minOccurs="0"/>
													<xs:element type="xs:string" name="employeeCustom20Code" minOccurs="0"/>
													<xs:element type="xs:string" name="employeeCustom21Code" minOccurs="0"/>
													<xs:element type="xs:string" name="employeeCustom1Value" minOccurs="0"/>
													<xs:element type="xs:string" name="employeeCustom2Value" minOccurs="0"/>
													<xs:element type="xs:string" name="employeeCustom3Value" minOccurs="0"/>
													<xs:element type="xs:string" name="employeeCustom4Value" minOccurs="0"/>
													<xs:element type="xs:string" name="employeeCustom5Value" minOccurs="0"/>
													<xs:element type="xs:string" name="employeeCustom6Value" minOccurs="0"/>
													<xs:element type="xs:string" name="employeeCustom7Value" minOccurs="0"/>
													<xs:element type="xs:string" name="employeeCustom8Value" minOccurs="0"/>
													<xs:element type="xs:string" name="employeeCustom9Value" minOccurs="0"/>
													<xs:element type="xs:string" name="employeeCustom10Value" minOccurs="0"/>
													<xs:element type="xs:string" name="employeeCustom11Value" minOccurs="0"/>
													<xs:element type="xs:string" name="employeeCustom12Value" minOccurs="0"/>
													<xs:element type="xs:string" name="employeeCustom13Value" minOccurs="0"/>
													<xs:element type="xs:string" name="employeeCustom14Value" minOccurs="0"/>
													<xs:element type="xs:string" name="employeeCustom15Value" minOccurs="0"/>
													<xs:element type="xs:string" name="employeeCustom16Value" minOccurs="0"/>
													<xs:element type="xs:string" name="employeeCustom17Value" minOccurs="0"/>
													<xs:element type="xs:string" name="employeeCustom18Value" minOccurs="0"/>
													<xs:element type="xs:string" name="employeeCustom19Value" minOccurs="0"/>
													<xs:element type="xs:string" name="employeeCustom20Value" minOccurs="0"/>
													<xs:element type="xs:string" name="employeeCustom21Value" minOccurs="0"/>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
										<xs:element name="report" minOccurs="0">
											<xs:complexType>
												<xs:sequence>
													<xs:element type="xs:string" name="requestId" minOccurs="0" maxOccurs="unbounded"/>
													<xs:element type="xs:string" name="payrollPayIndicator" minOccurs="0"/>
													<xs:element type="xs:string" name="payrollPaymentClearingAccountCode" minOccurs="0"/>
													<xs:element type="xs:string" name="reportId" minOccurs="0"/>
													<xs:element type="xs:float" name="totalApprovedAmount" minOccurs="0"/>
													<xs:element type="xs:short" name="reportKey" minOccurs="0"/>
													<xs:element type="xs:string" name="ledgerCode" minOccurs="0"/>
													<xs:element type="xs:string" name="reportName" minOccurs="0"/>
													<xs:element type="xs:string" name="isTest" minOccurs="0"/>
													<xs:element type="xs:dateTime" name="reportStartDate" minOccurs="0"/>
													<xs:element type="xs:dateTime" name="reportEndDate" minOccurs="0"/>
													<xs:element type="xs:string" name="employeeCurrencyAlphaCode" minOccurs="0"/>
													<xs:element type="xs:float" name="cashAdvanceReturnsAmount" minOccurs="0"/>
													<xs:element type="xs:dateTime" name="reportSubmitDate" minOccurs="0"/>
													<xs:element type="xs:dateTime" name="reportUserDefinedDate" minOccurs="0"/>
													<xs:element type="xs:dateTime" name="reportPaymentProcessingDate" minOccurs="0"/>
													<xs:element type="xs:dateTime" name="reportCreationDate" minOccurs="0"/>
													<xs:element type="xs:string" name="reportCustom1Code" minOccurs="0"/>
													<xs:element type="xs:string" name="reportCustom2Code" minOccurs="0"/>
													<xs:element type="xs:string" name="reportCustom3Code" minOccurs="0"/>
													<xs:element type="xs:string" name="reportCustom4Code" minOccurs="0"/>
													<xs:element type="xs:string" name="reportCustom5Code" minOccurs="0"/>
													<xs:element type="xs:string" name="reportCustom6Code" minOccurs="0"/>
													<xs:element type="xs:string" name="reportCustom7Code" minOccurs="0"/>
													<xs:element type="xs:string" name="reportCustom8Code" minOccurs="0"/>
													<xs:element type="xs:string" name="reportCustom9Code" minOccurs="0"/>
													<xs:element type="xs:string" name="reportCustom10Code" minOccurs="0"/>
													<xs:element type="xs:string" name="reportCustom11Code" minOccurs="0"/>
													<xs:element type="xs:string" name="reportCustom12Code" minOccurs="0"/>
													<xs:element type="xs:string" name="reportCustom13Code" minOccurs="0"/>
													<xs:element type="xs:string" name="reportCustom14Code" minOccurs="0"/>
													<xs:element type="xs:string" name="reportCustom15Code" minOccurs="0"/>
													<xs:element type="xs:string" name="reportCustom16Code" minOccurs="0"/>
													<xs:element type="xs:string" name="reportCustom17Code" minOccurs="0"/>
													<xs:element type="xs:string" name="reportCustom18Code" minOccurs="0"/>
													<xs:element type="xs:string" name="reportCustom19Code" minOccurs="0"/>
													<xs:element type="xs:string" name="reportCustom20Code" minOccurs="0"/>
													<xs:element type="xs:string" name="reportCustom1Value" minOccurs="0"/>
													<xs:element type="xs:string" name="reportCustom2Value" minOccurs="0"/>
													<xs:element type="xs:string" name="reportCustom3Value" minOccurs="0"/>
													<xs:element type="xs:string" name="reportCustom4Value" minOccurs="0"/>
													<xs:element type="xs:string" name="reportCustom5Value" minOccurs="0"/>
													<xs:element type="xs:string" name="reportCustom6Value" minOccurs="0"/>
													<xs:element type="xs:string" name="reportCustom7Value" minOccurs="0"/>
													<xs:element type="xs:string" name="reportCustom8Value" minOccurs="0"/>
													<xs:element type="xs:string" name="reportCustom9Value" minOccurs="0"/>
													<xs:element type="xs:string" name="revisionNumber" minOccurs="0"/>
													<xs:element type="xs:string" name="homeCountryCode" minOccurs="0"/>
													<xs:element type="xs:string" name="versionId" minOccurs="0"/>
													<xs:element type="xs:string" name="reportCustom10Value" minOccurs="0"/>
													<xs:element type="xs:string" name="reportCustom11Value" minOccurs="0"/>
													<xs:element type="xs:string" name="reportCustom12Value" minOccurs="0"/>
													<xs:element type="xs:string" name="reportCustom13Value" minOccurs="0"/>
													<xs:element type="xs:string" name="reportCustom14Value" minOccurs="0"/>
													<xs:element type="xs:string" name="reportCustom15Value" minOccurs="0"/>
													<xs:element type="xs:string" name="reportCustom16Value" minOccurs="0"/>
													<xs:element type="xs:string" name="reportCustom17Value" minOccurs="0"/>
													<xs:element type="xs:string" name="reportCustom18Value" minOccurs="0"/>
													<xs:element type="xs:string" name="reportCustom19Value" minOccurs="0"/>
													<xs:element type="xs:string" name="reportCustom20Value" minOccurs="0"/>
													<xs:element type="xs:string" name="reportOrgUnit1Code" minOccurs="0"/>
													<xs:element type="xs:string" name="reportOrgUnit2Code" minOccurs="0"/>
													<xs:element type="xs:string" name="reportOrgUnit3Code" minOccurs="0"/>
													<xs:element type="xs:string" name="reportOrgUnit4Code" minOccurs="0"/>
													<xs:element type="xs:string" name="reportOrgUnit5Code" minOccurs="0"/>
													<xs:element type="xs:string" name="reportOrgUnit6Code" minOccurs="0"/>
													<xs:element type="xs:string" name="reportOrgUnit1Value" minOccurs="0"/>
													<xs:element type="xs:string" name="reportOrgUnit2Value" minOccurs="0"/>
													<xs:element type="xs:string" name="reportOrgUnit3Value" minOccurs="0"/>
													<xs:element type="xs:string" name="reportOrgUnit4Value" minOccurs="0"/>
													<xs:element type="xs:string" name="reportOrgUnit5Value" minOccurs="0"/>
													<xs:element type="xs:string" name="reportOrgUnit6Value" minOccurs="0"/>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
										<xs:element name="expenseEntry" minOccurs="0" maxOccurs="unbounded">
											<xs:complexType>
												<xs:sequence>
													<xs:element type="xs:string" name="entryOrgUnit6Value" minOccurs="0"/>
													<xs:element type="xs:string" name="entryLocationName" minOccurs="0"/>
													<xs:element type="xs:string" name="entryReceiptId" minOccurs="0"/>
													<xs:element type="xs:string" name="entryElectronicReceiptId" minOccurs="0"/>
													<xs:element type="xs:float" name="entryApprovedAmount" minOccurs="0"/>
													<xs:element type="xs:string" name="clearingAccountCode" minOccurs="0"/>
													<xs:element type="xs:string" name="cardProgramTypeCode" minOccurs="0"/>
													<xs:element type="xs:string" name="expensePayIndicator" minOccurs="0"/>
													<xs:element type="xs:string" name="entryId" minOccurs="0"/>
													<xs:element type="xs:string" name="entryDescription" minOccurs="0"/>
													<xs:element type="xs:string" name="entryVendorCode" minOccurs="0"/>
													<xs:element type="xs:string" name="entryCustom1Value" minOccurs="0"/>
													<xs:element type="xs:string" name="entryCustom2Value" minOccurs="0"/>
													<xs:element type="xs:string" name="entryCustom3Value" minOccurs="0"/>
													<xs:element type="xs:string" name="entryCustom4Value" minOccurs="0"/>
													<xs:element type="xs:string" name="entryCustom5Value" minOccurs="0"/>
													<xs:element type="xs:string" name="entryCustom6Value" minOccurs="0"/>
													<xs:element type="xs:string" name="entryCustom7Value" minOccurs="0"/>
													<xs:element type="xs:string" name="entryCustom8Value" minOccurs="0"/>
													<xs:element type="xs:string" name="entryCustom9Value" minOccurs="0"/>
													<xs:element type="xs:string" name="entryCustom10Value" minOccurs="0"/>
													<xs:element type="xs:string" name="entryCustom11Value" minOccurs="0"/>
													<xs:element type="xs:string" name="entryCustom12Value" minOccurs="0"/>
													<xs:element type="xs:string" name="entryCustom13Value" minOccurs="0"/>
													<xs:element type="xs:string" name="entryCustom14Value" minOccurs="0"/>
													<xs:element type="xs:string" name="entryCustom15Value" minOccurs="0"/>
													<xs:element type="xs:string" name="entryCustom16Value" minOccurs="0"/>
													<xs:element type="xs:string" name="entryCustom17Value" minOccurs="0"/>
													<xs:element type="xs:string" name="entryCustom18Value" minOccurs="0"/>
													<xs:element type="xs:string" name="entryCustom19Value" minOccurs="0"/>
													<xs:element type="xs:string" name="entryCustom20Value" minOccurs="0"/>
													<xs:element type="xs:string" name="entryCustom21Value" minOccurs="0"/>
													<xs:element type="xs:string" name="entryCustom22Value" minOccurs="0"/>
													<xs:element type="xs:string" name="entryCustom23Value" minOccurs="0"/>
													<xs:element type="xs:string" name="entryCustom24Value" minOccurs="0"/>
													<xs:element type="xs:string" name="entryCustom25Value" minOccurs="0"/>
													<xs:element type="xs:string" name="entryCustom26Value" minOccurs="0"/>
													<xs:element type="xs:string" name="entryCustom27Value" minOccurs="0"/>
													<xs:element type="xs:string" name="entryCustom28Value" minOccurs="0"/>
													<xs:element type="xs:string" name="entryCustom29Value" minOccurs="0"/>
													<xs:element type="xs:string" name="entryCustom30Value" minOccurs="0"/>
													<xs:element type="xs:string" name="entryCustom31Value" minOccurs="0"/>
													<xs:element type="xs:string" name="entryCustom32Value" minOccurs="0"/>
													<xs:element type="xs:string" name="entryCustom33Value" minOccurs="0"/>
													<xs:element type="xs:string" name="entryCustom34Value" minOccurs="0"/>
													<xs:element type="xs:string" name="entryCustom35Value" minOccurs="0"/>
													<xs:element type="xs:string" name="entryCustom36Value" minOccurs="0"/>
													<xs:element type="xs:string" name="entryCustom37Value" minOccurs="0"/>
													<xs:element type="xs:string" name="entryCustom38Value" minOccurs="0"/>
													<xs:element type="xs:string" name="entryCustom39Value" minOccurs="0"/>
													<xs:element type="xs:string" name="entryCustom40Value" minOccurs="0"/>
													<xs:element type="xs:string" name="entryOrgUnit1Value" minOccurs="0"/>
													<xs:element type="xs:string" name="entryOrgUnit2Value" minOccurs="0"/>
													<xs:element type="xs:string" name="entryOrgUnit3Value" minOccurs="0"/>
													<xs:element type="xs:string" name="entryOrgUnit4Value" minOccurs="0"/>
													<xs:element type="xs:string" name="entryOrgUnit5Value" minOccurs="0"/>
													<xs:element type="xs:string" name="offsetPayType" minOccurs="0"/>
													<xs:element type="xs:string" name="entryCountryCode" minOccurs="0"/>
													<xs:element type="xs:string" name="entryUuid" minOccurs="0"/>
													<xs:element type="xs:string" name="entrySupplierTaxID" minOccurs="0"/>
													<xs:element type="xs:string" name="entryCustom1Code" minOccurs="0"/>
													<xs:element type="xs:string" name="entryCustom2Code" minOccurs="0"/>
													<xs:element type="xs:string" name="entryCustom3Code" minOccurs="0"/>
													<xs:element type="xs:string" name="entryCustom4Code" minOccurs="0"/>
													<xs:element type="xs:string" name="entryCustom5Code" minOccurs="0"/>
													<xs:element type="xs:string" name="entryCustom6Code" minOccurs="0"/>
													<xs:element type="xs:string" name="entryCustom7Code" minOccurs="0"/>
													<xs:element type="xs:string" name="entryCustom8Code" minOccurs="0"/>
													<xs:element type="xs:string" name="entryCustom9Code" minOccurs="0"/>
													<xs:element type="xs:string" name="entryCustom10Code" minOccurs="0"/>
													<xs:element type="xs:string" name="entryCustom11Code" minOccurs="0"/>
													<xs:element type="xs:string" name="entryCustom12Code" minOccurs="0"/>
													<xs:element type="xs:string" name="entryCustom13Code" minOccurs="0"/>
													<xs:element type="xs:string" name="entryCustom14Code" minOccurs="0"/>
													<xs:element type="xs:string" name="entryCustom15Code" minOccurs="0"/>
													<xs:element type="xs:string" name="entryCustom16Code" minOccurs="0"/>
													<xs:element type="xs:string" name="entryCustom17Code" minOccurs="0"/>
													<xs:element type="xs:string" name="entryCustom18Code" minOccurs="0"/>
													<xs:element type="xs:string" name="entryCustom19Code" minOccurs="0"/>
													<xs:element type="xs:string" name="entryCustom20Code" minOccurs="0"/>
													<xs:element type="xs:string" name="entryCustom21Code" minOccurs="0"/>
													<xs:element type="xs:string" name="entryCustom22Code" minOccurs="0"/>
													<xs:element type="xs:string" name="entryCustom23Code" minOccurs="0"/>
													<xs:element type="xs:string" name="entryCustom24Code" minOccurs="0"/>
													<xs:element type="xs:string" name="entryCustom25Code" minOccurs="0"/>
													<xs:element type="xs:string" name="entryCustom26Code" minOccurs="0"/>
													<xs:element type="xs:string" name="entryCustom27Code" minOccurs="0"/>
													<xs:element type="xs:string" name="entryCustom28Code" minOccurs="0"/>
													<xs:element type="xs:string" name="entryCustom29Code" minOccurs="0"/>
													<xs:element type="xs:string" name="entryCustom30Code" minOccurs="0"/>
													<xs:element type="xs:string" name="entryCustom31Code" minOccurs="0"/>
													<xs:element type="xs:string" name="entryCustom32Code" minOccurs="0"/>
													<xs:element type="xs:string" name="entryCustom33Code" minOccurs="0"/>
													<xs:element type="xs:string" name="entryCustom34Code" minOccurs="0"/>
													<xs:element type="xs:string" name="entryCustom35Code" minOccurs="0"/>
													<xs:element type="xs:string" name="entryCustom36Code" minOccurs="0"/>
													<xs:element type="xs:string" name="entryCustom37Code" minOccurs="0"/>
													<xs:element type="xs:string" name="entryCustom38Code" minOccurs="0"/>
													<xs:element type="xs:string" name="entryCustom39Code" minOccurs="0"/>
													<xs:element type="xs:string" name="entryCustom40Code" minOccurs="0"/>
													<xs:element type="xs:float" name="reportEntryTransactionAmount" minOccurs="0"/>
													<xs:element type="xs:string" name="entryLocationCityName" minOccurs="0"/>
													<xs:element type="xs:string" name="entryCountrySubCode" minOccurs="0"/>
													<xs:element type="xs:string" name="entryIsBillable" minOccurs="0"/>
													<xs:element type="xs:string" name="entryOrgUnit1Code" minOccurs="0"/>
													<xs:element type="xs:string" name="entryOrgUnit2Code" minOccurs="0"/>
													<xs:element type="xs:string" name="entryOrgUnit3Code" minOccurs="0"/>
													<xs:element type="xs:string" name="entryOrgUnit4Code" minOccurs="0"/>
													<xs:element type="xs:string" name="entryOrgUnit5Code" minOccurs="0"/>
													<xs:element type="xs:string" name="entryOrgUnit6Code" minOccurs="0"/>
													<xs:element type="xs:string" name="cardAccountID" minOccurs="0"/>
													<xs:element type="xs:string" name="cardTransactionID" minOccurs="0"/>
													<xs:element type="xs:float" name="cardTransactionAmount" minOccurs="0"/>
													<xs:element type="xs:string" name="cardTransactionCurrency" minOccurs="0"/>
													<xs:element type="xs:float" name="cardTransactionPostedAmount" minOccurs="0"/>
													<xs:element type="xs:string" name="cardTransactionPostedCurrency" minOccurs="0"/>
													<xs:element name="allocation" minOccurs="0" maxOccurs="unbounded">
														<xs:complexType>
															<xs:sequence>
																<xs:element type="xs:float" name="allocationPercentage" minOccurs="0"/>
																<xs:element type="xs:string" name="allocationId" minOccurs="0"/>
																<xs:element type="xs:string" name="allocationCustom1Code" minOccurs="0"/>
																<xs:element type="xs:string" name="allocationCustom2Code" minOccurs="0"/>
																<xs:element type="xs:string" name="allocationCustom3Code" minOccurs="0"/>
																<xs:element type="xs:string" name="allocationCustom4Code" minOccurs="0"/>
																<xs:element type="xs:string" name="allocationCustom5Code" minOccurs="0"/>
																<xs:element type="xs:string" name="allocationCustom6Code" minOccurs="0"/>
																<xs:element type="xs:string" name="allocationCustom7Code" minOccurs="0"/>
																<xs:element type="xs:string" name="allocationCustom8Code" minOccurs="0"/>
																<xs:element type="xs:string" name="allocationCustom9Code" minOccurs="0"/>
																<xs:element type="xs:string" name="allocationCustom10Code" minOccurs="0"/>
																<xs:element type="xs:string" name="allocationCustom11Code" minOccurs="0"/>
																<xs:element type="xs:string" name="allocationCustom12Code" minOccurs="0"/>
																<xs:element type="xs:string" name="allocationCustom13Code" minOccurs="0"/>
																<xs:element type="xs:string" name="allocationCustom14Code" minOccurs="0"/>
																<xs:element type="xs:string" name="allocationCustom15Code" minOccurs="0"/>
																<xs:element type="xs:string" name="allocationCustom16Code" minOccurs="0"/>
																<xs:element type="xs:string" name="allocationCustom17Code" minOccurs="0"/>
																<xs:element type="xs:string" name="allocationCustom18Code" minOccurs="0"/>
																<xs:element type="xs:string" name="allocationCustom19Code" minOccurs="0"/>
																<xs:element type="xs:string" name="allocationCustom20Code" minOccurs="0"/>
																<xs:element type="xs:string" name="allocationCustom1Value" minOccurs="0"/>
																<xs:element type="xs:string" name="allocationCustom2Value" minOccurs="0"/>
																<xs:element type="xs:string" name="allocationCustom3Value" minOccurs="0"/>
																<xs:element type="xs:string" name="allocationCustom4Value" minOccurs="0"/>
																<xs:element type="xs:string" name="allocationCustom5Value" minOccurs="0"/>
																<xs:element type="xs:string" name="allocationCustom6Value" minOccurs="0"/>
																<xs:element type="xs:string" name="allocationCustom7Value" minOccurs="0"/>
																<xs:element type="xs:string" name="allocationCustom8Value" minOccurs="0"/>
																<xs:element type="xs:string" name="allocationCustom9Value" minOccurs="0"/>
																<xs:element type="xs:string" name="allocationCustom10Value" minOccurs="0"/>
																<xs:element type="xs:string" name="allocationCustom11Value" minOccurs="0"/>
																<xs:element type="xs:string" name="allocationCustom12Value" minOccurs="0"/>
																<xs:element type="xs:string" name="allocationCustom13Value" minOccurs="0"/>
																<xs:element type="xs:string" name="allocationCustom14Value" minOccurs="0"/>
																<xs:element type="xs:string" name="allocationCustom15Value" minOccurs="0"/>
																<xs:element type="xs:string" name="allocationCustom16Value" minOccurs="0"/>
																<xs:element type="xs:string" name="allocationCustom17Value" minOccurs="0"/>
																<xs:element type="xs:string" name="allocationCustom18Value" minOccurs="0"/>
																<xs:element type="xs:string" name="allocationCustom19Value" minOccurs="0"/>
																<xs:element type="xs:string" name="allocationCustom20Value" minOccurs="0"/>
																<xs:element name="journal" minOccurs="0" maxOccurs="unbounded">
																	<xs:complexType>
																		<xs:sequence>
																			<xs:element type="xs:float" name="amountGross" minOccurs="0"/>
																			<xs:element type="xs:string" name="amountGrossCard" minOccurs="0"/>
																			<xs:element type="xs:string" name="journalAccountCode" minOccurs="0"/>
																			<xs:element type="xs:string" name="journalPayee" minOccurs="0"/>
																			<xs:element type="xs:string" name="journalPayer" minOccurs="0"/>
																			<xs:element type="xs:string" name="cardTransactionReferenceNumber" minOccurs="0"/>
																			<xs:element type="xs:float" name="amountNetOfReclaim" minOccurs="0"/>
																			<xs:element type="xs:float" name="amountNetOfTax" minOccurs="0"/>
																			<xs:element type="xs:string" name="taxGuid" minOccurs="0" maxOccurs="unbounded"/>
																			<xs:element type="xs:string" name="accountingTransactionType" minOccurs="0"/>
																		</xs:sequence>
																	</xs:complexType>
																</xs:element>
																<xs:element name="tax" minOccurs="0" maxOccurs="unbounded">
																	<xs:complexType>
																		<xs:sequence>
																			<xs:element type="xs:string" name="taxSource" minOccurs="0"/>
																			<xs:element type="xs:float" name="amountTax" minOccurs="0"/>
																			<xs:element type="xs:string" name="taxReclaimCode" minOccurs="0"/>
																			<xs:element type="xs:string" name="taxCode" minOccurs="0"/>
																			<xs:element type="xs:string" name="nonDomesticCode" minOccurs="0"/>
																			<xs:element type="xs:string" name="locationCountryCode" minOccurs="0"/>
																			<xs:element type="xs:string" name="taxAuthorityLabel" minOccurs="0"/>
																			<xs:element type="xs:float" name="amountReclaim" minOccurs="0"/>
																			<xs:element type="xs:string" name="locationCountrySubCode" minOccurs="0"/>
																			<xs:element type="xs:string" name="taxGuid" minOccurs="0"/>
																		</xs:sequence>
																	</xs:complexType>
																</xs:element>
															</xs:sequence>
														</xs:complexType>
													</xs:element>
													<xs:element type="xs:dateTime" name="cardStatementPeriodStartDate" minOccurs="0"/>
													<xs:element type="xs:dateTime" name="cardStatementPeriodEndDate" minOccurs="0"/>
													<xs:element type="xs:string" name="reportEntryPatKey" minOccurs="0"/>
													<xs:element type="xs:string" name="entryReceiptType" minOccurs="0"/>
													<xs:element type="xs:string" name="entryExchangeRateDirection" minOccurs="0"/>
													<xs:element type="xs:string" name="entryIsPersonal" minOccurs="0"/>
													<xs:element type="xs:string" name="entryVendorDescription" minOccurs="0"/>
													<xs:element type="xs:short" name="legacyEntryId" minOccurs="0"/>
													<xs:element type="xs:string" name="liabilityAccountCode" minOccurs="0"/>
													<xs:element type="xs:string" name="expenseTypeName" minOccurs="0"/>
													<xs:element type="xs:dateTime" name="entryDate" minOccurs="0"/>
													<xs:element type="xs:string" name="entryCurrAlphaCode" minOccurs="0"/>
													<xs:element type="xs:float" name="entryExchangeRate" minOccurs="0"/>
													<xs:element type="xs:string" name="expenseTypeCode" minOccurs="0"/>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
										<xs:element name="cashAdvanceApplication" minOccurs="0" maxOccurs="unbounded">
											<xs:complexType>
												<xs:sequence>
													<xs:element type="xs:string" name="cashAdvanceId" minOccurs="0"/>
													<xs:element type="xs:string" name="cashAdvanceClearingAccountCode" minOccurs="0"/>
													<xs:element type="xs:float" name="cashAdvanceApplicationAmount" minOccurs="0"/>
													<xs:element type="xs:string" name="cashAdvanceTransactionType" minOccurs="0"/>
												</xs:sequence>
											</xs:complexType>							  
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element type="xs:string" name="docStatus" minOccurs="0"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element type="xs:string" name="offset" minOccurs="0"/>
				<xs:element type="xs:string" name="nextPage" minOccurs="0"/>
				<xs:element type="xs:short" name="numberReturned" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>