Resources/schemas/Xsd/SAP_Commerce_Cloud_Integration_with_SAP_CPQ - CallidusPrice.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
<xs:element name="UpsertPricebook">
    <xs:complexType>
      <xs:sequence>
        <xs:element type="xs:string" name="username" minOccurs="0"/>
        <xs:element type="xs:string" name="password" minOccurs="0"/>
        <xs:element type="xs:string" name="action" minOccurs="0"/>
        <xs:element type="xs:string" name="pricebookCode" minOccurs="0"/>
        <xs:element name="dataXML">
		<xs:complexType>
		<xs:sequence>
		<xs:element name="Root">
  <xs:complexType>
    <xs:sequence>
      <xs:element name="Columns">
        <xs:complexType>
          <xs:sequence>
            <xs:element type="xs:string" name="Column" maxOccurs="10" minOccurs="0"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="Rows">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="Row">
              <xs:complexType>
                <xs:sequence>
                  <xs:element type="xs:string" name="Value" maxOccurs="10" minOccurs="0"/>
                </xs:sequence>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
    <xs:attribute type="xs:string" name="OnError"/>
    <xs:attribute type="xs:string" name="Report"/>
  </xs:complexType>
</xs:element>
		</xs:sequence>
    </xs:complexType>
  </xs:element>
 </xs:sequence>
</xs:complexType>
</xs:element>
</xs:schema>