Resources/schemas/Xsd/SAP_Commerce_Cloud_Integration_with_SAP_CPQ - quoteStatus.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="SAPCpiOutboundQuoteStatuses">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="SAPCpiOutboundQuoteStatus">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="headerComments">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="SAPCpiOutboundQuoteComment" maxOccurs="unbounded" minOccurs="0">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element type="xs:string" name="text"/>
                          <xs:element type="xs:string" name="email"/>
                          <xs:element type="xs:short" name="integrationKey"/>
                          <xs:element type="xs:string" name="b2bUnitName"/>
                          <xs:element type="xs:string" name="userName"/>
                          <xs:element type="xs:short" name="commentId"/>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element type="xs:string" name="quoteId"/>
			  <xs:element type="xs:string" name="orderId"/>
			  <xs:element type="xs:string" name="externalQuoteId"/>
			  <xs:element type="xs:string" name="externalActionName"/>
              <xs:element type="xs:string" name="status"/>
              <xs:element type="xs:string" name="integrationKey"/>
              <xs:element name="itemComments">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="SAPCpiOutboundQuoteComment" maxOccurs="unbounded" minOccurs="0">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element type="xs:string" name="text"/>
                          <xs:element type="xs:byte" name="entryNumber"/>
                          <xs:element type="xs:string" name="email"/>
                          <xs:element type="xs:short" name="integrationKey"/>
                          <xs:element type="xs:string" name="b2bUnitName"/>
                          <xs:element type="xs:string" name="userName"/>
                          <xs:element type="xs:short" name="commentId"/>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>