Resources/schemas/Xsd/SAP_ERP_Integration_with_SAP_Build_Process_Automation - BAPI_PR_CHANGE.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="BAPI_PR_CHANGE">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="NUMBER" />
        <xs:element maxOccurs="unbounded" name="PRITEM">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="DELETE_IND" />
              <xs:element name="AGMT_ITEM" type="xs:unsignedByte" />
              <xs:element name="FMFGUS_KEY" />
              <xs:element name="MATERIAL_EXTERNAL" />
              <xs:element name="PART_INV" />
              <xs:element name="FUNC_AREA_LONG" />
              <xs:element name="INFO_REC" type="xs:unsignedLong" />
              <xs:element name="FOUND_CTR" />
              <xs:element name="VEND_MAT" />
              <xs:element name="CONF_MATL_VERSION" />
              <xs:element name="CONF_MATL" />
              <xs:element name="REL_IND" />
              <xs:element name="DES_VENDOR" type="xs:string" />
              <xs:element name="ACCTASSCAT" />
              <xs:element name="REV_LEV" />
              <xs:element name="INT_OBJ_NO" type="xs:unsignedByte" />
              <xs:element name="CTRL_IND" />
              <xs:element name="CURRENCY_ISO" type="xs:string" />
              <xs:element name="PUR_MAT_VERSION" />
              <xs:element name="CH_ON" type="xs:date" />
              <xs:element name="GRANT_NBR" />
              <xs:element name="TRACKINGNO" />
              <xs:element name="SHORT_TEXT" type="xs:string" />
              <xs:element name="SHORTAGE" type="xs:decimal" />
              <xs:element name="REL_GROUP" />
              <xs:element name="PREQ_DATE" type="xs:date" />
              <xs:element name="ADVANCE" />
              <xs:element name="CONF_MATL_GUID" />
              <xs:element name="PUR_MAT" />
              <xs:element name="SETTLITMNO" type="xs:unsignedByte" />
              <xs:element name="PURCH_ORG" type="xs:unsignedByte" />
              <xs:element name="PO_ITEM" type="xs:unsignedByte" />
              <xs:element name="CMMTTD_QTY" type="xs:decimal" />
              <xs:element name="RES_REQ_ID" />
              <xs:element name="QUOTA_ARR" />
              <xs:element name="MFR_NO_EXT" />
              <xs:element name="ASSIGNED" />
              <xs:element name="ITEM_CAT_EXT" />
              <xs:element name="RESERV_NO" type="xs:unsignedByte" />
              <xs:element name="MATERIAL_GUID" />
              <xs:element name="GR_NON_VAL" />
              <xs:element name="MATERIAL" type="xs:string" />
              <xs:element name="LAST_RESUB" type="xs:string" />
              <xs:element name="RES_ITEM" type="xs:unsignedByte" />
              <xs:element name="ITEM_CAT" type="xs:unsignedByte" />
              <xs:element name="CREATE_IND" type="xs:string" />
              <xs:element name="FUNC_AREA" />
              <xs:element name="NO_RESUB" type="xs:unsignedByte" />
              <xs:element name="SPSTCK_PHY" />
              <xs:element name="MATERIAL_LONG" />
              <xs:element name="PUR_MAT_LONG" />
              <xs:element name="GENERAL_RELEASE" />
              <xs:element name="SUBJ_TO_R" />
              <xs:element name="REL_STRAT" />
              <xs:element name="QUOTARRITM" type="xs:unsignedByte" />
              <xs:element name="VERSION" />
              <xs:element name="PUR_MAT_GUID" />
              <xs:element name="PREQ_UNIT_ISO" type="xs:string" />
              <xs:element name="SETRESERNO" type="xs:unsignedByte" />
              <xs:element name="MANU_MAT" />
              <xs:element name="MFR_NO" />
              <xs:element name="CONSUMPT" />
              <xs:element name="QUANTITY" type="xs:decimal" />
              <xs:element name="SPEC_STOCK" />
              <xs:element name="KANBAN_IND" />
              <xs:element name="REL_DATE" type="xs:date" />
              <xs:element name="GR_PR_TIME" type="xs:unsignedByte" />
              <xs:element name="C_AMT_BAPI" type="xs:decimal" />
              <xs:element name="DOC_TYPE" type="xs:string" />
              <xs:element name="VAL_TYPE" />
              <xs:element name="ORDERED" type="xs:decimal" />
              <xs:element name="MANUF_PROF" />
              <xs:element name="CMMT_ITEM" />
              <xs:element name="RESUBMIS" type="xs:unsignedByte" />
              <xs:element name="GR_QTY" type="xs:decimal" />
              <xs:element name="PUR_GROUP" type="xs:unsignedByte" />
              <xs:element name="CMMT_ITEM_LONG" />
              <xs:element name="REASON_BLOCKING" />
              <xs:element name="PREQ_NO" type="xs:unsignedInt" />
              <xs:element name="CREATED_BY" type="xs:string" />
              <xs:element name="PREQ_ITEM" type="xs:unsignedByte" />
              <xs:element name="UNIT" type="xs:string" />
              <xs:element name="PO_UNIT_ISO" />
              <xs:element name="CMMTTDDATE" type="xs:string" />
              <xs:element name="STORE_LOC" />
              <xs:element name="FIXED" />
              <xs:element name="AGREEMENT" />
              <xs:element name="PRICE_UNIT" type="xs:unsignedByte" />
              <xs:element name="MAT_GRP" type="xs:unsignedByte" />
              <xs:element name="MATERIAL_VERSION" />
              <xs:element name="DEL_DATCAT" type="xs:unsignedByte" />
              <xs:element name="PO_NUMBER" />
              <xs:element name="COMMITMENT" />
              <xs:element name="CONF_MATL_LONG" />
              <xs:element name="DELIV_DATE" type="xs:date" />
              <xs:element name="GR_IND" />
              <xs:element name="FUND_LONG" />
              <xs:element name="PLANT" type="xs:unsignedByte" />
              <xs:element name="CLOSED" />
              <xs:element name="FIXED_VEND" type="xs:string" />
              <xs:element name="CONFIG_ORG" />
              <xs:element name="PUR_MAT_EXTERNAL" />
              <xs:element name="REQ_BLOCKED" type="xs:unsignedByte" />
              <xs:element name="PREQ_NAME" type="xs:string" />
              <xs:element name="CHANGEABLE" />
              <xs:element name="PROC_STAT" type="xs:string" />
              <xs:element name="PREQ_UNIT" />
              <xs:element name="REL_STATUS" />
              <xs:element name="BATCH" />
              <xs:element name="CHANGE_ID" />
              <xs:element name="DOC_CAT" type="xs:string" />
              <xs:element name="SUPPL_PLNT" />
              <xs:element name="CURRENCY" type="xs:string" />
              <xs:element name="RES_DOC" />
              <xs:element name="FUND" />
              <xs:element name="PROCURING_PLANT" />
              <xs:element name="DEL_DATCAT_EXT" type="xs:string" />
              <xs:element name="PO_UNIT" />
              <xs:element name="BUDGET_PERIOD" />
              <xs:element name="IR_IND" />
              <xs:element name="MRP_CONTR" />
              <xs:element name="PO_DATE" type="xs:string" />
              <xs:element name="PROMOTION" />
              <xs:element name="DISTRIB" />
              <xs:element name="PCKG_NO" type="xs:unsignedByte" />
              <xs:element name="BOMEXPL_NO" />
              <xs:element name="CONF_MATL_EXTERNAL" />
              <xs:element name="PO_PRICE" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element maxOccurs="unbounded" name="PRITEMX">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="DELETE_IND" type="xs:string" />
              <xs:element name="AGMT_ITEM" type="xs:string" />
              <xs:element name="FMFGUS_KEY" type="xs:string" />
              <xs:element name="MATERIAL_EXTERNAL" type="xs:string" />
              <xs:element name="PART_INV" type="xs:string" />
              <xs:element name="FUNC_AREA_LONG" type="xs:string" />
              <xs:element name="INFO_REC" type="xs:string" />
              <xs:element name="FOUND_CTR" type="xs:string" />
              <xs:element name="VEND_MAT" type="xs:string" />
              <xs:element name="CONF_MATL_VERSION" type="xs:string" />
              <xs:element name="CONF_MATL" type="xs:string" />
              <xs:element name="REL_IND" type="xs:string" />
              <xs:element name="DES_VENDOR" type="xs:string" />
              <xs:element name="ACCTASSCAT" type="xs:string" />
              <xs:element name="REV_LEV" type="xs:string" />
              <xs:element name="INT_OBJ_NO" type="xs:string" />
              <xs:element name="CTRL_IND" type="xs:string" />
              <xs:element name="CURRENCY_ISO" type="xs:string" />
              <xs:element name="PUR_MAT_VERSION" type="xs:string" />
              <xs:element name="CH_ON" type="xs:string" />
              <xs:element name="GRANT_NBR" type="xs:string" />
              <xs:element name="TRACKINGNO" type="xs:string" />
              <xs:element name="SHORT_TEXT" type="xs:string" />
              <xs:element name="SHORTAGE" type="xs:string" />
              <xs:element name="REL_GROUP" type="xs:string" />
              <xs:element name="PREQ_DATE" type="xs:string" />
              <xs:element name="ADVANCE" type="xs:string" />
              <xs:element name="CONF_MATL_GUID" type="xs:string" />
              <xs:element name="PUR_MAT" type="xs:string" />
              <xs:element name="SETTLITMNO" type="xs:string" />
              <xs:element name="PURCH_ORG" type="xs:string" />
              <xs:element name="PO_ITEM" type="xs:string" />
              <xs:element name="CMMTTD_QTY" type="xs:string" />
              <xs:element name="RES_REQ_ID" type="xs:string" />
              <xs:element name="QUOTA_ARR" type="xs:string" />
              <xs:element name="MFR_NO_EXT" type="xs:string" />
              <xs:element name="ASSIGNED" type="xs:string" />
              <xs:element name="ITEM_CAT_EXT" type="xs:string" />
              <xs:element name="RESERV_NO" type="xs:string" />
              <xs:element name="MATERIAL_GUID" type="xs:string" />
              <xs:element name="GR_NON_VAL" type="xs:string" />
              <xs:element name="MATERIAL" type="xs:string" />
              <xs:element name="LAST_RESUB" type="xs:string" />
              <xs:element name="RES_ITEM" type="xs:string" />
              <xs:element name="ITEM_CAT" type="xs:string" />
              <xs:element name="CREATE_IND" type="xs:string" />
              <xs:element name="FUNC_AREA" type="xs:string" />
              <xs:element name="NO_RESUB" type="xs:string" />
              <xs:element name="SPSTCK_PHY" type="xs:string" />
              <xs:element name="MATERIAL_LONG" type="xs:string" />
              <xs:element name="PUR_MAT_LONG" type="xs:string" />
              <xs:element name="GENERAL_RELEASE" type="xs:string" />
              <xs:element name="SUBJ_TO_R" type="xs:string" />
              <xs:element name="REL_STRAT" type="xs:string" />
              <xs:element name="QUOTARRITM" type="xs:string" />
              <xs:element name="VERSION" type="xs:string" />
              <xs:element name="PUR_MAT_GUID" type="xs:string" />
              <xs:element name="PREQ_UNIT_ISO" type="xs:string" />
              <xs:element name="SETRESERNO" type="xs:string" />
              <xs:element name="MANU_MAT" type="xs:string" />
              <xs:element name="MFR_NO" type="xs:string" />
              <xs:element name="CONSUMPT" type="xs:string" />
              <xs:element name="QUANTITY" type="xs:string" />
              <xs:element name="SPEC_STOCK" type="xs:string" />
              <xs:element name="KANBAN_IND" type="xs:string" />
              <xs:element name="REL_DATE" type="xs:string" />
              <xs:element name="GR_PR_TIME" type="xs:string" />
              <xs:element name="C_AMT_BAPI" type="xs:string" />
              <xs:element name="DOC_TYPE" type="xs:string" />
              <xs:element name="VAL_TYPE" type="xs:string" />
              <xs:element name="ORDERED" type="xs:string" />
              <xs:element name="MANUF_PROF" type="xs:string" />
              <xs:element name="CMMT_ITEM" type="xs:string" />
              <xs:element name="RESUBMIS" type="xs:string" />
              <xs:element name="GR_QTY" type="xs:string" />
              <xs:element name="PUR_GROUP" type="xs:string" />
              <xs:element name="CMMT_ITEM_LONG" type="xs:string" />
              <xs:element name="REASON_BLOCKING" type="xs:string" />
              <xs:element name="PREQ_NO" type="xs:string" />
              <xs:element name="CREATED_BY" type="xs:string" />
              <xs:element name="PREQ_ITEM" type="xs:string" />
              <xs:element name="UNIT" type="xs:string" />
              <xs:element name="PO_UNIT_ISO" type="xs:string" />
              <xs:element name="CMMTTDDATE" type="xs:string" />
              <xs:element name="STORE_LOC" type="xs:string" />
              <xs:element name="FIXED" type="xs:string" />
              <xs:element name="AGREEMENT" type="xs:string" />
              <xs:element name="PRICE_UNIT" type="xs:string" />
              <xs:element name="MAT_GRP" type="xs:string" />
              <xs:element name="MATERIAL_VERSION" type="xs:string" />
              <xs:element name="DEL_DATCAT" type="xs:string" />
              <xs:element name="PO_NUMBER" type="xs:string" />
              <xs:element name="COMMITMENT" type="xs:string" />
              <xs:element name="CONF_MATL_LONG" type="xs:string" />
              <xs:element name="DELIV_DATE" type="xs:string" />
              <xs:element name="GR_IND" type="xs:string" />
              <xs:element name="FUND_LONG" type="xs:string" />
              <xs:element name="PLANT" type="xs:string" />
              <xs:element name="CLOSED" type="xs:string" />
              <xs:element name="FIXED_VEND" type="xs:string" />
              <xs:element name="CONFIG_ORG" type="xs:string" />
              <xs:element name="PUR_MAT_EXTERNAL" type="xs:string" />
              <xs:element name="REQ_BLOCKED" type="xs:string" />
              <xs:element name="PREQ_NAME" type="xs:string" />
              <xs:element name="CHANGEABLE" type="xs:string" />
              <xs:element name="PROC_STAT" type="xs:string" />
              <xs:element name="PREQ_UNIT" type="xs:string" />
              <xs:element name="REL_STATUS" type="xs:string" />
              <xs:element name="BATCH" type="xs:string" />
              <xs:element name="CHANGE_ID" type="xs:string" />
              <xs:element name="DOC_CAT" type="xs:string" />
              <xs:element name="SUPPL_PLNT" type="xs:string" />
              <xs:element name="CURRENCY" type="xs:string" />
              <xs:element name="RES_DOC" type="xs:string" />
              <xs:element name="FUND" type="xs:string" />
              <xs:element name="PROCURING_PLANT" type="xs:string" />
              <xs:element name="DEL_DATCAT_EXT" type="xs:string" />
              <xs:element name="PO_UNIT" type="xs:string" />
              <xs:element name="BUDGET_PERIOD" type="xs:string" />
              <xs:element name="IR_IND" type="xs:string" />
              <xs:element name="MRP_CONTR" type="xs:string" />
              <xs:element name="PO_DATE" type="xs:string" />
              <xs:element name="PROMOTION" type="xs:string" />
              <xs:element name="DISTRIB" type="xs:string" />
              <xs:element name="PCKG_NO" type="xs:string" />
              <xs:element name="BOMEXPL_NO" type="xs:string" />
              <xs:element name="CONF_MATL_EXTERNAL" type="xs:string" />
              <xs:element name="PO_PRICE" type="xs:string" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>