Resources/schemas/Xsd/SAP_Build_Process_Automation_Integration_with_SAP_S-4HANA_for_Accrual_Object_Creation_Approval - inputRFC.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="Response">
		<xs:complexType>
			<xs:sequence>
	<xs:element name="E_OUTPUT">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="1" maxOccurs="unbounded" name="item">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="USER_ID" type="xs:string" />
              <xs:element name="ENAME" type="xs:string" />
              <xs:element name="EMAIL_ID" type="xs:string" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="E_STATUS" type="xs:string" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
