Resources/schemas/Xsd/SAP_Hybris_Cloud_for_Customer_Integration_with_SAP_Hybris_as_a_Service - C4C-Account-1.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:element name="Account" type="Account"/>

  <xs:element name="AccountAddress" type="AccountAddress"/>

  <xs:element name="AccountAttachment" type="AccountAttachment"/>

  <xs:element name="AccountContactCommunicationData" type="AccountContactCommunicationData"/>

  <xs:element name="AccountContactRelationship" type="AccountContactRelationship"/>

  <xs:element name="AccountContacts" type="AccountContacts"/>

  <xs:element name="AccountNotes" type="AccountNotes"/>

  <xs:element name="AccountRole" type="AccountRole"/>

  <xs:element name="AccountSalesData" type="AccountSalesData"/>

  <xs:element name="AccountSalesGroupName" type="AccountSalesGroupName"/>

  <xs:element name="AccountSalesOfficeName" type="AccountSalesOfficeName"/>

  <xs:element name="AccountSalesOrganisationName" type="AccountSalesOrganisationName"/>

  <xs:element name="AccountTeam" type="AccountTeam"/>

  <xs:element name="AccountTeamAddress" type="AccountTeamAddress"/>

  <xs:element name="ExternalIDMapping" type="ExternalIDMapping"/>

  <xs:complexType name="Account">
    <xs:sequence>
      <xs:element name="ABCClassificationCode" type="xs:string" minOccurs="0"/>
      <xs:element name="ABCClassificationCodeText" type="xs:string" minOccurs="0"/>
      <xs:element name="AccountAddress" type="AccountAddress" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="AccountAttachment" type="AccountAttachment" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="AccountContactRelationship" type="AccountContactRelationship" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="AccountFormattedName" type="xs:string" minOccurs="0"/>
      <xs:element name="AccountID" type="xs:string" minOccurs="0"/>
      <xs:element name="AccountName" type="xs:string" minOccurs="0"/>
      <xs:element name="AccountName2" type="xs:string" minOccurs="0"/>
      <xs:element name="AccountName3" type="xs:string" minOccurs="0"/>
      <xs:element name="AccountName4" type="xs:string" minOccurs="0"/>
      <xs:element name="AccountNotes" type="AccountNotes" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="AccountRole" type="AccountRole" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="AccountSalesData" type="AccountSalesData" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="AccountTeam" type="AccountTeam" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="AdditionalStreetPrefixName" type="xs:string" minOccurs="0"/>
      <xs:element name="AdditionalStreetSuffixName" type="xs:string" minOccurs="0"/>
      <xs:element name="BuildingID" type="xs:string" minOccurs="0"/>
      <xs:element name="CareOfName" type="xs:string" minOccurs="0"/>
      <xs:element name="CategoryCode" type="xs:string" minOccurs="0"/>
      <xs:element name="CategoryCodeText" type="xs:string" minOccurs="0"/>
      <xs:element name="ChangedBy" type="xs:string" minOccurs="0"/>
      <xs:element name="ChangedOn" type="xs:string" minOccurs="0"/>
      <xs:element name="CityName" type="xs:string" minOccurs="0"/>
      <xs:element name="ContactPermissionCode" type="xs:string" minOccurs="0"/>
      <xs:element name="ContactPermissionCodeText" type="xs:string" minOccurs="0"/>
      <xs:element name="CorrespondenceLanguageCode" type="xs:string" minOccurs="0"/>
      <xs:element name="CorrespondenceLanguageCodeText" type="xs:string" minOccurs="0"/>
      <xs:element name="CountryCode" type="xs:string" minOccurs="0"/>
      <xs:element name="CountryCodeText" type="xs:string" minOccurs="0"/>
      <xs:element name="CountyName" type="xs:string" minOccurs="0"/>
      <xs:element name="CreatedBy" type="xs:string" minOccurs="0"/>
      <xs:element name="CreatedOn" type="xs:string" minOccurs="0"/>
      <xs:element name="DUNS" type="xs:string" minOccurs="0"/>
      <xs:element name="DistrictName" type="xs:string" minOccurs="0"/>
      <xs:element name="ETag" type="xs:string" minOccurs="0"/>
      <xs:element name="Email" type="xs:string" minOccurs="0"/>
      <xs:element name="ExtensionFields" type="xs:string" minOccurs="0"/>
      <xs:element name="ExternalIDMapping" type="ExternalIDMapping" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="Fax" type="xs:string" minOccurs="0"/>
      <xs:element name="HouseID" type="xs:string" minOccurs="0"/>
      <xs:element name="IndustryCode" type="xs:string" minOccurs="0"/>
      <xs:element name="IndustryCodeText" type="xs:string" minOccurs="0"/>
      <xs:element name="LegalFormCode" type="xs:string" minOccurs="0"/>
      <xs:element name="LegalFormCodeText" type="xs:string" minOccurs="0"/>
      <xs:element name="MarketingLeadIndicator" type="xs:boolean" minOccurs="0"/>
      <xs:element name="Mobile" type="xs:string" minOccurs="0"/>
      <xs:element name="NielsenID" type="xs:string" minOccurs="0"/>
      <xs:element name="NielsenIDText" type="xs:string" minOccurs="0"/>
      <xs:element name="ObjectID" type="xs:string" minOccurs="0"/>
      <xs:element name="OwnerFormattedName" type="xs:string" minOccurs="0"/>
      <xs:element name="OwnerID" type="xs:string" minOccurs="0"/>
      <xs:element name="OwnerUUID" type="xs:string" minOccurs="0"/>
      <xs:element name="POBoxDeviatingCityName" type="xs:string" minOccurs="0"/>
      <xs:element name="POBoxDeviatingCountryCode" type="xs:string" minOccurs="0"/>
      <xs:element name="POBoxDeviatingCountryCodeText" type="xs:string" minOccurs="0"/>
      <xs:element name="POBoxDeviatingRegionCode" type="xs:string" minOccurs="0"/>
      <xs:element name="POBoxDeviatingRegionCodeText" type="xs:string" minOccurs="0"/>
      <xs:element name="POBoxID" type="xs:string" minOccurs="0"/>
      <xs:element name="POBoxPostalCode" type="xs:string" minOccurs="0"/>
      <xs:element name="POBoxPostalCodeText" type="xs:string" minOccurs="0"/>
      <xs:element name="Phone" type="xs:string" minOccurs="0"/>
      <xs:element name="PreferredCommunicationMediumTypeCode" type="xs:string" minOccurs="0"/>
      <xs:element name="PreferredCommunicationMediumTypeCodeText" type="xs:string" minOccurs="0"/>
      <xs:element name="PrimaryContactID" type="xs:string" minOccurs="0"/>
      <xs:element name="PrimaryContactName" type="xs:string" minOccurs="0"/>
      <xs:element name="RegionCode" type="xs:string" minOccurs="0"/>
      <xs:element name="RegionCodeText" type="xs:string" minOccurs="0"/>
      <xs:element name="RoleCode" type="xs:string" minOccurs="0"/>
      <xs:element name="RoleCodeText" type="xs:string" minOccurs="0"/>
      <xs:element name="StatusCode" type="xs:string" minOccurs="0"/>
      <xs:element name="StatusCodeText" type="xs:string" minOccurs="0"/>
      <xs:element name="StreetName" type="xs:string" minOccurs="0"/>
      <xs:element name="StreetPostalCode" type="xs:string" minOccurs="0"/>
      <xs:element name="StreetPostalCodeText" type="xs:string" minOccurs="0"/>
      <xs:element name="StreetPrefixName" type="xs:string" minOccurs="0"/>
      <xs:element name="StreetSuffixName" type="xs:string" minOccurs="0"/>
      <xs:element name="TaxJurisdictionCode" type="xs:string" minOccurs="0"/>
      <xs:element name="TaxJurisdictionCodeText" type="xs:string" minOccurs="0"/>
      <xs:element name="TimeZoneCode" type="xs:string" minOccurs="0"/>
      <xs:element name="TimeZoneCodeText" type="xs:string" minOccurs="0"/>
      <xs:element name="UUID" type="xs:string" minOccurs="0"/>
      <xs:element name="Web" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="AccountAddress">
    <xs:sequence>
      <xs:element name="AdditionalStreetPrefixName" type="xs:string" minOccurs="0"/>
      <xs:element name="AdditionalStreetSuffixName" type="xs:string" minOccurs="0"/>
      <xs:element name="CareOfName" type="xs:string" minOccurs="0"/>
      <xs:element name="City" type="xs:string" minOccurs="0"/>
      <xs:element name="CountryCode" type="xs:string" minOccurs="0"/>
      <xs:element name="CountryCodeText" type="xs:string" minOccurs="0"/>
      <xs:element name="EMail" type="xs:string" minOccurs="0"/>
      <xs:element name="ETag" type="xs:string" minOccurs="0"/>
      <xs:element name="ExtensionFields" type="xs:string" minOccurs="0"/>
      <xs:element name="Fax" type="xs:string" minOccurs="0"/>
      <xs:element name="FormattedAddress" type="xs:string" minOccurs="0"/>
      <xs:element name="Latitude" type="xs:double" minOccurs="0"/>
      <xs:element name="Longitude" type="xs:double" minOccurs="0"/>
      <xs:element name="Mobile" type="xs:string" minOccurs="0"/>
      <xs:element name="ObjectID" type="xs:string" minOccurs="0"/>
      <xs:element name="POBox" type="xs:string" minOccurs="0"/>
      <xs:element name="POBoxAddress" type="xs:boolean" minOccurs="0"/>
      <xs:element name="POBoxPostalCode" type="xs:string" minOccurs="0"/>
      <xs:element name="POBoxPostalCodeText" type="xs:string" minOccurs="0"/>
      <xs:element name="parentObjectID" type="xs:string" minOccurs="0"/>
      <xs:element name="Phone" type="xs:string" minOccurs="0"/>
      <xs:element name="PostalCode" type="xs:string" minOccurs="0"/>
      <xs:element name="PostalCodeText" type="xs:string" minOccurs="0"/>
      <xs:element name="State" type="xs:string" minOccurs="0"/>
      <xs:element name="StateText" type="xs:string" minOccurs="0"/>
      <xs:element name="Street" type="xs:string" minOccurs="0"/>
      <xs:element name="StreetPrefixName" type="xs:string" minOccurs="0"/>
      <xs:element name="StreetSuffixName" type="xs:string" minOccurs="0"/>
      <xs:element name="UUID" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="AccountAttachment">
    <xs:sequence>
      <xs:element name="Binary" type="xs:anyType" minOccurs="0"/>
      <xs:element name="CategoryCode" type="xs:string" minOccurs="0"/>
      <xs:element name="CategoryCodeText" type="xs:string" minOccurs="0"/>
      <xs:element name="CreatedBy" type="xs:string" minOccurs="0"/>
      <xs:element name="CreatedOn" type="xs:string" minOccurs="0"/>
      <xs:element name="DocumentLink" type="xs:string" minOccurs="0"/>
      <xs:element name="ETag" type="xs:string" minOccurs="0"/>
      <xs:element name="ExtensionFields" type="xs:string" minOccurs="0"/>
      <xs:element name="LastUpdatedBy" type="xs:string" minOccurs="0"/>
      <xs:element name="LastUpdatedOn" type="xs:string" minOccurs="0"/>
      <xs:element name="LinkWebURI" type="xs:string" minOccurs="0"/>
      <xs:element name="MimeType" type="xs:string" minOccurs="0"/>
      <xs:element name="Name" type="xs:string" minOccurs="0"/>
      <xs:element name="ObjectID" type="xs:string" minOccurs="0"/>
      <xs:element name="ParentObjectID" type="xs:string" minOccurs="0"/>
      <xs:element name="SizeInkB" type="xs:double" minOccurs="0"/>
      <xs:element name="TypeCode" type="xs:string" minOccurs="0"/>
      <xs:element name="TypeCodeText" type="xs:string" minOccurs="0"/>
      <xs:element name="UUID" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="AccountContactRelationship">
    <xs:sequence>
      <xs:element ref="AccountContactCommunicationData" minOccurs="0"/>
      <xs:element ref="AccountContacts" minOccurs="0"/>
      <xs:element name="AccountUUID" type="xs:string" minOccurs="0"/>
      <xs:element name="CategoryCode" type="xs:string" minOccurs="0"/>
      <xs:element name="CategoryCodeText" type="xs:string" minOccurs="0"/>
      <xs:element name="ContactUUID" type="xs:string" minOccurs="0"/>
      <xs:element name="DepartmentCode" type="xs:string" minOccurs="0"/>
      <xs:element name="DepartmentCodeText" type="xs:string" minOccurs="0"/>
      <xs:element name="ETag" type="xs:string" minOccurs="0"/>
      <xs:element name="ExtensionFields" type="xs:string" minOccurs="0"/>
      <xs:element name="FunctionCode" type="xs:string" minOccurs="0"/>
      <xs:element name="FunctionCodeText" type="xs:string" minOccurs="0"/>
      <xs:element name="Main" type="xs:boolean" minOccurs="0"/>
      <xs:element name="ObjectID" type="xs:string" minOccurs="0"/>
      <xs:element name="ReverseDefaultIndicator" type="xs:boolean" minOccurs="0"/>
      <xs:element name="VIPReasonCode" type="xs:string" minOccurs="0"/>
      <xs:element name="VIPReasonCodeText" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="AccountContactCommunicationData">
    <xs:sequence>
      <xs:element name="EMail" type="xs:string" minOccurs="0"/>
      <xs:element name="ETag" type="xs:string" minOccurs="0"/>
      <xs:element name="ExtensionFields" type="xs:string" minOccurs="0"/>
      <xs:element name="Fax" type="xs:string" minOccurs="0"/>
      <xs:element name="JobTitle" type="xs:string" minOccurs="0"/>
      <xs:element name="Mobile" type="xs:string" minOccurs="0"/>
      <xs:element name="ObjectID" type="xs:string" minOccurs="0"/>
      <xs:element name="ParentObjectID" type="xs:string" minOccurs="0"/>
      <xs:element name="Phone" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="AccountContacts">
    <xs:sequence>
      <xs:element name="CategoryCode" type="xs:string" minOccurs="0"/>
      <xs:element name="CategoryCodeText" type="xs:string" minOccurs="0"/>
      <xs:element name="ContactID" type="xs:string" minOccurs="0"/>
      <xs:element name="ContactUUID" type="xs:string" minOccurs="0"/>
      <xs:element name="ETag" type="xs:string" minOccurs="0"/>
      <xs:element name="EndDate" type="xs:string" minOccurs="0"/>
      <xs:element name="ExtensionFields" type="xs:string" minOccurs="0"/>
      <xs:element name="FirstName" type="xs:string" minOccurs="0"/>
      <xs:element name="LastName" type="xs:string" minOccurs="0"/>
      <xs:element name="Name" type="xs:string" minOccurs="0"/>
      <xs:element name="ObjectID" type="xs:string" minOccurs="0"/>
      <xs:element name="RoleCode" type="xs:string" minOccurs="0"/>
      <xs:element name="RoleCodeText" type="xs:string" minOccurs="0"/>
      <xs:element name="StartDate" type="xs:string" minOccurs="0"/>
      <xs:element name="StatusCode" type="xs:string" minOccurs="0"/>
      <xs:element name="StatusCodeText" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="AccountNotes">
    <xs:sequence>
      <xs:element name="AuthorName" type="xs:string" minOccurs="0"/>
      <xs:element name="AuthorUUID" type="xs:string" minOccurs="0"/>
      <xs:element name="CreatedBy" type="xs:string" minOccurs="0"/>
      <xs:element name="CreatedOn" type="xs:string" minOccurs="0"/>
      <xs:element name="ETag" type="xs:string" minOccurs="0"/>
      <xs:element name="ExtensionFields" type="xs:string" minOccurs="0"/>
      <xs:element name="LanguageCode" type="xs:string" minOccurs="0"/>
      <xs:element name="LanguageCodeText" type="xs:string" minOccurs="0"/>
      <xs:element name="LastUpdatedBy" type="xs:string" minOccurs="0"/>
      <xs:element name="ObjectID" type="xs:string" minOccurs="0"/>
      <xs:element name="ParentObjectID" type="xs:string" minOccurs="0"/>
      <xs:element name="Text" type="xs:string" minOccurs="0"/>
      <xs:element name="TypeCode" type="xs:string" minOccurs="0"/>
      <xs:element name="TypeCodeText" type="xs:string" minOccurs="0"/>
      <xs:element name="UpdatedOn" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="AccountRole">
    <xs:sequence>
      <xs:element name="BusinessCharacterCode" type="xs:string" minOccurs="0"/>
      <xs:element name="BusinessCharacterCodeText" type="xs:string" minOccurs="0"/>
      <xs:element name="ETag" type="xs:string" minOccurs="0"/>
      <xs:element name="ExtensionFields" type="xs:string" minOccurs="0"/>
      <xs:element name="ObjectID" type="xs:string" minOccurs="0"/>
      <xs:element name="ParentObjectID" type="xs:string" minOccurs="0"/>
      <xs:element name="RoleCode" type="xs:string" minOccurs="0"/>
      <xs:element name="RoleCodeText" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="AccountSalesData">
    <xs:sequence>
      <xs:element name="AccountSalesGroupName" type="AccountSalesGroupName" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="AccountSalesOfficeName" type="AccountSalesOfficeName" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="AccountSalesOrganisationName" type="AccountSalesOrganisationName" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="BillingBlockingReasonCode" type="xs:string" minOccurs="0"/>
      <xs:element name="BillingBlockingReasonCodeText" type="xs:string" minOccurs="0"/>
      <xs:element name="CurrencyCode" type="xs:string" minOccurs="0"/>
      <xs:element name="CurrencyCodeText" type="xs:string" minOccurs="0"/>
      <xs:element name="CustomerGroupCode" type="xs:string" minOccurs="0"/>
      <xs:element name="CustomerGroupCodeText" type="xs:string" minOccurs="0"/>
      <xs:element name="CustomerID" type="xs:string" minOccurs="0"/>
      <xs:element name="CustomerUUID" type="xs:string" minOccurs="0"/>
      <xs:element name="DeliveryBlockingReasonCode" type="xs:string" minOccurs="0"/>
      <xs:element name="DeliveryBlockingReasonCodeText" type="xs:string" minOccurs="0"/>
      <xs:element name="DeliveryPriorityCode" type="xs:string" minOccurs="0"/>
      <xs:element name="DeliveryPriorityCodeText" type="xs:string" minOccurs="0"/>
      <xs:element name="DistributionChannelCode" type="xs:string" minOccurs="0"/>
      <xs:element name="DistributionChannelCodeText" type="xs:string" minOccurs="0"/>
      <xs:element name="DivisionCode" type="xs:string" minOccurs="0"/>
      <xs:element name="DivisionCodeText" type="xs:string" minOccurs="0"/>
      <xs:element name="ETag" type="xs:string" minOccurs="0"/>
      <xs:element name="ExtensionFields" type="xs:string" minOccurs="0"/>
      <xs:element name="IncotermsCode" type="xs:string" minOccurs="0"/>
      <xs:element name="IncotermsCodeText" type="xs:string" minOccurs="0"/>
      <xs:element name="IncotermsLocation" type="xs:string" minOccurs="0"/>
      <xs:element name="ObjectID" type="xs:string" minOccurs="0"/>
      <xs:element name="OrderBlockingReasonCode" type="xs:string" minOccurs="0"/>
      <xs:element name="OrderBlockingReasonCodeText" type="xs:string" minOccurs="0"/>
      <xs:element name="PaymentTermsCode" type="xs:string" minOccurs="0"/>
      <xs:element name="PaymentTermsCodeText" type="xs:string" minOccurs="0"/>
      <xs:element name="SalesGroupID" type="xs:string" minOccurs="0"/>
      <xs:element name="SalesGroupUUID" type="xs:string" minOccurs="0"/>
      <xs:element name="SalesOfficeID" type="xs:string" minOccurs="0"/>
      <xs:element name="SalesOfficeUUID" type="xs:string" minOccurs="0"/>
      <xs:element name="SalesOrganisationID" type="xs:string" minOccurs="0"/>
      <xs:element name="SalesOrganisationUUID" type="xs:string" minOccurs="0"/>
      <xs:element name="SalesSupportBlockingIndicator" type="xs:boolean" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="AccountSalesGroupName">
    <xs:sequence>
      <xs:element name="ETag" type="xs:string" minOccurs="0"/>
      <xs:element name="ExtensionFields" type="xs:string" minOccurs="0"/>
      <xs:element name="Name" type="xs:string" minOccurs="0"/>
      <xs:element name="ObjectID" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="AccountSalesOfficeName">
    <xs:sequence>
      <xs:element name="ETag" type="xs:string" minOccurs="0"/>
      <xs:element name="ExtensionFields" type="xs:string" minOccurs="0"/>
      <xs:element name="Name" type="xs:string" minOccurs="0"/>
      <xs:element name="ObjectID" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="AccountSalesOrganisationName">
    <xs:sequence>
      <xs:element name="ETag" type="xs:string" minOccurs="0"/>
      <xs:element name="ExtensionFields" type="xs:string" minOccurs="0"/>
      <xs:element name="Name" type="xs:string" minOccurs="0"/>
      <xs:element name="ObjectID" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="AccountTeam">
    <xs:sequence>
      <xs:element ref="AccountTeamAddress" minOccurs="0"/>
      <xs:element name="DistributionChannelCode" type="xs:string" minOccurs="0"/>
      <xs:element name="DistributionChannelCodeText" type="xs:string" minOccurs="0"/>
      <xs:element name="DivisionCode" type="xs:string" minOccurs="0"/>
      <xs:element name="DivisionCodeText" type="xs:string" minOccurs="0"/>
      <xs:element name="ETag" type="xs:string" minOccurs="0"/>
      <xs:element name="EmployeeUUID" type="xs:string" minOccurs="0"/>
      <xs:element name="EndDate" type="xs:string" minOccurs="0"/>
      <xs:element name="ExtensionFields" type="xs:string" minOccurs="0"/>
      <xs:element name="Name" type="xs:string" minOccurs="0"/>
      <xs:element name="ObjectID" type="xs:string" minOccurs="0"/>
      <xs:element name="ParentObjectID" type="xs:string" minOccurs="0"/>
      <xs:element name="PartyRoleCode" type="xs:string" minOccurs="0"/>
      <xs:element name="PartyRoleCodeText" type="xs:string" minOccurs="0"/>
      <xs:element name="SalesOrganisationUUID" type="xs:string" minOccurs="0"/>
      <xs:element name="StartDate" type="xs:string" minOccurs="0"/>
      <xs:element name="UUID" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="AccountTeamAddress">
    <xs:sequence>
      <xs:element name="EMail" type="xs:string" minOccurs="0"/>
      <xs:element name="ETag" type="xs:string" minOccurs="0"/>
      <xs:element name="ExtensionFields" type="xs:string" minOccurs="0"/>
      <xs:element name="ObjectID" type="xs:string" minOccurs="0"/>
      <xs:element name="Phone" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="ExternalIDMapping">
    <xs:sequence>
      <xs:element name="ETag" type="xs:string" minOccurs="0"/>
      <xs:element name="ExtensionFields" type="xs:string" minOccurs="0"/>
      <xs:element name="ExternalID" type="xs:string" minOccurs="0"/>
      <xs:element name="ExternalIDSchemeCode" type="xs:string" minOccurs="0"/>
      <xs:element name="ExternalIDSchemeCodeText" type="xs:string" minOccurs="0"/>
      <xs:element name="ExternalSystemID" type="xs:string" minOccurs="0"/>
      <xs:element name="ExternalSystemUUID" type="xs:string" minOccurs="0"/>
      <xs:element name="InternalUUID" type="xs:string" minOccurs="0"/>
      <xs:element name="ObjectID" type="xs:string" minOccurs="0"/>
      <xs:element name="ObjectTypeCode" type="xs:string" minOccurs="0"/>
      <xs:element name="ObjectTypeCodeText" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>