Resources/schemas/Xsd/SAP_Cloud_for_Customer_Integration_with_SAP_S-4HANA_Cloud - Partners.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="Partners">
		<xs:complexType>
			<xs:sequence>
				<xs:element minOccurs="0" maxOccurs="unbounded" name="partner">
					<xs:complexType>
						<xs:sequence>
							<xs:element nillable="false" maxOccurs="1" name="PartnerFunction">
								<xs:simpleType>
									<xs:restriction base="xs:string" xmlns="">
										<xs:maxLength value="2"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element minOccurs="0" maxOccurs="1" name="EquipmentPartnerObjectNmbr" type="xs:string"/>
							<xs:element nillable="false" minOccurs="0" maxOccurs="1" name="PartnerNo">
								<xs:simpleType>
									<xs:restriction base="xs:string" xmlns="">
										<xs:maxLength value="12"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element minOccurs="0" maxOccurs="1" name="OperationIndicator" type="xs:string"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>