Resources/schemas/Xsd/SAP_Complaint_Handling_Integration_For_Customer_Complaints - ResponsePayload.xsd

<?xml version="1.0" encoding="utf-8" ?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="root">
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="1" maxOccurs="unbounded" name="result">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="code" type="xs:string" />
                            <xs:element minOccurs="0" maxOccurs="unbounded" name="texts">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element minOccurs="0" name="locale" type="xs:string" />
                                        <xs:element minOccurs="0" name="description" type="xs:string" />
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>