Resources/schemas/Xsd/SAP_Complaint_Handling_Integration_with_Master_Data_and_Business_Objects - binary_relation_bapi_response-1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="binary_relation">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="role_a" />
        <xs:element name="role_b" />
        <xs:element name="relation_id" />
        <xs:element name="relation_type" />
        <xs:element name="time" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>