Resources/schemas/Xsd/SAP_CPQ_-_Quote_2.0_Integration_with_SAP_Billing_and_Revenue_Innovation_Management - CCM Data input.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="FilteredSubscriptionProductSpecData" minOccurs="1" maxOccurs="unbounded">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="SubscriptionProductSpecData" minOccurs="0" maxOccurs="unbounded" nillable="true">
					<xs:complexType>
						<xs:sequence>
							<xs:element type="xs:string" name="Product" minOccurs="0" maxOccurs="1" />
							<xs:element name="CrsCatalogMapping" minOccurs="0" maxOccurs="unbounded" nillable="true">
								<xs:complexType>
									<xs:sequence>
										<xs:element type="xs:integer" name="CrsCatalogMappingVersionNumber" minOccurs="0" maxOccurs="1"/>
										<xs:element type="xs:integer" name="CrsCatalogMappingVersionStatus" minOccurs="0" maxOccurs="1"/>
										<xs:element type="xs:string" name="CrsCtlgMappgVersValidFromDate" minOccurs="0" maxOccurs="1" />
										<xs:element name="CrsCtlgMappgCPAssign" minOccurs="0" maxOccurs="unbounded" nillable="true">
											<xs:complexType>
												<xs:sequence>
													<xs:element type="xs:string" name="ChargePlanAssignmentUUID" minOccurs="0" maxOccurs="1"/>
													<xs:element name="ChargePlanTableParam" minOccurs="0" maxOccurs="unbounded" nillable="true">
														<xs:complexType>
															<xs:sequence>
																<xs:element type="xs:string" name="ChargePlanParameterUUID" minOccurs="0" maxOccurs="1"/>
																<xs:element type="xs:integer" name="ChargePlanParameterUsage" minOccurs="0" maxOccurs="1"/>
																<xs:element type="xs:string" name="ConvergentChargingTableID" minOccurs="0" maxOccurs="1"/>
																<xs:element type="xs:string" name="ConvergentChargingTableClassID" minOccurs="0" maxOccurs="1"/>
															</xs:sequence>
														</xs:complexType>
													</xs:element>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>