Resources/schemas/Xsd/SAP_SuccessFactors_Employee_Central_Event-_or_Timer-based_Integration_with_SAP_Commissions - PositionResponse-1.xsd

<?xml version="1.0" encoding="UTF-8"?><xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="qualified">
  <xs:element name="Position">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" minOccurs="0" name="positions">
          <xs:complexType>
            <xs:sequence>
              <xs:element minOccurs="0" name="ruleElementOwnerSeq" type="xs:long"/>
              <xs:element minOccurs="0" name="name" type="xs:string"/>
              <xs:element minOccurs="0" name="description" type="xs:string"/>
              <xs:element minOccurs="0" name="effectiveStartDate" type="xs:dateTime"/>
              <xs:element minOccurs="0" name="effectiveEndDate" type="xs:dateTime"/>
              <xs:element minOccurs="0" name="creditStartDate" type="xs:dateTime"/>
              <xs:element minOccurs="0" name="creditEndDate" type="xs:dateTime"/>
              <xs:element minOccurs="0" name="processingStartDate" type="xs:dateTime"/>
              <xs:element minOccurs="0" name="processingEndDate" type="xs:dateTime"/>
              <xs:element minOccurs="0" name="targetCompensation">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element minOccurs="0" name="value" type="xs:float"/>
                    <xs:element minOccurs="0" name="unitType">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element minOccurs="0" name="unitTypeSeq" type="xs:long"/>
                          <xs:element minOccurs="0" name="name" type="xs:string"/>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element minOccurs="0" name="businessUnits">
                <xs:complexType mixed="true">
                  <xs:sequence>
                    <xs:element minOccurs="0" name="businessUnitSeq" type="xs:long"/>
                    <xs:element minOccurs="0" name="name" type="xs:string"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element minOccurs="0" name="manager">
                <xs:complexType mixed="true">
                  <xs:sequence>
                    <xs:element minOccurs="0" name="displayName" type="xs:string"/>
                    <xs:element minOccurs="0" name="logicalKeys">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element minOccurs="0" name="name" type="xs:string"/>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element minOccurs="0" name="objectType" type="xs:string"/>
                    <xs:element minOccurs="0" name="key" type="xs:long"/>
                    <xs:element minOccurs="0" name="keyString" type="xs:string"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element minOccurs="0" name="createDate" type="xs:dateTime"/>
              <xs:element minOccurs="0" name="modifiedBy" type="xs:string"/>
              <xs:element minOccurs="0" name="modelSeq" type="xs:string"/>
              <xs:element minOccurs="0" name="title">
                <xs:complexType mixed="true">
                  <xs:sequence>
                    <xs:element minOccurs="0" name="displayName" type="xs:string"/>
                    <xs:element minOccurs="0" name="logicalKeys">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element minOccurs="0" name="name" type="xs:string"/>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element minOccurs="0" name="objectType" type="xs:string"/>
                    <xs:element minOccurs="0" name="key" type="xs:long"/>
                    <xs:element minOccurs="0" name="keyString" type="xs:string"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element minOccurs="0" name="positionGroup">
                <xs:complexType mixed="true">
                  <xs:sequence>
                    <xs:element minOccurs="0" name="displayName" type="xs:string"/>
                    <xs:element minOccurs="0" name="logicalKeys">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element minOccurs="0" name="name" type="xs:string"/>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element minOccurs="0" name="objectType" type="xs:string"/>
                    <xs:element minOccurs="0" name="key" type="xs:long"/>
                    <xs:element minOccurs="0" name="keyString" type="xs:string"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element minOccurs="0" name="payee">
                <xs:complexType mixed="true">
                  <xs:sequence>
                    <xs:element minOccurs="0" name="displayName" type="xs:string"/>
                    <xs:element minOccurs="0" name="logicalKeys">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element minOccurs="0" name="payeeId" type="xs:string"/>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element minOccurs="0" name="objectType" type="xs:string"/>
                    <xs:element minOccurs="0" name="key" type="xs:long"/>
                    <xs:element minOccurs="0" name="keyString" type="xs:string"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element minOccurs="0" name="createdBy" type="xs:string"/>
              <xs:element minOccurs="0" name="processingUnit">
                <xs:complexType mixed="true">
                  <xs:sequence>
                    <xs:element minOccurs="0" name="displayName" type="xs:string"/>
                    <xs:element minOccurs="0" name="logicalKeys">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element minOccurs="0" name="name" type="xs:string"/>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element minOccurs="0" name="objectType" type="xs:string"/>
                    <xs:element minOccurs="0" name="key" type="xs:long"/>
                    <xs:element minOccurs="0" name="keyString" type="xs:string"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element minOccurs="0" name="plan">
                <xs:complexType mixed="true">
                  <xs:sequence>
                    <xs:element minOccurs="0" name="displayName" type="xs:string"/>
                    <xs:element minOccurs="0" name="logicalKeys">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element minOccurs="0" name="name" type="xs:string"/>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element minOccurs="0" name="objectType" type="xs:string"/>
                    <xs:element minOccurs="0" name="key" type="xs:long"/>
                    <xs:element minOccurs="0" name="keyString" type="xs:string"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element minOccurs="0" name="genericAttribute1" type="xs:string"/>
              <xs:element minOccurs="0" name="genericAttribute2" type="xs:string"/>
              <xs:element minOccurs="0" name="genericAttribute3" type="xs:string"/>
              <xs:element minOccurs="0" name="genericAttribute4" type="xs:string"/>
              <xs:element minOccurs="0" name="genericAttribute5" type="xs:string"/>
              <xs:element minOccurs="0" name="genericAttribute6" type="xs:string"/>
              <xs:element minOccurs="0" name="genericAttribute7" type="xs:string"/>
              <xs:element minOccurs="0" name="genericAttribute8" type="xs:string"/>
              <xs:element minOccurs="0" name="genericAttribute9" type="xs:string"/>
              <xs:element minOccurs="0" name="genericAttribute10" type="xs:string"/>
              <xs:element minOccurs="0" name="genericAttribute11" type="xs:string"/>
              <xs:element minOccurs="0" name="genericAttribute12" type="xs:string"/>
              <xs:element minOccurs="0" name="genericAttribute13" type="xs:string"/>
              <xs:element minOccurs="0" name="genericAttribute14" type="xs:string"/>
              <xs:element minOccurs="0" name="genericAttribute15" type="xs:string"/>
              <xs:element minOccurs="0" name="genericAttribute16" type="xs:string"/>
            <xs:element minOccurs="0" name="genericNumber1">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element minOccurs="0" name="value" type="xs:float"/>
                    <xs:element minOccurs="0" name="unitType">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element minOccurs="0" name="unitTypeSeq" type="xs:long"/>
                          <xs:element minOccurs="0" name="name" type="xs:string"/>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>  
              <xs:element minOccurs="0" name="genericNumber2">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element minOccurs="0" name="value" type="xs:float"/>
                    <xs:element minOccurs="0" name="unitType">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element minOccurs="0" name="unitTypeSeq" type="xs:long"/>
                          <xs:element minOccurs="0" name="name" type="xs:string"/>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element minOccurs="0" name="genericNumber3">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element minOccurs="0" name="value" type="xs:float"/>
                    <xs:element minOccurs="0" name="unitType">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element minOccurs="0" name="unitTypeSeq" type="xs:long"/>
                          <xs:element minOccurs="0" name="name" type="xs:string"/>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element minOccurs="0" name="genericNumber4">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element minOccurs="0" name="value" type="xs:float"/>
                    <xs:element minOccurs="0" name="unitType">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element minOccurs="0" name="unitTypeSeq" type="xs:long"/>
                          <xs:element minOccurs="0" name="name" type="xs:string"/>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element minOccurs="0" name="genericNumber5">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element minOccurs="0" name="value" type="xs:float"/>
                    <xs:element minOccurs="0" name="unitType">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element minOccurs="0" name="unitTypeSeq" type="xs:long"/>
                          <xs:element minOccurs="0" name="name" type="xs:string"/>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>  
              <xs:element minOccurs="0" name="genericNumber6">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element minOccurs="0" name="value" type="xs:float"/>
                    <xs:element minOccurs="0" name="unitType">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element minOccurs="0" name="unitTypeSeq" type="xs:long"/>
                          <xs:element minOccurs="0" name="name" type="xs:string"/>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element minOccurs="0" name="genericDate1" type="xs:string"/>
              <xs:element minOccurs="0" name="genericDate2" type="xs:string"/>
              <xs:element minOccurs="0" name="genericDate3" type="xs:string"/>
              <xs:element minOccurs="0" name="genericDate4" type="xs:string"/>
              <xs:element minOccurs="0" name="genericDate5" type="xs:string"/>
              <xs:element minOccurs="0" name="genericDate6" type="xs:string"/>
              <xs:element minOccurs="0" name="genericBoolean1" type="xs:string"/>
              <xs:element minOccurs="0" name="genericBoolean2" type="xs:string"/>
              <xs:element minOccurs="0" name="genericBoolean3" type="xs:string"/>
              <xs:element minOccurs="0" name="genericBoolean4" type="xs:string"/>
              <xs:element minOccurs="0" name="genericBoolean5" type="xs:string"/>
              <xs:element minOccurs="0" name="genericBoolean6" type="xs:string"/> 
              <xs:element minOccurs="0" name="variableAssignments">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element minOccurs="0" name="owner" type="xs:long"/>
                    <xs:element minOccurs="0" name="variable" type="xs:long"/>
                    <xs:element minOccurs="0" name="assignment" type="xs:long"/>
                    <xs:element minOccurs="0" name="effectiveStartDate" type="xs:dateTime"/>
                    <xs:element minOccurs="0" name="effectiveEndDate" type="xs:dateTime"/>
                    <xs:element minOccurs="0" name="createDate" type="xs:dateTime"/>
                    <xs:element minOccurs="0" name="modelSeq" type="xs:string"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>        
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>