Resources/schemas/Xsd/SAP_Commerce_financial_services_accelerator_integration_with_SAP_for_Insurance - HELP_SPLITT_Discount.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Discount">
    <xs:complexType>
      <xs:sequence>
        <xs:element type="xs:float"  name="amount" minOccurs="0" maxOccurs="1"/>
        <xs:element type="xs:float"  name="percentage" minOccurs="0" maxOccurs="1"/>
        <xs:element type="xs:string" name="type" minOccurs="0" maxOccurs="1"/>
        <xs:element type="xs:string" name="couponCode" minOccurs="0" maxOccurs="1"/>
        <xs:element type="xs:string" name="productCode" minOccurs="0" maxOccurs="1"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>