Resources/schemas/Xsd/SAP_Retail_Integration_with_SAP_Point-of-Sale - PointOfSaleTransactions.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema targetNamespace="http://sap.com/xi/SAPGlobal20/Global" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://sap.com/xi/SAPGlobal20/Global">
	<xsd:element name="PointOfSaleTransactions" type="PointOfSaleTransactions"/>
	<xsd:complexType name="PointOfSaleTransactions">
		<xsd:sequence>
			<xsd:element name="PointOfSaleTransactionMessage" minOccurs="0" maxOccurs="unbounded">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="MessageHeader" minOccurs="0">
							<xsd:complexType>
								<xsd:sequence>
									<xsd:element name="CreationDateTime" type="xsd:dateTime" minOccurs="0"/>
								</xsd:sequence>
							</xsd:complexType>
						</xsd:element>
						<xsd:element name="PointOfSaleLineItem" minOccurs="0" maxOccurs="unbounded">
							<xsd:complexType>
								<xsd:sequence>
									<xsd:element name="TransactionType">
										<xsd:simpleType>
											<xsd:restriction base="xsd:string">
												<xsd:length value="2"/>
											</xsd:restriction>
										</xsd:simpleType>
									</xsd:element>
									<xsd:element name="TransactionModifier">
										<xsd:simpleType>
											<xsd:restriction base="xsd:string">
												<xsd:length value="1"/>
											</xsd:restriction>
										</xsd:simpleType>
									</xsd:element>
									<xsd:element name="StoreID">
										<xsd:simpleType>
											<xsd:restriction base="xsd:string">
												<xsd:length value="4"/>
											</xsd:restriction>
										</xsd:simpleType>
									</xsd:element>
									<xsd:element name="RegisterID">
										<xsd:simpleType>
											<xsd:restriction base="xsd:string">
												<xsd:length value="2"/>
											</xsd:restriction>
										</xsd:simpleType>
									</xsd:element>
									<xsd:element name="CashierID">
										<xsd:simpleType>
											<xsd:restriction base="xsd:string">
												<xsd:length value="6"/>
											</xsd:restriction>
										</xsd:simpleType>
									</xsd:element>
									<xsd:element name="SalespersonID">
										<xsd:simpleType>
											<xsd:restriction base="xsd:string">
												<xsd:length value="6"/>
											</xsd:restriction>
										</xsd:simpleType>
									</xsd:element>
									<xsd:element name="DateTime">
										<xsd:simpleType>
											<xsd:restriction base="xsd:string">
												<xsd:length value="12"/>
											</xsd:restriction>
										</xsd:simpleType>
									</xsd:element>
									<xsd:element name="TransactionNumber">
										<xsd:simpleType>
											<xsd:restriction base="xsd:string">
												<xsd:length value="4"/>
											</xsd:restriction>
										</xsd:simpleType>
									</xsd:element>
									<xsd:element name="TransactionVoidFlag">
										<xsd:simpleType>
											<xsd:restriction base="xsd:string">
												<xsd:length value="1"/>
											</xsd:restriction>
										</xsd:simpleType>
									</xsd:element>
									<xsd:element name="RecordSequence">
										<xsd:simpleType>
											<xsd:restriction base="xsd:string">
												<xsd:length value="3"/>
											</xsd:restriction>
										</xsd:simpleType>
									</xsd:element>
									<xsd:element name="SaleType">
										<xsd:simpleType>
											<xsd:restriction base="xsd:integer">
												<xsd:totalDigits value="2"/>
											</xsd:restriction>
										</xsd:simpleType>
									</xsd:element>
									<xsd:element name="BusinessDate">
										<xsd:simpleType>
											<xsd:restriction base="xsd:string">
												<xsd:length value="4"/>
											</xsd:restriction>
										</xsd:simpleType>
									</xsd:element>
									<xsd:element name="CenturyIndicator">
										<xsd:simpleType>
											<xsd:restriction base="xsd:string">
												<xsd:length value="1"/>
											</xsd:restriction>
										</xsd:simpleType>
									</xsd:element>
									<xsd:element name="MiscellaneousType" minOccurs="0" maxOccurs="unbounded">
										<xsd:simpleType>
											<xsd:restriction base="xsd:string">
												<xsd:length value="2"/>
											</xsd:restriction>
										</xsd:simpleType>
									</xsd:element>
									<xsd:element name="ReferenceNumber" minOccurs="0" maxOccurs="unbounded">
										<xsd:annotation>
											<xsd:documentation>User defined (Can be used to store the last business date, as regards missing days in the system. The format is DD-MM-YY.)</xsd:documentation>
										</xsd:annotation>
										<xsd:simpleType>
											<xsd:restriction base="xsd:string">
												<xsd:length value="20"/>
											</xsd:restriction>
										</xsd:simpleType>
									</xsd:element>
									<xsd:element name="Amount" minOccurs="0" maxOccurs="unbounded">
										<xsd:simpleType>
											<xsd:restriction base="xsd:string">
												<xsd:length value="8"/>
											</xsd:restriction>
										</xsd:simpleType>
									</xsd:element>
									<xsd:element name="PositiveFlag" minOccurs="0" maxOccurs="unbounded">
										<xsd:annotation>
											<xsd:documentation>‘ ‘ or ‘ – ‘</xsd:documentation>
										</xsd:annotation>
										<xsd:simpleType>
											<xsd:restriction base="xsd:string">
												<xsd:length value="1"/>
											</xsd:restriction>
										</xsd:simpleType>
									</xsd:element>
									<xsd:element name="DrawerNumber" minOccurs="0" maxOccurs="unbounded">
										<xsd:simpleType>
											<xsd:restriction base="xsd:string">
												<xsd:length value="1"/>
											</xsd:restriction>
										</xsd:simpleType>
									</xsd:element>
									<xsd:element name="TransactionMode" minOccurs="0" maxOccurs="unbounded">
										<xsd:annotation>
											<xsd:documentation>0-Off, 1-On</xsd:documentation>
										</xsd:annotation>
										<xsd:simpleType>
											<xsd:restriction base="xsd:string">
												<xsd:length value="1"/>
											</xsd:restriction>
										</xsd:simpleType>
									</xsd:element>
									<xsd:element name="CashierManagerNumber" minOccurs="0" maxOccurs="unbounded">
										<xsd:simpleType>
											<xsd:restriction base="xsd:string">
												<xsd:length value="6"/>
											</xsd:restriction>
										</xsd:simpleType>
									</xsd:element>
									<xsd:element name="ProfilePromptFlag" minOccurs="0" maxOccurs="unbounded">
										<xsd:annotation>
											<xsd:documentation>0=No, 1=Yes</xsd:documentation>
										</xsd:annotation>
										<xsd:simpleType>
											<xsd:restriction base="xsd:string">
												<xsd:length value="1"/>
											</xsd:restriction>
										</xsd:simpleType>
									</xsd:element>
									<xsd:element name="ReasonCode" minOccurs="0" maxOccurs="unbounded">
										<xsd:annotation>
											<xsd:documentation>User defined (Can be used to store the reason code for missing days in the system. It contains the Choice ID selected by the user.)</xsd:documentation>
										</xsd:annotation>
										<xsd:simpleType>
											<xsd:restriction base="xsd:string">
												<xsd:length value="2"/>
											</xsd:restriction>
										</xsd:simpleType>
									</xsd:element>
									<xsd:element name="AdditionalInfo" minOccurs="0" maxOccurs="unbounded">
										<xsd:annotation>
											<xsd:documentation>User defined (Can be used to store the last business date, as regards missing days in the system. The format is DD-MM-YY.)</xsd:documentation>
										</xsd:annotation>
										<xsd:simpleType>
											<xsd:restriction base="xsd:string">
												<xsd:length value="20"/>
											</xsd:restriction>
										</xsd:simpleType>
									</xsd:element>
									<xsd:element name="StartStop" minOccurs="0" maxOccurs="unbounded">
										<xsd:annotation>
											<xsd:documentation>0=Finish, 1=Start</xsd:documentation>
										</xsd:annotation>
										<xsd:simpleType>
											<xsd:restriction base="xsd:string">
												<xsd:length value="1"/>
											</xsd:restriction>
										</xsd:simpleType>
									</xsd:element>
									<xsd:element name="VersionMajor" minOccurs="0">
										<xsd:simpleType>
											<xsd:restriction base="xsd:integer">
												<xsd:totalDigits value="2"/>
											</xsd:restriction>
										</xsd:simpleType>
									</xsd:element>
									<xsd:element name="VersionMinor" minOccurs="0">
										<xsd:simpleType>
											<xsd:restriction base="xsd:integer">
												<xsd:totalDigits value="2"/>
											</xsd:restriction>
										</xsd:simpleType>
									</xsd:element>
									<xsd:element name="VersionRevision" minOccurs="0">
										<xsd:simpleType>
											<xsd:restriction base="xsd:integer">
												<xsd:totalDigits value="2"/>
											</xsd:restriction>
										</xsd:simpleType>
									</xsd:element>
									<xsd:element name="VersionDescription" minOccurs="0">
										<xsd:simpleType>
											<xsd:restriction base="xsd:string">
												<xsd:length value="20"/>
											</xsd:restriction>
										</xsd:simpleType>
									</xsd:element>
									<xsd:element name="ProgramName" minOccurs="0">
										<xsd:simpleType>
											<xsd:restriction base="xsd:string">
												<xsd:length value="12"/>
											</xsd:restriction>
										</xsd:simpleType>
									</xsd:element>
									<xsd:element name="ProgramDateTime" type="xsd:dateTime" minOccurs="0">
										<xsd:annotation>
											<xsd:documentation>yymmddhhmmss</xsd:documentation>
										</xsd:annotation>
									</xsd:element>
									<xsd:element name="TotalDiskSize" minOccurs="0">
										<xsd:annotation>
											<xsd:documentation>KBytes</xsd:documentation>
										</xsd:annotation>
										<xsd:simpleType>
											<xsd:restriction base="xsd:integer">
												<xsd:totalDigits value="7"/>
											</xsd:restriction>
										</xsd:simpleType>
									</xsd:element>
									<xsd:element name="DiskAvailable" minOccurs="0">
										<xsd:annotation>
											<xsd:documentation>kBytes</xsd:documentation>
										</xsd:annotation>
										<xsd:simpleType>
											<xsd:restriction base="xsd:integer">
												<xsd:totalDigits value="7"/>
											</xsd:restriction>
										</xsd:simpleType>
									</xsd:element>
									<xsd:element name="ProgramDateY2K" type="xsd:date" minOccurs="0">
										<xsd:annotation>
											<xsd:documentation>yyyymmdd</xsd:documentation>
										</xsd:annotation>
									</xsd:element>
									<xsd:element name="SKUUPC" minOccurs="0">
										<xsd:simpleType>
											<xsd:restriction base="xsd:string">
												<xsd:length value="18"/>
											</xsd:restriction>
										</xsd:simpleType>
									</xsd:element>
									<xsd:element name="DepartmentNumber" minOccurs="0">
										<xsd:simpleType>
											<xsd:restriction base="xsd:integer">
												<xsd:totalDigits value="4"/>
											</xsd:restriction>
										</xsd:simpleType>
									</xsd:element>
									<xsd:element name="Tax1" minOccurs="0">
										<xsd:simpleType>
											<xsd:restriction base="xsd:integer">
												<xsd:totalDigits value="1"/>
											</xsd:restriction>
										</xsd:simpleType>
									</xsd:element>
									<xsd:element name="Tax2" minOccurs="0">
										<xsd:simpleType>
											<xsd:restriction base="xsd:integer">
												<xsd:totalDigits value="1"/>
											</xsd:restriction>
										</xsd:simpleType>
									</xsd:element>
									<xsd:element name="TaxModify1" minOccurs="0">
										<xsd:simpleType>
											<xsd:restriction base="xsd:integer">
												<xsd:totalDigits value="1"/>
											</xsd:restriction>
										</xsd:simpleType>
									</xsd:element>
									<xsd:element name="TaxModify2" minOccurs="0">
										<xsd:simpleType>
											<xsd:restriction base="xsd:integer">
												<xsd:totalDigits value="1"/>
											</xsd:restriction>
										</xsd:simpleType>
									</xsd:element>
									<xsd:element name="Quantity" minOccurs="0">
										<xsd:simpleType>
											<xsd:restriction base="xsd:decimal">
												<xsd:totalDigits value="7"/>
												<xsd:fractionDigits value="3"/>
											</xsd:restriction>
										</xsd:simpleType>
									</xsd:element>
									<xsd:element name="ExtendedSellingPrice" minOccurs="0">
										<xsd:simpleType>
											<xsd:restriction base="xsd:decimal">
												<xsd:totalDigits value="8"/>
												<xsd:fractionDigits value="2"/>
											</xsd:restriction>
										</xsd:simpleType>
									</xsd:element>
									<xsd:element name="ExtendedOriginalPrice" minOccurs="0">
										<xsd:simpleType>
											<xsd:restriction base="xsd:decimal">
												<xsd:totalDigits value="8"/>
												<xsd:fractionDigits value="2"/>
											</xsd:restriction>
										</xsd:simpleType>
									</xsd:element>
									<xsd:element name="Cost" minOccurs="0">
										<xsd:simpleType>
											<xsd:restriction base="xsd:string">
												<xsd:length value="6"/>
											</xsd:restriction>
										</xsd:simpleType>
									</xsd:element>
									<xsd:element name="PriceOverride" minOccurs="0">
										<xsd:simpleType>
											<xsd:restriction base="xsd:integer">
												<xsd:totalDigits value="1"/>
											</xsd:restriction>
										</xsd:simpleType>
									</xsd:element>
									<xsd:element name="EmployeeSaleFlag" minOccurs="0">
										<xsd:simpleType>
											<xsd:restriction base="xsd:integer">
												<xsd:totalDigits value="1"/>
											</xsd:restriction>
										</xsd:simpleType>
									</xsd:element>
									<xsd:element name="AdditionalAmount" minOccurs="0">
										<xsd:simpleType>
											<xsd:restriction base="xsd:decimal">
												<xsd:totalDigits value="5"/>
												<xsd:fractionDigits value="2"/>
											</xsd:restriction>
										</xsd:simpleType>
									</xsd:element>
									<xsd:element name="PositiveFlag2" minOccurs="0">
										<xsd:simpleType>
											<xsd:restriction base="xsd:string">
												<xsd:length value="1"/>
											</xsd:restriction>
										</xsd:simpleType>
									</xsd:element>
									<xsd:element name="PLUFlag" minOccurs="0">
										<xsd:simpleType>
											<xsd:restriction base="xsd:integer">
												<xsd:totalDigits value="1"/>
											</xsd:restriction>
										</xsd:simpleType>
									</xsd:element>
									<xsd:element name="DiscountFlag" minOccurs="0">
										<xsd:simpleType>
											<xsd:restriction base="xsd:integer">
												<xsd:totalDigits value="1"/>
											</xsd:restriction>
										</xsd:simpleType>
									</xsd:element>
									<xsd:element name="Tax3" minOccurs="0">
										<xsd:simpleType>
											<xsd:restriction base="xsd:integer">
												<xsd:totalDigits value="1"/>
											</xsd:restriction>
										</xsd:simpleType>
									</xsd:element>
									<xsd:element name="Tax4" minOccurs="0">
										<xsd:simpleType>
											<xsd:restriction base="xsd:integer">
												<xsd:totalDigits value="1"/>
											</xsd:restriction>
										</xsd:simpleType>
									</xsd:element>
									<xsd:element name="TaxModify3" minOccurs="0">
										<xsd:simpleType>
											<xsd:restriction base="xsd:integer">
												<xsd:totalDigits value="1"/>
											</xsd:restriction>
										</xsd:simpleType>
									</xsd:element>
									<xsd:element name="TaxModify4" minOccurs="0">
										<xsd:simpleType>
											<xsd:restriction base="xsd:integer">
												<xsd:totalDigits value="1"/>
											</xsd:restriction>
										</xsd:simpleType>
									</xsd:element>
									<xsd:element name="PriceLevel" minOccurs="0">
										<xsd:simpleType>
											<xsd:restriction base="xsd:integer">
												<xsd:totalDigits value="2"/>
											</xsd:restriction>
										</xsd:simpleType>
									</xsd:element>
									<xsd:element name="QuantityCluster" minOccurs="0">
										<xsd:simpleType>
											<xsd:restriction base="xsd:integer">
												<xsd:totalDigits value="3"/>
											</xsd:restriction>
										</xsd:simpleType>
									</xsd:element>
									<xsd:element name="LinkedItem" minOccurs="0">
										<xsd:simpleType>
											<xsd:restriction base="xsd:integer">
												<xsd:totalDigits value="1"/>
											</xsd:restriction>
										</xsd:simpleType>
									</xsd:element>
									<xsd:element name="ScannedItem" minOccurs="0">
										<xsd:simpleType>
											<xsd:restriction base="xsd:integer">
												<xsd:totalDigits value="1"/>
											</xsd:restriction>
										</xsd:simpleType>
									</xsd:element>
									<xsd:element name="PriceOverrideReason" minOccurs="0">
										<xsd:simpleType>
											<xsd:restriction base="xsd:integer">
												<xsd:totalDigits value="2"/>
											</xsd:restriction>
										</xsd:simpleType>
									</xsd:element>
									<xsd:element name="MixMatchNumber" minOccurs="0" maxOccurs="unbounded">
										<xsd:simpleType>
											<xsd:restriction base="xsd:integer">
												<xsd:totalDigits value="3"/>
											</xsd:restriction>
										</xsd:simpleType>
									</xsd:element>
									<xsd:element name="ExtOrigPriceWithPriceOvr" minOccurs="0">
										<xsd:simpleType>
											<xsd:restriction base="xsd:decimal">
												<xsd:totalDigits value="8"/>
												<xsd:fractionDigits value="2"/>
											</xsd:restriction>
										</xsd:simpleType>
									</xsd:element>
									<xsd:element name="ManualItemTaxSet" minOccurs="0">
										<xsd:simpleType>
											<xsd:restriction base="xsd:integer">
												<xsd:totalDigits value="1"/>
											</xsd:restriction>
										</xsd:simpleType>
									</xsd:element>
									<xsd:element name="PriceLevel2" minOccurs="0">
										<xsd:simpleType>
											<xsd:restriction base="xsd:decimal">
												<xsd:totalDigits value="8"/>
												<xsd:fractionDigits value="2"/>
											</xsd:restriction>
										</xsd:simpleType>
									</xsd:element>
									<xsd:element name="PriceLevelPrice" minOccurs="0">
										<xsd:simpleType>
											<xsd:restriction base="xsd:decimal">
												<xsd:totalDigits value="8"/>
												<xsd:fractionDigits value="2"/>
											</xsd:restriction>
										</xsd:simpleType>
									</xsd:element>
									<xsd:element name="MixMatchERPID" minOccurs="0">
										<xsd:simpleType>
											<xsd:restriction base="xsd:string">
												<xsd:maxLength value="12"/>
											</xsd:restriction>
										</xsd:simpleType>
									</xsd:element>
									<xsd:element name="PromotionERPID" minOccurs="0">
										<xsd:simpleType>
											<xsd:restriction base="xsd:string">
												<xsd:maxLength value="10"/>
											</xsd:restriction>
										</xsd:simpleType>
									</xsd:element>
									<xsd:element name="ExtendedRegularPrice" minOccurs="0">
										<xsd:simpleType>
											<xsd:restriction base="xsd:decimal">
												<xsd:totalDigits value="8"/>
												<xsd:fractionDigits value="2"/>
											</xsd:restriction>
										</xsd:simpleType>
									</xsd:element>
									<xsd:element name="ExtendedPrePromoPrice" minOccurs="0">
										<xsd:simpleType>
											<xsd:restriction base="xsd:decimal">
												<xsd:totalDigits value="8"/>
												<xsd:fractionDigits value="2"/>
											</xsd:restriction>
										</xsd:simpleType>
									</xsd:element>
									<xsd:element name="ExtendedNetPrice" minOccurs="0">
										<xsd:simpleType>
											<xsd:restriction base="xsd:decimal">
												<xsd:totalDigits value="8"/>
												<xsd:fractionDigits value="2"/>
											</xsd:restriction>
										</xsd:simpleType>
									</xsd:element>
									<xsd:element name="Tax5" minOccurs="0">
										<xsd:simpleType>
											<xsd:restriction base="xsd:integer">
												<xsd:totalDigits value="1"/>
											</xsd:restriction>
										</xsd:simpleType>
									</xsd:element>
									<xsd:element name="Tax6" minOccurs="0">
										<xsd:simpleType>
											<xsd:restriction base="xsd:integer">
												<xsd:totalDigits value="1"/>
											</xsd:restriction>
										</xsd:simpleType>
									</xsd:element>
									<xsd:element name="Tax7" minOccurs="0">
										<xsd:simpleType>
											<xsd:restriction base="xsd:integer">
												<xsd:totalDigits value="1"/>
											</xsd:restriction>
										</xsd:simpleType>
									</xsd:element>
									<xsd:element name="Tax8" minOccurs="0">
										<xsd:simpleType>
											<xsd:restriction base="xsd:integer">
												<xsd:totalDigits value="1"/>
											</xsd:restriction>
										</xsd:simpleType>
									</xsd:element>
									<xsd:element name="Tax9" minOccurs="0">
										<xsd:simpleType>
											<xsd:restriction base="xsd:integer">
												<xsd:totalDigits value="1"/>
											</xsd:restriction>
										</xsd:simpleType>
									</xsd:element>
									<xsd:element name="Tax10" minOccurs="0">
										<xsd:simpleType>
											<xsd:restriction base="xsd:integer">
												<xsd:totalDigits value="1"/>
											</xsd:restriction>
										</xsd:simpleType>
									</xsd:element>
									<xsd:element name="Tax11" minOccurs="0">
										<xsd:simpleType>
											<xsd:restriction base="xsd:integer">
												<xsd:totalDigits value="1"/>
											</xsd:restriction>
										</xsd:simpleType>
									</xsd:element>
									<xsd:element name="Tax12" minOccurs="0">
										<xsd:simpleType>
											<xsd:restriction base="xsd:integer">
												<xsd:totalDigits value="1"/>
											</xsd:restriction>
										</xsd:simpleType>
									</xsd:element>
									<xsd:element name="Tax13" minOccurs="0">
										<xsd:simpleType>
											<xsd:restriction base="xsd:integer">
												<xsd:totalDigits value="1"/>
											</xsd:restriction>
										</xsd:simpleType>
									</xsd:element>
									<xsd:element name="Tax14" minOccurs="0">
										<xsd:simpleType>
											<xsd:restriction base="xsd:integer">
												<xsd:totalDigits value="1"/>
											</xsd:restriction>
										</xsd:simpleType>
									</xsd:element>
									<xsd:element name="Tax15" minOccurs="0">
										<xsd:simpleType>
											<xsd:restriction base="xsd:integer">
												<xsd:totalDigits value="1"/>
											</xsd:restriction>
										</xsd:simpleType>
									</xsd:element>
									<xsd:element name="Tax16" minOccurs="0">
										<xsd:simpleType>
											<xsd:restriction base="xsd:integer">
												<xsd:totalDigits value="1"/>
											</xsd:restriction>
										</xsd:simpleType>
									</xsd:element>
									<xsd:element name="TaxModify5" minOccurs="0">
										<xsd:simpleType>
											<xsd:restriction base="xsd:integer">
												<xsd:totalDigits value="1"/>
											</xsd:restriction>
										</xsd:simpleType>
									</xsd:element>
									<xsd:element name="TaxModify6" minOccurs="0">
										<xsd:simpleType>
											<xsd:restriction base="xsd:integer">
												<xsd:totalDigits value="1"/>
											</xsd:restriction>
										</xsd:simpleType>
									</xsd:element>
									<xsd:element name="TaxModify7" minOccurs="0">
										<xsd:simpleType>
											<xsd:restriction base="xsd:integer">
												<xsd:totalDigits value="1"/>
											</xsd:restriction>
										</xsd:simpleType>
									</xsd:element>
									<xsd:element name="TaxModify8" minOccurs="0">
										<xsd:simpleType>
											<xsd:restriction base="xsd:integer">
												<xsd:totalDigits value="1"/>
											</xsd:restriction>
										</xsd:simpleType>
									</xsd:element>
									<xsd:element name="TaxModify9" minOccurs="0">
										<xsd:simpleType>
											<xsd:restriction base="xsd:integer">
												<xsd:totalDigits value="1"/>
											</xsd:restriction>
										</xsd:simpleType>
									</xsd:element>
									<xsd:element name="TaxModify10" minOccurs="0">
										<xsd:simpleType>
											<xsd:restriction base="xsd:integer">
												<xsd:totalDigits value="1"/>
											</xsd:restriction>
										</xsd:simpleType>
									</xsd:element>
									<xsd:element name="TaxModify11" minOccurs="0">
										<xsd:simpleType>
											<xsd:restriction base="xsd:integer">
												<xsd:totalDigits value="1"/>
											</xsd:restriction>
										</xsd:simpleType>
									</xsd:element>
									<xsd:element name="TaxModify12" minOccurs="0">
										<xsd:simpleType>
											<xsd:restriction base="xsd:integer">
												<xsd:totalDigits value="1"/>
											</xsd:restriction>
										</xsd:simpleType>
									</xsd:element>
									<xsd:element name="TaxModify13" minOccurs="0">
										<xsd:simpleType>
											<xsd:restriction base="xsd:integer">
												<xsd:totalDigits value="1"/>
											</xsd:restriction>
										</xsd:simpleType>
									</xsd:element>
									<xsd:element name="TaxModify14" minOccurs="0">
										<xsd:simpleType>
											<xsd:restriction base="xsd:integer">
												<xsd:totalDigits value="1"/>
											</xsd:restriction>
										</xsd:simpleType>
									</xsd:element>
									<xsd:element name="TaxModify15" minOccurs="0">
										<xsd:simpleType>
											<xsd:restriction base="xsd:integer">
												<xsd:totalDigits value="1"/>
											</xsd:restriction>
										</xsd:simpleType>
									</xsd:element>
									<xsd:element name="TaxModify16" minOccurs="0">
										<xsd:simpleType>
											<xsd:restriction base="xsd:integer">
												<xsd:totalDigits value="1"/>
											</xsd:restriction>
										</xsd:simpleType>
									</xsd:element>
									<xsd:element name="LoyaltyProgram1" minOccurs="0">
										<xsd:simpleType>
											<xsd:restriction base="xsd:integer">
												<xsd:totalDigits value="2"/>
											</xsd:restriction>
										</xsd:simpleType>
									</xsd:element>
									<xsd:element name="LoyaltyProgram2" minOccurs="0">
										<xsd:simpleType>
											<xsd:restriction base="xsd:integer">
												<xsd:totalDigits value="2"/>
											</xsd:restriction>
										</xsd:simpleType>
									</xsd:element>
									<xsd:element name="LoyaltyProgram3" minOccurs="0">
										<xsd:simpleType>
											<xsd:restriction base="xsd:integer">
												<xsd:totalDigits value="2"/>
											</xsd:restriction>
										</xsd:simpleType>
									</xsd:element>
									<xsd:element name="LoyaltyProgram4" minOccurs="0">
										<xsd:simpleType>
											<xsd:restriction base="xsd:integer">
												<xsd:totalDigits value="2"/>
											</xsd:restriction>
										</xsd:simpleType>
									</xsd:element>
									<xsd:element name="PromotionNumber" minOccurs="0">
										<xsd:simpleType>
											<xsd:restriction base="xsd:integer">
												<xsd:totalDigits value="5"/>
											</xsd:restriction>
										</xsd:simpleType>
									</xsd:element>
									<xsd:element name="PromoDetailID" minOccurs="0">
										<xsd:simpleType>
											<xsd:restriction base="xsd:integer">
												<xsd:totalDigits value="8"/>
											</xsd:restriction>
										</xsd:simpleType>
									</xsd:element>
									<xsd:element name="OriginalPrice" minOccurs="0">
										<xsd:simpleType>
											<xsd:restriction base="xsd:decimal">
												<xsd:totalDigits value="8"/>
												<xsd:fractionDigits value="2"/>
											</xsd:restriction>
										</xsd:simpleType>
									</xsd:element>
									<xsd:element name="PromotionApplyPriceMethod" minOccurs="0">
										<xsd:simpleType>
											<xsd:restriction base="xsd:integer">
												<xsd:totalDigits value="4"/>
											</xsd:restriction>
										</xsd:simpleType>
									</xsd:element>
									<xsd:element name="InventoryGroupID" minOccurs="0">
										<xsd:simpleType>
											<xsd:restriction base="xsd:integer">
												<xsd:totalDigits value="18"/>
											</xsd:restriction>
										</xsd:simpleType>
									</xsd:element>
									<xsd:element name="UnitSize" minOccurs="0">
										<xsd:simpleType>
											<xsd:restriction base="xsd:integer">
												<xsd:totalDigits value="6"/>
											</xsd:restriction>
										</xsd:simpleType>
									</xsd:element>
									<xsd:element name="ExtendedTaxableAmount" minOccurs="0">
										<xsd:simpleType>
											<xsd:restriction base="xsd:decimal">
												<xsd:totalDigits value="8"/>
												<xsd:fractionDigits value="2"/>
											</xsd:restriction>
										</xsd:simpleType>
									</xsd:element>
									<xsd:element name="PriceInOriginalCurrency" minOccurs="0">
										<xsd:simpleType>
											<xsd:restriction base="xsd:decimal">
												<xsd:totalDigits value="8"/>
												<xsd:fractionDigits value="2"/>
											</xsd:restriction>
										</xsd:simpleType>
									</xsd:element>
									<xsd:element name="OriginalCurrencyCode" minOccurs="0">
										<xsd:simpleType>
											<xsd:restriction base="xsd:string">
												<xsd:maxLength value="3"/>
											</xsd:restriction>
										</xsd:simpleType>
									</xsd:element>
									<xsd:element name="StandardUnitPrice" minOccurs="0">
										<xsd:simpleType>
											<xsd:restriction base="xsd:decimal">
												<xsd:totalDigits value="8"/>
												<xsd:fractionDigits value="2"/>
											</xsd:restriction>
										</xsd:simpleType>
									</xsd:element>
									<xsd:element name="DiscountModifiedFlag" minOccurs="0">
										<xsd:simpleType>
											<xsd:restriction base="xsd:string">
												<xsd:maxLength value="1"/>
											</xsd:restriction>
										</xsd:simpleType>
									</xsd:element>
									<xsd:element name="DescriptionEnteredFlag" minOccurs="0">
										<xsd:simpleType>
											<xsd:restriction base="xsd:string">
												<xsd:maxLength value="1"/>
											</xsd:restriction>
										</xsd:simpleType>
									</xsd:element>
									<xsd:element name="CouponItemFlag" minOccurs="0">
										<xsd:simpleType>
											<xsd:restriction base="xsd:string">
												<xsd:maxLength value="1"/>
											</xsd:restriction>
										</xsd:simpleType>
									</xsd:element>
									<xsd:element name="ScaleItemFlag" minOccurs="0">
										<xsd:simpleType>
											<xsd:restriction base="xsd:string">
												<xsd:maxLength value="1"/>
											</xsd:restriction>
										</xsd:simpleType>
									</xsd:element>
									<xsd:element name="RandomWeightFlag" minOccurs="0">
										<xsd:simpleType>
											<xsd:restriction base="xsd:string">
												<xsd:maxLength value="1"/>
											</xsd:restriction>
										</xsd:simpleType>
									</xsd:element>
									<xsd:element name="AllowDecimalQtyFlag" minOccurs="0">
										<xsd:simpleType>
											<xsd:restriction base="xsd:string">
												<xsd:maxLength value="1"/>
											</xsd:restriction>
										</xsd:simpleType>
									</xsd:element>
									<xsd:element name="ExtendedCostAmount" minOccurs="0">
										<xsd:simpleType>
											<xsd:restriction base="xsd:decimal">
												<xsd:totalDigits value="8"/>
												<xsd:fractionDigits value="2"/>
											</xsd:restriction>
										</xsd:simpleType>
									</xsd:element>
									<xsd:element name="CostCode" minOccurs="0">
										<xsd:simpleType>
											<xsd:restriction base="xsd:decimal">
												<xsd:totalDigits value="8"/>
												<xsd:fractionDigits value="2"/>
											</xsd:restriction>
										</xsd:simpleType>
									</xsd:element>
									<xsd:element name="PromoApplyPrice" minOccurs="0">
										<xsd:simpleType>
											<xsd:restriction base="xsd:integer">
												<xsd:totalDigits value="5"/>
											</xsd:restriction>
										</xsd:simpleType>
									</xsd:element>
									<xsd:element name="PromoPriceMethod" minOccurs="0">
										<xsd:simpleType>
											<xsd:restriction base="xsd:integer">
												<xsd:totalDigits value="3"/>
											</xsd:restriction>
										</xsd:simpleType>
									</xsd:element>
									<xsd:element name="PromoPriceAdjustAmount" minOccurs="0">
										<xsd:simpleType>
											<xsd:restriction base="xsd:decimal">
												<xsd:totalDigits value="8"/>
												<xsd:fractionDigits value="2"/>
											</xsd:restriction>
										</xsd:simpleType>
									</xsd:element>
									<xsd:element name="CrossReferenceFlag" minOccurs="0">
										<xsd:simpleType>
											<xsd:restriction base="xsd:integer">
												<xsd:totalDigits value="1"/>
											</xsd:restriction>
										</xsd:simpleType>
									</xsd:element>
									<xsd:element name="ReturnOriginalRecordsSequenceNumber" minOccurs="0">
										<xsd:simpleType>
											<xsd:restriction base="xsd:integer">
												<xsd:totalDigits value="3"/>
											</xsd:restriction>
										</xsd:simpleType>
									</xsd:element>
									<xsd:element name="ScaleTransactionItemFlag" minOccurs="0">
										<xsd:simpleType>
											<xsd:restriction base="xsd:integer">
												<xsd:totalDigits value="1"/>
											</xsd:restriction>
										</xsd:simpleType>
									</xsd:element>
									<xsd:element name="TaxOverrideFlag" minOccurs="0">
										<xsd:simpleType>
											<xsd:restriction base="xsd:integer">
												<xsd:totalDigits value="3"/>
											</xsd:restriction>
										</xsd:simpleType>
									</xsd:element>
									<xsd:element name="TaxOverridPercentage" minOccurs="0">
										<xsd:simpleType>
											<xsd:restriction base="xsd:integer">
												<xsd:totalDigits value="6"/>
											</xsd:restriction>
										</xsd:simpleType>
									</xsd:element>
									<xsd:element name="UserFlag1" minOccurs="0">
										<xsd:simpleType>
											<xsd:restriction base="xsd:string">
												<xsd:maxLength value="10"/>
											</xsd:restriction>
										</xsd:simpleType>
									</xsd:element>
									<xsd:element name="UserFlag2" minOccurs="0">
										<xsd:simpleType>
											<xsd:restriction base="xsd:string">
												<xsd:maxLength value="10"/>
											</xsd:restriction>
										</xsd:simpleType>
									</xsd:element>
									<xsd:element name="UserFlag3" minOccurs="0">
										<xsd:simpleType>
											<xsd:restriction base="xsd:string">
												<xsd:maxLength value="10"/>
											</xsd:restriction>
										</xsd:simpleType>
									</xsd:element>
									<xsd:element name="UserFlag4" minOccurs="0">
										<xsd:simpleType>
											<xsd:restriction base="xsd:string">
												<xsd:maxLength value="10"/>
											</xsd:restriction>
										</xsd:simpleType>
									</xsd:element>
									<xsd:element name="UserFlag5" minOccurs="0">
										<xsd:simpleType>
											<xsd:restriction base="xsd:string">
												<xsd:maxLength value="10"/>
											</xsd:restriction>
										</xsd:simpleType>
									</xsd:element>
									<xsd:element name="UserFlag6" minOccurs="0">
										<xsd:simpleType>
											<xsd:restriction base="xsd:string">
												<xsd:maxLength value="10"/>
											</xsd:restriction>
										</xsd:simpleType>
									</xsd:element>
									<xsd:element name="TotalSaleWoTax" minOccurs="0">
										<xsd:simpleType>
											<xsd:restriction base="xsd:decimal">
												<xsd:totalDigits value="8"/>
												<xsd:fractionDigits value="2"/>
											</xsd:restriction>
										</xsd:simpleType>
									</xsd:element>
									<xsd:element name="Tax1Amount" minOccurs="0">
										<xsd:simpleType>
											<xsd:restriction base="xsd:decimal">
												<xsd:totalDigits value="6"/>
												<xsd:fractionDigits value="2"/>
											</xsd:restriction>
										</xsd:simpleType>
									</xsd:element>
									<xsd:element name="PositiveFlag1" minOccurs="0">
										<xsd:simpleType>
											<xsd:restriction base="xsd:integer">
												<xsd:totalDigits value="1"/>
											</xsd:restriction>
										</xsd:simpleType>
									</xsd:element>
									<xsd:element name="ManualTax1Flag" minOccurs="0">
										<xsd:simpleType>
											<xsd:restriction base="xsd:integer">
												<xsd:totalDigits value="1"/>
											</xsd:restriction>
										</xsd:simpleType>
									</xsd:element>
									<xsd:element name="ManualTax1Percent" minOccurs="0">
										<xsd:simpleType>
											<xsd:restriction base="xsd:decimal">
												<xsd:totalDigits value="5"/>
												<xsd:fractionDigits value="3"/>
											</xsd:restriction>
										</xsd:simpleType>
									</xsd:element>
									<xsd:element name="Tax2Amount" minOccurs="0">
										<xsd:simpleType>
											<xsd:restriction base="xsd:decimal">
												<xsd:totalDigits value="6"/>
												<xsd:fractionDigits value="2"/>
											</xsd:restriction>
										</xsd:simpleType>
									</xsd:element>
									<xsd:element name="ManualTax2Flag" minOccurs="0">
										<xsd:simpleType>
											<xsd:restriction base="xsd:integer">
												<xsd:totalDigits value="1"/>
											</xsd:restriction>
										</xsd:simpleType>
									</xsd:element>
									<xsd:element name="ManualTax2Percent" minOccurs="0">
										<xsd:simpleType>
											<xsd:restriction base="xsd:decimal">
												<xsd:totalDigits value="5"/>
												<xsd:fractionDigits value="3"/>
											</xsd:restriction>
										</xsd:simpleType>
									</xsd:element>
									<xsd:element name="Tax3Amount" minOccurs="0">
										<xsd:simpleType>
											<xsd:restriction base="xsd:decimal">
												<xsd:totalDigits value="6"/>
												<xsd:fractionDigits value="2"/>
											</xsd:restriction>
										</xsd:simpleType>
									</xsd:element>
									<xsd:element name="PositiveFlag3" minOccurs="0">
										<xsd:simpleType>
											<xsd:restriction base="xsd:integer">
												<xsd:totalDigits value="1"/>
											</xsd:restriction>
										</xsd:simpleType>
									</xsd:element>
									<xsd:element name="ManualTax3Flag" minOccurs="0">
										<xsd:simpleType>
											<xsd:restriction base="xsd:integer">
												<xsd:totalDigits value="1"/>
											</xsd:restriction>
										</xsd:simpleType>
									</xsd:element>
									<xsd:element name="ManualTax3Percent" minOccurs="0">
										<xsd:simpleType>
											<xsd:restriction base="xsd:decimal">
												<xsd:totalDigits value="6"/>
												<xsd:fractionDigits value="2"/>
											</xsd:restriction>
										</xsd:simpleType>
									</xsd:element>
									<xsd:element name="Tax4Amount" minOccurs="0">
										<xsd:simpleType>
											<xsd:restriction base="xsd:decimal">
												<xsd:totalDigits value="6"/>
												<xsd:fractionDigits value="2"/>
											</xsd:restriction>
										</xsd:simpleType>
									</xsd:element>
									<xsd:element name="PositiveFlag4" minOccurs="0">
										<xsd:simpleType>
											<xsd:restriction base="xsd:integer">
												<xsd:totalDigits value="1"/>
											</xsd:restriction>
										</xsd:simpleType>
									</xsd:element>
									<xsd:element name="ManualTax4Flag" minOccurs="0">
										<xsd:simpleType>
											<xsd:restriction base="xsd:integer">
												<xsd:totalDigits value="1"/>
											</xsd:restriction>
										</xsd:simpleType>
									</xsd:element>
									<xsd:element name="ManualTax4Percent" minOccurs="0">
										<xsd:simpleType>
											<xsd:restriction base="xsd:decimal">
												<xsd:totalDigits value="5"/>
												<xsd:fractionDigits value="3"/>
											</xsd:restriction>
										</xsd:simpleType>
									</xsd:element>
									<xsd:element name="T2RecordFollows" minOccurs="0">
										<xsd:simpleType>
											<xsd:restriction base="xsd:integer">
												<xsd:totalDigits value="1"/>
											</xsd:restriction>
										</xsd:simpleType>
									</xsd:element>
									<xsd:element name="ManualItemTaxTotals" minOccurs="0">
										<xsd:simpleType>
											<xsd:restriction base="xsd:integer">
												<xsd:totalDigits value="8"/>
											</xsd:restriction>
										</xsd:simpleType>
									</xsd:element>
									<xsd:element name="PositiveFlag5" minOccurs="0">
										<xsd:simpleType>
											<xsd:restriction base="xsd:integer">
												<xsd:totalDigits value="1"/>
											</xsd:restriction>
										</xsd:simpleType>
									</xsd:element>
									<xsd:element name="TotalSaved" minOccurs="0">
										<xsd:simpleType>
											<xsd:restriction base="xsd:decimal">
												<xsd:totalDigits value="8"/>
												<xsd:fractionDigits value="2"/>
											</xsd:restriction>
										</xsd:simpleType>
									</xsd:element>
									<xsd:element name="PositiveFlag6" minOccurs="0">
										<xsd:simpleType>
											<xsd:restriction base="xsd:integer">
												<xsd:totalDigits value="1"/>
											</xsd:restriction>
										</xsd:simpleType>
									</xsd:element>
									<xsd:element name="Tax5Amount" minOccurs="0">
										<xsd:simpleType>
											<xsd:restriction base="xsd:decimal">
												<xsd:totalDigits value="6"/>
												<xsd:fractionDigits value="2"/>
											</xsd:restriction>
										</xsd:simpleType>
									</xsd:element>
									<xsd:element name="Tax6Amount" minOccurs="0">
										<xsd:simpleType>
											<xsd:restriction base="xsd:decimal">
												<xsd:totalDigits value="6"/>
												<xsd:fractionDigits value="2"/>
											</xsd:restriction>
										</xsd:simpleType>
									</xsd:element>
									<xsd:element name="Tax7Amount" minOccurs="0">
										<xsd:simpleType>
											<xsd:restriction base="xsd:decimal">
												<xsd:totalDigits value="6"/>
												<xsd:fractionDigits value="2"/>
											</xsd:restriction>
										</xsd:simpleType>
									</xsd:element>
									<xsd:element name="Tax8Amount" minOccurs="0">
										<xsd:simpleType>
											<xsd:restriction base="xsd:decimal">
												<xsd:totalDigits value="6"/>
												<xsd:fractionDigits value="2"/>
											</xsd:restriction>
										</xsd:simpleType>
									</xsd:element>
									<xsd:element name="Tax9Amount" minOccurs="0">
										<xsd:simpleType>
											<xsd:restriction base="xsd:decimal">
												<xsd:totalDigits value="6"/>
												<xsd:fractionDigits value="2"/>
											</xsd:restriction>
										</xsd:simpleType>
									</xsd:element>
									<xsd:element name="Tax10Amount" minOccurs="0">
										<xsd:simpleType>
											<xsd:restriction base="xsd:decimal">
												<xsd:totalDigits value="6"/>
												<xsd:fractionDigits value="2"/>
											</xsd:restriction>
										</xsd:simpleType>
									</xsd:element>
									<xsd:element name="Tax11Amount" minOccurs="0">
										<xsd:simpleType>
											<xsd:restriction base="xsd:decimal">
												<xsd:totalDigits value="6"/>
												<xsd:fractionDigits value="2"/>
											</xsd:restriction>
										</xsd:simpleType>
									</xsd:element>
									<xsd:element name="Tax12Amount" minOccurs="0">
										<xsd:simpleType>
											<xsd:restriction base="xsd:decimal">
												<xsd:totalDigits value="6"/>
												<xsd:fractionDigits value="2"/>
											</xsd:restriction>
										</xsd:simpleType>
									</xsd:element>
									<xsd:element name="PositiveFlag7" minOccurs="0">
										<xsd:simpleType>
											<xsd:restriction base="xsd:integer">
												<xsd:totalDigits value="1"/>
											</xsd:restriction>
										</xsd:simpleType>
									</xsd:element>
									<xsd:element name="Tax13Amount" minOccurs="0">
										<xsd:simpleType>
											<xsd:restriction base="xsd:decimal">
												<xsd:totalDigits value="6"/>
												<xsd:fractionDigits value="2"/>
											</xsd:restriction>
										</xsd:simpleType>
									</xsd:element>
									<xsd:element name="PositiveFlag8" minOccurs="0">
										<xsd:simpleType>
											<xsd:restriction base="xsd:integer">
												<xsd:totalDigits value="1"/>
											</xsd:restriction>
										</xsd:simpleType>
									</xsd:element>
									<xsd:element name="Tax14Amount" minOccurs="0">
										<xsd:simpleType>
											<xsd:restriction base="xsd:decimal">
												<xsd:totalDigits value="6"/>
												<xsd:fractionDigits value="2"/>
											</xsd:restriction>
										</xsd:simpleType>
									</xsd:element>
									<xsd:element name="PositiveFlag9" minOccurs="0">
										<xsd:simpleType>
											<xsd:restriction base="xsd:integer">
												<xsd:totalDigits value="1"/>
											</xsd:restriction>
										</xsd:simpleType>
									</xsd:element>
									<xsd:element name="Tax15Amount" minOccurs="0">
										<xsd:simpleType>
											<xsd:restriction base="xsd:decimal">
												<xsd:totalDigits value="6"/>
												<xsd:fractionDigits value="2"/>
											</xsd:restriction>
										</xsd:simpleType>
									</xsd:element>
									<xsd:element name="PositiveFlag10" minOccurs="0">
										<xsd:simpleType>
											<xsd:restriction base="xsd:integer">
												<xsd:totalDigits value="1"/>
											</xsd:restriction>
										</xsd:simpleType>
									</xsd:element>
									<xsd:element name="Tax16Amount" minOccurs="0">
										<xsd:simpleType>
											<xsd:restriction base="xsd:decimal">
												<xsd:totalDigits value="6"/>
												<xsd:fractionDigits value="2"/>
											</xsd:restriction>
										</xsd:simpleType>
									</xsd:element>
									<xsd:element name="PositiveFlag11" minOccurs="0">
										<xsd:simpleType>
											<xsd:restriction base="xsd:integer">
												<xsd:totalDigits value="1"/>
											</xsd:restriction>
										</xsd:simpleType>
									</xsd:element>
									<xsd:element name="TaxID" minOccurs="0">
										<xsd:simpleType>
											<xsd:restriction base="xsd:integer">
												<xsd:totalDigits value="2"/>
											</xsd:restriction>
										</xsd:simpleType>
									</xsd:element>
									<xsd:element name="JurisdictionID" minOccurs="0">
										<xsd:simpleType>
											<xsd:restriction base="xsd:integer">
												<xsd:totalDigits value="4"/>
											</xsd:restriction>
										</xsd:simpleType>
									</xsd:element>
									<xsd:element name="TaxAmount" minOccurs="0">
										<xsd:simpleType>
											<xsd:restriction base="xsd:decimal">
												<xsd:totalDigits value="10"/>
												<xsd:fractionDigits value="2"/>
											</xsd:restriction>
										</xsd:simpleType>
									</xsd:element>
									<xsd:element name="TaxableAmount" minOccurs="0">
										<xsd:simpleType>
											<xsd:restriction base="xsd:decimal">
												<xsd:totalDigits value="10"/>
												<xsd:fractionDigits value="2"/>
											</xsd:restriction>
										</xsd:simpleType>
									</xsd:element>
									<xsd:element name="ManualTax" minOccurs="0">
										<xsd:simpleType>
											<xsd:restriction base="xsd:string">
												<xsd:maxLength value="1"/>
											</xsd:restriction>
										</xsd:simpleType>
									</xsd:element>
									<xsd:element name="ItemLevelManualTax" minOccurs="0">
										<xsd:simpleType>
											<xsd:restriction base="xsd:string">
												<xsd:maxLength value="1"/>
											</xsd:restriction>
										</xsd:simpleType>
									</xsd:element>
									<xsd:element name="TenderID" minOccurs="0">
										<xsd:simpleType>
											<xsd:restriction base="xsd:integer">
												<xsd:totalDigits value="2"/>
											</xsd:restriction>
										</xsd:simpleType>
									</xsd:element>
									<xsd:element name="TenderAmount" minOccurs="0">
										<xsd:annotation>
											<xsd:documentation>Betrag in Fremdwährung</xsd:documentation>
										</xsd:annotation>
										<xsd:simpleType>
											<xsd:restriction base="xsd:decimal">
												<xsd:totalDigits value="8"/>
												<xsd:fractionDigits value="2"/>
											</xsd:restriction>
										</xsd:simpleType>
									</xsd:element>
									<xsd:element name="ChangeDue" minOccurs="0">
										<xsd:annotation>
											<xsd:documentation>Betrag in Fremdwährung</xsd:documentation>
										</xsd:annotation>
										<xsd:simpleType>
											<xsd:restriction base="xsd:decimal">
												<xsd:totalDigits value="8"/>
												<xsd:fractionDigits value="2"/>
											</xsd:restriction>
										</xsd:simpleType>
									</xsd:element>
									<xsd:element name="ExchangeAmount" minOccurs="0">
										<xsd:annotation>
											<xsd:documentation>Betrag um den die Fremdwährung korrigiert werden muss, um auf den Betrag in Hauswährung zu kommen</xsd:documentation>
										</xsd:annotation>
										<xsd:simpleType>
											<xsd:restriction base="xsd:decimal">
												<xsd:totalDigits value="8"/>
												<xsd:fractionDigits value="2"/>
											</xsd:restriction>
										</xsd:simpleType>
									</xsd:element>
									<xsd:element name="CurrencyCode" minOccurs="0">
										<xsd:simpleType>
											<xsd:restriction base="xsd:string">
												<xsd:maxLength value="3"/>
											</xsd:restriction>
										</xsd:simpleType>
									</xsd:element>
									<xsd:element name="ReissueFlag" minOccurs="0">
										<xsd:annotation>
											<xsd:documentation>0-No 1-Yes</xsd:documentation>
										</xsd:annotation>
										<xsd:simpleType>
											<xsd:restriction base="xsd:string">
												<xsd:length value="1"/>
											</xsd:restriction>
										</xsd:simpleType>
									</xsd:element>
									<xsd:element name="ReferenceNumber1" minOccurs="0">
										<xsd:simpleType>
											<xsd:restriction base="xsd:string">
												<xsd:length value="30"/>
											</xsd:restriction>
										</xsd:simpleType>
									</xsd:element>
									<xsd:element name="Future" type="xsd:integer" minOccurs="0">
										<xsd:annotation>
											<xsd:documentation>Not used</xsd:documentation>
										</xsd:annotation>
									</xsd:element>
									<xsd:element name="DeclineOverride" minOccurs="0">
										<xsd:annotation>
											<xsd:documentation>0-No 1-Yes</xsd:documentation>
										</xsd:annotation>
										<xsd:simpleType>
											<xsd:restriction base="xsd:integer">
												<xsd:totalDigits value="1"/>
											</xsd:restriction>
										</xsd:simpleType>
									</xsd:element>
									<xsd:element name="RoundingDifference" minOccurs="0">
										<xsd:annotation>
											<xsd:documentation>Rounding Difference</xsd:documentation>
										</xsd:annotation>
										<xsd:simpleType>
											<xsd:restriction base="xsd:decimal">
												<xsd:totalDigits value="8"/>
												<xsd:fractionDigits value="2"/>
											</xsd:restriction>
										</xsd:simpleType>
									</xsd:element>
									<xsd:element name="DiscountType" type="xsd:integer" minOccurs="0"/>
									<xsd:element name="Reason" type="xsd:integer" minOccurs="0"/>
									<xsd:element name="DiscountPercentage" minOccurs="0">
										<xsd:simpleType>
											<xsd:restriction base="xsd:decimal">
												<xsd:totalDigits value="6"/>
												<xsd:fractionDigits value="3"/>
											</xsd:restriction>
										</xsd:simpleType>
									</xsd:element>
									<xsd:element name="ExtendedDiscountAmt" minOccurs="0">
										<xsd:simpleType>
											<xsd:restriction base="xsd:decimal">
												<xsd:totalDigits value="7"/>
												<xsd:fractionDigits value="2"/>
											</xsd:restriction>
										</xsd:simpleType>
									</xsd:element>
									<xsd:element name="DiscountID" minOccurs="0">
										<xsd:simpleType>
											<xsd:restriction base="xsd:integer">
												<xsd:totalDigits value="2"/>
											</xsd:restriction>
										</xsd:simpleType>
									</xsd:element>
									<xsd:element name="TaxTable1" minOccurs="0">
										<xsd:annotation>
											<xsd:documentation>0-No 1-Yes</xsd:documentation>
										</xsd:annotation>
										<xsd:simpleType>
											<xsd:restriction base="xsd:integer">
												<xsd:totalDigits value="1"/>
											</xsd:restriction>
										</xsd:simpleType>
									</xsd:element>
									<xsd:element name="TaxTable2" minOccurs="0">
										<xsd:annotation>
											<xsd:documentation>0-No 1-Yes</xsd:documentation>
										</xsd:annotation>
										<xsd:simpleType>
											<xsd:restriction base="xsd:integer">
												<xsd:totalDigits value="1"/>
											</xsd:restriction>
										</xsd:simpleType>
									</xsd:element>
									<xsd:element name="TaxTable3" minOccurs="0">
										<xsd:annotation>
											<xsd:documentation>0-No 1-Yes</xsd:documentation>
										</xsd:annotation>
										<xsd:simpleType>
											<xsd:restriction base="xsd:integer">
												<xsd:totalDigits value="1"/>
											</xsd:restriction>
										</xsd:simpleType>
									</xsd:element>
									<xsd:element name="TaxTable4" minOccurs="0">
										<xsd:annotation>
											<xsd:documentation>0-No 1-Yes</xsd:documentation>
										</xsd:annotation>
										<xsd:simpleType>
											<xsd:restriction base="xsd:integer">
												<xsd:totalDigits value="1"/>
											</xsd:restriction>
										</xsd:simpleType>
									</xsd:element>
									<xsd:element name="AutoPresetDiscount" minOccurs="0">
										<xsd:annotation>
											<xsd:documentation>0-No 1-Yes</xsd:documentation>
										</xsd:annotation>
										<xsd:simpleType>
											<xsd:restriction base="xsd:integer">
												<xsd:totalDigits value="1"/>
											</xsd:restriction>
										</xsd:simpleType>
									</xsd:element>
									<xsd:element name="AffectNetSales" minOccurs="0">
										<xsd:annotation>
											<xsd:documentation>0-No 1-Yes</xsd:documentation>
										</xsd:annotation>
										<xsd:simpleType>
											<xsd:restriction base="xsd:integer">
												<xsd:totalDigits value="1"/>
											</xsd:restriction>
										</xsd:simpleType>
									</xsd:element>
									<xsd:element name="KeyToken" minOccurs="0">
										<xsd:simpleType>
											<xsd:restriction base="xsd:string">
												<xsd:maxLength value="64"/>
											</xsd:restriction>
										</xsd:simpleType>
									</xsd:element>
									<xsd:element name="ScannedReferenceNum" minOccurs="0">
										<xsd:annotation>
											<xsd:documentation>0-No 1-Yes</xsd:documentation>
										</xsd:annotation>
										<xsd:simpleType>
											<xsd:restriction base="xsd:integer">
												<xsd:totalDigits value="1"/>
											</xsd:restriction>
										</xsd:simpleType>
									</xsd:element>
									<xsd:element name="StoreIDExtension" minOccurs="0">
										<xsd:simpleType>
											<xsd:restriction base="xsd:integer">
												<xsd:totalDigits value="4"/>
											</xsd:restriction>
										</xsd:simpleType>
									</xsd:element>
									<xsd:element name="CashierIDExtension" minOccurs="0">
										<xsd:simpleType>
											<xsd:restriction base="xsd:integer">
												<xsd:totalDigits value="2"/>
											</xsd:restriction>
										</xsd:simpleType>
									</xsd:element>
									<xsd:element name="SalesPersonIDExtension" minOccurs="0">
										<xsd:simpleType>
											<xsd:restriction base="xsd:integer">
												<xsd:totalDigits value="2"/>
											</xsd:restriction>
										</xsd:simpleType>
									</xsd:element>
									<xsd:element name="RecordSequenceExtension" minOccurs="0">
										<xsd:simpleType>
											<xsd:restriction base="xsd:integer">
												<xsd:totalDigits value="2"/>
											</xsd:restriction>
										</xsd:simpleType>
									</xsd:element>
								</xsd:sequence>
							</xsd:complexType>
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>