Resources/schemas/Xsd/SAP_Service_Cloud_Integration_with_SAP_Field_Service_Management - Item_RequestIn.xsd

<xs:schema attributeFormDefault="unqualified"
	elementFormDefault="qualified"
	xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="Items">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="data" minOccurs="1"
					maxOccurs="unbounded">
					<xs:complexType>
						<xs:sequence>
							<xs:element type="xs:string" name="code" minOccurs="0"
								maxOccurs="1" />
							<xs:element type="xs:string" name="externalId"
								minOccurs="0" maxOccurs="1" />
							<xs:element type="xs:string" name="eans" minOccurs="0"
								maxOccurs="unbounded" />
							<xs:element type="xs:string" name="groupCode"
								minOccurs="0" maxOccurs="1" />
							<xs:element type="xs:string" name="groupName"
								minOccurs="0" maxOccurs="1" />
							<xs:element type="xs:boolean" name="inventoryItem"
								minOccurs="0" maxOccurs="1" />
							<xs:element type="xs:boolean"
								name="managedBySerialNumbers" minOccurs="0" maxOccurs="1" />
							<xs:element type="xs:string" name="name" minOccurs="0"
								maxOccurs="1" />
							<xs:element type="xs:integer" name="ordinal"
								minOccurs="0" maxOccurs="1" />
							<xs:element type="xs:string" name="properties"
								minOccurs="0" maxOccurs="1" />
							<xs:element type="xs:boolean" name="purchaseItem"
								minOccurs="0" maxOccurs="1" />
							<xs:element type="xs:string" name="remarks"
								minOccurs="0" maxOccurs="1" />
							<xs:element type="xs:boolean" name="salesItem"
								minOccurs="0" maxOccurs="1" />
							<xs:element type="xs:boolean" name="serialNumberItem"
								minOccurs="0" maxOccurs="1" />
							<xs:element type="xs:string" name="typeCode"
								minOccurs="0" maxOccurs="1" />
							<xs:element type="xs:string" name="inactive"
								minOccurs="0" maxOccurs="1" />
							<xs:element type="xs:string" name="typeName"
								minOccurs="0" maxOccurs="1" />
							<xs:element type="xs:string" name="unitOfMeasure"
								minOccurs="0" maxOccurs="1" />
							<xs:element name="udfValues" minOccurs="0"
								maxOccurs="unbounded">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="meta" minOccurs="0" maxOccurs="1">
											<xs:complexType>
												<xs:sequence>
													<xs:element type="xs:string" name="externalId"
														minOccurs="0" maxOccurs="1" />
												</xs:sequence>
											</xs:complexType>
										</xs:element>
										<xs:element type="xs:string" name="value"
											minOccurs="0" maxOccurs="1" />
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="nameTranslations" minOccurs="0"
								maxOccurs="1" />
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
