Resources/schemas/Xsd/SAP_Service_Cloud_Integration_with_ServiceNow - ServiceRequestPOST.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="root">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="correlation_id" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="cmdb_ci" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="category" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="business_service" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="contact_type" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="short_description" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="description" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="impact" type="xs:unsignedByte" />
        <xs:element minOccurs="0" maxOccurs="1" name="caller_id" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="u_beneficiary" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="work_notes" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="comments" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="opened_at" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="ws_param_table" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="ws_param_interface" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>