Resources/schemas/Xsd/SAP_Build_Process_Automation_Integration_with_SAP_S-4HANA_for_Authorization_For_Expenditure - XSD - Input BAPI.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="unqualified" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:sap-com:document:sap:rfc:functions">
  <xs:import schemaLocation="schema1.xsd" />
  <xs:element name="BAPI_PROJECT_MAINTAIN.Response">
    <xs:complexType>
      <xs:sequence>
      <xs:element name="RETURN">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="TYPE" type="xs:string" />
        <xs:element name="ID" type="xs:string" />
        <xs:element name="NUMBER" type="xs:unsignedShort" />
        <xs:element name="MESSAGE" type="xs:string" />
        <xs:element name="LOG_NO" />
        <xs:element name="LOG_MSG_NO" type="xs:unsignedByte" />
        <xs:element name="MESSAGE_V1" />
        <xs:element name="MESSAGE_V2" />
        <xs:element name="MESSAGE_V3" />
        <xs:element name="MESSAGE_V4" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
<xs:element name="E_MESSAGE_TABLE">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" name="item">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="METHOD" type="xs:string" />
              <xs:element name="OBJECT_TYPE" type="xs:string" />
              <xs:element name="INTERNAL_OBJECT_ID" />
              <xs:element name="EXTERNAL_OBJECT_ID" type="xs:string" />
              <xs:element name="MESSAGE_ID" type="xs:string" />
              <xs:element name="MESSAGE_NUMBER" type="xs:unsignedShort" />
              <xs:element name="MESSAGE_TYPE" type="xs:string" />
              <xs:element name="MESSAGE_TEXT" type="xs:string" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>