Resources/schemas/Xsd/SAP_S-4HANA_Integration_with_SAP_Build_Process_Automation_for_Finance_General_Ledger - BTPRequest.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- Created with Liquid Technologies Online Tools 1.0 (https://www.liquid-technologies.com) -->
<xsd:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:element name="root">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="GLData">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="GLAccountNumber" minOccurs="0" />
              <xsd:element name="CompanyCode" minOccurs="0" />
              <xsd:element name="ChartOfAccounts" minOccurs="0" />
              <xsd:element name="TradingPartner" minOccurs="0" />
              <xsd:element name="GLAccountType" minOccurs="0" />
              <xsd:element name="AccountGroup" minOccurs="0" />
              <xsd:element name="FunctionalArea" minOccurs="0" />
              <xsd:element name="ShortText" minOccurs="0" />
              <xsd:element name="GLAccountLongText" minOccurs="0" />
              <xsd:element name="AccountCurrency" minOccurs="0" />
              <xsd:element name="TaxCategory" minOccurs="0" />
              <xsd:element name="ValuationGroup" minOccurs="0" />
              <xsd:element name="GLAccountSubtype" minOccurs="0" />
              <xsd:element name="PostingWithoutTaxAllowed" minOccurs="0" />
              <xsd:element name="ReconciliationAccountForAccountType" minOccurs="0" />
              <xsd:element name="AlternativeAccountNumber" minOccurs="0" />
              <xsd:element name="AccountManagedInExternalSystem" minOccurs="0" />
              <xsd:element name="UnitOfMeasurement" minOccurs="0" />
              <xsd:element name="InflationKey" minOccurs="0" />
              <xsd:element name="ToleranceGroup" minOccurs="0" />
              <xsd:element name="OpenItemManagement" minOccurs="0" />
              <xsd:element name="ClearingSpecificToGeneralLedger" minOccurs="0" />
              <xsd:element name="SortKey" minOccurs="0" />
              <xsd:element name="AuthorizationGroup" minOccurs="0" />
              <xsd:element name="CostElementCategory" minOccurs="0" />
              <xsd:element name="FieldStatusGroup" minOccurs="0" />
              <xsd:element name="PostAutomatically" minOccurs="0" />
              <xsd:element name="SupplementAutoPosting" minOccurs="0" />
              <xsd:element name="ReconAccountReadyForInput" minOccurs="0" />
              <xsd:element name="PlanningLevel" minOccurs="0" />
              <xsd:element name="RelevanceToCashFlow" minOccurs="0" />
              <xsd:element name="CommitmentItem" minOccurs="0" />
              <xsd:element name="HouseBank" minOccurs="0" />
              <xsd:element name="AccountID" minOccurs="0" />
              <xsd:element name="InterestIndicator" minOccurs="0" />
              <xsd:element name="InterestCalculationFrequency" minOccurs="0" />
              <xsd:element name="KeyDateOfLastInterestCalculation" minOccurs="0" />
              <xsd:element name="DateOfLastInterestRun" minOccurs="0" />
              <xsd:element name="PLStatmtAcctType" minOccurs="0" />
              <xsd:element name="GroupAccountNumber" minOccurs="0" />
              <xsd:element name="ClerkAbbrevation" minOccurs="0" />
              <xsd:element name="ExchangeRateDifferenceKey" minOccurs="0" />
              <xsd:element name="ReconciliationAccount" minOccurs="0" />
			  <xsd:element name="BalancesInLocalCrcyOnly" minOccurs="0" />
			  <xsd:element name="Language" minOccurs="0" />
			  <xsd:element name="ControllingArea" minOccurs="0" />
			  <xsd:element name="ValidFrom" minOccurs="0" />
			  <xsd:element name="ValidTo" minOccurs="0" />
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
</xsd:schema>