Resources/schemas/Xsd/SAP_Build_Process_Automation_Integration_with_SAP_ERP_for_Invoice - ProfitCentreOutput.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="root">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="profitCenterList" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:byte" name="costCenterArea"/>
              <xs:element type="xs:string" name="inCharge"/>
              <xs:element type="xs:string" name="inChargeUs"/>
              <xs:element type="xs:string" name="pctrName"/>
              <xs:element type="xs:string" name="profitCenter"/>
              <xs:element type="xs:string" name="validTo"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>