Resources/schemas/Xsd/SAP_Build_Process_Automation_Integration_with_SAP_S-4HANA_for_Non_Operated_Joint_Venture_Cash_Call_Approval - Custom RFC - Invoice.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="unqualified" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:sap-com:document:sap:rfc:functions">
  <xs:element name="RFCNAME">
    <xs:complexType>
        <xs:sequence>
            <xs:element name="IS_BILL_DATA">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="BUKRS" minOccurs="0" type="xs:string" />
                        <xs:element name="KURSF" minOccurs="0" type="xs:string" />
                        <xs:element name="BUDAT" minOccurs="0" type="xs:string" />
                        <xs:element name="WWERT" minOccurs="0" type="xs:string" />
                        <xs:element name="MONAT" minOccurs="0" type="xs:string" />
                        <xs:element name="VNAME" minOccurs="0" type="xs:string" />
                        <xs:element name="FUNDCUR" minOccurs="0" type="xs:string" />
                        <xs:element name="NOBNO" minOccurs="0" type="xs:string" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="IP_INTYPE" type="xs:string" />
            <xs:element name="IP_VENDOR" type="xs:string" />
            <xs:element name="IP_TAXCODE" type="xs:string" />
            <xs:element name="IP_GJAHR" type="xs:string" />
            <xs:element name="IP_STATUS" type="xs:string" />
        </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>