Resources/schemas/Xsd/SAP_S-4HANA_Cloud_Public_Edition_Integration_with_Shopify - ShopifyCustomerXSD.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="nodes">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="displayName" type="xs:string" />
                <xs:element name="id" type="xs:string" />
                <xs:element minOccurs="0" name="defaultAddress">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element minOccurs="0" name="countryCode" type="xs:string" />
                            <xs:element minOccurs="0" name="zip" type="xs:string" />
                            <xs:element minOccurs="0" name="city" type="xs:string" />
                            <xs:element minOccurs="0" name="address1" type="xs:string" />
                            <xs:element minOccurs="0" name="address2" />
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="locale" type="xs:string" />
                <xs:element minOccurs="0" name="addresses">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element minOccurs="0" name="id" type="xs:string" />
                            <xs:element minOccurs="0" name="address1" type="xs:string" />
                            <xs:element minOccurs="0" name="address2" />
                            <xs:element minOccurs="0" name="city" type="xs:string" />
                            <xs:element minOccurs="0" name="zip" type="xs:string" />
                            <xs:element minOccurs="0" name="countryCode" type="xs:string" />
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="taxExempt" type="xs:boolean" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>