Resources/schemas/Xsd/SAP_Commerce_Cloud_Integration_with_SAP_Master_Data_Integration_for_Products - ProductsEntityPOST_ApprovedAttributes.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="batchParts">
        <xs:complexType>
            <xs:sequence>
                <xs:element nillable="false" minOccurs="1" maxOccurs="unbounded" name="batchChangeSet">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element nillable="false" minOccurs="1" maxOccurs="unbounded" name="batchChangeSetPart">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element type="xs:string" nillable="false" minOccurs="1" maxOccurs="1" name="method" xmlns=""/>
                                        <xs:element type="xs:string" nillable="true" minOccurs="0" maxOccurs="1" name="uri" xmlns=""/>
                                        <xs:element nillable="true" minOccurs="0" maxOccurs="1" name="headers">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element nillable="true" minOccurs="0" maxOccurs="unbounded" name="header">
                                                        <xs:complexType>
                                                            <xs:sequence>
                                                                <xs:element type="xs:string" nillable="false" minOccurs="1" maxOccurs="1" name="headerName" xmlns=""/>
                                                                <xs:element type="xs:string" nillable="false" minOccurs="1" maxOccurs="1" name="headerValue" xmlns=""/>
                                                            </xs:sequence>
                                                        </xs:complexType>
                                                    </xs:element>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element nillable="false" minOccurs="1" maxOccurs="1" name="Products">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element minOccurs="1" maxOccurs="unbounded" name="Product">
                                                        <xs:complexType>
                                                            <xs:sequence>
                                                                <xs:element type="xs:string" nillable="false" maxOccurs="1" name="integrationKey" xmlns=""/>
                                                                <xs:element type="xs:string" nillable="false" maxOccurs="1" name="code" xmlns=""/>
                                                                <xs:element type="xs:boolean" nillable="true" minOccurs="0" maxOccurs="1" name="sapConfigurable" xmlns=""/>
                                                                <xs:element type="xs:boolean" nillable="true" minOccurs="0" maxOccurs="1" name="sapBlocked" xmlns=""/>
                                                                <xs:element type="xs:string" nillable="true" minOccurs="0" maxOccurs="1" name="name" xmlns=""/>
                                                                <xs:element type="xs:dateTime" nillable="true" minOccurs="0" maxOccurs="1" name="sapBlockedDate" xmlns=""/>
                                                                <xs:element type="xs:string" nillable="true" minOccurs="0" maxOccurs="1" name="sapEAN" xmlns=""/>
                                                                <xs:element type="xs:string" nillable="true" minOccurs="0" maxOccurs="1" name="description" xmlns=""/>
                                                                <xs:element nillable="true" minOccurs="0" maxOccurs="unbounded" name="catalogVersion">
                                                                    <xs:complexType>
                                                                        <xs:sequence>
                                                                            <xs:element minOccurs="0" maxOccurs="1" name="CatalogVersion">
                                                                                <xs:complexType>
                                                                                    <xs:sequence>
                                                                                        <xs:element type="xs:string" nillable="false" maxOccurs="1" name="integrationKey" xmlns=""/>
                                                                                        <xs:element type="xs:boolean" nillable="true" minOccurs="0" maxOccurs="1" name="active" xmlns=""/>
                                                                                        <xs:element type="xs:string" nillable="false" maxOccurs="1" name="version" xmlns=""/>
                                                                                        <xs:element nillable="true" minOccurs="0" maxOccurs="unbounded" name="catalog">
                                                                                            <xs:complexType>
                                                                                                <xs:sequence>
                                                                                                    <xs:element minOccurs="0" maxOccurs="1" name="Catalog">
                                                                                                        <xs:complexType>
                                                                                                            <xs:sequence>
                                                                                                                <xs:element type="xs:string" nillable="false" maxOccurs="1" name="integrationKey" xmlns=""/>
                                                                                                                <xs:element type="xs:string" nillable="false" maxOccurs="1" name="id" xmlns=""/>
                                                                                                            </xs:sequence>
                                                                                                        </xs:complexType>
                                                                                                    </xs:element>
                                                                                                </xs:sequence>
                                                                                            </xs:complexType>
                                                                                        </xs:element>
                                                                                    </xs:sequence>
                                                                                </xs:complexType>
                                                                            </xs:element>
                                                                        </xs:sequence>
                                                                    </xs:complexType>
                                                                </xs:element>
                                                                <xs:element nillable="true" minOccurs="0" maxOccurs="unbounded" name="supercategories">
                                                                    <xs:complexType>
                                                                        <xs:sequence>
                                                                            <xs:element minOccurs="0" maxOccurs="unbounded" name="Category">
                                                                                <xs:complexType>
                                                                                    <xs:sequence>
                                                                                        <xs:element type="xs:string" nillable="false" maxOccurs="1" name="integrationKey" xmlns=""/>
                                                                                        <xs:element type="xs:string" nillable="false" maxOccurs="1" name="code" xmlns=""/>
                                                                                        <xs:element nillable="true" minOccurs="0" maxOccurs="unbounded" name="catalogVersion">
                                                                                            <xs:complexType>
                                                                                                <xs:sequence>
                                                                                                    <xs:element minOccurs="0" maxOccurs="1" name="CatalogVersion">
                                                                                                        <xs:complexType>
                                                                                                            <xs:sequence>
                                                                                                                <xs:element type="xs:string" nillable="false" maxOccurs="1" name="integrationKey" xmlns=""/>
                                                                                                                <xs:element type="xs:boolean" nillable="true" minOccurs="0" maxOccurs="1" name="active" xmlns=""/>
                                                                                                                <xs:element type="xs:string" nillable="false" maxOccurs="1" name="version" xmlns=""/>
                                                                                                                <xs:element nillable="true" minOccurs="0" maxOccurs="unbounded" name="catalog">
                                                                                                                    <xs:complexType>
                                                                                                                        <xs:sequence>
                                                                                                                            <xs:element minOccurs="0" maxOccurs="1" name="Catalog">
                                                                                                                                <xs:complexType>
                                                                                                                                    <xs:sequence>
                                                                                                                                        <xs:element type="xs:string" nillable="false" maxOccurs="1" name="integrationKey" xmlns=""/>
                                                                                                                                        <xs:element type="xs:string" nillable="false" maxOccurs="1" name="id" xmlns=""/>
                                                                                                                                    </xs:sequence>
                                                                                                                                </xs:complexType>
                                                                                                                            </xs:element>
                                                                                                                        </xs:sequence>
                                                                                                                    </xs:complexType>
                                                                                                                </xs:element>
                                                                                                            </xs:sequence>
                                                                                                        </xs:complexType>
                                                                                                    </xs:element>
                                                                                                </xs:sequence>
                                                                                            </xs:complexType>
                                                                                        </xs:element>
                                                                                    </xs:sequence>
                                                                                </xs:complexType>
                                                                            </xs:element>
                                                                        </xs:sequence>
                                                                    </xs:complexType>
                                                                </xs:element>
                                                                <xs:element nillable="true" minOccurs="0" maxOccurs="unbounded" name="variantType">
                                                                    <xs:complexType>
                                                                        <xs:sequence>
                                                                            <xs:element minOccurs="0" maxOccurs="1" name="VariantType">
                                                                                <xs:complexType>
                                                                                    <xs:sequence>
                                                                                        <xs:element type="xs:string" nillable="false" maxOccurs="1" name="integrationKey" xmlns=""/>
                                                                                        <xs:element type="xs:string" nillable="false" maxOccurs="1" name="code" xmlns=""/>
                                                                                    </xs:sequence>
                                                                                </xs:complexType>
                                                                            </xs:element>
                                                                        </xs:sequence>
                                                                    </xs:complexType>
                                                                </xs:element>
                                                                <xs:element nillable="true" minOccurs="0" maxOccurs="unbounded" name="localizedAttributes">
                                                                    <!--<xs:complexType>-->
                                                                    <!--    <xs:sequence>-->
                                                                    <!--        <xs:element minOccurs="0" maxOccurs="unbounded" name="Localized___Product">-->
                                                                                <xs:complexType>
                                                                                    <xs:sequence>
                                                                                        <xs:element type="xs:string" nillable="false" maxOccurs="1" name="language" xmlns=""/>
                                                                                        <xs:element type="xs:string" nillable="true" minOccurs="0" maxOccurs="1" name="name" xmlns=""/>
                                                                                        <xs:element type="xs:string" nillable="true" minOccurs="0" maxOccurs="1" name="description" xmlns=""/>
                                                                                    </xs:sequence>
                                                                                </xs:complexType>
                                                                    <!--        </xs:element>-->
                                                                    <!--    </xs:sequence>-->
                                                                    <!--</xs:complexType>-->
                                                                </xs:element>
                                                                <xs:element nillable="true" minOccurs="0" maxOccurs="unbounded" name="externalIds">
                                                                    <xs:complexType>
                                                                        <xs:sequence>
                                                                            <xs:element minOccurs="0" maxOccurs="unbounded" name="ExternalId">
                                                                                <xs:complexType>
                                                                                    <xs:sequence>
                                                                                        <xs:element type="xs:string" nillable="false" maxOccurs="1" name="integrationKey" xmlns=""/>
                                                                                        <xs:element type="xs:string" nillable="false" maxOccurs="1" name="application" xmlns=""/>
                                                                                        <xs:element type="xs:string" nillable="false" maxOccurs="1" name="tenantId" xmlns=""/>
                                                                                        <xs:element type="xs:string" nillable="true" minOccurs="0" maxOccurs="1" name="versionId" xmlns=""/>
                                                                                        <xs:element type="xs:string" nillable="false" maxOccurs="1" name="externalId" xmlns=""/>
                                                                                    </xs:sequence>
                                                                                </xs:complexType>
                                                                            </xs:element>
                                                                        </xs:sequence>
                                                                    </xs:complexType>
                                                                </xs:element>
                                                                <xs:element minOccurs="0" maxOccurs="1" name="link">
                                                                    <xs:complexType>
                                                                        <xs:sequence>
                                                                            <xs:element nillable="true" minOccurs="0" maxOccurs="unbounded" name="catalogVersion">
                                                                                <xs:complexType>
                                                                                    <xs:sequence>
                                                                                        <xs:element minOccurs="0" maxOccurs="1" name="CatalogVersion">
                                                                                            <xs:complexType>
                                                                                                <xs:sequence>
                                                                                                    <xs:element type="xs:string" minOccurs="1" maxOccurs="1" name="integrationKey" xmlns=""/>
                                                                                                </xs:sequence>
                                                                                            </xs:complexType>
                                                                                        </xs:element>
                                                                                    </xs:sequence>
                                                                                </xs:complexType>
                                                                            </xs:element>
                                                                            <xs:element nillable="true" minOccurs="0" maxOccurs="unbounded" name="supercategories">
                                                                                <xs:complexType>
                                                                                    <xs:sequence>
                                                                                        <xs:element minOccurs="0" maxOccurs="unbounded" name="Category">
                                                                                            <xs:complexType>
                                                                                                <xs:sequence>
                                                                                                    <xs:element type="xs:string" minOccurs="1" maxOccurs="1" name="integrationKey" xmlns=""/>
                                                                                                </xs:sequence>
                                                                                            </xs:complexType>
                                                                                        </xs:element>
                                                                                    </xs:sequence>
                                                                                </xs:complexType>
                                                                            </xs:element>
                                                                            <xs:element nillable="true" minOccurs="0" maxOccurs="unbounded" name="variantType">
                                                                                <xs:complexType>
                                                                                    <xs:sequence>
                                                                                        <xs:element minOccurs="0" maxOccurs="1" name="VariantType">
                                                                                            <xs:complexType>
                                                                                                <xs:sequence>
                                                                                                    <xs:element type="xs:string" minOccurs="1" maxOccurs="1" name="integrationKey" xmlns=""/>
                                                                                                </xs:sequence>
                                                                                            </xs:complexType>
                                                                                        </xs:element>
                                                                                    </xs:sequence>
                                                                                </xs:complexType>
                                                                            </xs:element>
                                                                            <xs:element nillable="true" minOccurs="0" maxOccurs="unbounded" name="localizedAttributes">
                                                                                <xs:complexType>
                                                                                    <xs:sequence>
                                                                                        <xs:element minOccurs="0" maxOccurs="unbounded" name="Localized___Product">
                                                                                            <xs:complexType>
                                                                                                <xs:sequence>
                                                                                                    <xs:element type="xs:string" minOccurs="1" maxOccurs="1" name="language" xmlns=""/>
                                                                                                </xs:sequence>
                                                                                            </xs:complexType>
                                                                                        </xs:element>
                                                                                    </xs:sequence>
                                                                                </xs:complexType>
                                                                            </xs:element>
                                                                            <xs:element nillable="true" minOccurs="0" maxOccurs="unbounded" name="externalIds">
                                                                                <xs:complexType>
                                                                                    <xs:sequence>
                                                                                        <xs:element minOccurs="0" maxOccurs="unbounded" name="ExternalId">
                                                                                            <xs:complexType>
                                                                                                <xs:sequence>
                                                                                                    <xs:element type="xs:string" minOccurs="1" maxOccurs="1" name="integrationKey" xmlns=""/>
                                                                                                </xs:sequence>
                                                                                            </xs:complexType>
                                                                                        </xs:element>
                                                                                    </xs:sequence>
                                                                                </xs:complexType>
                                                                            </xs:element>
                                                                        </xs:sequence>
                                                                    </xs:complexType>
                                                                </xs:element>
                                                            </xs:sequence>
                                                        </xs:complexType>
                                                    </xs:element>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>
