Resources/schemas/Xsd/SAP_Hybris_Cloud_for_Customer_Integration_with_SAP_Hybris_as_a_Service - YaaS-Corporate_Account-3.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:element name="address" type="address"/>

  <xs:element name="corporateAccount" type="corporateAccount"/>

  <xs:element name="metadata" type="metadata"/>

  <xs:complexType name="corporateAccount">
    <xs:sequence>
      <xs:element name="active" type="xs:boolean" minOccurs="0"/>
      <xs:element name="addresses" type="address" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="defaultAddress" type="address" minOccurs="0"/>
      <xs:element name="email" type="xs:string" minOccurs="0"/>
      <xs:element name="id" type="xs:string" minOccurs="0"/>
      <xs:element name="industry" type="xs:string" minOccurs="0"/>
      <xs:element name="legalForm" type="xs:string" minOccurs="0"/>
      <xs:element ref="metadata" minOccurs="0"/>
      <xs:element name="name" type="xs:string" minOccurs="0"/>
      <xs:element name="phone" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="address">
    <xs:sequence>
      <xs:element name="city" type="xs:string" minOccurs="0"/>
      <xs:element name="companyName" type="xs:string" minOccurs="0"/>
      <xs:element name="contactName" type="xs:string" minOccurs="0"/>
      <xs:element name="contactPhone" type="xs:string" minOccurs="0"/>
      <xs:element name="country" type="xs:string" minOccurs="0"/>
      <xs:element name="extraLine1" type="xs:string" minOccurs="0"/>
      <xs:element name="extraLine2" type="xs:string" minOccurs="0"/>
      <xs:element name="extraLine3" type="xs:string" minOccurs="0"/>
      <xs:element name="extraLine4" type="xs:string" minOccurs="0"/>
      <xs:element name="id" type="xs:string" minOccurs="0"/>
      <xs:element name="isDefault" type="xs:boolean" minOccurs="0"/>
      <xs:element name="state" type="xs:string" minOccurs="0"/>
      <xs:element name="street" type="xs:string" minOccurs="0"/>
      <xs:element name="streetAppendix" type="xs:string" minOccurs="0"/>
      <xs:element name="streetNumber" type="xs:string" minOccurs="0"/>
      <xs:element name="tags" type="xs:string" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="zipCode" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="metadata">
    <xs:sequence>
      <xs:element name="createdAt" type="xs:dateTime" minOccurs="0"/>
      <xs:element name="modifiedAt" type="xs:dateTime" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>