Resources/schemas/Xsd/SAP_SuccessFactors_Employee_Central_Integration_with_Third-Party_Time_Vendor_-_Kronos - queryCompoundEmployeeResponse (1).xsd

<?xml version="1.0" encoding="UTF-8"?>
   <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
         <!-- XML Schema Generated from XML Document on Tue Oct 28 2014 13:36:45 GMT+0530 (India Standard Time) -->
         <!-- with XmlGrid.net Free Online Service http://xmlgrid.net -->
         <xs:element name="queryCompoundEmployeeResponse">
               <xs:complexType>
                     <xs:sequence>
                           <xs:element name="CompoundEmployee" maxOccurs="unbounded">
                                 <xs:complexType>
                                       <xs:sequence>
                                             <xs:element name="id" type="xs:int"></xs:element>
                                             <xs:element name="execution_timestamp" type="xs:string"></xs:element>
                                             <xs:element name="version_id" type="xs:string"></xs:element>
                                             <xs:element name="person">
                                                   <xs:complexType>
                                                         <xs:sequence>
                                                               <xs:element name="created_by" type="xs:string"></xs:element>
                                                               <xs:element name="created_on_timestamp" type="xs:string"></xs:element>
                                                               <xs:element name="last_modified_by" type="xs:string"></xs:element>
                                                               <xs:element name="last_modified_on" type="xs:string"></xs:element>
                                                               <xs:element name="logon_user_id" type="xs:string"></xs:element>
                                                               <xs:element name="logon_user_is_active" type="xs:string"></xs:element>
                                                               <xs:element name="logon_user_name" type="xs:string"></xs:element>
                                                               <xs:element name="person_id" type="xs:int"></xs:element>
                                                               <xs:element name="person_id_external" type="xs:string"></xs:element>
                                                               <xs:element name="PerEmergencyContacts">
                                                                     <xs:complexType>
                                                                           <xs:sequence>
                                                                                 <xs:element name="id" type="xs:string"></xs:element>
                                                                                 <xs:element name="address1" type="xs:string"></xs:element>
                                                                                 <xs:element name="address2" type="xs:string"></xs:element>
                                                                                 <xs:element name="address3"></xs:element>
                                                                                 <xs:element name="city" type="xs:string"></xs:element>
                                                                                 <xs:element name="country" type="xs:string"></xs:element>
                                                                                 <xs:element name="county" type="xs:string"></xs:element>
                                                                                 <xs:element name="isEmergencyContact" type="xs:int"></xs:element>
                                                                                 <xs:element name="name" type="xs:string"></xs:element>
                                                                                 <xs:element name="person_id_external" type="xs:string"></xs:element>
                                                                                 <xs:element name="phone" type="xs:string"></xs:element>
                                                                                 <xs:element name="primary_flag" type="xs:string"></xs:element>
                                                                                 <xs:element name="province"></xs:element>
                                                                                 <xs:element name="relationship" type="xs:int"></xs:element>
                                                                                 <xs:element name="state" type="xs:string"></xs:element>
                                                                                 <xs:element name="PicklistOption">
                                                                                       <xs:complexType>
                                                                                             <xs:sequence>
                                                                                                   <xs:element name="id" type="xs:string"></xs:element>
                                                                                                   <xs:element name="en_US" type="xs:string"></xs:element>
                                                                                                   <xs:element name="externalCode" type="xs:string"></xs:element>
                                                                                                   <xs:element name="optionValue" type="xs:int"></xs:element>
                                                                                                   <xs:element name="picklistId" type="xs:string"></xs:element>
                                                                                                   <xs:element name="status" type="xs:string"></xs:element>
                                                                                             </xs:sequence>
                                                                                       </xs:complexType>
                                                                                 </xs:element>
                                                                                 <xs:element name="zip_code" type="xs:int"></xs:element>
                                                                           </xs:sequence>
                                                                     </xs:complexType>
                                                               </xs:element>
                                                               <xs:element name="personal_information" maxOccurs="unbounded">
                                                                     <xs:complexType>
                                                                           <xs:sequence>
                                                                                 <xs:element name="created_by" type="xs:string"></xs:element>
                                                                                 <xs:element name="created_on_timestamp" type="xs:string"></xs:element>
                                                                                 <xs:element name="end_date" type="xs:date"></xs:element>
                                                                                 <xs:element name="first_name" type="xs:string"></xs:element>
                                                                                 <xs:element name="gender" type="xs:string"></xs:element>
                                                                                 <xs:element name="last_modified_by" type="xs:string"></xs:element>
                                                                                 <xs:element name="last_modified_on" type="xs:string"></xs:element>
                                                                                 <xs:element name="last_name" type="xs:string"></xs:element>
                                                                                 <xs:element name="start_date" type="xs:date"></xs:element>
                                                                           </xs:sequence>
                                                                     </xs:complexType>
                                                               </xs:element>
                                                               <xs:element name="email_information">
                                                                     <xs:complexType>
                                                                           <xs:sequence>
                                                                                 <xs:element name="created_by" type="xs:string"></xs:element>
                                                                                 <xs:element name="created_on_timestamp" type="xs:string"></xs:element>
                                                                                 <xs:element name="email_address" type="xs:string"></xs:element>
                                                                                 <xs:element name="email_type" type="xs:string"></xs:element>
                                                                                 <xs:element name="isPrimary" type="xs:string"></xs:element>
                                                                                 <xs:element name="last_modified_by" type="xs:string"></xs:element>
                                                                                 <xs:element name="last_modified_on" type="xs:string"></xs:element>
                                                                           </xs:sequence>
                                                                     </xs:complexType>
                                                               </xs:element>
                                                               <xs:element name="employment_information">
                                                                     <xs:complexType>
                                                                           <xs:sequence>
                                                                                 <xs:element name="assignment_class" type="xs:string"></xs:element>
                                                                                 <xs:element name="benefitsEndDate" type="xs:date"></xs:element>
                                                                                 <xs:element name="created_by" type="xs:string"></xs:element>
                                                                                 <xs:element name="created_on_timestamp" type="xs:string"></xs:element>
                                                                                 <xs:element name="direct_reports" type="xs:int"></xs:element>
                                                                                 <xs:element name="eligibleForSalContinuation" type="xs:string"></xs:element>
                                                                                 <xs:element name="eligibleForStock" type="xs:string"></xs:element>
                                                                                 <xs:element name="employment_id" type="xs:int"></xs:element>
                                                                                 <xs:element name="end_date" type="xs:date"></xs:element>
                                                                                 <xs:element name="jobNumber" type="xs:int"></xs:element>
                                                                                 <xs:element name="last_modified_by" type="xs:string"></xs:element>
                                                                                 <xs:element name="last_modified_on" type="xs:string"></xs:element>
                                                                                 <xs:element name="lastDateWorked" type="xs:date"></xs:element>
                                                                                 <xs:element name="okToRehire" type="xs:string"></xs:element>
                                                                                 <xs:element name="payrollEndDate" type="xs:date"></xs:element>
                                                                                 <xs:element name="regretTermination" type="xs:string"></xs:element>
                                                                                 <xs:element name="salary_end_date" type="xs:date"></xs:element>
                                                                                 <xs:element name="start_date" type="xs:date"></xs:element>
                                                                                 <xs:element name="StockEndDate" type="xs:date"></xs:element>
                                                                                 <xs:element name="user_id" type="xs:string"></xs:element>
                                                                                 <xs:element name="EmpJob">
                                                                                       <xs:complexType>
                                                                                             <xs:sequence>
                                                                                                   <xs:element name="costCenterName" type="xs:string"></xs:element>
                                                                                                   <xs:element name="local_job_title"></xs:element>
                                                                                                   <xs:element name="person_id_external" type="xs:string"></xs:element>
                                                                                                   <xs:element name="user_id" type="xs:string"></xs:element>
                                                                                             </xs:sequence>
                                                                                       </xs:complexType>
                                                                                 </xs:element>
                                                                                 <xs:element name="job_information" maxOccurs="unbounded">
                                                                                       <xs:complexType>
                                                                                             <xs:sequence>
                                                                                                   <xs:element name="business_unit" type="xs:string"></xs:element>
                                                                                                   <xs:element name="company" type="xs:string"></xs:element>
                                                                                                   <xs:element name="company_territory_code" type="xs:string"></xs:element>
                                                                                                   <xs:element name="cost_center" type="xs:int"></xs:element>
                                                                                                   <xs:element name="created_by" type="xs:string"></xs:element>
                                                                                                   <xs:element name="created_on" type="xs:date"></xs:element>
                                                                                                   <xs:element name="created_on_timestamp" type="xs:string"></xs:element>
                                                                                                   <xs:element name="department" type="xs:string"></xs:element>
                                                                                                   <xs:element name="division" type="xs:string"></xs:element>
                                                                                                   <xs:element name="emplStatus" type="xs:string"></xs:element>
                                                                                                   <xs:element name="end_date" type="xs:date"></xs:element>
                                                                                                   <xs:element name="event" type="xs:string"></xs:element>
                                                                                                   <xs:element name="event_reason" type="xs:string"></xs:element>
                                                                                                   <xs:element name="is_cross_border_worker" type="xs:string"></xs:element>
                                                                                                   <xs:element name="is_eligible_for_benefit" type="xs:string"></xs:element>
                                                                                                   <xs:element name="is_eligible_for_car" type="xs:string"></xs:element>
                                                                                                   <xs:element name="is_fulltime_employee" type="xs:string"></xs:element>
                                                                                                   <xs:element name="is_primary" type="xs:string"></xs:element>
                                                                                                   <xs:element name="is_shift_employee" type="xs:string"></xs:element>
                                                                                                   <xs:element name="job_code" type="xs:string"></xs:element>
                                                                                                   <xs:element name="job_title" type="xs:string"></xs:element>
                                                                                                   <xs:element name="last_modified_by" type="xs:string"></xs:element>
                                                                                                   <xs:element name="last_modified_on" type="xs:string"></xs:element>
                                                                                                   <xs:element name="location" type="xs:string"></xs:element>
                                                                                                   <xs:element name="FO_location">
                                                                                                         <xs:complexType>
                                                                                                               <xs:sequence>
                                                                                                                     <xs:element name="address_address1" type="xs:string"></xs:element>
                                                                                                                     <xs:element name="address_address2"></xs:element>
                                                                                                                     <xs:element name="address_address3"></xs:element>
                                                                                                                     <xs:element name="address_city" type="xs:string"></xs:element>
                                                                                                                     <xs:element name="address_country" type="xs:string"></xs:element>
                                                                                                                     <xs:element name="address_state"></xs:element>
                                                                                                                     <xs:element name="address_zip_code" type="xs:int"></xs:element>
                                                                                                                     <xs:element name="description" type="xs:string"></xs:element>
                                                                                                                     <xs:element name="name" type="xs:string"></xs:element>
                                                                                                                     <xs:element name="start_date" type="xs:date"></xs:element>
                                                                                                                     <xs:element name="externalCode" type="xs:string"></xs:element>
                                                                                                               </xs:sequence>
                                                                                                         </xs:complexType>
                                                                                                   </xs:element>
                                                                                                   <xs:element name="manager_id" type="xs:string"></xs:element>
                                                                                                   <xs:element name="manager_person_id" type="xs:int"></xs:element>
                                                                                                   <xs:element name="pay_grade" type="xs:string"></xs:element>
                                                                                                   <xs:element name="regular_temp" type="xs:string"></xs:element>
                                                                                                   <xs:element name="seq_number" type="xs:int"></xs:element>
                                                                                                   <xs:element name="start_date" type="xs:date"></xs:element>
                                                                                                   <xs:element name="timezone" type="xs:string"></xs:element>
                                                                                             </xs:sequence>
                                                                                       </xs:complexType>
                                                                                 </xs:element>
                                                                           </xs:sequence>
                                                                     </xs:complexType>
                                                               </xs:element>
                                                               <xs:element name="national_id_card">
                                                                     <xs:complexType>
                                                                           <xs:sequence>
                                                                                 <xs:element name="card_type" type="xs:string"></xs:element>
                                                                                 <xs:element name="country" type="xs:string"></xs:element>
                                                                                 <xs:element name="created_by" type="xs:string"></xs:element>
                                                                                 <xs:element name="created_on_timestamp" type="xs:string"></xs:element>
                                                                                 <xs:element name="isPrimary" type="xs:string"></xs:element>
                                                                                 <xs:element name="last_modified_by" type="xs:string"></xs:element>
                                                                                 <xs:element name="last_modified_on" type="xs:string"></xs:element>
                                                                                 <xs:element name="national_id" type="xs:string"></xs:element>
                                                                           </xs:sequence>
                                                                     </xs:complexType>
                                                               </xs:element>
                                                         </xs:sequence>
                                                   </xs:complexType>
                                             </xs:element>
                                       </xs:sequence>
                                 </xs:complexType>
                           </xs:element>
                     </xs:sequence>
               </xs:complexType>
         </xs:element>
   </xs:schema>