Resources/schemas/Xsd/SAP_S-4HANA_Cloud_Integration_with_Salesforce - A_SalesOrder.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="A_SalesOrder">
		<xs:complexType>
			<xs:sequence>
				<xs:element minOccurs="1" maxOccurs="unbounded" name="A_SalesOrderType">
					<xs:complexType>
						<xs:sequence>
							<xs:element nillable="false" maxOccurs="unbounded" name="SalesOrder">
								<xs:simpleType>
									<xs:restriction base="xs:string" xmlns="">
										<xs:maxLength value="10"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element nillable="true" minOccurs="0" maxOccurs="unbounded" name="SalesOrderType">
								<xs:simpleType>
									<xs:restriction base="xs:string" xmlns="">
										<xs:maxLength value="4"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element nillable="true" minOccurs="0" maxOccurs="unbounded" name="SalesOrganization">
								<xs:simpleType>
									<xs:restriction base="xs:string" xmlns="">
										<xs:maxLength value="4"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element nillable="true" minOccurs="0" maxOccurs="unbounded" name="DistributionChannel">
								<xs:simpleType>
									<xs:restriction base="xs:string" xmlns="">
										<xs:maxLength value="2"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element nillable="true" minOccurs="0" maxOccurs="unbounded" name="OrganizationDivision">
								<xs:simpleType>
									<xs:restriction base="xs:string" xmlns="">
										<xs:maxLength value="2"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element nillable="true" minOccurs="0" maxOccurs="unbounded" name="SalesGroup">
								<xs:simpleType>
									<xs:restriction base="xs:string" xmlns="">
										<xs:maxLength value="3"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element nillable="true" minOccurs="0" maxOccurs="unbounded" name="SalesOffice">
								<xs:simpleType>
									<xs:restriction base="xs:string" xmlns="">
										<xs:maxLength value="4"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element nillable="true" minOccurs="0" maxOccurs="unbounded" name="SalesDistrict">
								<xs:simpleType>
									<xs:restriction base="xs:string" xmlns="">
										<xs:maxLength value="6"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element nillable="true" minOccurs="0" maxOccurs="unbounded" name="SoldToParty">
								<xs:simpleType>
									<xs:restriction base="xs:string" xmlns="">
										<xs:maxLength value="10"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element nillable="true" minOccurs="0" maxOccurs="unbounded" name="PurchaseOrderByCustomer">
								<xs:simpleType>
									<xs:restriction base="xs:string" xmlns="">
										<xs:maxLength value="35"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element nillable="true" minOccurs="0" maxOccurs="unbounded" name="CustomerPurchaseOrderType">
								<xs:simpleType>
									<xs:restriction base="xs:string" xmlns="">
										<xs:maxLength value="4"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element type="xs:dateTime" nillable="true" minOccurs="0" maxOccurs="unbounded" name="CustomerPurchaseOrderDate" xmlns=""/>
							<xs:element type="xs:dateTime" nillable="true" minOccurs="0" maxOccurs="unbounded" name="SalesOrderDate" xmlns=""/>
							<xs:element type="xs:decimal" nillable="true" minOccurs="0" maxOccurs="unbounded" name="TotalNetAmount" xmlns=""/>
							<xs:element nillable="true" minOccurs="0" maxOccurs="unbounded" name="TransactionCurrency">
								<xs:simpleType>
									<xs:restriction base="xs:string" xmlns="">
										<xs:maxLength value="5"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element nillable="true" minOccurs="0" maxOccurs="unbounded" name="SDDocumentReason">
								<xs:simpleType>
									<xs:restriction base="xs:string" xmlns="">
										<xs:maxLength value="3"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element type="xs:dateTime" nillable="true" minOccurs="0" maxOccurs="unbounded" name="PricingDate" xmlns=""/>
							<xs:element type="xs:dateTime" nillable="true" minOccurs="0" maxOccurs="unbounded" name="RequestedDeliveryDate" xmlns=""/>
							<xs:element nillable="true" minOccurs="0" maxOccurs="unbounded" name="ShippingCondition">
								<xs:simpleType>
									<xs:restriction base="xs:string" xmlns="">
										<xs:maxLength value="2"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element type="xs:boolean" nillable="true" minOccurs="0" maxOccurs="unbounded" name="CompleteDeliveryIsDefined" xmlns=""/>
							<xs:element nillable="true" minOccurs="0" maxOccurs="unbounded" name="ShippingType">
								<xs:simpleType>
									<xs:restriction base="xs:string" xmlns="">
										<xs:maxLength value="2"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element nillable="true" minOccurs="0" maxOccurs="unbounded" name="HeaderBillingBlockReason">
								<xs:simpleType>
									<xs:restriction base="xs:string" xmlns="">
										<xs:maxLength value="2"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element nillable="true" minOccurs="0" maxOccurs="unbounded" name="DeliveryBlockReason">
								<xs:simpleType>
									<xs:restriction base="xs:string" xmlns="">
										<xs:maxLength value="2"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element nillable="true" minOccurs="0" maxOccurs="unbounded" name="IncotermsClassification">
								<xs:simpleType>
									<xs:restriction base="xs:string" xmlns="">
										<xs:maxLength value="3"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element nillable="true" minOccurs="0" maxOccurs="unbounded" name="IncotermsTransferLocation">
								<xs:simpleType>
									<xs:restriction base="xs:string" xmlns="">
										<xs:maxLength value="28"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element nillable="true" minOccurs="0" maxOccurs="unbounded" name="IncotermsLocation1">
								<xs:simpleType>
									<xs:restriction base="xs:string" xmlns="">
										<xs:maxLength value="70"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element nillable="true" minOccurs="0" maxOccurs="unbounded" name="IncotermsLocation2">
								<xs:simpleType>
									<xs:restriction base="xs:string" xmlns="">
										<xs:maxLength value="70"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element nillable="true" minOccurs="0" maxOccurs="unbounded" name="IncotermsVersion">
								<xs:simpleType>
									<xs:restriction base="xs:string" xmlns="">
										<xs:maxLength value="4"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element nillable="true" minOccurs="0" maxOccurs="unbounded" name="CustomerPaymentTerms">
								<xs:simpleType>
									<xs:restriction base="xs:string" xmlns="">
										<xs:maxLength value="4"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element nillable="true" minOccurs="0" maxOccurs="unbounded" name="PaymentMethod">
								<xs:simpleType>
									<xs:restriction base="xs:string" xmlns="">
										<xs:maxLength value="1"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element nillable="true" minOccurs="0" maxOccurs="unbounded" name="AssignmentReference">
								<xs:simpleType>
									<xs:restriction base="xs:string" xmlns="">
										<xs:maxLength value="18"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element nillable="true" minOccurs="0" maxOccurs="unbounded" name="OverallSDProcessStatus">
								<xs:simpleType>
									<xs:restriction base="xs:string" xmlns="">
										<xs:maxLength value="1"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element nillable="true" minOccurs="0" maxOccurs="unbounded" name="TotalCreditCheckStatus">
								<xs:simpleType>
									<xs:restriction base="xs:string" xmlns="">
										<xs:maxLength value="1"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element nillable="true" minOccurs="0" maxOccurs="unbounded" name="OverallTotalDeliveryStatus">
								<xs:simpleType>
									<xs:restriction base="xs:string" xmlns="">
										<xs:maxLength value="1"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element nillable="true" minOccurs="0" maxOccurs="unbounded" name="OverallSDDocumentRejectionSts">
								<xs:simpleType>
									<xs:restriction base="xs:string" xmlns="">
										<xs:maxLength value="1"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element nillable="true" minOccurs="0" maxOccurs="unbounded" name="YY1_Engraving_SDH">
								<xs:simpleType>
									<xs:restriction base="xs:string" xmlns="">
										<xs:maxLength value="20"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element nillable="true" minOccurs="0" maxOccurs="unbounded" name="to_Item">
								<xs:complexType>
									<xs:sequence>
										<xs:element minOccurs="0" maxOccurs="unbounded" name="A_SalesOrderItemType">
											<xs:complexType>
												<xs:sequence>
													<xs:element nillable="false" maxOccurs="unbounded" name="SalesOrder">
														<xs:simpleType>
															<xs:restriction base="xs:string" xmlns="">
																<xs:maxLength value="10"/>
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
													<xs:element nillable="false" maxOccurs="unbounded" name="SalesOrderItem">
														<xs:simpleType>
															<xs:restriction base="xs:string" xmlns="">
																<xs:maxLength value="6"/>
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
													<xs:element nillable="true" minOccurs="0" maxOccurs="unbounded" name="HigherLevelItem">
														<xs:simpleType>
															<xs:restriction base="xs:string" xmlns="">
																<xs:maxLength value="6"/>
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
													<xs:element nillable="true" minOccurs="0" maxOccurs="unbounded" name="SalesOrderItemCategory">
														<xs:simpleType>
															<xs:restriction base="xs:string" xmlns="">
																<xs:maxLength value="4"/>
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
													<xs:element nillable="true" minOccurs="0" maxOccurs="unbounded" name="SalesOrderItemText">
														<xs:simpleType>
															<xs:restriction base="xs:string" xmlns="">
																<xs:maxLength value="40"/>
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
													<xs:element name="records">
														<xs:complexType>
															<xs:sequence>
																<xs:element name="Id" type="xs:string" />
																<xs:element name="AvailableQuantity" type="xs:decimal" />
																<xs:element name="CreatedById" type="xs:string" />
																<xs:element name="CreatedDate" type="xs:dateTime" />
																<xs:element name="CurrencyIsoCode" type="xs:string" />
																<xs:element name="Description" type="xs:string" />
																<xs:element name="IsDeleted" type="xs:boolean" />
																<xs:element name="LastModifiedById" type="xs:string" />
																<xs:element name="LastModifiedDate" type="xs:dateTime" />
																<xs:element name="ListPrice" type="xs:decimal" />
																<xs:element name="OrderId" type="xs:string" />
																<xs:element name="OrderItemNumber" type="xs:unsignedShort" />
																<xs:element name="PricebookEntryId" type="xs:string" />
																<xs:element name="Product2Id" type="xs:string" />
																<xs:element name="Quantity" type="xs:decimal" />
																<xs:element name="SAP_OrderItem_Ref__c" type="xs:unsignedLong" />
																<xs:element name="SystemModstamp" type="xs:dateTime" />
																<xs:element name="TotalPrice" type="xs:decimal" />
															</xs:sequence>
															<xs:attribute name="type" type="xs:string" use="required" />
															<xs:attribute name="url" type="xs:string" use="required" />
														</xs:complexType>
													</xs:element>
													<xs:element nillable="true" minOccurs="0" maxOccurs="unbounded" name="PurchaseOrderByCustomer">
														<xs:simpleType>
															<xs:restriction base="xs:string" xmlns="">
																<xs:maxLength value="35"/>
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
													<xs:element nillable="true" minOccurs="0" maxOccurs="unbounded" name="Material">
														<xs:simpleType>
															<xs:restriction base="xs:string" xmlns="">
																<xs:maxLength value="40"/>
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
													<xs:element nillable="true" minOccurs="0" maxOccurs="unbounded" name="MaterialByCustomer">
														<xs:simpleType>
															<xs:restriction base="xs:string" xmlns="">
																<xs:maxLength value="35"/>
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
													<xs:element type="xs:dateTime" nillable="true" minOccurs="0" maxOccurs="unbounded" name="PricingDate" xmlns=""/>
													<xs:element type="xs:decimal" nillable="true" minOccurs="0" maxOccurs="unbounded" name="RequestedQuantity" xmlns=""/>
													<xs:element nillable="true" minOccurs="0" maxOccurs="unbounded" name="RequestedQuantityUnit">
														<xs:simpleType>
															<xs:restriction base="xs:string" xmlns="">
																<xs:maxLength value="3"/>
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
													<xs:element type="xs:decimal" nillable="true" minOccurs="0" maxOccurs="unbounded" name="ItemGrossWeight" xmlns=""/>
													<xs:element nillable="true" minOccurs="0" maxOccurs="unbounded" name="ItemWeightUnit">
														<xs:simpleType>
															<xs:restriction base="xs:string" xmlns="">
																<xs:maxLength value="3"/>
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
													<xs:element type="xs:decimal" nillable="true" minOccurs="0" maxOccurs="unbounded" name="ItemVolume" xmlns=""/>
													<xs:element type="xs:decimal" nillable="true" minOccurs="0" maxOccurs="unbounded" name="ItemNetWeight" xmlns=""/>
													<xs:element nillable="true" minOccurs="0" maxOccurs="unbounded" name="ItemVolumeUnit">
														<xs:simpleType>
															<xs:restriction base="xs:string" xmlns="">
																<xs:maxLength value="3"/>
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
													<xs:element type="xs:decimal" nillable="true" minOccurs="0" maxOccurs="unbounded" name="NetAmount" xmlns=""/>
													<xs:element nillable="true" minOccurs="0" maxOccurs="unbounded" name="MaterialGroup">
														<xs:simpleType>
															<xs:restriction base="xs:string" xmlns="">
																<xs:maxLength value="9"/>
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
													<xs:element nillable="true" minOccurs="0" maxOccurs="unbounded" name="MaterialPricingGroup">
														<xs:simpleType>
															<xs:restriction base="xs:string" xmlns="">
																<xs:maxLength value="2"/>
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
													<xs:element nillable="true" minOccurs="0" maxOccurs="unbounded" name="TransactionCurrency">
														<xs:simpleType>
															<xs:restriction base="xs:string" xmlns="">
																<xs:maxLength value="5"/>
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
													<xs:element nillable="true" minOccurs="0" maxOccurs="unbounded" name="Batch">
														<xs:simpleType>
															<xs:restriction base="xs:string" xmlns="">
																<xs:maxLength value="10"/>
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
													<xs:element nillable="true" minOccurs="0" maxOccurs="unbounded" name="ProductionPlant">
														<xs:simpleType>
															<xs:restriction base="xs:string" xmlns="">
																<xs:maxLength value="4"/>
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
													<xs:element nillable="true" minOccurs="0" maxOccurs="unbounded" name="StorageLocation">
														<xs:simpleType>
															<xs:restriction base="xs:string" xmlns="">
																<xs:maxLength value="4"/>
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
													<xs:element nillable="true" minOccurs="0" maxOccurs="unbounded" name="DeliveryGroup">
														<xs:simpleType>
															<xs:restriction base="xs:string" xmlns="">
																<xs:maxLength value="3"/>
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
													<xs:element nillable="true" minOccurs="0" maxOccurs="unbounded" name="ShippingPoint">
														<xs:simpleType>
															<xs:restriction base="xs:string" xmlns="">
																<xs:maxLength value="4"/>
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
													<xs:element nillable="true" minOccurs="0" maxOccurs="unbounded" name="ShippingType">
														<xs:simpleType>
															<xs:restriction base="xs:string" xmlns="">
																<xs:maxLength value="2"/>
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
													<xs:element nillable="true" minOccurs="0" maxOccurs="unbounded" name="OrderRelatedBillingStatus">
														<xs:simpleType>
															<xs:restriction base="xs:string" xmlns="">
																<xs:maxLength value="1"/>
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
													<xs:element nillable="true" minOccurs="0" maxOccurs="unbounded" name="DeliveryStatus">
														<xs:simpleType>
															<xs:restriction base="xs:string" xmlns="">
																<xs:maxLength value="1"/>
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
													<xs:element nillable="true" minOccurs="0" maxOccurs="unbounded" name="SDProcessStatus">
														<xs:simpleType>
															<xs:restriction base="xs:string" xmlns="">
																<xs:maxLength value="1"/>
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
													<xs:element nillable="true" minOccurs="0" maxOccurs="unbounded" name="WBSElement">
														<xs:simpleType>
															<xs:restriction base="xs:string" xmlns="">
																<xs:maxLength value="24"/>
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
													<xs:element nillable="true" minOccurs="0" maxOccurs="unbounded" name="ItemBillingBlockReason">
														<xs:simpleType>
															<xs:restriction base="xs:string" xmlns="">
																<xs:maxLength value="2"/>
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
													<xs:element nillable="true" minOccurs="0" maxOccurs="unbounded" name="SalesDocumentRjcnReason">
														<xs:simpleType>
															<xs:restriction base="xs:string" xmlns="">
																<xs:maxLength value="2"/>
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
													<xs:element nillable="true" minOccurs="0" maxOccurs="unbounded" name="CustomerPaymentTerms">
														<xs:simpleType>
															<xs:restriction base="xs:string" xmlns="">
																<xs:maxLength value="4"/>
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
													<xs:element nillable="true" minOccurs="0" maxOccurs="unbounded" name="IncotermsLocation2">
														<xs:simpleType>
															<xs:restriction base="xs:string" xmlns="">
																<xs:maxLength value="70"/>
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
													<xs:element nillable="true" minOccurs="0" maxOccurs="unbounded" name="IncotermsLocation1">
														<xs:simpleType>
															<xs:restriction base="xs:string" xmlns="">
																<xs:maxLength value="70"/>
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
													<xs:element nillable="true" minOccurs="0" maxOccurs="unbounded" name="IncotermsTransferLocation">
														<xs:simpleType>
															<xs:restriction base="xs:string" xmlns="">
																<xs:maxLength value="28"/>
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
													<xs:element nillable="true" minOccurs="0" maxOccurs="unbounded" name="IncotermsClassification">
														<xs:simpleType>
															<xs:restriction base="xs:string" xmlns="">
																<xs:maxLength value="3"/>
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
													<xs:element nillable="true" minOccurs="0" maxOccurs="unbounded" name="DeliveryPriority">
														<xs:simpleType>
															<xs:restriction base="xs:string" xmlns="">
																<xs:maxLength value="2"/>
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element nillable="true" minOccurs="0" maxOccurs="unbounded" name="to_Partner">
								<xs:complexType>
									<xs:sequence>
										<xs:element minOccurs="0" maxOccurs="unbounded" name="A_SalesOrderHeaderPartnerType">
											<xs:complexType>
												<xs:sequence>
													<xs:element nillable="false" maxOccurs="unbounded" name="SalesOrder">
														<xs:simpleType>
															<xs:restriction base="xs:string" xmlns="">
																<xs:maxLength value="10"/>
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
													<xs:element nillable="false" maxOccurs="unbounded" name="PartnerFunction">
														<xs:simpleType>
															<xs:restriction base="xs:string" xmlns="">
																<xs:maxLength value="2"/>
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
													<xs:element nillable="true" minOccurs="0" maxOccurs="unbounded" name="Customer">
														<xs:simpleType>
															<xs:restriction base="xs:string" xmlns="">
																<xs:maxLength value="10"/>
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
													<xs:element nillable="true" minOccurs="0" maxOccurs="unbounded" name="Supplier">
														<xs:simpleType>
															<xs:restriction base="xs:string" xmlns="">
																<xs:maxLength value="10"/>
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
													<xs:element nillable="true" minOccurs="0" maxOccurs="unbounded" name="Personnel">
														<xs:simpleType>
															<xs:restriction base="xs:string" xmlns="">
																<xs:maxLength value="8"/>
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
													<xs:element nillable="true" minOccurs="0" maxOccurs="unbounded" name="ContactPerson">
														<xs:simpleType>
															<xs:restriction base="xs:string" xmlns="">
																<xs:maxLength value="10"/>
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element nillable="true" minOccurs="0" maxOccurs="unbounded" name="to_PricingElement">
								<xs:complexType>
									<xs:sequence>
										<xs:element minOccurs="0" maxOccurs="unbounded" name="A_SalesOrderHeaderPrElementType">
											<xs:complexType>
												<xs:sequence>
													<xs:element nillable="false" maxOccurs="unbounded" name="SalesOrder">
														<xs:simpleType>
															<xs:restriction base="xs:string" xmlns="">
																<xs:maxLength value="10"/>
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
													<xs:element nillable="false" maxOccurs="unbounded" name="PricingProcedureStep">
														<xs:simpleType>
															<xs:restriction base="xs:string" xmlns="">
																<xs:maxLength value="3"/>
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
													<xs:element nillable="false" maxOccurs="unbounded" name="PricingProcedureCounter">
														<xs:simpleType>
															<xs:restriction base="xs:string" xmlns="">
																<xs:maxLength value="3"/>
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
													<xs:element nillable="true" minOccurs="0" maxOccurs="unbounded" name="ConditionType">
														<xs:simpleType>
															<xs:restriction base="xs:string" xmlns="">
																<xs:maxLength value="4"/>
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
													<xs:element nillable="true" minOccurs="0" maxOccurs="unbounded" name="PricingDateTime">
														<xs:simpleType>
															<xs:restriction base="xs:string" xmlns="">
																<xs:maxLength value="14"/>
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
													<xs:element nillable="true" minOccurs="0" maxOccurs="unbounded" name="ConditionCalculationType">
														<xs:simpleType>
															<xs:restriction base="xs:string" xmlns="">
																<xs:maxLength value="3"/>
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
													<xs:element type="xs:decimal" nillable="true" minOccurs="0" maxOccurs="unbounded" name="ConditionBaseValue" xmlns=""/>
													<xs:element type="xs:decimal" nillable="true" minOccurs="0" maxOccurs="unbounded" name="ConditionRateValue" xmlns=""/>
													<xs:element nillable="true" minOccurs="0" maxOccurs="unbounded" name="ConditionCurrency">
														<xs:simpleType>
															<xs:restriction base="xs:string" xmlns="">
																<xs:maxLength value="5"/>
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
													<xs:element type="xs:decimal" nillable="true" minOccurs="0" maxOccurs="unbounded" name="ConditionQuantity" xmlns=""/>
													<xs:element nillable="true" minOccurs="0" maxOccurs="unbounded" name="ConditionQuantityUnit">
														<xs:simpleType>
															<xs:restriction base="xs:string" xmlns="">
																<xs:maxLength value="3"/>
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
													<xs:element nillable="true" minOccurs="0" maxOccurs="unbounded" name="ConditionCategory">
														<xs:simpleType>
															<xs:restriction base="xs:string" xmlns="">
																<xs:maxLength value="1"/>
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
													<xs:element type="xs:boolean" nillable="true" minOccurs="0" maxOccurs="unbounded" name="ConditionIsForStatistics" xmlns=""/>
													<xs:element nillable="true" minOccurs="0" maxOccurs="unbounded" name="PricingScaleType">
														<xs:simpleType>
															<xs:restriction base="xs:string" xmlns="">
																<xs:maxLength value="1"/>
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
													<xs:element nillable="true" minOccurs="0" maxOccurs="unbounded" name="ConditionOrigin">
														<xs:simpleType>
															<xs:restriction base="xs:string" xmlns="">
																<xs:maxLength value="1"/>
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
													<xs:element nillable="true" minOccurs="0" maxOccurs="unbounded" name="IsGroupCondition">
														<xs:simpleType>
															<xs:restriction base="xs:string" xmlns="">
																<xs:maxLength value="1"/>
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
													<xs:element nillable="true" minOccurs="0" maxOccurs="unbounded" name="ConditionRecord">
														<xs:simpleType>
															<xs:restriction base="xs:string" xmlns="">
																<xs:maxLength value="10"/>
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
													<xs:element nillable="true" minOccurs="0" maxOccurs="unbounded" name="ConditionSequentialNumber">
														<xs:simpleType>
															<xs:restriction base="xs:string" xmlns="">
																<xs:maxLength value="3"/>
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
													<xs:element nillable="true" minOccurs="0" maxOccurs="unbounded" name="TaxCode">
														<xs:simpleType>
															<xs:restriction base="xs:string" xmlns="">
																<xs:maxLength value="2"/>
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
													<xs:element nillable="true" minOccurs="0" maxOccurs="unbounded" name="WithholdingTaxCode">
														<xs:simpleType>
															<xs:restriction base="xs:string" xmlns="">
																<xs:maxLength value="2"/>
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
													<xs:element type="xs:decimal" nillable="true" minOccurs="0" maxOccurs="unbounded" name="CndnRoundingOffDiffAmount" xmlns=""/>
													<xs:element type="xs:decimal" nillable="true" minOccurs="0" maxOccurs="unbounded" name="ConditionAmount" xmlns=""/>
													<xs:element nillable="true" minOccurs="0" maxOccurs="unbounded" name="TransactionCurrency">
														<xs:simpleType>
															<xs:restriction base="xs:string" xmlns="">
																<xs:maxLength value="5"/>
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
													<xs:element nillable="true" minOccurs="0" maxOccurs="unbounded" name="ConditionControl">
														<xs:simpleType>
															<xs:restriction base="xs:string" xmlns="">
																<xs:maxLength value="1"/>
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
													<xs:element nillable="true" minOccurs="0" maxOccurs="unbounded" name="ConditionInactiveReason">
														<xs:simpleType>
															<xs:restriction base="xs:string" xmlns="">
																<xs:maxLength value="1"/>
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
													<xs:element nillable="true" minOccurs="0" maxOccurs="unbounded" name="ConditionClass">
														<xs:simpleType>
															<xs:restriction base="xs:string" xmlns="">
																<xs:maxLength value="1"/>
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
													<xs:element nillable="true" minOccurs="0" maxOccurs="unbounded" name="PrcgProcedureCounterForHeader">
														<xs:simpleType>
															<xs:restriction base="xs:string" xmlns="">
																<xs:maxLength value="3"/>
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
													<xs:element type="xs:double" nillable="true" minOccurs="0" maxOccurs="unbounded" name="FactorForConditionBasisValue" xmlns=""/>
													<xs:element nillable="true" minOccurs="0" maxOccurs="unbounded" name="StructureCondition">
														<xs:simpleType>
															<xs:restriction base="xs:string" xmlns="">
																<xs:maxLength value="1"/>
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
													<xs:element type="xs:double" nillable="true" minOccurs="0" maxOccurs="unbounded" name="PeriodFactorForCndnBasisValue" xmlns=""/>
													<xs:element nillable="true" minOccurs="0" maxOccurs="unbounded" name="PricingScaleBasis">
														<xs:simpleType>
															<xs:restriction base="xs:string" xmlns="">
																<xs:maxLength value="3"/>
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
													<xs:element type="xs:decimal" nillable="true" minOccurs="0" maxOccurs="unbounded" name="ConditionScaleBasisValue" xmlns=""/>
													<xs:element nillable="true" minOccurs="0" maxOccurs="unbounded" name="ConditionScaleBasisUnit">
														<xs:simpleType>
															<xs:restriction base="xs:string" xmlns="">
																<xs:maxLength value="3"/>
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
													<xs:element nillable="true" minOccurs="0" maxOccurs="unbounded" name="ConditionScaleBasisCurrency">
														<xs:simpleType>
															<xs:restriction base="xs:string" xmlns="">
																<xs:maxLength value="5"/>
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
													<xs:element type="xs:boolean" nillable="true" minOccurs="0" maxOccurs="unbounded" name="CndnIsRelevantForIntcoBilling" xmlns=""/>
													<xs:element type="xs:boolean" nillable="true" minOccurs="0" maxOccurs="unbounded" name="ConditionIsManuallyChanged" xmlns=""/>
													<xs:element type="xs:boolean" nillable="true" minOccurs="0" maxOccurs="unbounded" name="ConditionIsForConfiguration" xmlns=""/>
													<xs:element nillable="true" minOccurs="0" maxOccurs="unbounded" name="VariantCondition">
														<xs:simpleType>
															<xs:restriction base="xs:string" xmlns="">
																<xs:maxLength value="26"/>
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
