Resources/schemas/Xsd/SAP_Business_One_Accounting_Data_Transformation_to_SAP_S-4HANA_Cloud_Public_Edition - 2 ByD_GLBalance_XSD.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="GL_Balance">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="GLBalance" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="Account"/>
              <xs:element type="xs:string" name="Account_Name"/>
              <xs:element type="xs:string" name="Current_Balance"/>
              <xs:element type="xs:string" name="Local_Currency"/>
              <xs:element type="xs:string" name="Company_Name"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>