Resources/schemas/Xsd/Shopify_Integration_with_SAP_S-4HANA_Cloud - STOCKSTATUSTARGET.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="root">
    	<xs:complexType>
    		<xs:sequence>
    			<xs:element type="xs:string" name="location_id" minOccurs="0"/>
        		<xs:element type="xs:string" name="inventory_item_id" minOccurs="0"/>
            	<xs:element type="xs:string" name="available" minOccurs="0"/>
        	</xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>