Resources/schemas/Xsd/Shopify_Integration_with_SAP_S-4HANA_Cloud - STOCKSTATUSSOURCE.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
                	<xs:element name="ProductAvailability">
                		<xs:complexType>
                			<xs:sequence>
                				<xs:element name="A_ProductType" minOccurs="0">
                					<xs:complexType>
                						<xs:sequence>
                							<xs:element type="xs:string" name="Product" minOccurs="0" />
                							<xs:element type="xs:string" name="MRPArea" minOccurs="0" />
                							<xs:element type="xs:string" name="StorageLocation" minOccurs="0" />
                							<xs:element type="xs:string" name="ProductStandardID" minOccurs="0" />
                							<xs:element type="xs:string" name="InventoryItemID" minOccurs="0" />
                						</xs:sequence>
                					</xs:complexType>
                				</xs:element>
                				<xs:element name="CalculateAvailabilityTimeseries" minOccurs="0">
                					<xs:complexType>
                						<xs:sequence>
                							<xs:element name="AvailabilityRecord" maxOccurs="unbounded" minOccurs="0">
                								<xs:complexType>
                									<xs:sequence>
                										<xs:element type="xs:string" name="AvailableQuantityInBaseUnit" minOccurs="0" />
                										<xs:element type="xs:string" name="BaseUnit" minOccurs="0" />
                										<xs:element type="xs:string" name="BaseUnitISOCode" minOccurs="0" />
                									</xs:sequence>
                								</xs:complexType>
                							</xs:element>
                						</xs:sequence>
                					</xs:complexType>
                				</xs:element>
                			</xs:sequence>
                		</xs:complexType>
                	</xs:element>
</xs:schema>