Resources/schemas/Xsd/SuccessFactors_HCM_Suite_Talent_Management_integration_with_SAP_ERP_HCM - ErrorException.xsd

<?xml version="1.0" encoding="UTF-8"?>
   <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" targetNamespace="http://schemas.xmlsoap.org/soap/envelope/">
         <!-- XML Schema Generated from XML Document on Fri Nov 14 2014 15:36:09 GMT+0530 (India Standard Time) -->
         <!-- with XmlGrid.net Free Online Service http://xmlgrid.net -->
         <xs:element name="Envelope">
               <xs:complexType>
                     <xs:sequence>
                           <xs:element name="Body">
                                 <xs:complexType>
                                       <xs:sequence>
                                             <xs:element name="Fault">
                                                   <xs:complexType>
                                                         <xs:sequence>
                                                               <xs:element name="faultcode" type="xs:string"></xs:element>
                                                               <xs:element name="faultstring" type="xs:string"></xs:element>
                                                         </xs:sequence>
                                                   </xs:complexType>
                                             </xs:element>
                                       </xs:sequence>
                                 </xs:complexType>
                           </xs:element>
                     </xs:sequence>
                     
               </xs:complexType>
         </xs:element>
   </xs:schema>