Resources/schemas/Xsd/Tax_integration_with_SAP_S-4_HANA_Cloud_for_USA_by_Vertex - TAX_JUR_GETCHANGELIST_SEND_V2-1.XSD

<?xml version="1.0" encoding="UTF-8"?><xsd:schema targetNamespace="http://sap.com/xi/FotETaxUS" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://sap.com/xi/FotETaxUS"><xsd:element name="TAX_JUR_GETCHANGELIST_SEND" type="TAX_JUR_GETCHANGELIST_SEND"/><xsd:complexType name="TAX_JUR_GETCHANGELIST_SEND"><xsd:annotation><xsd:documentation xml:lang="EN">Send Request to Vextex to get changed list</xsd:documentation></xsd:annotation><xsd:sequence><xsd:element name="LAST_UPDATED_DATE" type="xsd:date"/><xsd:element name="SEND_DATE" type="xsd:date"/></xsd:sequence></xsd:complexType></xsd:schema>