Resources/schemas/Xsd/Tax_integration_with_SAP_S-4_HANA_Cloud_for_USA_by_Vertex - TAX_JUR_GETCHANGELIST_RECEIVE-1.XSD

<?xml version="1.0" encoding="UTF-8"?><xsd:schema targetNamespace="http://sap.com/xi/FotETaxUS" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://sap.com/xi/FotETaxUS"><xsd:element name="TAX_JUR_GETCHANGELIST_RECEIVE" type="TAX_JUR_GETCHANGELIST_RECEIVE"/><xsd:complexType name="TAX_JURI_CODE"><xsd:sequence><xsd:element name="TXJCD" minOccurs="0" maxOccurs="unbounded"><xsd:simpleType><xsd:restriction base="xsd:string"><xsd:maxLength value="15"/></xsd:restriction></xsd:simpleType></xsd:element></xsd:sequence></xsd:complexType><xsd:complexType name="TAX_JUR_GETCHANGELIST_RECEIVE"><xsd:sequence><xsd:element name="MSG_RETURN" type="LOCATION_HEADER" minOccurs="0"/><xsd:element name="TAX_JURI_CODE" type="TAX_JURI_CODE" minOccurs="0"/></xsd:sequence></xsd:complexType><xsd:complexType name="LOCATION_HEADER"><xsd:sequence><xsd:element name="RETCODE" minOccurs="0"><xsd:simpleType><xsd:restriction base="xsd:string"><xsd:length value="1"/></xsd:restriction></xsd:simpleType></xsd:element><xsd:element name="ERRCODE" minOccurs="0"><xsd:simpleType><xsd:restriction base="xsd:string"><xsd:maxLength value="4"/></xsd:restriction></xsd:simpleType></xsd:element><xsd:element name="ERRMSG" minOccurs="0"><xsd:simpleType><xsd:restriction base="xsd:string"><xsd:maxLength value="72"/></xsd:restriction></xsd:simpleType></xsd:element></xsd:sequence></xsd:complexType></xsd:schema>