Resources/schemas/Xsd/Third_Party_Marketing_Events_Integration_with_SAP_Marketing_Cloud_and_SAP_Marketing - pollON24.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="root">
    <xs:complexType>
      <xs:sequence>
      	<xs:element type="xs:string" name="eventid"/>
      	<xs:element name="polls" minOccurs="0" maxOccurs="unbounded">
   	  	<xs:complexType>
      	<xs:sequence>
              <xs:element type="xs:string" name="pollid" minOccurs="0" maxOccurs="1"/>
              <xs:element type="xs:string" name="polltype" minOccurs="0" maxOccurs="1"/>
              <xs:element type="xs:string" name="pollquestionid" minOccurs="0" maxOccurs="1"/>
              <xs:element type="xs:string" name="pollquestion" minOccurs="0" maxOccurs="1"/>
              <xs:element type="xs:string" name="totalvotes" minOccurs="0" maxOccurs="1"/>
              	 <xs:element name="summary" minOccurs="0" maxOccurs="unbounded">
   	  		  		 <xs:complexType>
      		 		 <xs:sequence>
             		 		<xs:element type="xs:string" name="answer" minOccurs="0" maxOccurs="1"/>
             		 		<xs:element type="xs:string" name="percentage" minOccurs="0" maxOccurs="1"/>
			  		 </xs:sequence>
    		  		 </xs:complexType>
  			  		 </xs:element>
			 
		 </xs:sequence>
    	</xs:complexType>
  		</xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>