Resources/schemas/Xsd/Third_Party_Marketing_Events_Integration_with_SAP_Marketing_Cloud_and_SAP_Marketing - registrantGOT_SMC.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
<xs:element name="root">
    <xs:complexType>
		<xs:sequence>
			<xs:element name="element" minOccurs="0" maxOccurs="unbounded">
				<xs:complexType>
					<xs:sequence>
						  <xs:element type="xs:string" name="mktgeventparticipantexternalid" minOccurs="0" maxOccurs="1"/>
						  <xs:element type="xs:string" name="firstname" minOccurs="0" maxOccurs="1"/>
						  <xs:element type="xs:string" name="lastname" minOccurs="0" maxOccurs="1"/>
						  <xs:element type="xs:string" name="emailaddress" minOccurs="0" maxOccurs="1"/>
						  <xs:element type="xs:string" name="companyname" minOccurs="0" maxOccurs="1"/>
						  <xs:element type="xs:string" name="mobile" minOccurs="0" maxOccurs="1"/>
						  <xs:element type="xs:string" name="activitydatetime" minOccurs="0" maxOccurs="1"/>
						  <xs:element type="xs:string" name="mktgeventparticipantstatus" minOccurs="0" maxOccurs="1"/>
						  <xs:element type="xs:string" name="contactorigin" minOccurs="0" maxOccurs="1"/>
						  <xs:element type="xs:string" name="mktgeventuuid" minOccurs="0" maxOccurs="1"/>
						  <xs:element type="xs:string" name="mktgeventparticipantuuid" minOccurs="0" maxOccurs="1"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
