Resources/schemas/Xsd/Third_Party_Marketing_Events_Integration_with_SAP_Marketing_Cloud_and_SAP_Marketing - surveySMC-1.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="root">
    <xs:complexType>
      <xs:sequence>
      	<xs:element type="xs:string" name="eventid"/>
      	<xs:element name="surveys" minOccurs="0" maxOccurs="unbounded">
   	  	<xs:complexType>
      	<xs:sequence>
              <xs:element type="xs:string" name="ID" minOccurs="0" maxOccurs="1"/>
              <xs:element type="xs:string" name="NAME" minOccurs="0" maxOccurs="1"/>
              <xs:element name="SURVEYQUESTIONSET" minOccurs="0" maxOccurs="unbounded">
   	  		  <xs:complexType>
      		  <xs:sequence>
             		 <xs:element type="xs:string" name="ID" minOccurs="0" maxOccurs="1"/>
             		 <xs:element type="xs:string" name="TYPE" minOccurs="0" maxOccurs="1"/>
             		 <xs:element type="xs:string" name="SUB_TYPE" minOccurs="0" maxOccurs="1"/>
             		 <xs:element type="xs:string" name="TEXT" minOccurs="0" maxOccurs="1"/>
             		 <xs:element type="xs:string" name="responses" minOccurs="0" maxOccurs="1"/>
              		 <xs:element name="QUESTIONANSWERSET" minOccurs="0" maxOccurs="unbounded">
   	  		  		 <xs:complexType>
      		 		 <xs:sequence>
             		 		<xs:element type="xs:string" name="ANSWER_TEXT" minOccurs="0" maxOccurs="1"/>
             		 		<xs:element type="xs:string" name="WEIGHTAGE" minOccurs="0" maxOccurs="1"/>
			  		 </xs:sequence>
    		  		 </xs:complexType>
  			  		 </xs:element>
			  </xs:sequence>
    		  </xs:complexType>
  			  </xs:element>
		 </xs:sequence>
    	</xs:complexType>
  		</xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>