Resources/schemas/Xsd/Third_Party_Marketing_Events_Integration_with_SAP_Marketing_Cloud_and_SAP_Marketing - event_ext_source_provider.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="root">
    <xs:complexType>
      <xs:sequence>
        <xs:element type="xs:string" name="totalEvents"/>
        <xs:element name="events" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="subject" minOccurs="0" maxOccurs="1"/>
              <xs:element type="xs:string" name="approvalType" minOccurs="0" maxOccurs="1"/>
              <xs:element type="xs:string" name="description" minOccurs="0" maxOccurs="1"/>
              <xs:element type="xs:string" name="timeZone" minOccurs="0" maxOccurs="1"/>
              <xs:element type="xs:int" name="registrationSettingsKey" minOccurs="0" maxOccurs="1"/>
              <xs:element type="xs:long" name="organizerKey" minOccurs="0" maxOccurs="1"/>
              <xs:element type="xs:string" name="experienceType" minOccurs="0" maxOccurs="1"/>
              <xs:element type="xs:string" name="locale" minOccurs="0" maxOccurs="1"/>
              <xs:element type="xs:long" name="omid" minOccurs="0" maxOccurs="1"/>
              <xs:element type="xs:string" name="recurrenceType" minOccurs="0" maxOccurs="1"/>
              <xs:element type="xs:string" name="impromptu" minOccurs="0" maxOccurs="1"/>
              <xs:element type="xs:long" name="accountKey" minOccurs="0" maxOccurs="1"/>
              <xs:element type="xs:long" name="webinarKey" minOccurs="0" maxOccurs="1"/>
              <xs:element type="xs:string" name="isPasswordProtected" minOccurs="0" maxOccurs="1"/>
              <xs:element type="xs:int" name="webinarId" minOccurs="0" maxOccurs="1"/>
              <xs:element type="xs:string" name="registrationUrl" minOccurs="0" maxOccurs="1"/>
              <xs:element type="xs:string" name="status" minOccurs="0" maxOccurs="1"/>
              <xs:element type="xs:string" name="isActive" minOccurs="0" maxOccurs="1"/>
              <xs:element type="xs:string" name="utcOffset" minOccurs="0" maxOccurs="1"/>
              <xs:element type="xs:dateTime" name="startTime" minOccurs="0" maxOccurs="1"/>
              <xs:element type="xs:dateTime" name="endTime" minOccurs="0" maxOccurs="1"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>