Resources/schemas/Xsd/Third_Party_Application_Data_Integration_with_SAP_Marketing_Cloud - Dest.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="ContactInteractions">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="ContactInteraction">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="ContactID"/>
              <xs:element type="xs:string" name="InteractionType"/>
              <xs:element type="xs:string" name="ContactOrigin"/>
              <xs:element type="xs:dateTime" name="InteractionTimeStampUTC"/>
              <xs:element type="xs:string" name="CommunicationMedium"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>