Resources/schemas/Xsd/Third_Party_Marketing_Events_Integration_with_SAP_Marketing_Cloud_and_SAP_Marketing - GTW_SurveyResponsesSchema.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="survey">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="data" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="responses" maxOccurs="unbounded" minOccurs="0">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:string" name="text" maxOccurs="1" minOccurs="0"/>
                    <xs:element type="xs:string" name="numberOfResponses" maxOccurs="1" minOccurs="0"/>
                    <xs:element type="xs:string" name="percentage" maxOccurs="1" minOccurs="0"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element type="xs:string" name="uniqueRegistrantEmailsCount" maxOccurs="1" minOccurs="0"/>
              <xs:element type="xs:string" name="question" maxOccurs="1" minOccurs="0"/>
              <xs:element type="xs:string" name="questionType" maxOccurs="1" minOccurs="0"/>
              <xs:element type="xs:string" name="numberOfResponses" maxOccurs="1" minOccurs="0"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
