Resources/schemas/Xsd/Third_Party_Marketing_Events_Integration_with_SAP_Marketing_Cloud_and_SAP_Marketing - attendeeGoToWebinar.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="root">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="attendees" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="firstName"/>
              <xs:element type="xs:string" name="lastName"/>
              <xs:element type="xs:string" name="sessionKey"/>
              <xs:element type="xs:string" name="attendanceTimeInSeconds"/>
              <xs:element type="xs:string" name="registrantKey"/>
              <xs:element type="xs:string" name="email"/>
              <xs:element name="attendance">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:dateTime" name="leaveTime"/>
                    <xs:element type="xs:dateTime" name="joinTime"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element type="xs:string" name="numberofquestions"/>
              <xs:element type="xs:string" name="numberofpollsanswered"/>
              <xs:element type="xs:string" name="numberofsurveysanswered"/>
              <xs:element name="questionsandanswers" maxOccurs="1" minOccurs="0">
                <xs:complexType>
                    <xs:sequence>
                      <xs:element name="QandAList" maxOccurs="unbounded" minOccurs="0">
                        <xs:complexType>
                          <xs:sequence>
                            <xs:element type="xs:string" name="askerKey" maxOccurs="1" minOccurs="0"/>
                              <xs:element name="answers" maxOccurs="unbounded" minOccurs="0">
                                <xs:complexType>
                                  <xs:sequence>
                                    <xs:element type="xs:string" name="answeredBy" maxOccurs="1" minOccurs="0"/>
                                    <xs:element type="xs:string" name="answer" maxOccurs="1" minOccurs="0"/>
                                    <xs:element type="xs:string" name="answererRole" maxOccurs="1" minOccurs="0"/>
                                    <xs:element type="xs:dateTime" name="answerTime" maxOccurs="1" minOccurs="0"/>
                                    <xs:element type="xs:string" name="answererEmail" maxOccurs="1" minOccurs="0"/>
                                  </xs:sequence>
                                </xs:complexType>
                              </xs:element>
                            <xs:element type="xs:dateTime" name="dateAsked" maxOccurs="1" minOccurs="0"/>
                            <xs:element type="xs:string" name="askedBy" maxOccurs="1" minOccurs="0"/>
                            <xs:element type="xs:string" name="question" maxOccurs="1" minOccurs="0"/>
                          </xs:sequence>
                        </xs:complexType>
                      </xs:element>
                    </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="Polls" maxOccurs="1" minOccurs="0">
                <xs:complexType>
                    <xs:sequence>
                      <xs:element name="PollList" maxOccurs="unbounded" minOccurs="0">
                        <xs:complexType>
                          <xs:sequence>
                            <xs:element type="xs:string" name="answers" maxOccurs="unbounded" minOccurs="0"/>
                            <xs:element type="xs:string" name="answer" maxOccurs="1" minOccurs="0"/>
                            <xs:element type="xs:dateTime" name="dateAsked" maxOccurs="1" minOccurs="0"/>
                            <xs:element type="xs:string" name="questionType" maxOccurs="1" minOccurs="0"/>
                            <xs:element type="xs:string" name="question" maxOccurs="1" minOccurs="0"/>
                          </xs:sequence>
                        </xs:complexType>
                      </xs:element>
                    </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="Surveys" maxOccurs="1" minOccurs="0">
                <xs:complexType>
                    <xs:sequence>
                      <xs:element name="SurveyList" maxOccurs="unbounded" minOccurs="0">
                        <xs:complexType>
                          <xs:sequence>
                            <xs:element type="xs:string" name="answers" maxOccurs="unbounded" minOccurs="0"/>
                            <xs:element type="xs:string" name="answer" maxOccurs="1" minOccurs="0"/>
                            <xs:element type="xs:string" name="questionType" maxOccurs="1" minOccurs="0"/>
                            <xs:element type="xs:string" name="question" maxOccurs="1" minOccurs="0"/>
                          </xs:sequence>
                        </xs:complexType>
                      </xs:element>
                    </xs:sequence>
                </xs:complexType>
              </xs:element>
              
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element type="xs:byte" name="totalattendees"/>
        <xs:element type="xs:long" name="eventid"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>