Resources/schemas/Xsd/Third_Party_Marketing_Events_Integration_with_SAP_Marketing_Cloud_and_SAP_Marketing - registrantSMC.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="qualified">
    <xs:element name="root">
        <xs:complexType>
            <xs:sequence>
                <xs:element type="xs:string" name="eventid" />
                <xs:element type="xs:string" name="totalregistrants" />
                <xs:element name="registrants" minOccurs="0" maxOccurs="unbounded">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element type="xs:string" name="firstname" minOccurs="0" maxOccurs="1"/>
                            <xs:element type="xs:string" name="lastname" minOccurs="0" maxOccurs="1"/>
                            <xs:element type="xs:string" name="emailaddress" minOccurs="0" maxOccurs="1"/>
                            <xs:element type="xs:string" name="mktgeventparticipantexternalid" minOccurs="0" maxOccurs="1"/>
                            <xs:element type="xs:string" name="mktgeventparticipantid" minOccurs="0" maxOccurs="1"/>
                            <xs:element type="xs:string" name="companyname" minOccurs="0" maxOccurs="1"/>
                            <xs:element type="xs:string" name="activitydatetime" minOccurs="0" maxOccurs="1"/>
                            <xs:element type="xs:string" name="phone" minOccurs="0" maxOccurs="1"/>
                            <xs:element type="xs:string" name="mobile" minOccurs="0" maxOccurs="1"/>
                            <xs:element type="xs:string" name="isendofpurposeblocked" minOccurs="0" maxOccurs="1"/>
                            <xs:element type="xs:string" name="formofaddress" minOccurs="0" maxOccurs="1"/>
                            <xs:element type="xs:string" name="formofaddressname" minOccurs="0" maxOccurs="1"/>
                            <xs:element type="xs:string" name="gendercode" minOccurs="0" maxOccurs="1"/>
                            <xs:element type="xs:string" name="gendercodename" minOccurs="0" maxOccurs="1"/>
                            <xs:element type="xs:string" name="country" minOccurs="0" maxOccurs="1"/>
                            <xs:element type="xs:string" name="countryname" minOccurs="0" maxOccurs="1"/>
                            <xs:element type="xs:string" name="addressregion" minOccurs="0" maxOccurs="1"/>
                            <xs:element type="xs:string" name="addressregionname" minOccurs="0" maxOccurs="1"/>
                            <xs:element type="xs:string" name="cityname" minOccurs="0" maxOccurs="1"/>
                            <xs:element type="xs:string" name="contactpostalcode" minOccurs="0" maxOccurs="1"/>
                            <xs:element type="xs:string" name="streetname" minOccurs="0" maxOccurs="1"/>
                            <xs:element type="xs:string" name="addresshousenumber" minOccurs="0" maxOccurs="1"/>
                            <xs:element type="xs:string" name="department" minOccurs="0" maxOccurs="1"/>
                            <xs:element type="xs:string" name="departmentname" minOccurs="0" maxOccurs="1"/>
                            <xs:element type="xs:string" name="function" minOccurs="0" maxOccurs="1"/>
                            <xs:element type="xs:string" name="contactfunctionname" minOccurs="0" maxOccurs="1"/>
                            <xs:element type="xs:string" name="faxNumber" minOccurs="0" maxOccurs="1"/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>