Resources/schemas/Xsd/Third_Party_Marketing_Events_Integration_with_SAP_Marketing_Cloud_and_SAP_Marketing - event_source.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="root">
    <xs:complexType>
      <xs:sequence>
        <xs:element type="xs:string" name="totalEvents"/>
        <xs:element name="events" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="subject"/>
              <xs:element type="xs:string" name="approvalType"/>
              <xs:element type="xs:string" name="description" minOccurs="0"/>
              <xs:element type="xs:string" name="timeZone"/>
              <xs:element type="xs:int" name="registrationSettingsKey"/>
              <xs:element type="xs:long" name="organizerKey"/>
              <xs:element type="xs:string" name="experienceType"/>
              <xs:element type="xs:string" name="locale"/>
              <xs:element type="xs:long" name="omid"/>
              <xs:element type="xs:string" name="recurrenceType"/>
              <xs:element type="xs:string" name="impromptu"/>
              <xs:element type="xs:long" name="accountKey"/>
              <xs:element type="xs:long" name="webinarKey"/>
              <xs:element type="xs:string" name="isPasswordProtected"/>
              <xs:element type="xs:int" name="webinarId"/>
              <xs:element type="xs:string" name="registrationUrl"/>
              <xs:element type="xs:string" name="status"/>
              <xs:element type="xs:string" name="isActive"/>
              <xs:element type="xs:string" name="utcOffset"/>
              <xs:element type="xs:dateTime" name="startTime"/>
              <xs:element type="xs:dateTime" name="endTime"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>