Resources/schemas/Xsd/Third_Party_Marketing_Events_Integration_with_SAP_Marketing_Cloud_and_SAP_Marketing - Original Registrant Payload.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="root">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Registrant" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="lastName" minOccurs="0" maxOccurs="1"/>
              <xs:element type="xs:string" name="country" minOccurs="0" maxOccurs="1"/>
              <xs:element type="xs:int" name="zipCode" minOccurs="0" maxOccurs="1"/>
              <xs:element type="xs:string" name="purchasingRole" minOccurs="0" maxOccurs="1"/>
              <xs:element type="xs:string" name="city" minOccurs="0" maxOccurs="1"/>
              <xs:element type="xs:string" name="jobTitle" minOccurs="0" maxOccurs="1"/>
              <xs:element type="xs:string" name="industry" minOccurs="0" maxOccurs="1"/>
              <xs:element type="xs:string" name="questionsAndComments" minOccurs="0" maxOccurs="1"/>
              <xs:element type="xs:string" name="type"/>
              <xs:element type="xs:string" name="employeeCount" minOccurs="0" maxOccurs="1"/>
              <xs:element type="xs:dateTime" name="registrationDate" minOccurs="0" maxOccurs="1"/>
              <xs:element type="xs:string" name="state" minOccurs="0" maxOccurs="1"/>
              <xs:element type="xs:string" name="joinUrl" minOccurs="0" maxOccurs="1"/>
              <xs:element type="xs:long" name="registrantKey" minOccurs="0" maxOccurs="1"/>
              <xs:element type="xs:string" name="email" minOccurs="0" maxOccurs="1"/>
              <xs:element type="xs:string" name="address" minOccurs="0" maxOccurs="1"/>
              <xs:element type="xs:string" name="implementationTimeFrame" minOccurs="0" maxOccurs="1"/>
              <xs:element type="xs:string" name="timeZone" minOccurs="0" maxOccurs="1"/>
              <xs:element type="xs:string" name="numberOfEmployees" minOccurs="0" maxOccurs="1"/>
              <xs:element type="xs:string" name="firstName" minOccurs="0" maxOccurs="1"/>
              <xs:element type="xs:string" name="unsubscribed" minOccurs="0" maxOccurs="1"/>
              <xs:element type="xs:long" name="phone" minOccurs="0" maxOccurs="1"/>
              <xs:element type="xs:string" name="organization" minOccurs="0" maxOccurs="1"/>
              <xs:element type="xs:string" name="purchasingTimeFrame" minOccurs="0" maxOccurs="1"/>
              <xs:element type="xs:string" name="status" minOccurs="0" maxOccurs="1"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element type="xs:byte" name="totalregistrants"/>
        <xs:element type="xs:long" name="eventid"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>