Resources/schemas/Xsd/Third_Party_Marketing_Events_Integration_with_SAP_Marketing_Cloud_and_SAP_Marketing - registrantGOTOWEBINAR.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="root">
    <xs:complexType>
      <xs:sequence>
        <xs:element type="xs:string" name="eventid"/>
    	<xs:element type="xs:string" name="totalregistrants"/>
        <xs:element name="Registrant" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="firstName"/>
              <xs:element type="xs:string" name="lastName"/>
              <xs:element type="xs:string" name="registrationDate"/>
              <xs:element type="xs:string" name="timeZone"/>
              <xs:element type="xs:string" name="joinUrl"/>
              <xs:element type="xs:string" name="registrantKey"/>
              <xs:element type="xs:string" name="email"/>
              <xs:element type="xs:string" name="status"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>