Resources/schemas/Xsd/Third_Party_Marketing_Events_Integration_with_SAP_Marketing_Cloud_and_SAP_Marketing - attendeeSMC_ext-1.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
 <xs:element name="root">
    <xs:complexType>
      <xs:sequence>
      	<xs:element type="xs:string" name="eventid"/>
    	<xs:element type="xs:string" name="totalattendees"/>
  <xs:element name="attendees" minOccurs="0" maxOccurs="unbounded">
    <xs:complexType>
      <xs:sequence>
              <xs:element type="xs:string" name="mktgeventparticipantexternalid" minOccurs="0" maxOccurs="1"/>
              <xs:element type="xs:string" name="mktgengagementscore" minOccurs="0" maxOccurs="1"/>
              <xs:element type="xs:string" name="numberofquestions" minOccurs="0" maxOccurs="1"/>
              <xs:element type="xs:string" name="numberofpollsanswered" minOccurs="0" maxOccurs="1"/>
              <xs:element type="xs:string" name="numberofsurveysanswered" minOccurs="0" maxOccurs="1"/>
              <xs:element type="xs:string" name="numberofcontentdownloads" minOccurs="0" maxOccurs="1"/>
              <xs:element type="xs:string" name="totalnumberofminuteslive" minOccurs="0" maxOccurs="1"/>
              <xs:element type="xs:string" name="totalnumberofminutesreplay" minOccurs="0" maxOccurs="1"/>
              <xs:element type="xs:string" name="totalnumberofminutesattended" minOccurs="0" maxOccurs="1"/>
              <xs:element type="xs:string" name="activitydatetime" minOccurs="0" maxOccurs="1"/>
               <xs:element type="xs:string" name="yy1_FIRSTLIVEACTIVITY_prt" minOccurs="0" maxOccurs="1"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
