Resources/schemas/Xsd/Third_Party_Marketing_Events_Integration_with_SAP_Marketing_Cloud_and_SAP_Marketing - attendeeON24.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="root">
    <xs:complexType>
      <xs:sequence>
      	<xs:element type="xs:string" name="eventid"/>
    	<xs:element type="xs:string" name="totalattendees"/>
      	<xs:element name="attendees" minOccurs="0" maxOccurs="unbounded">
   	  	<xs:complexType>
      	<xs:sequence>
              <xs:element type="xs:string" name="email" minOccurs="0" maxOccurs="1"/>
              <xs:element type="xs:string" name="eventid" minOccurs="0" maxOccurs="1"/>
              <xs:element type="xs:string" name="eventuserid" minOccurs="0" maxOccurs="1"/>
              <xs:element type="xs:string" name="isblocked" minOccurs="0" maxOccurs="1"/>
              <xs:element type="xs:string" name="engagementscore" minOccurs="0" maxOccurs="1"/>
              <xs:element type="xs:string" name="liveminutes" minOccurs="0" maxOccurs="1"/>
              <xs:element type="xs:string" name="firstliveactivity" minOccurs="0" maxOccurs="1"/>
              <xs:element type="xs:string" name="lastliveactivity" minOccurs="0" maxOccurs="1"/>
              <xs:element type="xs:string" name="archiveminutes" minOccurs="0" maxOccurs="1"/>
              <xs:element type="xs:string" name="firstarchiveactivity" minOccurs="0" maxOccurs="1"/>
              <xs:element type="xs:string" name="lastarchiveactivity" minOccurs="0" maxOccurs="1"/>
              <xs:element type="xs:string" name="askedquestions" minOccurs="0" maxOccurs="1"/>
              <xs:element type="xs:string" name="resourcesdownloaded" minOccurs="0" maxOccurs="1"/>
              <xs:element type="xs:string" name="answeredpolls" minOccurs="0" maxOccurs="1"/>
              <xs:element type="xs:string" name="answeredsurveys" minOccurs="0" maxOccurs="1"/>
              <xs:element type="xs:string" name="userstatus" minOccurs="0" maxOccurs="1"/>
             
              <xs:element name="questions" minOccurs="0" maxOccurs="unbounded">
   	  		  <xs:complexType>
      		  <xs:sequence>
              	        <xs:element type="xs:string" name="createtimestamp" minOccurs="0" maxOccurs="1"/>
              	        <xs:element type="xs:string" name="content" minOccurs="0" maxOccurs="1"/>
              	        <xs:element name="answer" minOccurs="0" maxOccurs="1">
   	  		 			 <xs:complexType>
      		 			 <xs:sequence>
              	       		 <xs:element type="xs:string" name="createtimestamp" minOccurs="0" maxOccurs="1"/>
              	        	 <xs:element type="xs:string" name="content" minOccurs="0" maxOccurs="1"/>
              	        	 <xs:element type="xs:string" name="presenterid" minOccurs="0" maxOccurs="1"/>
              	        	 <xs:element type="xs:string" name="presentername" minOccurs="0" maxOccurs="1"/>
              	        	 <xs:element type="xs:string" name="privacy" minOccurs="0" maxOccurs="1"/>
              			</xs:sequence>
    		 			 </xs:complexType>
  			 			 </xs:element>
              </xs:sequence>
    		  </xs:complexType>
  			  </xs:element>
  			  
  			   <xs:element name="polls" minOccurs="0" maxOccurs="unbounded">
   	  		  <xs:complexType>
      		  <xs:sequence>
              	        <xs:element type="xs:string" name="pollid" minOccurs="0" maxOccurs="1"/>
              	        <xs:element type="xs:string" name="pollquestionid" minOccurs="0" maxOccurs="1"/>
              	        <xs:element type="xs:string" name="pollquestion" minOccurs="0" maxOccurs="1"/>
              	        <xs:element name="pollanswers" minOccurs="0" maxOccurs="unbounded">
   	  		 			 <xs:simpleType>
          					<xs:list itemType="xs:string"/>                                                     
    					 </xs:simpleType>
  			 			 </xs:element>
              </xs:sequence>
    		  </xs:complexType>
  			  </xs:element>
  			  
  			  <xs:element name="resources" minOccurs="0" maxOccurs="unbounded">
   	  		  <xs:complexType>
      		  <xs:sequence>
              	       <xs:element type="xs:string" name="resourceid" minOccurs="0" maxOccurs="1"/>
              	       <xs:element type="xs:string" name="resourceviewed" minOccurs="0" maxOccurs="1"/>	 
              </xs:sequence>
    		  </xs:complexType>
  			  </xs:element>
  			 
  			 <xs:element name="surveys" minOccurs="0" maxOccurs="unbounded">
   	  		  <xs:complexType>
      		  <xs:sequence>
              	        <xs:element type="xs:string" name="surveyid" minOccurs="0" maxOccurs="1"/>
              	        <xs:element name="surveyquestions" minOccurs="0" maxOccurs="unbounded">
   	  		 			 <xs:complexType>
      		 			 <xs:sequence>
              	       		 <xs:element type="xs:string" name="surveyquestionid" minOccurs="0" maxOccurs="1"/>
              	        	 <xs:element type="xs:string" name="surveyquestion" minOccurs="0" maxOccurs="1"/>
              	        	 <xs:element name="surveyanswers" minOccurs="0" maxOccurs="unbounded">
   	  		 				 <xs:simpleType>
          						<xs:list itemType="xs:string"/>                                                     
    						 </xs:simpleType>
  			 			 	</xs:element>
              			</xs:sequence>
    		 			</xs:complexType>
  			 		 	</xs:element>
              </xs:sequence>
    		  </xs:complexType>
  			  </xs:element>		
  			  	 
              <xs:element type="xs:string" name="testwidgetresult" minOccurs="0" maxOccurs="1"/>
			  <xs:element type="xs:string" name="certificationwidgetresult" minOccurs="0" maxOccurs="1"/>
			  <xs:element type="xs:string" name="certificationcredit" minOccurs="0" maxOccurs="1"/>
			  <xs:element type="xs:string" name="certificationtimestamp" minOccurs="0" maxOccurs="1"/>
			  <xs:element type="xs:string" name="userprofileurl" minOccurs="0" maxOccurs="1"/>
			  <xs:element type="xs:string" name="campaigncode" minOccurs="0" maxOccurs="1"/>
			  <xs:element type="xs:string" name="sourcecampaigncode" minOccurs="0" maxOccurs="1"/>
		 </xs:sequence>
    	</xs:complexType>
  		</xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>