Resources/schemas/Xsd/Third_Party_Scheduling_Application_to_SuccessFactors_Integration - TemporaryTimeInformationEntityUPSERT.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="qualified">
    <xs:element name="batchParts">
        <xs:complexType>
            <xs:sequence>
                <xs:element nillable="false" minOccurs="1" maxOccurs="unbounded" name="batchChangeSet">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element nillable="false" minOccurs="1" maxOccurs="unbounded" name="batchChangeSetPart">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element type="xs:string" nillable="false" minOccurs="1" maxOccurs="1" name="method" xmlns=""/>
                                        <xs:element type="xs:string" nillable="true" minOccurs="0" maxOccurs="1" name="uri" xmlns=""/>
                                        <xs:element nillable="true" minOccurs="0" maxOccurs="1" name="headers">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element nillable="true" minOccurs="0" maxOccurs="unbounded" name="header">
                                                        <xs:complexType>
                                                            <xs:sequence>
                                                                <xs:element type="xs:string" nillable="false" minOccurs="1" maxOccurs="1" name="headerName" xmlns=""/>
                                                                <xs:element type="xs:string" nillable="false" minOccurs="1" maxOccurs="1" name="headerValue" xmlns=""/>
                                                            </xs:sequence>
                                                        </xs:complexType>
                                                    </xs:element>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element name="TemporaryTimeInformation">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element maxOccurs="unbounded" minOccurs="1" name="TemporaryTimeInformation">
                                                        <xs:complexType>
                                                            <xs:sequence>
                                                                <xs:element maxOccurs="1" name="externalCode" nillable="false">
                                                                    <xs:simpleType>
                                                                        <xs:restriction base="xs:string">
                                                                            <xs:maxLength value="128"/>
                                                                        </xs:restriction>
                                                                    </xs:simpleType>
                                                                </xs:element>
                                                                <xs:element maxOccurs="1" minOccurs="0" name="userId" nillable="true">
                                                                    <xs:simpleType>
                                                                        <xs:restriction base="xs:string">
                                                                            <xs:maxLength value="100"/>
                                                                        </xs:restriction>
                                                                    </xs:simpleType>
                                                                </xs:element>
                                                                <xs:element maxOccurs="1" minOccurs="0" name="dayModel" nillable="true">
                                                                    <xs:simpleType>
                                                                        <xs:restriction base="xs:string">
                                                                            <xs:maxLength value="128"/>
                                                                        </xs:restriction>
                                                                    </xs:simpleType>
                                                                </xs:element>
                                                                <xs:element maxOccurs="unbounded" minOccurs="0" name="dayModelNav" nillable="true">
                                                                    <xs:complexType>
                                                                        <xs:sequence>
                                                                            <xs:element maxOccurs="1" minOccurs="0" name="WorkScheduleDayModel">
                                                                                <xs:complexType>
                                                                                    <xs:sequence>
                                                                                        <xs:element maxOccurs="1" name="externalCode" nillable="false">
                                                                                            <xs:simpleType>
                                                                                                <xs:restriction base="xs:string">
                                                                                                    <xs:maxLength value="128"/>
                                                                                                </xs:restriction>
                                                                                            </xs:simpleType>
                                                                                        </xs:element>
                                                                                        <xs:element maxOccurs="1" minOccurs="0" name="country" nillable="true">
                                                                                            <xs:simpleType>
                                                                                                <xs:restriction base="xs:string">
                                                                                                    <xs:maxLength value="128"/>
                                                                                                </xs:restriction>
                                                                                            </xs:simpleType>
                                                                                        </xs:element>
                                                                                        <xs:element maxOccurs="1" minOccurs="0" name="description" nillable="true" type="xs:string"/>
                                                                                        <xs:element maxOccurs="unbounded" minOccurs="0" name="segments" nillable="true">
                                                                                            <xs:complexType>
                                                                                                <xs:sequence>
                                                                                                    <xs:element maxOccurs="unbounded" minOccurs="0" name="WorkScheduleDayModelSegment">
                                                                                                        <xs:complexType>
                                                                                                            <xs:sequence>
                                                                                                                <xs:element maxOccurs="1" name="WorkScheduleDayModel_externalCode" nillable="false">
                                                                                                                    <xs:simpleType>
                                                                                                                        <xs:restriction base="xs:string">
                                                                                                                            <xs:maxLength value="128"/>
                                                                                                                        </xs:restriction>
                                                                                                                    </xs:simpleType>
                                                                                                                </xs:element>
                                                                                                                <xs:element maxOccurs="1" name="externalCode" nillable="false">
                                                                                                                    <xs:simpleType>
                                                                                                                        <xs:restriction base="xs:string">
                                                                                                                            <xs:maxLength value="128"/>
                                                                                                                        </xs:restriction>
                                                                                                                    </xs:simpleType>
                                                                                                                </xs:element>
                                                                                                                <xs:element maxOccurs="1" name="category" nillable="false">
                                                                                                                    <xs:simpleType>
                                                                                                                        <xs:restriction base="xs:string">
                                                                                                                            <xs:maxLength value="255"/>
                                                                                                                        </xs:restriction>
                                                                                                                    </xs:simpleType>
                                                                                                                </xs:element>
                                                                                                                <xs:element maxOccurs="1" minOccurs="0" name="createdBy" nillable="true">
                                                                                                                    <xs:simpleType>
                                                                                                                        <xs:restriction base="xs:string">
                                                                                                                            <xs:maxLength value="255"/>
                                                                                                                        </xs:restriction>
                                                                                                                    </xs:simpleType>
                                                                                                                </xs:element>
                                                                                                                <xs:element maxOccurs="1" minOccurs="0" name="createdDate" nillable="true" type="xs:dateTime"/>
                                                                                                                <xs:element maxOccurs="1" minOccurs="0" name="createdDateTime" nillable="true" type="xs:dateTime"/>
                                                                                                                <xs:element maxOccurs="1" minOccurs="0" name="duration" nillable="true" type="xs:long"/>
                                                                                                                <xs:element minOccurs="0" maxOccurs="1" name="endTime" nillable="false" type="xs:time"/>
                                                                                                                <xs:element maxOccurs="1" minOccurs="0" name="entityUUID" nillable="true">
                                                                                                                    <xs:simpleType>
                                                                                                                        <xs:restriction base="xs:string">
                                                                                                                            <xs:maxLength value="255"/>
                                                                                                                        </xs:restriction>
                                                                                                                    </xs:simpleType>
                                                                                                                </xs:element>
                                                                                                                <xs:element maxOccurs="1" minOccurs="0" name="lastModifiedBy" nillable="true">
                                                                                                                    <xs:simpleType>
                                                                                                                        <xs:restriction base="xs:string">
                                                                                                                            <xs:maxLength value="255"/>
                                                                                                                        </xs:restriction>
                                                                                                                    </xs:simpleType>
                                                                                                                </xs:element>
                                                                                                                <xs:element maxOccurs="1" minOccurs="0" name="lastModifiedDate" nillable="true" type="xs:dateTime"/>
                                                                                                                <xs:element maxOccurs="1" minOccurs="0" name="lastModifiedDateTime" nillable="true" type="xs:dateTime"/>
                                                                                                                <xs:element maxOccurs="1" minOccurs="0" name="lastModifiedDateWithTZ" nillable="true" type="xs:dateTime"/>
                                                                                                                <xs:element maxOccurs="1" minOccurs="0" name="mdfSystemEffectiveEndDate" nillable="true" type="xs:dateTime"/>
                                                                                                                <xs:element maxOccurs="1" minOccurs="0" name="mdfSystemEffectiveStartDate" nillable="true" type="xs:dateTime"/>
                                                                                                                <xs:element maxOccurs="1" minOccurs="0" name="mdfSystemEntityId" nillable="true">
                                                                                                                    <xs:simpleType>
                                                                                                                        <xs:restriction base="xs:string">
                                                                                                                            <xs:maxLength value="255"/>
                                                                                                                        </xs:restriction>
                                                                                                                    </xs:simpleType>
                                                                                                                </xs:element>
                                                                                                                <xs:element maxOccurs="1" minOccurs="0" name="mdfSystemObjectType" nillable="true">
                                                                                                                    <xs:simpleType>
                                                                                                                        <xs:restriction base="xs:string">
                                                                                                                            <xs:maxLength value="255"/>
                                                                                                                        </xs:restriction>
                                                                                                                    </xs:simpleType>
                                                                                                                </xs:element>
                                                                                                                <xs:element maxOccurs="1" minOccurs="0" name="mdfSystemRecordId" nillable="true">
                                                                                                                    <xs:simpleType>
                                                                                                                        <xs:restriction base="xs:string">
                                                                                                                            <xs:maxLength value="255"/>
                                                                                                                        </xs:restriction>
                                                                                                                    </xs:simpleType>
                                                                                                                </xs:element>
                                                                                                                <xs:element maxOccurs="1" minOccurs="0" name="mdfSystemRecordStatus" nillable="true">
                                                                                                                    <xs:simpleType>
                                                                                                                        <xs:restriction base="xs:string">
                                                                                                                            <xs:maxLength value="255"/>
                                                                                                                        </xs:restriction>
                                                                                                                    </xs:simpleType>
                                                                                                                </xs:element>
                                                                                                                <xs:element maxOccurs="1" minOccurs="0" name="mdfSystemStatus" nillable="true">
                                                                                                                    <xs:simpleType>
                                                                                                                        <xs:restriction base="xs:string">
                                                                                                                            <xs:maxLength value="255"/>
                                                                                                                        </xs:restriction>
                                                                                                                    </xs:simpleType>
                                                                                                                </xs:element>
                                                                                                                <xs:element maxOccurs="1" minOccurs="0" name="mdfSystemTransactionSequence" nillable="true" type="xs:long"/>
                                                                                                                <xs:element maxOccurs="1" minOccurs="0" name="mdfSystemVersionId" nillable="true" type="xs:long"/>
                                                                                                                <xs:element minOccurs="0" maxOccurs="1" name="startTime" nillable="false" type="xs:time"/>
                                                                                                            </xs:sequence>
                                                                                                        </xs:complexType>
                                                                                                    </xs:element>
                                                                                                </xs:sequence>
                                                                                            </xs:complexType>
                                                                                        </xs:element>
                                                                                        <xs:element maxOccurs="1" minOccurs="0" name="variantUsage" nillable="true">
                                                                                            <xs:simpleType>
                                                                                                <xs:restriction base="xs:string">
                                                                                                    <xs:maxLength value="128"/>
                                                                                                </xs:restriction>
                                                                                            </xs:simpleType>
                                                                                        </xs:element>
                                                                                        <xs:element minOccurs="0" maxOccurs="1" name="timeRecordingVariant" nillable="false">
                                                                                            <xs:simpleType>
                                                                                                <xs:restriction base="xs:string">
                                                                                                    <xs:maxLength value="255"/>
                                                                                                </xs:restriction>
                                                                                            </xs:simpleType>
                                                                                        </xs:element>
                                                                                        <xs:element maxOccurs="1" minOccurs="0" name="externalName_defaultValue" nillable="true">
                                                                                            <xs:simpleType>
                                                                                                <xs:restriction base="xs:string">
                                                                                                    <xs:maxLength value="255"/>
                                                                                                </xs:restriction>
                                                                                            </xs:simpleType>
                                                                                        </xs:element>
                                                                                        <xs:element maxOccurs="1" minOccurs="0" name="externalName_en_DEBUG" nillable="true">
                                                                                            <xs:simpleType>
                                                                                                <xs:restriction base="xs:string">
                                                                                                    <xs:maxLength value="255"/>
                                                                                                </xs:restriction>
                                                                                            </xs:simpleType>
                                                                                        </xs:element>
                                                                                        <xs:element maxOccurs="1" minOccurs="0" name="externalName_en_GB" nillable="true">
                                                                                            <xs:simpleType>
                                                                                                <xs:restriction base="xs:string">
                                                                                                    <xs:maxLength value="255"/>
                                                                                                </xs:restriction>
                                                                                            </xs:simpleType>
                                                                                        </xs:element>
                                                                                        <xs:element maxOccurs="1" minOccurs="0" name="externalName_en_US" nillable="true">
                                                                                            <xs:simpleType>
                                                                                                <xs:restriction base="xs:string">
                                                                                                    <xs:maxLength value="255"/>
                                                                                                </xs:restriction>
                                                                                            </xs:simpleType>
                                                                                        </xs:element>
                                                                                    </xs:sequence>
                                                                                </xs:complexType>
                                                                            </xs:element>
                                                                        </xs:sequence>
                                                                    </xs:complexType>
                                                                </xs:element>
                                                                <xs:element maxOccurs="1" name="startDate" nillable="false" type="xs:dateTime"/>
                                                                <xs:element maxOccurs="1" name="endDate" nillable="false" type="xs:dateTime"/>
                                                                <xs:element maxOccurs="1" minOccurs="0" name="link">
                                                                    <xs:complexType>
                                                                        <xs:sequence>
                                                                            <xs:element maxOccurs="unbounded" minOccurs="0" name="dayModelNav" nillable="true">
                                                                                <xs:complexType>
                                                                                    <xs:sequence>
                                                                                        <xs:element maxOccurs="1" minOccurs="0" name="WorkScheduleDayModel">
                                                                                            <xs:complexType>
                                                                                                <xs:sequence>
                                                                                                    <xs:element maxOccurs="1" minOccurs="1" name="externalCode" type="xs:string"/>
                                                                                                </xs:sequence>
                                                                                            </xs:complexType>
                                                                                        </xs:element>
                                                                                    </xs:sequence>
                                                                                </xs:complexType>
                                                                            </xs:element>
                                                                        </xs:sequence>
                                                                    </xs:complexType>
                                                                </xs:element>
                                                            </xs:sequence>
                                                        </xs:complexType>
                                                    </xs:element>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>