Resources/schemas/Xsd/Third_Party_Invoice_Status_Integration_with_SAP_Ariba_network - InvoiceStatus.xsd

<?xml version="1.0" encoding="UTF-8"?>

<!-- W3C Schema generated by XMLSpy v2015 sp1 (x64) (http://www.altova.com) -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="To">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Credential"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="From">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Credential"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="cXML">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Header"/>
				<xs:element ref="Request"/>
			</xs:sequence>
			<xs:attribute name="timestamp" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:dateTime">
						<xs:enumeration value="2019-09-25T15:00:00+01:00"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="payloadID" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="1566465080494-2994675448439160463@10.162.97.164"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="version" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="1.2.014"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="Header">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="From"/>
				<xs:element ref="To"/>
				<xs:element ref="Sender"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="Sender">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Credential"/>
				<xs:element ref="UserAgent"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="Status">
		<xs:complexType>
			<xs:attribute name="code" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:short">
						<xs:enumeration value="200"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="text" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value=""/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="Request">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="StatusUpdateRequest"/>
			</xs:sequence>
			<xs:attribute name="deploymentMode" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="production"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="Comments">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value=" Document received, processing has started."/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="Identity">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="AN01429327641-T"/>
				<xs:enumeration value="AN01429430597-T"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="UserAgent">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="InvoiceBackChannel"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="Credential">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Identity"/>
			</xs:sequence>
			<xs:attribute name="domain" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="NetworkID"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="InvoiceStatus">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Comments"/>
			</xs:sequence>
			<xs:attribute name="type" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="processing"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="DocumentReference">
		<xs:complexType>
			<xs:attribute name="payloadID" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="1566465080494-2994675448439160463@10.162.97.164"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="StatusUpdateRequest">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="DocumentReference"/>
				<xs:element ref="Status"/>
				<xs:element ref="InvoiceStatus"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
