Resources/schemas/Xsd/Third_Party_Scheduling_Application_to_SuccessFactors_Integration - ShiftSchedule.xsd

<?xml version="1.0" encoding="UTF-8"?><xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="qualified">
  <xs:element name="root">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" minOccurs="0" name="row">
          <xs:complexType>
            <xs:sequence>
             <!--< <xs:element maxOccurs="1" minOccurs="0" name="status" type="xs:string"/>-->
              <xs:element maxOccurs="1" minOccurs="0" name="externalCode" type="xs:string"/>
              <xs:element maxOccurs="1" minOccurs="0" name="workStartTime" type="xs:string"/>
              <xs:element maxOccurs="1" minOccurs="0" name="workEndTime" type="xs:string"/>
              <xs:element maxOccurs="unbounded" minOccurs="0" name="breakSegment">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="1" minOccurs="0" name="startTime" type="xs:string"/>
                        <xs:element maxOccurs="1" minOccurs="0" name="endTime" type="xs:string"/>
                        <xs:element maxOccurs="1" minOccurs="0" name="category" type="xs:string"/>
                    </xs:sequence> 
                </xs:complexType>
              </xs:element>  
              <xs:element maxOccurs="1" minOccurs="0" name="timeRecordingVariant" type="xs:string"/>
              <!--<xs:element maxOccurs="1" minOccurs="0" name="endTime1" type="xs:string"/>-->
              <!--<xs:element maxOccurs="1" minOccurs="0" name="startTime2" type="xs:string"/>-->
              <!--<xs:element maxOccurs="1" minOccurs="0" name="endTime2" type="xs:string"/>-->
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>