Resources/schemas/Xsd/Third_Party_Marketing_Events_Integration_with_SAP_Marketing_Cloud_and_SAP_Marketing - eventsON24.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="qualified">
    <xs:element name="root">
        <xs:complexType>
            <xs:sequence>
                <xs:element type="xs:string" name="eventid" minOccurs="0" maxOccurs="1" />
                <xs:element type="xs:string" name="eventduration" minOccurs="0" maxOccurs="1" />
                <xs:element type="xs:string" name="clientid" minOccurs="0" maxOccurs="1" />
                <xs:element type="xs:string" name="goodafter" minOccurs="0" maxOccurs="1" />
                <xs:element type="xs:string" name="isactive" minOccurs="0" maxOccurs="1" />
                <xs:element type="xs:string" name="regrequired" minOccurs="0" maxOccurs="1" />
                <xs:element type="xs:string" name="description" minOccurs="0" maxOccurs="1" />
                <xs:element type="xs:string" name="regnotificationrequired" minOccurs="0" maxOccurs="1" />
                <xs:element type="xs:string" name="displaytimezonecd" minOccurs="0" maxOccurs="1" />
                <xs:element type="xs:string" name="eventtype" minOccurs="0" maxOccurs="1" />
                <xs:element type="xs:string" name="category" minOccurs="0" maxOccurs="1" />
                <xs:element type="xs:string" name="createtimestamp" minOccurs="0" maxOccurs="1" />
                <xs:element type="xs:string" name="localelanguagecd" minOccurs="0" maxOccurs="1" />
                <xs:element type="xs:string" name="lastmodified" minOccurs="0" maxOccurs="1" />
                <xs:element type="xs:string" name="iseliteexpired" minOccurs="0" maxOccurs="1" />
                <xs:element type="xs:string" name="application" minOccurs="0" maxOccurs="1" />
                <xs:element type="xs:string" name="livestart" minOccurs="0" maxOccurs="1" />
                <xs:element type="xs:string" name="liveend" minOccurs="0" maxOccurs="1" />
                <xs:element type="xs:string" name="archivestart" minOccurs="0" maxOccurs="1" />
                <xs:element type="xs:string" name="archiveend" minOccurs="0" maxOccurs="1" />
                <xs:element type="xs:string" name="audienceurl" minOccurs="0" maxOccurs="1" />
                <xs:element type="xs:string" name="eventprofile" minOccurs="0" maxOccurs="1" />
                <xs:element type="xs:string" name="streamtype" minOccurs="0" maxOccurs="1" />
                <xs:element type="xs:string" name="audiencekey" minOccurs="0" maxOccurs="1" />
                <xs:element type="xs:string" name="reporturl" minOccurs="0" maxOccurs="1" />
                <xs:element type="xs:string" name="uploadurl" minOccurs="0" maxOccurs="1" />
                <xs:element type="xs:string" name="pmurl" minOccurs="0" maxOccurs="1" />
                <xs:element type="xs:string" name="previewurl" minOccurs="0" maxOccurs="1" />
                <xs:element type="xs:string" name="contenttype" minOccurs="0" maxOccurs="1" />
                <xs:element type="xs:string" name="lastupdated" minOccurs="0" maxOccurs="1" />
                <xs:element type="xs:string" name="eventstd1" minOccurs="0" maxOccurs="1"/>
                <xs:element type="xs:string" name="eventstd2" minOccurs="0" maxOccurs="1"/>
                <xs:element type="xs:string" name="eventstd3" minOccurs="0" maxOccurs="1"/>
                <xs:element type="xs:string" name="eventstd4" minOccurs="0" maxOccurs="1"/>
                <xs:element type="xs:string" name="eventstd5" minOccurs="0" maxOccurs="1"/>
                <xs:element name="tags" minOccurs="0" maxOccurs="unbounded">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element type="xs:string" name="tagName" minOccurs="0" maxOccurs="1" />
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="partnerrefstats" minOccurs="0" maxOccurs="1">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element type="xs:string" name="code" minOccurs="0" maxOccurs="1" />
                            <xs:element type="xs:string" name="count" minOccurs="0" maxOccurs="1" />
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="eventanalytics" minOccurs="0" maxOccurs="1">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element type="xs:string" name="totalregistrants" minOccurs="0" maxOccurs="1" />
                            <xs:element type="xs:string" name="totalattendees" minOccurs="0" maxOccurs="1" />
                            <xs:element type="xs:string" name="liveattendees" minOccurs="0" maxOccurs="1" />
                            <xs:element type="xs:string" name="ondemandattendees" minOccurs="0" maxOccurs="1" />
                            <xs:element type="xs:string" name="numberofquestionsasked" minOccurs="0" maxOccurs="1" />
                            <xs:element type="xs:string" name="numberofquestionsanswered" minOccurs="0" maxOccurs="1" />
                            <xs:element type="xs:string" name="numberofpollspushed" minOccurs="0" maxOccurs="1" />
                            <xs:element type="xs:string" name="numberofpollresponses" minOccurs="0" maxOccurs="1" />
                            <xs:element type="xs:string" name="numberofsurveyspresented" minOccurs="0" maxOccurs="1" />
                            <xs:element type="xs:string" name="numberofsurveyresponses" minOccurs="0" maxOccurs="1" />
                            <xs:element type="xs:string" name="noshowcount" minOccurs="0" maxOccurs="1" />
                            <xs:element type="xs:string" name="registrationpagehits" minOccurs="0" maxOccurs="1" />
                            <xs:element type="xs:string" name="numberofgroupchatmessagessubmitted" minOccurs="0" maxOccurs="1" />
                            <xs:element type="xs:string" name="eventengagementscore" minOccurs="0" maxOccurs="1" />
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="customaccounttags" minOccurs="0" maxOccurs="1">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element type="xs:string" name="groupid" minOccurs="0" maxOccurs="1" />
                            <xs:element type="xs:string" name="groupname" minOccurs="0" maxOccurs="1" />
                            <xs:element type="xs:string" name="tagid" minOccurs="0" maxOccurs="1" />
                            <xs:element type="xs:string" name="tagname" minOccurs="0" maxOccurs="1" />
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>