Resources/schemas/Xsd/Third_Party_Marketing_Events_Integration_with_SAP_Marketing_Cloud_and_SAP_Marketing - eventsSMC_ext-1.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
 <xs:element name="root">
    <xs:complexType>
      <xs:sequence>
      	<xs:element type="xs:string" name="totalevents"/>
  		<xs:element name="events" minOccurs="0" maxOccurs="unbounded">
    	<xs:complexType>
      	<xs:sequence>
              <xs:element type="xs:string" name="mktgeventexternalid" minOccurs="0" maxOccurs="1"/>
              <xs:element type="xs:string" name="mktgeventname" minOccurs="0" maxOccurs="1"/>
              <xs:element type="xs:string" name="mktgeventdescription" minOccurs="0" maxOccurs="1"/>
              <xs:element type="xs:string" name="language" minOccurs="0" maxOccurs="1"/>
              <xs:element type="xs:string" name="mktgeventprovideraccount" minOccurs="0" maxOccurs="1"/>
              <xs:element type="xs:string" name="isactive" minOccurs="0" maxOccurs="1"/>
              <xs:element type="xs:string" name="mktgeventstartdatetime" minOccurs="0" maxOccurs="1"/>
              <xs:element type="xs:string" name="mktgeventenddatetime" minOccurs="0" maxOccurs="1"/>
              <xs:element type="xs:string" name="mktgevtreplayavailfromdatetime" minOccurs="0" maxOccurs="1"/>
              <xs:element type="xs:string" name="mktgevtreplayavailtodatetime" minOccurs="0" maxOccurs="1"/>
              <xs:element type="xs:string" name="marketingarea" minOccurs="0" maxOccurs="1"/>
              <xs:element type="xs:string" name="mktgeventregistrationurl" minOccurs="0" maxOccurs="1"/>
              <xs:element type="xs:string" name="mktgeventonlineurl" minOccurs="0" maxOccurs="1"/>
              <xs:element type="xs:string" name="mktgeventreplayurl" minOccurs="0" maxOccurs="1"/>
              <xs:element type="xs:string" name="mktgeventinfourl" minOccurs="0" maxOccurs="1"/>
              <xs:element type="xs:string" name="mktgeventtimezone" minOccurs="0" maxOccurs="1"/>
              <xs:element type="xs:string" name="mediatype" minOccurs="0" maxOccurs="1"/>
              <xs:element type="xs:string" name="utcoffset" minOccurs="0" maxOccurs="1"/>
              <xs:element type="xs:string" name="yy1_EVENTLOCATION_evt" minOccurs="0" maxOccurs="1"/>
              
              
    </xs:sequence>
    </xs:complexType>
  	</xs:element>
 </xs:sequence>
 </xs:complexType>
 </xs:element>
</xs:schema>
