Resources/schemas/Xsd/Third_Party_Marketing_Events_Integration_with_SAP_Marketing_Cloud_and_SAP_Marketing - registrantSMC-3.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="qualified">
    <xs:element name="root">
        <xs:complexType>
            <xs:sequence>
                <xs:element type="xs:string" name="eventid" />
                <xs:element type="xs:string" name="totalregistrants" />
                <xs:element name="registrants" minOccurs="0" maxOccurs="unbounded">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element type="xs:string" name="mktgeventparticipantexternalid" minOccurs="0" maxOccurs="1" />
                            <xs:element type="xs:string" name="mktgeventparticipantid" minOccurs="0" maxOccurs="1" />
                            <xs:element type="xs:string" name="activitydatetime" minOccurs="0" maxOccurs="1" />
                            <xs:element name="interactions" minOccurs="0" maxOccurs="unbounded">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element type="xs:string" name="InteractionUUID" minOccurs="0" maxOccurs="1" />
                                        <xs:element type="xs:string" name="InteractionContactOrigin" minOccurs="0" maxOccurs="1" />
                                        <xs:element type="xs:string" name="InteractionContactId" minOccurs="0" maxOccurs="1" />
                                        <xs:element type="xs:string" name="CommunicationMedium" minOccurs="0" maxOccurs="1" />
                                        <xs:element type="xs:string" name="InteractionType" minOccurs="0" maxOccurs="1" />
                                        <xs:element type="xs:string" name="InteractionTimeStampUTC" minOccurs="0" maxOccurs="1" />
                                        <xs:element type="xs:string" name="InteractionSourceObjectType" minOccurs="0" maxOccurs="1" />
                                        <xs:element type="xs:string" name="InteractionSourceObject" minOccurs="0" maxOccurs="1" />
                                        <xs:element type="xs:string" name="MarketingArea" minOccurs="0" maxOccurs="1" />
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element minOccurs="0" maxOccurs="unbounded" name="Contact">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element type="xs:dateTime" nillable="true" minOccurs="0" maxOccurs="1" name="BirthDate" xmlns=""/>
                                        <xs:element type="xs:boolean" nillable="true" minOccurs="0" maxOccurs="1" name="IsConsumer" xmlns=""/>
                                        <xs:element type="xs:boolean" nillable="true" minOccurs="0" maxOccurs="1" name="IsContactPerson" xmlns=""/>
                                        <xs:element type="xs:decimal" nillable="true" minOccurs="0" maxOccurs="1" name="Latitude" xmlns=""/>
                                        <xs:element type="xs:dateTime" nillable="true" minOccurs="0" maxOccurs="1" name="LastChangeDateTime" xmlns=""/>
                                        <xs:element type="xs:decimal" nillable="true" minOccurs="0" maxOccurs="1" name="Longitude" xmlns=""/>
                                        <xs:element type="xs:dateTime" nillable="true" minOccurs="0" maxOccurs="1" name="CreationDateTime" xmlns=""/>
                                        <xs:element nillable="true" minOccurs="0" maxOccurs="1" name="SpatialReferenceSystem">
                                            <xs:simpleType>
                                                <xs:restriction base="xs:string" xmlns="">
                                                    <xs:maxLength value="10"/>
                                                </xs:restriction>
                                            </xs:simpleType>
                                        </xs:element>
                                        <xs:element type="xs:boolean" nillable="true" minOccurs="0" maxOccurs="1" name="IsMainContact" xmlns=""/>
                                        <xs:element nillable="true" minOccurs="0" maxOccurs="1" name="FullName">
                                            <xs:simpleType>
                                                <xs:restriction base="xs:string" xmlns="">
                                                    <xs:maxLength value="80"/>
                                                </xs:restriction>
                                            </xs:simpleType>
                                        </xs:element>
                                        <xs:element nillable="true" minOccurs="0" maxOccurs="1" name="FirstName">
                                            <xs:simpleType>
                                                <xs:restriction base="xs:string" xmlns="">
                                                    <xs:maxLength value="40"/>
                                                </xs:restriction>
                                            </xs:simpleType>
                                        </xs:element>
                                        <xs:element nillable="true" minOccurs="0" maxOccurs="1" name="LastName">
                                            <xs:simpleType>
                                                <xs:restriction base="xs:string" xmlns="">
                                                    <xs:maxLength value="40"/>
                                                </xs:restriction>
                                            </xs:simpleType>
                                        </xs:element>
                                        <xs:element nillable="true" minOccurs="0" maxOccurs="1" name="Department">
                                            <xs:simpleType>
                                                <xs:restriction base="xs:string" xmlns="">
                                                    <xs:maxLength value="4"/>
                                                </xs:restriction>
                                            </xs:simpleType>
                                        </xs:element>
                                        <xs:element nillable="true" minOccurs="0" maxOccurs="1" name="DepartmentName">
                                            <xs:simpleType>
                                                <xs:restriction base="xs:string" xmlns="">
                                                    <xs:maxLength value="40"/>
                                                </xs:restriction>
                                            </xs:simpleType>
                                        </xs:element>
                                        <xs:element nillable="true" minOccurs="0" maxOccurs="1" name="Function">
                                            <xs:simpleType>
                                                <xs:restriction base="xs:string" xmlns="">
                                                    <xs:maxLength value="4"/>
                                                </xs:restriction>
                                            </xs:simpleType>
                                        </xs:element>
                                        <xs:element nillable="true" minOccurs="0" maxOccurs="1" name="ContactFunctionName">
                                            <xs:simpleType>
                                                <xs:restriction base="xs:string" xmlns="">
                                                    <xs:maxLength value="40"/>
                                                </xs:restriction>
                                            </xs:simpleType>
                                        </xs:element>
                                        <xs:element nillable="true" minOccurs="0" maxOccurs="1" name="MaritalStatus">
                                            <xs:simpleType>
                                                <xs:restriction base="xs:string" xmlns="">
                                                    <xs:maxLength value="1"/>
                                                </xs:restriction>
                                            </xs:simpleType>
                                        </xs:element>
                                        <xs:element nillable="true" minOccurs="0" maxOccurs="1" name="MaritalStatusName">
                                            <xs:simpleType>
                                                <xs:restriction base="xs:string" xmlns="">
                                                    <xs:maxLength value="20"/>
                                                </xs:restriction>
                                            </xs:simpleType>
                                        </xs:element>
                                        <xs:element nillable="true" minOccurs="0" maxOccurs="1" name="CityName">
                                            <xs:simpleType>
                                                <xs:restriction base="xs:string" xmlns="">
                                                    <xs:maxLength value="40"/>
                                                </xs:restriction>
                                            </xs:simpleType>
                                        </xs:element>
                                        <xs:element nillable="true" minOccurs="0" maxOccurs="1" name="StreetName">
                                            <xs:simpleType>
                                                <xs:restriction base="xs:string" xmlns="">
                                                    <xs:maxLength value="60"/>
                                                </xs:restriction>
                                            </xs:simpleType>
                                        </xs:element>
                                        <xs:element nillable="true" minOccurs="0" maxOccurs="1" name="AddressHouseNumber">
                                            <xs:simpleType>
                                                <xs:restriction base="xs:string" xmlns="">
                                                    <xs:maxLength value="10"/>
                                                </xs:restriction>
                                            </xs:simpleType>
                                        </xs:element>
                                        <xs:element nillable="true" minOccurs="0" maxOccurs="1" name="LanguageCode">
                                            <xs:simpleType>
                                                <xs:restriction base="xs:string" xmlns="">
                                                    <xs:maxLength value="2"/>
                                                </xs:restriction>
                                            </xs:simpleType>
                                        </xs:element>
                                        <xs:element nillable="true" minOccurs="0" maxOccurs="1" name="LanguageName">
                                            <xs:simpleType>
                                                <xs:restriction base="xs:string" xmlns="">
                                                    <xs:maxLength value="16"/>
                                                </xs:restriction>
                                            </xs:simpleType>
                                        </xs:element>
                                        <xs:element nillable="true" minOccurs="0" maxOccurs="1" name="EmailAddress">
                                            <xs:simpleType>
                                                <xs:restriction base="xs:string" xmlns="">
                                                    <xs:maxLength value="241"/>
                                                </xs:restriction>
                                            </xs:simpleType>
                                        </xs:element>
                                        <xs:element nillable="true" minOccurs="0" maxOccurs="1" name="PhoneNumber">
                                            <xs:simpleType>
                                                <xs:restriction base="xs:string" xmlns="">
                                                    <xs:maxLength value="30"/>
                                                </xs:restriction>
                                            </xs:simpleType>
                                        </xs:element>
                                        <xs:element nillable="true" minOccurs="0" maxOccurs="1" name="MobileNumber">
                                            <xs:simpleType>
                                                <xs:restriction base="xs:string" xmlns="">
                                                    <xs:maxLength value="30"/>
                                                </xs:restriction>
                                            </xs:simpleType>
                                        </xs:element>
                                        <xs:element nillable="true" minOccurs="0" maxOccurs="1" name="FaxNumber">
                                            <xs:simpleType>
                                                <xs:restriction base="xs:string" xmlns="">
                                                    <xs:maxLength value="30"/>
                                                </xs:restriction>
                                            </xs:simpleType>
                                        </xs:element>
                                        <xs:element nillable="true" minOccurs="0" maxOccurs="1" name="Country">
                                            <xs:simpleType>
                                                <xs:restriction base="xs:string" xmlns="">
                                                    <xs:maxLength value="3"/>
                                                </xs:restriction>
                                            </xs:simpleType>
                                        </xs:element>
                                        <xs:element nillable="true" minOccurs="0" maxOccurs="1" name="CountryName">
                                            <xs:simpleType>
                                                <xs:restriction base="xs:string" xmlns="">
                                                    <xs:maxLength value="50"/>
                                                </xs:restriction>
                                            </xs:simpleType>
                                        </xs:element>
                                        <xs:element nillable="true" minOccurs="0" maxOccurs="1" name="AddressRegion">
                                            <xs:simpleType>
                                                <xs:restriction base="xs:string" xmlns="">
                                                    <xs:maxLength value="3"/>
                                                </xs:restriction>
                                            </xs:simpleType>
                                        </xs:element>
                                        <xs:element nillable="true" minOccurs="0" maxOccurs="1" name="RegionName">
                                            <xs:simpleType>
                                                <xs:restriction base="xs:string" xmlns="">
                                                    <xs:maxLength value="40"/>
                                                </xs:restriction>
                                            </xs:simpleType>
                                        </xs:element>
                                        <xs:element nillable="true" minOccurs="0" maxOccurs="1" name="GenderCode">
                                            <xs:simpleType>
                                                <xs:restriction base="xs:string" xmlns="">
                                                    <xs:maxLength value="1"/>
                                                </xs:restriction>
                                            </xs:simpleType>
                                        </xs:element>
                                        <xs:element nillable="true" minOccurs="0" maxOccurs="1" name="GenderName">
                                            <xs:simpleType>
                                                <xs:restriction base="xs:string" xmlns="">
                                                    <xs:maxLength value="40"/>
                                                </xs:restriction>
                                            </xs:simpleType>
                                        </xs:element>
                                        <xs:element nillable="true" minOccurs="0" maxOccurs="1" name="ContactPostalCode">
                                            <xs:simpleType>
                                                <xs:restriction base="xs:string" xmlns="">
                                                    <xs:maxLength value="10"/>
                                                </xs:restriction>
                                            </xs:simpleType>
                                        </xs:element>
                                        <xs:element nillable="true" minOccurs="0" maxOccurs="1" name="FormOfAddress">
                                            <xs:simpleType>
                                                <xs:restriction base="xs:string" xmlns="">
                                                    <xs:maxLength value="4"/>
                                                </xs:restriction>
                                            </xs:simpleType>
                                        </xs:element>
                                        <xs:element nillable="true" minOccurs="0" maxOccurs="1" name="FormOfAddressName">
                                            <xs:simpleType>
                                                <xs:restriction base="xs:string" xmlns="">
                                                    <xs:maxLength value="30"/>
                                                </xs:restriction>
                                            </xs:simpleType>
                                        </xs:element>
                                        <xs:element nillable="true" minOccurs="0" maxOccurs="1" name="WebsiteURL">
                                            <xs:simpleType>
                                                <xs:restriction base="xs:string" xmlns="">
                                                    <xs:maxLength value="1000"/>
                                                </xs:restriction>
                                            </xs:simpleType>
                                        </xs:element>
                                        <xs:element nillable="true" minOccurs="0" maxOccurs="1" name="ValidationStatus">
                                            <xs:simpleType>
                                                <xs:restriction base="xs:string" xmlns="">
                                                    <xs:maxLength value="2"/>
                                                </xs:restriction>
                                            </xs:simpleType>
                                        </xs:element>
                                        <xs:element nillable="true" minOccurs="0" maxOccurs="1" name="ValidationStatusName">
                                            <xs:simpleType>
                                                <xs:restriction base="xs:string" xmlns="">
                                                    <xs:maxLength value="20"/>
                                                </xs:restriction>
                                            </xs:simpleType>
                                        </xs:element>
                                        <xs:element nillable="true" minOccurs="0" maxOccurs="1" name="Industry">
                                            <xs:simpleType>
                                                <xs:restriction base="xs:string" xmlns="">
                                                    <xs:maxLength value="4"/>
                                                </xs:restriction>
                                            </xs:simpleType>
                                        </xs:element>
                                        <xs:element nillable="true" minOccurs="0" maxOccurs="1" name="IndustryName">
                                            <xs:simpleType>
                                                <xs:restriction base="xs:string" xmlns="">
                                                    <xs:maxLength value="40"/>
                                                </xs:restriction>
                                            </xs:simpleType>
                                        </xs:element>
                                        <xs:element nillable="true" minOccurs="0" maxOccurs="1" name="CorporateAccountName">
                                            <xs:simpleType>
                                                <xs:restriction base="xs:string" xmlns="">
                                                    <xs:maxLength value="40"/>
                                                </xs:restriction>
                                            </xs:simpleType>
                                        </xs:element>
                                        <xs:element nillable="true" minOccurs="0" maxOccurs="1" name="CompanyName">
                                            <xs:simpleType>
                                                <xs:restriction base="xs:string" xmlns="">
                                                    <xs:maxLength value="40"/>
                                                </xs:restriction>
                                            </xs:simpleType>
                                        </xs:element>
                                        <xs:element nillable="true" minOccurs="0" maxOccurs="1" name="IsEndOfPurposeBlocked">
                                            <xs:simpleType>
                                                <xs:restriction base="xs:string" xmlns="">
                                                    <xs:maxLength value="1"/>
                                                </xs:restriction>
                                            </xs:simpleType>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>