Resources/schemas/Xsd/Thomson_Reuters_ONESOURCE_Tax_Provision_Integration_with_SAP_S-4HANA_Journal_Entries - Fiori2S4H_JournalEntries_V3_29Dec2021.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- Created with Liquid Technologies Online Tools 1.0 (https://www.liquid-technologies.com) -->
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="root">
    <xs:complexType>
      <xs:sequence>
        
              <xs:element maxOccurs="unbounded" name="row">
                <xs:complexType>
                  <xs:sequence>
              <xs:element name="CompanyCode" type="xs:unsignedShort" />
              <xs:element name="JournalEntryDate" type="xs:string" />
              <xs:element name="PostingDate" type="xs:string" />
              <xs:element name="TransactionCurrency" type="xs:string" />
              <xs:element name="JournalEntryType" />
              <xs:element name="Reference" type="xs:string" />
              <xs:element name="GLAccount" type="xs:unsignedInt" />
              <xs:element name="CostCenter" type="xs:string" />
              <xs:element name="ProfitCenter" />
              <xs:element name="Debit" type="xs:string" />
              <xs:element name="Credit" type="xs:unsignedShort" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            
          
      
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>