Resources/schemas/Xsd/Thomson_Reuters_ONESOURCE_Tax_Provision_Integration_with_SAP_S-4HANA_Journal_Entries - JournalEntriesData_Input.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- Created with Liquid Technologies Online Tools 1.0 (https://www.liquid-technologies.com) -->
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="root">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="root">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="JOURNALENTRYID" type="xs:unsignedShort" />
              <xs:element name="AcknowledgedBy" type="xs:string" />
              <xs:element maxOccurs="unbounded" name="selectedData">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="Type" type="xs:string" />
                    <xs:element name="children" />
                    <xs:element name="Text" type="xs:string" />
                    <xs:element name="Credits" type="xs:unsignedByte" />
                    <xs:element name="Debits" type="xs:unsignedInt" />
                    <xs:element name="ProfitCenter" type="xs:string" />
                    <xs:element name="CostCenter" type="xs:unsignedInt" />
                    <xs:element name="GLAccountCode" type="xs:unsignedInt" />
                    <xs:element name="CompanyCode" type="xs:unsignedShort" />
                    <xs:element name="JournalEntryDates" type="xs:string" />
                    <xs:element name="JournalEntryType" type="xs:string" />
                    <xs:element name="Ledger" type="xs:string" />
                    <xs:element name="PostingDate" type="xs:string" />
                    <xs:element name="Reference" type="xs:unsignedLong" />
                    <xs:element name="TransactionCurrency" type="xs:string" />
                    <xs:element name="selected" type="xs:boolean" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>