Resources/schemas/Xsd/Thomson_Reuters_ONESOURCE_Tax_Provision_Integration_with_SAP_S-4HANA_Journal_Entries - OTP_Fiori.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="root">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="row">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:short" name="CompanyCode"/>
              <xs:element type="xs:string" name="CreatedByUser"/>
              <xs:element type="xs:string" name="DocumentDate"/>
              <xs:element type="xs:string" name="PostingDate"/>
              <xs:element type="xs:int" name="Item_GLAccount"/>
              <xs:element type="xs:string" name="CostCenter"/>
              <xs:element type="xs:int" name="Item_AmountInTransactionCurrency"/>
              <xs:element type="xs:string" name="OriginalReferenceDocumentType"/>
              <xs:element type="xs:string" name="BusinessTransactionType"/>
              <xs:element type="xs:string" name="AccountingDocumentType"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>