Resources/schemas/Xsd/Thomson_Reuters_ONESOURCE_Tax_Provision_Integration_with_SAP_S-4HANA_Trial_Balance - GLAccountBulkLoad.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- Created with Liquid Technologies Online Tools 1.0 (https://www.liquid-technologies.com) -->
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Root">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" name="Element">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="ChartOfAccounts" type="xs:string" />
              <xs:element name="GLAccount" type="xs:unsignedInt" />
              <xs:element name="GLAccountName" type="xs:string" />
              <xs:element name="to_GLAccountInChartOfAccounts">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="__metadata">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="id" type="xs:string" />
                          <xs:element name="uri" type="xs:string" />
                          <xs:element name="type" type="xs:string" />
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="GLAccountGroup" type="xs:string" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>