Resources/schemas/Xsd/Thomson_Reuters_ONESOURCE_Tax_Provision_Integration_with_SAP_S-4HANA_Journal_Entries - JournalEntriesData_Updated_Input.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- Created with Liquid Technologies Online Tools 1.0 (https://www.liquid-technologies.com) -->
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="root">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="JOURNALENTRYID" type="xs:unsignedByte" />
        <xs:element name="AcknowledgedBy" type="xs:string" />
        <xs:element name="companyCode" type="xs:unsignedByte" />
        <xs:element name="journalEntryDates" type="xs:date" />
        <xs:element name="journalEntryType" type="xs:string" />
        <xs:element name="ledger" type="xs:string" />
        <xs:element name="postingDate" type="xs:date" />
        <xs:element name="reference" type="xs:unsignedLong" />
        <xs:element name="transactionCurrency" type="xs:string" />
        <xs:element name="totalDebits" type="xs:decimal" />
        <xs:element name="totalCredits" type="xs:decimal" />
        <xs:element maxOccurs="unbounded" name="selectedData">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="Type" type="xs:string" />
              <xs:element name="Text" type="xs:string" />
              <xs:element name="credits" type="xs:decimal" />
              <xs:element name="debits" type="xs:decimal" />
              <xs:element name="profitCenter" />
              <xs:element name="costCenter" />
              <xs:element name="glAccountCode" type="xs:unsignedInt" />
              <xs:element minOccurs="0" name="companycodeText" type="xs:unsignedByte" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>