Resources/schemas/Xsd/Thomson_Reuters_ONESOURCE_Tax_Provision_Integration_with_SAP_S-4HANA_Trial_Balance - GLAccountData_S4.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Root">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Element" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:short" name="CompanyCode"/>
              <xs:element type="xs:int" name="GLAccount"/>
              <xs:element type="xs:string" name="GLAccountHierarchyName"/>
              <xs:element type="xs:string" name="ChartOfAccounts"/>
              <xs:element type="xs:string" name="CostCenter"/>
              <xs:element type="xs:string" name="ProfitCenter"/>
              <xs:element type="xs:string" name="CompanyCodeCurrency"/>
              <xs:element type="xs:float" name="StartingBalanceAmtInCoCodeCrcy"/>
              <xs:element type="xs:float" name="DebitAmountInCoCodeCrcy"/>
              <xs:element type="xs:float" name="CreditAmountInCoCodeCrcy"/>
              <xs:element type="xs:float" name="EndingBalanceAmtInCoCodeCrcy"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>