Resources/schemas/Xsd/Thomson_Reuters_ONESOURCE_Tax_Provision_Integration_with_SAP_S-4HANA_Trial_Balance - JE_ReadCredFromVM.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<xsd:element name="Root">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="MapAppwithCred" minOccurs="0" maxOccurs="unbounded">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="CredAliasName" minOccurs="0" type="xsd:string" />
							<xsd:element name="URL" minOccurs="0" type="xsd:string" />
							
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
</xsd:schema>