Resources/schemas/Xsd/Workday_Integration_with_SAP_Signavio_Process_Intelligence - SignavioCandidateOutput.xsd

<?xml version="1.0" encoding="UTF-8"?><xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="qualified">
	<xs:element name="root">
		<xs:complexType>
			<xs:sequence>
				<xs:element maxOccurs="unbounded" minOccurs="1" name="Table">
					<xs:complexType>
						<xs:sequence>
							<xs:element maxOccurs="1" minOccurs="0" name="Candidate_ID" type="xs:string"/>
							<xs:element maxOccurs="1" minOccurs="0" name="Currently_Work_Here" type="xs:string"/>
							<xs:element maxOccurs="1" minOccurs="0" name="Level_Reference" type="xs:double"/>
							<xs:element maxOccurs="1" minOccurs="0" name="Source_Reference" type="xs:string"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>