Resources/schemas/Xsd/Workday_Integration_with_SAP_Signavio_Process_Intelligence - VMSource-2.xsd

<?xml version="1.0" encoding="UTF-8"?><xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="root">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="tablename" type="xs:string"/>
        <xs:element maxOccurs="unbounded" minOccurs="0" name="Value">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="SrcValue" type="xs:string"/>
              <xs:element name="TgtValue" type="xs:string"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>