Resources/schemas/Xsd/Workday_Integration_with_SAP_Signavio_Process_Intelligence - Recruiting_Get_Interviews_Response.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:nyw="urn:com.netyourwork/aod" xmlns:wd="urn:com.workday/bsvc" xmlns:wd-wsdl="urn:com.workday/bsvc/Recruiting" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="urn:com.workday/bsvc">
    <xsd:element name="Get_Interviews_Response" type="wd:Get_Interviews_ResponseType"/>
    <xsd:complexType name="Get_Interviews_ResponseType">
        <xsd:annotation>
            <xsd:documentation>Wrapper element containing Interview Response Data for requested references or criteria and for requested response group.</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element minOccurs="0" name="Request_References" type="wd:Interview_Request_ReferencesType"/>
            <xsd:element minOccurs="0" name="Request_Criteria" type="wd:Interview_Request_CriteriaType"/>
            <xsd:element minOccurs="0" name="Response_Filter" type="wd:Response_FilterType"/>
            <xsd:element minOccurs="0" name="Response_Group" type="wd:Interview_Response_GroupType"/>
            <xsd:element minOccurs="0" name="Response_Results" type="wd:Response_ResultsType"/>
            <xsd:element minOccurs="0" name="Response_Data" type="wd:Interview_Response_DataType">
                <xsd:annotation>
                    <xsd:documentation>Contains interview data.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
        <xsd:attribute ref="wd:version"/>
    </xsd:complexType>
    <xsd:complexType name="LocationObjectIDType">
        <xsd:annotation>
            <xsd:documentation>Contains a unique identifier for an instance of an object.</xsd:documentation>
        </xsd:annotation>
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute name="type" type="wd:LocationReferenceEnumeration" use="required">
                    <xsd:annotation>
                        <xsd:documentation>The unique identifier type. Each "ID" for an instance of an object contains a type and a value. A single instance of an object can have multiple "ID" but only a single "ID" per "type".</xsd:documentation>
                    </xsd:annotation>
                </xsd:attribute>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="Interview_TypeObjectType">
        <xsd:annotation wd:Is_Reference_ID="1"/>
        <xsd:sequence>
            <xsd:element maxOccurs="unbounded" minOccurs="0" name="ID" type="wd:Interview_TypeObjectIDType"/>
        </xsd:sequence>
        <xsd:attribute name="Descriptor" type="xsd:string">
            <xsd:annotation>
                <xsd:documentation>Display information used to describe an instance of an object. This 'optional' information is for outbound descriptive purposes only and is not processed on inbound Workday Web Services requests.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
    <xsd:complexType name="Interview_Request_CriteriaType">
        <xsd:annotation>
            <xsd:documentation>Criteria used to determine which interview to return.</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:choice>
                <xsd:element name="Job_Application_Reference" type="wd:Job_ApplicationObjectType">
                    <xsd:annotation>
                        <xsd:documentation>A reference to the Job Application associated to the interview.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="Candidate_Interview_Criteria_Data" type="wd:Move_Candidate_CriteriaType">
                    <xsd:annotation>
                        <xsd:documentation>A Candidate and Job Requisition reference associated with the interview.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:choice>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="Interview_DataType">
        <xsd:annotation>
            <xsd:documentation>Contains one of the following: Interview Event Reference, Job Application Reference, or the Candidate Interview Criteria Data.</xsd:documentation>
            <xsd:appinfo>
                <wd:Validation>
                    <wd:Validation_Message>The Interview Event must be In Progress to create an Interview Team.</wd:Validation_Message>
                </wd:Validation>
                <wd:Validation>
                    <wd:Validation_Message>You aren't authorized to schedule an interview for this job application because the interview event isn't awaiting your action.</wd:Validation_Message>
                </wd:Validation>
                <wd:Validation>
                    <wd:Validation_Message>You aren't authorized to schedule an interview for this candidate and job requisition because the interview event isn't awaiting your action.</wd:Validation_Message>
                </wd:Validation>
                <wd:Validation>
                    <wd:Validation_Message>You must specify the event because there is more than 1 in progress or on record.</wd:Validation_Message>
                </wd:Validation>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:choice>
                <xsd:element name="Interview_Event_Reference" type="wd:Unique_IdentifierObjectType">
                    <xsd:annotation>
                        <xsd:documentation>Reference to an interview event.</xsd:documentation>
                        <xsd:appinfo>
                            <wd:Validation>
                                <wd:Validation_Message>You cannot schedule an interview that has been saved for later or is for a reactivated job application.</wd:Validation_Message>
                            </wd:Validation>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="Job_Application_Reference" type="wd:Job_ApplicationObjectType">
                    <xsd:annotation>
                        <xsd:documentation>A reference to the Job Application associated to the interview.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="Candidate_Interview_Criteria_Data" type="wd:Move_Candidate_CriteriaType">
                    <xsd:annotation>
                        <xsd:documentation>A Candidate and Job Requisition reference associated with the interview.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:choice>
            <xsd:element maxOccurs="unbounded" minOccurs="0" name="Interview_Session_Data" type="wd:Interview_Session_DataType">
                <xsd:annotation>
                    <xsd:documentation>Contains the interviewers, duration in minutes, interview start time, interview end time, interview type, and comment data.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element maxOccurs="1" minOccurs="0" name="Overall_Comment" type="xsd:string">
                <xsd:annotation>
                    <xsd:documentation>The overall comment for the interview team.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="Timezone_Reference" type="wd:Time_ZoneObjectType">
                <xsd:annotation>
                    <xsd:documentation>Time Zone for interview schedule</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="WorkerObjectType">
        <xsd:annotation wd:Is_Reference_ID="1"/>
        <xsd:sequence>
            <xsd:element maxOccurs="unbounded" minOccurs="0" name="ID" type="wd:WorkerObjectIDType"/>
        </xsd:sequence>
        <xsd:attribute name="Descriptor" type="xsd:string">
            <xsd:annotation>
                <xsd:documentation>Display information used to describe an instance of an object. This 'optional' information is for outbound descriptive purposes only and is not processed on inbound Workday Web Services requests.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
    <xsd:complexType name="Interview_Response_GroupType">
        <xsd:annotation>
            <xsd:documentation>Element containing Interview response group options.</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="0" name="Include_Reference" type="xsd:boolean">
                <xsd:annotation>
                    <xsd:documentation>Boolean flag to include Reference in response.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="Job_Requisition_EnabledObjectType">
        <xsd:annotation wd:Is_Reference_ID="1"/>
        <xsd:sequence>
            <xsd:element maxOccurs="unbounded" minOccurs="0" name="ID" type="wd:Job_Requisition_EnabledObjectIDType"/>
        </xsd:sequence>
        <xsd:attribute name="Descriptor" type="xsd:string">
            <xsd:annotation>
                <xsd:documentation>Display information used to describe an instance of an object. This 'optional' information is for outbound descriptive purposes only and is not processed on inbound Workday Web Services requests.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
    <xsd:complexType name="Job_ApplicationObjectIDType">
        <xsd:annotation>
            <xsd:documentation>Contains a unique identifier for an instance of an object.</xsd:documentation>
        </xsd:annotation>
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute name="type" type="wd:Job_ApplicationReferenceEnumeration" use="required">
                    <xsd:annotation>
                        <xsd:documentation>The unique identifier type. Each "ID" for an instance of an object contains a type and a value. A single instance of an object can have multiple "ID" but only a single "ID" per "type".</xsd:documentation>
                    </xsd:annotation>
                </xsd:attribute>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="Job_Requisition_EnabledObjectIDType">
        <xsd:annotation>
            <xsd:documentation>Contains a unique identifier for an instance of an object.</xsd:documentation>
        </xsd:annotation>
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute name="type" type="wd:Job_Requisition_EnabledReferenceEnumeration" use="required">
                    <xsd:annotation>
                        <xsd:documentation>The unique identifier type. Each "ID" for an instance of an object contains a type and a value. A single instance of an object can have multiple "ID" but only a single "ID" per "type".</xsd:documentation>
                    </xsd:annotation>
                </xsd:attribute>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:simpleType name="QuestionnaireReferenceEnumeration">
        <xsd:restriction base="xsd:string">
            <xsd:annotation>
                <xsd:appinfo>
                    <wd:enumeration value="WID"/>
                    <wd:enumeration value="Questionnaire_ID"/>
                </xsd:appinfo>
            </xsd:annotation>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:complexType name="Response_FilterType">
        <xsd:annotation>
            <xsd:documentation>Parameters that let you filter the data returned in the response. You can filter returned data by dates and page attributes.</xsd:documentation>
            <xsd:appinfo>
                <wd:Validation>
                    <xsd:documentation>Page number cannot be zero.</xsd:documentation>
                    <wd:Validation_Message>Page Number cannot be zero.</wd:Validation_Message>
                </wd:Validation>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="0" name="As_Of_Effective_Date" type="xsd:date">
                <xsd:annotation>
                    <xsd:documentation>Indicates the date when application data, such as benefits and compensation, become effective (Also referred to as the Effective Moment). If you don't specify a date, this date defaults to today.{+4}</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element maxOccurs="1" minOccurs="0" name="As_Of_Entry_DateTime" type="xsd:dateTime">
                <xsd:annotation>
                    <xsd:documentation>The date and time the data was entered into the system. (This field is also referred to as the Entry Moment). If the date isn't specified, the default date is the current date and time.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element maxOccurs="1" minOccurs="0" name="Page">
                <xsd:annotation>
                    <xsd:documentation>The numbered page of data Workday returns in the response. The default page is the first page(Page = 1). For responses that contain more than one page of data, use this parameter to retrieve the additional pages of data. For example, set Page = 2 to retrieve the second page of data.

Note: If you set the page parameter, you must also specify the "As_Of_Entry_Date" to ensure that the result set remains the same between your requests.</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:restriction base="xsd:decimal">
                        <xsd:totalDigits value="12"/>
                        <xsd:minInclusive value="0"/>
                        <xsd:fractionDigits value="0"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element maxOccurs="1" minOccurs="0" name="Count">
                <xsd:annotation>
                    <xsd:documentation>Sets the number of objects to return within each response page. Set a value between 1 and 999. The default value is 100.</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:restriction base="xsd:decimal">
                        <xsd:totalDigits value="3"/>
                        <xsd:minInclusive value="0"/>
                        <xsd:fractionDigits value="0"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="CompetencyObjectType">
        <xsd:annotation wd:Is_Reference_ID="1"/>
        <xsd:sequence>
            <xsd:element maxOccurs="unbounded" minOccurs="0" name="ID" type="wd:CompetencyObjectIDType"/>
        </xsd:sequence>
        <xsd:attribute name="Descriptor" type="xsd:string">
            <xsd:annotation>
                <xsd:documentation>Display information used to describe an instance of an object. This 'optional' information is for outbound descriptive purposes only and is not processed on inbound Workday Web Services requests.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
    <xsd:complexType name="Interview_Response_DataType">
        <xsd:annotation>
            <xsd:documentation>Contains interview data.</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element maxOccurs="unbounded" minOccurs="0" name="Interview" type="wd:InterviewType">
                <xsd:annotation>
                    <xsd:documentation>Contains interview data.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="Unique_IdentifierObjectType">
        <xsd:annotation wd:Is_Reference_ID="1"/>
        <xsd:sequence>
            <xsd:element maxOccurs="unbounded" minOccurs="0" name="ID" type="wd:Unique_IdentifierObjectIDType"/>
        </xsd:sequence>
        <xsd:attribute name="Descriptor" type="xsd:string">
            <xsd:annotation>
                <xsd:documentation>Display information used to describe an instance of an object. This 'optional' information is for outbound descriptive purposes only and is not processed on inbound Workday Web Services requests.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
    <xsd:complexType name="WorkerObjectIDType">
        <xsd:annotation>
            <xsd:documentation>Contains a unique identifier for an instance of an object.</xsd:documentation>
        </xsd:annotation>
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute name="type" type="wd:WorkerReferenceEnumeration" use="required">
                    <xsd:annotation>
                        <xsd:documentation>The unique identifier type. Each "ID" for an instance of an object contains a type and a value. A single instance of an object can have multiple "ID" but only a single "ID" per "type".</xsd:documentation>
                    </xsd:annotation>
                </xsd:attribute>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="Unique_IdentifierObjectIDType">
        <xsd:annotation>
            <xsd:documentation>Contains a unique identifier for an instance of an object.</xsd:documentation>
        </xsd:annotation>
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute name="type" type="wd:Unique_IdentifierReferenceEnumeration" use="required">
                    <xsd:annotation>
                        <xsd:documentation>The unique identifier type. Each "ID" for an instance of an object contains a type and a value. A single instance of an object can have multiple "ID" but only a single "ID" per "type".</xsd:documentation>
                    </xsd:annotation>
                </xsd:attribute>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="CandidateObjectIDType">
        <xsd:annotation>
            <xsd:documentation>Contains a unique identifier for an instance of an object.</xsd:documentation>
        </xsd:annotation>
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute name="type" type="wd:CandidateReferenceEnumeration" use="required">
                    <xsd:annotation>
                        <xsd:documentation>The unique identifier type. Each "ID" for an instance of an object contains a type and a value. A single instance of an object can have multiple "ID" but only a single "ID" per "type".</xsd:documentation>
                    </xsd:annotation>
                </xsd:attribute>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="Time_ZoneObjectType">
        <xsd:annotation wd:Is_Reference_ID="1"/>
        <xsd:sequence>
            <xsd:element maxOccurs="unbounded" minOccurs="0" name="ID" type="wd:Time_ZoneObjectIDType"/>
        </xsd:sequence>
        <xsd:attribute name="Descriptor" type="xsd:string">
            <xsd:annotation>
                <xsd:documentation>Display information used to describe an instance of an object. This 'optional' information is for outbound descriptive purposes only and is not processed on inbound Workday Web Services requests.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
    <xsd:simpleType name="WorkerReferenceEnumeration">
        <xsd:restriction base="xsd:string">
            <xsd:annotation>
                <xsd:appinfo>
                    <wd:enumeration value="WID"/>
                    <wd:enumeration value="Contingent_Worker_ID"/>
                    <wd:enumeration value="Employee_ID"/>
                </xsd:appinfo>
            </xsd:annotation>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="Job_Requisition_EnabledReferenceEnumeration">
        <xsd:restriction base="xsd:string">
            <xsd:annotation>
                <xsd:appinfo>
                    <wd:enumeration value="WID"/>
                    <wd:enumeration value="Job_Requisition_ID"/>
                </xsd:appinfo>
            </xsd:annotation>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:complexType name="CandidateObjectType">
        <xsd:annotation wd:Is_Reference_ID="1"/>
        <xsd:sequence>
            <xsd:element maxOccurs="unbounded" minOccurs="0" name="ID" type="wd:CandidateObjectIDType"/>
        </xsd:sequence>
        <xsd:attribute name="Descriptor" type="xsd:string">
            <xsd:annotation>
                <xsd:documentation>Display information used to describe an instance of an object. This 'optional' information is for outbound descriptive purposes only and is not processed on inbound Workday Web Services requests.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
    <xsd:complexType name="Job_ApplicationObjectType">
        <xsd:annotation wd:Is_Reference_ID="1"/>
        <xsd:sequence>
            <xsd:element maxOccurs="unbounded" minOccurs="0" name="ID" type="wd:Job_ApplicationObjectIDType"/>
        </xsd:sequence>
        <xsd:attribute name="Descriptor" type="xsd:string">
            <xsd:annotation>
                <xsd:documentation>Display information used to describe an instance of an object. This 'optional' information is for outbound descriptive purposes only and is not processed on inbound Workday Web Services requests.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
    <xsd:simpleType name="Interview_TypeReferenceEnumeration">
        <xsd:restriction base="xsd:string">
            <xsd:annotation>
                <xsd:appinfo>
                    <wd:enumeration value="WID"/>
                    <wd:enumeration value="Interview_Type_ID"/>
                </xsd:appinfo>
            </xsd:annotation>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:complexType name="CompetencyObjectIDType">
        <xsd:annotation>
            <xsd:documentation>Contains a unique identifier for an instance of an object.</xsd:documentation>
        </xsd:annotation>
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute name="type" type="wd:CompetencyReferenceEnumeration" use="required">
                    <xsd:annotation>
                        <xsd:documentation>The unique identifier type. Each "ID" for an instance of an object contains a type and a value. A single instance of an object can have multiple "ID" but only a single "ID" per "type".</xsd:documentation>
                    </xsd:annotation>
                </xsd:attribute>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="QuestionnaireObjectIDType">
        <xsd:annotation>
            <xsd:documentation>Contains a unique identifier for an instance of an object.</xsd:documentation>
        </xsd:annotation>
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute name="type" type="wd:QuestionnaireReferenceEnumeration" use="required">
                    <xsd:annotation>
                        <xsd:documentation>The unique identifier type. Each "ID" for an instance of an object contains a type and a value. A single instance of an object can have multiple "ID" but only a single "ID" per "type".</xsd:documentation>
                    </xsd:annotation>
                </xsd:attribute>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:simpleType name="LocationReferenceEnumeration">
        <xsd:restriction base="xsd:string">
            <xsd:annotation>
                <xsd:appinfo>
                    <wd:enumeration value="WID"/>
                    <wd:enumeration value="Location_ID"/>
                </xsd:appinfo>
            </xsd:annotation>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:attribute name="version" type="xsd:string" wd:fixed="v34.2"/>
    <xsd:simpleType name="Time_ZoneReferenceEnumeration">
        <xsd:restriction base="xsd:string">
            <xsd:annotation>
                <xsd:appinfo>
                    <wd:enumeration value="WID"/>
                    <wd:enumeration value="Time_Zone_ID"/>
                </xsd:appinfo>
            </xsd:annotation>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="Job_ApplicationReferenceEnumeration">
        <xsd:restriction base="xsd:string">
            <xsd:annotation>
                <xsd:appinfo>
                    <wd:enumeration value="WID"/>
                    <wd:enumeration value="Job_Application_ID"/>
                </xsd:appinfo>
            </xsd:annotation>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:complexType name="Interview_Request_ReferencesType">
        <xsd:annotation>
            <xsd:documentation>Contains the interview reference.</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element maxOccurs="unbounded" name="Interview_Reference" type="wd:Unique_IdentifierObjectType">
                <xsd:annotation>
                    <xsd:documentation>Interview Request Reference.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="Interview_Session_Details_DataType">
        <xsd:annotation>
            <xsd:documentation>Contains the interviewers, duration in minutes, interview start time, interview end time, interview type, and comment data.</xsd:documentation>
            <xsd:appinfo>
                <wd:Validation>
                    <wd:Validation_Message>Enter an Interview End Time that is later than the Interview Start Time.</wd:Validation_Message>
                </wd:Validation>
                <wd:Validation>
                    <wd:Validation_Message>Enter a location that matches a location type selected in the Location Types for Interview Scheduling prompt on the Edit Tenant Setup - Recruiting task.</wd:Validation_Message>
                </wd:Validation>
                <wd:Validation>
                    <wd:Validation_Message>You can't enter a location because the Microsoft Outlook Interview Scheduling Integration check box on the Edit Tenant Setup - Recruiting task is selected.</wd:Validation_Message>
                </wd:Validation>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element maxOccurs="unbounded" name="Interviewers_Reference" type="wd:WorkerObjectType">
                <xsd:annotation>
                    <xsd:documentation>The interviewer on the interview team.</xsd:documentation>
                    <xsd:appinfo>
                        <wd:Validation>
                            <wd:Validation_Message>You have deleted interviewers that have already submitted their feedback: [Interviewers who have submitted feedback]. Add these interviewers back to the interview session: [Interviewers who were removed].</wd:Validation_Message>
                        </wd:Validation>
                    </xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
            <xsd:element maxOccurs="1" name="Interview_Start_Time" type="xsd:dateTime">
                <xsd:annotation>
                    <xsd:documentation>The start day and time of the interview.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element maxOccurs="1" name="Interview_End_Time" type="xsd:dateTime">
                <xsd:annotation>
                    <xsd:documentation>The end day and time of the interview.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element minOccurs="0" name="Interview_Location_Reference" type="wd:LocationObjectType">
                <xsd:annotation>
                    <xsd:documentation>The location of the interview session.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element minOccurs="0" name="Interview_Type_Reference" type="wd:Interview_TypeObjectType">
                <xsd:annotation>
                    <xsd:documentation>The type of interview the interview session will be.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element maxOccurs="unbounded" minOccurs="0" name="Interview_Competencies_Reference" type="wd:CompetencyObjectType">
                <xsd:annotation>
                    <xsd:documentation>The competencies an interviewer should evaluate the candidate on.</xsd:documentation>
                    <xsd:appinfo>
                        <wd:Validation>
                            <wd:Validation_Message>Feedback has already been submitted for the competencies you are removing: [removed competencies]</wd:Validation_Message>
                        </wd:Validation>
                    </xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
            <xsd:element maxOccurs="unbounded" minOccurs="0" name="Interview_Questionnaires_Reference" type="wd:QuestionnaireObjectType">
                <xsd:annotation>
                    <xsd:documentation>The questionnaires an interviewer should evaluate for an interview session.</xsd:documentation>
                    <xsd:appinfo>
                        <wd:Validation>
                            <wd:Validation_Message>Feedback has already been submitted for the questionnaires you are removing: [removed questionnaires]</wd:Validation_Message>
                        </wd:Validation>
                    </xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
            <xsd:element maxOccurs="1" minOccurs="0" name="Comment" type="xsd:string">
                <xsd:annotation>
                    <xsd:documentation>Comment for the interviewers on the interview session.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="Response_ResultsType">
        <xsd:annotation>
            <xsd:documentation>The "Response_Results" element contains summary information about the data that has been returned from your request including "Total_Results", "Total_Pages", and the current "Page" returned.</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="0" name="Total_Results">
                <xsd:annotation>
                    <xsd:documentation>The total number of results that your request returned.</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:restriction base="xsd:decimal">
                        <xsd:totalDigits value="12"/>
                        <xsd:minInclusive value="0"/>
                        <xsd:fractionDigits value="0"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element maxOccurs="1" minOccurs="0" name="Total_Pages">
                <xsd:annotation>
                    <xsd:documentation>The total number of pages requested. A page of data in a WWS has a 100 entry maximum.</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:restriction base="xsd:decimal">
                        <xsd:totalDigits value="12"/>
                        <xsd:minInclusive value="0"/>
                        <xsd:fractionDigits value="0"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element maxOccurs="1" minOccurs="0" name="Page_Results">
                <xsd:annotation>
                    <xsd:documentation>The number of results in the current page.</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:restriction base="xsd:decimal">
                        <xsd:totalDigits value="12"/>
                        <xsd:minInclusive value="0"/>
                        <xsd:fractionDigits value="0"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element maxOccurs="1" minOccurs="0" name="Page">
                <xsd:annotation>
                    <xsd:documentation>The page number of the data the WWS returned for your request.</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:restriction base="xsd:decimal">
                        <xsd:totalDigits value="12"/>
                        <xsd:minInclusive value="0"/>
                        <xsd:fractionDigits value="0"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:simpleType name="Unique_IdentifierReferenceEnumeration">
        <xsd:restriction base="xsd:string">
            <xsd:annotation>
                <xsd:appinfo>
                    <wd:enumeration value="IID"/>
                    <wd:enumeration value="WID"/>
                </xsd:appinfo>
            </xsd:annotation>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="CompetencyReferenceEnumeration">
        <xsd:restriction base="xsd:string">
            <xsd:annotation>
                <xsd:appinfo>
                    <wd:enumeration value="WID"/>
                    <wd:enumeration value="Competency_ID"/>
                </xsd:appinfo>
            </xsd:annotation>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:complexType name="QuestionnaireObjectType">
        <xsd:annotation wd:Is_Reference_ID="1"/>
        <xsd:sequence>
            <xsd:element maxOccurs="unbounded" minOccurs="0" name="ID" type="wd:QuestionnaireObjectIDType"/>
        </xsd:sequence>
        <xsd:attribute name="Descriptor" type="xsd:string">
            <xsd:annotation>
                <xsd:documentation>Display information used to describe an instance of an object. This 'optional' information is for outbound descriptive purposes only and is not processed on inbound Workday Web Services requests.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
    <xsd:simpleType name="CandidateReferenceEnumeration">
        <xsd:restriction base="xsd:string">
            <xsd:annotation>
                <xsd:appinfo>
                    <wd:enumeration value="WID"/>
                    <wd:enumeration value="Candidate_ID"/>
                </xsd:appinfo>
            </xsd:annotation>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:complexType name="Move_Candidate_CriteriaType">
        <xsd:annotation>
            <xsd:documentation>Collects the Candidate reference and Job Requisition reference</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="Candidate_Reference" type="wd:CandidateObjectType">
                <xsd:annotation>
                    <xsd:documentation>A reference to the Candidate.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="Requisition_Reference" type="wd:Job_Requisition_EnabledObjectType">
                <xsd:annotation>
                    <xsd:documentation>A reference to a Requisition</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="InterviewType">
        <xsd:annotation>
            <xsd:documentation>Contains interview data.</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element maxOccurs="unbounded" minOccurs="0" name="Interview_Data" type="wd:Interview_DataType"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="Time_ZoneObjectIDType">
        <xsd:annotation>
            <xsd:documentation>Contains a unique identifier for an instance of an object.</xsd:documentation>
        </xsd:annotation>
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute name="type" type="wd:Time_ZoneReferenceEnumeration" use="required">
                    <xsd:annotation>
                        <xsd:documentation>The unique identifier type. Each "ID" for an instance of an object contains a type and a value. A single instance of an object can have multiple "ID" but only a single "ID" per "type".</xsd:documentation>
                    </xsd:annotation>
                </xsd:attribute>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="Interview_Session_DataType">
        <xsd:annotation>
            <xsd:documentation>Contains the interview session reference and its data.</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element minOccurs="0" name="Interview_Session_Reference" type="wd:Unique_IdentifierObjectType">
                <xsd:annotation>
                    <xsd:documentation>A reference to the interview session.</xsd:documentation>
                    <xsd:appinfo>
                        <wd:Validation>
                            <wd:Validation_Message>Enter an Interview Session that belongs to this Interview Event.</wd:Validation_Message>
                        </wd:Validation>
                        <wd:Validation>
                            <wd:Validation_Message>You can't delete interview sessions with one or more interviewers who have submitted feedback.</wd:Validation_Message>
                        </wd:Validation>
                    </xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
            <xsd:element maxOccurs="unbounded" minOccurs="0" name="Interview_Session_Details_Data" type="wd:Interview_Session_Details_DataType">
                <xsd:annotation>
                    <xsd:documentation>Contains the interviewers, duration in minutes, interview start time, interview end time, interview type, and comment data.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
        <xsd:attribute name="Delete" type="xsd:boolean">
            <xsd:annotation>
                <xsd:documentation>Indicates if the interview session reference will be deleted.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
    <xsd:complexType name="LocationObjectType">
        <xsd:annotation wd:Is_Reference_ID="1"/>
        <xsd:sequence>
            <xsd:element maxOccurs="unbounded" minOccurs="0" name="ID" type="wd:LocationObjectIDType"/>
        </xsd:sequence>
        <xsd:attribute name="Descriptor" type="xsd:string">
            <xsd:annotation>
                <xsd:documentation>Display information used to describe an instance of an object. This 'optional' information is for outbound descriptive purposes only and is not processed on inbound Workday Web Services requests.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
    <xsd:complexType name="Interview_TypeObjectIDType">
        <xsd:annotation>
            <xsd:documentation>Contains a unique identifier for an instance of an object.</xsd:documentation>
        </xsd:annotation>
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute name="type" type="wd:Interview_TypeReferenceEnumeration" use="required">
                    <xsd:annotation>
                        <xsd:documentation>The unique identifier type. Each "ID" for an instance of an object contains a type and a value. A single instance of an object can have multiple "ID" but only a single "ID" per "type".</xsd:documentation>
                    </xsd:annotation>
                </xsd:attribute>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
</xsd:schema>
