Resources/schemas/Xsd/Workday_Integration_with_SAP_Signavio_Process_Intelligence - SignavioJobRequisitionOut.XSD

<?xml version="1.0" encoding="UTF-8"?><xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="qualified">
	<xs:element name="root">
		<xs:complexType>
			<xs:sequence>
				<xs:element maxOccurs="unbounded" minOccurs="1" name="Table">
					<xs:complexType>
						<xs:sequence>
							<xs:element maxOccurs="1" minOccurs="0" name="Job_Requisition_ID" type="xs:string"/>
							<xs:element maxOccurs="1" minOccurs="0" name="Job_Profile_ID" type="xs:string"/>
							<xs:element maxOccurs="1" minOccurs="0" name="Job_Posting_Title" type="xs:string"/>
							<xs:element maxOccurs="1" minOccurs="0" name="Job_Description" type="xs:string"/>
							<xs:element maxOccurs="1" minOccurs="0" name="Business_Unit_ID" type="xs:string"/>
							<xs:element maxOccurs="1" minOccurs="0" name="Custom_Organization_Reference_ID" type="xs:string"/>
							<xs:element maxOccurs="1" minOccurs="0" name="Company_Reference_ID" type="xs:string"/>
							<xs:element maxOccurs="1" minOccurs="0" name="Cost_Center_Reference_ID" type="xs:string"/>
							<xs:element maxOccurs="1" minOccurs="0" name="Region_Reference_ID" type="xs:string"/>
							<xs:element maxOccurs="1" minOccurs="0" name="Location_ID" type="xs:string"/>
							<xs:element maxOccurs="1" minOccurs="0" name="Job_Requisition_Status_ID" type="xs:string"/>
							<xs:element maxOccurs="1" minOccurs="0" name="Positions_Available" type="xs:int"/>
							<xs:element maxOccurs="1" minOccurs="0" name="Justification" type="xs:string"/>
							<xs:element maxOccurs="1" minOccurs="0" name="Position_Time_Type_ID" type="xs:string"/>
							<xs:element maxOccurs="1" minOccurs="0" name="Employee_Type_ID" type="xs:string"/>
							<xs:element maxOccurs="1" minOccurs="0" name="One_Time_Payment_Plan_ID" type="xs:boolean"/>
							<xs:element maxOccurs="1" minOccurs="0" name="Primary_Compensation_Basis" type="xs:double"/>
							<xs:element maxOccurs="1" minOccurs="0" name="Recruiting_Instruction_Reference" type="xs:string"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>

