Resources/schemas/Wsdl/B2B_Integration_Factory_-_Cloud_Integration_-_Trading_Partner_Management - mworder-1.wsdl

<?xml version="1.0"?>
<?xml-stylesheet version="1.0" type="text/xsl" href="rpc.xsl" ?>
<definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="urn:Adition_mwOrder" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" name="Adition_mwOrder" targetNamespace="urn:Adition_mwOrder">
  <types xmlns="http://schemas.xmlsoap.org/wsdl/">
    <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:Adition_mwOrder">
      <xsd:complexType name="RealTimeBiddingSettings">
        <xsd:annotation>
          <xsd:documentation xml:lang="en"><![CDATA[]]></xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
          <xsd:element name="budget" minOccurs="0" maxOccurs="1" type="xsd:int">
            <xsd:annotation>
              <xsd:documentation xml:lang="en"><![CDATA[The total order budget in euro-cents.]]></xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="dailyBudget" minOccurs="0" maxOccurs="1" type="xsd:int">
            <xsd:annotation>
              <xsd:documentation xml:lang="en"><![CDATA[The "maximum order budget per day" in euro-cents.]]></xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:complexType>
    </xsd:schema>
  </types>
  <message name="clearObjectDataRequest">
        </message>
  <message name="clearObjectDataResponse">
    <part name="clearObjectData" type="xsd:boolean">
      <documentation><![CDATA[]]></documentation>
    </part>
  </message>
  <message name="getIdRequest">
        </message>
  <message name="getIdResponse">
    <part name="getId" type="xsd:int">
      <documentation><![CDATA[]]></documentation>
    </part>
  </message>
  <message name="getNameRequest">
        </message>
  <message name="getNameResponse">
    <part name="getName" type="xsd:string">
      <documentation><![CDATA[]]></documentation>
    </part>
  </message>
  <message name="getAgencyIdRequest">
        </message>
  <message name="getAgencyIdResponse">
    <part name="getAgencyId" type="xsd:int">
      <documentation><![CDATA[]]></documentation>
    </part>
  </message>
  <message name="getClientIdRequest">
        </message>
  <message name="getClientIdResponse">
    <part name="getClientId" type="xsd:int">
      <documentation><![CDATA[]]></documentation>
    </part>
  </message>
  <message name="getCreatedateRequest">
        </message>
  <message name="getCreatedateResponse">
    <part name="getCreatedate" type="xsd:string">
      <documentation><![CDATA[]]></documentation>
    </part>
  </message>
  <message name="getNetworkIdRequest">
        </message>
  <message name="getNetworkIdResponse">
    <part name="getNetworkId" type="xsd:int">
      <documentation><![CDATA[]]></documentation>
    </part>
  </message>
  <message name="getOfferIdRequest">
        </message>
  <message name="getOfferIdResponse">
    <part name="getOfferId" type="xsd:int">
      <documentation><![CDATA[]]></documentation>
    </part>
  </message>
  <message name="getPrimaryPersonIdRequest">
        </message>
  <message name="getPrimaryPersonIdResponse">
    <part name="getPrimaryPersonId" type="xsd:int">
      <documentation><![CDATA[]]></documentation>
    </part>
  </message>
  <message name="getExternalIdRequest">
        </message>
  <message name="getExternalIdResponse">
    <part name="getExternalId" type="xsd:string">
      <documentation><![CDATA[]]></documentation>
    </part>
  </message>
  <message name="getUpdatedAtRequest">
        </message>
  <message name="getUpdatedAtResponse">
    <part name="getUpdatedAt" type="xsd:string">
      <documentation><![CDATA[]]></documentation>
    </part>
  </message>
  <message name="getCampaignsRequest">
        </message>
  <message name="getCampaignsResponse">
    <part name="getCampaigns" type="xsd:string">
      <documentation><![CDATA[]]></documentation>
    </part>
  </message>
  <message name="setNameRequest">
    <part name="name" type="xsd:string">
      <documentation><![CDATA[A name for the order. It must be between 1 and 255 chars.]]></documentation>
    </part>
  </message>
  <message name="setNameResponse">
    <part name="setName" type="xsd:boolean">
      <documentation><![CDATA[]]></documentation>
    </part>
  </message>
  <message name="setAgencyIdRequest">
    <part name="agency_id" type="xsd:int">
      <documentation><![CDATA[The ID of the agency assigned to this order]]></documentation>
    </part>
  </message>
  <message name="setAgencyIdResponse">
    <part name="setAgencyId" type="xsd:boolean">
      <documentation><![CDATA[]]></documentation>
    </part>
  </message>
  <message name="setClientIdRequest">
    <part name="client_id" type="xsd:int">
      <documentation><![CDATA[The ID of the client assigned to this order]]></documentation>
    </part>
  </message>
  <message name="setClientIdResponse">
    <part name="setClientId" type="xsd:boolean">
      <documentation><![CDATA[]]></documentation>
    </part>
  </message>
  <message name="unsetClientIdRequest">
        </message>
  <message name="unsetClientIdResponse">
    <part name="unsetClientId" type="xsd:boolean">
      <documentation><![CDATA[]]></documentation>
    </part>
  </message>
  <message name="setOfferIdRequest">
    <part name="offer_id" type="xsd:int">
      <documentation><![CDATA[]]></documentation>
    </part>
  </message>
  <message name="setOfferIdResponse">
    <part name="setOfferId" type="xsd:boolean">
      <documentation><![CDATA[]]></documentation>
    </part>
  </message>
  <message name="setExternalIdRequest">
    <part name="external_id" type="xsd:string">
      <documentation><![CDATA[]]></documentation>
    </part>
  </message>
  <message name="setExternalIdResponse">
    <part name="setExternalId" type="xsd:boolean">
      <documentation><![CDATA[]]></documentation>
    </part>
  </message>
  <message name="setUserRequest">
    <part name="user" type="xsd:int">
      <documentation><![CDATA[]]></documentation>
    </part>
  </message>
  <message name="setUserResponse">
    <part name="setUser" type="xsd:boolean">
      <documentation><![CDATA[True on success, otherwise false]]></documentation>
    </part>
  </message>
  <message name="getEditorRequest">
        </message>
  <message name="getEditorResponse">
    <part name="getEditor" type="xsd:int">
      <documentation><![CDATA[]]></documentation>
    </part>
  </message>
  <message name="setEditorRequest">
    <part name="editor" type="xsd:int">
      <documentation><![CDATA[]]></documentation>
    </part>
  </message>
  <message name="setEditorResponse">
    <part name="setEditor" type="xsd:boolean">
      <documentation><![CDATA[]]></documentation>
    </part>
  </message>
  <message name="unsetEditorRequest">
        </message>
  <message name="unsetEditorResponse">
    <part name="unsetEditor" type="xsd:boolean">
      <documentation><![CDATA[]]></documentation>
    </part>
  </message>
  <message name="addFolderRequest">
    <part name="folder" type="xsd:int">
      <documentation><![CDATA[]]></documentation>
    </part>
  </message>
  <message name="addFolderResponse">
    <part name="addFolder" type="xsd:boolean">
      <documentation><![CDATA[True if the folder was not already assigned, false otherwise]]></documentation>
    </part>
  </message>
  <message name="removeFolderRequest">
    <part name="folder" type="xsd:int">
      <documentation><![CDATA[]]></documentation>
    </part>
  </message>
  <message name="removeFolderResponse">
    <part name="removeFolder" type="xsd:boolean">
      <documentation><![CDATA[True if the folder was assigned, false otherwise]]></documentation>
    </part>
  </message>
  <message name="setRealTimeBiddingSettingsRequest">
    <part name="rtb_settings" type="tns:RealTimeBiddingSettings">
      <documentation><![CDATA[]]></documentation>
    </part>
  </message>
  <message name="setRealTimeBiddingSettingsResponse">
    <part name="setRealTimeBiddingSettings" type="xsd:boolean">
      <documentation><![CDATA[True on success, otherwise false]]></documentation>
    </part>
  </message>
  <message name="getRealTimeBiddingSettingsRequest">
        </message>
  <message name="getRealTimeBiddingSettingsResponse">
    <part name="getRealTimeBiddingSettings" type="tns:RealTimeBiddingSettings">
      <documentation><![CDATA[]]></documentation>
    </part>
  </message>
  <message name="hasRealTimeBiddingSettingsRequest">
        </message>
  <message name="hasRealTimeBiddingSettingsResponse">
    <part name="hasRealTimeBiddingSettings" type="xsd:boolean">
      <documentation><![CDATA[]]></documentation>
    </part>
  </message>
  <message name="validateRequest">
        </message>
  <message name="validateResponse">
    <part name="validate" type="xsd:string">
      <documentation><![CDATA[]]></documentation>
    </part>
  </message>
  <message name="setPreCodeRequest">
    <part name="code" type="xsd:string">
      <documentation><![CDATA[PreCode, Maximum length is: 64000 characters]]></documentation>
    </part>
  </message>
  <message name="setPreCodeResponse">
    <part name="setPreCode" type="xsd:boolean">
      <documentation><![CDATA[]]></documentation>
    </part>
  </message>
  <message name="setPostCodeRequest">
    <part name="code" type="xsd:string">
      <documentation><![CDATA[PostCode, Maximum length is: 64000 characters]]></documentation>
    </part>
  </message>
  <message name="setPostCodeResponse">
    <part name="setPostCode" type="xsd:boolean">
      <documentation><![CDATA[]]></documentation>
    </part>
  </message>
  <message name="hasPreCodeRequest">
        </message>
  <message name="hasPreCodeResponse">
    <part name="hasPreCode" type="xsd:boolean">
      <documentation><![CDATA[]]></documentation>
    </part>
  </message>
  <message name="hasPostCodeRequest">
        </message>
  <message name="hasPostCodeResponse">
    <part name="hasPostCode" type="xsd:boolean">
      <documentation><![CDATA[]]></documentation>
    </part>
  </message>
  <message name="getPreCodeRequest">
        </message>
  <message name="getPreCodeResponse">
    <part name="getPreCode" type="xsd:string">
      <documentation><![CDATA[]]></documentation>
    </part>
  </message>
  <message name="getPostCodeRequest">
        </message>
  <message name="getPostCodeResponse">
    <part name="getPostCode" type="xsd:string">
      <documentation><![CDATA[]]></documentation>
    </part>
  </message>
  <message name="removePreCodeRequest">
        </message>
  <message name="removePreCodeResponse">
    <part name="removePreCode" type="xsd:boolean">
      <documentation><![CDATA[True on success, otherwise false]]></documentation>
    </part>
  </message>
  <message name="removePostCodeRequest">
        </message>
  <message name="removePostCodeResponse">
    <part name="removePostCode" type="xsd:boolean">
      <documentation><![CDATA[True on success, otherwise false]]></documentation>
    </part>
  </message>
  <message name="loadRequest">
    <part name="identifier" type="xsd:int">
      <documentation><![CDATA[]]></documentation>
    </part>
  </message>
  <message name="loadResponse">
    <part name="load" type="xsd:boolean">
      <documentation><![CDATA[True on success, otherwise false]]></documentation>
    </part>
  </message>
  <message name="removeRequest">
        </message>
  <message name="removeResponse">
    <part name="remove" type="xsd:boolean">
      <documentation><![CDATA[]]></documentation>
    </part>
  </message>
  <message name="saveRequest">
        </message>
  <message name="saveResponse">
    <part name="save" type="xsd:boolean">
      <documentation><![CDATA[True on success, otherwise false]]></documentation>
    </part>
  </message>
  <message name="assignTaggingPeculiarityRequest">
    <part name="peculiarity" type="xsd:int">
      <documentation><![CDATA[The peculiarity]]></documentation>
    </part>
  </message>
  <message name="assignTaggingPeculiarityResponse">
    <part name="assignTaggingPeculiarity" type="xsd:boolean">
      <documentation><![CDATA[]]></documentation>
    </part>
  </message>
  <message name="unassignTaggingPeculiarityRequest">
    <part name="peculiarity" type="xsd:int">
      <documentation><![CDATA[The peculiarity]]></documentation>
    </part>
  </message>
  <message name="unassignTaggingPeculiarityResponse">
    <part name="unassignTaggingPeculiarity" type="xsd:boolean">
      <documentation><![CDATA[]]></documentation>
    </part>
  </message>
  <message name="isTaggingPecuiliarityAssignedRequest">
    <part name="peculiarity" type="xsd:int">
      <documentation><![CDATA[The peculiarity]]></documentation>
    </part>
  </message>
  <message name="isTaggingPecuiliarityAssignedResponse">
    <part name="isTaggingPecuiliarityAssigned" type="xsd:boolean">
      <documentation><![CDATA[]]></documentation>
    </part>
  </message>
  <message name="getAssignedTaggingPeculiaritiesRequest">
        </message>
  <message name="getAssignedTaggingPeculiaritiesResponse">
    <part name="getAssignedTaggingPeculiarities" type="xsd:string">
      <documentation><![CDATA[]]></documentation>
    </part>
  </message>
  <message name="getEffectiveTaggingPeculiaritiesRequest">
        </message>
  <message name="getEffectiveTaggingPeculiaritiesResponse">
    <part name="getEffectiveTaggingPeculiarities" type="xsd:string">
      <documentation><![CDATA[]]></documentation>
    </part>
  </message>
  <message name="setTaggingBlockerRequest">
        </message>
  <message name="setTaggingBlockerResponse">
    <part name="setTaggingBlocker" type="xsd:boolean">
      <documentation><![CDATA[]]></documentation>
    </part>
  </message>
  <message name="unsetTaggingBlockerRequest">
        </message>
  <message name="unsetTaggingBlockerResponse">
    <part name="unsetTaggingBlocker" type="xsd:boolean">
      <documentation><![CDATA[]]></documentation>
    </part>
  </message>
  <message name="hasTaggingBlockerRequest">
        </message>
  <message name="hasTaggingBlockerResponse">
    <part name="hasTaggingBlocker" type="xsd:boolean">
      <documentation><![CDATA[]]></documentation>
    </part>
  </message>
  <message name="editRequest">
        </message>
  <message name="editResponse">
    <part name="edit" type="xsd:boolean">
      <documentation><![CDATA[TRUE on succes, FALSE on fail]]></documentation>
    </part>
  </message>
  <message name="addRequest">
        </message>
  <message name="addResponse">
    <part name="add" type="xsd:int">
      <documentation><![CDATA[The ID of the Order (unique)]]></documentation>
    </part>
  </message>
  <message name="removeByIdRequest">
    <part name="id" type="xsd:int">
      <documentation><![CDATA[ID of object to remove.]]></documentation>
    </part>
  </message>
  <message name="removeByIdResponse">
    <part name="removeById" type="xsd:boolean">
      <documentation><![CDATA[]]></documentation>
    </part>
  </message>
  <message name="getNetworkRequest">
        </message>
  <message name="getNetworkResponse">
    <part name="getNetwork" type="xsd:int">
      <documentation><![CDATA[Network ID]]></documentation>
    </part>
  </message>
  <message name="loginSmartPhoneRequest">
    <part name="user" type="xsd:string">
      <documentation><![CDATA[Username]]></documentation>
    </part>
    <part name="pass" type="xsd:string">
      <documentation><![CDATA[Password]]></documentation>
    </part>
    <part name="network" type="xsd:int">
      <documentation><![CDATA[$network Network ID]]></documentation>
    </part>
    <part name="client" type="xsd:string">
      <documentation><![CDATA[Client token e.g. "apn" token of iPhone]]></documentation>
    </part>
  </message>
  <message name="loginSmartPhoneResponse">
    <part name="loginSmartPhone" type="xsd:boolean">
      <documentation><![CDATA[TRUE on success, FALSE on fail]]></documentation>
    </part>
  </message>
  <message name="loginRequest">
    <part name="user" type="xsd:string">
      <documentation><![CDATA[Username]]></documentation>
    </part>
    <part name="pass" type="xsd:string">
      <documentation><![CDATA[Password]]></documentation>
    </part>
    <part name="network" type="xsd:int">
      <documentation><![CDATA[$network Network ID]]></documentation>
    </part>
  </message>
  <message name="loginResponse">
    <part name="login" type="xsd:boolean">
      <documentation><![CDATA[true on success, false on fail]]></documentation>
    </part>
  </message>
  <message name="logoutRequest">
        </message>
  <message name="logoutResponse">
    <part name="logout" type="xsd:boolean">
      <documentation><![CDATA[true on success, false on fail]]></documentation>
    </part>
  </message>
  <message name="doComplexCallRequest">
    <part name="xmlstr" type="xsd:string">
      <documentation><![CDATA[XML of Complex Statements]]></documentation>
    </part>
  </message>
  <message name="doComplexCallResponse">
    <part name="doComplexCall" type="xsd:string">
      <documentation><![CDATA[The output produced by the statements]]></documentation>
    </part>
  </message>
  <message name="getTokenRequest">
        </message>
  <message name="getTokenResponse">
    <part name="getToken" type="xsd:string">
      <documentation><![CDATA[]]></documentation>
    </part>
  </message>
  <portType name="Adition_mwOrderPort">
    <operation name="clearObjectData">
      <documentation>
        <description><![CDATA[Clears the current object state.<br />
This method will unload possibly loaded objects. Unsaved changes will be lost.]]></description>
      </documentation>
      <input message="tns:clearObjectDataRequest"/>
      <output message="tns:clearObjectDataResponse"/>
    </operation>
    <operation name="getId">
      <documentation>
        <description><![CDATA[Gets the order id]]></description>
      </documentation>
      <input message="tns:getIdRequest"/>
      <output message="tns:getIdResponse"/>
    </operation>
    <operation name="getName">
      <documentation>
        <description><![CDATA[Gets the orders name]]></description>
      </documentation>
      <input message="tns:getNameRequest"/>
      <output message="tns:getNameResponse"/>
    </operation>
    <operation name="getAgencyId">
      <documentation>
        <description><![CDATA[Gets the ID of the assigned agency]]></description>
      </documentation>
      <input message="tns:getAgencyIdRequest"/>
      <output message="tns:getAgencyIdResponse"/>
    </operation>
    <operation name="getClientId">
      <documentation>
        <description><![CDATA[Gets the ID of the assigned client]]></description>
      </documentation>
      <input message="tns:getClientIdRequest"/>
      <output message="tns:getClientIdResponse"/>
    </operation>
    <operation name="getCreatedate">
      <documentation>
        <description><![CDATA[Specifies the date of creation]]></description>
      </documentation>
      <input message="tns:getCreatedateRequest"/>
      <output message="tns:getCreatedateResponse"/>
    </operation>
    <operation name="getNetworkId">
      <documentation>
        <description><![CDATA[Gets the associated network id]]></description>
      </documentation>
      <input message="tns:getNetworkIdRequest"/>
      <output message="tns:getNetworkIdResponse"/>
    </operation>
    <operation name="getOfferId">
      <documentation>
        <description><![CDATA[Gets the offer id]]></description>
      </documentation>
      <input message="tns:getOfferIdRequest"/>
      <output message="tns:getOfferIdResponse"/>
    </operation>
    <operation name="getPrimaryPersonId">
      <documentation>
        <description><![CDATA[Gets the id of the primary person]]></description>
      </documentation>
      <input message="tns:getPrimaryPersonIdRequest"/>
      <output message="tns:getPrimaryPersonIdResponse"/>
    </operation>
    <operation name="getExternalId">
      <documentation>
        <description><![CDATA[Returns the external ID.]]></description>
      </documentation>
      <input message="tns:getExternalIdRequest"/>
      <output message="tns:getExternalIdResponse"/>
    </operation>
    <operation name="getUpdatedAt">
      <documentation>
        <description><![CDATA[Specifies the date when the campaign was last modified.]]></description>
      </documentation>
      <input message="tns:getUpdatedAtRequest"/>
      <output message="tns:getUpdatedAtResponse"/>
    </operation>
    <operation name="getCampaigns">
      <documentation>
        <description><![CDATA[Gets a list of campaigns assigned to this order]]></description>
      </documentation>
      <input message="tns:getCampaignsRequest"/>
      <output message="tns:getCampaignsResponse"/>
    </operation>
    <operation name="setName">
      <documentation>
        <description><![CDATA[Sets the name of the order]]></description>
      </documentation>
      <input message="tns:setNameRequest"/>
      <output message="tns:setNameResponse"/>
    </operation>
    <operation name="setAgencyId">
      <documentation>
        <description><![CDATA[Sets the agency id for the current order]]></description>
        <examples>
          <example name="order" type="xml" location="local" href="/soa/documentation.php/examples/xml/Order"/>
          <example name="order" type="php" location="local" href="/soa/documentation.php/examples/php/Order"/>
        </examples>
      </documentation>
      <input message="tns:setAgencyIdRequest"/>
      <output message="tns:setAgencyIdResponse"/>
    </operation>
    <operation name="setClientId">
      <documentation>
        <description><![CDATA[Sets the id of the client]]></description>
      </documentation>
      <input message="tns:setClientIdRequest"/>
      <output message="tns:setClientIdResponse"/>
    </operation>
    <operation name="unsetClientId">
      <documentation>
        <description><![CDATA[Unsets the id of the client.<br />
<br />
Warning: This is only valid if the agency assigned to this order has the "client" flag.]]></description>
      </documentation>
      <input message="tns:unsetClientIdRequest"/>
      <output message="tns:unsetClientIdResponse"/>
    </operation>
    <operation name="setOfferId">
      <documentation>
        <description><![CDATA[Sets the offer id]]></description>
      </documentation>
      <input message="tns:setOfferIdRequest"/>
      <output message="tns:setOfferIdResponse"/>
    </operation>
    <operation name="setExternalId">
      <documentation>
        <description><![CDATA[Sets the external ID.<br />
<br />
The external ID can be used to set a custom identifier to the order.]]></description>
      </documentation>
      <input message="tns:setExternalIdRequest"/>
      <output message="tns:setExternalIdResponse"/>
    </operation>
    <operation name="setUser">
      <documentation>
        <description><![CDATA[Sets the user who created that campaign]]></description>
      </documentation>
      <input message="tns:setUserRequest"/>
      <output message="tns:setUserResponse"/>
    </operation>
    <operation name="getEditor">
      <documentation>
        <description><![CDATA[Gets the user who is the editor of that order]]></description>
      </documentation>
      <input message="tns:getEditorRequest"/>
      <output message="tns:getEditorResponse"/>
    </operation>
    <operation name="setEditor">
      <documentation>
        <description><![CDATA[Sets the user who is the editor of that order]]></description>
      </documentation>
      <input message="tns:setEditorRequest"/>
      <output message="tns:setEditorResponse"/>
    </operation>
    <operation name="unsetEditor">
      <documentation>
        <description><![CDATA[Unset the Order editor]]></description>
      </documentation>
      <input message="tns:unsetEditorRequest"/>
      <output message="tns:unsetEditorResponse"/>
    </operation>
    <operation name="addFolder">
      <documentation>
        <description><![CDATA[Adds the order to a folder]]></description>
      </documentation>
      <input message="tns:addFolderRequest"/>
      <output message="tns:addFolderResponse"/>
    </operation>
    <operation name="removeFolder">
      <documentation>
        <description><![CDATA[Removes the order from a folder]]></description>
      </documentation>
      <input message="tns:removeFolderRequest"/>
      <output message="tns:removeFolderResponse"/>
    </operation>
    <operation name="setRealTimeBiddingSettings">
      <documentation>
        <description><![CDATA[Sets the RealTimeBidding settings]]></description>
      </documentation>
      <input message="tns:setRealTimeBiddingSettingsRequest"/>
      <output message="tns:setRealTimeBiddingSettingsResponse"/>
    </operation>
    <operation name="getRealTimeBiddingSettings">
      <documentation>
        <description><![CDATA[Gets the RealTimeBidding settings]]></description>
      </documentation>
      <input message="tns:getRealTimeBiddingSettingsRequest"/>
      <output message="tns:getRealTimeBiddingSettingsResponse"/>
    </operation>
    <operation name="hasRealTimeBiddingSettings">
      <documentation>
        <description><![CDATA[Tells if the order has RealTimeBidding settings]]></description>
      </documentation>
      <input message="tns:hasRealTimeBiddingSettingsRequest"/>
      <output message="tns:hasRealTimeBiddingSettingsResponse"/>
    </operation>
    <operation name="validate">
      <documentation>
        <description><![CDATA[Validates the object and returns an error stack.]]></description>
      </documentation>
      <input message="tns:validateRequest"/>
      <output message="tns:validateResponse"/>
    </operation>
    <operation name="setPreCode">
      <documentation>
        <description><![CDATA[Sets the preCode for this object. Has a direct impact on the banner preCode.<br />
Please refer to our customer wiki for more information about the inheritance logic.]]></description>
      </documentation>
      <input message="tns:setPreCodeRequest"/>
      <output message="tns:setPreCodeResponse"/>
    </operation>
    <operation name="setPostCode">
      <documentation>
        <description><![CDATA[Sets the postCode for this object. Has a direct impact on the banner preCode.<br />
Please refer to our customer wiki for more information about the inheritance logic.]]></description>
      </documentation>
      <input message="tns:setPostCodeRequest"/>
      <output message="tns:setPostCodeResponse"/>
    </operation>
    <operation name="hasPreCode">
      <documentation>
        <description><![CDATA[Checks, whether preCode for this object is set or not.<br />
Please refer to our customer wiki for more information about the inheritance logic.]]></description>
      </documentation>
      <input message="tns:hasPreCodeRequest"/>
      <output message="tns:hasPreCodeResponse"/>
    </operation>
    <operation name="hasPostCode">
      <documentation>
        <description><![CDATA[Checks, whether postCode for this object is set or not.<br />
Please refer to our customer wiki for more information about the inheritance logic.]]></description>
      </documentation>
      <input message="tns:hasPostCodeRequest"/>
      <output message="tns:hasPostCodeResponse"/>
    </operation>
    <operation name="getPreCode">
      <documentation>
        <description><![CDATA[Returns the preCode for this object.<br />
Please refer to our customer wiki for more information about the inheritance logic.]]></description>
      </documentation>
      <input message="tns:getPreCodeRequest"/>
      <output message="tns:getPreCodeResponse"/>
    </operation>
    <operation name="getPostCode">
      <documentation>
        <description><![CDATA[Returns the postCode for this object.<br />
Please refer to our customer wiki for more information about the inheritance logic.]]></description>
      </documentation>
      <input message="tns:getPostCodeRequest"/>
      <output message="tns:getPostCodeResponse"/>
    </operation>
    <operation name="removePreCode">
      <documentation>
        <description><![CDATA[Removes the preCode on this object. Has a direct impact on the banner preCode.<br />
Please refer to our customer wiki for more information about the inheritance logic.]]></description>
      </documentation>
      <input message="tns:removePreCodeRequest"/>
      <output message="tns:removePreCodeResponse"/>
    </operation>
    <operation name="removePostCode">
      <documentation>
        <description><![CDATA[Removes the postCode on this object. Has a direct impact on the banner preCode.<br />
Please refer to our customer wiki for more information about the inheritance logic.]]></description>
      </documentation>
      <input message="tns:removePostCodeRequest"/>
      <output message="tns:removePostCodeResponse"/>
    </operation>
    <operation name="load">
      <documentation>
        <description><![CDATA[Load an order by its id]]></description>
      </documentation>
      <input message="tns:loadRequest"/>
      <output message="tns:loadResponse"/>
    </operation>
    <operation name="remove">
      <documentation>
        <description><![CDATA[Remove the order and all it's all subnodes]]></description>
      </documentation>
      <input message="tns:removeRequest"/>
      <output message="tns:removeResponse"/>
    </operation>
    <operation name="save">
      <documentation>
        <description><![CDATA[Saves changes made to the order]]></description>
      </documentation>
      <input message="tns:saveRequest"/>
      <output message="tns:saveResponse"/>
    </operation>
    <operation name="assignTaggingPeculiarity">
      <documentation>
        <description><![CDATA[Assign a tagging peculiarity to the order]]></description>
      </documentation>
      <input message="tns:assignTaggingPeculiarityRequest"/>
      <output message="tns:assignTaggingPeculiarityResponse"/>
    </operation>
    <operation name="unassignTaggingPeculiarity">
      <documentation>
        <description><![CDATA[Unassign a tagging peculiarity from a the order]]></description>
      </documentation>
      <input message="tns:unassignTaggingPeculiarityRequest"/>
      <output message="tns:unassignTaggingPeculiarityResponse"/>
    </operation>
    <operation name="isTaggingPecuiliarityAssigned">
      <documentation>
        <description><![CDATA[Determines whether the given tagging peculiarity is assigned to the order]]></description>
      </documentation>
      <input message="tns:isTaggingPecuiliarityAssignedRequest"/>
      <output message="tns:isTaggingPecuiliarityAssignedResponse"/>
    </operation>
    <operation name="getAssignedTaggingPeculiarities">
      <documentation>
        <description><![CDATA[Gets the assigned tagging peculiarities]]></description>
      </documentation>
      <input message="tns:getAssignedTaggingPeculiaritiesRequest"/>
      <output message="tns:getAssignedTaggingPeculiaritiesResponse"/>
    </operation>
    <operation name="getEffectiveTaggingPeculiarities">
      <documentation>
        <description><![CDATA[Gets the effective assigned tagging peculiarities (active, also inherited)]]></description>
      </documentation>
      <input message="tns:getEffectiveTaggingPeculiaritiesRequest"/>
      <output message="tns:getEffectiveTaggingPeculiaritiesResponse"/>
    </operation>
    <operation name="setTaggingBlocker">
      <documentation>
        <description><![CDATA[Sets tagging blocker on the order]]></description>
      </documentation>
      <input message="tns:setTaggingBlockerRequest"/>
      <output message="tns:setTaggingBlockerResponse"/>
    </operation>
    <operation name="unsetTaggingBlocker">
      <documentation>
        <description><![CDATA[Unset tagging blocker from the order]]></description>
      </documentation>
      <input message="tns:unsetTaggingBlockerRequest"/>
      <output message="tns:unsetTaggingBlockerResponse"/>
    </operation>
    <operation name="hasTaggingBlocker">
      <documentation>
        <description><![CDATA[Determines whether the order has a tagging blocker]]></description>
      </documentation>
      <input message="tns:hasTaggingBlockerRequest"/>
      <output message="tns:hasTaggingBlockerResponse"/>
    </operation>
    <operation name="edit">
      <documentation>
        <description><![CDATA[Saves changes made to the Order]]></description>
        <deprecated since="2011-01-01">Use @see self::save() to persist changes made to an entity</deprecated>
      </documentation>
      <input message="tns:editRequest"/>
      <output message="tns:editResponse"/>
    </operation>
    <operation name="add">
      <documentation>
        <description><![CDATA[Saves changes made to the Order]]></description>
        <deprecated since="2011-01-01">Use @see self::save() to persist a new entity</deprecated>
      </documentation>
      <input message="tns:addRequest"/>
      <output message="tns:addResponse"/>
    </operation>
    <operation name="removeById">
      <documentation>
        <description><![CDATA[Removes a OrderModel with the given id]]></description>
      </documentation>
      <input message="tns:removeByIdRequest"/>
      <output message="tns:removeByIdResponse"/>
    </operation>
    <operation name="getNetwork">
      <documentation>
        <description><![CDATA[Returns the current network id]]></description>
      </documentation>
      <input message="tns:getNetworkRequest"/>
      <output message="tns:getNetworkResponse"/>
    </operation>
    <operation name="loginSmartPhone">
      <documentation>
        <description><![CDATA[Login method]]></description>
        <deprecated since="2014-12-22">Was only useful for the mobile app, which is not supported anymore.</deprecated>
      </documentation>
      <input message="tns:loginSmartPhoneRequest"/>
      <output message="tns:loginSmartPhoneResponse"/>
    </operation>
    <operation name="login">
      <documentation>
        <description><![CDATA[Initializes a new session with given information]]></description>
      </documentation>
      <input message="tns:loginRequest"/>
      <output message="tns:loginResponse"/>
    </operation>
    <operation name="logout">
      <documentation>
        <description><![CDATA[Destroys the active session, logging out the user.]]></description>
      </documentation>
      <input message="tns:logoutRequest"/>
      <output message="tns:logoutResponse"/>
    </operation>
    <operation name="doComplexCall">
      <documentation>
        <description><![CDATA[Execute a complex call.<br />
For further information read the API-User documentation.]]></description>
      </documentation>
      <input message="tns:doComplexCallRequest"/>
      <output message="tns:doComplexCallResponse"/>
    </operation>
    <operation name="getToken">
      <documentation>
        <description><![CDATA[Gets the session token. Can be used for single-sign-on.]]></description>
      </documentation>
      <input message="tns:getTokenRequest"/>
      <output message="tns:getTokenResponse"/>
    </operation>
  </portType>
  <binding name="Adition_mwOrderBinding" type="tns:Adition_mwOrderPort">
    <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="clearObjectData">
      <soap:operation soapAction="urn:Adition_mwOrder#clearObjectData"/>
      <input>
        <soap:body use="literal" namespace="urn:Adition_mwOrder" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </input>
      <output>
        <soap:body use="literal" namespace="urn:Adition_mwOrder" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </output>
    </operation>
    <operation name="getId">
      <soap:operation soapAction="urn:Adition_mwOrder#getId"/>
      <input>
        <soap:body use="literal" namespace="urn:Adition_mwOrder" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </input>
      <output>
        <soap:body use="literal" namespace="urn:Adition_mwOrder" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </output>
    </operation>
    <operation name="getName">
      <soap:operation soapAction="urn:Adition_mwOrder#getName"/>
      <input>
        <soap:body use="literal" namespace="urn:Adition_mwOrder" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </input>
      <output>
        <soap:body use="literal" namespace="urn:Adition_mwOrder" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </output>
    </operation>
    <operation name="getAgencyId">
      <soap:operation soapAction="urn:Adition_mwOrder#getAgencyId"/>
      <input>
        <soap:body use="literal" namespace="urn:Adition_mwOrder" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </input>
      <output>
        <soap:body use="literal" namespace="urn:Adition_mwOrder" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </output>
    </operation>
    <operation name="getClientId">
      <soap:operation soapAction="urn:Adition_mwOrder#getClientId"/>
      <input>
        <soap:body use="literal" namespace="urn:Adition_mwOrder" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </input>
      <output>
        <soap:body use="literal" namespace="urn:Adition_mwOrder" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </output>
    </operation>
    <operation name="getCreatedate">
      <soap:operation soapAction="urn:Adition_mwOrder#getCreatedate"/>
      <input>
        <soap:body use="literal" namespace="urn:Adition_mwOrder" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </input>
      <output>
        <soap:body use="literal" namespace="urn:Adition_mwOrder" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </output>
    </operation>
    <operation name="getNetworkId">
      <soap:operation soapAction="urn:Adition_mwOrder#getNetworkId"/>
      <input>
        <soap:body use="literal" namespace="urn:Adition_mwOrder" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </input>
      <output>
        <soap:body use="literal" namespace="urn:Adition_mwOrder" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </output>
    </operation>
    <operation name="getOfferId">
      <soap:operation soapAction="urn:Adition_mwOrder#getOfferId"/>
      <input>
        <soap:body use="literal" namespace="urn:Adition_mwOrder" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </input>
      <output>
        <soap:body use="literal" namespace="urn:Adition_mwOrder" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </output>
    </operation>
    <operation name="getPrimaryPersonId">
      <soap:operation soapAction="urn:Adition_mwOrder#getPrimaryPersonId"/>
      <input>
        <soap:body use="literal" namespace="urn:Adition_mwOrder" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </input>
      <output>
        <soap:body use="literal" namespace="urn:Adition_mwOrder" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </output>
    </operation>
    <operation name="getExternalId">
      <soap:operation soapAction="urn:Adition_mwOrder#getExternalId"/>
      <input>
        <soap:body use="literal" namespace="urn:Adition_mwOrder" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </input>
      <output>
        <soap:body use="literal" namespace="urn:Adition_mwOrder" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </output>
    </operation>
    <operation name="getUpdatedAt">
      <soap:operation soapAction="urn:Adition_mwOrder#getUpdatedAt"/>
      <input>
        <soap:body use="literal" namespace="urn:Adition_mwOrder" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </input>
      <output>
        <soap:body use="literal" namespace="urn:Adition_mwOrder" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </output>
    </operation>
    <operation name="getCampaigns">
      <soap:operation soapAction="urn:Adition_mwOrder#getCampaigns"/>
      <input>
        <soap:body use="literal" namespace="urn:Adition_mwOrder" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </input>
      <output>
        <soap:body use="literal" namespace="urn:Adition_mwOrder" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </output>
    </operation>
    <operation name="setName">
      <soap:operation soapAction="urn:Adition_mwOrder#setName"/>
      <input>
        <soap:body use="literal" namespace="urn:Adition_mwOrder" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </input>
      <output>
        <soap:body use="literal" namespace="urn:Adition_mwOrder" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </output>
    </operation>
    <operation name="setAgencyId">
      <soap:operation soapAction="urn:Adition_mwOrder#setAgencyId"/>
      <input>
        <soap:body use="literal" namespace="urn:Adition_mwOrder" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </input>
      <output>
        <soap:body use="literal" namespace="urn:Adition_mwOrder" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </output>
    </operation>
    <operation name="setClientId">
      <soap:operation soapAction="urn:Adition_mwOrder#setClientId"/>
      <input>
        <soap:body use="literal" namespace="urn:Adition_mwOrder" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </input>
      <output>
        <soap:body use="literal" namespace="urn:Adition_mwOrder" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </output>
    </operation>
    <operation name="unsetClientId">
      <soap:operation soapAction="urn:Adition_mwOrder#unsetClientId"/>
      <input>
        <soap:body use="literal" namespace="urn:Adition_mwOrder" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </input>
      <output>
        <soap:body use="literal" namespace="urn:Adition_mwOrder" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </output>
    </operation>
    <operation name="setOfferId">
      <soap:operation soapAction="urn:Adition_mwOrder#setOfferId"/>
      <input>
        <soap:body use="literal" namespace="urn:Adition_mwOrder" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </input>
      <output>
        <soap:body use="literal" namespace="urn:Adition_mwOrder" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </output>
    </operation>
    <operation name="setExternalId">
      <soap:operation soapAction="urn:Adition_mwOrder#setExternalId"/>
      <input>
        <soap:body use="literal" namespace="urn:Adition_mwOrder" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </input>
      <output>
        <soap:body use="literal" namespace="urn:Adition_mwOrder" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </output>
    </operation>
    <operation name="setUser">
      <soap:operation soapAction="urn:Adition_mwOrder#setUser"/>
      <input>
        <soap:body use="literal" namespace="urn:Adition_mwOrder" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </input>
      <output>
        <soap:body use="literal" namespace="urn:Adition_mwOrder" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </output>
    </operation>
    <operation name="getEditor">
      <soap:operation soapAction="urn:Adition_mwOrder#getEditor"/>
      <input>
        <soap:body use="literal" namespace="urn:Adition_mwOrder" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </input>
      <output>
        <soap:body use="literal" namespace="urn:Adition_mwOrder" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </output>
    </operation>
    <operation name="setEditor">
      <soap:operation soapAction="urn:Adition_mwOrder#setEditor"/>
      <input>
        <soap:body use="literal" namespace="urn:Adition_mwOrder" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </input>
      <output>
        <soap:body use="literal" namespace="urn:Adition_mwOrder" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </output>
    </operation>
    <operation name="unsetEditor">
      <soap:operation soapAction="urn:Adition_mwOrder#unsetEditor"/>
      <input>
        <soap:body use="literal" namespace="urn:Adition_mwOrder" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </input>
      <output>
        <soap:body use="literal" namespace="urn:Adition_mwOrder" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </output>
    </operation>
    <operation name="addFolder">
      <soap:operation soapAction="urn:Adition_mwOrder#addFolder"/>
      <input>
        <soap:body use="literal" namespace="urn:Adition_mwOrder" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </input>
      <output>
        <soap:body use="literal" namespace="urn:Adition_mwOrder" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </output>
    </operation>
    <operation name="removeFolder">
      <soap:operation soapAction="urn:Adition_mwOrder#removeFolder"/>
      <input>
        <soap:body use="literal" namespace="urn:Adition_mwOrder" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </input>
      <output>
        <soap:body use="literal" namespace="urn:Adition_mwOrder" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </output>
    </operation>
    <operation name="setRealTimeBiddingSettings">
      <soap:operation soapAction="urn:Adition_mwOrder#setRealTimeBiddingSettings"/>
      <input>
        <soap:body use="literal" namespace="urn:Adition_mwOrder" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </input>
      <output>
        <soap:body use="literal" namespace="urn:Adition_mwOrder" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </output>
    </operation>
    <operation name="getRealTimeBiddingSettings">
      <soap:operation soapAction="urn:Adition_mwOrder#getRealTimeBiddingSettings"/>
      <input>
        <soap:body use="literal" namespace="urn:Adition_mwOrder" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </input>
      <output>
        <soap:body use="literal" namespace="urn:Adition_mwOrder" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </output>
    </operation>
    <operation name="hasRealTimeBiddingSettings">
      <soap:operation soapAction="urn:Adition_mwOrder#hasRealTimeBiddingSettings"/>
      <input>
        <soap:body use="literal" namespace="urn:Adition_mwOrder" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </input>
      <output>
        <soap:body use="literal" namespace="urn:Adition_mwOrder" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </output>
    </operation>
    <operation name="validate">
      <soap:operation soapAction="urn:Adition_mwOrder#validate"/>
      <input>
        <soap:body use="literal" namespace="urn:Adition_mwOrder" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </input>
      <output>
        <soap:body use="literal" namespace="urn:Adition_mwOrder" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </output>
    </operation>
    <operation name="setPreCode">
      <soap:operation soapAction="urn:Adition_mwOrder#setPreCode"/>
      <input>
        <soap:body use="literal" namespace="urn:Adition_mwOrder" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </input>
      <output>
        <soap:body use="literal" namespace="urn:Adition_mwOrder" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </output>
    </operation>
    <operation name="setPostCode">
      <soap:operation soapAction="urn:Adition_mwOrder#setPostCode"/>
      <input>
        <soap:body use="literal" namespace="urn:Adition_mwOrder" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </input>
      <output>
        <soap:body use="literal" namespace="urn:Adition_mwOrder" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </output>
    </operation>
    <operation name="hasPreCode">
      <soap:operation soapAction="urn:Adition_mwOrder#hasPreCode"/>
      <input>
        <soap:body use="literal" namespace="urn:Adition_mwOrder" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </input>
      <output>
        <soap:body use="literal" namespace="urn:Adition_mwOrder" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </output>
    </operation>
    <operation name="hasPostCode">
      <soap:operation soapAction="urn:Adition_mwOrder#hasPostCode"/>
      <input>
        <soap:body use="literal" namespace="urn:Adition_mwOrder" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </input>
      <output>
        <soap:body use="literal" namespace="urn:Adition_mwOrder" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </output>
    </operation>
    <operation name="getPreCode">
      <soap:operation soapAction="urn:Adition_mwOrder#getPreCode"/>
      <input>
        <soap:body use="literal" namespace="urn:Adition_mwOrder" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </input>
      <output>
        <soap:body use="literal" namespace="urn:Adition_mwOrder" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </output>
    </operation>
    <operation name="getPostCode">
      <soap:operation soapAction="urn:Adition_mwOrder#getPostCode"/>
      <input>
        <soap:body use="literal" namespace="urn:Adition_mwOrder" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </input>
      <output>
        <soap:body use="literal" namespace="urn:Adition_mwOrder" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </output>
    </operation>
    <operation name="removePreCode">
      <soap:operation soapAction="urn:Adition_mwOrder#removePreCode"/>
      <input>
        <soap:body use="literal" namespace="urn:Adition_mwOrder" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </input>
      <output>
        <soap:body use="literal" namespace="urn:Adition_mwOrder" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </output>
    </operation>
    <operation name="removePostCode">
      <soap:operation soapAction="urn:Adition_mwOrder#removePostCode"/>
      <input>
        <soap:body use="literal" namespace="urn:Adition_mwOrder" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </input>
      <output>
        <soap:body use="literal" namespace="urn:Adition_mwOrder" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </output>
    </operation>
    <operation name="load">
      <soap:operation soapAction="urn:Adition_mwOrder#load"/>
      <input>
        <soap:body use="literal" namespace="urn:Adition_mwOrder" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </input>
      <output>
        <soap:body use="literal" namespace="urn:Adition_mwOrder" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </output>
    </operation>
    <operation name="remove">
      <soap:operation soapAction="urn:Adition_mwOrder#remove"/>
      <input>
        <soap:body use="literal" namespace="urn:Adition_mwOrder" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </input>
      <output>
        <soap:body use="literal" namespace="urn:Adition_mwOrder" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </output>
    </operation>
    <operation name="save">
      <soap:operation soapAction="urn:Adition_mwOrder#save"/>
      <input>
        <soap:body use="literal" namespace="urn:Adition_mwOrder" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </input>
      <output>
        <soap:body use="literal" namespace="urn:Adition_mwOrder" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </output>
    </operation>
    <operation name="assignTaggingPeculiarity">
      <soap:operation soapAction="urn:Adition_mwOrder#assignTaggingPeculiarity"/>
      <input>
        <soap:body use="literal" namespace="urn:Adition_mwOrder" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </input>
      <output>
        <soap:body use="literal" namespace="urn:Adition_mwOrder" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </output>
    </operation>
    <operation name="unassignTaggingPeculiarity">
      <soap:operation soapAction="urn:Adition_mwOrder#unassignTaggingPeculiarity"/>
      <input>
        <soap:body use="literal" namespace="urn:Adition_mwOrder" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </input>
      <output>
        <soap:body use="literal" namespace="urn:Adition_mwOrder" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </output>
    </operation>
    <operation name="isTaggingPecuiliarityAssigned">
      <soap:operation soapAction="urn:Adition_mwOrder#isTaggingPecuiliarityAssigned"/>
      <input>
        <soap:body use="literal" namespace="urn:Adition_mwOrder" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </input>
      <output>
        <soap:body use="literal" namespace="urn:Adition_mwOrder" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </output>
    </operation>
    <operation name="getAssignedTaggingPeculiarities">
      <soap:operation soapAction="urn:Adition_mwOrder#getAssignedTaggingPeculiarities"/>
      <input>
        <soap:body use="literal" namespace="urn:Adition_mwOrder" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </input>
      <output>
        <soap:body use="literal" namespace="urn:Adition_mwOrder" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </output>
    </operation>
    <operation name="getEffectiveTaggingPeculiarities">
      <soap:operation soapAction="urn:Adition_mwOrder#getEffectiveTaggingPeculiarities"/>
      <input>
        <soap:body use="literal" namespace="urn:Adition_mwOrder" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </input>
      <output>
        <soap:body use="literal" namespace="urn:Adition_mwOrder" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </output>
    </operation>
    <operation name="setTaggingBlocker">
      <soap:operation soapAction="urn:Adition_mwOrder#setTaggingBlocker"/>
      <input>
        <soap:body use="literal" namespace="urn:Adition_mwOrder" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </input>
      <output>
        <soap:body use="literal" namespace="urn:Adition_mwOrder" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </output>
    </operation>
    <operation name="unsetTaggingBlocker">
      <soap:operation soapAction="urn:Adition_mwOrder#unsetTaggingBlocker"/>
      <input>
        <soap:body use="literal" namespace="urn:Adition_mwOrder" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </input>
      <output>
        <soap:body use="literal" namespace="urn:Adition_mwOrder" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </output>
    </operation>
    <operation name="hasTaggingBlocker">
      <soap:operation soapAction="urn:Adition_mwOrder#hasTaggingBlocker"/>
      <input>
        <soap:body use="literal" namespace="urn:Adition_mwOrder" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </input>
      <output>
        <soap:body use="literal" namespace="urn:Adition_mwOrder" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </output>
    </operation>
    <operation name="edit">
      <soap:operation soapAction="urn:Adition_mwOrder#edit"/>
      <input>
        <soap:body use="literal" namespace="urn:Adition_mwOrder" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </input>
      <output>
        <soap:body use="literal" namespace="urn:Adition_mwOrder" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </output>
    </operation>
    <operation name="add">
      <soap:operation soapAction="urn:Adition_mwOrder#add"/>
      <input>
        <soap:body use="literal" namespace="urn:Adition_mwOrder" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </input>
      <output>
        <soap:body use="literal" namespace="urn:Adition_mwOrder" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </output>
    </operation>
    <operation name="removeById">
      <soap:operation soapAction="urn:Adition_mwOrder#removeById"/>
      <input>
        <soap:body use="literal" namespace="urn:Adition_mwOrder" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </input>
      <output>
        <soap:body use="literal" namespace="urn:Adition_mwOrder" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </output>
    </operation>
    <operation name="getNetwork">
      <soap:operation soapAction="urn:Adition_mwOrder#getNetwork"/>
      <input>
        <soap:body use="literal" namespace="urn:Adition_mwOrder" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </input>
      <output>
        <soap:body use="literal" namespace="urn:Adition_mwOrder" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </output>
    </operation>
    <operation name="loginSmartPhone">
      <soap:operation soapAction="urn:Adition_mwOrder#loginSmartPhone"/>
      <input>
        <soap:body use="literal" namespace="urn:Adition_mwOrder" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </input>
      <output>
        <soap:body use="literal" namespace="urn:Adition_mwOrder" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </output>
    </operation>
    <operation name="login">
      <soap:operation soapAction="urn:Adition_mwOrder#login"/>
      <input>
        <soap:body use="literal" namespace="urn:Adition_mwOrder" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </input>
      <output>
        <soap:body use="literal" namespace="urn:Adition_mwOrder" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </output>
    </operation>
    <operation name="logout">
      <soap:operation soapAction="urn:Adition_mwOrder#logout"/>
      <input>
        <soap:body use="literal" namespace="urn:Adition_mwOrder" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </input>
      <output>
        <soap:body use="literal" namespace="urn:Adition_mwOrder" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </output>
    </operation>
    <operation name="doComplexCall">
      <soap:operation soapAction="urn:Adition_mwOrder#doComplexCall"/>
      <input>
        <soap:body use="literal" namespace="urn:Adition_mwOrder" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </input>
      <output>
        <soap:body use="literal" namespace="urn:Adition_mwOrder" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </output>
    </operation>
    <operation name="getToken">
      <soap:operation soapAction="urn:Adition_mwOrder#getToken"/>
      <input>
        <soap:body use="literal" namespace="urn:Adition_mwOrder" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </input>
      <output>
        <soap:body use="literal" namespace="urn:Adition_mwOrder" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </output>
    </operation>
  </binding>
  <service name="Adition_mwOrder">
    <documentation><![CDATA[An order model<br />This service is <b>stateful</b>.]]><examples><example name="order" type="xml" location="local" href="/soa/documentation.php/examples/xml/Order"/><example name="order" type="php" location="local" href="/soa/documentation.php/examples/php/Order"/><example name="tagging" type="xml" location="local" href="/soa/documentation.php/examples/xml/Taggable_example_tagging"/><example name="tagging" type="php" location="local" href="/soa/documentation.php/examples/php/Taggable_example_tagging"/></examples></documentation>
    <port name="Adition_mwOrderPort" binding="tns:Adition_mwOrderBinding">
      <soap:address location="https://soa.adition.com:443/soa/mworder.soa.php?v=4464124ea003bf80d8991f54294f5ba6"/>    </port>
  </service>
</definitions>
