Resources/schemas/Wsdl/Figaf_Process_Integration_to_Cloud_Integration_Migration - Line.wsdl

<?xml version="1.0" encoding="UTF-8"?><wsdl:definitions name="Line" targetNamespace="http://figaf.com/migration/textfile" xmlns:p1="http://figaf.com/migration/textfile" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"><wsdl:documentation/><wsdl:types><xsd:schema targetNamespace="http://figaf.com/migration/textfile" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://figaf.com/migration/textfile" xmlns:p8="http://figaf.com/multi"><xsd:import namespace="http://figaf.com/multi"/><xsd:element name="Line" type="p8:Line"/></xsd:schema><xsd:schema targetNamespace="http://figaf.com/multi" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://figaf.com/multi"><xsd:complexType name="Line"><xsd:annotation><xsd:appinfo source="http://sap.com/xi/VersionID">cb76bd2b486311e8818900000073032b</xsd:appinfo></xsd:annotation><xsd:sequence><xsd:element name="newfield" type="xsd:string" minOccurs="0"/><xsd:element name="ID" type="xsd:integer"><xsd:annotation><xsd:appinfo source="http://sap.com/xi/TextID">32ea72243e3911e6844e0a82c93b3cf3</xsd:appinfo></xsd:annotation></xsd:element><xsd:element name="ProductNo" type="xsd:string"><xsd:annotation><xsd:appinfo source="http://sap.com/xi/TextID">32ea72253e3911e6cce50a82c93b3cf3</xsd:appinfo></xsd:annotation></xsd:element><xsd:element name="Qty" type="xsd:double"><xsd:annotation><xsd:appinfo source="http://sap.com/xi/TextID">32ea72263e3911e6892a0a82c93b3cf3</xsd:appinfo></xsd:annotation></xsd:element><xsd:element name="Price" type="xsd:string" minOccurs="0"><xsd:annotation><xsd:appinfo source="http://sap.com/xi/TextID">c9592af1486311e8ce5400155d00690c</xsd:appinfo></xsd:annotation></xsd:element></xsd:sequence></xsd:complexType></xsd:schema></wsdl:types><wsdl:message name="Line"><wsdl:documentation/><wsdl:part name="Line" element="p1:Line"/></wsdl:message></wsdl:definitions>