Resources/schemas/Wsdl/Figaf_Process_Integration_to_Cloud_Integration_Migration - ORDERS.wsdl

<?xml version="1.0" encoding="UTF-8"?><wsdl:definitions name="ORDERS" targetNamespace="http:/figaf.com/FigafDualstack" xmlns:p1="http:/figaf.com/FigafDualstack" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"><wsdl:documentation/><wsdl:types><xsd:schema targetNamespace="http:/figaf.com/FigafDualstack" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http:/figaf.com/FigafDualstack"><xsd:element name="ORDERS" type="ORDERS"/><xsd:complexType name="ORDERS"><xsd:annotation><xsd:appinfo source="http://sap.com/xi/VersionID">a1d68ee632c511ea82290000063a51e6</xsd:appinfo></xsd:annotation><xsd:sequence><xsd:element name="Time" type="xsd:string"/><xsd:element name="Number" type="xsd:string"/><xsd:element name="Partner" type="xsd:string"/><xsd:element name="Lines" minOccurs="0" maxOccurs="unbounded"><xsd:complexType><xsd:sequence><xsd:element name="LineID" type="xsd:string"/><xsd:element name="Matnr" type="xsd:string"/><xsd:element name="Amunt" type="xsd:string"/><xsd:element name="Price" type="xsd:string"/></xsd:sequence></xsd:complexType></xsd:element></xsd:sequence></xsd:complexType></xsd:schema></wsdl:types><wsdl:message name="ORDERS"><wsdl:documentation/><wsdl:part name="ORDERS" element="p1:ORDERS"/></wsdl:message></wsdl:definitions>