Resources/schemas/Wsdl/Integration_Flow_Design_Guidelines_-_Enterprise_Integration_Patterns - FLIGHTBOOKING_CREATEFROMDATA-2.wsdl

<?xml version="1.0" encoding="UTF-8"?><wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" name="FLIGHTBOOKING_CREATEFROMDAT.FLIGHTBOOKING_CREATEFROMDAT01" targetNamespace="urn:sap-com:document:sap:idoc:messages">
 <wsdl:types>
  <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
   <xsd:element name="FLIGHTBOOKING_CREATEFROMDAT01">
    <xsd:complexType>
     <xsd:sequence>
      <xsd:element name="IDOC" type="FLIGHTBOOKING_CREATEFROMDAT.FLIGHTBOOKING_CREATEFROMDAT01"/>
     </xsd:sequence>
    </xsd:complexType>
   </xsd:element>
   <xsd:complexType name="FLIGHTBOOKING_CREATEFROMDAT.FLIGHTBOOKING_CREATEFROMDAT01">
    <xsd:annotation>
     <xsd:documentation>Create flight booking</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
     <xsd:element name="EDI_DC40" type="EDI_DC40.FLIGHTBOOKING_CREATEFROMDAT.FLIGHTBOOKING_CREATEFROMDAT01"/>
     <xsd:element minOccurs="0" name="E1SBO_CRE" type="FLIGHTBOOKING_CREATEFROMDAT01.E1SBO_CRE"/>
     <xsd:element maxOccurs="9999" minOccurs="0" name="E1IDOCENHANCEMENT" type="FLIGHTBOOKING_CREATEFROMDAT01.E1IDOCENHANCEMENT"/>
    </xsd:sequence>
    <xsd:attribute fixed="1" name="BEGIN" type="xsd:string" use="required"/>
   </xsd:complexType>
   <xsd:complexType name="FLIGHTBOOKING_CREATEFROMDAT01.E1IDOCENHANCEMENT">
    <xsd:annotation>
     <xsd:documentation>Segment for Dynamic Enhancement of IDoc Types</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
     <xsd:element minOccurs="0" name="IDENTIFIER">
      <xsd:annotation>
       <xsd:documentation>Data Containers for Enhancement of IDoc Types</xsd:documentation>
      </xsd:annotation>
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="30"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element minOccurs="0" name="DATA">
      <xsd:annotation>
       <xsd:documentation>Data Container for IDoc Enhancement</xsd:documentation>
      </xsd:annotation>
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="970"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
    </xsd:sequence>
    <xsd:attribute fixed="1" name="SEGMENT" type="xsd:string" use="required"/>
   </xsd:complexType>
   <xsd:complexType name="FLIGHTBOOKING_CREATEFROMDAT01.E1BPSBONEW">
    <xsd:annotation>
     <xsd:documentation>BAPI Structure for FlightBooking BO - New Booking Data</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
     <xsd:element minOccurs="0" name="AIRLINEID">
      <xsd:annotation>
       <xsd:documentation>Airline Code</xsd:documentation>
      </xsd:annotation>
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="3"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element minOccurs="0" name="CONNECTID">
      <xsd:annotation>
       <xsd:documentation>Flight Connection Number</xsd:documentation>
      </xsd:annotation>
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="4"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element minOccurs="0" name="FLIGHTDATE">
      <xsd:annotation>
       <xsd:documentation>Flight date</xsd:documentation>
      </xsd:annotation>
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="8"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element minOccurs="0" name="CUSTOMERID">
      <xsd:annotation>
       <xsd:documentation>Customer Number</xsd:documentation>
      </xsd:annotation>
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="8"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element minOccurs="0" name="CLASS">
      <xsd:annotation>
       <xsd:documentation>Flight Class</xsd:documentation>
      </xsd:annotation>
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="1"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element minOccurs="0" name="COUNTER">
      <xsd:annotation>
       <xsd:documentation>Number of sales office</xsd:documentation>
      </xsd:annotation>
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="8"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element minOccurs="0" name="AGENCYNUM">
      <xsd:annotation>
       <xsd:documentation>Travel Agency Number</xsd:documentation>
      </xsd:annotation>
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="8"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element minOccurs="0" name="PASSNAME">
      <xsd:annotation>
       <xsd:documentation>Name of the Passenger</xsd:documentation>
      </xsd:annotation>
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="25"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element minOccurs="0" name="PASSFORM">
      <xsd:annotation>
       <xsd:documentation>Form of address</xsd:documentation>
      </xsd:annotation>
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="15"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element minOccurs="0" name="PASSBIRTH">
      <xsd:annotation>
       <xsd:documentation>Date of Birth of a Passenger</xsd:documentation>
      </xsd:annotation>
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="8"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
    </xsd:sequence>
    <xsd:attribute fixed="1" name="SEGMENT" type="xsd:string" use="required"/>
   </xsd:complexType>
   <xsd:complexType name="EDI_DC40.FLIGHTBOOKING_CREATEFROMDAT.FLIGHTBOOKING_CREATEFROMDAT01">
    <xsd:sequence>
     <xsd:element fixed="EDI_DC40" name="TABNAM" type="xsd:string">
      <xsd:annotation>
       <xsd:documentation>Name of table structure</xsd:documentation>
      </xsd:annotation>
     </xsd:element>
     <xsd:element minOccurs="0" name="MANDT">
      <xsd:annotation>
       <xsd:documentation>Client</xsd:documentation>
      </xsd:annotation>
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="3"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element minOccurs="0" name="DOCNUM">
      <xsd:annotation>
       <xsd:documentation>IDoc number</xsd:documentation>
      </xsd:annotation>
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="16"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element minOccurs="0" name="DOCREL">
      <xsd:annotation>
       <xsd:documentation>SAP Release for IDoc</xsd:documentation>
      </xsd:annotation>
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="4"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element minOccurs="0" name="STATUS">
      <xsd:annotation>
       <xsd:documentation>Status of IDoc</xsd:documentation>
      </xsd:annotation>
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="2"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="DIRECT">
      <xsd:annotation>
       <xsd:documentation>Direction</xsd:documentation>
      </xsd:annotation>
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:enumeration value="1">
         <xsd:annotation>
          <xsd:documentation>Outbound</xsd:documentation>
         </xsd:annotation>
        </xsd:enumeration>
        <xsd:enumeration value="2">
         <xsd:annotation>
          <xsd:documentation>Inbound</xsd:documentation>
         </xsd:annotation>
        </xsd:enumeration>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element minOccurs="0" name="OUTMOD">
      <xsd:annotation>
       <xsd:documentation>Output mode</xsd:documentation>
      </xsd:annotation>
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="1"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element minOccurs="0" name="EXPRSS">
      <xsd:annotation>
       <xsd:documentation>Overriding in inbound processing</xsd:documentation>
      </xsd:annotation>
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="1"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element minOccurs="0" name="TEST">
      <xsd:annotation>
       <xsd:documentation>Test flag</xsd:documentation>
      </xsd:annotation>
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="1"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element fixed="FLIGHTBOOKING_CREATEFROMDAT01" name="IDOCTYP" type="xsd:string">
      <xsd:annotation>
       <xsd:documentation>Name of basic type</xsd:documentation>
      </xsd:annotation>
     </xsd:element>
     <xsd:element minOccurs="0" name="CIMTYP">
      <xsd:annotation>
       <xsd:documentation>Extension (defined by customer)</xsd:documentation>
      </xsd:annotation>
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="30"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element fixed="FLIGHTBOOKING_CREATEFROMDAT" name="MESTYP" type="xsd:string">
      <xsd:annotation>
       <xsd:documentation>Message type</xsd:documentation>
      </xsd:annotation>
     </xsd:element>
     <xsd:element minOccurs="0" name="MESCOD">
      <xsd:annotation>
       <xsd:documentation>Message code</xsd:documentation>
      </xsd:annotation>
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="3"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element minOccurs="0" name="MESFCT">
      <xsd:annotation>
       <xsd:documentation>Message function</xsd:documentation>
      </xsd:annotation>
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="3"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element minOccurs="0" name="STD">
      <xsd:annotation>
       <xsd:documentation>EDI standard, flag</xsd:documentation>
      </xsd:annotation>
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="1"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element minOccurs="0" name="STDVRS">
      <xsd:annotation>
       <xsd:documentation>EDI standard, version, and release</xsd:documentation>
      </xsd:annotation>
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="6"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element minOccurs="0" name="STDMES">
      <xsd:annotation>
       <xsd:documentation>EDI message type</xsd:documentation>
      </xsd:annotation>
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="6"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="SNDPOR">
      <xsd:annotation>
       <xsd:documentation>Sender port (SAP system, external subsystem)</xsd:documentation>
      </xsd:annotation>
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="10"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="SNDPRT">
      <xsd:annotation>
       <xsd:documentation>Partner type of sender</xsd:documentation>
      </xsd:annotation>
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="2"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element minOccurs="0" name="SNDPFC">
      <xsd:annotation>
       <xsd:documentation>Partner function of sender</xsd:documentation>
      </xsd:annotation>
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="2"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="SNDPRN">
      <xsd:annotation>
       <xsd:documentation>Partner number of sender</xsd:documentation>
      </xsd:annotation>
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="10"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element minOccurs="0" name="SNDSAD">
      <xsd:annotation>
       <xsd:documentation>Sender address (SADR)</xsd:documentation>
      </xsd:annotation>
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="21"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element minOccurs="0" name="SNDLAD">
      <xsd:annotation>
       <xsd:documentation>Logical address of sender</xsd:documentation>
      </xsd:annotation>
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="70"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="RCVPOR">
      <xsd:annotation>
       <xsd:documentation>Receiver port</xsd:documentation>
      </xsd:annotation>
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="10"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element minOccurs="0" name="RCVPRT">
      <xsd:annotation>
       <xsd:documentation>Partner type of receiver</xsd:documentation>
      </xsd:annotation>
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="2"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element minOccurs="0" name="RCVPFC">
      <xsd:annotation>
       <xsd:documentation>Partner function of receiver</xsd:documentation>
      </xsd:annotation>
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="2"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="RCVPRN">
      <xsd:annotation>
       <xsd:documentation>Partner number of receiver</xsd:documentation>
      </xsd:annotation>
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="10"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element minOccurs="0" name="RCVSAD">
      <xsd:annotation>
       <xsd:documentation>Receiver address (SADR)</xsd:documentation>
      </xsd:annotation>
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="21"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element minOccurs="0" name="RCVLAD">
      <xsd:annotation>
       <xsd:documentation>Logical address of receiver</xsd:documentation>
      </xsd:annotation>
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="70"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element minOccurs="0" name="CREDAT">
      <xsd:annotation>
       <xsd:documentation>Created on</xsd:documentation>
      </xsd:annotation>
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="8"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element minOccurs="0" name="CRETIM">
      <xsd:annotation>
       <xsd:documentation>Created at</xsd:documentation>
      </xsd:annotation>
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="6"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element minOccurs="0" name="REFINT">
      <xsd:annotation>
       <xsd:documentation>Transmission file (EDI Interchange)</xsd:documentation>
      </xsd:annotation>
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="14"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element minOccurs="0" name="REFGRP">
      <xsd:annotation>
       <xsd:documentation>Message group (EDI Message Group)</xsd:documentation>
      </xsd:annotation>
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="14"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element minOccurs="0" name="REFMES">
      <xsd:annotation>
       <xsd:documentation>Message (EDI Message)</xsd:documentation>
      </xsd:annotation>
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="14"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element minOccurs="0" name="ARCKEY">
      <xsd:annotation>
       <xsd:documentation>Key for external message archive</xsd:documentation>
      </xsd:annotation>
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="70"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element minOccurs="0" name="SERIAL">
      <xsd:annotation>
       <xsd:documentation>Serialization</xsd:documentation>
      </xsd:annotation>
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="20"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
    </xsd:sequence>
    <xsd:attribute fixed="1" name="SEGMENT" type="xsd:string" use="required"/>
   </xsd:complexType>
   <xsd:complexType name="FLIGHTBOOKING_CREATEFROMDAT01.E1SBO_CRE">
    <xsd:annotation>
     <xsd:documentation>Header Segment</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
     <xsd:element minOccurs="0" name="RESERVE_ONLY">
      <xsd:annotation>
       <xsd:documentation>Reservation flag</xsd:documentation>
      </xsd:annotation>
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="1"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element minOccurs="0" name="TEST_RUN">
      <xsd:annotation>
       <xsd:documentation>Switch to Simulation Session for Write BAPIs</xsd:documentation>
      </xsd:annotation>
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="1"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element minOccurs="0" name="E1BPSBONEW" type="FLIGHTBOOKING_CREATEFROMDAT01.E1BPSBONEW"/>
     <xsd:element maxOccurs="9999" minOccurs="0" name="E1BPPAREX" type="FLIGHTBOOKING_CREATEFROMDAT01.E1BPPAREX"/>
    </xsd:sequence>
    <xsd:attribute fixed="1" name="SEGMENT" type="xsd:string" use="required"/>
   </xsd:complexType>
   <xsd:complexType name="FLIGHTBOOKING_CREATEFROMDAT01.E1BPPAREX">
    <xsd:annotation>
     <xsd:documentation>Ref. Structure for BAPI Parameter EXTENSIONIN/EXTENSIONOUT</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
     <xsd:element minOccurs="0" name="STRUCTURE">
      <xsd:annotation>
       <xsd:documentation>Structure name of  BAPI table extension</xsd:documentation>
      </xsd:annotation>
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="30"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element minOccurs="0" name="VALUEPART1">
      <xsd:annotation>
       <xsd:documentation>Data part of BAPI extension parameter</xsd:documentation>
      </xsd:annotation>
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="240"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element minOccurs="0" name="VALUEPART2">
      <xsd:annotation>
       <xsd:documentation>Data part of BAPI extension parameter</xsd:documentation>
      </xsd:annotation>
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="240"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element minOccurs="0" name="VALUEPART3">
      <xsd:annotation>
       <xsd:documentation>Data part of BAPI extension parameter</xsd:documentation>
      </xsd:annotation>
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="240"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element minOccurs="0" name="VALUEPART4">
      <xsd:annotation>
       <xsd:documentation>Data part of BAPI extension parameter</xsd:documentation>
      </xsd:annotation>
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="240"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
    </xsd:sequence>
    <xsd:attribute fixed="1" name="SEGMENT" type="xsd:string" use="required"/>
   </xsd:complexType>
  </xsd:schema>
 </wsdl:types>
 <wsdl:message name="FLIGHTBOOKING_CREATEFROMDAT.FLIGHTBOOKING_CREATEFROMDAT01">
  <wsdl:part element="FLIGHTBOOKING_CREATEFROMDAT01" name="idoc"/>
 </wsdl:message>
 <wsdl:portType name="FLIGHTBOOKING_CREATEFROMDAT.FLIGHTBOOKING_CREATEFROMDAT01.PortType">
  <wsdl:operation name="FLIGHTBOOKING_CREATEFROMDAT.FLIGHTBOOKING_CREATEFROMDAT01">
   <wsdl:input message="FLIGHTBOOKING_CREATEFROMDAT.FLIGHTBOOKING_CREATEFROMDAT01"/>
  </wsdl:operation>
 </wsdl:portType>
</wsdl:definitions>