Resources/schemas/Wsdl/New_Zealand_Inland_Revenue_Reporting_for_Payroll - token_check-1.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.example.org/token_check/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="token_check" targetNamespace="http://www.example.org/token_check/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://www.example.org/token_check/">
      <xsd:element name="Validate">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="in" type="xsd:string" minOccurs="1" maxOccurs="1"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="ValidateResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="out" type="xsd:string" minOccurs="1" maxOccurs="1"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ValidateRequest">
    <wsdl:part element="tns:Validate" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="ValidateResponse">
    <wsdl:part element="tns:ValidateResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:portType name="token_check">
    <wsdl:operation name="Validate">
      <wsdl:input message="tns:ValidateRequest"/>
      <wsdl:output message="tns:ValidateResponse"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="token_checkSOAP" type="tns:token_check">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="Validate">
      <soap:operation soapAction="http://www.example.org/token_check/Validate"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="token_check">
    <wsdl:port binding="tns:token_checkSOAP" name="token_checkSOAP">
      <soap:address location="http://www.sap.com/nz"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
