Resources/schemas/Wsdl/Reguvis_Fachmedien_Integration_with_SAP_GTS - ZXXX_GTS_SPL_UPD_JOBS.wsdl

<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:s0="urn:sap-com:document:sap:rfc:functions" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="urn:sap-com:document:sap:rfc:functions">
	<types>
		<xsd:schema targetNamespace="urn:sap-com:document:sap:rfc:functions">
			<xsd:element name="ZXXX_GTS_SPL_UPD_JOBS">
				<xsd:complexType>
					<xsd:all>
						<xsd:element name="IV_EVENT">
							<xsd:simpleType>
								<xsd:restriction base="xsd:string">
									<xsd:maxLength value="32"/>
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:element>
						<xsd:element name="IV_LGREG">
							<xsd:simpleType>
								<xsd:restriction base="xsd:string">
									<xsd:maxLength value="5"/>
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:element>
						<xsd:element name="IV_PARAM">
							<xsd:simpleType>
								<xsd:restriction base="xsd:string">
									<xsd:maxLength value="64"/>
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:element>
					</xsd:all>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="ZXXX_GTS_SPL_UPD_JOBS.Response">
				<xsd:complexType>
					<xsd:all/>
				</xsd:complexType>
			</xsd:element>
		</xsd:schema>
	</types>
	<message name="ZXXX_GTS_SPL_UPD_JOBSInput">
		<part name="parameters" element="s0:ZXXX_GTS_SPL_UPD_JOBS"/>
	</message>
	<message name="ZXXX_GTS_SPL_UPD_JOBSOutput">
		<part name="parameters" element="s0:ZXXX_GTS_SPL_UPD_JOBS.Response"/>
	</message>
	<portType name="ZXXX_GTS_SPL_UPD_JOBSPortType">
		<operation name="ZXXX_GTS_SPL_UPD_JOBS">
			<input message="s0:ZXXX_GTS_SPL_UPD_JOBSInput"/>
			<output message="s0:ZXXX_GTS_SPL_UPD_JOBSOutput"/>
		</operation>
	</portType>
	<binding name="ZXXX_GTS_SPL_UPD_JOBSBinding" type="s0:ZXXX_GTS_SPL_UPD_JOBSPortType">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<operation name="ZXXX_GTS_SPL_UPD_JOBS">
			<soap:operation soapAction="http://www.sap.com/ZXXX_GTS_SPL_UPD_JOBS"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
	</binding>
	<service name="ZXXX_GTS_SPL_UPD_JOBSService">
		<documentation>SAP Service ZXXX_GTS_SPL_UPD_JOBS via SOAP</documentation>
		<port name="ZXXX_GTS_SPL_UPD_JOBSPortType" binding="s0:ZXXX_GTS_SPL_UPD_JOBSBinding">
			<soap:address location="https://XXX.de:44300/sap/bc/soap/rfc"/>
		</port>
	</service>
</definitions>