Resources/schemas/Wsdl/S95_Integration_with_Korber_PAS-X_Lite - IF_ERP_MaterialData.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:werumwxi="http://services.wxi.werum.com" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://services.wxi.werum.com">
  <!--
     DocName: Functional Specification Functional Specification Annex ERP Interface
    Customer: Körber Pharma Software
PAS-X-System: $System $SystemVersion
        Date: 11 May 2022
  DocVersion: V1.1
      Author: A. Lürken /G. Kettmann / F. Pingel
   Interface: IF_ERP_MaterialData
     WSDLGen: V1.1.1
-->
  <wsdl:types>
    <xsd:schema attributeFormDefault="unqualified" elementFormDefault="qualified">
      <xsd:element name="ZMES_MATMAS05" type="ZMES_MATMAS05_RootType"/>
      <xsd:complexType name="EDI_DC40_Type">
        <!--Segment EDI_DC40 ========================================-->
        <xsd:sequence>
          <xsd:element minOccurs="0" name="TABNAM">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="10"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element minOccurs="0" name="MANDT">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="3"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element minOccurs="1" name="DOCNUM">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="16"/>
                <xsd:minLength value="1"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element minOccurs="0" name="DOCREL">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="4"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element minOccurs="0" name="STATUS">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="2"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element minOccurs="1" name="DIRECT">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="1"/>
                <xsd:minLength value="1"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element minOccurs="0" name="OUTMOD">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="1"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element minOccurs="0" name="EXPRSS">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="1"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element minOccurs="0" name="TEST">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="1"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element fixed="MATMAS05" minOccurs="1" name="IDOCTYP"/>
          <xsd:element fixed="ZMES_MATMAS05" minOccurs="1" name="CIMTYP"/>
          <xsd:element fixed="MATMAS" minOccurs="1" name="MESTYP"/>
          <xsd:element minOccurs="0" name="MESCOD">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="30"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element minOccurs="0" name="MESFCT">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="3"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element minOccurs="0" name="STD">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="1"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element minOccurs="0" name="STDVRS">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="6"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element minOccurs="0" name="STDMES">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="6"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element minOccurs="1" name="SNDPOR">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="10"/>
                <xsd:minLength value="1"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element fixed="LS" minOccurs="1" name="SNDPRT"/>
          <xsd:element minOccurs="0" name="SNDPFC">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="2"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element minOccurs="1" name="SNDPRN">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="10"/>
                <xsd:minLength value="1"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element minOccurs="0" name="SNDSAD">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="21"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element minOccurs="0" name="SNDLAD">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="70"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element minOccurs="0" name="RCVPOR">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="10"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element fixed="LS" minOccurs="1" name="RCVPRT"/>
          <xsd:element minOccurs="0" name="RCVPFC">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="2"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element minOccurs="1" name="RCVPRN">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="10"/>
                <xsd:minLength value="1"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element minOccurs="0" name="RCVSAD">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="21"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element minOccurs="0" name="RCVLAD">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="70"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element minOccurs="0" name="CREDAT">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:pattern value="[012][09][0-9][0-9][01][0-9][0-3][0-9]"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element minOccurs="0" name="CRETIM">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:pattern value="[0-2][0-9][0-5][0-9][0-5][0-9]"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element minOccurs="0" name="REFINT">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="14"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element minOccurs="0" name="REFGRP">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="14"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element minOccurs="0" name="REFMES">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="14"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element minOccurs="0" name="ARCKEY">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="70"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element minOccurs="1" name="SERIAL">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="20"/>
                <xsd:minLength value="1"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
        </xsd:sequence>
        <xsd:attribute fixed="1" name="SEGMENT" type="xsd:string"/>
      </xsd:complexType>
      <xsd:complexType name="ZMES_AUSP_MES_Type">
        <!--Segment ZMES_AUSP_MES ========================================-->
        <xsd:sequence>
          <xsd:element minOccurs="1" name="ATNAM">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="30"/>
                <xsd:minLength value="1"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element minOccurs="1" name="ATWRT">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="30"/>
                <xsd:minLength value="1"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
        </xsd:sequence>
        <xsd:attribute fixed="1" name="SEGMENT" type="xsd:string"/>
      </xsd:complexType>
      <xsd:complexType name="E1MARMM_Type">
        <!--Segment E1MARMM ========================================-->
        <xsd:sequence>
          <xsd:element minOccurs="1" name="MEINH">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="3"/>
                <xsd:minLength value="1"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element minOccurs="1" name="UMREZ">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:pattern value="[ 0-9]{1,5}"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element minOccurs="1" name="UMREN">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:pattern value="[ 0-9]{1,5}"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
        </xsd:sequence>
        <xsd:attribute fixed="1" name="SEGMENT" type="xsd:string"/>
      </xsd:complexType>
      <xsd:complexType name="E1MARCM_Type">
        <!--Segment E1MARCM ========================================-->
        <xsd:sequence>
          <xsd:element minOccurs="1" name="WERKS">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="4"/>
                <xsd:minLength value="1"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element minOccurs="0" name="LVORM">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:pattern value="[ X]"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element minOccurs="1" name="INSMK">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:pattern value="[ X]"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element minOccurs="1" name="XCHPF">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:pattern value="[ X]"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
        </xsd:sequence>
        <xsd:attribute fixed="1" name="SEGMENT" type="xsd:string"/>
      </xsd:complexType>
      <xsd:complexType name="E1MAKTM_Type">
        <!--Segment E1MAKTM ========================================-->
        <xsd:sequence>
          <xsd:element minOccurs="1" name="MAKTX">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="40"/>
                <xsd:minLength value="1"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
        </xsd:sequence>
        <xsd:attribute fixed="1" name="SEGMENT" type="xsd:string"/>
      </xsd:complexType>
      <xsd:complexType name="E1MARAM_Type">
        <!--Segment E1MARAM ========================================-->
        <xsd:sequence>
          <xsd:element minOccurs="1" name="MATNR">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="18"/>
                <xsd:minLength value="1"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element minOccurs="0" name="MTART">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="4"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element minOccurs="1" name="MEINS">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="3"/>
                <xsd:minLength value="1"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element minOccurs="0" name="TEMPB">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="2"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element minOccurs="0" name="EAN11">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="18"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element minOccurs="0" name="MHDHB">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:pattern value="[ 0-9]{1,6}"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element minOccurs="0" name="IPRKZ">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="1"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element maxOccurs="1" minOccurs="1" name="E1MAKTM" type="E1MAKTM_Type"/>
          <xsd:element maxOccurs="1" minOccurs="1" name="E1MARCM" type="E1MARCM_Type"/>
          <xsd:element maxOccurs="999" minOccurs="0" name="E1MARMM" type="E1MARMM_Type"/>
          <xsd:element maxOccurs="999" minOccurs="0" name="ZMES_AUSP_MES" type="ZMES_AUSP_MES_Type"/>
        </xsd:sequence>
        <xsd:attribute fixed="1" name="SEGMENT" type="xsd:string"/>
      </xsd:complexType>
      <xsd:complexType name="IDOC_Type">
        <xsd:sequence>
          <xsd:element maxOccurs="1" minOccurs="1" name="EDI_DC40" type="EDI_DC40_Type"/>
          <xsd:element maxOccurs="1" minOccurs="1" name="E1MARAM" type="E1MARAM_Type"/>
        </xsd:sequence>
        <xsd:attribute fixed="1" name="BEGIN" type="xsd:string"/>
      </xsd:complexType>
      <xsd:complexType name="ZMES_MATMAS05_RootType">
        <xsd:sequence>
          <xsd:element name="IDOC" type="IDOC_Type"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="WXIServiceResponse">
        <xsd:complexType/>
      </xsd:element>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IF_ERP_MaterialData_Request">
    <!--Message IF_ERP_MaterialData_Request ========================================-->
    <wsdl:part element="ZMES_MATMAS05" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="IF_ERP_MaterialData_Response">
    <!--Message IF_ERP_MaterialData_Response ========================================-->
    <wsdl:part element="WXIServiceResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:portType name="IF_ERP_MaterialData_PortType">
    <!--Port type  ========================================-->
    <wsdl:operation name="operation_IF_ERP_MaterialData">
      <wsdl:input message="werumwxi:IF_ERP_MaterialData_Request" name="IF_ERP_MaterialData_Request"/>
      <wsdl:output message="werumwxi:IF_ERP_MaterialData_Response" name="IF_ERP_MaterialData_Response"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="IF_ERP_MaterialData_Binding" type="werumwxi:IF_ERP_MaterialData_PortType">
    <!--Binding  ========================================-->
    <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="operation_IF_ERP_MaterialData">
      <wsdlsoap:operation soapAction=""/>
      <wsdl:input name="IF_ERP_MaterialData_Request">
        <wsdlsoap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="IF_ERP_MaterialData_Response">
        <wsdlsoap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="IF_ERP_MaterialData_Service">
    <!--Service  ========================================-->
    <wsdl:port binding="werumwxi:IF_ERP_MaterialData_Binding" name="IF_ERP_MaterialData_Port">
      <wsdlsoap:address location="http://localhost:9001/wei/sendmessage"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
