Resources/schemas/Wsdl/SAP_Cloud_for_Customer_Integration_with_SAP_ERP - Service-4.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions targetNamespace="urn:sap-com:document:sap:idoc:soap:messages" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsoap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="urn:sap-com:document:sap:idoc:soap:messages">
 <wsdl:documentation>
  <sidl:sidl xmlns:sidl="http://www.sap.com/2007/03/sidl">
   <!--This WSDL is intended for use cases related to the OSS notes 1510812 and 1613719 only-->
  </sidl:sidl>
 </wsdl:documentation>
 <wsdl:types>
  <xsd:schema elementFormDefault="qualified" targetNamespace="urn:sap-com:document:sap:idoc:soap:messages">
   <xsd:complexType name="E1BPADSSF2.003">
    <xsd:sequence>
     <xsd:element name="SSFIDPART7" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="250"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="SSFIDPART8" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="250"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="SSFIDPART9" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="48"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="ERRORFLAG" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="1"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="FLG_NOUSE" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="1"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="VALID_FROM" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="14"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="VALID_TO" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="14"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
    </xsd:sequence>
    <xsd:attribute name="SEGMENT" type="xsd:string" fixed="1" use="required"/>
   </xsd:complexType>
   <xsd:complexType name="E1BPADURI2.003">
    <xsd:sequence>
     <xsd:element name="URI_PART8" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="250"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="URI_PART9" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="48"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="ERRORFLAG" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="1"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="FLG_NOUSE" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="1"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="VALID_FROM" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="14"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="VALID_TO" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="14"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
    </xsd:sequence>
    <xsd:attribute name="SEGMENT" type="xsd:string" fixed="1" use="required"/>
   </xsd:complexType>
   <xsd:complexType name="E1BPADSSF1.000">
    <xsd:sequence>
     <xsd:element name="SSFIDPART3" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="250"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="SSFIDPART4" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="250"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="SSFIDPART5" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="250"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="SSFIDPART6" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="250"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="E1BPADSSF2" type="tns:E1BPADSSF2.003" minOccurs="0"/>
    </xsd:sequence>
    <xsd:attribute name="SEGMENT" type="xsd:string" fixed="1" use="required"/>
   </xsd:complexType>
   <xsd:complexType name="E1BPADURI1.000">
    <xsd:sequence>
     <xsd:element name="URI_PART4" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="250"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="URI_PART5" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="250"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="URI_PART6" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="250"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="URI_PART7" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="250"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="E1BPADURI2" type="tns:E1BPADURI2.003" minOccurs="0"/>
    </xsd:sequence>
    <xsd:attribute name="SEGMENT" type="xsd:string" fixed="1" use="required"/>
   </xsd:complexType>
   <xsd:complexType name="E1BPAD3VL.000">
    <xsd:sequence>
     <xsd:element name="ADDR_VERS" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="1"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="FROM_DATE" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="8"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="TO_DATE" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="8"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="TITLE_P" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="4"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="FIRSTNAME" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="40"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="LASTNAME" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="40"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="BIRTH_NAME" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="40"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="MIDDLENAME" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="40"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="SECONDNAME" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="40"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="FULLNAME" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="80"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="FULLNAME_X" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="1"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="TITLE_ACA1" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="4"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="TITLE_ACA2" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="4"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="PREFIX1" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="4"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="PREFIX2" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="4"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="TITLE_SPPL" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="4"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="NICKNAME" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="40"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="INITIALS" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="10"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="NAMEFORMAT" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="2"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="NAMCOUNTRY" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="3"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="NAMCTRYISO" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="2"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="PROFESSION" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="40"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="SEX" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="1"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="LANGU_P" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="1"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="LANGUP_ISO" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="2"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="SORT1_P" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="20"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="SORT2_P" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="20"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="LANGU_CR_P" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="1"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="LANGUCPISO" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="2"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="DEPARTMENT" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="40"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="FUNCTION" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="40"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="BUILDING_P" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="10"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="FLOOR_P" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="10"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="ROOM_NO_P" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="10"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="INITS_SIG" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="10"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="INHOUSE_ML" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="10"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="COMM_TYPE" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="3"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="PERS_GROUP" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="4"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
    </xsd:sequence>
    <xsd:attribute name="SEGMENT" type="xsd:string" fixed="1" use="required"/>
   </xsd:complexType>
   <xsd:complexType name="E1BPADTEL.004">
    <xsd:sequence>
     <xsd:element name="COUNTRY" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="3"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="COUNTRYISO" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="2"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="STD_NO" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="1"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="TELEPHONE" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="30"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="EXTENSION" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="10"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="TEL_NO" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="30"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="CALLER_NO" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="30"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="STD_RECIP" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="1"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="R_3_USER" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="1"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="HOME_FLAG" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="1"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="CONSNUMBER" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="3"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="ERRORFLAG" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="1"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="FLG_NOUSE" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="1"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="VALID_FROM" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="14"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="VALID_TO" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="14"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
    </xsd:sequence>
    <xsd:attribute name="SEGMENT" type="xsd:string" fixed="1" use="required"/>
   </xsd:complexType>
   <xsd:complexType name="E1BPADFAX.004">
    <xsd:sequence>
     <xsd:element name="COUNTRY" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="3"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="COUNTRYISO" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="2"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="STD_NO" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="1"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="FAX" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="30"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="EXTENSION" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="10"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="FAX_NO" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="30"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="SENDER_NO" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="30"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="FAX_GROUP" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="1"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="STD_RECIP" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="1"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="R_3_USER" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="1"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="HOME_FLAG" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="1"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="CONSNUMBER" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="3"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="ERRORFLAG" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="1"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="FLG_NOUSE" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="1"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="VALID_FROM" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="14"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="VALID_TO" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="14"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
    </xsd:sequence>
    <xsd:attribute name="SEGMENT" type="xsd:string" fixed="1" use="required"/>
   </xsd:complexType>
   <xsd:complexType name="E1BPADTTX.004">
    <xsd:sequence>
     <xsd:element name="COUNTRY" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="3"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="COUNTRYISO" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="2"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="STD_NO" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="1"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="TELETEX" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="30"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="STD_RECIP" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="1"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="R_3_USER" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="1"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="HOME_FLAG" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="1"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="CONSNUMBER" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="3"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="ERRORFLAG" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="1"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="FLG_NOUSE" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="1"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="VALID_FROM" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="14"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="VALID_TO" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="14"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
    </xsd:sequence>
    <xsd:attribute name="SEGMENT" type="xsd:string" fixed="1" use="required"/>
   </xsd:complexType>
   <xsd:complexType name="E1BPADTLX.004">
    <xsd:sequence>
     <xsd:element name="COUNTRY" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="3"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="COUNTRYISO" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="2"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="STD_NO" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="1"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="TELEX_NO" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="30"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="STD_RECIP" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="1"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="R_3_USER" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="1"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="HOME_FLAG" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="1"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="CONSNUMBER" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="3"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="ERRORFLAG" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="1"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="FLG_NOUSE" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="1"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="VALID_FROM" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="14"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="VALID_TO" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="14"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
    </xsd:sequence>
    <xsd:attribute name="SEGMENT" type="xsd:string" fixed="1" use="required"/>
   </xsd:complexType>
   <xsd:complexType name="E1BPADSMTP.004">
    <xsd:sequence>
     <xsd:element name="STD_NO" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="1"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="E_MAIL" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="241"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="EMAIL_SRCH" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="20"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="STD_RECIP" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="1"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="R_3_USER" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="1"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="ENCODE" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="1"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="TNEF" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="1"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="HOME_FLAG" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="1"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="CONSNUMBER" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="3"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="ERRORFLAG" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="1"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="FLG_NOUSE" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="1"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="VALID_FROM" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="14"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="VALID_TO" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="14"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
    </xsd:sequence>
    <xsd:attribute name="SEGMENT" type="xsd:string" fixed="1" use="required"/>
   </xsd:complexType>
   <xsd:complexType name="E1BPADRML.004">
    <xsd:sequence>
     <xsd:element name="STD_NO" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="1"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="SYMB_DEST" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="10"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="REC_TYPE" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="1"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="R_MAIL_CLT" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="3"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="R_MAIL" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="12"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="STD_RECIP" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="1"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="R_3_USER" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="1"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="HOME_FLAG" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="1"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="CONSNUMBER" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="3"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="ERRORFLAG" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="1"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="FLG_NOUSE" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="1"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="VALID_FROM" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="14"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="VALID_TO" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="14"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
    </xsd:sequence>
    <xsd:attribute name="SEGMENT" type="xsd:string" fixed="1" use="required"/>
   </xsd:complexType>
   <xsd:complexType name="E1BPADX400.004">
    <xsd:sequence>
     <xsd:element name="STD_NO" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="1"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="COUNTRY" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="3"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="COUNTRYISO" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="2"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="ADM_DOM" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="16"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="PRIV_DOM" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="16"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="ORGANIZATN" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="64"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="ORG_UNIT_1" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="32"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="ORG_UNIT_2" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="32"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="ORG_UNIT_3" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="32"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="ORG_UNIT_4" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="32"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="LASTNAME" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="40"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="FIRSTNAME" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="16"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="INITIALS" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="5"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="GENERATION" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="3"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="X_121_ADDR" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="15"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="TERM_ID" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="24"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="TERM_TYPE" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="1"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="UANID" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="32"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="DDA_TYPE1" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="8"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="DDA_VALUE1" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="128"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="DDA_TYPE2" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="8"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="DDA_VALUE2" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="128"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="DDA_TYPE3" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="8"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="DDA_VALUE3" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="128"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="DDA_TYPE4" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="8"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="DDA_VALUE4" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="128"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="STD_RECIP" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="1"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="R_3_USER" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="1"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="TXT_ENCODE" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="1"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="TNEF" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="1"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="HOME_FLAG" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="1"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="CONSNUMBER" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="3"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="ERRORFLAG" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="1"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="FLG_NOUSE" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="1"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="VALID_FROM" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="14"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="VALID_TO" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="14"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
    </xsd:sequence>
    <xsd:attribute name="SEGMENT" type="xsd:string" fixed="1" use="required"/>
   </xsd:complexType>
   <xsd:complexType name="E1BPADRFC.004">
    <xsd:sequence>
     <xsd:element name="STD_NO" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="1"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="LOG_DEST" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="32"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="STD_RECIP" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="1"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="R_3_USER" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="1"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="HOME_FLAG" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="1"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="CONSNUMBER" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="3"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="ERRORFLAG" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="1"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="FLG_NOUSE" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="1"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="VALID_FROM" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="14"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="VALID_TO" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="14"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
    </xsd:sequence>
    <xsd:attribute name="SEGMENT" type="xsd:string" fixed="1" use="required"/>
   </xsd:complexType>
   <xsd:complexType name="E1BPADPRT.004">
    <xsd:sequence>
     <xsd:element name="STD_NO" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="1"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="PRINT_DEST" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="4"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="STD_RECIP" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="1"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="HOME_FLAG" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="1"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="CONSNUMBER" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="3"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="ERRORFLAG" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="1"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="FLG_NOUSE" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="1"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="VALID_FROM" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="14"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="VALID_TO" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="14"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
    </xsd:sequence>
    <xsd:attribute name="SEGMENT" type="xsd:string" fixed="1" use="required"/>
   </xsd:complexType>
   <xsd:complexType name="E1BPADSSF.001">
    <xsd:sequence>
     <xsd:element name="STD_NO" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="1"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="DUMMY" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="1"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="STD_RECIP" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="1"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="HOME_FLAG" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="1"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="CONSNUMBER" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="3"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="RFCDEST" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="32"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="SSFIDSHORT" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="132"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="SSF_NS" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="10"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="SSF_PROF" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="132"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="SSFIDPART1" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="250"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="SSFIDPART2" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="250"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="E1BPADSSF1" type="tns:E1BPADSSF1.000" minOccurs="0"/>
    </xsd:sequence>
    <xsd:attribute name="SEGMENT" type="xsd:string" fixed="1" use="required"/>
   </xsd:complexType>
   <xsd:complexType name="E1BPADURI.001">
    <xsd:sequence>
     <xsd:element name="STD_NO" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="1"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="URI_TYPE" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="3"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="URI" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="132"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="STD_RECIP" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="1"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="HOME_FLAG" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="1"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="CONSNUMBER" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="3"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="URI_PART1" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="250"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="URI_PART2" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="250"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="URI_PART3" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="250"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="E1BPADURI1" type="tns:E1BPADURI1.000" minOccurs="0"/>
    </xsd:sequence>
    <xsd:attribute name="SEGMENT" type="xsd:string" fixed="1" use="required"/>
   </xsd:complexType>
   <xsd:complexType name="E1BPADPAG.004">
    <xsd:sequence>
     <xsd:element name="COUNTRY" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="3"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="COUNTRYISO" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="2"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="STD_NO" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="1"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="PAGER_TYPE" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="4"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="PAGER" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="30"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="PAGER_NO" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="30"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="CALLER_NO" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="30"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="STD_RECIP" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="1"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="R_3_USER" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="1"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="HOME_FLAG" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="1"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="CONSNUMBER" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="3"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="ERRORFLAG" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="1"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="FLG_NOUSE" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="1"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="VALID_FROM" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="14"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="VALID_TO" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="14"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
    </xsd:sequence>
    <xsd:attribute name="SEGMENT" type="xsd:string" fixed="1" use="required"/>
   </xsd:complexType>
   <xsd:complexType name="E1BPCOMREM.002">
    <xsd:sequence>
     <xsd:element name="COMM_TYPE" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="3"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="LANGU" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="1"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="LANGU_ISO" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="2"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="COMM_NOTES" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="50"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="CONSNUMBER" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="3"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="ERRORFLAG" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="1"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
    </xsd:sequence>
    <xsd:attribute name="SEGMENT" type="xsd:string" fixed="1" use="required"/>
   </xsd:complexType>
   <xsd:complexType name="E1BPADUSE.001">
    <xsd:sequence>
     <xsd:element name="COMM_TYPE" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="3"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="CONSNUMBER" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="3"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="COMM_USAGE" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="10"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="VALID_TO" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="14"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="VALID_FROM" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="14"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="DEF_USAGE" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="1"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="ERRORFLAG" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="1"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
    </xsd:sequence>
    <xsd:attribute name="SEGMENT" type="xsd:string" fixed="1" use="required"/>
   </xsd:complexType>
   <xsd:complexType name="E1ADR3MAS.001">
    <xsd:sequence>
     <xsd:element name="OBJ_TYPE_P" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="10"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="OBJ_ID_P" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="70"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="OBJ_TYPE_C" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="10"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="OBJ_ID_C" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="70"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="OBJ_ID_EXT" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="70"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="CONTEXT" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="4"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="IV_CHECK_ADDRESS" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="1"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="IV_TIME_DEPENDENT_COMM_DATA" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="1"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="E1BPAD3VL" type="tns:E1BPAD3VL.000" minOccurs="0" maxOccurs="unbounded"/>
     <xsd:element name="E1BPADTEL" type="tns:E1BPADTEL.004" minOccurs="0" maxOccurs="unbounded"/>
     <xsd:element name="E1BPADFAX" type="tns:E1BPADFAX.004" minOccurs="0" maxOccurs="unbounded"/>
     <xsd:element name="E1BPADTTX" type="tns:E1BPADTTX.004" minOccurs="0" maxOccurs="unbounded"/>
     <xsd:element name="E1BPADTLX" type="tns:E1BPADTLX.004" minOccurs="0" maxOccurs="unbounded"/>
     <xsd:element name="E1BPADSMTP" type="tns:E1BPADSMTP.004" minOccurs="0" maxOccurs="unbounded"/>
     <xsd:element name="E1BPADRML" type="tns:E1BPADRML.004" minOccurs="0" maxOccurs="unbounded"/>
     <xsd:element name="E1BPADX400" type="tns:E1BPADX400.004" minOccurs="0" maxOccurs="unbounded"/>
     <xsd:element name="E1BPADRFC" type="tns:E1BPADRFC.004" minOccurs="0" maxOccurs="unbounded"/>
     <xsd:element name="E1BPADPRT" type="tns:E1BPADPRT.004" minOccurs="0" maxOccurs="unbounded"/>
     <xsd:element name="E1BPADSSF" type="tns:E1BPADSSF.001" minOccurs="0" maxOccurs="unbounded"/>
     <xsd:element name="E1BPADURI" type="tns:E1BPADURI.001" minOccurs="0" maxOccurs="unbounded"/>
     <xsd:element name="E1BPADPAG" type="tns:E1BPADPAG.004" minOccurs="0" maxOccurs="unbounded"/>
     <xsd:element name="E1BPCOMREM" type="tns:E1BPCOMREM.002" minOccurs="0" maxOccurs="unbounded"/>
     <xsd:element name="E1BPADUSE" type="tns:E1BPADUSE.001" minOccurs="0" maxOccurs="unbounded"/>
    </xsd:sequence>
    <xsd:attribute name="SEGMENT" type="xsd:string" fixed="1" use="required"/>
   </xsd:complexType>
   <xsd:complexType name="EDI_DC40">
    <xsd:sequence>
     <xsd:element name="TABNAM">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="10"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="MANDT" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="3"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="DOCNUM" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="16"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="DOCREL" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="4"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="STATUS" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="2"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="DIRECT" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="1"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="OUTMOD" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="1"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="EXPRSS" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="1"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="TEST" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="1"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="IDOCTYP">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="30"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="CIMTYP" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="30"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="MESTYP">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="30"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="MESCOD" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="3"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="MESFCT" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="3"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="STD" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="1"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="STDVRS" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="6"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="STDMES" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="6"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="SNDPOR">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="10"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="SNDPRT">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="2"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="SNDPFC" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="2"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="SNDPRN">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="10"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="SNDSAD" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="21"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="SNDLAD" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="70"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="RCVPOR">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="10"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="RCVPRT">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="2"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="RCVPFC" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="2"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="RCVPRN">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="10"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="RCVSAD" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="21"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="RCVLAD" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="70"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="CREDAT" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="8"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="CRETIM" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="6"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="REFINT" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="14"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="REFGRP" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="14"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="REFMES" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="14"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="ARCKEY" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="70"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="SERIAL" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="20"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
    </xsd:sequence>
    <xsd:attribute name="SEGMENT" type="xsd:string" fixed="1" use="required"/>
   </xsd:complexType>
   <xsd:complexType name="ADR3MAS.ADR3MAS03">
    <xsd:sequence>
     <xsd:element name="EDI_DC40" type="tns:EDI_DC40"/>
     <xsd:element name="E1ADR3MAS" type="tns:E1ADR3MAS.001" minOccurs="0"/>
    </xsd:sequence>
    <xsd:attribute name="BEGIN" type="xsd:string" fixed="1" use="required"/>
   </xsd:complexType>
   <xsd:simpleType name="IDocId">
    <xsd:restriction base="xsd:string">
     <xsd:pattern value="\d+"/>
     <xsd:maxLength value="16"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:complexType name="IdocAssign">
    <xsd:sequence>
     <xsd:element name="TransferId" type="tns:IDocId"/>
     <xsd:element name="DbId" type="tns:IDocId"/>
    </xsd:sequence>
   </xsd:complexType>
   <xsd:element name="ADR3MAS03">
    <xsd:complexType>
     <xsd:sequence>
      <xsd:element name="IDOC" type="tns:ADR3MAS.ADR3MAS03"/>
     </xsd:sequence>
    </xsd:complexType>
   </xsd:element>
   <xsd:element name="ADR3MAS03Response">
    <xsd:complexType>
     <xsd:sequence>
      <xsd:element name="IdocAssign" type="tns:IdocAssign"/>
     </xsd:sequence>
    </xsd:complexType>
   </xsd:element>
  </xsd:schema>
 </wsdl:types>
 <wsdl:message name="ADR3MAS.ADR3MAS03">
  <wsdl:part name="ADR3MAS03" element="tns:ADR3MAS03"/>
 </wsdl:message>
 <wsdl:message name="ADR3MAS.ADR3MAS03Response">
  <wsdl:part name="ADR3MAS03Response" element="tns:ADR3MAS03Response"/>
 </wsdl:message>
 <wsdl:portType name="ADR3MAS.ADR3MAS03.PortType">
  <wsdl:operation name="ADR3MAS.ADR3MAS03">
   <wsdl:input message="tns:ADR3MAS.ADR3MAS03"/>
   <wsdl:output message="tns:ADR3MAS.ADR3MAS03Response"/>
  </wsdl:operation>
 </wsdl:portType>
  <wsdl:binding name="ADR3MAS.ADR3MAS03.Binding" type="tns:ADR3MAS.ADR3MAS03.PortType">
  <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" />
  <wsdl:operation name="ADR3MAS.ADR3MAS03">
   <soap:operation soapAction="http://sap.com/xi/WebService/soap1.1" />
   <wsdl:input>
    <soap:body use="literal" />
   </wsdl:input>
  </wsdl:operation>
</wsdl:binding>
<wsdl:service name="ADR3MAS.ADR3MAS03.Service">
  <wsdl:port name="ADR3MAS.ADR3MAS03.Port" binding="tns:ADR3MAS.ADR3MAS03.Binding">
   <soap:address location="/ADR3MAS.ADR3MAS03" />
  </wsdl:port>
</wsdl:service> 

</wsdl:definitions>
