Resources/schemas/Wsdl/SAP_Document_and_Reporting_Compliance-_Electronic_Invoice_for_Saudi_Arabia - eDocSACSIDOperations.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.sap.com/eDocSACSIDOperations/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="eDocSACSIDOperations" targetNamespace="http://www.sap.com/eDocSACSIDOperations/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://www.sap.com/eDocSACSIDOperations/">
      <xsd:element name="CSIDOperations"
      	type="tns:CSIDOperationsRequest">

      </xsd:element>
      <xsd:element name="CSIDOperationsResponse"
      	type="tns:CSIDOperationsResponseType">

      </xsd:element>

      <xsd:complexType name="CSIDOperationsRequest">
      	<xsd:sequence>
      		<xsd:element name="Action" maxOccurs="1" minOccurs="1">
      			<xsd:simpleType>
      				<xsd:restriction base="xsd:string">

      					<xsd:enumeration value="RENEW_CSID"></xsd:enumeration>
      					<xsd:enumeration value="DEACTIVATE_CSID"></xsd:enumeration>
      					<xsd:enumeration value="GENERATE_CSID"></xsd:enumeration>
      					<xsd:enumeration value="GENERATE_CCSID"></xsd:enumeration>
      					<xsd:enumeration value="COMPLIANCE_CHECK"></xsd:enumeration>
      				</xsd:restriction>
      			</xsd:simpleType>
      		</xsd:element>
      		<xsd:element name="CommonAttributes"
      			type="tns:CommonAttributesType" maxOccurs="1" minOccurs="1">
      		</xsd:element>
      		<xsd:element name="GenerateCCSID"
      			type="tns:GenerateCCSIDType" maxOccurs="1" minOccurs="0">
      		</xsd:element>
      		<xsd:element name="GenerateCSID"
      			type="tns:GenerateCSIDType" maxOccurs="1" minOccurs="0">
      		</xsd:element>
      		<xsd:element name="RenewCSID" type="tns:RenewCSIDType"
      			maxOccurs="1" minOccurs="0">
      		</xsd:element>
      		<xsd:element name="DeactivateCSID"
      			type="tns:DeactivateCSIDType" maxOccurs="1" minOccurs="0">
      		</xsd:element>

      		<xsd:element name="ComplianceCheck" type="tns:ComplianceCheckType" maxOccurs="1" minOccurs="0"></xsd:element>
      	</xsd:sequence>
      </xsd:complexType>
    
      <xsd:complexType name="GenerateCCSIDType">
      	<xsd:sequence>
      		<xsd:element name="GenerateOTP" type="xsd:string"
      			maxOccurs="1" minOccurs="1">
      		</xsd:element>
      		<xsd:element name="CSRAttributes" type="tns:CSRAttributesType" maxOccurs="1" minOccurs="1"></xsd:element>
      	</xsd:sequence>
      </xsd:complexType>
      
            <xsd:complexType name="GenerateCSIDType">
            	<xsd:sequence>
            		<xsd:element name="CSRRequestId" type="xsd:string"
            			maxOccurs="1" minOccurs="1">
            		</xsd:element>
            		<xsd:element name="CurrentCCSID" type="xsd:base64Binary" maxOccurs="1" minOccurs="1"></xsd:element>
            	</xsd:sequence>
            </xsd:complexType>
            
            <xsd:complexType name="RenewCSIDType">
            	<xsd:sequence>
            		<xsd:element name="CurrentCSID"
            			type="xsd:base64Binary" maxOccurs="1" minOccurs="1">
            		</xsd:element>
            		<xsd:element name="RenewOTP" type="xsd:string"
            			maxOccurs="1" minOccurs="1">
            		</xsd:element>
            		<xsd:element name="CSRAttributes"
            			type="tns:CSRAttributesType" maxOccurs="1"
            			minOccurs="1">
            		</xsd:element>
            		<xsd:element name="CSIDSequenceNo" type="xsd:string" maxOccurs="1" minOccurs="1"></xsd:element>
            	</xsd:sequence>
            </xsd:complexType>
            
            <xsd:complexType name="DeactivateCSIDType">
            	<xsd:sequence>
            		<xsd:element name="DeactivateOTP" type="xsd:string"
            			maxOccurs="1" minOccurs="0">
            		</xsd:element>
            		<xsd:element name="CurrentCSID" type="xsd:base64Binary" maxOccurs="1" minOccurs="0"></xsd:element>
            	</xsd:sequence>
            </xsd:complexType>
            
            <xsd:complexType name="CSRAttributesType">
            	<xsd:sequence>
            		<xsd:element name="CommonName" type="xsd:string"
            			maxOccurs="1" minOccurs="1">
            		</xsd:element>
            		<xsd:element name="OrgIdentifier" type="xsd:string"
            			maxOccurs="1" minOccurs="1">
            		</xsd:element>
            		<xsd:element name="OrgUnitName" type="xsd:string"
            			maxOccurs="1" minOccurs="1">
            		</xsd:element>
            		<xsd:element name="OrgName" type="xsd:string"
            			maxOccurs="1" minOccurs="1">
            		</xsd:element>
            		<xsd:element name="Country" type="xsd:string"
            			maxOccurs="1" minOccurs="1">
            		</xsd:element>
            		<xsd:element name="EGSSerialNumber"
            			type="xsd:string" maxOccurs="1" minOccurs="1">
            		</xsd:element>
                    <xsd:element name="Industry" type="xsd:string"
            			maxOccurs="1" minOccurs="1">
            		</xsd:element>
            		<xsd:element name="Location" type="xsd:string"
            			maxOccurs="1" minOccurs="1">
            		</xsd:element>
            		<xsd:element name="InvoiceType" type="xsd:string"
            			maxOccurs="1" minOccurs="1">
            		</xsd:element>

            	</xsd:sequence>
            </xsd:complexType>
    
            <xsd:complexType name="CommonAttributesType">
            	<xsd:sequence>
            		<xsd:element name="CompanyCode" type="xsd:string"
            			maxOccurs="1" minOccurs="1">
            		</xsd:element>
            		<xsd:element name="SolutionUnitNumber" type="xsd:string" maxOccurs="1" minOccurs="1"></xsd:element>
            	</xsd:sequence>
            </xsd:complexType>
    
            <xsd:complexType name="CSIDOperationsResponseType">
            	<xsd:sequence>
            		<xsd:element name="Status" type="xsd:string"
            			maxOccurs="1" minOccurs="1">
            		</xsd:element>
            		<xsd:element name="GeneratedCSR"
            			type="xsd:base64Binary" maxOccurs="1" minOccurs="0">
            		</xsd:element>
            		<xsd:element name="CCSID" type="xsd:base64Binary"
            			maxOccurs="1" minOccurs="0">
            		</xsd:element>
            		<xsd:element name="CSID" type="xsd:base64Binary"
            			maxOccurs="1" minOccurs="0">
            		</xsd:element>
            		<xsd:element name="CSIDRequestId" type="xsd:string"
            			maxOccurs="1" minOccurs="0">
            		</xsd:element>
            		<xsd:element name="Message" type="tns:MessageType"
            			maxOccurs="1" minOccurs="0">
            		</xsd:element>
            		<xsd:element name="ValidationResults"
            			type="tns:ValidationResultType" maxOccurs="1" minOccurs="0">
            		</xsd:element>
            	</xsd:sequence>
            </xsd:complexType>
    
            <xsd:complexType name="MessageType">
            	<xsd:sequence>
            		<xsd:element name="Code" type="xsd:string"
            			maxOccurs="1" minOccurs="1">
            		</xsd:element>
            		<xsd:element name="Desription" type="xsd:string" maxOccurs="1" minOccurs="1"></xsd:element>
            	</xsd:sequence>
            </xsd:complexType>
    
            <xsd:complexType name="ComplianceCheckType">
            	<xsd:sequence>
            		<xsd:element name="InvoiceType" type="xsd:string"
            			maxOccurs="1" minOccurs="1">
            		</xsd:element>
            		<xsd:element name="VATId" type="xsd:string"
            			maxOccurs="1" minOccurs="1">
            		</xsd:element>
            		<xsd:element name="CurrentCCSID" type="xsd:base64Binary" maxOccurs="1" minOccurs="1"></xsd:element>
            	</xsd:sequence>
            </xsd:complexType>
    
            
            <xsd:complexType name="ValidationResultType">
             <xsd:sequence>
			<xsd:element name="infoMessages" type="tns:ResultType" minOccurs="0" maxOccurs="unbounded"></xsd:element>
            <xsd:element name="warningMessages" type="tns:ResultType" minOccurs="0" maxOccurs="unbounded"></xsd:element>
			<xsd:element name="errorMessages" type="tns:ResultType" minOccurs="0" maxOccurs="unbounded"></xsd:element>
            <xsd:element name="status"	type="xsd:string" minOccurs="0" maxOccurs="1"></xsd:element>
		</xsd:sequence>
            </xsd:complexType>
             <xsd:complexType name="ResultType">
        <xsd:sequence>
			<xsd:element name="type" type="xsd:string" minOccurs="0" maxOccurs="1"></xsd:element>
            <xsd:element name="code" type="xsd:string" minOccurs="0" maxOccurs="1"></xsd:element>
            <xsd:element name="category" type="xsd:string" minOccurs="0" maxOccurs="1"></xsd:element>
            <xsd:element name="message" type="xsd:string" minOccurs="0" maxOccurs="1"></xsd:element>
            <xsd:element name="status" type="xsd:string" minOccurs="0" maxOccurs="1"></xsd:element>
		</xsd:sequence>
    </xsd:complexType>
        </xsd:schema>
  </wsdl:types>
  <wsdl:message name="CSIDOperationsRequest">
    <wsdl:part element="tns:CSIDOperations" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="CSIDOperationsResponse">
    <wsdl:part element="tns:CSIDOperationsResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:portType name="eDocSACSIDOperations">
    <wsdl:operation name="CSIDOperations">
      <wsdl:input message="tns:CSIDOperationsRequest"/>
      <wsdl:output message="tns:CSIDOperationsResponse"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="eDocSACSIDOperationsSOAP" type="tns:eDocSACSIDOperations">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="CSIDOperations">
      <soap:operation soapAction="http://www.sap.com/eDocSACSIDOperations/CSIDOperations"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="eDocSACSIDOperations">
    <wsdl:port binding="tns:eDocSACSIDOperationsSOAP" name="eDocSACSIDOperationsSOAP">
      <soap:address location="http://www.sap.com/"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>