Resources/schemas/Wsdl/SAP_Commerce_financial_services_accelerator_integration_with_SAP_for_Insurance - BP_BP_RFM_CreateBusinessPartner-1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions targetNamespace="urn:sap-com:document:sap:rfc:functions" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsoap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="urn:sap-com:document:sap:rfc:functions" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd">
 <wsdl:documentation>
  <sidl:sidl xmlns:sidl="http://www.sap.com/2007/03/sidl"/>
 </wsdl:documentation>
 <wsp:UsingPolicy wsdl:required="true"/>
 <wsp:Policy wsu:Id="IF_IF_zBAPI_BUPA_CREATE_FROM_DATA">
  <sapsession:Session xmlns:sapsession="http://www.sap.com/webas/630/soap/features/session/">
   <sapsession:enableSession>false</sapsession:enableSession>
  </sapsession:Session>
 </wsp:Policy>
 <wsp:Policy wsu:Id="OP_IF_OP_BAPI_BUPA_CREATE_FROM_DATA">
  <sapblock:enableBlocking xmlns:sapblock="http://www.sap.com/NW05/soap/features/blocking/">true</sapblock:enableBlocking>
  <sapcomhnd:enableCommit xmlns:sapcomhnd="http://www.sap.com/NW05/soap/features/commit/">false</sapcomhnd:enableCommit>
  <saptrhnw05:required xmlns:saptrhnw05="http://www.sap.com/NW05/soap/features/transaction/">no</saptrhnw05:required>
  <saprmnw05:enableWSRM xmlns:saprmnw05="http://www.sap.com/NW05/soap/features/wsrm/">false</saprmnw05:enableWSRM>
 </wsp:Policy>
 <wsdl:types>
  <xsd:schema attributeFormDefault="qualified" targetNamespace="urn:sap-com:document:sap:rfc:functions">
   <xsd:simpleType name="char1">
    <xsd:restriction base="xsd:string">
     <xsd:maxLength value="1"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="char10">
    <xsd:restriction base="xsd:string">
     <xsd:maxLength value="10"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="char12">
    <xsd:restriction base="xsd:string">
     <xsd:maxLength value="12"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="char128">
    <xsd:restriction base="xsd:string">
     <xsd:maxLength value="128"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="char132">
    <xsd:restriction base="xsd:string">
     <xsd:maxLength value="132"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="char14">
    <xsd:restriction base="xsd:string">
     <xsd:maxLength value="14"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="char15">
    <xsd:restriction base="xsd:string">
     <xsd:maxLength value="15"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="char16">
    <xsd:restriction base="xsd:string">
     <xsd:maxLength value="16"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="char2">
    <xsd:restriction base="xsd:string">
     <xsd:maxLength value="2"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="char20">
    <xsd:restriction base="xsd:string">
     <xsd:maxLength value="20"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="char220">
    <xsd:restriction base="xsd:string">
     <xsd:maxLength value="220"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="char24">
    <xsd:restriction base="xsd:string">
     <xsd:maxLength value="24"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="char241">
    <xsd:restriction base="xsd:string">
     <xsd:maxLength value="241"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="char250">
    <xsd:restriction base="xsd:string">
     <xsd:maxLength value="250"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="char3">
    <xsd:restriction base="xsd:string">
     <xsd:maxLength value="3"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="char30">
    <xsd:restriction base="xsd:string">
     <xsd:maxLength value="30"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="char32">
    <xsd:restriction base="xsd:string">
     <xsd:maxLength value="32"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="char35">
    <xsd:restriction base="xsd:string">
     <xsd:maxLength value="35"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="char4">
    <xsd:restriction base="xsd:string">
     <xsd:maxLength value="4"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="char40">
    <xsd:restriction base="xsd:string">
     <xsd:maxLength value="40"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="char48">
    <xsd:restriction base="xsd:string">
     <xsd:maxLength value="48"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="char5">
    <xsd:restriction base="xsd:string">
     <xsd:maxLength value="5"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="char50">
    <xsd:restriction base="xsd:string">
     <xsd:maxLength value="50"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="char6">
    <xsd:restriction base="xsd:string">
     <xsd:maxLength value="6"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="char60">
    <xsd:restriction base="xsd:string">
     <xsd:maxLength value="60"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="char64">
    <xsd:restriction base="xsd:string">
     <xsd:maxLength value="64"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="char8">
    <xsd:restriction base="xsd:string">
     <xsd:maxLength value="8"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="char80">
    <xsd:restriction base="xsd:string">
     <xsd:maxLength value="80"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="date10">
    <xsd:restriction base="xsd:string">
     <xsd:maxLength value="10"/>
     <xsd:pattern value="\d\d\d\d-\d\d-\d\d"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="decimal3.1">
    <xsd:restriction base="xsd:decimal">
     <xsd:totalDigits value="3"/>
     <xsd:fractionDigits value="1"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="decimal4.1">
    <xsd:restriction base="xsd:decimal">
     <xsd:totalDigits value="4"/>
     <xsd:fractionDigits value="1"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="lang">
    <xsd:restriction base="xsd:string">
     <xsd:maxLength value="1"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="numeric1">
    <xsd:restriction base="xsd:string">
     <xsd:maxLength value="1"/>
     <xsd:pattern value="\d*"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="numeric3">
    <xsd:restriction base="xsd:string">
     <xsd:maxLength value="3"/>
     <xsd:pattern value="\d*"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="numeric5">
    <xsd:restriction base="xsd:string">
     <xsd:maxLength value="5"/>
     <xsd:pattern value="\d*"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="numeric6">
    <xsd:restriction base="xsd:string">
     <xsd:maxLength value="6"/>
     <xsd:pattern value="\d*"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="numeric7">
    <xsd:restriction base="xsd:string">
     <xsd:maxLength value="7"/>
     <xsd:pattern value="\d*"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:complexType name="BAPIADURI">
    <xsd:sequence>
     <xsd:element name="STD_NO" type="tns:char1" minOccurs="0"/>
     <xsd:element name="URI_TYPE" type="tns:char3" minOccurs="0"/>
     <xsd:element name="URI" type="tns:char132"/>
     <xsd:element name="STD_RECIP" type="tns:char1" minOccurs="0"/>
     <xsd:element name="HOME_FLAG" type="tns:char1" minOccurs="0"/>
     <xsd:element name="CONSNUMBER" type="tns:numeric3"/>
     <xsd:element name="URI_PART1" type="tns:char250"/>
     <xsd:element name="URI_PART2" type="tns:char250"/>
     <xsd:element name="URI_PART3" type="tns:char250"/>
     <xsd:element name="URI_PART4" type="tns:char250"/>
     <xsd:element name="URI_PART5" type="tns:char250"/>
     <xsd:element name="URI_PART6" type="tns:char250"/>
     <xsd:element name="URI_PART7" type="tns:char250"/>
     <xsd:element name="URI_PART8" type="tns:char250"/>
     <xsd:element name="URI_PART9" type="tns:char48"/>
     <xsd:element name="ERRORFLAG" type="tns:char1" minOccurs="0"/>
     <xsd:element name="FLG_NOUSE" type="tns:char1" minOccurs="0"/>
     <xsd:element name="VALID_FROM" type="tns:char14" minOccurs="0"/>
     <xsd:element name="VALID_TO" type="tns:char14" minOccurs="0"/>
    </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="BAPICOMREM">
    <xsd:sequence>
     <xsd:element name="COMM_TYPE" type="tns:char3" minOccurs="0"/>
     <xsd:element name="LANGU" type="tns:lang"/>
     <xsd:element name="LANGU_ISO" type="tns:char2" minOccurs="0"/>
     <xsd:element name="COMM_NOTES" type="tns:char50"/>
     <xsd:element name="CONSNUMBER" type="tns:numeric3"/>
     <xsd:element name="ERRORFLAG" type="tns:char1" minOccurs="0"/>
    </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="BAPIADRML">
    <xsd:sequence>
     <xsd:element name="STD_NO" type="tns:char1" minOccurs="0"/>
     <xsd:element name="SYMB_DEST" type="tns:char10" minOccurs="0"/>
     <xsd:element name="REC_TYPE" type="tns:char1" minOccurs="0"/>
     <xsd:element name="R_MAIL_CLT" type="tns:char3" minOccurs="0"/>
     <xsd:element name="R_MAIL" type="tns:char12"/>
     <xsd:element name="STD_RECIP" type="tns:char1" minOccurs="0"/>
     <xsd:element name="R_3_USER" type="tns:char1" minOccurs="0"/>
     <xsd:element name="HOME_FLAG" type="tns:char1" minOccurs="0"/>
     <xsd:element name="CONSNUMBER" type="tns:numeric3"/>
     <xsd:element name="ERRORFLAG" type="tns:char1" minOccurs="0"/>
     <xsd:element name="FLG_NOUSE" type="tns:char1" minOccurs="0"/>
     <xsd:element name="VALID_FROM" type="tns:char14" minOccurs="0"/>
     <xsd:element name="VALID_TO" type="tns:char14" minOccurs="0"/>
    </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="BAPIBUS1006_CENTRAL_GROUP">
    <xsd:sequence>
     <xsd:element name="NAMEGROUP1" type="tns:char40" minOccurs="0"/>
     <xsd:element name="NAMEGROUP2" type="tns:char40" minOccurs="0"/>
     <xsd:element name="GROUPTYPE" type="tns:char4" minOccurs="0"/>
    </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="BAPIADRFC">
    <xsd:sequence>
     <xsd:element name="STD_NO" type="tns:char1" minOccurs="0"/>
     <xsd:element name="LOG_DEST" type="tns:char32" minOccurs="0"/>
     <xsd:element name="STD_RECIP" type="tns:char1" minOccurs="0"/>
     <xsd:element name="R_3_USER" type="tns:char1" minOccurs="0"/>
     <xsd:element name="HOME_FLAG" type="tns:char1" minOccurs="0"/>
     <xsd:element name="CONSNUMBER" type="tns:numeric3"/>
     <xsd:element name="ERRORFLAG" type="tns:char1" minOccurs="0"/>
     <xsd:element name="FLG_NOUSE" type="tns:char1" minOccurs="0"/>
     <xsd:element name="VALID_FROM" type="tns:char14" minOccurs="0"/>
     <xsd:element name="VALID_TO" type="tns:char14" minOccurs="0"/>
    </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="BAPIADFAX">
    <xsd:sequence>
     <xsd:element name="COUNTRY" type="tns:char3" minOccurs="0"/>
     <xsd:element name="COUNTRYISO" type="tns:char2" minOccurs="0"/>
     <xsd:element name="STD_NO" type="tns:char1" minOccurs="0"/>
     <xsd:element name="FAX" type="tns:char30" minOccurs="0"/>
     <xsd:element name="EXTENSION" type="tns:char10" minOccurs="0"/>
     <xsd:element name="FAX_NO" type="tns:char30" minOccurs="0"/>
     <xsd:element name="SENDER_NO" type="tns:char30" minOccurs="0"/>
     <xsd:element name="FAX_GROUP" type="tns:char1" minOccurs="0"/>
     <xsd:element name="STD_RECIP" type="tns:char1" minOccurs="0"/>
     <xsd:element name="R_3_USER" type="tns:char1" minOccurs="0"/>
     <xsd:element name="HOME_FLAG" type="tns:char1" minOccurs="0"/>
     <xsd:element name="CONSNUMBER" type="tns:numeric3"/>
     <xsd:element name="ERRORFLAG" type="tns:char1" minOccurs="0"/>
     <xsd:element name="FLG_NOUSE" type="tns:char1" minOccurs="0"/>
     <xsd:element name="VALID_FROM" type="tns:char14" minOccurs="0"/>
     <xsd:element name="VALID_TO" type="tns:char14" minOccurs="0"/>
    </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="BAPIADPAG">
    <xsd:sequence>
     <xsd:element name="COUNTRY" type="tns:char3" minOccurs="0"/>
     <xsd:element name="COUNTRYISO" type="tns:char2" minOccurs="0"/>
     <xsd:element name="STD_NO" type="tns:char1" minOccurs="0"/>
     <xsd:element name="PAGER_TYPE" type="tns:char4" minOccurs="0"/>
     <xsd:element name="PAGER" type="tns:char30" minOccurs="0"/>
     <xsd:element name="PAGER_NO" type="tns:char30" minOccurs="0"/>
     <xsd:element name="CALLER_NO" type="tns:char30" minOccurs="0"/>
     <xsd:element name="STD_RECIP" type="tns:char1" minOccurs="0"/>
     <xsd:element name="R_3_USER" type="tns:char1" minOccurs="0"/>
     <xsd:element name="HOME_FLAG" type="tns:char1" minOccurs="0"/>
     <xsd:element name="CONSNUMBER" type="tns:numeric3"/>
     <xsd:element name="ERRORFLAG" type="tns:char1" minOccurs="0"/>
     <xsd:element name="FLG_NOUSE" type="tns:char1" minOccurs="0"/>
     <xsd:element name="VALID_FROM" type="tns:char14" minOccurs="0"/>
     <xsd:element name="VALID_TO" type="tns:char14" minOccurs="0"/>
    </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="BAPIBUS1006_ADDRESS_DUPLICATES">
    <xsd:sequence>
     <xsd:element name="ADDRNUMBER" type="tns:char10" minOccurs="0"/>
     <xsd:element name="PERSNUMBER" type="tns:char10" minOccurs="0"/>
     <xsd:element name="PERCENTAGE" type="tns:decimal3.1"/>
     <xsd:element name="BUSINESSPARTNER" type="tns:char10" minOccurs="0"/>
     <xsd:element name="ADDRESSGUID" type="tns:char32" minOccurs="0"/>
     <xsd:element name="PERCENT_COMPL" type="tns:decimal4.1"/>
    </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="BAPIADSSF">
    <xsd:sequence>
     <xsd:element name="STD_NO" type="tns:char1" minOccurs="0"/>
     <xsd:element name="DUMMY" type="tns:char1" minOccurs="0"/>
     <xsd:element name="STD_RECIP" type="tns:char1" minOccurs="0"/>
     <xsd:element name="HOME_FLAG" type="tns:char1" minOccurs="0"/>
     <xsd:element name="CONSNUMBER" type="tns:numeric3"/>
     <xsd:element name="RFCDEST" type="tns:char32" minOccurs="0"/>
     <xsd:element name="SSFIDSHORT" type="tns:char132"/>
     <xsd:element name="SSF_NS" type="tns:char10" minOccurs="0"/>
     <xsd:element name="SSF_PROF" type="tns:char132"/>
     <xsd:element name="SSFIDPART1" type="tns:char250"/>
     <xsd:element name="SSFIDPART2" type="tns:char250"/>
     <xsd:element name="SSFIDPART3" type="tns:char250"/>
     <xsd:element name="SSFIDPART4" type="tns:char250"/>
     <xsd:element name="SSFIDPART5" type="tns:char250"/>
     <xsd:element name="SSFIDPART6" type="tns:char250"/>
     <xsd:element name="SSFIDPART7" type="tns:char250"/>
     <xsd:element name="SSFIDPART8" type="tns:char250"/>
     <xsd:element name="SSFIDPART9" type="tns:char48"/>
     <xsd:element name="ERRORFLAG" type="tns:char1" minOccurs="0"/>
     <xsd:element name="FLG_NOUSE" type="tns:char1" minOccurs="0"/>
     <xsd:element name="VALID_FROM" type="tns:char14" minOccurs="0"/>
     <xsd:element name="VALID_TO" type="tns:char14" minOccurs="0"/>
    </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="BAPIRET2">
    <xsd:sequence>
     <xsd:element name="TYPE" type="tns:char1" minOccurs="0"/>
     <xsd:element name="ID" type="tns:char20" minOccurs="0"/>
     <xsd:element name="NUMBER" type="tns:numeric3"/>
     <xsd:element name="MESSAGE" type="tns:char220"/>
     <xsd:element name="LOG_NO" type="tns:char20" minOccurs="0"/>
     <xsd:element name="LOG_MSG_NO" type="tns:numeric6"/>
     <xsd:element name="MESSAGE_V1" type="tns:char50"/>
     <xsd:element name="MESSAGE_V2" type="tns:char50"/>
     <xsd:element name="MESSAGE_V3" type="tns:char50"/>
     <xsd:element name="MESSAGE_V4" type="tns:char50"/>
     <xsd:element name="PARAMETER" type="tns:char32" minOccurs="0"/>
     <xsd:element name="ROW" type="xsd:int"/>
     <xsd:element name="FIELD" type="tns:char30" minOccurs="0"/>
     <xsd:element name="SYSTEM" type="tns:char10" minOccurs="0"/>
    </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="BAPIBUS1006_ADDRESS">
    <xsd:sequence>
     <xsd:element name="STANDARDADDRESS" type="tns:char1" minOccurs="0"/>
     <xsd:element name="C_O_NAME" type="tns:char40" minOccurs="0"/>
     <xsd:element name="CITY" type="tns:char40" minOccurs="0"/>
     <xsd:element name="DISTRICT" type="tns:char40" minOccurs="0"/>
     <xsd:element name="REGIOGROUP" type="tns:char8"/>
     <xsd:element name="POSTL_COD1" type="tns:char10" minOccurs="0"/>
     <xsd:element name="POSTL_COD2" type="tns:char10" minOccurs="0"/>
     <xsd:element name="POSTL_COD3" type="tns:char10" minOccurs="0"/>
     <xsd:element name="PCODE1_EXT" type="tns:char10" minOccurs="0"/>
     <xsd:element name="PCODE2_EXT" type="tns:char10" minOccurs="0"/>
     <xsd:element name="PCODE3_EXT" type="tns:char10" minOccurs="0"/>
     <xsd:element name="PO_BOX" type="tns:char10" minOccurs="0"/>
     <xsd:element name="PO_W_O_NO" type="tns:char1" minOccurs="0"/>
     <xsd:element name="PO_BOX_CIT" type="tns:char40" minOccurs="0"/>
     <xsd:element name="PO_BOX_REG" type="tns:char3" minOccurs="0"/>
     <xsd:element name="POBOX_CTRY" type="tns:char3" minOccurs="0"/>
     <xsd:element name="PO_CTRYISO" type="tns:char2" minOccurs="0"/>
     <xsd:element name="STREET" type="tns:char60" minOccurs="0"/>
     <xsd:element name="STR_ABBR" type="tns:char2" minOccurs="0"/>
     <xsd:element name="HOUSE_NO" type="tns:char10" minOccurs="0"/>
     <xsd:element name="HOUSE_NO2" type="tns:char10" minOccurs="0"/>
     <xsd:element name="HOUSE_NO3" type="tns:char10" minOccurs="0"/>
     <xsd:element name="STR_SUPPL1" type="tns:char40" minOccurs="0"/>
     <xsd:element name="STR_SUPPL2" type="tns:char40" minOccurs="0"/>
     <xsd:element name="STR_SUPPL3" type="tns:char40" minOccurs="0"/>
     <xsd:element name="LOCATION" type="tns:char40" minOccurs="0"/>
     <xsd:element name="BUILDING" type="tns:char20" minOccurs="0"/>
     <xsd:element name="FLOOR" type="tns:char10" minOccurs="0"/>
     <xsd:element name="ROOM_NO" type="tns:char10" minOccurs="0"/>
     <xsd:element name="COUNTRY" type="tns:char3" minOccurs="0"/>
     <xsd:element name="COUNTRYISO" type="tns:char2" minOccurs="0"/>
     <xsd:element name="REGION" type="tns:char3" minOccurs="0"/>
     <xsd:element name="TIME_ZONE" type="tns:char6" minOccurs="0"/>
     <xsd:element name="TAXJURCODE" type="tns:char15" minOccurs="0"/>
     <xsd:element name="HOME_CITY" type="tns:char40" minOccurs="0"/>
     <xsd:element name="TRANSPZONE" type="tns:char10" minOccurs="0"/>
     <xsd:element name="LANGU" type="tns:lang" minOccurs="0"/>
     <xsd:element name="LANGUISO" type="tns:char2" minOccurs="0"/>
     <xsd:element name="COMM_TYPE" type="tns:char3" minOccurs="0"/>
     <xsd:element name="EXTADDRESSNUMBER" type="tns:char20" minOccurs="0"/>
     <xsd:element name="DONT_USE_P" type="tns:char4" minOccurs="0"/>
     <xsd:element name="DONT_USE_S" type="tns:char4" minOccurs="0"/>
     <xsd:element name="MOVE_DATE" type="tns:date10" minOccurs="0"/>
     <xsd:element name="MOVE_ADDRESS" type="tns:char10" minOccurs="0"/>
     <xsd:element name="VALIDFROMDATE" type="tns:date10" minOccurs="0"/>
     <xsd:element name="VALIDTODATE" type="tns:date10" minOccurs="0"/>
     <xsd:element name="MOVE_ADDR_GUID" type="tns:char32" minOccurs="0"/>
     <xsd:element name="CITY_NO" type="tns:char12" minOccurs="0"/>
     <xsd:element name="DISTRCT_NO" type="tns:char8" minOccurs="0"/>
     <xsd:element name="CHCKSTATUS" type="tns:char1" minOccurs="0"/>
     <xsd:element name="PBOXCIT_NO" type="tns:char12" minOccurs="0"/>
     <xsd:element name="STREET_NO" type="tns:char12" minOccurs="0"/>
     <xsd:element name="HOMECITYNO" type="tns:char12" minOccurs="0"/>
     <xsd:element name="PO_BOX_LOBBY" type="tns:char40" minOccurs="0"/>
     <xsd:element name="DELI_SERV_TYPE" type="tns:char4" minOccurs="0"/>
     <xsd:element name="DELI_SERV_NUMBER" type="tns:char10" minOccurs="0"/>
     <xsd:element name="COUNTY" type="tns:char40" minOccurs="0"/>
     <xsd:element name="COUNTY_NO" type="tns:char8" minOccurs="0"/>
     <xsd:element name="TOWNSHIP" type="tns:char40" minOccurs="0"/>
     <xsd:element name="TOWNSHIP_NO" type="tns:char8" minOccurs="0"/>
    </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="BAPIBUS1006_CENTRAL">
    <xsd:sequence>
     <xsd:element name="SEARCHTERM1" type="tns:char20" minOccurs="0"/>
     <xsd:element name="SEARCHTERM2" type="tns:char20" minOccurs="0"/>
     <xsd:element name="PARTNERTYPE" type="tns:char4" minOccurs="0"/>
     <xsd:element name="AUTHORIZATIONGROUP" type="tns:char4" minOccurs="0"/>
     <xsd:element name="PARTNERLANGUAGE" type="tns:lang"/>
     <xsd:element name="PARTNERLANGUAGEISO" type="tns:char2" minOccurs="0"/>
     <xsd:element name="DATAORIGINTYPE" type="tns:char4" minOccurs="0"/>
     <xsd:element name="CENTRALARCHIVINGFLAG" type="tns:char1" minOccurs="0"/>
     <xsd:element name="CENTRALBLOCK" type="tns:char1" minOccurs="0"/>
     <xsd:element name="TITLE_KEY" type="tns:char4" minOccurs="0"/>
     <xsd:element name="CONTACTALLOWANCE" type="tns:char1" minOccurs="0"/>
     <xsd:element name="PARTNEREXTERNAL" type="tns:char20" minOccurs="0"/>
     <xsd:element name="TITLELETTER" type="tns:char50"/>
     <xsd:element name="NOTRELEASED" type="tns:char1" minOccurs="0"/>
     <xsd:element name="COMM_TYPE" type="tns:char3" minOccurs="0"/>
     <xsd:element name="PRINT_MODE" type="tns:char1" minOccurs="0"/>
    </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="BAPIADPRT">
    <xsd:sequence>
     <xsd:element name="STD_NO" type="tns:char1" minOccurs="0"/>
     <xsd:element name="PRINT_DEST" type="tns:char4" minOccurs="0"/>
     <xsd:element name="STD_RECIP" type="tns:char1" minOccurs="0"/>
     <xsd:element name="HOME_FLAG" type="tns:char1" minOccurs="0"/>
     <xsd:element name="CONSNUMBER" type="tns:numeric3"/>
     <xsd:element name="ERRORFLAG" type="tns:char1" minOccurs="0"/>
     <xsd:element name="FLG_NOUSE" type="tns:char1" minOccurs="0"/>
     <xsd:element name="VALID_FROM" type="tns:char14" minOccurs="0"/>
     <xsd:element name="VALID_TO" type="tns:char14" minOccurs="0"/>
    </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="BAPIBUS1006_CENTRAL_PERSON">
    <xsd:sequence>
     <xsd:element name="FIRSTNAME" type="tns:char40" minOccurs="0"/>
     <xsd:element name="LASTNAME" type="tns:char40" minOccurs="0"/>
     <xsd:element name="BIRTHNAME" type="tns:char40" minOccurs="0"/>
     <xsd:element name="MIDDLENAME" type="tns:char40" minOccurs="0"/>
     <xsd:element name="SECONDNAME" type="tns:char40" minOccurs="0"/>
     <xsd:element name="TITLE_ACA1" type="tns:char4" minOccurs="0"/>
     <xsd:element name="TITLE_ACA2" type="tns:char4" minOccurs="0"/>
     <xsd:element name="TITLE_SPPL" type="tns:char4" minOccurs="0"/>
     <xsd:element name="PREFIX1" type="tns:char4" minOccurs="0"/>
     <xsd:element name="PREFIX2" type="tns:char4" minOccurs="0"/>
     <xsd:element name="NICKNAME" type="tns:char40" minOccurs="0"/>
     <xsd:element name="INITIALS" type="tns:char10" minOccurs="0"/>
     <xsd:element name="NAMEFORMAT" type="tns:char2" minOccurs="0"/>
     <xsd:element name="NAMCOUNTRY" type="tns:char3" minOccurs="0"/>
     <xsd:element name="NAMCOUNTRYISO" type="tns:char2" minOccurs="0"/>
     <xsd:element name="SEX" type="tns:char1" minOccurs="0"/>
     <xsd:element name="BIRTHPLACE" type="tns:char40" minOccurs="0"/>
     <xsd:element name="BIRTHDATE" type="tns:date10" minOccurs="0"/>
     <xsd:element name="DEATHDATE" type="tns:date10" minOccurs="0"/>
     <xsd:element name="MARITALSTATUS" type="tns:char1" minOccurs="0"/>
     <xsd:element name="CORRESPONDLANGUAGE" type="tns:lang" minOccurs="0"/>
     <xsd:element name="CORRESPONDLANGUAGEISO" type="tns:char2" minOccurs="0"/>
     <xsd:element name="FULLNAME" type="tns:char80" minOccurs="0"/>
     <xsd:element name="EMPLOYER" type="tns:char35" minOccurs="0"/>
     <xsd:element name="OCCUPATION" type="tns:char4" minOccurs="0"/>
     <xsd:element name="NATIONALITY" type="tns:char3" minOccurs="0"/>
     <xsd:element name="NATIONALITYISO" type="tns:char2" minOccurs="0"/>
     <xsd:element name="COUNTRYORIGIN" type="tns:char3" minOccurs="0"/>
     <xsd:element name="BIRTHDT_STATUS" type="tns:char1" minOccurs="0"/>
     <xsd:element name="GENDER" type="tns:char1" minOccurs="0"/>
    </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="BAPIADTEL">
    <xsd:sequence>
     <xsd:element name="COUNTRY" type="tns:char3" minOccurs="0"/>
     <xsd:element name="COUNTRYISO" type="tns:char2" minOccurs="0"/>
     <xsd:element name="STD_NO" type="tns:char1" minOccurs="0"/>
     <xsd:element name="TELEPHONE" type="tns:char30" minOccurs="0"/>
     <xsd:element name="EXTENSION" type="tns:char10" minOccurs="0"/>
     <xsd:element name="TEL_NO" type="tns:char30" minOccurs="0"/>
     <xsd:element name="CALLER_NO" type="tns:char30" minOccurs="0"/>
     <xsd:element name="STD_RECIP" type="tns:char1" minOccurs="0"/>
     <xsd:element name="R_3_USER" type="tns:char1" minOccurs="0"/>
     <xsd:element name="HOME_FLAG" type="tns:char1" minOccurs="0"/>
     <xsd:element name="CONSNUMBER" type="tns:numeric3" minOccurs="0"/>
     <xsd:element name="ERRORFLAG" type="tns:char1" minOccurs="0"/>
     <xsd:element name="FLG_NOUSE" type="tns:char1" minOccurs="0"/>
     <xsd:element name="VALID_FROM" type="tns:char14" minOccurs="0"/>
     <xsd:element name="VALID_TO" type="tns:char14" minOccurs="0"/>
    </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="BAPIADSMTP">
    <xsd:sequence>
     <xsd:element name="STD_NO" type="tns:char1" minOccurs="0"/>
     <xsd:element name="E_MAIL" type="tns:char241"/>
     <xsd:element name="EMAIL_SRCH" type="tns:char20" minOccurs="0"/>
     <xsd:element name="STD_RECIP" type="tns:char1" minOccurs="0"/>
     <xsd:element name="R_3_USER" type="tns:char1" minOccurs="0"/>
     <xsd:element name="ENCODE" type="tns:char1" minOccurs="0"/>
     <xsd:element name="TNEF" type="tns:char1" minOccurs="0"/>
     <xsd:element name="HOME_FLAG" type="tns:char1" minOccurs="0"/>
     <xsd:element name="CONSNUMBER" type="tns:numeric3" minOccurs="0"/>
     <xsd:element name="ERRORFLAG" type="tns:char1" minOccurs="0"/>
     <xsd:element name="FLG_NOUSE" type="tns:char1" minOccurs="0"/>
     <xsd:element name="VALID_FROM" type="tns:char14" minOccurs="0"/>
     <xsd:element name="VALID_TO" type="tns:char14" minOccurs="0"/>
    </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="BAPIBUS1006_CENTRAL_ORGAN">
    <xsd:sequence>
     <xsd:element name="NAME1" type="tns:char40" minOccurs="0"/>
     <xsd:element name="NAME2" type="tns:char40" minOccurs="0"/>
     <xsd:element name="NAME3" type="tns:char40" minOccurs="0"/>
     <xsd:element name="NAME4" type="tns:char40" minOccurs="0"/>
     <xsd:element name="LEGALFORM" type="tns:char2" minOccurs="0"/>
     <xsd:element name="INDUSTRYSECTOR" type="tns:char10" minOccurs="0"/>
     <xsd:element name="FOUNDATIONDATE" type="tns:date10" minOccurs="0"/>
     <xsd:element name="LIQUIDATIONDATE" type="tns:date10" minOccurs="0"/>
     <xsd:element name="LOC_NO_1" type="tns:numeric7"/>
     <xsd:element name="LOC_NO_2" type="tns:numeric5"/>
     <xsd:element name="CHK_DIGIT" type="tns:numeric1"/>
     <xsd:element name="LEGALORG" type="tns:char2" minOccurs="0"/>
    </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="BAPIADX400">
    <xsd:sequence>
     <xsd:element name="STD_NO" type="tns:char1" minOccurs="0"/>
     <xsd:element name="COUNTRY" type="tns:char3" minOccurs="0"/>
     <xsd:element name="COUNTRYISO" type="tns:char2" minOccurs="0"/>
     <xsd:element name="ADM_DOM" type="tns:char16"/>
     <xsd:element name="PRIV_DOM" type="tns:char16"/>
     <xsd:element name="ORGANIZATN" type="tns:char64"/>
     <xsd:element name="ORG_UNIT_1" type="tns:char32" minOccurs="0"/>
     <xsd:element name="ORG_UNIT_2" type="tns:char32" minOccurs="0"/>
     <xsd:element name="ORG_UNIT_3" type="tns:char32" minOccurs="0"/>
     <xsd:element name="ORG_UNIT_4" type="tns:char32" minOccurs="0"/>
     <xsd:element name="LASTNAME" type="tns:char40" minOccurs="0"/>
     <xsd:element name="FIRSTNAME" type="tns:char16"/>
     <xsd:element name="INITIALS" type="tns:char5"/>
     <xsd:element name="GENERATION" type="tns:char3" minOccurs="0"/>
     <xsd:element name="X_121_ADDR" type="tns:char15"/>
     <xsd:element name="TERM_ID" type="tns:char24"/>
     <xsd:element name="TERM_TYPE" type="tns:char1" minOccurs="0"/>
     <xsd:element name="UANID" type="tns:char32" minOccurs="0"/>
     <xsd:element name="DDA_TYPE1" type="tns:char8"/>
     <xsd:element name="DDA_VALUE1" type="tns:char128"/>
     <xsd:element name="DDA_TYPE2" type="tns:char8"/>
     <xsd:element name="DDA_VALUE2" type="tns:char128"/>
     <xsd:element name="DDA_TYPE3" type="tns:char8"/>
     <xsd:element name="DDA_VALUE3" type="tns:char128"/>
     <xsd:element name="DDA_TYPE4" type="tns:char8"/>
     <xsd:element name="DDA_VALUE4" type="tns:char128"/>
     <xsd:element name="STD_RECIP" type="tns:char1" minOccurs="0"/>
     <xsd:element name="R_3_USER" type="tns:char1" minOccurs="0"/>
     <xsd:element name="TXT_ENCODE" type="tns:char1" minOccurs="0"/>
     <xsd:element name="TNEF" type="tns:char1" minOccurs="0"/>
     <xsd:element name="HOME_FLAG" type="tns:char1" minOccurs="0"/>
     <xsd:element name="CONSNUMBER" type="tns:numeric3"/>
     <xsd:element name="ERRORFLAG" type="tns:char1" minOccurs="0"/>
     <xsd:element name="FLG_NOUSE" type="tns:char1" minOccurs="0"/>
     <xsd:element name="VALID_FROM" type="tns:char14" minOccurs="0"/>
     <xsd:element name="VALID_TO" type="tns:char14" minOccurs="0"/>
    </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="BAPIADTTX">
    <xsd:sequence>
     <xsd:element name="COUNTRY" type="tns:char3" minOccurs="0"/>
     <xsd:element name="COUNTRYISO" type="tns:char2" minOccurs="0"/>
     <xsd:element name="STD_NO" type="tns:char1" minOccurs="0"/>
     <xsd:element name="TELETEX" type="tns:char30" minOccurs="0"/>
     <xsd:element name="STD_RECIP" type="tns:char1" minOccurs="0"/>
     <xsd:element name="R_3_USER" type="tns:char1" minOccurs="0"/>
     <xsd:element name="HOME_FLAG" type="tns:char1" minOccurs="0"/>
     <xsd:element name="CONSNUMBER" type="tns:numeric3"/>
     <xsd:element name="ERRORFLAG" type="tns:char1" minOccurs="0"/>
     <xsd:element name="FLG_NOUSE" type="tns:char1" minOccurs="0"/>
     <xsd:element name="VALID_FROM" type="tns:char14" minOccurs="0"/>
     <xsd:element name="VALID_TO" type="tns:char14" minOccurs="0"/>
    </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="BAPIADUSE">
    <xsd:sequence>
     <xsd:element name="COMM_TYPE" type="tns:char3" minOccurs="0"/>
     <xsd:element name="CONSNUMBER" type="tns:numeric3"/>
     <xsd:element name="COMM_USAGE" type="tns:char10" minOccurs="0"/>
     <xsd:element name="VALID_TO" type="tns:char14" minOccurs="0"/>
     <xsd:element name="VALID_FROM" type="tns:char14" minOccurs="0"/>
     <xsd:element name="DEF_USAGE" type="tns:char1" minOccurs="0"/>
     <xsd:element name="ERRORFLAG" type="tns:char1" minOccurs="0"/>
    </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="BAPIAD_REM">
    <xsd:sequence>
     <xsd:element name="ADDR_VERS" type="tns:char1" minOccurs="0"/>
     <xsd:element name="LANGU" type="tns:lang"/>
     <xsd:element name="LANGU_ISO" type="tns:char2" minOccurs="0"/>
     <xsd:element name="ADR_NOTES" type="tns:char50"/>
     <xsd:element name="ERRORFLAG" type="tns:char1" minOccurs="0"/>
    </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="BAPIADTLX">
    <xsd:sequence>
     <xsd:element name="COUNTRY" type="tns:char3" minOccurs="0"/>
     <xsd:element name="COUNTRYISO" type="tns:char2" minOccurs="0"/>
     <xsd:element name="STD_NO" type="tns:char1" minOccurs="0"/>
     <xsd:element name="TELEX_NO" type="tns:char30" minOccurs="0"/>
     <xsd:element name="STD_RECIP" type="tns:char1" minOccurs="0"/>
     <xsd:element name="R_3_USER" type="tns:char1" minOccurs="0"/>
     <xsd:element name="HOME_FLAG" type="tns:char1" minOccurs="0"/>
     <xsd:element name="CONSNUMBER" type="tns:numeric3"/>
     <xsd:element name="ERRORFLAG" type="tns:char1" minOccurs="0"/>
     <xsd:element name="FLG_NOUSE" type="tns:char1" minOccurs="0"/>
     <xsd:element name="VALID_FROM" type="tns:char14" minOccurs="0"/>
     <xsd:element name="VALID_TO" type="tns:char14" minOccurs="0"/>
    </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="TABLE_OF_BAPIADURI">
    <xsd:sequence>
     <xsd:element name="item" type="tns:BAPIADURI" minOccurs="0" maxOccurs="unbounded"/>
    </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="TABLE_OF_BAPICOMREM">
    <xsd:sequence>
     <xsd:element name="item" type="tns:BAPICOMREM" minOccurs="0" maxOccurs="unbounded"/>
    </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="TABLE_OF_BAPIADRML">
    <xsd:sequence>
     <xsd:element name="item" type="tns:BAPIADRML" minOccurs="0" maxOccurs="unbounded"/>
    </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="TABLE_OF_BAPIADRFC">
    <xsd:sequence>
     <xsd:element name="item" type="tns:BAPIADRFC" minOccurs="0" maxOccurs="unbounded"/>
    </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="TABLE_OF_BAPIADFAX">
    <xsd:sequence>
     <xsd:element name="item" type="tns:BAPIADFAX" minOccurs="0" maxOccurs="unbounded"/>
    </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="TABLE_OF_BAPIADPAG">
    <xsd:sequence>
     <xsd:element name="item" type="tns:BAPIADPAG" minOccurs="0" maxOccurs="unbounded"/>
    </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="TABLE_OF_BAPIBUS1006_ADDRESS_DUPLICATES">
    <xsd:sequence>
     <xsd:element name="item" type="tns:BAPIBUS1006_ADDRESS_DUPLICATES" minOccurs="0" maxOccurs="unbounded"/>
    </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="TABLE_OF_BAPIADSSF">
    <xsd:sequence>
     <xsd:element name="item" type="tns:BAPIADSSF" minOccurs="0" maxOccurs="unbounded"/>
    </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="TABLE_OF_BAPIRET2">
    <xsd:sequence>
     <xsd:element name="item" type="tns:BAPIRET2" minOccurs="0" maxOccurs="unbounded"/>
    </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="TABLE_OF_BAPIADPRT">
    <xsd:sequence>
     <xsd:element name="item" type="tns:BAPIADPRT" minOccurs="0" maxOccurs="unbounded"/>
    </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="TABLE_OF_BAPIADTEL">
    <xsd:sequence>
     <xsd:element name="item" type="tns:BAPIADTEL" minOccurs="0" maxOccurs="unbounded"/>
    </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="TABLE_OF_BAPIADSMTP">
    <xsd:sequence>
     <xsd:element name="item" type="tns:BAPIADSMTP" minOccurs="0" maxOccurs="unbounded"/>
    </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="TABLE_OF_BAPIADX400">
    <xsd:sequence>
     <xsd:element name="item" type="tns:BAPIADX400" minOccurs="0" maxOccurs="unbounded"/>
    </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="TABLE_OF_BAPIADTTX">
    <xsd:sequence>
     <xsd:element name="item" type="tns:BAPIADTTX" minOccurs="0" maxOccurs="unbounded"/>
    </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="TABLE_OF_BAPIADUSE">
    <xsd:sequence>
     <xsd:element name="item" type="tns:BAPIADUSE" minOccurs="0" maxOccurs="unbounded"/>
    </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="TABLE_OF_BAPIAD_REM">
    <xsd:sequence>
     <xsd:element name="item" type="tns:BAPIAD_REM" minOccurs="0" maxOccurs="unbounded"/>
    </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="TABLE_OF_BAPIADTLX">
    <xsd:sequence>
     <xsd:element name="item" type="tns:BAPIADTLX" minOccurs="0" maxOccurs="unbounded"/>
    </xsd:sequence>
   </xsd:complexType>
   <xsd:element name="BAPI_BUPA_CREATE_FROM_DATA">
    <xsd:complexType>
     <xsd:sequence>
      <xsd:element name="ACCEPT_ERROR" type="tns:char1" minOccurs="0"/>
      <xsd:element name="ADDRESSDATA" type="tns:BAPIBUS1006_ADDRESS" minOccurs="0"/>
      <xsd:element name="ADDRESSDUPLICATES" type="tns:TABLE_OF_BAPIBUS1006_ADDRESS_DUPLICATES" minOccurs="0"/>
      <xsd:element name="ADDRESSNOTES" type="tns:TABLE_OF_BAPIAD_REM" minOccurs="0"/>
      <xsd:element name="BUSINESSPARTNEREXTERN" type="tns:char10" minOccurs="0"/>
      <xsd:element name="CENTRALDATA" type="tns:BAPIBUS1006_CENTRAL"/>
      <xsd:element name="CENTRALDATAGROUP" type="tns:BAPIBUS1006_CENTRAL_GROUP" minOccurs="0"/>
      <xsd:element name="CENTRALDATAORGANIZATION" type="tns:BAPIBUS1006_CENTRAL_ORGAN" minOccurs="0"/>
      <xsd:element name="CENTRALDATAPERSON" type="tns:BAPIBUS1006_CENTRAL_PERSON" minOccurs="0"/>
      <xsd:element name="COMMUNICATIONNOTES" type="tns:TABLE_OF_BAPICOMREM" minOccurs="0"/>
      <xsd:element name="COMMUNICATIONNOTESNONADDRESS" type="tns:TABLE_OF_BAPICOMREM" minOccurs="0"/>
      <xsd:element name="COMMUNICATIONUSAGE" type="tns:TABLE_OF_BAPIADUSE" minOccurs="0"/>
      <xsd:element name="COMMUNICATIONUSAGENONADDRESS" type="tns:TABLE_OF_BAPIADUSE" minOccurs="0"/>
      <xsd:element name="DUPLICATE_MESSAGE_TYPE" type="tns:char1" minOccurs="0"/>
      <xsd:element name="E_MAILDATA" type="tns:TABLE_OF_BAPIADSMTP" minOccurs="0"/>
      <xsd:element name="E_MAILDATANONADDRESS" type="tns:TABLE_OF_BAPIADSMTP" minOccurs="0"/>
      <xsd:element name="FAXDATA" type="tns:TABLE_OF_BAPIADFAX" minOccurs="0"/>
      <xsd:element name="FAXDATANONADDRESS" type="tns:TABLE_OF_BAPIADFAX" minOccurs="0"/>
      <xsd:element name="PAGADDRESSDATA" type="tns:TABLE_OF_BAPIADPAG" minOccurs="0"/>
      <xsd:element name="PAGADDRESSDATANONADDRESS" type="tns:TABLE_OF_BAPIADPAG" minOccurs="0"/>
      <xsd:element name="PARTNERCATEGORY" type="tns:char1" minOccurs="0"/>
      <xsd:element name="PARTNERGROUP" type="tns:char4" minOccurs="0"/>
      <xsd:element name="PRTADDRESSDATA" type="tns:TABLE_OF_BAPIADPRT" minOccurs="0"/>
      <xsd:element name="PRTADDRESSDATANONADDRESS" type="tns:TABLE_OF_BAPIADPRT" minOccurs="0"/>
      <xsd:element name="RETURN" type="tns:TABLE_OF_BAPIRET2" minOccurs="0"/>
      <xsd:element name="RFCADDRESSDATA" type="tns:TABLE_OF_BAPIADRFC" minOccurs="0"/>
      <xsd:element name="RFCADDRESSDATANONADDRESS" type="tns:TABLE_OF_BAPIADRFC" minOccurs="0"/>
      <xsd:element name="RMLADDRESSDATA" type="tns:TABLE_OF_BAPIADRML" minOccurs="0"/>
      <xsd:element name="RMLADDRESSDATANONADDRESS" type="tns:TABLE_OF_BAPIADRML" minOccurs="0"/>
      <xsd:element name="SSFADDRESSDATA" type="tns:TABLE_OF_BAPIADSSF" minOccurs="0"/>
      <xsd:element name="SSFADDRESSDATANONADDRESS" type="tns:TABLE_OF_BAPIADSSF" minOccurs="0"/>
      <xsd:element name="TELEFONDATA" type="tns:TABLE_OF_BAPIADTEL" minOccurs="0"/>
      <xsd:element name="TELEFONDATANONADDRESS" type="tns:TABLE_OF_BAPIADTEL" minOccurs="0"/>
      <xsd:element name="TELETEXDATA" type="tns:TABLE_OF_BAPIADTTX" minOccurs="0"/>
      <xsd:element name="TELETEXDATANONADDRESS" type="tns:TABLE_OF_BAPIADTTX" minOccurs="0"/>
      <xsd:element name="TELEXDATA" type="tns:TABLE_OF_BAPIADTLX" minOccurs="0"/>
      <xsd:element name="TELEXDATANONADDRESS" type="tns:TABLE_OF_BAPIADTLX" minOccurs="0"/>
      <xsd:element name="URIADDRESSDATA" type="tns:TABLE_OF_BAPIADURI" minOccurs="0"/>
      <xsd:element name="URIADDRESSDATANONADDRESS" type="tns:TABLE_OF_BAPIADURI" minOccurs="0"/>
      <xsd:element name="X400ADDRESSDATA" type="tns:TABLE_OF_BAPIADX400" minOccurs="0"/>
      <xsd:element name="X400ADDRESSDATANONADDRESS" type="tns:TABLE_OF_BAPIADX400" minOccurs="0"/>
     </xsd:sequence>
    </xsd:complexType>
   </xsd:element>
   <xsd:element name="BAPI_BUPA_CREATE_FROM_DATAResponse">
    <xsd:complexType>
     <xsd:sequence>
      <xsd:element name="ADDRESSDUPLICATES" type="tns:TABLE_OF_BAPIBUS1006_ADDRESS_DUPLICATES" minOccurs="0"/>
      <xsd:element name="ADDRESSNOTES" type="tns:TABLE_OF_BAPIAD_REM" minOccurs="0"/>
      <xsd:element name="BUSINESSPARTNER" type="tns:char10" minOccurs="0"/>
      <xsd:element name="COMMUNICATIONNOTES" type="tns:TABLE_OF_BAPICOMREM" minOccurs="0"/>
      <xsd:element name="COMMUNICATIONNOTESNONADDRESS" type="tns:TABLE_OF_BAPICOMREM" minOccurs="0"/>
      <xsd:element name="COMMUNICATIONUSAGE" type="tns:TABLE_OF_BAPIADUSE" minOccurs="0"/>
      <xsd:element name="COMMUNICATIONUSAGENONADDRESS" type="tns:TABLE_OF_BAPIADUSE" minOccurs="0"/>
      <xsd:element name="E_MAILDATA" type="tns:TABLE_OF_BAPIADSMTP" minOccurs="0"/>
      <xsd:element name="E_MAILDATANONADDRESS" type="tns:TABLE_OF_BAPIADSMTP" minOccurs="0"/>
      <xsd:element name="FAXDATA" type="tns:TABLE_OF_BAPIADFAX" minOccurs="0"/>
      <xsd:element name="FAXDATANONADDRESS" type="tns:TABLE_OF_BAPIADFAX" minOccurs="0"/>
      <xsd:element name="PAGADDRESSDATA" type="tns:TABLE_OF_BAPIADPAG" minOccurs="0"/>
      <xsd:element name="PAGADDRESSDATANONADDRESS" type="tns:TABLE_OF_BAPIADPAG" minOccurs="0"/>
      <xsd:element name="PRTADDRESSDATA" type="tns:TABLE_OF_BAPIADPRT" minOccurs="0"/>
      <xsd:element name="PRTADDRESSDATANONADDRESS" type="tns:TABLE_OF_BAPIADPRT" minOccurs="0"/>
      <xsd:element name="RETURN" type="tns:TABLE_OF_BAPIRET2" minOccurs="0"/>
      <xsd:element name="RFCADDRESSDATA" type="tns:TABLE_OF_BAPIADRFC" minOccurs="0"/>
      <xsd:element name="RFCADDRESSDATANONADDRESS" type="tns:TABLE_OF_BAPIADRFC" minOccurs="0"/>
      <xsd:element name="RMLADDRESSDATA" type="tns:TABLE_OF_BAPIADRML" minOccurs="0"/>
      <xsd:element name="RMLADDRESSDATANONADDRESS" type="tns:TABLE_OF_BAPIADRML" minOccurs="0"/>
      <xsd:element name="SSFADDRESSDATA" type="tns:TABLE_OF_BAPIADSSF" minOccurs="0"/>
      <xsd:element name="SSFADDRESSDATANONADDRESS" type="tns:TABLE_OF_BAPIADSSF" minOccurs="0"/>
      <xsd:element name="TELEFONDATA" type="tns:TABLE_OF_BAPIADTEL" minOccurs="0"/>
      <xsd:element name="TELEFONDATANONADDRESS" type="tns:TABLE_OF_BAPIADTEL" minOccurs="0"/>
      <xsd:element name="TELETEXDATA" type="tns:TABLE_OF_BAPIADTTX" minOccurs="0"/>
      <xsd:element name="TELETEXDATANONADDRESS" type="tns:TABLE_OF_BAPIADTTX" minOccurs="0"/>
      <xsd:element name="TELEXDATA" type="tns:TABLE_OF_BAPIADTLX" minOccurs="0"/>
      <xsd:element name="TELEXDATANONADDRESS" type="tns:TABLE_OF_BAPIADTLX" minOccurs="0"/>
      <xsd:element name="URIADDRESSDATA" type="tns:TABLE_OF_BAPIADURI" minOccurs="0"/>
      <xsd:element name="URIADDRESSDATANONADDRESS" type="tns:TABLE_OF_BAPIADURI" minOccurs="0"/>
      <xsd:element name="X400ADDRESSDATA" type="tns:TABLE_OF_BAPIADX400" minOccurs="0"/>
      <xsd:element name="X400ADDRESSDATANONADDRESS" type="tns:TABLE_OF_BAPIADX400" minOccurs="0"/>
     </xsd:sequence>
    </xsd:complexType>
   </xsd:element>
  </xsd:schema>
 </wsdl:types>
 <wsdl:message name="BAPI_BUPA_CREATE_FROM_DATA">
  <wsdl:part name="parameters" element="tns:BAPI_BUPA_CREATE_FROM_DATA"/>
 </wsdl:message>
 <wsdl:message name="BAPI_BUPA_CREATE_FROM_DATAResponse">
  <wsdl:part name="parameter" element="tns:BAPI_BUPA_CREATE_FROM_DATAResponse"/>
 </wsdl:message>
 <wsdl:portType name="zBAPI_BUPA_CREATE_FROM_DATA">
  <wsdl:documentation>
   <sapdoc:sapdoc xmlns:sapdoc="urn:sap:esi:documentation">
    <sapdoc:docitem docURL="http://ldai1emo.wdf.sap.corp:50000/sap/bc/esdt/docu/sd_text?sap-client=770&amp;sd_name=ZBAPI_BUPA_CREATE_FROM_DATA"/>
   </sapdoc:sapdoc>
  </wsdl:documentation>
  <wsp:Policy>
   <wsp:PolicyReference URI="#IF_IF_zBAPI_BUPA_CREATE_FROM_DATA"/>
  </wsp:Policy>
  <wsdl:operation name="BAPI_BUPA_CREATE_FROM_DATA">
   <wsp:Policy>
    <wsp:PolicyReference URI="#OP_IF_OP_BAPI_BUPA_CREATE_FROM_DATA"/>
   </wsp:Policy>
   <wsdl:input message="tns:BAPI_BUPA_CREATE_FROM_DATA"/>
   <wsdl:output message="tns:BAPI_BUPA_CREATE_FROM_DATAResponse"/>
  </wsdl:operation>
 </wsdl:portType>
</wsdl:definitions>