Resources/schemas/Wsdl/SAP_Cloud_for_Customer_Integration_with_SAP_ERP - DOC_CLAS_CO_APCRM_ORDER_REQ_PROD_CONFIG.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions targetNamespace="http://sap.com/xi/AP/CRM/Global" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsoap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:rfc="urn:sap-com:sap:rfc:functions" xmlns:tns="http://sap.com/xi/AP/CRM/Global" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:n1="http://xiTest.com/xi/test" xmlns:n2="http://sap.com/xi/SAPGlobal20/Global" xmlns:n3="http://sap.com/xi/AP/Common/Global" xmlns:n4="http://sap.com/xi/BASIS/Global" xmlns:n5="http://sap.com/xi/AP/Common/GDT" xmlns:n6="http://sap.com/xi/Common/DataTypes">
 <wsdl:documentation>
  <sidl:sidl xmlns:sidl="http://www.sap.com/2007/03/sidl"/>
 </wsdl:documentation>
 <wsp:UsingPolicy wsdl:required="true"/>
 <wsp:Policy wsu:Id="IF_IF_SalesOrderRequestProductConfigurationOut">
  <sapsession:Session xmlns:sapsession="http://www.sap.com/webas/630/soap/features/session/">
   <sapsession:enableSession>false</sapsession:enableSession>
  </sapsession:Session>
 </wsp:Policy>
 <wsp:Policy wsu:Id="OP_IF_OP_ProductConfigurationQueryResponse_In">
  <sapcomhnd:enableCommit xmlns:sapcomhnd="http://www.sap.com/NW05/soap/features/commit/">false</sapcomhnd:enableCommit>
  <sapblock:enableBlocking xmlns:sapblock="http://www.sap.com/NW05/soap/features/blocking/">true</sapblock:enableBlocking>
  <saptrhnw05:required xmlns:saptrhnw05="http://www.sap.com/NW05/soap/features/transaction/">no</saptrhnw05:required>
  <saprmnw05:enableWSRM xmlns:saprmnw05="http://www.sap.com/NW05/soap/features/wsrm/">false</saprmnw05:enableWSRM>
 </wsp:Policy>
 <wsdl:types>
  <xsd:schema targetNamespace="http://xiTest.com/xi/test" xmlns:ccts="urn:un:unece:uncefact:documentation:standard:CoreComponentsTechnicalSpecification:3.0" xmlns:xi0="http://xiTest.com/xi/test" xmlns:xi1="http://sap.com/xi/SAPGlobal20/Global" xmlns:xi2="http://sap.com/xi/AP/CRM/Global" xmlns:xi3="http://sap.com/xi/AP/Common/Global" xmlns:xi4="http://sap.com/xi/BASIS/Global" xmlns:xi5="http://sap.com/xi/AP/Common/GDT" xmlns:xi9="http://sap.com/xi/Common/DataTypes" xmlns="http://xiTest.com/xi/test">
   <xsd:import namespace="http://sap.com/xi/AP/Common/GDT"/>
   <xsd:complexType name="BusDocMsgHeaderTestPCs">
    <xsd:sequence>
     <xsd:element name="LocalProcessComponentCode" type="xi5:ProcessComponentCode"/>
     <xsd:element name="RemoteProcessComponentCode" type="xi5:ProcessComponentCode"/>
    </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="BusinessConfigurationSimulationInformation">
    <xsd:sequence>
     <xsd:element name="TestDataContainerName" type="xi5:LANGUAGEINDEPENDENT_MEDIUM_Name"/>
     <xsd:element name="VariantID" type="xi5:VersionID"/>
     <xsd:element name="ParameterName" type="xi5:LANGUAGEINDEPENDENT_MEDIUM_Name"/>
    </xsd:sequence>
   </xsd:complexType>
   <xsd:group name="BusDocMsgHeaderTestContainer">
    <xsd:sequence>
     <xsd:element name="TestID" minOccurs="0" form="qualified" type="xi5:BusinessScopeID"/>
     <xsd:element name="TestRunID" minOccurs="0" form="qualified" type="xi5:BusinessScopeInstanceID"/>
     <xsd:element name="ProcessComponentPair" minOccurs="0" form="qualified" maxOccurs="unbounded" type="BusDocMsgHeaderTestPCs"/>
     <xsd:element name="BusinessConfigurationSimulationInformation" minOccurs="0" form="qualified" maxOccurs="unbounded" type="BusinessConfigurationSimulationInformation"/>
    </xsd:sequence>
   </xsd:group>
   <xsd:attributeGroup name="BusDocMsgHeaderTestContainer"/>
  </xsd:schema>
  <xsd:schema targetNamespace="http://sap.com/xi/SAPGlobal20/Global" xmlns:ccts="urn:un:unece:uncefact:documentation:standard:CoreComponentsTechnicalSpecification:3.0" xmlns:xi0="http://xiTest.com/xi/test" xmlns:xi1="http://sap.com/xi/SAPGlobal20/Global" xmlns:xi2="http://sap.com/xi/AP/CRM/Global" xmlns:xi3="http://sap.com/xi/AP/Common/Global" xmlns:xi4="http://sap.com/xi/BASIS/Global" xmlns:xi5="http://sap.com/xi/AP/Common/GDT" xmlns:xi9="http://sap.com/xi/Common/DataTypes" xmlns="http://sap.com/xi/SAPGlobal20/Global">
   <xsd:import namespace="http://sap.com/xi/AP/Common/Global"/>
   <xsd:import namespace="http://sap.com/xi/AP/CRM/Global"/>
   <xsd:element name="ProductConfigurationQueryResponse_sync" type="xi2:ProductConfigurationResponse"/>
   <xsd:element name="ProductConfigurationQuery_sync" type="xi2:ProductConfigurationRequest"/>
   <xsd:element name="StandardMessageFault">
    <xsd:complexType>
     <xsd:sequence>
      <xsd:element name="standard" type="xi3:ExchangeFaultData"/>
     </xsd:sequence>
    </xsd:complexType>
   </xsd:element>
  </xsd:schema>
  <xsd:schema targetNamespace="http://sap.com/xi/AP/CRM/Global" xmlns:ccts="urn:un:unece:uncefact:documentation:standard:CoreComponentsTechnicalSpecification:3.0" xmlns:xi0="http://xiTest.com/xi/test" xmlns:xi1="http://sap.com/xi/SAPGlobal20/Global" xmlns:xi2="http://sap.com/xi/AP/CRM/Global" xmlns:xi3="http://sap.com/xi/AP/Common/Global" xmlns:xi4="http://sap.com/xi/BASIS/Global" xmlns:xi5="http://sap.com/xi/AP/Common/GDT" xmlns:xi9="http://sap.com/xi/Common/DataTypes" xmlns="http://sap.com/xi/AP/CRM/Global">
   <xsd:import namespace="http://sap.com/xi/BASIS/Global"/>
   <xsd:import namespace="http://sap.com/xi/Common/DataTypes"/>
   <xsd:import namespace="http://sap.com/xi/AP/Common/GDT"/>
   <xsd:complexType name="ProductConfigurationCharacteristic">
    <xsd:sequence>
     <xsd:element name="ID" type="ProductConfigurationString" minOccurs="0"/>
     <xsd:element name="Name" type="xi5:EXTENDED_Name" minOccurs="0"/>
     <xsd:element name="ReadOnlyIndicator" type="xi5:Indicator" minOccurs="0"/>
     <xsd:element name="RequiredIndicator" type="xi5:Indicator" minOccurs="0"/>
     <xsd:element name="VisibleIndicator" type="xi5:Indicator" minOccurs="0"/>
     <xsd:element name="ConsistentIndicator" type="xi5:Indicator" minOccurs="0"/>
     <xsd:element name="CompleteIndicator" type="xi5:Indicator" minOccurs="0"/>
     <xsd:element name="Value" type="ProductConfigurationValue" minOccurs="0" maxOccurs="unbounded"/>
    </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="ProductConfigurationDetails">
    <xsd:sequence>
     <xsd:element name="UUID" type="xi9:UUID" minOccurs="0"/>
     <xsd:element name="KnowledgeBaseID" type="ProductConfigurationString" minOccurs="0"/>
     <xsd:element name="KnowledgeBaseKey" type="ProductConfigurationKnowledgeBaseKey" minOccurs="0"/>
     <xsd:element name="KnowledgeBaseBuild" type="ProductConfigurationString" minOccurs="0"/>
     <xsd:element name="ConsistentIndicator" type="xi5:Indicator" minOccurs="0"/>
     <xsd:element name="CompleteIndicator" type="xi5:Indicator" minOccurs="0"/>
     <xsd:element name="RootItem" type="ProductConfigurationRootItem" minOccurs="0"/>
     <xsd:element name="ProductKey" type="ProductConfigurationString" minOccurs="0"/>
     <xsd:element name="ProductType" type="ProductConfigurationString" minOccurs="0"/>
    </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="ProductConfigurationKnowledgeBaseKey">
    <xsd:sequence>
     <xsd:element name="LogicalSystemID" type="xi5:IntermediateDocumentLogicalSystemID" minOccurs="0"/>
     <xsd:element name="Name" type="ProductConfigurationString" minOccurs="0"/>
     <xsd:element name="Version" type="ProductConfigurationString" minOccurs="0"/>
    </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="ProductConfigurationRequest">
    <xsd:sequence>
     <xsd:element name="MessageHeader" type="xi5:BusinessDocumentMessageHeader"/>
     <xsd:element name="OrderID" type="xi5:BusinessTransactionDocumentID"/>
     <xsd:element name="ItemID" type="xi5:BusinessTransactionDocumentItemID"/>
     <xsd:element name="ConfigurationUUID" type="xi9:UUID"/>
     <xsd:element name="LanguageCode" type="xi4:LanguageCode" minOccurs="0"/>
    </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="ProductConfigurationResponse">
    <xsd:sequence>
     <xsd:element name="Configuration" type="ProductConfigurationDetails" minOccurs="0" maxOccurs="unbounded"/>
    </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="ProductConfigurationRootItem">
    <xsd:sequence>
     <xsd:element name="ID" type="xi5:BusinessTransactionDocumentItemID" minOccurs="0"/>
     <xsd:element name="Key" type="ProductConfigurationString" minOccurs="0"/>
     <xsd:element name="Type" type="ProductConfigurationString" minOccurs="0"/>
     <xsd:element name="BOMPosition" type="ProductConfigurationString" minOccurs="0"/>
     <xsd:element name="Quantity" type="xi5:Quantity" minOccurs="0"/>
     <xsd:element name="FixedQuantityIndicator" type="xi5:Indicator" minOccurs="0"/>
     <xsd:element name="SalesRelevantIndicator" type="xi5:Indicator" minOccurs="0"/>
     <xsd:element name="ConsistentIndicator" type="xi5:Indicator" minOccurs="0"/>
     <xsd:element name="CompleteIndicator" type="xi5:Indicator" minOccurs="0"/>
     <xsd:element name="Name" type="xi5:EXTENDED_Name" minOccurs="0"/>
     <xsd:element name="Characteristic" type="ProductConfigurationCharacteristic" minOccurs="0" maxOccurs="unbounded"/>
     <xsd:element name="Subitem" type="ProductConfigurationSubItem1" minOccurs="0" maxOccurs="unbounded"/>
    </xsd:sequence>
   </xsd:complexType>
   <xsd:simpleType name="ProductConfigurationString">
    <xsd:restriction base="xsd:string"/>
   </xsd:simpleType>
   <xsd:complexType name="ProductConfigurationSubItem1">
    <xsd:sequence>
     <xsd:element name="ID" type="xi5:BusinessTransactionDocumentItemID" minOccurs="0"/>
     <xsd:element name="ParentID" type="xi5:BusinessTransactionDocumentItemID" minOccurs="0"/>
     <xsd:element name="Key" type="ProductConfigurationString" minOccurs="0"/>
     <xsd:element name="Type" type="ProductConfigurationString" minOccurs="0"/>
     <xsd:element name="BOMPosition" type="ProductConfigurationString" minOccurs="0"/>
     <xsd:element name="Quantity" type="xi5:Quantity" minOccurs="0"/>
     <xsd:element name="FixedQuantityIndicator" type="xi5:Indicator" minOccurs="0"/>
     <xsd:element name="SalesRelevantIndicator" type="xi5:Indicator" minOccurs="0"/>
     <xsd:element name="ConsistentIndicator" type="xi5:Indicator" minOccurs="0"/>
     <xsd:element name="CompleteIndicator" type="xi5:Indicator" minOccurs="0"/>
     <xsd:element name="Name" type="xi5:EXTENDED_Name" minOccurs="0"/>
     <xsd:element name="Characteristic" type="ProductConfigurationCharacteristic" minOccurs="0" maxOccurs="unbounded"/>
     <xsd:element name="Subitem" type="ProductConfigurationSubItem2" minOccurs="0" maxOccurs="unbounded"/>
    </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="ProductConfigurationSubItem10">
    <xsd:sequence>
     <xsd:element name="ID" type="xi5:BusinessTransactionDocumentItemID" minOccurs="0"/>
     <xsd:element name="ParentID" type="xi5:BusinessTransactionDocumentItemID" minOccurs="0"/>
     <xsd:element name="Key" type="ProductConfigurationString" minOccurs="0"/>
     <xsd:element name="Type" type="ProductConfigurationString" minOccurs="0"/>
     <xsd:element name="BOMPosition" type="ProductConfigurationString" minOccurs="0"/>
     <xsd:element name="Quantity" type="xi5:Quantity" minOccurs="0"/>
     <xsd:element name="FixedQuantityIndicator" type="xi5:Indicator" minOccurs="0"/>
     <xsd:element name="SalesRelevantIndicator" type="xi5:Indicator" minOccurs="0"/>
     <xsd:element name="ConsistentIndicator" type="xi5:Indicator" minOccurs="0"/>
     <xsd:element name="CompleteIndicator" type="xi5:Indicator" minOccurs="0"/>
     <xsd:element name="Name" type="xi5:EXTENDED_Name" minOccurs="0"/>
     <xsd:element name="Characteristic" type="ProductConfigurationCharacteristic" minOccurs="0" maxOccurs="unbounded"/>
    </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="ProductConfigurationSubItem2">
    <xsd:sequence>
     <xsd:element name="ID" type="xi5:BusinessTransactionDocumentItemID" minOccurs="0"/>
     <xsd:element name="ParentID" type="xi5:BusinessTransactionDocumentItemID" minOccurs="0"/>
     <xsd:element name="Key" type="ProductConfigurationString" minOccurs="0"/>
     <xsd:element name="Type" type="ProductConfigurationString" minOccurs="0"/>
     <xsd:element name="BOMPosition" type="ProductConfigurationString" minOccurs="0"/>
     <xsd:element name="Quantity" type="xi5:Quantity" minOccurs="0"/>
     <xsd:element name="FixedQuantityIndicator" type="xi5:Indicator" minOccurs="0"/>
     <xsd:element name="SalesRelevantIndicator" type="xi5:Indicator" minOccurs="0"/>
     <xsd:element name="ConsistentIndicator" type="xi5:Indicator" minOccurs="0"/>
     <xsd:element name="CompleteIndicator" type="xi5:Indicator" minOccurs="0"/>
     <xsd:element name="Name" type="xi5:EXTENDED_Name" minOccurs="0"/>
     <xsd:element name="Characteristic" type="ProductConfigurationCharacteristic" minOccurs="0" maxOccurs="unbounded"/>
     <xsd:element name="Subitem" type="ProductConfigurationSubItem3" minOccurs="0" maxOccurs="unbounded"/>
    </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="ProductConfigurationSubItem3">
    <xsd:sequence>
     <xsd:element name="ID" type="xi5:BusinessTransactionDocumentItemID" minOccurs="0"/>
     <xsd:element name="ParentID" type="xi5:BusinessTransactionDocumentItemID" minOccurs="0"/>
     <xsd:element name="Key" type="ProductConfigurationString" minOccurs="0"/>
     <xsd:element name="Type" type="ProductConfigurationString" minOccurs="0"/>
     <xsd:element name="BOMPosition" type="ProductConfigurationString" minOccurs="0"/>
     <xsd:element name="Quantity" type="xi5:Quantity" minOccurs="0"/>
     <xsd:element name="FixedQuantityIndicator" type="xi5:Indicator" minOccurs="0"/>
     <xsd:element name="SalesRelevantIndicator" type="xi5:Indicator" minOccurs="0"/>
     <xsd:element name="ConsistentIndicator" type="xi5:Indicator" minOccurs="0"/>
     <xsd:element name="CompleteIndicator" type="xi5:Indicator" minOccurs="0"/>
     <xsd:element name="Name" type="xi5:EXTENDED_Name" minOccurs="0"/>
     <xsd:element name="Characteristic" type="ProductConfigurationCharacteristic" minOccurs="0" maxOccurs="unbounded"/>
     <xsd:element name="Subitem" type="ProductConfigurationSubItem4" minOccurs="0" maxOccurs="unbounded"/>
    </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="ProductConfigurationSubItem4">
    <xsd:sequence>
     <xsd:element name="ID" type="xi5:BusinessTransactionDocumentItemID" minOccurs="0"/>
     <xsd:element name="ParentID" type="xi5:BusinessTransactionDocumentItemID" minOccurs="0"/>
     <xsd:element name="Key" type="ProductConfigurationString" minOccurs="0"/>
     <xsd:element name="Type" type="ProductConfigurationString" minOccurs="0"/>
     <xsd:element name="BOMPosition" type="ProductConfigurationString" minOccurs="0"/>
     <xsd:element name="Quantity" type="xi5:Quantity" minOccurs="0"/>
     <xsd:element name="FixedQuantityIndicator" type="xi5:Indicator" minOccurs="0"/>
     <xsd:element name="SalesRelevantIndicator" type="xi5:Indicator" minOccurs="0"/>
     <xsd:element name="ConsistentIndicator" type="xi5:Indicator" minOccurs="0"/>
     <xsd:element name="CompleteIndicator" type="xi5:Indicator" minOccurs="0"/>
     <xsd:element name="Name" type="xi5:EXTENDED_Name" minOccurs="0"/>
     <xsd:element name="Characteristic" type="ProductConfigurationCharacteristic" minOccurs="0" maxOccurs="unbounded"/>
     <xsd:element name="Subitem" type="ProductConfigurationSubItem5" minOccurs="0" maxOccurs="unbounded"/>
    </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="ProductConfigurationSubItem5">
    <xsd:sequence>
     <xsd:element name="ID" type="xi5:BusinessTransactionDocumentItemID" minOccurs="0"/>
     <xsd:element name="ParentID" type="xi5:BusinessTransactionDocumentItemID" minOccurs="0"/>
     <xsd:element name="Key" type="ProductConfigurationString" minOccurs="0"/>
     <xsd:element name="Type" type="ProductConfigurationString" minOccurs="0"/>
     <xsd:element name="BOMPosition" type="ProductConfigurationString" minOccurs="0"/>
     <xsd:element name="Quantity" type="xi5:Quantity" minOccurs="0"/>
     <xsd:element name="FixedQuantityIndicator" type="xi5:Indicator" minOccurs="0"/>
     <xsd:element name="SalesRelevantIndicator" type="xi5:Indicator" minOccurs="0"/>
     <xsd:element name="ConsistentIndicator" type="xi5:Indicator" minOccurs="0"/>
     <xsd:element name="CompleteIndicator" type="xi5:Indicator" minOccurs="0"/>
     <xsd:element name="Name" type="xi5:EXTENDED_Name" minOccurs="0"/>
     <xsd:element name="Characteristic" type="ProductConfigurationCharacteristic" minOccurs="0" maxOccurs="unbounded"/>
     <xsd:element name="Subitem" type="ProductConfigurationSubItem6" minOccurs="0" maxOccurs="unbounded"/>
    </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="ProductConfigurationSubItem6">
    <xsd:sequence>
     <xsd:element name="ID" type="xi5:BusinessTransactionDocumentItemID" minOccurs="0"/>
     <xsd:element name="ParentID" type="xi5:BusinessTransactionDocumentItemID" minOccurs="0"/>
     <xsd:element name="Key" type="ProductConfigurationString" minOccurs="0"/>
     <xsd:element name="Type" type="ProductConfigurationString" minOccurs="0"/>
     <xsd:element name="BOMPosition" type="ProductConfigurationString" minOccurs="0"/>
     <xsd:element name="Quantity" type="xi5:Quantity" minOccurs="0"/>
     <xsd:element name="FixedQuantityIndicator" type="xi5:Indicator" minOccurs="0"/>
     <xsd:element name="SalesRelevantIndicator" type="xi5:Indicator" minOccurs="0"/>
     <xsd:element name="ConsistentIndicator" type="xi5:Indicator" minOccurs="0"/>
     <xsd:element name="CompleteIndicator" type="xi5:Indicator" minOccurs="0"/>
     <xsd:element name="Name" type="xi5:EXTENDED_Name" minOccurs="0"/>
     <xsd:element name="Characteristic" type="ProductConfigurationCharacteristic" minOccurs="0" maxOccurs="unbounded"/>
     <xsd:element name="Subitem" type="ProductConfigurationSubItem7" minOccurs="0" maxOccurs="unbounded"/>
    </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="ProductConfigurationSubItem7">
    <xsd:sequence>
     <xsd:element name="ID" type="xi5:BusinessTransactionDocumentItemID" minOccurs="0"/>
     <xsd:element name="ParentID" type="xi5:BusinessTransactionDocumentItemID" minOccurs="0"/>
     <xsd:element name="Key" type="ProductConfigurationString" minOccurs="0"/>
     <xsd:element name="Type" type="ProductConfigurationString" minOccurs="0"/>
     <xsd:element name="BOMPosition" type="ProductConfigurationString" minOccurs="0"/>
     <xsd:element name="Quantity" type="xi5:Quantity" minOccurs="0"/>
     <xsd:element name="FixedQuantityIndicator" type="xi5:Indicator" minOccurs="0"/>
     <xsd:element name="SalesRelevantIndicator" type="xi5:Indicator" minOccurs="0"/>
     <xsd:element name="ConsistentIndicator" type="xi5:Indicator" minOccurs="0"/>
     <xsd:element name="CompleteIndicator" type="xi5:Indicator" minOccurs="0"/>
     <xsd:element name="Name" type="xi5:EXTENDED_Name" minOccurs="0"/>
     <xsd:element name="Characteristic" type="ProductConfigurationCharacteristic" minOccurs="0" maxOccurs="unbounded"/>
     <xsd:element name="Subitem" type="ProductConfigurationSubItem8" minOccurs="0" maxOccurs="unbounded"/>
    </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="ProductConfigurationSubItem8">
    <xsd:sequence>
     <xsd:element name="ID" type="xi5:BusinessTransactionDocumentItemID" minOccurs="0"/>
     <xsd:element name="ParentID" type="xi5:BusinessTransactionDocumentItemID" minOccurs="0"/>
     <xsd:element name="Key" type="ProductConfigurationString" minOccurs="0"/>
     <xsd:element name="Type" type="ProductConfigurationString" minOccurs="0"/>
     <xsd:element name="BOMPosition" type="ProductConfigurationString" minOccurs="0"/>
     <xsd:element name="Quantity" type="xi5:Quantity" minOccurs="0"/>
     <xsd:element name="FixedQuantityIndicator" type="xi5:Indicator" minOccurs="0"/>
     <xsd:element name="SalesRelevantIndicator" type="xi5:Indicator" minOccurs="0"/>
     <xsd:element name="ConsistentIndicator" type="xi5:Indicator" minOccurs="0"/>
     <xsd:element name="CompleteIndicator" type="xi5:Indicator" minOccurs="0"/>
     <xsd:element name="Name" type="xi5:EXTENDED_Name" minOccurs="0"/>
     <xsd:element name="Characteristic" type="ProductConfigurationCharacteristic" minOccurs="0" maxOccurs="unbounded"/>
     <xsd:element name="Subitem" type="ProductConfigurationSubItem9" minOccurs="0" maxOccurs="unbounded"/>
    </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="ProductConfigurationSubItem9">
    <xsd:sequence>
     <xsd:element name="ID" type="xi5:BusinessTransactionDocumentItemID" minOccurs="0"/>
     <xsd:element name="ParentID" type="xi5:BusinessTransactionDocumentItemID" minOccurs="0"/>
     <xsd:element name="Key" type="ProductConfigurationString" minOccurs="0"/>
     <xsd:element name="Type" type="ProductConfigurationString" minOccurs="0"/>
     <xsd:element name="BOMPosition" type="ProductConfigurationString" minOccurs="0"/>
     <xsd:element name="Quantity" type="xi5:Quantity" minOccurs="0"/>
     <xsd:element name="FixedQuantityIndicator" type="xi5:Indicator" minOccurs="0"/>
     <xsd:element name="SalesRelevantIndicator" type="xi5:Indicator" minOccurs="0"/>
     <xsd:element name="ConsistentIndicator" type="xi5:Indicator" minOccurs="0"/>
     <xsd:element name="CompleteIndicator" type="xi5:Indicator" minOccurs="0"/>
     <xsd:element name="Name" type="xi5:EXTENDED_Name" minOccurs="0"/>
     <xsd:element name="Characteristic" type="ProductConfigurationCharacteristic" minOccurs="0" maxOccurs="unbounded"/>
     <xsd:element name="Subitem" type="ProductConfigurationSubItem10" minOccurs="0" maxOccurs="unbounded"/>
    </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="ProductConfigurationValue">
    <xsd:sequence>
     <xsd:element name="Value" type="ProductConfigurationString" minOccurs="0"/>
     <xsd:element name="Author" type="ProductConfigurationString" minOccurs="0"/>
     <xsd:element name="Name" type="xi5:EXTENDED_Name" minOccurs="0"/>
    </xsd:sequence>
   </xsd:complexType>
  </xsd:schema>
  <xsd:schema targetNamespace="http://sap.com/xi/AP/Common/Global" xmlns:ccts="urn:un:unece:uncefact:documentation:standard:CoreComponentsTechnicalSpecification:3.0" xmlns:xi0="http://xiTest.com/xi/test" xmlns:xi1="http://sap.com/xi/SAPGlobal20/Global" xmlns:xi2="http://sap.com/xi/AP/CRM/Global" xmlns:xi3="http://sap.com/xi/AP/Common/Global" xmlns:xi4="http://sap.com/xi/BASIS/Global" xmlns:xi5="http://sap.com/xi/AP/Common/GDT" xmlns:xi9="http://sap.com/xi/Common/DataTypes" xmlns="http://sap.com/xi/AP/Common/Global">
   <xsd:complexType name="ExchangeFaultData">
    <xsd:sequence>
     <xsd:element name="faultText" type="xsd:string"/>
     <xsd:element name="faultUrl" type="xsd:string" minOccurs="0"/>
     <xsd:element name="faultDetail" type="ExchangeLogData" minOccurs="0" maxOccurs="unbounded"/>
    </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="ExchangeLogData">
    <xsd:sequence>
     <xsd:element name="severity" type="xsd:string" minOccurs="0"/>
     <xsd:element name="text" type="xsd:string"/>
     <xsd:element name="url" type="xsd:string" minOccurs="0"/>
     <xsd:element name="id" type="xsd:string" minOccurs="0"/>
    </xsd:sequence>
   </xsd:complexType>
  </xsd:schema>
  <xsd:schema targetNamespace="http://sap.com/xi/BASIS/Global" xmlns:ccts="urn:un:unece:uncefact:documentation:standard:CoreComponentsTechnicalSpecification:3.0" xmlns:xi0="http://xiTest.com/xi/test" xmlns:xi1="http://sap.com/xi/SAPGlobal20/Global" xmlns:xi2="http://sap.com/xi/AP/CRM/Global" xmlns:xi3="http://sap.com/xi/AP/Common/Global" xmlns:xi4="http://sap.com/xi/BASIS/Global" xmlns:xi5="http://sap.com/xi/AP/Common/GDT" xmlns:xi9="http://sap.com/xi/Common/DataTypes" xmlns="http://sap.com/xi/BASIS/Global">
   <xsd:simpleType name="AgencyIdentificationCode">
    <xsd:annotation>
     <xsd:documentation xml:lang="EN">
      <ccts:RepresentationTerm>Code</ccts:RepresentationTerm>
     </xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:token">
     <xsd:enumeration value="1"/>
     <xsd:enumeration value="5"/>
     <xsd:enumeration value="6"/>
     <xsd:enumeration value="16"/>
     <xsd:enumeration value="17"/>
     <xsd:enumeration value="84"/>
     <xsd:enumeration value="107"/>
     <xsd:enumeration value="109"/>
     <xsd:enumeration value="112"/>
     <xsd:enumeration value="113"/>
     <xsd:enumeration value="114"/>
     <xsd:enumeration value="116"/>
     <xsd:enumeration value="117"/>
     <xsd:enumeration value="124"/>
     <xsd:enumeration value="130"/>
     <xsd:enumeration value="131"/>
     <xsd:enumeration value="138"/>
     <xsd:enumeration value="142"/>
     <xsd:enumeration value="146"/>
     <xsd:enumeration value="262"/>
     <xsd:enumeration value="296"/>
     <xsd:enumeration value="310"/>
     <xsd:maxLength value="3"/>
     <xsd:minLength value="1"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="GLOBAL_DateTime">
    <xsd:annotation>
     <xsd:documentation xml:lang="EN">
      <ccts:RepresentationTerm>DateTime</ccts:RepresentationTerm>
     </xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:dateTime">
     <xsd:pattern value="[0-9]{4}-[0-9]{2}-[0-9]{2}T[0-9]{2}:[0-9]{2}:[0-9]{2}(.[0-9]{1,7})?Z"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="LanguageCode">
    <xsd:annotation>
     <xsd:documentation xml:lang="EN">
      <ccts:RepresentationTerm>Code</ccts:RepresentationTerm>
     </xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:language">
     <xsd:maxLength value="2"/>
     <xsd:minLength value="2"/>
    </xsd:restriction>
   </xsd:simpleType>
  </xsd:schema>
  <xsd:schema targetNamespace="http://sap.com/xi/AP/Common/GDT" xmlns:ccts="urn:un:unece:uncefact:documentation:standard:CoreComponentsTechnicalSpecification:3.0" xmlns:xi0="http://xiTest.com/xi/test" xmlns:xi1="http://sap.com/xi/SAPGlobal20/Global" xmlns:xi2="http://sap.com/xi/AP/CRM/Global" xmlns:xi3="http://sap.com/xi/AP/Common/Global" xmlns:xi4="http://sap.com/xi/BASIS/Global" xmlns:xi5="http://sap.com/xi/AP/Common/GDT" xmlns:xi9="http://sap.com/xi/Common/DataTypes" xmlns="http://sap.com/xi/AP/Common/GDT">
   <xsd:import namespace="http://xiTest.com/xi/test"/>
   <xsd:import namespace="http://sap.com/xi/BASIS/Global"/>
   <xsd:complexType name="BusinessDocumentMessageHeader">
    <xsd:sequence>
     <xsd:element name="ID" type="BusinessDocumentMessageID" minOccurs="0"/>
     <xsd:element name="UUID" type="UUID" minOccurs="0"/>
     <xsd:element name="ReferenceID" type="BusinessDocumentMessageID" minOccurs="0"/>
     <xsd:element name="ReferenceUUID" type="UUID" minOccurs="0"/>
     <xsd:element name="CreationDateTime" type="xi4:GLOBAL_DateTime"/>
     <xsd:element name="TestDataIndicator" type="Indicator" minOccurs="0"/>
     <xsd:element name="ReconciliationIndicator" type="Indicator" minOccurs="0"/>
     <xsd:element name="SenderBusinessSystemID" type="BusinessSystemID" minOccurs="0"/>
     <xsd:element name="RecipientBusinessSystemID" type="BusinessSystemID" minOccurs="0"/>
     <xsd:element name="SenderParty" type="BusinessDocumentMessageHeaderParty" minOccurs="0"/>
     <xsd:element name="RecipientParty" type="BusinessDocumentMessageHeaderParty" minOccurs="0" maxOccurs="unbounded"/>
     <xsd:element name="BusinessScope" type="BusinessScope" minOccurs="0" maxOccurs="unbounded"/>
     <xsd:group ref="xi0:BusDocMsgHeaderTestContainer"/>
    </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="BusinessDocumentMessageHeaderParty">
    <xsd:sequence>
     <xsd:element name="InternalID" type="PartyInternalID" minOccurs="0"/>
     <xsd:element name="StandardID" type="PartyStandardID" minOccurs="0" maxOccurs="unbounded"/>
     <xsd:element name="ContactPerson" type="BusinessDocumentMessageHeaderPartyContactPerson" minOccurs="0"/>
    </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="BusinessDocumentMessageHeaderPartyContactPerson">
    <xsd:sequence>
     <xsd:element name="InternalID" type="ContactPersonInternalID" minOccurs="0"/>
     <xsd:element name="OrganisationFormattedName" type="LANGUAGEINDEPENDENT_MEDIUM_Name" minOccurs="0" maxOccurs="4"/>
     <xsd:element name="PersonFormattedName" type="LANGUAGEINDEPENDENT_LONG_Name" minOccurs="0" maxOccurs="4"/>
     <xsd:element name="PhoneNumber" type="PhoneNumber" minOccurs="0" maxOccurs="unbounded"/>
     <xsd:element name="FaxNumber" type="PhoneNumber" minOccurs="0" maxOccurs="unbounded"/>
     <xsd:element name="EmailURI" type="EmailURI" minOccurs="0" maxOccurs="unbounded"/>
    </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="BusinessDocumentMessageID">
    <xsd:annotation>
     <xsd:documentation xml:lang="EN">
      <ccts:RepresentationTerm>Identifier</ccts:RepresentationTerm>
     </xsd:documentation>
    </xsd:annotation>
    <xsd:simpleContent>
     <xsd:extension base="BusinessDocumentMessageID.Content">
      <xsd:attribute name="schemeID">
       <xsd:simpleType>
        <xsd:restriction base="xsd:token">
         <xsd:maxLength value="60"/>
         <xsd:minLength value="1"/>
        </xsd:restriction>
       </xsd:simpleType>
      </xsd:attribute>
      <xsd:attribute name="schemeAgencyID">
       <xsd:simpleType>
        <xsd:restriction base="xsd:token">
         <xsd:maxLength value="60"/>
         <xsd:minLength value="1"/>
        </xsd:restriction>
       </xsd:simpleType>
      </xsd:attribute>
      <xsd:attribute name="schemeAgencySchemeAgencyID" type="xi4:AgencyIdentificationCode"/>
     </xsd:extension>
    </xsd:simpleContent>
   </xsd:complexType>
   <xsd:simpleType name="BusinessDocumentMessageID.Content">
    <xsd:restriction base="xsd:token">
     <xsd:maxLength value="35"/>
     <xsd:minLength value="1"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:complexType name="BusinessScope">
    <xsd:sequence>
     <xsd:element name="TypeCode" type="BusinessScopeTypeCode"/>
     <xsd:element name="InstanceID" type="BusinessScopeInstanceID" minOccurs="0"/>
     <xsd:element name="ID" type="BusinessScopeID" minOccurs="0"/>
    </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="BusinessScopeID">
    <xsd:annotation>
     <xsd:documentation xml:lang="EN">
      <ccts:RepresentationTerm>Identifier</ccts:RepresentationTerm>
     </xsd:documentation>
    </xsd:annotation>
    <xsd:simpleContent>
     <xsd:extension base="BusinessScopeID.Content">
      <xsd:attribute name="schemeID">
       <xsd:simpleType>
        <xsd:restriction base="xsd:token">
         <xsd:maxLength value="60"/>
         <xsd:minLength value="1"/>
        </xsd:restriction>
       </xsd:simpleType>
      </xsd:attribute>
      <xsd:attribute name="schemeAgencyID">
       <xsd:simpleType>
        <xsd:restriction base="xsd:token">
         <xsd:maxLength value="60"/>
         <xsd:minLength value="1"/>
        </xsd:restriction>
       </xsd:simpleType>
      </xsd:attribute>
     </xsd:extension>
    </xsd:simpleContent>
   </xsd:complexType>
   <xsd:simpleType name="BusinessScopeID.Content">
    <xsd:restriction base="xsd:token">
     <xsd:maxLength value="36"/>
     <xsd:minLength value="1"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:complexType name="BusinessScopeInstanceID">
    <xsd:annotation>
     <xsd:documentation xml:lang="EN">
      <ccts:RepresentationTerm>Identifier</ccts:RepresentationTerm>
     </xsd:documentation>
    </xsd:annotation>
    <xsd:simpleContent>
     <xsd:extension base="BusinessScopeInstanceID.Content">
      <xsd:attribute name="schemeID">
       <xsd:simpleType>
        <xsd:restriction base="xsd:token">
         <xsd:maxLength value="60"/>
         <xsd:minLength value="1"/>
        </xsd:restriction>
       </xsd:simpleType>
      </xsd:attribute>
      <xsd:attribute name="schemeAgencyID">
       <xsd:simpleType>
        <xsd:restriction base="xsd:token">
         <xsd:maxLength value="60"/>
         <xsd:minLength value="1"/>
        </xsd:restriction>
       </xsd:simpleType>
      </xsd:attribute>
     </xsd:extension>
    </xsd:simpleContent>
   </xsd:complexType>
   <xsd:simpleType name="BusinessScopeInstanceID.Content">
    <xsd:restriction base="xsd:token">
     <xsd:maxLength value="36"/>
     <xsd:minLength value="1"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:complexType name="BusinessScopeTypeCode">
    <xsd:annotation>
     <xsd:documentation xml:lang="EN">
      <ccts:RepresentationTerm>Code</ccts:RepresentationTerm>
     </xsd:documentation>
    </xsd:annotation>
    <xsd:simpleContent>
     <xsd:extension base="BusinessScopeTypeCode.Content">
      <xsd:attribute name="listID">
       <xsd:simpleType>
        <xsd:restriction base="xsd:token">
         <xsd:maxLength value="60"/>
         <xsd:minLength value="1"/>
        </xsd:restriction>
       </xsd:simpleType>
      </xsd:attribute>
      <xsd:attribute name="listVersionID">
       <xsd:simpleType>
        <xsd:restriction base="xsd:token">
         <xsd:maxLength value="15"/>
         <xsd:minLength value="1"/>
        </xsd:restriction>
       </xsd:simpleType>
      </xsd:attribute>
      <xsd:attribute name="listAgencyID">
       <xsd:simpleType>
        <xsd:restriction base="xsd:token">
         <xsd:maxLength value="60"/>
         <xsd:minLength value="1"/>
        </xsd:restriction>
       </xsd:simpleType>
      </xsd:attribute>
      <xsd:attribute name="listAgencySchemeID">
       <xsd:simpleType>
        <xsd:restriction base="xsd:token">
         <xsd:maxLength value="60"/>
         <xsd:minLength value="1"/>
        </xsd:restriction>
       </xsd:simpleType>
      </xsd:attribute>
      <xsd:attribute name="listAgencySchemeAgencyID" type="xi4:AgencyIdentificationCode"/>
     </xsd:extension>
    </xsd:simpleContent>
   </xsd:complexType>
   <xsd:simpleType name="BusinessScopeTypeCode.Content">
    <xsd:restriction base="xsd:token">
     <xsd:maxLength value="4"/>
     <xsd:minLength value="1"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="BusinessSystemID">
    <xsd:annotation>
     <xsd:documentation xml:lang="EN">
      <ccts:RepresentationTerm>Identifier</ccts:RepresentationTerm>
     </xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:token">
     <xsd:maxLength value="60"/>
     <xsd:minLength value="1"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:complexType name="BusinessTransactionDocumentID">
    <xsd:annotation>
     <xsd:documentation xml:lang="EN">
      <ccts:RepresentationTerm>Identifier</ccts:RepresentationTerm>
     </xsd:documentation>
    </xsd:annotation>
    <xsd:simpleContent>
     <xsd:extension base="BusinessTransactionDocumentID.Content">
      <xsd:attribute name="schemeID">
       <xsd:simpleType>
        <xsd:restriction base="xsd:token">
         <xsd:maxLength value="60"/>
         <xsd:minLength value="1"/>
        </xsd:restriction>
       </xsd:simpleType>
      </xsd:attribute>
      <xsd:attribute name="schemeAgencyID">
       <xsd:simpleType>
        <xsd:restriction base="xsd:token">
         <xsd:maxLength value="60"/>
         <xsd:minLength value="1"/>
        </xsd:restriction>
       </xsd:simpleType>
      </xsd:attribute>
      <xsd:attribute name="schemeAgencySchemeAgencyID" type="xi4:AgencyIdentificationCode"/>
     </xsd:extension>
    </xsd:simpleContent>
   </xsd:complexType>
   <xsd:simpleType name="BusinessTransactionDocumentID.Content">
    <xsd:restriction base="xsd:token">
     <xsd:maxLength value="35"/>
     <xsd:minLength value="1"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="BusinessTransactionDocumentItemID">
    <xsd:annotation>
     <xsd:documentation xml:lang="EN">
      <ccts:RepresentationTerm>Identifier</ccts:RepresentationTerm>
     </xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:token">
     <xsd:maxLength value="10"/>
     <xsd:minLength value="1"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:complexType name="ContactPersonInternalID">
    <xsd:annotation>
     <xsd:documentation xml:lang="EN">
      <ccts:RepresentationTerm>Identifier</ccts:RepresentationTerm>
     </xsd:documentation>
    </xsd:annotation>
    <xsd:simpleContent>
     <xsd:extension base="ContactPersonInternalID.Content">
      <xsd:attribute name="schemeID">
       <xsd:simpleType>
        <xsd:restriction base="xsd:token">
         <xsd:maxLength value="60"/>
         <xsd:minLength value="1"/>
        </xsd:restriction>
       </xsd:simpleType>
      </xsd:attribute>
      <xsd:attribute name="schemeAgencyID">
       <xsd:simpleType>
        <xsd:restriction base="xsd:token">
         <xsd:maxLength value="60"/>
         <xsd:minLength value="1"/>
        </xsd:restriction>
       </xsd:simpleType>
      </xsd:attribute>
     </xsd:extension>
    </xsd:simpleContent>
   </xsd:complexType>
   <xsd:simpleType name="ContactPersonInternalID.Content">
    <xsd:restriction base="xsd:token">
     <xsd:maxLength value="32"/>
     <xsd:minLength value="1"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="CountryCode">
    <xsd:annotation>
     <xsd:documentation xml:lang="EN">
      <ccts:RepresentationTerm>Code</ccts:RepresentationTerm>
     </xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:token">
     <xsd:maxLength value="3"/>
     <xsd:minLength value="2"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="CountryDiallingCode">
    <xsd:annotation>
     <xsd:documentation xml:lang="EN">
      <ccts:RepresentationTerm>Code</ccts:RepresentationTerm>
     </xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:token">
     <xsd:maxLength value="10"/>
     <xsd:minLength value="1"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:complexType name="EXTENDED_Name">
    <xsd:annotation>
     <xsd:documentation xml:lang="EN">
      <ccts:RepresentationTerm>Name</ccts:RepresentationTerm>
     </xsd:documentation>
    </xsd:annotation>
    <xsd:simpleContent>
     <xsd:extension base="EXTENDED_Name.Content">
      <xsd:attribute name="languageCode" type="xi4:LanguageCode"/>
     </xsd:extension>
    </xsd:simpleContent>
   </xsd:complexType>
   <xsd:simpleType name="EXTENDED_Name.Content">
    <xsd:restriction base="xsd:string">
     <xsd:maxLength value="255"/>
     <xsd:minLength value="1"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:complexType name="EmailURI">
    <xsd:annotation>
     <xsd:documentation xml:lang="EN">
      <ccts:RepresentationTerm>URI</ccts:RepresentationTerm>
     </xsd:documentation>
    </xsd:annotation>
    <xsd:simpleContent>
     <xsd:extension base="xsd:anyURI">
      <xsd:attribute name="schemeID">
       <xsd:simpleType>
        <xsd:restriction base="xsd:token">
         <xsd:maxLength value="60"/>
         <xsd:minLength value="1"/>
        </xsd:restriction>
       </xsd:simpleType>
      </xsd:attribute>
     </xsd:extension>
    </xsd:simpleContent>
   </xsd:complexType>
   <xsd:simpleType name="Indicator">
    <xsd:annotation>
     <xsd:documentation xml:lang="EN">
      <ccts:RepresentationTerm>Indicator</ccts:RepresentationTerm>
     </xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:boolean"/>
   </xsd:simpleType>
   <xsd:simpleType name="IntermediateDocumentLogicalSystemID">
    <xsd:annotation>
     <xsd:documentation xml:lang="EN">
      <ccts:RepresentationTerm>Identifier</ccts:RepresentationTerm>
     </xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:token">
     <xsd:maxLength value="10"/>
     <xsd:minLength value="10"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="LANGUAGEINDEPENDENT_LONG_Name">
    <xsd:annotation>
     <xsd:documentation xml:lang="EN">
      <ccts:RepresentationTerm>Name</ccts:RepresentationTerm>
     </xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:string">
     <xsd:maxLength value="80"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="LANGUAGEINDEPENDENT_MEDIUM_Name">
    <xsd:annotation>
     <xsd:documentation xml:lang="EN">
      <ccts:RepresentationTerm>Name</ccts:RepresentationTerm>
     </xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:string">
     <xsd:maxLength value="40"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:complexType name="MEDIUM_Name">
    <xsd:annotation>
     <xsd:documentation xml:lang="EN">
      <ccts:RepresentationTerm>Name</ccts:RepresentationTerm>
     </xsd:documentation>
    </xsd:annotation>
    <xsd:simpleContent>
     <xsd:extension base="MEDIUM_Name.Content">
      <xsd:attribute name="languageCode" type="xi4:LanguageCode"/>
     </xsd:extension>
    </xsd:simpleContent>
   </xsd:complexType>
   <xsd:simpleType name="MEDIUM_Name.Content">
    <xsd:restriction base="xsd:string">
     <xsd:maxLength value="40"/>
     <xsd:minLength value="1"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="MeasureUnitCode">
    <xsd:annotation>
     <xsd:documentation xml:lang="EN">
      <ccts:RepresentationTerm>Code</ccts:RepresentationTerm>
     </xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:token">
     <xsd:maxLength value="3"/>
     <xsd:minLength value="1"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:complexType name="PartyInternalID">
    <xsd:annotation>
     <xsd:documentation xml:lang="EN">
      <ccts:RepresentationTerm>Identifier</ccts:RepresentationTerm>
     </xsd:documentation>
    </xsd:annotation>
    <xsd:simpleContent>
     <xsd:extension base="PartyInternalID.Content">
      <xsd:attribute name="schemeID">
       <xsd:simpleType>
        <xsd:restriction base="xsd:token">
         <xsd:maxLength value="60"/>
         <xsd:minLength value="1"/>
        </xsd:restriction>
       </xsd:simpleType>
      </xsd:attribute>
      <xsd:attribute name="schemeAgencyID">
       <xsd:simpleType>
        <xsd:restriction base="xsd:token">
         <xsd:maxLength value="60"/>
         <xsd:minLength value="1"/>
        </xsd:restriction>
       </xsd:simpleType>
      </xsd:attribute>
     </xsd:extension>
    </xsd:simpleContent>
   </xsd:complexType>
   <xsd:simpleType name="PartyInternalID.Content">
    <xsd:restriction base="xsd:token">
     <xsd:maxLength value="32"/>
     <xsd:minLength value="1"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:complexType name="PartyStandardID">
    <xsd:annotation>
     <xsd:documentation xml:lang="EN">
      <ccts:RepresentationTerm>Identifier</ccts:RepresentationTerm>
     </xsd:documentation>
    </xsd:annotation>
    <xsd:simpleContent>
     <xsd:extension base="PartyStandardID.Content">
      <xsd:attribute name="schemeAgencyID" use="required">
       <xsd:simpleType>
        <xsd:restriction base="xsd:token">
         <xsd:maxLength value="3"/>
         <xsd:minLength value="1"/>
        </xsd:restriction>
       </xsd:simpleType>
      </xsd:attribute>
     </xsd:extension>
    </xsd:simpleContent>
   </xsd:complexType>
   <xsd:simpleType name="PartyStandardID.Content">
    <xsd:restriction base="xsd:token">
     <xsd:maxLength value="13"/>
     <xsd:minLength value="1"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:complexType name="PhoneNumber">
    <xsd:sequence>
     <xsd:element name="AreaID" type="PhoneNumberAreaID" minOccurs="0"/>
     <xsd:element name="SubscriberID" type="PhoneNumberSubscriberID" minOccurs="0"/>
     <xsd:element name="ExtensionID" type="PhoneNumberExtensionID" minOccurs="0"/>
     <xsd:element name="CountryCode" type="CountryCode" minOccurs="0"/>
     <xsd:element name="CountryDiallingCode" type="CountryDiallingCode" minOccurs="0"/>
     <xsd:element name="CountryName" type="MEDIUM_Name" minOccurs="0"/>
    </xsd:sequence>
   </xsd:complexType>
   <xsd:simpleType name="PhoneNumberAreaID">
    <xsd:annotation>
     <xsd:documentation xml:lang="EN">
      <ccts:RepresentationTerm>Identifier</ccts:RepresentationTerm>
     </xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:token">
     <xsd:maxLength value="10"/>
     <xsd:minLength value="1"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="PhoneNumberExtensionID">
    <xsd:annotation>
     <xsd:documentation xml:lang="EN">
      <ccts:RepresentationTerm>Identifier</ccts:RepresentationTerm>
     </xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:token">
     <xsd:maxLength value="10"/>
     <xsd:minLength value="1"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="PhoneNumberSubscriberID">
    <xsd:annotation>
     <xsd:documentation xml:lang="EN">
      <ccts:RepresentationTerm>Identifier</ccts:RepresentationTerm>
     </xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:token">
     <xsd:maxLength value="30"/>
     <xsd:minLength value="1"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:complexType name="ProcessComponentCode">
    <xsd:annotation>
     <xsd:documentation xml:lang="EN">
      <ccts:RepresentationTerm>Code</ccts:RepresentationTerm>
     </xsd:documentation>
    </xsd:annotation>
    <xsd:simpleContent>
     <xsd:extension base="ProcessComponentCode.Content">
      <xsd:attribute name="listID">
       <xsd:simpleType>
        <xsd:restriction base="xsd:token">
         <xsd:maxLength value="60"/>
         <xsd:minLength value="1"/>
        </xsd:restriction>
       </xsd:simpleType>
      </xsd:attribute>
      <xsd:attribute name="listVersionID">
       <xsd:simpleType>
        <xsd:restriction base="xsd:token">
         <xsd:maxLength value="15"/>
         <xsd:minLength value="1"/>
        </xsd:restriction>
       </xsd:simpleType>
      </xsd:attribute>
      <xsd:attribute name="listAgencyID">
       <xsd:simpleType>
        <xsd:restriction base="xsd:token">
         <xsd:maxLength value="60"/>
         <xsd:minLength value="1"/>
        </xsd:restriction>
       </xsd:simpleType>
      </xsd:attribute>
     </xsd:extension>
    </xsd:simpleContent>
   </xsd:complexType>
   <xsd:simpleType name="ProcessComponentCode.Content">
    <xsd:restriction base="xsd:token">
     <xsd:maxLength value="4"/>
     <xsd:minLength value="1"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:complexType name="Quantity">
    <xsd:annotation>
     <xsd:documentation xml:lang="EN">
      <ccts:RepresentationTerm>Quantity</ccts:RepresentationTerm>
     </xsd:documentation>
    </xsd:annotation>
    <xsd:simpleContent>
     <xsd:extension base="Quantity.Content">
      <xsd:attribute name="unitCode" type="MeasureUnitCode"/>
     </xsd:extension>
    </xsd:simpleContent>
   </xsd:complexType>
   <xsd:simpleType name="Quantity.Content">
    <xsd:restriction base="xsd:decimal">
     <xsd:totalDigits value="31"/>
     <xsd:fractionDigits value="14"/>
     <xsd:maxInclusive value="99999999999999999.99999999999999"/>
     <xsd:minInclusive value="-99999999999999999.99999999999999"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:complexType name="UUID">
    <xsd:annotation>
     <xsd:documentation xml:lang="EN">
      <ccts:RepresentationTerm>Identifier</ccts:RepresentationTerm>
     </xsd:documentation>
    </xsd:annotation>
    <xsd:simpleContent>
     <xsd:extension base="UUID.Content">
      <xsd:attribute name="schemeID">
       <xsd:simpleType>
        <xsd:restriction base="xsd:token">
         <xsd:maxLength value="60"/>
         <xsd:minLength value="1"/>
        </xsd:restriction>
       </xsd:simpleType>
      </xsd:attribute>
      <xsd:attribute name="schemeAgencyID">
       <xsd:simpleType>
        <xsd:restriction base="xsd:token">
         <xsd:maxLength value="60"/>
         <xsd:minLength value="1"/>
        </xsd:restriction>
       </xsd:simpleType>
      </xsd:attribute>
     </xsd:extension>
    </xsd:simpleContent>
   </xsd:complexType>
   <xsd:simpleType name="UUID.Content">
    <xsd:restriction base="xsd:token">
     <xsd:maxLength value="36"/>
     <xsd:minLength value="36"/>
     <xsd:pattern value="[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="VersionID">
    <xsd:annotation>
     <xsd:documentation xml:lang="EN">
      <ccts:RepresentationTerm>Identifier</ccts:RepresentationTerm>
     </xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:token">
     <xsd:maxLength value="32"/>
     <xsd:minLength value="1"/>
    </xsd:restriction>
   </xsd:simpleType>
  </xsd:schema>
  <xsd:schema targetNamespace="http://sap.com/xi/Common/DataTypes" xmlns:ccts="urn:un:unece:uncefact:documentation:standard:CoreComponentsTechnicalSpecification:3.0" xmlns:xi0="http://xiTest.com/xi/test" xmlns:xi1="http://sap.com/xi/SAPGlobal20/Global" xmlns:xi2="http://sap.com/xi/AP/CRM/Global" xmlns:xi3="http://sap.com/xi/AP/Common/Global" xmlns:xi4="http://sap.com/xi/BASIS/Global" xmlns:xi5="http://sap.com/xi/AP/Common/GDT" xmlns:xi9="http://sap.com/xi/Common/DataTypes" xmlns="http://sap.com/xi/Common/DataTypes">
   <xsd:simpleType name="UUID">
    <xsd:annotation>
     <xsd:documentation xml:lang="EN">
      <ccts:RepresentationTerm>Identifier</ccts:RepresentationTerm>
     </xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:token">
     <xsd:maxLength value="36"/>
     <xsd:pattern value="[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}"/>
    </xsd:restriction>
   </xsd:simpleType>
  </xsd:schema>
 </wsdl:types>
 <wsdl:message name="ProductConfigurationQuery_sync">
  <wsdl:part name="ProductConfigurationQuery_sync" element="n2:ProductConfigurationQuery_sync"/>
 </wsdl:message>
 <wsdl:message name="ProductConfigurationQueryResponse_sync">
  <wsdl:part name="ProductConfigurationQueryResponse_sync" element="n2:ProductConfigurationQueryResponse_sync"/>
 </wsdl:message>
 <wsdl:message name="StandardMessageFault">
  <wsdl:part name="StandardMessageFault" element="n2:StandardMessageFault"/>
 </wsdl:message>
 <wsdl:portType name="SalesOrderRequestProductConfigurationOut">
  <wsdl:documentation>
   <sapdoc:sapdoc xmlns:sapdoc="urn:sap:esi:documentation">
    <sapdoc:docitem applicationComponent="LOD-LE-CQP"/>
   </sapdoc:sapdoc>
  </wsdl:documentation>
  <wsp:Policy>
   <wsp:PolicyReference URI="#IF_IF_SalesOrderRequestProductConfigurationOut"/>
  </wsp:Policy>
  <wsdl:operation name="ProductConfigurationQueryResponse_In">
   <wsp:Policy>
    <wsp:PolicyReference URI="#OP_IF_OP_ProductConfigurationQueryResponse_In"/>
   </wsp:Policy>
   <wsdl:input message="tns:ProductConfigurationQuery_sync"/>
   <wsdl:output message="tns:ProductConfigurationQueryResponse_sync"/>
   <wsdl:fault name="StandardMessageFault" message="tns:StandardMessageFault"/>
  </wsdl:operation>
 </wsdl:portType>
</wsdl:definitions>