Resources/schemas/Wsdl/SAP_Service_Cloud_V2_for_Utilities_Premise_Integration_with_SAP_S-4HANA - DOC_WEBI_ISU_C4C_V2_CONSUMPTION.WSDL

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions targetNamespace="urn:sap-com:document:sap:soap:functions:mc-style" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsoap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="urn:sap-com:document:sap:soap:functions:mc-style" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:n1="urn:sap-com:document:sap:rfc:functions">
 <wsdl:documentation>
  <sidl:sidl xmlns:sidl="http://www.sap.com/2007/03/sidl"/>
 </wsdl:documentation>
 <wsp:UsingPolicy wsdl:required="true"/>
 <wsp:Policy wsu:Id="IF_IF_ISU_C4C_V2_CONSUMPTION">
  <sapsession:Session xmlns:sapsession="http://www.sap.com/webas/630/soap/features/session/">
   <sapsession:enableSession>false</sapsession:enableSession>
  </sapsession:Session>
 </wsp:Policy>
 <wsp:Policy wsu:Id="OP_IF_OP_IsuC4cV2ConsumptionGet">
  <sapblock:enableBlocking xmlns:sapblock="http://www.sap.com/NW05/soap/features/blocking/">true</sapblock:enableBlocking>
  <sapcomhnd:enableCommit xmlns:sapcomhnd="http://www.sap.com/NW05/soap/features/commit/">false</sapcomhnd:enableCommit>
  <saptrhnw05:required xmlns:saptrhnw05="http://www.sap.com/NW05/soap/features/transaction/">no</saptrhnw05:required>
  <saprmnw05:enableWSRM xmlns:saprmnw05="http://www.sap.com/NW05/soap/features/wsrm/">false</saprmnw05:enableWSRM>
 </wsp:Policy>
 <wsdl:types>
  <xsd:schema attributeFormDefault="qualified" targetNamespace="urn:sap-com:document:sap:rfc:functions" xmlns:tns="urn:sap-com:document:sap:rfc:functions">
   <xsd:simpleType name="char1">
    <xsd:restriction base="xsd:string">
     <xsd:maxLength value="1"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="char10">
    <xsd:restriction base="xsd:string">
     <xsd:maxLength value="10"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="char20">
    <xsd:restriction base="xsd:string">
     <xsd:maxLength value="20"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="char220">
    <xsd:restriction base="xsd:string">
     <xsd:maxLength value="220"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="char30">
    <xsd:restriction base="xsd:string">
     <xsd:maxLength value="30"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="char32">
    <xsd:restriction base="xsd:string">
     <xsd:maxLength value="32"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="char36">
    <xsd:restriction base="xsd:string">
     <xsd:maxLength value="36"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="char50">
    <xsd:restriction base="xsd:string">
     <xsd:maxLength value="50"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="decimal7.2">
    <xsd:restriction base="xsd:decimal">
     <xsd:totalDigits value="7"/>
     <xsd:fractionDigits value="2"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="numeric3">
    <xsd:restriction base="xsd:string">
     <xsd:maxLength value="3"/>
     <xsd:pattern value="\d*"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="numeric6">
    <xsd:restriction base="xsd:string">
     <xsd:maxLength value="6"/>
     <xsd:pattern value="\d*"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="unit3">
    <xsd:restriction base="xsd:string">
     <xsd:maxLength value="3"/>
    </xsd:restriction>
   </xsd:simpleType>
  </xsd:schema>
  <xsd:schema attributeFormDefault="qualified" targetNamespace="urn:sap-com:document:sap:soap:functions:mc-style" xmlns:n0="urn:sap-com:document:sap:rfc:functions">
   <xsd:import namespace="urn:sap-com:document:sap:rfc:functions"/>
   <xsd:simpleType name="char1">
    <xsd:restriction base="xsd:string">
     <xsd:maxLength value="1"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="char10">
    <xsd:restriction base="xsd:string">
     <xsd:maxLength value="10"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="char100">
    <xsd:restriction base="xsd:string">
     <xsd:maxLength value="100"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="char12">
    <xsd:restriction base="xsd:string">
     <xsd:maxLength value="12"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="char40">
    <xsd:restriction base="xsd:string">
     <xsd:maxLength value="40"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="numeric2">
    <xsd:restriction base="xsd:string">
     <xsd:maxLength value="2"/>
     <xsd:pattern value="\d*"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="numeric3">
    <xsd:restriction base="xsd:string">
     <xsd:maxLength value="3"/>
     <xsd:pattern value="\d*"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:complexType name="Bapiret2">
    <xsd:sequence>
     <xsd:element name="Type" type="n0:char1" minOccurs="0"/>
     <xsd:element name="Id" type="n0:char20" minOccurs="0"/>
     <xsd:element name="Number" type="n0:numeric3" minOccurs="0"/>
     <xsd:element name="Message" type="n0:char220" minOccurs="0"/>
     <xsd:element name="LogNo" type="n0:char20" minOccurs="0"/>
     <xsd:element name="LogMsgNo" type="n0:numeric6" minOccurs="0"/>
     <xsd:element name="MessageV1" type="n0:char50" minOccurs="0"/>
     <xsd:element name="MessageV2" type="n0:char50" minOccurs="0"/>
     <xsd:element name="MessageV3" type="n0:char50" minOccurs="0"/>
     <xsd:element name="MessageV4" type="n0:char50" minOccurs="0"/>
     <xsd:element name="Parameter" type="n0:char32" minOccurs="0"/>
     <xsd:element name="Row" type="xsd:int" minOccurs="0"/>
     <xsd:element name="Field" type="n0:char30" minOccurs="0"/>
     <xsd:element name="System" type="n0:char10" minOccurs="0"/>
    </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="IsuC4cV2SConsumption">
    <xsd:sequence>
     <xsd:element name="Installation" type="n0:char10" minOccurs="0"/>
     <xsd:element name="BillPeriodStart" type="n0:char10" minOccurs="0"/>
     <xsd:element name="BillPeriodEnd" type="n0:char10" minOccurs="0"/>
     <xsd:element name="Period" type="n0:char10" minOccurs="0"/>
     <xsd:element name="NumberOfDays" type="tns:numeric3" minOccurs="0"/>
     <xsd:element name="Consumption" type="n0:char36" minOccurs="0"/>
     <xsd:element name="UnitOfMeasurement" type="n0:unit3" minOccurs="0"/>
     <xsd:element name="RateCategory" type="tns:char10" minOccurs="0"/>
     <xsd:element name="RateCategoryText" type="tns:char40" minOccurs="0"/>
     <xsd:element name="Contract" type="tns:char10" minOccurs="0"/>
     <xsd:element name="ContractAccount" type="tns:char12" minOccurs="0"/>
     <xsd:element name="Customer" type="tns:char10" minOccurs="0"/>
     <xsd:element name="CustomerCategory" type="tns:char1" minOccurs="0"/>
     <xsd:element name="FirstName" type="tns:char40" minOccurs="0"/>
     <xsd:element name="LastName" type="tns:char40" minOccurs="0"/>
     <xsd:element name="ActiveContract" type="tns:char1" minOccurs="0"/>
    </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="IsuC4cV2STemperature">
    <xsd:sequence>
     <xsd:element name="TemperaturePeriod" type="n0:char10" minOccurs="0"/>
     <xsd:element name="Temperature" type="n0:decimal7.2" minOccurs="0"/>
     <xsd:element name="UnitOfMeasurement" type="n0:char1" minOccurs="0"/>
    </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="Bapiret2T">
    <xsd:sequence>
     <xsd:element name="item" type="tns:Bapiret2" minOccurs="0" maxOccurs="unbounded"/>
    </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="IsuC4cV2TConsumption">
    <xsd:sequence>
     <xsd:element name="item" type="tns:IsuC4cV2SConsumption" minOccurs="0" maxOccurs="unbounded"/>
    </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="IsuC4cV2TTemperature">
    <xsd:sequence>
     <xsd:element name="item" type="tns:IsuC4cV2STemperature" minOccurs="0" maxOccurs="unbounded"/>
    </xsd:sequence>
   </xsd:complexType>
   <xsd:element name="IsuC4cV2ConsumptionGet">
    <xsd:complexType>
     <xsd:sequence>
      <xsd:element name="IvNumberOfCycles" type="tns:numeric2" minOccurs="0"/>
      <xsd:element name="IvPremise" type="n0:char10" minOccurs="0"/>
     </xsd:sequence>
    </xsd:complexType>
   </xsd:element>
   <xsd:element name="IsuC4cV2ConsumptionGetResponse">
    <xsd:complexType>
     <xsd:sequence>
      <xsd:element name="EtConsumption" type="tns:IsuC4cV2TConsumption" minOccurs="0"/>
      <xsd:element name="EtConsumptionCompare" type="tns:IsuC4cV2TConsumption" minOccurs="0"/>
      <xsd:element name="EtMessages" type="tns:Bapiret2T" minOccurs="0"/>
      <xsd:element name="EtTemperature" type="tns:IsuC4cV2TTemperature" minOccurs="0"/>
      <xsd:element name="EvCompareDescription" type="tns:char100" minOccurs="0"/>
     </xsd:sequence>
    </xsd:complexType>
   </xsd:element>
  </xsd:schema>
 </wsdl:types>
 <wsdl:message name="IsuC4cV2ConsumptionGet">
  <wsdl:part name="parameters" element="tns:IsuC4cV2ConsumptionGet"/>
 </wsdl:message>
 <wsdl:message name="IsuC4cV2ConsumptionGetResponse">
  <wsdl:part name="parameter" element="tns:IsuC4cV2ConsumptionGetResponse"/>
 </wsdl:message>
 <wsdl:portType name="ISU_C4C_V2_CONSUMPTION">
  <wsdl:documentation>
   <sapdoc:sapdoc xmlns:sapdoc="urn:sap:esi:documentation">
    <sapdoc:docitem docURL="http://ldai1emo.wdf.sap.corp:50000/sap/bc/esdt/docu/sd_text?sap-client=300&amp;sd_name=ISU_C4C_V2_CONSUMPTION"/>
    <sapdoc:docitem applicationComponent="IS-U-CS-C4C"/>
   </sapdoc:sapdoc>
  </wsdl:documentation>
  <wsp:Policy>
   <wsp:PolicyReference URI="#IF_IF_ISU_C4C_V2_CONSUMPTION"/>
  </wsp:Policy>
  <wsdl:operation name="IsuC4cV2ConsumptionGet">
   <wsp:Policy>
    <wsp:PolicyReference URI="#OP_IF_OP_IsuC4cV2ConsumptionGet"/>
   </wsp:Policy>
   <wsdl:input message="tns:IsuC4cV2ConsumptionGet"/>
   <wsdl:output message="tns:IsuC4cV2ConsumptionGetResponse"/>
  </wsdl:operation>
 </wsdl:portType>
</wsdl:definitions>
