Resources/schemas/Wsdl/SAP_Logistics_Business_Network_Integration_with_SAP_ERP_-_Tracked_Processes_and_Event_Messages - EVMSTA02.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions targetNamespace="urn:sap-com:document:sap:idoc:soap:messages" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsoap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="urn:sap-com:document:sap:idoc:soap:messages">
 <wsdl:documentation>
  <sidl:sidl xmlns:sidl="http://www.sap.com/2007/03/sidl">
   <!--This WSDL is intended for use cases related to the OSS notes 1510812 and 1613719 only-->
  </sidl:sidl>
 </wsdl:documentation>
 <wsdl:types>
  <xsd:schema elementFormDefault="qualified" targetNamespace="urn:sap-com:document:sap:idoc:soap:messages">
   <xsd:complexType name="E1ADRM3.001">
    <xsd:sequence>
     <xsd:element name="PARTNER_Q" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="3"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="ADDRES_T" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="1"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="PARTNER_ID" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="17"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="JURISDIC" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="17"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="LANGUAGE" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="2"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="FORMOFADDR" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="15"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="NAME1" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="40"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="NAME2" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="40"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="NAME3" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="40"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="NAME4" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="40"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="NAME_TEXT" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="50"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="NAME_CO" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="40"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="LOCATION" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="40"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="BUILDING" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="10"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="FLOOR" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="10"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="ROOM" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="10"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="STREET1" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="40"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="STREET2" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="40"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="STREET3" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="40"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="HOUSE_SUPL" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="4"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="HOUSE_RANG" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="10"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="POSTL_COD1" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="10"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="POSTL_COD3" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="10"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="POSTL_AREA" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="15"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="CITY1" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="40"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="CITY2" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="40"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="POSTL_PBOX" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="10"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="POSTL_COD2" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="10"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="POSTL_CITY" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="40"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="TELEPHONE1" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="30"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="TELEPHONE2" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="30"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="TELEFAX" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="30"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="TELEX" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="30"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="E_MAIL" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="70"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="COUNTRY1" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="3"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="COUNTRY2" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="3"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="REGION" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="3"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="COUNTY_COD" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="3"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="COUNTY_TXT" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="25"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="TZCODE" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="6"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="TZDESC" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="35"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
    </xsd:sequence>
    <xsd:attribute name="SEGMENT" type="xsd:string" fixed="1" use="required"/>
   </xsd:complexType>
   <xsd:complexType name="E1EVMLDE.000">
    <xsd:sequence>
     <xsd:element name="LCDESC" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="100"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="LANGUAGE" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="1"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="LCDRFP" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="50"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="LCDDST" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="15"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="LCDUNT" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="3"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="LCDDIR" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="10"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="LCDRFT" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="35"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
    </xsd:sequence>
    <xsd:attribute name="SEGMENT" type="xsd:string" fixed="1" use="required"/>
   </xsd:complexType>
   <xsd:complexType name="E1EVMLAI.000">
    <xsd:sequence>
     <xsd:element name="LOCCOD" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="20"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="LOCID1" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="50"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="LOCID2" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="50"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
    </xsd:sequence>
    <xsd:attribute name="SEGMENT" type="xsd:string" fixed="1" use="required"/>
   </xsd:complexType>
   <xsd:complexType name="E1ADRM4.001">
    <xsd:sequence>
     <xsd:element name="PARTNER_Q" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="3"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="ADDRESS_T" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="1"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="PARTNER_ID" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="17"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="JURISDIC" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="17"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="LANGUAGE" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="2"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="FORMOFADDR" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="15"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="NAME1" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="40"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="NAME2" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="40"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="NAME3" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="40"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="NAME4" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="40"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="NAME_TEXT" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="50"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="NAME_CO" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="40"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="LOCATION" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="40"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="BUILDING" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="10"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="FLOOR" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="10"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="ROOM" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="10"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="STREET1" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="40"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="STREET2" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="40"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="STREET3" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="40"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="HOUSE_SUPL" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="4"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="HOUSE_RANG" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="10"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="POSTL_COD1" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="10"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="POSTL_COD3" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="10"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="POSTL_AREA" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="15"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="CITY1" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="40"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="CITY2" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="40"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="POSTL_PBOX" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="10"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="POSTL_COD2" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="10"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="POSTL_CITY" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="40"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="TELEPHONE1" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="30"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="TELEPHONE2" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="30"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="TELEFAX" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="30"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="TELEX" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="30"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="E_MAIL" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="70"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="COUNTRY1" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="3"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="COUNTRY2" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="3"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="REGION" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="3"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="COUNTY_COD" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="3"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="COUNTY_TXT" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="25"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="TZCODE" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="6"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="TZDESC" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="35"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
    </xsd:sequence>
    <xsd:attribute name="SEGMENT" type="xsd:string" fixed="1" use="required"/>
   </xsd:complexType>
   <xsd:complexType name="E1EVMPAI.000">
    <xsd:sequence>
     <xsd:element name="PARCOD" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="20"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="PARID" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="50"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="AD_PARNAM" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="50"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="AD_PARCOD" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="20"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="AD_PARID" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="50"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="LANGUAGE" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="1"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
    </xsd:sequence>
    <xsd:attribute name="SEGMENT" type="xsd:string" fixed="1" use="required"/>
   </xsd:complexType>
   <xsd:complexType name="E1TXTP1.000">
    <xsd:sequence>
     <xsd:element name="TDFORMAT" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="2"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="TDLINE" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="132"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
    </xsd:sequence>
    <xsd:attribute name="SEGMENT" type="xsd:string" fixed="1" use="required"/>
   </xsd:complexType>
   <xsd:complexType name="E1EVMTID.000">
    <xsd:sequence>
     <xsd:element name="TRXCOD" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="20"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="TRXID" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="50"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="TIPCOD" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="20"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="TIPID" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="50"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="TIPNAM" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="50"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
    </xsd:sequence>
    <xsd:attribute name="SEGMENT" type="xsd:string" fixed="1" use="required"/>
   </xsd:complexType>
   <xsd:complexType name="E1EVMLID.000">
    <xsd:sequence>
     <xsd:element name="LEADID" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="1"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="LOCCAT" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="2"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="LOCCOD" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="20"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="LOCID1" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="50"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="LOCID2" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="50"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="LANGUAGE" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="1"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="LOCNAM" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="50"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="LOCZON" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="6"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="ROUTYP" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="20"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="ROUTID" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="50"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="E1ADRM3" type="tns:E1ADRM3.001" minOccurs="0"/>
     <xsd:element name="E1EVMLDE" type="tns:E1EVMLDE.000" minOccurs="0"/>
     <xsd:element name="E1EVMLAI" type="tns:E1EVMLAI.000" minOccurs="0" maxOccurs="unbounded"/>
    </xsd:sequence>
    <xsd:attribute name="SEGMENT" type="xsd:string" fixed="1" use="required"/>
   </xsd:complexType>
   <xsd:complexType name="E1EVMPID.000">
    <xsd:sequence>
     <xsd:element name="PARROL" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="3"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="PARCOD" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="20"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="PARID" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="50"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="LANGUAGE" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="1"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="PARNAM" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="50"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="E1ADRM4" type="tns:E1ADRM4.001" minOccurs="0"/>
     <xsd:element name="E1EVMPAI" type="tns:E1EVMPAI.000" minOccurs="0" maxOccurs="unbounded"/>
    </xsd:sequence>
    <xsd:attribute name="SEGMENT" type="xsd:string" fixed="1" use="required"/>
   </xsd:complexType>
   <xsd:complexType name="E1EVMEEM.000">
    <xsd:sequence>
     <xsd:element name="MODCNT" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="10"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="EVTCOD" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="20"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="EVTID" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="50"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="EVTACT" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="1"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="MODREF" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="10"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="ESTATT" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="2"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="LOCCOD" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="20"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="LOCID1" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="50"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="LOCID2" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="50"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="LOCNAM" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="50"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="LOCZON" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="6"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="PARCOD" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="20"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="PARID" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="50"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="PARNAM" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="50"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="LANGUAGE" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="1"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="CRCCOD" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="20"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="CRCID" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="50"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="CHRTX" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="100"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="ETADUR" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="10"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="ETXDAT" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="8"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="ETXTIM" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="6"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="ETXZON" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="6"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="ETEADT" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="8"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="ETEATI" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="6"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="ETLTDT" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="8"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="ETLTTI" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="6"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="MSGDUR" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="10"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="MSGDAT" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="8"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="MSGTIM" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="6"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="MSGZON" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="6"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="MSEADT" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="8"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="MSEATI" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="6"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="MSLTDT" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="8"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="MSLTTI" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="6"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="DATE1" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="8"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="TIME1" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="6"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="TZONE1" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="6"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="DATE2" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="8"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="TIME2" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="6"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="TZONE2" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="6"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="DATE3" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="8"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="TIME3" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="6"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="TZONE3" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="6"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="DATE4" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="8"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="TIME4" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="6"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="TZONE4" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="6"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="DATE5" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="8"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="TIME5" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="6"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="TZONE5" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="6"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="DATACS" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="20"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="DATAID" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="50"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
    </xsd:sequence>
    <xsd:attribute name="SEGMENT" type="xsd:string" fixed="1" use="required"/>
   </xsd:complexType>
   <xsd:complexType name="E1EVMCST02.000">
    <xsd:sequence>
     <xsd:element name="CNFTYP" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="1"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="OBJTYP" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="20"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="OBJID" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="50"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="PARCOD" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="20"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="PARID" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="50"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="ITMTYP" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="20"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="ITMID" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="50"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="AMOUNT" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="15"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="AMUNIT" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="3"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="SRCCOD" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="20"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="SRCID" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="50"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="SRCTX" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="100"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="LANGUAGE" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="1"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="CNFDAT" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="8"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="CNFTIM" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="6"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="CNFZON" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="6"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
    </xsd:sequence>
    <xsd:attribute name="SEGMENT" type="xsd:string" fixed="1" use="required"/>
   </xsd:complexType>
   <xsd:complexType name="E1EVMREF02.000">
    <xsd:sequence>
     <xsd:element name="REFCOD" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="20"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="REFID" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="50"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="RIPCOD" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="20"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="RIPID" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="50"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="RIPNAM" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="50"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="LANGUAGE" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="1"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="REFUSAGE" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="1"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="ACTION" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="1"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="LOGSYS" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="10"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="LINK" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="255"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="START_DATE" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="8"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="START_TIME" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="6"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="END_DATE" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="8"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="END_TIME" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="6"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="TIMZON" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="6"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="APPSYS" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="10"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="APPOBJTYPE" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="20"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="APPOBJID" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="50"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
    </xsd:sequence>
    <xsd:attribute name="SEGMENT" type="xsd:string" fixed="1" use="required"/>
   </xsd:complexType>
   <xsd:complexType name="E1EVMMER02.000">
    <xsd:sequence>
     <xsd:element name="MESTYP" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="2"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="OBJTYP" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="20"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="OBJID" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="50"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="PARCOD" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="20"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="PARID" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="50"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="ITMTYP" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="20"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="ITMID" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="50"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="AMOUNT" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="15"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="AMUNIT" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="3"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="CURRENCY" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="5"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="MESSIG" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="2"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="MESATT" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="2"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="CNFDAT" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="8"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="CNFTIM" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="6"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="CNFZON" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="6"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
    </xsd:sequence>
    <xsd:attribute name="SEGMENT" type="xsd:string" fixed="1" use="required"/>
   </xsd:complexType>
   <xsd:complexType name="E1EVMSTA.000">
    <xsd:sequence>
     <xsd:element name="STATTYP" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="1"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="STATCOD" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="20"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="STATID" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="50"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="ACTION" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="1"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
    </xsd:sequence>
    <xsd:attribute name="SEGMENT" type="xsd:string" fixed="1" use="required"/>
   </xsd:complexType>
   <xsd:complexType name="E1EVMPAR.000">
    <xsd:sequence>
     <xsd:element name="PARTYP" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="1"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="PARAM_NAME" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="32"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="PARAM_INDEX" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="10"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="PARAM_VALUE" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="200"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="ACTION" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="1"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
    </xsd:sequence>
    <xsd:attribute name="SEGMENT" type="xsd:string" fixed="1" use="required"/>
   </xsd:complexType>
   <xsd:complexType name="E1TXTH1.001">
    <xsd:sequence>
     <xsd:element name="FUNCTION" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="3"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="TDOBJECT" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="10"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="TDOBNAME" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="70"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="TDID" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="4"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="TDSPRAS" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="1"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="TDTEXTTYPE" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="6"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="LANGUA_ISO" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="2"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="E1TXTP1" type="tns:E1TXTP1.000" minOccurs="0" maxOccurs="unbounded"/>
    </xsd:sequence>
    <xsd:attribute name="SEGMENT" type="xsd:string" fixed="1" use="required"/>
   </xsd:complexType>
   <xsd:complexType name="E1EVMHDR02.000">
    <xsd:sequence>
     <xsd:element name="EVTCOD" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="20"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="EVTID" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="50"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="LANGUAGE" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="1"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="SNDCOD" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="20"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="SNDID" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="50"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="SNDNAM" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="50"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="RCVCOD" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="20"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="RCVID" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="50"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="RCVNAM" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="50"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="REPCOD" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="20"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="REPID" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="50"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="REPNAM" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="50"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="EVTDAT" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="8"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="EVTTIM" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="6"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="EVTZON" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="6"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="REPDAT" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="8"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="REPTIM" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="6"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="REPZON" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="6"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="LODSTS" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="1"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="PRODDS" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="4"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="PRODDT" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="35"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="SRCCOD" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="20"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="SRCID" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="50"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="SRCTX" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="100"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="MSGMOD" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="1"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="MSGNUM" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="50"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="DATACS" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="20"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="DATAID" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="50"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="E1EVMTID" type="tns:E1EVMTID.000"/>
     <xsd:element name="E1EVMLID" type="tns:E1EVMLID.000" minOccurs="0" maxOccurs="unbounded"/>
     <xsd:element name="E1EVMPID" type="tns:E1EVMPID.000" minOccurs="0" maxOccurs="unbounded"/>
     <xsd:element name="E1EVMEEM" type="tns:E1EVMEEM.000" minOccurs="0" maxOccurs="unbounded"/>
     <xsd:element name="E1EVMCST02" type="tns:E1EVMCST02.000" minOccurs="0" maxOccurs="unbounded"/>
     <xsd:element name="E1EVMREF02" type="tns:E1EVMREF02.000" minOccurs="0" maxOccurs="unbounded"/>
     <xsd:element name="E1EVMMER02" type="tns:E1EVMMER02.000" minOccurs="0" maxOccurs="unbounded"/>
     <xsd:element name="E1EVMSTA" type="tns:E1EVMSTA.000" minOccurs="0" maxOccurs="unbounded"/>
     <xsd:element name="E1EVMPAR" type="tns:E1EVMPAR.000" minOccurs="0" maxOccurs="unbounded"/>
     <xsd:element name="E1TXTH1" type="tns:E1TXTH1.001" minOccurs="0"/>
    </xsd:sequence>
    <xsd:attribute name="SEGMENT" type="xsd:string" fixed="1" use="required"/>
   </xsd:complexType>
   <xsd:complexType name="EDI_DC40">
    <xsd:sequence>
     <xsd:element name="TABNAM">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="10"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="MANDT" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="3"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="DOCNUM" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="16"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="DOCREL" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="4"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="STATUS" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="2"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="DIRECT" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="1"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="OUTMOD" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="1"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="EXPRSS" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="1"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="TEST" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="1"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="IDOCTYP">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="30"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="CIMTYP" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="30"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="MESTYP">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="30"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="MESCOD" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="3"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="MESFCT" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="3"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="STD" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="1"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="STDVRS" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="6"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="STDMES" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="6"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="SNDPOR">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="10"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="SNDPRT">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="2"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="SNDPFC" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="2"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="SNDPRN">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="10"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="SNDSAD" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="21"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="SNDLAD" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="70"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="RCVPOR">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="10"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="RCVPRT">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="2"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="RCVPFC" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="2"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="RCVPRN">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="10"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="RCVSAD" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="21"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="RCVLAD" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="70"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="CREDAT" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="8"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="CRETIM" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="6"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="REFINT" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="14"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="REFGRP" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="14"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="REFMES" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="14"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="ARCKEY" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="70"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="SERIAL" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="20"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
    </xsd:sequence>
    <xsd:attribute name="SEGMENT" type="xsd:string" fixed="1" use="required"/>
   </xsd:complexType>
   <xsd:complexType name="EVMSTA.EVMSTA02">
    <xsd:sequence>
     <xsd:element name="EDI_DC40" type="tns:EDI_DC40"/>
     <xsd:element name="E1EVMHDR02" type="tns:E1EVMHDR02.000" maxOccurs="unbounded"/>
    </xsd:sequence>
    <xsd:attribute name="BEGIN" type="xsd:string" fixed="1" use="required"/>
   </xsd:complexType>
   <xsd:simpleType name="IDocId">
    <xsd:restriction base="xsd:string">
     <xsd:pattern value="\d+"/>
     <xsd:maxLength value="16"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:complexType name="IdocAssign">
    <xsd:sequence>
     <xsd:element name="TransferId" type="tns:IDocId"/>
     <xsd:element name="DbId" type="tns:IDocId"/>
    </xsd:sequence>
   </xsd:complexType>
   <xsd:element name="EVMSTA02">
    <xsd:complexType>
     <xsd:sequence>
      <xsd:element name="IDOC" type="tns:EVMSTA.EVMSTA02"/>
     </xsd:sequence>
    </xsd:complexType>
   </xsd:element>
   <xsd:element name="EVMSTA02Response">
    <xsd:complexType>
     <xsd:sequence>
      <xsd:element name="IdocAssign" type="tns:IdocAssign"/>
     </xsd:sequence>
    </xsd:complexType>
   </xsd:element>
  </xsd:schema>
 </wsdl:types>
 <wsdl:message name="EVMSTA.EVMSTA02">
  <wsdl:part name="EVMSTA02" element="tns:EVMSTA02"/>
 </wsdl:message>
 <wsdl:message name="EVMSTA.EVMSTA02Response">
  <wsdl:part name="EVMSTA02Response" element="tns:EVMSTA02Response"/>
 </wsdl:message>
 <wsdl:portType name="EVMSTA.EVMSTA02.PortType">
  <wsdl:operation name="EVMSTA.EVMSTA02">
   <wsdl:input message="tns:EVMSTA.EVMSTA02"/>
   <wsdl:output message="tns:EVMSTA.EVMSTA02Response"/>
  </wsdl:operation>
 </wsdl:portType>
</wsdl:definitions>
