Resources/schemas/Wsdl/SAP_Build_Process_Automation_Integration_with_SAP_S-4HANA_for_Update_Retail_Sales_Price - DOC_WEBI_BAPI_RPC_CALCULATE_PRICES-1.WSDL

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions targetNamespace="urn:sap-com:document:sap:soap:functions:mc-style" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsoap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="urn:sap-com:document:sap:soap:functions:mc-style" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:n1="urn:sap-com:document:sap:rfc:functions">
 <wsdl:documentation>
  <sidl:sidl xmlns:sidl="http://www.sap.com/2007/03/sidl"/>
 </wsdl:documentation>
 <wsp:UsingPolicy wsdl:required="true"/>
 <wsp:Policy wsu:Id="IF_IF_ZBAPI_RPC_CALCULATE_PRICES">
  <sapsession:Session xmlns:sapsession="http://www.sap.com/webas/630/soap/features/session/">
   <sapsession:enableSession>false</sapsession:enableSession>
  </sapsession:Session>
 </wsp:Policy>
 <wsp:Policy wsu:Id="OP_IF_OP_RpcCalculatePrices">
  <sapblock:enableBlocking xmlns:sapblock="http://www.sap.com/NW05/soap/features/blocking/">true</sapblock:enableBlocking>
  <sapcomhnd:enableCommit xmlns:sapcomhnd="http://www.sap.com/NW05/soap/features/commit/">false</sapcomhnd:enableCommit>
  <saptrhnw05:required xmlns:saptrhnw05="http://www.sap.com/NW05/soap/features/transaction/">no</saptrhnw05:required>
  <saprmnw05:enableWSRM xmlns:saprmnw05="http://www.sap.com/NW05/soap/features/wsrm/">false</saprmnw05:enableWSRM>
 </wsp:Policy>
 <wsdl:types>
  <xsd:schema attributeFormDefault="qualified" targetNamespace="urn:sap-com:document:sap:rfc:functions" xmlns:tns="urn:sap-com:document:sap:rfc:functions">
   <xsd:simpleType name="char1">
    <xsd:restriction base="xsd:string">
     <xsd:maxLength value="1"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="char10">
    <xsd:restriction base="xsd:string">
     <xsd:maxLength value="10"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="char18">
    <xsd:restriction base="xsd:string">
     <xsd:maxLength value="18"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="char2">
    <xsd:restriction base="xsd:string">
     <xsd:maxLength value="2"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="char20">
    <xsd:restriction base="xsd:string">
     <xsd:maxLength value="20"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="char220">
    <xsd:restriction base="xsd:string">
     <xsd:maxLength value="220"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="char240">
    <xsd:restriction base="xsd:string">
     <xsd:maxLength value="240"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="char3">
    <xsd:restriction base="xsd:string">
     <xsd:maxLength value="3"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="char30">
    <xsd:restriction base="xsd:string">
     <xsd:maxLength value="30"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="char32">
    <xsd:restriction base="xsd:string">
     <xsd:maxLength value="32"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="char4">
    <xsd:restriction base="xsd:string">
     <xsd:maxLength value="4"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="char40">
    <xsd:restriction base="xsd:string">
     <xsd:maxLength value="40"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="char50">
    <xsd:restriction base="xsd:string">
     <xsd:maxLength value="50"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="char9">
    <xsd:restriction base="xsd:string">
     <xsd:maxLength value="9"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="cuky5">
    <xsd:restriction base="xsd:string">
     <xsd:maxLength value="5"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="date10">
    <xsd:restriction base="xsd:string">
     <xsd:maxLength value="10"/>
     <xsd:pattern value="\d\d\d\d-\d\d-\d\d"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="decimal23.4">
    <xsd:restriction base="xsd:decimal">
     <xsd:totalDigits value="23"/>
     <xsd:fractionDigits value="4"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="decimal5.0">
    <xsd:restriction base="xsd:decimal">
     <xsd:totalDigits value="5"/>
     <xsd:fractionDigits value="0"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="numeric2">
    <xsd:restriction base="xsd:string">
     <xsd:maxLength value="2"/>
     <xsd:pattern value="\d*"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="numeric3">
    <xsd:restriction base="xsd:string">
     <xsd:maxLength value="3"/>
     <xsd:pattern value="\d*"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="numeric6">
    <xsd:restriction base="xsd:string">
     <xsd:maxLength value="6"/>
     <xsd:pattern value="\d*"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="unit3">
    <xsd:restriction base="xsd:string">
     <xsd:maxLength value="3"/>
    </xsd:restriction>
   </xsd:simpleType>
  </xsd:schema>
  <xsd:schema attributeFormDefault="qualified" targetNamespace="urn:sap-com:document:sap:soap:functions:mc-style" xmlns:n0="urn:sap-com:document:sap:rfc:functions">
   <xsd:import namespace="urn:sap-com:document:sap:rfc:functions"/>
   <xsd:complexType name="Bapicalcitemout">
    <xsd:sequence>
     <xsd:element name="SALES_ORG" type="n0:char4"/>
     <xsd:element name="DISTR_CHAN" type="n0:char2"/>
     <xsd:element name="PLANT" type="n0:char4"/>
     <xsd:element name="PRICE_LIST" type="n0:char2"/>
     <xsd:element name="Sitegroup" type="n0:char18"/>
     <xsd:element name="ClassType" type="n0:char3"/>
     <xsd:element name="MATERIAL" type="n0:char18"/>
     <xsd:element name="SALES_UNIT" type="n0:unit3"/>
     <xsd:element name="SALESUNITIso" type="n0:char3"/>
     <xsd:element name="SP_VALID_FROM" type="n0:date10"/>
     <xsd:element name="SP_VALID_TO" type="n0:date10"/>
     <xsd:element name="SALES_P_UNIT" type="n0:decimal5.0"/>
     <xsd:element name="PP_DETERM_SEQUENCE" type="n0:char2"/>
     <xsd:element name="SP_DETERM_SEQUENCE" type="n0:char2"/>
     <xsd:element name="PURCHORG" type="n0:char4"/>
     <xsd:element name="VENDOR" type="n0:char10"/>
     <xsd:element name="PurchCurrency" type="n0:cuky5"/>
     <xsd:element name="PurchCurrencyIso" type="n0:char3"/>
     <xsd:element name="BASIC_PURCHASE_PRICE" type="n0:decimal23.4"/>
     <xsd:element name="PRICING_CURRENCY" type="n0:cuky5"/>
     <xsd:element name="PRICING_CURRENCYIso" type="n0:char3"/>
     <xsd:element name="NetNetPurchasePrice" type="n0:decimal23.4"/>
     <xsd:element name="CURRENT_MARKUP" type="n0:decimal23.4"/>
     <xsd:element name="NET_SALES_PRICE" type="n0:decimal23.4"/>
     <xsd:element name="GROSS_SALES_PRICE" type="n0:decimal23.4"/>
     <xsd:element name="SalesCurrency" type="n0:cuky5"/>
     <xsd:element name="SalesCurrencyIso" type="n0:char3"/>
     <xsd:element name="FINAL_PRICE" type="n0:decimal23.4"/>
     <xsd:element name="NetMargin" type="n0:decimal23.4"/>
     <xsd:element name="GROSS_MARGIN" type="n0:decimal23.4"/>
     <xsd:element name="SP_MARKED_FOR_ACTIVATION" type="n0:char1"/>
     <xsd:element name="MatlGroup" type="n0:char9"/>
     <xsd:element name="MatlCat" type="n0:char2"/>
     <xsd:element name="PrRefMat" type="n0:char18"/>
     <xsd:element name="PriceFixing" type="n0:char1"/>
     <xsd:element name="PpDetermType" type="n0:char1"/>
     <xsd:element name="SpDetermType" type="n0:char1"/>
     <xsd:element name="PlannedMarkup" type="n0:decimal23.4"/>
     <xsd:element name="PricingLevel" type="n0:char2"/>
     <xsd:element name="CurrentSalesPrice" type="n0:decimal23.4"/>
     <xsd:element name="CurrentPricingLevel" type="n0:char2"/>
     <xsd:element name="CurrentSP_VALID_FROM" type="n0:date10"/>
     <xsd:element name="CurrentSP_VALID_TO" type="n0:date10"/>
     <xsd:element name="CurrentNetMargin" type="n0:decimal23.4"/>
     <xsd:element name="CurrentGROSS_MARGIN" type="n0:decimal23.4"/>
     <xsd:element name="ParallelFINAL_PRICE" type="n0:decimal23.4"/>
     <xsd:element name="ReducedFromPrice" type="n0:decimal23.4"/>
     <xsd:element name="CashPrice" type="n0:decimal23.4"/>
     <xsd:element name="RecommendedPrice" type="n0:decimal23.4"/>
     <xsd:element name="SuggestedPrice" type="n0:decimal23.4"/>
     <xsd:element name="InitialPrice" type="n0:decimal23.4"/>
     <xsd:element name="VariablePrice" type="n0:decimal23.4"/>
     <xsd:element name="Percentage" type="n0:decimal23.4"/>
     <xsd:element name="RetailPriceChangePercentage" type="n0:decimal23.4"/>
     <xsd:element name="ConsumerPriceMarkup" type="n0:decimal23.4"/>
     <xsd:element name="ConsumerPrice" type="n0:decimal23.4"/>
     <xsd:element name="ConsumerPriceMargin" type="n0:decimal23.4"/>
     <xsd:element name="ConsumerPricePlannedMarkup" type="n0:decimal23.4"/>
     <xsd:element name="PricingDocType" type="n0:char4"/>
     <xsd:element name="RETURNCode" type="n0:numeric2"/>
     <xsd:element name="MATERIALExternal" type="n0:char40"/>
     <xsd:element name="MATERIALGuid" type="n0:char32"/>
     <xsd:element name="MATERIALVersion" type="n0:char10"/>
     <xsd:element name="PrRefMatExternal" type="n0:char40"/>
     <xsd:element name="PrRefMatGuid" type="n0:char32"/>
     <xsd:element name="PrRefMatVersion" type="n0:char10"/>
     <xsd:element name="MATERIALLong" type="n0:char40"/>
     <xsd:element name="PrRefMatLong" type="n0:char40"/>
    </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="Bapiparex">
    <xsd:sequence>
     <xsd:element name="Structure" type="n0:char30"/>
     <xsd:element name="Valuepart1" type="n0:char240"/>
     <xsd:element name="Valuepart2" type="n0:char240"/>
     <xsd:element name="Valuepart3" type="n0:char240"/>
     <xsd:element name="Valuepart4" type="n0:char240"/>
    </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="Bapiret2">
    <xsd:sequence>
     <xsd:element name="Type" type="n0:char1"/>
     <xsd:element name="Id" type="n0:char20"/>
     <xsd:element name="Number" type="n0:numeric3"/>
     <xsd:element name="Message" type="n0:char220"/>
     <xsd:element name="LogNo" type="n0:char20"/>
     <xsd:element name="LogMsgNo" type="n0:numeric6"/>
     <xsd:element name="MessageV1" type="n0:char50"/>
     <xsd:element name="MessageV2" type="n0:char50"/>
     <xsd:element name="MessageV3" type="n0:char50"/>
     <xsd:element name="MessageV4" type="n0:char50"/>
     <xsd:element name="Parameter" type="n0:char32"/>
     <xsd:element name="Row" type="xsd:int"/>
     <xsd:element name="Field" type="n0:char30"/>
     <xsd:element name="System" type="n0:char10"/>
    </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="Bapirpccontrol">
    <xsd:sequence>
     <xsd:element name="ListGroup" type="n0:char1"/>
     <xsd:element name="ListVariant" type="n0:char2"/>
     <xsd:element name="NoConditions" type="n0:char1"/>
     <xsd:element name="ProcedureCalculation" type="n0:char2"/>
     <xsd:element name="ExternalDocNumber" type="n0:char10"/>
    </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="BapiCALCITEMINX">
    <xsd:sequence>
     <xsd:element name="SALES_ORG" type="n0:char4"/>
     <xsd:element name="DISTR_CHAN" type="n0:char2"/>
     <xsd:element name="PLANT" type="n0:char4"/>
     <xsd:element name="PRICE_LIST" type="n0:char2"/>
     <xsd:element name="Sitegroup" type="n0:char18"/>
     <xsd:element name="ClassType" type="n0:char3"/>
     <xsd:element name="MATERIAL" type="n0:char18"/>
     <xsd:element name="SALES_UNIT" type="n0:unit3"/>
     <xsd:element name="SALESUNITIso" type="n0:char3"/>
     <xsd:element name="SP_VALID_FROM" type="n0:char1"/>
     <xsd:element name="SP_VALID_TO" type="n0:char1"/>
     <xsd:element name="SALES_P_UNIT" type="n0:char1"/>
     <xsd:element name="PP_DETERM_SEQUENCE" type="n0:char1"/>
     <xsd:element name="SP_DETERM_SEQUENCE" type="n0:char1"/>
     <xsd:element name="PURCHORG" type="n0:char1"/>
     <xsd:element name="VENDOR" type="n0:char1"/>
     <xsd:element name="NetNetPurchasePrice" type="n0:char1"/>
     <xsd:element name="BASIC_PURCHASE_PRICE" type="n0:char1"/>
     <xsd:element name="CURRENT_MARKUP" type="n0:char1"/>
     <xsd:element name="NET_SALES_PRICE" type="n0:char1"/>
     <xsd:element name="GROSS_SALES_PRICE" type="n0:char1"/>
     <xsd:element name="FINAL_PRICE" type="n0:char1"/>
     <xsd:element name="NetMargin" type="n0:char1"/>
     <xsd:element name="GROSS_MARGIN" type="n0:char1"/>
     <xsd:element name="ReducedFromPrice" type="n0:char1"/>
     <xsd:element name="CashPrice" type="n0:char1"/>
     <xsd:element name="RecommendedPrice" type="n0:char1"/>
     <xsd:element name="RetailPriceChangePercentage" type="n0:char1"/>
     <xsd:element name="ConsumerPriceMarkup" type="n0:char1"/>
     <xsd:element name="ConsumerPrice" type="n0:char1"/>
     <xsd:element name="ConsumerPriceMargin" type="n0:char1"/>
     <xsd:element name="PricingDocType" type="n0:char1"/>
     <xsd:element name="SP_MARKED_FOR_ACTIVATION" type="n0:char1"/>
     <xsd:element name="MATERIALExternal" type="n0:char40"/>
     <xsd:element name="MATERIALGuid" type="n0:char32"/>
     <xsd:element name="MATERIALVersion" type="n0:char10"/>
     <xsd:element name="MATERIALLong" type="n0:char40"/>
    </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="BapiCALCITEMIN">
    <xsd:sequence>
     <xsd:element name="SALES_ORG" type="n0:char4"/>
     <xsd:element name="DISTR_CHAN" type="n0:char2"/>
     <xsd:element name="PLANT" type="n0:char4"/>
     <xsd:element name="PRICE_LIST" type="n0:char2"/>
     <xsd:element name="Sitegroup" type="n0:char18"/>
     <xsd:element name="ClassType" type="n0:char3"/>
     <xsd:element name="MATERIAL" type="n0:char18"/>
     <xsd:element name="SALES_UNIT" type="n0:unit3"/>
     <xsd:element name="SALESUNITIso" type="n0:char3"/>
     <xsd:element name="SP_VALID_FROM" type="n0:date10"/>
     <xsd:element name="SP_VALID_TO" type="n0:date10"/>
     <xsd:element name="SALES_P_UNIT" type="n0:decimal5.0"/>
     <xsd:element name="PP_DETERM_SEQUENCE" type="n0:char2"/>
     <xsd:element name="SP_DETERM_SEQUENCE" type="n0:char2"/>
     <xsd:element name="PURCHORG" type="n0:char4"/>
     <xsd:element name="VENDOR" type="n0:char10"/>
     <xsd:element name="PurchCurrency" type="n0:cuky5"/>
     <xsd:element name="PurchCurrencyIso" type="n0:char3"/>
     <xsd:element name="BASIC_PURCHASE_PRICE" type="n0:decimal23.4"/>
     <xsd:element name="PRICING_CURRENCY" type="n0:cuky5"/>
     <xsd:element name="PRICING_CURRENCYIso" type="n0:char3"/>
     <xsd:element name="NetNetPurchasePrice" type="n0:decimal23.4"/>
     <xsd:element name="CURRENT_MARKUP" type="n0:decimal23.4"/>
     <xsd:element name="NET_SALES_PRICE" type="n0:decimal23.4"/>
     <xsd:element name="GROSS_SALES_PRICE" type="n0:decimal23.4"/>
     <xsd:element name="SalesCurrency" type="n0:cuky5"/>
     <xsd:element name="SalesCurrencyIso" type="n0:char3"/>
     <xsd:element name="FINAL_PRICE" type="n0:decimal23.4"/>
     <xsd:element name="NetMargin" type="n0:decimal23.4"/>
     <xsd:element name="GROSS_MARGIN" type="n0:decimal23.4"/>
     <xsd:element name="ReducedFromPrice" type="n0:decimal23.4"/>
     <xsd:element name="CashPrice" type="n0:decimal23.4"/>
     <xsd:element name="RecommendedPrice" type="n0:decimal23.4"/>
     <xsd:element name="RetailPriceChangePercentage" type="n0:decimal23.4"/>
     <xsd:element name="ConsumerPriceMarkup" type="n0:decimal23.4"/>
     <xsd:element name="ConsumerPrice" type="n0:decimal23.4"/>
     <xsd:element name="ConsumerPriceMargin" type="n0:decimal23.4"/>
     <xsd:element name="PricingDocType" type="n0:char4"/>
     <xsd:element name="SP_MARKED_FOR_ACTIVATION" type="n0:char1"/>
     <xsd:element name="MATERIALExternal" type="n0:char40"/>
     <xsd:element name="MATERIALGuid" type="n0:char32"/>
     <xsd:element name="MATERIALVersion" type="n0:char10"/>
     <xsd:element name="MATERIALLong" type="n0:char40"/>
    </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="TableOfBapicalcitemout">
    <xsd:sequence>
     <xsd:element name="item" type="tns:Bapicalcitemout" minOccurs="0" maxOccurs="unbounded"/>
    </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="TableOfBapiparex">
    <xsd:sequence>
     <xsd:element name="item" type="tns:Bapiparex" minOccurs="0" maxOccurs="unbounded"/>
    </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="TableOfBapiret2">
    <xsd:sequence>
     <xsd:element name="item" type="tns:Bapiret2" minOccurs="0" maxOccurs="unbounded"/>
    </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="TableOfBapiCALCITEMINX">
    <xsd:sequence>
     <xsd:element name="item" type="tns:BapiCALCITEMINX" minOccurs="0" maxOccurs="unbounded"/>
    </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="TableOfBapiCALCITEMIN">
    <xsd:sequence>
     <xsd:element name="item" type="tns:BapiCALCITEMIN" minOccurs="0" maxOccurs="unbounded"/>
    </xsd:sequence>
   </xsd:complexType>
   <xsd:element name="RpcCalculatePrices">
    <xsd:complexType>
     <xsd:sequence>
      <xsd:element name="CALCITEMIN" type="tns:TableOfBapiCALCITEMIN"/>
      <xsd:element name="CALCITEMINX" type="tns:TableOfBapiCALCITEMINX" minOccurs="0"/>
      <xsd:element name="Calcitemout" type="tns:TableOfBapicalcitemout"/>
      <xsd:element name="Extensionin" type="tns:TableOfBapiparex" minOccurs="0"/>
      <xsd:element name="Extensionout" type="tns:TableOfBapiparex" minOccurs="0"/>
      <xsd:element name="RETURN" type="tns:TableOfBapiret2"/>
      <xsd:element name="Rpccontrolin" type="tns:Bapirpccontrol" minOccurs="0"/>
     </xsd:sequence>
    </xsd:complexType>
   </xsd:element>
   <xsd:element name="BAPI_RPC_CALCULATE_PRICES.Response">
    <xsd:complexType>
     <xsd:sequence>
      <xsd:element name="CALCITEMIN" type="tns:TableOfBapiCALCITEMIN"/>
      <xsd:element name="CALCITEMINX" type="tns:TableOfBapiCALCITEMINX" minOccurs="0"/>
      <xsd:element name="Calcitemout" type="tns:TableOfBapicalcitemout"/>
      <xsd:element name="Extensionin" type="tns:TableOfBapiparex" minOccurs="0"/>
      <xsd:element name="Extensionout" type="tns:TableOfBapiparex" minOccurs="0"/>
      <xsd:element name="RETURN" type="tns:TableOfBapiret2"/>
     </xsd:sequence>
    </xsd:complexType>
   </xsd:element>
  </xsd:schema>
 </wsdl:types>
 <wsdl:message name="RpcCalculatePrices">
  <wsdl:part name="parameters" element="tns:RpcCalculatePrices"/>
 </wsdl:message>
 <wsdl:message name="BAPI_RPC_CALCULATE_PRICES.Response">
  <wsdl:part name="parameter" element="tns:BAPI_RPC_CALCULATE_PRICES.Response"/>
 </wsdl:message>
 <wsdl:portType name="ZBAPI_RPC_CALCULATE_PRICES">
  <wsdl:documentation>
   <sapdoc:sapdoc xmlns:sapdoc="urn:sap:esi:documentation">
    <sapdoc:docitem docURL="http://saphanaretail.gcp.wipro.com:8001/sap/bc/esdt/docu/sd_text?sap-client=201&amp;sd_name=ZBAPI_RPC_CALCULATE_PRICES"/>
   </sapdoc:sapdoc>
  </wsdl:documentation>
  <wsp:Policy>
   <wsp:PolicyReference URI="#IF_IF_ZBAPI_RPC_CALCULATE_PRICES"/>
  </wsp:Policy>
  <wsdl:operation name="RpcCalculatePrices">
   <wsp:Policy>
    <wsp:PolicyReference URI="#OP_IF_OP_RpcCalculatePrices"/>
   </wsp:Policy>
   <wsdl:input message="tns:RpcCalculatePrices"/>
   <wsdl:output message="tns:BAPI_RPC_CALCULATE_PRICES.Response"/>
  </wsdl:operation>
 </wsdl:portType>
</wsdl:definitions>
