Resources/schemas/Wsdl/SAP_Business_Network_Asset_Collaboration_integration_with_SAP_Cloud_for_Customer - ABS_Service.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://webservice.SalesOrder.test.org" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://webservice.SalesOrder.test.org" xmlns:intf="http://webservice.SalesOrder.test.org" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://webservice.SalesOrder.test.org" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="ABS_REQUEST">
    <complexType>
     <sequence>
      <element name="TechnicalProvider" type="xsd:string"/>
      <element name="CompanyId" type="xsd:string"/>
      <element name="SendingTime" type="xsd:string"/>
      <element name="MerchantId" type="xsd:string"/>
      <element name="PaymentType" type="xsd:string"/>
      <element name="PaymentProvider" type="xsd:string"/>
      <element name="ReceiverEmail" type="xsd:string"/>
      <element name="PurposeNote" type="xsd:string"/>
      <element name="Amount" type="xsd:string"/>
      <element name="Currency" type="xsd:string"/>
      <element name="OTR" type="xsd:string"/>
      <element name="SIGN" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="ABS_REQUEST">

      <wsdl:part element="impl:ABS_REQUEST" name="parameters">

      </wsdl:part>

   </wsdl:message>


   
   <wsdl:portType name="ABS_Service">
      <wsdl:operation name="request">
         <wsdl:input message="impl:ABS_REQUEST" name="ABS_REQUEST">
       </wsdl:input>
      </wsdl:operation>
   </wsdl:portType>

   <wsdl:binding name="ABS_ServiceBinding" type="impl:ABS_Service">
      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
      <wsdl:operation name="request">
         <wsdlsoap:operation soapAction=""/>
         <wsdl:input name="ABS_REQUEST">
            <wsdlsoap:body use="literal"/>
         </wsdl:input>

      </wsdl:operation>
   </wsdl:binding>



</wsdl:definitions>