Resources/schemas/Wsdl/SAP_CPQ_-_Quote_2.0_Integration_with_SAP_Billing_and_Revenue_Innovation_Management - Callidus ProductSOAPAPI.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://webcominc.com/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" targetNamespace="http://webcominc.com/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://webcominc.com/">
      <s:element name="SimpleProductAdministration">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="userName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="action" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="xDoc">
              <s:complexType mixed="true">
                <s:sequence>
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SimpleProductAdministrationResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SimpleProductAdministrationResult">
              <s:complexType mixed="true">
                <s:sequence>
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="SimpleProductAdministrationSoapIn">
    <wsdl:part name="parameters" element="tns:SimpleProductAdministration" />
  </wsdl:message>
  <wsdl:message name="SimpleProductAdministrationSoapOut">
    <wsdl:part name="parameters" element="tns:SimpleProductAdministrationResponse" />
  </wsdl:message>
  <wsdl:portType name="WsSrvSoap">
    <wsdl:operation name="SimpleProductAdministration">
      <wsdl:input message="tns:SimpleProductAdministrationSoapIn" />
      <wsdl:output message="tns:SimpleProductAdministrationSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WsSrvSoap" type="tns:WsSrvSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SimpleProductAdministration">
      <soap:operation soapAction="http://webcominc.com/SimpleProductAdministration" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WsSrvSoap12" type="tns:WsSrvSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SimpleProductAdministration">
      <soap12:operation soapAction="http://webcominc.com/SimpleProductAdministration" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WsSrv">
    <wsdl:port name="WsSrvSoap" binding="tns:WsSrvSoap">
      <soap:address location="http://www.webcomcpq.com/wsAPI/wssrv.asmx" />
    </wsdl:port>
    <wsdl:port name="WsSrvSoap12" binding="tns:WsSrvSoap12">
      <soap12:address location="http://www.webcomcpq.com/wsAPI/wssrv.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>