Resources/schemas/Wsdl/SAP_SuccessFactors_Recruiting_Management_Integration_with_Third_Party_Assessment_Vendor-SHL - AssessmentOrderRequest-1.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions name="WebServiceProvider"
	targetNamespace="http://www.boomi.com/connector/wss" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.boomi.com/connector/wss"
	xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<wsdl:types xmlns:xs="http://www.w3.org/2001/XMLSchema">
		
		<xs:schema elementFormDefault="qualified" version="1.0"
			xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ns3="com.successfactors.alert"
			xmlns:tns="http://www.boomi.com/connector/wss" targetNamespace="http://www.boomi.com/connector/wss">
			<xs:import namespace="com.successfactors.alert" />

			<xs:element name="AssessmentResult" type="tns:AssessmentResult" />
			<xs:complexType name="AssessmentResult">
				<xs:sequence>
					<xs:element maxOccurs="1" minOccurs="0" name="LoginKey"
						type="xs:string" />
					<xs:element maxOccurs="1" minOccurs="0" name="Password"
						type="xs:string" />
					<xs:element maxOccurs="1" minOccurs="0" name="ClientId"
						type="xs:string" />
					<xs:element maxOccurs="1" minOccurs="0" name="ClientOrderId"
						type="xs:string" />
					<xs:element maxOccurs="1" minOccurs="0" name="ReceiptId"
						type="xs:string" />
					<xs:element maxOccurs="1" minOccurs="0" name="AssessmentStatus">
						<xs:complexType>
							<xs:sequence>
								<xs:element maxOccurs="1" minOccurs="0" name="Status"
									type="xs:string" />
								<xs:element maxOccurs="1" minOccurs="0" name="Details"
									type="xs:string" />
								<xs:element maxOccurs="1" minOccurs="0" name="StatusDate"
									type="xs:dateTime" />
							</xs:sequence>
						</xs:complexType>
					</xs:element>
					<xs:element maxOccurs="1" minOccurs="0" name="Results">
						<xs:complexType>
							<xs:sequence>
								<xs:element maxOccurs="1" minOccurs="0" name="OverallResult">
									<xs:complexType>
										<xs:sequence>
											<xs:element maxOccurs="1" minOccurs="0" name="Comments"
												type="xs:string" />
											<xs:element maxOccurs="unbounded" minOccurs="0"
												name="Score">
												<xs:complexType>
													<xs:simpleContent>
														<xs:extension base="xs:string">
															<xs:attribute name="type" type="xs:string" />
														</xs:extension>
													</xs:simpleContent>
												</xs:complexType>
											</xs:element>
											<xs:element maxOccurs="1" minOccurs="0" name="Band">
												<xs:complexType>
													<xs:simpleContent>
														<xs:extension base="xs:string">
															<xs:attribute name="type" type="xs:string" />
														</xs:extension>
													</xs:simpleContent>
												</xs:complexType>
											</xs:element>
										</xs:sequence>
									</xs:complexType>
								</xs:element>
								<xs:element maxOccurs="1" minOccurs="0" name="FullReportURL"
									type="xs:string" />
							</xs:sequence>
						</xs:complexType>
					</xs:element>
				</xs:sequence>
			</xs:complexType>
			<xs:element name="AssessmentResultAcknowledgement" type="tns:AssessmentResultAcknowledgement" />
			<xs:complexType name="AssessmentResultAcknowledgement">
				<xs:sequence>
					<xs:element maxOccurs="1" minOccurs="0" name="status"
						type="xs:string" />
					<xs:element maxOccurs="1" minOccurs="0" name="details"
						type="xs:string" />
				</xs:sequence>
			</xs:complexType>


			<xs:element name="createAssessmentResult" type="tns:createAssessmentResult"></xs:element>
			<xs:complexType name="createAssessmentResult">
				<xs:sequence>
					<xs:element minOccurs="0" ref="tns:AssessmentResult" />
				</xs:sequence>
			</xs:complexType>
			<xs:element name="createAssessmentResultResponse" type="tns:createAssessmentResultResponse" />
			<xs:complexType name="createAssessmentResultResponse">
				<xs:sequence>
					<xs:element minOccurs="0"
						ref="tns:AssessmentResultAcknowledgement" />
				</xs:sequence>
			</xs:complexType>
			<xs:element name="createRcmAssessmentRequest" type="tns:createRcmAssessmentRequest" />
			<xs:complexType name="createRcmAssessmentRequest">
				<xs:sequence>
					<xs:element minOccurs="0" ref="ns3:rcmAssessmentRequest" />
				</xs:sequence>
			</xs:complexType>
			<xs:element name="createRcmAssessmentRequestResponse"
				type="tns:createRcmAssessmentRequestResponse" />
			<xs:complexType name="createRcmAssessmentRequestResponse">
				<xs:sequence>
					<xs:element minOccurs="0" ref="ns3:rcmAssessmentResponse" />
				</xs:sequence>
			</xs:complexType>
		</xs:schema>
		

		<xs:schema xmlns:tns="com.successfactors.alert"
			elementFormDefault="qualified" targetNamespace="com.successfactors.alert"
			version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
			<xs:element name="rcmAssessmentRequest" type="tns:rcmAssessmentRequest" />
			<xs:complexType name="rcmAssessmentRequest">
				<xs:sequence>
					<xs:element maxOccurs="1" minOccurs="1" name="entityName"
						type="xs:string" />
					<xs:element maxOccurs="1" minOccurs="1" name="entityId"
						type="xs:string" />
				</xs:sequence>
			</xs:complexType>
			<xs:element name="rcmAssessmentResponse" type="tns:rcmAssessmentResponse" />
			<xs:complexType name="rcmAssessmentResponse">
				<xs:sequence>
					<xs:element maxOccurs="1" minOccurs="0" name="entityId"
						type="xs:string" />
					<xs:element maxOccurs="1" minOccurs="0" name="status"
						type="xs:string" />
					<xs:element maxOccurs="1" minOccurs="0" name="statusDate"
						type="xs:dateTime" />
					<xs:element maxOccurs="1" minOccurs="0" name="statusDetails"
						type="xs:string" />
					<xs:element maxOccurs="1" minOccurs="0" name="assessmentUrl"
						type="xs:string" />
					<xs:element maxOccurs="1" minOccurs="0" name="receiptId"
						type="xs:string" />
					<xs:element maxOccurs="1" minOccurs="0" name="errorCode"
						type="xs:string" />
					<xs:element maxOccurs="1" minOccurs="0" name="errorMessage"
						type="xs:string" />
				</xs:sequence>
			</xs:complexType>
		</xs:schema>

	</wsdl:types>

	<wsdl:message name="createAssessmentResult">
		<wsdl:part element="tns:createAssessmentResult" name="parameters" />
	</wsdl:message>
	<wsdl:message name="createAssessmentResultResponse">
		<wsdl:part element="tns:createAssessmentResultResponse"
			name="parameters" />
	</wsdl:message>
	<wsdl:message name="createRcmAssessmentRequest">
		<wsdl:part element="tns:createRcmAssessmentRequest" name="parameters" />
	</wsdl:message>
	<wsdl:message name="createRcmAssessmentRequestResponse">
		<wsdl:part element="tns:createRcmAssessmentRequestResponse"
			name="parameters" />
	</wsdl:message>
	<wsdl:portType name="WebServiceProviderPortType">
		<wsdl:operation name="createAssessmentResult">
			<wsdl:input message="tns:createAssessmentResult" />
			<wsdl:output message="tns:createAssessmentResultResponse" />
		</wsdl:operation>
		<wsdl:operation name="createRcmAssessmentRequest">
			<wsdl:input message="tns:createRcmAssessmentRequest" />
			<wsdl:output message="tns:createRcmAssessmentRequestResponse" />
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="WebServiceProviderPortBinding" type="tns:WebServiceProviderPortType">
		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="createAssessmentResult">
			<soap:operation soapAction="createAssessmentResult" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="createRcmAssessmentRequest">
			<soap:operation soapAction="createRcmAssessmentRequest" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="WebServiceProvider">
		<wsdl:port binding="tns:WebServiceProviderPortBinding" name="WebServiceProviderPort">
			<soap:address location="https://boomiqa.successfactors.com/ws/soap" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
