Resources/schemas/Wsdl/SAP_Build_Process_Automation_Integration_with_SAP_ERP_for_Invoice - MMPUR_UI_GET_SUPPLIERS_Request.wsdl


<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:ns0="urn:sap-com:document:sap:rfc:functions" name="MMPUR_UI_GET_SUPPLIERS" targetNamespace="urn:sap-com:document:sap:rfc:functions">
   <wsdl:types>
      <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="urn:sap-com:document:sap:rfc:functions" targetNamespace="urn:sap-com:document:sap:rfc:functions">
         <xsd:element name="MMPUR_UI_GET_SUPPLIERS.Response">
            <xsd:complexType>
               <xsd:all>
                  <xsd:element name="ET_RESULT" minOccurs="0">
                     <xsd:annotation>
                        <xsd:documentation>
                        Vendors of search help
                        </xsd:documentation>
                     </xsd:annotation>
                     <xsd:complexType>
                        <xsd:sequence>
                           <xsd:element name="item" type="MMPURUI_VENDORS_STY" minOccurs="0" maxOccurs="unbounded" />
                        </xsd:sequence>
                     </xsd:complexType>
                  </xsd:element>
               </xsd:all>
            </xsd:complexType>
         </xsd:element>
         <xsd:element name="MMPUR_UI_GET_SUPPLIERS">
            <xsd:complexType>
               <xsd:all>
                  <xsd:element name="IS_CITY" type="MMPURUI_RANGE_STY" minOccurs="0">
                     <xsd:annotation>
                        <xsd:documentation>
                        ABAP: General Structure for PARAMETERS and SELECT-OPTIONS
                        </xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
                  <xsd:element name="IS_EMAIL" type="MMPURUI_RANGE_STY" minOccurs="0">
                     <xsd:annotation>
                        <xsd:documentation>
                        ABAP: General Structure for PARAMETERS and SELECT-OPTIONS
                        </xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
                  <xsd:element name="IS_NAME1" type="MMPURUI_RANGE_STY" minOccurs="0">
                     <xsd:annotation>
                        <xsd:documentation>
                        ABAP: General Structure for PARAMETERS and SELECT-OPTIONS
                        </xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
                  <xsd:element name="IS_NAME2" type="MMPURUI_RANGE_STY" minOccurs="0">
                     <xsd:annotation>
                        <xsd:documentation>
                        ABAP: General Structure for PARAMETERS and SELECT-OPTIONS
                        </xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
                  <xsd:element name="IS_PSTCODE" type="MMPURUI_RANGE_STY" minOccurs="0">
                     <xsd:annotation>
                        <xsd:documentation>
                        ABAP: General Structure for PARAMETERS and SELECT-OPTIONS
                        </xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
                  <xsd:element name="IS_SEARCHTERM1" type="MMPURUI_RANGE_STY" minOccurs="0">
                     <xsd:annotation>
                        <xsd:documentation>
                        MMPUR_UI_MODEL: Structure for Selection Tables
                        </xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
                  <xsd:element name="IS_SEARCHTERM2" type="MMPURUI_RANGE_STY" minOccurs="0">
                     <xsd:annotation>
                        <xsd:documentation>
                        MMPUR_UI_MODEL: Structure for Selection Tables
                        </xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
                  <xsd:element name="IS_STREET" type="MMPURUI_RANGE_STY" minOccurs="0">
                     <xsd:annotation>
                        <xsd:documentation>
                        ABAP: General Structure for PARAMETERS and SELECT-OPTIONS
                        </xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
                  <xsd:element name="IS_SUPPLIER" type="MMPURUI_RANGE_STY" minOccurs="0">
                     <xsd:annotation>
                        <xsd:documentation>
                        ABAP: General Structure for PARAMETERS and SELECT-OPTIONS
                        </xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
                  <xsd:element name="IV_LANGUAGE" minOccurs="0">
                     <xsd:annotation>
                        <xsd:documentation>
                        Language Key of Current Text Environment
                        </xsd:documentation>
                     </xsd:annotation>
                     <xsd:simpleType>
                        <xsd:restriction base="xsd:string">
                           <xsd:maxLength value="1" />
                        </xsd:restriction>
                     </xsd:simpleType>
                  </xsd:element>
                  <xsd:element name="IV_MAX_RESULTS" type="xsd:integer" minOccurs="0">
                     <xsd:annotation>
                        <xsd:documentation>
                        Natural number
                        </xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
               </xsd:all>
            </xsd:complexType>
         </xsd:element>
         <xsd:complexType name="MMPURUI_RANGE_STY">
            <xsd:annotation>
               <xsd:documentation>
               MMPUR_UI_MODEL: Structure for Selection Tables
               </xsd:documentation>
            </xsd:annotation>
            <xsd:sequence>
               <xsd:element name="SIGN" minOccurs="0">
                  <xsd:annotation>
                     <xsd:documentation>
                     ABAP: ID: I/E (include/exclude values)
                     </xsd:documentation>
                  </xsd:annotation>
                  <xsd:simpleType>
                     <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="1" />
                     </xsd:restriction>
                  </xsd:simpleType>
               </xsd:element>
               <xsd:element name="OPTION" minOccurs="0">
                  <xsd:annotation>
                     <xsd:documentation>
                     ABAP: Selection option (EQ/BT/CP/...)
                     </xsd:documentation>
                  </xsd:annotation>
                  <xsd:simpleType>
                     <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="2" />
                     </xsd:restriction>
                  </xsd:simpleType>
               </xsd:element>
               <xsd:element name="LOW" minOccurs="0">
                  <xsd:annotation>
                     <xsd:documentation>
                     ABAP/4: Selection value (LOW or HIGH value, external format)
                     </xsd:documentation>
                  </xsd:annotation>
                  <xsd:simpleType>
                     <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="45" />
                     </xsd:restriction>
                  </xsd:simpleType>
               </xsd:element>
               <xsd:element name="HIGH" minOccurs="0">
                  <xsd:annotation>
                     <xsd:documentation>
                     ABAP/4: Selection value (LOW or HIGH value, external format)
                     </xsd:documentation>
                  </xsd:annotation>
                  <xsd:simpleType>
                     <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="45" />
                     </xsd:restriction>
                  </xsd:simpleType>
               </xsd:element>
            </xsd:sequence>
         </xsd:complexType>
         <xsd:complexType name="MMPURUI_VENDORS_STY">
            <xsd:annotation>
               <xsd:documentation>
               vendor search help
               </xsd:documentation>
            </xsd:annotation>
            <xsd:sequence>
               <xsd:element name="LIFNR" minOccurs="0">
                  <xsd:annotation>
                     <xsd:documentation>
                     Account Number of Vendor or Creditor
                     </xsd:documentation>
                  </xsd:annotation>
                  <xsd:simpleType>
                     <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="10" />
                     </xsd:restriction>
                  </xsd:simpleType>
               </xsd:element>
               <xsd:element name="NAME1" minOccurs="0">
                  <xsd:annotation>
                     <xsd:documentation>
                     Name 1
                     </xsd:documentation>
                  </xsd:annotation>
                  <xsd:simpleType>
                     <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="35" />
                     </xsd:restriction>
                  </xsd:simpleType>
               </xsd:element>
               <xsd:element name="NAME2" minOccurs="0">
                  <xsd:annotation>
                     <xsd:documentation>
                     Name 2
                     </xsd:documentation>
                  </xsd:annotation>
                  <xsd:simpleType>
                     <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="40" />
                     </xsd:restriction>
                  </xsd:simpleType>
               </xsd:element>
               <xsd:element name="STREET" minOccurs="0">
                  <xsd:annotation>
                     <xsd:documentation>
                     Street
                     </xsd:documentation>
                  </xsd:annotation>
                  <xsd:simpleType>
                     <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="60" />
                     </xsd:restriction>
                  </xsd:simpleType>
               </xsd:element>
               <xsd:element name="CITY1" minOccurs="0">
                  <xsd:annotation>
                     <xsd:documentation>
                     City
                     </xsd:documentation>
                  </xsd:annotation>
                  <xsd:simpleType>
                     <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="40" />
                     </xsd:restriction>
                  </xsd:simpleType>
               </xsd:element>
               <xsd:element name="POST_CODE1" minOccurs="0">
                  <xsd:annotation>
                     <xsd:documentation>
                     City postal code
                     </xsd:documentation>
                  </xsd:annotation>
                  <xsd:simpleType>
                     <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="10" />
                     </xsd:restriction>
                  </xsd:simpleType>
               </xsd:element>
               <xsd:element name="SMTP_ADDR" minOccurs="0">
                  <xsd:annotation>
                     <xsd:documentation>
                     E-Mail Address
                     </xsd:documentation>
                  </xsd:annotation>
                  <xsd:simpleType>
                     <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="241" />
                     </xsd:restriction>
                  </xsd:simpleType>
               </xsd:element>
               <xsd:element name="SORT1" minOccurs="0">
                  <xsd:annotation>
                     <xsd:documentation>
                     Search Term 1
                     </xsd:documentation>
                  </xsd:annotation>
                  <xsd:simpleType>
                     <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="20" />
                     </xsd:restriction>
                  </xsd:simpleType>
               </xsd:element>
               <xsd:element name="SORT2" minOccurs="0">
                  <xsd:annotation>
                     <xsd:documentation>
                     Search Term 2
                     </xsd:documentation>
                  </xsd:annotation>
                  <xsd:simpleType>
                     <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="20" />
                     </xsd:restriction>
                  </xsd:simpleType>
               </xsd:element>
            </xsd:sequence>
         </xsd:complexType>
      </xsd:schema>
   </wsdl:types>
   <wsdl:message name="MMPUR_UI_GET_SUPPLIERS.Input">
      <wsdl:part name="parameters" element="ns0:MMPUR_UI_GET_SUPPLIERS" />
   </wsdl:message>
   <wsdl:message name="MMPUR_UI_GET_SUPPLIERS.Output">
      <wsdl:part name="parameters" element="ns0:MMPUR_UI_GET_SUPPLIERS.Response" />
   </wsdl:message>
   <wsdl:portType name="MMPUR_UI_GET_SUPPLIERS.PortType">
      <wsdl:operation name="MMPUR_UI_GET_SUPPLIERS">
         <wsdl:input message="ns0:MMPUR_UI_GET_SUPPLIERS.Input" />
         <wsdl:output message="ns0:MMPUR_UI_GET_SUPPLIERS.Output" />
      </wsdl:operation>
   </wsdl:portType>
   <wsdl:binding name="MMPUR_UI_GET_SUPPLIERS.SAPBinding" type="ns0:MMPUR_UI_GET_SUPPLIERS.PortType">
      <ns0:binding style="rfc" />
      <ns0:type name="MMPURUI_VENDORS_STY">
         <ifr:container xmlns:ifr="urn:sap-com:ifr:v2:metamodel" xmlns:xlink="http://www.w3.org/1999/xlink">
            <ifr:descriptor>
               <ifr:description language="EN">
               vendor search help
               </ifr:description>
            </ifr:descriptor>
            <ifr:properties>
               <ifr:sourceSystem />
               <ifr:sourceClient>
               400
               </ifr:sourceClient>
               <ifr:release>
               740
               </ifr:release>
               <ifr:category>
               structure
               </ifr:category>
               <ifr:unicode1>
               true
               </ifr:unicode1>
               <ifr:unicode2>
               true
               </ifr:unicode2>
               <ifr:isFlatStructure>
               true
               </ifr:isFlatStructure>
            </ifr:properties>
            <ifr:definition>
               <ifr:internalLength1>
               476
               </ifr:internalLength1>
               <ifr:internalLength2>
               952
               </ifr:internalLength2>
               <ifr:fields>
                  <ifr:field name="LIFNR" category="simple">
                     <ifr:descriptor>
                        <ifr:description language="EN">
                        Account Number of Vendor or Creditor
                        </ifr:description>
                        <ifr:documentation xlink:role="docu" xlink:href="/Content?TYPE=docu&amp;NAME=DE.LIFNR" />
                     </ifr:descriptor>
                     <ifr:properties>
                        <ifr:helpValuesSupported>
                        true
                        </ifr:helpValuesSupported>
                        <ifr:offset1>
                        0
                        </ifr:offset1>
                        <ifr:offset2>
                        0
                        </ifr:offset2>
                     </ifr:properties>
                     <ifr:definition>
                        <ifr:scalarType name="LIFNR">
                           <ifr:properties>
                              <ifr:helpValuesSupported>
                              true
                              </ifr:helpValuesSupported>
                              <ifr:fixedValuesListDefined>
                              false
                              </ifr:fixedValuesListDefined>
                              <ifr:mixedCaseSupported>
                              false
                              </ifr:mixedCaseSupported>
                              <ifr:signedNumber>
                              false
                              </ifr:signedNumber>
                           </ifr:properties>
                           <ifr:definition>
                              <ifr:type>
                              CHAR
                              </ifr:type>
                              <ifr:abapType>
                              C
                              </ifr:abapType>
                              <ifr:length>
                              10
                              </ifr:length>
                              <ifr:internalLength1>
                              10
                              </ifr:internalLength1>
                              <ifr:internalLength2>
                              20
                              </ifr:internalLength2>
                              <ifr:decimals>
                              0
                              </ifr:decimals>
                              <ifr:outputLength>
                              10
                              </ifr:outputLength>
                              <ifr:conversionExit>
                              ALPHA
                              </ifr:conversionExit>
                           </ifr:definition>
                        </ifr:scalarType>
                     </ifr:definition>
                  </ifr:field>
                  <ifr:field name="NAME1" category="simple">
                     <ifr:descriptor>
                        <ifr:description language="EN">
                        Name 1
                        </ifr:description>
                        <ifr:documentation xlink:role="docu" xlink:href="/Content?TYPE=docu&amp;NAME=DE.NAME1_GP" />
                     </ifr:descriptor>
                     <ifr:properties>
                        <ifr:helpValuesSupported>
                        false
                        </ifr:helpValuesSupported>
                        <ifr:offset1>
                        10
                        </ifr:offset1>
                        <ifr:offset2>
                        20
                        </ifr:offset2>
                     </ifr:properties>
                     <ifr:definition>
                        <ifr:scalarType name="NAME1_GP">
                           <ifr:properties>
                              <ifr:helpValuesSupported>
                              false
                              </ifr:helpValuesSupported>
                              <ifr:fixedValuesListDefined>
                              false
                              </ifr:fixedValuesListDefined>
                              <ifr:mixedCaseSupported>
                              true
                              </ifr:mixedCaseSupported>
                              <ifr:signedNumber>
                              false
                              </ifr:signedNumber>
                           </ifr:properties>
                           <ifr:definition>
                              <ifr:type>
                              CHAR
                              </ifr:type>
                              <ifr:abapType>
                              C
                              </ifr:abapType>
                              <ifr:length>
                              35
                              </ifr:length>
                              <ifr:internalLength1>
                              35
                              </ifr:internalLength1>
                              <ifr:internalLength2>
                              70
                              </ifr:internalLength2>
                              <ifr:decimals>
                              0
                              </ifr:decimals>
                              <ifr:outputLength>
                              35
                              </ifr:outputLength>
                           </ifr:definition>
                        </ifr:scalarType>
                     </ifr:definition>
                  </ifr:field>
                  <ifr:field name="NAME2" category="simple">
                     <ifr:descriptor>
                        <ifr:description language="EN">
                        Name 2
                        </ifr:description>
                     </ifr:descriptor>
                     <ifr:properties>
                        <ifr:helpValuesSupported>
                        false
                        </ifr:helpValuesSupported>
                        <ifr:offset1>
                        45
                        </ifr:offset1>
                        <ifr:offset2>
                        90
                        </ifr:offset2>
                     </ifr:properties>
                     <ifr:definition>
                        <ifr:scalarType name="AD_NAME2">
                           <ifr:properties>
                              <ifr:helpValuesSupported>
                              false
                              </ifr:helpValuesSupported>
                              <ifr:fixedValuesListDefined>
                              false
                              </ifr:fixedValuesListDefined>
                              <ifr:mixedCaseSupported>
                              true
                              </ifr:mixedCaseSupported>
                              <ifr:signedNumber>
                              false
                              </ifr:signedNumber>
                           </ifr:properties>
                           <ifr:definition>
                              <ifr:type>
                              CHAR
                              </ifr:type>
                              <ifr:abapType>
                              C
                              </ifr:abapType>
                              <ifr:length>
                              40
                              </ifr:length>
                              <ifr:internalLength1>
                              40
                              </ifr:internalLength1>
                              <ifr:internalLength2>
                              80
                              </ifr:internalLength2>
                              <ifr:decimals>
                              0
                              </ifr:decimals>
                              <ifr:outputLength>
                              40
                              </ifr:outputLength>
                           </ifr:definition>
                        </ifr:scalarType>
                     </ifr:definition>
                  </ifr:field>
                  <ifr:field name="STREET" category="simple">
                     <ifr:descriptor>
                        <ifr:description language="EN">
                        Street
                        </ifr:description>
                        <ifr:documentation xlink:role="docu" xlink:href="/Content?TYPE=docu&amp;NAME=DE.AD_STREET" />
                     </ifr:descriptor>
                     <ifr:properties>
                        <ifr:helpValuesSupported>
                        true
                        </ifr:helpValuesSupported>
                        <ifr:offset1>
                        85
                        </ifr:offset1>
                        <ifr:offset2>
                        170
                        </ifr:offset2>
                     </ifr:properties>
                     <ifr:definition>
                        <ifr:scalarType name="AD_STREET">
                           <ifr:properties>
                              <ifr:helpValuesSupported>
                              true
                              </ifr:helpValuesSupported>
                              <ifr:fixedValuesListDefined>
                              false
                              </ifr:fixedValuesListDefined>
                              <ifr:mixedCaseSupported>
                              true
                              </ifr:mixedCaseSupported>
                              <ifr:signedNumber>
                              false
                              </ifr:signedNumber>
                           </ifr:properties>
                           <ifr:definition>
                              <ifr:type>
                              CHAR
                              </ifr:type>
                              <ifr:abapType>
                              C
                              </ifr:abapType>
                              <ifr:length>
                              60
                              </ifr:length>
                              <ifr:internalLength1>
                              60
                              </ifr:internalLength1>
                              <ifr:internalLength2>
                              120
                              </ifr:internalLength2>
                              <ifr:decimals>
                              0
                              </ifr:decimals>
                              <ifr:outputLength>
                              60
                              </ifr:outputLength>
                           </ifr:definition>
                        </ifr:scalarType>
                     </ifr:definition>
                  </ifr:field>
                  <ifr:field name="CITY1" category="simple">
                     <ifr:descriptor>
                        <ifr:description language="EN">
                        City
                        </ifr:description>
                        <ifr:documentation xlink:role="docu" xlink:href="/Content?TYPE=docu&amp;NAME=DE.AD_CITY1" />
                     </ifr:descriptor>
                     <ifr:properties>
                        <ifr:helpValuesSupported>
                        true
                        </ifr:helpValuesSupported>
                        <ifr:offset1>
                        145
                        </ifr:offset1>
                        <ifr:offset2>
                        290
                        </ifr:offset2>
                     </ifr:properties>
                     <ifr:definition>
                        <ifr:scalarType name="AD_CITY1">
                           <ifr:properties>
                              <ifr:helpValuesSupported>
                              true
                              </ifr:helpValuesSupported>
                              <ifr:fixedValuesListDefined>
                              false
                              </ifr:fixedValuesListDefined>
                              <ifr:mixedCaseSupported>
                              true
                              </ifr:mixedCaseSupported>
                              <ifr:signedNumber>
                              false
                              </ifr:signedNumber>
                           </ifr:properties>
                           <ifr:definition>
                              <ifr:type>
                              CHAR
                              </ifr:type>
                              <ifr:abapType>
                              C
                              </ifr:abapType>
                              <ifr:length>
                              40
                              </ifr:length>
                              <ifr:internalLength1>
                              40
                              </ifr:internalLength1>
                              <ifr:internalLength2>
                              80
                              </ifr:internalLength2>
                              <ifr:decimals>
                              0
                              </ifr:decimals>
                              <ifr:outputLength>
                              40
                              </ifr:outputLength>
                           </ifr:definition>
                        </ifr:scalarType>
                     </ifr:definition>
                  </ifr:field>
                  <ifr:field name="POST_CODE1" category="simple">
                     <ifr:descriptor>
                        <ifr:description language="EN">
                        City postal code
                        </ifr:description>
                        <ifr:documentation xlink:role="docu" xlink:href="/Content?TYPE=docu&amp;NAME=DE.AD_PSTCD1" />
                     </ifr:descriptor>
                     <ifr:properties>
                        <ifr:helpValuesSupported>
                        false
                        </ifr:helpValuesSupported>
                        <ifr:offset1>
                        185
                        </ifr:offset1>
                        <ifr:offset2>
                        370
                        </ifr:offset2>
                     </ifr:properties>
                     <ifr:definition>
                        <ifr:scalarType name="AD_PSTCD1">
                           <ifr:properties>
                              <ifr:helpValuesSupported>
                              false
                              </ifr:helpValuesSupported>
                              <ifr:fixedValuesListDefined>
                              false
                              </ifr:fixedValuesListDefined>
                              <ifr:mixedCaseSupported>
                              false
                              </ifr:mixedCaseSupported>
                              <ifr:signedNumber>
                              false
                              </ifr:signedNumber>
                           </ifr:properties>
                           <ifr:definition>
                              <ifr:type>
                              CHAR
                              </ifr:type>
                              <ifr:abapType>
                              C
                              </ifr:abapType>
                              <ifr:length>
                              10
                              </ifr:length>
                              <ifr:internalLength1>
                              10
                              </ifr:internalLength1>
                              <ifr:internalLength2>
                              20
                              </ifr:internalLength2>
                              <ifr:decimals>
                              0
                              </ifr:decimals>
                              <ifr:outputLength>
                              10
                              </ifr:outputLength>
                           </ifr:definition>
                        </ifr:scalarType>
                     </ifr:definition>
                  </ifr:field>
                  <ifr:field name="SMTP_ADDR" category="simple">
                     <ifr:descriptor>
                        <ifr:description language="EN">
                        E-Mail Address
                        </ifr:description>
                        <ifr:documentation xlink:role="docu" xlink:href="/Content?TYPE=docu&amp;NAME=DE.AD_SMTPADR" />
                     </ifr:descriptor>
                     <ifr:properties>
                        <ifr:helpValuesSupported>
                        false
                        </ifr:helpValuesSupported>
                        <ifr:offset1>
                        195
                        </ifr:offset1>
                        <ifr:offset2>
                        390
                        </ifr:offset2>
                     </ifr:properties>
                     <ifr:definition>
                        <ifr:scalarType name="AD_SMTPADR">
                           <ifr:properties>
                              <ifr:helpValuesSupported>
                              false
                              </ifr:helpValuesSupported>
                              <ifr:fixedValuesListDefined>
                              false
                              </ifr:fixedValuesListDefined>
                              <ifr:mixedCaseSupported>
                              true
                              </ifr:mixedCaseSupported>
                              <ifr:signedNumber>
                              false
                              </ifr:signedNumber>
                           </ifr:properties>
                           <ifr:definition>
                              <ifr:type>
                              CHAR
                              </ifr:type>
                              <ifr:abapType>
                              C
                              </ifr:abapType>
                              <ifr:length>
                              241
                              </ifr:length>
                              <ifr:internalLength1>
                              241
                              </ifr:internalLength1>
                              <ifr:internalLength2>
                              482
                              </ifr:internalLength2>
                              <ifr:decimals>
                              0
                              </ifr:decimals>
                              <ifr:outputLength>
                              241
                              </ifr:outputLength>
                              <ifr:conversionExit>
                              SXIDN
                              </ifr:conversionExit>
                           </ifr:definition>
                        </ifr:scalarType>
                     </ifr:definition>
                  </ifr:field>
                  <ifr:field name="SORT1" category="simple">
                     <ifr:descriptor>
                        <ifr:description language="EN">
                        Search Term 1
                        </ifr:description>
                        <ifr:documentation xlink:role="docu" xlink:href="/Content?TYPE=docu&amp;NAME=DE.AD_SORT1" />
                     </ifr:descriptor>
                     <ifr:properties>
                        <ifr:helpValuesSupported>
                        false
                        </ifr:helpValuesSupported>
                        <ifr:offset1>
                        436
                        </ifr:offset1>
                        <ifr:offset2>
                        872
                        </ifr:offset2>
                     </ifr:properties>
                     <ifr:definition>
                        <ifr:scalarType name="AD_SORT1">
                           <ifr:properties>
                              <ifr:helpValuesSupported>
                              false
                              </ifr:helpValuesSupported>
                              <ifr:fixedValuesListDefined>
                              false
                              </ifr:fixedValuesListDefined>
                              <ifr:mixedCaseSupported>
                              false
                              </ifr:mixedCaseSupported>
                              <ifr:signedNumber>
                              false
                              </ifr:signedNumber>
                           </ifr:properties>
                           <ifr:definition>
                              <ifr:type>
                              CHAR
                              </ifr:type>
                              <ifr:abapType>
                              C
                              </ifr:abapType>
                              <ifr:length>
                              20
                              </ifr:length>
                              <ifr:internalLength1>
                              20
                              </ifr:internalLength1>
                              <ifr:internalLength2>
                              40
                              </ifr:internalLength2>
                              <ifr:decimals>
                              0
                              </ifr:decimals>
                              <ifr:outputLength>
                              20
                              </ifr:outputLength>
                           </ifr:definition>
                        </ifr:scalarType>
                     </ifr:definition>
                  </ifr:field>
                  <ifr:field name="SORT2" category="simple">
                     <ifr:descriptor>
                        <ifr:description language="EN">
                        Search Term 2
                        </ifr:description>
                        <ifr:documentation xlink:role="docu" xlink:href="/Content?TYPE=docu&amp;NAME=DE.AD_SORT2" />
                     </ifr:descriptor>
                     <ifr:properties>
                        <ifr:helpValuesSupported>
                        false
                        </ifr:helpValuesSupported>
                        <ifr:offset1>
                        456
                        </ifr:offset1>
                        <ifr:offset2>
                        912
                        </ifr:offset2>
                     </ifr:properties>
                     <ifr:definition>
                        <ifr:scalarType name="AD_SORT2">
                           <ifr:properties>
                              <ifr:helpValuesSupported>
                              false
                              </ifr:helpValuesSupported>
                              <ifr:fixedValuesListDefined>
                              false
                              </ifr:fixedValuesListDefined>
                              <ifr:mixedCaseSupported>
                              false
                              </ifr:mixedCaseSupported>
                              <ifr:signedNumber>
                              false
                              </ifr:signedNumber>
                           </ifr:properties>
                           <ifr:definition>
                              <ifr:type>
                              CHAR
                              </ifr:type>
                              <ifr:abapType>
                              C
                              </ifr:abapType>
                              <ifr:length>
                              20
                              </ifr:length>
                              <ifr:internalLength1>
                              20
                              </ifr:internalLength1>
                              <ifr:internalLength2>
                              40
                              </ifr:internalLength2>
                              <ifr:decimals>
                              0
                              </ifr:decimals>
                              <ifr:outputLength>
                              20
                              </ifr:outputLength>
                           </ifr:definition>
                        </ifr:scalarType>
                     </ifr:definition>
                  </ifr:field>
               </ifr:fields>
            </ifr:definition>
         </ifr:container>
      </ns0:type>
      <ns0:type name="MMPURUI_VENDORS_TTY">
         <ifr:container xmlns:ifr="urn:sap-com:ifr:v2:metamodel" xmlns:xlink="http://www.w3.org/1999/xlink">
            <ifr:descriptor>
               <ifr:description language="EN">
               Vendors of search help
               </ifr:description>
            </ifr:descriptor>
            <ifr:properties>
               <ifr:sourceSystem />
               <ifr:sourceClient>
               400
               </ifr:sourceClient>
               <ifr:release>
               740
               </ifr:release>
               <ifr:category>
               tableType
               </ifr:category>
               <ifr:basedOnDictionaryReference>
               true
               </ifr:basedOnDictionaryReference>
               <ifr:unicode1>
               true
               </ifr:unicode1>
               <ifr:unicode2>
               true
               </ifr:unicode2>
            </ifr:properties>
            <ifr:definition>
               <ifr:complexType name="MMPURUI_VENDORS_STY" type="structure" xlink:role="type" xlink:href="/Content?TYPE=type&amp;NAME=MMPURUI_VENDORS_STY" />
            </ifr:definition>
         </ifr:container>
      </ns0:type>
      <ns0:type name="MMPURUI_RANGE_STY">
         <ifr:container xmlns:ifr="urn:sap-com:ifr:v2:metamodel" xmlns:xlink="http://www.w3.org/1999/xlink">
            <ifr:descriptor>
               <ifr:description language="EN">
               MMPUR_UI_MODEL: Structure for Selection Tables
               </ifr:description>
            </ifr:descriptor>
            <ifr:properties>
               <ifr:sourceSystem />
               <ifr:sourceClient>
               400
               </ifr:sourceClient>
               <ifr:release>
               740
               </ifr:release>
               <ifr:category>
               structure
               </ifr:category>
               <ifr:unicode1>
               true
               </ifr:unicode1>
               <ifr:unicode2>
               true
               </ifr:unicode2>
               <ifr:isFlatStructure>
               true
               </ifr:isFlatStructure>
            </ifr:properties>
            <ifr:definition>
               <ifr:internalLength1>
               93
               </ifr:internalLength1>
               <ifr:internalLength2>
               186
               </ifr:internalLength2>
               <ifr:fields>
                  <ifr:field name="SIGN" category="simple">
                     <ifr:descriptor>
                        <ifr:description language="EN">
                        ABAP: ID: I/E (include/exclude values)
                        </ifr:description>
                        <ifr:documentation xlink:role="docu" xlink:href="/Content?TYPE=docu&amp;NAME=DE.TVARV_SIGN" />
                     </ifr:descriptor>
                     <ifr:properties>
                        <ifr:helpValuesSupported>
                        false
                        </ifr:helpValuesSupported>
                        <ifr:offset1>
                        0
                        </ifr:offset1>
                        <ifr:offset2>
                        0
                        </ifr:offset2>
                     </ifr:properties>
                     <ifr:definition>
                        <ifr:scalarType name="TVARV_SIGN">
                           <ifr:properties>
                              <ifr:helpValuesSupported>
                              false
                              </ifr:helpValuesSupported>
                              <ifr:fixedValuesListDefined>
                              false
                              </ifr:fixedValuesListDefined>
                              <ifr:mixedCaseSupported>
                              false
                              </ifr:mixedCaseSupported>
                              <ifr:signedNumber>
                              false
                              </ifr:signedNumber>
                           </ifr:properties>
                           <ifr:definition>
                              <ifr:type>
                              CHAR
                              </ifr:type>
                              <ifr:abapType>
                              C
                              </ifr:abapType>
                              <ifr:length>
                              1
                              </ifr:length>
                              <ifr:internalLength1>
                              1
                              </ifr:internalLength1>
                              <ifr:internalLength2>
                              2
                              </ifr:internalLength2>
                              <ifr:decimals>
                              0
                              </ifr:decimals>
                              <ifr:outputLength>
                              1
                              </ifr:outputLength>
                           </ifr:definition>
                        </ifr:scalarType>
                     </ifr:definition>
                  </ifr:field>
                  <ifr:field name="OPTION" category="simple">
                     <ifr:descriptor>
                        <ifr:description language="EN">
                        ABAP: Selection option (EQ/BT/CP/...)
                        </ifr:description>
                        <ifr:documentation xlink:role="docu" xlink:href="/Content?TYPE=docu&amp;NAME=DE.TVARV_OPTI" />
                     </ifr:descriptor>
                     <ifr:properties>
                        <ifr:helpValuesSupported>
                        false
                        </ifr:helpValuesSupported>
                        <ifr:offset1>
                        1
                        </ifr:offset1>
                        <ifr:offset2>
                        2
                        </ifr:offset2>
                     </ifr:properties>
                     <ifr:definition>
                        <ifr:scalarType name="TVARV_OPTI">
                           <ifr:properties>
                              <ifr:helpValuesSupported>
                              false
                              </ifr:helpValuesSupported>
                              <ifr:fixedValuesListDefined>
                              false
                              </ifr:fixedValuesListDefined>
                              <ifr:mixedCaseSupported>
                              false
                              </ifr:mixedCaseSupported>
                              <ifr:signedNumber>
                              false
                              </ifr:signedNumber>
                           </ifr:properties>
                           <ifr:definition>
                              <ifr:type>
                              CHAR
                              </ifr:type>
                              <ifr:abapType>
                              C
                              </ifr:abapType>
                              <ifr:length>
                              2
                              </ifr:length>
                              <ifr:internalLength1>
                              2
                              </ifr:internalLength1>
                              <ifr:internalLength2>
                              4
                              </ifr:internalLength2>
                              <ifr:decimals>
                              0
                              </ifr:decimals>
                              <ifr:outputLength>
                              2
                              </ifr:outputLength>
                           </ifr:definition>
                        </ifr:scalarType>
                     </ifr:definition>
                  </ifr:field>
                  <ifr:field name="LOW" category="simple">
                     <ifr:descriptor>
                        <ifr:description language="EN">
                        ABAP/4: Selection value (LOW or HIGH value, external format)
                        </ifr:description>
                     </ifr:descriptor>
                     <ifr:properties>
                        <ifr:helpValuesSupported>
                        false
                        </ifr:helpValuesSupported>
                        <ifr:offset1>
                        3
                        </ifr:offset1>
                        <ifr:offset2>
                        6
                        </ifr:offset2>
                     </ifr:properties>
                     <ifr:definition>
                        <ifr:scalarType name="TVARV_VAL">
                           <ifr:properties>
                              <ifr:helpValuesSupported>
                              false
                              </ifr:helpValuesSupported>
                              <ifr:fixedValuesListDefined>
                              false
                              </ifr:fixedValuesListDefined>
                              <ifr:mixedCaseSupported>
                              true
                              </ifr:mixedCaseSupported>
                              <ifr:signedNumber>
                              false
                              </ifr:signedNumber>
                           </ifr:properties>
                           <ifr:definition>
                              <ifr:type>
                              CHAR
                              </ifr:type>
                              <ifr:abapType>
                              C
                              </ifr:abapType>
                              <ifr:length>
                              45
                              </ifr:length>
                              <ifr:internalLength1>
                              45
                              </ifr:internalLength1>
                              <ifr:internalLength2>
                              90
                              </ifr:internalLength2>
                              <ifr:decimals>
                              0
                              </ifr:decimals>
                              <ifr:outputLength>
                              45
                              </ifr:outputLength>
                           </ifr:definition>
                        </ifr:scalarType>
                     </ifr:definition>
                  </ifr:field>
                  <ifr:field name="HIGH" category="simple">
                     <ifr:descriptor>
                        <ifr:description language="EN">
                        ABAP/4: Selection value (LOW or HIGH value, external format)
                        </ifr:description>
                     </ifr:descriptor>
                     <ifr:properties>
                        <ifr:helpValuesSupported>
                        false
                        </ifr:helpValuesSupported>
                        <ifr:offset1>
                        48
                        </ifr:offset1>
                        <ifr:offset2>
                        96
                        </ifr:offset2>
                     </ifr:properties>
                     <ifr:definition>
                        <ifr:scalarType name="TVARV_VAL">
                           <ifr:properties>
                              <ifr:helpValuesSupported>
                              false
                              </ifr:helpValuesSupported>
                              <ifr:fixedValuesListDefined>
                              false
                              </ifr:fixedValuesListDefined>
                              <ifr:mixedCaseSupported>
                              true
                              </ifr:mixedCaseSupported>
                              <ifr:signedNumber>
                              false
                              </ifr:signedNumber>
                           </ifr:properties>
                           <ifr:definition>
                              <ifr:type>
                              CHAR
                              </ifr:type>
                              <ifr:abapType>
                              C
                              </ifr:abapType>
                              <ifr:length>
                              45
                              </ifr:length>
                              <ifr:internalLength1>
                              45
                              </ifr:internalLength1>
                              <ifr:internalLength2>
                              90
                              </ifr:internalLength2>
                              <ifr:decimals>
                              0
                              </ifr:decimals>
                              <ifr:outputLength>
                              45
                              </ifr:outputLength>
                           </ifr:definition>
                        </ifr:scalarType>
                     </ifr:definition>
                  </ifr:field>
               </ifr:fields>
            </ifr:definition>
         </ifr:container>
      </ns0:type>
      <wsdl:operation name="MMPUR_UI_GET_SUPPLIERS">
         <ifr:container xmlns:ifr="urn:sap-com:ifr:v2:metamodel" xmlns:xlink="http://www.w3.org/1999/xlink">
            <ifr:descriptor>
               <ifr:description language="EN">
               Get Supplier
               </ifr:description>
            </ifr:descriptor>
            <ifr:properties>
               <ifr:sourceSystem />
               <ifr:sourceClient>
               400
               </ifr:sourceClient>
               <ifr:release>
               740
               </ifr:release>
               <ifr:package>
               MMPUR_UI_MODEL
               </ifr:package>
               <ifr:akhNode>
               HLA0009512
               </ifr:akhNode>
               <ifr:released>
               no
               </ifr:released>
               <ifr:outbound>
               false
               </ifr:outbound>
               <ifr:synchronous>
               true
               </ifr:synchronous>
               <ifr:asynchronous>
               false
               </ifr:asynchronous>
               <ifr:unicode1>
               true
               </ifr:unicode1>
               <ifr:unicode2>
               true
               </ifr:unicode2>
            </ifr:properties>
            <ifr:definition>
               <ifr:parameters>
                  <ifr:parameter name="ET_RESULT">
                     <ifr:descriptor>
                        <ifr:description language="EN">
                        Vendors of search help
                        </ifr:description>
                     </ifr:descriptor>
                     <ifr:definition>
                     <!--  TableType  -->
                        <ifr:complexType name="MMPURUI_VENDORS_TTY" type="tableType" xlink:role="type" xlink:href="/Content?TYPE=type&amp;NAME=MMPURUI_VENDORS_TTY" />
                     </ifr:definition>
                     <ifr:properties>
                        <ifr:direction>
                        out
                        </ifr:direction>
                        <ifr:class>
                        export
                        </ifr:class>
                        <ifr:type>
                        tableType
                        </ifr:type>
                        <ifr:optional>
                        true
                        </ifr:optional>
                        <ifr:basedOnDictionaryReference>
                        true
                        </ifr:basedOnDictionaryReference>
                     </ifr:properties>
                  </ifr:parameter>
                  <ifr:parameter name="IS_CITY">
                     <ifr:descriptor>
                        <ifr:description language="EN">
                        ABAP: General Structure for PARAMETERS and SELECT-OPTIONS
                        </ifr:description>
                     </ifr:descriptor>
                     <ifr:definition>
                     <!--  Structure  -->
                        <ifr:complexType name="MMPURUI_RANGE_STY" type="structure" xlink:role="type" xlink:href="/Content?TYPE=type&amp;NAME=MMPURUI_RANGE_STY" />
                     </ifr:definition>
                     <ifr:properties>
                        <ifr:direction>
                        in
                        </ifr:direction>
                        <ifr:class>
                        import
                        </ifr:class>
                        <ifr:type>
                        structure
                        </ifr:type>
                        <ifr:optional>
                        true
                        </ifr:optional>
                        <ifr:basedOnDictionaryReference>
                        true
                        </ifr:basedOnDictionaryReference>
                     </ifr:properties>
                  </ifr:parameter>
                  <ifr:parameter name="IS_EMAIL">
                     <ifr:descriptor>
                        <ifr:description language="EN">
                        ABAP: General Structure for PARAMETERS and SELECT-OPTIONS
                        </ifr:description>
                     </ifr:descriptor>
                     <ifr:definition>
                     <!--  Structure  -->
                        <ifr:complexType name="MMPURUI_RANGE_STY" type="structure" xlink:role="type" xlink:href="/Content?TYPE=type&amp;NAME=MMPURUI_RANGE_STY" />
                     </ifr:definition>
                     <ifr:properties>
                        <ifr:direction>
                        in
                        </ifr:direction>
                        <ifr:class>
                        import
                        </ifr:class>
                        <ifr:type>
                        structure
                        </ifr:type>
                        <ifr:optional>
                        true
                        </ifr:optional>
                        <ifr:basedOnDictionaryReference>
                        true
                        </ifr:basedOnDictionaryReference>
                     </ifr:properties>
                  </ifr:parameter>
                  <ifr:parameter name="IS_NAME1">
                     <ifr:descriptor>
                        <ifr:description language="EN">
                        ABAP: General Structure for PARAMETERS and SELECT-OPTIONS
                        </ifr:description>
                     </ifr:descriptor>
                     <ifr:definition>
                     <!--  Structure  -->
                        <ifr:complexType name="MMPURUI_RANGE_STY" type="structure" xlink:role="type" xlink:href="/Content?TYPE=type&amp;NAME=MMPURUI_RANGE_STY" />
                     </ifr:definition>
                     <ifr:properties>
                        <ifr:direction>
                        in
                        </ifr:direction>
                        <ifr:class>
                        import
                        </ifr:class>
                        <ifr:type>
                        structure
                        </ifr:type>
                        <ifr:optional>
                        true
                        </ifr:optional>
                        <ifr:basedOnDictionaryReference>
                        true
                        </ifr:basedOnDictionaryReference>
                     </ifr:properties>
                  </ifr:parameter>
                  <ifr:parameter name="IS_NAME2">
                     <ifr:descriptor>
                        <ifr:description language="EN">
                        ABAP: General Structure for PARAMETERS and SELECT-OPTIONS
                        </ifr:description>
                     </ifr:descriptor>
                     <ifr:definition>
                     <!--  Structure  -->
                        <ifr:complexType name="MMPURUI_RANGE_STY" type="structure" xlink:role="type" xlink:href="/Content?TYPE=type&amp;NAME=MMPURUI_RANGE_STY" />
                     </ifr:definition>
                     <ifr:properties>
                        <ifr:direction>
                        in
                        </ifr:direction>
                        <ifr:class>
                        import
                        </ifr:class>
                        <ifr:type>
                        structure
                        </ifr:type>
                        <ifr:optional>
                        true
                        </ifr:optional>
                        <ifr:basedOnDictionaryReference>
                        true
                        </ifr:basedOnDictionaryReference>
                     </ifr:properties>
                  </ifr:parameter>
                  <ifr:parameter name="IS_PSTCODE">
                     <ifr:descriptor>
                        <ifr:description language="EN">
                        ABAP: General Structure for PARAMETERS and SELECT-OPTIONS
                        </ifr:description>
                     </ifr:descriptor>
                     <ifr:definition>
                     <!--  Structure  -->
                        <ifr:complexType name="MMPURUI_RANGE_STY" type="structure" xlink:role="type" xlink:href="/Content?TYPE=type&amp;NAME=MMPURUI_RANGE_STY" />
                     </ifr:definition>
                     <ifr:properties>
                        <ifr:direction>
                        in
                        </ifr:direction>
                        <ifr:class>
                        import
                        </ifr:class>
                        <ifr:type>
                        structure
                        </ifr:type>
                        <ifr:optional>
                        true
                        </ifr:optional>
                        <ifr:basedOnDictionaryReference>
                        true
                        </ifr:basedOnDictionaryReference>
                     </ifr:properties>
                  </ifr:parameter>
                  <ifr:parameter name="IS_SEARCHTERM1">
                     <ifr:descriptor>
                        <ifr:description language="EN">
                        MMPUR_UI_MODEL: Structure for Selection Tables
                        </ifr:description>
                     </ifr:descriptor>
                     <ifr:definition>
                     <!--  Structure  -->
                        <ifr:complexType name="MMPURUI_RANGE_STY" type="structure" xlink:role="type" xlink:href="/Content?TYPE=type&amp;NAME=MMPURUI_RANGE_STY" />
                     </ifr:definition>
                     <ifr:properties>
                        <ifr:direction>
                        in
                        </ifr:direction>
                        <ifr:class>
                        import
                        </ifr:class>
                        <ifr:type>
                        structure
                        </ifr:type>
                        <ifr:optional>
                        true
                        </ifr:optional>
                        <ifr:basedOnDictionaryReference>
                        true
                        </ifr:basedOnDictionaryReference>
                     </ifr:properties>
                  </ifr:parameter>
                  <ifr:parameter name="IS_SEARCHTERM2">
                     <ifr:descriptor>
                        <ifr:description language="EN">
                        MMPUR_UI_MODEL: Structure for Selection Tables
                        </ifr:description>
                     </ifr:descriptor>
                     <ifr:definition>
                     <!--  Structure  -->
                        <ifr:complexType name="MMPURUI_RANGE_STY" type="structure" xlink:role="type" xlink:href="/Content?TYPE=type&amp;NAME=MMPURUI_RANGE_STY" />
                     </ifr:definition>
                     <ifr:properties>
                        <ifr:direction>
                        in
                        </ifr:direction>
                        <ifr:class>
                        import
                        </ifr:class>
                        <ifr:type>
                        structure
                        </ifr:type>
                        <ifr:optional>
                        true
                        </ifr:optional>
                        <ifr:basedOnDictionaryReference>
                        true
                        </ifr:basedOnDictionaryReference>
                     </ifr:properties>
                  </ifr:parameter>
                  <ifr:parameter name="IS_STREET">
                     <ifr:descriptor>
                        <ifr:description language="EN">
                        ABAP: General Structure for PARAMETERS and SELECT-OPTIONS
                        </ifr:description>
                     </ifr:descriptor>
                     <ifr:definition>
                     <!--  Structure  -->
                        <ifr:complexType name="MMPURUI_RANGE_STY" type="structure" xlink:role="type" xlink:href="/Content?TYPE=type&amp;NAME=MMPURUI_RANGE_STY" />
                     </ifr:definition>
                     <ifr:properties>
                        <ifr:direction>
                        in
                        </ifr:direction>
                        <ifr:class>
                        import
                        </ifr:class>
                        <ifr:type>
                        structure
                        </ifr:type>
                        <ifr:optional>
                        true
                        </ifr:optional>
                        <ifr:basedOnDictionaryReference>
                        true
                        </ifr:basedOnDictionaryReference>
                     </ifr:properties>
                  </ifr:parameter>
                  <ifr:parameter name="IS_SUPPLIER">
                     <ifr:descriptor>
                        <ifr:description language="EN">
                        ABAP: General Structure for PARAMETERS and SELECT-OPTIONS
                        </ifr:description>
                     </ifr:descriptor>
                     <ifr:definition>
                     <!--  Structure  -->
                        <ifr:complexType name="MMPURUI_RANGE_STY" type="structure" xlink:role="type" xlink:href="/Content?TYPE=type&amp;NAME=MMPURUI_RANGE_STY" />
                     </ifr:definition>
                     <ifr:properties>
                        <ifr:direction>
                        in
                        </ifr:direction>
                        <ifr:class>
                        import
                        </ifr:class>
                        <ifr:type>
                        structure
                        </ifr:type>
                        <ifr:optional>
                        true
                        </ifr:optional>
                        <ifr:basedOnDictionaryReference>
                        true
                        </ifr:basedOnDictionaryReference>
                     </ifr:properties>
                  </ifr:parameter>
                  <ifr:parameter name="IV_LANGUAGE">
                     <ifr:descriptor>
                        <ifr:description language="EN">
                        Language Key of Current Text Environment
                        </ifr:description>
                     </ifr:descriptor>
                     <ifr:definition>
                     <!--  Reference to Field  -->
                        <ifr:field name="SYST.LANGU">
                           <ifr:properties>
                              <ifr:helpValuesSupported>
                              false
                              </ifr:helpValuesSupported>
                              <ifr:offset1>
                              194
                              </ifr:offset1>
                              <ifr:offset2>
                              200
                              </ifr:offset2>
                           </ifr:properties>
                        </ifr:field>
                     <!--  Scalar  -->
                        <ifr:scalarType name="SYST_LANGU">
                           <ifr:properties>
                              <ifr:helpValuesSupported>
                              false
                              </ifr:helpValuesSupported>
                              <ifr:fixedValuesListDefined>
                              false
                              </ifr:fixedValuesListDefined>
                              <ifr:mixedCaseSupported>
                              true
                              </ifr:mixedCaseSupported>
                              <ifr:signedNumber>
                              false
                              </ifr:signedNumber>
                           </ifr:properties>
                           <ifr:definition>
                              <ifr:type>
                              LANG
                              </ifr:type>
                              <ifr:abapType>
                              C
                              </ifr:abapType>
                              <ifr:length>
                              1
                              </ifr:length>
                              <ifr:internalLength1>
                              1
                              </ifr:internalLength1>
                              <ifr:internalLength2>
                              2
                              </ifr:internalLength2>
                              <ifr:decimals>
                              0
                              </ifr:decimals>
                              <ifr:outputLength>
                              2
                              </ifr:outputLength>
                              <ifr:conversionExit>
                              ISOLA
                              </ifr:conversionExit>
                           </ifr:definition>
                        </ifr:scalarType>
                     </ifr:definition>
                     <ifr:properties>
                        <ifr:direction>
                        in
                        </ifr:direction>
                        <ifr:class>
                        import
                        </ifr:class>
                        <ifr:type>
                        scalar
                        </ifr:type>
                        <ifr:optional>
                        true
                        </ifr:optional>
                        <ifr:basedOnDictionaryReference>
                        true
                        </ifr:basedOnDictionaryReference>
                     </ifr:properties>
                  </ifr:parameter>
                  <ifr:parameter name="IV_MAX_RESULTS">
                     <ifr:descriptor>
                        <ifr:description language="EN">
                        Natural number
                        </ifr:description>
                     </ifr:descriptor>
                     <ifr:definition>
                     <!--  Scalar  -->
                        <ifr:scalarType name="INT4">
                           <ifr:properties>
                              <ifr:helpValuesSupported>
                              false
                              </ifr:helpValuesSupported>
                              <ifr:fixedValuesListDefined>
                              false
                              </ifr:fixedValuesListDefined>
                              <ifr:mixedCaseSupported>
                              false
                              </ifr:mixedCaseSupported>
                              <ifr:signedNumber>
                              true
                              </ifr:signedNumber>
                           </ifr:properties>
                           <ifr:definition>
                              <ifr:type>
                              INT4
                              </ifr:type>
                              <ifr:abapType>
                              I
                              </ifr:abapType>
                              <ifr:length>
                              10
                              </ifr:length>
                              <ifr:internalLength1>
                              4
                              </ifr:internalLength1>
                              <ifr:internalLength2>
                              4
                              </ifr:internalLength2>
                              <ifr:decimals>
                              0
                              </ifr:decimals>
                              <ifr:outputLength>
                              10
                              </ifr:outputLength>
                           </ifr:definition>
                        </ifr:scalarType>
                     </ifr:definition>
                     <ifr:properties>
                        <ifr:direction>
                        in
                        </ifr:direction>
                        <ifr:class>
                        import
                        </ifr:class>
                        <ifr:type>
                        scalar
                        </ifr:type>
                        <ifr:optional>
                        true
                        </ifr:optional>
                        <ifr:basedOnDictionaryReference>
                        true
                        </ifr:basedOnDictionaryReference>
                     </ifr:properties>
                  </ifr:parameter>
               </ifr:parameters>
            </ifr:definition>
         </ifr:container>
      </wsdl:operation>
   </wsdl:binding>
</wsdl:definitions>