Resources/schemas/Wsdl/SAP_S-4HANA_Statutory_Reporting_for_Chile - MandatoryRemittance.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
 xmlns:tns="http://sap.com/xi/APPL/GS/CL" 
 xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" 
 xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
 name="ClMandatoryRemittance" 
 targetNamespace="http://sap.com/xi/APPL/GS/CL">
  <wsdl:types>
    <xsd:schema 
    targetNamespace="http://sap.com/xi/APPL/GS/CL">
     
      <xsd:element name="MandatoryRemittance">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="MandatoryRemittanceData" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      
      <xsd:element name="MandatoryRemittanceResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="SignedMandatoryRemittanceData" type="xsd:base64Binary"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      
    </xsd:schema>
  </wsdl:types>
  
  <wsdl:message name="MandatoryRemittanceRequest">
    <wsdl:part element="tns:MandatoryRemittance" name="MandatoryRemittanceRequestParameter"/>
  </wsdl:message>  
  <wsdl:message name="MandatoryRemittanceResponse">
    <wsdl:part element="tns:MandatoryRemittanceResponse" name="SignedMandatoryRemittanceResponseParameter"/>
  </wsdl:message>
  
  <wsdl:portType name="ClMandatoryRemittance">
    <wsdl:operation name="SignMandatoryRemittance">
      <wsdl:input message="tns:MandatoryRemittanceRequest" name="MandatoryRemittanceIn"/>
      <wsdl:output message="tns:MandatoryRemittanceResponse" name="MandatoryRemittanceOut"/>
    </wsdl:operation>
  </wsdl:portType>
  
  <wsdl:binding name="MandatoryRemittanceSOAP" type="tns:ClMandatoryRemittance">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="SignMandatoryRemittance">
      <soap:operation soapAction="http://sap.com/xi/APPL/GS/CL/NewOperation"/>
      <wsdl:input name="MandatoryRemittanceIn">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="MandatoryRemittanceOut">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  
  <wsdl:service name="ClMandatoryRemittance">
    <wsdl:port binding="tns:MandatoryRemittanceSOAP" name="MandatoryRemittanceSOAP">
      <soap:address location="http://www.example.org/"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
