Resources/schemas/Wsdl/SAP_Service_Cloud_V2_for_Utilities_Contract_Account_Integration_with_SAP_S-4HANA - DOC_WEBI_ISU_C4C_V2_OPEN_ITEMS-2.WSDL

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions targetNamespace="urn:sap-com:document:sap:soap:functions:mc-style" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsoap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="urn:sap-com:document:sap:soap:functions:mc-style" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:n1="urn:sap-com:document:sap:rfc:functions">
 <wsdl:documentation>
  <sidl:sidl xmlns:sidl="http://www.sap.com/2007/03/sidl"/>
 </wsdl:documentation>
 <wsp:UsingPolicy wsdl:required="true"/>
 <wsp:Policy wsu:Id="IF_IF_ISU_C4C_V2_OPEN_ITEMS">
  <sapsession:Session xmlns:sapsession="http://www.sap.com/webas/630/soap/features/session/">
   <sapsession:enableSession>false</sapsession:enableSession>
  </sapsession:Session>
 </wsp:Policy>
 <wsp:Policy wsu:Id="OP_IF_OP_IsuC4cV2OpenItemsGet">
  <sapblock:enableBlocking xmlns:sapblock="http://www.sap.com/NW05/soap/features/blocking/">true</sapblock:enableBlocking>
  <sapcomhnd:enableCommit xmlns:sapcomhnd="http://www.sap.com/NW05/soap/features/commit/">false</sapcomhnd:enableCommit>
  <saptrhnw05:required xmlns:saptrhnw05="http://www.sap.com/NW05/soap/features/transaction/">no</saptrhnw05:required>
  <saprmnw05:enableWSRM xmlns:saprmnw05="http://www.sap.com/NW05/soap/features/wsrm/">false</saprmnw05:enableWSRM>
 </wsp:Policy>
 <wsp:Policy wsu:Id="OP_IF_OP_IsuC4cV2OpenItemsDeferral">
  <sapblock:enableBlocking xmlns:sapblock="http://www.sap.com/NW05/soap/features/blocking/">true</sapblock:enableBlocking>
  <sapcomhnd:enableCommit xmlns:sapcomhnd="http://www.sap.com/NW05/soap/features/commit/">false</sapcomhnd:enableCommit>
  <saptrhnw05:required xmlns:saptrhnw05="http://www.sap.com/NW05/soap/features/transaction/">no</saptrhnw05:required>
  <saprmnw05:enableWSRM xmlns:saprmnw05="http://www.sap.com/NW05/soap/features/wsrm/">false</saprmnw05:enableWSRM>
 </wsp:Policy>
 <wsdl:types>
  <xsd:schema attributeFormDefault="qualified" targetNamespace="urn:sap-com:document:sap:rfc:functions" xmlns:tns="urn:sap-com:document:sap:rfc:functions">
   <xsd:simpleType name="char1">
    <xsd:restriction base="xsd:string">
     <xsd:maxLength value="1"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="char10">
    <xsd:restriction base="xsd:string">
     <xsd:maxLength value="10"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="char12">
    <xsd:restriction base="xsd:string">
     <xsd:maxLength value="12"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="char20">
    <xsd:restriction base="xsd:string">
     <xsd:maxLength value="20"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="char220">
    <xsd:restriction base="xsd:string">
     <xsd:maxLength value="220"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="char30">
    <xsd:restriction base="xsd:string">
     <xsd:maxLength value="30"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="char32">
    <xsd:restriction base="xsd:string">
     <xsd:maxLength value="32"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="char4">
    <xsd:restriction base="xsd:string">
     <xsd:maxLength value="4"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="char40">
    <xsd:restriction base="xsd:string">
     <xsd:maxLength value="40"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="char50">
    <xsd:restriction base="xsd:string">
     <xsd:maxLength value="50"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="char6">
    <xsd:restriction base="xsd:string">
     <xsd:maxLength value="6"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="cuky5">
    <xsd:restriction base="xsd:string">
     <xsd:maxLength value="5"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="curr13.2">
    <xsd:restriction base="xsd:decimal">
     <xsd:totalDigits value="13"/>
     <xsd:fractionDigits value="2"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="numeric2">
    <xsd:restriction base="xsd:string">
     <xsd:maxLength value="2"/>
     <xsd:pattern value="\d*"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="numeric3">
    <xsd:restriction base="xsd:string">
     <xsd:maxLength value="3"/>
     <xsd:pattern value="\d*"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="numeric4">
    <xsd:restriction base="xsd:string">
     <xsd:maxLength value="4"/>
     <xsd:pattern value="\d*"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="numeric6">
    <xsd:restriction base="xsd:string">
     <xsd:maxLength value="6"/>
     <xsd:pattern value="\d*"/>
    </xsd:restriction>
   </xsd:simpleType>
  </xsd:schema>
  <xsd:schema attributeFormDefault="qualified" targetNamespace="urn:sap-com:document:sap:soap:functions:mc-style" xmlns:n0="urn:sap-com:document:sap:rfc:functions">
   <xsd:import namespace="urn:sap-com:document:sap:rfc:functions"/>
   <xsd:complexType name="IsuC4cV2SDeferralDocument">
    <xsd:sequence>
     <xsd:element name="DocumentNumber" type="n0:char12" minOccurs="0"/>
     <xsd:element name="RepetitionItem" type="n0:numeric3" minOccurs="0"/>
     <xsd:element name="ItemNumber" type="n0:numeric4" minOccurs="0"/>
     <xsd:element name="SubItem" type="n0:numeric3" minOccurs="0"/>
     <xsd:element name="DeferralDate" type="n0:char10" minOccurs="0"/>
    </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="IsuC4cV2SAuditLog">
    <xsd:sequence>
     <xsd:element name="UserName" type="n0:char40" minOccurs="0"/>
     <xsd:element name="SystemId" type="n0:char50" minOccurs="0"/>
    </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="Bapiret2">
    <xsd:sequence>
     <xsd:element name="Type" type="n0:char1" minOccurs="0"/>
     <xsd:element name="Id" type="n0:char20" minOccurs="0"/>
     <xsd:element name="Number" type="n0:numeric3" minOccurs="0"/>
     <xsd:element name="Message" type="n0:char220" minOccurs="0"/>
     <xsd:element name="LogNo" type="n0:char20" minOccurs="0"/>
     <xsd:element name="LogMsgNo" type="n0:numeric6" minOccurs="0"/>
     <xsd:element name="MessageV1" type="n0:char50" minOccurs="0"/>
     <xsd:element name="MessageV2" type="n0:char50" minOccurs="0"/>
     <xsd:element name="MessageV3" type="n0:char50" minOccurs="0"/>
     <xsd:element name="MessageV4" type="n0:char50" minOccurs="0"/>
     <xsd:element name="Parameter" type="n0:char32" minOccurs="0"/>
     <xsd:element name="Row" type="xsd:int" minOccurs="0"/>
     <xsd:element name="Field" type="n0:char30" minOccurs="0"/>
     <xsd:element name="System" type="n0:char10" minOccurs="0"/>
    </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="IsuC4cV2SOpenItems">
    <xsd:sequence>
     <xsd:element name="BusinessPartnerId" type="n0:char10" minOccurs="0"/>
     <xsd:element name="ContractAccount" type="n0:char12" minOccurs="0"/>
     <xsd:element name="DocumentNumber" type="n0:char12" minOccurs="0"/>
     <xsd:element name="SubDocumentNumber" type="n0:char12" minOccurs="0"/>
     <xsd:element name="RepetitionItem" type="n0:numeric3" minOccurs="0"/>
     <xsd:element name="ItemNumber" type="n0:numeric4" minOccurs="0"/>
     <xsd:element name="SubItem" type="n0:numeric3" minOccurs="0"/>
     <xsd:element name="MainTransaction" type="n0:char50" minOccurs="0"/>
     <xsd:element name="SubTransaction" type="n0:char50" minOccurs="0"/>
     <xsd:element name="Amount" type="tns:IsuC4cUtilAmount" minOccurs="0"/>
     <xsd:element name="ClearedAmount" type="tns:IsuC4cUtilAmount" minOccurs="0"/>
     <xsd:element name="DueDate" type="n0:char10" minOccurs="0"/>
     <xsd:element name="DocumentDate" type="n0:char10" minOccurs="0"/>
     <xsd:element name="PostingDate" type="n0:char10" minOccurs="0"/>
     <xsd:element name="ItemSelected" type="n0:char1" minOccurs="0"/>
     <xsd:element name="ClearingStatus" type="n0:char1" minOccurs="0"/>
     <xsd:element name="LockedStatus" type="n0:char1" minOccurs="0"/>
     <xsd:element name="DunningLevel" type="n0:numeric2" minOccurs="0"/>
     <xsd:element name="DunningText" type="n0:char50" minOccurs="0"/>
     <xsd:element name="DunningStep" type="n0:char4" minOccurs="0"/>
     <xsd:element name="StepName" type="n0:char50" minOccurs="0"/>
     <xsd:element name="ClearingRestriction" type="n0:char1" minOccurs="0"/>
     <xsd:element name="DaysPastDueDate" type="n0:char6" minOccurs="0"/>
     <xsd:element name="DeferralDate" type="n0:char10" minOccurs="0"/>
    </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="IsuC4cUtilAmount">
    <xsd:sequence>
     <xsd:element name="Amount" type="n0:curr13.2" minOccurs="0"/>
     <xsd:element name="Currency" type="n0:cuky5" minOccurs="0"/>
    </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="IsuC4cV2TDeferralDocument">
    <xsd:sequence>
     <xsd:element name="item" type="tns:IsuC4cV2SDeferralDocument" minOccurs="0" maxOccurs="unbounded"/>
    </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="Bapiret2T">
    <xsd:sequence>
     <xsd:element name="item" type="tns:Bapiret2" minOccurs="0" maxOccurs="unbounded"/>
    </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="IsuC4cV2TOpenItems">
    <xsd:sequence>
     <xsd:element name="item" type="tns:IsuC4cV2SOpenItems" minOccurs="0" maxOccurs="unbounded"/>
    </xsd:sequence>
   </xsd:complexType>
   <xsd:element name="IsuC4cV2OpenItemsDeferral">
    <xsd:complexType>
     <xsd:sequence>
      <xsd:element name="IsAudit" type="tns:IsuC4cV2SAuditLog" minOccurs="0"/>
      <xsd:element name="ItDeferralDocument" type="tns:IsuC4cV2TDeferralDocument" minOccurs="0"/>
     </xsd:sequence>
    </xsd:complexType>
   </xsd:element>
   <xsd:element name="IsuC4cV2OpenItemsDeferralResponse">
    <xsd:complexType>
     <xsd:sequence>
      <xsd:element name="EtMessages" type="tns:Bapiret2T" minOccurs="0"/>
     </xsd:sequence>
    </xsd:complexType>
   </xsd:element>
   <xsd:element name="IsuC4cV2OpenItemsGet">
    <xsd:complexType>
     <xsd:sequence>
      <xsd:element name="IvAllOpenItems" type="n0:char1" minOccurs="0"/>
      <xsd:element name="IvBusinessPartner" type="n0:char10" minOccurs="0"/>
      <xsd:element name="IvContractAccount" type="n0:char12" minOccurs="0"/>
      <xsd:element name="IvDateFrom" type="n0:char10" minOccurs="0"/>
      <xsd:element name="IvDateTo" type="n0:char10" minOccurs="0"/>
      <xsd:element name="IvDueDateFrom" type="n0:char10" minOccurs="0"/>
      <xsd:element name="IvDueDateTo" type="n0:char10" minOccurs="0"/>
      <xsd:element name="IvFilteredOpenItems" type="n0:char1" minOccurs="0"/>
      <xsd:element name="IvMaxCount" type="xsd:int" minOccurs="0"/>
      <xsd:element name="IvP2pId" type="n0:char12" minOccurs="0"/>
      <xsd:element name="IvPostingDateFrom" type="n0:char10" minOccurs="0"/>
      <xsd:element name="IvPostingDateTo" type="n0:char10" minOccurs="0"/>
      <xsd:element name="IvReplacedOpenItems" type="n0:char1" minOccurs="0"/>
     </xsd:sequence>
    </xsd:complexType>
   </xsd:element>
   <xsd:element name="IsuC4cV2OpenItemsGetResponse">
    <xsd:complexType>
     <xsd:sequence>
      <xsd:element name="EtMessages" type="tns:Bapiret2T" minOccurs="0"/>
      <xsd:element name="EtOpenItemsGet" type="tns:IsuC4cV2TOpenItems" minOccurs="0"/>
     </xsd:sequence>
    </xsd:complexType>
   </xsd:element>
  </xsd:schema>
 </wsdl:types>
 <wsdl:message name="IsuC4cV2OpenItemsDeferral">
  <wsdl:part name="parameters" element="tns:IsuC4cV2OpenItemsDeferral"/>
 </wsdl:message>
 <wsdl:message name="IsuC4cV2OpenItemsDeferralResponse">
  <wsdl:part name="parameter" element="tns:IsuC4cV2OpenItemsDeferralResponse"/>
 </wsdl:message>
 <wsdl:message name="IsuC4cV2OpenItemsGet">
  <wsdl:part name="parameters" element="tns:IsuC4cV2OpenItemsGet"/>
 </wsdl:message>
 <wsdl:message name="IsuC4cV2OpenItemsGetResponse">
  <wsdl:part name="parameter" element="tns:IsuC4cV2OpenItemsGetResponse"/>
 </wsdl:message>
 <wsdl:portType name="ISU_C4C_V2_OPEN_ITEMS">
  <wsdl:documentation>
   <sapdoc:sapdoc xmlns:sapdoc="urn:sap:esi:documentation">
    <sapdoc:docitem docURL="http://ldciemo.wdf.sap.corp:50000/sap/bc/esdt/docu/sd_text?sap-client=300&amp;sd_name=ISU_C4C_V2_OPEN_ITEMS"/>
    <sapdoc:docitem applicationComponent="IS-U-CS-C4C"/>
   </sapdoc:sapdoc>
  </wsdl:documentation>
  <wsp:Policy>
   <wsp:PolicyReference URI="#IF_IF_ISU_C4C_V2_OPEN_ITEMS"/>
  </wsp:Policy>
  <wsdl:operation name="IsuC4cV2OpenItemsDeferral">
   <wsp:Policy>
    <wsp:PolicyReference URI="#OP_IF_OP_IsuC4cV2OpenItemsDeferral"/>
   </wsp:Policy>
   <wsdl:input message="tns:IsuC4cV2OpenItemsDeferral"/>
   <wsdl:output message="tns:IsuC4cV2OpenItemsDeferralResponse"/>
  </wsdl:operation>
  <wsdl:operation name="IsuC4cV2OpenItemsGet">
   <wsp:Policy>
    <wsp:PolicyReference URI="#OP_IF_OP_IsuC4cV2OpenItemsGet"/>
   </wsp:Policy>
   <wsdl:input message="tns:IsuC4cV2OpenItemsGet"/>
   <wsdl:output message="tns:IsuC4cV2OpenItemsGetResponse"/>
  </wsdl:operation>
 </wsdl:portType>
</wsdl:definitions>
