Resources/schemas/Wsdl/SAP_Document_and_Reporting_Compliance-_Electronic_Invoice_for_Egypt - eInvoiceEgypt (5).wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" 
                  xmlns:tns="http://www.sap.com/eDocument/Egypt/eInvoice" 
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" 
                  xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
                  name="eInvoiceEgypt" 
                  targetNamespace="http://www.sap.com/eDocument/Egypt/eInvoice"
                  xmlns:einv="http://www.sap.com/eDocument/Egypt/eInvoice/v1.0">
  <wsdl:types>  
   <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
		<xsd:import namespace="http://www.sap.com/eDocument/Egypt/eInvoice/v1.0"
	 			    schemaLocation="/xsd/eInvoiceEgypt.xsd">
	   </xsd:import> 
   </xsd:schema>		
    <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                targetNamespace="http://www.sap.com/eDocument/Egypt/eInvoice">
      <xsd:element name="submitDocument">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="in" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="submitDocumentResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="out" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="submitDocumentRequest">
    <wsdl:part element="einv:submitDocumentRequest" name="request"/>
  </wsdl:message>
  <wsdl:message name="submitDocumentResponse">
    <wsdl:part element="einv:submitDocumentResponse" name="response"/>
  </wsdl:message>
  <wsdl:portType name="submitDocPortEG">
    <wsdl:operation name="submitDocument">
      <wsdl:input message="tns:submitDocumentRequest"/>
      <wsdl:output message="tns:submitDocumentResponse"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="eInvoiceEgyptSOAP" type="tns:submitDocPortEG">
  	<soap:binding style="document"
  		transport="http://schemas.xmlsoap.org/soap/http" />
  	<wsdl:operation name="submitDocument">
  		<soap:operation
  			soapAction="http://www.sap.com/eDocument/Egypt/eInvoice/NewOperation" />
  		<wsdl:input>
  			<soap:body use="literal" />
  		</wsdl:input>
  		<wsdl:output>
  			<soap:body use="literal" />
  		</wsdl:output>
  	</wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SubmitDocumentServEG">
    <wsdl:port binding="tns:eInvoiceEgyptSOAP" name="submitDocPortEG">
      <soap:address location="http://www.example.org/"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
