Resources/schemas/Wsdl/SAP_ERP_Integration_with_SAP_Build_Process_Automation - BAPI_MATERIAL_GETLIST.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="BAPI_MATERIAL_GETLIST" targetNamespace="urn:sap-com:document:sap:rfc:functions" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
	<wsdl:types>
		<xsd:schema targetNamespace="urn:sap-com:document:sap:rfc:functions" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="urn:sap-com:document:sap:rfc:functions">
			<xsd:element name="BAPI_MATERIAL_GETLIST">
				<xsd:complexType>
					<xsd:all>
						<xsd:element name="MAXROWS" type="xsd:integer" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>Maximum number of materials to be selected</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<xsd:element name="DISTRIBUTIONCHANNELSELECTION" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>Selection options for distribution channel</xsd:documentation>
							</xsd:annotation>
							<xsd:complexType>
								<xsd:sequence>
									<xsd:element name="item" type="BAPIMATRADC" minOccurs="0" maxOccurs="unbounded"/>
								</xsd:sequence>
							</xsd:complexType>
						</xsd:element>
						<xsd:element name="MANUFACTURERPARTNUMB" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>Manufacturer and manufacturer part number</xsd:documentation>
							</xsd:annotation>
							<xsd:complexType>
								<xsd:sequence>
									<xsd:element name="item" type="BAPIMATMFRPN" minOccurs="0" maxOccurs="unbounded"/>
								</xsd:sequence>
							</xsd:complexType>
						</xsd:element>
						<xsd:element name="MATERIALSHORTDESCSEL" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>Selection options for material description</xsd:documentation>
							</xsd:annotation>
							<xsd:complexType>
								<xsd:sequence>
									<xsd:element name="item" type="BAPIMATRAS" minOccurs="0" maxOccurs="unbounded"/>
								</xsd:sequence>
							</xsd:complexType>
						</xsd:element>
						<xsd:element name="MATNRLIST" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>List of material numbers with material description</xsd:documentation>
							</xsd:annotation>
							<xsd:complexType>
								<xsd:sequence>
									<xsd:element name="item" type="BAPIMATLST" minOccurs="0" maxOccurs="unbounded"/>
								</xsd:sequence>
							</xsd:complexType>
						</xsd:element>
						<xsd:element name="MATNRSELECTION" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>Selection options for material number</xsd:documentation>
							</xsd:annotation>
							<xsd:complexType>
								<xsd:sequence>
									<xsd:element name="item" type="BAPIMATRAM" minOccurs="0" maxOccurs="unbounded"/>
								</xsd:sequence>
							</xsd:complexType>
						</xsd:element>
						<xsd:element name="PLANTSELECTION" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>Selection options for plants</xsd:documentation>
							</xsd:annotation>
							<xsd:complexType>
								<xsd:sequence>
									<xsd:element name="item" type="BAPIMATRAW" minOccurs="0" maxOccurs="unbounded"/>
								</xsd:sequence>
							</xsd:complexType>
						</xsd:element>
						<xsd:element name="RETURN" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>Return Parameter</xsd:documentation>
							</xsd:annotation>
							<xsd:complexType>
								<xsd:sequence>
									<xsd:element name="item" type="BAPIRET2" minOccurs="0" maxOccurs="unbounded"/>
								</xsd:sequence>
							</xsd:complexType>
						</xsd:element>
						<xsd:element name="SALESORGANISATIONSELECTION" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>Selection options for sales organization</xsd:documentation>
							</xsd:annotation>
							<xsd:complexType>
								<xsd:sequence>
									<xsd:element name="item" type="BAPIMATRASO" minOccurs="0" maxOccurs="unbounded"/>
								</xsd:sequence>
							</xsd:complexType>
						</xsd:element>
						<xsd:element name="STORAGELOCATIONSELECT" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>Selection options for storage locations</xsd:documentation>
							</xsd:annotation>
							<xsd:complexType>
								<xsd:sequence>
									<xsd:element name="item" type="BAPIMATRAL" minOccurs="0" maxOccurs="unbounded"/>
								</xsd:sequence>
							</xsd:complexType>
						</xsd:element>
					</xsd:all>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="BAPI_MATERIAL_GETLIST.Response">
				<xsd:complexType>
					<xsd:all>
						<xsd:element name="DISTRIBUTIONCHANNELSELECTION" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>Selection options for distribution channel</xsd:documentation>
							</xsd:annotation>
							<xsd:complexType>
								<xsd:sequence>
									<xsd:element name="item" type="BAPIMATRADC" minOccurs="0" maxOccurs="unbounded"/>
								</xsd:sequence>
							</xsd:complexType>
						</xsd:element>
						<xsd:element name="MANUFACTURERPARTNUMB" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>Manufacturer and manufacturer part number</xsd:documentation>
							</xsd:annotation>
							<xsd:complexType>
								<xsd:sequence>
									<xsd:element name="item" type="BAPIMATMFRPN" minOccurs="0" maxOccurs="unbounded"/>
								</xsd:sequence>
							</xsd:complexType>
						</xsd:element>
						<xsd:element name="MATERIALSHORTDESCSEL" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>Selection options for material description</xsd:documentation>
							</xsd:annotation>
							<xsd:complexType>
								<xsd:sequence>
									<xsd:element name="item" type="BAPIMATRAS" minOccurs="0" maxOccurs="unbounded"/>
								</xsd:sequence>
							</xsd:complexType>
						</xsd:element>
						<xsd:element name="MATNRLIST" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>List of material numbers with material description</xsd:documentation>
							</xsd:annotation>
							<xsd:complexType>
								<xsd:sequence>
									<xsd:element name="item" type="BAPIMATLST" minOccurs="0" maxOccurs="unbounded"/>
								</xsd:sequence>
							</xsd:complexType>
						</xsd:element>
						<xsd:element name="MATNRSELECTION" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>Selection options for material number</xsd:documentation>
							</xsd:annotation>
							<xsd:complexType>
								<xsd:sequence>
									<xsd:element name="item" type="BAPIMATRAM" minOccurs="0" maxOccurs="unbounded"/>
								</xsd:sequence>
							</xsd:complexType>
						</xsd:element>
						<xsd:element name="PLANTSELECTION" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>Selection options for plants</xsd:documentation>
							</xsd:annotation>
							<xsd:complexType>
								<xsd:sequence>
									<xsd:element name="item" type="BAPIMATRAW" minOccurs="0" maxOccurs="unbounded"/>
								</xsd:sequence>
							</xsd:complexType>
						</xsd:element>
						<xsd:element name="RETURN" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>Return Parameter</xsd:documentation>
							</xsd:annotation>
							<xsd:complexType>
								<xsd:sequence>
									<xsd:element name="item" type="BAPIRET2" minOccurs="0" maxOccurs="unbounded"/>
								</xsd:sequence>
							</xsd:complexType>
						</xsd:element>
						<xsd:element name="SALESORGANISATIONSELECTION" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>Selection options for sales organization</xsd:documentation>
							</xsd:annotation>
							<xsd:complexType>
								<xsd:sequence>
									<xsd:element name="item" type="BAPIMATRASO" minOccurs="0" maxOccurs="unbounded"/>
								</xsd:sequence>
							</xsd:complexType>
						</xsd:element>
						<xsd:element name="STORAGELOCATIONSELECT" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>Selection options for storage locations</xsd:documentation>
							</xsd:annotation>
							<xsd:complexType>
								<xsd:sequence>
									<xsd:element name="item" type="BAPIMATRAL" minOccurs="0" maxOccurs="unbounded"/>
								</xsd:sequence>
							</xsd:complexType>
						</xsd:element>
					</xsd:all>
				</xsd:complexType>
			</xsd:element>
			<xsd:complexType name="BAPIMATRADC">
				<xsd:annotation>
					<xsd:documentation>Structure for Material Master BAPI Interface: DChannel Range</xsd:documentation>
				</xsd:annotation>
				<xsd:sequence>
					<xsd:element name="SIGN" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Inclusion/exclusion criterion SIGN for range tables</xsd:documentation>
						</xsd:annotation>
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="1"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="OPTION" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Selection operator OPTION for range tables</xsd:documentation>
						</xsd:annotation>
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="2"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="DISTR_CHAN_LOW" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Distribution Channel From</xsd:documentation>
						</xsd:annotation>
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="2"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="DISTR_CHAN_HIGH" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Distribution Channel To</xsd:documentation>
						</xsd:annotation>
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="2"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="BAPIRET2">
				<xsd:annotation>
					<xsd:documentation>Return Parameter</xsd:documentation>
				</xsd:annotation>
				<xsd:sequence>
					<xsd:element name="TYPE" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Message type: S Success, E Error, W Warning, I Info, A Abort</xsd:documentation>
						</xsd:annotation>
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="1"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="ID" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Message Class</xsd:documentation>
						</xsd:annotation>
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="20"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="NUMBER" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Message Number</xsd:documentation>
						</xsd:annotation>
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="3"/>
								<xsd:pattern value="\d+"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="MESSAGE" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Message Text</xsd:documentation>
						</xsd:annotation>
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="220"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="LOG_NO" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Application log: log number</xsd:documentation>
						</xsd:annotation>
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="20"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="LOG_MSG_NO" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Application log: Internal message serial number</xsd:documentation>
						</xsd:annotation>
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="6"/>
								<xsd:pattern value="\d+"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="MESSAGE_V1" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Message Variable</xsd:documentation>
						</xsd:annotation>
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="50"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="MESSAGE_V2" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Message Variable</xsd:documentation>
						</xsd:annotation>
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="50"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="MESSAGE_V3" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Message Variable</xsd:documentation>
						</xsd:annotation>
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="50"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="MESSAGE_V4" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Message Variable</xsd:documentation>
						</xsd:annotation>
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="50"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="PARAMETER" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Parameter Name</xsd:documentation>
						</xsd:annotation>
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="32"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="ROW" type="xsd:integer" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Lines in parameter</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="FIELD" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Field in parameter</xsd:documentation>
						</xsd:annotation>
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="30"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="SYSTEM" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Logical system from which message originates</xsd:documentation>
						</xsd:annotation>
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="10"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="BAPIMATRAW">
				<xsd:annotation>
					<xsd:documentation>Structure for BAPI interface mat.master: Range - plant</xsd:documentation>
				</xsd:annotation>
				<xsd:sequence>
					<xsd:element name="SIGN" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Inclusion/exclusion criterion SIGN for range tables</xsd:documentation>
						</xsd:annotation>
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="1"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="OPTION" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Selection operator OPTION for range tables</xsd:documentation>
						</xsd:annotation>
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="2"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="PLANT_LOW" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>From plant</xsd:documentation>
						</xsd:annotation>
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="4"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="PLANT_HIGH" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>To plant</xsd:documentation>
						</xsd:annotation>
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="4"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="BAPIMATMFRPN">
				<xsd:annotation>
					<xsd:documentation>BAPI Structure for Material</xsd:documentation>
				</xsd:annotation>
				<xsd:sequence>
					<xsd:element name="MANU_MAT" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Manufacturer Part Number</xsd:documentation>
						</xsd:annotation>
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="40"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="MFR_NO" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Manufacturer number</xsd:documentation>
						</xsd:annotation>
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="10"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="BAPIMATRAM">
				<xsd:annotation>
					<xsd:documentation>Structure for Material Master BAPI Interface: Matl No. Range</xsd:documentation>
				</xsd:annotation>
				<xsd:sequence>
					<xsd:element name="SIGN" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Inclusion/exclusion criterion SIGN for range tables</xsd:documentation>
						</xsd:annotation>
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="1"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="OPTION" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Selection operator OPTION for range tables</xsd:documentation>
						</xsd:annotation>
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="2"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="MATNR_LOW" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Material Number (18 Characters)</xsd:documentation>
						</xsd:annotation>
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="18"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="MATNR_HIGH" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Material Number (18 Characters)</xsd:documentation>
						</xsd:annotation>
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="18"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="MATNR_HIGH_EXTERNAL" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Long Material Number for MATNR Field</xsd:documentation>
						</xsd:annotation>
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="40"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="MATNR_HIGH_GUID" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>External GUID for MATNR_HIGH Field</xsd:documentation>
						</xsd:annotation>
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="32"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="MATNR_HIGH_VERSION" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Version Number for MATNR_HIGH Field</xsd:documentation>
						</xsd:annotation>
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="10"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="MATNR_LOW_EXTERNAL" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Long Material Number for MATNR_LOW Field</xsd:documentation>
						</xsd:annotation>
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="40"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="MATNR_LOW_GUID" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>External GUID for MATNR_LOW Field</xsd:documentation>
						</xsd:annotation>
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="32"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="MATNR_LOW_VERSION" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Version Number for MATNR_LOW Field</xsd:documentation>
						</xsd:annotation>
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="10"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="MATNR_LOW_LONG" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Material Number</xsd:documentation>
						</xsd:annotation>
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="40"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="MATNR_HIGH_LONG" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Material Number</xsd:documentation>
						</xsd:annotation>
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="40"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="BAPIMATRAL">
				<xsd:annotation>
					<xsd:documentation>Structure for BAPI interface mat. master: Range SLoc</xsd:documentation>
				</xsd:annotation>
				<xsd:sequence>
					<xsd:element name="SIGN" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Inclusion/exclusion criterion SIGN for range tables</xsd:documentation>
						</xsd:annotation>
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="1"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="OPTION" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Selection operator OPTION for range tables</xsd:documentation>
						</xsd:annotation>
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="2"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="STLOC_LOW" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>From storage location</xsd:documentation>
						</xsd:annotation>
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="4"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="STLOC_HIGH" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>To storage location</xsd:documentation>
						</xsd:annotation>
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="4"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="BAPIMATLST">
				<xsd:annotation>
					<xsd:documentation>Material Number and Description</xsd:documentation>
				</xsd:annotation>
				<xsd:sequence>
					<xsd:element name="MATERIAL" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Material Number (18 Characters)</xsd:documentation>
						</xsd:annotation>
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="18"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="MATL_DESC" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Material description</xsd:documentation>
						</xsd:annotation>
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="40"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="MATERIAL_EXTERNAL" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Long Material Number for MATERIAL Field</xsd:documentation>
						</xsd:annotation>
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="40"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="MATERIAL_GUID" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>External GUID for MATERIAL Field</xsd:documentation>
						</xsd:annotation>
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="32"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="MATERIAL_VERSION" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Version Number for MATERIAL Field</xsd:documentation>
						</xsd:annotation>
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="10"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="MATERIAL_LONG" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Material Number</xsd:documentation>
						</xsd:annotation>
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="40"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="BAPIMATRAS">
				<xsd:annotation>
					<xsd:documentation>Structure for Material Master BAPI Interface: Matl No. Range</xsd:documentation>
				</xsd:annotation>
				<xsd:sequence>
					<xsd:element name="SIGN" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Inclusion/exclusion criterion SIGN for range tables</xsd:documentation>
						</xsd:annotation>
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="1"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="OPTION" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Selection operator OPTION for range tables</xsd:documentation>
						</xsd:annotation>
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="2"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="DESCR_LOW" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Material description from</xsd:documentation>
						</xsd:annotation>
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="40"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="DESCR_HIGH" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Material description to</xsd:documentation>
						</xsd:annotation>
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="40"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="BAPIMATRASO">
				<xsd:annotation>
					<xsd:documentation>Structure for Material Master BAPI Interface: SOrg. Range</xsd:documentation>
				</xsd:annotation>
				<xsd:sequence>
					<xsd:element name="SIGN" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Inclusion/exclusion criterion SIGN for range tables</xsd:documentation>
						</xsd:annotation>
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="1"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="OPTION" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Selection operator OPTION for range tables</xsd:documentation>
						</xsd:annotation>
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="2"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="SALESORG_LOW" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Sales Organization From</xsd:documentation>
						</xsd:annotation>
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="4"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="SALESORG_HIGH" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Sales Organization To</xsd:documentation>
						</xsd:annotation>
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="4"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
				</xsd:sequence>
			</xsd:complexType>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="BAPI_MATERIAL_GETLIST.Input">
		<wsdl:part name="parameters" element="rfc:BAPI_MATERIAL_GETLIST" xmlns:rfc="urn:sap-com:document:sap:rfc:functions"/>
	</wsdl:message>
	<wsdl:message name="BAPI_MATERIAL_GETLIST.Output">
		<wsdl:part name="parameters" element="rfc:BAPI_MATERIAL_GETLIST.Response" xmlns:rfc="urn:sap-com:document:sap:rfc:functions"/>
	</wsdl:message>
	<wsdl:portType name="BAPI_MATERIAL_GETLIST.PortType">
		<wsdl:operation name="BAPI_MATERIAL_GETLIST">
			<wsdl:input message="rfc:BAPI_MATERIAL_GETLIST.Input" xmlns:rfc="urn:sap-com:document:sap:rfc:functions"/>
			<wsdl:output message="rfc:BAPI_MATERIAL_GETLIST.Output" xmlns:rfc="urn:sap-com:document:sap:rfc:functions"/>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="BAPI_MATERIAL_GETLIST.PortTypeBinding" type="rfc:BAPI_MATERIAL_GETLIST.PortType" xmlns:rfc="urn:sap-com:document:sap:rfc:functions">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"/>
		<wsdl:operation name="BAPI_MATERIAL_GETLIST">
			<soap:operation soapAction="http://sap.com/xi/WebService/soap1.1" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"/>
			<wsdl:input>
				<soap:body use="literal" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
</wsdl:definitions>