Resources/schemas/Wsdl/SAP_Commerce_Cloud_Integration_with_SAP_Master_Data_Integration - BusinessPartnerRelationshipSUITEBulkReplicateRequest_In.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions targetNamespace="http://sap.com/xi/SAP_BS_FND/MDG/Global2" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsoap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://sap.com/xi/SAP_BS_FND/MDG/Global2" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:n1="http://sap.com/xi/SAPGlobal20/Global">
 <wsdl:documentation>
  <sidl:sidl xmlns:sidl="http://www.sap.com/2007/03/sidl"/>
 </wsdl:documentation>
 <wsp:UsingPolicy wsdl:required="true"/>
 <wsp:Policy wsu:Id="BN__binding">
  <wsp:ExactlyOne>
   <wsp:All>
    <saptrnbnd:OptimizedMimeSerialization xmlns:saptrnbnd="http://schemas.xmlsoap.org/ws/2004/09/policy/optimizedmimeserialization" wsp:Optional="true"/>
    <wsrmp:RMAssertion xmlns:wsrmp="http://docs.oasis-open.org/ws-rx/wsrmp/200702">
     <wsp:Policy xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy"/>
    </wsrmp:RMAssertion>
    <wsaw:UsingAddressing xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl"/>
    <wsp:All xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy">
     <sp:TransportBinding xmlns:sp="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702" xmlns:sapsp="http://www.sap.com/webas/630/soap/features/security/policy" xmlns:wsa="http://www.w3.org/2005/08/addressing" xmlns:wst="http://docs.oasis-open.org/ws-sx/ws-trust/200512" xmlns:wsu="http://schemas.xmlsoap.org/ws/2002/07/utility" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex">
      <wsp:Policy>
       <sp:TransportToken>
        <wsp:Policy>
         <sp:HttpsToken>
          <wsp:Policy>
           <sp:HttpBasicAuthentication/>
          </wsp:Policy>
         </sp:HttpsToken>
        </wsp:Policy>
       </sp:TransportToken>
       <sp:AlgorithmSuite>
        <wsp:Policy>
         <sp:Basic128Rsa15/>
        </wsp:Policy>
       </sp:AlgorithmSuite>
       <sp:Layout>
        <wsp:Policy>
         <sp:Strict/>
        </wsp:Policy>
       </sp:Layout>
      </wsp:Policy>
     </sp:TransportBinding>
    </wsp:All>
   </wsp:All>
   <wsp:All>
    <saptrnbnd:OptimizedMimeSerialization xmlns:saptrnbnd="http://schemas.xmlsoap.org/ws/2004/09/policy/optimizedmimeserialization" wsp:Optional="true"/>
    <wsrmp:RMAssertion xmlns:wsrmp="http://docs.oasis-open.org/ws-rx/wsrmp/200702">
     <wsp:Policy xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy"/>
    </wsrmp:RMAssertion>
    <wsaw:UsingAddressing xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl"/>
    <wsp:All xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy">
     <sp:TransportBinding xmlns:sp="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702" xmlns:sapsp="http://www.sap.com/webas/630/soap/features/security/policy" xmlns:wsa="http://www.w3.org/2005/08/addressing" xmlns:wst="http://docs.oasis-open.org/ws-sx/ws-trust/200512" xmlns:wsu="http://schemas.xmlsoap.org/ws/2002/07/utility" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex">
      <wsp:Policy>
       <sp:TransportToken>
        <wsp:Policy>
         <sp:HttpsToken>
          <wsp:Policy>
           <sp:RequireClientCertificate/>
          </wsp:Policy>
         </sp:HttpsToken>
        </wsp:Policy>
       </sp:TransportToken>
       <sp:AlgorithmSuite>
        <wsp:Policy>
         <sp:Basic128Rsa15/>
        </wsp:Policy>
       </sp:AlgorithmSuite>
       <sp:Layout>
        <wsp:Policy>
         <sp:Strict/>
        </wsp:Policy>
       </sp:Layout>
      </wsp:Policy>
     </sp:TransportBinding>
    </wsp:All>
   </wsp:All>
   <wsp:All>
    <saptrnbnd:OptimizedMimeSerialization xmlns:saptrnbnd="http://schemas.xmlsoap.org/ws/2004/09/policy/optimizedmimeserialization" wsp:Optional="true"/>
    <wsrm:RMAssertion xmlns:wsrm="http://schemas.xmlsoap.org/ws/2005/02/rm/policy"/>
    <wsaw:UsingAddressing xmlns:wsaw="http://schemas.xmlsoap.org/ws/2004/08/addressing"/>
    <wsp:All xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy">
     <sp:TransportBinding xmlns:sp="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702" xmlns:sapsp="http://www.sap.com/webas/630/soap/features/security/policy" xmlns:wsa="http://www.w3.org/2005/08/addressing" xmlns:wst="http://docs.oasis-open.org/ws-sx/ws-trust/200512" xmlns:wsu="http://schemas.xmlsoap.org/ws/2002/07/utility" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex">
      <wsp:Policy>
       <sp:TransportToken>
        <wsp:Policy>
         <sp:HttpsToken>
          <wsp:Policy>
           <sp:HttpBasicAuthentication/>
          </wsp:Policy>
         </sp:HttpsToken>
        </wsp:Policy>
       </sp:TransportToken>
       <sp:AlgorithmSuite>
        <wsp:Policy>
         <sp:Basic128Rsa15/>
        </wsp:Policy>
       </sp:AlgorithmSuite>
       <sp:Layout>
        <wsp:Policy>
         <sp:Strict/>
        </wsp:Policy>
       </sp:Layout>
      </wsp:Policy>
     </sp:TransportBinding>
    </wsp:All>
   </wsp:All>
   <wsp:All>
    <saptrnbnd:OptimizedMimeSerialization xmlns:saptrnbnd="http://schemas.xmlsoap.org/ws/2004/09/policy/optimizedmimeserialization" wsp:Optional="true"/>
    <wsrm:RMAssertion xmlns:wsrm="http://schemas.xmlsoap.org/ws/2005/02/rm/policy"/>
    <wsaw:UsingAddressing xmlns:wsaw="http://schemas.xmlsoap.org/ws/2004/08/addressing"/>
    <wsp:All xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy">
     <sp:TransportBinding xmlns:sp="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702" xmlns:sapsp="http://www.sap.com/webas/630/soap/features/security/policy" xmlns:wsa="http://www.w3.org/2005/08/addressing" xmlns:wst="http://docs.oasis-open.org/ws-sx/ws-trust/200512" xmlns:wsu="http://schemas.xmlsoap.org/ws/2002/07/utility" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex">
      <wsp:Policy>
       <sp:TransportToken>
        <wsp:Policy>
         <sp:HttpsToken>
          <wsp:Policy>
           <sp:RequireClientCertificate/>
          </wsp:Policy>
         </sp:HttpsToken>
        </wsp:Policy>
       </sp:TransportToken>
       <sp:AlgorithmSuite>
        <wsp:Policy>
         <sp:Basic128Rsa15/>
        </wsp:Policy>
       </sp:AlgorithmSuite>
       <sp:Layout>
        <wsp:Policy>
         <sp:Strict/>
        </wsp:Policy>
       </sp:Layout>
      </wsp:Policy>
     </sp:TransportBinding>
    </wsp:All>
   </wsp:All>
   <wsp:All>
    <saptrnbnd:OptimizedXMLTransfer uri="http://xml.sap.com/2006/11/esi/esp/binxml" xmlns:saptrnbnd="http://www.sap.com/webas/710/soap/features/transportbinding/" wsp:Optional="true"/>
    <wsrmp:RMAssertion xmlns:wsrmp="http://docs.oasis-open.org/ws-rx/wsrmp/200702">
     <wsp:Policy xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy"/>
    </wsrmp:RMAssertion>
    <wsaw:UsingAddressing xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl"/>
    <wsp:All xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy">
     <sp:TransportBinding xmlns:sp="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702" xmlns:sapsp="http://www.sap.com/webas/630/soap/features/security/policy" xmlns:wsa="http://www.w3.org/2005/08/addressing" xmlns:wst="http://docs.oasis-open.org/ws-sx/ws-trust/200512" xmlns:wsu="http://schemas.xmlsoap.org/ws/2002/07/utility" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex">
      <wsp:Policy>
       <sp:TransportToken>
        <wsp:Policy>
         <sp:HttpsToken>
          <wsp:Policy>
           <sp:HttpBasicAuthentication/>
          </wsp:Policy>
         </sp:HttpsToken>
        </wsp:Policy>
       </sp:TransportToken>
       <sp:AlgorithmSuite>
        <wsp:Policy>
         <sp:Basic128Rsa15/>
        </wsp:Policy>
       </sp:AlgorithmSuite>
       <sp:Layout>
        <wsp:Policy>
         <sp:Strict/>
        </wsp:Policy>
       </sp:Layout>
      </wsp:Policy>
     </sp:TransportBinding>
    </wsp:All>
   </wsp:All>
   <wsp:All>
    <saptrnbnd:OptimizedXMLTransfer uri="http://xml.sap.com/2006/11/esi/esp/binxml" xmlns:saptrnbnd="http://www.sap.com/webas/710/soap/features/transportbinding/" wsp:Optional="true"/>
    <wsrmp:RMAssertion xmlns:wsrmp="http://docs.oasis-open.org/ws-rx/wsrmp/200702">
     <wsp:Policy xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy"/>
    </wsrmp:RMAssertion>
    <wsaw:UsingAddressing xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl"/>
    <wsp:All xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy">
     <sp:TransportBinding xmlns:sp="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702" xmlns:sapsp="http://www.sap.com/webas/630/soap/features/security/policy" xmlns:wsa="http://www.w3.org/2005/08/addressing" xmlns:wst="http://docs.oasis-open.org/ws-sx/ws-trust/200512" xmlns:wsu="http://schemas.xmlsoap.org/ws/2002/07/utility" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex">
      <wsp:Policy>
       <sp:TransportToken>
        <wsp:Policy>
         <sp:HttpsToken>
          <wsp:Policy>
           <sp:RequireClientCertificate/>
          </wsp:Policy>
         </sp:HttpsToken>
        </wsp:Policy>
       </sp:TransportToken>
       <sp:AlgorithmSuite>
        <wsp:Policy>
         <sp:Basic128Rsa15/>
        </wsp:Policy>
       </sp:AlgorithmSuite>
       <sp:Layout>
        <wsp:Policy>
         <sp:Strict/>
        </wsp:Policy>
       </sp:Layout>
      </wsp:Policy>
     </sp:TransportBinding>
    </wsp:All>
   </wsp:All>
   <wsp:All>
    <saptrnbnd:OptimizedXMLTransfer uri="http://xml.sap.com/2006/11/esi/esp/binxml" xmlns:saptrnbnd="http://www.sap.com/webas/710/soap/features/transportbinding/" wsp:Optional="true"/>
    <wsrm:RMAssertion xmlns:wsrm="http://schemas.xmlsoap.org/ws/2005/02/rm/policy"/>
    <wsaw:UsingAddressing xmlns:wsaw="http://schemas.xmlsoap.org/ws/2004/08/addressing"/>
    <wsp:All xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy">
     <sp:TransportBinding xmlns:sp="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702" xmlns:sapsp="http://www.sap.com/webas/630/soap/features/security/policy" xmlns:wsa="http://www.w3.org/2005/08/addressing" xmlns:wst="http://docs.oasis-open.org/ws-sx/ws-trust/200512" xmlns:wsu="http://schemas.xmlsoap.org/ws/2002/07/utility" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex">
      <wsp:Policy>
       <sp:TransportToken>
        <wsp:Policy>
         <sp:HttpsToken>
          <wsp:Policy>
           <sp:HttpBasicAuthentication/>
          </wsp:Policy>
         </sp:HttpsToken>
        </wsp:Policy>
       </sp:TransportToken>
       <sp:AlgorithmSuite>
        <wsp:Policy>
         <sp:Basic128Rsa15/>
        </wsp:Policy>
       </sp:AlgorithmSuite>
       <sp:Layout>
        <wsp:Policy>
         <sp:Strict/>
        </wsp:Policy>
       </sp:Layout>
      </wsp:Policy>
     </sp:TransportBinding>
    </wsp:All>
   </wsp:All>
   <wsp:All>
    <saptrnbnd:OptimizedXMLTransfer uri="http://xml.sap.com/2006/11/esi/esp/binxml" xmlns:saptrnbnd="http://www.sap.com/webas/710/soap/features/transportbinding/" wsp:Optional="true"/>
    <wsrm:RMAssertion xmlns:wsrm="http://schemas.xmlsoap.org/ws/2005/02/rm/policy"/>
    <wsaw:UsingAddressing xmlns:wsaw="http://schemas.xmlsoap.org/ws/2004/08/addressing"/>
    <wsp:All xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy">
     <sp:TransportBinding xmlns:sp="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702" xmlns:sapsp="http://www.sap.com/webas/630/soap/features/security/policy" xmlns:wsa="http://www.w3.org/2005/08/addressing" xmlns:wst="http://docs.oasis-open.org/ws-sx/ws-trust/200512" xmlns:wsu="http://schemas.xmlsoap.org/ws/2002/07/utility" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex">
      <wsp:Policy>
       <sp:TransportToken>
        <wsp:Policy>
         <sp:HttpsToken>
          <wsp:Policy>
           <sp:RequireClientCertificate/>
          </wsp:Policy>
         </sp:HttpsToken>
        </wsp:Policy>
       </sp:TransportToken>
       <sp:AlgorithmSuite>
        <wsp:Policy>
         <sp:Basic128Rsa15/>
        </wsp:Policy>
       </sp:AlgorithmSuite>
       <sp:Layout>
        <wsp:Policy>
         <sp:Strict/>
        </wsp:Policy>
       </sp:Layout>
      </wsp:Policy>
     </sp:TransportBinding>
    </wsp:All>
   </wsp:All>
  </wsp:ExactlyOne>
 </wsp:Policy>
 <wsp:Policy wsu:Id="IF__BusinessPartnerRelationshipSUITEBulkReplicateRequest_In">
  <wsp:ExactlyOne>
   <wsp:All>
    <sapcentraladmin:CentralAdministration xmlns:sapcentraladmin="http://www.sap.com/webas/700/soap/features/CentralAdministration/" wsp:Optional="true">
     <sapcentraladmin:InterfaceCheckSum>03EBCF2F84F1B8745EC3A83CDF561FE184F8C152</sapcentraladmin:InterfaceCheckSum>
    </sapcentraladmin:CentralAdministration>
    <sapcentraladmin:CentralAdministration xmlns:sapcentraladmin="http://www.sap.com/webas/700/soap/features/CentralAdministration/" wsp:Optional="true">
     <sapcentraladmin:BusinessApplicationID>FA163EAA43B41EE6A5E98411CD0284C7</sapcentraladmin:BusinessApplicationID>
    </sapcentraladmin:CentralAdministration>
   </wsp:All>
  </wsp:ExactlyOne>
 </wsp:Policy>
 <wsp:Policy wsu:Id="OP__BusinessPartnerRelationshipSUITEBulkReplicateRequest_In">
  <wsp:ExactlyOne>
   <wsp:All>
    <saptrhnw05:required xmlns:saptrhnw05="http://www.sap.com/NW05/soap/features/transaction/">yes</saptrhnw05:required>
    <sapcomhnd:enableCommit xmlns:sapcomhnd="http://www.sap.com/NW05/soap/features/commit/">true</sapcomhnd:enableCommit>
    <sapblock:enableBlocking xmlns:sapblock="http://www.sap.com/NW05/soap/features/blocking/">false</sapblock:enableBlocking>
    <saprmnw05:enableWSRM xmlns:saprmnw05="http://www.sap.com/NW05/soap/features/wsrm/">true</saprmnw05:enableWSRM>
   </wsp:All>
  </wsp:ExactlyOne>
 </wsp:Policy>
 <wsdl:types>
  <xsd:schema targetNamespace="http://sap.com/xi/SAP_BS_FND/MDG/Global2" xmlns="http://sap.com/xi/SAP_BS_FND/MDG/Global2" xmlns:ccts="urn:un:unece:uncefact:documentation:standard:CoreComponentsTechnicalSpecification:3.0" xmlns:xi0="http://sap.com/xi/SAPGlobal20/Global">
   <xsd:complexType name="AcademicTitleCode">
    <xsd:annotation>
     <xsd:documentation xml:lang="EN">
      <ccts:RepresentationTerm>Code</ccts:RepresentationTerm>
     </xsd:documentation>
    </xsd:annotation>
    <xsd:simpleContent>
     <xsd:extension base="AcademicTitleCode.Content">
      <xsd:attribute name="listID">
       <xsd:simpleType>
        <xsd:restriction base="xsd:token">
         <xsd:maxLength value="60"/>
         <xsd:minLength value="1"/>
        </xsd:restriction>
       </xsd:simpleType>
      </xsd:attribute>
      <xsd:attribute name="listVersionID">
       <xsd:simpleType>
        <xsd:restriction base="xsd:token">
         <xsd:maxLength value="15"/>
         <xsd:minLength value="1"/>
        </xsd:restriction>
       </xsd:simpleType>
      </xsd:attribute>
      <xsd:attribute name="listAgencyID">
       <xsd:simpleType>
        <xsd:restriction base="xsd:token">
         <xsd:maxLength value="60"/>
         <xsd:minLength value="1"/>
        </xsd:restriction>
       </xsd:simpleType>
      </xsd:attribute>
      <xsd:attribute name="listAgencySchemeID">
       <xsd:simpleType>
        <xsd:restriction base="xsd:token">
         <xsd:maxLength value="60"/>
         <xsd:minLength value="1"/>
        </xsd:restriction>
       </xsd:simpleType>
      </xsd:attribute>
      <xsd:attribute name="listAgencySchemeAgencyID" type="AgencyIdentificationCode"/>
     </xsd:extension>
    </xsd:simpleContent>
   </xsd:complexType>
   <xsd:simpleType name="AcademicTitleCode.Content">
    <xsd:restriction base="xsd:token">
     <xsd:maxLength value="4"/>
     <xsd:minLength value="1"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="ActionCode">
    <xsd:annotation>
     <xsd:documentation xml:lang="EN">
      <ccts:RepresentationTerm>Code</ccts:RepresentationTerm>
     </xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:token">
     <xsd:enumeration value="01"/>
     <xsd:enumeration value="02"/>
     <xsd:enumeration value="03"/>
     <xsd:enumeration value="04"/>
     <xsd:enumeration value="05"/>
     <xsd:enumeration value="06"/>
     <xsd:length value="2"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:complexType name="AddressRepresentationCode">
    <xsd:annotation>
     <xsd:documentation xml:lang="EN">
      <ccts:RepresentationTerm>Code</ccts:RepresentationTerm>
     </xsd:documentation>
    </xsd:annotation>
    <xsd:simpleContent>
     <xsd:extension base="AddressRepresentationCode.Content">
      <xsd:attribute name="listID">
       <xsd:simpleType>
        <xsd:restriction base="xsd:token">
         <xsd:maxLength value="60"/>
         <xsd:minLength value="1"/>
        </xsd:restriction>
       </xsd:simpleType>
      </xsd:attribute>
      <xsd:attribute name="listVersionID">
       <xsd:simpleType>
        <xsd:restriction base="xsd:token">
         <xsd:maxLength value="15"/>
         <xsd:minLength value="1"/>
        </xsd:restriction>
       </xsd:simpleType>
      </xsd:attribute>
      <xsd:attribute name="listAgencyID">
       <xsd:simpleType>
        <xsd:restriction base="xsd:token">
         <xsd:maxLength value="60"/>
         <xsd:minLength value="1"/>
        </xsd:restriction>
       </xsd:simpleType>
      </xsd:attribute>
      <xsd:attribute name="listAgencySchemeID">
       <xsd:simpleType>
        <xsd:restriction base="xsd:token">
         <xsd:maxLength value="60"/>
         <xsd:minLength value="1"/>
        </xsd:restriction>
       </xsd:simpleType>
      </xsd:attribute>
      <xsd:attribute name="listAgencySchemeAgencyID" type="AgencyIdentificationCode"/>
     </xsd:extension>
    </xsd:simpleContent>
   </xsd:complexType>
   <xsd:simpleType name="AddressRepresentationCode.Content">
    <xsd:restriction base="xsd:token">
     <xsd:length value="1"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="AgencyIdentificationCode">
    <xsd:annotation>
     <xsd:documentation xml:lang="EN">
      <ccts:RepresentationTerm>Code</ccts:RepresentationTerm>
     </xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:token">
     <xsd:maxLength value="3"/>
     <xsd:minLength value="1"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:complexType name="Amount">
    <xsd:annotation>
     <xsd:documentation xml:lang="EN">
      <ccts:RepresentationTerm>Amount</ccts:RepresentationTerm>
     </xsd:documentation>
    </xsd:annotation>
    <xsd:simpleContent>
     <xsd:extension base="Amount.Content">
      <xsd:attribute name="currencyCode" use="required" type="CurrencyCode"/>
     </xsd:extension>
    </xsd:simpleContent>
   </xsd:complexType>
   <xsd:simpleType name="Amount.Content">
    <xsd:restriction base="xsd:decimal">
     <xsd:totalDigits value="28"/>
     <xsd:fractionDigits value="6"/>
     <xsd:maxInclusive value="9999999999999999999999.999999"/>
     <xsd:minInclusive value="-9999999999999999999999.999999"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:complexType name="BPRelshpSUITEBulkRplctReqMsg">
    <xsd:sequence>
     <xsd:element name="MessageHeader" type="BusinessDocumentMessageHeader"/>
     <xsd:element name="BusinessPartnerRelationshipSUITEReplicateRequestMessage" maxOccurs="unbounded" type="BPRelshpSUITERplctReqMsg"/>
    </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="BPRelshpSUITERplctReqBPRelshp">
    <xsd:sequence>
     <xsd:element name="BusinessPartnerUUID" minOccurs="0" type="UUID"/>
     <xsd:element name="BusinessPartnerInternalID" minOccurs="0" type="BusinessPartnerInternalID"/>
     <xsd:element name="ReceiverBusinessPartnerUUID" minOccurs="0" type="UUID"/>
     <xsd:element name="ReceiverBusinessPartnerInternalID" minOccurs="0" type="BusinessPartnerInternalID"/>
     <xsd:element name="RelationshipBusinessPartnerUUID" minOccurs="0" type="UUID"/>
     <xsd:element name="BusinessPartnerExternalID" minOccurs="0" type="NOCONVERSION_ObjectID"/>
     <xsd:element name="RelationshipBusinessPartnerInternalID" minOccurs="0" type="BusinessPartnerInternalID"/>
     <xsd:element name="ReceiverRelationshipBusinessPartnerUUID" minOccurs="0" type="UUID"/>
     <xsd:element name="ReceiverRelationshipBusinessPartnerInternalID" minOccurs="0" type="BusinessPartnerInternalID"/>
     <xsd:element name="RelationshipBusinessPartnerExternalID" minOccurs="0" type="NOCONVERSION_ObjectID"/>
     <xsd:element name="RoleCode" minOccurs="0" type="MDGBusinessPartnerRelationshipCategoryCode"/>
     <xsd:element name="ValidityPeriod" minOccurs="0" type="CLOSED_DatePeriod"/>
     <xsd:element name="DefaultIndicator" minOccurs="0" type="OPTIONAL_Indicator"/>
     <xsd:element name="ContactPerson" minOccurs="0" type="BPRelshpSUITERplctReqCntctPersn"/>
     <xsd:element name="ShareHolder" minOccurs="0" type="BPRelshpSUITERplctReqShrhldr"/>
    </xsd:sequence>
    <xsd:attribute name="actionCode" type="ActionCode"/>
    <xsd:attribute name="changeOrdinalNumberValue" type="OrdinalNumberValue_V1"/>
    <xsd:attribute name="reconciliationPeriodCounterValue" type="CounterValue"/>
   </xsd:complexType>
   <xsd:complexType name="BPRelshpSUITERplctReqCntctPersn">
    <xsd:sequence>
     <xsd:element name="BusinessPartnerFunctionTypeCode" minOccurs="0" type="BusinessPartnerFunctionTypeCode"/>
     <xsd:element name="BusinessPartnerFunctionalAreaCode" minOccurs="0" type="BusinessPartnerFunctionalAreaCode"/>
     <xsd:element name="PowerOfAttorneyTypeCode" minOccurs="0" type="PowerOfAttorneyTypeCode"/>
     <xsd:element name="VIPReasonCode" minOccurs="0" type="VIPReasonCode"/>
     <xsd:element name="ContactPersonNote" minOccurs="0" type="LANGUAGEINDEPENDENT_SHORT_Note"/>
     <xsd:element name="WorkplaceAddressInformation" minOccurs="0" maxOccurs="unbounded" type="BPRelshpSUITERplctReqCntctPersnWplcAddrInfo"/>
     <xsd:element name="CustomerContactPerson" minOccurs="0" type="BPRelshpSUITERplctReqCustSuplrCntctPersn"/>
     <xsd:element name="SupplierContactPerson" minOccurs="0" type="BPRelshpSUITERplctReqCustSuplrCntctPersn"/>
    </xsd:sequence>
    <xsd:attribute name="actionCode" type="ActionCode"/>
    <xsd:attribute name="workplaceAddressListCompleteTransmissionIndicator" type="OPTIONAL_Indicator"/>
   </xsd:complexType>
   <xsd:complexType name="BPRelshpSUITERplctReqCntctPersnWplcAddrInfo">
    <xsd:sequence>
     <xsd:element name="AddressReceiverUUID" minOccurs="0" type="UUID"/>
     <xsd:element name="AddressUUID" minOccurs="0" type="UUID"/>
     <xsd:element name="DefaultIndicator" minOccurs="0" type="OPTIONAL_Indicator"/>
     <xsd:element name="Address" minOccurs="0" type="BPRelshpSUITERplctReqCntctPersnWplcAddrInfoAddr"/>
    </xsd:sequence>
    <xsd:attribute name="actionCode" type="ActionCode"/>
   </xsd:complexType>
   <xsd:complexType name="BPRelshpSUITERplctReqCntctPersnWplcAddrInfoAddr">
    <xsd:sequence>
     <xsd:element name="CommunicationPreference" minOccurs="0" type="BPRelshpSUITERplctReqCntctPersnWplcAddrInfoAddrCommPref"/>
     <xsd:element name="Email" minOccurs="0" maxOccurs="unbounded" type="BPRelshpSUITERplctReqCntctPersnWplcAddrInfoAddrEml"/>
     <xsd:element name="Facsimile" minOccurs="0" maxOccurs="unbounded" type="BPRelshpSUITERplctReqCntctPersnWplcAddrInfoAddrFacs"/>
     <xsd:element name="Telephone" minOccurs="0" maxOccurs="unbounded" type="BPRelshpSUITERplctReqCntctPersnWplcAddrInfoAddrTel"/>
     <xsd:element name="Web" minOccurs="0" maxOccurs="unbounded" type="BPRelshpSUITERplctReqCntctPersnWplcAddrInfoAddrWeb"/>
     <xsd:element name="AddressRepresentationPersonName" minOccurs="0" maxOccurs="unbounded" type="BPRelshpSUITERplctReqCntctPersnWplcAddrInfoAddrRpstPersnName"/>
     <xsd:element name="Workplace" minOccurs="0" maxOccurs="unbounded" type="BPRelshpSUITERplctReqCntctPersnWplcAddrInfoAddrWplc"/>
    </xsd:sequence>
    <xsd:attribute name="actionCode" type="ActionCode"/>
    <xsd:attribute name="emailListCompleteTransmissionIndicator" type="OPTIONAL_Indicator"/>
    <xsd:attribute name="facsimileListCompleteTransmissionIndicator" type="OPTIONAL_Indicator"/>
    <xsd:attribute name="telephoneListCompleteTransmissionIndicator" type="OPTIONAL_Indicator"/>
    <xsd:attribute name="webListCompleteTransmissionIndicator" type="OPTIONAL_Indicator"/>
    <xsd:attribute name="workplaceListCompleteTransmissionIndicator" type="OPTIONAL_Indicator"/>
    <xsd:attribute name="addressRepresentationPersonNameListCompleteTransmissionIndicator" type="OPTIONAL_Indicator"/>
   </xsd:complexType>
   <xsd:complexType name="BPRelshpSUITERplctReqCntctPersnWplcAddrInfoAddrCommPref">
    <xsd:sequence>
     <xsd:element name="PreferredCommunicationMediumTypeCode" minOccurs="0" type="CommunicationMediumTypeCode"/>
    </xsd:sequence>
    <xsd:attribute name="actionCode" type="ActionCode"/>
   </xsd:complexType>
   <xsd:complexType name="BPRelshpSUITERplctReqCntctPersnWplcAddrInfoAddrEml">
    <xsd:sequence>
     <xsd:element name="URI" type="EmailURI"/>
     <xsd:element name="UsageDeniedIndicator" minOccurs="0" type="OPTIONAL_Indicator"/>
     <xsd:element name="ValidityPeriod" minOccurs="0" type="CLOSED_DatePeriod"/>
     <xsd:element name="TransportNeutralEncapsulationFormatEnabledIndicator" minOccurs="0" type="OPTIONAL_Indicator"/>
     <xsd:element name="EmailUsage" minOccurs="0" maxOccurs="unbounded" type="BPRelshpSUITERplctReqCntctPersnWplcAddrInfoAddrEmlUsge"/>
    </xsd:sequence>
    <xsd:attribute name="actionCode" type="ActionCode"/>
    <xsd:attribute name="eMailUsageListCompleteTransmissionIndicator" type="OPTIONAL_Indicator"/>
   </xsd:complexType>
   <xsd:complexType name="BPRelshpSUITERplctReqCntctPersnWplcAddrInfoAddrEmlUsge">
    <xsd:sequence>
     <xsd:element name="Usage" type="CommunicationAddressUsage"/>
     <xsd:element name="DefaultIndicator" minOccurs="0" type="OPTIONAL_Indicator"/>
    </xsd:sequence>
    <xsd:attribute name="actionCode" type="ActionCode"/>
   </xsd:complexType>
   <xsd:complexType name="BPRelshpSUITERplctReqCntctPersnWplcAddrInfoAddrFacs">
    <xsd:sequence>
     <xsd:element name="Number" type="PhoneNumber"/>
     <xsd:element name="FormattedNumberDescription" minOccurs="0" type="LANGUAGEINDEPENDENT_SHORT_Description"/>
     <xsd:element name="UsageDeniedIndicator" minOccurs="0" type="OPTIONAL_Indicator"/>
     <xsd:element name="ValidityPeriod" minOccurs="0" type="CLOSED_DatePeriod"/>
     <xsd:element name="FacsimileUsage" minOccurs="0" maxOccurs="unbounded" type="BPRelshpSUITERplctReqCntctPersnWplcAddrInfoAddrFacsUsge"/>
    </xsd:sequence>
    <xsd:attribute name="actionCode" type="ActionCode"/>
    <xsd:attribute name="facsimileUsageListCompleteTransmissionIndicator" type="OPTIONAL_Indicator"/>
   </xsd:complexType>
   <xsd:complexType name="BPRelshpSUITERplctReqCntctPersnWplcAddrInfoAddrFacsUsge">
    <xsd:sequence>
     <xsd:element name="Usage" type="CommunicationAddressUsage"/>
     <xsd:element name="DefaultIndicator" minOccurs="0" type="OPTIONAL_Indicator"/>
    </xsd:sequence>
    <xsd:attribute name="actionCode" type="ActionCode"/>
   </xsd:complexType>
   <xsd:complexType name="BPRelshpSUITERplctReqCntctPersnWplcAddrInfoAddrRpstPersnName">
    <xsd:sequence>
     <xsd:element name="AddressRepresentationCode" type="AddressRepresentationCode"/>
     <xsd:element name="Name" type="PersonName"/>
     <xsd:element name="KeyWordsText" minOccurs="0" type="KeyWordsText"/>
     <xsd:element name="AdditionalKeyWordsText" minOccurs="0" type="KeyWordsText"/>
     <xsd:element name="FormattedName" minOccurs="0" type="LANGUAGEINDEPENDENT_LONG_Name"/>
    </xsd:sequence>
    <xsd:attribute name="actionCode" type="ActionCode"/>
   </xsd:complexType>
   <xsd:complexType name="BPRelshpSUITERplctReqCntctPersnWplcAddrInfoAddrTel">
    <xsd:sequence>
     <xsd:element name="Number" type="PhoneNumber"/>
     <xsd:element name="FormattedNumberDescription" minOccurs="0" type="LANGUAGEINDEPENDENT_SHORT_Description"/>
     <xsd:element name="UsageDeniedIndicator" minOccurs="0" type="OPTIONAL_Indicator"/>
     <xsd:element name="ValidityPeriod" minOccurs="0" type="CLOSED_DatePeriod"/>
     <xsd:element name="MobilePhoneNumberIndicator" minOccurs="0" type="OPTIONAL_Indicator"/>
     <xsd:element name="SMSEnabledIndicator" minOccurs="0" type="OPTIONAL_Indicator"/>
     <xsd:element name="TelephoneUsage" minOccurs="0" maxOccurs="unbounded" type="BPRelshpSUITERplctReqCntctPersnWplcAddrInfoAddrTelUsge"/>
    </xsd:sequence>
    <xsd:attribute name="actionCode" type="ActionCode"/>
    <xsd:attribute name="telephoneUsageListCompleteTransmissionIndicator" type="OPTIONAL_Indicator"/>
   </xsd:complexType>
   <xsd:complexType name="BPRelshpSUITERplctReqCntctPersnWplcAddrInfoAddrTelUsge">
    <xsd:sequence>
     <xsd:element name="Usage" type="CommunicationAddressUsage"/>
     <xsd:element name="DefaultIndicator" minOccurs="0" type="OPTIONAL_Indicator"/>
    </xsd:sequence>
    <xsd:attribute name="actionCode" type="ActionCode"/>
   </xsd:complexType>
   <xsd:complexType name="BPRelshpSUITERplctReqCntctPersnWplcAddrInfoAddrWeb">
    <xsd:sequence>
     <xsd:element name="URI" type="WebURI"/>
     <xsd:element name="URITypeCode" minOccurs="0" type="Code"/>
     <xsd:element name="UsageDeniedIndicator" minOccurs="0" type="OPTIONAL_Indicator"/>
     <xsd:element name="WebUsage" minOccurs="0" maxOccurs="unbounded" type="BPRelshpSUITERplctReqCntctPersnWplcAddrInfoAddrWebUsge"/>
    </xsd:sequence>
    <xsd:attribute name="actionCode" type="ActionCode"/>
    <xsd:attribute name="webUsageListCompleteTransmissionIndicator" type="OPTIONAL_Indicator"/>
   </xsd:complexType>
   <xsd:complexType name="BPRelshpSUITERplctReqCntctPersnWplcAddrInfoAddrWebUsge">
    <xsd:sequence>
     <xsd:element name="Usage" type="CommunicationAddressUsage"/>
     <xsd:element name="DefaultIndicator" minOccurs="0" type="OPTIONAL_Indicator"/>
    </xsd:sequence>
    <xsd:attribute name="actionCode" type="ActionCode"/>
   </xsd:complexType>
   <xsd:complexType name="BPRelshpSUITERplctReqCntctPersnWplcAddrInfoAddrWplc">
    <xsd:sequence>
     <xsd:element name="AddressRepresentationCode" minOccurs="0" type="AddressRepresentationCode"/>
     <xsd:element name="FunctionalTitleName" minOccurs="0" type="LANGUAGEINDEPENDENT_MEDIUM_Name"/>
     <xsd:element name="DepartmentName" minOccurs="0" type="LANGUAGEINDEPENDENT_MEDIUM_Name"/>
     <xsd:element name="BuildingID" minOccurs="0" type="BuildingID"/>
     <xsd:element name="FloorID" minOccurs="0" type="FloorID"/>
     <xsd:element name="RoomID" minOccurs="0" type="RoomID"/>
     <xsd:element name="InhouseMailID" minOccurs="0" type="InhouseMailID"/>
     <xsd:element name="CorrespondenceShortName" minOccurs="0" type="LANGUAGEINDEPENDENT_SHORT_Name"/>
    </xsd:sequence>
    <xsd:attribute name="actionCode" type="ActionCode"/>
   </xsd:complexType>
   <xsd:complexType name="BPRelshpSUITERplctReqCustSuplrCntctPersn">
    <xsd:sequence>
     <xsd:element name="InternalID" minOccurs="0" type="BusinessPartnerInternalID"/>
     <xsd:element name="ReceiverInternalID" minOccurs="0" type="BusinessPartnerInternalID"/>
    </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="BPRelshpSUITERplctReqMsg">
    <xsd:sequence>
     <xsd:element name="MessageHeader" type="BusinessDocumentMessageHeader"/>
     <xsd:element name="BusinessPartnerRelationship" type="BPRelshpSUITERplctReqBPRelshp"/>
    </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="BPRelshpSUITERplctReqShrhldr">
    <xsd:sequence>
     <xsd:element name="EquityParticipationPercent" minOccurs="0" type="Percent"/>
     <xsd:element name="EquityParticipationAmount" minOccurs="0" type="Amount"/>
     <xsd:element name="CompanyControlIndicator" minOccurs="0" type="OPTIONAL_Indicator"/>
    </xsd:sequence>
   </xsd:complexType>
   <xsd:simpleType name="BuildingID">
    <xsd:annotation>
     <xsd:documentation xml:lang="EN">
      <ccts:RepresentationTerm>Identifier</ccts:RepresentationTerm>
     </xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:token">
     <xsd:maxLength value="10"/>
     <xsd:minLength value="1"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:complexType name="BusinessDocumentMessageHeader">
    <xsd:sequence>
     <xsd:element name="ID" minOccurs="0" type="BusinessDocumentMessageID"/>
     <xsd:element name="UUID" minOccurs="0" type="UUID"/>
     <xsd:element name="ReferenceID" minOccurs="0" type="BusinessDocumentMessageID"/>
     <xsd:element name="ReferenceUUID" minOccurs="0" type="UUID"/>
     <xsd:element name="CreationDateTime" minOccurs="0" type="GLOBAL_DateTime"/>
     <xsd:element name="TestDataIndicator" minOccurs="0" type="Indicator"/>
     <xsd:element name="ReconciliationIndicator" minOccurs="0" type="Indicator"/>
     <xsd:element name="SenderBusinessSystemID" minOccurs="0" type="BusinessSystemID"/>
     <xsd:element name="RecipientBusinessSystemID" minOccurs="0" type="BusinessSystemID"/>
     <xsd:element name="SenderParty" minOccurs="0" type="BusinessDocumentMessageHeaderParty"/>
     <xsd:element name="RecipientParty" minOccurs="0" type="BusinessDocumentMessageHeaderParty"/>
     <xsd:element name="BusinessScope" minOccurs="0" type="BusinessScope"/>
    </xsd:sequence>
    <xsd:attribute name="BusinessDocumentObjectListCompleteTransmissionIndicator" type="OPTIONAL_Indicator"/>
   </xsd:complexType>
   <xsd:complexType name="BusinessDocumentMessageHeaderParty">
    <xsd:sequence>
     <xsd:element name="InternalID" minOccurs="0" type="PartyInternalID"/>
     <xsd:element name="StandardID" minOccurs="0" maxOccurs="unbounded" type="PartyStandardID"/>
     <xsd:element name="ContactPerson" minOccurs="0" type="BusinessDocumentMessageHeaderPartyContactPerson"/>
    </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="BusinessDocumentMessageHeaderPartyContactPerson">
    <xsd:sequence>
     <xsd:element name="InternalID" minOccurs="0" type="ContactPersonInternalID"/>
     <xsd:element name="OrganisationFormattedName" minOccurs="0" maxOccurs="4" type="LANGUAGEINDEPENDENT_MEDIUM_Name"/>
     <xsd:element name="PersonFormattedName" minOccurs="0" maxOccurs="4" type="LANGUAGEINDEPENDENT_LONG_Name"/>
     <xsd:element name="PhoneNumber" minOccurs="0" maxOccurs="unbounded" type="PhoneNumber"/>
     <xsd:element name="FaxNumber" minOccurs="0" maxOccurs="unbounded" type="PhoneNumber"/>
     <xsd:element name="EmailURI" minOccurs="0" maxOccurs="unbounded" type="EmailURI"/>
    </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="BusinessDocumentMessageID">
    <xsd:annotation>
     <xsd:documentation xml:lang="EN">
      <ccts:RepresentationTerm>Identifier</ccts:RepresentationTerm>
     </xsd:documentation>
    </xsd:annotation>
    <xsd:simpleContent>
     <xsd:extension base="BusinessDocumentMessageID.Content">
      <xsd:attribute name="schemeID">
       <xsd:simpleType>
        <xsd:restriction base="xsd:token">
         <xsd:maxLength value="60"/>
         <xsd:minLength value="1"/>
        </xsd:restriction>
       </xsd:simpleType>
      </xsd:attribute>
      <xsd:attribute name="schemeAgencyID">
       <xsd:simpleType>
        <xsd:restriction base="xsd:token">
         <xsd:maxLength value="60"/>
         <xsd:minLength value="1"/>
        </xsd:restriction>
       </xsd:simpleType>
      </xsd:attribute>
      <xsd:attribute name="schemeAgencySchemeAgencyID" type="AgencyIdentificationCode"/>
     </xsd:extension>
    </xsd:simpleContent>
   </xsd:complexType>
   <xsd:simpleType name="BusinessDocumentMessageID.Content">
    <xsd:restriction base="xsd:token">
     <xsd:maxLength value="35"/>
     <xsd:minLength value="1"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:complexType name="BusinessPartnerFunctionTypeCode">
    <xsd:annotation>
     <xsd:documentation xml:lang="EN">
      <ccts:RepresentationTerm>Code</ccts:RepresentationTerm>
     </xsd:documentation>
    </xsd:annotation>
    <xsd:simpleContent>
     <xsd:extension base="BusinessPartnerFunctionTypeCode.Content">
      <xsd:attribute name="listID">
       <xsd:simpleType>
        <xsd:restriction base="xsd:token">
         <xsd:maxLength value="60"/>
         <xsd:minLength value="1"/>
        </xsd:restriction>
       </xsd:simpleType>
      </xsd:attribute>
      <xsd:attribute name="listVersionID">
       <xsd:simpleType>
        <xsd:restriction base="xsd:token">
         <xsd:maxLength value="15"/>
         <xsd:minLength value="1"/>
        </xsd:restriction>
       </xsd:simpleType>
      </xsd:attribute>
      <xsd:attribute name="listAgencyID">
       <xsd:simpleType>
        <xsd:restriction base="xsd:token">
         <xsd:maxLength value="60"/>
         <xsd:minLength value="1"/>
        </xsd:restriction>
       </xsd:simpleType>
      </xsd:attribute>
      <xsd:attribute name="listAgencySchemeID">
       <xsd:simpleType>
        <xsd:restriction base="xsd:token">
         <xsd:maxLength value="60"/>
         <xsd:minLength value="1"/>
        </xsd:restriction>
       </xsd:simpleType>
      </xsd:attribute>
      <xsd:attribute name="listAgencySchemeAgencyID" type="AgencyIdentificationCode"/>
     </xsd:extension>
    </xsd:simpleContent>
   </xsd:complexType>
   <xsd:simpleType name="BusinessPartnerFunctionTypeCode.Content">
    <xsd:restriction base="xsd:token">
     <xsd:maxLength value="4"/>
     <xsd:minLength value="1"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:complexType name="BusinessPartnerFunctionalAreaCode">
    <xsd:annotation>
     <xsd:documentation xml:lang="EN">
      <ccts:RepresentationTerm>Code</ccts:RepresentationTerm>
     </xsd:documentation>
    </xsd:annotation>
    <xsd:simpleContent>
     <xsd:extension base="BusinessPartnerFunctionalAreaCode.Content">
      <xsd:attribute name="listID">
       <xsd:simpleType>
        <xsd:restriction base="xsd:token">
         <xsd:maxLength value="60"/>
         <xsd:minLength value="1"/>
        </xsd:restriction>
       </xsd:simpleType>
      </xsd:attribute>
      <xsd:attribute name="listVersionID">
       <xsd:simpleType>
        <xsd:restriction base="xsd:token">
         <xsd:maxLength value="15"/>
         <xsd:minLength value="1"/>
        </xsd:restriction>
       </xsd:simpleType>
      </xsd:attribute>
      <xsd:attribute name="listAgencyID">
       <xsd:simpleType>
        <xsd:restriction base="xsd:token">
         <xsd:maxLength value="60"/>
         <xsd:minLength value="1"/>
        </xsd:restriction>
       </xsd:simpleType>
      </xsd:attribute>
      <xsd:attribute name="listAgencySchemeID">
       <xsd:simpleType>
        <xsd:restriction base="xsd:token">
         <xsd:maxLength value="60"/>
         <xsd:minLength value="1"/>
        </xsd:restriction>
       </xsd:simpleType>
      </xsd:attribute>
      <xsd:attribute name="listAgencySchemeAgencyID" type="AgencyIdentificationCode"/>
     </xsd:extension>
    </xsd:simpleContent>
   </xsd:complexType>
   <xsd:simpleType name="BusinessPartnerFunctionalAreaCode.Content">
    <xsd:restriction base="xsd:token">
     <xsd:maxLength value="4"/>
     <xsd:minLength value="1"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="BusinessPartnerInternalID">
    <xsd:annotation>
     <xsd:documentation xml:lang="EN">
      <ccts:RepresentationTerm>Identifier</ccts:RepresentationTerm>
     </xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:token">
     <xsd:maxLength value="10"/>
     <xsd:minLength value="1"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:complexType name="BusinessScope">
    <xsd:sequence>
     <xsd:element name="TypeCode" type="BusinessScopeTypeCode"/>
     <xsd:element name="InstanceID" minOccurs="0" type="BusinessScopeInstanceID"/>
     <xsd:element name="ID" minOccurs="0" type="BusinessScopeID"/>
    </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="BusinessScopeID">
    <xsd:annotation>
     <xsd:documentation xml:lang="EN">
      <ccts:RepresentationTerm>Identifier</ccts:RepresentationTerm>
     </xsd:documentation>
    </xsd:annotation>
    <xsd:simpleContent>
     <xsd:extension base="BusinessScopeID.Content">
      <xsd:attribute name="schemeID">
       <xsd:simpleType>
        <xsd:restriction base="xsd:token">
         <xsd:maxLength value="60"/>
         <xsd:minLength value="1"/>
        </xsd:restriction>
       </xsd:simpleType>
      </xsd:attribute>
      <xsd:attribute name="schemeAgencyID">
       <xsd:simpleType>
        <xsd:restriction base="xsd:token">
         <xsd:maxLength value="60"/>
         <xsd:minLength value="1"/>
        </xsd:restriction>
       </xsd:simpleType>
      </xsd:attribute>
     </xsd:extension>
    </xsd:simpleContent>
   </xsd:complexType>
   <xsd:simpleType name="BusinessScopeID.Content">
    <xsd:restriction base="xsd:token">
     <xsd:maxLength value="36"/>
     <xsd:minLength value="1"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:complexType name="BusinessScopeInstanceID">
    <xsd:annotation>
     <xsd:documentation xml:lang="EN">
      <ccts:RepresentationTerm>Identifier</ccts:RepresentationTerm>
     </xsd:documentation>
    </xsd:annotation>
    <xsd:simpleContent>
     <xsd:extension base="BusinessScopeInstanceID.Content">
      <xsd:attribute name="schemeID">
       <xsd:simpleType>
        <xsd:restriction base="xsd:token">
         <xsd:maxLength value="60"/>
         <xsd:minLength value="1"/>
        </xsd:restriction>
       </xsd:simpleType>
      </xsd:attribute>
      <xsd:attribute name="schemeAgencyID">
       <xsd:simpleType>
        <xsd:restriction base="xsd:token">
         <xsd:maxLength value="60"/>
         <xsd:minLength value="1"/>
        </xsd:restriction>
       </xsd:simpleType>
      </xsd:attribute>
     </xsd:extension>
    </xsd:simpleContent>
   </xsd:complexType>
   <xsd:simpleType name="BusinessScopeInstanceID.Content">
    <xsd:restriction base="xsd:token">
     <xsd:maxLength value="36"/>
     <xsd:minLength value="1"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:complexType name="BusinessScopeTypeCode">
    <xsd:annotation>
     <xsd:documentation xml:lang="EN">
      <ccts:RepresentationTerm>Code</ccts:RepresentationTerm>
     </xsd:documentation>
    </xsd:annotation>
    <xsd:simpleContent>
     <xsd:extension base="BusinessScopeTypeCode.Content">
      <xsd:attribute name="listID">
       <xsd:simpleType>
        <xsd:restriction base="xsd:token">
         <xsd:maxLength value="60"/>
         <xsd:minLength value="1"/>
        </xsd:restriction>
       </xsd:simpleType>
      </xsd:attribute>
      <xsd:attribute name="listVersionID">
       <xsd:simpleType>
        <xsd:restriction base="xsd:token">
         <xsd:maxLength value="15"/>
         <xsd:minLength value="1"/>
        </xsd:restriction>
       </xsd:simpleType>
      </xsd:attribute>
      <xsd:attribute name="listAgencyID">
       <xsd:simpleType>
        <xsd:restriction base="xsd:token">
         <xsd:maxLength value="60"/>
         <xsd:minLength value="1"/>
        </xsd:restriction>
       </xsd:simpleType>
      </xsd:attribute>
      <xsd:attribute name="listAgencySchemeID">
       <xsd:simpleType>
        <xsd:restriction base="xsd:token">
         <xsd:maxLength value="60"/>
         <xsd:minLength value="1"/>
        </xsd:restriction>
       </xsd:simpleType>
      </xsd:attribute>
      <xsd:attribute name="listAgencySchemeAgencyID" type="AgencyIdentificationCode"/>
     </xsd:extension>
    </xsd:simpleContent>
   </xsd:complexType>
   <xsd:simpleType name="BusinessScopeTypeCode.Content">
    <xsd:restriction base="xsd:token">
     <xsd:maxLength value="4"/>
     <xsd:minLength value="1"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="BusinessSystemID">
    <xsd:annotation>
     <xsd:documentation xml:lang="EN">
      <ccts:RepresentationTerm>Identifier</ccts:RepresentationTerm>
     </xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:token">
     <xsd:maxLength value="60"/>
     <xsd:minLength value="1"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:complexType name="CLOSED_DatePeriod">
    <xsd:sequence>
     <xsd:element name="StartDate" type="Date"/>
     <xsd:element name="EndDate" type="Date"/>
    </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="Code">
    <xsd:annotation>
     <xsd:documentation xml:lang="EN">
      <ccts:RepresentationTerm>Code</ccts:RepresentationTerm>
     </xsd:documentation>
    </xsd:annotation>
    <xsd:simpleContent>
     <xsd:extension base="xsd:token">
      <xsd:attribute name="listID">
       <xsd:simpleType>
        <xsd:restriction base="xsd:token">
         <xsd:maxLength value="60"/>
         <xsd:minLength value="1"/>
        </xsd:restriction>
       </xsd:simpleType>
      </xsd:attribute>
      <xsd:attribute name="listVersionID">
       <xsd:simpleType>
        <xsd:restriction base="xsd:token">
         <xsd:maxLength value="15"/>
         <xsd:minLength value="1"/>
        </xsd:restriction>
       </xsd:simpleType>
      </xsd:attribute>
      <xsd:attribute name="listAgencyID">
       <xsd:simpleType>
        <xsd:restriction base="xsd:token">
         <xsd:maxLength value="60"/>
         <xsd:minLength value="1"/>
        </xsd:restriction>
       </xsd:simpleType>
      </xsd:attribute>
      <xsd:attribute name="listAgencySchemeID">
       <xsd:simpleType>
        <xsd:restriction base="xsd:token">
         <xsd:maxLength value="60"/>
         <xsd:minLength value="1"/>
        </xsd:restriction>
       </xsd:simpleType>
      </xsd:attribute>
      <xsd:attribute name="listAgencySchemeAgencyID" type="AgencyIdentificationCode"/>
     </xsd:extension>
    </xsd:simpleContent>
   </xsd:complexType>
   <xsd:complexType name="CommunicationAddressUsage">
    <xsd:sequence>
     <xsd:element name="Code" type="CommunicationAddressUsageCode"/>
     <xsd:element name="Name" minOccurs="0" type="MEDIUM_Name"/>
     <xsd:element name="ValidityPeriod" minOccurs="0" type="CLOSED_DatePeriod"/>
    </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="CommunicationAddressUsageCode">
    <xsd:annotation>
     <xsd:documentation xml:lang="EN">
      <ccts:RepresentationTerm>Code</ccts:RepresentationTerm>
     </xsd:documentation>
    </xsd:annotation>
    <xsd:simpleContent>
     <xsd:extension base="CommunicationAddressUsageCode.Content">
      <xsd:attribute name="listID">
       <xsd:simpleType>
        <xsd:restriction base="xsd:token">
         <xsd:maxLength value="60"/>
         <xsd:minLength value="1"/>
        </xsd:restriction>
       </xsd:simpleType>
      </xsd:attribute>
      <xsd:attribute name="listVersionID">
       <xsd:simpleType>
        <xsd:restriction base="xsd:token">
         <xsd:maxLength value="15"/>
         <xsd:minLength value="1"/>
        </xsd:restriction>
       </xsd:simpleType>
      </xsd:attribute>
      <xsd:attribute name="listAgencyID">
       <xsd:simpleType>
        <xsd:restriction base="xsd:token">
         <xsd:maxLength value="60"/>
         <xsd:minLength value="1"/>
        </xsd:restriction>
       </xsd:simpleType>
      </xsd:attribute>
      <xsd:attribute name="listAgencySchemeID">
       <xsd:simpleType>
        <xsd:restriction base="xsd:token">
         <xsd:maxLength value="60"/>
         <xsd:minLength value="1"/>
        </xsd:restriction>
       </xsd:simpleType>
      </xsd:attribute>
      <xsd:attribute name="listAgencySchemeAgencyID" type="AgencyIdentificationCode"/>
     </xsd:extension>
    </xsd:simpleContent>
   </xsd:complexType>
   <xsd:simpleType name="CommunicationAddressUsageCode.Content">
    <xsd:restriction base="xsd:token">
     <xsd:maxLength value="10"/>
     <xsd:minLength value="1"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:complexType name="CommunicationMediumTypeCode">
    <xsd:annotation>
     <xsd:documentation xml:lang="EN">
      <ccts:RepresentationTerm>Code</ccts:RepresentationTerm>
     </xsd:documentation>
    </xsd:annotation>
    <xsd:simpleContent>
     <xsd:extension base="CommunicationMediumTypeCode.Content">
      <xsd:attribute name="listID">
       <xsd:simpleType>
        <xsd:restriction base="xsd:token">
         <xsd:maxLength value="60"/>
         <xsd:minLength value="1"/>
        </xsd:restriction>
       </xsd:simpleType>
      </xsd:attribute>
      <xsd:attribute name="listAgencyID">
       <xsd:simpleType>
        <xsd:restriction base="xsd:token">
         <xsd:maxLength value="60"/>
         <xsd:minLength value="1"/>
        </xsd:restriction>
       </xsd:simpleType>
      </xsd:attribute>
      <xsd:attribute name="listVersionID">
       <xsd:simpleType>
        <xsd:restriction base="xsd:token">
         <xsd:maxLength value="15"/>
         <xsd:minLength value="1"/>
        </xsd:restriction>
       </xsd:simpleType>
      </xsd:attribute>
     </xsd:extension>
    </xsd:simpleContent>
   </xsd:complexType>
   <xsd:simpleType name="CommunicationMediumTypeCode.Content">
    <xsd:restriction base="xsd:token">
     <xsd:maxLength value="3"/>
     <xsd:minLength value="1"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:complexType name="ContactPersonInternalID">
    <xsd:annotation>
     <xsd:documentation xml:lang="EN">
      <ccts:RepresentationTerm>Identifier</ccts:RepresentationTerm>
     </xsd:documentation>
    </xsd:annotation>
    <xsd:simpleContent>
     <xsd:extension base="ContactPersonInternalID.Content">
      <xsd:attribute name="schemeID">
       <xsd:simpleType>
        <xsd:restriction base="xsd:token">
         <xsd:maxLength value="60"/>
         <xsd:minLength value="1"/>
        </xsd:restriction>
       </xsd:simpleType>
      </xsd:attribute>
      <xsd:attribute name="schemeAgencyID">
       <xsd:simpleType>
        <xsd:restriction base="xsd:token">
         <xsd:maxLength value="60"/>
         <xsd:minLength value="1"/>
        </xsd:restriction>
       </xsd:simpleType>
      </xsd:attribute>
     </xsd:extension>
    </xsd:simpleContent>
   </xsd:complexType>
   <xsd:simpleType name="ContactPersonInternalID.Content">
    <xsd:restriction base="xsd:token">
     <xsd:maxLength value="32"/>
     <xsd:minLength value="1"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="CounterValue">
    <xsd:annotation>
     <xsd:documentation xml:lang="EN">
      <ccts:RepresentationTerm>Value</ccts:RepresentationTerm>
     </xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:int">
     <xsd:maxInclusive value="999999999"/>
     <xsd:minInclusive value="0"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="CountryCode">
    <xsd:annotation>
     <xsd:documentation xml:lang="EN">
      <ccts:RepresentationTerm>Code</ccts:RepresentationTerm>
     </xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:token">
     <xsd:maxLength value="3"/>
     <xsd:minLength value="2"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="CountryDiallingCode">
    <xsd:annotation>
     <xsd:documentation xml:lang="EN">
      <ccts:RepresentationTerm>Code</ccts:RepresentationTerm>
     </xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:token">
     <xsd:maxLength value="10"/>
     <xsd:minLength value="1"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="CurrencyCode">
    <xsd:annotation>
     <xsd:documentation xml:lang="EN">
      <ccts:RepresentationTerm>Code</ccts:RepresentationTerm>
     </xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:token">
     <xsd:length value="3"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="Date">
    <xsd:annotation>
     <xsd:documentation xml:lang="EN">
      <ccts:RepresentationTerm>Date</ccts:RepresentationTerm>
     </xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:date">
     <xsd:pattern value="[0-9]{4}-[0-9]{2}-[0-9]{2}"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:complexType name="EmailURI">
    <xsd:annotation>
     <xsd:documentation xml:lang="EN">
      <ccts:RepresentationTerm>URI</ccts:RepresentationTerm>
     </xsd:documentation>
    </xsd:annotation>
    <xsd:simpleContent>
     <xsd:extension base="xsd:anyURI">
      <xsd:attribute name="schemeID">
       <xsd:simpleType>
        <xsd:restriction base="xsd:token">
         <xsd:maxLength value="60"/>
         <xsd:minLength value="1"/>
        </xsd:restriction>
       </xsd:simpleType>
      </xsd:attribute>
     </xsd:extension>
    </xsd:simpleContent>
   </xsd:complexType>
   <xsd:complexType name="ExchangeFaultData">
    <xsd:sequence>
     <xsd:element name="faultText" type="xsd:string"/>
     <xsd:element name="faultUrl" minOccurs="0" type="xsd:string"/>
     <xsd:element name="faultDetail" minOccurs="0" maxOccurs="unbounded" type="ExchangeLogData"/>
    </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="ExchangeLogData">
    <xsd:sequence>
     <xsd:element name="severity" minOccurs="0" type="xsd:string"/>
     <xsd:element name="text" type="xsd:string"/>
     <xsd:element name="url" minOccurs="0" type="xsd:string"/>
     <xsd:element name="id" minOccurs="0" type="xsd:string"/>
    </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="FamilyNamePrefixCode">
    <xsd:annotation>
     <xsd:documentation xml:lang="EN">
      <ccts:RepresentationTerm>Code</ccts:RepresentationTerm>
     </xsd:documentation>
    </xsd:annotation>
    <xsd:simpleContent>
     <xsd:extension base="FamilyNamePrefixCode.Content">
      <xsd:attribute name="listID">
       <xsd:simpleType>
        <xsd:restriction base="xsd:token">
         <xsd:maxLength value="60"/>
         <xsd:minLength value="1"/>
        </xsd:restriction>
       </xsd:simpleType>
      </xsd:attribute>
      <xsd:attribute name="listVersionID">
       <xsd:simpleType>
        <xsd:restriction base="xsd:token">
         <xsd:maxLength value="15"/>
         <xsd:minLength value="1"/>
        </xsd:restriction>
       </xsd:simpleType>
      </xsd:attribute>
      <xsd:attribute name="listAgencyID">
       <xsd:simpleType>
        <xsd:restriction base="xsd:token">
         <xsd:maxLength value="60"/>
         <xsd:minLength value="1"/>
        </xsd:restriction>
       </xsd:simpleType>
      </xsd:attribute>
      <xsd:attribute name="listAgencySchemeID">
       <xsd:simpleType>
        <xsd:restriction base="xsd:token">
         <xsd:maxLength value="60"/>
         <xsd:minLength value="1"/>
        </xsd:restriction>
       </xsd:simpleType>
      </xsd:attribute>
      <xsd:attribute name="listAgencySchemeAgencyID" type="AgencyIdentificationCode"/>
     </xsd:extension>
    </xsd:simpleContent>
   </xsd:complexType>
   <xsd:simpleType name="FamilyNamePrefixCode.Content">
    <xsd:restriction base="xsd:token">
     <xsd:maxLength value="4"/>
     <xsd:minLength value="1"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="FloorID">
    <xsd:annotation>
     <xsd:documentation xml:lang="EN">
      <ccts:RepresentationTerm>Identifier</ccts:RepresentationTerm>
     </xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:token">
     <xsd:maxLength value="10"/>
     <xsd:minLength value="1"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:complexType name="FormOfAddressCode">
    <xsd:annotation>
     <xsd:documentation xml:lang="EN">
      <ccts:RepresentationTerm>Code</ccts:RepresentationTerm>
     </xsd:documentation>
    </xsd:annotation>
    <xsd:simpleContent>
     <xsd:extension base="FormOfAddressCode.Content">
      <xsd:attribute name="listID">
       <xsd:simpleType>
        <xsd:restriction base="xsd:token">
         <xsd:maxLength value="60"/>
         <xsd:minLength value="1"/>
        </xsd:restriction>
       </xsd:simpleType>
      </xsd:attribute>
      <xsd:attribute name="listVersionID">
       <xsd:simpleType>
        <xsd:restriction base="xsd:token">
         <xsd:maxLength value="15"/>
         <xsd:minLength value="1"/>
        </xsd:restriction>
       </xsd:simpleType>
      </xsd:attribute>
      <xsd:attribute name="listAgencyID">
       <xsd:simpleType>
        <xsd:restriction base="xsd:token">
         <xsd:maxLength value="60"/>
         <xsd:minLength value="1"/>
        </xsd:restriction>
       </xsd:simpleType>
      </xsd:attribute>
      <xsd:attribute name="listAgencySchemeID">
       <xsd:simpleType>
        <xsd:restriction base="xsd:token">
         <xsd:maxLength value="60"/>
         <xsd:minLength value="1"/>
        </xsd:restriction>
       </xsd:simpleType>
      </xsd:attribute>
      <xsd:attribute name="listAgencySchemeAgencyID" type="AgencyIdentificationCode"/>
     </xsd:extension>
    </xsd:simpleContent>
   </xsd:complexType>
   <xsd:simpleType name="FormOfAddressCode.Content">
    <xsd:restriction base="xsd:token">
     <xsd:maxLength value="4"/>
     <xsd:minLength value="1"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="GLOBAL_DateTime">
    <xsd:annotation>
     <xsd:documentation xml:lang="EN">
      <ccts:RepresentationTerm>DateTime</ccts:RepresentationTerm>
     </xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:dateTime">
     <xsd:pattern value="[0-9]{4}-[0-9]{2}-[0-9]{2}T[0-9]{2}:[0-9]{2}:[0-9]{2}(.[0-9]{1,7})?Z"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="Indicator">
    <xsd:annotation>
     <xsd:documentation xml:lang="EN">
      <ccts:RepresentationTerm>Indicator</ccts:RepresentationTerm>
     </xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:boolean"/>
   </xsd:simpleType>
   <xsd:simpleType name="InhouseMailID">
    <xsd:annotation>
     <xsd:documentation xml:lang="EN">
      <ccts:RepresentationTerm>Identifier</ccts:RepresentationTerm>
     </xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:token">
     <xsd:maxLength value="10"/>
     <xsd:minLength value="1"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="KeyWordsText">
    <xsd:annotation>
     <xsd:documentation xml:lang="EN">
      <ccts:RepresentationTerm>Text</ccts:RepresentationTerm>
     </xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:string">
     <xsd:maxLength value="20"/>
     <xsd:minLength value="1"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="LANGUAGEINDEPENDENT_LONG_Name">
    <xsd:annotation>
     <xsd:documentation xml:lang="EN">
      <ccts:RepresentationTerm>Name</ccts:RepresentationTerm>
     </xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:string">
     <xsd:maxLength value="80"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="LANGUAGEINDEPENDENT_MEDIUM_Name">
    <xsd:annotation>
     <xsd:documentation xml:lang="EN">
      <ccts:RepresentationTerm>Name</ccts:RepresentationTerm>
     </xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:string">
     <xsd:maxLength value="40"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="LANGUAGEINDEPENDENT_SHORT_Description">
    <xsd:annotation>
     <xsd:documentation xml:lang="EN">
      <ccts:RepresentationTerm>Description</ccts:RepresentationTerm>
     </xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:string">
     <xsd:maxLength value="40"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="LANGUAGEINDEPENDENT_SHORT_Name">
    <xsd:annotation>
     <xsd:documentation xml:lang="EN">
      <ccts:RepresentationTerm>Name</ccts:RepresentationTerm>
     </xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:string">
     <xsd:maxLength value="10"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="LANGUAGEINDEPENDENT_SHORT_Note">
    <xsd:annotation>
     <xsd:documentation xml:lang="EN">
      <ccts:RepresentationTerm>Note</ccts:RepresentationTerm>
     </xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:string">
     <xsd:maxLength value="40"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="LanguageCode">
    <xsd:annotation>
     <xsd:documentation xml:lang="EN">
      <ccts:RepresentationTerm>Code</ccts:RepresentationTerm>
     </xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:language">
     <xsd:maxLength value="9"/>
     <xsd:minLength value="2"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:complexType name="MDGBusinessPartnerRelationshipCategoryCode">
    <xsd:annotation>
     <xsd:documentation xml:lang="EN">
      <ccts:RepresentationTerm>Code</ccts:RepresentationTerm>
     </xsd:documentation>
    </xsd:annotation>
    <xsd:simpleContent>
     <xsd:extension base="MDGBusinessPartnerRelationshipCategoryCode.Content">
      <xsd:attribute name="listID">
       <xsd:simpleType>
        <xsd:restriction base="xsd:token">
         <xsd:maxLength value="60"/>
         <xsd:minLength value="1"/>
        </xsd:restriction>
       </xsd:simpleType>
      </xsd:attribute>
      <xsd:attribute name="listVersionID">
       <xsd:simpleType>
        <xsd:restriction base="xsd:token">
         <xsd:maxLength value="15"/>
         <xsd:minLength value="1"/>
        </xsd:restriction>
       </xsd:simpleType>
      </xsd:attribute>
      <xsd:attribute name="listAgencyID">
       <xsd:simpleType>
        <xsd:restriction base="xsd:token">
         <xsd:maxLength value="60"/>
         <xsd:minLength value="1"/>
        </xsd:restriction>
       </xsd:simpleType>
      </xsd:attribute>
      <xsd:attribute name="listAgencySchemeID">
       <xsd:simpleType>
        <xsd:restriction base="xsd:token">
         <xsd:maxLength value="60"/>
         <xsd:minLength value="1"/>
        </xsd:restriction>
       </xsd:simpleType>
      </xsd:attribute>
      <xsd:attribute name="listAgencySchemeAgencyID" type="AgencyIdentificationCode"/>
     </xsd:extension>
    </xsd:simpleContent>
   </xsd:complexType>
   <xsd:simpleType name="MDGBusinessPartnerRelationshipCategoryCode.Content">
    <xsd:restriction base="xsd:token">
     <xsd:maxLength value="8"/>
     <xsd:minLength value="1"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:complexType name="MEDIUM_Name">
    <xsd:annotation>
     <xsd:documentation xml:lang="EN">
      <ccts:RepresentationTerm>Name</ccts:RepresentationTerm>
     </xsd:documentation>
    </xsd:annotation>
    <xsd:simpleContent>
     <xsd:extension base="MEDIUM_Name.Content">
      <xsd:attribute name="languageCode" type="LanguageCode"/>
     </xsd:extension>
    </xsd:simpleContent>
   </xsd:complexType>
   <xsd:simpleType name="MEDIUM_Name.Content">
    <xsd:restriction base="xsd:string">
     <xsd:maxLength value="40"/>
     <xsd:minLength value="1"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:complexType name="NOCONVERSION_ObjectID">
    <xsd:annotation>
     <xsd:documentation xml:lang="EN">
      <ccts:RepresentationTerm>Identifier</ccts:RepresentationTerm>
     </xsd:documentation>
    </xsd:annotation>
    <xsd:simpleContent>
     <xsd:extension base="NOCONVERSION_ObjectID.Content">
      <xsd:attribute name="schemeID">
       <xsd:simpleType>
        <xsd:restriction base="xsd:token">
         <xsd:maxLength value="60"/>
         <xsd:minLength value="1"/>
        </xsd:restriction>
       </xsd:simpleType>
      </xsd:attribute>
      <xsd:attribute name="schemeVersionID">
       <xsd:simpleType>
        <xsd:restriction base="xsd:token">
         <xsd:maxLength value="15"/>
         <xsd:minLength value="1"/>
        </xsd:restriction>
       </xsd:simpleType>
      </xsd:attribute>
      <xsd:attribute name="schemeAgencyID">
       <xsd:simpleType>
        <xsd:restriction base="xsd:token">
         <xsd:maxLength value="60"/>
         <xsd:minLength value="1"/>
        </xsd:restriction>
       </xsd:simpleType>
      </xsd:attribute>
     </xsd:extension>
    </xsd:simpleContent>
   </xsd:complexType>
   <xsd:simpleType name="NOCONVERSION_ObjectID.Content">
    <xsd:restriction base="xsd:token">
     <xsd:maxLength value="100"/>
     <xsd:minLength value="1"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="OPTIONAL_Indicator">
    <xsd:annotation>
     <xsd:documentation xml:lang="EN">
      <ccts:RepresentationTerm>Indicator</ccts:RepresentationTerm>
     </xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:boolean"/>
   </xsd:simpleType>
   <xsd:simpleType name="OrdinalNumberValue_V1">
    <xsd:annotation>
     <xsd:documentation xml:lang="EN">
      <ccts:RepresentationTerm>Value</ccts:RepresentationTerm>
     </xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:decimal">
     <xsd:totalDigits value="20"/>
     <xsd:fractionDigits value="0"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:complexType name="PartyInternalID">
    <xsd:annotation>
     <xsd:documentation xml:lang="EN">
      <ccts:RepresentationTerm>Identifier</ccts:RepresentationTerm>
     </xsd:documentation>
    </xsd:annotation>
    <xsd:simpleContent>
     <xsd:extension base="PartyInternalID.Content">
      <xsd:attribute name="schemeID">
       <xsd:simpleType>
        <xsd:restriction base="xsd:token">
         <xsd:maxLength value="60"/>
         <xsd:minLength value="1"/>
        </xsd:restriction>
       </xsd:simpleType>
      </xsd:attribute>
      <xsd:attribute name="schemeAgencyID">
       <xsd:simpleType>
        <xsd:restriction base="xsd:token">
         <xsd:maxLength value="60"/>
         <xsd:minLength value="1"/>
        </xsd:restriction>
       </xsd:simpleType>
      </xsd:attribute>
     </xsd:extension>
    </xsd:simpleContent>
   </xsd:complexType>
   <xsd:simpleType name="PartyInternalID.Content">
    <xsd:restriction base="xsd:token">
     <xsd:maxLength value="32"/>
     <xsd:minLength value="1"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:complexType name="PartyStandardID">
    <xsd:annotation>
     <xsd:documentation xml:lang="EN">
      <ccts:RepresentationTerm>Identifier</ccts:RepresentationTerm>
     </xsd:documentation>
    </xsd:annotation>
    <xsd:simpleContent>
     <xsd:extension base="PartyStandardID.Content">
      <xsd:attribute name="schemeAgencyID" use="required">
       <xsd:simpleType>
        <xsd:restriction base="xsd:token">
         <xsd:maxLength value="3"/>
         <xsd:minLength value="1"/>
        </xsd:restriction>
       </xsd:simpleType>
      </xsd:attribute>
     </xsd:extension>
    </xsd:simpleContent>
   </xsd:complexType>
   <xsd:simpleType name="PartyStandardID.Content">
    <xsd:restriction base="xsd:token">
     <xsd:maxLength value="13"/>
     <xsd:minLength value="1"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="Percent">
    <xsd:annotation>
     <xsd:documentation xml:lang="EN">
      <ccts:RepresentationTerm>Percent</ccts:RepresentationTerm>
     </xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:decimal">
     <xsd:totalDigits value="16"/>
     <xsd:fractionDigits value="6"/>
     <xsd:maxInclusive value="9999999999.999999"/>
     <xsd:minInclusive value="-9999999999.999999"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:complexType name="PersonName">
    <xsd:sequence>
     <xsd:element name="FormOfAddressCode" minOccurs="0" type="FormOfAddressCode"/>
     <xsd:element name="FormOfAddressName" minOccurs="0" type="LANGUAGEINDEPENDENT_MEDIUM_Name"/>
     <xsd:element name="GivenName" minOccurs="0" type="LANGUAGEINDEPENDENT_MEDIUM_Name"/>
     <xsd:element name="MiddleName" minOccurs="0" type="LANGUAGEINDEPENDENT_MEDIUM_Name"/>
     <xsd:element name="FamilyName" minOccurs="0" type="LANGUAGEINDEPENDENT_MEDIUM_Name"/>
     <xsd:element name="AdditionalFamilyName" minOccurs="0" type="LANGUAGEINDEPENDENT_MEDIUM_Name"/>
     <xsd:element name="BirthName" minOccurs="0" type="LANGUAGEINDEPENDENT_MEDIUM_Name"/>
     <xsd:element name="NickName" minOccurs="0" type="LANGUAGEINDEPENDENT_MEDIUM_Name"/>
     <xsd:element name="InitialsName" minOccurs="0" type="LANGUAGEINDEPENDENT_SHORT_Name"/>
     <xsd:element name="AcademicTitleCode" minOccurs="0" type="AcademicTitleCode"/>
     <xsd:element name="AcademicTitleName" minOccurs="0" type="LANGUAGEINDEPENDENT_MEDIUM_Name"/>
     <xsd:element name="AdditionalAcademicTitleCode" minOccurs="0" type="AcademicTitleCode"/>
     <xsd:element name="AdditionalAcademicTitleName" minOccurs="0" type="LANGUAGEINDEPENDENT_MEDIUM_Name"/>
     <xsd:element name="NamePrefixCode" minOccurs="0" type="FamilyNamePrefixCode"/>
     <xsd:element name="NamePrefixName" minOccurs="0" type="LANGUAGEINDEPENDENT_MEDIUM_Name"/>
     <xsd:element name="AdditionalNamePrefixCode" minOccurs="0" type="FamilyNamePrefixCode"/>
     <xsd:element name="AdditionalNamePrefixName" minOccurs="0" type="LANGUAGEINDEPENDENT_MEDIUM_Name"/>
     <xsd:element name="NameSupplementCode" minOccurs="0" type="PersonNameSupplementCode"/>
     <xsd:element name="NameSupplementName" minOccurs="0" type="LANGUAGEINDEPENDENT_MEDIUM_Name"/>
     <xsd:element name="DeviatingFullName" minOccurs="0" type="LANGUAGEINDEPENDENT_LONG_Name"/>
     <xsd:element name="NameFormatCountryCode" minOccurs="0" type="CountryCode"/>
     <xsd:element name="NameFormatCode" minOccurs="0" type="PersonNameFormatCode"/>
    </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="PersonNameFormatCode">
    <xsd:annotation>
     <xsd:documentation xml:lang="EN">
      <ccts:RepresentationTerm>Code</ccts:RepresentationTerm>
     </xsd:documentation>
    </xsd:annotation>
    <xsd:simpleContent>
     <xsd:extension base="PersonNameFormatCode.Content">
      <xsd:attribute name="listID">
       <xsd:simpleType>
        <xsd:restriction base="xsd:token">
         <xsd:maxLength value="60"/>
         <xsd:minLength value="1"/>
        </xsd:restriction>
       </xsd:simpleType>
      </xsd:attribute>
      <xsd:attribute name="listVersionID">
       <xsd:simpleType>
        <xsd:restriction base="xsd:token">
         <xsd:maxLength value="15"/>
         <xsd:minLength value="1"/>
        </xsd:restriction>
       </xsd:simpleType>
      </xsd:attribute>
      <xsd:attribute name="listAgencyID">
       <xsd:simpleType>
        <xsd:restriction base="xsd:token">
         <xsd:maxLength value="60"/>
         <xsd:minLength value="1"/>
        </xsd:restriction>
       </xsd:simpleType>
      </xsd:attribute>
      <xsd:attribute name="listAgencySchemeID">
       <xsd:simpleType>
        <xsd:restriction base="xsd:token">
         <xsd:maxLength value="60"/>
         <xsd:minLength value="1"/>
        </xsd:restriction>
       </xsd:simpleType>
      </xsd:attribute>
      <xsd:attribute name="listAgencySchemeAgencyID" type="AgencyIdentificationCode"/>
     </xsd:extension>
    </xsd:simpleContent>
   </xsd:complexType>
   <xsd:simpleType name="PersonNameFormatCode.Content">
    <xsd:restriction base="xsd:token">
     <xsd:maxLength value="2"/>
     <xsd:minLength value="1"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:complexType name="PersonNameSupplementCode">
    <xsd:annotation>
     <xsd:documentation xml:lang="EN">
      <ccts:RepresentationTerm>Code</ccts:RepresentationTerm>
     </xsd:documentation>
    </xsd:annotation>
    <xsd:simpleContent>
     <xsd:extension base="PersonNameSupplementCode.Content">
      <xsd:attribute name="listID">
       <xsd:simpleType>
        <xsd:restriction base="xsd:token">
         <xsd:maxLength value="60"/>
         <xsd:minLength value="1"/>
        </xsd:restriction>
       </xsd:simpleType>
      </xsd:attribute>
      <xsd:attribute name="listVersionID">
       <xsd:simpleType>
        <xsd:restriction base="xsd:token">
         <xsd:maxLength value="15"/>
         <xsd:minLength value="1"/>
        </xsd:restriction>
       </xsd:simpleType>
      </xsd:attribute>
      <xsd:attribute name="listAgencyID">
       <xsd:simpleType>
        <xsd:restriction base="xsd:token">
         <xsd:maxLength value="60"/>
         <xsd:minLength value="1"/>
        </xsd:restriction>
       </xsd:simpleType>
      </xsd:attribute>
      <xsd:attribute name="listAgencySchemeID">
       <xsd:simpleType>
        <xsd:restriction base="xsd:token">
         <xsd:maxLength value="60"/>
         <xsd:minLength value="1"/>
        </xsd:restriction>
       </xsd:simpleType>
      </xsd:attribute>
      <xsd:attribute name="listAgencySchemeAgencyID" type="AgencyIdentificationCode"/>
     </xsd:extension>
    </xsd:simpleContent>
   </xsd:complexType>
   <xsd:simpleType name="PersonNameSupplementCode.Content">
    <xsd:restriction base="xsd:token">
     <xsd:maxLength value="4"/>
     <xsd:minLength value="1"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:complexType name="PhoneNumber">
    <xsd:sequence>
     <xsd:element name="AreaID" minOccurs="0" type="PhoneNumberAreaID"/>
     <xsd:element name="SubscriberID" minOccurs="0" type="PhoneNumberSubscriberID"/>
     <xsd:element name="ExtensionID" minOccurs="0" type="PhoneNumberExtensionID"/>
     <xsd:element name="CountryCode" minOccurs="0" type="CountryCode"/>
     <xsd:element name="CountryDiallingCode" minOccurs="0" type="CountryDiallingCode"/>
     <xsd:element name="CountryName" minOccurs="0" type="MEDIUM_Name"/>
    </xsd:sequence>
   </xsd:complexType>
   <xsd:simpleType name="PhoneNumberAreaID">
    <xsd:annotation>
     <xsd:documentation xml:lang="EN">
      <ccts:RepresentationTerm>Identifier</ccts:RepresentationTerm>
     </xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:token">
     <xsd:maxLength value="10"/>
     <xsd:minLength value="1"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="PhoneNumberExtensionID">
    <xsd:annotation>
     <xsd:documentation xml:lang="EN">
      <ccts:RepresentationTerm>Identifier</ccts:RepresentationTerm>
     </xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:token">
     <xsd:maxLength value="10"/>
     <xsd:minLength value="1"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="PhoneNumberSubscriberID">
    <xsd:annotation>
     <xsd:documentation xml:lang="EN">
      <ccts:RepresentationTerm>Identifier</ccts:RepresentationTerm>
     </xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:token">
     <xsd:maxLength value="30"/>
     <xsd:minLength value="1"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:complexType name="PowerOfAttorneyTypeCode">
    <xsd:annotation>
     <xsd:documentation xml:lang="EN">
      <ccts:RepresentationTerm>Code</ccts:RepresentationTerm>
     </xsd:documentation>
    </xsd:annotation>
    <xsd:simpleContent>
     <xsd:extension base="PowerOfAttorneyTypeCode.Content">
      <xsd:attribute name="listID">
       <xsd:simpleType>
        <xsd:restriction base="xsd:token">
         <xsd:maxLength value="60"/>
         <xsd:minLength value="1"/>
        </xsd:restriction>
       </xsd:simpleType>
      </xsd:attribute>
      <xsd:attribute name="listAgencyID">
       <xsd:simpleType>
        <xsd:restriction base="xsd:token">
         <xsd:maxLength value="60"/>
         <xsd:minLength value="1"/>
        </xsd:restriction>
       </xsd:simpleType>
      </xsd:attribute>
      <xsd:attribute name="listVersionID">
       <xsd:simpleType>
        <xsd:restriction base="xsd:token">
         <xsd:maxLength value="15"/>
         <xsd:minLength value="1"/>
        </xsd:restriction>
       </xsd:simpleType>
      </xsd:attribute>
      <xsd:attribute name="listAgencySchemeID">
       <xsd:simpleType>
        <xsd:restriction base="xsd:token">
         <xsd:maxLength value="60"/>
         <xsd:minLength value="1"/>
        </xsd:restriction>
       </xsd:simpleType>
      </xsd:attribute>
      <xsd:attribute name="listAgencySchemeAgencyID" type="AgencyIdentificationCode"/>
     </xsd:extension>
    </xsd:simpleContent>
   </xsd:complexType>
   <xsd:simpleType name="PowerOfAttorneyTypeCode.Content">
    <xsd:restriction base="xsd:token">
     <xsd:length value="1"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="RoomID">
    <xsd:annotation>
     <xsd:documentation xml:lang="EN">
      <ccts:RepresentationTerm>Identifier</ccts:RepresentationTerm>
     </xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:token">
     <xsd:maxLength value="10"/>
     <xsd:minLength value="1"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:complexType name="UUID">
    <xsd:annotation>
     <xsd:documentation xml:lang="EN">
      <ccts:RepresentationTerm>Identifier</ccts:RepresentationTerm>
     </xsd:documentation>
    </xsd:annotation>
    <xsd:simpleContent>
     <xsd:extension base="UUID.Content">
      <xsd:attribute name="schemeID">
       <xsd:simpleType>
        <xsd:restriction base="xsd:token">
         <xsd:maxLength value="60"/>
         <xsd:minLength value="1"/>
        </xsd:restriction>
       </xsd:simpleType>
      </xsd:attribute>
      <xsd:attribute name="schemeAgencyID">
       <xsd:simpleType>
        <xsd:restriction base="xsd:token">
         <xsd:maxLength value="60"/>
         <xsd:minLength value="1"/>
        </xsd:restriction>
       </xsd:simpleType>
      </xsd:attribute>
     </xsd:extension>
    </xsd:simpleContent>
   </xsd:complexType>
   <xsd:simpleType name="UUID.Content">
    <xsd:restriction base="xsd:token">
     <xsd:length value="36"/>
     <xsd:pattern value="[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:complexType name="VIPReasonCode">
    <xsd:annotation>
     <xsd:documentation xml:lang="EN">
      <ccts:RepresentationTerm>Code</ccts:RepresentationTerm>
     </xsd:documentation>
    </xsd:annotation>
    <xsd:simpleContent>
     <xsd:extension base="VIPReasonCode.Content">
      <xsd:attribute name="listID">
       <xsd:simpleType>
        <xsd:restriction base="xsd:token">
         <xsd:maxLength value="60"/>
         <xsd:minLength value="1"/>
        </xsd:restriction>
       </xsd:simpleType>
      </xsd:attribute>
      <xsd:attribute name="listAgencyID">
       <xsd:simpleType>
        <xsd:restriction base="xsd:token">
         <xsd:maxLength value="60"/>
         <xsd:minLength value="1"/>
        </xsd:restriction>
       </xsd:simpleType>
      </xsd:attribute>
      <xsd:attribute name="listVersionID">
       <xsd:simpleType>
        <xsd:restriction base="xsd:token">
         <xsd:maxLength value="15"/>
         <xsd:minLength value="1"/>
        </xsd:restriction>
       </xsd:simpleType>
      </xsd:attribute>
      <xsd:attribute name="listAgencySchemeID">
       <xsd:simpleType>
        <xsd:restriction base="xsd:token">
         <xsd:maxLength value="60"/>
         <xsd:minLength value="1"/>
        </xsd:restriction>
       </xsd:simpleType>
      </xsd:attribute>
      <xsd:attribute name="listAgencySchemeAgencyID" type="AgencyIdentificationCode"/>
     </xsd:extension>
    </xsd:simpleContent>
   </xsd:complexType>
   <xsd:simpleType name="VIPReasonCode.Content">
    <xsd:restriction base="xsd:token">
     <xsd:length value="1"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="WebURI">
    <xsd:annotation>
     <xsd:documentation xml:lang="EN">
      <ccts:RepresentationTerm>URI</ccts:RepresentationTerm>
     </xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:anyURI"/>
   </xsd:simpleType>
  </xsd:schema>
  <xsd:schema targetNamespace="http://sap.com/xi/SAPGlobal20/Global" xmlns="http://sap.com/xi/SAPGlobal20/Global" xmlns:ccts="urn:un:unece:uncefact:documentation:standard:CoreComponentsTechnicalSpecification:3.0" xmlns:xi0="http://sap.com/xi/SAPGlobal20/Global">
   <xsd:import namespace="http://sap.com/xi/SAP_BS_FND/MDG/Global2"/>
   <xsd:element name="BusinessPartnerRelationshipSUITEBulkReplicateRequest" type="tns:BPRelshpSUITEBulkRplctReqMsg"/>
   <xsd:element name="StandardMessageFault">
    <xsd:complexType>
     <xsd:sequence>
      <xsd:element name="standard" type="tns:ExchangeFaultData"/>
     </xsd:sequence>
    </xsd:complexType>
   </xsd:element>
  </xsd:schema>
 </wsdl:types>
 <wsdl:message name="BusinessPartnerRelationshipSUITEBulkReplicateRequest">
  <wsdl:part name="BusinessPartnerRelationshipSUITEBulkReplicateRequest" element="n1:BusinessPartnerRelationshipSUITEBulkReplicateRequest"/>
 </wsdl:message>
 <wsdl:message name="StandardMessageFault">
  <wsdl:part name="StandardMessageFault" element="n1:StandardMessageFault"/>
 </wsdl:message>
 <wsdl:portType name="BusinessPartnerRelationshipSUITEBulkReplicateRequest_In">
  <wsdl:documentation>
   <sapdoc:sapdoc xmlns:sapdoc="urn:sap:esi:documentation">
    <sapdoc:docitem applicationComponent="CA-MDG-APP-BP"/>
   </sapdoc:sapdoc>
  </wsdl:documentation>
  <wsp:Policy>
   <wsp:PolicyReference URI="#IF__BusinessPartnerRelationshipSUITEBulkReplicateRequest_In"/>
  </wsp:Policy>
  <wsdl:operation name="BusinessPartnerRelationshipSUITEBulkReplicateRequest_In">
   <wsp:Policy>
    <wsp:PolicyReference URI="#OP__BusinessPartnerRelationshipSUITEBulkReplicateRequest_In"/>
   </wsp:Policy>
   <wsdl:input message="tns:BusinessPartnerRelationshipSUITEBulkReplicateRequest"/>
  </wsdl:operation>
 </wsdl:portType>
 <wsdl:binding name="binding" type="tns:BusinessPartnerRelationshipSUITEBulkReplicateRequest_In">
  <wsp:Policy>
   <wsp:PolicyReference URI="#BN__binding"/>
  </wsp:Policy>
  <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
  <wsdl:operation name="BusinessPartnerRelationshipSUITEBulkReplicateRequest_In">
   <soap:operation soapAction="http://sap.com/xi/SAP_BS_FND/MDG/Global2/BusinessPartnerRelationshipSUITEBulkReplicateRequest_In/BusinessPartnerRelationshipSUITEBulkReplicateRequest_InRequest" style="document"/>
   <wsdl:input>
    <soap:body use="literal"/>
   </wsdl:input>
  </wsdl:operation>
 </wsdl:binding>
 <wsdl:service name="service">
  <wsdl:port name="binding" binding="tns:binding">
   <soap:address location="https://host:port/sap/bc/srt/scs/sap/businesspartnerrelationshipsui?sap-client=client-number"/>
  </wsdl:port>
 </wsdl:service>
 <wsdl:binding type="BusinessPartnerRelationshipSUITEBulkReplicateRequest_In" name="tns:BUSINESSPARTNERRELATIONSHIPSUI">
  <wsoap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
  <wsdl:operation name="BusinessPartnerRelationshipSUITEBulkReplicateRequest_In">
   <wsdl:input>
    <wsoap12:body use="literal"/>
   </wsdl:input>
  </wsdl:operation>
 </wsdl:binding>
</wsdl:definitions>
