Resources/schemas/Wsdl/SAP_Document_and_Reporting_Compliance-_Electronic_Documents_for_Chile - ChileDailyBoletaSummary.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions name="ChileDailyBoletaSummary"
	targetNamespace="http://www.sap.com/eDocument/Chile/DailySummaryDocumentsTransmission/v1.0"
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:tns="http://www.sap.com/eDocument/Chile/DailySummaryDocumentsTransmission/v1.0"
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd1="http://www.sii.cl/SiiDte" xmlns:p="http://www.w3.org/2001/XMLSchema">
	<wsdl:types>
		<xs:schema
			targetNamespace="http://www.sap.com/eDocument/Chile/DailySummaryDocumentsTransmission/v1.0"
			xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified"
			attributeFormDefault="unqualified" xmlns:SiiDte="http://www.sii.cl/SiiDte">
			<xs:element name="Submit">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="ConsumoFolios">
							<xs:annotation>
								<xs:documentation>Consumo de Folios</xs:documentation>
							</xs:annotation>
							<xs:complexType>
								<xs:sequence>
									<xs:element name="DocumentoConsumoFolios">
										<xs:annotation>
											<xs:documentation>Documento de Consumo de Folios
											</xs:documentation>
										</xs:annotation>
										<xs:complexType>
											<xs:sequence>
												<xs:element name="Caratula">
													<xs:annotation>
														<xs:documentation>Caratula</xs:documentation>
													</xs:annotation>
													<xs:complexType>
														<xs:sequence>
															<xs:element name="RutEmisor" type="tns:RUTType">
																<xs:annotation>
																	<xs:documentation>RUT Emisor de los DTE
																	</xs:documentation>
																</xs:annotation>
															</xs:element>
															<xs:element name="RutEnvia" type="tns:RUTType">
																<xs:annotation>
																	<xs:documentation>RUT que envia los DTE
																	</xs:documentation>
																</xs:annotation>
															</xs:element>
															<xs:element name="FchResol" type="xs:date">
																<xs:annotation>
																	<xs:documentation>Fecha de Resolución que Autoriza el
																		Envío
																		de DTE (AAAA-MM-DD)
																	</xs:documentation>
																</xs:annotation>
															</xs:element>
															<xs:element name="NroResol" type="tns:NroResolType">
																<xs:annotation>
																	<xs:documentation>Numero de Resolución que Autoriza el
																		Envio
																		de DTE
																	</xs:documentation>
																</xs:annotation>
															</xs:element>
															<xs:element name="FchInicio" type="xs:date">
																<xs:annotation>
																	<xs:documentation>Fecha primer día del
																		Resumen(AAAA-MM-DD)
																	</xs:documentation>
																</xs:annotation>
															</xs:element>
															<xs:element name="FchFinal" type="xs:date">
																<xs:annotation>
																	<xs:documentation>Fecha último día del Resumen
																		(AAAA-MM-DD)
																	</xs:documentation>
																</xs:annotation>
															</xs:element>
															<xs:element name="Correlativo" minOccurs="0">
																<xs:annotation>
																	<xs:documentation>Se asume 1. Correlativo dentro del
																		dia.
																	</xs:documentation>
																</xs:annotation>
																<xs:simpleType>
																	<xs:restriction base="xs:nonNegativeInteger">
																		<xs:totalDigits value="3" />
																	</xs:restriction>
																</xs:simpleType>
															</xs:element>
															<xs:element name="SecEnvio">
																<xs:annotation>
																	<xs:documentation>Secuencia de Envio. La primera vez
																		que
																		se
																		envia debe traer el numero 1. Si se desea
																		corregir
																		información se debe enviar el archivo
																		completo, pero
																		"SecEnvio", debe aumentar en 1, es decir
																		la segunda
																		vez
																		debe
																		traer el valor 2, la tercera vez debe
																		traer el valor
																		3, etc.
																	</xs:documentation>
																</xs:annotation>
																<xs:simpleType>
																	<xs:restriction base="xs:nonNegativeInteger">
																		<xs:totalDigits value="3" />
																	</xs:restriction>
																</xs:simpleType>
															</xs:element>
															<xs:element name="TmstFirmaEnv" type="xs:dateTime">
																<xs:annotation>
																	<xs:documentation>Fecha y Hora de la Firma del Archivo
																		de
																		Envio
																	</xs:documentation>
																</xs:annotation>
															</xs:element>
														</xs:sequence>
														<xs:attribute name="version" type="xs:decimal"
															use="required" fixed="1.0" />
													</xs:complexType>
												</xs:element>
												<xs:element name="Resumen" maxOccurs="3">
													<xs:annotation>
														<xs:documentation>Detalle de Resumenes</xs:documentation>
													</xs:annotation>
													<xs:complexType>
														<xs:sequence>
															<xs:element name="TipoDocumento" type="tns:TipoConsumoType">
																<xs:annotation>
																	<xs:documentation>Tipo de DTE</xs:documentation>
																</xs:annotation>
															</xs:element>
															<xs:element name="MntNeto" type="tns:MontoType"
																minOccurs="0">
																<xs:annotation>
																	<xs:documentation>Monto Neto de los folios consumidos
																	</xs:documentation>
																</xs:annotation>
															</xs:element>
															<xs:element name="MntIva" type="tns:MontoType"
																minOccurs="0">
																<xs:annotation>
																	<xs:documentation>Monto del Iva</xs:documentation>
																</xs:annotation>
															</xs:element>
															<xs:element name="TasaIVA" type="tns:PctType"
																minOccurs="0">
																<xs:annotation>
																	<xs:documentation>Tasa de IVA</xs:documentation>
																</xs:annotation>
															</xs:element>
															<xs:element name="MntExento" type="tns:MontoType"
																minOccurs="0">
																<xs:annotation>
																	<xs:documentation>Monto Exento de los folios consumidos
																	</xs:documentation>
																</xs:annotation>
															</xs:element>
															<xs:element name="MntTotal" type="tns:MontoType">
																<xs:annotation>
																	<xs:documentation>Monto total de los folios consumidos
																	</xs:documentation>
																</xs:annotation>
															</xs:element>
															<xs:element name="FoliosEmitidos">
																<xs:annotation>
																	<xs:documentation>Se debe indicar la cantidad total de
																		documentos emitidos en el día.
																	</xs:documentation>
																</xs:annotation>
																<xs:simpleType>
																	<xs:restriction base="xs:nonNegativeInteger">
																		<xs:totalDigits value="6" />
																	</xs:restriction>
																</xs:simpleType>
															</xs:element>
															<xs:element name="FoliosAnulados">
																<xs:annotation>
																	<xs:documentation>SE REFIERE A LOS FOLIOS ANULADOS EN
																		EL
																		SISTEMA (Opción anulación de folios) y no a
																		Documentos
																		anulados mediante Notas de Crédito
																	</xs:documentation>
																</xs:annotation>
																<xs:simpleType>
																	<xs:restriction base="xs:nonNegativeInteger">
																		<xs:totalDigits value="6" />
																	</xs:restriction>
																</xs:simpleType>
															</xs:element>
															<xs:element name="FoliosUtilizados">
																<xs:annotation>
																	<xs:documentation>Cantidad de Documentos del tipo
																		correspondiente a emitidos y anulados.
																	</xs:documentation>
																</xs:annotation>
																<xs:simpleType>
																	<xs:restriction base="xs:nonNegativeInteger">
																		<xs:totalDigits value="6" />
																	</xs:restriction>
																</xs:simpleType>
															</xs:element>
															<xs:element name="RangoUtilizados" minOccurs="0"
																maxOccurs="unbounded">
																<xs:annotation>
																	<xs:documentation>Tabla de Rangos de Folios Uilizados.
																	</xs:documentation>
																</xs:annotation>
																<xs:complexType>
																	<xs:sequence>
																		<xs:element name="Inicial" type="tns:FolioType">
																			<xs:annotation>
																				<xs:documentation>Folio inicial</xs:documentation>
																			</xs:annotation>
																		</xs:element>
																		<xs:element name="Final" type="tns:FolioType">
																			<xs:annotation>
																				<xs:documentation>Folio Final</xs:documentation>
																			</xs:annotation>
																		</xs:element>
																	</xs:sequence>
																</xs:complexType>
															</xs:element>
															<xs:element name="RangoAnulados" minOccurs="0"
																maxOccurs="unbounded">
																<xs:annotation>
																	<xs:documentation>Tabla de Rangos de Folios Anulados.
																	</xs:documentation>
																</xs:annotation>
																<xs:complexType>
																	<xs:sequence>
																		<xs:element name="Inicial" type="tns:FolioType">
																			<xs:annotation>
																				<xs:documentation>Folio inicial</xs:documentation>
																			</xs:annotation>
																		</xs:element>
																		<xs:element name="Final" type="tns:FolioType"
																			minOccurs="0">
																			<xs:annotation>
																				<xs:documentation>Folio Final</xs:documentation>
																			</xs:annotation>
																		</xs:element>
																	</xs:sequence>
																</xs:complexType>
															</xs:element>
														</xs:sequence>
													</xs:complexType>
												</xs:element>
											</xs:sequence>
											<xs:attribute name="ID" type="xs:ID" use="required" />
										</xs:complexType>
									</xs:element>
								</xs:sequence>
								<xs:attribute name="version" type="xs:decimal" use="required"
									fixed="1.0" />
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="SubmitResponse">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Response"
							type="tns:SubmitResponseType" maxOccurs="1" minOccurs="0">
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>

			<xs:simpleType name="RUTType">
				<xs:annotation>
					<xs:documentation>Rol Unico Tributario (99..99-X)
					</xs:documentation>
				</xs:annotation>
				<xs:restriction base="xs:string">
					<xs:maxLength value="10" />
					<xs:minLength value="3" />
					<xs:pattern value="[0-9]+-([0-9]|K)" />
				</xs:restriction>
			</xs:simpleType>
			<xs:simpleType name="FolioType">
				<xs:annotation>
					<xs:documentation>Folio de DTE - 10 digitos</xs:documentation>
				</xs:annotation>
				<xs:restriction base="xs:positiveInteger">
					<xs:totalDigits value="10" />
				</xs:restriction>
			</xs:simpleType>
			<xs:simpleType name="MontoType">
				<xs:annotation>
					<xs:documentation>Monto de 18 digitos</xs:documentation>
				</xs:annotation>
				<xs:restriction base="xs:nonNegativeInteger">
					<xs:totalDigits value="18" />
				</xs:restriction>
			</xs:simpleType>
			<xs:simpleType name="NroResolType">
				<xs:annotation>
					<xs:documentation>Número de Resolución</xs:documentation>
				</xs:annotation>
				<xs:restriction base="xs:nonNegativeInteger">
					<xs:totalDigits value="6" />
				</xs:restriction>
			</xs:simpleType>

			<xs:simpleType name="PctType">
				<xs:annotation>
					<xs:documentation>Monto de Porcentaje ( 3 y 2)</xs:documentation>
				</xs:annotation>
				<xs:restriction base="xs:decimal">
					<xs:totalDigits value="5" />
					<xs:fractionDigits value="2" />
					<xs:minInclusive value="0.01" />
					<xs:maxInclusive value="999.99" />
				</xs:restriction>
			</xs:simpleType>
			<xs:simpleType name="TipoConsumoType">
				<xs:annotation>
					<xs:documentation>Tipos de Documentos aceptados en consumo de
						Folios
					</xs:documentation>
				</xs:annotation>
				<xs:restriction base="xs:positiveInteger">
					<xs:enumeration value="39" />
					<xs:enumeration value="41">
						<xs:annotation>
							<xs:documentation>Boleta Exenta Electronica</xs:documentation>
						</xs:annotation>
					</xs:enumeration>
					<xs:enumeration value="61">
						<xs:annotation>
							<xs:documentation>Nota de Credito Electronica</xs:documentation>
						</xs:annotation>
					</xs:enumeration>
				</xs:restriction>
			</xs:simpleType>

		
			<xs:complexType name="SubmitResponseType">
				<xs:sequence>
					<xs:element name="TrackID" type="xs:string"
						maxOccurs="1" minOccurs="0">
					</xs:element>
					<xs:element name="ResponseCode" type="xs:string" maxOccurs="1" minOccurs="0"></xs:element>
					<xs:element name="Error" type="tns:ErrorType"
						maxOccurs="unbounded" minOccurs="0">
					</xs:element>
					<xs:element name="SignedDocument"
						type="xs:base64Binary" maxOccurs="1" minOccurs="0">
					</xs:element>
					<xs:element name="EncodedZippedResponse"
						type="xs:base64Binary" maxOccurs="1" minOccurs="0">
					</xs:element>
				</xs:sequence>
			</xs:complexType>
		
			<xs:complexType name="ErrorType">
				<xs:sequence>
					<xs:element name="ErrorCode" type="xs:string"></xs:element>
					<xs:element name="ErrorDescription" type="xs:string"></xs:element>
				</xs:sequence>
			</xs:complexType>
            <xs:element name="getStatus">
            	<xs:complexType>
            		<xs:sequence>


            			<xs:element name="getStatusRequest"
            				type="tns:getStatusRequestType">
            			</xs:element>
            		</xs:sequence>
            	</xs:complexType>
            </xs:element>
            <xs:element name="getStatusResponse">
            	<xs:complexType>
            		<xs:sequence>

            			<xs:element name="StatusCode" type="xs:string"
            				maxOccurs="1" minOccurs="0">
            			</xs:element>
            			<xs:element name="Description" type="xs:string"
            				maxOccurs="1" minOccurs="0">
            			</xs:element>
            			<xs:element name="EncodedZippedResponse"
            				type="xs:base64Binary" maxOccurs="1" minOccurs="0">
            			</xs:element>
            			<xs:element name="Error"
            				type="tns:ErrorType" maxOccurs="unbounded" minOccurs="0">
            			</xs:element>
            		</xs:sequence>
            	</xs:complexType>
            </xs:element>
		
            <xs:complexType name="getStatusRequestType">
            	<xs:sequence>
            		<xs:element name="Token" type="xs:string"></xs:element>
            		<xs:element name="TrackID" type="xs:string"></xs:element>
            		<xs:element name="RutCompania" type="xs:string"></xs:element>
            		<xs:element name="DvCompania" type="xs:string"></xs:element>
            	</xs:sequence>
            </xs:complexType>
		</xs:schema>
	</wsdl:types>
	<wsdl:message name="SubmitRequest">
		<wsdl:part element="tns:Submit" name="parameters" />
	</wsdl:message>
	<wsdl:message name="SubmitResponse">
		<wsdl:part element="tns:SubmitResponse"
			name="parameters" />
	</wsdl:message>
	<wsdl:message name="getStatusRequest">
		<wsdl:part name="parameters" element="tns:getStatus"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="getStatusResponse">
		<wsdl:part name="parameters" element="tns:getStatusResponse"></wsdl:part>
	</wsdl:message>
	<wsdl:portType name="ChileDailyBoletaSummary">
		<wsdl:operation name="Submit">
			<wsdl:input message="tns:SubmitRequest" />
			<wsdl:output message="tns:SubmitResponse" />
		</wsdl:operation>
		<wsdl:operation name="getStatus">
			<wsdl:input message="tns:getStatusRequest"></wsdl:input>
			<wsdl:output message="tns:getStatusResponse"></wsdl:output>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="ChileDailyBoletaSummarySOAP" type="tns:ChileDailyBoletaSummary">
		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="Submit">
			<soap:operation
				soapAction="http://www.example.org/ChileDailyBoletaSummary/SignDailyBoletaSummary" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="ChileDailyBoletaSummary">
		<wsdl:port binding="tns:ChileDailyBoletaSummarySOAP" name="ChileDailyBoletaSummarySOAP">
			<soap:address location="http://www.defaultnamespace/" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
