Resources/schemas/Wsdl/SAP_S-4HANA_Integration_with_Salesforce - SalesOrderHistory.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.example.org/SalesOrderHistory/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="SalesOrderHistory" targetNamespace="http://www.example.org/SalesOrderHistory/">
	<!-- ref to the generated schema from OData adapter -->
    <wsdl:import namespace="http://www.example.org/SalesOrderHistoryResponse/" location="A_SalesOrderEntityGET0.xsd"></wsdl:import>
    <wsdl:types>
    <xsd:schema targetNamespace="http://www.example.org/SalesOrderHistory/">
      <xsd:element name="Query">
        <xsd:complexType>
                    <xsd:annotation>
                    	<xsd:documentation>FromDate and ToDate are in format '2019-05-07' (yyyy-mm-dd)</xsd:documentation>
                    </xsd:annotation>
                    <xsd:sequence>
          	<xsd:element name="SalesOrderType" type="xsd:string" minOccurs="1"/>
          	<xsd:element name="SoldToParty" type="xsd:string" minOccurs="1"></xsd:element>
          	<xsd:element name="FromDate" type="xsd:string" minOccurs="1"></xsd:element>
          	<xsd:element name="ToDate" type="xsd:string" minOccurs="1"></xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <!-- not using
      <xsd:element name="Response">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="out" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      -->
    </xsd:schema>        
    </wsdl:types>
  <wsdl:message name="Query">
    <wsdl:part element="tns:Query" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="Response">
    <wsdl:part name="parameters" element="A_SalesOrder" />
  </wsdl:message>
  <wsdl:portType name="SalesOrderHistory">
    <wsdl:operation name="Query">
      <wsdl:input message="tns:Query"/>
      <wsdl:output message="tns:Response"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="SalesOrderHistorySOAP" type="tns:SalesOrderHistory">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="Query">
      <soap:operation soapAction="http://www.example.org/SalesOrderHistory/Query"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SalesOrderHistory">
    <wsdl:port binding="tns:SalesOrderHistorySOAP" name="SalesOrderHistorySOAP">
      <soap:address location="http://www.example.org/"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
