Resources/schemas/Wsdl/SAP_SuccessFactors_Recruiting_Management_Integration_with_Third_Party_Assessment_Vendor-SHL - AssessmentOrderRequest.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions name="WebServiceProvider" targetNamespace="http://www.sap.com/connector/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.sap.com/connector/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <wsdl:types>
	<!-- Schema 2 -->
	<xs:schema 
	elementFormDefault="qualified" 
	version="1.0" 
	xmlns:xs="http://www.w3.org/2001/XMLSchema"
	xmlns:ns3="com.successfactors.alert" 
	xmlns:tns="http://www.sap.com/connector/" 
	targetNamespace="http://www.sap.com/connector/" 
	>
	  <xs:element name="AssessmentResult" type="tns:AssessmentResult"/>
	  <xs:complexType name="AssessmentResult">
		<xs:sequence>
		  <xs:element maxOccurs="1" minOccurs="0" name="LoginKey" type="xs:string"/>
		  <xs:element maxOccurs="1" minOccurs="0" name="Password" type="xs:string"/>
		  <xs:element maxOccurs="1" minOccurs="0" name="ClientId" type="xs:string"/>
		  <xs:element maxOccurs="1" minOccurs="0" name="ClientOrderId" type="xs:string"/>
		  <xs:element maxOccurs="1" minOccurs="0" name="ReceiptId" type="xs:string"/>
		  <xs:element maxOccurs="1" minOccurs="0" name="AssessmentStatus">
			<xs:complexType>
			  <xs:sequence>
				<xs:element maxOccurs="1" minOccurs="0" name="Status" type="xs:string"/>
				<xs:element maxOccurs="1" minOccurs="0" name="Details" type="xs:string"/>
				<xs:element maxOccurs="1" minOccurs="0" name="StatusDate" type="xs:dateTime"/>
			  </xs:sequence>
			</xs:complexType>
		  </xs:element>
		  <xs:element maxOccurs="1" minOccurs="0" name="Results">
			<xs:complexType>
			  <xs:sequence>
				<xs:element maxOccurs="1" minOccurs="0" name="OverallResult">
				  <xs:complexType>
					<xs:sequence>
					  <xs:element maxOccurs="1" minOccurs="0" name="Comments" type="xs:string"/>
					  <xs:element maxOccurs="unbounded" minOccurs="0" name="Score">
						<xs:complexType>
						  <xs:simpleContent>
							<xs:extension base="xs:string">
							  <xs:attribute name="type" type="xs:string"/>
							</xs:extension>
						  </xs:simpleContent>
						</xs:complexType>
					  </xs:element>
					  <xs:element maxOccurs="1" minOccurs="0" name="Band">
						<xs:complexType>
						  <xs:simpleContent>
							<xs:extension base="xs:string">
							  <xs:attribute name="type" type="xs:string"/>
							</xs:extension>
						  </xs:simpleContent>
						</xs:complexType>
					  </xs:element>
					</xs:sequence>
				  </xs:complexType>
				</xs:element>
				<xs:element maxOccurs="1" minOccurs="0" name="FullReportURL" type="xs:string"/>
			  </xs:sequence>
			</xs:complexType>
		  </xs:element>
		</xs:sequence>
	  </xs:complexType>
	  <xs:element name="AssessmentResultAcknowledgement" type="tns:AssessmentResultAcknowledgement"/>
	  <xs:complexType name="AssessmentResultAcknowledgement">
		<xs:sequence>
		  <xs:element maxOccurs="1" minOccurs="0" name="status" type="xs:string"/>
		  <xs:element maxOccurs="1" minOccurs="0" name="details" type="xs:string"/>
		</xs:sequence>
	  </xs:complexType>
	<!--
	</xs:schema>
	
	 Schema 1 
	<xs:schema xmlns:ns3="com.successfactors.alert" xmlns:tns="http://www.sap.com/connector/" elementFormDefault="qualified" targetNamespace="http://www.sap.com/connector/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	-->
	  <xs:element name="createAssessmentResult" type="tns:createAssessmentResult"></xs:element>
	  <xs:complexType name="createAssessmentResult">
		<xs:sequence>
		  <xs:element minOccurs="0" ref="tns:AssessmentResult"/>
		</xs:sequence>
	  </xs:complexType>
	  <xs:element name="createAssessmentResultResponse" type="tns:createAssessmentResultResponse"/>
	  <xs:complexType name="createAssessmentResultResponse">
		<xs:sequence>
		  <xs:element minOccurs="0" ref="tns:AssessmentResultAcknowledgement"/>
		</xs:sequence>
	  </xs:complexType>
	</xs:schema>
	
	<!-- Remaining WSDL -->
  </wsdl:types>
  <wsdl:message name="createAssessmentResult">
    <wsdl:part element="tns:createAssessmentResult" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="createAssessmentResultResponse">
    <wsdl:part element="tns:createAssessmentResultResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:portType name="WebServiceProviderPortType">
    <wsdl:operation name="createAssessmentResult">
      <wsdl:input message="tns:createAssessmentResult"/>
      <wsdl:output message="tns:createAssessmentResultResponse"/>
    </wsdl:operation></wsdl:portType>
  <wsdl:binding name="WebServiceProviderPortBinding" type="tns:WebServiceProviderPortType">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="createAssessmentResult">
      <soap:operation soapAction="createAssessmentResult"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WebServiceProvider">
    <wsdl:port binding="tns:WebServiceProviderPortBinding" name="WebServiceProviderPort">
      <soap:address location="https://boomiqa.successfactors.com/ws/soap"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
