Resources/schemas/Wsdl/SAP_S-4HANA_Integration_with_SAP_Build_Process_Automation_for_Finance_General_Ledger - DOC_WEBI_ZGL_ACCT_MASTER_SAVE_RFC.WSDL

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions targetNamespace="urn:sap-com:document:sap:soap:functions:mc-style" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsoap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="urn:sap-com:document:sap:soap:functions:mc-style" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:n1="urn:sap-com:document:sap:rfc:functions">
 <wsdl:documentation>
  <sidl:sidl xmlns:sidl="http://www.sap.com/2007/03/sidl"/>
 </wsdl:documentation>
 <wsp:UsingPolicy wsdl:required="true"/>
 <wsp:Policy wsu:Id="IF_IF_ZGL_ACCT_MASTER_SAVE_RFC">
  <sapsession:Session xmlns:sapsession="http://www.sap.com/webas/630/soap/features/session/">
   <sapsession:enableSession>false</sapsession:enableSession>
  </sapsession:Session>
 </wsp:Policy>
 <wsp:Policy wsu:Id="OP_IF_OP_GlAcctMasterSaveRfc">
  <sapblock:enableBlocking xmlns:sapblock="http://www.sap.com/NW05/soap/features/blocking/">true</sapblock:enableBlocking>
  <sapcomhnd:enableCommit xmlns:sapcomhnd="http://www.sap.com/NW05/soap/features/commit/">false</sapcomhnd:enableCommit>
  <saptrhnw05:required xmlns:saptrhnw05="http://www.sap.com/NW05/soap/features/transaction/">no</saptrhnw05:required>
  <saprmnw05:enableWSRM xmlns:saprmnw05="http://www.sap.com/NW05/soap/features/wsrm/">false</saprmnw05:enableWSRM>
 </wsp:Policy>
 <wsdl:types>
  <xsd:schema attributeFormDefault="qualified" targetNamespace="urn:sap-com:document:sap:rfc:functions" xmlns:tns="urn:sap-com:document:sap:rfc:functions">
   <xsd:simpleType name="char1">
    <xsd:restriction base="xsd:string">
     <xsd:maxLength value="1"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="char10">
    <xsd:restriction base="xsd:string">
     <xsd:maxLength value="10"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="char12">
    <xsd:restriction base="xsd:string">
     <xsd:maxLength value="12"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="char14">
    <xsd:restriction base="xsd:string">
     <xsd:maxLength value="14"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="char16">
    <xsd:restriction base="xsd:string">
     <xsd:maxLength value="16"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="char2">
    <xsd:restriction base="xsd:string">
     <xsd:maxLength value="2"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="char20">
    <xsd:restriction base="xsd:string">
     <xsd:maxLength value="20"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="char220">
    <xsd:restriction base="xsd:string">
     <xsd:maxLength value="220"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="char3">
    <xsd:restriction base="xsd:string">
     <xsd:maxLength value="3"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="char30">
    <xsd:restriction base="xsd:string">
     <xsd:maxLength value="30"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="char32">
    <xsd:restriction base="xsd:string">
     <xsd:maxLength value="32"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="char4">
    <xsd:restriction base="xsd:string">
     <xsd:maxLength value="4"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="char5">
    <xsd:restriction base="xsd:string">
     <xsd:maxLength value="5"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="char50">
    <xsd:restriction base="xsd:string">
     <xsd:maxLength value="50"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="char6">
    <xsd:restriction base="xsd:string">
     <xsd:maxLength value="6"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="char8">
    <xsd:restriction base="xsd:string">
     <xsd:maxLength value="8"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="cuky5">
    <xsd:restriction base="xsd:string">
     <xsd:maxLength value="5"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="date10">
    <xsd:restriction base="xsd:string">
     <xsd:maxLength value="10"/>
     <xsd:pattern value="\d\d\d\d-\d\d-\d\d"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="lang">
    <xsd:restriction base="xsd:string">
     <xsd:maxLength value="1"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="numeric2">
    <xsd:restriction base="xsd:string">
     <xsd:maxLength value="2"/>
     <xsd:pattern value="\d*"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="numeric3">
    <xsd:restriction base="xsd:string">
     <xsd:maxLength value="3"/>
     <xsd:pattern value="\d*"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="numeric6">
    <xsd:restriction base="xsd:string">
     <xsd:maxLength value="6"/>
     <xsd:pattern value="\d*"/>
    </xsd:restriction>
   </xsd:simpleType>
  </xsd:schema>
  <xsd:schema attributeFormDefault="qualified" targetNamespace="urn:sap-com:document:sap:soap:functions:mc-style" xmlns:n0="urn:sap-com:document:sap:rfc:functions">
   <xsd:import namespace="urn:sap-com:document:sap:rfc:functions"/>
   <xsd:simpleType name="RfcException.Message.Number">
    <xsd:restriction base="xsd:string">
     <xsd:maxLength value="3"/>
     <xsd:pattern value="\d*"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:complexType name="GlaccountCcode">
    <xsd:sequence>
     <xsd:element name="KEYY" type="tns:GlaccountCcodeKey"/>
     <xsd:element name="DATA" type="tns:GlaccountCcodeData"/>
     <xsd:element name="INFO" type="tns:GlaccountCcodeInfo"/>
     <xsd:element name="ACTION" type="n0:char1"/>
    </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="GlaccountCcodeData">
    <xsd:sequence>
     <xsd:element name="WAERS" type="n0:cuky5"/>
     <xsd:element name="XSALH" type="n0:char1"/>
     <xsd:element name="KDFSL" type="n0:char4"/>
     <xsd:element name="BEWGP" type="n0:char10"/>
     <xsd:element name="MWSKZ" type="n0:char2"/>
     <xsd:element name="XMWNO" type="n0:char1"/>
     <xsd:element name="MITKZ" type="n0:char1"/>
     <xsd:element name="ALTKT" type="n0:char10"/>
     <xsd:element name="WMETH" type="n0:char2"/>
     <xsd:element name="INFKY" type="n0:char8"/>
     <xsd:element name="TOGRU" type="n0:char4"/>
     <xsd:element name="XOPVW" type="n0:char1"/>
     <xsd:element name="XKRES" type="n0:char1"/>
     <xsd:element name="ZUAWA" type="n0:char3"/>
     <xsd:element name="BEGRU" type="n0:char4"/>
     <xsd:element name="BUSAB" type="n0:char2"/>
     <xsd:element name="FSTAG" type="n0:char4"/>
     <xsd:element name="XINTB" type="n0:char1"/>
     <xsd:element name="XNKON" type="n0:char1"/>
     <xsd:element name="XMITK" type="n0:char1"/>
     <xsd:element name="FDLEV" type="n0:char2"/>
     <xsd:element name="XGKON" type="n0:char1"/>
     <xsd:element name="FIPOS" type="n0:char14"/>
     <xsd:element name="HBKID" type="n0:char5"/>
     <xsd:element name="HKTID" type="n0:char5"/>
     <xsd:element name="VZSKZ" type="n0:char2"/>
     <xsd:element name="ZINDT" type="n0:date10"/>
     <xsd:element name="ZINRT" type="n0:numeric2"/>
     <xsd:element name="DATLZ" type="n0:date10"/>
     <xsd:element name="RECID" type="n0:char2"/>
     <xsd:element name="XSPEB" type="n0:char1"/>
     <xsd:element name="XLOEB" type="n0:char1"/>
     <xsd:element name="XLGCLR" type="n0:char1"/>
     <xsd:element name="MCAKEY" type="n0:char5"/>
    </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="GlaccountCcodeKey">
    <xsd:sequence>
     <xsd:element name="BUKRS" type="n0:char4"/>
     <xsd:element name="SAKNR" type="n0:char10"/>
    </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="GlaccountCcodeInfo">
    <xsd:sequence>
     <xsd:element name="ERDAT" type="n0:date10"/>
     <xsd:element name="ERNAM" type="n0:char12"/>
    </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="GlaccountCoa">
    <xsd:sequence>
     <xsd:element name="KEYY" type="tns:GlaccountCoaKey"/>
     <xsd:element name="DATA" type="tns:GlaccountCoaData"/>
     <xsd:element name="INFO" type="tns:GlaccountCoaInfo"/>
     <xsd:element name="ACTION" type="n0:char1"/>
    </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="GlaccountCoaData">
    <xsd:sequence>
     <xsd:element name="GLACCOUNT_TYPE" type="n0:char1"/>
     <xsd:element name="GLACCOUNT_SUBTYPE" type="n0:char1"/>
     <xsd:element name="MAIN_SAKNR" type="n0:char10"/>
     <xsd:element name="KTOKS" type="n0:char4"/>
     <xsd:element name="XBILK" type="n0:char1"/>
     <xsd:element name="GVTYP" type="n0:char2"/>
     <xsd:element name="FUNC_AREA" type="n0:char16"/>
     <xsd:element name="MUSTR" type="n0:char10"/>
     <xsd:element name="VBUND" type="n0:char6"/>
     <xsd:element name="BILKT" type="n0:char10"/>
     <xsd:element name="XLOEV" type="n0:char1"/>
     <xsd:element name="XSPEA" type="n0:char1"/>
     <xsd:element name="XSPEB" type="n0:char1"/>
     <xsd:element name="XSPEP" type="n0:char1"/>
    </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="GlaccountCoaKey">
    <xsd:sequence>
     <xsd:element name="KTOPL" type="n0:char4"/>
     <xsd:element name="SAKNR" type="n0:char10"/>
    </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="GlaccountCoaInfo">
    <xsd:sequence>
     <xsd:element name="ERDAT" type="n0:date10"/>
     <xsd:element name="ERNAM" type="n0:char12"/>
     <xsd:element name="SAKAN" type="n0:char10"/>
    </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="Bapiret2">
    <xsd:sequence>
     <xsd:element name="TYPE" type="n0:char1"/>
     <xsd:element name="ID" type="n0:char20"/>
     <xsd:element name="NUMBER" type="n0:numeric3"/>
     <xsd:element name="MESSAGE" type="n0:char220"/>
     <xsd:element name="LogNo" type="n0:char20"/>
     <xsd:element name="LogMsgNo" type="n0:numeric6"/>
     <xsd:element name="MessageV1" type="n0:char50"/>
     <xsd:element name="MessageV2" type="n0:char50"/>
     <xsd:element name="MessageV3" type="n0:char50"/>
     <xsd:element name="MessageV4" type="n0:char50"/>
     <xsd:element name="Parameter" type="n0:char32"/>
     <xsd:element name="Row" type="xsd:int"/>
     <xsd:element name="Field" type="n0:char30"/>
     <xsd:element name="System" type="n0:char10"/>
    </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="GlaccountName">
    <xsd:sequence>
     <xsd:element name="KEYY" type="tns:GlaccountNameKey"/>
     <xsd:element name="DATA" type="tns:GlaccountNameData"/>
     <xsd:element name="ACTION" type="n0:char1"/>
    </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="GlaccountNameData">
    <xsd:sequence>
     <xsd:element name="TXT20" type="n0:char20"/>
     <xsd:element name="TXT50" type="n0:char50"/>
    </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="GlaccountNameKey">
    <xsd:sequence>
     <xsd:element name="KTOPL" type="n0:char4"/>
     <xsd:element name="SAKNR" type="n0:char10"/>
     <xsd:element name="SPRAS" type="n0:lang"/>
    </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="GlaccountKeyword">
    <xsd:sequence>
     <xsd:element name="Ktopl" type="n0:char4"/>
     <xsd:element name="Saknr" type="n0:char10"/>
     <xsd:element name="Spras" type="n0:lang"/>
     <xsd:element name="Schlw" type="n0:char30"/>
     <xsd:element name="Action" type="n0:char1"/>
    </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="RfcException.Message">
    <xsd:sequence>
     <xsd:element name="ID" type="xsd:string"/>
     <xsd:element name="Number" type="tns:RfcException.Message.Number"/>
    </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="GlAcctMasterSaveRfc.RfcException">
    <xsd:sequence>
     <xsd:element name="Name" type="tns:GlAcctMasterSaveRfc.RfcExceptions"/>
     <xsd:element name="Text" type="xsd:string" minOccurs="0"/>
     <xsd:element name="Message" type="tns:RfcException.Message" minOccurs="0"/>
    </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="GlaccountCcodeTable">
    <xsd:sequence>
     <xsd:element name="item" type="tns:GlaccountCcode" minOccurs="0" maxOccurs="unbounded"/>
    </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="Bapiret2T">
    <xsd:sequence>
     <xsd:element name="item" type="tns:Bapiret2" minOccurs="0" maxOccurs="unbounded"/>
    </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="GlaccountNameTable">
    <xsd:sequence>
     <xsd:element name="item" type="tns:GlaccountName" minOccurs="0" maxOccurs="unbounded"/>
    </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="GlaccountKeywordTable">
    <xsd:sequence>
     <xsd:element name="item" type="tns:GlaccountKeyword" minOccurs="0" maxOccurs="unbounded"/>
    </xsd:sequence>
   </xsd:complexType>
   <xsd:simpleType name="GlAcctMasterSaveRfc.RfcExceptions">
    <xsd:restriction base="xsd:string">
     <xsd:enumeration value="Error"/>
     <xsd:enumeration value="LogonError"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:element name="GlAcctMasterSaveRfc.Exception" type="tns:GlAcctMasterSaveRfc.RfcException"/>
   <xsd:element name="GlAcctMasterSaveRfc">
    <xsd:complexType>
     <xsd:sequence>
      <xsd:element name="ACCOUNT_CCODES" type="tns:GlaccountCcodeTable" minOccurs="0"/>
      <xsd:element name="ACCOUNT_COA" type="tns:GlaccountCoa" minOccurs="0"/>
      <xsd:element name="ACCOUNT_KEYWORDS" type="tns:GlaccountKeywordTable" minOccurs="0"/>
      <xsd:element name="ACCOUNT_NAMES" type="tns:GlaccountNameTable" minOccurs="0"/>
      <xsd:element name="NO_AUTHORITY_CHECK" type="n0:char1" minOccurs="0"/>
      <xsd:element name="NO_SAVE_AT_WARNING" type="n0:char1" minOccurs="0"/>
      <xsd:element name="RETURN" type="tns:Bapiret2T" minOccurs="0"/>
      <xsd:element name="TESTMODE" type="n0:char1" minOccurs="0"/>
     </xsd:sequence>
    </xsd:complexType>
   </xsd:element>
   <xsd:element name="GlAcctMasterSaveRfcResponse">
    <xsd:complexType>
     <xsd:sequence>
      <xsd:element name="AccountCcodes" type="tns:GlaccountCcodeTable" minOccurs="0"/>
      <xsd:element name="AccountCoa" type="tns:GlaccountCoa" minOccurs="0"/>
      <xsd:element name="AccountKeywords" type="tns:GlaccountKeywordTable" minOccurs="0"/>
      <xsd:element name="AccountNames" type="tns:GlaccountNameTable" minOccurs="0"/>
      <xsd:element name="Return" type="tns:Bapiret2T" minOccurs="0"/>
     </xsd:sequence>
    </xsd:complexType>
   </xsd:element>
  </xsd:schema>
 </wsdl:types>
 <wsdl:message name="GlAcctMasterSaveRfc">
  <wsdl:part name="parameters" element="tns:GlAcctMasterSaveRfc"/>
 </wsdl:message>
 <wsdl:message name="GlAcctMasterSaveRfcResponse">
  <wsdl:part name="parameter" element="tns:GlAcctMasterSaveRfcResponse"/>
 </wsdl:message>
 <wsdl:message name="GlAcctMasterSaveRfc.Exception">
  <wsdl:part name="GlAcctMasterSaveRfc.Exception" element="tns:GlAcctMasterSaveRfc.Exception"/>
 </wsdl:message>
 <wsdl:portType name="ZGL_ACCT_MASTER_SAVE_RFC">
  <wsdl:documentation>
   <sapdoc:sapdoc xmlns:sapdoc="urn:sap:esi:documentation">
    <sapdoc:docitem docURL="http://saphanaretail.gcp.wipro.com:8001/sap/bc/esdt/docu/sd_text?sap-client=201&amp;sd_name=ZGL_ACCT_MASTER_SAVE_RFC"/>
   </sapdoc:sapdoc>
  </wsdl:documentation>
  <wsp:Policy>
   <wsp:PolicyReference URI="#IF_IF_ZGL_ACCT_MASTER_SAVE_RFC"/>
  </wsp:Policy>
  <wsdl:operation name="GlAcctMasterSaveRfc">
   <wsp:Policy>
    <wsp:PolicyReference URI="#OP_IF_OP_GlAcctMasterSaveRfc"/>
   </wsp:Policy>
   <wsdl:input message="tns:GlAcctMasterSaveRfc"/>
   <wsdl:output message="tns:GlAcctMasterSaveRfcResponse"/>
   <wsdl:fault name="GlAcctMasterSaveRfc.Exception" message="tns:GlAcctMasterSaveRfc.Exception"/>
  </wsdl:operation>
 </wsdl:portType>
</wsdl:definitions>
