Resources/schemas/Wsdl/SAP_Commerce_financial_services_accelerator_integration_with_SAP_for_Insurance - InsurancePolicyChangeNotificationIn.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="InsurancePolicyChangeNotificationIn" targetNamespace="http://xiTest.com/xi/FS-PM" xmlns:p1="http://xiTest.com/xi/FS-PM" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
	<wsp:UsingPolicy wsdl:required="true"/>
	
	<wsp:Policy wsu:Id="OP_NotifyPolicyChange"/>
	<wsdl:types>
		<xsd:schema targetNamespace="http://xiTest.com/xi/FS-PM" xmlns="http://xiTest.com/xi/FS-PM" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
			<xsd:element name="InsurancePolicyChangeNotificationMessage" type="InsurancePolicyChangeNotification"/>
			<xsd:simpleType name="InsurancePolicyChangeInsurancePolicyID.Content">
				<xsd:annotation>
					<xsd:documentation xml:lang="EN">Already GDT approved, 2012-03-14 An identifier for an insurance policy</xsd:documentation>
				</xsd:annotation>
				<xsd:restriction base="xsd:token">
					<xsd:minLength value="1"/>
					<xsd:maxLength value="17"/>
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:simpleType name="Date">
				<xsd:restriction base="xsd:date">
					<xsd:pattern value="[0-9]{4}-[0-9]{2}-[0-9]{2}"/>
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:simpleType name="InsurancePolicyChangeNotificationProductID.Content">
				<xsd:annotation>
					<xsd:documentation xml:lang="EN">An identifier for an insurance sales product.</xsd:documentation>
				</xsd:annotation>
				<xsd:restriction base="xsd:token">
					<xsd:minLength value="1"/>
					<xsd:maxLength value="8"/>
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:simpleType name="InsurancePolicyChangeNotificationSalesProductID.Content">
				<xsd:annotation>
					<xsd:documentation xml:lang="EN">An identifier for an insurance sales product.</xsd:documentation>
				</xsd:annotation>
				<xsd:restriction base="xsd:token">
					<xsd:minLength value="1"/>
					<xsd:maxLength value="10"/>
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:simpleType name="InsurancePolicyChangeNotificationContractID.Content">
				<xsd:restriction base="xsd:token">
					<xsd:minLength value="1"/>
					<xsd:maxLength value="17"/>
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:simpleType name="InsurancePolicyChangeNotificationMainPolicyHolderID">
				<xsd:annotation>
					<xsd:documentation xml:lang="EN">Definite identifier for a business partner</xsd:documentation>
				</xsd:annotation>
				<xsd:restriction base="xsd:token">
					<xsd:minLength value="1"/>
					<xsd:maxLength value="60"/>
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:complexType name="InsurancePolicyChangeNotification">
				<xsd:sequence>
					<xsd:element name="InsurancePolicyChangeInformation" type="InsurancePolicyChangeInformation" maxOccurs="unbounded"/>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="InsurancePolicyChangeNotificationProductID">
				<xsd:simpleContent>
					<xsd:extension base="InsurancePolicyChangeNotificationProductID.Content">
						<xsd:attribute name="schemeID">
							<xsd:simpleType>
								<xsd:restriction base="xsd:token">
									<xsd:minLength value="1"/>
									<xsd:maxLength value="60"/>
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:attribute>
						<xsd:attribute name="schemeAgencyID">
							<xsd:simpleType>
								<xsd:restriction base="xsd:token">
									<xsd:minLength value="1"/>
									<xsd:maxLength value="60"/>
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:attribute>
					</xsd:extension>
				</xsd:simpleContent>
			</xsd:complexType>
			<xsd:complexType name="InsurancePolicyChangeInsurancePolicyID">
				<xsd:simpleContent>
					<xsd:extension base="InsurancePolicyChangeInsurancePolicyID.Content">
						<xsd:attribute name="schemeID">
							<xsd:simpleType>
								<xsd:restriction base="xsd:token">
									<xsd:minLength value="1"/>
									<xsd:maxLength value="60"/>
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:attribute>
						<xsd:attribute name="schemeAgencyID">
							<xsd:simpleType>
								<xsd:restriction base="xsd:token">
									<xsd:minLength value="1"/>
									<xsd:maxLength value="60"/>
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:attribute>
					</xsd:extension>
				</xsd:simpleContent>
			</xsd:complexType>
			<xsd:complexType name="InsurancePolicyChangeInformation">
				<xsd:sequence>
					<xsd:element name="PolicyID" type="InsurancePolicyChangeInsurancePolicyID"/>
					<xsd:element name="SalesProductID" type="InsurancePolicyChangeNotificationSalesProductID"/>
					<xsd:element name="MainPolicyholderID" type="InsurancePolicyChangeNotificationMainPolicyHolderID"/>
					<xsd:element name="Contracts" type="InsurancePolicyChangeNotificationContracts"/>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="InsurancePolicyChangeNotificationChangeState">
				<xsd:sequence>
					<xsd:element name="ChangeStateDt" type="Date"/>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="InsurancePolicyChangeNotificationSalesProductID">
				<xsd:simpleContent>
					<xsd:extension base="InsurancePolicyChangeNotificationSalesProductID.Content">
						<xsd:attribute name="schemeID">
							<xsd:simpleType>
								<xsd:restriction base="xsd:token">
									<xsd:minLength value="1"/>
									<xsd:maxLength value="60"/>
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:attribute>
						<xsd:attribute name="schemeAgencyID">
							<xsd:simpleType>
								<xsd:restriction base="xsd:token">
									<xsd:minLength value="1"/>
									<xsd:maxLength value="60"/>
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:attribute>
					</xsd:extension>
				</xsd:simpleContent>
			</xsd:complexType>
			<xsd:complexType name="InsurancePolicyChangeNotificationContracts">
				<xsd:sequence>
					<xsd:element name="Contract" type="InsurancePolicyChangeNotificationContract" maxOccurs="unbounded"/>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="InsurancePolicyChangeNotificationContractID">
				<xsd:simpleContent>
					<xsd:extension base="InsurancePolicyChangeNotificationContractID.Content">
						<xsd:attribute name="schemeID">
							<xsd:simpleType>
								<xsd:restriction base="xsd:token">
									<xsd:minLength value="1"/>
									<xsd:maxLength value="60"/>
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:attribute>
						<xsd:attribute name="schemeAgencyID">
							<xsd:simpleType>
								<xsd:restriction base="xsd:token">
									<xsd:minLength value="1"/>
									<xsd:maxLength value="60"/>
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:attribute>
					</xsd:extension>
				</xsd:simpleContent>
			</xsd:complexType>
			<xsd:complexType name="InsurancePolicyChangeNotificationContract">
				<xsd:sequence>
					<xsd:element name="ContractID" type="InsurancePolicyChangeNotificationContractID"/>
					<xsd:element name="ProductID" type="InsurancePolicyChangeNotificationProductID"/>
					<xsd:element name="ChangeStates" type="InsurancePolicyChangeNotificationChangeStates"/>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="InsurancePolicyChangeNotificationChangeStates">
				<xsd:sequence>
					<xsd:element name="ChangeState" type="InsurancePolicyChangeNotificationChangeState" maxOccurs="unbounded"/>
				</xsd:sequence>
			</xsd:complexType>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="InsurancePolicyChangeNotificationMessage">
		
		<wsdl:part name="InsurancePolicyChangeNotificationMessage" element="p1:InsurancePolicyChangeNotificationMessage"/>
	</wsdl:message>
	<wsdl:portType name="InsurancePolicyChangeNotificationIn">
		
		<wsdl:operation name="NotifyPolicyChange">
			
			<wsp:Policy>
				<wsp:PolicyReference URI="#OP_NotifyPolicyChange"/>
			</wsp:Policy>
			<wsdl:input message="p1:InsurancePolicyChangeNotificationMessage"/>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="InsurancePolicyChangeNotificationInBinding" type="p1:InsurancePolicyChangeNotificationIn">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"/>
		<wsdl:operation name="NotifyPolicyChange">
			<soap:operation soapAction="http://sap.com/xi/WebService/soap1.1" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"/>
			<wsdl:input>
				<soap:body use="literal" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"/>
			</wsdl:input>
		</wsdl:operation>
	</wsdl:binding>
</wsdl:definitions>