Resources/schemas/Wsdl/SAP_SuccessFactors_Employee_Central_Integration_with_SAP_ERP_or_SAP_S-4HANA-_Organizational_Data - employeeorgassignmreplrequest.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions targetNamespace="http://sap.com/xi/PASEIN"
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsoap12="http://schemas.xmlsoap.org/wsdl/soap12/"
	xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/"
	xmlns:tns="http://sap.com/xi/PASEIN" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy"
	xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd"
	xmlns:n1="http://sap.com/xi/SAPGlobal/Global">
	<wsdl:documentation>
		<sidl:sidl xmlns:sidl="http://www.sap.com/2007/03/sidl" />
	</wsdl:documentation>
	<wsp:UsingPolicy wsdl:required="true" />
	<wsp:Policy wsu:Id="BN__binding">
		<wsp:ExactlyOne>
			<wsp:All>
				<wsp:All xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy">
					<sp:TransportBinding
						xmlns:sp="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702"
						xmlns:sapsp="http://www.sap.com/webas/630/soap/features/security/policy"
						xmlns:wsa="http://www.w3.org/2005/08/addressing" xmlns:wst="http://docs.oasis-open.org/ws-sx/ws-trust/200512"
						xmlns:wsu="http://schemas.xmlsoap.org/ws/2002/07/utility"
						xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex">
						<wsp:Policy>
							<sp:TransportToken>
								<wsp:Policy>
									<sp:HttpsToken>
										<wsp:Policy>
											<sp:HttpBasicAuthentication />
										</wsp:Policy>
									</sp:HttpsToken>
								</wsp:Policy>
							</sp:TransportToken>
							<sp:AlgorithmSuite>
								<wsp:Policy>
									<sp:Basic128Rsa15 />
								</wsp:Policy>
							</sp:AlgorithmSuite>
							<sp:Layout>
								<wsp:Policy>
									<sp:Strict />
								</wsp:Policy>
							</sp:Layout>
						</wsp:Policy>
					</sp:TransportBinding>
				</wsp:All>
			</wsp:All>
			<wsp:All>
				<wsp:All xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy">
					<sp:TransportBinding
						xmlns:sp="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702"
						xmlns:sapsp="http://www.sap.com/webas/630/soap/features/security/policy"
						xmlns:wsa="http://www.w3.org/2005/08/addressing" xmlns:wst="http://docs.oasis-open.org/ws-sx/ws-trust/200512"
						xmlns:wsu="http://schemas.xmlsoap.org/ws/2002/07/utility"
						xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex">
						<wsp:Policy>
							<sp:TransportToken>
								<wsp:Policy>
									<sp:HttpsToken>
										<wsp:Policy>
											<sp:RequireClientCertificate />
										</wsp:Policy>
									</sp:HttpsToken>
								</wsp:Policy>
							</sp:TransportToken>
							<sp:AlgorithmSuite>
								<wsp:Policy>
									<sp:Basic128Rsa15 />
								</wsp:Policy>
							</sp:AlgorithmSuite>
							<sp:Layout>
								<wsp:Policy>
									<sp:Strict />
								</wsp:Policy>
							</sp:Layout>
						</wsp:Policy>
					</sp:TransportBinding>
				</wsp:All>
			</wsp:All>
			<wsp:All>
				<wsp:All xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy">
					<sp:TransportBinding
						xmlns:sp="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702"
						xmlns:sapsp="http://www.sap.com/webas/630/soap/features/security/policy"
						xmlns:wsa="http://www.w3.org/2005/08/addressing" xmlns:wst="http://docs.oasis-open.org/ws-sx/ws-trust/200512"
						xmlns:wsu="http://schemas.xmlsoap.org/ws/2002/07/utility"
						xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex">
						<wsp:Policy>
							<sp:TransportToken>
								<wsp:Policy>
									<sp:HttpsToken>
										<wsp:Policy>
											<sp:HttpBasicAuthentication />
										</wsp:Policy>
									</sp:HttpsToken>
								</wsp:Policy>
							</sp:TransportToken>
							<sp:AlgorithmSuite>
								<wsp:Policy>
									<sp:Basic128Rsa15 />
								</wsp:Policy>
							</sp:AlgorithmSuite>
							<sp:Layout>
								<wsp:Policy>
									<sp:Strict />
								</wsp:Policy>
							</sp:Layout>
						</wsp:Policy>
					</sp:TransportBinding>
				</wsp:All>
			</wsp:All>
			<wsp:All>
				<wsp:All xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy">
					<sp:TransportBinding
						xmlns:sp="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702"
						xmlns:sapsp="http://www.sap.com/webas/630/soap/features/security/policy"
						xmlns:wsa="http://www.w3.org/2005/08/addressing" xmlns:wst="http://docs.oasis-open.org/ws-sx/ws-trust/200512"
						xmlns:wsu="http://schemas.xmlsoap.org/ws/2002/07/utility"
						xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex">
						<wsp:Policy>
							<sp:TransportToken>
								<wsp:Policy>
									<sp:HttpsToken>
										<wsp:Policy>
											<sp:RequireClientCertificate />
										</wsp:Policy>
									</sp:HttpsToken>
								</wsp:Policy>
							</sp:TransportToken>
							<sp:AlgorithmSuite>
								<wsp:Policy>
									<sp:Basic128Rsa15 />
								</wsp:Policy>
							</sp:AlgorithmSuite>
							<sp:Layout>
								<wsp:Policy>
									<sp:Strict />
								</wsp:Policy>
							</sp:Layout>
						</wsp:Policy>
					</sp:TransportBinding>
				</wsp:All>
			</wsp:All>
		</wsp:ExactlyOne>
	</wsp:Policy>
	<wsdl:types>
		<xsd:schema targetNamespace="http://sap.com/xi/PASEIN"
			xmlns="http://sap.com/xi/PASEIN"
			xmlns:ccts="urn:un:unece:uncefact:documentation:standard:CoreComponentsTechnicalSpecification:3.0"
			xmlns:sprx="urn:sap.com:abap:proxy" xmlns:xi0="http://sap.com/xi/SAPGlobal/Global">
			<xsd:annotation>
				<xsd:documentation>
					<sprx:documentation version="1"
						baseURL="http://ldai1qk8.wdf.sap.corp:50013/sap/bc/esdt/docu/xsd_type?sap-client=539" />
				</xsd:documentation>
			</xsd:annotation>
			<xsd:element name="EmployeeOrganisationalAssignmentReplicationRequest"
				type="EmplOrgAssignmReplReqMsg" />
			<xsd:simpleType name="AgencyIdentificationCode">
				<xsd:annotation>
					<xsd:documentation xml:lang="EN">
						<ccts:RepresentationTerm>Code</ccts:RepresentationTerm>
					</xsd:documentation>
				</xsd:annotation>
				<xsd:restriction base="xsd:token">
					<xsd:maxLength value="3" />
					<xsd:minLength value="1" />
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:complexType name="BusinessDocumentMessageHeader">
				<xsd:sequence>
					<xsd:element name="ID" minOccurs="0"
						type="BusinessDocumentMessageID" />
					<xsd:element name="UUID" minOccurs="0" type="UUID" />
					<xsd:element name="ReferenceID" minOccurs="0"
						type="BusinessDocumentMessageID" />
					<xsd:element name="ReferenceUUID" minOccurs="0" type="UUID" />
					<xsd:element name="CreationDateTime" type="GLOBAL_DateTime" />
					<xsd:element name="TestDataIndicator" minOccurs="0"
						type="Indicator" />
					<xsd:element name="ReconciliationIndicator" minOccurs="0"
						type="Indicator" />
					<xsd:element name="SenderBusinessSystemID" minOccurs="0"
						type="BusinessSystemID" />
					<xsd:element name="RecipientBusinessSystemID"
						minOccurs="0" type="BusinessSystemID" />
					<xsd:element name="SenderParty" minOccurs="0"
						type="BusinessDocumentMessageHeaderParty" />
					<xsd:element name="RecipientParty" minOccurs="0"
						maxOccurs="unbounded" type="BusinessDocumentMessageHeaderParty" />
					<xsd:element name="BusinessScope" minOccurs="0"
						maxOccurs="unbounded" type="BusinessScope" />
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="BusinessDocumentMessageHeaderParty">
				<xsd:sequence>
					<xsd:element name="InternalID" minOccurs="0"
						type="PartyInternalID" />
					<xsd:element name="StandardID" minOccurs="0" maxOccurs="unbounded"
						type="PartyStandardID" />
					<xsd:element name="ContactPerson" minOccurs="0"
						type="BusinessDocumentMessageHeaderPartyContactPerson" />
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="BusinessDocumentMessageHeaderPartyContactPerson">
				<xsd:sequence>
					<xsd:element name="InternalID" minOccurs="0"
						type="ContactPersonInternalID" />
					<xsd:element name="OrganisationFormattedName"
						minOccurs="0" maxOccurs="4" type="LANGUAGEINDEPENDENT_MEDIUM_Name" />
					<xsd:element name="PersonFormattedName" minOccurs="0"
						maxOccurs="4" type="LANGUAGEINDEPENDENT_LONG_Name" />
					<xsd:element name="PhoneNumber" minOccurs="0"
						maxOccurs="unbounded" type="PhoneNumber" />
					<xsd:element name="FaxNumber" minOccurs="0" maxOccurs="unbounded"
						type="PhoneNumber" />
					<xsd:element name="EmailURI" minOccurs="0" maxOccurs="unbounded"
						type="EmailURI" />
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="BusinessDocumentMessageID">
				<xsd:annotation>
					<xsd:documentation xml:lang="EN">
						<ccts:RepresentationTerm>Identifier</ccts:RepresentationTerm>
					</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleContent>
					<xsd:extension base="BusinessDocumentMessageID.Content">
						<xsd:attribute name="schemeID">
							<xsd:simpleType>
								<xsd:restriction base="xsd:token">
									<xsd:maxLength value="60" />
									<xsd:minLength value="1" />
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:attribute>
						<xsd:attribute name="schemeAgencyID">
							<xsd:simpleType>
								<xsd:restriction base="xsd:token">
									<xsd:maxLength value="60" />
									<xsd:minLength value="1" />
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:attribute>
						<xsd:attribute name="schemeAgencySchemeAgencyID"
							type="AgencyIdentificationCode" />
					</xsd:extension>
				</xsd:simpleContent>
			</xsd:complexType>
			<xsd:simpleType name="BusinessDocumentMessageID.Content">
				<xsd:restriction base="xsd:token">
					<xsd:maxLength value="35" />
					<xsd:minLength value="1" />
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:complexType name="BusinessScope">
				<xsd:sequence>
					<xsd:element name="TypeCode" type="BusinessScopeTypeCode" />
					<xsd:element name="InstanceID" minOccurs="0"
						type="BusinessScopeInstanceID" />
					<xsd:element name="ID" minOccurs="0" type="BusinessScopeID" />
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="BusinessScopeID">
				<xsd:annotation>
					<xsd:documentation xml:lang="EN">
						<ccts:RepresentationTerm>Identifier</ccts:RepresentationTerm>
					</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleContent>
					<xsd:extension base="BusinessScopeID.Content">
						<xsd:attribute name="schemeID">
							<xsd:simpleType>
								<xsd:restriction base="xsd:token">
									<xsd:maxLength value="60" />
									<xsd:minLength value="1" />
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:attribute>
						<xsd:attribute name="schemeAgencyID">
							<xsd:simpleType>
								<xsd:restriction base="xsd:token">
									<xsd:maxLength value="60" />
									<xsd:minLength value="1" />
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:attribute>
					</xsd:extension>
				</xsd:simpleContent>
			</xsd:complexType>
			<xsd:simpleType name="BusinessScopeID.Content">
				<xsd:restriction base="xsd:token">
					<xsd:maxLength value="36" />
					<xsd:minLength value="1" />
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:complexType name="BusinessScopeInstanceID">
				<xsd:annotation>
					<xsd:documentation xml:lang="EN">
						<ccts:RepresentationTerm>Identifier</ccts:RepresentationTerm>
					</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleContent>
					<xsd:extension base="BusinessScopeInstanceID.Content">
						<xsd:attribute name="schemeID">
							<xsd:simpleType>
								<xsd:restriction base="xsd:token">
									<xsd:maxLength value="60" />
									<xsd:minLength value="1" />
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:attribute>
						<xsd:attribute name="schemeAgencyID">
							<xsd:simpleType>
								<xsd:restriction base="xsd:token">
									<xsd:maxLength value="60" />
									<xsd:minLength value="1" />
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:attribute>
					</xsd:extension>
				</xsd:simpleContent>
			</xsd:complexType>
			<xsd:simpleType name="BusinessScopeInstanceID.Content">
				<xsd:restriction base="xsd:token">
					<xsd:maxLength value="36" />
					<xsd:minLength value="1" />
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:complexType name="BusinessScopeTypeCode">
				<xsd:annotation>
					<xsd:documentation xml:lang="EN">
						<ccts:RepresentationTerm>Code</ccts:RepresentationTerm>
					</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleContent>
					<xsd:extension base="BusinessScopeTypeCode.Content">
						<xsd:attribute name="listID">
							<xsd:simpleType>
								<xsd:restriction base="xsd:token">
									<xsd:maxLength value="60" />
									<xsd:minLength value="1" />
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:attribute>
						<xsd:attribute name="listVersionID">
							<xsd:simpleType>
								<xsd:restriction base="xsd:token">
									<xsd:maxLength value="15" />
									<xsd:minLength value="1" />
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:attribute>
						<xsd:attribute name="listAgencyID">
							<xsd:simpleType>
								<xsd:restriction base="xsd:token">
									<xsd:maxLength value="60" />
									<xsd:minLength value="1" />
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:attribute>
						<xsd:attribute name="listAgencySchemeID">
							<xsd:simpleType>
								<xsd:restriction base="xsd:token">
									<xsd:maxLength value="60" />
									<xsd:minLength value="1" />
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:attribute>
						<xsd:attribute name="listAgencySchemeAgencyID" type="AgencyIdentificationCode" />
					</xsd:extension>
				</xsd:simpleContent>
			</xsd:complexType>
			<xsd:simpleType name="BusinessScopeTypeCode.Content">
				<xsd:restriction base="xsd:token">
					<xsd:maxLength value="4" />
					<xsd:minLength value="1" />
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:simpleType name="BusinessSystemID">
				<xsd:annotation>
					<xsd:documentation xml:lang="EN">
						<ccts:RepresentationTerm>Identifier</ccts:RepresentationTerm>
					</xsd:documentation>
				</xsd:annotation>
				<xsd:restriction base="xsd:token">
					<xsd:maxLength value="60" />
					<xsd:minLength value="1" />
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:complexType name="CLOSED_DatePeriod">
				<xsd:sequence>
					<xsd:element name="StartDate" minOccurs="0" type="Date" />
					<xsd:element name="EndDate" minOccurs="0" type="Date" />
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="ContactPersonInternalID">
				<xsd:annotation>
					<xsd:documentation xml:lang="EN">
						<ccts:RepresentationTerm>Identifier</ccts:RepresentationTerm>
					</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleContent>
					<xsd:extension base="ContactPersonInternalID.Content">
						<xsd:attribute name="schemeID">
							<xsd:simpleType>
								<xsd:restriction base="xsd:token">
									<xsd:maxLength value="60" />
									<xsd:minLength value="1" />
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:attribute>
						<xsd:attribute name="schemeAgencyID">
							<xsd:simpleType>
								<xsd:restriction base="xsd:token">
									<xsd:maxLength value="60" />
									<xsd:minLength value="1" />
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:attribute>
					</xsd:extension>
				</xsd:simpleContent>
			</xsd:complexType>
			<xsd:simpleType name="ContactPersonInternalID.Content">
				<xsd:restriction base="xsd:token">
					<xsd:maxLength value="32" />
					<xsd:minLength value="1" />
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:simpleType name="CountryCode">
				<xsd:annotation>
					<xsd:documentation xml:lang="EN">
						<ccts:RepresentationTerm>Code</ccts:RepresentationTerm>
					</xsd:documentation>
				</xsd:annotation>
				<xsd:restriction base="xsd:token">
					<xsd:maxLength value="3" />
					<xsd:minLength value="2" />
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:simpleType name="CountryDiallingCode">
				<xsd:annotation>
					<xsd:documentation xml:lang="EN">
						<ccts:RepresentationTerm>Code</ccts:RepresentationTerm>
					</xsd:documentation>
				</xsd:annotation>
				<xsd:restriction base="xsd:token">
					<xsd:maxLength value="10" />
					<xsd:minLength value="1" />
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:simpleType name="Date">
				<xsd:annotation>
					<xsd:documentation xml:lang="EN">
						<ccts:RepresentationTerm>Date</ccts:RepresentationTerm>
					</xsd:documentation>
				</xsd:annotation>
				<xsd:restriction base="xsd:date">
					<xsd:pattern value="[0-9]{4}-[0-9]{2}-[0-9]{2}" />
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:simpleType name="DecimalValue">
				<xsd:annotation>
					<xsd:documentation xml:lang="EN">
						<ccts:RepresentationTerm>Value</ccts:RepresentationTerm>
					</xsd:documentation>
				</xsd:annotation>
				<xsd:restriction base="xsd:decimal">
					<xsd:totalDigits value="31" />
					<xsd:fractionDigits value="14" />
					<xsd:maxInclusive value="99999999999999999.99999999999999" />
					<xsd:minInclusive value="-99999999999999999.99999999999999" />
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:complexType name="EmailURI">
				<xsd:annotation>
					<xsd:documentation xml:lang="EN">
						<ccts:RepresentationTerm>URI</ccts:RepresentationTerm>
					</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleContent>
					<xsd:extension base="xsd:anyURI">
						<xsd:attribute name="schemeID">
							<xsd:simpleType>
								<xsd:restriction base="xsd:token">
									<xsd:maxLength value="60" />
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:attribute>
					</xsd:extension>
				</xsd:simpleContent>
			</xsd:complexType>
			<xsd:complexType name="EmplOrgAssignmReplReqMsg">
				<xsd:sequence>
					<xsd:element name="MessageHeader" type="BusinessDocumentMessageHeader" />
					<xsd:element name="EmplOrgAssignmReplReq"
						type="EmployeeOrganisationalAssignmentReplicationRequest" />
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="EmplOrgAssignmSourceDataModelExtensionFields">
				<xsd:sequence>
					<xsd:element name="ElementName" type="LANGUAGEINDEPENDENT_MEDIUM_Name" />
					<xsd:element name="ElementValue" type="SourceDataModelPropertyValue" />
				</xsd:sequence>
			</xsd:complexType>
			<xsd:simpleType name="EmployeeID_V2">
				<xsd:annotation>
					<xsd:documentation xml:lang="EN">
						<ccts:RepresentationTerm>Identifier</ccts:RepresentationTerm>
					</xsd:documentation>
				</xsd:annotation>
				<xsd:restriction base="xsd:token">
					<xsd:maxLength value="38" />
					<xsd:minLength value="1" />
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:complexType name="EmployeeJobRelation">
				<xsd:sequence>
					<xsd:element name="ValidityPeriod" type="CLOSED_DatePeriod" />
					<xsd:element name="Type" type="LANGUAGEINDEPENDENT_Name" />
					<xsd:element name="RelatedUserID" type="ObjectNodeFormattedID" />
					<xsd:element name="EmploymentID" type="EmploymentID_V2" />
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="EmplOrgAssignmAssociatedEmplInformation">
				<xsd:sequence>
					<xsd:element name="EmployeeID" type="EmployeeID_V2" />
					<xsd:element name="EmployeeIDExternal" minOccurs="0"
						type="ObjectNodeFormattedID" />
					<xsd:element name="AssociatedEmployeeJobInformation" minOccurs="0"
						maxOccurs="unbounded" type="EmplOrgAssignmAssociatedEmplJobInformation" />
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="EmplOrgAssignmAssociatedEmplJobInformation">
				<xsd:sequence>
					<xsd:element name="ValidityPeriod" type="CLOSED_DatePeriod" />
					<xsd:element name="EmploymentID" type="EmploymentID_V2" />
					<xsd:element name="UserID" type="ObjectNodeFormattedID" />
					<xsd:element name="CompanyID" type="OrganisationalCentreID" />
					<xsd:element name="CountryCode" type="CountryCode" />
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="EmployeeOrganisationalAssignment">
				<xsd:sequence>
					<xsd:element name="EmployeeID" type="EmployeeID_V2" />
					<xsd:element name="EmployeeIDExternal" minOccurs="0"
						type="ObjectNodeFormattedID" />
					<xsd:element name="DepartmentRelevanceIndicator"
						minOccurs="0" type="Indicator" />
					<xsd:element name="OrganisationalAssignment" maxOccurs="unbounded"
						type="OrganisationalAssignment" />
					<xsd:element name="JobRelation" minOccurs="0"
						maxOccurs="unbounded" type="EmployeeJobRelation" />
					<xsd:element name="AssociatedEmployeeInformation" minOccurs="0"
						maxOccurs="unbounded" type="EmplOrgAssignmAssociatedEmplInformation" />
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="EmployeeOrganisationalAssignmentReplicationRequest">
				<xsd:sequence>
					<xsd:element name="FullTransmissionStartDate"
						minOccurs="0" type="Date" />
					<xsd:element name="AssociatedEmployeeInformationIndicator"
						minOccurs="0" type="Indicator" />
					<xsd:element name="Employee" maxOccurs="unbounded"
						type="EmployeeOrganisationalAssignment" />
				</xsd:sequence>
			</xsd:complexType>
			<xsd:simpleType name="EmploymentID_V2">
				<xsd:annotation>
					<xsd:documentation xml:lang="EN">
						<ccts:RepresentationTerm>Identifier</ccts:RepresentationTerm>
					</xsd:documentation>
				</xsd:annotation>
				<xsd:restriction base="xsd:token">
					<xsd:maxLength value="38" />
					<xsd:minLength value="1" />
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:complexType name="ExchangeFaultData">
				<xsd:sequence>
					<xsd:element name="faultText" type="xsd:string" />
					<xsd:element name="faultUrl" minOccurs="0" type="xsd:string" />
					<xsd:element name="faultDetail" minOccurs="0"
						maxOccurs="unbounded" type="ExchangeLogData" />
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="ExchangeLogData">
				<xsd:sequence>
					<xsd:element name="severity" minOccurs="0" type="xsd:string" />
					<xsd:element name="text" type="xsd:string" />
					<xsd:element name="url" minOccurs="0" type="xsd:string" />
					<xsd:element name="id" minOccurs="0" type="xsd:string" />
				</xsd:sequence>
			</xsd:complexType>
			<xsd:simpleType name="GLOBAL_DateTime">
				<xsd:annotation>
					<xsd:documentation xml:lang="EN">
						<ccts:RepresentationTerm>DateTime</ccts:RepresentationTerm>
					</xsd:documentation>
				</xsd:annotation>
				<xsd:restriction base="xsd:dateTime">
					<xsd:pattern
						value="[0-9]{4}-[0-9]{2}-[0-9]{2}T[0-9]{2}:[0-9]{2}:[0-9]{2}(.[0-9]{1,7})?Z" />
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:simpleType name="Indicator">
				<xsd:annotation>
					<xsd:documentation xml:lang="EN">
						<ccts:RepresentationTerm>Indicator</ccts:RepresentationTerm>
					</xsd:documentation>
				</xsd:annotation>
				<xsd:restriction base="xsd:boolean" />
			</xsd:simpleType>
			<xsd:simpleType name="LANGUAGEINDEPENDENT_LONG_Name">
				<xsd:annotation>
					<xsd:documentation xml:lang="EN">
						<ccts:RepresentationTerm>Name</ccts:RepresentationTerm>
					</xsd:documentation>
				</xsd:annotation>
				<xsd:restriction base="xsd:string">
					<xsd:maxLength value="80" />
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:simpleType name="LANGUAGEINDEPENDENT_MEDIUM_Name">
				<xsd:annotation>
					<xsd:documentation xml:lang="EN">
						<ccts:RepresentationTerm>Name</ccts:RepresentationTerm>
					</xsd:documentation>
				</xsd:annotation>
				<xsd:restriction base="xsd:string">
					<xsd:maxLength value="40" />
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:simpleType name="LANGUAGEINDEPENDENT_Name">
				<xsd:annotation>
					<xsd:documentation xml:lang="EN">
						<ccts:RepresentationTerm>Name</ccts:RepresentationTerm>
					</xsd:documentation>
				</xsd:annotation>
				<xsd:restriction base="xsd:string" />
			</xsd:simpleType>
			<xsd:simpleType name="LanguageCode">
				<xsd:annotation>
					<xsd:documentation xml:lang="EN">
						<ccts:RepresentationTerm>Code</ccts:RepresentationTerm>
					</xsd:documentation>
				</xsd:annotation>
				<xsd:restriction base="xsd:language">
					<xsd:maxLength value="9" />
					<xsd:minLength value="2" />
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:complexType name="MEDIUM_Name">
				<xsd:annotation>
					<xsd:documentation xml:lang="EN">
						<ccts:RepresentationTerm>Name</ccts:RepresentationTerm>
					</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleContent>
					<xsd:extension base="MEDIUM_Name.Content">
						<xsd:attribute name="languageCode" type="LanguageCode" />
					</xsd:extension>
				</xsd:simpleContent>
			</xsd:complexType>
			<xsd:simpleType name="MEDIUM_Name.Content">
				<xsd:restriction base="xsd:string">
					<xsd:maxLength value="40" />
					<xsd:minLength value="1" />
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:complexType name="Manager">
				<xsd:sequence>
					<xsd:element name="EmployeeID" minOccurs="0"
						type="EmployeeID_V2" />
					<xsd:element name="EmploymentID" minOccurs="0"
						type="EmploymentID_V2" />
					<xsd:element name="CompanyID" minOccurs="0"
						type="OrganisationalCentreID" />
					<xsd:element name="EmployeeIDExternal" minOccurs="0"
						type="ObjectNodeFormattedID" />
				</xsd:sequence>
			</xsd:complexType>
			<xsd:simpleType name="ObjectNodeFormattedID">
				<xsd:annotation>
					<xsd:documentation xml:lang="EN">
						<ccts:RepresentationTerm>Identifier</ccts:RepresentationTerm>
					</xsd:documentation>
				</xsd:annotation>
				<xsd:restriction base="xsd:token">
					<xsd:maxLength value="100" />
					<xsd:minLength value="1" />
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:complexType name="OrganisationalAssignment">
				<xsd:sequence>
					<xsd:element name="ValidityPeriod" type="CLOSED_DatePeriod" />
					<xsd:element name="EmploymentID" minOccurs="0"
						type="EmploymentID_V2" />
					<xsd:element name="CompanyID" minOccurs="0"
						type="OrganisationalCentreID" />
					<xsd:element name="CountryCode" minOccurs="0"
						type="CountryCode"/>
					<xsd:element name="Manager" minOccurs="0" type="Manager" />
					<xsd:element name="CostCentreID" minOccurs="0"
						type="OrganisationalCentreID" />
					<xsd:element name="DepartmentID" minOccurs="0"
						type="ObjectNodeFormattedID" />
					<xsd:element name="DivisionID" minOccurs="0"
						type="ObjectNodeFormattedID" />
					<xsd:element name="BusinessUnitID" minOccurs="0"
						type="ObjectNodeFormattedID" />
					<xsd:element name="JobID" minOccurs="0"
						type="ObjectNodeFormattedID" />
					<xsd:element name="PositionID" minOccurs="0"
						type="ObjectNodeFormattedID" />
					<xsd:element name="SourceDataModelExtensionFields"
						minOccurs="0" maxOccurs="unbounded"
						type="EmplOrgAssignmSourceDataModelExtensionFields" />
				</xsd:sequence>
			</xsd:complexType>
			<xsd:simpleType name="OrganisationalCentreID">
				<xsd:annotation>
					<xsd:documentation xml:lang="EN">
						<ccts:RepresentationTerm>Identifier</ccts:RepresentationTerm>
					</xsd:documentation>
				</xsd:annotation>
				<xsd:restriction base="xsd:token">
					<xsd:maxLength value="20" />
					<xsd:minLength value="1" />
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:complexType name="PartyInternalID">
				<xsd:annotation>
					<xsd:documentation xml:lang="EN">
						<ccts:RepresentationTerm>Identifier</ccts:RepresentationTerm>
					</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleContent>
					<xsd:extension base="PartyInternalID.Content">
						<xsd:attribute name="schemeID">
							<xsd:simpleType>
								<xsd:restriction base="xsd:token">
									<xsd:maxLength value="60" />
									<xsd:minLength value="1" />
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:attribute>
						<xsd:attribute name="schemeAgencyID">
							<xsd:simpleType>
								<xsd:restriction base="xsd:token">
									<xsd:maxLength value="60" />
									<xsd:minLength value="1" />
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:attribute>
					</xsd:extension>
				</xsd:simpleContent>
			</xsd:complexType>
			<xsd:simpleType name="PartyInternalID.Content">
				<xsd:restriction base="xsd:token">
					<xsd:maxLength value="32" />
					<xsd:minLength value="1" />
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:complexType name="PartyStandardID">
				<xsd:annotation>
					<xsd:documentation xml:lang="EN">
						<ccts:RepresentationTerm>Identifier</ccts:RepresentationTerm>
					</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleContent>
					<xsd:extension base="PartyStandardID.Content">
						<xsd:attribute name="schemeAgencyID" use="required">
							<xsd:simpleType>
								<xsd:restriction base="xsd:token">
									<xsd:maxLength value="3" />
									<xsd:minLength value="1" />
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:attribute>
					</xsd:extension>
				</xsd:simpleContent>
			</xsd:complexType>
			<xsd:simpleType name="PartyStandardID.Content">
				<xsd:restriction base="xsd:token">
					<xsd:maxLength value="13" />
					<xsd:minLength value="1" />
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:complexType name="PhoneNumber">
				<xsd:sequence>
					<xsd:element name="AreaID" minOccurs="0"
						type="PhoneNumberAreaID" />
					<xsd:element name="SubscriberID" minOccurs="0"
						type="PhoneNumberSubscriberID" />
					<xsd:element name="ExtensionID" minOccurs="0"
						type="PhoneNumberExtensionID" />
					<xsd:element name="CountryCode" minOccurs="0" type="CountryCode" />
					<xsd:element name="CountryDiallingCode" minOccurs="0"
						type="CountryDiallingCode" />
					<xsd:element name="CountryName" minOccurs="0" type="MEDIUM_Name" />
				</xsd:sequence>
			</xsd:complexType>
			<xsd:simpleType name="PhoneNumberAreaID">
				<xsd:annotation>
					<xsd:documentation xml:lang="EN">
						<ccts:RepresentationTerm>Identifier</ccts:RepresentationTerm>
					</xsd:documentation>
				</xsd:annotation>
				<xsd:restriction base="xsd:token">
					<xsd:maxLength value="10" />
					<xsd:minLength value="1" />
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:simpleType name="PhoneNumberExtensionID">
				<xsd:annotation>
					<xsd:documentation xml:lang="EN">
						<ccts:RepresentationTerm>Identifier</ccts:RepresentationTerm>
					</xsd:documentation>
				</xsd:annotation>
				<xsd:restriction base="xsd:token">
					<xsd:maxLength value="10" />
					<xsd:minLength value="1" />
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:simpleType name="PhoneNumberSubscriberID">
				<xsd:annotation>
					<xsd:documentation xml:lang="EN">
						<ccts:RepresentationTerm>Identifier</ccts:RepresentationTerm>
					</xsd:documentation>
				</xsd:annotation>
				<xsd:restriction base="xsd:token">
					<xsd:maxLength value="30" />
					<xsd:minLength value="1" />
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:complexType name="SourceDataModelPropertyValue">
				<xsd:sequence>
					<xsd:element name="DecimalValue" minOccurs="0"
						type="DecimalValue" />
					<xsd:element name="Date" minOccurs="0" type="Date" />
					<xsd:element name="Text" minOccurs="0" type="Text" />
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="Text">
				<xsd:annotation>
					<xsd:documentation xml:lang="EN">
						<ccts:RepresentationTerm>Text</ccts:RepresentationTerm>
					</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleContent>
					<xsd:extension base="xsd:string">
						<xsd:attribute name="languageCode" type="LanguageCode" />
					</xsd:extension>
				</xsd:simpleContent>
			</xsd:complexType>
			<xsd:complexType name="UUID">
				<xsd:annotation>
					<xsd:documentation xml:lang="EN">
						<ccts:RepresentationTerm>Identifier</ccts:RepresentationTerm>
					</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleContent>
					<xsd:extension base="UUID.Content">
						<xsd:attribute name="schemeID">
							<xsd:simpleType>
								<xsd:restriction base="xsd:token">
									<xsd:maxLength value="60" />
									<xsd:minLength value="1" />
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:attribute>
						<xsd:attribute name="schemeAgencyID">
							<xsd:simpleType>
								<xsd:restriction base="xsd:token">
									<xsd:maxLength value="60" />
									<xsd:minLength value="1" />
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:attribute>
					</xsd:extension>
				</xsd:simpleContent>
			</xsd:complexType>
			<xsd:simpleType name="UUID.Content">
				<xsd:restriction base="xsd:token">
					<xsd:length value="36" />
					<xsd:pattern
						value="[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}" />
				</xsd:restriction>
			</xsd:simpleType>
		</xsd:schema>
		<xsd:schema targetNamespace="http://sap.com/xi/SAPGlobal/Global"
			xmlns="http://sap.com/xi/SAPGlobal/Global"
			xmlns:ccts="urn:un:unece:uncefact:documentation:standard:CoreComponentsTechnicalSpecification:3.0"
			xmlns:sprx="urn:sap.com:abap:proxy" xmlns:xi0="http://sap.com/xi/SAPGlobal/Global">
			<xsd:import namespace="http://sap.com/xi/PASEIN" />
			<xsd:annotation>
				<xsd:documentation>
					<sprx:documentation version="1"
						baseURL="http://ldai1qk8.wdf.sap.corp:50013/sap/bc/esdt/docu/xsd_type?sap-client=539" />
				</xsd:documentation>
			</xsd:annotation>
			<xsd:element name="StandardMessageFault">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="standard" type="tns:ExchangeFaultData" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="EmployeeOrganisationalAssignmentReplicationRequest">
		<wsdl:part name="EmployeeOrganisationalAssignmentReplicationRequest"
			element="tns:EmployeeOrganisationalAssignmentReplicationRequest" />
	</wsdl:message>
	<wsdl:message name="StandardMessageFault">
		<wsdl:part name="StandardMessageFault" element="n1:StandardMessageFault" />
	</wsdl:message>
	<wsdl:portType name="EmployeeOrganisationalAssignmentReplicationRequest_In">
		<wsdl:documentation>
			<sapdoc:sapdoc xmlns:sapdoc="urn:sap:esi:documentation">
				<sapdoc:docitem applicationComponent="CA" />
			</sapdoc:sapdoc>
		</wsdl:documentation>
		<wsdl:operation
			name="EmployeeOrganisationalAssignmentReplicationRequest_In">
			<wsdl:input message="tns:EmployeeOrganisationalAssignmentReplicationRequest" />
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="binding"
		type="tns:EmployeeOrganisationalAssignmentReplicationRequest_In">
		<wsp:Policy>
			<wsp:PolicyReference URI="#BN__binding" />
		</wsp:Policy>
		<soap:binding transport="http://schemas.xmlsoap.org/soap/http"
			style="document" />
		<wsdl:operation
			name="EmployeeOrganisationalAssignmentReplicationRequest_In">
			<soap:operation
				soapAction="http://sap.com/xi/PASEIN/EmployeeOrganisationalAssignmentReplicationRequest_In/EmployeeOrganisationalAssignmentReplicationRequest_InRequest"
				style="document" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="service">
		<wsdl:port name="binding" binding="tns:binding">
			<soap:address
				location="https://ldai1qk8.wdf.sap.corp:44313/sap/bc/srt/scs/sap/employeeorgassignmreplrequest?sap-client=539" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>