Resources/schemas/Wsdl/SAP_Service_Cloud_V2_for_Utilities_Contract_Account_Integration_with_SAP_S-4HANA - DOC_WEBI_ISU_C4C_V2_CA_DETAILS.WSDL

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions targetNamespace="urn:sap-com:document:sap:soap:functions:mc-style" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsoap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="urn:sap-com:document:sap:soap:functions:mc-style" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:n1="urn:sap-com:document:sap:rfc:functions">
 <wsdl:documentation>
  <sidl:sidl xmlns:sidl="http://www.sap.com/2007/03/sidl"/>
 </wsdl:documentation>
 <wsp:UsingPolicy wsdl:required="true"/>
 <wsp:Policy wsu:Id="IF_IF_ISU_C4C_V2_CA_DETAILS">
  <sapsession:Session xmlns:sapsession="http://www.sap.com/webas/630/soap/features/session/">
   <sapsession:enableSession>false</sapsession:enableSession>
  </sapsession:Session>
 </wsp:Policy>
 <wsp:Policy wsu:Id="OP_IF_OP_IsuC4cV2CaDetailsGet">
  <sapblock:enableBlocking xmlns:sapblock="http://www.sap.com/NW05/soap/features/blocking/">true</sapblock:enableBlocking>
  <sapcomhnd:enableCommit xmlns:sapcomhnd="http://www.sap.com/NW05/soap/features/commit/">false</sapcomhnd:enableCommit>
  <saptrhnw05:required xmlns:saptrhnw05="http://www.sap.com/NW05/soap/features/transaction/">no</saptrhnw05:required>
  <saprmnw05:enableWSRM xmlns:saprmnw05="http://www.sap.com/NW05/soap/features/wsrm/">false</saprmnw05:enableWSRM>
 </wsp:Policy>
 <wsp:Policy wsu:Id="OP_IF_OP_IsuC4cV2ContaccDetailsGet">
  <sapblock:enableBlocking xmlns:sapblock="http://www.sap.com/NW05/soap/features/blocking/">true</sapblock:enableBlocking>
  <sapcomhnd:enableCommit xmlns:sapcomhnd="http://www.sap.com/NW05/soap/features/commit/">false</sapcomhnd:enableCommit>
  <saptrhnw05:required xmlns:saptrhnw05="http://www.sap.com/NW05/soap/features/transaction/">no</saptrhnw05:required>
  <saprmnw05:enableWSRM xmlns:saprmnw05="http://www.sap.com/NW05/soap/features/wsrm/">false</saprmnw05:enableWSRM>
 </wsp:Policy>
 <wsp:Policy wsu:Id="OP_IF_OP_IsuC4cV2CaDefaultsGet">
  <sapblock:enableBlocking xmlns:sapblock="http://www.sap.com/NW05/soap/features/blocking/">true</sapblock:enableBlocking>
  <sapcomhnd:enableCommit xmlns:sapcomhnd="http://www.sap.com/NW05/soap/features/commit/">false</sapcomhnd:enableCommit>
  <saptrhnw05:required xmlns:saptrhnw05="http://www.sap.com/NW05/soap/features/transaction/">no</saptrhnw05:required>
  <saprmnw05:enableWSRM xmlns:saprmnw05="http://www.sap.com/NW05/soap/features/wsrm/">false</saprmnw05:enableWSRM>
 </wsp:Policy>
 <wsdl:types>
  <xsd:schema attributeFormDefault="qualified" targetNamespace="urn:sap-com:document:sap:rfc:functions" xmlns:tns="urn:sap-com:document:sap:rfc:functions">
   <xsd:simpleType name="char1">
    <xsd:restriction base="xsd:string">
     <xsd:maxLength value="1"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="char10">
    <xsd:restriction base="xsd:string">
     <xsd:maxLength value="10"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="char12">
    <xsd:restriction base="xsd:string">
     <xsd:maxLength value="12"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="char15">
    <xsd:restriction base="xsd:string">
     <xsd:maxLength value="15"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="char2">
    <xsd:restriction base="xsd:string">
     <xsd:maxLength value="2"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="char20">
    <xsd:restriction base="xsd:string">
     <xsd:maxLength value="20"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="char220">
    <xsd:restriction base="xsd:string">
     <xsd:maxLength value="220"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="char30">
    <xsd:restriction base="xsd:string">
     <xsd:maxLength value="30"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="char32">
    <xsd:restriction base="xsd:string">
     <xsd:maxLength value="32"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="char35">
    <xsd:restriction base="xsd:string">
     <xsd:maxLength value="35"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="char4">
    <xsd:restriction base="xsd:string">
     <xsd:maxLength value="4"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="char5">
    <xsd:restriction base="xsd:string">
     <xsd:maxLength value="5"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="char50">
    <xsd:restriction base="xsd:string">
     <xsd:maxLength value="50"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="char60">
    <xsd:restriction base="xsd:string">
     <xsd:maxLength value="60"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="numeric3">
    <xsd:restriction base="xsd:string">
     <xsd:maxLength value="3"/>
     <xsd:pattern value="\d*"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="numeric6">
    <xsd:restriction base="xsd:string">
     <xsd:maxLength value="6"/>
     <xsd:pattern value="\d*"/>
    </xsd:restriction>
   </xsd:simpleType>
  </xsd:schema>
  <xsd:schema attributeFormDefault="qualified" targetNamespace="urn:sap-com:document:sap:soap:functions:mc-style" xmlns:n0="urn:sap-com:document:sap:rfc:functions">
   <xsd:import namespace="urn:sap-com:document:sap:rfc:functions"/>
   <xsd:simpleType name="char1">
    <xsd:restriction base="xsd:string">
     <xsd:maxLength value="1"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="char10">
    <xsd:restriction base="xsd:string">
     <xsd:maxLength value="10"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="char140">
    <xsd:restriction base="xsd:string">
     <xsd:maxLength value="140"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="char3">
    <xsd:restriction base="xsd:string">
     <xsd:maxLength value="3"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="char30">
    <xsd:restriction base="xsd:string">
     <xsd:maxLength value="30"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="char4">
    <xsd:restriction base="xsd:string">
     <xsd:maxLength value="4"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="char40">
    <xsd:restriction base="xsd:string">
     <xsd:maxLength value="40"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="char45">
    <xsd:restriction base="xsd:string">
     <xsd:maxLength value="45"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="char6">
    <xsd:restriction base="xsd:string">
     <xsd:maxLength value="6"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:complexType name="IsuC4cV2SReferenceCa">
    <xsd:sequence>
     <xsd:element name="RefContractAccountId" type="n0:char12" minOccurs="0"/>
    </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="IsuC4cV2SCaDefaultData">
    <xsd:sequence>
     <xsd:element name="ContractAccountName" type="n0:char35" minOccurs="0"/>
     <xsd:element name="ContractAccountCategory" type="n0:char2" minOccurs="0"/>
     <xsd:element name="AccountDetermId" type="n0:char2" minOccurs="0"/>
     <xsd:element name="AccountClass" type="n0:char4" minOccurs="0"/>
     <xsd:element name="PaymentTerms" type="n0:char4" minOccurs="0"/>
     <xsd:element name="ToleranceGroup" type="n0:char4" minOccurs="0"/>
     <xsd:element name="DunningProcedure" type="n0:char2" minOccurs="0"/>
    </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="Bapiret2">
    <xsd:sequence>
     <xsd:element name="Type" type="n0:char1" minOccurs="0"/>
     <xsd:element name="Id" type="n0:char20" minOccurs="0"/>
     <xsd:element name="Number" type="n0:numeric3" minOccurs="0"/>
     <xsd:element name="Message" type="n0:char220" minOccurs="0"/>
     <xsd:element name="LogNo" type="n0:char20" minOccurs="0"/>
     <xsd:element name="LogMsgNo" type="n0:numeric6" minOccurs="0"/>
     <xsd:element name="MessageV1" type="n0:char50" minOccurs="0"/>
     <xsd:element name="MessageV2" type="n0:char50" minOccurs="0"/>
     <xsd:element name="MessageV3" type="n0:char50" minOccurs="0"/>
     <xsd:element name="MessageV4" type="n0:char50" minOccurs="0"/>
     <xsd:element name="Parameter" type="n0:char32" minOccurs="0"/>
     <xsd:element name="Row" type="xsd:int" minOccurs="0"/>
     <xsd:element name="Field" type="n0:char30" minOccurs="0"/>
     <xsd:element name="System" type="n0:char10" minOccurs="0"/>
    </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="IsuC4cV2SCaPaymentData">
    <xsd:sequence>
     <xsd:element name="ContractAccount" type="n0:char12" minOccurs="0"/>
     <xsd:element name="ContractAccountName" type="n0:char35" minOccurs="0"/>
     <xsd:element name="PaymMethodIn" type="n0:char1" minOccurs="0"/>
     <xsd:element name="PaymMethodInText" type="n0:char30" minOccurs="0"/>
     <xsd:element name="PaymMethodOut" type="n0:char5" minOccurs="0"/>
     <xsd:element name="PaymMethodOutText" type="n0:char30" minOccurs="0"/>
     <xsd:element name="IncomingBankId" type="tns:char4" minOccurs="0"/>
     <xsd:element name="IncomingBankIdText" type="tns:char140" minOccurs="0"/>
     <xsd:element name="IncomingBankAssigment" type="tns:char1" minOccurs="0"/>
     <xsd:element name="OutgoingBankId" type="tns:char4" minOccurs="0"/>
     <xsd:element name="OutgoingBankIdText" type="tns:char140" minOccurs="0"/>
     <xsd:element name="OutgoingBankAssignment" type="tns:char1" minOccurs="0"/>
     <xsd:element name="AlternativePayer" type="tns:char10" minOccurs="0"/>
     <xsd:element name="AlternativePayee" type="tns:char10" minOccurs="0"/>
     <xsd:element name="IncomingLockStatus" type="tns:char1" minOccurs="0"/>
     <xsd:element name="OutgoingLockStatus" type="tns:char1" minOccurs="0"/>
     <xsd:element name="IncomingLockReasonText" type="tns:char40" minOccurs="0"/>
     <xsd:element name="OutgoingLockReasonText" type="tns:char40" minOccurs="0"/>
     <xsd:element name="CompanyCodeGroup" type="tns:char4" minOccurs="0"/>
     <xsd:element name="StandardCompanyCode" type="tns:char4" minOccurs="0"/>
     <xsd:element name="CountryCode" type="tns:char3" minOccurs="0"/>
    </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="IsuC4cV2SCaData">
    <xsd:sequence>
     <xsd:element name="ContractAccount" type="n0:char12" minOccurs="0"/>
     <xsd:element name="ContractAccountName" type="n0:char35" minOccurs="0"/>
     <xsd:element name="ContractAccountCategory" type="n0:char2" minOccurs="0"/>
     <xsd:element name="PaymMethodIn" type="n0:char1" minOccurs="0"/>
     <xsd:element name="PaymMethodInText" type="n0:char30" minOccurs="0"/>
     <xsd:element name="PaymMethodOut" type="n0:char5" minOccurs="0"/>
     <xsd:element name="PaymMethodOutText" type="n0:char30" minOccurs="0"/>
     <xsd:element name="DunningProcedure" type="n0:char2" minOccurs="0"/>
     <xsd:element name="Taxjurcode" type="n0:char15" minOccurs="0"/>
     <xsd:element name="AccountDetermId" type="n0:char2" minOccurs="0"/>
     <xsd:element name="AccountClass" type="n0:char4" minOccurs="0"/>
     <xsd:element name="InvoiceDeliveryMethod" type="n0:char4" minOccurs="0"/>
     <xsd:element name="CollectionStrategy" type="n0:char2" minOccurs="0"/>
     <xsd:element name="PaymentTerms" type="n0:char4" minOccurs="0"/>
     <xsd:element name="ToleranceGroup" type="n0:char4" minOccurs="0"/>
     <xsd:element name="AddressNumber" type="n0:char10" minOccurs="0"/>
     <xsd:element name="FixedAddress" type="n0:char60" minOccurs="0"/>
     <xsd:element name="ApplicationForm" type="n0:char30" minOccurs="0"/>
     <xsd:element name="Ebvty" type="tns:char4" minOccurs="0"/>
     <xsd:element name="Ebvtyt" type="tns:char140" minOccurs="0"/>
     <xsd:element name="Abvty" type="tns:char4" minOccurs="0"/>
     <xsd:element name="Abvtyt" type="tns:char140" minOccurs="0"/>
     <xsd:element name="CcardId" type="tns:char6" minOccurs="0"/>
     <xsd:element name="CcardTxt" type="tns:char140" minOccurs="0"/>
     <xsd:element name="CcardOut" type="tns:char6" minOccurs="0"/>
     <xsd:element name="CcardOutTxt" type="tns:char140" minOccurs="0"/>
    </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="Bapiret2T">
    <xsd:sequence>
     <xsd:element name="item" type="tns:Bapiret2" minOccurs="0" maxOccurs="unbounded"/>
    </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="IsuC4cV2TCaPaymentData">
    <xsd:sequence>
     <xsd:element name="item" type="tns:IsuC4cV2SCaPaymentData" minOccurs="0" maxOccurs="unbounded"/>
    </xsd:sequence>
   </xsd:complexType>
   <xsd:element name="IsuC4cV2CaDefaultsGet">
    <xsd:complexType>
     <xsd:sequence>
      <xsd:element name="IsReferenceContractAccount" type="tns:IsuC4cV2SReferenceCa" minOccurs="0"/>
     </xsd:sequence>
    </xsd:complexType>
   </xsd:element>
   <xsd:element name="IsuC4cV2CaDefaultsGetResponse">
    <xsd:complexType>
     <xsd:sequence>
      <xsd:element name="EsCaDefaultValues" type="tns:IsuC4cV2SCaDefaultData" minOccurs="0"/>
      <xsd:element name="EtMessages" type="tns:Bapiret2T" minOccurs="0"/>
     </xsd:sequence>
    </xsd:complexType>
   </xsd:element>
   <xsd:element name="IsuC4cV2ContaccDetailsGet">
    <xsd:complexType>
     <xsd:sequence>
      <xsd:element name="IvBusinessPartner" type="tns:char10" minOccurs="0"/>
      <xsd:element name="IvContractAccount" type="n0:char12" minOccurs="0"/>
      <xsd:element name="IvSearchValue" type="tns:char45" minOccurs="0"/>
      <xsd:element name="IvSkip" type="xsd:int" minOccurs="0"/>
      <xsd:element name="IvSortField" type="tns:char30" minOccurs="0"/>
      <xsd:element name="IvSortType" type="tns:char4" minOccurs="0"/>
      <xsd:element name="IvTop" type="xsd:int" minOccurs="0"/>
     </xsd:sequence>
    </xsd:complexType>
   </xsd:element>
   <xsd:element name="IsuC4cV2ContaccDetailsGetResponse">
    <xsd:complexType>
     <xsd:sequence>
      <xsd:element name="EtCaPaymentData" type="tns:IsuC4cV2TCaPaymentData" minOccurs="0"/>
      <xsd:element name="EtMessages" type="tns:Bapiret2T" minOccurs="0"/>
      <xsd:element name="EvTotalRecords" type="xsd:int" minOccurs="0"/>
     </xsd:sequence>
    </xsd:complexType>
   </xsd:element>
   <xsd:element name="IsuC4cV2CaDetailsGet">
    <xsd:complexType>
     <xsd:sequence>
      <xsd:element name="IvContractAccount" type="n0:char12" minOccurs="0"/>
     </xsd:sequence>
    </xsd:complexType>
   </xsd:element>
   <xsd:element name="IsuC4cV2CaDetailsGetResponse">
    <xsd:complexType>
     <xsd:sequence>
      <xsd:element name="EsContractAccountData" type="tns:IsuC4cV2SCaData" minOccurs="0"/>
      <xsd:element name="EtMessages" type="tns:Bapiret2T" minOccurs="0"/>
     </xsd:sequence>
    </xsd:complexType>
   </xsd:element>
  </xsd:schema>
 </wsdl:types>
 <wsdl:message name="IsuC4cV2CaDefaultsGet">
  <wsdl:part name="parameters" element="tns:IsuC4cV2CaDefaultsGet"/>
 </wsdl:message>
 <wsdl:message name="IsuC4cV2CaDefaultsGetResponse">
  <wsdl:part name="parameter" element="tns:IsuC4cV2CaDefaultsGetResponse"/>
 </wsdl:message>
 <wsdl:message name="IsuC4cV2ContaccDetailsGet">
  <wsdl:part name="parameters" element="tns:IsuC4cV2ContaccDetailsGet"/>
 </wsdl:message>
 <wsdl:message name="IsuC4cV2ContaccDetailsGetResponse">
  <wsdl:part name="parameter" element="tns:IsuC4cV2ContaccDetailsGetResponse"/>
 </wsdl:message>
 <wsdl:message name="IsuC4cV2CaDetailsGet">
  <wsdl:part name="parameters" element="tns:IsuC4cV2CaDetailsGet"/>
 </wsdl:message>
 <wsdl:message name="IsuC4cV2CaDetailsGetResponse">
  <wsdl:part name="parameter" element="tns:IsuC4cV2CaDetailsGetResponse"/>
 </wsdl:message>
 <wsdl:portType name="ISU_C4C_V2_CA_DETAILS">
  <wsdl:documentation>
   <sapdoc:sapdoc xmlns:sapdoc="urn:sap:esi:documentation">
    <sapdoc:docitem docURL="http://ldciemo.wdf.sap.corp:50000/sap/bc/esdt/docu/sd_text?sap-client=300&amp;sd_name=ISU_C4C_V2_CA_DETAILS"/>
    <sapdoc:docitem applicationComponent="IS-U-CS-C4C"/>
   </sapdoc:sapdoc>
  </wsdl:documentation>
  <wsp:Policy>
   <wsp:PolicyReference URI="#IF_IF_ISU_C4C_V2_CA_DETAILS"/>
  </wsp:Policy>
  <wsdl:operation name="IsuC4cV2CaDefaultsGet">
   <wsp:Policy>
    <wsp:PolicyReference URI="#OP_IF_OP_IsuC4cV2CaDefaultsGet"/>
   </wsp:Policy>
   <wsdl:input message="tns:IsuC4cV2CaDefaultsGet"/>
   <wsdl:output message="tns:IsuC4cV2CaDefaultsGetResponse"/>
  </wsdl:operation>
  <wsdl:operation name="IsuC4cV2ContaccDetailsGet">
   <wsp:Policy>
    <wsp:PolicyReference URI="#OP_IF_OP_IsuC4cV2ContaccDetailsGet"/>
   </wsp:Policy>
   <wsdl:input message="tns:IsuC4cV2ContaccDetailsGet"/>
   <wsdl:output message="tns:IsuC4cV2ContaccDetailsGetResponse"/>
  </wsdl:operation>
  <wsdl:operation name="IsuC4cV2CaDetailsGet">
   <wsp:Policy>
    <wsp:PolicyReference URI="#OP_IF_OP_IsuC4cV2CaDetailsGet"/>
   </wsp:Policy>
   <wsdl:input message="tns:IsuC4cV2CaDetailsGet"/>
   <wsdl:output message="tns:IsuC4cV2CaDetailsGetResponse"/>
  </wsdl:operation>
 </wsdl:portType>
</wsdl:definitions>
