Resources/schemas/Wsdl/SAP_Sales_Cloud_and_SAP_Service_Cloud_Version_2_Integration_for_Master_Data_with_SAP_S-4HANA - COD_CONVERT_ITF_TO_STREAM_TEXT.WSDL

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions targetNamespace="urn:sap-com:document:sap:rfc:functions" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsoap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="urn:sap-com:document:sap:rfc:functions" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd">
 <wsdl:documentation>
  <sidl:sidl xmlns:sidl="http://www.sap.com/2007/03/sidl"/>
 </wsdl:documentation>
 <wsp:UsingPolicy wsdl:required="true"/>
 <wsp:Policy wsu:Id="IF_IF_COD_CONVERT_ITF_TO_STREAM_TEXT">
  <sapsession:Session xmlns:sapsession="http://www.sap.com/webas/630/soap/features/session/">
   <sapsession:enableSession>false</sapsession:enableSession>
  </sapsession:Session>
 </wsp:Policy>
 <wsp:Policy wsu:Id="OP_IF_OP_COD_CONVERT_ITF_TO_STREAM_TEXT">
  <sapblock:enableBlocking xmlns:sapblock="http://www.sap.com/NW05/soap/features/blocking/">true</sapblock:enableBlocking>
  <sapcomhnd:enableCommit xmlns:sapcomhnd="http://www.sap.com/NW05/soap/features/commit/">false</sapcomhnd:enableCommit>
  <saptrhnw05:required xmlns:saptrhnw05="http://www.sap.com/NW05/soap/features/transaction/">no</saptrhnw05:required>
  <saprmnw05:enableWSRM xmlns:saprmnw05="http://www.sap.com/NW05/soap/features/wsrm/">false</saprmnw05:enableWSRM>
 </wsp:Policy>
 <wsdl:types>
  <xsd:schema attributeFormDefault="qualified" targetNamespace="urn:sap-com:document:sap:rfc:functions">
   <xsd:simpleType name="char132">
    <xsd:restriction base="xsd:string">
     <xsd:maxLength value="132"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="char2">
    <xsd:restriction base="xsd:string">
     <xsd:maxLength value="2"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="lang">
    <xsd:restriction base="xsd:string">
     <xsd:maxLength value="1"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="string">
    <xsd:restriction base="xsd:string"/>
   </xsd:simpleType>
   <xsd:complexType name="TLINE">
    <xsd:sequence>
     <xsd:element name="TDFORMAT" type="tns:char2"/>
     <xsd:element name="TDLINE" type="tns:char132"/>
    </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="TLINE_TAB">
    <xsd:sequence>
     <xsd:element name="item" type="tns:TLINE" minOccurs="0" maxOccurs="unbounded"/>
    </xsd:sequence>
   </xsd:complexType>
   <xsd:element name="COD_CONVERT_ITF_TO_STREAM_TEXT">
    <xsd:complexType>
     <xsd:sequence>
      <xsd:element name="IT_ITF_TEXT" type="tns:TLINE_TAB"/>
      <xsd:element name="IV_LANGUAGE" type="tns:lang" minOccurs="0"/>
     </xsd:sequence>
    </xsd:complexType>
   </xsd:element>
   <xsd:element name="COD_CONVERT_ITF_TO_STREAM_TEXTResponse">
    <xsd:complexType>
     <xsd:sequence>
      <xsd:element name="EV_STREAM_TEXT" type="tns:string"/>
     </xsd:sequence>
    </xsd:complexType>
   </xsd:element>
  </xsd:schema>
 </wsdl:types>
 <wsdl:message name="COD_CONVERT_ITF_TO_STREAM_TEXT">
  <wsdl:part name="parameters" element="tns:COD_CONVERT_ITF_TO_STREAM_TEXT"/>
 </wsdl:message>
 <wsdl:message name="COD_CONVERT_ITF_TO_STREAM_TEXTResponse">
  <wsdl:part name="parameter" element="tns:COD_CONVERT_ITF_TO_STREAM_TEXTResponse"/>
 </wsdl:message>
 <wsdl:portType name="COD_CONVERT_ITF_TO_STREAM_TEXT">
  <wsdl:documentation>
   <sapdoc:sapdoc xmlns:sapdoc="urn:sap:esi:documentation">
    <sapdoc:docitem docURL="http://ldciqw9.wdf.sap.corp:50000/sap/bc/esdt/docu/sd_text?sap-client=300&amp;sd_name=COD_CONVERT_ITF_TO_STREAM_TEXT"/>
    <sapdoc:docitem applicationComponent="LO-INT-COD"/>
   </sapdoc:sapdoc>
  </wsdl:documentation>
  <wsp:Policy>
   <wsp:PolicyReference URI="#IF_IF_COD_CONVERT_ITF_TO_STREAM_TEXT"/>
  </wsp:Policy>
  <wsdl:operation name="COD_CONVERT_ITF_TO_STREAM_TEXT">
   <wsp:Policy>
    <wsp:PolicyReference URI="#OP_IF_OP_COD_CONVERT_ITF_TO_STREAM_TEXT"/>
   </wsp:Policy>
   <wsdl:input message="tns:COD_CONVERT_ITF_TO_STREAM_TEXT"/>
   <wsdl:output message="tns:COD_CONVERT_ITF_TO_STREAM_TEXTResponse"/>
  </wsdl:operation>
 </wsdl:portType>
</wsdl:definitions>
