Resources/schemas/Wsdl/SAP_Service_Cloud_V2_for_Utilities_Premise_Integration_with_SAP_S-4HANA - DOC_WEBI_ISU_C4C_V2_MOVE-2.WSDL

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions targetNamespace="urn:sap-com:document:sap:soap:functions:mc-style" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsoap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="urn:sap-com:document:sap:soap:functions:mc-style" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:n1="urn:sap-com:document:sap:rfc:functions">
 <wsdl:documentation>
  <sidl:sidl xmlns:sidl="http://www.sap.com/2007/03/sidl"/>
 </wsdl:documentation>
 <wsp:UsingPolicy wsdl:required="true"/>
 <wsp:Policy wsu:Id="IF_IF_ISU_C4C_V2_MOVE">
  <sapsession:Session xmlns:sapsession="http://www.sap.com/webas/630/soap/features/session/">
   <sapsession:enableSession>false</sapsession:enableSession>
  </sapsession:Session>
 </wsp:Policy>
 <wsp:Policy wsu:Id="OP_IF_OP_IsuC4cV2MoveEdit">
  <sapblock:enableBlocking xmlns:sapblock="http://www.sap.com/NW05/soap/features/blocking/">true</sapblock:enableBlocking>
  <sapcomhnd:enableCommit xmlns:sapcomhnd="http://www.sap.com/NW05/soap/features/commit/">false</sapcomhnd:enableCommit>
  <saptrhnw05:required xmlns:saptrhnw05="http://www.sap.com/NW05/soap/features/transaction/">no</saptrhnw05:required>
  <saprmnw05:enableWSRM xmlns:saprmnw05="http://www.sap.com/NW05/soap/features/wsrm/">false</saprmnw05:enableWSRM>
 </wsp:Policy>
 <wsp:Policy wsu:Id="OP_IF_OP_IsuC4cV2MoveCreate">
  <sapblock:enableBlocking xmlns:sapblock="http://www.sap.com/NW05/soap/features/blocking/">true</sapblock:enableBlocking>
  <sapcomhnd:enableCommit xmlns:sapcomhnd="http://www.sap.com/NW05/soap/features/commit/">false</sapcomhnd:enableCommit>
  <saptrhnw05:required xmlns:saptrhnw05="http://www.sap.com/NW05/soap/features/transaction/">no</saptrhnw05:required>
  <saprmnw05:enableWSRM xmlns:saprmnw05="http://www.sap.com/NW05/soap/features/wsrm/">false</saprmnw05:enableWSRM>
 </wsp:Policy>
 <wsp:Policy wsu:Id="OP_IF_OP_IsuC4cV2MoveGet">
  <sapblock:enableBlocking xmlns:sapblock="http://www.sap.com/NW05/soap/features/blocking/">true</sapblock:enableBlocking>
  <sapcomhnd:enableCommit xmlns:sapcomhnd="http://www.sap.com/NW05/soap/features/commit/">false</sapcomhnd:enableCommit>
  <saptrhnw05:required xmlns:saptrhnw05="http://www.sap.com/NW05/soap/features/transaction/">no</saptrhnw05:required>
  <saprmnw05:enableWSRM xmlns:saprmnw05="http://www.sap.com/NW05/soap/features/wsrm/">false</saprmnw05:enableWSRM>
 </wsp:Policy>
 <wsdl:types>
  <xsd:schema attributeFormDefault="qualified" targetNamespace="urn:sap-com:document:sap:rfc:functions" xmlns:tns="urn:sap-com:document:sap:rfc:functions">
   <xsd:simpleType name="char1">
    <xsd:restriction base="xsd:string">
     <xsd:maxLength value="1"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="char10">
    <xsd:restriction base="xsd:string">
     <xsd:maxLength value="10"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="char12">
    <xsd:restriction base="xsd:string">
     <xsd:maxLength value="12"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="char140">
    <xsd:restriction base="xsd:string">
     <xsd:maxLength value="140"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="char15">
    <xsd:restriction base="xsd:string">
     <xsd:maxLength value="15"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="char18">
    <xsd:restriction base="xsd:string">
     <xsd:maxLength value="18"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="char2">
    <xsd:restriction base="xsd:string">
     <xsd:maxLength value="2"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="char20">
    <xsd:restriction base="xsd:string">
     <xsd:maxLength value="20"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="char220">
    <xsd:restriction base="xsd:string">
     <xsd:maxLength value="220"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="char241">
    <xsd:restriction base="xsd:string">
     <xsd:maxLength value="241"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="char3">
    <xsd:restriction base="xsd:string">
     <xsd:maxLength value="3"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="char30">
    <xsd:restriction base="xsd:string">
     <xsd:maxLength value="30"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="char32">
    <xsd:restriction base="xsd:string">
     <xsd:maxLength value="32"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="char35">
    <xsd:restriction base="xsd:string">
     <xsd:maxLength value="35"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="char4">
    <xsd:restriction base="xsd:string">
     <xsd:maxLength value="4"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="char40">
    <xsd:restriction base="xsd:string">
     <xsd:maxLength value="40"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="char5">
    <xsd:restriction base="xsd:string">
     <xsd:maxLength value="5"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="char50">
    <xsd:restriction base="xsd:string">
     <xsd:maxLength value="50"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="char6">
    <xsd:restriction base="xsd:string">
     <xsd:maxLength value="6"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="char60">
    <xsd:restriction base="xsd:string">
     <xsd:maxLength value="60"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="char8">
    <xsd:restriction base="xsd:string">
     <xsd:maxLength value="8"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="cuky5">
    <xsd:restriction base="xsd:string">
     <xsd:maxLength value="5"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="curr13.2">
    <xsd:restriction base="xsd:decimal">
     <xsd:totalDigits value="13"/>
     <xsd:fractionDigits value="2"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="numeric1">
    <xsd:restriction base="xsd:string">
     <xsd:maxLength value="1"/>
     <xsd:pattern value="\d*"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="numeric2">
    <xsd:restriction base="xsd:string">
     <xsd:maxLength value="2"/>
     <xsd:pattern value="\d*"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="numeric3">
    <xsd:restriction base="xsd:string">
     <xsd:maxLength value="3"/>
     <xsd:pattern value="\d*"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="numeric4">
    <xsd:restriction base="xsd:string">
     <xsd:maxLength value="4"/>
     <xsd:pattern value="\d*"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="numeric6">
    <xsd:restriction base="xsd:string">
     <xsd:maxLength value="6"/>
     <xsd:pattern value="\d*"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="string">
    <xsd:restriction base="xsd:string"/>
   </xsd:simpleType>
   <xsd:simpleType name="time">
    <xsd:restriction base="xsd:time">
     <xsd:pattern value="[0-9]{2}:[0-9]{2}:[0-9]{2}"/>
    </xsd:restriction>
   </xsd:simpleType>
  </xsd:schema>
  <xsd:schema attributeFormDefault="qualified" targetNamespace="urn:sap-com:document:sap:soap:functions:mc-style" xmlns:n0="urn:sap-com:document:sap:rfc:functions">
   <xsd:import namespace="urn:sap-com:document:sap:rfc:functions"/>
   <xsd:complexType name="Bapiret2">
    <xsd:sequence>
     <xsd:element name="Type" type="n0:char1" minOccurs="0"/>
     <xsd:element name="Id" type="n0:char20" minOccurs="0"/>
     <xsd:element name="Number" type="n0:numeric3" minOccurs="0"/>
     <xsd:element name="Message" type="n0:char220" minOccurs="0"/>
     <xsd:element name="LogNo" type="n0:char20" minOccurs="0"/>
     <xsd:element name="LogMsgNo" type="n0:numeric6" minOccurs="0"/>
     <xsd:element name="MessageV1" type="n0:char50" minOccurs="0"/>
     <xsd:element name="MessageV2" type="n0:char50" minOccurs="0"/>
     <xsd:element name="MessageV3" type="n0:char50" minOccurs="0"/>
     <xsd:element name="MessageV4" type="n0:char50" minOccurs="0"/>
     <xsd:element name="Parameter" type="n0:char32" minOccurs="0"/>
     <xsd:element name="Row" type="xsd:int" minOccurs="0"/>
     <xsd:element name="Field" type="n0:char30" minOccurs="0"/>
     <xsd:element name="System" type="n0:char10" minOccurs="0"/>
    </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="IsuC4cV2SMoveData">
    <xsd:sequence>
     <xsd:element name="MoveType" type="n0:numeric1" minOccurs="0"/>
     <xsd:element name="MoveUsingMdt" type="n0:char1" minOccurs="0"/>
     <xsd:element name="DryRun" type="n0:char1" minOccurs="0"/>
     <xsd:element name="ContractAccountUsage" type="n0:numeric1" minOccurs="0"/>
     <xsd:element name="MoveInDate" type="n0:char10" minOccurs="0"/>
     <xsd:element name="MoveOutDate" type="n0:char10" minOccurs="0"/>
     <xsd:element name="AgreeToTerms" type="n0:char1" minOccurs="0"/>
     <xsd:element name="AddressSelectionType" type="n0:numeric1" minOccurs="0"/>
     <xsd:element name="Uuid" type="n0:string" minOccurs="0"/>
     <xsd:element name="BusinessPartnerData" type="tns:IsuC4cV2SMoveBp" minOccurs="0"/>
     <xsd:element name="MoveInPremise" type="tns:IsuC4cV2SMovePremise" minOccurs="0"/>
     <xsd:element name="MoveOutPremise" type="tns:IsuC4cV2SMovePremise" minOccurs="0"/>
     <xsd:element name="MoveInPremiseService" type="tns:IsuC4cV2TMovePremiseServ" minOccurs="0"/>
     <xsd:element name="MoveOutPremiseService" type="tns:IsuC4cV2TMovePremiseServ" minOccurs="0"/>
     <xsd:element name="SecurityDeposit" type="tns:IsuC4cV2TMoveSecDeposit" minOccurs="0"/>
     <xsd:element name="AddressData" type="tns:IsuC4cV2SAddressDetails" minOccurs="0"/>
     <xsd:element name="MoveInCaData" type="tns:IsuC4cV2SCaData" minOccurs="0"/>
     <xsd:element name="MoveOutContractAccount" type="n0:char12" minOccurs="0"/>
     <xsd:element name="MoveInNote" type="n0:string" minOccurs="0"/>
     <xsd:element name="MoveOutNote" type="n0:string" minOccurs="0"/>
     <xsd:element name="MoveInDocument" type="n0:char12" minOccurs="0"/>
     <xsd:element name="MoveOutDocument" type="n0:char12" minOccurs="0"/>
     <xsd:element name="Alerts" type="tns:IsuC4cV2TAlerts" minOccurs="0"/>
    </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="IsuC4cV2SAddressDetails">
    <xsd:sequence>
     <xsd:element name="AddressNumber" type="n0:char10" minOccurs="0"/>
     <xsd:element name="StandardAddressIndicator" type="n0:char1" minOccurs="0"/>
     <xsd:element name="City" type="n0:char40" minOccurs="0"/>
     <xsd:element name="District" type="n0:char40" minOccurs="0"/>
     <xsd:element name="CityCode" type="n0:char12" minOccurs="0"/>
     <xsd:element name="DistrictCode" type="n0:char8" minOccurs="0"/>
     <xsd:element name="CityPostalCode" type="n0:char10" minOccurs="0"/>
     <xsd:element name="PoBoxPostalCode" type="n0:char10" minOccurs="0"/>
     <xsd:element name="CompanyPostalCode" type="n0:char10" minOccurs="0"/>
     <xsd:element name="PoBox" type="n0:char10" minOccurs="0"/>
     <xsd:element name="PoBoxWONumber" type="n0:char1" minOccurs="0"/>
     <xsd:element name="PoBoxCity" type="n0:char40" minOccurs="0"/>
     <xsd:element name="CityPoBoxCode" type="n0:char12" minOccurs="0"/>
     <xsd:element name="PoBoxRegion" type="n0:char3" minOccurs="0"/>
     <xsd:element name="PoBoxCountry" type="n0:char3" minOccurs="0"/>
     <xsd:element name="Street" type="n0:char60" minOccurs="0"/>
     <xsd:element name="StreetCode" type="n0:char12" minOccurs="0"/>
     <xsd:element name="HouseNumber" type="n0:char10" minOccurs="0"/>
     <xsd:element name="HouseNumber2" type="n0:char10" minOccurs="0"/>
     <xsd:element name="HouseNumberSupplement" type="n0:char10" minOccurs="0"/>
     <xsd:element name="StreetSupplement1" type="n0:char40" minOccurs="0"/>
     <xsd:element name="StreetSupplement2" type="n0:char40" minOccurs="0"/>
     <xsd:element name="StreetSupplement3" type="n0:char40" minOccurs="0"/>
     <xsd:element name="Location" type="n0:char40" minOccurs="0"/>
     <xsd:element name="Building" type="n0:char20" minOccurs="0"/>
     <xsd:element name="Floor" type="n0:char10" minOccurs="0"/>
     <xsd:element name="RoomNumber" type="n0:char10" minOccurs="0"/>
     <xsd:element name="Country" type="n0:char3" minOccurs="0"/>
     <xsd:element name="Region" type="n0:char3" minOccurs="0"/>
     <xsd:element name="DefaultCommunication" type="n0:char3" minOccurs="0"/>
     <xsd:element name="TelephoneNumber" type="n0:char30" minOccurs="0"/>
     <xsd:element name="TelephoneExtension" type="n0:char10" minOccurs="0"/>
     <xsd:element name="FaxNumber" type="n0:char30" minOccurs="0"/>
     <xsd:element name="FaxExtension" type="n0:char10" minOccurs="0"/>
     <xsd:element name="RegionialGroup" type="n0:char8" minOccurs="0"/>
     <xsd:element name="EMail" type="n0:char241" minOccurs="0"/>
     <xsd:element name="MobileNumber" type="n0:char30" minOccurs="0"/>
     <xsd:element name="ValidFromDate" type="n0:char10" minOccurs="0"/>
     <xsd:element name="ValidToDate" type="n0:char10" minOccurs="0"/>
     <xsd:element name="SkipMailingAddress" type="n0:char1" minOccurs="0"/>
    </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="IsuC4cV2SMovePremise">
    <xsd:sequence>
     <xsd:element name="Premise" type="n0:char10" minOccurs="0"/>
     <xsd:element name="PremiseCustomerData" type="tns:IsuC4cV2TMovePremiseCust" minOccurs="0"/>
    </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="IsuC4cV2SMovePremiseCust">
    <xsd:sequence>
     <xsd:element name="BusinessPartner" type="n0:char10" minOccurs="0"/>
     <xsd:element name="BusinessPartnerCategory" type="n0:char1" minOccurs="0"/>
     <xsd:element name="FirstName" type="n0:char40" minOccurs="0"/>
     <xsd:element name="LastName" type="n0:char40" minOccurs="0"/>
     <xsd:element name="MoveInDate" type="n0:char10" minOccurs="0"/>
     <xsd:element name="MoveOutDate" type="n0:char10" minOccurs="0"/>
    </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="IsuC4cV2SCaData">
    <xsd:sequence>
     <xsd:element name="ContractAccount" type="n0:char12" minOccurs="0"/>
     <xsd:element name="ContractAccountName" type="n0:char35" minOccurs="0"/>
     <xsd:element name="ContractAccountCategory" type="n0:char2" minOccurs="0"/>
     <xsd:element name="PaymMethodIn" type="n0:char1" minOccurs="0"/>
     <xsd:element name="PaymMethodInText" type="n0:char30" minOccurs="0"/>
     <xsd:element name="PaymMethodOut" type="n0:char5" minOccurs="0"/>
     <xsd:element name="PaymMethodOutText" type="n0:char30" minOccurs="0"/>
     <xsd:element name="DunningProcedure" type="n0:char2" minOccurs="0"/>
     <xsd:element name="Taxjurcode" type="n0:char15" minOccurs="0"/>
     <xsd:element name="AccountDetermId" type="n0:char2" minOccurs="0"/>
     <xsd:element name="AccountClass" type="n0:char4" minOccurs="0"/>
     <xsd:element name="InvoiceDeliveryMethod" type="n0:char4" minOccurs="0"/>
     <xsd:element name="CollectionStrategy" type="n0:char2" minOccurs="0"/>
     <xsd:element name="PaymentTerms" type="n0:char4" minOccurs="0"/>
     <xsd:element name="ToleranceGroup" type="n0:char4" minOccurs="0"/>
     <xsd:element name="AddressNumber" type="n0:char10" minOccurs="0"/>
     <xsd:element name="FixedAddress" type="n0:char60" minOccurs="0"/>
     <xsd:element name="ApplicationForm" type="n0:char30" minOccurs="0"/>
     <xsd:element name="Ebvty" type="n0:char4" minOccurs="0"/>
     <xsd:element name="Ebvtyt" type="n0:char140" minOccurs="0"/>
     <xsd:element name="Abvty" type="n0:char4" minOccurs="0"/>
     <xsd:element name="Abvtyt" type="n0:char140" minOccurs="0"/>
     <xsd:element name="CcardId" type="n0:char6" minOccurs="0"/>
     <xsd:element name="CcardTxt" type="n0:char140" minOccurs="0"/>
     <xsd:element name="CcardOut" type="n0:char6" minOccurs="0"/>
     <xsd:element name="CcardOutTxt" type="n0:char140" minOccurs="0"/>
    </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="IsuC4cV2SAlerts">
    <xsd:sequence>
     <xsd:element name="SequenceNumber" type="n0:numeric2" minOccurs="0"/>
     <xsd:element name="Severity" type="n0:numeric1" minOccurs="0"/>
     <xsd:element name="Text" type="n0:char220" minOccurs="0"/>
    </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="IsuC4cV2SMovePremiseServ">
    <xsd:sequence>
     <xsd:element name="Division" type="n0:char2" minOccurs="0"/>
     <xsd:element name="DivisionText" type="n0:char20" minOccurs="0"/>
     <xsd:element name="DivisionCategory" type="n0:numeric2" minOccurs="0"/>
     <xsd:element name="Installation" type="n0:char10" minOccurs="0"/>
     <xsd:element name="RateCategory" type="n0:char10" minOccurs="0"/>
     <xsd:element name="RateCategoryText" type="n0:char40" minOccurs="0"/>
     <xsd:element name="MeterData" type="tns:IsuC4cV2TMoveMeterRead" minOccurs="0"/>
     <xsd:element name="SelectedForMove" type="n0:char1" minOccurs="0"/>
     <xsd:element name="NewRateCategory" type="n0:char10" minOccurs="0"/>
    </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="IsuC4cV2SMoveMeterRead">
    <xsd:sequence>
     <xsd:element name="EquipmentNumber" type="n0:char18" minOccurs="0"/>
     <xsd:element name="Material" type="n0:char40" minOccurs="0"/>
     <xsd:element name="SerialNumber" type="n0:char18" minOccurs="0"/>
     <xsd:element name="Register" type="n0:numeric3" minOccurs="0"/>
     <xsd:element name="MeterReadingDate" type="n0:char10" minOccurs="0"/>
     <xsd:element name="MeterReadingTime" type="n0:time" minOccurs="0"/>
     <xsd:element name="MeterReadReason" type="n0:char2" minOccurs="0"/>
     <xsd:element name="MeterReading" type="n0:char32" minOccurs="0"/>
     <xsd:element name="Consumption" type="n0:char32" minOccurs="0"/>
     <xsd:element name="ExpectedConsumption" type="n0:char32" minOccurs="0"/>
     <xsd:element name="UnitOfMeasure" type="n0:char3" minOccurs="0"/>
     <xsd:element name="MeterReadingType" type="n0:char2" minOccurs="0"/>
     <xsd:element name="MeterReadingStatus" type="n0:char1" minOccurs="0"/>
     <xsd:element name="MeterReadingActive" type="n0:char1" minOccurs="0"/>
     <xsd:element name="MeterReaderNote" type="n0:char4" minOccurs="0"/>
     <xsd:element name="OverrideFlag" type="n0:char1" minOccurs="0"/>
     <xsd:element name="SelectedForMeterRead" type="n0:char1" minOccurs="0"/>
     <xsd:element name="MeterReadDocumentId" type="n0:char20" minOccurs="0"/>
    </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="IsuC4cV2SMoveSecDeposit">
    <xsd:sequence>
     <xsd:element name="NonCashIndicator" type="n0:char1" minOccurs="0"/>
     <xsd:element name="Division" type="n0:char2" minOccurs="0"/>
     <xsd:element name="Premise" type="n0:char10" minOccurs="0"/>
     <xsd:element name="Installation" type="n0:char10" minOccurs="0"/>
     <xsd:element name="JointInvoice" type="n0:char1" minOccurs="0"/>
     <xsd:element name="RequestReason" type="n0:char4" minOccurs="0"/>
     <xsd:element name="Amount" type="tns:IsuC4cUtilAmount" minOccurs="0"/>
     <xsd:element name="WaiverReason" type="n0:char4" minOccurs="0"/>
     <xsd:element name="TransferSecurityDeposit" type="n0:char1" minOccurs="0"/>
     <xsd:element name="SecurityDepositId" type="n0:char12" minOccurs="0"/>
    </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="IsuC4cUtilAmount">
    <xsd:sequence>
     <xsd:element name="Amount" type="n0:curr13.2" minOccurs="0"/>
     <xsd:element name="Currency" type="n0:cuky5" minOccurs="0"/>
    </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="IsuC4cV2SMoveBp">
    <xsd:sequence>
     <xsd:element name="BusinessPartner" type="n0:char10" minOccurs="0"/>
     <xsd:element name="BusinessPartnerCategory" type="n0:char1" minOccurs="0"/>
     <xsd:element name="FinancialOverview" type="tns:IsuC4cV2SOverviewAmt" minOccurs="0"/>
     <xsd:element name="CreditWorthiness" type="tns:IsuC4cV2SCreditWorthAmt" minOccurs="0"/>
     <xsd:element name="SecurityDeposit" type="tns:IsuC4cV2SSecDepositAmt" minOccurs="0"/>
    </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="IsuC4cV2SOverviewAmt">
    <xsd:sequence>
     <xsd:element name="DueAmount" type="tns:IsuC4cUtilAmount" minOccurs="0"/>
     <xsd:element name="OpenPayableAmount" type="tns:IsuC4cUtilAmount" minOccurs="0"/>
     <xsd:element name="ScheduledDate" type="n0:char10" minOccurs="0"/>
     <xsd:element name="ScheduledAmount" type="tns:IsuC4cUtilAmount" minOccurs="0"/>
     <xsd:element name="LastPaymentDate" type="n0:char10" minOccurs="0"/>
     <xsd:element name="LastPaymentAmount" type="tns:IsuC4cUtilAmount" minOccurs="0"/>
    </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="IsuC4cV2SCreditWorthAmt">
    <xsd:sequence>
     <xsd:element name="CreditScore" type="n0:numeric4" minOccurs="0"/>
     <xsd:element name="ScoreChange" type="n0:char10" minOccurs="0"/>
    </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="IsuC4cV2SSecDepositAmt">
    <xsd:sequence>
     <xsd:element name="RequestedAmount" type="tns:IsuC4cUtilAmount" minOccurs="0"/>
     <xsd:element name="PaidAmount" type="tns:IsuC4cUtilAmount" minOccurs="0"/>
    </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="IsuC4cV2SAuditLog">
    <xsd:sequence>
     <xsd:element name="UserName" type="n0:char40" minOccurs="0"/>
     <xsd:element name="SystemId" type="n0:char50" minOccurs="0"/>
    </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="Bapiret2T">
    <xsd:sequence>
     <xsd:element name="item" type="tns:Bapiret2" minOccurs="0" maxOccurs="unbounded"/>
    </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="IsuC4cV2TMovePremiseCust">
    <xsd:sequence>
     <xsd:element name="item" type="tns:IsuC4cV2SMovePremiseCust" minOccurs="0" maxOccurs="unbounded"/>
    </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="IsuC4cV2TAlerts">
    <xsd:sequence>
     <xsd:element name="item" type="tns:IsuC4cV2SAlerts" minOccurs="0" maxOccurs="unbounded"/>
    </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="IsuC4cV2TMovePremiseServ">
    <xsd:sequence>
     <xsd:element name="item" type="tns:IsuC4cV2SMovePremiseServ" minOccurs="0" maxOccurs="unbounded"/>
    </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="IsuC4cV2TMoveMeterRead">
    <xsd:sequence>
     <xsd:element name="item" type="tns:IsuC4cV2SMoveMeterRead" minOccurs="0" maxOccurs="unbounded"/>
    </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="IsuC4cV2TMoveSecDeposit">
    <xsd:sequence>
     <xsd:element name="item" type="tns:IsuC4cV2SMoveSecDeposit" minOccurs="0" maxOccurs="unbounded"/>
    </xsd:sequence>
   </xsd:complexType>
   <xsd:element name="IsuC4cV2MoveGet">
    <xsd:complexType>
     <xsd:sequence>
      <xsd:element name="IvMoveinDocument" type="n0:char12" minOccurs="0"/>
      <xsd:element name="IvMoveoutDocument" type="n0:char12" minOccurs="0"/>
     </xsd:sequence>
    </xsd:complexType>
   </xsd:element>
   <xsd:element name="IsuC4cV2MoveGetResponse">
    <xsd:complexType>
     <xsd:sequence>
      <xsd:element name="EsMoveData" type="tns:IsuC4cV2SMoveData" minOccurs="0"/>
      <xsd:element name="EtMessages" type="tns:Bapiret2T" minOccurs="0"/>
     </xsd:sequence>
    </xsd:complexType>
   </xsd:element>
   <xsd:element name="IsuC4cV2MoveCreate">
    <xsd:complexType>
     <xsd:sequence>
      <xsd:element name="IsAudit" type="tns:IsuC4cV2SAuditLog" minOccurs="0"/>
      <xsd:element name="IsMoveData" type="tns:IsuC4cV2SMoveData" minOccurs="0"/>
      <xsd:element name="IvLanguage" type="n0:char2" minOccurs="0"/>
     </xsd:sequence>
    </xsd:complexType>
   </xsd:element>
   <xsd:element name="IsuC4cV2MoveCreateResponse">
    <xsd:complexType>
     <xsd:sequence>
      <xsd:element name="EsMoveData" type="tns:IsuC4cV2SMoveData" minOccurs="0"/>
      <xsd:element name="EtMessages" type="tns:Bapiret2T" minOccurs="0"/>
     </xsd:sequence>
    </xsd:complexType>
   </xsd:element>
   <xsd:element name="IsuC4cV2MoveEdit">
    <xsd:complexType>
     <xsd:sequence>
      <xsd:element name="IsAudit" type="tns:IsuC4cV2SAuditLog" minOccurs="0"/>
      <xsd:element name="IsMoveData" type="tns:IsuC4cV2SMoveData" minOccurs="0"/>
     </xsd:sequence>
    </xsd:complexType>
   </xsd:element>
   <xsd:element name="IsuC4cV2MoveEditResponse">
    <xsd:complexType>
     <xsd:sequence>
      <xsd:element name="EtMessages" type="tns:Bapiret2T" minOccurs="0"/>
     </xsd:sequence>
    </xsd:complexType>
   </xsd:element>
  </xsd:schema>
 </wsdl:types>
 <wsdl:message name="IsuC4cV2MoveGet">
  <wsdl:part name="parameters" element="tns:IsuC4cV2MoveGet"/>
 </wsdl:message>
 <wsdl:message name="IsuC4cV2MoveGetResponse">
  <wsdl:part name="parameter" element="tns:IsuC4cV2MoveGetResponse"/>
 </wsdl:message>
 <wsdl:message name="IsuC4cV2MoveCreate">
  <wsdl:part name="parameters" element="tns:IsuC4cV2MoveCreate"/>
 </wsdl:message>
 <wsdl:message name="IsuC4cV2MoveCreateResponse">
  <wsdl:part name="parameter" element="tns:IsuC4cV2MoveCreateResponse"/>
 </wsdl:message>
 <wsdl:message name="IsuC4cV2MoveEdit">
  <wsdl:part name="parameters" element="tns:IsuC4cV2MoveEdit"/>
 </wsdl:message>
 <wsdl:message name="IsuC4cV2MoveEditResponse">
  <wsdl:part name="parameter" element="tns:IsuC4cV2MoveEditResponse"/>
 </wsdl:message>
 <wsdl:portType name="ISU_C4C_V2_MOVE">
  <wsdl:documentation>
   <sapdoc:sapdoc xmlns:sapdoc="urn:sap:esi:documentation">
    <sapdoc:docitem docURL="http://ldciemo.wdf.sap.corp:50000/sap/bc/esdt/docu/sd_text?sap-client=300&amp;sd_name=ISU_C4C_V2_MOVE"/>
    <sapdoc:docitem applicationComponent="IS-U-CS-C4C"/>
   </sapdoc:sapdoc>
  </wsdl:documentation>
  <wsp:Policy>
   <wsp:PolicyReference URI="#IF_IF_ISU_C4C_V2_MOVE"/>
  </wsp:Policy>
  <wsdl:operation name="IsuC4cV2MoveGet">
   <wsp:Policy>
    <wsp:PolicyReference URI="#OP_IF_OP_IsuC4cV2MoveGet"/>
   </wsp:Policy>
   <wsdl:input message="tns:IsuC4cV2MoveGet"/>
   <wsdl:output message="tns:IsuC4cV2MoveGetResponse"/>
  </wsdl:operation>
  <wsdl:operation name="IsuC4cV2MoveCreate">
   <wsp:Policy>
    <wsp:PolicyReference URI="#OP_IF_OP_IsuC4cV2MoveCreate"/>
   </wsp:Policy>
   <wsdl:input message="tns:IsuC4cV2MoveCreate"/>
   <wsdl:output message="tns:IsuC4cV2MoveCreateResponse"/>
  </wsdl:operation>
  <wsdl:operation name="IsuC4cV2MoveEdit">
   <wsp:Policy>
    <wsp:PolicyReference URI="#OP_IF_OP_IsuC4cV2MoveEdit"/>
   </wsp:Policy>
   <wsdl:input message="tns:IsuC4cV2MoveEdit"/>
   <wsdl:output message="tns:IsuC4cV2MoveEditResponse"/>
  </wsdl:operation>
 </wsdl:portType>
</wsdl:definitions>
