Resources/schemas/Wsdl/SAP_S-4HANA_Integration_with_Microsoft_Power_BI_Employee_Dashboards - MMtoPowerBI1.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="SI_MMPowerBI" targetNamespace="http://sap.com/xi/RAC" xmlns:p1="http://sap.com/xi/RAC" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
	<wsdl:documentation/>
	<wsp:UsingPolicy wsdl:required="true"/>
	<wsp:Policy wsu:Id="OP_SI_MMPowerBI"/>
	<wsdl:types>
		<xsd:schema targetNamespace="http://sap.com/xi/RAC" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://sap.com/xi/RAC">
			<xsd:element name="MT_MMPowerBI" type="DT_MMPowerBI"/>
			<xsd:complexType name="DT_MMPowerBI">
				<xsd:sequence>
					<xsd:element name="root" minOccurs="0" maxOccurs="unbounded">
						<xsd:complexType>
							<xsd:sequence>
								<xsd:element name="PurchaseRequisitionNumber" type="xsd:string" minOccurs="0"/>
								<xsd:element name="PR_LineItem" type="xsd:string" minOccurs="0"/>
								<xsd:element name="Requisitiondate" type="xsd:string" minOccurs="0"/>
								<xsd:element name="PR_HeldStatus" type="xsd:string" minOccurs="0"/>
								<xsd:element name="Deletionindicator" type="xsd:string" minOccurs="0"/>
								<xsd:element name="Createdby" type="xsd:string" minOccurs="0"/>
								<xsd:element name="PR_Status" type="xsd:string" minOccurs="0"/>
								<xsd:element name="PR_ApprovalDate" type="xsd:string" minOccurs="0"/>
								<xsd:element name="PRtoPO_Status" type="xsd:string" minOccurs="0"/>
								<xsd:element name="PR_Department" type="xsd:string" minOccurs="0"/>
								<xsd:element name="PR_ItemCategory" type="xsd:string" minOccurs="0"/>
								<xsd:element name="Acct_Assignment_Cat." type="xsd:string" minOccurs="0"/>
								<xsd:element name="PR_Material" type="xsd:string" minOccurs="0"/>
								<xsd:element name="PR_ShortText" type="xsd:string" minOccurs="0"/>
								<xsd:element name="MaterialGroup" type="xsd:string" minOccurs="0"/>
								<xsd:element name="PurchasingGroup" type="xsd:string" minOccurs="0"/>
								<xsd:element name="PR_Quantity" type="xsd:string" minOccurs="0"/>
								<xsd:element name="PR_UnitOfMeasure" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="PR_ValuationPrice" type="xsd:string" minOccurs="0"/>
								<xsd:element name="PR_Currency" type="xsd:string" minOccurs="0"/>
								<xsd:element name="PR_LineAmount" type="xsd:string" minOccurs="0"/>
								<xsd:element name="PR_TotalAmount" type="xsd:string" minOccurs="0"/>
								<xsd:element name="PR_Fund" type="xsd:string" minOccurs="0"/>
								<xsd:element name="PR_Fundscenter" type="xsd:string" minOccurs="0"/>
								<xsd:element name="PR_GLAccount" type="xsd:string" minOccurs="0"/>
								<xsd:element name="PR_CostCenter" type="xsd:string" minOccurs="0"/>
								<xsd:element name="PR_Asset" type="xsd:string" minOccurs="0"/>
								<xsd:element name="PR_Commitmentitem" type="xsd:string" minOccurs="0"/>
								<xsd:element name="PO_Number" type="xsd:string" minOccurs="0"/>
								<xsd:element name="PO_ItemNumber" type="xsd:string" minOccurs="0"/>
								<xsd:element name="PO_CreatedOn" type="xsd:string" minOccurs="0"/>
								<xsd:element name="PO_CreatedBy" type="xsd:string" minOccurs="0"/>
								<xsd:element name="PO_Status" type="xsd:string" minOccurs="0"/>
								<xsd:element name="PO_ApprovalDate" type="xsd:string" minOccurs="0"/>
								<xsd:element name="PO_ItemCategory" type="xsd:string" minOccurs="0"/>
								<xsd:element name="PO_Acct_AssignmentCat." type="xsd:string" minOccurs="0"/>
                                <xsd:element name="PO_Fund" type="xsd:string" minOccurs="0"/>
								<xsd:element name="PO_Fundscenter" type="xsd:string" minOccurs="0"/>
	                            <xsd:element name="PO_GLAccount" type="xsd:string" minOccurs="0"/>
								<xsd:element name="PO_CostCenter" type="xsd:string" minOccurs="0"/>
								<xsd:element name="PO_Asset" type="xsd:string" minOccurs="0"/>
								<xsd:element name="PO_CommitmentItem" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="PO_DeletionIndicator" type="xsd:string" minOccurs="0"/>
								<xsd:element name="PO_HeldStatus" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="PO_Material" type="xsd:string" minOccurs="0"/>
								<xsd:element name="PO_ShortText" type="xsd:string" minOccurs="0"/>
								<xsd:element name="PO_Quantity" type="xsd:string" minOccurs="0"/>
								<xsd:element name="PO_UnitOfMeasure" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="PO_NetPrice" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="PO_Currency" type="xsd:string" minOccurs="0"/>
								<xsd:element name="PO_LineAmount" type="xsd:string" minOccurs="0"/>
	                            <xsd:element name="PO_TotalAmount" type="xsd:string" minOccurs="0"/>
								<xsd:element name="PO_DeliveryDate" type="xsd:string" minOccurs="0"/>
								<xsd:element name="SupplierNumber" type="xsd:string" minOccurs="0"/>
								<xsd:element name="SupplierName" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="PO_DeliveryCompletedIndicator" type="xsd:string" minOccurs="0"/>
								<xsd:element name="DeliveredquantityLineItem" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="StilltobedeliveredQty" type="xsd:string" minOccurs="0"/>
								<xsd:element name="DeliveredValueLineItem" type="xsd:string" minOccurs="0"/>
								<xsd:element name="StilltobedeliveredLineItem" type="xsd:string" minOccurs="0"/>
								<xsd:element name="StilltobeInvoicedLineItem" type="xsd:string" minOccurs="0"/>
							</xsd:sequence>
						</xsd:complexType>
					</xsd:element>
				</xsd:sequence>
			</xsd:complexType>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="MT_MMPowerBI">
		<wsdl:documentation/>
		<wsdl:part name="MT_MMPowerBI" element="p1:MT_MMPowerBI"/>
	</wsdl:message>
	<wsdl:portType name="SI_MMPowerBI">
		<wsdl:documentation/>
		<wsdl:operation name="SI_MMPowerBI">
			<wsdl:documentation/>
			<wsp:Policy>
				<wsp:PolicyReference URI="#OP_SI_MMPowerBI"/>
			</wsp:Policy>
			<wsdl:input message="p1:MT_MMPowerBI"/>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="SI_MMPowerBIBinding" type="p1:SI_MMPowerBI">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"/>
		<wsdl:operation name="SI_MMPowerBI">
			<soap:operation soapAction="http://sap.com/xi/WebService/soap1.1" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"/>
			<wsdl:input>
				<soap:body use="literal" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"/>
			</wsdl:input>
		</wsdl:operation>
	</wsdl:binding>
</wsdl:definitions>