Resources/schemas/Wsdl/SAP_S-4HANA_Statutory_Reporting_for_Chile - RemittanceBook.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
 xmlns:tns="http://sap.com/xi/APPL/GS/CL" 
 xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" 
 xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
 name="ClRemittanceBook" 
 targetNamespace="http://sap.com/xi/APPL/GS/CL">
  <wsdl:types>
    <xsd:schema 
    targetNamespace="http://sap.com/xi/APPL/GS/CL">
     
      <xsd:element name="RemittanceBook">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="RemittanceBookData" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      
      <xsd:element name="RemittanceBookResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="SignedRemittanceBookData" type="xsd:base64Binary"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      
    </xsd:schema>
  </wsdl:types>
  
  <wsdl:message name="RemittanceBookRequest">
    <wsdl:part element="tns:RemittanceBook" name="RemittanceBookRequestParameter"/>
  </wsdl:message>  
  <wsdl:message name="RemittanceBookResponse">
    <wsdl:part element="tns:RemittanceBookResponse" name="SignedRemittanceBookResponseParameter"/>
  </wsdl:message>
  
  <wsdl:portType name="ClRemittanceBook">
    <wsdl:operation name="SignRemittanceBook">
      <wsdl:input message="tns:RemittanceBookRequest" name="RemittanceBookIn"/>
      <wsdl:output message="tns:RemittanceBookResponse" name="RemittanceBookOut"/>
    </wsdl:operation>
  </wsdl:portType>
  
  <wsdl:binding name="RemittanceBookSOAP" type="tns:ClRemittanceBook">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="SignRemittanceBook">
      <soap:operation soapAction="http://sap.com/xi/APPL/GS/CL/NewOperation"/>
      <wsdl:input name="RemittanceBookIn">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="RemittanceBookOut">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  
  <wsdl:service name="ClRemittanceBook">
    <wsdl:port binding="tns:RemittanceBookSOAP" name="RemittanceBookSOAP">
      <soap:address location="http://www.example.org/"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
