Resources/schemas/Wsdl/SAP_Document_and_Reporting_Compliance-_Electronic_Documents_for_Chile - ChileMailUpdate.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.sap.com/ChileMailUpdate/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ChileMailUpdate" targetNamespace="http://www.sap.com/ChileMailUpdate/" xmlns:xsd1="http://www.sap.com/ChileIncomingMailUpdate">
  <wsdl:types>
    <xsd:schema targetNamespace="http://www.sap.com/ChileMailUpdate/">
      <xsd:element name="ChileMailUpdate">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="in" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="ChileMailUpdateResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="out" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
    <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    	<xsd:import
    		namespace="http://www.sap.com/ChileIncomingMailUpdate"
    		schemaLocation="ChileIncomingMailUpdate13_12_22.xsd">
    	</xsd:import></xsd:schema></wsdl:types>
  <wsdl:message name="FetchDetailRequest">
    <wsdl:part element="xsd1:ChileMailUpdateRequest"
    	name="ChileMailUpdateRequest" />
  </wsdl:message>
  <wsdl:message name="FetchDetailResponse">
    <wsdl:part element="xsd1:ChileMailUpdateResponse"
    	name="ChileMailUpdateResponse" />
  </wsdl:message>
  <wsdl:portType name="ChileMailUpdate">
    <wsdl:operation name="FetchDetail">
      <wsdl:input message="tns:FetchDetailRequest" name="ChileMailUpdateRequest"/>
      <wsdl:output message="tns:FetchDetailResponse" name="ChileMailUpdateResponse"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ChileMailUpdateSOAP" type="tns:ChileMailUpdate">
  	<soap:binding style="document"
  		transport="http://schemas.xmlsoap.org/soap/http" />
  	<wsdl:operation name="FetchDetail">
  		<soap:operation
  			soapAction="http://www.sap.com/ChileMailUpdate/FetchDetail" />
  		<wsdl:input name="ChileMailUpdateRequest">
  			<soap:body use="literal" />
  		</wsdl:input>
  		<wsdl:output name="ChileMailUpdateResponse">
  			<soap:body use="literal" />
  		</wsdl:output>
  	</wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ChileMailUpdate">
    <wsdl:port binding="tns:ChileMailUpdateSOAP" name="ChileMailUpdateSOAP">
      <soap:address location="http://www.sap.com/"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
