Resources/schemas/Wsdl/SAP_SuccessFactors_Employee_Central_Integration_with_SAP_Access_Control - grac_sfec_hr_trigger2-1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions targetNamespace="urn:sap-com:document:sap:soap:functions:mc-style"
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsoap12="http://schemas.xmlsoap.org/wsdl/soap12/"
	xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/"
	xmlns:tns="urn:sap-com:document:sap:soap:functions:mc-style" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy"
	xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd"
	xmlns:n1="urn:sap-com:document:sap:rfc:functions">
	<wsdl:documentation>
		<sidl:sidl xmlns:sidl="http://www.sap.com/2007/03/sidl" />
	</wsdl:documentation>
	<wsdl:types>
		<xsd:schema attributeFormDefault="qualified"
			targetNamespace="urn:sap-com:document:sap:rfc:functions">
			<xsd:simpleType name="char132">
				<xsd:restriction base="xsd:string">
					<xsd:maxLength value="132" />
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:simpleType name="char255">
				<xsd:restriction base="xsd:string">
					<xsd:maxLength value="255" />
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:simpleType name="char32">
				<xsd:restriction base="xsd:string">
					<xsd:maxLength value="32" />
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:simpleType name="string">
				<xsd:restriction base="xsd:string" />
			</xsd:simpleType>
		</xsd:schema>
		<xsd:schema attributeFormDefault="qualified"
			targetNamespace="urn:sap-com:document:sap:soap:functions:mc-style"
			xmlns:n0="urn:sap-com:document:sap:rfc:functions">
			<xsd:import namespace="urn:sap-com:document:sap:rfc:functions" />
			<xsd:simpleType name="char30">
				<xsd:restriction base="xsd:string">
					<xsd:maxLength value="30" />
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:complexType name="GracSSfecHrtrgWsUser">
				<xsd:sequence>
					<xsd:element name="Userid" type="n0:string" />
					<xsd:element name="Title" type="n0:string" />
					<xsd:element name="Fname" type="n0:string" />
					<xsd:element name="Lname" type="n0:string" />
					<xsd:element name="SncName" type="n0:string" />
					<xsd:element name="UnsecSnc" type="n0:string" />
					<xsd:element name="Accno" type="n0:string" />
					<xsd:element name="UserGroup" type="n0:string" />
					<xsd:element name="ValidFrom" type="n0:string" />
					<xsd:element name="ValidTo" type="n0:string" />
					<xsd:element name="Empposition" type="n0:string" />
					<xsd:element name="Empjob" type="n0:string" />
					<xsd:element name="Personnelno" type="n0:string" />
					<xsd:element name="Personnelarea" type="n0:string" />
					<xsd:element name="CommMethod" type="n0:string" />
					<xsd:element name="Fax" type="n0:string" />
					<xsd:element name="Email" type="n0:string" />
					<xsd:element name="Telnumber" type="n0:string" />
					<xsd:element name="Department" type="n0:string" />
					<xsd:element name="Company" type="n0:string" />
					<xsd:element name="Location" type="n0:string" />
					<xsd:element name="Costcenter" type="n0:string" />
					<xsd:element name="Printer" type="n0:string" />
					<xsd:element name="Orgunit" type="n0:string" />
					<xsd:element name="Emptype" type="n0:string" />
					<xsd:element name="Manager" type="n0:string" />
					<xsd:element name="ManagerEmail" type="n0:string" />
					<xsd:element name="ManagerFirstname" type="n0:string" />
					<xsd:element name="ManagerLastname" type="n0:string" />
					<xsd:element name="StartMenu" type="n0:string" />
					<xsd:element name="LogonLang" type="n0:string" />
					<xsd:element name="DecNotation" type="n0:string" />
					<xsd:element name="DateFormat" type="n0:string" />
					<xsd:element name="Alias" type="n0:string" />
					<xsd:element name="UserType" type="n0:string" />
					<xsd:element name="Companyid" type="n0:char32" />
					<xsd:element name="UserChange" type="tns:GracTSfecHrtrgWsUsrchange" />
					<xsd:element name="CustomFields" type="tns:GracTSfecWsUsrCustFlds" />
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="GracSSfecHrtrgWsUsrchange">
				<xsd:sequence>
					<xsd:element name="FieldName1" type="n0:char132" />
					<xsd:element name="OldValue1" type="n0:char255" />
					<xsd:element name="NewValue1" type="n0:char255" />
					<xsd:element name="FieldName2" type="n0:char132" />
					<xsd:element name="OldValue2" type="n0:char255" />
					<xsd:element name="NewValue2" type="n0:char255" />
					<xsd:element name="FieldName3" type="n0:char132" />
					<xsd:element name="OldValue3" type="n0:char255" />
					<xsd:element name="NewValue3" type="n0:char255" />
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="GracSSfecWsUsrCustFlds">
				<xsd:sequence>
					<xsd:element name="Fieldname" type="tns:char30" />
					<xsd:element name="Value" type="n0:string" />
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="GracTSfecHrtrgWsUser">
				<xsd:sequence>
					<xsd:element name="item" type="tns:GracSSfecHrtrgWsUser"
						minOccurs="0" maxOccurs="unbounded" />
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="GracTSfecHrtrgWsUsrchange">
				<xsd:sequence>
					<xsd:element name="item" type="tns:GracSSfecHrtrgWsUsrchange"
						minOccurs="0" maxOccurs="unbounded" />
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="GracTSfecWsUsrCustFlds">
				<xsd:sequence>
					<xsd:element name="item" type="tns:GracSSfecWsUsrCustFlds"
						minOccurs="0" maxOccurs="unbounded" />
				</xsd:sequence>
			</xsd:complexType>
			<xsd:element name="GracSfecHrTriggerReceiver">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="UserChangeDetails" type="tns:GracTSfecHrtrgWsUser"
							minOccurs="0" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="GracSfecHrTriggerReceiverResponse">
				<xsd:complexType>
					<xsd:sequence />
				</xsd:complexType>
			</xsd:element>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="GracSfecHrTriggerReceiver">
		<wsdl:part name="parameters" element="tns:GracSfecHrTriggerReceiver" />
	</wsdl:message>
	<wsdl:message name="GracSfecHrTriggerReceiverResponse">
		<wsdl:part name="parameter" element="tns:GracSfecHrTriggerReceiverResponse" />
	</wsdl:message>
	<wsdl:portType name="GRAC_SFEC_HR_TRIGGER">
		<wsdl:documentation>
			<sapdoc:sapdoc xmlns:sapdoc="urn:sap:esi:documentation">
				<sapdoc:docitem
					docURL="http://ldcigjd.wdf.sap.corp:50018/sap/bc/esdt/docu/sd_text?sap-client=100&amp;sd_name=GRAC_SFEC_HR_TRIGGER" />
				<sapdoc:docitem applicationComponent="GRC-AC" />
			</sapdoc:sapdoc>
		</wsdl:documentation>
		<wsdl:operation name="GracSfecHrTriggerReceiver">
			<wsdl:input message="tns:GracSfecHrTriggerReceiver" />
			<wsdl:output message="tns:GracSfecHrTriggerReceiverResponse" />
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="GRAC_SFEC_HR_TRIGGER_soap11_1" type="tns:GRAC_SFEC_HR_TRIGGER">
		<soap:binding transport="http://schemas.xmlsoap.org/soap/http"
			style="document" />
		<wsdl:operation name="GracSfecHrTriggerReceiver">
			<soap:operation
				soapAction="urn:sap-com:document:sap:soap:functions:mc-style:GRAC_SFEC_HR_TRIGGER:GracSfecHrTriggerReceiverRequest"
				style="document" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="GRAC_SFEC_HR_TRIGGER">
		<wsdl:port name="GRAC_SFEC_HR_TRIGGER_soap11_1" binding="tns:GRAC_SFEC_HR_TRIGGER_soap11_1">
			<soap:address
				location="http://ldcigjd.wdf.sap.corp:50018/sap/bc/srt/rfc/sap/grac_sfec_hr_trigger/100/grac_sfec_hr_trigger/grac_sfec_hr_trigger" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>