Resources/schemas/Wsdl/SAP_Sales_Cloud_and_SAP_Service_Cloud_Version_2_Integration_for_Master_Data_with_SAP_S-4HANA_Cloud_Public_Edition - BusinessPartnerRelationshipSUITEBulkReplicateRequest_In.WSDL

<?xml version="1.0" encoding="UTF-8"?><wsdl:definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:n1="http://sap.com/xi/SAPGlobal20/Global" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://sap.com/xi/SAP_BS_FND/MDG/Global2" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsoap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://sap.com/xi/SAP_BS_FND/MDG/Global2">
 <wsdl:documentation>
  <sidl:sidl xmlns:sidl="http://www.sap.com/2007/03/sidl"/>
 </wsdl:documentation>
 <wsp:UsingPolicy wsdl:required="true"/>
 <wsp:Policy wsu:Id="OP_IF_OP_BusinessPartnerRelationshipSUITEBulkReplicateRequest_In">
  <sapcomhnd:enableCommit xmlns:sapcomhnd="http://www.sap.com/NW05/soap/features/commit/">true</sapcomhnd:enableCommit>
  <sapblock:enableBlocking xmlns:sapblock="http://www.sap.com/NW05/soap/features/blocking/">false</sapblock:enableBlocking>
  <saptrhnw05:required xmlns:saptrhnw05="http://www.sap.com/NW05/soap/features/transaction/">yes</saptrhnw05:required>
  <saprmnw05:enableWSRM xmlns:saprmnw05="http://www.sap.com/NW05/soap/features/wsrm/">true</saprmnw05:enableWSRM>
 </wsp:Policy>
 <wsdl:types>
  <xsd:schema xmlns="http://sap.com/xi/SAP_BS_FND/MDG/Global2" xmlns:ccts="urn:un:unece:uncefact:documentation:standard:CoreComponentsTechnicalSpecification:3.0" xmlns:sprx="urn:sap.com:abap:proxy" xmlns:xi0="http://sap.com/xi/SAPGlobal20/Global" targetNamespace="http://sap.com/xi/SAP_BS_FND/MDG/Global2">
   <xsd:annotation>
    <xsd:documentation>
     <sprx:documentation baseURL="http://ldciqw9.wdf.sap.corp:50000/sap/bc/esdt/docu/xsd_type?sap-client=300" version="1"/>
    </xsd:documentation>
   </xsd:annotation>
   <xsd:complexType name="AcademicTitleCode">
    <xsd:annotation>
     <xsd:documentation xml:lang="EN">
      <ccts:RepresentationTerm>Code</ccts:RepresentationTerm>
     </xsd:documentation>
    </xsd:annotation>
    <xsd:simpleContent>
     <xsd:extension base="AcademicTitleCode.Content">
      <xsd:attribute name="listID">
       <xsd:simpleType>
        <xsd:restriction base="xsd:token">
         <xsd:maxLength value="60"/>
         <xsd:minLength value="1"/>
        </xsd:restriction>
       </xsd:simpleType>
      </xsd:attribute>
      <xsd:attribute name="listVersionID">
       <xsd:simpleType>
        <xsd:restriction base="xsd:token">
         <xsd:maxLength value="15"/>
         <xsd:minLength value="1"/>
        </xsd:restriction>
       </xsd:simpleType>
      </xsd:attribute>
      <xsd:attribute name="listAgencyID">
       <xsd:simpleType>
        <xsd:restriction base="xsd:token">
         <xsd:maxLength value="60"/>
         <xsd:minLength value="1"/>
        </xsd:restriction>
       </xsd:simpleType>
      </xsd:attribute>
      <xsd:attribute name="listAgencySchemeID">
       <xsd:simpleType>
        <xsd:restriction base="xsd:token">
         <xsd:maxLength value="60"/>
         <xsd:minLength value="1"/>
        </xsd:restriction>
       </xsd:simpleType>
      </xsd:attribute>
      <xsd:attribute name="listAgencySchemeAgencyID" type="AgencyIdentificationCode"/>
     </xsd:extension>
    </xsd:simpleContent>
   </xsd:complexType>
   <xsd:simpleType name="AcademicTitleCode.Content">
    <xsd:restriction base="xsd:token">
     <xsd:maxLength value="4"/>
     <xsd:minLength value="1"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="ActionCode">
    <xsd:annotation>
     <xsd:documentation xml:lang="EN">
      <ccts:RepresentationTerm>Code</ccts:RepresentationTerm>
     </xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:token">
     <xsd:enumeration value="01"/>
     <xsd:enumeration value="02"/>
     <xsd:enumeration value="03"/>
     <xsd:enumeration value="04"/>
     <xsd:enumeration value="05"/>
     <xsd:enumeration value="06"/>
     <xsd:length value="2"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:complexType name="AddressRepresentationCode">
    <xsd:annotation>
     <xsd:documentation xml:lang="EN">
      <ccts:RepresentationTerm>Code</ccts:RepresentationTerm>
     </xsd:documentation>
    </xsd:annotation>
    <xsd:simpleContent>
     <xsd:extension base="AddressRepresentationCode.Content">
      <xsd:attribute name="listID">
       <xsd:simpleType>
        <xsd:restriction base="xsd:token">
         <xsd:maxLength value="60"/>
         <xsd:minLength value="1"/>
        </xsd:restriction>
       </xsd:simpleType>
      </xsd:attribute>
      <xsd:attribute name="listVersionID">
       <xsd:simpleType>
        <xsd:restriction base="xsd:token">
         <xsd:maxLength value="15"/>
         <xsd:minLength value="1"/>
        </xsd:restriction>
       </xsd:simpleType>
      </xsd:attribute>
      <xsd:attribute name="listAgencyID">
       <xsd:simpleType>
        <xsd:restriction base="xsd:token">
         <xsd:maxLength value="60"/>
         <xsd:minLength value="1"/>
        </xsd:restriction>
       </xsd:simpleType>
      </xsd:attribute>
      <xsd:attribute name="listAgencySchemeID">
       <xsd:simpleType>
        <xsd:restriction base="xsd:token">
         <xsd:maxLength value="60"/>
         <xsd:minLength value="1"/>
        </xsd:restriction>
       </xsd:simpleType>
      </xsd:attribute>
      <xsd:attribute name="listAgencySchemeAgencyID" type="AgencyIdentificationCode"/>
     </xsd:extension>
    </xsd:simpleContent>
   </xsd:complexType>
   <xsd:simpleType name="AddressRepresentationCode.Content">
    <xsd:restriction base="xsd:token">
     <xsd:length value="1"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="AgencyIdentificationCode">
    <xsd:annotation>
     <xsd:documentation xml:lang="EN">
      <ccts:RepresentationTerm>Code</ccts:RepresentationTerm>
     </xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:token">
     <xsd:maxLength value="3"/>
     <xsd:minLength value="1"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:complexType name="Amount">
    <xsd:annotation>
     <xsd:documentation xml:lang="EN">
      <ccts:RepresentationTerm>Amount</ccts:RepresentationTerm>
     </xsd:documentation>
    </xsd:annotation>
    <xsd:simpleContent>
     <xsd:extension base="Amount.Content">
      <xsd:attribute name="currencyCode" type="CurrencyCode" use="required"/>
     </xsd:extension>
    </xsd:simpleContent>
   </xsd:complexType>
   <xsd:simpleType name="Amount.Content">
    <xsd:restriction base="xsd:decimal">
     <xsd:totalDigits value="28"/>
     <xsd:fractionDigits value="6"/>
     <xsd:maxInclusive value="9999999999999999999999.999999"/>
     <xsd:minInclusive value="-9999999999999999999999.999999"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:complexType name="BPRelshpSUITEBulkRplctReqMsg">
    <xsd:sequence>
     <xsd:element name="MessageHeader" type="BusinessDocumentMessageHeader"/>
     <xsd:element maxOccurs="unbounded" name="BusinessPartnerRelationshipSUITEReplicateRequestMessage" type="BPRelshpSUITERplctReqMsg"/>
    </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="BPRelshpSUITERplctReqBPRelshp">
    <xsd:sequence>
     <xsd:element minOccurs="0" name="BusinessPartnerUUID" type="UUID"/>
     <xsd:element minOccurs="0" name="BusinessPartnerInternalID" type="BusinessPartnerInternalID"/>
     <xsd:element minOccurs="0" name="ReceiverBusinessPartnerUUID" type="UUID"/>
     <xsd:element minOccurs="0" name="ReceiverBusinessPartnerInternalID" type="BusinessPartnerInternalID"/>
     <xsd:element minOccurs="0" name="RelationshipBusinessPartnerUUID" type="UUID"/>
     <xsd:element minOccurs="0" name="BusinessPartnerExternalID" type="NOCONVERSION_ObjectID"/>
     <xsd:element minOccurs="0" name="RelationshipBusinessPartnerInternalID" type="BusinessPartnerInternalID"/>
     <xsd:element minOccurs="0" name="ReceiverRelationshipBusinessPartnerUUID" type="UUID"/>
     <xsd:element minOccurs="0" name="ReceiverRelationshipBusinessPartnerInternalID" type="BusinessPartnerInternalID"/>
     <xsd:element minOccurs="0" name="RelationshipBusinessPartnerExternalID" type="NOCONVERSION_ObjectID"/>
     <xsd:element minOccurs="0" name="RoleCode" type="MDGBusinessPartnerRelationshipCategoryCode"/>
     <xsd:element minOccurs="0" name="ValidityPeriod" type="CLOSED_DatePeriod"/>
     <xsd:element minOccurs="0" name="DefaultIndicator" type="OPTIONAL_Indicator"/>
     <xsd:element minOccurs="0" name="RelationshipKindCode" type="BusinessPartnerRelationshipKindCode"/>
     <xsd:element minOccurs="0" name="ContactPerson" type="BPRelshpSUITERplctReqCntctPersn"/>
     <xsd:element minOccurs="0" name="ShareHolder" type="BPRelshpSUITERplctReqShrhldr"/>
    </xsd:sequence>
    <xsd:attribute name="actionCode" type="ActionCode"/>
    <xsd:attribute name="changeOrdinalNumberValue" type="OrdinalNumberValue_V1"/>
    <xsd:attribute name="reconciliationPeriodCounterValue" type="CounterValue"/>
   </xsd:complexType>
   <xsd:complexType name="BPRelshpSUITERplctReqCntctPersn">
    <xsd:sequence>
     <xsd:element minOccurs="0" name="BusinessPartnerFunctionTypeCode" type="BusinessPartnerFunctionTypeCode"/>
     <xsd:element minOccurs="0" name="BusinessPartnerFunctionalAreaCode" type="BusinessPartnerFunctionalAreaCode"/>
     <xsd:element minOccurs="0" name="PowerOfAttorneyTypeCode" type="PowerOfAttorneyTypeCode"/>
     <xsd:element minOccurs="0" name="VIPReasonCode" type="VIPReasonCode"/>
     <xsd:element minOccurs="0" name="ContactPersonNote" type="LANGUAGEINDEPENDENT_SHORT_Note"/>
     <xsd:element maxOccurs="unbounded" minOccurs="0" name="WorkplaceAddressInformation" type="BPRelshpSUITERplctReqCntctPersnWplcAddrInfo"/>
     <xsd:element minOccurs="0" name="CustomerContactPerson" type="BPRelshpSUITERplctReqCustSuplrCntctPersn"/>
     <xsd:element minOccurs="0" name="SupplierContactPerson" type="BPRelshpSUITERplctReqCustSuplrCntctPersn"/>
    </xsd:sequence>
    <xsd:attribute name="actionCode" type="ActionCode"/>
    <xsd:attribute name="workplaceAddressListCompleteTransmissionIndicator" type="OPTIONAL_Indicator"/>
   </xsd:complexType>
   <xsd:complexType name="BPRelshpSUITERplctReqCntctPersnWplcAddrInfo">
    <xsd:sequence>
     <xsd:element minOccurs="0" name="AddressReceiverUUID" type="UUID"/>
     <xsd:element minOccurs="0" name="AddressUUID" type="UUID"/>
     <xsd:element minOccurs="0" name="DefaultIndicator" type="OPTIONAL_Indicator"/>
     <xsd:element minOccurs="0" name="Address" type="BPRelshpSUITERplctReqCntctPersnWplcAddrInfoAddr"/>
    </xsd:sequence>
    <xsd:attribute name="actionCode" type="ActionCode"/>
   </xsd:complexType>
   <xsd:complexType name="BPRelshpSUITERplctReqCntctPersnWplcAddrInfoAddr">
    <xsd:sequence>
     <xsd:element minOccurs="0" name="CommunicationPreference" type="BPRelshpSUITERplctReqCntctPersnWplcAddrInfoAddrCommPref"/>
     <xsd:element maxOccurs="unbounded" minOccurs="0" name="Email" type="BPRelshpSUITERplctReqCntctPersnWplcAddrInfoAddrEml"/>
     <xsd:element maxOccurs="unbounded" minOccurs="0" name="Facsimile" type="BPRelshpSUITERplctReqCntctPersnWplcAddrInfoAddrFacs"/>
     <xsd:element maxOccurs="unbounded" minOccurs="0" name="Telephone" type="BPRelshpSUITERplctReqCntctPersnWplcAddrInfoAddrTel"/>
     <xsd:element maxOccurs="unbounded" minOccurs="0" name="Web" type="BPRelshpSUITERplctReqCntctPersnWplcAddrInfoAddrWeb"/>
     <xsd:element maxOccurs="unbounded" minOccurs="0" name="AddressRepresentationPersonName" type="BPRelshpSUITERplctReqCntctPersnWplcAddrInfoAddrRpstPersnName"/>
     <xsd:element maxOccurs="unbounded" minOccurs="0" name="Workplace" type="BPRelshpSUITERplctReqCntctPersnWplcAddrInfoAddrWplc"/>
    </xsd:sequence>
    <xsd:attribute name="actionCode" type="ActionCode"/>
    <xsd:attribute name="emailListCompleteTransmissionIndicator" type="OPTIONAL_Indicator"/>
    <xsd:attribute name="facsimileListCompleteTransmissionIndicator" type="OPTIONAL_Indicator"/>
    <xsd:attribute name="telephoneListCompleteTransmissionIndicator" type="OPTIONAL_Indicator"/>
    <xsd:attribute name="webListCompleteTransmissionIndicator" type="OPTIONAL_Indicator"/>
    <xsd:attribute name="workplaceListCompleteTransmissionIndicator" type="OPTIONAL_Indicator"/>
    <xsd:attribute name="addressRepresentationPersonNameListCompleteTransmissionIndicator" type="OPTIONAL_Indicator"/>
   </xsd:complexType>
   <xsd:complexType name="BPRelshpSUITERplctReqCntctPersnWplcAddrInfoAddrCommPref">
    <xsd:sequence>
     <xsd:element minOccurs="0" name="PreferredCommunicationMediumTypeCode" type="CommunicationMediumTypeCode"/>
    </xsd:sequence>
    <xsd:attribute name="actionCode" type="ActionCode"/>
   </xsd:complexType>
   <xsd:complexType name="BPRelshpSUITERplctReqCntctPersnWplcAddrInfoAddrEml">
    <xsd:sequence>
     <xsd:element name="URI" type="EmailURI"/>
     <xsd:element minOccurs="0" name="UsageDeniedIndicator" type="OPTIONAL_Indicator"/>
     <xsd:element minOccurs="0" name="ValidityPeriod" type="CLOSED_DatePeriod"/>
     <xsd:element minOccurs="0" name="TransportNeutralEncapsulationFormatEnabledIndicator" type="OPTIONAL_Indicator"/>
     <xsd:element maxOccurs="unbounded" minOccurs="0" name="EmailUsage" type="BPRelshpSUITERplctReqCntctPersnWplcAddrInfoAddrEmlUsge"/>
    </xsd:sequence>
    <xsd:attribute name="actionCode" type="ActionCode"/>
    <xsd:attribute name="eMailUsageListCompleteTransmissionIndicator" type="OPTIONAL_Indicator"/>
   </xsd:complexType>
   <xsd:complexType name="BPRelshpSUITERplctReqCntctPersnWplcAddrInfoAddrEmlUsge">
    <xsd:sequence>
     <xsd:element name="Usage" type="CommunicationAddressUsage"/>
     <xsd:element minOccurs="0" name="DefaultIndicator" type="OPTIONAL_Indicator"/>
    </xsd:sequence>
    <xsd:attribute name="actionCode" type="ActionCode"/>
   </xsd:complexType>
   <xsd:complexType name="BPRelshpSUITERplctReqCntctPersnWplcAddrInfoAddrFacs">
    <xsd:sequence>
     <xsd:element name="Number" type="PhoneNumber"/>
     <xsd:element minOccurs="0" name="FormattedNumberDescription" type="LANGUAGEINDEPENDENT_SHORT_Description"/>
     <xsd:element minOccurs="0" name="UsageDeniedIndicator" type="OPTIONAL_Indicator"/>
     <xsd:element minOccurs="0" name="ValidityPeriod" type="CLOSED_DatePeriod"/>
     <xsd:element maxOccurs="unbounded" minOccurs="0" name="FacsimileUsage" type="BPRelshpSUITERplctReqCntctPersnWplcAddrInfoAddrFacsUsge"/>
    </xsd:sequence>
    <xsd:attribute name="actionCode" type="ActionCode"/>
    <xsd:attribute name="facsimileUsageListCompleteTransmissionIndicator" type="OPTIONAL_Indicator"/>
   </xsd:complexType>
   <xsd:complexType name="BPRelshpSUITERplctReqCntctPersnWplcAddrInfoAddrFacsUsge">
    <xsd:sequence>
     <xsd:element name="Usage" type="CommunicationAddressUsage"/>
     <xsd:element minOccurs="0" name="DefaultIndicator" type="OPTIONAL_Indicator"/>
    </xsd:sequence>
    <xsd:attribute name="actionCode" type="ActionCode"/>
   </xsd:complexType>
   <xsd:complexType name="BPRelshpSUITERplctReqCntctPersnWplcAddrInfoAddrRpstPersnName">
    <xsd:sequence>
     <xsd:element name="AddressRepresentationCode" type="AddressRepresentationCode"/>
     <xsd:element name="Name" type="PersonName"/>
     <xsd:element minOccurs="0" name="KeyWordsText" type="KeyWordsText"/>
     <xsd:element minOccurs="0" name="AdditionalKeyWordsText" type="KeyWordsText"/>
     <xsd:element minOccurs="0" name="FormattedName" type="LANGUAGEINDEPENDENT_LONG_Name"/>
    </xsd:sequence>
    <xsd:attribute name="actionCode" type="ActionCode"/>
   </xsd:complexType>
   <xsd:complexType name="BPRelshpSUITERplctReqCntctPersnWplcAddrInfoAddrTel">
    <xsd:sequence>
     <xsd:element name="Number" type="PhoneNumber"/>
     <xsd:element minOccurs="0" name="FormattedNumberDescription" type="LANGUAGEINDEPENDENT_SHORT_Description"/>
     <xsd:element minOccurs="0" name="UsageDeniedIndicator" type="OPTIONAL_Indicator"/>
     <xsd:element minOccurs="0" name="ValidityPeriod" type="CLOSED_DatePeriod"/>
     <xsd:element minOccurs="0" name="MobilePhoneNumberIndicator" type="OPTIONAL_Indicator"/>
     <xsd:element minOccurs="0" name="SMSEnabledIndicator" type="OPTIONAL_Indicator"/>
     <xsd:element maxOccurs="unbounded" minOccurs="0" name="TelephoneUsage" type="BPRelshpSUITERplctReqCntctPersnWplcAddrInfoAddrTelUsge"/>
    </xsd:sequence>
    <xsd:attribute name="actionCode" type="ActionCode"/>
    <xsd:attribute name="telephoneUsageListCompleteTransmissionIndicator" type="OPTIONAL_Indicator"/>
   </xsd:complexType>
   <xsd:complexType name="BPRelshpSUITERplctReqCntctPersnWplcAddrInfoAddrTelUsge">
    <xsd:sequence>
     <xsd:element name="Usage" type="CommunicationAddressUsage"/>
     <xsd:element minOccurs="0" name="DefaultIndicator" type="OPTIONAL_Indicator"/>
    </xsd:sequence>
    <xsd:attribute name="actionCode" type="ActionCode"/>
   </xsd:complexType>
   <xsd:complexType name="BPRelshpSUITERplctReqCntctPersnWplcAddrInfoAddrWeb">
    <xsd:sequence>
     <xsd:element name="URI" type="WebURI"/>
     <xsd:element minOccurs="0" name="URITypeCode" type="Code"/>
     <xsd:element minOccurs="0" name="UsageDeniedIndicator" type="OPTIONAL_Indicator"/>
     <xsd:element maxOccurs="unbounded" minOccurs="0" name="WebUsage" type="BPRelshpSUITERplctReqCntctPersnWplcAddrInfoAddrWebUsge"/>
    </xsd:sequence>
    <xsd:attribute name="actionCode" type="ActionCode"/>
    <xsd:attribute name="webUsageListCompleteTransmissionIndicator" type="OPTIONAL_Indicator"/>
   </xsd:complexType>
   <xsd:complexType name="BPRelshpSUITERplctReqCntctPersnWplcAddrInfoAddrWebUsge">
    <xsd:sequence>
     <xsd:element name="Usage" type="CommunicationAddressUsage"/>
     <xsd:element minOccurs="0" name="DefaultIndicator" type="OPTIONAL_Indicator"/>
    </xsd:sequence>
    <xsd:attribute name="actionCode" type="ActionCode"/>
   </xsd:complexType>
   <xsd:complexType name="BPRelshpSUITERplctReqCntctPersnWplcAddrInfoAddrWplc">
    <xsd:sequence>
     <xsd:element minOccurs="0" name="AddressRepresentationCode" type="AddressRepresentationCode"/>
     <xsd:element minOccurs="0" name="FunctionalTitleName" type="LANGUAGEINDEPENDENT_MEDIUM_Name"/>
     <xsd:element minOccurs="0" name="DepartmentName" type="LANGUAGEINDEPENDENT_MEDIUM_Name"/>
     <xsd:element minOccurs="0" name="BuildingID" type="BuildingID"/>
     <xsd:element minOccurs="0" name="FloorID" type="FloorID"/>
     <xsd:element minOccurs="0" name="RoomID" type="RoomID"/>
     <xsd:element minOccurs="0" name="InhouseMailID" type="InhouseMailID"/>
     <xsd:element minOccurs="0" name="CorrespondenceShortName" type="LANGUAGEINDEPENDENT_SHORT_Name"/>
    </xsd:sequence>
    <xsd:attribute name="actionCode" type="ActionCode"/>
   </xsd:complexType>
   <xsd:complexType name="BPRelshpSUITERplctReqCustSuplrCntctPersn">
    <xsd:sequence>
     <xsd:element minOccurs="0" name="InternalID" type="BusinessPartnerInternalID"/>
     <xsd:element minOccurs="0" name="ReceiverInternalID" type="BusinessPartnerInternalID"/>
    </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="BPRelshpSUITERplctReqMsg">
    <xsd:sequence>
     <xsd:element name="MessageHeader" type="BusinessDocumentMessageHeader"/>
     <xsd:element name="BusinessPartnerRelationship" type="BPRelshpSUITERplctReqBPRelshp"/>
    </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="BPRelshpSUITERplctReqShrhldr">
    <xsd:sequence>
     <xsd:element minOccurs="0" name="EquityParticipationPercent" type="Percent"/>
     <xsd:element minOccurs="0" name="EquityParticipationPercentLong" type="EquityParticipationPercentLong"/>
     <xsd:element minOccurs="0" name="EquityParticipationAmount" type="Amount"/>
     <xsd:element minOccurs="0" name="CompanyControlIndicator" type="OPTIONAL_Indicator"/>
    </xsd:sequence>
   </xsd:complexType>
   <xsd:simpleType name="BuildingID">
    <xsd:annotation>
     <xsd:documentation xml:lang="EN">
      <ccts:RepresentationTerm>Identifier</ccts:RepresentationTerm>
     </xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:token">
     <xsd:maxLength value="10"/>
     <xsd:minLength value="1"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:complexType name="BusinessDocumentMessageHeader">
    <xsd:sequence>
     <xsd:element minOccurs="0" name="ID" type="BusinessDocumentMessageID"/>
     <xsd:element minOccurs="0" name="UUID" type="UUID"/>
     <xsd:element minOccurs="0" name="ReferenceID" type="BusinessDocumentMessageID"/>
     <xsd:element minOccurs="0" name="ReferenceUUID" type="UUID"/>
     <xsd:element minOccurs="0" name="CreationDateTime" type="GLOBAL_DateTime"/>
     <xsd:element minOccurs="0" name="TestDataIndicator" type="Indicator"/>
     <xsd:element minOccurs="0" name="ReconciliationIndicator" type="Indicator"/>
     <xsd:element minOccurs="0" name="SenderBusinessSystemID" type="BusinessSystemID"/>
     <xsd:element minOccurs="0" name="RecipientBusinessSystemID" type="BusinessSystemID"/>
     <xsd:element minOccurs="0" name="SenderParty" type="BusinessDocumentMessageHeaderParty"/>
     <xsd:element minOccurs="0" name="RecipientParty" type="BusinessDocumentMessageHeaderParty"/>
     <xsd:element minOccurs="0" name="BusinessScope" type="BusinessScope"/>
    </xsd:sequence>
    <xsd:attribute name="BusinessDocumentObjectListCompleteTransmissionIndicator" type="OPTIONAL_Indicator"/>
   </xsd:complexType>
   <xsd:complexType name="BusinessDocumentMessageHeaderParty">
    <xsd:sequence>
     <xsd:element minOccurs="0" name="InternalID" type="PartyInternalID"/>
     <xsd:element maxOccurs="unbounded" minOccurs="0" name="StandardID" type="PartyStandardID"/>
     <xsd:element minOccurs="0" name="ContactPerson" type="BusinessDocumentMessageHeaderPartyContactPerson"/>
    </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="BusinessDocumentMessageHeaderPartyContactPerson">
    <xsd:sequence>
     <xsd:element minOccurs="0" name="InternalID" type="ContactPersonInternalID"/>
     <xsd:element maxOccurs="4" minOccurs="0" name="OrganisationFormattedName" type="LANGUAGEINDEPENDENT_MEDIUM_Name"/>
     <xsd:element maxOccurs="4" minOccurs="0" name="PersonFormattedName" type="LANGUAGEINDEPENDENT_LONG_Name"/>
     <xsd:element maxOccurs="unbounded" minOccurs="0" name="PhoneNumber" type="PhoneNumber"/>
     <xsd:element maxOccurs="unbounded" minOccurs="0" name="FaxNumber" type="PhoneNumber"/>
     <xsd:element maxOccurs="unbounded" minOccurs="0" name="EmailURI" type="EmailURI"/>
    </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="BusinessDocumentMessageID">
    <xsd:annotation>
     <xsd:documentation xml:lang="EN">
      <ccts:RepresentationTerm>Identifier</ccts:RepresentationTerm>
     </xsd:documentation>
    </xsd:annotation>
    <xsd:simpleContent>
     <xsd:extension base="BusinessDocumentMessageID.Content">
      <xsd:attribute name="schemeID">
       <xsd:simpleType>
        <xsd:restriction base="xsd:token">
         <xsd:maxLength value="60"/>
         <xsd:minLength value="1"/>
        </xsd:restriction>
       </xsd:simpleType>
      </xsd:attribute>
      <xsd:attribute name="schemeAgencyID">
       <xsd:simpleType>
        <xsd:restriction base="xsd:token">
         <xsd:maxLength value="60"/>
         <xsd:minLength value="1"/>
        </xsd:restriction>
       </xsd:simpleType>
      </xsd:attribute>
      <xsd:attribute name="schemeAgencySchemeAgencyID" type="AgencyIdentificationCode"/>
     </xsd:extension>
    </xsd:simpleContent>
   </xsd:complexType>
   <xsd:simpleType name="BusinessDocumentMessageID.Content">
    <xsd:restriction base="xsd:token">
     <xsd:maxLength value="35"/>
     <xsd:minLength value="1"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:complexType name="BusinessPartnerFunctionTypeCode">
    <xsd:annotation>
     <xsd:documentation xml:lang="EN">
      <ccts:RepresentationTerm>Code</ccts:RepresentationTerm>
     </xsd:documentation>
    </xsd:annotation>
    <xsd:simpleContent>
     <xsd:extension base="BusinessPartnerFunctionTypeCode.Content">
      <xsd:attribute name="listID">
       <xsd:simpleType>
        <xsd:restriction base="xsd:token">
         <xsd:maxLength value="60"/>
         <xsd:minLength value="1"/>
        </xsd:restriction>
       </xsd:simpleType>
      </xsd:attribute>
      <xsd:attribute name="listVersionID">
       <xsd:simpleType>
        <xsd:restriction base="xsd:token">
         <xsd:maxLength value="15"/>
         <xsd:minLength value="1"/>
        </xsd:restriction>
       </xsd:simpleType>
      </xsd:attribute>
      <xsd:attribute name="listAgencyID">
       <xsd:simpleType>
        <xsd:restriction base="xsd:token">
         <xsd:maxLength value="60"/>
         <xsd:minLength value="1"/>
        </xsd:restriction>
       </xsd:simpleType>
      </xsd:attribute>
      <xsd:attribute name="listAgencySchemeID">
       <xsd:simpleType>
        <xsd:restriction base="xsd:token">
         <xsd:maxLength value="60"/>
         <xsd:minLength value="1"/>
        </xsd:restriction>
       </xsd:simpleType>
      </xsd:attribute>
      <xsd:attribute name="listAgencySchemeAgencyID" type="AgencyIdentificationCode"/>
     </xsd:extension>
    </xsd:simpleContent>
   </xsd:complexType>
   <xsd:simpleType name="BusinessPartnerFunctionTypeCode.Content">
    <xsd:restriction base="xsd:token">
     <xsd:maxLength value="4"/>
     <xsd:minLength value="1"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:complexType name="BusinessPartnerFunctionalAreaCode">
    <xsd:annotation>
     <xsd:documentation xml:lang="EN">
      <ccts:RepresentationTerm>Code</ccts:RepresentationTerm>
     </xsd:documentation>
    </xsd:annotation>
    <xsd:simpleContent>
     <xsd:extension base="BusinessPartnerFunctionalAreaCode.Content">
      <xsd:attribute name="listID">
       <xsd:simpleType>
        <xsd:restriction base="xsd:token">
         <xsd:maxLength value="60"/>
         <xsd:minLength value="1"/>
        </xsd:restriction>
       </xsd:simpleType>
      </xsd:attribute>
      <xsd:attribute name="listVersionID">
       <xsd:simpleType>
        <xsd:restriction base="xsd:token">
         <xsd:maxLength value="15"/>
         <xsd:minLength value="1"/>
        </xsd:restriction>
       </xsd:simpleType>
      </xsd:attribute>
      <xsd:attribute name="listAgencyID">
       <xsd:simpleType>
        <xsd:restriction base="xsd:token">
         <xsd:maxLength value="60"/>
         <xsd:minLength value="1"/>
        </xsd:restriction>
       </xsd:simpleType>
      </xsd:attribute>
      <xsd:attribute name="listAgencySchemeID">
       <xsd:simpleType>
        <xsd:restriction base="xsd:token">
         <xsd:maxLength value="60"/>
         <xsd:minLength value="1"/>
        </xsd:restriction>
       </xsd:simpleType>
      </xsd:attribute>
      <xsd:attribute name="listAgencySchemeAgencyID" type="AgencyIdentificationCode"/>
     </xsd:extension>
    </xsd:simpleContent>
   </xsd:complexType>
   <xsd:simpleType name="BusinessPartnerFunctionalAreaCode.Content">
    <xsd:restriction base="xsd:token">
     <xsd:maxLength value="4"/>
     <xsd:minLength value="1"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="BusinessPartnerInternalID">
    <xsd:annotation>
     <xsd:documentation xml:lang="EN">
      <ccts:RepresentationTerm>Identifier</ccts:RepresentationTerm>
     </xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:token">
     <xsd:maxLength value="10"/>
     <xsd:minLength value="1"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:complexType name="BusinessPartnerRelationshipKindCode">
    <xsd:annotation>
     <xsd:documentation xml:lang="EN">
      <ccts:RepresentationTerm>Code</ccts:RepresentationTerm>
     </xsd:documentation>
    </xsd:annotation>
    <xsd:simpleContent>
     <xsd:extension base="BusinessPartnerRelationshipKindCode.Content">
      <xsd:attribute name="listID">
       <xsd:simpleType>
        <xsd:restriction base="xsd:token">
         <xsd:maxLength value="60"/>
         <xsd:minLength value="1"/>
        </xsd:restriction>
       </xsd:simpleType>
      </xsd:attribute>
      <xsd:attribute name="listVersionID">
       <xsd:simpleType>
        <xsd:restriction base="xsd:token">
         <xsd:maxLength value="15"/>
         <xsd:minLength value="1"/>
        </xsd:restriction>
       </xsd:simpleType>
      </xsd:attribute>
      <xsd:attribute name="listAgencyID">
       <xsd:simpleType>
        <xsd:restriction base="xsd:token">
         <xsd:maxLength value="60"/>
         <xsd:minLength value="1"/>
        </xsd:restriction>
       </xsd:simpleType>
      </xsd:attribute>
      <xsd:attribute name="listAgencySchemeID">
       <xsd:simpleType>
        <xsd:restriction base="xsd:token">
         <xsd:maxLength value="60"/>
         <xsd:minLength value="1"/>
        </xsd:restriction>
       </xsd:simpleType>
      </xsd:attribute>
      <xsd:attribute name="listAgencySchemeAgencyID" type="AgencyIdentificationCode"/>
     </xsd:extension>
    </xsd:simpleContent>
   </xsd:complexType>
   <xsd:simpleType name="BusinessPartnerRelationshipKindCode.Content">
    <xsd:restriction base="xsd:token">
     <xsd:maxLength value="4"/>
     <xsd:minLength value="1"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:complexType name="BusinessScope">
    <xsd:sequence>
     <xsd:element name="TypeCode" type="BusinessScopeTypeCode"/>
     <xsd:element minOccurs="0" name="InstanceID" type="BusinessScopeInstanceID"/>
     <xsd:element minOccurs="0" name="ID" type="BusinessScopeID"/>
    </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="BusinessScopeID">
    <xsd:annotation>
     <xsd:documentation xml:lang="EN">
      <ccts:RepresentationTerm>Identifier</ccts:RepresentationTerm>
     </xsd:documentation>
    </xsd:annotation>
    <xsd:simpleContent>
     <xsd:extension base="BusinessScopeID.Content">
      <xsd:attribute name="schemeID">
       <xsd:simpleType>
        <xsd:restriction base="xsd:token">
         <xsd:maxLength value="60"/>
         <xsd:minLength value="1"/>
        </xsd:restriction>
       </xsd:simpleType>
      </xsd:attribute>
      <xsd:attribute name="schemeAgencyID">
       <xsd:simpleType>
        <xsd:restriction base="xsd:token">
         <xsd:maxLength value="60"/>
         <xsd:minLength value="1"/>
        </xsd:restriction>
       </xsd:simpleType>
      </xsd:attribute>
     </xsd:extension>
    </xsd:simpleContent>
   </xsd:complexType>
   <xsd:simpleType name="BusinessScopeID.Content">
    <xsd:restriction base="xsd:token">
     <xsd:maxLength value="36"/>
     <xsd:minLength value="1"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:complexType name="BusinessScopeInstanceID">
    <xsd:annotation>
     <xsd:documentation xml:lang="EN">
      <ccts:RepresentationTerm>Identifier</ccts:RepresentationTerm>
     </xsd:documentation>
    </xsd:annotation>
    <xsd:simpleContent>
     <xsd:extension base="BusinessScopeInstanceID.Content">
      <xsd:attribute name="schemeID">
       <xsd:simpleType>
        <xsd:restriction base="xsd:token">
         <xsd:maxLength value="60"/>
         <xsd:minLength value="1"/>
        </xsd:restriction>
       </xsd:simpleType>
      </xsd:attribute>
      <xsd:attribute name="schemeAgencyID">
       <xsd:simpleType>
        <xsd:restriction base="xsd:token">
         <xsd:maxLength value="60"/>
         <xsd:minLength value="1"/>
        </xsd:restriction>
       </xsd:simpleType>
      </xsd:attribute>
     </xsd:extension>
    </xsd:simpleContent>
   </xsd:complexType>
   <xsd:simpleType name="BusinessScopeInstanceID.Content">
    <xsd:restriction base="xsd:token">
     <xsd:maxLength value="36"/>
     <xsd:minLength value="1"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:complexType name="BusinessScopeTypeCode">
    <xsd:annotation>
     <xsd:documentation xml:lang="EN">
      <ccts:RepresentationTerm>Code</ccts:RepresentationTerm>
     </xsd:documentation>
    </xsd:annotation>
    <xsd:simpleContent>
     <xsd:extension base="BusinessScopeTypeCode.Content">
      <xsd:attribute name="listID">
       <xsd:simpleType>
        <xsd:restriction base="xsd:token">
         <xsd:maxLength value="60"/>
         <xsd:minLength value="1"/>
        </xsd:restriction>
       </xsd:simpleType>
      </xsd:attribute>
      <xsd:attribute name="listVersionID">
       <xsd:simpleType>
        <xsd:restriction base="xsd:token">
         <xsd:maxLength value="15"/>
         <xsd:minLength value="1"/>
        </xsd:restriction>
       </xsd:simpleType>
      </xsd:attribute>
      <xsd:attribute name="listAgencyID">
       <xsd:simpleType>
        <xsd:restriction base="xsd:token">
         <xsd:maxLength value="60"/>
         <xsd:minLength value="1"/>
        </xsd:restriction>
       </xsd:simpleType>
      </xsd:attribute>
      <xsd:attribute name="listAgencySchemeID">
       <xsd:simpleType>
        <xsd:restriction base="xsd:token">
         <xsd:maxLength value="60"/>
         <xsd:minLength value="1"/>
        </xsd:restriction>
       </xsd:simpleType>
      </xsd:attribute>
      <xsd:attribute name="listAgencySchemeAgencyID" type="AgencyIdentificationCode"/>
     </xsd:extension>
    </xsd:simpleContent>
   </xsd:complexType>
   <xsd:simpleType name="BusinessScopeTypeCode.Content">
    <xsd:restriction base="xsd:token">
     <xsd:maxLength value="4"/>
     <xsd:minLength value="1"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="BusinessSystemID">
    <xsd:annotation>
     <xsd:documentation xml:lang="EN">
      <ccts:RepresentationTerm>Identifier</ccts:RepresentationTerm>
     </xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:token">
     <xsd:maxLength value="60"/>
     <xsd:minLength value="1"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:complexType name="CLOSED_DatePeriod">
    <xsd:sequence>
     <xsd:element name="StartDate" type="Date"/>
     <xsd:element name="EndDate" type="Date"/>
    </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="Code">
    <xsd:annotation>
     <xsd:documentation xml:lang="EN">
      <ccts:RepresentationTerm>Code</ccts:RepresentationTerm>
     </xsd:documentation>
    </xsd:annotation>
    <xsd:simpleContent>
     <xsd:extension base="xsd:token">
      <xsd:attribute name="listID">
       <xsd:simpleType>
        <xsd:restriction base="xsd:token">
         <xsd:maxLength value="60"/>
         <xsd:minLength value="1"/>
        </xsd:restriction>
       </xsd:simpleType>
      </xsd:attribute>
      <xsd:attribute name="listVersionID">
       <xsd:simpleType>
        <xsd:restriction base="xsd:token">
         <xsd:maxLength value="15"/>
         <xsd:minLength value="1"/>
        </xsd:restriction>
       </xsd:simpleType>
      </xsd:attribute>
      <xsd:attribute name="listAgencyID">
       <xsd:simpleType>
        <xsd:restriction base="xsd:token">
         <xsd:maxLength value="60"/>
         <xsd:minLength value="1"/>
        </xsd:restriction>
       </xsd:simpleType>
      </xsd:attribute>
      <xsd:attribute name="listAgencySchemeID">
       <xsd:simpleType>
        <xsd:restriction base="xsd:token">
         <xsd:maxLength value="60"/>
         <xsd:minLength value="1"/>
        </xsd:restriction>
       </xsd:simpleType>
      </xsd:attribute>
      <xsd:attribute name="listAgencySchemeAgencyID" type="AgencyIdentificationCode"/>
     </xsd:extension>
    </xsd:simpleContent>
   </xsd:complexType>
   <xsd:complexType name="CommunicationAddressUsage">
    <xsd:sequence>
     <xsd:element name="Code" type="CommunicationAddressUsageCode"/>
     <xsd:element minOccurs="0" name="Name" type="MEDIUM_Name"/>
     <xsd:element minOccurs="0" name="ValidityPeriod" type="CLOSED_DatePeriod"/>
    </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="CommunicationAddressUsageCode">
    <xsd:annotation>
     <xsd:documentation xml:lang="EN">
      <ccts:RepresentationTerm>Code</ccts:RepresentationTerm>
     </xsd:documentation>
    </xsd:annotation>
    <xsd:simpleContent>
     <xsd:extension base="CommunicationAddressUsageCode.Content">
      <xsd:attribute name="listID">
       <xsd:simpleType>
        <xsd:restriction base="xsd:token">
         <xsd:maxLength value="60"/>
         <xsd:minLength value="1"/>
        </xsd:restriction>
       </xsd:simpleType>
      </xsd:attribute>
      <xsd:attribute name="listVersionID">
       <xsd:simpleType>
        <xsd:restriction base="xsd:token">
         <xsd:maxLength value="15"/>
         <xsd:minLength value="1"/>
        </xsd:restriction>
       </xsd:simpleType>
      </xsd:attribute>
      <xsd:attribute name="listAgencyID">
       <xsd:simpleType>
        <xsd:restriction base="xsd:token">
         <xsd:maxLength value="60"/>
         <xsd:minLength value="1"/>
        </xsd:restriction>
       </xsd:simpleType>
      </xsd:attribute>
      <xsd:attribute name="listAgencySchemeID">
       <xsd:simpleType>
        <xsd:restriction base="xsd:token">
         <xsd:maxLength value="60"/>
         <xsd:minLength value="1"/>
        </xsd:restriction>
       </xsd:simpleType>
      </xsd:attribute>
      <xsd:attribute name="listAgencySchemeAgencyID" type="AgencyIdentificationCode"/>
     </xsd:extension>
    </xsd:simpleContent>
   </xsd:complexType>
   <xsd:simpleType name="CommunicationAddressUsageCode.Content">
    <xsd:restriction base="xsd:token">
     <xsd:maxLength value="10"/>
     <xsd:minLength value="1"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:complexType name="CommunicationMediumTypeCode">
    <xsd:annotation>
     <xsd:documentation xml:lang="EN">
      <ccts:RepresentationTerm>Code</ccts:RepresentationTerm>
     </xsd:documentation>
    </xsd:annotation>
    <xsd:simpleContent>
     <xsd:extension base="CommunicationMediumTypeCode.Content">
      <xsd:attribute name="listID">
       <xsd:simpleType>
        <xsd:restriction base="xsd:token">
         <xsd:maxLength value="60"/>
         <xsd:minLength value="1"/>
        </xsd:restriction>
       </xsd:simpleType>
      </xsd:attribute>
      <xsd:attribute name="listAgencyID">
       <xsd:simpleType>
        <xsd:restriction base="xsd:token">
         <xsd:maxLength value="60"/>
         <xsd:minLength value="1"/>
        </xsd:restriction>
       </xsd:simpleType>
      </xsd:attribute>
      <xsd:attribute name="listVersionID">
       <xsd:simpleType>
        <xsd:restriction base="xsd:token">
         <xsd:maxLength value="15"/>
         <xsd:minLength value="1"/>
        </xsd:restriction>
       </xsd:simpleType>
      </xsd:attribute>
     </xsd:extension>
    </xsd:simpleContent>
   </xsd:complexType>
   <xsd:simpleType name="CommunicationMediumTypeCode.Content">
    <xsd:restriction base="xsd:token">
     <xsd:maxLength value="3"/>
     <xsd:minLength value="1"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:complexType name="ContactPersonInternalID">
    <xsd:annotation>
     <xsd:documentation xml:lang="EN">
      <ccts:RepresentationTerm>Identifier</ccts:RepresentationTerm>
     </xsd:documentation>
    </xsd:annotation>
    <xsd:simpleContent>
     <xsd:extension base="ContactPersonInternalID.Content">
      <xsd:attribute name="schemeID">
       <xsd:simpleType>
        <xsd:restriction base="xsd:token">
         <xsd:maxLength value="60"/>
         <xsd:minLength value="1"/>
        </xsd:restriction>
       </xsd:simpleType>
      </xsd:attribute>
      <xsd:attribute name="schemeAgencyID">
       <xsd:simpleType>
        <xsd:restriction base="xsd:token">
         <xsd:maxLength value="60"/>
         <xsd:minLength value="1"/>
        </xsd:restriction>
       </xsd:simpleType>
      </xsd:attribute>
     </xsd:extension>
    </xsd:simpleContent>
   </xsd:complexType>
   <xsd:simpleType name="ContactPersonInternalID.Content">
    <xsd:restriction base="xsd:token">
     <xsd:maxLength value="32"/>
     <xsd:minLength value="1"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="CounterValue">
    <xsd:annotation>
     <xsd:documentation xml:lang="EN">
      <ccts:RepresentationTerm>Value</ccts:RepresentationTerm>
     </xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:int">
     <xsd:maxInclusive value="999999999"/>
     <xsd:minInclusive value="0"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="CountryCode">
    <xsd:annotation>
     <xsd:documentation xml:lang="EN">
      <ccts:RepresentationTerm>Code</ccts:RepresentationTerm>
     </xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:token">
     <xsd:maxLength value="3"/>
     <xsd:minLength value="2"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="CountryDiallingCode">
    <xsd:annotation>
     <xsd:documentation xml:lang="EN">
      <ccts:RepresentationTerm>Code</ccts:RepresentationTerm>
     </xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:token">
     <xsd:maxLength value="10"/>
     <xsd:minLength value="1"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="CurrencyCode">
    <xsd:annotation>
     <xsd:documentation xml:lang="EN">
      <ccts:RepresentationTerm>Code</ccts:RepresentationTerm>
     </xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:token">
     <xsd:length value="3"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="Date">
    <xsd:annotation>
     <xsd:documentation xml:lang="EN">
      <ccts:RepresentationTerm>Date</ccts:RepresentationTerm>
     </xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:date">
     <xsd:pattern value="[0-9]{4}-[0-9]{2}-[0-9]{2}"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:complexType name="EmailURI">
    <xsd:annotation>
     <xsd:documentation xml:lang="EN">
      <ccts:RepresentationTerm>URI</ccts:RepresentationTerm>
     </xsd:documentation>
    </xsd:annotation>
    <xsd:simpleContent>
     <xsd:extension base="xsd:anyURI">
      <xsd:attribute name="schemeID">
       <xsd:simpleType>
        <xsd:restriction base="xsd:token">
         <xsd:maxLength value="60"/>
         <xsd:minLength value="1"/>
        </xsd:restriction>
       </xsd:simpleType>
      </xsd:attribute>
     </xsd:extension>
    </xsd:simpleContent>
   </xsd:complexType>
   <xsd:simpleType name="EquityParticipationPercentLong">
    <xsd:annotation>
     <xsd:documentation xml:lang="EN">
      <ccts:RepresentationTerm>Percent</ccts:RepresentationTerm>
     </xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:decimal">
     <xsd:totalDigits value="10"/>
     <xsd:fractionDigits value="7"/>
     <xsd:maxInclusive value="999.9999999"/>
     <xsd:minInclusive value="-999.9999999"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:complexType name="ExchangeFaultData">
    <xsd:sequence>
     <xsd:element name="faultText" type="xsd:string"/>
     <xsd:element minOccurs="0" name="faultUrl" type="xsd:string"/>
     <xsd:element maxOccurs="unbounded" minOccurs="0" name="faultDetail" type="ExchangeLogData"/>
    </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="ExchangeLogData">
    <xsd:sequence>
     <xsd:element minOccurs="0" name="severity" type="xsd:string"/>
     <xsd:element name="text" type="xsd:string"/>
     <xsd:element minOccurs="0" name="url" type="xsd:string"/>
     <xsd:element minOccurs="0" name="id" type="xsd:string"/>
    </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="FamilyNamePrefixCode">
    <xsd:annotation>
     <xsd:documentation xml:lang="EN">
      <ccts:RepresentationTerm>Code</ccts:RepresentationTerm>
     </xsd:documentation>
    </xsd:annotation>
    <xsd:simpleContent>
     <xsd:extension base="FamilyNamePrefixCode.Content">
      <xsd:attribute name="listID">
       <xsd:simpleType>
        <xsd:restriction base="xsd:token">
         <xsd:maxLength value="60"/>
         <xsd:minLength value="1"/>
        </xsd:restriction>
       </xsd:simpleType>
      </xsd:attribute>
      <xsd:attribute name="listVersionID">
       <xsd:simpleType>
        <xsd:restriction base="xsd:token">
         <xsd:maxLength value="15"/>
         <xsd:minLength value="1"/>
        </xsd:restriction>
       </xsd:simpleType>
      </xsd:attribute>
      <xsd:attribute name="listAgencyID">
       <xsd:simpleType>
        <xsd:restriction base="xsd:token">
         <xsd:maxLength value="60"/>
         <xsd:minLength value="1"/>
        </xsd:restriction>
       </xsd:simpleType>
      </xsd:attribute>
      <xsd:attribute name="listAgencySchemeID">
       <xsd:simpleType>
        <xsd:restriction base="xsd:token">
         <xsd:maxLength value="60"/>
         <xsd:minLength value="1"/>
        </xsd:restriction>
       </xsd:simpleType>
      </xsd:attribute>
      <xsd:attribute name="listAgencySchemeAgencyID" type="AgencyIdentificationCode"/>
     </xsd:extension>
    </xsd:simpleContent>
   </xsd:complexType>
   <xsd:simpleType name="FamilyNamePrefixCode.Content">
    <xsd:restriction base="xsd:token">
     <xsd:maxLength value="4"/>
     <xsd:minLength value="1"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="FloorID">
    <xsd:annotation>
     <xsd:documentation xml:lang="EN">
      <ccts:RepresentationTerm>Identifier</ccts:RepresentationTerm>
     </xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:token">
     <xsd:maxLength value="10"/>
     <xsd:minLength value="1"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:complexType name="FormOfAddressCode">
    <xsd:annotation>
     <xsd:documentation xml:lang="EN">
      <ccts:RepresentationTerm>Code</ccts:RepresentationTerm>
     </xsd:documentation>
    </xsd:annotation>
    <xsd:simpleContent>
     <xsd:extension base="FormOfAddressCode.Content">
      <xsd:attribute name="listID">
       <xsd:simpleType>
        <xsd:restriction base="xsd:token">
         <xsd:maxLength value="60"/>
         <xsd:minLength value="1"/>
        </xsd:restriction>
       </xsd:simpleType>
      </xsd:attribute>
      <xsd:attribute name="listVersionID">
       <xsd:simpleType>
        <xsd:restriction base="xsd:token">
         <xsd:maxLength value="15"/>
         <xsd:minLength value="1"/>
        </xsd:restriction>
       </xsd:simpleType>
      </xsd:attribute>
      <xsd:attribute name="listAgencyID">
       <xsd:simpleType>
        <xsd:restriction base="xsd:token">
         <xsd:maxLength value="60"/>
         <xsd:minLength value="1"/>
        </xsd:restriction>
       </xsd:simpleType>
      </xsd:attribute>
      <xsd:attribute name="listAgencySchemeID">
       <xsd:simpleType>
        <xsd:restriction base="xsd:token">
         <xsd:maxLength value="60"/>
         <xsd:minLength value="1"/>
        </xsd:restriction>
       </xsd:simpleType>
      </xsd:attribute>
      <xsd:attribute name="listAgencySchemeAgencyID" type="AgencyIdentificationCode"/>
     </xsd:extension>
    </xsd:simpleContent>
   </xsd:complexType>
   <xsd:simpleType name="FormOfAddressCode.Content">
    <xsd:restriction base="xsd:token">
     <xsd:maxLength value="4"/>
     <xsd:minLength value="1"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="GLOBAL_DateTime">
    <xsd:annotation>
     <xsd:documentation xml:lang="EN">
      <ccts:RepresentationTerm>DateTime</ccts:RepresentationTerm>
     </xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:dateTime">
     <xsd:pattern value="[0-9]{4}-[0-9]{2}-[0-9]{2}T[0-9]{2}:[0-9]{2}:[0-9]{2}(.[0-9]{1,7})?Z"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="Indicator">
    <xsd:annotation>
     <xsd:documentation xml:lang="EN">
      <ccts:RepresentationTerm>Indicator</ccts:RepresentationTerm>
     </xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:boolean"/>
   </xsd:simpleType>
   <xsd:simpleType name="InhouseMailID">
    <xsd:annotation>
     <xsd:documentation xml:lang="EN">
      <ccts:RepresentationTerm>Identifier</ccts:RepresentationTerm>
     </xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:token">
     <xsd:maxLength value="10"/>
     <xsd:minLength value="1"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="KeyWordsText">
    <xsd:annotation>
     <xsd:documentation xml:lang="EN">
      <ccts:RepresentationTerm>Text</ccts:RepresentationTerm>
     </xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:string">
     <xsd:maxLength value="20"/>
     <xsd:minLength value="1"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="LANGUAGEINDEPENDENT_LONG_Name">
    <xsd:annotation>
     <xsd:documentation xml:lang="EN">
      <ccts:RepresentationTerm>Name</ccts:RepresentationTerm>
     </xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:string">
     <xsd:maxLength value="80"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="LANGUAGEINDEPENDENT_MEDIUM_Name">
    <xsd:annotation>
     <xsd:documentation xml:lang="EN">
      <ccts:RepresentationTerm>Name</ccts:RepresentationTerm>
     </xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:string">
     <xsd:maxLength value="40"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="LANGUAGEINDEPENDENT_SHORT_Description">
    <xsd:annotation>
     <xsd:documentation xml:lang="EN">
      <ccts:RepresentationTerm>Description</ccts:RepresentationTerm>
     </xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:string">
     <xsd:maxLength value="40"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="LANGUAGEINDEPENDENT_SHORT_Name">
    <xsd:annotation>
     <xsd:documentation xml:lang="EN">
      <ccts:RepresentationTerm>Name</ccts:RepresentationTerm>
     </xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:string">
     <xsd:maxLength value="10"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="LANGUAGEINDEPENDENT_SHORT_Note">
    <xsd:annotation>
     <xsd:documentation xml:lang="EN">
      <ccts:RepresentationTerm>Note</ccts:RepresentationTerm>
     </xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:string">
     <xsd:maxLength value="40"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="LanguageCode">
    <xsd:annotation>
     <xsd:documentation xml:lang="EN">
      <ccts:RepresentationTerm>Code</ccts:RepresentationTerm>
     </xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:language">
     <xsd:maxLength value="9"/>
     <xsd:minLength value="2"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:complexType name="MDGBusinessPartnerRelationshipCategoryCode">
    <xsd:annotation>
     <xsd:documentation xml:lang="EN">
      <ccts:RepresentationTerm>Code</ccts:RepresentationTerm>
     </xsd:documentation>
    </xsd:annotation>
    <xsd:simpleContent>
     <xsd:extension base="MDGBusinessPartnerRelationshipCategoryCode.Content">
      <xsd:attribute name="listID">
       <xsd:simpleType>
        <xsd:restriction base="xsd:token">
         <xsd:maxLength value="60"/>
         <xsd:minLength value="1"/>
        </xsd:restriction>
       </xsd:simpleType>
      </xsd:attribute>
      <xsd:attribute name="listVersionID">
       <xsd:simpleType>
        <xsd:restriction base="xsd:token">
         <xsd:maxLength value="15"/>
         <xsd:minLength value="1"/>
        </xsd:restriction>
       </xsd:simpleType>
      </xsd:attribute>
      <xsd:attribute name="listAgencyID">
       <xsd:simpleType>
        <xsd:restriction base="xsd:token">
         <xsd:maxLength value="60"/>
         <xsd:minLength value="1"/>
        </xsd:restriction>
       </xsd:simpleType>
      </xsd:attribute>
      <xsd:attribute name="listAgencySchemeID">
       <xsd:simpleType>
        <xsd:restriction base="xsd:token">
         <xsd:maxLength value="60"/>
         <xsd:minLength value="1"/>
        </xsd:restriction>
       </xsd:simpleType>
      </xsd:attribute>
      <xsd:attribute name="listAgencySchemeAgencyID" type="AgencyIdentificationCode"/>
     </xsd:extension>
    </xsd:simpleContent>
   </xsd:complexType>
   <xsd:simpleType name="MDGBusinessPartnerRelationshipCategoryCode.Content">
    <xsd:restriction base="xsd:token">
     <xsd:maxLength value="8"/>
     <xsd:minLength value="1"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:complexType name="MEDIUM_Name">
    <xsd:annotation>
     <xsd:documentation xml:lang="EN">
      <ccts:RepresentationTerm>Name</ccts:RepresentationTerm>
     </xsd:documentation>
    </xsd:annotation>
    <xsd:simpleContent>
     <xsd:extension base="MEDIUM_Name.Content">
      <xsd:attribute name="languageCode" type="LanguageCode"/>
     </xsd:extension>
    </xsd:simpleContent>
   </xsd:complexType>
   <xsd:simpleType name="MEDIUM_Name.Content">
    <xsd:restriction base="xsd:string">
     <xsd:maxLength value="40"/>
     <xsd:minLength value="1"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:complexType name="NOCONVERSION_ObjectID">
    <xsd:annotation>
     <xsd:documentation xml:lang="EN">
      <ccts:RepresentationTerm>Identifier</ccts:RepresentationTerm>
     </xsd:documentation>
    </xsd:annotation>
    <xsd:simpleContent>
     <xsd:extension base="NOCONVERSION_ObjectID.Content">
      <xsd:attribute name="schemeID">
       <xsd:simpleType>
        <xsd:restriction base="xsd:token">
         <xsd:maxLength value="60"/>
         <xsd:minLength value="1"/>
        </xsd:restriction>
       </xsd:simpleType>
      </xsd:attribute>
      <xsd:attribute name="schemeVersionID">
       <xsd:simpleType>
        <xsd:restriction base="xsd:token">
         <xsd:maxLength value="15"/>
         <xsd:minLength value="1"/>
        </xsd:restriction>
       </xsd:simpleType>
      </xsd:attribute>
      <xsd:attribute name="schemeAgencyID">
       <xsd:simpleType>
        <xsd:restriction base="xsd:token">
         <xsd:maxLength value="60"/>
         <xsd:minLength value="1"/>
        </xsd:restriction>
       </xsd:simpleType>
      </xsd:attribute>
     </xsd:extension>
    </xsd:simpleContent>
   </xsd:complexType>
   <xsd:simpleType name="NOCONVERSION_ObjectID.Content">
    <xsd:restriction base="xsd:token">
     <xsd:maxLength value="100"/>
     <xsd:minLength value="1"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="OPTIONAL_Indicator">
    <xsd:annotation>
     <xsd:documentation xml:lang="EN">
      <ccts:RepresentationTerm>Indicator</ccts:RepresentationTerm>
     </xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:boolean"/>
   </xsd:simpleType>
   <xsd:simpleType name="OrdinalNumberValue_V1">
    <xsd:annotation>
     <xsd:documentation xml:lang="EN">
      <ccts:RepresentationTerm>Value</ccts:RepresentationTerm>
     </xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:decimal">
     <xsd:totalDigits value="20"/>
     <xsd:fractionDigits value="0"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:complexType name="PartyInternalID">
    <xsd:annotation>
     <xsd:documentation xml:lang="EN">
      <ccts:RepresentationTerm>Identifier</ccts:RepresentationTerm>
     </xsd:documentation>
    </xsd:annotation>
    <xsd:simpleContent>
     <xsd:extension base="PartyInternalID.Content">
      <xsd:attribute name="schemeID">
       <xsd:simpleType>
        <xsd:restriction base="xsd:token">
         <xsd:maxLength value="60"/>
         <xsd:minLength value="1"/>
        </xsd:restriction>
       </xsd:simpleType>
      </xsd:attribute>
      <xsd:attribute name="schemeAgencyID">
       <xsd:simpleType>
        <xsd:restriction base="xsd:token">
         <xsd:maxLength value="60"/>
         <xsd:minLength value="1"/>
        </xsd:restriction>
       </xsd:simpleType>
      </xsd:attribute>
     </xsd:extension>
    </xsd:simpleContent>
   </xsd:complexType>
   <xsd:simpleType name="PartyInternalID.Content">
    <xsd:restriction base="xsd:token">
     <xsd:maxLength value="32"/>
     <xsd:minLength value="1"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:complexType name="PartyStandardID">
    <xsd:annotation>
     <xsd:documentation xml:lang="EN">
      <ccts:RepresentationTerm>Identifier</ccts:RepresentationTerm>
     </xsd:documentation>
    </xsd:annotation>
    <xsd:simpleContent>
     <xsd:extension base="PartyStandardID.Content">
      <xsd:attribute name="schemeAgencyID" use="required">
       <xsd:simpleType>
        <xsd:restriction base="xsd:token">
         <xsd:maxLength value="3"/>
         <xsd:minLength value="1"/>
        </xsd:restriction>
       </xsd:simpleType>
      </xsd:attribute>
     </xsd:extension>
    </xsd:simpleContent>
   </xsd:complexType>
   <xsd:simpleType name="PartyStandardID.Content">
    <xsd:restriction base="xsd:token">
     <xsd:maxLength value="13"/>
     <xsd:minLength value="1"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="Percent">
    <xsd:annotation>
     <xsd:documentation xml:lang="EN">
      <ccts:RepresentationTerm>Percent</ccts:RepresentationTerm>
     </xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:decimal">
     <xsd:totalDigits value="16"/>
     <xsd:fractionDigits value="6"/>
     <xsd:maxInclusive value="9999999999.999999"/>
     <xsd:minInclusive value="-9999999999.999999"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:complexType name="PersonName">
    <xsd:sequence>
     <xsd:element minOccurs="0" name="FormOfAddressCode" type="FormOfAddressCode"/>
     <xsd:element minOccurs="0" name="FormOfAddressName" type="LANGUAGEINDEPENDENT_MEDIUM_Name"/>
     <xsd:element minOccurs="0" name="GivenName" type="LANGUAGEINDEPENDENT_MEDIUM_Name"/>
     <xsd:element minOccurs="0" name="MiddleName" type="LANGUAGEINDEPENDENT_MEDIUM_Name"/>
     <xsd:element minOccurs="0" name="FamilyName" type="LANGUAGEINDEPENDENT_MEDIUM_Name"/>
     <xsd:element minOccurs="0" name="AdditionalFamilyName" type="LANGUAGEINDEPENDENT_MEDIUM_Name"/>
     <xsd:element minOccurs="0" name="BirthName" type="LANGUAGEINDEPENDENT_MEDIUM_Name"/>
     <xsd:element minOccurs="0" name="NickName" type="LANGUAGEINDEPENDENT_MEDIUM_Name"/>
     <xsd:element minOccurs="0" name="InitialsName" type="LANGUAGEINDEPENDENT_SHORT_Name"/>
     <xsd:element minOccurs="0" name="AcademicTitleCode" type="AcademicTitleCode"/>
     <xsd:element minOccurs="0" name="AcademicTitleName" type="LANGUAGEINDEPENDENT_MEDIUM_Name"/>
     <xsd:element minOccurs="0" name="AdditionalAcademicTitleCode" type="AcademicTitleCode"/>
     <xsd:element minOccurs="0" name="AdditionalAcademicTitleName" type="LANGUAGEINDEPENDENT_MEDIUM_Name"/>
     <xsd:element minOccurs="0" name="NamePrefixCode" type="FamilyNamePrefixCode"/>
     <xsd:element minOccurs="0" name="NamePrefixName" type="LANGUAGEINDEPENDENT_MEDIUM_Name"/>
     <xsd:element minOccurs="0" name="AdditionalNamePrefixCode" type="FamilyNamePrefixCode"/>
     <xsd:element minOccurs="0" name="AdditionalNamePrefixName" type="LANGUAGEINDEPENDENT_MEDIUM_Name"/>
     <xsd:element minOccurs="0" name="NameSupplementCode" type="PersonNameSupplementCode"/>
     <xsd:element minOccurs="0" name="NameSupplementName" type="LANGUAGEINDEPENDENT_MEDIUM_Name"/>
     <xsd:element minOccurs="0" name="DeviatingFullName" type="LANGUAGEINDEPENDENT_LONG_Name"/>
     <xsd:element minOccurs="0" name="NameFormatCountryCode" type="CountryCode"/>
     <xsd:element minOccurs="0" name="NameFormatCode" type="PersonNameFormatCode"/>
    </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="PersonNameFormatCode">
    <xsd:annotation>
     <xsd:documentation xml:lang="EN">
      <ccts:RepresentationTerm>Code</ccts:RepresentationTerm>
     </xsd:documentation>
    </xsd:annotation>
    <xsd:simpleContent>
     <xsd:extension base="PersonNameFormatCode.Content">
      <xsd:attribute name="listID">
       <xsd:simpleType>
        <xsd:restriction base="xsd:token">
         <xsd:maxLength value="60"/>
         <xsd:minLength value="1"/>
        </xsd:restriction>
       </xsd:simpleType>
      </xsd:attribute>
      <xsd:attribute name="listVersionID">
       <xsd:simpleType>
        <xsd:restriction base="xsd:token">
         <xsd:maxLength value="15"/>
         <xsd:minLength value="1"/>
        </xsd:restriction>
       </xsd:simpleType>
      </xsd:attribute>
      <xsd:attribute name="listAgencyID">
       <xsd:simpleType>
        <xsd:restriction base="xsd:token">
         <xsd:maxLength value="60"/>
         <xsd:minLength value="1"/>
        </xsd:restriction>
       </xsd:simpleType>
      </xsd:attribute>
      <xsd:attribute name="listAgencySchemeID">
       <xsd:simpleType>
        <xsd:restriction base="xsd:token">
         <xsd:maxLength value="60"/>
         <xsd:minLength value="1"/>
        </xsd:restriction>
       </xsd:simpleType>
      </xsd:attribute>
      <xsd:attribute name="listAgencySchemeAgencyID" type="AgencyIdentificationCode"/>
     </xsd:extension>
    </xsd:simpleContent>
   </xsd:complexType>
   <xsd:simpleType name="PersonNameFormatCode.Content">
    <xsd:restriction base="xsd:token">
     <xsd:maxLength value="2"/>
     <xsd:minLength value="1"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:complexType name="PersonNameSupplementCode">
    <xsd:annotation>
     <xsd:documentation xml:lang="EN">
      <ccts:RepresentationTerm>Code</ccts:RepresentationTerm>
     </xsd:documentation>
    </xsd:annotation>
    <xsd:simpleContent>
     <xsd:extension base="PersonNameSupplementCode.Content">
      <xsd:attribute name="listID">
       <xsd:simpleType>
        <xsd:restriction base="xsd:token">
         <xsd:maxLength value="60"/>
         <xsd:minLength value="1"/>
        </xsd:restriction>
       </xsd:simpleType>
      </xsd:attribute>
      <xsd:attribute name="listVersionID">
       <xsd:simpleType>
        <xsd:restriction base="xsd:token">
         <xsd:maxLength value="15"/>
         <xsd:minLength value="1"/>
        </xsd:restriction>
       </xsd:simpleType>
      </xsd:attribute>
      <xsd:attribute name="listAgencyID">
       <xsd:simpleType>
        <xsd:restriction base="xsd:token">
         <xsd:maxLength value="60"/>
         <xsd:minLength value="1"/>
        </xsd:restriction>
       </xsd:simpleType>
      </xsd:attribute>
      <xsd:attribute name="listAgencySchemeID">
       <xsd:simpleType>
        <xsd:restriction base="xsd:token">
         <xsd:maxLength value="60"/>
         <xsd:minLength value="1"/>
        </xsd:restriction>
       </xsd:simpleType>
      </xsd:attribute>
      <xsd:attribute name="listAgencySchemeAgencyID" type="AgencyIdentificationCode"/>
     </xsd:extension>
    </xsd:simpleContent>
   </xsd:complexType>
   <xsd:simpleType name="PersonNameSupplementCode.Content">
    <xsd:restriction base="xsd:token">
     <xsd:maxLength value="4"/>
     <xsd:minLength value="1"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:complexType name="PhoneNumber">
    <xsd:sequence>
     <xsd:element minOccurs="0" name="AreaID" type="PhoneNumberAreaID"/>
     <xsd:element minOccurs="0" name="SubscriberID" type="PhoneNumberSubscriberID"/>
     <xsd:element minOccurs="0" name="ExtensionID" type="PhoneNumberExtensionID"/>
     <xsd:element minOccurs="0" name="CountryCode" type="CountryCode"/>
     <xsd:element minOccurs="0" name="CountryDiallingCode" type="CountryDiallingCode"/>
     <xsd:element minOccurs="0" name="CountryName" type="MEDIUM_Name"/>
    </xsd:sequence>
   </xsd:complexType>
   <xsd:simpleType name="PhoneNumberAreaID">
    <xsd:annotation>
     <xsd:documentation xml:lang="EN">
      <ccts:RepresentationTerm>Identifier</ccts:RepresentationTerm>
     </xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:token">
     <xsd:maxLength value="10"/>
     <xsd:minLength value="1"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="PhoneNumberExtensionID">
    <xsd:annotation>
     <xsd:documentation xml:lang="EN">
      <ccts:RepresentationTerm>Identifier</ccts:RepresentationTerm>
     </xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:token">
     <xsd:maxLength value="10"/>
     <xsd:minLength value="1"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="PhoneNumberSubscriberID">
    <xsd:annotation>
     <xsd:documentation xml:lang="EN">
      <ccts:RepresentationTerm>Identifier</ccts:RepresentationTerm>
     </xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:token">
     <xsd:maxLength value="30"/>
     <xsd:minLength value="1"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:complexType name="PowerOfAttorneyTypeCode">
    <xsd:annotation>
     <xsd:documentation xml:lang="EN">
      <ccts:RepresentationTerm>Code</ccts:RepresentationTerm>
     </xsd:documentation>
    </xsd:annotation>
    <xsd:simpleContent>
     <xsd:extension base="PowerOfAttorneyTypeCode.Content">
      <xsd:attribute name="listID">
       <xsd:simpleType>
        <xsd:restriction base="xsd:token">
         <xsd:maxLength value="60"/>
         <xsd:minLength value="1"/>
        </xsd:restriction>
       </xsd:simpleType>
      </xsd:attribute>
      <xsd:attribute name="listAgencyID">
       <xsd:simpleType>
        <xsd:restriction base="xsd:token">
         <xsd:maxLength value="60"/>
         <xsd:minLength value="1"/>
        </xsd:restriction>
       </xsd:simpleType>
      </xsd:attribute>
      <xsd:attribute name="listVersionID">
       <xsd:simpleType>
        <xsd:restriction base="xsd:token">
         <xsd:maxLength value="15"/>
         <xsd:minLength value="1"/>
        </xsd:restriction>
       </xsd:simpleType>
      </xsd:attribute>
      <xsd:attribute name="listAgencySchemeID">
       <xsd:simpleType>
        <xsd:restriction base="xsd:token">
         <xsd:maxLength value="60"/>
         <xsd:minLength value="1"/>
        </xsd:restriction>
       </xsd:simpleType>
      </xsd:attribute>
      <xsd:attribute name="listAgencySchemeAgencyID" type="AgencyIdentificationCode"/>
     </xsd:extension>
    </xsd:simpleContent>
   </xsd:complexType>
   <xsd:simpleType name="PowerOfAttorneyTypeCode.Content">
    <xsd:restriction base="xsd:token">
     <xsd:length value="1"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="RoomID">
    <xsd:annotation>
     <xsd:documentation xml:lang="EN">
      <ccts:RepresentationTerm>Identifier</ccts:RepresentationTerm>
     </xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:token">
     <xsd:maxLength value="10"/>
     <xsd:minLength value="1"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:complexType name="UUID">
    <xsd:annotation>
     <xsd:documentation xml:lang="EN">
      <ccts:RepresentationTerm>Identifier</ccts:RepresentationTerm>
     </xsd:documentation>
    </xsd:annotation>
    <xsd:simpleContent>
     <xsd:extension base="UUID.Content">
      <xsd:attribute name="schemeID">
       <xsd:simpleType>
        <xsd:restriction base="xsd:token">
         <xsd:maxLength value="60"/>
         <xsd:minLength value="1"/>
        </xsd:restriction>
       </xsd:simpleType>
      </xsd:attribute>
      <xsd:attribute name="schemeAgencyID">
       <xsd:simpleType>
        <xsd:restriction base="xsd:token">
         <xsd:maxLength value="60"/>
         <xsd:minLength value="1"/>
        </xsd:restriction>
       </xsd:simpleType>
      </xsd:attribute>
     </xsd:extension>
    </xsd:simpleContent>
   </xsd:complexType>
   <xsd:simpleType name="UUID.Content">
    <xsd:restriction base="xsd:token">
     <xsd:length value="36"/>
     <xsd:pattern value="[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:complexType name="VIPReasonCode">
    <xsd:annotation>
     <xsd:documentation xml:lang="EN">
      <ccts:RepresentationTerm>Code</ccts:RepresentationTerm>
     </xsd:documentation>
    </xsd:annotation>
    <xsd:simpleContent>
     <xsd:extension base="VIPReasonCode.Content">
      <xsd:attribute name="listID">
       <xsd:simpleType>
        <xsd:restriction base="xsd:token">
         <xsd:maxLength value="60"/>
         <xsd:minLength value="1"/>
        </xsd:restriction>
       </xsd:simpleType>
      </xsd:attribute>
      <xsd:attribute name="listAgencyID">
       <xsd:simpleType>
        <xsd:restriction base="xsd:token">
         <xsd:maxLength value="60"/>
         <xsd:minLength value="1"/>
        </xsd:restriction>
       </xsd:simpleType>
      </xsd:attribute>
      <xsd:attribute name="listVersionID">
       <xsd:simpleType>
        <xsd:restriction base="xsd:token">
         <xsd:maxLength value="15"/>
         <xsd:minLength value="1"/>
        </xsd:restriction>
       </xsd:simpleType>
      </xsd:attribute>
      <xsd:attribute name="listAgencySchemeID">
       <xsd:simpleType>
        <xsd:restriction base="xsd:token">
         <xsd:maxLength value="60"/>
         <xsd:minLength value="1"/>
        </xsd:restriction>
       </xsd:simpleType>
      </xsd:attribute>
      <xsd:attribute name="listAgencySchemeAgencyID" type="AgencyIdentificationCode"/>
     </xsd:extension>
    </xsd:simpleContent>
   </xsd:complexType>
   <xsd:simpleType name="VIPReasonCode.Content">
    <xsd:restriction base="xsd:token">
     <xsd:length value="1"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="WebURI">
    <xsd:annotation>
     <xsd:documentation xml:lang="EN">
      <ccts:RepresentationTerm>URI</ccts:RepresentationTerm>
     </xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:anyURI"/>
   </xsd:simpleType>
  </xsd:schema>
  <xsd:schema xmlns="http://sap.com/xi/SAPGlobal20/Global" xmlns:ccts="urn:un:unece:uncefact:documentation:standard:CoreComponentsTechnicalSpecification:3.0" xmlns:sprx="urn:sap.com:abap:proxy" xmlns:xi0="http://sap.com/xi/SAPGlobal20/Global" targetNamespace="http://sap.com/xi/SAPGlobal20/Global">
   <xsd:import namespace="http://sap.com/xi/SAP_BS_FND/MDG/Global2"/>
   <xsd:annotation>
    <xsd:documentation>
     <sprx:documentation baseURL="http://ldciqw9.wdf.sap.corp:50000/sap/bc/esdt/docu/xsd_type?sap-client=300" version="1"/>
    </xsd:documentation>
   </xsd:annotation>
   <xsd:element name="BusinessPartnerRelationshipSUITEBulkReplicateRequest" type="tns:BPRelshpSUITEBulkRplctReqMsg"/>
   <xsd:element name="StandardMessageFault">
    <xsd:complexType>
     <xsd:sequence>
      <xsd:element name="standard" type="tns:ExchangeFaultData"/>
     </xsd:sequence>
    </xsd:complexType>
   </xsd:element>
  </xsd:schema>
 </wsdl:types>
 <wsdl:message name="BusinessPartnerRelationshipSUITEBulkReplicateRequest">
  <wsdl:part element="n1:BusinessPartnerRelationshipSUITEBulkReplicateRequest" name="BusinessPartnerRelationshipSUITEBulkReplicateRequest"/>
 </wsdl:message>
 <wsdl:message name="StandardMessageFault">
  <wsdl:part element="n1:StandardMessageFault" name="StandardMessageFault"/>
 </wsdl:message>
 <wsdl:portType name="BusinessPartnerRelationshipSUITEBulkReplicateRequest_In">
  <wsdl:documentation>
   <sapdoc:sapdoc xmlns:sapdoc="urn:sap:esi:documentation">
    <sapdoc:docitem applicationComponent="CA-MDG-APP-BP"/>
   </sapdoc:sapdoc>
  </wsdl:documentation>
  <wsdl:operation name="BusinessPartnerRelationshipSUITEBulkReplicateRequest_In">
   <wsp:Policy>
    <wsp:PolicyReference URI="#OP_IF_OP_BusinessPartnerRelationshipSUITEBulkReplicateRequest_In"/>
   </wsp:Policy>
   <wsdl:input message="tns:BusinessPartnerRelationshipSUITEBulkReplicateRequest"/>
  </wsdl:operation>
 </wsdl:portType>
</wsdl:definitions>