Resources/schemas/Wsdl/SAP_Service_Cloud_V2_for_Utilities_Premise_Integration_with_SAP_S-4HANA - DOC_WEBI_ISU_C4C_V2_OBJECT_ADDRESS_GET.WSDL

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions targetNamespace="urn:sap-com:document:sap:soap:functions:mc-style" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsoap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="urn:sap-com:document:sap:soap:functions:mc-style" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:n1="urn:sap-com:document:sap:rfc:functions">
 <wsdl:documentation>
  <sidl:sidl xmlns:sidl="http://www.sap.com/2007/03/sidl"/>
 </wsdl:documentation>
 <wsp:UsingPolicy wsdl:required="true"/>
 <wsp:Policy wsu:Id="IF_IF_ISU_C4C_V2_OBJECT_ADDRESS_GET">
  <sapsession:Session xmlns:sapsession="http://www.sap.com/webas/630/soap/features/session/">
   <sapsession:enableSession>false</sapsession:enableSession>
  </sapsession:Session>
 </wsp:Policy>
 <wsp:Policy wsu:Id="OP_IF_OP_IsuC4cV2ObjectAddress">
  <sapblock:enableBlocking xmlns:sapblock="http://www.sap.com/NW05/soap/features/blocking/">true</sapblock:enableBlocking>
  <sapcomhnd:enableCommit xmlns:sapcomhnd="http://www.sap.com/NW05/soap/features/commit/">false</sapcomhnd:enableCommit>
  <saptrhnw05:required xmlns:saptrhnw05="http://www.sap.com/NW05/soap/features/transaction/">no</saptrhnw05:required>
  <saprmnw05:enableWSRM xmlns:saprmnw05="http://www.sap.com/NW05/soap/features/wsrm/">false</saprmnw05:enableWSRM>
 </wsp:Policy>
 <wsdl:types>
  <xsd:schema attributeFormDefault="qualified" targetNamespace="urn:sap-com:document:sap:rfc:functions" xmlns:tns="urn:sap-com:document:sap:rfc:functions">
   <xsd:simpleType name="char1">
    <xsd:restriction base="xsd:string">
     <xsd:maxLength value="1"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="char10">
    <xsd:restriction base="xsd:string">
     <xsd:maxLength value="10"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="char12">
    <xsd:restriction base="xsd:string">
     <xsd:maxLength value="12"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="char140">
    <xsd:restriction base="xsd:string">
     <xsd:maxLength value="140"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="char15">
    <xsd:restriction base="xsd:string">
     <xsd:maxLength value="15"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="char20">
    <xsd:restriction base="xsd:string">
     <xsd:maxLength value="20"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="char220">
    <xsd:restriction base="xsd:string">
     <xsd:maxLength value="220"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="char3">
    <xsd:restriction base="xsd:string">
     <xsd:maxLength value="3"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="char30">
    <xsd:restriction base="xsd:string">
     <xsd:maxLength value="30"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="char32">
    <xsd:restriction base="xsd:string">
     <xsd:maxLength value="32"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="char4">
    <xsd:restriction base="xsd:string">
     <xsd:maxLength value="4"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="char40">
    <xsd:restriction base="xsd:string">
     <xsd:maxLength value="40"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="char50">
    <xsd:restriction base="xsd:string">
     <xsd:maxLength value="50"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="char6">
    <xsd:restriction base="xsd:string">
     <xsd:maxLength value="6"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="char60">
    <xsd:restriction base="xsd:string">
     <xsd:maxLength value="60"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="char70">
    <xsd:restriction base="xsd:string">
     <xsd:maxLength value="70"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="char8">
    <xsd:restriction base="xsd:string">
     <xsd:maxLength value="8"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="char80">
    <xsd:restriction base="xsd:string">
     <xsd:maxLength value="80"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="date10">
    <xsd:restriction base="xsd:string">
     <xsd:maxLength value="10"/>
     <xsd:pattern value="\d\d\d\d-\d\d-\d\d"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="lang">
    <xsd:restriction base="xsd:string">
     <xsd:maxLength value="1"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="numeric3">
    <xsd:restriction base="xsd:string">
     <xsd:maxLength value="3"/>
     <xsd:pattern value="\d*"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="numeric6">
    <xsd:restriction base="xsd:string">
     <xsd:maxLength value="6"/>
     <xsd:pattern value="\d*"/>
    </xsd:restriction>
   </xsd:simpleType>
  </xsd:schema>
  <xsd:schema attributeFormDefault="qualified" targetNamespace="urn:sap-com:document:sap:soap:functions:mc-style" xmlns:n0="urn:sap-com:document:sap:rfc:functions">
   <xsd:import namespace="urn:sap-com:document:sap:rfc:functions"/>
   <xsd:simpleType name="char10">
    <xsd:restriction base="xsd:string">
     <xsd:maxLength value="10"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="char250">
    <xsd:restriction base="xsd:string">
     <xsd:maxLength value="250"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="char30">
    <xsd:restriction base="xsd:string">
     <xsd:maxLength value="30"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="char40">
    <xsd:restriction base="xsd:string">
     <xsd:maxLength value="40"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:complexType name="IsuC4cV2SObjectAddress">
    <xsd:sequence>
     <xsd:element name="ObjectAddress" type="tns:IsuC4cObjectAddress" minOccurs="0"/>
     <xsd:element name="BpAddress" type="tns:IsuC4cBpAddrT" minOccurs="0"/>
    </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="IsuC4cObjectAddress">
    <xsd:sequence>
     <xsd:element name="Addrnumber" type="n0:char10" minOccurs="0"/>
     <xsd:element name="Addrhandle" type="n0:char140" minOccurs="0"/>
     <xsd:element name="Nation" type="n0:char1" minOccurs="0"/>
     <xsd:element name="Date" type="n0:char10" minOccurs="0"/>
     <xsd:element name="DateFrom" type="n0:char10" minOccurs="0"/>
     <xsd:element name="DateTo" type="n0:char10" minOccurs="0"/>
     <xsd:element name="Include" type="tns:Addr1Sel" minOccurs="0"/>
     <xsd:element name="NameCo" type="n0:char40" minOccurs="0"/>
     <xsd:element name="City1" type="n0:char40" minOccurs="0"/>
     <xsd:element name="City2" type="n0:char40" minOccurs="0"/>
     <xsd:element name="CityCode" type="n0:char12" minOccurs="0"/>
     <xsd:element name="CitypCode" type="n0:char8" minOccurs="0"/>
     <xsd:element name="HomeCity" type="n0:char40" minOccurs="0"/>
     <xsd:element name="CityhCode" type="n0:char12" minOccurs="0"/>
     <xsd:element name="Chckstatus" type="n0:char1" minOccurs="0"/>
     <xsd:element name="Regiogroup" type="n0:char8" minOccurs="0"/>
     <xsd:element name="PostCode1" type="n0:char10" minOccurs="0"/>
     <xsd:element name="PostCode2" type="n0:char10" minOccurs="0"/>
     <xsd:element name="PostCode3" type="n0:char10" minOccurs="0"/>
     <xsd:element name="PoBox" type="n0:char10" minOccurs="0"/>
     <xsd:element name="PoBoxNum" type="n0:char1" minOccurs="0"/>
     <xsd:element name="PoBoxLoc" type="n0:char40" minOccurs="0"/>
     <xsd:element name="CityCode2" type="n0:char12" minOccurs="0"/>
     <xsd:element name="PoBoxReg" type="n0:char3" minOccurs="0"/>
     <xsd:element name="PoBoxCty" type="n0:char3" minOccurs="0"/>
     <xsd:element name="Transpzone" type="n0:char10" minOccurs="0"/>
     <xsd:element name="Street" type="n0:char60" minOccurs="0"/>
     <xsd:element name="Streetcode" type="n0:char12" minOccurs="0"/>
     <xsd:element name="HouseNum1" type="n0:char10" minOccurs="0"/>
     <xsd:element name="HouseNum2" type="n0:char10" minOccurs="0"/>
     <xsd:element name="StrSuppl1" type="n0:char40" minOccurs="0"/>
     <xsd:element name="StrSuppl2" type="n0:char40" minOccurs="0"/>
     <xsd:element name="StrSuppl3" type="n0:char40" minOccurs="0"/>
     <xsd:element name="Location" type="n0:char40" minOccurs="0"/>
     <xsd:element name="Building" type="n0:char20" minOccurs="0"/>
     <xsd:element name="Floor" type="n0:char10" minOccurs="0"/>
     <xsd:element name="Roomnumber" type="n0:char10" minOccurs="0"/>
     <xsd:element name="Country" type="n0:char3" minOccurs="0"/>
     <xsd:element name="Langu" type="n0:lang" minOccurs="0"/>
     <xsd:element name="Region" type="n0:char3" minOccurs="0"/>
     <xsd:element name="Sort1" type="n0:char20" minOccurs="0"/>
     <xsd:element name="Sort2" type="n0:char20" minOccurs="0"/>
     <xsd:element name="TimeZone" type="n0:char6" minOccurs="0"/>
     <xsd:element name="Taxjurcode" type="n0:char15" minOccurs="0"/>
     <xsd:element name="Remark" type="n0:char50" minOccurs="0"/>
     <xsd:element name="LanguCrea" type="n0:lang" minOccurs="0"/>
     <xsd:element name="PoBoxLobby" type="n0:char40" minOccurs="0"/>
     <xsd:element name="DeliServType" type="n0:char4" minOccurs="0"/>
     <xsd:element name="DeliServNumber" type="n0:char10" minOccurs="0"/>
     <xsd:element name="CountyCode" type="n0:char8" minOccurs="0"/>
     <xsd:element name="County" type="n0:char40" minOccurs="0"/>
     <xsd:element name="TownshipCode" type="n0:char8" minOccurs="0"/>
     <xsd:element name="Township" type="n0:char40" minOccurs="0"/>
     <xsd:element name="AddressLines" type="tns:Eadrln" minOccurs="0"/>
     <xsd:element name="TxtlanguVbs" type="n0:lang" minOccurs="0"/>
     <xsd:element name="Lagevbszus" type="tns:char40" minOccurs="0"/>
     <xsd:element name="StrErg2Vbs" type="n0:char40" minOccurs="0"/>
     <xsd:element name="StrErg4Vbs" type="n0:char40" minOccurs="0"/>
     <xsd:element name="HausNum2Vbs" type="n0:char10" minOccurs="0"/>
     <xsd:element name="FloorVbs" type="n0:char10" minOccurs="0"/>
     <xsd:element name="RoomnumberVbs" type="n0:char10" minOccurs="0"/>
     <xsd:element name="Stortgp" type="tns:char10" minOccurs="0"/>
     <xsd:element name="Stortgptxt" type="tns:char40" minOccurs="0"/>
     <xsd:element name="Stortgpzus" type="tns:char30" minOccurs="0"/>
     <xsd:element name="TitleMedi" type="tns:char30" minOccurs="0"/>
     <xsd:element name="FormattedAddress" type="tns:char250" minOccurs="0"/>
    </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="Eadrln">
    <xsd:sequence>
     <xsd:element name="Line1" type="n0:char80" minOccurs="0"/>
     <xsd:element name="Line2" type="n0:char80" minOccurs="0"/>
     <xsd:element name="Line3" type="n0:char80" minOccurs="0"/>
     <xsd:element name="Line4" type="n0:char80" minOccurs="0"/>
     <xsd:element name="Line5" type="n0:char80" minOccurs="0"/>
     <xsd:element name="Line6" type="n0:char80" minOccurs="0"/>
    </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="Addr1Sel">
    <xsd:sequence>
     <xsd:element name="Addrnumber" type="n0:char10" minOccurs="0"/>
     <xsd:element name="Addrhandle" type="n0:char140" minOccurs="0"/>
     <xsd:element name="Nation" type="n0:char1" minOccurs="0"/>
     <xsd:element name="Date" type="n0:date10" minOccurs="0"/>
    </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="IsuC4cBpAddrS">
    <xsd:sequence>
     <xsd:element name="AddressNumber" type="n0:char10" minOccurs="0"/>
     <xsd:element name="AddressDescription" type="n0:char60" minOccurs="0"/>
     <xsd:element name="ValidToDate" type="n0:char10" minOccurs="0"/>
     <xsd:element name="ValidFromDate" type="n0:char10" minOccurs="0"/>
    </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="Bapiret2">
    <xsd:sequence>
     <xsd:element name="Type" type="n0:char1" minOccurs="0"/>
     <xsd:element name="Id" type="n0:char20" minOccurs="0"/>
     <xsd:element name="Number" type="n0:numeric3" minOccurs="0"/>
     <xsd:element name="Message" type="n0:char220" minOccurs="0"/>
     <xsd:element name="LogNo" type="n0:char20" minOccurs="0"/>
     <xsd:element name="LogMsgNo" type="n0:numeric6" minOccurs="0"/>
     <xsd:element name="MessageV1" type="n0:char50" minOccurs="0"/>
     <xsd:element name="MessageV2" type="n0:char50" minOccurs="0"/>
     <xsd:element name="MessageV3" type="n0:char50" minOccurs="0"/>
     <xsd:element name="MessageV4" type="n0:char50" minOccurs="0"/>
     <xsd:element name="Parameter" type="n0:char32" minOccurs="0"/>
     <xsd:element name="Row" type="xsd:int" minOccurs="0"/>
     <xsd:element name="Field" type="n0:char30" minOccurs="0"/>
     <xsd:element name="System" type="n0:char10" minOccurs="0"/>
    </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="IsuC4cBpAddrT">
    <xsd:sequence>
     <xsd:element name="item" type="tns:IsuC4cBpAddrS" minOccurs="0" maxOccurs="unbounded"/>
    </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="Bapiret2T">
    <xsd:sequence>
     <xsd:element name="item" type="tns:Bapiret2" minOccurs="0" maxOccurs="unbounded"/>
    </xsd:sequence>
   </xsd:complexType>
   <xsd:element name="IsuC4cV2ObjectAddress">
    <xsd:complexType>
     <xsd:sequence>
      <xsd:element name="AddressType" type="n0:char1" minOccurs="0"/>
      <xsd:element name="ObjectId" type="n0:char70" minOccurs="0"/>
     </xsd:sequence>
    </xsd:complexType>
   </xsd:element>
   <xsd:element name="IsuC4cV2ObjectAddressResponse">
    <xsd:complexType>
     <xsd:sequence>
      <xsd:element name="EsAddress" type="tns:IsuC4cV2SObjectAddress" minOccurs="0"/>
      <xsd:element name="EtMessage" type="tns:Bapiret2T" minOccurs="0"/>
     </xsd:sequence>
    </xsd:complexType>
   </xsd:element>
  </xsd:schema>
 </wsdl:types>
 <wsdl:message name="IsuC4cV2ObjectAddress">
  <wsdl:part name="parameters" element="tns:IsuC4cV2ObjectAddress"/>
 </wsdl:message>
 <wsdl:message name="IsuC4cV2ObjectAddressResponse">
  <wsdl:part name="parameter" element="tns:IsuC4cV2ObjectAddressResponse"/>
 </wsdl:message>
 <wsdl:portType name="ISU_C4C_V2_OBJECT_ADDRESS_GET">
  <wsdl:documentation>
   <sapdoc:sapdoc xmlns:sapdoc="urn:sap:esi:documentation">
    <sapdoc:docitem docURL="http://ldciemt.wdf.sap.corp:50022/sap/bc/esdt/docu/sd_text?sap-client=350&amp;sd_name=ISU_C4C_V2_OBJECT_ADDRESS_GET"/>
    <sapdoc:docitem applicationComponent="IS-U-CS-C4C"/>
   </sapdoc:sapdoc>
  </wsdl:documentation>
  <wsp:Policy>
   <wsp:PolicyReference URI="#IF_IF_ISU_C4C_V2_OBJECT_ADDRESS_GET"/>
  </wsp:Policy>
  <wsdl:operation name="IsuC4cV2ObjectAddress">
   <wsp:Policy>
    <wsp:PolicyReference URI="#OP_IF_OP_IsuC4cV2ObjectAddress"/>
   </wsp:Policy>
   <wsdl:input message="tns:IsuC4cV2ObjectAddress"/>
   <wsdl:output message="tns:IsuC4cV2ObjectAddressResponse"/>
  </wsdl:operation>
 </wsdl:portType>
</wsdl:definitions>
