Resources/schemas/Wsdl/SAP_Cloud_for_Customer_Integration_with_SAP_ERP - AttachmentFolderReplicationRequest_Out.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns:p1="http://sap.com/xi/CODERINT" xmlns:p2="http://sap.com/xi/SAPGlobal20/Global"
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap"
	xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy"
	xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd"
	name="AttachmentFolderReplicationRequest_Out" soap:location="http://www.example.org/"
	targetNamespace="http://sap.com/xi/CODERINT" wsdlsoap:location="http://www.example.org/">
	<wsdl:documentation />
	<wsp:UsingPolicy wsdl:required="true" />
	<wsp:Policy wsu:Id="OP_AttachmentFolderReplicationRequest_Out" />
	<wsdl:types>
		<xsd:schema xmlns="http://sap.com/xi/SAPGlobal20/Global"
			xmlns:p9="http://sap.com/xi/CODERINT" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
			targetNamespace="http://sap.com/xi/SAPGlobal20/Global">
			<xsd:import namespace="http://sap.com/xi/CODERINT" />
			<xsd:element name="AttachmentFolderBulkReplicateRequest"
				type="p9:AttachmentFolderBulkReplicateRequest" />
		</xsd:schema>
		<xsd:schema xmlns="http://sap.com/xi/CODERINT" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
			targetNamespace="http://sap.com/xi/CODERINT">
			<xsd:simpleType name="VersionID">
				<xsd:annotation>
					<xsd:appinfo source="http://sap.com/xi/VersionID">849d55baaabc11e48cb1000033b6d7f2
					</xsd:appinfo>
					<xsd:appinfo source="http://sap.com/esi/RepresentationTerm">Identifier</xsd:appinfo>
					<xsd:appinfo source="http://sap.com/esi/FixedValues">false</xsd:appinfo>
				</xsd:annotation>
				<xsd:restriction base="xsd:token">
					<xsd:minLength value="1" />
					<xsd:maxLength value="32" />
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:simpleType name="Indicator">
				<xsd:annotation>
					<xsd:documentation xml:lang="EN">Indicator is the
						representation of a situation that has exactly two mutually
						exclusive Boolean values.</xsd:documentation>
					<xsd:appinfo source="http://sap.com/xi/VersionID">81704c15aabc11e4b688000033b6d7f2
					</xsd:appinfo>
					<xsd:appinfo source="http://sap.com/esi/RepresentationTerm">Indicator</xsd:appinfo>
					<xsd:appinfo source="http://sap.com/esi/FixedValues">false</xsd:appinfo>
				</xsd:annotation>
				<xsd:restriction base="xsd:boolean" />
			</xsd:simpleType>
			<xsd:simpleType name="ActionCode">
				<xsd:annotation>
					<xsd:appinfo source="http://sap.com/xi/VersionID">82484b33aabc11e4aa18000033b6d7f2
					</xsd:appinfo>
					<xsd:appinfo source="http://sap.com/esi/RepresentationTerm">Code</xsd:appinfo>
					<xsd:appinfo source="http://sap.com/esi/FixedValues">true</xsd:appinfo>
				</xsd:annotation>
				<xsd:restriction base="xsd:token">
					<xsd:length value="2" />
					<xsd:enumeration value="01" />
					<xsd:enumeration value="02" />
					<xsd:enumeration value="03" />
					<xsd:enumeration value="04" />
					<xsd:enumeration value="05" />
					<xsd:enumeration value="06" />
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:simpleType name="LANGUAGEINDEPENDENT_LONG_Name">
				<xsd:annotation>
					<xsd:appinfo source="http://sap.com/xi/TextID">cc7342501e6811dc9e020017a4aa3b42
					</xsd:appinfo>
					<xsd:appinfo source="http://sap.com/xi/VersionID">87c0da4eaabc11e4a624000033b6d7f2
					</xsd:appinfo>
				</xsd:annotation>
				<xsd:restriction base="xsd:string">
					<xsd:minLength value="0" />
					<xsd:maxLength value="80" />
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:simpleType name="PhoneNumberSubscriberID">
				<xsd:annotation>
					<xsd:appinfo source="http://sap.com/xi/TextID">c9d231a21e6811dcb8a50017a4aa3b42
					</xsd:appinfo>
					<xsd:appinfo source="http://sap.com/xi/VersionID">89d556beaabc11e487c4000033b6d7f2
					</xsd:appinfo>
				</xsd:annotation>
				<xsd:restriction base="xsd:token">
					<xsd:minLength value="1" />
					<xsd:maxLength value="30" />
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:simpleType name="PartyStandardID.Content">
				<xsd:annotation>
					<xsd:documentation xml:lang="EN">Standardized
						identifier for a party, and the identification scheme used is
						controlled by an agency from the code list DE 3055
					</xsd:documentation>
				</xsd:annotation>
				<xsd:restriction base="xsd:token">
					<xsd:minLength value="1" />
					<xsd:maxLength value="13" />
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:simpleType name="LanguageCode">
				<xsd:annotation>
					<xsd:appinfo source="http://sap.com/xi/VersionID">88942c0caabc11e48778000033b6d7f2
					</xsd:appinfo>
					<xsd:appinfo source="http://sap.com/esi/RepresentationTerm">Code</xsd:appinfo>
					<xsd:appinfo source="http://sap.com/esi/FixedValues">false</xsd:appinfo>
				</xsd:annotation>
				<xsd:restriction base="xsd:language">
					<xsd:minLength value="2" />
					<xsd:maxLength value="9" />
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:simpleType name="LANGUAGEINDEPENDENT_MEDIUM_Name">
				<xsd:annotation>
					<xsd:appinfo source="http://sap.com/xi/TextID">cfbb1a501e6811dcbae50017a4aa3b42
					</xsd:appinfo>
					<xsd:appinfo source="http://sap.com/xi/VersionID">8801d2a0aabc11e4b7f6000033b6d7f2
					</xsd:appinfo>
				</xsd:annotation>
				<xsd:restriction base="xsd:string">
					<xsd:minLength value="0" />
					<xsd:maxLength value="40" />
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:simpleType name="MEDIUM_Name.Content">
				<xsd:restriction base="xsd:string">
					<xsd:minLength value="1" />
					<xsd:maxLength value="40" />
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:simpleType name="UserAccountID.Content">
				<xsd:restriction base="xsd:token">
					<xsd:minLength value="1" />
					<xsd:maxLength value="255" />
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:simpleType name="MIMECode">
				<xsd:annotation>
					<xsd:appinfo source="http://sap.com/xi/VersionID">86317ba6aabc11e4cc46000033b6d7f2
					</xsd:appinfo>
					<xsd:appinfo source="http://sap.com/esi/RepresentationTerm">Code</xsd:appinfo>
					<xsd:appinfo source="http://sap.com/esi/FixedValues">false</xsd:appinfo>
				</xsd:annotation>
				<xsd:restriction base="xsd:token">
					<xsd:minLength value="1" />
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:simpleType name="PropertyDataTypeFormatCode">
				<xsd:annotation>
					<xsd:appinfo source="http://sap.com/xi/VersionID">893de7c8aabc11e4c122000033b6d7f2
					</xsd:appinfo>
					<xsd:appinfo source="http://sap.com/esi/RepresentationTerm">Code</xsd:appinfo>
					<xsd:appinfo source="http://sap.com/esi/FixedValues">false</xsd:appinfo>
				</xsd:annotation>
				<xsd:restriction base="xsd:token">
					<xsd:minLength value="1" />
					<xsd:maxLength value="10" />
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:simpleType name="PhoneNumberExtensionID">
				<xsd:annotation>
					<xsd:appinfo source="http://sap.com/xi/TextID">d0b335f01e6811dcceb50017a4aa3b42
					</xsd:appinfo>
					<xsd:appinfo source="http://sap.com/xi/VersionID">8a84621caabc11e4cc41000033b6d7f2
					</xsd:appinfo>
				</xsd:annotation>
				<xsd:restriction base="xsd:token">
					<xsd:minLength value="1" />
					<xsd:maxLength value="10" />
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:simpleType name="BusinessScopeID.Content">
				<xsd:annotation>
					<xsd:documentation xml:lang="EN">Identifier of a
						BusinessScope</xsd:documentation>
				</xsd:annotation>
				<xsd:restriction base="xsd:token">
					<xsd:minLength value="1" />
					<xsd:maxLength value="36" />
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:simpleType name="MeasureUnitCode">
				<xsd:annotation>
					<xsd:appinfo source="http://sap.com/xi/VersionID">891c43dbaabc11e4bf9e000033b6d7f2
					</xsd:appinfo>
					<xsd:appinfo source="http://sap.com/esi/RepresentationTerm">Code</xsd:appinfo>
					<xsd:appinfo source="http://sap.com/esi/FixedValues">false</xsd:appinfo>
				</xsd:annotation>
				<xsd:restriction base="xsd:token">
					<xsd:minLength value="1" />
					<xsd:maxLength value="3" />
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:simpleType name="PhoneNumberAreaID">
				<xsd:annotation>
					<xsd:appinfo source="http://sap.com/xi/TextID">d0bb73501e6811dcca790017a4aa3b42
					</xsd:appinfo>
					<xsd:appinfo source="http://sap.com/xi/VersionID">89b41f3eaabc11e4c14a000033b6d7f2
					</xsd:appinfo>
				</xsd:annotation>
				<xsd:restriction base="xsd:token">
					<xsd:minLength value="1" />
					<xsd:maxLength value="10" />
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:simpleType name="ObjectTypeCode.Content">
				<xsd:restriction base="xsd:token">
					<xsd:minLength value="1" />
					<xsd:maxLength value="5" />
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:simpleType name="OrdinalNumberValue_V1">
				<xsd:annotation>
					<xsd:appinfo source="http://sap.com/xi/VersionID">82f4ce0eaabc11e4caae000033b6d7f2
					</xsd:appinfo>
					<xsd:appinfo source="http://sap.com/esi/RepresentationTerm">Value</xsd:appinfo>
					<xsd:appinfo source="http://sap.com/esi/FixedValues">false</xsd:appinfo>
				</xsd:annotation>
				<xsd:restriction base="xsd:decimal">
					<xsd:totalDigits value="20" />
					<xsd:fractionDigits value="0" />
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:simpleType name="UUID.Content">
				<xsd:annotation>
					<xsd:documentation xml:lang="EN">Universally Unique
						Identifier</xsd:documentation>
				</xsd:annotation>
				<xsd:restriction base="xsd:token">
					<xsd:length value="36" />
					<xsd:pattern
						value="[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}" />
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:simpleType name="WebURI">
				<xsd:annotation>
					<xsd:appinfo source="http://sap.com/xi/VersionID">872437c2aabc11e48e5a000033b6d7f2
					</xsd:appinfo>
					<xsd:appinfo source="http://sap.com/esi/RepresentationTerm">URI</xsd:appinfo>
					<xsd:appinfo source="http://sap.com/esi/FixedValues">false</xsd:appinfo>
				</xsd:annotation>
				<xsd:restriction base="xsd:anyURI" />
			</xsd:simpleType>
			<xsd:simpleType name="DocumentCategoryCode">
				<xsd:annotation>
					<xsd:appinfo source="http://sap.com/xi/VersionID">8601208aaabc11e4c98f000033b6d7f2
					</xsd:appinfo>
					<xsd:appinfo source="http://sap.com/esi/RepresentationTerm">Code</xsd:appinfo>
					<xsd:appinfo source="http://sap.com/esi/FixedValues">false</xsd:appinfo>
				</xsd:annotation>
				<xsd:restriction base="xsd:token">
					<xsd:length value="1" />
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:simpleType name="CountryDiallingCode">
				<xsd:annotation>
					<xsd:appinfo source="http://sap.com/xi/TextID">d10e9c601e6811dcb8e40017a4aa3b42
					</xsd:appinfo>
					<xsd:appinfo source="http://sap.com/xi/VersionID">8a199bcbaabc11e48d60000033b6d7f2
					</xsd:appinfo>
				</xsd:annotation>
				<xsd:restriction base="xsd:token">
					<xsd:minLength value="1" />
					<xsd:maxLength value="10" />
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:simpleType name="CountryCode">
				<xsd:annotation>
					<xsd:appinfo source="http://sap.com/xi/TextID">cc670d501e6811dcad740017a4aa3b42
					</xsd:appinfo>
					<xsd:appinfo source="http://sap.com/xi/VersionID">8a3b1a9aaabc11e4bd76000033b6d7f2
					</xsd:appinfo>
				</xsd:annotation>
				<xsd:restriction base="xsd:token">
					<xsd:minLength value="2" />
					<xsd:maxLength value="3" />
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:simpleType name="GLOBAL_DateTime">
				<xsd:annotation>
					<xsd:appinfo source="http://sap.com/xi/VersionID">81d0eff9aabc11e49663000033b6d7f2
					</xsd:appinfo>
					<xsd:appinfo source="http://sap.com/esi/RepresentationTerm">DateTime</xsd:appinfo>
					<xsd:appinfo source="http://sap.com/esi/FixedValues">false</xsd:appinfo>
				</xsd:annotation>
				<xsd:restriction base="xsd:dateTime">
					<xsd:pattern
						value="[0-9]{4}-[0-9]{2}-[0-9]{2}T[0-9]{2}:[0-9]{2}:[0-9]{2}(.[0-9]{1,7})?Z" />
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:simpleType name="CharacterSetCode">
				<xsd:annotation>
					<xsd:documentation xml:lang="EN">A CharacterSetCode is
						the coded representation</xsd:documentation>
					<xsd:appinfo source="http://sap.com/xi/VersionID">88e0b0fcaabc11e4a0e4000033b6d7f2
					</xsd:appinfo>
					<xsd:appinfo source="http://sap.com/esi/RepresentationTerm">Code</xsd:appinfo>
					<xsd:appinfo source="http://sap.com/esi/FixedValues">false</xsd:appinfo>
				</xsd:annotation>
				<xsd:restriction base="xsd:token">
					<xsd:minLength value="1" />
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:simpleType name="BusinessSystemID">
				<xsd:annotation>
					<xsd:appinfo source="http://sap.com/xi/TextID">cfcd69d01e6811dc89020017a4aa3b42
					</xsd:appinfo>
					<xsd:appinfo source="http://sap.com/xi/VersionID">819b540faabc11e48ba4000033b6d7f2
					</xsd:appinfo>
				</xsd:annotation>
				<xsd:restriction base="xsd:token">
					<xsd:minLength value="1" />
					<xsd:maxLength value="60" />
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:simpleType name="DocumentTypeCode.Content">
				<xsd:restriction base="xsd:token">
					<xsd:minLength value="1" />
					<xsd:maxLength value="5" />
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:simpleType name="LANGUAGEINDEPENDENT_Name">
				<xsd:annotation>
					<xsd:appinfo source="http://sap.com/xi/VersionID">86de9b56aabc11e4b16a000033b6d7f2
					</xsd:appinfo>
					<xsd:appinfo source="http://sap.com/esi/RepresentationTerm">Name</xsd:appinfo>
					<xsd:appinfo source="http://sap.com/esi/FixedValues">false</xsd:appinfo>
				</xsd:annotation>
				<xsd:restriction base="xsd:string" />
			</xsd:simpleType>
			<xsd:simpleType name="ObjectID.Content">
				<xsd:restriction base="xsd:token">
					<xsd:minLength value="1" />
					<xsd:maxLength value="100" />
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:simpleType name="AgencyIdentificationCode">
				<xsd:annotation>
					<xsd:documentation xml:lang="EN">An
						AgencyIdentificationCode is a code representation of the agency
						responsible for a code list or identifier scheme, respectively
					</xsd:documentation>
					<xsd:appinfo source="http://sap.com/xi/VersionID">846afad4aabc11e4cf9f000033b6d7f2
					</xsd:appinfo>
					<xsd:appinfo source="http://sap.com/esi/RepresentationTerm">Code</xsd:appinfo>
					<xsd:appinfo source="http://sap.com/esi/FixedValues">false</xsd:appinfo>
				</xsd:annotation>
				<xsd:restriction base="xsd:token">
					<xsd:minLength value="1" />
					<xsd:maxLength value="3" />
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:simpleType name="BusinessScopeTypeCode.Content">
				<xsd:annotation>
					<xsd:documentation xml:lang="EN">Coded representation
						of the type of a BusinessScope</xsd:documentation>
				</xsd:annotation>
				<xsd:restriction base="xsd:token">
					<xsd:minLength value="1" />
					<xsd:maxLength value="4" />
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:simpleType name="Measure.Content">
				<xsd:annotation>
					<xsd:documentation xml:lang="EN">Measure is a physical
						indication of Measurements including the assigned Unit of Measure
					</xsd:documentation>
				</xsd:annotation>
				<xsd:restriction base="xsd:decimal">
					<xsd:totalDigits value="31" />
					<xsd:fractionDigits value="14" />
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:simpleType name="PartyInternalID.Content">
				<xsd:annotation>
					<xsd:documentation xml:lang="EN">Proprietary
						identifier for a party</xsd:documentation>
				</xsd:annotation>
				<xsd:restriction base="xsd:token">
					<xsd:minLength value="1" />
					<xsd:maxLength value="32" />
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:simpleType name="BusinessScopeInstanceID.Content">
				<xsd:annotation>
					<xsd:documentation xml:lang="EN">Identifier for the
						instance of a BusinessScope</xsd:documentation>
				</xsd:annotation>
				<xsd:restriction base="xsd:token">
					<xsd:minLength value="1" />
					<xsd:maxLength value="36" />
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:simpleType name="TimeZoneCode">
				<xsd:annotation>
					<xsd:appinfo source="http://sap.com/xi/VersionID">8b36393caabc11e4afc7000033b6d7f2
					</xsd:appinfo>
					<xsd:appinfo source="http://sap.com/esi/RepresentationTerm">Code</xsd:appinfo>
					<xsd:appinfo source="http://sap.com/esi/FixedValues">false</xsd:appinfo>
				</xsd:annotation>
				<xsd:restriction base="xsd:token">
					<xsd:minLength value="1" />
					<xsd:maxLength value="10" />
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:simpleType name="LANGUAGEINDEPENDENT_Text">
				<xsd:annotation>
					<xsd:appinfo source="http://sap.com/xi/VersionID">8ad11b49aabc11e4b284000033b6d7f2
					</xsd:appinfo>
					<xsd:appinfo source="http://sap.com/esi/RepresentationTerm">Text</xsd:appinfo>
					<xsd:appinfo source="http://sap.com/esi/FixedValues">false</xsd:appinfo>
				</xsd:annotation>
				<xsd:restriction base="xsd:string" />
			</xsd:simpleType>
			<xsd:simpleType name="ContactPersonInternalID.Content">
				<xsd:restriction base="xsd:token">
					<xsd:minLength value="1" />
					<xsd:maxLength value="32" />
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:simpleType name="IntegerValue">
				<xsd:annotation>
					<xsd:appinfo source="http://sap.com/xi/VersionID">8aa916c3aabc11e49731000033b6d7f2
					</xsd:appinfo>
					<xsd:appinfo source="http://sap.com/esi/RepresentationTerm">Value</xsd:appinfo>
					<xsd:appinfo source="http://sap.com/esi/FixedValues">false</xsd:appinfo>
				</xsd:annotation>
				<xsd:restriction base="xsd:int" />
			</xsd:simpleType>
			<xsd:simpleType name="BusinessDocumentMessageID.Content">
				<xsd:annotation>
					<xsd:documentation xml:lang="EN">Unique identifier of
						a business document in a (technical) message that is issued by the
						sender business application</xsd:documentation>
				</xsd:annotation>
				<xsd:restriction base="xsd:token">
					<xsd:minLength value="1" />
					<xsd:maxLength value="35" />
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:complexType name="Description">
				<xsd:annotation>
					<xsd:documentation xml:lang="EN">Natural Language Text
					</xsd:documentation>
					<xsd:appinfo source="http://sap.com/xi/VersionID">84c1db4caabc11e4b4f0000033b6d7f2
					</xsd:appinfo>
					<xsd:appinfo source="http://sap.com/esi/RepresentationTerm">Description</xsd:appinfo>
					<xsd:appinfo source="http://sap.com/esi/FixedValues">false</xsd:appinfo>
				</xsd:annotation>
				<xsd:simpleContent>
					<xsd:extension base="xsd:string">
						<xsd:attribute name="languageCode" type="LanguageCode">
							<xsd:annotation>
								<xsd:appinfo source="http://sap.com/xi/TextID">35690200ad9b11d8a23fdedc0a140732
								</xsd:appinfo>
							</xsd:annotation>
						</xsd:attribute>
					</xsd:extension>
				</xsd:simpleContent>
			</xsd:complexType>
			<xsd:complexType name="BusinessScopeInstanceID">
				<xsd:annotation>
					<xsd:appinfo source="http://sap.com/xi/helperType">true</xsd:appinfo>
					<xsd:appinfo source="http://sap.com/xi/VersionID">8374fcafaabc11e4a7e4000033b6d7f2
					</xsd:appinfo>
				</xsd:annotation>
				<xsd:simpleContent>
					<xsd:extension base="BusinessScopeInstanceID.Content">
						<xsd:attribute name="schemeID">
							<xsd:simpleType>
								<xsd:restriction base="xsd:token">
									<xsd:minLength value="1" />
									<xsd:maxLength value="60" />
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:attribute>
						<xsd:attribute name="schemeAgencyID">
							<xsd:simpleType>
								<xsd:restriction base="xsd:token">
									<xsd:minLength value="1" />
									<xsd:maxLength value="60" />
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:attribute>
					</xsd:extension>
				</xsd:simpleContent>
			</xsd:complexType>
			<xsd:complexType name="ObjectTypeCode">
				<xsd:annotation>
					<xsd:appinfo source="http://sap.com/xi/helperType">true</xsd:appinfo>
					<xsd:appinfo source="http://sap.com/xi/VersionID">878606d4aabc11e49ced000033b6d7f2
					</xsd:appinfo>
					<xsd:appinfo source="http://sap.com/esi/RepresentationTerm">Code</xsd:appinfo>
					<xsd:appinfo source="http://sap.com/esi/FixedValues">false</xsd:appinfo>
				</xsd:annotation>
				<xsd:simpleContent>
					<xsd:extension base="ObjectTypeCode.Content">
						<xsd:attribute name="listID">
							<xsd:simpleType>
								<xsd:restriction base="xsd:token">
									<xsd:minLength value="1" />
									<xsd:maxLength value="60" />
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:attribute>
						<xsd:attribute name="listVersionID">
							<xsd:simpleType>
								<xsd:restriction base="xsd:token">
									<xsd:minLength value="1" />
									<xsd:maxLength value="15" />
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:attribute>
						<xsd:attribute name="listAgencyID">
							<xsd:simpleType>
								<xsd:restriction base="xsd:token">
									<xsd:minLength value="1" />
									<xsd:maxLength value="60" />
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:attribute>
						<xsd:attribute name="listAgencySchemeID">
							<xsd:simpleType>
								<xsd:restriction base="xsd:token">
									<xsd:minLength value="1" />
									<xsd:maxLength value="60" />
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:attribute>
						<xsd:attribute name="listAgencySchemeAgencyID" type="AgencyIdentificationCode" />
					</xsd:extension>
				</xsd:simpleContent>
			</xsd:complexType>
			<xsd:complexType name="EmailURI">
				<xsd:annotation>
					<xsd:appinfo source="http://sap.com/xi/TextID">c0f7f5601e6811dcb96c0017a4aa3b42
					</xsd:appinfo>
					<xsd:appinfo source="http://sap.com/xi/VersionID">8824939baabc11e48407000033b6d7f2
					</xsd:appinfo>
				</xsd:annotation>
				<xsd:simpleContent>
					<xsd:extension base="xsd:anyURI">
						<xsd:attribute name="schemeID">
							<xsd:simpleType>
								<xsd:restriction base="xsd:token">
									<xsd:minLength value="1" />
									<xsd:maxLength value="60" />
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:attribute>
					</xsd:extension>
				</xsd:simpleContent>
			</xsd:complexType>
			<xsd:complexType name="Measure">
				<xsd:annotation>
					<xsd:appinfo source="http://sap.com/xi/helperType">true</xsd:appinfo>
					<xsd:appinfo source="http://sap.com/xi/VersionID">869875f1aabc11e4cfe4000033b6d7f2
					</xsd:appinfo>
					<xsd:appinfo source="http://sap.com/esi/RepresentationTerm">Measure</xsd:appinfo>
					<xsd:appinfo source="http://sap.com/esi/FixedValues">false</xsd:appinfo>
				</xsd:annotation>
				<xsd:simpleContent>
					<xsd:extension base="Measure.Content">
						<xsd:attribute name="unitCode" type="MeasureUnitCode"
							use="required" />
					</xsd:extension>
				</xsd:simpleContent>
			</xsd:complexType>
			<xsd:complexType name="MEDIUM_Name">
				<xsd:annotation>
					<xsd:appinfo source="http://sap.com/xi/helperType">true</xsd:appinfo>
					<xsd:appinfo source="http://sap.com/xi/VersionID">89f739c6aabc11e4ae20000033b6d7f2
					</xsd:appinfo>
				</xsd:annotation>
				<xsd:simpleContent>
					<xsd:extension base="MEDIUM_Name.Content">
						<xsd:attribute name="languageCode" type="LanguageCode">
							<xsd:annotation>
								<xsd:appinfo source="http://sap.com/xi/TextID">d5b24bb0035b11da92f3e1fb0a135236
								</xsd:appinfo>
							</xsd:annotation>
						</xsd:attribute>
					</xsd:extension>
				</xsd:simpleContent>
			</xsd:complexType>
			<xsd:complexType name="BinaryObject">
				<xsd:annotation>
					<xsd:documentation xml:lang="EN">A BinaryObject is a
						finite data stream of any number of characters in binary notation
						(octets)</xsd:documentation>
					<xsd:appinfo source="http://sap.com/xi/VersionID">855dd1d8aabc11e4c691000033b6d7f2
					</xsd:appinfo>
					<xsd:appinfo source="http://sap.com/esi/RepresentationTerm">BinaryObject</xsd:appinfo>
					<xsd:appinfo source="http://sap.com/esi/FixedValues">false</xsd:appinfo>
				</xsd:annotation>
				<xsd:simpleContent>
					<xsd:extension base="xsd:base64Binary">
						<xsd:attribute name="mimeCode" type="MIMECode">
							<xsd:annotation>
								<xsd:appinfo source="http://sap.com/xi/TextID">5da364d068cb11daa634f60d0a12d371
								</xsd:appinfo>
							</xsd:annotation>
						</xsd:attribute>
						<xsd:attribute name="characterSetCode" type="CharacterSetCode">
							<xsd:annotation>
								<xsd:appinfo source="http://sap.com/xi/TextID">5da364d168cb11dabe5df60d0a12d371
								</xsd:appinfo>
							</xsd:annotation>
						</xsd:attribute>
						<xsd:attribute name="format" type="xsd:token">
							<xsd:annotation>
								<xsd:appinfo source="http://sap.com/xi/TextID">5da364d268cb11da811cf60d0a12d371
								</xsd:appinfo>
							</xsd:annotation>
						</xsd:attribute>
						<xsd:attribute name="fileName" type="xsd:string">
							<xsd:annotation>
								<xsd:appinfo source="http://sap.com/xi/TextID">5da364d368cb11dab2a2f60d0a12d371
								</xsd:appinfo>
							</xsd:annotation>
						</xsd:attribute>
						<xsd:attribute name="uri" type="xsd:anyURI">
							<xsd:annotation>
								<xsd:appinfo source="http://sap.com/xi/TextID">5da364d468cb11daaad1f60d0a12d371
								</xsd:appinfo>
							</xsd:annotation>
						</xsd:attribute>
					</xsd:extension>
				</xsd:simpleContent>
			</xsd:complexType>
			<xsd:complexType name="BusinessDocumentMessageHeader">
				<xsd:annotation>
					<xsd:documentation xml:lang="EN">Business information
						from the perspective of the sender application for identifying a
						business document (instance) within a (technical) message
					</xsd:documentation>
					<xsd:appinfo source="http://sap.com/xi/VersionID">8086012aaabc11e4b19f000033b6d7f2
					</xsd:appinfo>
				</xsd:annotation>
				<xsd:sequence>
					<xsd:element minOccurs="0" name="ID"
						type="BusinessDocumentMessageID">
						<xsd:annotation>
							<xsd:appinfo source="http://sap.com/xi/TextID">151ee290954411d8c7ced71b93cc14a9
							</xsd:appinfo>
						</xsd:annotation>
					</xsd:element>
					<xsd:element minOccurs="0" name="ReferenceID"
						type="BusinessDocumentMessageID">
						<xsd:annotation>
							<xsd:appinfo source="http://sap.com/xi/TextID">151ee291954411d8b641d71b93cc14a9
							</xsd:appinfo>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="CreationDateTime" type="GLOBAL_DateTime">
						<xsd:annotation>
							<xsd:appinfo source="http://sap.com/xi/TextID">151ee292954411d88b5dd71b93cc14a9
							</xsd:appinfo>
						</xsd:annotation>
					</xsd:element>
					<xsd:element minOccurs="0" name="TestDataIndicator"
						type="Indicator">
						<xsd:annotation>
							<xsd:appinfo source="http://sap.com/xi/TextID">ae0e2460fa2411daa51d00143800ce46
							</xsd:appinfo>
						</xsd:annotation>
					</xsd:element>
					<xsd:element minOccurs="0" name="ReconciliationIndicator"
						type="Indicator">
						<xsd:annotation>
							<xsd:appinfo source="http://sap.com/xi/TextID">66b72c80fa2711dab3a500143800ce46
							</xsd:appinfo>
						</xsd:annotation>
					</xsd:element>
					<xsd:element minOccurs="0" name="SenderBusinessSystemID"
						type="BusinessSystemID">
						<xsd:annotation>
							<xsd:appinfo source="http://sap.com/xi/TextID">33360820430811db825c00143800ce46
							</xsd:appinfo>
						</xsd:annotation>
					</xsd:element>
					<xsd:element minOccurs="0" name="RecipientBusinessSystemID"
						type="BusinessSystemID">
						<xsd:annotation>
							<xsd:appinfo source="http://sap.com/xi/TextID">33378ec0430811dbbc8c00143800ce46
							</xsd:appinfo>
						</xsd:annotation>
					</xsd:element>
					<xsd:element minOccurs="0" name="SenderParty"
						type="BusinessDocumentMessageHeaderParty">
						<xsd:annotation>
							<xsd:appinfo source="http://sap.com/xi/TextID">151ee293954411d891b7d71b93cc14a9
							</xsd:appinfo>
						</xsd:annotation>
					</xsd:element>
					<xsd:element maxOccurs="unbounded" minOccurs="0"
						name="RecipientParty" type="BusinessDocumentMessageHeaderParty">
						<xsd:annotation>
							<xsd:appinfo source="http://sap.com/xi/TextID">151ee294954411d8ba26d71b93cc14a9
							</xsd:appinfo>
						</xsd:annotation>
					</xsd:element>
					<xsd:element maxOccurs="unbounded" minOccurs="0"
						name="BusinessScope" type="BusinessScope">
						<xsd:annotation>
							<xsd:appinfo source="http://sap.com/xi/TextID">0173e590426e11dbb47d00143800ce46
							</xsd:appinfo>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="Document">
				<xsd:annotation>
					<xsd:appinfo source="http://sap.com/xi/VersionID">82a5a072aabc11e4a9e8000033b6d7f2
					</xsd:appinfo>
				</xsd:annotation>
				<xsd:sequence>
					<xsd:element name="PathName" type="LANGUAGEINDEPENDENT_Name">
						<xsd:annotation>
							<xsd:appinfo source="http://sap.com/xi/TextID">1495cd20eb0011da809c000bcd72d39c
							</xsd:appinfo>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="Name" type="LANGUAGEINDEPENDENT_Name">
						<xsd:annotation>
							<xsd:appinfo source="http://sap.com/xi/TextID">1495cd21eb0011da987d000bcd72d39c
							</xsd:appinfo>
						</xsd:annotation>
					</xsd:element>
					<xsd:element minOccurs="0" name="VersionID" type="VersionID">
						<xsd:annotation>
							<xsd:appinfo source="http://sap.com/xi/TextID">1495cd22eb0011da99bd000bcd72d39c
							</xsd:appinfo>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="SystemAdministrativeData" type="SystemAdministrativeData">
						<xsd:annotation>
							<xsd:appinfo source="http://sap.com/xi/TextID">1495cd23eb0011dab4af000bcd72d39c
							</xsd:appinfo>
						</xsd:annotation>
					</xsd:element>
					<xsd:element minOccurs="0" name="LinkInternalIndicator"
						type="Indicator">
						<xsd:annotation>
							<xsd:appinfo source="http://sap.com/xi/TextID">1495cd24eb0011da9c9d000bcd72d39c
							</xsd:appinfo>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="VisibleIndicator" type="Indicator">
						<xsd:annotation>
							<xsd:appinfo source="http://sap.com/xi/TextID">1495cd25eb0011daa3f3000bcd72d39c
							</xsd:appinfo>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="VersioningEnabledIndicator" type="Indicator">
						<xsd:annotation>
							<xsd:appinfo source="http://sap.com/xi/TextID">1495cd26eb0011da8f1d000bcd72d39c
							</xsd:appinfo>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="CategoryCode" type="DocumentCategoryCode">
						<xsd:annotation>
							<xsd:appinfo source="http://sap.com/xi/TextID">1495cd27eb0011dacb0b000bcd72d39c
							</xsd:appinfo>
						</xsd:annotation>
					</xsd:element>
					<xsd:element minOccurs="0" name="TypeCode" type="DocumentTypeCode">
						<xsd:annotation>
							<xsd:appinfo source="http://sap.com/xi/TextID">1495cd28eb0011dab93b000bcd72d39c
							</xsd:appinfo>
						</xsd:annotation>
					</xsd:element>
					<xsd:element minOccurs="0" name="MIMECode" type="MIMECode">
						<xsd:annotation>
							<xsd:appinfo source="http://sap.com/xi/TextID">1495cd29eb0011dac9bd000bcd72d39c
							</xsd:appinfo>
						</xsd:annotation>
					</xsd:element>
					<xsd:element minOccurs="0" name="AlternativeName"
						type="LANGUAGEINDEPENDENT_Name">
						<xsd:annotation>
							<xsd:appinfo source="http://sap.com/xi/TextID">1495cd2aeb0011daa522000bcd72d39c
							</xsd:appinfo>
						</xsd:annotation>
					</xsd:element>
					<xsd:element minOccurs="0" name="InternalLinkPathName"
						type="LANGUAGEINDEPENDENT_Name">
						<xsd:annotation>
							<xsd:appinfo source="http://sap.com/xi/TextID">1495cd2beb0011dab7d4000bcd72d39c
							</xsd:appinfo>
						</xsd:annotation>
					</xsd:element>
					<xsd:element minOccurs="0" name="Description" type="Description">
						<xsd:annotation>
							<xsd:appinfo source="http://sap.com/xi/TextID">1495cd2ceb0011daa5db000bcd72d39c
							</xsd:appinfo>
						</xsd:annotation>
					</xsd:element>
					<xsd:element minOccurs="0" name="ExternalLinkWebURI"
						type="WebURI">
						<xsd:annotation>
							<xsd:appinfo source="http://sap.com/xi/TextID">1495cd2deb0011dabd24000bcd72d39c
							</xsd:appinfo>
						</xsd:annotation>
					</xsd:element>
					<xsd:element minOccurs="0" name="FileContentURI" type="URI">
						<xsd:annotation>
							<xsd:appinfo source="http://sap.com/xi/TextID">1495cd2eeb0011da9bb7000bcd72d39c
							</xsd:appinfo>
						</xsd:annotation>
					</xsd:element>
					<xsd:element minOccurs="0" name="FileSizeMeasure" type="Measure">
						<xsd:annotation>
							<xsd:appinfo source="http://sap.com/xi/TextID">1495cd2feb0011da82d4000bcd72d39c
							</xsd:appinfo>
						</xsd:annotation>
					</xsd:element>
					<xsd:element minOccurs="0" name="FileContentBinaryObject"
						type="BinaryObject">
						<xsd:annotation>
							<xsd:appinfo source="http://sap.com/xi/TextID">1495cd30eb0011da8018000bcd72d39c
							</xsd:appinfo>
						</xsd:annotation>
					</xsd:element>
					<xsd:element minOccurs="0" name="Attachment" type="Attachment">
						<xsd:annotation>
							<xsd:appinfo source="http://sap.com/xi/TextID">1495cd31eb0011da9ec8000bcd72d39c
							</xsd:appinfo>
						</xsd:annotation>
					</xsd:element>
					<xsd:element maxOccurs="unbounded" minOccurs="0" name="Property"
						type="DocumentProperty">
						<xsd:annotation>
							<xsd:appinfo source="http://sap.com/xi/TextID">1495cd32eb0011daab3c000bcd72d39c
							</xsd:appinfo>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
				<xsd:attribute name="actionCode" type="ActionCode">
					<xsd:annotation>
						<xsd:appinfo source="http://sap.com/xi/TextID">1495cd33eb0011dac2da000bcd72d39c
						</xsd:appinfo>
					</xsd:annotation>
				</xsd:attribute>
			</xsd:complexType>
			<xsd:complexType name="BusinessScopeTypeCode">
				<xsd:annotation>
					<xsd:appinfo source="http://sap.com/xi/helperType">true</xsd:appinfo>
					<xsd:appinfo source="http://sap.com/xi/VersionID">834d6326aabc11e4c694000033b6d7f2
					</xsd:appinfo>
				</xsd:annotation>
				<xsd:simpleContent>
					<xsd:extension base="BusinessScopeTypeCode.Content">
						<xsd:attribute name="listID">
							<xsd:simpleType>
								<xsd:restriction base="xsd:token">
									<xsd:minLength value="1" />
									<xsd:maxLength value="60" />
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:attribute>
						<xsd:attribute name="listVersionID">
							<xsd:simpleType>
								<xsd:restriction base="xsd:token">
									<xsd:minLength value="1" />
									<xsd:maxLength value="15" />
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:attribute>
						<xsd:attribute name="listAgencyID">
							<xsd:simpleType>
								<xsd:restriction base="xsd:token">
									<xsd:minLength value="1" />
									<xsd:maxLength value="60" />
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:attribute>
						<xsd:attribute name="listAgencySchemeID">
							<xsd:simpleType>
								<xsd:restriction base="xsd:token">
									<xsd:minLength value="1" />
									<xsd:maxLength value="60" />
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:attribute>
						<xsd:attribute name="listAgencySchemeAgencyID" type="AgencyIdentificationCode" />
					</xsd:extension>
				</xsd:simpleContent>
			</xsd:complexType>
			<xsd:complexType name="NamespaceURI">
				<xsd:annotation>
					<xsd:appinfo source="http://sap.com/xi/VersionID">89609a6aaabc11e4ad9c000033b6d7f2
					</xsd:appinfo>
					<xsd:appinfo source="http://sap.com/esi/RepresentationTerm">URI</xsd:appinfo>
					<xsd:appinfo source="http://sap.com/esi/FixedValues">false</xsd:appinfo>
				</xsd:annotation>
				<xsd:simpleContent>
					<xsd:extension base="xsd:anyURI">
						<xsd:attribute name="schemeID">
							<xsd:simpleType>
								<xsd:restriction base="xsd:token">
									<xsd:minLength value="1" />
									<xsd:maxLength value="60" />
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:attribute>
					</xsd:extension>
				</xsd:simpleContent>
			</xsd:complexType>
			<xsd:complexType name="PartyInternalID">
				<xsd:annotation>
					<xsd:appinfo source="http://sap.com/xi/helperType">true</xsd:appinfo>
					<xsd:appinfo source="http://sap.com/xi/VersionID">84380be8aabc11e4a207000033b6d7f2
					</xsd:appinfo>
				</xsd:annotation>
				<xsd:simpleContent>
					<xsd:extension base="PartyInternalID.Content">
						<xsd:attribute name="schemeID">
							<xsd:annotation>
								<xsd:appinfo source="http://sap.com/xi/TextID">31113640313c11d892b8ef3e0a134a03
								</xsd:appinfo>
							</xsd:annotation>
							<xsd:simpleType>
								<xsd:restriction base="xsd:token">
									<xsd:minLength value="1" />
									<xsd:maxLength value="60" />
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:attribute>
						<xsd:attribute name="schemeAgencyID">
							<xsd:annotation>
								<xsd:appinfo source="http://sap.com/xi/TextID">31113641313c11d88183ef3e0a134a03
								</xsd:appinfo>
							</xsd:annotation>
							<xsd:simpleType>
								<xsd:restriction base="xsd:token">
									<xsd:minLength value="1" />
									<xsd:maxLength value="60" />
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:attribute>
					</xsd:extension>
				</xsd:simpleContent>
			</xsd:complexType>
			<xsd:complexType name="BusinessScopeID">
				<xsd:annotation>
					<xsd:appinfo source="http://sap.com/xi/helperType">true</xsd:appinfo>
					<xsd:appinfo source="http://sap.com/xi/VersionID">83a61587aabc11e4ccd2000033b6d7f2
					</xsd:appinfo>
				</xsd:annotation>
				<xsd:simpleContent>
					<xsd:extension base="BusinessScopeID.Content">
						<xsd:attribute name="schemeID">
							<xsd:simpleType>
								<xsd:restriction base="xsd:token">
									<xsd:minLength value="1" />
									<xsd:maxLength value="60" />
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:attribute>
						<xsd:attribute name="schemeAgencyID">
							<xsd:simpleType>
								<xsd:restriction base="xsd:token">
									<xsd:minLength value="1" />
									<xsd:maxLength value="60" />
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:attribute>
					</xsd:extension>
				</xsd:simpleContent>
			</xsd:complexType>
			<xsd:complexType name="DocumentTypeCode">
				<xsd:annotation>
					<xsd:appinfo source="http://sap.com/xi/helperType">true</xsd:appinfo>
					<xsd:appinfo source="http://sap.com/xi/VersionID">85275e7faabc11e49cfe000033b6d7f2
					</xsd:appinfo>
					<xsd:appinfo source="http://sap.com/esi/RepresentationTerm">Code</xsd:appinfo>
					<xsd:appinfo source="http://sap.com/esi/FixedValues">false</xsd:appinfo>
				</xsd:annotation>
				<xsd:simpleContent>
					<xsd:extension base="DocumentTypeCode.Content">
						<xsd:attribute name="listID">
							<xsd:simpleType>
								<xsd:restriction base="xsd:token">
									<xsd:minLength value="1" />
									<xsd:maxLength value="60" />
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:attribute>
						<xsd:attribute name="listVersionID">
							<xsd:simpleType>
								<xsd:restriction base="xsd:token">
									<xsd:minLength value="1" />
									<xsd:maxLength value="15" />
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:attribute>
						<xsd:attribute name="listAgencyID">
							<xsd:simpleType>
								<xsd:restriction base="xsd:token">
									<xsd:minLength value="1" />
									<xsd:maxLength value="60" />
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:attribute>
						<xsd:attribute name="listAgencySchemeID">
							<xsd:simpleType>
								<xsd:restriction base="xsd:token">
									<xsd:minLength value="1" />
									<xsd:maxLength value="60" />
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:attribute>
						<xsd:attribute name="listAgencySchemeAgencyID" type="AgencyIdentificationCode" />
					</xsd:extension>
				</xsd:simpleContent>
			</xsd:complexType>
			<xsd:complexType name="UserAccountID">
				<xsd:annotation>
					<xsd:appinfo source="http://sap.com/xi/helperType">true</xsd:appinfo>
					<xsd:appinfo source="http://sap.com/xi/VersionID">89010a5faabc11e4ac69000033b6d7f2
					</xsd:appinfo>
					<xsd:appinfo source="http://sap.com/esi/RepresentationTerm">Identifier</xsd:appinfo>
					<xsd:appinfo source="http://sap.com/esi/FixedValues">false</xsd:appinfo>
				</xsd:annotation>
				<xsd:simpleContent>
					<xsd:extension base="UserAccountID.Content">
						<xsd:attribute name="schemeAgencyID">
							<xsd:simpleType>
								<xsd:restriction base="xsd:token">
									<xsd:minLength value="1" />
									<xsd:maxLength value="60" />
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:attribute>
						<xsd:attribute name="schemeAgencySchemeAgencyID"
							type="AgencyIdentificationCode" />
					</xsd:extension>
				</xsd:simpleContent>
			</xsd:complexType>
			<xsd:complexType name="AttachmentFolderReplicateRequest">
				<xsd:annotation>
					<xsd:documentation xml:lang="EN">Attachment Folder
						Replicate Request</xsd:documentation>
					<xsd:appinfo source="http://sap.com/xi/VersionID">805ac9d5aabc11e4cd4d000033b6d7f2
					</xsd:appinfo>
				</xsd:annotation>
				<xsd:sequence>
					<xsd:element name="BasicMessageHeader" type="BusinessDocumentBasicMessageHeader">
						<xsd:annotation>
							<xsd:appinfo source="http://sap.com/xi/TextID">3d8bee5846cf11e3a3e358946b835430
							</xsd:appinfo>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="AttachmentFolder" type="AttachmentFolderInstance">
						<xsd:annotation>
							<xsd:appinfo source="http://sap.com/xi/TextID">82182e3f46f511e3956058946b835430
							</xsd:appinfo>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="PhoneNumber">
				<xsd:annotation>
					<xsd:appinfo source="http://sap.com/xi/TextID">ce8902f01e6811dc8c1f0017a4aa3b42
					</xsd:appinfo>
					<xsd:appinfo source="http://sap.com/xi/VersionID">886b751faabc11e4a6ed000033b6d7f2
					</xsd:appinfo>
				</xsd:annotation>
				<xsd:sequence>
					<xsd:element minOccurs="0" name="AreaID" type="PhoneNumberAreaID">
						<xsd:annotation>
							<xsd:appinfo source="http://sap.com/xi/TextID">05afcf1031f711d7810ddb820a126fd1
							</xsd:appinfo>
						</xsd:annotation>
					</xsd:element>
					<xsd:element minOccurs="0" name="SubscriberID"
						type="PhoneNumberSubscriberID">
						<xsd:annotation>
							<xsd:appinfo source="http://sap.com/xi/TextID">05b155b031f711d7a7cbdb820a126fd1
							</xsd:appinfo>
						</xsd:annotation>
					</xsd:element>
					<xsd:element minOccurs="0" name="ExtensionID"
						type="PhoneNumberExtensionID">
						<xsd:annotation>
							<xsd:appinfo source="http://sap.com/xi/TextID">05b155b131f711d7b24bdb820a126fd1
							</xsd:appinfo>
						</xsd:annotation>
					</xsd:element>
					<xsd:element minOccurs="0" name="CountryCode" type="CountryCode">
						<xsd:annotation>
							<xsd:appinfo source="http://sap.com/xi/TextID">05b155b231f711d7ced6db820a126fd1
							</xsd:appinfo>
						</xsd:annotation>
					</xsd:element>
					<xsd:element minOccurs="0" name="CountryDiallingCode"
						type="CountryDiallingCode" />
					<xsd:element minOccurs="0" name="CountryName" type="MEDIUM_Name">
						<xsd:annotation>
							<xsd:appinfo source="http://sap.com/xi/TextID">f9a35db0b2a611db99f1000bcd72d39c
							</xsd:appinfo>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="DocumentPropertyValue">
				<xsd:annotation>
					<xsd:appinfo source="http://sap.com/xi/VersionID">898b3f65aabc11e4b204000033b6d7f2
					</xsd:appinfo>
				</xsd:annotation>
				<xsd:sequence>
					<xsd:element minOccurs="0" name="Text"
						type="LANGUAGEINDEPENDENT_Text" />
					<xsd:element minOccurs="0" name="Indicator" type="Indicator" />
					<xsd:element minOccurs="0" name="DateTime" type="DateTime" />
					<xsd:element minOccurs="0" name="IntegerValue" type="IntegerValue" />
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="Attachment">
				<xsd:annotation>
					<xsd:appinfo source="http://sap.com/xi/VersionID">857c9704aabc11e48afe000033b6d7f2
					</xsd:appinfo>
					<xsd:appinfo source="http://sap.com/esi/RepresentationTerm">Attachment</xsd:appinfo>
					<xsd:appinfo source="http://sap.com/esi/FixedValues">false</xsd:appinfo>
				</xsd:annotation>
				<xsd:simpleContent>
					<xsd:extension base="xsd:normalizedString">
						<xsd:attribute name="id" use="required">
							<xsd:simpleType>
								<xsd:restriction base="xsd:token">
									<xsd:minLength value="1" />
									<xsd:maxLength value="35" />
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:attribute>
						<xsd:attribute name="fileName">
							<xsd:simpleType>
								<xsd:restriction base="xsd:string">
									<xsd:maxLength value="70" />
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:attribute>
					</xsd:extension>
				</xsd:simpleContent>
			</xsd:complexType>
			<xsd:complexType name="UUID">
				<xsd:annotation>
					<xsd:appinfo source="http://sap.com/xi/helperType">true</xsd:appinfo>
					<xsd:appinfo source="http://sap.com/xi/VersionID">8270f647aabc11e4caef000033b6d7f2
					</xsd:appinfo>
					<xsd:appinfo source="http://sap.com/esi/RepresentationTerm">Identifier</xsd:appinfo>
					<xsd:appinfo source="http://sap.com/esi/FixedValues">false</xsd:appinfo>
				</xsd:annotation>
				<xsd:simpleContent>
					<xsd:extension base="UUID.Content">
						<xsd:attribute name="schemeID">
							<xsd:simpleType>
								<xsd:restriction base="xsd:token">
									<xsd:minLength value="1" />
									<xsd:maxLength value="60" />
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:attribute>
						<xsd:attribute name="schemeAgencyID">
							<xsd:simpleType>
								<xsd:restriction base="xsd:token">
									<xsd:minLength value="1" />
									<xsd:maxLength value="60" />
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:attribute>
					</xsd:extension>
				</xsd:simpleContent>
			</xsd:complexType>
			<xsd:complexType name="SystemAdministrativeData">
				<xsd:annotation>
					<xsd:documentation xml:lang="EN">SystemAdministrativeData
					</xsd:documentation>
					<xsd:appinfo source="http://sap.com/xi/VersionID">8667f0a4aabc11e4b249000033b6d7f2
					</xsd:appinfo>
				</xsd:annotation>
				<xsd:sequence>
					<xsd:element name="CreationDateTime" type="GLOBAL_DateTime">
						<xsd:annotation>
							<xsd:appinfo source="http://sap.com/xi/TextID">4e041840c07811d9ac76d6210a134758
							</xsd:appinfo>
						</xsd:annotation>
					</xsd:element>
					<xsd:element minOccurs="0" name="CreationIdentityUUID"
						type="UUID">
						<xsd:annotation>
							<xsd:appinfo source="http://sap.com/xi/TextID">9d7bd870d9dd11daa0a5eaa80a133ea7
							</xsd:appinfo>
						</xsd:annotation>
					</xsd:element>
					<xsd:element minOccurs="0" name="CreationUserAccountID"
						type="UserAccountID">
						<xsd:annotation>
							<xsd:appinfo source="http://sap.com/xi/TextID">4e041841c07811d9b645d6210a134758
							</xsd:appinfo>
						</xsd:annotation>
					</xsd:element>
					<xsd:element minOccurs="0" name="LastChangeDateTime"
						type="GLOBAL_DateTime">
						<xsd:annotation>
							<xsd:appinfo source="http://sap.com/xi/TextID">4e041842c07811d9a41dd6210a134758
							</xsd:appinfo>
						</xsd:annotation>
					</xsd:element>
					<xsd:element minOccurs="0" name="LastChangeIdentityUUID"
						type="UUID">
						<xsd:annotation>
							<xsd:appinfo source="http://sap.com/xi/TextID">9d7bd871d9dd11da8182eaa80a133ea7
							</xsd:appinfo>
						</xsd:annotation>
					</xsd:element>
					<xsd:element minOccurs="0" name="LastChangeUserAccountID"
						type="UserAccountID">
						<xsd:annotation>
							<xsd:appinfo source="http://sap.com/xi/TextID">4e041843c07811d9c19cd6210a134758
							</xsd:appinfo>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="DocumentProperty">
				<xsd:annotation>
					<xsd:appinfo source="http://sap.com/xi/VersionID">87633394aabc11e49b11000033b6d7f2
					</xsd:appinfo>
				</xsd:annotation>
				<xsd:sequence>
					<xsd:element name="Name" type="LANGUAGEINDEPENDENT_Name">
						<xsd:annotation>
							<xsd:appinfo source="http://sap.com/xi/TextID">decc9670eb0311dabc49000bcd72d39c
							</xsd:appinfo>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="DataTypeFormatCode" type="PropertyDataTypeFormatCode">
						<xsd:annotation>
							<xsd:appinfo source="http://sap.com/xi/TextID">decc9671eb0311dac0ec000bcd72d39c
							</xsd:appinfo>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="VisibleIndicator" type="Indicator">
						<xsd:annotation>
							<xsd:appinfo source="http://sap.com/xi/TextID">decc9672eb0311dac5e0000bcd72d39c
							</xsd:appinfo>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="ChangeAllowedIndicator" type="Indicator">
						<xsd:annotation>
							<xsd:appinfo source="http://sap.com/xi/TextID">decc9673eb0311da8820000bcd72d39c
							</xsd:appinfo>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="MultipleValueIndicator" type="Indicator">
						<xsd:annotation>
							<xsd:appinfo source="http://sap.com/xi/TextID">decc9674eb0311daa99c000bcd72d39c
							</xsd:appinfo>
						</xsd:annotation>
					</xsd:element>
					<xsd:element minOccurs="0" name="NamespaceURI" type="NamespaceURI">
						<xsd:annotation>
							<xsd:appinfo source="http://sap.com/xi/TextID">decc9675eb0311da9210000bcd72d39c
							</xsd:appinfo>
						</xsd:annotation>
					</xsd:element>
					<xsd:element minOccurs="0" name="Description" type="Description">
						<xsd:annotation>
							<xsd:appinfo source="http://sap.com/xi/TextID">decc9676eb0311dac8a3000bcd72d39c
							</xsd:appinfo>
						</xsd:annotation>
					</xsd:element>
					<xsd:element maxOccurs="unbounded" minOccurs="0" name="Value"
						type="DocumentPropertyValue">
						<xsd:annotation>
							<xsd:appinfo source="http://sap.com/xi/TextID">decc9677eb0311da8e5c000bcd72d39c
							</xsd:appinfo>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
				<xsd:attribute name="actionCode" type="ActionCode">
					<xsd:annotation>
						<xsd:appinfo source="http://sap.com/xi/TextID">decc9678eb0311da9a74000bcd72d39c
						</xsd:appinfo>
					</xsd:annotation>
				</xsd:attribute>
			</xsd:complexType>
			<xsd:complexType name="DateTime">
				<xsd:annotation>
					<xsd:appinfo source="http://sap.com/xi/VersionID">8af3a9cdaabc11e487a7000033b6d7f2
					</xsd:appinfo>
					<xsd:appinfo source="http://sap.com/esi/RepresentationTerm">DateTime</xsd:appinfo>
					<xsd:appinfo source="http://sap.com/esi/FixedValues">false</xsd:appinfo>
				</xsd:annotation>
				<xsd:simpleContent>
					<xsd:extension base="xsd:dateTime">
						<xsd:attribute name="timeZoneCode" type="TimeZoneCode">
							<xsd:annotation>
								<xsd:appinfo source="http://sap.com/xi/TextID">cd673f80358111da8105d5a70a135236
								</xsd:appinfo>
							</xsd:annotation>
						</xsd:attribute>
						<xsd:attribute name="daylightSavingTimeIndicator"
							type="xsd:boolean">
							<xsd:annotation>
								<xsd:appinfo source="http://sap.com/xi/TextID">cd673f81358111da83b6d5a70a135236
								</xsd:appinfo>
							</xsd:annotation>
						</xsd:attribute>
					</xsd:extension>
				</xsd:simpleContent>
			</xsd:complexType>
			<xsd:complexType name="BusinessDocumentMessageHeaderParty">
				<xsd:annotation>
					<xsd:appinfo source="http://sap.com/xi/TextID">1b343da0e8fd11dbbd570017a4aa3b42
					</xsd:appinfo>
					<xsd:documentation xml:lang="EN">General information
						about a party that is responsible for sending or receiving a
						BusinessDocument at business application level</xsd:documentation>
					<xsd:appinfo source="http://sap.com/xi/VersionID">81f496caaabc11e4a641000033b6d7f2
					</xsd:appinfo>
				</xsd:annotation>
				<xsd:sequence>
					<xsd:element minOccurs="0" name="InternalID" type="PartyInternalID">
						<xsd:annotation>
							<xsd:appinfo source="http://sap.com/xi/TextID">c35c9910954411d8b532d71b93cc14a9
							</xsd:appinfo>
						</xsd:annotation>
					</xsd:element>
					<xsd:element maxOccurs="unbounded" minOccurs="0"
						name="StandardID" type="PartyStandardID">
						<xsd:annotation>
							<xsd:appinfo source="http://sap.com/xi/TextID">c35c9911954411d8a295d71b93cc14a9
							</xsd:appinfo>
						</xsd:annotation>
					</xsd:element>
					<xsd:element minOccurs="0" name="ContactPerson"
						type="BusinessDocumentMessageHeaderPartyContactPerson">
						<xsd:annotation>
							<xsd:appinfo source="http://sap.com/xi/TextID">c35c9912954411d8a8bad71b93cc14a9
							</xsd:appinfo>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="BusinessDocumentMessageID">
				<xsd:annotation>
					<xsd:appinfo source="http://sap.com/xi/helperType">true</xsd:appinfo>
					<xsd:appinfo source="http://sap.com/xi/VersionID">821cc823aabc11e4b278000033b6d7f2
					</xsd:appinfo>
					<xsd:appinfo source="http://sap.com/esi/RepresentationTerm">Identifier</xsd:appinfo>
					<xsd:appinfo source="http://sap.com/esi/FixedValues">false</xsd:appinfo>
				</xsd:annotation>
				<xsd:simpleContent>
					<xsd:extension base="BusinessDocumentMessageID.Content">
						<xsd:attribute name="schemeID">
							<xsd:annotation>
								<xsd:appinfo source="http://sap.com/xi/TextID">e8fd18a0954611d89e24d71b93cc14a9
								</xsd:appinfo>
							</xsd:annotation>
							<xsd:simpleType>
								<xsd:restriction base="xsd:token">
									<xsd:minLength value="1" />
									<xsd:maxLength value="60" />
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:attribute>
						<xsd:attribute name="schemeAgencyID">
							<xsd:annotation>
								<xsd:appinfo source="http://sap.com/xi/TextID">aa8e8aa1954511d88f1fd71b93cc14a9
								</xsd:appinfo>
							</xsd:annotation>
							<xsd:simpleType>
								<xsd:restriction base="xsd:token">
									<xsd:minLength value="1" />
									<xsd:maxLength value="60" />
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:attribute>
						<xsd:attribute name="schemeAgencySchemeAgencyID"
							type="AgencyIdentificationCode">
							<xsd:annotation>
								<xsd:appinfo source="http://sap.com/xi/TextID">aa8e8aa2954511d89ab7d71b93cc14a9
								</xsd:appinfo>
							</xsd:annotation>
						</xsd:attribute>
					</xsd:extension>
				</xsd:simpleContent>
			</xsd:complexType>
			<xsd:complexType name="BusinessDocumentMessageHeaderPartyContactPerson">
				<xsd:annotation>
					<xsd:appinfo source="http://sap.com/xi/TextID">d110bf401e6811dc8e980017a4aa3b42
					</xsd:appinfo>
					<xsd:documentation xml:lang="EN">Contact person of a
						party that is responsible for sending or receiving a
						BusinessDocument</xsd:documentation>
					<xsd:appinfo source="http://sap.com/xi/VersionID">8404061faabc11e4c4ab000033b6d7f2
					</xsd:appinfo>
				</xsd:annotation>
				<xsd:sequence>
					<xsd:element minOccurs="0" name="InternalID"
						type="ContactPersonInternalID">
						<xsd:annotation>
							<xsd:appinfo source="http://sap.com/xi/TextID">b4721400fa2511da86df00143800ce46
							</xsd:appinfo>
						</xsd:annotation>
					</xsd:element>
					<xsd:element maxOccurs="4" minOccurs="0"
						name="OrganisationFormattedName" type="LANGUAGEINDEPENDENT_MEDIUM_Name">
						<xsd:annotation>
							<xsd:appinfo source="http://sap.com/xi/TextID">2ef17bd0fa2611daba6000143800ce46
							</xsd:appinfo>
						</xsd:annotation>
					</xsd:element>
					<xsd:element maxOccurs="4" minOccurs="0"
						name="PersonFormattedName" type="LANGUAGEINDEPENDENT_LONG_Name">
						<xsd:annotation>
							<xsd:appinfo source="http://sap.com/xi/TextID">a64ca3c0fa2711daa02c00143800ce46
							</xsd:appinfo>
						</xsd:annotation>
					</xsd:element>
					<xsd:element maxOccurs="unbounded" minOccurs="0"
						name="PhoneNumber" type="PhoneNumber">
						<xsd:annotation>
							<xsd:appinfo source="http://sap.com/xi/TextID">a64ca3c1fa2711da95b800143800ce46
							</xsd:appinfo>
						</xsd:annotation>
					</xsd:element>
					<xsd:element maxOccurs="unbounded" minOccurs="0"
						name="FaxNumber" type="PhoneNumber">
						<xsd:annotation>
							<xsd:appinfo source="http://sap.com/xi/TextID">a64ca3c2fa2711daa4e400143800ce46
							</xsd:appinfo>
						</xsd:annotation>
					</xsd:element>
					<xsd:element maxOccurs="unbounded" minOccurs="0" name="EmailURI"
						type="EmailURI">
						<xsd:annotation>
							<xsd:appinfo source="http://sap.com/xi/TextID">a64ca3c3fa2711da8b6800143800ce46
							</xsd:appinfo>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="HostObjectReference">
				<xsd:annotation>
					<xsd:documentation xml:lang="EN">Hos tObject Reference
					</xsd:documentation>
					<xsd:appinfo source="http://sap.com/xi/VersionID">832025bcaabc11e4808c000033b6d7f2
					</xsd:appinfo>
				</xsd:annotation>
				<xsd:sequence>
					<xsd:element name="ObjectTypeCode" type="ObjectTypeCode">
						<xsd:annotation>
							<xsd:appinfo source="http://sap.com/xi/TextID">3cbf1f7946f811e3865958946b835430
							</xsd:appinfo>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="ObjectID" type="ObjectID">
						<xsd:annotation>
							<xsd:appinfo source="http://sap.com/xi/TextID">3cbf1f7a46f811e3963858946b835430
							</xsd:appinfo>
						</xsd:annotation>
					</xsd:element>
					<xsd:element minOccurs="0" name="ReceiverObjectID"
						type="ObjectID" />
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="AttachmentFolderBulkReplicateRequest">
				<xsd:annotation>
					<xsd:documentation xml:lang="EN">Attachment Folder
						Bulk Replicate Request</xsd:documentation>
					<xsd:appinfo source="http://sap.com/xi/VersionID">8036596aaabc11e4c735000033b6d7f2
					</xsd:appinfo>
				</xsd:annotation>
				<xsd:sequence>
					<xsd:element name="MessageHeader" type="BusinessDocumentMessageHeader">
						<xsd:annotation>
							<xsd:appinfo source="http://sap.com/xi/TextID">3d8bee5846cf11e3a3e358946b835430
							</xsd:appinfo>
						</xsd:annotation>
					</xsd:element>
					<xsd:element maxOccurs="unbounded"
						name="AttachmentFolderReplicateRequestMessage" type="AttachmentFolderReplicateRequest">
						<xsd:annotation>
							<xsd:appinfo source="http://sap.com/xi/TextID">07f76ab046dd11e3cd9c58946b835430
							</xsd:appinfo>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="PartyStandardID">
				<xsd:annotation>
					<xsd:appinfo source="http://sap.com/xi/helperType">true</xsd:appinfo>
					<xsd:appinfo source="http://sap.com/xi/VersionID">83d636f4aabc11e4b3f3000033b6d7f2
					</xsd:appinfo>
				</xsd:annotation>
				<xsd:simpleContent>
					<xsd:extension base="PartyStandardID.Content">
						<xsd:attribute name="schemeAgencyID" use="required">
							<xsd:simpleType>
								<xsd:restriction base="xsd:token">
									<xsd:minLength value="1" />
									<xsd:maxLength value="3" />
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:attribute>
					</xsd:extension>
				</xsd:simpleContent>
			</xsd:complexType>
			<xsd:complexType name="BusinessDocumentBasicMessageHeader">
				<xsd:annotation>
					<xsd:appinfo source="http://sap.com/xi/VersionID">80f5361baabc11e48806000033b6d7f2
					</xsd:appinfo>
				</xsd:annotation>
				<xsd:sequence>
					<xsd:element minOccurs="0" name="ID"
						type="BusinessDocumentMessageID">
						<xsd:annotation>
							<xsd:appinfo source="http://sap.com/xi/TextID">151ee290954411d8c7ced71b93cc14a9
							</xsd:appinfo>
						</xsd:annotation>
					</xsd:element>
					<xsd:element minOccurs="0" name="UUID" type="UUID">
						<xsd:annotation>
							<xsd:appinfo source="http://sap.com/xi/TextID">be84aab0eca711da94e6ede30a128af0
							</xsd:appinfo>
						</xsd:annotation>
					</xsd:element>
					<xsd:element minOccurs="0" name="ReferenceID"
						type="BusinessDocumentMessageID">
						<xsd:annotation>
							<xsd:appinfo source="http://sap.com/xi/TextID">be84aab1eca711dac755ede30a128af0
							</xsd:appinfo>
						</xsd:annotation>
					</xsd:element>
					<xsd:element minOccurs="0" name="ReferenceUUID" type="UUID">
						<xsd:annotation>
							<xsd:appinfo source="http://sap.com/xi/TextID">be84aab2eca711daa28cede30a128af0
							</xsd:appinfo>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="URI">
				<xsd:annotation>
					<xsd:documentation xml:lang="EN">URI is a unique
						digital address that is represented by the Unified Resource
						Identifier (URI)</xsd:documentation>
					<xsd:appinfo source="http://sap.com/xi/VersionID">8707addbaabc11e4882d000033b6d7f2
					</xsd:appinfo>
					<xsd:appinfo source="http://sap.com/esi/RepresentationTerm">URI</xsd:appinfo>
					<xsd:appinfo source="http://sap.com/esi/FixedValues">false</xsd:appinfo>
				</xsd:annotation>
				<xsd:simpleContent>
					<xsd:extension base="xsd:anyURI">
						<xsd:attribute name="schemeID">
							<xsd:simpleType>
								<xsd:restriction base="xsd:token">
									<xsd:minLength value="1" />
									<xsd:maxLength value="60" />
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:attribute>
					</xsd:extension>
				</xsd:simpleContent>
			</xsd:complexType>
			<xsd:complexType name="ObjectID">
				<xsd:annotation>
					<xsd:appinfo source="http://sap.com/xi/helperType">true</xsd:appinfo>
					<xsd:appinfo source="http://sap.com/xi/VersionID">87a77b5caabc11e4802a000033b6d7f2
					</xsd:appinfo>
					<xsd:appinfo source="http://sap.com/esi/RepresentationTerm">Identifier</xsd:appinfo>
					<xsd:appinfo source="http://sap.com/esi/FixedValues">false</xsd:appinfo>
				</xsd:annotation>
				<xsd:simpleContent>
					<xsd:extension base="ObjectID.Content">
						<xsd:attribute name="schemeID">
							<xsd:simpleType>
								<xsd:restriction base="xsd:token">
									<xsd:minLength value="1" />
									<xsd:maxLength value="60" />
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:attribute>
						<xsd:attribute name="schemeVersionID">
							<xsd:simpleType>
								<xsd:restriction base="xsd:token">
									<xsd:minLength value="1" />
									<xsd:maxLength value="15" />
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:attribute>
						<xsd:attribute name="schemeAgencyID">
							<xsd:simpleType>
								<xsd:restriction base="xsd:token">
									<xsd:minLength value="1" />
									<xsd:maxLength value="60" />
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:attribute>
						<xsd:attribute name="schemeAgencySchemeID">
							<xsd:simpleType>
								<xsd:restriction base="xsd:token">
									<xsd:minLength value="1" />
									<xsd:maxLength value="60" />
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:attribute>
						<xsd:attribute name="schemeAgencySchemeAgencyID"
							type="AgencyIdentificationCode" />
					</xsd:extension>
				</xsd:simpleContent>
			</xsd:complexType>
			<xsd:complexType name="ContactPersonInternalID">
				<xsd:annotation>
					<xsd:appinfo source="http://sap.com/xi/helperType">true</xsd:appinfo>
					<xsd:appinfo source="http://sap.com/xi/VersionID">87e0cacdaabc11e4c95b000033b6d7f2
					</xsd:appinfo>
				</xsd:annotation>
				<xsd:simpleContent>
					<xsd:extension base="ContactPersonInternalID.Content">
						<xsd:attribute name="schemeID">
							<xsd:annotation>
								<xsd:appinfo source="http://sap.com/xi/TextID">211056a0313b11d8983aef3e0a134a03
								</xsd:appinfo>
							</xsd:annotation>
							<xsd:simpleType>
								<xsd:restriction base="xsd:token">
									<xsd:minLength value="1" />
									<xsd:maxLength value="60" />
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:attribute>
						<xsd:attribute name="schemeAgencyID">
							<xsd:annotation>
								<xsd:appinfo source="http://sap.com/xi/TextID">211056a1313b11d89d4bef3e0a134a03
								</xsd:appinfo>
							</xsd:annotation>
							<xsd:simpleType>
								<xsd:restriction base="xsd:token">
									<xsd:minLength value="1" />
									<xsd:maxLength value="60" />
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:attribute>
					</xsd:extension>
				</xsd:simpleContent>
			</xsd:complexType>
			<xsd:complexType name="BusinessScope">
				<xsd:annotation>
					<xsd:appinfo source="http://sap.com/xi/TextID">c5df4c901e6811dc93730017a4aa3b42
					</xsd:appinfo>
					<xsd:documentation xml:lang="EN">Environment from
						which a message is sent</xsd:documentation>
					<xsd:appinfo source="http://sap.com/xi/VersionID">814e88b5aabc11e4a5f5000033b6d7f2
					</xsd:appinfo>
				</xsd:annotation>
				<xsd:sequence>
					<xsd:element name="TypeCode" type="BusinessScopeTypeCode">
						<xsd:annotation>
							<xsd:appinfo source="http://sap.com/xi/TextID">c598de40426d11dbcb6700143800ce46
							</xsd:appinfo>
						</xsd:annotation>
					</xsd:element>
					<xsd:element minOccurs="0" name="InstanceID"
						type="BusinessScopeInstanceID">
						<xsd:annotation>
							<xsd:appinfo source="http://sap.com/xi/TextID">c598de41426d11db836300143800ce46
							</xsd:appinfo>
						</xsd:annotation>
					</xsd:element>
					<xsd:element minOccurs="0" name="ID" type="BusinessScopeID">
						<xsd:annotation>
							<xsd:appinfo source="http://sap.com/xi/TextID">c598de42426d11dbc18500143800ce46
							</xsd:appinfo>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="AttachmentFolderInstance">
				<xsd:annotation>
					<xsd:documentation xml:lang="EN">Attachment Folder
						Instance</xsd:documentation>
					<xsd:appinfo source="http://sap.com/xi/VersionID">80c153b0aabc11e4b959000033b6d7f2
					</xsd:appinfo>
				</xsd:annotation>
				<xsd:sequence>
					<xsd:element minOccurs="0" name="SenderSequenceNumberValue"
						type="OrdinalNumberValue_V1">
						<xsd:annotation>
							<xsd:appinfo source="http://sap.com/xi/TextID">f2b398cb4d1b11e3b3d058946b835430
							</xsd:appinfo>
						</xsd:annotation>
					</xsd:element>
					<xsd:element minOccurs="0" name="ReceiverSequenceNumberValue"
						type="OrdinalNumberValue_V1">
						<xsd:annotation>
							<xsd:appinfo source="http://sap.com/xi/TextID">f2b398cc4d1b11e3842c58946b835430
							</xsd:appinfo>
						</xsd:annotation>
					</xsd:element>
					<xsd:element minOccurs="0" name="UUID" type="UUID">
						<xsd:annotation>
							<xsd:appinfo source="http://sap.com/xi/TextID">f2b398cd4d1b11e38edf58946b835430
							</xsd:appinfo>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="HostObjectReference" type="HostObjectReference">
						<xsd:annotation>
							<xsd:appinfo source="http://sap.com/xi/TextID">5aa1ef6946f811e3b36d58946b835430
							</xsd:appinfo>
						</xsd:annotation>
					</xsd:element>
					<xsd:element maxOccurs="unbounded" minOccurs="0" name="Document"
						type="Document">
						<xsd:annotation>
							<xsd:appinfo source="http://sap.com/xi/TextID">5b65ea4746f511e382ef58946b835430
							</xsd:appinfo>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
				<xsd:attribute name="actionCode" type="ActionCode" />
				<xsd:attribute name="documentListCompleteTransmissionIndicator"
					type="Indicator" />
			</xsd:complexType>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="AttachmentFolderBulkReplicateRequest">
		<wsdl:documentation />
		<wsdl:part element="p2:AttachmentFolderBulkReplicateRequest"
			name="AttachmentFolderBulkReplicateRequest" />
	</wsdl:message>
	<wsdl:portType name="AttachmentFolderReplicationRequest_Out">
		<wsdl:documentation />
		<wsdl:operation name="AttachmentFolderReplicationRequest_Out">
			<wsdl:documentation />
			<wsp:Policy>
				<wsp:PolicyReference URI="#OP_AttachmentFolderReplicationRequest_Out" />
			</wsp:Policy>
			<wsdl:input message="p1:AttachmentFolderBulkReplicateRequest" />
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="AttachmentFolderReplicationRequest_OutBinding"
		type="p1:AttachmentFolderReplicationRequest_Out">
		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="AttachmentFolderReplicationRequest_Out">
			<soap:operation soapAction="AttachmentFolderReplicationRequest_Out" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="AttachmentFolderReplicationRequest_Out">
		<wsdl:port binding="p1:AttachmentFolderReplicationRequest_OutBinding"
			name="AttachmentFolderReplicationRequest_Out">
			<soap:address location="http://www.example.org/" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>