Resources/schemas/Wsdl/SAP_Cloud_for_Customer_Integration_with_SAP_CRM - AttachmentFolderReplicationRequest_Out.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="AttachmentFolderReplicationRequest_Out"
	targetNamespace="http://sap.com/xi/CRMPCD01" xmlns:p1="http://sap.com/xi/CRMPCD01"
	xmlns:p2="http://sap.com/xi/SAPGlobal20/Global" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy"
	xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd"
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
	
	<wsdl:documentation>Attachment Folder Replication Request Out
	</wsdl:documentation>
	
	<wsdl:types>
		<xsd:schema targetNamespace="http://sap.com/xi/CRMPCD01"
			xmlns="http://sap.com/xi/CRMPCD01" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
			<xsd:simpleType name="UUID.Content">
				<xsd:annotation>
					<xsd:documentation xml:lang="EN">Universally Unique
						Identifier</xsd:documentation>
				</xsd:annotation>
				<xsd:restriction base="xsd:token">
					<xsd:length value="36" />
					<xsd:pattern
						value="[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}" />
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:simpleType name="ContactPersonInternalID.Content">
				<xsd:restriction base="xsd:token">
					<xsd:minLength value="1" />
					<xsd:maxLength value="32" />
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:simpleType name="Indicator">
				<xsd:annotation>
					<xsd:documentation xml:lang="EN">Indicator is the
						representation of a situation that has exactly two mutually
						exclusive Boolean values.</xsd:documentation>
				</xsd:annotation>
				<xsd:restriction base="xsd:boolean" />
			</xsd:simpleType>
			<xsd:simpleType name="ObjectID.Content">
				<xsd:restriction base="xsd:token">
					<xsd:minLength value="1" />
					<xsd:maxLength value="100" />
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:simpleType name="PhoneNumberAreaID">
				<xsd:restriction base="xsd:token">
					<xsd:minLength value="1" />
					<xsd:maxLength value="10" />
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:simpleType name="TimeZoneCode">
				<xsd:restriction base="xsd:token">
					<xsd:minLength value="1" />
					<xsd:maxLength value="10" />
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:simpleType name="LANGUAGEINDEPENDENT_LONG_Name">
				<xsd:restriction base="xsd:string">
					<xsd:minLength value="0" />
					<xsd:maxLength value="80" />
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:simpleType name="OrdinalNumberValue_V1">
				<xsd:restriction base="xsd:decimal">
					<xsd:totalDigits value="20" />
					<xsd:fractionDigits value="0" />
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:simpleType name="CharacterSetCode">
				<xsd:annotation>
					<xsd:documentation xml:lang="EN">A CharacterSetCode is
						the coded representation</xsd:documentation>
				</xsd:annotation>
				<xsd:restriction base="xsd:token">
					<xsd:minLength value="1" />
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:simpleType name="CountryDiallingCode">
				<xsd:restriction base="xsd:token">
					<xsd:minLength value="1" />
					<xsd:maxLength value="10" />
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:simpleType name="LANGUAGEINDEPENDENT_Name">
				<xsd:restriction base="xsd:string" />
			</xsd:simpleType>
			<xsd:simpleType name="BusinessDocumentMessageID.Content">
				<xsd:annotation>
					<xsd:documentation xml:lang="EN">Unique identifier of
						a business document in a (technical) message that is issued by the
						sender business application</xsd:documentation>
				</xsd:annotation>
				<xsd:restriction base="xsd:token">
					<xsd:minLength value="1" />
					<xsd:maxLength value="35" />
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:simpleType name="AgencyIdentificationCode">
				<xsd:annotation>
					<xsd:documentation xml:lang="EN">An
						AgencyIdentificationCode is a code representation of the agency
						responsible for a code list or identifier scheme, respectively
					</xsd:documentation>
				</xsd:annotation>
				<xsd:restriction base="xsd:token">
					<xsd:minLength value="1" />
					<xsd:maxLength value="3" />
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:simpleType name="ActionCode">
				<xsd:restriction base="xsd:token">
					<xsd:length value="2" />
					<xsd:enumeration value="01" />
					<xsd:enumeration value="02" />
					<xsd:enumeration value="03" />
					<xsd:enumeration value="04" />
					<xsd:enumeration value="05" />
					<xsd:enumeration value="06" />
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:simpleType name="PhoneNumberSubscriberID">
				<xsd:restriction base="xsd:token">
					<xsd:minLength value="1" />
					<xsd:maxLength value="30" />
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:simpleType name="Measure.Content">
				<xsd:annotation>
					<xsd:documentation xml:lang="EN">Measure is a physical
						indication of Measurements including the assigned Unit of Measure
					</xsd:documentation>
				</xsd:annotation>
				<xsd:restriction base="xsd:decimal">
					<xsd:totalDigits value="31" />
					<xsd:fractionDigits value="14" />
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:simpleType name="BusinessScopeTypeCode.Content">
				<xsd:annotation>
					<xsd:documentation xml:lang="EN">Coded representation
						of the type of a BusinessScope</xsd:documentation>
				</xsd:annotation>
				<xsd:restriction base="xsd:token">
					<xsd:minLength value="1" />
					<xsd:maxLength value="4" />
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:simpleType name="LANGUAGEINDEPENDENT_MEDIUM_Name">
				<xsd:restriction base="xsd:string">
					<xsd:minLength value="0" />
					<xsd:maxLength value="40" />
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:simpleType name="PartyStandardID.Content">
				<xsd:annotation>
					<xsd:documentation xml:lang="EN">Standardized
						identifier for a party, and the identification scheme used is
						controlled by an agency from the code list DE 3055
					</xsd:documentation>
				</xsd:annotation>
				<xsd:restriction base="xsd:token">
					<xsd:minLength value="1" />
					<xsd:maxLength value="13" />
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:simpleType name="MIMECode">
				<xsd:restriction base="xsd:token">
					<xsd:minLength value="1" />
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:simpleType name="MeasureUnitCode">
				<xsd:restriction base="xsd:token">
					<xsd:minLength value="1" />
					<xsd:maxLength value="3" />
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:simpleType name="GLOBAL_DateTime">
				<xsd:restriction base="xsd:dateTime">
					<xsd:pattern
						value="[0-9]{4}-[0-9]{2}-[0-9]{2}T[0-9]{2}:[0-9]{2}:[0-9]{2}(.[0-9]{1,7})?Z" />
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:simpleType name="VersionID">
				<xsd:restriction base="xsd:token">
					<xsd:minLength value="1" />
					<xsd:maxLength value="32" />
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:simpleType name="CountryCode">
				<xsd:restriction base="xsd:token">
					<xsd:minLength value="2" />
					<xsd:maxLength value="3" />
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:simpleType name="IntegerValue">
				<xsd:restriction base="xsd:int" />
			</xsd:simpleType>
			<xsd:simpleType name="BusinessScopeID.Content">
				<xsd:annotation>
					<xsd:documentation xml:lang="EN">Identifier of a
						BusinessScope</xsd:documentation>
				</xsd:annotation>
				<xsd:restriction base="xsd:token">
					<xsd:minLength value="1" />
					<xsd:maxLength value="36" />
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:simpleType name="ObjectTypeCode.Content">
				<xsd:restriction base="xsd:token">
					<xsd:minLength value="1" />
					<xsd:maxLength value="5" />
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:simpleType name="DocumentTypeCode.Content">
				<xsd:restriction base="xsd:token">
					<xsd:minLength value="1" />
					<xsd:maxLength value="5" />
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:simpleType name="PhoneNumberExtensionID">
				<xsd:restriction base="xsd:token">
					<xsd:minLength value="1" />
					<xsd:maxLength value="10" />
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:simpleType name="LANGUAGEINDEPENDENT_Text">
				<xsd:restriction base="xsd:string" />
			</xsd:simpleType>
			<xsd:simpleType name="PropertyDataTypeFormatCode">
				<xsd:restriction base="xsd:token">
					<xsd:minLength value="1" />
					<xsd:maxLength value="10" />
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:simpleType name="BusinessSystemID">
				<xsd:restriction base="xsd:token">
					<xsd:minLength value="1" />
					<xsd:maxLength value="60" />
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:simpleType name="LanguageCode">
				<xsd:restriction base="xsd:language">
					<xsd:minLength value="2" />
					<xsd:maxLength value="9" />
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:simpleType name="PartyInternalID.Content">
				<xsd:annotation>
					<xsd:documentation xml:lang="EN">Proprietary
						identifier for a party</xsd:documentation>
				</xsd:annotation>
				<xsd:restriction base="xsd:token">
					<xsd:minLength value="1" />
					<xsd:maxLength value="32" />
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:simpleType name="WebURI">
				<xsd:restriction base="xsd:anyURI" />
			</xsd:simpleType>
			<xsd:simpleType name="BusinessScopeInstanceID.Content">
				<xsd:annotation>
					<xsd:documentation xml:lang="EN">Identifier for the
						instance of a BusinessScope</xsd:documentation>
				</xsd:annotation>
				<xsd:restriction base="xsd:token">
					<xsd:minLength value="1" />
					<xsd:maxLength value="36" />
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:simpleType name="DocumentCategoryCode">
				<xsd:restriction base="xsd:token">
					<xsd:length value="1" />
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:simpleType name="MEDIUM_Name.Content">
				<xsd:restriction base="xsd:string">
					<xsd:minLength value="1" />
					<xsd:maxLength value="40" />
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:simpleType name="UserAccountID.Content">
				<xsd:restriction base="xsd:token">
					<xsd:minLength value="1" />
					<xsd:maxLength value="255" />
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:complexType name="ContactPersonInternalID">
				<xsd:simpleContent>
					<xsd:extension base="ContactPersonInternalID.Content">
						<xsd:attribute name="schemeID">
							<xsd:simpleType>
								<xsd:restriction base="xsd:token">
									<xsd:minLength value="1" />
									<xsd:maxLength value="60" />
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:attribute>
						<xsd:attribute name="schemeAgencyID">
							<xsd:simpleType>
								<xsd:restriction base="xsd:token">
									<xsd:minLength value="1" />
									<xsd:maxLength value="60" />
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:attribute>
					</xsd:extension>
				</xsd:simpleContent>
			</xsd:complexType>
			<xsd:complexType name="MEDIUM_Name">
				<xsd:simpleContent>
					<xsd:extension base="MEDIUM_Name.Content">
						<xsd:attribute name="languageCode" type="LanguageCode" />
					</xsd:extension>
				</xsd:simpleContent>
			</xsd:complexType>
			<xsd:complexType name="BusinessScopeInstanceID">
				<xsd:simpleContent>
					<xsd:extension base="BusinessScopeInstanceID.Content">
						<xsd:attribute name="schemeID">
							<xsd:simpleType>
								<xsd:restriction base="xsd:token">
									<xsd:minLength value="1" />
									<xsd:maxLength value="60" />
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:attribute>
						<xsd:attribute name="schemeAgencyID">
							<xsd:simpleType>
								<xsd:restriction base="xsd:token">
									<xsd:minLength value="1" />
									<xsd:maxLength value="60" />
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:attribute>
					</xsd:extension>
				</xsd:simpleContent>
			</xsd:complexType>
			<xsd:complexType name="DateTime">
				<xsd:simpleContent>
					<xsd:extension base="xsd:dateTime">
						<xsd:attribute name="timeZoneCode" type="TimeZoneCode" />
						<xsd:attribute name="daylightSavingTimeIndicator"
							type="xsd:boolean" />
					</xsd:extension>
				</xsd:simpleContent>
			</xsd:complexType>
			<xsd:complexType name="AttachmentFolderReplicateRequest">
				<xsd:annotation>
					<xsd:documentation xml:lang="EN">Attachment Folder
						Replicate Request</xsd:documentation>
				</xsd:annotation>
				<xsd:sequence>
					<xsd:element name="BasicMessageHeader" type="BusinessDocumentBasicMessageHeader" />
					<xsd:element name="AttachmentFolder" type="AttachmentFolderInstance" />
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="BinaryObject">
				<xsd:annotation>
					<xsd:documentation xml:lang="EN">A BinaryObject is a
						finite data stream of any number of characters in binary notation
						(octets)</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleContent>
					<xsd:extension base="xsd:base64Binary">
						<xsd:attribute name="mimeCode" type="MIMECode" />
						<xsd:attribute name="characterSetCode" type="CharacterSetCode" />
						<xsd:attribute name="format" type="xsd:token" />
						<xsd:attribute name="fileName" type="xsd:string" />
						<xsd:attribute name="uri" type="xsd:anyURI" />
					</xsd:extension>
				</xsd:simpleContent>
			</xsd:complexType>
			<xsd:complexType name="Attachment">
				<xsd:simpleContent>
					<xsd:extension base="xsd:normalizedString">
						<xsd:attribute name="id" use="required">
							<xsd:simpleType>
								<xsd:restriction base="xsd:token">
									<xsd:minLength value="1" />
									<xsd:maxLength value="35" />
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:attribute>
						<xsd:attribute name="fileName">
							<xsd:simpleType>
								<xsd:restriction base="xsd:string">
									<xsd:maxLength value="70" />
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:attribute>
					</xsd:extension>
				</xsd:simpleContent>
			</xsd:complexType>
			<xsd:complexType name="Document">
				<xsd:sequence>
					<xsd:element name="PathName" type="LANGUAGEINDEPENDENT_Name" />
					<xsd:element name="Name" type="LANGUAGEINDEPENDENT_Name" />
					<xsd:element name="VersionID" type="VersionID"
						minOccurs="0" />
					<xsd:element name="SystemAdministrativeData" type="SystemAdministrativeData" />
					<xsd:element name="LinkInternalIndicator" type="Indicator"
						minOccurs="0" />
					<xsd:element name="VisibleIndicator" type="Indicator" />
					<xsd:element name="VersioningEnabledIndicator" type="Indicator" />
					<xsd:element name="CategoryCode" type="DocumentCategoryCode" />
					<xsd:element name="TypeCode" type="DocumentTypeCode"
						minOccurs="0" />
					<xsd:element name="MIMECode" type="MIMECode" minOccurs="0" />
					<xsd:element name="AlternativeName" type="LANGUAGEINDEPENDENT_Name"
						minOccurs="0" />
					<xsd:element name="InternalLinkPathName" type="LANGUAGEINDEPENDENT_Name"
						minOccurs="0" />
					<xsd:element name="Description" type="Description"
						minOccurs="0" />
					<xsd:element name="ExternalLinkWebURI" type="WebURI"
						minOccurs="0" />
					<xsd:element name="FileContentURI" type="URI"
						minOccurs="0" />
					<xsd:element name="FileSizeMeasure" type="Measure"
						minOccurs="0" />
					<xsd:element name="FileContentBinaryObject" type="BinaryObject"
						minOccurs="0" />
					<xsd:element name="Attachment" type="Attachment"
						minOccurs="0" />
					<xsd:element name="Property" type="DocumentProperty"
						minOccurs="0" maxOccurs="unbounded" />
				</xsd:sequence>
				<xsd:attribute name="actionCode" type="ActionCode" />
			</xsd:complexType>
			<xsd:complexType name="BusinessDocumentBasicMessageHeader">
				<xsd:sequence>
					<xsd:element name="ID" type="BusinessDocumentMessageID"
						minOccurs="0" />
					<xsd:element name="UUID" type="UUID" minOccurs="0" />
					<xsd:element name="ReferenceID" type="BusinessDocumentMessageID"
						minOccurs="0" />
					<xsd:element name="ReferenceUUID" type="UUID"
						minOccurs="0" />
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="ObjectTypeCode">
				<xsd:simpleContent>
					<xsd:extension base="ObjectTypeCode.Content">
						<xsd:attribute name="listID">
							<xsd:simpleType>
								<xsd:restriction base="xsd:token">
									<xsd:minLength value="1" />
									<xsd:maxLength value="60" />
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:attribute>
						<xsd:attribute name="listVersionID">
							<xsd:simpleType>
								<xsd:restriction base="xsd:token">
									<xsd:minLength value="1" />
									<xsd:maxLength value="15" />
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:attribute>
						<xsd:attribute name="listAgencyID">
							<xsd:simpleType>
								<xsd:restriction base="xsd:token">
									<xsd:minLength value="1" />
									<xsd:maxLength value="60" />
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:attribute>
						<xsd:attribute name="listAgencySchemeID">
							<xsd:simpleType>
								<xsd:restriction base="xsd:token">
									<xsd:minLength value="1" />
									<xsd:maxLength value="60" />
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:attribute>
						<xsd:attribute name="listAgencySchemeAgencyID" type="AgencyIdentificationCode" />
					</xsd:extension>
				</xsd:simpleContent>
			</xsd:complexType>
			<xsd:complexType name="URI">
				<xsd:annotation>
					<xsd:documentation xml:lang="EN">URI is a unique
						digital address that is represented by the Unified Resource
						Identifier (URI)</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleContent>
					<xsd:extension base="xsd:anyURI">
						<xsd:attribute name="schemeID">
							<xsd:simpleType>
								<xsd:restriction base="xsd:token">
									<xsd:minLength value="1" />
									<xsd:maxLength value="60" />
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:attribute>
					</xsd:extension>
				</xsd:simpleContent>
			</xsd:complexType>
			<xsd:complexType name="PartyInternalID">
				<xsd:simpleContent>
					<xsd:extension base="PartyInternalID.Content">
						<xsd:attribute name="schemeID">
							<xsd:simpleType>
								<xsd:restriction base="xsd:token">
									<xsd:minLength value="1" />
									<xsd:maxLength value="60" />
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:attribute>
						<xsd:attribute name="schemeAgencyID">
							<xsd:simpleType>
								<xsd:restriction base="xsd:token">
									<xsd:minLength value="1" />
									<xsd:maxLength value="60" />
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:attribute>
					</xsd:extension>
				</xsd:simpleContent>
			</xsd:complexType>
			<xsd:complexType name="AttachmentFolderInstance">
				<xsd:annotation>
					<xsd:documentation xml:lang="EN">Attachment Folder
						Instance</xsd:documentation>
				</xsd:annotation>
				<xsd:sequence>
					<xsd:element name="SenderSequenceNumberValue" type="OrdinalNumberValue_V1"
						minOccurs="0" />
					<xsd:element name="ReceiverSequenceNumberValue" type="OrdinalNumberValue_V1"
						minOccurs="0" />
					<xsd:element name="UUID" type="UUID" minOccurs="0" />
					<xsd:element name="HostObjectReference" type="HostObjectReference" />
					<xsd:element name="Document" type="Document" minOccurs="0"
						maxOccurs="unbounded" />
				</xsd:sequence>
				<xsd:attribute name="actionCode" type="ActionCode" />
				<xsd:attribute name="documentListCompleteTransmissionIndicator"
					type="Indicator" />
			</xsd:complexType>
			<xsd:complexType name="Description">
				<xsd:annotation>
					<xsd:documentation xml:lang="EN">Natural Language Text
					</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleContent>
					<xsd:extension base="xsd:string">
						<xsd:attribute name="languageCode" type="LanguageCode" />
					</xsd:extension>
				</xsd:simpleContent>
			</xsd:complexType>
			<xsd:complexType name="UUID">
				<xsd:simpleContent>
					<xsd:extension base="UUID.Content">
						<xsd:attribute name="schemeID">
							<xsd:simpleType>
								<xsd:restriction base="xsd:token">
									<xsd:minLength value="1" />
									<xsd:maxLength value="60" />
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:attribute>
						<xsd:attribute name="schemeAgencyID">
							<xsd:simpleType>
								<xsd:restriction base="xsd:token">
									<xsd:minLength value="1" />
									<xsd:maxLength value="60" />
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:attribute>
					</xsd:extension>
				</xsd:simpleContent>
			</xsd:complexType>
			<xsd:complexType name="BusinessScopeTypeCode">
				<xsd:simpleContent>
					<xsd:extension base="BusinessScopeTypeCode.Content">
						<xsd:attribute name="listID">
							<xsd:simpleType>
								<xsd:restriction base="xsd:token">
									<xsd:minLength value="1" />
									<xsd:maxLength value="60" />
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:attribute>
						<xsd:attribute name="listVersionID">
							<xsd:simpleType>
								<xsd:restriction base="xsd:token">
									<xsd:minLength value="1" />
									<xsd:maxLength value="15" />
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:attribute>
						<xsd:attribute name="listAgencyID">
							<xsd:simpleType>
								<xsd:restriction base="xsd:token">
									<xsd:minLength value="1" />
									<xsd:maxLength value="60" />
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:attribute>
						<xsd:attribute name="listAgencySchemeID">
							<xsd:simpleType>
								<xsd:restriction base="xsd:token">
									<xsd:minLength value="1" />
									<xsd:maxLength value="60" />
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:attribute>
						<xsd:attribute name="listAgencySchemeAgencyID" type="AgencyIdentificationCode" />
					</xsd:extension>
				</xsd:simpleContent>
			</xsd:complexType>
			<xsd:complexType name="NamespaceURI">
				<xsd:simpleContent>
					<xsd:extension base="xsd:anyURI">
						<xsd:attribute name="schemeID">
							<xsd:simpleType>
								<xsd:restriction base="xsd:token">
									<xsd:minLength value="1" />
									<xsd:maxLength value="60" />
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:attribute>
					</xsd:extension>
				</xsd:simpleContent>
			</xsd:complexType>
			<xsd:complexType name="PhoneNumber">
				<xsd:sequence>
					<xsd:element name="AreaID" type="PhoneNumberAreaID"
						minOccurs="0" />
					<xsd:element name="SubscriberID" type="PhoneNumberSubscriberID"
						minOccurs="0" />
					<xsd:element name="ExtensionID" type="PhoneNumberExtensionID"
						minOccurs="0" />
					<xsd:element name="CountryCode" type="CountryCode"
						minOccurs="0" />
					<xsd:element name="CountryDiallingCode" type="CountryDiallingCode"
						minOccurs="0" />
					<xsd:element name="CountryName" type="MEDIUM_Name"
						minOccurs="0" />
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="BusinessDocumentMessageID">
				<xsd:simpleContent>
					<xsd:extension base="BusinessDocumentMessageID.Content">
						<xsd:attribute name="schemeID">
							<xsd:simpleType>
								<xsd:restriction base="xsd:token">
									<xsd:minLength value="1" />
									<xsd:maxLength value="60" />
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:attribute>
						<xsd:attribute name="schemeAgencyID">
							<xsd:simpleType>
								<xsd:restriction base="xsd:token">
									<xsd:minLength value="1" />
									<xsd:maxLength value="60" />
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:attribute>
						<xsd:attribute name="schemeAgencySchemeAgencyID"
							type="AgencyIdentificationCode" />
					</xsd:extension>
				</xsd:simpleContent>
			</xsd:complexType>
			<xsd:complexType name="BusinessScope">
				<xsd:annotation>
					<xsd:documentation xml:lang="EN">Environment from
						which a message is sent</xsd:documentation>
				</xsd:annotation>
				<xsd:sequence>
					<xsd:element name="TypeCode" type="BusinessScopeTypeCode" />
					<xsd:element name="InstanceID" type="BusinessScopeInstanceID"
						minOccurs="0" />
					<xsd:element name="ID" type="BusinessScopeID"
						minOccurs="0" />
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="ObjectID">
				<xsd:simpleContent>
					<xsd:extension base="ObjectID.Content">
						<xsd:attribute name="schemeID">
							<xsd:simpleType>
								<xsd:restriction base="xsd:token">
									<xsd:minLength value="1" />
									<xsd:maxLength value="60" />
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:attribute>
						<xsd:attribute name="schemeVersionID">
							<xsd:simpleType>
								<xsd:restriction base="xsd:token">
									<xsd:minLength value="1" />
									<xsd:maxLength value="15" />
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:attribute>
						<xsd:attribute name="schemeAgencyID">
							<xsd:simpleType>
								<xsd:restriction base="xsd:token">
									<xsd:minLength value="1" />
									<xsd:maxLength value="60" />
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:attribute>
						<xsd:attribute name="schemeAgencySchemeID">
							<xsd:simpleType>
								<xsd:restriction base="xsd:token">
									<xsd:minLength value="1" />
									<xsd:maxLength value="60" />
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:attribute>
						<xsd:attribute name="schemeAgencySchemeAgencyID"
							type="AgencyIdentificationCode" />
					</xsd:extension>
				</xsd:simpleContent>
			</xsd:complexType>
			<xsd:complexType name="DocumentProperty">
				<xsd:sequence>
					<xsd:element name="Name" type="LANGUAGEINDEPENDENT_Name" />
					<xsd:element name="DataTypeFormatCode" type="PropertyDataTypeFormatCode" />
					<xsd:element name="VisibleIndicator" type="Indicator" />
					<xsd:element name="ChangeAllowedIndicator" type="Indicator" />
					<xsd:element name="MultipleValueIndicator" type="Indicator" />
					<xsd:element name="NamespaceURI" type="NamespaceURI"
						minOccurs="0" />
					<xsd:element name="Description" type="Description"
						minOccurs="0" />
					<xsd:element name="Value" type="DocumentPropertyValue"
						minOccurs="0" maxOccurs="unbounded" />
				</xsd:sequence>
				<xsd:attribute name="actionCode" type="ActionCode" />
			</xsd:complexType>
			<xsd:complexType name="PartyStandardID">
				<xsd:simpleContent>
					<xsd:extension base="PartyStandardID.Content">
						<xsd:attribute name="schemeAgencyID" use="required">
							<xsd:simpleType>
								<xsd:restriction base="xsd:token">
									<xsd:minLength value="1" />
									<xsd:maxLength value="3" />
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:attribute>
					</xsd:extension>
				</xsd:simpleContent>
			</xsd:complexType>
			<xsd:complexType name="Measure">
				<xsd:simpleContent>
					<xsd:extension base="Measure.Content">
						<xsd:attribute name="unitCode" type="MeasureUnitCode"
							use="required" />
					</xsd:extension>
				</xsd:simpleContent>
			</xsd:complexType>
			<xsd:complexType name="UserAccountID">
				<xsd:simpleContent>
					<xsd:extension base="UserAccountID.Content">
						<xsd:attribute name="schemeAgencyID">
							<xsd:simpleType>
								<xsd:restriction base="xsd:token">
									<xsd:minLength value="1" />
									<xsd:maxLength value="60" />
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:attribute>
						<xsd:attribute name="schemeAgencySchemeAgencyID"
							type="AgencyIdentificationCode" />
					</xsd:extension>
				</xsd:simpleContent>
			</xsd:complexType>
			<xsd:complexType name="EmailURI">
				<xsd:simpleContent>
					<xsd:extension base="xsd:anyURI">
						<xsd:attribute name="schemeID">
							<xsd:simpleType>
								<xsd:restriction base="xsd:token">
									<xsd:minLength value="1" />
									<xsd:maxLength value="60" />
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:attribute>
					</xsd:extension>
				</xsd:simpleContent>
			</xsd:complexType>
			<xsd:complexType name="BusinessDocumentMessageHeader">
				<xsd:annotation>
					<xsd:documentation xml:lang="EN">Business information
						from the perspective of the sender application for identifying a
						business document (instance) within a (technical) message
					</xsd:documentation>
				</xsd:annotation>
				<xsd:sequence>
					<xsd:element name="ID" type="BusinessDocumentMessageID"
						minOccurs="0" />
					<xsd:element name="ReferenceID" type="BusinessDocumentMessageID"
						minOccurs="0" />
					<xsd:element name="CreationDateTime" type="GLOBAL_DateTime" />
					<xsd:element name="TestDataIndicator" type="Indicator"
						minOccurs="0" />
					<xsd:element name="ReconciliationIndicator" type="Indicator"
						minOccurs="0" />
					<xsd:element name="SenderBusinessSystemID" type="BusinessSystemID"
						minOccurs="0" />
					<xsd:element name="RecipientBusinessSystemID" type="BusinessSystemID"
						minOccurs="0" />
					<xsd:element name="SenderParty" type="BusinessDocumentMessageHeaderParty"
						minOccurs="0" />
					<xsd:element name="RecipientParty" type="BusinessDocumentMessageHeaderParty"
						minOccurs="0" maxOccurs="unbounded" />
					<xsd:element name="BusinessScope" type="BusinessScope"
						minOccurs="0" maxOccurs="unbounded" />
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="AttachmentFolderBulkReplicateRequest">
				<xsd:annotation>
					<xsd:documentation xml:lang="EN">Attachment Folder
						Bulk Replicate Request</xsd:documentation>
				</xsd:annotation>
				<xsd:sequence>
					<xsd:element name="MessageHeader" type="BusinessDocumentMessageHeader" />
					<xsd:element name="AttachmentFolderReplicateRequestMessage"
						type="AttachmentFolderReplicateRequest" maxOccurs="unbounded" />
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="DocumentTypeCode">
				<xsd:simpleContent>
					<xsd:extension base="DocumentTypeCode.Content">
						<xsd:attribute name="listID">
							<xsd:simpleType>
								<xsd:restriction base="xsd:token">
									<xsd:minLength value="1" />
									<xsd:maxLength value="60" />
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:attribute>
						<xsd:attribute name="listVersionID">
							<xsd:simpleType>
								<xsd:restriction base="xsd:token">
									<xsd:minLength value="1" />
									<xsd:maxLength value="15" />
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:attribute>
						<xsd:attribute name="listAgencyID">
							<xsd:simpleType>
								<xsd:restriction base="xsd:token">
									<xsd:minLength value="1" />
									<xsd:maxLength value="60" />
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:attribute>
						<xsd:attribute name="listAgencySchemeID">
							<xsd:simpleType>
								<xsd:restriction base="xsd:token">
									<xsd:minLength value="1" />
									<xsd:maxLength value="60" />
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:attribute>
						<xsd:attribute name="listAgencySchemeAgencyID" type="AgencyIdentificationCode" />
					</xsd:extension>
				</xsd:simpleContent>
			</xsd:complexType>
			<xsd:complexType name="BusinessDocumentMessageHeaderParty">
				<xsd:annotation>
					<xsd:documentation xml:lang="EN">General information
						about a party that is responsible for sending or receiving a
						BusinessDocument at business application level</xsd:documentation>
				</xsd:annotation>
				<xsd:sequence>
					<xsd:element name="InternalID" type="PartyInternalID"
						minOccurs="0" />
					<xsd:element name="StandardID" type="PartyStandardID"
						minOccurs="0" maxOccurs="unbounded" />
					<xsd:element name="ContactPerson"
						type="BusinessDocumentMessageHeaderPartyContactPerson" minOccurs="0" />
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="HostObjectReference">
				<xsd:annotation>
					<xsd:documentation xml:lang="EN">Hos tObject Reference
					</xsd:documentation>
				</xsd:annotation>
				<xsd:sequence>
					<xsd:element name="ObjectTypeCode" type="ObjectTypeCode" />
					<xsd:element name="ObjectID" type="ObjectID" />
					<xsd:element name="ReceiverObjectID" type="ObjectID"
						minOccurs="0" />
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="BusinessDocumentMessageHeaderPartyContactPerson">
				<xsd:annotation>
					<xsd:documentation xml:lang="EN">Contact person of a
						party that is responsible for sending or receiving a
						BusinessDocument</xsd:documentation>
				</xsd:annotation>
				<xsd:sequence>
					<xsd:element name="InternalID" type="ContactPersonInternalID"
						minOccurs="0" />
					<xsd:element name="OrganisationFormattedName" type="LANGUAGEINDEPENDENT_MEDIUM_Name"
						minOccurs="0" maxOccurs="4" />
					<xsd:element name="PersonFormattedName" type="LANGUAGEINDEPENDENT_LONG_Name"
						minOccurs="0" maxOccurs="4" />
					<xsd:element name="PhoneNumber" type="PhoneNumber"
						minOccurs="0" maxOccurs="unbounded" />
					<xsd:element name="FaxNumber" type="PhoneNumber"
						minOccurs="0" maxOccurs="unbounded" />
					<xsd:element name="EmailURI" type="EmailURI" minOccurs="0"
						maxOccurs="unbounded" />
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="BusinessScopeID">
				<xsd:simpleContent>
					<xsd:extension base="BusinessScopeID.Content">
						<xsd:attribute name="schemeID">
							<xsd:simpleType>
								<xsd:restriction base="xsd:token">
									<xsd:minLength value="1" />
									<xsd:maxLength value="60" />
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:attribute>
						<xsd:attribute name="schemeAgencyID">
							<xsd:simpleType>
								<xsd:restriction base="xsd:token">
									<xsd:minLength value="1" />
									<xsd:maxLength value="60" />
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:attribute>
					</xsd:extension>
				</xsd:simpleContent>
			</xsd:complexType>
			<xsd:complexType name="DocumentPropertyValue">
				<xsd:sequence>
					<xsd:element name="Text" type="LANGUAGEINDEPENDENT_Text"
						minOccurs="0" />
					<xsd:element name="Indicator" type="Indicator"
						minOccurs="0" />
					<xsd:element name="DateTime" type="DateTime" minOccurs="0" />
					<xsd:element name="IntegerValue" type="IntegerValue"
						minOccurs="0" />
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="SystemAdministrativeData">
				<xsd:annotation>
					<xsd:documentation xml:lang="EN">SystemAdministrativeData
					</xsd:documentation>
				</xsd:annotation>
				<xsd:sequence>
					<xsd:element name="CreationDateTime" type="GLOBAL_DateTime" />
					<xsd:element name="CreationIdentityUUID" type="UUID"
						minOccurs="0" />
					<xsd:element name="CreationUserAccountID" type="UserAccountID"
						minOccurs="0" />
					<xsd:element name="LastChangeDateTime" type="GLOBAL_DateTime"
						minOccurs="0" />
					<xsd:element name="LastChangeIdentityUUID" type="UUID"
						minOccurs="0" />
					<xsd:element name="LastChangeUserAccountID" type="UserAccountID"
						minOccurs="0" />
				</xsd:sequence>
			</xsd:complexType>
		</xsd:schema>
		<xsd:schema targetNamespace="http://sap.com/xi/SAPGlobal20/Global"
			xmlns:p1="http://sap.com/xi/CRMPCD01" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
			xmlns="http://sap.com/xi/SAPGlobal20/Global">
			<xsd:import namespace="http://sap.com/xi/CRMPCD01" />
			<xsd:element name="AttachmentFolderBulkReplicateRequest"
				type="p1:AttachmentFolderBulkReplicateRequest" />
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="AttachmentFolderBulkReplicateRequest">
		<wsdl:documentation>Attachment Folder Bulk Replicate Request
		</wsdl:documentation>
		<wsdl:part name="AttachmentFolderBulkReplicateRequest"
			element="p2:AttachmentFolderBulkReplicateRequest" />
	</wsdl:message>
	<wsdl:portType name="AttachmentFolderReplicationRequest_Out">
		<wsdl:documentation>Attachment Folder Replication Request Out
		</wsdl:documentation>
		<wsdl:operation name="AttachmentFolderReplicationRequest_Out">
			<wsdl:documentation />			
			<wsdl:input message="p1:AttachmentFolderBulkReplicateRequest" />
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="AttachmentFolderReplicationRequest_OutBinding"
		type="p1:AttachmentFolderReplicationRequest_Out">
		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" />
		<wsdl:operation name="AttachmentFolderReplicationRequest_Out">
			<soap:operation soapAction="http://sap.com/xi/WebService/soap1.1"
				xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" />
			<wsdl:input>
				<soap:body use="literal" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" />
			</wsdl:input>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="AttachmentFolderReplicationRequest_Out_Service">
		<wsdl:port name="AttachmentFolderReplicationRequest_Out_Poirt" binding="p1:AttachmentFolderReplicationRequest_OutBinding">
			<soap:address location="AttachmentFolderReplicationRequest_Out" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>