Resources/schemas/Wsdl/SAP_Document_and_Reporting_Compliance-_Electronic_Documents_for_Chile - eDocCLSignEnvioDTE_v1.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:tns="http://www.sap.com/eDocument/Chile/SignEnvioDTE/v1.0"
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	name="eDocCLSignEnvioDTE" targetNamespace="http://www.sap.com/eDocument/Chile/SignEnvioDTE/v1.0">
	<wsdl:types>
		<xsd:schema targetNamespace="http://www.sap.com/eDocument/Chile/SignEnvioDTE/v1.0">
			<xsd:element name="SignEnvioDTE" type="tns:SignEnvioDTERequestType">

			</xsd:element>
			<xsd:element name="SignEnvioDTEResponse"
				type="tns:SignEnvioDTEResponseType">

			</xsd:element>

			<xsd:complexType name="SignEnvioDTERequestType">
				<xsd:sequence>
					<xsd:element name="SignedXML" type="xsd:base64Binary"
						maxOccurs="1" minOccurs="1">
					</xsd:element>
					<xsd:element name="RutReceptor" type="tns:RUTType"
						maxOccurs="1" minOccurs="1">
					</xsd:element>
					<xsd:element name="TimeStamp" type="xsd:dateTime"
						maxOccurs="1" minOccurs="1"></xsd:element>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:simpleType name="RUTType">
				<xsd:annotation>
					<xsd:documentation>Rol Unico Tributario (99..99-X)
					</xsd:documentation>
				</xsd:annotation>
				<xsd:restriction base="xsd:string">
					<xsd:maxLength value="10" />
					<xsd:minLength value="3" />
					<xsd:pattern value="[0-9]+-([0-9]|K)" />
				</xsd:restriction>
			</xsd:simpleType>
		
			<xsd:complexType name="SignEnvioDTEResponseType">
				<xsd:sequence>
					<xsd:element name="SignedEnvioDTE" type="xsd:base64Binary" maxOccurs="1" minOccurs="1"></xsd:element>
				</xsd:sequence>
			</xsd:complexType>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="SignEnvioDTERequest">
		<wsdl:part element="tns:SignEnvioDTE" name="SignEnvioDTERequestParameters" />
	</wsdl:message>
	<wsdl:message name="SignEnvioDTEResponse">
		<wsdl:part element="tns:SignEnvioDTEResponse" name="SignEnvioDTEResponseParameters" />
	</wsdl:message>
	<wsdl:portType name="eDocCLSignEnvioDTE">
		<wsdl:operation name="SignEnvioDTE">
			<wsdl:input message="tns:SignEnvioDTERequest" />
			<wsdl:output message="tns:SignEnvioDTEResponse" />
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="eDocCLSignEnvioDTESOAP" type="tns:eDocCLSignEnvioDTE">
		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="SignEnvioDTE">
			<soap:operation
				soapAction="http://www.sap.com/eDocument/Chile/SignEnvioDTE/v1.0/NewOperation" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="eDocCLSignEnvioDTE">
		<wsdl:port binding="tns:eDocCLSignEnvioDTESOAP" name="eDocCLSignEnvioDTESOAP">
			<soap:address location="http://endpointaddress" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
