Resources/schemas/Wsdl/SAP_S-4HANA_Integration_with_SAP_Build_Process_Automation_for_Finance_General_Ledger - DOC_WEBI_ZRFC_READ_TABLE-7.WSDL

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions targetNamespace="urn:sap-com:document:sap:soap:functions:mc-style" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsoap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="urn:sap-com:document:sap:soap:functions:mc-style" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:n1="urn:sap-com:document:sap:rfc:functions">
 <wsdl:documentation>
  <sidl:sidl xmlns:sidl="http://www.sap.com/2007/03/sidl"/>
 </wsdl:documentation>
 <wsp:UsingPolicy wsdl:required="true"/>
 <wsp:Policy wsu:Id="IF_IF_ZRFC_READ_TABLE">
  <sapsession:Session xmlns:sapsession="http://www.sap.com/webas/630/soap/features/session/">
   <sapsession:enableSession>false</sapsession:enableSession>
  </sapsession:Session>
 </wsp:Policy>
 <wsp:Policy wsu:Id="OP_IF_OP_RfcReadTable">
  <sapblock:enableBlocking xmlns:sapblock="http://www.sap.com/NW05/soap/features/blocking/">true</sapblock:enableBlocking>
  <sapcomhnd:enableCommit xmlns:sapcomhnd="http://www.sap.com/NW05/soap/features/commit/">false</sapcomhnd:enableCommit>
  <saptrhnw05:required xmlns:saptrhnw05="http://www.sap.com/NW05/soap/features/transaction/">no</saptrhnw05:required>
  <saprmnw05:enableWSRM xmlns:saprmnw05="http://www.sap.com/NW05/soap/features/wsrm/">false</saprmnw05:enableWSRM>
 </wsp:Policy>
 <wsdl:types>
  <xsd:schema attributeFormDefault="qualified" targetNamespace="urn:sap-com:document:sap:rfc:functions" xmlns:tns="urn:sap-com:document:sap:rfc:functions">
   <xsd:simpleType name="char1">
    <xsd:restriction base="xsd:string">
     <xsd:maxLength value="1"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="char30">
    <xsd:restriction base="xsd:string">
     <xsd:maxLength value="30"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="char512">
    <xsd:restriction base="xsd:string">
     <xsd:maxLength value="512"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="char60">
    <xsd:restriction base="xsd:string">
     <xsd:maxLength value="60"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="char72">
    <xsd:restriction base="xsd:string">
     <xsd:maxLength value="72"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="numeric6">
    <xsd:restriction base="xsd:string">
     <xsd:maxLength value="6"/>
     <xsd:pattern value="\d*"/>
    </xsd:restriction>
   </xsd:simpleType>
  </xsd:schema>
  <xsd:schema attributeFormDefault="qualified" targetNamespace="urn:sap-com:document:sap:soap:functions:mc-style" xmlns:n0="urn:sap-com:document:sap:rfc:functions">
   <xsd:import namespace="urn:sap-com:document:sap:rfc:functions"/>
   <xsd:simpleType name="RfcException.Message.Number">
    <xsd:restriction base="xsd:string">
     <xsd:maxLength value="3"/>
     <xsd:pattern value="\d*"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:complexType name="Tab512">
    <xsd:sequence>
     <xsd:element name="Wa" type="n0:char512"/>
    </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="RfcDbOpt">
    <xsd:sequence>
     <xsd:element name="Text" type="n0:char72"/>
    </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="RfcDbFld">
    <xsd:sequence>
     <xsd:element name="Fieldname" type="n0:char30"/>
     <xsd:element name="Offset" type="n0:numeric6"/>
     <xsd:element name="Length" type="n0:numeric6"/>
     <xsd:element name="Type" type="n0:char1"/>
     <xsd:element name="Fieldtext" type="n0:char60"/>
    </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="RfcException.Message">
    <xsd:sequence>
     <xsd:element name="ID" type="xsd:string"/>
     <xsd:element name="Number" type="tns:RfcException.Message.Number"/>
    </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="RfcReadTable.RfcException">
    <xsd:sequence>
     <xsd:element name="Name" type="tns:RfcReadTable.RfcExceptions"/>
     <xsd:element name="Text" type="xsd:string" minOccurs="0"/>
     <xsd:element name="Message" type="tns:RfcException.Message" minOccurs="0"/>
    </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="TableOfTab512">
    <xsd:sequence>
     <xsd:element name="item" type="tns:Tab512" minOccurs="0" maxOccurs="unbounded"/>
    </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="TableOfRfcDbOpt">
    <xsd:sequence>
     <xsd:element name="item" type="tns:RfcDbOpt" minOccurs="0" maxOccurs="unbounded"/>
    </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="TableOfRfcDbFld">
    <xsd:sequence>
     <xsd:element name="item" type="tns:RfcDbFld" minOccurs="0" maxOccurs="unbounded"/>
    </xsd:sequence>
   </xsd:complexType>
   <xsd:simpleType name="RfcReadTable.RfcExceptions">
    <xsd:restriction base="xsd:string">
     <xsd:enumeration value="DataBufferExceeded"/>
     <xsd:enumeration value="FieldNotValid"/>
     <xsd:enumeration value="NotAuthorized"/>
     <xsd:enumeration value="OptionNotValid"/>
     <xsd:enumeration value="TableNotAvailable"/>
     <xsd:enumeration value="TableWithoutData"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:element name="RfcReadTable.Exception" type="tns:RfcReadTable.RfcException"/>
   <xsd:element name="RfcReadTable">
    <xsd:complexType>
     <xsd:sequence>
      <xsd:element name="Data" type="tns:TableOfTab512"/>
      <xsd:element name="Delimiter" type="n0:char1" minOccurs="0"/>
      <xsd:element name="Fields" type="tns:TableOfRfcDbFld"/>
      <xsd:element name="NoData" type="n0:char1" minOccurs="0"/>
      <xsd:element name="Options" type="tns:TableOfRfcDbOpt"/>
      <xsd:element name="QueryTable" type="n0:char30"/>
      <xsd:element name="Rowcount" type="xsd:int" minOccurs="0"/>
      <xsd:element name="Rowskips" type="xsd:int" minOccurs="0"/>
     </xsd:sequence>
    </xsd:complexType>
   </xsd:element>
   <xsd:element name="RfcReadTableResponse">
    <xsd:complexType>
     <xsd:sequence>
      <xsd:element name="Data" type="tns:TableOfTab512"/>
      <xsd:element name="Fields" type="tns:TableOfRfcDbFld"/>
      <xsd:element name="Options" type="tns:TableOfRfcDbOpt"/>
     </xsd:sequence>
    </xsd:complexType>
   </xsd:element>
  </xsd:schema>
 </wsdl:types>
 <wsdl:message name="RfcReadTable">
  <wsdl:part name="parameters" element="tns:RfcReadTable"/>
 </wsdl:message>
 <wsdl:message name="RfcReadTableResponse">
  <wsdl:part name="parameter" element="tns:RfcReadTableResponse"/>
 </wsdl:message>
 <wsdl:message name="RfcReadTable.Exception">
  <wsdl:part name="RfcReadTable.Exception" element="tns:RfcReadTable.Exception"/>
 </wsdl:message>
 <wsdl:portType name="ZRFC_READ_TABLE">
  <wsdl:documentation>
   <sapdoc:sapdoc xmlns:sapdoc="urn:sap:esi:documentation">
    <sapdoc:docitem docURL="http://saphanaretail.gcp.wipro.com:8001/sap/bc/esdt/docu/sd_text?sap-client=201&amp;sd_name=ZRFC_READ_TABLE"/>
   </sapdoc:sapdoc>
  </wsdl:documentation>
  <wsp:Policy>
   <wsp:PolicyReference URI="#IF_IF_ZRFC_READ_TABLE"/>
  </wsp:Policy>
  <wsdl:operation name="RfcReadTable">
   <wsp:Policy>
    <wsp:PolicyReference URI="#OP_IF_OP_RfcReadTable"/>
   </wsp:Policy>
   <wsdl:input message="tns:RfcReadTable"/>
   <wsdl:output message="tns:RfcReadTableResponse"/>
   <wsdl:fault name="RfcReadTable.Exception" message="tns:RfcReadTable.Exception"/>
  </wsdl:operation>
 </wsdl:portType>
</wsdl:definitions>
