Resources/schemas/Wsdl/SAP_Customer_Relationship_Management_Integration_with_SAP_Field_Service_Management - CRMPCD_BP_WSDL.WSDL

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="CRMPCD_EMPLOYEE_SAVE.CRMPCD_EMPLOYEE_SAVE01" targetNamespace="urn:sap-com:document:sap:idoc:messages"
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
	<wsdl:types>
		<xsd:schema
			xmlns:xsd="http://www.w3.org/2001/XMLSchema">
			<xsd:element name="CRMPCD_EMPLOYEE_SAVE01">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="IDOC" type="CRMPCD_EMPLOYEE_SAVE.CRMPCD_EMPLOYEE_SAVE01"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:complexType name="CRMPCD_EMPLOYEE_SAVE.CRMPCD_EMPLOYEE_SAVE01">
				<xsd:annotation>
					<xsd:documentation>IDoc Structure for Data Type CRMPCD_EMPLOYEE_REQ</xsd:documentation>
				</xsd:annotation>
				<xsd:sequence>
					<xsd:element name="EDI_DC40" type="EDI_DC40.CRMPCD_EMPLOYEE_SAVE.CRMPCD_EMPLOYEE_SAVE01"/>
					<xsd:element name="E101CRMPCD_EMPLOYEE_REQ" type="CRMPCD_EMPLOYEE_SAVE01.E101CRMPCD_EMPLOYEE_REQ" minOccurs="0"/>
				</xsd:sequence>
				<xsd:attribute name="BEGIN" type="xsd:string" fixed="1" use="required"/>
			</xsd:complexType>
			<xsd:complexType name="CRMPCD_EMPLOYEE_SAVE01.E101CRMPCD_EMP_PERS_DETAILS">
				<xsd:annotation>
					<xsd:documentation>External Interfaces: Employee Personal Details</xsd:documentation>
				</xsd:annotation>
				<xsd:sequence>
					<xsd:element name="APPL_SNAME" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Structure Name, No Business Significance</xsd:documentation>
						</xsd:annotation>
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="30"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="VALID_FROM" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Start Date</xsd:documentation>
						</xsd:annotation>
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="8"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="VALID_TO" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>End Date</xsd:documentation>
						</xsd:annotation>
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="8"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="GIVEN_NAME" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>First Name of Business Partner (Person)</xsd:documentation>
						</xsd:annotation>
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="40"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="FAMILY_NAME" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Last Name of Business Partner (Person)</xsd:documentation>
						</xsd:annotation>
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="40"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="MIDDLE_NAME" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Middle name or second forename of a person</xsd:documentation>
						</xsd:annotation>
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="40"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="ADDITIONAL_FAMILY_NAME" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Other Last Name of a Person</xsd:documentation>
						</xsd:annotation>
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="40"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="FORM_OF_ADDRESS_CODE" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Form-of-Address Key</xsd:documentation>
						</xsd:annotation>
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="4"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="ACADEMIC_TITLE_CODE" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Academic Title: Key</xsd:documentation>
						</xsd:annotation>
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="4"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="GENDER_CODE" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Sex of business partner (person)</xsd:documentation>
						</xsd:annotation>
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="1"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="MARITAL_STATUS_CODE" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Marital status of business partner</xsd:documentation>
						</xsd:annotation>
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="1"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="NATIONALITY_COUNTRY_CODE" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Country ISO code</xsd:documentation>
						</xsd:annotation>
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="2"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
				</xsd:sequence>
				<xsd:attribute name="SEGMENT" type="xsd:string" fixed="1" use="required"/>
			</xsd:complexType>
			<xsd:complexType name="CRMPCD_EMPLOYEE_SAVE01.E101CRMPCD_EMP_WP_ADDR">
				<xsd:annotation>
					<xsd:documentation>External Interfaces: Employee Workplace Address</xsd:documentation>
				</xsd:annotation>
				<xsd:sequence>
					<xsd:element name="APPL_SNAME" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Structure Name, No Business Significance</xsd:documentation>
						</xsd:annotation>
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="30"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="TEL_NO" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Complete number: dialling code+number+extension</xsd:documentation>
						</xsd:annotation>
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="30"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="TEL_NO_EXTN" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Telephone no.: Extension</xsd:documentation>
						</xsd:annotation>
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="10"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="EMAIL_URI" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>E-Mail Address</xsd:documentation>
						</xsd:annotation>
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="241"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="MOBILE_NUM" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Complete number: dialling code+number+extension</xsd:documentation>
						</xsd:annotation>
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="30"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="FAX_NUM" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Fax number: dialling code+number</xsd:documentation>
						</xsd:annotation>
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="30"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="BUILDING_ID" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Building (Number or Code)</xsd:documentation>
						</xsd:annotation>
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="20"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="ROOM_ID" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Room or Appartment Number</xsd:documentation>
						</xsd:annotation>
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="10"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="INHOUSE_MAIL_ID" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Number of Delivery Service</xsd:documentation>
						</xsd:annotation>
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="10"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="HOUSE_ID" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>House Number</xsd:documentation>
						</xsd:annotation>
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="10"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="STREET_NAME" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Street</xsd:documentation>
						</xsd:annotation>
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="60"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="STREET_PREFIX_NAME" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Street 2</xsd:documentation>
						</xsd:annotation>
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="40"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="ADDITIONAL_STREET_PREFIX_NAME" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Street 2</xsd:documentation>
						</xsd:annotation>
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="40"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="STREET_SUFFIX_NAME" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Street 2</xsd:documentation>
						</xsd:annotation>
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="40"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="ADDITIONAL_STREET_SUFFIX_NAME" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Street 2</xsd:documentation>
						</xsd:annotation>
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="40"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="CITY_NAME" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>City</xsd:documentation>
						</xsd:annotation>
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="40"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="REGION_CODE" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Region (State, Province, County)</xsd:documentation>
						</xsd:annotation>
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="3"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="COUNTRY_CODE" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Country ISO code</xsd:documentation>
						</xsd:annotation>
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="2"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="STREET_POSTAL_CODE" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>PO Box postal code</xsd:documentation>
						</xsd:annotation>
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="10"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="PO_BOX_POSTAL_CODE" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>PO Box postal code</xsd:documentation>
						</xsd:annotation>
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="10"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="PO_BOX_ID" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>PO Box</xsd:documentation>
						</xsd:annotation>
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="10"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
				</xsd:sequence>
				<xsd:attribute name="SEGMENT" type="xsd:string" fixed="1" use="required"/>
			</xsd:complexType>
			<xsd:complexType name="CRMPCD_EMPLOYEE_SAVE01.E101CRMPCD_EMP_BUS_ROLE">
				<xsd:annotation>
					<xsd:documentation>External Structures: Employee Business Role</xsd:documentation>
				</xsd:annotation>
				<xsd:sequence>
					<xsd:element name="APPL_SNAME" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Structure Name, No Business Significance</xsd:documentation>
						</xsd:annotation>
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="30"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="ROLE_ID" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Business Role ID</xsd:documentation>
						</xsd:annotation>
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="40"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="REMOTE_ROLE_ID" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Remote Object ID</xsd:documentation>
						</xsd:annotation>
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="100"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
				</xsd:sequence>
				<xsd:attribute name="SEGMENT" type="xsd:string" fixed="1" use="required"/>
			</xsd:complexType>
			<xsd:complexType name="CRMPCD_EMPLOYEE_SAVE01.E101CRMPCD_EMP_SALES_RESP">
				<xsd:annotation>
					<xsd:documentation>External Interfaces: Employee Sales Responsibility</xsd:documentation>
				</xsd:annotation>
				<xsd:sequence>
					<xsd:element name="APPL_SNAME" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Structure Name, No Business Significance</xsd:documentation>
						</xsd:annotation>
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="30"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="SALES_ORG_ID" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Sales Organization ID</xsd:documentation>
						</xsd:annotation>
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="14"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="REMOTE_SALES_ORG_ID" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Remote Object ID</xsd:documentation>
						</xsd:annotation>
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="100"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="SALES_ORG_ID_SYSTEM" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Logical system</xsd:documentation>
						</xsd:annotation>
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="10"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="DISTRIBUTION_CHANNEL_CODE" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Distribution Channel</xsd:documentation>
						</xsd:annotation>
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="2"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="DIVISION_CODE" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Division</xsd:documentation>
						</xsd:annotation>
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="2"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
				</xsd:sequence>
				<xsd:attribute name="SEGMENT" type="xsd:string" fixed="1" use="required"/>
			</xsd:complexType>
			<xsd:complexType name="CRMPCD_EMPLOYEE_SAVE01.E101CRMPCD_EMPLOYEE">
				<xsd:annotation>
					<xsd:documentation>External Interface: Employee Details</xsd:documentation>
				</xsd:annotation>
				<xsd:sequence>
					<xsd:element name="APPL_SNAME" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Structure Name, No Business Significance</xsd:documentation>
						</xsd:annotation>
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="30"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="OBJ_ID" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Object ID</xsd:documentation>
						</xsd:annotation>
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="8"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="BP_ID" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Business Partner ID</xsd:documentation>
						</xsd:annotation>
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="10"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="BIRTH_NAME" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Name at birth of business partner</xsd:documentation>
						</xsd:annotation>
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="40"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="BIRTH_DATE" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Date of birth of business partner</xsd:documentation>
						</xsd:annotation>
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="8"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="BIRTH_PLACE_NAME" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Birthplace of business partner</xsd:documentation>
						</xsd:annotation>
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="40"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="COMPL_TR_START_DATE" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Start Date</xsd:documentation>
						</xsd:annotation>
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="8"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="E101CRMPCD_EMP_PERS_DETAILS" type="CRMPCD_EMPLOYEE_SAVE01.E101CRMPCD_EMP_PERS_DETAILS" minOccurs="0" maxOccurs="999999"/>
					<xsd:element name="E101CRMPCD_EMP_PRIV_ADDR" type="CRMPCD_EMPLOYEE_SAVE01.E101CRMPCD_EMP_PRIV_ADDR" minOccurs="0" maxOccurs="999999"/>
					<xsd:element name="E101CRMPCD_EMP_WP_ADDR" type="CRMPCD_EMPLOYEE_SAVE01.E101CRMPCD_EMP_WP_ADDR" minOccurs="0"/>
					<xsd:element name="E101CRMPCD_EMP_ORG_AS" type="CRMPCD_EMPLOYEE_SAVE01.E101CRMPCD_EMP_ORG_AS" minOccurs="0" maxOccurs="999999"/>
					<xsd:element name="E101CRMPCD_EMP_EMP_TYPE" type="CRMPCD_EMPLOYEE_SAVE01.E101CRMPCD_EMP_EMP_TYPE" minOccurs="0" maxOccurs="999999"/>
					<xsd:element name="E101CRMPCD_EMP_IDENTITY" type="CRMPCD_EMPLOYEE_SAVE01.E101CRMPCD_EMP_IDENTITY" minOccurs="0"/>
					<xsd:element name="E101CRMPCD_EMP_SALES_RESP" type="CRMPCD_EMPLOYEE_SAVE01.E101CRMPCD_EMP_SALES_RESP" minOccurs="0" maxOccurs="999999"/>
				</xsd:sequence>
				<xsd:attribute name="SEGMENT" type="xsd:string" fixed="1" use="required"/>
			</xsd:complexType>
			<xsd:complexType name="CRMPCD_EMPLOYEE_SAVE01.E101CRMPCD_EMP_IDENTITY">
				<xsd:annotation>
					<xsd:documentation>External Structures: Employee Identity</xsd:documentation>
				</xsd:annotation>
				<xsd:sequence>
					<xsd:element name="APPL_SNAME" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Structure Name, No Business Significance</xsd:documentation>
						</xsd:annotation>
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="30"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="ID" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>User Name in User Master Record</xsd:documentation>
						</xsd:annotation>
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="12"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="LOGON_LANGUAGE_CODE" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Language according to ISO 639</xsd:documentation>
						</xsd:annotation>
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="2"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="DATE_FORMAT_CODE" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Date format</xsd:documentation>
						</xsd:annotation>
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="1"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="DECIMAL_FORMAT_CODE" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Decimal notation</xsd:documentation>
						</xsd:annotation>
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="1"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="TIME_ZONE_CODE" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Time Zone</xsd:documentation>
						</xsd:annotation>
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="6"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="TIME_FORMAT_CODE" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Time Format (12-/24-Hour Specification)</xsd:documentation>
						</xsd:annotation>
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="1"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="USER_ACCTS_INACTIVE_IND" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Boolean Variable (X=True, -=False, Space=Unknown)</xsd:documentation>
						</xsd:annotation>
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="1"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="E101CRMPCD_EMP_BUS_ROLE" type="CRMPCD_EMPLOYEE_SAVE01.E101CRMPCD_EMP_BUS_ROLE" minOccurs="0" maxOccurs="999999"/>
				</xsd:sequence>
				<xsd:attribute name="SEGMENT" type="xsd:string" fixed="1" use="required"/>
			</xsd:complexType>
			<xsd:complexType name="EDI_DC40.CRMPCD_EMPLOYEE_SAVE.CRMPCD_EMPLOYEE_SAVE01">
				<xsd:sequence>
					<xsd:element name="TABNAM" type="xsd:string" fixed="EDI_DC40">
						<xsd:annotation>
							<xsd:documentation>TABNAM</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="MANDT" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>MANDT</xsd:documentation>
						</xsd:annotation>
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="3"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="DOCNUM" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>DOCNUM</xsd:documentation>
						</xsd:annotation>
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="16"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="DOCREL" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>DOCREL</xsd:documentation>
						</xsd:annotation>
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="4"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="STATUS" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>STATUS</xsd:documentation>
						</xsd:annotation>
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="2"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="DIRECT">
						<xsd:annotation>
							<xsd:documentation>DIRECT</xsd:documentation>
						</xsd:annotation>
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:enumeration value="1">
									<xsd:annotation>
										<xsd:documentation>Outbound</xsd:documentation>
									</xsd:annotation>
								</xsd:enumeration>
								<xsd:enumeration value="2">
									<xsd:annotation>
										<xsd:documentation>Inbound</xsd:documentation>
									</xsd:annotation>
								</xsd:enumeration>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="OUTMOD" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>OUTMOD</xsd:documentation>
						</xsd:annotation>
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="1"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="EXPRSS" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>EXPRSS</xsd:documentation>
						</xsd:annotation>
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="1"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="TEST" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>TEST</xsd:documentation>
						</xsd:annotation>
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="1"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="IDOCTYP" type="xsd:string" fixed="CRMPCD_EMPLOYEE_SAVE01">
						<xsd:annotation>
							<xsd:documentation>IDOCTYP</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="CIMTYP" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>CIMTYP</xsd:documentation>
						</xsd:annotation>
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="30"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="MESTYP" type="xsd:string" fixed="CRMPCD_EMPLOYEE_SAVE">
						<xsd:annotation>
							<xsd:documentation>MESTYP</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="MESCOD" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>MESCOD</xsd:documentation>
						</xsd:annotation>
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="3"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="MESFCT" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>MESFCT</xsd:documentation>
						</xsd:annotation>
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="3"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="STD" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>STD</xsd:documentation>
						</xsd:annotation>
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="1"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="STDVRS" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>STDVRS</xsd:documentation>
						</xsd:annotation>
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="6"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="STDMES" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>STDMES</xsd:documentation>
						</xsd:annotation>
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="6"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="SNDPOR">
						<xsd:annotation>
							<xsd:documentation>SNDPOR</xsd:documentation>
						</xsd:annotation>
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="10"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="SNDPRT">
						<xsd:annotation>
							<xsd:documentation>SNDPRT</xsd:documentation>
						</xsd:annotation>
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="2"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="SNDPFC" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>SNDPFC</xsd:documentation>
						</xsd:annotation>
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="2"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="SNDPRN">
						<xsd:annotation>
							<xsd:documentation>SNDPRN</xsd:documentation>
						</xsd:annotation>
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="10"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="SNDSAD" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>SNDSAD</xsd:documentation>
						</xsd:annotation>
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="21"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="SNDLAD" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>SNDLAD</xsd:documentation>
						</xsd:annotation>
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="70"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="RCVPOR">
						<xsd:annotation>
							<xsd:documentation>RCVPOR</xsd:documentation>
						</xsd:annotation>
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="10"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="RCVPRT" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>RCVPRT</xsd:documentation>
						</xsd:annotation>
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="2"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="RCVPFC" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>RCVPFC</xsd:documentation>
						</xsd:annotation>
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="2"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="RCVPRN">
						<xsd:annotation>
							<xsd:documentation>RCVPRN</xsd:documentation>
						</xsd:annotation>
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="10"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="RCVSAD" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>RCVSAD</xsd:documentation>
						</xsd:annotation>
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="21"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="RCVLAD" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>RCVLAD</xsd:documentation>
						</xsd:annotation>
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="70"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="CREDAT" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>CREDAT</xsd:documentation>
						</xsd:annotation>
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="8"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="CRETIM" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>CRETIM</xsd:documentation>
						</xsd:annotation>
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="6"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="REFINT" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>REFINT</xsd:documentation>
						</xsd:annotation>
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="14"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="REFGRP" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>REFGRP</xsd:documentation>
						</xsd:annotation>
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="14"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="REFMES" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>REFMES</xsd:documentation>
						</xsd:annotation>
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="14"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="ARCKEY" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>ARCKEY</xsd:documentation>
						</xsd:annotation>
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="70"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="SERIAL" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>SERIAL</xsd:documentation>
						</xsd:annotation>
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="20"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
				</xsd:sequence>
				<xsd:attribute name="SEGMENT" type="xsd:string" fixed="1" use="required"/>
			</xsd:complexType>
			<xsd:complexType name="CRMPCD_EMPLOYEE_SAVE01.E101CRMPCD_EMP_PRIV_ADDR">
				<xsd:annotation>
					<xsd:documentation>External Interfaces: Private Address</xsd:documentation>
				</xsd:annotation>
				<xsd:sequence>
					<xsd:element name="APPL_SNAME" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Structure Name, No Business Significance</xsd:documentation>
						</xsd:annotation>
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="30"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="VALID_FROM" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Start Date</xsd:documentation>
						</xsd:annotation>
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="8"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="VALID_TO" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>End Date</xsd:documentation>
						</xsd:annotation>
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="8"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="TEL_NO" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Complete number: dialling code+number+extension</xsd:documentation>
						</xsd:annotation>
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="30"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="TEL_NO_EXTN" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Telephone no.: Extension</xsd:documentation>
						</xsd:annotation>
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="10"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="EMAIL_URI" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>E-Mail Address</xsd:documentation>
						</xsd:annotation>
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="241"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="MOBILE_NUM" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Complete number: dialling code+number+extension</xsd:documentation>
						</xsd:annotation>
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="30"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="HOUSE_ID" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>House Number</xsd:documentation>
						</xsd:annotation>
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="10"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="STREET_NAME" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Street</xsd:documentation>
						</xsd:annotation>
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="60"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="STREET_PREFIX_NAME" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Street 2</xsd:documentation>
						</xsd:annotation>
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="40"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="ADDITIONAL_STREET_PREFIX_NAME" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Street 2</xsd:documentation>
						</xsd:annotation>
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="40"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="STREET_SUFFIX_NAME" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Street 2</xsd:documentation>
						</xsd:annotation>
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="40"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="ADDITIONAL_STREET_SUFFIX_NAME" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Street 2</xsd:documentation>
						</xsd:annotation>
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="40"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="CITY_NAME" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>City</xsd:documentation>
						</xsd:annotation>
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="40"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="REGION_CODE" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Region (State, Province, County)</xsd:documentation>
						</xsd:annotation>
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="3"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="COUNTRY_CODE" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Country ISO code</xsd:documentation>
						</xsd:annotation>
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="2"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="STREET_POSTAL_CODE" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>PO Box postal code</xsd:documentation>
						</xsd:annotation>
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="10"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="PO_BOX_POSTAL_CODE" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>PO Box postal code</xsd:documentation>
						</xsd:annotation>
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="10"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="PO_BOX_ID" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>PO Box</xsd:documentation>
						</xsd:annotation>
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="10"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
				</xsd:sequence>
				<xsd:attribute name="SEGMENT" type="xsd:string" fixed="1" use="required"/>
			</xsd:complexType>
			<xsd:complexType name="CRMPCD_EMPLOYEE_SAVE01.E101CRMPCD_EMP_ORG_AS">
				<xsd:annotation>
					<xsd:documentation>External Interfaces: Employee Org Assignment</xsd:documentation>
				</xsd:annotation>
				<xsd:sequence>
					<xsd:element name="APPL_SNAME" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Structure Name, No Business Significance</xsd:documentation>
						</xsd:annotation>
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="30"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="VALID_FROM" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Start Date</xsd:documentation>
						</xsd:annotation>
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="8"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="VALID_TO" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>End Date</xsd:documentation>
						</xsd:annotation>
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="8"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="BUS_CHAR_CODE" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Business Character Code</xsd:documentation>
						</xsd:annotation>
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="6"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="ORG_CENTRE_ID" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Concatenated Identification (Type and ID) of Org.Objects</xsd:documentation>
						</xsd:annotation>
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="14"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="ORG_CENTRE_REMOTE_OBJ_ID" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Remote Object ID</xsd:documentation>
						</xsd:annotation>
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="100"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="JOB_ID" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Concatenated Identification (Type and ID) of Org.Objects</xsd:documentation>
						</xsd:annotation>
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="14"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="JOB_REMOTE_OBJECT_ID" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Remote Object ID</xsd:documentation>
						</xsd:annotation>
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="100"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="ORG_SYSTEM_ID" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Logical system</xsd:documentation>
						</xsd:annotation>
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="10"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="IS_MANAGER" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Boolean Variable (X=True, -=False, Space=Unknown)</xsd:documentation>
						</xsd:annotation>
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="1"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="MANAGER_VALID_FROM" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Start Date</xsd:documentation>
						</xsd:annotation>
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="8"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="MANAGER_VALID_TO" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>End Date</xsd:documentation>
						</xsd:annotation>
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="8"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="ORG_ASSIGN_TYPE_CODE" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Org Assignment Type Code</xsd:documentation>
						</xsd:annotation>
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="3"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
				</xsd:sequence>
				<xsd:attribute name="SEGMENT" type="xsd:string" fixed="1" use="required"/>
			</xsd:complexType>
			<xsd:complexType name="CRMPCD_EMPLOYEE_SAVE01.E101CRMPCD_EMP_EMP_TYPE">
				<xsd:annotation>
					<xsd:documentation>External Structures: Employee Type</xsd:documentation>
				</xsd:annotation>
				<xsd:sequence>
					<xsd:element name="APPL_SNAME" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Structure Name, No Business Significance</xsd:documentation>
						</xsd:annotation>
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="30"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="VALID_FROM" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Start Date</xsd:documentation>
						</xsd:annotation>
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="8"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="VALID_TO" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>End Date</xsd:documentation>
						</xsd:annotation>
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="8"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
				</xsd:sequence>
				<xsd:attribute name="SEGMENT" type="xsd:string" fixed="1" use="required"/>
			</xsd:complexType>
			<xsd:complexType name="CRMPCD_EMPLOYEE_SAVE01.E101CRMPCD_EMPLOYEE_REQ">
				<xsd:annotation>
					<xsd:documentation>External Interface: Employee Replication Request</xsd:documentation>
				</xsd:annotation>
				<xsd:sequence>
					<xsd:element name="APPL_SNAME" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Structure Name, No Business Significance</xsd:documentation>
						</xsd:annotation>
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="30"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="FILE_NAME" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Character field of length 40</xsd:documentation>
						</xsd:annotation>
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="40"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="CREATED_AT" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Time Stamp - Long Format</xsd:documentation>
						</xsd:annotation>
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="21"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="ORG_SYSTEM_ID" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Logical system</xsd:documentation>
						</xsd:annotation>
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="10"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="ID_UNIQUE_IND" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Boolean Variable (X=True, -=False, Space=Unknown)</xsd:documentation>
						</xsd:annotation>
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="1"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="PROC_DIR_IND" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Boolean Variable (X=True, -=False, Space=Unknown)</xsd:documentation>
						</xsd:annotation>
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="1"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="E101CRMPCD_EMPLOYEE" type="CRMPCD_EMPLOYEE_SAVE01.E101CRMPCD_EMPLOYEE" minOccurs="0" maxOccurs="999999"/>
				</xsd:sequence>
				<xsd:attribute name="SEGMENT" type="xsd:string" fixed="1" use="required"/>
			</xsd:complexType>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="CRMPCD_EMPLOYEE_SAVE.CRMPCD_EMPLOYEE_SAVE01">
		<wsdl:part name="idoc" element="CRMPCD_EMPLOYEE_SAVE01"/>
	</wsdl:message>
	<wsdl:portType name="CRMPCD_EMPLOYEE_SAVE.CRMPCD_EMPLOYEE_SAVE01.PortType">
		<wsdl:operation name="CRMPCD_EMPLOYEE_SAVE.CRMPCD_EMPLOYEE_SAVE01">
			<wsdl:input message="CRMPCD_EMPLOYEE_SAVE.CRMPCD_EMPLOYEE_SAVE01"/>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="CRMPCD_EMPLOYEE_SAVE.CRMPCD_EMPLOYEE_SAVE01.PortTypeBinding" type="idoc:CRMPCD_EMPLOYEE_SAVE.CRMPCD_EMPLOYEE_SAVE01.PortType"
		xmlns:idoc="urn:sap-com:document:sap:idoc:messages">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"
			xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"/>
			<wsdl:operation name="CRMPCD_EMPLOYEE_SAVE.CRMPCD_EMPLOYEE_SAVE01">
				<soap:operation soapAction="http://sap.com/xi/WebService/soap1.1"
					xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"/>
					<wsdl:input>
						<soap:body use="literal"
							xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"/>
						</wsdl:input>
					</wsdl:operation>
				</wsdl:binding>
				<wsdl:service name="CRMPCD_EMPLOYEE_SAVE.CRMPCD_EMPLOYEE_SAVE01">
					<wsdl:port name="CRMPCD_EMPLOYEE_SAVE.CRMPCD_EMPLOYEE_SAVE01" binding="idoc:CRMPCD_EMPLOYEE_SAVE.CRMPCD_EMPLOYEE_SAVE01.PortTypeBinding"
						xmlns:idoc="urn:sap-com:document:sap:idoc:messages">
						<soap:address location="http://www.example.org/"
							xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"/>
						</wsdl:port>
					</wsdl:service>
				</wsdl:definitions>