Resources/schemas/Wsdl/SAP_Returnable_Packaging_Management_Integration_with_SAP_S-4HANA_-_Master_Data_Replication - DOC_CLAS_CO_LOG_MDR_PLANT.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions targetNamespace="http://sap.com/xi/APPL/LogMDR" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsoap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://sap.com/xi/APPL/LogMDR" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd">
 <wsdl:documentation>
  <sidl:sidl xmlns:sidl="http://www.sap.com/2007/03/sidl"/>
 </wsdl:documentation>
 <wsp:UsingPolicy wsdl:required="true"/>
 <wsp:Policy wsu:Id="IF_IF_PlantMasterDataReplicationBundleRequest_Out">
  <sapsession:Session xmlns:sapsession="http://www.sap.com/webas/630/soap/features/session/">
   <sapsession:enableSession>false</sapsession:enableSession>
  </sapsession:Session>
 </wsp:Policy>
 <wsp:Policy wsu:Id="OP_IF_OP_PlantMasterDataReplicationBundleRequest_Out">
  <sapcomhnd:enableCommit xmlns:sapcomhnd="http://www.sap.com/NW05/soap/features/commit/">true</sapcomhnd:enableCommit>
  <sapblock:enableBlocking xmlns:sapblock="http://www.sap.com/NW05/soap/features/blocking/">false</sapblock:enableBlocking>
  <saptrhnw05:required xmlns:saptrhnw05="http://www.sap.com/NW05/soap/features/transaction/">yes</saptrhnw05:required>
  <saprmnw05:enableWSRM xmlns:saprmnw05="http://www.sap.com/NW05/soap/features/wsrm/">true</saprmnw05:enableWSRM>
 </wsp:Policy>
 <wsdl:types>
  <xsd:schema targetNamespace="http://sap.com/xi/APPL/LogMDR" xmlns="http://sap.com/xi/APPL/LogMDR" xmlns:ccts="urn:un:unece:uncefact:documentation:standard:CoreComponentsTechnicalSpecification:3.0">
   <xsd:element name="PlantMasterDataReplicationBundleRequest" type="PlantRplctMsg"/>
   <xsd:simpleType name="AddressLine">
    <xsd:annotation>
     <xsd:documentation xml:lang="EN">
      <ccts:RepresentationTerm>Text</ccts:RepresentationTerm>
     </xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:string">
     <xsd:maxLength value="60"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="AgencyIdentificationCode">
    <xsd:annotation>
     <xsd:documentation xml:lang="EN">
      <ccts:RepresentationTerm>Code</ccts:RepresentationTerm>
     </xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:token">
     <xsd:maxLength value="3"/>
     <xsd:minLength value="1"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:complexType name="BusinessDocumentMessageHeader">
    <xsd:sequence>
     <xsd:element name="ID" minOccurs="0" type="BusinessDocumentMessageID"/>
     <xsd:element name="UUID" minOccurs="0" type="UUID"/>
     <xsd:element name="ReferenceID" minOccurs="0" type="BusinessDocumentMessageID"/>
     <xsd:element name="ReferenceUUID" minOccurs="0" type="UUID"/>
     <xsd:element name="CreationDateTime" minOccurs="0" type="GLOBAL_DateTime"/>
     <xsd:element name="TestDataIndicator" minOccurs="0" type="Indicator"/>
     <xsd:element name="ReconciliationIndicator" minOccurs="0" type="Indicator"/>
     <xsd:element name="SenderBusinessSystemID" minOccurs="0" type="BusinessSystemID"/>
     <xsd:element name="RecipientBusinessSystemID" minOccurs="0" type="BusinessSystemID"/>
     <xsd:element name="SenderParty" minOccurs="0" type="BusinessDocumentMessageHeaderParty"/>
     <xsd:element name="RecipientParty" minOccurs="0" type="BusinessDocumentMessageHeaderParty"/>
     <xsd:element name="BusinessScope" minOccurs="0" type="BusinessScope"/>
    </xsd:sequence>
    <xsd:attribute name="BusinessDocumentObjectListCompleteTransmissionIndicator" type="OPTIONAL_Indicator"/>
   </xsd:complexType>
   <xsd:complexType name="BusinessDocumentMessageHeaderParty">
    <xsd:sequence>
     <xsd:element name="InternalID" minOccurs="0" type="PartyInternalID"/>
     <xsd:element name="StandardID" minOccurs="0" maxOccurs="unbounded" type="PartyStandardID"/>
     <xsd:element name="ContactPerson" minOccurs="0" type="BusinessDocumentMessageHeaderPartyContactPerson"/>
    </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="BusinessDocumentMessageHeaderPartyContactPerson">
    <xsd:sequence>
     <xsd:element name="InternalID" minOccurs="0" type="ContactPersonInternalID"/>
     <xsd:element name="OrganisationFormattedName" minOccurs="0" maxOccurs="4" type="LANGUAGEINDEPENDENT_MEDIUM_Name"/>
     <xsd:element name="PersonFormattedName" minOccurs="0" maxOccurs="4" type="LANGUAGEINDEPENDENT_LONG_Name"/>
     <xsd:element name="PhoneNumber" minOccurs="0" maxOccurs="unbounded" type="PhoneNumber"/>
     <xsd:element name="FaxNumber" minOccurs="0" maxOccurs="unbounded" type="PhoneNumber"/>
     <xsd:element name="EmailURI" minOccurs="0" maxOccurs="unbounded" type="EmailURI"/>
    </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="BusinessDocumentMessageID">
    <xsd:annotation>
     <xsd:documentation xml:lang="EN">
      <ccts:RepresentationTerm>Identifier</ccts:RepresentationTerm>
     </xsd:documentation>
    </xsd:annotation>
    <xsd:simpleContent>
     <xsd:extension base="BusinessDocumentMessageID.Content">
      <xsd:attribute name="schemeID">
       <xsd:simpleType>
        <xsd:restriction base="xsd:token">
         <xsd:maxLength value="60"/>
         <xsd:minLength value="1"/>
        </xsd:restriction>
       </xsd:simpleType>
      </xsd:attribute>
      <xsd:attribute name="schemeAgencyID">
       <xsd:simpleType>
        <xsd:restriction base="xsd:token">
         <xsd:maxLength value="60"/>
         <xsd:minLength value="1"/>
        </xsd:restriction>
       </xsd:simpleType>
      </xsd:attribute>
      <xsd:attribute name="schemeAgencySchemeAgencyID" type="AgencyIdentificationCode"/>
     </xsd:extension>
    </xsd:simpleContent>
   </xsd:complexType>
   <xsd:simpleType name="BusinessDocumentMessageID.Content">
    <xsd:restriction base="xsd:token">
     <xsd:maxLength value="35"/>
     <xsd:minLength value="1"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:complexType name="BusinessScope">
    <xsd:sequence>
     <xsd:element name="TypeCode" type="BusinessScopeTypeCode"/>
     <xsd:element name="InstanceID" minOccurs="0" type="BusinessScopeInstanceID"/>
     <xsd:element name="ID" minOccurs="0" type="BusinessScopeID"/>
    </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="BusinessScopeID">
    <xsd:annotation>
     <xsd:documentation xml:lang="EN">
      <ccts:RepresentationTerm>Identifier</ccts:RepresentationTerm>
     </xsd:documentation>
    </xsd:annotation>
    <xsd:simpleContent>
     <xsd:extension base="BusinessScopeID.Content">
      <xsd:attribute name="schemeID">
       <xsd:simpleType>
        <xsd:restriction base="xsd:token">
         <xsd:maxLength value="60"/>
         <xsd:minLength value="1"/>
        </xsd:restriction>
       </xsd:simpleType>
      </xsd:attribute>
      <xsd:attribute name="schemeAgencyID">
       <xsd:simpleType>
        <xsd:restriction base="xsd:token">
         <xsd:maxLength value="60"/>
         <xsd:minLength value="1"/>
        </xsd:restriction>
       </xsd:simpleType>
      </xsd:attribute>
     </xsd:extension>
    </xsd:simpleContent>
   </xsd:complexType>
   <xsd:simpleType name="BusinessScopeID.Content">
    <xsd:restriction base="xsd:token">
     <xsd:maxLength value="36"/>
     <xsd:minLength value="1"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:complexType name="BusinessScopeInstanceID">
    <xsd:annotation>
     <xsd:documentation xml:lang="EN">
      <ccts:RepresentationTerm>Identifier</ccts:RepresentationTerm>
     </xsd:documentation>
    </xsd:annotation>
    <xsd:simpleContent>
     <xsd:extension base="BusinessScopeInstanceID.Content">
      <xsd:attribute name="schemeID">
       <xsd:simpleType>
        <xsd:restriction base="xsd:token">
         <xsd:maxLength value="60"/>
         <xsd:minLength value="1"/>
        </xsd:restriction>
       </xsd:simpleType>
      </xsd:attribute>
      <xsd:attribute name="schemeAgencyID">
       <xsd:simpleType>
        <xsd:restriction base="xsd:token">
         <xsd:maxLength value="60"/>
         <xsd:minLength value="1"/>
        </xsd:restriction>
       </xsd:simpleType>
      </xsd:attribute>
     </xsd:extension>
    </xsd:simpleContent>
   </xsd:complexType>
   <xsd:simpleType name="BusinessScopeInstanceID.Content">
    <xsd:restriction base="xsd:token">
     <xsd:maxLength value="36"/>
     <xsd:minLength value="1"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:complexType name="BusinessScopeTypeCode">
    <xsd:annotation>
     <xsd:documentation xml:lang="EN">
      <ccts:RepresentationTerm>Code</ccts:RepresentationTerm>
     </xsd:documentation>
    </xsd:annotation>
    <xsd:simpleContent>
     <xsd:extension base="BusinessScopeTypeCode.Content">
      <xsd:attribute name="listID">
       <xsd:simpleType>
        <xsd:restriction base="xsd:token">
         <xsd:maxLength value="60"/>
         <xsd:minLength value="1"/>
        </xsd:restriction>
       </xsd:simpleType>
      </xsd:attribute>
      <xsd:attribute name="listVersionID">
       <xsd:simpleType>
        <xsd:restriction base="xsd:token">
         <xsd:maxLength value="15"/>
         <xsd:minLength value="1"/>
        </xsd:restriction>
       </xsd:simpleType>
      </xsd:attribute>
      <xsd:attribute name="listAgencyID">
       <xsd:simpleType>
        <xsd:restriction base="xsd:token">
         <xsd:maxLength value="60"/>
         <xsd:minLength value="1"/>
        </xsd:restriction>
       </xsd:simpleType>
      </xsd:attribute>
      <xsd:attribute name="listAgencySchemeID">
       <xsd:simpleType>
        <xsd:restriction base="xsd:token">
         <xsd:maxLength value="60"/>
         <xsd:minLength value="1"/>
        </xsd:restriction>
       </xsd:simpleType>
      </xsd:attribute>
      <xsd:attribute name="listAgencySchemeAgencyID" type="AgencyIdentificationCode"/>
     </xsd:extension>
    </xsd:simpleContent>
   </xsd:complexType>
   <xsd:simpleType name="BusinessScopeTypeCode.Content">
    <xsd:restriction base="xsd:token">
     <xsd:maxLength value="4"/>
     <xsd:minLength value="1"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="BusinessSystemID">
    <xsd:annotation>
     <xsd:documentation xml:lang="EN">
      <ccts:RepresentationTerm>Identifier</ccts:RepresentationTerm>
     </xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:token">
     <xsd:maxLength value="60"/>
     <xsd:minLength value="1"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="CityName">
    <xsd:annotation>
     <xsd:documentation xml:lang="EN">
      <ccts:RepresentationTerm>Text</ccts:RepresentationTerm>
     </xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:string">
     <xsd:maxLength value="128"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="CompanyCode">
    <xsd:annotation>
     <xsd:documentation xml:lang="EN">
      <ccts:RepresentationTerm>Text</ccts:RepresentationTerm>
     </xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:string">
     <xsd:maxLength value="20"/>
     <xsd:minLength value="1"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:complexType name="ContactPersonInternalID">
    <xsd:annotation>
     <xsd:documentation xml:lang="EN">
      <ccts:RepresentationTerm>Identifier</ccts:RepresentationTerm>
     </xsd:documentation>
    </xsd:annotation>
    <xsd:simpleContent>
     <xsd:extension base="ContactPersonInternalID.Content">
      <xsd:attribute name="schemeID">
       <xsd:simpleType>
        <xsd:restriction base="xsd:token">
         <xsd:maxLength value="60"/>
         <xsd:minLength value="1"/>
        </xsd:restriction>
       </xsd:simpleType>
      </xsd:attribute>
      <xsd:attribute name="schemeAgencyID">
       <xsd:simpleType>
        <xsd:restriction base="xsd:token">
         <xsd:maxLength value="60"/>
         <xsd:minLength value="1"/>
        </xsd:restriction>
       </xsd:simpleType>
      </xsd:attribute>
     </xsd:extension>
    </xsd:simpleContent>
   </xsd:complexType>
   <xsd:simpleType name="ContactPersonInternalID.Content">
    <xsd:restriction base="xsd:token">
     <xsd:maxLength value="32"/>
     <xsd:minLength value="1"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="CountryCode">
    <xsd:annotation>
     <xsd:documentation xml:lang="EN">
      <ccts:RepresentationTerm>Code</ccts:RepresentationTerm>
     </xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:token">
     <xsd:maxLength value="3"/>
     <xsd:minLength value="2"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="CountryDiallingCode">
    <xsd:annotation>
     <xsd:documentation xml:lang="EN">
      <ccts:RepresentationTerm>Code</ccts:RepresentationTerm>
     </xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:token">
     <xsd:maxLength value="10"/>
     <xsd:minLength value="1"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="CurrencyCode">
    <xsd:annotation>
     <xsd:documentation xml:lang="EN">
      <ccts:RepresentationTerm>Identifier</ccts:RepresentationTerm>
     </xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:token">
     <xsd:maxLength value="5"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:complexType name="EmailURI">
    <xsd:annotation>
     <xsd:documentation xml:lang="EN">
      <ccts:RepresentationTerm>URI</ccts:RepresentationTerm>
     </xsd:documentation>
    </xsd:annotation>
    <xsd:simpleContent>
     <xsd:extension base="xsd:anyURI">
      <xsd:attribute name="schemeID">
       <xsd:simpleType>
        <xsd:restriction base="xsd:token">
         <xsd:maxLength value="60"/>
         <xsd:minLength value="1"/>
        </xsd:restriction>
       </xsd:simpleType>
      </xsd:attribute>
     </xsd:extension>
    </xsd:simpleContent>
   </xsd:complexType>
   <xsd:simpleType name="GLOBAL_DateTime">
    <xsd:annotation>
     <xsd:documentation xml:lang="EN">
      <ccts:RepresentationTerm>DateTime</ccts:RepresentationTerm>
     </xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:dateTime">
     <xsd:pattern value="[0-9]{4}-[0-9]{2}-[0-9]{2}T[0-9]{2}:[0-9]{2}:[0-9]{2}(.[0-9]{1,7})?Z"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="HouseNumber">
    <xsd:annotation>
     <xsd:documentation xml:lang="EN">
      <ccts:RepresentationTerm>Text</ccts:RepresentationTerm>
     </xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:string">
     <xsd:maxLength value="10"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="Indicator">
    <xsd:annotation>
     <xsd:documentation xml:lang="EN">
      <ccts:RepresentationTerm>Indicator</ccts:RepresentationTerm>
     </xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:boolean"/>
   </xsd:simpleType>
   <xsd:simpleType name="InternationalPhoneNumber">
    <xsd:annotation>
     <xsd:documentation xml:lang="EN">
      <ccts:RepresentationTerm>Text</ccts:RepresentationTerm>
     </xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:string"/>
   </xsd:simpleType>
   <xsd:simpleType name="LANGUAGEINDEPENDENT_LONG_Name">
    <xsd:annotation>
     <xsd:documentation xml:lang="EN">
      <ccts:RepresentationTerm>Name</ccts:RepresentationTerm>
     </xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:string">
     <xsd:maxLength value="80"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="LANGUAGEINDEPENDENT_MEDIUM_Name">
    <xsd:annotation>
     <xsd:documentation xml:lang="EN">
      <ccts:RepresentationTerm>Name</ccts:RepresentationTerm>
     </xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:string">
     <xsd:maxLength value="40"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="LanguageCode">
    <xsd:annotation>
     <xsd:documentation xml:lang="EN">
      <ccts:RepresentationTerm>Code</ccts:RepresentationTerm>
     </xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:language">
     <xsd:maxLength value="9"/>
     <xsd:minLength value="2"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:complexType name="MEDIUM_Name">
    <xsd:annotation>
     <xsd:documentation xml:lang="EN">
      <ccts:RepresentationTerm>Name</ccts:RepresentationTerm>
     </xsd:documentation>
    </xsd:annotation>
    <xsd:simpleContent>
     <xsd:extension base="MEDIUM_Name.Content">
      <xsd:attribute name="languageCode" type="LanguageCode"/>
     </xsd:extension>
    </xsd:simpleContent>
   </xsd:complexType>
   <xsd:simpleType name="MEDIUM_Name.Content">
    <xsd:restriction base="xsd:string">
     <xsd:maxLength value="40"/>
     <xsd:minLength value="1"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="OPTIONAL_Indicator">
    <xsd:annotation>
     <xsd:documentation xml:lang="EN">
      <ccts:RepresentationTerm>Indicator</ccts:RepresentationTerm>
     </xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:boolean"/>
   </xsd:simpleType>
   <xsd:complexType name="PartyInternalID">
    <xsd:annotation>
     <xsd:documentation xml:lang="EN">
      <ccts:RepresentationTerm>Identifier</ccts:RepresentationTerm>
     </xsd:documentation>
    </xsd:annotation>
    <xsd:simpleContent>
     <xsd:extension base="PartyInternalID.Content">
      <xsd:attribute name="schemeID">
       <xsd:simpleType>
        <xsd:restriction base="xsd:token">
         <xsd:maxLength value="60"/>
         <xsd:minLength value="1"/>
        </xsd:restriction>
       </xsd:simpleType>
      </xsd:attribute>
      <xsd:attribute name="schemeAgencyID">
       <xsd:simpleType>
        <xsd:restriction base="xsd:token">
         <xsd:maxLength value="60"/>
         <xsd:minLength value="1"/>
        </xsd:restriction>
       </xsd:simpleType>
      </xsd:attribute>
     </xsd:extension>
    </xsd:simpleContent>
   </xsd:complexType>
   <xsd:simpleType name="PartyInternalID.Content">
    <xsd:restriction base="xsd:token">
     <xsd:maxLength value="32"/>
     <xsd:minLength value="1"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:complexType name="PartyStandardID">
    <xsd:annotation>
     <xsd:documentation xml:lang="EN">
      <ccts:RepresentationTerm>Identifier</ccts:RepresentationTerm>
     </xsd:documentation>
    </xsd:annotation>
    <xsd:simpleContent>
     <xsd:extension base="PartyStandardID.Content">
      <xsd:attribute name="schemeAgencyID" use="required">
       <xsd:simpleType>
        <xsd:restriction base="xsd:token">
         <xsd:maxLength value="3"/>
         <xsd:minLength value="1"/>
        </xsd:restriction>
       </xsd:simpleType>
      </xsd:attribute>
     </xsd:extension>
    </xsd:simpleContent>
   </xsd:complexType>
   <xsd:simpleType name="PartyStandardID.Content">
    <xsd:restriction base="xsd:token">
     <xsd:maxLength value="13"/>
     <xsd:minLength value="1"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:complexType name="PhoneNumber">
    <xsd:sequence>
     <xsd:element name="AreaID" minOccurs="0" type="PhoneNumberAreaID"/>
     <xsd:element name="SubscriberID" minOccurs="0" type="PhoneNumberSubscriberID"/>
     <xsd:element name="ExtensionID" minOccurs="0" type="PhoneNumberExtensionID"/>
     <xsd:element name="CountryCode" minOccurs="0" type="CountryCode"/>
     <xsd:element name="CountryDiallingCode" minOccurs="0" type="CountryDiallingCode"/>
     <xsd:element name="CountryName" minOccurs="0" type="MEDIUM_Name"/>
    </xsd:sequence>
   </xsd:complexType>
   <xsd:simpleType name="PhoneNumberAreaID">
    <xsd:annotation>
     <xsd:documentation xml:lang="EN">
      <ccts:RepresentationTerm>Identifier</ccts:RepresentationTerm>
     </xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:token">
     <xsd:maxLength value="10"/>
     <xsd:minLength value="1"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="PhoneNumberExtensionID">
    <xsd:annotation>
     <xsd:documentation xml:lang="EN">
      <ccts:RepresentationTerm>Identifier</ccts:RepresentationTerm>
     </xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:token">
     <xsd:maxLength value="10"/>
     <xsd:minLength value="1"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="PhoneNumberSubscriberID">
    <xsd:annotation>
     <xsd:documentation xml:lang="EN">
      <ccts:RepresentationTerm>Identifier</ccts:RepresentationTerm>
     </xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:token">
     <xsd:maxLength value="30"/>
     <xsd:minLength value="1"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:complexType name="Plant">
    <xsd:sequence>
     <xsd:element name="PlantID" type="PlantID"/>
     <xsd:element name="PlantName" minOccurs="0" type="LANGUAGEINDEPENDENT_MEDIUM_Name"/>
     <xsd:element name="PostalAddress" type="PostalAddress"/>
     <xsd:element name="PostOfficeBox" minOccurs="0" type="PostOfficeBox"/>
     <xsd:element name="PhoneNumber" minOccurs="0" type="InternationalPhoneNumber"/>
     <xsd:element name="FaxNumber" minOccurs="0" type="InternationalPhoneNumber"/>
     <xsd:element name="CompanyCode" minOccurs="0" type="CompanyCode"/>
     <xsd:element name="CurrencyCode" minOccurs="0" type="CurrencyCode"/>
    </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="PlantDeleted">
    <xsd:sequence>
     <xsd:element name="PlantID" type="PlantID"/>
    </xsd:sequence>
   </xsd:complexType>
   <xsd:simpleType name="PlantID">
    <xsd:annotation>
     <xsd:documentation xml:lang="EN">
      <ccts:RepresentationTerm>Identifier</ccts:RepresentationTerm>
     </xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:token">
     <xsd:maxLength value="50"/>
     <xsd:minLength value="1"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:complexType name="PlantList">
    <xsd:sequence>
     <xsd:element name="ListCompleteTransmissionIndicator" type="Indicator"/>
     <xsd:element name="TransmissionStartDateTime" type="GLOBAL_DateTime"/>
     <xsd:element name="Plant" minOccurs="0" maxOccurs="unbounded" type="Plant"/>
     <xsd:element name="PlantDeleted" minOccurs="0" maxOccurs="unbounded" type="PlantDeleted"/>
    </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="PlantRplctMsg">
    <xsd:sequence>
     <xsd:element name="MessageHeader" type="BusinessDocumentMessageHeader"/>
     <xsd:element name="PlantReplicationRequestMessage" type="PlantList"/>
    </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="PostOfficeBox">
    <xsd:sequence>
     <xsd:element name="PostOfficeBoxNumber" form="qualified" type="LANGUAGEINDEPENDENT_MEDIUM_Name"/>
     <xsd:element name="PostOfficeBoxPostalCode" form="qualified" type="PostalCode"/>
    </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="PostalAddress">
    <xsd:sequence>
     <xsd:element name="Street" minOccurs="0" type="AddressLine"/>
     <xsd:element name="HouseNumber" minOccurs="0" type="HouseNumber"/>
     <xsd:element name="City" minOccurs="0" type="CityName"/>
     <xsd:element name="PostalCode" minOccurs="0" type="PostalCode"/>
     <xsd:element name="Region" minOccurs="0" type="RegionCode"/>
     <xsd:element name="Country" type="CountryCode"/>
    </xsd:sequence>
   </xsd:complexType>
   <xsd:simpleType name="PostalCode">
    <xsd:annotation>
     <xsd:documentation xml:lang="EN">
      <ccts:RepresentationTerm>Text</ccts:RepresentationTerm>
     </xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:string">
     <xsd:maxLength value="50"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="RegionCode">
    <xsd:annotation>
     <xsd:documentation xml:lang="EN">
      <ccts:RepresentationTerm>Identifier</ccts:RepresentationTerm>
     </xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:token">
     <xsd:maxLength value="3"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:complexType name="UUID">
    <xsd:annotation>
     <xsd:documentation xml:lang="EN">
      <ccts:RepresentationTerm>Identifier</ccts:RepresentationTerm>
     </xsd:documentation>
    </xsd:annotation>
    <xsd:simpleContent>
     <xsd:extension base="UUID.Content">
      <xsd:attribute name="schemeID">
       <xsd:simpleType>
        <xsd:restriction base="xsd:token">
         <xsd:maxLength value="60"/>
         <xsd:minLength value="1"/>
        </xsd:restriction>
       </xsd:simpleType>
      </xsd:attribute>
      <xsd:attribute name="schemeAgencyID">
       <xsd:simpleType>
        <xsd:restriction base="xsd:token">
         <xsd:maxLength value="60"/>
         <xsd:minLength value="1"/>
        </xsd:restriction>
       </xsd:simpleType>
      </xsd:attribute>
     </xsd:extension>
    </xsd:simpleContent>
   </xsd:complexType>
   <xsd:simpleType name="UUID.Content">
    <xsd:restriction base="xsd:token">
     <xsd:length value="36"/>
     <xsd:pattern value="[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}"/>
    </xsd:restriction>
   </xsd:simpleType>
  </xsd:schema>
 </wsdl:types>
 <wsdl:message name="PlantMasterDataReplicationBundleRequest">
  <wsdl:part name="PlantMasterDataReplicationBundleRequest" element="tns:PlantMasterDataReplicationBundleRequest"/>
 </wsdl:message>
 <wsdl:portType name="PlantMasterDataReplicationBundleRequest_Out">
  <wsdl:documentation>
   <sapdoc:sapdoc xmlns:sapdoc="urn:sap:esi:documentation">
    <sapdoc:docitem applicationComponent="BNS-INT-MDR"/>
   </sapdoc:sapdoc>
  </wsdl:documentation>
  <wsp:Policy>
   <wsp:PolicyReference URI="#IF_IF_PlantMasterDataReplicationBundleRequest_Out"/>
  </wsp:Policy>
  <wsdl:operation name="PlantMasterDataReplicationBundleRequest_Out">
   <wsp:Policy>
    <wsp:PolicyReference URI="#OP_IF_OP_PlantMasterDataReplicationBundleRequest_Out"/>
   </wsp:Policy>
   <wsdl:input message="tns:PlantMasterDataReplicationBundleRequest"/>
  </wsdl:operation>
 </wsdl:portType>
</wsdl:definitions>
