Resources/schemas/Wsdl/SAP_Document_and_Reporting_Compliance-_Electronic_Documents_for_Chile - ChileSyncWSDLFile-3.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.example.org/ChileSyncWSDLFile/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ChileSyncWSDLFile" targetNamespace="http://www.example.org/ChileSyncWSDLFile/" xmlns:xsd1="http://www.sii.cl/SiiDte">
  <wsdl:types>
    <xsd:schema targetNamespace="http://www.example.org/ChileSyncWSDLFile/" xmlns:Q1="http://www.sii.cl/SiiDte">
            <xsd:import schemaLocation="EnvioBOLETA_v11.xsd" namespace="http://www.sii.cl/SiiDte"></xsd:import>
            <xsd:element name="Submit" type="tns:SubmitSyncBoleta">

            </xsd:element>
            <xsd:element name="SubmitResponse"
            	type="tns:SubmitResponseType">

            </xsd:element>

    
            <xsd:complexType name="SubmitResponseType">
            	<xsd:sequence>
            		<xsd:element name="ResponseDTE" type="xsd:string" maxOccurs="1" minOccurs="0"></xsd:element>
            		<xsd:element name="SignDTE" type="xsd:string" maxOccurs="1" minOccurs="0"></xsd:element>
            	</xsd:sequence>
            </xsd:complexType>
    
            <xsd:complexType name="SubmitSyncBoleta">
            	<xsd:sequence>
            		<xsd:element ref="Q1:EnvioBOLETA"></xsd:element>
            	</xsd:sequence>
            </xsd:complexType>
    </xsd:schema>
    <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    	<xsd:import namespace="http://www.sii.cl/SiiDte"
    		schemaLocation="EnvioBOLETA_v11.xsd">
    	</xsd:import></xsd:schema></wsdl:types>
  <wsdl:message name="SubmitRequest">
    <wsdl:part element="tns:Submit" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="SubmitResponse">
    <wsdl:part element="tns:SubmitResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:portType name="ChileSyncWSDLFile">
    <wsdl:operation name="Submit">
      <wsdl:input message="tns:SubmitRequest" name="Submit"/>
      <wsdl:output message="tns:SubmitResponse"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ChileSyncWSDLFileSOAP" type="tns:ChileSyncWSDLFile">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="Submit">
      <soap:operation soapAction="http://www.example.org/ChileSyncWSDLFile/Submit"/>
      <wsdl:input >
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="eDocChileSyncBoleta">
    <wsdl:port binding="tns:ChileSyncWSDLFileSOAP" name="eDocChileSyncBoletaSOAP">
      <soap:address location="http://www.example.org/"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
