Resources/schemas/Wsdl/SAP_SuccessFactors_Recruiting_Management_Integration_with_Third_Party_Assessment_Vendor-SHL - SHL_AssessmentOrderRequest.wsdl

<?xml version="1.0" encoding="UTF-8"?>
   <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
         <xs:element name="Envelope">
               <xs:complexType>
                     <xs:sequence>
                           <xs:element name="Header">
                                 <xs:complexType>
                                       <xs:sequence>
                                             <xs:element name="AuthHeader">
                                                   <xs:complexType>
                                                         <xs:sequence>
                                                               <xs:element name="ClientId" type="xs:int"></xs:element>
                                                               <xs:element name="Password" type="xs:string"></xs:element>
                                                         </xs:sequence>

                                                   </xs:complexType>
                                             </xs:element>
                                       </xs:sequence>
                                 </xs:complexType>
                           </xs:element>
                           <xs:element name="Body">
                                 <xs:complexType>
                                       <xs:sequence>
                                             <xs:element name="AssessmentOrderRequest">
                                                   <xs:complexType>
                                                         <xs:sequence>
                                                               <xs:element name="ClientId">
                                                                     <xs:complexType>
                                                                           <xs:sequence>
                                                                                 <xs:element name="IdValue" type="xs:int"></xs:element>
                                                                           </xs:sequence>
                                                                     </xs:complexType>
                                                               </xs:element>
                                                               <xs:element name="PackageId">
                                                                     <xs:complexType>
                                                                           <xs:sequence>
                                                                                 <xs:element name="IdValue" maxOccurs="unbounded" type="xs:string"></xs:element>
                                                                           </xs:sequence>
                                                                     </xs:complexType>
                                                               </xs:element>
                                                               <xs:element name="ComparisonGroupId">
                                                                     <xs:complexType>
                                                                           <xs:sequence>
                                                                                 <xs:element name="IdValue" type="xs:string"></xs:element>
                                                                           </xs:sequence>
                                                                     </xs:complexType>
                                                               </xs:element>
                                                               <xs:element name="ClientOrderId">
                                                                     <xs:complexType>
                                                                           <xs:sequence>
                                                                                 <xs:element name="IdValue" type="xs:int"></xs:element>
                                                                           </xs:sequence>
                                                                     </xs:complexType>
                                                               </xs:element>
                                                               <xs:element name="AssessmentRequester" type="xs:string"></xs:element>
                                                               <xs:element name="AssessmentSubject">
                                                                     <xs:complexType>
                                                                           <xs:sequence>
                                                                                 <xs:element name="SubjectId">
                                                                                       <xs:complexType>
                                                                                             <xs:sequence>
                                                                                                   <xs:element name="IdValue">
                                                                                                         <xs:complexType>
                                                                                                               <xs:attribute name="name" type="xs:string"></xs:attribute>
                                                                                                         </xs:complexType>
                                                                                                   </xs:element>
                                                                                             </xs:sequence>
                                                                                       </xs:complexType>
                                                                                 </xs:element>
                                                                                 <xs:element name="PersonName">
                                                                                       <xs:complexType>
                                                                                             <xs:sequence>
                                                                                                   <xs:element name="GivenName" type="xs:string"></xs:element>
                                                                                                   <xs:element name="FamilyName" type="xs:string"></xs:element>
                                                                                             </xs:sequence>
                                                                                       </xs:complexType>
                                                                                 </xs:element>
                                                                                 <xs:element name="ContactMethod">
                                                                                       <xs:complexType>
                                                                                             <xs:sequence>
                                                                                                   <xs:element name="InternetEmailAddress" type="xs:string"></xs:element>
                                                                                             </xs:sequence>
                                                                                       </xs:complexType>
                                                                                 </xs:element>
                                                                           </xs:sequence>
                                                                     </xs:complexType>
                                                               </xs:element>
                                                               <xs:element name="AssessmentLanguage" type="xs:string"></xs:element>
                                                               <xs:element name="UserArea">
                                                                     <xs:complexType>
                                                                           <xs:sequence>
                                                                                 <xs:element name="CompletionSteps">
                                                                                       <xs:complexType>
                                                                                             <xs:sequence>
                                                                                                   <xs:element name="PassCompletionStep">
                                                                                                         <xs:complexType>
                                                                                                               <xs:sequence>
                                                                                                                     <xs:element name="InternetBrowserForward">
                                                                                                                           <xs:complexType>
                                                                                                                                 <xs:sequence>
                                                                                                                                       <xs:element name="ForwardUrl" type="xs:string"></xs:element>
                                                                                                                                 </xs:sequence>
                                                                                                                           </xs:complexType>
                                                                                                                     </xs:element>
                                                                                                               </xs:sequence>
                                                                                                         </xs:complexType>
                                                                                                   </xs:element>
                                                                                                   <xs:element name="FailCompletionStep">
                                                                                                         <xs:complexType>
                                                                                                               <xs:sequence>
                                                                                                                     <xs:element name="InternetBrowserForward">
                                                                                                                           <xs:complexType>
                                                                                                                                 <xs:sequence>
                                                                                                                                       <xs:element name="ForwardUrl" type="xs:string"></xs:element>
                                                                                                                                 </xs:sequence>
                                                                                                                           </xs:complexType>
                                                                                                                     </xs:element>
                                                                                                               </xs:sequence>
                                                                                                         </xs:complexType>
                                                                                                   </xs:element>
                                                                                             </xs:sequence>
                                                                                       </xs:complexType>
                                                                                 </xs:element>
                                                                           </xs:sequence>
                                                                     </xs:complexType>
                                                               </xs:element>
                                                         </xs:sequence>
 
                                                   </xs:complexType>
                                             </xs:element>
                                       </xs:sequence>

                                 </xs:complexType>
                           </xs:element>
                     </xs:sequence>

               </xs:complexType>
         </xs:element>
   </xs:schema>