Resources/schemas/Wsdl/SAP_Service_Cloud_V2_for_Utilities_Premise_Integration_with_SAP_S-4HANA - DOC_WEBI_ISU_C4C_V2_BPEM.WSDL

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions targetNamespace="urn:sap-com:document:sap:soap:functions:mc-style" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsoap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="urn:sap-com:document:sap:soap:functions:mc-style" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:n1="urn:sap-com:document:sap:rfc:functions">
 <wsdl:documentation>
  <sidl:sidl xmlns:sidl="http://www.sap.com/2007/03/sidl"/>
 </wsdl:documentation>
 <wsp:UsingPolicy wsdl:required="true"/>
 <wsp:Policy wsu:Id="IF_IF_ISU_C4C_V2_BPEM">
  <sapsession:Session xmlns:sapsession="http://www.sap.com/webas/630/soap/features/session/">
   <sapsession:enableSession>false</sapsession:enableSession>
  </sapsession:Session>
 </wsp:Policy>
 <wsp:Policy wsu:Id="OP_IF_OP_IsuC4cV2BpemAddNotes">
  <sapblock:enableBlocking xmlns:sapblock="http://www.sap.com/NW05/soap/features/blocking/">true</sapblock:enableBlocking>
  <sapcomhnd:enableCommit xmlns:sapcomhnd="http://www.sap.com/NW05/soap/features/commit/">false</sapcomhnd:enableCommit>
  <saptrhnw05:required xmlns:saptrhnw05="http://www.sap.com/NW05/soap/features/transaction/">no</saptrhnw05:required>
  <saprmnw05:enableWSRM xmlns:saprmnw05="http://www.sap.com/NW05/soap/features/wsrm/">false</saprmnw05:enableWSRM>
 </wsp:Policy>
 <wsp:Policy wsu:Id="OP_IF_OP_IsuC4cV2BpemGet">
  <sapblock:enableBlocking xmlns:sapblock="http://www.sap.com/NW05/soap/features/blocking/">true</sapblock:enableBlocking>
  <sapcomhnd:enableCommit xmlns:sapcomhnd="http://www.sap.com/NW05/soap/features/commit/">false</sapcomhnd:enableCommit>
  <saptrhnw05:required xmlns:saptrhnw05="http://www.sap.com/NW05/soap/features/transaction/">no</saptrhnw05:required>
  <saprmnw05:enableWSRM xmlns:saprmnw05="http://www.sap.com/NW05/soap/features/wsrm/">false</saprmnw05:enableWSRM>
 </wsp:Policy>
 <wsdl:types>
  <xsd:schema attributeFormDefault="qualified" targetNamespace="urn:sap-com:document:sap:rfc:functions" xmlns:tns="urn:sap-com:document:sap:rfc:functions">
   <xsd:simpleType name="char1">
    <xsd:restriction base="xsd:string">
     <xsd:maxLength value="1"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="char10">
    <xsd:restriction base="xsd:string">
     <xsd:maxLength value="10"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="char1000">
    <xsd:restriction base="xsd:string">
     <xsd:maxLength value="1000"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="char12">
    <xsd:restriction base="xsd:string">
     <xsd:maxLength value="12"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="char132">
    <xsd:restriction base="xsd:string">
     <xsd:maxLength value="132"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="char2">
    <xsd:restriction base="xsd:string">
     <xsd:maxLength value="2"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="char20">
    <xsd:restriction base="xsd:string">
     <xsd:maxLength value="20"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="char220">
    <xsd:restriction base="xsd:string">
     <xsd:maxLength value="220"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="char30">
    <xsd:restriction base="xsd:string">
     <xsd:maxLength value="30"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="char32">
    <xsd:restriction base="xsd:string">
     <xsd:maxLength value="32"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="char50">
    <xsd:restriction base="xsd:string">
     <xsd:maxLength value="50"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="char60">
    <xsd:restriction base="xsd:string">
     <xsd:maxLength value="60"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="char80">
    <xsd:restriction base="xsd:string">
     <xsd:maxLength value="80"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="numeric1">
    <xsd:restriction base="xsd:string">
     <xsd:maxLength value="1"/>
     <xsd:pattern value="\d*"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="numeric3">
    <xsd:restriction base="xsd:string">
     <xsd:maxLength value="3"/>
     <xsd:pattern value="\d*"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="numeric6">
    <xsd:restriction base="xsd:string">
     <xsd:maxLength value="6"/>
     <xsd:pattern value="\d*"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="string">
    <xsd:restriction base="xsd:string"/>
   </xsd:simpleType>
   <xsd:simpleType name="time">
    <xsd:restriction base="xsd:time">
     <xsd:pattern value="[0-9]{2}:[0-9]{2}:[0-9]{2}"/>
    </xsd:restriction>
   </xsd:simpleType>
  </xsd:schema>
  <xsd:schema attributeFormDefault="qualified" targetNamespace="urn:sap-com:document:sap:soap:functions:mc-style" xmlns:n0="urn:sap-com:document:sap:rfc:functions">
   <xsd:import namespace="urn:sap-com:document:sap:rfc:functions"/>
   <xsd:complexType name="IsuC4cV2SDateRange">
    <xsd:sequence>
     <xsd:element name="Sign" type="n0:char1" minOccurs="0"/>
     <xsd:element name="Option" type="n0:char2" minOccurs="0"/>
     <xsd:element name="DateFrom" type="n0:char10" minOccurs="0"/>
     <xsd:element name="DateTo" type="n0:char10" minOccurs="0"/>
    </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="IsuC4cV2SFilter">
    <xsd:sequence>
     <xsd:element name="FieldName" type="n0:char30" minOccurs="0"/>
     <xsd:element name="FieldValue" type="n0:char1000" minOccurs="0"/>
     <xsd:element name="Sign" type="n0:char1" minOccurs="0"/>
     <xsd:element name="Option" type="n0:char2" minOccurs="0"/>
     <xsd:element name="Low" type="n0:char132" minOccurs="0"/>
     <xsd:element name="High" type="n0:char132" minOccurs="0"/>
    </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="EmmaCprioTxt">
    <xsd:sequence>
     <xsd:element name="Prio" type="n0:char1" minOccurs="0"/>
     <xsd:element name="Txt" type="n0:char60" minOccurs="0"/>
    </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="IsuC4cV2SEmmaCase">
    <xsd:sequence>
     <xsd:element name="ExceptionId" type="n0:char10" minOccurs="0"/>
     <xsd:element name="Description" type="n0:char60" minOccurs="0"/>
     <xsd:element name="ProcessingStatus" type="n0:numeric1" minOccurs="0"/>
     <xsd:element name="Priority" type="n0:char1" minOccurs="0"/>
     <xsd:element name="DueDate" type="n0:char10" minOccurs="0"/>
     <xsd:element name="Category" type="n0:char60" minOccurs="0"/>
     <xsd:element name="ProcessorName" type="n0:char80" minOccurs="0"/>
     <xsd:element name="ProcessorId" type="n0:char12" minOccurs="0"/>
     <xsd:element name="Notes" type="tns:IsuC4cV2TBpemNotes" minOccurs="0"/>
     <xsd:element name="ChangedOn" type="n0:char10" minOccurs="0"/>
     <xsd:element name="ChangedBy" type="n0:char12" minOccurs="0"/>
     <xsd:element name="CustomerExtId" type="n0:char10" minOccurs="0"/>
     <xsd:element name="CustomerName" type="n0:char80" minOccurs="0"/>
     <xsd:element name="PremiseExtId" type="n0:char10" minOccurs="0"/>
     <xsd:element name="ContractAccountExtId" type="n0:char12" minOccurs="0"/>
     <xsd:element name="OrigDate" type="n0:char10" minOccurs="0"/>
     <xsd:element name="OrigTime" type="n0:time" minOccurs="0"/>
    </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="IsuC4cV2SBpemNotes">
    <xsd:sequence>
     <xsd:element name="DateAndTime" type="n0:string" minOccurs="0"/>
     <xsd:element name="CreatedBy" type="n0:string" minOccurs="0"/>
     <xsd:element name="Notes" type="n0:string" minOccurs="0"/>
    </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="Bapiret2">
    <xsd:sequence>
     <xsd:element name="Type" type="n0:char1" minOccurs="0"/>
     <xsd:element name="Id" type="n0:char20" minOccurs="0"/>
     <xsd:element name="Number" type="n0:numeric3" minOccurs="0"/>
     <xsd:element name="Message" type="n0:char220" minOccurs="0"/>
     <xsd:element name="LogNo" type="n0:char20" minOccurs="0"/>
     <xsd:element name="LogMsgNo" type="n0:numeric6" minOccurs="0"/>
     <xsd:element name="MessageV1" type="n0:char50" minOccurs="0"/>
     <xsd:element name="MessageV2" type="n0:char50" minOccurs="0"/>
     <xsd:element name="MessageV3" type="n0:char50" minOccurs="0"/>
     <xsd:element name="MessageV4" type="n0:char50" minOccurs="0"/>
     <xsd:element name="Parameter" type="n0:char32" minOccurs="0"/>
     <xsd:element name="Row" type="xsd:int" minOccurs="0"/>
     <xsd:element name="Field" type="n0:char30" minOccurs="0"/>
     <xsd:element name="System" type="n0:char10" minOccurs="0"/>
    </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="IsuC4cV2TDateRange">
    <xsd:sequence>
     <xsd:element name="item" type="tns:IsuC4cV2SDateRange" minOccurs="0" maxOccurs="unbounded"/>
    </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="IsuPremiseT">
    <xsd:sequence>
     <xsd:element name="item" type="n0:char10" minOccurs="0" maxOccurs="unbounded"/>
    </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="IsuC4cV2TFilter">
    <xsd:sequence>
     <xsd:element name="item" type="tns:IsuC4cV2SFilter" minOccurs="0" maxOccurs="unbounded"/>
    </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="Tvkont">
    <xsd:sequence>
     <xsd:element name="item" type="n0:char12" minOccurs="0" maxOccurs="unbounded"/>
    </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="EmmaCprioTxtT">
    <xsd:sequence>
     <xsd:element name="item" type="tns:EmmaCprioTxt" minOccurs="0" maxOccurs="unbounded"/>
    </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="EmmaCstatusT">
    <xsd:sequence>
     <xsd:element name="item" type="n0:numeric1" minOccurs="0" maxOccurs="unbounded"/>
    </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="IsuC4cV2TEmmaCase">
    <xsd:sequence>
     <xsd:element name="item" type="tns:IsuC4cV2SEmmaCase" minOccurs="0" maxOccurs="unbounded"/>
    </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="IsuC4cV2TBpemNotes">
    <xsd:sequence>
     <xsd:element name="item" type="tns:IsuC4cV2SBpemNotes" minOccurs="0" maxOccurs="unbounded"/>
    </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="Bapirettab">
    <xsd:sequence>
     <xsd:element name="item" type="tns:Bapiret2" minOccurs="0" maxOccurs="unbounded"/>
    </xsd:sequence>
   </xsd:complexType>
   <xsd:element name="IsuC4cV2BpemGet">
    <xsd:complexType>
     <xsd:sequence>
      <xsd:element name="ItAdditionalFilter" type="tns:IsuC4cV2TFilter" minOccurs="0"/>
      <xsd:element name="ItContractAccount" type="tns:Tvkont" minOccurs="0"/>
      <xsd:element name="ItDueDate" type="tns:IsuC4cV2TDateRange" minOccurs="0"/>
      <xsd:element name="ItPremise" type="tns:IsuPremiseT" minOccurs="0"/>
      <xsd:element name="ItPriority" type="tns:EmmaCprioTxtT" minOccurs="0"/>
      <xsd:element name="ItProcessingStatus" type="tns:EmmaCstatusT" minOccurs="0"/>
      <xsd:element name="IvSearchValue" type="n0:char60" minOccurs="0"/>
      <xsd:element name="IvSkip" type="xsd:int" minOccurs="0"/>
      <xsd:element name="IvTop" type="xsd:int" minOccurs="0"/>
     </xsd:sequence>
    </xsd:complexType>
   </xsd:element>
   <xsd:element name="IsuC4cV2BpemGetResponse">
    <xsd:complexType>
     <xsd:sequence>
      <xsd:element name="EsCaseInformation" type="tns:IsuC4cV2TEmmaCase" minOccurs="0"/>
      <xsd:element name="EtMessages" type="tns:Bapirettab" minOccurs="0"/>
      <xsd:element name="EvTotalRecords" type="xsd:int" minOccurs="0"/>
     </xsd:sequence>
    </xsd:complexType>
   </xsd:element>
   <xsd:element name="IsuC4cV2BpemAddNotes">
    <xsd:complexType>
     <xsd:sequence>
      <xsd:element name="IvAddNotes" type="n0:string" minOccurs="0"/>
      <xsd:element name="IvCase" type="n0:char10" minOccurs="0"/>
     </xsd:sequence>
    </xsd:complexType>
   </xsd:element>
   <xsd:element name="IsuC4cV2BpemAddNotesResponse">
    <xsd:complexType>
     <xsd:sequence>
      <xsd:element name="EtMessages" type="tns:Bapirettab" minOccurs="0"/>
     </xsd:sequence>
    </xsd:complexType>
   </xsd:element>
  </xsd:schema>
 </wsdl:types>
 <wsdl:message name="IsuC4cV2BpemGet">
  <wsdl:part name="parameters" element="tns:IsuC4cV2BpemGet"/>
 </wsdl:message>
 <wsdl:message name="IsuC4cV2BpemGetResponse">
  <wsdl:part name="parameter" element="tns:IsuC4cV2BpemGetResponse"/>
 </wsdl:message>
 <wsdl:message name="IsuC4cV2BpemAddNotes">
  <wsdl:part name="parameters" element="tns:IsuC4cV2BpemAddNotes"/>
 </wsdl:message>
 <wsdl:message name="IsuC4cV2BpemAddNotesResponse">
  <wsdl:part name="parameter" element="tns:IsuC4cV2BpemAddNotesResponse"/>
 </wsdl:message>
 <wsdl:portType name="ISU_C4C_V2_BPEM">
  <wsdl:documentation>
   <sapdoc:sapdoc xmlns:sapdoc="urn:sap:esi:documentation">
    <sapdoc:docitem docURL="http://ldciemt.wdf.sap.corp:50022/sap/bc/esdt/docu/sd_text?sap-client=350&amp;sd_name=ISU_C4C_V2_BPEM"/>
    <sapdoc:docitem applicationComponent="IS-U-CS-C4C"/>
   </sapdoc:sapdoc>
  </wsdl:documentation>
  <wsp:Policy>
   <wsp:PolicyReference URI="#IF_IF_ISU_C4C_V2_BPEM"/>
  </wsp:Policy>
  <wsdl:operation name="IsuC4cV2BpemGet">
   <wsp:Policy>
    <wsp:PolicyReference URI="#OP_IF_OP_IsuC4cV2BpemGet"/>
   </wsp:Policy>
   <wsdl:input message="tns:IsuC4cV2BpemGet"/>
   <wsdl:output message="tns:IsuC4cV2BpemGetResponse"/>
  </wsdl:operation>
  <wsdl:operation name="IsuC4cV2BpemAddNotes">
   <wsp:Policy>
    <wsp:PolicyReference URI="#OP_IF_OP_IsuC4cV2BpemAddNotes"/>
   </wsp:Policy>
   <wsdl:input message="tns:IsuC4cV2BpemAddNotes"/>
   <wsdl:output message="tns:IsuC4cV2BpemAddNotesResponse"/>
  </wsdl:operation>
 </wsdl:portType>
</wsdl:definitions>
