Resources/schemas/Wsdl/SAP_ERP_Integration_with_SAP_Build_Process_Automation - SLS_LORD_GET_VALUES_WERKS.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="SLS_LORD_GET_VALUES_WERKS" targetNamespace="urn:sap-com:document:sap:rfc:functions" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
	<wsdl:types>
		<xsd:schema targetNamespace="urn:sap-com:document:sap:rfc:functions" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="urn:sap-com:document:sap:rfc:functions">
			<xsd:element name="SLS_LORD_GET_VALUES_WERKS.Response">
				<xsd:complexType>
					<xsd:all>
						<xsd:element name="ET_HELPVALUE" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>Business Server Pages (BSP) Value List Search Help</xsd:documentation>
							</xsd:annotation>
							<xsd:complexType>
								<xsd:sequence>
									<xsd:element name="item" type="SHSVALSTR" minOccurs="0" maxOccurs="unbounded"/>
								</xsd:sequence>
							</xsd:complexType>
						</xsd:element>
					</xsd:all>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="SLS_LORD_GET_VALUES_WERKS">
				<xsd:complexType>
					<xsd:all>
						<xsd:element name="IV_MATNR" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>Material Number</xsd:documentation>
							</xsd:annotation>
							<xsd:simpleType>
								<xsd:restriction base="xsd:string">
									<xsd:maxLength value="18"/>
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:element>
						<xsd:element name="IV_MATNR_LONG" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>Material Number</xsd:documentation>
							</xsd:annotation>
							<xsd:simpleType>
								<xsd:restriction base="xsd:string">
									<xsd:maxLength value="40"/>
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:element>
						<xsd:element name="IV_SPART" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>Division</xsd:documentation>
							</xsd:annotation>
							<xsd:simpleType>
								<xsd:restriction base="xsd:string">
									<xsd:maxLength value="2"/>
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:element>
						<xsd:element name="IV_VKORG" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>Sales Organization</xsd:documentation>
							</xsd:annotation>
							<xsd:simpleType>
								<xsd:restriction base="xsd:string">
									<xsd:maxLength value="4"/>
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:element>
						<xsd:element name="IV_VTWEG" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>Distribution Channel</xsd:documentation>
							</xsd:annotation>
							<xsd:simpleType>
								<xsd:restriction base="xsd:string">
									<xsd:maxLength value="2"/>
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:element>
					</xsd:all>
				</xsd:complexType>
			</xsd:element>
			<xsd:complexType name="SHSVALSTR">
				<xsd:annotation>
					<xsd:documentation>Business Server Pages (BSP)  Combined Value</xsd:documentation>
				</xsd:annotation>
				<xsd:sequence>
					<xsd:element name="KEY" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Field contents, min./max. value</xsd:documentation>
						</xsd:annotation>
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="132"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="VALUE" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Field contents, min./max. value</xsd:documentation>
						</xsd:annotation>
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="132"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
				</xsd:sequence>
			</xsd:complexType>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="SLS_LORD_GET_VALUES_WERKS.Output">
		<wsdl:part name="parameters" element="rfc:SLS_LORD_GET_VALUES_WERKS.Response" xmlns:rfc="urn:sap-com:document:sap:rfc:functions"/>
	</wsdl:message>
	<wsdl:message name="SLS_LORD_GET_VALUES_WERKS.Input">
		<wsdl:part name="parameters" element="rfc:SLS_LORD_GET_VALUES_WERKS" xmlns:rfc="urn:sap-com:document:sap:rfc:functions"/>
	</wsdl:message>
	<wsdl:portType name="SLS_LORD_GET_VALUES_WERKS.PortType">
		<wsdl:operation name="SLS_LORD_GET_VALUES_WERKS">
			<wsdl:input message="rfc:SLS_LORD_GET_VALUES_WERKS.Input" xmlns:rfc="urn:sap-com:document:sap:rfc:functions"/>
			<wsdl:output message="rfc:SLS_LORD_GET_VALUES_WERKS.Output" xmlns:rfc="urn:sap-com:document:sap:rfc:functions"/>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="SLS_LORD_GET_VALUES_WERKS.PortTypeBinding" type="rfc:SLS_LORD_GET_VALUES_WERKS.PortType" xmlns:rfc="urn:sap-com:document:sap:rfc:functions">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"/>
		<wsdl:operation name="SLS_LORD_GET_VALUES_WERKS">
			<soap:operation soapAction="http://sap.com/xi/WebService/soap1.1" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"/>
			<wsdl:input>
				<soap:body use="literal" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
</wsdl:definitions>