Resources/schemas/Wsdl/SAP_Cloud_for_Customer_for_Utilities_Solution_-_Integration_with_SAP_S-4HANA - Utilities_PremiseTI_In.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions targetNamespace="urn:sap-com:document:sap:soap:functions:mc-style" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsoap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="urn:sap-com:document:sap:soap:functions:mc-style" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:n1="urn:sap-com:document:sap:rfc:functions">
 <wsdl:documentation>
  <sidl:sidl xmlns:sidl="http://www.sap.com/2007/03/sidl"/>
 </wsdl:documentation>
 <wsp:UsingPolicy wsdl:required="true"/>
 <wsp:Policy wsu:Id="IF_IF_ISU_C4C_PREMISE_TI">
  <sapsession:Session xmlns:sapsession="http://www.sap.com/webas/630/soap/features/session/">
   <sapsession:enableSession>false</sapsession:enableSession>
  </sapsession:Session>
 </wsp:Policy>
 <wsp:Policy wsu:Id="OP_IF_OP_IsuC4cPremiseTi">
  <sapblock:enableBlocking xmlns:sapblock="http://www.sap.com/NW05/soap/features/blocking/">true</sapblock:enableBlocking>
  <sapcomhnd:enableCommit xmlns:sapcomhnd="http://www.sap.com/NW05/soap/features/commit/">false</sapcomhnd:enableCommit>
  <saptrhnw05:required xmlns:saptrhnw05="http://www.sap.com/NW05/soap/features/transaction/">no</saptrhnw05:required>
  <saprmnw05:enableWSRM xmlns:saprmnw05="http://www.sap.com/NW05/soap/features/wsrm/">false</saprmnw05:enableWSRM>
 </wsp:Policy>
 <wsdl:types>
  <xsd:schema attributeFormDefault="qualified" targetNamespace="urn:sap-com:document:sap:rfc:functions" xmlns:tns="urn:sap-com:document:sap:rfc:functions">
   <xsd:simpleType name="byte16">
    <xsd:restriction base="xsd:base64Binary">
     <xsd:maxLength value="16"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="char1">
    <xsd:restriction base="xsd:string">
     <xsd:maxLength value="1"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="char10">
    <xsd:restriction base="xsd:string">
     <xsd:maxLength value="10"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="char12">
    <xsd:restriction base="xsd:string">
     <xsd:maxLength value="12"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="char15">
    <xsd:restriction base="xsd:string">
     <xsd:maxLength value="15"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="char18">
    <xsd:restriction base="xsd:string">
     <xsd:maxLength value="18"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="char2">
    <xsd:restriction base="xsd:string">
     <xsd:maxLength value="2"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="char20">
    <xsd:restriction base="xsd:string">
     <xsd:maxLength value="20"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="char22">
    <xsd:restriction base="xsd:string">
     <xsd:maxLength value="22"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="char220">
    <xsd:restriction base="xsd:string">
     <xsd:maxLength value="220"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="char25">
    <xsd:restriction base="xsd:string">
     <xsd:maxLength value="25"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="char255">
    <xsd:restriction base="xsd:string">
     <xsd:maxLength value="255"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="char3">
    <xsd:restriction base="xsd:string">
     <xsd:maxLength value="3"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="char30">
    <xsd:restriction base="xsd:string">
     <xsd:maxLength value="30"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="char32">
    <xsd:restriction base="xsd:string">
     <xsd:maxLength value="32"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="char35">
    <xsd:restriction base="xsd:string">
     <xsd:maxLength value="35"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="char36">
    <xsd:restriction base="xsd:string">
     <xsd:maxLength value="36"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="char4">
    <xsd:restriction base="xsd:string">
     <xsd:maxLength value="4"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="char40">
    <xsd:restriction base="xsd:string">
     <xsd:maxLength value="40"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="char5">
    <xsd:restriction base="xsd:string">
     <xsd:maxLength value="5"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="char50">
    <xsd:restriction base="xsd:string">
     <xsd:maxLength value="50"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="char6">
    <xsd:restriction base="xsd:string">
     <xsd:maxLength value="6"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="char60">
    <xsd:restriction base="xsd:string">
     <xsd:maxLength value="60"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="char8">
    <xsd:restriction base="xsd:string">
     <xsd:maxLength value="8"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="char80">
    <xsd:restriction base="xsd:string">
     <xsd:maxLength value="80"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="clnt3">
    <xsd:restriction base="xsd:string">
     <xsd:maxLength value="3"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="cuky5">
    <xsd:restriction base="xsd:string">
     <xsd:maxLength value="5"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="curr13.2">
    <xsd:restriction base="xsd:decimal">
     <xsd:totalDigits value="13"/>
     <xsd:fractionDigits value="2"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="date10">
    <xsd:restriction base="xsd:string">
     <xsd:maxLength value="10"/>
     <xsd:pattern value="\d\d\d\d-\d\d-\d\d"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="decimal15.0">
    <xsd:restriction base="xsd:decimal">
     <xsd:totalDigits value="15"/>
     <xsd:fractionDigits value="0"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="decimal2.0">
    <xsd:restriction base="xsd:decimal">
     <xsd:totalDigits value="2"/>
     <xsd:fractionDigits value="0"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="decimal31.14">
    <xsd:restriction base="xsd:decimal">
     <xsd:totalDigits value="31"/>
     <xsd:fractionDigits value="14"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="decimal5.0">
    <xsd:restriction base="xsd:decimal">
     <xsd:totalDigits value="5"/>
     <xsd:fractionDigits value="0"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="decimal5.2">
    <xsd:restriction base="xsd:decimal">
     <xsd:totalDigits value="5"/>
     <xsd:fractionDigits value="2"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="lang">
    <xsd:restriction base="xsd:string">
     <xsd:maxLength value="1"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="numeric1">
    <xsd:restriction base="xsd:string">
     <xsd:maxLength value="1"/>
     <xsd:pattern value="\d*"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="numeric18">
    <xsd:restriction base="xsd:string">
     <xsd:maxLength value="18"/>
     <xsd:pattern value="\d*"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="numeric2">
    <xsd:restriction base="xsd:string">
     <xsd:maxLength value="2"/>
     <xsd:pattern value="\d*"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="numeric3">
    <xsd:restriction base="xsd:string">
     <xsd:maxLength value="3"/>
     <xsd:pattern value="\d*"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="numeric5">
    <xsd:restriction base="xsd:string">
     <xsd:maxLength value="5"/>
     <xsd:pattern value="\d*"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="numeric6">
    <xsd:restriction base="xsd:string">
     <xsd:maxLength value="6"/>
     <xsd:pattern value="\d*"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="numeric7">
    <xsd:restriction base="xsd:string">
     <xsd:maxLength value="7"/>
     <xsd:pattern value="\d*"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="numeric8">
    <xsd:restriction base="xsd:string">
     <xsd:maxLength value="8"/>
     <xsd:pattern value="\d*"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="time">
    <xsd:restriction base="xsd:time">
     <xsd:pattern value="[0-9]{2}:[0-9]{2}:[0-9]{2}"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="unit3">
    <xsd:restriction base="xsd:string">
     <xsd:maxLength value="3"/>
    </xsd:restriction>
   </xsd:simpleType>
  </xsd:schema>
  <xsd:schema attributeFormDefault="qualified" targetNamespace="urn:sap-com:document:sap:soap:functions:mc-style" xmlns:n0="urn:sap-com:document:sap:rfc:functions">
   <xsd:import namespace="urn:sap-com:document:sap:rfc:functions"/>
   <xsd:complexType name="Bapiret2">
    <xsd:sequence>
     <xsd:element name="Type" type="n0:char1" minOccurs="0"/>
     <xsd:element name="Id" type="n0:char20" minOccurs="0"/>
     <xsd:element name="Number" type="n0:numeric3" minOccurs="0"/>
     <xsd:element name="Message" type="n0:char220" minOccurs="0"/>
     <xsd:element name="LogNo" type="n0:char20" minOccurs="0"/>
     <xsd:element name="LogMsgNo" type="n0:numeric6" minOccurs="0"/>
     <xsd:element name="MessageV1" type="n0:char50" minOccurs="0"/>
     <xsd:element name="MessageV2" type="n0:char50" minOccurs="0"/>
     <xsd:element name="MessageV3" type="n0:char50" minOccurs="0"/>
     <xsd:element name="MessageV4" type="n0:char50" minOccurs="0"/>
     <xsd:element name="Parameter" type="n0:char32" minOccurs="0"/>
     <xsd:element name="Row" type="xsd:int" minOccurs="0"/>
     <xsd:element name="Field" type="n0:char30" minOccurs="0"/>
     <xsd:element name="System" type="n0:char10" minOccurs="0"/>
    </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="IsuC4cUtilExtensionS">
    <xsd:sequence>
     <xsd:element name="RefObject" type="n0:char30" minOccurs="0"/>
     <xsd:element name="RefFieldName" type="n0:char30" minOccurs="0"/>
     <xsd:element name="RefFieldValue" type="n0:char255" minOccurs="0"/>
     <xsd:element name="ExtensionData" type="tns:IsuC4cUtilExtensionResT" minOccurs="0"/>
    </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="IsuC4cUtilExtensionResS">
    <xsd:sequence>
     <xsd:element name="FieldName" type="n0:char30" minOccurs="0"/>
     <xsd:element name="FieldValue" type="n0:char255" minOccurs="0"/>
    </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="CodUtilitiesSCustomerHist">
    <xsd:sequence>
     <xsd:element name="But000" type="tns:But000" minOccurs="0"/>
     <xsd:element name="Fkkvkp" type="tns:CodUtilSFkkvkp" minOccurs="0"/>
     <xsd:element name="Ever" type="tns:Ever" minOccurs="0"/>
     <xsd:element name="Evbs" type="tns:Evbs" minOccurs="0"/>
     <xsd:element name="Eanl" type="tns:Eanl" minOccurs="0"/>
     <xsd:element name="Euihead" type="tns:Euihead" minOccurs="0"/>
     <xsd:element name="Euitrans" type="tns:Euitrans" minOccurs="0"/>
     <xsd:element name="MoveInDoc" type="tns:IsuC4cSMoveInDoc" minOccurs="0"/>
     <xsd:element name="MoveOutDoc" type="tns:IsuC4cSMoveOutDoc" minOccurs="0"/>
    </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="IsuC4cSMoveOutDoc">
    <xsd:sequence>
     <xsd:element name="Auszbeleg" type="n0:char12" minOccurs="0"/>
     <xsd:element name="Vertrag" type="n0:char10" minOccurs="0"/>
     <xsd:element name="Anlage" type="n0:char10" minOccurs="0"/>
     <xsd:element name="Vstelle" type="n0:char10" minOccurs="0"/>
     <xsd:element name="Auszdat" type="n0:date10" minOccurs="0"/>
    </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="IsuC4cSMoveInDoc">
    <xsd:sequence>
     <xsd:element name="Einzbeleg" type="n0:char12" minOccurs="0"/>
     <xsd:element name="Vertrag" type="n0:char10" minOccurs="0"/>
     <xsd:element name="Anlage" type="n0:char10" minOccurs="0"/>
     <xsd:element name="Vstelle" type="n0:char10" minOccurs="0"/>
     <xsd:element name="Einzdat" type="n0:date10" minOccurs="0"/>
     <xsd:element name="ContLastBilled" type="n0:char10" minOccurs="0"/>
    </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="Ever">
    <xsd:sequence>
     <xsd:element name="Mandt" type="n0:clnt3" minOccurs="0"/>
     <xsd:element name="Vertrag" type="n0:char10" minOccurs="0"/>
     <xsd:element name="Bukrs" type="n0:char4" minOccurs="0"/>
     <xsd:element name="Sparte" type="n0:char2" minOccurs="0"/>
     <xsd:element name="Eigenverbr" type="n0:char1" minOccurs="0"/>
     <xsd:element name="Kofiz" type="n0:char2" minOccurs="0"/>
     <xsd:element name="Portion" type="n0:char8" minOccurs="0"/>
     <xsd:element name="Abslanfo" type="n0:char1" minOccurs="0"/>
     <xsd:element name="Abszyk" type="n0:char2" minOccurs="0"/>
     <xsd:element name="Absmnanp" type="n0:char1" minOccurs="0"/>
     <xsd:element name="Gemfakt" type="n0:char1" minOccurs="0"/>
     <xsd:element name="Manabr" type="n0:char1" minOccurs="0"/>
     <xsd:element name="Abrsperr" type="n0:char2" minOccurs="0"/>
     <xsd:element name="Abrfreig" type="n0:char2" minOccurs="0"/>
     <xsd:element name="Bstatus" type="n0:char2" minOccurs="0"/>
     <xsd:element name="Kostl" type="n0:char10" minOccurs="0"/>
     <xsd:element name="Vbez" type="n0:char35" minOccurs="0"/>
     <xsd:element name="Vbeginn" type="n0:date10" minOccurs="0"/>
     <xsd:element name="EinzdatAlt" type="n0:date10" minOccurs="0"/>
     <xsd:element name="Vende" type="n0:date10" minOccurs="0"/>
     <xsd:element name="Kuenddat" type="n0:date10" minOccurs="0"/>
     <xsd:element name="Kfrist" type="n0:numeric3" minOccurs="0"/>
     <xsd:element name="Kuenper" type="n0:char1" minOccurs="0"/>
     <xsd:element name="Vbisdat" type="n0:date10" minOccurs="0"/>
     <xsd:element name="Verlaeng" type="n0:numeric3" minOccurs="0"/>
     <xsd:element name="Verper" type="n0:char1" minOccurs="0"/>
     <xsd:element name="Vabschlevu" type="n0:date10" minOccurs="0"/>
     <xsd:element name="Vabschlknd" type="n0:date10" minOccurs="0"/>
     <xsd:element name="Vabschlkndti" type="n0:time" minOccurs="0"/>
     <xsd:element name="Persnr" type="n0:numeric8" minOccurs="0"/>
     <xsd:element name="Vrefer" type="n0:char20" minOccurs="0"/>
     <xsd:element name="Erdat" type="n0:date10" minOccurs="0"/>
     <xsd:element name="Ernam" type="n0:char12" minOccurs="0"/>
     <xsd:element name="Aedat" type="n0:date10" minOccurs="0"/>
     <xsd:element name="Aenam" type="n0:char12" minOccurs="0"/>
     <xsd:element name="Begru" type="n0:char4" minOccurs="0"/>
     <xsd:element name="Loevm" type="n0:char1" minOccurs="0"/>
     <xsd:element name="Txjcd" type="n0:char15" minOccurs="0"/>
     <xsd:element name="Manoutsort" type="n0:char8" minOccurs="0"/>
     <xsd:element name="Fakturiert" type="n0:char1" minOccurs="0"/>
     <xsd:element name="Aufnr" type="n0:char12" minOccurs="0"/>
     <xsd:element name="PsPspPnr" type="n0:numeric8" minOccurs="0"/>
     <xsd:element name="Prctr" type="n0:char10" minOccurs="0"/>
     <xsd:element name="Copakont" type="n0:char1" minOccurs="0"/>
     <xsd:element name="Ausgrup" type="n0:char8" minOccurs="0"/>
     <xsd:element name="Outcount" type="n0:numeric2" minOccurs="0"/>
     <xsd:element name="Pyplt" type="n0:char4" minOccurs="0"/>
     <xsd:element name="Pypls" type="n0:numeric2" minOccurs="0"/>
     <xsd:element name="Gsber" type="n0:char4" minOccurs="0"/>
     <xsd:element name="Segment" type="n0:char10" minOccurs="0"/>
     <xsd:element name="Serviceid" type="n0:char10" minOccurs="0"/>
     <xsd:element name="Srvprvref" type="n0:char30" minOccurs="0"/>
     <xsd:element name="Billmethod" type="n0:char2" minOccurs="0"/>
     <xsd:element name="Stagruver" type="n0:char2" minOccurs="0"/>
     <xsd:element name="Pypla" type="n0:numeric2" minOccurs="0"/>
     <xsd:element name="Billfinit" type="n0:char1" minOccurs="0"/>
     <xsd:element name="BfaDebStat" type="n0:char1" minOccurs="0"/>
     <xsd:element name="BfaCredStat" type="n0:char1" minOccurs="0"/>
     <xsd:element name="Salesemployee" type="n0:numeric8" minOccurs="0"/>
     <xsd:element name="Salespartner" type="n0:char10" minOccurs="0"/>
     <xsd:element name="Salesdocument" type="n0:char10" minOccurs="0"/>
     <xsd:element name="PsStartdat" type="n0:date10" minOccurs="0"/>
     <xsd:element name="ServprovPay" type="n0:char4" minOccurs="0"/>
     <xsd:element name="InvoicingParty" type="n0:char10" minOccurs="0"/>
     <xsd:element name="Cokey" type="n0:char10" minOccurs="0"/>
     <xsd:element name="Bupla" type="n0:char4" minOccurs="0"/>
     <xsd:element name="Contractclass" type="n0:char4" minOccurs="0"/>
     <xsd:element name="Cancreason" type="n0:char2" minOccurs="0"/>
     <xsd:element name="CancreasonNew" type="n0:char4" minOccurs="0"/>
     <xsd:element name="Extrapolwaste" type="n0:char2" minOccurs="0"/>
     <xsd:element name="PpmContract" type="n0:char1" minOccurs="0"/>
     <xsd:element name="OsbGroup" type="n0:char3" minOccurs="0"/>
     <xsd:element name="Oucont" type="n0:char1" minOccurs="0"/>
     <xsd:element name="Rulegr" type="n0:char10" minOccurs="0"/>
     <xsd:element name="Regiogroup" type="n0:char8" minOccurs="0"/>
     <xsd:element name="Cmgrp" type="n0:char2" minOccurs="0"/>
     <xsd:element name="Strat" type="n0:char2" minOccurs="0"/>
     <xsd:element name="Cpers" type="n0:char10" minOccurs="0"/>
     <xsd:element name="Anlage" type="n0:char10" minOccurs="0"/>
     <xsd:element name="Vkonto" type="n0:char12" minOccurs="0"/>
     <xsd:element name="Kzsondeinz" type="n0:char1" minOccurs="0"/>
     <xsd:element name="Kzsondausz" type="n0:char1" minOccurs="0"/>
     <xsd:element name="Auteigeinz" type="n0:char1" minOccurs="0"/>
     <xsd:element name="Einzdat" type="n0:date10" minOccurs="0"/>
     <xsd:element name="Auszdat" type="n0:date10" minOccurs="0"/>
     <xsd:element name="Absstopdat" type="n0:date10" minOccurs="0"/>
     <xsd:element name="Schlfakt" type="n0:char1" minOccurs="0"/>
     <xsd:element name="Mahnv" type="n0:char2" minOccurs="0"/>
     <xsd:element name="Mahnvumz" type="n0:char2" minOccurs="0"/>
     <xsd:element name="Mansp" type="n0:char1" minOccurs="0"/>
     <xsd:element name="Bezug" type="n0:char1" minOccurs="0"/>
     <xsd:element name="Transver" type="n0:char10" minOccurs="0"/>
     <xsd:element name="Sswtcreason" type="n0:char2" minOccurs="0"/>
     <xsd:element name="Xvera" type="n0:char1" minOccurs="0"/>
     <xsd:element name="Cactstartdatetime" type="n0:decimal15.0" minOccurs="0"/>
     <xsd:element name="Cactenddatetime" type="n0:decimal15.0" minOccurs="0"/>
     <xsd:element name="CologrpInst" type="n0:char12" minOccurs="0"/>
     <xsd:element name="Lastportion" type="n0:char8" minOccurs="0"/>
     <xsd:element name="DummyUtilscontrInclEewPs" type="n0:char1" minOccurs="0"/>
     <xsd:element name="_-sapce_-fkruInd" type="n0:char10" minOccurs="0"/>
     <xsd:element name="_-sapce_-fkruMin" type="n0:numeric5" minOccurs="0"/>
     <xsd:element name="_-sapce_-fkruCot" type="n0:numeric2" minOccurs="0"/>
     <xsd:element name="_-sapce_-iuruRao" type="n0:char5" minOccurs="0"/>
     <xsd:element name="_-sapce_-bbwk" type="n0:char8" minOccurs="0"/>
     <xsd:element name="_-sapce_-fix" type="n0:char1" minOccurs="0"/>
     <xsd:element name="_-sapce_-waers" type="n0:cuky5" minOccurs="0"/>
     <xsd:element name="_-sapce_-trapbp" type="n0:curr13.2" minOccurs="0"/>
     <xsd:element name="_-sapce_-limamt" type="n0:curr13.2" minOccurs="0"/>
     <xsd:element name="_-sapce_-dueday" type="n0:numeric2" minOccurs="0"/>
     <xsd:element name="_-sapce_-dueday1" type="n0:numeric2" minOccurs="0"/>
     <xsd:element name="_-sapce_-perc1" type="n0:decimal5.2" minOccurs="0"/>
     <xsd:element name="_-sapce_-dueday2" type="n0:numeric2" minOccurs="0"/>
     <xsd:element name="_-sapce_-perc2" type="n0:decimal5.2" minOccurs="0"/>
     <xsd:element name="_-sapce_-dueday3" type="n0:numeric2" minOccurs="0"/>
     <xsd:element name="_-sapce_-perc3" type="n0:decimal5.2" minOccurs="0"/>
     <xsd:element name="_-sapce_-dueday4" type="n0:numeric2" minOccurs="0"/>
     <xsd:element name="_-sapce_-perc4" type="n0:decimal5.2" minOccurs="0"/>
     <xsd:element name="_-sapce_-dueday5" type="n0:numeric2" minOccurs="0"/>
     <xsd:element name="_-sapce_-perc5" type="n0:decimal5.2" minOccurs="0"/>
     <xsd:element name="_-sapce_-bilperAp" type="n0:char1" minOccurs="0"/>
     <xsd:element name="_-sapce_-vAbrmenge" type="n0:decimal31.14" minOccurs="0"/>
     <xsd:element name="_-sapce_-qUom" type="n0:unit3" minOccurs="0"/>
    </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="But000">
    <xsd:sequence>
     <xsd:element name="Client" type="n0:clnt3" minOccurs="0"/>
     <xsd:element name="Partner" type="n0:char10" minOccurs="0"/>
     <xsd:element name="Type" type="n0:char1" minOccurs="0"/>
     <xsd:element name="Bpkind" type="n0:char4" minOccurs="0"/>
     <xsd:element name="BuGroup" type="n0:char4" minOccurs="0"/>
     <xsd:element name="Bpext" type="n0:char20" minOccurs="0"/>
     <xsd:element name="BuSort1" type="n0:char20" minOccurs="0"/>
     <xsd:element name="BuSort2" type="n0:char20" minOccurs="0"/>
     <xsd:element name="Source" type="n0:char4" minOccurs="0"/>
     <xsd:element name="Title" type="n0:char4" minOccurs="0"/>
     <xsd:element name="Xdele" type="n0:char1" minOccurs="0"/>
     <xsd:element name="Xblck" type="n0:char1" minOccurs="0"/>
     <xsd:element name="Augrp" type="n0:char4" minOccurs="0"/>
     <xsd:element name="TitleLet" type="n0:char50" minOccurs="0"/>
     <xsd:element name="BuLogsys" type="n0:char10" minOccurs="0"/>
     <xsd:element name="Contact" type="n0:char1" minOccurs="0"/>
     <xsd:element name="NotReleased" type="n0:char1" minOccurs="0"/>
     <xsd:element name="NotLgCompetent" type="n0:char1" minOccurs="0"/>
     <xsd:element name="PrintMode" type="n0:char1" minOccurs="0"/>
     <xsd:element name="BpEewDummy" type="n0:char1" minOccurs="0"/>
     <xsd:element name="Rate" type="n0:char15" minOccurs="0"/>
     <xsd:element name="NameOrg1" type="n0:char40" minOccurs="0"/>
     <xsd:element name="NameOrg2" type="n0:char40" minOccurs="0"/>
     <xsd:element name="NameOrg3" type="n0:char40" minOccurs="0"/>
     <xsd:element name="NameOrg4" type="n0:char40" minOccurs="0"/>
     <xsd:element name="LegalEnty" type="n0:char2" minOccurs="0"/>
     <xsd:element name="IndSector" type="n0:char10" minOccurs="0"/>
     <xsd:element name="LegalOrg" type="n0:char2" minOccurs="0"/>
     <xsd:element name="DcNotReq" type="n0:char1" minOccurs="0"/>
     <xsd:element name="FoundDat" type="n0:date10" minOccurs="0"/>
     <xsd:element name="LiquidDat" type="n0:date10" minOccurs="0"/>
     <xsd:element name="Location1" type="n0:numeric7" minOccurs="0"/>
     <xsd:element name="Location2" type="n0:numeric5" minOccurs="0"/>
     <xsd:element name="Location3" type="n0:numeric1" minOccurs="0"/>
     <xsd:element name="NameLast" type="n0:char40" minOccurs="0"/>
     <xsd:element name="NameFirst" type="n0:char40" minOccurs="0"/>
     <xsd:element name="NameLst2" type="n0:char40" minOccurs="0"/>
     <xsd:element name="NameLast2" type="n0:char40" minOccurs="0"/>
     <xsd:element name="Namemiddle" type="n0:char40" minOccurs="0"/>
     <xsd:element name="TitleAca1" type="n0:char4" minOccurs="0"/>
     <xsd:element name="TitleAca2" type="n0:char4" minOccurs="0"/>
     <xsd:element name="TitleRoyl" type="n0:char4" minOccurs="0"/>
     <xsd:element name="Prefix1" type="n0:char4" minOccurs="0"/>
     <xsd:element name="Prefix2" type="n0:char4" minOccurs="0"/>
     <xsd:element name="Name1Text" type="n0:char80" minOccurs="0"/>
     <xsd:element name="Nickname" type="n0:char40" minOccurs="0"/>
     <xsd:element name="Initials" type="n0:char10" minOccurs="0"/>
     <xsd:element name="Nameformat" type="n0:char2" minOccurs="0"/>
     <xsd:element name="Namcountry" type="n0:char3" minOccurs="0"/>
     <xsd:element name="LanguCorr" type="n0:lang" minOccurs="0"/>
     <xsd:element name="Xsexm" type="n0:char1" minOccurs="0"/>
     <xsd:element name="Xsexf" type="n0:char1" minOccurs="0"/>
     <xsd:element name="Birthpl" type="n0:char40" minOccurs="0"/>
     <xsd:element name="Marst" type="n0:char1" minOccurs="0"/>
     <xsd:element name="Emplo" type="n0:char35" minOccurs="0"/>
     <xsd:element name="Jobgr" type="n0:char4" minOccurs="0"/>
     <xsd:element name="Natio" type="n0:char3" minOccurs="0"/>
     <xsd:element name="Cntax" type="n0:char3" minOccurs="0"/>
     <xsd:element name="Cndsc" type="n0:char3" minOccurs="0"/>
     <xsd:element name="Persnumber" type="n0:char10" minOccurs="0"/>
     <xsd:element name="Xsexu" type="n0:char1" minOccurs="0"/>
     <xsd:element name="Xubname" type="n0:char12" minOccurs="0"/>
     <xsd:element name="BuLangu" type="n0:lang" minOccurs="0"/>
     <xsd:element name="Gender" type="n0:char1" minOccurs="0"/>
     <xsd:element name="Birthdt" type="n0:date10" minOccurs="0"/>
     <xsd:element name="Deathdt" type="n0:date10" minOccurs="0"/>
     <xsd:element name="Perno" type="n0:numeric8" minOccurs="0"/>
     <xsd:element name="Children" type="n0:numeric2" minOccurs="0"/>
     <xsd:element name="MemHouse" type="n0:decimal2.0" minOccurs="0"/>
     <xsd:element name="BirthdtStatus" type="n0:char1" minOccurs="0"/>
     <xsd:element name="Partgrptyp" type="n0:char4" minOccurs="0"/>
     <xsd:element name="NameGrp1" type="n0:char40" minOccurs="0"/>
     <xsd:element name="NameGrp2" type="n0:char40" minOccurs="0"/>
     <xsd:element name="McName1" type="n0:char35" minOccurs="0"/>
     <xsd:element name="McName2" type="n0:char35" minOccurs="0"/>
     <xsd:element name="Crusr" type="n0:char12" minOccurs="0"/>
     <xsd:element name="Crdat" type="n0:date10" minOccurs="0"/>
     <xsd:element name="Crtim" type="n0:time" minOccurs="0"/>
     <xsd:element name="Chusr" type="n0:char12" minOccurs="0"/>
     <xsd:element name="Chdat" type="n0:date10" minOccurs="0"/>
     <xsd:element name="Chtim" type="n0:time" minOccurs="0"/>
     <xsd:element name="PartnerGuid" type="n0:byte16" minOccurs="0"/>
     <xsd:element name="Addrcomm" type="n0:char10" minOccurs="0"/>
     <xsd:element name="TdSwitch" type="n0:char1" minOccurs="0"/>
     <xsd:element name="IsOrgCentre" type="n0:char1" minOccurs="0"/>
     <xsd:element name="DbKey" type="n0:byte16" minOccurs="0"/>
     <xsd:element name="ValidFrom" type="n0:decimal15.0" minOccurs="0"/>
     <xsd:element name="ValidTo" type="n0:decimal15.0" minOccurs="0"/>
     <xsd:element name="Xpcpt" type="n0:char1" minOccurs="0"/>
     <xsd:element name="DataCtrlr1" type="n0:char30" minOccurs="0"/>
     <xsd:element name="DataCtrlr2" type="n0:char30" minOccurs="0"/>
     <xsd:element name="DataCtrlr3" type="n0:char30" minOccurs="0"/>
     <xsd:element name="DataCtrlr4" type="n0:char30" minOccurs="0"/>
     <xsd:element name="DataCtrlr5" type="n0:char30" minOccurs="0"/>
     <xsd:element name="DataCtrlr6" type="n0:char30" minOccurs="0"/>
     <xsd:element name="DataCtrlr7" type="n0:char30" minOccurs="0"/>
     <xsd:element name="DataCtrlr8" type="n0:char30" minOccurs="0"/>
     <xsd:element name="DataCtrlr9" type="n0:char30" minOccurs="0"/>
     <xsd:element name="DataCtrlr10" type="n0:char30" minOccurs="0"/>
     <xsd:element name="Xdcset" type="n0:char1" minOccurs="0"/>
     <xsd:element name="_-ceeib_-skResid" type="n0:char4" minOccurs="0"/>
     <xsd:element name="BankArea" type="n0:char4" minOccurs="0"/>
     <xsd:element name="CreditTaxCode" type="n0:char2" minOccurs="0"/>
     <xsd:element name="DebitTaxCode" type="n0:char2" minOccurs="0"/>
     <xsd:element name="CreditTaxType" type="n0:char2" minOccurs="0"/>
     <xsd:element name="DebitTaxType" type="n0:char2" minOccurs="0"/>
     <xsd:element name="Natpers" type="n0:char1" minOccurs="0"/>
     <xsd:element name="Milve" type="n0:char1" minOccurs="0"/>
     <xsd:element name="NucSec" type="n0:char1" minOccurs="0"/>
     <xsd:element name="ParRel" type="n0:char1" minOccurs="0"/>
     <xsd:element name="BpSort" type="n0:char20" minOccurs="0"/>
     <xsd:element name="Kbanks" type="n0:char3" minOccurs="0"/>
     <xsd:element name="Kbankl" type="n0:char15" minOccurs="0"/>
     <xsd:element name="f1" type="n0:char10" minOccurs="0"/>
    </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="CodUtilSFkkvkp">
    <xsd:sequence>
     <xsd:element name="Mandt" type="n0:clnt3" minOccurs="0"/>
     <xsd:element name="Vkont" type="n0:char12" minOccurs="0"/>
     <xsd:element name="Gpart" type="n0:char10" minOccurs="0"/>
     <xsd:element name="Vkbez" type="n0:char35" minOccurs="0"/>
     <xsd:element name="Erdat" type="n0:date10" minOccurs="0"/>
     <xsd:element name="Ernam" type="n0:char12" minOccurs="0"/>
     <xsd:element name="Aedatp" type="n0:date10" minOccurs="0"/>
     <xsd:element name="Aenamp" type="n0:char12" minOccurs="0"/>
     <xsd:element name="Fdztg" type="n0:numeric2" minOccurs="0"/>
     <xsd:element name="Stopd" type="n0:date10" minOccurs="0"/>
     <xsd:element name="Qszdt" type="n0:date10" minOccurs="0"/>
     <xsd:element name="Guid" type="n0:byte16" minOccurs="0"/>
     <xsd:element name="Exvko" type="n0:char25" minOccurs="0"/>
     <xsd:element name="Opbuk" type="n0:char4" minOccurs="0"/>
     <xsd:element name="Stdbk" type="n0:char4" minOccurs="0"/>
     <xsd:element name="Abwre" type="n0:char10" minOccurs="0"/>
     <xsd:element name="Abwra" type="n0:char10" minOccurs="0"/>
     <xsd:element name="Abwma" type="n0:char10" minOccurs="0"/>
     <xsd:element name="Ebvty" type="n0:char4" minOccurs="0"/>
     <xsd:element name="Abvty" type="n0:char4" minOccurs="0"/>
     <xsd:element name="Ezawe" type="n0:char1" minOccurs="0"/>
     <xsd:element name="Ezasp" type="n0:char1" minOccurs="0"/>
     <xsd:element name="Azawe" type="n0:char5" minOccurs="0"/>
     <xsd:element name="Azasp" type="n0:char1" minOccurs="0"/>
     <xsd:element name="Eigbv" type="n0:char25" minOccurs="0"/>
     <xsd:element name="Vwnza" type="n0:char1" minOccurs="0"/>
     <xsd:element name="Loevm" type="n0:char1" minOccurs="0"/>
     <xsd:element name="Abwvk" type="n0:char12" minOccurs="0"/>
     <xsd:element name="Ikey" type="n0:char2" minOccurs="0"/>
     <xsd:element name="Mahnv" type="n0:char2" minOccurs="0"/>
     <xsd:element name="Mansp" type="n0:char1" minOccurs="0"/>
     <xsd:element name="Mgrup" type="n0:char2" minOccurs="0"/>
     <xsd:element name="Fdgrp" type="n0:char10" minOccurs="0"/>
     <xsd:element name="Vkpbz" type="n0:char2" minOccurs="0"/>
     <xsd:element name="Adrnb" type="n0:char10" minOccurs="0"/>
     <xsd:element name="Vkonv" type="n0:char12" minOccurs="0"/>
     <xsd:element name="Gparv" type="n0:char10" minOccurs="0"/>
     <xsd:element name="Adrre" type="n0:char10" minOccurs="0"/>
     <xsd:element name="Adrra" type="n0:char10" minOccurs="0"/>
     <xsd:element name="Adrma" type="n0:char10" minOccurs="0"/>
     <xsd:element name="Abwrh" type="n0:char10" minOccurs="0"/>
     <xsd:element name="Adrrh" type="n0:char10" minOccurs="0"/>
     <xsd:element name="Adrjdc" type="n0:char10" minOccurs="0"/>
     <xsd:element name="Begru" type="n0:char4" minOccurs="0"/>
     <xsd:element name="Togru" type="n0:char4" minOccurs="0"/>
     <xsd:element name="Stopg" type="n0:char1" minOccurs="0"/>
     <xsd:element name="Txjcd" type="n0:char15" minOccurs="0"/>
     <xsd:element name="Coprc" type="n0:char4" minOccurs="0"/>
     <xsd:element name="Vbund" type="n0:char6" minOccurs="0"/>
     <xsd:element name="CcardId" type="n0:char6" minOccurs="0"/>
     <xsd:element name="CcardOut" type="n0:char6" minOccurs="0"/>
     <xsd:element name="Uebtr" type="n0:char1" minOccurs="0"/>
     <xsd:element name="DefRec" type="n0:char10" minOccurs="0"/>
     <xsd:element name="DefRecInd" type="n0:char4" minOccurs="0"/>
     <xsd:element name="QsskzA" type="n0:char2" minOccurs="0"/>
     <xsd:element name="QsskzE" type="n0:char2" minOccurs="0"/>
     <xsd:element name="Qsznr" type="n0:char10" minOccurs="0"/>
     <xsd:element name="CorrMahnv" type="n0:char2" minOccurs="0"/>
     <xsd:element name="Fityp" type="n0:char2" minOccurs="0"/>
     <xsd:element name="Province" type="n0:char3" minOccurs="0"/>
     <xsd:element name="County" type="n0:char3" minOccurs="0"/>
     <xsd:element name="Vertyp" type="n0:char4" minOccurs="0"/>
     <xsd:element name="AugrsDef" type="n0:char1" minOccurs="0"/>
     <xsd:element name="Landl" type="n0:char3" minOccurs="0"/>
     <xsd:element name="Bupla" type="n0:char4" minOccurs="0"/>
     <xsd:element name="Bptaxtype1" type="n0:char4" minOccurs="0"/>
     <xsd:element name="Bptaxtype2" type="n0:char4" minOccurs="0"/>
     <xsd:element name="Persr" type="n0:char10" minOccurs="0"/>
     <xsd:element name="InvCategory" type="n0:char4" minOccurs="0"/>
     <xsd:element name="BpclSucc" type="n0:char1" minOccurs="0"/>
     <xsd:element name="Asmeth" type="n0:char1" minOccurs="0"/>
     <xsd:element name="Absanfab" type="n0:numeric1" minOccurs="0"/>
     <xsd:element name="Absanfbz" type="n0:numeric1" minOccurs="0"/>
     <xsd:element name="Daubuch" type="n0:char1" minOccurs="0"/>
     <xsd:element name="Keinzahl" type="n0:char1" minOccurs="0"/>
     <xsd:element name="Verguetg" type="n0:char1" minOccurs="0"/>
     <xsd:element name="Einzugsz" type="n0:numeric3" minOccurs="0"/>
     <xsd:element name="Ruecklz" type="n0:numeric3" minOccurs="0"/>
     <xsd:element name="Twaers" type="n0:cuky5" minOccurs="0"/>
     <xsd:element name="Ktokl" type="n0:char4" minOccurs="0"/>
     <xsd:element name="MahnungZ" type="n0:char1" minOccurs="0"/>
     <xsd:element name="RechnungZ" type="n0:char1" minOccurs="0"/>
     <xsd:element name="Formkey" type="n0:char30" minOccurs="0"/>
     <xsd:element name="Langu" type="n0:lang" minOccurs="0"/>
     <xsd:element name="AusgrupIn" type="n0:char8" minOccurs="0"/>
     <xsd:element name="Outcount" type="n0:numeric2" minOccurs="0"/>
     <xsd:element name="ManoutsIn" type="n0:char8" minOccurs="0"/>
     <xsd:element name="IntInvoice" type="n0:char1" minOccurs="0"/>
     <xsd:element name="DateFromAcc" type="n0:date10" minOccurs="0"/>
     <xsd:element name="SendcontrolMa" type="n0:char4" minOccurs="0"/>
     <xsd:element name="SendcontrolRh" type="n0:char4" minOccurs="0"/>
     <xsd:element name="SendcontrolGp" type="n0:char4" minOccurs="0"/>
     <xsd:element name="RegiogrCaT" type="n0:char8" minOccurs="0"/>
     <xsd:element name="RegiogrCaB" type="n0:char8" minOccurs="0"/>
     <xsd:element name="Kzabsver" type="n0:char1" minOccurs="0"/>
     <xsd:element name="Jvlte" type="n0:numeric1" minOccurs="0"/>
     <xsd:element name="ConsolidatorId" type="n0:char4" minOccurs="0"/>
     <xsd:element name="Mahnvumz" type="n0:char2" minOccurs="0"/>
     <xsd:element name="Isu2ciCategory" type="n0:char4" minOccurs="0"/>
     <xsd:element name="Padep" type="n0:char12" minOccurs="0"/>
     <xsd:element name="Paver" type="n0:char1" minOccurs="0"/>
     <xsd:element name="Paaba" type="n0:char2" minOccurs="0"/>
     <xsd:element name="Covar" type="n0:char1" minOccurs="0"/>
     <xsd:element name="Covwe" type="n0:char1" minOccurs="0"/>
     <xsd:element name="Exryt" type="n0:numeric2" minOccurs="0"/>
     <xsd:element name="Dexbt" type="n0:date10" minOccurs="0"/>
     <xsd:element name="Painr" type="n0:numeric2" minOccurs="0"/>
     <xsd:element name="Paind" type="n0:date10" minOccurs="0"/>
     <xsd:element name="Paabd" type="n0:date10" minOccurs="0"/>
     <xsd:element name="Mvari" type="n0:char2" minOccurs="0"/>
     <xsd:element name="CbGpart" type="n0:char10" minOccurs="0"/>
     <xsd:element name="CbVkont" type="n0:char12" minOccurs="0"/>
     <xsd:element name="Intper" type="n0:char1" minOccurs="0"/>
     <xsd:element name="Intperoff" type="n0:char4" minOccurs="0"/>
     <xsd:element name="Intto" type="n0:date10" minOccurs="0"/>
     <xsd:element name="Anzra" type="n0:char1" minOccurs="0"/>
     <xsd:element name="Atart" type="n0:char4" minOccurs="0"/>
     <xsd:element name="AbvtyX" type="n0:char4" minOccurs="0"/>
     <xsd:element name="Invtp" type="n0:char2" minOccurs="0"/>
     <xsd:element name="Fcalid" type="n0:char2" minOccurs="0"/>
     <xsd:element name="XfixEzawe" type="n0:char1" minOccurs="0"/>
     <xsd:element name="XfixAzawe" type="n0:char1" minOccurs="0"/>
     <xsd:element name="XfixOpLock" type="n0:char1" minOccurs="0"/>
     <xsd:element name="XfixIkey" type="n0:char1" minOccurs="0"/>
     <xsd:element name="XfixTogru" type="n0:char1" minOccurs="0"/>
     <xsd:element name="XfixVertyp" type="n0:char1" minOccurs="0"/>
     <xsd:element name="XfixMahnv" type="n0:char1" minOccurs="0"/>
     <xsd:element name="XfixCoprc" type="n0:char1" minOccurs="0"/>
     <xsd:element name="XfixCorrMahnv" type="n0:char1" minOccurs="0"/>
     <xsd:element name="XnoAutoUpdate" type="n0:char1" minOccurs="0"/>
     <xsd:element name="KofizSc" type="n0:char2" minOccurs="0"/>
     <xsd:element name="ZahlkondSc" type="n0:char4" minOccurs="0"/>
     <xsd:element name="GsberSc" type="n0:char4" minOccurs="0"/>
     <xsd:element name="KtoklSc" type="n0:char4" minOccurs="0"/>
     <xsd:element name="IntperSc" type="n0:char1" minOccurs="0"/>
     <xsd:element name="IntperoffSc" type="n0:char4" minOccurs="0"/>
     <xsd:element name="XsaldSc" type="n0:char1" minOccurs="0"/>
     <xsd:element name="Zahlkond" type="n0:char4" minOccurs="0"/>
     <xsd:element name="KofizSd" type="n0:char2" minOccurs="0"/>
     <xsd:element name="Gsber" type="n0:char4" minOccurs="0"/>
    </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="Evbs">
    <xsd:sequence>
     <xsd:element name="Mandt" type="n0:clnt3" minOccurs="0"/>
     <xsd:element name="Vstelle" type="n0:char10" minOccurs="0"/>
     <xsd:element name="Haus" type="n0:char30" minOccurs="0"/>
     <xsd:element name="StrErg2" type="n0:char40" minOccurs="0"/>
     <xsd:element name="HausNum2" type="n0:char10" minOccurs="0"/>
     <xsd:element name="Txtlangu" type="n0:lang" minOccurs="0"/>
     <xsd:element name="Lgzusatz" type="n0:char40" minOccurs="0"/>
     <xsd:element name="Vbsart" type="n0:char8" minOccurs="0"/>
     <xsd:element name="Eigent" type="n0:char10" minOccurs="0"/>
     <xsd:element name="Objnr" type="n0:char22" minOccurs="0"/>
     <xsd:element name="Tplnummer" type="n0:char30" minOccurs="0"/>
     <xsd:element name="Erdat" type="n0:date10" minOccurs="0"/>
     <xsd:element name="Ernam" type="n0:char12" minOccurs="0"/>
     <xsd:element name="Aedat" type="n0:date10" minOccurs="0"/>
     <xsd:element name="Aenam" type="n0:char12" minOccurs="0"/>
     <xsd:element name="Begru" type="n0:char4" minOccurs="0"/>
     <xsd:element name="Loevm" type="n0:char1" minOccurs="0"/>
     <xsd:element name="Anzpers" type="n0:numeric3" minOccurs="0"/>
     <xsd:element name="Floor" type="n0:char10" minOccurs="0"/>
     <xsd:element name="Roomnumber" type="n0:char10" minOccurs="0"/>
     <xsd:element name="Hptwhnsitz" type="n0:char1" minOccurs="0"/>
     <xsd:element name="StrErg4" type="n0:char40" minOccurs="0"/>
     <xsd:element name="DummyUtilspremiseInclEewPs" type="n0:char1" minOccurs="0"/>
    </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="Euihead">
    <xsd:sequence>
     <xsd:element name="Mandt" type="n0:clnt3" minOccurs="0"/>
     <xsd:element name="IntUi" type="n0:char22" minOccurs="0"/>
     <xsd:element name="Source" type="n0:numeric18" minOccurs="0"/>
     <xsd:element name="Uitype" type="n0:char4" minOccurs="0"/>
     <xsd:element name="EuiroleTech" type="n0:char1" minOccurs="0"/>
     <xsd:element name="EuiroleDereg" type="n0:char1" minOccurs="0"/>
     <xsd:element name="Erdat" type="n0:date10" minOccurs="0"/>
     <xsd:element name="Ernam" type="n0:char12" minOccurs="0"/>
     <xsd:element name="Aedat" type="n0:date10" minOccurs="0"/>
     <xsd:element name="Aenam" type="n0:char12" minOccurs="0"/>
     <xsd:element name="Begru" type="n0:char4" minOccurs="0"/>
     <xsd:element name="Loevm" type="n0:char1" minOccurs="0"/>
     <xsd:element name="Vstelle" type="n0:char10" minOccurs="0"/>
     <xsd:element name="Oucont" type="n0:char1" minOccurs="0"/>
    </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="Euitrans">
    <xsd:sequence>
     <xsd:element name="Mandt" type="n0:clnt3" minOccurs="0"/>
     <xsd:element name="IntUi" type="n0:char22" minOccurs="0"/>
     <xsd:element name="Dateto" type="n0:date10" minOccurs="0"/>
     <xsd:element name="Timeto" type="n0:time" minOccurs="0"/>
     <xsd:element name="Datefrom" type="n0:date10" minOccurs="0"/>
     <xsd:element name="Timefrom" type="n0:time" minOccurs="0"/>
     <xsd:element name="ExtUi" type="n0:char50" minOccurs="0"/>
     <xsd:element name="Uistrutyp" type="n0:char2" minOccurs="0"/>
     <xsd:element name="Erdat" type="n0:date10" minOccurs="0"/>
     <xsd:element name="Ernam" type="n0:char12" minOccurs="0"/>
     <xsd:element name="Aedat" type="n0:date10" minOccurs="0"/>
     <xsd:element name="Aenam" type="n0:char12" minOccurs="0"/>
     <xsd:element name="Begru" type="n0:char4" minOccurs="0"/>
     <xsd:element name="Loevm" type="n0:char1" minOccurs="0"/>
    </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="Eanl">
    <xsd:sequence>
     <xsd:element name="Mandt" type="n0:clnt3" minOccurs="0"/>
     <xsd:element name="Anlage" type="n0:char10" minOccurs="0"/>
     <xsd:element name="Sparte" type="n0:char2" minOccurs="0"/>
     <xsd:element name="Vstelle" type="n0:char10" minOccurs="0"/>
     <xsd:element name="Ablsperr" type="n0:char2" minOccurs="0"/>
     <xsd:element name="Bapertyp" type="n0:char1" minOccurs="0"/>
     <xsd:element name="Anschrei" type="n0:char10" minOccurs="0"/>
     <xsd:element name="Spebene" type="n0:char2" minOccurs="0"/>
     <xsd:element name="Drckstuf" type="n0:char2" minOccurs="0"/>
     <xsd:element name="Anlart" type="n0:char4" minOccurs="0"/>
     <xsd:element name="Bezug" type="n0:char1" minOccurs="0"/>
     <xsd:element name="Ablesartst" type="n0:char8" minOccurs="0"/>
     <xsd:element name="Nodisconct" type="n0:char4" minOccurs="0"/>
     <xsd:element name="Service" type="n0:char4" minOccurs="0"/>
     <xsd:element name="Deregstat" type="n0:char2" minOccurs="0"/>
     <xsd:element name="Inforel" type="n0:char2" minOccurs="0"/>
     <xsd:element name="Etimezone" type="n0:char6" minOccurs="0"/>
     <xsd:element name="Oucont" type="n0:char1" minOccurs="0"/>
     <xsd:element name="Holicalid" type="n0:char2" minOccurs="0"/>
     <xsd:element name="Altitude" type="n0:decimal5.0" minOccurs="0"/>
     <xsd:element name="DummyUtilsinstInclEewPs" type="n0:char1" minOccurs="0"/>
     <xsd:element name="Znopbfrom" type="n0:date10" minOccurs="0"/>
     <xsd:element name="Znopbto" type="n0:date10" minOccurs="0"/>
     <xsd:element name="Znorecalc" type="n0:char1" minOccurs="0"/>
     <xsd:element name="Zpbtog" type="n0:numeric2" minOccurs="0"/>
     <xsd:element name="Zwkey" type="n0:char8" minOccurs="0"/>
     <xsd:element name="Zmaxdifmr" type="n0:numeric3" minOccurs="0"/>
     <xsd:element name="Ztadvb" type="n0:char8" minOccurs="0"/>
     <xsd:element name="Zinstln" type="n0:char10" minOccurs="0"/>
     <xsd:element name="Erdat" type="n0:date10" minOccurs="0"/>
     <xsd:element name="Ernam" type="n0:char12" minOccurs="0"/>
     <xsd:element name="Aedat" type="n0:date10" minOccurs="0"/>
     <xsd:element name="Aenam" type="n0:char12" minOccurs="0"/>
     <xsd:element name="Begru" type="n0:char4" minOccurs="0"/>
     <xsd:element name="Loevm" type="n0:char1" minOccurs="0"/>
     <xsd:element name="CologrpInst" type="n0:char12" minOccurs="0"/>
    </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="CodUtilitiesPtiPremiseS">
    <xsd:sequence>
     <xsd:element name="Premise" type="n0:char10" minOccurs="0"/>
     <xsd:element name="ConnectionObject" type="n0:char30" minOccurs="0"/>
     <xsd:element name="PremiseType" type="n0:char40" minOccurs="0"/>
     <xsd:element name="Owner" type="n0:char10" minOccurs="0"/>
     <xsd:element name="NoOfPersons" type="n0:numeric3" minOccurs="0"/>
     <xsd:element name="Installations" type="tns:CodUtilitiesPtiInstlnT" minOccurs="0"/>
    </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="CodUtilitiesPtiInstlnS">
    <xsd:sequence>
     <xsd:element name="Installation" type="n0:char10" minOccurs="0"/>
     <xsd:element name="Pod" type="n0:char50" minOccurs="0"/>
     <xsd:element name="Division" type="n0:char2" minOccurs="0"/>
     <xsd:element name="PodGrid" type="n0:char40" minOccurs="0"/>
     <xsd:element name="PodGridLevel" type="n0:char30" minOccurs="0"/>
     <xsd:element name="PodGridLevelType" type="n0:char40" minOccurs="0"/>
     <xsd:element name="PodDistributor" type="n0:char40" minOccurs="0"/>
     <xsd:element name="PodValidFrom" type="tns:Eedmdatefrom" minOccurs="0"/>
     <xsd:element name="PodValidTo" type="tns:Eedmdateto" minOccurs="0"/>
     <xsd:element name="InstlnStatus" type="n0:char60" minOccurs="0"/>
     <xsd:element name="InstlnRateCategory" type="n0:char40" minOccurs="0"/>
     <xsd:element name="InstlnMru" type="n0:char30" minOccurs="0"/>
     <xsd:element name="InstlnIndustry" type="n0:char20" minOccurs="0"/>
     <xsd:element name="InstlnBlockingReason" type="n0:char20" minOccurs="0"/>
     <xsd:element name="Devices" type="tns:CodUtilitiesPtiDeviceT" minOccurs="0"/>
     <xsd:element name="InstlinRateCatCode" type="n0:char10" minOccurs="0"/>
     <xsd:element name="Nodisconct" type="n0:char4" minOccurs="0"/>
     <xsd:element name="NodisconctText" type="n0:char30" minOccurs="0"/>
     <xsd:element name="ContLastBilled" type="n0:char10" minOccurs="0"/>
     <xsd:element name="DivisionCat" type="n0:numeric2" minOccurs="0"/>
    </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="Eedmdateto">
    <xsd:sequence>
     <xsd:element name="Dateto" type="n0:date10" minOccurs="0"/>
     <xsd:element name="Timeto" type="n0:time" minOccurs="0"/>
    </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="Eedmdatefrom">
    <xsd:sequence>
     <xsd:element name="Datefrom" type="n0:date10" minOccurs="0"/>
     <xsd:element name="Timefrom" type="n0:time" minOccurs="0"/>
    </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="CodUtilitiesPtiDeviceS">
    <xsd:sequence>
     <xsd:element name="Equnr" type="n0:char18" minOccurs="0"/>
     <xsd:element name="Serialno" type="n0:char18" minOccurs="0"/>
     <xsd:element name="Material" type="n0:char40" minOccurs="0"/>
     <xsd:element name="Description" type="n0:char30" minOccurs="0"/>
     <xsd:element name="MeterReadings" type="tns:CodUtilitiesMrOvwT" minOccurs="0"/>
     <xsd:element name="AmiMeter" type="n0:char1" minOccurs="0"/>
     <xsd:element name="AmiStatus" type="n0:char1" minOccurs="0"/>
     <xsd:element name="DateFrom" type="n0:char10" minOccurs="0"/>
     <xsd:element name="DateTo" type="n0:char10" minOccurs="0"/>
     <xsd:element name="ReconnectAllowed" type="n0:char1" minOccurs="0"/>
     <xsd:element name="ReconnectFlag" type="n0:char1" minOccurs="0"/>
    </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="CodUtilitiesMrOvwS">
    <xsd:sequence>
     <xsd:element name="Material" type="n0:char18" minOccurs="0"/>
     <xsd:element name="Serialno" type="n0:char18" minOccurs="0"/>
     <xsd:element name="Register" type="n0:numeric3" minOccurs="0"/>
     <xsd:element name="Device" type="n0:char18" minOccurs="0"/>
     <xsd:element name="Mrreason" type="n0:char2" minOccurs="0"/>
     <xsd:element name="MrreasonText" type="n0:char40" minOccurs="0"/>
     <xsd:element name="Mridnumber" type="n0:char20" minOccurs="0"/>
     <xsd:element name="Readingresult" type="n0:char32" minOccurs="0"/>
     <xsd:element name="Mruom" type="n0:char3" minOccurs="0"/>
     <xsd:element name="Meterreadingnote" type="n0:char4" minOccurs="0"/>
     <xsd:element name="MrnoteText" type="n0:char50" minOccurs="0"/>
     <xsd:element name="Actualsapmrtype" type="n0:char2" minOccurs="0"/>
     <xsd:element name="Actualcustomermrtype" type="n0:char2" minOccurs="0"/>
     <xsd:element name="Meterreader" type="n0:char3" minOccurs="0"/>
     <xsd:element name="Mrdateforbilling" type="n0:char8" minOccurs="0"/>
     <xsd:element name="Mrtimeforbilling" type="n0:char4" minOccurs="0"/>
     <xsd:element name="Actualmrdate" type="n0:char8" minOccurs="0"/>
     <xsd:element name="Actualmrtime" type="n0:char4" minOccurs="0"/>
     <xsd:element name="Mrdateofmaximum" type="n0:char8" minOccurs="0"/>
     <xsd:element name="Mrtimeofmaximum" type="n0:char4" minOccurs="0"/>
     <xsd:element name="Smorder" type="n0:char12" minOccurs="0"/>
     <xsd:element name="Active" type="n0:char1" minOccurs="0"/>
     <xsd:element name="Refnumber" type="n0:char15" minOccurs="0"/>
     <xsd:element name="Targetmrdate" type="n0:char8" minOccurs="0"/>
     <xsd:element name="Mrdateforidentif" type="n0:char8" minOccurs="0"/>
     <xsd:element name="Division" type="n0:char2" minOccurs="0"/>
     <xsd:element name="DivisionText" type="n0:char20" minOccurs="0"/>
     <xsd:element name="Status" type="n0:char1" minOccurs="0"/>
     <xsd:element name="Contract" type="n0:char10" minOccurs="0"/>
     <xsd:element name="ContractAccount" type="n0:char12" minOccurs="0"/>
     <xsd:element name="Installation" type="n0:char10" minOccurs="0"/>
     <xsd:element name="ConnectionObj" type="n0:char30" minOccurs="0"/>
     <xsd:element name="ConObjAddr" type="n0:char80" minOccurs="0"/>
     <xsd:element name="Premise" type="n0:char10" minOccurs="0"/>
     <xsd:element name="PremiseAddr" type="n0:char80" minOccurs="0"/>
     <xsd:element name="Pod" type="n0:char50" minOccurs="0"/>
     <xsd:element name="Estimationprocedure" type="n0:char2" minOccurs="0"/>
     <xsd:element name="Estimationreason" type="n0:char2" minOccurs="0"/>
     <xsd:element name="EstReasonText" type="n0:char30" minOccurs="0"/>
     <xsd:element name="Meterreadingstatus" type="n0:char1" minOccurs="0"/>
     <xsd:element name="MrstatusText" type="n0:char40" minOccurs="0"/>
     <xsd:element name="CreatedOn" type="n0:char10" minOccurs="0"/>
     <xsd:element name="CreatedBy" type="n0:char12" minOccurs="0"/>
     <xsd:element name="ChangedOn" type="n0:char10" minOccurs="0"/>
     <xsd:element name="ChangedBy" type="n0:char12" minOccurs="0"/>
     <xsd:element name="ExpectedConsumption" type="n0:char36" minOccurs="0"/>
     <xsd:element name="Consumption" type="n0:char36" minOccurs="0"/>
     <xsd:element name="PreviousMr" type="n0:char36" minOccurs="0"/>
     <xsd:element name="Opcode" type="n0:char2" minOccurs="0"/>
     <xsd:element name="Opcodetxt" type="n0:char30" minOccurs="0"/>
     <xsd:element name="AmiMeter" type="n0:char1" minOccurs="0"/>
    </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="Bapiret2T">
    <xsd:sequence>
     <xsd:element name="item" type="tns:Bapiret2" minOccurs="0" maxOccurs="unbounded"/>
    </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="IsuC4cUtilExtensionT">
    <xsd:sequence>
     <xsd:element name="item" type="tns:IsuC4cUtilExtensionS" minOccurs="0" maxOccurs="unbounded"/>
    </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="IsuC4cUtilExtensionResT">
    <xsd:sequence>
     <xsd:element name="item" type="tns:IsuC4cUtilExtensionResS" minOccurs="0" maxOccurs="unbounded"/>
    </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="CodUtilitiesTCustomerHist">
    <xsd:sequence>
     <xsd:element name="item" type="tns:CodUtilitiesSCustomerHist" minOccurs="0" maxOccurs="unbounded"/>
    </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="CodUtilitiesPtiInstlnT">
    <xsd:sequence>
     <xsd:element name="item" type="tns:CodUtilitiesPtiInstlnS" minOccurs="0" maxOccurs="unbounded"/>
    </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="CodUtilitiesPtiDeviceT">
    <xsd:sequence>
     <xsd:element name="item" type="tns:CodUtilitiesPtiDeviceS" minOccurs="0" maxOccurs="unbounded"/>
    </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="CodUtilitiesMrOvwT">
    <xsd:sequence>
     <xsd:element name="item" type="tns:CodUtilitiesMrOvwS" minOccurs="0" maxOccurs="unbounded"/>
    </xsd:sequence>
   </xsd:complexType>
   <xsd:element name="IsuC4cPremiseTi">
    <xsd:complexType>
     <xsd:sequence>
      <xsd:element name="IvConnectionDetails" type="n0:char1" minOccurs="0"/>
      <xsd:element name="IvCustomerInformation" type="n0:char1" minOccurs="0"/>
      <xsd:element name="IvHighlights" type="n0:char1" minOccurs="0"/>
      <xsd:element name="IvLangu" type="n0:lang" minOccurs="0"/>
      <xsd:element name="IvMaxcount" type="xsd:int" minOccurs="0"/>
      <xsd:element name="IvPremise" type="n0:char10" minOccurs="0"/>
     </xsd:sequence>
    </xsd:complexType>
   </xsd:element>
   <xsd:element name="IsuC4cPremiseTiResponse">
    <xsd:complexType>
     <xsd:sequence>
      <xsd:element name="EsConnectionDetails" type="tns:CodUtilitiesPtiPremiseS" minOccurs="0"/>
      <xsd:element name="EtCustomerInformation" type="tns:CodUtilitiesTCustomerHist" minOccurs="0"/>
      <xsd:element name="EtExtensionData" type="tns:IsuC4cUtilExtensionT" minOccurs="0"/>
      <xsd:element name="EtHighlights" type="tns:Bapiret2T" minOccurs="0"/>
      <xsd:element name="EtMessages" type="tns:Bapiret2T" minOccurs="0"/>
     </xsd:sequence>
    </xsd:complexType>
   </xsd:element>
  </xsd:schema>
 </wsdl:types>
 <wsdl:message name="IsuC4cPremiseTi">
  <wsdl:part name="parameters" element="tns:IsuC4cPremiseTi"/>
 </wsdl:message>
 <wsdl:message name="IsuC4cPremiseTiResponse">
  <wsdl:part name="parameter" element="tns:IsuC4cPremiseTiResponse"/>
 </wsdl:message>
 <wsdl:portType name="ISU_C4C_PREMISE_TI">
  <wsdl:documentation>
   <sapdoc:sapdoc xmlns:sapdoc="urn:sap:esi:documentation">
    <sapdoc:docitem docURL="http://ldciemt.wdf.sap.corp:50022/sap/bc/esdt/docu/sd_text?sap-client=350&amp;sd_name=ISU_C4C_PREMISE_TI"/>
    <sapdoc:docitem applicationComponent="IS-U-CS-C4C"/>
   </sapdoc:sapdoc>
  </wsdl:documentation>

  <wsdl:operation name="IsuC4cPremiseTi">

   <wsdl:input message="tns:IsuC4cPremiseTi"/>
   <wsdl:output message="tns:IsuC4cPremiseTiResponse"/>
  </wsdl:operation>
 </wsdl:portType>
</wsdl:definitions>
