Resources/schemas/Wsdl/SAP_Cloud_for_Customer_Integration_with_SAP_ERP - CheckConnectivityConsumer.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="CheckConnectivityConsumer"
	targetNamespace="http://sap.com/xi/CommunicationServicesManagement/Global"
	xmlns:p1="http://sap.com/xi/CommunicationServicesManagement/Global"
	xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy"
	xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd"
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
	<wsdl:documentation />
	<wsp:UsingPolicy wsdl:required="true" />
	<wsp:Policy wsu:Id="OP_CheckConnectivityConsumer" />
	<wsdl:types>
		<xsd:schema targetNamespace="http://sap.com/xi/AP/Common/GDT"
			xmlns="http://sap.com/xi/AP/Common/GDT" xmlns:xi4="http://sap.com/xi/BASIS/Global"
			xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xi0="http://xiTest.com/xi/test">
			<xsd:import namespace="http://sap.com/xi/BASIS/Global" />
			<xsd:import namespace="http://xiTest.com/xi/test" />
			<xsd:simpleType name="BusinessSystemID">
				<xsd:annotation>
					<xsd:documentation xml:lang="EN">
						<ccts:RepresentationTerm
							xmlns:ccts="urn:un:unece:uncefact:documentation:standard:CoreComponentsTechnicalSpecification:3.0">Identifier</ccts:RepresentationTerm>
					</xsd:documentation>
				</xsd:annotation>
				<xsd:restriction base="xsd:token">
					<xsd:maxLength value="60" />
					<xsd:minLength value="1" />
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:simpleType name="PhoneNumberSubscriberID">
				<xsd:annotation>
					<xsd:documentation xml:lang="EN">
						<ccts:RepresentationTerm
							xmlns:ccts="urn:un:unece:uncefact:documentation:standard:CoreComponentsTechnicalSpecification:3.0">Identifier</ccts:RepresentationTerm>
					</xsd:documentation>
				</xsd:annotation>
				<xsd:restriction base="xsd:token">
					<xsd:maxLength value="30" />
					<xsd:minLength value="1" />
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:simpleType name="PartyStandardID.Content">
				<xsd:restriction base="xsd:token">
					<xsd:maxLength value="13" />
					<xsd:minLength value="1" />
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:simpleType name="LANGUAGEINDEPENDENT_Name">
				<xsd:annotation>
					<xsd:documentation xml:lang="EN">
						<ccts:RepresentationTerm
							xmlns:ccts="urn:un:unece:uncefact:documentation:standard:CoreComponentsTechnicalSpecification:3.0">Name</ccts:RepresentationTerm>
					</xsd:documentation>
				</xsd:annotation>
				<xsd:restriction base="xsd:string" />
			</xsd:simpleType>
			<xsd:simpleType name="BusinessScopeTypeCode.Content">
				<xsd:restriction base="xsd:token">
					<xsd:maxLength value="4" />
					<xsd:minLength value="1" />
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:simpleType name="BusinessScopeInstanceID.Content">
				<xsd:restriction base="xsd:token">
					<xsd:maxLength value="36" />
					<xsd:minLength value="1" />
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:simpleType name="LogItemTemplatePlaceholderID">
				<xsd:annotation>
					<xsd:documentation xml:lang="EN">
						<ccts:RepresentationTerm
							xmlns:ccts="urn:un:unece:uncefact:documentation:standard:CoreComponentsTechnicalSpecification:3.0">Identifier</ccts:RepresentationTerm>
					</xsd:documentation>
				</xsd:annotation>
				<xsd:restriction base="xsd:token">
					<xsd:length value="1" />
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:simpleType name="MEDIUM_Name.Content">
				<xsd:restriction base="xsd:string">
					<xsd:maxLength value="40" />
					<xsd:minLength value="1" />
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:simpleType name="PhoneNumberExtensionID">
				<xsd:annotation>
					<xsd:documentation xml:lang="EN">
						<ccts:RepresentationTerm
							xmlns:ccts="urn:un:unece:uncefact:documentation:standard:CoreComponentsTechnicalSpecification:3.0">Identifier</ccts:RepresentationTerm>
					</xsd:documentation>
				</xsd:annotation>
				<xsd:restriction base="xsd:token">
					<xsd:maxLength value="10" />
					<xsd:minLength value="1" />
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:simpleType name="VersionID">
				<xsd:annotation>
					<xsd:documentation xml:lang="EN">
						<ccts:RepresentationTerm
							xmlns:ccts="urn:un:unece:uncefact:documentation:standard:CoreComponentsTechnicalSpecification:3.0">Identifier</ccts:RepresentationTerm>
					</xsd:documentation>
				</xsd:annotation>
				<xsd:restriction base="xsd:token">
					<xsd:maxLength value="32" />
					<xsd:minLength value="1" />
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:simpleType name="LANGUAGEINDEPENDENT_LONG_Name">
				<xsd:annotation>
					<xsd:documentation xml:lang="EN">
						<ccts:RepresentationTerm
							xmlns:ccts="urn:un:unece:uncefact:documentation:standard:CoreComponentsTechnicalSpecification:3.0">Name</ccts:RepresentationTerm>
					</xsd:documentation>
				</xsd:annotation>
				<xsd:restriction base="xsd:string">
					<xsd:maxLength value="80" />
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:simpleType name="PartyInternalID.Content">
				<xsd:restriction base="xsd:token">
					<xsd:maxLength value="32" />
					<xsd:minLength value="1" />
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:simpleType name="BusinessDocumentMessageID.Content">
				<xsd:restriction base="xsd:token">
					<xsd:maxLength value="35" />
					<xsd:minLength value="1" />
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:simpleType name="Indicator">
				<xsd:annotation>
					<xsd:documentation xml:lang="EN">
						<ccts:RepresentationTerm
							xmlns:ccts="urn:un:unece:uncefact:documentation:standard:CoreComponentsTechnicalSpecification:3.0">Indicator</ccts:RepresentationTerm>
					</xsd:documentation>
				</xsd:annotation>
				<xsd:restriction base="xsd:boolean" />
			</xsd:simpleType>
			<xsd:simpleType name="ProcessComponentCode.Content">
				<xsd:restriction base="xsd:token">
					<xsd:maxLength value="4" />
					<xsd:minLength value="1" />
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:simpleType name="WebURI">
				<xsd:annotation>
					<xsd:documentation xml:lang="EN">
						<ccts:RepresentationTerm
							xmlns:ccts="urn:un:unece:uncefact:documentation:standard:CoreComponentsTechnicalSpecification:3.0">URI</ccts:RepresentationTerm>
					</xsd:documentation>
				</xsd:annotation>
				<xsd:restriction base="xsd:anyURI" />
			</xsd:simpleType>
			<xsd:simpleType name="LANGUAGEINDEPENDENT_MEDIUM_Name">
				<xsd:annotation>
					<xsd:documentation xml:lang="EN">
						<ccts:RepresentationTerm
							xmlns:ccts="urn:un:unece:uncefact:documentation:standard:CoreComponentsTechnicalSpecification:3.0">Name</ccts:RepresentationTerm>
					</xsd:documentation>
				</xsd:annotation>
				<xsd:restriction base="xsd:string">
					<xsd:maxLength value="40" />
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:simpleType name="BusinessScopeID.Content">
				<xsd:restriction base="xsd:token">
					<xsd:maxLength value="36" />
					<xsd:minLength value="1" />
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:simpleType name="UUID.Content">
				<xsd:restriction base="xsd:token">
					<xsd:maxLength value="36" />
					<xsd:minLength value="36" />
					<xsd:pattern
						value="[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}" />
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:simpleType name="ContactPersonInternalID.Content">
				<xsd:restriction base="xsd:token">
					<xsd:maxLength value="32" />
					<xsd:minLength value="1" />
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:simpleType name="ObjectNodePartyTechnicalID">
				<xsd:annotation>
					<xsd:documentation xml:lang="EN">
						<ccts:RepresentationTerm
							xmlns:ccts="urn:un:unece:uncefact:documentation:standard:CoreComponentsTechnicalSpecification:3.0">Identifier</ccts:RepresentationTerm>
					</xsd:documentation>
				</xsd:annotation>
				<xsd:restriction base="xsd:token">
					<xsd:maxLength value="70" />
					<xsd:minLength value="1" />
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:simpleType name="LogItemPlaceholderSubstitutionText">
				<xsd:annotation>
					<xsd:documentation xml:lang="EN">
						<ccts:RepresentationTerm
							xmlns:ccts="urn:un:unece:uncefact:documentation:standard:CoreComponentsTechnicalSpecification:3.0">Text</ccts:RepresentationTerm>
					</xsd:documentation>
				</xsd:annotation>
				<xsd:restriction base="xsd:string">
					<xsd:maxLength value="50" />
					<xsd:minLength value="1" />
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:simpleType name="CountryDiallingCode">
				<xsd:annotation>
					<xsd:documentation xml:lang="EN">
						<ccts:RepresentationTerm
							xmlns:ccts="urn:un:unece:uncefact:documentation:standard:CoreComponentsTechnicalSpecification:3.0">Code</ccts:RepresentationTerm>
					</xsd:documentation>
				</xsd:annotation>
				<xsd:restriction base="xsd:token">
					<xsd:maxLength value="10" />
					<xsd:minLength value="1" />
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:simpleType name="LogItemNote">
				<xsd:annotation>
					<xsd:documentation xml:lang="EN">
						<ccts:RepresentationTerm
							xmlns:ccts="urn:un:unece:uncefact:documentation:standard:CoreComponentsTechnicalSpecification:3.0">Note</ccts:RepresentationTerm>
					</xsd:documentation>
				</xsd:annotation>
				<xsd:restriction base="xsd:string">
					<xsd:maxLength value="200" />
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:simpleType name="CountryCode">
				<xsd:annotation>
					<xsd:documentation xml:lang="EN">
						<ccts:RepresentationTerm
							xmlns:ccts="urn:un:unece:uncefact:documentation:standard:CoreComponentsTechnicalSpecification:3.0">Code</ccts:RepresentationTerm>
					</xsd:documentation>
				</xsd:annotation>
				<xsd:restriction base="xsd:token">
					<xsd:maxLength value="3" />
					<xsd:minLength value="2" />
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:simpleType name="LogItemSeverityCode">
				<xsd:annotation>
					<xsd:documentation xml:lang="EN">
						<ccts:RepresentationTerm
							xmlns:ccts="urn:un:unece:uncefact:documentation:standard:CoreComponentsTechnicalSpecification:3.0">Code</ccts:RepresentationTerm>
					</xsd:documentation>
				</xsd:annotation>
				<xsd:restriction base="xsd:token">
					<xsd:maxLength value="1" />
					<xsd:minLength value="1" />
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:simpleType name="LogItemTypeID">
				<xsd:annotation>
					<xsd:documentation xml:lang="EN">
						<ccts:RepresentationTerm
							xmlns:ccts="urn:un:unece:uncefact:documentation:standard:CoreComponentsTechnicalSpecification:3.0">Identifier</ccts:RepresentationTerm>
					</xsd:documentation>
				</xsd:annotation>
				<xsd:restriction base="xsd:token">
					<xsd:maxLength value="40" />
					<xsd:minLength value="1" />
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:simpleType name="LogItemCategoryCode.Content">
				<xsd:restriction base="xsd:token">
					<xsd:maxLength value="15" />
					<xsd:minLength value="1" />
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:simpleType name="LogItemNoteTemplateText">
				<xsd:annotation>
					<xsd:documentation xml:lang="EN">
						<ccts:RepresentationTerm
							xmlns:ccts="urn:un:unece:uncefact:documentation:standard:CoreComponentsTechnicalSpecification:3.0">Text</ccts:RepresentationTerm>
					</xsd:documentation>
				</xsd:annotation>
				<xsd:restriction base="xsd:string">
					<xsd:maxLength value="73" />
					<xsd:minLength value="1" />
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:simpleType name="ProcessingResultCode">
				<xsd:annotation>
					<xsd:documentation xml:lang="EN">
						<ccts:RepresentationTerm
							xmlns:ccts="urn:un:unece:uncefact:documentation:standard:CoreComponentsTechnicalSpecification:3.0">Code</ccts:RepresentationTerm>
					</xsd:documentation>
				</xsd:annotation>
				<xsd:restriction base="xsd:token">
					<xsd:maxLength value="2" />
					<xsd:minLength value="1" />
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:simpleType name="PhoneNumberAreaID">
				<xsd:annotation>
					<xsd:documentation xml:lang="EN">
						<ccts:RepresentationTerm
							xmlns:ccts="urn:un:unece:uncefact:documentation:standard:CoreComponentsTechnicalSpecification:3.0">Identifier</ccts:RepresentationTerm>
					</xsd:documentation>
				</xsd:annotation>
				<xsd:restriction base="xsd:token">
					<xsd:maxLength value="10" />
					<xsd:minLength value="1" />
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:complexType name="BusinessDocumentMessageHeaderPartyContactPerson">
				<xsd:sequence>
					<xsd:element name="InternalID" type="ContactPersonInternalID"
						minOccurs="0" />
					<xsd:element name="OrganisationFormattedName" type="LANGUAGEINDEPENDENT_MEDIUM_Name"
						minOccurs="0" maxOccurs="4" />
					<xsd:element name="PersonFormattedName" type="LANGUAGEINDEPENDENT_LONG_Name"
						minOccurs="0" maxOccurs="4" />
					<xsd:element name="PhoneNumber" type="PhoneNumber"
						minOccurs="0" maxOccurs="unbounded" />
					<xsd:element name="FaxNumber" type="PhoneNumber"
						minOccurs="0" maxOccurs="unbounded" />
					<xsd:element name="EmailURI" type="EmailURI" minOccurs="0"
						maxOccurs="unbounded" />
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="BusinessScopeTypeCode">
				<xsd:annotation>
					<xsd:documentation xml:lang="EN">
						<ccts:RepresentationTerm
							xmlns:ccts="urn:un:unece:uncefact:documentation:standard:CoreComponentsTechnicalSpecification:3.0">Code</ccts:RepresentationTerm>
					</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleContent>
					<xsd:extension base="BusinessScopeTypeCode.Content">
						<xsd:attribute name="listID">
							<xsd:simpleType>
								<xsd:restriction base="xsd:token">
									<xsd:maxLength value="60" />
									<xsd:minLength value="1" />
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:attribute>
						<xsd:attribute name="listVersionID">
							<xsd:simpleType>
								<xsd:restriction base="xsd:token">
									<xsd:maxLength value="15" />
									<xsd:minLength value="1" />
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:attribute>
						<xsd:attribute name="listAgencyID">
							<xsd:simpleType>
								<xsd:restriction base="xsd:token">
									<xsd:maxLength value="60" />
									<xsd:minLength value="1" />
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:attribute>
						<xsd:attribute name="listAgencySchemeID">
							<xsd:simpleType>
								<xsd:restriction base="xsd:token">
									<xsd:maxLength value="60" />
									<xsd:minLength value="1" />
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:attribute>
						<xsd:attribute name="listAgencySchemeAgencyID" type="xi4:AgencyIdentificationCode" />
					</xsd:extension>
				</xsd:simpleContent>
			</xsd:complexType>
			<xsd:complexType name="PartyStandardID">
				<xsd:annotation>
					<xsd:documentation xml:lang="EN">
						<ccts:RepresentationTerm
							xmlns:ccts="urn:un:unece:uncefact:documentation:standard:CoreComponentsTechnicalSpecification:3.0">Identifier</ccts:RepresentationTerm>
					</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleContent>
					<xsd:extension base="PartyStandardID.Content">
						<xsd:attribute name="schemeAgencyID" use="required">
							<xsd:simpleType>
								<xsd:restriction base="xsd:token">
									<xsd:maxLength value="3" />
									<xsd:minLength value="1" />
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:attribute>
					</xsd:extension>
				</xsd:simpleContent>
			</xsd:complexType>
			<xsd:complexType name="LogItemCategoryCode">
				<xsd:annotation>
					<xsd:documentation xml:lang="EN">
						<ccts:RepresentationTerm
							xmlns:ccts="urn:un:unece:uncefact:documentation:standard:CoreComponentsTechnicalSpecification:3.0">Code</ccts:RepresentationTerm>
					</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleContent>
					<xsd:extension base="LogItemCategoryCode.Content">
						<xsd:attribute name="listID">
							<xsd:simpleType>
								<xsd:restriction base="xsd:token">
									<xsd:maxLength value="60" />
									<xsd:minLength value="1" />
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:attribute>
						<xsd:attribute name="listVersionID">
							<xsd:simpleType>
								<xsd:restriction base="xsd:token">
									<xsd:maxLength value="15" />
									<xsd:minLength value="1" />
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:attribute>
						<xsd:attribute name="listAgencyID">
							<xsd:simpleType>
								<xsd:restriction base="xsd:token">
									<xsd:maxLength value="60" />
									<xsd:minLength value="1" />
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:attribute>
						<xsd:attribute name="listAgencySchemeID">
							<xsd:simpleType>
								<xsd:restriction base="xsd:token">
									<xsd:maxLength value="60" />
									<xsd:minLength value="1" />
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:attribute>
						<xsd:attribute name="listAgencySchemeAgencyID" type="xi4:AgencyIdentificationCode" />
					</xsd:extension>
				</xsd:simpleContent>
			</xsd:complexType>
			<xsd:complexType name="BusinessDocumentMessageHeader">
				<xsd:sequence>
					<xsd:element name="ID" type="BusinessDocumentMessageID"
						minOccurs="0" />
					<xsd:element name="UUID" type="UUID" minOccurs="0" />
					<xsd:element name="ReferenceID" type="BusinessDocumentMessageID"
						minOccurs="0" />
					<xsd:element name="ReferenceUUID" type="UUID"
						minOccurs="0" />
					<xsd:element name="CreationDateTime" type="xi4:GLOBAL_DateTime" />
					<xsd:element name="TestDataIndicator" type="Indicator"
						minOccurs="0" />
					<xsd:element name="ReconciliationIndicator" type="Indicator"
						minOccurs="0" />
					<xsd:element name="SenderBusinessSystemID" type="BusinessSystemID"
						minOccurs="0" />
					<xsd:element name="RecipientBusinessSystemID" type="BusinessSystemID"
						minOccurs="0" />
					<xsd:element name="SenderParty" type="BusinessDocumentMessageHeaderParty"
						minOccurs="0" />
					<xsd:element name="RecipientParty" type="BusinessDocumentMessageHeaderParty"
						minOccurs="0" maxOccurs="unbounded" />
					<xsd:element name="BusinessScope" type="BusinessScope"
						minOccurs="0" maxOccurs="unbounded" />
					<xsd:group ref="xi0:BusDocMsgHeaderTestContainer" />
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="MEDIUM_Name">
				<xsd:annotation>
					<xsd:documentation xml:lang="EN">
						<ccts:RepresentationTerm
							xmlns:ccts="urn:un:unece:uncefact:documentation:standard:CoreComponentsTechnicalSpecification:3.0">Name</ccts:RepresentationTerm>
					</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleContent>
					<xsd:extension base="MEDIUM_Name.Content">
						<xsd:attribute name="languageCode" type="xi4:LanguageCode" />
					</xsd:extension>
				</xsd:simpleContent>
			</xsd:complexType>
			<xsd:complexType name="BusinessDocumentMessageID">
				<xsd:annotation>
					<xsd:documentation xml:lang="EN">
						<ccts:RepresentationTerm
							xmlns:ccts="urn:un:unece:uncefact:documentation:standard:CoreComponentsTechnicalSpecification:3.0">Identifier</ccts:RepresentationTerm>
					</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleContent>
					<xsd:extension base="BusinessDocumentMessageID.Content">
						<xsd:attribute name="schemeID">
							<xsd:simpleType>
								<xsd:restriction base="xsd:token">
									<xsd:maxLength value="60" />
									<xsd:minLength value="1" />
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:attribute>
						<xsd:attribute name="schemeAgencyID">
							<xsd:simpleType>
								<xsd:restriction base="xsd:token">
									<xsd:maxLength value="60" />
									<xsd:minLength value="1" />
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:attribute>
						<xsd:attribute name="schemeAgencySchemeAgencyID"
							type="xi4:AgencyIdentificationCode" />
					</xsd:extension>
				</xsd:simpleContent>
			</xsd:complexType>
			<xsd:complexType name="LogItemNotePlaceholderSubstitutionList">
				<xsd:sequence>
					<xsd:element name="FirstPlaceholderID" type="LogItemTemplatePlaceholderID" />
					<xsd:element name="SecondPlaceholderID" type="LogItemTemplatePlaceholderID"
						minOccurs="0" />
					<xsd:element name="ThirdPlaceholderID" type="LogItemTemplatePlaceholderID"
						minOccurs="0" />
					<xsd:element name="FourthPlaceholderID" type="LogItemTemplatePlaceholderID"
						minOccurs="0" />
					<xsd:element name="FirstPlaceholderSubstitutionText"
						type="LogItemPlaceholderSubstitutionText" />
					<xsd:element name="SecondPlaceholderSubstitutionText"
						type="LogItemPlaceholderSubstitutionText" minOccurs="0" />
					<xsd:element name="ThirdPlaceholderSubstitutionText"
						type="LogItemPlaceholderSubstitutionText" minOccurs="0" />
					<xsd:element name="FourthPlaceholderSubstitutionText"
						type="LogItemPlaceholderSubstitutionText" minOccurs="0" />
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="Log">
				<xsd:sequence>
					<xsd:element name="BusinessDocumentProcessingResultCode"
						type="ProcessingResultCode" minOccurs="0" />
					<xsd:element name="MaximumLogItemSeverityCode" type="LogItemSeverityCode"
						minOccurs="0" />
					<xsd:element name="Item" type="LogItem" minOccurs="0"
						maxOccurs="unbounded" />
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="PhoneNumber">
				<xsd:sequence>
					<xsd:element name="AreaID" type="PhoneNumberAreaID"
						minOccurs="0" />
					<xsd:element name="SubscriberID" type="PhoneNumberSubscriberID"
						minOccurs="0" />
					<xsd:element name="ExtensionID" type="PhoneNumberExtensionID"
						minOccurs="0" />
					<xsd:element name="CountryCode" type="CountryCode"
						minOccurs="0" />
					<xsd:element name="CountryDiallingCode" type="CountryDiallingCode"
						minOccurs="0" />
					<xsd:element name="CountryName" type="MEDIUM_Name"
						minOccurs="0" />
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="LogItem">
				<xsd:sequence>
					<xsd:element name="TypeID" type="LogItemTypeID"
						minOccurs="0" />
					<xsd:element name="CategoryCode" type="LogItemCategoryCode"
						minOccurs="0" />
					<xsd:element name="SeverityCode" type="LogItemSeverityCode"
						minOccurs="0" />
					<xsd:element name="ReferenceObjectNodeSenderTechnicalID"
						type="ObjectNodePartyTechnicalID" minOccurs="0" />
					<xsd:element name="ReferenceMessageElementName" type="LANGUAGEINDEPENDENT_Name"
						minOccurs="0" />
					<xsd:element name="Note" type="LogItemNote" />
					<xsd:element name="NoteTemplateText" type="LogItemNoteTemplateText"
						minOccurs="0" />
					<xsd:element name="LogItemNotePlaceholderSubstitutionList"
						type="LogItemNotePlaceholderSubstitutionList" minOccurs="0" />
					<xsd:element name="WebURI" type="WebURI" minOccurs="0" />
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="PartyInternalID">
				<xsd:annotation>
					<xsd:documentation xml:lang="EN">
						<ccts:RepresentationTerm
							xmlns:ccts="urn:un:unece:uncefact:documentation:standard:CoreComponentsTechnicalSpecification:3.0">Identifier</ccts:RepresentationTerm>
					</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleContent>
					<xsd:extension base="PartyInternalID.Content">
						<xsd:attribute name="schemeID">
							<xsd:simpleType>
								<xsd:restriction base="xsd:token">
									<xsd:maxLength value="60" />
									<xsd:minLength value="1" />
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:attribute>
						<xsd:attribute name="schemeAgencyID">
							<xsd:simpleType>
								<xsd:restriction base="xsd:token">
									<xsd:maxLength value="60" />
									<xsd:minLength value="1" />
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:attribute>
					</xsd:extension>
				</xsd:simpleContent>
			</xsd:complexType>
			<xsd:complexType name="BusinessDocumentMessageHeaderParty">
				<xsd:sequence>
					<xsd:element name="InternalID" type="PartyInternalID"
						minOccurs="0" />
					<xsd:element name="StandardID" type="PartyStandardID"
						minOccurs="0" maxOccurs="unbounded" />
					<xsd:element name="ContactPerson"
						type="BusinessDocumentMessageHeaderPartyContactPerson" minOccurs="0" />
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="EmailURI">
				<xsd:annotation>
					<xsd:documentation xml:lang="EN">
						<ccts:RepresentationTerm
							xmlns:ccts="urn:un:unece:uncefact:documentation:standard:CoreComponentsTechnicalSpecification:3.0">URI</ccts:RepresentationTerm>
					</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleContent>
					<xsd:extension base="xsd:anyURI">
						<xsd:attribute name="schemeID">
							<xsd:simpleType>
								<xsd:restriction base="xsd:token">
									<xsd:maxLength value="60" />
									<xsd:minLength value="1" />
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:attribute>
					</xsd:extension>
				</xsd:simpleContent>
			</xsd:complexType>
			<xsd:complexType name="ProcessComponentCode">
				<xsd:annotation>
					<xsd:documentation xml:lang="EN">
						<ccts:RepresentationTerm
							xmlns:ccts="urn:un:unece:uncefact:documentation:standard:CoreComponentsTechnicalSpecification:3.0">Code</ccts:RepresentationTerm>
					</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleContent>
					<xsd:extension base="ProcessComponentCode.Content">
						<xsd:attribute name="listID">
							<xsd:simpleType>
								<xsd:restriction base="xsd:token">
									<xsd:maxLength value="60" />
									<xsd:minLength value="1" />
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:attribute>
						<xsd:attribute name="listVersionID">
							<xsd:simpleType>
								<xsd:restriction base="xsd:token">
									<xsd:maxLength value="15" />
									<xsd:minLength value="1" />
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:attribute>
						<xsd:attribute name="listAgencyID">
							<xsd:simpleType>
								<xsd:restriction base="xsd:token">
									<xsd:maxLength value="60" />
									<xsd:minLength value="1" />
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:attribute>
					</xsd:extension>
				</xsd:simpleContent>
			</xsd:complexType>
			<xsd:complexType name="BusinessScopeInstanceID">
				<xsd:annotation>
					<xsd:documentation xml:lang="EN">
						<ccts:RepresentationTerm
							xmlns:ccts="urn:un:unece:uncefact:documentation:standard:CoreComponentsTechnicalSpecification:3.0">Identifier</ccts:RepresentationTerm>
					</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleContent>
					<xsd:extension base="BusinessScopeInstanceID.Content">
						<xsd:attribute name="schemeID">
							<xsd:simpleType>
								<xsd:restriction base="xsd:token">
									<xsd:maxLength value="60" />
									<xsd:minLength value="1" />
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:attribute>
						<xsd:attribute name="schemeAgencyID">
							<xsd:simpleType>
								<xsd:restriction base="xsd:token">
									<xsd:maxLength value="60" />
									<xsd:minLength value="1" />
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:attribute>
					</xsd:extension>
				</xsd:simpleContent>
			</xsd:complexType>
			<xsd:complexType name="ContactPersonInternalID">
				<xsd:annotation>
					<xsd:documentation xml:lang="EN">
						<ccts:RepresentationTerm
							xmlns:ccts="urn:un:unece:uncefact:documentation:standard:CoreComponentsTechnicalSpecification:3.0">Identifier</ccts:RepresentationTerm>
					</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleContent>
					<xsd:extension base="ContactPersonInternalID.Content">
						<xsd:attribute name="schemeID">
							<xsd:simpleType>
								<xsd:restriction base="xsd:token">
									<xsd:maxLength value="60" />
									<xsd:minLength value="1" />
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:attribute>
						<xsd:attribute name="schemeAgencyID">
							<xsd:simpleType>
								<xsd:restriction base="xsd:token">
									<xsd:maxLength value="60" />
									<xsd:minLength value="1" />
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:attribute>
					</xsd:extension>
				</xsd:simpleContent>
			</xsd:complexType>
			<xsd:complexType name="BusinessScopeID">
				<xsd:annotation>
					<xsd:documentation xml:lang="EN">
						<ccts:RepresentationTerm
							xmlns:ccts="urn:un:unece:uncefact:documentation:standard:CoreComponentsTechnicalSpecification:3.0">Identifier</ccts:RepresentationTerm>
					</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleContent>
					<xsd:extension base="BusinessScopeID.Content">
						<xsd:attribute name="schemeID">
							<xsd:simpleType>
								<xsd:restriction base="xsd:token">
									<xsd:maxLength value="60" />
									<xsd:minLength value="1" />
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:attribute>
						<xsd:attribute name="schemeAgencyID">
							<xsd:simpleType>
								<xsd:restriction base="xsd:token">
									<xsd:maxLength value="60" />
									<xsd:minLength value="1" />
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:attribute>
					</xsd:extension>
				</xsd:simpleContent>
			</xsd:complexType>
			<xsd:complexType name="BusinessScope">
				<xsd:sequence>
					<xsd:element name="TypeCode" type="BusinessScopeTypeCode" />
					<xsd:element name="InstanceID" type="BusinessScopeInstanceID"
						minOccurs="0" />
					<xsd:element name="ID" type="BusinessScopeID"
						minOccurs="0" />
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="UUID">
				<xsd:annotation>
					<xsd:documentation xml:lang="EN">
						<ccts:RepresentationTerm
							xmlns:ccts="urn:un:unece:uncefact:documentation:standard:CoreComponentsTechnicalSpecification:3.0">Identifier</ccts:RepresentationTerm>
					</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleContent>
					<xsd:extension base="UUID.Content">
						<xsd:attribute name="schemeID">
							<xsd:simpleType>
								<xsd:restriction base="xsd:token">
									<xsd:maxLength value="60" />
									<xsd:minLength value="1" />
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:attribute>
						<xsd:attribute name="schemeAgencyID">
							<xsd:simpleType>
								<xsd:restriction base="xsd:token">
									<xsd:maxLength value="60" />
									<xsd:minLength value="1" />
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:attribute>
					</xsd:extension>
				</xsd:simpleContent>
			</xsd:complexType>
		</xsd:schema>
		<xsd:schema targetNamespace="http://sap.com/xi/BASIS/Global"
			xmlns="http://sap.com/xi/BASIS/Global" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
			<xsd:simpleType name="AgencyIdentificationCode">
				<xsd:annotation>
					<xsd:documentation xml:lang="EN">
						<ccts:RepresentationTerm
							xmlns:ccts="urn:un:unece:uncefact:documentation:standard:CoreComponentsTechnicalSpecification:3.0">Code</ccts:RepresentationTerm>
					</xsd:documentation>
				</xsd:annotation>
				<xsd:restriction base="xsd:token">
					<xsd:enumeration value="1" />
					<xsd:enumeration value="5" />
					<xsd:enumeration value="6" />
					<xsd:enumeration value="16" />
					<xsd:enumeration value="17" />
					<xsd:enumeration value="84" />
					<xsd:enumeration value="107" />
					<xsd:enumeration value="109" />
					<xsd:enumeration value="112" />
					<xsd:enumeration value="113" />
					<xsd:enumeration value="114" />
					<xsd:enumeration value="116" />
					<xsd:enumeration value="117" />
					<xsd:enumeration value="124" />
					<xsd:enumeration value="130" />
					<xsd:enumeration value="131" />
					<xsd:enumeration value="138" />
					<xsd:enumeration value="142" />
					<xsd:enumeration value="146" />
					<xsd:enumeration value="262" />
					<xsd:enumeration value="296" />
					<xsd:enumeration value="310" />
					<xsd:maxLength value="3" />
					<xsd:minLength value="1" />
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:simpleType name="GLOBAL_DateTime">
				<xsd:annotation>
					<xsd:documentation xml:lang="EN">
						<ccts:RepresentationTerm
							xmlns:ccts="urn:un:unece:uncefact:documentation:standard:CoreComponentsTechnicalSpecification:3.0">DateTime</ccts:RepresentationTerm>
					</xsd:documentation>
				</xsd:annotation>
				<xsd:restriction base="xsd:dateTime">
					<xsd:pattern
						value="[0-9]{4}-[0-9]{2}-[0-9]{2}T[0-9]{2}:[0-9]{2}:[0-9]{2}(.[0-9]{1,7})?Z" />
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:simpleType name="LanguageCode">
				<xsd:annotation>
					<xsd:documentation xml:lang="EN">
						<ccts:RepresentationTerm
							xmlns:ccts="urn:un:unece:uncefact:documentation:standard:CoreComponentsTechnicalSpecification:3.0">Code</ccts:RepresentationTerm>
					</xsd:documentation>
				</xsd:annotation>
				<xsd:restriction base="xsd:language">
					<xsd:maxLength value="2" />
					<xsd:minLength value="2" />
				</xsd:restriction>
			</xsd:simpleType>
		</xsd:schema>
		<xsd:schema targetNamespace="http://sap.com/xi/SAPGlobal20/Global"
			xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://sap.com/xi/SAPGlobal20/Global"
			xmlns:xi2="http://sap.com/xi/CommunicationServicesManagement/Global">
			<xsd:import
				namespace="http://sap.com/xi/CommunicationServicesManagement/Global" />
			<xsd:element name="ConnectivityCheckQuery_sync" type="xi2:ConnectivityCheckRequest" />
			<xsd:element name="ConnectivityChecQueryResponse_sync"
				type="xi2:ConnectivityCheckResponse" />
		</xsd:schema>
		<xsd:schema targetNamespace="http://xiTest.com/xi/test"
			xmlns:xi5="http://sap.com/xi/AP/Common/GDT" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
			xmlns="http://xiTest.com/xi/test">
			<xsd:import namespace="http://sap.com/xi/AP/Common/GDT" />
			<xsd:group name="BusDocMsgHeaderTestContainer">
				<xsd:sequence>
					<xsd:element name="TestID" type="xi5:BusinessScopeID"
						minOccurs="0" form="qualified" />
					<xsd:element name="TestRunID" type="xi5:BusinessScopeInstanceID"
						minOccurs="0" form="qualified" />
					<xsd:element name="ProcessComponentPair" type="BusDocMsgHeaderTestPCs"
						minOccurs="0" maxOccurs="unbounded" form="qualified" />
					<xsd:element name="BusinessConfigurationSimulationInformation"
						type="BusinessConfigurationSimulationInformation" minOccurs="0"
						maxOccurs="unbounded" form="qualified" />
				</xsd:sequence>
			</xsd:group>
			<xsd:complexType name="BusinessConfigurationSimulationInformation">
				<xsd:sequence>
					<xsd:element name="TestDataContainerName" type="xi5:LANGUAGEINDEPENDENT_MEDIUM_Name" />
					<xsd:element name="VariantID" type="xi5:VersionID" />
					<xsd:element name="ParameterName" type="xi5:LANGUAGEINDEPENDENT_MEDIUM_Name" />
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="BusDocMsgHeaderTestPCs">
				<xsd:sequence>
					<xsd:element name="LocalProcessComponentCode" type="xi5:ProcessComponentCode" />
					<xsd:element name="RemoteProcessComponentCode" type="xi5:ProcessComponentCode" />
				</xsd:sequence>
			</xsd:complexType>
		</xsd:schema>
		<xsd:schema targetNamespace="http://sap.com/xi/CommunicationServicesManagement/Global"
			xmlns:xi5="http://sap.com/xi/AP/Common/GDT" xmlns:xi4="http://sap.com/xi/BASIS/Global"
			xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://sap.com/xi/CommunicationServicesManagement/Global">
			<xsd:import namespace="http://sap.com/xi/AP/Common/GDT" />
			<xsd:import namespace="http://sap.com/xi/BASIS/Global" />
			<xsd:complexType name="ConnectivityCheckRequest">
				<xsd:sequence>
					<xsd:element name="MessageHeader" type="xi5:BusinessDocumentMessageHeader"
						minOccurs="0" />
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="ConnectivityCheckResponse">
				<xsd:sequence>
					<xsd:element name="MessageHeader" type="xi5:BusinessDocumentMessageHeader"
						minOccurs="0" />
					<xsd:element name="Timestamp" type="xi4:GLOBAL_DateTime"
						minOccurs="0" />
					<xsd:element name="Log" type="xi5:Log" minOccurs="0" />
				</xsd:sequence>
			</xsd:complexType>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="p1.ConnectivityCheckQuery_sync">
		<wsdl:documentation />
		<wsdl:part name="ConnectivityCheckQuery_sync" element="n2:ConnectivityCheckQuery_sync"
			xmlns:n2="http://sap.com/xi/SAPGlobal20/Global" />
	</wsdl:message>
	<wsdl:message name="p1.ConnectivityChecQueryResponse_sync">
		<wsdl:documentation />
		<wsdl:part name="ConnectivityChecQueryResponse_sync"
			element="n2:ConnectivityChecQueryResponse_sync" xmlns:n2="http://sap.com/xi/SAPGlobal20/Global" />
	</wsdl:message>
	<wsdl:portType name="CheckConnectivityConsumer">
		<wsdl:documentation />
		<wsdl:operation name="CheckConnectivityConsumer">
			<wsdl:documentation />
			<wsp:Policy>
				<wsp:PolicyReference URI="#OP_CheckConnectivityConsumer" />
			</wsp:Policy>
			<wsdl:input message="p1:p1.ConnectivityCheckQuery_sync" />
			<wsdl:output message="p1:p1.ConnectivityChecQueryResponse_sync" />
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="CheckConnectivityConsumerBinding"
		type="p1:CheckConnectivityConsumer">
		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" />
		<wsdl:operation name="CheckConnectivityConsumer">
			<soap:operation soapAction="CheckConnectivity"
				xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" />
			<wsdl:input>
				<soap:body use="literal" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="CheckConnectivityConsumer">
		<wsdl:port name="CheckConnectivityConsumer" binding="p1:CheckConnectivityConsumerBinding">
			<soap:address location="http://www.example.org/"
				xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
