Resources/schemas/Wsdl/SAP_Document_Compliance-_Template_for_Electronic_Document_Integration - TimbradoCFDServiceExternal.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="EnviarXmlCancelacionCFDIUsr">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="xmlCancelacion" type="s:base64Binary" />
            <s:element minOccurs="0" maxOccurs="1" name="strUser" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strPwd" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="EnviarXmlCancelacionCFDIUsrResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="EnviarXmlCancelacionCFDIUsrResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ConsultaCancelacionCFDIUsr">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UUIDs" type="tns:ArrayOfString" />
            <s:element minOccurs="0" maxOccurs="1" name="strUser" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strPwd" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfString">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="string" nillable="true" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="ConsultaCancelacionCFDIUsrResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ConsultaCancelacionCFDIUsrResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="TimbradoCFDStrXML">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strXML" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strUser" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strPass" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="TimbradoCFDStrXMLResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="TimbradoCFDStrXMLResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetEstatuUser">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strUser" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strPass" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetEstatuUserResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetEstatuUserResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="TimbradoCFDStr">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strXML" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strUser" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strPass" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="TimbradoCFDStrResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="TimbradoCFDStrResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="EnviarXmlCancelacionCFDIUsrSoapIn">
    <wsdl:part name="parameters" element="tns:EnviarXmlCancelacionCFDIUsr" />
  </wsdl:message>
  <wsdl:message name="EnviarXmlCancelacionCFDIUsrSoapOut">
    <wsdl:part name="parameters" element="tns:EnviarXmlCancelacionCFDIUsrResponse" />
  </wsdl:message>
  <wsdl:message name="ConsultaCancelacionCFDIUsrSoapIn">
    <wsdl:part name="parameters" element="tns:ConsultaCancelacionCFDIUsr" />
  </wsdl:message>
  <wsdl:message name="ConsultaCancelacionCFDIUsrSoapOut">
    <wsdl:part name="parameters" element="tns:ConsultaCancelacionCFDIUsrResponse" />
  </wsdl:message>
  <wsdl:message name="TimbradoCFDStrXMLSoapIn">
    <wsdl:part name="parameters" element="tns:TimbradoCFDStrXML" />
  </wsdl:message>
  <wsdl:message name="TimbradoCFDStrXMLSoapOut">
    <wsdl:part name="parameters" element="tns:TimbradoCFDStrXMLResponse" />
  </wsdl:message>
  <wsdl:message name="GetEstatuUserSoapIn">
    <wsdl:part name="parameters" element="tns:GetEstatuUser" />
  </wsdl:message>
  <wsdl:message name="GetEstatuUserSoapOut">
    <wsdl:part name="parameters" element="tns:GetEstatuUserResponse" />
  </wsdl:message>
  <wsdl:message name="TimbradoCFDStrSoapIn">
    <wsdl:part name="parameters" element="tns:TimbradoCFDStr" />
  </wsdl:message>
  <wsdl:message name="TimbradoCFDStrSoapOut">
    <wsdl:part name="parameters" element="tns:TimbradoCFDStrResponse" />
  </wsdl:message>
  <wsdl:portType name="TimbradoCFDServiceExternalSoap">
    <wsdl:operation name="EnviarXmlCancelacionCFDIUsr">
      <wsdl:input message="tns:EnviarXmlCancelacionCFDIUsrSoapIn" />
      <wsdl:output message="tns:EnviarXmlCancelacionCFDIUsrSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ConsultaCancelacionCFDIUsr">
      <wsdl:input message="tns:ConsultaCancelacionCFDIUsrSoapIn" />
      <wsdl:output message="tns:ConsultaCancelacionCFDIUsrSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="TimbradoCFDStrXML">
      <wsdl:input message="tns:TimbradoCFDStrXMLSoapIn" />
      <wsdl:output message="tns:TimbradoCFDStrXMLSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetEstatuUser">
      <wsdl:input message="tns:GetEstatuUserSoapIn" />
      <wsdl:output message="tns:GetEstatuUserSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="TimbradoCFDStr">
      <wsdl:input message="tns:TimbradoCFDStrSoapIn" />
      <wsdl:output message="tns:TimbradoCFDStrSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="TimbradoCFDServiceExternalSoap" type="tns:TimbradoCFDServiceExternalSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="EnviarXmlCancelacionCFDIUsr">
      <soap:operation soapAction="http://tempuri.org/EnviarXmlCancelacionCFDIUsr" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConsultaCancelacionCFDIUsr">
      <soap:operation soapAction="http://tempuri.org/ConsultaCancelacionCFDIUsr" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TimbradoCFDStrXML">
      <soap:operation soapAction="http://tempuri.org/TimbradoCFDStrXML" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetEstatuUser">
      <soap:operation soapAction="http://tempuri.org/GetEstatuUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TimbradoCFDStr">
      <soap:operation soapAction="http://tempuri.org/TimbradoCFDStr" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="TimbradoCFDServiceExternalSoap12" type="tns:TimbradoCFDServiceExternalSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="EnviarXmlCancelacionCFDIUsr">
      <soap12:operation soapAction="http://tempuri.org/EnviarXmlCancelacionCFDIUsr" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConsultaCancelacionCFDIUsr">
      <soap12:operation soapAction="http://tempuri.org/ConsultaCancelacionCFDIUsr" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TimbradoCFDStrXML">
      <soap12:operation soapAction="http://tempuri.org/TimbradoCFDStrXML" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetEstatuUser">
      <soap12:operation soapAction="http://tempuri.org/GetEstatuUser" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TimbradoCFDStr">
      <soap12:operation soapAction="http://tempuri.org/TimbradoCFDStr" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="TimbradoCFDServiceExternal">
    <wsdl:port name="TimbradoCFDServiceExternalSoap" binding="tns:TimbradoCFDServiceExternalSoap">
      <soap:address location="https://www.masfacturaweb.com.mx:99/TimbradoCFDServiceExternal.asmx" />
    </wsdl:port>
    <wsdl:port name="TimbradoCFDServiceExternalSoap12" binding="tns:TimbradoCFDServiceExternalSoap12">
      <soap12:address location="https://www.masfacturaweb.com.mx:99/TimbradoCFDServiceExternal.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>