Resources/schemas/Wsdl/SAP_ERP_HCM_integration_with_Pension_Fund_Authority_-_UNJSPF_for_NPO_HR_Master_Data - CommonHr-1.wsdl

<?xml version="1.0" encoding="ISO-8859-1"?>
<definitions
    xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata"
    xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd"
    xmlns:wsse="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd"	
    xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy"
    xmlns:tns="http://DataCollectionLibrary/org/unjspf/ws/datacollection/Hr"
    xmlns:wsp="http://www.w3.org/ns/ws-policy"
    xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://DataCollectionLibrary/org/unjspf/ws/datacollection/Hr" name="CommonHrService_CommonHrHttpService">
    <types>
        <xsd:schema>
            <xsd:import schemaLocation="CommonHrServiceCommonHrHttpService_schema1.xsd" namespace="http://datacollection.unjspf.org/hr-1.0"/>
        </xsd:schema>
        <xsd:schema>
            <xsd:import schemaLocation="CommonHrServiceCommonHrHttpService_schema2.xsd" namespace="http://DataCollectionLibrary/org/unjspf/ws/datacollection/Hr"/>
        </xsd:schema>
    </types>
    <message name="getReportsResponse">
        <part name="parameters" element="tns:getReportsResponse"></part>
    </message>
    <message name="synchronizeStaffMemberDataResponse">
        <part name="parameters" element="tns:synchronizeStaffMemberDataResponse"></part>
    </message>
    <message name="TransmitStaffMemberDataTransmitStaffMemberDataFaultMsg">
        <part name="fault" element="tns:transmitStaffMemberDataFault1_transmitStaffMemberDataFault"></part>
    </message>
    <message name="SynchronizeStaffMemberDataSynchronizeStaffMemberDataFaultMsg">
        <part name="fault" element="tns:synchronizeStaffMemberDataFault"></part>
    </message>
    <message name="getReports">
        <part name="parameters" element="tns:getReports"></part>
    </message>
    <message name="synchronizeStaffMemberData">
        <part name="parameters" element="tns:synchronizeStaffMemberData"></part>
    </message>
    <message name="GetReportsGetReportsFaultMsg">
        <part name="fault" element="tns:getReportsFault1_getReportsFault"></part>
    </message>
    <message name="transmitStaffMemberData">
        <part name="parameters" element="tns:transmitStaffMemberData"></part>
    </message>
    <message name="transmitStaffMemberDataResponse">
        <part name="parameters" element="tns:transmitStaffMemberDataResponse"></part>
    </message>
    <portType name="CommonHr">
        <operation name="getReports">
            <input wsam:Action="http://DataCollectionLibrary/org/unjspf/ws/datacollection/Hr/CommonHr/getReportsRequest" message="tns:getReports"></input>
            <output wsam:Action="http://DataCollectionLibrary/org/unjspf/ws/datacollection/Hr/CommonHr/getReportsResponse" message="tns:getReportsResponse"></output>
            <fault name="GetReportsGetReportsFaultMsg" wsam:Action="http://DataCollectionLibrary/org/unjspf/ws/datacollection/Hr/CommonHr/getReports/Fault/GetReportsGetReportsFaultMsg" message="tns:GetReportsGetReportsFaultMsg"></fault>
        </operation>
        <operation name="synchronizeStaffMemberData">
            <input wsam:Action="http://DataCollectionLibrary/org/unjspf/ws/datacollection/Hr/CommonHr/synchronizeStaffMemberDataRequest" message="tns:synchronizeStaffMemberData"></input>
            <output wsam:Action="http://DataCollectionLibrary/org/unjspf/ws/datacollection/Hr/CommonHr/synchronizeStaffMemberDataResponse" message="tns:synchronizeStaffMemberDataResponse"></output>
            <fault name="SynchronizeStaffMemberDataSynchronizeStaffMemberDataFaultMsg" wsam:Action="http://DataCollectionLibrary/org/unjspf/ws/datacollection/Hr/CommonHr/synchronizeStaffMemberData/Fault/SynchronizeStaffMemberDataSynchronizeStaffMemberDataFaultMsg" message="tns:SynchronizeStaffMemberDataSynchronizeStaffMemberDataFaultMsg"></fault>
        </operation>
        <operation name="transmitStaffMemberData">
            <input wsam:Action="http://DataCollectionLibrary/org/unjspf/ws/datacollection/Hr/CommonHr/transmitStaffMemberDataRequest" message="tns:transmitStaffMemberData"></input>
            <output wsam:Action="http://DataCollectionLibrary/org/unjspf/ws/datacollection/Hr/CommonHr/transmitStaffMemberDataResponse" message="tns:transmitStaffMemberDataResponse"></output>
            <fault name="TransmitStaffMemberDataTransmitStaffMemberDataFaultMsg" wsam:Action="http://DataCollectionLibrary/org/unjspf/ws/datacollection/Hr/CommonHr/transmitStaffMemberData/Fault/TransmitStaffMemberDataTransmitStaffMemberDataFaultMsg" message="tns:TransmitStaffMemberDataTransmitStaffMemberDataFaultMsg"></fault>
        </operation>
    </portType>
    <binding name="CommonHrBinding" type="tns:CommonHr">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <operation name="getReports">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="GetReportsGetReportsFaultMsg">
                <soap:fault name="GetReportsGetReportsFaultMsg" use="literal"/>
            </fault>
        </operation>
        <operation name="synchronizeStaffMemberData">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="SynchronizeStaffMemberDataSynchronizeStaffMemberDataFaultMsg">
                <soap:fault name="SynchronizeStaffMemberDataSynchronizeStaffMemberDataFaultMsg" use="literal"/>
            </fault>
        </operation>
        <operation name="transmitStaffMemberData">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="TransmitStaffMemberDataTransmitStaffMemberDataFaultMsg">
                <soap:fault name="TransmitStaffMemberDataTransmitStaffMemberDataFaultMsg" use="literal"/>
            </fault>
        </operation>
    </binding>
    <service name="CommonHrService_CommonHrHttpService">
        <port name="CommonHr" binding="tns:CommonHrBinding">
            <soap:address location="https://testservices.unjspf.org:443/ws.CommonSoapServices/CommonHrService_CommonHrHttpService"/>
        </port>
    </service>
</definitions>

