Resources/schemas/Wsdl/SAP_Document_Compliance-_Template_for_Electronic_Document_Integration - eDocMexicoCFDI_Original-1.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:tns1="http://www.sap.com/eDocument/Mexico/CFDI/v1.0" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="CFDIeDocuments"
	targetNamespace="http://www.sap.com/eDocument/Mexico/CFDI/v1.0"
	xmlns:cfdi="http://www.sat.gob.mx/cfd/3">
	<wsdl:types>
		<xs:schema elementFormDefault="qualified"
			attributeFormDefault="unqualified" targetNamespace="http://www.sap.com/eDocument/Mexico/CFDI/v1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns1="http://www.sap.com/eDocument/Mexico/CFDI/v1.0" xmlns:cfdi="http://www.sat.gob.mx/cfd/3" xmlns:Q1="http://www.sat.gob.mx/TimbreFiscalDigital" xmlns:Q2="http://www.sat.gob.mx/sitio_internet/cfd/tipoDatos/tdCFDI">

            <xs:import schemaLocation="tdCFDI.xsd" namespace="http://www.sat.gob.mx/sitio_internet/cfd/tipoDatos/tdCFDI"></xs:import>
            <xs:import schemaLocation="complemento/TimbreFiscalDigitalv11.xsd" namespace="http://www.sat.gob.mx/TimbreFiscalDigital"></xs:import>
            <xs:import schemaLocation="cfdv33.xsd" namespace="http://www.sat.gob.mx/cfd/3"></xs:import>
            <xs:element name="CFDSubmitRequest" type="tns1:CFDSubmitRequestType">
			</xs:element>

			<xs:element name="CFDCancelRequest">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Emisor">
							<xs:annotation>
								<xs:documentation>
									Datos del Emisor del CFD a Cancelar,
									Refacturar, Consultar o Reenviar
								</xs:documentation>
							</xs:annotation>
							<xs:complexType>
								<xs:attribute name="rfc" type="tns1:t_RFC" use="required">
									<xs:annotation>
										<xs:documentation>
											RFC del Emisor
										</xs:documentation>
									</xs:annotation>
								</xs:attribute>
							</xs:complexType>
						</xs:element>
						<xs:element name="Transaccion">
							<xs:complexType>
								<xs:attribute name="id" use="required">
									<xs:annotation>
										<xs:documentation>
											Número de transaccion
											(Generado por el
											sistema que
											realiza la solicitud)
										</xs:documentation>
									</xs:annotation>
									<xs:simpleType>
										<xs:restriction base="xs:string">
											<xs:minLength value="1" />
											<xs:whiteSpace value="collapse" />
										</xs:restriction>
									</xs:simpleType>
								</xs:attribute>
								<xs:attribute name="tipo" use="required">
									<xs:annotation>
										<xs:documentation>
											Tipo de transacción
											solicitada
										</xs:documentation>
									</xs:annotation>
									<xs:simpleType>
										<xs:restriction base="xs:NMTOKEN">
											<xs:enumeration value="CANCELACION" />
											<xs:enumeration value="REEMISION" />
											<xs:enumeration value="CONSULTA" />
											<xs:enumeration value="REENVIO" />
										</xs:restriction>
									</xs:simpleType>
								</xs:attribute>
							</xs:complexType>
						</xs:element>
						<xs:element name="Receptor" minOccurs="0">
							<xs:complexType>
								<xs:attribute name="rfc" type="tns1:t_RFC" use="required">
									<xs:annotation>
										<xs:documentation>
											RFC del Receptor
										</xs:documentation>
									</xs:annotation>
								</xs:attribute>
								<xs:attribute name="emailReceptor" use="optional">
									<xs:annotation>
										<xs:documentation>
											Correo electrónico del
											Receptor
										</xs:documentation>
									</xs:annotation>
									<xs:simpleType>
										<xs:restriction base="xs:string">
											<xs:minLength value="1" />
											<xs:whiteSpace value="collapse" />
											<xs:pattern
												value="[A-Za-z0-9_]+([\-+\.][A-Za-z0-9_]+)*@[A-Za-z0-9_]+([\-\.][A-Za-z0-9_]+)*\.[A-Za-z0-9_]+([\-\.][A-Za-z0-9_]+)*" />
										</xs:restriction>
									</xs:simpleType>
								</xs:attribute>
								<xs:attribute name="codigoReceptor" use="optional">
									<xs:annotation>
										<xs:documentation>
											Atributo opcional del codigo
											del receptor.
										</xs:documentation>
									</xs:annotation>
									<xs:simpleType>
										<xs:restriction base="xs:string">
											<xs:minLength value="1" />
											<xs:whiteSpace value="collapse" />
										</xs:restriction>
									</xs:simpleType>
								</xs:attribute>
							</xs:complexType>
						</xs:element>
						<xs:element name="CFD">
							<xs:annotation>
								<xs:documentation>
									Datos del CFD a Cancelar,
									Refacturar, Consultar
									ó Reenviar.
								</xs:documentation>
							</xs:annotation>
							<xs:complexType>
								<xs:attribute name="serie" use="optional">
									<xs:annotation>
										<xs:documentation>
											Serie a la que corresponde
											el CFD
										</xs:documentation>
									</xs:annotation>
									<xs:simpleType>
										<xs:restriction base="xs:string">
											<xs:minLength value="1" />
											<xs:maxLength value="10" />
											<xs:whiteSpace value="collapse" />
										</xs:restriction>
									</xs:simpleType>
								</xs:attribute>
								<xs:attribute name="folio" use="required">
									<xs:annotation>
										<xs:documentation>
											Folio del CFD
										</xs:documentation>
									</xs:annotation>
									<xs:simpleType>
										<xs:restriction base="xs:string">
											<xs:minLength value="1" />
											<xs:maxLength value="20" />
											<xs:whiteSpace value="collapse" />
											<xs:pattern value="[0-9]+" />
										</xs:restriction>
									</xs:simpleType>
								</xs:attribute>
								<xs:attribute name="UUID" use="optional">
									<xs:annotation>
										<xs:documentation>
											Atributo opcional para
											expresar los 36
											caracteres
											del UUID del Timbre Fiscal
											Digital (en caso de que
											el
											comprobante sea versión 3)
										</xs:documentation>
									</xs:annotation>
									<xs:simpleType>
										<xs:restriction base="xs:string">
											<xs:whiteSpace value="collapse" />
											<xs:length value="36" />
											<xs:pattern
												value="[a-f0-9A-F]{8}-[a-f0-9A-F]{4}-[a-f0-9A-F]{4}-[a-f0-9A-F]{4}-[a-f0-9A-F]{12}" />
										</xs:restriction>
									</xs:simpleType>
								</xs:attribute>
								<xs:attribute name="fechaCancelacion" use="optional">
									<xs:annotation>
										<xs:documentation>
											Fecha y hora de cancelación
											del CFD, solo
											aplicable en
											la solicitud de cancelación
										</xs:documentation>
									</xs:annotation>
								</xs:attribute>
							</xs:complexType>
						</xs:element>
						<xs:element name="CompanyCode" type="xs:string"
							maxOccurs="1" minOccurs="1">
						</xs:element>
					</xs:sequence>
					<xs:attribute name="version" use="required" fixed="1.0">
						<xs:annotation>
							<xs:documentation>
								Atributo requerido que indica la versión
								bajo el
								que se encuentra expresado el
								documento.
							</xs:documentation>
						</xs:annotation>
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:whiteSpace value="collapse" />
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
				</xs:complexType>
			</xs:element>
			<xs:element name="CFDGetStatusRequest">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Emisor">
							<xs:annotation>
								<xs:documentation>
									Datos del Emisor del CFD a Cancelar,
									Refacturar, Consultar o Reenviar
								</xs:documentation>
							</xs:annotation>
							<xs:complexType>
								<xs:attribute name="rfc" type="tns1:t_RFC" use="required">
									<xs:annotation>
										<xs:documentation>
											RFC del Emisor
										</xs:documentation>
									</xs:annotation>
								</xs:attribute>
							</xs:complexType>
						</xs:element>
						<xs:element name="Transaccion">
							<xs:complexType>
								<xs:attribute name="id" use="required">
									<xs:annotation>
										<xs:documentation>
											Número de transaccion
											(Generado por el
											sistema que
											realiza la solicitud)
										</xs:documentation>
									</xs:annotation>
									<xs:simpleType>
										<xs:restriction base="xs:string">
											<xs:minLength value="1" />
											<xs:whiteSpace value="collapse" />
										</xs:restriction>
									</xs:simpleType>
								</xs:attribute>
								<xs:attribute name="tipo" use="required">
									<xs:annotation>
										<xs:documentation>
											Tipo de transacción
											solicitada
										</xs:documentation>
									</xs:annotation>
									<xs:simpleType>
										<xs:restriction base="xs:NMTOKEN">
											<xs:enumeration value="CANCELACION" />
											<xs:enumeration value="REEMISION" />
											<xs:enumeration value="CONSULTA" />
											<xs:enumeration value="REENVIO" />
										</xs:restriction>
									</xs:simpleType>
								</xs:attribute>
							</xs:complexType>
						</xs:element>
						<xs:element name="Receptor" minOccurs="0">
							<xs:complexType>
								<xs:attribute name="rfc" type="tns1:t_RFC" use="required">
									<xs:annotation>
										<xs:documentation>
											RFC del Receptor
										</xs:documentation>
									</xs:annotation>
								</xs:attribute>
								<xs:attribute name="emailReceptor" use="optional">
									<xs:annotation>
										<xs:documentation>
											Correo electrónico del
											Receptor
										</xs:documentation>
									</xs:annotation>
									<xs:simpleType>
										<xs:restriction base="xs:string">
											<xs:minLength value="1" />
											<xs:whiteSpace value="collapse" />
											<xs:pattern
												value="[A-Za-z0-9_]+([\-+\.][A-Za-z0-9_]+)*@[A-Za-z0-9_]+([\-\.][A-Za-z0-9_]+)*\.[A-Za-z0-9_]+([\-\.][A-Za-z0-9_]+)*" />
										</xs:restriction>
									</xs:simpleType>
								</xs:attribute>
								<xs:attribute name="codigoReceptor" use="optional">
									<xs:annotation>
										<xs:documentation>
											Atributo opcional del codigo
											del receptor.
										</xs:documentation>
									</xs:annotation>
									<xs:simpleType>
										<xs:restriction base="xs:string">
											<xs:minLength value="1" />
											<xs:whiteSpace value="collapse" />
										</xs:restriction>
									</xs:simpleType>
								</xs:attribute>
							</xs:complexType>
						</xs:element>
						<xs:element name="CFD">
							<xs:annotation>
								<xs:documentation>
									Datos del CFD a Cancelar,
									Refacturar, Consultar
									ó Reenviar.
								</xs:documentation>
							</xs:annotation>
							<xs:complexType>
								<xs:attribute name="serie" use="optional">
									<xs:annotation>
										<xs:documentation>
											Serie a la que corresponde
											el CFD
										</xs:documentation>
									</xs:annotation>
									<xs:simpleType>
										<xs:restriction base="xs:string">
											<xs:minLength value="1" />
											<xs:maxLength value="10" />
											<xs:whiteSpace value="collapse" />
										</xs:restriction>
									</xs:simpleType>
								</xs:attribute>
								<xs:attribute name="folio" use="required">
									<xs:annotation>
										<xs:documentation>
											Folio del CFD
										</xs:documentation>
									</xs:annotation>
									<xs:simpleType>
										<xs:restriction base="xs:string">
											<xs:minLength value="1" />
											<xs:maxLength value="20" />
											<xs:whiteSpace value="collapse" />
											<xs:pattern value="[0-9]+" />
										</xs:restriction>
									</xs:simpleType>
								</xs:attribute>
								<xs:attribute name="UUID" use="optional">
									<xs:annotation>
										<xs:documentation>
											Atributo opcional para
											expresar los 36
											caracteres
											del UUID del Timbre Fiscal
											Digital (en caso de que
											el
											comprobante sea versión 3)
										</xs:documentation>
									</xs:annotation>
									<xs:simpleType>
										<xs:restriction base="xs:string">
											<xs:whiteSpace value="collapse" />
											<xs:length value="36" />
											<xs:pattern
												value="[a-f0-9A-F]{8}-[a-f0-9A-F]{4}-[a-f0-9A-F]{4}-[a-f0-9A-F]{4}-[a-f0-9A-F]{12}" />
										</xs:restriction>
									</xs:simpleType>
								</xs:attribute>
								<xs:attribute name="fechaCancelacion" use="optional">
									<xs:annotation>
										<xs:documentation>
											Fecha y hora de cancelación
											del CFD, solo
											aplicable en
											la solicitud de cancelación
										</xs:documentation>
									</xs:annotation>
								</xs:attribute>
							</xs:complexType>
						</xs:element>
						<xs:element name="CompanyCode" type="xs:string"
							maxOccurs="1" minOccurs="1">
						</xs:element>
					</xs:sequence>
					<xs:attribute name="version" use="required" fixed="1.0">
						<xs:annotation>
							<xs:documentation>
								Atributo requerido que indica la versión
								bajo el
								que se encuentra expresado el
								documento.
							</xs:documentation>
						</xs:annotation>
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:whiteSpace value="collapse" />
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
				</xs:complexType>
			</xs:element>
			<!-- <xs:simpleType name="t_RFC"> <xs:restriction base="xs:string"> <xs:minLength 
				value="12" /> <xs:maxLength value="13" /> <xs:whiteSpace value="collapse" 
				/> </xs:restriction> </xs:simpleType> -->
			<xs:element name="PACResponse">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="EncodedZippedResponse"
							type="xs:base64Binary" maxOccurs="1" minOccurs="0">
						</xs:element>
						<xs:element name="SignedDocument"
							type="xs:base64Binary" minOccurs="0" maxOccurs="1">
						</xs:element>
						<xs:element name="SATResponse"
							type="tns1:SATResponseType" minOccurs="0" maxOccurs="1">
						</xs:element>
                        <xs:element ref="Q1:TimbreFiscalDigital"></xs:element>
                        <xs:element name="Error" minOccurs="0"
							maxOccurs="unbounded">
							<xs:annotation>
								<xs:documentation>
									Errores detectados. Aplica en caso
									de Transacciones concluidas con
									Error
								</xs:documentation>
							</xs:annotation>
							<xs:complexType>
								<xs:attribute name="noIdentificacion"
									use="required">
									<xs:annotation>
										<xs:documentation>
											Numero de Identificacion del
											Error
										</xs:documentation>
									</xs:annotation>
									<xs:simpleType>
										<xs:restriction
											base="xs:string">
											<xs:minLength value="1" />
											<xs:whiteSpace
												value="collapse" />
										</xs:restriction>
									</xs:simpleType>
								</xs:attribute>
								<xs:attribute name="descripcion"
									use="required">
									<xs:annotation>
										<xs:documentation>
											Texto que describe el Error
										</xs:documentation>
									</xs:annotation>
									<xs:simpleType>
										<xs:restriction
											base="xs:string">
											<xs:minLength value="1" />
											<xs:whiteSpace
												value="collapse" />
										</xs:restriction>
									</xs:simpleType>
								</xs:attribute>
							</xs:complexType>
						</xs:element>

					</xs:sequence>


				</xs:complexType>
			</xs:element>

			<xs:complexType name="t_InformacionAduanera">
				<xs:annotation>
					<xs:documentation>
						Tipo definido para expresar información aduanera
					</xs:documentation>
				</xs:annotation>
				<xs:attribute name="numero" use="required">
					<xs:annotation>
						<xs:documentation>
							Atributo requerido para expresar el número
							del
							documento aduanero que ampara la
							importación del bien.
						</xs:documentation>
					</xs:annotation>
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:minLength value="1" />
							<xs:whiteSpace value="collapse" />
						</xs:restriction>
					</xs:simpleType>
				</xs:attribute>
				<xs:attribute name="fecha" use="required">
					<xs:annotation>
						<xs:documentation>
							Atributo requerido para expresar la fecha de
							expedición del documento aduanero que ampara
							la importación del
							bien.
						</xs:documentation>
					</xs:annotation>
					<xs:simpleType>
						<xs:restriction base="xs:date">
							<xs:whiteSpace value="collapse" />
						</xs:restriction>
					</xs:simpleType>
				</xs:attribute>
				<xs:attribute name="aduana" use="required">
					<xs:annotation>
						<xs:documentation>
							Atributo requerido para precisar la aduana
							por la
							que se efectuó la importación del
							bien.
						</xs:documentation>
					</xs:annotation>
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:minLength value="1" />
							<xs:whiteSpace value="collapse" />
						</xs:restriction>
					</xs:simpleType>
				</xs:attribute>
			</xs:complexType>

			<xs:complexType name="CFDSubmitRequestType">
				<xs:sequence>

                    <xs:element name="Comprobante" type="cfdi:t_Comprobante"></xs:element>
                    <xs:element name="ServiceProvider" type="xs:string"
						minOccurs="1" maxOccurs="1">
					</xs:element>
				</xs:sequence>
			</xs:complexType>

			<xs:simpleType name="t_RFC">
				<xs:annotation>
					<xs:documentation>Tipo definido para expresar claves del Registro
						Federal de Contribuyentes
					</xs:documentation>
				</xs:annotation>
				<xs:restriction base="xs:string">
					<xs:minLength value="12" />
					<xs:maxLength value="13" />
					<xs:whiteSpace value="collapse" />
					<xs:pattern
						value="[A-Z,Ñ,&amp;]{3,4}[0-9]{2}[0-1][0-9][0-3][0-9][A-Z,0-9]?[A-Z,0-9]?[0-9,A-Z]?" />
				</xs:restriction>
			</xs:simpleType>
		
			<xs:complexType name="SATResponseType">
				<xs:sequence>
					<xs:element name="UUID">
						<xs:simpleType>
							<xs:restriction base="xs:string">

								<xs:length value="36"></xs:length>
								<xs:whiteSpace value="collapse"></xs:whiteSpace>
								<xs:pattern
									value="[a-f0-9A-F]{8}-[a-f0-9A-F]{4}-[a-f0-9A-F]{4}-[a-f0-9A-F]{4}-[a-f0-9A-F]{12}">
								</xs:pattern>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element name="FechaTimbrado" type="Q2:t_FechaH"></xs:element>
                    <xs:element name="RfcProvCertif" type="Q2:t_RFC_PM"></xs:element>
					<xs:element name="SelloCFD" type="xs:string"></xs:element>
					<xs:element name="NoCertificadoSAT"
						type="tns1:NoCertificadoSATType">
					</xs:element>

				</xs:sequence>
			</xs:complexType>
		
			<xs:simpleType name="NoCertificadoSATType">
				<xs:restriction base="xs:string">

					<xs:length value="20"></xs:length>
					<xs:pattern value="[0-9]{20}"></xs:pattern>
					<xs:whiteSpace value="collapse"></xs:whiteSpace>
				</xs:restriction>
			</xs:simpleType>
		
            <xs:complexType name="UUIDType"></xs:complexType>
        </xs:schema>
		<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
			targetNamespace="http://www.sap.com/eDocument/Mexico/CFDI/v1.0">
			<!-- <xsd:element name="SubmitEdocRequest" type="xsd:string"></xsd:element> -->
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="SubmitEdocRequest">
		<wsdl:part name="parameters" element="tns1:CFDSubmitRequest" />
	</wsdl:message>
	<wsdl:message name="CertProviderResponse">
		<wsdl:part element="tns1:PACResponse" name="parameters" />
	</wsdl:message>
	<wsdl:message name="CancelEdocRequest">
		<wsdl:part name="parameters" element="tns1:CFDCancelRequest"></wsdl:part>
	</wsdl:message>
	<!-- <wsdl:message name="CertProviderResponse"> <wsdl:part name="parameters" 
		element="cfdi:PACResponse"></wsdl:part> </wsdl:message> -->
	<wsdl:message name="GetStatusRequest">
		<wsdl:part name="parameters"
			element="tns1:CFDGetStatusRequest">
		</wsdl:part>
	</wsdl:message>
	<!-- <wsdl:message name="CertProviderResponse"> <wsdl:part name="parameters" 
		element="cfdi:PACResponse"></wsdl:part> </wsdl:message> -->
	<wsdl:portType name="CFDIeDocuments">
		<wsdl:operation name="SubmitEdoc">
			<wsdl:input message="tns1:SubmitEdocRequest" />
			<wsdl:output message="tns1:CertProviderResponse" />
		</wsdl:operation>
		<wsdl:operation name="CancelEdoc">
			<wsdl:input message="tns1:CancelEdocRequest"></wsdl:input>
			<wsdl:output message="tns1:CertProviderResponse"></wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="GetStatus">
			<wsdl:input message="tns1:GetStatusRequest"></wsdl:input>
			<wsdl:output message="tns1:CertProviderResponse"></wsdl:output>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="CFDIeDocumentSOAP" type="tns1:CFDIeDocuments">
		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="SubmitEdoc">
			<soap:operation
				soapAction="http://www.sap.com/eDocument/Mexico/CFDI/v1.0/SubmitEdoc" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="CancelEdoc">
			<soap:operation
				soapAction="http://www.sap.com/eDocument/Mexico/CFDI/v1.0/CancelEdoc" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="GetStatus">
			<soap:operation
				soapAction="http://www.sap.com/eDocument/Mexico/CFDI/v1.0/GetStatus" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="CFDIeDocument">
		<wsdl:port binding="tns1:CFDIeDocumentSOAP" name="CFDIeDocumentSOAP">
			<soap:address location="http://www.sap.com/" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
