Resources/schemas/Wsdl/SAP_Document_and_Reporting_Compliance-_Electronic_Invoicing_of_Public_Entities_for_Spain - eDocSpainGetStatusV1.1.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:tns="http://www.sap.com/eDocument/Spain/GetStatus/v1.1"
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	name="eDocSpainGetStatus" targetNamespace="http://www.sap.com/eDocument/Spain/GetStatus/v1.1">
	<wsdl:types>
		<xsd:schema targetNamespace="http://www.sap.com/eDocument/Spain/GetStatus/v1.1">
			<xsd:element name="GetStatus">
				<xsd:annotation>
					<xsd:documentation>This element MUST be conveyed as the root
						element in any instance document based on this Schema expression
					</xsd:documentation>
				</xsd:annotation>
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="RegistrationCode" type="xsd:string" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:complexType name="GetStatusResponseType">
				<xsd:sequence>
					<xsd:element name="StatusResponse" type="tns:StatusResponse" minOccurs="0" maxOccurs="1" />
					<xsd:element name="Error" type="tns:ErrorType" minOccurs="0" maxOccurs="1" />
				</xsd:sequence>
			</xsd:complexType>
			<xsd:element name="GetStatusResponse" type="tns:GetStatusResponseType">

				<!-- <xsd:element name="GetStatusResponseType" type="tns:GetStatusResponseType"
					minOccurs="0" maxOccurs="1" /> -->

			</xsd:element>
			<xsd:complexType name="StatusResponse">
				<xsd:all>
					<xsd:element name="RegistrationCode" type="xsd:string" nillable="true"/>
					<xsd:element name="ProcessingStatus" type="tns:StatusResponseType" nillable="true"/>
					<xsd:element name="VoidingStatus" type="tns:StatusResponseType" nillable="true"/>			
				</xsd:all>
			</xsd:complexType>
			<xsd:complexType name="StatusResponseType">
				<xsd:all>
					<xsd:element name="StatusCode" type="xsd:string"	nillable="true"/>
					<xsd:element name="StatusDescription" type="xsd:string" nillable="true"/>
					<xsd:element name="StatusReason" type="xsd:string"	nillable="true"/>
				</xsd:all>
			</xsd:complexType>
			
			<xsd:complexType name="ErrorType">
				<xsd:sequence>
					<xsd:element name="ErrorCode" type="xsd:string"></xsd:element>
					<xsd:element name="ErrorText" type="xsd:string"></xsd:element>
					<xsd:element name="TrackingCode" type="xsd:string" minOccurs="0" maxOccurs="1"></xsd:element>
				</xsd:sequence>
			</xsd:complexType>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="GetStatusRequest">
		<wsdl:part element="tns:GetStatus" name="GetStatusRequestParameters" />
	</wsdl:message>
	<wsdl:message name="GetStatusResponse">
		<wsdl:part element="tns:GetStatusResponse" name="GetStatusResponseParameters" />
	</wsdl:message>
	<wsdl:portType name="eDocSpainGetStatus">
		<wsdl:operation name="GetStatus">
			<wsdl:input message="tns:GetStatusRequest" />
			<wsdl:output message="tns:GetStatusResponse" />
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="eDocSpainGetStatus" type="tns:eDocSpainGetStatus">
		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="GetStatus">
			<soap:operation
				soapAction="http://www.sap.com/eDocument/Spain/GetStatus/v1.1/GetStatus" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="eDocSpainGetStatus">
		<wsdl:port binding="tns:eDocSpainGetStatus" name="eDocSpainGetStatus">
			<soap:address location="http://endpointaddress" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
