Resources/schemas/Wsdl/SAP_Cloud_for_Customer_for_Utilities_Solution_-_Integration_with_SAP_ERP - COD_UTILITIES_ISU_ACCOUNT_REP.COD_UTILITIES_ISU_ACCOUNT_RE01.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="COD_UTILITIES_ISU_ACCOUNT_REP.COD_UTILITIES_ISU_ACCOUNT_RE01" targetNamespace="urn:sap-com:document:sap:idoc:messages" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
	<wsdl:types>
		<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
			<xsd:element name="COD_UTILITIES_ISU_ACCOUNT_RE01">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="IDOC" type="COD_UTILITIES_ISU_ACCOUNT_REP.COD_UTILITIES_ISU_ACCOUNT_RE01"  minOccurs="0" maxOccurs="unbounded"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:complexType name="COD_UTILITIES_ISU_ACCOUNT_RE01.E101COD_S_ISU_ACCOUNT_DATA">
				<xsd:annotation>
					<xsd:documentation>Complex Data : Contract Account Data</xsd:documentation>
				</xsd:annotation>
				<xsd:sequence>
					<xsd:element name="APPL_SNAME" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Structure Name, No Business Significance</xsd:documentation>
						</xsd:annotation>
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="30"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="E101OD_S_ISU_ACCOUNT_HEADER" type="COD_UTILITIES_ISU_ACCOUNT_RE01.E101OD_S_ISU_ACCOUNT_HEADER" minOccurs="0"/>
					<xsd:element name="E101SU_ACCOUNT_SPECIAL_DATA" type="COD_UTILITIES_ISU_ACCOUNT_RE01.E101SU_ACCOUNT_SPECIAL_DATA" minOccurs="0"/>
				</xsd:sequence>
				<xsd:attribute name="SEGMENT" type="xsd:string" fixed="1" use="required"/>
			</xsd:complexType>
			<xsd:complexType name="COD_UTILITIES_ISU_ACCOUNT_RE01.E101OD_S_ISU_ACCOUNT_HEADER">
				<xsd:annotation>
					<xsd:documentation>Contract Account Header Data</xsd:documentation>
				</xsd:annotation>
				<xsd:sequence>
					<xsd:element name="APPL_SNAME" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Structure Name, No Business Significance</xsd:documentation>
						</xsd:annotation>
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="30"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="CONTRACT_ACC_ID" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Contract Account Number</xsd:documentation>
						</xsd:annotation>
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="12"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="CONTRACT_ACC_CATG" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Contract Account Category</xsd:documentation>
						</xsd:annotation>
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="2"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="CONTRACT_PARTNER" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Business Partner Number</xsd:documentation>
						</xsd:annotation>
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="10"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
				</xsd:sequence>
				<xsd:attribute name="SEGMENT" type="xsd:string" fixed="1" use="required"/>
			</xsd:complexType>
			<xsd:complexType name="COD_UTILITIES_ISU_ACCOUNT_REP.COD_UTILITIES_ISU_ACCOUNT_RE01">
				<xsd:annotation>
					<xsd:documentation>IDoc Structure for Data Type COD_S_ISU_ACCOUNT_DATA</xsd:documentation>
				</xsd:annotation>
				<xsd:sequence>
					<xsd:element name="EDI_DC40" type="EDI_DC40.COD_UTILITIES_ISU_ACCOUNT_REP.COD_UTILITIES_ISU_ACCOUNT_RE01"/>
					<xsd:element name="E101COD_S_ISU_ACCOUNT_DATA" type="COD_UTILITIES_ISU_ACCOUNT_RE01.E101COD_S_ISU_ACCOUNT_DATA" minOccurs="0"/>
				</xsd:sequence>
				<xsd:attribute name="BEGIN" type="xsd:string" fixed="1" use="required"/>
			</xsd:complexType>
			<xsd:complexType name="COD_UTILITIES_ISU_ACCOUNT_RE01.E101SU_ACCOUNT_SPECIAL_DATA">
				<xsd:annotation>
					<xsd:documentation>Transfer Structure: Create/Change/List Contract Acct in IS-U</xsd:documentation>
				</xsd:annotation>
				<xsd:sequence>
					<xsd:element name="APPL_SNAME" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Structure Name, No Business Significance</xsd:documentation>
						</xsd:annotation>
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="30"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="PARTNER" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Business Partner Number</xsd:documentation>
						</xsd:annotation>
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="10"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="ACCOUNT_OLD" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Contract account number in legacy system</xsd:documentation>
						</xsd:annotation>
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="20"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="MARKED_FOR_DEL" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Mark Contract Account for Deletion</xsd:documentation>
						</xsd:annotation>
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="1"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="AUTH_GROUP" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Authorization Group</xsd:documentation>
						</xsd:annotation>
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="4"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="CA_NAME" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Contract account name</xsd:documentation>
						</xsd:annotation>
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="35"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="ADD_DAYS_CASH_MANAGEMENT" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Additional Days for Cash Management</xsd:documentation>
						</xsd:annotation>
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="2"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="PROC_BLOCK_UNTIL" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Processing lock until</xsd:documentation>
						</xsd:annotation>
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="8"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="REFERENCE_NUMBER" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Reference number for business partner</xsd:documentation>
						</xsd:annotation>
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="25"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="RESP_COMP_CODE" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Company Code Group</xsd:documentation>
						</xsd:annotation>
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="4"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="ADDR_NO" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Address number</xsd:documentation>
						</xsd:annotation>
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="10"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="ADDR_ALT_PAYER" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Address Number for Alternative Payer</xsd:documentation>
						</xsd:annotation>
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="10"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="ADDR_ALT_PAYEE" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Address Number for Alternative Payee</xsd:documentation>
						</xsd:annotation>
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="10"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="ADDR_ALT_DUNN" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Address number for alternative dunning notice recipient</xsd:documentation>
						</xsd:annotation>
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="10"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="ADDR_ALT_BILL" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Address number for alternative bill recipient</xsd:documentation>
						</xsd:annotation>
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="10"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="AD_EXT_PARTNER" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Address number in external system</xsd:documentation>
						</xsd:annotation>
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="20"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="ALTERN_PAYER" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Alternative Payer</xsd:documentation>
						</xsd:annotation>
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="10"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="AD_EXT_ALT_PAYER" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Address number in external system</xsd:documentation>
						</xsd:annotation>
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="20"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="ALTERN_PAYEE" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Alternative Payee</xsd:documentation>
						</xsd:annotation>
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="10"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="AD_EXT_ALT_PAYEE" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Address number in external system</xsd:documentation>
						</xsd:annotation>
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="20"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="ALTERN_DUN_REC" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Alternative dunning recipient</xsd:documentation>
						</xsd:annotation>
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="10"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="AD_EXT_DUN_REC" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Address number in external system</xsd:documentation>
						</xsd:annotation>
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="20"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="ALTERN_BILL_REC" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Alternative Invoice Recipient</xsd:documentation>
						</xsd:annotation>
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="10"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="AD_EXT_ALT_BILL_REC" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Address number in external system</xsd:documentation>
						</xsd:annotation>
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="20"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="BANK_DET_ID_IN" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Bank Details ID for Incoming Payments</xsd:documentation>
						</xsd:annotation>
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="4"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="PAYM_METHOD_IN" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Incoming Payment Method</xsd:documentation>
						</xsd:annotation>
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="1"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="PAYM_METHOD_OUT" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Outgoing Payment Methods</xsd:documentation>
						</xsd:annotation>
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="5"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="BANK_DET_ID_OUT" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Bank Details ID for Outgoing Payments</xsd:documentation>
						</xsd:annotation>
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="4"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="USED_LIST_LN_IT" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Create Where-Used List For Line Items</xsd:documentation>
						</xsd:annotation>
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="1"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="ALT_CA_COLL_BILL" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Alternative contract account for collective bills</xsd:documentation>
						</xsd:annotation>
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="12"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="INTEREST_KEY" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Interest Key</xsd:documentation>
						</xsd:annotation>
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="2"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="DUNNING_PROC" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Dunning Procedure</xsd:documentation>
						</xsd:annotation>
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="2"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="DUN_GROUP_TYPE" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Grouping fur Dunning Notices</xsd:documentation>
						</xsd:annotation>
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="2"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="PLANNING_GROUP" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Planning Group</xsd:documentation>
						</xsd:annotation>
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="10"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="RELSHIP_PARTNER" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Relationship of Business Partner to Contract Account</xsd:documentation>
						</xsd:annotation>
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="2"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="CA_PAYM_TRANSACTION" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Contract account used for payment transactions</xsd:documentation>
						</xsd:annotation>
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="12"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="TOLERANCE_GROUP" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Tolerance group for contract account</xsd:documentation>
						</xsd:annotation>
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="4"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="REASON_PROC_LOCKSTOPG" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Reason for Processing Lock</xsd:documentation>
						</xsd:annotation>
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="1"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="TAXJURCODE" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Tax Jurisdiction</xsd:documentation>
						</xsd:annotation>
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="15"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="CORRESP_VARIANT" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Correspondence Variant</xsd:documentation>
						</xsd:annotation>
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="4"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="CCARD_OUT" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Payment Card ID for Outgoing Payments</xsd:documentation>
						</xsd:annotation>
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="6"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="DEF_REC" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Alternative Correspondence Recipient for Standard Case</xsd:documentation>
						</xsd:annotation>
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="10"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="DEF_REC_IND" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>FI-CA correspondence - activity key</xsd:documentation>
						</xsd:annotation>
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="4"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="PART_PAIS_BY" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Business Partner Acting as Payer in Payment Transactions</xsd:documentation>
						</xsd:annotation>
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="10"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="W_TAX_CODE_OUT" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Witholding Tax Code For Outgoing Payments</xsd:documentation>
						</xsd:annotation>
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="2"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="W_TAX_CODE_IN" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Withholding Tax Code For Incoming Payments</xsd:documentation>
						</xsd:annotation>
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="2"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="EXEMPT_NO" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Certificate Number of the Withholding Tax Exemption</xsd:documentation>
						</xsd:annotation>
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="10"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="CORR_DUNN_PROC" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Correspondence Dunning Procedure</xsd:documentation>
						</xsd:annotation>
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="2"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="FITYP" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Tax type</xsd:documentation>
						</xsd:annotation>
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="2"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="REGION" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Region (State, Province, County)</xsd:documentation>
						</xsd:annotation>
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="3"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="COUNTY_CDE" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>County Code</xsd:documentation>
						</xsd:annotation>
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="3"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="CLEARING_CATEGORY" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Clearing Category For Clearing Postings</xsd:documentation>
						</xsd:annotation>
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="4"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="RESTRICT" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Clearing Restriction</xsd:documentation>
						</xsd:annotation>
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="1"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="SUPCOUNTRY" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Country Supplied (for Tax Notifications)</xsd:documentation>
						</xsd:annotation>
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="3"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="BUPLA" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Business Place</xsd:documentation>
						</xsd:annotation>
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="4"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="TERMS_OF_PAYMENT" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Payment Condition</xsd:documentation>
						</xsd:annotation>
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="4"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="STANDING_ORDER" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Standing order</xsd:documentation>
						</xsd:annotation>
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="1"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="NO_PAYMENT_FORM" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>No payment form</xsd:documentation>
						</xsd:annotation>
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="1"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="PAYMENT_DIRECT_DEBIT" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Payment by direct debit</xsd:documentation>
						</xsd:annotation>
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="1"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="SETTLE_CAT_CL_ENTRIES" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Clearing Category for Clearing Entries</xsd:documentation>
						</xsd:annotation>
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="4"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="TRANSACT_CURR" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Transaction currency for BAPIs</xsd:documentation>
						</xsd:annotation>
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="5"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="TRANSACT_CURR_ISO" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>ISO currency code</xsd:documentation>
						</xsd:annotation>
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="3"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="ACCOUNT_DETERM_ID" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Account determination ID for contract accounts</xsd:documentation>
						</xsd:annotation>
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="2"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="ACCOUNT_CLASS" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Account class</xsd:documentation>
						</xsd:annotation>
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="4"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="ADDITIONAL_DUNNING" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Send additional dunning notice to business partner</xsd:documentation>
						</xsd:annotation>
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="1"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="ADDITIONAL_BILL" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Send additional bill to business partner</xsd:documentation>
						</xsd:annotation>
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="1"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="APPL_FORM" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Application form</xsd:documentation>
						</xsd:annotation>
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="30"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="LANGU" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Language in connection with the contract account</xsd:documentation>
						</xsd:annotation>
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="1"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="LANGU_ISO" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Language according to ISO 639</xsd:documentation>
						</xsd:annotation>
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="2"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="OUT_CHECK_GROUP_INV" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Outsorting Check Group for Invoicing</xsd:documentation>
						</xsd:annotation>
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="8"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="OUTCOUNT" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Number of manual outsortings to be carried out yet</xsd:documentation>
						</xsd:annotation>
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="2"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="MANOUTS_IN" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Reason for manual outsorting in invoicing</xsd:documentation>
						</xsd:annotation>
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="8"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="INT_INVOICE" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Interest calculation in invoicing</xsd:documentation>
						</xsd:annotation>
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="1"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="BUS_AREA" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Business Area</xsd:documentation>
						</xsd:annotation>
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="4"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="DATE_FROM_ACC" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Start of allocation of partner to contract account</xsd:documentation>
						</xsd:annotation>
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="8"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="SENDCONTROL_MA" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Shipping control for alternative dunning recipient</xsd:documentation>
						</xsd:annotation>
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="4"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="SENDCONTROL_RH" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Dispatch control for alternative bill recipient</xsd:documentation>
						</xsd:annotation>
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="4"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="SENDCONTROL_GP" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Dispatch control for original customer</xsd:documentation>
						</xsd:annotation>
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="4"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="ADDR_JURISDICT_CODE" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Address Number for Jurisdiction Code Address</xsd:documentation>
						</xsd:annotation>
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="10"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="TRADE_ID" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Company ID of Trading Partner</xsd:documentation>
						</xsd:annotation>
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="6"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="CCARD_ID" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Payment Card ID</xsd:documentation>
						</xsd:annotation>
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="6"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="ITEMS_TRANSFERED" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Items Transferred To Another Account</xsd:documentation>
						</xsd:annotation>
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="1"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="REGIOGROUP_TECH" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Technical regional structure in contract account</xsd:documentation>
						</xsd:annotation>
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="8"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="REGIOGROUP_BUS" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Commercial regional structure in contract account</xsd:documentation>
						</xsd:annotation>
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="8"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="BBP_TYPE_ACTIVE" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Activate Budget Billing Procedure</xsd:documentation>
						</xsd:annotation>
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="1"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="ENRLL_YRLY_ADV_PYMT" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Participation in yearly advance payment procedure</xsd:documentation>
						</xsd:annotation>
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="1"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="BPTAXTYPE1" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Tax Number Type 1 for Business Partner</xsd:documentation>
						</xsd:annotation>
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="4"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="BPTAXTYPE2" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Tax Number type 2 for Business Partner</xsd:documentation>
						</xsd:annotation>
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="4"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="CONSOLIDATOR_ID" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Bill consolidator</xsd:documentation>
						</xsd:annotation>
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="4"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="OWN_BANK_ACCOUNT" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Own Bank Details</xsd:documentation>
						</xsd:annotation>
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="25"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="STANDARD_COMP_CODE" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Standard Company Code</xsd:documentation>
						</xsd:annotation>
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="4"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="PERS_RESP" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Clerk Responsible</xsd:documentation>
						</xsd:annotation>
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="10"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="INVOICING_CATEGORY" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Invoicing Category</xsd:documentation>
						</xsd:annotation>
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="4"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="TAX_DETERM_PROCEDURE" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Tax Determination Procedure</xsd:documentation>
						</xsd:annotation>
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="1"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="MOVE_IO_DUNNING_PROC" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Move-in/out dunning procedure</xsd:documentation>
						</xsd:annotation>
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="2"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="PAYM_METHOD_IN_DESC" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Payment Method Name</xsd:documentation>
						</xsd:annotation>
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="30"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="PAYM_METHOD_OUT_DESC" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Text (80 Characters)</xsd:documentation>
						</xsd:annotation>
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="80"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
				</xsd:sequence>
				<xsd:attribute name="SEGMENT" type="xsd:string" fixed="1" use="required"/>
			</xsd:complexType>
			<xsd:complexType name="EDI_DC40.COD_UTILITIES_ISU_ACCOUNT_REP.COD_UTILITIES_ISU_ACCOUNT_RE01">
				<xsd:sequence>
					<xsd:element name="TABNAM" type="xsd:string" fixed="EDI_DC40">
						<xsd:annotation>
							<xsd:documentation>TABNAM</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="MANDT" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>MANDT</xsd:documentation>
						</xsd:annotation>
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="3"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="DOCNUM" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>DOCNUM</xsd:documentation>
						</xsd:annotation>
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="16"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="DOCREL" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>DOCREL</xsd:documentation>
						</xsd:annotation>
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="4"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="STATUS" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>STATUS</xsd:documentation>
						</xsd:annotation>
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="2"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="DIRECT">
						<xsd:annotation>
							<xsd:documentation>DIRECT</xsd:documentation>
						</xsd:annotation>
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:enumeration value="1">
									<xsd:annotation>
										<xsd:documentation>Outbound</xsd:documentation>
									</xsd:annotation>
								</xsd:enumeration>
								<xsd:enumeration value="2">
									<xsd:annotation>
										<xsd:documentation>Inbound</xsd:documentation>
									</xsd:annotation>
								</xsd:enumeration>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="OUTMOD" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>OUTMOD</xsd:documentation>
						</xsd:annotation>
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="1"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="EXPRSS" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>EXPRSS</xsd:documentation>
						</xsd:annotation>
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="1"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="TEST" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>TEST</xsd:documentation>
						</xsd:annotation>
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="1"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="IDOCTYP" type="xsd:string" fixed="COD_UTILITIES_ISU_ACCOUNT_RE01">
						<xsd:annotation>
							<xsd:documentation>IDOCTYP</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="CIMTYP" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>CIMTYP</xsd:documentation>
						</xsd:annotation>
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="30"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="MESTYP" type="xsd:string" fixed="COD_UTILITIES_ISU_ACCOUNT_REP">
						<xsd:annotation>
							<xsd:documentation>MESTYP</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="MESCOD" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>MESCOD</xsd:documentation>
						</xsd:annotation>
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="3"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="MESFCT" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>MESFCT</xsd:documentation>
						</xsd:annotation>
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="3"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="STD" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>STD</xsd:documentation>
						</xsd:annotation>
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="1"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="STDVRS" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>STDVRS</xsd:documentation>
						</xsd:annotation>
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="6"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="STDMES" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>STDMES</xsd:documentation>
						</xsd:annotation>
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="6"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="SNDPOR">
						<xsd:annotation>
							<xsd:documentation>SNDPOR</xsd:documentation>
						</xsd:annotation>
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="10"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="SNDPRT">
						<xsd:annotation>
							<xsd:documentation>SNDPRT</xsd:documentation>
						</xsd:annotation>
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="2"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="SNDPFC" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>SNDPFC</xsd:documentation>
						</xsd:annotation>
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="2"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="SNDPRN">
						<xsd:annotation>
							<xsd:documentation>SNDPRN</xsd:documentation>
						</xsd:annotation>
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="10"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="SNDSAD" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>SNDSAD</xsd:documentation>
						</xsd:annotation>
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="21"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="SNDLAD" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>SNDLAD</xsd:documentation>
						</xsd:annotation>
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="70"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="RCVPOR">
						<xsd:annotation>
							<xsd:documentation>RCVPOR</xsd:documentation>
						</xsd:annotation>
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="10"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="RCVPRT" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>RCVPRT</xsd:documentation>
						</xsd:annotation>
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="2"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="RCVPFC" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>RCVPFC</xsd:documentation>
						</xsd:annotation>
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="2"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="RCVPRN">
						<xsd:annotation>
							<xsd:documentation>RCVPRN</xsd:documentation>
						</xsd:annotation>
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="10"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="RCVSAD" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>RCVSAD</xsd:documentation>
						</xsd:annotation>
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="21"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="RCVLAD" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>RCVLAD</xsd:documentation>
						</xsd:annotation>
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="70"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="CREDAT" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>CREDAT</xsd:documentation>
						</xsd:annotation>
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="8"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="CRETIM" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>CRETIM</xsd:documentation>
						</xsd:annotation>
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="6"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="REFINT" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>REFINT</xsd:documentation>
						</xsd:annotation>
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="14"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="REFGRP" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>REFGRP</xsd:documentation>
						</xsd:annotation>
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="14"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="REFMES" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>REFMES</xsd:documentation>
						</xsd:annotation>
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="14"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="ARCKEY" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>ARCKEY</xsd:documentation>
						</xsd:annotation>
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="70"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="SERIAL" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>SERIAL</xsd:documentation>
						</xsd:annotation>
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="20"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
				</xsd:sequence>
				<xsd:attribute name="SEGMENT" type="xsd:string" fixed="1" use="required"/>
			</xsd:complexType>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="COD_UTILITIES_ISU_ACCOUNT_REP.COD_UTILITIES_ISU_ACCOUNT_RE01">
		<wsdl:part name="idoc" element="COD_UTILITIES_ISU_ACCOUNT_RE01"/>
	</wsdl:message>
	<wsdl:portType name="COD_UTILITIES_ISU_ACCOUNT_REP.COD_UTILITIES_ISU_ACCOUNT_RE01.PortType">
		<wsdl:operation name="COD_UTILITIES_ISU_ACCOUNT_REP.COD_UTILITIES_ISU_ACCOUNT_RE01">
			<wsdl:input message="COD_UTILITIES_ISU_ACCOUNT_REP.COD_UTILITIES_ISU_ACCOUNT_RE01"/>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="COD_UTILITIES_ISU_ACCOUNT_REP.COD_UTILITIES_ISU_ACCOUNT_RE01.PortTypeBinding" type="idoc:COD_UTILITIES_ISU_ACCOUNT_REP.COD_UTILITIES_ISU_ACCOUNT_RE01.PortType" xmlns:idoc="urn:sap-com:document:sap:idoc:messages">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"/>
		<wsdl:operation name="COD_UTILITIES_ISU_ACCOUNT_REP.COD_UTILITIES_ISU_ACCOUNT_RE01">
			<soap:operation soapAction="http://sap.com/xi/WebService/soap1.1" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"/>
			<wsdl:input>
				<soap:body use="literal" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"/>
			</wsdl:input>
		</wsdl:operation>
	</wsdl:binding>
</wsdl:definitions>