Resources/schemas/Wsdl/SAP_S-4HANA_Integration_with_SAP_Build_Process_Automation_for_Finance_General_Ledger - DOC_WEBI_ZGL_ACCT_MASTER_SAVE_API-1.WSDL

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions targetNamespace="urn:sap-com:document:sap:soap:functions:mc-style" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsoap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="urn:sap-com:document:sap:soap:functions:mc-style" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:n1="urn:sap-com:document:sap:rfc:functions">
 <wsdl:documentation>
  <sidl:sidl xmlns:sidl="http://www.sap.com/2007/03/sidl"/>
 </wsdl:documentation>
 <wsp:UsingPolicy wsdl:required="true"/>
 <wsp:Policy wsu:Id="IF_IF_ZGL_ACCT_MASTER_SAVE_API">
  <sapsession:Session xmlns:sapsession="http://www.sap.com/webas/630/soap/features/session/">
   <sapsession:enableSession>false</sapsession:enableSession>
  </sapsession:Session>
 </wsp:Policy>
 <wsp:Policy wsu:Id="OP_IF_OP_ZglAcctMasterSaveRfc">
  <sapblock:enableBlocking xmlns:sapblock="http://www.sap.com/NW05/soap/features/blocking/">true</sapblock:enableBlocking>
  <sapcomhnd:enableCommit xmlns:sapcomhnd="http://www.sap.com/NW05/soap/features/commit/">false</sapcomhnd:enableCommit>
  <saptrhnw05:required xmlns:saptrhnw05="http://www.sap.com/NW05/soap/features/transaction/">no</saptrhnw05:required>
  <saprmnw05:enableWSRM xmlns:saprmnw05="http://www.sap.com/NW05/soap/features/wsrm/">false</saprmnw05:enableWSRM>
 </wsp:Policy>
 <wsdl:types>
  <xsd:schema attributeFormDefault="qualified" targetNamespace="urn:sap-com:document:sap:rfc:functions" xmlns:tns="urn:sap-com:document:sap:rfc:functions">
   <xsd:simpleType name="char1">
    <xsd:restriction base="xsd:string">
     <xsd:maxLength value="1"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="char10">
    <xsd:restriction base="xsd:string">
     <xsd:maxLength value="10"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="char12">
    <xsd:restriction base="xsd:string">
     <xsd:maxLength value="12"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="char14">
    <xsd:restriction base="xsd:string">
     <xsd:maxLength value="14"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="char16">
    <xsd:restriction base="xsd:string">
     <xsd:maxLength value="16"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="char2">
    <xsd:restriction base="xsd:string">
     <xsd:maxLength value="2"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="char20">
    <xsd:restriction base="xsd:string">
     <xsd:maxLength value="20"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="char220">
    <xsd:restriction base="xsd:string">
     <xsd:maxLength value="220"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="char3">
    <xsd:restriction base="xsd:string">
     <xsd:maxLength value="3"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="char30">
    <xsd:restriction base="xsd:string">
     <xsd:maxLength value="30"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="char32">
    <xsd:restriction base="xsd:string">
     <xsd:maxLength value="32"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="char4">
    <xsd:restriction base="xsd:string">
     <xsd:maxLength value="4"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="char5">
    <xsd:restriction base="xsd:string">
     <xsd:maxLength value="5"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="char50">
    <xsd:restriction base="xsd:string">
     <xsd:maxLength value="50"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="char6">
    <xsd:restriction base="xsd:string">
     <xsd:maxLength value="6"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="char8">
    <xsd:restriction base="xsd:string">
     <xsd:maxLength value="8"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="cuky5">
    <xsd:restriction base="xsd:string">
     <xsd:maxLength value="5"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="date10">
    <xsd:restriction base="xsd:string">
     <xsd:maxLength value="10"/>
     <xsd:pattern value="\d\d\d\d-\d\d-\d\d"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="lang">
    <xsd:restriction base="xsd:string">
     <xsd:maxLength value="1"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="numeric2">
    <xsd:restriction base="xsd:string">
     <xsd:maxLength value="2"/>
     <xsd:pattern value="\d*"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="numeric3">
    <xsd:restriction base="xsd:string">
     <xsd:maxLength value="3"/>
     <xsd:pattern value="\d*"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="numeric6">
    <xsd:restriction base="xsd:string">
     <xsd:maxLength value="6"/>
     <xsd:pattern value="\d*"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="unit3">
    <xsd:restriction base="xsd:string">
     <xsd:maxLength value="3"/>
    </xsd:restriction>
   </xsd:simpleType>
  </xsd:schema>
  <xsd:schema attributeFormDefault="qualified" targetNamespace="urn:sap-com:document:sap:soap:functions:mc-style" xmlns:n0="urn:sap-com:document:sap:rfc:functions">
   <xsd:import namespace="urn:sap-com:document:sap:rfc:functions"/>
   <xsd:complexType name="GlaccountDelinp">
    <xsd:sequence>
     <xsd:element name="Keyy" type="tns:GlaccountCoaKey"/>
     <xsd:element name="Data" type="tns:GlaccountDelinpData"/>
     <xsd:element name="Action" type="n0:char1"/>
    </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="GlaccountDelinpData">
    <xsd:sequence>
     <xsd:element name="NotNeeded" type="n0:char1"/>
    </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="GlaccountCoaKey">
    <xsd:sequence>
     <xsd:element name="Ktopl" type="n0:char4"/>
     <xsd:element name="Saknr" type="n0:char10"/>
    </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="GlaccountPsm">
    <xsd:sequence>
     <xsd:element name="Keyy" type="tns:GlaccountCoaKey"/>
     <xsd:element name="Data" type="tns:GlaccountPsmData"/>
     <xsd:element name="Action" type="n0:char1"/>
    </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="GlaccountPsmData">
    <xsd:sequence>
     <xsd:element name="BdgtCnsmpnType" type="n0:char2"/>
     <xsd:element name="BdgtAcctRevOrExp" type="n0:char1"/>
     <xsd:element name="BdgtRelevant" type="n0:char1"/>
     <xsd:element name="BdgtAcctPostgAllwd" type="n0:char1"/>
     <xsd:element name="BdgtAcctBdgtgAllwd" type="n0:char1"/>
     <xsd:element name="BdgtAcctCfUse" type="n0:char1"/>
     <xsd:element name="BdgtAcctCfTo" type="n0:char10"/>
     <xsd:element name="ReAccount" type="n0:char10"/>
     <xsd:element name="SponsoredClass" type="n0:char20"/>
    </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="GlaccountCcode">
    <xsd:sequence>
     <xsd:element name="Keyy" type="tns:GlaccountCcodeKey"/>
     <xsd:element name="Data" type="tns:GlaccountCcodeData"/>
     <xsd:element name="Info" type="tns:GlaccountCcodeInfo"/>
     <xsd:element name="Action" type="n0:char1"/>
    </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="GlaccountCcodeData">
    <xsd:sequence>
     <xsd:element name="Waers" type="n0:cuky5"/>
     <xsd:element name="Xsalh" type="n0:char1"/>
     <xsd:element name="Kdfsl" type="n0:char4"/>
     <xsd:element name="Bewgp" type="n0:char10"/>
     <xsd:element name="Mwskz" type="n0:char2"/>
     <xsd:element name="Xmwno" type="n0:char1"/>
     <xsd:element name="Mitkz" type="n0:char1"/>
     <xsd:element name="Altkt" type="n0:char10"/>
     <xsd:element name="Wmeth" type="n0:char2"/>
     <xsd:element name="Infky" type="n0:char8"/>
     <xsd:element name="Togru" type="n0:char4"/>
     <xsd:element name="Xopvw" type="n0:char1"/>
     <xsd:element name="Xkres" type="n0:char1"/>
     <xsd:element name="Zuawa" type="n0:char3"/>
     <xsd:element name="Begru" type="n0:char4"/>
     <xsd:element name="Busab" type="n0:char2"/>
     <xsd:element name="Fstag" type="n0:char4"/>
     <xsd:element name="Xintb" type="n0:char1"/>
     <xsd:element name="Xnkon" type="n0:char1"/>
     <xsd:element name="Xmitk" type="n0:char1"/>
     <xsd:element name="Fdlev" type="n0:char2"/>
     <xsd:element name="Xgkon" type="n0:char1"/>
     <xsd:element name="Fipos" type="n0:char14"/>
     <xsd:element name="Hbkid" type="n0:char5"/>
     <xsd:element name="Hktid" type="n0:char5"/>
     <xsd:element name="Vzskz" type="n0:char2"/>
     <xsd:element name="Zindt" type="n0:date10"/>
     <xsd:element name="Zinrt" type="n0:numeric2"/>
     <xsd:element name="Datlz" type="n0:date10"/>
     <xsd:element name="Recid" type="n0:char2"/>
     <xsd:element name="Xspeb" type="n0:char1"/>
     <xsd:element name="Xloeb" type="n0:char1"/>
     <xsd:element name="Xlgclr" type="n0:char1"/>
     <xsd:element name="Mcakey" type="n0:char5"/>
    </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="GlaccountCcodeKey">
    <xsd:sequence>
     <xsd:element name="Bukrs" type="n0:char4"/>
     <xsd:element name="Saknr" type="n0:char10"/>
    </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="GlaccountCcodeInfo">
    <xsd:sequence>
     <xsd:element name="Erdat" type="n0:date10"/>
     <xsd:element name="Ernam" type="n0:char12"/>
    </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="GlaccountCoa">
    <xsd:sequence>
     <xsd:element name="Keyy" type="tns:GlaccountCoaKey"/>
     <xsd:element name="Data" type="tns:GlaccountCoaData"/>
     <xsd:element name="Info" type="tns:GlaccountCoaInfo"/>
     <xsd:element name="Action" type="n0:char1"/>
    </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="GlaccountCoaData">
    <xsd:sequence>
     <xsd:element name="GlaccountType" type="n0:char1"/>
     <xsd:element name="GlaccountSubtype" type="n0:char1"/>
     <xsd:element name="MainSaknr" type="n0:char10"/>
     <xsd:element name="Ktoks" type="n0:char4"/>
     <xsd:element name="Xbilk" type="n0:char1"/>
     <xsd:element name="Gvtyp" type="n0:char2"/>
     <xsd:element name="FuncArea" type="n0:char16"/>
     <xsd:element name="Mustr" type="n0:char10"/>
     <xsd:element name="Vbund" type="n0:char6"/>
     <xsd:element name="Bilkt" type="n0:char10"/>
     <xsd:element name="Xloev" type="n0:char1"/>
     <xsd:element name="Xspea" type="n0:char1"/>
     <xsd:element name="Xspeb" type="n0:char1"/>
     <xsd:element name="Xspep" type="n0:char1"/>
    </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="GlaccountCoaInfo">
    <xsd:sequence>
     <xsd:element name="Erdat" type="n0:date10"/>
     <xsd:element name="Ernam" type="n0:char12"/>
     <xsd:element name="Sakan" type="n0:char10"/>
    </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="GlaccountName">
    <xsd:sequence>
     <xsd:element name="Keyy" type="tns:GlaccountNameKey"/>
     <xsd:element name="Data" type="tns:GlaccountNameData"/>
     <xsd:element name="Action" type="n0:char1"/>
    </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="GlaccountNameData">
    <xsd:sequence>
     <xsd:element name="Txt20" type="n0:char20"/>
     <xsd:element name="Txt50" type="n0:char50"/>
    </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="GlaccountNameKey">
    <xsd:sequence>
     <xsd:element name="Ktopl" type="n0:char4"/>
     <xsd:element name="Saknr" type="n0:char10"/>
     <xsd:element name="Spras" type="n0:lang"/>
    </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="GlaccountCarea">
    <xsd:sequence>
     <xsd:element name="Keyy" type="tns:GlaccountCareaKey"/>
     <xsd:element name="Data" type="tns:GlaccountCareaData"/>
     <xsd:element name="Info" type="tns:GlaccountCareaInfo"/>
     <xsd:element name="Fromto" type="tns:GlaccountCareaFromto"/>
     <xsd:element name="Action" type="n0:char1"/>
    </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="GlaccountCareaData">
    <xsd:sequence>
     <xsd:element name="Katyp" type="n0:char2"/>
     <xsd:element name="Mgefl" type="n0:char1"/>
     <xsd:element name="Msehi" type="n0:unit3"/>
    </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="GlaccountCareaKey">
    <xsd:sequence>
     <xsd:element name="Kokrs" type="n0:char4"/>
     <xsd:element name="Saknr" type="n0:char10"/>
    </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="GlaccountCareaInfo">
    <xsd:sequence>
     <xsd:element name="Ersda" type="n0:date10"/>
     <xsd:element name="Usnam" type="n0:char12"/>
    </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="GlaccountCareaFromto">
    <xsd:sequence>
     <xsd:element name="Datab" type="n0:date10"/>
     <xsd:element name="Datbi" type="n0:date10"/>
    </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="GlaccountKeyword">
    <xsd:sequence>
     <xsd:element name="Ktopl" type="n0:char4"/>
     <xsd:element name="Saknr" type="n0:char10"/>
     <xsd:element name="Spras" type="n0:lang"/>
     <xsd:element name="Schlw" type="n0:char30"/>
     <xsd:element name="Action" type="n0:char1"/>
    </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="Bapiret2">
    <xsd:sequence>
     <xsd:element name="Type" type="n0:char1"/>
     <xsd:element name="Id" type="n0:char20"/>
     <xsd:element name="Number" type="n0:numeric3"/>
     <xsd:element name="Message" type="n0:char220"/>
     <xsd:element name="LogNo" type="n0:char20"/>
     <xsd:element name="LogMsgNo" type="n0:numeric6"/>
     <xsd:element name="MessageV1" type="n0:char50"/>
     <xsd:element name="MessageV2" type="n0:char50"/>
     <xsd:element name="MessageV3" type="n0:char50"/>
     <xsd:element name="MessageV4" type="n0:char50"/>
     <xsd:element name="Parameter" type="n0:char32"/>
     <xsd:element name="Row" type="xsd:int"/>
     <xsd:element name="Field" type="n0:char30"/>
     <xsd:element name="System" type="n0:char10"/>
    </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="GlaccountCcodeTable">
    <xsd:sequence>
     <xsd:element name="item" type="tns:GlaccountCcode" minOccurs="0" maxOccurs="unbounded"/>
    </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="GlaccountNameTable">
    <xsd:sequence>
     <xsd:element name="item" type="tns:GlaccountName" minOccurs="0" maxOccurs="unbounded"/>
    </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="GlaccountCareaTable">
    <xsd:sequence>
     <xsd:element name="item" type="tns:GlaccountCarea" minOccurs="0" maxOccurs="unbounded"/>
    </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="GlaccountKeywordTable">
    <xsd:sequence>
     <xsd:element name="item" type="tns:GlaccountKeyword" minOccurs="0" maxOccurs="unbounded"/>
    </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="Bapiret2T">
    <xsd:sequence>
     <xsd:element name="item" type="tns:Bapiret2" minOccurs="0" maxOccurs="unbounded"/>
    </xsd:sequence>
   </xsd:complexType>
   <xsd:element name="ZglAcctMasterSaveRfc">
    <xsd:complexType>
     <xsd:sequence>
      <xsd:element name="AccountCareas" type="tns:GlaccountCareaTable" minOccurs="0"/>
      <xsd:element name="AccountCcodes" type="tns:GlaccountCcodeTable" minOccurs="0"/>
      <xsd:element name="AccountCoa" type="tns:GlaccountCoa" minOccurs="0"/>
      <xsd:element name="AccountDelinp" type="tns:GlaccountDelinp" minOccurs="0"/>
      <xsd:element name="AccountKeywords" type="tns:GlaccountKeywordTable" minOccurs="0"/>
      <xsd:element name="AccountNames" type="tns:GlaccountNameTable" minOccurs="0"/>
      <xsd:element name="AccountPsm" type="tns:GlaccountPsm" minOccurs="0"/>
      <xsd:element name="IvEditAllowedIsChecked" type="n0:char1" minOccurs="0"/>
      <xsd:element name="IvTrorder" type="n0:char20" minOccurs="0"/>
      <xsd:element name="NoAuthorityCheck" type="n0:char1" minOccurs="0"/>
      <xsd:element name="NoSaveAtWarning" type="n0:char1" minOccurs="0"/>
      <xsd:element name="Return" type="tns:Bapiret2T" minOccurs="0"/>
      <xsd:element name="StoreDataOnly" type="n0:char1" minOccurs="0"/>
      <xsd:element name="Testmode" type="n0:char1" minOccurs="0"/>
     </xsd:sequence>
    </xsd:complexType>
   </xsd:element>
   <xsd:element name="ZglAcctMasterSaveRfcResponse">
    <xsd:complexType>
     <xsd:sequence>
      <xsd:element name="AccountCareas" type="tns:GlaccountCareaTable" minOccurs="0"/>
      <xsd:element name="AccountCcodes" type="tns:GlaccountCcodeTable" minOccurs="0"/>
      <xsd:element name="AccountCoa" type="tns:GlaccountCoa" minOccurs="0"/>
      <xsd:element name="AccountDelinp" type="tns:GlaccountDelinp" minOccurs="0"/>
      <xsd:element name="AccountKeywords" type="tns:GlaccountKeywordTable" minOccurs="0"/>
      <xsd:element name="AccountNames" type="tns:GlaccountNameTable" minOccurs="0"/>
      <xsd:element name="AccountPsm" type="tns:GlaccountPsm" minOccurs="0"/>
      <xsd:element name="Return" type="tns:Bapiret2T" minOccurs="0"/>
     </xsd:sequence>
    </xsd:complexType>
   </xsd:element>
  </xsd:schema>
 </wsdl:types>
 <wsdl:message name="ZglAcctMasterSaveRfc">
  <wsdl:part name="parameters" element="tns:ZglAcctMasterSaveRfc"/>
 </wsdl:message>
 <wsdl:message name="ZglAcctMasterSaveRfcResponse">
  <wsdl:part name="parameter" element="tns:ZglAcctMasterSaveRfcResponse"/>
 </wsdl:message>
 <wsdl:portType name="ZGL_ACCT_MASTER_SAVE_API">
  <wsdl:documentation>
   <sapdoc:sapdoc xmlns:sapdoc="urn:sap:esi:documentation">
    <sapdoc:docitem docURL="http://saphanaretail.gcp.wipro.com:8001/sap/bc/esdt/docu/sd_text?sap-client=201&amp;sd_name=ZGL_ACCT_MASTER_SAVE_API"/>
   </sapdoc:sapdoc>
  </wsdl:documentation>
  <wsp:Policy>
   <wsp:PolicyReference URI="#IF_IF_ZGL_ACCT_MASTER_SAVE_API"/>
  </wsp:Policy>
  <wsdl:operation name="ZglAcctMasterSaveRfc">
   <wsp:Policy>
    <wsp:PolicyReference URI="#OP_IF_OP_ZglAcctMasterSaveRfc"/>
   </wsp:Policy>
   <wsdl:input message="tns:ZglAcctMasterSaveRfc"/>
   <wsdl:output message="tns:ZglAcctMasterSaveRfcResponse"/>
  </wsdl:operation>
 </wsdl:portType>
</wsdl:definitions>
