Resources/schemas/Wsdl/SAP_Service_Cloud_V2_for_Utilities_Master_Data_Integration_with_SAP_S-4HANA - DOC_CLAS_CO_ISU_C4C_V2_PREM_CONNOBJ_REP-1.WSDL

<?xml version="1.0" encoding="UTF-8"?><wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://sap.com/xi/C4CS4/IS-UT" xmlns:wsoap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://sap.com/xi/C4CS4/IS-UT">
 <wsdl:documentation>
  <sidl:sidl xmlns:sidl="http://www.sap.com/2007/03/sidl"/>
 </wsdl:documentation>
 <wsp:UsingPolicy wsdl:required="true"/>
 <wsp:Policy wsu:Id="IF_IF_UtilitiesPremiseConnectionObjectReplicateRequest_Out">
  <sapsession:Session xmlns:sapsession="http://www.sap.com/webas/630/soap/features/session/">
   <sapsession:enableSession>false</sapsession:enableSession>
  </sapsession:Session>
 </wsp:Policy>
 <wsp:Policy wsu:Id="OP_IF_OP_UtilitiesPremiseConnectionObjectReplicateRequest_Out">
  <sapcomhnd:enableCommit xmlns:sapcomhnd="http://www.sap.com/NW05/soap/features/commit/">true</sapcomhnd:enableCommit>
  <sapblock:enableBlocking xmlns:sapblock="http://www.sap.com/NW05/soap/features/blocking/">false</sapblock:enableBlocking>
  <saptrhnw05:required xmlns:saptrhnw05="http://www.sap.com/NW05/soap/features/transaction/">yes</saptrhnw05:required>
  <saprmnw05:enableWSRM xmlns:saprmnw05="http://www.sap.com/NW05/soap/features/wsrm/">true</saprmnw05:enableWSRM>
 </wsp:Policy>
 <wsdl:types>
  <xsd:schema xmlns="http://sap.com/xi/C4CS4/IS-UT" xmlns:ccts="urn:un:unece:uncefact:documentation:standard:CoreComponentsTechnicalSpecification:3.0" targetNamespace="http://sap.com/xi/C4CS4/IS-UT">
   <xsd:element name="UtilitiesPremiseConnectionObjectReplicateRequest_Out" type="MessageHeader"/>
   <xsd:simpleType name="AgencyIdentificationCode">
    <xsd:annotation>
     <xsd:documentation xml:lang="EN">
      <ccts:RepresentationTerm>Code</ccts:RepresentationTerm>
     </xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:token">
     <xsd:maxLength value="3"/>
     <xsd:minLength value="1"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:complexType name="BusinessDocumentMessageHeaderParty">
    <xsd:sequence>
     <xsd:element minOccurs="0" name="InternalID" type="PartyInternalID"/>
     <xsd:element maxOccurs="unbounded" minOccurs="0" name="StandardID" type="PartyStandardID"/>
     <xsd:element minOccurs="0" name="ContactPerson" type="BusinessDocumentMessageHeaderPartyContactPerson"/>
    </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="BusinessDocumentMessageHeaderPartyContactPerson">
    <xsd:sequence>
     <xsd:element minOccurs="0" name="InternalID" type="ContactPersonInternalID"/>
     <xsd:element maxOccurs="4" minOccurs="0" name="OrganisationFormattedName" type="LANGUAGEINDEPENDENT_MEDIUM_Name"/>
     <xsd:element maxOccurs="4" minOccurs="0" name="PersonFormattedName" type="LANGUAGEINDEPENDENT_LONG_Name"/>
     <xsd:element maxOccurs="unbounded" minOccurs="0" name="PhoneNumber" type="PhoneNumber"/>
     <xsd:element maxOccurs="unbounded" minOccurs="0" name="FaxNumber" type="PhoneNumber"/>
     <xsd:element maxOccurs="unbounded" minOccurs="0" name="EmailURI" type="EmailURI"/>
    </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="BusinessScope">
    <xsd:sequence>
     <xsd:element name="TypeCode" type="BusinessScopeTypeCode"/>
     <xsd:element minOccurs="0" name="InstanceID" type="BusinessScopeInstanceID"/>
     <xsd:element minOccurs="0" name="ID" type="BusinessScopeID"/>
    </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="BusinessScopeID">
    <xsd:annotation>
     <xsd:documentation xml:lang="EN">
      <ccts:RepresentationTerm>Identifier</ccts:RepresentationTerm>
     </xsd:documentation>
    </xsd:annotation>
    <xsd:simpleContent>
     <xsd:extension base="BusinessScopeID.Content">
      <xsd:attribute name="schemeID">
       <xsd:simpleType>
        <xsd:restriction base="xsd:token">
         <xsd:maxLength value="60"/>
         <xsd:minLength value="1"/>
        </xsd:restriction>
       </xsd:simpleType>
      </xsd:attribute>
      <xsd:attribute name="schemeAgencyID">
       <xsd:simpleType>
        <xsd:restriction base="xsd:token">
         <xsd:maxLength value="60"/>
         <xsd:minLength value="1"/>
        </xsd:restriction>
       </xsd:simpleType>
      </xsd:attribute>
     </xsd:extension>
    </xsd:simpleContent>
   </xsd:complexType>
   <xsd:simpleType name="BusinessScopeID.Content">
    <xsd:restriction base="xsd:token">
     <xsd:maxLength value="36"/>
     <xsd:minLength value="1"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:complexType name="BusinessScopeInstanceID">
    <xsd:annotation>
     <xsd:documentation xml:lang="EN">
      <ccts:RepresentationTerm>Identifier</ccts:RepresentationTerm>
     </xsd:documentation>
    </xsd:annotation>
    <xsd:simpleContent>
     <xsd:extension base="BusinessScopeInstanceID.Content">
      <xsd:attribute name="schemeID">
       <xsd:simpleType>
        <xsd:restriction base="xsd:token">
         <xsd:maxLength value="60"/>
         <xsd:minLength value="1"/>
        </xsd:restriction>
       </xsd:simpleType>
      </xsd:attribute>
      <xsd:attribute name="schemeAgencyID">
       <xsd:simpleType>
        <xsd:restriction base="xsd:token">
         <xsd:maxLength value="60"/>
         <xsd:minLength value="1"/>
        </xsd:restriction>
       </xsd:simpleType>
      </xsd:attribute>
     </xsd:extension>
    </xsd:simpleContent>
   </xsd:complexType>
   <xsd:simpleType name="BusinessScopeInstanceID.Content">
    <xsd:restriction base="xsd:token">
     <xsd:maxLength value="36"/>
     <xsd:minLength value="1"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:complexType name="BusinessScopeTypeCode">
    <xsd:annotation>
     <xsd:documentation xml:lang="EN">
      <ccts:RepresentationTerm>Code</ccts:RepresentationTerm>
     </xsd:documentation>
    </xsd:annotation>
    <xsd:simpleContent>
     <xsd:extension base="BusinessScopeTypeCode.Content">
      <xsd:attribute name="listID">
       <xsd:simpleType>
        <xsd:restriction base="xsd:token">
         <xsd:maxLength value="60"/>
         <xsd:minLength value="1"/>
        </xsd:restriction>
       </xsd:simpleType>
      </xsd:attribute>
      <xsd:attribute name="listVersionID">
       <xsd:simpleType>
        <xsd:restriction base="xsd:token">
         <xsd:maxLength value="15"/>
         <xsd:minLength value="1"/>
        </xsd:restriction>
       </xsd:simpleType>
      </xsd:attribute>
      <xsd:attribute name="listAgencyID">
       <xsd:simpleType>
        <xsd:restriction base="xsd:token">
         <xsd:maxLength value="60"/>
         <xsd:minLength value="1"/>
        </xsd:restriction>
       </xsd:simpleType>
      </xsd:attribute>
      <xsd:attribute name="listAgencySchemeID">
       <xsd:simpleType>
        <xsd:restriction base="xsd:token">
         <xsd:maxLength value="60"/>
         <xsd:minLength value="1"/>
        </xsd:restriction>
       </xsd:simpleType>
      </xsd:attribute>
      <xsd:attribute name="listAgencySchemeAgencyID" type="AgencyIdentificationCode"/>
     </xsd:extension>
    </xsd:simpleContent>
   </xsd:complexType>
   <xsd:simpleType name="BusinessScopeTypeCode.Content">
    <xsd:restriction base="xsd:token">
     <xsd:maxLength value="4"/>
     <xsd:minLength value="1"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="BusinessSystemID">
    <xsd:annotation>
     <xsd:documentation xml:lang="EN">
      <ccts:RepresentationTerm>Identifier</ccts:RepresentationTerm>
     </xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:token">
     <xsd:maxLength value="60"/>
     <xsd:minLength value="1"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:complexType name="ContactPersonInternalID">
    <xsd:annotation>
     <xsd:documentation xml:lang="EN">
      <ccts:RepresentationTerm>Identifier</ccts:RepresentationTerm>
     </xsd:documentation>
    </xsd:annotation>
    <xsd:simpleContent>
     <xsd:extension base="ContactPersonInternalID.Content">
      <xsd:attribute name="schemeID">
       <xsd:simpleType>
        <xsd:restriction base="xsd:token">
         <xsd:maxLength value="60"/>
         <xsd:minLength value="1"/>
        </xsd:restriction>
       </xsd:simpleType>
      </xsd:attribute>
      <xsd:attribute name="schemeAgencyID">
       <xsd:simpleType>
        <xsd:restriction base="xsd:token">
         <xsd:maxLength value="60"/>
         <xsd:minLength value="1"/>
        </xsd:restriction>
       </xsd:simpleType>
      </xsd:attribute>
     </xsd:extension>
    </xsd:simpleContent>
   </xsd:complexType>
   <xsd:simpleType name="ContactPersonInternalID.Content">
    <xsd:restriction base="xsd:token">
     <xsd:maxLength value="32"/>
     <xsd:minLength value="1"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="CountryCode">
    <xsd:annotation>
     <xsd:documentation xml:lang="EN">
      <ccts:RepresentationTerm>Code</ccts:RepresentationTerm>
     </xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:token">
     <xsd:maxLength value="3"/>
     <xsd:minLength value="2"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="CountryDiallingCode">
    <xsd:annotation>
     <xsd:documentation xml:lang="EN">
      <ccts:RepresentationTerm>Code</ccts:RepresentationTerm>
     </xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:token">
     <xsd:maxLength value="10"/>
     <xsd:minLength value="1"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:complexType name="EmailURI">
    <xsd:annotation>
     <xsd:documentation xml:lang="EN">
      <ccts:RepresentationTerm>URI</ccts:RepresentationTerm>
     </xsd:documentation>
    </xsd:annotation>
    <xsd:simpleContent>
     <xsd:extension base="xsd:anyURI">
      <xsd:attribute name="schemeID">
       <xsd:simpleType>
        <xsd:restriction base="xsd:token">
         <xsd:maxLength value="60"/>
         <xsd:minLength value="1"/>
        </xsd:restriction>
       </xsd:simpleType>
      </xsd:attribute>
     </xsd:extension>
    </xsd:simpleContent>
   </xsd:complexType>
   <xsd:simpleType name="GLOBAL_DateTime">
    <xsd:annotation>
     <xsd:documentation xml:lang="EN">
      <ccts:RepresentationTerm>DateTime</ccts:RepresentationTerm>
     </xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:dateTime">
     <xsd:pattern value="[0-9]{4}-[0-9]{2}-[0-9]{2}T[0-9]{2}:[0-9]{2}:[0-9]{2}(.[0-9]{1,7})?Z"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:complexType name="ID">
    <xsd:simpleContent>
     <xsd:extension base="ID.Content">
      <xsd:attribute name="SCHEME_ID">
       <xsd:simpleType>
        <xsd:restriction base="xsd:token">
         <xsd:maxLength value="60"/>
         <xsd:minLength value="1"/>
        </xsd:restriction>
       </xsd:simpleType>
      </xsd:attribute>
      <xsd:attribute name="SCHEME_AGENCY_ID">
       <xsd:simpleType>
        <xsd:restriction base="xsd:token">
         <xsd:maxLength value="60"/>
         <xsd:minLength value="1"/>
        </xsd:restriction>
       </xsd:simpleType>
      </xsd:attribute>
      <xsd:attribute name="schemeAgencySchemeAgencyID" type="AgencyIdentificationCode"/>
     </xsd:extension>
    </xsd:simpleContent>
   </xsd:complexType>
   <xsd:simpleType name="ID.Content">
    <xsd:restriction base="xsd:token">
     <xsd:maxLength value="35"/>
     <xsd:minLength value="1"/>
     <xsd:pattern value="Any"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="Indicator">
    <xsd:annotation>
     <xsd:documentation xml:lang="EN">
      <ccts:RepresentationTerm>Indicator</ccts:RepresentationTerm>
     </xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:boolean"/>
   </xsd:simpleType>
   <xsd:simpleType name="LANGUAGEINDEPENDENT_LONG_Name">
    <xsd:annotation>
     <xsd:documentation xml:lang="EN">
      <ccts:RepresentationTerm>Name</ccts:RepresentationTerm>
     </xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:string">
     <xsd:maxLength value="80"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="LANGUAGEINDEPENDENT_MEDIUM_Name">
    <xsd:annotation>
     <xsd:documentation xml:lang="EN">
      <ccts:RepresentationTerm>Name</ccts:RepresentationTerm>
     </xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:string">
     <xsd:maxLength value="40"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="LanguageCode">
    <xsd:annotation>
     <xsd:documentation xml:lang="EN">
      <ccts:RepresentationTerm>Code</ccts:RepresentationTerm>
     </xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:language">
     <xsd:maxLength value="9"/>
     <xsd:minLength value="2"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:complexType name="MEDIUM_Name">
    <xsd:annotation>
     <xsd:documentation xml:lang="EN">
      <ccts:RepresentationTerm>Name</ccts:RepresentationTerm>
     </xsd:documentation>
    </xsd:annotation>
    <xsd:simpleContent>
     <xsd:extension base="MEDIUM_Name.Content">
      <xsd:attribute name="languageCode" type="LanguageCode"/>
     </xsd:extension>
    </xsd:simpleContent>
   </xsd:complexType>
   <xsd:simpleType name="MEDIUM_Name.Content">
    <xsd:restriction base="xsd:string">
     <xsd:maxLength value="40"/>
     <xsd:minLength value="1"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:complexType name="MessageHeader">
    <xsd:sequence>
     <xsd:element name="MessageHeader" type="Message_Header"/>
     <xsd:element maxOccurs="unbounded" name="PremiseConnObjReplicateRequestMessage" type="Premsie_ConnObj_Replicate_request"/>
    </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="Message_Header">
    <xsd:sequence>
     <xsd:element minOccurs="0" name="ID" type="ID"/>
     <xsd:element minOccurs="0" name="UUID" type="UUID"/>
     <xsd:element minOccurs="0" name="ReferenceID" type="ID"/>
     <xsd:element minOccurs="0" name="ReferenceUUID" type="UUID"/>
     <xsd:element name="CreationDateTime" type="GLOBAL_DateTime"/>
     <xsd:element minOccurs="0" name="TestDataIndicator" type="Indicator"/>
     <xsd:element minOccurs="0" name="ReconciliationIndicator" type="Indicator"/>
     <xsd:element minOccurs="0" name="SenderBusinessSystemID" type="BusinessSystemID"/>
     <xsd:element minOccurs="0" name="RecipientBusinessSystemID" type="BusinessSystemID"/>
     <xsd:element minOccurs="0" name="SenderParty" type="BusinessDocumentMessageHeaderParty"/>
     <xsd:element maxOccurs="unbounded" minOccurs="0" name="RecipientParty" type="BusinessDocumentMessageHeaderParty"/>
     <xsd:element maxOccurs="unbounded" minOccurs="0" name="BusinessScope" type="BusinessScope"/>
    </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="PartyInternalID">
    <xsd:annotation>
     <xsd:documentation xml:lang="EN">
      <ccts:RepresentationTerm>Identifier</ccts:RepresentationTerm>
     </xsd:documentation>
    </xsd:annotation>
    <xsd:simpleContent>
     <xsd:extension base="PartyInternalID.Content">
      <xsd:attribute name="schemeID">
       <xsd:simpleType>
        <xsd:restriction base="xsd:token">
         <xsd:maxLength value="60"/>
         <xsd:minLength value="1"/>
        </xsd:restriction>
       </xsd:simpleType>
      </xsd:attribute>
      <xsd:attribute name="schemeAgencyID">
       <xsd:simpleType>
        <xsd:restriction base="xsd:token">
         <xsd:maxLength value="60"/>
         <xsd:minLength value="1"/>
        </xsd:restriction>
       </xsd:simpleType>
      </xsd:attribute>
     </xsd:extension>
    </xsd:simpleContent>
   </xsd:complexType>
   <xsd:simpleType name="PartyInternalID.Content">
    <xsd:restriction base="xsd:token">
     <xsd:maxLength value="32"/>
     <xsd:minLength value="1"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:complexType name="PartyStandardID">
    <xsd:annotation>
     <xsd:documentation xml:lang="EN">
      <ccts:RepresentationTerm>Identifier</ccts:RepresentationTerm>
     </xsd:documentation>
    </xsd:annotation>
    <xsd:simpleContent>
     <xsd:extension base="PartyStandardID.Content">
      <xsd:attribute name="schemeAgencyID" use="required">
       <xsd:simpleType>
        <xsd:restriction base="xsd:token">
         <xsd:maxLength value="3"/>
         <xsd:minLength value="1"/>
        </xsd:restriction>
       </xsd:simpleType>
      </xsd:attribute>
     </xsd:extension>
    </xsd:simpleContent>
   </xsd:complexType>
   <xsd:simpleType name="PartyStandardID.Content">
    <xsd:restriction base="xsd:token">
     <xsd:maxLength value="13"/>
     <xsd:minLength value="1"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:complexType name="PhoneNumber">
    <xsd:sequence>
     <xsd:element minOccurs="0" name="AreaID" type="PhoneNumberAreaID"/>
     <xsd:element minOccurs="0" name="SubscriberID" type="PhoneNumberSubscriberID"/>
     <xsd:element minOccurs="0" name="ExtensionID" type="PhoneNumberExtensionID"/>
     <xsd:element minOccurs="0" name="CountryCode" type="CountryCode"/>
     <xsd:element minOccurs="0" name="CountryDiallingCode" type="CountryDiallingCode"/>
     <xsd:element minOccurs="0" name="CountryName" type="MEDIUM_Name"/>
    </xsd:sequence>
   </xsd:complexType>
   <xsd:simpleType name="PhoneNumberAreaID">
    <xsd:annotation>
     <xsd:documentation xml:lang="EN">
      <ccts:RepresentationTerm>Identifier</ccts:RepresentationTerm>
     </xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:token">
     <xsd:maxLength value="10"/>
     <xsd:minLength value="1"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="PhoneNumberExtensionID">
    <xsd:annotation>
     <xsd:documentation xml:lang="EN">
      <ccts:RepresentationTerm>Identifier</ccts:RepresentationTerm>
     </xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:token">
     <xsd:maxLength value="10"/>
     <xsd:minLength value="1"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="PhoneNumberSubscriberID">
    <xsd:annotation>
     <xsd:documentation xml:lang="EN">
      <ccts:RepresentationTerm>Identifier</ccts:RepresentationTerm>
     </xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:token">
     <xsd:maxLength value="30"/>
     <xsd:minLength value="1"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:complexType name="Premise_ConnOBJ">
    <xsd:sequence>
     <xsd:element minOccurs="0" name="PremiseId" type="xsd:token"/>
     <xsd:element minOccurs="0" name="ConnectionObjectId" type="xsd:token"/>
     <xsd:element minOccurs="0" name="ConnObjDescription" type="xsd:token"/>
     <xsd:element minOccurs="0" name="PremiseType" type="xsd:token"/>
     <xsd:element minOccurs="0" name="HouseNo" type="xsd:token"/>
     <xsd:element minOccurs="0" name="HouseNo2" type="xsd:token"/>
     <xsd:element minOccurs="0" name="Street" type="xsd:token"/>
     <xsd:element minOccurs="0" name="Street2" type="xsd:token"/>
     <xsd:element minOccurs="0" name="City" type="xsd:token"/>
     <xsd:element minOccurs="0" name="District" type="xsd:token"/>
     <xsd:element minOccurs="0" name="Region" type="xsd:token"/>
     <xsd:element minOccurs="0" name="Country" type="xsd:token"/>
     <xsd:element minOccurs="0" name="PostalCode" type="xsd:token"/>
     <xsd:element minOccurs="0" name="BuildingCode" type="xsd:token"/>
     <xsd:element minOccurs="0" name="Floor" type="xsd:token"/>
     <xsd:element minOccurs="0" name="Room" type="xsd:token"/>
     <xsd:element minOccurs="0" name="HouseSupplement" type="xsd:token"/>
     <xsd:element minOccurs="0" name="StreetSupplement1" type="xsd:token"/>
     <xsd:element minOccurs="0" name="StreetSupplement2" type="xsd:token"/>
     <xsd:element minOccurs="0" name="LocationSupplement" type="xsd:token"/>
     <xsd:element minOccurs="0" name="FormattedAddress" type="xsd:token"/>
     <xsd:element minOccurs="0" name="ConnObjFormattedAddress" type="xsd:token"/>
     <xsd:element minOccurs="0" name="OwnerId" type="xsd:token"/>
     <xsd:element minOccurs="0" name="CommunicationSystemDisplayId" type="xsd:token"/>
    </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="Premsie_ConnObj_Replicate_request">
    <xsd:sequence>
     <xsd:element name="MessageHeader" type="Message_Header"/>
     <xsd:element name="PremiseConnectionObject" type="Premise_ConnOBJ"/>
    </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="UUID">
    <xsd:annotation>
     <xsd:documentation xml:lang="EN">
      <ccts:RepresentationTerm>Identifier</ccts:RepresentationTerm>
     </xsd:documentation>
    </xsd:annotation>
    <xsd:simpleContent>
     <xsd:extension base="UUID.Content">
      <xsd:attribute name="schemeID">
       <xsd:simpleType>
        <xsd:restriction base="xsd:token">
         <xsd:maxLength value="60"/>
         <xsd:minLength value="1"/>
        </xsd:restriction>
       </xsd:simpleType>
      </xsd:attribute>
      <xsd:attribute name="schemeAgencyID">
       <xsd:simpleType>
        <xsd:restriction base="xsd:token">
         <xsd:maxLength value="60"/>
         <xsd:minLength value="1"/>
        </xsd:restriction>
       </xsd:simpleType>
      </xsd:attribute>
     </xsd:extension>
    </xsd:simpleContent>
   </xsd:complexType>
   <xsd:simpleType name="UUID.Content">
    <xsd:restriction base="xsd:token">
     <xsd:length value="36"/>
    </xsd:restriction>
   </xsd:simpleType>
  </xsd:schema>
 </wsdl:types>
 <wsdl:message name="UtilitiesPremiseConnectionObjectReplicateRequest_Out">
  <wsdl:part element="tns:UtilitiesPremiseConnectionObjectReplicateRequest_Out" name="UtilitiesPremiseConnectionObjectReplicateRequest_Out"/>
 </wsdl:message>
 <wsdl:portType name="UtilitiesPremiseConnectionObjectReplicateRequest_Out">
  <wsdl:documentation>
   <sapdoc:sapdoc xmlns:sapdoc="urn:sap:esi:documentation">
    <sapdoc:docitem applicationComponent="IS-U-CS-C4C"/>
   </sapdoc:sapdoc>
  </wsdl:documentation>
  <wsp:Policy>
   <wsp:PolicyReference URI="#IF_IF_UtilitiesPremiseConnectionObjectReplicateRequest_Out"/>
  </wsp:Policy>
  <wsdl:operation name="UtilitiesPremiseConnectionObjectReplicateRequest_Out">
   <wsp:Policy>
    <wsp:PolicyReference URI="#OP_IF_OP_UtilitiesPremiseConnectionObjectReplicateRequest_Out"/>
   </wsp:Policy>
   <wsdl:input message="tns:UtilitiesPremiseConnectionObjectReplicateRequest_Out"/>
  </wsdl:operation>
 </wsdl:portType>
</wsdl:definitions>