Resources/schemas/Wsdl/SAP_S-4HANA_Cloud_Integration_with_Salesforce - DetermineAvailabilityOf.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.example.org/DetermineAvailabilityOf/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="DetermineAvailabilityOf" targetNamespace="http://www.example.org/DetermineAvailabilityOf/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://www.example.org/DetermineAvailabilityOf/">
      <xsd:element name="DetermineAvailabilityOfRequest">
        <xsd:complexType>
          <xsd:sequence>
          	<xsd:element name="material" type="xsd:string" />
          	<xsd:element name="plant" type="xsd:string"></xsd:element>
          	<xsd:element name="requestedQuantity"
          		type="xsd:decimal">
          	</xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="DetermineAvailabilityOfResponse">
        <xsd:complexType>
          <xsd:sequence>
          	<xsd:element name="PeriodStartUTCDateTime"
          		type="xsd:dateTime" />
          	<xsd:element name="PeriodStartTimeZone"
          		type="xsd:string">
          	</xsd:element>
          	<xsd:element name="PeriodEndUTCDateTime"
          		type="xsd:dateTime">
          	</xsd:element>
          	<xsd:element name="PeriodEndTimeZone" type="xsd:string"></xsd:element>
          	<xsd:element name="AvailableQuantityInBaseUnit"
          		type="xsd:float">
          	</xsd:element>
          	<xsd:element name="BaseUnit" type="xsd:string"></xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="DetermineAvailabilityOfRequest">
    <wsdl:part element="tns:DetermineAvailabilityOfRequest" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="DetermineAvailabilityOfResponse">
    <wsdl:part element="tns:DetermineAvailabilityOfResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:portType name="DetermineAvailabilityOf">
    <wsdl:operation name="DetermineAvailabilityOf">
      <wsdl:input message="tns:DetermineAvailabilityOfRequest"/>
      <wsdl:output message="tns:DetermineAvailabilityOfResponse"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="DetermineAvailabilityOfSOAP" type="tns:DetermineAvailabilityOf">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="DetermineAvailabilityOf">
      <soap:operation soapAction="http://www.example.org/DetermineAvailabilityOf/DetermineAvailabilityOf"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="DetermineAvailabilityOf">
    <wsdl:port binding="tns:DetermineAvailabilityOfSOAP" name="DetermineAvailabilityOfSOAP">
      <soap:address location="http://www.example.org/"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
