Resources/schemas/Wsdl/SAP_SuccessFactors_HCM_Suite_Talent_Management_Integration_with_SAP_ERP_HCM_using_OData - SFModifyingOperations-2.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions 
    xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" 
    xmlns:p1="http://sap.com/xi/SFIHCM03"
    xmlns:p2="urn:server.sfapi.successfactors.com" 
    xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" 
    xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" 
    name="Del_Var_Out" 
    xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" 
    targetNamespace="http://sap.com/xi/SFIHCM03">
    <wsdl:documentation />
    <wsp:UsingPolicy wsdl:required="true" />
    <wsp:Policy wsu:Id="OP_Del_Var_Out"/>
    <wsdl:types>
        <xsd:schema targetNamespace="urn:fault.sfapi.successfactors.com" 
            xmlns="urn:fault.sfapi.successfactors.com" 
            xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:element name="SFWebServiceFault" type="SFWebServiceFaultException"/>
            <xsd:complexType name="SFWebServiceFaultException">
                <xsd:sequence>
                    <xsd:element name="errorCode" type="xsd:string" form="qualified"/>
                    <xsd:element name="errorMessage" type="xsd:string" form="qualified"/>
                </xsd:sequence>
            </xsd:complexType>
        </xsd:schema>
        <xsd:schema targetNamespace="urn:sfobject.sfapi.successfactors.com" 
            xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
            xmlns="urn:sfobject.sfapi.successfactors.com">
            <xsd:element name="deleteResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="result" type="ModifyResult" form="qualified"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="deleteRequest">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="sessionId" type="xsd:string" form="qualified"/>
                        <xsd:element name="upsert" type="ModifyRequest" form="qualified"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:complexType name="ModifyResult">
                <xsd:sequence>
                    <xsd:element name="jobStatus" type="xsd:string" form="qualified"/>
                    <xsd:element name="message" type="xsd:string" form="qualified" nillable="true"/>
                    <xsd:element name="objectEditResult" type="ObjectEditResult" minOccurs="0" maxOccurs="unbounded" form="qualified" nillable="true"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="ObjectEditResult">
                <xsd:sequence>
                    <xsd:element name="id" type="xsd:string" minOccurs="0" form="qualified"/>
                    <xsd:element name="errorStatus" type="xsd:string" form="qualified"/>
                    <xsd:element name="editStatus" type="xsd:string" form="qualified"/>
                    <xsd:element name="index" type="xsd:int" form="qualified" nillable="true"/>
                    <xsd:element name="message" type="xsd:string" form="qualified" nillable="true"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="ModifyRequest">
                <xsd:sequence>
                    <xsd:element name="type" type="xsd:string" form="qualified"/>
                    <xsd:element name="sfobject" type="xsd:anyType" maxOccurs="unbounded" form="qualified"/>
                    <xsd:element name="processingParam" type="SFParameter" minOccurs="0" maxOccurs="unbounded" form="qualified"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="SFParameter">
                <xsd:sequence>
                    <xsd:element name="name" type="xsd:string" form="qualified"/>
                    <xsd:element name="value" type="xsd:string" form="qualified"/>
                </xsd:sequence>
            </xsd:complexType>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="p2.genericdeleteRequest">
        <wsdl:documentation/>
        <wsdl:part name="parameters" element="p5:deleteRequest" 
            xmlns:p5="urn:sfobject.sfapi.successfactors.com"/>
    </wsdl:message>
    <wsdl:message name="p2.genericdeleteResponse">
        <wsdl:documentation/>
        <wsdl:part name="parameters" element="p5:deleteResponse" 
            xmlns:p5="urn:sfobject.sfapi.successfactors.com"/>
    </wsdl:message>
    <wsdl:message name="p2.SFWebServiceFaultException">
        <wsdl:documentation/>
        <wsdl:part name="SFWebServiceFault" element="p6:SFWebServiceFault" 
            xmlns:p6="urn:fault.sfapi.successfactors.com"/>
    </wsdl:message>
    <wsdl:portType name="Del_Var_Out">
        <wsdl:documentation>Del_Var_Out</wsdl:documentation>
        <wsdl:operation name="Del_Var_Out">
            <wsdl:documentation/>
            <wsp:Policy>
                <wsp:PolicyReference URI="#OP_Del_Var_Out"/>
            </wsp:Policy>
            <wsdl:input message="p1:p2.genericdeleteRequest"/>
            <wsdl:output message="p1:p2.genericdeleteResponse"/>
            <wsdl:fault name="p2.SFWebServiceFaultException" message="p1:p2.SFWebServiceFaultException"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="Del_Var_OutBinding" type="p1:Del_Var_Out">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" 
            xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"/>
        <wsdl:operation name="Del_Var_Out">
            <soap:operation soapAction="http://sap.com/xi/WebService/soap1.1" 
                xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"/>
            <wsdl:input>
                <soap:body use="literal" 
                    xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" 
                    xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"/>
            </wsdl:output>
            <wsdl:fault name="p2.SFWebServiceFaultException">
                <soap:fault use="literal" name="p2.SFWebServiceFaultException" 
                    xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"/>
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="Del_Var_Out">
        <wsdl:port binding="p1:Del_Var_OutBinding" name="Del_Var_Out">
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>