Resources/schemas/Wsdl/SAP_Document_and_Reporting_Compliance-_Electronic_Documents_for_Peru - billServiceFlat-5.wsdl

<?xml version='1.0' encoding='UTF-8'?>
<!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is 
	Oracle JAX-WS 2.1.5. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is 
	Oracle JAX-WS 2.1.5. -->
<definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:tns="http://service.sunat.gob.pe" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://service.sunat.gob.pe">
	<types>
		<xsd:schema xmlns:tns="http://service.sunat.gob.pe"
			version="1.0" targetNamespace="http://service.sunat.gob.pe">

			<xsd:element name="getStatus" type="tns:getStatus" />

			<xsd:element name="getStatusResponse" type="tns:getStatusResponse" />

			<xsd:element name="sendBill" type="tns:sendBill" />

			<xsd:element name="sendBillResponse" type="tns:sendBillResponse" />

			<xsd:element name="sendSummary" type="tns:sendSummary" />

			<xsd:element name="sendSummaryResponse" type="tns:sendSummaryResponse" />

			<xsd:complexType name="getStatus">
				<xsd:sequence>
					<xsd:element name="ticket" type="xsd:string" minOccurs="0" />
				</xsd:sequence>
			</xsd:complexType>

			<xsd:complexType name="getStatusResponse">
				<xsd:sequence>
					<xsd:element name="status" type="tns:statusResponse"
						minOccurs="0" />
				</xsd:sequence>
			</xsd:complexType>

			<xsd:complexType name="statusResponse">
				<xsd:sequence>
					<xsd:element name="content" type="xsd:base64Binary"
						minOccurs="0" />
					<xsd:element name="statusCode" type="xsd:string"
						minOccurs="0" />
				</xsd:sequence>
			</xsd:complexType>

			<xsd:complexType name="sendSummary">
				<xsd:sequence>
					<xsd:element name="fileName" type="xsd:string" minOccurs="0" />
					<xsd:element xmlns:ns1="http://www.w3.org/2005/05/xmlmime"
						name="contentFile" ns1:expectedContentTypes="application/octet-stream"
						type="xsd:base64Binary" minOccurs="0" />
				</xsd:sequence>
			</xsd:complexType>

			<xsd:complexType name="sendSummaryResponse">
				<xsd:sequence>
					<xsd:element name="ticket" type="xsd:string" minOccurs="0" />
				</xsd:sequence>
			</xsd:complexType>

			<xsd:complexType name="sendBill">
				<xsd:sequence>
					<xsd:element name="fileName" type="xsd:string" minOccurs="0" />
					<xsd:element xmlns:ns2="http://www.w3.org/2005/05/xmlmime"
						name="contentFile" ns2:expectedContentTypes="application/octet-stream"
						type="xsd:base64Binary" minOccurs="0" />
				</xsd:sequence>
			</xsd:complexType>

			<xsd:complexType name="sendBillResponse">
				<xsd:sequence>
					<xsd:element name="applicationResponse" type="xsd:base64Binary"
						minOccurs="0" />
				</xsd:sequence>
			</xsd:complexType>
		</xsd:schema>
	</types>
	<message name="sendBill">
		<part name="parameters" element="tns:sendBill" />
	</message>
	<message name="sendBillResponse">
		<part name="parameters" element="tns:sendBillResponse" />
	</message>
	<message name="sendSummary">
		<part name="parameters" element="tns:sendSummary" />
	</message>
	<message name="sendSummaryResponse">
		<part name="parameters" element="tns:sendSummaryResponse" />
	</message>
	<message name="getStatus">
		<part name="parameters" element="tns:getStatus" />
	</message>
	<message name="getStatusResponse">
		<part name="parameters" element="tns:getStatusResponse" />
	</message>
	<portType name="billService">
		<operation name="sendBill">
			<input message="tns:sendBill" />
			<output message="tns:sendBillResponse" />
		</operation>
		<operation name="sendSummary">
			<input message="tns:sendSummary" />
			<output message="tns:sendSummaryResponse" />
		</operation>
		<operation name="getStatus">
			<input message="tns:getStatus" />
			<output message="tns:getStatusResponse" />
		</operation>
	</portType>
	<binding xmlns:ns1="http://service.sunat.gob.pe" name="BillServicePortBinding"
		type="ns1:billService">
		<soap:binding transport="http://schemas.xmlsoap.org/soap/http"
			style="document" />
		<operation name="sendBill">
			<soap:operation soapAction="urn:sendBill" />
			<input>
				<soap:body use="literal" />
			</input>
			<output>
				<soap:body use="literal" />
			</output>
		</operation>
		<operation name="sendSummary">
			<soap:operation soapAction="urn:sendSummary" />
			<input>
				<soap:body use="literal" />
			</input>
			<output>
				<soap:body use="literal" />
			</output>
		</operation>
		<operation name="getStatus">
			<soap:operation soapAction="urn:getStatus" />
			<input>
				<soap:body use="literal" />
			</input>
			<output>
				<soap:body use="literal" />
			</output>
		</operation>
	</binding>
	<service name="billService">
		<port name="BillServicePort" binding="tns:BillServicePortBinding">
			<soap:address
				location="https://www.sunat.gob.pe:443/ol-ti-itcpgem-sqa/billService" />
		</port>
	</service>
</definitions>