Resources/schemas/Wsdl/SAP_CPQ_Integration_with_SAP_S-4HANA - ExternalConfigurations.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
	<wsdl:types>
		<xsd:schema elementFormDefault="qualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
			<xsd:element name="ExternalConfigurations">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="RolledUpQuoteItem" type="xsd:byte"/>
						<xsd:element name="item">
							<xsd:complexType>
								<xsd:sequence>
									<xsd:element name="kbId" type="xsd:short"/>
									<xsd:element name="kbKey">
										<xsd:complexType>
											<xsd:sequence>
												<xsd:element name="logsys" type="xsd:string"/>
												<xsd:element name="name" type="xsd:string"/>
												<xsd:element name="version" type="xsd:float"/>
											</xsd:sequence>
										</xsd:complexType>
									</xsd:element>
									<xsd:element name="kbBuild" type="xsd:byte"/>
									<xsd:element name="consistent" type="xsd:string"/>
									<xsd:element name="complete" type="xsd:string"/>
									<xsd:element name="rootItem">
										<xsd:complexType>
											<xsd:sequence>
												<xsd:element name="id" type="xsd:byte"/>
												<xsd:element name="objectKey">
													<xsd:complexType>
														<xsd:sequence>
															<xsd:element name="id" type="xsd:string"/>
															<xsd:element name="type" type="xsd:string"/>
															<xsd:element name="classType" type="xsd:short"/>
														</xsd:sequence>
													</xsd:complexType>
												</xsd:element>
												<xsd:element name="objectKeyAuthor" type="xsd:byte"/>
												<xsd:element name="bomPosition" type="xsd:string"/>
												<xsd:element name="bomPositionObjectKey">
													<xsd:complexType>
														<xsd:sequence>
															<xsd:element name="id" type="xsd:string"/>
															<xsd:element name="type" type="xsd:string"/>
															<xsd:element name="classType" type="xsd:short"/>
														</xsd:sequence>
													</xsd:complexType>
												</xsd:element>
												<xsd:element name="bomPositionAuthor" type="xsd:string"/>
												<xsd:element name="quantity">
													<xsd:complexType>
														<xsd:sequence>
															<xsd:element name="value" type="xsd:float"/>
															<xsd:element name="unit" type="xsd:string"/>
														</xsd:sequence>
													</xsd:complexType>
												</xsd:element>
												<xsd:element name="fixedQuantity" type="xsd:string"/>
												<xsd:element name="salesRelevant" type="xsd:string"/>
												<xsd:element name="consistent" type="xsd:string"/>
												<xsd:element name="complete" type="xsd:string"/>
												<xsd:element name="characteristics" minOccurs="0" maxOccurs="unbounded">
													<xsd:complexType>
														<xsd:sequence>
															<xsd:element name="id" type="xsd:string"/>
															<xsd:element name="required" type="xsd:string"/>
															<xsd:element name="visible" type="xsd:string"/>
															<xsd:element name="values" minOccurs="0" maxOccurs="unbounded">
																<xsd:complexType>
																	<xsd:sequence>
																		<xsd:element name="value" type="xsd:string"/>
																		<xsd:element name="author" type="xsd:string"/>
																	</xsd:sequence>
																</xsd:complexType>
															</xsd:element>
														</xsd:sequence>
													</xsd:complexType>
												</xsd:element>
												<xsd:element name="variantConditions" type="xsd:string" minOccurs="0"/>
												<xsd:element name="subItems" minOccurs="0" maxOccurs="unbounded">
													<xsd:complexType>
														<xsd:sequence>
															<xsd:element name="id" type="xsd:byte"/>
															<xsd:element name="objectKey">
																<xsd:complexType>
																	<xsd:sequence>
																		<xsd:element name="id" type="xsd:string"/>
																		<xsd:element name="type" type="xsd:string"/>
																		<xsd:element name="classType" type="xsd:short"/>
																	</xsd:sequence>
																</xsd:complexType>
															</xsd:element>
															<xsd:element name="objectKeyAuthor" type="xsd:byte"/>
															<xsd:element name="bomPosition" type="xsd:string"/>
															<xsd:element name="bomPositionObjectKey">
																<xsd:complexType>
																	<xsd:sequence>
																		<xsd:element name="id" type="xsd:string"/>
																		<xsd:element name="type" type="xsd:string"/>
																		<xsd:element name="classType" type="xsd:short"/>
																	</xsd:sequence>
																</xsd:complexType>
															</xsd:element>
															<xsd:element name="bomPositionAuthor" type="xsd:string"/>
															<xsd:element name="quantity">
																<xsd:complexType>
																	<xsd:sequence>
																		<xsd:element name="value" type="xsd:float"/>
																		<xsd:element name="unit" type="xsd:string"/>
																	</xsd:sequence>
																</xsd:complexType>
															</xsd:element>
															<xsd:element name="fixedQuantity" type="xsd:string"/>
															<xsd:element name="salesRelevant" type="xsd:string"/>
															<xsd:element name="consistent" type="xsd:string"/>
															<xsd:element name="complete" type="xsd:string"/>
															<xsd:element name="characteristics" minOccurs="0" maxOccurs="unbounded">
																<xsd:complexType>
																	<xsd:sequence>
																		<xsd:element name="id" type="xsd:string"/>
																		<xsd:element name="required" type="xsd:string"/>
																		<xsd:element name="visible" type="xsd:string"/>
																		<xsd:element name="values" minOccurs="0" maxOccurs="unbounded">
																			<xsd:complexType>
																				<xsd:sequence>
																					<xsd:element name="value" type="xsd:string"/>
																					<xsd:element name="author" type="xsd:string"/>
																				</xsd:sequence>
																			</xsd:complexType>
																		</xsd:element>
																	</xsd:sequence>
																</xsd:complexType>
															</xsd:element>
															<xsd:element name="variantConditions" type="xsd:string" minOccurs="0"/>
															<xsd:element name="subItems" minOccurs="0" maxOccurs="unbounded">
																<xsd:complexType>
																<xsd:sequence>
																<xsd:element name="id" type="xsd:byte"/>
																<xsd:element name="objectKey">
																<xsd:complexType>
																	<xsd:sequence>
																		<xsd:element name="id" type="xsd:string"/>
																		<xsd:element name="type" type="xsd:string"/>
																		<xsd:element name="classType" type="xsd:short"/>
																	</xsd:sequence>
																</xsd:complexType>
																</xsd:element>
																<xsd:element name="objectKeyAuthor" type="xsd:byte"/>
																<xsd:element name="bomPosition" type="xsd:string"/>
																<xsd:element name="bomPositionObjectKey">
																	<xsd:complexType>
																		<xsd:sequence>
																			<xsd:element name="id" type="xsd:string"/>
																			<xsd:element name="type" type="xsd:string"/>
																			<xsd:element name="classType" type="xsd:short"/>
																		</xsd:sequence>
																	</xsd:complexType>
																</xsd:element>
																<xsd:element name="bomPositionAuthor" type="xsd:string"/>
																<xsd:element name="quantity">
																	<xsd:complexType>
																		<xsd:sequence>
																			<xsd:element name="value" type="xsd:float"/>
																			<xsd:element name="unit" type="xsd:string"/>
																		</xsd:sequence>
																	</xsd:complexType>
																</xsd:element>
																<xsd:element name="fixedQuantity" type="xsd:string"/>
																<xsd:element name="salesRelevant" type="xsd:string"/>
																<xsd:element name="consistent" type="xsd:string"/>
																<xsd:element name="complete" type="xsd:string"/>
																<xsd:element name="characteristics" minOccurs="0" maxOccurs="unbounded">
																	<xsd:complexType>
																		<xsd:sequence>
																			<xsd:element name="id" type="xsd:string"/>
																			<xsd:element name="required" type="xsd:string"/>
																			<xsd:element name="visible" type="xsd:string"/>
																			<xsd:element name="values" minOccurs="0" maxOccurs="unbounded">
																				<xsd:complexType>
																					<xsd:sequence>
																						<xsd:element name="value" type="xsd:string"/>
																						<xsd:element name="author" type="xsd:string"/>
																					</xsd:sequence>
																				</xsd:complexType>
																			</xsd:element>
																		</xsd:sequence>
																	</xsd:complexType>
																</xsd:element>
																<xsd:element name="variantConditions" type="xsd:string" minOccurs="0"/>
																												<xsd:element name="subItems" minOccurs="0" maxOccurs="unbounded">
													<xsd:complexType>
														<xsd:sequence>
															<xsd:element name="id" type="xsd:byte"/>
															<xsd:element name="objectKey">
																<xsd:complexType>
																	<xsd:sequence>
																		<xsd:element name="id" type="xsd:string"/>
																		<xsd:element name="type" type="xsd:string"/>
																		<xsd:element name="classType" type="xsd:short"/>
																	</xsd:sequence>
																</xsd:complexType>
															</xsd:element>
															<xsd:element name="objectKeyAuthor" type="xsd:byte"/>
															<xsd:element name="bomPosition" type="xsd:string"/>
															<xsd:element name="bomPositionObjectKey">
																<xsd:complexType>
																	<xsd:sequence>
																		<xsd:element name="id" type="xsd:string"/>
																		<xsd:element name="type" type="xsd:string"/>
																		<xsd:element name="classType" type="xsd:short"/>
																	</xsd:sequence>
																</xsd:complexType>
															</xsd:element>
															<xsd:element name="bomPositionAuthor" type="xsd:string"/>
															<xsd:element name="quantity">
																<xsd:complexType>
																	<xsd:sequence>
																		<xsd:element name="value" type="xsd:float"/>
																		<xsd:element name="unit" type="xsd:string"/>
																	</xsd:sequence>
																</xsd:complexType>
															</xsd:element>
															<xsd:element name="fixedQuantity" type="xsd:string"/>
															<xsd:element name="salesRelevant" type="xsd:string"/>
															<xsd:element name="consistent" type="xsd:string"/>
															<xsd:element name="complete" type="xsd:string"/>
															<xsd:element name="characteristics" minOccurs="0" maxOccurs="unbounded">
																<xsd:complexType>
																	<xsd:sequence>
																		<xsd:element name="id" type="xsd:string"/>
																		<xsd:element name="required" type="xsd:string"/>
																		<xsd:element name="visible" type="xsd:string"/>
																		<xsd:element name="values" minOccurs="0" maxOccurs="unbounded">
																			<xsd:complexType>
																				<xsd:sequence>
																					<xsd:element name="value" type="xsd:string"/>
																					<xsd:element name="author" type="xsd:string"/>
																				</xsd:sequence>
																			</xsd:complexType>
																		</xsd:element>
																	</xsd:sequence>
																</xsd:complexType>
															</xsd:element>
															<xsd:element name="variantConditions" type="xsd:string" minOccurs="0"/>
															<xsd:element name="subItems" minOccurs="0" maxOccurs="unbounded">
																<xsd:complexType>
																<xsd:sequence>
																<xsd:element name="id" type="xsd:byte"/>
																<xsd:element name="objectKey">
																<xsd:complexType>
																	<xsd:sequence>
																		<xsd:element name="id" type="xsd:string"/>
																		<xsd:element name="type" type="xsd:string"/>
																		<xsd:element name="classType" type="xsd:short"/>
																	</xsd:sequence>
																</xsd:complexType>
																</xsd:element>
																<xsd:element name="objectKeyAuthor" type="xsd:byte"/>
																<xsd:element name="bomPosition" type="xsd:string"/>
																<xsd:element name="bomPositionObjectKey">
																	<xsd:complexType>
																		<xsd:sequence>
																			<xsd:element name="id" type="xsd:string"/>
																			<xsd:element name="type" type="xsd:string"/>
																			<xsd:element name="classType" type="xsd:short"/>
																		</xsd:sequence>
																	</xsd:complexType>
																</xsd:element>
																<xsd:element name="bomPositionAuthor" type="xsd:string"/>
																<xsd:element name="quantity">
																	<xsd:complexType>
																		<xsd:sequence>
																			<xsd:element name="value" type="xsd:float"/>
																			<xsd:element name="unit" type="xsd:string"/>
																		</xsd:sequence>
																	</xsd:complexType>
																</xsd:element>
																<xsd:element name="fixedQuantity" type="xsd:string"/>
																<xsd:element name="salesRelevant" type="xsd:string"/>
																<xsd:element name="consistent" type="xsd:string"/>
																<xsd:element name="complete" type="xsd:string"/>
																<xsd:element name="characteristics" minOccurs="0" maxOccurs="unbounded">
																	<xsd:complexType>
																		<xsd:sequence>
																			<xsd:element name="id" type="xsd:string"/>
																			<xsd:element name="required" type="xsd:string"/>
																			<xsd:element name="visible" type="xsd:string"/>
																			<xsd:element name="values" minOccurs="0" maxOccurs="unbounded">
																				<xsd:complexType>
																					<xsd:sequence>
																						<xsd:element name="value" type="xsd:string"/>
																						<xsd:element name="author" type="xsd:string"/>
																					</xsd:sequence>
																				</xsd:complexType>
																			</xsd:element>
																		</xsd:sequence>
																	</xsd:complexType>
																</xsd:element>
																<xsd:element name="variantConditions" type="xsd:string" minOccurs="0"/>
															</xsd:sequence>
														</xsd:complexType>
														</xsd:element>
														</xsd:sequence>
													</xsd:complexType>
												</xsd:element>
															</xsd:sequence>
														</xsd:complexType>
														</xsd:element>
														</xsd:sequence>
													</xsd:complexType>
												</xsd:element>
											</xsd:sequence>
										</xsd:complexType>
									</xsd:element>
									<xsd:element name="context" minOccurs="0" maxOccurs="unbounded">
										<xsd:complexType>
											<xsd:sequence>
												<xsd:element name="name" type="xsd:string"/>
												<xsd:element name="value" type="xsd:string"/>
											</xsd:sequence>
										</xsd:complexType>
									</xsd:element>
								</xsd:sequence>
							</xsd:complexType>
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="ExternalConfigurations">
		<wsdl:part name="ExternalConfigurations" element="ExternalConfigurations"/>
	</wsdl:message>
</wsdl:definitions>