Resources/schemas/Wsdl/SuccessFactors_HCM_Suite_Talent_Management_integration_with_SAP_ERP_HCM - GenericCompensationUpsert.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:p1="http://sap.com/xi/SFIHCM01" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" name="SFSFCompensationManagementUpsertRequestConfirmation_Out" soap:location="http://www.example.org/" targetNamespace="http://sap.com/xi/SFIHCM01" wsdlsoap:location="http://www.example.org/">
	<wsdl:documentation/>
	<wsp:UsingPolicy wsdl:required="true"/>
	<wsp:Policy wsu:Id="OP_SFSFCompensationManagementUpsertRequestConfirmation_Out"/>
	<wsdl:types>
		<xsd:schema xmlns="http://sap.com/xi/SFIHCM01" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://sap.com/xi/SFIHCM01">
			<xsd:element name="SFWebServiceFaultException" type="SFWebServiceFaultException"/>
			<xsd:complexType name="SFWebServiceFaultException">
					
				<xsd:sequence>
					<xsd:element form="qualified" name="errorCode" type="xsd:string" />
					<xsd:element form="qualified" name="errorMessage" type="xsd:string" />
				</xsd:sequence>
			
			</xsd:complexType>
		</xsd:schema>
		<xsd:schema xmlns="http://sap.com/xi/SFIHCM01" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://sap.com/xi/SFIHCM01">
			<xsd:element name="upsertResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element form="qualified" name="result" type="UpsertResult"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="upsertCompensationManagementRequest">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element form="qualified" name="sessionId" type="xsd:string"/>
						<xsd:element form="qualified" name="upsert" type="ModifyRequest"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
				<xsd:complexType name="ExchangeFaultData">
				<xsd:annotation>
					<xsd:appinfo source="http://sap.com/xi/VersionID">dee96dd6da3e11e1bcd100001de63cf6</xsd:appinfo>
				</xsd:annotation>
				<xsd:sequence>
					<xsd:element name="faultText" type="xsd:string"/>
					<xsd:element minOccurs="0" name="faultUrl" type="xsd:string"/>
					<xsd:element maxOccurs="unbounded" minOccurs="0" name="faultDetail" type="ExchangeLogData"/>
				</xsd:sequence>
			</xsd:complexType>
					<xsd:complexType name="ExchangeLogData">
				<xsd:annotation>
					<xsd:appinfo source="http://sap.com/xi/VersionID">df1fad87da3e11e1a1bf00001de63cf6</xsd:appinfo>
				</xsd:annotation>
				<xsd:sequence>
					<xsd:element minOccurs="0" name="severity" type="xsd:string"/>
					<xsd:element name="text" type="xsd:string"/>
					<xsd:element minOccurs="0" name="url" type="xsd:string"/>
					<xsd:element minOccurs="0" name="id" type="xsd:string"/>
				</xsd:sequence>
			</xsd:complexType>
			
						<xsd:complexType name="SFWebServiceFaultException">
				<xsd:annotation>
					<xsd:appinfo source="http://sap.com/xi/TextID">74f0f61ef72211e19a54000018b99fca</xsd:appinfo>
					<xsd:documentation xml:lang="EN">SF Exception</xsd:documentation>
					<xsd:appinfo source="http://sap.com/xi/VersionID">8b5ab860da4211e1b7f000001de63cf6</xsd:appinfo>
				</xsd:annotation>
				<xsd:sequence>
					<xsd:element name="errorCode" type="xsd:string"/>
					<xsd:element name="errorMessage" type="xsd:string"/>
				</xsd:sequence>
			</xsd:complexType>
			
			
			<xsd:complexType name="SFParameter">
				<xsd:sequence>
					<xsd:element form="qualified" name="name" type="xsd:string"/>
					<xsd:element form="qualified" name="value" type="xsd:string"/>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="ObjectEditResult">
				<xsd:sequence>
					<xsd:element form="qualified" minOccurs="0" name="id" type="xsd:string"/>
					<xsd:element form="qualified" name="errorStatus" type="xsd:string"/>
					<xsd:element form="qualified" name="editStatus" type="xsd:string"/>
					<xsd:element form="qualified" name="index" nillable="true" type="xsd:int"/>
					<xsd:element form="qualified" name="message" nillable="true" type="xsd:string"/>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="UpsertResult">
				<xsd:sequence>
					<xsd:element form="qualified" name="jobStatus" type="xsd:string"/>
					<xsd:element form="qualified" name="message" nillable="true" type="xsd:string"/>
					<xsd:element form="qualified" maxOccurs="unbounded" minOccurs="0" name="objectEditResult" nillable="true" type="ObjectEditResult"/>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="ModifyRequest">
				<xsd:sequence>
					<xsd:element form="qualified" name="type" type="xsd:string"/>
					<xsd:element form="qualified" maxOccurs="unbounded" name="sfobject" type="xsd:anyType"/>
					<xsd:element form="qualified" maxOccurs="unbounded" minOccurs="0" name="processingParam" type="SFParameter"/>
				</xsd:sequence>
			</xsd:complexType>
			
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="upsertCompensationManagementRequest">
		<wsdl:documentation/>
		<wsdl:part xmlns:ens="http://sap.com/xi/SFIHCM01" element="ens:upsertCompensationManagementRequest" name="upsertCompensationManagementRequest"/>
	</wsdl:message>
	<wsdl:message name="upsertResponse">
		<wsdl:documentation/>
		<wsdl:part xmlns:ens="http://sap.com/xi/SFIHCM01" element="ens:upsertResponse" name="upsertResponse"/>
	</wsdl:message>
	<wsdl:message name="SFWebServiceFaultException">
		<wsdl:documentation/>
		<wsdl:part element="p1:SFWebServiceFaultException" name="SFWebServiceFaultException"/>
	</wsdl:message>
	<wsdl:portType name="SFSFCompensationManagementUpsertRequestConfirmation_Out">
		<wsdl:documentation/>
		<wsdl:operation name="SFSFCompensationManagementUpsertRequestConfirmation_Out">
			<wsdl:documentation/>
			<wsp:Policy>
				<wsp:PolicyReference URI="#OP_SFSFCompensationManagementUpsertRequestConfirmation_Out"/>
			</wsp:Policy>
			<wsdl:input message="p1:upsertCompensationManagementRequest"/>
			<wsdl:output message="p1:upsertResponse"/>
			<wsdl:fault message="p1:SFWebServiceFaultException" name="SFWebServiceFaultException"/>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="SFSFCompensationManagementUpsertRequestConfirmation_OutBinding" type="p1:SFSFCompensationManagementUpsertRequestConfirmation_Out">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="SFSFCompensationManagementUpsertRequestConfirmation_Out">
			<soap:operation soapAction="http://sap.com/xi/WebService/soap1.1"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="p2.SFWebServiceFaultException">
				<soap:fault name="p2.SFWebServiceFaultException" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="SFSFCompensationManagementUpsertRequestConfirmation_Out">
		<wsdl:port binding="p1:SFSFCompensationManagementUpsertRequestConfirmation_OutBinding" name="SFSFCompensationManagementUpsertRequestConfirmation_Out">
			<soap:address location="http://www.example.org/"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>