Resources/schemas/Wsdl/SuccessFactors_HCM_Suite_Talent_Management_integration_with_SAP_ERP_HCM - SFSFUserUpsertRequestConfirmation_Out_Generic-1.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns:p1="http://sap.com/xi/SFIHCM01" xmlns:p2="http://sap.com/xi/SFIHCM01"
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap"
	xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy"
	xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd"
	name="SFSFUserUpsertRequestConfirmation_Out" soap:location="http://www.example.org/"
	targetNamespace="http://sap.com/xi/SFIHCM01" wsdlsoap:location="http://www.example.org/">
	<wsdl:documentation />
	<wsp:UsingPolicy wsdl:required="true" />
	<wsp:Policy wsu:Id="OP_SFSFUserUpsertRequestConfirmation_Out" />
	<wsdl:types>
		<xsd:schema xmlns="http://sap.com/xi/SFIHCM01"
			xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://sap.com/xi/SFIHCM01">
			<xsd:element name="SFWebServiceFault" type="SFWebServiceFaultException" />
			<xsd:complexType name="SFWebServiceFaultException">
				<xsd:sequence>
					<xsd:element form="qualified" name="errorCode" type="xsd:string" />
					<xsd:element form="qualified" name="errorMessage" type="xsd:string" />
				</xsd:sequence>
			</xsd:complexType>
		</xsd:schema>
		<xsd:schema xmlns="http://sap.com/xi/SFIHCM01"
			xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://sap.com/xi/SFIHCM01">
			<xsd:element name="upsertResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element form="qualified" name="result" type="ModifyResult" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="upsertRequest">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element form="qualified" name="sessionId" type="xsd:string" />
						<xsd:element form="qualified" name="upsert" type="ModifyRequest" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:complexType name="SFParameter">
				<xsd:sequence>
					<xsd:element form="qualified" name="name" type="xsd:string" />
					<xsd:element form="qualified" name="value" type="xsd:string" />
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="ObjectEditResult">
				<xsd:sequence>
					<xsd:element form="qualified" minOccurs="0" name="id"
						type="xsd:string" />
					<xsd:element form="qualified" name="errorStatus" type="xsd:string" />
					<xsd:element form="qualified" name="editStatus" type="xsd:string" />
					<xsd:element form="qualified" name="index" nillable="true"
						type="xsd:int" />
					<xsd:element form="qualified" name="message" nillable="true"
						type="xsd:string" />
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="ModifyResult">
				<xsd:sequence>
					<xsd:element form="qualified" name="jobStatus" type="xsd:string" />
					<xsd:element form="qualified" name="message" nillable="true"
						type="xsd:string" />
					<xsd:element form="qualified" maxOccurs="unbounded"
						minOccurs="0" name="objectEditResult" nillable="true" type="ObjectEditResult" />
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="ModifyRequest">
				<xsd:sequence>
					<xsd:element form="qualified" name="type" type="xsd:string" />
					<xsd:element form="qualified" maxOccurs="unbounded"
						name="sfobject" type="xsd:anyType" />
					<xsd:element form="qualified" maxOccurs="unbounded"
						minOccurs="0" name="processingParam" type="SFParameter" />
				</xsd:sequence>
			</xsd:complexType>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="p1:upsertRequest">
		<wsdl:documentation />
		<wsdl:part xmlns:ens="http://sap.com/xi/SFIHCM01"
			element="ens:upsertRequest" name="upsertRequest" />
	</wsdl:message>
	<wsdl:message name="p1:upsertResponse">
		<wsdl:documentation />
		<wsdl:part xmlns:ens="http://sap.com/xi/SFIHCM01"
			element="ens:upsertResponse" name="upsertRequest" />
	</wsdl:message>
	<wsdl:message name="p1:SFWebServiceFaultException">
		<wsdl:documentation />
		<wsdl:part xmlns:fns="http://sap.com/xi/SFIHCM01"
			element="fns:SFWebServiceFault" name="SFWebServiceFault" />
	</wsdl:message>
	<wsdl:portType name="SFSFUserUpsertRequestConfirmation_Out">
		<wsdl:documentation />
		<wsdl:operation name="SFSFUserUpsertRequestConfirmation_Out">
			<wsdl:documentation />
			<wsp:Policy>
				<wsp:PolicyReference URI="#OP_SFSFUserUpsertRequestConfirmation_Out" />
			</wsp:Policy>
			<wsdl:input message="p1:upsertRequest" />
			<wsdl:output message="p1:upsertResponse" />
			<wsdl:fault message="p1:SFWebServiceFaultException"
				name="p1:SFWebServiceFaultException" />
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="SFSFUserUpsertRequestConfirmation_OutBinding"
		type="p1:SFSFUserUpsertRequestConfirmation_Out">
		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="SFSFUserUpsertRequestConfirmation_Out">
			<soap:operation soapAction="http://sap.com/xi/WebService/soap1.1" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
			<wsdl:fault name="p1:SFWebServiceFaultException">
				<soap:fault name="p1:SFWebServiceFaultException" use="literal" />
			</wsdl:fault>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="SFSFUserUpsertRequestConfirmation_Out">
		<wsdl:port binding="p1:SFSFUserUpsertRequestConfirmation_OutBinding"
			name="SFSFUserUpsertRequestConfirmation_Out">
			<soap:address location="http://www.example.org/" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>