Resources/schemas/Wsdl/SuccessFactors_HCM_Suite_Talent_Management_integration_with_SAP_ERP_HCM - SFSFSessionHandlingLoginQueryResult_Out.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="SFSFSessionHandlingLoginQueryResult_Out"
	targetNamespace="http://sap.com/xi/SFIHCM01" xmlns:p1="http://sap.com/xi/SFIHCM01"
	xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy"
	xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd"
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/">
	<wsdl:documentation />
	<wsp:UsingPolicy wsdl:required="true" />
	<wsp:Policy wsu:Id="OP_SFSFSessionHandlingLoginQueryResult_Out" />
	<wsdl:types>
		<xsd:schema targetNamespace="http://sap.com/xi/SFIHCM01"
			xmlns="http://sap.com/xi/SFIHCM01">
			<xsd:element name="loginRequest" type="loginRequest" />
			<xsd:element name="SFWebServiceFaultException">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="standard" type="ExchangeFaultData" />
						<xsd:element name="addition" type="SFWebServiceFaultException" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="loginResponse" type="loginResponse" />
			<xsd:complexType name="ExchangeFaultData">
				<xsd:annotation>
					<xsd:appinfo source="http://sap.com/xi/VersionID">dee96dd6da3e11e1bcd100001de63cf6
					</xsd:appinfo>
				</xsd:annotation>
				<xsd:sequence>
					<xsd:element name="faultText" type="xsd:string" />
					<xsd:element name="faultUrl" type="xsd:string"
						minOccurs="0" />
					<xsd:element name="faultDetail" type="ExchangeLogData"
						minOccurs="0" maxOccurs="unbounded" />
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="SFWebServiceFaultException">
				<xsd:annotation>
					<xsd:appinfo source="http://sap.com/xi/TextID">cb977b0c298411e28be8000018b99fca
					</xsd:appinfo>
					<xsd:documentation xml:lang="EN">SF Exception
					</xsd:documentation>
					<xsd:appinfo source="http://sap.com/xi/VersionID">8b5ab860da4211e1b7f000001de63cf6
					</xsd:appinfo>
				</xsd:annotation>
				<xsd:sequence>
					<xsd:element name="errorCode" type="xsd:string" />
					<xsd:element name="errorMessage" type="xsd:string" />
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="Error">
				<xsd:annotation>
					<xsd:appinfo source="http://sap.com/xi/TextID">cc9ab81d298411e2b13d000018b99fca
					</xsd:appinfo>
					<xsd:documentation xml:lang="EN">Error
					</xsd:documentation>
					<xsd:appinfo source="http://sap.com/xi/VersionID">770b93b7da3a11e1a4a900001de63cf6
					</xsd:appinfo>
				</xsd:annotation>
				<xsd:sequence>
					<xsd:element name="errorCode" type="xsd:string">
						<xsd:annotation>
							<xsd:appinfo source="http://sap.com/xi/TextID">38a56505da3b11e1c953002314a3f0b9
							</xsd:appinfo>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="errorMessage" type="xsd:string">
						<xsd:annotation>
							<xsd:appinfo source="http://sap.com/xi/TextID">38a56506da3b11e1cdb6002314a3f0b9
							</xsd:appinfo>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="loginResponse">
				<xsd:annotation>
					<xsd:appinfo source="http://sap.com/xi/TextID">c983d8c2298411e2809c000018b99fca
					</xsd:appinfo>
					<xsd:documentation xml:lang="EN">Login Response
					</xsd:documentation>
					<xsd:appinfo source="http://sap.com/xi/VersionID">d89d4975da3a11e1b53600001de63cf6
					</xsd:appinfo>
				</xsd:annotation>
				<xsd:sequence>
					<xsd:element name="result" type="LoginResult" />
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="LoginResult">
				<xsd:annotation>
					<xsd:appinfo source="http://sap.com/xi/TextID">cc474d7b298411e28a75000018b99fca
					</xsd:appinfo>
					<xsd:documentation xml:lang="EN">Login Result
					</xsd:documentation>
					<xsd:appinfo source="http://sap.com/xi/VersionID">b21eafa3da3a11e19d8f00001de63cf6
					</xsd:appinfo>
				</xsd:annotation>
				<xsd:sequence>
					<xsd:element name="sessionId" type="xsd:string">
						<xsd:annotation>
							<xsd:appinfo source="http://sap.com/xi/TextID">471663f9da3b11e1933a002314a3f0b9
							</xsd:appinfo>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="msUntilPwdExpiration" type="xsd:string">
						<xsd:annotation>
							<xsd:appinfo source="http://sap.com/xi/TextID">471663fada3b11e18525002314a3f0b9
							</xsd:appinfo>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="error" type="Error" minOccurs="0"
						maxOccurs="unbounded">
						<xsd:annotation>
							<xsd:appinfo source="http://sap.com/xi/TextID">471663fbda3b11e19f09002314a3f0b9
							</xsd:appinfo>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="loginRequest">
				<xsd:annotation>
					<xsd:appinfo source="http://sap.com/xi/TextID">cad17802298411e2ae19000018b99fca
					</xsd:appinfo>
					<xsd:documentation xml:lang="EN">Login Request
					</xsd:documentation>
					<xsd:appinfo source="http://sap.com/xi/VersionID">20b44f5eda2811e19d6300001de63cf6
					</xsd:appinfo>
				</xsd:annotation>
				<xsd:sequence>
					<xsd:element name="login">
						<xsd:annotation>
							<xsd:appinfo source="http://sap.com/xi/TextID">6a2813a8da3c11e1cbbd002314a3f0b9
							</xsd:appinfo>
						</xsd:annotation>
						<xsd:complexType>
							<xsd:sequence>
								<xsd:element name="credential" type="SFCredential" />
								<xsd:element name="param" type="SFParameter"
									minOccurs="0" maxOccurs="unbounded" />
							</xsd:sequence>
						</xsd:complexType>
					</xsd:element>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="SFParameter">
				<xsd:annotation>
					<xsd:appinfo source="http://sap.com/xi/TextID">cc980d0f298411e2b38d000018b99fca
					</xsd:appinfo>
					<xsd:documentation xml:lang="EN">SF Parameter
					</xsd:documentation>
					<xsd:appinfo source="http://sap.com/xi/VersionID">33c10e8fda3a11e1beba00001de63cf6
					</xsd:appinfo>
				</xsd:annotation>
				<xsd:sequence>
					<xsd:element name="name" type="xsd:string">
						<xsd:annotation>
							<xsd:appinfo source="http://sap.com/xi/TextID">86d041d4da3b11e18c86002314a3f0b9
							</xsd:appinfo>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="value" type="xsd:string">
						<xsd:annotation>
							<xsd:appinfo source="http://sap.com/xi/TextID">86d041d5da3b11e1b897002314a3f0b9
							</xsd:appinfo>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="ExchangeLogData">
				<xsd:annotation>
					<xsd:appinfo source="http://sap.com/xi/VersionID">df1fad87da3e11e1a1bf00001de63cf6
					</xsd:appinfo>
				</xsd:annotation>
				<xsd:sequence>
					<xsd:element name="severity" type="xsd:string"
						minOccurs="0" />
					<xsd:element name="text" type="xsd:string" />
					<xsd:element name="url" type="xsd:string" minOccurs="0" />
					<xsd:element name="id" type="xsd:string" minOccurs="0" />
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="SFCredential">
				<xsd:annotation>
					<xsd:appinfo source="http://sap.com/xi/TextID">ca5c3418298411e29a5d000018b99fca
					</xsd:appinfo>
					<xsd:documentation xml:lang="EN">Sf Credential
					</xsd:documentation>
					<xsd:appinfo source="http://sap.com/xi/VersionID">e3010a14da3911e1cc3400001de63cf6
					</xsd:appinfo>
				</xsd:annotation>
				<xsd:sequence>
					<xsd:element name="companyId" type="xsd:string">
						<xsd:annotation>
							<xsd:appinfo source="http://sap.com/xi/TextID">95f1262cda3b11e1b3ec002314a3f0b9
							</xsd:appinfo>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="username" type="xsd:string">
						<xsd:annotation>
							<xsd:appinfo source="http://sap.com/xi/TextID">95f1262dda3b11e1c23b002314a3f0b9
							</xsd:appinfo>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="password" type="xsd:string">
						<xsd:annotation>
							<xsd:appinfo source="http://sap.com/xi/TextID">95f1262eda3b11e197fb002314a3f0b9
							</xsd:appinfo>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="developerKey" type="xsd:string"
						minOccurs="0">
						<xsd:annotation>
							<xsd:appinfo source="http://sap.com/xi/TextID">95f1262fda3b11e19b03002314a3f0b9
							</xsd:appinfo>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:complexType>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="loginRequest">
		<wsdl:documentation />
		<wsdl:part name="loginRequest" element="p1:loginRequest" />
	</wsdl:message>
	<wsdl:message name="loginResponse">
		<wsdl:documentation />
		<wsdl:part name="loginResponse" element="p1:loginResponse" />
	</wsdl:message>
	<wsdl:message name="SFWebServiceFaultException">
		<wsdl:documentation />
		<wsdl:part name="SFWebServiceFaultException" element="p1:SFWebServiceFaultException" />
	</wsdl:message>
	<wsdl:portType name="SFSFSessionHandlingLoginQueryResult_Out">
		<wsdl:documentation />
		<wsdl:operation name="SFSFSessionHandlingLoginQueryResult_Out">
			<wsdl:documentation />
			<wsp:Policy>
				<wsp:PolicyReference URI="#OP_SFSFSessionHandlingLoginQueryResult_Out" />
			</wsp:Policy>
			<wsdl:input message="p1:loginRequest" />
			<wsdl:output message="p1:loginResponse" />
			<wsdl:fault name="SFWebServiceFaultException" message="p1:SFWebServiceFaultException" />
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="SFSFSessionHandlingLoginQueryResult_OutBinding"
		type="p1:SFSFSessionHandlingLoginQueryResult_Out">
		<wsdlsoap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http"  />
		<wsdl:operation name="SFSFSessionHandlingLoginQueryResult_Out">
			<wsdlsoap:operation soapAction="http://sap.com/xi/WebService/soap1.1"
				 />
			<wsdl:input>
				<wsdlsoap:body use="literal"
					 />
			</wsdl:input>
			<wsdl:output>
				<wsdlsoap:body use="literal"
					 />
			</wsdl:output>
			<wsdl:fault name="SFWebServiceFaultException">
				<wsdlsoap:fault use="literal" name="SFWebServiceFaultException"
					 />
			</wsdl:fault>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="SFSFSessionHandlingLoginQueryResult_Out">
		<wsdl:port name="SFSFSessionHandlingLoginQueryResult_Out"
			binding="p1:SFSFSessionHandlingLoginQueryResult_OutBinding">
			<wsdlsoap:address location="http://www.example.org/"
				 />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>