cpi_migrator/output/artifacts/Employee_Sync/src/main/resources/SAP_S-4HANA_Integration_with_SAP_Build_Process_Automation_for_Finance_General_Ledger - Inflation_key_Source-11.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- Created with Liquid Technologies Online Tools 1.0 (https://www.liquid-technologies.com) -->
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
 <xs:element name="RFC_READ_TABLE.Response">
    <xs:complexType>
      <xs:sequence> 
  <xs:element name="DATA">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="unbounded" name="item">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="WA" type="xs:string" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FIELDS">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="unbounded" name="item">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="FIELDNAME" type="xs:string" />
              <xs:element name="OFFSET" type="xs:unsignedByte" />
              <xs:element name="LENGTH" type="xs:unsignedByte" />
              <xs:element name="TYPE" type="xs:string" />
              <xs:element name="FIELDTEXT" type="xs:string" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OPTIONS">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="item" minOccurs="0" maxOccurs="unbounded">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="TEXT" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>