cpi_migrator/output/iflows/ReadAccountsfromGoogleAds__meta/src/main/resources/xsd/CustomerClientGetResponseSchema.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="root">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="results" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="customerClient">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:string" name="resourceName"/>
                    <xs:element type="xs:string" name="clientCustomer"/>
                    <xs:element type="xs:byte" name="level"/>
                    <xs:element type="xs:string" name="timeZone"/>
                    <xs:element type="xs:string" name="manager"/>
                    <xs:element type="xs:string" name="descriptiveName"/>
                    <xs:element type="xs:string" name="currencyCode"/>
                    <xs:element type="xs:byte" name="id"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element type="xs:string" name="fieldMask"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>